<div class="panel panel-default report_char">
  <div class="panel-body">

    <div class="form-group <%= field_with_errors f_char, :position %>">
      <%= f_char.label :position, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f_char.number_field :position, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f_char, :characteristic_id %>">
      <%= f_char.label :characteristic_id, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f_char.select :characteristic_id, options_for_select(@usable_report_chars, f_char.object.characteristic_id), {}, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      <%= link_to_remove_poll_report_chars('Eliminar', f_char) %>
    </div>
  </div>
</div>
