<div class="row">
  <div class="col-md-3">

    <%= link_to ('<i class="fa fa-arrow-left"></i> Volver a seguimiento de '+@hr_evaluation_type_element_nivel_1.hr_evaluation_type.nombre.downcase).html_safe, pe_manual_tracking_people_list_path(@hr_process, @hr_process_evaluation, @hr_evaluation_type_element_nivel_1), class:'btn btn-default'  %>

  </div>
  <div class="col-md-6 text-center">

    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>
      <br>
      Seguimiento de <%= @hr_evaluation_type_element_nivel_1.hr_evaluation_type.nombre.downcase %>
    </h1>

  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render partial: 'shared/user_profile_mini',
               locals: {
                 user: @hr_process_user.user,
                 company: @company,
                 ocultar_historial: @hr_process_user.id == @hr_process_user_connected.id ? true : false
               }
    %>

  </div>
</div>


<% if @hr_evaluation_type_element_nivel_2 %>

  <% if @hr_evaluation_type_element_nivel_1.aplica_evaluacion %>

  <% else %>

    <%= render partial: 'show_manual_questions_2_levels_no_aplica_1'%>

  <% end %>



<% else %>



<% end %>