<div class="modal fade" id="new_block_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x &nbsp;</button>
    <%= form_for block, url: block_create_path(block.sc_schedule_id), html: {class: 'form-horizontal sc_block_modal_form'} do |f| %>
        <div class="panel panel-default record_pane">
          <div class="panel-body" style="height:<%= height if defined?(height) %>">
            <legend> <%= t('views.sc_schedules.legends.block_info') %> </legend>

            <div class="alert alert-success success_message_create_block_modal" style="display: none"> <%= t('views.sc_schedules.flash_messages.success_messages') %> </div>

            <%= render 'shared/error_messages', object: f.object %>

            <div class="form-group <%= field_with_errors f, :name %>">
              <%= f.label :name, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <%= f.text_field :name, class: 'form-control', autofocus: 'autofocus' %>
              </div>
            </div>

            <div class="form-group <%= field_with_errors f, :description %>">
              <%= f.label :description, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <%= f.text_area :description, class: 'form-control', rows: '3' %>
              </div>
            </div>

            <div class="form-group <%= field_with_errors f, :day %>">
              <%= f.label :day, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <%= f.select :day, options_for_select([['- Seleccione día -', -1], ['Lunes', 1], ['Martes', 2], ['Miércoles', 3],
                                                                ['Jueves', 4], ['Viernes', 5], ['Sábado', 6],
                                                                ['Domingo', 0]], block.day), {},
                                      class: 'form-control' %>
              </div>
            </div>

            <div class="form-group <%= field_with_errors f, :begin_time %>">
              <%= f.label :begin_time, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <div class="input-group date">
                  <%= f.text_field :begin_time, class: 'form-control time_picker', :data => {:format => '%H:%M'}, :value => f.object.begin_time ? f.object.begin_time.strftime('%H:%M') : '', :readonly => true %>
                  <span class="input-group-addon"> <i class="fa fa-clock-o" aria-hidden="true"></i></span>
                </div>
              </div>
            </div>

            <div class="form-group <%= field_with_errors f, :end_time %>">
              <%= f.label :end_time, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <div class="input-group date">
                  <%= f.text_field :end_time, class: 'form-control time_picker', :data => {:format => '%H:%M'}, :value => f.object.end_time ? f.object.end_time.strftime('%H:%M') : '', :readonly => true %>
                  <span class="input-group-addon"> <i class="fa fa-clock-o" aria-hidden="true"></i></span>
                </div>
              </div>
            </div>

            <div class="form-group <%= field_with_errors f, :free_time %>">
              <%= f.label :free_time, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <%= f.text_field :free_time, class: 'form-control' %>
                <em> Tiempo establecido como no trabajable por la empresa. Se expresa en minutos </em>
              </div>
            </div>

            <div class="form-group <%= field_with_errors f, :next_day %>">
              <%= f.label :next_day, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <%= f.check_box :next_day, :class => 'bootstrap_checkbox form-control' %>
              </div>
            </div>

            <div class="form-group <%= field_with_errors f, :workable %>">
              <%= f.label :workable, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <%= f.check_box :workable, :class => 'bootstrap_checkbox form-control' %>
              </div>
            </div>

            <%= f.fields_for :sc_he_block_params do |f_he_block_params| %>
                <legend> <%= t('views.sc_schedules.legends.sc_he_block_params_entry_info') %> </legend>

                <div class="form-group <%= field_with_errors f_he_block_params, :entry_active %>">
                  <%= f_he_block_params.label :entry_active, class: 'col-md-3 control-label' %>
                  <div class="col-md-9">
                    <%= f_he_block_params.check_box :entry_active, :class => 'bootstrap_checkbox form-control' %>
                  </div>
                </div>

                <div class="form-group <%= field_with_errors f_he_block_params, :entry_min %>">
                  <%= f_he_block_params.label :entry_min, class: 'col-md-3 control-label' %>
                  <div class="col-md-9">
                    <%= f_he_block_params.text_field :entry_min, class: 'form-control' %>
                    <em> Cantidad de minutos mínimos por encima de lo establecido para considerar realizar el cálculo de horas de extras </em>
                  </div>

                </div>

                <div class="form-group <%= field_with_errors f_he_block_params, :entry_include_min %>">
                  <%= f_he_block_params.label :entry_include_min, class: 'col-md-3 control-label' %>
                  <div class="col-md-9">
                    <%= f_he_block_params.check_box :entry_include_min, :class => 'bootstrap_checkbox form-control' %>
                    <br>
                    <em> Se incluirán también los minutos por debajo del mínimo establecido en el cálculo de horas de extras</em>
                  </div>
                </div>

                <div class="form-group <%= field_with_errors f_he_block_params, :entry_max %>">
                  <%= f_he_block_params.label :entry_max, class: 'col-md-3 control-label' %>
                  <div class="col-md-9">
                    <%= f_he_block_params.text_field :entry_max, class: 'form-control' %>
                  </div>
                </div>

                <legend> <%= t('views.sc_schedules.legends.sc_he_block_params_exit_info') %> </legend>

                <div class="form-group <%= field_with_errors f_he_block_params, :exit_active %>">
                  <%= f_he_block_params.label :exit_active, class: 'col-md-3 control-label' %>
                  <div class="col-md-9">
                    <%= f_he_block_params.check_box :exit_active, :class => 'bootstrap_checkbox form-control' %>
                  </div>
                </div>

                <div class="form-group <%= field_with_errors f_he_block_params, :exit_min %>">
                  <%= f_he_block_params.label :exit_min, class: 'col-md-3 control-label' %>
                  <div class="col-md-9">
                    <%= f_he_block_params.text_field :exit_min, class: 'form-control' %>
                    <em> Cantidad de minutos mínimos por encima de lo establecido para considerar realizar el cálculo de horas de extras </em>
                  </div>
                </div>

                <div class="form-group <%= field_with_errors f_he_block_params, :exit_include_min %>">
                  <%= f_he_block_params.label :exit_include_min, class: 'col-md-3 control-label' %>
                  <div class="col-md-9">
                    <%= f_he_block_params.check_box :exit_include_min, :class => 'bootstrap_checkbox form-control' %>
                    <br>
                    <em> Se incluirán también los minutos por debajo del mínimo establecido en el cálculo de horas de extras</em>
                  </div>
                </div>

                <div class="form-group <%= field_with_errors f_he_block_params, :exit_max %>">
                  <%= f_he_block_params.label :exit_max, class: 'col-md-3 control-label' %>
                  <div class="col-md-9">
                    <%= f_he_block_params.text_field :exit_max, class: 'form-control' %>
                  </div>
                </div>



            <% end %>

          </div>

          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= f.submit t('views.sc_schedules.forms.save'), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>

    <% end %>

  </div>
</div>

<script>

    <% if defined?(success_message) and success_message %>
    $(function () {
        var flash = '.success_message_create_block_modal';
        $(flash).show(500).delay(2000).hide(500);
    });
    <% end %>

    $('.bootstrap_checkbox').bootstrapSwitch({
        onColor: 'success',
        onText: "Sí",
        offColor: 'danger',
        size: "small",
        offText: "No",
    });

    $('.time_picker').datetimepicker({
        language: 'es',
        pickTime: true,
        pickDate: false
    });


    $('.sc_block_modal_form').on('submit', function (e) {
        e.preventDefault();
        url = $(this).attr('action');
        $.ajax({
            url: url,
            type: 'POST',
            data: $('.sc_block_modal_form').serialize(),
            dataType: "html",
            success: function(data) {
                refresh_blocks('<%=block.sc_schedule_id.to_s%>')
                $('#new_block_modal').modal('hide');
                $('.modal-backdrop').remove();
                $('.block_modal_container').html(data);
                $('#new_block_modal').modal('show');
            }
        });

    });


</script>