<%#
        [:string, :text, :date, :int, :float, :list, :file, :ct_image_url, :boss_code, :boss_full_name, :boss_characteristic, :register, :user_code, :first_owned_node_string, :first_owned_node_list]
        #   0        1      2     3       4     5      6         7              8              9                 10               11          12                13                       14

%>

<% supported_char_data_types = [0, 1, 2, 3, 4, 5] %>

    <tr class="condition_row"
        <% if condition_form.object.errors.any? or just_added %><%= 'hidden="hidden"' %>
    <% end %>>
      <td class="characteristic">
        <%= condition.characteristic.nombre if condition.characteristic %>
      </td>
      <td class="condition">
        <%= condition.condition_name %>
      </td>
      <td class="string_value" <%= 'style=display:none;' if condition.characteristic and condition.characteristic.data_type_id != 0 %>>
        <%= condition.match_value_string %>
      </td>
      <td class="text_value" <%= 'style=display:none;' if condition.characteristic and condition.characteristic.data_type_id != 1 %>>
        <%= condition.match_value_text %>
      </td>
      <td class="date_value" <%= 'style=display:none;' if condition.characteristic and condition.characteristic.data_type_id != 2 %>>
        <%= condition.match_value_date %>
      </td>
      <td class="int_value" <%= 'style=display:none;' if condition.characteristic and condition.characteristic.data_type_id != 3 %>>
        <%= condition.match_value_int %>
      </td>
      <td class="float_value" <%= 'style=display:none;' if condition.characteristic and condition.characteristic.data_type_id != 4 %>>
        <%= condition.match_value_float %>
      </td>
      <td class="list_value" <%= 'style=display:none;' if condition.characteristic and condition.characteristic.data_type_id != 5 %>>
        <%= condition.list_value if condition.characteristic %>
      </td>
      <% if defined?(editable) && editable %>
          <td>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <% if condition.characteristic %>
                <%= link_to 'Editar', '#', :onclick => 'edit_condition(this)', :data => {:data_type_id => condition.characteristic.data_type_id} %>
            <% else %>
                <%= link_to 'Editar', '#', :onclick => 'edit_condition(this)', :data => {:data_type_id => ''} %>
            <% end %>
          </td>
      <% end %>
    </tr>

    <tr class="form_condition"
    <% unless condition_form.object.errors.any? or just_added %><%= 'hidden="hidden"' %>
    <% end %>>
      <td class="characteristic_id form-group <%= field_with_errors condition_form, :characteristic_id %>">
        <%= condition_form.select :characteristic_id,
                                  ScScheduleCharacteristic.condition.map {|char| [char.name, char.characteristic_id, {'data-data_type' => char.data_type_id}]}, {},
                             :onchange => 'set_characteristic_control(this)',
                             class: 'form-control select_option_char' %>
      </td>

      <td class="condition form-group <%= field_with_errors condition_form, :condition %>">
        <%= condition_form.select :condition,
                             options_for_select([['- Seleccione condición -', 0], ['Igual a ', 1]], condition.condition),
                             {},
                             class: 'form-control' %>
      </td>

      <%= '<td class="should_hide"></td>'.html_safe unless condition.characteristic %>


      <td data-type-id="0"
          <%= 'style=display:none;' if condition.characteristic and condition.characteristic.data_type_id != 0 or !condition.characteristic %>
          class="string specific_value_char user_char_values_tags form-group <%= field_with_errors condition_form, :match_value_string %>">
        <%= condition_form.text_field :match_value_string, :data => {:char_id => condition_form.object.characteristic_id, :value => condition_form.object.match_value_string}, class: 'form-control select2_single_tag user_char_value_tag' %>
      </td>

      <td data-type-id="1"
          <%= 'style=display:none;' if condition.characteristic and condition.characteristic.data_type_id != 1 or !condition.characteristic %>
          class="text specific_value_char form-group <%= field_with_errors condition_form, :match_value_text %>">
        <%= condition_form.text_area :match_value_text, class: 'form-control', :rows => 3 %>
      </td>

      <td data-type-id="2"
          <%= 'style=display:none;' if condition.characteristic and condition.characteristic.data_type_id != 2 or !condition.characteristic %>
          class="date input-group date specific_value_char form-group <%= field_with_errors condition_form, :match_value_date %>">
        <%= condition_form.text_field :match_value_date, class: 'form-control char-datepicker', :data => {:format => 'dd/MM/yyyy'}, :value => condition_form.object.match_value_date ? condition_form.object.match_value_date.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y'), :readonly => true %>
        <span class="input-group-addon">
      <i class="fa fa-calendar"></i>
    </span>
      </td>

      <td data-type-id="3"
          <%= 'style=display:none;' if condition.characteristic and condition.characteristic.data_type_id != 3 or !condition.characteristic %>
          class="int specific_value_char form-group <%= field_with_errors condition_form, :match_value_int %>">
        <%= condition_form.text_field :match_value_int, class: 'form-control' %>
      </td>

      <td data-type-id="4"
          <%= 'style=display:none;' if condition.characteristic and condition.characteristic.data_type_id != 4 or !condition.characteristic %>
          class="float specific_value_char form-group <%= field_with_errors condition_form, :match_value_float %>">
        <%= condition_form.text_field :match_value_float, class: 'form-control' %>
      </td>

      <td data-type-id="5"
          <%= 'style=display:none;' if condition.characteristic and condition.characteristic.data_type_id != 5 or !condition.characteristic %>
          class="list specific_value_char char_values_list form-group <%= field_with_errors condition_form, :match_value_char_id %>">

        <% if false #condition.characteristic %>
            <%= condition_form.text_field :match_value_char_id, class: 'form-control' %>
        <% else %>
            <%= condition_form.select :match_value_char_id, [], {},
                                 :data => {:value => condition_form.object.match_value_char_id},
                                 class: 'form-control' %>
        <% end %>

      </td>

      <% if defined?(editable) && editable %>
          <td>
            <% if defined?(just_added) && just_added %>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <%= link_to_remove_condition('Eliminar', condition_form) %>

                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                <%= link_to t('views.sc_schedules.flow_process.save'), '#', :onclick => 'create_condition(this)' %>&nbsp;
            <% else %>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <%= link_to t('views.sc_schedules.flow_process.delete'), '#', :onclick => 'deactivate_condition(this)', :data => {:condition_id => condition.id} %>&nbsp;

                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                <%= link_to t('views.sc_schedules.flow_process.save'), '#', :onclick => 'update_condition(this)', :data => {:condition_id => condition.id} %>&nbsp;
            <% end %>
          </td>
      <% end %>
    </tr>

<script>
    $('.char-datepicker').datetimepicker({
        language: 'es',
        pickTime: false
    });
</script>

