<div class="panel panel-default sc_schedule_information" id="<%=schedule.id%>">
  <div class="panel-body">
    <legend> <%= t('views.sc_schedules.legends.schedule_info') %> </legend>

    <div class="row">
      <div class="col-md-4" align="right">
        <strong> <%= t('activerecord.attributes.sc_schedule.name') %> </strong>
      </div>
      <div class="col-md-8">
        <%= schedule.name %>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-4" align="right">
        <strong> <%= t('activerecord.attributes.sc_schedule.description') %> </strong>
      </div>
      <div class="col-md-8">
        <%= schedule.description.html_safe %>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-4" align="right">
        <strong> <%= t('activerecord.attributes.sc_schedule.conditions') %> </strong>
      </div>
      <div class="col-md-8">
        <% conditions.each do |condition| %>
            <%= condition.characteristic.nombre+' '%><em><%=condition.condition_name.downcase+' ' %></em>
            <%= condition.match_value_string if condition.characteristic.data_type_id == 0%>
            <%= condition.match_value_text if condition.characteristic.data_type_id == 1%>
            <%= condition.match_value_date if condition.characteristic.data_type_id == 2%>
            <%= condition.match_value_int if condition.characteristic.data_type_id == 3%>
            <%= condition.match_value_float if condition.characteristic.data_type_id == 4 %>
            <%= condition.list_value if condition.characteristic.data_type_id == 5 %>
            <br>
        <% end %>      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-4" align="right">
        <strong> <%= t('activerecord.attributes.sc_schedule.active') %> </strong>
      </div>
      <div class="col-md-8">
        <%= label_yes_not(schedule.active) %>
      </div>
    </div>
    <br>

    <% unless schedule.active %>
        <div class="row">
          <div class="col-md-4" align="right">
            <strong> <%= t('activerecord.attributes.sc_schedule.deactivated_at') %> </strong>
          </div>
          <div class="col-md-8">
            <%= (localize schedule.deactivated_at, :format => :day_snmonth_year) %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4" align="right">
            <strong> <%= t('activerecord.attributes.sc_schedule.deactivated_by_user_id') %> </strong>
          </div>
          <div class="col-md-8">
            <%= schedule.deactivated_by_user.codigo.to_s+' - '+schedule.deactivated_by_user.apellidos+', '+schedule.deactivated_by_user.nombre %>
          </div>
        </div>
        <br>
    <% else %>
    <% end %>

  </div>

    <% if defined?(editable) and editable %>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= link_to 'Editar' , edit_schedule_path(schedule.id) %>
          </div>
        </div>
    <% else %>
    <% end %>

</div>