<tr class="schedule_user_row">
  <td class="alias"> <%= schedule_user.user.codigo %> </td>
  <td class="lastname"> <%= schedule_user.user.apellidos %> </td>
  <td class="name"> <%= schedule_user.user.nombre %> </td>
  <td class="registered_manually"> <%= label_yes_not_datable(schedule_user.registered_manually) %> </td>
  <td> <%= label_yes_not_datable(schedule_user.he_able) %> </td>
  <% if defined?(editable) and editable %>
      <td>
        <%= link_to t('views.sc_schedules.flow_process.delete'), '#', :onclick => 'delete_schedule_user(this)', :data => {:schedule_id => schedule_user.id, :confirm => '¿Está seguro de eliminar la relación del usuario con el horario?'}, :class => 'btn btn-danger btn-xs' %>
      </td>
  <% end %>
</tr>