<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.sc_schedules.navigation.back_list_schedule')).html_safe, manage_schedule_path(@sc_schedule,0), class: 'btn btn-default' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-calendar" aria-hidden="true"> </i>
      <%= t('views.sc_schedules.legends.schedules')%> <span>> <%= t('views.sc_schedules.flow_process.edit')%></span>
    </h1>
  </div>
</div>

<div class="row sc_schedule_information">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'sc_schedule_information_form_edit',
               locals: { :schedule => @sc_schedule } %>
  </div>
</div>