<div class="panel panel-default">
  <div class="panel-body">

    <legend> <%= t('views.sc_schedules.legends.schedules') %></legend>

    <table id='datatable_sc_schedules' class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
      <thead>
      <tr>
        <th><%= t('activerecord.attributes.sc_schedule.name') %></th>
        <th><%= t('activerecord.attributes.sc_schedule.description') %></th>
        <th><%= t('activerecord.attributes.sc_schedule.conditions') %></th>
        <th><%= t('activerecord.attributes.sc_schedule.active')%></th>
        <th><%= t('activerecord.attributes.sc_schedule.deactivated_at')%></th>
        <th> <%= link_to t('views.sc_schedules.flow_process.new_schedule'), new_sc_schedule_path %> </th>
      </tr>

      <tr class="second">
        <td>
          <label class="input">
            <input type="text" name="search_name" value="" class="search_init">
          </label>
        </td>

        <td>
          <label class="input">
            <input type="text" name="search_description" value="" class="search_init">
          </label>
        </td>

        <td>
          <label class="input"><input type="text" name="search_conditions" value="" class="search_init"></label>
        </td>

        <td></td>
        <td></td>
        <td></td>

      </tr>
      </thead>

      <% @sc_schedules.each_with_index do |sc_schedule, index| %>
          <tr>
            <td><%= sc_schedule.name %></td>
            <td><%= sc_schedule.description.html_safe %></td>
            <td>
              <% @sc_conditions[index].each do |condition| %>
                  <%= condition.characteristic.nombre %>
                  <%= condition.condition_name %>
                  <%= condition.match_value_string if condition.characteristic.data_type_id == 0%>
                  <%= condition.match_value_text if condition.characteristic.data_type_id == 1%>
                  <%= condition.match_value_date if condition.characteristic.data_type_id == 2%>
                  <%= condition.match_value_int if condition.characteristic.data_type_id == 3%>
                  <%= condition.match_value_float if condition.characteristic.data_type_id == 4 %>
                  <%= condition.list_value if condition.characteristic.data_type_id == 5 %>
                  <br>
              <% end %>
            </td>
            <td><%= label_yes_not_datable(sc_schedule.active) %></td>
            <td><%= (localize sc_schedule.deactivated_at, format: :day_snmonth_year) unless sc_schedule.active %></td>
            <td><%= link_to t('views.sc_schedules.flow_process.manage'), manage_schedule_path(sc_schedule,0) %></td>
          </tr>
      <% end %>
    </table>

  </div>
</div>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_sc_schedules'} %>