<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.sc_schedules.navigation.back_list_schedules')).html_safe, sc_schedules_path, class: 'btn btn-default' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-calendar" aria-hidden="true"> </i>
      <%= t('views.sc_schedules.legends.schedules')%> <span>> <%= t('views.sc_schedules.flow_process.manage')%></span>
    </h1>
  </div>
</div>

<div class="row sc_schedule_information">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'sc_schedule_information',
               locals: { :schedule => @sc_schedule,
                         :editable => true, :conditions => @sc_conditions } %>
  </div>
</div>

<div class="row sc_schedule_management" >
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li><a href="#blocks" data-toggle="tab" id="load_tab"><%= t('views.sc_schedules.navigation.pill_blocks') %></a></li>
          <li><a href="#conditions" data-toggle="tab" id="validation_tab"><%= t('views.sc_schedules.navigation.pill_conditions') %></a></li>
        </ul>
        <br>

        <div class="tab-content">
          <div class="tab-pane" id="blocks">
            <div class="blocks_table">
              <% if @sc_schedule.active %>
                  <div align="right">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <%= link_to t('views.sc_schedules.flow_process.add'), '#', :onclick => 'block_new_modal()' %>
                  </div>
              <% end %>
              <%= render :partial => 'sc_block_table',
                         :locals => {:sc_schedule => @sc_schedule,
                                     :blocks => @sc_blocks,
                                     :editable => @sc_schedule.active} %>
            </div>

          </div>
          <div class="tab-pane" id="conditions">
            <div class="conditions_table">
              <%= render partial: 'sc_condition_table',
                       locals: {:conditions => @sc_conditions,
                                :editable => @sc_schedule.active,
                                :schedule => @sc_schedule } %>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row upload_blocks_modal_container">
  <%= render partial: 'sc_block_modal_upload_blocks',
             locals: {:block => ScBlock.new(),
                      :schedule => @sc_schedule} %>
</div>

<div class="row search_users_for_schedule_modal_container">

</div>

<div class="row create_schedule_user_modal_container">
  <div class="modal fade" id="create_schedule_user_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x &nbsp;</button>
      <div class="panel panel-default record_pane">
        <div class="panel-body" style="height:<%= height if defined?(height) %>">
          <legend> Asociación manual de usuario a horario </legend>
           <table class="table table-hover" style="font-size: 11px;" width="100%">
                <thead>
                <tr>
                  <th width="80%"> Seleccionar usuario </th>
                </tr>
                </thead>

                <tbody>
                <tr>
                  <td>
                    <%= select_tag('select2_users', options_for_select(@users), {multiple: false, size: 2, class: 'form-control', placeholder: alias_username + ' - Apellidos, nombre'}) %>
                  </td>
                  </tr>
                    <tr>
                <td align="right">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i>
                  <%= link_to t('views.sc_schedules.flow_process.save'), '#', :onclick => 'create_schedule_user()' %>
                  </td>
                </tr>
                </tbody>
              </table>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row block_modal_container">

</div>



<script>
    var minimumInputLength = 4
    $('#select2_users').select2({
        minimumInputLength: minimumInputLength,
        formatInputTooShort: function () {
            return "Se deben ingresar al menos " + minimumInputLength + " caracteres";
        },
    })


    function return_select2_values() {
        users_array = $('#select2_users').select2().val();
        $('#select2_users').select2("val", "");
        return_values(users_array);
    }
</script>

<script>

    function block_new_modal(){
        url = '/sc_schedules/block/schedule/<%=@sc_schedule.id%>/block_new_modal'
        $.ajax({
            url: url,
            type: 'get',
            success: function(result){
                $('.block_modal_container').html(result);
                $('#new_block_modal').modal('show')
            }
        });
    }

    function block_edit_modal(link){
        sc_block_id = $(link).data('sc-block-id')
        url = '/sc_schedules/block/'+sc_block_id+'/block_edit_modal'
        $.ajax({
            url: url,
            type: 'get',
            success: function(result){
                $('.block_modal_container').html(result);
                $('#edit_block_modal').modal('show')
            }
        });
    }



</script>



<script>









  function show_create_schedule_user_modal(){
      $('#create_schedule_user_modal').modal('show');
  }

  function create_schedule_user(){
      user_id = $('#select2_users').select2().val();
      schedule_id = '<%=@sc_schedule.id%>'
      url = '/sc_schedules/schedule_users/create/'+schedule_id+'/'+user_id
      $.ajax({
          url: url,
          type: 'get',
          success: function(){
              refresh_schedule_users(schedule_id);
          }
      });
  }





  function edit_schedule_information(){
      url = '/sc_schedules/match_users/schedule_users/<%= @sc_schedule.id %>'
      $('.find_users_spinner').show()
      $(link).hide()

      $.ajax({
          url: url,
          type: 'get',
          success: function () {
              refresh_schedule_users('<%= @sc_schedule.id %>')
          }
      });
  }





  function sc_schedule_blocks_massive_upload_show_modal(){
      $('#upload_massive_blocks_modal').modal('toggle');
  }

  $(function () {
  $('a[data-toggle="tab"]')[<%=@pill%>].click();
  })

  function refresh_blocks(schedule_id) {
      url = '/sc_schedules/refresh/blocks/' + schedule_id
      $.ajax({
          url: url,
          type: 'get',
          dataType: "html",
          success: function (data) {
              $('#sc_block_table').replaceWith(data)
          }
      });
  }

  function update_block(link){
      sc_schedule_id = $(link).closest('.all_blocks_form').attr('id');
      block_id = $(link).data('block-id');
      name = $(link).closest('.form_block').children('.name').children('.form-control').val();
      description = $(link).closest('.form_block').children('.description').children('.form-control').val();
      day = $(link).closest('.form_block').children('.day').children('.form-control').val();
      begin_time = $(link).closest('.form_block').children('.begin_time').children('.form-control').val();
      end_time = $(link).closest('.form_block').children('.end_time').children('.form-control').val();
      next_day = $(link).closest('.form_block').children('.next_day').find('.bootstrap-switch-container input').prop('checked')

      url = '/sc_schedules/block/update/'+block_id
      $.ajax({
          url: url,
          type: "POST",
          data: {
              name: name,
              description: description,
              day: day,
              begin_time: begin_time,
              end_time: end_time,
              next_day: next_day,
              sc_schedule_id: sc_schedule_id
          },
          success: function (data) {
              $('.blocks_table').children('.all_blocks_form').replaceWith(data)
          }
      })
  }

  function deactivate_block(link){
      block_id = $(link).data('block-id');
      url = '/sc_schedules/block/delete/'+block_id
      $.ajax({
          url: url,
          async: true,
          type: "get",
          dataType: "json",
          error: function (XMLHttpRequest, errorTextStatus, error) {
              alert("Failed: " + errorTextStatus + " ;" + error);
          },
          success: function (result) {
              $(link).closest('.form_block').prev('.block_row').remove()
              $(link).closest('.form_block').remove()
          }
      })
  }

  function create_block(link){
      schedule_id = $(link).closest('.all_blocks_form').attr('id');
      name = $(link).closest('.form_block').children('.name').children('.form-control').val();
      description = $(link).closest('.form_block').children('.description').children('.form-control').val();
      day = $(link).closest('.form_block').children('.day').children('.form-control').val();
      begin_time = $(link).closest('.form_block').children('.begin_time').children('.form-control').val();
      end_time = $(link).closest('.form_block').children('.end_time').children('.form-control').val();
      free_time = $(link).closest('.form_block').children('.free_time').children('.form-control').val();
      next_day = $(link).closest('.form_block').children('.next_day').children('.form-control').val();
      workable = $(link).closest('.form_block').children('.workable').children('.form-control').val();
      next_day = $(link).closest('.form_block').children('.next_day').find('.bootstrap-switch-container input').prop('checked');

      url = '/sc_schedules/block/create';
      $.ajax({
          url: url,
          type: "post",
          data: {
              sc_schedule_id: schedule_id,
              name: name,
              free_time: free_time,
              description: description,
              day: day,
              begin_time: begin_time,
              end_time: end_time,
              next_day: next_day },
          success: function () {
              refresh_blocks(schedule_id)
          }
      })
  }

  function edit_block(link) {
      $(link).closest('.block_row').hide();
      $(link).closest('.block_row').next('.form_block').show();
  }

  function remove_block(link) {
      $(link).prev('input[type=hidden]').val(1);
      $(link).closest('.form_block').hide();
      $(link).closest('.form_block').prev('.block_row').hide();
  }

  function add_block(link, content) {
      var new_id = new Date().getTime();
      var regexp = new RegExp('new_block', 'g')
      $(link).closest('.blocks_container').append(content.replace(regexp, new_id))
  }

  function create_condition(link) {
      schedule_id = $(link).closest('.all_conditions_form').attr('id');
      characteristic_id = $(link).closest('.form_condition').children('.characteristic_id').children('.form-control').val();
      condition = $(link).closest('.form_condition').children('.condition').children().val();
      string_val = $(link).closest('.form_condition').children('.string').children('.form-control').val();
      text_val = $(link).closest('.form_condition').children('.text').children('.form-control').val();
      date_val = $(link).closest('.form_condition').children('.date').children('.form-control').val();
      int_val = $(link).closest('.form_condition').children('.int').children('.form-control').val();
      float_val = $(link).closest('.form_condition').children('.float').children('.form-control').val();
      list_val = $(link).closest('.form_condition').children('.list').children('.form-control').val();

      url = '/sc_schedules/condition/create'
      $.ajax({
          url: url,
          type: "post",
          data: {
              schedule_id: schedule_id,
              characteristic_id: characteristic_id,
              condition: condition,
              string_val: string_val,
              text_val: text_val,
              date_val: date_val,
              int_val: int_val,
              float_val: float_val,
              list_val: list_val
          },
          success: function (result) {
              refresh_conditions(schedule_id)
          }
      })
  }

  function refresh_conditions(schedule_id) {
      url = '/sc_schedules/refresh/conditions/' + schedule_id
      $.ajax({
          url: url,
          type: 'get',
          dataType: "html",
          success: function (data) {
              $('.conditions_table').children('.all_conditions_form').replaceWith(data)
          }
      });
  }

  function update_condition(link){
      schedule_id = $(link).closest('.all_conditions_form').attr('id');
      condition_id = $(link).data('condition-id');
      characteristic_id = $(link).closest('.form_condition').children('.characteristic_id').children('.form-control').val();
      condition = $(link).closest('.form_condition').children('.condition').children().val();
      string_val = $(link).closest('.form_condition').children('.string').children('.form-control').val();
      text_val = $(link).closest('.form_condition').children('.text').children('.form-control').val();
      date_val = $(link).closest('.form_condition').children('.date').children('.form-control').val();
      int_val = $(link).closest('.form_condition').children('.int').children('.form-control').val();
      float_val = $(link).closest('.form_condition').children('.float').children('.form-control').val();
      list_val = $(link).closest('.form_condition').children('.list').children('.form-control').val();

      url = '/sc_schedules/condition/update/'+condition_id;
      $.ajax({
          url: url,
          type: "post",
          data: {
              characteristic_id: characteristic_id,
              condition: condition,
              string_val: string_val,
              text_val: text_val,
              date_val: date_val,
              int_val: int_val,
              float_val: float_val,
              list_val: list_val
          },
          success: function (data) {
              refresh_conditions(schedule_id)
          }
      })
  }

  function deactivate_condition(link){
      condition_id = $(link).data('condition-id');
      url = '/sc_schedules/condition/delete/'+condition_id
      $.ajax({
          url: url,
          async: true,
          type: "get",
          success: function (result) {
              $(link).closest('.form_condition').prev('.condition_row').remove()
              $(link).closest('.form_condition').remove()
          }
      })
  }

  function edit_condition(link) {
      $(link).closest('.condition_row').hide();
      $(link).closest('.condition_row').next('.form_condition').show();
      if($(link).data('data-type-id') == 5 || $(link).data('data-type-id') == 2){
          set_char_value_list_options($(link).closest('.condition_row').next('.form_condition').children('.characteristic_id').children())
      }
  }

  function remove_condition(link) {
      $(link).prev('input[type=hidden]').val(1);
      $(link).closest('.form_condition').hide();
      $(link).closest('.form_condition').prev('.condition_row').hide();
  }

  function add_condition(link, content) {
      var new_id = new Date().getTime();
      var regexp = new RegExp('new_block', 'g')
      $('.conditions_container').append(content.replace(regexp, new_id))
  }

  function set_characteristic_control(select) {
      var container = $(select).closest('.form_condition');
      var char_type_id = $(container).find('.select_option_char > :selected').data('data_type');

      $(container).find('.specific_value_char').each(function(){
          $(this).hide();
      });

      $('.should_hide').each(function() {
          $(this).hide();
      });

      $(container).find('.specific_value_char[data-type-id="' + char_type_id + '"]').show();

      if(char_type_id != 2){
          set_char_value_list_options(select)
      }

      if(char_type_id == 5){
          set_char_value_list_options(select)
      }

  }

  function set_char_value_list_options(select_tag) {
      var container = $(select_tag).closest('.form_condition');
      var select_values_tag = $(container).find('.char_values_list select');
      $.ajax({
          url: "<%= load_characteristics_values_list_path %>",
          type: 'POST',
          data: {
              characteristic_id: $(select_tag).val()
          },
          async: true,
          dataType: "json",
          error: function (XMLHttpRequest, errorTextStatus, error) {
              alert("Failed: " + errorTextStatus + " ;" + error);
          },
          success: function (data) {
              $(select_values_tag).find('option').remove()
              for (var i in data) {
                  var id = data[i][1];
                  var title = data[i][0];
                  $(select_values_tag).append(new Option(title, id));
              }

              select_values_tag.find('option[value="' + select_values_tag.data('value') + '"]').prop('selected', true)
          }
      });
  }

</script>