<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.sc_schedules.navigation.back_list_schedules')).html_safe, sc_schedules_path, class: 'btn btn-default' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-calendar" aria-hidden="true"> </i>
      <%= t('views.sc_schedules.legends.schedules')%> <span>> <%=t('views.sc_schedules.flow_process.new')%></span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 sc_schedule_information_container ">
    <%= render partial: 'sc_schedule_information_form',
               locals: { :schedule => @sc_schedule } %>
  </div>
</div>

<script>
    function refresh_blocks(schedule_id) {
        url = '/sc_schedules/refresh/blocks/' + schedule_id
        $.ajax({
            url: url,
            type: 'get',
            dataType: "html",
            success: function (data) {
                alert(data)
                $('.blocks_table').children('.all_blocks_form').replaceWith(data)
            }
        });
    }

    function remove_block(link) {
        $(link).prev('input[type=hidden]').val(1)
        $(link).closest('.block').hide();
    }

    function add_block(link, content) {
        var new_id = new Date().getTime();
        var regexp = new RegExp('new_block', 'g')
        $(link).closest('.blocks_container').append(content.replace(regexp, new_id))
    }

    function remove_condition(link) {
        $(link).prev('input[type=hidden]').val(1)
        $(link).closest('.condition').hide();
    }

    function add_condition(link, content) {
        var new_id = new Date().getTime();
        var regexp = new RegExp('new_block', 'g')
        $(link).closest('.conditions_container').append(content.replace(regexp, new_id))
    }
</script>

