<ul class="breadcrumb">
  <li>
  	<%= link_to 'Lista de cursos', courses_path, tabindex: "-1" %>

  </li>
  <li>
  	<%= link_to 'Configurar curso', course_path(@course), tabindex: "-1" %>

  </li>
  <li class="active">Elimiar evaluacion</li>
</ul>

<legend class="text-center">  
  <%= @course.codigo %> - <%= @course.nombre %>: Eliminar evaluacion
</legend>

<div class="row">
  <div class="col-md-6 col-md-offset-3 form-box-<%= $current_domain %>">

		<dl class="dl-horizontal">
      
      <dt>Número</dt>
      <dd><%= @evaluation.numero %></dd>
      
      <dt>Nombre</dt>
      <dd><%= @evaluation.nombre %></dd>
      
      <dt>Descripción</dt>
      <dd><%= @evaluation.descripcion %></dd>

    </dl>

    <%= form_for @evaluation, html: { method: :delete } do |f| %> 

      <%= recaptcha_tags :display=>{:theme=>'clean'} %>

      <%= f.submit 'Eliminar', class: "btn btn-primary" %> 

    <% end %>

	</div>
</div>


