<div class="row">
  <div class="col-md-3">

    <% if user_connected.um_delete_users %>
      <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la ficha de usuario'.html_safe, user_managing_user_profile_for_users_manager_path(@user.id), class: 'btn btn-default', tabindex: '-1' %>
    <% else %>
      <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la ficha de usuario'.html_safe, user_managing_user_profile_path(@user.id), class: 'btn btn-default', tabindex: '-1' %>
    <% end %>


  </div>
  <div class="col-md-9">

  </div>
</div>
<br>

<%= form_for @user, url: user_managing_delete_path(@user.id), html: {class: 'form-horizontal', role: 'form', method: :post} do |f| %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12">
              <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-user"></i> Dar de baja</h3>
            </div>
          </div>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="row">

            <div class="col-md-3 text-center">

              <% if @user.foto %>
                <img src="https://<%=request.host%>/storage/<%=company_codigo%>/fotos_usuarios/<%=@user.foto%>" class="img-rounded user-foto">
              <% else %>
                <img src="/assets/default_user.png" class="img-rounded user-foto">
              <% end %>

            </div>
            <div class="col-md-9">

              <div class="row">
                <div class="col-md-12">
                  <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @user.nombre %> <%= @user.apellidos %></span></h3>
                </div>
              </div>
              <% if @company.display_code_in_user_profile %>

                <div class="row">
                  <div class="col-md-12 ">
                    <em data-toggle="tooltip" data-placement="right" title="<%= alias_username %>"><%= @user.codigo %></em>
                  </div>
                </div>

              <% end %>
              <div class="row">
                <div class="col-md-12 ">
                  <a><em><%= @user.email %></em></a>
                </div>
              </div>

              <% Characteristic.where('mini_ficha = ?', true).reorder('orden_mini_ficha').each do |characteristic| %>

                <div class="row">
                  <div class="col-md-12 ">
                    <%= @user.formatted_characteristic_value characteristic %>
                  </div>
                </div>

              <% end %>

              <hr>

              <div class="row">
                <div class="col-md-12 ">
                  <% if @user.employee %>
                    <span class="label label-success">Empleado</span>
                  <% else %>
                    <span class="label label-primary">Externo</span>
                  <% end %>

                  <% if @user.activo %>
                    <span class="label label-success">Activo</span>
                  <% else %>
                    <span class="label label-danger">Inactivo</span>
                  <% end %>

                </div>
              </div>

            </div>



          </div>

          <hr>

          <div class="row">
            <div class="col-md-12">

              <div class="form-group">

                <%= f.label :delete_date, 'Fecha de baja', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <div id="delete_date" class="input-group date">
                    <input class="form-control" name="user[delete_date]" data-format="dd/MM/yyyy" type="text" value="<%= lms_time.strftime('%d/%m/%Y') %>">
                    <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
                  </div>

                  <script type="text/javascript">


                    $('#delete_date').datetimepicker({
                      language: 'es',
                      pickTime: false
                    });

                  </script>

                </div>

              </div>

              <% t_array = UserDeleteType.all.map { |r| [r.description, r.id] } %>

              <div class="form-group">

                <%= f.label :user_delete_type_id, 'Tipo de desvinculación', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <%= f.select(:user_delete_type_id, options_for_select(t_array), {}, class: 'form-control') %>

                </div>

              </div>

              <% r_array = UserDeleteReason.all.map { |r| [r.description, r.id] } %>

              <div class="form-group">

                <%= f.label :user_delete_reason_id, 'Motivo de la baja', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <%= f.select(:user_delete_reason_id, options_for_select(r_array), {}, class: 'form-control') %>

                </div>

              </div>

              <div class="form-group">

                <%= f.label :delete_comment, 'Comentario', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <%= f.text_area :delete_comment, rows: 3, class: 'form-control' %>

                </div>

              </div>


            </div>
          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="col-md-6">

            <% if user_connected.um_delete_users %>
              <%= link_to 'Cancelar'.html_safe, user_managing_user_profile_for_users_manager_path(@user.id), class: 'btn btn-danger', tabindex: '-1' %>
            <% else %>
              <%= link_to 'Cancelar'.html_safe, user_managing_user_profile_path(@user.id), class: 'btn btn-danger', tabindex: '-1' %>
            <% end %>

          </div>
          <div class="col-md-6 text-right">
            <%= f.submit 'Dar de baja', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    </div>
  </div>

<% end %>

