<div class="row">
  <div class="col-md-3">
    <% if user_connected.um_edit_users %>
      <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la ficha de usuario'.html_safe, user_managing_user_profile_for_users_manager_path(@user.id), class: 'btn btn-default', tabindex: '-1' %>
    <% else %>
      <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la ficha de usuario'.html_safe, user_managing_user_profile_path(@user.id), class: 'btn btn-default', tabindex: '-1' %>
    <% end %>
  </div>
  <div class="col-md-9">

  </div>
</div>
<br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @user, url: user_managing_update_path(@user.id), html: {class: 'form-horizontal', role: 'form', method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Datos del usuario</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group <%=  field_with_errors f, :codigo %>">

            <%= f.label :codigo, 'Código de usuario', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :codigo, autofocus: 'autofocus', class: 'form-control' %>

            </div>

          </div>

          <div class="form-group <%=  field_with_errors f, :nombre %>">

            <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :nombre, class: 'form-control'  %>

            </div>

          </div>

          <% if @company.second_last_name %>

            <div class="form-group <%=  field_with_errors f, :apellidos %>">

              <%= f.label :last_name_1, 'Apellido paterno', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_field :last_name_1, class: 'form-control'  %>

              </div>

            </div>

            <div class="form-group <%=  field_with_errors f, :last_name_2 %>">

              <%= f.label :last_name_2, 'Apellido materno', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_field :last_name_2, class: 'form-control'  %>

              </div>

            </div>

          <% else %>

            <div class="form-group <%=  field_with_errors f, :apellidos %>">

              <%= f.label :apellidos, 'Apellidos', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_field :apellidos, class: 'form-control'  %>

              </div>

            </div>

          <% end %>

          <div class="form-group">

            <%= f.label :email, 'Correo electrónico', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :email, class: 'form-control'  %>

            </div>

          </div>

          <hr>

          <div class="form-group">

            <%= f.label :employee, 'Empleado', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :employee %>

              <script>

                $('#user_employee').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });

              </script>

            </div>

          </div>

          <% if @company.is_security? %>

            <div class="form-group">

              <%= f.label :secu_external, 'Director/Externo', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :secu_external %>

                <script>

                  $('#user_secu_external').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });

                </script>

              </div>

            </div>

          <% end %>

        </div>
        <div class="panel-footer clearfix">
          <div class="col-md-6">

            <% if user_connected.um_edit_users %>
              <%= link_to 'Cancelar'.html_safe, user_managing_user_profile_for_users_manager_path(@user.id), class: 'btn btn-danger', tabindex: '-1' %>
            <% else %>
              <%= link_to 'Cancelar'.html_safe, user_managing_user_profile_path(@user.id), class: 'btn btn-danger', tabindex: '-1' %>
            <% end %>


          </div>
          <div class="col-md-6 text-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>

        </div>
      </div>

    <% end %>

  </div>
</div>