<div class="row">
  <div class="col-md-3">
    <% if user_connected.um_manage_users_email %>
      <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la ficha de usuario'.html_safe, user_managing_user_profile_for_users_manager_path(@user.id), class: 'btn btn-default', tabindex: '-1' %>
    <% else %>
      <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la ficha de usuario'.html_safe, user_managing_user_profile_path(@user.id), class: 'btn btn-default', tabindex: '-1' %>
    <% end %>
  </div>
  <div class="col-md-9">

  </div>
</div>
<br>

<%= form_for @user, url: user_managing_update_email_path(@user.id), html: {class: 'form-horizontal', role: 'form', method: :post} do |f| %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12">
              <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-user"></i> Editar correo electrónico</h3>
            </div>
          </div>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="row">

            <div class="col-md-3 text-center">

              <% if @user.foto %>
                <img src="https://<%=request.host%>/storage/<%=company_codigo%>/fotos_usuarios/<%=@user.foto%>" class="img-rounded user-foto">
              <% else %>
                <img src="/assets/default_user.png" class="img-rounded user-foto">
              <% end %>

            </div>
            <div class="col-md-9">

              <div class="row">
                <div class="col-md-12">
                  <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @user.nombre %> <%= @user.apellidos %></span></h3>
                </div>
              </div>
              <% if @company.display_code_in_user_profile %>

                <div class="row">
                  <div class="col-md-12 ">
                    <em data-toggle="tooltip" data-placement="right" title="<%= alias_username %>"><%= @user.codigo %></em>
                  </div>
                </div>

              <% end %>
              <div class="row">
                <div class="col-md-12 ">
                  <a><em><%= @user.email %></em></a>
                </div>
              </div>

              <% first_owned_node = @user.owned_nodes.first %>

              <% if first_owned_node && !first_owned_node.nombre.blank? %>

                <div class="row">
                  <div class="col-md-12">

                    <%= first_owned_node.nombre %>

                  </div>
                </div>

              <% elsif ct_module_jobs? %>

                <div class="row">
                  <div class="col-md-12 ">

                    <%= @user.j_job.name if @user.j_job %>

                  </div>
                </div>

              <% end %>

              <% Characteristic.where('mini_ficha = ?', true).reorder('orden_mini_ficha').each do |characteristic| %>

                <% uc = @user.user_characteristics.find_by_characteristic_id(characteristic.id) %>
                <% if uc %>

                  <div class="row">
                    <div class="col-md-12 ">

                      <%= uc.value  %>

                    </div>
                  </div>

                <% end %>

              <% end %>

            </div>

          </div>

          <hr>

          <div class="row">
            <div class="col-md-12">

              <div class="form-group">

                <%= f.label :email, 'Correo electrónico', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <%= f.text_field :email, autofocus: 'autofocus', class: 'form-control' %>

                </div>

              </div>

            </div>
          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="col-md-6">

            <% if user_connected.um_manage_users_email %>
              <%= link_to 'Cancelar'.html_safe, user_managing_user_profile_for_users_manager_path(@user.id), class: 'btn btn-danger', tabindex: '-1' %>
            <% else %>
              <%= link_to 'Cancelar'.html_safe, user_managing_user_profile_path(@user.id), class: 'btn btn-danger', tabindex: '-1' %>
            <% end %>


          </div>
          <div class="col-md-6 text-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    </div>
  </div>

<% end %>

