
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de reportes'.html_safe, user_managing_reports_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">

    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-table"></i>
      <%= alias_users %>
      <span>> Editar reporte personalizado </span>
    </h1>

  </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'form_custom_report' %>

  </div>
</div>
