<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a gestionar privilegios de consulta'.html_safe, user_managing_mpi_privileges_search_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users"></i>
      <%= alias_users %>
      <span>> Editar privilegios de consulta</span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">


        <%= render partial: 'shared/user_profile_mini',
                   locals: {
                       user: @user,
                       company: @company,
                       ocultar_historial: true,
                       titulo: alias_user,
                       is_boss: false

                   }
        %>


    <%= form_for @user_ct_module_privileges, url: user_managing_mpi_privileges_update_path(@user) ,html: {class: 'form-horizontal', method: :post, role: 'form'} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Editar privilegios de consulta</legend>

          <div class="form-group">

            <%= f.label :mpi_view_users, 'Consultar '+alias_users.downcase, class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :mpi_view_users, onchange: 'toggle_mpi_view_users();' %>

              <script>

                $('#user_ct_module_privileges_mpi_view_users').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });

              </script>

              <script>
                function toggle_mpi_view_users(){

                  if($('#user_ct_module_privileges_mpi_view_users').is(":checked")){
                    $('#container_mpi_view_users').show();
                  }else{
                    $('#container_mpi_view_users').hide();
                  }

                }

                $(document).ready(function() {
                  toggle_mpi_view_users();
                });
              </script>

            </div>

          </div>

          <div id="container_mpi_view_users">

            <hr>

            <div class="form-group">

              <%= f.label :mpi_view_users_data, 'Ver información laboral y personal', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :mpi_view_users_data, class: 'form-control' %>

                <script>

                  $('#user_ct_module_privileges_mpi_view_users_data').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });

                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :mpi_view_users_training_history, 'Ver historial de capacitación', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :mpi_view_users_training_history, class: 'form-control' %>

                <script>

                  $('#user_ct_module_privileges_mpi_view_users_training_history').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });

                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :mpi_view_users_pe_history, 'Ver historial de evaluación de desempeño', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :mpi_view_users_pe_history, class: 'form-control' %>

                <script>

                  $('#user_ct_module_privileges_mpi_view_users_pe_history').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });

                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :mpi_view_users_informative_documents, 'Ver documentos informativos', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :mpi_view_users_informative_documents, class: 'form-control' %>

                <script>

                  $('#user_ct_module_privileges_mpi_view_users_informative_documents').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });

                </script>

              </div>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>