

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-table"></i>
      <%= alias_users %>
      <span>> Reportes </span>
    </h1>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Lista de reportes</legend>

        <table class="table table-striped table-hover table-bordered">

          <tbody>

            <% UmCustomReport.all.each do |um_custom_report| %>

              <% if user_connected.um_query_report? um_custom_report %>

              <tr>
                <td>
                  <%= um_custom_report.name %>
                </td>
                <td id="container_custom_rep_<%= um_custom_report.id %>">

                </td>

              </tr>

              <script>

                var wating_custom_report_<%= um_custom_report.id %> = '<i class="fa fa-refresh fa-spin"></i> Generando reporte, por favor espere...';
                var link_to_custom_report_<%= um_custom_report.id %> = '<a onclick="down_custom_rep_active_<%= um_custom_report.id %>();" class="mouse_pointer">generar</a>';

                function down_custom_rep_active_<%= um_custom_report.id %>(){

                  $("#container_custom_rep_<%= um_custom_report.id %>").html(wating_custom_report_<%= um_custom_report.id %>);

                  $.ajax({
                    dataType: 'native',
                    url: "<%= user_managing_query_custom_report_path(um_custom_report, 1, format: 'xls') %>",
                    xhrFields: {
                      responseType: 'blob'
                    },
                    success: function(blob){
                      var link=document.createElement('a');
                      link.href=window.URL.createObjectURL(blob);
                      link.download= '<%= um_custom_report.name %>_activos_<%= (localize(lms_time, format: :full_date_time_for_download)) %>.xls'
                      $("#container_custom_rep_<%= um_custom_report.id %>").append(link);
                      link.click();
                      $("#container_custom_rep_<%= um_custom_report.id %>").html(link_to_custom_report_<%= um_custom_report.id %>);
                    }
                  });

                }

                function down_custom_rep_<%= um_custom_report.id %>(){

                  $("#container_custom_rep_<%= um_custom_report.id %>").html(wating_custom_report_<%= um_custom_report.id %>);

                  $.ajax({
                    dataType: 'native',
                    url: "<%= user_managing_query_custom_report_path(um_custom_report, 0, format: 'xls') %>",
                    xhrFields: {
                      responseType: 'blob'
                    },
                    success: function(blob){
                      var link=document.createElement('a');
                      link.href=window.URL.createObjectURL(blob);
                      link.download= '<%= um_custom_report.name %>_todos_<%= (localize(lms_time, format: :full_date_time_for_download)) %>.xls'
                      $("#container_custom_rep_<%= um_custom_report.id %>").append(link);
                      link.click();
                      $("#container_custom_rep_<%= um_custom_report.id %>").html(link_to_custom_report_<%= um_custom_report.id %>);
                    }
                  });

                }

                $( document ).ready(function() {
                  $("#container_custom_rep_<%= um_custom_report.id %>").html(link_to_custom_report_<%= um_custom_report.id %>);
                });

              </script>

              <% end %>

            <% end %>

          </tbody>

        </table>

      </div>
    </div>

  </div>
</div>

<% unless $browser_ie %>

  <script>

    var wating_report_chars = '<i class="fa fa-refresh fa-spin"></i> Generando reporte, por favor espere...';
    var link_to_report_chars = 'Reporte consolidado: <a onclick="down_rep_active_employees();" class="mouse_pointer">sólo activos</a>, <a onclick="down_rep_employees();" class="mouse_pointer">todos</a>';

    function down_rep_active_employees(){

      $("#container_rep_active_employees_consolidated").html(wating_report_chars);

      $.ajax({
        dataType: 'native',
        url: "<%= user_managing_rep_active_employees_characteristics_path(format: 'xls') %>",
        xhrFields: {
          responseType: 'blob'
        },
        success: function(blob){
          var link=document.createElement('a');
          link.href=window.URL.createObjectURL(blob);
          link.download='reporte_consolidado_<%= alias_users.downcase %>_activos_<%= localize(lms_time, format: :full_date_time_for_download) %>.xls'
          $("#container_rep_active_employees_consolidated").append(link);
          link.click();
          $("#container_rep_active_employees_consolidated").html(link_to_report_chars);
        }
      });

    }

    function down_rep_employees(){

      $("#container_rep_active_employees_consolidated").html(wating_report_chars);

      $.ajax({
        dataType: 'native',
        url: "<%= user_managing_rep_employees_characteristics_path(format: 'xls') %>",
        xhrFields: {
          responseType: 'blob'
        },
        success: function(blob){
          var link=document.createElement('a');
          link.href=window.URL.createObjectURL(blob);
          link.download='reporte_consolidado_<%= alias_users.downcase %>_<%= localize(lms_time, format: :full_date_time_for_download) %>.xls'
          $("#container_rep_active_employees_consolidated").append(link);
          link.click();
          $("#container_rep_active_employees_consolidated").html(link_to_report_chars);
        }
      });

    }

    $( document ).ready(function() {
      $("#container_rep_active_employees_consolidated").html(link_to_report_chars);
    });

    <% Characteristic.where('data_type_id = ?', 11).each do |characteristic| %>

    var wating_report_characteristic_register_<%= characteristic.id %> = '<i class="fa fa-refresh fa-spin"></i> Generando reporte, por favor espere...';
    var link_to_report_characteristic_register_<%= characteristic.id %> = 'Reporte consolidado (<%= characteristic.nombre %>): <a onclick="down_rep_active_employees_characteristic_register_<%= characteristic.id %>();" class="mouse_pointer">sólo activos</a>, <a onclick="down_rep_employees_characteristic_register_<%= characteristic.id %>();" class="mouse_pointer">todos</a>';

    $( document ).ready(function() {
      $("#container_rep_employees_characteristic_register_<%= characteristic.id %>").html(link_to_report_characteristic_register_<%= characteristic.id %>);
    });

    function down_rep_active_employees_characteristic_register_<%= characteristic.id %>(){

      $("#container_rep_employees_characteristic_register_<%= characteristic.id %>").html(wating_report_characteristic_register_<%= characteristic.id %>);

      $.ajax({
        dataType: 'native',
        url: "<%= user_managing_rep_active_employees_characteristic_register_path(characteristic.id, format: 'xls') %>",
        xhrFields: {
          responseType: 'blob'
        },
        success: function(blob){
          var link=document.createElement('a');
          link.href=window.URL.createObjectURL(blob);
          link.download='reporte_consolidado_<%= alias_users.downcase %>_activos_<%= characteristic.nombre %>_<%= localize(lms_time, format: :full_date_time_for_download) %>.xls'
          $("#container_rep_employees_characteristic_register_<%= characteristic.id %>").append(link);
          link.click();
          $("#container_rep_employees_characteristic_register_<%= characteristic.id %>").html(link_to_report_characteristic_register_<%= characteristic.id %>);
        }
      });

    }

    function down_rep_employees_characteristic_register_<%= characteristic.id %>(){

      $("#container_rep_employees_characteristic_register_<%= characteristic.id %>").html(wating_report_characteristic_register_<%= characteristic.id %>);

      $.ajax({
        dataType: 'native',
        url: "<%= user_managing_rep_employees_characteristic_register_path(characteristic.id, format: 'xls') %>",
        xhrFields: {
          responseType: 'blob'
        },
        success: function(blob){
          var link=document.createElement('a');
          link.href=window.URL.createObjectURL(blob);
          link.download='reporte_consolidado_<%= alias_users.downcase %>_<%= characteristic.nombre %>_<%= localize(lms_time, format: :full_date_time_for_download) %>.xls'
          $("#container_rep_employees_characteristic_register_<%= characteristic.id %>").append(link);
          link.click();
          $("#container_rep_employees_characteristic_register_<%= characteristic.id %>").html(link_to_report_characteristic_register_<%= characteristic.id %>);
        }
      });

    }

    <% end %>

    var wating_report_char_his = '<i class="fa fa-refresh fa-spin"></i> Generando reporte, por favor espere...';
    var link_to_report_char_his = '<a onclick="down_rep_active_employees_characteristic_history();" class="mouse_pointer">sólo activos</a>, <a onclick="down_rep_employees_characteristic_history();" class="mouse_pointer">todos</a>';


    function down_rep_active_employees_characteristic_history(){

      $('#container_char_his').html(wating_report_char_his);

      var form_char_his = $('#form_char_his');

      $.ajax({
        dataType: 'native',
        url: "<%= user_managing_rep_active_employees_characteristic_history_path(format: 'xls') %>",
        data: form_char_his.serialize(),
        xhrFields: {
          responseType: 'blob'
        },
        success: function(blob){
          var link=document.createElement('a');
          link.href=window.URL.createObjectURL(blob);
          link.download='reporte_consolidado_<%= alias_users.downcase %>_activos_historial_<%= localize(lms_time, format: :full_date_time_for_download) %>.xls'
          $("#container_char_his").append(link);
          link.click();
          $("#container_char_his").html(link_to_report_char_his);
        }
      });

    }

    function down_rep_employees_characteristic_history(){

      $('#container_char_his').html(wating_report_char_his);

      var form_char_his = $('#form_char_his');

      $.ajax({
        dataType: 'native',
        url: "<%= user_managing_rep_employees_characteristic_history_path(format: 'xls') %>",
        data: form_char_his.serialize(),
        xhrFields: {
          responseType: 'blob'
        },
        success: function(blob){
          var link=document.createElement('a');
          link.href=window.URL.createObjectURL(blob);
          link.download='reporte_consolidado_<%= alias_users.downcase %>_historial_<%= localize(lms_time, format: :full_date_time_for_download) %>.xls'
          $("#container_char_his").append(link);
          link.click();
          $("#container_char_his").html(link_to_report_char_his);
        }
      });

    }

    $( document ).ready(function() {
      $("#container_char_his").html(link_to_report_char_his);
    });

  </script>

<% end %>