

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-table"></i>
      <%= alias_users %>
      <span>> Reportes </span>
    </h1>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Lista de reportes</legend>

        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th colspan="2">
                Reportes de <%= alias_users %>
              </th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td id="container_rep_active_employees_consolidated" colspan="2">



              </td>
            </tr>

            <tr>
              <td id="container_rep_active_employees_photos" colspan="2">



              </td>
            </tr>

            <% Characteristic.where('data_type_id = ?', 11).each do |characteristic| %>

              <tr>
                <td id="container_rep_employees_characteristic_register_<%= characteristic.id %>" colspan="2">

                </td>
              </tr>

            <% end %>

            <tr>
              <td colspan="2">

                <% characteristics_array = Characteristic.where('publica = ? AND data_type_id <> ? AND data_type_id <> ? AND data_type_id <> ? AND data_type_id <> ? AND data_type_id <> ? AND data_type_id <> ? AND data_type_id <> ? AND register_characteristic_id IS NULL', true, 6, 7, 8, 9, 10, 11, 12).reorder('nombre').map { |c| [c.nombre, c.id] } %>

                <div class="row">
                  <div class="col-md-3">
                    Historial de cambios:
                  </div>
                  <div class="col-md-4">

                    <form id="form_char_his">

                      <%= select_tag(:characteristic_id, options_for_select(characteristics_array), class: 'form-control') %>

                    </form>
                  </div>

                  <div class="col-md-4" id="container_char_his">

                  </div>

                </div>



              </td>
            </tr>

          </tbody>

        </table>

        <table class="table table-striped table-hover table-bordered">

          <thead>
          <tr>
            <th>
              Reportes personalizados
            </th>
            <th>
              Características
            </th>
            <th>
              Usuarios con privilegios para consultar el reporte
            </th>
            <th colspan="2">
              <%= link_to 'Crear reporte personalizado', user_managing_new_custom_report_path %>
            </th>
          </tr>
          </thead>

          <% if UmCustomReport.all.size > 0 %>

            <tbody>

              <% UmCustomReport.all.each do |um_custom_report| %>
                <tr>
                  <td id="container_custom_rep_<%= um_custom_report.id %>">

                  </td>
                  <td>
                    <% um_custom_report.um_custom_report_characteristics.each do |um_custom_report_characteristic| %>
                      <li><%= um_custom_report_characteristic.um_characteristic.characteristic.nombre %></li>
                    <% end %>
                  </td>
                  <td>
                    <% um_custom_report.user_ct_module_privileges_um_custom_reports.each do |user_ct_module_privileges_um_custom_report| %>
                      <li><%= user_ct_module_privileges_um_custom_report.user_ct_module_privileges.user.apellidos %>, <%= user_ct_module_privileges_um_custom_report.user_ct_module_privileges.user.nombre %></li>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to 'Editar', user_managing_edit_custom_report_path(um_custom_report) %>
                  </td>
                  <td>
                    <%= link_to 'Eliminar',user_managing_delete_custom_report_path(um_custom_report), method: :delete, data: { confirm: '¿Está seguro de eliminar el reporte?' } %>
                  </td>
                </tr>

                <script>

                  var wating_custom_report_<%= um_custom_report.id %> = '<i class="fa fa-refresh fa-spin"></i> Generando reporte, por favor espere...';
                  var link_to_custom_report_<%= um_custom_report.id %> = '<%= um_custom_report.name %>: <a onclick="down_custom_rep_active_<%= um_custom_report.id %>();" class="mouse_pointer">sólo activos</a>, <a onclick="down_custom_rep_<%= um_custom_report.id %>();" class="mouse_pointer">todos</a>';

                  function down_custom_rep_active_<%= um_custom_report.id %>(){

                    $("#container_custom_rep_<%= um_custom_report.id %>").html(wating_custom_report_<%= um_custom_report.id %>);

                    $.ajax({
                      dataType: 'native',
                      url: "<%= user_managing_query_custom_report_path(um_custom_report, 1, format: 'xls') %>",
                      xhrFields: {
                        responseType: 'blob'
                      },
                      success: function(blob){
                        var link=document.createElement('a');
                        link.href=window.URL.createObjectURL(blob);
                        link.download= '<%= um_custom_report.name %>_activos_<%= (localize(lms_time, format: :full_date_time_for_download)) %>.xls'
                        $("#container_custom_rep_<%= um_custom_report.id %>").append(link);
                        link.click();
                        $("#container_custom_rep_<%= um_custom_report.id %>").html(link_to_custom_report_<%= um_custom_report.id %>);
                      }
                    });

                  }

                  function down_custom_rep_<%= um_custom_report.id %>(){

                    $("#container_custom_rep_<%= um_custom_report.id %>").html(wating_custom_report_<%= um_custom_report.id %>);

                    $.ajax({
                      dataType: 'native',
                      url: "<%= user_managing_query_custom_report_path(um_custom_report, 0, format: 'xls') %>",
                      xhrFields: {
                        responseType: 'blob'
                      },
                      success: function(blob){
                        var link=document.createElement('a');
                        link.href=window.URL.createObjectURL(blob);
                        link.download= '<%= um_custom_report.name %>_todos_<%= (localize(lms_time, format: :full_date_time_for_download)) %>.xls'
                        $("#container_custom_rep_<%= um_custom_report.id %>").append(link);
                        link.click();
                        $("#container_custom_rep_<%= um_custom_report.id %>").html(link_to_custom_report_<%= um_custom_report.id %>);
                      }
                    });

                  }

                  $( document ).ready(function() {
                    $("#container_custom_rep_<%= um_custom_report.id %>").html(link_to_custom_report_<%= um_custom_report.id %>);
                  });

                </script>

              <% end %>


            </tbody>

          <% end %>

        </table>

      </div>
    </div>

  </div>
</div>

<% unless $browser_ie %>

<script>

  var wating_report_chars = '<i class="fa fa-refresh fa-spin"></i> Generando reporte, por favor espere...';
  var link_to_report_chars = 'Reporte consolidado: <a onclick="down_rep_active_employees();" class="mouse_pointer">sólo activos</a>, <a onclick="down_rep_employees();" class="mouse_pointer">todos</a>';


  function down_rep_active_employees(){

    $("#container_rep_active_employees_consolidated").html(wating_report_chars);

    $.ajax({
      dataType: 'native',
      url: "<%= user_managing_reports_rep_active_employees_characteristics_path(format: 'xlsx') %>",
      xhrFields: {
        responseType: 'blob'
      },
      success: function(blob){
        var link=document.createElement('a');
        link.href=window.URL.createObjectURL(blob);
        link.download='reporte_consolidado_<%= alias_users.downcase %>_activos_<%= localize(lms_time, format: :full_date_time_for_download) %>.xlsx'
        $("#container_rep_active_employees_consolidated").append(link);
        link.click();
        $("#container_rep_active_employees_consolidated").html(link_to_report_chars);
      }
    });

  }

  function down_rep_employees(){

    $("#container_rep_active_employees_consolidated").html(wating_report_chars);

    $.ajax({
      dataType: 'native',
      url: "<%= user_managing_rep_employees_characteristics_path(format: 'xlsx') %>",
      xhrFields: {
        responseType: 'blob'
      },
      success: function(blob){
        var link=document.createElement('a');
        link.href=window.URL.createObjectURL(blob);
        link.download='reporte_consolidado_<%= alias_users.downcase %>_<%= localize(lms_time, format: :full_date_time_for_download) %>.xlsx'
        $("#container_rep_active_employees_consolidated").append(link);
        link.click();
        $("#container_rep_active_employees_consolidated").html(link_to_report_chars);
      }
    });

  }

  $( document ).ready(function() {
    $("#container_rep_active_employees_consolidated").html(link_to_report_chars);
  });

  var wating_report_photos_active_users = '<i class="fa fa-refresh fa-spin"></i> Generando reporte, por favor espere...';
  var link_to_report_photos = 'Reporte consolidado (Fotos): <a onclick="down_rep_photos_employees();" class="mouse_pointer">sólo activos</a>';

  function down_rep_photos_employees(){

      $("#container_rep_active_employees_photos").html(wating_report_photos_active_users);

      $.ajax({
          dataType: 'native',
          url: "<%= user_managing_reports_rep_active_employees_photos_path(format: 'xlsx') %>",
          xhrFields: {
              responseType: 'blob'
          },
          success: function(blob){
              var link=document.createElement('a');
              link.href=window.URL.createObjectURL(blob);
              link.download='Reporte Fotos<%= alias_users.downcase %>_Fotos_<%= localize(lms_time, format: :full_date_time_for_download) %>.xlsx'
              $("#container_rep_active_employees_photos").append(link);
              link.click();
              $("#container_rep_active_employees_photos").html(link_to_report_photos);
          }
      });

  }

  $( document ).ready(function() {
      $("#container_rep_active_employees_photos").html(link_to_report_photos);
  });

  <% Characteristic.where('data_type_id = ?', 11).each do |characteristic| %>

    var wating_report_characteristic_register_<%= characteristic.id %> = '<i class="fa fa-refresh fa-spin"></i> Generando reporte, por favor espere...';
    var link_to_report_characteristic_register_<%= characteristic.id %> = 'Reporte consolidado (<%= characteristic.nombre %>): <a onclick="down_rep_active_employees_characteristic_register_<%= characteristic.id %>();" class="mouse_pointer">sólo activos</a>, <a onclick="down_rep_employees_characteristic_register_<%= characteristic.id %>();" class="mouse_pointer">todos</a>';

    $( document ).ready(function() {
      $("#container_rep_employees_characteristic_register_<%= characteristic.id %>").html(link_to_report_characteristic_register_<%= characteristic.id %>);
    });

    function down_rep_active_employees_characteristic_register_<%= characteristic.id %>(){

      $("#container_rep_employees_characteristic_register_<%= characteristic.id %>").html(wating_report_characteristic_register_<%= characteristic.id %>);

      $.ajax({
        dataType: 'native',
        url: "<%= user_managing_rep_active_employees_characteristic_register_path(characteristic.id, format: 'xls') %>",
        xhrFields: {
          responseType: 'blob'
        },
        success: function(blob){
          var link=document.createElement('a');
          link.href=window.URL.createObjectURL(blob);
          link.download='reporte_consolidado_<%= alias_users.downcase %>_activos_<%= characteristic.nombre %>_<%= localize(lms_time, format: :full_date_time_for_download) %>.xls'
          $("#container_rep_employees_characteristic_register_<%= characteristic.id %>").append(link);
          link.click();
          $("#container_rep_employees_characteristic_register_<%= characteristic.id %>").html(link_to_report_characteristic_register_<%= characteristic.id %>);
        }
      });

    }

    function down_rep_employees_characteristic_register_<%= characteristic.id %>(){
  
      $("#container_rep_employees_characteristic_register_<%= characteristic.id %>").html(wating_report_characteristic_register_<%= characteristic.id %>);
  
      $.ajax({
        dataType: 'native',
        url: "<%= user_managing_rep_employees_characteristic_register_path(characteristic.id, format: 'xls') %>",
        xhrFields: {
          responseType: 'blob'
        },
        success: function(blob){
          var link=document.createElement('a');
          link.href=window.URL.createObjectURL(blob);
          link.download='reporte_consolidado_<%= alias_users.downcase %>_<%= characteristic.nombre %>_<%= localize(lms_time, format: :full_date_time_for_download) %>.xls'
          $("#container_rep_employees_characteristic_register_<%= characteristic.id %>").append(link);
          link.click();
          $("#container_rep_employees_characteristic_register_<%= characteristic.id %>").html(link_to_report_characteristic_register_<%= characteristic.id %>);
        }
      });
  
    }
    
  <% end %>

  var wating_report_char_his = '<i class="fa fa-refresh fa-spin"></i> Generando reporte, por favor espere...';
  var link_to_report_char_his = '<a onclick="down_rep_active_employees_characteristic_history();" class="mouse_pointer">sólo activos</a>, <a onclick="down_rep_employees_characteristic_history();" class="mouse_pointer">todos</a>';


  function down_rep_active_employees_characteristic_history(){

    $('#container_char_his').html(wating_report_char_his);

    var form_char_his = $('#form_char_his');

    $.ajax({
      dataType: 'native',
      url: "<%= user_managing_rep_active_employees_characteristic_history_path(format: 'xls') %>",
      data: form_char_his.serialize(),
      xhrFields: {
        responseType: 'blob'
      },
      success: function(blob){
        var link=document.createElement('a');
        link.href=window.URL.createObjectURL(blob);
        link.download='reporte_consolidado_<%= alias_users.downcase %>_activos_historial_<%= localize(lms_time, format: :full_date_time_for_download) %>.xls'
        $("#container_char_his").append(link);
        link.click();
        $("#container_char_his").html(link_to_report_char_his);
      }
    });

  }

  function down_rep_employees_characteristic_history(){

    $('#container_char_his').html(wating_report_char_his);

    var form_char_his = $('#form_char_his');

    $.ajax({
      dataType: 'native',
      url: "<%= user_managing_rep_employees_characteristic_history_path(format: 'xls') %>",
      data: form_char_his.serialize(),
      xhrFields: {
        responseType: 'blob'
      },
      success: function(blob){
        var link=document.createElement('a');
        link.href=window.URL.createObjectURL(blob);
        link.download='reporte_consolidado_<%= alias_users.downcase %>_historial_<%= localize(lms_time, format: :full_date_time_for_download) %>.xls'
        $("#container_char_his").append(link);
        link.click();
        $("#container_char_his").html(link_to_report_char_his);
      }
    });

  }

  $( document ).ready(function() {
    $("#container_char_his").html(link_to_report_char_his);
  });

</script>

<% end %>