

<div class="row">
  <div class="col-md-10 col-md-offset-1">


    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users"></i>
      <%= alias_users %>
      <span>> Gestionar privilegios de consulta de reportes </span>
    </h1>

    <% if @users_q.size > 0 %>

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">

              <legend><%=alias_users %> con privilegios de consulta de reportes</legend>

              <table class="table table-striped table-hover table-bordered">

                <thead>
                <tr>
                  <th>#</th>
                  <th><%= alias_username %></th>
                  <th>Apellidos</th>
                  <th>Nombre</th>
                  <th>Correo electrónico</th>
                  <th>Consultar reportes</th>
                  <% UmCustomReport.all.each do |um_custom_report| %>
                    <th><%= um_custom_report.name %></th>
                  <% end %>
                  <th></th>
                </tr>
                </thead>

                <tbody>

                <% @users_q.each_with_index do |user, index| %>

                  <tr>
                    <td><%= index+1 %></td>

                    <td><%= user.codigo %></td>
                    <td><%= user.apellidos %></td>
                    <td><%= user.nombre %></td>
                    <td><%= user.email %></td>
                    <td>
                      <span class="label label-success">Sí</span>
                    </td>
                    <% UmCustomReport.all.each do |um_custom_report| %>
                      <td>
                        <% if user.um_query_report? um_custom_report %>
                          <span class="label label-success">Sí</span>
                        <% else %>
                          <span class="label label-danger">No</span>
                        <% end %>
                      </td>
                    <% end %>
                    <td>
                      <%= link_to 'Editar privilegios', user_managing_reports_privileges_edit_path(user.id) %>
                    </td>
                  </tr>

                <% end %>


                </tbody>


              </table>

            </div>
          </div>
        </div>
      </div>

    <% end %>

    <%= form_for @user, url: user_managing_reports_privileges_search_path, method: :post do |f| %>


      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Buscador</legend>


          <div class="row">

            <div class="col-md-12">

              <div class="row">

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;<%= alias_username %></label>
                </div>

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Apellidos</label>
                </div>

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Nombre</label>
                </div>


              </div>

              <div class="row">

                <div class="col-md-4">

                  <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>

                </div>

                <div class="col-md-4">

                  <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>

                </div>

                <div class="col-md-4">

                  <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>

                </div>

              </div>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Buscar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>


    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Resultados de la búsqueda</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>
          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th>Correo electrónico</th>
            <th>Consultar reportes</th>
            <% UmCustomReport.all.each do |um_custom_report| %>
              <th><%= um_custom_report.name %></th>
            <% end %>
            <th> </th>
          </tr>
          </thead>

          <tbody>

          <% @users.each_with_index do |user, index| %>

            <tr>
              <td><%= index+1 %></td>

              <td><%= user.codigo %></td>
              <td><%= user.apellidos %></td>
              <td><%= user.nombre %></td>
              <td><%= user.email %></td>

              <% if user.manage_ct_module_um %>

                <td colspan="<%= UmCustomReport.all.size + 2 %>">

                  <span class="label label-primary">Gestor del módulo</span>

                </td>

              <% else %>

                <td>
                  <% if user.um_query_reports? %>
                    <span class="label label-success">Sí</span>
                  <% else %>
                    <span class="label label-danger">No</span>
                  <% end %>

                <% UmCustomReport.all.each do |um_custom_report| %>
                  <td>
                    <% if user.um_query_report? um_custom_report %>
                      <span class="label label-success">Sí</span>
                    <% else %>
                      <span class="label label-danger">No</span>
                    <% end %>
                  </td>
                <% end %>

                <td>
                  <%= link_to 'Editar privilegios', user_managing_reports_privileges_edit_path(user.id) %>
                </td>

              <% end %>


            </tr>

          <% end %>


          </tbody>


        </table>

      </div>
    </div>
  </div>
</div>