

<div class="row">
  <div class="col-md-10 col-md-offset-1">


    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users"></i>
      <%= alias_users %>
      <span>> Buscar </span>
    </h1>

    <%= form_for @user, url: user_managing_search_for_users_manager_path, method: :post do |f| %>


      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Buscador</legend>


          <div class="row">

            <div class="col-md-12">

              <div class="row">

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;<%= alias_username %></label>
                </div>

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Apellidos</label>
                </div>

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Nombre</label>
                </div>


              </div>

              <div class="row">

                <div class="col-md-4">

                  <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>

                </div>

                <div class="col-md-4">

                  <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>

                </div>

                <div class="col-md-4">

                  <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>

                </div>

              </div>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Buscar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>


    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Resultados de la búsqueda</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>
          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th>Correo electrónico</th>
            <th>Empleado/Externo</th>
            <th>Activo</th>
            <th> </th>
          </tr>
          </thead>

          <tbody>

          <% @users.each_with_index do |user, index| %>

            <tr>
              <td><%= index+1 %></td>

              <td><%= user.codigo %></td>
              <td><%= user.apellidos %></td>
              <td><%= user.nombre %></td>
              <td><%= user.email %></td>
              <td>
                <% if user.employee %>
                  <span class="label label-success">Empleado</span>
                <% else %>
                  <span class="label label-primary">Externo</span>
                <% end %>
              </td>
              <td>
                <% if user.activo %>
                  <span class="label label-success">Activo</span>
                <% else %>
                  <span class="label label-danger">Inactivo</span>
                <% end %>
              </td>

              <td>
                <%= link_to 'Ver', user_managing_user_profile_for_users_manager_path(user.id) %>

                &nbsp;&nbsp;

                <%= link_to '<i class="fa fa-sitemap" aria-hidden="true"></i>'.html_safe, my_people_index3_path(user.id)  %>


              </td>
            </tr>

          <% end %>


          </tbody>


        </table>

      </div>
    </div>
  </div>
</div>