

<div class="row">
  <div class="col-md-10 col-md-offset-1">


    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users"></i>
      <%= alias_users %>
      <span>> Gestionar privilegios de gestión </span>
    </h1>
<!--
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">

            <legend>Gestores del módulo</legend>

              <table class="table table-bordered table-condensed">
                <thead>
                  <tr>
                    <th><%= alias_username %></th>
                    <th>Apellidos</th>
                    <th>Nombre</th>
                  </tr>
                </thead>
                <% @ct_module.ct_module_managers.each do |ct_mm| %>
                  <tr>
                    <td><%= ct_mm.user.codigo %></td>
                    <td><%= ct_mm.user.apellidos %></td>
                    <td><%= ct_mm.user.nombre %></td>
                  </tr>

                <% end %>
              </table>

          </div>
        </div>
      </div>
    </div>
-->
    <% if @users_q.size > 0 %>

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">

              <legend><%=alias_users %> con privilegios de gestión</legend>

              <table class="table table-striped table-hover table-bordered">

                <thead>
                <tr>
                  <th>#</th>
                  <th><%= alias_username %></th>
                  <th>Apellidos</th>
                  <th>Nombre</th>
                  <th>Correo electrónico</th>
                  <th>Consultar <%= alias_users %></th>
                  <th>Gestionar información básica</th>
                  <th>Cambiar correo electrónico</th>
                  <th>Cambiar contraseña</th>
                  <th>Cambiar foto</th>
                  <th>Gestionar información laboral y personal</th>

                  <% if @ct_module.create_delete_users? %>

                    <th>Alta de usuario</th>
                    <th>Baja de usuario</th>

                  <% end %>

                  <th> </th>
                </tr>
                </thead>

                <tbody>

                <% @users_q.each_with_index do |user, index| %>

                  <tr>
                    <td><%= index+1 %></td>

                    <td><%= user.codigo %></td>
                    <td><%= user.apellidos %></td>
                    <td><%= user.nombre %></td>
                    <td><%= user.email %></td>
                    <td>
                      <% if user.um_manage_users %>
                        <span class="label label-success">Sí</span>
                      <% else %>
                        <span class="label label-danger">No</span>
                      <% end %>
                    </td>
                    <td><%= label_yes_not user.um_edit_users %></td>
                    <td>
                      <% if user.um_manage_users_email %>
                        <span class="label label-success">Sí</span>
                      <% else %>
                        <span class="label label-danger">No</span>
                      <% end %>
                    </td>

                    <td>
                      <% if user.um_manage_users_password %>
                        <span class="label label-success">Sí</span>
                      <% else %>
                        <span class="label label-danger">No</span>
                      <% end %>
                    </td>

                    <td>
                      <% if user.um_manage_users_photo %>
                        <span class="label label-success">Sí</span>
                      <% else %>
                        <span class="label label-danger">No</span>
                      <% end %>
                    </td>

                    <td>
                      <% if user.um_manage_users_data %>
                        <span class="label label-success">Sí</span>
                      <% else %>
                        <span class="label label-danger">No</span>
                      <% end %>
                    </td>

                    <% if @ct_module.create_delete_users? %>

                      <td><%= label_yes_not user.um_create_users %></td>
                      <td><%= label_yes_not user.um_delete_users %></td>

                    <% end %>

                    <td>
                      <%= link_to 'Editar privilegios', user_managing_um_privileges_edit_path(user.id) %>
                    </td>
                  </tr>

                <% end %>


                </tbody>


              </table>

            </div>
          </div>
        </div>
      </div>

    <% end %>

    <%= form_for @user, url: user_managing_um_privileges_search_path, method: :post do |f| %>


      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Buscador</legend>


          <div class="row">

            <div class="col-md-12">

              <div class="row">

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;<%= alias_username %></label>
                </div>

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Apellidos</label>
                </div>

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Nombre</label>
                </div>


              </div>

              <div class="row">

                <div class="col-md-4">

                  <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>

                </div>

                <div class="col-md-4">

                  <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>

                </div>

                <div class="col-md-4">

                  <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>

                </div>

              </div>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Buscar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>


    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Resultados de la búsqueda</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>
          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th>Correo electrónico</th>
            <th>Consultar <%= alias_users %></th>
            <th>Gestionar información básica</th>
            <th>Cambiar correo electrónico</th>
            <th>Cambiar contraseña</th>
            <th>Cambiar foto</th>
            <th>Gestionar información laboral y personal</th>

            <% if @ct_module.create_delete_users? %>

              <th>Alta de usuario</th>
              <th>Baja de usuario</th>

            <% end %>

            <th> </th>
          </tr>
          </thead>

          <tbody>

          <% @users.each_with_index do |user, index| %>

            <tr>
              <td><%= index+1 %></td>

              <td><%= user.codigo %></td>
              <td><%= user.apellidos %></td>
              <td><%= user.nombre %></td>
              <td><%= user.email %></td>

              <% if user.manage_ct_module_um %>

                <td colspan="7">

                  <span class="label label-primary">Gestor del módulo</span>

                </td>

              <% else %>

                <td>
                  <% if user.um_manage_users %>
                    <span class="label label-success">Sí</span>
                  <% else %>
                    <span class="label label-danger">No</span>
                  <% end %>
                </td>
                <td><%= label_yes_not user.um_edit_users %></td>
                <td>
                  <% if user.um_manage_users_email %>
                    <span class="label label-success">Sí</span>
                  <% else %>
                    <span class="label label-danger">No</span>
                  <% end %>
                </td>

                <td>
                  <% if user.um_manage_users_password %>
                    <span class="label label-success">Sí</span>
                  <% else %>
                    <span class="label label-danger">No</span>
                  <% end %>
                </td>

                <td>
                  <% if user.um_manage_users_photo %>
                    <span class="label label-success">Sí</span>
                  <% else %>
                    <span class="label label-danger">No</span>
                  <% end %>
                </td>

                <td>
                  <% if user.um_manage_users_data %>
                    <span class="label label-success">Sí</span>
                  <% else %>
                    <span class="label label-danger">No</span>
                  <% end %>
                </td>

                <% if @ct_module.create_delete_users? %>

                  <td><%= label_yes_not user.um_create_users %></td>
                  <td><%= label_yes_not user.um_delete_users %></td>

                <% end %>

                <td>
                  <%= link_to 'Editar privilegios', user_managing_um_privileges_edit_path(user.id) %>
                </td>

              <% end %>


            </tr>

          <% end %>


          </tbody>


        </table>

      </div>
    </div>
  </div>
</div>