<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a gestionar privilegios de gestión'.html_safe, user_managing_um_privileges_search_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users"></i>
      <%= alias_users %>
      <span>> Editar privilegios de gestión</span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render partial: 'shared/user_profile_mini',
               locals: {
                   user: @user,
                   company: @company,
                   ocultar_historial: true,
                   titulo: alias_user,
                   is_boss: false

               }
    %>

    <%= form_for @user_ct_module_privileges, url: user_managing_um_privileges_update_path(@user) ,html: {class: 'form-horizontal', method: :post, role: 'form'} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Editar privilegios de gestión</legend>

          <div class="form-group">

            <%= f.label :um_manage_users, 'Consultar '+alias_users.downcase, class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :um_manage_users, onchange: 'toggle_um_manage_users();' %>

              <script>

                $('#user_ct_module_privileges_um_manage_users').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });

              </script>

              <script>
                function toggle_um_manage_users(){

                  if($('#user_ct_module_privileges_um_manage_users').is(":checked")){
                    $('#container_um_manage_users').show();
                  }else{
                    $('#container_um_manage_users').hide();
                  }

                }

                $(document).ready(function() {
                  toggle_um_manage_users();
                });
              </script>

            </div>

          </div>

          <div id="container_um_manage_users">
            <hr>

            <div class="form-group">

              <%= f.label :um_edit_users, 'Gestionar información básica', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :um_edit_users, class: 'form-control' %>

                <script>

                  $('#user_ct_module_privileges_um_edit_users').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });

                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :um_manage_users_email, 'Cambiar email', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :um_manage_users_email, class: 'form-control' %>

                <script>

                  $('#user_ct_module_privileges_um_manage_users_email').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });

                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :um_manage_users_password, 'Cambiar contraseña', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :um_manage_users_password, class: 'form-control' %>

                <script>

                  $('#user_ct_module_privileges_um_manage_users_password').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });

                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :um_manage_users_photo, 'Cambiar foto', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :um_manage_users_photo, class: 'form-control' %>

                <script>

                  $('#user_ct_module_privileges_um_manage_users_photo').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });

                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :um_manage_users_data, 'Gestionar información laboral y personal', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :um_manage_users_data, class: 'form-control' %>

                <script>

                  $('#user_ct_module_privileges_um_manage_users_data').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });

                </script>

              </div>

            </div>

            <hr>

            <% if @ct_module.create_delete_users? %>

              <div class="form-group">

                <%= f.label :um_create_users, 'Alta de usuarios', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <%= f.check_box :um_create_users, class: 'form-control' %>

                  <script>

                    $('#user_ct_module_privileges_um_create_users').bootstrapSwitch({
                      onColor: 'success',
                      onText: "Sí",
                      offColor: 'danger',
                      offText: "No",
                      size: "small"
                    });

                  </script>

                </div>

              </div>

              <div class="form-group">

                <%= f.label :um_delete_users, 'Baja de usuarios', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <%= f.check_box :um_delete_users, class: 'form-control' %>

                  <script>

                    $('#user_ct_module_privileges_um_delete_users').bootstrapSwitch({
                      onColor: 'success',
                      onText: "Sí",
                      offColor: 'danger',
                      offText: "No",
                      size: "small"
                    });

                  </script>

                </div>

              </div>

            <% end %>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>