<%= render partial: '/shared/user_profile',
           locals: {
               user: @user,
               title: alias_user,
               show_user_data: true,
               show_training_history: false,
               show_performance_evaluation_history: false,
               show_informative_documents: false,
               show_dncs: false,
               details_for_himself: false,
               details_for_boss: false,
               is_manager: true,
               is_boss: false
           }
%>