<%= form_for @elec_process_category, html: {class: 'form-horizontal'} do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend><%= t('views.elec_process_categories.shared.cat_data')%></legend>

        <%= render 'shared/error_messages', object: f.object %>

        <%= f.hidden_field :elec_process_id, :value => @elec_process_category.elec_process_id %>

        <div class="form-group <%= field_with_errors f, :position %>">
          <%= f.label :position, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.number_field :position, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :name %>">
          <%= f.label :name, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :description %>">
          <%= f.label :description, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_area :description, class: 'form-control wysihtml5', :rows => 3 %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :max_votes %>">
          <%= f.label :max_votes, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.number_field :max_votes, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :self_vote %>">
          <%= f.label :self_vote, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :self_vote} %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :ask_for_comment %>">
          <%= f.label :ask_for_comment, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :ask_for_comment} %>
          </div>
        </div>

        <div class="panel-body">
          <legend><%= t('views.elec_process_categories.characteristics.form.filters_by_char')%></legend>
          <%= f.fields_for :elec_category_characteristics do |f_chars| %>

              <%= render 'elec_process_categories/characteristics/form', :f => f_chars %>

          <% end %>

          <div class="pull-right ">
            <%= link_to_add_elec_category_char t('views.elec_process_categories.characteristics.form.add_filter'), f %>
          </div>

        </div>



      </div>


      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit t('views.elec_process_categories.form.submit_button'), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>

<% end %>

<script type="text/javascript">
  function set_select2() {
    $('.select2').select2()
  }

  function set_bootstrapSwitch() {
    $('.bootstrap_switch_yes_no').bootstrapSwitch({
      onColor: 'success',
      onText: "Sí",
      offColor: 'danger',
      offText: "No"
    });
  }

  function load_values_characteristic(select_tag) {

  }

  $(function () {

    set_bootstrapSwitch();
    //set_select2()
  });


  function set_characteristic_values(select_tag) {

    var select_tag_id = $(select_tag).prop('id');
    var select_tag = $('#' + select_tag_id)
    var object_id = select_tag.data('id')
    var select_values_tag = $(".characteristic_values[data-id=" + object_id + "]")
    $.ajax({
      url: "<%= elec_process_category_load_characteristic_values_path %>",
      type: 'POST',
      data: {
        characteristic_id: select_tag.val()
      },
      async: true,
      dataType: "json",
      error: function (XMLHttpRequest, errorTextStatus, error) {
        alert("Failed: " + errorTextStatus + " ;" + error);
      },
      success: function (data) {

        select_values_tag.find('option').remove()
        for (var i in data) {
          var id = data[i];
          var title = data[i];
          select_values_tag.append(new Option(title, id));
        }

        select_values_tag.find('option[value="' + select_values_tag.data('value') + '"]').prop('selected', true)
      }
    });
  }

  $(document).ready(function () {


    $('.trigger_load_values').each(function () {
      //var select_tag_id = $(this).prop('id')
      //set_characteristic_values(select_tag_id);
      set_characteristic_values(this);
    });

    /*$('.trigger_load_values').change(function () {
      var select_tag_id = $(this).prop('id');
      set_characteristic_values(select_tag_id);
    });*/
  });


  //Opciones
  function remove_elec_category_char(link) {
    $(link).prev('input[type=hidden]').val(1)
    $(link).closest('.characteristic').hide();
  }

  function add_elec_category_char(link, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp('new_elec_category_char', 'g')
    $(link).parent().before(content.replace(regexp, new_id))

    var data_id = $('.characteristic_values[name*=' + new_id + ']').data('id')
    $('[data-id=' + data_id + ']').attr('data-id', new_id)

    set_bootstrapSwitch();
  }

  $('.wysihtml5').wysihtml5({
    "font-styles": false,
    "emphasis": true,
    "lists": true,
    "html": false,
    "link": false,
    "image": false,
    "color": false
  });

  $('.wysihtml5').removeClass('wysihtml5');

  $(document).ready(function () {
    $(".wysihtml5-sandbox").css("resize", "vertical");
  });
</script>