<p id="notice"><%= notice %></p>

<p>
  <b>Elec process:</b>
  <%= @elec_process_category.elec_process %>
</p>

<p>
  <b>Name:</b>
  <%= @elec_process_category.name %>
</p>

<p>
  <b>Description:</b>
  <%= @elec_process_category.description %>
</p>

<p>
  <b>Max votes:</b>
  <%= @elec_process_category.max_votes %>
</p>

<p>
  <b>Self vote:</b>
  <%= @elec_process_category.self_vote %>
</p>


<%= link_to 'Edit', edit_elec_process_category_path(@elec_process_category) %> |
<%= link_to 'Back', elec_process_categories_path %>
