<%= form_for(@program_course_instance) do |f| %>
  <% if @program_course_instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program_course_instance.errors.count, "error") %> prohibited this program_course_instance from being saved:</h2>

      <ul>
      <% @program_course_instance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :program_course %><br />
    <%= f.text_field :program_course %>
  </div>
  <div class="field">
    <%= f.label :program_instance %><br />
    <%= f.text_field :program_instance %>
  </div>
  <div class="field">
    <%= f.label :from_date %><br />
    <%= f.date_select :from_date %>
  </div>
  <div class="field">
    <%= f.label :to_date %><br />
    <%= f.date_select :to_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
