<p id="notice"><%= notice %></p>

<p>
  <b>Program course:</b>
  <%= @program_course_instance.program_course %>
</p>

<p>
  <b>Program instance:</b>
  <%= @program_course_instance.program_instance %>
</p>

<p>
  <b>From date:</b>
  <%= @program_course_instance.from_date %>
</p>

<p>
  <b>To date:</b>
  <%= @program_course_instance.to_date %>
</p>


<%= link_to 'Edit', edit_program_course_instance_path(@program_course_instance) %> |
<%= link_to 'Back', program_course_instances_path %>
