<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @brc_apv_institution.name %>
</p>


<%= link_to 'Edit', edit_brc_apv_institution_path(@brc_apv_institution) %> |
<%= link_to 'Back', brc_apv_institutions_path %>
