<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de sesiones de calibración'.html_safe, pe_calibration_evaluations_list_sessions_path(@pe_evaluation), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">

    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Calibrar <%= @pe_evaluation.name %>
    </h1>

  </div>

</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos de la sesión de calibración
        </legend>


        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_cal_session.description %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Fecha inicio</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @pe_cal_session.from_date, format: :day_snmonth_syear) %>

            <% if lms_time > @pe_cal_session.from_date %>
              <span class="label label-danger">Hace
                <%= distance_of_time_in_words(@pe_cal_session.from_date, lms_time) %>
              </span>
            <% else %>
              <span class="label label-primary">En
                <%= distance_of_time_in_words(lms_time, @pe_cal_session.from_date) %>
              </span>
            <% end %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Fecha fin</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @pe_cal_session.to_date, format: :day_snmonth_syear) %>

            <% if lms_time > @pe_cal_session.to_date %>

          <span class="label label-danger">Hace
            <%= distance_of_time_in_words(@pe_cal_session.to_date, lms_time) %>
          </span>

            <% else %>
          <span class="label label-primary">En
            <%= distance_of_time_in_words(lms_time, @pe_cal_session.to_date) %>
          </span>
            <% end %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Estado</strong>
          </div>
          <div class="col-md-9">
            <% if @pe_cal_session.active %>
              <span class="label label-success">Activa</span>
            <% else %>
              <span class="label label-danger">Finalizada</span>
            <% end %>
          </div>
        </div>
      </div>
      <% if @is_pe_cal_session_manager %>

        <div class="panel-footer clearfix">
          <div class="pull-right">

            <% if @pe_cal_session.active %>
              <%= link_to 'Finalizar sesión', pe_calibration_evaluations_active_finish_session_path(@pe_cal_session), class: 'btn btn-danger' %>
            <% else %>
              <%= link_to 'Reactivar sesión', pe_calibration_evaluations_active_finish_session_path(@pe_cal_session), class: 'btn btn-primary' %>

            <% end %>

          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>

<%= form_for @pe_cal_session, url: pe_calibration_evaluations_calibrate_path(@pe_cal_session), html: {class: 'form-horizontal', method: :post} do |f| %>

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Participantes de la sesión de calibración
        </legend>


        <div style="overflow-x: auto;padding-top: 5px;">
          <br><br>

          <% cols_to_hide = Array.new %>
          <% cols_to_export = Array.new %>

          <table id="datatable_fixed_column" class="table table-bordered table-striped table-hover " style="font-size: 12px;">

            <thead>

            <tr>
              <th>#</th>
              <th><%= alias_username %></th>
              <th>Apellidos</th>
              <th>Nombre</th>

              <% num_col_to_control = 3 %>

              <% cols_to_export.push 0 %>
              <% cols_to_export.push 1 %>
              <% cols_to_export.push 2 %>
              <% cols_to_export.push 3 %>

              <% pe_rel_boss = @pe_process.pe_rel('jefe') %>

              <% if pe_rel_boss %>

                <th><%= pe_rel_boss.alias %></th>

                <% num_col_to_control += 1 %>
                <% cols_to_export.push num_col_to_control %>

              <% end %>



              <% @pe_process.pe_characteristics_gui_cal_member.each do |pe_characteristic| %>

                <th>
                  <%= pe_characteristic.characteristic.nombre %>
                </th>

                <% num_col_to_control += 1 %>
                <% cols_to_export.push num_col_to_control %>

              <% end %>
              <th><%= @pe_evaluation.name %> - Valoración original</th>

              <% num_col_to_control += 1 %>
              <% cols_to_export.push num_col_to_control %>

              <th><%= @pe_evaluation.name %> - Valoración final</th>
              <% num_col_to_control += 1 %>
              <% cols_to_export.push num_col_to_control %>

              <th>Comentario de la calibración</th>
              <% num_col_to_control += 1 %>
              <% cols_to_export.push num_col_to_control %>

              <% if @is_pe_cal_session_manager && @pe_cal_session.active? %>
                <th>Calibrar resultado (%)</th>
                <th>Comentario de la calibración</th>
              <% end %>
            </tr>

            </thead>

            <tbody>

            <% num_evaluated_pe_members = 0 %>
            <% pe_members_list = Array.new %>
            <% pe_boxes_list = Array.new %>

            <% @pe_cal_session.pe_cal_members_ordered.each_with_index do |pe_cal_member, index| %>
              <% num_evaluated_pe_members += 1 %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= pe_cal_member.pe_member.user.codigo %></td>
                <td><%= pe_cal_member.pe_member.user.apellidos %></td>
                <td><%= pe_cal_member.pe_member.user.nombre %></td>

                <% if pe_rel_boss %>

                  <td>
                    <% pe_cal_member.pe_member.pe_member_rels_is_evaluated_as_pe_rel(pe_rel_boss).each_with_index do |pe_member_is_evaluated_rel, num_boss| %>

                      <%= '<br><br>'.html_safe if num_boss > 0 %>

                      <%= pe_member_is_evaluated_rel.pe_member_evaluator.user.apellidos %>, <%= pe_member_is_evaluated_rel.pe_member_evaluator.user.nombre %>

                    <% end %>
                  </td>

                <% end %>

                <% @pe_process.pe_characteristics_gui_cal_member.each do |pe_characteristic| %>
                  <td>
                    <% pe_mc = pe_cal_member.pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
                    <%= pe_mc.value if pe_mc %>
                  </td>
                <% end %>


                <% pe_assessment_final_evaluation = pe_cal_member.pe_member.pe_assessment_final_evaluation(@pe_evaluation) %>

                <% if pe_assessment_final_evaluation && pe_assessment_final_evaluation.original_percentage && pe_assessment_final_evaluation.original_percentage > -1 %>

                  <td style="<%= 'color: #'+pe_assessment_final_evaluation.pe_original_dimension_group.text_color+';' if  pe_assessment_final_evaluation.pe_original_dimension_group %>">

                    <%= number_with_precision(pe_assessment_final_evaluation.original_percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                    <%= ' - '+pe_assessment_final_evaluation.pe_original_dimension_group.name if pe_assessment_final_evaluation.pe_original_dimension_group %>

                  </td>
                <% else %>
                  <td></td>
                <% end %>



                <% if pe_assessment_final_evaluation && pe_assessment_final_evaluation.percentage > -1 %>

                  <td style="<%= 'color: #'+pe_assessment_final_evaluation.pe_dimension_group.text_color+';' if  pe_assessment_final_evaluation.pe_dimension_group %>">

                    <%= number_with_precision(pe_assessment_final_evaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                    <%= ' - '+pe_assessment_final_evaluation.pe_dimension_group.name if pe_assessment_final_evaluation.pe_dimension_group %>

                  </td>
                <% else %>
                  <td></td>
                <% end %>

                <td>
                  <% if pe_assessment_final_evaluation && !pe_assessment_final_evaluation.calibration_comment.blank? %>
                    <%= pe_assessment_final_evaluation.calibration_comment %>
                  <% end %>
                </td>

                <% if @is_pe_cal_session_manager && @pe_cal_session.active?  %>

                  <% if pe_assessment_final_evaluation %>

                    <td>

                      <input type="text" name="cal_<%= pe_cal_member.pe_member.id %>" class="form-control" value="<%= number_with_precision(pe_assessment_final_evaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) if pe_assessment_final_evaluation && pe_assessment_final_evaluation.original_percentage && pe_assessment_final_evaluation.original_percentage > -1 %>">

                    </td>
                    <td>

                      <textarea name="cal_<%= pe_cal_member.pe_member.id %>_comment" class="form-control" rows="3"><%= pe_assessment_final_evaluation.calibration_comment if pe_assessment_final_evaluation && !pe_assessment_final_evaluation.calibration_comment.blank? %></textarea>

                    </td>

                  <% else %>

                    <td></td>
                    <td></td>

                  <% end %>

                <% end %>
              </tr>

            <% end %>

            </tbody>

          </table>
        </div>
      </div>
      <% if @is_pe_cal_session_manager && @pe_cal_session.active? %>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Calibrar', class: 'btn btn-primary' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<% end %>
