<%= form_for @pe_question_activity_field_list, html: {class: 'form-horizontal'} do |f| %>


  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos de la lista</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :pe_evaluation_id %>

      <div class="form-group <%= field_with_errors f, :name %>">

        <%= f.label :name, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :name, class: 'form-control' %>

        </div>

      </div>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

