
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h1 class="page-title txt-color-blueDark">
      Bono rol comercial
      <span>> Desviar bonos </span>
    </h1>

  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>
            <th>#</th>
            <th>Año</th>
            <th>Periodo</th>
            <th>Nombre</th>
            <th>Desviado</th>
            <th></th>
          </tr>

          </thead>

          <tbody>
          <% @brc_processes.each_with_index do |brc_process, index| %>

            <% brc_member = user_connected.brc_member(brc_process) %>

            <tr>
              <td><%= index+1 %></td>
              <td><%= brc_process.year %></td>
              <td><%= brc_process.period %></td>
              <td><%= brc_process.name %></td>
              <td><%= label_yes_not brc_member.status_choose %></td>
              <td>

                <% if brc_member.status_choose %>
                  <%= link_to 'Consultar', brc_choose_show_path(brc_process) %>
                <% else %>
                  <%= link_to 'Desviar', brc_choose_show_path(brc_process) %>
                <% end %>


              </td>
            </tr>
          <% end %>

          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
