<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Bono rol comercial
      <span>> Distribuir bono </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos del proceso
        </legend>

        <div class="row">
          <div class="col-md-3 col-xs-4 text-right">
            <strong>Año</strong>
          </div>
          <div class="col-md-9 col-xs-8">
            <%= @brc_process.year %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 col-xs-4 text-right">
            <strong>Periodo</strong>
          </div>
          <div class="col-md-9 col-xs-8">
            <%= @brc_process.period_name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Límite de tiempo para realizar la distribución</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @brc_process.choose_date, format: :day_snmonth_year_time) %>

            <% if lms_time > @brc_process.choose_date %>

              <span class="label label-danger">Hace
                <%= distance_of_time_in_words(@brc_process.choose_date, lms_time) %>
              </span>

            <% else %>
              <span class="label label-primary">En
                <%= distance_of_time_in_words(lms_time, @brc_process.choose_date) %>
              </span>
            <% end %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3 col-xs-4 text-right">
            <strong>Valor de la UF</strong>
          </div>
          <div class="col-md-9 col-xs-8">
            <%= number_with_precision(@brc_process.uf_value, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @brc_member, url: brc_choose_choose_path(@brc_process), method: :post do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Bono</legend>

          <% if lms_time > @brc_process.choose_date %>

            <div class="alert alert-info">
              <% if @brc_member.status_choose %>
                Este proceso fue cerrado. No es posible modificar la distribución
              <% else %>
                Este proceso fue cerrado. No es posible realizar la distribución
              <% end %>
            </div>
          <% else %>
            <% if @brc_member.status_choose %>

              <div class="alert alert-info">
                La distribución de este proceso ya fue realizada.<br><br>
                Si desea modificarla, puede hacerlo nuevamente presionando Guardar hasta el <%= (localize @brc_process.choose_date, format: :day_snmonth_year_time) %>
              </div>

          <% end %>




          <% end %>

          <%= render 'shared/error_messages', object: f.object %>

          <% if $mobile_client %>

            <div class="row">
              <div class="col-md-3 col-xs-4 text-right">
                <strong>Bono Bruto</strong>
              </div>
              <div class="col-md-9 col-xs-8">
                <%= number_with_precision(@brc_member.bonus_total, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3 col-xs-4 text-right">
                <strong>Bono Liquido</strong>
              </div>
              <div class="col-md-9 col-xs-8">
                <%= number_with_precision(@brc_member.bonus_liquido, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3 col-xs-4 text-right">
                <strong>Retención</strong>
              </div>
              <div class="col-md-9 col-xs-8">
                <%= number_with_precision(@brc_member.bonus_retencion, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3 col-xs-4 text-right">
                <strong>% Retención</strong>
              </div>
              <div class="col-md-9 col-xs-8">
                <%= number_with_precision(@brc_member.bonus_p_retencion, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
              </div>
            </div>

          <% else %>

            <table class="table table-striped table-hover table-bordered">

              <thead>

              <tr>
                <th>Bono Bruto</th>
                <th>Bono Liquido</th>
                <th>Retención</th>
                <th>% Retención</th>
              </tr>

              </thead>

              <tbody>



                <tr>
                  <td><%= number_with_precision(@brc_member.bonus_total, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></td>
                  <td><%= number_with_precision(@brc_member.bonus_liquido, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></td>
                  <td><%= number_with_precision(@brc_member.bonus_retencion, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></td>
                  <td><%= number_with_precision(@brc_member.bonus_p_retencion, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></td>

                </tr>

              </tbody>
            </table>

          <% end %>

          <hr>
          <% if lms_time <= @brc_process.choose_date %>
            <div class="text-right">

              <% if @brc_member.brc_member_files.size < 2 %>
                <%= link_to 'Adjuntar formulario', brc_choose_upload_file_path(@brc_process) %>
              <% end %>
            </div>
          <% end %>
          <% if @brc_member.brc_member_files.size == 0 %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <br>
                <div class="alert alert-danger">
                  Para poder realizar el aporte, debe adjuntar por lo menos un formulario de APV o depósito convenido
                </div>
              </div>
            </div>

          <% else %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <table class="table table-bordered table-condensed table-hover table-bordered">
                  <tbody>
                    <% @brc_member.brc_member_files.each do |brc_member_file| %>
                      <tr>
                        <td><%= brc_member_file.name %></td>
                        <td>
                          <% if brc_member_file.file_name %>
                            <%= link_to '<i class="fa fa-download" aria-hidden="true"></i>'.html_safe, brc_choose_download_file_path(@brc_process, brc_member_file) %>
                          <% end %>
                        </td>
                        <% if lms_time <= @brc_process.choose_date %>
                          <td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, brc_choose_delete_file_path(@brc_process, brc_member_file), data: { confirm: '¿Está seguro de eliminar el documento?' } %></td>
                        <% end %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>

                <% if @brc_member.format_rejected %>

                  <div class="alert alert-danger">
                    El formulario adjunto fue rechazado por el gestor:
                    <br>
                    <%= @brc_member.format_rejected_comment %>
                  </div>

                <% end %>

              </div>
            </div>

          <% end %>

          <hr>

          <div class="form-group <%= field_with_errors f, :bonus_cc %>">

            <%= f.label :bonus_cc, '¿Depósito total en Cta Cte?', class: 'col-md-3 col-xs-12 control-label' %>

            <div class="col-md-9 col-xs-12">

              <%= f.check_box :bonus_cc, class: 'yes_no_bootstrap_switch', onchange: 'set_cc()' %>

            </div>

          </div>

          <div id="container_si_cc">

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <br>
                <div class="alert alert-info">El depósito en Cta Cte será el total del monto líquido: <%= number_with_precision(@brc_member.bonus_liquido, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %> pesos </div>
              </div>
            </div>

          </div>

          <div id="container_no_cc">

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <hr>
              </div>
            </div>


            <div class="form-group <%= field_with_errors f, :bonus_apv %>">

              <%= f.label :bonus_apv, 'APV', class: 'col-md-3 col-xs-12 control-label' %>

              <div class="col-md-5 col-xs-12">
                <div class="input-group">
                  <%= f.text_field :bonus_apv, class: 'form-control', value: number_with_precision(@brc_member.bonus_apv, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
                  <span class="input-group-addon">
                    pesos
                  </span>
                </div>

                <em>El monto máximo a distribuir para APV en un mes es de UF <%# number_with_precision(50-(@t_50/@brc_process.uf_value), precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></em>
                <!--
                <em>El monto máximo a distribuir para APV es de UF <%= number_with_precision(600, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></em>
                -->
              </div>
              <div class="col-md-3 col-xs-8">
                <div id="value_apv_uf" class="text-align-right">

                </div>
              </div>
              <div class="col-md-1 col-xs-4">
                UFs
              </div>

              <script>
                function convert_apv_uf(){

                  p = $('#brc_member_bonus_apv').val().toString();

                  var i = 0, length = p.length;

                  for (i; i < length; i++) {

                    p = p.replace('.', '');

                  }

                  p = p.replace(',', '.');

                  p = parseFloat(p);
                  x = ((p/<%= @brc_process.uf_value %>).toFixed(2)).toString();
                  x = x.replace(".", ",");
                  $('#value_apv_uf').html(x);

                  if((p/<%= @brc_process.uf_value %>) > (50-<%= @t_50/@brc_process.uf_value %>)){
                  /*
                  if((p/<%= @brc_process.uf_value %>) > (600)){
                  */
                    $('#value_apv_uf').addClass('text-danger');
                  }else{
                    $('#value_apv_uf').removeClass('text-danger');
                  }

                  set_value_cc();

                }

                elem_apv = $('#brc_member_bonus_apv');
                elem_apv.data('oldVal', elem_apv.val());
                elem_apv.bind("propertychange change click keyup input paste", function(event){
                  if (elem_apv.data('oldVal') != elem_apv.val()) {
                    elem_apv.data('oldVal', elem_apv.val());
                    convert_apv_uf();
                  }
                });

                $(function(){
                  convert_apv_uf();
                });

              </script>

            </div>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <br>
              </div>
            </div>

            <div class="form-group <%= field_with_errors f, :brc_apv_institution_id %>">

              <%= f.label :brc_apv_institution_id, 'Institución para depósito APV', class: 'col-md-3 col-xs-12 control-label' %>

              <div class="col-md-9 col-xs-12">

                <% apv_inst_sel_array = BrcApvInstitution.all.each_with_index.map { |apv_i| [apv_i.name, apv_i.id] } %>

                <%= f.select(:brc_apv_institution_id, options_for_select(apv_inst_sel_array, @brc_member.brc_apv_institution_id), {prompt: '-- Seleccionar --'}, {class: 'form-control'}) %>

                <script>
                  $("#brc_member_brc_apv_institution_id").select2();
                </script>

              </div>

            </div>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <hr>
              </div>
            </div>

            <div class="form-group <%= field_with_errors f, :bonus_convenio %>">

              <%= f.label :bonus_convenio, 'Depósito convenido', class: 'col-md-3 col-xs-12 control-label' %>

              <div class="col-md-5 col-xs-12">
                <div class="input-group">
                  <%= f.text_field :bonus_convenio, class: 'form-control', value: number_with_precision(@brc_member.bonus_convenio, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>

                  <span class="input-group-addon">
                  pesos
                </span>
                </div>

              </div>
              <div class="col-md-3 col-xs-8">
                <div id="value_convenio_uf" class="text-align-right">

                </div>
              </div>
              <div class="col-md-1 col-xs-4">
                UFs
              </div>

              <script>
                function convert_convenio_uf(){

                  p = $('#brc_member_bonus_convenio').val().toString();

                  var i = 0, length = p.length;

                  for (i; i < length; i++) {

                    p = p.replace('.', '');

                  }

                  p = p.replace(',', '.');

                  p = parseFloat(p);

                  var x = ((p/<%= @brc_process.uf_value %>).toFixed(2)).toString();

                  x = x.replace(".", ",");

                  $('#value_convenio_uf').html(x);

                  tb_c = p + <%= @brc_member.convenio_acumulado_year %>;

                  if((tb_c/<%= @brc_process.uf_value %>) > 900){
                    $('#value_convenio_uf').addClass('text-danger');
                  }else{
                    $('#value_convenio_uf').removeClass('text-danger');
                  }

                  set_value_cc();

                }

                elem_conv = $('#brc_member_bonus_convenio');

                elem_conv.data('oldVal', elem_conv.val());

                // Look for changes in the value
                elem_conv.bind("propertychange change click keyup input paste", function(event){
                  // If value has changed...
                  if (elem_conv.data('oldVal') != elem_conv.val()) {
                    // Updated stored value
                    elem_conv.data('oldVal', elem_conv.val());

                    // Do action
                    convert_convenio_uf();
                  }
                });

                $(function(){
                  convert_convenio_uf();
                });

              </script>

            </div>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <br>
              </div>
            </div>

            <div class="form-group <%= field_with_errors f, :brc_con_institution_id %>">

              <%= f.label :brc_con_institution_id, 'Institución para depósito convenido', class: 'col-md-3 col-xs-12 control-label' %>

              <div class="col-md-9 col-xs-12">

                <% apv_inst_sel_array = BrcApvInstitution.all.each_with_index.map { |apv_i| [apv_i.name, apv_i.id] } %>

                <%= f.select(:brc_con_institution_id, options_for_select(apv_inst_sel_array, @brc_member.brc_con_institution_id), {prompt: '-- Seleccionar --'}, {class: 'form-control'}) %>

                <script>
                  $("#brc_member_brc_con_institution_id").select2();
                </script>

              </div>

            </div>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <hr>
              </div>
            </div>

            <div class="form-group <%= field_with_errors f, :bonus_cc %>">

              <%= f.label :bonus_cc, 'Monto bruto a Cta Cte', class: 'col-md-3 control-label' %>

              <div class="col-md-5">
                <div class="input-group">

                  <input type="text" readonly class="form-control" id="value_cc_pesos">

                  <span class="input-group-addon">
                    pesos
                  </span>
                </div>

              </div>
              <div class="col-md-3">
                <div id="value_cc_uf" class="text-align-right">

                </div>
              </div>
              <div class="col-md-1">
                <!--UFs-->
              </div>

              <script>

                function set_value_cc(){
                  mb = <%= @brc_member.bonus_total %>;

                  apv = $('#brc_member_bonus_apv').val().toString();

                  var i = 0, length = apv.length;

                  for (i; i < length; i++) {

                    apv = apv.replace('.', '');

                  }

                  apv = apv.replace(',', '.');

                  apv = parseFloat(apv);

                  conv = $('#brc_member_bonus_convenio').val().toString();

                  var i = 0, length = conv.length;

                  for (i; i < length; i++) {

                    conv = conv.replace('.', '');

                  }

                  conv = conv.replace(',', '.');

                  conv = parseFloat(conv);

                  p = (mb-apv-conv).toString();

                  p = p.replace('.', ',');

                  $('#value_cc_pesos').val(p);
                }

                function convert_cc_uf(){

                  p = $('#value_cc_pesos').val().toString();

                  var i = 0, length = p.length;

                  for (i; i < length; i++) {

                    p = p.replace('.', '');

                  }

                  p = p.replace(',', '.');

                  p = parseFloat(p);

                  var x = ((p/<%= @brc_process.uf_value %>).toFixed(2)).toString();

                  x = x.replace(".", ",");

                  $('#value_cc_uf').val(x);

                }

                elem_cc_pesos = $('#value_cc_pesos');

                elem_cc_pesos.data('oldVal', elem_cc_pesos.val());

                // Look for changes in the value
                elem_cc_pesos.bind("propertychange change click keyup input paste", function(event){
                  // If value has changed...
                  if (elem_cc_pesos.data('oldVal') != elem_cc_pesos.val()) {
                    // Updated stored value
                    elem_cc_pesos.data('oldVal', elem_cc_pesos.val());

                    // Do action
                    convert_cc_uf();
                  }
                });

                $(function(){
                  convert_cc_uf();
                });

              </script>

            </div>



            <div class="row">
              <div class="col-md-12 col-xs-12">
                <br>
                <div class="alert alert-info">El depósito en Cta Cte será determinado por el monto bruto calculado menos los descuentos correspondientes</div>
              </div>
            </div>

          </div>



        </div>

        <% if !@brc_member.status_def || !@brc_member.status_val || !@brc_member.status_bon_cal || lms_time > @brc_process.choose_date || @brc_member.brc_member_files.size == 0 %>

          <script>

            $('.edit_brc_member :input').attr("disabled", true);

          </script>

        <% else %>

          <div class="panel-footer clearfix">

              <div class="row">

                <div class="col-md-10 col-xs-12 text-right">

                    <label>

                      <%= f.check_box :status_choose, onchange: 'set_send(this)', class: 'b_ie', checked: false %>

                      Confirmo que deseo realizar las distribuciones indicadas

                    </label>

                </div>
                <div class="col-md-2 col-xs-12 text-right">


                  <%= submit_tag 'Guardar', class: 'btn btn-default disabled', id: 'button_finish_definition', disabled: 'disabled'  %>
                  <a id= 'suggestion_make_check' data-toggle= 'tooltip' title= 'Para habilitar el botón Guardar debe indicar que confirma que desea realizar las desviaciones indicadas'>
                    <i class="fa fa-question"></i>
                  </a>

                </div>

              </div>


            <script>
              function set_send(c){

                if(c.checked){
                  $('#button_finish_definition').removeClass('disabled');
                  $('#button_finish_definition').removeClass('btn-default');
                  $('#button_finish_definition').addClass('btn-success');

                  $('#button_finish_definition').removeAttr('disabled');
                }else{
                  $('#button_finish_definition').removeClass('btn-success');
                  $('#button_finish_definition').addClass('btn-default');
                  $('#button_finish_definition').addClass('disabled');

                  $('#button_finish_definition').attr("disabled", "disabled");
                }

              }

              <% if $browser_ie8 %>

              $(function() {
                $('.b_ie').click(function() {
                  this.blur();
                  this.focus();
                });
              });

              <% end %>


            </script>

          </div>

        <% end %>

      </div>

    <% end %>

  </div>
</div>

<script>
  $('.yes_no_bootstrap_switch').bootstrapSwitch({
    onColor: 'success',
    onText: "Sí",
    offColor: 'danger',
    offText: "No",
    size: "small"
  });

  function set_cc(){

    if($('#brc_member_bonus_cc').is(":checked")){
      $('#container_si_cc').show();
      $('#container_no_cc').hide();
    }else{
      $('#container_no_cc').show();
      $('#container_si_cc').hide();
    }

  }

  $(function() {
    set_cc();
  });

</script>