<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a distribuir bono'.html_safe, brc_choose_show_path(@brc_process), class: 'btn btn-default', tabindex: '-1' %>

  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Bono rol comercial
      <span>> Distribuir bono </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos del proceso
        </legend>

        <div class="row">
          <div class="col-md-3 col-xs-4 text-right">
            <strong>Año</strong>
          </div>
          <div class="col-md-9 col-xs-8">
            <%= @brc_process.year %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 col-xs-4 text-right">
            <strong>Periodo</strong>
          </div>
          <div class="col-md-9 col-xs-8">
            <%= @brc_process.period_name %>
          </div>
        </div>



        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Límite desvíos</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @brc_process.choose_date, format: :day_snmonth_year_time) %>

            <% if lms_time > @brc_process.choose_date %>

                <span class="label label-danger">Hace
                  <%= distance_of_time_in_words(@brc_process.choose_date, lms_time) %>
                </span>

            <% else %>
                <span class="label label-primary">En
                  <%= distance_of_time_in_words(lms_time, @brc_process.choose_date) %>
                </span>
            <% end %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3 col-xs-4 text-right">
            <strong>Valor de la UF</strong>
          </div>
          <div class="col-md-9 col-xs-8">
            <%= number_with_precision(@brc_process.uf_value, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @brc_member_file, url: brc_choose_upload_file_path(@brc_process), method: :post, html: {class: 'form-horizontal', role: 'form', multipart: true} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Adjuntar formulario de APV o depósito convenido</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <% if $mobile_client %>

            <div class="row">
              <div class="col-md-3 col-xs-4 text-right">
                <strong>Bono Bruto</strong>
              </div>
              <div class="col-md-9 col-xs-8">
                <%= number_with_precision(@brc_member.bonus_total, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3 col-xs-4 text-right">
                <strong>Bono Liquido</strong>
              </div>
              <div class="col-md-9 col-xs-8">
                <%= number_with_precision(@brc_member.bonus_liquido, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3 col-xs-4 text-right">
                <strong>Retención</strong>
              </div>
              <div class="col-md-9 col-xs-8">
                <%= number_with_precision(@brc_member.bonus_retencion, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3 col-xs-4 text-right">
                <strong>% Retención</strong>
              </div>
              <div class="col-md-9 col-xs-8">
                <%= number_with_precision(@brc_member.bonus_p_retencion, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
              </div>
            </div>

          <% else %>

            <table class="table table-striped table-hover table-bordered">

              <thead>

              <tr>
                <th>Bono Bruto</th>
                <th>Bono Liquido</th>
                <th>Retención</th>
                <th>% Retención</th>
              </tr>

              </thead>

              <tbody>



              <tr>
                <td><%= number_with_precision(@brc_member.bonus_total, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></td>
                <td><%= number_with_precision(@brc_member.bonus_liquido, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></td>
                <td><%= number_with_precision(@brc_member.bonus_retencion, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></td>
                <td><%= number_with_precision(@brc_member.bonus_p_retencion, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></td>

              </tr>

              </tbody>
            </table>

          <% end %>

          <div class="form-group <%= field_with_errors f, :name %>">

            <%= f.label :name, 'Nombre', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :name, class: 'form-control' %>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= file_field 'upload', 'datafile', class: 'form-control' %>

              <br>

              <div class="alert alert-info">
                Basta con adjuntar una foto del formulario
              </div>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Adjuntar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>
