


<%= form_for @master_evaluation, html: {class: 'form-horizontal'} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos de la evaluación</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :nombre %>">

        <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :nombre, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :descripcion, 'Descripción', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.text_area :descripcion, rows: '5', class: 'form-control' %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :tags, 'Tags', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.text_area :tags, rows: '5', class: 'form-control' %>

        </div>

      </div>
      <% if @master_evaluation.master_evaluation_questions.size == 0 %>
        <div class="form-group">

          <%= f.label :has_topics, 'Preguntas agrupadas por tema', class: 'col-md-3 control-label'%>

          <div class="col-md-9">

            <%= f.check_box :has_topics %>

            <script>

              $('#master_evaluation_has_topics').bootstrapSwitch({
                onColor: 'success',
                onText: "Sí",
                offColor: 'danger',
                offText: "No",
                size: "small"
              });


            </script>

          </div>
        </div>
      <% end %>


    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

<% end %>


