<h1 class="page-title txt-color-blueDark">
  Evaluaciones
  <span>> Lista de evaluaciones </span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">


    <legend>Lista de evaluaciones</legend>
    <br><br>

    <table id="datatable_fixed_column" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">

      <thead>

        <tr>
          <th>Número</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Tags</th>
          <th>Preguntas agrupadas por tema</th>
          <th>Preguntas</th>
          <th colspan="2">
            <%= link_to 'Crear un nuevo pool de preguntas', new_master_evaluation_path %>
          </th>
        </tr>

        <tr>
          <td>
            <label class="input">
              <input type="text" class="hidden">
            </label>
          </td>
          <td>
            <label class="input">
              <input type="text">
            </label>
          </td>
          <td>
            <label class="input">
              <input type="text">
            </label>
          </td>
          <td>
            <label class="input">
              <input type="text">
            </label>
          </td>
          <td>
            <label class="input">
              <input type="text">
            </label>
          </td>
          <td>
            <label class="input">
              <input type="text">
            </label>
          </td>
          <td></td>
          <td></td>
        </tr>

      </thead>

      <tbody>

        <% @master_evaluations.each do |master_evaluation| %>
          <tr>
            <td><%= master_evaluation.numero %></td>
            <td><%= master_evaluation.nombre %></td>
            <td><%= master_evaluation.descripcion %></td>
            <td><%= master_evaluation.tags %></td>
            <td>
              <% if master_evaluation.has_topics? %>

                Sí

              <% end %>

            </td>
            <% n_preg = master_evaluation.master_evaluation_questions.count %>
            <td>
              <% if n_preg == 0 %>
                <span class="label label-default label-smart-table">No tiene preguntas</span>
              <% else %>
                <%= n_preg %>
              <% end %>

            </td>
            <td><%= link_to 'Configurar', master_evaluation %></td>
            <td><%= link_to 'Eliminar', delete_master_evaluation_path(master_evaluation) %></td>
          </tr>
        <% end %>
    </table>

  </div>
</div>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_fixed_column',
               file_name: 'Lista de evaluaciones'
           }
%>