
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de evaluaciones'.html_safe, master_evaluations_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluaciones
      <span>> Configurar evaluación </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Datos de la evaluación
        </legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Número</strong>
          </div>
          <div class="col-md-9">
            <%= @master_evaluation.numero %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @master_evaluation.nombre %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @master_evaluation.descripcion %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Tags</strong>
          </div>
          <div class="col-md-9">
            <%= @master_evaluation.tags %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Preguntas agrupadas por tema</strong>
          </div>
          <div class="col-md-9">
            <% if @master_evaluation.has_topics? %>

              <span class="label label-success">Sí</span>

            <% else %>

              <span class="label label-danger">No</span>

            <% end %>
          </div>
        </div>
        <br>

        <% n_preg = @master_evaluation.master_evaluation_questions.count %>
        <div class="row">
          <div class="col-md-3">
            <strong>Número de preguntas</strong>
          </div>
          <div class="col-md-9">
            <% if n_preg == 0 %>
              <span class="label label-default">no hay preguntas asignadas</span>
            <% else %>
              <%= n_preg %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to 'Editar', edit_master_evaluation_path(@master_evaluation) %>
          &nbsp;&nbsp;

          <% if @master_evaluation.user_course_evaluations.count > 0 %>

            No se pueden cargar preguntas. La prueba ya ha sido iniciada.

          <% else %>

            <%= link_to 'Cargar preguntas', upload_file_master_evaluation_path(@master_evaluation) %>

          <% end %>


        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Preguntas de la evaluación
        </legend>

        <% @master_evaluation.master_evaluation_questions.each_with_index do |question, index| %>


          <% if @master_evaluation.has_topics %>

          <div class="row">
            <div class="col-md-12">
              Tema: <%= question.master_evaluation_topic.nombre if question.master_evaluation_topic %> (<%= question.master_evaluation_topic.master_evaluation_questions.count if question.master_evaluation_topic %>)
              <br>

            </div>
          </div>

          <% end %>

          <div class="row pregunta-evaluacion-<%= $current_domain %>">
            <div class="col-md-1">
              <%= index+1 %>
            </div>
            <div class="col-md-10">


              <div class="row">

                <div class="col-md-2">
                  <% if question.disponible %>
                    <span class="label label-success">
                      Disponible
                    </span>
                  <% else %>
                    <span class="label label-danger">
                      No Disponible
                    </span>
                  <% end %>
                </div>

                <div class="col-md-2">

                  <% if question.obligatoria %>
                    <span class="label label-danger">Obligatoria</span>
                  <% else %>
                    <span class="label label-primary">Opcional</span>
                  <% end %>

                </div>
                <div class="col-md-2">
                  <%= question.puntaje %> <%= question.puntaje == 1 ? 'Punto' : 'Puntos' %>
                </div>
                <div class="col-md-2">
                  <% if question.tiempo %>
                    Duración: <%= question.tiempo %> segs.
                  <% else %>
                    <span class="label label-default">Sin límite de tiempo</span>
                  <% end %>
                </div>
                <div class="col-md-2">
                  Respuesta: <%= question.respuesta_unica ? 'única' : 'múltiple' %>
                </div>

              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <%= question.texto.html_safe %>
                </div>
              </div>
              <br>
              <% question.master_evaluation_alternatives.each_with_index do |alt, index_a| %>

                <div class="row alternativa-pregunta-evaluacion <%= 'alternativa-correcta-pregunta-evaluacion-'+$current_domain if alt.correcta %>">
                  <div class="col-md-1 col-md-offset-1">
                    <% if alt.correcta %>
                      <i class="fa fa-check"></i>
                    <% end %>
                  </div>
                  <div class="col-md-1">
                    <strong><%= alt.letra %>. </strong>
                  </div>
                  <div class="col-md-9"><%= alt.texto.html_safe %></div>
                </div>

              <% end %>

            </div>

            <div class="col-md-1">
              <%= link_to 'Editar', master_evaluation_edit_question_path(@master_evaluation,question) %>
            </div>

          </div>

          <br>

        <% end %>

      </div>
    </div>
  </div>
</div>


