

<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar la evaluación'.html_safe, @master_evaluation, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluaciones
      <span>> Cargar preguntas </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% if @lineas_error && @lineas_error.length > 0 %>

      <table class="table table-striped table-hover table-condensed table-bordered">

        <thead>
        <tr>
          <th>Línea</th>
          <th>Errores</th>

        </tr>
        </thead>

        <tbody>

        <% @lineas_error.each_with_index do |l,index| %>

          <tr>
            <td><%= l %></td>
            <td>
              <% @lineas_error_messages[index].each do |error| %>
                <li class="text-danger"><%= error %></li>
              <% end %>
            </td>

          </tr>

        <% end %>

        </tbody>

      </table>



    <% end %>



  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Datos de la evaluación
        </legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Número</strong>
          </div>
          <div class="col-md-9">
            <%= @master_evaluation.numero %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @master_evaluation.nombre %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @master_evaluation.descripcion %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Tags</strong>
          </div>
          <div class="col-md-9">
            <%= @master_evaluation.tags %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Preguntas agrupadas por tema</strong>
          </div>
          <div class="col-md-9">
            <% if @master_evaluation.has_topics? %>

              <span class="label label-success">Sí</span>

            <% else %>

              <span class="label label-danger">No</span>

            <% end %>
          </div>
        </div>
        <br>

        <% n_preg = @master_evaluation.master_evaluation_questions.count %>
        <div class="row">
          <div class="col-md-3">
            <strong>Número de preguntas</strong>
          </div>
          <div class="col-md-9">
            <% if n_preg == 0 %>
              <span class="label label-default">no hay preguntas asignadas</span>
            <% else %>
              <%= n_preg %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">


    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Formato de archivo</legend>

        <table class="table table-bordered table-condensed">

          <thead>
            <tr>

              <th>texto</th>
              <th>obligatoria/opcional</th>
              <th>puntaje</th>
              <th>tiempo (segs)</th>
              <th>resp. unica/multiple</th>
              <th>respuesta</th>
              <th>alt 1</th>
              <th>alt 2</th>
              <th>alt 3</th>
              <th>alt 4</th>
              <th>altN</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>¿Qué navegador Usas?</td>
              <td>obligatoria</td>
              <td>2</td>
              <td>0</td>
              <td>unica</td>
              <td>1</td>
              <td>Chrome</td>
              <td>Firefox</td>
              <td>Internet Explorer</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>¿Dónde se ubica EXA?</td>
              <td>opcional</td>
              <td>1.75</td>
              <td>60</td>
              <td>multiple</td>
              <td>1-3</td>
              <td>Chile</td>
              <td>Ecuador</td>
              <td>Perú</td>
              <td>USA</td>
              <td>Brazil</td>
            </tr>
          </tbody>

        </table>


      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for upload_file_master_evaluation_path(@master_evaluation), html: {class: 'form-horizontal', multipart: true} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Cargar archivo</legend>

            <div class="form-group">

              <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

              <div class="col-md-9">

                <%= file_field 'upload', 'datafile', class: 'form-control' %>

              </div>

            </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Subir', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    <% end %>


  </div>
</div>

