<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de procesos'.html_safe, brc_validate_list_processes_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Bono rol comercial
      <span>> Validar bonos </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos del proceso
        </legend>

        <div class="row">
          <div class="col-md-3 col-xs-4 text-right">
            <strong>Año</strong>
          </div>
          <div class="col-md-9 col-xs-8">
            <%= @brc_process.year %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 col-xs-4 text-right">
            <strong>Periodo</strong>
          </div>
          <div class="col-md-9 col-xs-8">
            <%= @brc_process.period_name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 col-xs-4 text-right">
            <strong>Límite de tiempo para realizar la validación</strong>
          </div>
          <div class="col-md-9 col-xs-8">
            <%= (localize @brc_process.val_date, format: :day_snmonth_syear) %>

            <% if lms_time > @brc_process.val_date %>
              <span class="label label-danger">Hace
                <%= distance_of_time_in_words(@brc_process.val_date, lms_time) %>
              </span>
            <% else %>
              <span class="label label-primary">En
                <%= distance_of_time_in_words(lms_time, @brc_process.val_date) %>
              </span>
            <% end %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Validar bonos</legend>

        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#by_categories" aria-controls="Categorías" role="tab" data-toggle="tab">Por categorías</a></li>

          <% unless $mobile_client %>

          <li role="presentation"><a href="#by_people" aria-controls="Personas" role="tab" data-toggle="tab">Por persona</a></li>

          <% end %>

        </ul>

        <br>

        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="by_categories">

              <% @characteristic_company.characteristic_values.each do |c_v| %>

                <% if @companies_ids.include? c_v.id %>

                  <% BrcCategory.all.each do |brc_c| %>

                    <% t = 0 %>

                    <% @brc_members.each do |brc_m| %>

                      <% c_id = brc_m.user.characteristic_value @characteristic_company %>

                      <% if c_id == c_v.id %>

                        <% brc_m.brc_bonus_items.each do |brc_m_i| %>

                          <% if brc_m_i.brc_category_id == brc_c.id %>

                            <% t += brc_m_i.p_a ? brc_m_i.amount_c : brc_m_i.amount %>

                          <% end %>

                        <% end %>

                      <% end %>

                    <% end %>

                    <div class="panel panel-default" id="bono_com_categ_<%= c_v.id %>_<%= brc_c.id %>">
                      <div class="panel-body">

                        <div class="row">
                          <div class="col-md-3 col-xs-4 text-right">
                            <strong>Empresa</strong>
                          </div>
                          <div class="col-md-9 col-xs-8">
                            <%= c_v.value_string %>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-md-3 col-xs-4 text-right">
                            <strong>Categoría</strong>
                          </div>
                          <div class="col-md-9 col-xs-8">
                            <%= brc_c.name %>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-md-3 col-xs-4 text-right">
                            <strong>Bono</strong>
                          </div>
                          <div class="col-md-9 col-xs-8">
                            <%= number_with_precision(t, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne_<%= c_v.id %>_<%= brc_c.id %>" id="vd_vd_<%= c_v.id %>_<%= brc_c.id %>" onclick="vd_vd_ct_<%= c_v.id %>_<%= brc_c.id %>()">Ver detalle</a>

                            <script>
                              function vd_vd_ct_<%= c_v.id %>_<%= brc_c.id %>(){
                                if($("#vd_vd_<%= c_v.id %>_<%= brc_c.id %>").html() == 'Ver detalle'){
                                  $("#vd_vd_<%= c_v.id %>_<%= brc_c.id %>").html('Ocultar detalle');
                                }else{
                                  $("#vd_vd_<%= c_v.id %>_<%= brc_c.id %>").html('Ver detalle');
                                }
                              }
                            </script>

                          </div>
                        </div>



                        <% num_to_validate = 0 %>
                        <% pending_validate = 0 %>
                        <div id="collapseOne_<%= c_v.id %>_<%= brc_c.id %>" class="panel-collapse collapse">
                          <br><br>

                            <% @brc_members.each_with_index do |brc_member| %>

                              <% uc_c = brc_member.user.user_characteristic @characteristic_company %>

                              <% if uc_c.value == c_v.id %>

                                <% brc_member.brc_bonus_items.each_with_index do |brc_bonus_item| %>

                                  <% if brc_bonus_item.brc_category_id == brc_c.id %>

                                    <div class="panel panel-default">
                                      <div class="panel-body">

                                        <div class="row">
                                          <div class="col-md-3 col-xs-4 text-right">
                                            <strong>Empleado</strong>
                                          </div>
                                          <div class="col-md-9 col-xs-8">
                                            <%= brc_member.user.apellidos %>, <%= brc_member.user.nombre %>
                                          </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                          <div class="col-md-3 col-xs-4 text-right">
                                            <strong>Bono</strong>
                                          </div>
                                          <div class="col-md-9 col-xs-8">
                                            <%= brc_bonus_item.secu_cohade.name %>

                                            <% if brc_bonus_item.p_a %>
                                              <%= number_with_precision(brc_bonus_item.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %> % SUBASO
                                            <% else %>
                                              <%= number_with_precision(brc_bonus_item.amount, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %> pesos
                                            <% end %>
                                          </div>
                                        </div>

                                      </div>

                                      <div class="panel-footer clearfix">

                                        <% if brc_member.status_def %>

                                          <% if brc_member.status_val %>
                                            <div class="text-align-right">
                                              <span class="label label-success">Validado</span>
                                            </div>

                                          <% else %>
                                            <% if brc_bonus_item.validated.nil? %>

                                              <% num_to_validate += 1 %>
                                              <% pending_validate += 1 %>

                                              <div class="row">
                                                <div class="col-md-9 col-xs-6">
                                                  <%= form_tag brc_validate_validate_item_path(@brc_process, c_v, brc_c, brc_bonus_item), method: :post, id: 'form_brc_validate_'+c_v.id.to_s+'_'+brc_c.id.to_s+'_'+brc_bonus_item.id.to_s do |f| %>

                                                    <input type="hidden" name="validate_bonus_item_<%= brc_bonus_item.id %>" value="0">

                                                    Comentario<br>
                                                    <textarea name="validate_bonus_item_<%= brc_bonus_item.id %>_comment" class="form-control"><%= brc_bonus_item.val_comment %></textarea>

                                                    <br>
                                                    <%= submit_tag 'Rechazar', class: 'btn btn-xs btn-danger', id: 'button_finish_validation_item_'+brc_bonus_item.id.to_s, data: { confirm: '¿Está seguro rechazar el bono?' } %>

                                                  <% end %>

                                                </div>
                                                <div class="col-md-3 col-xs-6 text-align-right">
                                                  <%= form_tag brc_validate_validate_item_path(@brc_process, c_v, brc_c, brc_bonus_item), method: :post, id: 'form_brc_validate_'+c_v.id.to_s+'_'+brc_c.id.to_s+'_'+brc_bonus_item.id.to_s do |f| %>

                                                    <input type="hidden" name="validate_bonus_item_<%= brc_bonus_item.id %>" value="1">
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <%= submit_tag 'Validar', class: 'btn btn-xs btn-success', id: 'button_finish_validation_item_'+brc_bonus_item.id.to_s, data: { confirm: '¿Está seguro validar el bono?' } %>

                                                  <% end %>

                                                </div>
                                              </div>



                                            <% elsif brc_bonus_item.rejected %>

                                              <div class="text-align-right">
                                                <span class="label label-danger">Rechazado</span>

                                                <% unless brc_bonus_item.val_comment.blank? %>

                                                  <br>
                                                  <%= brc_bonus_item.val_comment %>

                                                <% end %>
                                              </div>



                                            <% elsif brc_bonus_item.validated %>
                                              <div class="text-align-right">
                                                <span class="label label-success">Validado</span>
                                              </div>
                                            <% else %>

                                              <div class="row">
                                                <div class="col-md-9 col-xs-6">
                                                  <%= form_tag brc_validate_validate_item_path(@brc_process, c_v, brc_c, brc_bonus_item), method: :post, id: 'form_brc_validate_'+c_v.id.to_s+'_'+brc_c.id.to_s+'_'+brc_bonus_item.id.to_s do |f| %>

                                                    <input type="hidden" name="validate_bonus_item_<%= brc_bonus_item.id %>" value="0">

                                                    Comentario<br>
                                                    <textarea name="validate_bonus_item_<%= brc_bonus_item.id %>_comment" class="form-control"><%= brc_bonus_item.val_comment %></textarea>

                                                    <br>
                                                    <%= submit_tag 'Rechazar', class: 'btn btn-xs btn-danger', id: 'button_finish_validation_item_'+brc_bonus_item.id.to_s, data: { confirm: '¿Está seguro rechazar el bono?' } %>

                                                  <% end %>

                                                </div>
                                                <div class="col-md-3 col-xs-6 text-align-right">
                                                  <%= form_tag brc_validate_validate_item_path(@brc_process, c_v, brc_c, brc_bonus_item), method: :post, id: 'form_brc_validate_'+c_v.id.to_s+'_'+brc_c.id.to_s+'_'+brc_bonus_item.id.to_s do |f| %>

                                                    <input type="hidden" name="validate_bonus_item_<%= brc_bonus_item.id %>" value="1">
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <%= submit_tag 'Validar', class: 'btn btn-xs btn-success', id: 'button_finish_validation_item_'+brc_bonus_item.id.to_s, data: { confirm: '¿Está seguro validar el bono?' } %>

                                                  <% end %>

                                                </div>
                                              </div>



                                            <% end %>
                                          <% end %>
                                        <% else %>

                                          <% if brc_bonus_item.rejected %>

                                            <div class="text-align-right">
                                              <span class="label label-danger">Rechazado</span>

                                              <% unless brc_bonus_item.val_comment.blank? %>

                                                <br>
                                                <%= brc_bonus_item.val_comment %>

                                              <% end %>
                                            </div>

                                          <% else %>

                                            <div class="text-align-right">
                                              <span class="label label-primary">No definido</span>
                                            </div>

                                          <% end %>

                                          <% pending_validate += 1 %>
                                        <% end %>

                                      </div>

                                    </div>

                                  <% end %>

                                <% end %>

                              <% end %>

                            <% end %>
                        </div>

                      </div>

                      <div class="panel-footer clearfix">

                        <div class="row" id="form_container_<%= c_v.id %>_<%= brc_c.id %>">

                          <div class="col-md-6 col-xs-6">
                            <%= form_tag brc_validate_massive_validate_categ_path(@brc_process, c_v, brc_c), method: :post, id: 'form_brc_validate_'+c_v.id.to_s+'_'+brc_c.id.to_s do |f| %>

                              <input type="hidden" name="validate_bonus_categ_<%= c_v.id %>_<%= brc_c.id %>" value="0">

                              <strong>Comentario<br></strong>
                              <textarea name="comment_categ_<%= c_v.id %>_<%= brc_c.id %>" class="form-control"></textarea>

                              <br>

                              <%= submit_tag 'Rechazar', class: 'btn btn-danger', id: 'button_finish_validation_categ_'+c_v.id.to_s+'_'+brc_c.id.to_s, data: { confirm: '¿Está seguro de rechazar la categoría?' } %>

                              <br><em>Al rechazar, el comentario es obligatorio</em>


                          <% end %>

                          </div>

                          <div class="col-md-3 col-md-offset-3 col-xs-6">
                            <%= form_tag brc_validate_massive_validate_categ_path(@brc_process, c_v, brc_c), method: :post, id: 'form_brc_validate_'+c_v.id.to_s+'_'+brc_c.id.to_s do |f| %>

                              <input type="hidden" name="validate_bonus_categ_<%= c_v.id %>_<%= brc_c.id %>" value="1">
                              <div class="text-align-right">

                                <br>
                                <br>
                                <br>
                                <br>
                                <br>

                              <%= submit_tag 'Validar', class: 'btn btn-success', id: 'button_finish_validation_categ_'+c_v.id.to_s+'_'+brc_c.id.to_s, data: { confirm: '¿Está seguro de validar la categoría?' } %>

                              </div>
                            <% end %>

                          </div>

                        </div>

                        <% if num_to_validate == 0 %>

                          <script>
                            $("#form_container_<%= c_v.id %>_<%= brc_c.id %>").hide();
                          </script>

                          <% if pending_validate == 0 %>

                            <div class="text-align-right">

                            <span class="label label-success">Categoría validada</span>

                            </div>

                          <% else %>

                            <div class="text-align-right">

                              <span class="label label-primary">Pendientes de definir</span>

                            </div>

                          <% end %>

                        <% end %>

                      </div>

                    </div>

                    <% if t == 0 %>

                      <script>
                        $("#bono_com_categ_<%= c_v.id %>_<%= brc_c.id %>").hide();
                      </script>

                    <% end %>

                  <% end %>

                <% end %>

              <% end %>

          </div>
          <% unless $mobile_client %>
          <div role="tabpanel" class="tab-pane" id="by_people">

            <div class="text-right">

              <%= link_to 'Validación masiva por persona', brc_validate_massive_validate_path(@brc_process) %>

            </div>

            <table id="datatable_validate" class="table table-striped table-bordered smart-form table-hover" width="100%" style="font-size: 11px;">

              <thead>

              <tr>
                <th>#</th>
                <th><%= alias_username %></th>
                <th>Apellidos</th>
                <th>Nombre</th>
                <th>Empresa</th>
                <th>Definido</th>
                <th>Validado</th>
                <th></th>
              </tr>

              <tr>
                <td>
                  <label class="input">
                    <input type="text" class="hidden">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td></td>
              </tr>


              </thead>

              <tbody>
              <% @brc_members.each_with_index do |brc_member, index| %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= brc_member.user.codigo %></td>
                  <td><%= brc_member.user.apellidos %></td>
                  <td><%= brc_member.user.nombre %></td>
                  <td><%= brc_member.user.formatted_characteristic_value @characteristic_company %></td>
                  <td><%= label_yes_not_datable brc_member.status_def %></td>
                  <td>
                    <% if brc_member.status_val %>
                      <%= label_yes_not_datable brc_member.status_val %>
                    <% else %>

                      <% if brc_member.status_rej %>
                        <span class="label label-danger label-smart-table">&nbsp;Rechazado&nbsp;</span>
                      <% else %>
                        <%= label_yes_not_datable brc_member.status_val %>
                      <% end %>

                    <% end %>
                  </td>
                  <td>

                    <% if brc_member.status_val %>
                      <%= link_to 'Consultar', brc_validate_show_path(brc_member) %>
                    <% else %>
                      <% if brc_member.status_def %>
                        <%= link_to 'Validar', brc_validate_show_path(brc_member) %>
                      <% end %>
                    <% end %>

                  </td>
                </tr>
              <% end %>

              </tbody>
            </table>

          </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_validate'
           }
%>

<script>
  var rd = true;
  $(document).ready(function () {
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      if(rd) {
        var target = $(e.target).attr("href")
        if (target == '#by_people') {
          $('#datatable_validate').DataTable().draw();
          rd = false;
        }
      }
    });

  });
</script>
