
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h1 class="page-title txt-color-blueDark">
      Bono rol comercial
      <span>> Validar bonos </span>
    </h1>

  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>
            <th>#</th>
            <th>Año</th>
            <th>Periodo</th>
            <th>Pendientes</th>
            <th></th>
          </tr>

          </thead>

          <tbody>
          <% @brc_processes.each_with_index do |brc_process, index| %>

            <% companies_ids = Array.new %>

            <% brc_process.brc_definers_by_validator(user_connected).each do |brc_definer| %>
              <% companies_ids += brc_definer.brc_definer_companies.map { |brc_d_c| brc_d_c.characteristic_value_id } %>
            <% end %>

            <tr>
              <td><%= index+1 %></td>
              <td><%= brc_process.year %></td>
              <td><%= brc_process.period_name %></td>
              <td>
                <%= brc_process.num_brc_members_to_validate_by_companies_ids_pending(companies_ids) %> / <%= brc_process.num_brc_members_to_define_by_companies_ids(companies_ids) %>

              </td>
              <td><%= link_to 'Validar', brc_validate_list_people_path(brc_process) %></td>
            </tr>
          <% end %>

          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
