<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a validar bonos'.html_safe, brc_validate_list_people_path(@brc_process), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Bono rol comercial
      <span>> Validación masiva de bonos </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos del proceso
        </legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Año</strong>
          </div>
          <div class="col-md-9">
            <%= @brc_process.year %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Periodo</strong>
          </div>
          <div class="col-md-9">
            <%= @brc_process.period_name %>
          </div>
        </div>



        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Activo</strong>
          </div>
          <div class="col-md-9">
            <%= label_yes_not @brc_process.active %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Límite de tiempo para realizar la validación</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @brc_process.val_date, format: :day_snmonth_syear) %>

            <% if lms_time > @brc_process.val_date %>
              <span class="label label-danger">Hace
                <%= distance_of_time_in_words(@brc_process.val_date, lms_time) %>
              </span>
            <% else %>
              <span class="label label-primary">En
                <%= distance_of_time_in_words(lms_time, @brc_process.val_date) %>
              </span>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<% if @lineas_error && @lineas_error.length > 0 %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default">
        <div class="panel-body">

          <table class="table table-striped table-hover table-condensed table-bordered">

            <thead>
            <tr>
              <th>Línea</th>
              <th>Errores</th>
              <th>Detalle</th>

            </tr>
            </thead>

            <tbody>

            <% @lineas_error.each_with_index do |l,index| %>

              <tr>
                <td><%= l %></td>
                <td>
                  <% @lineas_error_messages[index].each do |error| %>
                    <li class="text-danger"><%= error %></li>
                  <% end %>
                </td>
                <td><%= @lineas_error_detalle[index] %></td>
              </tr>

            <% end %>

            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>


<% end %>


<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to 'Descargar bonos definidos para validar', brc_validate_download_massive_validate_excel_format_path(@brc_process) %>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <%= form_for brc_validate_massive_validate_path(@brc_process), html: {class: 'form-horizontal', multipart: true} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Validar bonos</legend>

          <div class="form-group">

            <%= f.label :file, 'Archivo XLSX', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= file_field 'upload', 'datafile', class: 'form-control' %>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Cargar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>


  </div>
</div>

