<h1>Listing pe_alternatives</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Value</th>
    <th>Pe question</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pe_alternatives.each do |pe_alternative| %>
  <tr>
    <td><%= pe_alternative.description %></td>
    <td><%= pe_alternative.value %></td>
    <td><%= pe_alternative.pe_question %></td>
    <td><%= link_to 'Show', pe_alternative %></td>
    <td><%= link_to 'Edit', edit_pe_alternative_path(pe_alternative) %></td>
    <td><%= link_to 'Destroy', pe_alternative, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pe alternative', new_pe_alternative_path %>
