<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.bp_condition_vacations.backlist.condition_vacations_list')).html_safe, bp_groups_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_condition_vacations.legends.condition_vacations_list') %>
      <span>> <%= t('views.bp_condition_vacations.flow_process.new') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'form',
               :locals => {:condition_vacation => @bp_condition_vacation} %>

  </div>
</div>