<p id="notice"><%= notice %></p>

<p>
  <b>Bp season:</b>
  <%= @bp_condition_vacation.bp_season %>
</p>

<p>
  <b>Bp rule vacation:</b>
  <%= @bp_condition_vacation.bp_rule_vacation %>
</p>

<p>
  <b>Priority:</b>
  <%= @bp_condition_vacation.priority %>
</p>

<p>
  <b>Bonus days:</b>
  <%= @bp_condition_vacation.bonus_days %>
</p>

<p>
  <b>Bonus money:</b>
  <%= @bp_condition_vacation.bonus_money %>
</p>

<p>
  <b>Bonus currency:</b>
  <%= @bp_condition_vacation.bonus_currency %>
</p>

<p>
  <b>Days since:</b>
  <%= @bp_condition_vacation.days_since %>
</p>

<p>
  <b>Days until:</b>
  <%= @bp_condition_vacation.days_until %>
</p>

<p>
  <b>Antiquity:</b>
  <%= @bp_condition_vacation.antiquity %>
</p>

<p>
  <b>Since:</b>
  <%= @bp_condition_vacation.since %>
</p>

<p>
  <b>Until:</b>
  <%= @bp_condition_vacation.until %>
</p>

<p>
  <b>Period times:</b>
  <%= @bp_condition_vacation.period_times %>
</p>

<p>
  <b>Period anniversary:</b>
  <%= @bp_condition_vacation.period_anniversary %>
</p>

<p>
  <b>Period begin 1:</b>
  <%= @bp_condition_vacation.period_begin_1 %>
</p>

<p>
  <b>Period begin 2:</b>
  <%= @bp_condition_vacation.period_begin_2 %>
</p>

<p>
  <b>Period condition begin:</b>
  <%= @bp_condition_vacation.period_condition_begin %>
</p>

<p>
  <b>Period condition min days:</b>
  <%= @bp_condition_vacation.period_condition_min_days %>
</p>

<p>
  <b>Period condition min percent:</b>
  <%= @bp_condition_vacation.period_condition_min_percent %>
</p>

<p>
  <b>Season condition begin:</b>
  <%= @bp_condition_vacation.season_condition_begin %>
</p>

<p>
  <b>Season condition min days:</b>
  <%= @bp_condition_vacation.season_condition_min_days %>
</p>

<p>
  <b>Season condition min percent:</b>
  <%= @bp_condition_vacation.season_condition_min_percent %>
</p>

<p>
  <b>Active:</b>
  <%= @bp_condition_vacation.active %>
</p>

<p>
  <b>Deactivated at:</b>
  <%= @bp_condition_vacation.deactivated_at %>
</p>

<p>
  <b>Deactivated by admin:</b>
  <%= @bp_condition_vacation.deactivated_by_admin_id %>
</p>

<p>
  <b>Registered at:</b>
  <%= @bp_condition_vacation.registered_at %>
</p>

<p>
  <b>Registered by admin:</b>
  <%= @bp_condition_vacation.registered_by_admin_id %>
</p>


<%= link_to 'Edit', edit_bp_condition_vacation_path(@bp_condition_vacation) %> |
<%= link_to 'Back', bp_condition_vacations_path %>
