<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process,'managers'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Añadir gestores </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/show' %>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-striped table-hover table-bordered">

          <thead>
          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th>Apellidos</th>
            <th>Nombre</th>

          </tr>
          </thead>

          <tbody>


          <% @pe_process.pe_managers.each_with_index do |pe_manager, index| %>

            <tr>
              <td><%= index+1 %></td>
              <td><%= pe_manager.user.codigo %></td>
              <td><%= pe_manager.user.apellidos %></td>
              <td><%= pe_manager.user.nombre %></td>
            </tr>

          <% end %>

          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= form_for @user, url: pe_managers_search_path(@pe_process), method: :post do |f| %>
          <div class="row">

            <div class="col-md-5">
              <label>&nbsp;Apellidos</label>
            </div>

            <div class="col-md-5">
              <label>&nbsp;Nombre</label>
            </div>

            <div class="col-md-2">

            </div>

          </div>
          <div class="row">

            <div class="col-md-5">
              <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>
            </div>

            <div class="col-md-5">
              <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>
            </div>

            <div class="col-md-2">
              <%= f.submit 'Buscar', class: 'btn btn-primary' %>
            </div>

          </div>

        <% end %>
      </div>
    </div>

  </div>
  </div>

<br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>
            <th>#</th>
            <th>Código</th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th></th>
          </tr>

          </thead>

          <tbody>

          <% @users.each_with_index do |user, index| %>
            <tr>

              <td><%= index+1 %></td>
              <td><%= user.codigo %></td>
              <td><%= user.apellidos %></td>
              <td><%= user.nombre %></td>
              <td>
                <%= link_to 'Asignar', pe_managers_add_manager_path(@pe_process, user) %>
              </td>

            </tr>
          <% end %>


          </tbody>

        </table>

      </div>
    </div>

  </div>
</div>