<div class="row">
  <div class="col-md-3">

    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de menús'.html_safe, ct_menus_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-bars" aria-hidden="true"></i>
      Menús
      <span>> Editar menú</span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">


    <%= form_for @ct_menu, html: {class: 'form-horizontal'} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Datos del menú</legend>


          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group <%= field_with_errors f, :nombre %>">

            <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= @ct_menu.name %>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :position %>">

            <%= f.label :position, 'Posición', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.number_field :position, class: 'form-control' %>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :user_menu_alias %>">

            <%= f.label :user_menu_alias, 'Alias menú de usuario', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :user_menu_alias, class: 'form-control' %>

            </div>

          </div>

          


        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    <% end %>



  </div>
</div>