<table id="datatable_bp_general_rules_vacations" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <th><%= t('activerecord.attributes.bp_general_rules_vacation.legal_days') %></th>
    <th><%= t('activerecord.attributes.bp_general_rules_vacation.progressive_days_step') %></th>
    <th><%= t('activerecord.attributes.bp_general_rules_vacation.progressive_max_days') %></th>
    <th><%= t('activerecord.attributes.bp_general_rules_vacation.accumulated_max_days') %></th>
    <th><%= t('activerecord.attributes.bp_general_rules_vacation.accumulated_max_real_days') %></th>
    <th><%= t('activerecord.attributes.bp_general_rules_vacation.active') %></th>
    <th><%= t('activerecord.attributes.bp_general_rules_vacation.since') %></th>
    <th><%= t('activerecord.attributes.bp_general_rules_vacation.until') %></th>
    <th><%= link_to t('views.bp_general_rules_vacations.flow_process.new'), bp_admin_general_rules_vacation_new_path(group) %></th>
  </tr>

  <tr class="second">
    <td><label style="display: none" class="input"><input type="text" name="search_num" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_legal_days" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_progressive_days" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_progressive_max_days" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_accumulated_max_days" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_accumulated_max_real_days" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_active" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_since" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_until" value="" class="search_init"></label></td>
    <td></td>
  </tr>
  </thead>

  <% group.bp_general_rules_vacations.each_with_index do |general_rules_vacation, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td align="right"><%= general_rules_vacation.legal_days %></td>
      <td align="right"><%= general_rules_vacation.progressive_days_step %></td>
      <td align="right"><%= general_rules_vacation.progressive_max_days %></td>
      <td align="right"><%= general_rules_vacation.accumulated_max_days %></td>
      <td align="right"><%= general_rules_vacation.accumulated_max_real_days %></td>
      <td><%= label_yes_not_datable(general_rules_vacation.active?(lms_time)) %></td>
      <td><%= (localize general_rules_vacation.since, format: :day_snmonth_year).to_s+' '+general_rules_vacation.since.strftime('%H:%M') if general_rules_vacation.since %></td>
      <td><%= (localize general_rules_vacation.until, format: :day_snmonth_year).to_s + ' ' + general_rules_vacation.until.strftime('%H:%M') if general_rules_vacation.until %></td>
      <% if BpGeneralRulesVacation.find(general_rules_vacation.id).until %>
        <td><%= link_to t('views.bp_general_rules_vacations.flow_process.show'), bp_admin_general_rules_vacation_edit_path(group, general_rules_vacation) %></td>
      <% else %>
        <td><%= link_to t('views.bp_general_rules_vacations.flow_process.edit'), bp_admin_general_rules_vacation_edit_path(group, general_rules_vacation) %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_bp_general_rules_vacations'} %>