<div class="row">
  <div class="panel-group col-md-12 col-md-offset-0" id="accordion_group">

    <% groups.each_with_index do |group, index| %>

      <div class="panel panel-default">

        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_group" href="#collapse_group_<%= index %>"><%= group.name %></a>
            &nbsp;&nbsp;&nbsp;<%= link_to '(gestión)', bp_admin_group_manage_path(group) %>
          </h4>
        </div>

        <div id="collapse_group_<%= index %>" class="panel-collapse collapse <%= 'in' if index.zero? %>">
          <div class="panel-body">


            <div class="row">
              <div class="panel-group col-md-12" id="accordion_group_detail<%= group.id %>">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion_group_detail<%= group.id %>" href="#collapse_general_rules_<%= group.id %>"><%= 'Reglas generales' %></a>
                    </h4>
                  </div>

                  <div id="collapse_general_rules_<%= group.id %>" class="panel-collapse collapse>">
                    <div class="panel-body">
                      <% group.bp_general_rules_vacations.each do |rule| %>
                        <%= 'Legales: '+rule.legal_days.to_s %>
                        <%= link_to '('+t('views.bp_general_rules_vacations.flow_process.edit')+')', bp_admin_general_rules_vacation_edit_path(group, rule) %>
                        <br>
                      <% end %>
                    </div>
                  </div>
                </div>


                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion_group_detail<%= group.id %>" href="#collapse_vacation_bonuses_<%= group.id %>"><%= 'Bonos de vacaciones' %></a>
                    </h4>
                  </div>

                  <div id="collapse_vacation_bonuses_<%= group.id %>" class="panel-collapse collapse>">
                    <div class="panel-body">
                      <% group.bp_rule_vacations.each do |rule| %>
                        <%= rule.name %>
                        <%= link_to '('+t('views.bp_rule_vacations.flow_process.manage')+')', bp_admin_rule_vacation_manage_path(group,rule)  %>
                        <br><br>
                      <% end %>
                    </div>
                  </div>

                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion_group_detail<%= group.id %>" href="#collapse_benefits_<%= group.id %>"><%= 'Beneficios' %></a>
                    </h4>
                  </div>

                  <div id="collapse_vacation_bonuses_<%= group.id %>" class="panel-collapse collapse>">
                    <div class="panel-body">
                      <% group.bp_licenses.each do |rule| %>
                        <%= rule.name %>
                          <br>
                        <%= link_to '('+t('views.bp_licenses.flow_process.edit'), bp_admin_licenses_edit_path(group, rule) %>
                        <%= link_to ' - Nueva versión)', bp_admin_licenses_new_version_path(rule) %>
                        <br><br>
                      <% end %>
                    </div>
                  </div>

                </div>

              </div>
            </div>


          </div>
        </div>


      </div>

    <% end %>

  </div>
</div>