<%= form_for group, url: bp_admin_group_edit_path(group) , html: {class: 'form-horizontal', id: 'edit_bp_group_form'}, method: :post do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <legend> <%= t('views.bp_groups.legends.group_info') %> </legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :name %>">
        <%= f.label :name, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, class: 'form-control'%>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :description, rows: '3', class: 'form-control' %>
        </div>
      </div>

      <legend> <%= t('views.bp_groups.legends.validity_period') %> </legend>

      <% until_form = group.until %>
      <% if BpGroup.find(group.id).until %>
        <div class="row">
          <div class="col-md-3" align="right"><strong><%= t('activerecord.attributes.bp_group.active') %></strong></div>
          <div class="col-md-9"><%= label_yes_not(group.active?(lms_time)) %></div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3" align="right"><strong><%= t('activerecord.attributes.bp_group.since') %></strong></div>
          <div class="col-md-9"><%= (localize group.since, format: :day_snmonth_year).to_s + ' ' + group.since.strftime('%H:%M') %>
            <br> <em><%= t('views.bp_groups.explanation.since') %></em>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3" align="right"><strong><%= t('activerecord.attributes.bp_group.until') %></strong></div>
          <div class="col-md-9"><%= (localize group.until, format: :day_snmonth_year).to_s + ' ' + group.until.strftime('%H:%M') %>
            <br> <em><%= t('views.bp_groups.explanation.until') %></em>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-md-3" align="right"><%= t('activerecord.attributes.bp_group.active') %></div>
          <div class="col-md-9"><%= label_yes_not(group.active?(lms_time)) %></div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3" align="right"><%= t('activerecord.attributes.bp_group.since') %></div>
          <div class="col-md-9"><%= (localize group.since, format: :day_snmonth_year).to_s + ' ' + group.since.strftime('%H:%M') %>
            <br> <em><%= t('views.bp_groups.explanation.since') %></em>
          </div>
        </div>
        <br>
        <div class="form-group <%= field_with_errors f, :until %>">
          <%= f.label :until, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <div class="input-group date">
              <%= f.text_field :until, class: 'form-control datetime', :data => {:format => '%d/%m/%Y %H:%M'}, :value => until_form ? until_form.strftime('%d/%m/%Y %H:%M') : '', :readonly => true %>
              <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            </div>
            <em><%= t('views.bp_groups.explanation.until') %></em>
          </div>
        </div>
      <% end %>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit t('views.bp_groups.flow_process.save'), class: 'btn btn-primary' %>
      </div>
    </div>

  </div>
<% end %>

<script>
    $('.datetime').datetimepicker({
        language: 'es',
        pickTime: true,
        pickDate: true
    });
</script>