<% licenses.each do |license| %>
  <% recorder_request = defined?(recorder_request) ? recorder_request : nil %>
  <% group_manager = defined?(group_manager) ? group_manager : nil %>
  <% url_to_go = bp_admin_license_info_modal_path(license) %>
  <% benefit_bonus = '' %>
  <% benefit_bonus += license.days.to_s + ' días' if license.days %>
  <% benefit_bonus += ' - ' if license.days && license.money %>
  <% benefit_bonus += license.money.to_s + ' ' + license.currency.to_s if license.money %>
  <% show_links = defined?(show_links) ? show_links : nil %>

  <div id="mobile_license_<%=license.id%>">
    <div  data-url="<%=url_to_go%>" onclick="show_license_info(this)" style="cursor: pointer;">

      <div class="row">
        <div class="col-xs-12 col-xs-0">
          <%= license.name %>
          <% if license.name != license.bp_event.name %>
            <br>
          <em><%= 'Evento: '+license.bp_event.name %></em>
          <% end %>
        </div>
      </div>

      <% if license.description && license.description.size > 0 %>
        <div class="row">
          <div class="col-xs-12 col-xs-0">
            <%= license.description.html_safe %>
          </div>
        </div>
      <% end %>

      <% if benefit_bonus && benefit_bonus.size > 0 %>
      <div class="row">
        <div class="col-xs-12 col-xs-0">
          <%= benefit_bonus %>
        </div>
      </div>
      <% end %>

      <div class="row">
        <div class="col-xs-12 col-xs-0">
          <% if license.active?(lms_time) %>
            <span title="<%= 'Desde: ' + (localize license.since, format: :day_snmonth_year).to_s + ' ' + license.since.strftime('%H:%M') if license.since %>
<%= 'Hasta: ' + (localize license.until, format: :day_snmonth_year).to_s + ' ' + license.since.strftime('%H:%M') if license.until %>" class="label label-success">&nbsp;Activo&nbsp;</span>
          <% else %>
            <span title="<%= 'Desde: ' + (localize license.since, format: :day_snmonth_year).to_s + ' ' + license.since.strftime('%H:%M') if license.since %>
<%= 'Hasta: ' + (localize license.until, format: :day_snmonth_year).to_s + ' ' + license.since.strftime('%H:%M') if license.until %>" class="label label-danger">&nbsp;No Activo&nbsp;</span>
          <% end %>
        </div>
      </div>

    </div>

    <% if show_links %>
      <div class="row">
        <div class="col-xs-12" align="right">
          <%= link_to license.until ? t('views.bp_licenses.flow_process.show') : t('views.bp_licenses.flow_process.edit'), bp_admin_licenses_edit_path(group, license) if group_manager %>
          <%= link_to t('views.lic_registers.flow_process.new_request'), lic_register_event_new_path(license) if recorder_request %>
        </div>
      </div>
    <% end %>
    <hr>
  </div>
<% end %>

<div id="license_info_modal_container"></div>

<script>
    function show_license_info(link){
        url = $(link).data('url');
        $.ajax({
            url: url,
            type: 'get',
            dataType: "html",
            success: function (data) {
                $('#license_info_modal_container').html(data)
                $('#license_info_modal').modal('show');
            }
        });
    }
</script>