<table id="datatable_bp_licenses" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <th><%= 'Nombre de evento' %></th>
    <th><%= t('activerecord.attributes.bp_license.name') %></th>
    <th><%= t('activerecord.attributes.bp_license.description') %></th>
    <th><%= t('activerecord.attributes.bp_license.days') %></th>
    <th><%= t('activerecord.attributes.bp_license.money') %></th>
    <th><%= t('activerecord.attributes.bp_license.currency') %></th>
    <th><%= t('activerecord.attributes.bp_license.bp_season_id') %></th>
    <th><%= t('activerecord.attributes.bp_license.active') %></th>
    <th><%= t('activerecord.attributes.bp_license.since') %></th>
    <th><%= t('activerecord.attributes.bp_license.until') %></th>
    <th>
      <% if defined?(group_manager) && group_manager %>
        <%= link_to t('views.bp_licenses.flow_process.new'), bp_admin_licenses_new_path(group) %>
      <% end %>
    </th>
  </tr>

  <tr class="second">
    <td><label style="display: none" class="input"><input type="text" name="search_num" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_name_descr_event" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_name" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_description" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_days" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_money" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_currency" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_bp_season_id" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_active" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_since" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_until" value="" class="search_init"></label></td>
    <td></td>
  </tr>
  </thead>

  <% group.bp_licenses.where(available: true).each_with_index do |license, index| %>
    <% next if defined?(only_with_form) && only_with_form && !license.active_form %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= license.bp_event.name %></td>
      <td><%= license.name %></td>
      <td><%= license.description %></td>
      <td><%= license.days %></td>
      <td><%= license.money %></td>
      <td><%= license.currency %></td>
      <td><%= license.bp_season_id %></td>
      <td><%= label_yes_not_datable(license.active?(lms_time)) %></td>
      <td><%= (localize license.since, format: :day_snmonth_year).to_s + ' ' + license.since.strftime('%H:%M') if license.since %></td>
      <td><%= (localize license.until, format: :day_snmonth_year).to_s + ' ' + license.until.strftime('%H:%M') if license.until %></td>
      <td>
        <% if defined?(group_manager) && group_manager %>
          <%= link_to license.until ? t('views.bp_licenses.flow_process.show') : t('views.bp_licenses.flow_process.edit'), bp_admin_licenses_edit_path(group, license) %>
        <% end %>

        <% if defined?(recorder_request) && recorder_request %>
          <%= link_to t('views.lic_registers.flow_process.new'), lic_register_event_new_path(license) %>
        <% end %>

        <%= link_to 'Nueva versión', bp_admin_licenses_new_version_path(license) %>
        <br>
        <%= link_to 'Detalle', '#', onclick: 'show_license_info(this)', data: { url:bp_admin_license_info_modal_path(license) }%>

      </td>
    </tr>
  <% end %>
</table>

<div id="license_info_modal_container"></div>

<script>
    function show_license_info(link){
        url = $(link).data('url');
        $.ajax({
            url: url,
            type: 'get',
            dataType: "html",
            success: function (data) {
                $('#license_info_modal_container').html(data)
                $('#license_info_modal').modal('show');
            }
        });
    }
</script>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_bp_licenses'} %>