<table id="datatable_bp_rule_vacations" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <th><%= t('activerecord.attributes.bp_rule_vacation.name') %></th>
    <th><%= t('activerecord.attributes.bp_rule_vacation.description') %></th>
    <th><%= t('activerecord.attributes.bp_rule_vacation.active') %></th>
    <th><%= t('activerecord.attributes.bp_rule_vacation.since') %></th>
    <th><%= t('activerecord.attributes.bp_rule_vacation.until') %></th>
    <th><%= link_to t('views.bp_rule_vacations.flow_process.new'), bp_admin_rule_vacation_new_path(group) %></th>
  </tr>

  <tr class="second">
    <td><label style="display: none" class="input"><input type="text" name="search_num" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_name" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_description" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_active" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_since" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_until" value="" class="search_init"></label></td>
    <td></td>
  </tr>
  </thead>

  <% group.bp_rule_vacations.each_with_index do |rule_vacation, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= rule_vacation.name %></td>
      <td><%= (rule_vacation.description).html_safe %></td>
      <td><%= label_yes_not_datable(rule_vacation.active?(lms_time)) %></td>
      <td><%= (localize rule_vacation.since, format: :day_snmonth_year).to_s+' '+rule_vacation.since.strftime('%H:%M') if rule_vacation.since %></td>
      <td><%= (localize rule_vacation.until, format: :day_snmonth_year).to_s+' '+rule_vacation.until.strftime('%H:%M') if rule_vacation.until %></td>
      <td><%= link_to t('views.bp_rule_vacations.flow_process.manage'), bp_admin_rule_vacation_manage_path(group,rule_vacation)  %></td>
    </tr>
  <% end %>
</table>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_bp_rule_vacations'} %>