<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.bp_groups.backlist.groups')).html_safe, bp_admin_group_index_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_groups.legends.groups') %>
      <span>> <%= t('views.bp_groups.flow_process.manage') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div id="group_show_container" class="col-md-6 col-md-offset-3">
    <%= render partial: 'bp_group_show',
               locals: {:group => @bp_group,
                        :editable => true} %>
  </div>
</div>


<div class="row">

  <div class="col-md-2">
        <%= render partial: 'bp_admin_groups/bp_deep_navitagion',
                   locals: {groups: BpGroup.all} %>
  </div>

  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li><a href="#users" data-toggle="tab" id="users_tab"><%= t('views.bp_groups.navigation.tab_group_users') %></a></li>
          <li><a href="#vacations" data-toggle="tab" id="vacations_tab"><%= t('views.bp_groups.navigation.tab_vacations') %></a></li>
          <li><a href="#licenses" data-toggle="tab" id="licenses_tab"><%= t('views.bp_groups.navigation.tab_licenses') %></a></li>
        </ul>

        <br>

        <div class="tab-content">
          <div class="tab-pane" id="users">
            <div class="panel panel-default">
              <div class="panel-body">
                <legend> <%= t('views.bp_groups_users.legends.group_users_list') %></legend>
                <%= render :partial => 'bp_group_users_datatable',
                           :locals => {:group => @bp_group } %>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="vacations">
            <ul class="nav nav-tabs">
              <li><a href="#general_vacation" data-toggle="tab" id="general_vacation_tab"><%= 'Reglas generales de vacaciones' %></a></li>
              <li><a href="#rule_vacation" data-toggle="tab" id="rule_vacation_tab"><%= 'Bonos de vacaciones' %></a></li>
            </ul>

            <br>

            <div class="tab-content">
              <div class="tab-pane" id="general_vacation">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <legend> <%= t('views.bp_general_rules_vacations.legends.general_rules_vacations_list') %></legend>
                    <%= render :partial => 'bp_general_rules_vacations_datatable',
                               :locals => {:group => @bp_group} %>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="rule_vacation">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <legend> <%= t('views.bp_rule_vacations.legends.rule_vacations_list') %></legend>
                    <%= render :partial => 'bp_rule_vacations_datatable',
                               :locals => {:group => @bp_group} %>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="tab-pane" id="licenses">
            <div class="panel panel-default">
              <div class="panel-body">
                <legend> <%= t('views.bp_licenses.legends.license_list') %></legend>
                <%= render :partial => 'bp_licenses_datatable',
                           :locals => { :group => @bp_group,
                                       group_manager: true } %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<script>
    $(document).ready(function () {
        $('#users_tab').on("shown.bs.tab", function (e) {
            $('#datatable_bp_group_users').DataTable().draw()
        });

        $('#general_vacation_tab').on("shown.bs.tab", function (e) {
            $('#datatable_bp_general_rules_vacations').DataTable().draw()
        });

        $('#rule_vacation_tab').on("shown.bs.tab", function (e) {
            $('#datatable_bp_rule_vacations').DataTable().draw()
        });

        $('#licenses_tab').on("shown.bs.tab", function (e) {
            $('#datatable_bp_licenses').DataTable().draw()
        });

       $('a[data-toggle="tab"]')[<%= @tab %>].click();

    });
</script>
