<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.bp_groups_users.backlist.group_users')).html_safe, bp_admin_group_manage_path(@bp_group), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_groups.legends.groups') %>
      <span>> <%= t('views.bp_groups_users.flow_process.manage') %> </span>
      <span>> <%= t('views.bp_groups_users.flow_process.assign_user_massive') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'bp_group_show',
               locals: {:group => @bp_group,
                        :editable => false} %>
  </div>
</div>

<%= form_for @license, url: bp_admin_group_user_excel_create_path(@bp_group), html: {class: 'form-horizontal upload_users', multipart: true, method: :post} do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">

          <legend> <%= 'Subir Archivo' %> </legend>
          <div class="form-group">
            <div class="col-md-3" align="right"><strong> <%= 'Seleccione Excel' %></strong></div>
            <div class="col-md-9"> <%= file_field 'upload', 'datafile', class: 'form-control' %>
            </div>
          </div>

          <hr>

          <div class="form-group">
            <div class="col-md-3"><label class="control-label"> Cerrar asociaciones abiertas </label></div>
            <div class="col-md-9">
              <%= f.check_box :only_laborable_days, :class => 'first_checkbox bootstrap_checkbox form-control', :onchange => 'evaluate_first_options(this)' %>
              <br><em><%= 'Si no se cierran las asociaciones anteriores, de encontrar algún traslape con una asociación sin fin de vigencia se considerará como un error' %></em>
            </div>
          </div>

          <div class="first_options_assoc">
            <hr>
            <div class="form-group">
              <div class="col-md-3">
                <label class="control-label"> Fecha de cierre: <br> Inicio en excel > <br>Fin de vigencia de grupo
                </label></div>
              <div class="col-md-9">
                <%= f.check_box :whenever, :class => 'second_checkbox bootstrap_checkbox form-control', :onchange => 'evaluate_second_options(this)' %>
                <br><em><%= 'Para las asociaciones previas sin fin de vigencia se cerrarán un minuto antes del inicio especificado en el registro de Excel.' %>
                <br>
                <%= 'Si se ha especificado el fin de vigencia del grupo, y entra en conflicto por ser menor a la especificada en el Excel se cerrará con una fecha menor en un minuto al fin de vigencia del grupo' %>
              </em>
              </div>
            </div>
          </div>

          <div class="form-group second_options_assoc <%= field_with_errors f, :since %>">
           <%= f.label :since, class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <div class="input-group date">
                <%= f.text_field :since, class: 'form-control datetime', :data => {:format => '%d/%m/%Y %H:%M'}, :value => f.object.since ? f.object.since.strftime('%d/%m/%Y %H:%M') :'', :readonly => true %>
                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
              </div>
              <em><%= 'Fecha con la cual se cierran las asociaciones abiertas encontradas para los usuarios. Si la fecha especificada es mayor a la del fin de vigencia del grupo, se considerará como error' %></em>
            </div>
          </div>


          <legend> <%= 'Formato de archivo a subir' %> </legend>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped table-bordered " style="font-size: 11px;" width="100%">
                <thead>
                <th> <%= alias_username %></th>
                <th> <%= 'Apellidos' %> </th>
                <th> <%= 'Nombre' %> </th>
                <th> <%= 'Desde (Fecha)' %> </th>
                <th> <%= 'Desde (Hora)' %> </th>
                <th> <%= 'Hasta (Fecha)' %> </th>
                <th> <%= 'Hasta (Hora)' %> </th>
                </thead>

                <tbody>
                <tr>
                  <td> 12361621K</td>
                  <td> Reyes Basoalto</td>
                  <td> Ricardo</td>
                  <td> 2018-03-31</td>
                  <td> 00:00:00</td>
                  <td> 2019-05-30</td>
                  <td> 23:59:59</td>
                </tr>

                <tr>
                  <td> Debe pertenecer a un usuario registrado y activo en la plataforma</td>
                  <td> Campo no obligatorio</td>
                  <td> Campo no obligatorio</td>
                  <td> Debe seguir el formato AAAA-MM-DD</td>
                  <td> Debe seguir el formato HH:MM</td>
                  <td> Debe seguir el formato AAAA-MM-DD</td>
                  <td> Debe seguir el formato HH:MM</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit t('views.ben_cellphone_number.forms.upload'), class: 'btn btn-primary' %>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>

<% if defined?(@excel_errors) && @excel_errors.size > 0 %>
  <div class="row">
    <div class="col-md-12 col-md-offset-0">
        <div class="panel panel-default">
          <div class="panel-body">

            <table class="table table-striped table-hover table-condensed table-bordered">
              <thead>
              <tr>
                <th>Línea</th>
                <th>Error</th>
                <th> <%= alias_username %></th>
                <th> <%= 'Apellidos' %> </th>
                <th> <%= 'Nombre' %> </th>
                <th> <%= 'Desde (Fecha)' %> </th>
                <th> <%= 'Desde (Hora)' %> </th>
                <th> <%= 'Hasta (Fecha)' %> </th>
                <th> <%= 'Hasta (Hora)' %> </th>
              </tr>
              </thead>

              <tbody>
              <% @excel_errors.each_with_index do |error, index| %>
                <tr>
                  <td><%= error[0].to_s %></td>
                  <td><li class="text-danger"><%= error[1].to_s %></li></td>
                  <td><%= error[2].to_s %></td>
                  <td><%= error[3].to_s %></td>
                  <td><%= error[4].to_s %></td>
                  <td><%= error[5].to_s %></td>
                  <td><%= error[6].to_s %></td>
                  <td><%= error[7].to_s %></td>
                  <td><%= error[7].to_s %></td>
                </tr>
              <% end %>

              </tbody>

            </table>

          </div>
        </div>
    </div>
  </div>
<% end %>

<script>
    $('.datetime').datetimepicker({
        language: 'es',
        pickTime: true,
        pickDate: true
    });

    $('.bootstrap_checkbox').bootstrapSwitch({
        onColor: 'success',
        onText: "Sí",
        offColor: 'danger',
        size: "small",
        offText: "No"
    });

    function evaluate_first_options(link){
        if(!$(link).bootstrapSwitch('state')){
            $('.first_options_assoc').hide()
            $('.second_options_assoc').hide()
        }else{
            $('.first_options_assoc').show()
            if($('.second_checkbox').bootstrapSwitch('state')){
                $('.second_options_assoc').hide()
            }else{
                $('.second_options_assoc').show()
                $('#bp_license_since').val('<%=lms_time.strftime('%d/%m/%Y %H:%M')%>')
            }
        }
    }

    function evaluate_second_options(link){
        if($(link).bootstrapSwitch('state')){
            $('.second_options_assoc').hide()
        }else{
            $('.second_options_assoc').show()
            $('#bp_license_since').val('<%=lms_time.strftime('%d/%m/%Y %H:%M')%>')
        }
    }

    $(document).ready(function() {
        evaluate_first_options($('.first_checkbox'))
    })



</script>

