<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.bp_groups_users.backlist.group_users')).html_safe, bp_admin_group_manage_path(@bp_group), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_groups.legends.groups') %>
      <span>> <%= t('views.bp_groups_users.flow_process.manage') %> </span>
      <span>> <%= t('views.bp_groups_users.flow_process.assign_user') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'bp_group_show',
               locals: {:group => @bp_group,
                        :editable => false} %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url: bp_admin_group_user_new_path(@bp_group), method: :post do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Buscador</legend>


          <div class="row">
            <div class="col-md-12">

              <div class="row">
                <div class="col-md-4">
                  <label>&nbsp;&nbsp;<%= alias_username %></label>
                </div>
                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Apellidos</label>
                </div>
                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Nombre</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>
                </div>

                <div class="col-md-4">
                  <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>
                </div>

                <div class="col-md-4">
                  <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Buscar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Resultados de la búsqueda</legend>

          <%= render 'shared/error_messages', object: @bp_group_user if @bp_group_user %>

          <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
              <th>#</th>
              <th><%= alias_username %></th>
              <th><%= t('views.ben_cellphone_number.shared.lastname') %></th>
              <th><%= t('views.ben_cellphone_number.shared.name') %></th>
              <th id="th_assign_period_time" class="assign_period_time" colspan="2"><%= 'Definir periodo tiempo' %></th>
            </tr>
            </thead>

            <tbody>
            <% @users.each_with_index do |user, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= user.codigo %></td>
                <td><%= user.apellidos %></td>
                <td><%= user.nombre %></td>
                <%= form_for @bp_group_user, :url => bp_admin_group_user_create_path(@bp_group, user.id), html: {class: 'form-horizontal'}, method: :post do |f| %>
                  <td>
                    <div class="row">
                      <div class="form-group <%= field_with_errors f, :since %>">
                        <%= f.label :since, class: 'col-md-3 control-label' %>
                        <div class="col-md-9">
                          <div class="input-group date">
                            <%= f.text_field :since, class: 'form-control datetime', :data => {:format => '%d/%m/%Y %H:%M'}, :value => '', :readonly => true %>
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="form-group <%= field_with_errors f, :until %>">
                        <%= f.label :until, class: 'col-md-3 control-label' %>
                        <div class="col-md-9">
                          <div class="input-group date">
                            <%= f.text_field :until, class: 'form-control datetime', :data => {:format => '%d/%m/%Y %H:%M'}, :value => '', :readonly => true %>
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div>
                      <%= f.submit t('views.bp_groups.flow_process.add'), data: {confirm: t('views.bp_groups_users.confirmation_messages.assign_user')}, :class => 'btn btn-primary btn-sm' %>
                    </div>
                  </td>
                <% end %>
              </tr>
            <% end %>

            </tbody>

          </table>

        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<script>
    $('.datetime').datetimepicker({
        language: 'es',
        pickTime: true,
        pickDate: true
    });
</script>