<div id="result_container">
  <div id="upload_message">
    <%= render partial: 'shared/div_message',
               locals: {type_generic_message: @valid ? 'alert-success' : 'alert-danger',
                        generic_message: @message} %>
  </div>
  <div id="errors_table_container">
    <% if defined?(@excel_errors) && @excel_errors.size > 0 %>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="panel panel-default">
            <div class="panel-body">

              <table class="table table-striped table-hover table-condensed table-bordered">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Línea</th>
                  <th>Error</th>
                  <th>Descripción</th>
                  <th><%= alias_username %></th>
                  <th>Apellidos</th>
                  <th>Nombre</th>
                  <th>Desde</th>
                  <th>Hasta</th>
                </tr>
                </thead>

                <tbody>
                <% @excel_errors.each_with_index do |error, index| %>
                  <tr>
                    <td><%= index+1 %></td>
                    <td><%= error[0].to_s %></td>
                    <td>
                      <li class="text-danger"><%= error[1].to_s %></li>
                    </td>
                    <td><%= error[2].to_s %></td>
                    <td><%= error[3].to_s %></td>
                    <td><%= error[4].to_s %></td>
                    <td><%= error[5].to_s %></td>
                    <td><%= error[6].to_s %></td>
                    <td><%= error[7].to_s %></td>
                  </tr>
                <% end %>

                </tbody>

              </table>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>