<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.bp_groups_users.backlist.group_users')).html_safe, bp_admin_group_manage_path(@bp_group), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_groups.legends.groups') %>
      <span>> <%= t('views.bp_groups_users.flow_process.manage') %> </span>
      <span>> <%= t('views.bp_groups_users.flow_process.assign_user_massive') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'bp_group_show',
               locals: {:group => @bp_group,
                        :editable => false} %>
  </div>
</div>

<%= form_for @bp_group_user, url: bp_admin_group_user_excel_destroy_path(@bp_group), html: {class: 'form-horizontal upload_users', multipart: true, method: :post} do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">

          <legend> <%= 'Subir Archivo' %> </legend>
          <div class="form-group">
            <div class="col-md-3" align="right"><strong> <%= 'Seleccione Excel' %></strong></div>
            <div class="col-md-9"> <%= file_field 'upload', 'datafile', class: 'form-control' %>
            </div>
          </div>

          <legend> <%= 'Formato de archivo a subir' %> </legend>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped table-bordered " style="font-size: 11px;" width="100%">
                <thead>
                <th> <%= alias_username %></th>
                <th> <%= 'Apellidos' %> </th>
                <th> <%= 'Nombre' %> </th>
                </thead>

                <tbody>
                <tr>
                  <td>12361621K</td>
                  <td>Reyes Basoalto</td>
                  <td>Ricardo</td>
                </tr>

                <tr>
                  <td> Debe pertenecer a un usuario registrado y activo en la plataforma</td>
                  <td> Campo no obligatorio</td>
                  <td> Campo no obligatorio</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit t('views.ben_cellphone_number.forms.upload'), class: 'btn btn-primary' %>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>

<% if defined?(@excel_errors) && @excel_errors.size > 0 %>
  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <div class="panel panel-default">
        <div class="panel-body">

          <table class="table table-striped table-hover table-condensed table-bordered">
            <thead>
            <tr>
              <th>Línea</th>
              <th>Error</th>
              <th> <%= alias_username %></th>
              <th> <%= 'Apellidos' %> </th>
              <th> <%= 'Nombre' %> </th>
            </tr>
            </thead>

            <tbody>
            <% @excel_errors.each do |error| %>
              <tr>
                <td><%= error[0].to_s %></td>
                <td><li class="text-danger"><%= error[1].to_s %></li></td>
                <td><%= error[2].to_s %></td>
                <td><%= error[3].to_s %></td>
                <td><%= error[4].to_s %></td>
              </tr>
            <% end %>

            </tbody>

          </table>

        </div>
      </div>
    </div>
  </div>
<% end %>

