<%= form_for(@user_delete_reason) do |f| %>
  <% if @user_delete_reason.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_delete_reason.errors.count, "error") %> prohibited this user_delete_reason from being saved:</h2>

      <ul>
      <% @user_delete_reason.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
