<h1>Listing user_delete_reasons</h1>

<table>
  <tr>
    <th>Position</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_delete_reasons.each do |user_delete_reason| %>
  <tr>
    <td><%= user_delete_reason.position %></td>
    <td><%= user_delete_reason.description %></td>
    <td><%= link_to 'Show', user_delete_reason %></td>
    <td><%= link_to 'Edit', edit_user_delete_reason_path(user_delete_reason) %></td>
    <td><%= link_to 'Destroy', user_delete_reason, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User delete reason', new_user_delete_reason_path %>
