<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#notifications" style="text-decoration: none;"><i class="fa fa-comment-o title-text-color-<%= $current_domain %>"></i>
          Avisos</a>
      </h4>
    </div>
    <div id="notifications" class="panel-collapse collapse in">


      <div class="panel-body">

        <% @dashboard.notifications.each do |notification| %>

          <div class="row">

            <div class="col-md-12">

              <div class="dashboard-box-aviso">

                <div class="row">
                  <div class="col-md-12">

                    <strong>
                      <%= notification.asunto %>
                    </strong>
                    <% if notification.fecha && (lms_time.to_date-notification.fecha.to_date).to_i <= 7 %>
                      <span class="label label-success">Nuevo</span>
                    <% end %>

                  </div>

                </div>
                <% unless notification.texto.blank? %>
                  <div class="row">
                    <div class="col-md-12 dashboard-box-aviso-texto">
                      <%= notification.texto.html_safe %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

          </div>

        <% end %>

      </div>

    </div>

  </div>

</div>