<div class="panel panel-default">
<div class="panel-body">

<div class="row">
  <div class="col-md-12">
    <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light">
      <i class="fa fa-check-square-o title-text-color-<%= $current_domain %>"></i> Actividades Pendientes
    </h3>
  </div>
</div>

<% cursos_pendientes = Array.new %>
<% user_courses_pendientes = Array.new %>
<% estados_botones = Array.new %>

<% @enrollments = user_connected.enrollments %>


<% @enrollments.each_with_index do |enrollment, num_program| %>

  <% if enrollment.program.activo %>

    <% courses = enrollment.level.courses %>

    <% courses.each_with_index do |course, index| %>

      <% program_course = ProgramCourse.where('program_id = ? AND course_id = ? ', enrollment.program.id, course.id).first %>

      <% estado, estado_boton, user_course, user_courses = user_course_status(enrollment, program_course) %>

      <% mostrar = false %>

      <% if estado_boton == :resultados %>

        <%

           encuesta_satisfaccion_pendiente = false

           user_course.course.polls.each do |poll|

             if poll.tipo_satisfaccion && user_course.dncp && !user_course.dncp.poll_presencial

               user_course_poll = user_course.user_course_polls.find_by_poll_id(poll.id)

               if user_course_poll

                 unless user_course_poll.finalizada

                   encuesta_satisfaccion_pendiente = true

                 end

               else

                 encuesta_satisfaccion_pendiente = true

               end

             end

           end


        %>

        <% if encuesta_satisfaccion_pendiente %>

          <% mostrar = true %>

        <% end %>

      <% elsif estado_boton == :continuar %>

        <% mostrar = true %>

      <% elsif estado_boton == :iniciar %>

        <% if enrollment.program.especifico %>

          <% mostrar = true %>

        <% end %>

      <% end %>

      <% if mostrar %>

        <% cursos_pendientes.push course.nombre %>
        <% user_courses_pendientes.push user_course %>
        <% estados_botones.push estado_boton %>

      <% end %>


    <% end %>

  <% end %>

<% end %>

<% if user_courses_pendientes.length > 0 %>


  <div class="row">

    <div class="col-md-12">


      <div class="row">
        <div class="col-md-8">

          <% user_courses_pendientes.each_with_index do |uc, index| %>

            <div class="row">

              <div class="col-md-12">
                <div class="dashboard-box-item-pendiente">
                  <div class="row">
                    <div class="col-md-9">


                      <a href="<%= user_courses_from_path(uc.enrollment.program_id) %>" style="color: #000000;">
                        <strong>Curso</strong> <%= uc.course.nombre %>
                      </a>

                    </div>
                    <div class="col-md-3">

                      <% if estados_botones[index] == :iniciar %>

                        <span class="label label-success">Por iniciar</span>

                      <% elsif estados_botones[index] == :continuar %>

                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="<%= uc.porcentaje_avance.to_i %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= uc.porcentaje_avance.to_i %>%;">
                            <%= uc.porcentaje_avance.to_i %>%
                          </div>
                        </div>


                      <% elsif estados_botones[index] == :resultados %>

                        <span class="label label-warning">Por responder<br>encuesta</span>

                      <% end %>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          <% end %>

        </div>
        <% if !$mobile_client %>
          <div class="col-md-4">

            <div class="alert alert-success">
              Ingrese al menú Cursos para revisar los cursos...
            </div>

          </div>
        <% end %>
      </div>


    </div>
  </div>

<% end %>


<% dnc_cua_pendientes = Array.new %>
<% dnc_pp_pendientes = Array.new %>
<% dnc_estado_pendientes = Array.new %>

<% if can_show_planning_process_training_analyst_menu? %>

  <% cua_pendientes, pp_pendientes, estado_pendientes = pending_training_analyst_activities %>

  <% dnc_cua_pendientes += cua_pendientes %>
  <% dnc_pp_pendientes += pp_pendientes %>
  <% dnc_estado_pendientes += estado_pendientes %>

<% end %>

<% if can_show_planning_process_area_manager_menu? %>

  <% cua_pendientes, pp_pendientes, estado_pendientes = pending_area_manager_activities %>

  <% dnc_cua_pendientes += cua_pendientes %>
  <% dnc_pp_pendientes += pp_pendientes %>
  <% dnc_estado_pendientes += estado_pendientes %>

<% end %>

<% pace_cua_as_pendientes = Array.new %>
<% pace_pp_as_pendientes = Array.new %>
<% pace_estado_as_pendientes = Array.new %>

<% if can_show_planning_process_area_superintendent_menu? %>

  <% cua_pendientes, pp_pendientes, estado_pendientes = pending_area_superintendent_activities %>

  <% pace_cua_as_pendientes += cua_pendientes %>
  <% pace_pp_as_pendientes += pp_pendientes %>
  <% pace_estado_as_pendientes += estado_pendientes %>

<% end %>

<% pace_cua_um_pendientes = Array.new %>
<% pace_pp_um_pendientes = Array.new %>

<% if can_show_planning_process_unit_manager_menu? %>

  <% cua_pendientes, pp_pendientes = pending_unit_manager_activities %>
  <% pace_cua_um_pendientes += cua_pendientes %>
  <% pace_pp_um_pendientes += pp_pendientes %>

<% end %>

<% if dnc_cua_pendientes.length > 0 || pace_cua_as_pendientes.length > 0 || pace_cua_um_pendientes.length > 0 %>

  <div class="row">

  <div class="col-md-12">

  <div class="row">
  <div class="col-md-8">

  <% if dnc_cua_pendientes.length > 0 %>

    <% years = dnc_pp_pendientes.map { |pp| pp.year } %>

    <% years.uniq! %>

    <% years.each do |year| %>

      <% hay_registrar = 0 %>
      <% hay_corregir = 0 %>

      <% dnc_cua_pendientes.each_with_index do |cua, index| %>

        <% if dnc_pp_pendientes[index].year == year %>

          <% if dnc_estado_pendientes[index] == :registrar %>

            <% hay_registrar += 1 %>

          <% else %>

            <% hay_corregir += 1 %>

          <% end %>

        <% end %>

      <% end %>

      <% if hay_registrar > 0 %>

        <div class="row">
          <div class="col-md-12">
            <div class="item-pendiente">
              <div class="row">

                <div class="col-md-8">
                  <strong>Planificación</strong> <%= year %>
                </div>

                <div class="col-md-4">

                                <span class="label label-success mouse_pointer" data-toggle="button"

                                      data-content='
                                    <div  style="max-height: 400px; overflow: scroll;">
                                      <table class="table table-striped table-bordered">
                                        <thead>
                                          <tr>
                                            <th>#</th>
                                            <th>Unidad</th>
                                            <th>Área</th>
                                          </tr>
                                        </thead>

                                        <tbody>
                                          <% num = 1 %>

                                          <% dnc_cua_pendientes.each_with_index do |cua, index| %>

                                            <% if dnc_pp_pendientes[index].year == year %>

                                              <% if dnc_estado_pendientes[index] == :registrar %>

                                                <tr>

                                                  <td>
                                                    <%= num %>
                                                  </td>
                                                  <td>
                                                    <%= cua.company_unit.nombre %>
                                                  </td>
                                                  <td>
                                                    <%= cua.nombre %>
                                                  </td>

                                                </tr>

                                                <% num += 1 %>

                                              <% end %>

                                            <% end %>

                                          <% end %>


                                        </tbody>

                                      </table>
                                    </div>
                                  '


                                      id='dnc_ac_ta_por_registrar_<%= year %>'>
                                  Por registrar <%= hay_registrar %> DNCs
                                </span>

                  <script language="javascript">
                    $('#dnc_ac_ta_por_registrar_<%= year %>').popover({
                      html: true,
                      placement: 'top',
                      trigger: 'click'
                    });
                  </script>

                </div>

              </div>
            </div>
          </div>
        </div>

      <% end %>

      <% if hay_corregir > 0 %>

        <div class="row">
          <div class="col-md-12">
            <div class="item-pendiente">
              <div class="row">

                <div class="col-md-8">
                  <strong>Planificación</strong> <%= year %>
                </div>

                <div class="col-md-4">

                                <span class="label label-warning mouse_pointer" data-toggle="button"

                                      data-content='
                                    <div  style="max-height: 400px; overflow: scroll;">
                                      <table class="table table-striped table-bordered">
                                        <thead>
                                          <tr>
                                            <th>#</th>
                                            <th>Unidad</th>
                                            <th>Área</th>
                                          </tr>
                                        </thead>

                                        <tbody>

                                          <% num = 1 %>

                                          <% dnc_cua_pendientes.each_with_index do |cua, index| %>

                                            <% if dnc_pp_pendientes[index].year == year %>

                                              <% if dnc_estado_pendientes[index] == :corregir %>

                                                <tr>

                                                  <td>
                                                    <%= num %>
                                                  </td>
                                                  <td>
                                                    <%= cua.company_unit.nombre %>
                                                  </td>
                                                  <td>
                                                    <%= cua.nombre %>
                                                  </td>

                                                </tr>
                                                <% num += 1 %>
                                              <% end %>

                                            <% end %>

                                          <% end %>


                                        </tbody>

                                      </table>
                                    </div>
                                  '


                                      id='dnc_ac_ta_por_corregir_<%= year %>'>
                                  Por corregir <%= hay_corregir %> DNCs
                                </span>

                  <script language="javascript">
                    $('#dnc_ac_ta_por_corregir_<%= year %>').popover({
                      html: true,
                      placement: 'top',
                      trigger: 'click'
                    });
                  </script>

                </div>

              </div>
            </div>
          </div>
        </div>

      <% end %>

    <% end %>

  <% end %>
  <!--
                <% dnc_cua_pendientes.each_with_index do |cua, index| %>

                  <div class="row">
                    <div class="col-md-12 item-pendiente">
                      <div class="row">
                        <div class="col-md-9">
                          <strong>Planificación</strong> <%= dnc_pp_pendientes[index].year %>: <%= cua.company_unit.nombre %> -  <%= cua.nombre %>
                        </div>
                        <div class="col-md-3">
                          <% if dnc_estado_pendientes[index] == :registrar %>

                            <span class="label label-success">Por registrar<br>DNC</span>

                          <% else %>

                            <span class="label label-warning">Por corregir<br>DNC</span>

                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>

                <% end %>
-->
  <% if pace_cua_as_pendientes.length > 0 %>

    <% years = pace_pp_as_pendientes.map { |pp| pp.year } %>

    <% years.uniq! %>

    <% years.each do |year| %>

      <% hay_aprobar = 0 %>
      <% hay_corregir = 0 %>

      <% pace_cua_as_pendientes.each_with_index do |cua, index| %>

        <% if pace_pp_as_pendientes[index].year == year %>

          <% if pace_estado_as_pendientes[index] == :aprobar %>

            <% hay_aprobar += 1 %>

          <% else %>

            <% hay_corregir += 1 %>

          <% end %>

        <% end %>

      <% end %>

      <% if hay_aprobar > 0 %>

        <div class="row">
          <div class="col-md-12">
            <div class="item-pendiente">
              <div class="row">

                <div class="col-md-8">
                  <strong>Planificación</strong> <%= year %>
                </div>

                <div class="col-md-4">

                                <span class="label label-success mouse_pointer" data-toggle="button"

                                      data-content='
                                    <div  style="max-height: 400px; overflow: scroll;">
                                      <table class="table table-striped table-bordered">
                                        <thead>
                                          <tr>
                                            <th>#</th>
                                            <th>Unidad</th>
                                            <th>Área</th>
                                          </tr>
                                        </thead>

                                        <tbody>

                                          <% num = 1 %>

                                          <% pace_cua_as_pendientes.each_with_index do |cua, index| %>

                                            <% if pace_pp_as_pendientes[index].year == year %>

                                              <% if pace_estado_as_pendientes[index] == :aprobar %>

                                                <tr>

                                                  <td>
                                                    <%= num %>
                                                  </td>
                                                  <td>
                                                    <%= cua.company_unit.nombre %>
                                                  </td>
                                                  <td>
                                                    <%= cua.nombre %>
                                                  </td>

                                                </tr>
                                                <% num += 1 %>
                                              <% end %>

                                            <% end %>

                                          <% end %>


                                        </tbody>

                                      </table>
                                    </div>
                                  '


                                      id='dnc_as_por_aprobar_<%= year %>'>
                                  Por aprobar <%= hay_aprobar %> DNCs
                                </span>

                  <script language="javascript">
                    $('#dnc_as_por_aprobar_<%= year %>').popover({
                      html: true,
                      placement: 'top',
                      trigger: 'click'
                    });
                  </script>

                </div>

              </div>
            </div>
          </div>
        </div>

      <% end %>

      <% if hay_corregir > 0 %>

        <div class="row">
          <div class="col-md-12">
            <div class="item-pendiente">
              <div class="row">

                <div class="col-md-8">
                  <strong>Planificación</strong> <%= year %>
                </div>

                <div class="col-md-4">

                                <span class="label label-warning mouse_pointer" data-toggle="button"

                                      data-content='
                                    <div  style="max-height: 400px; overflow: scroll;">
                                      <table class="table table-striped table-bordered">
                                        <thead>
                                          <tr>
                                            <th>#</th>
                                            <th>Unidad</th>
                                            <th>Área</th>
                                          </tr>
                                        </thead>

                                        <tbody>

                                          <% num = 1 %>

                                          <% pace_cua_as_pendientes.each_with_index do |cua, index| %>

                                            <% if pace_pp_as_pendientes[index].year == year %>

                                              <% if pace_estado_as_pendientes[index] == :corregir %>

                                                <tr>

                                                  <td>
                                                    <%= num %>
                                                  </td>
                                                  <td>
                                                    <%= cua.company_unit.nombre %>
                                                  </td>
                                                  <td>
                                                    <%= cua.nombre %>
                                                  </td>

                                                </tr>
                                                <% num += 1 %>
                                              <% end %>

                                            <% end %>

                                          <% end %>


                                        </tbody>

                                      </table>
                                    </div>
                                  '


                                      id='dnc_as_por_aprobar_<%= year %>'>
                                  Por corregir <%= hay_corregir %> DNCs
                                </span>

                  <script language="javascript">
                    $('#dnc_as_por_aprobar_<%= year %>').popover({
                      html: true,
                      placement: 'top',
                      trigger: 'click'
                    });
                  </script>


                </div>

              </div>
            </div>
          </div>
        </div>

      <% end %>

    <% end %>

  <% end %>
  <!--
                <% pace_cua_as_pendientes.each_with_index do |cua, index| %>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-9">
                          <strong>Planificación</strong> <%= pace_pp_as_pendientes[index].year %>: <%= cua.company_unit.nombre %> -  <%= cua.nombre %>
                        </div>
                        <div class="col-md-3">

                          <% if pace_estado_as_pendientes[index] == :aprobar %>

                            <span class="label label-success">Por aprobar<br>DNC</span>

                          <% else %>

                            <span class="label label-warning">Por corregir<br>DNC</span>

                          <% end %>

                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
-->
  <% if pace_cua_um_pendientes.length > 0 %>

    <% years = pace_pp_um_pendientes.map { |pp| pp.year } %>

    <% years.uniq! %>

    <% years.each do |year| %>

      <% hay_aprobar = 0 %>

      <% pace_cua_um_pendientes.each_with_index do |cua, index| %>

        <% if pace_pp_um_pendientes[index].year == year %>

          <% hay_aprobar += 1 %>

        <% end %>

      <% end %>

      <% if hay_aprobar > 0 %>

        <div class="row">
          <div class="col-md-12">
            <div class="item-pendiente">
              <div class="row">

                <div class="col-md-8">
                  <strong>Planificación</strong> <%= year %>
                </div>

                <div class="col-md-4">

                                <span class="label label-success mouse_pointer" data-toggle="button"

                                      data-content='
                                    <div  style="max-height: 400px; overflow: scroll;">
                                      <table class="table table-striped table-bordered">
                                        <thead>
                                          <tr>
                                            <th>#</th>
                                            <th>Unidad</th>
                                            <th>Área</th>
                                          </tr>
                                        </thead>

                                        <tbody>

                                          <% num = 1 %>

                                          <% pace_cua_um_pendientes.each_with_index do |cua, index| %>

                                            <% if pace_pp_um_pendientes[index].year == year %>

                                                <tr>

                                                  <td>
                                                    <%= num %>
                                                  </td>
                                                  <td>
                                                    <%= cua.company_unit.nombre %>
                                                  </td>
                                                  <td>
                                                    <%= cua.nombre %>
                                                  </td>

                                                </tr>
                                                <% num += 1 %>

                                            <% end %>

                                          <% end %>


                                        </tbody>

                                      </table>
                                    </div>
                                  '


                                      id='dnc_um_por_aprobar_<%= year %>'>
                                  Por aprobar <%= hay_aprobar %> DNCs
                                </span>

                  <script language="javascript">
                    $('#dnc_um_por_aprobar_<%= year %>').popover({
                      html: true,
                      placement: 'top',
                      trigger: 'click'
                    });
                  </script>

                </div>

              </div>
            </div>
          </div>
        </div>

      <% end %>

    <% end %>

  <% end %>
  <!--
                <% pace_cua_um_pendientes.each_with_index do |cua, index| %>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-9">
                          <strong>Planificación</strong> <%= pace_pp_um_pendientes[index].year %>: <%= cua.company_unit.nombre %> -  <%= cua.nombre %>
                        </div>
                        <div class="col-md-3">
                          <span class="label label-success">Por aprobar<br>PACE</span>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
-->


  </div>
  <% if !$mobile_client %>
    <div class="col-md-4">

      <div class="alert alert-info">
        Ingrese al menú Gestión de la Capacitación para ver el estado del proceso...
      </div>

    </div>
  <% end %>
  </div>

  </div>
  </div>

<% end %>


<% if can_show_evaluate_hr_process_menu? || can_show_autoevaluate_hr_process_menu? %>


  <%

     hay_por_evaluar = false
     por_evaluar = Array.new
     por_autoevaluar = Array.new
     por_evaluar_proceso = Array.new

     #hr_processes = HrProcess.where('abierto = ? AND fecha_inicio <= ? AND fecha_fin >= ?',true, lms_time, lms_time)
     hr_processes = HrProcess.where('abierto = ? ', true)

     hr_processes.each do |hr_process|

       hr_process_user = hr_process.hr_process_users.find_by_user_id user_connected.id

       if hr_process_user

         hr_process_user_rels = hr_process_user.hr_process_evalua_rels

         eval_jefe = false
         eval_sub = false
         eval_par = false
         eval_cli = false
         eval_prov = false

         hr_process_user_rels.each do |rel|

           unless rel.finalizada

             eval_jefe = true if rel.tipo == 'jefe'

             eval_sub = true if rel.tipo == 'sub'

             eval_par = true if rel.tipo == 'par'

             eval_cli = true if rel.tipo == 'cli'

             eval_prov = true if rel.tipo == 'prov'
           end
         end

         hr_process_evaluations = hr_process.hr_process_evaluations.find_all_by_vigente(true)

         hr_process_evaluations.each_with_index do |hr_process_evaluation, index|

           if hr_process.hr_process_template && hr_process_evaluation.hr_process_dimension_e.hr_process_dimension.hr_process_template.id == hr_process.hr_process_template.id

             if accesso_autoevaluar_proceso(hr_process)

               if hr_process_evaluation.hr_process_dimension_e.eval_auto && !hr_process_user.finalizada_auto

                 if hr_process_evaluation.fecha_inicio_eval_auto && hr_process_evaluation.fecha_fin_eval_auto && hr_process_evaluation.fecha_inicio_eval_auto <= lms_time && hr_process_evaluation.fecha_fin_eval_auto >= lms_time
                   hay_por_evaluar = true
                   por_autoevaluar.push hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type unless por_autoevaluar.include? hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type
                   por_evaluar_proceso.push hr_process
                 end

               end

             end

             if hr_process_evaluation.hr_process_dimension_e.eval_jefe && eval_jefe

               if hr_process_evaluation.fecha_inicio_eval_jefe && hr_process_evaluation.fecha_fin_eval_jefe && hr_process_evaluation.fecha_inicio_eval_jefe <= lms_time && hr_process_evaluation.fecha_fin_eval_jefe >= lms_time
                 hay_por_evaluar = true
                 por_evaluar.push hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type unless por_evaluar.include? hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type
                 por_evaluar_proceso.push hr_process
               end

             end

             if hr_process_evaluation.hr_process_dimension_e.eval_sub && eval_sub

               if hr_process_evaluation.fecha_inicio_eval_sub && hr_process_evaluation.fecha_fin_eval_sub && hr_process_evaluation.fecha_inicio_eval_sub <= lms_time && hr_process_evaluation.fecha_fin_eval_sub >= lms_time
                 hay_por_evaluar = true
                 por_evaluar.push hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type unless por_evaluar.include? hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type
                 por_evaluar_proceso.push hr_process
               end

             end

             if hr_process_evaluation.hr_process_dimension_e.eval_par && eval_par

               if hr_process_evaluation.fecha_inicio_eval_par && hr_process_evaluation.fecha_fin_eval_par && hr_process_evaluation.fecha_inicio_eval_par <= lms_time && hr_process_evaluation.fecha_fin_eval_par >= lms_time
                 hay_por_evaluar = true
                 por_evaluar.push hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type unless por_evaluar.include? hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type
                 por_evaluar_proceso.push hr_process
               end

             end

             if hr_process_evaluation.hr_process_dimension_e.eval_cli && eval_cli

               if hr_process_evaluation.fecha_inicio_eval_cli && hr_process_evaluation.fecha_fin_eval_cli && hr_process_evaluation.fecha_inicio_eval_cli <= lms_time && hr_process_evaluation.fecha_fin_eval_cli >= lms_time
                 hay_por_evaluar = true
                 por_evaluar.push hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type unless por_evaluar.include? hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type
                 por_evaluar_proceso.push hr_process
               end

             end

             if hr_process_evaluation.hr_process_dimension_e.eval_prov && eval_prov

               if hr_process_evaluation.fecha_inicio_eval_prov && hr_process_evaluation.fecha_fin_eval_prov && hr_process_evaluation.fecha_inicio_eval_prov <= lms_time && hr_process_evaluation.fecha_fin_eval_prov >= lms_time
                 hay_por_evaluar = true
                 por_evaluar.push hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type unless por_evaluar.include? hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type
                 por_evaluar_proceso.push hr_process
               end

             end

           end

         end


       end

     end


  %>


  <% if hay_por_evaluar %>

    <div class="row">

      <div class="col-md-12">


        <div class="row">
          <div class="col-md-8">

            <% por_evaluar_proceso = por_evaluar_proceso.uniq %>

            <% por_evaluar_proceso.each_with_index do |por_evaluar_proceso, index| %>

              <div class="row">

                <div class="col-md-12">
                  <div class="item-pendiente">
                    <div class="row">
                      <div class="col-md-9">
                        <strong>Evaluación de desempeño:</strong> <%= por_evaluar_proceso.nombre %>
                        -  <%= por_evaluar_proceso.year %>
                      </div>
                      <div class="col-md-3">


                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <% end %>


          </div>
          <% if !$mobile_client %>
            <div class="col-md-4">

              <div class="alert alert-danger">
                Ingrese al menú Evaluación de desempeño para realizar la evaluación...
              </div>

            </div>
          <% end %>
        </div>


      </div>
    </div>

  <% end %>

<% end %>

</div>
</div>
