<% if @dashboard.elec_process_active_answer.size > 0 || @dashboard.elec_process_to_see_live_results_extra_time.size > 0 || @dashboard.elec_process_to_see_final_results_extra_time.size > 0 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light">
                <%= icon_elec_module_html_safe %>
                <%= get_ct_module('elec').alias %>
              </h3>
            </div>
          </div>
          <% if @dashboard.elec_process_active_answer.size > 0 %>


            <% @dashboard.elec_process_active_answer.each do |round| %>
              <div class="row">
                <div class="col-md-12">
                  <div class="dashboard-box-aviso">
                    <div class="row">
                      <div class="col-sm-7">
                        <strong>
                          <%= round.process_name_with_round_name %>
                          <%#= round.elec_event.name.blank? ? '' : ' - ' + round.elec_event.name %>
                        </strong><br>
                        <%= round.elec_event.name %>
                      </div>
                      <div class="col-sm-5">
                        <div class="row">
                          <div class="col-sm-12">
                            <nobr>
                              Finaliza el
                              <span class="label label-success">
                                  <%= (localize round.to_date, format: :day_snmonth_year) %>
                                </span>
                              &nbsp;
                              <span class="label label-danger">
                                  En <%= distance_of_time_in_words(round.to_date, lms_time) %>
                                </span>
                            </nobr>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-sm-12">
                            <%= link_to t('views.dashboard_elections.to_vote'), elec_round_exec_path(round.id), class: 'btn btn-success btn-block btn-xs' if !round.elec_process_round.show_list_categories_in_dashboard? %>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <% if round.elec_process_round.show_list_categories_in_dashboard? %>
                <div>
                  <br>
                  <table class="table table-condensed">
                    <tbody>
                    <% round.elec_process_round.elec_process.elec_process_categories.each do |category| %>
                      <tr>
                        <td>
                          <%= category.name %>
                        </td>
                        <% if !round.done? %>
                          <td>
                            <% if elec_can_user_view_my_voters?(round, category) %>
                              <% my_votes = elec_my_voters_count(round, category) %>
                              <% if my_votes > 0 %>
                                <i class="fa fa-star" aria-hidden="true" style="color: gold"></i> (<%= my_votes %>)
                              <% else %>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                              <% end %>
                            <% else %>
                              &nbsp;
                            <% end %>
                          </td>
                          <td>
                            <% if elec_can_user_view_my_voters_detail?(round, category) %>
                              <%#= link_to 'Ver', elec_round_exec_show_my_voters_detail(round, category), class: 'btn btn-primary' %>
                              <%= link_to_function t('views.dashboard_elections.to_see_my_voters'), 'open_round_execute_popup(this)', class: 'btn btn-success btn-xs', :data => {:url => elec_round_exec_show_my_voters_detail_path(round, category)} %>
                            <% else %>
                              &nbsp;
                            <% end %>
                          </td>
                          <td>
                            <% if elec_can_user_vote_in_category?(round, category) %>
                              <%= link_to t('views.dashboard_elections.to_vote'), elec_round_exec_open_category_path(round, category), class: 'btn btn-success btn-xs' %>
                            <% elsif (votes = round.elec_votes.where(:user_id => user_connected.id, :elec_process_category_id => category.id).count) && (votes > 0) %>
                              <%= link_to t('views.dashboard_elections.to_vote_completed', :count => votes), elec_round_exec_open_category_path(round, category), class: 'btn btn-info btn-xs' %>
                            <% else %>
                              <%= link_to t('views.dashboard_elections.to_vote_not_allowed', :count => votes), elec_round_exec_open_category_path(round, category), class: 'btn btn-warning btn-xs' %>
                            <% end %>
                          </td>
                        <% end %>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              <% end %>
            <% end %>

          <% end %>


          <% if @dashboard.elec_process_to_see_live_results_extra_time.size > 0 %>


            <% @dashboard.elec_process_to_see_live_results_extra_time.each do |round| %>
              <div class="row">
                <div class="col-md-12">
                  <div class="dashboard-box-aviso">
                    <div class="row">
                      <div class="col-md-4">
                        <strong>
                          <%= round.process_name_with_name_event %>
                          <%#= round.elec_event.name.blank? ? '' : ' - ' + round.elec_event.name %>
                        </strong><br>
                        <%= round.elec_process_round.name %>
                      </div>
                      <div class="col-md-6">
                        <nobr>
                          Finalizado el
                          <span class="label label-success">
                                  <%= (localize round.to_date, format: :day_snmonth_year) %>
                                </span>
                          &nbsp;
                          <span class="label label-danger">
                                  Hace <%= distance_of_time_in_words(round.to_date, lms_time) %>
                                </span>
                        </nobr>
                      </div>
                      <div class="col-md-2">
                        <%#= link_to_function 'Votar', 'open_round_execute_popup(this)', :data => {:url => elec_round_exec_path(round.id)} %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <% if round.elec_process_round.show_list_categories_in_dashboard? %>
                <div>
                  <br>
                  <table class="table table-condensed">
                    <tbody>
                    <% round.elec_process_round.elec_process.elec_process_categories.each do |category| %>
                      <tr>
                        <td>
                          <%= category.name %>
                        </td>
                        <% if !round.done? %>
                          <td>
                            <% if elec_can_user_view_my_voters?(round, category) %>
                              <% my_votes = elec_my_voters_count(round, category) %>
                              <% if my_votes > 0 %>
                                <i class="fa fa-star" aria-hidden="true" style="color: gold"></i> (<%= my_votes %>)
                              <% else %>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                              <% end %>
                            <% else %>
                              &nbsp;
                            <% end %>
                          </td>
                          <td>
                            <% if elec_can_user_view_my_voters_detail?(round, category) %>
                              <%#= link_to 'Ver', elec_round_exec_show_my_voters_detail(round, category), class: 'btn btn-primary' %>
                              <%= link_to t('views.dashboard_elections.to_see_my_voters'), elec_round_exec_show_my_voters_detail_path(round, category), class: 'btn btn-success' %>
                            <% else %>
                              &nbsp;
                            <% end %>
                          </td>
                          <td>
                            <%= link_to_function t('views.dashboard_elections.to_vote_read_only'), '', class: 'btn btn-success btn-xs' %>
                          </td>
                        <% end %>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              <% end %>
            <% end %>
          <% end %>

          <% if @dashboard.elec_process_to_see_final_results_extra_time.size > 0 %>


            <% @dashboard.elec_process_to_see_final_results_extra_time.each do |round| %>
              <div class="row">
                <div class="col-md-12">
                  <div class="dashboard-box-aviso">
                    <div class="row">
                      <div class="col-md-4">
                        <strong>
                          <%= round.process_name_with_name_event %>
                          <%#= round.elec_event.name.blank? ? '' : ' - ' + round.elec_event.name %>
                        </strong><br>
                        <%= round.elec_process_round.name %>
                      </div>
                      <div class="col-md-6">
                        <nobr>
                          Finalizó el
                          <span class="label label-success">
                                  <%= (localize round.done_at, format: :day_snmonth_year) %>
                                </span>
                          &nbsp;
                          <span class="label label-danger">
                                  Hace <%= distance_of_time_in_words(round.done_at, lms_time) %>
                                </span>
                        </nobr>
                      </div>
                      <div class="col-md-2">
                        <%= link_to t('views.dashboard_elections.to_vote_read_only'), elec_round_exec_path(round.id) if !round.elec_process_round.show_list_categories_in_dashboard? %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <% if round.elec_process_round.show_list_categories_in_dashboard? %>
                <div>
                  <br>
                  <table class="table table-condensed">
                    <tbody>
                    <% round.elec_process_round.elec_process.elec_process_categories.each do |category| %>
                      <tr>
                        <td>
                          <%= category.name %>
                        </td>
                        <% if round.done? %>
                          <td>
                            <% if elec_can_user_view_my_voters?(round, category) %>
                              <% my_votes = elec_my_voters_count(round, category) %>
                              <% if my_votes > 0 %>
                                <i class="fa fa-star" aria-hidden="true" style="color: gold"></i> (<%= my_votes %>)
                              <% else %>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                              <% end %>
                            <% else %>
                              &nbsp;
                            <% end %>
                          </td>
                          <td>
                            <% if elec_can_user_view_my_voters_detail?(round, category) %>
                              <%#= link_to 'Ver', elec_round_exec_show_my_voters_detail(round, category), class: 'btn btn-primary' %>
                              <%= link_to_function t('views.dashboard_elections.to_see_my_voters'), 'open_round_execute_popup(this)', class: 'btn btn-success btn-xs', :data => {:url => elec_round_exec_show_my_voters_detail_path(round, category)} %>
                            <% else %>
                              &nbsp;
                            <% end %>
                          </td>
                          <td>
                            <%= link_to t('views.dashboard_elections.to_vote_read_only'), elec_round_exec_open_category_path(round, category), class: 'btn btn-success btn-xs' %>
                          </td>
                        <% end %>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              <% end %>
            <% end %>

          <% end %>

        </div>
      </div>
    </div>
    <hr>
  </div>
<% end %>
<script>
    function open_round_execute_popup(link) {
        var url = $(link).data('url');
        var left = ($(window).width() / 2) - (900 / 2)
        var top = ($(window).height() / 2) - (600 / 2)
        window.open(url, 'Reconocimiento - Votar', 'scrollbars=yes,resizable=yes,status=yes,location=no,toolbar=no,menubar=no, width=800px, height = 600px, top=' + top + ', left=' + left);
    }

</script>