
<% if @dashboard.poll_processes_active_answer.size > 0 || @dashboard.poll_processes_active_report.size > 0 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-list"></i>
                Encuestas
              </h3>
            </div>
          </div>

          <% @dashboard.poll_processes_active_answer.each do |poll_process| %>
            <div class="row">
              <div class="col-md-12">
                <div class="dashboard-box-aviso">
                  <div class="row">
                    <div class="col-md-4">
                      <strong>
                        <%= poll_process.name %>
                      </strong>
                    </div>
                    <div class="col-md-6">
                      <nobr>
                        Finaliza el
                                <span class="label label-success">
                                  <%= (localize poll_process.to_date, format: :day_snmonth_year) %>
                                </span>
                                &nbsp;
                                <span class="label label-danger">
                                  En <%= distance_of_time_in_words(poll_process.to_date, lms_time) %>
                                </span>
                      </nobr>
                    </div>
                    <div class="col-md-2">
                      <%= link_to 'Responder', poll_processes_execute_path(poll_process), class: 'btn btn-success' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <% @dashboard.poll_processes_active_report.each do |poll_process| %>
            <div class="row">
              <div class="col-md-12">
                <div class="dashboard-box-aviso">
                  <div class="row">
                    <div class="col-md-4">
                      <strong>
                        <%= poll_process.name %>
                      </strong>
                    </div>
                    <div class="col-md-6">
                      <nobr>
                        Finaliza el
                                <span class="label label-success">
                                  <%= (localize poll_process.to_date, format: :day_snmonth_year) %>
                                </span>
                                &nbsp;
                                <span class="label label-danger">
                                  En <%= distance_of_time_in_words(poll_process.to_date, lms_time) %>
                                </span>
                      </nobr>
                    </div>
                    <div class="col-md-2">
                      <%= link_to 'Ver resultados', poll_processes_view_report_path(poll_process) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>


        </div>
      </div>
    </div>
  </div>
<% end %>