
<% if @dashboard.tracking_processes.size > 0 %>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light">
                  <%= icon_tracking_module_html_safe %>
                  Plan de desarrollo profesional
                </h3>
              </div>
              <div class="col-md-12">
                <% @dashboard.tracking_processes.each do |tracking_process| %>
                  <div class="row">
                    <div class="col-md-8">
                    <%= tracking_process.name %>
                    </div>
                    <div class="col-md-2">
                      <%= link_to 'Ingresar', tracking_form_instances_path(tracking_process) %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>