

  <% @dashboard.members.each_with_index do |member, index_colab| %>

    <% break if index_colab > 5 %>

    <% if index_colab > 0 && index_colab%2 == 0 %>

      </div>
      <hr>
    <% end %>

    <% if index_colab == 0 || index_colab%2 == 0 %>
      <div class="row">
    <% end %>

    <div class="col-md-6">

      <div class="row">

        <div class="col-md-4 text-center">

          <% if member.foto %>
            <img src="<%= request.base_url %>/storage/<%=@company.codigo%>/fotos_usuarios/<%=member.foto%>" class="img-rounded user-foto-responsive">
          <% else %>
            <img src="/assets/default_user.png" class="img-rounded user-foto-responsive">

          <% end %>

        </div>
        <div class="col-md-8">

          <div class="row">
            <div class="col-md-12">
              <h6 class="ultra-light margin-zero" style="font-size: 1em;">

                <a href="<%= my_people_mi_colaborador_path(member.id) %>" style="color: #000;">

                  <span class="semi-bold"><%= member.nombre %>  <%= member.apellidos %></span>

                </a>

              </h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 ">
              <a><em style="word-wrap: break-word;"><%= member.email %></em></a>
            </div>
          </div>


          <% @dashboard.characteristics_mini_ficha.each do |characteristic| %>

            <div class="row">
              <div class="col-md-12" style="font-size: 12px;">
                <%= member.formatted_characteristic_value characteristic %>
              </div>
            </div>

          <% end %>

        </div>

      </div>

    </div>

  <% end %>

  </div>
