<div class="panel panel-default">
  <div class="panel-body">

    <div class="row">
      <div class="col-md-12">
        <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light">
          <i class="fa fa-check-square-o title-text-color-<%= $current_domain %>"></i> Actividades Pendientes
        </h3>
      </div>
    </div>


    <% tab_pending_activitites_active = -1 %>

    <ul class="nav nav-tabs" role="tablist">
      <% if @dashboard.pending_user_courses.size > 0 %>
          <li role="presentation" class="active">
            <a href="#pending_activities_courses" aria-controls="pending_activities_courses" role="tab" data-toggle="tab">
              <%= @dashboard.ct_module_lms.alias %>
            </a>
          </li>
          <% tab_pending_activitites_active = 0 %>
      <% end %>
      <% if @dashboard.dnc_cua_pendientes.size > 0 || @dashboard.pace_cua_as_pendientes.size > 0 || @dashboard.pace_cua_um_pendientes.size > 0 %>
          <li role="presentation" class="<%= 'active' if tab_pending_activitites_active == -1 %>">
            <a href="#pending_activities_dncs" aria-controls="pending_activities_dncs" role="tab" data-toggle="tab">
              Planificación
            </a>
          </li>
          <% tab_pending_activitites_active = 1 if tab_pending_activitites_active == -1 %>
      <% end %>
      <% if @dashboard.pe_processes.size > 0 %>
          <li role="presentation" class="<%= 'active' if tab_pending_activitites_active == -1 %>">
            <a href="#pending_activities_pe" aria-controls="pending_activities_pe" role="tab" data-toggle="tab">
              <%= @dashboard.ct_module_pe.alias %>
            </a>
          </li>
          <% tab_pending_activitites_active = 2 if tab_pending_activitites_active == -1 %>
      <% end %>
      <% if @dashboard.tracking_processes_pending_definition.size > 0 %>
          <li role="presentation" class="<%= 'active' if tab_pending_activitites_active == -1 %>">
            <a href="#pending_tracking_processes" aria-controls="pending_tracking_processes" role="tab" data-toggle="tab">
              <%= @dashboard.ct_module_trkn.alias %>
            </a>
          </li>
          <% tab_pending_activitites_active = 3 if tab_pending_activitites_active == -1 %>
      <% end %>
    </ul>
    <br>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane <%= 'active' if tab_pending_activitites_active == 0 %>" id="pending_activities_courses">
        <% if @dashboard.pending_user_courses.size > 0 %>

            <div class="row">

              <div class="col-md-12">


                <div class="row">
                  <div class="col-md-8">

                    <% @dashboard.pending_user_courses.each_with_index do |uc, index| %>

                        <div class="row">

                          <div class="col-md-12">
                            <div class="<%= 'dashboard-box-item-pendiente' if index > 0 %>">
                              <div class="row">
                                <div class="col-md-9">

                                  <a href="<%= user_courses_from_path(uc.enrollment.program_id) %>" style="color: #000000;">
                                    <%= uc.course.nombre %>
                                  </a>

                                </div>
                                <div class="col-md-3">

                                  <% if @dashboard.pending_button_states[index] == :iniciar %>

                                      <span class="label label-success">Por iniciar</span>

                                  <% elsif @dashboard.pending_button_states[index] == :continuar %>

                                      <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="<%= uc.porcentaje_avance.to_i %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= uc.porcentaje_avance.to_i %>%;">
                                          <%= uc.porcentaje_avance.to_i %>%
                                        </div>
                                      </div>


                                  <% elsif @dashboard.pending_button_states[index] == :resultados %>

                                      <span class="label label-warning">Por responder<br>encuesta</span>

                                  <% end %>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                    <% end %>

                  </div>

                  <% if !$mobile_client %>
                      <div class="col-md-4">

                        <div class="alert alert-success">
                          Ingrese al menú <%= @dashboard.ct_menu_tr.user_menu_alias %> para revisar los cursos...
                        </div>

                      </div>
                  <% end %>
                </div>

              </div>
            </div>

        <% end %>
      </div>
      <div role="tabpanel" class="tab-pane <%= 'active' if tab_pending_activitites_active == 1 %>" id="pending_activities_dncs">
        <% if @dashboard.dnc_cua_pendientes.size > 0 || @dashboard.pace_cua_as_pendientes.size > 0 || @dashboard.pace_cua_um_pendientes.size > 0 %>

            <div class="row">

              <div class="col-md-12">

                <div class="row">
                  <div class="col-md-8">

                    <% if @dashboard.dnc_cua_pendientes.size > 0 %>

                        <% years = @dashboard.dnc_pp_pendientes.map { |pp| pp.year } %>

                        <% years.uniq! %>

                        <% years.each do |year| %>

                            <% hay_registrar = 0 %>
                            <% hay_corregir = 0 %>

                            <% @dashboard.dnc_cua_pendientes.each_with_index do |cua, index| %>

                                <% if @dashboard.dnc_pp_pendientes[index].year == year %>

                                    <% if @dashboard.dnc_estado_pendientes[index] == :registrar %>

                                        <% hay_registrar += 1 %>

                                    <% else %>

                                        <% hay_corregir += 1 %>

                                    <% end %>

                                <% end %>

                            <% end %>

                            <% if hay_registrar > 0 %>

                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="item-pendiente">
                                      <div class="row">

                                        <div class="col-md-8">
                                          <strong>Planificación</strong> <%= year %>
                                        </div>

                                        <div class="col-md-4">

                                <span class="label label-success mouse_pointer" data-toggle="button"

                                      data-content='
                                    <div  style="max-height: 400px; overflow: scroll;">
                                      <table class="table table-striped table-bordered">
                                        <thead>
                                          <tr>
                                            <th>#</th>
                                            <th>Unidad</th>
                                            <th>Área</th>
                                          </tr>
                                        </thead>

                                        <tbody>
                                          <% num = 1 %>

                                          <% @dashboard.dnc_cua_pendientes.each_with_index do |cua, index| %>

                                            <% if @dashboard.dnc_pp_pendientes[index].year == year %>

                                              <% if @dashboard.dnc_estado_pendientes[index] == :registrar %>

                                                <tr>

                                                  <td>
                                                    <%= num %>
                                                  </td>
                                                  <td>
                                                    <%= cua.company_unit.nombre %>
                                                  </td>
                                                  <td>
                                                    <%= cua.nombre %>
                                                  </td>

                                                </tr>

                                                <% num += 1 %>

                                              <% end %>

                                            <% end %>

                                          <% end %>


                                        </tbody>

                                      </table>
                                    </div>
                                  '


                                      id='dnc_ac_ta_por_registrar_<%= year %>'>
                                  Por registrar <%= hay_registrar %> DNCs
                                </span>

                                          <script language="javascript">
                                            $('#dnc_ac_ta_por_registrar_<%= year %>').popover({
                                              html: true,
                                              placement: 'top',
                                              trigger: 'click'
                                            });
                                          </script>

                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                </div>

                            <% end %>

                            <% if hay_corregir > 0 %>

                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="item-pendiente">
                                      <div class="row">

                                        <div class="col-md-8">
                                          <strong>Planificación</strong> <%= year %>
                                        </div>

                                        <div class="col-md-4">

                                <span class="label label-warning mouse_pointer" data-toggle="button"

                                      data-content='
                                    <div  style="max-height: 400px; overflow: scroll;">
                                      <table class="table table-striped table-bordered">
                                        <thead>
                                          <tr>
                                            <th>#</th>
                                            <th>Unidad</th>
                                            <th>Área</th>
                                          </tr>
                                        </thead>

                                        <tbody>

                                          <% num = 1 %>

                                          <% @dashboard.dnc_cua_pendientes.each_with_index do |cua, index| %>

                                            <% if @dashboard.dnc_pp_pendientes[index].year == year %>

                                              <% if @dashboard.dnc_estado_pendientes[index] == :corregir %>

                                                <tr>

                                                  <td>
                                                    <%= num %>
                                                  </td>
                                                  <td>
                                                    <%= cua.company_unit.nombre %>
                                                  </td>
                                                  <td>
                                                    <%= cua.nombre %>
                                                  </td>

                                                </tr>
                                                <% num += 1 %>
                                              <% end %>

                                            <% end %>

                                          <% end %>


                                        </tbody>

                                      </table>
                                    </div>
                                  '


                                      id='dnc_ac_ta_por_corregir_<%= year %>'>
                                  Por corregir <%= hay_corregir %> DNCs
                                </span>

                                          <script language="javascript">
                                            $('#dnc_ac_ta_por_corregir_<%= year %>').popover({
                                              html: true,
                                              placement: 'top',
                                              trigger: 'click'
                                            });
                                          </script>

                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                </div>

                            <% end %>

                        <% end %>

                    <% end %>

                    <% if @dashboard.pace_cua_as_pendientes.length > 0 %>

                        <% years = @dashboard.pace_pp_as_pendientes.map { |pp| pp.year } %>

                        <% years.uniq! %>

                        <% years.each do |year| %>

                            <% hay_aprobar = 0 %>
                            <% hay_corregir = 0 %>

                            <% @dashboard.pace_cua_as_pendientes.each_with_index do |cua, index| %>

                                <% if @dashboard.pace_pp_as_pendientes[index].year == year %>

                                    <% if @dashboard.pace_estado_as_pendientes[index] == :aprobar %>

                                        <% hay_aprobar += 1 %>

                                    <% else %>

                                        <% hay_corregir += 1 %>

                                    <% end %>

                                <% end %>

                            <% end %>

                            <% if hay_aprobar > 0 %>

                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="item-pendiente">
                                      <div class="row">

                                        <div class="col-md-8">
                                          <strong>Planificación</strong> <%= year %>
                                        </div>

                                        <div class="col-md-4">

                                <span class="label label-success mouse_pointer" data-toggle="button"

                                      data-content='
                                    <div  style="max-height: 400px; overflow: scroll;">
                                      <table class="table table-striped table-bordered">
                                        <thead>
                                          <tr>
                                            <th>#</th>
                                            <th>Unidad</th>
                                            <th>Área</th>
                                          </tr>
                                        </thead>

                                        <tbody>

                                          <% num = 1 %>

                                          <% @dashboard.pace_cua_as_pendientes.each_with_index do |cua, index| %>

                                            <% if @dashboard.pace_pp_as_pendientes[index].year == year %>

                                              <% if @dashboard.pace_estado_as_pendientes[index] == :aprobar %>

                                                <tr>

                                                  <td>
                                                    <%= num %>
                                                  </td>
                                                  <td>
                                                    <%= cua.company_unit.nombre %>
                                                  </td>
                                                  <td>
                                                    <%= cua.nombre %>
                                                  </td>

                                                </tr>
                                                <% num += 1 %>
                                              <% end %>

                                            <% end %>

                                          <% end %>


                                        </tbody>

                                      </table>
                                    </div>
                                  '


                                      id='dnc_as_por_aprobar_<%= year %>'>
                                  Por aprobar <%= hay_aprobar %> DNCs
                                </span>

                                          <script language="javascript">
                                            $('#dnc_as_por_aprobar_<%= year %>').popover({
                                              html: true,
                                              placement: 'top',
                                              trigger: 'click'
                                            });
                                          </script>

                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                </div>

                            <% end %>

                            <% if hay_corregir > 0 %>

                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="item-pendiente">
                                      <div class="row">

                                        <div class="col-md-8">
                                          <strong>Planificación</strong> <%= year %>
                                        </div>

                                        <div class="col-md-4">

                                <span class="label label-warning mouse_pointer" data-toggle="button"

                                      data-content='
                                    <div  style="max-height: 400px; overflow: scroll;">
                                      <table class="table table-striped table-bordered">
                                        <thead>
                                          <tr>
                                            <th>#</th>
                                            <th>Unidad</th>
                                            <th>Área</th>
                                          </tr>
                                        </thead>

                                        <tbody>

                                          <% num = 1 %>

                                          <% @dashboard.pace_cua_as_pendientes.each_with_index do |cua, index| %>

                                            <% if @dashboard.pace_pp_as_pendientes[index].year == year %>

                                              <% if @dashboard.pace_estado_as_pendientes[index] == :corregir %>

                                                <tr>

                                                  <td>
                                                    <%= num %>
                                                  </td>
                                                  <td>
                                                    <%= cua.company_unit.nombre %>
                                                  </td>
                                                  <td>
                                                    <%= cua.nombre %>
                                                  </td>

                                                </tr>
                                                <% num += 1 %>
                                              <% end %>

                                            <% end %>

                                          <% end %>


                                        </tbody>

                                      </table>
                                    </div>
                                  '


                                      id='dnc_as_por_aprobar_<%= year %>'>
                                  Por corregir <%= hay_corregir %> DNCs
                                </span>

                                          <script language="javascript">
                                            $('#dnc_as_por_aprobar_<%= year %>').popover({
                                              html: true,
                                              placement: 'top',
                                              trigger: 'click'
                                            });
                                          </script>


                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                </div>

                            <% end %>

                        <% end %>

                    <% end %>

                    <% if @dashboard.pace_cua_um_pendientes.length > 0 %>

                        <% years = @dashboard.pace_pp_um_pendientes.map { |pp| pp.year } %>

                        <% years.uniq! %>

                        <% years.each do |year| %>

                            <% hay_aprobar = 0 %>

                            <% @dashboard.pace_cua_um_pendientes.each_with_index do |cua, index| %>

                                <% if @dashboard.pace_pp_um_pendientes[index].year == year %>

                                    <% hay_aprobar += 1 %>

                                <% end %>

                            <% end %>

                            <% if hay_aprobar > 0 %>

                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="item-pendiente">
                                      <div class="row">

                                        <div class="col-md-8">
                                          <strong>Planificación</strong> <%= year %>
                                        </div>

                                        <div class="col-md-4">

                                <span class="label label-success mouse_pointer" data-toggle="button"

                                      data-content='
                                    <div  style="max-height: 400px; overflow: scroll;">
                                      <table class="table table-striped table-bordered">
                                        <thead>
                                          <tr>
                                            <th>#</th>
                                            <th>Unidad</th>
                                            <th>Área</th>
                                          </tr>
                                        </thead>

                                        <tbody>

                                          <% num = 1 %>

                                          <% @dashboard.pace_cua_um_pendientes.each_with_index do |cua, index| %>

                                            <% if @dashboard.pace_pp_um_pendientes[index].year == year %>

                                                <tr>

                                                  <td>
                                                    <%= num %>
                                                  </td>
                                                  <td>
                                                    <%= cua.company_unit.nombre %>
                                                  </td>
                                                  <td>
                                                    <%= cua.nombre %>
                                                  </td>

                                                </tr>
                                                <% num += 1 %>

                                            <% end %>

                                          <% end %>


                                        </tbody>

                                      </table>
                                    </div>
                                  '


                                      id='dnc_um_por_aprobar_<%= year %>'>
                                  Por aprobar <%= hay_aprobar %> DNCs
                                </span>

                                          <script language="javascript">
                                            $('#dnc_um_por_aprobar_<%= year %>').popover({
                                              html: true,
                                              placement: 'top',
                                              trigger: 'click'
                                            });
                                          </script>

                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                </div>

                            <% end %>

                        <% end %>

                    <% end %>


                  </div>
                  <% if !$mobile_client %>
                      <div class="col-md-4">

                        <div class="alert alert-info">
                          Ingrese al menú Gestión de la Capacitación para ver el estado del proceso...
                        </div>

                      </div>
                  <% end %>
                </div>

              </div>
            </div>

        <% end %>
      </div>
      <div role="tabpanel" class="tab-pane <%= 'active' if tab_pending_activitites_active == 2 %>" id="pending_activities_pe">
        <% if @dashboard.pe_processes.size > 0 %>

            <div class="row">
              <div class="col-md-8">

                <% has_pe_pending = false %>

                <% @dashboard.pe_processes.each_with_index do |pe_process, index| %>

                    <div class="row <%= 'dashboard-box-item-pendiente' if index > 0 %>">

                      <div class="col-md-6">

                        <%= pe_process.name %> - <%= pe_process.period %>

                      </div>

                      <div class="col-md-6">

                        <% @dashboard.pe_evaluations_to_accept.each do |pe_evaluation| %>

                            <% if pe_evaluation.pe_process.id == pe_process.id %>

                                <% has_pe_pending = true %>

                                <br>
                                <div class="row">

                                  <div class="col-md-12">

                                    <%= link_to 'Pendiente de confirmar '+pe_evaluation.name.downcase, pe_def_by_user_people_list_path(pe_evaluation) %>

                                  </div>
                                </div>

                            <% end %>

                        <% end %>

                        <% pe_evaluations_to_define, num_pending_define = @dashboard.pe_evaluations_to_define %>

                        <% pe_evaluations_to_define.each_with_index do |pe_evaluation, ip| %>

                            <% if pe_evaluation.pe_process.id == pe_process.id %>

                                <% has_pe_pending = true %>

                                <br>
                                <div class="row">

                                  <div class="col-md-12">

                                    <%= link_to 'Pendiente de definir '+pe_evaluation.name.downcase+': '+num_pending_define[ip].to_s, pe_def_by_user_people_list_path(pe_evaluation) %>

                                  </div>
                                </div>

                            <% end %>

                        <% end %>

                        <% pe_evaluations_to_validate, num_pending_validate, num_pending_validate_alias = @dashboard.pe_evaluations_to_validate %>

                        <% pe_evaluations_to_validate.each_with_index do |pe_evaluation, ip| %>

                            <% if pe_evaluation.pe_process.id == pe_process.id %>

                                <% has_pe_pending = true %>

                                <br>
                                <div class="row">

                                  <div class="col-md-12">

                                    <%= link_to 'Pendiente de '+num_pending_validate_alias[ip]+' '+pe_evaluation.name.downcase+': '+num_pending_validate[ip].to_s, pe_def_by_user_people_list_path(pe_evaluation) %>

                                  </div>
                                </div>

                            <% end %>

                        <% end %>

                        <% @dashboard.pe_evaluations_to_track.each do |pe_evaluation| %>

                            <% if pe_evaluation.pe_process.id == pe_process.id %>

                                <% has_pe_pending = true %>

                                <br>
                                <div class="row">

                                  <div class="col-md-12">

                                    <%= link_to 'Seguimiento de '+pe_evaluation.name.downcase, pe_tracking_people_list_path(pe_evaluation) %>

                                  </div>
                                </div>

                            <% end %>

                        <% end %>

                        <% @dashboard.pe_process_to_assess.each do |pe_process_| %>

                          <% if pe_process_.id == pe_process.id %>

                            <% has_pe_pending = true %>

                            <br>
                            <div class="row">
                              <div class="col-md-12">

                              <% if pe_process.step_assessment_uniq %>

                                <%= link_to pe_process_.step_assessment_alias, pe_uniq_path %>

                              <% else %>

                                <%= link_to pe_process_.step_assessment_alias, pe_assessment_people_list_2_path(pe_process) %>

                              <% end %>

                              </div>
                            </div>

                          <% end %>

                        <% end %>

                        <% @dashboard.pe_process_to_validate.each do |pe_process_| %>

                            <% if pe_process_.id == pe_process.id %>

                                <% has_pe_pending = true %>

                                <br>
                                <div class="row">

                                  <div class="col-md-12">

                                    <%= link_to 'Validar', pe_validation_people_list_path(pe_process) %>

                                  </div>
                                </div>

                            <% end %>

                        <% end %>

                        <% @dashboard.pe_process_to_calibrate.each do |pe_process_| %>

                            <% if pe_process_.id == pe_process.id %>

                                <% has_pe_pending = true %>

                                <br>
                                <div class="row">

                                  <div class="col-md-12">

                                    <%= link_to 'Calibrar', pe_calibration_list_sessions_path(pe_process) %>

                                  </div>
                                </div>

                            <% end %>

                        <% end %>

                        <% @dashboard.pe_process_to_provide_feedback.each do |pe_process_| %>

                            <% if pe_process_.id == pe_process.id %>

                              <% has_pe_pending = true %>

                              <br>
                              <div class="row">

                                <div class="col-md-12">

                                  <% if pe_process.step_assessment_uniq %>

                                    <%= link_to pe_process_.step_feedback_alias, pe_uniq_path %>

                                  <% else %>

                                  <%= link_to pe_process_.step_feedback_alias, pe_feedback_people_list_2_path(pe_process) %>

                                  <% end %>

                                </div>
                              </div>

                            <% end %>

                        <% end %>

                        <% @dashboard.pe_process_to_accept_feedback.each do |pe_process_| %>

                            <% if pe_process_.id == pe_process.id %>

                                <% has_pe_pending = true %>

                                <br>
                                <div class="row">

                                  <div class="col-md-12">

                                    <%= link_to pe_process_.step_feedback_accepted_alias, pe_feedback_accept_show_path(pe_process) %>

                                  </div>
                                </div>

                            <% end %>

                        <% end %>

                      </div>

                    </div>
                    <br>

                <% end %>
              </div>
              <div class="col-md-4">

                <% if !$mobile_client && has_pe_pending %>

                    <div class="alert alert-danger">
                      Ingrese al menú <%= @dashboard.ct_menu_pe.user_menu_alias %> ...
                    </div>

                <% end %>

              </div>
            </div>


        <% end %>
      </div>

      <div role="tabpanel" class="tab-pane <%= 'active' if tab_pending_activitites_active == 3 %>" id="pending_tracking_processes">
        <% if @dashboard.tracking_processes_pending_definition.size > 0 %>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <% index = 0 %>
                    <% @dashboard.tracking_processes_pending_definition.each_pair do |process, actions| %>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="<%= 'dashboard-box-item-pendiente' if index > 0 %>">
                              <div class="row">
                                <div class="col-md-6">
                                  <%= process.name %>
                                </div>
                                <div class="col-md-6">
                                  <% actions.each do |action| %>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <%= link_to action.name, tracking_form_instances_path(process) %>
                                    </div>
                                  </div>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% index += 1 %>
                    <% end %>
                    </div>
                  </div>
                </div>
              </div>

        <% end %>
        </div>

      </div>

    </div>
  </div>
