

  <br>

  <table class="table table-condensed table-bordered table-hover">

    <thead>
    <th>#</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Fecha</th>
    <th></th>
    </thead>

    <tbody>

    <% num_doc = 0 %>

    <% InformativeDocument.all.each do |document| %>

        <% if File.exist? @company.directorio+'/'+@company.codigo+'/informative_documents/'+document.id.to_s+'/'+user_connected.codigo+'.pdf' %>

            <tr>
              <td><%= num_doc += 1 %></td>
              <td><%= document.name %></td>
              <td><%= document.description %></td>
              <td>
                <%= localize document.created_at, format: :day_snmonth_year %>
              </td>
              <td>
                <%= link_to 'Descargar', download_informative_document_path(document) %>
              </td>
            </tr>

        <% end %>

    <% end %>
    </tbody>

  </table>
