<div class="row">
  <div class="col-md-12">


    <% inicio = nil %>
    <% uci = user_connected.user_courses.where('inicio IS NOT NULL').reorder('inicio ASC').first %>
    <% inicio = uci.inicio if uci %>

    <% desde = nil %>
    <% ucf = user_connected.user_courses.where('desde IS NOT NULL').reorder('desde ASC').first %>
    <% desde = ucf.desde if ucf %>

    <% if inicio %>

        <% inicio = desde if desde && desde < inicio %>
        <% inicio = inicio.strftime('%Y') %>
        <% fin = lms_time.strftime('%Y') %>

        <% @enrollments = user_connected.enrollments %>

        <% (inicio.to_i..fin.to_i).reverse_each do |year| %>

            <div class="row" style="background-color: #f5f5f5; padding-top: 3px; padding-bottom: 3px;">
              <div class="col-md-12 text-center">
                <strong><%= year %></strong>
              </div>
            </div>
<br>

            <% @enrollments.each do |enrollment| %>

                <% enrollment.level.courses.each do |course| %>

                    <% program_course = ProgramCourse.where('program_id = ? AND course_id = ? ', enrollment.program.id, course.id).first %>

                    <% estado, estado_boton, user_course, user_courses = user_course_status(enrollment, program_course) %>

                    <% if estado && (estado == :plazo_vencido || estado == :aprobado || estado == :reprobado) %>

                        <% mostrar = false %>

                        <% if user_course.fin %>

                            <% if user_course.fin.strftime('%Y').to_i == year %>

                                <% mostrar = true %>
                            <% end %>

                        <% elsif user_course.inicio %>

                            <% if user_course.inicio.strftime('%Y').to_i == year %>

                                <% mostrar = true %>

                            <% end %>

                        <% elsif user_course.desde %>

                            <% if user_course.desde.strftime('%Y').to_i == year %>

                                <% mostrar = true %>

                            <% end %>

                        <% end %>

                        <% if mostrar %>
                            <div class="row">
                              <div class="col-md-4"><strong>Curso</strong>
                              </div>
                              <div class="col-md-8 text-justify"><%= course.nombre %>
                              </div>
                            </div>
                            <br>
                            <div class="row">
                              <div class="col-md-4"><strong>Programa</strong>
                              </div>

                              <div class="col-md-8 text-justify"><%= enrollment.program.nombre %>
                              </div>
                            </div>
                            <br>
                            <div class="row">
                              <div class="col-md-4"><strong>Estado / Nota</strong>
                              </div>
                              <div class="col-md-8">
                                <% if estado == :no_iniciado %>
                                    <span class="label label-default">No iniciado</span>
                                <% elsif estado == :en_progreso %>
                                    <span class="label label-primary">En progreso</span>
                                <% elsif estado == :plazo_vencido %>
                                    <span class="label label-danger">Plazo vencido</span>
                                <% elsif estado == :aprobado %>
                                    <% if user_course.nota %>
                                        <span class="label label-success">Aprobado</span>
                                    <% else %>
                                        <span class="label label-success">Cursado</span>
                                    <% end %>
                                <% elsif estado == :reprobado %>
                                    <span class="label label-danger">Reprobado</span>
                                <% end %>

                                <% if estado == :aprobado && user_course.nota %>
                                  <span class="label label-success">
                                    <%= format_nota(user_course.nota) %> <%= tipo_nota(course) %>
                                  </span>
                                <% elsif estado == :reprobado && user_course.nota %>
                                  <span class="label label-danger">
                                    <%= format_nota(user_course.nota) %> <%= tipo_nota(course) %>
                                  </span>
                                <% end %>
                              </div>
                            </div>
                            <hr>
                        <% end %>

                    <% end %>

                <% end %>

            <% end %>



        <% end %>

    <% end %>

  </div>
</div>