<div class="row">
  <div class="col-md-12">

    <% num_eval_des = 0 %>

    <% user_connected.hr_process_users.where('finalizado = ?', true).each_with_index do |hr_process_user, index| %>

        <% if hr_process_user.hr_process.show_user_profile %>
            <div class="row">
              <div class="col-md-4">
                <strong>Proceso</strong>
              </div>
              <div class="col-md-8">
                <%= hr_process_user.hr_process.nombre %> - <%= hr_process_user.hr_process.year %>
              </div>
            </div>

            <% hr_process_assessment_qua = hr_process_user.hr_process_assessment_qua %>
            <br>
            <div class="row">
              <div class="col-md-12">
                <strong>Resultado final</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="border-right: 0px;">

                <% if hr_process_assessment_qua %>

                    <% hr_process_quadrant = hr_process_assessment_qua.hr_process_quadrant %>

                    <% if hr_process_quadrant.nombre %>

                              <span class="label label-default" style="width: 80%; text-align: center; <%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant.color_text %><%= 'background-color: #'+hr_process_quadrant.color+';' if hr_process_quadrant.color %>">
                                <strong><%= hr_process_quadrant.nombre.html_safe %></strong>
                              </span>

                    <% end %>

                <% end %>

                <% if hr_process_assessment_qua %>
                    &nbsp;
                    <% hr_process_quadrant = hr_process_assessment_qua.hr_process_quadrant %>

                    <% if hr_process_quadrant.nombre %>

                        <%= hr_process_quadrant.descripcion.html_safe %>

                    <% end %>

                <% end %>

              </div>
              <br>
              <div class="col-md-12 text-justify" style="border-left: 0px;">

                <% if hr_process_assessment_qua %>

                    <% hr_process_quadrant = hr_process_assessment_qua.hr_process_quadrant %>

                    <% if hr_process_quadrant.nombre %>

                        <%= hr_process_quadrant.descripcion_detalle.html_safe %>

                    <% end %>

                <% end %>
                <hr>
              </div>
            </div>
        <% end %>

    <% end %>
  </div>
</div>