<div class="row">
  <div class="col-md-8">

    <div class="row">
      <div class="col-md-4 text-right">
        <strong>Código de usuario</strong>
      </div>
      <div class="col-md-8">
        <%= user_connected.codigo %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4 text-right">
        <strong>Nombre y Apellidos</strong>
      </div>
      <div class="col-md-8">
        <%= user_connected.nombre %> <%= user_connected.apellidos %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4 text-right">
        <strong>Correo electrónico</strong>
      </div>
      <div class="col-md-8">
        <%= user_connected.email %>
      </div>
    </div>

  </div>
  <div class="col-md-4 text-right">
    <% if user_connected.foto %>
        <img src="<%= request.base_url %>/storage/<%= @company.codigo %>/fotos_usuarios/<%= user_connected.foto %>" class="img-thumbnail user-foto">
    <% else %>
        <img src="/assets/default_user.png" class="img-thumbnail user-foto">
    <% end %>
    <br>
    <% if user_connected.foto %>

        <%= link_to 'Actualizar foto', users_edit_foto_by_user_path %>

    <% else %>

        <%= link_to 'Subir foto', users_edit_foto_by_user_path %>

    <% end %>
  </div>
</div>

<%

  jc = false
  jc = true if user_connected.jefe_capacitacion?

  ta = false
  ta = true if can_show_planning_process_training_analyst_menu?

  am = false
  am = true if can_show_planning_process_area_manager_menu?

  sa = false
  sa = true if can_show_planning_process_area_superintendent_menu?

  um = false
  um = true if can_show_planning_process_unit_manager_menu?

  fo = false
  fo = true if user_connected.folder_owners.count > 0

%>

<% if jc || ta || am || sa || um || fo %>

    <hr>

    <div class="row">
      <div class="col-md-8">

        <div class="row">
          <div class="col-md-4 text-right">
            <strong>Roles de Usuario</strong>
          </div>
          <div class="col-md-8">

            <% if jc || ta || am || sa || um %>

                <strong>Gestión de la Capacitación:</strong> <br>

                <% if jc %>
                    - Jefe de capacitación <br>
                <% end %>

                <% if ta %>
                    - Analista capacitación <br>
                <% end %>

                <% if am %>
                    - Responsable de área <br>
                <% end %>

                <% if sa %>
                    - Superintendente de área <br>
                <% end %>

                <% if um %>
                    - Gerente de unidad <br>
                <% end %>
                <br>
            <% end %>

            <% if fo %>

                <strong>Biblioteca:</strong> <br>
                - Permisos de escritura

            <% end %>

          </div>
        </div>
      </div>
    </div>
<% end %>

<hr>

<% if ct_module_jobs? %>

    <div class="row">
      <div class="col-md-8">

        <div class="row">
          <div class="col-md-4 text-right">
            <strong>Puesto actual</strong>
          </div>
          <div class="col-md-8">

            <%= user_connected.j_job.name if user_connected.j_job %>

          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-4 text-right">
            <strong>Familia de puestos</strong>
          </div>
          <div class="col-md-8">
            <%= user_connected.j_job.j_job_level.name if user_connected.j_job %>
          </div>
        </div>

      </div>
    </div>

    <hr>

<% end %>

<div class="row">
  <div class="col-md-8">
    <% Characteristic.where('publica = ?', true).reorder('position, nombre').each do |characteristic| %>

        <div class="row">
          <div class="col-md-4 text-right">
            <strong><%= characteristic.nombre %></strong>
          </div>
          <div class="col-md-8">

            <% uc = user_connected.user_characteristics.find_by_characteristic_id(characteristic.id) %>

            <%= uc.valor if uc %>

          </div>
        </div>
        <br>
    <% end %>
  </div>
</div>
