<% unless $mobile_client %>

  <% if false #@company.active_directory && user_connected.show_azure_landing_page %>
    <div class="col-md-8 col-md-offset-2 landing_div">
      <div class="alert alert-info">
        Si desea no volver a ver explicación de azure haga click
        <%= link_to 'aquí.', '#', onclick: 'save_show_azure(this)', data: { url: static_pages_save_show_azure_ajax_call_path(user_connected.id) } %>
      </div>
    </div>
  <% end %>

    <% if time_session_in_minutes < 1440 %>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="alert alert-danger">
            Recuerda que tras una hora de inactividad en la plataforma, tu sesión expirará.
          </div>
        </div>
      </div>

      <br>

    <% end %>

    <div class="row">

      <div class="col-md-6">

        <%= render partial: 'dashboard_user_profile' %>

        <%= render partial: 'dashboard_pending' %>

      </div>

      <div class="col-md-6">

        <%= render partial: 'dashboard_elections' %>

        <%= render partial: 'dashboard_job_market' %>

        <%= render partial: 'dashboard_polls' %>

        <%= render partial: 'dashboard_banners' %>

        <%= render partial: 'dashboard_notifications' %>

      </div>

    </div>

<% else %>

    <div class="row">

      <div class="col-md-6">

        <%= render partial: 'dashboard_pending_mobile' %>

      </div>

      <div class="col-md-6">

        <%= render partial: 'dashboard_polls_mobile' %>

        <%= render partial: 'dashboard_notifications_mobile' %>

      </div>

    </div>

<% end %>

<script>
  function save_show_azure(link){
      url = $(link).data('url')
      show_value = 'true';

      $.ajax({
          url: url,
          type: 'get',
          data: { show_value: show_value },
          dataType: 'json',
          error: function (XMLHttpRequest, errorTextStatus, error){
              alert('Failed: '+ errorTextStatus + '; ' + error);
          },
          success: function (result) {
              if ( result === true ){
                  $('.landing_div').hide(500);
                  alert('Cambio realizado correctamente')
              }else{
                  alert( 'No se pudo realizar cambio')
              }
          }
      })
  }
</script>