<% if @company.show_header_in_login %>
  <div class="franja-header-login">

  </div>
<% end %>

<br>

<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="https://static.collectui.com/shots/2799566/oops-something-went-wrong-large" width="100%">
      </div>
      <% if session[:redirect_post_login] %>
      <div class="panel-footer clearfix">
        <div class="pull-right" >
          <%= link_to 'Reintentar', session[:redirect_post_login] %>
        </div>
      </div>
        <% end %>
    </div>
  </div>
</div>

<% if $current_domain == 'bancofalabella' || $current_domain == 'bancofalabella-training' %>

  <div class="position-background-e1-login-<%= $current_domain %>">
    <img src="/assets/login/bg-<%= $current_domain %>-e1.jpg" width="100%">
  </div>

<% end %>


