<%= form_for :candidate, url: jm_recuperar_pass_paso2_path do |f| %>
    <div class="row ">
      <div class="col-md-6 col-md-offset-3">
        <% flash.each do |key, value| %>

            <div class="alert alert-danger"><%= value %></div>

        <% end %>
        <div class="panel panel-default">
          <div class="panel-body">
            <legend>Recuperar contraseña</legend>
            <div class="form-group">
              <div class="row">
                <div class="col-md-10 col-md-offset-2">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  &nbsp;
                  <%= @email_to_recover %>
                </div>
              </div>
              <%= f.hidden_field :email, value: @email_to_recover, class: 'form-control' %>
            </div>

            <div class='row'>
              <div class="col-md-6 col-md-offset-3">
                <label style="color: #fff;">Por favor ingrese el texto que visualiza en la imagen</label>
                <%= recaptcha_tags %>
              </div>
            </div>


          </div>
          <div class="panel-footer clearfix">
            <div class='row'>
              <div class="col-md-12 text-right">
                <%= f.submit 'Solicitar nueva contraseña', class: 'btn btn-primary btn-login-'+$current_domain %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>





