<div class="panel panel-default">
  <div class="panel-body">
    <div class="panel-body text-center loading-panel" data-url-redirect="<%= @redirect_to_after_success_login_path %>">
      <i class="fa fa-refresh fa-spin"></i> Intentando obtener los datos de su sesión.
    </div>
  </div>
</div>

<a href="<%= @company.active_directory_auto_redirection ? static_pages_landing_azure_2_path : static_pages_landing_azure_path %>" class="link_to_click hidden"><span>redireccion</span></a>

<script>

    $(document).ready(function () {
        alert('Iniciando la llamada al servicio de identificaión:   <%= @custom_http_auth['base_url'] %> ' )
        $.ajax({
            url: '<%= @custom_http_auth['base_url'] %>',
            dataType: "jsonp",
            timeout: 5000, //5 seconds timeout
            error: function (XMLHttpRequest, errorTextStatus, error) {
                //alert("Failed: " + errorTextStatus + ";" + error);
                alert('Error detectado:  ' + errorTextStatus  + ' <- - - - - - - - -> ' + error)
                autehticate_from_azure()
            },
            success: function (result) {
                if(result['where_am_i'] == 'red_interna' && result['who_am_i'] != ''){
                    alert('Estoy en la red interna. Iniciando autenticación en plataforma con datos del servicio de identificación:  ' + result['who_am_i'] )
                    autenticate_user_from_exterenal_provider(result['who_am_i'])
                }else{
                    alert('No estoy en la red interna o no existe el usuario en respuesta. Iniciando autenticación con azure')
                    autehticate_from_azure()
                }
            }
        })
    });

  function autenticate_user_from_exterenal_provider(hash){
      url_to_redirect = $('.loading-panel').data('url-redirect')
      $.ajax({
          url: '<%= single_sign_on_path %>',
          data: {crypted_user_id: hash},
          cache: true,
          type: 'POST',
          dataType: "json",
          async: false,
          error: function (XMLHttpRequest, errorTextStatus, error) {
              alert("Failed: " + errorTextStatus + ";" + error);
          },
          success: function (result) {
              if(result) {
                  window.location.href = url_to_redirect
              }else{
                  window.location.href = '<%= error_auth_azure_path %>'
              }
          }
      })
  }

    function autehticate_from_azure() {
        $('.link_to_click').find('span').trigger('click');
    }

</script>