<% if logged_in? %>
    <div class="panel-group" id="accordion">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-parent="#accordion" data-toggle="collapse" href="#info_personal" style="text-decoration: none;">
              <div>
                Información personal y laboral
              </div>
            </a>
          </h4>
        </div>
        <div id="info_personal" class="panel-collapse collapse in">
          <div class="panel-body">
            <%= render partial: 'user_profile_info_personal_laboral_mobile' %>
          </div>
        </div>
      </div>

      <% if user_connected.user_courses.size > 0 %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-parent="#accordion" data-toggle="collapse" href="#hist_capacitacion" style="text-decoration: none;">
                  <div>
                    Historial de capacitación
                  </div>
                </a>
              </h4>
            </div>
            <div id="hist_capacitacion" class="panel-collapse collapse">
              <div class="panel-body">
                <%= render partial: 'user_profile_historial_capacitacion_mobile' %>
              </div>
            </div>
          </div>

      <% end %>

      <% if user_connected.hr_process_assessment_ds.size > 0 %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-parent="#accordion" data-toggle="collapse" href="#hist_eval_desempeno" style="text-decoration: none;">
                  <div>
                    Historial de evaluación del desempeño
                  </div>
                </a>
              </h4>
            </div>
            <div id="hist_eval_desempeno" class="panel-collapse collapse">
              <div class="panel-body">
                <%= render partial: 'user_profile_historial_evaluaciones_desempeno_mobile' %>
              </div>
            </div>
          </div>
      <% end %>

      <% if ct_module_id? %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-parent="#accordion" data-toggle="collapse" href="#doctos_informativos" style="text-decoration: none;">
                  <div>
                    Documentos informativos
                  </div>
                </a>
              </h4>
            </div>
            <div id="doctos_informativos" class="panel-collapse collapse">
              <div class="panel-body">
                <%= render partial: 'user_profile_documentos_informativos_mobile' %>
              </div>
            </div>
          </div>
      <% end %>

    </div>
<% end %>