<div class="panel-group" id="accordion_comments">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_comments" href="#collapseOne">
        Comentarios
      </a>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table">
          <thead>
          <tr>
            <th>Comentario</th>
            <th>Fecha</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% hr_process_user.hr_process_user_comments.each do |hr_process_user_comment| %>
            <tr>
              <td><%= hr_process_user_comment.comentario %></td>
              <td><%= (localize hr_process_user_comment.fecha, format: :day_snmonth) %></td>
              <td><%= link_to 'Eliminar', hr_process_user_comment, method: :delete, data: { confirm: '¿Está seguro de eliminar el comentario?' } %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <% hr_process_user_comment = hr_process_user.hr_process_user_comments.build %>
        <% hr_process_user_comment.hr_process_user_eval_id = hr_process_user_connected.id %>

        <%= form_for hr_process_user_comment, url: hr_process_assessment_create_comment_path do |f| %>

          <%= render 'shared/error_messages', object: f.object %>

          <%= f.hidden_field :hr_process_user_id %>

          <%= f.hidden_field :hr_process_user_eval_id %>

          <div class="form-group <%= field_with_errors f, :numero %>">

            <%= f.label :comentario, 'Nuevo comentario', class: 'col-md-3 control-label' %>

            <div class="col-md-10">

              <%= f.text_area :comentario, autofocus: 'autofocus', rows: '5', class: 'span12' %>

            </div>

          </div>

          <div class="form-group">

            <div class="col-md-10">

              <%= f.submit 'Guardar', class: 'btn btn-primary' %>

            </div>

          </div>

        <% end %>

      </div>
    </div>
  </div>

</div>