<p id="notice"><%= notice %></p>

<p>
  <b>Hr process user:</b>
  <%= @hr_process_user_comment.hr_process_user %>
</p>

<p>
  <b>Comentario:</b>
  <%= @hr_process_user_comment.comentario %>
</p>


<%= link_to 'Edit', edit_hr_process_user_comment_path(@hr_process_user_comment) %> |
<%= link_to 'Back', hr_process_user_comments_path %>
