<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a gestionar el dashboard'.html_safe, @kpi_dashboard, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-line-chart"></i>
      <%= @kpi_dashboard.name %>
      <span>> Añadir invitado </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Datos del dashboard
        </legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @kpi_dashboard.name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Periodo</strong>
          </div>
          <div class="col-md-9">
            <%= @kpi_dashboard.period %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Desde</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @kpi_dashboard.from, format: :snmonth_year) %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Hasta</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @kpi_dashboard.to, format: :snmonth_year) %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Frecuencia</strong>
          </div>
          <div class="col-md-9">
            <%=
                case @kpi_dashboard.frequency
                  when 'm'
                    'Mensual'
                  when 'w'
                    'Semanal'
                end
            %>
            <br>
            <em>La frecuencia con la que los usuarios deberán registrar mediciones de los indicadores.</em>
          </div>
        </div>

      </div>

    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Invitados
        </legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>

            <tr>
              <th>#</th>
              <th>Código</th>
              <th>Apellidos</th>
              <th>Nombre</th>
            </tr>
          </thead>

          <tbody>
            <% @kpi_dashboard.guests.each_with_index do |guest, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= guest.codigo %></td>
                <td><%= guest.apellidos %></td>
                <td><%= guest.nombre %></td>
              </tr>
            <% end %>

          </tbody>

        </table>

      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Buscar
        </legend>

        <%= form_for @user_search, url: new_kpi_dashboard_guest_path(@kpi_dashboard), method: :post do |f| %>
          <div class="row">

            <div class="col-md-5">
              <label>&nbsp;Apellidos</label>
            </div>

            <div class="col-md-5">
              <label>&nbsp;Nombre</label>
            </div>

            <div class="col-md-2">

            </div>

          </div>
          <div class="row">

            <div class="col-md-5">
              <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>
            </div>

            <div class="col-md-5">
              <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>
            </div>

            <div class="col-md-2">
              <%= f.submit 'Buscar', class: 'btn btn-primary' %>
            </div>

          </div>

        <% end %>

      </div>

    </div>

    <% unless @users_search.nil? %>

      <%= form_for @kpi_dashboard, url: create_kpi_dashboard_guest_path(@kpi_dashboard), method: :post do |f| %>

        <div class="panel panel-default">
          <div class="panel-body">
            <legend>
              Añadir invitados
            </legend>

            <div class="text-right">
              <%= f.submit 'Añadir invitados', class: 'btn btn-primary' %>
            </div>
            <br>
            <table id="datatable_fixed_column" class="table table-striped table-bordered smart-form">

              <thead>

                <tr>
                  <th><!--<input id="master_check" type="checkbox" onchange="check_all_checks();">--></th>
                  <th>#</th>
                  <th><%= alias_username %></th>
                  <th>Apellidos</th>
                  <th>Nombre</th>
                </tr>
                <tr class="second">
                  <td>
                    <label class="input">
                      <input type="text" name="search_check" value="" class="search_init hidden">
                    </label>
                  </td>
                  <td>
                    <label class="input">
                      <input type="text" name="search_num" value="" class="search_init hidden">
                    </label>
                  </td>
                  <td>
                    <label class="input">
                      <input type="text" name="search_codigo" value="" class="search_init">
                    </label>
                  </td>
                  <td>
                    <label class="input">
                      <input type="text" name="search_last_name" value="" class="search_init">
                    </label>
                  </td>
                  <td>
                    <label class="input">
                      <input type="text" name="search_name" value="" class="search_init">
                    </label>
                  </td>
                </tr>

              </thead>

              <tbody>
              <% @users_search.each_with_index do |user, index| %>
                <tr>
                  <td>
                    <%= check_box('list_item', user.id, {class: 'list_item', onchange: 'check_master_check()'}, user.id.to_s, '0')%>
                  </td>
                  <td><%= index+1 %></td>
                  <td><%= user.codigo %></td>
                  <td><%= user.apellidos %></td>
                  <td><%= user.nombre %></td>
                </tr>
              <% end %>

              </tbody>

            </table>

          </div>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= f.submit 'Añadir invitados', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>

      <% end %>

    <% end %>

  </div>
</div>



<!-- PAGE RELATED PLUGIN(S) -->
<script src="/assets/datatables/jquery.dataTables-cust.min.js"></script>
<script src="/assets/datatables/ColReorder.min.js"></script>
<script src="/assets/datatables/FixedColumns.min.js"></script>
<script src="/assets/datatables/ColVis.min.js"></script>
<script src="/assets/datatables/ZeroClipboard.js"></script>
<script src="/assets/datatables/media/js/TableTools.min.js"></script>
<script src="/assets/datatables/DT_bootstrap.js"></script>


<script type="text/javascript">

  $(document).ready(function() {

    $("#datatable_fixed_column thead input").keyup(function() {
      oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
    });

    $("#datatable_fixed_column thead input").each(function(i) {
      this.initVal = this.value;
    });
    $("#datatable_fixed_column thead input").focus(function() {
      if (this.className == "search_init") {
        this.className = "";
        this.value = "";
      }
    });
    $("#datatable_fixed_column thead input").blur(function(i) {
      if (this.value == "") {
        this.className = "search_init";
        this.value = this.initVal;
      }
    });


    var oTable = $('#datatable_fixed_column').dataTable({
      //T tools
      //i number of entries
      //p pagination
      //l list filter
      //r no idea
      //t table
      //f filtro general
      "sDom": "t<'row'<'col-md-4'i><'col-md-8 text-right'>",
      "sPaginationType" : "bootstrap_full",
      "aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
      "iDisplayLength" : -1,
      "bSortCellsTop" : true,
      "oTableTools" : {
        "aButtons" : ["xls"],
        "sSwfPath" : "/assets/datatables/media/swf/copy_csv_xls_pdf.swf"
      },
      "scrollX": true
    });


  })

</script>



