<legend><%= t('views.lic_approvers.legends.approvers_list') %></legend>

<table id='datatable_approvers' class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th width="10%">#</th>
    <th width="20%" ><%= alias_username %></th>
    <th width="25%"><%= t('views.lic_approvers.user.lastname') %></th>
    <th width="25%"><%= t('views.lic_approvers.user.name') %></th>
    <th width="20%">
      <%= link_to t('views.lic_approvers.flow_process.new'), lic_managers_approver_new_path %> <br>
      <%= link_to t('views.lic_approvers.flow_process.massive_approvers_upload'), lic_manager_massive_upload_validators_path %></th>
  </tr>

  <tr class="second">
    <td width="10%"><label class="input hidden"><input type="text" name="search_num" value="" class="search_init"></label></td>
    <td width="20%"><label class="input"><input type="text" name="search_cod" value="" class="search_init"></label></td>
    <td width="25%"><label class="input"><input type="text" name="search_lastname" value="" class="search_init"></label></td>
    <td width="25%"><label class="input"><input type="text" name="search_name" value="" class="search_init"></label></td>
    <td width="20%"></td>
  </tr>
  </thead>

  <tbody>

  <% approvers.each_with_index do |approver, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= approver.user.codigo %></td>
      <td><%= approver.user.apellidos %></td>
      <td><%= approver.user.nombre %></td>
      <td><%= link_to t('views.lic_approvers.flow_process.manage'), lic_managers_approver_manage_path(approver) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render partial: '/shared/datatable',
           locals: { table_id: 'datatable_approvers' } %>