<% requests = request.significant_history %>

<table class="table table-striped table-bordered" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <th><%= 'Usuario' %></th>
    <th><%= 'Registro el' %></th>
    <th><%= 'Estado' %></th>
    <th><%= 'Comentario' %></th>
  </tr>
  </thead>
  <tbody>
  <% dates.each_with_index do |date, index| %>
    <% message = '' %>
    <% blocks = blocks_for(user_id, date) %>
    <% holiday = holiday_for(user_id, date) %>

    <% message = 'Feriado' if holiday %>

    <% if message.empty? && blocks.size > 0 %>
      <% message = 'Vacaciones' if message.empty? && date >= begin_vacs && date <= end_vacs %>
    <% else %>
      <% message = 'No hábil' if message.empty? %>
    <% end %>

    <% if message.empty? && benefits.size > 0 %>
      <% message = benefits[0] %>
      <% benefits.delete_at(0) %>
    <% end %>

    <% message = 'Regreso' if message.empty? && date == backs_to_work_date %>

    <tr>
      <td><%= index + 1 %></td>
      <td><%= (localize date, :format => :day_snmonth_year)+' ('+t('date.abbr_day_names')[date.wday]+')' %> </td>
      <td><%= message %> </td>
    </tr>
  <% end %>
  </tbody>
</table>