<div class="modal fade" id="request_historical_info_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width:80%;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x &nbsp;</button>
    <div class="panel panel-default record_pane">
      <div class="panel-body">
        <%= render :partial => 'request_historical_info',
                   :locals => {request: request} %>
      </div>
    </div>
  </div>
</div>