<div class="panel panel-default">
  <div class="panel-body">

    <legend> <%= t('views.vac_accumulateds.legends.user_info') %> </legend>

    <div class="row">
      <div class="col-md-4" align="right"><strong><%= alias_username %></strong></div>
      <div class="col-md-8"><%= user.codigo %></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4" align="right"><strong><%= t('views.lic_registers.user.lastname') %></strong></div>
      <div class="col-md-8"><%= user.apellidos %></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4" align="right"><strong><%= t('views.lic_registers.user.name') %></strong></div>
      <div class="col-md-8"><%= user.nombre %></div>
    </div>

  </div>
</div>