<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.lic_approvers.navigation.back_list_approvers_list')).html_safe, lic_manager_index_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-gift" aria-hidden="true"></i>
      <%= t('views.lic_approvers.legends.approvers') %>
      <span>> <%= t('views.lic_approvers.flow_process.manage') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'approver_info',
               locals: { approver: @lic_approver,
                         editable: true } %>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'approvees_list',
                   locals: { approver: @lic_approver,
                             approvees: @lic_approver.active_approvees,
                             editable: true } %>
      </div>
    </div>
  </div>
</div>