<%= render partial: 'lic_registers/licenses_header',
           locals: { icon: '<i class="fa fa-gift" aria-hidden="true"></i>',
                     go_back_link: lic_manager_index_path,
                     go_back_text: t('views.lic_approvers.navigation.back_list_requests_list'),
                     legends: [ t('views.lic_registers.legends.licenses') , t('views.lic_registers.flow_process.manage') ]} %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'lic_registers/event_show',
               :locals => { event: @lic_event,
                            editable: true,
                            manager: true } %>
  </div>
</div>


<% index = 0 %>
<% close_div = false %>

<% @lic_event.lic_requests.where(active: true).each do |request| %>
  <% next unless request.show_to_manager %>
  <% if index.zero? %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <legend><%= t('views.lic_registers.legends.requests_info') %></legend>
              <% close_div = true %>
  <% end %>
  <% index += 1 %>
  <%= render partial: 'lic_registers/request_show',
             locals: {request: request,
                      manager: true,
                      editable: true} %>

<% end %>

<% if close_div %>
  </div>
  </div>
  </div>
  </div>
<% end %>

<div id="request_historical_info_container">

</div>

<script>
    function show_request_historical_info(link) {
        url = $(link).data('url');
        $.ajax({
            url: url,
            type: 'get',
            dataType: "html",
            success: function (data) {
                $('#request_historical_info_container').html(data)
                $('#request_historical_info_modal').modal('show');
            }
        });
    }
</script>