<%= render partial: 'lic_registers/licenses_header',
           locals: { icon: '<i class="fa fa-gift" aria-hidden="true"></i>',
                     go_back_link: lic_manager_index_path,
                     go_back_text: t('views.lic_approvers.navigation.back_list_requests_list'),
                     legends: [ t('views.lic_registers.legends.licenses') , t('views.lic_approvers.flow_process.massive_approvers_upload') ]} %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for User.new, url: lic_manager_massive_upload_validators_2_path, html: {class: 'form-horizontal', multipart: true, method: :post} do |f| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <legend> <%= t('views.ben_cellphone_number.shared.massive_update_form') %> </legend>

          <div class="form-group">
            <div class="col-md-3" align="right">
              <strong> <%= t('views.ben_cellphone_number.forms.pick_excel') %></strong></div>
            <div class="col-md-9"> <%= file_field 'upload', 'datafile', class: 'form-control' %>
            </div>
          </div>
          <legend> <%= t('views.ben_cellphone_number.excel.download_format_legend') %> </legend>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped table-bordered " style="font-size: 11px;" width="100%">
                <thead>
                <tr>
                  <th> <%= 'Aprobador: ' + alias_username.to_s %></th>
                  <th> <%= 'Usuario a aprobar: ' + alias_username.to_s %></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td> 12361621K</td>
                  <td> 556936848</td>
                </tr>
                <tr>
                  <td> Debe pertenecer a un usuario activo registrado en la plataforma</td>
                  <td> Debe pertenecer a un usuario activo registrado en la plataforma</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Subir', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>

<% if defined?(@excel_errors) && @excel_errors.length > 0 %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1"><div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-striped table-hover table-condensed table-bordered">
            <thead>
            <tr>
              <th>Línea</th>
              <th>Error</th>
              <th> <%= 'Aprobador: '+alias_username.to_s %></th>
              <th> <%= 'Usuario a aprobar: '+alias_username.to_s %></th>
            </tr>
            </thead>

            <tbody>
            <% @excel_errors.each_with_index do |error| %>
              <tr>
                <td><%= error[0].to_s %></td>
                <td>
                  <li class="text-danger"><%= error[1].to_s %></li>
                </td>
                <td><%= error[2].to_s %></td>
                <td><%= error[3].to_s %></td>
              </tr>
            <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div></div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= 'Lista: Aprobador - Usuario a aprobar' %> </legend>

        <div class="row options_to_select" style="display:none;">
          <div class="col-md-12 col-md-offset-0" align="right">
            <%= link_to 'Seleccionar todo', '#', onclick: 'select_all(this)' %>
            &nbsp;&nbsp;&nbsp;
            <%= link_to 'Deseleccionar todo', '#', onclick: 'select_none(this)' %>
            &nbsp;&nbsp;&nbsp;
            <%= link_to 'Eliminar asociación', '#', onclick: 'delete_selected()', id: 'delete_btn', class: 'btn btn-danger disabled delete_btn' %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-12 col-md-offset-0">
            <table id="table_approvees", class="table table-bordered " width="100%" style="display:none; font-size: 11px;">
              <thead>
              <tr>
                <th></th>
                <th><%= 'aprobador: ' + alias_username.to_s %></th>
                <th><%= 'Apellidos' %></th>
                <th><%= 'Nombre' %></th>

                <th><%= 'Usuario a aprobar: ' + alias_username.to_s %></th>
                <th><%= 'Apellidos' %></th>
                <th><%= 'Nombre' %></th>
                <th></th>
              </tr>
              </thead>
              <tbody>

              <% approvers = LicApprover.active_approvers_user %>
              <% index = 1 %>
              <% approvers.each do |approver| %>
                <% approver.active_approvees_user.each do |approvee| %>
                  <tr id="<%= approvee.id %>_tr_message_container" style="display:none;">
                    <td id="<%= approvee.id %>_td_message_container" class="td_div_message" colspan="8">
                      <div class="alert alert-success div-message"><%= t('views.he_ct_module_privilage.flash_messages.delete_assoc_successfully') %></div>
                    </td>
                  </tr>

                  <tr id="<%= approvee.id %>_tr_container">
                    <td>
                      <input class="form-check-input position-static approvee_checkbox" type="checkbox" value="<%= approvee.id %>" aria-label="...">
                    </td>
                    <td><%= approver.user.codigo %></td>
                    <td><%= approver.user.apellidos %></td>
                    <td><%= approver.user.nombre %></td>
                    <td><%= approvee.user.codigo %></td>
                    <td><%= approvee.user.apellidos %></td>
                    <td><%= approvee.user.nombre %></td>
                    <td><%= link_to 'Eliminar', '#', onclick: 'delete_assoc(this)', class: 'btn btn-danger btn-xs', data: {approvee_id: approvee.id, url: lic_manager_approvee_delete_path(approvee.id)} %></td>
                    <% index += 1 %>
                  </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $('.massive_upload_benefits_form').on('submit', function(e){
        $('.spinner_wait_to_upload_benefits').show()
        $('.upload_benefits_button').hide()
    });

    function verify_checkboxes_selected(){
        if ($(":checkbox:checked.approvee_checkbox").size() > 0){
            $(".delete_btn").removeClass('disabled')
        }else{
            $(".delete_btn").addClass('disabled')
        }
    }

    function verify_exists_checkboxes(){
        if ($(".approvee_checkbox").size() > 0){
            $(".options_to_select").show();
            $('#table_approvees').show();
        }else{
            $(".options_to_select").hide();
            $('#table_approvees').hide();
        }
    }

    function verify_checkboxes(){
        verify_checkboxes_selected()
        verify_exists_checkboxes()
    }

    $('.approvee_checkbox').on('change', function(e){
        verify_checkboxes()
    })

    function select_all() {
        $(":checkbox.approvee_checkbox").prop('checked', true)
        verify_checkboxes()
    }

    function select_none() {
        $(":checkbox.approvee_checkbox").prop('checked', false)
        verify_checkboxes()
    }

    function delete_selected() {
        if (confirm("¿Esta seguro de eliminar asociaciones seleccionadas?")) {
            $(":checkbox:checked.approvee_checkbox").each(function () {
                approvee_id = $(this).attr('value')
                url = '/lic_manager/deactivate/approvee/' + approvee_id;
                delete_assoc_ajax(approvee_id, url)
            });
        }
    }

    function delete_assoc(link) {
        url = $(link).data('url');
        if (confirm('¿Está seguro de eliminar associación?')) {
            delete_assoc_ajax($(link).data('approvee-id'), url)
        }
    }

    function delete_assoc_ajax(approvee_id, url){
        tr_user_to_register = '#'+approvee_id+'_tr_container';
        tr_message_container = '#'+approvee_id+'_tr_message_container';
        $.ajax({
            url: url,
            type: "get",
            dataType: "html",
            success: function () {
                $('#'+approvee_id+'_tr_container').toggle(900).remove();
                $('#'+approvee_id+'_tr_message_container').toggle(900).delay(2000).toggle(500);
                verify_checkboxes()
            }
        })
    }

    verify_checkboxes()
</script>