<%= form_for @tracking_form_group, html: {class: 'form-horizontal'} do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.tracking_form_groups.shared.group_data') %></legend>

        <%= render 'shared/error_messages', object: f.object %>

        <%= f.hidden_field :tracking_form_id %>

        <div class="form-group <%= field_with_errors f, :position %>">
          <%= f.label :position, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.number_field :position, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :name %>">
          <%= f.label :name, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :description %>">
          <%= f.label :description, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_area :description, class: 'form-control', :rows => 3 %>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">

            <legend><%= t('views.tracking_form_groups.shared.questions_list') %></legend>
            <%= f.fields_for :tracking_form_questions do |f_question| %>
                <%= render 'question_form', :f => f_question %>
            <% end %>
          </div>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= link_to_add_form_question t('views.tracking_form_groups.form.add_question'), f %>
            </div>
          </div>
        </div>

      </div>


      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit t('views.tracking_form_groups.form.submit_button'), class: 'btn btn-primary' %>
        </div>
      </div>

    </div>
<% end %>


<script>

  //questions
  function remove_form_question(link) {
    $(link).prev('input[type=hidden]').val(1)
    $(link).closest('.question').hide();
  }

  function add_form_question(link, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp('new_form_question', 'g')
    $(link).parent().before(content.replace(regexp, new_id))
  }

  //items
  function remove_form_item(link) {
    $(link).prev('input[type=hidden]').val(1)
    $(link).closest('.item_form').hide();
  }

  function add_form_item(link, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp('new_form_item', 'g')
    $(link).parent().before(content.replace(regexp, new_id))
  }

  function toggle_tracking_list(need_a_list) {
    if (need_a_list = 'true') {
      $('.tracking-list-container').show()
    } else {
      $('.tracking-list-container').hide()
    }
  }

  $('[data-need-a-list]')


</script>