<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.tracking_form_groups.shared.back_to_form')).html_safe, tracking_form_pill_open_path(@tracking_form_group.tracking_form, 'questions'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%=	icon_tracking_module_html_safe %>
      <%= @tracking_form_group.tracking_form.name %> >
      <%= @tracking_form_group.name %>
      <span>> <%= t('views.tracking_form_groups.shared.edit_group') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <%= render 'form' %>

  </div>
</div>