<div class="panel panel-default">
  <div class="panel-body">


    <legend><%= t('views.tracking_form_groups.index.title') %></legend>

    <table class="table table-hover table-bordered">

      <thead>

      <tr>
        <th><%= t('activerecord.attributes.tracking_form_group.position') %></th>
        <th><%= t('activerecord.attributes.tracking_form_group.name') %></th>
        <th><%= t('activerecord.attributes.tracking_form_group.description') %></th>
        <th>
          <%= link_to t('views.tracking_form_groups.shared.create_new_group'), new_tracking_form_group_path(@tracking_form) %>
        </th>
      </tr>
      </thead>

      <tbody>

      <% @tracking_form_groups.each do |tracking_form_group| %>
          <tr>
            <td><%= tracking_form_group.position %></td>
            <td><%= tracking_form_group.name %></td>
            <td><%= tracking_form_group.description.html_safe %></td>
            <td><%= link_to t('views.tracking_form_groups.shared.edit_group'), edit_tracking_form_group_path(tracking_form_group)  %></td>
          </tr>
      <% end %>
      </table>
  </div>
</div>