<p id="notice"><%= notice %></p>

<p>
  <b>Tracking form:</b>
  <%= @tracking_form_group.tracking_form %>
</p>

<p>
  <b>Position:</b>
  <%= @tracking_form_group.position %>
</p>

<p>
  <b>Name:</b>
  <%= @tracking_form_group.name %>
</p>

<p>
  <b>Description:</b>
  <%= @tracking_form_group.description %>
</p>


<%= link_to 'Edit', edit_tracking_form_group_path(@tracking_form_group) %> |
<%= link_to 'Back', tracking_form_groups_path %>
