<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a gestionar el dashboard'.html_safe, @kpi_dashboard, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-line-chart"></i>
      <%= @kpi_dashboard.name %>
      <span>> Editar set </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Datos del dashboard
        </legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @kpi_dashboard.name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Periodo</strong>
          </div>
          <div class="col-md-9">
            <%= @kpi_dashboard.period %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Desde</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @kpi_dashboard.from, format: :snmonth_year) %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Hasta</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @kpi_dashboard.to, format: :snmonth_year) %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Frecuencia</strong>
          </div>
          <div class="col-md-9">
            <%=
                case @kpi_dashboard.frequency
                  when 'm'
                    'Mensual'
                  when 'w'
                    'Semanal'
                end
            %>
            <br>
            <em>La frecuencia con la que los usuarios deberán registrar mediciones de los indicadores.</em>
          </div>
        </div>

      </div>

    </div>

    <%= render 'form' %>

  </div>

</div>

