<div class="row" id="spinner_container" style="display:none;">
  <div class="col-md-12 col-md-offset-0">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend><%= t('views.vac_requests.legends.request_info') %></legend>
        <div align="center">
        <span class="fa-stack fa-4x">
          <i class="fa fa-spinner fa-pulse fa-stack-2x fa-spin"></i>
          <i class="fa fa-suitcase fa-stack-1x"></i>
        </span>
        </div>
      </div>
    </div>
  </div>
</div>

<% day_to_return = back_to_work_request(request.id) %>
<div id="request_info" class="panel panel-default" data-id="<%=request.id%>">
  <div class="panel-body">

    <legend> <%= t('views.vac_requests.legends.request_info') %> </legend>

    <% if defined?(show_generic_message) and show_generic_message %>
      <div class="alert <%= 'alert-'+type_generic_message %>  generic_message_<%= request.id %>" style="display: none"> <%= generic_message %> </div>
    <% end %>

    <% if defined?(manager) && manager %>
      <div class="row">
        <div class="col-md-12" align="right">
          <%= link_to t('views.vac_requests.flow_process.show_historical_info'), '#', onclick: 'show_request_historical_info(this)', data: {url: vac_manager_show_request_historical_info_path(request)} %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4" align="right"><strong><%= t('activerecord.attributes.vac_request.begin') %></strong></div>
      <div class="col-md-8 col-sm-8 col-xs-8"><%= (localize request.begin, :format => :day_snmonth_year) %></div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4" align="right"><strong><%= t('activerecord.attributes.vac_request.end') %></strong></div>
      <div class="col-md-8 col-sm-8 col-xs-8"><%= (localize request.end, :format => :day_snmonth_year) %></div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4" align="right"><strong><%= t('activerecord.attributes.vac_request.days') %></strong></div>
      <div class="col-md-8 col-sm-8 col-xs-8">
        <%= request.days %>
        <% licenses = be_license(request.begin, day_to_return, request.user_id) %>
        <% if licenses.size > 0 %>
          <i class="fa fa-exclamation-triangle" aria-hidden="true" title="<% licenses.each do |license|%>
<%=license.absence_type + ': '+(localize license.date_begin, :format => :day_snmonth_year)+' - '+(localize license.date_end, :format => :day_snmonth_year)%><% end %>"></i>
        <% end %>
      </div>
    </div>

    <br>

    <% if request.days_progressive && request.days_progressive > 0 %>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4" align="right"><strong><%= t('activerecord.attributes.vac_request.days_progressive') %></strong></div>
        <div class="col-md-8 col-sm-8 col-xs-8"><%= request.days_progressive %></div>
      </div>
      <br>
    <% end %>

    <% restrictive_warnings = gimme_restrictive_warnings(request.user_id, request.begin, request.end, 0, 0, request.id) %>
    <% if restrictive_warnings.size > 0 %>
      <div class="col-md-4 col-sm-4 col-xs-4" align="right"><strong><%= 'Alertas restrictivas' %></strong></div>
      <div class="col-md-8 col-sm-8 col-xs-8">
        <% restrictive_warnings.each_with_index do |warning, index| %>
          <%= warning.description.html_safe %>
          <% if request.bp_warning_exception_id %>
            &nbsp;&nbsp;&nbsp;
            <strong class="control-label text-danger"><i class="fa fa-exclamation" aria-hidden="true" title="Solicitud hace uso de una excepción de alerta restrictiva"></i></strong>
            <br>
          <% end %>
        <% end %>
      </div>
      <br>
      <br>
    <% end %>


    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4" align="right">
        <strong><%= t('activerecord.attributes.vac_request.status') %></strong></div>
      <div class="col-md-8 col-sm-8 col-xs-8">
        <%= label_message(request.status_colour, request.status_message) %> &nbsp;&nbsp;&nbsp;<%= label_message(0, 'En proceso') if request.on_going?(lms_time) %>
        <% if request.pending? %>
          <% approvers = VacApprover.approvers_of(request.user_id) %>
          <% if $mobile_client %>
            <a href="#"
               data-toggle="popover"
               data-trigger="focus"
               data-placement="bottom"
               title="Aprobadores"
               data-content-id="approvers_list"
               onclick="load_bill_detail_popover(this)">
              <i class="fa fa-users approvers_icon" aria-hidden="true"></i>
            </a>

            <div id="approvers_list" style="display:none;">
              <% if request.pending? %>
                <% approvers = VacApprover.approvers_of(request.user_id) %>
                <% approvers.each_with_index do |approver, idx| %>
                  <%= approver.user.comma_full_name %>
                  <%= '<br>'.html_safe if approvers.size > (idx+1) %>
                <% end %>
              <% end %>
            </div>

            <script>
                function load_bill_detail_popover(link) {
                    $(link).popover({
                        content: $('#approvers_list').html(),
                        html: true,
                        container: 'body'
                    });
                    $(link).popover('show');
                    $(link).attr('onclick','').unbind('click');
                }
            </script>

          <% else %>
            <i class="fa fa-users approvers_icon" aria-hidden="true" onclick="show_title(this)" <%# 'onclick="show_title(this)"'.html_safe if $mobile_client %> title="Aprobadores:
<% approvers.each {|approver| %><%= approver.user.comma_full_name %>
<% } %>"></i>
          <% end %>
      <% end %>
      </div>
    </div>

    <br>

    <% unless request.draft? || request.pending? %>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4" align="right"><strong><%= 'Revisado por' %></strong></div>
      <div class="col-md-8 col-sm-8 col-xs-8"><%= request.registered_by_user.comma_full_name %></div>
    </div>

    <br>
    <% end %>

    <% unless request.status_description.blank? %>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4" align="right"><strong><%= t('activerecord.attributes.vac_request.status_description') %></strong></div>
        <div class="col-md-8 col-sm-8 col-xs-8"><%= request.status_description %></div>
      </div>

      <br>
    <% end %>

    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4" align="right"><strong><%= 'Retorno' %></strong></div>
      <div class="col-md-2 col-sm-4 col-xs-4"><%= (localize day_to_return, :format => :day_snmonth_year) %></div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <%= link_to 'Ver detalle', '#', onclick: 'show_vacs_detail_info(this)', data: { url: vac_form_vacs_detail_as_modal_path(request.user_id) } %>

        <!--<a class="col-md-12 popover_link control-label popover_vac_detail" href="#" data-toggle="popover"  data-trigger="focus" data-placement="up" data-id="<%#request.id%>" data-url="/vac_form/get/vacations_detail/<%=request.user_id%>" onclick="get_dates_detail_table(this)">Ver detalle</a>-->
      <!--<div class="hidden">-->
        <!--<div id="popover_content">-->

        <!--</div>-->
      <!--</div>-->
    </div>
    </div>

    <br>

    <style>
      .popover {
        z-index: 10000!important;
      }
    </style>

    <% active_rules = BpRuleVacation.active_rules_vacations(request.begin.strftime('%d/%m/%Y'), request.begin.strftime('%d/%m/%Y'), request.user_id) %>
    <% active_rules = active_rules ? active_rules : [] %>

    <% if active_rules.size > 0 %>
    <div class="row">
      <div class="col-md-12" align="right">
        <%= link_to 'Ver beneficios de vacaciones', '#', onclick: 'show_rule_vacations_info(this)', data: { url:bp_admin_rule_vacation_rule_vacations_show_modal_path(request.user_id), now: request.begin.strftime('%d/%m/%Y') }%>
      </div>
    </div>
    <% end %>

    <% vac_rules = VacRuleRecord.where(vac_request_id: request.id, active: true) %>
    <% benefits = [] %>
    <% vac_rules.each { |rule| benefits << rule.bp_condition_vacation } %>
    <%=     render partial: 'vac_form/benefits_list',
                   locals: { benefits: benefits,
                             taken_days: [],
                             register: defined?(register) ? register : false,
                             taken_benefits: [],
                             taken_benefits_to_erase: [],
                             request_id: request.id,
                             manager: defined?(manager) ? manager : false,
                             edit_bonus_money: true } %>
  </div>

  <% if defined?(editable) && editable %>
    <% if defined?(approver) && approver %>
      <% if request.editable_by_approver?(user_connected.id, lms_time) || request.editable_by_manager? %>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <% unless request.rejected? %>
              <%= link_to t('views.vac_requests.flow_process.deny'), '#', onclick: 'set_status_description(this)', class: 'btn btn-danger btn-xs', data: {url: vac_records_validation_status_description_modal_path(request, VacRequest.rejected)} %>
              &nbsp;&nbsp;&nbsp;
            <% end %>
            <% unless request.approved? %>
              <%= link_to t('views.vac_requests.flow_process.approve'), '#', onclick: 'set_status_description(this)', class: 'btn btn-primary btn-xs', data: {url: vac_records_validation_status_description_modal_path(request, VacRequest.approved)} %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <% if defined?(manager) && manager %>
        <% if request.closed? || request.approved? || request.pending?  %>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <% if request.closed? %>
                <%= link_to t('views.vac_requests.flow_process.reopen'), '#', onclick: 'set_status_description(this)', class: 'btn btn-success btn-xs', data: {url: vac_manager_status_description_modal_path(request, VacRequest.approved)} %>
                &nbsp;&nbsp;&nbsp;
              <% else %>
                <% if request.approved? %>
                  <%= link_to 'Ir a primera solicitud cerrable', vac_manager_request_manage_path(request.first_closable.id) unless request.closable? %>
                  &nbsp;&nbsp;&nbsp;
                  <%= link_to t('views.vac_requests.flow_process.deny'), '#', onclick: 'set_status_description(this)', class: 'btn btn-danger btn-xs', data: {url: vac_manager_status_description_modal_path(request, VacRequest.rejected)} %>
                  &nbsp;&nbsp;&nbsp;
                  <%= link_to t('views.vac_requests.flow_process.edit'), vac_manager_request_edit_path(request) %>
                  <% else %>
                  <% if request.pending? %>
                    <%= link_to t('views.vac_requests.flow_process.deny'), '#', onclick: 'set_status_description(this)', class: 'btn btn-danger btn-xs', data: {url: vac_manager_status_description_modal_path(request, VacRequest.rejected)} %>
                    &nbsp;&nbsp;&nbsp;
                    <%= link_to t('views.vac_requests.flow_process.approve'), '#', onclick: 'set_status_description(this)', class: 'btn btn-success btn-xs', data: {url: vac_manager_status_description_modal_path(request, VacRequest.approved)} %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <% if request.editable_by_register? %>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= link_to t('views.vac_requests.flow_process.delete'), vac_records_register_register_deactivate_path(request), class: 'btn btn-danger btn-xs', data: {confirm: '¿Está seguro de eliminar solicitud?'} %>
              &nbsp;&nbsp;&nbsp;
              <%= link_to t('views.vac_requests.flow_process.edit'), vac_records_register_register_edit_path(request) %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div id="status_description_modal_container"></div>
<div id="paid_description_modal_container"></div>
<div id="rule_vacations_modal_container"></div>

<div id="vacs_detail_info_container"></div>

<script>
    function show_vacs_detail_info(link){
        url = $(link).data('url')

        $.ajax({
            url: url,
            type: 'post',
            data: { 'vac_request_id': '<%= request.id %>'},
            dataType: "html",
            error: function (XMLHttpRequest, errorTextStatus, error) {
                alert("Failed: " + errorTextStatus + " ;" + error);
            },
            success: function (data) {
                $('#vacs_detail_info_container').html(data);
                $('#vacs_detail_info_modal').modal('show');
            }
        });
    }
</script>

<script>
    function show_rule_vacations_info(link){
        url = $(link).data('url');
        now = $(link).data('now');

        $.ajax({
            url: url,
            type: 'get',
            data: {now: now},
            dataType: "html",
            success: function (data) {
                $('#rule_vacations_modal_container').html(data);
                $('#rule_vacations_info_modal').modal('show');
            }
        });
    }
</script>

<script>
  function set_status_description(link){
      url = $(link).data('url');
      $.ajax({
          url: url,
          type: 'get',
          dataType: "html",
          success: function (data) {
              $('#status_description_modal_container').html(data);
              $('#status_description_modal').modal('show');
          }
      });
  }
</script>

<script>
    function set_paid_description(link){
        url = $(link).data('url');
        $.ajax({
            url: url,
            type: 'get',
            dataType: "html",
            success: function (data) {
                $('#paid_description_modal_container').html(data)
                $('#paid_description_modal').modal('show');
            }
        });
    }
</script>


<script>
    <% if defined?(show_generic_message) and show_generic_message %>
    $(function () {
        var flash = '.generic_message_<%=request.id%>';
        $(flash).show(500).delay(2000).hide(500);
    });
    <% end %>
</script>

<script>
    function loading(){
        $('#spinner_container').show();
        $('#accumulated_info_spinner_container').show();
        $('#request_info').hide();
        $('#accumulated_info_container').hide();
    }

    function finish_load(){
        $('#spinner_container').hide();
        $('#accumulated_info_spinner_container').hide();
        $('#request_info').show();
        $('#accumulated_info_container').show();
    }
</script>