<% in_process = VacRequest.sum_days_by_status(user.id, [VacRequest.approved]) %>
<% vac_accumulated = VacAccumulated.user_latest(user.id) %>

<% legal_last_accu = VacAccumulated.user_latest_legal(user.id) %>
<% legal_last_accu = VacAccumulated.user_first(user.id) unless legal_last_accu %>
<% prev_auto_accumulated = VacAccumulated.user_latest_prog(user.id) %>
<% prev_auto_accumulated = VacAccumulated.user_first(user.id) unless prev_auto_accumulated %>

<% future = legal_last_accu ? future_days(legal_last_accu.up_to_date, lms_time, user.id) : 0 %>
<% processed_days = vac_accumulated ? vac_accumulated.accumulated_real_days : 0 %>
<% processed_days += future %>
<% legal_days = processed_days - in_process %>
<% progressive = next_progressive_days(prev_auto_accumulated.up_to_date, lms_time, user.id) - VacRequest.sum_progressive_days_by_status(user.id, VacRequest.approved).to_i %>
<% as_manager = defined?(as_manager) ? as_manager : nil %>

<div class="modal fade" id="scheme_days_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><strong><%= 'Proyección de días' %></strong>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x &nbsp;</button>
        </h5>
      </div>
      <div class="modal-body">
        <%= form_tag as_manager ? vac_manager_scheme_calculus_path(user) : vac_records_register_scheme_calculus_path, method: :post do |f| %>
          <div class="panel panel-default">
            <div class="panel-body">

              <div class="row">
                <% unless $mobile_client %>
                  <div class="col-md-4" align="right"><strong> <%= 'Fecha' %> </strong></div>
                <% end %>
                <div class="col-md-8 col-xs-12" style="cursor:pointer;">
                  <div class="input-group " style="cursor:pointer;">
                    <%= text_field_tag 'Fecha', lms_time.strftime('%d/%m/%Y'),
                                       class: "form-control date-picker",
                                       style: "padding-left: 5px; cursor:pointer;",
                                       data: {format: '%d/%m/%Y',
                                              url: as_manager ? vac_manager_scheme_calculus_path(user) : vac_records_register_scheme_calculus_path},
                                       readonly: true,
                                       onchange: 'calculate_next_vac_accumulated(this)' %>

                    <span class="input-group-addon" onclick=show_fecha(this)> <i class="fa fa-calendar" aria-hidden="true" style="padding-left: 5px;"></i></span>
                  </div>
                </div>
              </div>

              <br>

              <div class="row">
                <div class="col-md-4 col-xs-8" align="right"><strong> <%= 'Días legales' %> </strong></div>
                <div class="col-md-8 col-xs-4"><span id="legal">
                  <%= number_with_precision(legal_days, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>
                </span></div>
              </div>
              <% if available_progressive_for(user.id) %>

                <br>

                <div class="row">
                  <div class="col-md-4 col-xs-8" align="right"><strong> <%= 'Días progresivos' %> </strong></div>
                  <div class="col-md-8 col-xs-4"><span id="progressive">
                  <%= number_with_precision(progressive, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>
                </span></div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
    $('.date-picker').datetimepicker({
        <% last_vac_accumulated = VacAccumulated.user_latest(user.id) %>
        <% last_vac_accumulated_date = last_vac_accumulated.up_to_date %>
        <% min_date = (!user.activo && last_vac_accumulated_date) ? last_vac_accumulated_date : lms_time %>
        language: 'es',
        pickTime: false,
        pickDate: true,
        <% unless user.activo %>
        maxDate: new Date('<%= (lms_time + 1.day).strftime('%Y-%m-%d')%>'),
        <% end %>
        minDate: new Date('<%= min_date.strftime('%Y-%m-%d')%>')
    });
</script>

<script>
    function show_fecha(link){
        $('#Fecha').datetimepicker().trigger('focus');
    }
</script>

<script>
    $('.date-picker').on('change', function(e){
        $('#Fecha').trigger('blur');
    })
</script>

<script>
  function calculate_next_vac_accumulated(link){
      url = $(link).data('url');
      $.ajax({
          url: url,
          data:  { 'date_end': $('#Fecha').val() },
          type: "post",
          async: false,
          dataType: "json",
          success: function (result) {
                  $('#legal').text(result[0]);
                  $('#progressive').text(result[1]);
          }
      });
  }
</script>