<% manager = defined?(manager) && !manager.nil? ? manager : nil %>
<div class="modal fade" id="status_description_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x &nbsp;</button>
    <%= form_for request, url: manager ? vac_manager_change_status_path(request, request.status) : vac_records_validation_change_status_path(request, request.status), method: :post, html: {class: 'form-horizontal status_description_form'} do |f| %>
      <div class="panel panel-default record_pane">
        <div class="panel-body">
          <legend><%= t('views.vac_requests.legends.description_legend') %></legend>
          <div id="modal_errors" class="alert alert-danger" style="display: none"> Comentario no puede ser vacío</div>
          <div class="form-group">
            <% comment = 'Si desea, escriba comentario' %>
            <% comment = 'Escriba justificación (obligatorio)' if defined?(required) && required %>
            <div class="col-md-12 col-sm-12 col-xs-12"> <%= f.text_area :status_description, class: 'form-control', :rows => 3, autofocus: 'autofocus', value: '', placeholder: comment %> </div>
          </div>
        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit t('views.vac_requests.flow_process.save'), class: 'btn btn-primary link_btn', data:{ url_approved_refresh: vac_records_validation_approved_requests_path } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
    $('.status_description_form').on('submit', function (e) {
        e.preventDefault();
        if (confirm('¿Está seguro de guardar este comentario?')) {
            url = $(this).attr('action');
            description = $('#vac_request_status_description').val();

            <% if defined?(required) && required %>
            if(description === '') {
                description_empty = true;
            } else {
                description_empty = false;
            }
            <% else %>
            description_empty = false;
            <% end %>

            if (description_empty) {
                $("#modal_errors").show(500).delay(2000).hide(500);
            } else {
                <% if manager %>
                loading();
                <% else %>
                loading_approver(<%=request.id%>);
                <% end %>

                $('#status_description_modal').modal('hide');

                $.ajax({
                    url: url,
                    type: 'post',
                    data: $('.status_description_form').serialize(),
                    success: function (data) {
                        $('#request_info').replaceWith(data);
                        $('#mobile_request_<%=request.id%>').hide();
                        $('#status_description_modal').modal('hide');
                        $('.modal-backdrop').remove();

                        <% if manager %>
                        $.ajax({
                            url: '<%= vac_manager_accumulated_info_for_path(request) %>',
                            type: "get",
                            async: false,
                            dataType: "html",
                            error: function (XMLHttpRequest, errorTextStatus, error) {
                                alert("Failed: " + errorTextStatus + " ;" + error);
                            },
                            success: function (result) {
                                $('#accumulated_info_container').html(result);
                                finish_load();
                            }
                        });
                        <% else %>
                            $.ajax({
                                url: $('.link_btn').data('url-approved-refresh'),
                                type: "get",
                                async: false,
                                dataType: "html",
                                error: function (XMLHttpRequest, errorTextStatus, error) {
                                    alert("Failed: " + errorTextStatus + " ;" + error);
                                },
                                success: function (result) {
                                    $('#mobile_request_<%= request.id %>').remove();
                                    finish_load_approver(<%=request.id%>);
                                    $('#generic_message_<%=request.id%>').show(500).delay(2000).hide(500);
                                    setTimeout(function(){ $('.approved_list_mobile').html(result); },3000);
                                }
                            });
                        <% end %>
                    }
                });
            }
        }
    });
</script>