<legend> <%= t('views.vac_requests.legends.benefits_list') %></legend>
<div class="row">
  <div class="col-md-12 col-md-offset-0" align="right">
    <%= link_to 'Reportes', vac_manager_benefits_report_path %>
  </div>
</div>
<table id="<%= defined?(id_datatable) ? id_datatable : 'datatable_vac_rule_records' %>" class="table table-striped table-bordered smart-form vac_requests_datatable" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <% if defined?(show_users) && show_users %>
      <th><%= alias_username %></th>
      <th><%= t('views.vac_requests.user.lastname') %></th>
      <th><%= t('views.vac_requests.user.name') %></th>
    <% end %>

    <th><%= 'Bono' %></th>

    <% if defined?(show_bonus_status) && show_bonus_status %>
      <th><%= '¿Bono efectivo?' %></th>
    <% end %>

    <% if defined?(show_vacations) && show_vacations %>
      <th><%= 'Período de vacaciones' %></th>
    <% end %>

    <% if defined?(show_vacations_status) && show_vacations_status %>
      <th><%= 'Estado vacaciones' %></th>
    <% end %>

    <% if defined?(show_link) && show_link && !(defined?(show_vacations) && show_vacations)%>
      <th></th>
    <% end %>
  </tr>

  <tr class="second">
    <td><label class="input hidden"><input type="text" name="search_num" value="" class="search_init"></label></td>
    <% if defined?(show_users) && show_users %>
      <td><label class="input"><input type="text" name="search_cod" value="" class="search_init"></label></td>
      <td><label class="input"><input type="text" name="search_lastname" value="" class="search_init"></label></td>
      <td><label class="input"><input type="text" name="search_name" value="" class="search_init"></label></td>
    <% end %>

    <td><label class="input"><input type="text" name="search_bonus" value="" class="search_init"></label></td>

    <% if defined?(show_bonus_status) && show_bonus_status %>
      <td><label class="input"><input type="text" name="search_status_bonus" value="" class="search_init"></label></td>
    <% end %>

    <% if defined?(show_vacations) && show_vacations %>
      <td><label class="input"><input type="text" name="search_period_vacations" value="" class="search_init"></label></td>
    <% end %>

    <% if defined?(show_vacations_status) && show_vacations_status %>
      <td><label class="input"><input type="text" name="search_status_vacations" value="" class="search_init"></label></td>
    <% end %>

    <% if defined?(show_link) && show_link && !(defined?(show_vacations) && show_vacations)%>
      <td></td>
    <% end %>
  </tr>
  </thead>

  <% vac_rule_records.each_with_index do |rule_record, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <% if defined?(show_users) && show_users %>
        <td><%= rule_record.vac_request.user.codigo %></td>
        <td><%= rule_record.vac_request.user.apellidos %></td>
        <td><%= rule_record.vac_request.user.nombre %></td>
      <% end %>
      <td><%= rule_record.bonus_full_name %></td>

      <% if defined?(show_bonus_status) && show_bonus_status %>
        <td><%= label_message_datable(rule_record.paid_colour, rule_record.paid_text) %></td>
      <% end %>

      <% if defined?(show_vacations) && show_vacations %>
        <% if defined?(show_link) && show_link %>
          <td>
            <% link_content = '' %>
            <% link_content +=  (localize rule_record.vac_request.begin, :format => :day_snmonth_year) %>
            <% link_content += ' <i class="fa fa-long-arrow-right" aria-hidden="true"></i> '  %>
            <% link_content += (localize rule_record.vac_request.end_vacations, :format => :day_snmonth_year) if rule_record.vac_request.end_vacations %>

            <% if defined?(register) && defined?(register) %>
              <%= link_to link_content.html_safe , vac_records_register_register_show_path(rule_record.vac_request_id) %>
            <% end %>
            <% if defined?(validator) && validator %>
              <%= link_to link_content.html_safe, vac_records_validation_manage_path(rule_record.vac_request_id) %>
            <% end %>
            <% if defined?(manager) && manager %>
              <%= link_to link_content.html_safe, vac_manager_request_manage_path(rule_record.vac_request_id) %>
            <% end %>
          </td>
          <% else %>
          <td>
            <%= (localize rule_record.vac_request.begin, :format => :day_snmonth_year) %>
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <%= (localize rule_record.vac_request.end_vacations, :format => :day_snmonth_year) if rule_record.vac_request.end_vacations %>
          </td>
        <% end %>
      <% end %>

      <% if defined?(show_vacations_status) && show_vacations_status %>
        <td><%= label_message_datable(rule_record.vac_request.status_colour, rule_record.vac_request.status_message) %></td>
      <% end %>

      <% if defined?(show_link) && show_link && !(defined?(show_vacations) && show_vacations) %>
        <td>
          <% if defined?(register) && defined?(register) %>
            <%= link_to 'ir a solicitud', vac_records_register_register_show_path(rule_record.vac_request_id) %>
        <% end %>
          <% if defined?(validator) && validator %>
            <%= link_to 'ir a solicitud', vac_records_validation_manage_path(rule_record.vac_request_id) %>
        <% end %>
          <% if defined?(manager) && manager %>
            <%= link_to 'ir a solicitud', vac_manager_request_manage_path(rule_record.vac_request_id) %>
          <% end %>
        </td>
      <% end %>

    </tr>
  <% end %>
</table>

<%= render partial: '/shared/datatable',
           locals: {table_id: defined?(id_datatable) ? id_datatable : 'datatable_vac_rule_records'} %>