<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.vac_requests.navigation.back_list_requests_list')).html_safe, vac_records_register_index_path, class: 'btn btn-default' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-suitcase" aria-hidden="true"></i>
      <%= t('views.vac_requests.legends.vacations') %>
      <span>> <%= t('views.vac_requests.flow_process.edit_request') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 new_form_div">
    <%= render partial: 'request_new_form',
               locals: { request: @vac_request,
                         url_to_go: vac_records_register_register_update_path(@vac_request) } %>
  </div>
</div>