<% go_back_col = $mobile_client ? 0 : 3 %>

  <%= render partial: 'shared/module_header_navigation',
           locals: { icon: t('views.vac_module.icon'),
                     go_back_col: go_back_col,
                     legends: [t('views.vac_module.name')]} %>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
    <%= render partial: 'vac_accumulateds/accumulated_info',
               locals: { vac_accumulated: VacAccumulated.user_latest(user_connected.id),
                         register: true,
                         scheme: true,
                         user: user_connected } %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= text_field_tag :filter_patron, nil, class: 'form-control filterer', placeholder: 'Filtrar' %>
  </div>
</div>

<br>

<div class="row">
  <div class=" col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
    <div class="panel-group" id="accordion">

      <div class="panel panel-default requests_container">
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><%= t('views.vac_module.tabs.draft_and_pendings') %></a><%= render 'vac_records_register/filterer_detail' %></h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            <%= render partial: 'requests_list_mobile',
                       locals: {
                           show_new_request: true,
                           url_to_go: true,
                           dont_show_bonus_status: true,
                           register: true,
                           requests: (VacRequest.approver_editable_of(user_connected)+VacRequest.register_editable(user_connected)).sort_by(&:begin).reverse} %>
          </div>
        </div>
      </div>

      <div class="panel panel-default requests_container">
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><%= t('views.vac_module.tabs.approved') %></a><%= render 'vac_records_register/filterer_detail' %></h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <%= render partial: 'requests_list_mobile',
                       locals: {
                           show_new_request: true,
                           url_to_go: true,
                           register: true,
                           dont_show_bonus_status: true,
                           dont_show_status: true,
                           requests: VacRequest.manager_editable.where(status: VacRequest.approved, user_id: user_connected.id).reorder('begin DESC')} %>
          </div>
        </div>
      </div>

      <div class="panel panel-default requests_container">
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><%= 'Históricas' %></a><%= render 'vac_records_register/filterer_detail' %></h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
            <%= render partial: 'requests_list_mobile',
                       locals: {
                           show_new_request: true,
                           url_to_go: true,
                           register: true,
                           dont_show_bonus_status: true,
                           dont_show_status: true,
                           requests: VacRequest.where(active: true, status: VacRequest.closed, user_id: user_connected.id).reorder('begin DESC')} %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
    function show_request(link){
        window.location.replace($(link).data('url'));
    }
</script>

<%= render 'vac_records_register/filter_script' %>
