<%= render partial: 'shared/module_header_navigation',
           locals: { icon: t('views.holiday_module.icon'),
                     go_back_col: 3,
                     go_back_link: holiday_index_path(t('views.holiday_module.tabs.manager_index.global')),
                     go_back_text: t('views.holiday_module.backlist.global_dates'),
                     legends: [t('views.holiday_module.name'),
                               t('views.holiday_module.legends.calendar_date_list'),
                               t('views.holiday_module.flow_process.new_global')]} %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'form',
               :locals => { holiday: @holiday,
                            url_to_go: holiday_create_global_date_path } %>
  </div>
</div>