<h1>Listing jcc_characteristics</h1>

<table>
  <tr>
    <th>J cost center</th>
    <th>Characteristic</th>
    <th>Value string</th>
    <th>Characteristic value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jcc_characteristics.each do |jcc_characteristic| %>
  <tr>
    <td><%= jcc_characteristic.j_cost_center %></td>
    <td><%= jcc_characteristic.characteristic %></td>
    <td><%= jcc_characteristic.value_string %></td>
    <td><%= jcc_characteristic.characteristic_value %></td>
    <td><%= link_to 'Show', jcc_characteristic %></td>
    <td><%= link_to 'Edit', edit_jcc_characteristic_path(jcc_characteristic) %></td>
    <td><%= link_to 'Destroy', jcc_characteristic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jcc characteristic', new_jcc_characteristic_path %>
