<p id="notice"><%= notice %></p>

<p>
  <b>J cost center:</b>
  <%= @jcc_characteristic.j_cost_center %>
</p>

<p>
  <b>Characteristic:</b>
  <%= @jcc_characteristic.characteristic %>
</p>

<p>
  <b>Value string:</b>
  <%= @jcc_characteristic.value_string %>
</p>

<p>
  <b>Characteristic value:</b>
  <%= @jcc_characteristic.characteristic_value %>
</p>


<%= link_to 'Edit', edit_jcc_characteristic_path(@jcc_characteristic) %> |
<%= link_to 'Back', jcc_characteristics_path %>
