<p id="notice"><%= notice %></p>

<p>
  <b>Pe member observed:</b>
  <%= @pe_member_observer.pe_member_observed_id %>
</p>

<p>
  <b>Observer:</b>
  <%= @pe_member_observer.observer_id %>
</p>


<%= link_to 'Edit', edit_pe_member_observer_path(@pe_member_observer) %> |
<%= link_to 'Back', pe_member_observers_path %>
