<%= form_for(@hr_process_calibration_session_m) do |f| %>
  <% if @hr_process_calibration_session_m.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hr_process_calibration_session_m.errors.count, "error") %> prohibited this hr_process_calibration_session_m from being saved:</h2>

      <ul>
      <% @hr_process_calibration_session_m.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hr_process_calibration_session %><br />
    <%= f.text_field :hr_process_calibration_session %>
  </div>
  <div class="field">
    <%= f.label :hr_process_user %><br />
    <%= f.text_field :hr_process_user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
