
<h1 class="page-title txt-color-blueDark">
  <i class="fa fa-book"></i>
  Reportes
  <span>> Lista de programas y cursos </span>
</h1>

<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row">

          <div class="col-md-12">

            <%= form_tag lms_reporting_generate_r2_0_path(format: 'xlsx'), method: :post do |f| %>

              <div class="panel panel-default">
                <div class="panel-body">

                  <legend>Reporte general</legend>

                  <div class="row">

                    <% TrainingCharacteristic.filtro_characteristics.each do |training_characteristic| %>

                      <div class="col-md-3">

                        <%= training_characteristic.name %>
                        <br>

                        <% if training_characteristic.data_type_id == 0 %>

                          <% valores = training_characteristic.course_training_characteristics.where('value_string <> ""').order('value_string').uniq.pluck(:value_string) %>

                        <% elsif training_characteristic.data_type_id == 1 %>

                          <% valores = training_characteristic.course_training_characteristics.where('value_int IS NOT NULL').order('value_string').uniq.pluck(:value_int) %>

                        <% elsif training_characteristic.data_type_id == 2 %>

                          <% valores = training_characteristic.training_characteristic_values.map {|v| [v.value_string, v.id]} %>

                        <% end %>

                        <%= select('training_characteristic_', training_characteristic.id, options_for_select(valores),
                                   {}, {multiple: true, size: 3, class: 'form-control'})
                        %>

                        <script>
                          $(document).ready(function() {
                            $("#training_characteristic_<%= training_characteristic.id %>").select2();
                          });

                        </script>

                      </div>

                    <% end %>

                  </div>


                  <% if ct_module_lms_manager? || user_connected.lms_reports %>

                    <hr>

                    <div class="row">
                      <div class="col-md-6">

                        Responsable
                        <br>
                        <% responsables_array = User.joins(:program_course_instances).reorder('users.apellidos, users.nombre').uniq.map{|user| [user.apellidos+', '+user.nombre, user.id]} %>


                        <%= select('creator', 'id', options_for_select(responsables_array),
                                   {:include_blank => '--Sin Filtro--'}, {id: 'creator_id', class: 'form-control'})
                        %>

                        <script>
                          $(document).ready(function() {
                            $("#responsable_id").select2();
                          });

                        </script>

                      </div>

                    </div>

                  <% end %>

                </div>

                <div class="panel-footer clearfix">
                  <div class="pull-right">
                    <input type="submit" class="btn btn-primary" value="Generar reporte">
                  </div>
                </div>

              </div>

            <% end %>

          </div>
        </div>


        <br>

        <table id="datatable_courses"  class="table table-bordered table-hover smart-form" style="font-size: 11px;" width="100%">

          <thead>
          <tr>
            <th>Programa</th>
            <% if TrainingType.all.size > 0 %>
              <th><%= @company.training_type_alias %></th>
            <% end %>
            <th>Código</th>
            <th>Curso</th>
            <th></th>

          </tr>
          <tr>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <% if TrainingType.all.size > 0 %>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
            <% end %>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td></td>
          </tr>
          </thead>

          <tbody>
          <% @programs.each do |program| %>

            <% program.active_program_courses_managed_by_manager_order_by_name.each do |pc| %>

              <% course = pc.course %>

              <tr>
                <td>
                  <%= program.codigo %>
                  -
                  <%= program.nombre %>
                </td>
                <% if TrainingType.all.size > 0 %>
                  <td><%= course.training_type.nombre if course.training_type %></td>
                <% end %>
                <td><%= course.codigo %></td>
                <td><%= course.nombre %></td>
                <td><%= link_to 'Reportes por curso', lms_reporting_program_course_path(pc.id) %></td>
              </tr>

            <% end %>

          <% end %>
          </tbody>

        </table>

      </div>
    </div>

  </div>

</div>


<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_courses'
           }
%>