<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>

    <Style ss:ID="format_date">
      <NumberFormat ss:Format="dd\-mm\-yyyy"/>
    </Style>
    <Style ss:ID="format_number_float">
      <NumberFormat ss:Format="Fixed"/>
    </Style>
    <Style ss:ID="format_number_int">
      <NumberFormat ss:Format="0"/>
    </Style>
    <Style ss:ID="format_center">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Acta">
    <Table>

      <Row>
        <Cell>
          <Data ss:Type="String"></Data>
        </Cell>
        <Cell ss:MergeAcross="4">
          <Data ss:Type="String" >Registro de Capacitación</Data>
        </Cell>

        <Cell>
          <Data ss:Type="String">Gestión Humana</Data>
        </Cell>
      </Row>
      <Row>

      </Row>
      <Row>
        <Cell>
          <Data ss:Type="String"></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Curso</Data>
        </Cell>
        <Cell ss:MergeAcross="5">
          <Data ss:Type="String"><%= @course.nombre %></Data>
        </Cell>
      </Row>
      <Row>

      </Row>
      <Row>
        <Cell>
          <Data ss:Type="String"></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Fecha de Inicio</Data>
        </Cell>
        <Cell ss:StyleID="format_date">
          <Data ss:Type="DateTime"><%= (localize @program_course_instance.from_date, format: :full_date_time_excel) if @program_course_instance.from_date && @program_course_instance.from_date >= Date.new(1900,1,1) %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Fecha de fin </Data>
        </Cell>
        <Cell ss:StyleID="format_date">
          <Data ss:Type="DateTime"><%= (localize @program_course_instance.to_date, format: :full_date_time_excel) if @program_course_instance.to_date && @program_course_instance.to_date >= Date.new(1900,1,1) %></Data>
        </Cell>

        <Cell>
          <Data ss:Type="String">Horario</Data>
        </Cell>

      </Row>

      <Row>

      </Row>

      <% @training_characteristics.each do |t_characteristic| %>

        <Row>

          <Cell>
            <Data ss:Type="String"></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"><%= t_characteristic.name %></Data>
          </Cell>

          <% efcv = @course.excel_formatted_training_characteristic_value t_characteristic %>

          <% if efcv %>

            <% cell_id = '' %>
            <% cell_id = 'ss:StyleID="format_number_int"' if t_characteristic.data_type_id == 1 %>

            <Cell <%= cell_id.html_safe %> ss:MergeAcross="5">
              <Data ss:Type="<%= t_characteristic.excel_data_type_name %>"><%= efcv %></Data>
            </Cell>

          <% else %>

            <Cell>
              <Data ss:Type="String"></Data>
            </Cell>

          <% end %>
        </Row>

      <% end %>

      <Row>

      </Row>

      <Row>
        <Cell>
          <Data ss:Type="String"></Data>
        </Cell>
        <Cell ss:StyleID="format_center" ss:MergeAcross="6">
          <Data ss:Type="String">Lista de participantes</Data>
        </Cell>
      </Row>

      <Row>
        <Cell>
          <Data ss:Type="String"></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= alias_username %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Apellidos</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Nombres</Data>
        </Cell>

        <% @lms_characteristics.each do |lms_characteristic| %>
          <Cell>
            <Data ss:Type="String"><%= lms_characteristic.characteristic.nombre %></Data>
          </Cell>
        <% end %>

      </Row>
      <% @program_course_instance.matriculas_vigentes.each_with_index do |uc, index| %>
        <% user = uc.user %>
        <Row>
          <Cell>
            <Data ss:Type="String"><%= index+1 %></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"><%= user.codigo %></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"><%= user.apellidos %></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"><%= user.nombre %></Data>
          </Cell>
          <% @lms_characteristics.each do |lms_characteristic| %>
            <% characteristic = lms_characteristic.characteristic %>
            <% efcv = user.excel_formatted_characteristic_value(characteristic) %>

            <% if efcv %>

              <% cell_id = '' %>
              <% cell_id = 'ss:StyleID="format_date"' if characteristic.data_type_id == 2 %>
              <% cell_id = 'ss:StyleID="format_number_int"' if characteristic.data_type_id == 3 %>
              <% cell_id = 'ss:StyleID="format_number_float"' if characteristic.data_type_id == 4 %>

              <Cell <%= cell_id.html_safe %>>
                <Data ss:Type="<%= characteristic.excel_data_type_name %>"><%= efcv %></Data>
              </Cell>

            <% else %>

              <Cell>
                <Data ss:Type="String"></Data>
              </Cell>

            <% end %>
          <% end %>



        </Row>
      <% end %>

      <Row>

      </Row>

      <Row>
        <Cell>
          <Data ss:Type="String"></Data>
        </Cell>
        <Cell ss:MergeAcross="6">
          <Data ss:Type="String">Observaciones</Data>
        </Cell>
      </Row>

      <Row>

      </Row>

      <Row>
        <Cell>
          <Data ss:Type="String"></Data>
        </Cell>
        <Cell ss:MergeAcross="6">
          <Data ss:Type="String">Firma de los expositores</Data>
        </Cell>
      </Row>

    </Table>
  </Worksheet>

</Workbook>