<div class="panel panel-default">
  <div class="panel-body">

    <legend>Datos del Proceso</legend>

    <div class="form-group">
      <div class='col-md-3 control-label'>
        Usuario
      </div>
      <div class="col-md-9">
        <% if @users %>
        <%= select_tag('sel_permission_user_id', options_for_select(@users), class: 'form-control', :prompt => '- Seleccionar -', :required => true, name: 'sel_permission[user_id]') %>
            <% else %>
            <%= @user_ct_module_privilege.user.full_name %>
        <% end %>
      </div>
    </div>
    <script>
      $('#sel_permission_user_id').select2({
        minimumInputLength: 4
      });
    </script>
    <div class="form-group">
      <div class='col-md-3 control-label'>
        Puede generar solicitudes
      </div>
      <div class="col-md-9">

        <input type="checkbox" id="sel_permission_sel_make_requirement" name="sel_permission[sel_make_requirement]" value="1" <%= 'checked' if @user_ct_module_privilege && @user_ct_module_privilege.sel_make_requirement %> >
        <script>
          $('#sel_permission_sel_make_requirement').bootstrapSwitch({
            onColor: 'success',
            onText: "Sí",
            offColor: 'danger',
            offText: "No"
          });
        </script>
      </div>
    </div>
    <div class="form-group">
      <div class='col-md-3 control-label'>
        Puede aprobar solicitudes
      </div>
      <div class="col-md-9">

        <input type="checkbox" id="sel_permission_sel_approve_requirements" name="sel_permission[sel_approve_requirements]" value="1" <%= 'checked' if @user_ct_module_privilege && @user_ct_module_privilege.sel_approve_requirements %>>
        <script>
          $('#sel_permission_sel_approve_requirements').bootstrapSwitch({
            onColor: 'success',
            onText: "Sí",
            offColor: 'danger',
            offText: "No"
          });
        </script>
      </div>
    </div>
  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      <input type="submit" value="Guardar" class="btn btn-primary">
    </div>

  </div>
</div>