<h1 class="page-title txt-color-blueDark">
  <%= icon_sel_module_html_safe %>
  Selección
  <span>> Lista de Usuarios con permisos </span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">


    <legend>
    <div class="row">
      <div class="col-md-8">
        Lista de Procesos
      </div>
      <div class="col-md-2 text-align-right">
        <%= link_to 'Carga masiva', sel_permissions_massive_update_path %>
      </div>
      <div class="col-md-2 text-align-right">
        <%= link_to '<i class="fa fa-file-excel-o" aria-hidden="true"></i> Descargar'.html_safe, sel_permissions_path(format: 'xlsx') %>
      </div>
    </div>
    </legend>

    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>Código</th>
        <th>Usuario</th>
        <th>Generar solicitudes</th>
        <th>Aprobar solicitudes</th>
        <th><%= link_to 'Añadir usuario', new_sel_permission_path %></th>
      </tr>
      </thead>
      <tbody>
      <% @user_ct_module_privileges.each_with_index do |sel_privilege, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= sel_privilege.user.codigo %></td>
            <td><%= sel_privilege.user.comma_full_name %></td>
            <td><%= icon_true_false_in_show(sel_privilege.sel_make_requirement) %></td>
            <td><%= icon_true_false_in_show(sel_privilege.sel_approve_requirements) %></td>
            <td><%= link_to 'Editar permisos', edit_sel_permission_path(sel_privilege.id) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
