<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de Usuarios'.html_safe, sel_permissions_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%= icon_sel_module_html_safe %>
      Selección
      <span>> Dar privilegios a un nuevo usuario</span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_tag({:controller => :sel_permissions, :action => :create}, :method => :post, class: 'form-horizontal') do %>

        <%= render 'form' %>

    <% end %>

  </div>
</div>
