<div class="panel panel-default item">
  <div class="panel-body">
    <div class="row form-group <%= field_with_errors f, :position %>">
      <%= f.label :position, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.number_field :position, class: 'form-control' %>
      </div>
    </div>
    <div class="row form-group <%= field_with_errors f, :name %>">
      <%= f.label :name, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="row form-group <%= field_with_errors f, :description %>">
      <%= f.label :description, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_area :description, :rows => 3, class: 'form-control' %>
      </div>
    </div>
    <div class="row form-group <%= field_with_errors f, :mandatory %>">
      <%= f.label :mandatory, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.check_box :mandatory %>
      </div>
    </div>
    <% item_types_array = ScholarshipApplicationItem.alternative_item_type_active_ordered.each.map {|id, type| [type[:name], id, {'data-need-a-list' => type[:need_a_list]}]} %>
    <div class="row form-group <%= field_with_errors f, :item_type %>">
      <%= f.label :item_type, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.select(:item_type, options_for_select(item_types_array, f.object.item_type), {:include_blank => '-- Seleccione --'}, {class: 'form-control'}) %>
      </div>
    </div>
    <% scholarship_list_array = ScholarshipList.where(:active => true).map {|list| [list.name, list.id]} %>
    <div class="row form-group <%= field_with_errors f, :scholarship_list_id %>">
      <%= f.label :scholarship_list_id, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.select(:scholarship_list_id, options_for_select(scholarship_list_array, f.object.scholarship_list_id), {:include_blank => '-- Seleccione --'}, {class: 'form-control'}) %>
      </div>
    </div>
    <% date_characteristics_options_array = Characteristic.where(publica: true, data_type_id: 2).map {|char| [char.nombre, char.id]} %>
    <div class="row form-group <%= field_with_errors f, :reference_char_id %>">
      <%= f.label :reference_char_id, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.select(:reference_char_id, options_for_select(date_characteristics_options_array, f.object.reference_char_id), {:include_blank => '-- Seleccione --'}, {class: 'form-control'}) %>
      </div>
    </div>
    <div class="row form-group <%= field_with_errors f, :reference_date_today %>">
      <%= f.label :reference_date_today, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.check_box :reference_date_today %>
      </div>
    </div>
    <div class="row form-group <%= field_with_errors f, :reference_date_specific %>">
      <%= f.label :reference_date_specific, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <div class="input-group date" style="cursor:pointer">
          <% formated_date = f.object.reference_date_specific ? f.object.reference_date_specific.strftime('%d/%m/%Y') : '' %>
          <%= f.text_field :reference_date_specific, data: {format: 'dd/MM/yyyy'}, value: formated_date, class: 'form-control date_picker', readonly: true, style: 'cursor:pointer' %>
          <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
        </div>
      </div>
    </div>
    <div class="ranges_container">
      <% if [7].include?(f.object.item_type) %>
        <%= render partial: 'form_ranges', locals: {f: f} %>
      <% end %>
    </div>
  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      <%= link_to_remove_scholarship_application_item 'Eliminar item', f %>
    </div>
  </div>
</div>