<%= form_for @scholarship_process, url: scholarship_process_update_groups_path(@scholarship_process), class: 'form-horizontal' do |f| %>

  <div class="panel panel-default groups_container">
    <div class="panel-body group_container">
      <%= render 'shared/error_messages', object: f.object %>
      <legend>Datos del Formulario</legend>
      <%= f.fields_for :scholarship_item_groups do |f_group| %>
        <%= render partial: 'form_group', locals: {f: f_group} %>
      <% end %>
    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= link_to_add_scholarship_item_group 'Añadir grupo', f %>
        &nbsp;&nbsp;
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>


<script>
    //item-groups
    function remove_scholarship_item_group(link) {
        var r = confirm("¿Está seguro?");
        if (r == true) {
            $(link).prev('input[type=hidden]').val(1)
            $(link).closest('.group').hide();
        }
    }

    function add_scholarship_item_group(link, content) {
        var new_id = new Date().getTime();
        var regexp = new RegExp('new_scholarship_item_group', 'g')
        $(link).closest('.groups_container').find('.group_container').append(content.replace(regexp, new_id))
    }

    //items
    function remove_scholarship_application_item(link) {
        var r = confirm("¿Está seguro?");
        if (r == true) {
            $(link).prev('input[type=hidden]').val(1)
            $(link).closest('.item').hide();
        }
    }

    function add_scholarship_application_item(link, content) {
        var new_id = new Date().getTime();
        var regexp = new RegExp('new_scholarship_application_item', 'g')
        $(link).closest('.items_container').find('.item_container').append(content.replace(regexp, new_id))
        initialize_datepickers()
    }

    function initialize_datepickers() {
        $('.date_picker').datetimepicker({
            language: 'es',
            pickTime: false
        });
        $('.date_picker').removeClass('datepicker')
    }

    $( document ).ready(function() {
        initialize_datepickers()
    });
</script>