<tr>
  <td>
    <%= f.number_field :position, class: 'form-control' %>
  </td>
  <td>
    <%= f.hidden_field :scholarship_list_item_id %>
    <%= f.object.scholarship_list_item.name %>
  </td>
  <td>
    <% option_min_sign_array = ScholarshipApplicationItemRange.min_sign_options.each_with_index.map {|min_sign_option, index| [min_sign_option, index]} %>
    <%= f.select :min_sign, options_for_select(option_min_sign_array, f.object.min_sign), class: 'form-control' %>
  </td>
  <td>
    <%= f.number_field :min_val, class: 'form-control' %>
  </td>
  <td>
    <% option_max_sign_array = ScholarshipApplicationItemRange.max_sign_options.each_with_index.map {|min_sign_option, index| [min_sign_option, index]} %>
    <%= f.select :max_sign, options_for_select(option_max_sign_array, f.object.max_sign), class: 'form-control' %>
  </td>
  <td>
    <%= f.number_field :max_val, class: 'form-control' %>
  </td>
  <td>
    <%= f.check_box :is_default, value: 1 %>
  </td>
</tr>