<legend>Correspondencia con las opciones</legend>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Orden</th>
    <th>Valor</th>
    <th>Min Sig</th>
    <th>Min Val</th>
    <th>Max Sig</th>
    <th>Max Val</th>
    <th>Default</th>
  </tr>
  </thead>
  <tbody>
  <% f.object.scholarship_list.scholarship_list_items.each do |list_item| %>
  <% range = f.object.scholarship_application_item_ranges.where(scholarship_list_item_id: list_item.id).first_or_initialize %>
    <%= f.fields_for :scholarship_application_item_ranges, range do |f_range| %>
      <%= render partial: 'form_range', locals: {f: f_range} %>
    <% end %>
  <% end %>
  </tbody>
</table>