<%= form_for @scholarship_process, class: 'form-horizontal' do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos del Proceso</legend>

      <%= render 'shared/error_messages', object: f.object %>
      <div class="row form-group <%= field_with_errors f, :name %>">
        <%= f.label :name, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <div class="row form-group <%= field_with_errors f, :description %>">
        <%= f.label :description, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :description, :rows => 3, class: 'form-control' %>
        </div>
      </div>
      <div class="row form-group <%= field_with_errors f, :app_form_description %>">
        <%= f.label :app_form_description, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :app_form_description, :rows => 3, class: 'form-control' %>
        </div>
      </div>
      <div class="row form-group">
        <%= f.label :active, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :active} %>
        </div>
      </div>
      <div class="row form-group">
        <%= f.label :app_from_date, class: 'col-md-3 control-label'  %>
        <div class="col-md-9">
          <div id="sel_process_from_date" class="input-group date" style="cursor:pointer">
            <%= f.text_field :app_from_date, value: @scholarship_process.app_from_date ? @scholarship_process.app_from_date.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y'), data: {format: 'dd/MM/yyyy'}, class: 'form-control datepicker', readonly: true, style: 'cursor:pointer'  %>
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <%= f.label :app_to_date, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div id="sel_process_from_date" class="input-group date" style="cursor: pointer">
            <%= f.text_field :app_to_date, value: @scholarship_process.app_to_date ? @scholarship_process.app_to_date.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y'), data: {format: 'dd/MM/yyyy'}, class: 'form-control datepicker', readonly: true, style: 'cursor:pointer'  %>
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
      </div>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<script>
    $('.datepicker').datetimepicker({
        language: 'es',
        pickTime: false
    });
</script>