<h1 class="page-title txt-color-blueDark">
  <%= icon_scholarship_module_html_safe %>
  Becas
  <span>> Procesos de postulación a Becas</span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">


    <legend>Lista de Procesos</legend>

    <table class="table table-striped table-hover table-bordered">

      <thead>

      <tr>

        <th><%= t('activerecord.attributes.scholarship_process.name') %></th>
        <th><%= t('activerecord.attributes.scholarship_process.description') %></th>
        <th><%= t('activerecord.attributes.scholarship_process.active') %></th>
        <th><%= t('activerecord.attributes.scholarship_process.app_from_date') %></th>
        <th><%= t('activerecord.attributes.scholarship_process.app_to_date') %></th>
        <th>
          <%= link_to 'Crear un nuevo proceso', new_scholarship_process_path %>
        </th>
      </tr>
      </thead>

      <tbody>

      <% @scholarship_processes.each do |process| %>
        <tr>
          <td><%= process.name %></td>
          <td><%= process.description.html_safe %></td>
          <td><%= icon_true_false_in_show(process.active) %></td>
          <td>
            <span class="label label-success">
                  <%= (localize process.app_from_date, format: :day_snmonth_year) %>
                </span>
          </td>
          <td>
            <span class="label label-success">
                  <%= (localize process.app_to_date, format: :day_snmonth_year) %>
                </span>
          </td>
          <td><%= link_to 'Configurar', process %></td>
        </tr>
      <% end %>
      </table>
  </div>
</div>