<%= form_for process, url: url_to_go, html: {class: 'form-horizontal'}, method: :post do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <legend> <%= t('views.medlic_module.legends.medlic_info') %> </legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :name %>">
        <%= f.label :name, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, class: 'form-control', value: f.object.name %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :description %>">
        <%= f.label :description, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :description, class: 'form-control', value: f.object.description, rows: 3 %>
        </div>
      </div>

    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit t('views.medlic_module.flow_process.save'), class: 'btn btn-primary' %>
      </div>
    </div>

  </div>
<% end %>