<table id="datatable_medlic_processes" class="table table-bordered table-striped smart-form " style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <th><%= t('activerecord.attributes.medlic_process.name') %></th>
    <th><%= t('activerecord.attributes.medlic_process.description') %></th>
    <th><%= link_to t('views.medlic_module.flow_process.new'), medlic_processes_new_path%></th>
  </tr>

  <tr class="second">
    <td><label class="input hidden"><input type="text" name="search_num" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_name" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_description" value="" class="search_init"></label></td>
    <td></td>
  </tr>
  </thead>

  <tbody>
  <% processes.each_with_index do |process, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= process.name %></td>
      <td><%= process.description %></td>
      <td><%= link_to t('views.medlic_module.flow_process.manage'), medlic_process_manage_path(process) %></td>
    </tr>
  <% end %>
  </tbody>

</table>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_medlic_processes'} %>