<div class="panel panel-default">
  <div class="panel-body">
    <legend> <%= t('views.medlic_module.legends.medlic_info') %> </legend>

    <div class="row">
      <div class="col-md-4" align="right"><strong> <%= t('activerecord.attributes.medlic_process.name') %> </strong></div>
      <div class="col-md-8"><%= process.name %></div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4" align="right"><strong> <%= t('activerecord.attributes.medlic_process.description') %> </strong></div>
      <div class="col-md-8"><%= process.description %></div>
    </div>

    <br>
  </div>

  <% if defined?(editable) and editable %>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= link_to t('views.medlic_module.flow_process.delete'), medlic_processes_delete_path(process),
                    class: 'btn btn-danger btn-xs',
                    data: { confirm: t('views.medlic_module.confirmation_messages.delete')},
                    method: :post if process.deletable? %>
        &nbsp;&nbsp;&nbsp;
        <%= link_to t('views.medlic_module.flow_process.edit'), medlic_processes_edit_path(process) %>
      </div>
    </div>
  <% end %>
</div>