<%= render partial: 'shared/module_header_navigation',
           locals: { icon: t('views.medlic_module.icon'),
                     go_back_col: 3,
                     legends: [t('views.medlic_module.name')]} %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'processes_datatable',
                   locals: { processes: @processes } %>
      </div>
    </div>
  </div>
</div>