
<% letras = 'abcdefghijklmnopqrstuvwxyz' %>


<% pe_element_1st = pe_evaluation.pe_elements.first %>
<% pe_element_2nd = pe_evaluation.pe_elements.second %>
<% pe_element_3rd = pe_evaluation.pe_elements[2] %>

<% index_p_aux = 0 %>



<table class="table table-bordered table-hover">

  <thead></thead>

  <% num_1st_level = 1 %>

  <% pe_evaluation.pe_questions_only_by_pe_member_1st_level(@pe_member_evaluated).each_with_index do |pe_question_1st_level| %>

    <tbody>

    <tr>
      <td width="1%">
        <strong><%= num_1st_level %></strong>
      </td>
      <td style="border-right: 0px;">
        <strong>

          <% if pe_element_1st.display_name %>
            <%= pe_question_1st_level.pe_element.name %>.
          <% end %>

          <%= pe_question_1st_level.description.html_safe %>

        </strong>

      </td>
      <td width="10%" style="border-left: 0px; border-right: 0px;" id="weight_1st_level_<%= pe_question_1st_level.id %>">
        <% if pe_element_1st.assessed %>

          <strong>

            <%= number_with_precision(pe_question_1st_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%


          </strong>

        <% end %>
      </td>
      <td width="1%" style="border-left: 0px;">

      </td>
    </tr>

    </tbody>

    <% num_2nd_level = 1 %>
    <% sum_pesos_elementos_2nd_level_tmp = 0 %>
    <% pe_evaluation.pe_questions_by_question(pe_question_1st_level).each do |pe_question_2nd_level| %>

      <% if pe_element_2nd.assessed %>

        <% sum_pesos_elementos_2nd_level_tmp += pe_question_2nd_level.weight %>

      <% end %>

      <thead>

      <tr>
        <th style="background-color: #dddddd;" width="1%">
          <%= num_1st_level %>.<%= num_2nd_level %>
        </th>
        <th style="background-color: #dddddd;">

          <% if pe_element_2nd.display_name %>
            <%= pe_question_2nd_level.pe_element.name %>.
          <% end %>

          <%= pe_question_2nd_level.description.html_safe %>

        </th>
        <th style="background-color: #dddddd;" width="10%" id="weight_2nd_level_<%= pe_question_2nd_level.id %>">
          <% if pe_element_2nd.assessed %>

            <%= number_with_precision(pe_question_2nd_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

          <% end %>
        </th>
        <th style="background-color: #dddddd;"  width="15%">

        </th>
      </tr>


      <tr>
        <th></th>
        <th><%= pe_evaluation.pe_elements.last.name %></th>
        <th>Peso</th>
        <th>Meta</th>
      </tr>

      </thead>

      <tbody>

      <% num_3rd_level = 1 %>
      <% sum_pesos_elementos_3rd_level_tmp = 0 %>
      <% pe_evaluation.pe_questions_by_question(pe_question_2nd_level).each do |pe_question_3rd_level| %>

        <% sum_pesos_elementos_3rd_level_tmp += pe_question_3rd_level.weight %>

        <tr>
          <td>
            <%= num_1st_level %>.<%= num_2nd_level %>.<%= num_3rd_level %>
          </td>
          <td>

            <% if pe_question_3rd_level.kpi_indicator %>
              <span class="label label-success">KPI</span>&nbsp;
            <% end %>

            <% if pe_question_3rd_level.pe_element.display_name %>
              <%= pe_question_3rd_level.pe_element.name %>.
            <% end %>

            <% if pe_question_3rd_level.pe_element.kpi_dashboard && pe_question_3rd_level.kpi_indicator %>

              <%= pe_question_3rd_level.kpi_indicator.name %>

            <% else %>

              <%= pe_question_3rd_level.description.html_safe %>

            <% end %>

          </td>
          <td>
            <%= number_with_precision(pe_question_3rd_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
          </td>
          <td>

            <%= render partial: 'pe_processes/indicator_goal_temp',
                       locals: {
                           pe_question: pe_question_3rd_level
                       }
            %>

          </td>

        </tr>
        <% num_3rd_level += 1 %>
      <% end %>

      <% unless pe_element_2nd.assessed %>

        <% sum_pesos_elementos_2nd_level_tmp += sum_pesos_elementos_3rd_level_tmp %>

        <% if pe_element_2nd.display_weight %>

          <% suma_temp = number_with_precision(sum_pesos_elementos_3rd_level_tmp, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>

          <script>
            $( document ).ready(function() {
              $('#weight_2nd_level_<%= pe_question_2nd_level.id %>').append('<%= suma_temp %>%');
            });
          </script>

        <% end %>

      <% end %>

      </tbody>


      <% num_2nd_level += 1 %>

    <% end %>

    <% unless pe_element_1st.assessed %>

      <% if pe_element_1st.display_weight %>

        <% suma_temp = number_with_precision(sum_pesos_elementos_2nd_level_tmp, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>

        <script>
          $( document ).ready(function() {
            $('#weight_1st_level_<%= pe_question_1st_level.id %>').append('<strong><%= suma_temp %>%</strong>');
          });
        </script>

      <% end %>

    <% end %>

    <% num_1st_level += 1 %>

  <% end %>


</table>

