
<% pe_group = nil %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = @pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>

<% total_num_questions = pe_evaluation.total_number_of_questions_by_pe_member_3rd_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel) %>

<% total_ansered_questions = pe_assessment_evaluation ? pe_assessment_evaluation.pe_assessment_questions_3rd_level(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).size : 0 %>



<% if total_ansered_questions < total_num_questions %>

  <% incomplete_evaluation = true %>

  <script>

    if(active_tab_identified == false) {

      active_tab_identified = true;
      id_tab_identified = <%= pe_evaluation.id %>;


    }

  </script>

<% end %>


<% if pe_evaluation.pe_questions_by_pe_member_all_levels_ready(@pe_member_evaluated, @pe_member_evaluator, nil, nil).count == 0 %>

  <div class="alert alert-danger">
    El proceso de definición de <%= pe_evaluation.name.downcase %> aún no ha finalizado.
  </div>

<% else %>

  <% num_non_kpis = 0 %>

  <% if pe_assessment_evaluation && incomplete_evaluation %>

    <div class="alert alert-danger">
      Aún no se ha completado la evaluación
    </div>

  <% end %>

  <% pe_assessment_evaluation = @pe_member_rel.pe_assessment_evaluations.build unless pe_assessment_evaluation %>

  <% letras = 'abcdefghijklmnopqrstuvwxyz' %>

  <form class="form_pe_assess_<%= pe_evaluation.id %>">


    <div class="panel panel-default">
    <div class="panel-body">

    <% index_p_aux = 0 %>

    <table class="table table-bordered">

    <thead></thead>


    <% pe_element_1st = pe_evaluation.pe_elements.first %>
    <% pe_element_2nd = pe_evaluation.pe_elements.second %>
    <% pe_element_3rd = pe_evaluation.pe_elements[2] %>

    <% num_1st_level = 1 %>

    <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).each_with_index do |pe_question_1st_level| %>

        <tbody>

          <tr>
            <td width="1%">
              <strong><%= num_1st_level %></strong>
            </td>
            <td style="border-right: 0px;">
              <strong>

                <% if pe_element_1st.display_name %>
                  <%= pe_question_1st_level.pe_element.name %>.
                <% end %>

                <%= pe_question_1st_level.description.html_safe %>

              </strong>

            </td>
            <td width="5%" style="border-left: 0px; border-right: 0px;" id="weight_1st_level_<%= pe_question_1st_level.id %>">
              <% if pe_element_1st.assessed %>

                <strong>

                  <%= number_with_precision(pe_question_1st_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%


                </strong>

              <% end %>
            </td>
            <td width="10%" style="border-left: 0px; border-right: 0px;">

            </td>
            <td width="20%" style="border-left: 0px; border-right: 0px;">

            </td>
            <td width="15%" style="border-left: 0px; border-right: 0px;">

            </td>
            <td width="1%" style="border-left: 0px;">

            </td>
          </tr>

        </tbody>

      <% num_2nd_level = 1 %>
      <% sum_pesos_elementos_2nd_level_tmp = 0 %>
      <% pe_evaluation.pe_questions_by_question_ready(pe_question_1st_level).each do |pe_question_2nd_level| %>

        <% if pe_element_2nd.assessed %>

          <% sum_pesos_elementos_2nd_level_tmp += pe_question_2nd_level.weight %>

        <% end %>

        <thead>

        <tr>
          <th style="background-color: #dddddd;" width="1%">
            <%= num_1st_level %>.<%= num_2nd_level %>
          </th>
          <th style="background-color: #dddddd;">

            <% if pe_element_2nd.display_name %>
              <%= pe_question_2nd_level.pe_element.name %>.
            <% end %>

            <%= pe_question_2nd_level.description.html_safe %>

          </th>
          <th style="background-color: #dddddd;" width="5%" id="weight_2nd_level_<%= pe_question_2nd_level.id %>">
            <% if pe_element_2nd.assessed %>

              <%= number_with_precision(pe_question_2nd_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

            <% end %>
          </th>
          <th style="background-color: #dddddd;"  width="10%">

          </th>
          <th style="background-color: #dddddd;"  width="20%">

          </th>
          <th style="background-color: #dddddd;"  width="15%">

          </th>
          <th style="background-color: #dddddd;" width="1%"></th>
        </tr>

        <tr>
          <th></th>
          <th><%= pe_evaluation.pe_elements.last.name %></th>
          <th>Peso</th>
          <th>Meta</th>
          <th><nobr>Meta lograda</nobr></th>
          <th style="border-right: 0px;">Logro</th>
          <th style="border-left: 0px; "></th>
        </tr>

        </thead>

        <tbody>

        <% num_3rd_level = 1 %>
        <% sum_pesos_elementos_3rd_level_tmp = 0 %>
        <% pe_evaluation.pe_questions_by_question_ready(pe_question_2nd_level).each do |pe_question_3rd_level| %>

          <% num_non_kpis += 1 unless pe_question_3rd_level.kpi_indicator %>
          <% sum_pesos_elementos_3rd_level_tmp += pe_question_3rd_level.weight %>

          <tr>
            <td>
              <%= num_1st_level %>.<%= num_2nd_level %>.<%= num_3rd_level %>
            </td>
            <td>

              <% if pe_question_3rd_level.pe_element.kpi_dashboard && pe_question_3rd_level.kpi_indicator %>
                <span class="label label-success">KPI</span>&nbsp;
              <% end %>


              <% if pe_question_3rd_level.pe_element.display_name %>
                <%= pe_question_3rd_level.pe_element.name %>.
              <% end %>


              <% if pe_question_3rd_level.pe_element.kpi_dashboard && pe_question_3rd_level.kpi_indicator %>

                <%= pe_question_3rd_level.kpi_indicator.name %>

              <% else %>

                <%= pe_question_3rd_level.description.html_safe %>

              <% end %>



            </td>
            <td>
              <%= number_with_precision(pe_question_3rd_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
            </td>
            <td>

              <%= render partial: 'pe_processes/indicator_goal_temp',
                         locals: {
                             pe_question: pe_question_3rd_level
                         }
              %>

            </td>
            <td>

              <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question_3rd_level) %>

              <% if pe_question_3rd_level.pe_element.kpi_dashboard && pe_question_3rd_level.kpi_indicator %>

                <%= pe_question_3rd_level.kpi_indicator.value %>

              <% else %>

                <div class="row">
                  <div class="col-md-<%= pe_question_3rd_level.indicator_type != 4 ? '6' : '12' %>">
                    <% if pe_question_3rd_level.indicator_type == 4 %>

                      <select class="form-control" name="pe_question_<%= pe_question_3rd_level.id %>">

                        <option value="">-- Seleccionar --</option>

                        <% pe_question_3rd_level.pe_question_ranks.each do  |qr| %>

                          <option value="<%= qr.discrete_goal %>" <%= 'selected' if pe_assessment_question && qr.discrete_goal == pe_assessment_question.indicator_discrete_achievement %> ><%= qr.discrete_goal.html_safe %></option>

                        <% end %>

                      </select>

                    <% else %>
                      <input type="text" name="pe_question_<%= pe_question_3rd_level.id %>" class="form-control" value="<%= number_with_precision(pe_assessment_question.indicator_achievement, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) if pe_assessment_question %>" >
                    <% end %>
                  </div>
                  <% if pe_question_3rd_level.indicator_type != 4 %>
                    <div class="col-md-6">
                      <p class="form-control-static">

                        <%= pe_question_3rd_level.indicator_unit %>

                      </p>
                    </div>
                  <% end %>
                </div>
              <% end %>


            </td>
            <td style="border-right: 0px;">

              <% if pe_assessment_question %>

                <% ancho_p_b = 0 %>

                <% ancho_p_b = pe_assessment_question.percentage && pe_assessment_question.percentage < 100 ? pe_assessment_question.percentage.to_i : 100 %>

                <% if pe_question_3rd_level.indicator_type != 4 || (pe_question_3rd_level.indicator_type == 4 && !pe_assessment_question.indicator_discrete_achievement.blank?) %>

                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="<%= ancho_p_b %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= ancho_p_b %>%;">
                      <%= number_with_precision(pe_assessment_question.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
                    </div>
                  </div>

                <% end %>

              <% end %>

            </td>
            <td style="border-left: 0px;">

            </td>
          </tr>

          <% num_3rd_level += 1 %>

        <% end %>

        <% unless pe_element_2nd.assessed %>

          <% sum_pesos_elementos_2nd_level_tmp += sum_pesos_elementos_3rd_level_tmp %>

          <% if pe_element_2nd.display_weight %>

            <% suma_temp = number_with_precision(sum_pesos_elementos_3rd_level_tmp, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>

            <script>
              $( document ).ready(function() {
                $('#weight_2nd_level_<%= pe_question_2nd_level.id %>').append('<%= suma_temp %>%');
              });
            </script>

          <% end %>

        <% end %>

        </tbody>

        <% num_2nd_level += 1 %>

      <% end %>

      <% unless pe_element_1st.assessed %>

        <% if pe_element_1st.display_weight %>

          <% suma_temp = number_with_precision(sum_pesos_elementos_2nd_level_tmp, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>

          <script>
            $( document ).ready(function() {
              $('#weight_1st_level_<%= pe_question_1st_level.id %>').append('<strong><%= suma_temp %>%</strong>');
            });
          </script>

        <% end %>

      <% end %>

      <% num_1st_level += 1 %>

    <% end %>


    </table>

    </div>



      <script>

        $('.form_pe_assess_<%= pe_evaluation.id %> :input').attr("disabled", true);

      </script>


    </div>

  <% end %>



</form>
