
<% pe_group = nil %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = @pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>

<% total_num_questions = pe_evaluation.total_number_of_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel) %>

<% total_ansered_questions = 0 %>

<% total_ansered_questions = pe_assessment_evaluation ? pe_assessment_evaluation.pe_assessment_questions_1st_level(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).size : 0 %>

<% if total_ansered_questions < total_num_questions %>

  <% incomplete_evaluation = true %>

  <script>

    if(active_tab_identified == false) {

      active_tab_identified = true;
      id_tab_identified = <%= pe_evaluation.id %>;


    }

  </script>

<% end %>


<% if pe_assessment_evaluation && incomplete_evaluation %>

  <div class="alert alert-danger">
    Aún no se ha completado la evaluación
  </div>

<% end %>

<% pe_assessment_evaluation = @pe_member_rel.pe_assessment_evaluations.build unless pe_assessment_evaluation %>

<% letras = 'abcdefghijklmnopqrstuvwxyz' %>


<form class="form_pe_assess_<%= pe_evaluation.id %>">

  <div class="panel panel-default">
    <div class="panel-body">

      <% index_p_aux = 0 %>

      <table class="table table-bordered">

        <thead>

          <tr>

            <th>#</th>

            <% pe_element = pe_evaluation.pe_elements.first %>

            <% if pe_element.simple %>

              <th><%= pe_element.name %></th>

            <% else %>

              <% pe_element.pe_element_descriptions.each do |pe_element_description| %>

                <th>
                  <%= pe_element_description.name %>
                </th>

              <% end %>

            <% end %>

            <th></th>


          </tr>

        </thead>

        <tbody>

          <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).each_with_index do |pe_question, index_p| %>

            <tr>

              <% if pe_question.pe_element.visible %>

                <td>
                  <%= index_p+1 %>
                </td>

                <% if pe_question.pe_element.simple? %>
                  <td>
                    <%= pe_question.description.html_safe %>
                  </td>
                <% else %>

                  <% pe_element.pe_element_descriptions.each do |pe_element_description| %>

                    <td>

                      <% pe_question_description = pe_question.pe_question_descriptions.where('pe_element_description_id = ?', pe_element_description.id).first %>

                      <%= pe_question_description.description.html_safe if pe_question_description %>

                    </td>

                  <% end %>


                <% end %>

              <% end %>



                <% if pe_question.pe_alternatives.size > 0 %>

                  <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question pe_question %>

                  <% pe_alternative_fixed = false %>

                  <% if pe_evaluation.pe_elements.first.alternatives_display_method == 0 %>

                    <td width="10%">

                        <select name="pe_question_<%= pe_question.id %>" id="pe_question_<%= pe_question.id %>" class="form-control pe_question_<%= pe_question.id %>">

                          <option value="">-- Seleccionar --</option>

                          <% pe_question.pe_alternatives.each_with_index do |pe_alternative, index_a| %>

                            <option value="<%= pe_alternative.id %>" <%= 'selected' if(pe_alternative.fixed || (pe_assessment_question && pe_assessment_question.pe_alternative_id == pe_alternative.id)) %>><%= pe_alternative.description.html_safe %></option>

                            <% pe_alternative_fixed = true if pe_alternative.fixed %>

                          <% end %>

                        </select>

                    </td>

                  <% elsif pe_evaluation.pe_elements.first.alternatives_display_method == 1 %>
                    <td>
                      <nobr>
                      <% pe_question.pe_alternatives.each_with_index do |pe_alternative, index_a| %>

                        <div class="radio">
                          <label>
                            <input class="pe_question_<%= pe_question.id %>" type="radio" name="pe_question_<%= pe_question.id %>" id="pe_question_<%= pe_question.id %>" value="<%= pe_alternative.id %>" <%= 'checked' if(pe_alternative.fixed || (pe_assessment_question && pe_assessment_question.pe_alternative_id == pe_alternative.id)) %>>
                            <%= pe_alternative.description.html_safe %>
                          </label>
                        </div>

                        <% pe_alternative_fixed = true if pe_alternative.fixed %>

                      <% end %>
                      </nobr>
                    </td>
                  <% else %>

                    <% pe_question.pe_alternatives.each_with_index do |pe_alternative, index_a| %>
                      <td>
                        <div class="radio">
                          <label>
                            <input class="pe_question_<%= pe_question.id %>" type="radio" name="pe_question_<%= pe_question.id %>" id="pe_question_<%= pe_question.id %>" value="<%= pe_alternative.id %>" <%= 'checked' if(pe_alternative.fixed || (pe_assessment_question && pe_assessment_question.pe_alternative_id == pe_alternative.id)) %>>
                            <%= pe_alternative.description.html_safe %>
                          </label>
                        </div>
                      </td>
                      <% pe_alternative_fixed = true if pe_alternative.fixed %>

                    <% end %>


                  <% end %>

                  <% if pe_alternative_fixed %>

                    <script>

                      $('.pe_question_<%= pe_question.id %>').prop('disabled','disabled')

                    </script>

                  <% end %>

                <% end %>


            </tr>

          <% end %>

        </tbody>

      </table>

    </div>



      <script>

        $('.form_pe_assess_<%= pe_evaluation.id %> :input').attr("disabled", true);

      </script>


  </div>

</form>
