
<% pe_group = nil %>

<% pe_member_evaluated = pe_member_rel_evaluated.pe_member_evaluated %>
<% pe_member_evaluator = pe_member_rel_evaluated.pe_member_evaluator %>
<% pe_rel = pe_member_rel_evaluated.pe_rel %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>

<% if pe_evaluation.pe_questions_by_pe_member_all_levels_ready(pe_member_evaluated, pe_member_evaluator, nil, nil).count == 0 %>

  <div class="alert alert-danger">
    El proceso de definición de <%= pe_evaluation.name.downcase %> aún no ha finalizado.
  </div>

<% else %>

  <% num_non_kpis = 0 %>

  <% pe_assessment_evaluation = pe_member_rel_evaluated.pe_assessment_evaluations.build unless pe_assessment_evaluation %>

  <% letras = 'abcdefghijklmnopqrstuvwxyz' %>

  <form class="form_pe_assess_<%= pe_evaluation.id %> ">


        <table class="table table-bordered">

          <thead></thead>

          <% pe_element_1st = pe_evaluation.pe_elements.first %>
          <% pe_element_2nd = pe_evaluation.pe_elements.second %>

          <% num_1st_level = 1 %>

          <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(pe_member_evaluated, pe_member_evaluator, pe_group, pe_rel).each_with_index do |pe_question_1st_level| %>

            <thead>

            <tr>
              <th style="background-color: #dddddd; vertical-align: middle;">
                <%= num_1st_level %>
              </th>
              <th  style="background-color: #dddddd; vertical-align: middle;">
                <% if pe_question_1st_level.pe_element.display_name %>
                  <%= pe_question_1st_level.pe_element.name %>.
                <% end %>
                <%= pe_question_1st_level.description.html_safe %>
              </th>
              <th style="background-color: #dddddd;" width="10%" id="weight_1st_level_<%= pe_question_1st_level.id %>">
                <% if pe_element_1st.assessed %>
                  <%= number_with_precision(pe_question_1st_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                <% end %>
              </th>
              <th style="background-color: #dddddd;" colspan="3">

              </th>
            </tr>

            <tr>
              <th width="1%"></th>
              <th><%= pe_evaluation.pe_elements.last.name %></th>
              <% if $current_domain == 'misecurity-training8' %>
                <th>Potencia</th>
                <th>Apalancamiento</th>
              <% end %>
              <th width="5%">Peso</th>
              <th width="10%">Meta</th>
              <th width="20%"><nobr>Meta lograda</nobr></th>
              <th width="15%">Logro</th>
            </tr>

            </thead>

            <tbody>

            <% num_2nd_level = 1 %>
            <% sum_pesos_elementos_2nd_level_tmp = 0 %>
            <% pe_evaluation.pe_questions_by_question_ready(pe_question_1st_level).each do |pe_question_2nd_level| %>
              <% sum_pesos_elementos_2nd_level_tmp += pe_question_2nd_level.weight %>
              <% num_non_kpis += 1 unless pe_question_2nd_level.kpi_indicator %>

              <tr>
                <td>
                  <%= num_1st_level %>.<%= num_2nd_level %>
                </td>
                <td>

                  <% if pe_question_2nd_level.pe_element.kpi_dashboard && pe_question_2nd_level.kpi_indicator %>
                    <span class="label label-success">KPI</span>&nbsp;
                  <% end %>

                  <% if pe_question_2nd_level.pe_element.display_name %>
                    <%= pe_question_2nd_level.pe_element.name %>.
                  <% end %>

                  <% if pe_question_2nd_level.pe_element.kpi_dashboard && pe_question_2nd_level.kpi_indicator %>

                    <%= pe_question_2nd_level.kpi_indicator.name %>

                  <% else %>

                    <%= pe_question_2nd_level.description.html_safe %>

                  <% end %>

                </td>
                <% if $current_domain == 'misecurity-training8' %>
                  <td>
                    <% if pe_question_2nd_level.pe_element.kpi_dashboard && pe_question_2nd_level.kpi_indicator %>
                      <%= pe_question_2nd_level.kpi_indicator.power %>
                    <% end %>
                  </td>
                  <td>
                    <% if pe_question_2nd_level.pe_element.kpi_dashboard && pe_question_2nd_level.kpi_indicator %>
                      <%= pe_question_2nd_level.kpi_indicator.leverage %>
                    <% end %>
                  </td>
                <% end %>
                <td>
                  <%= number_with_precision(pe_question_2nd_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                </td>
                <td>

                  <%= render partial: 'pe_processes/indicator_goal_temp',
                             locals: {
                                 pe_question: pe_question_2nd_level
                             }
                  %>

                </td>
                <td>

                  <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question_2nd_level) %>

                  <% if pe_question_2nd_level.pe_element.kpi_dashboard && pe_question_2nd_level.kpi_indicator %>

                    <%= pe_question_2nd_level.kpi_indicator.value %>

                  <% else %>

                    <div class="row">
                      <div class="col-md-<%= pe_question_2nd_level.indicator_type != 4 ? '8' : '12' %>">
                        <% if pe_question_2nd_level.indicator_type == 4 %>

                          <select class="form-control" name="pe_question_<%= pe_question_2nd_level.id %>">

                            <option value="">-- Seleccionar --</option>

                            <% pe_question_2nd_level.pe_question_ranks.each do  |qr| %>

                              <option value="<%= qr.discrete_goal %>" <%= 'selected' if pe_assessment_question && qr.discrete_goal == pe_assessment_question.indicator_discrete_achievement %> ><%= qr.discrete_goal.html_safe %></option>

                            <% end %>

                          </select>

                        <% else %>
                          <input type="text" name="pe_question_<%= pe_question_2nd_level.id %>" class="form-control" value="<%= number_with_precision(pe_assessment_question.indicator_achievement, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) if pe_assessment_question %>" >
                        <% end %>
                      </div>
                      <% if pe_question_2nd_level.indicator_type != 4 %>
                        <div class="col-md-4">
                          <p class="form-control-static">

                            <%= pe_question_2nd_level.indicator_unit %>

                          </p>
                        </div>
                      <% end %>
                    </div>
                  <% end %>


                </td>
                <td>

                  <% if pe_assessment_question %>

                    <% ancho_p_b = 0 %>

                    <% ancho_p_b = pe_assessment_question.percentage && pe_assessment_question.percentage < 100 ? pe_assessment_question.percentage.to_i : 100 %>

                    <% if pe_question_2nd_level.indicator_type != 4 || (pe_question_2nd_level.indicator_type == 4 && !pe_assessment_question.indicator_discrete_achievement.blank?) %>

                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="<%= ancho_p_b %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= ancho_p_b %>%;">
                          <%= number_with_precision(pe_assessment_question.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
                        </div>
                      </div>

                    <% end %>

                  <% end %>

                </td>
              </tr>


              <% num_2nd_level += 1 %>
            <% end %>

            <% unless pe_element_1st.assessed %>

              <% if pe_element_1st.display_weight %>

                <% suma_temp = number_with_precision(sum_pesos_elementos_2nd_level_tmp, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>

                <script>
                  $( document ).ready(function() {
                    $('#weight_1st_level_<%= pe_question_1st_level.id %>').append('<%= suma_temp %>%');
                  });
                </script>

              <% end %>

            <% end %>

            </tbody>


            <% num_1st_level += 1 %>

          <% end %>



        </table>


        <script>

          $('.form_pe_assess_<%= pe_evaluation.id %> :input').attr("disabled", true);

        </script>

  </form>

<% end %>

