


<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> Volver a buscar '+alias_users.downcase).html_safe, j_managing_hierarchy_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>

</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-cubes"></i>
      Gestionar dependencias
      <span>> Asignar como jefe</span>
    </h1>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos del <%= alias_user.downcase %></legend>

        <div class="row">
          <div class="col-md-10">

            <div class="row">
              <div class="col-md-4 text-right">
                <strong><%= alias_username %></strong>
              </div>
              <div class="col-md-8">
                <%= @user_boss.codigo %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4 text-right">
                <strong>Nombre</strong>
              </div>
              <div class="col-md-8">
                <%= @user_boss.nombre %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4 text-right">
                <strong>Apellidos</strong>
              </div>
              <div class="col-md-8">
                <%= @user_boss.apellidos %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4 text-right">
                <strong>Correo electrónico</strong>
              </div>
              <div class="col-md-8">
                <%= @user_boss.email %>
              </div>
            </div>

          </div>
          <div class="col-md-2 text-right">
            <% if @user_boss.foto %>
              <img src="https://<%=request.host%>/storage/<%= company_codigo %>/fotos_usuarios/<%=@user.foto%>" class="img-thumbnail user-foto">
            <% else %>
              <img src="/assets/default_user.png" class="img-thumbnail user-foto">
            <% end %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-10">

            <div class="row">
              <div class="col-md-4 text-right">
                <strong>Puesto actual</strong>
              </div>
              <div class="col-md-8">
                <%= @user_boss.j_job.name if @user_boss.j_job%>
              </div>
            </div>

            <br>

            <% JCharacteristic.all.each do |j_characteristic| %>

              <div class="row">
                <div class="col-md-4 text-right">
                  <strong><%= j_characteristic.name %></strong>
                </div>
                <div class="col-md-8">
                  <%= @user_boss.j_job.formatted_j_job_characteristic_value(j_characteristic.characteristic) if @user_boss.j_job %>
                </div>
              </div>
              <br>

            <% end %>


          </div>
        </div>

        <hr>

        <strong>
          Jefe
        </strong>
        <br><br>
        <table id="datatable_users" class="table table-striped table-bordered" width="100%" >

          <thead>
          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th><%= alias_user %></th>
            <th>Puesto</th>
            <% JCharacteristic.all.each do |j_characteristic| %>
              <th><%= j_characteristic.name %></th>
            <% end %>

          </tr>

          </thead>


          <tbody>

          <% user_boss = @user_boss.boss %>

          <% if user_boss %>

            <tr>
              <td>1</td>

              <td><%= user_boss.codigo %></td>
              <td><%= user_boss.apellidos %>, <%= user_boss.nombre %></td>
              <td>
                <% if user_boss.j_job %>
                  <%= user_boss.j_job.name %>

                  <% unless user_boss.j_job.current %>

                    <i class="fa fa-exclamation-triangle" data-toggle="tooltip" data-placement="top" title="Existe una versión más actualizada del puesto de trabajo"></i>
                    <script>
                      $(function () {
                        $('[data-toggle="tooltip"]').tooltip()
                      })
                    </script>
                  <% end %>


                <% end %>
              </td>
              <% JCharacteristic.all.each do |j_characteristic| %>
                <td>
                  <%= user_boss.j_job.formatted_j_job_characteristic_value(j_characteristic.characteristic) if user_boss.j_job %>
                </td>
              <% end %>
            </tr>

          <% end %>

          </tbody>


        </table>

        <hr>

        <strong>Subordinados</strong>
        <br><br>

        <table id="datatable_users" class="table table-striped table-bordered" width="100%" >

          <thead>
          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th><%= alias_user %></th>
            <th>Puesto</th>
            <% JCharacteristic.all.each do |j_characteristic| %>
              <th><%= j_characteristic.name %></th>
            <% end %>

          </tr>

          </thead>


          <tbody>



          <% @user_boss.members.each_with_index do |member, index| %>

            <tr>
              <td><%= index+1 %></td>

              <td><%= member.codigo %></td>
              <td><%= member.apellidos %>, <%= member.nombre %></td>
              <td>
                <% if member.j_job %>
                  <%= member.j_job.name %>

                  <% unless member.j_job.current %>

                    <i class="fa fa-exclamation-triangle" data-toggle="tooltip" data-placement="top" title="Existe una versión más actualizada del puesto de trabajo"></i>
                    <script>
                      $(function () {
                        $('[data-toggle="tooltip"]').tooltip()
                      })
                    </script>
                  <% end %>


                <% end %>
              </td>
              <% JCharacteristic.all.each do |j_characteristic| %>
                <td>
                  <%= member.j_job.formatted_j_job_characteristic_value(j_characteristic.characteristic) if member.j_job %>
                </td>
              <% end %>
            </tr>

          <% end %>

          </tbody>


        </table>

      </div>
    </div>

    <hr>






    <%= form_for @user, url: j_managing_assign_as_boss_search_path(params[:user_id]), method: :post do |f| %>


      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Buscador</legend>


          <div class="row">

            <div class="col-md-12">

              <div class="row">

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;<%= alias_username %></label>
                </div>

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Apellidos</label>
                </div>

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Nombre</label>
                </div>


              </div>

              <div class="row">

                <div class="col-md-4">

                  <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>

                </div>

                <div class="col-md-4">

                  <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>

                </div>

                <div class="col-md-4">

                  <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>

                </div>

              </div>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Buscar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>


    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Resultados de la búsqueda</legend>

        <table id="datatable_users" class="table table-striped table-bordered" width="100%">

          <thead>
          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th>Puesto</th>
            <% JCharacteristic.all.each do |j_characteristic| %>
              <th><%= j_characteristic.name %></th>
            <% end %>
            <th>Asignar como subordinado</th>
          </tr>

          </thead>


          <tbody>

          <% @users.each_with_index do |user, index| %>

            <tr>
              <td><%= index+1 %></td>

              <td><%= user.codigo %></td>
              <td><%= user.apellidos %></td>
              <td><%= user.nombre %></td>
              <td>
                <% if user.j_job %>
                  <%= user.j_job.name %>

                <% end %>
              </td>
              <% JCharacteristic.all.each do |j_characteristic| %>
                <td>
                  <%= user.j_job.formatted_j_job_characteristic_value(j_characteristic.characteristic) if user.j_job %>
                </td>
              <% end %>
              <td>

                <nobr>
                  <%= check_box 'cb_activate_assign_as', user.id.to_s, {onclick: 'show_hide_lnk_activate_assign_as('+user.id.to_s+');'} %>
                  <%= link_to 'Asignar', j_managing_assign_as_boss_path(@user_boss, user), id: 'activate_assign_as_'+user.id.to_s, class: 'btn btn-xs btn-success', data: { confirm: '¿Está seguro de asignar a '+@user_boss.apellidos+', '+@user_boss.nombre+' como jefe de '+user.apellidos+', '+user.nombre+'?' } %>
                </nobr>
                <script>

                  $('#activate_assign_as_<%= user.id %>').hide();


                  function show_hide_lnk_activate_assign_as(user_id){
                    if($('#activate_assign_as_'+user_id).is(':visible')) {
                      $('#activate_assign_as_'+user_id).hide();
                    }else{
                      $('#activate_assign_as_'+user_id).show();
                    }

                  }
                </script>



              </td>
            </tr>

          <% end %>


          </tbody>


        </table>

      </div>
    </div>
  </div>
</div>

