

  <div class="row">
    <div class="col-md-3">
      <%= link_to ('<i class="fa fa-arrow-left"></i> Volver a buscar '+alias_users.downcase).html_safe, j_managing_search_users_path, class: 'btn btn-default', tabindex: '-1' %>
    </div>
    <div class="col-md-6">
      <h1 class="page-title txt-color-blueDark">
        <i class="fa fa-users"></i>
        Asignación de puestos
        <span>> Asignar puesto</span>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <%= form_for @user, url: j_managing_assign_job_path(@user) ,method: :post, html: {class: 'form-horizontal', role: 'form'} do |f| %>

        <div class="panel panel-default">
          <div class="panel-body">

            <legend>Datos del <%= alias_user.downcase %></legend>

            <div class="row">
              <div class="col-md-10">

                <div class="row">
                  <div class="col-md-4 text-right">
                    <strong><%= alias_username %></strong>
                  </div>
                  <div class="col-md-8">
                    <%= @user.codigo %>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-4 text-right">
                    <strong>Nombre</strong>
                  </div>
                  <div class="col-md-8">
                    <%= @user.nombre %>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-4 text-right">
                    <strong>Apellidos</strong>
                  </div>
                  <div class="col-md-8">
                    <%= @user.apellidos %>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-4 text-right">
                    <strong>Correo electrónico</strong>
                  </div>
                  <div class="col-md-8">
                    <%= @user.email %>
                  </div>
                </div>

              </div>
              <div class="col-md-2 text-right">
                <% if @user.foto %>
                  <img src="https://<%=request.host%>/storage/<%= company_codigo %>/fotos_usuarios/<%=@user.foto%>" class="img-thumbnail user-foto">
                <% else %>
                  <img src="/assets/default_user.png" class="img-thumbnail user-foto">
                <% end %>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-md-10">

                <div class="row">
                  <div class="col-md-4 text-right">
                    <strong>Puesto actual</strong>
                  </div>
                  <div class="col-md-8">

                    <% if @user.j_job %>

                      <%= @user.j_job.name %>

                      <% unless @user.j_job.current %>

                        <span class="label label-danger">
                          v.<%= @user.j_job.version %>
                        </span>
                        &nbsp;

                        <i class="fa fa-exclamation-triangle" data-toggle="tooltip" data-placement="top" title="Existe una versión más actualizada del puesto de trabajo"></i>
                        <script>
                          $(function () {
                            $('[data-toggle="tooltip"]').tooltip()
                          })
                        </script>
                      <% end %>

                    <% end %>

                  </div>
                </div>

                <br>

                <% JCharacteristic.all.each do |j_characteristic| %>

                  <div class="row">
                    <div class="col-md-4 text-right">
                      <strong><%= j_characteristic.name %></strong>
                    </div>
                    <div class="col-md-8">
                      <%= @user.j_job.formatted_j_job_characteristic_value(j_characteristic.characteristic) if @user.j_job %>
                    </div>
                  </div>
                  <br>

                <% end %>

                <div class="row">
                  <div class="col-md-4 text-right">
                    <strong>Banda salarial</strong>
                  </div>
                  <div class="col-md-8">
                    <%# @user.j_job.j_pay_band.name %>
                  </div>
                </div>

                <br>

                <div class="row">
                  <div class="col-md-4 text-right">
                    <strong>Desde</strong>
                  </div>
                  <div class="col-md-8">
                    <% if @user.j_job %>

                      <% uj = @user.user_j_jobs.where('j_job_id = ?', @user.j_job_id).last %>

                      <% if uj %>

                        <%= localize uj.from_date, format: :day_snmonth_year %>

                      <% end %>

                    <% end %>
                  </div>
                </div>

              </div>
            </div>

            <hr>

            <% if @user.user_j_jobs.size > 0 %>

              <div class="row">
                <div class="col-md-12">

                  <table class="table table-bordered table-compresed">

                    <thead>
                      <tr>
                        <th>
                          #
                        </th>
                        <th>
                          Puesto anterior
                        </th>
                        <% JCharacteristic.all.each do |j_characteristic| %>
                          <th><%= j_characteristic.name %></th>
                        <% end %>
                        <th>
                          Desde
                        </th>
                        <th>
                          Hasta
                        </th>
                        <th>

                        </th>
                      </tr>
                    </thead>

                    <tbody>

                      <% last_user_j_job = nil %>

                      <% @user.user_j_jobs.each_with_index do |user_j_job, index| %>
                        <% last_user_j_job = user_j_job %>
                        <tr>
                          <td><%= index+1 %></td>
                          <td><%= user_j_job.j_job.name if user_j_job.j_job %></td>
                          <% JCharacteristic.all.each do |j_characteristic| %>
                            <td>
                              <%= user_j_job.j_job.formatted_j_job_characteristic_value(j_characteristic.characteristic) if user_j_job.j_job %>
                            </td>
                          <% end %>
                          <td><%= localize user_j_job.from_date, format: :day_snmonth_year %></td>
                          <td>
                            <% if user_j_job.to_date %>
                              <%= localize user_j_job.to_date, format: :day_snmonth_year %>
                            <% else %>
                              <span class="label label-success">Continúa</span>
                            <% end %>
                          </td>
                          <td>
                            <%= link_to 'Eliminar', j_managing_remove_job_path(user_j_job), method: :delete, data: { confirm: '¿Está seguro de eliminar el puesto previo?' } %>
                          </td>
                        </tr>

                      <% end %>

                    </tbody>

                  </table>

                </div>
              </div>

              <hr>

            <% end %>



            <div class="row">
              <div class="col-md-10">

                <div class="form-group">
                  <%= f.label :new_job, 'Nuevo puesto', class: 'col-md-4 control-label' %>

                  <div class="col-md-8">

                    <% j_a = Array.new %>

                    <% JJob.where('current = ?', true).each do |j| %>

                      <% j_c = '' %>

                      <% JCharacteristic.all.each do |j_characteristic| %>
                        <% j_c += ', '+j.formatted_j_job_characteristic_value(j_characteristic.characteristic) %>
                      <% end %>

                      <% j_a.push([j.j_code+' - '+j.name+j_c, j.id]) %>
                    <% end %>

                    <%= f.select(:j_job_id, options_for_select(j_a, @user.j_job_id),{}, {class: 'form-control'}) %>

                    <script>
                      $("#user_j_job_id").select2();
                    </script>

                  </div>
                </div>

                <% if @company.jobs_extra_info %>

                  <div class="form-group">
                    <%= f.label :j_cost_center, 'Centro de Costos', class: 'col-md-4 control-label' %>

                    <div class="col-md-8">

                      <%= f.select(:j_cost_center_id, options_for_select(JCostCenter.all.map{ |j_cc| [j_cc.cc_id+' - '+j_cc.name, j_cc.id]}, @user.j_cost_center_id),{}, {class: 'form-control'}) %>

                      <script>
                        $("#user_j_cost_center_id").select2();
                      </script>

                    </div>
                  </div>

                <% end %>

                <div class="form-group">
                  <%= f.label :from_date, 'Desde', class: 'col-md-4 control-label' %>

                  <div class="col-md-8">

                    <div id="from_date" class="input-group date">
                      <input id="from_date_from" class="form-control" name="from_date" data-format="dd/MM/yyyy" type="text" value="<%= (last_user_j_job && last_user_j_job.to_date) ? (last_user_j_job.to_date+1.day).strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y') %>" readonly="readonly">
                      <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>

                    <script type="text/javascript">


                      $('#from_date').datetimepicker({
                        language: 'es',
                        pickTime: false
                      });



                    </script>

                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :to_date, 'Hasta', class: 'col-md-4 control-label' %>

                  <div class="col-md-8">

                    <input type="checkbox" name="to_date_continua" id="to_date_continua" value="1" onchange="hide_show_contiene_to_date();" checked>
                    <br>
                    <br>

                    <div id="contiene_to_date">

                      <div id="to_date" class="input-group date">
                        <input id="to_date_from" class="form-control" name="to_date" data-format="dd/MM/yyyy" type="text" value="<%= (last_user_j_job && last_user_j_job.to_date) ? (last_user_j_job.to_date+1.day).strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y') %>" readonly="readonly">
                        <span class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </span>
                      </div>

                    </div>

                    <script>

                      function hide_show_contiene_to_date(){
                        if($('#to_date_continua').is(":checked")) {
                          $('#contiene_to_date').hide();
                        }else {
                          $('#contiene_to_date').show();
                        }
                      }

                      $('#to_date_continua').bootstrapSwitch({
                        onColor: 'success',
                        onText: "Continúa",
                        offColor: 'danger',
                        offText: "<nobr>&nbsp;&nbsp;<i class='fa fa-calendar'></i> Terminó el&nbsp;&nbsp;</nobr>"
                      });

                      $('#to_date').datetimepicker({
                        language: 'es',
                        pickTime: false
                      });

                      $('#contiene_to_date').hide();

                    </script>

                  </div>
                </div>

              </div>
            </div>

          </div>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= f.submit 'Asignar', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

