<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> Volver a buscar '+alias_users.downcase).html_safe, j_managing_hierarchy_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>

</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-cubes"></i>
      Gestionar dependencias
      <span>> Asignar dependencias a partir de Excel</span>
    </h1>

  </div>
</div>


<% if @lineas_error && @lineas_error.length > 0 %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default">
        <div class="panel-body">

          <table class="table table-striped table-hover table-condensed table-bordered">

            <thead>
            <tr>
              <th>Línea</th>
              <th>Errores</th>
              <th>Detalle</th>

            </tr>
            </thead>

            <tbody>

            <% @lineas_error.each_with_index do |l,index| %>

              <tr>
                <td><%= l %></td>
                <td>
                  <% @lineas_error_messages[index].each do |error| %>
                    <li class="text-danger"><%= error %></li>
                  <% end %>
                </td>
                <td><%= @lineas_error_detalle[index] %></td>
              </tr>

            <% end %>

            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>


<% end %>


<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Formato de archivo (Excel)</legend>

        <strong>Formato de ejemplo</strong>
        <br>
        <br>
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th>codigo_usuario_jefe_directo</th>
              <th>codigo_usuario_subordinado_directo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>43376592</td>
              <td>84736232</td>
            </tr>
            <tr>
              <td>84736232</td>
              <td>48365853</td>
            </tr>
            <tr>
              <td>00384936</td>
              <td>43376592</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <%= form_for j_managing_massive_replace_hierarchy_path, html: {class: 'form-horizontal', multipart: true} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Cargar dependencias</legend>

          <div class="form-group">

            <%= f.label :file, 'Archivo XLSX', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= file_field 'upload', 'datafile', class: 'form-control' %>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Cargar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>


  </div>
</div>

