



<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users"></i>
      Asignación de puestos
      <span>> Buscar <%= alias_users.downcase %></span>
    </h1>


    <%= form_for @user, url: j_managing_search_users_path, method: :post do |f| %>


      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Buscador</legend>


          <div class="row">

            <div class="col-md-12">

              <div class="row">

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;<%= alias_username %></label>
                </div>

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Apellidos</label>
                </div>

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Nombre</label>
                </div>


              </div>

              <div class="row">

                <div class="col-md-4">

                  <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>

                </div>

                <div class="col-md-4">

                  <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>

                </div>

                <div class="col-md-4">

                  <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>

                </div>

              </div>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Buscar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>


    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Resultados de la búsqueda</legend>

        <table id="datatable_users" class="table table-striped table-bordered smart-form" width="100%" style="font-size: 11px;">

          <thead>
            <tr>
              <th class="export_to_excel">#</th>
              <th class="export_to_excel"><%= alias_username %></th>
              <th class="export_to_excel">Apellidos</th>
              <th class="export_to_excel">Nombre</th>
              <th class="export_to_excel">Puesto</th>
              <% JCharacteristic.all.each do |j_characteristic| %>
                <th class="export_to_excel"><%= j_characteristic.name %></th>
              <% end %>
              <% JjCharacteristic.where('show_list = ?', true).each do |jjc| %>
                <th><%= jjc.name %></th>
              <% end %>
              <th> </th>
            </tr>
            <tr>
              <td>
                <label class="input">
                  <input type="text" class="hidden">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <% JCharacteristic.all.size.times do %>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
              <% end %>
              <% JjCharacteristic.where('show_list = ?', true).each do |jjc| %>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
              <% end %>
              <td></td>
            </tr>
          </thead>


          <tbody>

          <% @users.each_with_index do |user, index| %>

            <tr>
              <td><%= index+1 %></td>

              <td><%= user.codigo %></td>
              <td><%= user.apellidos %></td>
              <td><%= user.nombre %></td>
              <td>
                <% if user.j_job %>
                  <%= user.j_job.name %>

                  <% unless user.j_job.current %>

                    <i class="fa fa-exclamation-triangle" data-toggle="tooltip" data-placement="top" title="Existe una versión más actualizada del puesto de trabajo"></i>
                    <script>
                      $(function () {
                        $('[data-toggle="tooltip"]').tooltip()
                      })
                    </script>
                  <% end %>


                <% end %>
              </td>
              <% JCharacteristic.all.each do |j_characteristic| %>
                <td>
                  <%= user.j_job.formatted_j_job_characteristic_value(j_characteristic.characteristic) if user.j_job %>
                </td>
              <% end %>
              <% JjCharacteristic.where('show_list = ?', true).each do |jjc| %>
                <td>
                  <%= user.j_job.formatted_jj_characteristic_value(jjc) if user.j_job %>
                </td>
              <% end %>
              <td>
                <%= link_to 'Asignación de puestos', j_managing_manager_user_job_path(user) %>
              </td>
            </tr>

          <% end %>


          </tbody>


        </table>

      </div>
    </div>
  </div>
</div>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_users',
               file_name: 'Usuarios y puestos',
               export_by_class: true
           }
%>
