<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de procesos'.html_safe, brc_categories_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Bono rol comercial
      <span>> Configurar categoría </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos de la categoría
        </legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @brc_category.name %>
          </div>
        </div>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to 'Editar', edit_brc_category_path(@brc_category) %>
          &nbsp;
          &nbsp;
          <!--
          <%= link_to 'Eliminar', @brc_category, method: :delete, data: { confirm: '¿Está seguro de eliminar la categoría?' } %>
          -->
        </div>
      </div>
    </div>
  </div>
</div>