


<a data-toggle="button"

  data-content='

  <table class="table table-hover table-bordered">

      <thead>


        <tr>
          <th>#</th>
          <th>Apellidos</th>
          <th>Nombre</th>


          <% characteristics_eval_des.each do |characteristic| %>

            <th><%= characteristic.nombre %></th>

          <% end %>

          <th colspan="2">

          </th>

        </tr>

      </thead>
      <tbody>
        <% hr_process_users.each_with_index do |hr_process_user, index| %>

          <% rel = hr_process_connected_user.rel_with hr_process_user %>

          <tr>
            <td>
              <%= index+1 %>
            </td>
            <td>
              <%= hr_process_user.user.apellidos %>
            </td>
            <td>
              <%= hr_process_user.user.nombre %>
            </td>

            <% characteristics_eval_des.each do |characteristic| %>

              <td>

                <% uc = hr_process_user.user.user_characteristics.find_by_characteristic_id(characteristic.id) %>
                <% if uc %>

                <%= uc.valor %>

                <% end %>

              </td>

            <% end %>

            <% if rel && rel.tipo == 'jefe' && !rel.finalizada %>

              <td>
                <% hr_process_user.hr_process.hr_process_evaluations.find_all_by_vigente(true).each do |hr_process_evaluation| %>

                  <% hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.where('nivel = ?', 1).each do |hr_evaluation_type_element| %>

                    <% if hr_evaluation_type_element.carga_manual %>

                      <% mq = hr_process_evaluation.hr_process_evaluation_manual_qs.where('hr_process_user_id = ?',hr_process_user.id).first %>
                      <% manual_q_confirmado = true if mq && mq.confirmado %>

                      <% if manual_q_confirmado %>

                          <%= form_for hr_process_user, url: hr_process_evaluation_manual_q_habilitar_definicion_path(hr_process_user.hr_process, hr_process_evaluation, hr_evaluation_type_element, hr_process_user), method: :post do |f| %>
                              <%= f.submit 'Habilitar definición de '+hr_evaluation_type_element.hr_evaluation_type.nombre.downcase.html_safe, class: 'btn btn-success' %>
                          <% end %>

                      <% end %>


                    <% end %>


                  <% end %>

                <% end %>

              </td>

            <% end %>


            <td>

              <% if rel && rel.finalizada %>

                <span class="label label-success">
                  Finalizada
                </span>

                <% if lms_time <= hr_process.fecha_fin %>

                  <%= link_to 'Reactivar evaluación', hr_process_assessment_autorizar_modificaciones_2_path(hr_process, hr_process_user, rel), data: { confirm: '¿Está seguro de reactivar la evaluación de '+hr_process_user.user.nombre+' '+hr_process_user.user.apellidos+'?' } %>

                <% end %>

              <% else %>

                <span class="label label-danger">No finalizada</span>

              <% end %>

            </td>

          </tr>
        <% end %>

        <% if hr_process_connected_user.has_to_autoassess? %>
          <tr>
            <td>

            </td>
            <td>
              <%= hr_process_connected_user.user.apellidos %>
            </td>
            <td>
              <%= hr_process_connected_user.user.nombre %>
            </td>
            <% characteristics_eval_des.each do |characteristic| %>

              <td>

                <% uc = hr_process_connected_user.user.user_characteristics.find_by_characteristic_id(characteristic.id) %>
                <% if uc %>

                <%= uc.valor %>

                <% end %>

              </td>

            <% end %>


            <td>

              <% if hr_process_connected_user.finalizada_auto %>

                <span class="label label-success">
                  Finalizada
                </span>

                <% if lms_time <= hr_process.fecha_fin %>

                  <%= link_to 'Reactivar autoevaluación', hr_process_assessment_autorizar_modificaciones_auto_path(hr_process, hr_process_connected_user), data: { confirm: '¿Está seguro de reactivar la autoevaluación de '+hr_process_connected_user.user.nombre+' '+hr_process_connected_user.user.apellidos+'?' } %>

                <% end %>

              <% else %>

                <span class="label label-danger">No finalizada</span>

              <% end %>

            </td>


          </tr>
        <% end %>
      </tbody>
    </table>

  '
  id='autorizar_modificaciones_<%= hr_process_connected_user.id%>' class="mouse_pointer">
  Autorizar modificaciones

</a>

</label>

<script language="javascript">
  $('#autorizar_modificaciones_<%= hr_process_connected_user.id%>').popover({
    html: true,
    placement: 'left',
    trigger: 'click'
  });


</script>