
<div class="panel panel-default">
  <div class="panel-body">

    <div class="row" style="display: table-row">
      <div class="col-md-1 dimension-hr-process-<%= $current_domain%>" style="display: table-cell; float: none; vertical-align: middle;">
        <label class="<%= 'rotated_text2' if dimension_eje_y.hr_process_dimension_es.size == 1 %> dimension-hr-process-<%= $current_domain%>">

          <strong>

            <%= dimension_eje_y.nombre %>

          </strong>

        </label>


        <% if dimension_eje_y.hr_process_dimension_es.size > 1 %>
          <br>
          <% dimension_eje_y.hr_process_dimension_es.each do |hr_process_dimension_e| %>
            <%= hr_process_dimension_e.hr_evaluation_type.nombre if hr_process_dimension_e.hr_evaluation_type %>
            (<%= hr_process_dimension_e.porcentaje %>%)

            <br>
          <% end %>

        <% end %>
      </div>
      <div class="col-md-11" style="display: table-cell; float: none;">

        <% ancho_grupo = 12/dimension_eje_x.hr_process_dimension_gs.size %>

        <% dimension_eje_y.hr_process_dimension_gs.reorder('orden DESC').each do |hr_process_dimension_g_y| %>

          <div class="row">
            <div class="col-md-2">
              <div class="well text-right">

                <strong>
                  <%= hr_process_dimension_g_y.nombre%>
                </strong>
                <br>
                <%= hr_process_dimension_g_y.valor_minimo %>% - <%= hr_process_dimension_g_y.valor_maximo %>%

              </div>
            </div>

            <div class="col-md-10">

              <div class="row">

                <% dimension_eje_x.hr_process_dimension_gs.each do |hr_process_dimension_g_x| %>

                  <% hr_process_quadrant = hr_process_template.quadrant_2d(hr_process_dimension_g_x.id, hr_process_dimension_g_y.id) %>

                  <div class="col-md-<%= ancho_grupo %>">
                    <div class="well"
                         style="margin-bottom: 0px;
                             <% if hr_process_quadrant %>
                             <%= 'background-color: #'+hr_process_quadrant.color+';' if hr_process_quadrant.color %>
                             <%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant.color_text %>
                             <% end %>
                         "
                    >

                      <% if hr_process_quadrant %>
                        <div class="row">
                          <div class="col-md-10">


                            <%= hr_process_quadrant.nombre.html_safe %>
                            <br>
                            <%= hr_process_quadrant.descripcion.html_safe if hr_process_quadrant.descripcion %>


                          </div>
                          <div class="col-md-2">

                            <% if hr_process_quadrant.descripcion_detalle && hr_process_quadrant.descripcion_detalle != '' %>

                              <i id="qua_popover_<%= hr_process_quadrant.id %>" class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= hr_process_quadrant.descripcion_detalle %>"></i>
                              <script>
                                $('#qua_popover_<%= hr_process_quadrant.id %>').popover();
                              </script>

                            <% end %>

                          </div>
                        </div>

                      <% else %>
                        <label>
                          No definido <i class="fa fa-exclamation-triangle"></i>
                        </label>
                      <% end %>

                    </div>

                    <% if hr_process_quadrant %>
                      <%
                         si_hay_participantes_en_la_caja = false
                         lista_cajas.each_with_index do |caja, posicion|

                           if caja.id == hr_process_quadrant.id
                             si_hay_participantes_en_la_caja = true
                             break
                           end

                         end
                      %>

                      <div style="margin-bottom: 20px; <%= 'padding: 10px;' if si_hay_participantes_en_la_caja %> border: none;

                          <%= 'background-color: #'+hr_process_quadrant.color_fondo_suave+';' if hr_process_quadrant.color_fondo_suave %>

                      ">
                        <% lista_cajas.each_with_index do |caja, posicion| %>

                          <% if caja.id == hr_process_quadrant.id %>
                            <li>
                              <%= lista_usuarios[posicion].user.apellidos %>
                              <%= lista_usuarios[posicion].user.nombre %>
                            </li>
                          <% end %>

                        <% end %>
                      </div>

                    <% end %>

                  </div>


                <% end %>

              </div>



            </div>

          </div>
        <% end %>
      </div>
    </div>
    <div class="row" style="display: table-row;">
      <div class="col-md-1" style="display: table-cell; float: none; vertical-align: middle;">
      </div>
      <div class="col-md-11" style="display: table-cell; float: none;">
        <div class="row">

          <div class="col-md-10 col-md-offset-2">

            <div class="row">

              <% dimension_eje_x.hr_process_dimension_gs.each do |hr_process_dimension_g_x| %>

                <div class="col-md-<%= ancho_grupo %>">
                  <div class="well text-center">
                    <strong><%= hr_process_dimension_g_x.nombre%></strong>
                    <br>
                    <%= hr_process_dimension_g_x.valor_minimo %>% - <%= hr_process_dimension_g_x.valor_maximo %>%
                  </div>
                </div>

              <% end %>

            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-md-10 col-md-offset-2">
            <div class=" dimension-hr-process-<%= $current_domain%>  text-center">
              <strong>
                <%= dimension_eje_x.nombre %>
              </strong>
              <% if dimension_eje_x.hr_process_dimension_es.size > 1 %>
                <br>
                <% dimension_eje_x.hr_process_dimension_es.each do |hr_process_dimension_e| %>
                  - <%= hr_process_dimension_e.hr_evaluation_type.nombre if hr_process_dimension_e.hr_evaluation_type %>
                  (<%= hr_process_dimension_e.porcentaje %>%)
                  <br>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>


      </div>

    </div>

  </div>
</div>
