<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6 text-center">

    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>: Definición de <%= @hr_evaluation_type_element.hr_evaluation_type.nombre.downcase %>
    </h1>

  </div>
</div>


      <% characteristics_eval_des = Characteristic.where('hr_process_assessment = ?', true).reorder('orden_hr_process_assessment') %>

      <% if @hr_evaluation_type_element.carga_manual %>

        <% definir_elemento_a_evaluar = false %>
        <% definir_elemento_a_autoevaluar = false %>

        <% if @hr_evaluation_type_element.evaluacion_colaborativa && @hr_process_evaluation.hr_process_dimension_e.eval_auto%>
          <% definir_elemento_a_autoevaluar = true %>
        <% end %>

        <% @hr_process_user_connected.hr_process_evalua_rels.each do |rel| %>

          <% if rel.tipo == 'jefe' %>


            <% definir_elemento_a_evaluar = true %>
            <% break %>

          <% end %>

        <% end %>

        <% if definir_elemento_a_evaluar || definir_elemento_a_autoevaluar %>


            <div class="row">
              <div class="col-md-12">

                <div class="panel panel-default">
                  <div class="panel-body">

                    <% if definir_elemento_a_autoevaluar %>

                      <% mq = @hr_process_evaluation.hr_process_evaluation_manual_qs.where('hr_process_user_id = ?',@hr_process_user_connected.id).first %>
                      <% manual_q_confirmado = true if mq && mq.confirmado %>

                      <legend>
                        Definir mis <%= @hr_evaluation_type_element.hr_evaluation_type.nombre.downcase %>

                      </legend>

                      <table class="table table-hover table-bordered">
                        <thead>



                        </thead>
                        <tbody>

                            <%
                               if @hr_evaluation_type_element.tiene_clasificacion

                                 q_classifications = @hr_process_evaluation.hr_process_evaluation_q_classifications.where('hr_evaluation_type_element_id = ? ', @hr_evaluation_type_element.id)

                                 unless q_classifications

                                   q_classifications = [nil]

                                 end

                               end
                            %>


                          <% q_classifications.each do |q_classification| %>

                              <% q_classification_id = nil %>

                              <% if q_classification %>

                                <% q_classification_id = q_classification.id %>

                                <tr>
                                  <td style="background-color: <%= '#'+q_classification.color.to_s %>; ">
                                    <strong><%= q_classification.nombre %></strong>
                                  </td>
                                </tr>

                              <% end %>

                            <thead>
                            <tr>
                              <% ncols = 0 %>
                              <th>
                                <% ncols += 1 %>

                                <div class="row">
                                  <div class="col-md-7">
                                    <%= @hr_evaluation_type_element.nombre %>
                                  </div>
                                  <div class="col-md-5">
                                    <% unless manual_q_confirmado %>
                                        <nobr>
                                          <%= link_to 'Crear nuevo '+@hr_evaluation_type_element.nombre, new_hr_process_evaluation_manual_q_u_path(@hr_process, @hr_process_evaluation, @hr_evaluation_type_element, @hr_process_user_connected)%>
                                        </nobr>
                                    <% end %>
                                  </div>
                                </div>







                              </th>
                              <% if @hr_evaluation_type_element.aplica_evaluacion %>
                                  <th>
                                    <% ncols += 1 %>
                                    Peso
                                  </th>
                              <% end %>
                              <% if @hr_evaluation_type_element.aplica_evaluacion && @hr_evaluation_type_element.indicador_logro %>
                                  <% ncols += 1 %>
                                  <th>
                                    Tipo
                                  </th>
                                  <% if @hr_evaluation_type_element.indicador_logro_descripcion %>
                                      <th>
                                        <% ncols += 1 %>
                                        Indicador de logro
                                      </th>
                                  <% end %>
                                  <th>
                                    <% ncols += 1 %>
                                    Meta
                                  </th>

                              <% end %>

                              <% if @hr_process_evaluation_type_element_nivel_2 %>
                                  <th>
                                    <% ncols += 1 %>
                                    <%= @hr_process_evaluation_type_element_nivel_2.nombre %>
                                  </th>
                                  <% if @hr_process_evaluation_type_element_nivel_2.aplica_evaluacion %>
                                      <th>
                                        <% ncols += 1 %>
                                        Peso
                                      </th>

                                      <% if @hr_process_evaluation_type_element_nivel_2.indicador_logro %>
                                          <% ncols += 1 %>
                                          <th>
                                            Tipo
                                          </th>
                                          <% if @hr_process_evaluation_type_element_nivel_2.indicador_logro_descripcion %>
                                              <th>
                                                <% ncols += 1 %>
                                                Indicador de logro
                                              </th>
                                          <% end %>
                                          <th>
                                            <% ncols += 1 %>
                                            Meta
                                          </th>

                                      <% end %>

                                  <% end %>

                                  <th>
                                    <% ncols += 1 %>

                                  </th>

                              <% end %>


                            </tr>
                            </thead>



                              <% @hr_process_evaluation.manual_questions_nivel_1(@hr_process_user_connected).where('hr_process_evaluation_q_classification_id = ?',q_classification_id).each do |hr_process_evaluation_manual_q| %>

                                <% num_evals_nivel_2 = hr_process_evaluation_manual_q.hr_process_evaluation_manual_qs.size %>
                                <% num_evals_nivel_2 = 1 if num_evals_nivel_2 == 0 %>

                                <tr>

                                  <td rowspan="<%= num_evals_nivel_2 %>">
                                    <div class="row">
                                      <div class="col-md-7">
                                        <%= hr_process_evaluation_manual_q.texto %>
                                      </div>
                                      <div class="col-md-2">
                                        <% unless manual_q_confirmado %>
                                            <%= link_to 'Editar', edit_hr_process_evaluation_manual_q_path(hr_process_evaluation_manual_q) %>
                                        <% end %>

                                      </div>
                                      <div class="col-md-3">
                                          <% unless manual_q_confirmado %>
                                              <%= link_to 'Crear nuevo '+@hr_process_evaluation_type_element_nivel_2.nombre, new_hr_process_evaluation_manual_q_u_mq_path(@hr_process, @hr_process_evaluation, @hr_process_evaluation_type_element_nivel_2, @hr_process_user_connected, hr_process_evaluation_manual_q)%>
                                          <% end %>
                                      </div>
                                    </div>
                                  </td>
                                  <% if @hr_evaluation_type_element.aplica_evaluacion %>
                                    <td rowspan="<%= num_evals_nivel_2 %>">
                                      <div class="text-right">
                                        <%= hr_process_evaluation_manual_q.peso %>%
                                      </div>
                                    </td>
                                  <% end %>

                                  <% if @hr_evaluation_type_element.indicador_logro %>

                                      <td rowspan="<%= num_evals_nivel_2 %>">

                                        <%=
                                            case hr_process_evaluation_manual_q.tipo_indicador
                                              when 1
                                                'Directo'
                                              when 2
                                                'Inverso'
                                              when 3
                                                'Desviación (+/-)'
                                              when 4
                                                'Rango'
                                              when 5
                                                'Discreto'

                                            end
                                        %>

                                      </td>

                                    <% if @hr_evaluation_type_element.indicador_logro_descripcion %>
                                        <td rowspan="<%= num_evals_nivel_2 %>">
                                          <%= hr_process_evaluation_manual_q.descripcion_indicador %>
                                        </td>
                                    <% end %>
                                    <td rowspan="<%= num_evals_nivel_2 %>">
                                      <% if hr_process_evaluation_manual_q.tipo_indicador <= 3 %>
                                          <%= hr_process_evaluation_manual_q.meta_indicador %>

                                          <%= hr_process_evaluation_manual_q.unidad_medida_indicador %>
                                      <% else %>
                                          <%

                                             metas = Array.new
                                             porcentajes = Array.new

                                             hr_process_evaluation_manual_q.pe_question_ranks.each do |pe_question_rank|
                                               metas.push pe_question_rank.goal
                                               porcentajes.push pe_question_rank.percentage
                                             end

                                          %>
                                          <table class="table table-condensed table-bordered">

                                              <tr>
                                                <td width="70%">Meta (<%= hr_process_evaluation_manual_q.unidad_medida_indicador %>)</td>
                                                <td>Logro</td>
                                              </tr>

                                              <% metas.each_with_index do |meta, numero_meta| %>
                                                <tr>
                                                  <td class="text-right"><%= number_with_precision(meta, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></td>
                                                  <td class="text-right"><%= number_with_precision(porcentajes[numero_meta], precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%</td>
                                                </tr>
                                              <% end %>


                                          </table>
                                      <% end %>
                                    </td>

                                  <% end %>

                                  <% tiene_hijos = false %>

                                  <% if @hr_process_evaluation_type_element_nivel_2 %>

                                    <% hr_process_evaluation_manual_q.hr_process_evaluation_manual_qs.each_with_index do |hr_process_evaluation_manual_q_hijo, index_level_2| %>
                                          <% tiene_hijos = true %>
                                        <td>
                                          <%= hr_process_evaluation_manual_q_hijo.texto %>
                                        </td>
                                        <% if @hr_process_evaluation_type_element_nivel_2.aplica_evaluacion %>
                                            <td>
                                              <div class="text-right">
                                                <%= hr_process_evaluation_manual_q_hijo.peso %>%
                                              </div>
                                            </td>

                                            <% if @hr_process_evaluation_type_element_nivel_2.indicador_logro %>

                                                  <td>

                                                    <%=
                                                        case hr_process_evaluation_manual_q_hijo.tipo_indicador
                                                          when 1
                                                            'Directo'
                                                          when 2
                                                            'Inverso'
                                                          when 3
                                                            'Desviación (+/-)'
                                                          when 4
                                                            'Rango'
                                                          when 5
                                                            'Discreto'

                                                        end
                                                    %>

                                                  </td>

                                                <% if @hr_process_evaluation_type_element_nivel_2.indicador_logro_descripcion %>
                                                    <td>
                                                      <%= hr_process_evaluation_manual_q_hijo.descripcion_indicador %>
                                                    </td>
                                                <% end %>
                                                <td>
                                                  <% if hr_process_evaluation_manual_q_hijo.tipo_indicador <= 3 %>
                                                      <%= hr_process_evaluation_manual_q_hijo.meta_indicador %>
                                                      <%= hr_process_evaluation_manual_q_hijo.unidad_medida_indicador %>
                                                  <% else %>
                                                      <%

                                                         metas = Array.new
                                                         porcentajes = Array.new

                                                         hr_process_evaluation_manual_q_hijo.pe_question_ranks.each do |pe_question_rank|
                                                           metas.push pe_question_rank.goal
                                                           porcentajes.push pe_question_rank.percentage
                                                         end

                                                      %>
                                                      <table class="table table-condensed table-bordered">
                                                        <tr>
                                                          <td width="70%">Meta (<%= hr_process_evaluation_manual_q_hijo.unidad_medida_indicador %>)</td>
                                                          <td>Logro</td>
                                                        </tr>

                                                        <% metas.each_with_index do |meta, numero_meta| %>
                                                            <tr>
                                                              <td class="text-right"><%= number_with_precision(meta, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></td>
                                                              <td class="text-right"><%= number_with_precision(porcentajes[numero_meta], precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%</td>
                                                            </tr>
                                                        <% end %>
                                                      </table>

                                                  <% end %>
                                                </td>

                                            <% end %>

                                        <% end %>
                                        <td>

                                          <% unless manual_q_confirmado %>
                                            <%= link_to 'Editar', edit_hr_process_evaluation_manual_q_path(hr_process_evaluation_manual_q_hijo) %>
                                          <% end %>
                                        </td>

                                          <% if num_evals_nivel_2 > 1 && (index_level_2+1) < num_evals_nivel_2 %>

                                              </tr><tr>

                                          <% end %>

                                    <% end %>

                                  <% end %>

                                  <% unless tiene_hijos %>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                  <% end %>

                                </tr>

                              <% end %>

                          <% end %>

                        </tbody>

                      </table>

                    <% end %>

                  </div>

                </div>

                <div class="panel panel-default">
                  <div class="panel-body">

                    <% if definir_elemento_a_evaluar %>
                      <legend>
                        Definir <%= @hr_evaluation_type_element.hr_evaluation_type.nombre.downcase %> - Mis colaboradores
                      </legend>

                      <table class="table table-hover table-bordered">

                        <thead>

                        <tr>
                          <th colspan="<%= 3+characteristics_eval_des.length %>">
                            <div class="text-center">
                              Datos del colaborador
                            </div>
                          </th>
                          <th rowspan="2" colspan="2">
                            Asignación de <%= @hr_evaluation_type_element.hr_evaluation_type.nombre.downcase %>
                          </th>
                        </tr>

                        <tr>
                          <th>#</th>
                          <th>Apellidos</th>
                          <th>Nombre</th>


                          <% characteristics_eval_des.each do |characteristic| %>

                            <th><%= characteristic.nombre %></th>

                          <% end %>



                        </tr>

                        </thead>
                        <tbody>
                        <% @hr_process_user_connected.hr_process_evalua_users_como_uniq_order_by_apellidos_nombre('jefe').each_with_index do |hr_process_user, index| %>
                          <tr>
                            <td>
                              <%= index+1 %>
                            </td>
                            <td>
                              <%= hr_process_user.user.apellidos %>
                            </td>
                            <td>
                              <%= hr_process_user.user.nombre %>
                            </td>

                            <% characteristics_eval_des.each do |characteristic| %>

                              <td>

                                <% uc = hr_process_user.user.user_characteristics.find_by_characteristic_id(characteristic.id) %>
                                <% if uc %>

                                  <%= uc.valor %>

                                <% end %>

                              </td>

                            <% end %>


                            <td>
                              <div class="text-center">

                                <% mq = @hr_process_evaluation.hr_process_evaluation_manual_qs.where('hr_process_user_id = ?',hr_process_user.id).first %>
                                <% manual_q_confirmado = false %>
                                <% manual_q_confirmado = true if mq && mq.confirmado %>

                                <% numero_manual_q = @hr_process_evaluation.hr_process_evaluation_manual_qs.where('hr_process_user_id = ?',hr_process_user.id).length %>

                                <% if numero_manual_q == 0 %>

                                  <span class="label label-default">No definidos</span>

                                <% elsif manual_q_confirmado %>

                                    <span class="label label-success">Finalizado</span>

                                <% else %>

                                  <span class="label label-primary">En progreso</span>

                                <% end %>

                              </div>
                            </td>
                            <td>
                              <%= link_to 'Definir', hr_process_evaluation_manual_q_ver_usuario_path(@hr_process, @hr_process_evaluation, @hr_evaluation_type_element, hr_process_user) %>
                            </td>
                          </tr>
                        <% end %>
                        </tbody>
                      </table>

                    <% end %>
                  </div>
                </div>
              </div>
            </div>

        <% end %>

      <% end %>

