

<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a gestión del desempeño'.html_safe, pe_managing_processes_list_path, class: 'btn btn-default' %>

  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>: Gestionar Evaluadores
    </h1>
  </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          <%= @hr_process.year %> - <%= @hr_process.nombre %>: Gestionar evaluadores
        </legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Fecha de inicio</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @hr_process.fecha_inicio, format: :day_snmonth_year) %>

            <% if lms_time > @hr_process.fecha_inicio %>

                  <span class="label label-danger">Hace
                    <%= distance_of_time_in_words(@hr_process.fecha_inicio, lms_time) %>
                  </span>

            <% else %>
                  <span class="label label-primary">En
                    <%= distance_of_time_in_words(lms_time, @hr_process.fecha_inicio) %>
                  </span>
            <% end %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Fecha de fin</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @hr_process.fecha_fin, format: :day_snmonth_year) %>

            <% if lms_time > @hr_process.fecha_fin %>

                  <span class="label label-danger">Hace
                    <%= distance_of_time_in_words(@hr_process.fecha_fin, lms_time) %>
                  </span>

            <% else %>
                  <span class="label label-primary">En
                    <%= distance_of_time_in_words(lms_time, @hr_process.fecha_fin) %>
                  </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<br><br>

<div class="row">
  <div class="col-md-12">

    <% characteristics_eval_des = Characteristic.where('hr_process_assessment = ?', true).reorder('orden_hr_process_assessment') %>


    <div class="panel panel-default">
      <div class="panel-body">

        <div id="div_interno_contiene_tabla" class="" style="overflow-x: scroll;">


        <legend>Gestionar Evaluadores</legend>
        <br>
        <br>

        <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover smart-form">
        <thead>
        <tr>
          <th>#</th>
          <th><%= alias_username %></th>
          <th>Apellidos y Nombre</th>


          <% characteristics_eval_des.each do |characteristic| %>

            <th width="1%"><%= characteristic.nombre %></th>

          <% end %>

          <th>
            Evaluadores que han finalizado
          </th>
          <th>
            Evaluadores que han anulado
          </th>
          <th>Estado</th>
          <% if @hr_process.tiene_paso_feedback? %>
            <th>Retro_<br>alimentación</th>
          <% end %>
          <th></th>
        </tr>
        <tr class="second">
          <td>
            <label class="input">
              <input type="text" name="search_num" value="" class="search_init hidden">
            </label>
          </td>
          <td>
            <label class="input">
              <input type="text" name="search_codigo" value="" class="search_init">
            </label>
          </td>
          <td>
            <label class="input">
              <input type="text" name="search_name" value="" class="search_init">
            </label>
          </td>

          <% characteristics_eval_des.each do |characteristic| %>
            <td><label class="input">
              <input type="text" name="search_car_<%= characteristic.id %>" value="" class="search_init">
            </label>   </td>
          <% end %>


          <td>
            <label class="input">
              <input type="text" name="search_e_f" value="" class="search_init">
            </label>
          </td>
          <td>
            <label class="input">
              <input type="text" name="search_e_a" value="" class="search_init">
            </label>
          </td>

          <td>
            <label class="input">
              <input type="text" name="search_estado" value="" class="search_init">
            </label>
          </td>
          <% if @hr_process.tiene_paso_feedback? %>
            <td>
              <label class="input">
                <input type="text" name="search_feedback" value="" class="search_init">
              </label>
            </td>
          <% end %>
          <td></td>

        </tr>
        </thead>
        <tbody>

        <% numero_participantes_evaluados = 0 %>

        <%
           if user_connected.hr_process_managers.size > 0
             if @users
               hr_process_users = @hr_process.hr_process_users_order_by_apellidos_nombre.where('user_id in (?)', @users.map(&:id))
             else
               hr_process_users = @hr_process.hr_process_users_order_by_apellidos_nombre
             end
           else

             hr_process_user_connected = @hr_process.hr_process_users_order_by_apellidos_nombre.find_by_user_id(user_connected.id)

             hr_process_users = hr_process_user_connected.hr_process_responsable_users_uniq_order_by_apellidos_nombre.where('user_id in (?)', @users.map(&:id)) if hr_process_user_connected


           end

        %>

        <% hr_process_users.each_with_index do |hr_process_user, index| %>
          <% if hr_process_user.hr_process_level_id %>

            <% numero_participantes_evaluados += 1 %>
            <tr>
            <td>
              <%= numero_participantes_evaluados %>
            </td>
              <td><%= hr_process_user.user.codigo %></td>
            <td><%= hr_process_user.user.apellidos %>, <%= hr_process_user.user.nombre %></td>

            <% characteristics_eval_des.each do |characteristic| %>
              <% uc = hr_process_user.user.user_characteristics.find_by_characteristic_id(characteristic.id) %>

              <td><%= uc.valor if uc %></td>

            <% end %>

            <%

               finalizado = 0
               anulado = 0
               no_finalizado = 0
               total = 0


               hr_process_user.hr_process_es_evaluado_rels.where('tipo <> ?', 'resp').each_with_index do |evaluado_rel, index_evaluado_rel|
                 total += 1
                 if evaluado_rel.finalizada
                   finalizado += 1
                   if evaluado_rel.no_aplica
                     anulado += 1
                   end
                 else
                   no_finalizado += 1
                 end
               end
            %>

            <td>


                <%= finalizado %>/<%= total %>


            </td>
            <td>
              <% if anulado > 0 %>
                <%= anulado %>
              <% end %>

            </td>

            <% if hr_process_user.finalizado %>
              <td><span class="label label-success text-center" style="color: #fff;">Finalizada</span></td>
            <% else %>
              <td><span class="label label-default text-center" style="color: #fff;">Pendiente</span></td>
            <% end %>


              <% if @hr_process.tiene_paso_feedback? %>
                <td>
                  <% if hr_process_user.feedback_confirmado %>
                    <% if @hr_process.step_feedback_confirmation %>
                      <% if hr_process_user.feedback_recibido %>
                        <span class="label label-success text-center" style="color: #fff;">Confirmada</span>
                      <% else %>
                        <span class="label label-primary text-center" style="color: #fff;">Realizada</span>
                      <% end %>
                    <% else %>
                      <span class="label label-success text-center" style="color: #fff;">Realizada</span>
                    <% end %>
                  <% else %>
                    <span class="label label-danger text-center" style="color: #fff;">No terminada</span>
                  <% end %>

                </td>
              <% end %>

              <td>
                <%= link_to 'Gestionar evaluadores', hr_process_assessment_gestionar_evaluadores_1_path(@hr_process, hr_process_user) %>
              </td>

            </tr>

          <% end %>

        <% end %>


        </tbody>
        </table>

        </div>

      </div>
    </div>

  </div>
</div>


<!-- PAGE RELATED PLUGIN(S) -->
<script src="/assets/datatables/jquery.dataTables-cust.min.js"></script>
<script src="/assets/datatables/ColReorder.min.js"></script>
<script src="/assets/datatables/FixedColumns.min.js"></script>
<script src="/assets/datatables/ColVis.min.js"></script>
<script src="/assets/datatables/ZeroClipboard.js"></script>
<script src="/assets/datatables/media/js/TableTools.min.js"></script>
<script src="/assets/datatables/DT_bootstrap.js"></script>

<script type="text/javascript">

  $(document).ready(function() {


    $("#datatable_fixed_column thead input").keyup(function() {
      oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
    });

    $("#datatable_fixed_column thead input").each(function(i) {
      this.initVal = this.value;
    });
    $("#datatable_fixed_column thead input").focus(function() {
      if (this.className == "search_init") {
        this.className = "";
        this.value = "";
      }
    });
    $("#datatable_fixed_column thead input").blur(function(i) {
      if (this.value == "") {
        this.className = "search_init";
        this.value = this.initVal;
      }
    });


    var oTable = $('#datatable_fixed_column').dataTable({
      /*"sDom" : "<'dt-top-row'lf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",*/
      "sDom": "Tlt<'row'<'col-md-6'i><'col-md-6 text-right'p>",

      "sPaginationType" : "bootstrap_full",
      "aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
      "iDisplayLength" : 25,
      "bSortCellsTop" : true
    });


  })

</script>