<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6 text-center">

    <legend class="no-borders"><%= @hr_process.nombre %> - <%= @hr_process.year %>: Seguimiento
      de <%= @hr_evaluation_type_element.hr_evaluation_type.nombre.downcase %></legend>

  </div>
</div>

<% characteristics_eval_des = Characteristic.where('hr_process_assessment = ?', true).reorder('orden_hr_process_assessment') %>

<% if @hr_evaluation_type_element.carga_manual %>

    <% definir_elemento_a_evaluar = false %>
    <% definir_elemento_a_autoevaluar = false %>

    <% if @hr_evaluation_type_element.evaluacion_colaborativa && @hr_process_evaluation.hr_process_dimension_e.eval_auto %>
        <% definir_elemento_a_autoevaluar = true %>
    <% end %>

    <% @hr_process_user_connected.hr_process_evalua_rels.each do |rel| %>

        <% if rel.tipo == 'jefe' %>

            <% definir_elemento_a_evaluar = true %>
            <% break %>

        <% end %>

    <% end %>

    <% if definir_elemento_a_evaluar || definir_elemento_a_autoevaluar %>


        <div class="row">
        <div class="col-md-12">

        <div class="panel panel-default">
        <div class="panel-body">

        <% if definir_elemento_a_autoevaluar %>

            <% mq = @hr_process_evaluation.hr_process_evaluation_manual_qs.where('hr_process_user_id = ?', @hr_process_user_connected.id).first %>
            <% manual_q_confirmado = true if mq && mq.confirmado %>

            <div class="text-center">

              <strong>
                <h4>Seguimiento de mis <%= @hr_evaluation_type_element.hr_evaluation_type.nombre.downcase %></h4>
              </strong>

            </div>

            <% if manual_q_confirmado %>

                <% hr_process_assessment_e = HrProcessAssessmentE.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? AND hr_process_user_eval_id = ? AND tipo_rel IS NULL', @hr_process_evaluation.id, @hr_process_user_connected.id, @hr_process_user_connected.id).first %>

                <% hr_process_assessment_e = HrProcessAssessmentE.new unless hr_process_assessment_e %>

                <%= form_for hr_process_assessment_e, url: hr_process_assessment_responder_responder_porcentaje_logro_path(@hr_process, @hr_process_evaluation, @hr_process_user_connected), html: {class: 'margin-zero form_hr_eval_'+@hr_process_evaluation.id.to_s, method: :post} do |f| %>


                    <table class="table table-bordered">
                    <thead>
                    <tr>
                      <% ncols = 0 %>

                      <th>
                        <% ncols += 1 %>
                        <%= @hr_evaluation_type_element.nombre %>
                      </th>
                      <% if @hr_evaluation_type_element.aplica_evaluacion %>
                          <% ncols += 1 %>
                          <th>
                            Peso
                          </th>
                          <% if @hr_evaluation_type_element.indicador_logro %>

                              <% ncols += 1 %>
                              <th>
                                Tipo
                              </th>

                              <% if @hr_evaluation_type_element.indicador_logro_descripcion %>
                                  <% ncols += 1 %>
                                  <th>
                                    Indicador de logro
                                  </th>
                              <% end %>

                              <% ncols += 3 %>
                              <th>
                                Meta
                              </th>
                              <th>
                                Logro
                              </th>
                              <th>
                                <nobr>Porcentaje de logro</nobr>
                              </th>
                          <% else %>
                              <% ncols += 1 %>
                              <th>
                                <nobr>Porcentaje de logro</nobr>
                              </th>
                          <% end %>

                      <% end %>

                      <% if @hr_process_evaluation_type_element_nivel_2 %>
                          <% ncols += 1 %>
                          <th>
                            <%= @hr_process_evaluation_type_element_nivel_2.nombre %>
                          </th>
                          <% if @hr_process_evaluation_type_element_nivel_2.aplica_evaluacion %>
                              <% ncols += 1 %>
                              <th>
                                Peso
                              </th>

                              <% if @hr_process_evaluation_type_element_nivel_2.indicador_logro %>

                                  <% ncols += 1 %>
                                  <th>
                                    Tipo
                                  </th>

                                  <% if @hr_process_evaluation_type_element_nivel_2.indicador_logro_descripcion %>
                                      <% ncols += 1 %>
                                      <th>
                                        Indicador de logro
                                      </th>
                                  <% end %>

                                  <% ncols += 3 %>
                                  <th>
                                    Meta
                                  </th>
                                  <th>
                                    Logro
                                  </th>
                                  <th>
                                    <nobr>Porcentaje de logro</nobr>
                                  </th>
                              <% else %>
                                  <% ncols += 1 %>
                                  <th>
                                    <nobr>Porcentaje de logro</nobr>
                                  </th>
                              <% end %>

                          <% end %>

                      <% end %>

                    </tr>
                    </thead>
                    <tbody>

                    <%
                       if @hr_evaluation_type_element.tiene_clasificacion

                         q_classifications = @hr_process_evaluation.hr_process_evaluation_q_classifications.where('hr_evaluation_type_element_id = ? ', @hr_evaluation_type_element.id)

                         unless q_classifications

                           q_classifications = [nil]

                         end

                       end
                    %>

                    <% q_classifications.each do |q_classification| %>

                        <% q_classification_id = nil %>

                        <% if q_classification %>

                            <% q_classification_id = q_classification.id %>

                            <tr>
                              <td colspan="<%= ncols+1 %>" style="background-color: <%= '#'+q_classification.color.to_s %>; ">
                                <strong><%= q_classification.nombre %></strong>
                              </td>
                            </tr>

                        <% end %>



                        <% @hr_process_evaluation.manual_questions_nivel_1(@hr_process_user_connected).where('hr_process_evaluation_q_classification_id = ?', q_classification_id).each do |hr_process_evaluation_manual_q| %>
                            <% num_evals_nivel_2 = hr_process_evaluation_manual_q.hr_process_evaluation_manual_qs.size %>
                            <% num_evals_nivel_2 = 1 if num_evals_nivel_2 == 0 %>
                            <tr>

                            <td rowspan="<%= num_evals_nivel_2 %>">
                              <%= hr_process_evaluation_manual_q.texto %>
                            </td>
                            <% if @hr_evaluation_type_element.aplica_evaluacion %>
                                <td rowspan="<%= num_evals_nivel_2 %>">
                                  <div class="text-right">
                                    <%= hr_process_evaluation_manual_q.peso %>%
                                  </div>
                                </td>

                                <% if @hr_evaluation_type_element.indicador_logro %>

                                    <td rowspan="<%= num_evals_nivel_2 %>">
                                      <%=
                                          case hr_process_evaluation_manual_q.tipo_indicador
                                            when 1
                                              'Directo'
                                            when 2
                                              'Inverso'
                                            when 3
                                              'Desviación (+/-)'
                                            when 4
                                              'Rango'

                                          end
                                      %>
                                    </td>

                                    <% if @hr_evaluation_type_element.indicador_logro_descripcion %>
                                        <td rowspan="<%= num_evals_nivel_2 %>">
                                          <%= hr_process_evaluation_manual_q.descripcion_indicador %>
                                        </td>
                                    <% end %>

                                    <td rowspan="<%= num_evals_nivel_2 %>">
                                      <nobr>
                                        <% if hr_process_evaluation_manual_q.tipo_indicador <= 3 %>
                                            <%= number_with_precision(hr_process_evaluation_manual_q.meta_indicador, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>

                                            <%= hr_process_evaluation_manual_q.unidad_medida_indicador %>
                                        <% else %>
                                            <%

                                               metas = Array.new
                                               porcentajes = Array.new

                                               hr_process_evaluation_manual_q.pe_question_ranks.each do |pe_question_rank|
                                                 metas.push pe_question_rank.goal
                                                 porcentajes.push pe_question_rank.percentage
                                               end

                                            %>
                                            <table class="table table-condensed table-bordered">
                                              <tr>
                                                <td width="70%">Meta (<%= hr_process_evaluation_manual_q.unidad_medida_indicador %>)</td>
                                                <td>Logro</td>
                                              </tr>

                                              <% metas.each_with_index do |meta, numero_meta| %>
                                                  <tr>
                                                    <td class="text-right"><%= number_with_precision(meta, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></td>
                                                    <td class="text-right"><%= number_with_precision(porcentajes[numero_meta], precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%</td>
                                                  </tr>
                                              <% end %>
                                            </table>
                                        <% end %>

                                      </nobr>
                                    </td>

                                    <td rowspan="<%= num_evals_nivel_2 %>">

                                      <% hr_process_assessment_q = hr_process_assessment_e.hr_process_assessment_qs.where('hr_process_evaluation_manual_q_id = ?', hr_process_evaluation_manual_q.id).first %>

                                      <% if hr_process_assessment_q %>

                                          <% valor_a_usar = hr_process_assessment_q.resultado_puntos %>
                                          <% if @hr_evaluation_type_element.indicador_logro %>
                                              <% valor_a_usar = hr_process_assessment_q.logro_indicador %>
                                          <% end %>

                                          <input type="text" name="preg_<%= hr_process_evaluation_manual_q.id %>" class="span12" value="<%= valor_a_usar.to_i == valor_a_usar ? valor_a_usar.to_i : valor_a_usar %>">
                                      <% else %>
                                          <input type="text" name="preg_<%= hr_process_evaluation_manual_q.id %>" class="span12">
                                      <% end %>

                                    </td>
                                    <td rowspan="<%= num_evals_nivel_2 %>">

                                      <% if hr_process_assessment_q %>

                                          <% ancho_p_b = hr_process_assessment_q.resultado_puntos < 100 ? hr_process_assessment_q.resultado_puntos.to_i : 100 %>

                                          <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="<%= ancho_p_b %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= ancho_p_b %>%; background-color: <%= '#'+hr_process_assessment_q.color+';' if ancho_p_b > 0 %>">
                                              <%= number_with_precision(hr_process_assessment_q.resultado_puntos, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
                                              %
                                            </div>
                                          </div>
                                      <% end %>


                                    </td>
                                <% else %>
                                    <td rowspan="<%= num_evals_nivel_2 %>">

                                      <% hr_process_assessment_q = hr_process_assessment_e.hr_process_assessment_qs.where('hr_process_evaluation_manual_q_id = ?', hr_process_evaluation_manual_q.id).first %>

                                      <% if hr_process_assessment_q %>

                                          <% valor_a_usar = hr_process_assessment_q.resultado_puntos %>


                                          <input type="text" name="preg_<%= hr_process_evaluation_manual_q.id %>" class="form-control" value="<%= valor_a_usar.to_i == valor_a_usar ? valor_a_usar.to_i : valor_a_usar %>">
                                      <% else %>
                                          <input type="text" name="preg_<%= hr_process_evaluation_manual_q.id %>" class="form-control">
                                      <% end %>

                                    </td>

                                <% end %>
                            <% end %>

                            <% if @hr_process_evaluation_type_element_nivel_2 %>

                                <% hr_process_evaluation_manual_q.hr_process_evaluation_manual_qs.each_with_index do |hr_process_evaluation_manual_q_hijo, index_level_2| %>

                                    <td>
                                      <%= hr_process_evaluation_manual_q_hijo.texto %>
                                    </td>
                                    <% if @hr_process_evaluation_type_element_nivel_2.aplica_evaluacion %>
                                        <td>
                                          <div class="text-right">
                                            <%= hr_process_evaluation_manual_q_hijo.peso %>%
                                          </div>
                                        </td>

                                        <% if @hr_process_evaluation_type_element_nivel_2.indicador_logro %>

                                            <td>

                                              <%=
                                                  case hr_process_evaluation_manual_q_hijo.tipo_indicador
                                                    when 1
                                                      'Directo'
                                                    when 2
                                                      'Inverso'
                                                    when 3
                                                      'Desviación (+/-)'
                                                    when 4
                                                      'Rango'

                                                  end
                                              %>

                                            </td>

                                            <% if @hr_process_evaluation_type_element_nivel_2.indicador_logro_descripcion %>
                                                <td>
                                                  <%= hr_process_evaluation_manual_q_hijo.descripcion_indicador %>
                                                </td>
                                            <% end %>

                                            <td>
                                              <nobr>

                                                <% if hr_process_evaluation_manual_q_hijo.tipo_indicador <= 3 %>
                                                    <%= number_with_precision(hr_process_evaluation_manual_q_hijo.meta_indicador, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
                                                    <%= hr_process_evaluation_manual_q_hijo.unidad_medida_indicador %>
                                                <% else %>
                                                    <%

                                                       metas = Array.new
                                                       porcentajes = Array.new

                                                       hr_process_evaluation_manual_q_hijo.pe_question_ranks.each do |pe_question_rank|
                                                         metas.push pe_question_rank.goal
                                                         porcentajes.push pe_question_rank.percentage
                                                       end

                                                    %>
                                                    <table class="table table-condensed table-bordered">
                                                      <tr>
                                                        <td width="70%">Meta (<%= hr_process_evaluation_manual_q_hijo.unidad_medida_indicador %>)</td>
                                                        <td>Logro</td>
                                                      </tr>

                                                      <% metas.each_with_index do |meta, numero_meta| %>
                                                          <tr>
                                                            <td class="text-right"><%= number_with_precision(meta, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></td>
                                                            <td class="text-right"><%= number_with_precision(porcentajes[numero_meta], precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%</td>
                                                          </tr>
                                                      <% end %>
                                                    </table>

                                                <% end %>
                                              </nobr>
                                            </td>

                                            <td>

                                              <% hr_process_assessment_q = hr_process_assessment_e.hr_process_assessment_qs.where('hr_process_evaluation_manual_q_id = ?', hr_process_evaluation_manual_q_hijo.id).first %>

                                              <% if hr_process_assessment_q %>

                                                  <% valor_a_usar = hr_process_assessment_q.resultado_puntos %>
                                                  <% if @hr_process_evaluation_type_element_nivel_2.indicador_logro %>
                                                      <% valor_a_usar = hr_process_assessment_q.logro_indicador %>
                                                  <% end %>

                                                  <input type="text" name="preg_<%= hr_process_evaluation_manual_q_hijo.id %>" class="form-control" value="<%= valor_a_usar.to_i == valor_a_usar ? valor_a_usar.to_i : valor_a_usar %>">
                                              <% else %>
                                                  <input type="text" name="preg_<%= hr_process_evaluation_manual_q_hijo.id %>" class="form-control">
                                              <% end %>

                                            </td>
                                            <td>

                                              <% if hr_process_assessment_q %>


                                                  <% ancho_p_b = hr_process_assessment_q.resultado_puntos < 100 ? hr_process_assessment_q.resultado_puntos.to_i : 100 %>



                                                  <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="<%= ancho_p_b %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= ancho_p_b %>%; background-color: <%= '#'+hr_process_assessment_q.color+';' if ancho_p_b > 0 %>">
                                                      <%= number_with_precision(hr_process_assessment_q.resultado_puntos, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
                                                      %
                                                    </div>
                                                  </div>
                                              <% end %>

                                            </td>
                                        <% else %>
                                            <td>

                                              <% hr_process_assessment_q = hr_process_assessment_e.hr_process_assessment_qs.where('hr_process_evaluation_manual_q_id = ?', hr_process_evaluation_manual_q_hijo.id).first %>

                                              <% if hr_process_assessment_q %>

                                                  <% valor_a_usar = hr_process_assessment_q.resultado_puntos %>

                                                  <input type="text" name="preg_<%= hr_process_evaluation_manual_q_hijo.id %>" class="span12" value="<%= valor_a_usar.to_i == valor_a_usar ? valor_a_usar.to_i : valor_a_usar %>">
                                              <% else %>
                                                  <input type="text" name="preg_<%= hr_process_evaluation_manual_q_hijo.id %>" class="span12">
                                              <% end %>

                                            </td>

                                        <% end %>
                                    <% end %>

                                    <% if num_evals_nivel_2 > 1 && (index_level_2+1) < num_evals_nivel_2 %>

                                        </tr>
                                        <tr>

                                    <% end %>

                                <% end %>

                            <% end %>



                            </tr>

                        <% end %>

                    <% end %>

                    <tr>

                      <td colspan="<%= ncols-2 %>">

                        <% unless manual_q_confirmado %>
                            <div class="text-right">
                                      <span class="label label-danger">
                                        Los <%= @hr_evaluation_type_element.hr_evaluation_type.nombre.downcase %> aún no han sido definidos y confirmados
                                      </span>
                            </div>
                        <% end %>

                      </td>
                      <td colspan="2">
                        <div class="text-center">
                          <%= f.submit 'Actualizar', class: 'btn btn-success' %>
                        </div>
                      </td>
                    </tr>

                    </tbody>

                    </table>

                <% end %>

                <% fecha_fin = @hr_process.fecha_fin %>

                <% fecha_fin_eval = @hr_process_evaluation.fecha_fin_eval_auto if @hr_process_evaluation.hr_process_dimension_e.eval_auto %>

                <% fecha_fin = fecha_fin_eval if fecha_fin_eval < fecha_fin %>

                <% if lms_time > fecha_fin || @hr_process_user_connected.finalizado %>

                    <script>

                        $('.form_hr_eval_<%= @hr_process_evaluation.id %> :input').attr("disabled", true);

                    </script>

                <% end %>

            <% else %>

                <div class="alert alert-danger">
                  Sus <%= @hr_evaluation_type_element.hr_evaluation_type.nombre.downcase %> aún no han sido definidos y
                  confirmados
                </div>

            <% end %>


        <% end %>
        </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <% if definir_elemento_a_evaluar %>
                <br><br>

                <div class="text-center">

                  <strong>
                    <h4>Seguimiento de <%= @hr_evaluation_type_element.hr_evaluation_type.nombre.downcase %> - Mis
                      colaboradores</h4>
                  </strong>

                </div>
                <table class="table table-hover table-bordered">

                  <thead>

                  <tr>
                    <th colspan="<%= 3+characteristics_eval_des.length %>">
                      <div class="text-center">
                        Datos del colaborador
                      </div>
                    </th>
                    <th rowspan="2">

                    </th>
                  </tr>

                  <tr>
                    <th>#</th>
                    <th>Apellidos</th>
                    <th>Nombre</th>


                    <% characteristics_eval_des.each do |characteristic| %>

                        <th><%= characteristic.nombre %></th>

                    <% end %>


                  </tr>

                  </thead>
                  <tbody>
                  <% @hr_process_user_connected.hr_process_evalua_users_uniq_order_by_apellidos_nombre.each_with_index do |hr_process_user, index| %>
                      <tr>
                        <td>
                          <%= index+1 %>
                        </td>
                        <td>
                          <%= hr_process_user.user.apellidos %>
                        </td>
                        <td>
                          <%= hr_process_user.user.nombre %>
                        </td>

                        <% characteristics_eval_des.each do |characteristic| %>

                            <td>

                              <% uc = hr_process_user.user.user_characteristics.find_by_characteristic_id(characteristic.id) %>
                              <% if uc %>

                                  <%= uc.valor %>

                              <% end %>

                            </td>

                        <% end %>

                        <td>

                          <% mq = @hr_process_evaluation.hr_process_evaluation_manual_qs.where('hr_process_user_id = ?', hr_process_user.id).first %>
                          <% manual_q_confirmado = false %>
                          <% manual_q_confirmado = true if mq && mq.confirmado %>

                          <% numero_manual_q = @hr_process_evaluation.hr_process_evaluation_manual_qs.where('hr_process_user_id = ?', hr_process_user.id).length %>


                          <% if numero_manual_q == 0 %>

                              <span class="label label-default">No definidos</span>

                          <% elsif manual_q_confirmado %>

                              <%= link_to 'Seguimiento', hr_process_assessment_porcentaje_logro_usuario_path(@hr_process, @hr_process_evaluation, @hr_evaluation_type_element, hr_process_user) %>


                          <% else %>

                              <span class="label label-primary">Definición en progreso</span>

                          <% end %>

                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>

            <% end %>
          </div>
        </div>
        </div>
        </div>

    <% end %>

<% end %>

