<% lista_relaciones = {'jefe' => @hr_process.alias_jefe, 'par' => @hr_process.alias_par, 'sub' => @hr_process.alias_sub, 'cli' => @hr_process.alias_cli, 'prov' => @hr_process.alias_prov} %>

<div class="row">

  <div class="col-md-3">

    <% if @hr_process_calibration_session %>

      <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la sesión de calibración'.html_safe, hr_process_assessment_ver_proceso_calibrar_path(@hr_process, @hr_process_calibration_session), class:'btn btn-default' %>

    <% else %>

      <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de evaluados'.html_safe, hr_process_assessment_reporte_por_evaluado_lista_path(@hr_process), class:'btn btn-default' %>

    <% end %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>
    </h1>
  </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render partial: 'shared/user_profile_mini',
               locals: {
                 user: @hr_process_user.user,
                 company: @company,
                 ocultar_historial: false,
                 titulo: 'Perfil del Evaluado'

               }
    %>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="row">
      <div class="col-md-2 col-md-offset-10">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <%= link_to 'Descargar PDF', hr_process_assessment_reporte_por_evaluado_pdf_path(@hr_process, @hr_process_user,0) %>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Resultado final</legend>


        <table class="table table-bordered table-condensed">

          <thead>
          <tr>

            <% @hr_process_dimensions.each do |hr_process_dimension| %>

              <th class="text-center">
                <%= hr_process_dimension.nombre %>
              </th>

            <% end %>
            <% if @hr_process.muestra_cajas? %>
              <th colspan="2">Valoración final</th>
            <% end %>
          </tr>
          </thead>

          <tbody>

          <tr>

            <% @hr_process_dimensions.each do |hr_process_dimension| %>

              <td class="text-center">


                <% hr_process_assessment_d =  @hr_process_user.hr_process_assessment_ds.find_by_hr_process_dimension_id(hr_process_dimension.id) %>

                <% if hr_process_assessment_d %>

                  <% dim_g =  hr_process_assessment_d.hr_process_dimension_g %>
                  <nobr>
                    <label style="<%= 'color: #'+dim_g.color_text+';' if dim_g && dim_g.color_text %>">
                      <strong>
                        <%= number_with_precision(hr_process_assessment_d.resultado_porcentaje.to_f, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

                        <%= ' - '+dim_g.nombre if dim_g && dim_g.nombre %>
                      </strong>

                    </label>

                    <% hr_process_dimension.hr_process_dimension_es.each do |hr_process_dimension_e| %>

                      <% hr_process_evaluation = hr_process_dimension_e.hr_process_evaluations.where('hr_process_id = ? ', @hr_process.id).first %>

                      <% if hr_process_evaluation %>

                        <% hr_process_assessment_ef = HrProcessAssessmentEf.where('hr_process_evaluation_id = ? AND hr_process_user_id = ?', hr_process_evaluation.id, @hr_process_user.id).first %>

                        <% if hr_process_assessment_ef %>

                            <% if hr_process_assessment_ef.registered_by_manager %>
                              <i id="notice_registered_by_manager_<%= hr_process_assessment_ef.id %>" class="fa fa-exclamation-circle" style="color: #8b0000;" data-toggle="tooltip" data-placement="right" title="<%= hr_process_dimension_e.hr_evaluation_type.nombre %>: Registro realizado por el gestor"></i>
                              <script>
                                $(function () {
                                  $('#notice_registered_by_manager_<%= hr_process_assessment_ef.id %>').tooltip()
                                })
                              </script>
                            <% end %>
                        <% end %>

                      <% end %>

                    <% end %>

                  </nobr>
                  <% hr_process_assessment_d_cal = hr_process_assessment_d.hr_process_assessment_d_cal %>

                  <% if hr_process_assessment_d_cal %>

                    <label data-toggle="tooltip" title="Ver calibración" style="color: #000;">

                      <a data-toggle="button" data-content='


                                          <table>
                                            <tr>
                                              <td><strong>Porcentaje original</strong></td>
                                              <td>
                                                <%= hr_process_assessment_d_cal.resultado_porcentaje.to_i %>%
                                              </td>
                                            </tr>
                                            <tr>
                                              <td>
                                                <strong>Comentario</strong>
                                              </td>
                                              <td>
                                                <%= hr_process_assessment_d_cal.comentario %>
                                              </td>
                                            </tr>
                                          </table>

                                        '
                         id='detalle_calibracion_<%= hr_process_assessment_d_cal.id %>' >

                        <i class="fa fa-exclamation-triangle"></i>

                      </a>

                    </label>

                    <script language="javascript">
                      $('#detalle_calibracion_<%= hr_process_assessment_d_cal.id %>').popover({
                        html: true,
                        placement: 'top',
                        trigger: 'click'
                      });


                    </script>

                  <% end %>

                <% end %>

              </td>

            <% end %>

            <% if @hr_process.muestra_cajas? || @hr_process.muestra_cuadrantes_calib || @hr_process.calib_cuadrante %>

              <td>
                <div>


                  <% hr_process_assessment_qua = @hr_process_user.hr_process_assessment_qua %>

                  <% if hr_process_assessment_qua %>

                    <% hr_process_quadrant = hr_process_assessment_qua.hr_process_quadrant %>

                    <% if hr_process_quadrant.nombre %>

                                <span class="label label-default col-md-12" style="font-size: 0.9em; text-align: center; <%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant.color_text %><%= 'background-color: #'+hr_process_quadrant.color+';' if hr_process_quadrant.color %>">
                                  <%= hr_process_quadrant.nombre.html_safe %><br>
                                  <%= hr_process_quadrant.descripcion.html_safe if hr_process_quadrant.descripcion %>
                                </span>

                      <% hr_process_calibration_session_m = @hr_process_user.hr_process_calibration_session_ms.first %>

                      <% hr_process_assessment_qua_cal = HrProcessAssessmentQuaCal.where('hr_process_calibration_session_id = ? AND  hr_process_calibration_session_m_id = ?', hr_process_calibration_session_m.hr_process_calibration_session.id, hr_process_calibration_session_m.id).first if hr_process_calibration_session_m %>

                      <% hr_process_quadrant_cal = hr_process_assessment_qua_cal.hr_process_quadrant if hr_process_assessment_qua_cal %>

                      <% if hr_process_quadrant_cal && hr_process_quadrant_cal.nombre %>

                        <label data-toggle="tooltip" title="Ver calibración" style="color: #000;">

                          <a data-toggle="button" data-content='
                                                                    <dl class="dl-horizontal">
                                                                      <dt>Valoración original</dt>
                                                                      <dd>
                                                                        <span class="label label-default" style="<%= 'color: #'+hr_process_quadrant_cal.color_text+';' if hr_process_quadrant_cal.color_text %><%= 'background-color: #'+hr_process_quadrant_cal.color+';' if hr_process_quadrant_cal.color %>">
                                                                            <strong><%= hr_process_quadrant_cal.nombre.html_safe %></strong>
                                                                        </span>
                                                                      </dd>
                                                                    </dl>
                                                                    <dl class="dl-horizontal">
                                                                      <dt>Comentario</dt>
                                                                      <dd>
                                                                        <%= hr_process_assessment_qua_cal.comentario %>
                                                                      </dd>
                                                                    </dl>

                                                                  '
                             id='detalle_calibracion_qua_<%= hr_process_assessment_qua_cal.id %>' >

                            <i class="fa fa-exclamation-triangle"></i>

                          </a>

                        </label>

                        <script language="javascript">
                          $('#detalle_calibracion_qua_<%= hr_process_assessment_qua_cal.id %>').popover({
                            html: true,
                            placement: 'top',
                            trigger: 'click'
                          });


                        </script>

                      <% end %>

                    <% end %>



                  <% else %>

                    <span class="label label-default">No evaluado</span>

                  <% end %>
                </div>
              </td>
              <td>

                <% if hr_process_quadrant %>

                  <%= hr_process_quadrant.descripcion_detalle.html_safe if hr_process_quadrant.descripcion_detalle %>

                <% end %>

              </td>

            <% end %>


          </tr>



          </tbody>

        </table>


        <table class="table table-bordered table-condensed table-hover">

          <% @hr_process_dimensions.each do |hr_process_dimension| %>

            <% if hr_process_dimension.hr_process_dimension_es.size > 1 %>

              <thead>
                <tr>
                  <th colspan="3">
                    <%= hr_process_dimension.nombre %>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% hr_process_dimension.hr_process_dimension_es.each do |hr_process_dimension_e| %>

                  <tr>
                    <td width="20%">
                      <strong>
                        <%= hr_process_dimension_e.hr_evaluation_type.nombre %>
                      </strong>
                    </td>
                    <td width="10%">
                      <%= hr_process_dimension_e.porcentaje %>%
                    </td>
                    <% hr_process_evaluation = hr_process_dimension_e.hr_process_evaluations.where('hr_process_id = ? ', @hr_process.id).first %>

                    <% if hr_process_evaluation %>

                      <% hr_process_assessment_ef = HrProcessAssessmentEf.where('hr_process_evaluation_id = ? AND hr_process_user_id = ?', hr_process_evaluation.id, @hr_process_user.id).first %>

                      <% if hr_process_assessment_ef %>
                        <% dim_g = dimension_group_for_evaluation(hr_process_evaluation, hr_process_assessment_ef) %>

                        <td style="<%= 'color: #'+dim_g.color_text+';' if dim_g && dim_g.color_text %>">
                          <strong>
                            <%= number_with_precision(hr_process_assessment_ef.resultado_porcentaje.to_f, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                            <%= ' - '+dim_g.nombre if dim_g && dim_g.nombre %>
                          </strong>
                        </td>
                      <% else %>
                        <td></td>
                      <% end %>

                    <% end %>
                  </tr>

                <% end %>
              </tbody>
            <% end %>
          <% end %>

        </table>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Evaluación del <%= @hr_process.alias_jefe %></legend>

        <% @hr_process_evaluations.each do |hr_process_evaluation| %>

          <% if hr_process_evaluation.hr_process_dimension_e.eval_jefe %>

            <% if hr_process_evaluation.hr_process_evaluation_qs.count > 0 %>

              <% hr_process_dimension_gs = hr_process_evaluation.hr_process_dimension_e.hr_process_dimension.hr_process_dimension_gs.reorder('orden DESC') %>

              <% hr_process_evaluation_q = hr_process_evaluation.hr_process_evaluation_qs.where('hr_process_evaluation_q_id IS NULL').first %>

              <% if hr_process_evaluation_q && hr_process_evaluation_q.hr_evaluation_type_element.aplica_evaluacion %>

                <% hr_process_evaluation_qs = hr_process_evaluation.hr_process_evaluation_qs.where('hr_process_evaluation_q_id IS NULL') %>

              <% else %>

                <% hr_process_evaluation_qs = hr_process_evaluation.hr_process_evaluation_qs.where('hr_process_evaluation_q_id IS NOT NULL') %>

              <% end %>

              <% pregs_por_nombre_suma_jefe = Hash.new %>
              <% pregs_por_nombre_num_jefe = Hash.new %>

              <% hr_process_evaluation_qs.each_with_index do |hr_process_evaluation_q, num_preg| %>

                <% s_jefe = 0 %>
                <% t_jefe = 0 %>

                <% @hr_process_user.hr_process_assessment_qs.where('hr_process_evaluation_q_id = ?', hr_process_evaluation_q.id).each do |hr_process_assessment_q| %>

                  <% if hr_process_assessment_q.resultado_puntos && hr_process_assessment_q.resultado_puntos >= 0 && hr_process_assessment_q.resultado_porcentaje && hr_process_assessment_q.resultado_porcentaje >= 0 %>

                    <% if hr_process_assessment_q.hr_process_assessment_e.tipo_rel == 'jefe' %>

                      <% s_jefe += hr_process_assessment_q.resultado_porcentaje %>
                      <% t_jefe += 1 %>
                    <% end %>

                  <% end %>

                <% end %>

                <% pregs_por_nombre_suma_jefe[hr_process_evaluation_q.texto] = 0 unless pregs_por_nombre_suma_jefe[hr_process_evaluation_q.texto] %>
                <% pregs_por_nombre_num_jefe[hr_process_evaluation_q.texto] = 0 unless pregs_por_nombre_num_jefe[hr_process_evaluation_q.texto] %>

                <% pregs_por_nombre_suma_jefe[hr_process_evaluation_q.texto] += s_jefe %>
                <% pregs_por_nombre_num_jefe[hr_process_evaluation_q.texto] += t_jefe %>

              <% end %>

              <% num_preg = 0 %>

              <table class="table table-bordered table-condensed table-hover">
                <thead>
                  <tr>
                    <th>
                      #
                    </th>


                    <th>
                      <%= hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.nombre %>
                    </th>

                    <th>
                      Resultado
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% t = 0 %>
                  <% s = 0 %>
                  <% pregs_por_nombre_suma_jefe.sort.each do |nombre_preg, value| %>

                    <% if value > 0 %>

                      <% res = pregs_por_nombre_num_jefe[nombre_preg] > 0 ? (value/pregs_por_nombre_num_jefe[nombre_preg]).round(1) : 0 %>

                      <% s = s + res %>
                      <% t = t + 1 %>

                      <% num_preg += 1 %>

                      <% res_width = res > 100 ? 100 : res %>

                      <% color = '' %>

                      <%
                         hr_process_dimension_gs.each do |g|

                           if g.valor_minimo <= res && res <= g.valor_maximo
                             color = g.color_text
                             break
                           end

                         end

                      %>

                      <% color = '' %>

                      <tr>
                        <td width="1%">
                          <%= num_preg %>
                        </td>
                        <td>

                          <%= ActionView::Base.full_sanitizer.sanitize nombre_preg.dup %>
                        </td>
                        <td width="25%">
                          <div class="progress" style="margin-bottom: 0px;">
                            <div class="progress-bar" role="progressbar" aria-valuenow="<%= res_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= res_width %>%;background-color: <%= '#'+color+';' if res_width > 0 %>">
                              <%= number_with_precision(res, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

                            </div>
                          </div>
                        </td>
                      </tr>

                    <% end %>

                  <% end %>

                  <% prom = t > 0 ? (s/t).round(1) : 0  %>

                  <% prom_width = prom > 100 ? 100 : prom %>

                  <% color = '' %>

                  <%
                     hr_process_dimension_gs.each do |g|

                       if g.valor_minimo <= prom && prom <= g.valor_maximo
                         color = g.color_text
                         break
                       end

                     end

                  %>

                  <% color = '' %>

                </tbody>
                <thead>

                <tr>
                  <th colspan="2" width="75%" class="text-right">

                    <strong>Promedio</strong>
                  </td>
                  <th>
                    <div class="progress" style="margin-bottom: 0px;">
                      <div class="progress-bar" role="progressbar" aria-valuenow="<%= prom_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= prom_width %>%;background-color: <%= '#'+color+';' if prom_width > 0 %>">
                        <%= number_with_precision(prom, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                      </div>
                    </div>
                  </td>
                </tr>
                </thead>

              </table>

            <% end %>
          <% end %>
        <% end %>

      </div>
    </div>

    <div class="panel panel-default" id="panel_todos_evaluadores">
      <div class="panel-body">

        <legend>Evaluación de todos los Evaluadores</legend>

        <% mostrar_evals_todos_evaluadores = false %>

        <% @hr_process_evaluations.each do |hr_process_evaluation| %>

          <% si_auto = false %>
          <% si_par = false %>
          <% si_sub = false %>
          <% si_cli = false %>
          <% si_prov = false %>

          <% si_par = true if hr_process_evaluation.hr_process_dimension_e.eval_par && hr_process_evaluation.hr_process_dimension_e.eval_par_peso > 0  %>
          <% si_auto = true if hr_process_evaluation.hr_process_dimension_e.eval_auto && hr_process_evaluation.hr_process_dimension_e.eval_auto_peso > 0  %>
          <% si_sub = true if hr_process_evaluation.hr_process_dimension_e.eval_sub && hr_process_evaluation.hr_process_dimension_e.eval_sub_peso > 0  %>
          <% si_cli = true if hr_process_evaluation.hr_process_dimension_e.eval_cli && hr_process_evaluation.hr_process_dimension_e.eval_cli_peso > 0  %>
          <% si_prov = true if hr_process_evaluation.hr_process_dimension_e.eval_prov && hr_process_evaluation.hr_process_dimension_e.eval_prov_peso > 0  %>

          <% if (si_par || si_auto || si_sub || si_cli || si_prov) && hr_process_evaluation.hr_process_evaluation_qs.count > 0 %>

            <% mostrar_evals_todos_evaluadores = true %>

            <% hr_process_dimension_gs = hr_process_evaluation.hr_process_dimension_e.hr_process_dimension.hr_process_dimension_gs.reorder('orden DESC') %>

            <% hr_process_evaluation_q = hr_process_evaluation.hr_process_evaluation_qs.where('hr_process_evaluation_q_id IS NULL').first %>

            <% if hr_process_evaluation_q && hr_process_evaluation_q.hr_evaluation_type_element.aplica_evaluacion %>

              <% hr_process_evaluation_qs = hr_process_evaluation.hr_process_evaluation_qs.where('hr_process_evaluation_q_id IS NULL') %>

            <% else %>

              <% hr_process_evaluation_qs = hr_process_evaluation.hr_process_evaluation_qs.where('hr_process_evaluation_q_id IS NOT NULL') %>

            <% end %>

            <% pregs_por_nombre_suma = Hash.new %>
            <% pregs_por_nombre_num = Hash.new %>

            <% hr_process_evaluation_qs.each_with_index do |hr_process_evaluation_q, num_preg| %>

              <% s = 0 %>
              <% t = 0 %>

              <% @hr_process_user.hr_process_assessment_qs.where('hr_process_evaluation_q_id = ?', hr_process_evaluation_q.id).each do |hr_process_assessment_q| %>

                <% if hr_process_assessment_q.resultado_puntos && hr_process_assessment_q.resultado_puntos >= 0 && hr_process_assessment_q.resultado_porcentaje && hr_process_assessment_q.resultado_porcentaje >= 0 %>

                  <% peso = 0 %>
                  <% peso = hr_process_evaluation.hr_process_dimension_e.eval_jefe_peso if hr_process_assessment_q.hr_process_assessment_e.tipo_rel == 'jefe' %>
                  <% peso = hr_process_evaluation.hr_process_dimension_e.eval_par_peso if hr_process_assessment_q.hr_process_assessment_e.tipo_rel == 'par' %>
                  <% peso = hr_process_evaluation.hr_process_dimension_e.eval_sub_peso if hr_process_assessment_q.hr_process_assessment_e.tipo_rel == 'sub' %>
                  <% peso = hr_process_evaluation.hr_process_dimension_e.eval_cli_peso if hr_process_assessment_q.hr_process_assessment_e.tipo_rel == 'cli' %>
                  <% peso = hr_process_evaluation.hr_process_dimension_e.eval_prov_peso if hr_process_assessment_q.hr_process_assessment_e.tipo_rel == 'prov' %>
                  <% peso = hr_process_evaluation.hr_process_dimension_e.eval_auto_peso if hr_process_assessment_q.hr_process_assessment_e.tipo_rel == nil %>

                  <% s += hr_process_assessment_q.resultado_porcentaje*peso %>
                  <% t += peso %>

                <% end %>

              <% end %>


              <% pregs_por_nombre_suma[hr_process_evaluation_q.texto] = 0 unless pregs_por_nombre_suma[hr_process_evaluation_q.texto] %>
              <% pregs_por_nombre_num[hr_process_evaluation_q.texto] = 0 unless pregs_por_nombre_num[hr_process_evaluation_q.texto] %>

              <% pregs_por_nombre_suma[hr_process_evaluation_q.texto] += s %>
              <% pregs_por_nombre_num[hr_process_evaluation_q.texto] += t %>

            <% end %>

            <% num_preg = 0 %>

            <table class="table table-bordered table-condensed table-hover">
              <thead>
              <tr>
                <th>
                  #
                </th>


                <th>
                  <%= hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.nombre %>
                </th>

                <th>
                  Resultado
                </th>
              </tr>
              </thead>
              <tbody>
              <% t = 0 %>
              <% s = 0 %>
              <% pregs_por_nombre_suma.sort.each do |nombre_preg, value| %>

                <% if value > 0 %>

                  <% res = pregs_por_nombre_num[nombre_preg] > 0 ? (value/pregs_por_nombre_num[nombre_preg]).round(1) : 0 %>
                  <% s = s + res %>
                  <% t = t + 1 %>
                  <% num_preg += 1 %>

                  <% res_width = res > 100 ? 100 : res %>

                  <% color = '' %>

                  <%
                     hr_process_dimension_gs.each do |g|

                       if g.valor_minimo <= res && res <= g.valor_maximo
                         color = g.color_text
                         break
                       end

                     end

                  %>

                  <% color = '' %>

                  <tr>
                    <td width="1%">
                      <%= num_preg %>
                    </td>
                    <td>

                      <%= ActionView::Base.full_sanitizer.sanitize nombre_preg.dup %>
                    </td>
                    <td width="25%">
                      <div class="progress" style="margin-bottom: 0px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="<%= res_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= res_width %>%;background-color: <%= '#'+color+';' if res_width > 0 %>">
                          <%= number_with_precision(res, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

                        </div>
                      </div>
                    </td>
                  </tr>

                <% end %>

              <% end %>

              <% prom = t > 0 ? (s/t).round(1) : 0 %>

              <% prom_width = prom > 100 ? 100 : prom %>

              <% color = '' %>

              <%
                 hr_process_dimension_gs.each do |g|

                   if g.valor_minimo <= prom && prom <= g.valor_maximo
                     color = g.color_text
                     break
                   end

                 end

              %>

              <% color = '' %>

              </tbody>
              <thead>

              <tr>
                <th colspan="2" class="text-right">

                  <strong>Promedio</strong>
                </td>
                <th>
                  <div class="progress" style="margin-bottom: 0px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="<%= prom_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= prom_width %>%;background-color: <%= '#'+color+';' if prom_width > 0 %>">
                      <%= number_with_precision(prom, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                    </div>
                  </div>
                </td>
              </tr>
              </thead>

            </table>


            <% res_jefe = 0 %>
            <% t_jefe = 0 %>
            <% res_par = 0 %>
            <% t_par = 0 %>
            <% res_cli = 0 %>
            <% t_cli = 0 %>
            <% res_sub = 0 %>
            <% t_sub = 0 %>
            <% res_prov = 0 %>
            <% t_prov = 0 %>
            <% res_auto = 0 %>

            <%

              hr_process_evaluation.hr_process_assessment_es.where('hr_process_user_id = ?', @hr_process_user.id).each do |hr_process_assessment_e|

                if hr_process_assessment_e.resultado_puntos && hr_process_assessment_e.resultado_puntos >= 0 && hr_process_assessment_e.resultado_porcentaje && hr_process_assessment_e.resultado_porcentaje >= 0

                  case hr_process_assessment_e.tipo_rel
                    when 'jefe'
                      res_jefe += hr_process_assessment_e.resultado_porcentaje
                      t_jefe += 1
                    when 'par'
                      res_par += hr_process_assessment_e.resultado_porcentaje
                      t_par += 1
                    when 'sub'
                      res_sub += hr_process_assessment_e.resultado_porcentaje
                      t_sub += 1
                    when 'cli'
                      res_cli += hr_process_assessment_e.resultado_porcentaje
                      t_cli += 1
                    when 'prov'
                      res_prov += hr_process_assessment_e.resultado_porcentaje
                      t_prov += 1
                    when nil
                      res_auto = hr_process_assessment_e.resultado_porcentaje
                    end

                end

              end

            %>

            <table class="table table-bordered table-condensed table-hover">
              <thead>
              <tr>
                <th colspan="2">
                  Resultado de <%= hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.nombre %> por Tipo de Evaluador
                </th>
              </tr>
              </thead>
              <tbody>

              <% res = t_jefe > 0 ? res_jefe/t_jefe : -1 %>
              <% if res > -1 %>
                <tr>
                  <td width="75%">
                    <strong><%= lista_relaciones['jefe'] %></strong>
                  </td>

                  <% res_width = res > 100 ? 100 : res %>
                  <% color = '' %>

                  <%
                     hr_process_dimension_gs.each do |g|

                       if g.valor_minimo <= res && res <= g.valor_maximo
                         color = g.color_text
                         break
                       end

                     end

                  %>

                  <% color = '' %>

                  <td width="25%">
                    <div class="progress" style="margin-bottom: 0px;">
                      <div class="progress-bar" role="progressbar" aria-valuenow="<%= res_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= res_width %>%;background-color: <%= '#'+color+';' if res_width > 0 %>">
                        <%=  number_with_precision(res, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %> %
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>

              <% res = t_par > 0 ? res_par/t_par : -1 %>
              <% if res > -1 %>
                <tr>
                  <td>
                    <strong><%= lista_relaciones['par'] %></strong>
                  </td>

                  <% res_width = res > 100 ? 100 : res %>
                  <% color = '' %>

                  <%
                     hr_process_dimension_gs.each do |g|

                       if g.valor_minimo <= res && res <= g.valor_maximo
                         color = g.color_text
                         break
                       end

                     end

                  %>

                  <% color = '' %>

                  <td width="25%">
                    <div class="progress" style="margin-bottom: 0px;">
                      <div class="progress-bar" role="progressbar" aria-valuenow="<%= res_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= res_width %>%;background-color: <%= '#'+color+';' if res_width > 0 %>">
                        <%=  number_with_precision(res, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %> %
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>

              <% res = t_sub > 0 ? res_sub/t_sub : -1 %>
              <% if res > -1 %>
                <tr>
                  <td>
                    <strong><%= lista_relaciones['sub'] %></strong>
                  </td>

                  <% res_width = res > 100 ? 100 : res %>
                  <% color = '' %>

                  <%
                     hr_process_dimension_gs.each do |g|

                       if g.valor_minimo <= res && res <= g.valor_maximo
                         color = g.color_text
                         break
                       end

                     end

                  %>

                  <% color = '' %>

                  <td width="25%">
                    <div class="progress" style="margin-bottom: 0px;">
                      <div class="progress-bar" role="progressbar" aria-valuenow="<%= res_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= res_width %>%;background-color: <%= '#'+color+';' if res_width > 0 %>">
                        <%=  number_with_precision(res, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %> %
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>



              <% res = t_cli > 0 ? res_cli/t_cli : -1 %>
              <% if res > -1 %>
                <tr>
                  <td>
                    <strong><%= lista_relaciones['cli'] %></strong>
                  </td>

                  <% res_width = res > 100 ? 100 : res %>
                  <% color = '' %>

                  <%
                     hr_process_dimension_gs.each do |g|

                       if g.valor_minimo <= res && res <= g.valor_maximo
                         color = g.color_text
                         break
                       end

                     end

                  %>

                  <% color = '' %>

                  <td width="25%">
                    <div class="progress" style="margin-bottom: 0px;">
                      <div class="progress-bar" role="progressbar" aria-valuenow="<%= res_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= res_width %>%;background-color: <%= '#'+color+';' if res_width > 0 %>">
                        <%=  number_with_precision(res, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %> %
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>

              <% res = t_prov > 0 ? res_prov/t_prov : -1 %>
              <% if res > -1 %>
                <tr>
                  <td>
                    <strong><%= lista_relaciones['prov'] %></strong>
                  </td>

                  <% res_width = res > 100 ? 100 : res %>
                  <% color = '' %>

                  <%
                     hr_process_dimension_gs.each do |g|

                       if g.valor_minimo <= res && res <= g.valor_maximo
                         color = g.color_text
                         break
                       end

                     end

                  %>

                  <% color = '' %>

                  <td width="25%">
                    <div class="progress" style="margin-bottom: 0px;">
                      <div class="progress-bar" role="progressbar" aria-valuenow="<%= res_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= res_width %>%;background-color: <%= '#'+color+';' if res_width > 0 %>">
                        <%=  number_with_precision(res, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %> %
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>

              <% if res_auto > 0 %>
                <tr>
                  <td>
                    <strong>Autoevaluación</strong>
                  </td>

                  <% res_width = res_auto > 100 ? 100 : res_auto %>
                  <% color = '' %>

                  <%
                     hr_process_dimension_gs.each do |g|

                       if g.valor_minimo <= res_auto && res_auto <= g.valor_maximo
                         color = g.color_text
                         break
                       end

                     end

                  %>

                  <% color = '' %>

                  <td width="25%">
                    <div class="progress" style="margin-bottom: 0px;">
                      <div class="progress-bar" role="progressbar" aria-valuenow="<%= res_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= res_width %>%;background-color: <%= '#'+color+';' if res_width > 0 %>">
                        <%=  number_with_precision(res_auto, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %> %
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>

              </tbody>

            </table>

          <% end %>

        <% end %>

      </div>

    </div>

    <% unless mostrar_evals_todos_evaluadores %>


      <script>
        $('#panel_todos_evaluadores').remove();
      </script>

    <% end %>



      <% @hr_process_evaluations.each do |hr_process_evaluation| %>




        <% if hr_process_evaluation.hr_process_evaluation_qs.where('hr_process_evaluation_q_id IS NOT NULL').count > 0 %>


          <% si_jefe = false %>
          <% si_auto = false %>
          <% si_par = false %>
          <% si_sub = false %>
          <% si_cli = false %>
          <% si_prov = false %>

          <% si_jefe = true if hr_process_evaluation.hr_process_dimension_e.eval_jefe %>
          <% si_par = true if hr_process_evaluation.hr_process_dimension_e.eval_par %>
          <% si_auto = true if hr_process_evaluation.hr_process_dimension_e.eval_auto %>
          <% si_sub = true if hr_process_evaluation.hr_process_dimension_e.eval_sub %>
          <% si_cli = true if hr_process_evaluation.hr_process_dimension_e.eval_cli %>
          <% si_prov = true if hr_process_evaluation.hr_process_dimension_e.eval_prov %>

          <div class="panel panel-default">
            <div class="panel-body">

              <legend>Detalle de  <%= hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.nombre %></legend>

              <% nombre_2nd_nivel = hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.where('nivel = 2').first.nombre %>

              <% hr_process_evaluation.hr_process_evaluation_qs.where('hr_process_evaluation_q_id IS NULL').each do |hr_process_evaluation_q| %>

                <% if @hr_process_user.hr_process_assessment_qs.where('hr_process_evaluation_q_id = ?', hr_process_evaluation_q.id).count > 0 %>

                  <table class="table table-bordered table-condensed table-hover">

                    <thead>
                      <tr>
                        <th colspan="8">
                          <%= hr_process_evaluation_q.texto.html_safe %>
                        </th>
                      </tr>
                    </thead>

                    <tbody>

                      <tr>
                        <td><strong><%= nombre_2nd_nivel %></strong></td>

                        <% if si_jefe %>
                          <td width="1%"><strong><nobr><%= lista_relaciones['jefe'] %></nobr></strong></td>
                        <% end %>

                        <% if si_par %>
                          <td width="1%"><strong><nobr><%= lista_relaciones['par'] %></nobr></strong></td>
                        <% end %>

                        <% if si_sub %>
                          <td width="1%"><strong><nobr><%= lista_relaciones['sub'] %></nobr></strong></td>
                        <% end %>

                        <% if si_cli %>
                          <td width="1%"><strong><nobr><%= lista_relaciones['cli'] %></nobr></strong></td>
                        <% end %>

                        <% if si_prov %>
                          <td width="1%"><strong><nobr><%= lista_relaciones['prov'] %></nobr></strong></td>
                        <% end %>

                        <% if si_auto %>
                          <td width="1%"><strong>Autoevaluación</strong></td>
                        <% end %>
                        <td width="1%"><strong>Promedio</strong></td>
                      </tr>

                      <% hr_process_evaluation_q.hr_process_evaluation_qs.each do |hr_process_evaluation_q_hijo| %>

                        <% res_jefe = 0 %>
                        <% t_jefe = 0 %>
                        <% res_par = 0 %>
                        <% t_par = 0 %>
                        <% res_cli = 0 %>
                        <% t_cli = 0 %>
                        <% res_sub = 0 %>
                        <% t_sub = 0 %>
                        <% res_prov = 0 %>
                        <% t_prov = 0 %>
                        <% res_auto = 0 %>
                        <% t_auto = 0 %>


                        <% @hr_process_user.hr_process_assessment_qs.where('hr_process_evaluation_q_id = ?', hr_process_evaluation_q_hijo.id).each do |hr_process_assessment_q| %>

                          <% if hr_process_assessment_q.resultado_puntos && hr_process_assessment_q.resultado_puntos >= 0 && hr_process_assessment_q.resultado_porcentaje && hr_process_assessment_q.resultado_porcentaje >= 0 %>

                            <% if hr_process_assessment_q.hr_process_assessment_e.tipo_rel == 'jefe' %>
                              <% res_jefe += hr_process_assessment_q.resultado_porcentaje %>
                              <% t_jefe += 1 %>
                            <% end %>

                            <% if hr_process_assessment_q.hr_process_assessment_e.tipo_rel == 'par' %>
                              <% res_par += hr_process_assessment_q.resultado_porcentaje %>
                              <% t_par += 1 %>
                            <% end %>

                            <% if hr_process_assessment_q.hr_process_assessment_e.tipo_rel == 'sub' %>
                              <% res_sub += hr_process_assessment_q.resultado_porcentaje %>
                              <% t_sub += 1 %>
                            <% end %>

                            <% if hr_process_assessment_q.hr_process_assessment_e.tipo_rel == 'cli' %>
                              <% res_cli += hr_process_assessment_q.resultado_porcentaje %>
                              <% t_cli += 1 %>
                            <% end %>

                            <% if hr_process_assessment_q.hr_process_assessment_e.tipo_rel == 'prov' %>
                              <% res_prov += hr_process_assessment_q.resultado_porcentaje %>
                              <% t_prov += 1 %>
                            <% end %>

                            <% if hr_process_assessment_q.hr_process_assessment_e.tipo_rel == nil %>
                              <% res_auto = hr_process_assessment_q.resultado_porcentaje %>
                              <% t_auto += 1 %>
                            <% end %>


                          <% end %>

                        <% end %>

                        <% s_preg_nivel_2 = 0 %>
                        <% t_preg_nivel_2 = 0 %>
                        <% if t_jefe > 0 %>
                          <% s_preg_nivel_2 += res_jefe/t_jefe %>
                          <% t_preg_nivel_2 += 1 %>
                        <% end %>

                        <% if t_par > 0 %>
                          <% s_preg_nivel_2 += res_par/t_par %>
                          <% t_preg_nivel_2 += 1 %>
                        <% end %>

                        <% if t_sub > 0 %>
                          <% s_preg_nivel_2 += res_sub/t_sub %>
                          <% t_preg_nivel_2 += 1 %>
                        <% end %>

                        <% if t_cli > 0 %>
                          <% s_preg_nivel_2 += res_cli/t_cli %>
                          <% t_preg_nivel_2 += 1 %>
                        <% end %>

                        <% if t_prov > 0 %>
                          <% s_preg_nivel_2 += res_prov/t_prov %>
                          <% t_preg_nivel_2 += 1 %>
                        <% end %>

                        <% if t_auto > 0 %>
                          <% s_preg_nivel_2 += res_auto %>
                          <% t_preg_nivel_2 += 1 %>
                        <% end %>

                        <tr>
                          <td><%= hr_process_evaluation_q_hijo.texto %></td>
                          <% if si_jefe %>
                            <td><%= number_with_precision(res_jefe/t_jefe, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false).to_s+'%' if t_jefe > 0 %></td>
                          <% end %>
                          <% if si_par %>
                            <td><%= number_with_precision(res_par/t_par, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false).to_s+'%' if t_par > 0 %></td>
                          <% end %>
                          <% if si_sub %>
                            <td><%= number_with_precision(res_sub/t_sub, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false).to_s+'%' if t_sub > 0 %></td>
                          <% end %>
                          <% if si_cli %>
                            <td><%= number_with_precision(res_cli/t_cli, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false).to_s+'%' if t_cli > 0 %></td>
                          <% end %>
                          <% if si_prov %>
                            <td><%= number_with_precision(res_prov/t_prov, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false).to_s+'%' if t_prov > 0 %></td>
                          <% end %>
                          <% if si_auto %>
                            <td><%= number_with_precision(res_auto, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false).to_s+'%' if t_auto > 0 %></td>
                          <% end %>
                          <td><%= number_with_precision(s_preg_nivel_2/t_preg_nivel_2, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false).to_s+'%' if t_preg_nivel_2 > 0 %></td>
                        </tr>

                      <% end %>

                    </tbody>


                  </table>

                <% end %>

              <% end %>

            </div>

          </div>

        <% end %>

      <% end %>


  </div>
</div>