
<div class="row">

  <div class="col-md-3">
    <%= link_to 'Volver a la lista de reportes', hr_process_assessment_ver_proceso_lista_reportes_path(@hr_process), class: 'btn btn-default' %>

  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>: Reportes
    </h1>
  </div>

</div>


<% characteristics_eval_des = Characteristic.where('hr_process_assessment = ?', true).reorder('orden_hr_process_assessment') %>

<div class="row">

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Reporte de estado de avance</legend>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <tr>
                <td width="25%">
                  <strong>Colaboradores evaluados por completo</strong>
                  <br>
                  <em>Han sido evaluados por todos sus evaluadores</em>
                </td>
                <td id="progress_bar_avance_completo"></td>
                <td width="1%">
                  <nobr id="num_avance_completo">

                  </nobr>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Evaluaciones terminadas</strong>
                </td>
                <td id="progress_bar_eval_terminada"></td>
                <td>
                  <nobr id="num_eval_terminada">

                  </nobr>
                </td>
              </tr>
              <% habilitado_no_aplica = false %>
              <% @hr_process.hr_process_evaluations.each do |hr_process_evaluation| %>
                <% if hr_process_evaluation.tope_no_aplica %>
                  <% habilitado_no_aplica = true %>
                  <% break %>
                <% end %>
              <% end %>
              <% if habilitado_no_aplica %>
                <tr>
                  <td>
                    <strong>Evaluaciones anuladas (no aplica):</strong>
                  </td>
                  <td colspan="2">
                    <span class="badge bg-color-redLight inbox-badge" id='num_no_aplica'></span>
                  </td>

                </tr>
              <% end %>
            </table>
          </div>

        </div>
        <br>
        <br>
        <br>

        <table id="datatable_fixed_column" class="table table-striped table-bordered smart-form">
          <thead>
            <tr>
              <th>#</th>
              <th>Evaluado</th>


              <% characteristics_eval_des.each do |characteristic| %>

                <th width="1%"><%= characteristic.nombre %></th>

              <% end %>

              <th>
                Evaluado por
              </th>
              <th>
                Relación
              </th>
              <th>
                Estado
              </th>
              <th>

              </th>

            </tr>
            <tr class="second">
              <td>
                <label class="input">
                  <input type="text" name="search_num" value="" class="search_init">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text" name="search_name" value="" class="search_init">
                </label>
              </td>

                <% characteristics_eval_des.each do |characteristic| %>
                <td><label class="input">
                    <input type="text" name="search_car_<%= characteristic.id %>" value="" class="search_init">
                  </label>   </td>
                <% end %>


              <td>
                <label class="input">
                  <input type="text" name="search_evaluador" value="" class="search_init">
                </label>
              </td>

              <td>
                <label class="input">
                  <input type="text" name="search_rel" value="" class="search_init">
                </label>
              </td>

              <td>
                <label class="input">
                  <input type="text" name="search_estado" value="" class="search_init">
                </label>
              </td>

              <td>

              </td>

            </tr>
          </thead>
          <tbody>

            <% num_evals = 0 %>

            <%
               if user_connected.hr_process_managers.size > 0
                 hr_process_users = @hr_process.hr_process_users_order_by_apellidos_nombre
               else

                 hr_process_user_connected = @hr_process.hr_process_users.find_by_user_id(user_connected.id)

                 hr_process_users = hr_process_user_connected.hr_process_responsable_users_uniq_order_by_apellidos_nombre if hr_process_user_connected


               end

            %>

            <% lista_relaciones = {'jefe' => @hr_process.alias_jefe, 'par' => @hr_process.alias_par, 'sub' => @hr_process.alias_sub, 'cli' => @hr_process.alias_cli, 'prov' => @hr_process.alias_prov} %>


            <% num_evals = 0 %>
            <% num_evals_finalizadas = 0 %>

            <% num_personas = 0 %>
            <% num_personas_completos = 0 %>

            <% num_no_aplica = 0 %>

            <% hr_process_users.each_with_index do |hr_process_user, index| %>

              <% if hr_process_user.hr_process_es_evaluado_rels.where('tipo <> ?', 'resp').count > 0 %>
                <% num_personas_completos += 1 if hr_process_user.finalizado %>
                <% num_personas += 1 %>
              <% end %>

                 <% hr_process_user.hr_process_es_evaluado_rels.where('tipo <> ?', 'resp').each_with_index do |evaluado_rel, index_evaluado_rel| %>

                    <% num_evals += 1 %>
                    <tr>
                        <td>
                          <%= num_evals %>
                        </td>
                        <td><%= hr_process_user.user.apellidos %>, <%= hr_process_user.user.nombre %></td>

                        <% characteristics_eval_des.each do |characteristic| %>
                          <% uc = hr_process_user.user.user_characteristics.find_by_characteristic_id(characteristic.id) %>

                          <td><%= uc.valor if uc %></td>

                        <% end %>

                        <td>
                          <% if evaluado_rel.finalizada && evaluado_rel.no_aplica %>
                            <% num_no_aplica += 1 %>
                              <strike>
                          <% end %>
                          <%= evaluado_rel.hr_process_user1.user.apellidos %>, <%= evaluado_rel.hr_process_user1.user.nombre %>
                          <% if evaluado_rel.finalizada && evaluado_rel.no_aplica %>
                              </strike>
                          <% end %>
                        </td>
                        <td>
                          <%= lista_relaciones[evaluado_rel.tipo] %>
                        </td>
                        <td>

                            <nobr>
                              <% if evaluado_rel.finalizada %>
                                <% num_evals_finalizadas += 1 %>
                                <% if evaluado_rel.no_aplica %>
                                    <span class="label label-danger" style="color:#ffffff;width:100%;text-align: center; ">Anulada</span>
                                <% else %>

                                    <span class="label label-success" style="color:#ffffff;width:100%;text-align: center; ">Finalizada</span>
                                <% end %>
                              <% else %>
                                  <span class="label label-default" style="color:#ffffff;width:100%;text-align: center; ">No evaluado</span>
                              <% end %>
                            </nobr>

                        </td>
                        <td>
                          <%= link_to 'Consultar', hr_process_assessment_resultado_para_reporte_path(@hr_process, hr_process_user) %>
                        </td>


                    </tr>

                  <% end %>
                  <% if debe_realizar_autoevaluacion_proceso(@hr_process, hr_process_user) %>
                      <% num_evals += 1 %>
                      <tr>
                        <td>
                          <%= num_evals %>
                        </td>
                        <td><%= hr_process_user.user.apellidos %>, <%= hr_process_user.user.nombre %></td>

                        <% characteristics_eval_des.each do |characteristic| %>
                            <% uc = hr_process_user.user.user_characteristics.find_by_characteristic_id(characteristic.id) %>

                            <td><%= uc.valor if uc %></td>

                        <% end %>

                        <td>
                          <%= hr_process_user.user.apellidos %>, <%= hr_process_user.user.nombre %> </td>
                        <td>Autoevaluación</td>
                        <td>
                          <nobr>

                            <% if hr_process_user.finalizada_auto %>
                              <% num_evals_finalizadas += 1 %>
                              <span class="label label-success" style="color:#ffffff;width:100%;text-align: center; ">Finalizada</span>
                            <% else %>
                              <span class="label label-default" style="color:#ffffff;width:100%;text-align: center; ">No evaluado</span>
                            <% end %>
                          </nobr>
                        </td>
                        <td>
                          <%= link_to 'Consultar', hr_process_assessment_resultado_para_reporte_path(@hr_process, hr_process_user) %>
                        </td>

                      </tr>

                  <% end %>

            <% end %>

          </tbody>
        </table>

        <br>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <table class="table table-bordered table-condensed">

                <tr>
                  <td>
                    <strong>Posibles relaciones</strong>
                  </td>

                  <td>
                    Supervisor,

                    Colaborador,

                    Par,

                    Cliente,

                    Proveedor,

                    y Autoevaluación
                  </td>
                </tr>

                <tr>
                  <td>
                    <strong>Posibles estados de las evaluaciones</strong>
                  </td>

                  <td>
                    <span class="label label-success" style="color:#ffffff;width:100%;text-align: center; ">Finalizada</span>

                    <span class="label label-default" style="color:#ffffff;width:100%;text-align: center; ">No evaluado</span>

                    <span class="label label-danger" style="color:#ffffff;width:100%;text-align: center; ">Anulada</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<%

  total_evaluados = hr_process_users.size

  if num_personas > 0

    por_evaluados_completos = num_personas_completos * 100 / num_personas


    progress_bar_avance_completo = '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="'+por_evaluados_completos.to_s+'" aria-valuemin="0" aria-valuemax="100" style="width: '+por_evaluados_completos.to_s+'%;">'+por_evaluados_completos.to_s+'%</div></div>'

  end

  if total_evaluados > 0

     por_evaluaciones_terminadas = num_evals_finalizadas * 100 / num_evals


     progress_bar_eval_terminada = '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="'+por_evaluaciones_terminadas.to_s+'" aria-valuemin="0" aria-valuemax="100" style="width: '+por_evaluaciones_terminadas.to_s+'%;">'+por_evaluaciones_terminadas.to_s+'%</div></div>'
  end

%>

<script>
  $('#num_no_aplica').html(<%= num_no_aplica %>);

  $('#num_avance_completo').html('<%=num_personas_completos%>/<%=num_personas%>');
  $('#num_eval_terminada').html('<%=num_evals_finalizadas%>/<%=num_evals%>');


</script>

<% if num_personas > 0 %>

  <script>

    $('#progress_bar_avance_completo').html('<%= progress_bar_avance_completo.html_safe %>');

  </script>





<% end %>

<% if total_evaluados > 0 %>

  <script>

    $('#progress_bar_eval_terminada').html('<%= progress_bar_eval_terminada.html_safe %>');

  </script>

<% end %>


<!-- PAGE RELATED PLUGIN(S) -->
<script src="/assets/datatables/jquery.dataTables-cust.min.js"></script>
<script src="/assets/datatables/ColReorder.min.js"></script>
<script src="/assets/datatables/FixedColumns.min.js"></script>
<script src="/assets/datatables/ColVis.min.js"></script>
<script src="/assets/datatables/ZeroClipboard.js"></script>
<script src="/assets/datatables/media/js/TableTools.min.js"></script>
<script src="/assets/datatables/DT_bootstrap.js"></script>


<script type="text/javascript">

  $(document).ready(function() {


    $("#datatable_fixed_column thead input").keyup(function() {
      oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
    });

    $("#datatable_fixed_column thead input").each(function(i) {
      this.initVal = this.value;
    });
    $("#datatable_fixed_column thead input").focus(function() {
      if (this.className == "search_init") {
        this.className = "";
        this.value = "";
      }
    });
    $("#datatable_fixed_column thead input").blur(function(i) {
      if (this.value == "") {
        this.className = "search_init";
        this.value = this.initVal;
      }
    });


    var oTable = $('#datatable_fixed_column').dataTable({
      "sDom" : "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",

      "sPaginationType" : "bootstrap_full",
      "aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
      "iDisplayLength" : 25,
      "bSortCellsTop" : true,
      "oTableTools" : {
        "aButtons" : ["xls"],
        "sSwfPath" : "/assets/datatables/media/swf/copy_csv_xls_pdf.swf"
      }
    });


  })

</script>

