<div class="row">

  <div class="col-md-3">

  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>: Resultados
    </h1>
  </div>

</div>

<% lista_relaciones = {'jefe' => @hr_process.alias_jefe_inverso_plu} %>
<% lista_relaciones2 = {'jefe' => @hr_process.alias_jefe_inverso} %>

<% characteristics_eval_des = Characteristic.where('hr_process_assessment = ?', true).reorder('orden_hr_process_assessment') %>


<%

  lista_usuarios = Array.new
  lista_cajas = Array.new

%>

    <% if accesso_evaluar_proceso(@hr_process) %>

      <% hr_process_evaluations = @hr_process.hr_process_evaluations.find_all_by_vigente(true) %>

      <div class="row">

        <div class="col-md-12">

          <div class="panel panel-default">
            <div class="panel-body">

                    <% if accesso_evaluar_proceso_como(@hr_process, 'jefe') %>


                            <legend>Resultados de mis colaboradores</legend>

                            <table class="table table-hover table-bordered table-striped">

                                <thead>

                                    <tr>
                                      <th>#</th>
                                      <th>Apellidos</th>
                                      <th>Nombre</th>

                                      <% characteristics_eval_des.each do |characteristic| %>

                                          <th><%= characteristic.nombre %></th>

                                      <% end %>



                                          <% @hr_process_dimensions.each do |hr_process_dimension| %>

                                              <th>
                                                <%= hr_process_dimension.nombre %>
                                              </th>

                                          <% end %>
                                          <% if @hr_process.muestra_cajas? %>
                                              <th>
                                                Valoración final
                                              </th>
                                          <% end %>
                                          <% if @hr_process.tiene_paso_feedback? %>
                                              <th>
                                                Retroalimentación
                                              </th>
                                          <% end %>

                                      <th></th>
                                    </tr>

                                </thead>
                                <tbody>
                                <% @hr_process_user_connected.hr_process_evalua_users_como_uniq_order_by_apellidos_nombre('jefe').each_with_index do |hr_process_user, index| %>

                                  <tr>
                                    <td>
                                      <%= index+1 %>
                                    </td>
                                    <td>
                                      <%= hr_process_user.user.apellidos %>
                                    </td>
                                    <td>
                                      <%= hr_process_user.user.nombre %>

                                    </td>

                                    <% characteristics_eval_des.each do |characteristic| %>

                                        <td>

                                          <% uc = hr_process_user.user.user_characteristics.find_by_characteristic_id(characteristic.id) %>
                                          <%= uc.valor if uc %>

                                        </td>

                                    <% end %>



                                        <% @hr_process_dimensions.each do |hr_process_dimension| %>

                                            <% hr_process_assessment_d = hr_process_user.hr_process_assessment_ds.find_by_hr_process_dimension_id(hr_process_dimension.id) if hr_process_user.finalizado %>

                                            <% hr_process_dimension_g = hr_process_assessment_d.hr_process_dimension_g if hr_process_assessment_d %>

                                            <td style="<%= 'color: #'+hr_process_dimension_g.color_text+';' if hr_process_dimension_g && hr_process_dimension_g.color_text %>">

                                              <% if hr_process_assessment_d %>

                                                  <%= hr_process_assessment_d.resultado_porcentaje.to_i %>%
                                                  -
                                                  <%= hr_process_dimension_g.nombre if hr_process_dimension_g %>

                                                  <% hr_process_assessment_d_cal = hr_process_assessment_d.hr_process_assessment_d_cal %>

                                                  <% if hr_process_assessment_d_cal %>

                                                      <label data-toggle="tooltip" title="Ver calibración" style="color: #000;">

                                                        <a data-toggle="button" data-content='


                                                        <table>
                                                          <tr>
                                                            <td><strong>Porcentaje original</strong></td>
                                                            <td>
                                                              <%= hr_process_assessment_d_cal.resultado_porcentaje.to_i %>%
                                                            </td>
                                                          </tr>
                                                          <tr>
                                                            <td>
                                                              <strong>Comentario</strong>
                                                            </td>
                                                            <td>
                                                              <%= hr_process_assessment_d_cal.comentario %>
                                                            </td>
                                                          </tr>
                                                        </table>

                                                      '
                                                           id='detalle_calibracion_<%= hr_process_assessment_d_cal.id %>' >

                                                          <i class="fa fa-exclamation-triangle"></i>

                                                        </a>

                                                      </label>

                                                      <script language="javascript">
                                                          $('#detalle_calibracion_<%= hr_process_assessment_d_cal.id %>').popover({
                                                              html: true,
                                                              placement: 'top',
                                                              trigger: 'click'
                                                          });


                                                      </script>

                                                  <% end %>

                                              <% end %>
                                            </td>

                                        <% end %>

                                        <% if @hr_process.muestra_cajas? %>

                                            <td>
                                              <div>
                                                <% if hr_process_user.finalizado %>

                                                    <% hr_process_assessment_qua = hr_process_user.hr_process_assessment_qua %>

                                                    <% if hr_process_assessment_qua %>

                                                        <% hr_process_quadrant = hr_process_assessment_qua.hr_process_quadrant %>

                                                        <% if hr_process_quadrant.nombre %>

                                                            <%

                                                               lista_usuarios.push hr_process_user
                                                               lista_cajas.push hr_process_quadrant

                                                            %>

                                                            <span class="label label-default col-md-12" style="width: 80%; text-align: center; <%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant.color_text %><%= 'background-color: #'+hr_process_quadrant.color+';' if hr_process_quadrant.color %>">
                                                        <strong><%= hr_process_quadrant.nombre.html_safe %></strong>
                                                      </span>

                                                            <% hr_process_calibration_session_m = hr_process_user.hr_process_calibration_session_ms.first %>

                                                            <% hr_process_assessment_qua_cal = HrProcessAssessmentQuaCal.where('hr_process_calibration_session_id = ? AND  hr_process_calibration_session_m_id = ?', hr_process_calibration_session_m.hr_process_calibration_session.id, hr_process_calibration_session_m.id).first if hr_process_calibration_session_m %>

                                                            <% hr_process_quadrant_cal = hr_process_assessment_qua_cal.hr_process_quadrant if hr_process_assessment_qua_cal %>

                                                            <% if hr_process_quadrant_cal && hr_process_quadrant_cal.nombre %>

                                                                <label data-toggle="tooltip" title="Ver calibración" style="color: #000;">

                                                                  <a data-toggle="button" data-content='
                                                              <dl class="dl-horizontal">
                                                                <dt>Valoración original</dt>
                                                                <dd>
                                                                  <span class="label label-default" style="<%= 'color: #'+hr_process_quadrant_cal.color_text+';' if hr_process_quadrant_cal.color_text %><%= 'background-color: #'+hr_process_quadrant_cal.color+';' if hr_process_quadrant_cal.color %>">
                                                                      <strong><%= hr_process_quadrant_cal.nombre.html_safe %></strong>
                                                                  </span>
                                                                </dd>
                                                              </dl>
                                                              <dl class="dl-horizontal">
                                                                <dt>Comentario</dt>
                                                                <dd>
                                                                  <%= hr_process_assessment_qua_cal.comentario %>
                                                                </dd>
                                                              </dl>

                                                            '
                                                                     id='detalle_calibracion_qua_<%= hr_process_assessment_qua_cal.id %>' >

                                                                    <i class="fa fa-exclamation-triangle"></i>

                                                                  </a>

                                                                </label>

                                                                <script language="javascript">
                                                                    $('#detalle_calibracion_qua_<%= hr_process_assessment_qua_cal.id %>').popover({
                                                                        html: true,
                                                                        placement: 'top',
                                                                        trigger: 'click'
                                                                    });


                                                                </script>

                                                            <% end %>

                                                        <% end %>

                                                    <% end %>

                                                <% else %>

                                                    <span class="label label-default">No evaluado</span>

                                                <% end %>
                                              </div>
                                            </td>

                                        <% end %>

                                        <% if @hr_process.tiene_paso_feedback? %>
                                            <td>
                                              <% if hr_process_user.feedback_confirmado? %>
                                                  <span class="label label-success">Confirmada</span>
                                              <% else %>
                                                  <span class="label label-danger">Pendiente</span>
                                              <% end %>
                                            </td>
                                        <% end %>



                                    <td>
                                      <% if @hr_process.jefe_cons_estado_avance %>
                                        <%= link_to 'Estado de Avance', hr_process_assessment_estado_avance_para_jefe_path(@hr_process, hr_process_user) %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                      <% end %>

                                      <% if @hr_process.jefe_cons_res_final %>

                                        <%= link_to 'Resultado', hr_process_assessment_resultado_final_para_jefe_path(@hr_process, hr_process_user) %>
                                      <% end %>


                                    </td>
                                  </tr>
                                <% end %>
                                </tbody>
                            </table>




                                <% if @hr_process.muestra_grupos? %>

                                    <div class="row">

                                      <% @hr_process_dimensions.each do |hr_process_dimension| %>

                                          <div class="col-md-6">
                                            <div class="panel panel-default">
                                              <div class="panel-body">

                                                <legend><%= hr_process_dimension.nombre %></legend>

                                                <% if hr_process_dimension.hr_process_dimension_gs.length > 0 %>

                                                    <% numero_sin_descripcion = hr_process_dimension.hr_process_dimension_gs.where('descripcion IS NULL').length %>

                                                    <table class="table table-striped table-bordered">

                                                      <thead>
                                                      <tr>
                                                        <th>
                                                          <div class="text-center">
                                                            Rango
                                                          </div>
                                                        </th>
                                                        <th>Descripción</th>
                                                        <% if numero_sin_descripcion == 0 %>
                                                            <th>Detalle</th>
                                                        <% end %>
                                                      </tr>
                                                      </thead>

                                                      <tbody>

                                                      <% hr_process_dimension.hr_process_dimension_gs.each do |hr_process_dimension_g| %>
                                                          <tr style="<%= 'color: #'+hr_process_dimension_g.color_text+';' if hr_process_dimension_g.color_text %>">
                                                            <td>
                                                              <div class="text-center">
                                                                <nobr>
                                                                  <%= hr_process_dimension_g.valor_minimo %>%

                                                                  -

                                                                  <%= hr_process_dimension_g.valor_maximo %>%
                                                                </nobr>
                                                              </div>
                                                            </td>
                                                            <td><%= hr_process_dimension_g.nombre %></td>
                                                            <% if numero_sin_descripcion == 0 %>
                                                                <td><%= hr_process_dimension_g.descripcion %></td>
                                                            <% end %>
                                                          </tr>
                                                      <% end %>

                                                      </tbody>

                                                    </table>

                                                <% end %>
                                              </div>
                                            </div>
                                          </div>

                                      <% end %>

                                    </div>

                                <% end %>

                                <% if @hr_process.muestra_cajas? %>


                                    <% if @hr_process_dimensions.length == 1 && @hr_process_dimensions.first.hr_process_dimension_gs.length > 0 %>

                                        <div class="row">
                                          <div class="col-md-8 col-md-offset-2">

                                            <% ancho_grupo = 12/@hr_process_dimensions.first.hr_process_dimension_gs.length %>

                                            <div class="row">

                                              <% hr_process_assessment_d =  @hr_process_user_connected.hr_process_assessment_ds.find_by_hr_process_dimension_id(hr_process_dimensions.first.id) %>


                                              <% @hr_process_dimensions.first.hr_process_dimension_gs.each do |hr_process_dimension_g| %>




                                                  <% hr_process_quadrant = @hr_process_template.quadrant_1d(hr_process_dimension_g.id) %>

                                                  <div class="col-md-<%= ancho_grupo %> well"

                                                       <% if hr_process_quadrant %>

                                                       style="



                                                       <%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant.color_text %>
                                                               <%= 'background-color: #'+hr_process_quadrant.color+';' if hr_process_quadrant.color %>


                                                       "

                                                       <% end %>

                                                       >
                                                    <% if hr_process_quadrant %>


                                                        <strong>
                                                          <%= hr_process_quadrant.nombre.html_safe %>
                                                        </strong>





                                                    <% else %>

                                                        No definido <i class="fa fa-exclamation-triangle"></i>

                                                    <% end %>

                                                  </div>

                                              <% end %>

                                            </div>

                                            <div class="row">

                                              <% @hr_process_dimensions.first.hr_process_dimension_gs.each do |hr_process_dimension_g| %>

                                                  <div class="col-md-<%= ancho_grupo %>">

                                                    <div class="row">
                                                      <div class="col-md-12">
                                                        <%= hr_process_dimension_g.nombre%>
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col-md-6">
                                                        <%= hr_process_dimension_g.valor_minimo %>%
                                                      </div>
                                                      <div class="col-md-6 text-right">
                                                        <%= hr_process_dimension_g.valor_maximo %>%
                                                      </div>
                                                    </div>
                                                  </div>


                                              <% end %>

                                            </div>

                                            <div class="row">

                                              <div class="col-md-6">
                                                <strong>
                                                  <%= @hr_process_dimensions.first.nombre %>:

                                                  <% hr_process_assessment_d =  @hr_process_user_connected.hr_process_assessment_ds.find_by_hr_process_dimension_id(@hr_process_dimensions.first.id) %>

                                                  <% if hr_process_assessment_d %>


                                                      <% if hr_process_assessment_d.resultado_porcentaje.to_i == hr_process_assessment_d.resultado_porcentaje %>
                                                          <%= hr_process_assessment_d.resultado_porcentaje.to_i %>%
                                                      <% else %>
                                                          <%= number_with_precision(hr_process_assessment_d.resultado_porcentaje, precision: 1, :separator => '.' ) %>%
                                                      <% end %>

                                                  <% end %>
                                                </strong>
                                              </div>
                                              <div class="col-md-6">

                                                <% if @hr_process_dimensions.first.hr_process_dimension_es.length > 1 %>

                                                    <% @hr_process_dimensions.first.hr_process_dimension_es.each do |hr_process_dimension_e_id| %>
                                                        - <%= hr_process_dimension_e.hr_evaluation_type.nombre if hr_process_dimension_e.hr_evaluation_type %>
                                                        (<%= hr_process_dimension_e.porcentaje %>%)

                                                        <% @hr_process_evaluations.each do |hr_process_evaluation| %>
                                                            <% if hr_process_evaluation.hr_process_dimension_e_id == hr_process_dimension_e_id.id %>
                                                                <% hr_process_assessment_ef = HrProcessAssessmentEf.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? ', hr_process_evaluation.id, @hr_process_user_connected.id).first %>
                                                                <% if hr_process_assessment_ef %>
                                                                    <% if hr_process_assessment_ef.resultado_porcentaje.to_i == hr_process_assessment_ef.resultado_porcentaje %>
                                                                        <%= hr_process_assessment_ef.resultado_porcentaje.to_i %>%
                                                                    <% else %>
                                                                        <%= number_with_precision(hr_process_assessment_ef.resultado_porcentaje, precision: 1, :separator => '.' ) %>%
                                                                    <% end %>
                                                                <% end %>
                                                            <% end %>
                                                        <% end %>

                                                        <br>
                                                    <% end %>
                                                <% end %>
                                              </div>

                                            </div>

                                          </div>
                                        </div>


                                    <% elsif @hr_process_dimensions.size == 2 && @hr_process_dimensions.first.hr_process_dimension_gs.size > 0 %>

                                        <% dimension_eje_x = @hr_process_dimensions.first %>
                                        <% dimension_eje_y = @hr_process_dimensions.last %>

                                        <%= render partial: 'hr_process_assessments/quadrants_2d_with_lists',
                                                   locals: {
                                                           hr_process_template: @hr_process_template,
                                                           dimension_eje_x: @hr_process_dimensions.first,
                                                           dimension_eje_y: @hr_process_dimensions.last,
                                                           lista_cajas: lista_cajas,
                                                           lista_usuarios: lista_usuarios
                                                   }
                                        %>

                                    <% end %>

                                <% end %>


                    <% end %>



            </div>
          </div>

        </div>

      </div>



    <% end %>


