
  <ul class="breadcrumb">
    <li>
      <%= link_to 'Gestión del desempeño', hr_process_assessment_listar_procesos_path, tabindex: '-1' %>

    </li>
    <li class="active">Evaluar</li>
  </ul>


<div class="row">
  <div class="col-md-6 col-md-offset-3 panel_content_info-<%= $current_domain %>">

    <legend class="text-center">
      <%= @hr_process.year %> - <%= @hr_process.nombre %>
    </legend>

    <div class="row">
      <div class="col-md-6">
        <strong>Fecha de inicio</strong>

        <%= (localize @hr_process.fecha_inicio, format: :day_snmonth_year) %>

        <% if lms_time > @hr_process.fecha_inicio %>
              <!--
              <span class="label label-danger">Hace
                <%= distance_of_time_in_words(@hr_process.fecha_inicio, lms_time) %>
              </span>
              -->
        <% else %>
              <span class="label label-primary">En
                <%= distance_of_time_in_words(lms_time, @hr_process.fecha_inicio) %>
              </span>
        <% end %>
      </div>
      <div class="col-md-6">
        <strong>Fecha de fin</strong>
        <%= (localize @hr_process.fecha_fin, format: :day_snmonth_year) %>

        <% if lms_time > @hr_process.fecha_fin %>
              <!--
              <span class="label label-danger">Hace
                <%= distance_of_time_in_words(@hr_process.fecha_fin, lms_time) %>
              </span>
              -->

              <span class="label label-danger">Finalizado</span>

        <% else %>
              <span class="label label-primary">En
                <%= distance_of_time_in_words(lms_time, @hr_process.fecha_fin) %>
              </span>
        <% end %>
      </div>
    </div>


  </div>
</div>
<br><br>

<% characteristics_mini_ficha = Characteristic.where('mini_ficha = ?', true).reorder('orden_mini_ficha') %>


<%

  lista_usuarios = Array.new
  lista_cajas = Array.new

%>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul class="nav nav-pills nav-pills-<%= $current_domain %>" style="display: inline-block;">



      <li class="<%= 'active' unless session[:hr_process_assessment_ver_proceso_tab] %>">
        <a href="#tab_evaluar"  data-toggle="tab">Evaluar</a>
      </li>

      <% @hr_process.hr_process_evaluations.find_all_by_vigente(true).each do |hr_process_evaluation| %>

        <% hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.each do |hr_evaluation_type_element| %>

          <% if hr_evaluation_type_element.carga_manual %>

            <% definir_elemento_a_evaluar = false %>
            <% definir_elemento_a_autoevaluar = false %>

            <% if @autoeval %>
              <% if hr_evaluation_type_element.evaluacion_colaborativa && hr_process_evaluation.hr_process_dimension_e.eval_auto%>
                <% definir_elemento_a_autoevaluar = true %>
              <% end %>
            <% else %>
              <% @hr_process_user_connected.hr_process_evalua_rels.each do |rel| %>


                <% if rel.tipo == 'jefe' %>

                  <% definir_elemento_a_evaluar = true %>
                  <% break %>

                <% end %>

              <% end %>
            <% end %>

            <% if definir_elemento_a_evaluar || definir_elemento_a_autoevaluar %>

              <li class="<%= 'active' if session[:hr_process_assessment_ver_proceso_tab] == hr_evaluation_type_element.id %>">
                <a href="#tab_def_<%= hr_evaluation_type_element.hr_evaluation_type.id %>"  data-toggle="tab">Definir <%= hr_evaluation_type_element.hr_evaluation_type.nombre %></a>
              </li>

              <% break %>
            <% end %>

          <% end %>

        <% end %>

      <% end %>

    </ul>
  </div>
</div>

<div class="tab-content">

  <div class="tab-pane <%= 'active' unless session[:hr_process_assessment_ver_proceso_tab] %>" id="tab_evaluar">

    <% if @autoeval && accesso_autoevaluar_proceso(@hr_process) %>

      <div class="row">

        <div class="col-md-10 col-md-offset-1">

          <table class="table table-hover table-bordered">

            <thead>
               <tr>
                 <th>
                   Nombre
                 </th>
                 <th>
                   Apellidos
                 </th>
                 <th>

                 </th>
               </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <%= user_connected.nombre %>
                </td>
                <td>
                  <%= user_connected.apellidos %>
                </td>
                <td>
                  <% if lms_time <= @hr_process.fecha_fin %>

                    <%= link_to 'Autoevaluar', hr_process_assessment_evaluar_path(@hr_process, @hr_process_user_connected) %>

                  <% else %>

                    <%= link_to 'Consultar', hr_process_assessment_evaluar_path(@hr_process, @hr_process_user_connected) %>

                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

    <% end %>



    <% if @autoeval.nil? && accesso_evaluar_proceso(@hr_process) %>

      <div class="row">

        <div class="col-md-12">
          <div class="text-center">

            <strong>
              <h4>Cuadro de Resumen - Mis colaboradores</h4>
            </strong>

          </div>


          <table class="table table-hover table-bordered">

            <thead>

              <tr>
                <th colspan="<%= 3+characteristics_mini_ficha.length %>">
                  <div class="text-center">
                    Datos del colaborador
                  </div>
                </th>
                <th colspan="<%= @hr_process_dimensions.length*2+(@hr_process.muestra_cajas ? 1 : 0) %>">
                  <div class="text-center">
                    Evaluación
                  </div>
                </th>
                <% if @hr_process.tiene_paso_feedback? %>
                  <th rowspan="2">
                    Retroalimentación
                  </th>
                <% end %>
                <th rowspan="2"></th>
              </tr>

              <tr>
                <th>#</th>
                <th>Apellidos</th>
                <th>Nombre</th>


                <% characteristics_mini_ficha.each do |characteristic| %>

                  <th><%= characteristic.nombre %></th>

                <% end %>

                <% @hr_process_dimensions.each do |hr_process_dimension| %>

                  <th colspan="2">
                    <%= hr_process_dimension.nombre %>
                  </th>

                <% end %>
                <% if @hr_process.muestra_cajas? %>
                  <th>
                    Valoración final
                  </th>
                <% end %>
              </tr>

            </thead>
            <tbody>
              <% @hr_process_user_connected.hr_process_evalua_users_uniq_order_by_apellidos_nombre.each_with_index do |hr_process_user, index| %>
                <tr>
                  <td>
                    <%= index+1 %>
                  </td>
                  <td>
                    <%= hr_process_user.user.apellidos %>
                  </td>
                  <td>
                    <%= hr_process_user.user.nombre %>
                  </td>

                  <% characteristics_mini_ficha.each do |characteristic| %>

                    <td>

                      <% uc = hr_process_user.user.user_characteristics.find_by_characteristic_id(characteristic.id) %>
                      <% if uc %>

                      <%= uc.valor %>

                      <% end %>

                    </td>

                  <% end %>

                  <% @hr_process_dimensions.each do |hr_process_dimension| %>

                    <% eval_dimension = nil %>
                    <% hr_process_dimension_g_match = nil %>

                    <% eval_dimension = hr_process_user.hr_process_assessment_ds.find_by_hr_process_dimension_id(hr_process_dimension.id) if hr_process_user.finalizado %>

                    <% if eval_dimension %>
                      <% hr_process_dimension.hr_process_dimension_gs.each do |hr_process_dimension_g| %>

                        <% hr_process_dimension_g_match = hr_process_dimension_g if hr_process_dimension_g.valor_minimo <= eval_dimension.resultado_porcentaje && eval_dimension.resultado_porcentaje <= hr_process_dimension_g.valor_maximo %>

                      <% end %>
                    <% end %>

                    <td style="<%= 'color: #'+hr_process_dimension_g_match.color_text+';' if hr_process_dimension_g_match && hr_process_dimension_g_match.color_text %>">

                      <% if eval_dimension %>

                        <%= eval_dimension.resultado_porcentaje.to_i %>%

                        <!--
                        <% if eval_dimension.resultado_porcentaje.to_i == eval_dimension.resultado_porcentaje %>
                          <%= eval_dimension.resultado_porcentaje.to_i %>%
                        <% else %>
                          <%= number_with_precision(eval_dimension.resultado_porcentaje, precision: 1, :separator => '.' ) %>%
                        <% end %>
                        -->
                      <% end %>

                    </td>

                    <td style="<%= 'color: #'+hr_process_dimension_g_match.color_text+';' if hr_process_dimension_g_match && hr_process_dimension_g_match.color_text %>">

                      <%= hr_process_dimension_g_match.nombre if hr_process_dimension_g_match %>

                    </td>

                  <% end %>

                  <% if @hr_process.muestra_cajas? %>

                    <td>
                      <div class="text-center">
                        <% if hr_process_user.finalizado %>

                          <% hr_process_quadrant = hr_process_user.quadrant %>
                          <% if hr_process_quadrant && hr_process_quadrant.nombre %>

                            <%

                               lista_usuarios.push hr_process_user
                               lista_cajas.push hr_process_quadrant

                            %>

                              <span class="label label-default" style="width: 80%; text-align: center; <%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant.color_text %><%= 'background-color: #'+hr_process_quadrant.color+';' if hr_process_quadrant.color %>">
                                <strong><%= hr_process_quadrant.nombre.html_safe %></strong>
                              </span>

                          <% end %>
                        <% else %>

                          <span class="label label-default">No evaluado</span>

                        <% end %>
                      </div>
                    </td>

                  <% end %>

                  <% if @hr_process.tiene_paso_feedback? %>
                    <td>
                      <% if hr_process_user.feedback_confirmado? %>
                        <span class="label label-success">Confirmada</span>
                      <% else %>
                        <span class="label label-danger">Pendiente</span>
                      <% end %>
                    </td>
                  <% end %>

                  <td>
                    <% 
                       if hr_process_user.finalizado 

                         if @hr_process.tiene_paso_feedback?

                            if hr_process_user.feedback_confirmado?
                              texto_link_evaluar = 'Consultar'
                            else
                              texto_link_evaluar = 'Evaluar'
                            end

                         else

                           texto_link_evaluar = 'Consultar'

                         end

                       else

                         if lms_time <= @hr_process.fecha_fin

                           texto_link_evaluar = 'Evaluar'

                         else

                          texto_link_evaluar = 'Consultar'

                         end

                       end
                    %>

                    <%= link_to texto_link_evaluar, hr_process_assessment_evaluar_path(@hr_process, hr_process_user) %>

                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>


        </div>

      </div>

      <% if @hr_process.muestra_grupos? %>

        <br><br>

        <div class="row">

          <% @hr_process_dimensions.each do |hr_process_dimension| %>

            <div class="col-md-4 col-md-offset-1">
              <strong><%= hr_process_dimension.nombre %></strong><br><br>
              <% if hr_process_dimension.hr_process_dimension_gs.length > 0 %>

                <table class="table table-striped table-hover table-bordered">

                  <thead>
                    <tr>
                      <th>
                        <div class="text-center">
                          Rango
                        </div>
                      </th>
                      <th>Descripción</th>
                    </tr>
                  </thead>

                  <tbody>

                  <% hr_process_dimension.hr_process_dimension_gs.each do |hr_process_dimension_g| %>
                    <tr style="<%= 'color: #'+hr_process_dimension_g.color_text+';' if hr_process_dimension_g.color_text %>">
                      <td>
                        <div class="text-center">
                          <nobr>
                            <%= hr_process_dimension_g.valor_minimo %>%

                            -

                            <%= hr_process_dimension_g.valor_maximo %>%
                          </nobr>
                        </div>
                      </td>
                      <td><%= hr_process_dimension_g.nombre %></td>

                    </tr>
                  <% end %>

                  </tbody>

                </table>

              <% end %>

            </div>
            <div class="col-md-1"></div>
          <% end %>

        </div>

      <% end %>

      <% if @hr_process.muestra_cajas? %>

        <br><br>

        <% if @hr_process_dimensions.length == 1 && @hr_process_dimensions.first.hr_process_dimension_gs.length > 0 %>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">

              <% ancho_grupo = 12/@hr_process_dimensions.first.hr_process_dimension_gs.length %>

              <div class="row">

                <% hr_process_assessment_d =  @hr_process_user_connected.hr_process_assessment_ds.find_by_hr_process_dimension_id(hr_process_dimensions.first.id) %>


                <% @hr_process_dimensions.first.hr_process_dimension_gs.each do |hr_process_dimension_g| %>




                  <% hr_process_quadrant = @hr_process_template.quadrant_1d(hr_process_dimension_g.id) %>

                  <div class="col-md-<%= ancho_grupo %> well"

                       <% if hr_process_quadrant %>

                         style="



                             <%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant.color_text %>
                             <%= 'background-color: #'+hr_process_quadrant.color+';' if hr_process_quadrant.color %>


                         "

                       <% end %>

                       >
                    <% if hr_process_quadrant %>


                        <strong>
                          <%= hr_process_quadrant.nombre.html_safe %>
                        </strong>





                    <% else %>

                      No definido <i class="fa fa-exclamation-triangle"></i>

                    <% end %>

                  </div>

                <% end %>

              </div>

              <div class="row">

                <% @hr_process_dimensions.first.hr_process_dimension_gs.each do |hr_process_dimension_g| %>

                  <div class="col-md-<%= ancho_grupo %>">

                    <div class="row">
                      <div class="col-md-12">
                        <%= hr_process_dimension_g.nombre%>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <%= hr_process_dimension_g.valor_minimo %>%
                      </div>
                      <div class="col-md-6 text-right">
                        <%= hr_process_dimension_g.valor_maximo %>%
                      </div>
                    </div>
                  </div>


                <% end %>

              </div>

              <div class="row">

                <div class="col-md-6">
                  <strong>
                    <%= @hr_process_dimensions.first.nombre %>:

                    <% hr_process_assessment_d =  @hr_process_user_connected.hr_process_assessment_ds.find_by_hr_process_dimension_id(@hr_process_dimensions.first.id) %>

                    <% if hr_process_assessment_d %>


                      <% if hr_process_assessment_d.resultado_porcentaje.to_i == hr_process_assessment_d.resultado_porcentaje %>
                        <%= hr_process_assessment_d.resultado_porcentaje.to_i %>%
                      <% else %>
                        <%= number_with_precision(hr_process_assessment_d.resultado_porcentaje, precision: 1, :separator => '.' ) %>%
                      <% end %>

                    <% end %>
                  </strong>
                </div>
                <div class="col-md-6">

                  <% if @hr_process_dimensions.first.hr_process_dimension_es.length > 1 %>

                    <% @hr_process_dimensions.first.hr_process_dimension_es.each do |hr_process_dimension_e_id| %>
                      - <%= hr_process_dimension_e.hr_evaluation_type.nombre if hr_process_dimension_e.hr_evaluation_type %>
                      (<%= hr_process_dimension_e.porcentaje %>%)

                      <% @hr_process_evaluations.each do |hr_process_evaluation| %>
                        <% if hr_process_evaluation.hr_process_dimension_e_id == hr_process_dimension_e_id.id %>
                          <% hr_process_assessment_ef = HrProcessAssessmentEf.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? ', hr_process_evaluation.id, @hr_process_user_connected.id).first %>
                          <% if hr_process_assessment_ef %>
                            <% if hr_process_assessment_ef.resultado_porcentaje.to_i == hr_process_assessment_ef.resultado_porcentaje %>
                              <%= hr_process_assessment_ef.resultado_porcentaje.to_i %>%
                            <% else %>
                              <%= number_with_precision(hr_process_assessment_ef.resultado_porcentaje, precision: 1, :separator => '.' ) %>%
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>

                      <br>
                    <% end %>
                  <% end %>
                </div>

              </div>

            </div>
          </div>


        <% elsif @hr_process_dimensions.length == 2 && @hr_process_dimensions.first.hr_process_dimension_gs.length > 0 %>




          <div class="row">
          <div class="col-md-1 dimension-hr-process-<%= $current_domain%>">
            <strong>
              <div class="vertical-text">
                <%= @hr_process_dimensions.last.nombre %><br><br>
              </div><!--
                    <% hr_process_assessment_d =  @hr_process_user_connected.hr_process_assessment_ds.find_by_hr_process_dimension_id(@hr_process_dimensions.last.id) %>

                    <% porcentaje_rows = nil %>

                    <% if hr_process_assessment_d %>

                      <% porcentaje_rows = hr_process_assessment_d.resultado_porcentaje %>

                      <% if hr_process_assessment_d.resultado_porcentaje.to_i == hr_process_assessment_d.resultado_porcentaje %>
                        <%= hr_process_assessment_d.resultado_porcentaje.to_i %>%
                      <% else %>
                        <%= number_with_precision(hr_process_assessment_d.resultado_porcentaje, precision: 1, :separator => '.' ) %>%
                      <% end %>

                    <% end %>

                    <% hr_process_assessment_d =  @hr_process_user_connected.hr_process_assessment_ds.find_by_hr_process_dimension_id(@hr_process_dimensions.first.id) %>

                    <% porcentaje_cols = nil %>

                    <% if hr_process_assessment_d %>

                      <% porcentaje_cols = hr_process_assessment_d.resultado_porcentaje %>

                    <% end %>
                    -->
            </strong>
            <br>

            <% if @hr_process_dimensions.last.hr_process_dimension_es.length > 1 %>

              <% @hr_process_dimensions.last.hr_process_dimension_es.each do |hr_process_dimension_e| %>
                - <%= hr_process_dimension_e.hr_evaluation_type.nombre if hr_process_dimension_e.hr_evaluation_type %>
                (<%= hr_process_dimension_e.porcentaje %>%):

                <% @hr_process_evaluations.each do |hr_process_evaluation| %>
                  <% if hr_process_evaluation.hr_process_dimension_e_id == hr_process_dimension_e.id %>
                    <% hr_process_assessment_ef = HrProcessAssessmentEf.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? ', hr_process_evaluation.id, @hr_process_user_connected.id).first %>
                    <% if hr_process_assessment_ef %>
                      <% if hr_process_assessment_ef.resultado_porcentaje.to_i == hr_process_assessment_ef.resultado_porcentaje %>
                        <%= hr_process_assessment_ef.resultado_porcentaje.to_i %>%
                      <% else %>
                        <%= number_with_precision(hr_process_assessment_ef.resultado_porcentaje, precision: 1, :separator => '.' ) %>%
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>

                <br>
              <% end %>

            <% end %>

          </div>
          <div class="col-md-10">

            <% ancho_grupo = 12/@hr_process_dimensions.first.hr_process_dimension_gs.length %>

            <% @hr_process_dimensions.last.hr_process_dimension_gs.reorder('orden DESC').each do |hr_process_dimension_g_row| %>



              <div class="row">
                <div class="col-md-2 text-right grupo-hr-process-<%= $current_domain%>">

                  <div class="row" >
                    <div class="col-md-12"   style="margin: 3px;">
                      <strong>
                        <%= hr_process_dimension_g_row.nombre%>
                      </strong>
                      <br>
                      <%= hr_process_dimension_g_row.valor_minimo %>% - <%= hr_process_dimension_g_row.valor_maximo %>%

                    </div>
                  </div>

                </div>

                <div class="col-md-10">

                  <div class="row">

                    <% @hr_process_dimensions.first.hr_process_dimension_gs.each do |hr_process_dimension_g| %>

                      <% hr_process_quadrant = @hr_process_template.quadrant_2d(hr_process_dimension_g.id, hr_process_dimension_g_row.id) %>

                      <div class="col-md-<%= ancho_grupo %> well"

                           <% if hr_process_quadrant %>

                           style="margin: 3px;


                               <%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant.color_text%>
                               <%= 'background-color: #'+hr_process_quadrant.color+';' if hr_process_quadrant.color %>

                           "
                           <% else %>
                           style="margin: 3px;"
                           <% end %>
                           >

                        <% if hr_process_quadrant %>

                            <strong>
                              <%= hr_process_quadrant.nombre.html_safe %>
                              <br>
                              <%= hr_process_quadrant.descripcion.html_safe if hr_process_quadrant.descripcion %>
                            </strong>
                            <div style="padding-top: 5px;">
                              <% lista_cajas.each_with_index do |caja, posicion| %>

                                <% if caja.id == hr_process_quadrant.id %>
                                  <li>
                                  <%= lista_usuarios[posicion].user.apellidos %>
                                  <%= lista_usuarios[posicion].user.nombre %>
                                  </li>
                                <% end %>

                              <% end %>
                            </div>
                        <% else %>
                          No definido <i class="fa fa-exclamation-triangle" ></i>
                        <% end %>

                      </div>


                    <% end %>

                  </div>



                </div>

              </div>
            <% end %>

            <div class="row">

              <div class="col-md-10 col-md-offset-2">
                <br>
                <div class="row">

                  <% @hr_process_dimensions.first.hr_process_dimension_gs.each do |hr_process_dimension_g| %>

                    <div class="col-md-<%= ancho_grupo %> grupo-hr-process-<%= $current_domain%>" style="margin: 3px;">

                      <div class="row">
                        <div class="col-md-12 text-center ">
                          <strong><%= hr_process_dimension_g.nombre%></strong>
                          <br>
                          <%= hr_process_dimension_g.valor_minimo %>% - <%= hr_process_dimension_g.valor_maximo %>%
                        </div>

                      </div>

                    </div>


                  <% end %>

                </div>
                <br>
                <div class="row">

                  <div class="col-md-12 dimension-hr-process-<%= $current_domain%>  text-center"  style="margin: 3px;">
                    <strong>
                      <%= @hr_process_dimensions.first.nombre %>
                      <!--:

                            <% hr_process_assessment_d =  @hr_process_user_connected.hr_process_assessment_ds.find_by_hr_process_dimension_id(@hr_process_dimensions.first.id) %>

                            <% if hr_process_assessment_d %>


                              <% if hr_process_assessment_d.resultado_porcentaje.to_i == hr_process_assessment_d.resultado_porcentaje %>
                                <%= hr_process_assessment_d.resultado_porcentaje.to_i %>%
                              <% else %>
                                <%= number_with_precision(hr_process_assessment_d.resultado_porcentaje, precision: 1, :separator => '.' ) %>%
                              <% end %>

                            <% end %>
                            -->
                    </strong>
                    <br>

                    <% if @hr_process_dimensions.first.hr_process_dimension_es.length > 1 %>
                      <% @hr_process_dimensions.first.hr_process_dimension_es.each do |hr_process_dimension_e| %>
                        - <%= hr_process_dimension_e.hr_evaluation_type.nombre if hr_process_dimension_e.hr_evaluation_type %>
                        (<%= hr_process_dimension_e.porcentaje %>%):
                        <% @hr_process_evaluations.each do |hr_process_evaluation| %>
                          <% if hr_process_evaluation.hr_process_dimension_e_id == hr_process_dimension_e.id %>
                            <% hr_process_assessment_ef = HrProcessAssessmentEf.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? ', hr_process_evaluation.id, @hr_process_user_connected.id).first %>
                            <% if hr_process_assessment_ef %>
                              <% if hr_process_assessment_ef.resultado_porcentaje.to_i == hr_process_assessment_ef.resultado_porcentaje %>
                                <%= hr_process_assessment_ef.resultado_porcentaje.to_i %>%
                              <% else %>
                                <%= number_with_precision(hr_process_assessment_ef.resultado_porcentaje, precision: 1, :separator => '.' ) %>%
                              <% end %>
                            <% end %>
                          <% end %>
                        <% end %>
                        <br>

                      <% end %>
                    <% end %>
                  </div>


                </div>

              </div>

            </div>

          </div>
          </div>
        <% end %>

      <% end %>

    <% end %>

  </div>


  <% @hr_process.hr_process_evaluations.find_all_by_vigente(true).each do |hr_process_evaluation| %>

    <% hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.each do |hr_evaluation_type_element| %>

      <% if hr_evaluation_type_element.carga_manual %>

        <% definir_elemento_a_evaluar = false %>
        <% definir_elemento_a_autoevaluar = false %>

        <% if @autoeval %>

          <% if hr_evaluation_type_element.evaluacion_colaborativa && hr_process_evaluation.hr_process_dimension_e.eval_auto%>
            <% definir_elemento_a_autoevaluar = true %>
          <% end %>

        <% else %>

          <% @hr_process_user_connected.hr_process_evalua_rels.each do |rel| %>

            <% if rel.tipo == 'jefe' %>

              <% definir_elemento_a_evaluar = true %>
              <% break %>

            <% end %>

          <% end %>

        <% end %>

        <% if definir_elemento_a_evaluar || definir_elemento_a_autoevaluar %>

          <div class="tab-pane <%= 'active' if session[:hr_process_assessment_ver_proceso_tab] == hr_evaluation_type_element.id %>" id="tab_def_<%= hr_evaluation_type_element.hr_evaluation_type.id %>" >


            <div class="row">
              <div class="col-md-10 col-md-offset-1">

                <% if definir_elemento_a_autoevaluar %>

                  <% mq = hr_process_evaluation.hr_process_evaluation_manual_qs.where('hr_process_user_id = ?',@hr_process_user_connected.id).first %>
                  <% manual_q_confirmado = true if mq && mq.confirmado %>

                <table class="table table-bordered">
                  <thead>
                    <tr>

                      <% if hr_evaluation_type_element.tiene_clasificacion %>

                        <th>
                          <%= hr_evaluation_type_element.nombre_clasificacion %>
                        </th>

                      <% end %>

                      <th>
                        Descripción
                      </th>
                      <th>
                        Peso
                      </th>

                      <% if hr_evaluation_type_element.indicador_logro %>

                        <th>
                          Descripción del indicador
                        </th>
                        <th>
                          Meta del indicador
                        </th>
                        <th>
                          Unidad de medida del indicador
                        </th>

                      <% end %>

                      <th colspan="2">
                        <% unless manual_q_confirmado %>
                          <%= link_to 'Crear nuevo', new_hr_process_evaluation_manual_q_path(@hr_process, hr_process_evaluation,hr_evaluation_type_element) %>
                        <% end %>
                      </th>
                    </tr>
                  </thead>
                  <tbody>

                    <% hr_process_user_connected = @hr_process.hr_process_users.find_by_user_id(user_connected.id) %>

                    <% hr_process_evaluation.hr_process_evaluation_manual_qs.where('hr_process_user_id = ?',hr_process_user_connected.id).each do |hr_process_evaluation_manual_q| %>

                      <tr>

                        <% if hr_evaluation_type_element.tiene_clasificacion %>

                          <td>
                            <%= hr_process_evaluation_manual_q.hr_process_evaluation_q_classification.nombre if hr_process_evaluation_manual_q.hr_process_evaluation_q_classification %>
                          </td>

                        <% end %>

                        <td>
                          <%= hr_process_evaluation_manual_q.texto %>
                        </td>
                        <td>
                          <%= hr_process_evaluation_manual_q.peso %>%
                        </td>

                        <% if hr_evaluation_type_element.indicador_logro %>

                          <td>
                            <%= hr_process_evaluation_manual_q.descripcion_indicador %>
                          </td>

                          <td>
                            <%= hr_process_evaluation_manual_q.meta_indicador %>
                          </td>

                          <td>
                            <%= hr_process_evaluation_manual_q.unidad_medida_indicador %>
                          </td>

                        <% end %>

                        <td>
                          <% unless manual_q_confirmado %>
                            <%= link_to 'Editar', edit_hr_process_evaluation_manual_q_path(hr_process_evaluation_manual_q) %>
                          <% end %>
                        </td>
                        <td>

                        </td>
                      </tr>

                    <% end %>

                  </tbody>

                </table>

                <% end %>

                <% if definir_elemento_a_evaluar %>
                  <br><br>

                  <table class="table table-hover table-bordered">

                    <thead>

                    <tr>
                      <th colspan="<%= 3+characteristics_mini_ficha.length %>">
                        <div class="text-center">
                          Datos del colaborador
                        </div>
                      </th>
                      <th rowspan="2" colspan="2">
                        Asignación de <%= hr_evaluation_type_element.hr_evaluation_type.nombre %>
                      </th>
                    </tr>

                    <tr>
                      <th>#</th>
                      <th>Apellidos</th>
                      <th>Nombre</th>


                      <% characteristics_mini_ficha.each do |characteristic| %>

                        <th><%= characteristic.nombre %></th>

                      <% end %>



                    </tr>

                    </thead>
                    <tbody>
                    <% @hr_process_user_connected.hr_process_evalua_users_uniq_order_by_apellidos_nombre.each_with_index do |hr_process_user, index| %>
                      <tr>
                        <td>
                          <%= index+1 %>
                        </td>
                        <td>
                          <%= hr_process_user.user.apellidos %>
                        </td>
                        <td>
                          <%= hr_process_user.user.nombre %>
                        </td>

                        <% characteristics_mini_ficha.each do |characteristic| %>

                          <td>

                            <% uc = hr_process_user.user.user_characteristics.find_by_characteristic_id(characteristic.id) %>
                            <% if uc %>

                              <%= uc.valor %>

                            <% end %>

                          </td>

                        <% end %>


                        <td>
                          <div class="text-center">

                            <% mq = hr_process_evaluation.hr_process_evaluation_manual_qs.where('hr_process_user_id = ?',hr_process_user.id).first %>
                            <% manual_q_confirmado = true if mq && mq.confirmado %>

                            <% numero_manual_q = hr_process_evaluation.hr_process_evaluation_manual_qs.where('hr_process_user_id = ?',hr_process_user.id).length %>

                            <% if numero_manual_q == 0 %>

                              <span class="label label-default">No definidos</span>

                            <% elsif manual_q_confirmado %>

                                <span class="label label-success">Finalizado</span>

                            <% else %>

                              <span class="label label-primary">En progreso</span>

                            <% end %>

                          </div>
                        </td>
                        <td>
                          <%= link_to 'Definir', hr_process_evaluation_manual_q_ver_usuario_path(@hr_process, hr_process_evaluation,hr_evaluation_type_element, hr_process_user) %>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>

                <% end %>

              </div>
            </div>




          </div>

          <% break %>
        <% end %>

      <% end %>

    <% end %>

  <% end %>
</div>

<% session.delete(:hr_process_assessment_ver_proceso_tab) %>