<div class="row">

  <div class="col-md-3">

  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>: Calibración
    </h1>
  </div>

</div>


<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Sesiones de calibración</legend><br><br>

        <table id="datatable_fixed_column" class="table table-striped table-bordered smart-form">
          <thead>

            <tr>
              <th>#</th>
              <th>Descripción</th>
              <th>Inicio</th>
              <th>Fin</th>
              <th>Estado</th>
              <th>Comité</th>
              <th>Participantes</th>
              <th></th>
            </tr>

            <tr class="second">
              <td>
                <label class="input">
                  <input type="text" name="search_num" value="" class="search_init">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text" name="search_desc" value="" class="search_init">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text" name="search_ini" value="" class="search_init">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text" name="search_fin" value="" class="search_init">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text" name="search_est" value="" class="search_init">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text" name="search_com" value="" class="search_init">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text" name="search_par" value="" class="search_init">
                </label>
              </td>
              <td>

              </td>
            </tr>

          </thead>

          <tbody>
            <% index = 1 %>
            <% @hr_process_calibration_sessions.each do |hr_process_calibration_session| %>
              <% if hr_process_calibration_session.hr_process_calibration_session_cs.where('user_id = ?',user_connected.id).size > 0 %>
                <tr>
                  <td><%= index %><% index += 1 %></td>
                  <td><%= hr_process_calibration_session.descripcion %></td>
                  <td><%= (localize hr_process_calibration_session.inicio, format: :day_snmonth_year) %></td>
                  <td><%= (localize hr_process_calibration_session.fin, format: :day_snmonth_year) %></td>
                  <td>
                    <% if hr_process_calibration_session.abierta %>
                      <span class="label label-success" style="color: #fff; text-align: center">
                        Abierta
                      </span>
                    <% else %>
                      <span class="label label-danger" style="color: #fff; text-align: center">
                        Finalizada
                      </span>
                    <% end %>
                  </td><td>
                    <% hr_process_calibration_session.hr_process_calibration_session_cs_order_by_apellidos_nombre.each do |hr_process_calibration_session_c| %>
                      - <%= hr_process_calibration_session_c.user.apellidos %> <%= hr_process_calibration_session_c.user.nombre %>

                      <% if hr_process_calibration_session_c.manager %>

                        <label class="label label-primary" style="color: #fff; text-align: center">Responsable</label>

                      <% end %>

                      <br>
                    <% end %>
                  </td>
                  <td>
                    <%= hr_process_calibration_session.hr_process_calibration_session_ms.size %>
                  </td>
                  <td>
                    <%= link_to 'Gestionar', hr_process_assessment_ver_proceso_calibrar_path(@hr_process, hr_process_calibration_session) %>
                  </td>
                </tr>
              <% end %>
            <% end %>

          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>


<!-- PAGE RELATED PLUGIN(S) -->
<script src="/assets/datatables/jquery.dataTables-cust.min.js"></script>
<script src="/assets/datatables/ColReorder.min.js"></script>
<script src="/assets/datatables/FixedColumns.min.js"></script>
<script src="/assets/datatables/ColVis.min.js"></script>
<script src="/assets/datatables/ZeroClipboard.js"></script>
<script src="/assets/datatables/media/js/TableTools.min.js"></script>
<script src="/assets/datatables/DT_bootstrap.js"></script>


<script type="text/javascript">

  // DO NOT REMOVE : GLOBAL FUNCTIONS!

  $(document).ready(function() {

    $("#datatable_fixed_column thead input").keyup(function() {
      oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
    });

    $("#datatable_fixed_column thead input").each(function(i) {
      this.initVal = this.value;
    });
    $("#datatable_fixed_column thead input").focus(function() {
      if (this.className == "search_init") {
        this.className = "";
        this.value = "";
      }
    });
    $("#datatable_fixed_column thead input").blur(function(i) {
      if (this.value == "") {
        this.className = "search_init";
        this.value = this.initVal;
      }
    });


    var oTable = $('#datatable_fixed_column').dataTable({

      "sDom" : "<'dt-top-row'lf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
      "sPaginationType" : "bootstrap_full",
      "aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
      "iDisplayLength" : 10,
      "bSortCellsTop" : true,
      "aoColumnDefs" : [ {
        'bSortable' : false,
        'aTargets' : [ 6]
      } ]
    });

  })

</script>





