
<% pe_group = nil %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>

<% pe_assessment_evaluation = pe_member_rel.pe_assessment_evaluation(pe_evaluation) %>

  <div class="panel panel-default">
    <div class="panel-body">

      <table width="100%">
        <tr>

          <% ancho_grupo = pe_evaluation.pe_slider_groups.size > 0 ? 100/pe_evaluation.pe_slider_groups.size : 100 %>

          <% pe_evaluation.pe_slider_groups.each do |pe_slider_group| %>

            <td class="text-center" width="<%= ancho_grupo %>%" style="font-size: 11px; padding: 10px;<%= 'color: #'+pe_slider_group.text_color+';' %><%= ('background-color: #'+pe_slider_group.bg_color+';') unless pe_slider_group.bg_color.blank? || pe_slider_group.bg_color == 'ffffff' %>">
              <strong style="color: <%= '#'+pe_slider_group.text_color %>;">
                <%= pe_slider_group.position.to_s+'. '+pe_slider_group.name %>
              </strong>

              <br>
              <%= pe_slider_group.min_sign %> <%= pe_slider_group.min_value %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= pe_slider_group.max_sign %> <%= pe_slider_group.max_value %>

              <br>

              <%= pe_slider_group.description %>


            </td>

          <% end %>
        </tr>

      </table>

      <br>

      <table class="table table-bordered table-hover">

        <tbody>

          <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready_all(pe_member_evaluated, pe_group, pe_rel).each_with_index do |pe_question_1st_level, index_p| %>

            <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question pe_question_1st_level %>

            <td width="1%">
              <%= index_p+1 %>
            </td>
            <td width="30%">
              <% if pe_question_1st_level.pe_element.display_name %>

                <%= pe_question_1st_level.pe_element.name %>.

              <% end %>

              <%= pe_question_1st_level.description.html_safe %>

            </td>

            <% if pe_question_1st_level.pe_element.assessment_method == 3 %>

              <!-- valor_numérico -->
              <td>

                <div class="well" style="margin-bottom: 0px;">
                  <input type="text" name="pe_question_<%= pe_question_1st_level.id %>" id="pe_question_<%= pe_question_1st_level.id %>" data-slider-id="pe_question_<%= pe_question_1st_level.id %>" value="<%= pe_assessment_question ? pe_assessment_question.points : pe_question_1st_level.pe_element.min_numeric_value %>" data-slider-value="<%= pe_assessment_question ? pe_assessment_question.points : pe_question_1st_level.pe_element.min_numeric_value %>" data-slider-min="<%= pe_question_1st_level.pe_element.min_numeric_value %>" data-slider-max="<%= pe_question_1st_level.pe_element.max_numeric_value %>" data-slider-handle="square" eadonly data-slider-enabled="false" readonly data-slider-enabled="false" >
                </div>

              </td>
              <td width="5%">
                <% pe_evaluation.pe_slider_groups.each_with_index do |pe_slider_group, index_dg| %>

                  <div class="well text-center" id="pe_question_<%= pe_question_1st_level.id %>_group_<%= index_dg %>" style="font-size: 11px; margin-bottom: 0px; padding-top: 12px; padding-bottom: 12px;<%= 'color: #'+pe_slider_group.text_color+';' %><%= ('background-color: #'+pe_slider_group.bg_color+';') unless pe_slider_group.bg_color.blank? || pe_slider_group.bg_color == 'ffffff' %>" >

                    <strong>

                      <div class="pe_question_val_<%= pe_question_1st_level.id %>">

                        <%= pe_assessment_question ? pe_assessment_question.points.to_i : pe_question_1st_level.pe_element.min_numeric_value %>

                      </div>

                      <%= pe_slider_group.name %>

                    </strong>

                  </div>

                  <script>

                    $( document ).ready(function() {
                      display_question_result_<%= pe_question_1st_level.id %>_group_<%= index_dg %>(<%= pe_assessment_question ? pe_assessment_question.points.to_i : pe_question_1st_level.pe_element.min_numeric_value %>);
                    });

                  </script>

                <% end %>
              </td>

              <script>

                <% pe_evaluation.pe_slider_groups.each_with_index do |pe_slider_group, index_dg| %>

                function display_question_result_<%= pe_question_1st_level.id %>_group_<%= index_dg %>(slide_v){

                  if (slide_v <%= pe_slider_group.min_sign.html_safe %> <%= pe_slider_group.min_value %> && slide_v <%= pe_slider_group.max_sign.html_safe %> <%= pe_slider_group.max_value %>) {
                    $("#pe_question_<%= pe_question_1st_level.id %>_group_<%= index_dg %>").show();
                  } else {
                    $("#pe_question_<%= pe_question_1st_level.id %>_group_<%= index_dg %>").hide();
                  }

                }

                <% end %>

                $('#pe_question_<%= pe_question_1st_level.id %>').slider({
                  rangeHighlights: [

                    <% pe_evaluation.pe_slider_groups.each_with_index do |pe_slider_group, index_dg| %>

                      <%= ',' if index_dg > 0 %>{ "start": <%= pe_slider_group.min_value %>, "end": <%= pe_slider_group.max_value %> }

                    <% end %>

                  ]
                });

                $("#pe_question_<%= pe_question_1st_level.id %>").on("change", function(slideEvt) {
                  $(".pe_question_val_<%= pe_question_1st_level.id %>").text(slideEvt['value'].newValue);

                  <% pe_evaluation.pe_slider_groups.each_with_index do |pe_slider_group, index_dg| %>

                  display_question_result_<%= pe_question_1st_level.id %>_group_<%= index_dg %>(slideEvt['value'].newValue);

                  <% end %>

                });

              </script>

              <style>

                <% pe_evaluation.pe_slider_groups.each_with_index do |pe_slider_group, index_dg| %>

                #pe_question_<%= pe_question_1st_level.id %> .slider-rangeHighlight-<%= index_dg %> {
                <% unless pe_slider_group.bg_color.blank? || pe_slider_group.bg_color == 'ffffff' %>
                  background: <%= '#'+pe_slider_group.bg_color %>;
                <% else %>
                  background: <%= '#'+pe_slider_group.text_color %>;
                <% end %>

                }

                <% end %>


                .slider-handle.custom {
                  background: transparent none;
                  /* You can customize the handle and set a background image */
                }

                .slider-handle.custom::before {
                  line-height: 20px;
                  font-size: 20px;
                  content: '\25A0';
                  color: #000000;
                }


              </style>

            <% end %>

          <% end %>

        </tbody>

      </table>

    </div>
  </div>