

<div class="panel panel-default">
  <div class="panel-body">

    <% if @pe_process.step_assessment_summary_group %>

      <table class="table table-bordered">
        <thead>

        <tr>

          <% sum_weight = 0 %>

          <% @pe_process.pe_evaluation_groups.each do |pe_evaluation_group| %>
            <th>
              <%= pe_evaluation_group.name %>

              <% p = 0 %>

              <% pe_evaluation_group.pe_evaluations.each do |pe_evaluation| %>

                <% if pe_member_rel.pe_member_evaluated.has_to_be_assessed_in_evaluation(pe_evaluation) %>

                  <% pe_member_evaluation = pe_member_rel.pe_member_evaluated.pe_member_evaluations.where('pe_evaluation_id = ?', pe_evaluation.id).first %>
                  <% weight = pe_member_evaluation ? pe_member_evaluation.weight : pe_evaluation.weight %>
                  <% p += weight %>

                <% end %>

              <% end %>

              (<%= p %>)
              <% sum_weight += p %>
            </th>
          <% end %>

          <th>Resultado Final</th>

        </tr>

        </thead>

        <tbody>

        <tr>

          <% sum_percentage = 0 %>

          <% @pe_process.pe_evaluation_groups.each do |pe_evaluation_group| %>

            <% p = 0 %>

            <% pe_evaluation_group.pe_evaluations.each do |pe_evaluation| %>

              <% if pe_member_rel.pe_member_evaluated.has_to_be_assessed_in_evaluation(pe_evaluation) %>

                <% pe_member_evaluation = pe_member_rel.pe_member_evaluated.pe_member_evaluations.where('pe_evaluation_id = ?', pe_evaluation.id).first %>
                <% weight = pe_member_evaluation ? pe_member_evaluation.weight : pe_evaluation.weight %>
                <% p += weight %>

              <% end %>

            <% end %>

            <td>
              <% pe_assessment_group = pe_member_rel.pe_member_evaluated.pe_assessment_groups.where('pe_evaluation_group_id = ?', pe_evaluation_group.id).first %>
              <%= number_with_precision(pe_assessment_group.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) if pe_assessment_group%>%
              <% sum_percentage += pe_assessment_group.percentage*p %>
            </td>
          <% end %>

          <% if @pe_process.two_dimensions? %>

            <td>

              <% if @pe_process.public_pe_box %>

                <% if pe_member_evaluated.pe_box %>

                    <span class="label label-default label-smart-table" style="text-align: center; color: <%= '#'+pe_member_evaluated.pe_box.text_color %> !important; background-color: <%= '#'+pe_member_evaluated.pe_box.bg_color %>;">
                      <% if pe_member_evaluated.pe_box.short_name %>
                        &nbsp;&nbsp;<%= pe_member_evaluated.pe_box.short_name %>&nbsp;&nbsp;
                        <br>
                      <% end %>
                      &nbsp;&nbsp;<%= pe_member_evaluated.pe_box.name %>&nbsp;&nbsp;
                    </span>

                <% end %>

              <% end %>


            </td>

          <% else %>

            <% pe_assessment_dimension = pe_member_evaluated.pe_assessment_dimension(@pe_process.dimension_x) %>

            <% if pe_assessment_dimension && pe_assessment_dimension.percentage > -1 %>

              <td style="<%= 'color: #'+pe_assessment_dimension.pe_dimension_group.text_color+';' if  pe_assessment_dimension.pe_dimension_group %>">

                <%= number_with_precision(pe_assessment_dimension.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                <% if @pe_process.public_pe_dimension_name %>

                  <%= ' - '+pe_assessment_dimension.pe_dimension_group.name if pe_assessment_dimension.pe_dimension_group %>

                <% end %>

              </td>
            <% else %>
              <td></td>
            <% end %>

          <% end %>

        </tr>

        </tbody>

      </table>


    <% else %>

      <table class="table table-bordered">
        <thead>
        <tr>

          <% pe_evaluations.each do |pe_evaluation| %>

            <% unless pe_evaluation.informative %>

              <th>
                <%= pe_evaluation.name %>

                <% if pe_member_rel.pe_rel.rel == 1 && @pe_process.step_assessment_show_final_results_to_boss %>

                  <% if pe_member_rel.pe_member_evaluated.has_to_be_assessed_in_evaluation(pe_evaluation) %>

                    <% pe_member_evaluation = pe_member_rel.pe_member_evaluated.pe_member_evaluation pe_evaluation %>
                    <% weight = pe_member_evaluation ? pe_member_evaluation.weight : pe_evaluation.weight %>

                    (<%= weight %>)

                  <% end %>

                <% end %>

              </th>

            <% end %>

          <% end %>

          <th>Resultado Final</th>

        </tr>
        </thead>

        <% sum_percentage = 0 %>
        <% sum_weight = 0 %>

        <tbody>
        <tr>
          <% pe_assessment_final_evaluations.each_with_index do |pe_assessment_final_evaluation, index_e| %>

            <% unless pe_evaluations[index_e].informative %>

              <% if pe_assessment_final_evaluation && pe_assessment_final_evaluation.percentage >= 0 %>

                <td style="<%= 'color: #'+pe_assessment_final_evaluation.pe_dimension_group.text_color+';' if pe_assessment_final_evaluation.pe_dimension_group %>">

                  <%= number_with_precision(pe_assessment_final_evaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                  <% if @pe_process.public_pe_dimension_name %>

                    <%= ' - '+pe_assessment_final_evaluation.pe_dimension_group.name if pe_assessment_final_evaluation.pe_dimension_group %>

                  <% end %>

                  <% pe_member_evaluation = pe_member_rel.pe_member_evaluated.pe_member_evaluation pe_assessment_final_evaluation.pe_evaluation %>
                  <% weight = pe_member_evaluation ? pe_member_evaluation.weight : pe_assessment_final_evaluation.pe_evaluation.weight %>

                  <% sum_percentage += pe_assessment_final_evaluation.percentage*weight %>
                  <% sum_weight += weight %>

                </td>
              <% else %>
                <td></td>
              <% end %>

            <% end %>

          <% end %>

          <% if @pe_process.two_dimensions? %>

            <td>

              <% if @pe_process.public_pe_box %>

                <% if pe_member_evaluated.pe_box %>

                    <span class="label label-default label-smart-table" style="text-align: center; color: <%= '#'+pe_member_evaluated.pe_box.text_color %> !important; background-color: <%= '#'+pe_member_evaluated.pe_box.bg_color %>;">
                      <% if pe_member_evaluated.pe_box.short_name %>
                        &nbsp;&nbsp;<%= pe_member_evaluated.pe_box.short_name %>&nbsp;&nbsp;
                        <br>
                      <% end %>
                      &nbsp;&nbsp;<%= pe_member_evaluated.pe_box.name %>&nbsp;&nbsp;
                    </span>

                <% end %>

              <% end %>

            </td>

          <% else %>

            <% pe_assessment_dimension = pe_member_evaluated.pe_assessment_dimension(@pe_process.dimension_x) %>

            <% if pe_assessment_dimension && pe_assessment_dimension.percentage > -1 %>

              <td style="<%= 'color: #'+pe_assessment_dimension.pe_dimension_group.text_color+';' if  pe_assessment_dimension.pe_dimension_group %>">

                <%= number_with_precision(pe_assessment_dimension.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                <% if @pe_process.public_pe_dimension_name %>

                  <%= ' - '+pe_assessment_dimension.pe_dimension_group.name if pe_assessment_dimension.pe_dimension_group %>

                <% end %>

              </td>
            <% else %>
              <td></td>
            <% end %>

          <% end %>



        </tr>
        </tbody>

      </table>

    <% end %>

  </div>
</div>