<% pe_evaluations = Array.new %>
<% pe_assessment_final_evaluations = Array.new %>


<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver al cuadro resumen'.html_safe, pe_query_results_people_list_path(@pe_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">

    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>

      <%= @pe_process.step_query_results_alias %>

    </h1>

  </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% if @pe_process.of_persons? %>

      <%= render partial: 'shared/user_profile_mini',
                 locals: {
                     user: @pe_member_evaluated.user,
                     company: @company,
                     ocultar_historial: @pe_member_rel.pe_rel.rel_name == :jefe ? false : true,
                     titulo: 'Perfil del Evaluado',
                     is_boss: @pe_member_rel.pe_rel.rel_name == :jefe ? true : false

                 }
      %>

    <% else %>

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12">
              <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-cubes"></i>
                Área evaluada
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member_evaluated.pe_area.name %></span></h3>
            </div>
          </div>

          <br>

          <div class="row">

            <div class="col-md-3 text-center">

              <% if @pe_member_evaluated.user.foto %>
                <img src="https://<%=request.host%>/storage/<%=company_codigo%>/fotos_usuarios/<%=@pe_member_evaluated.user.foto%>" class="img-thumbnail user-foto">
              <% else %>
                <img src="/assets/default_user.png" class="img-thumbnail user-foto">

              <% end %>

            </div>
            <div class="col-md-9">

              <div class="row">
                <div class="col-md-12">
                  <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member_evaluated.user.nombre %> <%= @pe_member_evaluated.user.apellidos %></span></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 ">
                  <a><em><%= @pe_member_evaluated.user.email %></em></a>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="text-center">
      <ul class="nav nav-pills nav-pills-<%= $current_domain %>" style="display: inline-block;">

        <% orden_evaluation = 1 %>

        <% @pe_process.pe_evaluations_to_display_in_qres.each do |pe_evaluation| %>
          <% if @pe_member_evaluated.has_to_be_assessed_in_evaluation(pe_evaluation) %>

            <li id="tab_pill_<%= pe_evaluation.id %>" class="<%= 'active' if orden_evaluation == 1 %>">
              <a href="#tab_evaluation_<%= pe_evaluation.id %>" data-toggle="tab"><%= orden_evaluation %>. <%= pe_evaluation.name %></a>
            </li>

            <% orden_evaluation +=1 %>
            <% pe_evaluations.push pe_evaluation %>

            <% pe_assessment_final_evaluations.push @pe_member_evaluated.pe_assessment_final_evaluation(pe_evaluation) %>

          <% end %>
        <% end %>

        <% if @pe_process.step_query_show_summary %>
          <li id="tab_pill_summary">
            <a href="#tab_evaluation_summary" data-toggle="tab"><%= orden_evaluation %>. Resumen</a>
          </li>
        <% end %>

      </ul>
    </div>


  </div>
</div>
<br>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="tab-content">

      <% orden_evaluation = 1 %>

      <% pe_evaluations.each do |pe_evaluation| %>

        <% pe_member_rels_comments = Array.new %>
        <% pe_member_rels_comments.push @pe_member_rel %>

        <% if @pe_rel.rel == 1 %>
          <% pe_rel_aux = @pe_process.pe_rel_by_id 0 %>
          <% pe_member_rels_comments += @pe_member_evaluated.pe_member_rels_is_evaluated_as_pe_rel(pe_rel_aux) if pe_rel_aux %>
        <% elsif @pe_rel.rel == 0 && ((pe_evaluation.qres_allow_individual_comments_by_boss && pe_evaluation.qres_allow_watch_individual_comments_by_boss) || pe_evaluation.qres_allow_individual_comments_with_boss) %>
          <% pe_rel_aux = @pe_process.pe_rel_by_id 1 %>
          <% pe_member_rels_comments += @pe_member_evaluated.pe_member_rels_is_evaluated_as_pe_rel(pe_rel_aux) if pe_rel_aux %>
        <% end %>

        <div class="tab-pane <%= 'active' if orden_evaluation == 1 %>" id="tab_evaluation_<%= pe_evaluation.id %>" >

          <div class="panel panel-default">
            <div class="panel-body">
              <legend><%= orden_evaluation %>. <%= pe_evaluation.name %></legend>

                <% pe_assessment_final_evaluation = @pe_member_evaluated.pe_assessment_final_evaluation(pe_evaluation) %>

                <% if pe_assessment_final_evaluation && pe_assessment_final_evaluation.percentage > -1 %>

                  <strong>
                    Resultado: <%= number_with_precision(pe_assessment_final_evaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
                  </strong>

                <% end %>

                <% if  pe_evaluation.display_weight_in_qres %>
                  <br><br>
                  <strong>
                    Peso:
  
                    <% pe_member_evaluation = @pe_member_rel.pe_member_evaluated.pe_member_evaluation(pe_evaluation) %>
  
                    <% if pe_member_evaluation %>
                      <%= pe_member_evaluation.weight %>%
                    <% else %>
                      <%= pe_evaluation.weight %>%
                    <% end %>
  
                  </strong>
  
                <% end %>

            </div>
          </div>

          <% if pe_evaluation.assessment_layout == 0 %>

            <!-- estandar -->

            <% if pe_evaluation.pe_elements.size == 1 %>

              <%= render partial: 'pe_query_results/evaluation_standard_1_element',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_member_evaluated: @pe_member_evaluated,
                             pe_rel: @pe_rel,
                             pe_member_rel: @pe_member_rel,
                             pe_member_rels_comments: pe_member_rels_comments
                         }
              %>

            <% elsif pe_evaluation.pe_elements.size == 2 %>

              <%= render partial: 'pe_query_results/evaluation_standard_2_elements',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_member_evaluated: @pe_member_evaluated,
                             pe_rel: @pe_rel,
                             pe_member_rel: @pe_member_rel,
                             pe_member_rels_comments: pe_member_rels_comments
                         }
              %>

            <% end %>

          <% elsif pe_evaluation.assessment_layout == 1 %>

            <!-- objetivos_e_indicadores -->

            <% if pe_evaluation.pe_elements.size == 1 %>

              <!-- indicador -->

              <%= render partial: 'pe_query_results/evaluation_ind',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_member_evaluated: @pe_member_evaluated,
                             pe_rel: @pe_rel,
                             pe_member_rel: @pe_member_rel,
                             pe_member_rels_comments: pe_member_rels_comments
                         }
              %>

            <% elsif pe_evaluation.pe_elements.size == 2 %>

              <!-- objetivo indicador -->

              <%= render partial: 'pe_query_results/evaluation_goal_ind',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_member_evaluated: @pe_member_evaluated,
                             pe_rel: @pe_rel,
                             pe_member_rel: @pe_member_rel,
                             pe_member_rels_comments: pe_member_rels_comments
                         }
              %>

            <% elsif pe_evaluation.pe_elements.size == 3 %>

              <!-- pilar objetivo indicador -->

              <%= render partial: 'pe_query_results/evaluation_pilar_goal_ind',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_member_evaluated: @pe_member_evaluated,
                             pe_rel: @pe_rel,
                             pe_member_rel: @pe_member_rel,
                             pe_member_rels_comments: pe_member_rels_comments
                         }
              %>

            <% end %>

          <% elsif pe_evaluation.assessment_layout == 2 %>

            <!-- grid_1_elemento -->

            <% if pe_evaluation.pe_elements.size == 1 %>



              <%= render partial: 'pe_query_results/evaluation_grid_1_element',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_member_evaluated: @pe_member_evaluated,
                             pe_rel: @pe_rel,
                             pe_member_rel: @pe_member_rel,
                             pe_member_rels_comments: pe_member_rels_comments
                         }
              %>

            <% end %>

          <% elsif pe_evaluation.assessment_layout == 3 %>

            <!-- grid_2_elementos -->

            <% if pe_evaluation.pe_elements.size == 2 %>

              <%= render partial: 'pe_query_results/evaluation_grid_2_elements',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_member_evaluated: @pe_member_evaluated,
                             pe_rel: @pe_rel,
                             pe_member_rel: @pe_member_rel,
                             pe_member_rels_comments: pe_member_rels_comments
                         }
              %>

            <% end %>

          <% elsif pe_evaluation.assessment_layout == 4 %>

            <!-- slider_1_elemento -->

            <% if pe_evaluation.pe_elements.size == 1 %>

              <%= render partial: 'pe_query_results/evaluation_slider_1_element',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_member_evaluated: @pe_member_evaluated,
                             pe_rel: @pe_rel,
                             pe_member_rel: @pe_member_rel,
                             pe_member_rels_comments: pe_member_rels_comments
                         }
              %>

            <% end %>

          <% elsif pe_evaluation.assessment_layout == 5 %>

            <!-- slider_2_elementos -->

            <% if pe_evaluation.pe_elements.size == 2 %>

              <%= render partial: 'pe_query_results/evaluation_slider_2_elements',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_member_evaluated: @pe_member_evaluated,
                             pe_rel: @pe_rel,
                             pe_member_rel: @pe_member_rel,
                             pe_member_rels_comments: pe_member_rels_comments
                         }
              %>

            <% end %>

          <% end %>

        </div>

        <% orden_evaluation +=1 %>

        <% if @pe_process.step_query_show_summary %>

          <div class="tab-pane" id="tab_evaluation_summary">

            <%= render partial: 'pe_query_results/summary',
                       locals: {
                           pe_member_evaluated: @pe_member_evaluated,
                           pe_rel: @pe_rel,
                           pe_member_rel: @pe_member_rel,
                           pe_evaluations: pe_evaluations,
                           pe_assessment_final_evaluations: pe_assessment_final_evaluations,
                           pe_member_rels_comments: pe_member_rels_comments
                       }
            %>

            <% if $current_domain.include?('security') && @pe_process.id == 21 %>

              <div class="alert alert-warning">


                <strong>Recordar que el modelo de incentivos Rol Privado tiene 2 tipos de Inhibidores:</strong>
                <br><br>

                Inhibidores de Bloque:

                <br><br>

                <li><strong>Bloque Grupo:</strong> cumplimiento de Objetivos grupo <strong>menor a 90%.</strong> Cumplimiento de este bloque igual a 0%
                <li><strong>Bloque Área:</strong> cumplimiento de Objetivos Area <strong>menor a 80%.</strong> Cumplimiento de este bloque igual a 0%

                  <br><br>

                  Inhibidores de Bono:

                  <br><br>

                <li><strong>ROE Grupo:</strong> ROE Grupo <strong>menor a 10%</strong> ningún evaluado recibe bono, cumplimiento evaluaciones igual a 0%
                <li><strong>Bloque Empresa:</strong> cumplimiento de Objetivos Empresa <strong>menor a 80%.</strong> Los evaluados de esa empresa no reciben bono: cumplimiento evaluación igual a 0%
                <li><strong>Bloque Individual:</strong> cumplimiento de Objetivos Individuales <strong>menor a 80%.</strong> El evaluado no recibe bono: cumplimiento evaluación igual a 0%

              </div>

            <% end %>

          </div>

        <% end %>

      <% end %>


    </div>

    <% if $current_domain.include?('security') && @pe_process.id == 21 %>

      <div class="alert alert-info">


        <li>La información publicada en esta evaluación de desempeño es de carácter confidencial, no puede ser reproducida ni entregada a terceros.
        <li>La información publicada en esta evaluación de desempeño es de uso exclusivo para la medición de sus ejecutivos durante el ejercicio comprendido entre el 1 de enero del año 2018 y el 31 de diciembre del año 2018.
        <li>Los cumplimientos se calculan  sobre información proyectada provista por las áreas de gestión de cada una de las compañías. Esta proyección es realizada por la administración con la información disponible a la fecha de carga de los indicadores en el sistema de evaluación y puede variar con respecto a la información registrada en los estados financieros contables auditados, que son publicados de forma posterior a esta evaluación.

      </div>

    <% end %>

  </div>
</div>
