<div class="modal fade" id="delete_document_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x &nbsp;</button>

    <%= form_for document, url: sc_documentation_delete_path(document), method: :post, html: {class: 'form-horizontal', id: 'delete_sc_documentation_form_modal'} do |f| %>
      <div class="panel panel-default">
        <div class="panel-body">

          <legend> <%= 'Eliminar documento' %></legend>
          <%= render 'shared/error_messages', object: f.object %>

          <div class="alert alert-danger" style="display: none" id="modal_errors_div">
            <li id="modal_errors_description" style="display: none"> La descripción no puede ser vacía </li>
          </div>

          <div class="form-group <%= field_with_errors f, :deleted_description %>">
            <%= f.label :deleted_description, class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_area :deleted_description, class: 'form-control', rows: '3' %>
            </div>
          </div>

        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Eliminar', class: 'btn btn-danger', data: { confirm: '¿Está seguro de eliminar el documento?' }  %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>

<script>
    $('#delete_sc_documentation_form_modal').on('submit', function(e){
        e.preventDefault();
        save = true;
        $('#modal_errors_description').hide();

        if($("#sc_documentation_deleted_description").val() === '') {
            $("#modal_errors_description").show(500);
            save = false
        }

        if (save){
          $("#delete_sc_documentation_form_modal").modal('hide');
          url = $(this).attr('action');

          $.ajax({
              url: url,
              type: 'get',
              data: $('#delete_sc_documentation_form_modal').serialize(),
              dataType: "html",
              success: function(data){
                  $('#list_documents_container').html(data);
                  $('#delete_document_modal').modal('hide')
              }
          });
        }else{
            $("#modal_errors_div").show(500);
        }
    });
</script>