<%= form_for documentation, html: {class: 'form-horizontal sc_documentation_form' , multipart: true} do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <legend> <%= t('views.sc_periods.legends.documentation_info') %> </legend>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :sc_period_id %>">
        <%= f.label :sc_period_id, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <% periods = manager ? ScPeriod.all : ScPeriod.where(active: true).all %>
          <% periods = periods.map {|period| [(localize period.begin, :format => :day_snmonth_year).to_s + ' - ' + (localize period.end, :format => :day_snmonth_year).to_s, period.id]} %>
          <%= f.select(:sc_period_id, options_for_select(periods), {}, {class: 'form-control'}) %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :user_id %> hidden">
        <%= f.label :user_id, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :user_id, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :name %>">
        <%= f.label :name, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :description %>">
        <%= f.label :description, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :description, class: 'form-control', rows: '3' %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :begin %>">
        <%= f.label :begin, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :begin, class: 'form-control date-picker', :data => {:format => 'dd/MM/yyyy'}, :value => f.object.begin ? f.object.begin.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y'), :readonly => true %>
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
      </div>

      <% if documentation && documentation.doc_path %>
        <div class="row">
          <%= f.label :'Archivo', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= link_to documentation.name, sc_documentation_download_file_path(documentation, documentation.doc_path) %>
          </div>
        </div>
      <% else %>
        <div class="form-group <%= field_with_errors f, :doc_path %>">
          <%= f.label :doc_path, 'Archivo', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= file_field 'upload', 'datafile', class: 'form-control', accept: 'application/pdf' %>
            <br>
            <em>Características del archivo:<br>
              <li>Se permiten únicamente archivos de tipo: .pdf</li>
            </em>
          </div>
        </div>
      <% end %>



    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit t('views.sc_periods.forms.save'), class: 'btn btn-primary' %>
      </div>
    </div>

  </div>
<% end %>

<script>
    $('.date-picker').datetimepicker({
        language: 'es',
        pickTime: false
    });
</script>
