<div class="panel panel-default">
  <div class="panel-body">
    <legend> <%= t('views.sc_periods.legends.documentations_list') %></legend>

    <div style="display: none" class="alert alert-success success_message_deleted_documentation">
      <span style="font-size: 12px;"> <%= t('views.sc_periods.flash_messages.delete_successfully') %> </span>
    </div>


    <table id="datatable_sc_documentations" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
      <thead>
      <tr>
        <th>#</th>
        <th><%= 'Inicio de período' %></th>
        <th><%= 'Fin de período' %></th>
        <th><%= 'Nombre de documento' %></th>
        <th><%= 'Descripción de documento' %></th>
        <th><%= 'Vigente desde' %></th>
        <th><%= 'Activo' %></th>
        <th><%= 'Desactivado el' %></th>
        <th><%= 'Eliminado' %></th>
        <th><%= 'Eliminado debido a' %></th>
      </tr>

      <tr class="second">
        <td></td>
        <td><label class="input"><input type="text" name="search_begin_period" value="" class="search_init"></label>
        </td>
        <td><label class="input"><input type="text" name="search_end_period" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_name_doc" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_description_doc" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_begin_doc" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_active" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_deactivated_at_doc" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_deleted" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_deleted_description" value="" class="search_init"></label></td>
      </tr>
      </thead>

      <% user.sc_documentations.each_with_index do |document, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= (localize document.sc_period.begin, :format => :day_snmonth_year).to_s %></td>
          <td><%= (localize document.sc_period.end, :format => :day_snmonth_year).to_s %></td>
          <td>
            <%= link_to document.name, sc_documentation_download_file_path(document, document.doc_path) if document && document.name && document.doc_path %>
          </td>
          <td><%= document.description if document %></td>
          <td><%= (localize document.begin, :format => :day_snmonth_year).to_s if document && document.begin %></td>
          <td><%= label_yes_not_datable (document.active) %></td>
          <td><%= (localize document.deactivated_at, :format => :day_snmonth_year).to_s if document && document.deactivated_at %></td>
          <td><%= label_yes_not_datable (document.deleted) %></td>
          <td><%= document.deleted_description if document.deleted %></td>
        </tr>
      <% end %>

    </table>
  </div>
</div>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_sc_documentations'} %>

<script>
    <% if defined?(success_message) and success_message %>
    $(function () {
        var flash = '.success_message_deleted_documentation';
        $(flash).show(500).delay(2000).hide(500);
    });
    <% end %>
</script>

<script>
    <% if defined?(success_message) and success_message %>
    $(function () {
        var flash = '.success_message_deleted_documentation';
        $(flash).show(500).delay(2000).hide(500);
    });
    <% end %>

    function only_he_able_users(link){
        if($(link).prop('checked')) {
            $('.not_he_able').hide()
        }else{
            $('.not_he_able').show()
        }
    }

    $('.he_able_check').click()

</script>