<div class="panel panel-default">
  <div class="panel-body">
    <legend> <%= t('views.sc_periods.legends.documentations_list') %></legend>

    <div class="row spinner_row" style="display: none">
      <div class="col-md-3 col-md-offset-9" align="right">
        <i class="fa fa-refresh fa-spin"></i>
        &nbsp;&nbsp;
        <% if all_users %>
          <span>Ver solo susceptibles a horas extra</span>
        <% else %>
          <span>Ver todos</span>
        <% end %>
      </div>
    </div>

    <div class="row not_spinner_row">
      <div class="col-md-3 col-md-offset-9" align="right">
        <%= link_to 'Ver solo susceptibles a horas extras', '#', onclick: 'only_he_able_users(this)', data: { url: sc_documentations_users_to_show_path(0,manager ? '1' : '0') } if all_users %>
        <%= link_to 'Ver todos', '#', onclick: 'only_he_able_users(this)', data: { url: sc_documentations_users_to_show_path(1,manager ? '1' : '0') } unless all_users %>
      </div>
    </div>

    <div style="display: none" class="alert alert-success success_message_deleted_documentation">
      <span style="font-size: 12px;"> <%= t('views.sc_periods.flash_messages.delete_successfully') %> </span>
    </div>

    <table id="datatable_sc_documentations" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
      <thead>
      <tr>
        <th>#</th>
        <th><%= alias_username %></th>
        <th><%= t('activerecord.attributes.sc_documentation.user.name') %></th>
        <th><%= t('activerecord.attributes.sc_documentation.user.lastname') %></th>
        <th><%= t('activerecord.attributes.sc_documentation.name') %></th>
        <th><%= t('activerecord.attributes.sc_documentation.description') %></th>
        <th><%= t('activerecord.attributes.sc_documentation.begin') %></th>
        <th></th>
      </tr>

      <tr class="second">
        <td></td>
        <td><label class="input"><input type="text" name="search_codigo" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_username" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_userlastname" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_name" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_description" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_begin" value="" class="search_init"></label></td>
        <td></td>
      </tr>
      </thead>

      <% users.each_with_index do |user, index| %>
        <% document = user.sc_documentations.where(active: true).first %>
        <tr <%= ('class="not_he_able"').html_safe unless user.he_able %>>
          <td><%= index + 1 %></td>
          <td><%= user.codigo %></td>
          <td><%= user.apellidos %></td>
          <td><%= user.nombre %></td>
          <td>
            <% if document && document.doc_path %>
              <%= link_to document.name, sc_documentation_download_file_path(document, document.doc_path) %>
            <% end %>
          </td>
          <td><%= document.description if document %></td>
          <td><%= (localize document.begin, :format => :day_snmonth_year).to_s if document && document.begin %></td>
          <% if manager %>
            <td><%=link_to 'ver detalle', sc_documentation_historical_documentation_path(user) %></td>
          <% else %>
            <% if document %>
              <td>
                <%= link_to 'Actualizar', sc_documentation_new_path(user) %>
                <br>
                <%= link_to 'Editar', sc_documentations_edit_doc_path(document) %>
                <br>
                <%= link_to 'Eliminar', '#', onclick: 'delete_modal(this)', data: { url: sc_documentation_delete_modal_path(document) }%>
              </td>
            <% else %>
              <td><%= link_to 'Nuevo', sc_documentation_new_path(user) %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>

    </table>
  </div>
</div>

<%= render partial: '/shared/datatable',
           locals: { table_id: 'datatable_sc_documentations' } %>

<script>
    <% if defined?(success_message) and success_message %>
    $(function () {
        var flash = '.success_message_deleted_documentation';
        $(flash).show(500).delay(2000).hide(500);
    });
    <% end %>

    function only_he_able_users(link) {
        $('.spinner_row').show();
        $('.not_spinner_row').hide();
        url = $(link).data('url')
        $.ajax({
            url: url,
            type: "get",
            dataType: "html",
            success: function (result) {
                $('#list_documents_container').html(result)
            }
        })
    }

</script>

