<div class="panel panel-default">
  <div class="panel-body">

    <legend> <%= 'Información de usuario' %> </legend>

    <div class="row">
      <div class="col-md-4" align="right">
        <strong><%= alias_username %></strong>
      </div>
      <div class="col-md-8">
        <%= user.codigo %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4" align="right">
        <strong><%= 'Apellidos' %></strong>
      </div>
      <div class="col-md-8">
        <%= user.apellidos %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4" align="right">
        <strong><%= 'Nombre' %></strong>
      </div>
      <div class="col-md-8">
        <%= user.nombre %>
      </div>
    </div>
  </div>
</div>
