<% if @manager %>
  <div class="row">
    <div class="col-md-3">
      <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.sc_periods.navigation.back_list_documents_manage')).html_safe, sc_documentation_historical_documentation_path(@sc_documentation.user), class: 'btn btn-default', tabindex: '-1' %>
    </div>
    <div class="col-md-6">
      <h1 class="page-title txt-color-blueDark">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <%= t('views.sc_periods.legends.documentation') %>
        <span>> <%= t('views.sc_periods.flow_process.manage') %> </span>
        <span>> <%= t('views.sc_periods.flow_process.update') %> </span>
      </h1>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-3">
      <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.sc_periods.navigation.back_list_documents')).html_safe, sc_documentations_path, class: 'btn btn-default', tabindex: '-1' %>
    </div>
    <div class="col-md-6">
      <h1 class="page-title txt-color-blueDark">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <%= t('views.sc_periods.legends.documentation') %>
        <span>> <%= t('views.sc_periods.flow_process.update')%> </span>
      </h1>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <%= render partial: 'user_info', locals: {user: @sc_documentation.user} %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'form',
               :locals => { documentation: @sc_documentation, manager: @manager } %>
  </div>
</div>