<%= render partial: 'shared/module_header_navigation',
           locals: { icon: '<i class="fa fa-calendar" aria-hidden="true"> </i>',
                     go_back_col: 1,
                     legends: ['Horas extras', 'Documentos']} %>
<div class="row" >
  <div class="col-md-10 col-md-offset-1" id="list_documents_container">
    <%= render partial: 'list_documents', locals: {users: @users, manager: false, all_users: false} %>
  </div>
</div>

<div class="row" id="delete_documentation_modal">

</div>

<script>
    function delete_modal(link){
        url = $(link).data('url')
         $.ajax({
                url: url,
                type: 'get',
                dataType: "html",
                success: function(data){
                    $('#delete_documentation_modal').html(data);
                    $('#delete_document_modal').modal('show')
                }
            });
    }
</script>