<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @sc_documentation.user %>
</p>

<p>
  <b>Sc period:</b>
  <%= @sc_documentation.sc_period %>
</p>

<p>
  <b>Path:</b>
  <%= @sc_documentation.path %>
</p>


<%= link_to 'Edit', edit_sc_documentation_path(@sc_documentation) %> |
<%= link_to 'Back', sc_documentations_path %>
