<div class="panel panel-default option">
  <div class="panel-body">

    <div class="form-group <%= field_with_errors f, :position %>">
      <%= f.label :position, 'Orden', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.number_field :position, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :name %>">
      <%= f.label :name, 'Nombre', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <% min_sign_array = {'>=' => '>=', '>' => '>'} %>
    <div class="minMax_container">
      <div class="form-group <%= field_with_errors f, :min_value %>">
        <%= f.label :min_value, 'Valor mínimo', class: 'col-md-3 control-label' %>
        <div class="col-md-2">
          <%= f.select(:min_sign, options_for_select(min_sign_array, f.object.min_sign), {}, class: 'form-control') %>
        </div>
        <div class="col-md-7">
          <%= f.number_field :min_value, class: 'form-control' %>
        </div>
      </div>
      <% max_sign_array = {'<=' => '<=', '<' => '<'} %>
      <div class="form-group <%= field_with_errors f, :max_value %>">
        <%= f.label :max_value, 'Valor máximo', class: 'col-md-3 control-label' %>
        <div class="col-md-2">
          <%= f.select(:max_sign, options_for_select(max_sign_array, f.object.max_sign), {}, class: 'form-control') %>
        </div>
        <div class="col-md-7">
          <%= f.number_field :max_value, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :description %>">
      <%= f.label :description, 'Descripción', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_area :description, :rows => 3, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :color %>">
      <%= f.label :color, 'Color', class: 'col-md-3 control-label' %>

      <div class="col-md-9">
        <!--
        <%= f.text_field :color, class: 'form-control color-picker', :style=>"background-color: " + option_color(f) %>
        -->
        <%= f.text_field :color, class: 'form-control color-picker ' %>

      </div>
    </div>

    <div class="pull-right">
      <%= link_to_remove_char_options 'Eliminar', f %>
    </div>


  </div>
</div>