<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<%= form_for @sel_characteristic, html: {class: 'form-horizontal'} do |f| %>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos de la característica</legend>

        <%= render 'shared/error_messages', object: f.object %>

        <%= f.hidden_field :sel_template_id %>

        <div class="form-group <%= field_with_errors f, :name %>">
          <%= f.label :name, 'Nombre', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :description %>">
          <%= f.label :description, 'Descripción', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_area :description, :rows => 3, class: 'form-control' %>
            <em>Esta información se muestra al evaluador para comprenda de mejor manera el 'espíritu' de esta
              característica a evaluar y los criterios de evaluación.</em>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :configurable %>">
          <%= f.label :configurable, 'Configurable', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :configurable} %>
            <%#= f.text_area :configurable, :rows => 3, class: 'form-control' %>
            <br>
            <em>Una característica 'configurable' permite al Dueño del proceso / Gestor del módulo, al iniciar un proceso, definir qué 'items' de este
              característica se van a evaluar para dicho proceso.</em>
          </div>
        </div>
        <hr>
        <% options_type_array = SelCharacteristic.alternatives_option_type.each_with_index.map { |option_type, index| [option_type, index] } %>
        <div class="form-group <%= field_with_errors f, :option_type %>">
          <%= f.label :option_type, 'Tipo de opciones', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.select(:option_type, options_for_select(options_type_array, @sel_characteristic.option_type), {}, {onchange: 'toggle_minMax_containers();', class: 'form-control'}) %>
            <em>- Discretas: Muestra las opciones al evaluador para que escoja la que mejor represente su evaluación.
              <br>
              - De rango: Solicita al evaluador el ingreso de un valor numérico (entero) que esté comprendido en alguno
              de los rangos configurados. El sistema asignará automáticamente el rango en el que se encuentra el valor
              ingresado. Si el evaluador ingresa un valor fuera de todos los rangos, no se le permitirá ingresar dicha
              evaluación. Si el evaluador ingresa un valor que está en más de un rango, el sistema asignará el de mayor
              'Orden'.
            </em>
          </div>
        </div>


        <script>
          function toggle_minMax_containers() {

            if ($('#sel_characteristic_option_type').val() == 1) {
              $('.minMax_container').show();
            } else {
              $('.minMax_container').hide();
            }

          }

          $(document).ready(function () {
            toggle_minMax_containers();
          });
        </script>


        <div class="panel panel-default">
          <div class="panel-body">

            <legend>Opciones</legend>
            <%= f.fields_for :sel_options do |f_options| %>

                <%= render 'form_option', :f => f_options %>

            <% end %>
          </div>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= link_to_add_char_options 'Añadir opcion', f %>
            </div>
          </div>
        </div>
      </div>
      <script>
        //color picker
        function set_colorpickers() {
          /*
           $('.color-picker').colorpicker({format: 'hex'}).on('changeColor.colorpicker', function(event){
           $(event.target).attr('style', 'background-color: '+ event.color.toHex())
           });
           */

          $(".color-picker").pickAColor({
            showBasicColors: true,
            showSpectrum: true,
            showSavedColors: false,
            saveColorsPerElement: false,
            showAdvanced: true,
            showHexInput: true,
            fadeMenuToggle: true
          });
          $(".color-picker").removeClass('color-picker')

        }
        $(function () {
          set_colorpickers();
        })

        /*$(function () {
         $('.color-picker').colorpicker({format: 'hex'});
         }).on('changeColor.colorpicker', function(event){
         $(event.target).attr('style', 'background-color: '+ event.color.toHex())
         });*/

        //Opciones
        function remove_option(link) {
          $(link).prev('input[type=hidden]').val(1)
          $(link).closest('.option').hide();
        }

        function add_option(link, content) {
          var new_id = new Date().getTime();
          var regexp = new RegExp('new_option', 'g')
          $(link).parent().before(content.replace(regexp, new_id))
          set_colorpickers();
          toggle_minMax_containers();
        }
      </script>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>