<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12 ">
        <strong><%= charTemplate.name %></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 ">
        <%= charTemplate.description %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11">
        Tipo de opción: <%= SelCharacteristic.alternatives_option_type[charTemplate.option_type] %>
      </div>
    </div>
    <% if charTemplate.configurable? %>
        <div class="row">
          <div class="col-md-11">
        <span class="label label-danger">
        Esta característica requerirá configuración del Dueño del proceso / Gestor del módulo al iniciar un proceso
          </span>
          </div>
        </div>
    <% end %>
    <div class="row">
      <div class="col-md-12">
        <br>Opciones

        <table class="table table-striped table-hover table-bordered">
          <thead>
          <tr>
            <th>Posición</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <% if charTemplate.option_type == 1 %>
                <th>Min</th>
                <th>Max</th>
            <% end %>
          </tr>
          </thead>
          <tbody>

          <% charTemplate.sel_options.each do |option| %>
              <tr>
                <td>
                  <%= option.position %>
                </td>
                <td>
                  <span class="label label-default" style="background-color:<%= '#' + option.color %>">
                  <%= option.name %>
                    </span>
                </td>
                <td>
                  <%= option.description %>
                </td>
                <% if charTemplate.option_type == 1 %>
                    <td>
                      <b><%= option.min_sign %></b> <%= option.min_value %>
                    </td>
                    <td>
                      <b><%= option.max_sign %></b> <%= option.max_value %>
                    </td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      <%= link_to 'Editar', edit_sel_characteristic_path(charTemplate) %>&nbsp;&nbsp;
      <% if is_sel_characteristic_deletable?(charTemplate) %>
          <%= link_to 'Eliminar', charTemplate, method: :delete, data: {confirm: "Está seguro? se eliminarán también las opciones..."} %>
      <% end %>
    </div>
  </div>
</div>

