<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la configuración de la Plantilla'.html_safe, @sel_template, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <h1 class="page-title txt-color-blueDark">
      <%= icon_sel_module_html_safe %>
      Selección
      <span>> Añadir Característica</b> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <legend>Datos de la Plantilla</legend>
            <div class="row">
              <div class="col-md-3"> Nombre</div>
              <div class="col-md-9">
                <%= @sel_template.name %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3"> Description</div>
              <div class="col-md-9">
                <%= @sel_template.description %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3"> Activa</div>
              <div class="col-md-9">
                <%= icon_true_false_in_show(@sel_template.active) %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
      <%= render partial: 'characteristics_list_mini' %>
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <%= render partial: 'form' %>
  </div>
</div>