

      <% pe_element_1st = pe_evaluation.pe_elements.first %>

      <% if pe_evaluation.definition_by_users_rol && pe_evaluation.definition_by_users_rol.include?('0') %>

        <%# status_def = pe_evaluation.definition_by_users_status_of_pe_member_evaluated @pe_member_evaluated %>

        <% status_def, step_label, step_label_smart_table = pe_evaluation.pe_member_definition_by_users_status @pe_member_evaluated %>

        <% if status_def == 'not_initiated' || status_def == 'not_confirmed' || status_def == 'in_definition' %>

          <% b = 2 %>

          <% c = 4 %>

          <% a = 1 %>

          <% pe_member_rel = @pe_member_evaluated.pe_member_rel_is_evaluated_by_pe_member @pe_member_evaluated %>

          <% if pe_member_rel %>

            <div class="text-right">
              <%= link_to 'Definir', pe_def_by_user_show_path(pe_evaluation, pe_member_rel) %>
            </div>

          <% end %>

        <% end %>

      <% end %>

      <table class="table table-bordered table-hover">

        <thead>

          <tr>
            <th></th>
            <th><%= pe_evaluation.pe_elements.last.name %></th>
            <th>Peso</th>
            <th>Meta</th>
            <th style="border-right: 0px;">Unidad</th>
            <% if pe_evaluation.allow_list_individual_comments_def(@pe_rel) && pe_element_1st.allows_individual_comments %>
            <th style="border-left: 0px;"></th>
            <% end %>

            <% if pe_evaluation.allow_list_action_plan_def(nil, @pe_member_evaluated, @pe_member_evaluated) && pe_element_1st.allow_action_plan? %>
              <th style="border-left: 0px;"></th>
            <% end %>
          </tr>

        </thead>

        <tbody>

          <% num_1st_level = 1 %>
          <% sum_pesos_elementos_1st_level_tmp = 0 %>
          <% pe_evaluation.pe_questions_only_by_pe_member_1st_level(@pe_member_evaluated).each_with_index do |pe_question_1st_level| %>
            <% sum_pesos_elementos_1st_level_tmp += pe_question_1st_level.weight %>
            <tr>
              <td>
                <%= num_1st_level %>
              </td>
              <td>

                <% if pe_question_1st_level.kpi_indicator %>
                  <span class="label label-success">KPI</span>&nbsp;
                <% end %>

                <% if pe_question_1st_level.pe_element.display_name %>
                  <%= pe_question_1st_level.pe_element.name %>.
                <% end %>

                <% if pe_question_1st_level.pe_element.kpi_dashboard && pe_question_1st_level.kpi_indicator %>

                  <%= pe_question_1st_level.kpi_indicator.name %>

                <% else %>

                  <%= pe_question_1st_level.description.html_safe %>

                <% end %>

                <% if pe_question_1st_level.pe_element.allow_note && !pe_question_1st_level.note.blank? %>

                  <%= render partial: 'pe_processes/pe_question_note',
                             locals: {
                                 pe_question: pe_question_1st_level
                             }
                  %>

                <% end %>

              </td>
              <td>
                <%= number_with_precision(pe_question_1st_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
              </td>
              <td style="border-right: 0px;">

                <%= render partial: 'pe_processes/indicator_goal_temp',
                           locals: {
                               pe_question: pe_question_1st_level
                           }
                %>

              </td>
              <td style="border-right: 0px;">
                <% if pe_question_1st_level.pe_element.kpi_dashboard && pe_question_1st_level.kpi_indicator %>
                  <%= pe_question_1st_level.kpi_indicator.unit %>
                <% else %>
                  <%= pe_question_1st_level.indicator_unit %>
                <% end %>
              </td>

              <% if pe_evaluation.allow_list_individual_comments_def(@pe_rel) && pe_element_1st.allows_individual_comments %>

                <td style="border-left: 0px;">

                  <a role="button" data-toggle="collapse" href="#list_comments_<%= pe_question_1st_level.id %>" aria-expanded="false" aria-controls="collapseExample">
                    <% if pe_question_1st_level.pe_question_comments_by_pe_member_rels(pe_member_rels_comments).size > 0 %>
                      <i class="fa fa-comment" aria-hidden="true"></i>
                    <% else %>
                      <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <% end %>
                  </a>

                </td>

              <% end %>

              <% if pe_evaluation.allow_list_action_plan_def(nil, @pe_member_evaluated, @pe_member_evaluated) && pe_element_1st.allow_action_plan? %>
                <td>
                  <a role="button" data-toggle="collapse" href="#view_action_plan_<%= pe_question_1st_level.id %>" aria-expanded="false" aria-controls="collapseExample">
                    <% if pe_question_1st_level.pe_question_activities.size > 0 %>
                      <span class="fa-stack">
                        <i class="fa fa-file fa-stack-1x" aria-hidden="true"></i>
                        <i class="fa-stack-1x" style="color: #fff; margin-top: .2em;font-size: .5em;">PA</i>
                      </span>
                    <% else %>
                      <span class="fa-stack">
                        <i class="fa fa-file-o fa-stack-1x" aria-hidden="true"></i>
                        <i class="fa-stack-1x" style="margin-top: .2em;font-size: .5em;">PA</i>
                      </span>
                    <% end %>
                  </a>
                </td>
              <% end %>

            </tr>

            <% if pe_evaluation.allow_list_action_plan_def(nil, @pe_member_evaluated, @pe_member_evaluated) && pe_element_1st.allow_action_plan? %>

              <%= render partial: 'pe_definition_by_user/action_plan_table',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_question: pe_question_1st_level,
                             pe_element: pe_element_1st,
                             pe_member_evaluated: @pe_member_evaluated,
                             pe_member_evaluator: @pe_member_evaluated,
                             pe_rel: @pe_rel,
                             read_only: true
                         }
              %>

            <% end %>

            <% if pe_evaluation.allow_list_individual_comments_def(@pe_rel) && pe_element_1st.allows_individual_comments %>

              <%= render partial: 'pe_definition_by_user/individual_comments_table',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_question: pe_question_1st_level,
                             pe_element: pe_element_1st,
                             pe_member_evaluated: @pe_member_evaluated,
                             pe_member_rel: @pe_member_rel,
                             pe_member_rels_comments: pe_member_rels_comments
                         }
              %>

            <% end %>

          <% num_1st_level += 1 %>
          <% end %>

          <% unless pe_element_1st.assessed %>

            <% if pe_element_1st.display_weight %>

              <% suma_temp = number_with_precision(sum_pesos_elementos_1st_level_tmp, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>

              <script>
                $( document ).ready(function() {
                  $('#weight_1st_level_<%= pe_question_1st_level.id %>').append('<%= suma_temp %>%');
                });
              </script>

            <% end %>

          <% end %>

        </tbody>

      </table>


<% if pe_evaluation.allow_create_individual_comment_def(@pe_rel) %>

  <% unless @pe_member_evaluated.step_assessment? || @pe_member_rel.finished %>

    <% pe_evaluation.pe_questions_by_pe_member_all_levels(@pe_member_evaluated, nil, nil, nil).each_with_index do |pe_question| %>

      <% if pe_question.pe_element.allows_individual_comments? %>

        <%= render partial: 'pe_definition_by_user/new_individual_comment',
                   locals: {
                       pe_evaluation: pe_evaluation,
                       pe_question: pe_question,
                       pe_question_comment: @pe_question_comment,
                       pe_member_rel: @pe_member_rel
                   }
        %>

      <% end %>

    <% end %>

  <% end %>

<% end %>
