
<ul class="breadcrumb">
  <li>
    <%= link_to @hr_evaluation_type.nombre, @hr_evaluation_type, tabindex: '-1' %>

  </li>
  <li class="active">Crear un nuevo elemento</li>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3 form-box-<%= $current_domain %>">

    <legend class="text-center">Crear un nuevo elemento</legend>

    <%= render 'form' %>

  </div>
</div>

