<%= form_for(@hr_process_evaluation_q) do |f| %>
  <% if @hr_process_evaluation_q.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hr_process_evaluation_q.errors.count, "error") %> prohibited this hr_process_evaluation_q from being saved:</h2>

      <ul>
      <% @hr_process_evaluation_q.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :texto %><br />
    <%= f.text_area :texto %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
