
<div class="row">
  <div class="col-md-3">

    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, @hr_process, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      <%= @hr_process.nombre %> - <%= @hr_process.year %>
      <span>> Cargar contenido manual de la evaluación </span>
    </h1>
  </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <div class="panel panel-default">
            <div class="panel-body">
                <legend><%= @hr_process_evaluation.orden %>. <%= @hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.nombre %> </legend>

                <div class="row">
                  <div class="col-md-3 text-right">
                    <strong>Dimensión</strong>
                  </div>
                  <div class="col-md-9">
                    <%= @hr_process_evaluation.hr_process_dimension_e.hr_process_dimension.nombre %>
                    (Eje <%= @hr_process_evaluation.hr_process_dimension_e.hr_process_dimension.eje %>)
                  </div>
                </div>

                <br>
                <div class="row">
                  <div class="col-md-3 text-right">
                    <strong>Puntos necesarios para obtener 100%</strong>
                  </div>
                  <div class="col-md-9">
                    <% if @hr_process_evaluation.cien_x_cien_puntos %>

                        <%= @hr_process_evaluation.cien_x_cien_puntos %>

                        puntos. Sí es posible obtener más de 100%

                    <% else %>

                        Puntos máximos posibles. Nunca se puede obtener más de 100%

                    <% end %>
                  </div>
                </div>

                <% if @hr_process_evaluation.hr_process_dimension_e.eval_jefe %>
                    <br>
                    <div class="row">
                      <div class="col-md-3 text-right">
                        <strong>Evaluación del jefe</strong>
                      </div>
                      <div class="col-md-9">
                        Desde:
                        <% if @hr_process_evaluation.fecha_inicio_eval_jefe %>
                            <%= (localize @hr_process_evaluation.fecha_inicio_eval_jefe, format: :day_snmonth_year) %>

                            <% if lms_time >= @hr_process_evaluation.fecha_inicio_eval_jefe %>

                                        <span class="label label-danger">Hace
                                          <%= distance_of_time_in_words(@hr_process_evaluation.fecha_inicio_eval_jefe, lms_time) %>
                                        </span>

                            <% else %>
                                        <span class="label label-primary">En
                                          <%= distance_of_time_in_words(lms_time, @hr_process_evaluation.fecha_inicio_eval_jefe) %>
                                        </span>
                            <% end %>
                        <% else %>
                            <label class="label label-default">No definida</label>
                        <% end %>
                        &nbsp; -
                        Hasta:
                        <% if @hr_process_evaluation.fecha_fin_eval_jefe %>
                            <%= (localize @hr_process_evaluation.fecha_fin_eval_jefe, format: :day_snmonth_year) %>

                            <% if lms_time > @hr_process_evaluation.fecha_fin_eval_jefe %>

                                        <span class="label label-danger">Hace
                                          <%= distance_of_time_in_words(@hr_process_evaluation.fecha_fin_eval_jefe, lms_time) %>
                                        </span>

                            <% else %>
                                        <span class="label label-primary">En
                                          <%= distance_of_time_in_words(lms_time, @hr_process_evaluation.fecha_fin_eval_jefe) %>
                                        </span>
                            <% end %>
                        <% else %>
                            <label class="label label-default">No definida</label>
                        <% end %>
                      </div>
                    </div>
                <% end %>

                <% if @hr_process_evaluation.hr_process_dimension_e.eval_auto %>
                    <br>
                    <div class="row">
                      <div class="col-md-3 text-right">
                        <strong>Autoevaluación</strong>
                      </div>
                      <div class="col-md-9">
                        Desde
                        <% if @hr_process_evaluation.fecha_inicio_eval_auto %>
                            <%= (localize @hr_process_evaluation.fecha_inicio_eval_auto, format: :day_snmonth_year) %>

                            <% if lms_time >= @hr_process_evaluation.fecha_inicio_eval_auto %>

                                        <span class="label label-danger">Hace
                                          <%= distance_of_time_in_words(@hr_process_evaluation.fecha_inicio_eval_auto, lms_time) %>
                                        </span>

                            <% else %>
                                        <span class="label label-primary">En
                                          <%= distance_of_time_in_words(lms_time, @hr_process_evaluation.fecha_inicio_eval_auto) %>
                                        </span>
                            <% end %>
                        <% else %>
                            <label class="label label-default">No definida</label>
                        <% end %>

                        &nbsp; -

                        Hasta
                        <% if @hr_process_evaluation.fecha_fin_eval_auto %>
                            <%= (localize @hr_process_evaluation.fecha_fin_eval_auto, format: :day_snmonth_year) %>

                            <% if lms_time > @hr_process_evaluation.fecha_fin_eval_auto %>

                                        <span class="label label-danger">Hace
                                          <%= distance_of_time_in_words(@hr_process_evaluation.fecha_fin_eval_auto, lms_time) %>
                                        </span>

                            <% else %>
                                        <span class="label label-primary">En
                                          <%= distance_of_time_in_words(lms_time, @hr_process_evaluation.fecha_fin_eval_auto) %>
                                        </span>
                            <% end %>
                        <% else %>
                            <label class="label label-default">No definida</label>
                        <% end %>
                      </div>
                    </div>

                <% end %>



                <% if @hr_process_evaluation.hr_process_dimension_e.eval_sub %>
                    <br>
                    <div class="row">
                      <div class="col-md-3 text-right">
                        <strong>Evaluación de subordinados</strong>
                      </div>
                      <div class="col-md-9">
                        Desde
                        <% if @hr_process_evaluation.fecha_inicio_eval_sub %>
                            <%= (localize @hr_process_evaluation.fecha_inicio_eval_sub, format: :day_snmonth_year) %>

                            <% if lms_time >= @hr_process_evaluation.fecha_inicio_eval_sub %>

                                        <span class="label label-danger">Hace
                                          <%= distance_of_time_in_words(@hr_process_evaluation.fecha_inicio_eval_sub, lms_time) %>
                                        </span>

                            <% else %>
                                        <span class="label label-primary">En
                                          <%= distance_of_time_in_words(lms_time, @hr_process_evaluation.fecha_inicio_eval_sub) %>
                                        </span>
                            <% end %>
                        <% else %>
                            <label class="label label-default">No definida</label>
                        <% end %>
                        &nbsp; -
                        Hasta
                        <% if @hr_process_evaluation.fecha_fin_eval_sub %>
                            <%= (localize @hr_process_evaluation.fecha_fin_eval_sub, format: :day_snmonth_year) %>

                            <% if lms_time > @hr_process_evaluation.fecha_fin_eval_sub %>

                                        <span class="label label-danger">Hace
                                          <%= distance_of_time_in_words(@hr_process_evaluation.fecha_fin_eval_sub, lms_time) %>
                                        </span>

                            <% else %>
                                        <span class="label label-primary">En
                                          <%= distance_of_time_in_words(lms_time, @hr_process_evaluation.fecha_fin_eval_sub) %>
                                        </span>
                            <% end %>
                        <% else %>
                            <label class="label label-default">No definida</label>
                        <% end %>
                      </div>
                    </div>
                <% end %>

                <% if @hr_process_evaluation.hr_process_dimension_e.eval_par %>
                    <br>
                    <div class="row">
                      <div class="col-md-3 text-right">
                        <strong>Evaluación de pares</strong>
                      </div>
                      <div class="col-md-9">
                        Desde
                        <% if @hr_process_evaluation.fecha_inicio_eval_par %>
                            <%= (localize @hr_process_evaluation.fecha_inicio_eval_par, format: :day_snmonth_year) %>

                            <% if lms_time >= @hr_process_evaluation.fecha_inicio_eval_par %>

                                        <span class="label label-danger">Hace
                                          <%= distance_of_time_in_words(@hr_process_evaluation.fecha_inicio_eval_par, lms_time) %>
                                        </span>

                            <% else %>
                                        <span class="label label-primary">En
                                          <%= distance_of_time_in_words(lms_time, @hr_process_evaluation.fecha_inicio_eval_par) %>
                                        </span>
                            <% end %>
                        <% else %>
                            <label class="label label-default">No definida</label>
                        <% end %>
                        &nbsp; -
                        Hasta
                        <% if @hr_process_evaluation.fecha_fin_eval_par %>
                            <%= (localize @hr_process_evaluation.fecha_fin_eval_par, format: :day_snmonth_year) %>

                            <% if lms_time > @hr_process_evaluation.fecha_fin_eval_par %>

                                        <span class="label label-danger">Hace
                                          <%= distance_of_time_in_words(@hr_process_evaluation.fecha_fin_eval_par, lms_time) %>
                                        </span>

                            <% else %>
                                        <span class="label label-primary">En
                                          <%= distance_of_time_in_words(lms_time, @hr_process_evaluation.fecha_fin_eval_par) %>
                                        </span>
                            <% end %>
                        <% else %>
                            <label class="label label-default">No definida</label>
                        <% end %>
                      </div>
                    </div>
                <% end %>

                <% if @hr_process_evaluation.hr_process_dimension_e.eval_cli %>
                    <br>
                    <div class="row">
                      <div class="col-md-3 text-right">
                        <strong>Evaluación de clientes</strong>
                      </div>
                      <div class="col-md-9">
                        Desde
                        <% if @hr_process_evaluation.fecha_inicio_eval_cli %>
                            <%= (localize @hr_process_evaluation.fecha_inicio_eval_cli, format: :day_snmonth_year) %>

                            <% if lms_time >= @hr_process_evaluation.fecha_inicio_eval_cli %>

                                        <span class="label label-danger">Hace
                                          <%= distance_of_time_in_words(@hr_process_evaluation.fecha_inicio_eval_cli, lms_time) %>
                                        </span>

                            <% else %>
                                        <span class="label label-primary">En
                                          <%= distance_of_time_in_words(lms_time, @hr_process_evaluation.fecha_inicio_eval_cli) %>
                                        </span>
                            <% end %>
                        <% else %>
                            <label class="label label-default">No definida</label>
                        <% end %>
                        &nbsp; -
                        Hasta
                        <% if @hr_process_evaluation.fecha_fin_eval_cli %>
                            <%= (localize @hr_process_evaluation.fecha_fin_eval_cli, format: :day_snmonth_year) %>

                            <% if lms_time > @hr_process_evaluation.fecha_fin_eval_cli %>

                                        <span class="label label-danger">Hace
                                          <%= distance_of_time_in_words(@hr_process_evaluation.fecha_fin_eval_cli, lms_time) %>
                                        </span>

                            <% else %>
                                        <span class="label label-primary">En
                                          <%= distance_of_time_in_words(lms_time, @hr_process_evaluation.fecha_fin_eval_cli) %>
                                        </span>
                            <% end %>
                        <% else %>
                            <label class="label label-default">No definida</label>
                        <% end %>
                      </div>
                    </div>
                <% end %>

                <% if @hr_process_evaluation.hr_process_dimension_e.eval_prov %>
                    <br>
                    <div class="row">
                      <div class="col-md-3 text-right">
                        <strong>Evaluación de proveedores</strong>
                      </div>
                      <div class="col-md-9">
                        Desde
                        <% if @hr_process_evaluation.fecha_inicio_eval_prov %>
                            <%= (localize @hr_process_evaluation.fecha_inicio_eval_prov, format: :day_snmonth_year) %>

                            <% if lms_time >= @hr_process_evaluation.fecha_inicio_eval_prov %>

                                        <span class="label label-danger">Hace
                                          <%= distance_of_time_in_words(@hr_process_evaluation.fecha_inicio_eval_prov, lms_time) %>
                                        </span>

                            <% else %>
                                        <span class="label label-primary">En
                                          <%= distance_of_time_in_words(lms_time, @hr_process_evaluation.fecha_inicio_eval_prov) %>
                                        </span>
                            <% end %>
                        <% else %>
                            <label class="label label-default">No definida</label>
                        <% end %>
                        &nbsp; -
                        Hasta
                        <% if @hr_process_evaluation.fecha_fin_eval_prov %>
                            <%= (localize @hr_process_evaluation.fecha_fin_eval_prov, format: :day_snmonth_year) %>

                            <% if lms_time > @hr_process_evaluation.fecha_fin_eval_prov %>

                                        <span class="label label-danger">Hace
                                          <%= distance_of_time_in_words(@hr_process_evaluation.fecha_fin_eval_prov, lms_time) %>
                                        </span>

                            <% else %>
                                        <span class="label label-primary">En
                                          <%= distance_of_time_in_words(lms_time, @hr_process_evaluation.fecha_fin_eval_prov) %>
                                        </span>
                            <% end %>
                        <% else %>
                            <label class="label label-default">No definida</label>
                        <% end %>
                      </div>
                    </div>
                <% end %>

                <br>
                <div class="row">
                  <div class="col-md-3 text-right">
                    <strong>Visualización de alternativas</strong>
                  </div>
                  <div class="col-md-9">
                    <% if @hr_process_evaluation.visualizacion_alternativas == 1 %>
                        Radio buttons (filas)<br>
                        <input type="radio"> Alternativa 1<br>
                        <input type="radio"> Alternativa 2<br>
                        ...
                    <% elsif @hr_process_evaluation.visualizacion_alternativas == 2 %>
                        Radio buttons (columnas)<br>
                        <input type="radio"> Alternativa 1 <input type="radio"> Alternativa 2 ...
                    <% elsif @hr_process_evaluation.visualizacion_alternativas == 3 %>
                        Combo box / Select<br>
                        <select><option>Alternativa 1</option><option>Alternativa 2</option><option>...</option></select>
                    <% end %>
                  </div>
                </div>

                <br>

                <ul class="nav nav-tabs">

                  <% @hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.each_with_index do |hr_evaluation_type_element, index| %>

                      <li class="<%= 'active' if index == 0 %>"><a href="#tab_tipo_preguntas_<%= @hr_process_evaluation.id %>_<%= hr_evaluation_type_element.id %>" data-toggle="tab"><%= hr_evaluation_type_element.nivel %>. <%= hr_evaluation_type_element.nombre %></a></li>

                  <% end %>


                </ul>

                <div class="tab-content">

                  <% @hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.each_with_index do |hr_evaluation_type_element, index| %>
                      <div class="tab-pane <%= 'active' if index == 0 %>" id="tab_tipo_preguntas_<%= @hr_process_evaluation.id %>_<%= hr_evaluation_type_element.id %>">
                        <br>
                        <div class="row">
                          <div class="col-md-4">
                            El <strong>registro</strong> será realizado

                            <% if hr_evaluation_type_element.carga_manual %>
                                de forma <strong>manual</strong>
                                por el jefe<% if hr_evaluation_type_element.evaluacion_colaborativa %> y por el mismo colaborador<% end %>.

                                <% if hr_evaluation_type_element.tiene_clasificacion %>
                                    Existirá una <strong>clasificación</strong> denominada
                                    <strong>
                                      <%= hr_evaluation_type_element.nombre_clasificacion %>
                                    </strong>
                                <% end %>

                                <% carga_manual = true %>

                            <% else %>
                                por el <strong>administrador</strong> del sistema.
                            <% end %>

                          </div>
                          <div class="col-md-4">
                            <% if hr_evaluation_type_element.cantidad_maxima > 0 %>
                                Se podrán registrar un <strong>máximo de
                            <%= hr_evaluation_type_element.cantidad_maxima %>
                          </strong>
                                elementos.
                            <% else %>
                                <strong>No</strong> existe <strong>restricción de número de elementos</strong> a registrar.
                            <% end %>
                          </div>
                          <div class="col-md-4">
                            <% unless hr_evaluation_type_element.aplica_evaluacion %>
                                <strong>No formará parte de la evaluación</strong>, y sólo se usará para agrupar elementos del nivel siguiente.
                            <% end %>
                          </div>

                        </div>
                        <% if hr_evaluation_type_element.aplica_evaluacion %>
                            <br>

                            <div class="row">
                              <div class="col-md-4">
                                El <strong>peso</strong> de cada elemento debe estar entre
                                <strong><%= hr_evaluation_type_element.peso_minimo %></strong> y <strong><%= hr_evaluation_type_element.peso_maximo %></strong>.

                                <% if hr_evaluation_type_element.suma_total_pesos > 0 %>
                                    Los pesos de los elementos registrados deben <strong>sumar <%= hr_evaluation_type_element.suma_total_pesos %></strong>
                                <% else %>
                                    <strong>No</strong> existe restricción respecto a la <strong>suma de pesos</strong>
                                <% end %>
                              </div>

                              <div class="col-md-4">
                                El <strong>valor</strong> que se puede otorgar en la evaluación a cada elemento debe estar entre
                                <strong><%= hr_evaluation_type_element.valor_minimo %></strong> y <strong><%= hr_evaluation_type_element.valor_maximo %></strong>.
                                El resultado de la evaluación de un colaborador será
                                <% if hr_evaluation_type_element.formula_promedio %>
                                    el <strong>promedio ponderado</strong>
                                <% else %>
                                    la <strong>suma ponderada</strong>
                                <% end %>
                                de los valores de todos los elementos.
                              </div>

                              <div class="col-md-4">

                                <% if hr_evaluation_type_element.indicador_logro %>
                                    La evaluación se realizará a través de un <strong>indicador de logro</strong> (nombre, meta, unidad de medida).
                                    En base a esto se calculará automáticamente el porcentaje obtenido por el colaborador.
                                <% end %>
                              </div>

                            </div>

                            <br>
                            <div class="row">
                              <div class="col-md-4">
                                La <strong>evaluación</strong> se realizará
                                <% if hr_evaluation_type_element.porcentaje_logro %>
                                    de forma continua, se realizará un <strong>seguimiento</strong> y se actualizará periodicamente el
                                    <strong>porcentaje de logro</strong> del colaborador.
                                <% else %>
                                    de forma <strong>puntual</strong> y se registrará el <strong>resultado final</strong> de la evaluación.
                                <% end %>
                              </div>

                              <div class="col-md-4">
                                La <strong>autoevaluación</strong> del colaborador y la <strong>evaluación del jefe</strong> serán lo <strong>mismo</strong>. Al final del proceso quien cierra y confirma
                                la evaluación es el jefe.
                              </div>
                            </div>
                        <% end %>

                      </div>

                  <% end %>

                </div>

            </div>
        </div>

    </div>
</div>

<% hr_evaluation_type_element = @hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.first %>




  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <% if @lineas_error && @lineas_error.length > 0 %>

        <div class="panel panel-default">
            <div class="panel-body">

                <table class="table table-striped table-hover table-condensed table-bordered">

                  <thead>
                  <tr>
                    <th>Línea</th>
                    <th>Errores</th>

                  </tr>
                  </thead>

                  <tbody>

                  <% @lineas_error.each_with_index do |l,index| %>

                    <tr>
                      <td><%= l %></td>
                      <td>
                        <% @lineas_error_messages[index].each do |error| %>
                          <li class="text-danger"><%= error %></li>
                        <% end %>
                      </td>

                    </tr>

                  <% end %>

                  </tbody>

                </table>
            </div>
        </div>

      <% end %>





      <%= form_for HrProcessEvaluationQ.new, url: carga_preguntas_hr_process_evaluation_qs_manual_path(@hr_process_evaluation), html: {class: 'form-horizontal', multipart: true} do |f| %>

            <div class="panel panel-default">
                <div class="panel-body">

                    <legend>Cargar contenido</legend>




                    <div class="form-group">

                      <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

                      <div class="col-md-9">

                        <%= file_field 'upload', 'datafile', class: 'form-control' %>
                        <br>
                        <em>

                          El archivo reemplazará a las preguntas actuales

                        </em>

                      </div>

                    </div>

                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                      <%= f.submit 'Subir', class: 'btn btn-primary' %>
                    </div>
                </div>


            </div>

      <% end %>



    </div>
  </div>



