<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de Plantillas'.html_safe, sel_req_templates_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <%= icon_sel_module_html_safe %>
      <%= @sel_req_template.name %>
      <span>> Configurar Plantilla de formulario de solicitud </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'show' %>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render partial: 'sel_req_templates/item_list' %>
  </div>
</div>