
<% pe_group = nil %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>

  <div class="panel panel-default">
    <div class="panel-body">

      <table>
        <tr>

          <% ancho_grupo = pe_evaluation.pe_slider_groups.size > 0 ? 100/pe_evaluation.pe_slider_groups.size : 100 %>

          <% pe_evaluation.pe_slider_groups.each do |pe_slider_group| %>

            <td class="text-center" width="<%= ancho_grupo %>%" style="font-size: 11px; padding: 10px;<%= 'color: #'+pe_slider_group.text_color+';' %><%= ('background-color: #'+pe_slider_group.bg_color+';') unless pe_slider_group.bg_color.blank? || pe_slider_group.bg_color == 'ffffff' %>">
                <strong style="color: <%= '#'+pe_slider_group.text_color %>;">
                  <%= pe_slider_group.position.to_s+'. '+pe_slider_group.name %>
                </strong>

                <br>
                <%= pe_slider_group.min_sign %> <%= pe_slider_group.min_value %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= pe_slider_group.max_sign %> <%= pe_slider_group.max_value %>

                <br>

                <%= pe_slider_group.description %>


            </td>

          <% end %>
        </tr>

      </table>

      <br>

      <table class="table table-bordered table-hover">

        <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready_all(pe_member_evaluated, pe_group, pe_rel).each_with_index do |pe_question, index_p| %>

          <% if pe_question.pe_element.visible %>

            <thead>

              <tr>
                <th style="background-color: #dddddd; vertical-align: middle;" width="1%">
                  <%= index_p+1 %>
                </th>
                <th style="background-color: #dddddd; vertical-align: middle;">
                  <% if pe_question.pe_element.display_name %>
                    <%= pe_question.pe_element.name %>.
                  <% end %>
                  <%= pe_question.description.html_safe %>
                </th>
                <th style="background-color: #dddddd; vertical-align: middle;" width="1%"></th>

              </tr>

            </thead>

          <% end %>

          <tbody>

            <% pe_evaluation.pe_questions_by_question_ready(pe_question.id).each_with_index do |pe_question_2nd_level, index_p2| %>

              <tr>
                <td>
                  <%= index_p+1 %>.<%= index_p2+1 %>
                </td>
                <td width="30%">
                  <% if pe_question_2nd_level.pe_element.display_name %>

                    <%= pe_question_2nd_level.pe_element.name %>.

                  <% end %>

                  <%= pe_question_2nd_level.description.html_safe %>

                </td>

                <td>

                  <% if pe_evaluation.allow_list_individual_comments_qdefs(pe_rel) && pe_question_2nd_level.pe_element.allows_individual_comments %>

                    <a role="button" data-toggle="collapse" href="#list_comments_<%= pe_question_2nd_level.id %>" aria-expanded="false" aria-controls="collapseExample">
                      <% if pe_question_2nd_level.pe_question_comments_by_pe_member_rels(pe_member_rels_comments).size > 0 %>
                        <i class="fa fa-comment" aria-hidden="true"></i>
                      <% else %>
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                      <% end %>
                    </a>

                  <% end %>

                </td>


              </tr>

              <% if pe_evaluation.allow_list_individual_comments_qdefs(pe_rel) && pe_question_2nd_level.pe_element.allows_individual_comments %>

                <%= render partial: 'pe_query_definitions/individual_comments_table',
                           locals: {
                               pe_evaluation: pe_evaluation,
                               pe_question: pe_question_2nd_level,
                               pe_element: pe_question_2nd_level.pe_element,
                               pe_member_evaluated: pe_member_evaluated,
                               pe_member_rel: pe_member_rel,
                               pe_member_rels_comments: pe_member_rels_comments
                           }
                %>

              <% end %>

            <% end %>

          </tbody>

        <% end %>

      </table>

    </div>

  </div>


<% if pe_evaluation.allow_create_individual_comment_qdefs(pe_rel) %>

  <% unless pe_member_evaluated.step_assessment? || pe_member_rel.finished %>

    <% pe_evaluation.pe_questions_by_pe_member_all_levels(pe_member_evaluated, nil, nil, pe_group).each_with_index do |pe_question| %>

      <% if pe_question.pe_element.allows_individual_comments? %>

        <%= render partial: 'pe_query_definitions/new_individual_comment',
                   locals: {
                       pe_evaluation: pe_evaluation,
                       pe_question: pe_question,
                       pe_question_comment: @pe_question_comment,
                       pe_member_rel: pe_member_rel
                   }
        %>

      <% end %>

    <% end %>

  <% end %>

<% end %>