
<% pe_group = nil %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>


  <div class="panel panel-default">
    <div class="panel-body">

      <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready_all(pe_member_evaluated, pe_group, pe_rel).each_with_index do |pe_question, index_p| %>

        <% if pe_question.pe_element.visible %>

          <div class="row">

            <% if pe_question.stored_image %>

              <div class="col-md-1">

                <img src="<%= request.base_url %>/storage/<%=company_codigo%>/stored_images/<%= pe_question.stored_image.crypted_name %>" width="130%">

              </div>

            <% end %>

            <div class="col-md-<%= pe_question.stored_image ? '11' : '12' %>">

              <div class="row">

                <div class="col-md-11">

                  <strong>
                    <!--
                    <%= index_p+1 %>.
                    -->
                    <% if pe_question.pe_element.display_name %>

                      <%= pe_question.pe_element.name %>:

                    <% end %>

                  </strong>

                  <% if pe_question.pe_element.simple? %>

                    <%= pe_question.description.html_safe %>

                  <% else %>

                    <% pe_question.pe_question_descriptions.each do |pe_question_description| %>

                      <strong><%= pe_question_description.pe_element_description.name %></strong>
                      <%= pe_question_description.description.html_safe %>

                    <% end %>

                  <% end %>

                </div>

                <% if pe_evaluation.allow_list_individual_comments_qdefs(pe_rel) && pe_question.pe_element.allows_individual_comments %>
                  <div class="col-md-1 text-right">
                    <a role="button" data-toggle="collapse" href="#list_comments_<%= pe_question.id %>" aria-expanded="false" aria-controls="collapseExample">
                      <% if pe_question.pe_question_comments_by_pe_member_rels(pe_member_rels_comments).size > 0 %>
                        <i class="fa fa-comment" aria-hidden="true"></i>
                      <% else %>
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                      <% end %>
                    </a>
                  </div>
                <% end %>

              </div>

              <% if pe_question.pe_element.assessment_method == 1 %>

                <!-- alternativas -->

                <% if pe_question.pe_alternatives.size > 0 %>

                  <div class="row">
                  <div class="col-md-<%= pe_evaluation.pe_elements.first.alternatives_display_method == 0 ? '6' : '8' %>" style="padding-top: 5px;">

                    <% pe_alternative_fixed = false %>

                    <% if pe_evaluation.pe_elements.first.alternatives_display_method == 0 %>

                      <select name="pe_question_<%= pe_question.id %>" id="pe_question_<%= pe_question.id %>" class="form-control pe_question_<%= pe_question.id %>">

                        <option value="">-- Seleccionar --</option>

                        <% pe_question.pe_alternatives.each_with_index do |pe_alternative, index_a| %>

                          <option value="<%= pe_alternative.id %>" <%= 'selected' if pe_alternative.fixed %>><%= pe_alternative.description.html_safe %></option>

                          <% pe_alternative_fixed = true if pe_alternative.fixed %>

                        <% end %>

                      </select>

                    <% else %>

                      <% pe_question.pe_alternatives.each_with_index do |pe_alternative, index_a| %>

                        <div class="radio">
                          <label>
                            <input class="pe_question_<%= pe_question.id %>" type="radio" name="pe_question_<%= pe_question.id %>" id="pe_question_<%= pe_question.id %>" value="<%= pe_alternative.id %>" <%= 'checked' if pe_alternative.fixed %>>
                            <%= pe_alternative.description.html_safe %>
                          </label>
                        </div>

                        <% pe_alternative_fixed = true if pe_alternative.fixed %>

                      <% end %>


                    <% end %>

                    <% if pe_alternative_fixed %>

                      <script>

                        $('.pe_question_<%= pe_question.id %>').prop('disabled','disabled')

                      </script>

                    <% end %>

                  </div>



                </div>

                <% end %>

              <% end %>

              <% if pe_evaluation.allow_list_individual_comments_qdefs(pe_rel) && pe_question.pe_element.allows_individual_comments %>
                <%= render partial: 'pe_definition_by_user/individual_comments_div',
                           locals: {
                               pe_evaluation: pe_evaluation,
                               pe_question: pe_question,
                               pe_element: pe_question.pe_element,
                               pe_member_evaluated: pe_member_evaluated,
                               pe_member_rel: pe_member_rel,
                               pe_member_rels_comments: pe_member_rels_comments
                           }
                %>
              <% end %>

            </div>

          </div>

          <br>
          <br>

        <% end %>

      <% end %>

    </div>
  </div>

<% if pe_evaluation.allow_create_individual_comment_qdefs(pe_rel) %>

  <% unless pe_member_evaluated.step_assessment? || pe_member_rel.finished %>

    <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready_all(pe_member_evaluated, pe_group, pe_rel).each_with_index do |pe_question| %>

      <% if pe_question.pe_element.allows_individual_comments? %>

        <%= render partial: 'pe_query_definitions/new_individual_comment',
                   locals: {
                       pe_evaluation: pe_evaluation,
                       pe_question: pe_question,
                       pe_question_comment: @pe_question_comment,
                       pe_member_rel: pe_member_rel
                   }
        %>

      <% end %>

    <% end %>

  <% end %>

<% end %>