
<% pe_group = nil %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = @pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>

<% total_num_questions = pe_evaluation.total_number_of_questions_by_pe_member_2nd_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel) %>

<% total_ansered_questions = 0 %>

<% total_ansered_questions = pe_assessment_evaluation ? pe_assessment_evaluation.pe_assessment_questions_2nd_level(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).size : 0 %>

<% if total_ansered_questions < total_num_questions %>

  <% incomplete_evaluation = true %>

  <script>

    if(active_tab_identified == false) {

      active_tab_identified = true;
      id_tab_identified = <%= pe_evaluation.id %>;

      /*alert(<%= pe_evaluation.id %>);*/

    }

  </script>

<% end %>

<% if total_ansered_questions < total_num_questions || total_num_questions == 0 %>
  <% @ready_to_confirm = false %>
<% end %>

<% if pe_assessment_evaluation && incomplete_evaluation %>

  <div class="alert alert-danger">
    Aún no ha completado la evaluación
  </div>

<% end %>

<% pe_assessment_evaluation = @pe_member_rel.pe_assessment_evaluations.build unless pe_assessment_evaluation %>

<% letras = 'abcdefghijklmnopqrstuvwxyz' %>

<%= form_for pe_assessment_evaluation, url: pe_assessment_assess_2_path(@pe_member_rel, pe_evaluation), html: {method: :post, class: 'form_pe_assess_'+pe_evaluation.id.to_s} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <% index_p_aux = 0 %>

      <table class="table table-bordered">

        <thead>

          <tr>

            <th>#</th>

            <% pe_element = pe_evaluation.pe_elements.first %>

            <% if pe_element.simple %>

              <th><%= pe_element.name %></th>

            <% else %>

              <% pe_element.pe_element_descriptions.each do |pe_element_description| %>

                <th>
                  <%= pe_element_description.name %>
                </th>

              <% end %>

            <% end %>

            <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).each_with_index do |pe_question| %>

              <% pe_evaluation.pe_questions_by_question_ready(pe_question.id).each do |pe_question_2nd_level| %>

                <th>
                  <%= pe_question_2nd_level.description.html_safe %>
                </th>

              <% end %>

              <% break %>

            <% end %>


          </tr>

        </thead>

        <tbody>

          <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).each_with_index do |pe_question, index_p| %>

            <tr>

              <% if pe_question.pe_element.visible %>

                <td>
                  <%= index_p+1 %>
                </td>

                <% if pe_question.pe_element.simple? %>
                  <td>
                    <%= pe_question.description.html_safe %>
                  </td>
                <% else %>


                  <% pe_element.pe_element_descriptions.each do |pe_element_description| %>

                    <td>

                      <% pe_question_description = pe_question.pe_question_descriptions.where('pe_element_description_id = ?', pe_element_description.id).first %>

                      <%= pe_question_description.description.html_safe if pe_question_description%>

                    </td>

                  <% end %>

                <% end %>

              <% end %>

              <% pe_evaluation.pe_questions_by_question_ready(pe_question.id).each_with_index do |pe_question_2nd_level, index_p2| %>

                <td>

                  <% if pe_question_2nd_level.pe_alternatives.size > 0 %>

                    <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question pe_question_2nd_level %>

                    <% pe_alternative_fixed = false %>

                    <% if pe_evaluation.pe_elements.second.alternatives_display_method == 0 %>

                      <select name="pe_question_<%= pe_question_2nd_level.id %>" id="pe_question_<%= pe_question_2nd_level.id %>" class="form-control pe_question_<%= pe_question_2nd_level.id %>">

                        <option value="">-- Seleccionar --</option>

                        <% pe_question_2nd_level.pe_alternatives.each_with_index do |pe_alternative, index_a| %>

                          <option value="<%= pe_alternative.id %>" <%= 'selected' if(pe_alternative.fixed || (pe_assessment_question && pe_assessment_question.pe_alternative_id == pe_alternative.id)) %>><%= pe_alternative.description.html_safe %></option>

                          <% pe_alternative_fixed = true if pe_alternative.fixed %>

                        <% end %>

                      </select>

                    <% else %>

                      <% pe_question_2nd_level.pe_alternatives.each_with_index do |pe_alternative, index_a| %>

                        <div class="radio">
                          <label>
                            <input class="pe_question_<%= pe_question_2nd_level.id %>" type="radio" name="pe_question_<%= pe_question_2nd_level.id %>" id="pe_question_<%= pe_question_2nd_level.id %>" value="<%= pe_alternative.id %>" <%= 'checked' if(pe_alternative.fixed || (pe_assessment_question && pe_assessment_question.pe_alternative_id == pe_alternative.id)) %>>
                            <%= pe_alternative.description.html_safe %>
                          </label>
                        </div>

                        <% pe_alternative_fixed = true if pe_alternative.fixed %>

                      <% end %>

                    <% end %>

                    <% if pe_alternative_fixed %>

                      <script>

                        $('.pe_question_<%= pe_question_2nd_level.id %>').prop('disabled','disabled')

                      </script>

                    <% end %>

                  <% end %>

                </td>

              <% end %>

            </tr>

          <% end %>

        </tbody>

      </table>

    </div>

    <% if ready_to_assess %>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      </div>

    <% else %>

      <script>

        $('.form_pe_assess_<%= pe_evaluation.id %> :input').attr("disabled", true);

      </script>

    <% end %>

  </div>

<% end %>
