
<% pe_group = nil %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>

  <div class="panel panel-default">
    <div class="panel-body">

      <% index_p_aux = 0 %>

      <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready_all(pe_member_evaluated, pe_group, pe_rel).each_with_index do |pe_question, index_p| %>

        <% if pe_question.pe_element.visible %>

          <div class="row">

            <div class="col-md-12">

              <strong><%= index_p+1 %>.

                <% if pe_question.pe_element.display_name %>

                  <%= pe_question.pe_element.name %>:

                <% end %>

              </strong>

              <% if pe_question.pe_element.simple? %>

                <%= pe_question.description.html_safe %>

              <% else %>

                <% pe_question.pe_question_descriptions.each do |pe_question_description| %>

                  <strong><%= pe_question_description.pe_element_description.name %></strong>
                  <%= pe_question_description.description.html_safe %>

                <% end %>

              <% end %>

            </div>

          </div>
          <br>

        <% end %>

        <% pe_evaluation.pe_questions_by_question_ready(pe_question.id).each_with_index do |pe_question_2nd_level, index_p2| %>

          <div class="row">

            <div class="<%= pe_question.pe_element.visible ? 'col-md-10 col-md-offset-1' : 'col-md-11' %>">

              <strong>

                <% if pe_question.pe_element.visible %>

                  <%= index_p+1 %>.<%= index_p2+1 %>.

                <% else %>

                  <%= index_p_aux += 1 %>.

                <% end %>

                <% if pe_question_2nd_level.pe_element.display_name %>

                  <%= pe_question_2nd_level.pe_element.name %>:

                <% end %>

              </strong>

              <% if pe_question_2nd_level.pe_element.simple? %>

                <%= pe_question_2nd_level.description.html_safe %>

              <% else %>

                <% pe_question_2nd_level.pe_question_descriptions.each do |pe_question_description| %>

                  <strong><%= pe_question_description.pe_element_description.name %></strong>
                  <%= pe_question_description.description.html_safe %>

                <% end %>

              <% end %>

            </div>

          </div>

          <br>

        <% end %>

        <% if pe_question.pe_element.visible %>

          <hr>

        <% end %>

      <% end %>


    </div>

  </div>