<div class="panel panel-default list_item">
  <div class="panel-body">
    <div class="row form-group <%= field_with_errors f, :position %>">
      <%= f.label :position, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.number_field :position, class: 'form-control' %>
      </div>
    </div>
    <div class="row form-group <%= field_with_errors f, :name %>">
      <%= f.label :name, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="row form-group <%= field_with_errors f, :description %>">
      <%= f.label :description, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_area :description, :rows => 3, class: 'form-control' %>
      </div>
    </div>
    <div class="row form-group">
      <%= f.label :active, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :active} %>
      </div>
    </div>
  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      <%= link_to_remove_scholarship_list_item 'Eliminar', f %>
    </div>
  </div>
</div>