<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + 'Regresar a gestión por usuario').html_safe, vac_manager_by_user_found_path(@vac_request.user), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-suitcase" aria-hidden="true"></i>
      <%= 'Gestionar' %>
      <span>> <%= 'Por usuario' %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'vac_accumulateds/user_info',
               locals: { user: @vac_request.user } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 new_form_div">
    <%= render partial: 'vac_records_register/request_new_form',
               locals: {request: @vac_request,
                        url_to_go: vac_manager_requests_create_path(@vac_request.user_id, @back_to_search),
                        manager: true} %>
  </div>
</div>

<div id="request_historical_info_container">
</div>

<script>
    function show_request_historical_info(link) {
        url = $(link).data('url');
        $.ajax({
            url: url,
            type: 'get',
            dataType: "html",
            success: function (data) {
                $('#request_historical_info_container').html(data)
                $('#request_historical_info_modal').modal('show');
            }
        });
    }
</script>