
<% pe_group = nil %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = @pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>


<% total_num_questions = pe_evaluation.total_number_of_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel) %>

<% total_ansered_questions = 0 %>

<% total_ansered_questions = pe_assessment_evaluation ? pe_assessment_evaluation.pe_assessment_questions_1st_level(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).size : 0 %>

<% if total_ansered_questions < total_num_questions %>

  <% incomplete_evaluation = true %>

  <script>

    if(active_tab_identified == false) {

      active_tab_identified = true;
      id_tab_identified = <%= pe_evaluation.id %>;


    }

  </script>

<% end %>

<% if total_ansered_questions < total_num_questions || total_num_questions == 0 %>
  <% @ready_to_confirm = false %>
<% end %>

<% if pe_assessment_evaluation && incomplete_evaluation %>

  <div class="alert alert-danger">
    Aún no ha completado la evaluación
  </div>

<% end %>

<% pe_assessment_evaluation = @pe_member_rel.pe_assessment_evaluations.build unless pe_assessment_evaluation %>

<% letras = 'abcdefghijklmnopqrstuvwxyz' %>

<%= form_for pe_assessment_evaluation, url: pe_managing_register_results_assess_path(@pe_member, pe_evaluation), html: {method: :post, class: 'form_pe_assess_'+pe_evaluation.id.to_s} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).each_with_index do |pe_question, index_p| %>

        <% if pe_question.pe_element.visible %>

          <div class="row">

            <% if pe_question.stored_image %>

              <div class="col-md-1">

                <img src="<%= request.base_url %>/storage/<%=company_codigo%>/stored_images/<%= pe_question.stored_image.crypted_name %>" width="130%">

              </div>

            <% end %>

            <div class="col-md-<%= pe_question.stored_image ? '11' : '12' %>">

              <div class="row">

                <div class="col-md-11">

                  <strong><%= index_p+1 %>.

                    <% if pe_question.pe_element.display_name %>

                      <%= pe_question.pe_element.name %>:

                    <% end %>

                  </strong>

                  <% if pe_question.pe_element.simple? %>

                    <%= pe_question.description.html_safe %>

                  <% else %>

                    <% pe_question.pe_question_descriptions.each do |pe_question_description| %>

                      <strong><%= pe_question_description.pe_element_description.name %></strong>
                      <%= pe_question_description.description.html_safe %>

                    <% end %>

                  <% end %>

                </div>

                <% if pe_evaluation.allow_list_individual_comments_assess(@pe_rel) && pe_question.pe_element.allows_individual_comments %>

                  <div class="col-md-1 text-right">

                    <a role="button" data-toggle="collapse" href="#list_comments_<%= pe_question.id %>" aria-expanded="false" aria-controls="collapseExample">
                      <% if pe_question.pe_question_comments_by_pe_member_rel(@pe_member_rel).size > 0 %>
                        <i class="fa fa-comment" aria-hidden="true"></i>
                      <% else %>
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                      <% end %>
                    </a>

                  </div>

                <% end %>

              </div>

              <% if pe_evaluation.allow_list_individual_comments_assess(@pe_rel) && pe_question.pe_element.allows_individual_comments %>

                <%= render partial: 'pe_assessment/individual_comments_div',
                           locals: {
                               pe_evaluation: pe_evaluation,
                               pe_question: pe_question,
                               pe_element: pe_question.pe_element,
                               pe_member_evaluated: @pe_member_evaluated,
                               pe_member_rel: @pe_member_rel,
                               pe_member_rels_comments: pe_member_rels_comments
                           }
                %>

              <% end %>

              <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question pe_question %>

              <% if pe_question.pe_element.assessment_method == 1 %>

                <!-- alternativas -->

                <% if pe_question.pe_alternatives.size > 0 %>

                <div class="row">
                  <div class="col-md-<%= pe_evaluation.pe_elements.first.alternatives_display_method == 0 ? '6' : '8' %>" style="padding-top: 5px;">

                    <% pe_alternative_fixed = false %>

                    <% if pe_evaluation.pe_elements.first.alternatives_display_method == 0 %>

                      <select name="pe_question_<%= pe_question.id %>" id="pe_question_<%= pe_question.id %>" class="form-control pe_question_<%= pe_question.id %>">

                        <option value="">-- Seleccionar --</option>

                        <% pe_question.pe_alternatives.each_with_index do |pe_alternative, index_a| %>

                          <option value="<%= pe_alternative.id %>" <%= 'selected' if(pe_alternative.fixed || (pe_assessment_question && pe_assessment_question.pe_alternative_id == pe_alternative.id)) %>><%= pe_alternative.description.html_safe %></option>

                          <% pe_alternative_fixed = true if pe_alternative.fixed %>

                        <% end %>

                      </select>

                    <% else %>

                      <% pe_question.pe_alternatives.each_with_index do |pe_alternative, index_a| %>

                        <div class="radio">
                          <label>
                            <input class="pe_question_<%= pe_question.id %>" type="radio" name="pe_question_<%= pe_question.id %>" id="pe_question_<%= pe_question.id %>" value="<%= pe_alternative.id %>" <%= 'checked' if(pe_alternative.fixed || (pe_assessment_question && pe_assessment_question.pe_alternative_id == pe_alternative.id)) %>>
                            <%= pe_alternative.description.html_safe %>
                          </label>
                        </div>

                        <% pe_alternative_fixed = true if pe_alternative.fixed %>

                      <% end %>


                    <% end %>

                    <% if pe_alternative_fixed %>

                      <script>

                        $('.pe_question_<%= pe_question.id %>').prop('disabled','disabled')

                      </script>

                    <% end %>

                  </div>

                  <% if @pe_member_rel.pe_rel.rel == 1 && pe_evaluation.has_rel_id(0) && pe_evaluation.step_assessment_show_auto_to_boss && @pe_member_rel_auto && pe_assessment_evaluation_auto %>

                    <% pe_assessment_question_auto = pe_assessment_evaluation_auto.pe_assessment_question pe_question %>

                    <% if pe_assessment_question_auto && pe_assessment_question_auto.pe_alternative %>


                      <div class="col-md-4">
                        <span class="label label-info">
                          Autoevaluación: <%= pe_assessment_question_auto.pe_alternative.description %>
                        </span>
                      </div>

                    <% end %>

                  <% end %>

                </div>


              <% end %>

              <% elsif pe_question.pe_element.assessment_method == 3 %>

                <!-- valor_numérico -->


              <% end %>

              <% if pe_question.has_comment %>
                <div class="row">
                  <div class="col-md-12">

                    <textarea rows="4" name="pe_question_comment_<%= pe_question.id %>" class="form-control"><%= pe_assessment_question.comment if pe_assessment_question %></textarea>

                  </div>
                </div>
              <% end %>

            </div>

          </div>

          <br>
          <br>

        <% end %>

      <% end %>


    </div>

    <% if ready_to_assess %>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      </div>

    <% else %>

      <script>

        $('.form_pe_assess_<%= pe_evaluation.id %> :input').attr("disabled", true);

      </script>

    <% end %>

  </div>

<% end %>

<% if pe_evaluation.allow_create_individual_comment_assess(@pe_rel) %>

  <% unless @pe_member_evaluated.step_assessment? || @pe_member_rel.finished %>

    <% pe_evaluation.pe_questions_by_pe_member_all_levels(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).each_with_index do |pe_question| %>

      <% if pe_question.pe_element.allows_individual_comments? %>

        <%= render partial: 'pe_assessment/new_individual_comment',
                   locals: {
                       pe_evaluation: pe_evaluation,
                       pe_question: pe_question,
                       pe_question_comment: @pe_question_comment,
                       pe_member_rel: @pe_member_rel
                   }
        %>

      <% end %>

    <% end %>

  <% end %>

<% end %>