
<% pe_group = nil %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = @pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>

<% total_num_questions = pe_evaluation.total_number_of_questions_by_pe_member_3rd_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel) %>

<% total_ansered_questions = pe_assessment_evaluation ? pe_assessment_evaluation.pe_assessment_questions_3rd_level(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).size : 0 %>



<% if total_ansered_questions < total_num_questions %>

  <% incomplete_evaluation = true %>

  <script>

    if(active_tab_identified == false) {

      active_tab_identified = true;
      id_tab_identified = <%= pe_evaluation.id %>;


    }

  </script>

<% end %>

<% if total_ansered_questions < total_num_questions || total_num_questions == 0 %>
  <% @ready_to_confirm = false %>
<% end %>


<% if pe_evaluation.pe_questions_by_pe_member_all_levels_ready(@pe_member_evaluated, @pe_member_evaluator, nil, nil).count == 0 %>

  <div class="alert alert-danger">
    El proceso de definición de <%= pe_evaluation.name.downcase %> aún no ha finalizado.
  </div>

<% else %>

  <% num_non_kpis = 0 %>

  <% if pe_assessment_evaluation && incomplete_evaluation %>

    <div class="alert alert-danger">
      Aún no ha completado la evaluación
    </div>

  <% end %>

  <% pe_assessment_evaluation = @pe_member_rel.pe_assessment_evaluations.build unless pe_assessment_evaluation %>

  <% letras = 'abcdefghijklmnopqrstuvwxyz' %>

  <%= form_for pe_assessment_evaluation, url: pe_managing_register_results_assess_path(@pe_member, pe_evaluation), html: {method: :post, class: 'form_pe_assess_'+pe_evaluation.id.to_s} do |f| %>

    <div class="panel panel-default">
    <div class="panel-body">

    <% index_p_aux = 0 %>

    <table class="table table-bordered">

    <thead></thead>


    <% pe_element_1st = pe_evaluation.pe_elements.first %>
    <% pe_element_2nd = pe_evaluation.pe_elements.second %>
    <% pe_element_3rd = pe_evaluation.pe_elements[2] %>

    <% num_1st_level = 1 %>

    <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).each_with_index do |pe_question_1st_level| %>

        <tbody>

          <tr>
            <td width="1%">
              <strong><%= num_1st_level %></strong>
            </td>
            <td style="border-right: 0px;">
              <strong>

                <% if pe_element_1st.display_name %>
                  <%= pe_question_1st_level.pe_element.name %>.
                <% end %>

                <%= pe_question_1st_level.description.html_safe %>

              </strong>

            </td>
            <td width="5%" style="border-left: 0px; border-right: 0px;" id="weight_1st_level_<%= pe_question_1st_level.id %>">
              <% if pe_element_1st.assessed %>

                <strong>

                  <%= number_with_precision(pe_question_1st_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%


                </strong>

              <% end %>
            </td>
            <td width="10%" style="border-left: 0px; border-right: 0px;">

            </td>
            <td width="20%" style="border-left: 0px; border-right: 0px;">

            </td>
            <td width="15%" style="border-left: 0px; border-right: 0px;">

            </td>
            <% if @pe_member_rel.pe_rel.rel == 1 && pe_evaluation.has_rel_id(0) && pe_evaluation.step_assessment_show_auto_to_boss && @pe_member_rel_auto && pe_assessment_evaluation_auto %>

              <td style="border-left: 0px;border-right: 0px;">

              </td>

            <% end %>

          </tr>

        </tbody>

      <% num_2nd_level = 1 %>
      <% sum_pesos_elementos_2nd_level_tmp = 0 %>
      <% pe_evaluation.pe_questions_by_question_ready(pe_question_1st_level).each do |pe_question_2nd_level| %>

        <% if pe_element_2nd.assessed %>

          <% sum_pesos_elementos_2nd_level_tmp += pe_question_2nd_level.weight %>

        <% end %>

        <thead>

        <tr>
          <th style="background-color: #dddddd;" width="1%">
            <%= num_1st_level %>.<%= num_2nd_level %>
          </th>
          <th style="background-color: #dddddd;" colspan="<%= '5' unless pe_element_2nd.assessed || pe_element_2nd.display_weight %>">

            <% if pe_element_2nd.display_name %>
              <%= pe_question_2nd_level.pe_element.name %>.
            <% end %>

            <%= pe_question_2nd_level.description.html_safe %>

          </th>

          <% if pe_element_2nd.assessed || pe_element_2nd.display_weight %>

            <th style="background-color: #dddddd;" width="5%" id="weight_2nd_level_<%= pe_question_2nd_level.id %>">
              <% if pe_element_2nd.assessed %>

                <%= number_with_precision(pe_question_2nd_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

              <% end %>
            </th>
            <th style="background-color: #dddddd;"  width="10%">

            </th>
            <th style="background-color: #dddddd;"  width="20%">

            </th>
            <th style="background-color: #dddddd;"  width="15%">

            </th>

          <% end %>

          <% if @pe_member_rel.pe_rel.rel == 1 && pe_evaluation.has_rel_id(0) && pe_evaluation.step_assessment_show_auto_to_boss && @pe_member_rel_auto && pe_assessment_evaluation_auto %>

            <th style="background-color: #dddddd;">

            </th>

          <% end %>
        </tr>

        <tr>
          <th></th>
          <th><%= pe_evaluation.pe_elements.last.name %></th>
          <th>Peso</th>
          <th>Meta</th>
          <th><nobr>Meta lograda</nobr></th>
          <th style="border-right: 0px;">Logro</th>

          <% if @pe_member_rel.pe_rel.rel == 1 && pe_evaluation.has_rel_id(0) && pe_evaluation.step_assessment_show_auto_to_boss && @pe_member_rel_auto && pe_assessment_evaluation_auto %>

            <th style="background-color: #f5f5f5;">
              Autoevaluación
            </th>

          <% end %>
        </tr>

        </thead>

        <tbody>

        <% num_3rd_level = 1 %>
        <% sum_pesos_elementos_3rd_level_tmp = 0 %>
        <% pe_evaluation.pe_questions_by_question_ready(pe_question_2nd_level).each do |pe_question_3rd_level| %>

          <% num_non_kpis += 1 unless pe_question_3rd_level.kpi_indicator %>
          <% sum_pesos_elementos_3rd_level_tmp += pe_question_3rd_level.weight %>

          <tr>
            <td>
              <%= num_1st_level %>.<%= num_2nd_level %>.<%= num_3rd_level %>
            </td>
            <td>

              <% if pe_question_3rd_level.pe_element.kpi_dashboard && pe_question_3rd_level.kpi_indicator %>
                <span class="label label-success">KPI</span>&nbsp;
              <% end %>


              <% if pe_question_3rd_level.pe_element.display_name %>
                <%= pe_question_3rd_level.pe_element.name %>.
              <% end %>


              <% if pe_question_3rd_level.pe_element.kpi_dashboard && pe_question_3rd_level.kpi_indicator %>

                <%= pe_question_3rd_level.kpi_indicator.name %>

              <% else %>

                <%= pe_question_3rd_level.description.html_safe %>

              <% end %>



            </td>
            <td>
              <%= number_with_precision(pe_question_3rd_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
            </td>
            <td>

              <%= render partial: 'pe_processes/indicator_goal_temp',
                         locals: {
                             pe_question: pe_question_3rd_level
                         }
              %>


            </td>
            <td>

              <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question_3rd_level) %>

              <% if pe_question_3rd_level.pe_element.kpi_dashboard && pe_question_3rd_level.kpi_indicator %>

                <%= pe_question_3rd_level.kpi_indicator.value %>

              <% else %>


                <% if pe_question_3rd_level.indicator_type == 4 %>

                  <% selected_value = '' %>

                  <select class="form-control" name="pe_question_<%= pe_question_3rd_level.id %>"  <%= 'disabled' unless pe_question_3rd_level.entered_by_manager %>>

                    <option value="">-- Seleccionar --</option>

                    <% pe_question_3rd_level.pe_question_ranks.each do  |qr| %>

                      <option value="<%= qr.discrete_goal %>" <%= 'selected' if pe_assessment_question && qr.discrete_goal == pe_assessment_question.indicator_discrete_achievement %> ><%= qr.discrete_goal.html_safe %></option>
                      <% selected_value = qr.discrete_goal if pe_assessment_question && qr.discrete_goal == pe_assessment_question.indicator_discrete_achievement %>
                    <% end %>

                  </select>

                  <% unless pe_question_3rd_level.entered_by_manager %>
                    <input type="hidden" name="pe_question_<%= pe_question_3rd_level.id %>" value="<%= selected_value %>" />
                  <% end %>

                <% else %>
                  <input <%= pe_question_3rd_level%> type="text" name="pe_question_<%= pe_question_3rd_level.id %>" class="form-control" value="<%= number_with_precision(pe_assessment_question.indicator_achievement, precision: 6, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) if pe_assessment_question %>" <%= 'readonly' unless pe_question_3rd_level.entered_by_manager %>>
                <% end %>

              <% end %>

            </td>
            <td style="border-right: 0px;">

              <% if pe_assessment_question %>

                <% ancho_p_b = 0 %>

                <% ancho_p_b = pe_assessment_question.percentage && pe_assessment_question.percentage < 100 ? pe_assessment_question.percentage.to_i : 100 %>

                <% if pe_question_3rd_level.indicator_type != 4 || (pe_question_3rd_level.indicator_type == 4 && !pe_assessment_question.indicator_discrete_achievement.blank?) %>

                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="<%= ancho_p_b %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= ancho_p_b %>%;">
                      <%= number_with_precision(pe_assessment_question.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
                    </div>
                  </div>

                <% end %>

              <% end %>

            </td>

            <% if @pe_member_rel.pe_rel.rel == 1 && pe_evaluation.has_rel_id(0) && pe_evaluation.step_assessment_show_auto_to_boss && @pe_member_rel_auto && pe_assessment_evaluation_auto %>

              <td style="font-style: italic; background-color: #f5f5f5;">

                <% pe_assessment_question_auto = pe_assessment_evaluation_auto.pe_assessment_question pe_question_3rd_level %>

                <% if pe_assessment_question_auto %>

                  <% if pe_question_3rd_level.indicator_type == 4 %>

                      <% pe_question_3rd_level.pe_question_ranks.each do  |qr| %>

                        <%= qr.discrete_goal.html_safe if pe_assessment_question_auto && qr.discrete_goal == pe_assessment_question_auto.indicator_discrete_achievement %>

                      <% end %>

                  <% else %>
                    <%= number_with_precision(pe_assessment_question_auto.indicator_achievement, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) if pe_assessment_question_auto %>
                  <% end %>

                  <% ancho_p_b = pe_assessment_question_auto.percentage && pe_assessment_question_auto.percentage < 100 ? pe_assessment_question_auto.percentage.to_i : 100 %>

                  <% if pe_question_3rd_level.indicator_type != 4 || (pe_question_3rd_level.indicator_type == 4 && !pe_assessment_question_auto.indicator_discrete_achievement.blank?) %>

                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="<%= ancho_p_b %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= ancho_p_b %>%;">
                        <%= number_with_precision(pe_assessment_question_auto.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
                      </div>
                    </div>

                  <% end %>

                <% end %>

              </td>

            <% end %>


          </tr>


          <% num_3rd_level += 1 %>

        <% end %>

        <% unless pe_element_2nd.assessed %>

          <% sum_pesos_elementos_2nd_level_tmp += sum_pesos_elementos_3rd_level_tmp %>

          <% if pe_element_2nd.display_weight %>

            <% suma_temp = number_with_precision(sum_pesos_elementos_3rd_level_tmp, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>

            <script>
              $( document ).ready(function() {
                $('#weight_2nd_level_<%= pe_question_2nd_level.id %>').append('<%= suma_temp %>%');
              });
            </script>

          <% end %>

        <% end %>

        </tbody>

        <% num_2nd_level += 1 %>

      <% end %>

      <% unless pe_element_1st.assessed %>

        <% if pe_element_1st.display_weight %>

          <% suma_temp = number_with_precision(sum_pesos_elementos_2nd_level_tmp, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>

          <script>
            $( document ).ready(function() {
              $('#weight_1st_level_<%= pe_question_1st_level.id %>').append('<strong><%= suma_temp %>%</strong>');
            });
          </script>

        <% end %>

      <% end %>

      <% num_1st_level += 1 %>

    <% end %>


    </table>

    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>

    </div>

  <% end %>



<% end %>
