
<%= form_for @pe_question, url: @pe_question.id ? pe_managing_modify_evaluations_update_path(@pe_question) : pe_managing_modify_evaluations_create_path(@pe_evaluation, @pe_member) , html: {class: 'form-horizontal', method: :post} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos del <%= @pe_element.name %></legend>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :pe_element_id %>
      <%= f.hidden_field :pe_question_id %>

      <% if @pe_question.pe_question && @pe_question.pe_question.pe_question_id %>

        <div class="row">
          <div class="col-md-3 text-right">
            <%= @pe_question.pe_question.pe_question.pe_element.name %>
          </div>
          <div class="col-md-9">
            <%= @pe_question.pe_question.pe_question.description %>
          </div>
        </div>

        <br>

      <% end %>

      <% if @pe_question.pe_question_id %>

        <div class="row">
          <div class="col-md-3 text-right">
            <%= @pe_question.pe_question.pe_element.name %>
          </div>
          <div class="col-md-9">
            <%= @pe_question.pe_question.description %>
          </div>
        </div>

        <br>

      <% end %>

      <% if @pe_element.assessment_method == 2 %>

        <% if @pe_element.kpi_dashboard %>

          <div class="form-group <%= field_with_errors f, :kpi_indicator_id %>">

            <%= f.label :kpi_indicator_id, 'Vincular con KPIs', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <select name="pe_question[kpi_indicator_id]" id="pe_question_kpi_indicator_id" class="form-control" onchange="toggle_kpis_no_container();">

                <option value="">-- Ninguno --</option>

                <% @pe_element.kpi_dashboard.kpi_sets.each do |kpi_set| %>

                  <optgroup label="<%= kpi_set.name %>">

                    <% kpi_set.kpi_indicators.each do |kpi_indicator| %>

                      <option value="<%= kpi_indicator.id %>" <%= 'selected' if @pe_question.kpi_indicator_id == kpi_indicator.id %>><%= kpi_indicator.name %></option>

                    <% end %>

                  </optgroup>

                <% end %>

              </select>

              <script>

                function toggle_kpis_no_container(){
                  if($('#pe_question_kpi_indicator_id').val() == ''){
                    $('.kpis_no_container').show();
                  }else{
                    $('.kpis_no_container').hide();
                  }

                }

                $(document).ready(function() {
                  toggle_kpis_no_container();
                });

              </script>


            </div>

          </div>

        <% end %>

      <% end %>

      <div class="kpis_no_container">

        <div class="form-group <%= field_with_errors f, :description %>">

          <%= f.label :description, @pe_element.name, class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.text_area :description, class: 'form-control', rows: '5', autofocus: 'autofocus' %>



          </div>

        </div>

      </div>

      <% if @pe_element.allow_note %>

        <div class="kpis_no_container">

          <div class="form-group <%= field_with_errors f, :note %>">

            <%= f.label :note, @pe_element.alias_note, class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_area :note, class: 'form-control', rows: '5', autofocus: 'autofocus' %>

              <script type="text/javascript">
                $('#pe_question_note').wysihtml5({
                  "font-styles": false,
                  "emphasis": false,
                  "lists": false,
                  "html": false,
                  "link": false,
                  "image": false,
                  "color": false
                });
              </script>

            </div>

          </div>

        </div>

      <% end %>

      <% if @pe_element.assessed %>

        <div class="form-group <%= field_with_errors f, :weight %>">

          <%= f.label :weight, 'Peso', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <% if @pe_question.pe_question && @pe_question.pe_question.pe_question_model && @pe_question.pe_question.pe_question_model.min_weight %>
              <% min_weight = @pe_question.pe_question.pe_question_model.min_weight %>
            <% elsif @pe_element.min_weight %>
              <% min_weight = @pe_element.min_weight %>
            <% else %>
              <% min_weight = nil %>
            <% end %>

            <% if @pe_question.pe_question && @pe_question.pe_question.pe_question_model && @pe_question.pe_question.pe_question_model.max_weight %>
              <% max_weight = @pe_question.pe_question.pe_question_model.max_weight %>
            <% elsif @pe_element.max_weight %>
              <% max_weight = @pe_element.max_weight %>
            <% else %>
              <% max_weight = nil %>
            <% end %>


            <% aux_weight = @pe_question.weight %>

            <% aux_weight = min_weight if min_weight && min_weight == max_weight %>

            <input class="form-control" id="pe_question_weight" name="pe_question[weight]" size="30" type="text" value="<%= number_with_precision(aux_weight, precision: 6, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>">

            <em>

              <% if min_weight %>
                Mínimo : <%= min_weight %>
              <% end %>

              <% if max_weight %>
                Máximo : <%= max_weight %>
              <% end %>

            </em>

          </div>

        </div>

        <% if @pe_element.assessment_method == 2 %>

          <div class="kpis_no_container">

            <div class="form-group <%= field_with_errors f, :indicator_type %>">

              <%= f.label :indicator_type, 'Tipo de '+@pe_element.name.downcase, class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.select(:indicator_type, options_for_select(@pe_element.indicator_types_array_for_select, @pe_question.indicator_type), {}, class: 'form-control', onchange: 'selecciona_tipo_meta();') %>

                <script>
                  function selecciona_tipo_meta(){
                    var tipo_indicador = $( "#pe_question_indicator_type option:selected" ).val();
                    if(tipo_indicador <= 2){
                      $( "#contenedor_meta_unica").show();
                      $( "#contenedor_meta_non_discrete").hide();
                      $( "#contenedor_meta_discrete").hide();
                      $( "#contenedor_security_indicator").hide();
                    }else if(tipo_indicador == 3){
                      $( "#contenedor_meta_unica").hide();
                      $( "#contenedor_meta_non_discrete").show();
                      $( "#contenedor_meta_discrete").hide();
                      $( "#contenedor_security_indicator").hide();
                    }else if(tipo_indicador == 4){
                      $( "#contenedor_meta_unica").hide();
                      $( "#contenedor_meta_non_discrete").hide();
                      $( "#contenedor_meta_discrete").show();
                      $( "#contenedor_security_indicator").hide();
                    }else if(tipo_indicador == 5){
                      $( "#contenedor_meta_unica").show();
                      $( "#contenedor_meta_non_discrete").hide();
                      $( "#contenedor_meta_discrete").hide();
                      $( "#contenedor_security_indicator").show();
                    }
                  }

                  $(document).ready(function() {
                    selecciona_tipo_meta();
                  });

                </script>

              </div>

            </div>

            <div class="form-group <%= field_with_errors f, :indicator_unit %>">

              <%= f.label :indicator_unit, 'Unidad de medida', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_field :indicator_unit, class: 'form-control' %>

              </div>

            </div>

            <div class="form-group <%= field_with_errors f, :indicator_goal %>" id="contenedor_meta_unica">

              <%= f.label :indicator_goal, 'Meta', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_field :indicator_goal, class: 'form-control' %>

              </div>

            </div>


            <div class="form-group <%= 'has-error' if @error_rangos %> " id="contenedor_meta_non_discrete">

              <%= f.label :meta_rango_indicador, 'Metas rango', class: 'col-md-3 control-label' %>

              <div class="col-md-9" id="rank_non_discrete_container">

                <% if @pe_element.pe_question_rank_models_non_discrete.size == 0 %>

                  <%= link_to_add_rank_non_discrete %>

                  <a href="#" onclick="remove_rank_non_discrete()"><i class="fa fa-minus" style="color: red;"></i></a>

                  <% @pe_question_ranks_non_discrete.each do |pe_question_rank| %>

                    <%=

                      render partial: 'pe_definition_by_user/pe_question_rank_non_discrete',
                             locals: {
                                 pe_question_rank: pe_question_rank,
                                 goal: pe_question_rank.goal,
                                 percentage: pe_question_rank.percentage,
                                 read_only_goal: false,
                                 read_only_percentage: false,
                                 pe_question_rank_model: nil
                             }

                    %>

                  <% end %>

                  <script>

                    function remove_rank_non_discrete(){

                      $('#rank_non_discrete_container').children('.rank-row').last().remove();

                    }

                    function add_rank_non_discrete(content){

                      $('#rank_non_discrete_container').append(content);

                    }

                  </script>


                <% else %>

                  <% if @pe_question_ranks_non_discrete.size == 0 %>

                    <% @pe_question.pe_element.pe_question_rank_models_non_discrete.each do |pe_question_rank_model| %>

                      <% pe_question_rank = @pe_question.pe_question_ranks_by_pe_question_rank_model pe_question_rank_model %>

                      <%=

                        render partial: 'pe_definition_by_user/pe_question_rank_non_discrete',
                               locals: {
                                   pe_question_rank: pe_question_rank,
                                   goal: pe_question_rank ? pe_question_rank.goal : pe_question_rank_model.goal,
                                   percentage: pe_question_rank ? pe_question_rank.percentage : pe_question_rank_model.percentage,
                                   read_only_goal: pe_question_rank_model.goal.nil? ? false : true,
                                   read_only_percentage: pe_question_rank_model.percentage.nil? ? false : true,
                                   pe_question_rank_model: pe_question_rank_model
                               }

                      %>

                    <% end %>

                  <% else %>

                    <% @pe_question_ranks_non_discrete.each do |pe_question_rank| %>

                      <% pe_question_rank_model = pe_question_rank.pe_question_rank_model %>

                      <%=

                        render partial: 'pe_definition_by_user/pe_question_rank_non_discrete',
                               locals: {
                                   pe_question_rank: pe_question_rank,
                                   goal: pe_question_rank.goal,
                                   percentage: pe_question_rank.percentage,
                                   read_only_goal: (pe_question_rank_model && !pe_question_rank_model.goal.nil?) || @pe_question.pe_element.fix_rank_models == 1 ? true : false,
                                   read_only_percentage: (pe_question_rank_model && !pe_question_rank_model.percentage.nil?) || @pe_question.pe_element.fix_rank_models == 2 ? true : false,
                                   pe_question_rank_model: pe_question_rank_model
                               }

                      %>

                    <% end %>

                  <% end %>

                <% end %>

              </div>

            </div>

            <div class="form-group <%= 'has-error' if @error_rangos %> " id="contenedor_meta_discrete">

              <%= f.label :meta_rango_indicador, 'Metas discretas', class: 'col-md-3 control-label' %>

              <div class="col-md-9" id="rank_discrete_container">

                <% if @pe_element.pe_question_rank_models_discrete.size == 0 %>

                  <%= link_to_add_rank_discrete %>

                  <a href="#" onclick="remove_rank_discrete()"><i class="fa fa-minus" style="color: red;"></i></a>

                  <% @pe_question_ranks_discrete.each do |pe_question_rank| %>

                    <%=

                      render partial: 'pe_definition_by_user/pe_question_rank_discrete',
                             locals: {
                                 pe_question_rank: pe_question_rank,
                                 goal: pe_question_rank.discrete_goal,
                                 percentage: pe_question_rank.percentage,
                                 read_only_goal: false,
                                 read_only_percentage: false,
                                 pe_question_rank_model: nil
                             }

                    %>

                  <% end %>

                  <script>

                    function remove_rank_discrete(){

                      $('#rank_discrete_container').children('.rank-row').last().remove();

                    }

                    function add_rank_discrete(content){

                      $('#rank_discrete_container').append(content);

                    }

                  </script>


                <% else %>

                  <% if @pe_question_ranks_discrete.size == 0 %>

                    <% @pe_question.pe_element.pe_question_rank_models_discrete.each do |pe_question_rank_model| %>

                      <% pe_question_rank = @pe_question.pe_question_ranks_by_pe_question_rank_model pe_question_rank_model %>

                      <%=

                        render partial: 'pe_definition_by_user/pe_question_rank_discrete',
                               locals: {
                                   pe_question_rank: pe_question_rank,
                                   goal: pe_question_rank ? pe_question_rank.discrete_goal : pe_question_rank_model.discrete_goal,
                                   percentage: pe_question_rank ? pe_question_rank.percentage : pe_question_rank_model.percentage,
                                   read_only_goal: pe_question_rank_model.discrete_goal.nil? ? false : true,
                                   read_only_percentage: pe_question_rank_model.percentage.nil? ? false : true,
                                   pe_question_rank_model: pe_question_rank_model
                               }

                      %>

                    <% end %>

                  <% else %>

                    <% @pe_question_ranks_discrete.each do |pe_question_rank| %>

                      <% pe_question_rank_model = pe_question_rank.pe_question_rank_model %>

                      <%=

                        render partial: 'pe_definition_by_user/pe_question_rank_discrete',
                               locals: {
                                   pe_question_rank: pe_question_rank,
                                   goal: pe_question_rank.discrete_goal,
                                   percentage: pe_question_rank.percentage,
                                   read_only_goal: (pe_question_rank_model && !pe_question_rank_model.discrete_goal.nil?) || @pe_question.pe_element.fix_rank_models == 1 ? true : false,
                                   read_only_percentage: (pe_question_rank_model && !pe_question_rank_model.percentage.nil?) || @pe_question.pe_element.fix_rank_models == 2 ? true : false,
                                   pe_question_rank_model: pe_question_rank_model
                               }

                      %>

                    <% end %>

                  <% end %>

                <% end %>

              </div>

            </div>

            <div id="contenedor_security_indicator">

              <div class="form-group <%= field_with_errors f, :power %>">

                <%= f.label :power, 'Potencia', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <input class="form-control" id="pe_question_power" name="pe_question[power]" size="30" type="text" value="<%= number_with_precision(@pe_question.power, precision: 6, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>">

                </div>

              </div>

              <div class="form-group <%= field_with_errors f, :leverage %>">

                <%= f.label :leverage, 'Apalancamiento', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <input class="form-control" id="pe_question_leverage" name="pe_question[leverage]" size="30" type="text" value="<%= number_with_precision(@pe_question.leverage, precision: 6, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>">

                </div>

              </div>

            </div>

          </div>

        <% end %>


      <% end %>



    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>


<% end %>
