
<% pe_questions_parent = Array.new if first_element %>

<% pe_questions.each do |pe_question| %>



    <% pe_questions_children = @pe_evaluation.pe_questions_by_question_ready(pe_question.id) %>

    <% if pe_questions_children.size > 0 %>

      <% pe_questions_parent.push pe_question %>

      <%= render partial: 'pe_managing/register_results_questions_download_evaluation_to_activate_item',
                 locals: {
                   pe_questions: pe_questions_children,
                   pe_questions_parent: pe_questions_parent,
                   first_element: false,
                   pe_member_evaluated_rel: pe_member_evaluated_rel
                 }
      %>

      <% pe_questions_parent.pop %>

    <% else %>

        <Row>

          <% if @pe_process.of_persons? %>

            <Cell>
              <Data ss:Type="String"><%= @pe_member_evaluated.user.codigo %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= @pe_member_evaluated.user.apellidos %>, <%= @pe_member_evaluated.user.nombre %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= @pe_member_evaluator.user.codigo %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= @pe_member_evaluator.user.apellidos %>, <%= @pe_member_evaluator.user.nombre %></Data>
            </Cell>

          <% else %>

            <Cell>
              <Data ss:Type="String"><%= @pe_member_evaluated.pe_area.name %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= @pe_member_evaluated.user.codigo %> - <%= @pe_member_evaluated.user.apellidos %>, <%= @pe_member_evaluated.user.nombre %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= @pe_member_evaluator.pe_area.name %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= @pe_member_evaluator.user.codigo %> - <%= @pe_member_evaluator.user.apellidos %>, <%= @pe_member_evaluator.user.nombre %></Data>
            </Cell>

          <% end %>

          <Cell>
            <Data ss:Type="String"><%= @pe_rel.alias %></Data>
          </Cell>

          <% pe_questions_parent.each do |pe_question_parent| %>

            <% if pe_question_parent.pe_element.simple %>

              <Cell><Data ss:Type="String"><%= ActionView::Base.full_sanitizer.sanitize pe_question_parent.description %></Data></Cell>

            <% else %>

              <% pe_question_parent.pe_element.pe_element_descriptions.each do |pe_element_description| %>

                <% pe_question_description = pe_question_parent.pe_question_descriptions.where('pe_element_description_id = ?', pe_element_description.id).first %>

                <Cell><Data ss:Type="String"><%= ActionView::Base.full_sanitizer.sanitize pe_question_description.description if pe_question_description %></Data></Cell>

              <% end %>

            <% end %>

          <% end %>

          <% if pe_question.pe_element.simple %>

            <Cell><Data ss:Type="String"><%= pe_question.description %></Data></Cell>

          <% else %>

            <% pe_question.pe_element.pe_element_descriptions.each do |pe_element_description| %>

              <% pe_question_description = pe_question.pe_question_descriptions.where('pe_element_description_id = ?', pe_element_description.id).first %>

              <Cell><Data ss:Type="String"><%= pe_question_description.description.html_safe if pe_question_description %></Data></Cell>

            <% end %>

          <% end %>

          <% if pe_question.pe_element.assessment_method == 2 %>

            <Cell><Data ss:Type="String"><%= pe_question.indicator_type_name if pe_question.indicator_type %></Data></Cell>
            <Cell ss:StyleID="format_number"><Data ss:Type="Number"><%= pe_question.weight %></Data></Cell>

            <% goal = if pe_question.indicator_type == 4 %>
              <% pe_question.indicator_discrete_goal ? CGI.unescapeHTML(pe_question.indicator_discrete_goal) : '' %>
            <% else %>
              <% pe_question.indicator_goal %>
            <% end %>

            <Cell><Data ss:Type="String"><%= goal %> <%= pe_question.indicator_unit if pe_question.indicator_type != 4 %></Data></Cell>


          <% end %>

          <Cell><Data ss:Type="String"></Data></Cell>

          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"><%= pe_question.id %></Data></Cell>

        </Row>

    <% end %>

<% end %>