<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de procesos'.html_safe, pe_managing_list_processes_2_path, class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Modificar fechas
    </h1>
  </div>

</div>


<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <%= form_for @pe_process, url: pe_managing_update_dates_2_path(@pe_process), html: {method: :post, class: 'form-horizontal'} do |f| %>

      <div class="panel panel-default">
      <div class="panel-body">

      <legend>
        Fechas
      </legend>

      <div class="form-group">
        <label class="col-md-3 control-label">Fecha de inicio</label>
        <div class="col-md-9">
          <div id="pe_process_fi" class="input-group date">
            <input class="form-control" name="pe_process[from_date]" data-format="dd/MM/yyyy" type="text" value="<%= @pe_process.from_date.strftime('%d/%m/%Y') %>" readonly>
                        <span class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </span>
          </div>
          <script type="text/javascript">

            $('#pe_process_fi').datetimepicker({
              language: 'es',
              pickTime: false
            });

          </script>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">Fecha de fin</label>
        <div class="col-md-9">
          <div id="pe_process_ff" class="input-group date">
            <input class="form-control" name="pe_process[to_date]" data-format="dd/MM/yyyy" type="text" value="<%= @pe_process.to_date.strftime('%d/%m/%Y') %>" readonly>
                        <span class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </span>
          </div>
          <script type="text/javascript">

            $('#pe_process_ff').datetimepicker({
              language: 'es',
              pickTime: false
            });

          </script>
        </div>
      </div>

      <ul class="nav nav-tabs">

        <% index_e = 0 %>

        <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

          <% unless pe_evaluation.entered_by_manager %>

            <li class="<%= 'active' if index_e == 0 %>">
              <a href="#tab_evaluation_<%= pe_evaluation.id %>" data-toggle="tab"><%= pe_evaluation.position %>. <%= pe_evaluation.name %></a>
            </li>

            <% index_e += 1 %>

          <% end %>

        <% end %>

      </ul>

      <div class="tab-content">

      <% index_e = 0 %>

      <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

        <% unless pe_evaluation.entered_by_manager %>

          <div class="tab-pane <%= 'active' if index_e == 0 %>" id="tab_evaluation_<%= pe_evaluation.id %>">
            <br><br>
            <% index_e += 1 %>

            <% @pe_process.pe_rels.each do |pe_rel| %>

              <% pe_evaluation_rel = pe_evaluation.pe_evaluation_rel(pe_rel) %>

              <% if pe_evaluation_rel %>

                <%= 'Evaluación de ' unless pe_rel.rel == 0 %>

                <strong><%= pe_rel.alias %></strong><br><br>

                <div class="form-group">

                  <%= f.label :eval_by, 'Fecha de inicio', class: 'col-md-3 control-label' %>

                  <div class="col-md-9">

                    <div id="eval_by_<%= pe_evaluation.id %>_<%= pe_rel.rel %>_from_date" class="input-group date">
                      <input class="form-control" name="eval_by_<%= pe_evaluation.id %>_<%= pe_rel.rel %>_from_date" data-format="dd/MM/yyyy" type="text" value="<%= pe_evaluation_rel.from_date ? pe_evaluation_rel.from_date.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y') %>" readonly>
                        <span class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </span>
                    </div>

                    <script type="text/javascript">


                      $('#eval_by_<%= pe_evaluation.id %>_<%= pe_rel.rel %>_from_date').datetimepicker({
                        language: 'es',
                        pickTime: false
                      });

                    </script>

                  </div>

                </div>

                <div class="form-group">

                  <%= f.label :eval_by, 'Fecha de fin', class: 'col-md-3 control-label' %>

                  <div class="col-md-9">

                    <div id="eval_by_<%= pe_evaluation.id %>_<%= pe_rel.rel %>_to_date" class="input-group date">
                      <input class="form-control" name="eval_by_<%= pe_evaluation.id %>_<%= pe_rel.rel %>_to_date" data-format="dd/MM/yyyy" type="text" value="<%= pe_evaluation_rel.to_date ? pe_evaluation_rel.to_date.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y') %>" readonly>
                        <span class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </span>
                    </div>

                    <script type="text/javascript">


                      $('#eval_by_<%= pe_evaluation.id %>_<%= pe_rel.rel %>_to_date').datetimepicker({
                        language: 'es',
                        pickTime: false
                      });

                    </script>

                  </div>

                </div>

                <hr>

              <% end %>

            <% end %>

          </div>

        <% end %>

      <% end %>

      </div>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      </div>


      </div>

    <% end %>

  </div>
</div>
