
<div class="col-md-10 col-md-offset-1">
  <h1 class="page-title txt-color-blueDark">
    Gestionar procesos de evaluación de desempeño
  </h1>
</div>

<div class="row">

  <div class="col-md-10 col-md-offset-1">


    <% user_connected.pe_managers_ordered_by_process.each_with_index do |pe_manager| %>

      <% pe_process = pe_manager.pe_process %>


        <div class="panel panel-default">
          <div class="panel-body">

            <legend>
              <%= pe_process.name %> - <%= pe_process.period %>
            </legend>

            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-3 text-right">
                    Descripción
                  </div>
                  <div class="col-md-9">
                    <%= pe_process.description %>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-3 text-right">
                    Fecha de inicio
                  </div>
                  <div class="col-md-9">
                    <%= (localize pe_process.from_date, format: :day_snmonth_year) %>

                    <% if lms_time >= pe_process.from_date %>

                  <span class="label label-danger">Hace
                    <%= distance_of_time_in_words(pe_process.from_date, lms_time) %>
                  </span>

                    <% else %>
                  <span class="label label-primary">En
                    <%= distance_of_time_in_words(lms_time, pe_process.from_date) %>
                  </span>
                    <% end %>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-3 text-right">
                    Fecha de fin
                  </div>
                  <div class="col-md-9">
                    <%= (localize pe_process.to_date, format: :day_snmonth_year) %>

                    <% if lms_time > pe_process.to_date %>

                  <span class="label label-danger">Hace
                    <%= distance_of_time_in_words(pe_process.to_date, lms_time) %>
                  </span>

                    <% else %>
                  <span class="label label-primary">En
                    <%= distance_of_time_in_words(lms_time, pe_process.to_date) %>
                  </span>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-md-6">


                  <div class="row">
                    <div class="col-md-12">

                      <% if pe_process.manage_dates %>

                        <%= link_to 'Fechas', pe_managing_edit_dates_2_path(pe_process) %>

                      <% end %>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <% if pe_process.manage_definition %>

                        <% pe_process.pe_evaluations_defined_by_users.each do |pe_evaluation| %>

                          <% unless pe_evaluation.name == 'Objetivos (Cargo Anterior)' %>

                            <%= link_to 'Definición de '+pe_evaluation.name.downcase, pe_managing_def_by_users_path(pe_evaluation) %>

                          <% end %>

                        <% end %>

                      <% end %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <% if pe_process.manage_definition && pe_process.pe_evaluations_defined_by_managers.size > 0 %>
                        <%= link_to 'Modificar evaluaciones', pe_managing_modify_evaluations_list_people_path(pe_process) %>
                      <% end %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">

                      <% if pe_process.manage_enter_by_manager %>

                        <% entered_by_manager = false %>

                        <% pe_process.pe_evaluations.each do |pe_evaluation| %>

                          <% if pe_evaluation.entered_by_manager %>
                            <% entered_by_manager = true %>
                            <% break %>
                          <% end %>

                        <% end %>

                        <% if entered_by_manager %>

                          <%= link_to 'Resultados por evaluación', pe_managing_register_results_list_evaluations_path(pe_process) %>

                        <% end %>

                        <% entered_by_manager = false %>

                        <% pe_process.pe_evaluations.each do |pe_evaluation| %>

                          <% if pe_evaluation.entered_by_manager_questions %>
                            <% entered_by_manager = true %>
                            <% break %>
                          <% end %>

                        <% end %>

                        <% if entered_by_manager %>

                          <%= link_to 'Resultados por pregunta', pe_managing_register_results_list_people_path(pe_process) %>

                        <% end %>

                      <% end %>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <% if pe_process.manage_evaluations %>

                        <%= link_to 'Evaluaciones', pe_managing_manage_assessments_path(pe_process) %>

                      <% end %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <% if pe_process.manage_calibration %>
                        <%= link_to 'Sesiones de calibración', pe_cal_sessions_list_path(pe_process) %>
                      <% end %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <% if pe_process.manage_calibration_e %>
                        <% pe_process.pe_evaluations.each do |pe_evaluation| %>
                          <% if pe_evaluation.allow_calibration %>
                            <%= link_to 'Sesiones de calibración: '+pe_evaluation.name, pe_cal_sessions_list_e_path(pe_evaluation) %><br>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <% if pe_process.manage_feedback && pe_process.has_step_feedback %>
                        <%= link_to 'Retroalimentación', pe_managing_manage_feedbacks_path(pe_process) %>
                      <% end %>
                    </div>

                  </div>

              </div>
            </div>



          </div>

        </div>


    <% end %>
        <!--
        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>
            <th>#</th>
            <th>Periodo</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Fecha de inicio</th>
            <th>Fecha de fin</th>

            <th colspan="6"></th>
          </tr>

          </thead>

          <tbody>

          <% n_process = 0 %>

          <% user_connected.pe_managers_ordered_by_process.each_with_index do |pe_manager| %>

            <% pe_process = pe_manager.pe_process %>

            <% if pe_process.active %>

              <tr>
                <td>
                  <%= n_process += 1 %>
                </td>
                <td><%= pe_process.period %></td>
                <td><%= pe_process.name %></td>
                <td><%= pe_process.description %></td>
                <td>
                  <% if pe_process.active %>
                    <span class="label label-success">Activo</span>
                  <% else %>
                    <span class="label label-danger">Inactivo</span>
                  <% end %>
                </td>
                <td>
                  <%= (localize pe_process.from_date, format: :day_snmonth_year) %><br>

                  <% if lms_time >= pe_process.from_date %>

                <span class="label label-danger">Hace
                  <%= distance_of_time_in_words(pe_process.from_date, lms_time) %>
                </span>

                  <% else %>
                <span class="label label-primary">En
                  <%= distance_of_time_in_words(lms_time, pe_process.from_date) %>
                </span>
                  <% end %>

                </td>
                <td>
                  <%= (localize pe_process.to_date, format: :day_snmonth_year) %><br>

                  <% if lms_time > pe_process.to_date %>

                <span class="label label-danger">Hace
                  <%= distance_of_time_in_words(pe_process.to_date, lms_time) %>
                </span>

                  <% else %>
                <span class="label label-primary">En
                  <%= distance_of_time_in_words(lms_time, pe_process.to_date) %>
                </span>
                  <% end %>

                </td>
                <td>
                  <%= link_to 'Modificar fechas', pe_managing_edit_dates_2_path(pe_process) %>
                </td>
                <td>

                  <% entered_by_manager = false %>

                  <% pe_process.pe_evaluations.each do |pe_evaluation| %>

                    <% if pe_evaluation.entered_by_manager || pe_evaluation.entered_by_manager_questions %>
                      <% entered_by_manager = true %>
                      <% break %>
                    <% end %>

                  <% end %>

                  <% if entered_by_manager %>

                    <%= link_to 'Registrar resultados', pe_managing_register_results_list_evaluations_path(pe_process) %>

                  <% end %>

                </td>

                <td>
                  <% if pe_process.has_step_definition_by_users? %>

                    <% pe_process.pe_evaluations_defined_by_users.each do |pe_evaluation| %>

                      <%= link_to 'Definición '+pe_evaluation.name, pe_managing_def_by_users_path(pe_evaluation) %>

                    <% end %>

                  <% end %>
                </td>

                <td>
                  <% if pe_process.has_step_assessment %>

                    <%= link_to 'Evaluaciones', pe_managing_manage_assessments_path(pe_process) %>

                  <% end %>
                </td>

                <td>
                  <% if pe_process.has_step_calibration %>
                    <%= link_to 'Sesiones de calibración', pe_cal_sessions_list_path(pe_process) %>
                  <% end %>
                </td>

                <td>
                  <% if pe_process.has_step_feedback? %>
                    <%= link_to 'Retroalimentación', pe_managing_manage_feedbacks_path(pe_process) %>
                  <% end %>

                </td>

              </tr>

            <% end %>

          <% end %>

          <% user_connected.hr_process_managers.each_with_index do |hr_process_manager| %>

            <% hr_process = hr_process_manager.hr_process %>

            <% if hr_process.abierto %>

              <tr>
                <td>
                  <%= n_process += 1 %>
                </td>
                <td><%= hr_process.year %></td>
                <td><%= hr_process.nombre %></td>
                <td></td>
                <td>
                  <% if hr_process.abierto %>
                    <span class="label label-success">Activo</span>
                  <% else %>
                    <span class="label label-danger">Inactivo</span>
                  <% end %>
                </td>
                <td>
                  <%= (localize hr_process.fecha_inicio, format: :day_snmonth_year) %><br>

                  <% if lms_time >= hr_process.fecha_inicio %>

                <span class="label label-danger">Hace
                  <%= distance_of_time_in_words(hr_process.fecha_inicio, lms_time) %>
                </span>

                  <% else %>
                <span class="label label-primary">En
                  <%= distance_of_time_in_words(lms_time, hr_process.fecha_inicio) %>
                </span>
                  <% end %>

                </td>
                <td>
                  <%= (localize hr_process.fecha_fin, format: :day_snmonth_year) %><br>

                  <% if lms_time > hr_process.fecha_fin %>

                <span class="label label-danger">Hace
                  <%= distance_of_time_in_words(hr_process.fecha_fin, lms_time) %>
                </span>

                  <% else %>
                <span class="label label-primary">En
                  <%= distance_of_time_in_words(lms_time, hr_process.fecha_fin) %>
                </span>
                  <% end %>

                </td>
                <td>
                  <%= link_to 'Modificar fechas', pe_managing_edit_dates_path(hr_process) %>

                </td>
                <td>

                  <% hay_registro_gestor = false %>

                  <% hr_process.current_hr_process_evaluations.each do |hr_process_evaluation| %>

                    <% hay_registro_gestor = true if hr_process_evaluation.hr_process_dimension_e.registro_por_gestor %>

                  <% end %>

                  <% if hay_registro_gestor %>

                    <%= link_to 'Registrar resultados', pe_managing_register_results_1_path(hr_process) %>

                  <% end %>

                </td>
                <td>

                </td>
                <td>
                  <%= link_to 'Evaluaciones', hr_process_assessment_gestionar_evaluadores_path(hr_process) %>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <% if $current_domain == 'seduc' || $current_domain == 'seduc-training' %>
                    <br>
                    <%= link_to 'Responsables', hr_process_assessment_gestionar_responsables_path(hr_process) %>
                  <% end %>
                </td>

                <td>
                  <% if hr_process.calib_cuadrante || hr_process.calib_dimension %>
                    <%= link_to 'Sesiones de calibración', listar_hr_process_calibration_sessions_path(hr_process) %>
                  <% end %>

                </td>
                <td></td>
              </tr>

            <% end %>

          <% end %>

          </tbody>

        </table>
        -->

  </div>

</div>

