<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de evaluados'.html_safe, pe_managing_manage_assessments_path(@pe_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Gestionar evaluación
    </h1>
  </div>

</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% if @pe_process.of_persons? %>

      <%= render partial: 'shared/user_profile_mini',
                 locals: {
                   user: @pe_member.user,
                   company: @company,
                   ocultar_historial: true,
                   titulo: 'Perfil del Evaluado',
                   is_boss: false

                 }
      %>

    <% else %>

      <div class="panel panel-default">
        <div class="panel-body">



          <div class="row">
            <div class="col-md-12">
              <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-cubes"></i>
                Área evaluada
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member.pe_area.name %></span></h3>
            </div>
          </div>

          <br>

          <div class="row">

            <div class="col-md-3 text-center">

              <% if @pe_member.user.foto %>
                <img src="https://<%=request.host%>/storage/<%=company_codigo%>/fotos_usuarios/<%=@pe_member.user.foto%>" class="img-thumbnail user-foto">
              <% else %>
                <img src="/assets/default_user.png" class="img-thumbnail user-foto">

              <% end %>

            </div>
            <div class="col-md-9">

              <div class="row">
                <div class="col-md-12">
                  <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member.user.nombre %> <%= @pe_member.user.apellidos %></span></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 ">
                  <a><em><%= @pe_member.user.email %></em></a>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Evaluadores</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>
            <tr>
              <th>#</th>
              <% unless @pe_process.of_persons? %>
                <th>Área</th>
              <% end %>
              <th><%= alias_username %></th>
              <th>Apellidos</th>
              <th>Nombre</th>
              <th>Relación</th>
              <th>Evaluación</th>
              <th>Abrir/Finalizar</th>
              <th>Eliminar</th>
              <th>Validador</th>
              <th>Validación</th>
              <th>Eliminar validador</th>


            </tr>

          </thead>

          <tbody>


          <% if @pe_process.of_persons? %>
            <% pe_member_rels_is_evaluated =@pe_member.pe_member_rels_is_evaluated_ordered %>
          <% else %>
            <% pe_member_rels_is_evaluated = @pe_member.pe_member_rels_is_evaluated_ordered_by_pe_area %>
          <% end %>

          <% pe_member_rels_is_evaluated.each_with_index do |pe_member_rel_is_evaluated, index| %>

            <% pe_member_evaluator = pe_member_rel_is_evaluated.pe_member_evaluator %>

            <tr>
              <td><%= index+1 %></td>
              <% unless @pe_process.of_persons? %>
                <td><%= pe_member_evaluator.pe_area.name if pe_member_evaluator.pe_area %></td>
              <% end %>
              <td><%= pe_member_evaluator.user.codigo %></td>
              <td><%= pe_member_evaluator.user.apellidos %></td>
              <td><%= pe_member_evaluator.user.nombre %></td>
              <td>
                <%= pe_member_rel_is_evaluated.pe_rel.alias %>
              </td>
              <td>
                <nobr>
                  <% if pe_member_rel_is_evaluated.finished %>

                    <% if !pe_member_rel_is_evaluated.valid_evaluator %>
                      <span class="label label-default ">No aplica</span>
                    <% else %>
                      <span class="label label-success ">Finalizada</span>
                    <% end %>
                  <% else %>
                    <span class="label label-danger ">No terminada</span>
                  <% end %>

                  <% pe_rel_has_to_asses = false %>
                  <% @pe_member.pe_process.pe_evaluations.each do |pe_evaluation| %>
                    <% pe_rel_has_to_asses = true if pe_evaluation.has_pe_evaluation_rel pe_member_rel_is_evaluated.pe_rel %>
                  <% end %>
                  <% unless pe_rel_has_to_asses %>
                    <span class="label label-danger ">No será evaluado</span>
                  <% end %>

                </nobr>
              </td>
              <td>

                <% if pe_member_rel_is_evaluated.finished %>


                  <%= check_box 'cb_activate_open', pe_member_rel_is_evaluated.id.to_s, {onclick: 'show_hide_lnk_activate_reopen('+pe_member_rel_is_evaluated.id.to_s+');'} %>
                  <%= link_to 'Abrir', pe_managing_open_assessment_path(pe_member_rel_is_evaluated), id: 'activate_reopen_'+pe_member_rel_is_evaluated.id.to_s, class: 'btn btn-xs btn-success', data: { confirm: '¿Está seguro de abrir la evaluación?' } %>

                  <script>

                    $('#activate_reopen_<%= pe_member_rel_is_evaluated.id %>').hide();


                    function show_hide_lnk_activate_reopen(pe_member_rel_is_evaluated_id){
                      if($('#activate_reopen_'+pe_member_rel_is_evaluated_id).is(':visible')) {
                        $('#activate_reopen_'+pe_member_rel_is_evaluated_id).hide();
                      }else{
                        $('#activate_reopen_'+pe_member_rel_is_evaluated_id).show();
                      }

                    }
                  </script>


                <% else %>

                  <%= check_box 'cb_activate_close', pe_member_rel_is_evaluated.id.to_s, {onclick: 'show_hide_lnk_activate_close('+pe_member_rel_is_evaluated.id.to_s+');'} %>
                  <%= link_to 'Finalizar', pe_managing_finish_assessment_path(pe_member_rel_is_evaluated), id: 'activate_close_'+pe_member_rel_is_evaluated.id.to_s, class: 'btn btn-xs btn-danger', data: { confirm: '¿Está seguro de finalizar la evaluación?' } %>

                  <script>

                    $('#activate_close_<%= pe_member_rel_is_evaluated.id %>').hide();


                    function show_hide_lnk_activate_close(pe_member_rel_is_evaluated_id){
                      if($('#activate_close_'+pe_member_rel_is_evaluated_id).is(':visible')) {
                        $('#activate_close_'+pe_member_rel_is_evaluated_id).hide();
                      }else{
                        $('#activate_close_'+pe_member_rel_is_evaluated_id).show();
                      }

                    }
                  </script>


                <% end %>

              </td>
              <td>
                <%= check_box 'cb_eliminate', pe_member_rel_is_evaluated.id.to_s, {onclick: 'show_hide_lnk_eliminate('+pe_member_rel_is_evaluated.id.to_s+');'} %>


                <%= link_to 'Eliminar', pe_managing_destroy_evaluator_path(pe_member_rel_is_evaluated), id: 'activate_eliminate_'+pe_member_rel_is_evaluated.id.to_s, class: 'btn btn-xs btn-danger', data: { confirm: '¿Está seguro de eliminar el evaluador?' } %>


                <% if pe_member_rel_is_evaluated.validator %>

                  <div id="activate_eliminate_<%= pe_member_rel_is_evaluated.id %>_validator">
                    <br>
                    <div class="alert alert-danger">
                      Este evaluador tiene asignado como <strong>validador</strong> a <strong><%= pe_member_rel_is_evaluated.validator.apellidos %>, <%= pe_member_rel_is_evaluated.validator.nombre %></strong>.
                      <br>
                      Si lo elimina, el validador también será eliminado.
                    </div>
                  </div>

                <% end %>

                <script>

                  $('#activate_eliminate_<%= pe_member_rel_is_evaluated.id %>').hide();
                  $('#activate_eliminate_<%= pe_member_rel_is_evaluated.id %>_validator').hide();

                  function show_hide_lnk_eliminate(pe_member_rel_is_evaluated_id){
                    if($('#activate_eliminate_'+pe_member_rel_is_evaluated_id).is(':visible')) {
                      $('#activate_eliminate_'+pe_member_rel_is_evaluated_id).hide();
                      $('#activate_eliminate_'+pe_member_rel_is_evaluated_id+'_validator').hide();
                    }else{
                      $('#activate_eliminate_'+pe_member_rel_is_evaluated_id).show();
                      $('#activate_eliminate_'+pe_member_rel_is_evaluated_id+'_validator').show();
                    }

                  }
                </script>
              </td>

              <td>
                <% if pe_member_rel_is_evaluated.validator %>
                  <%= pe_member_rel_is_evaluated.validator.apellidos %>, <%= pe_member_rel_is_evaluated.validator.nombre %>
                <% end %>
              </td>

              <td>

                <% if pe_member_rel_is_evaluated.validator %>

                  <% if pe_member_rel_is_evaluated.validated %>
                    <span class="label label-success">Realizada</span>
                  <% else %>
                    <span class="label label-danger">No terminada</span>
                  <% end %>
                <% else %>
                  <span class="label label-default">No requiere</span>
                <% end %>

              </td>



              <td>
                <% if pe_member_rel_is_evaluated.validator %>

                  <%= check_box 'cb_eliminate_val', pe_member_rel_is_evaluated.id.to_s, {onclick: 'show_hide_lnk_eliminate_val('+pe_member_rel_is_evaluated.id.to_s+');'} %>


                  <%= link_to 'Eliminar', pe_managing_destroy_validator_path(pe_member_rel_is_evaluated), class: 'btn btn-xs btn-danger', id: 'activate_eliminate_val_'+pe_member_rel_is_evaluated.id.to_s, data: { confirm: '¿Está seguro de eliminar el validador '+pe_member_rel_is_evaluated.validator.apellidos+', '+pe_member_rel_is_evaluated.validator.nombre+'?' }  %>

                  <script>

                    $('#activate_eliminate_val_<%= pe_member_rel_is_evaluated.id %>').hide();

                    function show_hide_lnk_eliminate_val(pe_member_rel_is_evaluated_id){
                      if($('#activate_eliminate_val_'+pe_member_rel_is_evaluated_id).is(':visible')) {
                        $('#activate_eliminate_val_'+pe_member_rel_is_evaluated_id).hide();
                      }else{
                        $('#activate_eliminate_val_'+pe_member_rel_is_evaluated_id).show();
                      }

                    }
                  </script>

                <% end %>
              </td>



            </tr>

          <% end %>

          </tbody>
          <thead>
            <tr>
              <th colspan="<%= @pe_process.of_persons? ? '5' : '6' %>" class="text-right">
                Evaluación total del participante
              </th>
              <th>
                <% if @pe_member.step_assessment %>
                  <span class="label label-success ">Finalizada</span>
                <% else %>
                  <span class="label label-danger ">No terminada</span>
                <% end %>
              </th>
              <th>

                <% if @pe_member.step_assessment %>


                  <%= check_box 'cb_activate_open', 'whole', {onclick: 'show_hide_lnk_activate_reopen_whole();'} %>
                  <%= link_to 'Abrir', pe_managing_open_whole_assessment_path(@pe_member), id: 'activate_reopen_whole', class: 'btn btn-xs btn-success', data: { confirm: '¿Está seguro de abrir la evaluación?' } %>

                  <script>

                    $('#activate_reopen_whole').hide();


                    function show_hide_lnk_activate_reopen_whole(){
                      if($('#activate_reopen_whole').is(':visible')) {
                        $('#activate_reopen_whole').hide();
                      }else{
                        $('#activate_reopen_whole').show();
                      }

                    }
                  </script>


                <% else %>

                  <%= check_box 'cb_activate_close', 'whole', {onclick: 'show_hide_lnk_activate_close_whole();'} %>
                  <%= link_to 'Finalizar', pe_managing_finish_whole_assessment_path(@pe_member), id: 'activate_close_whole', class: 'btn btn-xs btn-danger', data: { confirm: '¿Está seguro de abrir la evaluación?' } %>

                  <script>

                    $('#activate_close_whole').hide();


                    function show_hide_lnk_activate_close_whole(){
                      if($('#activate_close_whole').is(':visible')) {
                        $('#activate_close_whole').hide();
                      }else{
                        $('#activate_close_whole').show();
                      }

                    }
                  </script>


                <% end %>

              </th>
            </tr>
          </thead>

        </table>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Buscar para asignar nuevo evaluador

          <% if @pe_process.has_step_validation? %>
            o validador
          <% end %>

        </legend>

        <%= form_for @user_search, url: pe_managing_manage_assessment_path(@pe_member), method: :post do |f| %>
          <div class="row">

            <div class="col-md-5">
              Apellidos<br>
              <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>
            </div>

            <div class="col-md-5">
              Nombre<br>
              <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>
            </div>

            <div class="col-md-2">
              <br>
              <%= f.submit 'Buscar', class: 'btn btn-primary' %>
            </div>

          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>

<% if @users_search %>

  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Resultados de la búsqueda realizada</legend>


          <table class="table table-striped table-hover table-bordered">

            <thead>

            <tr>
              <th>#</th>
              <th><%= alias_username %></th>
              <th>Apellidos</th>
              <th>Nombre</th>
              <th>Añadir como evaluador</th>
              <% if pe_member_rels_is_evaluated.size > 0 %>
                <th>Añadir como validador</th>
              <% end %>

            </tr>

            </thead>

            <tbody>

            <% pe_rels_auto_array = @pe_process.pe_rels.where('rel = 0').map { |pe_rel| [pe_rel.alias, pe_rel.id] } %>
            <% pe_rels_without_auto_array = @pe_process.pe_rels.where('rel > 0').map { |pe_rel| [pe_rel.alias, pe_rel.id] } %>
            <% pe_areas_name = @pe_process.pe_areas.pluck(:name) %>

            <% pe_member_rels_array = pe_member_rels_is_evaluated.map {|pe_member_rel| [pe_member_rel.pe_member_evaluator.user.apellidos+', '+pe_member_rel.pe_member_evaluator.user.nombre+' - '+pe_member_rel.pe_rel.alias , pe_member_rel.id] } %>

            <% @users_search.each_with_index do |user, index| %>

              <tr>

                <td><%= index+1 %></td>
                <td><%= user.codigo %></td>
                <td><%= user.apellidos %></td>
                <td><%= user.nombre %></td>

                <td>

                  <%= form_tag pe_managing_create_evaluator_path(@pe_member), method: :post do %>

                    <input type="hidden" name="user_id" value="<%= user.id %>">



                      <% unless @pe_process.of_persons? %>

                        <input type="text" class="form-control" name="area" placeholder="Área" data-provide="typeahead" data-source="<%= pe_areas_name.to_s %>">
                        <br>
                      <% end %>

                      <div class="row">
                        <div class="col-md-8">
                          Relación
                        </div>
                        <div class="col-md-4">
                          Peso
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-md-8">
                          <% if @pe_member.user.id == user.id %>

                            <%= select('pe_rel', 'id', options_for_select(pe_rels_auto_array),{:include_blank => '-- Seleccione relación --'}, {class: 'form-control'}) %>

                          <% else %>

                            <%= select('pe_rel', 'id', options_for_select(pe_rels_without_auto_array),{:include_blank => '-- Seleccione relación --'}, {class: 'form-control'}) %>

                          <% end %>
                        </div>
                        <div class="col-md-4">
                          <input type="text" class="form-control" name="weight" placeholder="Peso" value="1">
                        </div>
                      </div>

                      <br>

                      <div class="row">

                        <div class="col-md-6 col-md-offset-6 text-right">
                          <%= submit_tag('Añadir evaluador', class: 'btn btn-primary btn-sm', data: { confirm: '¿Está seguro de añadir a '+user.apellidos+', '+user.nombre+' como evaluador?' }) %>
                        </div>

                      </div>

                  <% end %>

                </td>

                <% if pe_member_rels_is_evaluated.size > 0 %>

                  <td>

                    <%= form_tag pe_managing_create_validator_path(@pe_member), method: :post do %>

                      <input type="hidden" name="user_id" value="<%= user.id %>">



                      <% unless @pe_process.of_persons? %>

                        <input type="text" class="form-control" name="area" placeholder="Área" data-provide="typeahead" data-source="<%= pe_areas_name.to_s %>">
                        <br>
                      <% end %>

                      <div class="row">
                        <div class="col-md-12">
                          Evaluador que validará
                        </div>

                      </div>


                      <div class="row">
                        <div class="col-md-12">
                            <%= select('pe_member_rel', 'id', options_for_select(pe_member_rels_array),{:include_blank => '-- Seleccione evaluador --'}, {class: 'form-control'}) %>
                        </div>

                      </div>

                      <br>

                      <div class="row">
                        <div class="col-md-12 text-right">
                          <%= submit_tag('Añadir validador', class: 'btn btn-primary btn-sm', data: { confirm: '¿Está seguro de añadir a '+user.apellidos+', '+user.nombre+' como validador?' }) %>
                        </div>

                      </div>


                    <% end %>
                  </td>
                <% end %>



              </tr>
            <% end %>


            </tbody>

          </table>
        </div>

      </div>

    </div>
  </div>
<% end %>