<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de retroalimentados'.html_safe, pe_managing_manage_feedbacks_path(@pe_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Gestionar retroalimentación
    </h1>
  </div>

</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% if @pe_process.of_persons? %>

      <%= render partial: 'shared/user_profile_mini',
                 locals: {
                   user: @pe_member.user,
                   company: @company,
                   ocultar_historial: true,
                   titulo: 'Perfil del Evaluado',
                   is_boss: false

                 }
      %>

    <% else %>

      <div class="panel panel-default">
        <div class="panel-body">



          <div class="row">
            <div class="col-md-12">
              <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-cubes"></i>
                Área evaluada
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member.pe_area.name %></span></h3>
            </div>
          </div>

          <br>

          <div class="row">

            <div class="col-md-3 text-center">

              <% if @pe_member.user.foto %>
                <img src="https://<%=request.host%>/storage/<%=company_codigo%>/fotos_usuarios/<%=@pe_member.user.foto%>" class="img-thumbnail user-foto">
              <% else %>
                <img src="/assets/default_user.png" class="img-thumbnail user-foto">

              <% end %>

            </div>
            <div class="col-md-9">

              <div class="row">
                <div class="col-md-12">
                  <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member.user.nombre %> <%= @pe_member.user.apellidos %></span></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 ">
                  <a><em><%= @pe_member.user.email %></em></a>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Responsable de proveer retroalimentación</legend>

        <% if @pe_member.feedback_provider %>

          <table class="table table-striped table-hover table-bordered">

            <thead>
              <tr>
                <th><%= alias_username %></th>
                <th>Apellidos</th>
                <th>Nombre</th>
                <th>Retroalimentación</th>
                <th>Abrir/Finalizar</th>
                <th>Eliminar</th>

              </tr>

            </thead>

            <tbody>



              <tr>
                <td><%= @pe_member.feedback_provider.codigo %></td>
                <td><%= @pe_member.feedback_provider.apellidos %></td>
                <td><%= @pe_member.feedback_provider.nombre %></td>
                <td>
                  <nobr>
                    <% if @pe_process.has_step_feedback_accepted? %>

                      <% if @pe_member.step_feedback_accepted %>
                        <span class="label label-success">Confirmada</span>
                      <% else %>
                        <% if @pe_member.step_feedback %>

                          <span class="label label-warning">Realizada</span>

                        <% else %>

                          <span class="label label-danger">No terminada</span>

                        <% end %>
                      <% end %>


                    <% else %>

                      <% if @pe_member.step_feedback %>

                        <span class="label label-success">Realizada</span>

                      <% else %>

                        <span class="label label-danger">No terminada</span>

                      <% end %>

                    <% end %>
                  </nobr>
                </td>
                <td>

                  <% if @pe_member.step_feedback? %>


                    <%= check_box 'cb_activate_open', 'feedback', {onclick: 'show_hide_lnk_activate_reopen();'} %>
                    <%= link_to 'Abrir', pe_managing_open_feedback_path(@pe_member), id: 'activate_reopen_feedback', class: 'btn btn-xs btn-success', data: { confirm: '¿Está seguro de abrir la retroalimentación?' } %>

                    <script>

                      $('#activate_reopen_feedback').hide();

                      function show_hide_lnk_activate_reopen(){
                        if($('#activate_reopen_feedback').is(':visible')) {
                          $('#activate_reopen_feedback').hide();
                        }else{
                          $('#activate_reopen_feedback').show();
                        }

                      }
                    </script>


                  <% else %>

                    <%= check_box 'cb_activate_close', 'feedback', {onclick: 'show_hide_lnk_activate_close();'} %>
                    <%= link_to 'Finalizar', pe_managing_finish_feedback_path(@pe_member), id: 'activate_close_feedback', class: 'btn btn-xs btn-danger', data: { confirm: '¿Está seguro de finalizar la retroalimentación?' } %>

                    <script>

                      $('#activate_close_feedback').hide();

                      function show_hide_lnk_activate_close(){
                        if($('#activate_close_feedback').is(':visible')) {
                          $('#activate_close_feedback').hide();
                        }else{
                          $('#activate_close_feedback').show();
                        }

                      }
                    </script>


                  <% end %>

                </td>
                <td>
                  <%= check_box 'cb_eliminate', 'feedback_provider', {onclick: 'show_hide_lnk_eliminate();'} %>
                  <%= link_to 'Eliminar', pe_managing_destroy_feedback_provider_path(@pe_member), id: 'activate_eliminate_feedback_provider', class: 'btn btn-xs btn-danger', data: { confirm: '¿Está seguro de eliminar al responsable de proveer retroalimentación?' } %>

                  <script>

                    $('#activate_eliminate_feedback_provider').hide();


                    function show_hide_lnk_eliminate(){
                      if($('#activate_eliminate_feedback_provider').is(':visible')) {
                        $('#activate_eliminate_feedback_provider').hide();
                      }else{
                        $('#activate_eliminate_feedback_provider').show();
                      }

                    }
                  </script>
                </td>
              </tr>

            </tbody>

          </table>

        <% else %>

          <div class="alert alert-danger">No tiene responsable de proveer retroalimentación asignado</div>

        <% end %>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Buscar para asignar nuevo responsable de proveer retroalimentación</legend>

        <%= form_for @user_search, url: pe_managing_manage_feedback_path(@pe_member), method: :post do |f| %>
          <div class="row">

            <div class="col-md-5">
              Apellidos<br>
              <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>
            </div>

            <div class="col-md-5">
              Nombre<br>
              <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>
            </div>

            <div class="col-md-2">
              <br>
              <%= f.submit 'Buscar', class: 'btn btn-primary' %>
            </div>

          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>

<% if @users_search %>

  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Resultados de la búsqueda realizada</legend>


          <table class="table table-striped table-hover table-bordered">

            <thead>

            <tr>
              <th>#</th>
              <th><%= alias_username %></th>
              <th>Apellidos</th>
              <th>Nombre</th>
              <th></th>
            </tr>

            </thead>

            <tbody>

            <% @users_search.each_with_index do |user, index| %>

              <tr>

                <td><%= index+1 %></td>
                <td><%= user.codigo %></td>
                <td><%= user.apellidos %></td>
                <td><%= user.nombre %></td>

                <td>

                  <%= form_tag pe_managing_create_feedback_provider_path(@pe_member), method: :post do %>

                    <input type="hidden" name="user_id" value="<%= user.id %>">

                    <div class="row">
                      <div class="col-md-12">
                        <%= submit_tag('Asignar', class: 'btn btn-primary btn-sm', data: { confirm: '¿Está seguro de asignar a '+user.apellidos+', '+user.nombre+' como responsable de proveer retroalimentación?' }) %>
                      </div>
                    </div>

                  <% end %>


                </td>

              </tr>
            <% end %>


            </tbody>

          </table>
        </div>

      </div>

    </div>
  </div>
<% end %>