<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de evaluados'.html_safe, pe_managing_def_by_users_path(@pe_evaluation), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      <%= @pe_evaluation.name %>: Gestionar definición
    </h1>
  </div>

</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% if @pe_process.of_persons? %>

      <%= render partial: 'shared/user_profile_mini',
                 locals: {
                     user: @pe_member.user,
                     company: @company,
                     ocultar_historial: true,
                     titulo: 'Perfil del Evaluado',
                     is_boss: false

                 }
      %>

    <% else %>

      <div class="panel panel-default">
        <div class="panel-body">



          <div class="row">
            <div class="col-md-12">
              <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-cubes"></i>
                Área evaluada
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member.pe_area.name %></span></h3>
            </div>
          </div>

          <br>

          <div class="row">

            <div class="col-md-3 text-center">

              <% if @pe_member.user.foto %>
                <img src="https://<%=request.host%>/storage/<%=company_codigo%>/fotos_usuarios/<%=@pe_member.user.foto%>" class="img-thumbnail user-foto">
              <% else %>
                <img src="/assets/default_user.png" class="img-thumbnail user-foto">

              <% end %>

            </div>
            <div class="col-md-9">

              <div class="row">
                <div class="col-md-12">
                  <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member.user.nombre %> <%= @pe_member.user.apellidos %></span></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 ">
                  <a><em><%= @pe_member.user.email %></em></a>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Etapas</legend>

        <% status_def, step_label, step_label_smart_table, status_confirmed, status_validated_before, status_accepted, status_validated_after = @pe_evaluation.pe_member_definition_by_users_status @pe_member %>

        <br>

        <strong>Estado <%= step_label.html_safe %></strong>
        <br><br>

        <% pe_rel_boss = @pe_process.pe_rel_boss %>

        <table class="table table-striped table-hover table-bordered">

          <thead>
          <tr>
            <th>Etapa</th>
            <th>Responsable</th>
            <th>Abrir/Finalizar</th>
            <th>Eliminar responsable</th>
          </tr>

          </thead>

          <tbody>

          <% @pe_rels_def_by.each do |pe_rel_def_by| %>

            <% @pe_member.pe_member_rels_is_evaluated_as_pe_rel(pe_rel_def_by).each do |pe_member_rel| %>

              <tr>
                <td>Definir</td>
                <td>

                  <%= pe_member_rel.pe_member_evaluator.user.apellidos %>, <%= pe_member_rel.pe_member_evaluator.user.nombre %>

                  (<%= pe_rel_def_by.alias %>)

                </td>
                <td>

                  <% if pe_member_rel %>

                    <% if status_def == 'not_initiated' || status_def == 'in_definition' || status_def == 'not_confirmed' %>

                      <%= check_box 'cb_activate_close', pe_member_rel.id.to_s, {onclick: 'show_hide_lnk_activate_close('+pe_member_rel.id.to_s+');'} %>
                      <%= link_to 'Finalizar', pe_managing_close_def_by_user_path(@pe_evaluation, pe_member_rel), id: 'activate_close_'+pe_member_rel.id.to_s, class: 'btn btn-xs btn-danger', data: { confirm: '¿Está seguro de finalizar la definición?' } %>
                      <script>

                        $('#activate_close_<%= pe_member_rel.id %>').hide();

                        function show_hide_lnk_activate_close(pe_member_rel_id){
                          if($('#activate_close_'+pe_member_rel_id).is(':visible')) {
                            $('#activate_close_'+pe_member_rel_id).hide();
                          }else{
                            $('#activate_close_'+pe_member_rel_id).show();
                          }
                        }
                      </script>

                    <% else %>

                      <%= check_box 'cb_activate_open', pe_member_rel.id.to_s, {onclick: 'show_hide_lnk_activate_reopen('+pe_member_rel.id.to_s+');'} %>
                      <%= link_to 'Abrir', pe_managing_open_def_by_user_path(@pe_evaluation, pe_member_rel), id: 'activate_reopen_'+pe_member_rel.id.to_s, class: 'btn btn-xs btn-success', data: { confirm: '¿Está seguro de abrir la definición?' } %>
                      <script>

                        $('#activate_reopen_<%= pe_member_rel.id %>').hide();

                        function show_hide_lnk_activate_reopen(pe_member_rel_id){
                          if($('#activate_reopen_'+pe_member_rel_id).is(':visible')) {
                            $('#activate_reopen_'+pe_member_rel_id).hide();
                          }else{
                            $('#activate_reopen_'+pe_member_rel_id).show();
                          }

                        }
                      </script>

                    <% end %>

                  <% end %>

                </td>
                <td>

                </td>
              </tr>

            <% end %>

          <% end %>

          <% pe_member_rel = @pe_member.pe_member_rels_is_evaluated_as_pe_rel(pe_rel_boss).first %>

          <% @pe_evaluation.num_steps_definition_by_users_validated_before_accepted.times do |s| %>

            <% status_validate = @pe_evaluation.pe_member_status_to_be_validated(@pe_member, s+1, true) %>

            <tr>
              <td>
                <%= @pe_evaluation.alias_step(s+1, true) %>
              </td>
              <td>
                <% pdbuv = @pe_member.pe_definition_by_user_validator(@pe_evaluation, s+1, true) %>

                <% if pdbuv %>

                  <%= pdbuv.validator.apellidos %>, <%= pdbuv.validator.nombre %>

                <% end %>

              </td>
              <td>

                <% if status_validate == 'ready' %>

                  <%= check_box 'cb_activate_close_val', pe_member_rel.id.to_s, {onclick: 'show_hide_lnk_activate_reclose_val_'+(s+1).to_s+'_1('+pe_member_rel.id.to_s+');'} %>
                  <%= link_to 'Finalizar', pe_managing_close_val_def_by_user_path(@pe_evaluation, pe_member_rel, s+1, 1), id: 'activate_reclose_val_'+(s+1).to_s+'_1_'+pe_member_rel.id.to_s, class: 'btn btn-xs btn-danger', data: { confirm: '¿Está seguro de finalizar la definición?' } %>
                  <script>

                    $('#activate_reclose_val_<%= s+1 %>_1_<%= pe_member_rel.id %>').hide();


                    function show_hide_lnk_activate_reclose_val_<%= s+1 %>_1(pe_member_rel_id){
                      if($('#activate_reclose_val_<%= s+1 %>_1_'+pe_member_rel_id).is(':visible')) {
                        $('#activate_reclose_val_<%= s+1 %>_1_'+pe_member_rel_id).hide();
                      }else{
                        $('#activate_reclose_val_<%= s+1 %>_1_'+pe_member_rel_id).show();
                      }

                    }
                  </script>

                <% elsif status_validate == 'finished' %>

                  <%= check_box 'cb_activate_open_val', pe_member_rel.id.to_s, {onclick: 'show_hide_lnk_activate_reopen_val_'+(s+1).to_s+'_1('+pe_member_rel.id.to_s+');'} %>
                  <%= link_to 'Abrir', pe_managing_open_val_def_by_user_path(@pe_evaluation, pe_member_rel, s+1, 1), id: 'activate_reopen_val_'+(s+1).to_s+'_1_'+pe_member_rel.id.to_s, class: 'btn btn-xs btn-success', data: { confirm: '¿Está seguro de abrir la definición?' } %>
                  <script>

                    $('#activate_reopen_val_<%= s+1 %>_1_<%= pe_member_rel.id %>').hide();


                    function show_hide_lnk_activate_reopen_val_<%= s+1 %>_1(pe_member_rel_id){
                      if($('#activate_reopen_val_<%= s+1 %>_1_'+pe_member_rel_id).is(':visible')) {
                        $('#activate_reopen_val_<%= s+1 %>_1_'+pe_member_rel_id).hide();
                      }else{
                        $('#activate_reopen_val_<%= s+1 %>_1_'+pe_member_rel_id).show();
                      }

                    }
                  </script>

                <% end %>

              </td>
              <td>
                <% if pdbuv %>

                  <%= check_box 'cb_eliminate_val', s.to_s, {onclick: 'show_hide_lnk_eliminate_val_'+(s+1).to_s+'_before();'} %>

                  <%= link_to 'Eliminar validador', pe_managing_destroy_validator_def_by_user_path(@pe_member, @pe_evaluation, s+1, 1), class: 'btn btn-xs btn-danger', id: 'activate_eliminate_val_'+(s+1).to_s+'_before', data: { confirm: '¿Está seguro de eliminar el validador?' }  %>

                  <script>

                    $('#activate_eliminate_val_<%= s+1 %>'+'_before').hide();

                    function show_hide_lnk_eliminate_val_<%= s+1 %>_before(){
                      if($('#activate_eliminate_val_<%= s+1 %>'+'_before').is(':visible')) {
                        $('#activate_eliminate_val_<%= s+1 %>'+'_before').hide();
                      }else{
                        $('#activate_eliminate_val_<%= s+1 %>'+'_before').show();
                      }

                    }
                  </script>

                <% end %>
              </td>
            </tr>
          <% end %>

          <% if @pe_evaluation.allow_definition_by_users_accepted %>

            <% status_to_accept = @pe_evaluation.pe_member_status_to_be_accepted(@pe_member) %>

            <tr>
              <td>Confirmar</td>
              <td><%= @pe_member.user.apellidos %>, <%= @pe_member.user.nombre %></td>
              <td>

                <% if status_to_accept == 'ready' %>

                  <%= check_box 'cb_activate_close_accept', pe_member_rel.id.to_s, {onclick: 'show_hide_lnk_activate_close_accept('+pe_member_rel.id.to_s+');'} %>
                  <%= link_to 'Finalizar', pe_managing_close_accept_def_by_user_path(@pe_evaluation, pe_member_rel), id: 'activate_close_accept_'+pe_member_rel.id.to_s, class: 'btn btn-xs btn-danger', data: { confirm: '¿Está seguro de finalizar la definición?' } %>
                  <script>

                    $('#activate_close_accept_<%= pe_member_rel.id %>').hide();


                    function show_hide_lnk_activate_close_accept(pe_member_rel_id){
                      if($('#activate_close_accept_'+pe_member_rel_id).is(':visible')) {
                        $('#activate_close_accept_'+pe_member_rel_id).hide();
                      }else{
                        $('#activate_close_accept_'+pe_member_rel_id).show();
                      }

                    }
                  </script>

                <% elsif status_to_accept == 'finished' %>

                  <%= check_box 'cb_activate_open_accept', pe_member_rel.id.to_s, {onclick: 'show_hide_lnk_activate_reopen_accept('+pe_member_rel.id.to_s+');'} %>
                  <%= link_to 'Abrir', pe_managing_open_accept_def_by_user_path(@pe_evaluation, pe_member_rel), id: 'activate_reopen_accept_'+pe_member_rel.id.to_s, class: 'btn btn-xs btn-success', data: { confirm: '¿Está seguro de abrir la definición?' } %>
                  <script>

                    $('#activate_reopen_accept_<%= pe_member_rel.id %>').hide();


                    function show_hide_lnk_activate_reopen_accept(pe_member_rel_id){
                      if($('#activate_reopen_accept_'+pe_member_rel_id).is(':visible')) {
                        $('#activate_reopen_accept_'+pe_member_rel_id).hide();
                      }else{
                        $('#activate_reopen_accept_'+pe_member_rel_id).show();
                      }

                    }
                  </script>



                <% end %>

              </td>
              <td></td>
            </tr>
          <% end %>

          <% @pe_evaluation.num_steps_definition_by_users_validated_after_accepted.times do |s| %>

            <% status_validate = @pe_evaluation.pe_member_status_to_be_validated(@pe_member, s+1, false) %>

            <tr>
              <td>
                <%= @pe_evaluation.alias_step(s+1, false) %>
              </td>
              <td>
                <% pdbuv = @pe_member.pe_definition_by_user_validator(@pe_evaluation, s+1, false) %>

                <% if pdbuv %>

                  <%= pdbuv.validator.apellidos %>, <%= pdbuv.validator.nombre %>

                <% end %>

              </td>
              <td>

                <% if status_validate == 'ready' %>

                  <%= check_box 'cb_activate_close_val', pe_member_rel.id.to_s, {onclick: 'show_hide_lnk_activate_reclose_val_'+(s+1).to_s+'_0('+pe_member_rel.id.to_s+');'} %>
                  <%= link_to 'Finalizar', pe_managing_close_val_def_by_user_path(@pe_evaluation, pe_member_rel, s+1, 0), id: 'activate_reclose_val_'+(s+1).to_s+'_0_'+pe_member_rel.id.to_s, class: 'btn btn-xs btn-danger', data: { confirm: '¿Está seguro de finalizar la definición?' } %>
                  <script>

                    $('#activate_reclose_val_<%= s+1 %>_0_<%= pe_member_rel.id %>').hide();


                    function show_hide_lnk_activate_reclose_val_<%= s+1 %>_0(pe_member_rel_id){
                      if($('#activate_reclose_val_<%= s+1 %>_0_'+pe_member_rel_id).is(':visible')) {
                        $('#activate_reclose_val_<%= s+1 %>_0_'+pe_member_rel_id).hide();
                      }else{
                        $('#activate_reclose_val_<%= s+1 %>_0_'+pe_member_rel_id).show();
                      }

                    }
                  </script>

                <% elsif status_validate == 'finished' %>

                  <%= check_box 'cb_activate_open_val', pe_member_rel.id.to_s, {onclick: 'show_hide_lnk_activate_reopen_val_'+(s+1).to_s+'_0('+pe_member_rel.id.to_s+');'} %>
                  <%= link_to 'Abrir', pe_managing_open_val_def_by_user_path(@pe_evaluation, pe_member_rel, s+1, 0), id: 'activate_reopen_val_'+(s+1).to_s+'_0_'+pe_member_rel.id.to_s, class: 'btn btn-xs btn-success', data: { confirm: '¿Está seguro de abrir la definición?' } %>
                  <script>

                    $('#activate_reopen_val_<%= s+1 %>_0_<%= pe_member_rel.id %>').hide();


                    function show_hide_lnk_activate_reopen_val_<%= s+1 %>_0(pe_member_rel_id){
                      if($('#activate_reopen_val_<%= s+1 %>_0_'+pe_member_rel_id).is(':visible')) {
                        $('#activate_reopen_val_<%= s+1 %>_0_'+pe_member_rel_id).hide();
                      }else{
                        $('#activate_reopen_val_<%= s+1 %>_0_'+pe_member_rel_id).show();
                      }

                    }
                  </script>

                <% end %>

              </td>
              <td>

                <% if pdbuv %>

                  <%= check_box 'cb_eliminate_val', s.to_s, {onclick: 'show_hide_lnk_eliminate_val_'+(s+1).to_s+'_after();'} %>

                  <%= link_to 'Eliminar validador', pe_managing_destroy_validator_def_by_user_path(@pe_member, @pe_evaluation, s+1, 0), class: 'btn btn-xs btn-danger', id: 'activate_eliminate_val_'+(s+1).to_s+'_after', data: { confirm: '¿Está seguro de eliminar el validador?' }  %>

                  <script>

                    $('#activate_eliminate_val_<%= s+1 %>'+'_after').hide();

                    function show_hide_lnk_eliminate_val_<%= s+1 %>_after(){
                      if($('#activate_eliminate_val_<%= s+1 %>'+'_after').is(':visible')) {
                        $('#activate_eliminate_val_<%= s+1 %>'+'_after').hide();
                      }else{
                        $('#activate_eliminate_val_<%= s+1 %>'+'_after').show();
                      }

                    }
                  </script>

                <% end %>

              </td>
            </tr>
          <% end %>

          </tbody>

        </table>

        <br><br>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <table class="table table-bordered table-condensed">

              <tbody>

              <tr>
                <td>
                  <strong>Posibles estados de la definición</strong>
                </td>

                <td>

                  <%= @pe_evaluation.draw_label_not_ready_definition_by_users.html_safe %>

                  <% if (@pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_before_accepted > 0) || @pe_evaluation.allow_definition_by_users_accepted? || (@pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0) %>

                    <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_before_accepted > 0 %>

                      <% (1..@pe_evaluation.num_steps_definition_by_users_validated_before_accepted).each do |step_number| %>

                        <%= @pe_evaluation.draw_label_not_ready_definition_by_users_validated_before_accepted(step_number).html_safe %>
                        <%= @pe_evaluation.draw_label_rejected_definition_by_users_validated_before_accepted(step_number).html_safe %>
                        <% unless @pe_evaluation.allow_definition_by_users_accepted? %>
                          <%= @pe_evaluation.draw_label_ready_definition_by_users_validated_before_accepted(step_number).html_safe %>
                        <% end %>

                      <% end %>

                      <% if @pe_evaluation.allow_definition_by_users_accepted? %>

                        <%= @pe_evaluation.draw_label_not_ready_definition_by_users_accepted.html_safe %>

                        <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0 %>

                          <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>

                            <%= @pe_evaluation.draw_label_not_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>
                            <%= @pe_evaluation.draw_label_rejected_definition_by_users_validated_after_accepted(step_number).html_safe %>
                            <%= @pe_evaluation.draw_label_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>
                          <% end %>

                        <% else %>
                          <%= @pe_evaluation.draw_label_ready_definition_by_users_accepted.html_safe %>
                        <% end %>

                      <% end %>

                    <% else %>

                      <% if @pe_evaluation.allow_definition_by_users_accepted? %>

                        <%= @pe_evaluation.draw_label_not_ready_definition_by_users_accepted.html_safe %>

                        <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0 %>
                          <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>

                            <%= @pe_evaluation.draw_label_not_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>
                            <%= @pe_evaluation.draw_label_rejected_definition_by_users_validated_after_accepted(step_number).html_safe %>
                            <%= @pe_evaluation.draw_label_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>

                          <% end %>

                        <% else %>
                          <%= @pe_evaluation.draw_label_ready_definition_by_users_accepted.html_safe %>
                        <% end %>

                      <% else %>

                        <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0 %>
                          <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>

                            <%= @pe_evaluation.draw_label_not_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>
                            <%= @pe_evaluation.draw_label_rejected_definition_by_users_validated_after_accepted(step_number).html_safe %>
                            <%= @pe_evaluation.draw_label_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>

                          <% end %>

                        <% end %>

                      <% end %>

                    <% end %>

                  <% else %>
                    <%= @pe_evaluation.draw_label_ready_definition_by_users.html_safe %>
                  <% end %>

                </td>
              </tr>



              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Buscar para asignar
        </legend>

        <%= form_for @user_search, url: pe_managing_def_by_user_path(@pe_member, @pe_evaluation), method: :post do |f| %>
          <div class="row">

            <div class="col-md-5">
              Apellidos<br>
              <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>
            </div>

            <div class="col-md-5">
              Nombre<br>
              <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>
            </div>

            <div class="col-md-2">
              <br>
              <%= f.submit 'Buscar', class: 'btn btn-primary' %>
            </div>

          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>

<% if @users_search %>

  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Resultados de la búsqueda realizada</legend>


          <table class="table table-striped table-hover table-bordered">

            <thead>

            <tr>
              <th>#</th>
              <th><%= alias_username %></th>
              <th>Apellidos</th>
              <th>Nombre</th>
              <th>Definir</th>
              <% @pe_evaluation.num_steps_definition_by_users_validated_before_accepted.times do |s| %>
                <th><%= @pe_evaluation.alias_steps_definition_by_users_validated_before_accepted.split('-')[0] %></th>
              <% end %>
              <th>Confirmar</th>
              <% @pe_evaluation.num_steps_definition_by_users_validated_after_accepted.times do |s| %>
                <th><%= @pe_evaluation.alias_steps_definition_by_users_validated_after_accepted.split('-')[0] %></th>
              <% end %>
            </tr>

            </thead>

            <tbody>

            <% @users_search.each_with_index do |user, index| %>

              <tr>

                <td><%= index+1 %></td>
                <td><%= user.codigo %></td>
                <td><%= user.apellidos %></td>
                <td><%= user.nombre %></td>

                <td>

                  <%= form_tag pe_managing_change_boss_def_by_user_path(@pe_member, @pe_evaluation), method: :post do %>

                    <input type="hidden" name="user_id" value="<%= user.id %>">

                    <%= submit_tag('Asignar', class: 'btn btn-primary btn-sm', data: { confirm: '¿Está seguro de asignar a '+user.apellidos+', '+user.nombre+' para definir?' }) %>

                  <% end %>

                </td>

                <% @pe_evaluation.num_steps_definition_by_users_validated_before_accepted.times do |s| %>
                  <td>
                    <%= form_tag pe_managing_change_val_def_by_user_path(@pe_member, @pe_evaluation, s+1, 1), method: :post do %>

                      <input type="hidden" name="user_id" value="<%= user.id %>">

                      <%= submit_tag('Asignar', class: 'btn btn-primary btn-sm', data: { confirm: '¿Está seguro de asignar a '+user.apellidos+', '+user.nombre+' para validar?' }) %>

                    <% end %>
                  </td>
                <% end %>

                <td>

                </td>


                <% @pe_evaluation.num_steps_definition_by_users_validated_after_accepted.times do |s| %>
                  <td>
                    <%= form_tag pe_managing_change_val_def_by_user_path(@pe_member, @pe_evaluation, s+1, 0), method: :post do %>

                      <input type="hidden" name="user_id" value="<%= user.id %>">

                      <%= submit_tag('Asignar', class: 'btn btn-primary btn-sm', data: { confirm: '¿Está seguro de asignar a '+user.apellidos+', '+user.nombre+' para validar?' }) %>

                    <% end %>
                  </td>
                <% end %>

              </tr>
            <% end %>


            </tbody>

          </table>
        </div>

      </div>

    </div>
  </div>
<% end %>