<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de procesos'.html_safe, pe_managing_list_processes_2_path, class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Gestionar retroalimentaciones
    </h1>
  </div>

</div>

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <br><br>

        <table id="datatable_fixed_column" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">

          <thead>
            <tr>
              <th>#</th>
              <% unless @pe_process.of_persons? %>
                <th>Área</th>
              <% end %>
              <th><%= alias_username %></th>
              <th>Apellidos</th>
              <th>Nombre</th>
              <th>Evaluación</th>
              <% if @pe_process.has_step_validation? %>
                <th>Validación</th>
              <% end %>
              <% if @pe_process.has_step_calibration? %>
                <th>Calibración</th>
              <% end %>
              <% if @pe_process.has_step_feedback? %>
                <th>Retroalimentación</th>
              <% end %>
              <th></th>

            </tr>
            <td>
              <label class="input">
                <input type="text" class="hidden">
              </label>
            </td>
            <% unless @pe_process.of_persons? %>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
            <% end %>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <% if @pe_process.has_step_validation? %>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
            <% end %>
            <% if @pe_process.has_step_calibration? %>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
            <% end %>
            <% if @pe_process.has_step_feedback? %>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
            <% end %>
            <td></td>
          </thead>

          <tbody>

          <% if @pe_process.of_persons? %>
            <% evaluated_members = @pe_process.evaluated_members_ordered %>
          <% else %>
            <% evaluated_members = @pe_process.evaluated_members_ordered_by_pe_area %>
          <% end %>

          <% evaluated_members.each_with_index do |pe_member, index| %>

            <tr>
              <td><%= index+1 %></td>
              <% unless @pe_process.of_persons? %>
                <td><%= pe_member.pe_area.name if pe_member.pe_area %></td>
              <% end %>
              <td><%= pe_member.user.codigo %></td>
              <td><%= pe_member.user.apellidos %></td>
              <td><%= pe_member.user.nombre %></td>
              <td>
                <% if pe_member.step_assessment %>
                  <span class="label label-success label-smart-table">Finalizada</span>
                <% else %>
                  <span class="label label-danger label-smart-table">No terminada</span>
                <% end %>
              </td>

              <% if @pe_process.has_step_validation? %>
                <td>
                  <% if pe_member.step_validation %>
                    <span class="label label-success label-smart-table">Realizada</span>
                  <% else %>
                    <span class="label label-danger label-smart-table">No terminada</span>
                  <% end %>
                </td>
              <% end %>

              <% if @pe_process.has_step_calibration? %>
                <td>

                  <% if pe_member.pe_cal_member %>

                    <% if pe_member.step_calibration %>

                      <span class="label label-success label-smart-table">Realizada</span>

                    <% else %>

                      <span class="label label-danger label-smart-table">No terminada</span>

                    <% end %>

                  <% else %>

                    <span class="label label-default label-smart-table">No planificada</span>

                  <% end %>

                </td>
              <% end %>

              <% if @pe_process.has_step_feedback? %>

                <td>

                  <% if @pe_process.has_step_feedback_accepted? %>

                    <% if pe_member.step_feedback_accepted %>
                      <span class="label label-success label-smart-table">Confirmada</span>
                    <% else %>
                      <% if pe_member.step_feedback %>

                        <span class="label label-warning label-smart-table">Realizada</span>

                      <% else %>

                        <span class="label label-danger label-smart-table">No terminada</span>

                      <% end %>
                    <% end %>


                  <% else %>

                    <% if pe_member.step_feedback %>

                      <span class="label label-success label-smart-table">Realizada</span>

                    <% else %>

                      <span class="label label-danger label-smart-table">No terminada</span>

                    <% end %>

                  <% end %>

                </td>

              <% end %>

              <td>
                <%= link_to 'Gestionar', pe_managing_manage_feedback_path(pe_member) %>
              </td>
            </tr>

          <% end %>

          </tbody>

        </table>
      </div>

      <br>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <table class="table table-bordered table-condensed">

            <tbody>


            <tr>
              <td>
                <strong>Posibles estados de la evaluación</strong>
              </td>

              <td>
                <span class="label label-success">Finalizada</span>

                <span class="label label-danger">No terminada</span>

                <span class="label label-default">No aplica</span>
              </td>
            </tr>

            <% if @pe_process.has_step_validation? %>

              <tr>
                <td>
                  <strong>Posibles estados de la validación</strong>
                </td>

                <td>
                  <span class="label label-success">Realizada</span>

                  <span class="label label-danger">No terminada</span>

                </td>
              </tr>

            <% end %>

            <% if @pe_process.has_step_calibration? %>

              <tr>
                <td>
                  <strong>Posibles estados de la calibración</strong>
                </td>

                <td>
                  <span class="label label-success">Realizada</span>

                  <span class="label label-danger">No terminada</span>

                  <span class="label label-default">No planificada</span>

                </td>
              </tr>

            <% end %>

            <% if @pe_process.has_step_feedback? %>


              <tr>
                <td>
                  <strong>Posibles estados de la retroalimentación</strong>
                </td>

                <td>

                  <% if @pe_process.has_step_feedback_accepted? %>

                    <span class="label label-success">Confirmada</span>
                    <span class="label label-warning">Realizada</span>
                    <span class="label label-danger">No terminada</span>

                  <% else %>
                    <span class="label label-success">Realizada</span>
                    <span class="label label-danger">No terminada</span>

                  <% end %>

                </td>
              </tr>

            <% end %>

            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_fixed_column'
           }
%>
