<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de procesos'.html_safe, pe_managing_list_processes_2_path, class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Registrar resultados
    </h1>
  </div>

</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          <%= @pe_evaluation.name %>
        </legend>

        <%= link_to 'Descargar Excel para definición', pe_managing_register_questions_download_evaluation_to_activate_path(@pe_evaluation, format: 'xls') %>

        <br>
        <br>

        <%= link_to 'Descargar Excel para registrar resultados', pe_managing_register_questions_download_evaluation_to_assess_path(@pe_evaluation, format: 'xls') %>

        <br>
        <br>

        <%= form_for @pe_evaluation, url: pe_managing_register_results_questions_xls_path(@pe_evaluation), html: {class: 'form-horizontal', role: 'form', multipart: true, method: :post} do |f| %>

          <div class="form-group">

            <label class="col-md-4 control-label">Adjuntar archivo excel con resultados</label>

            <div class="col-md-8">

              <input type="file" name="xls_file_results" class="form-control" >

            </div>

          </div>



          <div class="pull-right">
            <%= f.submit 'Registrar resultados', class: 'btn btn-primary' %>
          </div>

        <% end %>

      </div>
    </div>

  </div>
</div>
