<% pe_evaluations = Array.new %>
<% pe_assessment_evaluations = Array.new %>
<% pe_member_rels = Array.new %>

<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver al cuadro resumen'.html_safe, pe_managing_register_results_list_people_path(@pe_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">

    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      <%= @pe_process.step_assessment_alias %>
    </h1>

  </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% if @pe_process.of_persons? %>

      <%= render partial: 'shared/user_profile_mini',
                 locals: {
                     user: @pe_member_evaluated.user,
                     company: @company,
                     ocultar_historial: false,
                     titulo: 'Perfil del Evaluado',
                     is_boss: true

                 }
      %>

    <% else %>

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12">
              <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-cubes"></i>
                Área evaluada
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member_evaluated.pe_area.name %></span></h3>
            </div>
          </div>

          <br>

          <div class="row">

            <div class="col-md-3 text-center">

              <% if @pe_member_evaluated.user.foto %>
                <img src="https://<%=request.host%>/storage/<%=company_codigo%>/fotos_usuarios/<%=@pe_member_evaluated.user.foto%>" class="img-thumbnail user-foto">
              <% else %>
                <img src="/assets/default_user.png" class="img-thumbnail user-foto">

              <% end %>

            </div>
            <div class="col-md-9">

              <div class="row">
                <div class="col-md-12">
                  <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member_evaluated.user.nombre %> <%= @pe_member_evaluated.user.apellidos %></span></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 ">
                  <a><em><%= @pe_member_evaluated.user.email %></em></a>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="text-center">
      <ul class="nav nav-pills nav-pills-<%= $current_domain %>" style="display: inline-block;">

        <% orden_evaluation = 1 %>

        <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

          <% pe_member_rel = @pe_member_evaluated.pe_member_rels_is_evaluated_as_pe_rel(@pe_rel_boss).first %>

          <% if pe_member_rel && pe_evaluation.entered_by_manager_questions? && pe_evaluation.has_pe_evaluation_rel(pe_member_rel.pe_rel) && @pe_member_evaluated.has_to_be_assessed_in_evaluation(pe_evaluation) %>

            <li id="tab_pill_<%= pe_evaluation.id %>" class="<%= 'active' if orden_evaluation == 1 %>">
              <a href="#tab_evaluation_<%= pe_evaluation.id %>" data-toggle="tab"><%= orden_evaluation %>. <%= pe_evaluation.name %></a>
            </li>

            <% orden_evaluation +=1 %>
            <% pe_evaluations.push pe_evaluation %>
            <% pe_member_rels.push pe_member_rel %>
          <% end %>


        <% end %>



      </ul>
    </div>


  </div>
</div>
<br>

<% @ready_to_confirm = true %>
<% @valid_evaluation = true %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="tab-content">

      <% orden_evaluation = 1 %>

      <% pe_evaluations.each_with_index do |pe_evaluation, index_eval| %>

        <%

          pe_member_rels_comments = Array.new

        %>

        <% pe_evaluation_rel = pe_evaluation.pe_evaluation_rel(pe_member_rels[index_eval].pe_rel) %>

        <% if pe_evaluation.has_rel_id(0) && pe_evaluation.step_assessment_show_auto_to_boss && @pe_member_rel_auto%>
          <% pe_assessment_evaluation_auto = @pe_member_rel_auto.pe_assessment_evaluation(pe_evaluation) %>
        <% end %>

        <% ready_to_assess = false %>

        <% @pe_member_rel = pe_member_rels[index_eval] %>
        <% @pe_member_evaluator = pe_member_rels[index_eval].pe_member_evaluator %>

        <div class="tab-pane <%= 'active' if orden_evaluation == 1 %>" id="tab_evaluation_<%= pe_evaluation.id %>" style="">

          <div class="panel panel-default">
            <div class="panel-body">
              <legend><%= orden_evaluation %>. <%= pe_evaluation.name %></legend>

              <% if @pe_member_evaluated.step_assessment? || pe_member_rels[index_eval].finished? %>

                <span class="label label-success">Evaluación finalizada</span>

              <% else %>

                <% if lms_time < pe_evaluation_rel.from_date %>

                  La evaluación iniciará el <strong><%= (localize pe_evaluation_rel.from_date, format: :day_snmonth_year) %></strong>

                  <span class="label label-primary">En
                    <%= distance_of_time_in_words(lms_time, pe_evaluation_rel.from_date) %>
                  </span>

                <% else %>

                  <% if lms_time > pe_evaluation_rel.to_date %>

                    La evaluación finalizó el <strong><%= (localize pe_evaluation_rel.to_date, format: :day_snmonth_year) %></strong>

                    <span class="label label-danger">Hace
                      <%= distance_of_time_in_words(lms_time, pe_evaluation_rel.to_date) %>
                    </span>

                  <% else %>

                    <% unless pe_evaluation.description.blank? %>

                      <%= pe_evaluation.description.html_safe %>

                      <hr>

                    <% end %>

                    La evaluación finalizará el <strong><%= (localize pe_evaluation_rel.to_date, format: :day_snmonth_year) %></strong>

                    <span class="label label-primary">En
                      <%= distance_of_time_in_words(lms_time, pe_evaluation_rel.to_date) %>
                    </span>

                    <% ready_to_assess = true %>

                  <% end %>

                <% end %>

              <% end %>



              <% pe_assessment_evaluation = pe_member_rels[index_eval].pe_assessment_evaluation(pe_evaluation) %>

              <% pe_assessment_evaluations.push pe_assessment_evaluation %>

              <% pe_assessment_final_evaluation = @pe_member_evaluated.pe_assessment_final_evaluation(pe_evaluation) %>

              <% unless pe_evaluation.informative %>

                <% if pe_assessment_evaluation %>

                  <% @valid_evaluation = false unless pe_assessment_evaluation.valid_evaluation %>

                  <% if pe_assessment_evaluation.percentage >= 0 && pe_assessment_evaluation.valid_evaluation %>

                    <br>
                    <br>

                    <% if @pe_process.of_persons %>
                      <strong>Resultado.</strong> La persona evaluada ha obtenido
                    <% else %>
                      <strong>Resultado.</strong> El Área evaluada ha obtenido
                    <% end %>

                    <strong>
                      <%= number_with_precision(pe_assessment_evaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
                    </strong>

                  <% elsif !pe_assessment_evaluation.valid_evaluation %>
                    <br>
                    <br>
                    <div class="alert alert-danger">Sus resultados no serán tomados en cuenta debido a que excede el número máximo de preguntas respondidas como No Aplica</div>

                  <% end %>

                <% end %>

              <% end %>

            </div>
          </div>

          <% if pe_evaluation.assessment_layout == 0 %>

            <!-- estandar -->

            <% if pe_evaluation.pe_elements.size == 1 %>

              <%= render partial: 'pe_managing/evaluation_standard_1_element',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_assessment_evaluation: pe_assessment_evaluation,
                             ready_to_assess: ready_to_assess,
                             pe_assessment_evaluation_auto: pe_assessment_evaluation_auto,
                             pe_member_rels_comments: pe_member_rels_comments
                         }
              %>

            <% elsif pe_evaluation.pe_elements.size == 2 %>

              <%= render partial: 'pe_managing/evaluation_standard_2_elements',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_assessment_evaluation: pe_assessment_evaluation,
                             ready_to_assess: ready_to_assess,
                             pe_assessment_evaluation_auto: pe_assessment_evaluation_auto
                         }
              %>

            <% end %>

          <% elsif pe_evaluation.assessment_layout == 1 %>

            <!-- objetivos_e_indicadores -->

            <% if pe_evaluation.pe_elements.size == 1 %>

              <!-- indicador -->

              <%= render partial: 'pe_managing/evaluation_ind',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_assessment_evaluation: pe_assessment_evaluation,
                             ready_to_assess: ready_to_assess,
                             pe_assessment_evaluation_auto: pe_assessment_evaluation_auto
                         }
              %>

            <% elsif pe_evaluation.pe_elements.size == 2 %>

              <!-- objetivo indicador -->

              <%= render partial: 'pe_managing/evaluation_goal_ind',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_assessment_evaluation: pe_assessment_evaluation,
                             ready_to_assess: ready_to_assess,
                             pe_assessment_evaluation_auto: pe_assessment_evaluation_auto
                         }
              %>

            <% elsif pe_evaluation.pe_elements.size == 3 %>

              <!-- pilar objetivo indicador -->

              <%= render partial: 'pe_managing/evaluation_pilar_goal_ind',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_assessment_evaluation: pe_assessment_evaluation,
                             ready_to_assess: ready_to_assess,
                             pe_assessment_evaluation_auto: pe_assessment_evaluation_auto
                         }
              %>

            <% end %>

          <% elsif pe_evaluation.assessment_layout == 2 %>

            <!-- grid_1_elemento -->

            <% if pe_evaluation.pe_elements.size == 1 %>



              <%= render partial: 'pe_managing/evaluation_grid_1_element',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_assessment_evaluation: pe_assessment_evaluation,
                             ready_to_assess: ready_to_assess,
                             pe_assessment_evaluation_auto: pe_assessment_evaluation_auto
                         }
              %>

            <% end %>

          <% elsif pe_evaluation.assessment_layout == 3 %>

            <!-- grid_2_elementos -->

            <% if pe_evaluation.pe_elements.size == 2 %>

              <%= render partial: 'pe_managing/evaluation_grid_2_elements',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_assessment_evaluation: pe_assessment_evaluation,
                             ready_to_assess: ready_to_assess,
                             pe_assessment_evaluation_auto: pe_assessment_evaluation_auto
                         }
              %>

            <% end %>

          <% elsif pe_evaluation.assessment_layout == 4 %>

            <!-- slider_1_elemento -->

            <% if pe_evaluation.pe_elements.size == 1 %>

              <%= render partial: 'pe_managing/evaluation_slider_1_element',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_assessment_evaluation: pe_assessment_evaluation,
                             ready_to_assess: ready_to_assess,
                             pe_assessment_evaluation_auto: pe_assessment_evaluation_auto
                         }
              %>

            <% end %>

          <% elsif pe_evaluation.assessment_layout == 5 %>

            <!-- slider_2_elementos -->

            <% if pe_evaluation.pe_elements.size == 2 %>

              <%= render partial: 'pe_managing/evaluation_slider_2_elements',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_assessment_evaluation: pe_assessment_evaluation,
                             ready_to_assess: ready_to_assess,
                             pe_assessment_evaluation_auto: pe_assessment_evaluation_auto
                         }
              %>

            <% end %>

          <% end %>

        </div>

        <% orden_evaluation +=1 %>

      <% end %>

    </div>
  </div>
</div>

