<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de procesos'.html_safe, pe_managing_list_processes_2_path, class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Registrar resultados
    </h1>
  </div>

</div>

<% carga_por_pregunta = false %>

<% @pe_process.pe_evaluations.each do |pe_evaluation| %>

  <% carga_por_pregunta = true if pe_evaluation.entered_by_manager_questions %>

<% end %>

<% if carga_por_pregunta %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="panel panel-default">
        <div class="panel-body">

          <div id="container_rep_evaluations">

          </div>

          <script>

            var wating_report_evaluations = '<i class="fa fa-refresh fa-spin"></i> Generando reporte, por favor espere...';
            var link_to_report_evaluations = '<a onclick="down_rep_evaluations();" class="mouse_pointer">Descargar Excel para registro de resultados</a>';

            function down_rep_evaluations() {

              $("#container_rep_evaluations").html(wating_report_evaluations);

              $.ajax({
                dataType: 'native',
                url: "<%= pe_managing_download_excel_register_results_evaluations_path(@pe_process, format: 'xls') %>",
                xhrFields: {
                  responseType: 'blob'
                },
                success: function (blob) {
                  var link = document.createElement('a');
                  link.href = window.URL.createObjectURL(blob);
                  link.download = 'Evaluaciones_<%= @pe_process.name.gsub(/\s/,'_') %>.xls'
                  $("#container_rep_evaluations").append(link);
                  link.click();
                  $("#container_rep_evaluations").html(link_to_report_evaluations);
                }
              });

            }

            $( document ).ready(function() {
              $("#container_rep_evaluations").html(link_to_report_evaluations);
            });

          </script>

          <br><br>

          <%= form_for @pe_process, url: pe_managing_register_results_all_evaluations_questions_xls_path(@pe_process), html: {class: 'form-horizontal', role: 'form', multipart: true, method: :post} do |f| %>

            <div class="form-group">

              <label class="col-md-4 control-label">Adjuntar archivo excel con resultados</label>

              <div class="col-md-8">

                <input type="file" name="xls_file_results" class="form-control" >

                <br><br>

                Este proceso sólo actualizará:<br>
                &nbsp;&nbsp;- La meta de los indicadores de tipo directo, indirecto, desviación y especial<br>
                &nbsp;&nbsp;- La meta lograda de todos los indicadores


              </div>

            </div>



            <div class="pull-right">
              <%= f.submit 'Registrar resultados', class: 'btn btn-primary' %>
            </div>

          <% end %>

        </div>

      </div>

    </div>

  </div>


  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-body">

          <br><br>

          <table id="datatable_fixed_column" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">

            <thead>
            <tr>
              <th>#</th>
              <th><%= alias_username %></th>
              <th>Apellidos</th>
              <th>Nombre</th>
              <th></th>

            </tr>
            <td>
              <label class="input">
                <input type="text" class="hidden">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td></td>
            </thead>

            <tbody>

            <% @pe_process.evaluated_members_ordered.each_with_index do |pe_member, index| %>

              <tr>
                <td><%= index+1 %></td>
                <td><%= pe_member.user.codigo %></td>
                <td><%= pe_member.user.apellidos %></td>
                <td><%= pe_member.user.nombre %></td>
                <td>

                  <% show_link = false %>

                  <% @pe_process.pe_evaluations.each do |pe_evaluation| %>
                    <% show_link = true if pe_evaluation.entered_by_manager_questions && pe_evaluation.total_number_of_questions_only_by_pe_member_all_levels_managed_by_manager(pe_member) > 0 %>
                  <% end %>

                  <%= link_to 'Resultados', pe_managing_register_results_show_path(pe_member) if show_link %>

                </td>
              </tr>

            <% end %>

            </tbody>

          </table>
        </div>

      </div>
    </div>
  </div>

  <%= render partial: '/shared/datatable',
             locals: {
                 table_id: 'datatable_fixed_column'
             }
  %>


<% end %>
