<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>

    <Style ss:ID="format_date">
      <NumberFormat ss:Format="dd\-mm\-yyyy"/>
    </Style>
    <Style ss:ID="format_number">
      <NumberFormat ss:Format="Fixed"/>
    </Style>
    <Style ss:ID="format_center">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Definir registro por gestor">
    <Table>
      <Row>

        <% if @pe_process.of_persons? %>

          <Cell><Data ss:Type="String"><%= alias_username %> evaluado</Data></Cell>
          <Cell><Data ss:Type="String">Evaluado</Data></Cell>
          <Cell><Data ss:Type="String"><%= alias_username %> evaluador</Data></Cell>
          <Cell><Data ss:Type="String">Evaluador</Data></Cell>

        <% else %>

          <Cell><Data ss:Type="String">Área evaluada</Data></Cell>
          <Cell><Data ss:Type="String">Responsable del área evaluada</Data></Cell>
          <Cell><Data ss:Type="String">Área evaluadora</Data></Cell>
          <Cell><Data ss:Type="String">Responsable del área evaluadora</Data></Cell>

        <% end %>

        <Cell><Data ss:Type="String">Relación</Data></Cell>

        <% pe_elements = @pe_evaluation.pe_elements %>

        <% pe_elements.each do |pe_element| %>

          <% if pe_element.simple %>

            <Cell><Data ss:Type="String"><%= pe_element.name %></Data></Cell>

          <% else %>

            <% pe_element.pe_element_descriptions.each do |pe_element_description| %>

              <Cell><Data ss:Type="String"><%= pe_element_description.name %></Data></Cell>

            <% end %>

          <% end %>

        <% end %>

        <% if pe_elements.last.assessment_method == 2 %>

          <Cell><Data ss:Type="String">Tipo</Data></Cell>
          <Cell><Data ss:Type="String">Peso</Data></Cell>
          <Cell><Data ss:Type="String">Meta</Data></Cell>

        <% end %>

        <Cell><Data ss:Type="String">Registrado por gestor (SI/NO)</Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String">Identificador</Data></Cell>

      </Row>

      <% @pe_process.evaluated_members_ordered.each do |pe_member_evaluated| %>

        <% @pe_member_evaluated = pe_member_evaluated %>

        <% if pe_member_evaluated.has_to_be_assessed_in_evaluation(@pe_evaluation) %>

          <% pe_member_evaluated.pe_member_rels_is_evaluated_ordered_rel.each do |pe_member_is_evaluated_rel| %>

            <% @pe_rel = pe_member_is_evaluated_rel.pe_rel %>

            <% if @pe_evaluation.has_pe_evaluation_rel(@pe_rel) %>

              <% pe_group = nil %>

              <% if @pe_evaluation.pe_groups.size > 0 %>

                <% pe_member_group = pe_member_evaluated.pe_member_group(@pe_evaluation) %>

                <% pe_group = pe_member_group.pe_group if pe_member_group %>

              <% end %>

              <% @pe_member_evaluator = pe_member_is_evaluated_rel.pe_member_evaluator %>

              <% @pe_assessment_evaluation = pe_member_is_evaluated_rel.pe_assessment_evaluation(@pe_evaluation) %>

              <% pe_questions = @pe_evaluation.pe_questions_by_pe_member_1st_level_ready(pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel) %>

              <%= render partial: 'pe_managing/register_results_questions_download_evaluation_to_activate_item',
                         locals: {
                             pe_questions: pe_questions,
                             first_element: true,
                             pe_member_evaluated_rel: pe_member_is_evaluated_rel
                         }
              %>

            <% end %>

          <% end %>


        <% end %>

      <% end %>

    </Table>
  </Worksheet>
</Workbook>