

<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a gestión del desempeño'.html_safe, pe_managing_processes_list_path, class: 'btn btn-default' %>

  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>: Registrar resultados
    </h1>
  </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          <%= @hr_process.year %> - <%= @hr_process.nombre %>: Registrar resultados
        </legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Fecha de inicio</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @hr_process.fecha_inicio, format: :day_snmonth_year) %>

            <% if lms_time > @hr_process.fecha_inicio %>

                  <span class="label label-danger">Hace
                    <%= distance_of_time_in_words(@hr_process.fecha_inicio, lms_time) %>
                  </span>

            <% else %>
                  <span class="label label-primary">En
                    <%= distance_of_time_in_words(lms_time, @hr_process.fecha_inicio) %>
                  </span>
            <% end %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Fecha de fin</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @hr_process.fecha_fin, format: :day_snmonth_year) %>

            <% if lms_time > @hr_process.fecha_fin %>

                  <span class="label label-danger">Hace
                    <%= distance_of_time_in_words(@hr_process.fecha_fin, lms_time) %>
                  </span>

            <% else %>
                  <span class="label label-primary">En
                    <%= distance_of_time_in_words(lms_time, @hr_process.fecha_fin) %>
                  </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-striped table-hover table-bordered">

          <thead>

            <tr>
              <th>#</th>
              <th>Evaluación</th>
              <th></th>
            </tr>

          </thead>

          <tbody>

            <% c = 1 %>

            <% @hr_process.current_hr_process_evaluations.each.each do |hr_process_evaluation| %>

              <% if hr_process_evaluation.hr_process_dimension_e.registro_por_gestor %>

                <tr>
                  <td>
                    <%= c %>
                  </td>
                  <td>
                    <%= hr_process_evaluation.name %>
                  </td>
                  <td>
                    <%= link_to 'Registrar resultados', pe_managing_register_results_2_path(hr_process_evaluation) %>
                  </td>
                </tr>

                <% c += 1 %>

              <% end %>

            <% end %>

          </tbody>

        </table>

      </div>
    </div>

  </div>
</div>