<tr class="approver">
  <td>
    <%= f.number_field :position, class: 'form-control', required: true %>
  </td>
  <td>
    <% approvers_array = User.where(activo: true).map {|user| [user.codigo + ' - ' + user.comma_full_name, user.id]} %>
    <%= f.select :user_id, options_for_select(approvers_array, f.object.user_id), {:prompt => '- Seleccionar -'}, {:class => 'form-control select2', :placeholder => alias_username + ' - Apellidos, nombre', required: true} %>
    <% unless f.object.name.blank? %>
      <em><%= f.object.name   %></em>
    <% end %>
  </td>
  <td>
    <%= f.number_field :value, class: 'form-control', required: true %>
  </td>
  <td>
    <%= f.check_box :mandatory, class: 'form-control' %>
  </td>
  <!--
  <td>
    <%#= f.number_field :prerequisite_position, class: 'form-control' %>
  </td>
  -->
  <td>
    <%= f.check_box :conditions_rejection, class: 'form-control' %>
  </td>
  <td>
    <%= link_to_remove_sel_req_approver('Quitar', f) %>
  </td>
</tr>