<p id="notice"><%= notice %></p>

<p>
  <b>Pe question activity field list:</b>
  <%= @pe_question_activity_field_list_item.pe_question_activity_field_list %>
</p>

<p>
  <b>Description:</b>
  <%= @pe_question_activity_field_list_item.description %>
</p>


<%= link_to 'Edit', edit_pe_question_activity_field_list_item_path(@pe_question_activity_field_list_item) %> |
<%= link_to 'Back', pe_question_activity_field_list_items_path %>
