<div class="row hol_char_tr" id="hol_char_tr_<%= hol_char.id %>">
  <div class="col-md-5 hol_char_td"><%= hol_char.char_name %></div>
  <div class="col-md-5 hol_char_td_match" id="hol_char_td_match_<%= hol_char.id %>"><%= hol_char.match_value_formatted %></div>
  <div class="col-md-2">
    <%= link_to t('views.holiday_module.flow_process.edit'), '#',
                onclick: 'row_form(this)',
                data: { url: holiday_characteristics_edit_hol_condition_path(hol_char) } %>
    <br>
    <%= link_to t('views.holiday_module.flow_process.delete'), '#',
                class: 'btn btn-danger btn-xs',
                onclick: 'row_delete(this)',
                data: { url: holiday_characteristics_delete_hol_condition_path(hol_char) } %>
  </div>
</div>

<hr class="this_br">

<script>
    function row_form(link){
        url = $(link).data('url');
        $.ajax({
            url: url,
            type: "post",
            dataType: "html",
            error: function (XMLHttpRequest, errorTextStatus, error) {
                alert("Failed: " + errorTextStatus + " ;" + error);
            },
            success: function (result) {
                $(link).closest('.hol_char_tr').next('.this_br').remove();
                $(link).closest('.hol_char_tr').replaceWith(result);
            }
        });
    }
</script>

<script>
    function row_delete(link){
        if (confirm("<%= t('views.holiday_module.confirmation_messages.delete') %>")) {
            url = $(link).data('url');
            $.ajax({
                url: url,
                type: "post",
                dataType: "html",
                error: function (XMLHttpRequest, errorTextStatus, error) {
                    alert("Failed: " + errorTextStatus + " ;" + error);
                },
                success: function (result) {
                    $(link).closest('.hol_char_tr').next('.this_br').remove();
                    $(link).closest('.hol_char_tr').replaceWith(result);
                }
            });
        }
    }
</script>