<%= form_for @password_policy, html: {class: 'form-horizontal'} do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <legend> <%= t('views.password_policies.shared.policy_data') %></legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :priority %>">
        <%= f.label :priority, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :priority, class: 'form-control', required: true %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :name %>">
        <%= f.label :name, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group <%= field_with_errors f, :default %>">
        <%= f.label :default, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :default, class: 'yes_no_bootstrap_switch' %>
        </div>
      </div>
      <div class="form-group <%= field_with_errors f, :active %>">
        <%= f.label :active, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :active, class: 'yes_no_bootstrap_switch' %>
        </div>
      </div>

      <div class="panel panel-default rules_panel">
        <div class="panel-body rules_container">
          <legend>Reglas</legend>
          <%= f.fields_for :password_rules do |f_rule| %>
            <%= render partial: 'password_policies/password_rules/form', locals: {f: f_rule} %>
          <% end %>
        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= link_to_add_password_rule 'Añadir', f %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit t('views.password_policies.form.submit_button'), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
<script>
    $('.wysihtml5').wysihtml5({
        "font-styles": false,
        "emphasis": true,
        "lists": true,
        "html": false,
        "link": false,
        "image": false,
        "color": false
    });
    $('.wysihtml5').removeClass('wysihtml5');

    $(document).ready(function () {
        $(".wysihtml5-sandbox").css("resize", "vertical");

        $('.yes_no_bootstrap_switch').bootstrapSwitch({
            onColor: 'success',
            onText: "Sí",
            offColor: 'danger',
            offText: "No",
            size: 'small'
        });
    });

    // password rules
    function remove_password_rule(link) {
        $(link).prev('input[type=hidden]').val(1)
        $(link).closest('.password_rule').hide();
    }

    function add_password_rule(link, content) {
        var new_id = new Date().getTime();
        var regexp = new RegExp('new_rule', 'g')
        $(link).closest('.rules_panel').find('.rules_container').append(content.replace(regexp, new_id))
    }
</script>