<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.password_policies.shared.back_to_list')).html_safe, password_policies_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%=	icon_password_policy_module_html_safe %>
      <span> <%= t('views.password_policies.shared.edit_policy') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'form' %>

  </div>
</div>