<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-title txt-color-blueDark">
      <%=	icon_password_policy_module_html_safe %>
      <span> <%= t('views.password_policies.index.title') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
<div class="panel panel-default">
  <div class="panel-body">


    <legend><%= t('views.password_policies.index.title') %></legend>

    <table class="table table-hover table-bordered">

      <thead>

      <tr>
        <th width="10%"><%= t('activerecord.attributes.password_policy.priority') %></th>
        <th><%= t('activerecord.attributes.password_policy.name') %></th>
        <!--
        <th width="10%"><%= t('activerecord.attributes.password_policy.use_in_exa') %></th>
        <th width="10%"><%= t('activerecord.attributes.password_policy.use_in_job_market') %></th>
        -->
        <th width="10%"><%= t('activerecord.attributes.password_policy.default') %></th>
        <th width="10%"><%= t('activerecord.attributes.password_policy.active') %></th>
        <th width="20%">
          <%= link_to t('views.password_policies.shared.create_new_policy'), new_password_policy_path %>
        </th>
      </tr>
      </thead>

      <tbody>

      <% @password_policies.each do |policy| %>
        <tr>
          <td><%= policy.priority %></td>
          <td><%= policy.name %></td>
          <!--
          <td><%#= label_yes_not policy.use_in_exa %></td>
          <td><%#= label_yes_not policy.use_in_job_market %></td>
          -->
          <td><%= label_yes_not policy.default %></td>
          <td><%= label_yes_not policy.active %></td>
          <td><%= link_to t('views.password_policies.shared.manage_policy'), edit_password_policy_path(policy) %></td>
        </tr>
      <% end %>
      </table>
  </div>
</div>
  </div>
</div>