<div class="panel panel-default">
  <div class="panel-body">
      <legend>Lista de usuarios a matricular</legend>

    <% @users_added.each do |user| %>

        <div class="user_container_<%= user.id  %>">
          <%= user.codigo  %> - <%= user.comma_full_name  %>
        &nbsp;
        <%= link_to 'quitar', '#', :class => 'remover_link', :onclick =>'remove_user_from_list(this)', :data =>{:url => lms_remove_user_from_list_path(user), :id => user.id} %>
        <br>
        </div>
    <% end %>

  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      <a href="#" onclick="load_user_hound()">Buscar</a>
    </div>
  </div>
</div>

<script>
  function load_user_hound(){
    wLeft = window.screenLeft ? window.screenLeft : window.screenX;
    wTop = window.screenTop ? window.screenTop : window.screenY;

    var left = wLeft + (window.innerWidth / 2) - (900 / 2);
    var top = wTop + (window.innerHeight / 2) - (500 / 2);

    window.open('<%= user_hound_path %>', 'Buscador de usuarios', 'directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,width=900,height=500,top=' + top + ',left=' + left);


    window.select_users = function(value) {
      add_users_to_list(value)
    };
  }

</script>