<%= form_tag '#', class: 'form-horizontal', method: :post do %>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Cursos seleccionados</legend>

        <div>
          <% @courses_added.each do |program_course| %>

              <% @exists_detail = (@courses_detail && @courses_detail[program_course.id.to_s]) %>
              <% @exists_detail_dates = (@exists_detail && @courses_detail[program_course.id.to_s]['dates_by_element'] == '1') %>
              <div class="course_container_<%= program_course.id %>" data-id="<%= program_course.id %>">

                <% course = program_course.course %>

                <%= course.nombre %>&nbsp;
                <%= link_to 'quitar', '#', :onclick => 'remove_course_from_list(this)', :data => {:id => program_course.id, :url => lms_remove_course_from_list_path(program_course)} %>


                <table class="table table-hover table-bordered">
                  <tr>
                    <td colspan="5">

                      <br>
                      Inicio - Fin
                      <div class="input-group col-md-6 <%#= 'has-error' if @desdehasta && @desdehasta[index_pc].nil? %> ">
                        <input type="text" name="desdehasta_<%= program_course.id %>" data-id="<%= program_course.id %>" class="form-control uneditable-input desdehasta desdehastaglobal" readonly value="<%= @courses_detail[program_course.id.to_s]['desdehasta'] if (@exists_detail) %>">
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
                      </div>

                      <br>

                      <input type="hidden" name="dates_by_element_<%= program_course.id %>" value="0">
                      Fechas detalladas
                      <input type="checkbox" data-id="<%= program_course.id %>" class="dates_by_element_switch" id="dates_by_element_<%= program_course.id %>" name="dates_by_element_<%= program_course.id %>" value="1" <%= 'checked' if (@exists_detail_dates) %> onchange="toggle_dates_by_element_<%= program_course.id %>()">

                      <script>

                        $('#dates_by_element_<%= program_course.id %>').bootstrapSwitch({
                          onColor: 'success',
                          onText: "Sí",
                          offColor: 'danger',
                          offText: "No",
                          size: "small"
                        });

                        function toggle_dates_by_element_<%= program_course.id %>() {

                          if ($('#dates_by_element_<%= program_course.id %>').is(":checked")) {
                            $('#dates_by_element_container_<%= program_course.id %>').show();
                          } else {
                            $('#dates_by_element_container_<%= program_course.id %>').hide();
                          }

                        }

                        $(document).ready(function () {
                          toggle_dates_by_element_<%= program_course.id %>();
                        });

                      </script>

                      <% elements, elements_ids = course.ordered_elements %>

                      <div id="dates_by_element_container_<%= program_course.id %>">

                        <br>

                        <table class="table table-striped table-hover table-bordered">

                          <thead>

                          <tr>
                            <th>Orden</th>
                            <th>Desde Hasta</th>
                            <th>Tipo</th>
                            <th>Nombre</th>
                            <th>Modalidad</th>


                          </tr>

                          </thead>

                          <tbody>


                          <% elements.each_with_index do |element, index_el| %>

                              <%
                                ei = elements_ids[index_el].gsub('-', '_')
                                tipo = ei[0]

                              %>

                              <tr>
                                <td><%= element.orden %></td>
                                <% field_name = 'desdehasta_' + program_course.id.to_s + '_' + ei %>

                                <td>
                                  <div class="input-group col-md-12 <%#= 'has-error' if @desdehasta_elements && @desdehasta_elements[index_pc] && @desdehasta_elements[index_pc][index_el].nil? %> ">
                                    <input type="text" name="<%= field_name %>" data-id="<%= program_course.id %>" class="desdehastadetail form-control uneditable-input desdehasta" readonly value="<%= @courses_detail[program_course.id.to_s]['desdehasta_elements'][field_name] if @courses_detail[program_course.id.to_s]['desdehasta_elements'] %>">
                            <span class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                            </span>
                                  </div>

                                </td>

                                <td>

                                  <% if tipo=='u' %>
                                      <span class="label label-warning"><%= course.unit_alias.capitalize %> <%= element.numero %></span>
                                  <% end %>

                                  <% if tipo=='e' %>
                                      <span class="label label-danger">Evaluación <%= element.numero %></span>
                                  <% end %>

                                  <% if tipo=='p' %>
                                      <span class="label label-primary">Encuesta <%= element.numero %></span>
                                  <% end %>

                                </td>

                                <td><%= element.nombre %></td>

                                <td>

                                  <% if element.virtual %>

                            <span class="label label-success">
                              <i class='fa fa-laptop'></i> Virtual
                            </span>

                                  <% else %>

                            <span class="label label-primary">
                              <i class='fa fa-male'></i> Presencial
                            </span>

                                  <% end %>

                                </td>


                              </tr>

                          <% end %>

                          </tbody>

                        </table>


                      </div>


                      <div class="pull-right">
                        <%= link_to 'Guardar', '#', :class => 'disabled btn btn-primary btn-guardar-' + program_course.id.to_s, :data => {:url => lms_save_dates_to_course_path, :id => program_course.id}, :onclick => 'save_dates(this)' %>
                        <%#= link_to 'Cancelar', '#', :class => 'btn btn-primary btn-cancelar-' + program_course.id.to_s, :onclick => 'disable_edit_course_dates(' + program_course.id.to_s + ')' %>
                        <%= link_to 'Editar', '#', :class => 'btn btn-primary btn-editar-' + program_course.id.to_s, :onclick => 'enable_edit_course_dates(' + program_course.id.to_s + ')' %>
                      </div>

                    </td>
                  </tr>
                </table>

              </div>
          <% end %>
        </div>


        <legend>Seleccionar cursos</legend>

        <br>
        <br>

        <table id="datatable_courses" class="table table-bordered smart-form" style="font-size: 11px;" width="100%">

          <thead>
          <tr>
            <th>#</th>
            <th>Programa</th>
            <% if TrainingType.all.size > 0 %>
                <th><%= @company.training_type_alias %></th>
            <% end %>
            <th>Código</th>
            <th>Curso</th>

          </tr>
          <tr>
            <td>
              <label class="input">
                <input type="text" class="hidden">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <% if TrainingType.all.size > 0 %>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
            <% end %>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
          </tr>
          </thead>

          <tbody>
          <% @programs.each do |program| %>

              <% program.active_program_courses_order_by_name.each do |pc| %>
                  <% if pc.course.dncp_id.nil? && !@courses_added.include?(pc) %>
                      <% course = pc.course %>

                      <tr>
                        <td>
                          <input type="checkbox" class="program_course_list" name="program_course_id" value="<%= pc.id %>">
                        </td>
                        <td>
                          <%= program.codigo %>
                          -
                          <%= program.nombre %>
                        </td>
                        <% if TrainingType.all.size > 0 %>
                            <td><%= course.training_type.nombre if course.training_type %></td>
                        <% end %>
                        <td><%= course.codigo %></td>
                        <td><%= course.nombre %></td>
                      </tr>

                  <% end %>
              <% end %>

          <% end %>
          </tbody>

        </table>

        <script>
          /*
           function set_program_course_selected(pc_id) {

           if ($("#program_courses_dt_" + pc_id).is(':checked')) {

           v = "<input type='hidden' id='program_courses_id_" + pc_id + "' name='program_courses_id[]' value='" + pc_id + "' >";

           $("#program_courses_container").append(v);

           } else {

           $("#program_courses_id_" + pc_id).remove();

           }

           }
           */
        </script>

        <div id="program_courses_container">

        </div>

      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to 'Seleccionar cursos', '#', class: 'btn btn-primary', :onclick => 'add_courses_to_list(); return false' %>
        </div>
      </div>
    </div>
<% end %>

</div>


<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_courses'
           }
%>

<script type="text/javascript">
  jQuery(function ($) {
    $('.desdehasta').daterangepicker({
      format: 'DD/MM/YYYY hh:mm A',
      timePicker: true,
      timePicker12Hour: true,
      timePickerIncrement: 1,
      locale: {

        applyLabel: 'Aplicar',
        fromLabel: 'Desde',
        toLabel: 'Hasta',
        customRangeLabel: 'Custom Range',
        daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        firstDay: 1
      },
      opens: "right"
    });
  });


  $(document).ready(function () {

    $('[class ^= "course_container_"]').each(function (index, div) {
      if ($(div).find('.desdehastaglobal').val().length == 0) {
        enable_edit_course_dates($(div).data('id'))
      } else {
        disable_edit_course_dates($(div).data('id'))
      }
    });


  });

  $('.dates_by_element_switch').on('switchChange.bootstrapSwitch', function (event, state) {
    var program_course_id = $(this).data('id')
    toogle_boton_save_dates(program_course_id)
  });


  $('.desdehasta').on('apply.daterangepicker', function (ev, picker) {
    var program_course_id = $(this).data('id')
    toogle_boton_save_dates(program_course_id, picker.startDate, picker)
  });
</script>