<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de sesiones de calibración'.html_safe, listar_hr_process_calibration_sessions_path(@hr_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>: Modificar sesión de calibración
    </h1>
  </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 form-box-<%= $current_domain %>">


    <%= render 'form' %>

  </div>
</div>