<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de sesiones de calibración'.html_safe, listar_hr_process_calibration_sessions_path(@hr_process), class:' link-volver-'+$current_domain %>
  </div>

  <div class="col-md-6 text-center">
    <legend class="no-borders"><%= @hr_process.nombre %> - <%= @hr_process.year %>: Sesiones de calibración</legend>
  </div>

</div>

<br><br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <legend class="text-center">Sesión de calibración</legend>

    <div class="row">
      <div class="col-md-3">
        <strong>Fecha de inicio</strong>
      </div>
      <div class="col-md-9">
        <%= (localize @hr_process_calibration_session.inicio, format: :day_snmonth_year) %>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-3">
        <strong>Fecha de fin</strong>
      </div>
      <div class="col-md-9">
        <%= (localize @hr_process_calibration_session.fin, format: :day_snmonth_year) %>
      </div>
    </div>
    <br>

  </div>
</div>