<legend><%= t('views.vac_approvers.legends.approvees_list') %></legend>

<table id='datatable_approvees' class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <th><%= alias_username %></th>
    <th><%= t('views.vac_approvers.user.lastname') %></th>
    <th><%= t('views.vac_approvers.user.name') %></th>
    <% if defined?(editable) && editable %>
      <th><%= link_to t('views.vac_requests_periods.flow_process.new'), vac_approvers_new_approvee_search_people_path(approver) %> </th>
  <% end %>
  </tr>

  <tr class="second">
    <td><label style="display: none" class="input"><input type="text" name="search_num" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_cod" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_lastname" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_name" value="" class="search_init"></label></td>
    <% if defined?(editable) && editable %>
      <td></td>
    <% end %>
  </tr>
  </thead>

  <tbody>

  <% approvees.each_with_index do |approvee, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= approvee.user.codigo %></td>
      <td><%= approvee.user.apellidos %></td>
      <td><%= approvee.user.nombre %></td>
      <% if defined?(editable) && editable %>
        <td><%= link_to t('views.vac_requests_periods.flow_process.delete'), vac_approvers_deactivate_approvee_path(approvee), class:'btn btn-danger btn-xs', data: {confirm: '¿Está seguro de eliminar usuario de lista?'} %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render partial: '/shared/datatable',
           locals: { table_id: 'datatable_approvees' } %>