<%= form_for(@vac_approver) do |f| %>
  <% if @vac_approver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vac_approver.errors.count, "error") %> prohibited this vac_approver from being saved:</h2>

      <ul>
      <% @vac_approver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :since %><br />
    <%= f.datetime_select :since %>
  </div>
  <div class="field">
    <%= f.label :until %><br />
    <%= f.datetime_select :until %>
  </div>
  <div class="field">
    <%= f.label :registered_at %><br />
    <%= f.datetime_select :registered_at %>
  </div>
  <div class="field">
    <%= f.label :registered_by_user_id %><br />
    <%= f.number_field :registered_by_user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
