<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.vac_approvers.navigation.back_list_approver_manage')).html_safe, @approver, class: 'btn btn-default' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-suitcase" aria-hidden="true"> </i>
      <%= t('views.vac_approvers.legends.approvers') %>
      <span>> <%= t('views.vac_approvers.flow_process.manage') %></span>
      <span>> <%= t('views.vac_approvers.flow_process.new_approvee') %></span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url: vac_approvers_new_approvee_search_people_path(@approver), method: :post do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Buscador</legend>


          <div class="row">
            <div class="col-md-12">

              <div class="row">
                <div class="col-md-4">
                  <label>&nbsp;&nbsp;<%= alias_username %></label>
                </div>
                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Apellidos</label>
                </div>
                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Nombre</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>
                </div>

                <div class="col-md-4">
                  <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>
                </div>

                <div class="col-md-4">
                  <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Buscar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Resultados de la búsqueda</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>
          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th><%=t('views.ben_cellphone_number.shared.lastname') %></th>
            <th><%=t('views.ben_cellphone_number.shared.name') %></th>
            <th></th>
          </tr>
          </thead>

          <tbody>

          <% @users.each_with_index do |user, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= user.codigo %></td>
              <td><%= user.apellidos%></td>
              <td><%= user.nombre %></td>
              <td> <%= link_to t('views.vac_approvers.flow_process.create'), vac_approvers_create_approvee_path(user.id, @approver), method: :post %> </td>
            </tr>
          <% end %>

          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>