<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.tracking_forms.edit.back_to_form')).html_safe, @tracking_form, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%=	icon_tracking_module_html_safe %>
      <%= @tracking_form.tracking_process.name %> >
      <%= @tracking_form.name %>
      <span>> <%= t('views.tracking_forms.shared.edit_form') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'form' %>

  </div>
</div>