<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.tracking_forms.shared.back_to_process')).html_safe, tracking_process_pill_open_path(@tracking_form.tracking_process, 'forms'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%= icon_tracking_module_html_safe %>
      <%= @tracking_form.tracking_process.name %> >
      <%= @tracking_form.name %>
      <span>> <%= t('views.tracking_forms.shared.manage_form') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'show' %>
  </div>
</div>


<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="text-center">
      <ul id='tabs' class="nav nav-pills nav-justified nav-pills-<%= $current_domain %>" style="display: inline-block;">
        <li>
          <a data-url="<%= tracking_form_actions_list_path(@tracking_form) %>" data-toggle="pill" href="#actions" onclick="load_pill(this)"><%= t('views.tracking_forms.show.pills.actions') %></a>
        </li>
        <% if @tracking_form.is_traceable? %>
        <li>
          <a data-url="<%= tracking_form_states_list_path(@tracking_form) %>" data-toggle="pill" href="#track_states" onclick="load_pill(this)"><%= t('views.tracking_forms.show.pills.track_states') %></a>
        </li>
        <% end %>
        <li>
          <a data-url="<%= tracking_form_groups_list_path(@tracking_form) %>" data-toggle="pill" href="#questions" onclick="load_pill(this)"><%= t('views.tracking_forms.show.pills.questions') %></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="row">

  <div class="tab-content">
    <div id="actions" class="col-md-8 col-md-offset-2 tab-pane <%= if (@show_pill_open && @show_pill_open == 'actions')
                                                                   'active'
                                                                 else
                                                                   'fade'
                                                                 end %>">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-body text-center">
            <i class="fa fa-refresh fa-spin"></i> <%= t('views.tracking_forms.shared.loading') %> <%= t('views.tracking_forms.show.pills.actions') %>
          </div>
        </div>
      </div>
    </div>
    <div id="track_states" class="col-md-8 col-md-offset-2 tab-pane <%= if (@show_pill_open && @show_pill_open == 'track_states')
                                                                          'active'
                                                                        else
                                                                          'fade'
                                                                        end %>">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-body text-center">
            <i class="fa fa-refresh fa-spin"></i> <%= t('views.tracking_forms.shared.loading') %> <%= t('views.tracking_forms.show.pills.track_states') %>
          </div>
        </div>
      </div>
    </div>
    <div id="questions" class="col-md-8 col-md-offset-2 tab-pane <%= if (@show_pill_open && @show_pill_open == 'questions')
                                                                   'active'
                                                                 else
                                                                   'fade'
                                                                 end %>">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-body text-center">
            <i class="fa fa-refresh fa-spin"></i> <%= t('views.tracking_forms.shared.loading') %> <%= t('views.tracking_forms.show.pills.questions') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  function load_pill(link) {
    $(function () {
      var url = $(link).data("url")
      var id = $(link).attr('href')
      call_ajax_load_pill(url, id)
    });
  }

  function call_ajax_load_pill(url, id) {
    $.ajax({
      url: url,
      data: {toggle: "tab"},
      cache: true,
      type: "post",
      dataType: "html",
      success: function (result) {
        $(id).html(result);
        $('#tabs > li.active > a').attr('onclick', null);
      }
    })
  }

  <% if @show_pill_open %>
  $(document).ready(function () {
    var link = $('[href=#<%= @show_pill_open %>]')
    var li = link.parent()
    var url = link.data("url")
    var id = link.attr('href')
    li.prop('class', 'active')
    call_ajax_load_pill(url, id)
  })
  <% end %>
</script>