
<div class="row">
  <div class="col-md-10 col-md-offset-1">


    <div class="panel panel-default">
      <div class="panel-body">


        <% programs = Program.all %>

        <ul class="nav nav-tabs">

          <li class="active">
            <a href="#tab_program_queued_reports" data-toggle="tab">Reporte generados</a></li>
          <li>

          <li>
            <a href="#tab_program_reporte_general" data-toggle="tab">Reporte general</a></li>
          <li>

          <li>
            <a href="#tab_program_reporte_general_2" data-toggle="tab">Reporte general 2</a></li>
          <li>

          <li>
            <a href="#tab_program_reporte_general_remote" data-toggle="tab">Reporte general (sólo Alejo)</a></li>
          <li>

          <li>
            <a href="#tab_program_reporte_por_programa" data-toggle="tab">Reporte por programa</a></li>
          <li>

          <li>
            <a href="#tab_program_detalle_evals" data-toggle="tab">Detalle de evaluaciones</a></li>
          </li>

          <li>
            <a href="#tab_program_enc_satis" data-toggle="tab">Encuestas de satisfacción</a></li>
          <li>

        </ul>

        <div class="tab-content">

          <div class="tab-pane active" id="tab_program_queued_reports">

            <div class="row">
              <div class="col-md-12">

                <br><br>

                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Reporte</th>
                      <th>Descripción</th>
                      <th>Fecha</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% QueuedReport.all.each_with_index do |queue_report, index| %>

                      <tr>
                        <td><%= index+1 %></td>
                        <td><%= queue_report.name %></td>
                        <td><%= queue_report.description %></td>
                        <td><%= (localize queue_report.from_date, format: :log) if queue_report.from_date %></td>
                        <td>
                          <% if queue_report.status %>
                            <%= link_to 'Descargar', training_reports_for_admin_download_reporte_general_remote_path(queue_report.code), :method=> :post %>
                          <% else %>
                            <i class="fa fa-refresh fa-spin"></i>
                          <% end %>


                        </td>
                      </tr>

                    <% end %>
                  </tbody>
                </table>

              </div>
            </div>
          </div>

          <div class="tab-pane" id="tab_program_reporte_general">

            <div class="row">
              <div class="col-md-12">
                <br>

                <li>Muestra todos los registros de matrículas (No iniciados, Iniciados, Finalizados).</li>

                <li>En el caso de programas abiertos, no muestra los cursos que no hayan sido iniciados por
                los alumnos dado que eso implica que no existe registro de matrícula.</li>

                <li>Si el curso tiene más de una evaluación, estas son mostradas también.</li>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">

                <br>


                <% desde = lms_time.beginning_of_year %>
                <% hasta = lms_time %>

                <%= form_for Enrollment.new, url: training_reports_for_admin_reporte_general_path, html: {class: 'form-horizontal', method: :post} do |f| %>



                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group">
                        <input type="text" name="desdehasta" id="desdehasta_rg" class="form-control uneditable-input" readonly value="<%= desde.strftime('%d/%m/%Y')%> - <%=hasta.strftime('%d/%m/%Y')%>">
                                  <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                  </span>
                      </div>

                      <script type="text/javascript">
                        jQuery(function($){
                          $('#desdehasta_rg').daterangepicker({

                            format: 'DD/MM/YYYY',
                            startDate: '<%=desde.strftime('%d/%m/%Y')%>',
                            endDate: '<%=hasta.strftime('%d/%m/%Y')%>',
                            locale: {
                              applyLabel: 'Aplicar',
                              fromLabel: 'Desde',
                              toLabel: 'Hasta',
                              customRangeLabel: 'Custom Range',
                              daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi','Sa'],
                              monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                              firstDay: 1
                            }

                          });
                        });


                      </script>
                    </div>
                    <div class="col-md-4">
                      <%
                         tipo_fecha_array = {'Todas las fechas' => 1,
                                             'Convocatoria' => 2, 'Convocatoria - Inicio' => 3, 'Convocatoria - Fin' => 4,
                                             'Inicio y fin reales' => 5, 'Inicio real' => 6, 'Fin real' => 7}
                      %>

                      <%= select_tag(:tipo_fecha, options_for_select(tipo_fecha_array), class: 'form-control') %>

                    </div>
                  </div>
                  <br>
                  <table class="table table-bordered table-compresed table-hover">

                  <% programs.each do |program| %>

                    <thead>
                      <tr>
                        <th colspan="4"><%= program.nombre%></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% program.levels.each do |level| %>

                        <% level.courses.where('dncp_id IS NULL').each do |course| %>

                          <% program_course = program.program_courses.where('level_id = ? AND course_id = ? ', level.id, course.id).first %>

                            <tr>
                              <td>
                                <input type="checkbox" name="pc_<%= program_course.id %>" value="1">
                              </td>
                              <td><%= course.codigo %></td>
                              <td><%= course.nombre %></td>
                              <td>
                                <% if program_course.activo %>
                                  <span class="label label-success">Activo</span>
                                <% else %>
                                  <span class="label label-default">Inactivo</span>
                                <% end %>
                              </td>
                            </tr>

                        <% end %>

                      <% end %>
                    </tbody>

                  <% end %>

                  </table>
                  <br>
                  <div class="row">
                    <div class="col-md-3">
                      <strong>Mostrar sólo el último estado</strong>
                    </div>
                    <div class="col-md-9">

                      <input type="checkbox" name="solo_ultimo_estado" id ="solo_ultimo_estado" value ="1">
                      <script>
                        $('#solo_ultimo_estado').bootstrapSwitch({
                          onColor: 'success',
                          onText: "Sí",
                          offColor: 'danger',
                          offText: "No"
                        });
                      </script>

                      <br>
                      <br>
                      <li>Se muestra el último registro finalizado de las matrículas (aprobado, reprobado)</li>
                      <li>Si el último registro de matrícula no está finalizado no se muestra, se muestra el previo finalizado (aprobado o reprobado)</li>
                      <li>Si sólo existe un único registro de matrícula, éste se mostrará sin importar si está finalizado o no.</li>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-12 text-right">
                      <%= f.submit 'Generar reporte', class: 'btn btn-primary' %>
                    </div>
                  </div>

                <% end %>

              </div>
            </div>


          </div>

          <div class="tab-pane" id="tab_program_reporte_general_2">

            <div class="row">
              <div class="col-md-12">
                <br>

                <li>Muestra todos los registros de matrículas (No iniciados, Iniciados, Finalizados).</li>

                <li>En el caso de programas abiertos, no muestra los cursos que no hayan sido iniciados por
                  los alumnos dado que eso implica que no existe registro de matrícula.</li>

                <li>Si el curso tiene más de una evaluación, estas son mostradas también.</li>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">

                <br>

                <% desde = lms_time.beginning_of_year %>
                <% hasta = lms_time %>

                <%= form_for Enrollment.new, url: training_reports_for_admin_reporte_general_2_path, html: {class: 'form-horizontal', method: :post} do |f| %>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group">
                        <input type="text" name="desdehasta" id="desdehasta_rg2" class="form-control uneditable-input" readonly value="<%= desde.strftime('%d/%m/%Y')%> - <%=hasta.strftime('%d/%m/%Y')%>">
                        <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                  </span>
                      </div>

                      <script type="text/javascript">
                        jQuery(function($){
                          $('#desdehasta_rg2').daterangepicker({

                            format: 'DD/MM/YYYY',
                            startDate: '<%=desde.strftime('%d/%m/%Y')%>',
                            endDate: '<%=hasta.strftime('%d/%m/%Y')%>',
                            locale: {
                              applyLabel: 'Aplicar',
                              fromLabel: 'Desde',
                              toLabel: 'Hasta',
                              customRangeLabel: 'Custom Range',
                              daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi','Sa'],
                              monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                              firstDay: 1
                            }

                          });
                        });


                      </script>
                    </div>
                    <div class="col-md-4">
                      <%
                        tipo_fecha_array = {'Todas las fechas' => 1,
                                            'Convocatoria' => 2, 'Convocatoria - Inicio' => 3, 'Convocatoria - Fin' => 4,
                                            'Inicio y fin reales' => 5, 'Inicio real' => 6, 'Fin real' => 7}
                      %>

                      <%= select_tag(:tipo_fecha, options_for_select(tipo_fecha_array), class: 'form-control') %>

                    </div>
                  </div>
                  <br>
                  <table class="table table-bordered table-compresed table-hover">

                    <% programs.each do |program| %>

                      <thead>
                      <tr>
                        <th colspan="4"><%= program.nombre%></th>
                      </tr>
                      </thead>
                      <tbody>
                      <% program.levels.each do |level| %>

                        <% level.courses.where('dncp_id IS NULL').each do |course| %>

                          <% program_course = program.program_courses.where('level_id = ? AND course_id = ? ', level.id, course.id).first %>

                          <tr>
                            <td>
                              <input type="checkbox" name="pc_<%= program_course.id %>" value="1">
                            </td>
                            <td><%= course.codigo %></td>
                            <td><%= course.nombre %></td>
                            <td>
                              <% if program_course.activo %>
                                <span class="label label-success">Activo</span>
                              <% else %>
                                <span class="label label-default">Inactivo</span>
                              <% end %>
                            </td>
                          </tr>

                        <% end %>

                      <% end %>
                      </tbody>

                    <% end %>

                  </table>
                  <br>
                  <div class="row">
                    <div class="col-md-3">
                      <strong>Mostrar sólo el último estado</strong>
                    </div>
                    <div class="col-md-9">

                      <input type="checkbox" name="solo_ultimo_estado" id ="solo_ultimo_estado2" value ="1">
                      <script>
                        $('#solo_ultimo_estado2').bootstrapSwitch({
                          onColor: 'success',
                          onText: "Sí",
                          offColor: 'danger',
                          offText: "No"
                        });
                      </script>

                      <br>
                      <br>
                      <li>Se muestra el último registro de las matrículas (No iniciados, Iniciados, Finalizados).)</li>
                      <li>Si el último registro de matrícula no está finalizado no se muestra, se muestra el previo finalizado (aprobado o reprobado)</li>
                      <li>Si sólo existe un único registro de matrícula, éste se mostrará sin importar si está finalizado o no.</li>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-12 text-right">
                      <%= f.submit 'Generar reporte', class: 'btn btn-primary' %>
                    </div>
                  </div>

                <% end %>

              </div>
            </div>


          </div>

          <div class="tab-pane" id="tab_program_reporte_general_remote">

            <div class="row">
              <div class="col-md-12">
                <br>

                <li>Muestra todos los registros de matrículas (No iniciados, Iniciados, Finalizados).</li>

                <li>En el caso de programas abiertos, no muestra los cursos que no hayan sido iniciados por
                  los alumnos dado que eso implica que no existe registro de matrícula.</li>

                <li>Si el curso tiene más de una evaluación, estas son mostradas también.</li>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">

                <br>


                <% desde = lms_time.beginning_of_year %>
                <% hasta = lms_time %>

                <%= form_for Enrollment.new, url: training_reports_for_admin_reporte_general_remote_path, html: {class: 'form-horizontal', method: :post} do |f| %>



                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group">
                        <input type="text" name="desdehasta" id="desdehasta_rg" class="form-control uneditable-input" readonly value="<%= desde.strftime('%d/%m/%Y')%> - <%=hasta.strftime('%d/%m/%Y')%>">
                                  <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                  </span>
                      </div>

                      <script type="text/javascript">
                        jQuery(function($){
                          $('#desdehasta_rg').daterangepicker({

                            format: 'DD/MM/YYYY',
                            startDate: '<%=desde.strftime('%d/%m/%Y')%>',
                            endDate: '<%=hasta.strftime('%d/%m/%Y')%>',
                            locale: {
                              applyLabel: 'Aplicar',
                              fromLabel: 'Desde',
                              toLabel: 'Hasta',
                              customRangeLabel: 'Custom Range',
                              daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi','Sa'],
                              monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                              firstDay: 1
                            }

                          });
                        });


                      </script>
                    </div>
                    <div class="col-md-4">
                      <%
                         tipo_fecha_array = {'Todas las fechas' => 1,
                                             'Convocatoria' => 2, 'Convocatoria - Inicio' => 3, 'Convocatoria - Fin' => 4,
                                             'Inicio y fin reales' => 5, 'Inicio real' => 6, 'Fin real' => 7}
                      %>

                      <%= select_tag(:tipo_fecha, options_for_select(tipo_fecha_array), class: 'form-control') %>

                    </div>
                  </div>
                  <br>
                  <table class="table table-bordered table-compresed table-hover">

                    <% programs.each do |program| %>

                      <thead>
                      <tr>
                        <th colspan="4"><%= program.nombre%></th>
                      </tr>
                      </thead>
                      <tbody>
                      <% program.levels.each do |level| %>

                        <% level.courses.where('dncp_id IS NULL').each do |course| %>

                          <% program_course = program.program_courses.where('level_id = ? AND course_id = ? ', level.id, course.id).first %>

                          <tr>
                            <td>
                              <input type="checkbox" name="pc_<%= program_course.id %>" value="1">
                            </td>
                            <td><%= course.codigo %></td>
                            <td><%= course.nombre %></td>
                            <td>
                              <% if program_course.activo %>
                                <span class="label label-success">Activo</span>
                              <% else %>
                                <span class="label label-default">Inactivo</span>
                              <% end %>
                            </td>
                          </tr>

                        <% end %>

                      <% end %>
                      </tbody>

                    <% end %>

                  </table>
                  <br>
                  <div class="row">
                    <div class="col-md-3">
                      <strong>Mostrar sólo el último estado</strong>
                    </div>
                    <div class="col-md-9">

                      <input type="checkbox" name="solo_ultimo_estado" id ="solo_ultimo_estado" value ="1">
                      <script>
                        $('#solo_ultimo_estado').bootstrapSwitch({
                          onColor: 'success',
                          onText: "Sí",
                          offColor: 'danger',
                          offText: "No"
                        });
                      </script>

                      <br>
                      <br>
                      <li>Se muestra el último registro finalizado de las matrículas (aprobado o reprobado)</li>
                      <li>Si el último registro de matrícula no está finalizado no se muestra, se muestra el previo finalizado (aprobado o reprobado)</li>
                      <li>Si sólo existe un único registro de matrícula, éste se mostrará sin importar si está finalizado o no.</li>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-12 text-right">
                      <%= f.submit 'Generar reporte', class: 'btn btn-primary' %>
                    </div>
                  </div>

                <% end %>

              </div>
            </div>


          </div>

          <div class="tab-pane" id="tab_program_reporte_por_programa">

            <div class="row">
              <div class="col-md-12">
                <br>
                <li>Muestra todos los cursos del programa y su estado respecto a los alumnos del programa.</li>
                <li>En el caso de programas abiertos, muestra incluso si el curso ha sido o no iniciado.</li>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">

                <br>

                <% desde = lms_time.beginning_of_year %>
                <% hasta = lms_time %>

                <%= form_for Enrollment.new, url: training_reports_for_admin_reporte_por_programa_path, html: {class: 'form-horizontal', method: :post} do |f| %>


                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group">
                        <input type="text" name="desdehasta_por_programa" id="desdehasta_por_programa" class="form-control uneditable-input" readonly  value="<%= desde.strftime('%d/%m/%Y')%> - <%=hasta.strftime('%d/%m/%Y')%>">
                                  <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                  </span>
                      </div>

                      <script type="text/javascript">

                        $('#desdehasta_por_programa').daterangepicker({

                          format: 'DD/MM/YYYY',
                          startDate: '<%=desde.strftime('%d/%m/%Y')%>',
                          endDate: '<%=hasta.strftime('%d/%m/%Y')%>',
                          locale: {
                            applyLabel: 'Aplicar',
                            fromLabel: 'Desde',
                            toLabel: 'Hasta',
                            customRangeLabel: 'Custom Range',
                            daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi','Sa'],
                            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                            firstDay: 1
                          }

                        });

                      </script>
                    </div>
                    <div class="col-md-4">
                      <%
                         tipo_fecha_array = {'Todas las fechas' => 1,
                                             'Convocatoria' => 2, 'Convocatoria - Inicio' => 3, 'Convocatoria - Fin' => 4,
                                             'Inicio y fin reales' => 5, 'Inicio real' => 6, 'Fin real' => 7}
                      %>
                      <!--
                        <%= select_tag(:tipo_fecha, options_for_select(tipo_fecha_array), class: 'form-control') %>
                      -->
                    </div>
                  </div>
                  <br>
                  <table class="table table-bordered table-compresed table-hover">
                  <% programs.each_with_index do |program, index| %>
                    <thead>
                      <tr>
                        <th>
                          <label class="radio">
                            <input type="radio" name="program_id" value="<%= program.id %>" <%= 'checked' if index == 0 %> >
                          </label>
                        </th>
                        <th colspan="3"><%= program.nombre%></th>
                      </tr>
                      </thead>
                    <tbody>

                    <% program.levels.each do |level| %>

                      <% level.courses.where('dncp_id IS NULL').each do |course| %>

                        <% program_course = program.program_courses.where('level_id = ? AND course_id = ? ', level.id, course.id).first %>

                        <tr>
                          <td>
                            <input type="checkbox" name="pc_<%= program_course.id %>" value="1">
                          </td>
                          <td><%= course.codigo %></td>
                          <td><%= course.nombre %></td>
                          <td>
                            <% if program_course.activo %>
                              <span class="label label-success">Activo</span>
                            <% else %>
                              <span class="label label-default">Inactivo</span>
                            <% end %>
                          </td>
                        </tr>

                      <% end %>

                    <% end %>
                    </tbody>
                  <% end %>
                  </table>

                  <br>
                  <div class="row">
                    <div class="col-md-12 text-right">
                      <%= f.submit 'Generar reporte', class: 'btn btn-primary' %>
                    </div>
                  </div>

                <% end %>

              </div>
            </div>


          </div>

          <div class="tab-pane" id="tab_program_detalle_evals">


            <div class="row">
              <div class="col-md-12">
                <br>

                <% desde = lms_time.beginning_of_year %>
                <% hasta = lms_time %>

                <%= form_for Enrollment.new, url: training_reports_for_admin_detalle_evaluaciones_path, html: {class: 'form-horizontal', method: :post} do |f| %>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group">
                        <input type="text" name="desdehasta" id="desdehasta_de" class="form-control uneditable-input span3" readonly  value="<%= desde.strftime('%d/%m/%Y')%> - <%=hasta.strftime('%d/%m/%Y')%>">
                              <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                              </span>
                      </div>

                      <script type="text/javascript">

                        $('#desdehasta_de').daterangepicker({

                          format: 'DD/MM/YYYY',
                          startDate: '<%=desde.strftime('%d/%m/%Y')%>',
                          endDate: '<%=hasta.strftime('%d/%m/%Y')%>',
                          locale: {
                            applyLabel: 'Aplicar',
                            fromLabel: 'Desde',
                            toLabel: 'Hasta',
                            customRangeLabel: 'Custom Range',
                            daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi','Sa'],
                            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                            firstDay: 1
                          }

                        });

                      </script>
                    </div>
                    <div class="col-md-4">
                      <%
                         tipo_fecha_array = {'Todas las fechas' => 1,
                                             'Convocatoria' => 2, 'Convocatoria - Inicio' => 3, 'Convocatoria - Fin' => 4,
                                             'Inicio y fin reales' => 5, 'Inicio real' => 6, 'Fin real' => 7}
                      %>

                      <%= select_tag(:tipo_fecha, options_for_select(tipo_fecha_array), class: 'form-control') %>

                    </div>
                  </div>
                  <br>
                  <table class="table table-bordered table-compresed table-hover">
                    <% programs.each do |program| %>
                      <thead>
                      <tr>
                        <th colspan="4"><%= program.nombre%></th>
                      </tr>
                      </thead>
                      <tbody>

                      <% program.levels.each do |level| %>

                        <% level.courses.where('dncp_id IS NULL').each do |course| %>

                          <% program_course = program.program_courses.where('level_id = ? AND course_id = ? ', level.id, course.id).first %>

                          <% if program_course.course.evaluations.size > 0 %>
                            <tr>
                              <td>
                                <label class="radio">
                                  <input type="radio" name="program_course_id" value="<%= program_course.id %>">
                                </label>
                              </td>
                              <td><%= course.codigo %></td>
                              <td><%= course.nombre %></td>
                              <td>
                                <% if program_course.activo %>
                                  <span class="label label-success">Activo</span>
                                <% else %>
                                  <span class="label label-default">Inactivo</span>
                                <% end %>
                              </td>
                            </tr>
                          <% end %>

                        <% end %>

                      <% end %>
                      </tbody>

                    <% end %>
                  </table>

                  <br>
                  <div class="row">
                    <div class="col-md-12 text-right">
                      <%= f.submit 'Generar reporte', class: 'btn btn-primary' %>
                    </div>
                  </div>

                <% end %>

              </div>
            </div>

          </div>

          <div class="tab-pane" id="tab_program_enc_satis">

            <div class="row">
              <div class="col-md-12">
                <br>

                <% desde = lms_time.beginning_of_year %>
                <% hasta = lms_time %>

                <%= form_for Enrollment.new, url: training_reports_for_admin_reporte_encuesta_satisfaccion_path, html: {class: 'form-horizontal', method: :post} do |f| %>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group">
                        <input type="text" name="desdehasta" id="desdehasta_reporte_satisf" class="form-control uneditable-input span3" readonly  value="<%= desde.strftime('%d/%m/%Y')%> - <%=hasta.strftime('%d/%m/%Y')%>">
                              <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                              </span>
                      </div>

                      <script type="text/javascript">

                        $('#desdehasta_reporte_satisf').daterangepicker({

                          format: 'DD/MM/YYYY',
                          startDate: '<%=desde.strftime('%d/%m/%Y')%>',
                          endDate: '<%=hasta.strftime('%d/%m/%Y')%>',
                          locale: {
                            applyLabel: 'Aplicar',
                            fromLabel: 'Desde',
                            toLabel: 'Hasta',
                            customRangeLabel: 'Custom Range',
                            daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi','Sa'],
                            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                            firstDay: 1
                          }

                        });

                      </script>
                    </div>
                    <div class="col-md-4">
                      <%
                         tipo_fecha_array = {'Todas las fechas' => 1,
                                             'Convocatoria' => 2, 'Convocatoria - Inicio' => 3, 'Convocatoria - Fin' => 4,
                                             'Inicio y fin reales' => 5, 'Inicio real' => 6, 'Fin real' => 7}
                      %>

                      <%= select_tag(:tipo_fecha, options_for_select(tipo_fecha_array), class: 'form-control') %>

                    </div>
                  </div>
                  <br>
                  <table class="table table-bordered table-compresed table-hover">
                  <% programs.each do |program| %>
                    <thead>
                      <tr>
                        <th colspan="4"><%= program.nombre%></th>
                      </tr>
                    </thead>
                    <tbody>

                    <% program.levels.each do |level| %>

                      <% level.courses.where('dncp_id IS NULL').each do |course| %>

                        <% program_course = program.program_courses.where('level_id = ? AND course_id = ? ', level.id, course.id).first %>

                        <% if program_course.course.polls.where('tipo_satisfaccion = ?', true).size >0 %>
                          <tr>
                            <td>
                              <label class="radio">
                                <input type="radio" name="program_course_id" value="<%= program_course.id %>">
                              </label>
                            </td>
                            <td><%= course.codigo %></td>
                            <td><%= course.nombre %></td>
                            <td>
                              <% if program_course.activo %>
                                <span class="label label-success">Activo</span>
                              <% else %>
                                <span class="label label-default">Inactivo</span>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>

                      <% end %>

                    <% end %>
                    </tbody>

                  <% end %>
                  </table>

                  <br>
                  <div class="row">
                    <div class="col-md-12 text-right">
                      <%= f.submit 'Generar reporte', class: 'btn btn-primary' %>
                    </div>
                  </div>

                <% end %>

              </div>
            </div>


          </div>

        </div>

      </div>
    </div>

  </div>
</div>