<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process, 'members'), class: 'btn btn-default', tabindex: '-1' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Gestionar evaluados
    </h1>
  </div>

</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% if @pe_process.of_persons? %>

      <%= render partial: 'shared/user_profile_mini',
                 locals: {
                     user: @pe_member.user,
                     company: @company,
                     ocultar_historial: true,
                     titulo: 'Perfil del Evaluado',
                     is_boss: false

                 }
      %>

    <% else %>

      <div class="panel panel-default">
        <div class="panel-body">



          <div class="row">
            <div class="col-md-12">
              <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-cubes"></i>
                Área evaluada
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member.pe_area.name %></span></h3>
            </div>
          </div>

          <br>

          <div class="row">

            <div class="col-md-3 text-center">

              <% if @pe_member.user.foto %>
                <img src="https://<%=request.host%>/storage/<%=company_codigo%>/fotos_usuarios/<%=@pe_member.user.foto%>" class="img-thumbnail user-foto">
              <% else %>
                <img src="/assets/default_user.png" class="img-thumbnail user-foto">

              <% end %>

            </div>
            <div class="col-md-9">

              <div class="row">
                <div class="col-md-12">
                  <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member.user.nombre %> <%= @pe_member.user.apellidos %></span></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 ">
                  <a><em><%= @pe_member.user.email %></em></a>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

    <% end %>

  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% if @pe_member.has_been_assessed_in_evaluation @pe_evaluation %>

      <div class="alert alert-danger">El participante ya fue evaluado en esta evaluación, si cambia de grupo las evaluaciones realizadas serán eliminadas.</div>

      <div class="panel panel-default">
        <div class="panel-body">

          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th>Evaluador</th>
                <th>Relación</th>
                <th>Evaluación iniciada</th>
              </tr>
            </thead>

            <tbody>
              <% @pe_member.pe_member_rels_is_evaluated_ordered.each do |pe_member_rel| %>

                <% if @pe_evaluation.has_pe_evaluation_rel pe_member_rel.pe_rel %>

                  <tr>

                    <td><%= pe_member_rel.pe_member_evaluator.user.apellidos %>, <%= pe_member_rel.pe_member_evaluator.user.nombre %></td>
                    <td><%= pe_member_rel.pe_rel.alias %></td>

                    <% if pe_member_rel.pe_assessment_evaluation @pe_evaluation %>


                      <td><span class="label label-success">Sí</span></td>

                    <% else %>

                      <td><span class="label label-danger">No</span></td>

                    <% end %>

                  </tr>

                <% end %>

              <% end %>

            </tbody>

          </table>

        </div>
      </div>

    <% end %>

    <%= form_for @pe_member_group, url: pe_members_update_evaluation_group_path(@pe_member, @pe_evaluation), method: :post do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Cambiar grupo de evaluacion: <%= @pe_evaluation.name %></legend>

          <div class="form-group <%= field_with_errors f, :pe_group_id %>">

            <%= f.label :pe_group_id, 'Grupo', class: 'col-md-3 control-label' %>

            <% array_groups = @pe_evaluation.pe_groups.map { |pe_group| [pe_group.name, pe_group.id] }%>
            <div class="col-md-9">
              <%= f.select(:pe_group_id, options_for_select(array_groups, @pe_member_group.pe_group ? @pe_member_group.pe_group.id : nil ), {}, {class: 'form-control'}) %>
            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>
