
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process, 'feedback'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Carga masiva de responsables de proveer retroalimentación </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/show' %>

      </div>
    </div>
  </div>
</div>


<% if @lineas_error && @lineas_error.length > 0 %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default">
        <div class="panel-body">

          <table class="table table-striped table-hover table-condensed table-bordered">

            <thead>
            <tr>
              <th>Línea</th>
              <th>Errores</th>
              <th>Detalle</th>

            </tr>
            </thead>

            <tbody>

            <% @lineas_error.each_with_index do |l,index| %>

              <tr>
                <td><%= l %></td>
                <td>
                  <% @lineas_error_messages[index].each do |error| %>
                    <li class="text-danger"><%= error %></li>
                  <% end %>
                </td>
                <td><%= @lineas_error_detalle[index] %></td>
              </tr>

            <% end %>

            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>

<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Formato de archivo de carga</legend>

        <strong>Formato:</strong>

        <%= alias_username %>;<%= alias_username %>

        <br><br>

        <strong>Ejemplo:</strong>

        <br><br>

        43376592;65473434<br>
        84736232;<br>
        00384936;jorge

        <br><br>

        - El primer <%= alias_username %> indica quién es el participante evaluado<br><br>

        - El segundo <%= alias_username %> indica quién es el responsable de proveer retroalimentación al participante evaluado. Por ejemplo, jorge es responsable de proveer retroalimentación a 00384936<br><br>

        - El segundo <%= alias_username %> no es obligatorio, esto significa que el participante evaluado no tiene responsable de retroalimentación. Sin embargo en este caso el evaluado siempre debe existir

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_for PeMember.new, url: pe_members_feedback_massive_charge_path(@pe_process), html: {class: 'form-horizontal', multipart: true, method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Cargar responsables de proveer retroalimentación</legend>


          <div class="form-group">

            <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= file_field 'upload', 'datafile', class: 'form-control' %>

              <br>
              Se debe adjuntar un archivo de texto en codificación UTF-8


            </div>

          </div>

          <div class="form-group">

            <%= f.label :reemplazar_todo, 'Reemplazar responsables de proveer retroalimentación', class: 'col-md-3 control-label'%>

            <div class="col-md-9">


              <%= check_box 'reemplazar_todo', 'yes', options = {}, '1', '0' %>
              <script>
                $('#reemplazar_todo_yes').bootstrapSwitch({
                  onColor: 'danger',
                  onText: "<nobr>&nbsp;&nbsp;<i class='fa fa-eraser'></i> Sí &nbsp;&nbsp;</nobr>",
                  offColor: 'info',
                  offText: "<nobr>&nbsp;&nbsp;<i class='fa fa-refresh'></i> No &nbsp;&nbsp;</nobr>"
                });
              </script>


              <br><br>
              <i class='fa fa-eraser'></i> Sí. Si selecciona esta opción, el sistema primero <strong>eliminará</strong> a todos
              responsables de proveer retroalimentación, y luego asignará a los responsables especificados en el archivo adjunto.
              <br>
              <em>Esta opción se debe usar cuando el archivo contiene la totalidad de los participantes y sus reponsables de retroalimentación.</em>

              <br><br>
              <i class='fa fa-refresh'></i> No. Si selecciona esta opción. El sistema <strong>no eliminará</strong> a los responsables de proveer
              retroalimentación actuales.
              Partiendo del archivo adjunto, se actualizarán los responsables existentes en el archivo.
              <br>
              <em>Esta opción se debe usar para actualizar los responsables de proveer retroalimentación o agregar nuevos responsables: uno, algunos o todos.</em>

              <hr>

              En ambos casos el <strong>segundo <%= alias_username %></strong> no es obligatorio. Si en el archivo, un participante evaluado
              no tiene definido un responsables de proveer retroalimentación, este se dejará sin responsable. Incluso si el participante evaluado
              ya ha recibido feedback, se eliminará al responsable.

            </div>

          </div>

        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Subir', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>