
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process, 'members'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Finalizar evaluaciones finales masivamente </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/show' %>

      </div>
    </div>
  </div>
</div>


<% if @lineas_error && @lineas_error.length > 0 %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default">
        <div class="panel-body">

          <table class="table table-striped table-hover table-condensed table-bordered">

            <thead>
            <tr>
              <th>Línea</th>
              <th>Errores</th>
              <th>Detalle</th>

            </tr>
            </thead>

            <tbody>

            <% @lineas_error.each_with_index do |l,index| %>

              <tr>
                <td><%= l %></td>
                <td>
                  <% @lineas_error_messages[index].each do |error| %>
                    <li class="text-danger"><%= error %></li>
                  <% end %>
                </td>
                <td><%= @lineas_error_detalle[index] %></td>
              </tr>

            <% end %>

            </tbody>

          </table>

        </div>
      </div>
    </div>
  </div>

<% end %>


<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Formato de archivo de carga</legend>

        <strong>Formato:</strong>

        <table class="table table-bordered table-condensed">

          <thead>
          <tr>
            <th><%= alias_username %></th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td></td>
          </tr>
          </tbody>

        </table>

        <strong>Ejemplo:</strong>

        <table class="table table-bordered table-condensed">

          <thead>
          <tr>
            <th><%= alias_username %></th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>43376592</td>
          </tr>
          <tr>
            <td>84736232</td>
          </tr>
          <tr>
            <td>00384936</td>
          </tr>
          </tbody>

        </table>


      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for PeMember.new, url: pe_members_massive_finish_assessment_rel_path(@pe_process), html: {class: 'form-horizontal', multipart: true, method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Finalizar evaluaciones por relación masivamente</legend>


          <div class="form-group">

            <%= f.label :rel, 'Relación', class: 'col-md-3 control-label'%>

            <div class="col-md-9">


              <% pe_rels = @pe_process.pe_rels.where('pe_rels.id not in(?)', @pe_process.pe_evaluations.joins(:pe_evaluation_rels).where('pe_evaluation_rels.weight > 0').pluck(:pe_rel_id)) %>

              <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

                <% pe_evaluation.pe_evaluation_rels.each do |pe_evaluation_rel| %>

                  <% if pe_evaluation_rel.weight > 0 %>

                    <% #pe_rels.delete(pe_evaluation_rel.pe_rel) %>

                  <% end %>

                <% end %>

              <% end %>

              <% pe_rels_array = pe_rels.map { |pe_rel| [pe_rel.alias, pe_rel.id] } %>

              <%= select('pe_rel', 'id', options_for_select(pe_rels_array),{:include_blank => '-- Seleccione relación --'}, {class: 'form-control'}) %>

              <br>
              - Sólo se muestran aquellas relaciones cuyas evaluaciones siempre tienen peso 0, si se finalizan por lo tanto no influyen en el resultado final
              <br><br>
              - Si el evaluado no tiene evaluaciones pendientes de otro tipo de relación, además se finalizará la evaluación total de éste


            </div>

          </div>

          <div class="form-group">

            <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= file_field 'upload', 'datafile', class: 'form-control' %>

              <br>
              - Si se adjunta archivo, se finalizarán sólo las evaluaciones (en la relación seleccionada) de los usuarios indicados en el excel.
              <br>
              <br>
              - Si no se adjunta el archivo se finalizarán las de todos los usuarios.
              <br>
              <br>
              -Se debe adjuntar un archivo Excel xlsx


            </div>

          </div>

        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Finalizar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>