
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process, 'members'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Eliminación masiva de participantes </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/show' %>

      </div>
    </div>
  </div>
</div>


<% if @lineas_error && @lineas_error.length > 0 %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default">
        <div class="panel-body">

          <table class="table table-striped table-hover table-condensed table-bordered">

            <thead>
            <tr>
              <th>Línea</th>
              <th>Errores</th>
              <th>Detalle</th>

            </tr>
            </thead>

            <tbody>

            <% @lineas_error.each_with_index do |l,index| %>

              <tr>
                <td><%= l %></td>
                <td>
                  <% @lineas_error_messages[index].each do |error| %>
                    <li class="text-danger"><%= error %></li>
                  <% end %>
                </td>
                <td><%= @lineas_error_detalle[index] %></td>
              </tr>

            <% end %>

            </tbody>

          </table>

        </div>
      </div>
    </div>
  </div>

<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Formato de archivo de carga</legend>

        <strong>Formato:</strong>

        <table class="table table-bordered table-condensed">

          <thead>
            <tr>
              <th><%= alias_username %></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>

        </table>

        <strong>Ejemplo:</strong>

        <table class="table table-bordered table-condensed">

          <thead>
          <tr>
            <th><%= alias_username %></th>
          </tr>
          </thead>

          <tbody>
            <tr>
              <td>43376592</td>
            </tr>
            <tr>
              <td>84736232</td>
            </tr>
            <tr>
              <td>00384936</td>
            </tr>
          </tbody>

        </table>


      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_for PeMember.new, url: pe_members_massive_destroy_evaluated_path(@pe_process), html: {class: 'form-horizontal', multipart: true, method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Elminar participantes evaluados</legend>

          <div class="alert alert-danger">
            Usted está en la opción para <strong>ELIMINAR</strong> masivamente evaluados
          </div>

          <div class="form-group">

            <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= file_field 'upload', 'datafile', class: 'form-control' %>

              <br>
              Se debe adjuntar un archivo Excel xlsx


            </div>

          </div>

        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Subir', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>