<p id="notice"><%= notice %></p>

<p>
  <b>Pe process:</b>
  <%= @pe_member.pe_process %>
</p>

<p>
  <b>User:</b>
  <%= @pe_member.user %>
</p>

<p>
  <b>Is assessed:</b>
  <%= @pe_member.is_assessed %>
</p>

<p>
  <b>Step assessment:</b>
  <%= @pe_member.step_assessment %>
</p>

<p>
  <b>Step assessment date:</b>
  <%= @pe_member.step_assessment_date %>
</p>

<p>
  <b>Step calibration:</b>
  <%= @pe_member.step_calibration %>
</p>

<p>
  <b>Step calibration date:</b>
  <%= @pe_member.step_calibration_date %>
</p>

<p>
  <b>Step feedback:</b>
  <%= @pe_member.step_feedback %>
</p>

<p>
  <b>Step feedback date:</b>
  <%= @pe_member.step_feedback_date %>
</p>

<p>
  <b>Step feedback accepted:</b>
  <%= @pe_member.step_feedback_accepted %>
</p>

<p>
  <b>Step feedback accepted date:</b>
  <%= @pe_member.step_feedback_accepted_date %>
</p>

<p>
  <b>Step feedback text:</b>
  <%= @pe_member.step_feedback_text %>
</p>


<%= link_to 'Edit', edit_pe_member_path(@pe_member) %> |
<%= link_to 'Back', pe_members_path %>
