
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process, 'validation'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Carga masiva de responsables de validar definición manual</span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/show' %>

      </div>
    </div>
  </div>
</div>


<% if @lineas_error && @lineas_error.length > 0 %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default">
        <div class="panel-body">

          <table class="table table-striped table-hover table-condensed table-bordered">

            <thead>
            <tr>
              <th>Línea</th>
              <th>Errores</th>
              <th>Detalle</th>

            </tr>
            </thead>

            <tbody>

            <% @lineas_error.each_with_index do |l,index| %>

              <tr>
                <td><%= l %></td>
                <td>
                  <% @lineas_error_messages[index].each do |error| %>
                    <li class="text-danger"><%= error %></li>
                  <% end %>
                </td>
                <td><%= @lineas_error_detalle[index] %></td>
              </tr>

            <% end %>

            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>

<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Formato de archivo de carga</legend>

        <strong>Formato:</strong>

        <%= alias_username %>;<%= alias_username %>

        <br><br>

        <strong>Ejemplo:</strong>

        <br><br>

        43376592;65473434<br>
        84736232;jorge<br>
        00384936;6472637<br>
        jorge;alejandro<br>
        00384936;

        <br><br>

        - El primer <%= alias_username %> indica quién es el participante evaluado<br>

        - El segundo <%= alias_username %> indica quién es el participante validador, por ejemplo jorge es el validador de la definición realizada a 84736232<br>

        - Si deja en blanco el segundo <%= alias_username %>, se eliminará el validador
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_for @pe_definition_by_user_validator, url: pe_members_validation_def_by_u_massive_charge_path(@pe_evaluation.id, @pe_definition_by_user_validator.step_number, @pe_definition_by_user_validator.before_accept ? 1 : 0), html: {class: 'form-horizontal', multipart: true, method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Cargar responsables de validar</legend>

          <div class="row">
            <div class="col-md-3 text-right">
              Evaluación
            </div>
            <div class="col-md-9">
              <%= @pe_evaluation.name %>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-3 text-right">
              Número de paso
            </div>
            <div class="col-md-9">
              <%= @pe_definition_by_user_validator.step_number %>.

              <% if @pe_definition_by_user_validator.before_accept %>
                Antes de la confirmación
              <% else %>
                Después de la confirmación
              <% end %>

            </div>
          </div>
          <br>

          <div class="form-group">

            <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= file_field 'upload', 'datafile', class: 'form-control' %>

              <br>
              Se debe adjuntar un archivo de texto en codificación UTF-8


            </div>

          </div>

          <div class="form-group">

            <%= f.label :reemplazar_todo, 'Reemplazar validadores', class: 'col-md-3 control-label'%>

            <div class="col-md-9">


              <%= check_box 'reemplazar_todo', 'yes', options = {}, '1', '0' %>
              <script>
                $('#reemplazar_todo_yes').bootstrapSwitch({
                  onColor: 'danger',
                  onText: "<nobr>&nbsp;&nbsp;<i class='fa fa-eraser'></i> Sí &nbsp;&nbsp;</nobr>",
                  offColor: 'info',
                  offText: "<nobr>&nbsp;&nbsp;<i class='fa fa-refresh'></i> No &nbsp;&nbsp;</nobr>"
                });
              </script>


              <br><br>
              <i class='fa fa-eraser'></i> Sí. Si selecciona esta opción, el sistema primero <strong>eliminará</strong> a todos
              los validadores, y luego asignará a los validadores especificados en el archivo adjunto.
              <br>
              <em>Esta opción se debe usar cuando el archivo contiene la totalidad de los participantes y sus validadores.</em>

              <br><br>
              <i class='fa fa-refresh'></i> No. Si selecciona esta opción. El sistema <strong>no eliminará</strong> a los validadores actuales.
              Partiendo del archivo adjunto, se actualizarán los validadores existentes en el archivo.
              <br>
              <em>Esta opción se debe usar para actualizar los validadores o agregar nuevos: uno, algunos o todos.</em>

            </div>

          </div>

        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Subir', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>