<div class="row">

  <div class="col-md-3">
    <% if @pe_cal_session.pe_evaluation %>
      <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de procesos'.html_safe, pe_cal_sessions_list_e_path(@pe_cal_session.pe_evaluation), class:'btn btn-default' %>
    <% else %>
      <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de procesos'.html_safe, pe_cal_sessions_list_path(@pe_process), class:'btn btn-default' %>
    <% end %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Definir participantes de la sesión de calibración
    </h1>
  </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos de la sesión de calibración
        </legend>


        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_cal_session.description %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Fecha inicio</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @pe_cal_session.from_date, format: :day_snmonth_syear) %>

            <% if lms_time > @pe_cal_session.from_date %>
              <span class="label label-danger">Hace
                <%= distance_of_time_in_words(@pe_cal_session.from_date, lms_time) %>
              </span>
            <% else %>
              <span class="label label-primary">En
                <%= distance_of_time_in_words(lms_time, @pe_cal_session.from_date) %>
              </span>
            <% end %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Fecha fin</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @pe_cal_session.to_date, format: :day_snmonth_syear) %>

            <% if lms_time > @pe_cal_session.to_date %>

          <span class="label label-danger">Hace
            <%= distance_of_time_in_words(@pe_cal_session.to_date, lms_time) %>
          </span>

            <% else %>
          <span class="label label-primary">En
            <%= distance_of_time_in_words(lms_time, @pe_cal_session.to_date) %>
          </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Participantes de la sesión de calibración
        </legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <% @pe_process.pe_characteristics_gui_cal_member.each do |pe_characteristic| %>

              <th>
                <%= pe_characteristic.characteristic.nombre %>
              </th>

            <% end %>
            <th>Evaluación</th>
            <th>Calibración</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <% @pe_cal_members.each_with_index do |pe_cal_member, index| %>

            <tr>
              <td><%= index+1 %></td>
              <td><%= pe_cal_member.pe_member.user.codigo %></td>
              <td><%= pe_cal_member.pe_member.user.apellidos %></td>
              <td><%= pe_cal_member.pe_member.user.nombre %></td>
              <% @pe_process.pe_characteristics_gui_cal_member.each do |pe_characteristic| %>
                <td>
                  <% pe_mc = pe_cal_member.pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
                  <%= pe_mc.value if pe_mc %>
                </td>
              <% end %>

              <td>
                <% if pe_cal_member.pe_member.step_assessment? %>

                  <span class="label label-success">Finalizada</span>

                <% else %>

                  <span class="label label-danger">No finalizada</span>

                <% end %>
              </td>
              <td>
                <% if pe_cal_member.pe_member.step_calibration %>

                  <span class="label label-success">Realizada</span>

                <% else %>

                  <span class="label label-danger">No terminada</span>

                <% end %>
              </td>
              <td>
                <%= link_to 'Eliminar', pe_cal_member, method: :delete, data: { confirm: '¿Está seguro de eliminar el participante '+pe_cal_member.pe_member.user.apellidos+', '+pe_cal_member.pe_member.user.nombre+' de la sesión de calibración?' } %>
                <% if pe_cal_member.pe_member.step_calibration %>
                  <br>
                  <em>El participante ya ha sido calibrado. Si lo elimina de la sesión de calibración, la calibración realizada será eliminada también.</em>
                <% end %>
              </td>
            </tr>

          <% end %>

          </tbody>

        </table>

      </div>
    </div>

  </div>

</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Buscar para añadir participantes a la sesión de calibración
        </legend>

        <%= form_for @user_search, url: pe_cal_members_list_path(@pe_cal_session), method: :post do |f| %>
          <div class="row">

            <div class="col-md-5">
              <label>&nbsp;Apellidos</label>
            </div>

            <div class="col-md-5">
              <label>&nbsp;Nombre</label>
            </div>

            <div class="col-md-2">

            </div>

          </div>
          <div class="row">

            <div class="col-md-5">
              <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>
            </div>

            <div class="col-md-5">
              <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>
            </div>

            <div class="col-md-2">
              <%= f.submit 'Buscar', class: 'btn btn-primary' %>
            </div>

          </div>

          <% pe_rel_jefe = @pe_process.pe_rel(:jefe) %>

          <% if pe_rel_jefe %>

            <hr>

            <div class="row">
              <div class="col-md-5">

                Evaluados por <%= pe_rel_jefe.alias.downcase %>
                <br>
                <% pe_members_evaluators_array = @pe_process.evaluator_members_as_ordered(pe_rel_jefe).map{|pme| [pme.user.apellidos+', '+pme.user.nombre, pme.id]} %>

                <% if params[:pe_member_evaluator_jefe] && params[:pe_member_evaluator_jefe][:id] %>
                  <% pe_member_evaluator_jefe_id = params[:pe_member_evaluator_jefe][:id] %>
                <% end %>

                <%= select('pe_member_evaluator_jefe', 'id', options_for_select(pe_members_evaluators_array, pe_member_evaluator_jefe_id),
                           {:include_blank => '--Sin Filtro--'}, {id: 'pe_member_evaluator_jefe_id', class: 'form-control'})
                %>

                <script>
                  $(document).ready(function() {
                    $("#pe_member_evaluator_jefe_id").select2();
                  });

                </script>

              </div>
              <div class="col-md-7">
                <br>
                <em>
                  Si selecciona un <%= pe_rel_jefe.alias.downcase %>, no es necesario que especifique apellidos o nombre a buscar.
                  En ese caso se listarán todos los evaluados por dicho <%= pe_rel_jefe.alias.downcase %>.
                </em>
              </div>
            </div>

          <% end %>

          <% if @pe_process.pe_characteristics_gui_cal_member.size > 0 %>

            <hr>

            <div class="panel-group" id="accordion">

              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Ver más filtros
              </a>

              <div id="collapseOne" class="panel-collapse collapse <%= 'in' if @characteristics_prev.size > 0 %>">
                <div class="panel-body">

                  <div class="row">

                    <% ids_array = Array.new %>

                    <% ids_array = @pe_process.evaluated_members.pluck(:id) %>

                    <% @pe_process.pe_characteristics_gui_cal_member.each do |pe_characteristic| %>


                      <div class="col-md-3">

                        <%= pe_characteristic.characteristic.nombre %>
                        <br>
                        <% valores = PeMemberCharacteristic.where('characteristic_id = ? AND value <> "" AND pe_member_id IN (?)',pe_characteristic.characteristic.id, ids_array).order('value').uniq.pluck(:value) %>

                        <%= select('characteristic', pe_characteristic.characteristic.id, options_for_select(valores,@characteristics_prev[pe_characteristic.characteristic.id]),
                                   {:include_blank => '--Sin Filtro--'}, {class: 'form-control'})
                        %>

                      </div>

                    <% end %>



                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <br>
                      <em>
                        Si selecciona alguno de los filtros, no es necesario que especifique apellidos o nombre a buscar.
                        En ese caso se listarán todos los evaluados que cumplan con el o los filtros seleccionados.
                      </em>
                    </div>
                  </div>

                </div>
              </div>

            </div>

          <% end %>

        <% end %>

      </div>

    </div>

    <% unless @pe_members_search.size == 0 %>

      <%= form_for PeCalMember.new, url: pe_cal_members_create_path(@pe_cal_session), method: :post do |f| %>

        <div class="panel panel-default">
          <div class="panel-body">
            <legend>
              Añadir participantes a la sesión de calibración
            </legend>

            <script type="text/javascript">
              function check_all_checks(){

                var check_all = false;

                if($('#master_check').is(':checked')){
                  check_all = true;
                }

                $('.list_item').each(function(){
                  $(this).prop('checked', check_all);
                });

              }

              function check_master_check(){

                var checked_all = true;

                $('.list_item').each(function(){
                  if(!$(this).is(':checked')){
                    checked_all = false;
                  }
                });

                if(checked_all){
                  $('#master_check').prop('checked', true);
                }else{
                  $('#master_check').prop('checked', false);
                }

              }

            </script>

            <table class="table table-striped table-hover table-bordered">

              <thead>

              <tr>
                <th><input id="master_check" type="checkbox" onchange="check_all_checks();"> </th>
                <th>#</th>
                <th><%= alias_username %></th>
                <th>Apellidos</th>
                <th>Nombre</th>
                <% @pe_process.pe_characteristics_gui_cal_member.each do |pe_characteristic| %>

                  <th>
                    <%= pe_characteristic.characteristic.nombre %>
                  </th>

                <% end %>
                <th></th>
              </tr>
              </thead>

              <tbody>

              <% res_num = 0 %>
              <% available_items = false %>

              <% @pe_members_search.each do |pe_member| %>

                  <% if !pe_member.pe_cal_member || (pe_member.pe_cal_member && pe_member.pe_cal_member.pe_cal_session.id != @pe_cal_session.id) %>

                    <tr>
                      <td>
                        <% unless pe_member.pe_cal_member %>
                          <%= check_box('list_item', pe_member.id, {class: 'list_item', onchange: 'check_master_check()'}, pe_member.id.to_s, '0')%>
                          <% available_items = true %>
                        <% end %>
                      </td>
                      <td><%= res_num += 1 %></td>
                      <td><%= pe_member.user.codigo %></td>
                      <td><%= pe_member.user.apellidos %></td>
                      <td><%= pe_member.user.nombre %></td>
                      <% @pe_process.pe_characteristics_gui_cal_member.each do |pe_characteristic| %>
                        <td>
                          <% pe_mc = pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
                          <%= pe_mc.value if pe_mc %>
                        </td>
                      <% end %>
                      <td>

                        <% if pe_member.pe_cal_member %>

                          <%= link_to 'Asignado a: '+pe_member.pe_cal_member.pe_cal_session.description, pe_cal_members_list_path(pe_member.pe_cal_member.pe_cal_session) %>

                        <% end %>

                      </td>
                    </tr>

                  <% end %>

              <% end %>

              </tbody>

            </table>

          </div>

          <% if available_items %>

            <div class="panel-footer clearfix">
              <div class="pull-right">
                <%= f.submit 'Añadir a la sesión de calibración', class: 'btn btn-primary' %>
              </div>
            </div>

          <% end %>

        </div>

      <% end %>

    <% end %>

  </div>
</div>