<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a gestionar privilegios de consulta de reportes'.html_safe, user_managing_reports_privileges_search_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-mobile" aria-hidden="true"></i>
      <%= alias_users %>
      <span>> Editar privilegios de consulta de reportes</span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'shared/user_profile_mini',
               locals: { user: @user,
                         company: @company,
                         ocultar_historial: true,
                         titulo: alias_user } %>


    <%= form_for @user_ct_module_privileges, url: user_managing_reports_privileges_update_path(@user) ,html: {class: 'form-horizontal', method: :post, role: 'form'} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Editar privilegios de consulta de reportes</legend>

          <div class="form-group">

            <%= f.label :um_query_reports, 'Consultar reportes', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :um_query_reports, onchange: 'toggle_um_query_reports();' %>

              <script>

                  $('#user_ct_module_privileges_um_query_reports').bootstrapSwitch({
                      onColor: 'success',
                      onText: "Sí",
                      offColor: 'danger',
                      offText: "No",
                      size: "small"
                  });

              </script>

              <script>
                  function toggle_um_query_reports(){

                      if($('#user_ct_module_privileges_um_query_reports').is(":checked")){
                          $('#container_um_query_reports').show();
                      }else{
                          $('#container_um_query_reports').hide();
                      }

                  }

                  $(document).ready(function() {
                      toggle_um_query_reports();
                  });
              </script>

            </div>

          </div>

          <div id="container_um_query_reports">

            <hr>

            <% UmCustomReport.all.each do |um_custom_report| %>

              <% user_ct_module_privileges_um_custom_report = @user_ct_module_privileges.user_ct_module_privileges_um_custom_report um_custom_report %>

              <div class="form-group">

                <%= f.label :report, um_custom_report.name, class: 'col-md-3 control-label' %>

                <div class="col-md-9">
                  <input type="hidden" name="um_custom_report_<%= um_custom_report.id%>" value="0">
                  <input type="checkbox" name="um_custom_report_<%= um_custom_report.id%>" id="um_custom_report_<%= um_custom_report.id%>" value="1" <%= 'checked="checked"'.html_safe if user_ct_module_privileges_um_custom_report %> >
                  <script>

                      $('#um_custom_report_<%= um_custom_report.id%>').bootstrapSwitch({
                          onColor: 'success',
                          onText: "Sí",
                          offColor: 'danger',
                          offText: "No",
                          size: "small"
                      });

                  </script>

                </div>

              </div>

            <% end %>


          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>