<p id="notice"><%= notice %></p>

<p>
  <b>Pe process:</b>
  <%= @pe_feedback_accepted_field.pe_process %>
</p>

<p>
  <b>Position:</b>
  <%= @pe_feedback_accepted_field.position %>
</p>

<p>
  <b>Name:</b>
  <%= @pe_feedback_accepted_field.name %>
</p>

<p>
  <b>Simple:</b>
  <%= @pe_feedback_accepted_field.simple %>
</p>

<p>
  <b>Field type:</b>
  <%= @pe_feedback_accepted_field.field_type %>
</p>

<p>
  <b>Required:</b>
  <%= @pe_feedback_accepted_field.required %>
</p>


<%= link_to 'Edit', edit_pe_feedback_accepted_field_path(@pe_feedback_accepted_field) %> |
<%= link_to 'Back', pe_feedback_accepted_fields_path %>
