<div id="chars_filters_container">
  <legend>Seleccionar características</legend>

  <div class="row">


    <% @characteristics.each do |characteristic| %>


        <div class="col-md-6">

          <strong><%= characteristic.nombre %></strong>
          <br>
          <% valores = UserCharacteristic.select(:valor).uniq.where('characteristic_id = ? AND valor <> "" ', characteristic.id).order('valor').map(&:valor) %>

          <%= select('characteristic', characteristic.id, options_for_select(valores, @characteristics_prev[characteristic.id]),
                     {}, {multiple: true, size: 3, class: 'form-control', placeholder: characteristic.nombre})
          %>

          <script>

            $("#characteristic_<%= characteristic.id %>").select2();

          </script>

        </div>

    <% end %>

  </div>
  <div class="row">
    <div class="col-md-12">
      <br><em>Puede seleccionar más de un elemento en cualquiera de los filtros</em>
    </div>
  </div>

</div>