
<%= form_for @characteristic, html: {class: 'form-horizontal', role: 'form', multipart: true} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos de la característica</legend>

      <%= render 'shared/error_messages', object: f.object %>


      <div class="form-group">

        <%= f.label :characteristic_value_id, 'Sólo se activa si se selecciona', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <% characteristic_value_array = Array.new %>

          <% Characteristic.all.each do |c| %>

            <% c.characteristic_values.each do |cv| %>
              <% characteristic_value_array.push([c.nombre+' - '+cv.value_string, cv.id]) %>
            <% end %>

          <% end %>

          <%= f.select(:characteristic_value_id, options_for_select(characteristic_value_array, @characteristic.characteristic_value_id), {include_blank: '-- No depende de nada --'}, class: 'form-control') %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :char_value_selected, 'Valor igual', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :char_value_selected %>

          <script>

            $('#characteristic_char_value_selected').bootstrapSwitch({
              onColor: 'success',
              onText: "Sí",
              offColor: 'danger',
              offText: "No",
              size: "small"
            });

          </script>

        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :characteristic_type_id, 'Tipo de característica', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <% characteristic_type_array = CharacteristicType.all.map { |ct| [ct.name, ct.id] } %>

          <%= f.select(:characteristic_type_id, options_for_select(characteristic_type_array, @characteristic.characteristic_type_id), {include_blank: '-- No pertenece a ningún tipo --'}, class: 'form-control') %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :position, 'Orden', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :position, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :nombre %>">

        <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :nombre, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :data_type_id, 'Tipo de dato', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <% data_type_array = Characteristic.data_types.each_with_index.map{ |dt, index| [dt, index] } %>

          <%= f.select(:data_type_id, options_for_select(data_type_array, @characteristic.data_type_id), {}, class: 'form-control', onchange: 'toggle_characteristic_values()') %>

          <script>
            function toggle_characteristic_values(){

              if($('#characteristic_data_type_id').val() == 5 || $('#characteristic_data_type_id').val() == 14){
                $('#characteristic_values_container').show();
              }else{
                $('#characteristic_values_container').hide();
              }

              if($('#characteristic_data_type_id').val() == 10){
                $('#boss_characteristic_container').show();
              }else{
                $('#boss_characteristic_container').hide();
              }

              if($('#characteristic_data_type_id').val() == 11){
                $('#register_characteristic_container').show();
              }else{
                $('#register_characteristic_container').hide();
              }

            }

            $(document).ready(function() {
              toggle_characteristic_values();
            });
          </script>

        </div>

      </div>

      <div  id="characteristic_values_container">

        <div class="form-group">

          <%= f.label :characteristic_values, 'Valores', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <input type="file" name="characteristic_values" class="form-control" >
            <em>
              Archivo .xlsx
              <br>
              <br>

              <div class="alert alert-danger">Ha cambiado el formato!!!</div>

              <table class="table table-bordered table-condensed">
                <thead>
                  <tr>
                    <th>Posición</th>
                    <th>Valor</th>
                    <th>Valor auxiliar</th>
                    <th>Característica padre</th>
                    <th>Valor característica padre</th>
                    <th>Inactivo/Activo (0/1)</th>
                  </tr>
                </thead>
              </table>



            </em>


          </div>

        </div>

        <div class="form-group">

          <%= f.label :has_children, 'Tiene hijos', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :has_children %>

            <script>

              $('#characteristic_has_children').bootstrapSwitch({
                onColor: 'success',
                onText: "Sí",
                offColor: 'danger',
                offText: "No",
                size: "small"
              });

            </script>

          </div>

        </div>

      </div>

      <div class="form-group" id="boss_characteristic_container">

        <%= f.label :boss_characteristic_id, 'Característica del jefe', class: 'col-md-3 control-label' %>

        <% characteristic_values_array = Characteristic.all.map {|characteristic_tmp| [characteristic_tmp.nombre, characteristic_tmp.id]} %>

        <div class="col-md-9">

          <%= f.select(:boss_characteristic_id, options_for_select(characteristic_values_array, @characteristic.boss_characteristic_id), {}, class: 'form-control') %>

        </div>

        <script>
          $("#characteristic_boss_characteristic_id").select2();
        </script>

      </div>

      <div class="form-group" id="register_characteristic_container">

        <%= f.label :register, 'Conformada por', class: 'col-md-3 control-label' %>

        <div class="col-md-9">



          <% if @characteristic.id %>

            <table class="table table-bordered table-condensed">
              <thead>
              <tr>
                <th></th>
                <th>Orden</th>
                <th colspan="2">Característica</th>
              </tr>
              </thead>
              <tbody>

                <% if @characteristic.characteristic_type_id %>

                  <% elements_characteristic_to_be_used = Characteristic.where('publica = ? AND characteristic_type_id = ?', false, @characteristic.characteristic_type_id) %>

                <% else %>

                  <% elements_characteristic_to_be_used = Characteristic.where('publica = ? AND characteristic_type_id IS NULL', false) %>

                <% end %>

                <% elements_characteristic_to_be_used.each do |characteristic| %>

                  <tr>
                    <td>
                      <% unless (characteristic.register_characteristic && characteristic.register_characteristic.id != @characteristic.id) || characteristic.user_characteristics.size > 0 %>
                        <input type="checkbox" name="children_characteristic_checked_<%= characteristic.id %>" value="1" <%= 'checked' if characteristic.register_characteristic_id == @characteristic.id %> >
                      <% end %>
                    </td>
                    <td>
                      <% unless (characteristic.register_characteristic && characteristic.register_characteristic.id != @characteristic.id) %>
                        <input type="text" name="children_characteristic_position_<%= characteristic.id %>" value="<%= characteristic.register_position %>">
                      <% end %>
                    </td>
                    <td style="border-right: 0px;"><%= characteristic.nombre %></td>
                    <td style="border-left: 0px;">
                      <% if characteristic.register_characteristic && characteristic.register_characteristic.id != @characteristic.id %>
                        <span class="label label-danger">Asignada a <%= characteristic.register_characteristic.nombre %></span>
                      <% end %>

                      <% if characteristic.user_characteristics.size > 0 %>

                        <span class="label label-danger">Tiene registros realizados por los usuario</span>

                      <% end %>

                    </td>
                  </tr>

                <% end %>


              </tbody>

            </table>

          <% else %>

            <div class="alert alert-info">
              La definición de las características que la conforman se podrá hacer a través de la edición de la característica, luego de que ésta ha sido creada.
            </div>

          <% end %>

        </div>

      </div>

      <hr>


      <div class="form-group">

        <%= f.label :encrypted, 'Encriptada', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :encrypted, onchange: 'toggle_public()' %>
          <br><br>
          <em>Implementado para tipo de dato: string, text, int</em>

          <script>

            $('#characteristic_encrypted').bootstrapSwitch({
              onColor: 'success',
              onText: "Sí",
              offColor: 'danger',
              offText: "No",
              size: "small"
            });

          </script>

        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :publica, 'Pública', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :publica, onchange: 'toggle_public()' %>

          <script>

            $('#characteristic_publica').bootstrapSwitch({
              onColor: 'success',
              onText: "Sí",
              offColor: 'danger',
              offText: "No",
              size: "small"
            });

          </script>

          <script>
            function toggle_public(){

              if($('#characteristic_publica').is(":checked")){
                $('#container_public').show();
              }else{
                $('#container_public').hide();
              }


            }

            $(document).ready(function() {
              toggle_public();
            });
          </script>

        </div>

      </div>

      <div id="container_public">

        <div class="form-group">

          <%= f.label :restricted_to_managers, 'Restringida a gestores', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :restricted_to_managers, onchange: 'toggle_restricted_to_managers()' %>

            <script>

              $('#characteristic_restricted_to_managers').bootstrapSwitch({
                onColor: 'success',
                onText: "Sí",
                offColor: 'danger',
                offText: "No",
                size: "small"
              });

            </script>

            <script>
              function toggle_restricted_to_managers(){

                if($('#characteristic_restricted_to_managers').is(":checked")){
                  $('#container_restricted_to_managers').hide();
                }else{
                  $('#container_restricted_to_managers').show();
                }


              }

              $(document).ready(function() {
                toggle_restricted_to_managers();
              });
            </script>

          </div>

        </div>

        <div class="form-group">

          <%= f.label :updated_by_manager, 'Actualizable por el gestor', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :updated_by_manager %>

            <script>

              $('#characteristic_updated_by_manager').bootstrapSwitch({
                onColor: 'success',
                onText: "Sí",
                offColor: 'danger',
                offText: "No",
                size: "small"
              });

            </script>

          </div>

        </div>

        <div id="container_restricted_to_managers">

          <div class="form-group">

            <%= f.label :query_by_user, 'Usuario puede ver la característica', class: 'col-md-3 control-label' %>

            <div class="col-md-3">

              <%= f.check_box :query_by_user, onchange: 'toggle_query_by_user()'  %>

              <script>

                $('#characteristic_query_by_user').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });

              </script>

              <script>
                function toggle_query_by_user(){

                  if($('#characteristic_query_by_user').is(":checked")){
                    $('.c_updated_by_user').show();
                  }else{
                    $('.c_updated_by_user').hide();
                  }


                }

                $(document).ready(function() {
                  toggle_query_by_user();
                });
              </script>

            </div>


            <%= f.label :updated_by_user, 'Actualizable por el usuario', class: 'col-md-3 control-label c_updated_by_user' %>


            <div class="col-md-3 c_updated_by_user">
              <%= f.check_box :updated_by_user %>

              <script>

                $('#characteristic_updated_by_user').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });

              </script>
            </div>

          </div>

          <div class="form-group">

            <%= f.label :query_by_boss, 'Jefes pueden ver la característica', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :query_by_boss %>

              <script>

                $('#characteristic_query_by_boss').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });

              </script>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :query_by_others, 'Otros pueden ver la característica', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :query_by_others %>

              <script>

                $('#characteristic_query_by_others').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });

              </script>

            </div>

          </div>

        </div>

        <hr>

        <div class="form-group">

          <%= f.label :required_new, 'Requerida en alta de usuarios', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :required_new %>

            <script>

              $('#characteristic_required_new').bootstrapSwitch({
                onColor: 'success',
                onText: "Sí",
                offColor: 'danger',
                offText: "No",
                size: "small"
              });

            </script>

          </div>

        </div>

        <div class="form-group">

          <%= f.label :required_new_c, 'Obligatorio para crear', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :required_new_c %>

            <script>

              $('#characteristic_required_new_c').bootstrapSwitch({
                onColor: 'success',
                onText: "Sí",
                offColor: 'danger',
                offText: "No",
                size: "small"
              });

            </script>

          </div>

        </div>

        <div class="form-group">

          <%= f.label :required_new_position, 'Posición en el formulario de alta', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.text_field :required_new_position, class: 'form-control' %>


          </div>

        </div>


        <hr>

        <div class="form-group">

          <%= f.label :has_history, 'Tiene historial', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :has_history %>
            <br>
            <em>Si tiene hisotial, cuando es gestionada se debe definir la fecha desde cuando rige el cambio. Además se podrán modificar fechas de valores históricos y eliminar registros históricos</em>

            <script>

              $('#characteristic_has_history').bootstrapSwitch({
                onColor: 'success',
                onText: "Sí",
                offColor: 'danger',
                offText: "No",
                size: "small"
              });

            </script>

          </div>

        </div>

      </div>

      <hr>
      <div class="form-group">

        <%= f.label :mini_ficha, 'Mini Ficha', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :mini_ficha %>

          <script>

            $('#characteristic_mini_ficha').bootstrapSwitch({
              onColor: 'success',
              onText: "Sí",
              offColor: 'danger',
              offText: "No",
              size: "small"
            });

          </script>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :orden_mini_ficha, 'Orden Mini Ficha', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :orden_mini_ficha %>
          <br>
          <i>Determina el orden de la mini ficha</i>

        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :is_company, 'Empresa', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :is_company %>

          <script>

            $('#characteristic_is_company').bootstrapSwitch({
              onColor: 'success',
              onText: "Sí",
              offColor: 'danger',
              offText: "No",
              size: "small"
            });

          </script>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :from_date_work, 'Inicio laboral', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :from_date_work %>

          <script>

            $('#characteristic_from_date_work').bootstrapSwitch({
              onColor: 'success',
              onText: "Sí",
              offColor: 'danger',
              offText: "No",
              size: "small"
            });

          </script>

        </div>

      </div>

      <% if @company.is_security %>

      <hr>

        <legend>Parámetros Security</legend>

        <div class="form-group">

          <%= f.label :subase, 'SUBASE', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :subase %>

            <script>

              $('#characteristic_subase').bootstrapSwitch({
                onColor: 'success',
                onText: "Sí",
                offColor: 'danger',
                offText: "No",
                size: "small"
              });

            </script>

          </div>

        </div>

        <div class="form-group">

          <%= f.label :subaso, 'SUBASO', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :subaso %>

            <script>

              $('#characteristic_subaso').bootstrapSwitch({
                onColor: 'success',
                onText: "Sí",
                offColor: 'danger',
                offText: "No",
                size: "small"
              });

            </script>

          </div>

        </div>

        <div class="form-group">

          <%= f.label :currency_subaso, 'SUBASO MONEDA', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :currency_subaso %>

            <script>

              $('#characteristic_currency_subaso').bootstrapSwitch({
                onColor: 'success',
                onText: "Sí",
                offColor: 'danger',
                offText: "No",
                size: "small"
              });

            </script>

          </div>

        </div>

        <div class="form-group">

          <%= f.label :from_date_progresivas, 'Inicio Vacaciones Progresivas', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :from_date_progresivas %>

            <script>

              $('#characteristic_from_date_progresivas').bootstrapSwitch({
                onColor: 'success',
                onText: "Sí",
                offColor: 'danger',
                offText: "No",
                size: "small"
              });

            </script>

          </div>

        </div>

        <div class="form-group">

          <%= f.label :from_date_r_progresivas, 'Reconocimiento Vacaciones Progresivas', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :from_date_r_progresivas %>

            <script>

              $('#characteristic_from_date_r_progresivas').bootstrapSwitch({
                onColor: 'success',
                onText: "Sí",
                offColor: 'danger',
                offText: "No",
                size: "small"
              });

            </script>

          </div>

        </div>

        <div class="form-group">

          <%= f.label :rol_security, 'Rol Security', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :rol_security %>

            <script>

              $('#characteristic_rol_security').bootstrapSwitch({
                onColor: 'success',
                onText: "Sí",
                offColor: 'danger',
                offText: "No",
                size: "small"
              });

            </script>

          </div>

        </div>

        <div class="form-group">

          <%= f.label :tipo_contrato_secu, 'Tipo contrato Security', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :tipo_contrato_secu %>

            <script>

              $('#characteristic_tipo_contrato_secu').bootstrapSwitch({
                onColor: 'success',
                onText: "Sí",
                offColor: 'danger',
                offText: "No",
                size: "small"
              });

            </script>

          </div>

        </div>

        <div class="form-group">

          <%= f.label :contrato_plazo_secu, 'Contrato plazo fijo Security', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :contrato_plazo_secu %>

            <script>

              $('#characteristic_contrato_plazo_secu').bootstrapSwitch({
                onColor: 'success',
                onText: "Sí",
                offColor: 'danger',
                offText: "No",
                size: "small"
              });

            </script>

          </div>

        </div>



      <% end %>


    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

<% end %>



