
<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de caracteristicas', characteristics_path, tabindex: "-1" %>

  </li>
  <li class="active">Eliminar característica</li>
</ul>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <legend class="text-center">Eliminar contenido</legend>

      <dl class="dl-horizontal">
		  
  		  <dt>Nombre</dt>
        <dd><%= @characteristic.nombre %>&nbsp;</dd>

      </dl>

        <%= form_for @characteristic, html: { method: :delete } do |f| %>

          <%= recaptcha_tags :display=>{:theme=>'clean'} %>

          <%= f.submit 'Eliminar', class: 'btn btn-primary' %>

        <% end %>

  </div>
</div>

