<h1 class="page-title txt-color-blueDark">
  <i class="fa fa-book"></i>
  Características
  <span>> Lista de características </span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">

    <table class="table table-striped table-hover table-bordered">

      <% @characteristic_types.each do |characteristic_type| %>

        <thead>

          <tr>
            <th colspan="4" style="background-color: #dddddd; vertical-align: middle;">
              <%= characteristic_type.name %>
            </th>
          </tr>

          <tr>
            <th>#</th>
            <th colspan="2">Nombre</th>
            <th>Tipo de dato</th>
            <th>Tipo</th>
            <th>Consultable por</th>
            <th>Administrable por</th>
            <th>Depende de</th>
            <th>Mini ficha</th>
            <th>Número de valores</th>
            <th colspan="3">
              <%= link_to 'Crear una nueva característica', new_characteristic_path %>
            </th>
          </tr>

        </thead>

        <tbody>

          <% characteristic_type.characteristics.each_with_index do |characteristic| %>
            <tr>
              <% if characteristic.register_characteristic %>
                <td></td>
                <td><%= characteristic.register_characteristic.nombre %></td>
              <% else %>
                <td><%= characteristic.position %></td>
              <% end %>
              <td colspan="<%= '2' unless characteristic.register_characteristic %>">
                <%= characteristic.nombre %>

                <% if characteristic.is_company? %>
                  <br>
                  <span class="label label-primary">Empresa</span>
                <% end %>

                <% if characteristic.subase? %>
                  <br>
                  <span class="label label-primary">SUBASE</span>
                <% end %>

                <% if characteristic.subaso? %>
                  <br>
                  <span class="label label-primary">SUBASO</span>
                <% end %>

                <% if characteristic.currency_subaso? %>
                  <br>
                  <span class="label label-primary">MONEDA SUBASO</span>
                <% end %>

                <% if characteristic.encrypted %>
                  <br>
                  <span class="label label-danger">Encriptada</span>
                <% end %>

                <% if characteristic.from_date_work %>
                  <br>
                  <span class="label label-primary">Inicio laboral</span>
                <% end %>

                <% if characteristic.from_date_progresivas %>
                  <br>
                  <span class="label label-primary">Inicio Vacaciones Progresivas</span>
                <% end %>

                <% if characteristic.from_date_r_progresivas %>
                  <br>
                  <span class="label label-primary">Reconocimiento Vacaciones Progresivas</span>
                <% end %>

                <% if characteristic.rol_security %>
                  <br>
                  <span class="label label-primary">Rol Security</span>
                <% end %>

                <% if characteristic.contrato_plazo_secu %>
                  <br>
                  <span class="label label-primary">Contrato plazo fijo Security</span>
                <% end %>

                <% if characteristic.tipo_contrato_secu %>
                  <br>
                  <span class="label label-primary">Tipo contrato Security</span>
                <% end %>

                <% if characteristic.has_children %>
                  <br>
                  <span class="label label-primary">Tiene hijos</span>

                  <% ccs = Array.new %>

                  <% characteristic.characteristic_values.each do |cv| %>
                    <% CharacteristicValueParent.where('characteristic_value_parent_id = ?', cv.id).each do |cvp| %>
                      <% ccs.push cvp.characteristic_value.characteristic %>
                    <% end %>
                  <% end %>

                  <% ccs.uniq! %>

                  <% ccs.each do |cc| %>
                    <li><%= cc.nombre %></li>
                  <% end %>


                <% end %>

              </td>
              <td>
                <%= characteristic.data_type_name %>

                <% if characteristic.data_type_id == 10 %>
                  (<%= characteristic.boss_characteristic.nombre if characteristic.boss_characteristic %>)
                <% end %>

                <% if characteristic.data_type_id == 11 # register %>

                  <% characteristic.elements_characteristics.reorder('register_position').each do |element_characteristic| %>
                    <li><%= element_characteristic.nombre %></li>
                  <% end %>

                <% end %>

              </td>
              <td>
                <% if characteristic.publica %>

                  <% if characteristic.restricted_to_managers %>
                    <span class="label label-primary">gestor</span>
                  <% else %>
                    <span class="label label-success">pública</span>
                  <% end %>

                <% else %>

                  <span class="label label-danger">privada</span>

                <% end %>
              </td>
              <td>

                <% if characteristic.restricted_to_managers %>

                <% else %>

                  <% if characteristic.query_by_user %>
                    <li>Usuario</li>
                  <% end %>
                  <% if characteristic.query_by_boss %>
                    <li>Jefes</li>
                  <% end %>
                  <% if characteristic.query_by_others %>
                    <li>Otros</li>
                  <% end %>

                <% end %>
                
              </td>
              <td>
                <% if characteristic.publica %>

                  <div class="row">
                    <div class="col-md-6">
                      <% if characteristic.updated_by_manager %>
                        <li>Gestor</li>
                      <% end %>

                      <% unless characteristic.restricted_to_managers %>

                        <% if characteristic.updated_by_user %>
                          <li>Usuario</li>
                        <% end %>

                      <% end %>

                      <% if characteristic.required_new %>
                        <li>
                          <i class="fa fa-star" style="color: darkgreen;"></i>
                          Alta de usuarios

                          <% if characteristic.required_new_c %>
                            Obl.
                          <% end %>

                          (<%= characteristic.required_new_position %>)

                        </li>


                      <% end %>

                    </div>
                    <div class="col-md-6">
                      <% if characteristic.has_history && characteristic.data_type_id != 11 # not-register %>
                        <span class="label label-primary">Historial</span>
                      <% end %>
                    </div>
                  </div>

                <% else %>

                  <% if characteristic.required_new_c %>
                    Obl. Altas
                  <% end %>

                <% end %>
              </td>
              <td>
                <% if characteristic.characteristic_value %>

                  <% unless characteristic.char_value_selected %>

                    Diferente a:

                  <% end %>

                  <%= characteristic.characteristic_value.characteristic.nombre %> - <%= characteristic.characteristic_value.value_string %>


               <% end %>
              </td>
              <td>
                <% if characteristic.mini_ficha %>
                  <span class="label label-success"><%= characteristic.orden_mini_ficha %></span>
                <% end %>
              </td>

              <td>
                <% if characteristic.data_type_id == 5 %>
                  <%= characteristic.characteristic_values.size %>
                <% else %>
                  <%= characteristic.user_characteristics.select(:valor).uniq.count %>
                <% end %>
              </td>
              <td><%= link_to 'Configurar', characteristic %></td>
              <td><%= link_to 'Editar', edit_characteristic_path(characteristic) %></td>
              <td><%= link_to 'Eliminar', delete_characteristic_path(characteristic) %></td>
            </tr>
          <% end %>

        </tbody>

      <% end %>

      <thead>

      <tr>
        <th colspan="3" style="background-color: #dddddd; vertical-align: middle;">
          Sin clasificación
        </th>
      </tr>

      <tr>
        <th>#</th>
        <th colspan="2">Nombre</th>
        <th>Tipo de dato</th>
        <th>Tipo</th>
        <th>Administrable por</th>
        <th>Depende de</th>
        <th>Mini ficha</th>
        <th>Número de valores</th>
        <th colspan="3">
          <%= link_to 'Crear una nueva característica', new_characteristic_path %>
        </th>
      </tr>

      </thead>

      <tbody>

      <% @characteristics.each_with_index do |characteristic| %>
        <tr>
          <% if characteristic.register_characteristic %>
            <td></td>
            <td><%= characteristic.register_characteristic.nombre %></td>
          <% else %>
            <td><%= characteristic.position %></td>
          <% end %>
          <td colspan="<%= '2' unless characteristic.register_characteristic %>">
            <%= characteristic.nombre %>
            <% if characteristic.is_company? %>
              <br>
              <span class="label label-primary">Empresa</span>
            <% end %>
          </td>
          <td>
            <%= characteristic.data_type_name%>

            <% if characteristic.data_type_id == 10 %>
              (<%= characteristic.boss_characteristic.nombre if characteristic.boss_characteristic %>)
            <% end %>

            <% if characteristic.data_type_id == 11 %>

              <% characteristic.elements_characteristics.reorder('register_position').each do |element_characteristic| %>
                <li><%= element_characteristic.nombre %></li>
              <% end %>

            <% end %>

          </td>
          <td>
            <% if characteristic.publica %>

              <% if characteristic.restricted_to_managers %>
                <span class="label label-primary">gestor</span>
              <% else %>
                <span class="label label-success">pública</span>
              <% end %>

            <% else %>

              <span class="label label-danger">privada</span>

            <% end %>
          </td>
          <td>
            <% if characteristic.publica %>

              <div class="row">
                <div class="col-md-6">
                  <% if characteristic.updated_by_manager %>
                    <li>Gestor</li>
                  <% end %>

                  <% unless characteristic.restricted_to_managers %>

                    <% if characteristic.updated_by_user %>
                      <li>Usuario</li>
                    <% end %>

                  <% end %>
                </div>
                <div class="col-md-6">
                  <% if characteristic.has_history && characteristic.data_type_id != 11 # not-register %>
                    <span class="label label-primary">Historial</span>
                  <% end %>
                </div>
              </div>

            <% end %>
          </td>
          <td>
            <% if characteristic.characteristic_value %>
              <%= characteristic.characteristic_value.characteristic.nombre %> - <%= characteristic.characteristic_value.value_string %>
            <% end %>
          </td>
          <td>
            <% if characteristic.mini_ficha %>
              <span class="label label-success"><%= characteristic.orden_mini_ficha %></span>
            <% end %>
          </td>

          <td>
            <% if characteristic.data_type_id == 5 %>
              <%= characteristic.characteristic_values.size %>
            <% else %>
              <%= characteristic.user_characteristics.select(:valor).uniq.count %>
            <% end %>
          </td>

          <td><%= link_to 'Configurar', characteristic %></td>
          <td><%= link_to 'Editar', edit_characteristic_path(characteristic) %></td>
          <td>
            <% if characteristic.user_characteristics.size == 0 && characteristic.pe_characteristics.size == 0 && characteristic.pe_member_characteristics.size == 0 && characteristic.folder_members.size == 0 %>
              <%= link_to 'Eliminar', delete_characteristic_path(characteristic) %>
            <% end %>
          </td>
        </tr>
      <% end %>

      </tbody>

    </table>

  </div>
</div>