<% nodes.each do |node| %>

    <tr class="treegrid-<%= node.id %> <%= 'treegrid-parent-'+node.node_id.to_s if node.node_id %>">
        <td onclick="$('.treegrid-<%= node.id %>').treegrid('toggle');" class="mouse_pointer">
          <%= node.nombre %>
        </td>
        <td onclick="$('.treegrid-<%= node.id %>').treegrid('toggle');" class="mouse_pointer">
          <%= node.owner.codigo %> <%= node.owner.apellidos %>, <%= node.owner.nombre %>
        </td>
        <td><%= node.owner.members.size %></td>
        <td>
          <%= link_to 'Gestionar dependencias', node %>
        </td>
    </tr>

    <% node.owner.members.each do |member| %>

        <% if member.owned_nodes.size > 0 %>
            <%= render partial: 'nodes/node',
                       locals:{
                               nodes: member.owned_nodes
                       }
            %>
        <% else %>
            <tr class="treegrid-m-<%= member.id %> treegrid-parent-<%= node.id %> ">
              <td onclick="$('.treegrid-m-<%= member.id %>').treegrid('toggle');" class="mouse_pointer">
                <%= member.owned_nodes.first.nombre if member.owned_nodes.first %>
              </td>
              <td onclick="$('.treegrid-m-<%= member.id %>').treegrid('toggle');" class="mouse_pointer">
                <%= member.codigo %> <%= member.apellidos %>, <%= member.nombre %>
              </td>
              <td>0</td>
              <td>
                <%= link_to 'Gestionar dependencias', node %>
              </td>
            </tr>

        <% end %>

    <% end %>

<% end %>