<%= form_for(@pe_box) do |f| %>
  <% if @pe_box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pe_box.errors.count, "error") %> prohibited this pe_box from being saved:</h2>

      <ul>
      <% @pe_box.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :short_name %><br />
    <%= f.text_field :short_name %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :text_color %><br />
    <%= f.text_field :text_color %>
  </div>
  <div class="field">
    <%= f.label :bg_color %><br />
    <%= f.text_field :bg_color %>
  </div>
  <div class="field">
    <%= f.label :soft_text_color %><br />
    <%= f.text_field :soft_text_color %>
  </div>
  <div class="field">
    <%= f.label :soft_bg_color %><br />
    <%= f.text_field :soft_bg_color %>
  </div>
  <div class="field">
    <%= f.label :pe_process %><br />
    <%= f.text_field :pe_process %>
  </div>
  <div class="field">
    <%= f.label :pe_dim_group_x_id %><br />
    <%= f.number_field :pe_dim_group_x_id %>
  </div>
  <div class="field">
    <%= f.label :pe_dim_group_y_id %><br />
    <%= f.number_field :pe_dim_group_y_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
