<%= form_for condition_vacation , url: condition_vacation.id ? bp_admin_condition_vacations_create_version_path(condition_vacation.id,rule_vacation.id) : bp_admin_condition_vacation_create_path(rule_vacation), html: {class: 'form-horizontal', id: 'new_bp_condition_vacation_form'}, method: :post do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <legend> <%= t('views.bp_condition_vacations.legends.condition_vacation_info') %> </legend>

      <%= render 'shared/error_messages', object: f.object %>

      <% if condition_vacation.id %>
        <% options_conditions_vacations = BpConditionVacation.active_condition_vacations(lms_time).map { |option| [option.bp_rule_vacation.bp_group.name+'/'+option.bp_rule_vacation.name+': '+option.full_name, option.id] } %>
        <div class="form-group <%= field_with_errors f, :bp_group_id %> hidden">
          <%= f.label 'Nueva versión para' , class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= select_tag('select2_condition_vacations', options_for_select(options_conditions_vacations, condition_vacation.id), {multiple: true, size: 2, class: 'form-control', placeholder: '-- Seleccione Condiciones --'}  ) %>
          </div>
        </div>
      <% else %>
        <% options_rule_vacations = BpRuleVacation.active_rule_vacations(lms_time).map { |option| [option.bp_group.name + ': '+option.name, option.id] } %>
        <div class="form-group <%= field_with_errors f, :bp_group_id %>">
          <%= f.label 'Bonos' , class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= select_tag('select2_groups', options_for_select(options_rule_vacations, f.object.bp_rule_vacation_id), {multiple: true, size: 2, class: 'form-control', placeholder: '-- Seleccione Bonos --'}  ) %>
          </div>
        </div>
      <% end %>

      <div class="form-group <%= field_with_errors f, :priority %>">
        <%= f.label :priority, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :priority, class: 'form-control', :min => 0 %>
          <em><%= t('views.bp_condition_vacations.explanation.priority') %></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :bonus_days %>">
        <%= f.label :bonus_days, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :bonus_days, class: 'form-control', :min => 0 %>
          <em><%= t('views.bp_condition_vacations.explanation.bonus_days') %></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :bonus_money %>">
        <%= f.label :bonus_money, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :bonus_money, class: 'form-control'%>
          <em><%= t('views.bp_condition_vacations.explanation.bonus_money') %></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :bonus_currency %>">
        <%= f.label :bonus_currency, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :bonus_currency, class: 'form-control'%>
          <em><%= t('views.bp_condition_vacations.explanation.bonus_currency') %></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :indef_contract_required %>">
        <%= f.label :indef_contract_required, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :indef_contract_required, :class => 'bootstrap_checkbox form-control' %>
          <br>
          <em><%= '¿Requiere tener contrato indefinido?' %></em>
        </div>
      </div>

      <hr>
      <div class="form-group <%= field_with_errors f, :days_since %>">
        <%= f.label :days_since, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :days_since, class: 'form-control', :min => 0  %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :days_until %>">
        <%= f.label :days_until, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :days_until, class: 'form-control', :min => 0 %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9 col-md-offset-3">
          <em><%= t('views.bp_condition_vacations.explanation.days_range') %></em>
        </div>
      </div>

      <hr>

      <% options = BpConditionVacation.accumulated_types_array %>
      <div class="form-group <%= field_with_errors f, :accumulated_type %>">
        <%= f.label :accumulated_type, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.select :accumulated_type, options_for_select(options, f.object.accumulated_type),
                       { prompt: "- Seleccionar -" },
                       class: 'form-control' %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :days_min_accumulated %>">
        <%= f.label :days_min_accumulated, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :days_min_accumulated, class: 'form-control', :min => 0  %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :days_max_accumulated %>">
        <%= f.label :days_max_accumulated, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :days_max_accumulated, class: 'form-control', :min => 0 %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9 col-md-offset-3">
          <em><%= t('views.bp_condition_vacations.explanation.days_accum_range') %></em>
        </div>
      </div>

      <hr>
      <div class="form-group <%= field_with_errors f, :antiquity %>">
        <%= f.label :antiquity, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :antiquity, class: 'form-control', :min => 0 %>
          <em><%= t('views.bp_condition_vacations.explanation.antiquity') %></em>
        </div>
      </div>


      <legend><%= t('views.bp_condition_vacations.legends.reference_period_info')%></legend>

      <% options = BpConditionVacation.period_times_array %>
      <div class="form-group <%= field_with_errors f, :period_times_type %>">
        <%= f.label :period_times_type, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.select :period_times_type, options_for_select(options, f.object.period_times_type),
                       { prompt: "- Seleccionar -" },
                       class: 'form-control period_times_type_select' %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :period_times %>">
        <%= f.label :period_times, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :period_times, class: 'form-control', :min => 0 %>
          <em><%= t('views.bp_condition_vacations.explanation.period_times') %></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :period_anniversary %>">
        <%= f.label :period_anniversary, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :period_anniversary, :class => 'bootstrap_checkbox form-control', :onchange => 'anniversary(this)' %>
          <br>
          <em><%= t('views.bp_condition_vacations.explanation.period_anniversary') %></em>
        </div>
      </div>

      <hr class="anniversary" style="display: none">
      <div class="form-group <%= field_with_errors f, :period_begin_1 %> anniversary" style="display: none">
        <%= f.label :period_begin_1, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :period_begin_1, class: 'form-control datetime', :data => {:format => '%d/%m/%Y'}, :value => f.object.period_begin_1 ? f.object.period_begin_1.strftime('%d/%m/%Y') : '', :readonly => true %>
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"> </i></span>
          </div>
          <em><%= t('views.bp_condition_vacations.explanation.period_begin_1') %></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :period_begin_2 %>  anniversary" style="display: none">
        <%= f.label :period_begin_2, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :period_begin_2, class: 'form-control datetime', :data => {:format => '%d/%m/%Y'}, :value => f.object.period_begin_2 ? f.object.period_begin_2.strftime('%d/%m/%Y') : '', :readonly => true %>
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"> </i></span>
          </div>
          <em><%= t('views.bp_condition_vacations.explanation.period_begin_2') %></em>
        </div>
      </div>

      <hr>

      <div class="form-group <%= field_with_errors f, :period_condition_begin %>">
        <%= f.label :period_condition_begin, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :period_condition_begin, :class => 'bootstrap_checkbox form-control' %>
          <br>
          <em><%= t('views.bp_condition_vacations.explanation.period_condition_begin') %></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :period_condition_min_days %>">
        <%= f.label :period_condition_min_days, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :period_condition_min_days, class: 'form-control', :min => 0 %>
          <em><%= t('views.bp_condition_vacations.explanation.period_condition_min_days') %></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :period_condition_min_percent %>">
        <%= f.label :period_condition_min_percent, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :period_condition_min_percent, class: 'form-control', :min => 0, :max => 100, :step => 0.01 %>
          <em><%= t('views.bp_condition_vacations.explanation.period_condition_min_percent') %></em>
        </div>
      </div>

      <legend><%=t('views.bp_condition_vacations.legends.season_info')%></legend>
      <% options_bp_seasons = BpSeason.all.map { |option| [option.name, option.id] } %>
      <div class="form-group <%= field_with_errors f, :bp_season_id %>">
        <%= f.label :bp_season_id, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.select :bp_season_id, options_for_select(options_bp_seasons, f.object.bp_season_id),{:prompt => "- Seleccionar -"}, class: 'form-control bp_season_select' %>
        </div>
      </div>

      <div class="season_params" <%= ('style="display: none"').html_safe unless condition_vacation.bp_season_id %>>
        <div class="form-group <%= field_with_errors f, :season_condition_begin %>">
          <%= f.label :season_condition_begin, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.check_box :season_condition_begin, :class => 'bootstrap_checkbox form-control ' %>
            <br>
            <em><%= t('views.bp_condition_vacations.explanation.season_condition_begin') %></em>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :season_condition_min_days %>">
          <%= f.label :season_condition_min_days, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.number_field :season_condition_min_days, class: 'form-control', :min => 0  %>
            <em><%= t('views.bp_condition_vacations.explanation.season_condition_min_days') %></em>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :season_condition_min_percent %>">
          <%= f.label :season_condition_min_percent, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.number_field :season_condition_min_percent, class: 'form-control', :min => 0, :step => 0.01, :max => 100   %>
            <em><%= t('views.bp_condition_vacations.explanation.season_condition_min_percent') %></em>
          </div>
        </div>
      </div>

      <legend><%=t('views.bp_condition_vacations.legends.validity_period')%></legend>

      <div class="form-group <%= field_with_errors f, :since %>">
        <%= f.label :since, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :since, class: 'form-control datetime_since_until', :data => {:format => '%d/%m/%Y %H:%M'}, :value => f.object.since ? f.object.since.strftime('%d/%m/%Y %H:%M') : '', :readonly => true %>
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          </div>
          <em><%= t('views.bp_condition_vacations.explanation.since') %></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :until %>">
        <%= f.label :until, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :until, class: 'form-control datetime_since_until', :data => {:format => '%d/%m/%Y %H:%M'}, :value => f.object.until ? f.object.until.strftime('%d/%m/%Y %H:%M') : '', :readonly => true %>
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          </div>
          <em><%= t('views.bp_condition_vacations.explanation.until') %></em>
        </div>
      </div>
    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit t('views.bp_season_periods.flow_process.save'), class: 'btn btn-primary' %>
      </div>
    </div>

  </div>
<% end %>

<script>

    $('.datetime_since_until').datetimepicker({
        language: 'es',
        pickTime: true,
        pickDate: true
    });

    $('.datetime').datetimepicker({
        language: 'es',
        pickTime: false,
        pickDate: true
    });

    $('.bootstrap_checkbox').bootstrapSwitch({
        onColor: 'success',
        onText: "Sí",
        offColor: 'danger',
        size: "small",
        offText: "No"
    });

    function anniversary(link){
        if($(link).bootstrapSwitch('state')){
            $('.anniversary').hide()
            $('#bp_condition_vacation_period_begin_1').val('')
            $('#bp_condition_vacation_period_begin_2').val('')
        }else{
            $('.anniversary').show()
        }
    }


    $('.bp_season_select').change(function(){
        if ($('.bp_season_select option:selected').val() != ''){
            $('.season_params').show();
        }else{
            $('.season_params').hide();
            $('#bp_condition_vacation_season_condition_min_days').val('')
            $('#bp_condition_vacation_season_condition_min_percent').val('')
        }
    });

</script>

<script>
    var minimumInputLength = 0
    $('#select2_groups').select2({
        minimumInputLength: minimumInputLength,
        formatInputTooShort: function () {
            return "Se deben ingresar al menos " + minimumInputLength + " caracteres";
        },
    })

    var minimumInputLength = 0
    $('#select2_condition_vacations').select2({
        minimumInputLength: minimumInputLength,
        formatInputTooShort: function () {
            return "Se deben ingresar al menos " + minimumInputLength + " caracteres";
        },
    })

    function return_select2_values() {
        users_array = $('#select2_groups').select2().val();
        $('#select2_groups').select2("val", "");
        return_values(users_array);
    }
</script>