<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.bp_condition_vacations.backlist.condition_vacations_list')).html_safe, bp_admin_rule_vacation_manage_path(@bp_condition_vacation,@bp_rule_vacation), class: 'btn btn-default', tabindex: '-1' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_condition_vacations.legends.condition_vacations') %>
      <span>> <%= 'Nueva versión' %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div id="group_show_container" class="col-md-6 col-md-offset-3">
    <%= render partial: 'bp_admin_rule_vacations/bp_rule_vacation_show',
               locals: {rule_vacation: @bp_rule_vacation,
                        editable: true} %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'bp_condition_vacation_new_form',
               locals: {condition_vacation: @bp_condition_vacation,
                        rule_vacation: @bp_rule_vacation,
                        destroyable: false } %>
  </div>
</div>