<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Estimado Usuario(a):
</p>
<br>

<p>
  Le comunicamos que su ticket con asunto <strong><%= @support_ticket.asunto %></strong> ha sido atendido por nuestra Mesa de Ayuda.
</p>
<br>
<p>
  Le pedimos ingresar a la plataforma para revisar la respuesta.
</p>
<br>
<p>
  Cordialmente,
</p>

<p>

  <strong>
    Grupo EXA
  </strong>

</p>


</body>
</html>