<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Estimado Usuario(a):
</p>
<br>

<p>
  Tu retroalimentación en el proceso <strong><%= @pe_process.name %> - <%= @pe_process.period %></strong> ha sido realizada.
</p>
<br>
<p>
  Para confirmar que has recibido retroalimentación, debes ingresar a la plataforma
  <a href="https://<%= $full_current_domain %>">https://<%= $full_current_domain %></a> con tus credenciales de acceso para esta herramienta (usuario y clave).
  Una vez dentro, debes ingresar al menú “<%= @menu_name %>” y,
  dentro del proceso correspondiente, seleccionar la opción “Confirmar retroalimentación”.
</p>
<br>
<p>
  Puedes enviar tus consultas o inquietudes a nuestra Mesa de Ayuda escribiendo al correo <%= @company.email_mesa_ayuda %>
</p>
<br>
<p>
  Este correo ha sido enviado automáticamente, por lo que le pedimos no responder a la dirección del remitente.
</p>
<br>
<p>
  Cordialmente,
</p>

<p>

  <strong>
    <%= @pe_process.mailer_name %>
  </strong>

</p>


</body>
</html>