<table>
  <tr>
    <td colspan="2">
      San Isidro, Marzo 2014<br>
      <br>
      Señor (ita)<br>
      <%= @nombre %><br>
      <%= @codigo %><br>
      <%= @area %><br>
      <%= @servicio %><br>
      <%= @seccion %><br>
      Presente.-<br>
    </td>

  </tr>
  <tr>
    <td colspan="2">
      <br>
      Estimado(a) colaborador(a):<br>
      <br>
      En Prima AFP estamos convencidos de que invertir en desarrollar tu potencial y elevar tu productividad, incrementa tu empleabilidad y determina nuestra ventaja competitiva.<br><br>
      Es importante para nosotros contribuir con tu crecimiento en el ámbito profesional y laboral, alineado a tu rol dentro de nuestra organización, así como también en el aspecto personal.<br><br>
      Es por ello que pensando en nuestro desarrollo conjunto, durante el año 2013 Prima AFP ha auspiciado tu participación en diversos cursos, haciendo un total de <%= @horas %> horas de capacitación, las mismas que se detallan en el reporte adjunto.<br><br>
      Aprovecha las oportunidades de capacitación que te ofrecemos este 2014 y aplica lo aprendido en tu quehacer diario.<br><br>
      Atentamente,<br><br>
    </td>
  </tr>
  <tr>
    <td width="50%">
      <center>
        Carla Barrionuevo GM.<br>
        GERENTE DE GDH
      </center>


    </td>
    <td>
      <center>
        Laura Díaz P.<br>
        JEFE DE CAPACITACIÓN
      </center>
    </td>
  </tr>
</table>


