<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Estimado/a <%= @candidate.name %>,
</p>

<p>
  Le invitamos a ingresar este código <b><%= @candidate.codigo_rec_pass %></b> en <b><%= @ct_module.alias.blank? ? @ct_module.name :  @ct_module.alias %></b> para generar su contraseña.
</p>

<p>
  Si usted no ha realizado la solicitud para generar su contraseña, ignore este correo. Le aseguramos que sus datos de acceso permanecen seguros.
</p>

<p>
  Atentamente,
</p>

<p>

  <strong>
    <%= @ct_module.alias.blank? ? @ct_module.name :  @ct_module.alias %>
  </strong>

</p>


</body>
</html>