<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Hemos recibido una solicitud para utilizar esta dirección electrónica en lugar de <%= @candidate.email %>. Si usted ha realizado esta solicitud, por favor siga las siguientes indicaciones:
</p>

<p>
  Su código de validación es: <b><%= @candidate.codigo_rec_pass %></b>
</p>

<p>
  Si usted no ha realizado la solicitud para generar su contraseña, ignore este correo.
</p>

<p>
  EXA nunca le enviará un correo en donde se le solicite responder indicando su usuario o contraseña. Si usted recibe ese tipo de correos, repórtelo a nuestra Mesa de Ayuda (<%= @company.email_mesa_ayuda %>) o a Soporte Técnico de su empresa.
</p>

<p>
  Cordialmente,
</p>

<p>

  <strong>
    Grupo EXA
  </strong>

</p>


</body>
