<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  <% if @data_syncs_logs.size > 0 %>
  Errores detectados en sincronización:
  <% else %>
  Sincronización <%= @sync_type %> sin errores.
  <% end %>
</p>
<br>


<strong>Fecha</strong>: <%= @executed_at.strftime('%Y-%m-%d') %>

<% @data_syncs_logs.each do |data_syncs_log| %>

  <ol>

    <%= data_syncs_log.description %>

    -

    <%= data_syncs_log.sync_errors %>

  </ol>

<% end %>


<p>

  <strong>
    Grupo EXA
  </strong>

</p>


</body>
</html>