<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<strong>Asunto:</strong> <%= @support_ticket.asunto %>

<br><br>

<strong>Ticket:</strong> <%= @support_ticket.id %>
<br><br>

<strong>Código de Usuario:</strong> <%= @support_ticket.user.codigo %>
<br><br>

<strong>Apellidos y Nombre</strong> <%= @support_ticket.user.apellidos %>, <%= @support_ticket.user.nombre %>
<br><br>

<strong>Correo:</strong> <%= @support_ticket.user.email %>
<br><br>

<strong>Tipo de Ticket:</strong> <%= @support_ticket.support_ticket_type.nombre %>
<br><br>

<% if @support_ticket.curso %>

  <strong>Actividad relacionada:</strong> <%= @support_ticket.curso %>
  <br><br>

<% end %>

<strong>Descripción:</strong> <%= @support_ticket.descripcion %>



</body>
</html>