<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<%= @pe_evaluation.email_to_accept_definition_content.html_safe unless @pe_evaluation.email_to_accept_definition_content.blank? %>

</body>
</html>