<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>
  Estimado <%= @user_evaluator.nombre %> <%= @user_evaluator.apellidos %>:
</p>


<p>
  Su evaluación a <strong><%= @user_evaluated.nombre %> <%= @user_evaluated.apellidos %></strong> ha sido <strong>aprobada</strong> por el validador <%= @user_validator.nombre %> <%= @user_validator.apellidos %>.
</p>

<p>
  Cordialmente,
</p>

<p>


    Administrador Proceso ED<br>
    EXA


</p>

</body>
</html>