<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Estimado Usuario(a):
</p>
<br>

<p>
Se ha solicitado su aprobación del formulario DNC generado para la Unidad <%= @planning_process_company_unit.company_unit.nombre %> - Área <%= @company_unit_area.nombre %>.
</p>
<br>
<p>
Para revisar el DNC generado le solicitamos ingresar a la plataforma
  <a href="https://<%= $current_domain %>.exa.pe">https://<%= $current_domain %>.exa.pe</a> con sus credenciales de acceso (usuario y clave) entregadas para esta herramienta. Una vez dentro de la plataforma, visualizará el                                                     menú "Proceso de Planificación" y dentro la opción correspondiente a su Unidad y Área.
</p>
<br>
<p>
  Nuestra mesa de ayuda (<%= @company.email_mesa_ayuda %>) está disponible para atender sus dudas o inquietudes.
</p>
<br>
<p>
Este correo ha sido enviado automáticamente, por lo que le pedimos no responder a la dirección del remitente.
</p>
<br>
<p>
  Cordialmente,
</p>

<p>

  <strong>
    Grupo EXA
  </strong>

</p>


</body>
</html>