<div class="panel panel-default">
  <div class="panel-body">
    <legend>
      <%= t('views.sel_vacant_flows.shared.flow_data') %>
    </legend>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.sel_vacant_flow.name') %></strong>
      </div>
      <div class="col-md-9">
        <%= @sel_vacant_flow.name %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.sel_vacant_flow.description') %></strong>
      </div>
      <div class="col-md-9">
        <%= @sel_vacant_flow.description.html_safe %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.sel_vacant_flow.active') %></strong>
      </div>
      <div class="col-md-9">
        <%= label_yes_not @sel_vacant_flow.active %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.sel_vacant_flow.threshold_for_approval') %></strong>
      </div>
      <div class="col-md-9">
        <%= @sel_vacant_flow.threshold_for_approval %>
      </div>
    </div>

  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      <%= link_to t('views.sel_vacant_flows.shared.edit_flow'), edit_sel_vacant_flow_path(@sel_vacant_flow) %>
    </div>
  </div>
</div>