<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.sel_vacant_flows.edit.back_to_flow')).html_safe, sel_vacant_flow_path(@sel_vacant_flow), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%=	icon_sel_module_html_safe %>
      <span> <%= t('views.sel_vacant_flows.shared.edit_flow') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'form' %>

  </div>
</div>
