<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.sel_vacant_flows.shared.back_to_flows')).html_safe, sel_vacant_flows_path(), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%= icon_sel_module_html_safe %>
      <span> <%= t('views.sel_vacant_flows.shared.manage_flow') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'show' %>
  </div>
</div>
<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'sel_vacant_flows/approvers/index' %>
      </div>
    </div>
  </div>
</div>