<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver'.html_safe, show_folder_file_path(@folder, @folder_file), class: 'btn btn-default', tabindex: '-1' %>
  </div>

</div>


<ul class="breadcrumb">
  <li>
    Biblioteca

  </li>

  <% get_folder_ancestros(@folder).each do |f| %>
      <li>
        <%= f.nombre %>

      </li>
  <% end %>

  <li><%= @folder.nombre %></li>

  <li class="active"><%= @folder_file.nombre %></li>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @folder_file, url: update_folder_file_path(@folder, @folder_file), method: :post, html: {class: 'form-horizontal', multipart: true} do |f| %>

        <div class="panel panel-default">
          <div class="panel-body">

            <legend>Datos del archivo</legend>

            <%= render 'shared/error_messages', object: f.object %>

            <div class="form-group <%= field_with_errors f, :nombre %>">

              <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_field :nombre, class: 'form-control' %>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :descripcion, 'Descripción', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_area :descripcion, rows: '5', class: 'form-control' %>

              </div>

            </div>

            <% if ['pdf', 'mp4'].include?(@folder_file.extension) %>

                <div class="form-group">

                  <%= f.label :descargable, 'Descargable', class: 'col-md-3 control-label' %>

                  <div class="col-md-9">

                    <%= f.check_box :descargable, class: 'yes_no_bootstrap_switch' %>

                  </div>

                </div>

            <% end %>

            <% if admin_logged_in? %>
                <% unless @folder_file.download_token.nil? %>
                    <div class="form-group">
                      <%= label_tag 'delete_url', 'Eliminar url pública', class: 'col-md-3 control-label' %>
                      <div class="col-md-3">
                        <%= check_box_tag 'delete_url', 1, false, class: 'yes_no_bootstrap_switch' %>
                      </div>
                      <div class="col-md-6">
                        <%= biblioteca_download_from_token_url(@folder_file.download_token) %>
                      </div>
                    </div>
                <% else %>
                    <div class="form-group">
                      <%= label_tag 'create_url', 'Generar url pública', class: 'col-md-3 control-label' %>
                      <div class="col-md-9">
                        <%= check_box_tag 'create_url', 1, false, class: 'yes_no_bootstrap_switch' %>
                      </div>
                    </div>
                <% end %>
            <% end %>
          </div>

          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= f.submit 'Guardar', class: 'btn btn-primary' %>
            </div>
          </div>

        </div>

    <% end %>

  </div>
</div>

<script>
  $('.yes_no_bootstrap_switch').bootstrapSwitch({
    onColor: 'success',
    onText: "Sí",
    offColor: 'danger',
    offText: "No"
  });

</script>

