<div class="row">

  <div class="col-md-10 col-md-offset-1">
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Biblioteca', folders_path %>

      </li>

      <% get_folder_ancestros(@folder).each do |f| %>
        <li>
          <%= link_to f.nombre, f, tabindex: '-1' %>

        </li>
      <% end %>

      <li>
        <%= link_to @folder.nombre, @folder, tabindex: '-1' %>
      </li>

      <li class="active">Nuevo permiso de lectura</li>
    </ol>
  </div>
</div>


<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">
        <% if admin_logged_in? || (@folder.creador_id == user_connected.id) %>
        <div class="pull-right">
          <a href="<%= folder_make_public_path(@folder) %>" class="btn btn-primary">
            Hacer pública
          </a>
        </div>
        <br>
        <br>
        <hr>
        <% end %>

        <% @characteristics.each_with_index do |characteristic,index| %>
          <div class="row">

            <%= form_for @folder, url: create_folder_member_path(@folder), method: :post, html: {class: 'form-horizontal'} do |f| %>


              <div class="col-md-3">

                <%= characteristic.nombre %>

              </div>

              <div class="col-md-6">

                <% valores = UserCharacteristic.select(:valor).uniq.where('characteristic_id = ? AND valor <> "" ',characteristic.id).order('valor').map(&:valor) %>

                <%= select('characteristic', characteristic.id, options_for_select(valores), {include_blank: '--Seleccionar grupo--' }, class: 'form-control') %>

              </div>

              <div class="col-md-3">
                <%= f.submit 'Otorgar permiso de lectura', class: 'btn btn-primary' %>
              </div>

            <% end %>

          </div>
          <hr>

        <% end %>

      </div>

    </div>


  </div>

</div>