<div class="row">

  <div class="col-md-10 col-md-offset-1">
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Biblioteca', folders_path %>

      </li>

      <% get_folder_ancestros(@folder).each do |f| %>
        <li>
          <%= link_to f.nombre, f, tabindex: '-1' %>

        </li>
      <% end %>

      <li>
        <%= link_to @folder.nombre, @folder, tabindex: '-1' %>
      </li>

      <li class="active">Nuevo permiso de lectura</li>
    </ol>
  </div>
</div>


<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= form_for @user, url: new_folder_reader_path, method: :post do |f| %>
          <div class="row">

            <div class="col-md-3 col-md-offset-1">
              <label>&nbsp;&nbsp;Código</label>
              <%= f.text_field :codigo, placeholder: 'Código', autofocus: 'autofocus', class: 'form-control' %>

            </div>

            <div class="col-md-3">
              <label>&nbsp;&nbsp;Apellidos</label>
              <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>

            </div>

            <div class="col-md-3">
              <label>&nbsp;&nbsp;Nombre</label>
              <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>

            </div>

            <div class="col-md-2">
              <label>&nbsp;</label>
              <br>
              <%= f.submit 'Buscar', class: 'btn btn-primary' %>

            </div>

          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-striped table-hover table-bordered">

          <thead>
          <tr>
            <th>#</th>
            <th>Código</th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th></th>
          </tr>
          </thead>

          <tbody>

            <% @users.each_with_index do |user, index| %>

              <tr>
                <td><%= index+1 %></td>

                <td><%= user.codigo %></td>
                <td><%= user.apellidos %></td>
                <td><%= user.nombre %></td>
                <td>

                  <% folder_reader = FolderReader.new %>
                  <%= form_for folder_reader, url: create_folder_reader_path do |f| %>
                    <%= hidden_field :user, :id, value: user.id %>
                    <div class="actions">
                      <%= f.submit 'Otorgar permiso de lectura', class: 'btn btn-primary' %>
                    </div>
                  <% end %>

                </td>
              </tr>

            <% end %>

          </tbody>

        </table>

      </div>
    </div>

  </div>

</div>