<div class="row">
  <div class="col-md-3">
    <% if @folder_file.folder %>
      <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la biblioteca'.html_safe, folder_path(@folder_file.folder), class: 'btn btn-default', tabindex: '-1' %>
    <% else %>
      <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la biblioteca'.html_safe, folders_path, class: 'btn btn-default', tabindex: '-1' %>
    <% end %>



  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      <%= @folder.nombre %>
      <span>> Reemplazar archivo </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">


    <%= render 'folder_file_form' %>

  </div>
</div>

