
<a class="btn btn-block btn-primary" href="<%= user_course_path(user_course) %>">

  <% if user_course.dncp && user_course.dncp.asistencia_presencial %>

    Ingresar al curso

  <% else %>

    Continuar curso

  <% end %>



</a>




