
<a class="btn btn-block btn-primary" onclick="continuar_curso_<%= user_course.id %>();">

  <% if user_course.dncp && user_course.dncp.asistencia_presencial %>

    Ingresar al curso

  <% else %>

    Continuar curso

  <% end %>



</a>

<script language="JavaScript">
  function continuar_curso_<%= user_course.id %>(){
    window.open('<%=user_course_path(user_course)%>', 'course_<%=user_course.id%>', 'directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,width='+screen.width+',height='+screen.height);
  }
</script>



