<% numero_oportunidades_left = course.numero_oportunidades-user_courses.length %>



    <a href="#confirmar_inicio_<%= program_course.id %>" class="btn btn-block btn-success" data-toggle="modal">

    <% if user_courses.length == 0 %>

      Iniciar curso

    <% else %>

      Reiniciar curso

    <% end %>

    </a>



<div id="confirmar_inicio_<%= program_course.id %>" class="modal fade normal-text" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= course.nombre %></h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-3">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= course.descripcion.html_safe if course.descripcion %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Objetivos</strong>
          </div>
          <div class="col-md-9">
            <%= course.objetivos.html_safe if course.objetivos %>
          </div>
        </div>
        <br>
        <% if course.dedicacion_estimada > 0 %>
        <div class="row">
          <div class="col-md-3">
            <strong>Dedicación estimada</strong>
          </div>
          <div class="col-md-9">
            <%= course.dedicacion_estimada.to_i == course.dedicacion_estimada ? course.dedicacion_estimada.to_i : course.dedicacion_estimada %>
            hora(s)
          </div>
        </div>
        <br>
        <% end %>
        <div class="row">
          <div class="col-md-3">
            <strong>Consideraciones</strong>
          </div>
          <div class="col-md-9">
            <strong>Límite de tiempo</strong><br>
            <% if course.duracion > 0 %>
              <% fecha_limite = lms_time + course.duracion.days %>
              Si
              <% if user_courses.length == 0 %>
                inicia
              <% else %>
                reinicia
              <% end %>
              el curso en este momento, dispondrá hasta el
              <span class="label label-success">
                <%= (localize  fecha_limite, format: :day_snmonth) %>
              </span>
              (<%= distance_of_time_in_words(lms_time, fecha_limite) %>)
              para terminarlo.
            <% else %>
              No existe límite de tiempo para terminar el curso.
            <% end %>
            <br><br>
            <% if numero_oportunidades_left == 1 %>
              <strong>Oportunidad</strong><br>
              Esta es la
              <% if course.numero_oportunidades == 1 %>
                única
              <% else %>
                última
              <% end %>
              oportunidad para aprobar el curso.
              <br>
            <% end %>
          </div>

        </div>
        <br>

        <% order_course_elements course %>

        <table class="table table-bordered ">

          <thead>

          <tr>
            <th colspan="3">Tabla de Contenidos</th>
          </tr>

          </thead>

          <tbody>

          <% @elements.each_with_index do |element, index| %>

            <%
               ei = @elements_ids[index].split('-')
               tipo = ei[0]
               id =  ei[1]

               el = nil

               el = course.units.find(id) if tipo=='u'
               el = course.evaluations.find(id) if tipo=='e'
               el = course.polls.find(id) if tipo=='p'

            %>

            <tr>
              <td><%= el.orden %></td>
              <td><%= el.nombre %></td>
              <td>

                <% if tipo=='u' %>
                  <span class="label label-warning">Unidad de contenido</span>
                <% end %>

                <% if tipo=='e' %>
                  <span class="label label-danger">Evaluación</span>
                <% end %>

                <% if tipo=='p' %>
                  <span class="label label-primary">Encuesta</span>
                <% end %>

              </td>

            </tr>


          <% end %>



          </tbody>

        </table>



      </div>
      <div class="modal-footer">

        <div class="row">

          <div class="col-md-4 col-md-offset-1">
            <button type="button" class="btn btn-block btn-danger" data-dismiss="modal">Cancelar</button>
          </div>

          <div class="col-md-4 col-md-offset-2">

            <% user_course = UserCourse.new %>
            <%= form_for user_course, url: user_course_create_path, html: {class: 'margin-zero'} do |f| %>
              <%= f.hidden_field :program_course_id, value: program_course.id %>
              <%= f.hidden_field :enrollment_id, value: enrollment.id %>

              <% if user_courses.length == 0 %>

                <%= f.submit 'Iniciar curso', class: 'btn btn-block btn-success' %>

              <% else %>

                <%= f.submit 'Reiniciar curso', class: 'btn btn-block btn-success' %>

              <% end %>

          <% end %>

          </div>

          <div class="col-md-1"></div>


        </div>
      </div>
    </div>
  </div>
</div>
