<% course = user_course.course %>

    <a href="#confirmar_inicio_<%= user_course.program_course.id %>" class="btn btn-block btn-success" data-toggle="modal">

      <% if user_course.numero_oportunidad == 1 %>

        Iniciar curso

      <% else %>

        Reiniciar curso

      <% end %>

    </a>

<div id="confirmar_inicio_<%= user_course.program_course.id %>" class="modal fade normal-text" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= course.nombre %></h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-3">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= course.descripcion.html_safe if course.descripcion %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Objetivos</strong>
          </div>
          <div class="col-md-9">
            <%= course.objetivos.html_safe if course.objetivos %>
          </div>
        </div>
        <br>
        <% if course.dedicacion_estimada > 0 %>
          <div class="row">
            <div class="col-md-3">
              <strong>Dedicación estimada</strong>
            </div>
            <div class="col-md-9">
              <%= course.dedicacion_estimada.to_i == course.dedicacion_estimada ? course.dedicacion_estimada.to_i : course.dedicacion_estimada %>
              hora(s)
            </div>
          </div>
          <br>
        <% end %>
        <div class="row">
          <div class="col-md-3">
            <strong>Consideraciones</strong>
          </div>
          <div class="col-md-9">
            <strong>Límite de tiempo</strong><br>
            <p>
              El curso estará disponible hasta el
              <span class="label label-success">
                <%= (localize  user_course.hasta, format: :day_snmonth) %>
              </span>
              ( <%= distance_of_time_in_words(lms_time, user_course.hasta) %> más )
            </p>

            <% if user_course.course.duracion > 0 %>
              <% fecha_limite = lms_time + user_course.course.duracion.days %>
              <% fecha_limite = user_course.hasta if fecha_limite > user_course.hasta %>
              <p>
                Si
                <% if user_course.numero_oportunidad == 1 %>
                  inicia
                <% else %>
                  reinicia
                <% end %>
                el curso en este momento, dispondrá hasta el
                <span class="label label-success">
                  <%= (localize  fecha_limite, format: :day_snmonth) %>
                </span>
                (<%= distance_of_time_in_words(lms_time, fecha_limite) %>)
                para terminarlo.
              </p>
            <% end %>
          </div>
        </div>
        <br>

        <% order_course_elements course, true %>





      </div>
      <div class="modal-footer">
        <div class="col-md-4 col-md-offset-1">
          <button type="button" class="btn btn-block btn-danger" data-dismiss="modal">Cancelar</button>
        </div>

        <div class="col-md-4 col-md-offset-2">

          <%= form_for user_course, url: user_course_update_path(user_course), html: {class: 'margin-zero'} do |f| %>

            <% if user_course.numero_oportunidad == 1 %>

              <%= f.submit 'Iniciar curso', class: 'btn btn-block btn-success'%>

            <% else %>

              <%= f.submit 'Reiniciar curso', class: 'btn btn-block btn-success' %>

            <% end %>

          <% end %>

          <% if user_course.dncp && user_course.dncp.asistencia_presencial %>



              <script>
                window.location.replace("<%= user_course_update_automatic_path(user_course)%>");
              </script>



          <% end %>

        </div>

        <div class="col-md-1"></div>

      </div>
    </div>
  </div>
</div>
