<a href="<%= user_course_confirmacion_abierto_path(program_course.id, enrollment.id) %>" class="btn btn-block btn-success">

  <% if user_courses.length == 0 %>

      Iniciar curso

  <% else %>

      Reiniciar curso

  <% end %>

</a>