

  <a class="btn btn-block btn-warning" onclick="window.open('<%=user_course_path(user_course)%>', 'course_<%=user_course.id%>', 'directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,width='+screen.width+',height='+screen.height);">

    <%

      encuesta_satisfaccion_pendiente = false

      user_course.course.polls.each do |poll|

        if poll.tipo_satisfaccion && user_course.dncp && !user_course.dncp.poll_presencial

          user_course_poll = user_course.user_course_polls.find_by_poll_id(poll.id)

          if user_course_poll

            unless user_course_poll.finalizada

              encuesta_satisfaccion_pendiente = true

            end

          else

            encuesta_satisfaccion_pendiente = true

          end

        end

      end



    %>

    <% if encuesta_satisfaccion_pendiente %>

      <nobr> Responder encuesta </nobr>

    <% else %>

      <nobr> Consultar curso </nobr>

    <% end %>




  </a>
