<!--
<div id="noFlashSupported" style="display: none;">Este contenido no puede ser visualizado desde su dispositivo movil.</div>
-->
<!--
<iframe id="loader" src="about:blank" frameborder="0" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100vw; height: 100vh;"></iframe>
-->
<% directory = @company.directorio+'/'+@company.codigo+'/contenidos/'+@unit.master_unit.crypted_name+'/' %>

<% src = '' %>

<% if File.exist?(directory+'index.html') %>

  <% src=request.base_url + '/storage/' + @company.codigo+'/contenidos/'+@unit.master_unit.crypted_name+'/index.html' %>

<% elsif File.exist?(directory+'index.shtml') %>

  <% src=request.base_url + '/storage/' + @company.codigo+'/contenidos/'+@unit.master_unit.crypted_name+'/index.shtml' %>

<% elsif File.exist?(directory+'mu'+@unit.master_unit.numero.to_s+'.pdf') %>

  <% src =request.base_url + '/pdf-viewer/web/viewer.html?file=../../storage/' + @company.codigo + '/contenidos/' + @unit.master_unit.crypted_name+'/mu'+@unit.master_unit.numero.to_s + '.pdf' %>

<% else %>

    <span class="label label-default">No hay contenido</span>

<% end %>

<script>
  /*
  $(function () {
    $('#loader').attr('src', '<%= src %>');
  });
*/

  /*        $(function(){
   $('#loader').on('load', function(){
   $('#loader').contents().find('video').css('width', '100%')
   });
   });*/
/*
  $(function () {
    $('#loader').on('load', function () {
      if ($('#loader').contents().find('embed[src$=swf]').length > 0 ||
          $('#loader').contents().find('object[data$=swf]').length >0) {
        $('#loader').remove();
        $('#noFlashSupported').show();
      } else {
        $('#loader').contents().find('video').css('width', '100%');
        $('#noFlashSupported').remove();
      }

    });
    setTimeout("window.opener.location.reload()",3000);
  });


*/



  $(document).ready(function() {
    window.opener.location.reload();
    <% unless src.blank? %>
      window.location.href = "<%= src %>";
    <% end %>

  });

</script>

<% unless @unit.finaliza_automaticamente %>
<!--
    <script>
      function finalizar_unidad(){
        $.ajax({url: '<%= user_course_finish_unit_path @user_course, @unit %>'});
        setTimeout("window.opener.location.reload()",7000);
      }
    </script>
-->
<% end %>

<script>
  function datos_usuario(){
    var datos = ["<%= user_connected.codigo %>","<%= user_connected.apellidos %>","<%= user_connected.nombre %>"];

    <% LmsCharacteristic.unit.each do |lms_c| %>

    <% user_cha = user_connected.user_characteristic(lms_c.characteristic) %>

    <% if user_cha %>

    <%= ('datos.push("'+user_cha.formatted_value.to_s+'");').html_safe %>

    <% end %>

    <% end %>

    return datos;
  }

  function check_status_unit(){

    <% if @user_course_unit.finalizada? %>
    return true;
    <% else %>
    return false;
    <% end %>

  }

  function get_fecha_fin_unidad(){
    <% if @user_course_unit.finalizada? %>
    f = "<%= localize(@user_course_unit.fin, format: :full_date) %>";
    return f;
    <% else %>
    return null;
    <% end %>
  }

</script>