<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">

      <div class="panel-body">
        <legend><%= @evaluation.nombre %></legend>
        <div class="row">
          <div class="col-md-3">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @evaluation.descripcion %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Nota mínima</strong>
          </div>
          <div class="col-md-9">
            <%= @evaluation.course.nota_minima %> <%= tipo_nota(@evaluation.course) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<% if @evaluation.aplicar_tiempo %>

    <div class="row">
      <div class="col-md-2 col-md-offset-9">
        <div class="panel panel-default">

          <div class="panel-body" id="defaultCountdown">
          </div>
        </div>

      </div>
    </div>

    <script>


      function getTime() {
        var d = new Date();
        return d.getTime();
      }

      function checkTime() {

        var current_time = getTime();

        if (Math.abs(current_time - prev_time) > 5000) {
          $('#defaultCountdown').countdown('destroy');
          enviar_respuestas_ya(init_dif_time - dif_time);
          start_clock(init_dif_time - dif_time);
        } else {
          dif_time = dif_time + 1;
        }
        prev_time = current_time;
      }

      function start_clock(until) {

        var format = 'MS';
        if (until >= 3600) {
          format = 'HMS';
        }

        $('#defaultCountdown').countdown({
          until: until,
          format: format,
          compact: true,
          onExpiry: enviar_respuestas
        });

      }

      function enviar_respuestas() {
        $('#new_user_course_evaluation').submit();
      }

      function enviar_respuestas_ya(until) {
        if (until <= 0) {
          enviar_respuestas();
        }
      }


      var prev_time = getTime();
      var first_time = prev_time;
      var init_dif_time = <%= (@evaluation.tiempo*60) - (lms_time - @user_course_evaluation.inicio) %>;
      var dif_time = 0;

      $(document).ready(function () {
        enviar_respuestas_ya(init_dif_time);
        start_clock(init_dif_time);
        setInterval(checkTime, 1000);
      });


    </script>

    <br>

<% end %>

<%

  pregs_por_responder = 0
  total_pregs_por_responder = 0
  numeros_pregs_por_responder = Array.new

  @user_course_evaluation.user_course_evaluation_questions.each_with_index do |user_course_evaluation_question, index|

    total_pregs_por_responder += 1

    unless user_course_evaluation_question.respondida

      pregs_por_responder += 1
      numeros_pregs_por_responder.push index+1

    end

  end

%>

<% if pregs_por_responder != total_pregs_por_responder && pregs_por_responder > 0 %>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="alert alert-danger">
          Aún debe responder <%= pluralize(pregs_por_responder, 'pregunta', 'preguntas') %>: Número
          <% numeros_pregs_por_responder.each_with_index do |n_preg, index| %>

              <% if index == numeros_pregs_por_responder.length - 1 && numeros_pregs_por_responder.length > 1 %>

                  y

              <% elsif index > 0 %>

                  ,

              <% end %>

              <%= n_preg %>

          <% end %>
        </div>
      </div>
    </div>

<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">

      <div class="panel-body">

        <% user_course_evaluation = UserCourseEvaluation.new %>

        <%= form_for user_course_evaluation, url: answer_user_course_evaluation_path(@user_course, @evaluation), html: {class: 'margin-zero'} do |f| %>


            <% @user_course_evaluation.user_course_evaluation_questions.each do |user_course_evaluation_question| %>

                <% question = user_course_evaluation_question.master_evaluation_question %>



                <div class="row pregunta-evaluacion-<%= $current_domain %>">


                  <div class="col-md-12">

                    <div class="row">
                      <div class="col-md-10">
                        <strong><%= user_course_evaluation_question.numero %>. </strong>
                        <%= question.texto.html_safe %>
                      </div>
                      <div class="col-md-2">

                        <strong><%= question.puntaje_formateado %> <%= question.puntaje == 1 ? 'punto' : 'puntos' %></strong>
                        <br>
                        <strong>Respuesta <%= question.respuesta_unica ? 'única' : 'múltiple' %></strong>
                      </div>
                    </div>
                    <br>

                    <% question.master_evaluation_alternatives.each_with_index do |alt, index_a| %>

                        <div class="row alternativa-pregunta-evaluacion">
                          <% unless user_course_evaluation_question.respondida %>

                              <% user_course_evaluation_question.update_attributes(fecha_inicio: lms_time) unless user_course_evaluation_question.fecha_inicio %>

                              <% if question.respuesta_unica %>

                                  <div class="radio radioBonito">
                                    <label><input id="pregunta_<%= user_course_evaluation_question.id %>_<%= alt.id %>" name="pregunta[<%= user_course_evaluation_question.id %>]" type="radio" value="<%= alt.id %>"/>
                                      <span class="cr"><i class="cr-icon fa fa-circle poll-circle"></i></span>
                                      <strong><%= alt.letra %>. </strong> <%= alt.texto.html_safe %>
                                    </label>
                                  </div>

                              <% else %>

                                  <div class="checkbox checkboxBonito">
                                    <label><input id="pregunta_<%= user_course_evaluation_question.id %>" name="pregunta[<%= user_course_evaluation_question.id %>][]" type="checkbox" value="<%= alt.id %>"/>
                                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                      <strong><%= alt.letra %>. </strong> <%= alt.texto.html_safe %>
                                    </label>
                                  </div>
                              <% end %>

                          <% end %>
                        </div>
                    <% end %>

                  </div>

                </div>

            <% end %>
            <br>
            <div class="row">
              <div class="col-md-12 text-center">
                <%= f.submit 'Responder', class: 'btn btn-success' %>
              </div>
            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>