<%= form_for(@user_course) do |f| %>
  <% if @user_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_course.errors.count, "error") %> prohibited this user_course from being saved:</h2>

      <ul>
      <% @user_course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :enrollment %><br />
    <%= f.text_field :enrollment %>
  </div>
  <div class="field">
    <%= f.label :program_course %><br />
    <%= f.text_field :program_course %>
  </div>
  <div class="field">
    <%= f.label :rango_fechas %><br />
    <%= f.check_box :rango_fechas %>
  </div>
  <div class="field">
    <%= f.label :desde %><br />
    <%= f.datetime_select :desde %>
  </div>
  <div class="field">
    <%= f.label :hasta %><br />
    <%= f.datetime_select :hasta %>
  </div>
  <div class="field">
    <%= f.label :limite_tiempo %><br />
    <%= f.check_box :limite_tiempo %>
  </div>
  <div class="field">
    <%= f.label :inicio %><br />
    <%= f.datetime_select :inicio %>
  </div>
  <div class="field">
    <%= f.label :fin %><br />
    <%= f.text_field :fin %>
  </div>
  <div class="field">
    <%= f.label :numero_oportunidad %><br />
    <%= f.number_field :numero_oportunidad %>
  </div>
  <div class="field">
    <%= f.label :iniciado %><br />
    <%= f.check_box :iniciado %>
  </div>
  <div class="field">
    <%= f.label :finalizado %><br />
    <%= f.check_box :finalizado %>
  </div>
  <div class="field">
    <%= f.label :aprobado %><br />
    <%= f.check_box :aprobado %>
  </div>
  <div class="field">
    <%= f.label :nota %><br />
    <%= f.text_field :nota %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
