<div class="row">

  <div class="col-md-12">

    <div class="container-course-<%= $current_domain %> <%= 'container-course-border-top-'+$current_domain if contador_cursos > 1 %>">

      <div class="row">

        <div class="col-md-12">
          <div class=" container-course-detalles">
            <div class="row">
              <div class="col-md-12 titulo-curso">
                <h3 class="ultra-light margin-zero"><strong><%= course.nombre %></strong></h3>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 desc-curso">
                <%= course.descripcion.html_safe %>
              </div>
            </div>

            <div class="row opciones">
              <div class="col-md-12 in">

                <div class="row">

                  <div class="col-md-12">
                    <strong>Estado</strong>

                    <% if estado == :no_iniciado %>
                        <span class="label label-default">No iniciado</span>
                    <% elsif estado == :en_progreso %>
                        <span class="label label-primary">En progreso</span>
                    <% elsif estado == :plazo_vencido %>
                        <span class="label label-danger">Plazo vencido</span>
                    <% elsif estado == :aprobado %>
                        <% if user_course.nota %>
                            <span class="label label-success">Aprobado</span>
                        <% else %>
                            <span class="label label-success">Cursado</span>
                        <% end %>
                    <% elsif estado == :reprobado %>
                        <span class="label label-danger">Reprobado</span>
                    <% end %>

                  </div>

                  <div class="col-md-12">

                    <% if estado == :aprobado %>
                        <% if user_course.nota %>
                            <br>
                            <nobr><strong>Nota final</strong></nobr>


                                            <span class="label label-success">
                                              <%= format_nota(user_course.nota) %> <%= tipo_nota(course) %>

                                            </span>
                        <% end %>
                    <% elsif estado == :reprobado %>
                        <% if user_course.nota %>
                            <br>
                            <nobr><strong>Nota final</strong></nobr>

                                            <span class="label label-danger">
                                              <%= format_nota(user_course.nota) %> <%= tipo_nota(course) %>
                                            </span>
                        <% end %>
                    <% elsif estado == :en_progreso %>
                        <br>
                        <strong>Avance</strong>

                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="<%= user_course.porcentaje_avance.to_i %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= user_course.porcentaje_avance.to_i %>%;">
                            <%= user_course.porcentaje_avance.to_i %>%
                          </div>
                        </div>

                    <% elsif enrollment.program.especifico && (estado == :no_iniciado || estado == :plazo_vencido) %>

                        <% if lms_time < user_course.desde %>
                            <br>
                            <strong>Iniciará</strong>


                                              <span class="label label-success">
                                                <%= (localize user_course.desde, format: :day_snmonth) %>
                                              </span>

                                              <span class="label label-success">
                                                en <%= distance_of_time_in_words(lms_time, user_course.desde) %>
                                              </span>
                        <% else %>
                            <br>
                            <strong>Inició</strong>


                                              <span class="label label-success">
                                                <%= (localize user_course.desde, format: :day_snmonth) %>
                                              </span>

                        <% end %>

                    <% end %>

                  </div>

                  <div class="col-md-12">

                    <% if estado == :en_progreso %>

                        <% if user_course.fecha_tope %>
                            <br>
                            <strong>Termina</strong>
                            <nobr>
                              <span class="label label-primary">
                                <%= (localize user_course.fecha_tope, format: :day_snmonth) %>
                              </span>
                              &nbsp;
                              <span class="label label-primary">En
                                <%= distance_of_time_in_words(lms_time, user_course.fecha_tope) %>
                              </span>
                            </nobr>

                        <% end %>

                    <% elsif enrollment.program.especifico && (estado == :no_iniciado || estado == :plazo_vencido) %>

                        <% if user_course.fecha_tope < lms_time %>
                            <br>
                            <strong>Terminó</strong>

                                            <span class="label label-success">
                                              <%= (localize user_course.fecha_tope, format: :day_snmonth) %>
                                            </span>
                        <% else %>
                            <br>
                            <strong>Termina</strong>

                                            <span class="label label-success">
                                              <%= (localize user_course.fecha_tope, format: :day_snmonth) %>
                                            </span>

                                            <span class="label label-success">
                                              en <%= distance_of_time_in_words(lms_time, user_course.fecha_tope) %>
                                            </span>
                        <% end %>

                    <% end %>

                  </div>

                </div>

                <% if program_course.consultable %>

                  <div class="row">

                    <div class="col-md-12">
                      <br>
                      <% if estado_boton == :resultados %>

                        <%= render partial: 'user_courses/button_consultar_mobile',
                                   locals:{
                                     user_course: user_course

                                   }
                        %>

                      <% elsif estado_boton == :continuar %>

                        <%= render partial: 'user_courses/button_continuar_mobile',
                                   locals:{
                                     user_course: user_course
                                   }
                        %>

                      <% elsif estado_boton == :iniciar %>



                        <% if enrollment.program.especifico %>

                          <%= render partial: 'user_courses/button_iniciar_especifico_mobile',
                                     locals: {
                                       user_course: user_course
                                     }
                          %>

                        <% else %>

                          <%= render partial: 'user_courses/button_iniciar_abierto_mobile',
                                     locals: {
                                       program_course: program_course,
                                       enrollment: enrollment,
                                       course: course,
                                       user_courses: user_courses
                                     }
                          %>


                        <% end %>

                      <% elsif estado_boton == :aun_no_iniciar %>

                        <% if user_course.numero_oportunidad == 1 %>

                          <button class="btn btn-block disabled" disabled="disabled">
                            Iniciar curso
                          </button>

                        <% else %>

                          <button class="btn btn-block disabled" disabled="disabled">
                            Reiniciar curso
                          </button>

                        <% end %>

                      <% end %>

                    </div>

                  </div>

                <% end %>

              </div>
            </div>
          </div>
        </div>

      </div>


    </div>

  </div>


</div>