
<%company = @company %>
<% @enrollments = user_connected.enrollments_order_by_program %>

<div class="row">
  <div class="col-md-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <ul class="nav nav-pills nav-stacked" id="tab_programs">

          <%

            unless session[:dashboard_program_tab] || session[:dashboard_program_training_type_tab]
              last_uc = user_connected.user_courses.reorder('updated_at DESC').first
              if last_uc && last_uc.enrollment.program.activo
                session[:dashboard_program_tab] = last_uc.enrollment.program.id
                session[:dashboard_program_training_type_tab] = last_uc.course.training_type ? last_uc.course.training_type_id : ''
              end

            end

          %>

          <% @enrollments.each_with_index do |enrollment| %>

            <% if enrollment.program.activo && enrollment.active %>

              <% session[:dashboard_program_tab] = enrollment.program.id unless session[:dashboard_program_tab] %>

              <li style="" id="techito_li_<%=enrollment.program.id%>" class="<%='active' if session[:dashboard_program_tab] == enrollment.program.id %>" >

                <% program_training_types = enrollment.program.training_types %>

                <% if program_training_types.size > 0 %>

                  <a role="button" data-toggle="collapse" href="#menu_<%= enrollment.program.id %>" aria-expanded="false" aria-controls="menu_<%= enrollment.program.id %>">
                    <%= enrollment.program.nombre %>
                  </a>

                <% else %>

                  <a data-toggle="tab"  class="mouse_pointer" data-target="#program_<%=enrollment.program.id%>_">
                    <%= enrollment.program.nombre %>
                  </a>

                <% end %>


                <% if program_training_types.size > 0 %>

                  <div class="collapse" id="menu_<%= enrollment.program.id %>">
                    <div class="well">
                      <% index_tt = 0 %>
                      <% program_training_types.each do |training_type| %>

                        <% session[:dashboard_program_training_type_tab] = training_type.id unless session[:dashboard_program_training_type_tab] %>

                        <% if index_tt > 0 %>
                          <hr id="hr_<%= enrollment.program.id %>_<%= training_type.id if training_type %>">
                        <% end %>
                        <div id="pill_div_<%=enrollment.program.id%>_<%= training_type.id %>" style="position: relative; padding-right: 10px;">
                          <a data-toggle="tab" class="mouse_pointer" data-target="#program_<%=enrollment.program.id%>_<%= training_type.id %>" style="border-top: 0px; position: relative;" id="pill_<%=enrollment.program.id%>_<%= training_type.id %>">
                            <%= training_type.nombre %>
                          </a>
                        </div>

                        <% index_tt+= 1 %>

                      <% end %>

                      <% if enrollment.program.has_non_training_type_course %>
                        <% session[:dashboard_program_training_type_tab] = '' unless session[:dashboard_program_training_type_tab] %>
                        <% if index_tt > 0 %>
                          <hr id="hr_<%= enrollment.program.id %>_">
                        <% end %>
                        <a data-toggle="tab" class="mouse_pointer" data-target="#program_<%=enrollment.program.id%>_" style="border-top: 0px;" id="pill_<%=enrollment.program.id%>_">
                          Otros
                        </a>
                      <% end %>

                    </div>
                  </div>

                  <% if session[:dashboard_program_tab] == enrollment.program.id %>

                    <script>
                      $("#menu_<%= enrollment.program.id %>").collapse('show');
                    </script>

                  <% end %>



                <% end %>

                <script>
                  function techito_tab_over_<%=enrollment.program.id%>(){
                    $('#techito_<%=enrollment.program.id%>').css('background-color','#<%= enrollment.program.color %>')
                  }

                  function techito_tab_out_<%=enrollment.program.id%>(){
                    if(!$('#techito_li_<%=enrollment.program.id%>').hasClass('active')){
                      $('#techito_<%=enrollment.program.id%>').css('background-color','transparent')
                    }
                  }

                  function techito_tab_change_<%=enrollment.program.id%>(){
                    <% @enrollments.each do |en| %>
                    $('#techito_<%=en.program.id%>').css('background-color','transparent')
                    <% end %>

                    $('#techito_<%=enrollment.program.id%>').css('background-color','#<%= enrollment.program.color %>')

                  }


                </script>

              </li>
            <% end %>
          <% end %>

        </ul>

      </div>
    </div>
  </div>
  <div class="col-md-9">

    <div class="tab-content">

      <% @enrollments.each_with_index do |enrollment, num_program| %>

        <% contador_cursos_total = 0 %>

        <% if enrollment.program.activo && enrollment.active %>

          <% program_training_types = enrollment.program.training_types %>

          <% program_training_types_size = program_training_types.size %>

          <% program_training_types.push(nil) if enrollment.program.has_non_training_type_course %>

          <% index_tt = 0 %>

          <% program_training_types.each do |training_type| %>

            <% training_type_id = training_type ? training_type.id : '' %>

            <div class="tab-pane <%='active' if session[:dashboard_program_tab] == enrollment.program.id && session[:dashboard_program_training_type_tab] == training_type_id %>" id="program_<%=enrollment.program.id%>_<%= training_type.id if training_type %>">

              <div class="panel panel-default">
                <div class="panel-body" id="techito_<%=enrollment.program.id%>" style="border-top: 2px solid <%= '#'+enrollment.program.color+';'%>">

                  <legend class="titulo-curso-<%= $current_domain %>">

                    <h3 class="ultra-light margin-zero"><strong><%= enrollment.program.nombre %></strong></h3>

                    <% if program_training_types_size > 0 %>

                      <h5 class="ultra-light margin-zero"><strong><em><%= training_type ? training_type.nombre : 'Otros' %></em></strong></h5>

                    <% end %>

                  </legend>


                  <% if ($current_domain == 'epacasmayo' || $current_domain == 'epacasmayo-training') && enrollment.program.nombre == 'Competencias y Habilidades' %>

                    <a href="#myModal_banner" role="button" data-toggle="modal">
                      <i class="fa fa-th-large title-text-color-<%= $current_domain %>"></i> Malla por Competencias
                    </a>

                    <div id="myModal_banner" class="modal fade modal-wide-60" style="height:580px"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body" style="overflow-y:visible;" >
                            <div>
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <img width="100%" src='/assets/banner/malla_competencias.jpg' class="img-rounded"/>
                          </div>
                        </div>
                      </div>
                    </div>

                  <% end %>

                  <% if ($current_domain == 'pacificocrece' || $current_domain == 'pacificocrece-training') && enrollment.program.nombre == 'Cursos Normativos' %>
<!--
                    <a href="#myModal_banner" role="button" data-toggle="modal">
                      <i class="fa fa-th-large title-text-color-<%= $current_domain %>"></i> Cronograma de Cursos Normativos 2015
                    </a>

                    <div id="myModal_banner" class="modal fade modal-wide-80" style="height:580px"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body" style="overflow-y:visible;" >
                            <div>
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <img width="100%" src='/assets/banner/cursos_normativos.jpg' class="img-rounded"/>
                          </div>
                        </div>
                      </div>
                    </div>
-->
                  <% end %>

                  <% contador_cursos = 0 %>

                  <% contador_cursos_no_iniciados = 0 %>

                  <% courses_shown = [] %>

                  <% enrollment.level.visible_program_courses_by_training_type_ordered(training_type).each_with_index do |program_course, index| %>

                    <% course = program_course.course %>

                    <% estado, estado_boton, user_course, user_courses = user_course_status(enrollment, program_course) %>

                    <% if
                       estado == :no_iniciado ||
                           estado == :en_progreso ||
                           ( (estado == :aprobado || estado == :reprobado) && user_course.fin && user_course.fin >= lms_time-1.week) ||
                           (estado == :plazo_vencido && user_course.fecha_tope && user_course.fecha_tope >= lms_time-1.week) ||
                           estado_boton == :continuar || estado_boton == :iniciar
                    %>

                      <% contador_cursos += 1 %>


                      <% contador_cursos_no_iniciados +=1 if estado == :no_iniciado %>

                      <%= render partial: 'user_courses/index_item',
                                 locals: {
                                     enrollment: enrollment,
                                     program_course: program_course,
                                     user_courses: user_courses,
                                     user_course: user_course,
                                     estado: estado,
                                     estado_boton: estado_boton,
                                     course: course,
                                     contador_cursos: contador_cursos,
                                     company: company
                                 }
                      %>

                      <% courses_shown.push user_course.id if user_course %>

                    <% end %>

                  <% end %>

                  <% ver_link_mas = false %>

                  <% if contador_cursos < 5 %>

                    <% enrollment.level.visible_program_courses_by_training_type_ordered(training_type).each_with_index do |program_course, index| %>

                      <% course = program_course.course %>

                      <% estado, estado_boton, user_course, user_courses = user_course_status(enrollment, program_course) %>

                      <% if
                         ((estado == :aprobado || estado == :reprobado) && user_course.fin && user_course.fin < lms_time-1.week) ||
                             (estado == :plazo_vencido && user_course.fecha_tope && user_course.fecha_tope < lms_time-1.week)
                      %>

                        <% unless courses_shown.include? user_course.id %>

                          <% if contador_cursos < 5 %>

                            <% contador_cursos += 1 %>

                            <%= render partial: 'user_courses/index_item',
                                       locals: {
                                           enrollment: enrollment,
                                           program_course: program_course,
                                           user_courses: user_courses,
                                           user_course: user_course,
                                           estado: estado,
                                           estado_boton: estado_boton,
                                           course: course,
                                           contador_cursos: contador_cursos,
                                           company: company
                                       }
                            %>

                          <% else %>

                            <% ver_link_mas = true %>
                            <% break %>

                          <% end %>

                        <% end %>

                      <% end %>

                    <% end %>

                  <% end %>

                  <% if contador_cursos_no_iniciados > 0 %>

                    <script>

                      var contador_pendientes = '<div style="position: absolute; top: 0; right: -15px;"><span class="badge bg-color-greenLight inbox-badge" style=" font-size: 10px;"><%= contador_cursos_no_iniciados %></span></div>';
                      $("#pill_div_<%=enrollment.program.id%>_<%= training_type.id if training_type %>").append(contador_pendientes);

                    </script>

                  <% end %>

                  <% if contador_cursos == 0 %>

                    <div class="alert alert-info">

                      Usted no tiene cursos vigentes en este Programa.
                      Para ver su historial de cursos, ingrese a la Ficha de Usuario y consulte la pestaña de Historial de Capacitación
                    </div>

                    <script>
                      $( document ).ready(function() {
                        $("#pill_<%=enrollment.program.id%>_<%= training_type.id if training_type %>").hide();
                        $("#program_<%=enrollment.program.id%>_<%= training_type.id if training_type %>").hide();

                        $("#hr_<%=enrollment.program.id%>_<%= training_type.id if training_type %>").hide();

                      });
                    </script>

                  <% elsif ver_link_mas %>

                    <div class="text-right">

                      <%= link_to 'Ver historial', show_user_profile_path %>

                    </div>

                  <% end %>

                  <% if contador_cursos > 0 %>

                    <% contador_cursos_total += contador_cursos %>

                    <% if index_tt == 0 %>
                      <script>
                        $("#hr_<%=enrollment.program.id%>_<%= training_type.id if training_type %>").hide();
                      </script>
                    <% end %>

                    <% index_tt += 1 %>

                  <% end %>

                </div>
              </div>

            </div>

          <% end %>

        <% end %>

        <% if contador_cursos_total == 0 %>

          <script>
            $( document ).ready(function() {
              $("#techito_li_<%=enrollment.program.id%>").hide();
            });
          </script>

        <% end %>

      <% end %>

    </div>
  </div>
</div>




<% if flash[:from] && flash[:from] != '' %>
  <script language="JavaScript">
    window.onload(continuar_curso_<%= flash[:from] %>());
  </script>
<% end %>



<script>
  $(document).ready(function(){
    var highest = null;

    $(".nav-tabs a").each(function(){  //find the height of your highest link
      var h = $(this).height();
      if(h > highest){
        highest = $(this).height();
      }
    });

    $(".nav-tabs a").height(highest);  //set all your links to that height.
  });
</script>






