<div class="panel-group" id="accordion">

  <%company = @company %>
  <% @enrollments = user_connected.enrollments_order_by_program %>

  <%

    unless session[:dashboard_program_tab]
      last_uc = user_connected.user_courses.reorder('updated_at DESC').first
      session[:dashboard_program_tab] = last_uc.enrollment.program.id if last_uc && last_uc.enrollment.program.activo
    end

  %>

  <% @enrollments.each do |enrollment| %>
      <% if enrollment.program.activo && enrollment.active %>
          <% session[:dashboard_program_tab] = enrollment.program.id unless session[:dashboard_program_tab] %>

          <% if session[:dashboard_program_tab] == enrollment.program.id
               abierto= 'in'
             else
               abierto= ''
             end %>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-parent="#accordion" data-toggle="collapse" href="#prog_<%= enrollment.id.to_s %>" style="text-decoration: none;">
                  <div><%= enrollment.program.nombre %></div>
                </a>
              </h4>
            </div>
            <div id="prog_<%= enrollment.id.to_s %>" class="panel-collapse collapse <%= abierto %>">
              <div class="panel-body">


                <% contador_cursos = 0 %>

                <% enrollment.level.visible_program_courses_ordered.each_with_index do |program_course, index| %>

                    <% course = program_course.course %>

                    <% estado, estado_boton, user_course, user_courses = user_course_status(enrollment, program_course) %>

                    <% if estado == :no_iniciado ||
                        estado == :en_progreso ||
                        ((estado == :aprobado || estado == :reprobado) && user_course.fin && user_course.fin >= lms_time-1.week) ||
                        (estado == :plazo_vencido && user_course.fecha_tope && user_course.fecha_tope >= lms_time-1.week) ||
                        estado_boton == :continuar || estado_boton == :iniciar
                    %>


                        <% contador_cursos += 1 %>

                        <%= render partial: 'user_courses/index_item_mobile',
                                   locals: {
                                       enrollment: enrollment,
                                       program_course: program_course,
                                       user_courses: user_courses,
                                       user_course: user_course,
                                       estado: estado,
                                       estado_boton: estado_boton,
                                       course: course,
                                       contador_cursos: contador_cursos,
                                       company: company
                                   }
                        %>


                    <% end %>

                <% end %>

                <% ver_link_mas = false %>

                <% if contador_cursos < 5 %>

                    <% enrollment.level.visible_program_courses_ordered.each_with_index do |program_course, index| %>

                        <% course = program_course.course %>

                        <% estado, estado_boton, user_course, user_courses = user_course_status(enrollment, program_course) %>

                        <% if ((estado == :aprobado || estado == :reprobado) && user_course.fin && user_course.fin < lms_time-1.week) ||
                            (estado == :plazo_vencido && user_course.fecha_tope && user_course.fecha_tope < lms_time-1.week)
                        %>

                            <% if contador_cursos < 5 %>

                                <% contador_cursos += 1 %>

                                <%= render partial: 'user_courses/index_item_mobile',
                                           locals: {
                                               enrollment: enrollment,
                                               program_course: program_course,
                                               user_courses: user_courses,
                                               user_course: user_course,
                                               estado: estado,
                                               estado_boton: estado_boton,
                                               course: course,
                                               contador_cursos: contador_cursos,
                                               company: company
                                           }
                                %>

                            <% else %>

                                <% ver_link_mas = true %>
                                <% break %>

                            <% end %>

                        <% end %>

                    <% end %>

                <% end %>

                <% if contador_cursos == 0 %>

                    <div class="alert alert-info">

                      Usted no tiene cursos vigentes en este Programa.
                      Para ver su historial de cursos, ingrese a la Ficha de Usuario y consulte la pestaña de Historial
                      de Capacitación
                    </div>

                <% elsif ver_link_mas %>

                    <div class="text-right">

                      <%= link_to 'Ver historial', user_profile_path %>

                    </div>

                <% end %>


              </div>
              <!--<div class="panel-footer">Panel Footer</div>-->
            </div>
          </div>


      <% end %>
  <% end %>
</div>