<div id="generate_clock">



<script>

  $('#defaultCountdown').countdown({
    until: <%= (evaluation.tiempo*60) - (lms_time - user_course_evaluation.inicio) %>,
    format: '<%= ((evaluation.tiempo*60) - (lms_time - user_course_evaluation.inicio)) >= 3600 ? 'HMS' : 'MS' %>',
    compact: true,
    onExpiry: enviar_respuestas
  });

  function enviar_respuestas(){

    $('#new_user_course_evaluation').submit();

  }

  function enviar_respuestas_ya(){
    if((<%= (evaluation.tiempo*60) - (lms_time - user_course_evaluation.inicio) %>) <= 0){
      enviar_respuestas();
    }
  }

</script>

</div>