<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">

      <div class="panel-body">

        <legend>Información de la evaluación</legend>
        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @evaluation.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @evaluation.descripcion %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Nota mínima</strong>
          </div>
          <div class="col-md-9">
            <%= @evaluation.course.nota_minima %> <%= tipo_nota(@evaluation.course) %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Número de preguntas</strong>
          </div>
          <div class="col-md-9">
            <%= @evaluation.numero_preguntas %>
          </div>
        </div>
        <br>
        <% n_puntajes = @evaluation.master_evaluation.master_evaluation_questions.select(:puntaje).uniq.count %>
        <div class="row">
          <div class="col-md-3">
            <strong>Puntaje<%= 's' if n_puntajes > 1 %> por pregunta</strong>
          </div>
          <div class="col-md-9">
            <% @evaluation.master_evaluation.master_evaluation_questions.select(:puntaje).uniq.reorder(:puntaje).each_with_index do |q, index| %>

              <%= q.puntaje_formateado %><%= index+1 == n_puntajes-1 ? ' y' : ',' if index+1 < n_puntajes %>
            <% end %>
          </div>
        </div>
        <% if @evaluation.aplicar_tiempo %>
          <br>
          <div class="row">
            <div class="col-md-3">
              <strong>Duración</strong>
            </div>
            <div class="col-md-9">

              <% tiempo = 0 %>

              <% if @evaluation.tiempo %>
                <% tiempo = @evaluation.tiempo %>
                Una vez iniciada la evaluación, usted dispondrá de <span class="label label-info"><%= tiempo %> minutos</span> para finalizarla
              <% else %>
                  <% tiempo = @evaluation.master_evaluation.master_evaluation_questions.average(:tiempo) %>
                  <% tiempo = 0 unless tiempo && tiempo >= 0 %>
                  <% tiempo = tiempo / 60 %>
                  <% if tiempo > 0 %>
                    Una vez iniciada la evaluación, usted dispondrá de un tiempo promedio de <span class="label label-info"><%= tiempo %> minutos</span> por pregunta
                  <% end %>
              <% end %>

            </div>
          </div>
        <% end %>

        <% if @user_course_evaluation && @user_course_evaluation.from_date && @user_course_evaluation.to_date %>

          <br>
          <div class="row">
            <div class="col-md-3">
              <strong>Fecha inicio</strong>
            </div>
            <div class="col-md-9">

              <%= (localize @user_course_evaluation.from_date, format: :full_date_time) %>

              <% if lms_time > @user_course_evaluation.from_date %>
                <span class="label label-danger">Hace
                  <%= distance_of_time_in_words(@user_course_evaluation.from_date, lms_time) %>
                </span>
              <% else %>
                <span class="label label-primary">En
                  <%= distance_of_time_in_words(lms_time, @user_course_evaluation.from_date) %>
                </span>
              <% end %>

            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md-3">
              <strong>Fecha fin</strong>
            </div>
            <div class="col-md-9">

              <%= (localize @user_course_evaluation.to_date, format: :full_date_time) %>

              <% if lms_time > @user_course_evaluation.to_date %>

                <span class="label label-danger">Hace
                  <%= distance_of_time_in_words(@user_course_evaluation.to_date, lms_time) %>
                </span>

              <% else %>
                <span class="label label-primary">En
                  <%= distance_of_time_in_words(lms_time, @user_course_evaluation.to_date) %>
                </span>
              <% end %>

            </div>
          </div>

        <% end %>

        <br>
        <div class="row">
          <div class="col-md-12 text-center">

            <% if @evaluation.configurada? && (@user_course_evaluation.nil? || @user_course_evaluation && @user_course_evaluation.from_date <= lms_time && lms_time <= @user_course_evaluation.to_date) %>

              <% user_course_evaluation = UserCourseEvaluation.new %>

              <%= form_for user_course_evaluation, url: start_user_course_evaluation_path(@user_course, @evaluation), html: {class: 'margin-zero'} do |f| %>

                <%= f.submit 'Iniciar', class: 'btn btn-success' %>

              <% end %>

            <% else %>

              <button class="btn disabled" disabled="disabled">
                Iniciar
              </button>

            <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>


