<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">

      <div class="panel-body">

        <legend><%= @poll.nombre %></legend>
        <div class="row">
          <div class="col-md-3">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @poll.descripcion %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<%

  pregs_por_responder = 0
  total_pregs_por_responder = 0
  numeros_pregs_por_responder = Array.new

  @user_course_poll.user_course_poll_questions.each_with_index do |user_course_poll_question, index|


    total_pregs_por_responder += 1

    unless user_course_poll_question.respondida

      pregs_por_responder += 1
      numeros_pregs_por_responder.push index+1

    end

  end

%>

<% if pregs_por_responder != total_pregs_por_responder && pregs_por_responder > 0 %>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="alert alert-danger">
          Aún debe responder <%= pluralize(pregs_por_responder, 'pregunta', 'preguntas') %>: Número
          <% numeros_pregs_por_responder.each_with_index do |n_preg, index| %>

              <% if index == numeros_pregs_por_responder.length - 1 && numeros_pregs_por_responder.length > 1 %>

                  y

              <% elsif index > 0 %>

                  ,

              <% end %>

              <%= n_preg %>

          <% end %>
        </div>
      </div>
    </div>

<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">

      <div class="panel-body">


        <% user_course_poll = UserCoursePoll.new %>

        <%= form_for user_course_poll, url: answer_user_course_poll_path(@user_course, @poll), html: {class: 'margin-zero'} do |f| %>


            <% @user_course_poll.user_course_poll_questions.each do |user_course_poll_question| %>

                <% question = user_course_poll_question.master_poll_question %>

                <div class="row pregunta-evaluacion-<%= $current_domain %>">

                  <div class="col-md-12">

                    <div class="row">
                      <div class="col-md-10">
                        <strong><%= user_course_poll_question.numero %>. </strong>
                        <%= question.texto.html_safe %>
                      </div>
                      <div class="col-md-2">
                        <strong>

                          Respuesta
                          <% if question.answer_type == 0 %>
                            única
                          <% elsif question.answer_type == 1 %>
                            múltiple
                          <% else %>
                            texto
                          <% end %>

                        </strong>
                      </div>
                    </div>
                    <br>

                    <% if question.answer_type == 2 %>

                      <div class="row">

                        <div class="col-md-9 col-md-offset-1">
                          <% unless user_course_poll_question.respondida %>
                            <textarea name="pregunta[<%= user_course_poll_question.id %>]" id="pregunta_<%= user_course_poll_question.id %>" class="form-control"><%= user_course_poll_question.texto %></textarea>
                          <% end %>
                        </div>
                        <div class="col-md-2">

                        </div>

                      </div>

                    <% else %>

                      <% question.master_poll_alternatives.each_with_index do |alt, index_a| %>

                        <div class="row alternativa-pregunta-evaluacion">
                          <div class="col-md-1 text-right">

                            <% unless user_course_poll_question.respondida %>

                                <% if question.answer_type == 0 || question.respuesta_unica%>

                                    <%= radio_button :pregunta, user_course_poll_question.id, alt.id %>

                                <% else %>

                                    <input id="pregunta_<%= user_course_poll_question.id %>" name="pregunta[<%= user_course_poll_question.id %>][]" type="checkbox" value="<%= alt.id %>" />

                                <% end %>

                            <% end %>
                            <strong><%= alt.letra %>. </strong>
                          </div>
                          <div class="col-md-9">
                            <%= alt.texto.html_safe %>
                          </div>
                          <div class="col-md-2">

                          </div>
                        </div>

                      <% end %>

                    <% end %>

                  </div>

                </div>

            <% end %>
            <br>
            <div class="row">
              <div class="col-md-12 text-center">
                <%= f.submit 'Responder', class: 'btn btn-success' %>
              </div>
            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>