<div class="panel panel-default">
  <div class="panel-body">

    <div class="row">
      <div class="col-md-5">
        <strong>Estado</strong>
      </div>
      <div class="col-md-7">
        <% if estado == :no_iniciado %>
          <span class="label label-default">No iniciado</span>
        <% elsif estado == :en_progreso %>
          <span class="label label-primary">En progreso</span>
        <% elsif estado == :plazo_vencido %>
          <span class="label label-danger">Plazo vencido</span>
        <% elsif estado == :aprobado %>
          <% if @user_course.nota %>
            <span class="label label-success">Aprobado</span>
          <% else %>
            <span class="label label-success">Cursado</span>
          <% end %>
        <% elsif estado == :reprobado %>
          <span class="label label-danger">Reprobado</span>
        <% end %>
      </div>
    </div>

    <% if estado == :aprobado %>
      <% if @user_course.nota %>
        <br>
        <div class="row">
          <div class="col-md-5">
            <nobr><strong>Nota final</strong></nobr>
          </div>
          <div class="col-md-7">
                  <span class="label label-success">
                    <%= format_nota(@user_course.nota) %> <%= tipo_nota(course) %>
                  </span>
          </div>
        </div>
      <% end %>
    <% elsif estado == :reprobado %>
      <% if @user_course.nota %>
        <br>
        <div class="row">
          <div class="col-md-5">
            <nobr><strong>Nota final</strong></nobr>
          </div>
          <div class="col-md-7">
                  <span class="label label-danger">
                    <%= format_nota(@user_course.nota) %> <%= tipo_nota(course) %>
                  </span>
          </div>
        </div>
      <% end %>
    <% elsif estado == :en_progreso%>
      <br>
      <div class="row">
        <div class="col-md-5">
          <nobr><strong>Avance</strong></nobr>
        </div>
        <div class="col-md-7">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="<%= @user_course.porcentaje_avance.to_i %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @user_course.porcentaje_avance.to_i %>%;">
              <%= @user_course.porcentaje_avance.to_i %>%
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">





<% order_course_elements course, true %>

<table class="table table-hover">

<tbody>


<% @elements.each_with_index do |element, index| %>



  <%
     ei = @elements_ids[index].split('-')

     tipo = ei[0]
     id =  ei[1]

     el = nil

     el = course.units.find(id) if tipo=='u'
     el = course.evaluations.find(id) if tipo=='e'
     el = course.polls.find(id) if tipo=='p'

  %>

  <% if tipo=='u' %>
    <% acceso, motivos = verify_access_to_unit(@user_course, el) %>
  <% elsif tipo=='e' %>
    <% acceso, motivos = verify_access_to_evaluation(@user_course, el) %>
  <% elsif tipo =='p' %>
    <% acceso, motivos = verify_access_to_poll(@user_course, el) %>
  <% end %>

  <tr class="<%= 'elemento_course_selected-'+$current_domain if (@unit && @unit.id == el.id && tipo == 'u') || (@evaluation && @evaluation.id == el.id && tipo == 'e') || (@poll && @poll.id == el.id && tipo == 'p') %>">

  <td>

    <% if tipo=='u' %>

      <% user_course_unit = @user_course.user_course_units.find_by_unit_id(el.id) %>

      <% if user_course_unit && user_course_unit.finalizada %>

        <i id="unit_terminada_<%=el.id%>" class="fa fa-check-square-o" style="color: green;" data-toggle="tooltip" title="<%= @user_course.course.unit_alias.capitalize %> terminada"></i>
        <script>
          $('#unit_terminada_<%=el.id%>').tooltip({
            placement: 'right'
          });
        </script>

      <% end %>


    <% elsif tipo=='e' %>

      <% user_course_evaluation = @user_course.user_course_evaluations.find_by_evaluation_id(el.id) %>

      <% if user_course_evaluation && user_course_evaluation.finalizada %>

        <% if user_course_evaluation.aprobada %>
          <i id="evaluation_terminada_<%=el.id%>" class="fa fa-check-square-o" style="color: green;" data-toggle="tooltip" title="Evaluación aprobada"></i>
          <script>
            $('#evaluation_terminada_<%=el.id%>').tooltip({
              placement: 'right'
            });
          </script>
        <% else %>
          <i id="evaluation_terminada_<%=el.id%>" class="fa fa-times" style="color: #8b0000;" data-toggle="tooltip" title="Evaluación reprobada"></i>
          <script>
            $('#evaluation_terminada_<%=el.id%>').tooltip({
              placement: 'right'
            });
          </script>
        <% end %>



      <% end %>


    <% elsif tipo=='p' %>

      <% user_course_poll = @user_course.user_course_polls.find_by_poll_id(el.id) %>

      <% if user_course_poll && user_course_poll.finalizada %>

        <i id="poll_terminada_<%=el.id%>" class="fa fa-check-square-o" style="color: green;" data-toggle="tooltip" title="Encuesta terminada"></i>
        <script>
          $('#poll_terminada_<%=el.id%>').tooltip({
            placement: 'right'
          });
        </script>

      <% end %>

    <% end %>

  </td>

  <td>

    <div class="<%= 'text-muted' unless acceso %>">
      <% if tipo=='u' %>

        <% if acceso %>
          <% unless @unit && @unit.id == el.id %>
            <a href='<%=user_course_unit_path(@user_course,el)%>' style="color: #000;">
          <% end %>
        <% end %>

        <span class="label label-warning" style="width: 60px;"><%= @user_course.course.unit_alias %> <%= el.numero %></span>
        <% unless el.virtual %>
          <i class='fa fa-male'></i>
        <% end %>

        <br>
        <% if @unit && @unit.id == el.id %>
          <strong><%= el.nombre %></strong>
        <% else %>
          <%= el.nombre %>
        <% end %>

        <% if acceso %>
          <% unless @unit && @unit.id == el.id %>
            </a>
          <% end %>
        <% end %>

      <% end %>

      <% if tipo=='e' %>

        <% if acceso %>
          <% unless @evaluation && @evaluation.id == el.id %>
            <a href='<%=user_course_evaluation_path(@user_course,el)%>' style="color: #000;">
          <% end %>
        <% end %>

        <span class="label label-danger" style="width: 60px;">Evaluación</span>
        <% unless el.virtual %>
          <i class='fa fa-male'></i>
        <% end %>
        <br>
        <%= el.nombre %>

        <% if acceso %>
          <% unless @evaluation && @evaluation.id == el.id %>
            </a>
          <% end %>
        <% end %>
      <% end %>

      <% if tipo=='p' %>

        <% if acceso %>
          <% unless @poll && @poll.id == el.id %>
            <a href='<%=user_course_poll_path(@user_course,el)%>' style="color: #000;">
          <% end %>
        <% end %>

        <span class="label label-primary" style="width: 60px;">Encuesta</span>
        <% unless el.virtual %>
          <i class='fa fa-male'></i>
        <% end %><br>
        <%= el.nombre %>

        <% if acceso %>
          <% unless @poll && @poll.id == el.id %>
            </a>
          <% end %>
        <% end %>

      <% end %>

    </div>
  </td>
  <td>
  <div  class="text-right">

  <% if tipo=='u' %>

    <% if acceso %>

      <% if @unit && @unit.id == el.id %>

        <i id="ingresar_unit_<%=el.id%>" class="fa fa-eye" style="color: #3A87AD;" data-toggle="tooltip" title="Está viendo esta <%= @user_course.course.unit_alias %>"></i>

        <script>
          $('#ingresar_unit_<%=el.id%>').tooltip({
            placement: 'right'
          });
        </script>

      <% else %>

        <a href='<%=user_course_unit_path(@user_course,el)%>'>
          <i id="ingresar_unit_<%=el.id%>" class="fa fa-caret-square-o-right" style="color: green;" data-toggle="tooltip" title="Ingresar a la <%= @user_course.course.unit_alias %>"></i>
        </a>

        <script>
          $('#ingresar_unit_<%=el.id%>').tooltip({
            placement: 'right'
          });
        </script>

      <% end %>



    <% else %>

      <%

         motivo_texto = ''

         motivos.each_with_index do |motivo, index|

           if index > 0

             if motivos.length == index+1
               motivo_texto += ' y '
             else
               motivo_texto += ', '
             end

           end

           motivo_texto += @user_course.course.unit_alias.capitalize+' '+motivo[1].to_s if motivo[0]=='u'
           motivo_texto += 'Evaluación '+motivo[1].to_s if motivo[0]=='e'
           motivo_texto += 'Encuesta '+motivo[1].to_s if motivo[0]=='p'

         end

      %>

      <a id="lock-u-<%=el.id%>" href="#" data-toggle="tooltip" title="Debe terminar primero <%= motivo_texto %>">
        <i class="fa fa-lock" style="color: #8b0000;"></i>
      </a>
      <script>
        $('#lock-u-<%=el.id%>').tooltip({
          placement: 'right'
        });
      </script>

    <% end %>

  <% elsif tipo=='e' %>

    <% if acceso %>

      <% if @evaluation && @evaluation.id == el.id %>

        <i id="ingresar_evaluation_<%=el.id%>" class="fa fa-eye" style="color: #3A87AD;" data-toggle="tooltip" title="Está viendo esta evaluación"></i>

        <script>
          $('#ingresar_evaluation_<%=el.id%>').tooltip({
            placement: 'right'
          });
        </script>

      <% else %>

        <a href='<%=user_course_evaluation_path(@user_course,el)%>'>
          <i id="ingresar_evaluation_<%=el.id%>" class="fa fa-caret-square-o-right" style="color: green;" data-toggle="tooltip" title="Ingresar a la evaluación"></i>


        </a>



        <script>
          $('#ingresar_evaluation_<%=el.id%>').tooltip({
            placement: 'right'
          });
        </script>

      <% end %>



    <% else %>

      <%

         motivo_texto = ''

         motivos.each_with_index do |motivo, index|

           if index > 0

             if motivos.length == index+1
               motivo_texto += ' y '
             else
               motivo_texto += ', '
             end

           end

           motivo_texto += @user_course.course.unit_alias.capitalize+' '+motivo[1].to_s if motivo[0]=='u'
           motivo_texto += 'Evaluación '+motivo[1].to_s if motivo[0]=='e'
           motivo_texto += 'Encuesta '+motivo[1].to_s if motivo[0]=='p'

         end

      %>

      <a id="lock-u-<%=el.id%>" href="#" data-toggle="tooltip" title="Debe terminar primero <%= motivo_texto %>">
        <i class="fa fa-lock" style="color: #8b0000;"></i>
      </a>
      <script>
        $('#lock-u-<%=el.id%>').tooltip({
          placement: 'right'
        });
      </script>

    <% end %>


  <% elsif tipo=='p' %>

    <% if acceso %>

      <% if @poll && @poll.id == el.id %>

        <i id="ingresar_poll_<%=el.id%>" class="fa fa-eye" style="color: #3A87AD;" data-toggle="tooltip" title="Está viendo esta encuesta"></i>

        <script>
          $('#ingresar_poll_<%=el.id%>').tooltip({
            placement: 'right'
          });
        </script>

      <% else %>

        <a href='<%=user_course_poll_path(@user_course,el)%>'>
          <i id="ingresar_poll_<%=el.id%>" class="fa fa-caret-square-o-right" style="color: green;" data-toggle="tooltip" title="Ingresar a la encuesta"></i>


        </a>

        <script>
          $('#ingresar_poll_<%=el.id%>').tooltip({
            placement: 'right'
          });
        </script>

      <% end %>



    <% else %>

      <%

         motivo_texto = ''

         motivos.each_with_index do |motivo, index|

           if index > 0

             if motivos.length == index+1
               motivo_texto += ' y '
             else
               motivo_texto += ', '
             end

           end

           motivo_texto += @user_course.course.unit_alias.capitalize+' '+motivo[1].to_s if motivo[0]=='u'
           motivo_texto += 'Evaluación '+motivo[1].to_s if motivo[0]=='e'
           motivo_texto += 'Encuesta '+motivo[1].to_s if motivo[0]=='p'

         end

      %>

      <a id="lock-u-<%=el.id%>" href="#" data-toggle="tooltip" title="Debe terminar primero <%= motivo_texto %>">
        <i class="fa fa-lock" style="color: #8b0000;"></i>
      </a>
      <script>
        $('#lock-u-<%=el.id%>').tooltip({
          placement: 'right'
        });
      </script>

    <% end %>

  <% end %>









  </div>

  </td>

  </tr>


<% end %>



</tbody>

</table>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body text-center">
    <a class="btn btn-danger" onclick="window.close();" href="#"><i class="fa fa-sign-out fa-flip-horizontal"></i> Salir del curso</a>
  </div>
</div>