<div class="tab-pane" id="tab_ficha">

<div class="row">
<div class="col-md-6 col-md-offset-3">


<div class="panel panel-default">

<div class="panel-body">

<legend>Ficha del curso</legend>

<div class="row">
  <div class="col-md-3">
    <strong>Descripción</strong>
  </div>
  <div class="col-md-9">
    <%= course.descripcion.html_safe if course.descripcion %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <strong>Objetivos</strong>
  </div>
  <div class="col-md-9">
    <%= course.objetivos.html_safe if course.objetivos %>
  </div>
</div>
<br>
<% if course.dedicacion_estimada > 0 %>
  <div class="row">
    <div class="col-md-3">
      <strong>Dedicación estimada</strong>
    </div>
    <div class="col-md-9">
      <%= course.dedicacion_estimada.to_i == course.dedicacion_estimada ? course.dedicacion_estimada.to_i : course.dedicacion_estimada %>
      hora(s)
    </div>
  </div>
  <br>
<% end %>

<div class="row">
  <div class="col-md-3">
    <strong>Consideraciones</strong>
  </div>
  <div class="col-md-9">
    <strong>Límite de tiempo</strong><br>

    <% if @user_course.program_course.program.especifico %>
      <% fecha_limite = @user_course.hasta %>

      <% if course.duracion > 0 %>
        <% fecha_limite = @user_course.fin %>
      <% end %>

      <% if fecha_limite > lms_time %>

        El curso finalizará el

        <span class="label label-primary">
          <%= (localize  fecha_limite, format: :day_snmonth) %>
        </span>

        <span class="label label-primary">
          en <%= distance_of_time_in_words(lms_time, fecha_limite) %>
        </span>

      <% else %>

        El curso finalizó el

        <span class="label label-danger">
          <%= (localize  fecha_limite, format: :day_snmonth) %>
        </span>

        <span class="label label-danger">
          hace <%= distance_of_time_in_words(lms_time, fecha_limite) %>
        </span>

      <% end %>

    <% else %>

      <% if course.duracion > 0 %>

        El curso finalizará el

                <span class="label label-primary">
                  <%= (localize  @user_course.fin, format: :day_snmonth) %>
                </span>

                <span class="label label-primary">
                  en <%= distance_of_time_in_words(lms_time, @user_course.fin) %>
                </span>

      <% else %>

        No existe límite de tiempo para terminar el curso.

      <% end %>

    <% end %>

    <br>
    <br>

    <% if !@user_course.program_course.program.especifico %>
      <% numero_oportunidades_left = course.numero_oportunidades-@user_course.numero_oportunidad %>
      <% if numero_oportunidades_left == 0 %>
        <strong>Oportunidad</strong><br>
        Esta es la
                <span class="label label-primary">
                  <% if course.numero_oportunidades == 1 %>
                    única
                  <% else %>
                    última
                  <% end %>
                </span>
        oportunidad para aprobar el curso.
        <br>
        <br>
      <% end %>

    <% end %>

    <strong>Nota mínima</strong><br>
    La nota mínima para aprobar el curso es <span class="label label-primary"><%= course.nota_minima %> <%= tipo_nota(course) %></span>

  </div>

</div>
<br>


<% order_course_elements course, true %>

<table class="table table-bordered ">

  <thead>

  <tr>
    <th colspan="4">Tabla de Contenidos</th>
  </tr>

  </thead>

  <% @elements.each_with_index do |element, index| %>

    <%
       ei = @elements_ids[index].split('-')
       tipo = ei[0]
       id =  ei[1]

       el = nil

       el = course.units.find(id) if tipo=='u'
       el = course.evaluations.find(id) if tipo=='e'
       el = course.polls.find(id) if tipo=='p'

    %>

    <tr>
      <td><%= el.orden %></td>
      <td><%= el.nombre %></td>
      <td>

        <% if tipo=='u' %>
          <span class="label label-warning">Unidad de contenido</span>
        <% end %>

        <% if tipo=='e' %>
          <span class="label label-danger">Evaluación</span>
        <% end %>

        <% if tipo=='p' %>
          <span class="label label-primary">Encuesta</span>
        <% end %>

      </td>
      <td>
        <% if tipo=='u' %>
          <% user_course_unit = @user_course.user_course_units.find_by_unit_id(element.id) %>

          <% if user_course_unit && user_course_unit.from_date %>

            <%= (localize  user_course_unit.from_date, format: :day_snmonth) %>

          <% end %>

          -

          <% if user_course_unit && user_course_unit.to_date %>

            <%= (localize  user_course_unit.to_date, format: :day_snmonth) %>

          <% end %>

        <% end %>

        <% if tipo=='e' %>

          <% user_course_evaluation = @user_course.user_course_evaluations.find_by_evaluation_id(element.id) %>

          <% if user_course_evaluation && user_course_evaluation.from_date %>

            <%= (localize  user_course_evaluation.from_date, format: :day_snmonth) %>

          <% end %>

          -

          <% if user_course_evaluation && user_course_evaluation.to_date %>

            <%= (localize  user_course_evaluation.to_date, format: :day_snmonth) %>

          <% end %>

        <% end %>

        <% if tipo=='p' %>

          <% user_course_poll = @user_course.user_course_polls.find_by_poll_id(element.id) %>

          <% if user_course_poll && user_course_poll.from_date %>

            <%= (localize  user_course_poll.from_date, format: :day_snmonth) %>

          <% end %>

          -

          <% if user_course_poll && user_course_poll.to_date %>

            <%= (localize  user_course_poll.to_date, format: :day_snmonth) %>

          <% end %>

        <% end %>
      </td>
    </tr>


  <% end %>

  </tbody>

</table>

<br>

<table class="table table-bordered table-hover">

  <thead>

  <tr>
    <th colspan="3">Material de Apoyo</th>
  </tr>

  </thead>

  <tbody>

  <% course.course_files.each.with_index do |course_file,index| %>
    <tr id="mat_apoy_<%= course_file.id %>" href="#" data-toggle="tooltip" title="<%= course_file.descripcion %>">
      <td>
        <%= index+1 %>
      </td>
      <td>
        <img src="/assets/filetypes2/icon_<%= course_file.extension %>.png" width="32px">
        <%= course_file.nombre %>
        <script>
          $('#mat_apoy_<%= course_file.id %>').tooltip();
        </script>
      </td>
      <td>
        <a href="<%= download_course_file_path(@user_course,course_file) %>">
          <i class="fa fa-download"></i> Descargar
        </a>
      </td>
    </tr>
  <% end %>



  </tbody>

</table>

</div>

</div>

</div>

</div>

</div>