

    <div class="row text-center">

      <div class="col-md-12 panel_content-<%= $current_domain %> text-center" id="container_frame_course">

        <% unless @unit.finaliza_automaticamente %>

          <script>
            function finalizar_unidad(){
              $('#curso_menu').fadeOut("fast").load('<%= user_course_finish_unit_path @user_course, @unit %>').fadeIn('slow');
              setTimeout("window.opener.location.reload()",7000);
            }
          </script>

        <% end %>

        <script>
          function datos_usuario(){
            var datos = ["<%= user_connected.codigo %>","<%= user_connected.apellidos %>","<%= user_connected.nombre %>"];

            <% LmsCharacteristic.unit.each do |lms_c| %>

              <% user_cha = user_connected.user_characteristic(lms_c.characteristic) %>

              <% if user_cha %>

                <%= ('datos.push("'+user_cha.formatted_value.to_s+'");').html_safe %>

              <% end %>

            <% end %>

            return datos;
          }

          function check_status_unit(){

            <% if @user_course_unit.finalizada? %>
              return true;
            <% else %>
              return false;
            <% end %>

          }

          function get_fecha_fin_unidad(){
            <% if @user_course_unit.finalizada? %>
              f = "<%= localize(@user_course_unit.fin, format: :full_date) %>";
              return f;
            <% else %>
              return null;
            <% end %>
          }


        </script>

        <% directory = @company.directorio+'/'+@company.codigo+'/contenidos/'+@unit.master_unit.crypted_name+'/' %>

        <% if File.exist?(directory+'index.html') %>

          <iframe class="frame_content" src="<%= request.base_url %>/storage/<%=@company.codigo+'/contenidos/'+@unit.master_unit.crypted_name+'/index.html'%>" width="100%" height="100%"></iframe>

        <% elsif File.exist?(directory+'index.shtml') %>

          <iframe class="frame_content" src="<%= request.base_url %>/storage/<%=@company.codigo+'/contenidos/'+@unit.master_unit.crypted_name+'/index.shtml'%>" width="100%" height="100%"></iframe>

        <% elsif File.exist?(directory+'mu'+@unit.master_unit.numero.to_s+'.pdf') %>

          <iframe class="frame-content" src="<%= request.base_url %>/pdf-viewer/web/viewer2.html?file=../../storage/<%= @company.codigo %>/contenidos/<%= @unit.master_unit.crypted_name+'/mu'+@unit.master_unit.numero.to_s %>.pdf" width="100%" height="100%" ></iframe>


        <% else %>
          <span class="label label-default">No hay contenido</span>

        <% end %>

        <script>

          <% if @user_course_unit %>

            function set_milestone(m){
              $.ajax( "/curso/<%= @user_course.id %>/set_milestone/<%= @unit.id %>/"+m);
            }

            function get_milestone(){

              var m = 0;

              $.ajax({
                url: '/curso/<%= @user_course.id %>/get_milestone/<%= @unit.id %>',
                async: false,
                success: function(data){
                  m = data;
                },
              });

              return parseInt(m);

            }

          <% end %>

        </script>

      </div>

      <% if @unit.master_unit.height %>
        <script>
          w = $('#container_frame_course').width();

          w = w *<%= @unit.master_unit.height %>/100;

          $('#container_frame_course').css('height', w );

        </script>
      <% end %>

    </div>

