<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">

      <div class="panel-body">

        <legend>Información de la evaluación</legend>
        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @evaluation.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @evaluation.descripcion %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Nota mínima</strong>
          </div>
          <div class="col-md-9">
            <%= @evaluation.course.nota_minima %> <%= tipo_nota(@evaluation.course) %>
          </div>
        </div>

        <% if @user_course_evaluation && @user_course_evaluation.from_date && @user_course_evaluation.to_date %>

          <br>
          <div class="row">
            <div class="col-md-3">
              <strong>Fecha inicio</strong>
            </div>
            <div class="col-md-9">

              <%= (localize @user_course_evaluation.from_date, format: :full_date_time) %>

              <% if lms_time > @user_course_evaluation.from_date %>
                <span class="label label-danger">Hace
                  <%= distance_of_time_in_words(@user_course_evaluation.from_date, lms_time) %>
                </span>
              <% else %>
                <span class="label label-primary">En
                  <%= distance_of_time_in_words(lms_time, @user_course_evaluation.from_date) %>
                </span>
              <% end %>

            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md-3">
              <strong>Fecha fin</strong>
            </div>
            <div class="col-md-9">

              <%= (localize @user_course_evaluation.to_date, format: :full_date_time) %>

              <% if lms_time > @user_course_evaluation.to_date %>

                <span class="label label-danger">Hace
                  <%= distance_of_time_in_words(@user_course_evaluation.to_date, lms_time) %>
                </span>

              <% else %>
                <span class="label label-primary">En
                  <%= distance_of_time_in_words(lms_time, @user_course_evaluation.to_date) %>
                </span>
              <% end %>

            </div>
          </div>

        <% end %>

        <% if @user_course_evaluation && @user_course_evaluation.finalizada? %>

          <% if @user_course_evaluation.nota %>
            <br>
            <div class="row">
              <div class="col-md-3">
                <strong>Nota</strong>
              </div>
              <div class="col-md-9">
                <%= @user_course_evaluation.nota_formateada %> <%= tipo_nota(@evaluation.course) %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3">
                <strong>Estado</strong>
              </div>
              <div class="col-md-9">

                <% if @user_course_evaluation.aprobada %>
                  <span class="label label-success">Aprobada</span>
                <% else %>
                  <span class="label label-danger">Reprobada</span>
                <% end %>
              </div>
            </div>
          <% end %>

          <br>

          <div class="alert alert-info">
            La evaluación ha sido finalizada.
          </div>

        <% else %>

          <div class="alert alert-info">
            La evaluación es presencial, sus resultados serán registrados por el gestor de la plataforma.
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>


