
<div class="tab-pane <%= 'active' if flash[:from] != 'comment' && params[:action] != 'create_comment' %>" id="tab_curso">

  <div class="row">

    <div class="col-md-2" id='curso_menu'>

      <%= render partial: '/user_courses/tab_curso_menu',
                 locals: {
                   course: course,
                   estado: estado
                 }
      %>

    </div>

    <div class="col-md-10">

      <% if @unit && @unit.virtual && @unit.master_unit%>

        <%= render partial: '/user_courses/tab_curso_unit' %>

      <% elsif @unit && !@unit.virtual %>

        <% if @unit.master_unit %>

          <%= render partial: '/user_courses/tab_curso_unit' %>

        <% else %>

          <%= render partial: '/user_courses/tab_curso_unit_not_virtual' %>

        <% end %>

      <% elsif @evaluation %>

        <%= render partial: '/user_courses/tab_curso_evaluation',
          locals: {
              estado: estado
          }
        %>

      <% elsif @poll %>

        <%= render partial: '/user_courses/tab_curso_poll',
                   locals: {
                       estado: estado
                   }
        %>

      <% end %>


    </div>

  </div>

</div>
