<div class="tab-pane <%= 'active' if flash[:from] == 'comment' || params[:action] == 'create_comment' %>" id="tab_comentarios">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="panel panel-default">

        <div class="panel-body">

      <legend>Comentarios del curso</legend>
      <% if estado == :en_progreso %>

        <div class="form-box-<%= $current_domain %>">

          <%= form_for @course_comment, url: user_course_create_comment_path(@user_course), html: {class: 'form-horizontal'} do |f| %>

            <%= render 'shared/error_messages', object: f.object %>

            <div class="form-group <%= field_with_errors f, :numero %>">

              <%= f.label :comentario, 'Comentario', class: 'col-md-3 control-label' %>

              <div class="col-md-10">

                <%= f.text_area :comentario, rows: '5', class: 'span11'  %>

                <script type="text/javascript">
                  $('#course_comment_comentario').wysihtml5({
                    "font-styles": false,
                    "emphasis": true,
                    "lists": true,
                    "html": false,
                    "link": false,
                    "image": false,
                    "color": false
                  });
                </script>

              </div>

            </div>



            <div class="form-group">

              <div class="col-md-10">

                <%= f.submit 'Publicar', class: 'btn btn-primary' %>

              </div>

            </div>

          <% end %>

        </div>
        <br>
      <% end %>

      <% @user_course.course.course_comments.order('fecha DESC').each_with_index do |comment,index| %>

        <div class="row">

          <div class="col-md-12">
            <div class="comentario_curso-<%= $current_domain %>">
              <div class="row">
                <div class="col-md-2">
                  <% if comment.user.foto %>
                    <img src="<%= request.base_url %>/storage/<%=@company.codigo%>/fotos_usuarios/<%=comment.user.foto%>" class="img-rounded user-foto">
                  <% else %>
                    <img src="/assets/default_user.png" class="img-rounded user-foto">
                  <% end %>

                </div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-10">
                      <strong>
                        <%= comment.user.nombre %> <%= comment.user.apellidos %>
                      </strong>
                    </div>
                    <div class="col-md-2 pull-right fecha">
                      <%= (localize comment.fecha, format: :day_snmonth_syear) %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <%= comment.comentario.html_safe %>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>



      <% end %>




    </div>
  </div>
</div>

    </div></div>
