<div class="tab-pane" id="tab_certificado">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="panel panel-default">

        <div class="panel-body">

      <legend>Certificado del curso</legend>

      <% if user_course.course.course_certificates.length == 0 %>

        Este curso no entregará certificado.

      <% else %>

        <% if estado == :aprobado %>

          <% cc = user_course.course.course_certificates.where('rango_desde <= ? AND rango_hasta >= ?',user_course.fin, user_course.fin).first %>

          <% if cc && cc.template %>

            <div class="row">
              <div class="col-md-3">
                <strong>Nombre</strong>
              </div>
              <div class="col-md-9">
                <%= user_connected.nombre %> <%= user_connected.apellidos %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3">
                <strong>Curso</strong>
              </div>
              <div class="col-md-9">
                <%= course.nombre %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3">

              </div>
              <div class="col-md-9">
                <%= link_to 'Descargar certificado', user_course_certificado_path(user_course.id) %>
              </div>
            </div>

          <% else %>

            Este curso no entregará certificado.

          <% end %>

        <% else %>

          El certificado del curso estará disponible una vez que éste haya sido finalizado con éxito.

        <% end %>


      <% end %>





    </div>

  </div>

</div>

    </div></div>