<% if @user_course_evaluation.evaluation.visualizar_resultado_resumen %>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <div class="panel panel-default">

          <div class="panel-body">

            <legend><%= @evaluation.nombre %></legend>

            <div class="row">
              <div class="col-md-3">
                <strong>Descripción</strong>
              </div>
              <div class="col-md-9">
                <%= @evaluation.descripcion %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3">
                <strong>Nota mínima</strong>
              </div>
              <div class="col-md-9">
                <%= @evaluation.course.nota_minima %> <%= tipo_nota(@evaluation.course) %>
              </div>
            </div>

            <% if @user_course_evaluation.nota %>
                <br>
                <div class="row">
                  <div class="col-md-3">
                    <strong>Nota</strong>
                  </div>
                  <div class="col-md-9">
                    <%= @user_course_evaluation.nota_formateada %> <%= tipo_nota(@evaluation.course) %>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-3">
                    <strong>Estado</strong>
                  </div>
                  <div class="col-md-9">

                    <% if @user_course_evaluation.aprobada %>
                        <span class="label label-success">Aprobada</span>
                    <% else %>
                        <span class="label label-danger">Reprobada</span>
                    <% end %>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-3">
                    <strong>Preguntas correctas</strong>
                  </div>
                  <div class="col-md-9">
                    <%= @user_course_evaluation.user_course_evaluation_questions.where('respondida = ? AND correcta = ?', true, true).count %>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-3">
                    <strong>Preguntas incorrectas</strong>
                  </div>
                  <div class="col-md-9">
                    <%= @user_course_evaluation.user_course_evaluation_questions.where('respondida = ? AND correcta = ? and alternativas is not null', true, false).count %>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-3">
                    <strong>Preguntas sin contestar</strong>
                  </div>
                  <div class="col-md-9">
                    <%= @user_course_evaluation.user_course_evaluation_questions.where('respondida = ? or (respondida = ? AND correcta = ? and alternativas is null)', false, true, false).count %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="alert alert-info">
      La evaluación ha sido finalizada.
    </div>
  </div>
</div>

<% if @user_course_evaluation.evaluation.visualizar_resultado_detalle %>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">

          <div class="panel-body">

            <% @user_course_evaluation.user_course_evaluation_questions.each do |user_course_evaluation_question| %>

                <% question = user_course_evaluation_question.master_evaluation_question %>

                <div class="row pregunta-evaluacion-<%= $current_domain %>">

                  <div class="col-md-12">

                    <div class="row">
                      <div class="col-md-10">

                        <% if $browser_ie9 || $browser_ie8 %>

                            <% if user_course_evaluation_question.correcta %>
                                <img src="/assets/courses/ok.png" width="15px">
                            <% else %>
                                <img src="/assets/courses/times.png" width="15px">
                            <% end %>

                        <% else %>

                            <% if user_course_evaluation_question.correcta %>
                                <i class="fa fa-check fa-lg" style="color: green;"></i>
                            <% else %>
                                <i class="fa fa-times fa-lg" style="color: #8b0000;"></i>
                            <% end %>

                        <% end %>

                        <strong><%= user_course_evaluation_question.numero %>. </strong>
                        <%= question.texto.html_safe %>
                      </div>
                      <div class="col-md-2">

                        <strong><%= question.puntaje_formateado %> <%= question.puntaje == 1 ? 'punto' : 'puntos' %></strong>

                      </div>
                    </div>
                    <br>
                    <% alt_r = '' %>
                    <% alt_r = user_course_evaluation_question.alternativas.split('-') if user_course_evaluation_question.alternativas %>

                    <% question.master_evaluation_alternatives.each_with_index do |alt, index_a| %>

                        <div class="row alternativa-pregunta-evaluacion <%= 'alternativa-correcta-pregunta-evaluacion-resumen-alumno-'+$current_domain if alt.correcta %>">
                          <div class="col-md-10">

                            <% if alt_r.include? alt.id.to_s %>

                                <% if user_course_evaluation_question.correcta %>
                                    <% if $browser_ie9 || $browser_ie8 %>
                                        <img src="/assets/courses/ok.png" width="15px">
                                    <% else %>
                                        <i class="fa fa-check" style="color: green;"></i>
                                    <% end %>
                                <% else %>

                                    <% if $browser_ie9 || $browser_ie8 %>
                                        <img src="/assets/courses/times.png" width="15px">
                                    <% else %>
                                        <i class="fa fa-times" style="color: #8b0000;"></i>
                                    <% end %>
                                <% end %>

                            <% else %>
                              &nbsp;
                            <% end %>

                            <strong><%= alt.letra %>. </strong>
                            <%= alt.texto.html_safe %>
                          </div>
                          <div class="col-md-2"></div>

                        </div>
                    <% end %>

                  </div>

                </div>

            <% end %>
          </div>
        </div>
      </div>

    </div>

<% end %>


