<% course = @user_course.course %>

<% estado, estado_boton, user_course, user_courses = user_course_status(@user_course.enrollment, @user_course.program_course) %>


<% if !$mobile_client %>


  <div class="tab-content">

    <%= render partial: '/user_courses/tab_curso',
               locals: {
                   course: course,
                   estado: estado
               }
    %>

    <%= render partial: '/user_courses/tab_ficha',
               locals: {
                   course: course
               }
    %>

    <%= render partial: '/user_courses/tab_certificado',
               locals: {
                   course: course,
                   estado: estado,
                   user_course: @user_course
               }
    %>

    <%= render partial: '/user_courses/tab_bitacora'
    %>


  </div>

  <script>
    /*
    window.setTimeout(function() {
      $(".alert-success").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
      });
    }, 4000);
    */
    window.opener.location.reload();

  </script>

<% else %>

  <% if @access_to_course_menu %>
    <%= render partial: '/user_courses/curso_menu_mobile',
               locals: {
                 course: course,
                 estado: estado
               }
    %>
  <% elsif @unit && @unit.master_unit%>
    <%= render partial: '/user_courses/curso_unit_mobile',
               locals: {
                 course: course,
                 estado: estado
               }
    %>
  <% elsif @evaluation && @evaluation.master_evaluation %>

    <%= render partial: '/user_courses/curso_evaluation_mobile',
               locals: {
                 course: course,
                 estado: estado
               }
    %>

  <% elsif @poll && @poll.master_poll %>

    <%= render partial: '/user_courses/curso_poll_mobile',
               locals: {
                 course: course,
                 estado: estado
               }
    %>

  <% end %>

<% end %>