<%= form_for rule_vacation, url: bp_admin_rule_vacation_create_path(group) ,html: {class: 'form-horizontal', id: 'new_bp_rule_vacation_form'} do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.bp_rule_vacations.legends.rule_vacations_info') %> </legend>

        <%= render 'shared/error_messages', object: f.object %>

        <% options_bp_goups = BpGroup.active_groups(lms_time).map { |option| [option.name, option.id] } %>

        <div class="form-group <%= field_with_errors f, :bp_group_id %>">
          <%= f.label :bp_group_id, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= select_tag('select2_groups', options_for_select(options_bp_goups, f.object.bp_group_id), {multiple: true, size: 2, class: 'form-control', placeholder: '-- Seleccione Grupos --'}  ) %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :name %>">
          <%= f.label :name, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :name, class: 'form-control'%>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :description, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_area :description, rows: '3', class: 'form-control' %>
          </div>
        </div>

        <legend> <%= t('views.bp_rule_vacations.legends.validity_period') %> </legend>

        <div class="form-group <%= field_with_errors f, :since %>">
          <%= f.label :since, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <div class="input-group date">
              <%= f.text_field :since, class: 'form-control datetime', :data => {:format => '%d/%m/%Y %H:%M'}, :value => f.object.since ? f.object.since.strftime('%d/%m/%Y %H:%M') : '', :readonly => true %>
              <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            </div>
            <em><%= t('views.bp_rule_vacations.explanation.since')%></em>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :until %>">
          <%= f.label :until, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <div class="input-group date">
              <%= f.text_field :until, class: 'form-control datetime', :data => {:format => '%d/%m/%Y %H:%M'}, :value => f.object.until ? f.object.until.strftime('%d/%m/%Y %H:%M') : '', :readonly => true %>
              <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            </div>
            <em><%= t('views.bp_rule_vacations.explanation.until')%></em>
          </div>
        </div>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit t('views.sc_schedules.forms.save'), class: 'btn btn-primary' %>
        </div>
      </div>

    </div>
<% end %>


<script>
    $('.datetime').datetimepicker({
        language: 'es',
        pickTime: true,
        pickDate: true
    });
</script>

<script>
    var minimumInputLength = 0
    $('#select2_groups').select2({
        minimumInputLength: minimumInputLength,
        formatInputTooShort: function () {
            return "Se deben ingresar al menos " + minimumInputLength + " caracteres";
        },
    })

    function return_select2_values() {
        users_array = $('#select2_groups').select2().val();
        $('#select2_groups').select2("val", "");
        return_values(users_array);
    }
</script>

