<%= form_for rule_vacation, url: bp_admin_rule_vacation_update_path(rule_vacation.bp_group, rule_vacation) ,html: {class: 'form-horizontal', id: 'new_bp_rule_vacation_form'}, method: :post do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.bp_rule_vacations.legends.rule_vacations_info') %> </legend>

        <%= render 'shared/error_messages', object: f.object %>

        <% rule_options = BpRuleVacation.where(available: true).map {|option| [option.bp_group.name+': '+option.name, option.id]} %>

        <div class="form-group">
          <%= f.label 'Para bonos', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= select_tag('select2_rule_vacations', options_for_select(rule_options, rule_vacation.id),
                           {multiple: true, size: 2, class: 'form-control',
                            placeholder: '-- Seleccione Bonos --'}) %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :name %>">
          <%= f.label :name, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :name, class: 'form-control'%>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :description, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_area :description, rows: '20', class: 'form-control' %>
          </div>
        </div>



        <legend> <%= t('views.bp_rule_vacations.legends.validity_period') %> </legend>

        <% until_form = rule_vacation.until %>
        <% if BpRuleVacation.find(rule_vacation.id).until %>
          <div class="row">
            <div class="col-md-3" align="right"><strong><%= t('activerecord.attributes.bp_rule_vacation.active') %></strong></div>
            <div class="col-md-9"><%= label_yes_not(rule_vacation.active?(lms_time)) %></div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3" align="right"><strong><%= t('activerecord.attributes.bp_rule_vacation.since') %></strong></div>
            <div class="col-md-9"><%= (localize rule_vacation.since, format: :day_snmonth_year).to_s + ' ' + rule_vacation.since.strftime('%H:%M') %>
              <br> <em><%= t('views.bp_rule_vacations.explanation.since') %></em>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3" align="right"><strong><%= t('activerecord.attributes.bp_rule_vacation.until') %></strong></div>
            <div class="col-md-9"><%= (localize rule_vacation.until, format: :day_snmonth_year).to_s + ' ' + rule_vacation.until.strftime('%H:%M') %>
              <br> <em><%= t('views.bp_rule_vacations.explanation.until') %></em>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="col-md-3" align="right"><%= t('activerecord.attributes.bp_rule_vacation.active') %></div>
            <div class="col-md-9"><%= label_yes_not(rule_vacation.active?(lms_time)) %></div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3" align="right"><%= t('activerecord.attributes.bp_rule_vacation.since') %></div>
            <div class="col-md-9"><%= (localize rule_vacation.since, format: :day_snmonth_year).to_s + ' ' + rule_vacation.since.strftime('%H:%M') %>
              <br> <em><%= t('views.bp_rule_vacations.explanation.since') %></em>
            </div>
          </div>
          <br>
          <div class="form-group <%= field_with_errors f, :until %>">
            <%= f.label :until, class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <div class="input-group date">
                <%= f.text_field :until, class: 'form-control datetime', :data => {:format => '%d/%m/%Y %H:%M'}, :value => until_form ? until_form.strftime('%d/%m/%Y %H:%M') : '', :readonly => true %>
                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
              </div>
              <em><%= t('views.bp_rule_vacations.explanation.until') %></em>
            </div>
          </div>
        <% end %>
      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit t('views.sc_schedules.forms.save'), class: 'btn btn-primary' %>
        </div>
      </div>

    </div>
<% end %>


<script>
    $('.datetime').datetimepicker({
        language: 'es',
        pickTime: true,
        pickDate: true
    });
</script>

<script>
    var minimumInputLength = 0
    $('#select2_rule_vacations').select2({
        minimumInputLength: minimumInputLength,
        formatInputTooShort: function () {
            return "Se deben ingresar al menos " + minimumInputLength + " caracteres";
        },
    })
</script>
