<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.bp_rule_vacations.backlist.rule_vacation_management')).html_safe,  bp_admin_rule_vacation_manage_path(@bp_rule_vacation.bp_group,@bp_rule_vacation), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_rule_vacations.legends.rule_vacation_management') %>
      <span>> <%= t('views.bp_rule_vacations.flow_process.edit') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div id="group_show_container" class="col-md-6 col-md-offset-3">
    <%= render partial: 'bp_admin_groups/bp_group_show',
               locals: {:group => @bp_rule_vacation.bp_group,
                        :editable => false} %>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'bp_rule_vacation_edit_form',
               :locals => {:rule_vacation => @bp_rule_vacation,
                           :group => @bp_rule_vacation.bp_group} %>
  </div>
</div>