<div class="panel panel-default list_item">
  <div class="panel-body">

    <div class="form-group <%= field_with_errors f, :position %>">
      <%= f.label :position, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.number_field :position, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group <%= field_with_errors f, :name %>">
      <%= f.label :name, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group <%= field_with_errors f, :description %>">
      <%= f.label :description, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_area :description, class: 'form-control', :rows => 3 %>
      </div>
    </div>

    <div class="form-group <%= field_with_errors f, :active %>">
      <%= f.label :active, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :active} %>
      </div>
    </div>

    <div class="form-group <%= field_with_errors f, :tracking_list_item_father_id %>">
      <%= f.label :tracking_list_item_father_id, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.select(:tracking_list_item_father_id, options_for_select(@tracking_list.list_possible_father_items, f.object.tracking_list_item_father_id), {:include_blank => "- Seleccionar -"}, {class: 'form-control'}) %>
      </div>
    </div>

    <div class="clearfix">
      <div class="pull-right">
        <%= link_to_remove_item 'Eliminar', f %>
      </div>
    </div>
  </div>


</div>
