<%= form_for @training_characteristic, html: {class: 'form-horizontal', role: 'form', multipart: true} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos de la característica</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        <%= f.label :position, 'Orden', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :position, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :name, 'Nombre', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
        <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">

        <%= f.label :data_type_id, 'Tipo de dato', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <% data_type_array = TrainingCharacteristic.data_types.each_with_index.map{ |dt, index| [dt, index] } %>

          <%= f.select(:data_type_id, options_for_select(data_type_array, @training_characteristic.data_type_id), {}, class: 'form-control') %>

        </div>
      </div>

      <div class="form-group">
        <%= f.label :course_instance, 'Disponible para', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :course_instance %>

          <script>
            $('#training_characteristic_course_instance').bootstrapSwitch({
              onColor: 'success',
              onText: "Curso",
              offColor: 'primary',
              offText: "Instancia",
              size: "mini"
            });
          </script>

        </div>
      </div>

      <hr>

      <div class="form-group">
        <%= f.label :position_rep_2, 'Orden en reporte pacasmayo (si se deja en blanco no aparecerá)', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :position_rep_2, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :position_rep_3, 'Orden en acta (si se deja en blanco no aparecerá)', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :position_rep_3, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :position_filtro, 'Orden en filtro reporte general', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :position_filtro, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :position_user_profile, 'Orden en ficha de usuario (si se deja en blanco no aparecerá)', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :position_user_profile, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :total_cost, 'Suma costo total', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :total_cost %>

          <script>
            $('#training_characteristic_total_cost').bootstrapSwitch({
              onColor: 'success',
              onText: "Sí",
              offColor: 'danger',
              offText: "No",
              size: "mini"
            });
          </script>

        </div>
      </div>

      <div class="form-group">
        <%= f.label :instances_list, 'Orden en la lista de instancias (si se deja en blanco no aparecerá)', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :instances_list, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group" id="characteristic_values_container">

        <%= f.label :characteristic_values, 'Valores', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <input type="file" name="characteristic_values" class="form-control" >
          <em>
            Archivo .xlsx
            <br>
            <br>

            <table class="table table-bordered table-condensed">
              <thead>
              <tr>
                <th>Posición</th>
                <th>Valor</th>
              </tr>
              </thead>
            </table>



          </em>


        </div>

      </div>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
