
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de caracteristicas'.html_safe, training_characteristics_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      Características de curso
      <span>> Configurar característica </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos de la característica </legend>

        <div class="row">

          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>

          <div class="col-md-9">

            <%= @training_characteristic.name %>

          </div>

        </div>
        <div class="row">

          <div class="col-md-3">
            <strong>Tipo de dato</strong>
          </div>

          <div class="col-md-9">

            <%= @training_characteristic.data_type_name %>

          </div>

        </div>

        </div>

      </div>

    </div>

  </div>

<% if @training_characteristic.data_type_id == 2 %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Valores de la lista</legend>

      <table class="table table-bordered table-condensed">
        <thead>
        <tr>
          <th>Orden</th>
          <th>Valor</th>

          </th>
        </tr>
        </thead>
        <tbody>
        <% @training_characteristic.training_characteristic_values.each do |training_characteristic_value| %>
          <tr>
            <td><%= training_characteristic_value.position %></td>
            <td><%= training_characteristic_value.value_string %></td>

          </tr>
        <% end %>
        </tbody>

      </table>


    </div>
  </div>

<% end %>