<%= form_for @j_function, html: {class: 'form-horizontal', role: 'form'} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos de la función</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :j_job_id %>

      <div class="row">

        <div class="col-md-3 text-right">
          <strong>Puesto de trabajo</strong>
        </div>

        <div class="col-md-9">

          <%= @j_job.name %>

        </div>

      </div>
      <br>
      <div class="form-group <%= field_with_errors f, :description %>">

        <%= f.label :description, 'Descripción', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_area :description, class: 'form-control', rows: '5' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :main_function %>">

        <%= f.label :main_function, 'Función principal', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :main_function %>

          <script>
            $('#j_function_main_function').bootstrapSwitch({
              onColor: 'success',
              onText: "Sí",
              offColor: 'danger',
              offText: "No"
            });
          </script>

        </div>

      </div>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
