<h1>Listing j_functions</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Main function</th>
    <th>J job</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @j_functions.each do |j_function| %>
  <tr>
    <td><%= j_function.description %></td>
    <td><%= j_function.main_function %></td>
    <td><%= j_function.j_job %></td>
    <td><%= link_to 'Show', j_function %></td>
    <td><%= link_to 'Edit', edit_j_function_path(j_function) %></td>
    <td><%= link_to 'Destroy', j_function, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New J function', new_j_function_path %>
