<%= form_for(@hr_process_manager) do |f| %>
  <% if @hr_process_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hr_process_manager.errors.count, "error") %> prohibited this hr_process_manager from being saved:</h2>

      <ul>
      <% @hr_process_manager.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hr_process %><br />
    <%= f.text_field :hr_process %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
