<p id="notice"><%= notice %></p>

<p>
  <b>Hr process:</b>
  <%= @hr_process_manager.hr_process %>
</p>

<p>
  <b>User:</b>
  <%= @hr_process_manager.user %>
</p>


<%= link_to 'Edit', edit_hr_process_manager_path(@hr_process_manager) %> |
<%= link_to 'Back', hr_process_managers_path %>
