<h1 class="page-title txt-color-blueDark">
  <i class="fa fa-align-left"></i>
  Gestionar bandas salariales
  <span>> Lista de bandas salariales </span>
</h1>

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <br><br>

        <table id="datatable_pay_bands" class="table table-striped table-bordered smart-form" width="100%" style="font-size: 11px;">
          <thead>
            <tr>
              <th class="export_to_excel">Nombre</th>
              <th>Valor mínimo</th>
              <th class="export_to_excel hide_in_datatable">Valor mínimo</th>
              <th>Q1</th>
              <th class="export_to_excel hide_in_datatable">Q1</th>
              <th>Punto medio (Q2)</th>
              <th class="export_to_excel hide_in_datatable">Punto medio (Q2)</th>
              <th>Q3</th>
              <th class="export_to_excel hide_in_datatable">Q3</th>
              <th>Valor máximo</th>
              <th class="export_to_excel hide_in_datatable">Valor máximo</th>
              <th class="export_to_excel">Activa</th>
              <th><%= link_to 'Nueva banda salarial', new_j_pay_band_path %></th>
            </tr>
          </thead>

          <tbody>
          <% @j_pay_bands.each do |j_pay_band| %>
            <tr>
              <td><%= j_pay_band.name %></td>
              <td><%= number_with_precision(j_pay_band.min_value, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></td>
              <td><%= j_pay_band.min_value %></td>
              <td><%= number_with_precision(j_pay_band.q1, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></td>
              <td><%= j_pay_band.q1 %></td>
              <td><%= number_with_precision(j_pay_band.q2, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></td>
              <td><%= j_pay_band.q2 %></td>
              <td><%= number_with_precision(j_pay_band.q3, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></td>
              <td><%= j_pay_band.q3 %></td>
              <td><%= number_with_precision(j_pay_band.max_value, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></td>
              <td><%= j_pay_band.max_value %></td>
              <td><%= label_yes_not_datable j_pay_band.active %></td>
              <td>
                <%= link_to 'Editar', edit_j_pay_band_path(j_pay_band) %>
                <%= link_to 'Eliminar', j_pay_band, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
          </tbody>

        </table>

      </div>
    </div>


  </div>
</div>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_pay_bands',
               file_name: 'Bandas salariales',
               export_by_class: true,
               hide_by_class: true
           }
%>
