

<div class="row compound-field-row" id="cf_<%= jj_characteristic.id %>">

  <input type="hidden" name="characteristic_<%= jj_characteristic.id %>_create[]" value="<%= j_job_jj_characteristic_registered ? j_job_jj_characteristic_registered.id : '-1' %>">
  <hr>
  <div class="col-md-11">


    <% jj_characteristic.elements_characteristics.reorder('register_position').each_with_index do |element_characteristic| %>

      <div class="form-group">

        <label class="col-md-3 control-label"><%= element_characteristic.name %></label>

        <div class="col-md-9">

          <% element_j_job_jj_characteristic = j_job_jj_characteristic_registered.elements_job_characteristics.where('jj_characteristic_id = ?', element_characteristic.id).first if j_job_jj_characteristic_registered %>

          <% value = element_j_job_jj_characteristic ? element_j_job_jj_characteristic.value : nil %>

          <% if element_characteristic.data_type_id == 0 || element_characteristic.data_type_id == 3 || element_characteristic.data_type_id == 4 %>

            <input type="text" name="characteristic_<%= jj_characteristic.id %>_<%= element_characteristic.id %>[]" value="<%= value %>" class="form-control">

          <% elsif  element_characteristic.data_type_id == 1 %>

            <textarea name="characteristic_<%= jj_characteristic.id %>_<%= element_characteristic.id %>[]" class="form-control"><%= value %></textarea>

          <% elsif  element_characteristic.data_type_id == 2 %>

            <div class="input-group date characteristic-record-date">

              <input type="text" name="characteristic_<%= jj_characteristic.id %>_<%= element_characteristic.id %>[]" value="<%= value ? value.strftime('%d-%m-%Y') : '' %>" class="form-control">
              <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </span>

            </div>

            <script type="text/javascript">

              $('.characteristic-record-date').datetimepicker({
                format: 'DD-MM-YYYY',
                language: 'es',
                pickTime: false
              });

              $('.characteristic-record-date').removeClass('characteristic-record-date');

            </script>

          <% elsif element_characteristic.data_type_id == 6 %>

            <input type="file" name="characteristic_<%= jj_characteristic.id %>_<%= element_characteristic.id %>[]" class="form-control" onchange="check_file_selected(this)">
            <input type="hidden" name="characteristic_file_<%= jj_characteristic.id %>_<%= element_characteristic.id %>[]" value="0">
            <script>
              function check_file_selected(c){
                if($(c).val()){
                  $(c).next().val(1);
                }else{
                  $(c).next().val(0);
                }
              }
            </script>

          <% elsif element_characteristic.data_type_id == 5 %>

            <% characteristic_values_array = element_characteristic.active_characteristic_values.map {|characteristic_value| [characteristic_value.value_string, characteristic_value.id]} %>

            <%= select_tag('characteristic_'+jj_characteristic.id.to_s+'_'+element_characteristic.id.to_s+'[]', options_for_select(characteristic_values_array, value), id: 'characteristic_'+jj_characteristic.id.to_s+'_'+element_characteristic.id.to_s, class: 'form-control characteristic-record-select', prompt: '-- Sin valor --') %>

            <script>

              $('.characteristic-record-select').select2();
              $('.characteristic-record-select').removeClass('characteristic-record-select');

            </script>

          <% end %>

        </div>

      </div>

    <% end %>

  </div>

  <div class="col-md-1">
    <a href="#" onclick="remove_register_characteristic_field2(this)"><i class="fa fa-minus fa-lg" style="color: red;" data-toggle="tooltip" data-placement="right" title="Eliminar"></i></a>
  </div>

</div>