<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el puesto'.html_safe, @j_job, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-cube"></i>
      Gestionar puestos
      <span>> Editar puesto </span>
    </h1>
  </div>
</div>
<br>

<%= form_for @j_job, url: j_jobs_update_jj_characteristics_path(@j_job.id, @j_characteristic_type.id), html: {class: 'form-horizontal', role: 'form', multipart: true, method: :post} do |f| %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12">
              <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-user"></i> Actualizar información</h3>
            </div>
          </div>

          <div class="row">

            <div class="row">
              <div class="col-md-3 text-right">
                <strong>Código</strong>
              </div>
              <div class="col-md-9">
                <%= @j_job.j_code %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-3 text-right">
                <strong>Nombre</strong>
              </div>
              <div class="col-md-9">
                <%= @j_job.name %>
              </div>
            </div>


            <% JCharacteristic.all.each do |j_characteristic| %>

              <br>

              <div class="row">
                <div class="col-md-3 text-right">
                  <strong><%= j_characteristic.name %></strong>
                </div>
                <div class="col-md-9">
                  <%= @j_job.formatted_j_job_characteristic_value(j_characteristic.characteristic) %>
                </div>
              </div>

            <% end %>


            <% if @company.jobs_extra_info %>
              <hr>
            <div class="row">
              <div class="col-md-3 text-right">
                <strong>Banda salarial</strong>
              </div>
              <div class="col-md-9">
                <%= @j_job.j_pay_band.name %>

                (<%= number_with_precision(@j_job.j_pay_band.min_value, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>

                -

                <%= number_with_precision(@j_job.j_pay_band.max_value, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>)

              </div>
            </div>

            <% end %>
            <hr>

            <div class="row">
              <div class="col-md-3 text-right">
                <strong>Versión</strong>
              </div>
              <div class="col-md-9">
                <%= @j_job.version %>

                <% if @j_job.current %>
                  <span class="label label-sjjccess">actual</span>
                <% end %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-3 text-right">
                <strong>Desde</strong>
              </div>
              <div class="col-md-9">
                <%= localize @j_job.from_date, format: :day_snmonth_year %>
              </div>
            </div>

            <% unless @j_job.current %>

              <br>

              <div class="row">
                <div class="col-md-3 text-right">
                  <strong>Hasta</strong>
                </div>
                <div class="col-md-9">
                  <%= localize @j_job.to_date, format: :day_snmonth_year %>
                </div>
              </div>

              <hr>

              <div class="row">
                <div class="col-md-3 text-right">
                  <strong>Versión actual</strong>
                </div>
                <div class="col-md-9">
                  <%= @j_job.j_job_current.version %>
                </div>
              </div>

            <% end %>

          </div>

          <hr>

          <% ct = @j_characteristic_type %>

          <div class="row">
            <div class="col-md-12">
              <strong><%= ct.name %></strong>
            </div>
          </div>

          <% jj_characteristics = ct.public_jj_characteristics %>


          <div class="row">
            <hr>
            <div class="col-md-12">
              <% jj_characteristics.each_with_index do |jj_characteristic| %>

                <% if jj_characteristic.data_type_id != 13 %>

                  <div class="form-group">

                    <% if jj_characteristics.size > 1 %>

                      <label class="col-md-2 control-label">
                        <%= jj_characteristic.name %>
                      </label>

                    <% end %>

                    <div class="col-md-<%= jj_characteristic.data_type_id == 11 && jj_characteristics.size == 1 ? '12' : '10' %>">

                      <%
                        uc = @j_job.j_job_jj_characteristics.where('jj_characteristic_id = ?', jj_characteristic.id).first
                        value = uc ? uc.value : nil
                      %>

                      <% if jj_characteristic.data_type_id == 0 || jj_characteristic.data_type_id == 3 || jj_characteristic.data_type_id == 4 %>

                        <input type="text" name="characteristic_<%= jj_characteristic.id %>" value="<%= value %>" class="form-control">

                      <% elsif  jj_characteristic.data_type_id == 1 %>

                        <textarea name="characteristic_<%= jj_characteristic.id %>" class="form-control"><%= value %></textarea>

                      <% elsif  jj_characteristic.data_type_id == 2 %>

                        <div id="characteristic_<%= jj_characteristic.id %>_date" class="input-group date">

                          <input type="text" name="characteristic_<%= jj_characteristic.id %>" value="<%= value ? value.strftime('%d-%m-%Y') : '' %>" class="form-control">
                          <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </span>
                        </div>

                        <script type="text/javascript">

                          $('#characteristic_<%= jj_characteristic.id %>_date').datetimepicker({
                            format: 'DD-MM-YYYY',
                            language: 'es',
                            pickTime: false
                          });

                        </script>

                      <% elsif jj_characteristic.data_type_id == 6 %>

                        <input type="file" name="characteristic_<%= jj_characteristic.id %>" class="form-control" >

                      <% elsif jj_characteristic.data_type_id == 5 %>

                        <% characteristic_values_array = jj_characteristic.active_characteristic_values.map {|characteristic_value| [characteristic_value.value_string, characteristic_value.id]} %>

                        <%= select_tag('characteristic_'+jj_characteristic.id.to_s, options_for_select(characteristic_values_array, value), id: 'characteristic_'+jj_characteristic.id.to_s, class: 'form-control', prompt: '-- Sin valor --') %>

                        <script>
                          $("#characteristic_<%= jj_characteristic.id %>").select2();
                        </script>

                      <% elsif jj_characteristic.data_type_id == 11 %>

                        <div id="container_characteristic_register_<%= jj_characteristic.id %>">
                          <br>
                          <%= link_to_add_register_jj_characteristic_field(jj_characteristic, nil) %>
                          <!--
                          <a id="link_remove_register_characteristic_field_<%= jj_characteristic.id %>" href="#" onclick="remove_register_characteristic_field(<%= jj_characteristic.id %>)"><i class="fa fa-minus" style="color: red;"></i></a>
                          -->

                          <% if @j_job.j_job_jj_characteristics_registered(jj_characteristic).size > 0 %>

                            <% @j_job.j_job_jj_characteristics_registered(jj_characteristic).each_with_index do |j_job_jj_characteristic_registered, index_num_ucr| %>

                              <%= render partial: 'j_jobs/form_characteristic_register',
                                         locals: {
                                             jj_characteristic: jj_characteristic,
                                             j_job_jj_characteristic_registered: j_job_jj_characteristic_registered
                                         }
                              %>

                            <% end %>

                          <% else %>

                            <%= render partial: 'j_jobs/form_characteristic_register',
                                       locals: {
                                           jj_characteristic: jj_characteristic,
                                           j_job_jj_characteristic_registered: nil
                                       }
                            %>

                          <% end %>

                          <script>

                            function remove_register_characteristic_field(jj_characteristic_id){

                              if($('#container_characteristic_register_'+jj_characteristic_id).children('.compound-field-row').length > 0) {

                                $('#container_characteristic_register_'+jj_characteristic_id).children('.compound-field-row').last().remove();

                              }

                            }

                            function add_register_characteristic_field(content, jj_characteristic_id){

                              $('#container_characteristic_register_'+jj_characteristic_id).append(content);

                            }

                            function remove_register_characteristic_field2(e){

                              $(e).parent().parent().remove();

                            }

                          </script>

                        </div>

                      <% end %>

                    </div>

                  </div>

                <% end %>

              <% end %>
            </div>
          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="col-md-6">

            <%= link_to 'Cancelar'.html_safe, @j_job, class: 'btn btn-default', tabindex: '-1' %>

          </div>
          <div class="col-md-6 text-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    </div>
  </div>

<% end %>

<style>
  .select2-hidden-accessible {
    display: none !important;
    visibility: hidden !important;
  }
</style>
