<h1 class="page-title txt-color-blueDark">
  <i class="fa fa-cube"></i>
  Gestionar puestos
  <span>> Lista de puestos </span>
</h1>

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <br><br>

        <table class="table table-striped table-bordered table-hover smart-form" style="font-size: 11px;" id="datatable_j_jobs" width="100%">

          <thead>

          <tr>
            <th>#</th>
            <th>Código</th>
            <th>Puesto</th>
            <% JCharacteristic.all.each do |j_characteristic| %>
              <th><%= j_characteristic.name %></th>
            <% end %>
            <% JjCharacteristic.where('show_list = ?', true).each do |jjc| %>
              <th><%= jjc.name %></th>
            <% end %>
            <% if @company.jobs_extra_info %>
              <th>Centro de costo</th>
              <th>Banda salarial</th>
              <th>Asignaciones</th>
            <% end %>
            <th>
              <%= link_to 'Crear un nuevo puesto', new_j_job_path %>
            </th>
          </tr>
          <tr>
            <td>
              <label class="input">
                <input type="text" class="hidden">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
                </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <% JCharacteristic.all.size.times do %>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
            <% end %>
            <% JjCharacteristic.where('show_list = ?', true).each do |jjc| %>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
            <% end %>
            <% if @company.jobs_extra_info %>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
            <% end %>
            <td>

            </td>
          </tr>

          </thead>

          <tbody>
          <% @j_jobs.each_with_index do |j_job, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= j_job.j_code %></td>
              <td><%= j_job.name %></td>
              <% JCharacteristic.all.each do |j_characteristic| %>
                <td>
                  <%= j_job.formatted_j_job_characteristic_value j_characteristic.characteristic %>
                </td>
              <% end %>
              <% JjCharacteristic.where('show_list = ?', true).each do |jj_characteristic| %>
                <td>
                  <%= j_job.formatted_jj_characteristic_value jj_characteristic %>
                </td>
              <% end %>
              <% if @company.jobs_extra_info %>
                <td>
                  <% j_job.j_cost_centers.each do |jcc| %>
                    <li><%= jcc.cc_id %> - <%= jcc.name %></li>
                  <% end %>
                </td>
                <td>
                  <%= j_job.j_pay_band.name %>

                  <% if @company.is_security %>

                    <% if j_job.alert_band %>
                      <span class="label label-warning">Revisar</span>
                    <% end %>

                  <% end %>

                </td>
                <td><%= j_job.users.size %></td>
              <% end %>

              <td>
                <%= link_to 'Configurar', j_job %>

              </td>

            </tr>
          <% end %>

          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>
<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_j_jobs',
               file_name: 'Puestos de trabajo'
           }
%>