
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el puesto'.html_safe, @j_job, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-nodes"></i>
      Gestionar puestos
      <span>> Crear nueva versión </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">

      <%= form_for @j_job, url: j_jobs_create_version_path, method: :post, html: {class: 'form-horizontal', role: 'form'} do |f| %>
      <%= f.hidden_field :id %>

      <div class="panel-body">

        <legend>Datos del puesto</legend>
        <!--
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Familia de puestos</strong>
          </div>
          <div class="col-md-9">
            <%= @j_job.j_job_level.name if @j_job.j_job_level  %>
          </div>
        </div>
        <br>
        -->
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @j_job.name %>
          </div>
        </div>
        <br>

        <% JCharacteristic.all.each do |j_characteristic| %>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong><%= j_characteristic.name %></strong>
            </div>
            <div class="col-md-9">
              <%= @j_job.formatted_j_job_characteristic_value(j_characteristic.characteristic) %>
            </div>
          </div>
          <br>

        <% end %>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Versión actual</strong>
          </div>
          <div class="col-md-9" style="color: #8b0000">
            <strong><%= @j_job.version %></strong>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3 text-right">
            Versión a crear
          </div>
          <div class="col-md-9" style="color: #008000">
            <strong><%= @j_job.version+1 %></strong>
          </div>
        </div>
        <br>
        <div class="form-group">

          <%= f.label :from_date, 'Desde', class: 'col-md-3 control-label strong' %>

          <div class="col-md-9">

            <div id="from_date" class="input-group date">
              <input id="from_date_from" class="form-control" name="j_job[from_date]" data-format="dd/MM/yyyy" type="text" value="<%= lms_time.strftime('%d/%m/%Y') %>" readonly="readonly">
                      <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </span>
            </div>

            <script type="text/javascript">


              $('#from_date').datetimepicker({
                language: 'es',
                pickTime: false
              });



            </script>

          </div>
        </div>

      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Crear nueva versión', class: 'btn btn-primary' %>
        </div>
      </div>

      <% end %>
    </div>

  </div>
</div>
<!--
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Funciones</legend>

        <table class="table table-hover table-bordered table-striped smart-form">
          <tr>
            <th>#</th>
            <th>Función</th>
            <th>Principal</th>
          </tr>

          <% @j_functions.each_with_index do |j_function, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= j_function.description %></td>
              <td>
                <% if j_function.main_function %>
                  <i class="fa fa-check"></i>
                <% else %>

                <% end %>
              </td>
            </tr>
          <% end %>
        </table>

      </div>
    </div>


  </div>
</div>

-->
