
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el puesto'.html_safe, @j_job.j_job_current, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-cube"></i>
      Gestionar puestos
      <span>> Consultar historial de puesto </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos del puesto</legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Familia de puestos</strong>
          </div>
          <div class="col-md-9">
            <%= @j_job.j_job_level.name %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @j_job.name %>
          </div>
        </div>
        <br>

        <% JCharacteristic.all.each do |j_characteristic| %>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong><%= j_characteristic.name %></strong>
            </div>
            <div class="col-md-9">
              <%= @j_job.formatted_j_job_characteristic_value(j_characteristic.characteristic) %>
            </div>
          </div>
          <br>

        <% end %>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Versión</strong>
          </div>
          <div class="col-md-9">
            <%= @j_job.version %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Versión actual</strong>
          </div>
          <div class="col-md-9">
            <%= @j_job.j_job_current.version %>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Funciones</legend>

        <table class="table table-hover table-bordered table-striped smart-form">
          <tr>
            <th>#</th>
            <th>Función</th>
            <th>Principal</th>
          </tr>

          <% @j_functions.each_with_index do |j_function, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= j_function.description %></td>
              <td>
                <% if j_function.main_function %>
                  <i class="fa fa-check"></i>
                <% else %>

                <% end %>
              </td>
            </tr>
          <% end %>
        </table>

      </div>
    </div>


  </div>
</div>
