
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de puestos'.html_safe, j_jobs_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-cube"></i>
      Gestionar puestos
      <span>> Configurar puesto </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-pills tabs-left">

          <li class="active" style="width: 100%"><a href="#tab_j_job_current" data-toggle="tab">Versión <%= @j_job.version %> (actual)</a></li>

          <% if @j_job.j_job %>

            <% @j_job.j_job.j_jobs.where('current = ?', false).reorder('version DESC').each do |j_job_history| %>

              <li style="width: 100%"><a href="#tab_j_job_<%= j_job_history.version %>" data-toggle="tab">Versión <%= j_job_history.version %></a></li>

            <% end %>

            <li style="width: 100%"><a href="#tab_j_job_<%= @j_job.j_job.version %>" data-toggle="tab">Versión <%= @j_job.j_job.version %></a></li>

          <% end %>

        </ul>
      </div>

    </div>
  </div>
  <div class="col-md-9">

    <div class="tab-content">
      <div class="tab-pane active" id="tab_j_job_current">

        <div class="panel panel-default">
          <div class="panel-body">

            <legend><%= @j_job.name %></legend>

            <%= render partial: 'show',
                       locals: { j_job: @j_job }
            %>

          </div>

          <div class="panel-footer clearfix">
            <div class="pull-right">

              <% if @j_job.current %>

                <%= link_to 'Crear una nueva versión', j_jobs_new_version_path(@j_job) %>
                &nbsp;&nbsp;&nbsp;
                <%= link_to 'Editar versión actual', edit_j_job_path(@j_job) %>
                &nbsp;&nbsp;&nbsp;

                <% if @j_job.j_jobs.count == 0 && UserJJob.where('j_job_id = ? AND to_date IS NOT NULL', @j_job.id).count == 0 %>

                  <%= link_to 'Eliminar versión actual', @j_job, method: :delete, data: { confirm: '¿Está seguro de eliminar el puesto?' } %>

                <% else %>



                <% end %>

              <% end %>

            </div>
          </div>

        </div>
<!--
        <div class="panel panel-default">
          <div class="panel-body">

            <legend>Funciones</legend>

            <table class="table table-hover table-bordered table-striped smart-form">
              <tr>
                <th>#</th>
                <th>Función</th>
                <th>Principal</th>
                <th colspan="2">
                  <%= link_to 'Crear nueva función', j_functions_new_path(@j_job) %>
                </th>
              </tr>

              <% @j_functions.each_with_index do |j_function, index| %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= j_function.description %></td>
                  <td>
                    <% if j_function.main_function %>
                      <i class="fa fa-check"></i>
                    <% else %>

                    <% end %>
                  </td>
                  <td><%= link_to 'Editar', edit_j_function_path(j_function) %></td>
                  <td><%= link_to 'Eliminar', j_function, method: :delete, data: { confirm: '¿Está seguro de eliminar la función?' } %></td>
                </tr>
              <% end %>
            </table>

          </div>
        </div>
-->
      </div>
      <% if @j_job.j_job %>

        <% @j_job.j_job.j_jobs.where('current = ?', false).reorder('version DESC').each do |j_job_history| %>

          <div class="tab-pane" id="tab_j_job_<%= j_job_history.version %>">

            <div class="panel panel-default">
              <div class="panel-body">

                <legend><%= j_job_history.name %></legend>

                <%= render partial: 'show',
                           locals: { j_job: j_job_history }
                %>

              </div>

            </div>
<!--
            <div class="panel panel-default">
              <div class="panel-body">

                <legend>Funciones</legend>

                <table class="table table-hover table-bordered table-striped smart-form">
                  <tr>
                    <th>#</th>
                    <th>Función</th>
                    <th>Principal</th>
                  </tr>

                  <% j_job_history.j_functions.each_with_index do |j_function, index| %>
                    <tr>
                      <td><%= index+1 %></td>
                      <td><%= j_function.description %></td>
                      <td>
                        <% if j_function.main_function %>
                          <i class="fa fa-check"></i>
                        <% else %>

                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </table>

              </div>
            </div>
-->
          </div>

        <% end %>

        <div class="tab-pane" id="tab_j_job_<%= @j_job.j_job.version %>">

          <div class="panel panel-default">
            <div class="panel-body">

              <legend><%= @j_job.name %></legend>

              <%= render partial: 'show',
                         locals: { j_job: @j_job.j_job }
              %>

            </div>

          </div>
<!--
          <div class="panel panel-default">
            <div class="panel-body">

              <legend>Funciones</legend>

              <table class="table table-hover table-bordered table-striped smart-form">
                <tr>
                  <th>#</th>
                  <th>Función</th>
                  <th>Principal</th>
                </tr>

                <% @j_job.j_job.j_functions.each_with_index do |j_function, index| %>
                  <tr>
                    <td><%= index+1 %></td>
                    <td><%= j_function.description %></td>
                    <td>
                      <% if j_function.main_function %>
                        <i class="fa fa-check"></i>
                      <% else %>

                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </table>

            </div>
          </div>
-->
        </div>

      <% end %>

    </div>

  </div>
</div>
