
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Indicadores de gestión de la capacitación</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>

            <th>#</th>
            <th>Año</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th></th>
          </tr>

          </thead>
          <tbody>
            <% @planning_processes.each_with_index do |planning_process, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= planning_process.year %></td>
                <td><%= planning_process.nombre %></td>
                <th>
                  <% if planning_process.abierto %>
                    <span class="label label-success">abierto</span>
                  <% else %>
                    <span class="label label-danger">cerrado</span>
                  <% end %>
                </th>
                <td><%= link_to 'Indicadores', planning_programming_indicators_ver_proceso_path(planning_process) %></td>

              </tr>
            <% end %>

          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>



