<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de procesos'.html_safe, planning_programming_indicators_listar_procesos_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Indicadores de gestión de la capacitación</legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Año</strong>
          </div>
          <div class="col-md-9">
            <%= @planning_process.year %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @planning_process.nombre %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <strong>Estado</strong>
          </div>
          <div class="col-md-9">
            <% if @planning_process.abierto? %>
              <span class="label label-success">abierto</span>
            <% else %>
              <span class="label label-danger">finalizado</span>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Unidades</legend>
        <table class="table table-striped table-hover table-bordered">



          <thead>

            <tr>
              <th>#</th>
              <th colspan="2">Unidad</th>
              <th></th>
            </tr>

          </thead>

          <tbody>

            <tr>

              <td></td>
              <td>Indicadores consolidados</td>
              <td>

              </td>

              <td>
                <%= link_to 'Indicadores', planning_programming_indicators_ver_consolidado_path(@planning_process), tabindex: '-1' %>
              </td>

            </tr>

          <% @planning_process.company_units.each_with_index do |aux_cu, index| %>

            <% ppcu = @planning_process.planning_process_company_units.find_by_company_unit_id aux_cu.id %>

            <tr>

                <td><%= index+1 %></td>
                <td><%= ppcu.company_unit.nombre %></td>
                <td>
                 <img class="flag flag-<%= ppcu.company_unit.country.codigo %>">
                  <%= ppcu.company_unit.country.nombre %>
                </td>



                <td>
                  <%= link_to 'Indicadores', planning_programming_indicators_ver_unidad_path(@planning_process,ppcu), tabindex: '-1' %>
                </td>

            </tr>
          <% end %>


          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
