<%
   if params[:company_unit_area_id] || (params[:filtro] && params[:filtro][:company_unit_area_id])


     filtro_cua_id = params[:filtro][:company_unit_area_id] if params[:filtro]
     filtro_cua_id = params[:company_unit_area_id] if params[:company_unit_area_id]


     cua = CompanyUnitArea.find(filtro_cua_id)

   end


%>

<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de unidades'.html_safe, planning_programming_indicators_ver_proceso_path(@planning_process), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Indicadores de gestión de la capacitación</legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Año</strong>
          </div>
          <div class="col-md-9">
            <%= @planning_process.year %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @planning_process.nombre %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <strong>Unidad</strong>
          </div>
          <div class="col-md-4">
            <%= @planning_process_company_unit.company_unit.nombre %>
          </div>
          <div class="col-md-4">
            <img class="flag flag-<%= @planning_process_company_unit.company_unit.country.codigo %>">
            <%= @planning_process_company_unit.company_unit.country.nombre %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <strong>Área</strong>
          </div>

          <%= form_for @planning_process_company_unit, url: planning_programming_indicators_ver_unidad_area_path(@planning_process, @planning_process_company_unit), method: :post do |f| %>

            <div class="col-md-6">
              <% cua_array = @planning_process_company_unit.company_unit.company_unit_areas.map { |cua| [cua.nombre, cua.id.to_s] } %>

              <%= select(:filtro, :company_unit_area_id, options_for_select(cua_array, filtro_cua_id), :include_blank => '-- Todas --') %>


            </div>
            <div class="col-md-3">

              <%= f.submit 'Filtrar', class: 'btn btn-primary' %>

            </div>

          <% end %>

        </div>

      </div>
    </div>
  </div>
</div>



<br>

<%
   meses = t('date.month_names')
   meses_array = meses.each_with_index.map { |m, i| [m, i] }
   meses_array.delete_at 0

   mes_actual = lms_time.strftime '%-m'
   #mes_actual = params[:mes_actual] if params[:mes_actual]

%>


<div class="panel panel-default">
<div class="panel-body">


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <legend class="text-center">
      <% if filtro_cua_id %>
        <%= cua.nombre %>
      <% else %>
        Todas las áreas
      <% end %>
    </legend>
  </div>
</div>

<br>


<div class="text-center">
  <ul class="nav nav-pills nav-pills-<%= $current_domain %>" style="display: inline-block;">

    <% meses_array.each do |mes_dato| %>
      <% if mes_dato[1].to_s == mes_actual %>
        <li class="<%= 'active' if !params[:resumen] && mes_dato[1].to_s == mes_actual %> text-left">
          <% if filtro_cua_id %>
            <a href="<%= planning_programming_indicators_ver_unidad_area_mes_filtro_path(@planning_process, @planning_process_company_unit, mes_dato[1], filtro_cua_id) %>">
              <%= mes_dato[0] %>
            </a>
          <% else %>
            <a href="<%= planning_programming_indicators_ver_unidad_mes_path(@planning_process, @planning_process_company_unit, mes_dato[1]) %>">
              <%= mes_dato[0] %>
            </a>
          <% end %>
        </li>
      <% end %>

    <% end %>

    <li class="<%= 'active' if params[:resumen] %> text-left">
      <% if filtro_cua_id %>
        <a href="<%= planning_programming_indicators_ver_unidad_area_total_path(@planning_process, @planning_process_company_unit, filtro_cua_id, 'resumen') %>">
          Resumen
        </a>
      <% else %>
        <a href="<%= planning_programming_indicators_ver_unidad_total_path(@planning_process, @planning_process_company_unit, 'resumen') %>">
          Resumen
        </a>
      <% end %>


    </li>

  </ul>
</div>

<br>
<br>


<% if params[:resumen] %>

  <%

     training_types = TrainingType.all

     num_cur_planif_array = Array.new
     num_cur_no_planif_array = Array.new
     num_cur_total_array = Array.new

     por_cur_planif_ejec_array = Array.new
     num_cur_planif_ejec_array = Array.new

     por_cur_no_planif_ejec_array = Array.new
     num_cur_no_planif_ejec_array = Array.new

     por_cur_total_ejec_array = Array.new
     num_cur_total_ejec_array = Array.new

     costo_cur_planif_array = Array.new
     costo_cur_planif_ejec_array = Array.new

     costo_cur_no_planif_array = Array.new
     costo_cur_no_planif_ejec_array = Array.new

     costo_cur_total_array = Array.new
     costo_cur_total_ejec_array = Array.new

     costo_cur_prog_array = Array.new

     num_asist_planif_array = Array.new
     total_asist_planif_array = Array.new
     por_asist_planif_array = Array.new
     num_hh_planif_array = Array.new

     num_hh_planif_det_array = Hash.new

     training_types.each do |training_type|
       num_hh_planif_det_array[training_type.id] = Array.new
     end

     num_asist_no_planif_array = Array.new
     total_asist_no_planif_array = Array.new
     por_asist_no_planif_array = Array.new
     num_hh_no_planif_array = Array.new

     num_hh_no_planif_det_array = Hash.new

     training_types.each do |training_type|
       num_hh_no_planif_det_array[training_type.id] = Array.new
     end

     num_asist_total_array = Array.new
     total_asist_total_array = Array.new
     por_asist_total_array = Array.new
     num_hh_total_array = Array.new


     num_hh_prog = 0
     por_costo_cur_prog_ejec = 0
     costo_cur_prog_ejec = 0


     (1..12).each do |mes|

       if filtro_cua_id

         dncs = @planning_process_company_unit.dncs_area_mes(cua, mes)
         dncps = @planning_process_company_unit.dncps_area_mes(cua, mes)

       else

         dncs = @planning_process_company_unit.dncs_mes(mes)
         dncps = @planning_process_company_unit.dncps_mes(mes)

       end


       #planif

       num_cur_planif = dncs.size
       num_cur_planif_ejec = 0

       costo_cur_planif = 0
       costo_cur_planif_ejec = 0

       num_asist_planif = 0
       total_asist_planif = 0

       num_hh_planif = 0

       num_hh_planif_det = Hash.new

       training_types.each do |training_type|
         num_hh_planif_det[training_type.id] = 0
       end

       #prog

       num_cur_prog = dncps.size
       num_cur_prog_ejec = 0

       num_hh_total = 0

       total_asist_prog_evaluados = 0
       total_asist_prog_aprob = 0
       total_asist_prog_reprob = 0

       # no planif

       num_cur_no_planif = num_cur_prog - num_cur_planif
       num_cur_no_planif_ejec = 0

       costo_cur_no_planif = 0
       costo_cur_no_planif_ejec = 0

       num_asist_no_planif = 0
       total_asist_no_planif = 0

       num_hh_no_planif = 0

       num_hh_no_planif_det = Hash.new

       training_types.each do |training_type|
         num_hh_no_planif_det[training_type.id] = 0
       end

       dncs.each do |dnc|

         num_asist_planif += dnc.dnc_students.size
         costo_cur_planif += dnc.costo_directo + dnc.costo_indirecto

         if dnc.dncp &&

           if dnc.dncp.user_courses.where('asistencia = ?', true).size > 0

             num_cur_planif_ejec += 1

             total_asist_planif += dnc.dncp.user_courses.where('asistencia = ?', true).size
             costo_cur_planif_ejec += dnc.dncp.costo_directo + dnc.dncp.costo_indirecto

             hh_aux = dnc.dncp.tiempo_capacitacion*dnc.dncp.user_courses.where('asistencia = ?', true).size/60

             num_hh_planif += hh_aux

             num_hh_planif_det[dnc.training_type.id] += hh_aux

           end

         end

       end

       dncps.each do |dncp|

         tuvo_asistentes = false
         if dncp.user_courses.where('asistencia = ?', true).size > 0
           tuvo_asistentes = true

           num_hh_prog += dncp.tiempo_capacitacion*dncp.user_courses.where('asistencia = ?', true).size/60

           num_hh_total += dncp.tiempo_capacitacion*dncp.user_courses.where('asistencia = ?', true).size/60

           costo_cur_prog_ejec += dncp.costo_directo + dncp.costo_indirecto

         end

         num_cur_prog_ejec += 1 if tuvo_asistentes

         unless dncp.dnc

           num_asist_no_planif += dncp.dnc_student_ps.size

           costo_cur_no_planif += dncp.costo_directo + dncp.costo_indirecto

           if tuvo_asistentes

             num_cur_no_planif_ejec += 1

             costo_cur_no_planif_ejec += dncp.costo_directo + dncp.costo_indirecto

             total_asist_no_planif = UserCourse.where('dncp_id = ? AND asistencia = ?', dncp.id, true).size



             hh_aux = dncp.tiempo_capacitacion*dncp.user_courses.where('asistencia = ?', true).size/60

             num_hh_no_planif += hh_aux

             num_hh_no_planif_det[dncp.training_type.id] += hh_aux

           end

         end

         dncp.user_courses.where('finalizado = ?', true).each do |uc|

           if uc.nota

             total_asist_prog_evaluados += 1

             if uc.aprobado
               total_asist_prog_aprob += 1
             else
               total_asist_prog_reprob += 1
             end

           end

         end


       end


       num_cur_planif_ejec_array.push num_cur_planif_ejec

       if num_cur_planif > 0
         num_cur_planif_array.push num_cur_planif
         por_cur_planif_ejec_array.push num_cur_planif_ejec*100/num_cur_planif

       else
         num_cur_planif_array.push 0
         por_cur_planif_ejec_array.push nil
       end

       num_cur_no_planif_ejec_array.push num_cur_no_planif_ejec

       if num_cur_no_planif > 0
         num_cur_no_planif_array.push num_cur_no_planif
         por_cur_no_planif_ejec_array.push num_cur_no_planif_ejec*100/num_cur_no_planif

       else
         num_cur_no_planif_array.push 0
         por_cur_no_planif_ejec_array.push nil
       end

       num_cur_total_array.push num_cur_planif_array.last + num_cur_no_planif_array.last
       num_cur_total_ejec_array.push num_cur_planif_ejec_array.last + num_cur_no_planif_ejec_array.last
       if num_cur_total_array.last > 0
         por_cur_total_ejec_array.push num_cur_total_ejec_array.last*100/num_cur_total_array.last
       else
         por_cur_total_ejec_array.push nil
       end

       num_asist_planif_array.push num_asist_planif
       total_asist_planif_array.push total_asist_planif


       if num_asist_planif > 0
         por_asist_planif_array.push total_asist_planif*100/num_asist_planif
       else
         por_asist_planif_array.push nil
       end

       num_asist_no_planif_array.push num_asist_no_planif
       total_asist_no_planif_array.push total_asist_no_planif

       if num_asist_no_planif > 0
         por_asist_no_planif_array.push total_asist_no_planif*100/num_asist_no_planif
       else
         por_asist_no_planif_array.push nil
       end

       num_asist_total_array.push num_asist_planif_array.last + num_asist_no_planif_array.last
       total_asist_total_array.push total_asist_planif_array.last + total_asist_no_planif_array.last

       if num_asist_total_array.last > 0
         por_asist_total_array.push total_asist_total_array.last*100/num_asist_total_array.last
       else
         por_asist_total_array.push nil
       end

       por_aprob_prog = total_asist_prog_aprob*100/total_asist_prog_evaluados if total_asist_prog_evaluados > 0

       costo_cur_planif_array.push costo_cur_planif
       costo_cur_planif_ejec_array.push costo_cur_planif_ejec

       costo_cur_no_planif_array.push costo_cur_no_planif
       costo_cur_no_planif_ejec_array.push costo_cur_no_planif_ejec

       costo_cur_total_array.push costo_cur_planif + costo_cur_no_planif
       costo_cur_total_ejec_array.push costo_cur_planif_ejec + costo_cur_no_planif_ejec

       num_hh_planif_array.push num_hh_planif
       num_hh_no_planif_array.push num_hh_no_planif

       training_types.each do |training_type|
         num_hh_planif_det_array[training_type.id].push num_hh_planif_det[training_type.id]
         num_hh_no_planif_det_array[training_type.id].push num_hh_no_planif_det[training_type.id]
       end

       num_hh_total_array.push num_hh_total

     end

     ct = 0

     costo_cur_planif_array.each do |c|

       ct += c

     end

     por_costo_cur_prog_ejec = costo_cur_prog_ejec*100/ct



     data_table = GoogleVisualr::DataTable.new
     data_table.new_column('string', 'mes')
     data_table.new_column('number', 'ejecutado')
     data_table.new_column('number', 'no ejecutado')

     data_table.add_rows(12)

     data_table_array = Array.new

     (1..12).each do |mes|

       data_table.set_cell(mes-1, 0, meses_array[mes-1][0].slice(0, 3))

       if por_cur_planif_ejec_array[mes-1]

         data_table.set_cell(mes-1, 1, por_cur_planif_ejec_array[mes-1])
         if por_cur_planif_ejec_array[mes-1] <= 100
           data_table.set_cell(mes-1, 2, 100-por_cur_planif_ejec_array[mes-1])
         else
           data_table.set_cell(mes-1, 2, 0)
         end

       else

         data_table.set_cell(mes-1, 1, 0)
         data_table.set_cell(mes-1, 2, 0)

       end

     end

     opts = {
       :title => '% de Ejecución',
       :vAxis => {:title => 'Porcentaje'},
       :bar => {groupWidth: '25%'},
       :isStacked => 'true'
     }

     chart_por_cur_planif_ejec = GoogleVisualr::Interactive::ColumnChart.new(data_table, opts)

     ###

     data_table = GoogleVisualr::DataTable.new
     data_table.new_column('string', 'mes')
     data_table.new_column('number', 'Planificado')
     data_table.new_column('number', 'Real')

     data_table.add_rows(12)

     data_table_array = Array.new

     (1..12).each do |mes|

       data_table.set_cell(mes-1, 0, meses_array[mes-1][0].slice(0, 3))

       data_table.set_cell(mes-1, 1, costo_cur_planif_array[mes-1])
       data_table.set_cell(mes-1, 2, costo_cur_planif_ejec_array[mes-1])

     end




     opts = {
       :title => 'Costo Real vs Costo Planificado',
       :vAxis => {:title => 'Costo'}
     }

     chart_costo_cur_planif_ejec = GoogleVisualr::Interactive::ColumnChart.new(data_table, opts)

     ###

     data_table = GoogleVisualr::DataTable.new
     data_table.new_column('string', 'mes')
     data_table.new_column('number', 'Asistencia')
     data_table.new_column('number', 'Pendientes de asistir')

     data_table.add_rows(12)

     data_table_array = Array.new

     (1..12).each do |mes|

       data_table.set_cell(mes-1, 0, meses_array[mes-1][0].slice(0, 3))

       if por_asist_planif_array[mes-1]
         data_table.set_cell(mes-1, 1, por_asist_planif_array[mes-1])
         if por_asist_planif_array[mes-1] <= 100
           data_table.set_cell(mes-1, 2, 100-por_asist_planif_array[mes-1])
         else
           data_table.set_cell(mes-1, 2, 0)
         end
       else
         data_table.set_cell(mes-1, 1, 0)
         data_table.set_cell(mes-1, 2, 0)
       end

     end

     opts = {
       :title => '% de Asistencia',
       :vAxis => {:title => 'Porcentaje'},
       :bar => {groupWidth: '25%'},
       :isStacked => 'true'
     }

     chart_por_asist_planif = GoogleVisualr::Interactive::ColumnChart.new(data_table, opts)

     ###

     data_table = GoogleVisualr::DataTable.new
     data_table.new_column('string', 'mes')
     data_table.new_column('number', 'ejecutado')
     data_table.new_column('number', 'no ejecutado')

     data_table.add_rows(12)

     data_table_array = Array.new

     (1..12).each do |mes|

       data_table.set_cell(mes-1, 0, meses_array[mes-1][0].slice(0, 3))

       if por_cur_no_planif_ejec_array[mes-1]

         data_table.set_cell(mes-1, 1, por_cur_no_planif_ejec_array[mes-1])
         if por_cur_no_planif_ejec_array[mes-1] <= 100
           data_table.set_cell(mes-1, 2, 100-por_cur_no_planif_ejec_array[mes-1])
         else
           data_table.set_cell(mes-1, 2, 0)
         end

       else

         data_table.set_cell(mes-1, 1, 0)
         data_table.set_cell(mes-1, 2, 0)

       end

     end




     opts = {
       :title => '% de Ejecución',
       :vAxis => {:title => 'Porcentaje'},
       :bar => {groupWidth: '25%'},
       :isStacked => 'true'
     }

     chart_por_cur_no_planif_ejec = GoogleVisualr::Interactive::ColumnChart.new(data_table, opts)

     ###

     data_table = GoogleVisualr::DataTable.new
     data_table.new_column('string', 'mes')
     data_table.new_column('number', 'Planificado')
     data_table.new_column('number', 'Real')

     data_table.add_rows(12)

     data_table_array = Array.new

     (1..12).each do |mes|

       data_table.set_cell(mes-1, 0, meses_array[mes-1][0].slice(0, 3))

       data_table.set_cell(mes-1, 1, costo_cur_no_planif_array[mes-1])
       data_table.set_cell(mes-1, 2, costo_cur_no_planif_ejec_array[mes-1])

     end




     opts = {
       :title => 'Costo Real vs Costo Planificado',
       :vAxis => {:title => 'Costo'}
     }

     chart_costo_cur_no_planif_ejec = GoogleVisualr::Interactive::ColumnChart.new(data_table, opts)

     ###

     data_table = GoogleVisualr::DataTable.new
     data_table.new_column('string', 'mes')
     data_table.new_column('number', 'Asistencia')
     data_table.new_column('number', 'Pendientes de asistir')

     data_table.add_rows(12)

     data_table_array = Array.new

     (1..12).each do |mes|

       data_table.set_cell(mes-1, 0, meses_array[mes-1][0].slice(0, 3))

       if por_asist_no_planif_array[mes-1]
         data_table.set_cell(mes-1, 1, por_asist_no_planif_array[mes-1])
         if por_asist_no_planif_array[mes-1] <= 100
           data_table.set_cell(mes-1, 2, 100-por_asist_no_planif_array[mes-1])
         else
           data_table.set_cell(mes-1, 2, 0)
         end
       else
         data_table.set_cell(mes-1, 1, 0)
         data_table.set_cell(mes-1, 2, 0)
       end

     end

     opts = {
       :title => '% de Asistencia',
       :vAxis => {:title => 'Porcentaje'},
       :bar => {groupWidth: '25%'},
       :isStacked => 'true'
     }

     chart_por_asist_no_planif = GoogleVisualr::Interactive::ColumnChart.new(data_table, opts)


  %>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">

      <h4>Total de horas hombre<br>
        <span class="label label-primary">

            <%= num_hh_prog %> HH

        </span>
      </h4>

    </div>
    <div class="col-md-4">
      <h4>Presupuesto consumido<br>
        <span class="label label-primary">

            <%= por_costo_cur_prog_ejec.to_i %> %
            &nbsp;&nbsp;
            <%= costo_cur_prog_ejec.to_i %> / <%= ct.to_i %>

        </span>

      </h4>

    </div>
  </div>
  <br>
  <br>

  <ul class="nav nav-tabs" role="tablist">

    <li class="active">
      <a href="#tab_cur_planif" role="tab" data-toggle="tab">Cursos planificados</a>
    </li>
    <li>
      <a href="#tab_cur_no_planif" role="tab" data-toggle="tab" >Cursos no planificados</a>
    </li>
    <li>
      <a href="#tab_cur_total" role="tab" data-toggle="tab"  >Totales</a>
    </li>

  </ul>


  <div class="tab-content" id="tab_content_indicadores">
  <div class="tab-pane active" id="tab_cur_planif">
    <br>

    <div class="row">
      <div class="col-md-12">
        <br><br>
        <table id="datatable_fixed_column_planif" class="table table-bordered table-hover table-compresed smart_form">
          <thead>
          <tr>
            <th></th>
            <% (1..12).each do |mes| %>

              <th>
                <%= meses_array[mes-1][0].slice(0, 3) %>
              </th>

            <% end %>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Número de cursos planificados</td>
            <% (1..12).each do |mes| %>

              <td>
                <%= num_cur_planif_array[mes-1] %>
              </td>

            <% end %>

          </tr>

          <tr>
            <td>Número de cursos ejecutados</td>
            <% (1..12).each do |mes| %>

              <td>
                <%= num_cur_planif_ejec_array[mes-1] %>
              </td>

            <% end %>

          </tr>

          <tr>
            <td>Costo planificado</td>
            <% (1..12).each do |mes| %>

              <td>
                <%= costo_cur_planif_array[mes-1] %>
              </td>

            <% end %>

          </tr>

          <tr>
            <td>Costo ejecutado</td>
            <% (1..12).each do |mes| %>

              <td>
                <%= costo_cur_planif_ejec_array[mes-1] %>
              </td>

            <% end %>

          </tr>

          <tr>
            <td>Asistencia esperada</td>
            <% (1..12).each do |mes| %>

              <td>
                <%= num_asist_planif_array[mes-1] %>
              </td>

            <% end %>

          </tr>

          <tr>
            <td>Asistencia real</td>
            <% (1..12).each do |mes| %>

              <td>
                <%= total_asist_planif_array[mes-1] %>
              </td>

            <% end %>

          </tr>

          <tr>
            <td>HH</td>
            <% (1..12).each do |mes| %>

              <td>
                <%= num_hh_planif_array[mes-1] %>
              </td>

            <% end %>

          </tr>

          <% training_types.each do |training_type| %>

            <tr>
              <td align="right">
                <em>HH - <%= training_type.nombre %></em>
              </td>
              <% (1..12).each do |mes| %>

                <td>
                  <em><%= num_hh_planif_det_array[training_type.id][mes-1] %></em>
                </td>

              <% end %>

            </tr>

          <% end %>

          </tbody>
        </table>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id='chart_por_cur_planif_ejec'></div>
        <%= render_chart(chart_por_cur_planif_ejec, 'chart_por_cur_planif_ejec') if chart_por_cur_planif_ejec %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id='chart_costo_cur_planif_ejec'></div>
        <%= render_chart(chart_costo_cur_planif_ejec, 'chart_costo_cur_planif_ejec') if chart_costo_cur_planif_ejec %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id='chart_por_asist_planif'></div>
        <%= render_chart(chart_por_asist_planif, 'chart_por_asist_planif') if chart_por_asist_planif %>
      </div>
    </div>
  </div>

  <div class="tab-pane active" id="tab_cur_no_planif">
    <br>

    <div class="row">
      <div class="col-md-12">
        <br>
        <br>
        <table id="datatable_fixed_column_no_planif" class="table table-bordered table-hover table-compresed smart-form">
          <thead>
          <tr>
            <th></th>
            <% (1..12).each do |mes| %>

              <th>
                <%= meses_array[mes-1][0].slice(0, 3) %>
              </th>

            <% end %>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Número de cursos no planificados</td>
            <% (1..12).each do |mes| %>

              <td>
                <%= num_cur_no_planif_array[mes-1] %>
              </td>

            <% end %>

          </tr>

          <tr>
            <td>Número de cursos ejecutados</td>
            <% (1..12).each do |mes| %>

              <td>
                <%= num_cur_no_planif_ejec_array[mes-1] %>
              </td>

            <% end %>

          </tr>

          <tr>
            <td>Costo planificado</td>
            <% (1..12).each do |mes| %>

              <td>
                <%= costo_cur_no_planif_array[mes-1] %>
              </td>

            <% end %>

          </tr>

          <tr>
            <td>Costo ejecutado</td>
            <% (1..12).each do |mes| %>

              <td>
                <%= costo_cur_no_planif_ejec_array[mes-1] %>
              </td>

            <% end %>

          </tr>

          <tr>
            <td>Asistencia esperada</td>
            <% (1..12).each do |mes| %>

              <td>
                <%= num_asist_no_planif_array[mes-1] %>
              </td>

            <% end %>

          </tr>

          <tr>
            <td>Asistencia real</td>
            <% (1..12).each do |mes| %>

              <td>
                <%= total_asist_no_planif_array[mes-1] %>
              </td>

            <% end %>

          </tr>

          <tr>
            <td>HH</td>
            <% (1..12).each do |mes| %>

              <td>
                <%= num_hh_no_planif_array[mes-1] %>
              </td>

            <% end %>

          </tr>

          <% training_types.each do |training_type| %>

            <tr>
              <td align="right">
                <em>HH - <%= training_type.nombre %></em>
              </td>
              <% (1..12).each do |mes| %>

                <td>
                  <em><%= num_hh_no_planif_det_array[training_type.id][mes-1] %></em>
                </td>

              <% end %>

            </tr>

          <% end %>

          </tbody>
        </table>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id='chart_por_cur_no_planif_ejec'></div>
        <%= render_chart(chart_por_cur_no_planif_ejec, 'chart_por_cur_no_planif_ejec') if chart_por_cur_no_planif_ejec %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id='chart_costo_cur_no_planif_ejec'></div>
        <%= render_chart(chart_costo_cur_no_planif_ejec, 'chart_costo_cur_no_planif_ejec') if chart_costo_cur_no_planif_ejec %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id='chart_por_asist_no_planif'></div>
        <%= render_chart(chart_por_asist_no_planif, 'chart_por_asist_no_planif') if chart_por_asist_no_planif %>
      </div>
    </div>
  </div>

  <div class="tab-pane active" id="tab_cur_total">
    <br>

    <div class="row">
    <div class="col-md-12">
      <br>
      <br>
      <table id="datatable_fixed_column_total" class="table table-bordered table-hover table-compresed smart-form" style="width: 100%;">
        <thead>
        <tr>
          <th></th>
          <% (1..12).each do |mes| %>

            <th>
              <%= meses_array[mes-1][0].slice(0, 3) %>
            </th>

          <% end %>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Número de cursos planificados</td>
          <% (1..12).each do |mes| %>

            <td>
              <%= num_cur_total_array[mes-1] %>
            </td>

          <% end %>

        </tr>

        <tr>
          <td>Número de cursos ejecutados</td>
          <% (1..12).each do |mes| %>

            <td>
              <%= num_cur_total_ejec_array[mes-1] %>
            </td>

          <% end %>

        </tr>

        <tr>
          <td>Costo planificado</td>
          <% (1..12).each do |mes| %>

            <td>
              <%= costo_cur_total_array[mes-1] %>
            </td>

          <% end %>

        </tr>

        <tr>
          <td>Costo ejecutado</td>
          <% (1..12).each do |mes| %>

            <td>
              <%= costo_cur_total_ejec_array[mes-1] %>
            </td>

          <% end %>

        </tr>

        <tr>
          <td>Asistencia esperada</td>
          <% (1..12).each do |mes| %>

            <td>
              <%= num_asist_total_array[mes-1] %>
            </td>

          <% end %>

        </tr>

        <tr>
          <td>Asistencia real</td>
          <% (1..12).each do |mes| %>

            <td>
              <%= total_asist_total_array[mes-1] %>
            </td>

          <% end %>

        </tr>

        <tr>
          <td>HH</td>
          <% (1..12).each do |mes| %>

            <td>
              <%= num_hh_planif_array[mes-1] + num_hh_no_planif_array[mes-1] %>
            </td>

          <% end %>

        </tr>

        <% training_types.each do |training_type| %>

          <tr>
            <td align="right">
              <em>HH - <%= training_type.nombre %></em>
            </td>
            <% (1..12).each do |mes| %>

              <td>
                <em><%= num_hh_planif_det_array[training_type.id][mes-1]+num_hh_no_planif_det_array[training_type.id][mes-1] %></em>
              </td>

            <% end %>

          </tr>

        <% end %>







        </tbody>
      </table>

  <%

     ###

     data_table = GoogleVisualr::DataTable.new
     data_table.new_column('string', 'mes')
     data_table.new_column('number', 'ejecutado')
     data_table.new_column('number', 'no ejecutado')

     data_table.add_rows(12)

     data_table_array = Array.new

     (1..12).each do |mes|

       data_table.set_cell(mes-1, 0, meses_array[mes-1][0].slice(0, 3))

       if por_cur_total_ejec_array[mes-1]

         data_table.set_cell(mes-1, 1, por_cur_total_ejec_array[mes-1])
         if por_cur_total_ejec_array[mes-1] <= 100
           data_table.set_cell(mes-1, 2, 100-por_cur_total_ejec_array[mes-1])
         else
           data_table.set_cell(mes-1, 2, 0)
         end

       else

         data_table.set_cell(mes-1, 1, 0)
         data_table.set_cell(mes-1, 2, 0)

       end

     end




     opts = {
       :title => '% de Ejecución',
       :vAxis => {:title => 'Porcentaje'},
       :bar => {groupWidth: '25%'},
       :isStacked => 'true'
     }

     chart_por_cur_total_ejec = GoogleVisualr::Interactive::ColumnChart.new(data_table, opts)

     ###

     data_table = GoogleVisualr::DataTable.new
     data_table.new_column('string', 'mes')
     data_table.new_column('number', 'Planificado')
     data_table.new_column('number', 'Real')

     data_table.add_rows(12)

     data_table_array = Array.new

     (1..12).each do |mes|

       data_table.set_cell(mes-1, 0, meses_array[mes-1][0].slice(0, 3))

       data_table.set_cell(mes-1, 1, costo_cur_total_array[mes-1])
       data_table.set_cell(mes-1, 2, costo_cur_total_ejec_array[mes-1])

     end




     opts = {
       :title => 'Costo Real vs Costo Planificado',
       :vAxis => {:title => 'Costo'}
     }

     chart_costo_cur_total_ejec = GoogleVisualr::Interactive::ColumnChart.new(data_table, opts)

     ###

     data_table = GoogleVisualr::DataTable.new
     data_table.new_column('string', 'mes')
     data_table.new_column('number', 'Asistencia')
     data_table.new_column('number', 'Pendientes de asistir')

     data_table.add_rows(12)

     data_table_array = Array.new

     (1..12).each do |mes|

       data_table.set_cell(mes-1, 0, meses_array[mes-1][0].slice(0, 3))

       if por_asist_total_array[mes-1]
         data_table.set_cell(mes-1, 1, por_asist_total_array[mes-1])
         if por_asist_total_array[mes-1] <= 100
           data_table.set_cell(mes-1, 2, 100-por_asist_total_array[mes-1])
         else
           data_table.set_cell(mes-1, 2, 0)
         end
       else
         data_table.set_cell(mes-1, 1, 0)
         data_table.set_cell(mes-1, 2, 0)
       end

     end

     opts = {
       :title => '% de Asistencia',
       :vAxis => {:title => 'Porcentaje'},
       :bar => {groupWidth: '25%'},
       :isStacked => 'true'
     }

     chart_por_asist_total = GoogleVisualr::Interactive::ColumnChart.new(data_table, opts)

  %>

  <div class="row">
    <div class="col-md-12">
      <div id='chart_por_cur_total_ejec' style="width: 100%;"></div>
      <%= render_chart(chart_por_cur_total_ejec, 'chart_por_cur_total_ejec') if chart_por_cur_total_ejec %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id='chart_costo_cur_total_ejec' style="width: 100%;"></div>
      <%= render_chart(chart_costo_cur_total_ejec, 'chart_costo_cur_total_ejec') if chart_costo_cur_total_ejec %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id='chart_por_asist_total' style="width: 100%;"></div>
      <%= render_chart(chart_por_asist_total, 'chart_por_asist_total') if chart_por_asist_total %>
    </div>
  </div>
  </div>
    </div>
  </div>

  </div>

  <!-- PAGE RELATED PLUGIN(S) -->
  <script src="/assets/datatables2/jquery.dataTables.min.js"></script>
  <script src="/assets/datatables2/dataTables.tableTools.min.js"></script>
  <script src="/assets/datatables/DT_bootstrap.js"></script>


  <script type="text/javascript">

    $(document).ready(function() {

      var oTable = $('#datatable_fixed_column_planif').dataTable({
        "sDom" : "T<'dt-wrapper't>",
        "bSort": false,
        "iDisplayLength" : 25,
        "scrollX": true,
        "oTableTools" : {
          "aButtons": ["xls"],
          "sSwfPath": "/assets/datatables/media/swf/copy_csv_xls_pdf.swf"
        }

      });

      var oTable = $('#datatable_fixed_column_no_planif').dataTable({
        "sDom" : "T<'dt-wrapper't>",
        "bSort": false,
        "iDisplayLength" : 25,
        "scrollX": true,
        "oTableTools" : {
          "aButtons": ["xls"],
          "sSwfPath": "/assets/datatables/media/swf/copy_csv_xls_pdf.swf"
        }

      });

      var oTable = $('#datatable_fixed_column_total').dataTable({
        "sDom" : "T<'dt-wrapper't>",
        "bSort": false,
        "iDisplayLength" : 25,
        "scrollX": true,
        "oTableTools" : {
          "aButtons": ["xls"],
          "sSwfPath": "/assets/datatables/media/swf/copy_csv_xls_pdf.swf"
        }

      });

      $('.btn-group').css('right','0px');



    })

  </script>


  <script type="text/javascript">
    /*$(document).ready(function() {
      $('#tab_cur_no_planif').hide();
      $('#tab_cur_total').hide();

    });

    function volver_visibles_tabs_indicadores(){
      $('#tab_cur_no_planif').show();
      $('#tab_cur_total').show();
    }*/

  </script>



<% else %>

  <%

     if filtro_cua_id

       dncs = @planning_process_company_unit.dncs_area_mes(cua, mes_actual)
       dncps = @planning_process_company_unit.dncps_area_mes(cua, mes_actual)

     else

       dncs = @planning_process_company_unit.dncs_mes(mes_actual)
       dncps = @planning_process_company_unit.dncps_mes(mes_actual)

     end



     #planif

     num_cur_planif = dncs.size
     num_cur_planif_ejec = 0

     costo_cur_planif = 0
     costo_cur_planif_ejec = 0

     num_asist_planif = 0
     total_asist_planif_hasta_la_fecha = 0

     #prog

     num_cur_prog = dncps.size
     num_cur_prog_ejec = 0
     costo_cur_prog_ejec_hasta_la_fecha = 0

     total_asist_prog_evaluados = 0
     total_asist_prog_aprob = 0
     total_asist_prog_reprob = 0

     num_hh_prog = 0

     # no planif

     num_cur_no_planif = num_cur_prog - num_cur_planif
     num_cur_no_planif_ejec = 0

     costo_cur_no_planif = 0
     costo_cur_no_planif_ejec = 0

     num_asist_no_planif = 0
     total_asist_no_planif_hasta_la_fecha = 0

     if mes_actual.to_i < 12
       d_t = DateTime.new(@planning_process.year, mes_actual.to_i+1, 1)
     else
       d_t = DateTime.new(@planning_process.year+1, 1, 1)
     end

     dncs.each do |dnc|

       num_asist_planif += dnc.dnc_students.size

       costo_cur_planif += dnc.costo_directo + dnc.costo_indirecto

       if dnc.dncp

         if dnc.dncp.user_courses.where('asistencia = ?', true).size > 0

           num_cur_planif_ejec += 1
           costo_cur_planif_ejec += dnc.dncp.costo_directo + dnc.dncp.costo_indirecto

         end

         total_asist_planif_hasta_la_fecha = UserCourse.where('dncp_id = ? AND asistencia = ? AND fin <= ?', dnc.dncp.id, true, d_t).size

       end

     end

     dncps.each do |dncp|

       tuvo_asistentes = false
       if dncp.user_courses.where('asistencia = ?', true).size > 0
         tuvo_asistentes = true

         num_hh_prog += dncp.tiempo_capacitacion*dncp.user_courses.where('asistencia = ? AND fin <= ?', true, d_t).size/60

         costo_cur_prog_ejec_hasta_la_fecha += dncp.costo_directo + dncp.costo_indirecto

       end

       num_cur_prog_ejec += 1 if tuvo_asistentes

       unless dncp.dnc

         num_asist_no_planif += dncp.dnc_student_ps.size

         costo_cur_no_planif += dncp.costo_directo + dncp.costo_indirecto

         if tuvo_asistentes

           num_cur_no_planif_ejec += 1

           costo_cur_no_planif_ejec += dncp.costo_directo + dncp.costo_indirecto

           total_asist_no_planif_hasta_la_fecha = UserCourse.where('dncp_id = ? AND asistencia = ? AND fin <= ?', dncp.id, true, d_t).size

         end

       end

       dncp.user_courses.where('finalizado = ?', true).each do |uc|

         if uc.nota

           total_asist_prog_evaluados += 1

           if uc.aprobado
             total_asist_prog_aprob += 1
           else
             total_asist_prog_reprob += 1
           end

         end

       end


     end

     por_cur_planif_ejec = num_cur_planif_ejec*100/num_cur_planif if num_cur_planif > 0
     por_cur_no_planif_ejec = num_cur_no_planif_ejec*100/num_cur_no_planif if num_cur_no_planif > 0

     por_asist_planif = total_asist_planif_hasta_la_fecha*100/num_asist_planif if num_asist_planif > 0
     por_asist_no_planif = total_asist_no_planif_hasta_la_fecha*100/num_asist_no_planif if num_asist_no_planif > 0

     por_aprob_prog = total_asist_prog_aprob*100/total_asist_prog_evaluados if total_asist_prog_evaluados > 0

     por_costo_cur_prog_ejec_hasta_la_fecha = costo_cur_prog_ejec_hasta_la_fecha*100/costo_cur_planif if costo_cur_planif > 0


  %>




  <%

     if por_cur_planif_ejec

       data_table = GoogleVisualr::DataTable.new
       data_table.new_column('string', 'Curso')
       data_table.new_column('number', 'Porcentaje')
       data_table.add_rows(2)
       data_table.set_cell(0, 0, 'Por ejecutar')
       data_table.set_cell(0, 1, 100-por_cur_planif_ejec)
       data_table.set_cell(1, 0, 'Ejecutados')
       data_table.set_cell(1, 1, por_cur_planif_ejec)


       opts = {:title => '% de Ejecución', :is3D => false}
       chart_por_cur_planif_ejec = GoogleVisualr::Interactive::PieChart.new(data_table, opts)

     end

     if por_cur_no_planif_ejec

       data_table = GoogleVisualr::DataTable.new
       data_table.new_column('string', 'Curso')
       data_table.new_column('number', 'Porcentaje')
       data_table.add_rows(2)
       data_table.set_cell(0, 0, 'Por ejecutar')
       data_table.set_cell(0, 1, 100-por_cur_no_planif_ejec)
       data_table.set_cell(1, 0, 'Ejecutados')
       data_table.set_cell(1, 1, por_cur_no_planif_ejec)


       opts = {:title => '% de Ejecución', :is3D => false}
       chart_por_cur_no_planif_ejec = GoogleVisualr::Interactive::PieChart.new(data_table, opts)

     end

     if por_asist_planif

       data_table = GoogleVisualr::DataTable.new
       data_table.new_column('string', 'Curso')
       data_table.new_column('number', 'Porcentaje')
       data_table.add_rows(2)
       data_table.set_cell(0, 0, 'Asistencia')
       data_table.set_cell(0, 1, por_asist_planif)
       data_table.set_cell(1, 0, 'No Asistencia')
       data_table.set_cell(1, 1, 100-por_asist_planif)

       opts = {:title => '% de Asistencia', :is3D => false}
       chart_por_asist_planif = GoogleVisualr::Interactive::PieChart.new(data_table, opts)

     end

     if por_asist_no_planif

       data_table = GoogleVisualr::DataTable.new
       data_table.new_column('string', 'Curso')
       data_table.new_column('number', 'Porcentaje')
       data_table.add_rows(2)
       data_table.set_cell(0, 0, 'Asistencia')
       data_table.set_cell(0, 1, por_asist_no_planif)
       data_table.set_cell(1, 0, 'No Asistencia')
       data_table.set_cell(1, 1, 100-por_asist_no_planif)

       opts = {:title => '% de Asistencia', :is3D => false}
       chart_por_asist_no_planif = GoogleVisualr::Interactive::PieChart.new(data_table, opts)

     end

     ###

     data_table = GoogleVisualr::DataTable.new
     data_table.new_column('string', 'Curso')
     data_table.new_column('number', 'Costo Planificado')
     data_table.new_column('number', 'Costo Real')
     data_table.add_rows([
                           ['Planificado vs Real', costo_cur_planif, costo_cur_planif_ejec]
                         ])

     opts = {
       :title => 'Costo Real vs. Costo Planificado',
       :vAxis => {:title => 'Costo'},
       :bar => {groupWidth: '15%'},
       :chartArea => {width: '50%'}
     }

     chart_costo_cur_planif_ejec = GoogleVisualr::Interactive::ColumnChart.new(data_table, opts)

     #####

     data_table = GoogleVisualr::DataTable.new
     data_table.new_column('string', 'Curso')
     data_table.new_column('number', 'Costo Planificado')
     data_table.new_column('number', 'Costo Real')
     data_table.add_rows([
                           ['Planificado vs Real', costo_cur_no_planif, costo_cur_no_planif_ejec]
                         ])

     opts = {
       :title => 'Costo Real vs. Costo Planificado',
       :vAxis => {:title => 'Costo'},
       :bar => {groupWidth: '15%'},
       :chartArea => {width: '50%'}
     }

     chart_costo_cur_no_planif_ejec = GoogleVisualr::Interactive::ColumnChart.new(data_table, opts)

     if por_aprob_prog

       data_table = GoogleVisualr::DataTable.new
       data_table.new_column('string', 'Curso')
       data_table.new_column('number', 'Porcentaje')
       data_table.add_rows(2)
       data_table.set_cell(0, 0, 'Aprobados')
       data_table.set_cell(0, 1, por_aprob_prog)
       data_table.set_cell(1, 0, 'Reprobados')
       data_table.set_cell(1, 1, 100-por_aprob_prog)

       opts = {:title => 'Efectividad Inmediata', :is3D => false}
       chart_por_aprob_prog = GoogleVisualr::Interactive::PieChart.new(data_table, opts)

     end

     if por_costo_cur_prog_ejec_hasta_la_fecha

       data_table = GoogleVisualr::DataTable.new
       data_table.new_column('string', 'Presupuesto')
       data_table.new_column('number', 'Porcentaje')
       data_table.add_rows(2)
       data_table.set_cell(0, 0, 'Utilizado')
       data_table.set_cell(0, 1, por_costo_cur_prog_ejec_hasta_la_fecha)
       data_table.set_cell(1, 0, 'Por utilizar')
       data_table.set_cell(1, 1, 100-por_costo_cur_prog_ejec_hasta_la_fecha)

       opts = {:title => '% de Consumo de Presupuesto', :is3D => false}
       chart_costo_cur_prog_ejec_hasta_la_fecha = GoogleVisualr::Interactive::PieChart.new(data_table, opts)

     end


  %>





  <div class="row">
    <div class="col-md-4">
      <div id='chart_por_aprob_prog'></div>
      <%= render_chart(chart_por_aprob_prog, 'chart_por_aprob_prog') if chart_por_aprob_prog %>
    </div>
    <div class="col-md-4">

      <h4>
        Total de horas hombre<br>
            <span class="label label-primary">

                <%= num_hh_prog %> HH

            </span>
      </h4>

    </div>
    <div class="col-md-4">
      <h4>
        Presupuesto consumido<br>
            <span class="label label-primary">

                <%= por_costo_cur_prog_ejec_hasta_la_fecha.to_i %> %

            </span>
      </h4>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <legend>Cursos planificados</legend>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div id='chart_por_cur_planif_ejec'></div>
      <%= render_chart(chart_por_cur_planif_ejec, 'chart_por_cur_planif_ejec') if chart_por_cur_planif_ejec %>
    </div>

    <div class="col-md-4">
      <div id='chart_costo_cur_planif_ejec'></div>
      <%= render_chart(chart_costo_cur_planif_ejec, 'chart_costo_cur_planif_ejec') if chart_costo_cur_planif_ejec %>
    </div>

    <div class="col-md-4">
      <div id='chart_por_asist_planif'></div>
      <%= render_chart(chart_por_asist_planif, 'chart_por_asist_planif') if chart_por_asist_planif %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <legend>Cursos no planificados</legend>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      <div id='chart_por_cur_no_planif_ejec'></div>
      <%= render_chart(chart_por_cur_no_planif_ejec, 'chart_por_cur_no_planif_ejec') if chart_por_cur_no_planif_ejec %>
    </div>

    <div class="col-md-4">
      <div id='chart_costo_cur_no_planif_ejec'></div>
      <%= render_chart(chart_costo_cur_no_planif_ejec, 'chart_costo_cur_no_planif_ejec') if chart_costo_cur_no_planif_ejec %>
    </div>

    <div class="col-md-4">
      <div id='chart_por_asist_no_planif'></div>
      <%= render_chart(chart_por_asist_no_planif, 'chart_por_asist_no_planif') if chart_por_asist_no_planif %>
    </div>
  </div>

<% end %>

</div>

</div>
