<div class="panel panel-default">
  <div class="panel-body">

    <legend>Calibración</legend>

    <table class="table table-striped table-hover table-bordered">

      <thead>
        <tr>
          <th>Interfaces de gestión y calibración</th>
          <th>Características mostradas en las pantallas de gestión y calibración</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td>Lista de miembros de comités de sesiones de calibración</td>
          <td>

            <% @pe_process.pe_characteristics_gui_cal_committee.each do |pe_characteristic| %>

              <li><%= pe_characteristic.characteristic.nombre %></li>

            <% end %>

          </td>
          <td><%= link_to 'Definir características', pe_characteristics_edit_gui_cal_committee_path(@pe_process) %> </td>
        </tr>
        <tr>
          <td>Lista de participantes de sesiones de calibración</td>
          <td>

            <% @pe_process.pe_characteristics_gui_cal_member.each do |pe_characteristic| %>

              <li><%= pe_characteristic.characteristic.nombre %></li>

            <% end %>

          </td>
          <td><%= link_to 'Definir características', pe_characteristics_edit_gui_cal_member_path(@pe_process) %> </td>
        </tr>


      </tbody>

    </table>

  </div>

</div>