
<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-striped table-hover table-bordered">

          <thead>
          <tr>
            <th>Orden</th>
            <th>Nombre</th>
            <th>Evaluado/Registrado por</th>
            <th>Elementos</th>
            <th>Peso</th>
            <th>Dimensión</th>
            <th>
              <%= link_to 'Crear nueva evaluación', new_pe_evaluation_path(@pe_process) %>
            </th>
          </tr>
          </thead>

          <tbody>


          <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

            <tr>
              <td><%= pe_evaluation.position %></td>
              <td>
                <%= pe_evaluation.name %>
                <% if pe_evaluation.informative %>
                  <span class="label label-info">Informativa</span>
                <% end %>

              </td>

              <td>
                <% if pe_evaluation.entered_by_manager %>
                  <span class="label label-danger">Gestor</span>

                <% else %>

                  <table class="table table-bordered table-condensed">

                    <thead>
                      <tr>
                        <th>Evaluador</th>
                        <th>Peso</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% pe_evaluation.pe_evaluation_rels.each do |pe_evaluation_rel| %>
                        <tr>
                          <td><%= pe_evaluation_rel.pe_rel.alias %></td>
                          <td><%= pe_evaluation_rel.weight %></td>
                          <td>

                            <%= (localize pe_evaluation_rel.from_date, format: :day_snmonth_year) %>

                            <% if lms_time > pe_evaluation_rel.from_date %>
                              <span class="label label-danger">Hace
                                <%= distance_of_time_in_words(pe_evaluation_rel.from_date, lms_time) %>
                              </span>
                                      <% else %>
                              <span class="label label-primary">En
                                <%= distance_of_time_in_words(lms_time, pe_evaluation_rel.from_date) %>
                              </span>
                            <% end %>

                          </td>
                          <td>

                            <%= (localize pe_evaluation_rel.to_date, format: :day_snmonth_year) %>

                            <% if lms_time > pe_evaluation_rel.to_date %>
                              <span class="label label-danger">Hace
                                <%= distance_of_time_in_words(pe_evaluation_rel.to_date, lms_time) %>
                              </span>
                                      <% else %>
                              <span class="label label-primary">En
                                <%= distance_of_time_in_words(lms_time, pe_evaluation_rel.to_date) %>
                              </span>
                            <% end %>

                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>


                <% end %>
              </td>
              <td>
                <table class="table table-bordered table-condensed">

                  <thead>
                    <tr>
                      <th>Elemento</th>
                    </tr>
                    </thead>
                  <tbody>
                    <% pe_evaluation.pe_elements.each do |pe_element| %>
                      <tr>
                        <td><%= pe_element.name %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>

                <% if pe_evaluation.entered_by_manager_questions %>
                  <span class="label label-danger">Permite registro de resultados en preguntas por gestor</span>

                <% end %>

                <% if pe_evaluation.allow_definition_by_users %>
                  <span class="label label-success">Permite definición por usuarios</span>

                  <% if pe_evaluation.num_steps_definition_by_users_validated_before_accepted && pe_evaluation.num_steps_definition_by_users_validated_before_accepted > 0 %>
                    <br>
                    <span class="label label-success">Tiene validación previa a confirmación</span>
                  <% end %>

                  <% if pe_evaluation.allow_definition_by_users_accepted %>
                    <br>
                    <span class="label label-success">Permite confirmación por usuarios</span>
                  <% elsif pe_evaluation.allow_watching_own_definition %>
                    <br>
                    <span class="label label-success">Permite consultar mi definición</span>

                  <% end %>

                  <% if pe_evaluation.num_steps_definition_by_users_validated_after_accepted && pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0 %>
                    <br>
                    <span class="label label-success">Tiene validación posterior a confirmación</span>
                  <% end %>

                  <% if pe_evaluation.allow_tracking %>
                    <br>
                    <span class="label label-success">Permite seguimiento</span>
                    <% if pe_evaluation.allow_watching_own_tracking %>
                      <br>
                      <span class="label label-success">Permite consultar mi seguimiento</span>
                    <% end %>
                  <% end %>

                <% end %>

              </td>
              <td><%= pe_evaluation.weight %></td>
              <td><%= pe_evaluation.pe_dimension.name %></td>


              <td><%= link_to 'Configurar', pe_evaluation %></td>

            </tr>


          <% end %>

          </tbody>

        </table>

        <br>

        <legend>Grupos de evaluaciones</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>
          <tr>
            <th>Orden</th>
            <th>Nombre</th>
            <th>Evaluaciones</th>
            <th>
              <%= link_to 'Crear nuevo grupo', new_pe_evaluation_group_path(@pe_process) %>
            </th>
          </tr>
          </thead>

          <tbody>


            <% @pe_process.pe_evaluation_groups.each do |pe_evaluation_group| %>

              <tr>
                <td><%= pe_evaluation_group.position %></td>
                <td>
                  <%= pe_evaluation_group.name %>
                </td>
                <td>
                  <% pe_evaluation_group.pe_evaluations.each do |pe_evaluation| %>
                    <li><%= pe_evaluation.name %></li>
                  <% end %>
                </td>
                <td><%= link_to 'Editar', edit_pe_evaluation_group_path(pe_evaluation_group) %></td>
              </tr>

            <% end %>

          </tbody>

        </table>

      </div>

    </div>


  </div>
</div>




