<table id='datatable_feedback_providers' class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">

  <thead>
    <tr>
      <th class="export_to_excel">#</th>
      <th class="export_to_excel">Código Evaluado</th>
      <th class="export_to_excel">Evaluado</th>
      <th class="export_to_excel">Código Responsable Retro</th>
      <th class="export_to_excel">Responsable Retro</th>
      <th></th>
    </tr>
    <tr>
      <td>
        <label class="input">
          <input type="text" class="hidden">
        </label>
      </td>
      <td>
        <label class="input">
          <input type="text">
        </label>
      </td>
      <td>
        <label class="input">
          <input type="text">
        </label>
      </td>
      <td>
        <label class="input">
          <input type="text">
        </label>
      </td>
      <td>
        <label class="input">
          <input type="text">
        </label>
      </td>
      <td></td>
    </tr>
  </thead>

  <tbody>


  <% @pe_members_evaluated.each_with_index do |pe_member, index| %>

    <tr>
      <td><%= index+1 %></td>
      <td><%= pe_member.user.codigo %></td>
      <td><%= pe_member.user.apellidos %>, <%= pe_member.user.nombre %></td>
      <td>
        <% if pe_member.feedback_provider %>
          <%= pe_member.feedback_provider.codigo %>
        <% end %>
      </td>
      <td>
        <% if pe_member.feedback_provider %>
          <%= pe_member.feedback_provider.apellidos %>, <%= pe_member.feedback_provider.nombre %>
        <% end %>
      </td>
      <td>
        <%= link_to 'Gestionar', pe_members_manage_feedback_path(pe_member) %>
      </td>
    </tr>

  <% end %>

  </tbody>

</table>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_feedback_providers',
               file_name: 'retroalimentadores',
               export_by_class: true
           }
%>