<div class="panel panel-default">
  <div class="panel-body">

    <div class="text-center">
      <ul class="nav nav-tabs">

        <li role="presentation" class="active">

          <a href="#tab_feedback_providers" aria-controls="tab_feedback_providers" role="tab" data-toggle="tab">
            Evaluados y sus responsables de proveer retroalimentación
          </a>
        </li>
        <li role="presentation" >
          <a href="#tab_feedback_characteristics" aria-controls="tab_feedback_characteristics" role="tab" data-toggle="tab">
            Interfaces de usuario
          </a>
        </li>
        <li role="presentation" >
          <a href="#tab_feedback_structure" aria-controls="tab_feedback_structure" role="tab" data-toggle="tab">
            Estructura de la retroalimentación
          </a>
        </li>

      </ul>
    </div>

    <br>

    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="tab_feedback_providers">



        <%= form_for User.new, url: pe_process_search_feedback_providers_path(@pe_process), html: {id: 'form_search_feedback_providers', method: :post} do |f| %>


          <div class="panel panel-default">
            <div class="panel-body">

              <div class="row">

                <div class="col-md-12">

                  <div class="row">

                    <div class="col-md-4">
                      <label>&nbsp;&nbsp;<%= alias_username %></label>
                    </div>

                    <div class="col-md-4">
                      <label>&nbsp;&nbsp;Apellidos</label>
                    </div>

                    <div class="col-md-4">
                      <label>&nbsp;&nbsp;Nombre</label>
                    </div>


                  </div>

                  <div class="row">

                    <div class="col-md-4">

                      <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>

                    </div>

                    <div class="col-md-4">

                      <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>

                    </div>

                    <div class="col-md-4">

                      <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>

                    </div>

                  </div>

                </div>

              </div>

            </div>
            <div class="panel-footer clearfix">
              <div class="row">
                <div class="col-md-6">

                  <%= link_to 'Carga masiva de responsables de proveer retroalimentación', pe_members_feedback_massive_charge_path(@pe_process) %>

                </div>
                <div class="col-md-6 text-right">
                  <a class="btn btn-primary" onclick="search_feedback_providers()" id="btn_search_feedback_providers">Buscar</a>

                </div>
              </div>

            </div>

          </div>


        <% end %>

        <div id="tab_feedback_providers_results">

        </div>

      </div>

      <script>

        var loading_search_feedback_providers = false;

        function search_feedback_providers(){

          $('#btn_search_feedback_providers').html('<i class="fa fa-refresh fa-spin"></i> Buscando');
          $('#btn_search_feedback_providers').addClass('disabled');

          var form_feedback_providers = $('#form_search_feedback_providers');

          if(!loading_search_feedback_providers) {

            loading_search_feedback_providers = true;

            $.ajax({
              type: "POST",
              url: form_feedback_providers.attr('action'),
              data: form_feedback_providers.serialize(),
              success: function (response) {
                $('#tab_feedback_providers_results').html(response);
                $('#btn_search_feedback_providers').html('Buscar');
                $('#btn_search_feedback_providers').removeClass('disabled');

                loading_search_feedback_providers = false;

              }
            });

          }else{
            alert('Búsqueda en progreso');
          }




        }

      </script>

      <div role="tabpanel" class="tab-pane" id="tab_feedback_characteristics">

        <%= render partial: 'feedback_gui' %>


      </div>

      <div role="tabpanel" class="tab-pane" id="tab_feedback_structure">

        <%= render partial: 'feedback_fields' %>


      </div>

    </div>


  </div>
</div>