


    <table class="table table-striped table-hover table-bordered">

      <thead>
      <tr>
        <th>#</th>
        <th>Campo</th>
        <th>Tipo</th>
        <th>Obligatorio</th>
        <th>Nombres compuestos</th>
        <th>Máximo número de registros posibles</th>
        <th>
          <%= link_to 'Nuevo campo', new_pe_feedback_field_path(@pe_process) %>
        </th>
      </tr>
      </thead>

      <tbody>


      <% @pe_process.pe_feedback_fields.each do |pe_feedback_field| %>

        <tr>
          <td><%= pe_feedback_field.position %></td>
          <td>
            <%= pe_feedback_field.name %>

            <% if pe_feedback_field.simple %>
              (<%= pe_feedback_field.field_type_name %><%= ': '+pe_feedback_field.pe_feedback_field_list.name if pe_feedback_field.field_type == 2 && pe_feedback_field.pe_feedback_field_list %>)
            <% end %>

          </td>
          <td>
            <% if pe_feedback_field.simple %>
              Simple
            <% else %>
              Compuesto
            <% end %>
          </td>
          <td>
            <% if pe_feedback_field.simple %>
              <% if pe_feedback_field.required %>
                <span class="label label-danger">Obligatorio</span>
              <% end %>
            <% end %>
          </td>
          <td>
            <% pe_feedback_field.pe_feedback_compound_fields.each do |pe_feedback_compound_field| %>

              <li><%= '<span class="label label-danger">O</span>'.html_safe if pe_feedback_compound_field.required %> <%= pe_feedback_compound_field.name %> (<%= pe_feedback_compound_field.field_type_name %> <%= ': '+pe_feedback_compound_field.pe_feedback_field_list.name if pe_feedback_compound_field.field_type == 2 && pe_feedback_compound_field.pe_feedback_field_list %>)</li>

            <% end %>
          </td>
          <td>
            <%= pe_feedback_field.max_number_of_compound_feedbacks unless pe_feedback_field.simple %>
          </td>

          <td>
            <%= link_to 'Editar', edit_pe_feedback_field_path(pe_feedback_field) %>

            <% if pe_feedback_field.pe_member_feedbacks.size == 0 %>

              <%= link_to 'Eliminar', pe_feedback_field, method: :delete, data: { confirm: '¿Está seguro de eliminar el campo?' } %>

            <% end %>

          </td>

        </tr>

      <% end %>

      </tbody>

    </table>

    <br>

    <table class="table table-striped table-hover table-bordered">

      <thead>
      <tr>
        <th>#</th>
        <th>Lista (retroalimentación y confirmación de la retroalimentación)</th>
        <th>
          <%= link_to 'Nueva lista', new_pe_feedback_field_list_path(@pe_process) %>
        </th>
      </tr>
      </thead>

      <tbody>


      <% @pe_process.pe_feedback_field_lists.each_with_index do |pe_feedback_field_list, index| %>

        <tr>
          <td><%= index+1 %></td>
          <td>
            <%= pe_feedback_field_list.name %>

          </td>

          <td>

            <%= link_to 'Configurar', pe_feedback_field_list %>

            <%= link_to 'Editar', edit_pe_feedback_field_list_path(pe_feedback_field_list) %>

            <% if pe_feedback_field_list.pe_feedback_fields.size == 0 && pe_feedback_field_list.pe_feedback_compound_fields.size == 0 %>

              <%= link_to 'Eliminar', pe_feedback_field_list, method: :delete, data: { confirm: '¿Está seguro de eliminar la lista?' } %>

            <% end %>

          </td>

        </tr>

      <% end %>

      </tbody>

    </table>
