<%= form_for @pe_process, html: {class: 'form-horizontal', role: 'form'} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos del proceso</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :period %>">

        <%= f.label :period, 'Periodo', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :period, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :name %>">

        <%= f.label :name, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :name, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :description %>">

        <%= f.label :description, 'Descripción', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :description, class: 'form-control' %>
          <em>
            Este campo sólo será mostrado en el módulo de administración y a los gestores del proceso como una referencia para ayudar a
            identificar el proceso.<br>
            Los evaluadores, validadores, calibradores, retroalimentadores y evaluados no la visualizarán.
          </em>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :of_persons, 'Tipo', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :of_persons, class: 'form-control' %>


          <script>
            $('#pe_process_of_persons').bootstrapSwitch({
              onColor: 'success',
              onText: '<i class="fa fa-users"></i>',
              offColor: 'primary',
              offText: '<i class="fa fa-cubes"></i>',
              size: "small"
            });
          </script>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :two_dimensions %>">

        <%= f.label :two_dimensions, 'Dimensiones', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :two_dimensions %>

          <script>
            $('#pe_process_two_dimensions').bootstrapSwitch({
              onColor: 'success',
              onText: "X Y",
              offColor: 'info',
              offText: "X",
              size: "small"
            });
          </script>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :from_date %>">

        <%= f.label :from_date, 'Fecha de inicio', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <div id="from_date" class="input-group date">
            <input class="form-control" name="pe_process[from_date]" data-format="dd/MM/yyyy" type="text" value="<%= @pe_process.from_date ? @pe_process.from_date.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y') %>">
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
          </div>

          <script type="text/javascript">


            $('#from_date').datetimepicker({
              language: 'es',
              pickTime: false
            });

          </script>


        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :to_date %>">

        <%= f.label :to_date, 'Fecha de fin', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <div id="to_date" class="input-group date">
            <input class="form-control" name="pe_process[to_date]" data-format="dd/MM/yyyy" type="text" value="<%= @pe_process.to_date ? @pe_process.to_date.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y') %>">
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
          </div>

          <script type="text/javascript">


            $('#to_date').datetimepicker({
              language: 'es',
              pickTime: false
            });

          </script>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :active, 'Activo', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :active, class: 'form-control' %>
          <br>
          <em>
            Un proceso no activo no podrá ser accedido por ningún usuario, salvo los gestores, aunque las fechas aún estén vigentes.
          </em>

          <script>
            $('#pe_process_active').bootstrapSwitch({
              onColor: 'success',
              onText: "Sí",
              offColor: 'danger',
              offText: "No",
              size: "small"
            });
          </script>

        </div>

      </div>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
