<div class="panel panel-default">
  <div class="panel-body">



    <div>


      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#managing_managers" aria-controls="home" role="tab" data-toggle="tab">Gestores</a></li>
        <li role="presentation"><a href="#managing_reporting" aria-controls="profile" role="tab" data-toggle="tab">Responsables de reportes</a></li>
        <li role="presentation"><a href="#managing_options" aria-controls="messages" role="tab" data-toggle="tab">Opciones de gestión</a></li>
      </ul>

      <br>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="managing_managers">

          <table class="table table-striped table-hover table-bordered">

            <thead>
            <tr>
              <th>#</th>
              <th><%= alias_username %></th>
              <th>Apellidos</th>
              <th>Nombre</th>
              <th>
                <%= link_to 'Añadir gestores', pe_managers_search_path(@pe_process) %>
              </th>
            </tr>
            </thead>

            <tbody>


            <% @pe_process.pe_managers.each_with_index do |pe_manager, index| %>

              <tr>
                <td><%= index+1 %></td>
                <td><%= pe_manager.user.codigo %></td>
                <td><%= pe_manager.user.apellidos %></td>
                <td><%= pe_manager.user.nombre %></td>
                <td>
                  <%= link_to 'Eliminar', pe_manager, method: :delete, data: { confirm: '¿Está seguro de eliminar el gestor?' } %>
                </td>
              </tr>

            <% end %>

            </tbody>

          </table>

        </div>
        <div role="tabpanel" class="tab-pane" id="managing_reporting">

          <table class="table table-striped table-hover table-bordered">

            <thead>
            <tr>
              <th>#</th>
              <th><%= alias_username %></th>
              <th>Apellidos</th>
              <th>Nombre</th>
              <th>Acceso General</th>
              <th>Segmentado a</th>
              <th>
                <%= link_to 'Añadir responsables de reportes', pe_reporters_search_path(@pe_process) %>
              </th>
            </tr>
            </thead>

            <tbody>


            <% @pe_process.pe_reporters.each_with_index do |pe_reporter, index| %>

              <tr>
                <td><%= index+1 %></td>
                <td><%= pe_reporter.user.codigo %></td>
                <td><%= pe_reporter.user.apellidos %></td>
                <td><%= pe_reporter.user.nombre %></td>
                <td><%= label_yes_not pe_reporter.general %></td>
                <td>

                  <% pe_reporter.pe_reporter_characteristic_values.each do |prcv| %>

                    <li><%= prcv.pe_characteristic.characteristic.nombre %>: <%= prcv.value %></li>

                  <% end %>

                </td>
                <td>
                  <%= link_to 'Eliminar', pe_reporter, method: :delete, data: { confirm: '¿Está seguro de eliminar el responsable de reportes?' } %>
                </td>
              </tr>

            <% end %>

            </tbody>

          </table>

        </div>
        <div role="tabpanel" class="tab-pane" id="managing_options">

          <table class="table table-striped table-hover table-bordered">

            <thead>
            <tr>
              <th>Opción</th>
              <th>Descripción</th>
              <th>
                <%= link_to 'Editar opciones', pe_process_edit_manage_optionss_path(@pe_process) %>
              </th>
            </tr>
            </thead>

            <tbody>

              <tr>
                <td>
                  Editar fechas
                </td>
                <td>
                  Puede modificar las fechas de inicio y fin del proceso y de las evaluaciones
                </td>
                <td>
                  <% if @pe_process.manage_dates %>
                    <span class="label label-success">Sí</span>
                  <% else %>
                    <span class="label label-danger">No</span>
                  <% end %>

                </td>

              </tr>
              <tr>
                <td>
                  Definición
                </td>
                <td>
                  - Puede finalizar o abrir la definición de preguntas por parte de los participantes.<br>
                  - Puede modificar las preguntas de las evaluaciones seleccionadas.
                </td>
                <td>
                  <% if @pe_process.manage_definition %>
                    <span class="label label-success">Sí</span>

                    <br>
                    Modificar preguntas por gestor:<br>
                    <% @pe_process.pe_evaluations_defined_by_managers.each do |pe_evaluation| %>
                      - <%= pe_evaluation.name %><br>
                    <% end %>

                  <% else %>
                    <span class="label label-danger">No</span>
                  <% end %>

                </td>

              </tr>

              <tr>
                <td>
                  Registro de resultados por el gestor
                </td>
                <td>
                  Permite al gestor pre-cargar resultados de preguntas a evaluar
                </td>
                <td>
                  <% if @pe_process.manage_enter_by_manager %>
                    <span class="label label-success">Sí</span>
                  <% else %>
                    <span class="label label-danger">No</span>
                  <% end %>

                </td>

              </tr>

              <tr>
                <td>
                  Evaluaciones
                </td>
                <td>
                  Permite al gestor modificar preguntas y resultados, abrir y finalizar evaluaciones, añadir o elimiar evaluadores, definir validadores.
                </td>
                <td>
                  <% if @pe_process.manage_evaluations %>
                    <span class="label label-success">Sí</span>
                  <% else %>
                    <span class="label label-danger">No</span>
                  <% end %>

                </td>

              </tr>

              <tr>
                <td>
                  Calibración general
                </td>
                <td>
                  Permite al gestor crear sesiones de calibración, definir responsables y participantes.
                </td>
                <td>
                  <% if @pe_process.manage_calibration %>
                    <span class="label label-success">Sí</span>
                  <% else %>
                    <span class="label label-danger">No</span>
                  <% end %>

                </td>

              </tr>
              <tr>
                <td>
                  Calibración evaluación
                </td>
                <td>
                  Permite al gestor crear sesiones de calibración, definir responsables y participantes. Para evaluaciones
                </td>
                <td>
                  <% if @pe_process.manage_calibration_e %>
                    <span class="label label-success">Sí</span>
                  <% else %>
                    <span class="label label-danger">No</span>
                  <% end %>

                </td>

              </tr>
              <tr>
                <td>
                  Retroalimentación
                </td>
                <td>
                  Permite al gestor definir responsables de retroalimentación, abrir y finalizar retroalimentaciones.
                </td>
                <td>
                  <% if @pe_process.manage_feedback %>
                    <span class="label label-success">Sí</span>
                  <% else %>
                    <span class="label label-danger">No</span>
                  <% end %>

                </td>

              </tr>

            </tbody>

          </table>

          <legend>Características disponibles para segmentar gestores (aún no) y generadores de reportes</legend>

          <% @pe_process.pe_characteristics.each do |pe_characteristic| %>
            <% if pe_characteristic.active_segmentation %>
              <li><%= pe_characteristic.characteristic.nombre %></li>
            <% end %>
          <% end %>

        </div>

      </div>

    </div>





  </div>

</div>
