
<link rel="stylesheet" type="text/css" href="/assets/datatables_new_version/dataTables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="/assets/datatables_new_version/buttons.bootstrap.css">

<div class="panel panel-default">
  <div class="panel-body">

    <div class="text-center">
      <ul class="nav nav-tabs">

        <li role="presentation" class="active">

          <a href="#tab_members_all" aria-controls="members_all" role="tab" data-toggle="tab">
            Participantes
          </a>
        </li>
        <li role="presentation" >
          <a href="#tab_members_evaluated" aria-controls="members_evaluated" role="tab" data-toggle="tab" class="tab_members_evaluated">
            Evaluados
          </a>
        </li>
        <li role="presentation" >
          <a href="#tab_members_evaluators" aria-controls="members_evaluators" role="tab" data-toggle="tab" class="tab_members_evaluators">
            Evaluadores
          </a>
        </li>
        <li role="presentation" >
          <a href="#tab_selection" aria-controls="selection" role="tab" data-toggle="tab" class="tab_selection">
            Selección de evaluados
          </a>
        </li>

        <li role="presentation" >
          <a href="#tab_massive" aria-controls="massive" role="tab" data-toggle="tab" class="tab_massive">
            Acciones masivas
          </a>
        </li>
      </ul>
    </div>
    <br>

    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="tab_members_all">

        <%= form_for User.new, url: pe_process_search_members_path(@pe_process), html: {id: 'form_search_members_all', method: :post} do |f| %>


          <div class="panel panel-default">
            <div class="panel-body">

              <div class="row">

                <div class="col-md-12">

                  <div class="row">

                    <div class="col-md-4">
                      <label>&nbsp;&nbsp;<%= alias_username %></label>
                    </div>

                    <div class="col-md-4">
                      <label>&nbsp;&nbsp;Apellidos</label>
                    </div>

                    <div class="col-md-4">
                      <label>&nbsp;&nbsp;Nombre</label>
                    </div>


                  </div>

                  <div class="row">

                    <div class="col-md-4">

                      <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>

                    </div>

                    <div class="col-md-4">

                      <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>

                    </div>

                    <div class="col-md-4">

                      <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>

                    </div>

                  </div>

                </div>

              </div>

            </div>
            <div class="panel-footer clearfix">
              <div class="row">
                <div class="col-md-6">

                  <%= link_to 'Carga masiva', pe_members_massive_charge_path(@pe_process) %>
                  &nbsp;&nbsp;&nbsp;
                  <%= link_to 'Sincronizar características', pe_members_sync_characteristics_path(@pe_process), data: { confirm: '¿Está seguro que desea sincronizar las características?'} %>

                </div>
                <div class="col-md-6 text-right">
                  <a class="btn btn-primary" onclick="search_members_all()" id="btn_search_members_all">Buscar</a>

                </div>
              </div>

            </div>

          </div>


        <% end %>

        <div id="tab_members_all_results">

        </div>

      </div>

        <script>



          var loading_search_members_all = false;

          function search_members_all(){

            $('#btn_search_members_all').html('<i class="fa fa-refresh fa-spin"></i> Buscando');
            $('#btn_search_members_all').addClass('disabled');

            var form_members_all = $('#form_search_members_all');

            if(!loading_search_members_all) {

              loading_search_members_all = true;

              $.ajax({
                type: "POST",
                url: form_members_all.attr('action'),
                data: form_members_all.serialize(),
                success: function (response) {
                  $('#tab_members_all_results').html(response);
                  $('#btn_search_members_all').html('Buscar');
                  $('#btn_search_members_all').removeClass('disabled');

                  loading_search_members_all = false;


                }
              });

            }else{
              alert('Búsqueda en progreso');
            }




          }

        </script>

      <div role="tabpanel" class="tab-pane" id="tab_members_evaluated">

        <%= form_for User.new, url: pe_process_search_members_evaluated_path(@pe_process), html: {id: 'form_search_members_evaluated', method: :post} do |f| %>


          <div class="panel panel-default">
            <div class="panel-body">

              <div class="row">

                <div class="col-md-12">

                  <div class="row">

                    <div class="col-md-4">
                      <label>&nbsp;&nbsp;<%= alias_username %></label>
                    </div>

                    <div class="col-md-4">
                      <label>&nbsp;&nbsp;Apellidos</label>
                    </div>

                    <div class="col-md-4">
                      <label>&nbsp;&nbsp;Nombre</label>
                    </div>


                  </div>

                  <div class="row">

                    <div class="col-md-4">

                      <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>

                    </div>

                    <div class="col-md-4">

                      <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>

                    </div>

                    <div class="col-md-4">

                      <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>

                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <input type="hidden" name="search_removed" value="0">

                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="search_removed" value="1" class="form-control"> Buscar sólo desactivados
                        </label>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

            </div>
            <div class="panel-footer clearfix">
              <div class="row">
                <div class="col-md-10">


                </div>
                <div class="col-md-2 text-right">
                  <a class="btn btn-primary" onclick="search_members_evaluated()" id="btn_search_members_evaluated">Buscar</a>

                </div>
              </div>

            </div>

          </div>


        <% end %>

        <div id="tab_members_evaluated_results">

        </div>

      </div>

        <script>

          var loading_search_members_evaluated = false;

          function search_members_evaluated(){

            $('#btn_search_members_evaluated').html('<i class="fa fa-refresh fa-spin"></i> Buscando');
            $('#btn_search_members_evaluated').addClass('disabled');

            var form_members_evaluated = $('#form_search_members_evaluated');

            if(!loading_search_members_evaluated) {

              loading_search_members_evaluated = true;

              $.ajax({
                type: "POST",
                url: form_members_evaluated.attr('action'),
                data: form_members_evaluated.serialize(),
                success: function (response) {
                  $('#tab_members_evaluated_results').html(response);
                  $('#btn_search_members_evaluated').html('Buscar');
                  $('#btn_search_members_evaluated').removeClass('disabled');

                  loading_search_members_evaluated = false;

                }
              });

            }else{
              alert('Búsqueda en progreso');
            }




          }

        </script>

      <div role="tabpanel" class="tab-pane" id="tab_members_evaluators">

        <%= form_for User.new, url: pe_process_search_members_evaluator_path(@pe_process), html: {id: 'form_search_members_evaluator', method: :post} do |f| %>


          <div class="panel panel-default">
            <div class="panel-body">

              <div class="row">

                <div class="col-md-12">

                  <div class="row">

                    <div class="col-md-4">
                      <label>&nbsp;&nbsp;<%= alias_username %></label>
                    </div>

                    <div class="col-md-4">
                      <label>&nbsp;&nbsp;Apellidos</label>
                    </div>

                    <div class="col-md-4">
                      <label>&nbsp;&nbsp;Nombre</label>
                    </div>


                  </div>

                  <div class="row">

                    <div class="col-md-4">

                      <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>

                    </div>

                    <div class="col-md-4">

                      <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>

                    </div>

                    <div class="col-md-4">

                      <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>

                    </div>

                  </div>

                </div>

              </div>

            </div>
            <div class="panel-footer clearfix">
              <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6 text-right">
                  <a class="btn btn-primary" onclick="search_members_evaluator()" id="btn_search_members_evaluator">Buscar</a>

                </div>
              </div>

            </div>

          </div>


        <% end %>

        <div id="tab_members_evaluator_results">

        </div>

      </div>

        <script>

          var loading_search_members_evaluator = false;

          function search_members_evaluator(){

            $('#btn_search_members_evaluator').html('<i class="fa fa-refresh fa-spin"></i> Buscando');
            $('#btn_search_members_evaluator').addClass('disabled');

            var form_members_evaluator = $('#form_search_members_evaluator');

            if(!loading_search_members_evaluator) {

              loading_search_members_evaluator = true;

              $.ajax({
                type: "POST",
                url: form_members_evaluator.attr('action'),
                data: form_members_evaluator.serialize(),
                success: function (response) {
                  $('#tab_members_evaluator_results').html(response);
                  $('#btn_search_members_evaluator').html('Buscar');
                  $('#btn_search_members_evaluator').removeClass('disabled');

                  loading_search_members_evaluator = false;


                }
              });

            }else{
              alert('Búsqueda en progreso');
            }

          }

        </script>

      <div role="tabpanel" class="tab-pane" id="tab_selection">
        <div class="panel panel-default">
          <div class="panel-body">

            <table class="table table-bordered table-condensed table-bordered">
              <thead>
                <tr>
                  <th>Relación</th>
                  <th>Número máximo de evaluados a escoger</th>
                  <th>Número máximo de veces que puede ser escogido como evaluado</th>
                </tr>
              </thead>
              <tbody>
                <% @pe_process.pe_rels_available_to_select.each do |pe_rel| %>

                  <tr>
                    <td><%= pe_rel.alias %></td>
                    <td><%= pe_rel.max_number_to_select %></td>
                    <td><%= pe_rel.max_num_times_to_be_selected %></td>
                  </tr>

                <% end %>
              </tbody>
            </table>

          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="tab_massive">

        <div class="panel">
          <div class="panel-body">

            <div class="row">
              <div class="col-md-10">

                <% if @pe_process.manage_definition %>

                  <% @pe_process.pe_evaluations_defined_by_users.each do |pe_evaluation| %>

                    <%= link_to 'Estado de definición de '+pe_evaluation.name.downcase, pe_members_massive_finish_def_form_path(pe_evaluation) %>

                  <% end %>

                <% end %>

                <hr>

                <%= link_to 'Añadir evaluadores', pe_members_massive_add_evaluator_form_path(@pe_process) %>

                &nbsp;&nbsp;

                <%= link_to 'Eliminar evaluadores', pe_members_massive_destroy_evaluator_form_path(@pe_process) %>

                &nbsp;&nbsp;

                <%= link_to 'Reemplazar evaluadores', pe_members_massive_replace_evaluators_form_path(@pe_process) %>

                <hr>

                <%= link_to 'Eliminar evaluados', pe_members_massive_destroy_evaluated_form_path(@pe_process) %>

                &nbsp;&nbsp;

                <%= link_to 'Desactivar evaluados', pe_members_massive_remove_evaluated_form_path(@pe_process) %>

                <hr>

                <%= link_to 'Asignar grupo general de evaluación', pe_member_group2s_massive_charge_path(@pe_process) %>

                &nbsp;&nbsp;

                <%= link_to 'Cambiar grupo por evaluación', pe_members_massive_change_evaluation_group_form_path(@pe_process) %>

                &nbsp;&nbsp;

                <%= link_to 'Cambiar peso por evaluación', pe_members_massive_change_evaluation_weight_form_path(@pe_process) %>

                <hr>

                <%= link_to 'Abrir evaluaciones', pe_members_massive_open_assessment_form_path(@pe_process) %>

                &nbsp;&nbsp;

                <%= link_to 'Finalizar evaluaciones por relación', pe_members_massive_finish_assessment_rel_form_path(@pe_process) %>

                &nbsp;&nbsp;

                <%= link_to 'Finalizar evaluaciones finales', pe_members_massive_finish_assessment_form_path(@pe_process) %>

                &nbsp;&nbsp;

                <hr>

                <%= link_to 'Responsables de validar', pe_members_validation_massive_charge_path(@pe_process) %>

                &nbsp;&nbsp;

                <%= link_to 'Finalizar validaciones', pe_members_validation_massive_finish_path(@pe_process) %>

              </div>

            </div>

          </div>

          </div>
        </div>

      </div>

    </div>

  </div>
</div>