

<table id="datatable_members" class="table table-striped table-bordered smart-form" width="100%" style="font-size: 11px;">


  <thead>
  <tr>
    <th>#</th>
    <% unless @pe_process.of_persons? %>
      <th>Área</th>
    <% end %>
    <th><%= alias_username %></th>
    <th>Apellidos</th>
    <th>Nombre</th>
    <th>Evaluado</th>
    <th>Evaluador</th>
    <th>Puede ser seleccionado</th>
    <th>Puede seleccionar</th>
    <th>Removido</th>
    <th>

    </th>
  </tr>
  <tr>
    <td>
      <label class="input">
        <input type="text" class="hidden">
      </label>
    </td>
    <% unless @pe_process.of_persons? %>
      <td>
        <label class="input">
          <input type="text">
        </label>
      </td>
    <% end %>
    <td>
      <label class="input">
        <input type="text">
      </label>
    </td>
    <td>
      <label class="input">
        <input type="text">
      </label>
    </td>
    <td>
      <label class="input">
        <input type="text">
      </label>
    </td>
    <td>
      <label class="input">
        <input type="text">
      </label>
    </td>
    <td>
      <label class="input">
        <input type="text">
      </label>
    </td>
    <td>
      <label class="input">
        <input type="text">
      </label>
    </td>
    <td>
      <label class="input">
        <input type="text">
      </label>
    </td>
    <td>
      <label class="input">
        <input type="text">
      </label>
    </td>
    <td></td>
  </tr>
  </thead>

  <tbody>

  <% @pe_members.each_with_index do |pe_member, index| %>

    <tr>
      <td><%= index+1 %></td>
      <% unless @pe_process.of_persons? %>
        <td><%= pe_member.pe_area.name if pe_member.pe_area %></td>
      <% end %>
      <td><%= pe_member.user.codigo %></td>
      <td><%= pe_member.user.apellidos %></td>
      <td><%= pe_member.user.nombre %></td>
      <td>
        <% if pe_member.is_evaluated %>
          <span class="label label-success label-smart-table">Sí</span>
        <% end %>
      </td>
      <td>
        <% if pe_member.is_evaluator %>
          <span class="label label-success label-smart-table">Sí</span>
        <% end %>
      </td>
      <td>
        <% if pe_member.can_be_selected_as_evaluated %>
          <span class="label label-success label-smart-table">Sí</span>
        <% end %>
      </td>
      <td>
        <% if pe_member.can_select_evaluated %>
          <span class="label label-success label-smart-table">Sí</span>
        <% end %>
      </td>
      <td>
        <% if pe_member.removed %>
          <span class="label label-success label-smart-table">Sí</span>
        <% end %>
      </td>
      <td>
        <em class="text-muted"><%= pe_member.id %></em>

        <%= link_to 'Sincronizar características del participante', pe_members_sync_characteristics_user_path(pe_member.id), data: { confirm: '¿Está seguro que desea sincronizar las características del participante?'} %>

      </td>
    </tr>

  <% end %>

  </tbody>

</table>



<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_members',
               file_name: 'Participantes'
           }
%>

