<a id="question_note_<%= pe_question.id %>" class="mouse_pointer" data-toggle="button"  style="color: #000;" data-content='<%= pe_question.note.html_safe if pe_question.note %>'>
  <span class="fa-stack">
    <i class="fa fa-file-o fa-stack-1x" aria-hidden="true"></i>
    <i class="fa-stack-1x" style="margin-top: .2em;font-size: .5em;"><%= pe_question.pe_element.alias_note.slice(0,1) %></i>
  </span>
</a>

<script language="javascript">
  $('#question_note_<%= pe_question.id %>').popover({
    html: true,
    placement: 'top',
    trigger: 'click'
  });



</script>

