<div class="panel panel-default">
  <div class="panel-body">

    <legend>Relaciones habilitadas para la evaluación</legend>

    <table class="table table-striped table-hover table-bordered">

      <thead>
      <tr>
        <th>#</th>
        <th>Relación</th>
        <th>Permite que se registren comentarios compartidos</th>
        <th>Estará disponible para ser escogida en el paso de selección de evaluados</th>
        <th>Número máximo de evaluados a escoger</th>
        <th>Número máximo de veces que puede ser escogido como evaluado</th>
        <th>Estará disponible para ser escogida en el paso de asignar evaluadores</th>
        <th>Número máximo de evaluadores a asignar</th>
        <th>Número mínimo de evaluadores a asignar</th>
        <th>Formará parte de la cuenta total de asignados</th>
        <th>Alias</th>
        <th>
          <%= link_to 'Nueva relación', new_pe_rel_path(@pe_process) %>
        </th>
      </tr>
      </thead>

      <tbody>


      <% @pe_process.pe_rels.each do |pe_rel| %>

        <tr>
          <td><%= pe_rel.position %></td>
          <td><%= pe_rel.rel_name %></td>
          <td>
            <% if pe_rel.allows_shared_comments %>
              <span class="label label-success">Sí</span>

              <% if pe_rel.display_shared_comments_in_feedback %>

                <span class="label label-primary">Se muestran en la retroalimentación</span>

              <% end %>

            <% else %>
              <span class="label label-danger">No</span>
            <% end %>
          </td>
          <td>
            <% if pe_rel.available_in_selection %>
              <span class="label label-success">Sí</span>
            <% else %>
              <span class="label label-danger">No</span>
            <% end %>
          </td>
          <td><%= pe_rel.max_number_to_select if pe_rel.available_in_selection %></td>
          <td><%= pe_rel.max_num_times_to_be_selected  if pe_rel.available_in_selection %></td>
          <td>
            <% if pe_rel.available_in_assign %>
              <span class="label label-success">Sí</span>
            <% else %>
              <span class="label label-danger">No</span>
            <% end %>
          </td>
          <td><%= pe_rel.max_number_to_assign if pe_rel.available_in_assign %></td>
          <td><%= pe_rel.min_number_to_assign  if pe_rel.available_in_assign %></td>
          <td>
            <% if pe_rel.assign_total_count %>
              <span class="label label-success">Sí</span>
            <% else %>
              <span class="label label-danger">No</span>
            <% end %>
          </td>
          <td>
            <strong>Alias:</strong> <%= pe_rel.alias %><br><br>
            <strong>Alias inverso:</strong> <%= pe_rel.alias_reverse %><br><br>
            <strong>Alias plural:</strong> <%= pe_rel.alias_plural %><br><br>
            <strong>Alias inverso plural:</strong> <%= pe_rel.alias_reverse_plural %>
          </td>

          <td>
            <%= link_to 'Editar', edit_pe_rel_path(pe_rel) %>
            <!--
            <%= link_to 'Destroy', pe_rel, method: :delete, data: { confirm: 'Are you sure?' } %>
            -->
          </td>

        </tr>

      <% end %>

      </tbody>

    </table>

  </div>

</div>