
<table id='datatable_validators_assessment' class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">

  <thead>
    <tr>
      <th>#</th>
      <th>Código Evaluado</th>
      <th>Evaluado</th>
      <th>Código Evaluador</th>
      <th>Evaluador</th>
      <th>Relación</th>
      <th>Código Validador</th>
      <th>Validador</th>
    </tr>
    <tr>
      <td>
        <label class="input">
          <input type="text" class="hidden">
        </label>
      </td>
      <td>
        <label class="input">
          <input type="text">
        </label>
      </td>
      <td>
        <label class="input">
          <input type="text">
        </label>
      </td>
      <td>
        <label class="input">
          <input type="text">
        </label>
      </td>
      <td>
        <label class="input">
          <input type="text">
        </label>
      </td>
      <td>
        <label class="input">
          <input type="text">
        </label>
      </td>
      <td>
        <label class="input">
          <input type="text">
        </label>
      </td>
      <td>
        <label class="input">
          <input type="text">
        </label>
      </td>
    </tr>
  </thead>

  <tbody>

  <% num_rel = 0 %>

  <% @pe_members_evaluated.each do |pe_member| %>

    <% pe_member.pe_member_rels_is_evaluated.each do |pe_member_rel_is_evaluated| %>

      <tr>
        <td><%= num_rel+=1 %></td>
        <td><%= pe_member.user.codigo %></td>
        <td><%= pe_member.user.apellidos %>, <%= pe_member.user.nombre %></td>
        <td><%= pe_member_rel_is_evaluated.pe_member_evaluator.user.codigo %></td>
        <td><%= pe_member_rel_is_evaluated.pe_member_evaluator.user.apellidos %>, <%= pe_member_rel_is_evaluated.pe_member_evaluator.user.nombre %></td>
        <td>
          <%= pe_member_rel_is_evaluated.pe_rel.alias %>
        </td>
        <td>
          <% if pe_member_rel_is_evaluated.validator %>
            <%= pe_member_rel_is_evaluated.validator.codigo %>
          <% end %>
        </td>
        <td>
          <% if pe_member_rel_is_evaluated.validator %>
            <%= pe_member_rel_is_evaluated.validator.apellidos %>,
            <%= pe_member_rel_is_evaluated.validator.nombre %>
          <% end %>
        </td>
      </tr>

    <% end %>

  <% end %>

  </tbody>

</table>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_validators_assessment',
               file_name: 'validadores_evaluación'
           }
%>

