<table class="table table-striped table-hover table-bordered">

  <thead>
    <tr>
      <th colspan="3">
        Pantalla de lista de participantes a validar
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Características de los participantes mostradas en la lista</td>
      <td>

        <% @pe_process.pe_characteristics_gui_validation.each do |pe_characteristic| %>

          <li><%= pe_characteristic.characteristic.nombre %></li>

        <% end %>

      </td>
      <td><%= link_to 'Definir características', pe_characteristics_edit_gui_validation_path(@pe_process) %> </td>
    </tr>

  </tbody>


</table>

