
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process, 'notifications'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Editar notificaciones: Confirmación de la retroalimentación, notificación al retroalimentador</span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: 'show' %>

      </div>
    </div>

    <%= form_for @pe_process, url: pe_process_update_notifications_feedback_accepted_to_boss_path(@pe_process), html: {class: 'form-horizontal', role: 'form', method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Confirmación de la retroalimentación</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group">

            <%= f.label :step_feedback_accepted_mail_to_boss, 'Enviar email al usuario que realizó la retroalimentación para informarle que la retroalimentación ha sido confirmada', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :step_feedback_accepted_mail_to_boss, class: 'form-control', onchange: 'toggle_send_email_to_feedback_accepted();'  %>

              <br>
              <em>
                Cuando un evaludo confirma la retroalimentación, el sistema enviará automáticamente un correo a quien le realizó la retroalimentación
              </em>

              <script>

                $('#pe_process_step_feedback_accepted_mail_to_boss').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });

                function toggle_send_email_to_feedback_accepted(){

                  if($('#pe_process_step_feedback_accepted_mail_to_boss').is(":checked")){
                    $('#send_email_to_feedback_accepted_container').show();
                  }else{
                    $('#send_email_to_feedback_accepted_container').hide();
                  }

                }

                $(document).ready(function() {
                  toggle_send_email_to_feedback_accepted();
                });

              </script>

            </div>

          </div>

          <div id="send_email_to_feedback_accepted_container">

            <%= f.fields_for :pe_process_notification do |f| %>

              <div class="form-group <%= field_with_errors f, :step_feedback_accepted_to_boss_subject %>">

                <%= f.label :step_feedback_accepted_to_boss_subject, 'Asunto', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <%= f.text_field :step_feedback_accepted_to_boss_subject, class: 'form-control' %>

                </div>

              </div>

              <div class="form-group <%= field_with_errors f, :step_feedback_accepted_to_boss_body %>">

                <%= f.label :step_feedback_accepted_to_boss_body, 'Contenido', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <%= f.text_area :step_feedback_accepted_to_boss_body, class: 'form-control', rows: '15' %>

                  <script type="text/javascript">
                    $('#pe_process_pe_process_notification_attributes_step_feedback_accepted_to_boss_body').wysihtml5({
                      "font-styles": false,
                      "emphasis": true,
                      "lists": true,
                      "html": true,
                      "link": false,
                      "image": false,
                      "color": false
                    });
                  </script>

                </div>

              </div>

            <% end %>

          </div>



        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/notification_variables_legend' %>

      </div>
    </div>

  </div>
</div>
