
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process, 'managers'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Editar opciones disponibles para gestores </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: 'show' %>

      </div>
    </div>

    <%= form_for @pe_process, url: pe_process_update_manage_options_path(@pe_process), html: {class: 'form-horizontal', role: 'form', method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Opciones disponibles para los gestores</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group">

            <%= f.label :manage_dates, 'Editar fechas', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :manage_dates, class: 'form-control' %>

              <script>
                $('#pe_process_manage_dates').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });
              </script>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :manage_definition, 'Definición', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :manage_definition, class: 'form-control' %>

              <script>
                $('#pe_process_manage_definition').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });
              </script>
              <br>
              Modificar preguntas por gestor:<br>
              <% @pe_process.pe_evaluations_defined_by_managers.each do |pe_evaluation| %>
                - <%= pe_evaluation.name %><br>
              <% end %>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :manage_enter_by_manager, 'Registro de resultados por el gestor', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :manage_enter_by_manager, class: 'form-control' %>

              <script>
                $('#pe_process_manage_enter_by_manager').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });
              </script>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :manage_evaluations, 'Evaluaciones', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :manage_evaluations, class: 'form-control' %>

              <script>
                $('#pe_process_manage_evaluations').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });
              </script>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :manage_calibration, 'Calibración general', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :manage_calibration, class: 'form-control' %>

              <script>
                $('#pe_process_manage_calibration').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });
              </script>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :manage_calibration_e, 'Calibración evaluación', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :manage_calibration_e, class: 'form-control' %>

              <script>
                $('#pe_process_manage_calibration_e').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });
              </script>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :manage_feedback, 'Retroalimentación', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :manage_feedback, class: 'form-control' %>

              <script>
                $('#pe_process_manage_feedback').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });
              </script>

            </div>

          </div>

          <legend>Características disponibles para segmentar gestores (aún no) y generadores de reportes</legend>

          <% @pe_process.pe_characteristics.each do |pe_characteristic| %>

            <div class="form-group">

              <label class="col-md-3 control-label"><%= pe_characteristic.characteristic.nombre %></label>

              <div class="col-md-3">

                <input type="checkbox" name="cha_<%= pe_characteristic.id %>_active" id="cha_<%= pe_characteristic.id %>_active" <%= 'checked' if pe_characteristic.active_segmentation %>>

                <script>
                  $('#cha_<%= pe_characteristic.id %>_active').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  }).on('switchChange.bootstrapSwitch', function(event, state) {

                    if(state){
                      $('#cha_<%= pe_characteristic.id %>_position').show();
                    }else{
                      $('#cha_<%= pe_characteristic.id %>_position').hide();
                    }

                  });

                </script>

              </div>



            </div>

          <% end %>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>


  </div>
</div>
