
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process, 'reports'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Editar opciones en el reporte detallado de resultados finales</span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: 'show' %>

      </div>
    </div>

    <%= form_for @pe_process, url: pe_process_update_rep_detailed_final_results_path(@pe_process), html: {class: 'form-horizontal', role: 'form', method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Reporte detallado de resultados finales</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <strong>Cabecera del reporte</strong>
          <br><br>

          <div class="form-group">

            <%= f.label :rep_detailed_final_results_show_boss, 'Muestra el nombre del jefe del colaborador evaluado en la cabecera', class: 'col-md-3 control-label' %>

            <div class="col-md-9">
              <%= f.check_box :rep_detailed_final_results_show_boss %>


              <script>
                $('#pe_process_rep_detailed_final_results_show_boss').bootstrapSwitch({
                  onColor: 'success',
                  onText: 'Sí',
                  offColor: 'danger',
                  offText: 'No',
                  size: "small"
                });
              </script>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :rep_detailed_final_results_show_feedback_provider, 'Muestra el nombre del responsable de proveer la retroalimentación', class: 'col-md-3 control-label' %>

            <div class="col-md-9">
              <%= f.check_box :rep_detailed_final_results_show_feedback_provider %>


              <script>
                $('#pe_process_rep_detailed_final_results_show_feedback_provider').bootstrapSwitch({
                  onColor: 'success',
                  onText: 'Sí',
                  offColor: 'danger',
                  offText: 'No',
                  size: "small"
                });
              </script>

            </div>

          </div>

          <% if @pe_process.of_persons %>

            <div class="form-group">

              <%= f.label :rep_detailed_final_results_show_feedback_date, 'Muestra la fecha en que se realizó la retroalimentación', class: 'col-md-3 control-label' %>

              <div class="col-md-9">
                <%= f.check_box :rep_detailed_final_results_show_feedback_date %>


                <script>
                  $('#pe_process_rep_detailed_final_results_show_feedback_date').bootstrapSwitch({
                    onColor: 'success',
                    onText: 'Sí',
                    offColor: 'danger',
                    offText: 'No',
                    size: "small"
                  });
                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :rep_detailed_final_results_show_feedback_accepted_date, 'Muestra la fecha en que el evaluado confirmó la retroalimentación', class: 'col-md-3 control-label' %>

              <div class="col-md-9">
                <%= f.check_box :rep_detailed_final_results_show_feedback_accepted_date %>


                <script>
                  $('#pe_process_rep_detailed_final_results_show_feedback_accepted_date').bootstrapSwitch({
                    onColor: 'success',
                    onText: 'Sí',
                    offColor: 'danger',
                    offText: 'No',
                    size: "small"
                  });
                </script>

              </div>

            </div>

          <% end %>

          <hr>

          <strong>Contenido del reporte</strong>
          <br><br>

          <div class="form-group">

            <%= f.label :rep_detailed_final_results_elements, 'Componentes del reporte', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <% valores = Array.new %>
              <% valores.push 'resumen_ejecutivo' %>

              <% PeRel.rels.each do |rel| %>
                <% valores.push rel.to_s+'_1er_nivel' if @pe_process.pe_rel(rel) %>
              <% end %>
<!--
              <%= f.select('rep_detailed_final_results_elements', options_for_select(valores), {}, {multiple: true, class: 'form-control'}) %>

              <script>
                $(document).ready(function() {
                  $("#pe_process_rep_detailed_final_results_elements").select2();
                });

              </script>
-->
              <%= f.text_area :rep_detailed_final_results_elements, class: 'form-control', rows: '3' %>
              <br>
              <br>
              <table class="table table-condensed table-bordered">

                <tr>
                  <td colspan="2"><strong>Ejemplo</strong></td>
                </tr>
                <tr>
                  <td colspan="2">resumen_ejecutivo,todos_1er_nivel</td>
                </tr>
                <tr>
                  <td colspan="2"><strong>Componentes</strong></td>
                </tr>

                <tr>
                  <td>resumen_ejecutivo</td>
                  <td>

                    Muestra un resumen consolidado de la evaluación

                    <% if @pe_process.has_step_feedback? %>
                      y de la retroalimentación recibida por el evaluado
                    <% end %>

                  </td>
                </tr>

                <tr>
                  <td>resumen_ejecutivo_nofb</td>
                  <td>

                    Muestra un resumen consolidado de la evaluación, pero sin la retroalimentación (en ningún caso)

                  </td>
                </tr>

                <tr>
                  <td>texto_explicativo_1</td>
                  <td>

                    Muestra el siguiente texto explicativo

                    <%= f.fields_for :pe_process_reports do |ff| %>

                      <%= ff.text_area :rep_detailed_text_1, rows: '5', class: 'form-control' %>

                      <script type="text/javascript">
                        $('#pe_process_pe_process_reports_attributes_rep_detailed_text_1').wysihtml5({
                          "font-styles": false,
                          "emphasis": true,
                          "lists": false,
                          "html": false,
                          "link": false,
                          "image": false,
                          "color": false
                        });
                      </script>

                    <% end %>

                  </td>
                </tr>

                <tr>
                  <td>texto_explicativo_2</td>
                  <td>

                    Muestra el siguiente texto explicativo

                    <%= f.fields_for :pe_process_reports do |ff| %>

                      <%= ff.text_area :rep_detailed_text_2, rows: '5', class: 'form-control' %>

                      <script type="text/javascript">
                        $('#pe_process_pe_process_reports_attributes_rep_detailed_text_2').wysihtml5({
                          "font-styles": false,
                          "emphasis": true,
                          "lists": false,
                          "html": false,
                          "link": false,
                          "image": false,
                          "color": false
                        });
                      </script>

                    <% end %>

                  </td>
                </tr>

                <tr>
                  <td>boxes</td>
                  <td>Muestra la estructura de evaluaciones (cajas) y donde quedó ubicado el evaluado</td>
                </tr>

                <tr>
                  <td>feedback</td>
                  <td>Muestra la retroalimentación (se ajusta a las reglas de si se muestra o no en resumen ejecutivo)</td>
                </tr>

                <% PeRel.rels.each do |rel| %>

                  <% if pe_rel = @pe_process.pe_rel(rel) %>
                    <tr>
                      <td><%= rel %>_1er_nivel</td>
                      <td>Resumen consolidado de <%= pe_rel.alias_plural %> por evaluación, sólo las preguntas del primer nivel</td>
                    </tr>
                  <% end %>

                  <% if pe_rel = @pe_process.pe_rel(rel) %>
                    <tr>
                      <td><%= rel %>_1er_nivel_comments</td>
                      <td>Resumen consolidado de <%= pe_rel.alias_plural %> por evaluación, sólo las preguntas del primer nivel, y con los comentarios individuales por pregunta que se han registrado</td>
                    </tr>
                  <% end %>

                  <% if pe_rel = @pe_process.pe_rel(rel) %>
                    <tr>
                      <td><%= rel %>_1er_nivel_sp_valores</td>
                      <td>Resumen consolidado de <%= pe_rel.alias_plural %> por evaluación, sólo las preguntas del primer nivel, sin promedio y valores en lugar de porcentaje</td>
                    </tr>
                  <% end %>

                <% end %>

                <tr>
                  <td>evaluadores_rels</td>
                  <td>Muestra los nombres de los evaluadores y las relación que tienen con el evaluado</td>
                </tr>

                <tr>
                  <td>todos_1er_nivel</td>
                  <td>Resumen consolidado de tas las preguntas de primer nivel y resumen agrupando por tipo de evaluador, sólo las preguntas del primer nivel</td>
                </tr>

                <tr>
                  <td>resumen_1er_nivel</td>
                  <td>Resumen consolidado de todas las preguntas del primer nivel</td>
                </tr>

                <tr>
                  <td>resumen_tipo_evaluador_1er_nivel</td>
                  <td>Resumen agrupando por tipo de evaluador, sólo las preguntas del primer nivel</td>
                </tr>

                <tr>
                  <td>todos_detalle_1er_nivel</td>
                  <td>Resumen detallado de todos los evaluadores por evaluación, sólo las preguntas de primer nivel. Muestra promedio en columnas y filas</td>
                </tr>

                <tr>
                  <td>todos_detalle_1er_nivel_sp</td>
                  <td>Resumen detallado de todos los evaluadores por evaluación, sólo las preguntas de primer nivel. No muestra promedios</td>
                </tr>

                <tr>
                  <td>todos_detalle_2do_nivel</td>
                  <td>Resumen detallado de todos los evaluadores por evaluación, sólo las preguntas del segundo nivel</td>
                </tr>

                <tr>
                  <td>todos_detalle_2do_nivel_sp</td>
                  <td>Resumen detallado de todos los evaluadores por evaluación, sin mostrar el promedio, sólo las preguntas del segundo nivel</td>
                </tr>

                <tr>
                  <td>todos_detalle_2do_nivel_prom</td>
                  <td>Resumen detallado de las preguntas del segundo nivel con el promedio</td>
                </tr>

                <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

                  <tr>
                    <td><%= pe_evaluation.cod %>_todos_2do_nivel_sp_comments</td>
                    <td>
                      Resumen detallado de todos los evaluadores de <%= pe_evaluation.cod %>, sin mostrar el promedio, sólo las preguntas del segundo nivel.
                      <br><br>
                      Muestra los comentarios individuales (jefe)
                    </td>
                  </tr>

                <% end %>

                <tr>
                  <td>jefe_detalle_2do_nivel_sp</td>
                  <td>Resumen detallado del jefe por evaluación, sin mostrar el promedio, sólo las preguntas del segundo nivel</td>
                </tr>

                <tr>
                  <td>jefe_detalle_2do_nivel_sp_valores</td>
                  <td>Resumen detallado del jefe por evaluación, sin mostrar el promedio, sólo las preguntas del segundo nivel. En lugar de mostrar el % de logro muestra el valor correspondiente</td>
                </tr>

                <tr>
                  <td>por_evaluador_1er_nivel</td>
                  <td>Resumen detallado de cada evaluador por evaluación, sólo las preguntas del primer nivel</td>
                </tr>

                <tr>
                  <td>por_evaluador_3er_nivel_objetivos</td>
                  <td>Resumen detallado de cada evaluador por evaluación, sólo las evaluaciones que tengan 3 niveles y layout objetivos</td>
                </tr>

                <tr>
                  <td>jefe_2do_nivel_objetivos</td>
                  <td>Resumen detallado con la evaluación del jefe, sólo las evaluaciones que tengan 2 niveles y layout objetivos</td>
                </tr>

                <tr>
                  <td>jefe_2do_nivel_objetivos_comments</td>
                  <td>Resumen detallado con la evaluación del jefe, sólo las evaluaciones que tengan 2 niveles y layout objetivos, y con los comentarios individuales por pregunta que se han registrado</td>
                </tr>

                <tr>
                  <td>jefe_3er_nivel_objetivos</td>
                  <td>Resumen detallado con la evaluación del jefe, sólo las evaluaciones que tengan 3 niveles y layout objetivos</td>
                </tr>

                <tr>
                  <td>jefe_3er_nivel_objetivos_sin_porcentaje</td>
                  <td>Resumen detallado con la evaluación del jefe, sólo las evaluaciones que tengan 3 niveles y layout objetivos, pero no muestra los porcentajes de resultado</td>
                </tr>

                <tr>
                  <td>jefe_auto_3er_nivel_objetivos</td>
                  <td>Resumen detallado con la evaluación del jefe y auto (en columnas), sólo las evaluaciones que tengan 3 niveles y layout objetivos</td>
                </tr>
                <tr>
                  <td>informativas_1er_nivel</td>
                  <td>Detalle de lo que respondieron los evaluadores en las preguntas informativas de primer nivel</td>
                </tr>
                <tr>
                  <td>informativas_1er_nivel_comments</td>
                  <td>Detalle de lo que respondieron los evaluadores en las preguntas informativas de primer nivel, y con los comentarios individuales por pregunta que se han registrado</td>
                </tr>
                <tr>
                  <td>informativas_2do_nivel</td>
                  <td>Detalle de lo que respondieron los evaluadores en las preguntas informativas de segundo nivel</td>
                </tr>

              </table>

            </div>

          </div>

          <% if @pe_process.of_persons? %>

            <div class="form-group">

              <%= f.label :rep_detailed_final_results_show_calibration, 'En el resumen_ejecutivo se muestra la calibración a', class: 'col-md-3 control-label' %>

              <div class="col-md-9">
                <%= f.text_field :rep_detailed_final_results_show_calibration, class: 'form-control' %>
                <% unless @pe_process.has_step_calibration? %>
                  <span class="label label-default">Calibración no activada</span><br>
                <% end %>
                <br>
                <table class="table table-condensed table-bordered">

                  <tr>
                    <td colspan="2"><strong>Ejemplo</strong></td>
                  </tr>
                  <tr>
                    <td colspan="2">gestor,mis_colaboradores,feedback</td>
                  </tr>
                  <tr>
                    <td colspan="2"><strong>Opciones</strong></td>
                  </tr>
                  <tr>
                    <td>gestor</td>
                    <td>
                      En el reporte web y pdf que ve el gestor
                    </td>
                  </tr>

                  <tr>
                    <td>
                      feedback
                      <% unless @pe_process.has_step_feedback? %>
                        <br><span class="label label-default">Retroalimentación no activada</span>
                      <% end %>
                    </td>
                    <td>
                      En el reporte web y pdf que ve el retroalimentador

                    </td>
                  </tr>

                  <tr>
                    <td colspan="2">
                      En el reporte web de mis resultados <span class="label label-danger"> no se mostrará</span>
                      <% unless @pe_process.has_step_my_results? %>
                        <br><span class="label label-default">Ver mis resultados no activado</span>
                      <% end %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      ficha_usuario
                      <% unless @pe_process.display_results_in_user_profile? %>
                        <br><span class="label label-default">Mostrar resultados en ficha de usuario no activado</span>
                      <% end %>
                    </td>
                    <td>
                      En el reporte web y pdf de la ficha de usuario

                    </td>
                  </tr>


                  <tr>
                    <td>
                      mis_colaboradores
                      <% unless @pe_process.display_results_in_my_people? %>
                        <br><span class="label label-default">Mostrar resultados en módulo mis colaboradores no activado</span>
                      <% end %>
                    </td>
                    <td>
                      En el reporte web y pdf de mis colaboradores. También aplica para el reporte que se muestra en Resultados de mis subordinados

                    </td>
                  </tr>

                </table>

              </div>

            </div>

          <% end %>

          <% if @pe_process.of_persons? %>

            <div class="form-group">

              <%= f.label :rep_detailed_final_results_show_feedback, 'En el resumen_ejecutivo se muestra la retroalimentación a', class: 'col-md-3 control-label' %>

              <div class="col-md-9">
                <%= f.text_field :rep_detailed_final_results_show_feedback, class: 'form-control' %>
                <% unless @pe_process.has_step_feedback? %>
                  <span class="label label-default">Retroalimentación no activada</span><br>
                <% end %>
                <br>
                <table class="table table-condensed table-bordered">

                  <tr>
                    <td colspan="2"><strong>Ejemplo</strong></td>
                  </tr>
                  <tr>
                    <td colspan="2">gestor,mis_colaboradores</td>
                  </tr>
                  <tr>
                    <td colspan="2"><strong>Opciones</strong></td>
                  </tr>
                  <tr>
                    <td>gestor</td>
                    <td>
                      En el reporte web y pdf que ve el gestor
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      En el reporte web y pdf que ve el retroalimentador  <span class="label label-success"> sí se mostrará</span>
                      <% unless @pe_process.has_step_feedback? %>
                        <br><span class="label label-default">Retroalimentación no activada</span>
                      <% end %>
                    </td>
                  </tr>


                  <tr>
                    <td colspan="2">
                      En el reporte web de mis resultados <span class="label label-danger"> no se mostrará</span>
                      <% unless @pe_process.has_step_my_results? %>
                        <br><span class="label label-default">Ver mis resultados no activado</span>
                      <% end %>
                    </td>
                  </tr>


                    <tr>
                      <td>
                        ficha_usuario
                        <% unless @pe_process.display_results_in_user_profile? %>
                          <br><span class="label label-default">Mostrar resultados en ficha de usuario no activado</span>
                        <% end %>
                      </td>
                      <td>
                        En el reporte web y pdf de la ficha de usuario
                      </td>
                    </tr>

                    <tr>
                      <td>
                        mis_colaboradores
                        <% unless @pe_process.display_results_in_my_people? %>
                          <br><span class="label label-default">Mostrar resultados en módulo mis colaboradores no activado</span>
                        <% end %>
                      </td>
                      <td>
                        En el reporte web y pdf de mis colaboradores. También aplica para el reporte que se muestra en Resultados de mis subordinados
                      </td>
                    </tr>


                </table>

              </div>

            </div>

          <% end %>

          <% if @pe_process.of_persons? %>

            <div class="form-group">

              <%= f.label :rep_detailed_final_results_show_rel_weight, 'Muestra peso de las relaciones', class: 'col-md-3 control-label' %>

              <div class="col-md-9">
                <%= f.check_box :rep_detailed_final_results_show_rel_weight %>


                <script>
                  $('#pe_process_rep_detailed_final_results_show_rel_weight').bootstrapSwitch({
                    onColor: 'success',
                    onText: 'Sí',
                    offColor: 'danger',
                    offText: 'No',
                    size: "small"
                  });
                </script>

              </div>

            </div>

          <% end %>



          <hr>

          <strong>Visualización del reporte</strong>
          <br><br>

          <div class="form-group">

            <%= f.label :step_feed_show_rep_dfr_to_boss, 'Muestra el reporte web al jefe mientras éste realiza la definición', class: 'col-md-3 control-label' %>

            <div class="col-md-9">
              <%= f.check_box :step_feed_show_rep_dfr_to_boss %>
              <% unless @pe_process.has_step_feedback? %>

                <br><span class="label label-default">Retroalimentación no activada</span>

              <% end %>

              <script>
                $('#pe_process_step_feed_show_rep_dfr_to_boss').bootstrapSwitch({
                  onColor: 'success',
                  onText: 'Sí',
                  offColor: 'danger',
                  offText: 'No',
                  size: "small"
                });
              </script>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :step_feed_show_rep_dfr_to_boss_text, 'Texto mostrado al jefe respecto a consultar este reporte mientras éste realiza la definición', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_area :step_feed_show_rep_dfr_to_boss_text, rows: '5', class: 'form-control' %>

              <script type="text/javascript">
                $('#pe_process_step_feed_show_rep_dfr_to_boss_text').wysihtml5({
                  "font-styles": false,
                  "emphasis": true,
                  "lists": true,
                  "html": true,
                  "link": false,
                  "image": false,
                  "color": false
                });
              </script>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :step_feed_show_rep_dfr_to_boss_pdf, 'Permite descargar el reporte PDF al jefe mientras éste realiza la definición', class: 'col-md-3 control-label' %>

            <div class="col-md-9">
              <%= f.check_box :step_feed_show_rep_dfr_to_boss_pdf %>
              <% unless @pe_process.has_step_feedback? %>

                <br><span class="label label-default">Retroalimentación no activada</span>

              <% end %>

              <script>
                $('#pe_process_step_feed_show_rep_dfr_to_boss_pdf').bootstrapSwitch({
                  onColor: 'success',
                  onText: 'Sí',
                  offColor: 'danger',
                  offText: 'No',
                  size: "small"
                });
              </script>


            </div>

          </div>
          
          <hr>
          
          <div class="form-group">

            <%= f.label :step_assessment_show_rep_dfr_to_boss, 'Muestra el reporte web al jefe mientras éste evalúa a su colaborador', class: 'col-md-3 control-label' %>

            <div class="col-md-9">
              <%= f.check_box :step_assessment_show_rep_dfr_to_boss %>
              <% unless @pe_process.has_step_assessment? %>

                <br><span class="label label-default">Evaluación no activada</span>

              <% end %>

              <script>
                $('#pe_process_step_assessment_show_rep_dfr_to_boss').bootstrapSwitch({
                  onColor: 'success',
                  onText: 'Sí',
                  offColor: 'danger',
                  offText: 'No',
                  size: "small"
                });
              </script>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :step_assessment_show_rep_dfr_to_boss_text, 'Texto mostrado al jefe respecto a consultar este reporte mientras éste evalúa a su colaborador', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_area :step_assessment_show_rep_dfr_to_boss_text, rows: '5', class: 'form-control' %>

              <script type="text/javascript">
                $('#pe_process_step_assessment_show_rep_dfr_to_boss_text').wysihtml5({
                  "font-styles": false,
                  "emphasis": true,
                  "lists": true,
                  "html": true,
                  "link": false,
                  "image": false,
                  "color": false
                });
              </script>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :step_assessment_show_rep_dfr_to_boss_pdf, 'Permite descargar el reporte PDF al jefe mientras éste evalúa a su colaborador', class: 'col-md-3 control-label' %>

            <div class="col-md-9">
              <%= f.check_box :step_assessment_show_rep_dfr_to_boss_pdf %>
              <% unless @pe_process.has_step_assessment? %>

                <br><span class="label label-default">Evaluación no activada</span>

              <% end %>

              <script>
                $('#pe_process_step_assessment_show_rep_dfr_to_boss_pdf').bootstrapSwitch({
                  onColor: 'success',
                  onText: 'Sí',
                  offColor: 'danger',
                  offText: 'No',
                  size: "small"
                });
              </script>


            </div>

          </div>

          <% if @pe_process.of_persons? %>

            <hr>

            <div class="form-group">

              <%= f.label :step_feedback_show_rep_dfr, 'Muestra el reporte web al retroalimentador mientras éste provee retroalimentación', class: 'col-md-3 control-label' %>

              <div class="col-md-9">
                <%= f.check_box :step_feedback_show_rep_dfr %>
                <% unless @pe_process.has_step_feedback? %>
                  <br><span class="label label-default">Retroalimentación no activada</span>
                <% end %>

                <script>
                  $('#pe_process_step_feedback_show_rep_dfr').bootstrapSwitch({
                    onColor: 'success',
                    onText: 'Sí',
                    offColor: 'danger',
                    offText: 'No',
                    size: "small"
                  });
                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :step_feedback_show_rep_dfr_text, 'Texto mostrado al retroalimentador mientras éste provee retroalimentación', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_area :step_feedback_show_rep_dfr_text, rows: '5', class: 'form-control' %>

                <script type="text/javascript">
                  $('#pe_process_step_feedback_show_rep_dfr_text').wysihtml5({
                    "font-styles": false,
                    "emphasis": true,
                    "lists": true,
                    "html": true,
                    "link": false,
                    "image": false,
                    "color": false
                  });
                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :step_feedback_show_rep_dfr_pdf, 'Permite descargar el reporte PDF al retroalimentador mientras éste provee retroalimentación', class: 'col-md-3 control-label' %>

              <div class="col-md-9">
                <%= f.check_box :step_feedback_show_rep_dfr_pdf %>


                <script>
                  $('#pe_process_step_feedback_show_rep_dfr_pdf').bootstrapSwitch({
                    onColor: 'success',
                    onText: 'Sí',
                    offColor: 'danger',
                    offText: 'No',
                    size: "small"
                  });
                </script>

              </div>

            </div>

            <hr>

            <div class="form-group">

              <%= f.label :step_feedback_accepted_show_rep_dfr, 'Muestra el reporte web al colaborador mientras confirma la retroalimentación recibida', class: 'col-md-3 control-label' %>

              <div class="col-md-9">
                <%= f.check_box :step_feedback_accepted_show_rep_dfr %>
                <% unless @pe_process.has_step_feedback_accepted? %>
                  <br><span class="label label-default">Retroalimentación no activada</span>
                <% end %>

                <script>
                  $('#pe_process_step_feedback_accepted_show_rep_dfr').bootstrapSwitch({
                    onColor: 'success',
                    onText: 'Sí',
                    offColor: 'danger',
                    offText: 'No',
                    size: "small"
                  });
                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :step_feedback_accepted_show_rep_dfr_text, 'Texto mostrado al colaborador mientras confirma la retroalimentación recibida', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_area :step_feedback_accepted_show_rep_dfr_text, rows: '5', class: 'form-control' %>

                <script type="text/javascript">
                  $('#pe_process_step_feedback_accepted_show_rep_dfr_text').wysihtml5({
                    "font-styles": false,
                    "emphasis": true,
                    "lists": true,
                    "html": true,
                    "link": false,
                    "image": false,
                    "color": false
                  });
                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :step_feedback_accepted_show_rep_dfr_pdf, 'Permite descargar el reporte PDF al colaborador mientras confirma la retroalimentación recibida', class: 'col-md-3 control-label' %>

              <div class="col-md-9">
                <%= f.check_box :step_feedback_accepted_show_rep_dfr_pdf %>
                <% unless @pe_process.has_step_feedback_accepted? %>
                  <br><span class="label label-default">Retroalimentación no activada</span>
                <% end %>

                <script>
                  $('#pe_process_step_feedback_accepted_show_rep_dfr_pdf').bootstrapSwitch({
                    onColor: 'success',
                    onText: 'Sí',
                    offColor: 'danger',
                    offText: 'No',
                    size: "small"
                  });
                </script>

              </div>

            </div>

          <% end %>

          <% if @pe_process.of_persons? %>

            <hr>

            <div class="form-group">

              <label class="col-md-3 control-label">Muestra el reporte web al colaborador en el menú Mis resultados durante el proceso</label>

              <div class="col-md-9">
                <span class="label label-success">Sí</span>
                <% unless @pe_process.has_step_my_results? %>
                  <br><span class="label label-default">Mostrar mis resultados durante el proceso no activado</span>
                <% end %>
              </div>

            </div>

            <div class="form-group">

              <label class="col-md-3 control-label">Permite descargar el reporte PDF al colaborador en el menú Mis resultados durante el proceso</label>

              <div class="col-md-9">
                <span class="label label-danger">No</span>
                <% unless @pe_process.has_step_my_results? %>
                  <br><span class="label label-default">Mostrar mis resultados durante el proceso no activado</span>
                <% end %>

              </div>

            </div>

          <% end %>

          <% if @pe_process.of_persons? %>

            <hr>

            <div class="form-group">

              <label class="col-md-3 control-label">Muestra el reporte web al jefe en el menú de resultados de sus subordinados directos durante el proceso</label>

              <div class="col-md-9">
                <span class="label label-success">Sí</span>
                <% unless @pe_process.has_step_my_subs_results? %>
                  <br><span class="label label-default">Mostrar resultados de subordinados directos durante el proceso no activado</span>
                <% end %>
              </div>

            </div>

            <div class="form-group">

              <label class="col-md-3 control-label">Permite descargar el reporte PDF al jefe en el menú de resultados de sus subordinados directos durante el proceso</label>

              <div class="col-md-9">
                <span class="label label-success">Sí</span>
                <% unless @pe_process.has_step_my_subs_results? %>
                  <br><span class="label label-default">Mostrar resultados de subordinados directos durante el proceso no activado</span>
                <% end %>
              </div>

            </div>

          <% end %>

          <% if @pe_process.of_persons? %>

            <hr>

            <div class="form-group">

              <label class="col-md-3 control-label">Muestra el reporte web al participante evaluado en su ficha de usuario</label>

              <div class="col-md-9">
                <%= f.check_box :display_user_profile_show_rep_dfr %>
                <% unless @pe_process.display_results_in_user_profile? %>
                  <br><span class="label label-default">Mostrar resultados en ficha de usuario no activado</span>
                <% end %>

                <script>
                  $('#pe_process_display_user_profile_show_rep_dfr').bootstrapSwitch({
                    onColor: 'success',
                    onText: 'Sí',
                    offColor: 'danger',
                    offText: 'No',
                    size: "small"
                  });
                </script>


              </div>

            </div>

            <div class="form-group">

              <label class="col-md-3 control-label">Permite descargar el reporte PDF al participante evaluado en su ficha de usuario</label>

              <div class="col-md-9">
                <%= f.check_box :display_user_profile_show_rep_dfr_pdf %>
                <% unless @pe_process.display_results_in_user_profile? %>
                  <br><span class="label label-default">Mostrar resultados en ficha de usuario no activado</span>
                <% end %>

                <script>
                  $('#pe_process_display_user_profile_show_rep_dfr_pdf').bootstrapSwitch({
                    onColor: 'success',
                    onText: 'Sí',
                    offColor: 'danger',
                    offText: 'No',
                    size: "small"
                  });
                </script>

              </div>

            </div>

          <% end %>

          <% if @pe_process.of_persons?  %>

            <hr>

            <div class="form-group">

              <label class="col-md-3 control-label">Muestra el reporte web al jefe a través del módulo Mis Colaboradores</label>

              <div class="col-md-9">

                <%= f.check_box :display_my_people_show_rep_dfr %>

                <% unless @pe_process.display_results_in_my_people? %>
                  <br><span class="label label-default">Mostrar resultados en módulo mis colaboradores no activado</span>
                <% end %>

                <% unless @pe_process.display_results_in_user_profile? %>
                  <br><span class="label label-default">Mostrar resultados en ficha de usuario no activado</span>
                <% end %>

                <script>
                  $('#pe_process_display_my_people_show_rep_dfr').bootstrapSwitch({
                    onColor: 'success',
                    onText: 'Sí',
                    offColor: 'danger',
                    offText: 'No',
                    size: "small"
                  });
                </script>

              </div>

            </div>

            <div class="form-group">

              <label class="col-md-3 control-label">Permite descargar el reporte PDF al jefe a través del módulo Mis Colaboradores</label>

              <div class="col-md-9">
                <%= f.check_box :display_my_people_show_rep_dfr_pdf %>

                <% unless @pe_process.display_results_in_my_people? %>
                  <br><span class="label label-default">Mostrar resultados en módulo mis colaboradores no activado</span>
                <% end %>

                <% unless @pe_process.display_results_in_user_profile? %>
                  <br><span class="label label-default">Mostrar resultados en ficha de usuario no activado</span>
                <% end %>

                <script>
                  $('#pe_process_display_my_people_show_rep_dfr_pdf').bootstrapSwitch({
                    onColor: 'success',
                    onText: 'Sí',
                    offColor: 'danger',
                    offText: 'No',
                    size: "small"
                  });
                </script>

              </div>

            </div>

          <% end %>

          <% pe_rel_boss = @pe_process.pe_rel_by_id(1) %>

          <% if pe_rel_boss %>

            <hr>

            <legend>
              Reporte PDF con sólo la evaluación del <%= pe_rel_boss.alias %>
            </legend>

            <div class="form-group">

              <%= f.label :has_rep_detailed_final_results_only_boss, 'Reporte disponible', class: 'col-md-3 control-label' %>

              <div class="col-md-9">
                <%= f.check_box :has_rep_detailed_final_results_only_boss, onchange: 'toggle_has_rep_detailed_final_results_only_boss();' %>


                <script>
                  $('#pe_process_has_rep_detailed_final_results_only_boss').bootstrapSwitch({
                    onColor: 'success',
                    onText: 'Sí',
                    offColor: 'danger',
                    offText: 'No',
                    size: "small"
                  });
                </script>

                <script>

                  function toggle_has_rep_detailed_final_results_only_boss(){

                    if($('#pe_process_has_rep_detailed_final_results_only_boss').is(":checked")){
                      $('#container_has_rep_detailed_final_results_only_boss').show();
                    }else{
                      $('#container_has_rep_detailed_final_results_only_boss').hide();
                    }

                  }

                  $(document).ready(function() {
                    toggle_has_rep_detailed_final_results_only_boss();
                  });

                </script>

              </div>

            </div>

            <div id="container_has_rep_detailed_final_results_only_boss">

              <hr>

              <strong>Cabecera del reporte</strong>
              <br><br>

              <div class="form-group">

                <%= f.label :rep_detailed_final_results_only_boss_show_boss, 'Muestra el nombre del jefe del colaborador evaluado en la cabecera', class: 'col-md-3 control-label' %>

                <div class="col-md-9">
                  <%= f.check_box :rep_detailed_final_results_only_boss_show_boss %>


                  <script>
                    $('#pe_process_rep_detailed_final_results_only_boss_show_boss').bootstrapSwitch({
                      onColor: 'success',
                      onText: 'Sí',
                      offColor: 'danger',
                      offText: 'No',
                      size: "small"
                    });
                  </script>

                </div>

              </div>

              <hr>

              <strong>Contenido del reporte</strong>
              <br><br>

              <div class="form-group">

                <%= f.label :rep_detailed_final_results_only_boss_elements, 'Componentes del reporte', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <% valores = Array.new %>
                  <% valores.push 'resumen_ejecutivo' %>

                  <% valores.push pe_rel_boss.rel.to_s+'_1er_nivel' if pe_rel_boss %>

                  <%= f.text_area :rep_detailed_final_results_only_boss_elements, class: 'form-control', rows: '3' %>
                  <br>
                  <br>
                  <table class="table table-condensed table-bordered">

                    <tr>
                      <td colspan="2"><strong>Ejemplo</strong></td>
                    </tr>
                    <tr>
                      <td colspan="2">resumen_ejecutivo,jefe_1er_nivel</td>
                    </tr>
                    <tr>
                      <td colspan="2"><strong>Componentes</strong></td>
                    </tr>

                    <tr>
                      <td>resumen_ejecutivo</td>
                      <td>

                        Muestra un resumen consolidado de la evaluación

                        <% if @pe_process.has_step_feedback? %>
                          y de la retroalimentación recibida por el evaluado
                        <% end %>

                      </td>
                    </tr>

                    <% if pe_rel_boss %>

                      <tr>
                        <td>jefe_1er_nivel</td>
                        <td>Resumen consolidado de <%= pe_rel_boss.alias_plural %> por evaluación, sólo las preguntas del primer nivel</td>
                      </tr>

                      <tr>
                        <td>jefe_detalle_2do_nivel</td>
                        <td>Resumen detallado de <%= pe_rel_boss.alias_plural %> por evaluación, sólo las preguntas del segundo nivel</td>
                      </tr>

                      <tr>
                        <td>jefe_detalle_2do_nivel_sp</td>
                        <td>Resumen detallado de <%= pe_rel_boss.alias_plural %> por evaluación, sin mostrar el promedio, sólo las preguntas del segundo nivel</td>
                      </tr>

                      <tr>
                        <td>por_evaluador_1er_nivel</td>
                        <td>Resumen detallado de <%= pe_rel_boss.alias_plural %> por evaluación, sólo las preguntas del primer nivel</td>
                      </tr>

                      <tr>
                        <td>informativas_2do_nivel</td>
                        <td>Detalle de lo que respondieron <%= pe_rel_boss.alias_plural %> en las preguntas informativas de segundo nivel</td>
                      </tr>

                    <% end %>

                  </table>

                </div>

              </div>

              <% if @pe_process.of_persons? %>

                <div class="form-group">

                  <%= f.label :rep_detailed_final_results_only_boss_show_calibration, 'En el resumen_ejecutivo se muestra la calibración a', class: 'col-md-3 control-label' %>

                  <div class="col-md-9">
                    <%= f.text_field :rep_detailed_final_results_only_boss_show_calibration, class: 'form-control' %>
                    <% unless @pe_process.has_step_calibration? %>
                      <span class="label label-default">Calibración no activada</span><br>
                    <% end %>
                    <br>
                    <table class="table table-condensed table-bordered">

                      <tr>
                        <td colspan="2"><strong>Ejemplo</strong></td>
                      </tr>
                      <tr>
                        <td colspan="2">gestor</td>
                      </tr>
                      <tr>
                        <td colspan="2"><strong>Opciones</strong></td>
                      </tr>
                      <tr>
                        <td>gestor</td>
                        <td>
                          En el reporte pdf que ve el gestor
                        </td>
                      </tr>

                    </table>

                  </div>

                </div>

              <% end %>

              <% if @pe_process.of_persons? %>

                <div class="form-group">

                  <%= f.label :rep_detailed_final_results_only_boss_show_feedback, 'En el resumen_ejecutivo se muestra la retroalimentación a', class: 'col-md-3 control-label' %>

                  <div class="col-md-9">
                    <%= f.text_field :rep_detailed_final_results_only_boss_show_feedback, class: 'form-control' %>
                    <% unless @pe_process.has_step_feedback? %>
                      <span class="label label-default">Retroalimentación no activada</span><br>
                    <% end %>
                    <br>
                    <table class="table table-condensed table-bordered">

                      <tr>
                        <td colspan="2"><strong>Ejemplo</strong></td>
                      </tr>
                      <tr>
                        <td colspan="2">gestor</td>
                      </tr>
                      <tr>
                        <td colspan="2"><strong>Opciones</strong></td>
                      </tr>
                      <tr>
                        <td>gestor</td>
                        <td>
                          En el reporte pdf que ve el gestor
                        </td>
                      </tr>

                    </table>

                  </div>

                </div>

              <% end %>

            </div>

          <% end %>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>


  </div>
</div>
