
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process, 'notifications'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Editar notificaciones: Confirmar definición de preguntas por usuarios (en consulta de definición de evaluaciones)</span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: 'show' %>

      </div>
    </div>

    <%= form_for @pe_process, url: pe_process_update_notifications_q_defs_path(@pe_process), html: {class: 'form-horizontal', role: 'form', method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Confirmación de la definición</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group">

            <%= f.label :step_query_definitions_accept_mail, 'Enviar email al usuario evaluado para informarle que ha confirmado la definición', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :step_query_definitions_accept_mail, class: 'form-control', onchange: 'toggle_send_query_definitions_accept_mail();'  %>

              <br>
              <em>
                Cuando el colaborador evaluador confirme la definición, en la interfaz de consultar definiciones, se enviará un correo a éste y a los
                correos indicados en el campo CC.
              </em>

              <script>

                $('#pe_process_step_query_definitions_accept_mail').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });

                function toggle_send_query_definitions_accept_mail(){

                  if($('#pe_process_step_query_definitions_accept_mail').is(":checked")){
                    $('#send_query_definitions_accept_mail').show();
                  }else{
                    $('#send_query_definitions_accept_mail').hide();
                  }

                }

                $(document).ready(function() {
                  toggle_send_query_definitions_accept_mail();
                });

              </script>

            </div>

          </div>

          <div id="send_query_definitions_accept_mail">

            <%= f.fields_for :pe_process_notification do |f| %>

              <div class="form-group <%= field_with_errors f, :step_query_definitions_accept_subject %>">

                <%= f.label :step_query_definitions_accept_subject, 'Asunto', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <%= f.text_field :step_query_definitions_accept_subject, class: 'form-control' %>

                </div>

              </div>

              <div class="form-group <%= field_with_errors f, :step_query_definitions_accept_body %>">

                <%= f.label :step_query_definitions_accept_body, 'Contenido', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <%= f.text_area :step_query_definitions_accept_body, class: 'form-control', rows: '15' %>

                  <script type="text/javascript">
                    $('#pe_process_pe_process_notification_attributes_step_query_definitions_accept_body').wysihtml5({
                      "font-styles": false,
                      "emphasis": true,
                      "lists": true,
                      "html": true,
                      "link": false,
                      "image": false,
                      "color": false
                    });
                  </script>

                </div>

              </div>

              <div class="form-group <%= field_with_errors f, :step_query_definitions_accept_cc %>">

                <%= f.label :step_query_definitions_accept_cc, 'CC', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <%= f.text_field :step_query_definitions_accept_cc, class: 'form-control' %>
                  <em>Emails separados por comas</em>

                </div>

              </div>

            <% end %>

          </div>



        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/notification_variables_legend' %>

      </div>
    </div>

  </div>
</div>
