
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process, 'reports'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Editar opciones en el reporte detallado de resultados finales</span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: 'show' %>

      </div>
    </div>

    <%= form_for @pe_process, url: pe_process_update_rep_detailed_final_results_auto_path(@pe_process), html: {class: 'form-horizontal', role: 'form', method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Reporte detallado de resultados finales - autoevaluación</legend>


          <%= f.fields_for :pe_process_reports do |ff| %>



            <strong>Contenido del reporte</strong>
            <br><br>

            <div class="form-group">

              <%= ff.label :rep_detailed_auto_elements, 'Componentes del reporte', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.text_area :rep_detailed_auto_elements, class: 'form-control', rows: '3' %>
                <br>
                <br>
                <table class="table table-condensed table-bordered">

                  <tr>
                    <td colspan="2"><strong>Ejemplo</strong></td>
                  </tr>
                  <tr>
                    <td colspan="2">auto_3er_nivel_objetivos,auto_1er_nivel</td>
                  </tr>
                  <tr>
                    <td colspan="2"><strong>Componentes</strong></td>
                  </tr>

                  <tr>
                    <td>auto_1er_nivel</td>
                    <td>Resumen consolidado de autoevaluación, sólo las preguntas del primer nivel</td>
                  </tr>

                  <tr>
                    <td>auto_3er_nivel_objetivos</td>
                    <td>Resumen detallado con la evaluación auto, sólo las evaluaciones que tengan 3 niveles y layout objetivos</td>
                  </tr>


                </table>

              </div>

            </div>

            <hr>

            <strong>Visualización del reporte</strong>
            <br><br>

            <div class="form-group">

              <%= ff.label :rep_detailed_auto, 'Muestra el reporte web al jefe mientras éste realiza la definición', class: 'col-md-3 control-label' %>

              <div class="col-md-9">
                <%= ff.check_box :rep_detailed_auto, class: 'checkbox-to-switch' %>


                <script>
                  $('.checkbox-to-switch').bootstrapSwitch({
                    onColor: 'success',
                    onText: 'Sí',
                    offColor: 'danger',
                    offText: 'No',
                    size: "small"
                  });
                </script>

              </div>

            </div>


          <% end %>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>


  </div>
</div>
