
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process, 'reports'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Editar reportes activos</span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: 'show' %>

      </div>
    </div>

    <%= form_for @pe_process, url: pe_process_update_active_reports_path, html: {class: 'form-horizontal', role: 'form', method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Reportes activos</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <strong>Reportes de configuración</strong>
          <br>

          <%= f.fields_for :pe_process_reports do |ff| %>
            <div class="form-group">

              <%= ff.label :rep_evaluated_evaluators_configuration, 'Participantes evaluados y evaluadores', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_evaluated_evaluators_configuration, class: 'checkbox-to-switch' %>

              </div>

            </div>
            <div class="form-group">

              <%= ff.label :rep_evaluations_configutation, 'Evaluaciones', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_evaluations_configutation, class: 'checkbox-to-switch' %>

              </div>

            </div>
          <% end %>

          <%= f.fields_for :pe_process_reports_evaluations do |ff| %>
            <div class="form-group">

              <%= ff.label :pe_evaluation_id, 'Evaluados, Evaluadores, Validadores de definición de '+ff.object.pe_evaluation.name.downcase, class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :members_configuration, class: 'form-control', class: 'checkbox-to-switch' %>

              </div>

            </div>
          <% end %>

          <hr>

          <strong>Reportes de estado</strong>
          <br>

          <%= f.fields_for :pe_process_reports do |ff| %>
            <div class="form-group">

              <%= ff.label :rep_general_status, 'General', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_general_status, class: 'checkbox-to-switch' %>

              </div>

            </div>
          <% end %>

          <%= f.fields_for :pe_process_reports_evaluations do |ff| %>
            <div class="form-group">

              <%= ff.label :pe_evaluation_id, 'Definición de '+ff.object.pe_evaluation.name.downcase, class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :definition_status, class: 'form-control', class: 'checkbox-to-switch' %>

              </div>

            </div>
          <% end %>

          <%= f.fields_for :pe_process_reports_evaluations do |ff| %>
            <div class="form-group">

              <%= ff.label :pe_evaluation_id, 'Seguimiento de '+ff.object.pe_evaluation.name.downcase, class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :tracking_status, class: 'form-control', class: 'checkbox-to-switch' %>

              </div>

            </div>
          <% end %>

          <%= f.fields_for :pe_process_reports do |ff| %>

            <div class="form-group">

              <%= ff.label :rep_assign_status, 'Asignación', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_assign_status, class: 'checkbox-to-switch' %>

              </div>

            </div>

            <div class="form-group">

              <%= ff.label :rep_assessment_status, 'Evaluación', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_assessment_status, class: 'checkbox-to-switch' %>

              </div>

            </div>

            <div class="form-group">

              <%= ff.label :rep_validation_status, 'Validación', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_validation_status, class: 'checkbox-to-switch' %>

              </div>

            </div>

            <div class="form-group">

              <%= ff.label :rep_calibration_status, 'Calibration', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_calibration_status, class: 'checkbox-to-switch' %>

              </div>

            </div>

            <div class="form-group">

              <%= ff.label :rep_feedback_status, 'Retroalimentación', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_feedback_status, class: 'checkbox-to-switch' %>

              </div>

            </div>
          <% end %>

          <hr>

          <strong>Reportes de definición</strong>
          <br>

          <%= f.fields_for :pe_process_reports_evaluations do |ff| %>
            <div class="form-group">

              <%= ff.label :pe_evaluation_id, 'Detalle de la definición de '+ff.object.pe_evaluation.name.downcase, class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :detailed_definition, class: 'form-control', class: 'checkbox-to-switch' %>

              </div>

            </div>

            <div class="form-group">

              <%= ff.label :pe_evaluation_id, 'Detalle de la definición de '+ff.object.pe_evaluation.name.downcase+' (inactivos)', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :detailed_definition_i, class: 'form-control', class: 'checkbox-to-switch' %>

              </div>

            </div>

          <% end %>

          <hr>

          <strong>Reportes de resultados de evaluación</strong>
          <br>

          <%= f.fields_for :pe_process_reports do |ff| %>
            <div class="form-group">

              <%= ff.label :rep_assessment_consolidated_results, 'Consolidado', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_assessment_consolidated_results, class: 'checkbox-to-switch' %>

              </div>

            </div>

            <div class="form-group">

              <%= ff.label :rep_assessment_detailed_results, 'Detallado (por persona)', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_assessment_detailed_results, class: 'checkbox-to-switch' %>

              </div>

            </div>

            <div class="form-group">

              <%= ff.label :rep_assessment_detailed_results_i, 'Detallado (por persona) removidos', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_assessment_detailed_results_i, class: 'checkbox-to-switch' %>

              </div>

            </div>

            <div class="form-group">

              <%= ff.label :rep_detailed_final_results_evaluations, 'Reporte detallado con evaluaciones', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_detailed_final_results_evaluations, class: 'checkbox-to-switch' %>

              </div>

            </div>

            <div class="form-group">

              <%= ff.label :rep_detailed_final_results_evaluations_cal, 'Reporte detallado con evaluaciones (con calibraciones)', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_detailed_final_results_evaluations_cal, class: 'checkbox-to-switch' %>

              </div>

            </div>

            <div class="form-group">

              <%= ff.label :rep_detailed_final_results_questions, 'Reporte detallado con preguntas (Listado de indicadores - metas - resultados - logros)', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_detailed_final_results_questions, class: 'checkbox-to-switch' %>

              </div>

            </div>

            <div class="form-group">

              <%= ff.label :rep_rol_privado, 'Reporte Rol Privado - Security', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_rol_privado, class: 'checkbox-to-switch' %>

              </div>

            </div>


            <div class="form-group">

              <%= ff.label :rep_res_habitat_1, 'Reporte Buenas Prácticas de Liderazgo - Habitat', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_res_habitat_1, class: 'form-control', class: 'checkbox-to-switch' %>

              </div>

            </div>

          <% end %>

          <%= f.fields_for :pe_process_reports_evaluations do |ff| %>
            <div class="form-group">

              <%= ff.label :pe_evaluation_id, 'Reporte detallado por evaluación: '+ff.object.pe_evaluation.name.downcase, class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_detailed_final_results_evaluation, class: 'form-control', class: 'checkbox-to-switch' %>

              </div>

            </div>
          <% end %>


          <hr>

          <strong>Reportes de resultados de retroalimentación</strong>
          <br>

          <%= f.fields_for :pe_process_reports do |ff| %>
            <div class="form-group">

              <%= ff.label :rep_consolidated_feedback, 'Consolidado de retroalimentación', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_consolidated_feedback, class: 'checkbox-to-switch' %>

              </div>

            </div>

            <div class="form-group">

              <%= ff.label :rep_consolidated_feedback_accepted, 'Consolidado de confirmación de retroalimentación', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_consolidated_feedback_accepted, class: 'checkbox-to-switch' %>

              </div>

            </div>

            <div class="form-group">

              <%= ff.label :rep_consolidated_feedback_accepted_survey, 'Consolidado de encuesta', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= ff.check_box :rep_consolidated_feedback_accepted_survey, class: 'checkbox-to-switch' %>

              </div>

            </div>

          <% end %>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>


  </div>
</div>

<script>
  $('.checkbox-to-switch').bootstrapSwitch({
    onColor: 'success',
    onText: "Sí",
    offColor: 'danger',
    offText: "No",
    size: "small"
  });
</script>