
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process, 'notifications'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Editar notificaciones: Validación</span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: 'show' %>

      </div>
    </div>

    <%= form_for @pe_process, url: pe_process_update_notifications_validation_path(@pe_process), html: {class: 'form-horizontal', role: 'form', method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Validación</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group">

            <%= f.label :step_assessment_send_email_to_validator, 'Envía email al validador cuando el evaluador finaliza una evaluación', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :step_assessment_send_email_to_validator, class: 'form-control', onchange: 'toggle_send_email_to_validator();'  %>

              <script>

                $('#pe_process_step_assessment_send_email_to_validator').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });

                function toggle_send_email_to_validator(){

                  if($('#pe_process_step_assessment_send_email_to_validator').is(":checked")){
                    $('#send_email_to_validator_container').show();
                  }else{
                    $('#send_email_to_validator_container').hide();
                  }

                }

                $(document).ready(function() {
                  toggle_send_email_to_validator();
                });

              </script>

            </div>

          </div>

          <div id="send_email_to_validator_container">

            <%= f.fields_for :pe_process_notification do |f| %>

              <div class="form-group <%= field_with_errors f, :step_assessment_to_validator_subject %>">

                <%= f.label :step_assessment_to_validator_subject, 'Asunto', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <%= f.text_field :step_assessment_to_validator_subject, class: 'form-control' %>

                </div>

              </div>

              <div class="form-group <%= field_with_errors f, :step_assessment_to_validator_body %>">

                <%= f.label :step_assessment_to_validator_body, 'Contenido', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <%= f.text_area :step_assessment_to_validator_body, class: 'form-control', rows: '15' %>

                  <script type="text/javascript">
                    $('#pe_process_pe_process_notification_attributes_step_assessment_to_validator_body').wysihtml5({
                      "font-styles": false,
                      "emphasis": true,
                      "lists": true,
                      "html": true,
                      "link": false,
                      "image": false,
                      "color": false
                    });
                  </script>

                </div>

              </div>

            <% end %>

          </div>

          <div class="form-group">

            <%= f.label :step_validation_send_email_when_accept, 'Envía email al usuario evaluador cuando su evaluación ha sido validada', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :step_validation_send_email_when_accept, class: 'form-control', onchange: 'toggle_send_email_to_validation_accepted();'  %>

              <script>

                $('#pe_process_step_validation_send_email_when_accept').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });

                function toggle_send_email_to_validation_accepted(){

                  if($('#pe_process_step_validation_send_email_when_accept').is(":checked")){
                    $('#send_email_to_validation_accepted_container').show();
                  }else{
                    $('#send_email_to_validation_accepted_container').hide();
                  }

                }

                $(document).ready(function() {
                  toggle_send_email_to_validation_accepted();
                });

              </script>

            </div>

          </div>

          <div id="send_email_to_validation_accepted_container">

            <%= f.fields_for :pe_process_notification do |f| %>

              <div class="form-group <%= field_with_errors f, :step_validation_accepted_subject %>">

                <%= f.label :step_validation_accepted_subject, 'Asunto', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <%= f.text_field :step_validation_accepted_subject, class: 'form-control' %>

                </div>

              </div>

              <div class="form-group <%= field_with_errors f, :step_validation_accepted_body %>">

                <%= f.label :step_validation_accepted_body, 'Contenido', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <%= f.text_area :step_validation_accepted_body, class: 'form-control', rows: '15' %>

                  <script type="text/javascript">
                    $('#pe_process_pe_process_notification_attributes_step_validation_accepted_body').wysihtml5({
                      "font-styles": false,
                      "emphasis": true,
                      "lists": true,
                      "html": true,
                      "link": false,
                      "image": false,
                      "color": false
                    });
                  </script>

                </div>

              </div>

            <% end %>

          </div>

          <div class="form-group">

            <%= f.label :step_validation_send_email_when_reject, 'Envía email al usuario evaluador cuando su evaluación ha sido rechazada', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :step_validation_send_email_when_reject, class: 'form-control', onchange: 'toggle_send_email_to_validation_rejected();'  %>

              <script>

                $('#pe_process_step_validation_send_email_when_reject').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });

                function toggle_send_email_to_validation_rejected(){

                  if($('#pe_process_step_validation_send_email_when_reject').is(":checked")){
                    $('#send_email_to_validation_rejected_container').show();
                  }else{
                    $('#send_email_to_validation_rejected_container').hide();
                  }

                }

                $(document).ready(function() {
                  toggle_send_email_to_validation_rejected();
                });

              </script>

            </div>

          </div>

          <div id="send_email_to_validation_rejected_container">

            <%= f.fields_for :pe_process_notification do |f| %>

              <div class="form-group <%= field_with_errors f, :step_validation_rejected_subject %>">

                <%= f.label :step_validation_rejected_subject, 'Asunto', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <%= f.text_field :step_validation_rejected_subject, class: 'form-control' %>

                </div>

              </div>

              <div class="form-group <%= field_with_errors f, :step_validation_rejected_body %>">

                <%= f.label :step_validation_rejected_body, 'Contenido', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <%= f.text_area :step_validation_rejected_body, class: 'form-control', rows: '15' %>

                  <script type="text/javascript">
                    $('#pe_process_pe_process_notification_attributes_step_validation_rejected_body').wysihtml5({
                      "font-styles": false,
                      "emphasis": true,
                      "lists": true,
                      "html": true,
                      "link": false,
                      "image": false,
                      "color": false
                    });
                  </script>

                </div>

              </div>

            <% end %>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/notification_variables_legend' %>

      </div>
    </div>


  </div>
</div>
