
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process, 'display_results'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Editar resultados a mostrar</span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: 'show' %>

      </div>
    </div>

    <%= form_for @pe_process, url: pe_process_update_display_results_path(@pe_process), html: {class: 'form-horizontal', role: 'form', method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <%= render 'shared/error_messages', object: f.object %>

          <% if @pe_process.of_persons? %>

            <legend>Mostrar resultados</legend>

            <div class="form-group">

              <%= f.label :step_assessment_show_final_results_to_boss, 'Mostrar al jefe, cuando evalúa, los resultados finales obtenidos por sus colaboradores (Uso recomendado sólo para cuando el único evaluador real es el jefe)', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :step_assessment_show_final_results_to_boss, class: 'form-control' %>

                <br>


                <script>
                  $('#pe_process_step_assessment_show_final_results_to_boss').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });
                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :step_assessment_show_final_results_to_boss_bf, 'Mostrar al jefe, cuando evalúa, los resultados finales obtenidos por sus colaboradores antes de finalizar la evaluación (Uso recomendado sólo para cuando el único evaluador real es el jefe)', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :step_assessment_show_final_results_to_boss_bf, class: 'form-control' %>

                <br>


                <script>
                  $('#pe_process_step_assessment_show_final_results_to_boss_bf').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });
                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :public_pe_dimension_name, 'Mostrar a los usuarios el nombre y descripción del grupo', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :public_pe_dimension_name, class: 'form-control' %>

                <br>
                <em>

                  Si indica que No, sólo se le motrará el valor numérico que obtuvo el participante en cada dimensión.

                  <br>
                  El nombre y descripción será un dato únicamente disponible para gestores del proceso.

                </em>

                <script>
                  $('#pe_process_public_pe_dimension_name').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });
                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :public_pe_box, 'Mostrar a los usuarios la valoración final (caja).', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :public_pe_box, class: 'form-control' %>

                <br>

                <em>

                  Si se indica que No, la valoración final (caja) no será mostrada de ninguna manera a los usuarios, será un dato únicamente disponible para gestores del proceso.

                </em>

                <script>
                  $('#pe_process_public_pe_box').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });
                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :public_pe_members_dimension_name, 'Mostrar a los usuarios el nombre y descripción del grupo de la dimensión en el que fueron ubicados', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :public_pe_members_dimension_name, class: 'form-control' %>

                <br>
                <em>

                  Si indica que No, sólo se le motrará el valor numérico que obtuvo el participante en cada dimensión.

                  <br>
                  El nombre y descripción será un dato únicamente disponible para evaluadores, retroalimentadores, calibradores y gestores del proceso, y para jefes a través del módulo Mis colaboradores.

                </em>

                <script>
                  $('#pe_process_public_pe_members_dimension_name').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });
                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :public_pe_members_box, 'Mostrar a los usuarios la valoración final (caja) en la que fueron ubicados', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :public_pe_members_box, class: 'form-control' %>

                <br>

                <em>

                  Si se indica que No, la valoración final (caja) no será mostrada de ninguna manera a los usuarios, será un dato únicamente disponible para evaluadores, retroalimentadores, calibradores y gestores del proceso, y para jefes a través del módulo Mis colaboradores.

                </em>

                <script>
                  $('#pe_process_public_pe_members_box').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });
                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :has_step_my_results, 'Ver mis resultados durante el proceso', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :has_step_my_results, class: 'form-control' %>

                <script>
                  $('#pe_process_has_step_my_results').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });
                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :has_step_my_subs_results, 'Ver resultados de mis subordinados directos durante el proceso', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :has_step_my_subs_results, class: 'form-control' %>

                <script>
                  $('#pe_process_has_step_my_subs_results').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });
                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :display_results_in_user_profile, 'En la ficha de usuario del participante evaluado', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :display_results_in_user_profile, class: 'form-control' %>

                <script>
                  $('#pe_process_display_results_in_user_profile').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });
                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :display_results_in_my_people, 'En la lista de procesos en el módulo mis Colaboradores', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box :display_results_in_my_people, class: 'form-control' %>

                <script>
                  $('#pe_process_display_results_in_my_people').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });
                </script>

              </div>

            </div>

          <% end %>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>


  </div>
</div>
