
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process, 'steps'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Editar imagen del paso del proceso </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: 'show' %>

      </div>
    </div>

    <%= form_for @pe_process, url: pe_process_update_step_img_path(@pe_process,@step), html: {class: 'form-horizontal', role: 'form', method: :post, multipart: true} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Imagen del paso:

          <% if @step == 'dbu' %>
            Definición de preguntas por usuarios
          <% elsif @step == 'tracking' %>
            Seguimiento
          <% elsif @step == 'assessment' %>
            Evaluación
          <% end %>

          </legend>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group">

            <%= f.label :file, 'Imagen', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= file_field 'upload', 'datafile', class: 'form-control' %>
              <br>
              <em>Imagen en formato jpg o jpeg</em>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>


  </div>
</div>
