<h1 class="page-title txt-color-blueDark">
  Procesos de evaluación de desempeño
  <span>> Lista de procesos </span>
</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-striped table-hover table-bordered">

          <thead>

            <tr>
              <th>#</th>
              <th>Periodo</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Tipo</th>
              <th>Activo</th>
              <th colspan="2">
                <%= link_to 'Crear nuevo proceso', new_pe_process_path %>

                <%= link_to 'Clonar proceso', pe_process_new_clone_path %>

              </th>
            </tr>

          </thead>

          <tbody>
            <% @pe_processes.each_with_index do |pe_process, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= pe_process.period %></td>
                <td><%= pe_process.name %></td>
                <td><%= pe_process.description %></td>
                <td>
                  <% if pe_process.of_persons? %>
                    <i class="fa fa-users"></i> Personas
                  <% else %>
                    <i class="fa fa-cubes"></i> Áreas
                  <% end %>

                </td>
                <td>
                  <% if pe_process.active %>
                    <i class="fa fa-check"></i>
                  <% else %>
                    <i class="fa fa-minus-square"></i>
                  <% end %>
                </td>
                <td><%= link_to 'Configurar', pe_process %></td>
                <td>
                  <!--
                  <%= link_to 'Destroy', pe_process, method: :delete, data: { confirm: 'Are you sure?' } %>
                  -->
                </td>
              </tr>
            <% end %>

          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>


