<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de procesos'.html_safe, pe_processes_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Configurar proceso </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: 'show' %>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to 'Editar', edit_pe_process_path(@pe_process) %>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="row">

      <div class="col-md-2">

        <div class="panel panel-default">
          <div class="panel-body">

            <ul class="nav nav-pills nav-stacked nav-pills-<%= $current_domain %>">

              <li role="presentation" class="<%= 'active' if params[:tab] && params[:tab] == 'steps' %>">
                <a href="#tab_steps" aria-controls="steps" role="tab" data-toggle="tab" class="tab-steps">
                  <i class="fa fa-list-ol" aria-hidden="true"></i> Pasos y tutoriales
                </a>
              </li>



              <li role="presentation" class="<%= 'active' if params[:tab] && params[:tab] == 'rels' %>">
                <a href="#tab_rels" aria-controls="rels" role="tab" data-toggle="tab" class="tab_rels" style="<%= 'color: #666' unless @pe_process.has_step_assessment? %>">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-no-icon fa-stack-1x fa-inverse" >
                      E
                    </i>
                  </span>
                  <%= '<strike>'.html_safe unless @pe_process.has_step_assessment? %>
                    Relaciones
                  <%= '</strike>'.html_safe unless @pe_process.has_step_assessment? %>
                </a>
              </li>

              <li role="presentation" class="<%= 'active' if params[:tab] && params[:tab] == 'sel' %>">
                <a href="#tab_sel" aria-controls="sel" role="tab" data-toggle="tab" class="tab_sel" style="<%= 'color: #666' unless @pe_process.has_step_selection? %>">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-no-icon fa-stack-1x fa-inverse" >
                      S
                    </i>
                  </span>
                  <%= '<strike>'.html_safe unless @pe_process.has_step_selection? %>
                  Selección
                  <%= '</strike>'.html_safe unless @pe_process.has_step_selection %>
                </a>
              </li>

              <li role="presentation" class="<%= 'active' if params[:tab] && params[:tab] == 'structure' %>">
                <a href="#tab_structure" aria-controls="structure" role="tab" data-toggle="tab" class="tab_structure" style="<%= 'color: #666' unless @pe_process.has_step_assessment? %>">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-no-icon fa-stack-1x fa-inverse" >
                      E
                    </i>
                  </span>
                  <%= '<strike>'.html_safe unless @pe_process.has_step_assessment? %>
                    Estructura
                  <%= '</strike>'.html_safe unless @pe_process.has_step_assessment? %>
                </a>
              </li>
              <li role="presentation" class="<%= 'active' if params[:tab] && params[:tab] == 'evaluations' %>">
                <a href="#tab_evaluations" aria-controls="evaluations" role="tab" data-toggle="tab" class="tab_evaluations" style="<%= 'color: #666' unless @pe_process.has_step_assessment? %>">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-no-icon fa-stack-1x fa-inverse" >
                      E
                    </i>
                  </span>
                  <%= '<strike>'.html_safe unless @pe_process.has_step_assessment? %>
                    Evaluaciones
                  <%= '</strike>'.html_safe unless @pe_process.has_step_assessment? %>
                </a>
              </li>

              <li role="presentation" class="<%= 'active' if params[:tab] && params[:tab] == 'members' %>">

                <a href="#tab_members" aria-controls="members" role="tab" data-toggle="tab" class="tab_members" style="<%= 'color: #666' unless @pe_process.has_step_assessment? %>">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-no-icon fa-stack-1x fa-inverse" >
                      E
                    </i>
                  </span>
                  <%= '<strike>'.html_safe unless @pe_process.has_step_assessment? %>
                    Participantes
                  <%= '</strike>'.html_safe unless @pe_process.has_step_assessment? %>
                </a>
              </li>

              <li role="presentation" class="<%= 'active' if params[:tab] && params[:tab] == 'observers' %>">

                <a href="#tab_observers" aria-controls="observers" role="tab" data-toggle="tab" class="tab_observers" >
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-no-icon fa-stack-1x fa-inverse" >
                      O
                    </i>
                  </span>

                  Observadores

                </a>
              </li>

              <li role="presentation" class="<%= 'active' if params[:tab] && params[:tab] == 'validation' %>">
                <a href="#tab_validation" aria-controls="validation" role="tab" data-toggle="tab" class="tab_validation" style="<%= 'color: #666' unless @pe_process.has_step_validation? %>">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-no-icon fa-stack-1x fa-inverse" >
                      V
                    </i>
                  </span>
                  <%= '<strike>'.html_safe unless @pe_process.has_step_validation?%>
                    Validación
                  <%= '</strike>'.html_safe unless @pe_process.has_step_validation?%>
                </a>
              </li>


              <li role="presentation" class="<%= 'active' if params[:tab] && params[:tab] == 'calibration' %>">
                <a href="#tab_calibration" aria-controls="calibration" role="tab" data-toggle="tab" class="tab_calibration" style="<%= 'color: #666' unless @pe_process.has_step_calibration? %>">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-no-icon fa-stack-1x fa-inverse" >
                      C
                    </i>
                  </span>
                  <%= '<strike>'.html_safe unless @pe_process.has_step_calibration? %>
                    Calibración
                  <%= '</strike>'.html_safe unless @pe_process.has_step_calibration? %>
                </a>
              </li>

              <li role="presentation" class="<%= 'active' if params[:tab] && params[:tab] == 'feedback' %>">
                <a href="#tab_feedback" aria-controls="feedback" role="tab" data-toggle="tab" class="tab_feedback" style="<%= 'color: #666' unless @pe_process.has_step_feedback? %>">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-no-icon fa-stack-1x fa-inverse" >
                      R
                    </i>
                  </span>
                  <%= '<strike>'.html_safe unless @pe_process.has_step_feedback? %>
                    Retroalimentación
                  <%= '</strike>'.html_safe unless @pe_process.has_step_feedback? %>
                </a>
              </li>

              <li role="presentation" class="<%= 'active' if params[:tab] && params[:tab] == 'feedback_accepted' %>">
                <a href="#tab_feedback_accepted" aria-controls="feedback_accepted" role="tab" data-toggle="tab" class="tab_feedback_accepted" style="<%= 'color: #666' unless @pe_process.has_step_feedback_accepted? %>">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-no-icon fa-stack-1x fa-inverse" >
                      Cr
                    </i>
                  </span>
                  <%= '<strike>'.html_safe unless @pe_process.has_step_feedback_accepted? %>
                  Confirmación de la <br>retroalimentación
                  <%= '</strike>'.html_safe unless @pe_process.has_step_feedback_accepted? %>
                </a>
              </li>

              <li role="presentation" class="<%= 'active' if params[:tab] && params[:tab] == 'display_results' %>">
                <a href="#tab_display_results" aria-controls="display_results" role="tab" data-toggle="tab" class="tab-display_results">
                  <i class="fa fa-eye" aria-hidden="true"></i> Mostrar Resultados
                </a>
              </li>

              <li role="presentation" class="<%= 'active' if params[:tab] && params[:tab] == 'notifications' %>">
                <a href="#tab_notifications" aria-controls="notifications" role="tab" data-toggle="tab" class="tab-notifications">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i> Notificaciones
                </a>
              </li>

              <li role="presentation" class="<%= 'active' if params[:tab] && params[:tab] == 'reports' %>">
                <a href="#tab_reports" aria-controls="reports" role="tab" data-toggle="tab" class="tab_reports">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i> Reportes
                </a>
              </li>
              <li role="presentation" class="<%= 'active' if params[:tab] && params[:tab] == 'managers' %>">
                <a href="#tab_managers" aria-controls="managers" role="tab" data-toggle="tab" class="tab_managers">
                  <i class="fa fa-cogs" aria-hidden="true"></i> Gestión
                </a>
              </li>

            </ul>

          </div>
        </div>

      </div>

      <div class="col-md-10">

        <script>
          var loaded_steps = false;
          var loaded_members = false;
          var loaded_observers = false;
          var loaded_rels = false;
          var loaded_structure = false;
          var loaded_evaluations = false;
          var loaded_managers = false;
          var loaded_reports = false;
          var loaded_validation = false;
          var loaded_calibration = false;
          var loaded_feedback = false;
          var loaded_feedback_accepted = false;
          var loaded_notifications = false;
          var loaded_display_results = false;
          var loaded_sel = false;
        </script>

        <div class="tab-content">

          <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab] && params[:tab] == 'steps' %>" id="tab_steps">

            <script>

              <% if params[:tab] && params[:tab] == 'steps' %>
              $('#tab_steps').load('<%= pe_process_show_partial_path @pe_process,'steps' %>');
              <% else %>

              $(".tab-steps").on("show.bs.tab", function (e) {
                if(loaded_steps == false) {
                  $('#tab_steps').load('<%= pe_process_show_partial_path @pe_process,'steps' %>');
                  loaded_steps = true;
                }
              })
              <% end %>
            </script>

          </div>

          <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab] && params[:tab] == 'members' %>" id="tab_members">

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                  <div class="panel-body text-center">
                    <i class="fa fa-refresh fa-spin"></i> Cargando participantes
                  </div>
                </div>

              </div>
            </div>


            <script>

              <% if params[:tab] && params[:tab] == 'members' %>
              $('#tab_members').load('<%= pe_process_show_partial_path @pe_process,'members' %>');
              <% else %>

              $(".tab_members").on("show.bs.tab", function (e) {
                if(loaded_members == false) {
                  $('#tab_members').load('<%= pe_process_show_partial_path @pe_process,'members' %>');
                  loaded_members = true;
                }
              })

              <% end %>
            </script>

          </div>

          <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab] && params[:tab] == 'observers' %>" id="tab_observers">

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                  <div class="panel-body text-center">
                    <i class="fa fa-refresh fa-spin"></i> Cargando observadores
                  </div>
                </div>

              </div>
            </div>

            <script>

              <% if params[:tab] && params[:tab] == 'observers' %>
              $('#tab_observers').load('<%= pe_process_show_partial_path @pe_process,'observers' %>');
              <% else %>

              $(".tab_observers").on("show.bs.tab", function (e) {
                if(loaded_observers == false) {
                  $('#tab_observers').load('<%= pe_process_show_partial_path @pe_process,'observers' %>');
                  loaded_observers = true;
                }
              })
              <% end %>
            </script>

          </div>

          <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab] && params[:tab] == 'rels' %>" id="tab_rels" >


            <script>
              <% if params[:tab] && params[:tab] == 'rels' %>
              $('#tab_rels').load('<%= pe_process_show_partial_path @pe_process,'rels' %>');
              <% else %>

              $(".tab_rels").on("show.bs.tab", function (e) {
                if(loaded_rels == false) {
                  $('#tab_rels').load('<%= pe_process_show_partial_path @pe_process,'rels' %>');
                  loaded_rels = true;
                }
              })
              <% end %>
            </script>

          </div>

          <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab] && params[:tab] == 'sel' %>" id="tab_sel" >

            <script>
              <% if params[:tab] && params[:tab] == 'sel' %>
              $('#tab_sel').load('<%= pe_process_show_partial_path @pe_process,'sel' %>');
              <% else %>

              $(".tab_sel").on("show.bs.tab", function (e) {
                if(loaded_sel == false) {
                  $('#tab_sel').load('<%= pe_process_show_partial_path @pe_process,'sel' %>');
                  loaded_sel = true;
                }
              })
              <% end %>
            </script>

          </div>
          
          <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab] && params[:tab] == 'structure' %>" id="tab_structure">



            <% structure_template = @pe_process.two_dimensions? ? 'structure_2d' : 'structure_1d' %>

            <script>
              <% if params[:tab] && params[:tab] == 'structure' %>
              $('#tab_structure').load('<%= pe_process_show_partial_path @pe_process, structure_template %>');
              <% else %>

              $(".tab_structure").on("show.bs.tab", function (e) {
                if(loaded_structure == false) {
                  $('#tab_structure').load('<%= pe_process_show_partial_path @pe_process, structure_template %>');
                  loaded_structure = true;
                }
              })
              <% end %>
            </script>

          </div>
          <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab] && params[:tab] == 'evaluations' %>" id="tab_evaluations">

            <script>
              <% if params[:tab] && params[:tab] == 'evaluations' %>
              $('#tab_evaluations').load('<%= pe_process_show_partial_path @pe_process,'evaluations' %>');
              <% else %>

              $(".tab_evaluations").on("show.bs.tab", function (e) {
                if(loaded_evaluations == false) {
                  $('#tab_evaluations').load('<%= pe_process_show_partial_path @pe_process,'evaluations' %>');
                  loaded_evaluations = true;
                }
              })
              <% end %>
            </script>

          </div>
          <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab] && params[:tab] == 'managers' %>" id="tab_managers">

            <script>
              <% if params[:tab] && params[:tab] == 'managers' %>
              $('#tab_managers').load('<%= pe_process_show_partial_path @pe_process,'managers' %>');
              <% else %>

              $(".tab_managers").on("show.bs.tab", function (e) {
                if(loaded_managers == false) {
                  $('#tab_managers').load('<%= pe_process_show_partial_path @pe_process,'managers' %>');
                  loaded_managers = true;
                }
              })
              <% end %>
            </script>

          </div>

          <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab] && params[:tab] == 'reports' %>" id="tab_reports">

            <script>
              <% if params[:tab] && params[:tab] == 'reports' %>
              $('#tab_reports').load('<%= pe_process_show_partial_path @pe_process,'reports' %>');
              <% else %>

              $(".tab_reports").on("show.bs.tab", function (e) {
                if(loaded_reports == false) {
                  $('#tab_reports').load('<%= pe_process_show_partial_path @pe_process,'reports' %>');
                  loaded_reports = true;
                }
              })
              <% end %>
            </script>

          </div>

          <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab] && params[:tab] == 'validation' %>" id="tab_validation">

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                  <div class="panel-body text-center">
                    <i class="fa fa-refresh fa-spin"></i> Cargando validadores
                  </div>
                </div>

              </div>
            </div>


            <script>
              <% if params[:tab] && params[:tab] == 'validation' %>
              $('#tab_validation').load('<%= pe_process_show_partial_path @pe_process,'validation' %>');
              <% else %>

              $(".tab_validation").on("show.bs.tab", function (e) {
                if(loaded_validation == false) {
                  $('#tab_validation').load('<%= pe_process_show_partial_path @pe_process,'validation' %>');
                  loaded_validation = true;
                }
              })
              <% end %>
            </script>

          </div>

          <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab] && params[:tab] == 'calibration' %>" id="tab_calibration">

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                  <div class="panel-body text-center">
                    <i class="fa fa-refresh fa-spin"></i> Cargando calibradores
                  </div>
                </div>

              </div>
            </div>

            <script>
              <% if params[:tab] && params[:tab] == 'calibration' %>
              $('#tab_calibration').load('<%= pe_process_show_partial_path @pe_process,'calibration' %>');
              <% else %>

              $(".tab_calibration").on("show.bs.tab", function (e) {
                if(loaded_calibration == false) {
                  $('#tab_calibration').load('<%= pe_process_show_partial_path @pe_process,'calibration' %>');
                  loaded_calibration = true;
                }
              })
              <% end %>
            </script>

          </div>

          <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab] && params[:tab] == 'feedback' %>" id="tab_feedback">

            <script>
              <% if params[:tab] && params[:tab] == 'feedback' %>
              $('#tab_feedback').load('<%= pe_process_show_partial_path @pe_process,'feedback' %>');
              <% else %>

              $(".tab_feedback").on("show.bs.tab", function (e) {
                if(loaded_feedback == false) {
                  $('#tab_feedback').load('<%= pe_process_show_partial_path @pe_process,'feedback' %>');
                  loaded_feedback = true;
                }
              })
              <% end %>
            </script>

          </div>

          <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab] && params[:tab] == 'feedback_accepted' %>" id="tab_feedback_accepted">

            <script>
              <% if params[:tab] && params[:tab] == 'feedback_accepted' %>
              $('#tab_feedback_accepted').load('<%= pe_process_show_partial_path @pe_process,'feedback_accepted' %>');
              <% else %>

              $(".tab_feedback_accepted").on("show.bs.tab", function (e) {
                if(loaded_feedback_accepted == false) {
                  $('#tab_feedback_accepted').load('<%= pe_process_show_partial_path @pe_process,'feedback_accepted' %>');
                  loaded_feedback_accepted = true;
                }
              })
              <% end %>
            </script>

          </div>

          <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab] && params[:tab] == 'notifications' %>" id="tab_notifications">

            <script>

              <% if params[:tab] && params[:tab] == 'notifications' %>
              $('#tab_notifications').load('<%= pe_process_show_partial_path @pe_process,'notifications' %>');
              <% else %>

              $(".tab-notifications").on("show.bs.tab", function (e) {
                if(loaded_notifications == false) {
                  $('#tab_notifications').load('<%= pe_process_show_partial_path @pe_process,'notifications' %>');
                  loaded_notifications = true;
                }
              })
              <% end %>
            </script>

          </div>

          
          <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab] && params[:tab] == 'display_results' %>" id="tab_display_results">

            <script>

              <% if params[:tab] && params[:tab] == 'display_results' %>
              $('#tab_display_results').load('<%= pe_process_show_partial_path @pe_process,'display_results' %>');
              <% else %>

              $(".tab-display_results").on("show.bs.tab", function (e) {
                if(loaded_display_results == false) {
                  $('#tab_display_results').load('<%= pe_process_show_partial_path @pe_process,'display_results' %>');
                  loaded_display_results = true;
                }
              })
              <% end %>
            </script>

          </div>

        </div>

      </div>

    </div>

  </div>
</div>


