<%= form_for(candidate.jm_candidate_comments.new, :url => add_candidate_comment_sel_candidate_path(candidate)) do |f| %>
    <div class="row">
      <div class="col-md-10">
        <%= f.text_area :comment, :class => 'form-control', :rows => 1, :placeholder => 'Añadir comentario' %>
      </div>
      <div class="col-md-2">
        <%= link_to 'Guardar', '#', :class => 'btn btn-primary add_comment_submit', :onclick => 'add_comment()' %>
      </div>
    </div>
<% end %>
