<div class="row">
  <div class="col-md-3">
    
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Bonos de rol comercial
      <span>> Configurar correos </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <% if @brc_mail %>

        <div class="row">
          <div class="col-md-12">
            <strong>
              A Definidor cuando ya puede ingresar a hacer su trabajo
            </strong>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>
              Asunto
            </strong>
          </div>
          <div class="col-md-9">
            <%= @brc_mail.def_begin_subject %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>
              Contenido
            </strong>
          </div>
          <div class="col-md-9">
            <%= @brc_mail.def_begin_body.html_safe %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <strong>
              A Definidor cuando ya validador rechazó su definición
            </strong>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>
              Asunto
            </strong>
          </div>
          <div class="col-md-9">
            <%= @brc_mail.def_rej_subject %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>
              Contenido
            </strong>
          </div>
          <div class="col-md-9">
            <%= @brc_mail.def_rej_body.html_safe %>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-12">
            <strong>
              A Validador cuando ya puede ingresar a hacer su trabajo
            </strong>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>
              Asunto
            </strong>
          </div>
          <div class="col-md-9">
            <%= @brc_mail.val_begin_subject %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>
              Contenido
            </strong>
          </div>
          <div class="col-md-9">
            <%= @brc_mail.val_begin_body.html_safe %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <strong>
              A Definidor cuando le queda un día para finalizar la definición
            </strong>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>
              Asunto
            </strong>
          </div>
          <div class="col-md-9">
            <%= @brc_mail.def_remind_subject %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>
              Contenido
            </strong>
          </div>
          <div class="col-md-9">
            <%= @brc_mail.def_remind_body.html_safe %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <strong>
              A Validador cuando le queda un día para finalizar la definición
            </strong>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>
              Asunto
            </strong>
          </div>
          <div class="col-md-9">
            <%= @brc_mail.val_remind_subject %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>
              Contenido
            </strong>
          </div>
          <div class="col-md-9">
            <%= @brc_mail.val_remind_body.html_safe %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <strong>
              A Empleado cuando ya pueda hacer el desvío de sus bonos
            </strong>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>
              Asunto
            </strong>
          </div>
          <div class="col-md-9">
            <%= @brc_mail.member_begin_subject %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>
              Contenido
            </strong>
          </div>
          <div class="col-md-9">
            <%= @brc_mail.member_begin_body.html_safe %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">

          <% if @brc_mail %>
            <%= link_to 'Editar', edit_brc_mail_path(@brc_mail) %>
          <% else %>
            <%= link_to 'Editar', new_brc_mail_path %>
          <% end %>
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
