<p id="notice"><%= notice %></p>

<p>
  <b>Def begin subject:</b>
  <%= @brc_mail.def_begin_subject %>
</p>

<p>
  <b>Def begin body:</b>
  <%= @brc_mail.def_begin_body %>
</p>

<p>
  <b>Def rej subject:</b>
  <%= @brc_mail.def_rej_subject %>
</p>

<p>
  <b>Def rej body:</b>
  <%= @brc_mail.def_rej_body %>
</p>

<p>
  <b>Val begin subject:</b>
  <%= @brc_mail.val_begin_subject %>
</p>

<p>
  <b>Val begin body:</b>
  <%= @brc_mail.val_begin_body %>
</p>

<p>
  <b>Def remind subject:</b>
  <%= @brc_mail.def_remind_subject %>
</p>

<p>
  <b>Def remind body:</b>
  <%= @brc_mail.def_remind_body %>
</p>

<p>
  <b>Val remind subject:</b>
  <%= @brc_mail.val_remind_subject %>
</p>

<p>
  <b>Val remind body:</b>
  <%= @brc_mail.val_remind_body %>
</p>

<p>
  <b>Member begin subject:</b>
  <%= @brc_mail.member_begin_subject %>
</p>

<p>
  <b>Member begin body:</b>
  <%= @brc_mail.member_begin_body %>
</p>

<p>
  <b>Member begin extra1 body:</b>
  <%= @brc_mail.member_begin_extra1_body %>
</p>


<%= link_to 'Edit', edit_brc_mail_path(@brc_mail) %> |
<%= link_to 'Back', brc_mails_path %>
