
    <script src="/assets/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="/assets/amcharts/gauge.js" type="text/javascript"></script>
    <script src="/assets/amcharts/radar.js" type="text/javascript"></script>
    <script src="/assets/amcharts/pie.js" type="text/javascript"></script>
    <script src="/assets/amcharts/serial.js" type="text/javascript"></script>
    <script src="/assets/amcharts/themes/light.js" type="text/javascript"></script>


    <%
      meses = t('date.abbr_month_names')
      meses_array = meses.each_with_index.map { |m,i| [m, i] }
      meses_array.delete_at 0

      dt_i = Array.new
      dt_f = Array.new

      prev_month = nil

      (@kpi_dashboard.from..@kpi_dashboard.to).each do |date|

        unless prev_month == date.strftime('%m').to_i

          prev_month = date.strftime('%m').to_i

          dt_i.push date
          dt_f.push date + 1.month

        end

      end



      end_value = @kpi_dashboard.upper_limit ? @kpi_dashboard.upper_limit: 100
      start_value = @kpi_dashboard.lower_limit ? @kpi_dashboard.lower_limit: 0

    %>

    <% kpi_sets_measurements_hash = Hash.new %>
    <% kpi_indicator_ranks_hash = Hash.new %>
    <% kpi_indicators_measurements_hash = Hash.new %>
    <% kpi_indicators_details_hash = Hash.new %>
    <% kpi_indicator_details_ranks_hash = Hash.new %>
    <% kpi_set_last_measurement_date_hash = Hash.new %>

    <% @kpi_sets.each do |kpi_set| %>

      <% kpi_sets_measurements_hash[kpi_set.id.to_s] = Hash.new %>

      <% kpi_set.kpi_measurements.each do |kpi_measurement| %>

        <% kpi_sets_measurements_hash[kpi_set.id.to_s][kpi_measurement.measured_at.to_s] = kpi_measurement %>

      <% end %>

      <% kpi_indicators = kpi_set.kpi_indicators %>

      <% kpi_indicators.each do |kpi_indicator| %>

        <% kpi_indicator_ranks_hash[kpi_indicator.id.to_s] = Array.new %>
        <% kpi_indicator.kpi_indicator_ranks.each do |kpi_indicator_rank| %>

          <% kpi_indicator_ranks_hash[kpi_indicator.id.to_s].push kpi_indicator_rank %>

        <% end %>

        <% kpi_indicators_measurements_hash[kpi_indicator.id.to_s] = Hash.new %>

        <% kpi_indicator.kpi_measurements.each do |kpi_measurement| %>

          <% kpi_indicators_measurements_hash[kpi_indicator.id.to_s][kpi_measurement.measured_at.to_s] = kpi_measurement %>

        <% end %>

        <% kpi_indicators_details_hash[kpi_indicator.id.to_s] = Hash.new %>

        <% kpi_indicator.kpi_indicator_details.each do |kpi_indicator_detail| %>

          <% kpi_indicators_details_hash[kpi_indicator.id.to_s][kpi_indicator_detail.measured_at.to_s] = kpi_indicator_detail %>

        <% end %>

        <% kpi_indicator_details_ranks_hash[kpi_indicator.id.to_s] = Hash.new %>

        <% kpi_indicator.kpi_indicator_details_ranks.each do |kpi_indicator_rank| %>

          <% kpi_indicator_details_ranks_hash[kpi_indicator.id.to_s][kpi_indicator_rank.kpi_indicator_detail_id.to_s] = Array.new unless kpi_indicator_details_ranks_hash[kpi_indicator.id.to_s][kpi_indicator_rank.kpi_indicator_detail_id.to_s] %>

          <% kpi_indicator_details_ranks_hash[kpi_indicator.id.to_s][kpi_indicator_rank.kpi_indicator_detail_id.to_s].push kpi_indicator_rank %>

        <% end %>

      <% end %>

    <% end %>

<div id="container_kpis_view_detail">

  <div id="container_graphs_view_detail">

    <% if @kpi_sets.size > 1 %>

      <div class="panel panel-default">
        <div class="panel-body">

            <% count_4 = 0 %>
            <% @kpi_sets.each_with_index do |kpi_set, index| %>

              <% if count_4 == 0 %>
                <% if index > 0 %>
                  <br>
                <% end %>
                <div class="row">
              <% end %>

                <div class="col-md-3">

                  <div class="kpi_dashboard_subpanel">

                    <div class="kpi_dashboard_chart_title">
                      <strong><%= kpi_set.name %></strong>
                    </div>

                    <% if kpi_set.percentage %>

                      <div id='chart_p_kpi_set_g_<%= kpi_set.id %>' style="height: 120px;" class="kpi_dashboard_chart"></div>

                      <% #kpi_set_last_measurement_date = kpi_set.get_last_measurement_date %>

                      <% kpi_set_last_measurement_date_hash[kpi_set.id.to_s] = kpi_set.get_last_measurement_date %>

                      <% if kpi_set_last_measurement_date_hash[kpi_set.id.to_s] %>

                        <div class="kpi_dashboard_chart_det">
                            <em style="font-size: 10px;">
                              Promedio a
                              <strong>
                                <%= (localize kpi_set_last_measurement_date_hash[kpi_set.id.to_s], format: :snmonth_year) %>
                              </strong>
                            </em>
                        </div>
                      <% end %>

                      <script>

                        function render_chart_p_kpi_set_g_<%= kpi_set.id %>(){

                          AmCharts.makeChart("chart_p_kpi_set_g_<%= kpi_set.id %>", {
                            "type": "gauge",
                            "theme": "none",
                            "marginTop": 0,
                            "marginBottom": 0,
                            "axes": [{
                              "axisThickness":1,
                              "axisAlpha":0.2,
                              "tickAlpha":0.2,
                              "valueInterval":20,
                              "startAngle": -90,
                              "endAngle": 90,
                              "bottomTextYOffset": -20,
                              "endValue": <%= end_value %>,
                              "bottomText": "<%= kpi_set.percentage.round(1) %>%",
                              "labelOffset": 16,
                              "bands": [
                                <% prev_p = start_value %>
                                <% @kpi_dashboard.kpi_colors.each_with_index do |kpi_color, index| %>
                                {
                                  "color": "<%= kpi_color.color %>",
                                  "startValue": <%= prev_p %>,
                                  "endValue": <%= index+1 == @kpi_dashboard.kpi_colors.size ? end_value : kpi_color.percentage %>,
                                  "innerRadius": 50
                                },
                                <% prev_p = kpi_color.percentage %>
                                <% end %>
                              ]
                            }],
                            "arrows": [{
                              "value": <%= kpi_set.percentage.round(1) %>,
                              "nailRadius": 4,
                              "startWidth": 4
                            }]
                          });

                        }

                      </script>

                    <% end %>

                  </div>

                </div>

              <% if count_4 == 3 %>
                </div>
              <% end %>

              <%
                 count_4 += 1
                 count_4 = 0 if count_4 == 4
              %>

            <% end %>
            <% if count_4 > 0 %>
              </div>
            <% end %>


        </div>
      </div>

    <% end %>


    <% @kpi_sets.each do |kpi_set| %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>
            <div class="row">
              <div class="col-md-8">
                <%= kpi_set.name %>
              </div>
              <div class="col-md-4 text-right">

                <% if kpi_set.last_update %>
                  <span class="label label-default" style="font-size: 10px;">
                    Actualizado el <%= (localize kpi_set.last_update, format: :full_date_time) %>
                  </span>
                <% end %>
              </div>

            </div>

          </legend>
          <div class="row">
            <div class="col-md-4">

              <div class="kpi_dashboard_subpanel">
                <div class="kpi_dashboard_chart_title">
                  <strong>Logro promedio</strong>
                </div>


                <% if kpi_set.percentage %>

                  <div id='chart_p_kpi_set_<%= kpi_set.id %>' style="height: 120px;" class="kpi_dashboard_chart"></div>

                  <% #kpi_set_last_measurement_date = kpi_set.get_last_measurement_date %>

                  <% if kpi_set_last_measurement_date_hash[kpi_set.id.to_s] %>
                    <div class="kpi_dashboard_chart_det">
                      <em>
                        Promedio a
                        <strong><%= (localize kpi_set_last_measurement_date_hash[kpi_set.id.to_s], format: :snmonth_year) %></strong>
                      </em>
                    </div>
                  <% end %>

                  <script>

                    function render_chart_p_kpi_set_<%= kpi_set.id %>(){

                      AmCharts.makeChart("chart_p_kpi_set_<%= kpi_set.id %>", {
                        "type": "gauge",
                        "theme": "none",
                        "marginTop": 0,
                        "marginBottom": 0,
                        "axes": [{
                          "axisThickness":1,
                          "axisAlpha":0.2,
                          "tickAlpha":0.2,
                          "valueInterval":20,
                          "startAngle": -90,
                          "endAngle": 90,
                          "bottomTextYOffset": -20,
                          "endValue": <%= end_value %>,
                          "bottomText": "<%= kpi_set.percentage.round(1) %>%",
                          "labelOffset": 16,
                          "bands": [
                            <% prev_p = start_value %>
                            <% @kpi_dashboard.kpi_colors.each_with_index do |kpi_color, index| %>
                            {
                              "color": "<%= kpi_color.color %>",
                              "startValue": <%= prev_p %>,
                              "endValue": <%= index+1 == @kpi_dashboard.kpi_colors.size ? end_value : kpi_color.percentage %>,
                              "innerRadius": 50
                            },
                            <% prev_p = kpi_color.percentage %>
                            <% end %>
                          ]
                        }],
                        "arrows": [{
                          "value": <%= kpi_set.percentage.round(1) %>,
                          "nailRadius": 4,
                          "startWidth": 4
                        }]
                      });

                    }
                  </script>

                <% end %>



              </div>

              <% if kpi_set.kpi_indicators.size > 1 %>

                <br>


                <div class="kpi_dashboard_subpanel">

                  <div class="kpi_dashboard_chart_title">
                    <strong>Pesos de los indicadores</strong>
                  </div>



                  <div id='chart_pesos_<%= kpi_set.id %>' style="height: <%= kpi_set.kpi_indicators.size <= 10 ? 400 : 40*kpi_set.kpi_indicators.size %>px"></div>

                  <script>

                    function render_chart_pesos_<%= kpi_set.id %>(){


                      AmCharts.makeChart("chart_pesos_<%= kpi_set.id %>", {
                        "type": "pie",
                        "theme": "light",
                        "hideLabelsPercent": 100,
                        "radius": "80",
                        "legend": {
                          "markerType": "square",
                          "position": "bottom",
                          "marginRight": 0,
                          "valueText": "[[value]]%",
                          "autoMargins": false
                        },
                        "valueField": "weight",
                        "titleField": "indicator",
                        "balloonText": "[[title]]<br>[[value]]%",
                        "dataProvider": [

                          <% kpi_set.kpi_indicators.each do |kpi_indicator| %>
                          {
                            "indicator": "<%= kpi_indicator.name %>",
                            "weight": <%= kpi_indicator.weight %>
                          },
                          <% end %>
                        ],
                        "export": {
                          "enabled": true
                        }
                      });
                    }
                  </script>

                </div>

              <% end %>

            </div>

            <div class="col-md-8">

              <% if kpi_set.kpi_indicators.size > 2 %>

                <div class="kpi_dashboard_subpanel">

                  <div class="kpi_dashboard_chart_title">
                    <strong>Logro promedio de los indicadores</strong>
                  </div>

                  <div id='chart_logro_ind_<%= kpi_set.id %>' style="height: 300px"></div>

                  <script>

                    <% minimum = end_value %>

                    function render_chart_logro_ind_<%= kpi_set.id %>(){

                      AmCharts.makeChart("chart_logro_ind_<%= kpi_set.id %>", {
                        "type": "radar",
                        "theme": "none",
                        "startDuration": 1,
                        "graphs": [{
                          "balloonText": "[[category]]: [[value]]%",
                          "bullet": "round",
                          "fillAlphas": 0.1,
                          "valueField": "value"
                        }],
                        "categoryField": "indicator",
                        "radius": "40%",
                        "dataProvider": [
                          <% kpi_set.kpi_indicators.each do |kpi_indicator| %>

                          {
                            "indicator": "<%= kpi_indicator.name %>",
                            <% if kpi_indicator.percentage %>
                              "value": <%= kpi_indicator.percentage.round(1) %>
                              <% minimum = kpi_indicator.percentage if kpi_indicator.percentage < minimum %>
                            <% end %>
                          },

                          <% end %>

                        ],

                        <% minimum = ((minimum/10).to_i*10)-10 %>
                        <% minimum = start_value if minimum < start_value %>

                        "valueAxes": [{
                          "gridType": "polygons",
                          "autoGridCount": false,
                          "gridCount": 6,
                          "axisAlpha": 0.2,
                          "fillAlpha": 0.05,
                          "fillColor": "#FFFFFF",
                          "gridAlpha": 0.08,
                          "minimum": <%= minimum %>,
                          "maximum": <%= end_value %>,
                          "guides": [

                            <% prev_p = minimum %>
                            <% @kpi_dashboard.kpi_colors.each_with_index do |kpi_color, index| %>
                              <% if kpi_color.percentage > prev_p %>
                                {
                                  "angle": 0,
                                  "fillAlpha": 0.1,
                                  "fillColor": "<%= kpi_color.color %>",
                                  "tickLength": 0,
                                  "toAngle": 360,
                                  "toValue": <%= index+1 == @kpi_dashboard.kpi_colors.size ? end_value : kpi_color.percentage %>,
                                  "value": <%= prev_p %>,
                                  "lineAlpha": 0

                                },
                                <% prev_p = kpi_color.percentage %>
                              <% end %>

                            <% end %>

                          ]
                        }]
                      });

                    }

                  </script>


                </div>
                <br>

              <% end %>

              <div class="kpi_dashboard_subpanel">

                <div class="kpi_dashboard_chart_title">
                  <strong>Logro detallado de los indicadores</strong>
                </div>

                <div id="chart_det_<%= kpi_set.id %>" style="height: <%= kpi_set.kpi_indicators.size <= 10 ? 500 : 50*kpi_set.kpi_indicators.size %>px"></div>

                <script>

                  <% minimum = end_value %>

                  function render_chart_det_<%= kpi_set.id %>(){

                    AmCharts.makeChart("chart_det_<%= kpi_set.id %>", {
                      "type": "serial",
                      "theme": "light",
                      "pathToImages": "/assets/amcharts/",
                      "plotAreaBorderAlpha": 0.15,
                      "legend": {
                        "useGraphSettings": true
                      },
                      "chartCursor": {
                        "cursorAlpha": 0,
                        "cursorPosition": "mouse",
                        "zoomable": false
                      },
                      "startDuration": 0.5,
                      "categoryField": "date",
                      "categoryAxis": {
                        "gridPosition": "start",
                        "axisAlpha": 0,
                        "fillAlpha": 0.05,
                        "fillColor": "#000000",
                        "gridAlpha": 0,
                        "position": "bottom"
                      },
                      "chartScrollbar":{
                        "offset": 10,
                        "dragIconHeight": 15,
                        "scrollbarHeight": 15
                      },
                      "dataProvider": [

                        <% dt_i.each_with_index do |fecha, index| %>

                        {
                          "date": "<%= meses_array[(fecha.strftime '%m').to_i-1][0] %><br><%= fecha.strftime '%Y' %>",

                          <% kpi_set.kpi_indicators.each do |kpi_indicator| %>

                            <% #kpi_measurement = kpi_indicator.kpi_measurements.where('measured_at = ?',fecha).first %>

                            <% kpi_measurement = kpi_indicators_measurements_hash[kpi_indicator.id.to_s] && kpi_indicators_measurements_hash[kpi_indicator.id.to_s][fecha.to_s] ? kpi_indicators_measurements_hash[kpi_indicator.id.to_s][fecha.to_s] : nil %>

                            <% if kpi_measurement && kpi_measurement.percentage %>
                              "kpi_indicator_<%= kpi_indicator.id %>": <%= kpi_measurement.percentage.round(1)  %>,
                              <% minimum = kpi_measurement.percentage if kpi_measurement.percentage < minimum %>
                            <% end %>

                          <% end %>

                        },

                        <% end %>
                      ],
                      <% minimum = ((minimum/10).to_i*10)-10 %>
                      <% minimum = start_value if minimum < start_value %>

                      "valueAxes": [{
                        "maximum": <%= end_value %>,
                        "minimum": <%= minimum %>,
                        "axisAlpha": 0,
                        "autoGridCount": false,
                        "gridCount": <%= ((end_value - minimum)/10)+2 %>,
                        "position": "left",
                        "title": "Logro",
                        "guides": [

                          <% prev_p = minimum %>
                          <% @kpi_dashboard.kpi_colors.each_with_index do |kpi_color, index| %>

                          <% if kpi_color.percentage > prev_p %>

                          {
                            "fillAlpha": 0.1,
                            "fillColor": "<%= kpi_color.color %>",
                            "toValue": <%= index+1 == @kpi_dashboard.kpi_colors.size ? end_value : kpi_color.percentage %>,
                            "value": <%= prev_p %>,
                            "lineAlpha": 0
                          },
                          <% prev_p = kpi_color.percentage %>
                          <% end %>
                          <% end %>
                        ]
                      }],

                      "graphs": [

                        <% bullet_type = %w(round square triangleUp triangleDown triangleLeft triangleRight bubble diamond) %>
                        <% bullet_type_index = 0 %>
                        <% kpi_set.kpi_indicators.each do |kpi_indicator| %>

                        {
                          "balloonText": "<%= kpi_indicator.name %>: [[value]]%",
                          "bullet": "<%= bullet_type[bullet_type_index] %>",
                          "title": "<%= kpi_indicator.name %>",
                          "valueField": "kpi_indicator_<%= kpi_indicator.id %>",
                          "fillAlphas": 0
                        },
                        <% bullet_type_index += 1%>
                        <% bullet_type_index = 0 if bullet_type_index == bullet_type.size %>

                        <% end %>

                      ]
                    });
                  }

                </script>
              </div>
            </div>

          </div>

        </div>
      </div>

    <% end %>

  </div>

  <script>
    function render_charts(){

      <% @kpi_sets.each do |kpi_set| %>
        <% if kpi_set.percentage %>
          <% if @kpi_sets.size > 1 %>
            render_chart_p_kpi_set_g_<%= kpi_set.id %>();
          <% end %>
          render_chart_p_kpi_set_<%= kpi_set.id %>();
        <% end %>
        <% if kpi_set.kpi_indicators.size > 1 %>
          render_chart_pesos_<%= kpi_set.id %>();
        <% end %>
        <% if kpi_set.kpi_indicators.size > 2 %>
          render_chart_logro_ind_<%= kpi_set.id %>();
        <% end %>
        render_chart_det_<%= kpi_set.id %>();
      <% end %>

    }
  </script>

  <div id="container_table_view_detail">

    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-striped table-hover table-bordered" style="font-size: 12px;">

          <% @kpi_sets.each do |kpi_set| %>
            <thead>
              <tr>

                <% n_cols = 4 %>
                <% n_cols += 1 if @kpi_dashboard.allow_subsets? %>
                <% n_cols += 1 if @kpi_dashboard.kpi_field_annual_goal? %>

                <th style="background-color: #dddddd; vertical-align: middle;" colspan="<%= n_cols %>">
                  <%= kpi_set.position %>.

                  <%= kpi_set.name %>

                  <% if kpi_set.last_update %>
                    <br>
                            <span class="label label-default" style="font-size: 10px;">
                              Actualizado el <%= (localize kpi_set.last_update, format: :full_date_time) %>
                            </span>
                  <% end %>


                </th>


                <% if @kpi_dashboard.show_set_results? %>

                  <% dt_i.each do |fecha| %>

                    <th style="background-color: #dddddd; vertical-align: middle; border-left: 1px solid #ccc !important; border-right: 1px solid #ccc !important; " >
                      <% #kpi_measurement = kpi_set.kpi_measurements.where('measured_at = ?', fecha).first %>

                      <% kpi_measurement = kpi_sets_measurements_hash[kpi_set.id.to_s] && kpi_sets_measurements_hash[kpi_set.id.to_s][fecha.to_s] ? kpi_sets_measurements_hash[kpi_set.id.to_s][fecha.to_s] : nil %>

                      <% if kpi_measurement && kpi_measurement.percentage %>

                        <%
                           color = nil

                           @kpi_dashboard.kpi_colors.each do |kpi_color|
                             color = kpi_color.color
                             break if kpi_measurement.percentage < kpi_color.percentage
                           end
                        %>

                        <i class="fa fa-circle" style="color: <%= color %>"></i>
                        <%= number_with_precision(kpi_measurement.percentage, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

                      <% end %>

                    </th>

                  <% end %>

                <% else %>

                  <th style="background-color: #dddddd; vertical-align: middle; border-left: 1px solid #ccc !important; border-right: 1px solid #ccc !important; " colspan="<%= dt_i.size %>">

                  </th>

                <% end %>

                <% if @kpi_dashboard.show_set_final_result? %>

                  <th style="background-color: #dddddd; vertical-align: middle; border-right: 1px solid #ccc !important; " >

                    <% if kpi_set.percentage %>

                      <%
                         color = nil

                         @kpi_dashboard.kpi_colors.each do |kpi_color|
                           color = kpi_color.color
                           break if kpi_set.percentage < kpi_color.percentage
                         end
                      %>

                      <i class="fa fa-circle" style="color: <%= color %>"></i>
                      <%= number_with_precision(kpi_set.percentage, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%


                  <% end %>

                  </th>

                <% elsif @kpi_dashboard.show_indicator_final_result? %>




                <% end %>


              </tr>

              <tr>


                <% if @kpi_dashboard.allow_subsets?%>

                  <th>
                    <%= @kpi_dashboard.subset_alias %>
                  </th>

                <% end %>

                <th colspan="2">
                  <div class="row">
                    <div class="col-md-9">
                      Indicador
                    </div>

                    <div class="col-md-3">
                      <% if manage %>
                        <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_kpi_indicator_path(kpi_set), title: 'Crear indicador' %>
                      <% end %>
                    </div>
                  </div>
                </th>
                <th>
                  Peso
                </th>
                <% if @kpi_dashboard.kpi_field_annual_goal? %>
                  <th>
                    Meta anual
                  </th>
                <% end %>
                <th>
                  Unidad
                </th>
                <% dt_i.each do |fecha| %>
                  <th>
                    <%= fecha.strftime '%Y' %><br> <%= meses_array[(fecha.strftime '%m').to_i-1][0] %>
                  </th>
                <% end %>

                <% if @kpi_dashboard.show_indicator_final_result? %>

                  <th>
                    Resultado a la fecha
                  </th>

                <% end %>

              </tr>
            </thead>
            <tbody>

            <% kpi_subset_id = nil %>

            <% kpi_indicators = @kpi_dashboard.allow_subsets? ? kpi_set.kpi_indicators_ordered_by_subset : kpi_set.kpi_indicators %>

            <% kpi_indicators.each do |kpi_indicator| %>

              <tr>


              <% if @kpi_dashboard.allow_subsets? %>

                <% if kpi_indicator.kpi_subset && kpi_indicator.kpi_subset.id != kpi_subset_id %>

                  <% kpi_subset_id = kpi_indicator.kpi_subset.id %>

                  <td rowspan="<%= kpi_indicator.kpi_subset.kpi_indicators.size %>">
                    <%= kpi_indicator.kpi_subset.name  %>
                  </td>

                <% end %>

              <% end %>
              <td><%= kpi_set.position %>.<%= kpi_indicator.position %></td>
              <td>

                  <div class="row">

                    <div class="col-md-10">

                      <% if manage %>
                        <a href="<%= edit_kpi_indicator_path(kpi_indicator) %>" style="color: #000;" title="Editar indicador">
                          <%= kpi_indicator.name %>
                        </a>
                      <% else %>
                        <%= kpi_indicator.name %>
                      <% end %>



                    </div>


                    <% if @kpi_dashboard.kpi_rols.size > 0 %>
                      <div class="col-md-1">
                        <% if kpi_indicator.kpi_indicator_rols.size > 0 %>

                          <% lista_roles = '<table class="table table-condensed table-bordered">'%>

                          <% kpi_indicator.kpi_indicator_rols.each_with_index do |kpi_indicator_rol, index_num_rol| %>
                            <% lista_roles += '<tr>' %>
                            <% lista_roles += '<td>'+(index_num_rol+1).to_s+'</td>' %>
                            <% lista_roles += '<td>'+kpi_indicator_rol.user.apellidos+'</td>' %>
                            <% lista_roles += '<td>'+kpi_indicator_rol.user.nombre+'</td>' %>
                            <% lista_roles += '<td>'+kpi_indicator_rol.kpi_rol.name+'</td>' %>
                            <% lista_roles += '</tr>' %>
                          <% end %>

                          <% lista_roles += '</table>' %>


                          <nobr>
                            <a id="det_indicator_rols_<%= kpi_indicator.id %>" title="Roles" class="mouse_pointer" data-toggle="button"  style="color: #000;" data-content='<%= lista_roles %>'>
                              <i class="fa fa-users"></i>
                            </a>


                            <script language="javascript">
                              $('#det_indicator_rols_<%= kpi_indicator.id %>').popover({
                                html: true,
                                placement: 'right',
                                trigger: 'click'
                              });
                            </script>

                          </nobr>

                        <% end %>
                      </div>
                      <div class="col-md-1">
                        <% if manage %>
                          <%= link_to '<i class="fa fa-edit"></i>'.html_safe, new_kpi_indicator_rol_path(kpi_indicator) %>
                        <% end %>
                      </div>

                    <% end %>

                  </div>

              </td>
              <td>
                <nobr>
                  <%= number_with_precision(kpi_indicator.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
                </nobr>
              </td>
              <% if @kpi_dashboard.kpi_field_annual_goal? %>
                <td>
                  <nobr>
                    <%= kpi_indicator.opf_annual_goal %>
                  </nobr>
                </td>
              <% end %>
              <td>

                <div class="row">

                  <div class="col-md-6">
                    <%= kpi_indicator.unit %>
                  </div>
                  <div class="col-md-2">
                    <% if kpi_indicator.indicator_type == 1 %>
                    <span class="fa-stack" style="font-size: 8px;">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <span class="fa-stack-1x" style="color: #fff">D</span>
                    </span>
                    <% elsif kpi_indicator.indicator_type == 2 %>
                    <span class="fa-stack" style="font-size: 8px;">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <span class="fa-stack-1x" style="color: #fff;">I</span>
                    </span>
                    <% elsif kpi_indicator.indicator_type == 3 %>
                    <span class="fa-stack" style="font-size: 8px;">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <span class="fa-stack-1x" style="color: #fff;">+/-</span>
                    </span>
                    <% elsif kpi_indicator.indicator_type == 4 %>
                    <span class="fa-stack" style="font-size: 8px;">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <span class="fa-stack-1x" style="color: #fff;">R</span>
                    </span>
                    <% end %>
                  </div>
                </div>

              </td>

              <% dt_i.each do |fecha| %>

                <%
                   #kpi_measurement = kpi_indicator.kpi_measurements.where('measured_at = ?',fecha).first

                   #kpi_measurement = kpi_indicators_measurements_hash[kpi_indicator.id] ? kpi_indicators_measurements_hash[kpi_indicator.id][fecha] : nil

                   kpi_measurement = kpi_indicators_measurements_hash[kpi_indicator.id.to_s] && kpi_indicators_measurements_hash[kpi_indicator.id.to_s][fecha.to_s] ? kpi_indicators_measurements_hash[kpi_indicator.id.to_s][fecha.to_s] : nil

                   unless kpi_measurement

                     kpi_measurement = kpi_indicator.kpi_measurements.build

                     kpi_measurement.measured_at = fecha

                   end

                %>

                <td>
                  <nobr>
                    <% if kpi_measurement.percentage %>

                      <%
                         color = nil

                         @kpi_dashboard.kpi_colors.each do |kpi_color|
                           color = kpi_color.color
                           break if kpi_measurement.percentage < kpi_color.percentage
                         end
                      %>
                      <% if manage %>
                        <a href="#<%= kpi_indicator.id %>_<%= fecha %>" data-toggle="modal">
                          <i class="fa fa-circle" style="color: <%= color %>"></i>
                        </a>
                      <% else %>
                        <i class="fa fa-circle" style="color: <%= color %>"></i>
                      <% end %>

                    <% else %>
                      <% if manage %>
                        <a href="#<%= kpi_indicator.id %>_<%= fecha %>" data-toggle="modal">
                          <i class="fa fa-edit"></i>
                        </a>
                      <% end %>
                    <% end %>

                    <span class="measurements_values">

                      <% if kpi_measurement.value %>
                        <% if manage %>
                          <a href="#<%= kpi_indicator.id %>_<%= fecha %>" data-toggle="modal" style="color: #000;">
                            <%= number_with_precision(kpi_measurement.value, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
                          </a>
                        <% else %>
                          <%= number_with_precision(kpi_measurement.value, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
                        <% end %>
                      <% end %>

                    </span>

                    <span class="measurements_percentages">

                      <% if kpi_measurement.percentage %>
                        <% if manage %>
                          <a href="#<%= kpi_indicator.id %>_<%= fecha %>" data-toggle="modal" style="color: #000;">
                            <%= number_with_precision(kpi_measurement.percentage, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                          </a>
                        <% else %>
                          <%= number_with_precision(kpi_measurement.percentage, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                        <% end %>

                      <% end %>
                    </span>

                    <span class="measurements_goals">

                      <% if kpi_measurement.goal %>
                        <% if manage %>
                          <a href="#<%= kpi_indicator.id %>_<%= fecha %>" data-toggle="modal" style="color: #000;">
                            <%= number_with_precision(kpi_measurement.goal, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
                          </a>
                        <% else %>
                          <%= number_with_precision(kpi_measurement.goal, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
                        <% end %>
                      <% end %>

                    </span>



                  </nobr>
                  <% if manage %>
                    <div id="<%= kpi_indicator.id %>_<%= fecha %>" class="modal fade">

                      <%= form_for kpi_measurement, html: {class: 'form-horizontal', role: 'form'} do |f| %>


                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                              <h4 class="modal-title">Valor del indicador</h4>
                            </div>
                            <div class="modal-body">
                              <%= f.hidden_field :kpi_indicator_id %>
                              <%= f.hidden_field :measured_at %>


                              <%= render 'shared/error_messages', object: f.object %>

                              <div class="form-group <%= field_with_errors f, :value %>">

                                <%= f.label :value, 'Valor', class: 'col-md-3 control-label' %>

                                <div class="col-md-9">

                                  <%= f.text_field :value, autofocus: 'autofocus', class: 'form-control' %>

                                </div>

                              </div>
                            </div>
                            <div class="modal-footer">
                              <%= f.submit 'Guardar', class: 'btn btn-primary' %>
                            </div>
                          </div>
                        </div>


                      <% end %>
                    </div>
                  <% end %>
                </td>
              <% end %>

              <% if @kpi_dashboard.show_indicator_final_result? %>

                <td>

                  <nobr>
                    <% if kpi_indicator.percentage %>

                      <%
                         color = nil

                         @kpi_dashboard.kpi_colors.each do |kpi_color|
                           color = kpi_color.color
                           break if kpi_indicator.percentage < kpi_color.percentage
                         end
                      %>

                      <% if manage && kpi_indicator.final_result_method == 3 %>
                        <a href="#<%= kpi_indicator.id %>_final_result" data-toggle="modal">
                          <i class="fa fa-circle" style="color: <%= color %>"></i>
                        </a>
                      <% else %>
                        <i class="fa fa-circle" style="color: <%= color %>"></i>
                      <% end %>

                    <% else %>
                      <% if manage && kpi_indicator.final_result_method == 3 %>
                        <a href="#<%= kpi_indicator.id %>_final_result" data-toggle="modal">
                          <i class="fa fa-edit"></i>
                        </a>
                      <% end %>
                    <% end %>

                    <span class="measurements_percentages">

                      <% if kpi_indicator.percentage %>
                        <% if manage && kpi_indicator.final_result_method == 3 %>
                          <a href="#<%= kpi_indicator.id %>_final_result" data-toggle="modal" style="color: #000;">
                            <%= number_with_precision(kpi_indicator.percentage, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                          </a>
                        <% else %>
                          <%= number_with_precision(kpi_indicator.percentage, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                        <% end %>

                      <% end %>
                    </span>

                    <span class="measurements_values">

                      <% if kpi_indicator.value %>
                        <% if manage && kpi_indicator.final_result_method == 3 %>
                          <a href="#<%= kpi_indicator.id %>_final_result" data-toggle="modal" style="color: #000;">
                            <%= number_with_precision(kpi_indicator.value, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
                          </a>
                        <% else %>
                          <%= number_with_precision(kpi_indicator.value, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
                        <% end %>
                      <% end %>

                    </span>

                  </nobr>
                  <% if manage && kpi_indicator.final_result_method == 3 %>
                    <div id="<%= kpi_indicator.id %>_final_result" class="modal fade">

                      <%= form_for kpi_indicator, url: kpi_indicator_update_value_path(kpi_indicator), html: {class: 'form-horizontal', role: 'form', method: :post} do |f| %>


                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                              <h4 class="modal-title">Valor del indicador</h4>
                            </div>
                            <div class="modal-body">


                              <%= render 'shared/error_messages', object: f.object %>

                              <div class="form-group <%= field_with_errors f, :value %>">

                                <%= f.label :value, 'Valor', class: 'col-md-3 control-label' %>

                                <div class="col-md-9">

                                  <%= f.text_field :value, autofocus: 'autofocus', class: 'form-control' %>

                                </div>

                              </div>
                            </div>
                            <div class="modal-footer">
                              <%= f.submit 'Guardar', class: 'btn btn-primary' %>
                            </div>
                          </div>
                        </div>


                      <% end %>
                    </div>
                  <% end %>

                </td>

              <% end %>

              </tr>

            <% end %>
            </tbody>
          <% end %>

        </table>


      </div>
    </div>
  </div>

</div>

<div id="container_goals_view_detail">

  <div class="panel panel-default">
    <div class="panel-body">

      <table class="table table-striped table-hover table-bordered" style="font-size: 12px;">

        <% @kpi_sets.each do |kpi_set| %>
          <thead>
          <tr>

            <% n_cols = 4 %>
            <% n_cols += 1 if @kpi_dashboard.allow_subsets? %>
            <% n_cols += 1 if @kpi_dashboard.kpi_field_annual_goal? %>

            <th style="background-color: #dddddd; vertical-align: middle;" colspan="<%= n_cols %>">

              <%= kpi_set.position %>.

              <%= kpi_set.name %>

            </th>

            <th colspan="<%= dt_i.size+1 %>" class="text-right" >
              <% if kpi_set.last_update %>
                            <span class="label label-default" style="font-size: 10px;">
                              Actualizado el <%= (localize kpi_set.last_update, format: :full_date_time) %>
                            </span>
              <% end %>
            </th>

          </tr>
          <tr>

            <% if @kpi_dashboard.allow_subsets?%>

              <th>
                <%= @kpi_dashboard.subset_alias %>
              </th>

            <% end %>
            <th colspan="2">
              <div class="row">
                <div class="col-md-12">
                  Indicador
                </div>
              </div>
            </th>
            <th>
              Peso
            </th>
            <% if @kpi_dashboard.kpi_field_annual_goal? %>
              <th>Meta anual</th>
            <% end %>
            <th>
              Unidad
            </th>
            <% dt_i.each do |fecha| %>
              <th>
                <%= fecha.strftime '%Y' %><br> <%= meses_array[(fecha.strftime '%m').to_i-1][0] %>
              </th>
            <% end %>
            <% if @kpi_dashboard.show_indicator_final_result? %>
              <th>Meta a la fecha</th>
            <% end %>

          </tr>
          </thead>
          <tbody>

          <% kpi_subset_id = nil %>

          <% kpi_indicators = @kpi_dashboard.allow_subsets? ? kpi_set.kpi_indicators_ordered_by_subset : kpi_set.kpi_indicators %>

          <% kpi_indicators.each do |kpi_indicator| %>

            <tr>


              <% if @kpi_dashboard.allow_subsets? %>

                <% if kpi_indicator.kpi_subset && kpi_indicator.kpi_subset.id != kpi_subset_id %>

                  <% kpi_subset_id = kpi_indicator.kpi_subset.id %>

                  <td rowspan="<%= kpi_indicator.kpi_subset.kpi_indicators.size %>">
                    <%= kpi_indicator.kpi_subset.name  %>
                  </td>

                <% end %>

              <% end %>
              <td><%= kpi_set.position %>.<%= kpi_indicator.position %></td>
              <td>
                <%= kpi_indicator.name %>
              </td>
              <td>
                <nobr>
                  <%= number_with_precision(kpi_indicator.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
                </nobr>
              </td>
              <% if @kpi_dashboard.kpi_field_annual_goal? %>
                <td>
                  <nobr>
                    <%= kpi_indicator.opf_annual_goal %>
                  </nobr>
                </td>
              <% end %>
              <td>
                <div class="row">

                  <div class="col-md-6">

                      <%= kpi_indicator.unit %>

                  </div>
                  <div class="col-md-2">
                    <% if kpi_indicator.indicator_type == 1 %>
                      <span class="fa-stack" style="font-size: 8px;">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <span class="fa-stack-1x" style="color: #fff">D</span>
                      </span>
                    <% elsif kpi_indicator.indicator_type == 2 %>
                      <span class="fa-stack" style="font-size: 8px;">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <span class="fa-stack-1x" style="color: #fff;">I</span>
                      </span>
                    <% elsif kpi_indicator.indicator_type == 3 %>
                      <span class="fa-stack" style="font-size: 8px;">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <span class="fa-stack-1x" style="color: #fff;">+/-</span>
                      </span>
                    <% elsif kpi_indicator.indicator_type == 4 %>
                      <span class="fa-stack" style="font-size: 8px;">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <span class="fa-stack-1x" style="color: #fff;">R</span>
                      </span>
                    <% end %>
                  </div>
                </div>



              </td>

              <% dt_i.each do |fecha| %>

                <td>

                  <% kpi_indicator_detail = kpi_indicators_details_hash[kpi_indicator.id.to_s] && kpi_indicators_details_hash[kpi_indicator.id.to_s][fecha.to_s] ? kpi_indicators_details_hash[kpi_indicator.id.to_s][fecha.to_s] : nil %>

                  <% if kpi_indicator_detail %>

                    <%
                       indicator_type = case kpi_indicator.indicator_type
                         when 1
                         'Indicador directo'
                         when 2
                         'Indicador inverso'
                         when 3
                         'Indicador por desviación +/-'
                         when 4
                         'Indicador por rangos'
                       end
                    %>

                    <% indicator_type_4 = '' %>

                    <% if kpi_indicator.indicator_type == 4 %>

                      <% indicator_type_4 = '

                                            <table class="table table-condensed table-bordered">

                                              <tr>
                                                <td width="70%">Meta ('+kpi_indicator.unit+')</td>
                                                <td>Logro</td>
                                              </tr>'
                      %>


                      <% #kpi_indicator_detail.kpi_indicator_ranks.each_with_index do |kpi_indicator_rank, numero_meta| %>
                      <% if kpi_indicator_details_ranks_hash[kpi_indicator.id.to_s] && kpi_indicator_details_ranks_hash[kpi_indicator.id.to_s][kpi_indicator_detail.id.to_s] %>
                        <% kpi_indicator_details_ranks_hash[kpi_indicator.id.to_s][kpi_indicator_detail.id.to_s].each_with_index do |kpi_indicator_rank, numero_meta| %>
                          <% indicator_type_4 += '<tr>' %>
                          <% indicator_type_4 += '<td class="text-right">'+number_with_precision(kpi_indicator_rank.goal, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true).to_s+'</td>' %>
                          <% indicator_type_4 += '<td class="text-right">'+number_with_precision(kpi_indicator_rank.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true).to_s+'</td>' %>
                          <% indicator_type_4 += '</tr>' %>
                        <% end %>
                      <% end %>
                      <% indicator_type_4 += '</table>' %>

                    <% end %>

                    <nobr>
                      <a id="det_rank_goal<%= kpi_indicator_detail.id %>_fecha" title="<%= indicator_type %>" class="mouse_pointer" data-toggle="button"  style="color: #000;" data-content='<%= indicator_type_4 if indicator_type_4%>'>
                        <%= number_with_precision(kpi_indicator_detail.goal, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>

                      </a>


                      <script language="javascript">
                        $('#det_rank_goal<%= kpi_indicator_detail.id %>_fecha').popover({
                          html: true,
                          placement: 'top',
                          trigger: 'click'
                        });
                      </script>

                    </nobr>

                  <% else %>

                    <% kpi_indicator_detail = kpi_indicator.kpi_indicator_details.build %>

                  <% end %>

                  <% if manage %>

                    <% if kpi_indicator_detail.id %>

                      <a href="<%= edit_kpi_indicator_detail_path(kpi_indicator_detail) %>" style="color: #000;" title="Editar meta"><i class="fa fa-pencil-square-o"></i></a>

                    <% else %>

                      <a href="<%= new_kpi_indicator_detail_path(kpi_indicator,fecha) %>" style="color: #000;" title="Editar meta"><i class="fa fa-pencil-square-o"></i></a>

                    <% end %>

                  <% end %>

                </td>
              <% end %>

              <% if @kpi_dashboard.show_indicator_final_result? %>

                <td>

                  <%
                     indicator_type = case kpi_indicator.indicator_type
                                        when 1
                                          'Indicador directo'
                                        when 2
                                          'Indicador inverso'
                                        when 3
                                          'Indicador por desviación +/-'
                                        when 4
                                          'Indicador por rangos'
                                      end
                  %>

                  <% indicator_type_4 = '' %>

                  <% if kpi_indicator.indicator_type == 4 %>

                    <% indicator_type_4 = '

                                            <table class="table table-condensed table-bordered">

                                              <tr>
                                                <td width="70%">Meta ('+kpi_indicator.unit+')</td>
                                                <td>Logro</td>
                                              </tr>'
                    %>


                    <% if kpi_indicator_ranks_hash[kpi_indicator.id.to_s] %>
                      <% kpi_indicator_ranks_hash[kpi_indicator.id.to_s].each_with_index do |kpi_indicator_rank, numero_meta| %>
                        <% indicator_type_4 += '<tr>' %>
                        <% indicator_type_4 += '<td class="text-right">'+number_with_precision(kpi_indicator_rank.goal, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true).to_s+'</td>' %>
                        <% indicator_type_4 += '<td class="text-right">'+number_with_precision(kpi_indicator_rank.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true).to_s+'</td>' %>
                        <% indicator_type_4 += '</tr>' %>
                      <% end %>
                    <% end %>
                    <% indicator_type_4 += '</table>' %>

                  <% end %>

                  <nobr>
                    <a id="det_rank_goal_indicator_<%= kpi_indicator.id %>_fecha" title="<%= indicator_type %>" class="mouse_pointer" data-toggle="button"  style="color: #000;" data-content='<%= indicator_type_4 if indicator_type_4%>'>
                      <%= number_with_precision(kpi_indicator.goal, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
                    </a>


                    <script language="javascript">
                      $('#det_rank_goal_indicator_<%= kpi_indicator.id %>_fecha').popover({
                        html: true,
                        placement: 'top',
                        trigger: 'click'
                      });
                    </script>

                  </nobr>

                  <% if manage && kpi_indicator.final_result_method == 3 %>

                    <a href="<%= kpi_indicator_edit_goal_path(kpi_indicator) %>" style="color: #000;" title="Editar meta"><i class="fa fa-pencil-square-o"></i></a>

                  <% end %>

                </td>

              <% end %>


            </tr>

          <% end %>
          </tbody>
        <% end %>

      </table>


    </div>
  </div>

</div>


