<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de dashboards'.html_safe, kpi_managing_dashboards_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-line-chart"></i>
      <%= @kpi_dashboard.name %>
      <span>> Gestionar invitados </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos del dashboard
        </legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @kpi_dashboard.name %>
          </div>
        </div>

        <br>

        <% if @kpi_dashboard.kpi_dashboard_type_id %>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Tipo de dashboard</strong>
            </div>
            <div class="col-md-9">
              <span class="label label-success">
                <%= @kpi_dashboard.kpi_dashboard_type.name %>
              </span>
            </div>
          </div>

          <br>

        <% end %>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Periodo</strong>
          </div>
          <div class="col-md-9">
            <%= @kpi_dashboard.period %>
          </div>
        </div>

      </div>


    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Invitados con acceso general</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>
            <th>#</th>
            <th>Código</th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th>

            </th>
          </tr>

          </thead>

          <tbody>

          <% @kpi_dashboard.kpi_dashboard_guests_ordered.each_with_index do |kpi_dashboard_guest, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= kpi_dashboard_guest.user.codigo %></td>
              <td><%= kpi_dashboard_guest.user.apellidos %></td>
              <td><%= kpi_dashboard_guest.user.nombre %></td>
              <td><%= link_to 'Eliminar', kpi_managing_dashboard_destroy_kpi_dashboard_guest_path(kpi_dashboard_guest), method: :delete, data: { confirm: '¿Está seguro de eliminar el invitado del dashboard?' } %></td>
            </tr>
          <% end %>

          </tbody>

        </table>


      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Invitados con acceso específico</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>



          </thead>

          <% @kpi_dashboard.kpi_sets.each do |kpi_set| %>

            <% if kpi_set.kpi_set_guests.count > 0 %>

              <thead>
                <tr>
                  <th colspan="2">
                    <%= kpi_set.name %>
                  </th>
                </tr>


                <tr>
                  <th>#</th>
                  <th>Código</th>
                  <th>Apellidos</th>
                  <th>Nombre</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>

                <% kpi_set.kpi_set_guests_ordered.each_with_index do |kpi_set_guest, index| %>
                  <tr>
                    <td><%= index+1 %></td>
                    <td><%= kpi_set_guest.user.codigo %></td>
                    <td><%= kpi_set_guest.user.apellidos %></td>
                    <td><%= kpi_set_guest.user.nombre %></td>
                    <td><%= link_to 'Eliminar', kpi_managing_dashboard_destroy_kpi_set_guest_path(kpi_set_guest), method: :delete, data: { confirm: '¿Está seguro de eliminar el invitado del dashboard?' } %></td>
                  </tr>
                <% end %>

              </tbody>

            <% end %>

          <% end %>

        </table>


      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Añadir invitados
        </legend>

        <%= form_for @user_search, url: kpi_managing_dashboard_manage_guests_path(@kpi_dashboard), method: :post do |f| %>
          <div class="row">

            <div class="col-md-5">
              <label>&nbsp;Apellidos</label>
            </div>

            <div class="col-md-5">
              <label>&nbsp;Nombre</label>
            </div>

            <div class="col-md-2">

            </div>

          </div>
          <div class="row">

            <div class="col-md-5">
              <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>
            </div>

            <div class="col-md-5">
              <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>
            </div>

            <div class="col-md-2">
              <%= f.submit 'Buscar', class: 'btn btn-primary' %>
            </div>

          </div>

        <% end %>

      </div>

    </div>

    <% unless @users_search.nil? %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>
            Añadir invitados
          </legend>

          <table class="table table-striped table-hover table-bordered">

            <thead>

            <tr>
              <th>#</th>
              <th>Código</th>
              <th>Apellidos</th>
              <th>Nombre</th>
              <th>Acceso a</th>
              <th></th>
            </tr>
            </thead>

            <tbody>



            <% kpi_sets_array = @kpi_dashboard.kpi_sets.map {|kpi_set| [kpi_set.name, kpi_set.id] } %>
            <% kpi_sets_array.insert(0,['Acceso general',0]) %>

            <% @users_search.each_with_index do |user, index| %>

              <%= form_for KpiSetGuest.new, url: kpi_managing_dashboard_create_kpi_dashboard_guest_path(@kpi_dashboard, user), method: :post do |f| %>

              <tr>
                <td><%= index+1 %></td>
                <td><%= user.codigo %></td>
                <td><%= user.apellidos %></td>
                <td><%= user.nombre %></td>
                <td>

                  <%= f.select(:kpi_set_id, options_for_select(kpi_sets_array), {}, class: 'form-control') %>

                </td>
                <td>

                  <%= f.submit 'Añadir invitado', class: 'btn btn-primary btn-sm' %>

                </td>
              </tr>

              <% end %>

            <% end %>

            </tbody>

          </table>

        </div>
      </div>

    <% end %>


  </div>
</div>
