<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de dashboards'.html_safe, kpi_managing_dashboards_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-line-chart"></i>
      <%= @kpi_dashboard.name %>
      <span>> Consultar indicadores</span>
    </h1>
  </div>
</div>



<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos del dashboard
        </legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @kpi_dashboard.name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Tipo de dashboard</strong>
          </div>
          <div class="col-md-9">
            <% if @kpi_dashboard.kpi_dashboard_type_id %>

                <%= @kpi_dashboard.kpi_dashboard_type.name %>

            <% else %>

                <span class="label label-default">Ninguno</span>

            <% end %>

          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Periodo</strong>
          </div>
          <div class="col-md-9">
            <%= @kpi_dashboard.period %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">

    <%= render partial: 'show_monthly_mobile',
               locals: {
                   manage: true
               }
    %>

    <script>

      rendered_graphs = true;
      render_charts();


    </script>

  </div>
</div>
