
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de dashboards'.html_safe, kpi_managing_dashboards_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-line-chart"></i>
      <%= @kpi_dashboard.name %>
      <span>> Consultar indicadores </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos del dashboard
        </legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @kpi_dashboard.name %>
          </div>
        </div>

        <br>

        <% if @kpi_dashboard.kpi_dashboard_type_id %>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Tipo de dashboard</strong>
            </div>
            <div class="col-md-9">
              <span class="label label-success">
                <%= @kpi_dashboard.kpi_dashboard_type.name %>
              </span>
            </div>
          </div>

          <br>

        <% end %>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Periodo</strong>
          </div>
          <div class="col-md-9">
            <%= @kpi_dashboard.period %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<% if @kpi_dashboard.csv %>

  <div id="output" style="margin: 30px; padding: 30px; background-color: #fff;"></div>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <!-- external libs from cdnjs -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>

  <!-- PivotTable.js libs from ../dist -->

  <script type="text/javascript" src="/assets/pivot_table/pivot.js"></script>

  <script type="text/javascript" src="/assets/pivot_table/gchart_renderers.js"></script>
  <script type="text/javascript" src="/assets/pivot_table/d3_renderers.js"></script>
  <script type="text/javascript" src="/assets/pivot_table/c3_renderers.js"></script>
  <script type="text/javascript" src="/assets/pivot_table/export_renderers.js"></script>

  <script type="text/javascript" src="/assets/pivot_table/pivot.es.js"></script>

  <script type="text/javascript">
    $(function(){

      var renderers = $.extend(
        $.pivotUtilities.renderers,
        $.pivotUtilities.export_renderers
      );
      for(var k in $.pivotUtilities.gchart_renderers)

      for(var k in $.pivotUtilities.c3_renderers) {

        if(k!='Scatter Chart') {
          renderers["" + k] = $.pivotUtilities.c3_renderers[k];
        }
      }
      archivo_csv = 'https://<%=request.host%>/storage/<%= @company.codigo %>/kpi_dashboards/<%= @kpi_dashboard.id %>.csv'

      //archivo_csv = '/PoblacionPeru.csv'

      <% pt_rows_string = '' %>
      <% pt_cols_string = '' %>

      <% pt_aggregator_field = @kpi_dashboard.pt_aggregator_field ? @kpi_dashboard.pt_aggregator_field.strip.html_safe : '' %>

      <% if @kpi_dashboard.pt_rows %>

        <% @kpi_dashboard.pt_rows.split(',').each_with_index do |pt_row, index_r| %>
          <% pt_rows_string += ',' if index_r > 0 %>
          <% pt_rows_string += '"'+pt_row.strip+'"' %>
        <% end %>

      <% end %>

      <% if @kpi_dashboard.pt_cols %>

        <% @kpi_dashboard.pt_cols.split(',').each_with_index do |pt_col, index_r| %>
          <% pt_cols_string += ',' if index_r > 0 %>
          <% pt_cols_string += '"'+pt_col.strip+'"' %>
        <% end %>

      <% end %>

      $.get(archivo_csv, function(mps) {
        $("#output").pivotUI($.csv.toArrays(mps), {
          renderers: renderers,
          rows: [<%= pt_rows_string.html_safe %>],
          cols: [<%= pt_cols_string.html_safe %>],
          aggregatorName: "<%= @kpi_dashboard.pt_aggregator %>",
          vals: ["<%= pt_aggregator_field %>"]
        }, true, 'es');
      });


    });
  </script>

<% else %>

  <script>
    var rendered_graphs = false;
    $(document.documentElement).css("height", "auto");
  </script>


  <div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row">

          <%= render partial: 'switchs' %>

          <div class="col-md-1 text-center">
            <%= link_to '<img src="/assets/filetypes2/icon_xlsx.png" width="28px">'.html_safe, kpi_managing_dashboard_download_xls_query_path(@kpi_dashboard) %>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <%= render partial: 'show_monthly',
               locals: {
                 manage: false
               }
    %>


  </div>
</div>

<% end %>