<div class="panel panel-default blog_form_item">
  <div class="panel-body">
    <div class="form-group <%= field_with_errors f, :position %>">
      <%= f.label :position, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.number_field :position, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :name %>">
      <%= f.label :name, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :description %>">
      <%= f.label :description, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_area :description, class: 'form-control wysihtml5', :rows => 3 %>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :mandatory %>">
      <%= f.label :mandatory, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :mandatory} %>
      </div>
    </div>
    <% item_type_array = BlogFormItem.item_type_options.each_with_index.map { |item_type, index| [item_type, index] } %>
    <div class="item-type-selector form-group <%= field_with_errors f, :item_type %>">
      <%= f.label :item_type, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.select(:item_type, options_for_select(item_type_array, f.object.item_type), {}, {:onchange => 'toggle_list_selector(this)', class: 'form-control'}) %>
      </div>
    </div>
    <% blog_lists_array = BlogList.where(:active => true).map { |list| [list.name, list.id] } %>
    <div class="list-selector form-group <%= field_with_errors f, :blog_list_id %>">
      <%= f.label :blog_list_id, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.select(:blog_list_id, options_for_select(blog_lists_array, f.object.blog_list_id), {:include_blank => '- Seleccionar -'}, {class: 'form-control'}) %>
      </div>
    </div>
    <div class="pull-right">
      <%= link_to_remove_blog_form_item t('views.blog_forms.form.remove_item'), f %>
    </div>
  </div>


</div>