

<%= form_for @hr_process, html: {class: 'form-horizontal'} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos del proceso de evaluación</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :year %>">

        <%= f.label :year, 'Año', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :year, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :nombre %>">

        <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :nombre, class: 'form-control' %>

        </div>

      </div>


      <div class="form-group">

        <%= f.label :abierto, 'Abierto', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :abierto %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :show_user_profile, 'Mostrar en el perfil de usuario', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :show_user_profile %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :fecha_inicio, 'Fecha de inicio', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <div id="fecha_inicio" class="input-group date">
            <input class="form-control" name="hr_process[fecha_inicio]" data-format="dd/MM/yyyy" type="text" value="<%= @hr_process.fecha_inicio ? @hr_process.fecha_inicio.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y') %>">
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
          </div>

          <script type="text/javascript">


            $('#fecha_inicio').datetimepicker({
              language: 'es',
              pickTime: false
            });

          </script>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :fecha_fin, 'Fecha de fin', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <div id="fecha_fin" class="input-group date">
            <input class="form-control" name="hr_process[fecha_fin]" data-format="dd/MM/yyyy" type="text" value="<%= @hr_process.fecha_fin ? @hr_process.fecha_fin.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y') %>">
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
          </div>

          <script type="text/javascript">


            $('#fecha_fin').datetimepicker({
              language: 'es',
              pickTime: false
            });

          </script>


        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :calib_dimension, 'Calibración', class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <div class="checkbox">
            <label>
              <%= f.check_box :calib_dimension %> a nivel de dimensión (eje X,Y)
            </label>
          </div>
          <em>Si se calibra por dimensión no se puede calibrar por cuadrante</em>
          <br>
          <br>
          <div class="checkbox">
            <label>
              <%= f.check_box :calib_cuadrante %> a nivel de cuadrante (cajas)
            </label>
          </div>
          <em>Si se calibra por cuadrante no se puede calibrar por dimensión</em>
        </div>

      </div>


      <hr>

      <div class="form-group">

        <%= f.label :tiene_paso_feedback, 'Retroalimentación', class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <div class="checkbox">
            <label>
              <%= f.check_box :tiene_paso_feedback %>
            </label>
          </div>
          <em>Como último paso del proceso, el jefe deberá confirmar que ha brindado retroalimentación a su evaluado</em>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :tiene_paso_feedback_modo, 'Modo retroalimentación', class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <div class="checkbox">
            <label>
              <%= f.text_field :tiene_paso_feedback_modo, class:'form-control' %>
            </label>
          </div>
          <em>1 Simple, 2 Completo</em>

        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :step_feedback_confirmation, 'Confirmar retroalimentación', class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <div class="checkbox">
            <label>
              <%= f.check_box :step_feedback_confirmation %>
            </label>
          </div>
          <em>Como último paso del proceso, el evaluado deberá confirmar que ha recibido la retroalimentación por parte de su jefe</em>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :step_feedback_confirmation_mail, 'Enviar email para confirmar retroalimentación', class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <div class="checkbox">
            <label>
              <%= f.check_box :step_feedback_confirmation_mail %>
            </label>
          </div>
          <em>El sistema enviará un email al evaluado avisando que debe confirmar la retroalimentación recibida</em>

        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :muestra_grupos, 'Muestra leyenda de grupos de las dimensiones X,Y', class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <div class="checkbox">
            <label>
              <%= f.check_box :muestra_grupos %> Se mostrará en las pantallas de evaluación, calibración y retroalimentación.
            </label>
          </div>
        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :muestra_cajas, 'Muestra cuadrantes (cajas)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <div class="checkbox">
            <label>
              <%= f.check_box :muestra_cajas %> Se mostrará en las pantallas de evaluación y retroalimentación.
            </label>
          </div>
          <div class="checkbox">
            <label>
              <%= f.check_box :muestra_cuadrantes_calib %> Se mostrará en las pantallas de calibración.
            </label>
          </div>
        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :jefe_ve_autoeval, 'Muestra la autoevaluación al jefe mientras este evalúa a su colaborador', class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <div class="checkbox">
            <label>
              <%= f.check_box :jefe_ve_autoeval %> El jefe verá la autoevaluación de su colaborador mientras lo evalúa.
            </label>
          </div>
        </div>

      </div>

      <div class="form-group">

        <%= f.label :ae_avisa_jefe_email, 'El sistema enviará un correo al jefe cuando su colaborador termine la autoevaluación', class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <div class="checkbox">
            <label>
              <%= f.check_box :ae_avisa_jefe_email %> Sí enviará el email.
            </label>
          </div>
        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :jefe_consulta_resultados, 'Muestra los resultados de la evaluación al jefe', class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <div class="checkbox">
            <label>
              <%= f.check_box :jefe_consulta_resultados %> El jefe podrá consultar los resultados de la evaluación (reportes directos).
            </label>
          </div>
        </div>

      </div>

      <div class="form-group">

        <%= f.label :jefe_consulta_resultados_rec, 'Muestra los resultados (jerárquico) de la evaluación al jefe', class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <div class="checkbox">
            <label>
              <%= f.check_box :jefe_consulta_resultados_rec %> El jefe podrá consultar los resultados de la evaluación (jerárquico).
            </label>
          </div>
        </div>

      </div>

      <div class="form-group">

        <%= f.label :jefe_cons_estado_avance, 'El jefe puede consultar el estado de avance', class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <div class="checkbox">
            <label>
              <%= f.check_box :jefe_cons_estado_avance %> El jefe podrá consultar el estado de avance.
            </label>
          </div>
        </div>

      </div>

      <div class="form-group">

        <%= f.label :jefe_cons_res_final, 'El jefe puede consultar el resultado final', class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <div class="checkbox">
            <label>
              <%= f.check_box :jefe_cons_res_final %> El jefe podrá consultar el resultado final.
            </label>
          </div>
        </div>

      </div>





      <hr>

      <div class="form-group">

        <%= f.label :boss_check_results_while_assess, 'Muestra el estado de avance (resultados globales) de la evaluación al jefe mientras evalúa', class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <div class="checkbox">
            <label>
              <%= f.check_box :boss_check_results_while_assess %> El jefe podrá consultar los resultados de la evaluación mientras evalúa.
            </label>
          </div>
        </div>

      </div>

      <div class="form-group">

        <%= f.label :boss_check_final_results_while_assess, 'Muestra los resultados finales detallados de la evaluación al jefe mientras evalúa', class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <div class="checkbox">
            <label>
              <%= f.check_box :boss_check_final_results_while_assess %> El jefe podrá consultar los resultados detallados de la evaluación mientras evalúa.
            </label>
          </div>
        </div>

      </div>

      <div class="form-group">

        <%= f.label :message_boss_while_assess, 'Si el check anterior está activo, muestra este mensaje al jefe mientras evalúa', class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <%= f.text_area :message_boss_while_assess, rows: '5', class: 'form-control' %>

          <script type="text/javascript">
            $('#hr_process_message_boss_while_assess').wysihtml5({
              "font-styles": false,
              "emphasis": true,
              "lists": true,
              "html": true,
              "link": false,
              "image": false,
              "color": false
            });
          </script>
        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :boss_check_final_report_on_feedback, 'El jefe podrá consultar el reporte final desde la pantalla de retroalimentación', class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <div class="checkbox">
            <label>
              <%= f.check_box :boss_check_final_report_on_feedback %> El jefe podrá consultar el reporte final desde la pantalla de retroalimentación.
            </label>
          </div>
        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :show_quien_evaluo, 'Muestra los nombres de los evaluadores en la consulta de resultados', class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <div class="checkbox">
            <label>
              <%= f.check_box :show_quien_evaluo %> Se mostrarán los nombres.
            </label>
          </div>
        </div>

      </div>


      <hr>



      <div class="form-group">

        <%= f.label :alias_jefe, 'Alias del jefe', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_jefe, class: 'form-control' %>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :alias_jefe_plu, 'Alias del jefe (plural)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_jefe_plu, class: 'form-control' %>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :alias_jefe_inverso, 'Alias del evaluado por el jefe', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_jefe_inverso, class: 'form-control' %>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :alias_jefe_inverso_plu, 'Alias del evaluado por el jefe (plural)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_jefe_inverso_plu, class: 'form-control' %>


        </div>

      </div>


      <hr>



      <div class="form-group">

        <%= f.label :alias_par, 'Alias del par', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_par, class: 'form-control' %>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :alias_par_plu, 'Alias del par (plural)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_par_plu, class: 'form-control' %>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :alias_par_inverso, 'Alias del evaluado por el par', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_par_inverso, class: 'form-control' %>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :alias_par_inverso_plu, 'Alias del evaluado por el par (plural)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_par_inverso_plu, class: 'form-control' %>


        </div>

      </div>

      <hr>



      <div class="form-group">

        <%= f.label :alias_sub, 'Alias del subordinado', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_sub, class: 'form-control' %>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :alias_sub_plu, 'Alias del subordinado (plural)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_sub_plu, class: 'form-control' %>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :alias_sub_inverso, 'Alias del evaluado por el subordinado', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_sub_inverso, class: 'form-control' %>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :alias_sub_inverso_plu, 'Alias del evaluado por el subordinado (plural)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_sub_inverso_plu, class: 'form-control' %>


        </div>

      </div>

      <hr>



      <div class="form-group">

        <%= f.label :alias_cli, 'Alias del cliente', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_cli, class: 'form-control' %>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :alias_cli_plu, 'Alias del cliente (plural)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_cli_plu, class: 'form-control' %>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :alias_cli_inverso, 'Alias del evaluado por el cliente', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_cli_inverso, class: 'form-control' %>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :alias_cli_inverso_plu, 'Alias del evaluado por el cliente (plural)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_cli_inverso_plu, class: 'form-control' %>


        </div>

      </div>

      <hr>



      <div class="form-group">

        <%= f.label :alias_prov, 'Alias del proveedor', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_prov, class: 'form-control' %>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :alias_prov_plu, 'Alias del proveedor (plural)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_prov_plu, class: 'form-control' %>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :alias_prov_inverso, 'Alias del evaluado por el proveedor', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_prov_inverso, class: 'form-control' %>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :alias_prov_inverso_plu, 'Alias del evaluado por el proveedor (plural)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :alias_prov_inverso_plu, class: 'form-control' %>


        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :positions_final_results_report, 'Posiciones de los elementos en el reporte final', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_area :positions_final_results_report, class: 'form-control', rows: '3' %>
          <br>
          resumen,jefe,par,sub,cli,prov,auto,todos,detalle_evals,detalle_evals_sp,discretos,manual_evals


        </div>

      </div>
      <hr>
      <div class="form-group">

        <%= f.label :label_1_t, 'Label 1 (título)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :label_1_t, class: 'form-control' %>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :label_1_c, 'Label 1 (contenido)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_area :label_1_c, class: 'form-control', rows: '6' %>

          <script type="text/javascript">
            $('#hr_process_label_1_c').wysihtml5({
              "font-styles": false,
              "emphasis": true,
              "lists": true,
              "html": true,
              "link": false,
              "image": false,
              "color": false
            });
          </script>



        </div>

      </div>
      <hr>
      <div class="form-group">

        <%= f.label :label_2_t, 'Label 2 (título)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :label_2_t, class: 'form-control' %>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :label_2_c, 'Label 2 (contenido)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_area :label_2_c, class: 'form-control', rows: '6' %>

          <script type="text/javascript">
            $('#hr_process_label_2_c').wysihtml5({
              "font-styles": false,
              "emphasis": true,
              "lists": true,
              "html": true,
              "link": false,
              "image": false,
              "color": false
            });
          </script>



        </div>

      </div>
      <hr>
      <div class="form-group">

        <%= f.label :label_3_t, 'Label 3 (título)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :label_3_t, class: 'form-control' %>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :label_3_c, 'Label 3 (contenido)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_area :label_3_c, class: 'form-control', rows: '6' %>

          <script type="text/javascript">
            $('#hr_process_label_3_c').wysihtml5({
              "font-styles": false,
              "emphasis": true,
              "lists": true,
              "html": true,
              "link": false,
              "image": false,
              "color": false
            });
          </script>



        </div>

      </div>


    </div>




    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

<% end %>
