<div class="row">
<div class="col-md-6">

<div class="panel panel-default">
<div class="panel-body">

<legend>
  Datos del proceso
</legend>

<div class="row">
  <div class="col-md-3">
    <strong>Año</strong>
  </div>
  <div class="col-md-9">
    <%= @hr_process.year %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <strong>Nombre</strong>
  </div>
  <div class="col-md-9">
    <%= @hr_process.nombre %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <strong>Abierto</strong>
  </div>
  <div class="col-md-9">
    <%= '<i class="fa fa-check"></i>'.html_safe if @hr_process.abierto %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <strong>Mostrar en el perfil de usuario</strong>
  </div>
  <div class="col-md-9">
    <%= '<i class="fa fa-check"></i>'.html_safe if @hr_process.show_user_profile %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <strong>Fecha inicio</strong>
  </div>
  <div class="col-md-9">
    <%= (localize @hr_process.fecha_inicio, format: :day_snmonth_syear) %>

    <% if lms_time > @hr_process.fecha_inicio %>

                  <span class="label label-danger">Hace
                    <%= distance_of_time_in_words(@hr_process.fecha_inicio, lms_time) %>
                  </span>

    <% else %>
                  <span class="label label-primary">En
                    <%= distance_of_time_in_words(lms_time, @hr_process.fecha_inicio) %>
                  </span>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <strong>Fecha fin</strong>
  </div>
  <div class="col-md-9">
    <%= (localize @hr_process.fecha_fin, format: :day_snmonth_syear) %>

    <% if lms_time > @hr_process.fecha_fin %>

                  <span class="label label-danger">Hace
                    <%= distance_of_time_in_words(@hr_process.fecha_fin, lms_time) %>
                  </span>

    <% else %>
                  <span class="label label-primary">En
                    <%= distance_of_time_in_words(lms_time, @hr_process.fecha_fin) %>
                  </span>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <strong>Plantilla</strong>
  </div>
  <div class="col-md-9">
    <% if @hr_process.hr_process_template %>
      <%= @hr_process.hr_process_template.nombre %>
    <% else %>
      <label class="label label-default">No definida</label>
    <% end %>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-3">
    <strong>Calibración</strong>
  </div>
  <div class="col-md-9">
    <% if @hr_process.calib_dimension %>
      <i class="fa fa-check"></i>
    <% else %>
      <i class="fa fa-times"></i>
    <% end %>
    a nivel de dimensión (eje X,Y)
    <br>
    <br>
    <% if @hr_process.calib_cuadrante %>
      <i class="fa fa-check"></i>
    <% else %>
      <i class="fa fa-times"></i>
    <% end %>
    a nivel de cuadrante (cajas)
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-3">
    <strong>Retroalimentación</strong>
  </div>
  <div class="col-md-9">
    <%if @hr_process.tiene_paso_feedback %>
      <i class="fa fa-check"></i> Sí tiene paso de retroalimentación.
      <br>
      <em>Como último paso del proceso, el jefe deberá confirmar que ha brindado retroalimentación a su evaluado</em>
    <% else %>
      <i class="fa fa-times"></i> No
    <% end %>

  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <strong>Modo retroalimentación</strong>
  </div>
  <div class="col-md-9">
    <% if @hr_process.tiene_paso_feedback %>

      <% if @hr_process.tiene_paso_feedback_modo == 1%>
        Mensaje simple
      <% else %>
        Mensaje estructurado (completo)
      <% end %>
    <% end %>

  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <strong>Confirmar retroalimentación</strong>
  </div>
  <div class="col-md-9">
    <%if @hr_process.step_feedback_confirmation? %>
      <i class="fa fa-check"></i> Sí tiene paso de confirmación de retroalimentación.
      <br>
      <em>Como último paso del proceso, el evaluado deberá confirmar que ha recibido la retroalimentación de su jefe</em>
    <% else %>
      <i class="fa fa-times"></i> No
    <% end %>

  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <strong>Enviar email para confirmar retroalimentación</strong>
  </div>
  <div class="col-md-9">
    <%if @hr_process.step_feedback_confirmation_mail? %>
      <i class="fa fa-check"></i> Se enviará mail al evaluado.
      <br>
      <em>El sistema enviará un email al evaluado avisando que debe confirmar la retroalimentación recibida</em>
    <% else %>
      <i class="fa fa-times"></i> No
    <% end %>

  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <strong>Muestra leyenda de grupos de las dimensiones X,Y</strong>
  </div>
  <div class="col-md-9">
    <% if @hr_process.muestra_grupos %>
      <i class="fa fa-check"></i> Se mostrará en las pantallas de evaluación, calibración y retroalimentación.
    <% else %>
      <i class="fa fa-times"></i> No
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <strong>Muestra cuadrantes (cajas)</strong>
  </div>
  <div class="col-md-9">

    <% if @hr_process.muestra_cajas %>
      <i class="fa fa-check"></i> Se mostrará en las pantallas de evaluación y retroalimentación.
    <% else %>
      <i class="fa fa-times"></i> No se mostrará en las pantallas de evaluación y retroalimentación.
    <% end %>
    <br>
    <br>
    <% if @hr_process.muestra_cuadrantes_calib %>
      <i class="fa fa-check"></i> Se mostrará en las pantallas de calibración.
    <% else %>
      <i class="fa fa-times"></i> No se mostrará en las pantallas de calibración.
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <strong>Muestra la autoevaluación al jefe mientras este evalúa a su colaborador</strong>
  </div>
  <div class="col-md-9">

    <% if @hr_process.jefe_ve_autoeval %>
      <i class="fa fa-check"></i> El jefe sí verá la autoevaluación de su colaborador mientras lo evalúa.
    <% else %>
      <i class="fa fa-times"></i> El jefe no verá la autoevaluación de su colaborador mientras lo evalúa.
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <strong>El sistema enviará un correo al jefe cuando su colaborador termine la autoevaluación</strong>
  </div>
  <div class="col-md-9">

    <% if @hr_process.ae_avisa_jefe_email %>
      <i class="fa fa-check"></i> Sí enviará el email.
    <% else %>
      <i class="fa fa-times"></i> No enviará el email.
    <% end %>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-3">
    <strong>El jefe podrá consultar los resultados (reportes directos) de la evaluación (Reportes)</strong>
  </div>
  <div class="col-md-9">

    <% if @hr_process.jefe_consulta_resultados %>
      <i class="fa fa-check"></i> El jefe podrá consultar los resultados de la evaluación (reportes directos).
    <% else %>
      <i class="fa fa-times"></i> El jefe no podrá consultar los resultados de la evaluación (reportes directos).
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <strong>El jefe podrá consultar los resultados (jerárquico) de la evaluación (Reportes)</strong>
  </div>
  <div class="col-md-9">

    <% if @hr_process.jefe_consulta_resultados_rec %>
      <i class="fa fa-check"></i> El jefe podrá consultar los resultados de la evaluación (jerárquico).
    <% else %>
      <i class="fa fa-times"></i> El jefe no podrá consultar los resultados de la evaluación (jerárquico).
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <strong>Jefe consultará estado de avance</strong>
  </div>
  <div class="col-md-9">

    <% if @hr_process.jefe_cons_estado_avance %>
      <i class="fa fa-check"></i>
    <% else %>
      <i class="fa fa-times"></i>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <strong>Jefe consultará resultado final</strong>
  </div>
  <div class="col-md-9">

    <% if @hr_process.jefe_cons_res_final %>
      <i class="fa fa-check"></i>
    <% else %>
      <i class="fa fa-times"></i>
    <% end %>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-3">
    <strong>El jefe podrá consultar estado de avance (resultados globales) de la evaluación (Interfaz de evaluación)</strong>
  </div>
  <div class="col-md-9">

    <% if @hr_process.boss_check_results_while_assess %>
      <i class="fa fa-check"></i> El jefe podrá consultar el estado de avance de la evaluación mientras evalúa.
    <% else %>
      <i class="fa fa-times"></i> El jefe no podrá consultar el estado de avance de la evaluación mientras evalúa.
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <strong>El jefe podrá consultar los resultados finales detallados de la evaluación (Interfaz de evaluación)</strong>
  </div>
  <div class="col-md-9">

    <% if @hr_process.boss_check_final_results_while_assess %>
      <i class="fa fa-check"></i> El jefe podrá consultar los resultados finales detallados de la evaluación mientras evalúa.
    <% else %>
      <i class="fa fa-times"></i> El jefe no podrá consultar los resultados finales detallados de la evaluación mientras evalúa.
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <strong>Si el check anterior está activo, muestra este mensaje al jefe mientras evalúa</strong>
  </div>
  <div class="col-md-9">

    <% if @hr_process.boss_check_final_results_while_assess %>
      <%= @hr_process.message_boss_while_assess.html_safe if @hr_process.message_boss_while_assess %>
    <% end %>
  </div>
</div>


<hr>
<div class="row">
  <div class="col-md-3">
    <strong>El jefe podrá consultar el reporte final desde la pantalla de retroalimentación</strong>
  </div>
  <div class="col-md-9">

    <% if @hr_process.boss_check_final_report_on_feedback? %>
      <i class="fa fa-check"></i> El jefe podrá consultar el reporte final desde la pantalla de retroalimentación.
    <% else %>
      <i class="fa fa-times"></i> El jefe no podrá consultar el reporte final desde la pantalla de retroalimentación.
    <% end %>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-3">
    <strong>Muestra los nombres de los evaluadores en la consulta de resultados</strong>
  </div>
  <div class="col-md-9">

    <% if @hr_process.show_quien_evaluo %>
      <i class="fa fa-check"></i> Se mostrarán los nombres.
    <% else %>
      <i class="fa fa-times"></i> Se ocultarán los nombres.
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <strong>Posiciones de los elementos en el reporte final</strong>
  </div>
  <div class="col-md-9">
    <%= @hr_process.positions_final_results_report %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <strong>Label 1 (título)</strong>
  </div>
  <div class="col-md-9">
    <%= @hr_process.label_1_t %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <strong>Label 1 (contenido)</strong>
  </div>
  <div class="col-md-9">
    <%= @hr_process.label_1_c.html_safe if @hr_process.label_1_c %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <strong>Label 2 (título)</strong>
  </div>
  <div class="col-md-9">
    <%= @hr_process.label_2_t %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <strong>Label 2 (contenido)</strong>
  </div>
  <div class="col-md-9">
    <%= @hr_process.label_2_c.html_safe if @hr_process.label_2_c %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <strong>Label 3 (título)</strong>
  </div>
  <div class="col-md-9">
    <%= @hr_process.label_3_t %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <strong>Label 3 (contenido)</strong>
  </div>
  <div class="col-md-9">
    <%= @hr_process.label_3_c.html_safe if @hr_process.label_3_c %>
  </div>
</div>
</div>
<div class="panel-footer clearfix">
  <div class="pull-right">

    <%= link_to 'Editar', edit_hr_process_path(@hr_process) %>
    &nbsp;&nbsp;
    <%= link_to 'Definir plantilla', edit_template_hr_process_path(@hr_process) %>

  </div>
</div>
</div>
</div>

<div class="col-md-6">

  <div class="panel panel-default">
    <div class="panel-body">
      <legend>
        Participantes
      </legend>

      <div class="col-md-9">
        <%= @hr_process.hr_process_users.length %>
        <%= link_to 'Definir', hr_process_users_path(@hr_process) %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">

      <legend>
        Gestores
      </legend>

      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th>#</th>
          <th>Código</th>
          <th>Apellidos</th>
          <th>Nombres</th>
          <th><%= link_to 'Agregar nuevo gestor', hr_process_managers_search_manager_path(@hr_process) %></th>
        </tr>
        </thead>

        <tbody>

        <% @hr_process_managers.each_with_index do |hr_process_manager, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= hr_process_manager.user.codigo %></td>
            <td><%= hr_process_manager.user.apellidos %></td>
            <td><%= hr_process_manager.user.nombre %></td>
            <td><%= link_to 'Eliminar', hr_process_manager, method: :delete, data: { confirm: '¿Está seguro de eliminar al gestor?' } %></td>

          </tr>
        <% end %>

        </tbody>

      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>
        Niveles
      </legend>

      <table class="table table-striped table-hover table-bordered">

        <thead>

        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Participantes</th>
          <th colspan="4">

            <%= link_to 'Crear un nuevo nivel', new_hr_process_level_path(@hr_process) %>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <%= link_to 'Crear niveles con puestos', new_hr_process_level_from_j_path(@hr_process), data: { confirm: '¿Estás seguro?' } %>

          </th>
        </tr>

        </thead>

        <tbody>

        <% @hr_process_levels.each_with_index do |hr_process_level, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= hr_process_level.nombre %></td>
            <td><%= hr_process_level.hr_process_users.length %></td>

            <td>
              <%= link_to 'Editar', edit_hr_process_level_path(hr_process_level) %>
            </td>
            <td>
              <% if hr_process_level.hr_process_users.length == 0 %>
                <%= link_to 'Eliminar', delete_hr_process_level_path(hr_process_level) %>
              <% end %>
            </td>
          </tr>

        <% end %>

        </tbody>

      </table>
    </div>
  </div>

</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">

<div class="panel panel-default">
<div class="panel-body">

<legend>
  Evaluaciones
</legend>


<ul class="nav nav-pills nav-pills-<%= $current_domain %>" style="display: inline-block;">

  <% @hr_process_evaluations.each_with_index do |hr_process_evaluation, index| %>

    <li class="<%= 'active' if index == 0 %>">
      <a href="#tab_evaluation_<%= hr_process_evaluation.id %>" data-toggle="tab"><%= hr_process_evaluation.orden %>. <%= hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.nombre %></a>

    </li>

  <% end %>


</ul>


<div class="tab-content">

<% @hr_process_evaluations.each_with_index do |hr_process_evaluation, index_e| %>
  <div class="tab-pane <%= 'active' if index_e == 0 %>" id="tab_evaluation_<%= hr_process_evaluation.id %>">

  <% carga_manual = false %>

  <div class="panel panel-default">
  <div class="panel-body">
  <legend><%= hr_process_evaluation.orden %>. <%= hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.nombre %>: Configuración </legend>

  <div class="row">
    <div class="col-md-3 text-right">
      <strong>Dimensión</strong>
    </div>
    <div class="col-md-9">
      <%= hr_process_evaluation.hr_process_dimension_e.hr_process_dimension.nombre %>
      (Eje <%= hr_process_evaluation.hr_process_dimension_e.hr_process_dimension.eje %>)
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-3 text-right">
      <strong>% máximo permitido de preguntas contestadas con no aplica (-1)</strong>
    </div>
    <div class="col-md-9">
      <% if hr_process_evaluation.tope_no_aplica %>

        <%= hr_process_evaluation.tope_no_aplica %> %


      <% else %>

        No existe límite

      <% end %>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-3 text-right">
      <strong>Puntos necesarios para obtener 100%</strong>
    </div>
    <div class="col-md-9">
      <% if hr_process_evaluation.cien_x_cien_puntos %>

        <%= hr_process_evaluation.cien_x_cien_puntos %>

        puntos. Sí es posible obtener más de 100%

      <% else %>

        Puntos máximos posibles. Nunca se puede obtener más de 100%

      <% end %>
    </div>
  </div>

  <% if hr_process_evaluation.hr_process_dimension_e.eval_jefe %>
    <br>
    <div class="row">
      <div class="col-md-3 text-right">
        <strong>Evaluación del jefe</strong>
      </div>
      <div class="col-md-9">
        Desde:
        <% if hr_process_evaluation.fecha_inicio_eval_jefe %>
          <%= (localize hr_process_evaluation.fecha_inicio_eval_jefe, format: :day_snmonth_year) %>

          <% if lms_time >= hr_process_evaluation.fecha_inicio_eval_jefe %>

                            <span class="label label-danger">Hace
                              <%= distance_of_time_in_words(hr_process_evaluation.fecha_inicio_eval_jefe, lms_time) %>
                            </span>

          <% else %>
                            <span class="label label-primary">En
                              <%= distance_of_time_in_words(lms_time, hr_process_evaluation.fecha_inicio_eval_jefe) %>
                            </span>
          <% end %>
        <% else %>
          <label class="label label-default">No definida</label>
        <% end %>
        &nbsp; -
        Hasta:
        <% if hr_process_evaluation.fecha_fin_eval_jefe %>
          <%= (localize hr_process_evaluation.fecha_fin_eval_jefe, format: :day_snmonth_year) %>

          <% if lms_time > hr_process_evaluation.fecha_fin_eval_jefe %>

                            <span class="label label-danger">Hace
                              <%= distance_of_time_in_words(hr_process_evaluation.fecha_fin_eval_jefe, lms_time) %>
                            </span>

          <% else %>
                            <span class="label label-primary">En
                              <%= distance_of_time_in_words(lms_time, hr_process_evaluation.fecha_fin_eval_jefe) %>
                            </span>
          <% end %>
        <% else %>
          <label class="label label-default">No definida</label>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if hr_process_evaluation.hr_process_dimension_e.eval_auto %>
    <br>
    <div class="row">
      <div class="col-md-3 text-right">
        <strong>Autoevaluación</strong>
      </div>
      <div class="col-md-9">
        Desde
        <% if hr_process_evaluation.fecha_inicio_eval_auto %>
          <%= (localize hr_process_evaluation.fecha_inicio_eval_auto, format: :day_snmonth_year) %>

          <% if lms_time >= hr_process_evaluation.fecha_inicio_eval_auto %>

                            <span class="label label-danger">Hace
                              <%= distance_of_time_in_words(hr_process_evaluation.fecha_inicio_eval_auto, lms_time) %>
                            </span>

          <% else %>
                            <span class="label label-primary">En
                              <%= distance_of_time_in_words(lms_time, hr_process_evaluation.fecha_inicio_eval_auto) %>
                            </span>
          <% end %>
        <% else %>
          <label class="label label-default">No definida</label>
        <% end %>

        &nbsp; -

        Hasta
        <% if hr_process_evaluation.fecha_fin_eval_auto %>
          <%= (localize hr_process_evaluation.fecha_fin_eval_auto, format: :day_snmonth_year) %>

          <% if lms_time > hr_process_evaluation.fecha_fin_eval_auto %>

                            <span class="label label-danger">Hace
                              <%= distance_of_time_in_words(hr_process_evaluation.fecha_fin_eval_auto, lms_time) %>
                            </span>

          <% else %>
                            <span class="label label-primary">En
                              <%= distance_of_time_in_words(lms_time, hr_process_evaluation.fecha_fin_eval_auto) %>
                            </span>
          <% end %>
        <% else %>
          <label class="label label-default">No definida</label>
        <% end %>
      </div>
    </div>

  <% end %>



  <% if hr_process_evaluation.hr_process_dimension_e.eval_sub %>
    <br>
    <div class="row">
      <div class="col-md-3 text-right">
        <strong>Evaluación de subordinados</strong>
      </div>
      <div class="col-md-9">
        Desde
        <% if hr_process_evaluation.fecha_inicio_eval_sub %>
          <%= (localize hr_process_evaluation.fecha_inicio_eval_sub, format: :day_snmonth_year) %>

          <% if lms_time >= hr_process_evaluation.fecha_inicio_eval_sub %>

                            <span class="label label-danger">Hace
                              <%= distance_of_time_in_words(hr_process_evaluation.fecha_inicio_eval_sub, lms_time) %>
                            </span>

          <% else %>
                            <span class="label label-primary">En
                              <%= distance_of_time_in_words(lms_time, hr_process_evaluation.fecha_inicio_eval_sub) %>
                            </span>
          <% end %>
        <% else %>
          <label class="label label-default">No definida</label>
        <% end %>
        &nbsp; -
        Hasta
        <% if hr_process_evaluation.fecha_fin_eval_sub %>
          <%= (localize hr_process_evaluation.fecha_fin_eval_sub, format: :day_snmonth_year) %>

          <% if lms_time > hr_process_evaluation.fecha_fin_eval_sub %>

                            <span class="label label-danger">Hace
                              <%= distance_of_time_in_words(hr_process_evaluation.fecha_fin_eval_sub, lms_time) %>
                            </span>

          <% else %>
                            <span class="label label-primary">En
                              <%= distance_of_time_in_words(lms_time, hr_process_evaluation.fecha_fin_eval_sub) %>
                            </span>
          <% end %>
        <% else %>
          <label class="label label-default">No definida</label>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if hr_process_evaluation.hr_process_dimension_e.eval_par %>
    <br>
    <div class="row">
      <div class="col-md-3 text-right">
        <strong>Evaluación de pares</strong>
      </div>
      <div class="col-md-9">
        Desde
        <% if hr_process_evaluation.fecha_inicio_eval_par %>
          <%= (localize hr_process_evaluation.fecha_inicio_eval_par, format: :day_snmonth_year) %>

          <% if lms_time >= hr_process_evaluation.fecha_inicio_eval_par %>

                            <span class="label label-danger">Hace
                              <%= distance_of_time_in_words(hr_process_evaluation.fecha_inicio_eval_par, lms_time) %>
                            </span>

          <% else %>
                            <span class="label label-primary">En
                              <%= distance_of_time_in_words(lms_time, hr_process_evaluation.fecha_inicio_eval_par) %>
                            </span>
          <% end %>
        <% else %>
          <label class="label label-default">No definida</label>
        <% end %>
        &nbsp; -
        Hasta
        <% if hr_process_evaluation.fecha_fin_eval_par %>
          <%= (localize hr_process_evaluation.fecha_fin_eval_par, format: :day_snmonth_year) %>

          <% if lms_time > hr_process_evaluation.fecha_fin_eval_par %>

                            <span class="label label-danger">Hace
                              <%= distance_of_time_in_words(hr_process_evaluation.fecha_fin_eval_par, lms_time) %>
                            </span>

          <% else %>
                            <span class="label label-primary">En
                              <%= distance_of_time_in_words(lms_time, hr_process_evaluation.fecha_fin_eval_par) %>
                            </span>
          <% end %>
        <% else %>
          <label class="label label-default">No definida</label>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if hr_process_evaluation.hr_process_dimension_e.eval_cli %>
    <br>
    <div class="row">
      <div class="col-md-3 text-right">
        <strong>Evaluación de clientes</strong>
      </div>
      <div class="col-md-9">
        Desde
        <% if hr_process_evaluation.fecha_inicio_eval_cli %>
          <%= (localize hr_process_evaluation.fecha_inicio_eval_cli, format: :day_snmonth_year) %>

          <% if lms_time >= hr_process_evaluation.fecha_inicio_eval_cli %>

                            <span class="label label-danger">Hace
                              <%= distance_of_time_in_words(hr_process_evaluation.fecha_inicio_eval_cli, lms_time) %>
                            </span>

          <% else %>
                            <span class="label label-primary">En
                              <%= distance_of_time_in_words(lms_time, hr_process_evaluation.fecha_inicio_eval_cli) %>
                            </span>
          <% end %>
        <% else %>
          <label class="label label-default">No definida</label>
        <% end %>
        &nbsp; -
        Hasta
        <% if hr_process_evaluation.fecha_fin_eval_cli %>
          <%= (localize hr_process_evaluation.fecha_fin_eval_cli, format: :day_snmonth_year) %>

          <% if lms_time > hr_process_evaluation.fecha_fin_eval_cli %>

                            <span class="label label-danger">Hace
                              <%= distance_of_time_in_words(hr_process_evaluation.fecha_fin_eval_cli, lms_time) %>
                            </span>

          <% else %>
                            <span class="label label-primary">En
                              <%= distance_of_time_in_words(lms_time, hr_process_evaluation.fecha_fin_eval_cli) %>
                            </span>
          <% end %>
        <% else %>
          <label class="label label-default">No definida</label>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if hr_process_evaluation.hr_process_dimension_e.eval_prov %>
    <br>
    <div class="row">
      <div class="col-md-3 text-right">
        <strong>Evaluación de proveedores</strong>
      </div>
      <div class="col-md-9">
        Desde
        <% if hr_process_evaluation.fecha_inicio_eval_prov %>
          <%= (localize hr_process_evaluation.fecha_inicio_eval_prov, format: :day_snmonth_year) %>

          <% if lms_time >= hr_process_evaluation.fecha_inicio_eval_prov %>

                            <span class="label label-danger">Hace
                              <%= distance_of_time_in_words(hr_process_evaluation.fecha_inicio_eval_prov, lms_time) %>
                            </span>

          <% else %>
                            <span class="label label-primary">En
                              <%= distance_of_time_in_words(lms_time, hr_process_evaluation.fecha_inicio_eval_prov) %>
                            </span>
          <% end %>
        <% else %>
          <label class="label label-default">No definida</label>
        <% end %>
        &nbsp; -
        Hasta
        <% if hr_process_evaluation.fecha_fin_eval_prov %>
          <%= (localize hr_process_evaluation.fecha_fin_eval_prov, format: :day_snmonth_year) %>

          <% if lms_time > hr_process_evaluation.fecha_fin_eval_prov %>

                            <span class="label label-danger">Hace
                              <%= distance_of_time_in_words(hr_process_evaluation.fecha_fin_eval_prov, lms_time) %>
                            </span>

          <% else %>
                            <span class="label label-primary">En
                              <%= distance_of_time_in_words(lms_time, hr_process_evaluation.fecha_fin_eval_prov) %>
                            </span>
          <% end %>
        <% else %>
          <label class="label label-default">No definida</label>
        <% end %>
      </div>
    </div>
  <% end %>

  <br>
  <div class="row">
    <div class="col-md-3 text-right">
      <strong>Visualización de alternativas</strong>
    </div>
    <div class="col-md-9">
      <% if hr_process_evaluation.visualizacion_alternativas == 1 %>
        Radio buttons (filas)<br>
        <input type="radio"> Alternativa 1<br>
        <input type="radio"> Alternativa 2<br>
        ...
      <% elsif hr_process_evaluation.visualizacion_alternativas == 2 %>
        Radio buttons (columnas)<br>
        <input type="radio"> Alternativa 1 <input type="radio"> Alternativa 2 ...
      <% elsif hr_process_evaluation.visualizacion_alternativas == 3 %>
        Combo box / Select<br>
        <select><option>Alternativa 1</option><option>Alternativa 2</option><option>...</option></select>
      <% end %>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-3 text-right">
      <strong>Mostrar preguntas de nivel 1</strong>
    </div>
    <div class="col-md-9">
      <% if hr_process_evaluation.show_preg_nivel_1 %>
        Sí se mostraran las preguntas de nivel 1:

      <% else %>
        No se mostraran las preguntas de nivel 1. Sólo se mostraran las de nivel 2, de esta
        forma parecerá que las de nivel 2 no están agrupadas
      <% end %>
    </div>
  </div>



  </div>

  <div class="panel-footer clearfix">
    <div class="pull-right">

      <%= link_to 'Configurar', edit_hr_process_evaluation_path(hr_process_evaluation) %>

    </div>
  </div>

  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <legend><%= hr_process_evaluation.orden %>. <%= hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.nombre %>: Estructura </legend>

      <ul class="nav nav-tabs">

        <% hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.each_with_index do |hr_evaluation_type_element, index| %>

          <li class="<%= 'active' if index == 0 %>">
            <a href="#tab_tipo_preguntas_<%= hr_process_evaluation.id %>_<%= hr_evaluation_type_element.id %>" data-toggle="tab">

              <% if hr_evaluation_type_element.nivel == 1 && !hr_process_evaluation.show_preg_nivel_1 %>
                <strike>
              <% end %>
              <%= hr_evaluation_type_element.nivel %>. <%= hr_evaluation_type_element.nombre %>
              <% if hr_evaluation_type_element.nivel == 1 && !hr_process_evaluation.show_preg_nivel_1 %>
                </strike>
              <% end %>

              <% if hr_evaluation_type_element.nivel == 1 && !hr_process_evaluation.show_preg_nivel_1 %>
                (No se mostrarán)
              <% end %>

            </a>
          </li>

        <% end %>


      </ul>

      <div class="tab-content">

        <% hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.each_with_index do |hr_evaluation_type_element, index| %>
          <div class="tab-pane <%= 'active' if index == 0 %>" id="tab_tipo_preguntas_<%= hr_process_evaluation.id %>_<%= hr_evaluation_type_element.id %>">
            <br>
            <div class="row">
              <div class="col-md-4">
                El <strong>registro</strong> será realizado

                <% if hr_evaluation_type_element.carga_manual %>
                  de forma <strong>manual</strong>
                  por el jefe<% if hr_evaluation_type_element.evaluacion_colaborativa %> y por el mismo colaborador<% end %>.

                  <% if hr_evaluation_type_element.tiene_clasificacion %>
                    Existirá una <strong>clasificación</strong> denominada
                    <strong>
                      <%= hr_evaluation_type_element.nombre_clasificacion %>
                    </strong>
                  <% end %>

                  <% carga_manual = true %>

                <% else %>
                  por el <strong>administrador</strong> del sistema.
                <% end %>

              </div>
              <div class="col-md-4">
                <% if hr_evaluation_type_element.cantidad_maxima > 0 %>
                  Se podrán registrar un <strong>máximo de
                <%= hr_evaluation_type_element.cantidad_maxima %>
              </strong>
                  elementos.
                <% else %>
                  <strong>No</strong> existe <strong>restricción de número de elementos</strong> a registrar.
                <% end %>
              </div>
              <div class="col-md-4">
                <% unless hr_evaluation_type_element.aplica_evaluacion %>
                  <strong>No formará parte de la evaluación</strong>, y sólo se usará para agrupar elementos del nivel siguiente.
                <% end %>
              </div>

            </div>
            <% if hr_evaluation_type_element.aplica_evaluacion %>
              <br>

              <div class="row">
                <div class="col-md-4">
                  El <strong>peso</strong> de cada elemento debe estar entre
                  <strong><%= hr_evaluation_type_element.peso_minimo %></strong> y <strong><%= hr_evaluation_type_element.peso_maximo %></strong>.

                  <% if hr_evaluation_type_element.suma_total_pesos > 0 %>
                    Los pesos de los elementos registrados deben <strong>sumar <%= hr_evaluation_type_element.suma_total_pesos %></strong>
                  <% else %>
                    <strong>No</strong> existe restricción respecto a la <strong>suma de pesos</strong>
                  <% end %>
                </div>

                <div class="col-md-4">
                  El <strong>valor</strong> que se puede otorgar en la evaluación a cada elemento debe estar entre
                  <strong><%= hr_evaluation_type_element.valor_minimo %></strong> y <strong><%= hr_evaluation_type_element.valor_maximo %></strong>.
                  El resultado de la evaluación de un colaborador será
                  <% if hr_evaluation_type_element.formula_promedio %>
                    el <strong>promedio ponderado</strong>
                  <% else %>
                    la <strong>suma ponderada</strong>
                  <% end %>
                  de los valores de todos los elementos.
                </div>

                <div class="col-md-4">

                  <% if hr_evaluation_type_element.indicador_logro %>
                    La evaluación se realizará a través de un <strong>indicador de logro</strong> (nombre, meta, unidad de medida).
                    En base a esto se calculará automáticamente el porcentaje obtenido por el colaborador.
                  <% end %>
                </div>

              </div>

              <br>
              <div class="row">
                <div class="col-md-4">
                  La <strong>evaluación</strong> se realizará
                  <% if hr_evaluation_type_element.porcentaje_logro %>
                    de forma continua, se realizará un <strong>seguimiento</strong> y se actualizará periodicamente el
                    <strong>porcentaje de logro</strong> del colaborador.
                  <% else %>
                    de forma <strong>puntual</strong> y se registrará el <strong>resultado final</strong> de la evaluación.
                  <% end %>
                </div>

                <div class="col-md-4">
                  La <strong>autoevaluación</strong> del colaborador y la <strong>evaluación del jefe</strong> serán lo <strong>mismo</strong>. Al final del proceso quien cierra y confirma
                  la evaluación es el jefe.
                </div>
              </div>
            <% end %>

          </div>

        <% end %>

      </div>

    </div>

  </div>

  <% hr_evaluation_type_element = hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.first %>

  <% if carga_manual && hr_evaluation_type_element && hr_evaluation_type_element.tiene_clasificacion %>

    <div class="panel panel-default">
      <div class="panel-body">
        <legend><%= hr_process_evaluation.orden %>. <%= hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.nombre %>: Clasificación </legend>

        <table class="table table-bordered">

          <thead>
          <tr>
            <th>Orden</th>
            <th><%= hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.first.nombre_clasificacion %></th>
            <th>Elemento de la evaluación</th>
            <th>
              Color
            </th>
            <th colspan="2">
              <%= link_to 'Crear nueva clasificación', new_hr_process_evaluation_q_classification_path(hr_process_evaluation) %>
            </th>
          </tr>
          </thead>
          <tbody>

          <% hr_process_evaluation.hr_process_evaluation_q_classifications.each do |hr_process_evaluation_q_classification| %>

            <tr>
              <td>
                <%= hr_process_evaluation_q_classification.orden %>
              </td>
              <td>
                <%= hr_process_evaluation_q_classification.nombre %>
              </td>
              <td>
                <%= hr_process_evaluation_q_classification.hr_evaluation_type_element.nombre %>
              </td>
              <td>
                <div class="small-box-color" style="background-color: <%= '#'+hr_process_evaluation_q_classification.color.to_s %>;">&nbsp;</div>
              </td>
              <td>
                <%= link_to 'Editar', edit_hr_process_evaluation_q_classification_path(hr_process_evaluation_q_classification) %>
              </td>
              <td>

              </td>
            </tr>

          <% end %>

          </tbody>

        </table>

      </div>
    </div>
  <% end %>


  <% if carga_manual && hr_evaluation_type_element && hr_evaluation_type_element.porcentaje_logro %>


    <div class="panel panel-default">
      <div class="panel-body">
        <legend><%= hr_process_evaluation.orden %>. <%= hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.nombre %>: Fechas de seguimiento para responsables </legend>


        <table class="table table-bordered">

          <thead>
          <tr>
            <th>#</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th colspan="2">
              <%= link_to 'Crear nueva fecha', new_hr_process_evaluation_q_schedule_path(hr_process_evaluation) %>
            </th>
          </tr>
          </thead>
          <tbody>

          <% hr_process_evaluation.hr_process_evaluation_q_schedules.each_with_index do |hr_process_evaluation_q_schedule, index| %>

            <tr>
              <td>
                <%= index+1 %>
              </td>
              <td>
                <%= (localize hr_process_evaluation_q_schedule.inicio, format: :day_snmonth_year) %>
              </td>
              <td>
                <%= (localize hr_process_evaluation_q_schedule.fin, format: :day_snmonth_year) %>
              </td>
              <td>
                <%= link_to 'Eliminar', hr_process_evaluation_q_schedule, method: :delete, data: { confirm: '¿Está seguro de eliminar las fechas?' } %>
              </td>
              <td>

              </td>
            </tr>

          <% end %>

          </tbody>

        </table>

      </div>

    </div>

  <% end %>

  <% unless carga_manual %>

    <div class="panel panel-default">
    <div class="panel-body">
    <legend><%= hr_process_evaluation.orden %>. <%= hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.nombre %>: Contenido </legend>


    <ul class="nav nav-tabs">

      <li class="active"><a href="#tab_preguntas_<%= hr_process_evaluation.id %>_todos" data-toggle="tab">Para todos los niveles</a></li>

      <% @hr_process.hr_process_levels.each do |level| %>

        <li><a href="#tab_preguntas_<%= hr_process_evaluation.id %>_<%= level.id %>" data-toggle="tab"><%= level.nombre %></a></li>

      <% end %>


    </ul>

    <div class="tab-content">

    <div class="tab-pane active" id="tab_preguntas_<%= hr_process_evaluation.id %>_todos">

      <div class="row">
        <div class="col-md-12">

          <% hr_process_evaluation.questions_nivel_1.each_with_index do |hr_process_evaluation_q, index| %>

            <div class="row pregunta-evaluacion-<%= $current_domain %>">

              <div class="col-md-12">

                <div class="row">
                  <div class="col-md-10">
                    <strong><%= hr_process_evaluation_q.hr_evaluation_type_element.nombre %> <%= index + 1 %>. </strong>
                    <%= hr_process_evaluation_q.texto.html_safe %>

                  </div>
                  <div class="col-md-2">
                    <strong>
                      - Peso: <%= hr_process_evaluation_q.peso %>
                      <% if hr_process_evaluation_q.comentario %>
                        <br>- Acepta comentarios
                      <% end %>
                      <% if hr_process_evaluation_q.hr_process_level.nil? %>
                        <br>- Aplica a todos los niveles
                      <% end %>
                    </strong>
                  </div>
                </div>

                <% hr_process_evaluation_q.hr_process_evaluation_as.each do |hr_process_evaluation_a|%>

                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                      - <%= hr_process_evaluation_a.texto.html_safe %>
                      <strong><%= hr_process_evaluation_a.valor %> puntos</strong>
                    </div>
                    <div class="col-md-2">

                    </div>
                  </div>

                <% end %>

                <% if hr_process_evaluation_q.hr_process_evaluation_as.length == 0 && hr_process_evaluation_q.hr_process_evaluation_qs.length == 0 %>
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                      Se valorará con valores de
                      <%= hr_process_evaluation_q.hr_evaluation_type_element.valor_minimo %> a
                      <%= hr_process_evaluation_q.hr_evaluation_type_element.valor_maximo %>
                    </div>
                  </div>
                <% end %>

                <% hr_process_evaluation_q.hr_process_evaluation_qs.each_with_index do |hr_process_evaluation_q1 , index1|%>
                  <br>
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                      <strong><%= hr_process_evaluation_q1.hr_evaluation_type_element.nombre %> <%= index1 + 1 %>. </strong>
                      <%= hr_process_evaluation_q1.texto.html_safe %>


                    </div>
                    <div class="col-md-2">
                      <strong>
                        - Peso: <%= hr_process_evaluation_q1.peso %>
                        <% if hr_process_evaluation_q1.comentario %>
                          <br>- Acepta comentarios
                        <% end %>
                      </strong>
                    </div>
                  </div>

                  <% hr_process_evaluation_q1.hr_process_evaluation_as.each do |hr_process_evaluation_a|%>

                    <div class="row">
                      <div class="col-md-2"></div>
                      <div class="col-md-8">
                        - <%= hr_process_evaluation_a.texto.html_safe %>
                        <strong><%= hr_process_evaluation_a.valor %> puntos</strong>
                      </div>
                      <div class="col-md-2">

                      </div>
                    </div>

                  <% end %>

                  <% if hr_process_evaluation_q1.hr_process_evaluation_as.length == 0 %>
                    <div class="row">
                      <div class="col-md-2"></div>
                      <div class="col-md-8">
                        Se valorará con valores de
                        <%= hr_process_evaluation_q1.hr_evaluation_type_element.valor_minimo %> a
                        <%= hr_process_evaluation_q1.hr_evaluation_type_element.valor_maximo %>
                      </div>
                    </div>
                  <% end %>



                <% end %>

                <br>

              </div>

            </div>

          <% end %>

        </div>
      </div>

    </div>

    <% @hr_process.hr_process_levels.each do |level| %>

      <div class="tab-pane" id="tab_preguntas_<%= hr_process_evaluation.id %>_<%= level.id %>">

        <div class="row">
          <div class="col-md-12">

            <% hr_process_evaluation.questions_nivel_1(level.id).each_with_index do |hr_process_evaluation_q, index| %>

              <div class="row pregunta-evaluacion-<%= $current_domain %>">

                <div class="col-md-12">

                  <div class="row">
                    <div class="col-md-10">
                      <strong><%= hr_process_evaluation_q.hr_evaluation_type_element.nombre %> <%= index + 1 %>. </strong>
                      <%= hr_process_evaluation_q.texto.html_safe %>
                    </div>
                    <div class="col-md-2">
                      <strong>
                        - Peso: <%= hr_process_evaluation_q.peso %>
                        <% if hr_process_evaluation_q.comentario %>
                          <br>- Acepta comentarios
                        <% end %>
                        <% if hr_process_evaluation_q.hr_process_level.nil? %>
                          <br>- Aplica a todos los niveles
                        <% end %>
                      </strong>
                    </div>
                  </div>

                  <% hr_process_evaluation_q.hr_process_evaluation_as.each do |hr_process_evaluation_a|%>

                    <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-8">
                        - <%= hr_process_evaluation_a.texto.html_safe %>
                        <strong><%= hr_process_evaluation_a.valor %> puntos</strong>
                      </div>
                      <div class="col-md-2">

                      </div>
                    </div>

                  <% end %>

                  <% if hr_process_evaluation_q.hr_process_evaluation_as.length == 0 && hr_process_evaluation_q.hr_process_evaluation_qs.length == 0 %>
                    <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-8">
                        Se valorará con valores de
                        <%= hr_process_evaluation_q.hr_evaluation_type_element.valor_minimo %> a
                        <%= hr_process_evaluation_q.hr_evaluation_type_element.valor_maximo %>
                      </div>
                    </div>
                  <% end %>

                  <% hr_process_evaluation_q.hr_process_evaluation_qs.each_with_index do |hr_process_evaluation_q1 , index1|%>
                    <br>
                    <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-8">
                        <strong><%= hr_process_evaluation_q1.hr_evaluation_type_element.nombre %> <%= index1 + 1 %>. </strong>
                        <%= hr_process_evaluation_q1.texto.html_safe %>

                      </div>
                      <div class="col-md-2">
                        <strong>
                          - Peso: <%= hr_process_evaluation_q1.peso %>
                          <% if hr_process_evaluation_q1.comentario %>
                            <br>- Acepta comentarios
                          <% end %>
                        </strong>
                      </div>
                    </div>

                    <% hr_process_evaluation_q1.hr_process_evaluation_as.each do |hr_process_evaluation_a|%>

                      <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                          - <%= hr_process_evaluation_a.texto.html_safe %>
                          <strong><%= hr_process_evaluation_a.valor %> puntos</strong>
                        </div>
                        <div class="col-md-2">

                        </div>
                      </div>

                    <% end %>

                    <% if hr_process_evaluation_q1.hr_process_evaluation_as.length == 0 %>
                      <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                          Se valorará con valores de
                          <%= hr_process_evaluation_q1.hr_evaluation_type_element.valor_minimo %> a
                          <%= hr_process_evaluation_q1.hr_evaluation_type_element.valor_maximo %>
                        </div>
                      </div>
                    <% end %>



                  <% end %>

                  <br>

                </div>

              </div>

            <% end %>

          </div>
        </div>

      </div>

    <% end %>


    </div>
    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">

        <%= link_to 'Cargar contenido de la evaluación', hr_process_evaluation_qs_path(hr_process_evaluation) %>

      </div>
    </div>
    </div>
  <% end %>

  <% if carga_manual %>

    <div class="panel-footer clearfix">
      <div class="pull-right">

        <%= link_to 'Cargar contenido manual de la evaluación', hr_process_evaluation_qs_manual_path(hr_process_evaluation) %>

      </div>
    </div>

  <% end %>

  </div>
<% end %>

</div>
</div>
</div>
</div>

</div>