

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Datos de la plantilla
        </legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @hr_process_template.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @hr_process_template.descripcion %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Activo</strong>
          </div>
          <div class="col-md-9">
            <%= '<i class="fa fa-check"></i>'.html_safe if @hr_process_template.activo %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Dimensiones
        </legend>
        <table class="table table-bordered table-hover">


          <thead>

          <tr>
            <th>Eje</th>
            <th>Nombre</th>
            <th colspan="4">
              <% if @hr_process_dimensions.length < 2 %>
                <%= link_to 'Crear una nueva dimensión', new_hr_process_dimension_path(@hr_process_template) %>
              <% end %>
            </th>
          </tr>

          </thead>

          <tbody>

          <% @hr_process_dimensions.each do |hr_process_dimension| %>
            <tr>
              <td>
                <% if hr_process_dimension.orden == 1 %>
                  X
                <% elsif hr_process_dimension.orden == 2 %>
                  Y
                <% end %>
              </td>
              <td>
                <%= hr_process_dimension.nombre %>
              </td>

              <td>
                <%= link_to 'Añadir Grupo', new_hr_process_dimension_g_path(hr_process_dimension) %>
                <br>

                <% if hr_process_dimension.hr_process_dimension_gs.length > 0 %>

                  <table class="table table-striped table-hover table-bordered">

                    <thead>
                    <tr>
                      <th>Grupo</th>
                      <th colspan="2">Rango</th>
                      <th>Nombre</th>
                      <th>Descripción</th>
                      <th colspan="2"></th>
                    </tr>
                    </thead>

                    <tbody>

                    <% hr_process_dimension.hr_process_dimension_gs.each do |hr_process_dimension_g| %>
                      <tr style="<%= 'color: #'+hr_process_dimension_g.color_text+';' if hr_process_dimension_g.color_text %>">
                        <td><%= hr_process_dimension_g.orden %></td>
                        <td style="border-right: none;">
                          <nobr>
                            <%= hr_process_dimension_g.valor_minimo_signo %> <%= hr_process_dimension_g.valor_minimo %>%
                          </nobr>
                        </td>
                        <td style="border-left: none;">
                          <nobr>
                            <%= hr_process_dimension_g.valor_maximo_signo %> <%= hr_process_dimension_g.valor_maximo %>%
                          </nobr>
                        </td>
                        <td><%= hr_process_dimension_g.nombre %></td>
                        <td><%= hr_process_dimension_g.descripcion %></td>
                        <td><%= link_to 'Editar', edit_hr_process_dimension_g_path(hr_process_dimension_g) %></td>
                        <td><%= link_to 'Eliminar', delete_hr_process_dimension_g_path(hr_process_dimension_g) %></td>
                      </tr>
                    <% end %>

                    </tbody>

                  </table>
                  <em>Si al menos una de las descripciones es vacía, no se mostrarán las descripciones en los procesos de evaluación</em>
                <% end %>



              </td>
              <td>

                <%= link_to 'Añadir Evaluación', new_hr_process_dimension_e_path(hr_process_dimension) if HrEvaluationType.find_all_by_activo(true).count > 0 %>
                <br>
                <% if hr_process_dimension.hr_process_dimension_es.length > 0 %>

                  <table class="table table-striped table-hover table-bordered">

                    <thead>

                    <tr>
                      <th>Orden</th>
                      <th>Evaluación</th>
                      <th>Porcentaje</th>
                      <th>Evaluado por</th>
                      <th colspan="2"></th>
                    </tr>
                    </thead>

                    <tbody>

                    <% hr_process_dimension.hr_process_dimension_es.each do |hr_process_dimension_e| %>
                      <tr>
                        <td><%= hr_process_dimension_e.orden %></td>
                        <td>
                          <% if hr_process_dimension_e.hr_evaluation_type %>
                            <%= hr_process_dimension_e.hr_evaluation_type.nombre %>
                            <br>
                            <em><%= hr_process_dimension_e.hr_evaluation_type.descripcion %></em>
                          <% end %>
                        </td>
                        <td><%= hr_process_dimension_e.porcentaje %></td>
                        <td>

                          <% if hr_process_dimension_e.registro_por_gestor %>

                            <i class="fa fa-exclamation-circle" style="color: #8b0000;"></i> El gestor registrará el resultado final de la evaluación

                          <% end %>

                          <% if hr_process_dimension_e.eval_jefe %>
                            <nobr><i class="fa fa-check"></i> Jefe (<%= hr_process_dimension_e.eval_jefe_peso %>)</nobr><br>
                          <% end %>

                          <% if hr_process_dimension_e.eval_auto %>
                            <nobr><i class="fa fa-check"></i> Auto (<%= hr_process_dimension_e.eval_auto_peso %>)</nobr><br>
                          <% end %>
                          <% if hr_process_dimension_e.eval_par %>
                            <nobr><i class="fa fa-check"></i> Par (<%= hr_process_dimension_e.eval_par_peso %>)</nobr><br>
                          <% end %>
                          <% if hr_process_dimension_e.eval_sub %>
                            <nobr><i class="fa fa-check"></i> Sub (<%= hr_process_dimension_e.eval_sub_peso %>)</nobr><br>
                          <% end %>
                          <% if hr_process_dimension_e.eval_cli %>
                            <nobr><i class="fa fa-check"></i> Cli (<%= hr_process_dimension_e.eval_cli_peso %>)</nobr><br>
                          <% end %>
                          <% if hr_process_dimension_e.eval_prov %>
                            <nobr><i class="fa fa-check"></i> Prov (<%= hr_process_dimension_e.eval_prov_peso %>)</nobr>
                          <% end %>
                        </td>
                        <td><%= link_to 'Editar', edit_hr_process_dimension_e_path(hr_process_dimension_e) %></td>
                        <td><%= link_to 'Eliminar', delete_hr_process_dimension_e_path(hr_process_dimension_e) %></td>
                      </tr>
                    <% end %>

                    </tbody>

                  </table>

                <% end %>

              </td>
              <td>
                <%= link_to 'Editar', edit_hr_process_dimension_path(hr_process_dimension) %>
              </td>
              <td>

                <% if hr_process_dimension.hr_process_dimension_gs.length == 0 && hr_process_dimension.hr_process_dimension_es.length == 0%>

                  <%= link_to 'Eliminar', delete_hr_process_dimension_path(hr_process_dimension) %>

                <% end %>

              </td>
            </tr>

          <% end %>

          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>



<div class="row">
<div class="col-md-12">

<% if @hr_process_dimensions.size == 1 && @hr_process_dimensions.first.hr_process_dimension_gs.size > 0 %>

  <% dimension_eje_x = @hr_process_dimensions.first %>

  <div class="panel panel-default">
  <div class="panel-body">

  <div class="row">
  <div class="col-md-12">

  <% ancho_grupo = 12/dimension_eje_x.hr_process_dimension_gs.size %>

  <div class="row">

  <% @hr_process_dimensions.first.hr_process_dimension_gs.each do |hr_process_dimension_g| %>

    <% hr_process_quadrant = @hr_process_template.quadrant_1d(hr_process_dimension_g.id) %>

    <div class="col-md-<%= ancho_grupo %>">

      <div class="well" style="<%= 'background-color: #'+hr_process_quadrant.color+';' if hr_process_quadrant && hr_process_quadrant.color %>" >

        <% if hr_process_quadrant %>
          <div class="row">
            <div class="col-md-10">

              <a href="#create_q_<%= hr_process_dimension_g.id %>" data-toggle="modal" style="<%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant && hr_process_quadrant.color_text %>">
                <%= hr_process_quadrant.nombre.html_safe %> (<%= hr_process_quadrant.orden_grafico %>)

                <br>
                <%= hr_process_quadrant.descripcion.html_safe if hr_process_quadrant.descripcion %>
              </a>

            </div>
            <div class="col-md-2" style="<%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant && hr_process_quadrant.color_text %>">

              <% if hr_process_quadrant.descripcion_detalle %>

                <i id="qua_popover_<%= hr_process_quadrant.id %>" class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= hr_process_quadrant.descripcion_detalle %>"></i>
                <script>
                  $('#qua_popover_<%= hr_process_quadrant.id %>').popover();
                </script>

              <% end %>

            </div>
          </div>

        <% else %>
          <a href="#create_q_<%= hr_process_dimension_g.id %>" data-toggle="modal">
            No definido <i class="fa fa-exclamation-triangle"></i>
          </a>

          <% hr_process_quadrant = HrProcessQuadrant.new %>
        <% end %>




        <div id="create_q_<%= hr_process_dimension_g.id %>" class="modal fade " role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">


              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="create_q_<%= hr_process_dimension_g.id %>Label">Definir nombre del cuadrante</h4>
              </div>


              <%= form_for hr_process_quadrant, url: hr_process_quadrant.id == nil ? create_hr_process_quadrant_1d_path(@hr_process_template, hr_process_dimension_g.id) : update_hr_process_quadrant_path(@hr_process_template, hr_process_quadrant), method: :post, html: {class: 'form-horizontal'} do |f| %>

                <div class="modal-body">

                  <%= render 'shared/error_messages', object: f.object %>

                  <div class="form-group <%= field_with_errors f, :orden_grafico %>">

                    <%= f.label :orden_grafico, 'Orden para el reporte gráfico', class: 'col-md-3 control-label' %>

                    <div class="col-md-9">

                      <%= f.number_field :orden_grafico, class: 'form-control' %>

                    </div>

                  </div>

                  <div class="form-group <%= field_with_errors f, :nombre %>">

                    <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

                    <div class="col-md-9">

                      <%= f.text_area :nombre, rows: 5, class: 'form-control' %>

                    </div>

                  </div>

                  <div class="form-group <%= field_with_errors f, :descripcion %>">

                    <%= f.label :descripcion, 'Descripción', class: 'col-md-3 control-label' %>

                    <div class="col-md-9">

                      <%= f.text_area :descripcion, rows: 5, class: 'form-control' %>

                    </div>

                  </div>

                  <div class="form-group">

                    <%= f.label :descripcion_detalle, 'Descripción detallada', class: 'col-md-3 control-label' %>

                    <div class="col-md-9">

                      <%= f.text_area :descripcion_detalle, rows: 5, class: 'form-control' %>

                    </div>

                  </div>

                  <div class="form-group">

                    <%= f.label :color_text, 'Color de texto', class: 'col-md-3 control-label' %>

                    <div class="col-md-9">

                      <%= f.text_field :color_text, class: "pick-a-color_text_#{hr_process_dimension_g.id} form-control" %>

                      <script>
                        $(".pick-a-color_text_<%= hr_process_dimension_g.id %>").pickAColor({
                          showBasicColors         : true,
                          showSpectrum            : true,
                          showSavedColors         : false,
                          saveColorsPerElement    : false,
                          showAdvanced            : true,
                          showHexInput            : true,
                          fadeMenuToggle          : true
                        });
                      </script>

                    </div>

                  </div>

                  <div class="form-group">

                    <%= f.label :color, 'Color de fondo', class: 'col-md-3 control-label' %>

                    <div class="col-md-9">

                      <%= f.text_field :color, class: "pick-a-color_#{hr_process_dimension_g.id} form-control" %>

                      <script>
                        $(".pick-a-color_<%= hr_process_dimension_g.id %>").pickAColor({
                          showBasicColors         : true,
                          showSpectrum            : true,
                          showSavedColors         : false,
                          saveColorsPerElement    : false,
                          showAdvanced            : true,
                          showHexInput            : true,
                          fadeMenuToggle          : true
                        });
                      </script>

                    </div>

                  </div>

                  <div class="form-group">

                    <%= f.label :color, 'Color de fondo suave', class: 'col-md-3 control-label' %>

                    <div class="col-md-9">

                      <%= f.text_field :color_fondo_suave, class: "pick-a-color_suave_#{hr_process_dimension_g.id} form-control" %>

                      <script>
                        $(".pick-a-color_suave_<%= hr_process_dimension_g.id %>").pickAColor({
                          showBasicColors         : true,
                          showSpectrum            : true,
                          showSavedColors         : false,
                          saveColorsPerElement    : false,
                          showAdvanced            : true,
                          showHexInput            : true,
                          fadeMenuToggle          : true
                        });
                      </script>

                    </div>

                  </div>

                </div>

                <div class="modal-footer">

                  <div class="row">

                    <div class="col-md-4 col-md-offset-4 text-center">

                      <%= f.submit 'Guardar', class: 'btn btn-primary' %>

                    </div>

                  </div>
                </div>

              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>


  <% end %>

  </div>


  <div class="row">

    <div class="col-md-12">

      <div class="row">

        <% dimension_eje_x.hr_process_dimension_gs.each do |hr_process_dimension_g_x| %>

          <div class="col-md-<%= ancho_grupo %>">
            <div class="well text-center">
              <strong><%= hr_process_dimension_g_x.nombre%></strong>
              <br>
              <%= hr_process_dimension_g_x.valor_minimo %>% - <%= hr_process_dimension_g_x.valor_maximo %>%
            </div>
          </div>

        <% end %>

      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-12">
      <div class=" dimension-hr-process-<%= $current_domain%>  text-center">
        <strong>
          <%= dimension_eje_x.nombre %>
        </strong>
        <br>
        <% dimension_eje_x.hr_process_dimension_es.each do |hr_process_dimension_e| %>
          - <%= hr_process_dimension_e.hr_evaluation_type.nombre if hr_process_dimension_e.hr_evaluation_type %>
          (<%= hr_process_dimension_e.porcentaje %>%)
          <br>

        <% end %>
      </div>
    </div>
  </div>

  </div>
  </div>

  </div>
  </div>

<% elsif @hr_process_dimensions.size == 2 && @hr_process_dimensions.first.hr_process_dimension_gs.size > 0 %>

  <% dimension_eje_x = @hr_process_dimensions.first %>
  <% dimension_eje_y = @hr_process_dimensions.last %>

  <div class="panel panel-default">
  <div class="panel-body">

  <div class="row">
  <div class="col-md-1">
    <div class="dimension-hr-process-<%= $current_domain%>">
      <strong>
        <%= dimension_eje_y.nombre %>
      </strong>
      <br>
      <% dimension_eje_y.hr_process_dimension_es.each do |hr_process_dimension_e| %>
        - <%= hr_process_dimension_e.hr_evaluation_type.nombre if hr_process_dimension_e.hr_evaluation_type %>
        (<%= hr_process_dimension_e.porcentaje %>%)
        <br>
      <% end %>
    </div>
  </div>
  <div class="col-md-11">

  <% ancho_grupo = 12/dimension_eje_x.hr_process_dimension_gs.size %>

  <% dimension_eje_y.hr_process_dimension_gs.reorder('orden DESC').each do |hr_process_dimension_g_y| %>

    <div class="row">
    <div class="col-md-2">
      <div class="well text-right">

        <strong>
          <%= hr_process_dimension_g_y.nombre%>
        </strong>
        <br>
        <%= hr_process_dimension_g_y.valor_minimo %>% - <%= hr_process_dimension_g_y.valor_maximo %>%

      </div>
    </div>

    <div class="col-md-10">

    <div class="row">

    <% dimension_eje_x.hr_process_dimension_gs.each do |hr_process_dimension_g_x| %>

      <% hr_process_quadrant = @hr_process_template.quadrant_2d(hr_process_dimension_g_x.id, hr_process_dimension_g_y.id) %>

      <div class="col-md-<%= ancho_grupo %>">

        <div class="well" style="<%= 'background-color: #'+hr_process_quadrant.color+';' if hr_process_quadrant && hr_process_quadrant.color %>" >

          <% if hr_process_quadrant %>
            <div class="row">
              <div class="col-md-10">

                <a href="#create_q_<%= hr_process_dimension_g_x.id %>_<%= hr_process_dimension_g_y.id %>" data-toggle="modal" style="<%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant && hr_process_quadrant.color_text %>">
                  <%= hr_process_quadrant.nombre.html_safe %> (<%= hr_process_quadrant.orden_grafico %>)

                  <br>
                  <%= hr_process_quadrant.descripcion.html_safe if hr_process_quadrant.descripcion %>
                </a>

              </div>
              <div class="col-md-2" style="<%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant && hr_process_quadrant.color_text %>">

                <% if hr_process_quadrant.descripcion_detalle %>

                  <i id="qua_popover_<%= hr_process_quadrant.id %>" class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= hr_process_quadrant.descripcion_detalle %>"></i>
                  <script>
                    $('#qua_popover_<%= hr_process_quadrant.id %>').popover();
                  </script>

                <% end %>

              </div>
            </div>

          <% else %>
            <a href="#create_q_<%= hr_process_dimension_g_x.id %>_<%= hr_process_dimension_g_y.id %>" data-toggle="modal">
              No definido <i class="fa fa-exclamation-triangle"></i>
            </a>

            <% hr_process_quadrant = HrProcessQuadrant.new %>
          <% end %>

          <div id="create_q_<%= hr_process_dimension_g_x.id %>_<%= hr_process_dimension_g_y.id %>" class="modal fade " role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">


                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title" id="create_q_<%= hr_process_dimension_g_x.id %>_<%= hr_process_dimension_g_y.id %>Label">Definir nombre del cuadrante</h4>
                </div>


                <%= form_for hr_process_quadrant, url: hr_process_quadrant.id == nil ? create_hr_process_quadrant_2d_path(@hr_process_template, hr_process_dimension_g_x.id, hr_process_dimension_g_y.id) : update_hr_process_quadrant_path(@hr_process_template, hr_process_quadrant), method: :post, html: {class: 'form-horizontal'} do |f| %>

                  <div class="modal-body">

                    <%= render 'shared/error_messages', object: f.object %>

                    <div class="form-group <%= field_with_errors f, :orden_grafico %>">

                      <%= f.label :orden_grafico, 'Orden para el reporte gráfico', class: 'col-md-3 control-label' %>

                      <div class="col-md-9">

                        <%= f.number_field :orden_grafico, class: 'form-control' %>

                      </div>

                    </div>

                    <div class="form-group <%= field_with_errors f, :nombre %>">

                      <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

                      <div class="col-md-9">

                        <%= f.text_area :nombre, rows: 5, class: 'form-control' %>

                      </div>

                    </div>

                    <div class="form-group <%= field_with_errors f, :descripcion %>">

                      <%= f.label :descripcion, 'Descripción', class: 'col-md-3 control-label' %>

                      <div class="col-md-9">

                        <%= f.text_area :descripcion, rows: 5, class: 'form-control' %>

                      </div>

                    </div>

                    <div class="form-group">

                      <%= f.label :descripcion_detalle, 'Descripción detallada', class: 'col-md-3 control-label' %>

                      <div class="col-md-9">

                        <%= f.text_area :descripcion_detalle, rows: 5, class: 'form-control' %>

                      </div>

                    </div>

                    <div class="form-group">

                      <%= f.label :color_text, 'Color de texto', class: 'col-md-3 control-label' %>

                      <div class="col-md-9">

                        <%= f.text_field :color_text, class: "pick-a-color_text_#{hr_process_dimension_g_x.id}_#{hr_process_dimension_g_y.id} form-control" %>

                        <script>
                          $(".pick-a-color_text_<%= hr_process_dimension_g_x.id %>_<%= hr_process_dimension_g_y.id %>").pickAColor({
                            showBasicColors         : true,
                            showSpectrum            : true,
                            showSavedColors         : false,
                            saveColorsPerElement    : false,
                            showAdvanced            : true,
                            showHexInput            : true,
                            fadeMenuToggle          : true
                          });
                        </script>

                      </div>

                    </div>

                    <div class="form-group">

                      <%= f.label :color, 'Color de fondo', class: 'col-md-3 control-label' %>

                      <div class="col-md-9">

                        <%= f.text_field :color, class: "pick-a-color_#{hr_process_dimension_g_x.id}_#{hr_process_dimension_g_y.id} form-control" %>

                        <script>
                          $(".pick-a-color_<%= hr_process_dimension_g_x.id %>_<%= hr_process_dimension_g_y.id %>").pickAColor({
                            showBasicColors         : true,
                            showSpectrum            : true,
                            showSavedColors         : false,
                            saveColorsPerElement    : false,
                            showAdvanced            : true,
                            showHexInput            : true,
                            fadeMenuToggle          : true
                          });
                        </script>

                      </div>

                    </div>

                    <div class="form-group">

                      <%= f.label :color, 'Color de fondo suave', class: 'col-md-3 control-label' %>

                      <div class="col-md-9">

                        <%= f.text_field :color_fondo_suave, class: "pick-a-color_suave_#{hr_process_dimension_g_x.id}_#{hr_process_dimension_g_y.id} form-control" %>

                        <script>
                          $(".pick-a-color_suave_<%= hr_process_dimension_g_x.id %>_<%= hr_process_dimension_g_y.id %>").pickAColor({
                            showBasicColors         : true,
                            showSpectrum            : true,
                            showSavedColors         : false,
                            saveColorsPerElement    : false,
                            showAdvanced            : true,
                            showHexInput            : true,
                            fadeMenuToggle          : true
                          });
                        </script>

                      </div>

                    </div>

                  </div>

                  <div class="modal-footer">

                    <div class="row">

                      <div class="col-md-4 col-md-offset-4 text-center">

                        <%= f.submit 'Guardar', class: 'btn btn-primary' %>

                      </div>

                    </div>
                  </div>

                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>

    </div>

    </div>

    </div>
  <% end %>

  <div class="row">

    <div class="col-md-10 col-md-offset-2">

      <div class="row">

        <% dimension_eje_x.hr_process_dimension_gs.each do |hr_process_dimension_g_x| %>

          <div class="col-md-<%= ancho_grupo %>">
            <div class="well text-center">
              <strong><%= hr_process_dimension_g_x.nombre%></strong>
              <br>
              <%= hr_process_dimension_g_x.valor_minimo %>% - <%= hr_process_dimension_g_x.valor_maximo %>%
            </div>
          </div>

        <% end %>

      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-10 col-md-offset-2">
      <div class=" dimension-hr-process-<%= $current_domain%>  text-center">
        <strong>
          <%= dimension_eje_x.nombre %>
        </strong>
        <br>
        <% dimension_eje_x.hr_process_dimension_es.each do |hr_process_dimension_e| %>
          - <%= hr_process_dimension_e.hr_evaluation_type.nombre if hr_process_dimension_e.hr_evaluation_type %>
          (<%= hr_process_dimension_e.porcentaje %>%)
          <br>

        <% end %>
      </div>
    </div>
  </div>


  </div>

  </div>

  </div>
  </div>
<% end %>


</div>
</div>

