
<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de procesos de evaluación', hr_processes_path, tabindex: '-1' %>

  </li>
  <li class="active">Eliminar proceso de evaluación</li>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <legend class="text-center">
      <%= @hr_process.nombre %>
    </legend>

    <div class="row">
      <div class="col-md-3">
        <strong>Año</strong>
      </div>
      <div class="col-md-9">
        <%= @hr_process.year %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Nombre</strong>
      </div>
      <div class="col-md-9">
        <%= @hr_process.nombre %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Abierto</strong>
      </div>
      <div class="col-md-9">
        <%= '<i class="fa fa-check"></i>'.html_safe if @hr_process.abierto %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Fecha inicio</strong>
      </div>
      <div class="col-md-9">
        <%= (localize @hr_process.fecha_inicio, format: :day_snmonth_syear) %>

        <% if lms_time > @hr_process.fecha_inicio %>

              <span class="label label-danger">Hace
                <%= distance_of_time_in_words(@hr_process.fecha_inicio, lms_time) %>
              </span>

        <% else %>
              <span class="label label-primary">En
                <%= distance_of_time_in_words(lms_time, @hr_process.fecha_inicio) %>
              </span>
        <% end %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Fecha fin</strong>
      </div>
      <div class="col-md-9">
        <%= (localize @hr_process.fecha_fin, format: :day_snmonth_syear) %>

        <% if lms_time > @hr_process.fecha_fin %>

              <span class="label label-danger">Hace
                <%= distance_of_time_in_words(@hr_process.fecha_fin, lms_time) %>
              </span>

        <% else %>
              <span class="label label-primary">En
                <%= distance_of_time_in_words(lms_time, @hr_process.fecha_fin) %>
              </span>
        <% end %>
      </div>
    </div>

    <%= form_for @hr_process, html: { method: :delete } do |f| %>

      <%= recaptcha_tags :display=>{:theme=>'clean'} %>

      <%= f.submit 'Eliminar', class: 'btn btn-primary' %>

    <% end %>

  </div>
</div>
