
<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de procesos de evaluación', hr_processes_path, tabindex: '-1' %>

  </li>
  <li>
    <%= link_to @hr_process.nombre+' - '+@hr_process.year.to_s, @hr_process, tabindex: '-1' %>

  </li>
  <li class="active">Editar plantilla del proceso de evaluación</li>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3 form-box-<%= $current_domain %>">

    <legend class="text-center">Editar plantilla del proceso de evaluación</legend>

    <div class="row">
      <div class="col-md-3">
        <strong>Año</strong>
      </div>
      <div class="col-md-9">
        <%= @hr_process.year %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Nombre</strong>
      </div>
      <div class="col-md-9">
        <%= @hr_process.nombre %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Abierto</strong>
      </div>
      <div class="col-md-9">
        <%= '<i class="fa fa-check"></i>'.html_safe if @hr_process.abierto %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Fecha inicio</strong>
      </div>
      <div class="col-md-9">
        <%= (localize @hr_process.fecha_inicio, format: :day_snmonth_syear) %>

        <% if lms_time > @hr_process.fecha_inicio %>

              <span class="label label-danger">Hace
                <%= distance_of_time_in_words(@hr_process.fecha_inicio, lms_time) %>
              </span>

        <% else %>
              <span class="label label-primary">En
                <%= distance_of_time_in_words(lms_time, @hr_process.fecha_inicio) %>
              </span>
        <% end %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Fecha fin</strong>
      </div>
      <div class="col-md-9">
        <%= (localize @hr_process.fecha_fin, format: :day_snmonth_syear) %>

        <% if lms_time > @hr_process.fecha_fin %>

              <span class="label label-danger">Hace
                <%= distance_of_time_in_words(@hr_process.fecha_fin, lms_time) %>
              </span>

        <% else %>
              <span class="label label-primary">En
                <%= distance_of_time_in_words(lms_time, @hr_process.fecha_fin) %>
              </span>
        <% end %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Plantilla</strong>
      </div>
      <div class="col-md-9">
        <%= form_for @hr_process, url: update_template_hr_process_path(@hr_process), html: {method: 'post', class: 'form-horizontal'} do |f| %>

          <%= render 'shared/error_messages', object: f.object %>

              <% hr_process_template_array = HrProcessTemplate.find_all_by_activo(true).map { |pt| [pt.nombre, pt.id]   } %>

              <%= f.select(:hr_process_template_id, options_for_select(hr_process_template_array, @hr_process.hr_process_template_id)) %>
              <br><br>
              <%= f.submit 'Guardar', class: 'btn btn-primary' %>

        <% end %>
      </div>
    </div>


  </div>
</div>
