<h1 class="page-title txt-color-blueDark">
  <i class="fa fa-book"></i>
  Procesos de evaluación de desempeño
  <span>> Lista de procesos </span>
</h1>


<div class="panel panel-default">
  <div class="panel-body">


    <table class="table table-striped table-hover table-bordered">

      <thead>

        <tr>
          <th>#</th>
          <th>Año</th>
          <th>Nombre</th>
          <th>Abierto</th>
          <th>Mostrar en perfil de usuario</th>
          <th>Plantilla</th>
          <th>Fecha de inicio</th>
          <th>Fecha de fin</th>
          <th colspan="2">
            <%= link_to 'Crear un nuevo proceso de evaluación', new_hr_process_path %>
          </th>
        </tr>

      </thead>

      <tbody>

        <% @hr_processes.each_with_index do |hr_process, index| %>
          <tr>
            <td>
              <%= index+1 %>
            </td>
            <td><%= hr_process.year %></td>
            <td><%= hr_process.nombre %></td>
            <td>
              <%= '<i class="fa fa-check"></i>'.html_safe if hr_process.abierto %>
            </td>
            <td>
              <%= '<i class="fa fa-check"></i>'.html_safe if hr_process.show_user_profile %>
            </td>
            <td>
              <% if hr_process.hr_process_template %>
                <%= hr_process.hr_process_template.nombre %>
              <% else %>
                <label class="label label-default">No definida</label>
              <% end %>
            </td>
            <td>
              <%= (localize hr_process.fecha_inicio, format: :day_snmonth_year) %>

              <% if lms_time >= hr_process.fecha_inicio %>

                  <span class="label label-danger">Hace
                    <%= distance_of_time_in_words(hr_process.fecha_inicio, lms_time) %>
                  </span>

              <% else %>
                  <span class="label label-primary">En
                    <%= distance_of_time_in_words(lms_time, hr_process.fecha_inicio) %>
                  </span>
              <% end %>

            </td>
            <td>
              <%= (localize hr_process.fecha_fin, format: :day_snmonth_year) %>

              <% if lms_time > hr_process.fecha_fin %>

                  <span class="label label-danger">Hace
                    <%= distance_of_time_in_words(hr_process.fecha_fin, lms_time) %>
                  </span>

              <% else %>
                  <span class="label label-primary">En
                    <%= distance_of_time_in_words(lms_time, hr_process.fecha_fin) %>

                  </span>

              <% end %>

            </td>
            <td><%= link_to 'Configurar', hr_process %></td>
            <td><%= link_to 'Eliminar', delete_hr_process_path(hr_process) %></td>
          </tr>
        <% end %>

      </tbody>

    </table>


  </div>
</div>