<%= form_for @tracking_form_state, html: {class: 'form-horizontal'} do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.tracking_form_states.shared.state_data') %></legend>

        <%= render 'shared/error_messages', object: f.object %>

        <%= f.hidden_field :tracking_form_id %>

        <div class="form-group <%= field_with_errors f, :position %>">
          <%= f.label :position, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.number_field :position, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :name %>">
          <%= f.label :name, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :description %>">
          <%= f.label :description, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_area :description, class: 'form-control', :rows => 3 %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :color %>">
          <%= f.label :color, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :color, class: 'form-control color-picker' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :finish_tracking %>">
          <%= f.label :finish_tracking, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.check_box :finish_tracking, class: 'yes_no_bootstrap_switch' %>
          </div>
        </div>

      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit t('views.tracking_form_states.form.submit_button'), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>


<script>

  $('.yes_no_bootstrap_switch').bootstrapSwitch({
    onColor: 'success',
    onText: "Sí",
    offColor: 'danger',
    offText: "No"
  });

  $(".color-picker").pickAColor({
    showBasicColors: true,
    showSpectrum: true,
    showSavedColors: false,
    saveColorsPerElement: false,
    showAdvanced: true,
    showHexInput: true,
    fadeMenuToggle: true,
    allowBlank: true,
    inlineDropdown: true
  });

</script>