    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_form_state.position') %></strong>
      </div>
      <div class="col-md-9">
        <%= @tracking_form_state.position %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_form_state.name') %></strong>
      </div>
      <div class="col-md-9">
        <%= @tracking_form_state.name %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_form_state.description') %></strong>
      </div>
      <div class="col-md-9">
        <%= @tracking_form_state.description.html_safe %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_form_state.finish_tracking') %></strong>
      </div>
      <div class="col-md-9">
        <%= label_yes_not @tracking_form_state.finish_tracking? %>
      </div>
    </div>