<div class="panel panel-default">
  <div class="panel-body">


    <legend><%= t('views.tracking_form_states.index.title') %></legend>

    <table class="table table-hover table-bordered">

      <thead>

      <tr>
        <th><%= t('activerecord.attributes.tracking_form_state.position') %></th>
        <th><%= t('activerecord.attributes.tracking_form_state.name') %></th>
        <th><%= t('activerecord.attributes.tracking_form_state.description') %></th>
        <th><%= t('activerecord.attributes.tracking_form_state.color') %></th>
        <th><%= t('activerecord.attributes.tracking_form_state.finish_tracking') %></th>
        <th>
          <%= link_to t('views.tracking_form_states.shared.create_new_state'), new_tracking_form_state_path(@tracking_form) %>
        </th>
      </tr>
      </thead>

      <tbody>

      <% @tracking_form_states.each do |tracking_form_state| %>
          <tr>
            <td><%= tracking_form_state.position %></td>
            <td><%= tracking_form_state.name %></td>
            <td><%= tracking_form_state.description %></td>
            <td><%= tracking_form_state.color %></td>
            <td><%= label_yes_not tracking_form_state.finish_tracking? %></td>
            <td>
              <%= link_to t('views.tracking_form_states.shared.edit_state'), edit_tracking_form_state_path(tracking_form_state) %>
              &nbsp;
              <%= link_to t('views.tracking_form_states.shared.manage_notifications'), tracking_form_state_manage_notifications_path(tracking_form_state) %>
            </td>
          </tr>
      <% end %>
      </table>
  </div>
</div>