<p id="notice"><%= notice %></p>

<p>
  <b>Tracking form:</b>
  <%= @tracking_form_state.tracking_form %>
</p>

<p>
  <b>Position:</b>
  <%= @tracking_form_state.position %>
</p>

<p>
  <b>Name:</b>
  <%= @tracking_form_state.name %>
</p>

<p>
  <b>Description:</b>
  <%= @tracking_form_state.description %>
</p>

<p>
  <b>Color:</b>
  <%= @tracking_form_state.color %>
</p>

<p>
  <b>Finish tracking:</b>
  <%= @tracking_form_state.finish_tracking %>
</p>


<%= link_to 'Edit', edit_tracking_form_state_path(@tracking_form_state) %> |
<%= link_to 'Back', tracking_form_states_path %>
