<h1 class="page-title txt-color-blueDark">
  <i class="fa fa-server" aria-hidden="true"></i>
  System Management
  <span>> Lista de errores </span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">

    <div class="row">
      <%= form_tag log_systems_form_path, :method => :post do %>
          <div class="col-md-2">Desde: <%= text_field_tag 'fecha_desde', @fecha_desde, class: 'form-control datetime-picker'  %></div>
          <div class="col-md-2">Hasta: <%= text_field_tag 'fecha_hasta', @fecha_hasta, class: 'form-control datetime-picker'  %></div>
          <div class="col-md-2">Controller: <%= text_field_tag 'patron_controller', @patron_controller, class: 'form-control'  %></div>
          <div class="col-md-2">Action: <%= text_field_tag 'patron_action', @patron_action, class: 'form-control'  %></div>
          <div class="col-md-2"><%= submit_tag 'Filtrar', :class => 'btn btn-primary' %></div>
      <% end %>
    </div>
    <br>
    <legend>Lista de errores</legend>

    <table class="table table-striped table-hover table-bordered">
      <tr>
        <th>id</th>
        <th width="10%">Usuario</th>
        <th width="12%">Fecha</th>
        <th>Controller</th>
        <th>Action</th>
        <th>Params</th>
        <th width="8%">&nbsp</th>
      </tr>

      <% @log_systems.each do |log_system| %>
          <tr>
            <td><%= log_system.id %></td>
            <td><%= log_system.user.codigo if log_system.user %></td>
            <td><%= (localize log_system.registered_at, format: :day_month_year_time_guion) %></td>
            <td><%= log_system.controller %></td>
            <td><%= log_system.action %></td>
            <td><%= log_system.params %></td>
            <td><%= link_to 'Ver detalles <i class="fa fa-external-link" aria-hidden="true"></i>'.html_safe, log_system, target: '_blank' %></td>
          </tr>
      <% end %>

    </table>
  </div>
</div>
<script>
  $('.datetime-picker').datetimepicker({
    format:'YYYY-MM-DD HH:mm:ss',
    language: 'es',
    pickTime: true
  });
</script>