<%= form_for(@dnc_program) do |f| %>
  <% if @dnc_program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dnc_program.errors.count, "error") %> prohibited this dnc_program from being saved:</h2>

      <ul>
      <% @dnc_program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
