

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Gestionar <%= @pcm.program_course.program.nombre %></legend>

        <div class="row">
          <div class="col-md-4 text-right">
            <strong>Curso</strong>
          </div>
          <div class="col-md-8">
            <%= @pcm.program_course.course.nombre %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Grupos</legend>
        <table class="table table-striped table-hover table-bordered">

          <thead>
            <th>#</th>
            <th colspan="2">
              Grupos
            </th>
            <th>

              Inscritos

            </th>
            <th>Asistencia y Evaluación</th>
            <th>Encuesta</th>
          </thead>

          <tbody>

          <% grupos = @pcm.program_course.group_ids %>

            <% grupos.each_with_index do |g, index| %>
              <tr>
                <td><%= grupos.length-index %></td>
                <td>
                  <span class="label label-primary">
                    <%= (localize  g.desde, format: :day_snmonth_year) %>
                  </span>
                </td>
                <td>
                  <span class="label label-primary">
                    <%= (localize  g.hasta, format: :day_snmonth_year) %>
                  </span>
                </td>
                <td>
                  <%= num_participantes = @pcm.program_course.numero_matriculas_vigentes_por_grupo(g.grupo) %>

                  <a href="<%= course_managers_empty_students_list_xlsx_path(@pcm,@pcm.program_course, g.grupo) %>">
                    Lista
                  </a>
                </td>
                <td>
                  <% if g.course.eval_presencial || g.course.asistencia_presencial %>
                    <nobr>
                      <a href="<%= course_managers_register_asist_eval_path(@pcm,@pcm.program_course, g.grupo) %>">
                        Registrar
                      </a>

                      <% total_notas = @pcm.program_course.user_courses.where('grupo = ? AND nota IS NOT NULL', g.grupo).count %>

                      <% if total_notas == 0 %>
                        <i class="fa fa-circle" style="color: red;"></i>
                      <% elsif total_notas == num_participantes %>
                        <i class="fa fa-circle" style="color: green;"></i>
                      <% else %>
                        <i class="fa fa-circle" style="color: orange;"></i>
                      <% end %>



                    </nobr>
                  <% else %>
                    <a href="<%= course_managers_register_asist_eval_path(@pcm,@pcm.program_course, g.grupo) %>">
                      <i id='curso_tipo_eval_virtual_<%= @pcm.program_course.id %>_<%= g.grupo %>' class='fa fa-laptop' data-toggle="tooltip" title="Virtual"></i>
                      Consultar
                    </a>

                    <script>
                      $('#curso_tipo_eval_virtual_<%= @pcm.program_course.id %>_<%= g.grupo %>').tooltip({
                        placement: 'top'
                      });
                    </script>
                  <% end %>

                  <a href="<%= course_managers_acta_students_xlsx_path(@pcm,@pcm.program_course, g.grupo) %>">
                    Acta
                  </a>
                </td>
                <td>
                  <% poll =  g.course.polls.where('tipo_satisfaccion = ?', true).first %>
                  <% if poll && poll.master_poll_id %>

                    <% if g.course.poll_presencial %>

                      <a href="<%= course_managers_register_poll_path(@pcm,@pcm.program_course, g.grupo) %>">
                        Registrar
                      </a>

                      <% total_summary = ProgramCoursePollSummary.where('program_course_id = ? AND poll_id = ? AND grupo = ? ',
                                                                        @pcm.program_course.id, poll.id, g.grupo).count  %>

                      <% if total_summary == 0 %>
                        <i class="fa fa-circle" style="color: red;"></i>
                      <% else %>
                        <i class="fa fa-circle" style="color: green;"></i>
                      <% end %>

                    <% else %>
                      <a href="<%= course_managers_register_poll_path(@pcm,@pcm.program_course, g.grupo) %>">
                        <i id='curso_tipo_poll_virtual_<%= @pcm.program_course.id %>_<%= g.grupo %>' class='fa fa-laptop' data-toggle="tooltip" title="Virtual"></i>
                        Consultar
                      </a>


                      <script>
                        $('#curso_tipo_poll_virtual_<%= @pcm.program_course.id %>_<%= g.grupo %>').tooltip({
                          placement: 'top'
                        });
                      </script>
                    <% end %>
                  <% else %>
                    <label class="label label-danger">No se existe encuesta<br>de satisfacción definida</label>
                  <% end %>
                </td>

              </tr>

            <% end %>

          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>