
<% pe_group = nil %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = @pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>

<% total_num_questions = pe_evaluation.total_number_of_questions_by_pe_member_3rd_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel) %>

<% total_ansered_questions = 0 %>

<% total_ansered_questions = pe_assessment_evaluation ? pe_assessment_evaluation.pe_assessment_questions_3rd_level(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).size : 0 %>



<% if total_ansered_questions < total_num_questions %>

  <% incomplete_evaluation = true %>

<% end %>


<% if pe_evaluation.pe_questions_by_pe_member_all_levels_ready(@pe_member_evaluated, @pe_member_evaluator, nil, nil).count == 0 %>

  <div class="alert alert-danger">
    El proceso de definición de <%= pe_evaluation.name.downcase %> aún no ha finalizado.
  </div>

<% else %>

  <% if pe_assessment_evaluation && incomplete_evaluation %>

    <div class="alert alert-danger">
      Aún no se ha completado la evaluación
    </div>

  <% end %>

  <% pe_assessment_evaluation = @pe_member_rel.pe_assessment_evaluations.build unless pe_assessment_evaluation %>

  <% letras = 'abcdefghijklmnopqrstuvwxyz' %>

  <form class="unreal-form">

    <div class="panel panel-default">
      <div class="panel-body">

        <% index_p_aux = 0 %>

        <table class="table table-bordered">

          <thead></thead>

          <% pe_element_1st = pe_evaluation.pe_elements.first %>

          <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).each_with_index do |pe_question_1st_level| %>

            <% if pe_element_1st.visible %>

              <tbody>

              <tr>
                <td>

                </td>
                <td colspan="5">
                  <strong>
                    <% if pe_element_1st.display_name %>
                      <%= pe_element_1st.name %>.
                    <% end %>
                    <%= pe_question_1st_level.description.html_safe %>
                  </strong>

                </td>
              </tr>

              </tbody>

            <% end %>

            <% num_1st_level = 1 %>

            <% pe_evaluation.pe_questions_by_question_ready(pe_question_1st_level).each do |pe_question_2nd_level| %>

              <thead>

              <tr>
                <th style="background-color: #dddddd; vertical-align: middle;">
                  <%= num_1st_level %>
                </th>
                <th  style="background-color: #dddddd; vertical-align: middle;" colspan="5">
                  <% if pe_question_2nd_level.pe_element.display_name %>
                    <%= pe_question_2nd_level.pe_element.name %>.
                  <% end %>
                  <%= pe_question_2nd_level.description.html_safe %>
                </th>
              </tr>

              <tr>
                <th></th>
                <th><%= pe_evaluation.pe_elements.last.name %></th>
                <th>Peso</th>
                <th>Meta</th>
                <th>Meta lograda</th>
                <th>Logro</th>
              </tr>

              </thead>

              <tbody>

              <% num_2nd_level = 1 %>
              <% pe_evaluation.pe_questions_by_question_ready(pe_question_2nd_level).each do |pe_question_3rd_level| %>

                <tr>
                  <td>
                    <%= num_1st_level %>.<%= num_2nd_level %>
                  </td>
                  <td>

                    <% if pe_question_3rd_level.kpi_indicator %>
                      <span class="label label-success">KPI</span>&nbsp;
                    <% end %>

                    <% if pe_question_3rd_level.pe_element.display_name %>
                      <%= pe_question_3rd_level.pe_element.name %>.
                    <% end %>

                    <% if pe_question_3rd_level.pe_element.kpi_dashboard && pe_question_3rd_level.kpi_indicator %>

                      <%= pe_question_3rd_level.kpi_indicator.name %>

                    <% else %>

                      <%= pe_question_3rd_level.description.html_safe %>

                    <% end %>

                  </td>
                  <td>
                    <%= number_with_precision(pe_question_3rd_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                  </td>
                  <td>

                    <%= render partial: 'pe_processes/indicator_goal_temp',
                               locals: {
                                   pe_question: pe_question_3rd_level
                               }
                    %>

                  </td>
                  <td>

                    <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question_3rd_level) %>

                    <% unless pe_question_3rd_level.pe_element.kpi_dashboard && pe_question_3rd_level.kpi_indicator %>


                          <% if pe_question_3rd_level.indicator_type == 4 %>

                            <select class="form-control" name="pe_question_<%= pe_question_3rd_level.id %>">

                              <option value="">--Sin registro--</option>

                              <% pe_question_3rd_level.pe_question_ranks.each do  |qr| %>

                                <option value="<%= qr.discrete_goal %>" <%= 'selected' if pe_assessment_question && qr.discrete_goal == pe_assessment_question.indicator_discrete_achievement %> ><%= qr.discrete_goal.html_safe %></option>

                              <% end %>

                            </select>

                          <% else %>
                            <%= number_with_precision(pe_assessment_question.indicator_achievement, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) if pe_assessment_question %>
                            <% pe_question_3rd_level.indicator_unit %>
                          <% end %>

                        <% if pe_question_3rd_level.entered_by_manager %>
                          <div>
                            <em class="text-muted">
                              Valor registrado por Control de Gestión
                            </em>
                          </div>
                        <% end %>

                    <% end %>


                  </td>
                  <td width="15%">

                    <% if pe_assessment_question %>

                      <% ancho_p_b = 0 %>

                      <% ancho_p_b = pe_assessment_question.percentage && pe_assessment_question.percentage < 100 ? pe_assessment_question.percentage.to_i : 100 %>

                      <% if pe_question_3rd_level.indicator_type != 4 || (pe_question_3rd_level.indicator_type == 4 && !pe_assessment_question.indicator_discrete_achievement.blank?) %>

                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="<%= ancho_p_b %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= ancho_p_b %>%;">
                            <%= number_with_precision(pe_assessment_question.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
                          </div>
                        </div>

                      <% end %>

                    <% end %>

                  </td>
                </tr>
                <% num_2nd_level += 1 %>
              <% end %>

              </tbody>


              <% num_1st_level += 1 %>

            <% end %>

          <% end %>


        </table>

      </div>

      <script>

        $('.unreal-form :input').attr("disabled", true);

      </script>

    </div>

  </form>

<% end %>




