<table class="table table-bordered">
  <thead>
  <tr>

    <% pe_evaluations.each do |pe_evaluation| %>

      <% unless pe_evaluation.informative %>

        <th>
          <%= pe_evaluation.name %>

          <% if @pe_member_rel.pe_rel.rel == 1 && @pe_process.step_assessment_show_final_results_to_boss %>

            <% if @pe_member_rel.pe_member_evaluated.has_to_be_assessed_in_evaluation(pe_evaluation) %>

              <% pe_member_evaluation = @pe_member_rel.pe_member_evaluated.pe_member_evaluation pe_evaluation %>
              <% weight = pe_member_evaluation ? pe_member_evaluation.weight : pe_evaluation.weight %>

              (<%= weight %>)

            <% end %>

          <% end %>

        </th>

      <% end %>

    <% end %>

    <% if @pe_member_rel.finished && @pe_member_rel.valid_evaluator && @pe_member_rel.pe_rel.rel == 1 && @pe_process.step_assessment_show_final_results_to_boss %>
      <th>Resultado Final</th>
    <% end %>

  </tr>
  </thead>

  <tbody>
  <tr>
    <% pe_assessment_evaluations.each do |pe_assessment_evaluation| %>

      <% unless pe_assessment_evaluation.pe_evaluation.informative %>

        <% if pe_assessment_evaluation && pe_assessment_evaluation.percentage >= 0 && pe_assessment_evaluation.valid_evaluation %>

          <td style="<%= 'color: #'+pe_assessment_evaluation.pe_dimension_group.text_color+';' if pe_assessment_evaluation.pe_dimension_group %>">

            <%= number_with_precision(pe_assessment_evaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

            <% if @pe_process.public_pe_dimension_name %>

              <%= ' - '+pe_assessment_evaluation.pe_dimension_group.name if pe_assessment_evaluation.pe_dimension_group %>

            <% end %>

          </td>
        <% elsif pe_assessment_evaluation && !pe_assessment_evaluation.valid_evaluation %>
          <td>
            <span class="label label-danger">No válida</span>
          </td>
        <% else %>
          <td></td>
        <% end %>

      <% end %>

    <% end %>

    <% if @pe_member_rel.finished && @pe_member_rel.valid_evaluator %>

      <% if @pe_member_rel.pe_rel.rel == 1 && @pe_process.step_assessment_show_final_results_to_boss %>

        <% if @pe_process.two_dimensions? %>

          <td>

            <% if @pe_process.public_pe_box %>

              <% if @pe_member_rel.pe_member_evaluated.pe_box %>

                <span class="label label-default label-smart-table" style="text-align: center; color: <%= '#'+@pe_member_rel.pe_member_evaluated.pe_box.text_color %> !important; background-color: <%= '#'+@pe_member_rel.pe_member_evaluated.pe_box.bg_color %>;">
                  <% if @pe_member_rel.pe_member_evaluated.pe_box.short_name %>
                    &nbsp;&nbsp;<%= @pe_member_rel.pe_member_evaluated.pe_box.short_name %>&nbsp;&nbsp;
                    <br>
                  <% end %>
                  &nbsp;&nbsp;<%= @pe_member_rel.pe_member_evaluated.pe_box.name %>&nbsp;&nbsp;
                </span>

              <% end %>

            <% end %>

          </td>

        <% else %>

          <% pe_assessment_dimension = @pe_member_rel.pe_member_evaluated.pe_assessment_dimension(@pe_process.dimension_x) %>

          <% if pe_assessment_dimension && pe_assessment_dimension.percentage > -1 %>

            <td style="<%= 'color: #'+pe_assessment_dimension.pe_dimension_group.text_color+';' if  pe_assessment_dimension.pe_dimension_group %>">

              <%= number_with_precision(pe_assessment_dimension.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

              <% if @pe_process.public_pe_dimension_name %>

                <%= ' - '+pe_assessment_dimension.pe_dimension_group.name if pe_assessment_dimension.pe_dimension_group %>

              <% end %>

            </td>
          <% else %>
            <td></td>
          <% end %>

        <% end %>



      <% end %>

    <% end %>

  </tr>
  </tbody>

</table>