<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>

    <Style ss:ID="format_date">
      <NumberFormat ss:Format="dd\-mm\-yyyy"/>
    </Style>
    <Style ss:ID="format_number">
      <NumberFormat ss:Format="Fixed"/>
    </Style>
    <Style ss:ID="format_center">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Evaluaciones">
    <Table>
      <Row>

        <Cell><Data ss:Type="String"><%= alias_username %> evaluado</Data></Cell>
        <Cell><Data ss:Type="String">Evaluado</Data></Cell>

        <% @pe_process.pe_characteristics_gui_validation.each do |pe_characteristic| %>
          <Cell><Data ss:Type="String"><%= pe_characteristic.characteristic.nombre %></Data></Cell>
        <% end %>

        <Cell><Data ss:Type="String"><%= alias_username %> evaluador</Data></Cell>
        <Cell><Data ss:Type="String">Evaluador</Data></Cell>
        <Cell><Data ss:Type="String">Relación</Data></Cell>

        <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

          <% unless pe_evaluation.informative %>
            <Cell><Data ss:Type="String"><%= pe_evaluation.name %></Data></Cell>
          <% end %>

        <% end %>

        <Cell><Data ss:Type="String">Validar (SI/NO)</Data></Cell>
        <Cell><Data ss:Type="String">Comentario</Data></Cell>

      </Row>

      <% @pe_process.pe_member_rels_to_validate_ordered(user_connected).each do |pe_member_rel| %>

        <% if pe_member_rel.finished && !pe_member_rel.validated && !pe_member_rel.pe_member_evaluated.removed %>

          <Row>

            <Cell><Data ss:Type="String"><%= pe_member_rel.pe_member_evaluated.user.codigo %></Data></Cell>
            <Cell><Data ss:Type="String"><%= pe_member_rel.pe_member_evaluated.user.apellidos %>, <%= pe_member_rel.pe_member_evaluated.user.nombre %></Data></Cell>

            <% @pe_process.pe_characteristics_gui_validation.each do |pe_characteristic| %>
              <% pe_mc = pe_member_rel.pe_member_evaluated.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
              <Cell><Data ss:Type="String"><%= pe_mc.value if pe_mc %></Data></Cell>
            <% end %>

            <Cell><Data ss:Type="String"><%= pe_member_rel.pe_member_evaluator.user.codigo %></Data></Cell>
            <Cell><Data ss:Type="String"><%= pe_member_rel.pe_member_evaluator.user.apellidos %>, <%= pe_member_rel.pe_member_evaluator.user.nombre %></Data></Cell>
            <Cell><Data ss:Type="String"><%= pe_member_rel.pe_rel.alias %></Data></Cell>

            <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

              <% unless pe_evaluation.informative %>

                <% if pe_evaluation.has_pe_evaluation_rel(pe_member_rel.pe_rel) %>

                  <% if pe_member_rel.pe_member_evaluated.has_to_be_assessed_in_evaluation pe_evaluation %>

                    <% if pe_member_rel.finished %>

                      <% if !pe_member_rel.valid_evaluator %>
                        <Cell><Data ss:Type="String"></Data></Cell>
                      <% else %>

                        <% pe_assessment_evaluation = pe_member_rel.pe_assessment_evaluation(pe_evaluation) %>

                        <% if pe_assessment_evaluation && pe_assessment_evaluation.percentage >= 0 %>

                          <% r = '' %>

                          <% r += number_with_precision(pe_assessment_evaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true)+'%' %>
                          <% if @pe_process.public_pe_dimension_name %>
                            <% r+= ' - '+pe_assessment_evaluation.pe_dimension_group.name if pe_assessment_evaluation.pe_dimension_group %>
                          <% end %>
                          <% if pe_member_rel.pe_rel.rel == 1 && @pe_process.step_assessment_show_final_results_to_boss %>
                            <% if pe_member_rel.pe_member_evaluated.has_to_be_assessed_in_evaluation(pe_evaluation) %>
                              <% pe_member_evaluation = pe_member_rel.pe_member_evaluated.pe_member_evaluation pe_evaluation %>
                              <% weight = pe_member_evaluation ? pe_member_evaluation.weight : pe_evaluation.weight %>
                              <% r += ' ('+weight.to_s+')' %>
                            <% end %>
                          <% end %>

                          <Cell><Data ss:Type="String"><%= r %></Data></Cell>

                        <% else %>

                          <Cell><Data ss:Type="String"></Data></Cell>

                        <% end %>

                      <% end %>

                    <% else %>

                      <Cell><Data ss:Type="String"></Data></Cell>

                    <% end %>

                  <% else %>
                    <Cell><Data ss:Type="String">No será evaluado</Data></Cell>
                  <% end %>

                <% else %>
                  <Cell><Data ss:Type="String">No será evaluado</Data></Cell>
                <% end %>

              <% end %>

            <% end %>

            <Cell><Data ss:Type="String"></Data></Cell>
            <Cell><Data ss:Type="String"></Data></Cell>

          </Row>

        <% end %>

      <% end %>

    </Table>
  </Worksheet>
</Workbook>