<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6 text-center">

    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Validar
    </h1>

  </div>
</div>

<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">

      <div class="panel-body">

        <legend>

          Evaluaciones a validar

        </legend>

        <div class="text-right"><%= link_to 'Validar masivamente', pe_validation_massive_form_path(@pe_process) %></div>

        <table class="table table-hover table-bordered table-striped">

          <thead>

          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th>Evaluado</th>
            <% @pe_process.pe_characteristics_gui_validation.each do |pe_characteristic| %>

              <th>
                <%= pe_characteristic.characteristic.nombre %>
              </th>

            <% end %>
            <th>Evaluador</th>
            <th>Relación</th>

            <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

              <% unless pe_evaluation.informative %>

                <th>
                  <%= pe_evaluation.name %>

                  <% if @pe_process.step_assessment_show_final_results_to_boss %>
                    <!--(<%= pe_evaluation.weight %>)-->
                  <% end %>

                </th>

              <% end %>

            <% end %>

            <% if @pe_process.step_assessment_show_final_results_to_boss %>
              <th>Resultado Final</th>
            <% end %>

            <th>Evaluación</th>
            <th>Validación</th>
            <th></th>
          </tr>

          </thead>
          <tbody>

          <% index = 0 %>

          <% @pe_process.pe_member_rels_to_validate_ordered(user_connected).each_with_index do |pe_member_rel| %>

            <% unless pe_member_rel.pe_member_evaluated.removed %>

              <% index += 1 %>

              <tr>
              <td>
                <%= index %>
              </td>
              <td><%= pe_member_rel.pe_member_evaluated.user.codigo %></td>
              <td>
                <%= pe_member_rel.pe_member_evaluated.user.apellidos %>, <%= pe_member_rel.pe_member_evaluated.user.nombre %>

              </td>
              <% @pe_process.pe_characteristics_gui_validation.each do |pe_characteristic| %>

                <td>
                  <% pe_mc = pe_member_rel.pe_member_evaluated.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
                  <%= pe_mc.value if pe_mc %>
                </td>

              <% end %>

              <td>
                <%= pe_member_rel.pe_member_evaluator.user.apellidos %>, <%= pe_member_rel.pe_member_evaluator.user.nombre %>

              </td>

              <td>
                <%= pe_member_rel.pe_rel.alias %>
              </td>

              <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

                <% unless pe_evaluation.informative %>

                  <% if pe_evaluation.has_pe_evaluation_rel(pe_member_rel.pe_rel) %>

                    <% if pe_member_rel.pe_member_evaluated.has_to_be_assessed_in_evaluation pe_evaluation %>

                      <% if pe_member_rel.finished %>

                        <% if !pe_member_rel.valid_evaluator %>
                          <td></td>
                        <% else %>

                          <% pe_assessment_evaluation = pe_member_rel.pe_assessment_evaluation(pe_evaluation) %>

                          <% if pe_assessment_evaluation && pe_assessment_evaluation.percentage >= 0 %>

                            <td style="<%= 'color: #'+pe_assessment_evaluation.pe_dimension_group.text_color+';' if pe_assessment_evaluation.pe_dimension_group %>">
                              <%= number_with_precision(pe_assessment_evaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                              <% if @pe_process.public_pe_dimension_name %>

                                <%= ' - '+pe_assessment_evaluation.pe_dimension_group.name if pe_assessment_evaluation.pe_dimension_group %>

                              <% end %>


                              <% if pe_member_rel.pe_rel.rel == 1 && @pe_process.step_assessment_show_final_results_to_boss %>

                                <% if pe_member_rel.pe_member_evaluated.has_to_be_assessed_in_evaluation(pe_evaluation) %>

                                  <% pe_member_evaluation = pe_member_rel.pe_member_evaluated.pe_member_evaluation pe_evaluation %>
                                  <% weight = pe_member_evaluation ? pe_member_evaluation.weight : pe_evaluation.weight %>



                                    (<%= weight %>)



                                <% end %>

                              <% end %>

                            </td>

                          <% else %>

                            <td></td>

                          <% end %>

                        <% end %>

                      <% else %>

                        <td></td>

                      <% end %>

                    <% else %>

                      <td>
                        <span class="label label-default">No será evaluado</span>
                      </td>

                    <% end %>

                  <% else %>

                    <td>
                      <span class="label label-default">No será evaluado</span>
                    </td>

                  <% end %>

                <% end %>

              <% end %>

              <% if @pe_process.step_assessment_show_final_results_to_boss %>

                <% if pe_member_rel.pe_rel.rel == 1 %>

                  <% if @pe_process.two_dimensions? %>

                    <td>

                      <% if @pe_process.public_pe_box %>

                        <% if pe_member_rel.finished && pe_member_rel.valid_evaluator && pe_member_rel.pe_member_evaluated.pe_box %>

                          <span class="label label-default label-smart-table" style="text-align: center; color: <%= '#'+pe_member_rel.pe_member_evaluated.pe_box.text_color %> !important; background-color: <%= '#'+pe_member_rel.pe_member_evaluated.pe_box.bg_color %>;">
                            <% if pe_member_rel.pe_member_evaluated.pe_box.short_name %>
                              &nbsp;&nbsp;<%= pe_member_rel.pe_member_evaluated.pe_box.short_name %>&nbsp;&nbsp;
                              <br>
                            <% end %>
                            &nbsp;&nbsp;<%= pe_member_rel.pe_member_evaluated.pe_box.name %>&nbsp;&nbsp;
                          </span>

                        <% end %>

                      <% end %>

                    </td>

                  <% else %>

                    <% if pe_member_rel.finished && pe_member_rel.valid_evaluator %>

                      <% pe_assessment_dimension = pe_member_rel.pe_member_evaluated.pe_assessment_dimension(@pe_process.dimension_x) %>

                      <% if pe_assessment_dimension && pe_assessment_dimension.percentage > -1 %>

                        <td style="<%= 'color: #'+pe_assessment_dimension.pe_dimension_group.text_color+';' if  pe_assessment_dimension.pe_dimension_group %>">

                          <%= number_with_precision(pe_assessment_dimension.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                          <% if @pe_process.public_pe_dimension_name %>

                            <%= ' - '+pe_assessment_dimension.pe_dimension_group.name if pe_assessment_dimension.pe_dimension_group %>

                          <% end %>

                        </td>
                      <% else %>
                        <td></td>
                      <% end %>

                    <% else %>

                      <td></td>

                    <% end %>

                  <% end %>

                <% else %>

                  <td></td>

                <% end %>

              <% end %>

              <td>
                <% if pe_member_rel.finished %>
                  <span class="label label-success">Finalizada</span>
                <% else %>
                  <span class="label label-danger">No terminada</span>
                <% end %>
              </td>

              <td>
                <% if pe_member_rel.validated %>
                  <span class="label label-success">Finalizada</span>
                <% else %>
                  <span class="label label-danger">No terminada</span>
                <% end %>
              </td>

              <td>

                <% if pe_member_rel.finished %>

                  <% if pe_member_rel.validated %>

                    <%= link_to 'Consultar', pe_validation_show_path(pe_member_rel) %>

                  <% else %>

                    <%= link_to 'Validar', pe_validation_show_path(pe_member_rel) %>

                  <% end %>


                <% else %>

                  <% if pe_member_rel.validated_at == nil %>

                    <span class="label label-primary">Aún no disponible</span>

                  <% else %>

                    <span class="label label-danger">Observada</span>

                  <% end %>


                <% end %>

              </td>

            </tr>

            <% end %>

          <% end %>
          </tbody>
        </table>

      </div>

    </div>

  </div>

</div>


