<% pe_evaluations = Array.new %>
<% pe_assessment_evaluations = Array.new %>


<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver al cuadro resumen'.html_safe, pe_validation_people_list_path(@pe_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">

    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      <% if @pe_member_rel.pe_rel.rel_name == :auto %>
        Autoevaluación
      <% else %>
        Evaluar <%= @pe_member_rel.pe_rel.alias_reverse.downcase %>
      <% end %>
    </h1>

  </div>

</div>

<div class="row">


  <% if @pe_process.of_persons? %>

    <div class="col-md-5 col-md-offset-1">

      <%= render partial: 'shared/user_profile_mini',
                 locals: {
                   user: @pe_member_evaluated.user,
                   company: @company,
                   ocultar_historial: true,
                   titulo: 'Perfil del Evaluado',
                   is_boss: false

                 }
      %>

    </div>

    <div class="col-md-5">

      <%= render partial: 'shared/user_profile_mini',
                 locals: {
                   user: @pe_member_evaluator.user,
                   company: @company,
                   ocultar_historial: true,
                   titulo: 'Perfil del Evaluador',
                   is_boss: false

                 }
      %>

    </div>

  <% else %>

    <div class="col-md-6 col-md-offset-3">


      <div class="panel panel-default">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12">
              <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-cubes"></i>
                Área evaluada
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member_evaluated.pe_area.name %></span></h3>
            </div>
          </div>

          <br>

          <div class="row">

            <div class="col-md-3 text-center">

              <% if @pe_member_evaluated.user.foto %>
                <img src="https://<%=request.host%>/storage/<%=company_codigo%>/fotos_usuarios/<%=@pe_member_evaluated.user.foto%>" class="img-thumbnail user-foto">
              <% else %>
                <img src="/assets/default_user.png" class="img-thumbnail user-foto">

              <% end %>

            </div>
            <div class="col-md-9">

              <div class="row">
                <div class="col-md-12">
                  <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member_evaluated.user.nombre %> <%= @pe_member_evaluated.user.apellidos %></span></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 ">
                  <a><em><%= @pe_member_evaluated.user.email %></em></a>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

    </div>

  <% end %>


</div>

<script>

  var active_tab_identified = false;
  var id_tab_identified = null;

</script>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="text-center">
      <ul class="nav nav-pills nav-pills-<%= $current_domain %>" style="display: inline-block;">

        <% orden_evaluation = 1 %>

        <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

          <% if @pe_member_evaluated.has_to_be_assessed_in_evaluation(pe_evaluation) %>

            <% if pe_evaluation.has_pe_evaluation_rel(@pe_member_rel.pe_rel) %>

              <li id="tab_pill_<%= pe_evaluation.id %>">
                <a href="#tab_evaluation_<%= pe_evaluation.id %>" data-toggle="tab"><%= orden_evaluation %>. <%= pe_evaluation.name %></a>
              </li>

              <% orden_evaluation +=1 %>
              <% pe_evaluations.push pe_evaluation %>

            <% end %>
          <% end %>

        <% end %>

        <li id="tab_pill_confirm" class="active">
          <a href="#tab_evaluation_confirm" data-toggle="tab"><%= orden_evaluation %>. Validar evaluación</a>
        </li>


      </ul>
    </div>


  </div>
</div>
<br>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="tab-content">

      <% orden_evaluation = 1 %>

      <% pe_evaluations.each do |pe_evaluation| %>

        <% pe_evaluation_rel = pe_evaluation.pe_evaluation_rel(@pe_member_rel.pe_rel) %>


        <div class="tab-pane" id="tab_evaluation_<%= pe_evaluation.id %>">

          <div class="panel panel-default">
            <div class="panel-body">
              <legend><%= orden_evaluation %>. <%= pe_evaluation.name %></legend>

              <% if @pe_member_rel.finished? %>

                <span class="label label-success">Evaluación finalizada</span>

              <% else %>

                <% if lms_time < pe_evaluation_rel.from_date %>

                  La evaluación iniciará el <strong><%= (localize pe_evaluation_rel.from_date, format: :day_snmonth_year) %></strong>

                        <span class="label label-primary">En
                          <%= distance_of_time_in_words(lms_time, pe_evaluation_rel.from_date) %>
                        </span>

                <% else %>

                  <% if lms_time > pe_evaluation_rel.to_date %>

                    La evaluación finalizó el <strong><%= (localize pe_evaluation_rel.to_date, format: :day_snmonth_year) %></strong>

                          <span class="label label-danger">Hace
                            <%= distance_of_time_in_words(lms_time, pe_evaluation_rel.to_date) %>
                          </span>

                  <% else %>

                    La evaluación finalizará el <strong><%= (localize pe_evaluation_rel.to_date, format: :day_snmonth_year) %></strong>

                          <span class="label label-primary">En
                            <%= distance_of_time_in_words(lms_time, pe_evaluation_rel.to_date) %>
                          </span>


                  <% end %>

                <% end %>

              <% end %>


              <% pe_assessment_evaluation = @pe_member_rel.pe_assessment_evaluation(pe_evaluation) %>

              <% pe_assessment_evaluations.push pe_assessment_evaluation %>

              <% if pe_assessment_evaluation %>

                <% if pe_assessment_evaluation.percentage >= 0 && pe_assessment_evaluation.valid_evaluation %>

                  <br>
                  <br>

                  <% if @pe_process.of_persons %>
                    <strong>Resultado.</strong> La persona evaluada ha obtenido
                  <% else %>
                    <strong>Resultado.</strong> El Área evaluada ha obtenido
                  <% end %>

                  <strong>
                    <%= number_with_precision(pe_assessment_evaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
                  </strong>

                <% elsif !pe_assessment_evaluation.valid_evaluation %>
                  <br>
                  <br>
                  <div class="alert alert-danger">La evaluación no será considerada como válida dado que excede el número de preguntas que no puede contestar</div>

                <% end %>

              <% else %>

              <% end %>

            </div>
          </div>

          <% if pe_evaluation.assessment_layout == 0 %>

            <!-- estandar -->

            <% if pe_evaluation.pe_elements.size == 1 %>

              <%= render partial: 'pe_validation/evaluation_standard_1_element',
                         locals: {
                           pe_evaluation: pe_evaluation,
                           pe_assessment_evaluation: pe_assessment_evaluation
                         }
              %>

            <% elsif pe_evaluation.pe_elements.size == 2 %>

              <%= render partial: 'pe_validation/evaluation_standard_2_elements',
                         locals: {
                           pe_evaluation: pe_evaluation,
                           pe_assessment_evaluation: pe_assessment_evaluation
                         }
              %>

            <% end %>

          <% elsif pe_evaluation.assessment_layout == 1 %>

            <!-- objetivos_e_indicadores -->

            <% if pe_evaluation.pe_elements.size == 1 %>

              <!-- indicadores -->

              <%= render partial: 'pe_validation/evaluation_ind',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_assessment_evaluation: pe_assessment_evaluation
                         }
              %>

            <% elsif pe_evaluation.pe_elements.size == 2 %>

              <!-- objetivo indicador -->

              <%= render partial: 'pe_validation/evaluation_goal_ind',
                         locals: {
                           pe_evaluation: pe_evaluation,
                           pe_assessment_evaluation: pe_assessment_evaluation
                         }
              %>

            <% elsif pe_evaluation.pe_elements.size == 3 %>

              <!-- pilar objetivo indicador -->

              <%= render partial: 'pe_validation/evaluation_pilar_goal_ind',
                         locals: {
                           pe_evaluation: pe_evaluation,
                           pe_assessment_evaluation: pe_assessment_evaluation
                         }
              %>

            <% end %>

          <% elsif pe_evaluation.assessment_layout == 2 %>

            <!-- grid_1_elemento -->

            <% if pe_evaluation.pe_elements.size == 1 %>



              <%= render partial: 'pe_validation/evaluation_grid_1_element',
                         locals: {
                           pe_evaluation: pe_evaluation,
                           pe_assessment_evaluation: pe_assessment_evaluation
                         }
              %>

            <% end %>

          <% elsif pe_evaluation.assessment_layout == 3 %>

            <!-- grid_2_elementos -->

            <% if pe_evaluation.pe_elements.size == 2 %>

              <%= render partial: 'pe_validation/evaluation_grid_2_elements',
                         locals: {
                           pe_evaluation: pe_evaluation,
                           pe_assessment_evaluation: pe_assessment_evaluation
                         }
              %>

            <% end %>

          <% elsif pe_evaluation.assessment_layout == 4 %>

            <!-- slider_1_elemento -->

            <% if pe_evaluation.pe_elements.size == 1 %>


            <% end %>

          <% elsif pe_evaluation.assessment_layout == 5 %>

            <!-- slider_2_elementos -->

            <% if pe_evaluation.pe_elements.size == 2 %>

              <%= render partial: 'pe_validation/evaluation_slider_2_elements',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_assessment_evaluation: pe_assessment_evaluation
                         }
              %>

            <% end %>



          <% end %>

        </div>

        <% orden_evaluation +=1 %>

      <% end %>

      <div class="tab-pane active" id="tab_evaluation_confirm">
        <div class="panel panel-default">
          <div class="panel-body">
            <legend><%= orden_evaluation %>. Validar evaluación</legend>

            <% if @pe_member_rel.validated? %>

              <span class="label label-success">Evaluación validada</span>

            <% else %>

              Para dar por validada la evaluación debe confirmar que está de acuerdo con la evaluación realizada.

            <% end %>

          </div>
        </div>

        <%= render partial: 'pe_validation/validate_assessment',
                   locals: {
                     pe_evaluations: pe_evaluations,
                     pe_assessment_evaluations: pe_assessment_evaluations,
                   }
        %>

      </div>

    </div>
  </div>
</div>
