<div class="panel panel-default">
  <div class="panel-body">
    <legend>
      <%= t('views.elec_processes.shared.processes_data') %>
    </legend>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.elec_process.name') %></strong>
      </div>
      <div class="col-md-9">
        <%= @elec_process.name %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.elec_process.description') %></strong>
      </div>
      <div class="col-md-9">
        <%= @elec_process.description.html_safe %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.elec_process.active') %></strong>
      </div>
      <div class="col-md-9">
        <%= label_yes_not @elec_process.active %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Mostrar</strong>
      </div>
      <div class="col-md-9">
        <%= check_box_tag 'show', '1', @what_to_show == 'hist' ? true : false, :id => 'ele_manage_process_show_field', :onchange => 'toggle_hist_open(this)' %>
      </div>
    </div>


  </div>

  <div class="panel-footer clearfix">

    <div class="pull-right">

      <%#= link_to t('views.elec_processes.shared.edit_process') , edit_elec_process_path(@elec_process) %>

    </div>

  </div>
</div>

<script>
  $(function () {
    $('#ele_manage_process_show_field').bootstrapSwitch({
      onColor: 'success',
      onText: "Histórico",
      offColor: 'info',
      offText: "Abiertos",
      size: 'small'
    });
  });

</script>