<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">


  <Worksheet ss:Name="Ranking">
    <Table>
      <Row>
        <Cell>
          <Data ss:Type="String">Categoría</Data>
        </Cell>
        <% if @group_values.any? %>
        <Cell>
          <Data ss:Type="String">Agrupador</Data>
        </Cell>
          <% end %>
        <Cell>
          <Data ss:Type="String">Puesto</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= alias_username %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Apellidos</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Nombres</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Votos</Data>
        </Cell>
      </Row>
      <% @elec_round.elec_process_round.elec_process.elec_process_categories.each do |elec_category| %>
        <% if @group_values.any? %>
          <% @group_values.each do |group_value| %>
            <% users_list = ElecRound.users_list_voted_by_category(@elec_round, elec_category, user_connected, group_value) %>
            <% users_list.each_with_index do |user, index| %>
              <Row>
                <Cell>
                  <Data ss:Type="String"><%= elec_category.name %></Data>
                </Cell>
                <Cell>
                  <Data ss:Type="String"><%= group_value %></Data>
                </Cell>
                <Cell>
                  <Data ss:Type="Number"><%= index + 1 %></Data>
                </Cell>
                <Cell>
                  <Data ss:Type="String"><%= user.codigo %></Data>
                </Cell>
                <Cell>
                  <Data ss:Type="String"><%= user.apellidos %></Data>
                </Cell>
                <Cell>
                  <Data ss:Type="String"><%= user.nombre %></Data>
                </Cell>
                <Cell>
                  <Data ss:Type="String"><%= user.votos %></Data>
                </Cell>
              </Row>
            <% end %>
          <% end %>
        <% else %>
          <% users_list = ElecRound.users_list_voted_by_category(@elec_round, elec_category, user_connected) %>
          <% users_list.each_with_index do |user, index| %>
            <Row>
              <Cell>
                <Data ss:Type="String"><%= elec_category.name %></Data>
              </Cell>
              <Cell>
                <Data ss:Type="Number"><%= index + 1 %></Data>
              </Cell>
              <Cell>
                <Data ss:Type="String"><%= user.codigo %></Data>
              </Cell>
              <Cell>
                <Data ss:Type="String"><%= user.apellidos %></Data>
              </Cell>
              <Cell>
                <Data ss:Type="String"><%= user.nombre %></Data>
              </Cell>
              <Cell>
                <Data ss:Type="String"><%= user.votos %></Data>
              </Cell>
            </Row>
          <% end %>
        <% end %>
      <% end %>
    </Table>
  </Worksheet>


  <Worksheet ss:Name="Detalle de votos">
    <Table>
      <Row>
        <Cell>
          <Data ss:Type="String">Orden</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Fecha</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Categoría</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= alias_username %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Apellidos</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Nombres</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Comentario votante</Data>
        </Cell>
        <% @chars_to_export.each do |elec_char| %>
            <Cell>
              <Data ss:Type="String"><%= elec_char.characteristic.nombre %> - Votante</Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= elec_char.characteristic.nombre %> - Votado</Data>
            </Cell>
        <% end %>
      </Row>
      <% @elec_round.elec_votes.each_with_index do |vote, index| %>
          <Row>
            <Cell>
              <Data ss:Type="String"><%= index + 1 %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= (localize vote.registered_at, format: :day_snmonth_year) %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= vote.elec_process_category.name %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= vote.candidate_user.codigo %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= vote.candidate_user.apellidos %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= vote.candidate_user.nombre %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= vote.comment %></Data>
            </Cell>
            <% @chars_to_export.each do |elec_char| %>
                <% char_voter = vote.user.elec_historic_characteristics.where(:elec_event_id => @elec_round.elec_event_id, :characteristic_id => elec_char.characteristic_id).first%>
                <% char_candidate = vote.candidate_user.elec_historic_characteristics.where(:elec_event_id => @elec_round.elec_event_id, :characteristic_id => elec_char.characteristic_id).first %>
                <Cell>
                  <Data ss:Type="String"><%= char_voter.value if char_voter %> </Data>
                </Cell>
                <Cell>
                  <Data ss:Type="String"><%= char_candidate.value if char_candidate %> </Data>
                </Cell>
            <% end %>
          </Row>
      <% end %>
    </Table>
  </Worksheet>


</Workbook>