<h1 class="page-title txt-color-blueDark">
  <%= icon_elec_module_html_safe %>
  <%= t('views.elec_processes.shared.elec_processes', :count => 2) %>
  <span>> <%= t('views.elec_processes.index.title') %> </span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">


    <legend><%= t('views.elec_processes.index.title') %></legend>

    <table class="table table-hover table-bordered">

      <thead>

      <tr>
        <th><%= t('activerecord.attributes.elec_process.name') %></th>
        <th><%= t('activerecord.attributes.elec_process.description') %></th>
        <th><%= t('activerecord.attributes.elec_process.active') %></th>
        <th>
          &nbsp;
          <%#= link_to t('views.elec_processes.shared.create_new_process') , new_elec_process_path %>
        </th>
      </tr>
      </thead>

      <tbody>

      <% @elec_processes.each do |elec_process| %>
          <tr>
            <td><%= elec_process.name %></td>
            <td><%= elec_process.description.html_safe %></td>
            <td><%= label_yes_not elec_process.active %></td>
            <td>
              <%= link_to t('views.elec_processes.index.show_historic_rounds'), elec_manage_processes_show_path(elec_process, 'hist')  %>
              &nbsp;
              <%= link_to t('views.elec_processes.index.show_open_rounds'), elec_manage_processes_show_path(elec_process, 'open')  %>
            </td>
          </tr>
      <% end %>
      </table>
  </div>
</div>