<div class="row">
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="text-left">
          <ul class="nav-rounds nav nav-pills nav-stacked nav-pills-<%= $current_domain %>" style="display: inline-block;">

            <%# last_position = 0 %>
            <% if @elec_current_events.each do |elec_current_event| %>
                <%# @what_to_show == true => histórico => done %>
                <% open_rounds = elec_current_event.elec_rounds.where(:done => (@what_to_show == 'hist') ? true : false) %>
                <% if open_rounds.size > 0 %>
                    <% if open_rounds.size > 1 %>
                        <li>
                          <a data-toggle="collapse" href="#menu_<%= elec_current_event.id %>">
                            <div class="row">
                              <div class="col-xs-12">
                                <%= elec_current_event.name %>
                              </div>
                            </div>
                          </a>
                        </li>
                        <div class="collapse" id="menu_<%= elec_current_event.id %>">
                          <div class="well">
                            <ul class="nav-rounds-<%= @what_to_show %> nav nav-pills nav-stacked nav-pills-<%= $current_domain %>" style="display: inline-block;">
                              <% open_rounds.each do |round| %>
                                  <li data-id="<%= round.id %>" data-url="<%= elec_manage_processes_show_round_detail_path(round) %>">
                                    <a data-toggle="pill" onclick="load_round(this)" href="#round_<%= round.id %>" data-what-to-show="<%= @what_to_show %>">
                                      <%= round.elec_process_round.name %>
                                    </a>
                                  </li>
                              <% end %>
                            </ul>
                          </div>
                        </div>
                    <% else %>
                        <li data-id="<%= open_rounds.first.id %>" data-url="<%= elec_manage_processes_show_round_detail_path(open_rounds.first) %>">
                          <a data-toggle="pill" onclick="load_round(this)" href="#round_<%= open_rounds.first.id %>" data-what-to-show="<%= @what_to_show %>" >
                            <div class="row">
                              <div class="col-xs-12">
                                <%= elec_current_event.name %>
                              </div>
                            </div>
                          </a>
                        </li>
                    <% end %>
                <% else %>
                    <%= t('views.elec_processes.show.no_open_rounds') %>
                <% end %>

            <% end.empty? %>
                <%= t('views.elec_processes.show.no_open_rounds') %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="tab-content">
      <% @elec_current_events.each do |elec_current_event| %>
          <%# @what_to_show == true => histórico => done%>
          <% open_rounds = elec_current_event.elec_rounds.where(:done => (@what_to_show == 'hist') ? true : false) %>
          <% open_rounds.each do |round| %>
              <div id="round_<%= round.id %>" data-url-show="<%= elec_manage_processes_show_round_open_url(@elec_process.id, @what_to_show, round.id)%>" class="tab-pane <%= if (@elec_round && round.id == @elec_round.id)
                                                                   'active'
                                                                 else
                                                                   'fade'
                                                                 end %>">
                <div class="contentNotLoaded_<%= round.id %>"></div>

                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="panel-body text-center">
                      <i class="fa fa-refresh fa-spin"></i>
                      <%= t('views.elec_processes.shared.loading') %>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>


      <% end %>
    </div>
  </div>
</div>