<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.elec_processes.shared.back_to_list')).html_safe, elec_manage_processes_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%= icon_elec_module_html_safe %>
      <%= @elec_process.name %>
      <span>> <%= t('views.elec_processes.shared.manage_process') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'show' %>
  </div>
</div>
<div class="tab-content">

  <div id="pill_hist" class="tab-pane fade" data-url-call="<%= elec_manage_processes_show_rounds_list_path(@elec_process, 'hist') %>" data-url-show="<%= elec_manage_processes_show_url(@elec_process, 'hist') %>" style="display: none">
    <div class="contentNotLoaded"></div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="panel-body text-center">
          <i class="fa fa-refresh fa-spin"></i>
          <%= t('views.elec_processes.shared.loading') %>
        </div>
      </div>
    </div>
  </div>
  <div id="pill_open" class="tab-pane fade" data-url-call="<%= elec_manage_processes_show_rounds_list_path(@elec_process, 'open') %>" data-url-show="<%= elec_manage_processes_show_url(@elec_process, 'open') %>" style="display: none">
    <div class="contentNotLoaded"></div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="panel-body text-center">
          <i class="fa fa-refresh fa-spin"></i>
          <%= t('views.elec_processes.shared.loading') %>
        </div>
      </div>
    </div>
  </div>


</div>



<script>

  // carga de lista de rondas históricas o abiertas
  function toggle_hist_open(cb) {

    var pill_to_show = ''
    var pill_to_hide = ''


    if ($(cb).prop('checked')) {
      pill_to_show = 'pill_hist'
      pill_to_hide = 'pill_open'

    } else {
      pill_to_show = 'pill_open'
      pill_to_hide = 'pill_hist'
    }

    var url = $('#' + pill_to_show).data('url-call')
    var url_to_show = $('#' + pill_to_show).data('url-show')
    $('#' + pill_to_hide).hide().prop('class', 'tab-pane fade')
    $('#' + pill_to_show).show().prop('class', 'tab-pane active')


    if ($('#' + pill_to_show).find('.contentNotLoaded').size() == 1) {
      call_ajax_load_rounds_list(url, pill_to_show)
    }

    //cambio de url
    var url_to_show
    if ($('#' + pill_to_show).find('li.active > a').size() > 0) {
      url_to_show = $($('#' + pill_to_show).find('li.active > a').attr('href')).data('url-show')
    } else {
      url_to_show = $('#' + pill_to_show).data('url-show')
    }
    window.history.pushState('', '', url_to_show)


  }

  function call_ajax_load_rounds_list(url, pill_to_show) {
    $.ajax({
      url: url,
      type: "post",
      dataType: "html",
      success: function (result) {
        $('#' + pill_to_show).html(result);

        // llamada en cadena al detalle de la ronda
        <% if @elec_round %>
        var li = $('.nav-rounds > li[data-id=<%= @elec_round.id %>]')
        var url = li.data("url")
        li.prop('class', 'active')
        $('#round_<%= @elec_round.id %>').removeClass('fade').addClass('active')

        call_ajax_load_round(url, <%= @elec_round.id %>)
        <% end %>
      }
    })
  }

  <% if @what_to_show %>
  $(document).ready(function () {

    var pill_to_show = 'pill_<%= @what_to_show %>'
    var url = $('#' + pill_to_show).data('url-call')
    $('#' + pill_to_show).show().prop('class', 'tab-pane active')
    call_ajax_load_rounds_list(url, pill_to_show)

  })
  <% end %>

  // carga de rondas

  function load_round(link) {
    var url = $(link).parent().data("url")
    var id = $(link).parent().data("id")
    var what_to_show = $(link).data("what-to-show")
    $('ul.nav-rounds-' + what_to_show + ' > li.active').removeClass('active')

    if ($('#round_' + id).find('.contentNotLoaded_' + id).size() == 1) {
      call_ajax_load_round(url, id)
    }
    //cambio de url
    var url_to_show = $("#round_" + id).data('url-show')
    window.history.pushState('', '', url_to_show)
  }

  function call_ajax_load_round(url, id) {
    $.ajax({
      url: url,
      data: {toggle: "pill"},
      type: "post",
      dataType: "html",
      success: function (result) {
        $("#round_" + id).html(result);
      }
    })
  }


  // cargas de categorías

  function load_cat(link) {
    $(function () {
      var url = $(link).parent().data("url")
      var id = $(link).attr('href')
      //var id = $(link).parent().data("id")
      call_ajax_load_cat(url, id)
    });
  }

  function call_ajax_load_cat(url, id) {
    $.ajax({
      url: url,
      data: {toggle: "tab"},
      type: "post",
      dataType: "html",
      success: function (result) {
        $(id).html(result);
        $('#cat_tabs > li.active > a').attr('onclick', null);
      }
    })
  }


  // seleccionar / quitar candidatos de winners

  function toggle_winner_status_candidate(link) {
    var url = $(link).data('url')
    var text_true = $(link).data('text-true')
    var text_false = $(link).data('text-false')

    $.ajax({
      url: url,
      type: 'POST',
      async: true,
      dataType: "json",
      error: function (XMLHttpRequest, errorTextStatus, error) {
        //alert("Failed: " + errorTextStatus + " ;" + error);
        alert("<%= t('views.elec_processes.shared.error_ajax_call') %>");
        location.reload();

      },
      success: function (data) {

        if (data['final_status'] == true) {
          $(link).text(text_true)
            $(link).closest('.candidate_container').find('.selected_label').show()
        } else {
          $(link).text(text_false)
            $(link).closest('.candidate_container').find('.selected_label').hide()
        }
      }
    });


  }
</script>