<div class="panel panel-default">
  <div class="panel-body">




    <div class="panel-group" id="<%= @elec_round.id.to_s + '_' +@elec_category.id.to_s %>">
      <div class="panel panel-default">
        <% if @group_values.each do |group_value| %>
            <div class="panel-heading" data-toggle="collapse" data-parent="#<%= @elec_round.id.to_s + '_' +@elec_category.id.to_s %>" href="#<%= @elec_round.id.to_s + '_' +@elec_category.id.to_s + '_' + group_value %>">
              <h4 class="panel-title text-align-left">
                <%= group_value %>
              </h4>
            </div>
            <% users_list = ElecRound.users_list_voted_by_category(@elec_round, @elec_category, user_connected, group_value) %>
            <div id="<%= @elec_round.id.to_s + '_' +@elec_category.id.to_s + '_' + group_value %>" class="panel-collapse collapse <%= 'in' if @group_values.first == group_value %>">
              <div class="panel-body">
                <%= render :partial => 'ranking_in_category', :locals => {:users_list => users_list} %>
              </div>
            </div>
        <% end.empty? %>

            <% users_list = ElecRound.users_list_voted_by_category(@elec_round, @elec_category, user_connected) %>
            <%= render :partial => 'ranking_in_category', :locals => {:users_list => users_list} %>

        <% end %>

      </div>
    </div>
  </div>

</div>






