<% dimension_eje_x = @pe_process.dimension_x %>
<% dimension_eje_y = @pe_process.dimension_y %>

<div class="panel panel-default">
  <div class="panel-body">

    <div class="row">
      <div class="col-md-1">
        <div class="pe-dimension">
          <strong>
            <%= dimension_eje_y.name %>
          </strong>
        </div>
      </div>
      <div class="col-md-11">

        <% ancho_grupo = dimension_eje_x.pe_dimension_groups.size > 0 ? 12/dimension_eje_x.pe_dimension_groups.size : 1 %>

        <% dimension_eje_y.pe_dimension_groups.reorder('position DESC').each do |pe_dimension_group_y| %>

          <div class="row">
            <div class="col-md-2">
              <div class="well text-center" style=" <%= 'color: #'+pe_dimension_group_y.text_color+';' %>">

                <strong>
                  <%= pe_dimension_group_y.position.to_s+'. '+pe_dimension_group_y.name %>
                </strong>
                  <% unless pe_dimension_group_y.description.blank? %>

                    <i id="pe_dimension_group_y_description_popover_<%= pe_dimension_group_y.id %>" class="fa fa-info-circle mouse-pointer" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= pe_dimension_group_y.description %>"></i>
                    <script>
                      $('#pe_dimension_group_y_description_popover_<%= pe_dimension_group_y.id %>').popover();
                    </script>

                  <% end %>


                <br>
                <%= pe_dimension_group_y.min_sign %> <%= pe_dimension_group_y.min_percentage %>%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= pe_dimension_group_y.max_sign %> <%= pe_dimension_group_y.max_percentage %>%

              </div>
            </div>

            <div class="col-md-10">

              <div class="row">

                <% dimension_eje_x.pe_dimension_groups.each do |pe_dimension_group_x| %>

                  <% pe_box = @pe_process.pe_box_2d(pe_dimension_group_x.id, pe_dimension_group_y.id) %>

                  <div class="col-md-<%= ancho_grupo %>">

                    <div class="well" style="margin-bottom: 0px; <%= 'background-color: #'+pe_box.bg_color+';' if pe_box %>" >

                      <% if pe_box %>

                        <%
                           pe_members_in_the_box = false
                           number_in_the_box = 0

                           pe_boxes_list.each do |pe_box_aux|

                             if pe_box_aux.id == pe_box.id
                               pe_members_in_the_box = true
                               number_in_the_box += 1
                             end

                           end
                        %>


                        <div class="row">
                          <div class="col-md-10" style="<%= 'color: #'+pe_box.text_color+';' if pe_box %>">
                              <%= pe_box.short_name %>
                              <br>
                              <%= pe_box.name %>
                          </div>
                          <div class="col-md-2" style="<%= 'color: #'+pe_box.text_color+';' if pe_box %>">

                            <% unless pe_box.description.blank? %>

                              <i id="pe_box_description_popover_<%= pe_box.id %>" class="fa fa-info-circle mouse-pointer" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= pe_box.description %>"></i>
                              <script>
                                $('#pe_box_description_popover_<%= pe_box.id %>').popover();
                              </script>

                            <% end %>

                            <% if show_percentage && pe_members_in_the_box %>

                              <% percentage_in_the_box = num_evaluated_pe_members > 0 ? number_in_the_box*100.0/num_evaluated_pe_members : 0 %>

                              <span class="percentage_pe_box_<%= pe_box.id %>">
                                <%= number_with_precision(percentage_in_the_box, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
                              </span>
                            <% end %>

                          </div>
                        </div>


                      <% else %>
                        No definido <i class="fa fa-exclamation-triangle"></i>
                      <% end %>

                    </div>

                    <% if pe_box %>

                      <div style="margin-bottom: 20px; <%= 'padding: 10px;' if pe_members_in_the_box %> border: none;

                        <%= 'background-color: #'+pe_box.soft_bg_color+';' if pe_box.soft_bg_color %>

                      ">

                        <% number_in_the_box = 0 %>

                        <% pe_boxes_list.each_with_index do |pe_box_aux, posicion| %>

                          <% if pe_box_aux.id == pe_box.id %>
                            <% number_in_the_box += 1 %>

                            <% if number_in_the_box == 6 %>
                              <a data-toggle="collapse" data-target="#pe_members_list_full_<%= pe_box.id %>" class="mouse_pointer">
                                ver todos
                              </a>
                              <div id="pe_members_list_full_<%= pe_box.id %>" class="collapse">
                            <% end %>

                            <li class="pe_members_codigo_all pe_member_codigo_<%= pe_members_list[posicion].user.codigo %> pe_member_box_<%= pe_box.id %>" style="<%= 'color: #'+pe_box.text_color+';' if pe_box %>">
                              <%= pe_members_list[posicion].user.apellidos %>
                              <%= pe_members_list[posicion].user.nombre %>
                            </li>


                          <% end %>

                        <% end %>
                        <% if number_in_the_box >= 6 %>
                          </div>
                        <% end %>

                      </div>

                    <% end %>

                  </div>

                <% end %>

              </div>

            </div>

          </div>
        <% end %>

        <div class="row">

          <div class="col-md-10 col-md-offset-2">

            <div class="row">

              <% dimension_eje_x.pe_dimension_groups.each do |pe_dimension_group_x| %>

                <div class="col-md-<%= ancho_grupo %>">
                  <div class="well text-center" style=" <%= 'color: #'+pe_dimension_group_x.text_color+';' %>">
                    <strong>
                      <%= pe_dimension_group_x.position.to_s+'. '+pe_dimension_group_x.name %>
                    </strong>
                    <% unless pe_dimension_group_x.description.blank? %> %>

                      <i id="pe_dimension_group_x_description_popover_<%= pe_dimension_group_x.id %>" class="fa fa-info-circle mouse-pointer" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= pe_dimension_group_x.description %>"></i>
                      <script>
                        $('#pe_dimension_group_x_description_popover_<%= pe_dimension_group_x.id %>').popover();
                      </script>

                    <% end %>


                    <br>
                    <%= pe_dimension_group_x.min_sign %> <%= pe_dimension_group_x.min_percentage %>%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= pe_dimension_group_x.max_sign %> <%= pe_dimension_group_x.max_percentage %>%
                  </div>
                </div>

              <% end %>

            </div>
          </div>
        </div>


      </div>


    </div>

    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-11">
        <div class="row">

          <div class="col-md-10 col-md-offset-2">
            <div class="pe-dimension text-center">
              <strong>
                <%= dimension_eje_x.name %>
              </strong>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
