<%= form_for period, html: {class: 'form-horizontal vac_requests_period_new_form'} do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <legend> <%= t('views.vac_requests_periods.legends.period_info') %> </legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :request_since %>">
        <%= f.label :request_since, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :request_since, class: 'form-control date-picker', :data => {:format => 'dd/MM/yyyy %H:%M'}, :value => f.object.request_since ? f.object.request_since.strftime('%d/%m/%Y %H:%M') : lms_time.strftime('%d/%m/%Y %H:%M'), :readonly => true %>
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :request_until %>">
        <%= f.label :request_until, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :request_until, class: 'form-control date-picker', :data => {:format => 'dd/MM/yyyy %H:%M'}, :value => f.object.request_until ? f.object.request_until.strftime('%d/%m/%Y %H:%M') : lms_time.strftime('%d/%m/%Y %H:%M'), :readonly => true %>
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :approve_since %>">
        <%= f.label :approve_since, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :approve_since, class: 'form-control date-picker', :data => {:format => 'dd/MM/yyyy %H:%M'}, :value => f.object.approve_since ? f.object.approve_since.strftime('%d/%m/%Y %H:%M') : lms_time.strftime('%d/%m/%Y %H:%M'), :readonly => true %>
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :approve_until %>">
        <%= f.label :approve_until, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :approve_until, class: 'form-control date-picker', :data => {:format => 'dd/MM/yyyy %H:%M'}, :value => f.object.approve_until ? f.object.approve_until.strftime('%d/%m/%Y %H:%M') : lms_time.strftime('%d/%m/%Y %H:%M'), :readonly => true %>
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
      </div>


    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit t('views.vac_requests_periods.forms.save'), class: 'btn btn-primary' %>
      </div>
    </div>

  </div>
<% end %>

<script>
    $('.date-picker').datetimepicker({
        language: 'es',
        pickTime: true
    });
</script>