<div class="panel panel-default">
  <div class="panel-body">

    <legend> <%= t('views.vac_requests_periods.legends.period_info') %> </legend>

    <div class="row">
      <div class="col-md-4" align="right"><strong><%= t('activerecord.attributes.vac_requests_period.request_since') %></strong></div>
      <div class="col-md-8"><%= (localize period.request_since, :format => :day_snmonth_year)%></div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4" align="right"><strong><%= t('activerecord.attributes.vac_requests_period.request_until') %></strong></div>
      <div class="col-md-8"><%= (localize period.request_until, :format => :day_snmonth_year)%></div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4" align="right"><strong><%= t('activerecord.attributes.vac_requests_period.request_active') %></strong></div>
      <%= label_yes_not(period.request_active?(lms_time)) %>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4" align="right"><strong><%= t('activerecord.attributes.vac_requests_period.approve_since') %></strong></div>
      <div class="col-md-8"><%= (localize period.approve_since, :format => :day_snmonth_year)%></div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4" align="right"><strong><%= t('activerecord.attributes.vac_requests_period.approve_until') %></strong></div>
      <div class="col-md-8"><%= (localize period.approve_until, :format => :day_snmonth_year) %></div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4" align="right">
        <strong><%= t('activerecord.attributes.vac_requests_period.approve_active') %></strong></div>
      <%= label_yes_not(period.approve_active?(lms_time)) %>
    </div>

    <br>

  </div>

  <% if defined?(editable) and editable %>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= link_to t('views.vac_requests_periods.flow_process.edit'), edit_vac_requests_period_path(period) %>
      </div>
    </div>
  <% end %>
</div>