<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.vac_requests_periods.navigation.back_list_periods')).html_safe, vac_requests_periods_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-suitcase" aria-hidden="true"></i>
      <%= t('views.sc_processes.legends.processes') %>
      <span>> <%= t('views.vac_requests_periods.flow_process.new') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'form',
               :locals => { :period => @vac_requests_period } %>
  </div>
</div>