<% direct_delete = defined?(direct_delete) ? direct_delete : nil %>
<% show_assocs = defined?(show_assocs) ? show_assocs : nil %>
<% editable = defined?(editable) ? editable : nil %>
<% managing = defined?(managing) ? managing : nil %>
<% assign_mode = defined?(assign_mode) ? assign_mode : nil %>
<% include_deactivated = defined?(include_deactivated) ? include_deactivated : nil %>

<% if direct_delete %>
  <div class="row options_to_select" style="display:none;">
    <div class="col-md-12 col-md-offset-0" align="right">
      <%= link_to 'Seleccionar todo', '#', onclick: 'select_all(this)' %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to 'Deseleccionar todo', '#', onclick: 'select_none(this)' %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to 'Eliminar asociación', '#', onclick: 'delete_selected()', id: 'delete_btn', class: 'btn btn-danger disabled delete_btn' %>
    </div>
  </div>
  <br>
<% end %>

<table id="datatable_brg_groups" class="table table-bordered table-striped smart-form table-hover" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <% if direct_delete %>
      <th></th>
    <% end %>
    <th><%= t('activerecord.attributes.brg_group.group_cod') %></th>
    <th><%= t('activerecord.attributes.brg_group.name') %></th>
    <th><%= t('activerecord.attributes.brg_group.description') %></th>
    <% if show_assocs %>
      <th><%= t('activerecord.attributes.brg_group.group_users') %></th>
    <% end %>

    <% if editable %>
      <th>
        <% unless managing || assign_mode %>
          <%= link_to t('views.bp_groups.flow_process.new_group'), brg_groups_new_path(process) %>
          &nbsp;&nbsp;&nbsp;
          <%= link_to t('views.brg_module.flow_process.massive_upload_group'), brg_groups_groups_massive_upload_path(process) %>
          <hr>
          <%= link_to t('views.brg_module.flow_process.massive_upload_group_user'), brg_groups_group_users_massive_upload_path %>
        <% end %>
      </th>
    <% end %>
  </tr>

  <tr class="second">
    <% if direct_delete %>
      <td><label class="input hidden"><input type="text" name="search_checkbox" value="" class="search_init"></label></td>
    <% end %>
    <td><label class="input hidden"><input type="text" name="search_num" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_cod" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_name" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_description" value="" class="search_init"></label></td>
    <% if show_assocs %>
      <td><label class="input"><input type="text" name="search_group_users" value="" class="search_init"></label></td>
    <% end %>
    <% if  editable %>
  <td></td>
      <% end %>
  </tr>
  </thead>

  <% groups.each_with_index do |group, index| %>
    <% if direct_delete %>
      <tr id="<%= group.id %>_tr_message_container" style="display:none;">
        <td id="<%= group.id %>_td_message_container" class="td_div_message" colspan="<%= show_assocs ? '8' : '7' %>">
          <div class="alert alert-success div-message"><%= t('views.brg_module.flash_messages.delete_success') %></div>
        </td>
      </tr>
    <% end %>

    <tr id="<%=group.id%>_tr_container">
      <% if direct_delete %>
        <td>
          <input class="form-check-input position-static group_checkbox" type="checkbox" value="<%= group.id %>" data-url="<%= brg_groups_deactivate_group_ajax_path(group) %>" aria-label="...">
        </td>
      <% end %>
      <td><%= index + 1 %></td>
      <td><%= group.group_cod %></td>
      <td><%= group.name %></td>
      <td><%= group.description %></td>
      <% if show_assocs %>
        <td>
          <% group_users = include_deactivated ? group.brg_group_users : group.active_relations %>
          <% if group_users.size > 0 %>
            <table class="table borderless" style="font-size: 11px;" width="100%">
              <tbody>
              <% group_users.each do |assoc| %>
                <tr>
                  <td title="<% t('activerecord.attributes.brg_group.registered_by_user_id')+': '+assoc.full_registered_by_user(true)+'('+(localize  assoc.registered_at, format: :day_snmonth_year)+')'%>">
                    <% if defined?(include_deactivated) && include_deactivated %>
                      <div class="col-md-8"><%= assoc.full_user(true) %></div>
                      <div class="col-md-4"><%= label_message_datable(assoc.active, assoc.active_text) %></div>
                    <% else %>
                      <%= assoc.full_user(true) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        </td>
      <% end %>
      <% if editable %>
        <td>
          <% if managing %>
            <%= link_to t('views.brg_module.flow_process.delete_assoc'), brg_managers_deactivate_relation_path(BrgManageRelation.relation_of(manager.id, nil, group.id), t('views.brg_module.tabs.manage_manager.group_manage')), class: 'btn btn-danger btn-xs', data: {confirm: t('views.brg_module.confirmation_messages.delete_asign')}, method: :post %>
          <% else %>
            <% if direct_delete %>
              <%= link_to t('views.brg_module.flow_process.delete_group'), '#', onclick: 'delete_group(this)', class: 'btn btn-danger btn-xs', data: {group_id: group.id, url: brg_groups_deactivate_group_ajax_path(group)} %>
            <% else %>
              <% if assign_mode %>
                <% if group.managed_by?(manager.user_id) %>
                  <i class="fa fa-check fa-lg" style="color: green;"><%= t('views.brg_module.messages.already_assigned') %></i>
                <% else %>
                  <%= link_to t('views.brg_module.flow_process.assoc_group'), brg_managers_assoc_group_2_path(group, manager), method: :post %>
                <% end %>
              <% else %>
                <% if group.editable? %>
                  <%= link_to t('views.bp_groups.flow_process.manage'), brg_groups_manage_path(group) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_brg_groups'} %>

<% if direct_delete %>
  <script>
      function verify_checkboxes_selected() {
          if ($(":checkbox:checked.group_checkbox").size() > 0) {
              $(".delete_btn").removeClass('disabled')
          } else {
              $(".delete_btn").addClass('disabled')
          }
      }

      function verify_exists_checkboxes() {
          if ($(".group_checkbox").size() > 0) {
              $(".options_to_select").show();
          } else {
              $(".options_to_select").hide();
          }
      }

      function verify_checkboxes() {
          verify_checkboxes_selected()
          verify_exists_checkboxes()
      }

      $('.group_checkbox').on('change', function (e) {
          verify_checkboxes()
      })

      function select_all() {
          $(":checkbox.group_checkbox").prop('checked', true);
          verify_checkboxes()
      }

      function select_none() {
          $(":checkbox.group_checkbox").prop('checked', false);
          verify_checkboxes()
      }

      function delete_selected() {
          if (confirm("<%= t('views.brg_module.confirmation_messages.delete_group')%>")) {
              $(":checkbox:checked.group_checkbox").each(function () {
                  group_id = $(this).attr('value');
                  url = $(this).data('url');
                  delete_group_ajax(group_id, url)
              });
          }
      }

      function delete_group(link) {
          if (confirm("<%= t('views.brg_module.confirmation_messages.delete_group')%>")) {
              delete_group_ajax($(link).data('group-id'), $(link).data('url'))
          }
      }

      function delete_group_ajax(group_id, url) {
          tr_user_to_register = '#' + group_id + '_tr_container';
          tr_message_container = '#' + group_id + '_tr_message_container';
          $.ajax({
              url: url,
              type: "post",
              dataType: "html",
              success: function () {
                  $('#' + group_id + '_tr_container').toggle(900).remove();
                  $('#' + group_id + '_tr_message_container').toggle(900).delay(2000).toggle(500);
                  verify_checkboxes()
              }
          })
      }

      verify_checkboxes()
  </script>
<% end %>