<div class="row options_to_select" style="display:none;">
  <div class="col-md-12 col-md-offset-0" align="right">
    <%= link_to 'Seleccionar todo', '#', onclick: 'select_all(this)' %>
    &nbsp;&nbsp;&nbsp;
    <%= link_to 'Deseleccionar todo', '#', onclick: 'select_none(this)' %>
    &nbsp;&nbsp;&nbsp;
    <%= link_to 'Eliminar asociación', '#', onclick: 'delete_selected()', id: 'delete_btn', class: 'btn btn-danger disabled delete_btn' %>
  </div>
</div>

<br>
<table id="datatable_brg_group_users" class="table table-bordered table-striped smart-form table-hover" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <% if defined?(editable) && editable %>
    <th></th>
    <% end %>
    <th>#</th>

    <% if defined?(show_group) && show_group %>
      <th><%= t('activerecord.attributes.brg_group.group_cod') + ' de grupo' %></th>
      <th><%= t('activerecord.attributes.brg_group.name') + ' de grupo' %></th>
    <% end %>
    <th><%= alias_username %></th>
    <th><%= t('activerecord.attributes.brg_group_user.user_lastname') %></th>
    <th><%= t('activerecord.attributes.brg_group_user.user_name') %></th>
    <% if defined?(active) && active %>
      <th><%= t('activerecord.attributes.brg_group_user.active') %></th>
    <% end %>
    <% if defined?(editable) && editable %>
      <th><%= link_to t('views.brg_module.flow_process.new'), brg_groups_search_user_for_assign_path(group, group.brg_process) if defined?(group) && group.editable? %></th>
    <% end %>
  </tr>

  <tr class="second">
    <% if defined?(editable) && editable %>
      <td><label class="input hidden"><input type="text" name="search_checkbox" value="" class="search_init"></label></td>
    <% end %>
    <td><label class="input hidden"><input type="text" name="search_num" value="" class="search_init"></label></td>

    <% if defined?(show_group) && show_group %>
      <td><label class="input"><input type="text" name="search_group_cod" value="" class="search_init"></label></td>
      <td><label class="input"><input type="text" name="search_group_name" value="" class="search_init"></label></td>
    <% end %>
    <td><label class="input"><input type="text" name="search_user_cod" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_lastname" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_name" value="" class="search_init"></label></td>
    <% if defined?(active) && active %>
      <td><label class="input"><input type="text" name="search_active" value="" class="search_init"></label></td>
    <% end %>
    <% if defined?(editable) && editable %>
      <td></td>
    <% end %>
  </tr>
  </thead>

  <% group_users.each_with_index do |assoc, index| %>
    <% if defined?(editable) && editable %>
      <tr id="<%= assoc.id %>_tr_message_container" style="display:none;">
        <td id="<%= assoc.id %>_td_message_container" class="td_div_message" colspan="8">
          <div class="alert alert-success div-message"><%= t('views.brg_module.flash_messages.delete_success') %></div>
        </td>
      </tr>
    <% end %>

    <tr id="<%=assoc.id%>_tr_container">
      <% if defined?(editable) && editable %>
        <td>
          <input class="form-check-input position-static assoc_checkbox" type="checkbox" value="<%= assoc.id %>" data-url="<%= brg_groups_group_user_deactivate_path(assoc) %>" aria-label="...">
        </td>
      <% end %>
      <td><%= index + 1 %></td>
      <% if defined?(show_group) && show_group %>
        <td><%= assoc.brg_group.group_cod %></td>
        <td><%= assoc.brg_group.name %></td>
      <% end %>
      <td><%= assoc.user.codigo %></td>
      <td><%= assoc.user.apellidos %></td>
      <td><%= assoc.user.nombre %></td>
      <% if defined?(active) && active %>
        <td><%= label_yes_not_datable(assoc.active) %></td>
      <% end %>
      <% if defined?(editable) && editable %>
        <td><%= link_to t('views.brg_module.flow_process.delete_assoc'), '#', onclick: 'delete_assoc(this)', class: 'btn btn-danger btn-xs', data: {assoc_id: assoc.id, url: brg_groups_group_user_deactivate_path(assoc)} %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_brg_group_users'} %>


<% if defined?(editable) && editable %>
  <script>
      function verify_checkboxes_selected() {
          if ($(":checkbox:checked.assoc_checkbox").size() > 0) {
              $(".delete_btn").removeClass('disabled')
          } else {
              $(".delete_btn").addClass('disabled')
          }
      }

      function verify_exists_checkboxes() {
          if ($(".assoc_checkbox").size() > 0) {
              $(".options_to_select").show();
          } else {
              $(".options_to_select").hide();
          }
      }

      function verify_checkboxes() {
          verify_checkboxes_selected()
          verify_exists_checkboxes()
      }

      $('.assoc_checkbox').on('change', function (e) {
          verify_checkboxes()
      })

      function select_all() {
          $(":checkbox.assoc_checkbox").prop('checked', true)
          verify_checkboxes()
      }

      function select_none() {
          $(":checkbox.assoc_checkbox").prop('checked', false)
          verify_checkboxes()
      }

      function delete_selected() {
          if (confirm("<%= t('views.brg_module.confirmation_messages.delete_assoc')%>")) {
              $(":checkbox:checked.assoc_checkbox").each(function () {
                  assoc_id = $(this).attr('value');
                  url = $(this).data('url');
                  delete_assoc_ajax(assoc_id, url)
              });
          }
      }

      function delete_assoc(link) {
          if (confirm("<%= t('views.brg_module.confirmation_messages.delete_assoc')%>")) {
              delete_assoc_ajax($(link).data('assoc-id'), $(link).data('url'))
          }
      }

      function delete_assoc_ajax(assoc_id, url) {
          tr_user_to_register = '#' + assoc_id + '_tr_container';
          tr_message_container = '#' + assoc_id + '_tr_message_container';
          $.ajax({
              url: url,
              type: "post",
              dataType: "html",
              success: function () {
                  $('#' + assoc_id + '_tr_container').toggle(900).remove();
                  $('#' + assoc_id + '_tr_message_container').toggle(900).delay(2000).toggle(500);
                  verify_checkboxes()
              }
          })
      }

      verify_checkboxes()
  </script>
<% end %>