<%= render partial: 'shared/module_header_navigation',
           locals: { icon: t('views.brg_module.icon'),
                     go_back_col: 0,
                     legends: [t('views.brg_module.name')]} %>

<div class="row">
  <div class="col-md-12 col-md-offset-0">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> Lista de procesos activos </legend>
        <%= render partial: 'brg_processes/processes_datatable',
                   locals: {processes: BrgProcess.active,
                            show_processed: true,
                            editable: true} %>
        </div>
      </div>
    </div>
  </div>
