<%= render partial: 'shared/module_header_navigation',
           locals: { icon: t('views.brg_module.icon'),
                     go_back_col: 3,
                     go_back_link: brg_processes_manage_path(@group.brg_process),
                     go_back_text: t('views.brg_module.backlist.manage_process'),
                     legends: [@group.brg_process.alias, @group.name, t('views.brg_module.flow_process.manage')]} %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'group_show',
               locals: { group: @group, editable: true } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'group_users_datatable',
                   locals: {editable: true,
                            group_users: @group.active_relations,
                            group: @group} %>
      </div>
    </div>
  </div>
</div>