<%= form_for @sel_req_item, html: {class: 'form-horizontal'} do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Datos del Item del formulario de solicitud</legend>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.hidden_field :sel_req_template_id %>

        <div class="form-group <%= field_with_errors f, :position %>">
          <%= f.label :position, 'Orden', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.number_field :position, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :name %>">
          <%= f.label :name, 'Nombre', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :description %>">
          <%= f.label :description, 'Descripción', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_area :description, :rows => 3, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :mandatory, 'Obligatorio', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :mandatory} %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :show_on_table, 'Listar', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :show_on_table} %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :active, 'Activo', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :active} %>
          </div>
        </div>
        <% if @sel_req_item.sel_requirement_values.any? %>
            <% item_type_array = {SelReqItem.alternative_item_type[@sel_req_item.item_type] => @sel_req_item.item_type} %>
        <% else %>
            <% item_type_array = SelReqItem.alternative_item_type.each_with_index.map { |item_type, index| [item_type, index] } %>
        <% end %>
        <div class="form-group <%= field_with_errors f, :item_type %>">
          <%= f.label :item_type, 'Tipo de dato', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.select(:item_type, options_for_select(item_type_array, @sel_req_item.item_type), {}, {onchange: 'toggle_options_container();', class: 'form-control'}) %>
          </div>
        </div>
        <% if @sel_req_item.sel_requirement_values.any? %>
          <% char_array = {@sel_req_item.item_type.characteristic.nombre => @sel_req_item.item_type.characteristic_id} %>
        <% else %>
          <% char_array = Characteristic.available_to_other_modules.map { |char| [char.nombre, char.id] } %>
        <% end %>
        <div id="characteristic_container" class="form-group <%= field_with_errors f, :item_type %>">
          <%= f.label :characteristic_id, 'Característica', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.select(:characteristic_id, options_for_select(char_array, @sel_req_item.characteristic_id), {include_blank: '- Seleccionar -'}, {class: 'form-control'}) %>
          </div>
        </div>
        <div id="select2_list_container" class="form-group">
          <%= f.label :select2_list, 'Select2 control', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :select2_list} %>
          </div>
        </div>
        <div id="options_container">
          <div class="panel panel-default">
            <div class="panel-body">

              <legend>Opciones</legend>
              <%= f.fields_for :sel_req_options do |f_options| %>

                  <%= render 'form_option', :f => f_options %>

              <% end %>
            </div>
            <div class="panel-footer clearfix">
              <div class="pull-right">
                <%= link_to_add_item_options 'Añadir opcion', f %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>

<script>

  function toggle_options_container() {
    if ($('#sel_req_item_item_type').val() == 3) {
      $('#options_container').show();
      $('#select2_list_container').show();
    } else {

        if ($('#sel_req_item_item_type').val() == 7) {
            $('#characteristic_container').show();
        } else {
            $('#characteristic_container').hide();
        }
      $('#options_container').hide();
      $('#select2_list_container').hide();
    }
  }


  //Opciones
  function remove_option(link, used) {
    if (used == 0) {
      var r = confirm("¿Está seguro?");
      if (r == true) {
        $(link).prev('input[type=hidden]').val(1)
        $(link).closest('.option').hide();
      }
    } else {
      var r = confirm("¿Está seguro? Se perderán los datos asociados a las solicitudes ya registradas.");
      if (r == true) {
        $(link).prev('input[type=hidden]').val(1)
        $(link).closest('.option').hide();
      }
    }
  }

  function add_option(link, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp('new_option', 'g')
    $(link).parent().before(content.replace(regexp, new_id))
  }

  $(document).ready(function () {
    toggle_options_container();
  });
</script>
</script>