<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @kpi_measurement.value %>
</p>

<p>
  <b>Percentage:</b>
  <%= @kpi_measurement.percentage %>
</p>

<p>
  <b>Kpi indicator:</b>
  <%= @kpi_measurement.kpi_indicator %>
</p>

<p>
  <b>Measured at:</b>
  <%= @kpi_measurement.measured_at %>
</p>


<%= link_to 'Edit', edit_kpi_measurement_path(@kpi_measurement) %> |
<%= link_to 'Back', kpi_measurements_path %>
