<div class="panel panel-default specific_question">
  <div class="panel-body">
    <div class="form-group <%= field_with_errors f, :position %>">
      <%= f.label :position, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.number_field :position, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :question %>">
      <%= f.label :question, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :question, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_area :description, :rows => 3, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :mandatory , class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :mandatory} %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :show_in_list_of_candidates, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :show_in_list_of_candidates} %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :accepts_attachment, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :accepts_attachment} %>
      </div>
    </div>
  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      <%= link_to_remove_process_question('Eliminar', f) %>
    </div>
  </div>
</div>