<h1>Listing pe_question_activity_statuses</h1>

<table>
  <tr>
    <th>Pe evaluation</th>
    <th>Position</th>
    <th>Name</th>
    <th>Color</th>
    <th>Completed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pe_question_activity_statuses.each do |pe_question_activity_status| %>
  <tr>
    <td><%= pe_question_activity_status.pe_evaluation %></td>
    <td><%= pe_question_activity_status.position %></td>
    <td><%= pe_question_activity_status.name %></td>
    <td><%= pe_question_activity_status.color %></td>
    <td><%= pe_question_activity_status.completed %></td>
    <td><%= link_to 'Show', pe_question_activity_status %></td>
    <td><%= link_to 'Edit', edit_pe_question_activity_status_path(pe_question_activity_status) %></td>
    <td><%= link_to 'Destroy', pe_question_activity_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pe question activity status', new_pe_question_activity_status_path %>
