<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar la evaluación'.html_safe, @pe_evaluation, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Estado para actividades de plan de capacitación </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/show' %>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos de la evaluación
        </legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Dimensión</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.pe_dimension.name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Peso</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.weight %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.description %>
          </div>
        </div>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos del estado
        </legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Posición</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_question_activity_status.position %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_question_activity_status.name %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">

            <div class="small-box-color" style="background-color: <%= '#'+@pe_question_activity_status.color%>;">&nbsp;</div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>¿Finaliza?</strong>
          </div>
          <div class="col-md-9">

            <% if @pe_question_activity_status.completed %>
              <span class="label label-success">Sí</span>
            <% else %>
              <span class="label label-danger">No</span>
            <% end %>

          </div>
        </div>

      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to 'Editar', edit_pe_question_activity_status_path(@pe_question_activity_status) %>
        </div>
      </div>

    </div>

  </div>
</div>

