<%= form_for @j_generic_skill, html: {class: 'form-horizontal', role: 'form'} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos de la competencia</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :j_job_level_id %>

      <div class="row">

        <div class="col-md-3 text-right">
          <strong>Familia de puestos de trabajo</strong>
        </div>

        <div class="col-md-9">

          <%= @j_job_level.name %>

        </div>

      </div>
      <br>

      <div class="form-group <%= field_with_errors f, :name %>">

        <%= f.label :name, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :name, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :description %>">

        <%= f.label :description, 'Descripción', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_area :description, class: 'form-control', rows: '5' %>

        </div>

      </div>


    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
