<h1 class="page-title txt-color-blueDark">
  <%= icon_blog_module_html_safe %>
  <%= t('views.blog_lists.shared.blog_lists.other') %>
  <span>> <%= t('views.blog_lists.index.title') %> </span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">


    <legend><%= t('views.blog_lists.index.title') %></legend>

    <table class="table table-hover table-bordered">

      <thead>

      <tr>
        <th><%= t('activerecord.attributes.blog_list.name') %></th>
        <th><%= t('activerecord.attributes.blog_list.description') %></th>
        <th><%= t('activerecord.attributes.blog_list.active') %></th>
        <th>
          <%= link_to t('views.blog_lists.shared.create_new_list') , new_blog_list_path %>
        </th>
      </tr>
      </thead>

      <tbody>

      <% @blog_lists.each do |blog_list| %>
          <tr>
            <td><%= blog_list.name %></td>
            <td><%= blog_list.description.html_safe %></td>
            <td><%= label_yes_not blog_list.active %></td>
            <td><%= link_to t('views.blog_lists.shared.manage_lists'), blog_list %></td>
          </tr>
      <% end %>
      </table>
  </div>
</div>
