<%= form_for sel_appointment, :url => sel_process_config_particular_agenda_path(sel_appointment.sel_process_step.sel_process_id, sel_step_candidate), html: {class: 'form-horizontal'} do |f| %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3><%= sel_appointment.description %></h3>
      </div>
      <div class="modal-body">
        <%= f.hidden_field :description, class: 'form-control' %>
        <div class="form-group <%= field_with_errors f, :from_datetime %>">
          <%= f.label :from_datetime, 'Inicio', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <div class="input-group date">
              <%= f.text_field :from_datetime, class: 'form-control datetimepicker fromdatetime', :data => {:format => 'dd/MM/yyyy HH:MM'}, :value => f.object.from_datetime ? f.object.from_datetime.strftime('%d/%m/%Y %H:%M') : lms_time.strftime('%d/%m/%Y %H:%M'), :readonly => true %>
              <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
            </div>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :to_datetime %>">
          <%= f.label :to_datetime, 'Fin', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <div class="input-group date">
              <%= f.text_field :to_datetime, class: 'form-control datetimepicker todatetime', :data => {:format => 'dd/MM/yyyy HH:MM'}, :value => f.object.to_datetime ? f.object.to_datetime.strftime('%d/%m/%Y %H:%M') : lms_time.strftime('%d/%m/%Y %H:%M'), :readonly => true %>
              <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <%= f.submit 'Agendar', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>