<div class="panel panel-default option">
  <div class="panel-body">

    <% used = f.object.sel_step_results.count %>
    <% need_to_confirm = used > 0 ? 1 : 0 %>
    <% if used > 0 %>
    <div class='alert alert-danger'>
      Existen <%= used %> respuestas asociadas a esta característica.
    </div>
    <% end %>


    <%#= f.hidden_field :sel_characteristic_id, :value => @sel_characteristic.id %>
    <div class="form-group <%= field_with_errors f, :position %>">
      <%= f.label :position, 'Orden', class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.text_field :position, class: 'form-control', :disabled => !@is_editable %>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :name %>">
      <%= f.label :name, 'Nombre', class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.text_field :name, class: 'form-control', :disabled => !@is_editable %>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :description %>">
      <%= f.label :description, 'Descripción', class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.text_area :description, :rows => 3, class: 'form-control', :disabled => !@is_editable  %>
      </div>
    </div>

    <% if @is_editable %>

      <div class="pull-right">
        <%= link_to_remove_process_characteristic 'Eliminar', f, need_to_confirm %>
      </div>

    <% end %>

  </div>
</div>