<div class="panel panel-default">
  <div class="panel-body">
    <legend>
      <%= @sel_process_step.sel_step.position.to_s %>.
      <%= @sel_process_step.sel_step.name %>

    </legend>

    <%= @sel_process_step.sel_step.description %>

  </div>
</div>

<div class="panel panel-default">

  <div class="panel-body">
    <div class="row">
      <div class="col-md-12 ">

        <div class="text-right">

          <% @sel_process_step.sel_step.sel_characteristics.where(:configurable => true).each do |sel_char| %>
            <%= link_to 'Configurar ' + sel_char.name.downcase, sel_processes_show_config_characteristics_path(@sel_process_step.id, sel_char.id) %>
            <% already_config = SelProcessCharacteristic.where(:sel_process_step_id => @sel_process_step, :sel_characteristic_id => sel_char.id) %>
            <%= '(' + already_config.count.to_s + ')' %>
            &nbsp;&nbsp;
          <% end %>


          <a href="#" data-url="<%= sel_processes_show_config_appointments_path @sel_process_step %>" onclick="show_config_appointments(this);">Configurar
            agenda</a>&nbsp;&nbsp;
          <a href="#" data-url="<%= sel_processes_show_set_appointments_path @sel_process_step %>" onclick="show_set_appointments(this);">Asignar
            agenda</a>&nbsp;&nbsp;
          <a href="#" data-url="<%= sel_process_show_assign_users_path @sel_process_step %>" onclick="show_assign_attendants(this);">Asignar
            responsables</a>&nbsp;&nbsp;
        </div>

        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Candidato</th>
            <th>Fecha</th>
            <% @sel_process_step.sel_step.sel_characteristics.each do |sel_char| %>
              <th data-sel_char_id="<%= sel_char.id.to_s %>"><%= sel_char.name %></th>
            <% end %>
            <th>Responsable(s)</th>
            <th>Estado</th>
          </tr>
          </thead>
          <tbody>
          <% @sel_process_step.sel_step_candidates_ordered_by_name_not_excluded.each_with_index do |step_candidate, index_c| %>
            <tr>
              <td><%= index_c + 1 %></td>
              <td>
                <a href="#<%= SelApplicant.where(:sel_process_id => step_candidate.sel_process_step.sel_process_id, :jm_candidate_id => step_candidate.jm_candidate_id).first.id.to_s + '_ficha' %>" data-toggle="modal" data-dismiss="focus" title="Ver ficha del candidato">
                  <%= step_candidate.jm_candidate.full_name_2 %>
                </a>

                <% if step_candidate.sel_evaluation_attachments.any? %>
                  &nbsp;
                  <a href="#" data-url="<%= sel_processes_list_evaluation_attachments_path(step_candidate.id) %>" onclick="load_evaluation_files(this);"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
                <% end %>
              </td>
              <td>
                <% if step_candidate.final_appointment_date || step_candidate.sel_appointment_id %>
                  <%

                    if step_candidate.final_appointment_date
                      date_calendar = localize(step_candidate.final_appointment_date, format: :day_snmonth_year)
                      title_calendar = 'Realizado el ' + localize(step_candidate.final_appointment_date, format: :day_snmonth_year)
                      class_span = 'label label-default'
                    else
                      date_calendar = localize(step_candidate.sel_appointment.from_datetime, format: :day_snmonth_year)
                      title_calendar = 'Agendado para ' + localize(step_candidate.sel_appointment.from_datetime, format: :day_snmonth_year) + ' (' +
                          step_candidate.sel_appointment.from_datetime.strftime('%H:%M') + ')'
                      class_span = 'label label-primary'
                    end
                  %>
                  <span class="<%= class_span %>" title="<%= title_calendar %>">
                  <%= date_calendar %>
                  </span>
                <% elsif !step_candidate.exonerated && !step_candidate.done %>
                  &nbsp;
                  <%= link_to '<i class="fa fa-calendar"></i>'.html_safe, '#', class: 'trigger_form_agenda', :title => 'Agendar evaluación', :data => {:toggle => 'modal', :url => sel_process_show_config_particular_agenda_path(@sel_process_step.sel_process_id, step_candidate)} %>
                <% end %>
              </td>
              <% if step_candidate.exonerated %>
                <td colspan="<%= (@sel_process_step.sel_step.sel_characteristics.count).to_s %>">
                        <span class="label label-warning">
                        Exonerado
                      </span>
                  <% if !step_candidate.exonerated_comment.blank? %>
                    &nbsp;
                    <a href="#" data-toggle="popover" title="<%= step_candidate.exonerated_by_user.full_name %> comentó:" data-content="<%= step_candidate.exonerated_comment %>" data-placement="top" data-trigger="focus"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                  <% end %>
                  <% if step_candidate_exonerate_editable?(step_candidate) %>
                    &nbsp;
                    <%= link_to 'revertir', sel_processes_undo_exonerate_path(step_candidate.id), :confirm => '¿Está seguro?' %>
                  <% end %>
                </td>
              <% else %>


                <%# @sel_process_step.sel_step.sel_step_characteristics.each do |sel_step_char| %>
                <% @sel_process_step.sel_step.sel_characteristics.each do |sel_char| %>

                  <%# if !sel_char.configurable? %>
                  <% sel_step_char = SelStepCharacteristic.where(:sel_characteristic_id => sel_char.id, :sel_step_id => @sel_process_step.sel_step_id).first %>

                  <% results = SelStepResult.where(:sel_step_characteristic_id => sel_step_char.id, :sel_step_candidate_id => step_candidate.id) %>
                  <% if results.count > 0 %>

                    <td data-sel_step_char_id="<%= sel_step_char.id.to_s %>" data-sel_step_candidate_id="<%= step_candidate.id.to_s %>">
                      <% results.each do |result| %>

                        <%= result.sel_process_characteristic.name if result.sel_process_characteristic %>

                        <span class="label label-default" style="background-color: <%= '#' + result.sel_option.color %>">
                                    <%= result.sel_option.name %> <%= '(' + result.non_discrete_result.to_s + ')' if result.sel_characteristic.option_type == 1 %>
                                  </span>
                        &nbsp;
                        <% if !result.comment.blank? %>
                          <a href="#" data-toggle="popover" title="<%= result.registered_by_user.full_name %> comentó:" data-content="<%= result.comment %>" data-placement="top" data-trigger="focus"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                        <% end %>
                        <%= '<hr>'.html_safe if results.last() != result %>
                      <% end %>
                    </td>

                  <% else %>
                    <td data-sel_step_char_id="<%= sel_step_char.id.to_s %>" data-sel_step_candidate_id="<%= step_candidate.id.to_s %>">
                             <span class="label label-default">
                              No Evaluado
                               </span>
                    </td>
                  <% end %>

                  <%# else %>


                  <%# end %>

                <% end %>


              <% end %>
              <td>
                <% if step_candidate.sel_attendants.count > 0 %>
                  <% step_candidate.sel_attendants.each do |sel_attendant| %>
                    <li>
                      <%= sel_attendant.user.comma_full_name %> <%= ' (P)' if sel_attendant.role == false %>
                    </li>
                  <% end %>
                <% else %>
                        <span class="label label-danger">
                          No asignado
                        </span>
                <% end %>
              </td>
              <td>
                <% if step_candidate.done %>
                        <span class="label label-success">
                          Finalizado
                        </span>
                  &nbsp;
                  <%= link_to 'reabrir', sel_processes_undo_set_results_done_path(step_candidate.id), :confirm => 'Está seguro?' if is_step_candidate_reaperturable?(step_candidate) %>
                <% else %>
                        <span class="label label-danger">
                          No finalizado
                        </span>

                  <% if step_candidate_exonerate_editable?(step_candidate) && !step_candidate.exonerated %>
                    &nbsp;
                    <%= link_to 'Exonerar', '#', class: 'trigger_form_exonerate', :title => step_candidate.jm_candidate.full_name_2, :data => {:placement => 'bottom', :url => sel_processes_exonerate_path(step_candidate.id)} %>
                  <% end %>
                  <% if step_candidate.sel_attendants.where(user_id: user_connected.id).any? && !step_candidate.done? %>
                    &nbsp;
                    <% label = step_candidate.sel_step_results.any? ? 'Actualizar resultados' : 'Ingresar resultados' %>
                    <%= link_to label, sel_input_results_from_process_path(step_candidate, 1) %>
                  <% end %>
                <% end %>
              </td>

            </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<div id="exonerate_form" style="display: none">
  <%= form_tag '_blank', class: 'form-horizontal' do %>
    <div>
      <%= text_area_tag 'comment', '', :placeholder => 'Ingrese un comentario', :rows => 3, :required => true %>
    </div>
    <div class="text-right">
      <%= submit_tag 'Guardar', class: 'btn btn-primary' %>
    </div>


  <% end %>
</div>

<script>
    function show_assign_attendants(link) {
        var url = $(link).data('url');
        var left = ($(window).width() / 2) - (900 / 2)
        var top = ($(window).height() / 2) - (600 / 2)
        window.open(url, 'Selección - Asignar responsables', 'scrollbars=yes,resizable=yes,status=yes,location=no,toolbar=no,menubar=no, width=800px, height = 600px, top=' + top + ', left=' + left);
    }

    function show_config_appointments(link) {
        var url = $(link).data('url');
        var left = ($(window).width() / 2) - (900 / 2)
        var top = ($(window).height() / 2) - (600 / 2)
        window.open(url, 'Selección - Configurar agenda', 'scrollbars=yes,resizable=yes,status=yes,location=no,toolbar=no,menubar=no, width=800px, height = 600px, top=' + top + ', left=' + left);
    }

    function show_set_appointments(link) {
        var url = $(link).data('url');
        var left = ($(window).width() / 2) - (900 / 2)
        var top = ($(window).height() / 2) - (600 / 2)
        window.open(url, 'Selección - Configurar agenda', 'scrollbars=yes,resizable=yes,status=yes,location=no,toolbar=no,menubar=no, width=800px, height = 600px, top=' + top + ', left=' + left);
    }

    function initialize_calendars() {
        $('.datetimepicker').datetimepicker({
            language: 'es',
            pickTime: true
        });
        $(".datetimepicker.fromdatetime").on("dp.change", function (e) {
            //.data("DateTimePicker").setMinDate(e.date - 86400);
            $(".todatetime").val((e.date).format('DD/MM/YYYY HH:mm')).trigger("change");
        });
        $('.datetimepicker').removeClass('datetimepicker')
    }

    $(document).ready(function () {

        $('[data-toggle="popover"]').popover();

        $('.trigger_form_exonerate').click(function () {
            var form_div = $('#exonerate_form')

            var e = $(this);
            form_div.find('form').attr('action', e.data('url'))
            e.off('click');
            e.popover({html: true, content: $('#exonerate_form').html()}).popover('show');
            form_div.find('form').attr('action', '_blank')
        });

        $('.trigger_form_agenda').click(function () {
            var e = $(this);
            var url = e.data('url')

            $.ajax({
                url: url,
                cache: true,
                type: "post",
                dataType: "html",
                success: function (result) {
                    $('#agenda_form').html(result)
                    $('#agenda_form').modal({show: true, keyboard: true});
                    initialize_calendars()
                }
            })
        });

    });
</script>