<div class="panel panel-default">
  <div class="panel-body">

    <legend>
      <%= @sel_process_step.sel_step.position.to_s %>.
      <%= @sel_process_step.sel_step.name %>

    </legend>

    <%= @sel_process_step.sel_step.description %>

  </div>
</div>


<%= form_tag({:controller => :sel_processes, :action => :execute_step_filter}, :method => :post, class: 'form-horizontal') do %>

    <input type="hidden" name="id" value="<%= @sel_process_step.id.to_s %>">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="text-right">
          <a href="#" data-url="<%= sel_processes_benchmark_sel_applicants_path(@sel_process_step.sel_process.id) %>" onclick="show_benchmark_applicants(this);">Comparar
            candidatos</a>&nbsp;&nbsp;
        </div>
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Candidato</th>
            <% @sel_process_steps_prev.each do |sel_process_step| %>
                <th><%= sel_process_step.sel_step.name %></th>
            <% end %>
            <th>Continúa con la siguiente etapa</th>
          </tr>
          </thead>
          <tbody>
          <% @sel_process_step.sel_step_candidates_ordered_by_name_not_excluded.each_with_index do |step_candidate, index_c| %>
              <tr>
                <td><%= index_c+1 %></td>
                <td>
                  <a href="#<%= SelApplicant.where(:sel_process_id => step_candidate.sel_process_step.sel_process_id, :jm_candidate_id => step_candidate.jm_candidate_id).first.id.to_s + '_ficha' %>" data-toggle="modal" data-dismiss="focus" title="Ver ficha del candidato">
                    <%= step_candidate.jm_candidate.full_name_2 %>
                  </a>
                </td>
                <% @sel_process_steps_prev.each do |sel_process_step| %>
                    <td>
                      <table>
                        <tbody>
                        <% sel_step_candidate = SelStepCandidate.where(:sel_process_step_id => sel_process_step.id, :jm_candidate_id => step_candidate.jm_candidate.id).first %>
                        <% if sel_step_candidate && sel_step_candidate.exonerated == false %>
                            <% results = SelStepResult.where(:sel_step_candidate_id => sel_step_candidate.id) %>
                            <% results.each do |result| %>
                                <tr style="<%= 'border-bottom: solid;border-bottom-width: thin;' unless result == results.last %>">
                                  <td width="50%" style="border-right: hidden;">
                                    <%= result.sel_characteristic.name %>
                                    <%= '(' + result.sel_process_characteristic.name + ')' if result.sel_process_characteristic %>
                                    &nbsp;
                                  </td>
                                  <td width="50%" style="border-left: hidden;">
                                <span class="label label-default" style="background-color: <%= '#' + result.sel_option.color %>">
                            <%= result.sel_option.name %> <%= '(' + result.non_discrete_result.to_s + ')' if result.sel_characteristic.option_type == 1 %>
                          </span>
                                    &nbsp;
                                    <% if !result.comment.blank? %>
                                        <a href="#" data-toggle="popover" title="<%= result.registered_by_user.full_name %> dijo:" data-content="<%= result.comment %>" data-placement="top" data-trigger="focus"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                                    <% end %>
                                  </td>
                                </tr>
                            <% end %>
                        <% elsif SelAttendant.where(:sel_step_candidate_id => step_candidate.id).count == 0 && sel_step_candidate.exonerated == false %>
                            <td colspan="2" style="text-align: center; vertical-align: middle;">
                              <span class="label label-danger">Sin responsable asiganado</span></td>
                        <% else %>
                            <td colspan="2" style="text-align: center; vertical-align: middle;">
                              <span class="label label-warning">Exonerado</span>
                              <% if !sel_step_candidate.exonerated_comment.blank? %>
                                  &nbsp;
                                  <a href="#" data-toggle="popover" title="<%= sel_step_candidate.exonerated_by_user.full_name %> comentó:" data-content="<%= sel_step_candidate.exonerated_comment %>" data-placement="top" data-trigger="focus"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                              <% end %>
                            </td>
                        <% end %>
                        </tbody>
                      </table>
                    </td>
                <% end %>
                <td>
                  <% if step_candidate.done == true %>
                      <%= label_yes_not(true) %>
                      <% if can_undo_filter_step(step_candidate) %>
                          <%= check_box_tag 'activate_revert_' + step_candidate.id.to_s, 1, false, :data => {:id => step_candidate.id} %>
                          <%= link_to 'Revertir', '#', class: 'text-muted filter', :data => {:id => step_candidate.id, :url => sel_processes_undo_steps_until_next_filter_from_filter_path(step_candidate), :confirm_message => 'Está seguro? Los resultados de los pasos posteriores se eliminarán y no se podrán recuperar.'} %>
                      <% end %>
                  <% elsif can_pass_filter_step?(step_candidate) %>
                      <input data-step-candidate="<%= step_candidate.id.to_s %>" data-step="<%= @sel_process_step.id.to_s %>" type="checkbox" name="sc[<%= step_candidate.id.to_s %>]" value="1">
                      <script>
                        $(function () {
                          $('[data-step-candidate=<%= step_candidate.id.to_s %>]').bootstrapSwitch({
                            onColor: 'success',
                            onText: "Sí",
                            offColor: 'danger',
                            offText: "No",
                            size: "small"
                          });
                        });
                      </script>
                  <% else %>
                      <%= label_yes_not(false) %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <input value="Continúan con la siguiente etapa" type="submit" class="btn btn-primary" id="button_filter_<%= @sel_process_step.id.to_s %>">
        </div>
      </div>
    </div>
<% end %>
<script>

  function enable_disable_filter_<%= @sel_process_step.id.to_s %>_button() {
    if ($('[data-step=<%= @sel_process_step.id.to_s %>]:checked').size() > 0) {
      $('#button_filter_<%= @sel_process_step.id.to_s %>').prop('disabled', false)
    } else {
      $('#button_filter_<%= @sel_process_step.id.to_s %>').prop('disabled', true)
    }
  }

  $(document).ready(function () {

    $('[data-toggle="popover"]').popover();

    enable_disable_filter_<%= @sel_process_step.id.to_s %>_button();

    function enable_disable_revert_link(cb) {
      id = $(cb).data('id')
      link = $('a.filter[data-id=' + id + ']')

      if ($(cb).prop('checked')) {
        link.prop('href', link.data('url'))
        link.attr('onclick', 'return confirm("' + link.data('confirm-message') + '");')
        link.removeClass('text-muted')
      } else {
        link.prop('href', '#')
        link.attr('onclick', null)
        link.addClass('text-muted')
      }
    }


    $('[name^=activate_revert_]').change(function () {
      enable_disable_revert_link(this)
    });

    $('[data-step=<%= @sel_process_step.id.to_s %>]').on('switchChange.bootstrapSwitch', function (e, data) {
      enable_disable_filter_<%= @sel_process_step.id.to_s %>_button();
    });

  });

  function show_benchmark_applicants(link) {
    var url = $(link).data('url');
    var left = ($(window).width() / 2) - (900 / 2)
    var top = ($(window).height() / 2) - (600 / 2)
    window.open(url, 'Selección - Configurar prioridad', 'scrollbars=yes,resizable=yes,status=yes,location=no,toolbar=no,menubar=no, width=800px, height = 600px, top=' + top + ', left=' + left);
  }

</script>