<legend>Archivos adjuntos</legend>

<table class="table table-hover table-bordered">
  <thead>
  <th>
    Paso
  </th>
  <th>
    Descripción
  </th>
  <th>
    &nbsp;
  </th>
  </thead>
  <tbody>
  <% @sel_applicant.sel_applicant_attachments.each do |attachment| %>
      <tr class="attachment_container">
        <td>&nbsp;</td>
        <td><%= attachment.description %></td>
        <td>
          <%= link_to '<i class="fa fa-download" title="Descargar"></i>'.html_safe, sel_processes_download_attach_file_from_applicant_path(attachment._crypted_name) %>
          &nbsp;
          <%= link_to '<i class="fa fa-trash-o" title="Eliminar"></i>'.html_safe, '#', :data => {:url => sel_processes_delete_attach_file_from_applicant_path(attachment._crypted_name)}, :onclick => 'delete_attachment(this);' %>
        </td>
      </tr>
  <% end %>
  <% SelStepCandidate.joins(:sel_process_step).where(:jm_candidate_id => @sel_applicant.jm_candidate_id, :sel_process_steps => {:sel_process_id => @sel_applicant.sel_process_id}).each do |sel_step_candidate| %>
      <% sel_step_candidate.sel_evaluation_attachments.each do |eval_attachment| %>
          <tr class="attachment_container">
            <td><%= sel_step_candidate.sel_process_step.sel_step.name %></td>
            <td><%= eval_attachment.description %></td>
            <td>
              <%= link_to '<i class="fa fa-download" title="Descargar"></i>'.html_safe, sel_results_download_attach_file_from_step_candidate_path(eval_attachment._crypted_name) %>
              &nbsp;
              <%= link_to '<i class="fa fa-trash-o" title="Eliminar"></i>'.html_safe, '#', :data => {:url => sel_results_delete_attach_file_from_step_candidate_path(eval_attachment._crypted_name)}, :onclick => 'delete_attachment(this);' %>
            </td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
<script>
    function delete_attachment(link) {
        if (confirm('¿Está seguro?')) {
            var url = $(link).data('url')
            $.ajax({
                url: url,
                cache: false,
                type: "post",
                dataType: "json",
                success: function (result) {
                    $(link).closest('.attachment_container').html('<td colspan="3"><div class="alert alert-success">\n' +
                        '  El Adjunto fue eliminado correctamente.\n' +
                        '</div></td>').hide(3000)
                }
            })
        }
    }
</script>