<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <%= @sel_process.code + ' - ' + @sel_process.name %>
    </div>
  </div>
  <div class="panel-body">

    <table>
      <tr>
        <td>Comparar candidato</td>
      </tr>


      <% @sel_process.sel_applicants_ordered_by_priority.each do |sel_applicant| %>
          <tr>
            <td>

              <label>
                <%= check_box_tag 'sel_applicant_' + sel_applicant.id.to_s, 1, true, class: 'sel_applicant_selector', data: {:id => sel_applicant.id.to_s} %>
                <%= sel_applicant.jm_candidate.full_name_2 %>
              </label>
            </td>
          </tr>
      <% end %>
    </table>

    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>
          Paso
        </th>
        <th colspan="2">
          Característica
        </th>

        <% @sel_process.sel_applicants_ordered_by_priority.each do |sel_applicant| %>
            <th data-applicant_id="<%= sel_applicant.id %>">
              <%= sel_applicant.jm_candidate.full_name_2 %>
            </th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @sel_process.sel_process_steps.each do |sel_process_step| %>
          <% sel_step = sel_process_step.sel_step %>
          <% step_sub_chars = SelProcessCharacteristic.where(:sel_process_step_id => sel_process_step.id) %>

          <% sel_step.sel_characteristics.each do |sel_char| %>


              <% sub_chars = step_sub_chars.where(:sel_characteristic_id => sel_char) %>


              <% if sub_chars.count > 0 %>
                  <% sub_chars.each do |sel_sub_char| %>
                      <tr>
                        <% if sel_step.sel_characteristics.first == sel_char && sub_chars.first == sel_sub_char %>
                            <td rowspan="<%= sel_step.sel_characteristics.where(:configurable => false).count + step_sub_chars.count %>">
                              <%= sel_step.name %>
                            </td>
                        <% end %>

                        <% if sub_chars.first == sel_sub_char %>
                            <td rowspan="<%= sub_chars.count %>">
                              <%= sel_char.name %>
                            </td>
                        <% end %>
                        <td>
                          <%= sel_sub_char.name %>
                        </td>
                        <% @sel_process.sel_applicants_ordered_by_priority.each do |sel_applicant| %>
                            <% sel_step_candidate = SelStepCandidate.where(:jm_candidate_id => sel_applicant.jm_candidate_id, :sel_process_step_id => sel_process_step.id).first %>
                            <td data-applicant_id="<%= sel_applicant.id %>">
                              <% if sel_step_candidate %>

                                  <%# sel_process_characteristic = SelProcessCharacteristic.where(:sel_process_step_id => sel_process_step.id, :sel_characteristic_id => sel_char.id).first %>

                                  <% if result = sel_step_candidate.sel_step_results.where(:sel_process_characteristic_id => sel_sub_char.id).first %>
                                  <span class="label label-default" style="background-color: <%= '#' + result.sel_option.color %>">
                                    <%= result.sel_option.name %> <%= '(' + result.non_discrete_result.to_s + ')' if result.sel_characteristic.option_type == 1 %>
                                  </span>
                                      &nbsp;
                                      <% if !result.comment.blank? %>
                                          <a href="#" data-toggle="popover" title="<%= result.registered_by_user.full_name %> comentó:" data-content="<%= result.comment %>" data-placement="top" data-trigger="focus"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                                      <% end %>

                                  <% else %>
                                <span class="label label-default">
                                  No Evaluado
                                </span>
                                  <% end %>
                              <% else %>
                              <span class="label label-default">
                                Paso no alcanzado
                              </span>
                              <% end %>
                            </td>
                        <% end %>
                      </tr>
                  <% end %>

              <% else %>
                  <tr>
                    <% if sel_step.sel_characteristics.first == sel_char %>
                        <td rowspan="<%= sel_step.sel_characteristics.where(:configurable => false).count + [step_sub_chars.count, sel_step.sel_characteristics.where(:configurable => true).count].max %>">
                          <%= sel_step.name %>
                        </td>
                    <% end %>
                    <td colspan="2">
                      <%= sel_char.name %>
                    </td>
                    <% @sel_process.sel_applicants_ordered_by_priority.each do |sel_applicant| %>
                        <% sel_step_candidate = SelStepCandidate.where(:jm_candidate_id => sel_applicant.jm_candidate_id, :sel_process_step_id => sel_process_step.id).first %>
                        <td data-applicant_id="<%= sel_applicant.id %>">
                          <% if sel_step_candidate %>

                              <% sel_step_characteristic = SelStepCharacteristic.where(:sel_step_id => sel_step.id, :sel_characteristic_id => sel_char.id).first %>

                              <% result = SelStepResult.where(:sel_step_candidate_id => sel_step_candidate.id, :sel_step_characteristic_id => sel_step_characteristic.id).first %>

                              <% if result %>
                          <span class="label label-default" style="background-color: <%= '#' + result.sel_option.color %>">
                                    <%= result.sel_option.name %> <%= '(' + result.non_discrete_result.to_s + ')' if result.sel_characteristic.option_type == 1 %>
                                  </span>
                                  &nbsp;
                                  <% if !result.comment.blank? %>
                                      <a href="#" data-toggle="popover" title="<%= result.registered_by_user.full_name %> comentó:" data-content="<%= result.comment %>" data-placement="top" data-trigger="focus"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                                  <% end %>

                              <% else %>
                                <span class="label label-default">
                                  No Evaluado
                                </span>
                              <% end %>
                          <% else %>
                              <span class="label label-default">
                                Paso no alcanzado
                              </span>
                          <% end %>
                        </td>
                    <% end %>
                  </tr>
              <% end %>

          <% end %>

      <% end %>
      </tbody>
    </table>


  </div>
</div>

<script>


  $(function () {
    $('.sel_applicant_selector').bootstrapSwitch({
      onColor: 'success',
      onText: "Sí",
      offColor: 'danger',
      offText: "No",
      size: "small"
    });
  });

  function set_up_applicants_to_show() {
    $("[data-applicant_id]").hide()
    $(':checked.sel_applicant_selector').each(function () {
      var id = $(this).data("id");
      $("[data-applicant_id=" + id + "]").show()
    });
  }

  $(document).ready(function () {

    $('[data-toggle="popover"]').popover();

    $('.sel_applicant_selector').on('switchChange.bootstrapSwitch', function (e, data) {
      set_up_applicants_to_show();
    });
  });
</script>