<div class="panel panel-default">
  <div class="panel-body">

    <legend>
      Contratación

    </legend>

    Debe confirmar quiénes de los candidatos seleccionados fueron contratados.

  </div>
</div>

<%= form_tag({:controller => :sel_processes, :action => :hire_candidates}, :method => :post, class: 'form-horizontal') do %>
    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th>Candidato</th>
            <th>Contratado</th>
          </tr>
          </thead>
          <tbody>
          <% @sel_process.sel_selected_applicants_ordered_by_priority.each do |applicant| %>
              <tr>
                <td>
                  <%= applicant.jm_candidate.full_name_2 %>

                </td>
                <td>

                  <% if applicant.hired %>
                    <span class="label label-success">
                      Sí
                    </span>
                      &nbsp;
                      <%= check_box_tag 'activate_revert_val_' + applicant.id.to_s, 1, false, :data => {:id => applicant.id} %>
                      <%= link_to 'Revertir', '#', class: 'text-muted validation', :data => {:id => applicant.id, :url => sel_processes_undo_validation_path(applicant), :confirm_message => 'Está seguro?'} %>
                  <% else %>
                      <input data-applicant="<%= applicant.id.to_s %>" data-step="validation" type="checkbox" name="applicant[<%= applicant.id %>]" value="1">
                      <script>
                        $(function () {
                          $('[data-applicant=<%= applicant.id.to_s %>]').bootstrapSwitch({
                            onColor: 'success',
                            onText: "Sí",
                            offColor: 'danger',
                            offText: "No",
                            size: "mini"
                          });
                        });
                      </script>
                  <% end %>
                  &nbsp;
                  <a href="#" data-load="<%= sel_processes_show_set_comment_sel_applicant_path(applicant.id) %>" data-placement="top">Comentario</a>
                  <% if !applicant.comment.blank? %>
                      <a href="#" data-toggle="popover" title="<%= applicant.comment_by_user.full_name %> comentó:" data-content="<%= applicant.comment %>" data-placement="top" data-trigger="focus"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right"><input value="Guardar" type="submit" class="btn btn-primary" id="button_validation">
        </div>
      </div>
    </div>
<% end %>
<script>


  function enable_disable_validation_button() {
    if ($('[data-step=validation]:checked').size() > 0) {
      $('#button_validation').prop('disabled', false)
    } else {
      $('#button_validation').prop('disabled', true)
    }
  }

  function enable_disable_revert_validation_link(cb) {
    id = $(cb).data('id')
    link = $('a.validation[data-id=' + id + ']')

    if ($(cb).prop('checked')) {
      link.prop('href', link.data('url'))
      link.attr('onclick', 'return confirm("' + link.data('confirm-message') + '");')
      link.removeClass('text-muted')
    } else {
      link.prop('href', '#')
      link.attr('onclick', null)
      link.addClass('text-muted')
    }
  }

  $(document).ready(function () {
    $('[data-toggle="popover"]').popover();
    enable_disable_validation_button()
    /*

     $('[data-step=validation]').change(function() {
     enable_disable_validation_button();
     });
     */

    $('[name^=activate_revert_val_]').change(function () {
      enable_disable_revert_validation_link(this)
    });

    $('[data-step=validation]').on('switchChange.bootstrapSwitch', function (e, data) {
      enable_disable_validation_button();
    });

  });

  $('*[data-load]').click(function () {
    var e = $(this);
    e.off('click');
    $.post(e.data('load'), function (d) {
      e.popover({html: true, content: d}).popover('show');
    });
  });

</script>
