<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Calendario: <%= @sel_process.code + ' - ' + @sel_process.name %>
    </div>
  </div>
  <div class="panel-body">

    <% @sel_process.sel_process_steps_non_filter.each do |sel_process_step| %>
        <div class="row">
          <div class="col-sm-12">
            <h1><%= sel_process_step.sel_step.name %></h1>
            <% if sel_process_step.sel_appointments.reorder(:from_datetime => :asc).each do |sel_appointment| %>
                <h4>
                  <strong><%= sel_appointment.description %></strong>
                </h4>
              <span class="label label-success">
                                  <%= (localize sel_appointment.from_datetime, format: :day_snmonth_year) %>
                (<%= sel_appointment.from_datetime.strftime('%H:%M') %>)
              </span>
                &nbsp;

              <span class="label label-danger">
                En <%= distance_of_time_in_words(sel_appointment.from_datetime, lms_time) %>
              </span>
                <br><br>
                <table class="table table-hover table-bordered">
                  <thead>
                  <tr>
                    <th>
                      Candidatos
                    </th>
                    <th>
                      Responsables
                    </th>
                  </tr>
                  </thead>
                  <tbody>


                      <% if sel_appointment.sel_step_candidates.joins(:jm_candidate => :sel_applicants).where(:sel_applicants => {sel_process_id: sel_appointment.sel_process_step.sel_process_id, excluded: false}).each do |sel_step_candidate| %>
                      <tr>
                        <td>
                          <h7><%= sel_step_candidate.jm_candidate.full_name_2 %></h7>
                          <% if sel_step_candidate.done? %>
                              <%= icon_true_false_in_show(sel_step_candidate.done) %>
                          <% end %>
                        </td>
                        <td>
                          <% if sel_step_candidate.sel_attendants.each do |sel_attendant| %>

                            <%= sel_attendant.user.comma_full_name %>
                            <br>
                          <% end.empty? %>
                          <span class="label label-danger">
                            No hay responsables asignados a este candidato
                          </span>
                          <% end %>
                        </td>
                      </tr>
                      <% end.empty? %>
                        </td>
                        <td colspan="2">
                          <span class="label label-danger">
                          No hay candidatos asignados a este evento
                          </span>
                        </td>
                      </tr>
                      <% end %>
                  </tbody>
                </table>
                <hr>
            <% end.empty? %>
            <span class="label label-danger">
            No hay eventos configurados para este paso
            </span>
            <% end %>
            <hr>
          </div>
        </div>
    <% end %>
  </div>
</div>