<div class="panel panel-default">
  <div class="panel-body">
    <% if @sel_process.accept_external_candidates? %>
        <legend><%= 'Candidatos' %></legend>

        <table id="external_candidates_list" class="table table-striped table-hover table-bordered smart-form">

          <thead>

          <tr>
            <th>Apellidos</th>
            <th>Nombres</th>
            <th>e-mail</th>
            <th>Teléfono</th>
            <th>
              &nbsp;
            </th>
          </tr>
          <tr class="second">
            <td>
              <label class="input">
                <input type="text" name="search_name" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_surname" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_email" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_phone" value="" class="search_init">
              </label>
            </td>
            <td>&nbsp;</td>
          </tr>
          </thead>

          <tbody>

          <% @external_candidates.each do |candidate| %>
              <tr>
                <td><%= candidate.surname %></td>
                <td><%= candidate.name %></td>
                <td><%= candidate.email %></td>
                <td><%= candidate.phone %></td>
                <td>
                  <% if @sel_process.jm_candidates.include?(candidate) %>
                      <span class="label label-success label-smart-table">&nbsp;Postuló&nbsp;</span>
                  <% else %>
                      <%= link_to 'Añadir',  sel_processes_apply_form_candidate_path(@sel_process, candidate) %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </table>
        <hr>
        <%= render partial: '/shared/datatable',
                   locals: {table_id: 'external_candidates_list', page_len: 10} %>
    <% end %>

    <% if @sel_process.accept_internal_candidates? %>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <%= form_for @user, url: sel_processes_show_add_internal_candidate_to_process_path(@sel_process), method: :post do |f| %>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    Búsqueda de candidato interno
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="row">
                          <div class="col-xs-4">
                            <label>&nbsp;&nbsp;<%= alias_username %></label>
                          </div>
                          <div class="col-xs-4">
                            <label>&nbsp;&nbsp;Apellidos</label>
                          </div>
                          <div class="col-xs-4">
                            <label>&nbsp;&nbsp;Nombre</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-4">
                            <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>
                          </div>
                          <div class="col-xs-4">
                            <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>
                          </div>
                          <div class="col-xs-4">
                            <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-footer clearfix">
                    <div class="pull-right">
                      <%= f.submit 'Buscar', class: 'btn btn-primary' %>
                    </div>
                  </div>

                </div>


            <% end %>

          </div>
        </div>
        <% if @users %>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                  <div class="panel-body">

                    <legend>Resultados de la búsqueda</legend>

                    <table class="table table-striped table-hover table-bordered">

                      <thead>
                      <tr>
                        <th>#</th>
                        <th><%= alias_username %></th>
                        <th>Apellidos</th>
                        <th>Nombre</th>
                        <th>Correo electrónico</th>
                        <th></th>
                      </tr>
                      </thead>

                      <tbody>

                      <% @users.each_with_index do |user, index| %>

                          <tr>
                            <td><%= index+1 %></td>

                            <td><%= user.codigo %></td>
                            <td><%= user.apellidos %></td>
                            <td><%= user.nombre %></td>
                            <td><%= user.email %></td>

                            <td>
                              <% if @sel_process.sel_applicants.joins(:jm_candidate).where(:jm_candidates => {:internal_user => true, :user_id => user.id}).any? %>
                                  <span class="label label-success">&nbsp;Postuló&nbsp;</span>
                              <% else %>
                                  <%= link_to 'Añadir', sel_processes_create_internal_candidate_path(@sel_process, user) %>
                              <% end %>
                            </td>
                          </tr>

                      <% end %>


                      </tbody>


                    </table>

                  </div>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>