<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Agenda: <%= @sel_process_step.sel_step.name %>
    </div>
  </div>
  <div class="panel-body">
    <div class="pull-right">
      <a href="#" data-url="<%= sel_processes_show_set_appointments_path @sel_process_step %>" onclick="show_set_appointments(this);">Asignar a evento</a>
    </div>
    <br>

    <%= form_for @sel_process_step, url: {:controller => :sel_processes, :action => :config_appointments}, html: {class: 'form-horizontal'} do |f| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.fields_for :sel_appointments do |f_appointments| %>
                <%= render 'config_appointments_form', :f => f_appointments %>
            <% end %>
          </div>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= link_to_add_appointment 'Añadir evento', f %>
            </div>
          </div>
        </div>


        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
        </div>
    <% end %>
    <script>
      function remove_appointment(link) {
        $(link).prev('input[type=hidden]').val(1)
        $(link).closest('.option').hide();
      }

      function add_appointment(link, content) {
        var new_id = new Date().getTime();
        var regexp = new RegExp('new_appointment', 'g')
        $(link).parent().before(content.replace(regexp, new_id))
        set_datetime_pickers();
      }

      function set_datetime_pickers() {
        $('.date').datetimepicker({
          language: 'es',
          pickTime: true
        });
      }

      $(document).ready(function () {
        set_datetime_pickers();
      });

      function show_set_appointments(link) {
        var url = $(link).data('url');
        var left = ($(window).width() / 2) - (900 / 2)
        var top = ($(window).height() / 2) - (600 / 2)
        window.open(url, 'Selección - Configurar agenda', 'scrollbars=yes,resizable=yes,status=yes,location=no,toolbar=no,menubar=no, width=800px, height = 600px, top=' + top + ', left=' + left);
      }
    </script>