<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de Candidatos'.html_safe, sel_process_show_open_step_path(@sel_applicant.sel_process_id, 'applicants'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%=	icon_sel_module_html_safe %>
      <%= @sel_applicant.jm_candidate.full_name_2 %>
      <span>> Archivos adjuntos del candidato </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'list_attach_from_applicant'  %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'add_attach_to_applicant_form' %>
  </div>
</div>