<%= form_tag({:controller => :sel_processes, :action => :set_priority}, :method => :post, class: 'form-horizontal') do %>
    <div class="panel panel-default">
      <div class="panel-heading">Configuración de la prioridad</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <em>La prioridad ingresada es sólo referencial, el sistema ordenará por ese valor y asignará valores
              consecutivos comenzando desde el 1 (mayor prioridad) hasta el número de candidatos seleccionados</em>
          </div>
        </div>
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th>Candidato</th>
            <th>Prioridad</th>
          </tr>
          </thead>
          <tbody>
          <% @selected_applicants.each_with_index do |applicant, index| %>
              <tr>
                <td>
                  <%= applicant.jm_candidate.full_name_2 %>
                </td>
                <td>
                  <%= number_field_tag 'priority[' + applicant.id.to_s + ']', index + 1, style: 'width: 40px;', :required => true %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= submit_tag 'Guardar', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>
<script>

  $('.form-horizontal').on('submit', function(e) {
    window.opener.location.href = "<%= sel_process_show_open_step_path(@sel_process, 'selection') %>"
  });

</script>