
<% pe_group = nil %>

<% pe_member_evaluated = pe_member_rel_evaluated.pe_member_evaluated %>
<% pe_member_evaluator = pe_member_rel_evaluated.pe_member_evaluator %>
<% pe_rel = pe_member_rel_evaluated.pe_rel %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>

<% if pe_evaluation.pe_questions_by_pe_member_all_levels_ready(pe_member_evaluated, pe_member_evaluator, nil, nil).count == 0 %>

  <div class="alert alert-danger">
    El proceso de definición de <%= pe_evaluation.name.downcase %> aún no ha finalizado.
  </div>

<% else %>

  <% num_non_kpis = 0 %>

  <% pe_assessment_evaluation = pe_member_rel_evaluated.pe_assessment_evaluations.build unless pe_assessment_evaluation %>

  <% letras = 'abcdefghijklmnopqrstuvwxyz' %>

  <form class="form_pe_assess_<%= pe_evaluation.id %> ">



        <% index_p_aux = 0 %>

        <table class="table table-bordered">

          <thead></thead>


            <% pe_element_1st = pe_evaluation.pe_elements.first %>
            <% pe_element_2nd = pe_evaluation.pe_elements.second %>
            <% pe_element_3rd = pe_evaluation.pe_elements[2] %>

            <% num_1st_level = 1 %>

            <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(pe_member_evaluated, pe_member_evaluator, pe_group, pe_rel).each_with_index do |pe_question_1st_level| %>

              <tr>
                <td width="1%">
                  <strong><%= num_1st_level %></strong>
                </td>
                <td style="border-right: 0px;">
                  <strong>

                    <% if pe_element_1st.display_name %>
                      <%= pe_question_1st_level.pe_element.name %>.
                    <% end %>

                    <%= pe_question_1st_level.description.html_safe %>

                  </strong>

                </td>
                <td width="5%" style="border-left: 0px; border-right: 0px;" id="weight_1st_level_<%= pe_question_1st_level.id %>">
                  <% if pe_element_1st.assessed %>

                    <strong>

                      <%= number_with_precision(pe_question_1st_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%


                    </strong>

                  <% end %>
                </td>
                <td width="10%" style="border-left: 0px; border-right: 0px;">

                </td>
                <td width="15%" style="border-left: 0px; border-right: 0px;">

                </td>
                <td width="10%" style="border-left: 0px; border-right: 0px;">

                </td>
                <td width="15%" style="border-left: 0px; border-right: 0px;">

                </td>
                <td width="1%" style="border-left: 0px;">

                </td>
              </tr>

              <% num_2nd_level = 1 %>
              <% sum_pesos_elementos_2nd_level_tmp = 0 %>
              <% pe_evaluation.pe_questions_by_question_ready(pe_question_1st_level).each do |pe_question_2nd_level| %>

                <% if pe_element_2nd.assessed %>

                  <% sum_pesos_elementos_2nd_level_tmp += pe_question_2nd_level.weight %>

                <% end %>

                <thead>

                <tr>
                  <th style="background-color: #dddddd;" width="1%">
                    <%= num_1st_level %>.<%= num_2nd_level %>
                  </th>
                  <th style="background-color: #dddddd;" colspan="<%= '6' unless pe_element_2nd.assessed || pe_element_2nd.display_weight %>">

                    <% if pe_element_2nd.display_name %>
                      <%= pe_question_2nd_level.pe_element.name %>.
                    <% end %>

                    <%= pe_question_2nd_level.description.html_safe %>

                  </th>

                  <% if pe_element_2nd.assessed || pe_element_2nd.display_weight %>

                    <th style="background-color: #dddddd;" width="5%" id="weight_2nd_level_<%= pe_question_2nd_level.id %>">
                      <% if pe_element_2nd.assessed %>

                        <%= number_with_precision(pe_question_2nd_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

                      <% end %>
                    </th>
                    <th style="background-color: #dddddd;"  width="10%">

                    </th>
                    <th style="background-color: #dddddd;"  width="15%">

                    </th>
                    <th style="background-color: #dddddd;"  width="10%">

                    </th>
                    <th style="background-color: #dddddd;"  width="15%">

                    </th>
                    <th style="background-color: #dddddd;" width="1%"></th>

                  <% end %>

                </tr>

                <tr>
                  <th width="1%"></th>
                  <th><%= pe_evaluation.pe_elements.last.name %></th>
                  <th width="5%">Peso</th>
                  <th>Meta</th>
                  <th><nobr>Meta lograda</nobr></th>
                  <th><nobr>Unidad de medida</nobr></th>
                  <th style="border-right: 0px;">Logro</th>
                  <th style="border-left: 0px; "></th>
                </tr>

                </thead>

                <tbody>

                <% num_3rd_level = 1 %>
                <% sum_pesos_elementos_3rd_level_tmp = 0 %>
                <% pe_evaluation.pe_questions_by_question_ready(pe_question_2nd_level).each do |pe_question_3rd_level| %>

                  <% num_non_kpis += 1 unless pe_question_3rd_level.kpi_indicator %>
                  <% sum_pesos_elementos_3rd_level_tmp += pe_question_3rd_level.weight %>

                  <tr>
                    <td>
                      <%= num_1st_level %>.<%= num_2nd_level %>.<%= num_3rd_level %>
                    </td>
                    <td>

                      <% if pe_question_3rd_level.kpi_indicator %>
                        <span class="label label-success">KPI</span>&nbsp;
                      <% end %>

                      <% if pe_question_3rd_level.pe_element.display_name %>
                        <%= pe_question_3rd_level.pe_element.name %>.
                      <% end %>

                      <% if pe_question_3rd_level.pe_element.kpi_dashboard && pe_question_3rd_level.kpi_indicator %>

                        <%= pe_question_3rd_level.kpi_indicator.name %>

                      <% else %>

                        <%= pe_question_3rd_level.description.html_safe %>

                      <% end %>

                    </td>
                    <td>
                      <%= number_with_precision(pe_question_3rd_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                    </td>
                    <td>

                      <%= render partial: 'pe_processes/indicator_goal_temp',
                                 locals: {
                                     pe_question: pe_question_3rd_level
                                 }
                      %>

                    </td>
                    <td>

                      <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question_3rd_level) %>

                      <% unless pe_question_3rd_level.pe_element.kpi_dashboard && pe_question_3rd_level.kpi_indicator %>

                        <div class="row">
                          <div class="col-md-<%= pe_question_3rd_level.indicator_type != 4 ? '6' : '12' %>">
                            <% if pe_question_3rd_level.indicator_type == 4 %>

                              <select class="form-control" name="pe_question_<%= pe_question_3rd_level.id %>">

                                <option value="">--Sin registro--</option>

                                <% pe_question_3rd_level.pe_question_ranks.each do  |qr| %>

                                  <option value="<%= qr.discrete_goal %>" <%= 'selected' if pe_assessment_question && qr.discrete_goal == pe_assessment_question.indicator_discrete_achievement %> ><%= qr.discrete_goal.html_safe %></option>

                                <% end %>

                              </select>

                            <% else %>
                              <input type="text" name="pe_question_<%= pe_question_3rd_level.id %>" class="form-control" value="<%= number_with_precision(pe_assessment_question.indicator_achievement, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) if pe_assessment_question %>" >
                            <% end %>
                          </div>
                          <% if pe_question_3rd_level.indicator_type != 4 %>
                            <div class="col-md-6">
                              <p class="form-control-static">

                                <%= pe_question_3rd_level.indicator_unit %>

                              </p>
                            </div>
                          <% end %>
                        </div>
                      <% end %>


                    </td>

                    <td style="border-right: 0px;">
                      <% if pe_question_3rd_level.pe_element.kpi_dashboard && pe_question_3rd_level.kpi_indicator %>
                        <%= pe_question_3rd_level.kpi_indicator.unit %>
                      <% else %>
                        <%= pe_question_3rd_level.indicator_unit %>
                      <% end %>
                    </td>

                    <td>

                      <% if pe_assessment_question %>

                        <% ancho_p_b = 0 %>

                        <% ancho_p_b = pe_assessment_question.percentage && pe_assessment_question.percentage < 100 ? pe_assessment_question.percentage.to_i : 100 %>

                        <% if pe_question_3rd_level.indicator_type != 4 || (pe_question_3rd_level.indicator_type == 4 && !pe_assessment_question.indicator_discrete_achievement.blank?) %>

                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="<%= ancho_p_b %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= ancho_p_b %>%;">
                              <%= number_with_precision(pe_assessment_question.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
                            </div>
                          </div>

                        <% end %>

                      <% end %>

                    </td>

                    <td style="border-left: 0px;">
                      <% if pe_evaluation.allow_list_individual_comments_track(@pe_rel) && pe_element_3rd.allows_individual_comments %>

                        <a role="button" data-toggle="collapse" href="#list_comments_<%= pe_question_3rd_level.id %>" aria-expanded="false" aria-controls="collapseExample">
                          <% if pe_question_3rd_level.pe_question_comments_by_pe_member_rels(pe_member_rels_comments).size > 0 %>
                            <i class="fa fa-comment" aria-hidden="true"></i>
                          <% else %>
                            <i class="fa fa-comment-o" aria-hidden="true"></i>
                          <% end %>
                        </a>

                      <% end %>
                    </td>

                  </tr>

                  <% if pe_evaluation.allow_list_individual_comments_track(@pe_rel) && pe_element_3rd.allows_individual_comments %>

                    <%= render partial: 'pe_tracking/individual_comments_table',
                               locals: {
                                   pe_evaluation: pe_evaluation,
                                   pe_question: pe_question_3rd_level,
                                   pe_element: pe_element_3rd,
                                   pe_member_evaluated: @pe_member_evaluated,
                                   pe_member_rel: @pe_member_rel,
                                   pe_member_rels_comments: pe_member_rels_comments
                               }
                    %>

                  <% end %>

                  <% num_3rd_level += 1 %>

                <% end %>

                <% unless pe_element_2nd.assessed %>

                  <% sum_pesos_elementos_2nd_level_tmp += sum_pesos_elementos_3rd_level_tmp %>

                  <% if pe_element_2nd.display_weight %>

                    <% suma_temp = number_with_precision(sum_pesos_elementos_3rd_level_tmp, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>

                    <script>
                      $( document ).ready(function() {
                        $('#weight_2nd_level_<%= pe_question_2nd_level.id %>').append('<%= suma_temp %>%');
                      });
                    </script>

                  <% end %>

                <% end %>

                </tbody>

                <% num_2nd_level += 1 %>

              <% end %>

              <% unless pe_element_1st.assessed %>

                <% if pe_element_1st.display_weight %>

                  <% suma_temp = number_with_precision(sum_pesos_elementos_2nd_level_tmp, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>

                  <script>
                    $( document ).ready(function() {
                      $('#weight_1st_level_<%= pe_question_1st_level.id %>').append('<strong><%= suma_temp %>%</strong>');
                    });
                  </script>

                <% end %>

              <% end %>

              <% num_1st_level += 1 %>

            <% end %>

          <thead>
          <tr>
            <td colspan="5" class="text-right">
              <strong>
                Resultado de <%= pe_evaluation.name.downcase %>
              </strong>
            </td>


            <% if pe_assessment_evaluation && pe_assessment_evaluation.percentage && pe_assessment_evaluation.percentage >= 0 %>

              <td style="<%= 'color: #'+pe_assessment_evaluation.pe_dimension_group.text_color+';' if pe_assessment_evaluation.pe_dimension_group %>" class="text-align-center">
                <strong>
                  <%= number_with_precision(pe_assessment_evaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                  <%= ' - '+pe_assessment_evaluation.pe_dimension_group.name if pe_assessment_evaluation.pe_dimension_group %>
                </strong>
              </td>

            <% else %>

              <td></td>

            <% end %>


          </tr>
          </thead>

        </table>



        <script>

          $('.form_pe_assess_<%= pe_evaluation.id %> :input').attr("disabled", true);

        </script>


  </form>



<% end %>



<% if pe_evaluation.allow_create_individual_comment_track(@pe_rel) %>

  <% unless @pe_member_evaluated.step_assessment? || @pe_member_rel.finished %>

    <% pe_evaluation.pe_questions_by_pe_member_all_levels(@pe_member_evaluated, @pe_member_evaluator, nil, nil).each_with_index do |pe_question| %>

      <% if pe_question.pe_element.allows_individual_comments? %>

        <%= render partial: 'pe_tracking/new_individual_comment',
                   locals: {
                       pe_evaluation: pe_evaluation,
                       pe_question: pe_question,
                       pe_question_comment: @pe_question_comment,
                       pe_member_rel: @pe_member_rel
                   }
        %>

      <% end %>

    <% end %>

  <% end %>

<% end %>
