<tr class="collapse" id="list_comments_<%= pe_question.id %>">

  <td></td>

  <td colspan="5">

    <div id="new_pe_question_message_ok_<%= pe_question.id %>" class="alert alert-success">
      El nuevo comentario fue guardado correctamente
    </div>

    <div id="delete_pe_question_message_ok_<%= pe_question.id %>" class="alert alert-success">
      El comentario fue eliminado correctamente
    </div>

    <script>

      $( document ).ready(function() {

        $("#new_pe_question_message_ok_<%= pe_question.id %>").hide();
        $("#delete_pe_question_message_ok_<%= pe_question.id %>").hide();

      })

    </script>

    <table class="table table-condensed table-bordered">
      <thead>
      <tr>
        <th>Comentario</th>
        <th>Fecha</th>
        <% if pe_evaluation.track_allow_individual_comments_with_boss %>
        <th>Realizado por</th>
        <% end %>
        <% if pe_evaluation.allow_create_individual_comment_track(pe_member_rel.pe_rel) %>
          <% unless pe_member_evaluated.step_assessment? || pe_member_rel.finished %>
            <th>
              <a type="button" data-toggle="modal" data-target="#new_individual_comment_<%= pe_question.id %>" class="cursor-pointer">
                Nuevo comentario
              </a>
            </th>
          <% end %>
        <% end %>
      </tr>
      </thead>
      <tbody id="pe_question_comment_items_<%= pe_question.id %>">
      <% pe_question.pe_question_comments_by_pe_member_rels(pe_member_rels_comments).each_with_index do |pe_question_comment, index_comment| %>
        <tr id="pe_question_comment_item_<%= pe_question_comment.id %>">
          <td><%= pe_question_comment.comment.html_safe %></td>
          <td><%= (localize pe_question_comment.registered_at, format: :day_snmonth_year) %></td>
          <% if pe_evaluation.track_allow_individual_comments_with_boss %>
            <td><%= pe_question_comment.pe_member_rel.pe_member_evaluator.user.apellidos %>, <%= pe_question_comment.pe_member_rel.pe_member_evaluator.user.nombre %></td>
          <% end %>

          <% if pe_evaluation.allow_create_individual_comment_track(pe_member_rel.pe_rel) %>
            <td>
              <% if pe_question_comment.pe_member_rel.pe_member_evaluator.user.id == user_connected.id %>

                <% unless pe_member_evaluated.step_assessment? || pe_member_rel.finished %>

                  <a href="#" id="pe_question_comment_item_link_<%= pe_question_comment.id %>">Eliminar</a>

                  <script>

                    $('#pe_question_comment_item_link_<%= pe_question_comment.id %>').click(function( event ) {

                      if(confirm('¿Está seguro de eliminar el comentario?')){

                        $.ajax({
                          type: 'GET',
                          url: '<%= pe_question_comments_destroy_from_tracking_path(pe_question_comment,'d') %>',
                          complete: function() {
                            $("#pe_question_comment_item_<%= pe_question_comment.id %>").remove();
                            $("#delete_pe_question_message_ok_<%= pe_question.id %>").show().delay(5000).fadeOut(3000);
                          }
                        });
                      }


                    });

                  </script>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>

  </td>
</tr>