
<% pe_group = nil %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = @pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>

  <div class="panel panel-default">
    <div class="panel-body">

      <% index_p_aux = 0 %>

      <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, nil, pe_group, @pe_rel).each_with_index do |pe_question, index_p| %>

        <% if pe_question.pe_element.visible %>

          <div class="row">

            <div class="col-md-12">

              <strong><!--<%= index_p+1 %>.-->

                <% if pe_question.pe_element.display_name %>

                  <%= pe_question.pe_element.name %>:

                <% end %>

              </strong>

              <% if pe_question.pe_element.simple? %>

                <%= pe_question.description.html_safe %>

              <% else %>

                <% pe_question.pe_question_descriptions.each do |pe_question_description| %>

                  <strong><%= pe_question_description.pe_element_description.name %></strong>
                  <%= pe_question_description.description.html_safe %>

                <% end %>

              <% end %>

            </div>

          </div>

        <% end %>

        <% pe_evaluation.pe_questions_by_question_ready(pe_question.id).each_with_index do |pe_question_2nd_level, index_p2| %>

          <br>

          <div class="row">

            <div class="<%= pe_question.pe_element.visible ? 'col-md-10 col-md-offset-1' : 'col-md-11' %>">

              <strong>
<!--
                <% if pe_question.pe_element.visible %>

                  <%= index_p+1 %>.<%= index_p2+1 %>.

                <% else %>

                  <%= index_p_aux += 1 %>.

                <% end %>
-->
                <% if pe_question_2nd_level.pe_element.display_name %>

                  <%= pe_question_2nd_level.pe_element.name %>:

                <% end %>

              </strong>

              <% if pe_question_2nd_level.pe_element.simple? %>

                <%= pe_question_2nd_level.description.html_safe %>

              <% else %>

                <% pe_question_2nd_level.pe_question_descriptions.each do |pe_question_description| %>

                  <strong><%= pe_question_description.pe_element_description.name %></strong>
                  <%= pe_question_description.description.html_safe %>

                <% end %>

              <% end %>

            </div>

            <% if pe_evaluation.allow_list_individual_comments_track(@pe_rel) && pe_question_2nd_level.pe_element.allows_individual_comments %>

              <div class="col-md-1 text-right">

                <a role="button" data-toggle="collapse" href="#list_comments_<%= pe_question_2nd_level.id %>" aria-expanded="false" aria-controls="collapseExample">
                  <% if pe_question_2nd_level.pe_question_comments_by_pe_member_rels(pe_member_rels_comments).size > 0 %>
                    <i class="fa fa-comment" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                  <% end %>
                </a>

              </div>

            <% end %>

          </div>

          <% if pe_evaluation.allow_list_individual_comments_track(@pe_rel) && pe_question_2nd_level.pe_element.allows_individual_comments %>

            <%= render partial: 'pe_tracking/individual_comments_div',
                       locals: {
                           pe_evaluation: pe_evaluation,
                           pe_question: pe_question_2nd_level,
                           pe_element: pe_question_2nd_level.pe_element,
                           pe_member_evaluated: @pe_member_evaluated,
                           pe_member_rel: @pe_member_rel,
                           pe_member_rels_comments: pe_member_rels_comments
                       }
            %>

          <% end %>

        <% end %>

        <% if pe_question.pe_element.visible %>

          <hr>

        <% end %>

      <% end %>


    </div>

  </div>



<% if pe_evaluation.allow_create_individual_comment_track(@pe_rel) %>

  <% unless @pe_member_evaluated.step_assessment? || @pe_member_rel.finished %>

    <% pe_evaluation.pe_questions_by_pe_member_all_levels(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).each_with_index do |pe_question| %>

      <% if pe_question.pe_element.allows_individual_comments? %>

        <%= render partial: 'pe_tracking/new_individual_comment',
                   locals: {
                       pe_evaluation: pe_evaluation,
                       pe_question: pe_question,
                       pe_question_comment: @pe_question_comment,
                       pe_member_rel: @pe_member_rel
                   }
        %>

      <% end %>

    <% end %>

  <% end %>

<% end %>
