<% item_type = f.object.blog_form_item.item_type %>
<% if item_type == 0 %>
    <%= f.text_field :value, class: 'form-control item-input', :required => mandatory %>
<% end %>

<% if item_type == 1 %>
    <%= f.text_area :value, class: 'form-control item-input', :rows => 3 , :required => mandatory %>
<% end %>

<% if item_type == 2 %>
    <div class="input-group date datepicker" style="width: 150px;">
      <%= f.text_field :value, :class => 'form-control datepicker item-input', :required => mandatory, :data => {:format => 'dd/MM/yyyy'}%>
      <span class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </span>
    </div>
<% end %>
<% if item_type == 3 %>
    <% options_array = f.object.blog_form_item.blog_list.blog_list_items.where(:active => true).map { |option| [option.name, option.id] } %>
    <%= f.select(:blog_list_item_id, options_for_select(options_array, f.object.blog_list_item_id),
                 {:include_blank => '- Seleccionar -'},
                 {:class => 'form-control item-input', :required => mandatory}) %>
<% end %>