<div class="row">
  <div class="col-md-3">
    <span class="label label-success">
      <%= (localize log.registered_at, format: :full_date) %>
    </span>
  </div>
  <div class="col-md-3">
    <%= render :partial => 'elec_round_exec/voter_mini_file', :locals => {:user => log.registered_by_user} %>
  </div>
  <div class="col-md-3">
    <%= log.tracking_form_action.name %>
  </div>
  <div class="col-md-3">
    <%= log.comment %>
  </div>
</div>

<% if log.tracking_form_reject %>
    <% label_reject = ([nil, ''].include?(log.tracking_form_action.label_reject)) ? 'Rechazo' : log.tracking_form_action.label_reject %>

    <div class="row">
      <div class="col-md-3">
    <span class="label label-success">
      <%= (localize log.tracking_form_reject.registered_at, format: :full_date) %>
    </span>
      </div>
      <div class="col-md-3">
        <%= render :partial => 'elec_round_exec/voter_mini_file', :locals => {:user => log.tracking_form_reject.registered_by_user} %>
      </div>
      <div class="col-md-3">
        <%=	 label_reject %>
      </div>
      <div class="col-md-3">
        <%= log.tracking_form_reject.comment %>
      </div>
    </div>
<% end %>
<br>