<% @tracking_form_instance.tracking_form.tracking_form_groups.each do |form_group| %>
  <% if !@tracking_pill || (@tracking_pill && form_group.tracking_form_questions.joins(:tracking_form_answers => :tracking_form_due_date).any?) %>

    <div class="panel panel-default">
      <% if @tracking_form_instance.tracking_form.tracking_form_groups.count > 1 %>
        <div class="panel-heading">
          <h4><%= form_group.name %></h4>
          <em><%= form_group.description.html_safe %></em>
        </div>
      <% end %>

      <% form_group.tracking_form_questions.each do |form_question| %>
        <div class="panel-body question_container" data-min-answers="<%= form_question.min_qty_answers %>" data-max-answers="<%= form_question.max_qty_answers %>">
          <% if !@tracking_pill || (@tracking_pill && form_question.tracking_form_answers.joins(:tracking_form_due_date).any?) %>
            <% table_format = ((@traceable && form_question.traceable?) || form_question.tracking_form_items.count > 1) %>
            <div>
              <b><%= form_question.position %>
                .- <%= form_question.name %></b>
              <% if @fillable %>
                <% if form_question.min_qty_answers > 0 %>
                  &nbsp;
                  <i class="fa fa-question-circle" title="Esta pregunta requiere un mínimo de <%= form_question.min_qty_answers %> y un máximo de <%= form_question.max_qty_answers %> respuestas."></i>
                <% end %>
                &nbsp;&nbsp;<a href="#" data-question-id="<%= form_question.id %>" onclick="add_answer(this)" class="add_answer_link" title="Añadir respuesta"><i class="fa fa-plus"></i></a>
              <% end %>
              <br>
              <em><%= form_question.description.html_safe %></em>
            </div>
            <br>
            <%# respuestas  %>
            <% if table_format %>
              <table class="table table-bordered">
                <thead>
                <tr>
                  <% form_question.tracking_form_items.each do |item| %>
                    <th><%= item.name %></th>
                  <% end %>
                  <% if @traceable && form_question.traceable? %>
                    <th><%= @tracking_form_instance.tracking_form.tracking_process.label_due_date %></th>
                    <% if @tracking_form_instance.tracking_form.tracking_process.ask_for_comment_due_date? %>
                      <th><%= @tracking_form_instance.tracking_form.tracking_process.label_comment_due_date %></th>
                    <% end %>
                    <% if @tracking_pill #@tracking_form_instance.done?    %>
                      <th width="35%">Detalle de seguimiento</th>
                    <% elsif @fillable %>
                      <th>&nbsp;</th>
                    <% end %>
                  <% elsif @fillable %>
                    <th>&nbsp;</th>
                  <% end %>
                </tr>
                </thead>
                <tbody>
                <% if @fillable %>
                  <%= render 'tracking_form_fillable', :form_question => form_question, :f => f, :table_format => table_format %>
                <% else %>
                  <%= render 'tracking_form_not_fillable', :form_question => form_question, :f => f, :table_format => table_format %>
                <% end %>
                </tbody>
              </table>
            <% else %>
              <div>
                <% if @fillable %>
                  <%= render 'tracking_form_fillable', :form_question => form_question, :f => f, :table_format => table_format %>
                <% else %>
                  <%= render 'tracking_form_not_fillable', :form_question => form_question, :f => f, :table_format => table_format %>
                <% end %>
              </div>
            <% end %>

            <hr>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>