<% item_type = f.object.tracking_form_item.item_type %>
<% if item_type == 1 %>
    <%= f.text_field :value, class: 'form-control item-input required-field'%>
<% end %>

<% if item_type == 2 %>
    <%= f.number_field :value, class: 'form-control item-input required-field'%>
<% end %>

<% if item_type == 3 %>
    <div class="input-group date datepicker" style="width: 150px;">
      <%= f.text_field :value, :class => 'form-control datepicker item-input required-field', :data => {:format => 'dd/MM/yyyy'}%>
        <span class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </span>
    </div>
<% end %>

<% if item_type == 4 %>
    <% options_array = f.object.tracking_form_item.tracking_list.tracking_list_items.where(:active => true).map { |option| [option.name, option.id] } %>

    <%
      fathers_array = []
      tracking_list = f.object.tracking_form_item.tracking_list
      while tracking_list.tracking_list_father
        fathers_array.push(tracking_list.tracking_list_father_id.to_s)
        tracking_list = tracking_list.tracking_list_father
      end
    %>

    <%= f.select(:tracking_list_item_id, options_for_select(options_array, f.object.tracking_list_item_id),
                 # si no se pone el valor en blanco siempre, fallan las listas enlazadas a partir del 2do guardado
                 {:include_blank => '- Seleccionar -'},
                 {:class => 'form-control item-input required-field',
                  :data => {:list_id => f.object.tracking_form_item.tracking_list_id, :group_id =>  group_id, :fathers_array => fathers_array},
                 :onChange=>'javascript: refresh_children_and_parents(this);'}) %>

    <% if f.object.tracking_form_item.tracking_list.autocomplete? %>
        <% element_id = f.object_name.gsub(/\]\[|[^-a-zA-Z0-9:.]/, "_").sub(/_$/, "") + '_' + :tracking_list_item_id.to_s %>
        <script>
          $('#<%= element_id %>').select2()
        </script>
    <% end %>
<% end %>

<% if item_type == 5 %>
    <%= f.file_field :value, class: 'form-control item-input required-field'%>
<% end %>

<% if item_type == 6 %>
    <%= f.text_area :value, class: 'form-control item-input required-field', :rows => 3%>
<% end %>
