<% # se añade validación de mostrar respuestas de instancias marcadas como ya 'guardadas y finalizadas' (filled => true)     %>
<% anwsers = form_question.tracking_form_answers.joins(:tracking_form_instance).where(:tracking_form_instance_id => @tracking_form_instance.id, :tracking_form_instances => {:filled => true}) %>
<% unless table_format %>
  <% anwsers.each do |answer| %>
    <% form_question.tracking_form_items.each do |item| %>
      <%= answer.tracking_form_values.where(:tracking_form_item_id => item.id).first.value %>
      <br><br>
    <% end %>
  <% end %>
<% else %>
  <% anwsers.each do |answer| %>
    <%#= f.fields_for :tracking_form_answers, answer do |f_answer| %>
    <tr>
      <% form_question.tracking_form_items.each do |item| %>
        <td>
          <%= answer.tracking_form_values.where(:tracking_form_item_id => item.id).first.value %>
        </td>
      <% end %>

      <% if @traceable && form_question.traceable? %>
        <td>
           <span class="label label-success">
             <% unless form_question.use_discrete_due_dates? %>
                <% if answer.tracking_form_due_date.due_date.nil? %>
                  No definido
                <% else %>
                  <%= (localize answer.tracking_form_due_date.due_date, format: :full_date) %>
                <% end %>
              <% else %>
                <% if answer.tracking_form_due_date.tracking_period_item && answer.tracking_form_due_date.tracking_period_item.name %>
                  <%= answer.tracking_form_due_date.tracking_period_item.name %>
                <% else %>
                 No definido
                <% end %>
              <% end %>
           </span>
        </td>
        <% if @tracking_form_instance.tracking_form.tracking_process.ask_for_comment_due_date? %>
          <td>
            <%= answer.tracking_form_due_date.comment %>
          </td>
        <% end %>
        <% if @tracking_pill #@tracking_form_instance.done?     %>
          <td>
            <% @answer = answer %>
            <div class="answer_tracking_detail_container">
              <%= render 'answer_tracking_detail' %>
            </div>
          </td>
        <% end %>
      <% end %>
    </tr>
    <%# end %>
  <% end %>
<% end %>

<% unless @read_only %>
  <script>

      $('.milestone-datepicker').datetimepicker({
          language: 'es',
          pickTime: false
      });

      $('.yes_no_bootstrap_switch').bootstrapSwitch({
          onColor: 'success',
          onText: "Sí",
          offColor: 'danger',
          offText: "No",
          size: 'mini'
      });

      function add_milestone(link) {
          var container = $(link).closest('.answer_tracking_detail_container')
          var form = $(link).closest('form')
          var params = $(form).serialize()

          var url = $(link).data('url')

          $.post(url, params)
              .done(function (data) {
                  $(container).html(data)
                  $('.milestone-datepicker').datetimepicker({
                      language: 'es',
                      pickTime: false
                  });
                  $(container).find('.milestone_saved_ok').show()
                  $(container).find('.milestone_saved_ok').hide(3000)
              });

      }

      function remove_milestone(link) {

          var r = confirm("¿Está seguro?");
          if (r == true) {

              //var tr = $(link).closest('tr')
              var container = $(link).closest('.answer_tracking_detail_container')
              var url = $(link).data("url")

              $.post(url)
                  .done(function (data) {
                      $(container).html(data)
                      $('.milestone-datepicker').datetimepicker({
                          language: 'es',
                          pickTime: false
                      });
                      $(container).find('.milestone_deleted_ok').show()
                      $(container).find('.milestone_deleted_ok').hide(3000)
                  });
          }
      }

  </script>
<% end %>

<script>
    function show_milestone_comments(link) {
        var milestone_id = $(link).data('id')
        var d = $('.comments_container_' + milestone_id)
        $(link).prop('onclick', null).off('click');
        $(link).popover({html: true, content: d}).popover('show');
    }
</script>

