<div class="panel panel-default">
  <div class="panel-body">
    <% if @my_tracking_participants.any? %>
        <h2>Mi <%= @tracking_process.name %></h2>
        <table class="table table-bordered">
          <thead>
          <th width="7%"><%= alias_username %></th>
          <th width="22%"><%= @tracking_process.label_attendant %></th>
          <% ancho_mini_ficha = (28/@mini_ficha_chars.count) %>
          <% @mini_ficha_chars.each do |char| %>
              <th width="<%= ancho_mini_ficha %>%"><%= char.nombre %></th>
          <% end %>
          <th width="8%">Estado</th>
          <th width="13%">Acción</th>
          </thead>
          <tbody>
          <% @my_tracking_participants.each do |tracking_participant| %>
              <% tracking_form_instance = calculate_pill_to_open(tracking_participant) %>
              <% current_action = tracking_form_instance.current_action(user_connected) if tracking_form_instance %>
              <tr>
                <td><%= tracking_participant.attendant_user.codigo %></td>
                <td><%= tracking_participant.attendant_user.comma_full_name %></td>
                <% @mini_ficha_chars.each do |char| %>
                    <% user_char = char.user_characteristics.where(:user_id => tracking_participant.attendant_user.id).first %>
                    <td><%= user_char.formatted_value if user_char %></td>
                <% end %>

                <% if tracking_participant.traceable? #tracking_form_instance.first_due_date && tracking_form_instance.done? %>
                    <% @builder, @filler, @counterpart = tracking_participant.data_for_tracking_list(user_connected) #tracking_form_instance.data_for_tracking_form(user_connected) %>
                    <td>Seguimiento</td>
                    <% if @counterpart.any? %>
                        <% action_label = 'Validar' %>
                    <% elsif @builder.any? || @filler.any? %>
                        <% action_label = 'Registrar' %>
                    <% else %>
                        <% action_label = 'Consultar' %>
                    <% end %>
                    <td><%= link_to action_label, tracking_participant_track_path(tracking_participant) %></td>
                <% elsif tracking_form_instance.done? %>
                    <td>Finalizado</td>
                    <td>
                      <%= link_to 'Consultar', tracking_form_instance %>
                    </td>
                <% elsif current_action %>
                    <td>Definición</td>
                    <td><%= link_to tracking_form_instance.current_action(user_connected).name, tracking_form_instance %></td>
                <% else %>
                    <td>Definición</td>
                    <td><%= link_to 'Consultar', tracking_form_instance %></td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>

    <% end %>
    <% if @tracking_participants.any? %>
        <h2><%= @tracking_process.name %> de mis <%= @tracking_process.label_subject_plural %></h2>
        <table class="table table-bordered">
          <thead>
          <th width="7%"><%= alias_username %></th>
          <th width="22%"><%= @tracking_process.label_subject %></th>
          <% ancho_mini_ficha = (28/@mini_ficha_chars.count) %>
          <% @mini_ficha_chars.each do |char| %>
              <th width="<%= ancho_mini_ficha %>%"><%= char.nombre %></th>
          <% end %>
          <th width="8%">Estado</th>
          <th width="13%">Acción</th>
          </thead>
          <tbody>
          <% @tracking_participants.each do |tracking_participant| %>
              <% tracking_form_instance = calculate_pill_to_open(tracking_participant) %>
              <% current_action = tracking_form_instance.current_action(user_connected) if tracking_form_instance %>
              <tr>
                <td><%= tracking_participant.subject_user.codigo %></td>
                <td><%= tracking_participant.subject_user.comma_full_name %></td>
                <% @mini_ficha_chars.each do |char| %>
                    <% user_char = char.user_characteristics.where(:user_id => tracking_participant.subject_user.id).first %>
                    <td><%= user_char.formatted_value if user_char %></td>
                <% end %>

                <% if tracking_participant.traceable? #tracking_form_instance.first_due_date && tracking_form_instance.done? %>
                    <% @builder, @filler, @counterpart = tracking_participant.data_for_tracking_list(user_connected) %>
                    <td>Seguimiento</td>
                    <% if @counterpart.any? %>
                        <% action_label = 'Validar' %>
                    <% elsif @builder.any? || @filler.any? %>
                        <% action_label = 'Registrar' %>
                    <% else %>
                        <% action_label = 'Consultar' %>
                    <% end %>
                    <td><%= link_to action_label, tracking_participant_track_path(tracking_participant) %></td>
                <% elsif tracking_form_instance.done? %>
                    <td>Finalizado</td>
                    <td>
                      <%= link_to 'Consultar', tracking_form_instance %>
                    </td>
                <% elsif current_action %>
                    <td>Definición</td>
                    <td><%= link_to tracking_form_instance.current_action(user_connected).name, tracking_form_instance %></td>
                <% else %>
                    <td>Definición</td>
                    <td><%= link_to 'Consultar', tracking_form_instance %></td>
                <% end %>
              </tr>

          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>