<h1 class="page-title txt-color-blueDark">
  <i class="fa fa-book"></i>
  Características para gestión de usuarios
  <span>> Lista de características </span>
</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-striped table-hover table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Característica</th>
            <th>Veces usada</th>
            <th><%= link_to 'Habilitar nueva característica', new_um_characteristic_path %></th>
          </tr>
          </thead>
          <tbody>

          <% @um_characteristics.each_with_index do |um_characteristic, index| %>
            <tr>
              <td><%= index +1 %></td>
              <td><%= um_characteristic.name %></td>
              <td>
                <%= um_characteristic.um_custom_report_characteristics.size %>
              </td>
              <!--
              <td><%= link_to 'Show', um_characteristic %></td>
              <td><%= link_to 'Edit', edit_um_characteristic_path(um_characteristic) %></td>
              -->
              <td>
                <% if um_characteristic.um_custom_report_characteristics.size == 0 %>
                  <%= link_to 'Deshabilitar', um_characteristic, method: :delete, data: { confirm: '¿Está seguro de deshabilitar las característica?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>

        </table>

      </div>
    </div>

  </div>
</div>

