<p id="notice"><%= notice %></p>

<p>
  <b>Characteristic:</b>
  <%= @um_characteristic.characteristic %>
</p>


<%= link_to 'Edit', edit_um_characteristic_path(@um_characteristic) %> |
<%= link_to 'Back', um_characteristics_path %>
