<div class="row">
  <div class="col-md-6">

    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'shared/user_profile_mini',
                   locals: {user: user,
                            company: @company,
                            hide_link_detail: true} %>
        <hr>
      </div>


      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= text_field_tag :filter_patron, nil, class: 'form-control filterer', placeholder: 'Filtrar solicitudes' %>
        </div>
      </div>

      <br>

      <div id="user_information_manager_accordion_spinner_container" style="display:none;">
        <div class="row">
          <div class="col-md-12 col-md-offset-0">
            <div align="center">
          <span class="fa-stack fa-4x">
          <i class="fa fa-spinner fa-pulse fa-stack-2x fa-spin"></i>
          <i class="fa fa-suitcase fa-stack-1x"></i>
          </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12" id="user_information_manager_accordion">
        <%= render partial: 'requests_accordion', locals: { user: user } %>
      </div>
    </div>

  </div>

  <div class="col-md-6">

    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'vac_accumulateds/accumulated_info',
                   locals: {vac_accumulated: VacAccumulated.user_latest(user.id),
                            scheme: true,
                            user: user} %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'bp_admin_groups/bp_user_info',
                   locals: { user: user,
                             show_group_info: true,
                             show_general_rules: true,
                             show_vacs_benefits: true,
                             show_sc: true,
                             show_anniversary: true,
                             show_group_user: true,
                             show_begin_prog: true,
                             show_certificate_date: true,
                             show_vacs_approvers: true,
                             new_request_option: true} %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= render partial: 'warning_exceptions_datatable',
                       locals: {user: user,
                                exceptions_to_list: BpWarningException.available_val(true).by_user(user.id).order_by_registered,
                                editable: true} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="request_historical_info_container"></div>
<div id="deactivate_description_modal_container"></div>

<script>
    function show_request_historical_info(link){
        url = $(link).data('url');
        $.ajax({
            url: url,
            type: 'get',
            dataType: "html",
            success: function (data) {
                $('#request_historical_info_container').html(data)
                $('#request_historical_info_modal').modal('show');
            }
        });
    }
</script>

<script>
    function load_accordion(){
        $('#user_information_manager_accordion_spinner_container').show();
        $('#user_information_manager_accordion').hide();
    }

    function finish_load_accordion(){
        $('#user_information_manager_accordion_spinner_container').hide();
        $('#user_information_manager_accordion').show();
    }
</script>