
<div class="row">
  <div class="col-md-3">
    <% if @pe_question.pe_member_evaluated %>
        <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar la evaluación'.html_safe, pe_questions_show_pe_member_path(@pe_evaluation, @pe_question.pe_member_evaluated), class: 'btn btn-default', tabindex: '-1' %>
    <% else %>
        <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar la evaluación'.html_safe, @pe_evaluation, class: 'btn btn-default', tabindex: '-1' %>
    <% end %>

  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Editar <%= @pe_element.name.downcase %> </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/show' %>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos de la evaluación
        </legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Dimensión</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.pe_dimension.name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Peso</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.weight %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3">
            <strong>Orden</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.position %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.description.html_safe %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<% if @pe_question.pe_member_evaluated %>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <% if @pe_process.of_persons? %>

            <%= render partial: 'shared/user_profile_mini',
                       locals: {
                           user: @pe_question.pe_member_evaluated.user,
                           company: @company,
                           ocultar_historial: true,
                           titulo: 'Perfil del Evaluado',
                           is_boss: false

                       }
            %>

        <% else %>

            <div class="panel panel-default">
              <div class="panel-body">

                <div class="row">
                  <div class="col-md-12">
                    <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-cubes"></i>
                      Área evaluada
                    </h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 text-center">
                    <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_question.pe_member_evaluated.pe_area.name %></span></h3>
                  </div>
                </div>

                <br>

                <div class="row">

                  <div class="col-md-3 text-center">

                    <% if @pe_question.pe_member_evaluated.user.foto %>
                        <img src="https://<%=request.host%>/storage/<%=company_codigo%>/fotos_usuarios/<%=@pe_question.pe_member_evaluated.user.foto%>" class="img-thumbnail user-foto">
                    <% else %>
                        <img src="/assets/default_user.png" class="img-thumbnail user-foto">

                    <% end %>

                  </div>
                  <div class="col-md-9">

                    <div class="row">
                      <div class="col-md-12">
                        <h3 class="ultra-light margin-zero"><%= @pe_question.pe_member_evaluated.user.nombre %> <span class="semi-bold"><%= @pe_question.pe_member_evaluated.user.apellidos %></span></h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 ">
                        <a><em><%= @pe_question.pe_member_evaluated.user.email %></em></a>
                      </div>
                    </div>

                  </div>

                </div>

              </div>
            </div>

        <% end %>

      </div>
    </div>

<% end %>

<% if @pe_question.pe_member_evaluator %>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <% if @pe_process.of_persons? %>

            <%= render partial: 'shared/user_profile_mini',
                       locals: {
                           user: @pe_question.pe_member_evaluator.user,
                           company: @company,
                           ocultar_historial: true,
                           titulo: 'Perfil del Evaluador',
                           is_boss: false

                       }
            %>

        <% else %>

            <div class="panel panel-default">
              <div class="panel-body">

                <div class="row">
                  <div class="col-md-12">
                    <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-cubes"></i>
                      Área evaluadora
                    </h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 text-center">
                    <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_question.pe_member_evaluator.pe_area.name %></span></h3>
                  </div>
                </div>

                <br>

                <div class="row">

                  <div class="col-md-3 text-center">

                    <% if @pe_question.pe_member_evaluator.user.foto %>
                        <img src="https://<%=request.host%>/storage/<%=company_codigo%>/fotos_usuarios/<%=@pe_question.pe_member_evaluator.user.foto%>" class="img-thumbnail user-foto">
                    <% else %>
                        <img src="/assets/default_user.png" class="img-thumbnail user-foto">

                    <% end %>

                  </div>
                  <div class="col-md-9">

                    <div class="row">
                      <div class="col-md-12">
                        <h3 class="ultra-light margin-zero"><%= @pe_question.pe_member_evaluator.user.nombre %> <span class="semi-bold"><%= @pe_question.pe_member_evaluator.user.apellidos %></span></h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 ">
                        <a><em><%= @pe_question.pe_member_evaluator.user.email %></em></a>
                      </div>
                    </div>

                  </div>

                </div>

              </div>
            </div>

        <% end %>

      </div>
    </div>

<% end %>

<% unless @pe_evaluation.entered_by_manager %>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">


        <%= form_for @pe_question, html: {class: 'form-horizontal'} do |f| %>

            <div class="panel panel-default">
              <div class="panel-body">

                <legend>Datos</legend>

                <%= render 'shared/error_messages', object: f.object %>

                <%= f.hidden_field :pe_evaluation_id %>
                <%= f.hidden_field :pe_question_id %>

                <% if @pe_question.pe_question_id %>

                    <div class="row">
                      <div class="col-md-3 text-right">
                        <%= @pe_question.pe_question.pe_element.name %>
                      </div>
                      <div class="col-md-6">
                        <%= @pe_question.pe_question.description.html_safe %>
                      </div>
                    </div>

                    <br>

                <% end %>

                <div class="form-group <%= field_with_errors f, :image %>">

                  <%= f.label :stored_image_id, 'Imagen', class: 'col-md-3 control-label' %>

                  <div class="col-md-9">

                    <% stored_images_array = StoredImage.all.map { |s_i| [s_i.name, s_i.id] } %>

                    <%= f.select(:stored_image_id, options_for_select(stored_images_array, @pe_question.stored_image_id), {include_blank: '-- Sin Imagen --'}, {class: 'form-control'}) %>

                    <br>

                    <div class="alert alert-danger">

                      <em>Imagen sólo mostrada en interfaces estándar de 1 elemento</em>

                    </div>

                  </div>

                </div>

                <% if @pe_question.pe_element.simple %>

                    <div class="form-group <%= field_with_errors f, :description %>">

                      <%= f.label :description, @pe_element.name, class: 'col-md-3 control-label' %>

                      <div class="col-md-9">

                        <%= f.text_area :description, class: 'form-control', rows: '5' %>

                      </div>

                    </div>

                <% else %>

                    <% @pe_question.pe_element.pe_element_descriptions.each do |pe_element_description| %>

                        <div class="form-group <%= field_with_errors f, :description %>">

                          <%= f.label :description, pe_element_description.name, class: 'col-md-3 control-label' %>

                          <div class="col-md-9">
                            <% pe_q_desc = @pe_question.pe_question_description_by_pe_element_description pe_element_description %>

                            <textarea name="pe_element_description_<%= pe_element_description.id %>" class="form-control" rows="5"><%= pe_q_desc.description if pe_q_desc %></textarea>

                          </div>

                        </div>

                    <% end %>

                <% end %>

                <% if @pe_element.assessed %>

                    <div class="form-group <%= field_with_errors f, :weight %>">

                      <%= f.label :weight, 'Peso', class: 'col-md-3 control-label' %>

                      <div class="col-md-9">

                        <%= f.number_field :weight, class: 'form-control' %>

                      </div>

                    </div>

                    <div class="form-group">

                      <%= f.label :informative, 'Informativa', class: 'col-md-3 control-label' %>

                      <div class="col-md-9">

                        <%= f.check_box :informative %>

                        <script>

                          $('#pe_question_informative').bootstrapSwitch({
                            onColor: 'success',
                            onText: "SÍ",
                            offColor: 'danger',
                            offText: "NO"
                          });

                        </script>

                      </div>

                    </div>

                    <div class="form-group">

                      <%= f.label :has_comment, 'Comentario', class: 'col-md-3 control-label' %>

                      <div class="col-md-9">

                        <%= f.check_box :has_comment %>

                        <script>

                          $('#pe_question_has_comment').bootstrapSwitch({
                            onColor: 'success',
                            onText: "SÍ",
                            offColor: 'danger',
                            offText: "NO"
                          });

                        </script>

                      </div>

                    </div>

                <% end %>

              </div>
              <div class="panel-footer clearfix">
                <div class="pull-right">
                  <%= f.submit 'Guardar', class: 'btn btn-primary' %>
                </div>
              </div>
            </div>


        <% end %>


      </div>
    </div>

<% end %>




