<h1>Listing pe_questions</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Weight</th>
    <th>Pe evaluation</th>
    <th>Pe group</th>
    <th>Pe element</th>
    <th>Pe question</th>
    <th>Has comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pe_questions.each do |pe_question| %>
  <tr>
    <td><%= pe_question.description %></td>
    <td><%= pe_question.weight %></td>
    <td><%= pe_question.pe_evaluation %></td>
    <td><%= pe_question.pe_group %></td>
    <td><%= pe_question.pe_element %></td>
    <td><%= pe_question.pe_question_id %></td>
    <td><%= pe_question.has_comment %></td>
    <td><%= link_to 'Show', pe_question %></td>
    <td><%= link_to 'Edit', edit_pe_question_path(pe_question) %></td>
    <td><%= link_to 'Destroy', pe_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pe question', new_pe_question_path %>
