<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @pe_question.description %>
</p>

<p>
  <b>Weight:</b>
  <%= @pe_question.weight %>
</p>

<p>
  <b>Pe evaluation:</b>
  <%= @pe_question.pe_evaluation %>
</p>

<p>
  <b>Pe group:</b>
  <%= @pe_question.pe_group %>
</p>

<p>
  <b>Pe element:</b>
  <%= @pe_question.pe_element %>
</p>

<p>
  <b>Pe question:</b>
  <%= @pe_question.pe_question_id %>
</p>

<p>
  <b>Has comment:</b>
  <%= @pe_question.has_comment %>
</p>


<%= link_to 'Edit', edit_pe_question_path(@pe_question) %> |
<%= link_to 'Back', pe_questions_path %>
