

<div class="row">

  <div class="col-md-3">

  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>: Confirmar retroalimentación
    </h1>
  </div>

</div>
<!--
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render partial: 'shared/user_profile_mini',
               locals: {
                 user: @hr_process_user.user,
                 company: @company,
                 titulo: 'Perfil del Evaluado',
                 ocultar_historial: true,
                 is_boss: false
               }
    %>

  </div>
</div>
-->


<% orden_evaluations = 1 %>

<% orden_active = 0 %>

<% todo_esta_contestado = true %>

<% if @hr_process.tiene_paso_feedback? %>

  <div class="row">
  <div class="col-md-10 col-md-offset-1">

  <%= form_for @hr_process_user, url: pe_feedback_confirmation_confirm_path(@hr_process), method: :post, html: {id: 'hr_process_assessment_confirmar_feedback_'+@hr_process_user.id.to_s} do |f| %>


    <div class="panel panel-default">
    <div class="panel-body">

    <legend>Resultados finales</legend>

    <table class="table table-bordered table-condensed">

    <thead>
    <tr>

      <% @hr_process_dimensions.each do |hr_process_dimension| %>

        <th class="text-center">
          <%= hr_process_dimension.nombre %>
        </th>

      <% end %>
      <% if @hr_process.muestra_cajas? || @hr_process.muestra_cuadrantes_calib || @hr_process.calib_cuadrante  %>
        <th colspan="2">Valoración final</th>
      <% end %>
    </tr>
    </thead>

    <tbody>

    <tr>

      <% @hr_process_dimensions.each do |hr_process_dimension| %>

        <td class="text-center">


          <% hr_process_assessment_d =  @hr_process_user.hr_process_assessment_ds.find_by_hr_process_dimension_id(hr_process_dimension.id) %>

          <% if hr_process_assessment_d %>

            <% dim_g =  hr_process_assessment_d.hr_process_dimension_g %>
            <nobr>
              <label style="<%= 'color: #'+dim_g.color_text+';' if dim_g && dim_g.color_text %>">
                <strong>
                  <%= number_with_precision(hr_process_assessment_d.resultado_porcentaje.to_f, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

                  <%= ' - '+dim_g.nombre if dim_g && dim_g.nombre %>
                </strong>

              </label>

              <% hr_process_dimension.hr_process_dimension_es.each do |hr_process_dimension_e| %>

                <% hr_process_evaluation = hr_process_dimension_e.hr_process_evaluations.where('hr_process_id = ? ', @hr_process.id).first %>

                <% if hr_process_evaluation %>

                  <% hr_process_assessment_ef = HrProcessAssessmentEf.where('hr_process_evaluation_id = ? AND hr_process_user_id = ?', hr_process_evaluation.id, @hr_process_user.id).first %>

                  <% if hr_process_assessment_ef %>

                    <% if hr_process_assessment_ef.registered_by_manager %>
                      <i id="notice_registered_by_manager_<%= hr_process_assessment_ef.id %>" class="fa fa-exclamation-circle" style="color: #8b0000;" data-toggle="tooltip" data-placement="right" title="<%= hr_process_dimension_e.hr_evaluation_type.nombre %>: Registro realizado por el gestor"></i>
                      <script>
                        $(function () {
                          $('#notice_registered_by_manager_<%= hr_process_assessment_ef.id %>').tooltip()
                        })
                      </script>
                    <% end %>
                  <% end %>

                <% end %>

              <% end %>

            </nobr>


          <% end %>

        </td>

      <% end %>

      <% if @hr_process.muestra_cajas? || @hr_process.muestra_cuadrantes_calib || @hr_process.calib_cuadrante %>

        <td>
          <div>


            <% hr_process_assessment_qua = @hr_process_user.hr_process_assessment_qua %>

            <% if hr_process_assessment_qua %>

              <% hr_process_quadrant = hr_process_assessment_qua.hr_process_quadrant %>

              <% if hr_process_quadrant.nombre %>

                                  <span class="label label-default col-md-12" style="font-size: 0.9em; text-align: center; <%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant.color_text %><%= 'background-color: #'+hr_process_quadrant.color+';' if hr_process_quadrant.color %>">
                                    <%= hr_process_quadrant.nombre.html_safe %><br>
                                    <%= hr_process_quadrant.descripcion.html_safe if hr_process_quadrant.descripcion %>
                                  </span>

                <% # unless is_boss %>

                  <% #hr_process_calibration_session_m = @hr_process_user.hr_process_calibration_session_ms.first %>

                  <% #hr_process_assessment_qua_cal = HrProcessAssessmentQuaCal.where('hr_process_calibration_session_id = ? AND  hr_process_calibration_session_m_id = ?', hr_process_calibration_session_m.hr_process_calibration_session.id, hr_process_calibration_session_m.id).first if hr_process_calibration_session_m %>

                  <% #hr_process_quadrant_cal = hr_process_assessment_qua_cal.hr_process_quadrant if hr_process_assessment_qua_cal %>



                <% #end %>

              <% end %>



            <% else %>

              <span class="label label-default">No evaluado</span>

            <% end %>
          </div>
        </td>
        <td>

          <% if hr_process_quadrant %>

            <%= hr_process_quadrant.descripcion_detalle.html_safe if hr_process_quadrant.descripcion_detalle %>

          <% end %>

        </td>

      <% end %>


    </tr>



    </tbody>

    </table>

    <strong>&nbsp;Valoración por dimensión y evaluación</strong>
    <table class="table table-bordered table-condensed table-hover">

      <thead>
      <tr>
        <th>
          Dimensión
        </th>
        <th>
          Evaluación
        </th>
        <th>
          Peso
        </th>
        <th>
          Resultado
        </th>
        <th>
          Valoración Dimensión
        </th>
      </tr>
      </thead>

      <tbody>

      <% @hr_process_dimensions.each do |hr_process_dimension| %>

        <% if hr_process_dimension.hr_process_dimension_es.size > 0 %>


          <tr>
            <td rowspan="<%= hr_process_dimension.hr_process_dimension_es.size %>">
              <%= hr_process_dimension.nombre %>
            </td>

            <% hr_process_dimension_e = hr_process_dimension.hr_process_dimension_es.first %>

            <td width="20%">

              <%= hr_process_dimension_e.hr_evaluation_type.nombre %>

            </td>
            <td width="10%">
              <%= hr_process_dimension_e.porcentaje %>%
            </td>
            <% hr_process_evaluation = hr_process_dimension_e.hr_process_evaluations.where('hr_process_id = ? ', @hr_process.id).first %>

            <% if hr_process_evaluation %>

              <% hr_process_assessment_ef = HrProcessAssessmentEf.where('hr_process_evaluation_id = ? AND hr_process_user_id = ?', hr_process_evaluation.id, @hr_process_user.id).first %>

              <% if hr_process_assessment_ef %>
                <% dim_g = dimension_group_for_evaluation(hr_process_evaluation, hr_process_assessment_ef) %>

                <td style="<%= 'color: #'+dim_g.color_text+';' if dim_g && dim_g.color_text %>">
                  <strong>
                    <%= number_with_precision(hr_process_assessment_ef.resultado_porcentaje.to_f, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                    <%= ' - '+dim_g.nombre if dim_g && dim_g.nombre %>
                  </strong>
                </td>
              <% else %>
                <td></td>
              <% end %>

            <% else %>
              <td></td>
            <% end %>


            <td rowspan="<%= hr_process_dimension.hr_process_dimension_es.size %>">
              <% hr_process_assessment_d =  @hr_process_user.hr_process_assessment_ds.find_by_hr_process_dimension_id(hr_process_dimension.id) %>

              <% if hr_process_assessment_d %>

                <% dim_g =  hr_process_assessment_d.hr_process_dimension_g %>
                <nobr>
                  <label style="<%= 'color: #'+dim_g.color_text+';' if dim_g && dim_g.color_text %>">
                    <strong>
                      <%= number_with_precision(hr_process_assessment_d.resultado_porcentaje.to_f, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

                      <%= ' - '+dim_g.nombre if dim_g && dim_g.nombre %>
                    </strong>

                  </label>
                </nobr>
              <% end %>
            </td>



          </tr>

          <% hr_process_dimension.hr_process_dimension_es.each_with_index do |hr_process_dimension_e, dim_index| %>

            <% if dim_index > 0 %>

              <tr>

                <td width="20%">

                  <%= hr_process_dimension_e.hr_evaluation_type.nombre %>

                </td>
                <td width="10%">
                  <%= hr_process_dimension_e.porcentaje %>%
                </td>
                <% hr_process_evaluation = hr_process_dimension_e.hr_process_evaluations.where('hr_process_id = ? ', @hr_process.id).first %>

                <% if hr_process_evaluation %>

                  <% hr_process_assessment_ef = HrProcessAssessmentEf.where('hr_process_evaluation_id = ? AND hr_process_user_id = ?', hr_process_evaluation.id, @hr_process_user.id).first %>

                  <% if hr_process_assessment_ef %>
                    <% dim_g = dimension_group_for_evaluation(hr_process_evaluation, hr_process_assessment_ef) %>

                    <td style="<%= 'color: #'+dim_g.color_text+';' if dim_g && dim_g.color_text %>">
                      <strong>
                        <%= number_with_precision(hr_process_assessment_ef.resultado_porcentaje.to_f, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                        <%= ' - '+dim_g.nombre if dim_g && dim_g.nombre %>
                      </strong>
                    </td>
                  <% else %>
                    <td></td>
                  <% end %>

                <% else %>
                  <td></td>
                <% end %>

              </tr>

            <% end %>

          <% end %>

        <% end %>
      <% end %>

      </tbody>

    </table>

    <% if @hr_process_user.feedback_confirmado? && @hr_process.step_feedback_confirmation? %>

      <hr>
      <h6>
        <span class="label label-success">
          La retroalimentación ya ha sido realizada
          <% if @hr_process_user.feedback_date %>
            el <%= (localize @hr_process_user.feedback_date, format: :full_date) %>
          <% end %>
        </span>
      </h6>
      <br>
      <strong>Resumen de la retroalimentación</strong>
        <br>
        <br>
      <% if @hr_process.tiene_paso_feedback_modo == 1 %>

        <%= @hr_process_user.texto_feedback.html_safe if @hr_process_user.texto_feedback %>

      <% else %>


          <% if $current_domain == 'epacasmayo' %>

            <strong>1. Fortalezas</strong>

          <% else %>

            <strong>1. Atributos positivos de desempeño</strong>

          <% end %>

          <br>
        <% if @hr_process_user.tf_1 %>

          <%= @hr_process_user.tf_1.html_safe %>

        <% end %>
        <br><br>
        <strong>2. Oportunidades de mejora</strong>
        <br>

        <% if @hr_process_user.tf_2 %>

          <%= @hr_process_user.tf_2.html_safe %>

        <% end %>

          <br><br>
          <strong>3. Plan de Acción</strong>
          <br>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>#</th>
              <th>



                <% if $current_domain == 'epacasmayo' %>

                  70% (experiencia, asignación de proyectos, retos, etc)
                <% else %>

                  ¿Qué?
                <% end %>


              </th>
              <th>

                <% if $current_domain == 'epacasmayo' %>

                  20% (retroalimentación constante y acompañamiento)
                <% else %>

                  ¿Cómo?
                <% end %>




              </th>
              <th>

                <% if $current_domain == 'epacasmayo' %>

                  10% (capacitación técnica)
                <% else %>

                  ¿Cuándo?
                <% end %>
              </th>
            </tr>
            </thead>

            <tbody>

            <% @hr_process_user.hr_process_user_tfs.each_with_index do |hr_process_user_tf, index_tf| %>

              <tr>
                <td><%= index_tf+1 %></td>
                <td>
                  <%= hr_process_user_tf.what %>
                </td>
                <td>
                  <%= hr_process_user_tf.how %>
                </td>
                <td>
                  <%= hr_process_user_tf.when %>
                </td>
              </tr>

            <% end %>

            </tbody>

          </table>

          <% if $current_domain == 'epacasmayo' %>


            <strong>4. Comentarios adicionales</strong>
            <br>

            <% if @hr_process_user.tf_4 %>

              <%= @hr_process_user.tf_4.html_safe %>

            <% end %>

          <% end %>

      <% end %>

      <hr>

      <strong>Confirmar retroalimentación</strong>
      <br>
      <br>

      <% if @hr_process_user.feedback_recibido %>
        <h6>
          <span class="label label-success">
            Ya se ha confirmado que la retroalimentación ha sido recibida.
          </span>
        </h6>
      <% else %>
        <em>
          Debe confirmar que está conforme con la evaluación realizada y que ha recibido la retroalimentación adecuada por parte de su
          <%= @hr_process.alias_jefe %>
        </em>

        <label class="checkbox">

          <%= f.check_box :feedback_recibido, onchange: 'set_confirmar_feedback(this);' %>
          Confirmo que he recibido la retroalimentación.

        </label>
      <% end %>

    <% end %>

    </div>
    <% unless @hr_process_user.feedback_recibido? %>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Confirmar', class: 'btn  disabled', id: 'button_confirmar_feedback', disabled: 'disabled'  %>
          <a id= 'suggestion_make_check_confirmar_feedback' data-toggle= 'tooltip' title= 'Para habilitar el botón Confirmar debe indicar que confirma que ha recibido la retroalimentación marcando el check '>
            <i class="fa fa-question"></i>
          </a>

        </div>
      </div>
    <% end %>
    </div>

    <script>
      function set_confirmar_feedback(c){
        if(c.checked){
          $('#button_confirmar_feedback').removeClass('disabled');
          $('#button_confirmar_feedback').addClass('btn-success');

          $('#button_confirmar_feedback').removeAttr('disabled');
        }else{
          $('#button_confirmar_feedback').removeClass('btn-success');
          $('#button_confirmar_feedback').addClass('disabled');

          $('#button_confirmar_feedback').attr("disabled", "disabled");
        }
      }
      $('#suggestion_make_check_confirmar_feedback').tooltip({
        placement: 'top'
      });
    </script>

  <% end %>

  </div>
  </div>

<% end %>

