<%= form_for @scholarship_list, class: 'form-horizontal' do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos del Proceso</legend>

      <%= render 'shared/error_messages', object: f.object %>
      <div class="row form-group <%= field_with_errors f, :name %>">
        <%= f.label :name, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <div class="row form-group <%= field_with_errors f, :description %>">
        <%= f.label :description, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :description, :rows => 3, class: 'form-control' %>
        </div>
      </div>
      <div class="row form-group">
        <%= f.label :active, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :active} %>
        </div>
      </div>

      <div class="items_container panel panel-default">
        <div class="panel-body item_container">
          <legend>Items</legend>
          <%= f.fields_for :scholarship_list_items do |f_item| %>
            <%= render :partial => 'scholarship_lists/list_items/form', :locals => {:f => f_item} %>
          <% end %>
        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= link_to_add_scholarship_list_item 'Añadir item', f %>
          </div>
        </div>
      </div>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>


<script>
    //items
    function remove_scholarship_list_item(link) {
        var r = confirm("¿Está seguro?");
        if (r == true) {
            $(link).prev('input[type=hidden]').val(1)
            $(link).closest('.list_item').hide();
        }
    }

    function add_scholarship_list_item(link, content) {
        var new_id = new Date().getTime();
        var regexp = new RegExp('new_scholarship_list_item', 'g')
        $(link).closest('.items_container').find('.item_container').append(content.replace(regexp, new_id))
    }
</script>