<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.vac_requests.navigation.back_list_requests_list')).html_safe, vac_records_validation_index_as_manager_path(1), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-suitcase" aria-hidden="true"></i>
      <%= t('views.vac_requests.legends.records') %>
      <span>> <%= t('views.vac_requests.flow_process.manage') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'vac_accumulateds/user_info',
               locals: { user: @vac_request.user } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'vac_accumulateds/accumulated_info',
               locals: { vac_accumulated: VacAccumulated.user_latest(@vac_request.user.id),
                         user: @vac_request.user } %>
  </div>
</div>


<div class="row">
  <div id ="request_info_container" class="col-md-6 col-md-offset-3">
    <%= render partial: 'vac_records_register/request_info',
               locals: { request: @vac_request,
                         editable: true,
                         approver: true } %>
  </div>
</div>

<script>
    function get_dates_detail_table(link) {
        url = $(link).data('url');

        $.ajax({
            url: url,
            data: { 'vac_request_id': '<%= @vac_request.id %>'},
            type: "post",
            async: false,
            dataType: "html",
            error: function (XMLHttpRequest, errorTextStatus, error) {
                alert("Failed: " + errorTextStatus + " ;" + error);
            },
            success: function (result) {
                $(link).popover({
                    content: $('#popover_content').html(result),
                    html: true,
                    container: 'body'
                });
                $(link).popover('show');
            }
        });
    }
</script>