<!-- Resources -->
<script src="/assets/amcharts/amcharts.js" type="text/javascript"></script>
<script src="/assets/amcharts/pie.js" type="text/javascript"></script>
<script src="/assets/amcharts/themes/light.js" type="text/javascript"></script>
<script src="/assets/amcharts/serial.js" type="text/javascript"></script>


<!-- PieChart: Consulta -->
<%
  @connection = ActiveRecord::Base.connection
  used_browsers = ['Chrome', 'Firefox', 'Mozilla', 'Internet Explorer', 'Safari', 'Android'].sort
  browsers_mysql = used_browsers.join('","')

  if used_browsers.empty?
    browsers_visits = @connection.execute('select  browser, count(*) as visits from log_logins group by browser order by browser')
    else
      browsers_visits = @connection.execute('select  browser, count(*) as visits from log_logins where browser in ("'+browsers_mysql+'") group by browser order by browser')
  end
%>

<!-- PieChart: Navegadores -->
<script>
    AmCharts.makeChart("chartdiv", {
        "type": "pie",
        "theme": "light",
        "dataProvider": [<% browsers_visits.each_with_index do |res, index| %>
            <% if index > 0 %>
            <%= (', {"navegador": "'+res[0].to_s+'", "visitas": '+res[1].to_s+'} ').html_safe %>
            <% else %>
            <%= ('{"navegador": "'+res[0].to_s+'", "visitas": '+res[1].to_s+'} ').html_safe %>
            <% end %>
            <% end %>
        ],
        "valueField": "visitas",
        "titleField": "navegador",
        "balloon": {
            "fixedPosition": true
        },
        "export": {
            "enabled": true
        }
    });
</script>


<!-- 2do Gráfico: Todos los navegadores en el tiempo -->
<%
  @connection = ActiveRecord::Base.connection
  used_browsers = ['Chrome', 'Firefox', 'Mozilla', 'Internet Explorer', 'Safari', 'Android'].sort
  browsers_mysql = used_browsers.join('","')

  if used_browsers.empty?
    quarters_browsers_visits = @connection.execute('select year(fecha), quarter(fecha), browser, count(*) as visits from log_logins group by year(fecha), quarter(fecha), browser order by year(fecha), quarter(fecha), browser')
  else
    quarters_browsers_visits = @connection.execute('select year(fecha), quarter(fecha), browser, count(*) as visits from log_logins where browser in ("'+browsers_mysql+'") group by year(fecha), quarter(fecha), browser order by year(fecha), quarter(fecha), browser')
  end

  quarters = @connection.execute('select  year(fecha) as fecha1, quarter(fecha) as trimestre from log_logins group by fecha1, trimestre order by fecha1, trimestre')
%>


<!-- amCharts javascript code -->
<script type="text/javascript">
    var chartData = generateChartData();
    AmCharts.makeChart("chartdiv1",
        {
            "type": "serial",
            "categoryField": "fecha",
            "startDuration": 1,
            "theme": "light",
            "categoryAxis": {
                "gridPosition": "start"
            },

            "trendLines": [],
            "graphs": [
                <% if used_browsers.empty? %>
                <% graph = @connection.execute('select browser from log_logins group by browser order by browser') %>
                <% else  %>
                <% graph = @connection.execute('select browser from log_logins where browser in ("'+browsers_mysql+'") group by browser order by browser') %>
                <% end %>

                <% coma = ',' %>
                <% graph.each_with_index do |res, index| %>
                <%= '{' %>
                <%= ('"balloonText": "[[title]] - [[fecha]]: [[value]]",').html_safe %>
                <%= ('"fillAlphas": 1,').html_safe %>
                <%= ('"id": "AmGraph-'+(index+1).to_s+'",').html_safe %>
                <%= ('"fillAlphas": 1,').html_safe %>
                <%= ('"title": "'+res[0].to_s+'",').html_safe %>
                <%= ('"type": "column",').html_safe %>
                <%= ('"valueField": "'+res[0].to_s.delete(' ').delete('-').delete('.').delete(',')+'"').html_safe %>
                <% coma ='' if graph.size == (index +1) %>
                <%= '}'+coma %>
                <% end %>
            ],
            "guides": [],
            "valueAxes": [
                {
                    "id": "ValueAxis-1",
                    "stackType": "100%",
                    "title": "Porcentaje"
                }
            ],
            "allLabels": [],
            "balloon": {},
            "legend": {
                "enabled": true,
                "useGraphSettings": true
            },
            "titles": [
                {
                    "id": "Title-1",
                    "size": 15,
                    "text": "Uso de navegadores en el tiempo"
                }
            ],
            "dataProvider": chartData
        });

    function generateChartData() {
        var chartData = [];
        <%
        quarters.each do |aux|
          year = aux[0].to_s
          quarter = aux[1].to_s
          coma = ','
         %>
        chartData.push({
            fecha: "<%= (year+'-'+quarter).html_safe %>",

            <%
            quarters_browsers_visits.each_with_index do |aux1, index1|
              coma ='' if quarters_browsers_visits.size == (index1 +1)
              if year == aux1[0].to_s and quarter == aux1[1].to_s
              %>
            <%= aux1[2].to_s.delete(' ').delete('-').delete('.').delete(',')+': '+aux1[3].to_s.html_safe %><%= coma.to_s %>
            <%
          end
        end
        %>
        })

        <% end %>
        return chartData;
    }




</script>

<!-- Modificacion para que la data sea comestible para el tercero gráfico (versions_browser_chart) -->

      <% @connection = ActiveRecord::Base.connection %>

      <% used_browsers = ['Chrome', 'Firefox', 'Mozilla', 'Internet Explorer', 'Safari', 'Android'].sort %>
      <% browsers_mysql = used_browsers.join('","') %>

      <% if used_browsers.empty? %>
          <% browsers_version_quarters_visits = @connection.execute('select  browser, cast(substring(version,1,locate(".", version)-1) as SIGNED) as version1, year(fecha) as fecha1, quarter(fecha) as trimestre, count(*) as visits from log_logins group by browser, version1, fecha1, trimestre order by browser, version1, fecha1, trimestre') %>
      <% else %>
          <% browsers_version_quarters_visits = @connection.execute('select  browser, cast(substring(version,1,locate(".", version)-1) as SIGNED) as version1, year(fecha) as fecha1, quarter(fecha) as trimestre, count(*) as visits from log_logins where browser in ("'+browsers_mysql+'") group by browser, version1, fecha1, trimestre order by browser, version1, fecha1, trimestre') %>
      <% end %>

      <% data = [] %>
      <% quarters = [] %>
      <% browsers_version_quarters_visits.each do |res| %>
          <% quarter = res[2].to_s+'-'+res[3].to_s %>
          <% quarters << quarter %>
          <% data << [res[0].to_s, res[1].to_i, quarter, res[4].to_i] %>
      <% end %>

      <% quarters = quarters.uniq.sort %>







<!-- amCharts javascript code. Versión de navegador -->
<% if used_browsers.empty? %>
    <% result = @connection.execute('select distinct browser from log_logins order by browser desc') %>
<% else %>
    <% result = @connection.execute('select distinct browser from log_logins where browser in ("'+browsers_mysql+'") order by browser desc') %>
<% end %>

<% result.each do |res| %>
    <% browser = res[0].to_s.delete(' ').delete('-').delete('.').delete(',').delete('_') %>
    <% browser_bd = res[0].to_s %>

    <script type="text/javascript">
        <%= ('var has_to_render_'+browser+'_chart = true;').html_safe %>

        function <%= ('render_'+browser+'_chart()').html_safe %>{
        <%= ('if(has_to_render_'+browser+'_chart){').html_safe %>
        <%= ('var chartData = generateChartData'+browser+'();').html_safe %>
        AmCharts.makeChart(<%= ('"chartdiv'+browser+'",').html_safe %>
            {
                "type": "serial",
                "categoryField": "fecha",
                "startDuration": 1,
                "theme": "light",
                "categoryAxis": {
                    "gridPosition": "start"
                },
                "trendLines": [],
                "graphs": [
                    <% coma = ',' %>
                    <% graph = @connection.execute('select cast(substring(version,1,locate(".", version)-1) as SIGNED) as version1 from log_logins where browser = "'+browser_bd+'" group by version1 order by version1') %>
                    <% graph.each_with_index do |res, index| %>
                    <%= '{' %>
                    <%= ('"balloonText": "[[title]] - [[fecha]]: [[value]]",').html_safe %>
                    <%= ('"fillAlphas": 1,').html_safe %>
                    <%= ('"id": "AmGraph-'+(index+1).to_s+'",').html_safe %>
                    <%= ('"fillAlphas": 1,').html_safe %>
                    <%= ('"title": "'+res[0].to_s+'",').html_safe %>
                    <%= ('"type": "column",').html_safe %>
                    <%= ('"valueField": "'"a"+res[0].to_s.delete(' ').delete('-').delete('.').delete(',').delete('_')+'"').html_safe %>
                    <% coma ='' if graph.size == (index +1) %>
                    <%= '}'+coma %>
                    <% end %>
                ],
                "guides": [],
                "valueAxes": [
                    {
                        "id": "ValueAxis-1",
                        "stackType": "100%",
                        "title": "Porcentaje"
                    }
                ],
                "allLabels": [],
                "balloon": {},
                "legend": {
                    "enabled": true,
                    "useGraphSettings": true
                },
                "titles": [
                    {
                        "id": "Title-1",
                        "size": 15,
                        "text": "Uso de navegadores en el tiempo"
                    }
                ],
                "dataProvider": chartData
            });
        <%= '}' %>
        <%= ('has_to_render_'+browser+'_chart = false;').html_safe %>
        }

        function <%= 'generateChartData'+browser+'()'.html_safe %> {
            var chartData = [];
            <% quarters = @connection.execute('select  year(fecha) as fecha1, quarter(fecha) as trimestre from log_logins where browser = "'+browser_bd+'" group by fecha1, trimestre order by fecha1, trimestre') %>
            <% otherthing = @connection.execute('select cast(substring(version,1,locate(".", version)-1) as SIGNED) as version1 from log_logins where browser = "'+browser_bd+'" group by version1 order by version1') %>
            <% quarters.each_with_index do |res, index| %>
            <% otherthing.each_with_index do |res2, index2| %>
            <%= 'var '+"a"+res2[0].to_s.delete(' ')+' = 0;' %>
            <% end %>
            chartData.push({
                <%=('fecha: "'+res[0].to_s.delete(' ')+'-'+res[1].to_s.html_safe+'",').html_safe%>
                <% data = @connection.execute('select cast(substring(version,1,locate(".", version)-1) as SIGNED) as version1, count(*) as visits from log_logins where year(fecha) = "'+res[0].to_s+'" and quarter(fecha) = "'+res[1].to_s+'" and browser = "'+browser_bd+'" group by version1 order by version1') %>
                <% coma = ',' %>
                <% data.each_with_index do |res1, index1| %>
                <% coma ='' if data.size == (index1 +1) %>
                <%= "a"+res1[0].to_s.delete(' ').delete('-').delete('.').delete(',').delete('_')+': '+res1[1].to_s.html_safe %><%= coma.to_s %>
                <% end %>
            })
                <% end %>
                return chartData;
        }
    </script>
<% end %>



<% nombre = @connection.execute('select nombre from companies') %>
<legend> <%= (nombre.first[0].to_s).html_safe %></legend>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> Navegadores utilizados</legend>
        <div id="chartdiv" style="width: 100%; height: 500px;"></div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <% if used_browsers.empty? %>
              <% result = @connection.execute('select distinct browser from log_logins order by browser desc') %>
          <% else %>
              <% result = @connection.execute('select distinct browser from log_logins where browser in ("'+browsers_mysql+'") order by browser desc') %>
          <% end %>


          <% result.each do |res| %>
              <% browser = res[0].to_s.delete(' ').delete('-').delete('.').delete(',').delete('_') %>
              <%= ('<li><a href="#tab_content_'+browser+'_chart" data-toggle="tab">'+res[0].to_s+'</a></li>').html_safe %>
          <% end %>
        </ul>

        <div class="tab-content">
          <% result.each do |res| %>
              <% browser = res[0].to_s.delete(' ').delete('-').delete('.').delete(',').delete('_') %>
              <%= ('<div class="tab-pane" id="tab_content_'+browser+'_chart">').html_safe %>
              <%= ('<div id="chartdiv'+browser+'"  style="width: 100%; height: 500px;"> </div>').html_safe %>
              <%= ('</div>').html_safe %>
          <% end %>
        </div>

      </div>
    </div>
  </div>

</div>




<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="chartdiv1" style="width: 100%; height: 400px;"></div>
      </div>
    </div>
  </div>
</div>

<script>

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr("href");
        <% result = @connection.execute('select distinct browser from log_logins order by browser desc') %>
        <% result.each_with_index do |res, index| %>
        <% browser = res[0].to_s.delete(' ').delete('-').delete('.').delete(',').delete('_') %>
        if (<%= ('target == "#tab_content_'+browser+'_chart"').html_safe %>) {
            <%= ('render_'+browser+'_chart();').html_safe %>
        }
        <% end %>
    });

    $(function () {
        $('a[data-toggle="tab"]').first().click();
    })


</script>