<%= form_for @sel_apply_form, html: {class: 'form-horizontal'} do |f| %>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos del Item del formulario</legend>

        <%= render 'shared/error_messages', object: f.object %>

        <%= f.hidden_field :sel_template_id %>
        <div class="form-group <%= field_with_errors f, :position %>">
          <%= f.label :position, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.number_field :position, class: 'form-control' %>
          </div>
        </div>
        <% characteristics_array = JmCharacteristic.joins('left join sel_apply_forms
                                                           ON (jm_characteristics.id = sel_apply_forms.jm_characteristic_id AND sel_apply_forms.sel_template_id = ' + @sel_template.id.to_s + ')
                                                           WHERE (sel_apply_forms.jm_characteristic_id is null
                                                           OR jm_characteristics.id = ' + (@sel_apply_form.jm_characteristic_id ? @sel_apply_form.jm_characteristic_id.to_s : '-1')+')
                                                           AND jm_characteristics.manager_only = 0' ).map { |jm_characteristic| [jm_characteristic.code.to_s + ' - ' + jm_characteristic.name, jm_characteristic.id] } %>
        <div class="form-group <%= field_with_errors f, :jm_characteristic_id %>">
          <%= f.label :jm_characteristic_id, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.select(:jm_characteristic_id, options_for_select(characteristics_array, @sel_apply_form.jm_characteristic_id), {}, {class: 'form-control'}) %>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :mandatory %>">
          <%= f.label :mandatory, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
          <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field=> :mandatory }%>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :show_in_list_of_candidates %>">
          <%= f.label :show_in_list_of_candidates, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field=> :show_in_list_of_candidates }%>
          </div>
        </div>
      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>