<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la configuración de la Plantilla'.html_safe, @sel_template, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%=	icon_sel_module_html_safe %>
      <%=	@sel_template.name %>
      <span>> Modificar item del formulario de postulación</b> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'apply_forms_list_mini' %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'form' %>
  </div>
</div>