
<%= form_for @program, html: {class: 'form-horizontal'} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos del programa</legend>


      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :orden %>">

        <%= f.label :orden, 'Orden', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :orden, autofocus: 'autofocus', class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :codigo %>">

        <%= f.label :codigo, 'Código', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :codigo, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :nombre %>">

        <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :nombre, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :nombre_corto %>">

        <%= f.label :nombre_corto, 'Nombre corto', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :nombre_corto, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :color %>">

        <%= f.label :color, 'Color', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :color, class: 'pick-a-color form-control' %>

          <script>
            $(".pick-a-color").pickAColor({
              showBasicColors         : true,
              showSpectrum            : true,
              showSavedColors         : false,
              saveColorsPerElement    : false,
              showAdvanced            : false,
              showHexInput            : false,
              fadeMenuToggle          : true
            });
          </script>


        </div>

      </div>

      <div class="form-group">

        <%= f.label :descripcion, 'Descripción', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.text_area :descripcion, rows: '5', class: 'form-control'  %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :plan_anual, 'Plan anual de capacitación', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.check_box :plan_anual, class: 'form-control' %>

        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :activo, 'Activo', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :activo, class: 'form-control' %>

        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :managed_by_manager, 'Administrable por el gestor LMS', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :managed_by_manager, class: 'form-control' %>

        </div>

      </div>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

<% end %>

