


<h1 class="page-title txt-color-blueDark">
  <i class="fa fa-book"></i>
  Programas
  <span>> Lista de programas </span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">


    <table class="table table-hover table-bordered">

      <thead>

        <tr>
          <th>#</th>
          <th>Código</th>
          <th>Tipo</th>
          <th>Nombre</th>
          <th>Nombre corto</th>
          <th>Color</th>
          <th colspan="2">Inspector</th>
          <!--
          <th>Niveles</th>
          -->
          <th>Cursos</th>
          <th>Plan Anual</th>
          <th>Activo</th>
          <th>
            Gestionado por gestor
          </th>
          <th colspan="3">
            <%= link_to 'Crear un nuevo programa', new_program_path %>
          </th>
        </tr>

      </thead>

      <tbody>

        <% @programs.each_with_index do |program,index| %>
          <tr>
            <td><%= program.orden %></td>
            <td><%= program.codigo %></td>
            <td>
              <% if program.especifico %>
                <span class="label label-danger">E</span>
              <% else %>
                <span class="label label-info">A</span>
              <% end %>
            </td>
            <td><%= program.nombre %></td>
            <td><%= program.nombre_corto %></td>
            <td>
              <div class="small-box-color" style="background-color: <%= '#'+program.color%>;">&nbsp;</div>
            </td>
            <td>
              <% t = 0 %>
              <% program.program_inspectors.each do |pi| %>

                <%= link_to '<i class="fa fa-times"></i>'.html_safe, destroy_program_inspector_path(pi), data: { confirm: '¿Está seguro de eliminar el inspector del programa?' } %>


                <%= pi.user.apellidos %> <%= pi.user.nombre %>
                <br>


                <% t = 1 %>
              <% end %>

              <% if t == 0 %>

                <span class="label label-default">No asignado</span>

              <% end %>

            </td>
            <td>

              <a href="<%= program_search_program_inspectors_path(program) %>">
                <i id="add_pi_<%= program.id %>" class="fa fa-pencil-square-o" data-toggle="tooltip" title="Definir inspector del programa"></i>
              </a>

              <script>
                $('#add_pi_<%= program.id %>').tooltip({
                  placement: 'top'
                });
              </script>

            </td>
            <!--
            <td>
              <div class="row">
                <div class="col-md-11">
                  <% program.levels.each do |level| %>
                    <div class="row">
                      <div class="col-md-9">
                        <strong><%= level.orden %>.</strong> <%= level.nombre %>
                      </div>
                      <div class="col-md-3">

                        <a id="edit_level_<%= level.id %>" href="<%= edit_level_path(level) %>" data-toggle="tooltip" title="Editar nivel <%= level.nombre%>">
                          <i class="fa fa-pencil-square-o"></i>
                        </a>
                        <script>
                          $('#edit_level_<%= level.id %>').tooltip({
                            placement: 'top'
                          });
                        </script>

                        <a id="delete_level_<%= level.id %>" href="<%= delete_level_path(level) %>" data-toggle="tooltip" title="Eliminar nivel <%= level.nombre%>">
                          <i class="fa fa-times"></i>
                        </a>
                        <script>
                          $('#delete_level_<%= level.id %>').tooltip({
                            placement: 'top'
                          });
                        </script>

                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="col-md-1">
                  <a id="new_level_<%= program.id %>" href="<%= new_level_path(program) %>" data-toggle="tooltip" title="Crear un nuevo nivel">
                    <i class="fa fa-plus"></i>
                  </a>
                  <script>
                    $('#new_level_<%= program.id %>').tooltip({
                      placement: 'top'
                    });
                  </script>

                </div>

              </div>

            </td>
            -->
            <td>
              <div class="row">
                <div class="col-md-10">
                  <%= program.program_courses.where('activo = ?', true).count %>


                </div>
                <div class="col-md-2">

                  <a id="edit_study_plan_<%= program.id %>" href="<%= study_plan_path(program) %>" data-toggle="tooltip" title="Gestionar plan de estudios">
                    <i class="fa fa-pencil-square-o"></i>
                  </a>
                  <script>
                    $('#edit_study_plan_<%= program.id %>').tooltip({
                      placement: 'top'
                    });
                  </script>
                </div>
              </div>
            </td>
            <td>
              <%= '<i class="fa fa-check"></i>'.html_safe if program.plan_anual %>
            </td>
            <td>
              <% if program.activo %>
                <i class="fa fa-check"></i>
              <% else %>
                <i class="fa fa-minus-square"></i>
              <% end %>
            </td>
            <td>
              <% if program.managed_by_manager %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </td>

            <td><%= link_to 'Ver', program %></td>
            <td><%= link_to 'Editar', edit_program_path(program) %></td>
            <td><!--<%= link_to 'Eliminar', delete_program_path(program) %>--></td>

          </tr>
        <% end %>

      </tbody>

    </table>

  </div>
</div>