

<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de programas', programs_path, tabindex: '-1' %>

  </li>

  <li class="active">Definir inspector del programa</li>
</ul>


<legend class="text-center">

  <span class="program-color" style="background-color: <%= '#'+@program.color%>;">&nbsp;</span>
  &nbsp;
  <%= @program.nombre %>: Definir inspector del programa

</legend>

<br>

<div class="row">
  <div class="col-md-8 col-md-offset-2 form-box-<%= $current_domain %>">

    <%= form_for @user, url: program_search_program_inspectors_path(@program), method: :post do |f| %>
      <div class="row">

        <div class="col-md-5">
          <label>&nbsp;&nbsp;Apellidos</label>
          <%= f.text_field :apellidos, placeholder: 'Apellidos' %>
        </div>

        <div class="col-md-5">
          <label>&nbsp;&nbsp;Nombre</label>
          <%= f.text_field :nombre, placeholder: 'Nombre' %>
        </div>

        <div class="col-md-2">
          <label>&nbsp;</label>
          <%= f.submit 'Buscar', class: 'btn btn-primary' %>
        </div>

      </div>

    <% end %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <table class="table table-striped table-hover">

      <thead>

        <tr>
          <th>#</th>
          <th>Apellidos</th>
          <th>Nombre</th>
          <th></th>
          <th></th>
        </tr>

      </thead>

      <tbody>

        <% @users.each_with_index do |user, index| %>
          <tr>

            <td><%= index+1 %></td>
            <td><%= user.apellidos %></td>
            <td><%= user.nombre %></td>
            <td>Asignar como</td>
            <td>
              <%= link_to 'Inspector del programa', create_program_inspector_path(@program, user) %>
            </td>

          </tr>
        <% end %>


      </tbody>

    </table>

  </div>
</div>
