<% if @users_cant_enroll && @users_cant_enroll.size > 0 %>

    <div class="alert alert-danger">

      <% @users_cant_enroll.each_with_index do |uce, index_uce| %>

          <li>
            <%= uce.codigo %> - <%= uce.apellidos %>, <%= uce.nombre %>
            : <%= @reasons_cant_enroll[index_uce] %>
          </li>

      <% end %>

    </div>

<% end %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="text-center">
      <ul id='tabs' class="nav nav-pills nav-justified nav-pills-<%= $current_domain %>" style="display: inline-block;">
        <li>
          <a data-toggle="pill" data-url="<%= lms_managing_show_list_to_enroll_from_instances_users_path(@program_course_instance) %>" onclick="load_pill(this)" href="#users">Usuarios</a>
        </li>
        <li>
          <a data-toggle="pill" data-url="<%= lms_managing_show_enroll_from_instances_confirmation_path(@program_course_instance) %>" onclick="load_pill(this)" href="#confirmation">Confirmar</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="row">

  <div class="tab-content">
    <div id="users" class="col-md-8 col-md-offset-2 tab-pane <%= if (@pill_open && @pill_open == 'users')
                                                                   'active'
                                                                 else
                                                                   'fade'
                                                                 end %>">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-body text-center">
            <i class="fa fa-refresh fa-spin"></i> Cargando usuarios
          </div>
        </div>
      </div>
    </div>
    <div id="confirmation" class="col-md-8 col-md-offset-2 tab-pane <%= if (@pill_open && @pill_open == 'confirmation')
                                                                          'active'
                                                                        else
                                                                          'fade'
                                                                        end %>">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-body text-center">
            <i class="fa fa-refresh fa-spin"></i> Cargando resumen para confirmación
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<script>
  function load_pill(link) {
    $(function () {
      var url = $(link).data("url")
      var id = $(link).attr('href')
      call_ajax_load_pill(url, id)
    });
  }

  function call_ajax_load_pill(url, id) {
    $.ajax({
      url: url,
      data: {toggle: "tab"},
      cache: true,
      type: "post",
      dataType: "html",
      success: function (result) {
        $(id).html(result);
        if (id != '#confirmation') {
          $('#tabs > li.active > a').attr('onclick', null);
        }
      }
    })
  }

  function submit_ajax_from_instance(link) {
    var form = $(link).parents('form')
    var div = $(link).data('container')

    $.ajax({
      url: form.attr('action'),
      data: form.serialize(),
      cache: true,
      type: "post",
      dataType: "html",
      success: function (result) {
        $('#' + div).html(result);
      }
    })

  }

  function remove_user_from_instance_list(link) {
    if (confirm('¿Está seguro?')) {
      var user_id = $(link).data('id');
      //var url = $('.remover_link[data-id = ' + user_id + ']').data('url')
      var url = $(link).data('url')

      $.ajax({
        url: url,
        cache: true,
        type: "post",
        dataType: "json",
        success: function (result) {
          if (result == true) {
            $('.user_container_' + user_id).hide();
          }
        }
      })
    }
  }

  function confirm_enroll_from_instance(link) {
    var url = $(link).data('url')
    var data = $('input').serialize()

    $.ajax({
      url: url,
      data: data,
      cache: true,
      type: "post",
      dataType: "json",
      success: function (result) {
        if (result == true) {
          window.location = '<%= lms_managing_execute_enrollment_program_course_path(@program_course_instance.program_course) %>'
        } else {
          call_ajax_load_pill('<%= lms_managing_show_enroll_from_instances_confirmation_path(@program_course_instance) %>', '#confirmation')
        }
      }
    })
  }

  <% if @pill_open %>
  $(document).ready(function () {
    var link = $('[href=#<%= @pill_open %>]')
    var li = link.parent()
    var url = link.data("url")
    var id = link.attr('href')
    li.prop('class', 'active')
    call_ajax_load_pill(url, id)
  })
  <% end %>
</script>