
<div class="col-md-3">
  <%= link_to '<i class="fa fa-arrow-left"></i> Volver a gestionar el curso'.html_safe, lms_managing_execute_enrollment_program_course_path(@program_course), class: 'btn btn-default', tabindex: '-1' %>
</div>
<div class="col-md-9">
  <h1 class="page-title txt-color-blueDark">
    <i class="fa fa-book"></i>
    Matrículas
    <span>> Lista de participantes </span>
  </h1>
</div>
</div>

<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Datos del curso
        </legend>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Programa</strong>
          </div>
          <div class="col-md-9">
            <%= @program_course.program.codigo %> - <%= @program_course.program.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Código</strong>
          </div>
          <div class="col-md-9">
            <%= @course.codigo %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @course.nombre %>
          </div>
        </div>
        <br>
        <% if @course.training_type %>
          <div class="row">
            <div class="col-md-3 text-align-right">
              <strong><%= @company.training_type_alias %></strong>
            </div>
            <div class="col-md-9">
              <%= @course.training_type.nombre %>
            </div>
          </div>
          <br>
        <% end %>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @course.descripcion.html_safe %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Objetivos</strong>
          </div>
          <div class="col-md-9">
            <%= @course.objetivos.html_safe %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @program_course_instance.description %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Desde</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @program_course_instance.from_date, format: :full_date) %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Hasta</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @program_course_instance.to_date, format: :full_date) %>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>



<div class="panel panel-default">
  <div class="panel-body">

    <legend>
      Participantes
    </legend>

    <table class="table table-striped table-hover table-bordered smart-form" id="datatable_results" style="font-size: 11px;">

      <thead>

      <tr>

        <th width="1%">#</th>
        <th><%= alias_username %></th>
        <th>Apellidos</th>
        <th>Nombre</th>
        <th>Programado</th>
        <% LmsCharacteristic.search_people.each do |lms_characteristic| %>
          <th>
            <%= lms_characteristic.name %>
          </th>
        <% end %>

      </tr>

      </thead>

      <tbody>

      <% index = 0 %>

      <% @current_user_courses.each_with_index do |uc| %>

        <% if uc.program_course_instance %>

          <tr>
            <td><%= index+=1 %></td>
            <td><%= uc.enrollment.user.codigo %></td>
            <td><%= uc.enrollment.user.apellidos %></td>
            <td><%= uc.enrollment.user.nombre %></td>
            <td><%= label_yes_not_datable(!uc.enroll_np) %></td>
            <% LmsCharacteristic.search_people.each do |lms_characteristic| %>
              <td>
                <%= uc.user.formatted_characteristic_value lms_characteristic.characteristic %>
              </td>
            <% end %>

          </tr>

        <% end %>

      <% end %>


      </tbody>

    </table>

  </div>
</div>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_results',
               file_name: 'resumen_resultados'
           }
%>