<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to 'Carga a partir de excel', lms_managing_execute_massive_charge_enrollments_path %>
  </div>
</div>



<% if @selected_users.size > 0 %>

  <%#= form_for Enrollment.new, url: lms_managing_show_list_to_enroll_courses_path, html: {class: 'form-horizontal', method: :post} do |f| %>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Usuarios seleccionados</legend>

        <table class="table table-hover table-bordered">

          <thead>
          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th>Correo electrónico</th>
            <th>&nbsp;</th>

          </tr>
          </thead>

          <tbody>

            <% @selected_users.each_with_index do |user, index| %>

              <tr class="user_container_<%= user.id %>">
                <td><%= index+1 %></td>

                <td><%= user.codigo %></td>
                <td><%= user.apellidos %></td>
                <td><%= user.nombre %></td>
                <td><%= user.email %></td>
                <td>
                  <%= link_to 'Eliminar', '#', :class => 'remover_link', :onclick =>'remove_user_from_list(this)', :data =>{:url => lms_managing_remove_user_from_list_path(user), :id => user.id} %>
                </td>


              </tr>

            <% end %>

            <script>

              $('.check_user_enroll').bootstrapSwitch({
                onColor: 'success',
                onText: "Sí",
                offColor: 'danger',
                offText: "No",
                size: "mini"
              });

            </script>

          </tbody>

        </table>

      </div>
    </div>
  <%# end %>

<% end %>


<br>

<div class="panel panel-default">
  <div class="panel-body">

    <legend>Buscar usuarios</legend>

    <div class="row">

      <div class="col-md-12">

        <%= form_for @user, url: lms_managing_show_list_found_users_path, method: :post do |f| %>
          <div class="row users_hound">

            <div class="col-md-3 col-md-offset-1">
              <label><%= alias_username %></label>
              <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>

            </div>

            <div class="col-md-3">
              <label>Apellidos</label>
              <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>

            </div>

            <div class="col-md-3">
              <label>Nombre</label>
              <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>

            </div>

            <div class="col-md-2">
              <label>&nbsp;</label><br>
              <%#= f.submit 'Buscar', class: 'btn btn-primary' %>
              <%= link_to 'Buscar', '#', :data => {:container => 'users'}, :onclick => 'submit_ajax(this)', :class => 'btn btn-primary' %>

            </div>

          </div>
          <br>


          <div class="panel-group" id="accordion2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  Ver Filtros
                  <span id="muestra_filtros"></span>
                </a>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">

                  <script type="text/javascript">
                    var select_boxes = [];
                    var select_boxes_name = [];
                  </script>

                  <div class="row">

                    <% @lms_characteristics.each_with_index do |lms_characteristic,index| %>


                      <div class="col-md-3">

                        <script type="text/javascript">

                          select_boxes.push('characteristic_<%=lms_characteristic.characteristic.id%>');
                          select_boxes_name.push('<%=lms_characteristic.characteristic.nombre%>');

                        </script>

                        <%= lms_characteristic.characteristic.nombre %>
                        <br>
                        <% valores = UserCharacteristic.uniq_select_array_values lms_characteristic.characteristic %>

                        <%= select('characteristic', lms_characteristic.characteristic.id, options_for_select(valores,@characteristics_prev[lms_characteristic.characteristic.id]), {include_blank: '-- Sin filtro --'}, {onchange: 'muestra_filtros()', class: 'form-control'}) %>

                        <script>
                          $(document).ready(function() {
                            $("#characteristic_<%= lms_characteristic.characteristic.id %>").select2();
                          });

                        </script>

                        <br>
                        <br>

                      </div>

                    <% end %>

                    <script type="text/javascript">
                      function muestra_filtros(){

                        var lista_filtros = '';
                        for(var i=0;i<select_boxes.length;i++){

                          if($("#"+select_boxes[i]+" option:selected").val() != ""){

                            if(i > 0) {
                              lista_filtros += ', '
                            }

                            lista_filtros += '<strong> '+select_boxes_name[i]+': </strong>';
                            lista_filtros += $("#"+select_boxes[i]+" option:selected").text();

                          }

                        }
                        $("#muestra_filtros").html("<br>"+lista_filtros);
                      }

                      $(document).ready(function(){
                        muestra_filtros();
                      });

                    </script>

                  </div>
                </div>
              </div>
            </div>

          </div>

        <% end %>


      </div>

    </div>
  </div>
</div>



<% if @users.size > 0 %>

  <%= form_for Enrollment.new, url: lms_managing_show_list_found_users_path, html: {class: 'form-horizontal', method: :post} do |f| %>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Resultados de la búsqueda</legend>

        <script type="text/javascript">
          function marcar_todos(){

            $('.check_user').each(function(){

              if($('#check_user').is(':checked')){
                $(this).prop('checked', true);
              }else{
                $(this).prop('checked', false);
              }

            });

          }

          function marcar_padre(){

            var checked_all = true;

            $('.check_user').each(function(){
              if(!$(this).is(':checked')){
                checked_all = false;
              }
            });
            if(checked_all){
              $('#check_user').prop('checked', true);
            }else{
              $('#check_user').prop('checked', false);
            }


          }

        </script>

        <table class="table table-hover table-bordered">

          <thead>
          <tr>
            <th><input id="check_user" type="checkbox" checked="checked" onchange="marcar_todos();"></th>
            <th>#</th>
            <th><%= alias_username %></th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th>Correo electrónico</th>
            <% @lms_characteristics.each_with_index do |lms_characteristic,index| %>
              <th>
                <%=lms_characteristic.characteristic.nombre%>
              </th>
            <% end %>

          </tr>
          </thead>

          <tbody>

          <% @users.each_with_index do |user, index| %>

            <tr>
              <td>
                <input type="checkbox" name="add_user_id[]" class="check_user" checked="checked" onchange="marcar_padre()" value="<%= user.id %>">
              </td>

              <td><%= index+1 %></td>

              <td><%= user.codigo %></td>
              <td><%= user.apellidos %></td>
              <td><%= user.nombre %></td>
              <td><%= user.email %></td>
              <% @lms_characteristics.each_with_index do |lms_characteristic,index| %>
                <td>
                  <%= user.formatted_characteristic_value lms_characteristic.characteristic %>
                </td>
              <% end %>
            </tr>

          <% end %>

          </tbody>

        </table>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%#= f.submit 'Seleccionar', class: 'btn btn-primary' %>
          <%= link_to 'Seleccionar', '#', :data => {:container => 'users'}, :onclick => 'submit_ajax(this)', :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>

<% end %>



