<div class="panel panel-default">
  <div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Lista de usuarios a matricular</legend>

        <table class="table table-hover table-bordered">

          <thead>
          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th>Correo electrónico</th>
          </tr>
          </thead>

          <tbody>

          <% @selected_users.each_with_index do |user, index| %>

              <tr>
                <td><%= index+1 %></td>

                <td><%= user.codigo %></td>
                <td><%= user.apellidos %></td>
                <td><%= user.nombre %></td>
                <td><%= user.email %></td>
              </tr>

          <% end %>

          </tbody>

        </table>

      </div>
    </div>
  </div>
  <div class="panel-footer clearfix">
    <% if @selected_users.size > 0 %>
        <div class="pull-right">
          <%= link_to 'Matricular', '#', :data => {:url => lms_managing_execute_save_enroll_from_instances_path(@program_course_instance.id)}, :onclick => 'confirm_enroll_from_instance(this)', :class => 'btn btn-primary' %>
        </div>
    <% else %>
        <div class="alert alert-warning">
          No se puede confirmar la matrícula por que falta seleccionar a los alumnos
        </div>
    <% end %>
  </div>
</div>

