<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de cursos'.html_safe, lms_managing_execute_enrollment_list_courses_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      Matrículas
      <span>> Curso </span>
    </h1>
  </div>
</div>

<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Datos del curso
        </legend>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Programa</strong>
          </div>
          <div class="col-md-9">
            <%= @program_course.program.codigo %> - <%= @program_course.program.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Código</strong>
          </div>
          <div class="col-md-9">
            <%= @course.codigo %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @course.nombre %>
          </div>
        </div>
        <br>
        <% if @course.training_type %>
          <div class="row">
            <div class="col-md-3 text-align-right">
              <strong><%= @company.training_type_alias %></strong>
            </div>
            <div class="col-md-9">
              <%= @course.training_type.nombre %>
            </div>
          </div>
          <br>
        <% end %>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @course.descripcion.html_safe %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Objetivos</strong>
          </div>
          <div class="col-md-9">
            <%= @course.objetivos.html_safe %>
          </div>
        </div>
        <% if @course.evaluado? %>
          <hr>
          <div class="row">
            <div class="col-md-3 text-align-right">
              <strong>Nota mínima</strong>
            </div>
            <div class="col-md-9">
              <%= @course.nota_minima %>

              <% if @course.nota_minima %>

                <% if @course.calculate_percentage %>
                  %
                <% else %>
                  Puntos
                <% end %>

              <% end %>

            </div>
          </div>
        <% end %>
        <hr>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Dedicación estimanda</strong>
          </div>
          <div class="col-md-9">
            <%= @course.dedicacion_estimada %> horas
          </div>
        </div>

      </div>

    </div>


  </div>

</div>


<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <table id="datatable_instances"  class="table table-bordered table-hover smart-form" style="font-size: 11px;" width="100%">

          <thead>
          <tr>
            <th>#</th>
            <th>Descripción</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Número de alumnos</th>
            <th>Responsable</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td>
              <label class="input hidden">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </thead>

          <tbody>

          <% pcis = user_connected.lms_enroll ? @program_course.program_course_instances_by_creator_ordered_by_date_desc(user_connected) : @program_course.program_course_instances_ordered_by_date_desc %>


          <% pcis.each_with_index do |program_course_instance, index| %>

            <% if program_course_instance.from_date && program_course_instance.to_date %>

              <tr>
                <td>
                  <%= index+1 %>
                </td>
                <td><%= program_course_instance.description %></td>
                <td><%= (localize program_course_instance.from_date, format: :full_date) %></td>
                <td><%= (localize program_course_instance.to_date, format: :full_date) %></td>
                <td><%= program_course_instance.user_courses.size %></td>
                <td><%= (program_course_instance.creator.apellidos+', '+program_course_instance.creator.nombre) if program_course_instance.creator %></td>
                <td><%= link_to 'Matricular', lms_managing_execute_enrollment_enroll_pill_open_path(program_course_instance.id, 'users') %></td>
                <td><%= link_to 'Anular matrículas', lms_managing_execute_enrollment_delete_enrollments_path(program_course_instance.id) %></td>
                <td><%= link_to 'Lista', lms_managing_execute_enrollment_list_path(program_course_instance.id) %></td>
              </tr>

            <% end %>

          <% end %>
          </tbody>

        </table>

      </div>
    </div>

  </div>

</div>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_instances'
           }
%>