  <%= form_for Enrollment.new, url: lms_managing_show_list_to_enroll_courses_path, html: {class: 'form-horizontal', method: :post} do |f| %>

    <div class="panel panel-default">
      <div class="panel-body">

        <% if @selected_program_courses.count > 0 %>
        <legend>Cursos seleccionados</legend>

        <table class="table table-hover table-bordered">

          <thead>
          <tr>
            <th>#</th>
            <th>Programa</th>
            <% if TrainingType.all.size > 0 %>
                <th><%= @company.training_type_alias %></th>
            <% end %>
            <th>Código</th>
            <th>Curso</th>
            <th>&nbsp</th>

          </tr>
          </thead>

          <tbody>
          <% @selected_program_courses.each_with_index do |pc, index| %>

              <%# program.active_program_courses_managed_by_manager_order_by_name.each do |pc| %>

                  <% course = pc.course %>

                  <tr>
                    <td>
                      <%= index + 1%>
                    </td>
                    <td>
                      <%= pc.program.codigo %>
                      -
                      <%= pc.program.nombre %>
                    </td>
                    <% if TrainingType.all.size > 0 %>
                        <td><%= course.training_type.nombre if course.training_type %></td>
                    <% end %>
                    <td><%= course.codigo %></td>
                    <td><%= course.nombre %></td>
                    <td>
                      <%= link_to 'Eliminar', '#', :onclick => 'remove_course_from_list(this)', :data => {:id => pc.id, :url => lms_managing_remove_course_from_list_path(pc)} %>
                    </td>
                  </tr>

              <%# end %>

          <% end %>
          </tbody>

        </table>

            <%	 end %>

        <legend>Seleccionar cursos</legend>

        <br>
        <br>

        <table id="datatable_courses"  class="table table-bordered smart-form" style="font-size: 11px;" width="100%">

          <thead>
            <tr>
              <th>#</th>
              <th>Programa</th>
              <% if TrainingType.all.size > 0 %>
                <th><%= @company.training_type_alias %></th>
              <% end %>
              <th>Código</th>
              <th>Curso</th>

            </tr>
            <tr>
              <td>
                <label class="input">
                  <input type="text" class="hidden">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <% if TrainingType.all.size > 0 %>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
              <% end %>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
            </tr>
          </thead>

          <tbody>
            <% @programs.each do |program| %>

              <% program.active_program_courses_managed_by_manager_order_by_name.where('program_courses.id NOT IN (?)', lms_list_courses_to_enroll.nil? ? 0 : lms_list_courses_to_enroll).each do |pc| %>

                <% course = pc.course %>

                <tr>
                  <td>
                    <input type="checkbox" id="program_courses_dt_<%= pc.id %>" onclick="set_program_course_selected(<%= pc.id %>)">
                  </td>
                  <td>
                    <%= program.codigo %>
                    -
                    <%= program.nombre %>
                  </td>
                  <% if TrainingType.all.size > 0 %>
                    <td><%= course.training_type.nombre if course.training_type %></td>
                  <% end %>
                  <td><%= course.codigo %></td>
                  <td><%= course.nombre %></td>
                </tr>

              <% end %>

            <% end %>
          </tbody>

        </table>

        <script>

          function set_program_course_selected(pc_id){

            if($("#program_courses_dt_"+pc_id).is(':checked')) {

              v = "<input type='hidden' id='program_courses_id_"+pc_id+"' name='program_courses_id[]' value='"+pc_id+"' >";

              $("#program_courses_container").append(v);

            }else{

              $("#program_courses_id_"+pc_id).remove();

            }

          }

        </script>

        <div id="program_courses_container">

        </div>

      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%#= f.submit 'Continuar con la selección de fechas', class: 'btn btn-primary' %>
          <%= link_to 'Seleccionar', '#', :data => {:container => 'courses'}, :onclick => 'submit_ajax(this)', :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>


<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_courses'
           }
%>