
<h1 class="page-title txt-color-blueDark">
  <i class="fa fa-book"></i>
  Matrículas
  <span>> Lista de programas y cursos </span>
</h1>

<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <table id="datatable_courses"  class="table table-bordered table-hover smart-form" style="font-size: 11px;" width="100%">

          <thead>
          <tr>
            <th>Programa</th>
            <% if TrainingType.all.size > 0 %>
              <th><%= @company.training_type_alias %></th>
            <% end %>
            <th>Código</th>
            <th>Curso</th>
            <th></th>

          </tr>
          <tr>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <% if TrainingType.all.size > 0 %>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
            <% end %>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td></td>
          </tr>
          </thead>

          <tbody>
          <% @programs.each do |program| %>

            <% program.active_program_courses_managed_by_manager_order_by_name.each do |pc| %>

              <% course = pc.course %>

              <tr>
                <td>
                  <%= program.codigo %>
                  -
                  <%= program.nombre %>
                </td>
                <% if TrainingType.all.size > 0 %>
                  <td><%= course.training_type.nombre if course.training_type %></td>
                <% end %>
                <td><%= course.codigo %></td>
                <td><%= course.nombre %></td>
                <td><%= link_to 'Gestionar matrículas', lms_managing_execute_enrollment_program_course_path(pc.id) %></td>
              </tr>

            <% end %>

          <% end %>
          </tbody>

        </table>

      </div>
    </div>

  </div>

</div>


<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_courses'
           }
%>