
<div class="col-md-3">
  <%= link_to '<i class="fa fa-arrow-left"></i> Volver a gestionar el curso'.html_safe, lms_managing_execute_enrollment_program_course_path(@program_course), class: 'btn btn-default', tabindex: '-1' %>
</div>
<div class="col-md-9">
  <h1 class="page-title txt-color-blueDark">
    <i class="fa fa-book"></i>
    Matrículas
    <span>> Anular matrículas </span>
  </h1>
</div>
</div>

<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Datos del curso
        </legend>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Programa</strong>
          </div>
          <div class="col-md-9">
            <%= @program_course.program.codigo %> - <%= @program_course.program.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Código</strong>
          </div>
          <div class="col-md-9">
            <%= @course.codigo %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @course.nombre %>
          </div>
        </div>
        <br>
        <% if @course.training_type %>
          <div class="row">
            <div class="col-md-3 text-align-right">
              <strong><%= @company.training_type_alias %></strong>
            </div>
            <div class="col-md-9">
              <%= @course.training_type.nombre %>
            </div>
          </div>
          <br>
        <% end %>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @course.descripcion.html_safe %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Objetivos</strong>
          </div>
          <div class="col-md-9">
            <%= @course.objetivos.html_safe %>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>


<div class="row">

  <div class="col-md-10 col-md-offset-1">

    <%= form_for UserCourse.new, url: lms_managing_execute_enrollment_destroy_enrollments_path(@program_course_instance), html: {class: 'form-horizontal', method: :post} do |f| %>


      <div class="panel panel-default">
        <div class="panel-body">

        <legend class="text-center">

          <%= @program_course_instance.description %>,

          <%= (localize @program_course_instance.from_date, format: :full_date_time) %>
          -
          <%= (localize @program_course_instance.to_date, format: :full_date_time) %>

        </legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>

            <th width="1%">#</th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th>Programado</th>
            <th>Estado</th>
            <th></th>

          </tr>

          </thead>

          <tbody>

          <% @program_course_instance.matriculas_vigentes.each_with_index do |uc, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= uc.enrollment.user.apellidos %></td>
              <td><%= uc.enrollment.user.nombre %></td>
              <td><%= label_yes_not(!uc.enroll_np) %></td>
              <% estado_curso = uc.estado lms_time %>

              <td>

                <% if estado_curso == :no_iniciado %>
                  <span class="label label-default">No iniciado</span>
                <% elsif estado_curso == :en_progreso %>
                  <span class="label label-primary">En progreso</span>
                <% elsif estado_curso == :plazo_vencido %>
                  <span class="label label-danger">Plazo vencido</span>
                <% elsif estado_curso == :aprobado %>
                  <% if uc.nota %>
                    <span class="label label-success">Aprobado</span>
                  <% else %>
                    <span class="label label-success">Cursado</span>
                  <% end %>
                <% elsif estado_curso == :reprobado %>
                  <span class="label label-danger">Reprobado</span>
                <% end %>

              </td>
              <td>

                <% if uc.finalizado %>

                  <span class="label label-primary">Finalizado</span>

                <% else %>

                  <input type="checkbox" id="user_course_<%= uc.id %>" name="user_courses[]" value="<%= uc.id %>">

                  <script>
                    $('#user_course_<%= uc.id %>').bootstrapSwitch({
                      onColor: 'danger',
                      onText: "&nbsp;&nbsp;&nbsp;Anular&nbsp;&nbsp;&nbsp;",
                      offColor: 'success',
                      offText: "<nobr>No anular</nobr>",
                      size: "small"
                    });
                  </script>

                <% end %>



              </td>


            </tr>

          <% end %>


          </tbody>

        </table>


        </div>
        <div class="panel-footer clearfix">
          <div class="">
            <div class="row">
              <div class="col-md-4">
                <nobr>
                  <label class="checkbox">

                    <input type="checkbox" name="confirm_destroy" id="confirm_destroy" onchange="set_send(this)" class="b_ie">
                    Confirmo que anularé las matrículas

                  </label>
                </nobr>
              </div>
              <div class="col-md-8 text-right">
                <%= f.submit 'Anular matrículas', class: 'btn disabled', id: 'button_confirmar_destroy', disabled: 'disabled'  %>

                <a id= 'suggestion_make_check' data-toggle= 'tooltip' title= 'Para habilitar el botón Anular matrículas debe indicar que confirma anulará las matrículas marcando el check '>
                  <i class="fa fa-question"></i>
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>


      <script>
        function set_send(c){

          if(c.checked){
            $('#button_confirmar_destroy').removeClass('disabled');
            $('#button_confirmar_destroy').addClass('btn-danger');

            $('#button_confirmar_destroy').removeAttr('disabled');
          }else{
            $('#button_confirmar_destroy').removeClass('btn-danger');
            $('#button_confirmar_destroy').addClass('disabled');

            $('#button_confirmar_destroy').attr("disabled", "disabled");
          }

        }
        $('#suggestion_make_check').tooltip({
          placement: 'top'
        });

        <% if $browser_ie8 %>

        $(function() {
          $('.b_ie').click(function() {
            this.blur();
            this.focus();
          });
        });

        <% end %>


      </script>


    <% end %>

  </div>

</div>