<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a matricular usuarios'.html_safe, lms_managing_show_enroll_pill_open_path('users'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      Matrícula masiva
      <span>> Carga a partir de excel </span>
    </h1>
  </div>
</div>



<% if @lineas_error && @lineas_error.length > 0 %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="alert alert-danger">
            Se han producido los siguientes errores
          </div>

          <table class="table table-striped table-hover table-condensed table-bordered">

            <thead>
            <tr>
              <th>Línea</th>
              <th>Errores</th>
              <th>Detalle</th>

            </tr>
            </thead>

            <tbody>

            <% @lineas_error.each_with_index do |l,index| %>

              <tr>
                <td><%= l %></td>
                <td>
                  <% @lineas_error_messages[index].each do |error| %>
                    <li class="text-danger"><%= error %></li>
                  <% end %>
                </td>
                <td><%= @lineas_error_detalle[index] %></td>
              </tr>

            <% end %>

            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>


<% end %>


<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Formato de archivo (Excel)</legend>

        <table class="table table-bordered">

          <thead>
          <tr>
            <th>
              <%= @company.alias_username %>
            </th>
            <th>
              Código del programa
            </th>
            <th>
              Código del curso
            </th>
            <th>
              Fecha y hora de inicio
            </th>
            <th>
              Fecha y hora de fin
            </th>
          </tr>
          </thead>

        </table>

        - Las <strong>cabeceras</strong> del archivo excel determinan los datos que se van a cargar y siempre deben estar ubicadas en la primera fila del archivo excel
        <br>
        <br>
        - Todas las columnas son <strong>obligatorias</strong> y deben estar colocadas en la posición que se muestra en el ejemplo

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to 'Descargar formato de ejemplo', lms_managing_execute_massive_charge_enrollments_download_format_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <%= form_for lms_managing_execute_massive_charge_enrollments_path, html: {class: 'form-horizontal', method: :post, multipart: true} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Cargar matrículas</legend>

          <div class="form-group">

            <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= file_field 'upload', 'datafile', class: 'form-control' %>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Cargar matrículas', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>


  </div>
</div>

