<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de cursos'.html_safe, lms_managing_execute_pci_list_courses_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      Programar dictado
      <span>> Curso </span>
    </h1>
  </div>
</div>

<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Datos del curso
        </legend>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Programa</strong>
          </div>
          <div class="col-md-9">
            <%= @program_course.program.codigo %> - <%= @program_course.program.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Código</strong>
          </div>
          <div class="col-md-9">
            <%= @course.codigo %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @course.nombre %>
          </div>
        </div>
        <br>
        <% if @course.training_type %>
          <div class="row">
            <div class="col-md-3 text-align-right">
              <strong><%= @company.training_type_alias %></strong>
            </div>
            <div class="col-md-9">
              <%= @course.training_type.nombre %>
            </div>
          </div>
          <br>
        <% end %>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @course.descripcion.html_safe %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Objetivos</strong>
          </div>
          <div class="col-md-9">
            <%= @course.objetivos.html_safe %>
          </div>
        </div>
        <% if @course.evaluado? %>
        <hr>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Nota mínima</strong>
          </div>
          <div class="col-md-9">
            <%= @course.nota_minima %>

            <% if @course.nota_minima %>

              <% if @course.calculate_percentage %>
                %
              <% else %>
                Puntos
              <% end %>

            <% end %>

          </div>
        </div>
        <% end %>
        <hr>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Dedicación estimanda</strong>
          </div>
          <div class="col-md-9">
            <%= @course.dedicacion_estimada %> horas
          </div>
        </div>

      </div>

    </div>


  </div>

</div>


<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <table id="datatable_instances"  class="table table-bordered table-hover smart-form" style="font-size: 11px;" width="100%">

          <thead>
          <tr>
            <th>#</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Número de alumnos</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td>
              <label class="input hidden">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </thead>

          <tbody>
          <% @program_course.program_course_instances_ordered_by_date_desc.each_with_index do |program_course_instance, index| %>

              <tr>
                <td>
                  <%= index+1 %>
                </td>
                <td><%= (localize program_course_instance.from_date, format: :full_date) %></td>
                <td><%= (localize program_course_instance.to_date, format: :full_date) %></td>
                <td><%= program_course_instance.user_courses.size %></td>
                <td><%= link_to 'Editar fechas', lms_managing_execute_pci_edit_dates_path(program_course_instance.id) %></td>
                <td><%= link_to 'Anular matrículas', lms_managing_execute_pci_delete_enrollments_path(program_course_instance.id) %></td>
                <td>

                  <% if @program_course.course.has_not_virtual_elements %>

                    <%= link_to 'Registro de resultados y asistencia', lms_managing_execute_pci_register_results_path(program_course_instance.id) %>

                  <% end %>

                </td>
              </tr>


          <% end %>
          </tbody>

        </table>

      </div>
    </div>

  </div>

</div>


<div class="panel panel-default">
  <div class="panel-body">

    <legend>
      Resultados
    </legend>

    <table class="table table-striped table-hover table-bordered smart-form" id="datatable_results" style="font-size: 11px;">

      <thead>

      <tr>

        <th width="1%">#</th>
        <th><%= alias_username %></th>
        <th>Apellidos</th>
        <th>Nombre</th>
        <% LmsCharacteristic.search_people.each do |lms_characteristic| %>
          <th>
            <%= lms_characteristic.name %>
          </th>
        <% end %>
        <th>Desde</th>
        <th>Hasta</th>



        <% if @course.control_total_asistencia? %>
          <th>Asistencia</th>
        <% end %>

        <% has_evaluations = false %>

        <% @elements.each_with_index do |element, index| %>

          <%
            ei = @elements_ids[index].split('-')
            tipo = ei[0]
            id = ei[1]

            el = nil

            el = @course.units.find(id) if tipo=='u'
            if tipo=='e'
              el = @course.evaluations.find(id)
              has_evaluations = true
            end
            el = @course.polls.find(id) if tipo=='p'

          %>

          <th>

            <% if tipo=='u' %>
              <%= @course.unit_alias.capitalize %> <%= el.numero %>
            <% end %>

            <% if tipo=='e' %>
              Evaluación <%= el.numero %>
            <% end %>

            <% if tipo=='p' %>
              Encuesta <%= el.numero %>
            <% end %>

          </th>

        <% end %>

        <th>
          Estado
        </th>

        <% if has_evaluations %>

          <th>
            Nota
          </th>

        <% end %>

      </tr>

      </thead>

      <tbody>

      <% index = 0 %>

      <% @current_user_courses.each_with_index do |uc| %>

        <% if uc.program_course_instance %>

          <tr>
            <td><%= index+=1 %></td>
            <td><%= uc.enrollment.user.codigo %></td>
            <td><%= uc.enrollment.user.apellidos %></td>
            <td><%= uc.enrollment.user.nombre %></td>
            <% LmsCharacteristic.search_people.each do |lms_characteristic| %>
              <td>
                <%= uc.user.formatted_characteristic_value lms_characteristic.characteristic %>
              </td>
            <% end %>
            <td><%= localize(uc.program_course_instance.from_date, format: :full_date) if uc.program_course_instance %></td>
            <td><%= localize(uc.program_course_instance.to_date, format: :full_date) if uc.program_course_instance %></td>
            <% if @course.control_total_asistencia? %>
              <td>
                <% if uc.asistencia %>
                  <span class="label label-success label-smart-table">Asistió</span>
                <% else %>
                  <span class="label label-danger label-smart-table">No Asistió</span>
                <% end %>
              </td>
            <% end %>

            <% @elements.each_with_index do |element, index| %>

              <%
                ei = @elements_ids[index].split('-')
                tipo = ei[0]
                id = ei[1]

                el = nil

                el = @course.units.find(id) if tipo=='u'
                el = @course.evaluations.find(id) if tipo=='e'
                el = @course.polls.find(id) if tipo=='p'

              %>

              <td>

                <% if el.virtual %>

                  <% if tipo == 'u' %>

                    <% user_course_unit = uc.user_course_units.where('unit_id = ?', element.id).first %>

                    <% estado_unit = if user_course_unit && user_course_unit.finalizada
                                       '<span class="label label-success label-smart-table">Terminada</span>'
                                     elsif user_course_unit && user_course_unit.inicio
                                       '<span class="label label-primary label-smart-table">Iniciada</span>'
                                     else
                                       '<span class="label label-default label-smart-table">No iniciada</span>'
                                     end
                    %>

                    <%= estado_unit.html_safe %>

                  <% elsif tipo == 'e' %>

                    <% user_course_evaluation = uc.user_course_evaluations.where('evaluation_id = ?', element.id).first %>

                    <% estado_evaluation = if user_course_evaluation && user_course_evaluation.finalizada

                                             if user_course_evaluation.aprobada

                                               '<span class="label label-success label-smart-table">'+format_nota(user_course_evaluation.nota)+' '+tipo_nota(@course)+'</span>'

                                             else

                                               '<span class="label label-danger label-smart-table">'+format_nota(user_course_evaluation.nota)+' '+tipo_nota(@course)+'</span>'

                                             end

                                           elsif user_course_evaluation && user_course_evaluation.inicio
                                             '<span class="label label-primary label-smart-table">Iniciada</span>'
                                           else
                                             '<span class="label label-default label-smart-table">No iniciada</span>'
                                           end
                    %>


                    <%= estado_evaluation.html_safe %>

                  <% elsif tipo == 'p' %>

                    <% user_course_poll = uc.user_course_polls.where('poll_id = ?', element.id).first %>

                    <% estado_poll = if user_course_poll && user_course_poll.finalizada
                                       '<span class="label label-success label-smart-table">Terminada</span>'
                                     elsif user_course_poll && user_course_poll.inicio
                                       '<span class="label label-primary label-smart-table">Iniciada</span>'
                                     else
                                       '<span class="label label-default label-smart-table">No iniciada</span>'
                                     end
                    %>

                    <%= estado_poll.html_safe %>

                  <% end %>

                <% else %>

                  <% if tipo == 'u' %>

                    <% user_course_unit = uc.user_course_units.where('unit_id = ?', element.id).first %>

                    <% estado_unit = if user_course_unit && user_course_unit.finalizada
                                       '<span class="label label-success label-smart-table">Asistió</span>'
                                     elsif user_course_unit && user_course_unit.inicio
                                       '<span class="label label-danger label-smart-table">No Asistió</span>'
                                     else
                                       '<span class="label label-default label-smart-table">Pendiente</span>'
                                     end
                    %>

                    <%= estado_unit.html_safe %>

                  <% elsif tipo == 'e' %>

                    <% user_course_evaluation = uc.user_course_evaluations.where('evaluation_id = ?', element.id).first %>

                    <% estado_evaluation = if user_course_evaluation && user_course_evaluation.finalizada

                                             if user_course_evaluation.aprobada

                                               '<span class="label label-success label-smart-table">'+format_nota(user_course_evaluation.nota)+' '+tipo_nota(@course)+'</span>'

                                             else

                                               '<span class="label label-danger label-smart-table">'+format_nota(user_course_evaluation.nota)+' '+tipo_nota(@course)+'</span>'

                                             end

                                           else
                                             '<span class="label label-default label-smart-table">Pendiente</span>'
                                           end
                    %>


                    <%= estado_evaluation.html_safe %>

                  <% elsif tipo == 'p' %>

                    <% user_course_poll = uc.user_course_polls.where('poll_id = ?', element.id).first %>

                    <% estado_poll = if user_course_poll && user_course_poll.finalizada
                                       '<span class="label label-success label-smart-table">Registrada</span>'
                                     else
                                       '<span class="label label-default label-smart-table">Pendiente</span>'
                                     end
                    %>

                    <%= estado_poll.html_safe %>

                  <% end %>

                <% end %>

              </td>

            <% end %>

            <% estado_curso = uc.estado lms_time %>

            <td>

              <% if estado_curso == :no_iniciado %>
                <span class="label label-default label-smart-table">No iniciado</span>
              <% elsif estado_curso == :en_progreso %>
                <span class="label label-primary label-smart-table">En progreso</span>
              <% elsif estado_curso == :plazo_vencido %>
                <span class="label label-danger label-smart-table">Plazo vencido</span>
              <% elsif estado_curso == :aprobado %>
                <% if uc.nota %>
                  <span class="label label-success label-smart-table">Aprobado</span>
                <% else %>
                  <span class="label label-success label-smart-table">Cursado</span>
                <% end %>
              <% elsif estado_curso == :reprobado %>
                <span class="label label-danger label-smart-table">Reprobado</span>
              <% end %>

            </td>

            <% if has_evaluations %>

              <td>

                <% if estado_curso == :aprobado %>
                  <% if uc.nota %>
                          <span class="label label-success label-smart-table">
                              <%= format_nota(uc.nota) %> <%= tipo_nota(@course) %>
                          </span>
                  <% end %>
                <% elsif estado_curso == :reprobado %>
                  <% if uc.nota %>
                          <span class="label label-danger label-smart-table">
                            <%= format_nota(uc.nota) %> <%= tipo_nota(@course) %>
                          </span>
                  <% end %>
                <% elsif estado_curso == :en_progreso %>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="<%= uc.porcentaje_avance.to_i %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= uc.porcentaje_avance.to_i %>%;">
                      <%= uc.porcentaje_avance.to_i %>%
                    </div>
                  </div>
                <% end %>

              </td>

            <% end %>

          </tr>

        <% end %>

      <% end %>


      </tbody>

    </table>

  </div>
</div>



<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_instances'
           }
%>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_results',
               file_name: 'resumen_resultados'
           }
%>