<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a al registro de resultados'.html_safe, lms_managing_execute_pci_register_results_path(@program_course_instance), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      Gestionar matrículas
      <span>> Registro de resultados de la evaluación </span>
    </h1>
  </div>
</div>

<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Datos del curso
        </legend>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Programa</strong>
          </div>
          <div class="col-md-9">
            <%= @program_course.program.codigo %> - <%= @program_course.program.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Código</strong>
          </div>
          <div class="col-md-9">
            <%= @course.codigo %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @course.nombre %>
          </div>
        </div>
        <br>
        <% if @course.training_type %>
          <div class="row">
            <div class="col-md-3 text-align-right">
              <strong><%= @company.training_type_alias %></strong>
            </div>
            <div class="col-md-9">
              <%= @course.training_type.nombre %>
            </div>
          </div>
          <br>
        <% end %>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @course.descripcion.html_safe %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Objetivos</strong>
          </div>
          <div class="col-md-9">
            <%= @course.objetivos.html_safe %>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>


<% if @poll.master_poll %>

  <% summary = ProgramCoursePollSummary.new %>

  <div class="row">

    <div class="col-md-6 col-md-offset-3">

      <%= form_for summary, url: lms_managing_execute_pci_register_results_poll_register_path(@program_course_instance, @poll), html: {class: 'form-horizontal'} do |f| %>

        <div class="panel panel-default">
          <div class="panel-body">

            <legend>
              Encuesta <%= @poll.numero %>. <%= @poll.nombre %>
            </legend>


            <% master_questions = @poll.master_poll.master_poll_questions %>

            <% if @poll.master_poll.modo_grid %>

              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>

                  </th>

                  <% lista_alternativas = nil %>
                  <% max = 0 %>

                  <% master_questions.each do |master_question| %>

                    <% if master_question.master_poll_alternatives.length > max %>

                      <% lista_alternativas = master_question.master_poll_alternatives %>

                      <% max = master_question.master_poll_alternatives.length %>

                    <% end %>

                  <% end %>

                  <% lista_alternativas.each_with_index do |alt| %>

                    <th>
                      <%= alt.letra %>. <%= alt.texto.html_safe %>
                    </th>

                  <% end %>

                </tr>
                </thead>

                <tbody>

                <% master_questions.each_with_index do |master_question, index| %>
                  <tr>
                    <td>
                      <strong><%= index+1 %>. </strong>
                      <%= master_question.texto.html_safe %>
                    </td>

                    <% index_a = 0 %>

                    <% master_question.master_poll_alternatives.each do |alt| %>

                      <% poll_summary = ProgramCoursePollSummary.where('program_course_id = ? AND poll_id = ? AND master_poll_question_id = ? AND master_poll_alternative_id = ? AND program_course_instance_id = ? ',
                                                                       @program_course.id, @poll.id, master_question.id, alt.id, @program_course_instance.id).first  %>

                      <td style="vertical-align:bottom">
                        <% valor = 0 %>
                        <% valor = poll_summary.numero_respuestas if poll_summary %>

                        <%= number_field('poll_summary', alt.id, min: 0, value: valor, class: 'form-control' )%>

                      </td>

                      <% index_a += 1 %>

                    <% end %>
                    <% if max > index_a %>
                      <% (index_a..max-1).each do |faltante| %>
                        <td></td>
                      <% end %>
                    <% end %>
                  </tr>

                <% end %>

                </tbody>

              </table>

            <% else %>

              <% master_questions.each_with_index do |master_question, index| %>

                <div class="row pregunta-evaluacion-<%= $current_domain %>">

                  <div class="col-md-12">

                    <div class="row">
                      <div class="col-md-10">
                        <strong><%= index+1 %>. </strong>
                        <%= master_question.texto.html_safe %>
                      </div>
                      <div class="col-md-2">

                      </div>
                    </div>
                    <br>

                    <% master_question.master_poll_alternatives.each_with_index do |alt, index_a| %>

                      <% poll_summary = ProgramCoursePollSummary.where('program_course_id = ? AND poll_id = ? AND master_poll_question_id = ? AND master_poll_alternative_id = ? AND program_course_instance_id = ? ',
                                                                       @program_course.id, @poll.id, master_question.id, alt.id, @program_course_instance.id).first  %>

                      <div class="row alternativa-pregunta-evaluacion">
                        <div class="col-md-1 text-right">
                          <strong><%= alt.letra %>. </strong>
                        </div>
                        <div class="col-md-2">
                          <% valor = 0 %>
                          <% valor = poll_summary.numero_respuestas if poll_summary %>

                          <%= number_field('poll_summary', alt.id, min: 0, value: valor, class: 'form-control' )%>

                        </div>
                        <div class="col-md-9">
                          <%= alt.texto.html_safe %>
                        </div>

                      </div>


                    <% end %>

                  </div>

                </div>

              <% end %>

            <% end %>

          </div>
          <div class="panel-footer clearfix">

            <div class="text-right">
              <%= f.submit 'Guardar', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>

      <% end %>

    </div>

  </div>

<% end %>
