<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a al registro de resultados'.html_safe, lms_managing_execute_pci_register_results_path(@program_course_instance), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      Asistencia y resultados
      <span>> Registro de asistencia </span>
    </h1>
  </div>
</div>

<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Datos del curso
        </legend>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Programa</strong>
          </div>
          <div class="col-md-9">
            <%= @program_course.program.codigo %> - <%= @program_course.program.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Código</strong>
          </div>
          <div class="col-md-9">
            <%= @course.codigo %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @course.nombre %>
          </div>
        </div>
        <br>
        <% if @course.training_type %>
          <div class="row">
            <div class="col-md-3 text-align-right">
              <strong><%= @company.training_type_alias %></strong>
            </div>
            <div class="col-md-9">
              <%= @course.training_type.nombre %>
            </div>
          </div>
          <br>
        <% end %>

        <hr>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Desde</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @program_course_instance.from_date, format: :full_date) %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Hasta</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @program_course_instance.to_date, format: :full_date) %>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <%= form_for UserCourse.new, url: lms_managing_execute_pci_register_attendance_register_path(@program_course_instance), html: {class: 'form-horizontal', method: :post} do |f| %>


      <div class="panel panel-default">
        <div class="panel-body">

          <legend>
            Asistencia
          </legend>

          <table class="table table-striped table-hover table-bordered">

            <thead>

            <tr>

              <th width="1%">#</th>
              <th><%= alias_username %></th>
              <th>Apellidos</th>
              <th>Nombre</th>
              <th>Programado</th>
              <% @elements.each_with_index do |element, index| %>

                <%
                  ei = @elements_ids[index].split('-')
                  tipo = ei[0]
                  id = ei[1]

                  el = nil

                  el = @course.units.find(id) if tipo=='u'
                  if tipo=='e'
                    el = @course.evaluations.find(id)
                    has_evaluations = true
                  end
                  el = @course.polls.find(id) if tipo=='p'

                %>

                <th>

                  <% if tipo=='u' %>
                    <%= @course.unit_alias.capitalize %> <%= el.numero %>
                  <% end %>

                  <% if tipo=='e' %>
                    Evaluación <%= el.numero %>
                  <% end %>

                  <% if tipo=='p' %>
                    Encuesta <%= el.numero %>
                  <% end %>

                </th>

              <% end %>

              <% if @course.control_total_asistencia? %>
                <th>Asistencia</th>
              <% end %>

            </tr>

            </thead>

            <tbody>

            <% @program_course_instance.matriculas_vigentes.each_with_index do |uc, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= uc.enrollment.user.codigo %></td>
                <td><%= uc.enrollment.user.apellidos %></td>
                <td><%= uc.enrollment.user.nombre %></td>
                <td><%= label_yes_not(!uc.enroll_np) %></td>
                <% @elements.each_with_index do |element, index| %>

                  <%
                    ei = @elements_ids[index].split('-')
                    tipo = ei[0]
                    id = ei[1]

                    el = nil

                    el = @course.units.find(id) if tipo=='u'
                    el = @course.evaluations.find(id) if tipo=='e'
                    el = @course.polls.find(id) if tipo=='p'

                  %>

                  <td>

                    <% if el.virtual %>

                      <% if tipo == 'u' %>

                        <% user_course_unit = uc.user_course_units.where('unit_id = ?', element.id).first %>

                        <% estado_unit = if user_course_unit && user_course_unit.finalizada
                                           '<span class="label label-success">Terminada</span>'
                                         elsif user_course_unit && user_course_unit.inicio
                                           '<span class="label label-primary">Iniciada</span>'
                                         else
                                           '<span class="label label-default">No iniciada</span>'
                                         end
                        %>

                        <%= estado_unit.html_safe %>

                      <% elsif tipo == 'e' %>

                        <% user_course_evaluation = uc.user_course_evaluations.where('evaluation_id = ?', element.id).first %>

                        <% estado_evaluation = if user_course_evaluation && user_course_evaluation.finalizada

                                                 if user_course_evaluation.aprobada

                                                   '<span class="label label-success">'+format_nota(user_course_evaluation.nota)+' '+tipo_nota(@course)+'</span>'

                                                 else

                                                   '<span class="label label-dangere">'+format_nota(user_course_evaluation.nota)+' '+tipo_nota(@course)+'</span>'

                                                 end

                                               elsif user_course_evaluation && user_course_evaluation.inicio
                                                 '<span class="label label-primary">Iniciada</span>'
                                               else
                                                 '<span class="label label-default">No iniciada</span>'
                                               end
                        %>


                        <%= estado_evaluation.html_safe %>

                      <% elsif tipo == 'p' %>

                        <% user_course_poll = uc.user_course_polls.where('poll_id = ?', element.id).first %>

                        <% estado_poll = if user_course_poll && user_course_poll.finalizada
                                           '<span class="label label-success">Terminada</span>'
                                         elsif user_course_poll && user_course_poll.inicio
                                           '<span class="label label-primary">Iniciada</span>'
                                         else
                                           '<span class="label label-default">No iniciada</span>'
                                         end
                        %>

                        <%= estado_poll.html_safe %>

                      <% end %>

                    <% else %>

                      <% if tipo == 'u' %>

                        <% user_course_unit = uc.user_course_units.where('unit_id = ?', element.id).first %>

                        <% estado_unit = if user_course_unit && user_course_unit.finalizada
                                           '<span class="label label-success">Asistió</span>'
                                         elsif user_course_unit && user_course_unit.inicio
                                           '<span class="label label-danger">No Asistió</span>'
                                         else
                                           '<span class="label label-default">Pendiente</span>'
                                         end
                        %>

                        <%= estado_unit.html_safe %>

                      <% elsif tipo == 'e' %>

                        <% user_course_evaluation = uc.user_course_evaluations.where('evaluation_id = ?', element.id).first %>

                        <% estado_evaluation = if user_course_evaluation && user_course_evaluation.finalizada

                                                 if user_course_evaluation.aprobada

                                                   '<span class="label label-success">'+format_nota(user_course_evaluation.nota)+' '+tipo_nota(@course)+'</span>'

                                                 else

                                                   '<span class="label label-danger">'+format_nota(user_course_evaluation.nota)+' '+tipo_nota(@course)+'</span>'

                                                 end

                                               else
                                                 '<span class="label label-default">Pendiente</span>'
                                               end
                        %>


                        <%= estado_evaluation.html_safe %>

                      <% elsif tipo == 'p' %>

                        <% user_course_poll = uc.user_course_polls.where('poll_id = ?', element.id).first %>

                        <% estado_poll = if user_course_poll && user_course_poll.finalizada
                                           '<span class="label label-success">Registrada</span>'
                                         else
                                           '<span class="label label-default">Pendiente</span>'
                                         end
                        %>

                        <%= estado_poll.html_safe %>

                      <% end %>

                    <% end %>

                  </td>

                <% end %>

                <% if @course.control_total_asistencia? %>
                  <td>
                    <% if uc.asistencia %>
                      <span class="label label-success">Asistió</span>
                    <% else %>
                      <span class="label label-danger">No Asistió</span>
                    <% end %>
                  </td>
                <% end %>
                <td>

                  <input type="hidden" name="user_course_<%= uc.id %>" value="0">
                  <input type="checkbox" id="user_course_<%= uc.id %>" name="user_course_<%= uc.id %>" value="1" <%= 'checked="checked"'.html_safe if uc.asistencia %>>

                  <script>
                    $('#user_course_<%= uc.id %>').bootstrapSwitch({
                      onColor: 'success',
                      onText: "Sí",
                      offColor: 'danger',
                      offText: "No",
                      size: "small"
                    });
                  </script>

                </td>


              </tr>

            <% end %>


            </tbody>

          </table>

        </div>
        <div class="panel-footer clearfix">

          <div class="text-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>