<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a al registro de resultados'.html_safe, lms_managing_execute_pci_register_results_path(@program_course_instance), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      Asistencia y resultados
      <span>> Registro de asistencia </span>
    </h1>
  </div>
</div>

<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Datos del curso
        </legend>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Programa</strong>
          </div>
          <div class="col-md-9">
            <%= @program_course.program.codigo %> - <%= @program_course.program.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Código</strong>
          </div>
          <div class="col-md-9">
            <%= @course.codigo %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @course.nombre %>
          </div>
        </div>

        <% if @course.training_type %>
          <br>
          <div class="row">
            <div class="col-md-3 text-align-right">
              <strong><%= @company.training_type_alias %></strong>
            </div>
            <div class="col-md-9">
              <%= @course.training_type.nombre %>
            </div>
          </div>
        <% end %>

        <hr>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Desde</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @program_course_instance.from_date, format: :full_date) %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Hasta</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @program_course_instance.to_date, format: :full_date) %>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <%= form_for UserCourse.new, url: lms_managing_execute_pci_register_results_unit_register_path(@program_course_instance), html: {class: 'form-horizontal', method: :post} do |f| %>


    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          <%= @course.unit_alias.capitalize %> <%= @unit.numero %>. <%= @unit.nombre %>
        </legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>

            <th width="1%">#</th>
            <th><%= alias_username %></th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th>Programado</th>
            <th>Asistencia</th>

          </tr>

          </thead>

          <tbody>

          <% @program_course_instance.matriculas_vigentes.each_with_index do |uc, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= uc.enrollment.user.codigo %></td>
              <td><%= uc.enrollment.user.apellidos %></td>
              <td><%= uc.enrollment.user.nombre %></td>
              <td><%= label_yes_not(!uc.enroll_np) %></td>
              <td>

                <% user_course_unit = uc.user_course_units.where('unit_id = ?',@unit.id).first %>

                <input type="hidden" name="user_course_<%= uc.id %>" value="0">
                <input type="checkbox" id="user_course_<%= uc.id %>" name="user_course_<%= uc.id %>" value="1" <%= 'checked="checked"'.html_safe if user_course_unit && user_course_unit.finalizada %>>

                <script>
                  $('#user_course_<%= uc.id %>').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });
                </script>

              </td>


            </tr>

          <% end %>


          </tbody>

        </table>

      </div>
      <div class="panel-footer clearfix">

        <div class="text-right">
          <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>

    <% end %>

  </div>
</div>