<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a gestionar el curso'.html_safe, lms_managing_execute_results_program_course_path(@program_course), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      Asistencia y resultados
      <span>> Registro de asistencia y resultados</span>
    </h1>
  </div>
</div>

<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Datos del curso
        </legend>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Programa</strong>
          </div>
          <div class="col-md-9">
            <%= @program_course.program.codigo %> - <%= @program_course.program.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Código</strong>
          </div>
          <div class="col-md-9">
            <%= @course.codigo %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @course.nombre %>
          </div>
        </div>
        <br>
        <% if @course.training_type %>
            <div class="row">
              <div class="col-md-3 text-align-right">
                <strong><%= @company.training_type_alias %></strong>
              </div>
              <div class="col-md-9">
                <%= @course.training_type.nombre %>
              </div>
            </div>
            <br>
        <% end %>



        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @course.descripcion.html_safe %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Objetivos</strong>
          </div>
          <div class="col-md-9">
            <%= @course.objetivos.html_safe %>
          </div>
        </div>


        <hr>

        <% if @course.evaluado? %>

          <div class="row">
            <div class="col-md-3 text-align-right">
              <strong>Nota mínima</strong>
            </div>
            <div class="col-md-9">
              <%= @course.nota_minima %>

              <% if @course.nota_minima %>

                <% if @course.calculate_percentage %>
                  %
                <% else %>
                  Puntos
                <% end %>

              <% end %>

            </div>
          </div>
        <% end %>

        <br>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Asistencia mínima</strong>
          </div>
          <div class="col-md-9">

            <%= @course.asistencia_minima %> %

          </div>
        </div>

        <hr>

        <% if @course.evaluado? %>

          <div class="row">
            <div class="col-md-3 text-align-right">
              <strong>Nota mínima</strong>
            </div>
            <div class="col-md-9">
              <%= @course.nota_minima %>

              <% if @course.nota_minima %>

                <% if @course.calculate_percentage %>
                  %
                <% else %>
                  Puntos
                <% end %>

              <% end %>

            </div>
          </div>
        <% end %>

        <br>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Asistencia mínima</strong>
          </div>
          <div class="col-md-9">

            <%= @course.asistencia_minima %> %

          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @program_course_instance.description %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Desde</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @program_course_instance.from_date, format: :full_date) %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Hasta</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @program_course_instance.to_date, format: :full_date) %>
          </div>
        </div>



      </div>

    </div>

  </div>

</div>


<div class="panel panel-default">
  <div class="panel-body">

    <legend>
      Estructura del curso: unidades, evaluaciones y encuestas
    </legend>
    <table class="table table-striped table-hover table-bordered">

      <thead>

      <tr>
        <th>Tipo</th>
        <th>Nombre</th>
        <th>Modalidad</th>
        <th>Descripción</th>
        <th>
          <%= link_to 'Carga de resultados a partir de excel', lms_managing_execute_pci_register_results_massive_charge_path(@program_course_instance) %>
        </th>
      </tr>

      </thead>

      <tbody>

        <% if @course.control_total_asistencia? %>
          <tr>
            <td colspan="4">
              Asistencia prensencial
            </td>
            <td>
              <%= link_to 'Registro grupal de asistencia', lms_managing_execute_pci_register_attendance_path(@program_course_instance) %>
              &nbsp;
              <%= link_to('Registro individual de asistencia (por '+alias_username+')', lms_managing_execute_pci_register_attendance2_path(@program_course_instance)) %>
            </td>
          </tr>
        <% end %>

      <% @elements.each_with_index do |element, index| %>

          <%
            ei = @elements_ids[index].split('-')
            tipo = ei[0]
            id = ei[1]

            el = nil

            el = @course.units.find(id) if tipo=='u'
            el = @course.evaluations.find(id) if tipo=='e'
            el = @course.polls.find(id) if tipo=='p'

          %>

          <% if el.virtual || (!el.virtual && !@course.control_total_asistencia? && tipo == 'u') || (!el.virtual && tipo != 'u') %>

            <tr>
            <td>

              <% if tipo=='u' %>
                  <span class="label label-warning"><%= @course.unit_alias.capitalize %> <%= el.numero %></span>
              <% end %>

              <% if tipo=='e' %>
                  <span class="label label-danger">Evaluación <%= el.numero %></span>
              <% end %>

              <% if tipo=='p' %>
                  <span class="label label-primary">Encuesta <%= el.numero %></span>
              <% end %>

            </td>

            <td><%= el.nombre %></td>

            <td>

              <% if el.virtual %>

              <span class="label label-success">
                <i class='fa fa-laptop'></i> Virtual
              </span>

              <% else %>

              <span class="label label-primary">
                <i class='fa fa-male'></i> Presencial
              </span>

              <% end %>

            </td>

            <td>
              <%= el.descripcion %>
            </td>

            <td>
              <% unless el.virtual %>

                  <% if tipo == 'u' && !@course.control_total_asistencia? %>

                    <%= link_to 'Registro grupal de asistencia', lms_managing_execute_pci_register_results_unit_path(@program_course_instance, el.id) %>
                    &nbsp;
                    <%= link_to 'Registro individual de asistencia (por '+alias_username+')', lms_managing_execute_pci_unit_register_attendance2_path(@program_course_instance, el.id) %>

                  <% end %>

                  <% if tipo == 'e' %>

                    <%= link_to 'Registro de resultados de evaluación', lms_managing_execute_pci_register_results_evaluation_path(@program_course_instance, el.id) %>

                  <% end %>

                  <% if tipo == 'p' %>

                    <%= link_to 'Registro de opiniones en encuesta', lms_managing_execute_pci_register_results_poll_path(@program_course_instance, el.id) %>

                  <% end %>

              <% end %>
            </td>

          </tr>

          <% end %>

      <% end %>

      </tbody>

    </table>
  </div>
</div>



<div class="panel panel-default">
  <div class="panel-body">

    <legend>
      Participantes
    </legend>

    <table class="table table-striped table-hover table-bordered smart-form" id="datatable_fixed_column" style="font-size: 11px;">

      <thead>

      <tr>

        <th width="1%">#</th>
        <th><%= alias_username %></th>
        <th>Apellidos</th>
        <th>Nombre</th>
        <th>Programado</th>
        <% LmsCharacteristic.search_people.each do |lms_characteristic| %>
          <th>
            <%= lms_characteristic.name %>
          </th>
        <% end %>



        <% has_evaluations = false %>

        <% @elements.each_with_index do |element, index| %>

            <%
              ei = @elements_ids[index].split('-')
              tipo = ei[0]
              id = ei[1]

              el = nil

              el = @course.units.find(id) if tipo=='u'
              if tipo=='e'
                el = @course.evaluations.find(id)
                has_evaluations = true
              end
              el = @course.polls.find(id) if tipo=='p'

            %>

            <th>

              <% if tipo=='u' %>
                <%= @course.unit_alias.capitalize %> <%= el.numero %>

                <% pciu = @program_course_instance.program_course_instance_units.where('unit_id = ?', id).first %>

                <% if pciu %>
                  (<%= ((pciu.to_date - pciu.from_date)/3600).to_i %>:<%= (((pciu.to_date - pciu.from_date)%3600)/60).to_i %>)
                <% end %>


              <% end %>

              <% if tipo=='e' %>
                  Evaluación <%= el.numero %>
              <% end %>

              <% if tipo=='p' %>
                  Encuesta <%= el.numero %>
              <% end %>

            </th>

        <% end %>

        <th>Asistencia</th>

        <% if has_evaluations %>

          <th>
            Calificación final
          </th>

        <% end %>

        <th>
          Estado
        </th>

      </tr>

      </thead>

      <tbody>

      <% @program_course_instance.matriculas_vigentes.each_with_index do |uc, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= uc.enrollment.user.codigo %></td>
            <td><%= uc.enrollment.user.apellidos %></td>
            <td><%= uc.enrollment.user.nombre %></td>
            <td><%= label_yes_not_datable(!uc.enroll_np) %></td>
            <% LmsCharacteristic.search_people.each do |lms_characteristic| %>
              <td>
                <%= uc.user.formatted_characteristic_value lms_characteristic.characteristic %>
              </td>
            <% end %>

            <% @elements.each_with_index do |element, index| %>

                <%
                  ei = @elements_ids[index].split('-')
                  tipo = ei[0]
                  id = ei[1]

                  el = nil

                  el = @course.units.find(id) if tipo=='u'
                  el = @course.evaluations.find(id) if tipo=='e'
                  el = @course.polls.find(id) if tipo=='p'

                %>

                <td>

                  <% if el.virtual %>

                      <% if tipo == 'u' %>

                          <% user_course_unit = uc.user_course_units.where('unit_id = ?', element.id).first %>

                          <% estado_unit = if user_course_unit && user_course_unit.finalizada
                                             '<span class="label label-success label-smart-table">Terminada</span>'
                                           elsif user_course_unit && user_course_unit.inicio
                                             '<span class="label label-primary label-smart-table">Iniciada</span>'
                                           else
                                             '<span class="label label-default label-smart-table">No iniciada</span>'
                                           end
                          %>

                          <%= estado_unit.html_safe %>

                      <% elsif tipo == 'e' %>

                          <% user_course_evaluation = uc.user_course_evaluations.where('evaluation_id = ?', element.id).first %>

                          <% estado_evaluation = if user_course_evaluation && user_course_evaluation.finalizada

                                                   if user_course_evaluation.aprobada

                                                     '<span class="label label-success label-smart-table">'+format_nota(user_course_evaluation.nota)+' '+tipo_nota(@course)+'</span>'

                                                   else

                                                     '<span class="label label-danger label-smart-table">'+format_nota(user_course_evaluation.nota)+' '+tipo_nota(@course)+'</span>'

                                                   end

                                                 elsif user_course_evaluation && user_course_evaluation.inicio
                                                   '<span class="label label-primary label-smart-table">Iniciada</span>'
                                                 else
                                                   '<span class="label label-default label-smart-table">No iniciada</span>'
                                                 end
                          %>


                          <%= estado_evaluation.html_safe %>

                      <% elsif tipo == 'p' %>

                          <% user_course_poll = uc.user_course_polls.where('poll_id = ?', element.id).first %>

                          <% estado_poll = if user_course_poll && user_course_poll.finalizada
                                             '<span class="label label-success label-smart-table">Terminada</span>'
                                           elsif user_course_poll && user_course_poll.inicio
                                             '<span class="label label-primary label-smart-table">Iniciada</span>'
                                           else
                                             '<span class="label label-default label-smart-table">No iniciada</span>'
                                           end
                          %>

                          <%= estado_poll.html_safe %>

                      <% end %>

                  <% else %>

                      <% if tipo == 'u' %>

                          <% user_course_unit = uc.user_course_units.where('unit_id = ?', element.id).first %>

                          <% estado_unit = if user_course_unit && user_course_unit.finalizada
                                             '<label class="text-success">Asistió</label>'
                                           elsif user_course_unit && user_course_unit.inicio
                                             '<label class="text-danger">No Asistió</label>'
                                           else
                                             '<label class="text-muted">Pendiente</label>'
                                           end
                          %>

                          <%= estado_unit.html_safe %>

                      <% elsif tipo == 'e' %>

                          <% user_course_evaluation = uc.user_course_evaluations.where('evaluation_id = ?', element.id).first %>

                          <% estado_evaluation = if user_course_evaluation && user_course_evaluation.finalizada

                                                   if user_course_evaluation.aprobada

                                                     '<label class="text-success">'+format_nota(user_course_evaluation.nota)+' '+tipo_nota(@course)+'</label>'

                                                   else

                                                     '<label class="text-danger">'+format_nota(user_course_evaluation.nota)+' '+tipo_nota(@course)+'</label>'

                                                   end

                                                 else
                                                   '<label class="text-muted">Pendiente</label>'
                                                 end
                          %>


                          <%= estado_evaluation.html_safe %>

                      <% elsif tipo == 'p' %>



                      <% end %>

                  <% end %>

                </td>

            <% end %>

            <td>
              <% if @course.control_total_asistencia? %>

                <% if uc.asistencia %>
                  <span class="label label-success label-smart-table">Asistió</span>
                <% else %>
                  <span class="label label-danger label-smart-table">No Asistió</span>
                <% end %>

              <% else %>
                <label class="<%= uc.asistencia_unidades >= @course.asistencia_minima ? 'text-success' : 'text-danger' %> ">
                  <%= number_with_precision(uc.asistencia_unidades, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
                </label>

              <% end %>
            </td>

            <% estado_curso = uc.estado lms_time %>

            <% if has_evaluations %>

              <td>

                <% if estado_curso == :aprobado %>
                  <% if uc.nota %>
                          <span class="label label-success label-smart-table">
                              <%= format_nota(uc.nota) %> <%= tipo_nota(@course) %>
                          </span>
                  <% end %>
                <% elsif estado_curso == :reprobado %>
                  <% if uc.nota %>
                          <span class="label label-danger label-smart-table">
                            <%= format_nota(uc.nota) %> <%= tipo_nota(@course) %>
                          </span>
                  <% end %>
                <% elsif estado_curso == :en_progreso %>

                <% end %>

              </td>

            <% end %>

            <td>

              <% if estado_curso == :no_iniciado %>
                <span class="label label-default label-smart-table">No iniciado</span>
              <% elsif estado_curso == :en_progreso %>
                <span class="label label-primary label-smart-table">En progreso</span>
              <% elsif estado_curso == :plazo_vencido %>
                <span class="label label-danger label-smart-table">Plazo vencido</span>
              <% elsif estado_curso == :aprobado %>
                <% if uc.nota %>
                  <span class="label label-success label-smart-table">Aprobado</span>
                <% else %>
                  <span class="label label-success label-smart-table">Cursado</span>
                <% end %>
              <% elsif estado_curso == :reprobado %>
                <span class="label label-danger label-smart-table">Reprobado</span>
              <% end %>

            </td>

          </tr>

      <% end %>


      </tbody>

    </table>

  </div>
</div>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_fixed_column',
               file_name: 'reporte_resumen'
           }
%>