<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a al registro de resultados'.html_safe, lms_managing_execute_pci_register_results_path(@program_course_instance), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      Asistencia y resultados
      <span>> Registro de asistencia </span>
    </h1>
  </div>
</div>

<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Datos del curso
        </legend>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Programa</strong>
          </div>
          <div class="col-md-9">
            <%= @program_course.program.codigo %> - <%= @program_course.program.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Código</strong>
          </div>
          <div class="col-md-9">
            <%= @course.codigo %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @course.nombre %>
          </div>
        </div>

        <% if @course.training_type %>
          <br>
            <div class="row">
              <div class="col-md-3 text-align-right">
                <strong><%= @company.training_type_alias %></strong>
              </div>
              <div class="col-md-9">
                <%= @course.training_type.nombre %>
              </div>
            </div>
        <% end %>

        <hr>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Desde</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @program_course_instance.from_date, format: :full_date) %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Hasta</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @program_course_instance.to_date, format: :full_date) %>
          </div>
        </div>


      </div>

    </div>

  </div>

</div>

<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <%= form_for UserCourse.new, url: lms_managing_execute_pci_unit_register_attendance_register2_path(@program_course_instance, @unit), html: {class: 'form-horizontal', method: :post} do |f| %>


        <div class="panel panel-default">
          <div class="panel-body">

            <legend>
              Asistencia: <%= @course.unit_alias.capitalize %> <%= @unit.numero %>. <%= @unit.nombre %>
            </legend>

            <div class="form-group <%= field_with_errors f, :nombre %>">

              <%= f.label :id, 'Alumno', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <input type="text" name="alumno" id="alumno" class="form-control" autofocus="autofocus">

              </div>

            </div>

          </div>
          <div class="panel-footer clearfix">

            <div class="text-right">
              <%= f.submit 'Registrar asistencia', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>

    <% end %>

  </div>
</div>

<div class="row">

  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Asistencia
        </legend>

        <table class="table table-striped table-hover table-bordered smart-form" id="datatable_fixed_column" style="font-size: 11px;">

          <thead>

            <tr>

              <th width="1%">#</th>
              <th><%= alias_username %></th>
              <th>Apellidos</th>
              <th>Nombre</th>
              <% LmsCharacteristic.search_people.each do |lms_characteristic| %>
                <th>
                  <%= lms_characteristic.name %>
                </th>
              <% end %>

            </tr>
            <tr>
              <td>
                <label class="input">
                  <input type="text" class="hidden">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <% LmsCharacteristic.search_people.each do |lms_characteristic| %>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
              <% end %>
            </tr>


          </thead>

          <tbody>

          <% index = 0 %>

          <% @program_course_instance.matriculas_vigentes.each do |uc| %>

            <% user_course_unit = uc.user_course_units.where('unit_id = ?',@unit.id).first %>

            <% if user_course_unit && user_course_unit.finalizada %>

              <tr>
                <td><%= index += 1 %></td>
                <td><%= uc.enrollment.user.codigo %></td>
                <td><%= uc.enrollment.user.apellidos %></td>
                <td><%= uc.enrollment.user.nombre %></td>
                <% LmsCharacteristic.search_people.each do |lms_characteristic| %>
                  <td>
                    <%= uc.user.formatted_characteristic_value lms_characteristic.characteristic %>
                  </td>
                <% end %>
              </tr>

            <% end %>

          <% end %>

          </tbody>

        </table>

      </div>

    </div>

  </div>

</div>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_fixed_column',
               file_name: 'reporte_asistencia'
           }
%>