<% ct_module = CtModule.where('cod = ? AND active = ?', 'lms', true).first %>



<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a gestionar el curso'.html_safe, lms_managing_execute_pci_program_course_path(@program_course), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      Programar dictado
      <span>> Editar </span>
    </h1>
  </div>
</div>

<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Datos del curso
        </legend>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Programa</strong>
          </div>
          <div class="col-md-9">
            <%= @program_course.program.codigo %> - <%= @program_course.program.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Código</strong>
          </div>
          <div class="col-md-9">
            <%= @course.codigo %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @course.nombre %>
          </div>
        </div>
        <br>
        <% if @course.training_type %>
          <div class="row">
            <div class="col-md-3 text-align-right">
              <strong><%= @company.training_type_alias %></strong>
            </div>
            <div class="col-md-9">
              <%= @course.training_type.nombre %>
            </div>
          </div>
          <br>
        <% end %>

        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @course.descripcion.html_safe %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong>Objetivos</strong>
          </div>
          <div class="col-md-9">
            <%= @course.objetivos.html_safe %>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>


<div class="row">

  <div class="col-md-10 col-md-offset-1">

    <%= form_for @program_course_instance, url: lms_managing_execute_pci_update_dates_path(@program_course_instance), html: {class: 'form-horizontal', method: :post} do |f| %>

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="form-group <%= field_with_errors f, :description %>">

          <%= f.label :description, 'Descripción', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.text_field :description, class: 'form-control' %>

          </div>

        </div>

        <% TrainingCharacteristic.for_instance.each do |training_characteristic| %>

          <%
            value = @program_course_instance.training_characteristic_value(training_characteristic)
          %>

          <div class="form-group">

            <%= f.label :training_characteristic_id, training_characteristic.name, class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <% if training_characteristic.data_type_id == 0 || training_characteristic.data_type_id == 1 %>

                <input type="text" name="training_characteristic_<%= training_characteristic.id %>" value="<%= value %>" class="form-control">

              <% elsif training_characteristic.data_type_id == 2 %>

                <% training_characteristic_values_array = training_characteristic.training_characteristic_values.map {|training_characteristic_value| [training_characteristic_value.value_string, training_characteristic_value.id]} %>

                <%= select_tag('training_characteristic_'+training_characteristic.id.to_s, options_for_select(training_characteristic_values_array, @program_course_instance.training_characteristic_value(training_characteristic)), id: 'training_characteristic_'+training_characteristic.id.to_s, class: 'form-control', prompt: '-- Sin valor --') %>

                <script>
                  //$("#training_characteristic_<%= training_characteristic.id %>").select2();
                </script>


              <% end %>

            </div>

          </div>
        <% end %>

        <br>

        <div class="row">

          <div class="col-md-3 text-align-right">
            Responsable
          </div>


          <div class="col-md-9">

            <%= (@program_course_instance.creator.apellidos+', '+@program_course_instance.creator.nombre) if @program_course_instance.creator %>

          </div>

        </div>

        <br>

        <div id="dates_not_by_element_container">

          <div class="form-group">

            <%= f.label :description, 'Inicio - Fin', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <div class="input-group col-md-6">
                <input type="text" name="desdehasta" class="form-control uneditable-input desdehasta" readonly value="<%= @program_course_instance.from_date ? @program_course_instance.from_date.strftime('%d/%m/%Y %I:%M %p') : lms_time.strftime('%d/%m/%Y %I:%M %p') %> - <%= @program_course_instance.to_date ? @program_course_instance.to_date.strftime('%d/%m/%Y %I:%M %p') : lms_time.strftime('%d/%m/%Y %I:%M %p') %>">
                <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </span>
              </div>

            </div>

          </div>

        </div>

        <div class="form-group">

          <%= f.label :description, 'Fechas detalladas', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <input type="hidden" name="dates_by_element" value = "0">
            <input type="checkbox" id="dates_by_element" name="dates_by_element" value = "1" <%= 'checked' if @dates_by_element %> onchange="toggle_dates_by_element()">

            <script>

              $('#dates_by_element').bootstrapSwitch({
                onColor: 'success',
                onText: "Sí",
                offColor: 'danger',
                offText: "No",
                size: "small"
              });

              function toggle_dates_by_element(){

                if($('#dates_by_element').is(":checked")){
                  $('#dates_by_element_container').show();
                  $('#dates_not_by_element_container').hide();
                }else{
                  $('#dates_by_element_container').hide();
                  $('#dates_not_by_element_container').show();
                }

              }

              $(document).ready(function() {
                toggle_dates_by_element();
              });

            </script>

            <div id="dates_by_element_container">

              <br>

              <table class="table table-striped table-hover table-bordered">

                <thead>

                <tr>
                  <th>Orden</th>
                  <th></th>
                  <th>Tipo</th>
                  <th>Nombre</th>
                  <th>Modalidad</th>

                </tr>

                </thead>

                <tbody>

                <% @elements.each_with_index do |element, index_el| %>

                  <%
                    ei = @elements_ids[index_el].split('-')
                    tipo = ei[0]

                  %>

                  <tr>
                    <td><%= element.orden %></td>

                    <td>

                      Desde Hasta

                      <div class="input-group col-md-12 <%= 'has-error' unless @desdehasta_elements[index_el] %> ">
                        <input type="text" name="desdehasta_<%= tipo %>_<%= element.id %>" class="form-control uneditable-input desdehasta" readonly value="<%= @desdehasta_elements[index_el] %>">
                        <span class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </span>
                      </div>

                    </td>

                    <td>

                      <% if tipo=='u' %>
                        <span class="label label-warning"><%= @course.unit_alias.capitalize %> <%= element.numero %></span>
                      <% end %>

                      <% if tipo=='e' %>
                        <span class="label label-danger">Evaluación <%= element.numero %></span>
                      <% end %>

                      <% if tipo=='p' %>
                        <span class="label label-primary">Encuesta <%= element.numero %></span>
                      <% end %>

                    </td>

                    <td><%= element.nombre %></td>

                    <td>

                      <% if element.virtual %>

                        <span class="label label-success">
                          <i class='fa fa-laptop'></i> Virtual
                        </span>

                      <% else %>

                        <span class="label label-primary">
                          <i class='fa fa-male'></i> Presencial
                        </span>

                      <% end %>

                    </td>



                  </tr>

                <% end %>

                </tbody>

              </table>

            </div>

          </div>

        </div>

      </div>

      <% if (user_connected.lms_enroll && @program_course_instance.creator_id == user_connected.id) || ct_module.ct_module_managers.where('user_id = ?', user_connected.id).count == 1 %>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      <% else %>


        <script>

          $('#edit_program_course_instance_<%= @program_course_instance.id.to_s %> :input').attr("disabled", true);

        </script>

      <% end %>
    </div>
  <% end %>

  </div>

</div>

<script type="text/javascript">
  jQuery(function($){
    $('.desdehasta').daterangepicker({
      format: 'DD/MM/YYYY hh:mm A',
      timePicker: true,
      timePicker12Hour: true,
      timePickerIncrement: 5,
      locale: {
        applyLabel: 'Aplicar',
        fromLabel: 'Desde',
        toLabel: 'Hasta',
        customRangeLabel: 'Custom Range',
        daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi','Sa'],
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        firstDay: 1
      },
      opens: "right"

    });
  });


</script>