<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <div class="pull-right">
      <%= link_to t('views.elec_process_rounds.shared.add_round'), new_elec_process_round_path %>
    </div>
  </div>
  <div class="panel-body">

    <% @elec_process_rounds.each do |elec_process_round| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <strong><%= elec_process_round.position %>. <%= elec_process_round.name %></strong>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= elec_process_round.description.html_safe %>
              </div>
            </div>
            <br>
            <table class="table table-hover table-bordered">
              <thead>
              <tr>
                <th><%= t('activerecord.attributes.elec_process_round.mandatory') %></th>
                <th><%= t('activerecord.attributes.elec_process_round.lifespan') %></th>
                <th><%= t('activerecord.attributes.elec_process_round.qty_required') %></th>
                <th><%= t('activerecord.attributes.elec_process_round.list_like_minificha') %></th>
                <th><%= t('activerecord.attributes.elec_process_round.threshold_pctg_universe') %></th>
                <th><%= t('activerecord.attributes.elec_process_round.threshold_pctg_voters') %></th>
                <th><%= t('activerecord.attributes.elec_process_round.threshold_qty_voters') %></th>
                <th><%= t('activerecord.attributes.elec_process_round.qty_min_podium') %></th>
              </tr>
              </thead>
              <tbody>
              <td><%= label_yes_not elec_process_round.mandatory %></td>
              <td align="right"><%= elec_process_round.lifespan %></td>
              <td align="right"><%= elec_process_round.qty_required %></td>
              <td><%= label_yes_not elec_process_round.list_like_minificha %></td>
              <td align="right"><%= elec_process_round.threshold_pctg_universe %></td>
              <td align="right"><%= elec_process_round.threshold_pctg_voters %></td>
              <td align="right"><%= elec_process_round.threshold_qty_voters %></td>
              <td align="right"><%= elec_process_round.qty_min_podium %></td>
              </tbody>
            </table>
            <table class="table table-hover table-bordered">
              <thead>
              <tr>
                <th><%= t('activerecord.attributes.elec_process_round.show_live_results') %></th>
                <th><%= t('activerecord.attributes.elec_process_round.show_live_results_extra_time') %></th>
                <th><%= t('activerecord.attributes.elec_process_round.show_final_results') %></th>
                <th><%= t('activerecord.attributes.elec_process_round.show_final_results_extra_time') %></th>
                <th><%= t('activerecord.attributes.elec_process_round.show_list_categories_in_dashboard') %></th>
              </tr>
              </thead>
              <tbody>
              <td><%= label_yes_not elec_process_round.show_live_results %></td>
              <td align="right"><%= elec_process_round.show_live_results_extra_time %></td>
              <td><%= label_yes_not elec_process_round.show_final_results %></td>
              <td align="right"><%= elec_process_round.show_final_results_extra_time %></td>
              <td><%= label_yes_not elec_process_round.show_list_categories_in_dashboard %></td>
              </tbody>
            </table>

            <table class="table table-hover table-bordered">
              <thead>
              <tr>
                <th><%= t('activerecord.attributes.elec_process_round.show_live_my_voters') %></th>
                <th><%= t('activerecord.attributes.elec_process_round.show_live_my_voters_extra_time') %></th>
                <th><%= t('activerecord.attributes.elec_process_round.show_final_my_voters') %></th>
                <th><%= t('activerecord.attributes.elec_process_round.show_final_results_extra_time') %></th>
                <th><%= t('activerecord.attributes.elec_process_round.show_my_voters_since_qty_votes') %></th>
                <th><%= t('activerecord.attributes.elec_process_round.show_my_voters_detail') %></th>
              </tr>
              </thead>
              <tbody>
              <td><%= label_yes_not elec_process_round.show_live_my_voters %></td>
              <td align="right"><%= elec_process_round.show_live_my_voters_extra_time %></td>
              <td><%= label_yes_not elec_process_round.show_final_my_voters %></td>
              <td align="right"><%= elec_process_round.show_final_my_voters_extra_time %></td>
              <td align="right"><%= elec_process_round.show_my_voters_since_qty_votes %></td>
              <td><%= label_yes_not elec_process_round.show_my_voters_detail %></td>
              </tbody>
            </table>
          </div>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <td>
                <%= link_to t('views.elec_process_rounds.shared.destroy_round'), elec_process_round, :method => :delete, :confirm => t('views.elec_process_rounds.index.confirm_message') %>
                &nbsp;&nbsp;
                <%= link_to t('views.elec_process_rounds.shared.edit_round'), edit_elec_process_round_path(elec_process_round) %>
              </td>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

