<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.elec_processes.shared.back_to_process')).html_safe, elec_processes_show_with_open_pill_path(@elec_process_round.elec_process_id, 'rounds'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%=	icon_elec_module_html_safe %>
      <%= t('views.elec_processes.shared.elec_processes', :count => 2) %>
      <span>> <%= t('views.elec_process_rounds.shared.add_round') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'form' %>

  </div>
</div>