<h1>Listing course_certificates</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Template</th>
    <th>Rango desde</th>
    <th>Rango hasta</th>
    <th>Nombre</th>
    <th>Nombre x</th>
    <th>Nombre y</th>
    <th>Desde</th>
    <th>Desde x</th>
    <th>Desde y</th>
    <th>Hasta</th>
    <th>Hasta x</th>
    <th>Hasta y</th>
    <th>Inicio</th>
    <th>Inicio x</th>
    <th>Incio y</th>
    <th>Fin</th>
    <th>Fin x</th>
    <th>Fin y</th>
    <th>Nota</th>
    <th>Nota x</th>
    <th>Nota y</th>
    <th>Fecha source</th>
    <th>Fecha source delay</th>
    <th>Fecha</th>
    <th>Fecha x</th>
    <th>Fecha y</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @course_certificates.each do |course_certificate| %>
  <tr>
    <td><%= course_certificate.course %></td>
    <td><%= course_certificate.template %></td>
    <td><%= course_certificate.rango_desde %></td>
    <td><%= course_certificate.rango_hasta %></td>
    <td><%= course_certificate.nombre %></td>
    <td><%= course_certificate.nombre_x %></td>
    <td><%= course_certificate.nombre_y %></td>
    <td><%= course_certificate.desde %></td>
    <td><%= course_certificate.desde_x %></td>
    <td><%= course_certificate.desde_y %></td>
    <td><%= course_certificate.hasta %></td>
    <td><%= course_certificate.hasta_x %></td>
    <td><%= course_certificate.hasta_y %></td>
    <td><%= course_certificate.inicio %></td>
    <td><%= course_certificate.inicio_x %></td>
    <td><%= course_certificate.incio_y %></td>
    <td><%= course_certificate.fin %></td>
    <td><%= course_certificate.fin_x %></td>
    <td><%= course_certificate.fin_y %></td>
    <td><%= course_certificate.nota %></td>
    <td><%= course_certificate.nota_x %></td>
    <td><%= course_certificate.nota_y %></td>
    <td><%= course_certificate.fecha_source %></td>
    <td><%= course_certificate.fecha_source_delay %></td>
    <td><%= course_certificate.fecha %></td>
    <td><%= course_certificate.fecha_x %></td>
    <td><%= course_certificate.fecha_y %></td>
    <td><%= link_to 'Show', course_certificate %></td>
    <td><%= link_to 'Edit', edit_course_certificate_path(course_certificate) %></td>
    <td><%= link_to 'Destroy', course_certificate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course certificate', new_course_certificate_path %>
