<div class="row">
  <div class="col-md-3">

    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el curso'.html_safe, @course, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      <%= @course.nombre %>
      <span>> Asignar plantilla PDF al certificado </span>
    </h1>
  </div>
</div>



<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for upload_course_certificate_template_path(@course_certificate), html: {class: 'form-horizontal', multipart: true} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Datos de la unidad</legend>

          <div class="row">
            <div class="col-md-3 text-right">
              Desde
            </div>
            <div class="col-md-9">
              <%= (localize @course_certificate.rango_desde, format: :day_snmonth_year) %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3 text-right">
              Hasta
            </div>
            <div class="col-md-9">
              <%= (localize @course_certificate.rango_hasta, format: :day_snmonth_year) %>
            </div>
          </div>
          <br>

          <div class="form-group">

            <%= f.label :file, 'Plantilla de certificado', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= file_field 'upload', 'datafile', class: 'form-control' %>

            </div>

          </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= f.submit 'Subir', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>

      </div>

    <% end %>


  </div>
</div>
