<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="page-title txt-color-blueDark">
      <%=	icon_sel_module_html_safe %>
      Selección
      <span>> Crear nueva solicitud </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <%= render 'form' %>

  </div>
</div>