
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de cursos'.html_safe, tc_list_courses_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-stack-overflow"></i>
      Cursos
      <span>> Eliminar curso </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @course, url: tc_destroy_course_path(@course), html: { method: :post } do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Datos del curso</legend>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Código</strong>
            </div>
            <div class="col-md-9">
              <%= @course.codigo %>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Nombre</strong>
            </div>
            <div class="col-md-9">
              <%= @course.nombre %>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Descripción</strong>
            </div>
            <div class="col-md-9">
              <%= @course.descripcion %>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Nota mínima</strong>
            </div>
            <div class="col-md-9">
              <%= @course.nota_minima %><%= '%' if @course.percentage_minimum_grade %>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Asistencia mínima</strong>
            </div>
            <div class="col-md-9">
              <%= @course.minimum_assistance %>%
            </div>
          </div>
          <br>

          <% if @company.modulo_sence %>
            <div class="row">
              <div class="col-md-3 text-right">
                <strong>Código Sence</strong>
              </div>
              <div class="col-md-9">
                <%= @course.sence_code %>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-md-3 text-right">
                <strong>Número de horas</strong>
              </div>
              <div class="col-md-9">
                <%= @course.sence_hours %>
              </div>
            </div>
            <br>

          <% end %>

          <div class="row">
            <div class="col-md-3 text-right">

            </div>
            <div class="col-md-9">
              <%= recaptcha_tags :display=>{:theme=>'clean'} %>
            </div>
          </div>

        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Eliminar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>

  </div>
</div>



