<div class="row">
  <div class="col-md-3">

    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de cursos del programa'.html_safe, tc_study_plan_path(@program), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-stack-overflow"></i>
      <%= @program.nombre %>
      <span>> Agregar nuevo curso </span>
    </h1>
  </div>
</div>

<%= form_for @program_course, url: tc_create_program_course_path, html: {class: 'form-horizontal'} do |f| %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Agregar curso</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <%= f.hidden_field :program_id %>

          <div class="form-group <%= field_with_errors f, :course %>">

            <%= f.label :course, 'Curso', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <% courses_array = @courses.map { |course| [course.codigo+' - '+course.nombre, course.id] } %>
              <%= f.select(:course_id, options_for_select(courses_array), {}, class: 'form-control') %>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    </div>
  </div>

<% end %>