<div class="row">
  <div class="col-md-3">

    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de programas'.html_safe, tc_list_programs_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-stack-overflow"></i>
      <%= @program.codigo %> - <%= @program.nombre %>
      <span>> Cursos </span>
    </h1>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

    <table class="table table-hover table-bordered table-stripped">

      <thead>

        <tr>
          <th>#</th>
          <th>Código</th>
          <th>Curso</th>
          <th>Estado</th>
          <th>Nota mínima</th>
          <th>Asistencia mínima</th>
          <% if @company.modulo_sence %>
            <th>Código Sence</th>
            <th>Nombre Sence</th>
          <% end %>
          <th>
            <%= link_to 'Agregar un nuevo curso', tc_new_program_course_path(@program) if @agregarcurso %>
          </th>
        </tr>

      </thead>
      <tbody>

        <% level = @program.levels.first %>

        <% level.courses_ordered_by_estado.each_with_index do |course,index| %>

          <% pc = course.program_courses.where('level_id = ? AND program_id = ?', level.id, @program.id).first %>

          <tr>

            <td><%= index+1 %></td>
            <td ><%= course.codigo %></td>
            <td ><%= course.nombre %></td>
            <td>
              <% if pc.activo %>
                <span class="label label-success">Activo</span>
              <% else %>
                <span class="label label-default">Inactivo</span>
              <% end %>
            </td>
            <td>
              <%= course.nota_minima %><%= '%' if course.percentage_minimum_grade %>
            </td>
            <td>
              <%= course.minimum_assistance %>%
            </td>
            <% if @company.modulo_sence %>
              <td><%= course.sence_code %></td>
              <td><%= course.sence_name %></td>
            <% end %>

            <td><%= link_to 'Eliminar', tc_delete_program_course_path(pc) %> </td>
          </tr>

        <% end %>

      </tbody>

    </table>

  </div>
</div>
