<div class="row">
  <div class="col-md-3">

    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de programas'.html_safe, tc_list_programs_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-stack-overflow"></i>
      <%= @program.codigo %> - <%= @program.nombre %>
      <span>> Plantilla del certificado </span>
    </h1>
  </div>
</div>



<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @course_certificate, url: tc_configure_certificate_template_upload_path(@course_certificate), html: {method: :post, class: 'form-horizontal', multipart: true} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="form-group">

            <%= f.label :file, 'Plantilla de certificado', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= file_field 'upload', 'datafile', class: 'form-control' %>

            </div>

          </div>
        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Subir', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

      </div>

    <% end %>


    </div>
</div>
