<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
Estimado <%= ' '+'(a) ' + @request.user.nombre+': ' %>
<br><br>
Tu solicitud de beneficio fue aprobada exitosamente: &nbsp;&nbsp; <%= @request.bp_license.name %><br>
<% if @request.hours %>
  <br>
  <strong>Fecha: </strong>&nbsp;<%= (localize @request.begin, :format => :day_snmonth_year) %>
  <br>
  <strong>Horas: </strong>&nbsp;<%= @request.hours %>
<% else %>
  <% if @request.end %>
    <br>
    <strong>Inicio: </strong>&nbsp;<%= (localize @request.begin, :format => :day_snmonth_year) %>
    <br>
    <strong>Fin: </strong>&nbsp;<%= (localize @request.end, :format => :day_snmonth_year) %>
    <br>
    <strong>Retorno: </strong>&nbsp;<%= (localize @request.go_back_date, :format => :day_snmonth_year) %>
  <% end %>
<% end %>

<% if @request.money %>
  <br>
  <strong>Monto: </strong>&nbsp;<%= @request.money.to_s + ' ' + @request.bp_license.currency.to_s %>
<% end %>

<% unless @request.status_description.blank? %>
  <br>
  <br>
  Comentario: &nbsp;
  <br>
  <strong><%= @request.status_description %>
    <br>
    <%= @request.registered_by_user.comma_full_name %></strong>
  <br>
<% end %>

<br><br>
Atentos saludos,
<br><br><strong>
  Cultura Corporativa
  <br>
  Grupo Security
</strong>
<br><br>
<img width="600px" src="https://misecurity.exa.cl/storage/security/mediateca/261_c4afcda478.jpg"/>
</body>
</html>