<% general_rules = BpGeneralRulesVacation.user_active(@request.begin.to_datetime, @request.user_id) %>
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
Estimado <%= ' '+'(a) ' + @request.user.nombre+': ' %>
<br><br>

<%= 'Tus vacaciones por un total de ' + @request.gimme_all_days_bitch.to_s + ' días' %> <%= 'hábiles' if general_rules && general_rules.only_laborable_day %> fueron aprobadas.
<br>
<br>
<strong>Fecha Inicio: </strong>&nbsp;<%= (localize @request.begin, :format => :full_date).downcase %>
<br>
<strong>Fecha Término: </strong>&nbsp;<%= (localize @request.end, :format => :full_date).downcase %>
<br>
<strong>Fecha Regreso: </strong>&nbsp;<%= (localize @back_to_work, :format => :full_date).downcase %>
<% unless @request.status_description.blank? %>
  <br>
  <br>
  Comentario: &nbsp;
  <br>
  <strong><%= @request.status_description %>
  <br>
  <%= @request.registered_by_user.comma_full_name %></strong>
  <br>
<% end %>
<br>
<%= 'Para ir a tus solicitudes de vacaciones, ingresa ' %>
<a href="<%= @company.url + vac_records_register_index_path %>">aquí</a>
<br>
<%= 'Recuerda siempre ingresar tus vacaciones en MiSecurity antes de hacer uso de ellas, así tu jefe podrá validarlas y tú disfrutarlas.' %>
<br><br>
Atentos saludos,
<br><br><strong>
Cultura Corporativa
<br>
Grupo Security</strong><br><br>
<img width="600px" src="https://misecurity.exa.cl/storage/security/mediateca/261_c4afcda478.jpg"/>
</body>
</html>