<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
Estimado <%= ' '+'(a) ' + @request.user.nombre+': ' %>
<br><br>
Tu solicitud de vacaciones fue ingresada exitosamente:<br>
<br>
<strong>Fecha Inicio: </strong>&nbsp;<%= (localize @request.begin, :format => :full_date).downcase %>
<br>
<strong>Fecha Término: </strong>&nbsp;<%= (localize @request.end, :format => :full_date).downcase %>
<br>
<strong>Fecha Regreso: </strong>&nbsp;<%= (localize @back_to_work, :format => :full_date).downcase %>

<br>
<% @restrictive_warnings.each_with_index do |warning, index| %>
  <% if index == 0 %>
    <strong> Tiene, por lo menos, una alarma restrictiva: </strong> &nbsp;
  <% end %>
  <%= warning.name %>
  <%= ', ' unless index + 1 == @restrictive_warnings.size %>
<% end %>

<% if @request.bp_warning_exception_id %>
  <br>
  <em>Solicitud hace uso de una excepción</em>
<% end %>

<br><br>
Recibirás una notificación cuando sea aprobada.
<br><br>
Atentos saludos,
<br><br><strong>
Cultura Corporativa
<br>
Grupo Security
</strong>
<br><br>
<img width="600px" src="https://misecurity.exa.cl/storage/security/mediateca/261_c4afcda478.jpg"/>
</body>
</html>