<% scheme = defined?(scheme) ? scheme : nil %>
<% if user %>
  <% rules = BpGeneralRulesVacation.user_active(lms_time, user.id) %>
  <% if rules && vac_accumulated %>

    <% draft_days = user ? VacRequest.sum_days_by_status(user.id, VacRequest.draft) : 0 %>
    <% pending_days = user ? VacRequest.sum_days_by_status(user.id, VacRequest.pending) : 0 %>
    <% approved_days = user ? VacRequest.sum_days_by_status(user.id, VacRequest.approved) : 0 %>
    <% rejected_days = user ? VacRequest.sum_days_by_status(user.id, VacRequest.rejected) : 0 %>
    <% in_process = pending_days + approved_days %>

    <% legal_last_accu = VacAccumulated.user_latest_legal(user.id) %>
    <% legal_last_accu = VacAccumulated.user_first(user.id) unless legal_last_accu %>
    <% future = vac_accumulated && user ? future_days(legal_last_accu.up_to_date, lms_time, user.id) : 0 %>
    <% processed_days = vac_accumulated ? vac_accumulated.accumulated_real_days : 0 %>

    <% processed_days += future %>

    <% draft_progressive_days = user ? VacRequest.sum_progressive_days_by_status(user.id, VacRequest.draft) : 0 %>
    <% pending_progressive_days = user ? VacRequest.sum_progressive_days_by_status(user.id, VacRequest.pending) : 0 %>
    <% approved_progressive_days = user ? VacRequest.sum_progressive_days_by_status(user.id, VacRequest.approved) : 0 %>
    <% rejected_progressive_days = user ? VacRequest.sum_progressive_days_by_status(user.id, VacRequest.rejected) : 0 %>

    <% prev_auto_accumulated = VacAccumulated.user_latest_prog(user.id) %>
    <% prev_auto_accumulated = VacAccumulated.user_first(user.id) unless prev_auto_accumulated %>
    <% progressive = next_progressive_days(prev_auto_accumulated.up_to_date, lms_time, user.id) %>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend> <%= t('views.vac_accumulateds.legends.accumulated_info') %> </legend>

        <div class="row">
          <div class="col-md-offset-4 col-md-1 col-xs-3 col-xs-offset-5"><strong>Legales</strong></div>
          <% if available_progressive_for(user.id) %>
            <div class="col-md-1 col-xs-4"><strong>Progresivos</strong></div>
          <% end %>
        </div>

        <div class="row">
          <div class="col-md-4 col-xs-6" align="right">
            <strong><%= t('views.vac_accumulateds.legends.accumulateds_info') %></strong></div>
          <div class="col-md-1 col-xs-3">
            <%= vac_accumulated ? number_with_precision(processed_days - approved_days, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) : 0 %>
          </div>
          <% if available_progressive_for(user.id) %>
            <div class="col-md-1 col-xs-3">
              <%= number_with_precision(progressive - approved_progressive_days, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>
            </div>
          <% end %>
        </div>

        <% if pending_days > 0 || pending_progressive_days > 0 %>
          <br>
          <div class="row">
            <div class="col-md-4 col-xs-6" align="right">
              <strong><%= t('views.vac_accumulateds.legends.pendings') %></strong></div>
            <div class="col-md-1 col-xs-3">
              <%= number_with_precision(pending_days , precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>
            </div>
            <% if available_progressive_for(user.id) %>
              <div class="col-md-1 col-xs-3">
                <%= number_with_precision(pending_progressive_days, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>
              </div>
            <% end %>
          </div>

          <hr width="50%">
          <div class="row">
            <div class="col-md-4 col-xs-6" align="right">
              <strong><%= t('views.vac_accumulateds.legends.balance') %></strong></div>
            <div class="col-md-1 col-xs-3">
              <%= number_with_precision(processed_days-in_process, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>
            </div>
            <% if available_progressive_for(user.id) %>
              <div class="col-md-1 col-xs-3">
                <%= number_with_precision(progressive - approved_progressive_days - pending_progressive_days, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>
              </div>
            <% end %>
          </div>
      <% end %>

        <% if rejected_days > 0 || rejected_progressive_days > 0 %>
          <br>
          <div class="row">
            <div class="col-md-4 col-xs-6" align="right">
              <strong><%= 'Rechazado' %></strong></div>
            <div class="col-md-1 col-xs-3">
              <%= number_with_precision(rejected_days, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>
            </div>
            <% if available_progressive_for(user.id) %>
              <div class="col-md-1 col-xs-3">
                <%= number_with_precision(rejected_progressive_days, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if draft_days > 0 || draft_progressive_days > 0 %>
          <br>
          <div class="row">
            <div class="col-md-4 col-xs-6" align="right">
              <strong><%= 'Borrador' %></strong></div>
            <div class="col-md-1 col-xs-3">
              <%= number_with_precision(draft_days, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>
            </div>
            <% if available_progressive_for(user.id) %>

          <div class="col-md-1 col-xs-3">
              <%= number_with_precision(draft_progressive_days, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>
            </div>
              <% end %>
          </div>
        <% end %>

        <% if defined?(register) && register %>
          <br>
          <div class="row">
            <div class="col-md-4 col-xs-8" align="right">
              <%= link_to 'Ver detalle histórico <i class="fa fa-caret-down" aria-hidden="true"></i>'.html_safe, '#', onclick: 'show_this_id(this)', id: 'vac_historical_detail_link' %>
              <%= link_to 'Ocultar detalle histórico <i class="fa fa-caret-up" aria-hidden="true"></i>'.html_safe, '#', onclick: 'hide_this_id(this)', id: 'vac_historical_detail_link_2', style: 'display:none;' %>
            </div>
          </div>
        <% end %>

        <div id="vac_detail_div" style="display:none;">
          <hr width="50%">
          <div class="row">
            <div class="col-md-4 col-xs-6" align="right">
              <strong><%= 'Total generados' %></strong></div>
            <div class="col-md-1 col-xs-3">
              <%= number_with_precision((user ? VacRequest.sum_total_generated(user.id) : 0 ) + future , precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>
            </div>
            <% if available_progressive_for(user.id) %>
          <div class="col-md-1 col-xs-3">
              <%= number_with_precision(VacRequest.sum_prog_total_generated(user.id) , precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>
            </div>
              <% end %>
          </div>

          <br>
          <div class="row">
            <div class="col-md-4 col-xs-6" align="right">
              <strong><%= 'Total aprobados' %></strong></div>
            <div class="col-md-1 col-xs-3">
              <%= number_with_precision(user ? VacRequest.sum_total_taken(user.id) : 0 , precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>
            </div>
            <% if available_progressive_for(user.id) %>
              <div class="col-md-1 col-xs-3">
                <%= number_with_precision(user ? VacRequest.sum_prog_total_taken(user.id) : 0, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% if defined?(register) && register %>
        <div class="panel-footer clearfix">
          <% if scheme && user.id == user_connected.id %>
            <div class="col-md-4 col-md-offset-4 col-xs-6" align="right">
              <%= link_to 'Proyectar días', '#', onclick: 'scheme_days_info(this)', class: 'btn btn-sm btn-primary', data: {url: vac_records_register_scheme_days_path(user)} %>
            </div>
            <div class="col-md-4 col-xs-6" align="right">
              <%= link_to icon_vacs_module_html_safe + ' ' + ' Nueva solicitud', vac_records_register_register_new_path, class: 'btn btn-sm btn-primary' %>
            </div>
          <% else %>
            <div class="pull-right">
              <%= link_to icon_vacs_module_html_safe + ' ' + ' Nueva solicitud', vac_records_register_register_new_path, class: 'btn btn-sm btn-primary' %>
            </div>
          <% end %>
        </div>
      <% else %>
        <% if scheme %>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= link_to 'Proyectar días', '#', onclick: 'scheme_days_info(this)', class: 'btn btn-sm btn-primary', data: {url: vac_manager_scheme_days_path(user)} %>
            </div>
          </div>
        <% end %>
      <% end %>
           </div>
  <% end %>

  <% else %>
    <div class="panel panel-default">
      <div class="panel-body">
        <br>
        <div class="alert alert-danger"><%= 'No tiene configuración completa para registrar solicitudes' %></div>
    </div>
    </div>
  <% end %>

<% if scheme %>
  <div id="scheme_days_info_container"></div>

  <script>
      function scheme_days_info(link){
          url = $(link).data('url');
          $.ajax({
              url: url,
              type: 'get',
              dataType: "html",
              success: function (data) {
                  $('#scheme_days_info_container').html(data)
                  $('#scheme_days_modal').modal('show');
              }
          });
      }
  </script>
<% end %>

<div id="balance_detail_info_container"></div>

<script>
    function show_balance_detail_info(link){
        url = $(link).data('url');
        $.ajax({
            url: url,
            type: 'get',
            dataType: "html",
            success: function (data) {
                $('#balance_detail_info_container').html(data)
                $('#balance_detail_info_modal').modal('show');
            }
        });
    }

    function show_this_id(link){
        $('#vac_detail_div').show()
        $('#vac_historical_detail_link').hide()
        $('#vac_historical_detail_link_2').show()
    }

    function hide_this_id(link){
        $('#vac_detail_div').hide()
        $('#vac_historical_detail_link').show()
        $('#vac_historical_detail_link_2').hide()
    }
</script>

