<legend> <%= 'Usuario: '+user.comma_full_name %></legend>
<table id="balance_detail_datatable" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <th><%= 'Período' %></th>
    <th><%= 'Días'%></th>
    <th><%= 'Progresivos' %></th>
    <th><%= 'Beneficios' %></th>
    <th><%= t('activerecord.attributes.vac_request.status') %></th>
    <th><%= 'Comentario' %></th>
    <th><%= 'Registrado por' %></th>
  </tr>
  </thead>

  <% requests = (VacRequest.in_process(user.id)) %>
  <% requests.sort_by(&:begin).each_with_index do |request, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td>
        <%= (localize request.begin, :format => :day_snmonth_year) %>
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        <%= (localize request.end, :format => :day_snmonth_year) %>
        <strong><%= ' ('+(localize back_to_work_request(request.id), :format => :day_snmonth_year)+')'%></strong>
      </td>
      <td><%= request.days.to_s%></td>
      <td><%=request.days_progressive.to_s%></td>
      <td>
        <% request.vac_rule_records.where(active: true).each do |rule_record| %>
          <% benefit = rule_record.bp_condition_vacation %>
          <% benefit_bonus = '' %>
          <% benefit_bonus += benefit.bonus_days.to_s + ' días' if benefit.bonus_days %>
          <% benefit_bonus += ' - ' if benefit.bonus_days && benefit.bonus_money %>
          <% benefit_bonus += benefit.bonus_money.to_s + ' ' + benefit.bonus_currency.to_s if benefit.bonus_money %>
          <%= rule_record.bp_condition_vacation.bp_rule_vacation.name + ' (' + benefit_bonus +')'%>
          <% title = rule_record.paid_text %>
          <% title +=': '+ rule_record.paid_description if rule_record.paid_description %>
          <%= ('<i class="fa fa-check" title="'+title+'"aria-hidden="true"></i>').html_safe if rule_record.paid %>
          <%= ('<i class="fa fa-times text-danger" title="'+title+'"aria-hidden="true"></i>').html_safe if rule_record.paid == false %>
          <%= ('<i class="fa fa-clock-o" title="'+title+'"aria-hidden="true"></i>').html_safe if rule_record.paid.nil? %>
          <br>
        <% end %>
      </td>
      <td><%= label_message_datable(request.status_colour, request.status_message) %></td>
      <td>
        <% if request.prev_request %>
          <%= request.status_description == request.prev_request.status_description ? '' : request.status_description %>
      <% else %>
          <%= request.status_description %>
      <% end %>
      </td>
      <td><%= request.full_registered_by_user %></td>
    </tr>
  <% end %>
</table>