<%= form_for(@vac_accumulated) do |f| %>
  <% if @vac_accumulated.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vac_accumulated.errors.count, "error") %> prohibited this vac_accumulated from being saved:</h2>

      <ul>
      <% @vac_accumulated.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :bp_general_rules_vacation %><br />
    <%= f.text_field :bp_general_rules_vacation %>
  </div>
  <div class="field">
    <%= f.label :accumulated_days %><br />
    <%= f.number_field :accumulated_days %>
  </div>
  <div class="field">
    <%= f.label :accumulated_real_days %><br />
    <%= f.number_field :accumulated_real_days %>
  </div>
  <div class="field">
    <%= f.label :accumulated_progressive_days %><br />
    <%= f.number_field :accumulated_progressive_days %>
  </div>
  <div class="field">
    <%= f.label :taken_days %><br />
    <%= f.number_field :taken_days %>
  </div>
  <div class="field">
    <%= f.label :taken_real_days %><br />
    <%= f.number_field :taken_real_days %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :deactivated_at %><br />
    <%= f.datetime_select :deactivated_at %>
  </div>
  <div class="field">
    <%= f.label :deactivated_by_user_id %><br />
    <%= f.number_field :deactivated_by_user_id %>
  </div>
  <div class="field">
    <%= f.label :registered_at %><br />
    <%= f.datetime_select :registered_at %>
  </div>
  <div class="field">
    <%= f.label :registered_by_user_id %><br />
    <%= f.number_field :registered_by_user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
