<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.vac_accumulateds.backlist.search_people')).html_safe, vac_accumulateds_new_search_people_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.vac_accumulateds.legends.accumulated') %>
      <span>> <%= t('views.vac_accumulateds.flow_process.new') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'bp_admin_groups/bp_group_show',
               locals: {:group => @bp_group,
                        :editable => false} if @bp_group %>
  </div>
</div>

<div class="row">
  <div id="user_info_container" class="col-md-6 col-md-offset-3">
    <%= render partial: 'user_info', locals: {user: @vac_accumulated.user} %>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'form_new', locals: { vac_accumulated: @vac_accumulated }%>
  </div>
</div>