<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.vac_accumulateds.backlist.acummulated_list')).html_safe, vac_accumulateds_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.vac_accumulateds.legends.accumulated') %>
      <span>> <%= t('views.vac_accumulateds.flow_process.new') %> </span>
      <span>> <%= t('views.vac_accumulateds.flow_process.search_people') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url:vac_accumulateds_new_search_people_path, method: :post do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Buscador</legend>

          <div class="row">
            <div class="col-md-12">

              <div class="row">
                <div class="col-md-4">
                  <label>&nbsp;&nbsp;<%= alias_username %></label>
                </div>
                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Apellidos</label>
                </div>
                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Nombre</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>
                </div>

                <div class="col-md-4">
                  <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>
                </div>

                <div class="col-md-4">
                  <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Buscar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">

            <legend>Resultados de la búsqueda</legend>

            <table class="table table-striped table-hover table-bordered">
              <thead>
              <tr>
                <th>#</th>
                <th><%= alias_username %></th>
                <th><%= t('views.ben_cellphone_number.shared.lastname') %></th>
                <th><%= t('views.ben_cellphone_number.shared.name') %></th>
                <th id="th_assign_period_time" class="assign_period_time" colspan="2"><%= 'Definir periodo tiempo' %></th>
              </tr>
              </thead>

              <tbody>
              <% @users.each_with_index do |user, index| %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= user.codigo %></td>
                  <td><%= user.apellidos %></td>
                  <td><%= user.nombre %></td>
                  <%= form_for User.new, :url => vac_accumulateds_new_path(user.id), html: {class: 'form-horizontal'}, method: :get do |f| %>
                    <td>
                      <div>
                        <%= f.submit 'Escoger', :class => 'btn btn-primary btn-sm' %>
                      </div>
                    </td>
                  <% end %>
                </tr>
              <% end %>

              </tbody>

            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>