<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @vac_accumulated.user %>
</p>

<p>
  <b>Bp general rules vacation:</b>
  <%= @vac_accumulated.bp_general_rules_vacation %>
</p>

<p>
  <b>Accumulated days:</b>
  <%= @vac_accumulated.accumulated_days %>
</p>

<p>
  <b>Accumulated real days:</b>
  <%= @vac_accumulated.accumulated_real_days %>
</p>

<p>
  <b>Accumulated progressive days:</b>
  <%= @vac_accumulated.accumulated_progressive_days %>
</p>

<p>
  <b>Taken days:</b>
  <%= @vac_accumulated.taken_days %>
</p>

<p>
  <b>Taken real days:</b>
  <%= @vac_accumulated.taken_real_days %>
</p>

<p>
  <b>Active:</b>
  <%= @vac_accumulated.active %>
</p>

<p>
  <b>Deactivated at:</b>
  <%= @vac_accumulated.deactivated_at %>
</p>

<p>
  <b>Deactivated by user:</b>
  <%= @vac_accumulated.deactivated_by_user_id %>
</p>

<p>
  <b>Registered at:</b>
  <%= @vac_accumulated.registered_at %>
</p>

<p>
  <b>Registered by user:</b>
  <%= @vac_accumulated.registered_by_user_id %>
</p>


<%= link_to 'Edit', edit_vac_accumulated_path(@vac_accumulated) %> |
<%= link_to 'Back', vac_accumulateds_path %>
