
<%= form_for @notification, html: {class: 'form-horizontal'} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos del aviso</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :nombre %>">

        <%= f.label :orden, 'Orden', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.number_field :orden, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :nombre %>">

        <%= f.label :asunto, 'Asunto', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :asunto, class: 'form-control' %>

        </div>

      </div>





      <div class="form-group">

        <div class="col-md-3 control-label">Mostrar a todos</div>
        <div class="col-md-9">

          <input type="checkbox" id="notification_todos" name="notification_todos" <%= 'checked=checked' if @mostrar_todos %> value="1" onchange="toggle_chars_filters();">
          <script>
            $('#notification_todos').bootstrapSwitch({
              onColor: 'success',
              onText: "Sí",
              offColor: 'danger',
              offText: "No"
            });

            function toggle_chars_filters() {

              if ($('#notification_todos').is(':checked')) {
                $('#chars_filters_container').hide();
              } else {
                $('#chars_filters_container').show();
              }
            }

            $(document).ready(function () {
              toggle_chars_filters();
            });

          </script>
          <%= render partial: 'characteristics/external_form_filter' %>
        </div>
      </div>



      <div class="form-group">

        <%= f.label :texto, 'Texto', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.text_area :texto, rows: '5', class: 'form-control' %>



          <br>
          <br>
          <div class="row">
            <div class="col-md-3">
              <a><i class="fa fa-desktop"></i> Inicio</a>
            </div>
            <div class="col-md-9">
              <%= '<a><i class="fa fa-desktop"></i> Inicio</a>' %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <a><i class="fa fa-book"></i> Cursos</a>
            </div>
            <div class="col-md-9">
              <%= '<a><i class="fa fa-book"></i> Cursos</a>' %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <a><i class="fa fa-folder-o"></i> Biblioteca</a>
            </div>
            <div class="col-md-9">
              <%= '<a><i class="fa fa-folder-o"></i> Biblioteca</a>' %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <a><i class="fa fa-comment-o"></i> Mesa de ayuda</a>
            </div>
            <div class="col-md-9">
              <%= '<a><i class="fa fa-comment-o"></i> Mesa de ayuda</a>' %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <a><i class="fa fa-stack-overflow"></i> Gestión de la capacitación</a>
            </div>
            <div class="col-md-9">
              <%= '<a><i class="fa fa-stack-overflow"></i> Gestión de la capacitación</a>' %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <a><i class="fa fa-pencil"></i> Gestión del desempeño</a>
            </div>
            <div class="col-md-9">
              <%= '<a><i class="fa fa-pencil"></i> Gestión del desempeño</a>' %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <a><i class="fa fa-file-text-o"></i> Ficha de usuario</a>
            </div>
            <div class="col-md-9">
              <%= '<a><i class="fa fa-file-text-o"></i> Ficha de usuario</a>' %>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="panel-footer clearfix">

      <div class="pull-right">

        <%= f.submit 'Guardar', class: 'btn btn-primary' %>

      </div>

    </div>
  </div>
<% end %>


