<p id="notice"><%= notice %></p>

<p>
  <b>Orden:</b>
  <%= @notification.orden %>
</p>

<p>
  <b>Asunto:</b>
  <%= @notification.asunto %>
</p>

<p>
  <b>Texto:</b>
  <%= @notification.texto %>
</p>

<p>
  <b>Fecha:</b>
  <%= @notification.fecha %>
</p>


<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
