<div class="modal fade" id="dont_charge_to_payroll_record_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x &nbsp;</button>
    <%= form_for record, url: dont_charge_to_payroll_update_record_path(record.sc_process,record.id), method: :post, html: {class: 'form-horizontal dont_charge_to_payroll_record_form', data: {:record_id => record.id, :sc_user_process_id => record.sc_user_process.id, :url_refresh => refresh_user_process_row_path(record.sc_user_process.id)}} do |f| %>
        <div class="panel panel-default record_pane">
          <div class="panel-body" style="height:<%= height if defined?(height) %>">
            <legend> Información de asistencia </legend>
            <div id="modal_errors" class="alert alert-danger" style="display: none"> Descripción no puede ser vacía </div>

            <%= render 'shared/error_messages', object: f.object %>

            <div class="row">
              <div class="col-md-3" align="right">
                <strong><%= alias_username %></strong>
              </div>
              <div class="col-md-9">
                <%= record.user.codigo %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-3" align="right">
                <strong><%= t('views.sc_processes.user.lastname') %></strong>
              </div>
              <div class="col-md-9">
                <%= record.user.apellidos %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-3" align="right">
                <strong><%= t('views.sc_processes.user.name') %></strong>
              </div>
              <div class="col-md-9">
                <%= record.user.nombre %>
              </div>
            </div>

            <br>

            <% characteristics.each do |characteristic| %>
                <div class="row">
                  <div class="col-md-3" align="right">
                    <strong><%=characteristic.name%></strong>
                  </div>
                  <div class="col-md-9">
                    <%= record.user.formatted_characteristic_value characteristic.characteristic %>
                  </div>
                </div>
                <br>
            <% end %>

            <div class="row">
              <div class="col-md-3" align="right">
                <strong><%= t('activerecord.attributes.sc_record.begin') %></strong>
              </div>
              <div class="col-md-9">
                <%= (localize record.begin, :format => :day_snmonth_year)+' '+record.begin_formatted %>
              </div>
            </div>

            <br>
            <div class="row">
              <div class="col-md-3" align="right">
                <strong><%= t('activerecord.attributes.sc_record.end') %></strong>
              </div>
              <div class="col-md-9">
                <%= (localize record.end, :format => :day_snmonth_year)+' '+record.end_formatted %>
              </div>
            </div>

            <br>
            <div class="row">
              <div class="col-md-3" align="right">
                <strong><%= t('activerecord.attributes.sc_record.he') %></strong>
              </div>
              <div class="col-md-9">
                <%= record.he_formatted %>
              </div>
            </div>

            <br>
            <div class="row">
              <div class="col-md-3" align="right">
                <strong><%= t('activerecord.attributes.sc_user_process.he_total') %></strong>
              </div>
              <div class="col-md-9">
                <%= record.sc_user_process.he_total_formatted %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-3" align="right">
                <strong><%= t('activerecord.attributes.sc_record.dont_charge_to_payroll') %></strong>
              </div>
              <div class="col-md-9">
                <%= label_yes_not(record.dont_charge_to_payroll) %>
              </div>
            </div>

            <br>

            <div class="form-group">
              <div class="col-md-3" align="right"><strong><%= t('activerecord.attributes.sc_record.dont_charge_to_payroll_description') %></strong></div>
              <div class="col-md-9"> <%= f.text_area :dont_charge_to_payroll_description, class: 'form-control', :rows => 3, autofocus: 'autofocus' %> </div>
            </div>

          </div>

          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= f.submit t('views.sc_schedules.forms.save'), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>

    <% end %>

  </div>
</div>

<script>
    $('.dont_charge_to_payroll_record_form').on('submit', function (e) {
        e.preventDefault();
        sc_record_id = $(this).data('record-id')
        user_process_id = $(this).data('sc-user-process-id')
        description = $('#sc_record_dont_charge_to_payroll_description').val()
        url = $(this).attr('action');
        url_refresh = $(this).data('url-refresh')

        if(description === '') {
            $("#modal_errors").show(500);
        }else {
            $('#dont_charge_to_payroll_record_modal').modal('hide')
            $.ajax({
                url: url,
                type: 'post',
                data: $('.dont_charge_to_payroll_record_form').serialize(),
                success: function (data) {
                    $('#dont_charge_to_payroll_record_modal').modal('hide')
                    refresh_user_process_row(url_refresh, user_process_id)
                }
            });
        }
    });
</script>