<div class="panel panel-default close_process">
  <div class="panel-body" style="height:<%= height if defined?(height) %>">
    <h5>Al cerrar el proceso, la información de asistencias estará disponible únicamente para visualización</h5>

    <%
      # STATUS GUIDE
      #     0:Pendiente de enviar validación,
      #     1:Pendiente de ser validado.
      #     3:Validado.
      #     4:Rechazado

      waiting_to_validation = []
      recorders = []
      validators = []
      waiting_validation = []
      process.sc_records.each do |record|
        if record.status == 0
          waiting_to_validation << record
          recorders << record.registered_by_user
        else
            if record.status == 1
              waiting_validation << record
              recorder = record.registered_by_user
              sc_register_to_validate = ScRegisterToValidate.where(:user_id => recorder.id, :active => true)
              sc_register_to_validate.each {|register_to_validate| validators << register_to_validate.he_ct_module_privilage.user}
            end
        end
    end
      recorders = recorders.uniq_by { |recorder| recorder.id }
      validators = validators.uniq_by { |validator| validator.id }
    %>
    <% if waiting_to_validation.size > 0 %>
        <h5 class="text-danger">
          <strong>Falta enviar a validación <%= waiting_to_validation.size %> asistencias.</strong>
        </h5>
        <ul>
        <% recorders.each do |recorder| %>
            <li><%= recorder.codigo.to_s+' - '+recorder.apellidos+', '+recorder.nombre %></li>
        <% end %>
        </ul>
  <% end %>

    <% if waiting_validation.size > 0 %>
        <h5 class="text-danger">
          <strong>Falta validar <%= waiting_validation.size %> asistencias.</strong>
        </h5>
        <ul>
          <% validators.each do |validator| %>
              <li><%= validator.codigo.to_s+' - '+validator.apellidos+', '+validator.nombre %></li>
          <% end %>
        </ul>
    <% end %>

  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      <i id="spinner_back_to_edit" class="fa fa-refresh fa-spin" style="display: none"></i>
      &nbsp;&nbsp;&nbsp;
      <%= link_to 'Volver editable asistencias', '#', id: 'back_to_edit_button', onclick: 'back_to_edit_process(this)', data: { process_id: process.id, url:back_to_edit_process_path(process.id) }, :class => 'btn btn-primary' if process.sc_reportings.where(active:true).first%>
      &nbsp;&nbsp;&nbsp;
      <%= link_to t('views.sc_processes.flow_process.close_process'), action_close_process_path(process), id: 'close_process_button', data: { confirm: '¿Está seguro de cerrar el proceso?' }, :class => 'btn btn-primary' %>
    </div>
  </div>
</div>