<div class="panel panel-default close_process">
  <div class="panel-body" style="height:<%= height if defined?(height) %>">
    <h5>Al abrir el proceso, la información de asistencias estará expuesta a modificaciones</h5>
  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      <%= link_to t('views.sc_processes.flow_process.open_process'), action_open_process_path(process), data: { confirm: '¿Está seguro de abrir el proceso?' }, :class => 'btn btn-primary' %>
    </div>
  </div>
</div>