<h1>Listing hr_process_evaluation_manual_qs</h1>

<table>
  <tr>
    <th>Texto</th>
    <th>Peso</th>
    <th>Hr process evaluation</th>
    <th>Hr evaluation type element</th>
    <th>Hr process evaluation manual q</th>
    <th>Hr process user</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hr_process_evaluation_manual_qs.each do |hr_process_evaluation_manual_q| %>
  <tr>
    <td><%= hr_process_evaluation_manual_q.texto %></td>
    <td><%= hr_process_evaluation_manual_q.peso %></td>
    <td><%= hr_process_evaluation_manual_q.hr_process_evaluation %></td>
    <td><%= hr_process_evaluation_manual_q.hr_evaluation_type_element %></td>
    <td><%= hr_process_evaluation_manual_q.hr_process_evaluation_manual_q_id %></td>
    <td><%= hr_process_evaluation_manual_q.hr_process_user %></td>
    <td><%= link_to 'Show', hr_process_evaluation_manual_q %></td>
    <td><%= link_to 'Edit', edit_hr_process_evaluation_manual_q_path(hr_process_evaluation_manual_q) %></td>
    <td><%= link_to 'Destroy', hr_process_evaluation_manual_q, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hr process evaluation manual q', new_hr_process_evaluation_manual_q_path %>
