<p id="notice"><%= notice %></p>

<p>
  <b>Texto:</b>
  <%= @hr_process_evaluation_manual_q.texto %>
</p>

<p>
  <b>Peso:</b>
  <%= @hr_process_evaluation_manual_q.peso %>
</p>

<p>
  <b>Hr process evaluation:</b>
  <%= @hr_process_evaluation_manual_q.hr_process_evaluation %>
</p>

<p>
  <b>Hr evaluation type element:</b>
  <%= @hr_process_evaluation_manual_q.hr_evaluation_type_element %>
</p>

<p>
  <b>Hr process evaluation manual q:</b>
  <%= @hr_process_evaluation_manual_q.hr_process_evaluation_manual_q_id %>
</p>

<p>
  <b>Hr process user:</b>
  <%= @hr_process_evaluation_manual_q.hr_process_user %>
</p>


<%= link_to 'Edit', edit_hr_process_evaluation_manual_q_path(@hr_process_evaluation_manual_q) %> |
<%= link_to 'Back', hr_process_evaluation_manual_qs_path %>
