
<div class="row">
  <div class="col-md-3">

    <%= link_to ('<i class="fa fa-arrow-left"></i> Volver a definir '+@hr_evaluation_type_element.hr_evaluation_type.nombre.downcase).html_safe, hr_process_assessment_carga_manual_path(@hr_process, @hr_process_evaluation, @hr_evaluation_type_element), class:'btn btn-default'  %>

  </div>
  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>: Definición de <%= @hr_evaluation_type_element.hr_evaluation_type.nombre.downcase %>
    </h1>

  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render partial: 'shared/user_profile_mini',
               locals: {
                   user: @hr_process_user.user,
                   company: @company
               }
    %>

  </div>
</div>

<% control_suma_pesos = 0 %>
<% suma_de_pesos_para_control = 0 %>

<% mq = @hr_process_evaluation.hr_process_evaluation_manual_qs.where('hr_process_user_id = ?',@hr_process_user.id).first %>
<% manual_q_confirmado = true if mq && mq.confirmado %>

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Definir <%= @hr_evaluation_type_element.hr_evaluation_type.nombre.downcase %>
        </legend>

        <table class="table table-hover table-bordered">
          <thead>
          <% total_cols = 0 %>

          </thead>
          <tbody>

          <%

             q_classifications = Array.new

             if @hr_evaluation_type_element.tiene_clasificacion

               q_classifications = @hr_process_evaluation.hr_process_evaluation_q_classifications.where('hr_evaluation_type_element_id = ? ', @hr_evaluation_type_element.id)

             end
          %>

          <% q_classifications.each do |q_classification| %>

              <% q_classification_id = nil %>

              <% if q_classification %>

                  <% q_classification_id = q_classification.id %>

                  <tr>
                    <td  style="background-color: <%= '#'+q_classification.color.to_s %>; ">
                      <strong><%= q_classification.nombre %></strong>
                    </td>
                  </tr>

              <% end %>

              <thead>
              <tr>

                <% total_cols = 0 %>

                <th>
                  <div class="row">
                    <div class="col-md-7">
                      <%= @hr_evaluation_type_element.nombre %>
                    </div>
                    <div class="col-md-5">
                      <% unless manual_q_confirmado %>
                          <nobr>
                            <%= link_to 'Crear nuevo '+@hr_evaluation_type_element.nombre, new_hr_process_evaluation_manual_q_u_path(@hr_process, @hr_process_evaluation, @hr_evaluation_type_element, @hr_process_user) %>
                          </nobr>
                      <% end %>
                    </div>
                  </div>



                </th>
                <% total_cols += 1 %>
                <% if @hr_evaluation_type_element.aplica_evaluacion %>
                    <th>
                      Peso
                    </th>
                    <% total_cols += 1 %>
                <% end %>



                <% if @hr_evaluation_type_element.indicador_logro %>
                    <% total_cols += 1 %>
                    <th>
                      Tipo
                    </th>
                    <% if @hr_evaluation_type_element.indicador_logro_descripcion %>
                        <% total_cols += 1 %>
                        <th>
                          Indicador de logro
                        </th>
                    <% end %>
                    <th>
                      Meta
                    </th>

                    <% total_cols += 2 %>

                <% end %>

                <% if @hr_process_evaluation_type_element_nivel_2 %>

                    <th>
                      <% total_cols += 1 %>
                      <%= @hr_process_evaluation_type_element_nivel_2.nombre %>
                    </th>
                    <% if @hr_process_evaluation_type_element_nivel_2.aplica_evaluacion %>
                        <th>
                          <% total_cols += 1 %>
                          Peso
                        </th>

                        <% if @hr_process_evaluation_type_element_nivel_2.indicador_logro %>
                            <th>
                              <% total_cols += 1 %>
                              Tipo
                            </th>
                            <% if @hr_process_evaluation_type_element_nivel_2.indicador_logro_descripcion %>
                                <th>
                                  <% total_cols += 1 %>
                                  Indicador de logro
                                </th>
                            <% end %>
                            <% total_cols += 1 %>
                            <th>
                              Meta
                            </th>

                        <% end %>

                    <% end %>
                    <th></th>

                <% end %>


              </tr>
              </thead>



              <% if @hr_evaluation_type_element.aplica_evaluacion %>

                <% control_suma_pesos = @hr_evaluation_type_element.suma_total_pesos %>

              <% else %>

                <% control_suma_pesos = @hr_process_evaluation_type_element_nivel_2.suma_total_pesos %>

              <% end %>


              <% @hr_process_evaluation.manual_questions_nivel_1(@hr_process_user).where('hr_process_evaluation_q_classification_id = ?',q_classification_id).each do |hr_process_evaluation_manual_q| %>


                  <% num_evals_nivel_2 = hr_process_evaluation_manual_q.hr_process_evaluation_manual_qs.size %>
                  <% num_evals_nivel_2 = 1 if num_evals_nivel_2 == 0 %>

                <tr>

                  <td rowspan="<%= num_evals_nivel_2 %>">

                    <div class="row">
                      <div class="col-md-7">
                        <%= hr_process_evaluation_manual_q.texto %>
                      </div>
                      <div class="col-md-2">
                        <% unless manual_q_confirmado %>
                          <%= link_to 'Editar', edit_hr_process_evaluation_manual_q_path(hr_process_evaluation_manual_q) %>

                          <% if @hr_process_evaluation_type_element_nivel_2 %>

                            <% if hr_process_evaluation_manual_q.hr_process_evaluation_manual_qs.size == 0 %>

                              <% if hr_process_evaluation_manual_q.hr_process_assessment_qs.size == 0 %>
                                <%= link_to 'Eliminar', hr_process_evaluation_manual_q, method: :delete, data: { confirm: '¿Está seguro de eliminar el '+@hr_evaluation_type_element.nombre+'?' } %>
                              <% end %>
                            <% end %>

                          <% else %>
                            <% if hr_process_evaluation_manual_q.hr_process_assessment_qs.size == 0 %>
                              <%= link_to 'Eliminar', hr_process_evaluation_manual_q, method: :delete, data: { confirm: '¿Está seguro de eliminar el '+@hr_evaluation_type_element.nombre+'?' } %>
                            <% end %>
                          <% end %>

                        <% end %>

                      </div>
                      <div class="col-md-3">

                        <% unless manual_q_confirmado %>
                            <%= link_to 'Crear nuevo '+@hr_process_evaluation_type_element_nivel_2.nombre, new_hr_process_evaluation_manual_q_u_mq_path(@hr_process, @hr_process_evaluation, @hr_process_evaluation_type_element_nivel_2, @hr_process_user, hr_process_evaluation_manual_q)%>
                        <% end %>

                      </div>
                    </div>

                  </td>
                  <% if @hr_evaluation_type_element.aplica_evaluacion %>

                      <% if control_suma_pesos > 0 %>

                        <% suma_de_pesos_para_control += hr_process_evaluation_manual_q.peso %>

                      <% end %>


                      <td rowspan="<%= num_evals_nivel_2 %>">
                        <div class="text-right">
                          <%= hr_process_evaluation_manual_q.peso %>%
                        </div>
                      </td>

                      <% if @hr_evaluation_type_element.indicador_logro %>

                          <td rowspan="<%= num_evals_nivel_2 %>">

                            <%=
                                case hr_process_evaluation_manual_q.tipo_indicador
                                  when 1
                                    'Directo'
                                  when 2
                                    'Inverso'
                                  when 3
                                    'Desviación (+/-)'
                                  when 4
                                    'Rango'

                                end
                            %>

                          </td>

                        <% if @hr_evaluation_type_element.indicador_logro_descripcion %>

                            <td rowspan="<%= num_evals_nivel_2 %>">
                              <%= hr_process_evaluation_manual_q.descripcion_indicador %>
                            </td>
                        <% end %>

                        <td rowspan="<%= num_evals_nivel_2 %>">
                          <% if hr_process_evaluation_manual_q.tipo_indicador <= 3 %>
                              <%= hr_process_evaluation_manual_q.meta_indicador %>

                              <%= hr_process_evaluation_manual_q.unidad_medida_indicador %>
                          <% else %>
                              <%

                                 metas = Array.new
                                 porcentajes = Array.new

                                 hr_process_evaluation_manual_q.pe_question_ranks.each do |pe_question_rank|
                                   metas.push pe_question_rank.goal
                                   porcentajes.push pe_question_rank.percentage
                                 end

                              %>
                              <table class="table table-condensed table-bordered">
                                <tr>
                                  <td width="70%">Meta (<%= hr_process_evaluation_manual_q.unidad_medida_indicador %>)</td>
                                  <td>Logro</td>
                                </tr>

                                <% metas.each_with_index do |meta, numero_meta| %>
                                    <tr>
                                      <td class="text-right"><%= number_with_precision(meta, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></td>
                                      <td class="text-right"><%= number_with_precision(porcentajes[numero_meta], precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%</td>
                                    </tr>
                                <% end %>
                              </table>
                          <% end %>


                        </td>

                      <% end %>
                  <% end %>

                  <% tiene_hijos = false %>

                  <% if @hr_process_evaluation_type_element_nivel_2 %>

                          <% hr_process_evaluation_manual_q.hr_process_evaluation_manual_qs.each_with_index do |hr_process_evaluation_manual_q_hijo, index_level_2| %>
                                <% tiene_hijos = true %>
                                <td>
                                  <%= hr_process_evaluation_manual_q_hijo.texto %>
                                </td>
                                <% if @hr_process_evaluation_type_element_nivel_2.aplica_evaluacion %>

                                    <% if control_suma_pesos > 0 %>

                                      <% suma_de_pesos_para_control += hr_process_evaluation_manual_q_hijo.peso %>

                                    <% end %>

                                    <td>
                                      <div class="text-right">
                                        <%= hr_process_evaluation_manual_q_hijo.peso %>%
                                      </div>
                                    </td>

                                    <% if @hr_process_evaluation_type_element_nivel_2.indicador_logro %>

                                          <td>

                                            <%=
                                               case hr_process_evaluation_manual_q_hijo.tipo_indicador
                                                 when 1
                                                   'Directo'
                                                 when 2
                                                   'Inverso'
                                                 when 3
                                                   'Desviación (+/-)'
                                                 when 4
                                                   'Rango'

                                               end
                                            %>

                                          </td>

                                        <% if @hr_process_evaluation_type_element_nivel_2.indicador_logro_descripcion %>
                                            <td>
                                              <%= hr_process_evaluation_manual_q_hijo.descripcion_indicador %>
                                            </td>
                                        <% end %>
                                        <td>


                                          <% if hr_process_evaluation_manual_q_hijo.tipo_indicador <= 3 %>
                                              <%= hr_process_evaluation_manual_q_hijo.meta_indicador %>
                                              <%= hr_process_evaluation_manual_q_hijo.unidad_medida_indicador %>
                                          <% else %>
                                              <%

                                                 metas = Array.new
                                                 porcentajes = Array.new

                                                 hr_process_evaluation_manual_q_hijo.pe_question_ranks.each do |pe_question_rank|
                                                   metas.push pe_question_rank.goal
                                                   porcentajes.push pe_question_rank.percentage
                                                 end

                                              %>
                                              <table class="table table-condensed table-bordered">
                                                <tr>
                                                  <td width="70%">Meta (<%= hr_process_evaluation_manual_q_hijo.unidad_medida_indicador %>)</td>
                                                  <td>Logro</td>
                                                </tr>

                                                <% metas.each_with_index do |meta, numero_meta| %>
                                                    <tr>
                                                      <td class="text-right"><%= number_with_precision(meta, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %></td>
                                                      <td class="text-right"><%= number_with_precision(porcentajes[numero_meta], precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%</td>
                                                    </tr>
                                                <% end %>
                                              </table>

                                          <% end %>


                                        </td>

                                    <% end %>

                                <% end %>
                                <td>
                                  <% unless manual_q_confirmado %>
                                    <%= link_to 'Editar', edit_hr_process_evaluation_manual_q_path(hr_process_evaluation_manual_q_hijo) %>
                                    <% if hr_process_evaluation_manual_q_hijo.hr_process_assessment_qs.size == 0 %>
                                      <%= link_to 'Eliminar', hr_process_evaluation_manual_q_hijo, method: :delete, data: { confirm: '¿Está seguro de eliminar el '+@hr_process_evaluation_type_element_nivel_2.nombre+'?' } %>
                                    <% end %>
                                  <% end %>
                                </td>

                                  <% if num_evals_nivel_2 > 1 && (index_level_2+1) < num_evals_nivel_2 %>

                                      </tr><tr>

                                  <% end %>

                          <% end %>

                  <% end %>

                  <% unless tiene_hijos %>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>

                  <% end %>


                </tr>

              <% end %>

          <% end %>

          <% unless manual_q_confirmado %>

            <tr>

              <td colspan="<%= total_cols %>">
                <div class="text-right">
                    La evaluación podrá comenzar una vez que haya confirmado que ha finalizado el registro.


                </div>
              </td>

              <td colspan="2">

                <%= form_for @hr_process_user, url: hr_process_evaluation_manual_q_confirmar_path(@hr_process, @hr_process_evaluation,@hr_evaluation_type_element, @hr_process_user), method: :post do |f| %>
                    <%= f.submit 'Confirmar', class: 'btn btn-success', id: 'button_confimar_definicion' %>
                <% end %>

              </td>
            </tr>


          <% end %>

          <tr>
            <td colspan="<%= total_cols+2 %>">

              <% if control_suma_pesos > 0 && control_suma_pesos != suma_de_pesos_para_control %>

                <div class="alert alert-danger">
                  La suma de pesos debe ser igual a <%= control_suma_pesos %>, en este momento la suma es <%= suma_de_pesos_para_control %><br>

                  Debido a esto, no podrá confirmar que ha finalizado el registro. Por favor ajuste los pesos de manera que estos sumen <%= control_suma_pesos %>
                </div>

                <script>


                  $('#button_confimar_definicion').removeClass('btn-success');
                  $('#button_confimar_definicion').addClass('disabled');

                  $('#button_confimar_definicion').attr("disabled", "disabled");

                </script>



              <% end %>

            </td>
          </tr>

          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
