
  <% num_elementos_1st_level = 0 %>
  <% num_elementos_2nd_level = 0 %>
  <% sum_pesos_elementos_1st_level = 0 %>
  <% sum_pesos_elementos_2nd_level = 0 %>

  <% cumple_num_min_elementos_1st_level = true %>
  <% cumple_num_max_elementos_1st_level = true %>
  <% cumple_sum_pesos_elementos_1st_level = true %>

  <% cumple_num_max_elementos_2nd_level = true %>
  <% cumple_num_min_elementos_2nd_level = true %>
  <% cumple_sum_pesos_elementos_2nd_level = true %>

  <% cumple_min_peso_1st_level = true %>
  <% cumple_max_peso_1st_level = true %>
  <% cumple_min_peso_2nd_level = true %>
  <% cumple_max_peso_2nd_level = true %>

  <% can_finish_definition = true %>

  <div class="panel panel-default">
    <div class="panel-body">

      <% pe_element_1st = pe_evaluation.pe_elements.first %>
      <% pe_element_2nd = pe_evaluation.pe_elements.second %>

      <% index_p_aux = 0 %>

      <% if pe_element_1st.element_def_by == 1 && pe_element_1st.element_def_by_rol && pe_element_1st.element_def_by_rol.include?(@pe_rel.rel.to_s)%>

        <div class="text-right" id="container_create_1st_element">

          <a title="Crear <%= pe_element_1st.name.downcase %>" href="<%= pe_def_by_user_new_path(@pe_evaluation, @pe_member_rel, 0) %>">
            Crear <%= pe_element_1st.name.downcase %>
          </a>

        </div>

      <% end %>

      <table class="table table-bordered table-hover">

        <% num_1st_level = 1 %>

        <% pe_evaluation.pe_questions_by_pe_member_1st_level(@pe_member_evaluated, @pe_member_evaluator, nil, nil).each_with_index do |pe_question_1st_level| %>

          <% num_elementos_1st_level += 1 %>
          <% sum_pesos_elementos_1st_level += pe_question_1st_level.weight %>

          <thead>

            <tr>
              <th style="background-color: #dddddd;" width="1%">
                <%= num_1st_level %>
              </th>
              <th style="background-color: #dddddd;">


                <% if pe_element_1st.element_def_by == 1 && pe_element_1st.element_def_by_rol && pe_element_1st.element_def_by_rol.include?(@pe_rel.rel.to_s) && !pe_question_1st_level.entered_by_manager %>

                  <a href="<%= pe_def_by_user_edit_path(pe_question_1st_level, @pe_member_rel) %>" style="color: #000;">

                    <% if pe_element_1st.display_name %>
                      <%= pe_question_1st_level.pe_element.name %>.
                    <% end %>

                    <%= pe_question_1st_level.description.html_safe %>

                  </a>

                <% else %>

                  <% if pe_element_1st.display_name %>
                    <%= pe_question_1st_level.pe_element.name %>.
                  <% end %>

                  <%= pe_question_1st_level.description.html_safe %>

                <% end %>

              </th>
              <th style="background-color: #dddddd;" width="10%" id="weight_1st_level_<%= pe_question_1st_level.id %>" colspan="3">
                <% if pe_element_1st.assessed %>

                  <%= number_with_precision(pe_question_1st_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

                  <% if (pe_element_1st.min_weight && pe_question_1st_level.weight < pe_element_1st.min_weight) || (pe_element_1st.max_weight && pe_question_1st_level.weight > pe_element_1st.max_weight) %>
                    <span class="label label-danger">Peso incorrecto</span>
                  <% end %>

                  <% cumple_min_peso_1st_level = false if pe_element_1st.min_weight && pe_question_1st_level.weight < pe_element_1st.min_weight %>
                  <% cumple_max_peso_1st_level = false if pe_element_1st.max_weight && pe_question_1st_level.weight > pe_element_1st.max_weight %>

                <% end %>
              </th>
              <th style="background-color: #dddddd;"  width="10%">

                <div class="row">

                  <% if pe_element_1st.element_def_by == 1 && pe_element_1st.element_def_by_rol && pe_element_1st.element_def_by_rol.include?(@pe_rel.rel.to_s) && !pe_question_1st_level.entered_by_manager %>
                    <div class="col-md-2">
                      <%= link_to '<i class="fa fa-times"></i>'.html_safe, pe_def_by_user_destroy_path(pe_question_1st_level, @pe_member_rel), :confirm => '¿Está seguro de eliminar el '+pe_element_1st.name.downcase+'?', :method => :delete %>
                    </div>
                  <% end %>

                  <% if pe_element_2nd.element_def_by == 1 && pe_element_2nd.element_def_by_rol && pe_element_2nd.element_def_by_rol.include?(@pe_rel.rel.to_s)%>
                    <div class="col-md-10">
                      <a title="Crear <%= pe_element_2nd.name.downcase %>" href="<%= pe_def_by_user_new_path(@pe_evaluation, @pe_member_rel, pe_question_1st_level) %>"  id="link_create_2nd_element_<%= pe_question_1st_level.id %>">
                        Crear <%= pe_element_2nd.name.downcase %>
                      </a>

                      <% if pe_question_1st_level.pe_question_model && pe_question_1st_level.pe_question_model.max_number %>

                        <strong class="text-muted" id="link_create_2nd_element_<%= pe_question_1st_level.id %>_fake">
                          Crear <%= pe_element_2nd.name.downcase %>
                        </strong>

                      <% end %>

                      <% if pe_question_1st_level.pe_question_model && ( pe_question_1st_level.pe_question_model.min_number || pe_question_1st_level.pe_question_model.max_number || pe_question_1st_level.pe_question_model.weight_sum) %>

                        <% tt = '' %>

                        <% if pe_question_1st_level.pe_question_model.min_number && pe_question_1st_level.pe_question_model.min_number == pe_question_1st_level.pe_question_model.max_number %>
                          <% tt += 'Cantidad permitida de '+pe_element_2nd.plural_name.downcase+': '+pe_question_1st_level.pe_question_model.min_number.to_s %>
                        <% else %>

                          <% if pe_question_1st_level.pe_question_model.min_number %>
                            <% tt += 'Cantidad mínima de '+pe_element_2nd.plural_name.downcase+': '+pe_question_1st_level.pe_question_model.min_number.to_s %>
                          <% end %>
                          <% if pe_question_1st_level.pe_question_model.max_number %>
                            <% tt += '<br>Cantidad máxima de '+pe_element_2nd.plural_name.downcase+': '+pe_question_1st_level.pe_question_model.max_number.to_s %>
                          <% end %>
                          <% if pe_question_1st_level.pe_question_model.weight_sum %>
                            <% tt += '<br>Suma de pesos de '+pe_element_2nd.plural_name.downcase+': '+pe_question_1st_level.pe_question_model.weight_sum.to_s %>
                          <% end %>

                        <% end %>

                        <i class="fa fa-question-circle" aria-hidden="true" id="asdasd_<%= pe_question_1st_level.id %>" type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" title="Consideraciones" data-content="<%= tt %>"></i>

                        <script language="javascript">
                          $('#asdasd_<%= pe_question_1st_level.id %>').popover({
                            html: true,
                            placement: 'top',
                            trigger: 'hover'
                          });
                        </script>

                      <% end %>
                    </div>
                  <% end %>
                </div>

              </th>
            </tr>

            <tr>
              <th></th>
              <th><%= pe_evaluation.pe_elements.last.name %></th>
              <th>Peso</th>
              <th>Meta</th>
              <th>Unidad</th>
              <th>

              </th>
            </tr>

          </thead>

          <tbody>

            <% num_elementos_2nd_level_model = 0 %>
            <% cumple_num_min_elementos_2nd_level_model = true %>
            <% cumple_num_max_elementos_2nd_level_model = true %>

            <% sum_pesos_elementos_2nd_level_model = 0 %>
            <% cumple_sum_pesos_elementos_2nd_level_model = true %>
            <% cumple_min_peso_2nd_level_model = true %>
            <% cumple_max_peso_2nd_level_model = true %>

            <% num_2nd_level = 1 %>
            <% sum_pesos_elementos_2nd_level_tmp = 0 %>
            <% pe_evaluation.pe_questions_by_question(pe_question_1st_level).each do |pe_question_2nd_level| %>

              <% num_elementos_2nd_level += 1 %>
              <% sum_pesos_elementos_2nd_level += pe_question_2nd_level.weight %>
              <% sum_pesos_elementos_2nd_level_tmp += pe_question_2nd_level.weight %>

              <% num_elementos_2nd_level_model += 1 %>
              <% sum_pesos_elementos_2nd_level_model += pe_question_2nd_level.weight %>

              <tr>
                <td>
                  <%= num_1st_level %>.<%= num_2nd_level %>
                </td>
                <td>

                  <% if pe_question_2nd_level.kpi_indicator %>
                    <span class="label label-success">KPI</span>&nbsp;
                  <% end %>

                  <% if pe_element_2nd.element_def_by == 1 && pe_element_2nd.element_def_by_rol && pe_element_2nd.element_def_by_rol.include?(@pe_rel.rel.to_s) && !pe_question_2nd_level.entered_by_manager %>

                    <a href="<%= pe_def_by_user_edit_path(pe_question_2nd_level, @pe_member_rel) %>" style="color: #000;">

                      <% if pe_question_2nd_level.pe_element.display_name %>
                        <%= pe_question_2nd_level.pe_element.name %>.
                      <% end %>

                      <% if pe_question_2nd_level.kpi_indicator %>

                        <%= pe_question_2nd_level.kpi_indicator.name %>

                      <% else %>

                        <%= pe_question_2nd_level.description.html_safe %>

                      <% end %>

                    </a>

                  <% else %>

                    <% if pe_question_2nd_level.pe_element.display_name %>
                      <%= pe_question_2nd_level.pe_element.name %>.
                    <% end %>

                    <% if pe_question_2nd_level.pe_element.kpi_dashboard && pe_question_2nd_level.kpi_indicator %>

                      <%= pe_question_2nd_level.kpi_indicator.name %>

                    <% else %>

                      <%= pe_question_2nd_level.description.html_safe %>

                    <% end %>

                  <% end %>

                  <% if pe_question_2nd_level.pe_element.allow_note && !pe_question_2nd_level.note.blank? %>

                    <%= render partial: 'pe_processes/pe_question_note',
                               locals: {
                                   pe_question: pe_question_2nd_level
                               }
                    %>

                  <% end %>

                  <% pe_question_2nd_level.pending_validations.each do |pending_validation| %>
                      <br><br>
                      <div class="alert alert-danger">

                        Rechazado por <%= @pe_evaluation.alias_step_responsible(pending_validation.step_number, pending_validation.before_accept).downcase %>

                        <% unless pending_validation.comment.blank? %>
                          <br>Comentario:
                          <%= pending_validation.comment %>
                        <% end %>

                      </div>
                  <% end %>

                </td>
                <td>
                  <%= number_with_precision(pe_question_2nd_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

                  <% if pe_question_1st_level.pe_question_model %>

                    <% if pe_element_2nd.assessed %>

                      <% cumple_min_peso_2nd_level_model = false if pe_question_1st_level.pe_question_model.min_weight && pe_question_2nd_level.weight < pe_question_1st_level.pe_question_model.min_weight %>
                      <% cumple_max_peso_2nd_level_model = false if pe_question_1st_level.pe_question_model.max_weight && pe_question_2nd_level.weight > pe_question_1st_level.pe_question_model.max_weight %>

                    <% end %>

                  <% end %>


                  <% if (pe_element_2nd.min_weight && pe_question_2nd_level.weight < pe_element_2nd.min_weight) ||
                        (pe_element_2nd.max_weight && pe_question_2nd_level.weight > pe_element_2nd.max_weight) ||
                        (pe_question_1st_level.pe_question_model && pe_question_1st_level.pe_question_model.min_weight && pe_question_2nd_level.weight < pe_question_1st_level.pe_question_model.min_weight) ||
                        (pe_question_1st_level.pe_question_model && pe_question_1st_level.pe_question_model.max_weight && pe_question_2nd_level.weight > pe_question_1st_level.pe_question_model.max_weight)
                         %>
                    <span class="label label-danger">Peso incorrecto</span>
                  <% end %>
                  
                  <% cumple_min_peso_2nd_level = false if pe_element_2nd.min_weight && pe_question_2nd_level.weight < pe_element_2nd.min_weight %>
                  <% cumple_max_peso_2nd_level = false if pe_element_2nd.max_weight && pe_question_2nd_level.weight > pe_element_2nd.max_weight %>

                </td>
                <td>

                  <%= render partial: 'pe_processes/indicator_goal_temp',
                             locals: {
                                 pe_question: pe_question_2nd_level
                             }
                  %>

                </td>

                <td>
                  <% if pe_question_2nd_level.pe_element.kpi_dashboard && pe_question_2nd_level.kpi_indicator %>
                    <%= pe_question_2nd_level.kpi_indicator.unit %>
                  <% else %>
                    <%= pe_question_2nd_level.indicator_unit %>
                  <% end %>
                </td>

                <td>

                  <% if pe_evaluation.allow_list_action_plan_def(@pe_rel ? @pe_rel.rel_id : nil, @pe_member_evaluator, @pe_member_evaluated) && pe_element_2nd.allow_action_plan? %>
                    <div class="col-md-3">
                      <a role="button" data-toggle="collapse" href="#view_action_plan_<%= pe_question_2nd_level.id %>" aria-expanded="false" aria-controls="collapseExample">
                        <% if pe_question_2nd_level.pe_question_activities.size > 0 %>
                          <span class="fa-stack">
                            <i class="fa fa-file fa-stack-1x" aria-hidden="true"></i>
                            <i class="fa-stack-1x" style="color: #fff; margin-top: .2em;font-size: .5em;">PA</i>
                          </span>
                        <% else %>
                          <span class="fa-stack">
                            <i class="fa fa-file-o fa-stack-1x" aria-hidden="true"></i>
                            <i class="fa-stack-1x" style="margin-top: .2em;font-size: .5em;">PA</i>
                          </span>
                        <% end %>
                      </a>
                    </div>
                  <% end %>

                  <% if pe_evaluation.allow_list_individual_comments_def(@pe_rel) && pe_element_2nd.allows_individual_comments %>
                    <div class="col-md-3">
                      <a role="button" data-toggle="collapse" href="#list_comments_<%= pe_question_2nd_level.id %>" aria-expanded="false" aria-controls="collapseExample">
                        <% if pe_question_2nd_level.pe_question_comments_by_pe_member_rels(@pe_member_rels_comments).size > 0 %>
                          <i class="fa fa-comment" aria-hidden="true"></i>
                        <% else %>
                          <i class="fa fa-comment-o" aria-hidden="true"></i>
                        <% end %>
                      </a>
                    </div>
                  <% end %>

                  <% if pe_element_2nd.element_def_by == 1 && pe_element_2nd.element_def_by_rol && pe_element_2nd.element_def_by_rol.include?(@pe_rel.rel.to_s) && !pe_question_2nd_level.entered_by_manager %>
                    <div class="col-md-3">
                      <%= link_to '<i class="fa fa-edit"></i>'.html_safe, pe_def_by_user_edit_path(pe_question_2nd_level, @pe_member_rel) %>
                    </div>
                  <% end %>

                  <% if pe_element_2nd.element_def_by == 1 && pe_element_2nd.element_def_by_rol && pe_element_2nd.element_def_by_rol.include?(@pe_rel.rel.to_s) && !pe_question_2nd_level.entered_by_manager %>
                    <div class="col-md-3">
                      <%= link_to '<i class="fa fa-times"></i>'.html_safe, pe_def_by_user_destroy_path(pe_question_2nd_level, @pe_member_rel), :confirm => '¿Está seguro de eliminar el '+pe_element_2nd.name.downcase+'?', :method => :delete %>
                    </div>
                  <% end %>

                </td>


              </tr>

              <% if pe_evaluation.allow_list_action_plan_def(@pe_rel ? @pe_rel.rel_id : nil, @pe_member_evaluator, @pe_member_evaluated) && pe_element_2nd.allow_action_plan? %>

                <%= render partial: 'pe_definition_by_user/action_plan_table',
                           locals: {
                               pe_evaluation: pe_evaluation,
                               pe_question: pe_question_2nd_level,
                               pe_element: pe_element_2nd,
                               pe_member_evaluated: @pe_member_evaluated,
                               pe_member_evaluator: @pe_member_evaluator,
                               pe_rel: @pe_rel,
                               read_only: false
                           }
                %>

              <% end %>

              <% if pe_evaluation.allow_list_individual_comments_def(@pe_rel) && pe_element_2nd.allows_individual_comments %>

                <%= render partial: 'pe_definition_by_user/individual_comments_table',
                           locals: {
                               pe_evaluation: pe_evaluation,
                               pe_question: pe_question_2nd_level,
                               pe_element: pe_element_2nd,
                               pe_member_evaluated: @pe_member_evaluated,
                               pe_member_rel: @pe_member_rel,
                               pe_member_rels_comments: @pe_member_rels_comments
                           }
                %>

              <% end %>

              <% num_2nd_level += 1 %>

            <% end %>

            <!-- warning 2nd level question_model -->

            <% if pe_question_1st_level.pe_question_model %>

              <% cumple_num_min_elementos_2nd_level_model = false if pe_question_1st_level.pe_question_model.min_number && num_elementos_2nd_level_model < pe_question_1st_level.pe_question_model.min_number %>
              <% cumple_num_max_elementos_2nd_level_model = false if pe_question_1st_level.pe_question_model.max_number && num_elementos_2nd_level_model > pe_question_1st_level.pe_question_model.max_number %>

              <% if pe_question_1st_level.pe_question_model.max_number && num_elementos_2nd_level_model == pe_question_1st_level.pe_question_model.max_number %>

                <script>
                  $( document ).ready(function() {
                    $('#link_create_2nd_element_<%= pe_question_1st_level.id %>').hide();
                  });
                </script>

              <% else %>

                <script>
                  $( document ).ready(function() {
                    $('#link_create_2nd_element_<%= pe_question_1st_level.id %>_fake').hide();
                  });
                </script>


              <% end %>

              <% if pe_element_2nd.assessed %>

                <% cumple_sum_pesos_elementos_2nd_level_model = false if pe_question_1st_level.pe_question_model.weight_sum && sum_pesos_elementos_2nd_level_model.round(10) != pe_question_1st_level.pe_question_model.weight_sum %>

                <% unless cumple_min_peso_2nd_level_model && cumple_max_peso_2nd_level_model && cumple_sum_pesos_elementos_2nd_level_model && cumple_num_min_elementos_2nd_level_model && cumple_num_max_elementos_2nd_level_model  %>

                  <% can_finish_definition = false %>

                  <tr>
                    <td colspan="6">

                      <div class="alert alert-danger">

                        <% unless cumple_num_min_elementos_2nd_level_model %>

                          <li> Debe crear como mínimo <%= pe_question_1st_level.pe_question_model.min_number %> <%= pe_question_1st_level.pe_question_model.min_number == 1 ? pe_element_2nd.name.downcase : pe_element_2nd.plural_name.downcase %>, ha creado <%= num_elementos_2nd_level_model %>

                        <% end %>

                        <% unless cumple_num_max_elementos_2nd_level_model %>

                          <li> Debe crear como máximo <%= pe_question_1st_level.pe_question_model.max_number %> <%= pe_question_1st_level.pe_question_model.max_number == 1 ? pe_element_2nd.name.downcase : pe_element_2nd.plural_name.downcase %>, ha creado <%= num_elementos_2nd_level_model %>

                        <% end %>

                        <% unless cumple_min_peso_2nd_level_model %>
                          <li>El peso mínimo de cada <%= pe_element_2nd.name.downcase %> debe ser <%= pe_question_1st_level.pe_question_model.min_weight %></li>
                        <% end %>

                        <% unless cumple_max_peso_2nd_level_model %>
                          <li>El peso máximo de cada <%= pe_element_2nd.name.downcase %> debe ser <%= pe_question_1st_level.pe_question_model.max_weight %></li>
                        <% end %>

                        <% unless cumple_sum_pesos_elementos_2nd_level_model %>

                          <li> La suma de pesos de <%= pe_element_2nd.plural_name.downcase %> debe ser <%= pe_question_1st_level.pe_question_model.weight_sum %>, el peso actual es <%= sum_pesos_elementos_2nd_level_model.round(10) %>

                        <% end %>


                      </div>

                    </td>
                  </tr>

                <% end %>

                <% num_elementos_2nd_level_model = 0 %>
                <% cumple_num_min_elementos_2nd_level_model = true %>
                <% cumple_num_max_elementos_2nd_level_model = true %>

                <% sum_pesos_elementos_2nd_level_model = 0 %>
                <% cumple_sum_pesos_elementos_2nd_level_model = true %>

                <% cumple_min_peso_2nd_level_model = true %>
                <% cumple_max_peso_2nd_level_model = true %>

              <% end %>

            <% end %>

            <% unless pe_element_1st.assessed %>

              <% if pe_element_1st.display_weight %>

                <% suma_temp = number_with_precision(sum_pesos_elementos_2nd_level_tmp, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>

                <script>
                  $( document ).ready(function() {
                    $('#weight_1st_level_<%= pe_question_1st_level.id %>').append('<%= suma_temp %>%');
                  });
                </script>

              <% end %>

            <% end %>

          </tbody>


          <% num_1st_level += 1 %>

        <% end %>

      </table>


      <div class="row">
        <div class="col-md-12">

          <!-- warning 1st level -->

          <% cumple_num_min_elementos_1st_level = false if pe_element_1st.min_number && num_elementos_1st_level < pe_element_1st.min_number %>
          <% cumple_num_max_elementos_1st_level = false if pe_element_1st.max_number && num_elementos_1st_level > pe_element_1st.max_number %>

          <% if pe_element_1st.assessed %>

            <% cumple_sum_pesos_elementos_1st_level = false if pe_element_1st.weight_sum && sum_pesos_elementos_1st_level.round(10) != pe_element_1st.weight_sum %>

            <% unless cumple_num_min_elementos_1st_level && cumple_num_max_elementos_1st_level && cumple_sum_pesos_elementos_1st_level && cumple_min_peso_1st_level && cumple_max_peso_1st_level %>

              <% can_finish_definition = false %>

              <div class="alert alert-danger">
                <% unless cumple_num_min_elementos_1st_level %>

                  <li> Debe crear como mínimo <%= pe_element_1st.min_number %> <%= pe_element_1st.min_number == 1 ? pe_element_1st.name.downcase : pe_element_1st.plural_name.downcase %>, ha creado <%= num_elementos_1st_level %>

                <% end %>

                <% unless cumple_num_max_elementos_1st_level %>

                  <li> Debe crear como máximo <%= pe_element_1st.max_number %> <%= pe_element_1st.max_number == 1 ? pe_element_1st.name.downcase : pe_element_1st.plural_name.downcase %>, ha creado <%= num_elementos_1st_level %>

                <% end %>

                <% unless cumple_sum_pesos_elementos_1st_level %>

                  <li> La suma de pesos de <%= pe_element_1st.plural_name.downcase %> debe ser <%= pe_element_1st.weight_sum %>, el peso actual es <%= sum_pesos_elementos_1st_level.round(10) %>

                <% end %>

                <% unless cumple_min_peso_1st_level %>
                   <li>El peso mínimo de cada <%= pe_element_1st.name.downcase %> debe ser <%= pe_element_1st.min_weight %></li>
                <% end %>

                <% unless cumple_max_peso_1st_level %>
                  <li>El peso máximo de cada <%= pe_element_1st.name.downcase %> debe ser <%= pe_element_1st.max_weight %></li>
                <% end %>

              </div>

            <% end %>

          <% else %>

            <% unless cumple_num_min_elementos_1st_level && cumple_num_max_elementos_1st_level %>

              <% can_finish_definition = false %>

              <div class="alert alert-danger">

                <% unless cumple_num_min_elementos_1st_level %>

                  <li> Debe crear como mínimo <%= pe_element_1st.min_number %> <%= pe_element_1st.min_number == 1 ? pe_element_1st.name.downcase : pe_element_1st.plural_name.downcase %>, ha creado <%= num_elementos_1st_level %>

                <% end %>

                <% unless cumple_num_max_elementos_1st_level %>

                  <li> Debe crear como máximo <%= pe_element_1st.max_number %> <%= pe_element_1st.max_number == 1 ? pe_element_1st.name.downcase : pe_element_1st.plural_name.downcase %>, ha creado <%= num_elementos_1st_level %>

                <% end %>

              </div>

            <% end %>


          <% end %>

          <!-- warning 2nd level -->

          <% cumple_num_min_elementos_2nd_level = false if pe_element_2nd.min_number && num_elementos_2nd_level < pe_element_2nd.min_number %>
          <% cumple_num_max_elementos_2nd_level = false if pe_element_2nd.max_number && num_elementos_2nd_level > pe_element_2nd.max_number %>

          <% if pe_element_2nd.assessed %>

            <% cumple_sum_pesos_elementos_2nd_level = false if pe_element_2nd.weight_sum && sum_pesos_elementos_2nd_level.round(10) != pe_element_2nd.weight_sum %>

            <% unless cumple_num_min_elementos_2nd_level && cumple_num_max_elementos_2nd_level && cumple_sum_pesos_elementos_2nd_level && cumple_min_peso_2nd_level && cumple_max_peso_2nd_level %>

              <% can_finish_definition = false %>

              <tr>
                <td colspan="6">

                  <div class="alert alert-danger">

                    <% unless cumple_num_min_elementos_2nd_level %>

                      <li> Debe crear como mínimo <%= pe_element_2nd.min_number %> <%= pe_element_2nd.min_number == 1 ? pe_element_2nd.name.downcase : pe_element_2nd.plural_name.downcase %>, ha creado <%= num_elementos_2nd_level %>

                    <% end %>

                    <% unless cumple_num_max_elementos_2nd_level %>

                      <li> Debe crear como máximo <%= pe_element_2nd.max_number %> <%= pe_element_2nd.max_number == 1 ? pe_element_2nd.name.downcase : pe_element_2nd.plural_name.downcase %>, ha creado <%= num_elementos_2nd_level %>

                    <% end %>

                    <% unless cumple_sum_pesos_elementos_2nd_level %>

                      <li> La suma de pesos de <%= pe_element_2nd.plural_name.downcase %> debe ser <%= pe_element_2nd.weight_sum %>, el peso actual es <%= sum_pesos_elementos_2nd_level.round(10) %>

                    <% end %>

                    <% unless cumple_min_peso_2nd_level %>
                      <li>El peso mínimo de cada <%= pe_element_2nd.name.downcase %> debe ser <%= pe_element_2nd.min_weight %></li>
                    <% end %>

                    <% unless cumple_max_peso_2nd_level %>
                      <li>El peso máximo de cada <%= pe_element_2nd.name.downcase %> debe ser <%= pe_element_2nd.max_weight %></li>
                    <% end %>

                  </div>

                </td>
              </tr>

            <% end %>

          <% else %>

            <% unless cumple_num_min_elementos_2nd_level && cumple_num_max_elementos_2nd_level %>

              <% can_finish_definition = false %>

              <tr>
                <td colspan="6">

                  <div class="alert alert-danger">

                    <% unless cumple_num_min_elementos_2nd_level %>

                      <li> Debe crear como mínimo <%= pe_element_2nd.min_number %> <%= pe_element_2nd.min_number == 1 ? pe_element_2nd.name.downcase : pe_element_2nd.plural_name.downcase %>, ha creado <%= num_elementos_2nd_level %>

                    <% end %>

                    <% unless cumple_num_max_elementos_2nd_level %>

                      <li> Debe crear como máximo <%= pe_element_2nd.max_number %> <%= pe_element_2nd.max_number == 1 ? pe_element_2nd.name.downcase : pe_element_2nd.plural_name.downcase %>, ha creado <%= num_elementos_2nd_level %>

                    <% end %>

                  </div>

                </td>
              </tr>

            <% end %>

          <% end %>

        </div>
      </div>


    </div>

    <% if @pe_member_rel.pe_rel.rel == 1 %>

      <div class="panel-footer clearfix">

        <%= form_tag pe_def_by_user_finish_path(pe_evaluation, @pe_member_rel), method: :post, id: 'form_pe_define' do |f| %>

          <div class="row">

            <div class="col-md-10 text-right">
              <nobr>
                <label>

                  <input type="checkbox" onchange="set_send(this)" class="b_ie">

                  <% if pe_evaluation.pe_member_has_validations_pending(@pe_member_evaluated) %>

                    <%= pe_evaluation.definition_by_user_finish_validated_message %>

                  <% else %>

                    <%= pe_evaluation.definition_by_user_finish_message %>

                  <% end %>

                </label>
              </nobr>
            </div>
            <div class="col-md-2 text-right">


              <%= submit_tag 'Finalizar', class: 'btn disabled', id: 'button_finish_definition', disabled: 'disabled'  %>
              <a id= 'suggestion_make_check' data-toggle= 'tooltip' title= 'Para habilitar el botón Finalizar debe indicar que confirma que ha finalizado con la definición'>
                <i class="fa fa-question"></i>
              </a>

            </div>

          </div>

        <% end %>

        <% unless can_finish_definition %>
          <script>
            $( document ).ready(function() {
              $("#form_pe_define :input").attr("disabled", true);
            });
          </script>
        <% end %>

        <script>
          function set_send(c){

            if(c.checked){
              $('#button_finish_definition').removeClass('disabled');
              $('#button_finish_definition').addClass('btn-success');

              $('#button_finish_definition').removeAttr('disabled');
            }else{
              $('#button_finish_definition').removeClass('btn-success');
              $('#button_finish_definition').addClass('disabled');

              $('#button_finish_definition').attr("disabled", "disabled");
            }

          }
          $('#suggestion_make_check').tooltip({
            placement: 'top'
          });

          <% if $browser_ie8 %>

          $(function() {
            $('.b_ie').click(function() {
              this.blur();
              this.focus();
            });
          });

          <% end %>


        </script>

      </div>

    <% end %>

  </div>


  <% if pe_evaluation.allow_create_individual_comment_def(@pe_rel) %>

    <% unless @pe_member_evaluated.step_assessment? || @pe_member_rel.finished %>

      <% pe_evaluation.pe_questions_by_pe_member_all_levels(@pe_member_evaluated, @pe_member_evaluator, nil, nil).each_with_index do |pe_question| %>

        <% if pe_question.pe_element.allows_individual_comments? %>

          <%= render partial: 'pe_definition_by_user/new_individual_comment',
                     locals: {
                         pe_evaluation: pe_evaluation,
                         pe_question: pe_question,
                         pe_question_comment: @pe_question_comment,
                         pe_member_rel: @pe_member_rel
                     }
          %>

        <% end %>

      <% end %>

    <% end %>

  <% end %>

