
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="alert alert-success" role="alert">
        <% if @pe_member_rel.finished %>
          La evaluación ha finalizado
        <% else %>
          Usted ha finalizado la definición
        <% end %>
      </div>

      <% pe_element_1st = pe_evaluation.pe_elements.first %>

      <table class="table table-bordered table-hover">

        <thead>

          <tr>
            <th width="1%"></th>
            <th><%= pe_element_1st.name %></th>
            <th>Peso</th>
            <th>Meta</th>
            <th style="border-right: 0px;">Unidad</th>
            <th style="border-left: 0px;">

            </th>
            <th style="border-left: 0px;">

            </th>
          </tr>

        </thead>

        <tbody>

          <% num_1st_level = 1 %>

          <% pe_evaluation.pe_questions_by_pe_member_1st_level(@pe_member_evaluated, @pe_member_evaluator, nil, nil).each_with_index do |pe_question_1st_level| %>

            <tr>
              <td>
                <%= num_1st_level %>
              </td>
              <td>

                <% if pe_question_1st_level.kpi_indicator %>
                  <span class="label label-success">KPI</span>&nbsp;
                <% end %>

                <% if pe_question_1st_level.pe_element.display_name %>
                  <%= pe_question_1st_level.pe_element.name %>.
                <% end %>

                <% if pe_question_1st_level.pe_element.kpi_dashboard && pe_question_1st_level.kpi_indicator %>

                  <%= pe_question_1st_level.kpi_indicator.name %>

                <% else %>

                  <%= pe_question_1st_level.description.html_safe %>

                <% end %>

                <% if pe_question_1st_level.pe_element.allow_note && !pe_question_1st_level.note.blank? %>

                  <%= render partial: 'pe_processes/pe_question_note',
                             locals: {
                                 pe_question: pe_question_1st_level
                             }
                  %>

                <% end %>

              </td>
              <td>
                <%= number_with_precision(pe_question_1st_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

              </td>
              <td style="border-right: 0px;">

                <%= render partial: 'pe_processes/indicator_goal_temp',
                           locals: {
                               pe_question: pe_question_1st_level
                           }
                %>

              </td>
              <td style="border-right: 0px;">
                <% if pe_question_1st_level.pe_element.kpi_dashboard && pe_question_1st_level.kpi_indicator %>
                  <%= pe_question_1st_level.kpi_indicator.unit %>
                <% else %>
                  <%= pe_question_1st_level.indicator_unit %>
                <% end %>
              </td>

              <td style="border-left: 0px;">
                <% if pe_evaluation.allow_list_individual_comments_def(@pe_rel) && pe_element_1st.allows_individual_comments %>

                  <a role="button" data-toggle="collapse" href="#list_comments_<%= pe_question_1st_level.id %>" aria-expanded="false" aria-controls="collapseExample">
                    <% if pe_question_1st_level.pe_question_comments_by_pe_member_rels(@pe_member_rels_comments).size > 0 %>
                      <i class="fa fa-comment" aria-hidden="true"></i>
                    <% else %>
                      <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <% end %>
                  </a>

                <% end %>
              </td>

              <td>
                <% if pe_evaluation.allow_list_action_plan_def(@pe_rel ? @pe_rel.rel_id : nil, @pe_member_evaluator, @pe_member_evaluated) && pe_element_1st.allow_action_plan? %>

                  <a role="button" data-toggle="collapse" href="#view_action_plan_<%= pe_question_1st_level.id %>" aria-expanded="false" aria-controls="collapseExample">
                    <% if pe_question_1st_level.pe_question_activities.size > 0 %>
                      <span class="fa-stack">
                        <i class="fa fa-file fa-stack-1x" aria-hidden="true"></i>
                        <i class="fa-stack-1x" style="color: #fff; margin-top: .2em;font-size: .5em;">PA</i>
                      </span>
                    <% else %>
                      <span class="fa-stack">
                        <i class="fa fa-file-o fa-stack-1x" aria-hidden="true"></i>
                        <i class="fa-stack-1x" style="margin-top: .2em;font-size: .5em;">PA</i>
                      </span>
                    <% end %>
                  </a>

                <% end %>
              </td>

            </tr>

            <% if pe_evaluation.allow_list_action_plan_def(@pe_rel ? @pe_rel.rel_id : nil, @pe_member_evaluator, @pe_member_evaluated) && pe_element_1st.allow_action_plan? %>
  
              <%= render partial: 'pe_definition_by_user/action_plan_table',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_question: pe_question_1st_level,
                             pe_element: pe_element_1st,
                             pe_member_evaluated: @pe_member_evaluated,
                             pe_member_evaluator: @pe_member_evaluator,
                             pe_rel: @pe_rel,
                             read_only: true
                         }
              %>
  
            <% end %>

            <% if pe_evaluation.allow_list_individual_comments_def(@pe_rel) && pe_element_1st.allows_individual_comments %>
  
              <%= render partial: 'pe_definition_by_user/individual_comments_table',
                         locals: {
                             pe_evaluation: pe_evaluation,
                             pe_question: pe_question_1st_level,
                             pe_element: pe_element_1st,
                             pe_member_evaluated: @pe_member_evaluated,
                             pe_member_rel: @pe_member_rel,
                             pe_member_rels_comments: @pe_member_rels_comments
                         }
              %>
  
            <% end %>

            <% num_1st_level += 1 %>

          <% end %>


        </tbody>

      </table>


    </div>


  </div>


  <% if pe_evaluation.allow_create_individual_comment_def(@pe_rel) %>

    <% unless @pe_member_evaluated.step_assessment? || @pe_member_rel.finished %>

      <% pe_evaluation.pe_questions_by_pe_member_all_levels(@pe_member_evaluated, @pe_member_evaluator, nil, nil).each_with_index do |pe_question| %>

        <% if pe_question.pe_element.allows_individual_comments? %>

          <%= render partial: 'pe_definition_by_user/new_individual_comment',
                     locals: {
                         pe_evaluation: pe_evaluation,
                         pe_question: pe_question,
                         pe_question_comment: @pe_question_comment,
                         pe_member_rel: @pe_member_rel
                     }
          %>

        <% end %>

      <% end %>

    <% end %>

  <% end %>

