<div class="modal fade" id="new_individual_comment_<%= pe_question.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <%= form_for pe_question_comment, url: pe_question_comments_create_from_assessment_path(pe_question, pe_member_rel,'d'), remote: true, html: {method: :post, class: 'form-horizontal', role: 'form', id: 'new_pe_question_comment_'+pe_question.id.to_s} do |f| %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><strong>Nuevo comentario</strong></h4>
        </div>

        <div class="modal-body">

          <div class="row">
            <div class="col-md-3 text-right">
              <%= pe_question.pe_element.name %>
            </div>
            <div class="col-md-9">
              <%= pe_question.description.html_safe %>
            </div>
          </div>

          <br>

          <div class="form-group <%= field_with_errors f, :comment %>">

            <%= f.label :comment, 'Comentario', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_area :comment, class: 'form-control', rows: '3', id: 'new_pe_question_comment_text_'+pe_question.id.to_s %>

              <script type="text/javascript">
                $('#new_pe_question_comment_text_<%= pe_question.id.to_s %>').wysihtml5({
                  "font-styles": false,
                  "emphasis": false,
                  "lists": false,
                  "html": false,
                  "link": false,
                  "image": false,
                  "color": false
                });
              </script>

            </div>

          </div>

        </div>

        <div class="modal-footer">
          <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        </div>

        <script>

          $( document ).ready(function() {

            $("#new_pe_question_comment_<%= pe_question.id %>").on("ajax:success", function(e, data, status, xhr) {
              $("#new_pe_question_comment_text_<%= pe_question.id %>").val("");
              $("#new_individual_comment_<%= pe_question.id %>").modal('hide');

              var new_c_id = '';
              var new_c_comment = '';

              $.each( data, function( key, val ) {
                if(key=="id"){
                  new_c_id = val;
                }else if(key=="comment"){
                  new_c_comment = val;
                }
              });

              new_item = "<tr id='pe_question_comment_item_"+new_c_id+"'>";
              new_item += "<td>"+new_c_comment+"</td>";
              new_item += "<td><%= (localize lms_time, format: :day_snmonth_year) %></td>";
              <% if pe_evaluation.def_allow_individual_comments_with_boss %>
              new_item += "<td><%= user_connected.apellidos %>, <%= user_connected.nombre %></td>";
              <% end %>
              new_item += "<td><a href='#' id='pe_question_comment_item_link_"+new_c_id+"' >Eliminar</a></td>";
              new_item += "</tr>";

              $("#pe_question_comment_items_<%= pe_question.id %>").append(new_item);

              $('#pe_question_comment_item_link_'+new_c_id).click(function( event ) {

                if(confirm('¿Está seguro de eliminar el comentario?')){

                  $.ajax({
                    type: 'GET',
                    url: '/pe/pe_question_comment/destroy/'+new_c_id+'/a',
                    complete: function() {
                      $("#pe_question_comment_item_"+new_c_id).remove();
                      $("#delete_pe_question_message_ok_<%= pe_question.id %>").show().delay(5000).fadeOut(3000);
                    }
                  });
                }

              });

              $("#new_pe_question_message_ok_<%= pe_question.id %>").show().delay(5000).fadeOut(3000);

            }).on("ajax:error", function(e, xhr, status, error) {
              alert("Se produjo un error guardando el comentario: No puede ser vacío");
            });

          });

        </script>

      <% end %>

    </div>

  </div>
</div>