
<% pe_group = nil %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = @pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>

    <div class="panel panel-default">
    <div class="panel-body">

    <table class="table table-bordered">

      <% pe_element_1st = pe_evaluation.pe_elements.first %>

      <thead>

        <tr>
          <th></th>
          <th><%= pe_element_1st.name %></th>
          <th>Peso</th>
          <th>Meta</th>
          <th>Unidad</th>
        </tr>

      </thead>

      <tbody>

        <% num_1st_level = 1 %>
        <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, nil, pe_group, @pe_rel).each do |pe_question_1st_level| %>

          <tr>
            <td>
              <%= num_1st_level %>
            </td>
            <td>

              <% if pe_question_1st_level.pe_element.kpi_dashboard && pe_question_1st_level.kpi_indicator %>
                <span class="label label-success">KPI</span>&nbsp;
              <% end %>


              <% if pe_question_1st_level.pe_element.display_name %>
                <%= pe_question_1st_level.pe_element.name %>.
              <% end %>


              <% if pe_question_1st_level.pe_element.kpi_dashboard && pe_question_1st_level.kpi_indicator %>

                <%= pe_question_1st_level.kpi_indicator.name %>

              <% else %>

                <%= pe_question_1st_level.description.html_safe %>

              <% end %>



            </td>
            <td>
              <%= number_with_precision(pe_question_1st_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
            </td>
            <td>

              <%= render partial: 'pe_processes/indicator_goal_temp',
                         locals: {
                             pe_question: pe_question_1st_level
                         }
              %>

            </td>
            <td>
              <% if pe_question_1st_level.pe_element.kpi_dashboard && pe_question_1st_level.kpi_indicator %>
                <%= pe_question_1st_level.kpi_indicator.unit %>
              <% else %>
                <%= pe_question_1st_level.indicator_unit %>
              <% end %>
            </td>
          </tr>
          <% num_1st_level += 1 %>
        <% end %>

      </tbody>

    </table>

    </div>


    </div>
