
<% pe_group = nil %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = @pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>

  <div class="panel panel-default">
    <div class="panel-body">

      <% index_p_aux = 0 %>

      <table class="table table-bordered">

        <thead>

          <tr>

            <th>#</th>

            <% pe_element = pe_evaluation.pe_elements.first %>

            <% if pe_element.simple %>

              <th><%= pe_element.name %></th>

            <% else %>

              <% pe_element.pe_element_descriptions.each do |pe_element_description| %>

                <th>
                  <%= pe_element_description.name %>
                </th>

              <% end %>

            <% end %>

            <th></th>


          </tr>

        </thead>

        <tbody>

          <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).each_with_index do |pe_question, index_p| %>

            <tr>

              <% if pe_question.pe_element.visible %>

                <td>
                  <%= index_p+1 %>
                </td>

                <% if pe_question.pe_element.simple? %>
                  <td>
                    <%= pe_question.description.html_safe %>
                  </td>
                <% else %>

                  <% pe_element.pe_element_descriptions.each do |pe_element_description| %>

                    <td>

                      <% pe_question_description = pe_question.pe_question_descriptions.where('pe_element_description_id = ?', pe_element_description.id).first %>

                      <%= pe_question_description.description.html_safe if pe_question_description %>

                    </td>

                  <% end %>


                <% end %>

              <% end %>

            </tr>

          <% end %>

        </tbody>

      </table>

    </div>
  </div>