
<% pe_group = nil %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = @pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>

    <div class="panel panel-default">
    <div class="panel-body">

    <% index_p_aux = 0 %>

    <table class="table table-bordered table-hover">

    <thead></thead>


      <% pe_element_1st = pe_evaluation.pe_elements.first %>
      <% pe_element_2nd = pe_evaluation.pe_elements.second %>

      <% num_1st_level = 1 %>

      <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).each_with_index do |pe_question_1st_level| %>

        <thead>

        <tr>
          <th style="background-color: #dddddd; vertical-align: middle;">
            <%= num_1st_level %>
          </th>
          <th  style="background-color: #dddddd; vertical-align: middle;">
            <% if pe_question_1st_level.pe_element.display_name %>
              <%= pe_question_1st_level.pe_element.name %>.
            <% end %>
            <%= pe_question_1st_level.description.html_safe %>
          </th>
          <th style="background-color: #dddddd;" width="10%" id="weight_1st_level_<%= pe_question_1st_level.id %>">
            <% if pe_element_1st.assessed %>
              <%= number_with_precision(pe_question_1st_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
            <% end %>
          </th>
          <th style="background-color: #dddddd;">

          </th>
        </tr>

        <tr>
          <th width="1%"></th>
          <th><%= pe_evaluation.pe_elements.last.name %></th>
          <% if $current_domain == 'misecurity-training8' %>
            <th>Potencia</th>
            <th>Apalancamiento</th>
          <% end %>
          <th width="5%">Peso</th>
          <th width="10%">Meta</th>
        </tr>

        </thead>

        <tbody>

        <% num_2nd_level = 1 %>
        <% sum_pesos_elementos_2nd_level_tmp = 0 %>
        <% pe_evaluation.pe_questions_by_question_ready(pe_question_1st_level).each do |pe_question_2nd_level| %>

          <% sum_pesos_elementos_2nd_level_tmp += pe_question_2nd_level.weight %>

          <tr>
            <td>
              <%= num_1st_level %>.<%= num_2nd_level %>
            </td>
            <td>

              <% if pe_question_2nd_level.pe_element.kpi_dashboard && pe_question_2nd_level.kpi_indicator %>
                <span class="label label-success">KPI</span>&nbsp;
              <% end %>

              <% if pe_question_2nd_level.pe_element.display_name %>
                <%= pe_question_2nd_level.pe_element.name %>.
              <% end %>

              <% if pe_question_2nd_level.pe_element.kpi_dashboard && pe_question_2nd_level.kpi_indicator %>

                <%= pe_question_2nd_level.kpi_indicator.name %>

              <% else %>

                <%= pe_question_2nd_level.description.html_safe %>

              <% end %>

              <% if pe_question_2nd_level.pe_element.allow_note && !pe_question_2nd_level.note.blank? %>

                <%= render partial: 'pe_processes/pe_question_note',
                           locals: {
                               pe_question: pe_question_2nd_level
                           }
                %>

              <% end %>

            </td>
            <% if $current_domain == 'misecurity-training8' %>
              <td>
                <% if pe_question_2nd_level.pe_element.kpi_dashboard && pe_question_2nd_level.kpi_indicator %>
                  <%= pe_question_2nd_level.kpi_indicator.power %>
                <% end %>
              </td>
              <td>
                <% if pe_question_2nd_level.pe_element.kpi_dashboard && pe_question_2nd_level.kpi_indicator %>
                  <%= pe_question_2nd_level.kpi_indicator.leverage %>
                <% end %>
              </td>
            <% end %>
            <td>
              <%= number_with_precision(pe_question_2nd_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
            </td>
            <td>

              <%= render partial: 'pe_processes/indicator_goal_temp',
                         locals: {
                             pe_question: pe_question_2nd_level
                         }
              %>

            </td>

          </tr>

          <% num_2nd_level += 1 %>
        <% end %>

        <% unless pe_element_1st.assessed %>

          <% if pe_element_1st.display_weight %>

            <% suma_temp = number_with_precision(sum_pesos_elementos_2nd_level_tmp, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>

            <script>
              $( document ).ready(function() {
                $('#weight_1st_level_<%= pe_question_1st_level.id %>').append('<%= suma_temp %>%');
              });
            </script>

          <% end %>

        <% end %>

        </tbody>


        <% num_1st_level += 1 %>

      <% end %>



    </table>

    </div>


    </div>
