
<div class="row">

  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> Volver a la lista de '+@pe_evaluation.name.downcase).html_safe, pe_def_by_user_show_path(@pe_evaluation, @pe_member_rel), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">

    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Editar <%= @pe_element.name.downcase %>
    </h1>

  </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% if @pe_process.of_persons? %>

      <%= render partial: 'shared/user_profile_mini',
                 locals: {
                   user: @pe_member_evaluated.user,
                   company: @company,
                   ocultar_historial: @pe_member_rel.pe_rel.rel_name == :jefe ? false : true,
                   titulo: 'Perfil del Evaluado',
                   is_boss: @pe_member_rel.pe_rel.rel_name == :jefe ? true : false

                 }
      %>

    <% else %>

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12">
              <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-cubes"></i>
                Área evaluada
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member_evaluated.pe_area.name %></span></h3>
            </div>
          </div>

          <br>

          <div class="row">

            <div class="col-md-3 text-center">

              <% if @pe_member_evaluated.user.foto %>
                <img src="https://<%=request.host%>/storage/<%=company_codigo%>/fotos_usuarios/<%=@pe_member_evaluated.user.foto%>" class="img-thumbnail user-foto">
              <% else %>
                <img src="/assets/default_user.png" class="img-thumbnail user-foto">

              <% end %>

            </div>
            <div class="col-md-9">

              <div class="row">
                <div class="col-md-12">
                  <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member_evaluated.user.nombre %> <%= @pe_member_evaluated.user.apellidos %></span></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 ">
                  <a><em><%= @pe_member_evaluated.user.email %></em></a>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <%= render 'form' %>

  </div>
</div>