
<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver al cuadro resumen'.html_safe, pe_def_by_user_people_list_path(@pe_evaluation), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">

    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      <%= @pe_process.step_definition_by_users_alias %> <%= @pe_evaluation.name.downcase %>
    </h1>

  </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% if @pe_process.of_persons? %>

      <%= render partial: 'shared/user_profile_mini',
                 locals: {
                     user: @pe_member_evaluated.user,
                     company: @company,
                     ocultar_historial: @pe_member_rel.pe_rel.rel_name == :jefe ? false : true,
                     titulo: 'Perfil del Evaluado',
                     details_for_boss_from_pe: true,
                     is_boss: @pe_member_rel.pe_rel.rel_name == :jefe ? true : false

                 }
      %>

    <% else %>

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12">
              <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-cubes"></i>
                Área evaluada
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member_evaluated.pe_area.name %></span></h3>
            </div>
          </div>

          <br>

          <div class="row">

            <div class="col-md-3 text-center">

              <% if @pe_member_evaluated.user.foto %>
                <img src="https://<%=request.host%>/storage/<%=company_codigo%>/fotos_usuarios/<%=@pe_member_evaluated.user.foto%>" class="img-thumbnail user-foto">
              <% else %>
                <img src="/assets/default_user.png" class="img-thumbnail user-foto">

              <% end %>

            </div>
            <div class="col-md-9">

              <div class="row">
                <div class="col-md-12">
                  <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member_evaluated.user.nombre %> <%= @pe_member_evaluated.user.apellidos %></span></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 ">
                  <a><em><%= @pe_member_evaluated.user.email %></em></a>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <% if @pe_evaluation.allow_definition_by_users? && @pe_evaluation.pe_evaluation_displayed_def_by_users.size > 0 %>

      <div class="text-center">

        <ul class="nav nav-pills nav-pills-<%= $current_domain %>" style="display: inline-block;">

          <li class="<%= 'active' unless params[:pe_evaluation_focus_id] %>">
            <a href="#tab_definir" data-toggle="tab"><%= @pe_process.step_definition_by_users_alias %> <%= @pe_evaluation.name.downcase %></a>
          </li>

          <% @pe_evaluation.pe_evaluation_displayed_def_by_users.each_with_index do |displayed_evaluation, index_displayed_evaluation| %>

            <li class="<%= 'active' if params[:pe_evaluation_focus_id] && params[:pe_evaluation_focus_id].to_i == displayed_evaluation.pe_displayed_evaluation.id %>">
              <a href="#tab_displayed_evaluation_<%= displayed_evaluation.pe_displayed_evaluation.id %>" data-toggle="tab"><%= displayed_evaluation.pe_displayed_evaluation.name %></a>
            </li>

          <% end %>

        </ul>

      </div>

    <% end %>

    <% if @pe_evaluation.allow_definition_by_users? && @pe_evaluation.pe_evaluation_displayed_def_by_users.size > 0 %>

      <div class="tab-content">

        <% @pe_evaluation.pe_evaluation_displayed_def_by_users.each_with_index do |displayed_evaluation, index_displayed_evaluation| %>

          <% pe_displayed_evaluation = displayed_evaluation.pe_displayed_evaluation %>

          <%

            pe_member_rels_comments = Array.new
            pe_member_rels_comments.push @pe_member_rel

            if @pe_rel.rel == 1
              pe_rel_aux = @pe_process.pe_rel_by_id 0
              pe_member_rels_comments += @pe_member_evaluated.pe_member_rels_is_evaluated_as_pe_rel(pe_rel_aux) if pe_rel_aux
            elsif @pe_rel.rel == 0 && ((pe_displayed_evaluation.def_allow_individual_comments_by_boss && pe_displayed_evaluation.def_allow_watch_individual_comments_by_boss) || pe_displayed_evaluation.def_allow_individual_comments_with_boss)
              pe_rel_aux = @pe_process.pe_rel_by_id 1
              pe_member_rels_comments += @pe_member_evaluated.pe_member_rels_is_evaluated_as_pe_rel(pe_rel_aux) if pe_rel_aux
            end

          %>

          <div class="tab-pane <%= 'active' if params[:pe_evaluation_focus_id] && params[:pe_evaluation_focus_id].to_i == displayed_evaluation.pe_displayed_evaluation.id %>" id="tab_displayed_evaluation_<%= pe_displayed_evaluation.id %>">

            <% if pe_displayed_evaluation.assessment_layout == 0 || pe_displayed_evaluation.assessment_layout == 4 || pe_displayed_evaluation.assessment_layout == 5 %>

              <!-- estandar -->

              <% if pe_displayed_evaluation.pe_elements.size == 1 %>

                <%= render partial: 'pe_definition_by_user/read_standard_1_element',
                           locals: {
                               pe_evaluation: pe_displayed_evaluation,
                               from_step: 'd',
                               from_another_evaluation: @pe_evaluation,
                               pe_member_rels_comments: pe_member_rels_comments

                           }
                %>

              <% elsif pe_displayed_evaluation.pe_elements.size == 2 %>

                <%= render partial: 'pe_definition_by_user/read_standard_2_elements',
                           locals: {
                               pe_evaluation: pe_displayed_evaluation,
                               from_step: 'd',
                               from_another_evaluation: @pe_evaluation,
                               pe_member_rels_comments: pe_member_rels_comments
                           }
                %>

              <% end %>

            <% elsif pe_displayed_evaluation.assessment_layout == 1 %>

              <!-- objetivos_e_indicadores -->

            <% elsif pe_displayed_evaluation.assessment_layout == 2 %>

              <!-- grid_1_elemento -->

            <% elsif pe_displayed_evaluation.assessment_layout == 3 %>

              <!-- grid_2_elementos -->

            <% end %>

          </div>

        <% end %>

        <div class="tab-pane <%= 'active' unless params[:pe_evaluation_focus_id] %>" id="tab_definir">

    <% end %>

    <% if @pe_evaluation.assessment_layout == 0 %>

      <!-- estandar -->

      <% if @pe_evaluation.pe_elements.size == 1 %>

      <% elsif @pe_evaluation.pe_elements.size == 2 %>

      <% end %>

    <% elsif @pe_evaluation.assessment_layout == 1 %>

      <!-- objetivos_e_indicadores -->

      <% if @pe_evaluation.pe_elements.size == 3 %>

        <!-- pilar obj ind -->

        <%= render partial: 'pe_definition_by_user/clone_pilar_goal_ind',
                   locals: {
                       pe_evaluation: @pe_evaluation
                   }
        %>

      <% elsif @pe_evaluation.pe_elements.size == 2 %>

        <!-- obj ind -->

        <%= render partial: 'pe_definition_by_user/clone_goal_ind',
                   locals: {
                       pe_evaluation: @pe_evaluation
                   }
        %>

      <% elsif @pe_evaluation.pe_elements.size == 1 %>

        <!-- ind -->


        <%= render partial: 'pe_definition_by_user/clone_ind',
                   locals: {
                       pe_evaluation: @pe_evaluation
                   }
        %>

      <% end %>

    <% end %>

    <% if @pe_evaluation.allow_definition_by_users? && @pe_evaluation.pe_evaluation_displayed_def_by_users.size > 0 %>

      </div>

      </div>

    <% end %>

  </div>
</div>

<%= form_tag pe_def_by_user_clone_def_path(@pe_evaluation, @pe_member_rel) do %>

  <script type="text/javascript">
    function select_all(){

      $('.check_item').each(function(){

        if($('#check_all_items').is(':checked')){
          $(this).prop('checked', true);
        }else{
          $(this).prop('checked', false);
        }

      });

    }

    function check_master(){

      var checked_all = true;

      $('.check_item').each(function(){
        if(!$(this).is(':checked')){
          checked_all = false;
        }
      });
      if(checked_all){
        $('#check_all_items').prop('checked', true);
      }else{
        $('#check_all_items').prop('checked', false);
      }


    }

  </script>

  <div class="row">

    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default">

        <div class="panel-body">

          <legend>Seleccione a quienes copiará la definición</legend>

          <div class="alert alert-danger">
            La información previamente definida de las personas seleccionadas será eliminada y reemplazada por completo.
          </div>

          <table class="table table-hover table-bordered table-striped">

            <thead>

            <tr>
              <th>
                <input id="check_all_items" type="checkbox" checked="checked" onchange="select_all();">
              </th>
              <th>#</th>

              <% if @pe_process.of_persons %>

                <th><%= alias_username %></th>
                <th>Apellidos</th>
                <th>Nombre</th>

              <% else %>

                <th>Área</th>
                <th>Responsable del área</th>

              <% end %>

              <th>Definición</th>

            </tr>

            </thead>
            <tbody>

              <% index = 0 %>

              <% @pe_member_evaluator.pe_member_rels_is_evaluator_as_pe_rel_ordered(@pe_rel).each do |pe_member_rel_evaluated| %>

                <% if pe_member_rel_evaluated.id != @pe_member_rel.id && pe_member_rel_evaluated.pe_member_evaluated.has_to_be_assessed_in_evaluation(@pe_evaluation) %>

                  <%# status_def = @pe_evaluation.definition_by_users_status_of_pe_member_evaluated pe_member_rel_evaluated.pe_member_evaluated %>

                  <% status_def, step_label, step_label_smart_table = @pe_evaluation.pe_member_definition_by_users_status pe_member_rel_evaluated.pe_member_evaluated %>

                  <%# status, step_label, step_label_smart_table = @pe_evaluation.pe_member_definition_by_users_status pe_member_rel_evaluated.pe_member_evaluated %>

                  <tr>
                    <td>

                      <% if status_def == 'not_initiated' || status_def == 'not_confirmed' || status_def == 'in_definition' %>

                        <%= check_box('list_item_id', pe_member_rel_evaluated.id, {class: 'check_item', checked: 'checked', onchange: 'check_master()'}, pe_member_rel_evaluated.id.to_s, '0')%>

                      <% end %>

                    </td>
                    <td>
                      <%= index += 1 %>
                    </td>

                    <% if @pe_process.of_persons %>

                      <td><%= pe_member_rel_evaluated.pe_member_evaluated.user.codigo %></td>
                      <td>
                        <%= pe_member_rel_evaluated.pe_member_evaluated.user.apellidos %>
                      </td>
                      <td>
                        <%= pe_member_rel_evaluated.pe_member_evaluated.user.nombre %>
                      </td>
                    <% else %>
                      <td>
                        <% if pe_member_rel_evaluated.pe_member_evaluated.pe_area %>
                          <%= pe_member_rel_evaluated.pe_member_evaluated.pe_area.name %>
                        <% end %>
                      </td>
                      <td>
                        <%= pe_member_rel_evaluated.pe_member_evaluated.user.apellidos %>,
                        <%= pe_member_rel_evaluated.pe_member_evaluated.user.nombre %>
                      </td>
                    <% end %>

                    <td>

                      <%= step_label.html_safe %>

                    </td>


                  </tr>

                <% end %>

              <% end %>

            </tbody>
          </table>

        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="Copiar definición">
          </div>
        </div>

      </div>

    </div>

  </div>

<% end %>