<%= form_for @banner, html: {class: 'form-horizontal'} do |f| %>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos del banner</legend>

        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group <%= field_with_errors f, :position %>">

          <%= f.label :position, 'Orden', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.number_field :position, class: 'form-control' %>

          </div>

        </div>

        <div class="form-group <%= field_with_errors f, :name %>">

          <%= f.label :name, 'Nombre', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.text_field :name, class: 'form-control' %>

          </div>

        </div>

        <div class="form-group <%= field_with_errors f, :crypted_name %>">

          <%= f.label :crypted_name, 'Ruta', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.text_field :crypted_name, class: 'form-control', :disabled => true %>

          </div>

        </div>

        <% display_method_array = Banner.alternative_display_method.each_with_index.map { |display_method, index| [display_method, index] } %>

        <div class="form-group <%= field_with_errors f, :display_method %>">

          <%= f.label :display_method, 'Método de Despliegue', class: 'col-md-3 control-label' %>

          <div class="col-md-9">
            <%= f.select(:display_method, options_for_select(display_method_array, @banner.display_method), {}, {onchange: 'toggle_banner_link();', class: 'form-control'}) %>

            <script>
              function toggle_banner_link() {

                if ($('#banner_display_method').val() == 2 || $('#banner_display_method').val() == 3) {
                  $('#banner_link_container').show();
                } else {
                  $('#banner_link_container').hide();
                }

                if ($('#banner_display_method').val() == 1) {
                  $('#banner_popover_active_container').show();
                  $('#banner_display_content').show();
                } else {
                  $('#banner_popover_active_container').hide();
                  $('#banner_display_content').hide();
                }
              }

              $(document).ready(function () {
                toggle_banner_link();
              });
            </script>


          </div>

        </div>

        <% display_content_array = Banner.alternative_display_content.each_with_index.map { |display_content, index| [display_content, index] } %>
        <div class="form-group <%= field_with_errors f, :display_content %>" id="banner_display_content">


          <%= f.label :display_content, 'Tipo de contenido', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.select(:display_content, options_for_select(display_content_array, @banner.display_content), {}, {class: 'form-control'}) %>

          </div>
        </div>

        <% location_array = Banner.alternative_location.each_with_index.map { |location, index| [location, index] } %>
        <div class="form-group <%= field_with_errors f, :location %>">

          <%= f.label :location, 'Dónde mostrar', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.select(:location, options_for_select(location_array, @banner.location), {}, {class: 'form-control'}) %>

          </div>
        </div>


        <div class="form-group">

          <div class="col-md-3 control-label">Mostrar a todos</div>
          <div class="col-md-9">

            <input type="checkbox" id="banner_todos" name="banner_todos" <%= 'checked=checked' if @mostrar_todos %> value="1" onchange="toggle_chars_filters();">
            <script>
              $('#banner_todos').bootstrapSwitch({
                onColor: 'success',
                onText: "Sí",
                offColor: 'danger',
                offText: "No"
              });

              function toggle_chars_filters() {

                if ($('#banner_todos').is(':checked')) {
                  $('#chars_filters_container').hide();
                } else {
                  $('#chars_filters_container').show();
                }
              }

              $(document).ready(function () {
                toggle_chars_filters();
              });

            </script>
            <%= render partial: 'characteristics/external_form_filter' %>
          </div>
        </div>

        <div class="form-group">

          <%= f.label :active, 'Banner activo', class: 'col-md-3 control-label' %>
          <% if @banner.crypted_name %>
              <div class="col-md-9">


                <%= f.check_box :active %>
                <script>
                  $('#banner_active').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No"
                  });
                </script>

              </div>
          <% else %>
              <div class="col-md-9">

                <%= f.label :active, 'No se puede activar el banner hasta subir una imagen', class: 'control-label' %>

              </div>
          <% end %>
        </div>

        <div id="banner_popover_active_container">

          <div class="form-group">

            <%= f.label :complement_visible, 'Popover activo', class: 'col-md-3 control-label' %>
            <% if @banner.crypted_name %>
                <div class="col-md-9">

                  <%= f.check_box :complement_visible %>
                  <script>
                    $('#banner_complement_visible').bootstrapSwitch({
                      onColor: 'success',
                      onText: "Sí",
                      offColor: 'danger',
                      offText: "No"
                    });
                  </script>

                </div>
            <% else %>
                <div class="col-md-9">

                  <%= f.label :active, 'No se puede activar el banner hasta subir una imagen', class: 'control-label' %>

                </div>
            <% end %>
          </div>

          <div class="form-group">

            <%= f.label :open_at_login, 'Abrir popover al logearse', class: 'col-md-3 control-label' %>
            <% if @banner.crypted_name %>
              <div class="col-md-9">

                <%= f.check_box :open_at_login %>
                <script>
                  $('#banner_open_at_login').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No"
                  });
                </script>

              </div>
            <% else %>
              <div class="col-md-9">

                <%= f.label :active, 'No se puede activar el banner hasta subir una imagen', class: 'control-label' %>

              </div>
            <% end %>
          </div>

        </div>

        <div class="form-group <%= field_with_errors f, :link %>" id="banner_link_container">

          <%= f.label :link, 'Link', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.text_field :link, class: 'form-control' %>

          </div>
        </div>


      </div>

      <div class="panel-footer clearfix">

        <div class="pull-right">

          <%= f.submit 'Guardar', class: 'btn btn-primary' %>

        </div>

      </div>
    </div>
<% end %>