<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de banners'.html_safe, banners_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-picture-o"></i>
      Banners
      <span>> Subir imagen de banner </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'show' %>

    <div class="panel panel-default">
      <div class="panel-body">

        <%= form_for banners_upload_image_path(@banner), html: {class: 'form-horizontal', multipart: true} do |f| %>

            <div class="row">
              <div class="col-md-3">
                <strong>Archivo JPG</strong>
              </div>
              <div class="col-md-9">
                <%= file_field 'upload', 'datafile' %>
              </div>
            </div>

            <div class="form-group">

              <div class="col-md-10" align="right">

                <%= f.submit 'Subir', class: 'btn btn-primary'%>

              </div>

            </div>

        <% end %>


      </div>
    </div>



  </div>
</div>