<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.bp_seasons.backlist.seasons_list')).html_safe, bp_groups_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_seasons.legends.season_info') %>
      <span>> <%= t('views.bp_seasons.flow_process.edit') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'bp_season_edit_form',
               :locals => {:season => @bp_season} %>

  </div>
</div>