<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bp_season.name %>
</p>

<p>
  <b>Description:</b>
  <%= @bp_season.description %>
</p>


<%= link_to 'Edit', edit_bp_season_path(@bp_season) %> |
<%= link_to 'Back', bp_seasons_path %>
