<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @program_instance.name %>
</p>

<p>
  <b>Program:</b>
  <%= @program_instance.program %>
</p>

<p>
  <b>From date:</b>
  <%= @program_instance.from_date %>
</p>

<p>
  <b>To date:</b>
  <%= @program_instance.to_date %>
</p>


<%= link_to 'Edit', edit_program_instance_path(@program_instance) %> |
<%= link_to 'Back', program_instances_path %>
