<legend class="text-center">Carga masiva de fotos de usuarios</legend>

<% if @fotos_error && @fotos_error.length > 0 %>

  <table class="table table-striped table-hover table-condensed table-bordered">

    <thead>
    <tr>
      <th>Archivo</th>
      <th>Errores</th>

    </tr>
    </thead>

    <tbody>

    <% @fotos_error.each_with_index do |f,index| %>

      <tr>
        <td><%= f %></td>
        <td>

            <li class="text-danger"><%= @fotos_error_messages[index] %></li>

        </td>
      </tr>

    <% end %>

    </tbody>

  </table>



<% end %>

<% if @total_fotos_cargadas %>

  <div class="alert alert-success">Se han cargado <%= @total_fotos_cargadas %> fotos </div>

<% end %>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for users_carga_masiva_fotos_path, html: {class: 'form-horizontal', multipart: true} do |f| %>

      <div class="form-group">

        <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

        <div class="col-md-10">

          <%= file_field 'upload', 'datafile' %>

        </div>

      </div>

      <div class="form-group">


        <div class="col-md-10">

          <li>El formato de archivo debe ser zip

          <li>El archivo zip debe contener todas las fotos en la raíz. Las fotos no deben estar dentro de ningún directorio.

          <li>Las fotos de los usuarios no son eliminadas, sólo se actualizan aquellas existentes en el archivo zip

          <li>El nombre de cada foto debe ser igual al código del usuario correspondiente: 40283256.jpg -> 40283256 es el código de usuario

          <li>Las fotos deben estar en formato jpg (extensión jpg) y no pesar más de 70kb

        </div>

      </div>


      <div class="form-group">

        <div class="col-md-10">

          <%= f.submit 'Subir', class: 'btn btn-primary' %>

        </div>

      </div>

    <% end %>


  </div>
</div>

