<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-user"></i>
      Gestión de usuarios
      <span>> Carga masiva </span>
    </h1>
  </div>
</div>


<% if @lineas_error && @lineas_error.length > 0 %>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <div class="panel panel-default">
          <div class="panel-body">

            <table class="table table-striped table-hover table-condensed table-bordered">

                <thead>
                    <tr>
                      <th>Línea</th>
                      <th>Errores</th>
                      <th>Detalle</th>

                    </tr>
                </thead>

                <tbody>

                    <% @lineas_error.each_with_index do |l,index| %>

                      <tr>
                        <td><%= l %></td>
                        <td>
                          <% @lineas_error_messages[index].each do |error| %>
                            <li class="text-danger"><%= error %></li>
                          <% end %>
                        </td>
                        <td><%= @lineas_error_detalle[index] %></td>
                      </tr>

                    <% end %>

                </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>


<% end %>


<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Formato de archivo (Texto)</legend>

        <strong>Formato:</strong> codigo_usuario;nombre;apellidos;clave;correo;activo/inactivo;{nombre_característica_x:valor_característica_x;nombre_característica_y:valor_característica_y,...}
        <br>
        <br>
        <strong>Ejemplo:</strong>
        <br><br>
        43376592;Jorge;Ruiz Rabines;dhf7fhT;jorge.ruiz@exa.pe;activo;{Sucursal:Lima;Puesto:Gerente;Convocatoria:2008-09}<br>
        84736232;Alejandro; Ruiz Robles;y7t5r4e;alejandro@apple.com;activo;{Puesto:CEO;Sucursal:California}<br>
        48365853;Sosy; Ruiz Rabines;*;*;inactivo<br>
        00384936;Mara; Ruiz Rabines;fjie99fd;*;activo
        <br>
        <br>
        - Las posiciones 1,2,3 y 6 (codigo_usuario, nombre, apellidos y activo/inactivo) son obligatorias (siempre deben tener un valor)
        <br>
        <br>
        - Si en lugar de la clave (4ta posición) coloca un *, la clave no se actualizará
        <br>
        <br>
        - Si en lugar del correo (5ta posición) coloca un *, el correo no se actualizará
        <br>
        <br>
        - Las características no son obligatorias. Sólo se registrarán o actualizarán las características que aparecen en el archivo.
        <br>
        <br>
        - Las características deben haber sido creadas previamente en el menú Usuarios > Características de usuarios.
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <%= form_for users_carga_masiva_path, html: {class: 'form-horizontal', multipart: true} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Cargar usuarios</legend>

          <div class="form-group">

            <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= file_field 'upload', 'datafile' %>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :reemplazar_todo, 'Reemplazar lista actual', class: 'col-md-3 control-label'%>

            <div class="col-md-9">


                <%= check_box 'reemplazar_todo', 'yes', options = {}, '1', '0' %>
                <script>
                  $('#reemplazar_todo_yes').bootstrapSwitch({
                    onColor: 'danger',
                    onText: "<nobr>&nbsp;&nbsp;<i class='fa fa-eraser'></i> Sí &nbsp;&nbsp;</nobr>",
                    offColor: 'info',
                    offText: "<nobr>&nbsp;&nbsp;<i class='fa fa-refresh'></i> No &nbsp;&nbsp;</nobr>"
                  });
                </script>


              <br><br>
              <i class='fa fa-eraser'></i> Sí. Si selecciona esta opción, el sistema primero desactivará a todos
              los usuarios actuales y se actualizarán según se indica en
              el archivo que está adjuntando.
              <br><br>
              <i class='fa fa-refresh'></i> No. Si selecciona esta opción. Se actualizará únicamente la información del
              los usuarios existentes en el archivo
              que está adjuntando. El resto de usuarios que ya existían en la plataforma quedarán sin ser modificados.

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Subir', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>


  </div>
</div>

