<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a información del usuario'.html_safe, @user, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-user"></i>
      <%= @user.apellidos %>, <%= @user.nombre %>
      <span>> Editar usuario </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @user, html: {class: 'form-horizontal'} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Datos del usuario</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group <%=  field_with_errors f, :codigo %>">

            <%= f.label :codigo, 'Código de usuario', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :codigo, autofocus: 'autofocus', class: 'form-control' %>

            </div>

          </div>

          <div class="form-group <%=  field_with_errors f, :nombre %>">

            <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :nombre, class: 'form-control'  %>

            </div>

          </div>

          <% if @company.second_last_name %>

          <div class="form-group <%=  field_with_errors f, :apellidos %>">

            <%= f.label :last_name_1, 'Apellido paterno', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :last_name_1, class: 'form-control'  %>

            </div>

          </div>

          <div class="form-group <%=  field_with_errors f, :last_name_2 %>">

            <%= f.label :last_name_2, 'Apellido materno', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :last_name_2, class: 'form-control'  %>

            </div>

          </div>

          <% else %>

          <div class="form-group <%=  field_with_errors f, :apellidos %>">

            <%= f.label :apellidos, 'Apellidos', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :apellidos, class: 'form-control'  %>

            </div>

          </div>

          <% end %>

          <div class="form-group">

            <%= f.label :email, 'Correo electrónico', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :email, class: 'form-control'  %>

            </div>

          </div>

          <hr>

          <div class="form-group">

            <%= f.label :employee, 'Empleado', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :employee %>

              <script>

                $('#user_employee').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });

              </script>

            </div>

          </div>

          <hr>

          <div class="form-group">

            <%= f.label :password, 'Contraseña', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.password_field :password, class: 'form-control'  %>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :password_confirmation, 'Confirmación de contraseña', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.password_field :password_confirmation, class: 'form-control'  %>

            </div>

          </div>

          <hr>

          <div class="form-group">

            <%= f.label :requiere_cambio_pass, 'Requiere cambio de contraseña', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :requiere_cambio_pass %> La próxima vez que el usuario ingrese al sistema se le pedirá que cambie su contraseña.

            </div>

          </div>

          <hr>

          <div class="form-group">

            <%= f.label :jefe_capacitacion, 'Jefe de capacitación', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <div class="checkbox">
                <label>
                  <%= f.check_box :jefe_capacitacion %>
                </label>
              </div>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :jefe_biblioteca, 'Jefe de biblioteca', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <div class="checkbox">
                <label>
                  <%= f.check_box :jefe_biblioteca %>
                </label>
              </div>

            </div>

          </div>

          <hr>

          <div class="form-group">

            <%= f.label :activo, 'Activo', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <div class="checkbox">
                <label>
                  <%= f.check_box :activo %> Si no está activo no podrá acceder al sistema.
                </label>
              </div>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :perpetual_active, 'Activo perpetuo', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <div class="checkbox">
                <label>
                  <%= f.check_box :perpetual_active %> No será desactivado por el proceso en lote de HOC
                </label>
              </div>

            </div>

          </div>



        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Editar usuario', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>