<% if @user.requiere_cambio_pass && @company.texto_cambio_password %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= @company.texto_cambio_password.html_safe %>
    </div>
  </div>
  <br>

<% end %>


<div class="row">
  <div class="col-md-6 col-md-offset-3">



  	<%= form_for @user, url: user_change_pass_path, method: :put, html: {class: 'form-horizontal'} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend class="text-center">Cambiar contraseña</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group">

            <%= f.label :current_password, 'Contraseña actual', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.password_field :current_password, autofocus: 'autofocus', class: 'form-control' %>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :password, 'Nueva contraseña', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.password_field :password, class: 'form-control' %>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :password_confirmation, 'Confirmación de nueva contraseña', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.password_field :password_confirmation, class: 'form-control' %>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Cambiar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

		<% end %>

  </div>
</div>
