<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <legend class="text-center">Editar foto</legend>

    <div class="row">
      <div class="col-md-3">
        <strong>Código de usuario</strong>
      </div>
      <div class="col-md-9">
        <%= @user.codigo %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <strong>Nombre</strong>
      </div>
      <div class="col-md-9">
        <%= @user.nombre %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <strong>Apellidos</strong>
      </div>
      <div class="col-md-9">
        <%= @user.apellidos %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <strong>Correo electrónico</strong>
      </div>
      <div class="col-md-9">
        <%= @user.email %>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 form-box-<%= $current_domain %>">

    <%= form_for users_upload_foto_by_user_path(@user), html: {class: 'form-horizontal', multipart: true} do |f| %>

      <div class="form-group">

        <%= f.label :file, 'Foto', class: 'col-md-3 control-label'%>

        <div class="col-md-10">

          <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-new thumbnail" style="width: 100px; height: 100px;">

              <% if @user.foto %>
                <img src="<%= request.base_url %>/storage/<%=@company.codigo%>/fotos_usuarios/<%=@user.foto%>">
              <% else %>
                <img src="/assets/default_user.png">
              <% end %>

            </div>

            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 100px; max-height: 100px; line-height: 20px;"></div>
            <div>
              <span class="btn btn-file">
                <span class="fileupload-new">Seleccionar imagen</span>
                <span class="fileupload-exists">Cambiar imagen</span>
                <%= file_field 'upload', 'datafile' %>
                </span>

            </div>
          </div>

          <br>
          <i>
            Características de la foto:<br>
            <li>Debe tener un tamaño máximo de 70 kb
            <li>Sus dimensiones deben ser de 100px x 100px
            <li>Debe estar en formato jpg o jpeg
          </i>

        </div>


      </div>

      <div class="form-group">
        <label class="control-label">
          <%= link_to 'cancelar', user_profile_path %>
        </label>
        <div class="col-md-10">

          <%= f.submit 'Subir foto', class: 'btn btn-primary' %>

        </div>

      </div>

    <% end %>

  </div>

</div>