<h1 class="page-title txt-color-blueDark">
  <i class="fa fa-user"></i>
  Usuarios
  <span>> Buscar usuarios</span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">

    <legend>Buscar usuarios</legend>

    <%= form_for @user, url: users_search_users_path, method: :post do |f| %>

      <div class="row">

        <div class="col-md-12">

          <div class="row">

            <div class="col-md-2">
              <label>&nbsp;&nbsp;Código</label>
            </div>

            <div class="col-md-2">
              <label>&nbsp;&nbsp;Apellidos</label>
            </div>

            <div class="col-md-2">
              <label>&nbsp;&nbsp;Nombre</label>
            </div>


            <div class="col-md-2">
              <label>&nbsp;&nbsp;Correo electrónico</label>
            </div>

            <div class="col-md-2">
              <label>&nbsp;</label>
            </div>

          </div>

          <div class="row">

            <div class="col-md-2">

              <%= f.text_field :codigo, placeholder: 'Código', autofocus: 'autofocus', class: 'form-control' %>

            </div>

            <div class="col-md-2">

              <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>

            </div>

            <div class="col-md-2">

              <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>

            </div>


            <div class="col-md-2">

              <%= f.text_field :email, placeholder: 'Correo electrónico', class: 'form-control' %>

            </div>



            <div class="col-md-2">

              <%= f.submit 'Buscar', class: 'btn btn-primary' %>

            </div>

          </div>

          <div class="row">
            <div class="col-md-2">
              <div class="checkbox">
                <label>
                  <%= f.check_box :jefe_capacitacion %>
                  Jefe de capacitación (<%= User.find_all_by_jefe_capacitacion(true).count %>)
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="checkbox">
                <label>
                  <%= f.check_box :jefe_biblioteca %>
                  Jefe de biblioteca (<%= User.find_all_by_jefe_biblioteca(true).count %>)
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="checkbox">
                <label>
                  <%= f.check_box :perpetual_active %>
                  Activos perpetuos (<%= User.find_all_by_perpetual_active(true).count %>)
                </label>
              </div>
            </div>
          </div>

        </div>

      </div>

    <% end %>

  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">

    <legend>Resultados de la búsqueda</legend>

    <table class="table table-striped table-hover table-bordered">

      <thead>
        <tr>
          <th>#</th>
          <th>Código</th>
          <th>Apellidos</th>
          <th>Nombre</th>
          <th>Correo electrónico</th>
          <th>Tipo</th>
          <th>Empleado</th>
          <th>Estado</th>
          <th>Activo Perpetuo</th>
          <th> </th>
        </tr>
      </thead>

      <tbody>

        <% @users.each_with_index do |user, index| %>

          <tr>
            <td><%= index+1 %></td>

            <td><%= user.codigo %></td>
            <td><%= user.apellidos %></td>
            <td><%= user.nombre %></td>
            <td><%= user.email %></td>
            <td>

              <% if user.jefe_capacitacion %>
                <span class="label label-warning">Jefe de Capacitación</span>
              <% end %>

              <% if user.jefe_biblioteca %>
                <span class="label label-info">Jefe de Biblioteca</span>
              <% end %>

            </td>
            <td>
              <% if user.employee %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </td>
            <td>
              <% if user.activo %>
                <span class="label label-success">Activo</span>
              <% else %>
                <span class="label label-default">Inactivo</span>
              <% end %>
            </td>

            <td>
              <% if user.perpetual_active %>
                <span class="label label-success">SI</span>
              <% else %>
                <span class="label label-default">NO</span>
              <% end %>
            </td>

            <td>
              <%= link_to 'ver', user_path(user) %>
              &nbsp;&nbsp;
              <%= link_to 'editar', edit_user_path(user) %>
              &nbsp;&nbsp;
              <%= link_to 'editar características', edit_characteristics_user_path(user) %>
              &nbsp;&nbsp;
              <%= link_to 'editar foto', users_edit_foto_path(user) %>
            </td>
          </tr>

        <% end %>


      </tbody>


    </table>

  </div>
</div>