<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-user"></i>
      Gestión de usuarios
      <span>> Reporte de usuarios </span>
    </h1>
  </div>
</div>

<div class="row">

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">



        <legend>Reporte de usuarios</legend>


        <div id="div_interno_contiene_tabla" class="" style="overflow-x: auto;">
          <br><br><br>
          <table id="datatable_fixed_column" class="table table-striped table-bordered smart-form">
            <thead>
                <tr>
                  <th>#</th>
                  <th>Código</th>
                  <th>Apellidos</th>
                  <th>Nombre</th>
                  <th>Correo Electrónico</th>
                  <th>Estado</th>


                  <% @characteristics.each do |c| %>
                      <th><%= c.nombre %></th>
                  <% end %>

                  <% @characteristics_priv.each do |c| %>
                      <th><%= c.nombre %></th>
                  <% end %>

                  <th>Foto</th>

                </tr>


                <tr class="second">
                  <td>
                    <label class="input">
                      <input type="text" name="search_f_num" value="" class="search_init">
                    </label>
                  </td>
                  <td>
                    <label class="input">
                      <input type="text" name="search_codigo" value="" class="search_init">
                    </label>
                  </td>
                  <td>
                    <label class="input">
                      <input type="text" name="search_lastname" value="" class="search_init">
                    </label>
                  </td>
                  <td>
                    <label class="input">
                      <input type="text" name="search_name" value="" class="search_init">
                    </label>
                  </td>
                  <td>
                    <label class="input">
                      <input type="text" name="search_email" value="" class="search_init">
                    </label>
                  </td>
                  <td>
                    <label class="input">
                      <input type="text" name="search_estado" value="" class="search_init">
                    </label>
                  </td>
                  <% @characteristics.each do |c| %>
                      <td>
                        <label class="input">
                          <input type="text" name="search_cha_<%= c.id %>" value="" class="search_init">
                        </label>
                      </td>
                  <% end %>

                  <% @characteristics_priv.each do |c| %>
                      <td>
                        <label class="input">
                          <input type="text" name="search_cha_<%= c.id %>" value="" class="search_init">
                        </label>
                      </td>
                  <% end %>

                  <td>
                    <label class="input">
                      <input type="text" name="search_has_foto" value="" class="search_init">
                    </label>
                  </td>


                </tr>

            </thead>
            <tbody>

                <% @users.each_with_index do |user, index| %>

                  <tr>
                    <td><%= index+1 %></td>
                    <td><%= user.codigo %></td>
                    <td><%= user.apellidos %></td>
                    <td><%= user.nombre %></td>
                    <td><%= user.email %></td>
                    <td><%= user.activo ? 'Activo' : 'Inactivo' %></td>

                    <% @characteristics.each do |cha| %>

                      <%
                          user_cha = user.characteristic_by_id(cha.id)

                          val_cha = '-'
                          val_cha = user_cha.valor if user_cha

                      %>

                      <td><%= val_cha %></td>

                    <% end %>

                    <% @characteristics_priv.each do |cha| %>

                        <%
                           user_cha = user.characteristic_by_id(cha.id)

                           val_cha = '-'
                           val_cha = user_cha.valor if user_cha

                        %>

                        <td><%= val_cha %></td>

                    <% end %>

                    <td>

                      <% if user.foto %>

                        <span class="label label-success label-smart-table">Sí tiene foto</span>

                      <% else %>
                        <span class="label label-danger label-smart-table">No tiene foto</span>

                      <% end %>

                    </td>


                  </tr>

                <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- PAGE RELATED PLUGIN(S) -->
<script src="/assets/datatables/jquery.dataTables-cust.min.js"></script>
<script src="/assets/datatables/ColReorder.min.js"></script>
<script src="/assets/datatables/FixedColumns.min.js"></script>
<script src="/assets/datatables/ColVis.min.js"></script>
<script src="/assets/datatables/ZeroClipboard.js"></script>
<script src="/assets/datatables/media/js/TableTools.min.js"></script>
<script src="/assets/datatables/DT_bootstrap.js"></script>


<script type="text/javascript">

  $(document).ready(function() {

    $("#datatable_fixed_column thead input").keyup(function() {
      oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
    });

    $("#datatable_fixed_column thead input").each(function(i) {
      this.initVal = this.value;
    });
    $("#datatable_fixed_column thead input").focus(function() {
      if (this.className == "search_init") {
        this.className = "";
        this.value = "";
      }
    });
    $("#datatable_fixed_column thead input").blur(function(i) {
      if (this.value == "") {
        this.className = "search_init";
        this.value = this.initVal;
      }
    });


    var oTable = $('#datatable_fixed_column').dataTable({
      //T tools
      //i number of entries
      //p pagination
      //l list filter
      //r no idea
      //t table
      //f filtro general
      "sDom": "Tlt<'row'<'col-md-6'i><'col-md-6 text-right'p>",
      "sPaginationType" : "bootstrap_full",
      "aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
      "iDisplayLength" : 25,
      "bSortCellsTop" : true,
      "oTableTools" : {
        "aButtons" : ["xls"],
        "sSwfPath" : "/assets/datatables/media/swf/copy_csv_xls_pdf.swf"
      }
    });



  });

</script>


