<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>

    <Style ss:ID="format_date">
      <NumberFormat ss:Format="dd\-mm\-yyyy"/>
    </Style>
    <Style ss:ID="format_number_float">
      <NumberFormat ss:Format="Fixed"/>
    </Style>
    <Style ss:ID="format_number_int">
      <NumberFormat ss:Format="0"/>
    </Style>
    <Style ss:ID="format_center">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Reporte">
    <Table>



        <Row>
          <Cell>
            <Data ss:Type="String"></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"></Data>
          </Cell>

          <Cell ss:StyleID="format_center" ss:MergeAcross="<%= @characteristics.size.to_s %>">
            <Data ss:Type="String"><%= @characteristic_parent.nombre %></Data>
          </Cell>

        </Row>



      <Row>
        <Cell>
          <Data ss:Type="String"><%= alias_username %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Apellidos</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Nombre</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Email</Data>
        </Cell>

        <Cell>
          <Data ss:Type="String">Empleado</Data>
        </Cell>

        <Cell>
          <Data ss:Type="String">Activo</Data>
        </Cell>

        <% @characteristics.each do |characteristic| %>

          <Cell>
            <Data ss:Type="String"><%= characteristic.nombre %></Data>
          </Cell>

        <% end %>

        <Cell>
          <Data ss:Type="String">Fecha de registro</Data>
        </Cell>

      </Row>

      <% @users.each_with_index do |user, index_u| %>

        <% user_characteristics_registered = user.user_characteristics_registered(@characteristic_parent) %>

        <% if user_characteristics_registered.size == 0 %>

          <Row>
            <Cell>
              <Data ss:Type="String"><%= user.codigo %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= user.apellidos %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= user.nombre %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= user.email %></Data>
            </Cell>

            <Cell>
              <Data ss:Type="String"><%= user.employee ? 'Sí' : 'No' %></Data>
            </Cell>

            <Cell>
              <Data ss:Type="String"><%= user.activo ? 'Sí' : 'No' %></Data>
            </Cell>

          </Row>

        <% else %>

          <% user_characteristics_registered.each_with_index do |user_characteristic_registered| %>

            <Row>
              <Cell>
                <Data ss:Type="String"><%= user.codigo %></Data>
              </Cell>
              <Cell>
                <Data ss:Type="String"><%= user.apellidos %></Data>
              </Cell>
              <Cell>
                <Data ss:Type="String"><%= user.nombre %></Data>
              </Cell>
              <Cell>
                <Data ss:Type="String"><%= user.email %></Data>
              </Cell>

              <Cell>
                <Data ss:Type="String"><%= user.employee ? 'Sí' : 'No' %></Data>
              </Cell>

              <Cell>
                <Data ss:Type="String"><%= user.activo ? 'Sí' : 'No' %></Data>
              </Cell>

              <% @characteristics.each_with_index do |element_characteristic| %>

                <% element_user_characteristic = user_characteristic_registered.elements_user_characteristics.where('register_user_characteristic_id = ? AND characteristic_id = ?',user_characteristic_registered.id, element_characteristic.id).first %>

                <% unless element_characteristic.data_type_id == 6 %>

                  <% if element_user_characteristic %>

                    <% efcv = element_user_characteristic.excel_formatted_value %>

                    <% if efcv %>

                      <% cell_id = '' %>
                      <% cell_id = 'ss:StyleID="format_date"' if element_characteristic.data_type_id == 2 %>
                      <% cell_id = 'ss:StyleID="format_number_int"' if element_characteristic.data_type_id == 3 %>
                      <% cell_id = 'ss:StyleID="format_number_float"' if element_characteristic.data_type_id == 4 %>

                      <Cell <%= cell_id.html_safe %>>
                        <Data ss:Type="<%= element_characteristic.excel_data_type_name %>"><%= efcv %></Data>
                      </Cell>

                    <% else %>

                      <Cell>
                        <Data ss:Type="String"></Data>
                      </Cell>

                    <% end %>

                  <% else %>

                    <Cell>
                      <Data ss:Type="String"></Data>
                    </Cell>

                  <% end %>

                <% else %>

                  <% if element_user_characteristic && element_user_characteristic.value_file %>

                    <Cell>
                      <Data ss:Type="String">Sí</Data>
                    </Cell>

                  <% else %>

                    <Cell>
                      <Data ss:Type="String">No</Data>
                    </Cell>

                  <% end %>

                <% end %>

              <% end %>

              <% ca = user_characteristic_registered.created_at.in_time_zone(user_connected_time_zone) %>

              <% if ca %>

                <Cell>
                  <Data ss:Type="String"><%= ca %></Data>
                </Cell>

              <% end %>

            </Row>

          <% end %>

        <% end %>

      <% end %>


    </Table>
  </Worksheet>

</Workbook>