<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>

    <Style ss:ID="format_date">
      <NumberFormat ss:Format="dd\-mm\-yyyy"/>
    </Style>
    <Style ss:ID="format_number_float">
      <NumberFormat ss:Format="Fixed"/>
    </Style>
    <Style ss:ID="format_number_int">
      <NumberFormat ss:Format="0"/>
    </Style>
    <Style ss:ID="format_center">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Reporte">
    <Table>


      <Row>
        <Cell>
          <Data ss:Type="String"><%= alias_username %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Programa</Data>
        </Cell>
        <% if TrainingType.all.size > 0 %>
          <Cell>
            <Data ss:Type="String"><%= @company.training_type_alias %></Data>
          </Cell>
        <% end %>
        <Cell>
          <Data ss:Type="String">Curso</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Dedicación</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Oportunidad</Data>
        </Cell>

        <Cell>
          <Data ss:Type="String">Fecha Inicio</Data>
        </Cell>

        <Cell>
          <Data ss:Type="String">Fecha Fin</Data>
        </Cell>

        <Cell>
          <Data ss:Type="String">Fecha Inicio Real</Data>
        </Cell>

        <Cell>
          <Data ss:Type="String">Fecha Fin Real</Data>
        </Cell>

        <Cell>
          <Data ss:Type="String">Estado</Data>
        </Cell>

        <Cell>
          <Data ss:Type="String">Asistencia</Data>
        </Cell>


        <Cell>
          <Data ss:Type="String">Nota Final</Data>
        </Cell>

        <Cell>
          <Data ss:Type="String">Resultado Final</Data>
        </Cell>



      </Row>

      <% @users.each_with_index do |user| %>

        <% user_courses = user.user_courses %>

        <% if user_courses.size == 0 %>

          <Row>
            <Cell>
              <Data ss:Type="String"><%= user.codigo %></Data>
            </Cell>

          </Row>

        <% else %>

          <% user_courses.each_with_index do |user_course| %>

            <Row>
              <Cell>
                <Data ss:Type="String"><%= user.codigo %></Data>
              </Cell>

              <Cell>
                <Data ss:Type="String"><%= user_course.program_course.program.nombre %></Data>
              </Cell>
              <% if TrainingType.all.size > 0 %>
                <Cell>
                  <Data ss:Type="String"><%= user_course.course.training_type.nombre if user_course.course.training_type %></Data>
                </Cell>
              <% end %>
              <Cell>
                <Data ss:Type="String"><%= user_course.course.nombre %></Data>
              </Cell>

              <Cell ss:StyleID="format_number_float">
                <Data ss:Type="Number"><%= user_course.course.dedicacion_estimada %></Data>
              </Cell>

              <Cell ss:StyleID="format_number_int">
                <Data ss:Type="Number"><%= user_course.numero_oportunidad %></Data>
              </Cell>

              <% if user_course.desde %>

                <Cell ss:StyleID="format_date">
                  <Data ss:Type="DateTime"><%= user_course.desde.to_date %></Data>
                </Cell>

              <% else %>
                <Cell>
                  <Data ss:Type="String"></Data>
                </Cell>

              <% end %>

              <% if user_course.hasta %>

                <Cell ss:StyleID="format_date">
                  <Data ss:Type="DateTime"><%= user_course.hasta.to_date %></Data>
                </Cell>

              <% else %>
                <Cell>
                  <Data ss:Type="String"></Data>
                </Cell>

              <% end %>

              <% if user_course.inicio %>

                <Cell ss:StyleID="format_date">
                  <Data ss:Type="DateTime"><%= user_course.inicio.to_date %></Data>
                </Cell>

              <% else %>
                <Cell>
                  <Data ss:Type="String"></Data>
                </Cell>

              <% end %>

              <% if user_course.fin %>

                <Cell ss:StyleID="format_date">
                  <Data ss:Type="DateTime"><%= user_course.fin.to_date %></Data>
                </Cell>

              <% else %>
                <Cell>
                  <Data ss:Type="String"></Data>
                </Cell>

              <% end %>

              <%

              if !user_course.iniciado
                e = 'No iniciado'
              elsif user_course.finalizado
                e = 'Terminado'
              else
                e = 'Iniciado'
              end

              %>

              <Cell>
                <Data ss:Type="String"><%= e %></Data>
              </Cell>

              <Cell ss:StyleID="format_number_float">
                <Data ss:Type="Number"><%= user_course.porcentaje_avance if user_course.porcentaje_avance%></Data>
              </Cell>

              <% if user_course.nota %>

                <Cell ss:StyleID="format_number_float">
                  <Data ss:Type="Number"><%= user_course.nota %></Data>
                </Cell>

              <% else %>
                <Cell>
                  <Data ss:Type="String"></Data>
                </Cell>
              <% end %>

              <%

                if user_course.aprobado
                  ef = 'Aprobado'
                elsif user_course.finalizado
                  ef = 'Reprobado'
                else
                  ef = ''
                end

              %>

              <Cell>
                <Data ss:Type="String"><%= ef %></Data>
              </Cell>


            </Row>

          <% end %>

        <% end %>


      <% end %>


    </Table>
  </Worksheet>

</Workbook>