<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>

    <Style ss:ID="format_date">
      <NumberFormat ss:Format="dd\-mm\-yyyy"/>
    </Style>
    <Style ss:ID="format_number_float">
      <NumberFormat ss:Format="Fixed"/>
    </Style>
    <Style ss:ID="format_number_int">
      <NumberFormat ss:Format="0"/>
    </Style>
    <Style ss:ID="format_center">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Reporte">
    <Table>

      <% if @characteristic_types.size > 0 %>

        <Row>
          <Cell>
            <Data ss:Type="String"></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"></Data>
          </Cell>

          <% @characteristic_types.each_with_index do |ct, index_ct| %>
            <% if ct %>
              <Cell ss:StyleID="format_center" ss:MergeAcross="<%= @characteristic_types_sizes[index_ct].to_s %>">
                <Data ss:Type="String"><%= ct.name %></Data>
              </Cell>
            <% end %>
          <% end %>

        </Row>

      <% end %>

      <Row>
        <Cell>
          <Data ss:Type="String"><%= alias_username %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Apellidos</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Nombre</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Email</Data>
        </Cell>

        <Cell>
          <Data ss:Type="String">Empleado</Data>
        </Cell>

        <Cell>
          <Data ss:Type="String">Activo</Data>
        </Cell>

        <% @characteristics.each do |characteristic| %>

          <Cell>
            <Data ss:Type="String"><%= characteristic.nombre %></Data>
          </Cell>

        <% end %>

      </Row>

      <% @users.each_with_index do |user, index_u| %>

        <Row>
          <Cell>
            <Data ss:Type="String"><%= user.codigo %></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"><%= user.apellidos %></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"><%= user.nombre %></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"><%= user.email %></Data>
          </Cell>

          <Cell>
            <Data ss:Type="String"><%= user.employee ? 'Sí' : 'No' %></Data>
          </Cell>

          <Cell>
            <Data ss:Type="String"><%= user.activo ? 'Sí' : 'No' %></Data>
          </Cell>

          <% @characteristics.each do |characteristic| %>

            <% efcv = user.excel_formatted_characteristic_value(characteristic) %>

            <% if efcv %>

              <% cell_id = '' %>
              <% cell_id = 'ss:StyleID="format_date"' if characteristic.data_type_id == 2 %>
              <% cell_id = 'ss:StyleID="format_number_int"' if characteristic.data_type_id == 3 %>
              <% cell_id = 'ss:StyleID="format_number_float"' if characteristic.data_type_id == 4 %>

              <Cell <%= cell_id.html_safe %>>
                <Data ss:Type="<%= characteristic.excel_data_type_name %>"><%= efcv %></Data>
              </Cell>

            <% else %>

              <Cell>
                <Data ss:Type="String"></Data>
              </Cell>

            <% end %>

          <% end %>

        </Row>

      <% end %>


    </Table>
  </Worksheet>

</Workbook>