<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-user"></i>
      <%= @user.apellidos %>, <%= @user.nombre %>
      <span>> Información del usuario</span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos del usuario</legend>

        <ul class="nav nav-tabs">
          <li class="active"><a href="#datos_usuario" data-toggle="tab">Información personal y laboral</a></li>
          <li><a href="#historial" data-toggle="tab">Historial de capacitación</a></li>
        </ul>

        <div class="tab-content tab-content-ficha-user-<%= $current_domain %>">
          <div class="tab-pane active" id="datos_usuario">

            <div class="row">
              <div class="col-md-8">

                <div class="row">
                  <div class="col-md-4 text-right">
                    <strong>Código de usuario</strong>
                  </div>
                  <div class="col-md-8">
                    <%= @user.codigo %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 text-right">
                    <strong>Nombre</strong>
                  </div>
                  <div class="col-md-8">
                    <%= @user.nombre %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 text-right">
                    <strong>Apellidos</strong>
                  </div>
                  <div class="col-md-8">
                    <%= @user.apellidos %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 text-right">
                    <strong>Correo electrónico</strong>
                  </div>
                  <div class="col-md-8">
                    <%= @user.email %>
                  </div>
                </div>

                <% if @company.use_pgp %>

                  <div class="row">
                    <div class="col-md-4 text-right">
                      <strong>PK</strong>
                    </div>
                    <div class="col-md-8">
                      <textarea><%= @user.private_key %></textarea>
                    </div>
                  </div>

                <% end %>

                <hr>

                <div class="row">
                  <div class="col-md-4 text-right">
                    <strong>Empleado</strong>
                  </div>
                  <div class="col-md-8">
                    <% if @user.employee %>
                      <span class="label label-success">Sí</span>
                    <% else %>
                      <span class="label label-danger">No</span>
                    <% end %>
                  </div>
                </div>

                <hr>

                <div class="row">
                  <div class="col-md-4 text-right">
                    <strong>Tipo de usuario</strong>
                  </div>
                  <div class="col-md-8">

                    <% if @user.jefe_capacitacion %>
                      <span class="label label-warning">Jefe de capacitación</span>
                    <% end %>

                    <% if @user.jefe_biblioteca %>
                      <span class="label label-info">Jefe de biblioteca</span>
                    <% end %>
                  </div>
                </div>

              </div>
              <div class="col-md-4 text-right">
                <% if @user.foto %>
                  <img src="<%= request.base_url %>/storage/<%=@company.codigo%>/fotos_usuarios/<%=@user.foto%>" class="img-thumbnail user-foto">
                <% else %>
                  <img src="/assets/default_user.png" class="img-thumbnail user-foto">
                <% end %>
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-4 text-right">
                    <strong>Requiere cambio de contraseña</strong>
                  </div>
                  <div class="col-md-8">
                    <% if @user.requiere_cambio_pass %>
                      SI. <em>La próxima vez que el usuario ingrese al sistema se le pedirá que cambie su contraseña.</em>
                    <% else %>
                      NO
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-4 text-right">
                    <strong>Estado</strong>
                  </div>
                  <div class="col-md-8">
                    <% if @user.activo %>
                      <span class="label label-success">Activo</span>
                    <% else %>
                      <span class="label label-default">Inactivo</span>
                    <% end %>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-4 text-right">
                    <strong>Activo perpetuo</strong>
                  </div>
                  <div class="col-md-8">
                    <% if @user.perpetual_active %>
                      <span class="label label-success">SI</span>
                    <% else %>
                      <span class="label label-default">NO</span>
                    <% end %>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-4 text-right">
                    <strong>Jefe de capacitación</strong>
                  </div>
                  <div class="col-md-8">
                    <% if @user.jefe_capacitacion %>
                      <span class="label label-warning">Jefe de Capacitación</span>
                    <% else %>
                      NO
                    <% end %>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-4 text-right">
                    <strong>Jefe de biblioteca</strong>
                  </div>
                  <div class="col-md-8">
                    <% if @user.jefe_biblioteca %>
                      <span class="label label-info">Jefe de Biblioteca</span>
                    <% else %>
                      NO
                    <% end %>
                  </div>
                </div>

              </div>
            </div>



            <% CharacteristicType.all.each_with_index do |ct, index| %>

              <hr>

              <div class="row">
                <div class="col-md-12">
                  <strong><%= ct.name %></strong>
                </div>
              </div>

              <br>

              <% ct.characteristics.each do |characteristic| %>

                <% unless characteristic.register_characteristic %>

                  <div class="row">
                    <div class="col-md-3 text-right">
                      <strong><%= characteristic.nombre %></strong>
                    </div>
                    <div class="col-md-9">

                      <% if characteristic.data_type_id == 6 %>

                        <% uc = @user.user_characteristic characteristic %>

                        <% if uc && uc.value_file %>

                          <%= link_to('Descargar archivo', user_profile_download_characteristic_file_path(characteristic.id)) %>

                        <% end %>

                      <% elsif characteristic.data_type_id == 7 %>

                        <% uc = @user.user_characteristic characteristic %>

                        <% if uc %>

                          <img src="https://<%=request.host%>/storage/<%=company_codigo%>/stored_images/<%=uc.formatted_value%>" class="">

                        <% end %>

                      <% elsif characteristic.data_type_id == 11 %>

                        <table class="table table-bordered table-condensed">

                          <thead>
                          <tr>
                            <% characteristic.elements_characteristics.reorder('register_position').each do |element_characteristic| %>
                              <th>
                                <%= element_characteristic.nombre %>
                              </th>
                            <% end %>
                          </tr>
                          </thead>

                          <tbody>

                          <% @user.user_characteristics_registered(characteristic).each_with_index do |user_characteristic_registered| %>

                            <tr>
                              <% characteristic.elements_characteristics.reorder('register_position').each_with_index do |element_characteristic| %>

                                <% element_user_characteristic = user_characteristic_registered.elements_user_characteristics.where('register_user_characteristic_id = ? AND characteristic_id = ?',user_characteristic_registered.id, element_characteristic.id).first %>

                                <% formatted_value = element_user_characteristic ? element_user_characteristic.formatted_value : nil %>
                                <td>
                                  <%= formatted_value %>
                                </td>
                              <% end %>

                          <% end %>
                          </tr>
                          </tbody>

                        </table>

                      <% else %>
                        <%= @user.formatted_characteristic_value characteristic, @company, lms_time %>
                      <% end %>


                    </div>
                  </div>
                  <br>

                <% end %>

              <% end %>

            <% end %>

            <hr>

            <div class="row">
              <div class="col-md-12">
                <strong>Otros</strong>
              </div>
            </div>

            <br>

            <% Characteristic.not_grouped_public_characteristics.each do |characteristic| %>

              <div class="row">
                <div class="col-md-4 text-right">
                  <strong><%= characteristic.nombre %></strong>
                </div>
                <div class="col-md-8">

                  <%= @user.formatted_characteristic_value characteristic %>


                </div>
              </div>
              <br>
            <% end %>

            <hr>

            <div class="row">
              <div class="col-md-12 text-right">
                <label class="label label-danger">Características privadas</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <% Characteristic.not_grouped_private_characteristics.each do |characteristic| %>

                  <div class="row">
                    <div class="col-md-4 text-right">
                      <strong><%= characteristic.nombre %></strong>
                    </div>
                    <div class="col-md-8">

                      <%= @user.formatted_characteristic_value characteristic %>


                    </div>
                  </div>
                  <br>

                <% end %>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="historial">

            <table class="table table-bordered table-hover">
              <% @user.enrollments_order_by_program.each do |enrollment| %>

                <thead>
                  <tr>
                    <th>
                      <% if enrollment.program.especifico %>
                        <span class="label label-danger">E</span>
                      <% else %>
                        <span class="label label-info">A</span>
                      <% end %>
                      <%= enrollment.program.nombre %>

                    </th>
                    <% if enrollment.program.especifico %>
                      <th>Desde</th>
                      <th>Hasta</th>
                      <th>Oportunidad</th>
                      <th>Estado</th>
                      <th>Nota</th>
                    <% else %>
                      <th>Inicio</th>
                      <th>Fin</th>
                      <th>Oportunidad</th>
                      <th>Estado</th>
                      <th>Nota</th>
                    <% end %>
                  </tr>
                </thead>


                  <tbody>

                  <% enrollment.user_courses_order_by_nombre_secuencia.each do |uc| %>
                    <tr>
                      <td><%=uc.course.nombre%></td>
                      <td>
                        <nobr>
                        <% if enrollment.program.especifico %>
                          <%= (localize  uc.desde, format: :day_snmonth_year) %>
                        <% else %>
                          <%= (localize  uc.inicio, format: :day_snmonth_year) if uc.inicio %>
                        <% end %>
                        </nobr>
                      </td>
                      <td>
                        <nobr>
                        <% if enrollment.program.especifico %>
                          <%= (localize  uc.hasta, format: :day_snmonth_year) %>
                        <% else %>
                          <%= (localize  uc.fin, format: :day_snmonth_year) if uc.fin %>
                        <% end %>
                        </nobr>
                      </td>
                      <td><%= uc.numero_oportunidad %></td>
                      <td>

                        <% estado = uc.estado lms_time %>

                        <% if estado == :anulado %>
                          <span class="label label-default">Anulado</span>
                        <% elsif estado == :no_iniciado %>
                          <span class="label label-default">No iniciado</span>
                        <% elsif estado == :en_progreso %>
                          <span class="label label-primary">En progreso</span>
                        <% elsif estado == :plazo_vencido %>
                          <span class="label label-danger">Plazo Vencido</span>
                        <% elsif estado == :aprobado %>
                          <% if uc.nota %>
                            <span class="label label-success">Aprobado</span>
                          <% else %>
                            <span class="label label-success">Cursado</span>
                          <% end %>
                        <% elsif estado == :reprobado %>
                          <span class="label label-danger">Reprobado</span>
                        <% end %>

                      </td>
                      <td>
                        <% if estado == :aprobado && uc.nota %>
                                        <span class="label label-success">
                                          <%= format_nota(uc.nota) %> <%= tipo_nota(uc.course) %>
                                        </span>
                        <% elsif estado == :reprobado && uc.nota  %>
                                        <span class="label label-danger">
                                          <%= format_nota(uc.nota) %> <%= tipo_nota(uc.course) %>
                                        </span>
                        <% end %>
                      </td>

                    </tr>

                  <% end %>

                  </tbody>

              <% end %>
            </table>

          </div>
        </div>
      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">

          <%= link_to 'Editar', edit_user_path(@user) %>
          &nbsp;
          &nbsp;
          <%= link_to 'Editar características', edit_characteristics_user_path(@user) %>
          &nbsp;
          &nbsp;
          <%= link_to 'Editar foto', users_edit_foto_path(@user) %>

        </div>

      </div>
    </div>
  </div>
</div>
