<%= form_for @company_unit, html: {class: 'form-horizontal'} do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group <%= field_with_errors f, :nombre %>">

    <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

    <div class="col-md-9">

      <%= f.text_field :nombre %>

    </div>

  </div>
  <% if @company_unit.id %>

    <div class="form-group">

      <%= f.label :planning_process, 'Proceso', class: 'col-md-3 control-label' %>

      <div class="col-md-9">

        <%= @company_unit.planning_process.nombre %>

      </div>

    </div>

  <% else %>
    <div class="form-group">

      <%= f.label :planning_process, 'Proceso', class: 'col-md-3 control-label' %>

      <div class="col-md-9">

        <% planning_processes = PlanningProcess.all.map { |pp| [pp.nombre, pp.id]   } %>

        <%= f.select(:planning_process_id, options_for_select(planning_processes, @company_unit.planning_process_id))
        %>

      </div>

    </div>
  <% end %>

  <div class="form-group">

    <%= f.label :country, 'País', class: 'col-md-3 control-label' %>

    <div class="col-md-9">

      <% countries = Country.all.map { |c| [c.nombre, c.id]   } %>

      <%= f.select(:country_id, options_for_select(countries, @company_unit.country_id))
      %>

    </div>

  </div>


  <div class="form-group">

    <div class="col-md-9">

      <%= f.submit 'Guardar', class: 'btn btn-primary' %>

    </div>

  </div>


<% end %>
