<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de unidades de empresa', company_units_path, tabindex: '-1' %>

  </li>
  <li class="active">Eliminar unidad de empresa</li>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <legend class="text-center">Eliminar unidad de empresa</legend>

    <dl class="dl-horizontal">

      <dt>Nombre</dt>
      <dd><%= @company_unit.nombre %>&nbsp;</dd>

    </dl>

    <dl class="dl-horizontal">

      <dt>País</dt>
      <dd><%= @company_unit.country.nombre %>&nbsp;</dd>

    </dl>

    <%= form_for @company_unit, html: { method: :delete } do |f| %>

      <%= recaptcha_tags :display=>{:theme=>'clean'} %>

      <%= f.submit 'Eliminar', class: 'btn btn-primary' %>

    <% end %>



  </div>

</div>



