<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de unidades de la empresa', company_units_path, tabindex: '-1' %>

  </li>
  <li class="active">Editar unidad de la empresa</li>
</ul>


<div class="row">
  <div class="col-md-6 col-md-offset-3 form-box-<%= $current_domain %>">

    <legend class="text-center">Editar unidad de empresa</legend>

    <%= render 'form' %>

  </div>
</div>
