<legend class="text-center">Unidades de la Empresa</legend>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-pills tabs-left">

          <% @planning_processes.each_with_index do |planning_process, index| %>

            <li class="<%= 'active' if index == 0%>">
              <a href="#tab_pp_<%= planning_process.id %>" data-toggle="tab"><%= planning_process.nombre %> <%= planning_process.year %></a>
            </li>

          <% end %>

        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">

    <div class="tab-content">

      <% @planning_processes.each_with_index do |planning_process, index| %>

        <div class="tab-pane <%= 'active' if index == 0%>" id="tab_pp_<%= planning_process.id %>">

          <div class="panel panel-default">
            <div class="panel-body">

              <table class="table table-striped table-hover table-bordered">

                <thead>

                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>País</th>
                  <th>Áreas</th>
                  <th>Proceso</th>
                  <th colspan="3">
                    <%= link_to 'Crear nueva unidad de la empresa', new_company_unit_path %>
                  </th>
                </tr>

                </thead>

              <% CompanyUnit.where('planning_process_id = ?', planning_process.id).each_with_index do |company_unit,index| %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= company_unit.nombre %></td>
                  <td>
                    <img class="flag flag-<%= company_unit.country.codigo %>">
                    <%= company_unit.country.nombre %>
                  </td>
                  <td>
                    <%= company_unit.company_unit_areas.count %>
                  </td>
                  <td>
                    <% if company_unit.planning_process %>
                      <%= company_unit.planning_process.nombre %> - <%= company_unit.planning_process.year %>
                  <% end %>
                  </td>
                  <td><%= link_to 'Ver', company_unit %></td>
                  <td><%= link_to 'Editar', edit_company_unit_path(company_unit) %></td>
                  <td>
                    <% if company_unit.company_unit_areas.length == 0 && company_unit.planning_process_company_units.length == 0 %>
                      <%= link_to 'Eliminar', delete_company_unit_path(company_unit) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </table>

            </div>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>