<ul class="breadcrumb">
  <li>
    <%= link_to @hr_process_dimension.hr_process_template.nombre, @hr_process_dimension.hr_process_template, tabindex: '-1' %>

  </li>
  <li class="active">Eliminar tipo de evaluación</li>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <legend class="text-center">
      <%= @hr_process_dimension.hr_process_template.nombre %> - <%= @hr_process_dimension.nombre %>
    </legend>

    <div class="row">
      <div class="col-md-3">
        <strong>Plantilla de Proceso</strong>
      </div>
      <div class="col-md-9">
        <%= @hr_process_dimension.hr_process_template.nombre %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Dimensión</strong>
      </div>
      <div class="col-md-9">
        <%= @hr_process_dimension.nombre %>
      </div>
    </div>


  </div>
</div>
<br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <legend class="text-center">Eliminar tipo de evaluación</legend>

    <div class="row">
      <div class="col-md-3">
        <strong>Orden</strong>
      </div>
      <div class="col-md-9">
        <%= @hr_process_dimension_e.orden %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <strong>Porcentaje</strong>
      </div>
      <div class="col-md-9">
        <%= @hr_process_dimension_e.porcentaje %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <strong>Tipo de Evaluación</strong>
      </div>
      <div class="col-md-9">
        <%= @hr_process_dimension_e.hr_evaluation_type.nombre if @hr_process_dimension_e.hr_evaluation_type %>
      </div>
    </div>


    <%= form_for @hr_process_dimension_e, html: { method: :delete } do |f| %>

      <%= recaptcha_tags :display=>{:theme=>'clean'} %>

      <%= f.submit 'Eliminar', class: 'btn btn-primary' %>

    <% end %>

  </div>
</div>




