
<div class="row">
  <div class="col-md-3">

    <%= link_to ('<i class="fa fa-arrow-left"></i> Volver a '+@hr_process_dimension.hr_process_template.nombre).html_safe, @hr_process_dimension.hr_process_template, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      <%= @hr_process_dimension.hr_process_template.nombre %> - <%= @hr_process_dimension.nombre %>
      <span>> Crear una nueva evaluación </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">


    <%= render 'form' %>

  </div>
</div>