<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-mobile" aria-hidden="true"></i>
      Beneficios de celulares <span>> Reportes </span>
    </h1>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Lista de reportes</legend>

        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <% processes = BenCellphoneProcess.where(charged_to_payroll: true).reorder('year DESC, month DESC').all.map  {|process| [t('date.month_names')[process.month].to_s+' '+process.year.to_s, process.id]} %>
            <%= select_tag('Procesos', options_for_select(processes), class: 'form-control', onchange: 'show_gen_report(this)') %>
          </div>
        </div>
        <br>

            <table class="table table-striped table-hover table-bordered">
          <thead>
          <tr>
            <th> Nombre de reporte </th>
            <th> </th>
          </tr>
          </thead>

          <tbody>
          <% @reports.each do |report| %>
            <tr>
              <td id="container_report_<%= report.id %>"><%= report.name.to_s%></td>
              <td>
                <% processes = BenCellphoneProcess.where(charged_to_payroll: true) %>
                <% processes.each do |process| %>
                  <%# link_to 'sólo activos ', ben_custom_report_gen_path(report, 1, process, format: 'xlsx'), class: 'link_process link_process_'+process.id.to_s, style: "display: none" %>
                  <%= link_to ' Generar', ben_custom_report_gen_path(report, 0, process, format: 'xlsx'), class: 'link_process link_process_'+process.id.to_s, style: "display: none" %>
                <% end %>
              </td>
            </tr>

          <% end %>
          </tbody>


        </table>
      </div>
    </div>
  </div>
</div>

<script>

    $(document).ready(function () {
        $('#Procesos').trigger('change')
    });

    function show_gen_report(select) {
        $('.link_process').hide();
        var process_id = $(select).val();
        $('.link_process_'+process_id).show();
    }
</script>