<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for @report, url: ben_custom_reports_create_path, method: :post, class: 'form-horizontal' do |f| %>
      <div class="panel panel-default">
        <div class="panel-body">

          <legend> Datos Reporte</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group <%= field_with_errors f, :name %>">
            <%= f.label :name, class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>

          <br><br>


          <legend> Datos de beneficios a mostrar en reporte</legend>
          <table class="table table-hover table-bordered" style="font-size: 11px;" width="100%">
            <thead>
            <tr>
              <th width="40%" > Dato </th>
              <th width="20%"> ¿Mostrar en reporte? </th>
              <th width="40%"> Posición de muestra </th>
            </tr>
            </thead>
            <tbody>
            <% @report.ben_custom_report_attributes.each do |attribute| %>
              <%= f.fields_for :ben_custom_report_attributes, attribute do |f_attribute| %>
                <tr>
                  <td> <%= attribute.name %> </td>
                  <td style=display:none; > <%= f_attribute.text_field :name, class: 'form-control' %> </td>
                  <td> <%= f_attribute.check_box :active, :class => 'bootstrap_checkbox form-control' %> </td>
                  <td> <%= f_attribute.number_field :position, class: 'form-control', value: attribute.position ? attribute.position.to_i : '', min: 0, step: 1 %>
                    <% case attribute.name.to_s %>
                    <% when 'Tipo de factura' %>
                      <br>
                      <% # bill_type
                         # 0: Plan Bill
                         # 1: Equipment Bill
                         # 2: Registro Manual %>
                      <% filters = BenCustomReportAttributeFilter.where(ben_custom_report_id: @report.id, name: 'Tipo de factura').all %>
                      <% selected_array = [] %>
                      <% filters.each { |filter| selected_array << filter.value} %>
                      <%= select_tag('select2_bill_types', options_for_select({"Factura de plan" => "0", "Factura de equipo" => "1", "Notas de crédito" => "2"},selected_array), {multiple: true, size: 2, class: 'form-control', placeholder: '-- Filtre por tipo de factura --'}  ) %>
                    <% when 'RUT de compañia' %>
                      <br>
                      <% company_rut_array = BenCellphoneBillItem.all.map {|bill| [bill.company_rut, bill.company_rut]} %>
                      <% company_rut_array = company_rut_array.uniq_by {|company_rut| company_rut} %>
                      <% filters = BenCustomReportAttributeFilter.where(ben_custom_report_id: @report.id, name: 'RUT de compañia').all %>
                      <% selected_array = [] %>
                      <% filters.each { |filter| selected_array << filter.value } %>
                      <%= select_tag('select2_company_rut', options_for_select(company_rut_array, selected_array), {multiple: true, size: 2, class: 'form-control', placeholder: '-- Filtre por RUT de compañia --'}) %>
                    <% when 'Cargar a Payroll' %>
                      <br>
                      <% filters = BenCustomReportAttributeFilter.where(ben_custom_report_id: @report.id, name: 'Cargar a Payroll').all %>
                      <% selected_array = [] %>
                      <% filters.each do |filter| %>
                        <% if filter.value %>
                          <% selected_array << '1' %>
                        <% else %>
                          <% selected_array << '0' %>
                        <% end %>
                      <% end %>
                      <%= select_tag('select2_charge_to_payroll', options_for_select({"No cargado" => "0", "Sí cargado" => "1"}, selected_array), {multiple: false, size: 2, class: 'form-control', placeholder: '-- Filtre según registros cargados o no a Payroll --'}) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>

          <legend> Características</legend>

          <div class="row">
            <div class="col-md-12" align="right">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <%= link_to_add_condition_report('Añadir', f) %>
            </div>
          </div>

          <table class="table table-hover table-bordered" style="font-size: 11px;" width="100%">
            <thead>
            <tr>
              <th width="20%">Característica</th>
              <th width="25%">Tipo de relación</th>
              <th width="45%">Valor</th>
              <th width="10%"></th>
            </tr>
            </thead>
            <tbody id="conditions_container">
            <% @report.ben_custom_report_characteristics.each do |ben_custom_report_characteristic| %>
              <%= f.fields_for :ben_custom_report_characteristics, ben_custom_report_characteristic do |f_ben_custom_report_characteristic| %>
                <%= render partial: 'ben_report/ben_report_condition',
                           locals: {:condition => ben_custom_report_characteristic,
                                    :condition_form => f_ben_custom_report_characteristic,
                                    :just_added => false,
                                    :editable => true} %>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit t('views.ben_cellphone_process.forms.save'), class: 'btn btn-primary' %>
          </div>
        </div>

      </div>
    <% end %>

  </div>
</div>

<script>
    var minimumInputLength = 0
    $('#select2_bill_types').select2({
        minimumInputLength: minimumInputLength,
        formatInputTooShort: function () {
            return "Se deben ingresar al menos " + minimumInputLength + " caracteres";
        },
    })


    function return_select2_values() {
        users_array = $('#select2_bill_types').select2().val();
        $('#select2_bill_types').select2("val", "");
        return_values(users_array);
    }
</script>

<script>
    var minimumInputLength = 0
    $('#select2_company_rut').select2({
        minimumInputLength: minimumInputLength,
        formatInputTooShort: function () {
            return "Se deben ingresar al menos " + minimumInputLength + " caracteres";
        },
    })


    function return_select2_values() {
        users_array = $('#select2_company_rut').select2().val();
        $('#select2_company_rut').select2("val", "");
        return_values(users_array);
    }
</script>

<script>
    var minimumInputLength = 0
    $('#select2_charge_to_payroll').select2({
        minimumInputLength: minimumInputLength,
        formatInputTooShort: function () {
            return "Se deben ingresar al menos " + minimumInputLength + " caracteres";
        },
    })


    function return_select2_values() {
        users_array = $('#select2_charge_to_payroll').select2().val();
        $('#select2_charge_to_payroll').select2("val", "");
        return_values(users_array);
    }
</script>

<script>
    $(document).ready(function() {
        $('.select_option_char').trigger('change');
    });

    $('.bootstrap_checkbox').bootstrapSwitch({
        onColor: 'success',
        onText: "Sí",
        offColor: 'danger',
        offText: "No",
        size: "small"
    });

    function remove_condition(link) {
        $(link).prev('input[type=hidden]').val(1)
        $(link).closest('.form_condition').hide();
        $(link).closest('.form_condition').prev('.condition_row').hide();
    }

    function add_condition(link, content){
        var new_id = new Date().getTime();
        var regexp = new RegExp('new_condition', 'g')
        $('#conditions_container').append(content.replace(regexp, new_id))
        $('.select_option_char').trigger('change');
    }

    function set_characteristic_control(select) {
        var container = $(select).closest('.form_condition');
        var char_type_id = $(container).find('.select_option_char > :selected').data('data_type');
        var relation_type = $(container).find('.select_relation_type > :selected').attr('value');
        var should_hide = $(container).find('.should_hide');

        var ben_cell_char_id = $(container).find('.select_option_char > :selected').data('ben_id');
        $(container).find('.ben_cellphone_characteristic_id_form').find('.form-control').val(ben_cell_char_id);

        select = $(select).closest('.form_condition').find('.select_option_char');

        if(relation_type == 1){
            $(container).find('.specific_value_char').each(function(){
                $(this).hide();
            });

            $(should_hide).hide();

            $(container).find('.specific_value_char[data-type-id="' + char_type_id + '"]').show();

            if(char_type_id == 13){
                $(container).find('.specific_value_char[data-type-id="' + 0 + '"]').show();

            }

            if(char_type_id == 5){
                set_char_value_list_options(select)
            }
        }else{
            $(container).find('.specific_value_char').each(function(){
                $(this).hide();
            });

            $(should_hide).show();

        }
    }

    $('.char-datepicker').datetimepicker({
        language: 'es',
        pickTime: false
    });

    function set_char_value_list_options(select_tag) {
        var container = $(select_tag).closest('.form_condition');
        var select_values_tag = $(container).find('.char_values_list select');
        $.ajax({
            url: "<%= load_characteristics_values_list_from_ben_report_path %>",
            type: 'POST',
            data: {
                characteristic_id: $(select_tag).val()
            },
            async: true,
            dataType: "json",
            error: function (XMLHttpRequest, errorTextStatus, error) {
                alert("Failed: " + errorTextStatus + " ;" + error);
            },
            success: function (data) {
                $(select_values_tag).find('option').remove()
                for (var i in data) {
                    var id = data[i][1];
                    var title = data[i][0];
                    $(select_values_tag).append(new Option(title, id));
                }
                select_values_tag.find('option[value="' + select_values_tag.data('value') + '"]').prop('selected', true)
            }
        });
    }
</script>