<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<%= @body.html_safe %>
<hr>
<p>Haga clic en el siguiente link ir a la plataforma (<a href="<%= @company.url + list_jm_offers_path %>">Job Market</a>)</p>
</body>
</html>