<% if @users.size > 0 %>

    <%#= form_for Enrollment.new, url: lms_managing_execute_enroll_1_people_path, html: {class: 'form-horizontal', method: :post} do |f| %>

        <div class="panel panel-default">
          <div class="panel-body">

            <legend>Resultados de la búsqueda</legend>

            <script type="text/javascript">
              function marcar_todos(){

                $('.check_user').each(function(){

                  if($('#check_user').is(':checked')){
                    $(this).prop('checked', true);
                  }else{
                    $(this).prop('checked', false);
                  }

                });

              }

              function marcar_padre(){

                var checked_all = true;

                $('.check_user').each(function(){
                  if(!$(this).is(':checked')){
                    checked_all = false;
                  }
                });
                if(checked_all){
                  $('#check_user').prop('checked', true);
                }else{
                  $('#check_user').prop('checked', false);
                }


              }

            </script>

            <table class="table table-hover table-bordered">

              <thead>
              <tr>
                <th><input id="check_user" type="checkbox" checked="checked" onchange="marcar_todos();"></th>
                <th>#</th>
                <th><%= alias_username %></th>
                <th>Apellidos</th>
                <th>Nombre</th>
                <th>Correo electrónico</th>
              </tr>
              </thead>

              <tbody>

              <% @users.each_with_index do |user, index| %>

                  <tr>
                    <td>
                      <input type="checkbox" name="add_user_id[]" class="check_user" checked="checked" onchange="marcar_padre()" value="<%= user.id %>">
                    </td>

                    <td><%= index+1 %></td>

                    <td><%= user.codigo %></td>
                    <td><%= user.apellidos %></td>
                    <td><%= user.nombre %></td>
                    <td><%= user.email %></td>
                  </tr>

              <% end %>

              </tbody>

            </table>

          </div>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= link_to 'Seleccionar', '#', :onclick => 'return_selected_from_list_values()',  class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
    <% end %>

<%# end %>
<script>
  function return_selected_from_list_values(){
    users_array = $('.check_user:checked').map(function(){
      return $(this).val();
    }).get();

    $('.check_user:checked').prop('checked', false);
    $('.check_user:checked').attr('disabled', true);
    return_values(users_array);
  }

</script>