<div class="panel panel-default">
  <div class="panel-body">
    <legend>Matricular en Programas y Cursos</legend>
    <div class="row">
      <div class="col-sm-12">
        <%= form_for @user, :url => '#', :html => {:class => 'basic_finder'}  do |f| %>
            <div class="row">
              <div class="col-sm-3 col-md-offset-1">
                <label>&nbsp;&nbsp;<%= alias_username %></label>
                <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>
              </div>
              <div class="col-sm-3">
                <label>&nbsp;&nbsp;Apellidos</label>
                <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>
              </div>
              <div class="col-sm-3">
                <label>&nbsp;&nbsp;Nombre</label>
                <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>
              </div>
              <div class="col-sm-2">
                <label>&nbsp;</label><br>
                <%= f.submit 'Buscar', class: 'btn btn-primary' %>
              </div>
            </div>
            <br>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="found_users_container_basic" style="display: none">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="panel-body text-center">
        <i class="fa fa-refresh fa-spin"></i> Cargando usuarios
      </div>
    </div>
  </div>
</div>
