<% @results.each_with_index do |statement_result, index| %>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <div data-toggle="collapse" href="#statament_<%= index %>"><%= statement_result[:query] %></div>
          </h4>
        </div>
        <div id="statament_<%= index %>" class="panel-collapse collapse in">
          <% if statement_result[:table] && !statement_result[:error_message] %>
              <div class="panel-body"  style="max-height: 300px; overflow: scroll;">
                <table class="table table-bordered table-hover table-condensed">
                  <thead>
                  <tr>
                    <th>#</th>
                    <% statement_result[:rows].columns.each do |column_name| %>
                        <th>
                          <%= column_name %>
                        </th>
                    <% end %>
                  </tr>
                  </thead>
                  <tbody>
                  <% statement_result[:rows].rows.each_with_index do |register, index| %>
                      <tr>
                        <td>
                          <%= index + 1 %>
                        </td>
                        <% register.each do |value| %>
                            <td>
                              <% if value.to_s.length < 150 %>
                                  <%= value %>
                              <% else %>
                                  <div class="shortened">
                                    <%= value[0..150] %> <%= link_to '[+]', '#', :onclick => 'show_more(this);' %>
                                  </div>
                                  <div class="expanded" style="display: none">
                                    <%= value %> <%= link_to '[-]', '#', :onclick => 'show_less(this);' %>
                                  </div>
                              <% end %>
                            </td>
                        <% end %>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
          <% end %>
          <div class="panel-footer">
            <% if statement_result[:error_message] %>
                <div class="alert alert-danger">
                  <strong><%= statement_result[:error_message] %></strong>
                </div>
            <% elsif statement_result[:table] %>
                <div class="alert alert-info">
                  <strong>Se encontraron <%= statement_result[:rows].rows.count %> registros </strong>
                </div>
            <% else %>
                <div class="alert alert-info">
                  <strong><%= statement_result[:rows_affected] %> filas afectadas </strong>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>


<% end %>






<script>
  function show_more(link) {
    td = $(link).parent().parent()
    $(link).parent().hide()
    $(td).find('.expanded').show()
  }

  function show_less(link) {
    td = $(link).parent().parent()
    $(link).parent().hide()
    $(td).find('.shortened').show()

  }
</script>