<%= form_tag sql_query_results_path do %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= text_area_tag :textareaCodeSQL, '', :rows => 5 %>
      </div>
      <div class="col-md-3">
        <%= link_to 'Ejecutar SQL', '#', class: 'btn btn-primary', :onclick => 'get_query_results()' %>
      </div>
    </div>
<% end %>
<br>
<div class="query_results"></div>

<script>
  function colorcoding() {
    window.editor = CodeMirror.fromTextArea(document.getElementById("textareaCodeSQL"), {
      mode: "text/x-sql",
      htmlMode: true,
      lineWrapping: true,
      smartIndent: false,
      addModeClass: true
    });
  window.editor.on("change", function () {window.editor.save();});
  }
  colorcoding();


  function get_query_results(){
    $( ".query_results" ).html( '' );
    form_data = $('#textareaCodeSQL').parents('form').serialize()
    $.post( "<%= sql_query_results_path %>", form_data , function( data ) {
      $( ".query_results" ).html( data );
    });
  }


</script>