<%= form_for @jm_profile_form, html: {class: 'form-horizontal'} do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.jm_profile_forms.shared.form_data') %></legend>

        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group <%= field_with_errors f, :name %>">
          <%= f.label :name, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :description %>">
          <%= f.label :description, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_area :description, class: 'form-control', :rows => 3 %>
          </div>
        </div>
        <% unless @jm_profile_form.new_record? %>
            <div class="form-group <%= field_with_errors f, :layout %>">
              <%= f.label :layout, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <%= f.text_area :layout, class: 'form-control jm_temp_layout', :rows => 10 %>
              </div>
            </div>
        <% end %>
        <div class="form-group <%= field_with_errors f, :active %>">
          <%= f.label :active, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.check_box :active, class: 'yes_no_bootstrap_switch' %>
          </div>
        </div>

      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to t('views.jm_profile_forms.shared.preview_form'), '#', :onclick =>'load_form_preview();', :data => {:toggle => 'modal', :dismiss => 'focus'} %>
          &nbsp;
          <%= f.submit t('views.jm_profile_forms.form.submit_button'), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>





<% unless @jm_profile_form.new_record? %>
    <!-- Modal -->
    <div id="formPreview" class="modal fade" role="document">
      <div class="modal-dialog modal-lg" style="overflow-y: initial !important">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Previsualización del Formulario de perfil</h4>
          </div>
          <div class="modal-body" style="height: 450px; overflow-y: auto;">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>

      </div>
    </div>
<% end %>

<script>
  <% unless @jm_profile_form.new_record? %>
  function load_form_preview() {
    $.post('<%= jm_profile_forms_preview_form_path(@jm_profile_form) %>',
        {tmp_edited_layout: $('.jm_temp_layout').val()},
        function (data) {
          $('.modal-body').html(data)
        }
    );
    $('#formPreview').modal().show()
  }
  <% end %>

  $('.yes_no_bootstrap_switch').bootstrapSwitch({
    onColor: 'success',
    onText: "Sí",
    offColor: 'danger',
    offText: "No"
  });
</script>