<tr class="profile_char">
  <td class="<%= field_with_errors f_char, :position %>">
    <%= f_char.number_field :position , :class => 'form-control' %>
  </td>
  <td class="<%= field_with_errors f_char, :jm_characteristic_id %>">
    <%= f_char.select :jm_characteristic_id, JmCharacteristic.all.collect {|c| [ c.name, c.id ]} , {:value => f_char.object.jm_characteristic_id, :prompt => '- Seleccione -'}, :class => 'form-control jm_char_select' %>
  </td>
  <td class="<%= field_with_errors f_char, :mandatory %>">
    <%= f_char.check_box :mandatory , :class => 'jm_char_mandatory' %>
  </td>
  <td class="<%= field_with_errors f_char, :jm_profile_section_id %>">
    <%= f_char.select :jm_profile_section_id, JmProfileSection.all.collect {|c| [ c.name, c.id ]} , {:value => f_char.object.jm_profile_section_id, :include_blank => '- Sin Sección -'}, :class => 'form-control' %>
  </td>
  <td>
    <%= link_to_remove_profile_char('Eliminar', f_char) %>
  </td>
</tr>