<div class="panel panel-default">
  <div class="panel-body">


    <legend><%= t('views.jm_profile_forms.index.title') %></legend>

    <table class="table table-hover table-bordered">

      <thead>

      <tr>
        <th><%= t('activerecord.attributes.jm_profile_form.name') %></th>
        <th><%= t('activerecord.attributes.jm_profile_form.description') %></th>
        <th><%= t('activerecord.attributes.jm_profile_form.layout') %></th>
        <th><%= t('activerecord.attributes.jm_profile_form.active') %></th>
        <th>
          <%= link_to t('views.jm_profile_forms.shared.create_new_form'), new_jm_profile_form_path() %>
        </th>
      </tr>
      </thead>

      <tbody>

      <% @jm_profile_forms.each do |jm_profile_form| %>
          <tr>
            <td><%= jm_profile_form.name %></td>
            <td><%= jm_profile_form.description %></td>
            <td><%= label_yes_not !jm_profile_form.layout.blank? %></td>
            <td><%= label_yes_not jm_profile_form.active? %></td>
            <td>
              <%= link_to t('views.jm_profile_forms.shared.manage_form'), jm_profile_form %>
            </td>
          </tr>
      <% end %>
      </table>
  </div>
</div>