<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de unidades'.html_safe, training_reports_dnc_2_path(@planning_process), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Reportes (DNC)</legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Año</strong>
          </div>
          <div class="col-md-9">
            <%= @planning_process.year %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @planning_process.nombre %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <strong>Unidad</strong>
          </div>
          <div class="col-md-9">
            <%= @planning_process_company_unit.company_unit.nombre %>
          </div>
        </div>



        <div class="row">
          <div class="col-md-3">
            <strong>Estado</strong>
          </div>
          <div class="col-md-9">
            <% if @planning_process.abierto? %>
              <span class="label label-success">abierto</span>
            <% else %>
              <span class="label label-danger">finalizado</span>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-10 col-md-offset-1">

<div class="panel panel-default">
<div class="panel-body">

<legend class="text-center">Reportes de capacitación (DNC)</legend>

<%

  if user_connected.jefe_capacitacion?
    programs = Program.where('plan_anual = ?', true)
  else
    programs = user_connected.programs_inspector.where('plan_anual = ?', true)
  end

%>


<ul class="nav nav-tabs">


  <li class="active">
    <a href="#tab_reporte_general" data-toggle="tab">Reporte general</a></li>
  <li>
  <li>
    <a href="#tab_enc_satis" data-toggle="tab">Encuesta de satisfacción</a></li>
  <li>
  <li >
    <a href="#tab_certificados" data-toggle="tab">Certificados</a></li>
  <li>

</ul>

<div class="tab-content">

  <div class="tab-pane active" id="tab_reporte_general">

    <div class="row">
      <div class="col-md-12">
        <br>

        <li>Muestra todos los registros de matrículas (No iniciados, Iniciados, Finalizados).</li>

        <li>En el caso de programas abiertos, no muestra los cursos que no hayan sido iniciados por
          los alumnos dado que eso implica que no existe registro de matrícula.</li>

        <li>Si el curso tiene más de una evaluación, estas son mostradas también.</li>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <br>


        <% desde = lms_time.beginning_of_year %>
        <% hasta = lms_time %>

        <%= form_for Enrollment.new, url: training_reports_reporte_general_path, html: {class: 'form-horizontal', method: :post} do |f| %>



          <div class="row">
            <div class="col-md-4">
              <div class="input-group">
                <input type="text" name="desdehasta" id="desdehasta_rg" class="form-control uneditable-input" readonly value="<%= desde.strftime('%d/%m/%Y')%> - <%=hasta.strftime('%d/%m/%Y')%>">
                                    <span class="input-group-addon">
                                      <i class="fa fa-calendar"></i>
                                    </span>
              </div>

              <script type="text/javascript">
                jQuery(function($){
                  $('#desdehasta_rg').daterangepicker({

                    format: 'DD/MM/YYYY',
                    startDate: '<%=desde.strftime('%d/%m/%Y')%>',
                    endDate: '<%=hasta.strftime('%d/%m/%Y')%>',
                    locale: {
                      applyLabel: 'Aplicar',
                      fromLabel: 'Desde',
                      toLabel: 'Hasta',
                      customRangeLabel: 'Custom Range',
                      daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi','Sa'],
                      monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                      firstDay: 1
                    }

                  });
                });


              </script>
            </div>
            <div class="col-md-4">
              <%
                 tipo_fecha_array = {'Todas las fechas' => 1,
                                     'Convocatoria' => 2, 'Convocatoria - Inicio' => 3, 'Convocatoria - Fin' => 4,
                                     'Inicio y fin reales' => 5, 'Inicio real' => 6, 'Fin real' => 7}
              %>

              <%= select_tag(:tipo_fecha, options_for_select(tipo_fecha_array), class: 'form-control') %>

            </div>
          </div>
          <br>
          <table class="table table-bordered table-compresed table-hover">

            <% programs.each do |program| %>

              <thead>
              <tr>
                <th colspan="5"><%= program.nombre%></th>
              </tr>
              </thead>
              <tbody>
              <% program.levels.each do |level| %>

                <% level.courses.where('dncp_id IS NOT NULL').each do |course| %>

                  <% if course.dncp.planning_process_company_unit_id == @planning_process_company_unit.id %>

                    <% program_course = program.program_courses.where('level_id = ? AND course_id = ? ', level.id, course.id).first %>

                    <tr>
                      <td>
                        <input type="checkbox" name="pc_<%= program_course.id %>" value="1">
                      </td>
                      <td><nobr><%= course.codigo %></nobr></td>
                      <td><%= course.nombre %></td>
                      <td><%= course.dncp.company_unit_area.nombre %></td>
                      <td>
                        <% if program_course.activo %>
                          <span class="label label-success">Activo</span>
                        <% else %>
                          <span class="label label-default">Inactivo</span>
                        <% end %>
                      </td>
                    </tr>

                  <% end %>

                <% end %>

              <% end %>
              </tbody>

            <% end %>

          </table>
          <br>
          <div class="row">
            <div class="col-md-3">
              <strong>Mostrar sólo el último estado</strong>
            </div>
            <div class="col-md-9">

              <input type="checkbox" name="solo_ultimo_estado" id ="solo_ultimo_estado" value ="1">
              <script>
                $('#solo_ultimo_estado').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No"
                });
              </script>

              <br>
              <br>
              <li>Se muestra el último registro finalizado de las matrículas (aprobado o reprobado)</li>
              <li>Si el último registro de matrícula no está finalizado no se muestra, se muestra el previo finalizado (aprobado o reprobado)</li>
              <li>Si sólo existe un único registro de matrícula, éste se mostrará sin importar si está finalizado o no.</li>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12 text-right">
              <%= f.submit 'Generar reporte', class: 'btn btn-primary' %>
            </div>
          </div>

        <% end %>

      </div>
    </div>


  </div>

  <div class="tab-pane" id="tab_enc_satis">

    <div class="row">
      <div class="col-md-12">
        <br>



        <% desde = lms_time.beginning_of_year %>
        <% hasta = lms_time %>

        <%= form_for Enrollment.new, url: training_reports_enc_satis_path, html: {class: 'form-horizontal', method: :post} do |f| %>

          <div class="row">
            <div class="col-md-4">
              <div class="input-group">
                <input type="text" name="desdehasta" id="desdehasta_reporte_satisf" class="form-control uneditable-input span3" readonly  value="<%= desde.strftime('%d/%m/%Y')%> - <%=hasta.strftime('%d/%m/%Y')%>">
                                <span class="input-group-addon">
                                  <i class="fa fa-calendar"></i>
                                </span>
              </div>

              <script type="text/javascript">

                $('#desdehasta_reporte_satisf').daterangepicker({

                  format: 'DD/MM/YYYY',
                  startDate: '<%=desde.strftime('%d/%m/%Y')%>',
                  endDate: '<%=hasta.strftime('%d/%m/%Y')%>',
                  locale: {
                    applyLabel: 'Aplicar',
                    fromLabel: 'Desde',
                    toLabel: 'Hasta',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi','Sa'],
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    firstDay: 1
                  }

                });

              </script>
            </div>
          </div>
          <br>
          <table class="table table-bordered table-compresed table-hover">
          <% programs.each do |program| %>

            <thead>
              <tr>
                <th colspan="5"><%= program.nombre%></th>
              </tr>
            </thead>
            <tbody>

            <% program.levels.each do |level| %>

              <% level.courses.where('dncp_id IS NOT NULL').each do |course| %>

                <% if course.dncp.planning_process_company_unit_id == @planning_process_company_unit.id %>

                  <% program_course = program.program_courses.where('level_id = ? AND course_id = ? ', level.id, course.id).first %>

                  <% if program_course.course.polls.where('tipo_satisfaccion = ?', true).size >0 %>

                    <tr>
                      <td>
                        <label class="checkbox">
                          <input type="radio" name="program_course_id" value="<%= program_course.id %>">
                        </label>
                      </td>
                      <td><nobr><%= course.codigo %></nobr></td>
                      <td><%= course.nombre %></td>
                      <td><%= course.dncp.company_unit_area.nombre %></td>
                      <td>
                        <% if program_course.activo %>
                          <span class="label label-success">Activo</span>
                        <% else %>
                          <span class="label label-default">Inactivo</span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>

                <% end %>

              <% end %>

            <% end %>
            </tbody>

          <% end %>
          </table>

          <br>
          <div class="row">
            <div class="col-md-12 text-right">
              <%= f.submit 'Generar reporte', class: 'btn btn-primary' %>
            </div>
          </div>

        <% end %>

      </div>
    </div>


  </div>

  <div class="tab-pane" id="tab_certificados">

    <div class="row">
      <div class="col-md-12">
        <br>

        <% desde = lms_time.beginning_of_year %>
        <% hasta = lms_time %>

        <%= form_for Enrollment.new, url: training_reports_certificados_cursos_rango_path, html: {class: 'form-horizontal', method: :post} do |f| %>

          <div class="row">
            <div class="col-md-4">
              <div class="input-group">
                <input type="text" name="desdehasta_cert" id="desdehasta_cert" class="form-control uneditable-input" readonly  value="<%= desde.strftime('%d/%m/%Y')%> - <%=hasta.strftime('%d/%m/%Y')%>">
                            <span class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                            </span>
              </div>

              <script type="text/javascript">

                $('#desdehasta_cert').daterangepicker({

                  format: 'DD/MM/YYYY',
                  startDate: '<%=desde.strftime('%d/%m/%Y')%>',
                  endDate: '<%=hasta.strftime('%d/%m/%Y')%>',
                  locale: {
                    applyLabel: 'Aplicar',
                    fromLabel: 'Desde',
                    toLabel: 'Hasta',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi','Sa'],
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    firstDay: 1
                  }

                });

              </script>
            </div>
          </div>
          <br>
          <table class="table table-bordered table-compresed table-hover">
          <% programs.each do |program| %>

              <thead>
                <tr>
                  <th colspan="4"><%= program.nombre%></th>
                </tr>
              </thead>
              <tbody>

            <% program.levels.each do |level| %>

              <% level.courses.where('dncp_id IS NOT NULL').each do |course| %>

                <% if course.dncp.planning_process_company_unit_id == @planning_process_company_unit.id %>

                  <% program_course = program.program_courses.where('level_id = ? AND course_id = ? ', level.id, course.id).first %>

                  <tr>
                    <td>
                      <label class="radio">
                        <input type="radio" name="program_course_id" value="<%= program_course.id %>">
                      </label>
                    </td>
                    <td><%= course.codigo %></td>
                    <td><%= course.nombre %></td>
                    <td>
                      <% if program_course.activo %>
                        <span class="label label-success">Activo</span>
                      <% else %>
                        <span class="label label-default">Inactivo</span>
                      <% end %>
                    </td>
                  </tr>

                <% end %>

              <% end %>

            <% end %>
            </tbody>
          <% end %>
          </table>

          <br>
          <div class="row">
            <div class="col-md-12 text-right">
              <%= f.submit 'Generar certificados', class: 'btn btn-primary' %>
            </div>
          </div>

        <% end %>

      </div>
    </div>


  </div>

  </div>


</div>
</div>

  </div>
</div>