<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de cursos'.html_safe, training_indicators_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-bar-chart"></i>
      <%= @program_course.program.nombre %>
      <span>>  <%= @program_course.course.nombre %></span>
    </h1>
  </div>

</div>

<% meses = t('date.month_names') %>
<% meses_array = meses.each_with_index.map { |m,i| [m, i] } %>
<% meses_array.delete_at 0 %>

<%

    num_terminados = Array.new
    num_no_terminados = Array.new
    num_aprobados = Array.new
    num_reprobados = Array.new
    nota_promedio = Array.new
    num_hh = Array.new

%>

<%

   dt_i = Array.new
   dt_f = Array.new

   prev_month = nil

   (@desde..@hasta).each do |fecha|

     unless prev_month == fecha.strftime('%m').to_i

       prev_month = fecha.strftime('%m').to_i

       f = DateTime.new(((fecha).strftime '%Y').to_i, ((fecha).strftime '%m').to_i,1,0,0,0)

       dt_i.push fecha
       dt_f.push fecha + 1.month

     end

   end

%>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">

        <%= form_tag training_indicators_curso_path(@program_course), class:'form-horizontal' do %>

        <div class="form-group">
          <label class="col-md-3 control-label">Rango de fechas</label>
          <div class="col-md-9">
            <div id="dp_hasta" class="input-group date">
              <input type="text" name="desdehasta" id="desdehasta" class="form-control uneditable-input" readonly value="<%= @desde.strftime('%d/%m/%Y') %> - <%= @hasta.strftime('%d/%m/%Y') %>">
              <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
          </div>
        </div>

        <script type="text/javascript">
          jQuery(function($){
            $('#desdehasta').daterangepicker({

              format: 'DD/MM/YYYY',
              startDate: '<%= @desde.strftime('%d/%m/%Y')%>',
              endDate: '<%= @hasta.strftime('%d/%m/%Y')%>',
              minViewMode: 'month',
              locale: {
                applyLabel: 'Aplicar',
                fromLabel: 'Desde',
                toLabel: 'Hasta',
                customRangeLabel: 'Custom Range',
                daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi','Sa'],
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                firstDay: 1
              }

            });
          });

        </script>

          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-9 text-right">
              <%= submit_tag('Generar Reporte', class: 'btn btn-primary') %>
            </div>

          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>



<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Indicadores: <%= @program_course.course.nombre %></legend>


        <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover smart-form">
          <thead>
            <tr>
              <th>

              </th>
              <% dt_i.each do |fecha| %>
                  <th>
                    <%= fecha.strftime '%Y' %><br> <%= meses_array[(fecha.strftime '%m').to_i-1][0] %>
                  </th>
              <% end %>
              <th>
                Total
              </th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>
                  <strong>
                    Capacitaciones terminadas
                  </strong>
                </td>
                <% total = 0 %>
                <% dt_i.each_with_index do |fi, index| %>
                    <td class="text-right">

                      <% val = @program_course.user_courses.where('anulado = ? AND iniciado = ? AND finalizado = ? AND fin >= ? AND fin <= ? ', false, true, true, fi, dt_f[index]).joins(:user).count %>
                      <% total += val %>
                      <%= val if val > 0 %>

                      <% num_terminados.push val %>

                    </td>
                <% end %>
                <td class="text-right">
                  <%= total if total > 0 %>
                  <% num_terminados.push total %>
                </td>
              </tr>

              <tr>
                <td >
                  <strong>
                    &nbsp;&nbsp;&nbsp;- Aprobadas
                  </strong>
                </td>
                <% total = 0 %>
                <% dt_i.each_with_index do |fi, index| %>
                    <td class="text-right">
                      <% val = @program_course.user_courses.where('anulado = ? AND iniciado = ? AND finalizado = ? AND user_courses.aprobado = ? AND fin >= ? AND fin <= ?', false, true, true, true, fi, dt_f[index]).joins(:user).count %>
                      <% total += val %>
                      <%= val if val > 0 %>

                      <% num_aprobados.push val %>

                    </td>
                <% end %>
                <td class="text-right">
                  <%= total if total > 0 %>
                  <% num_aprobados.push total %>
                </td>
              </tr>
              <tr>
                <td >
                  <strong>
                    &nbsp;&nbsp;&nbsp;- Reprobadas
                  </strong>
                </td>
                <% total = 0 %>
                <% dt_i.each_with_index do |fi, index| %>
                    <td class="text-right">
                      <% val = @program_course.user_courses.where('anulado = ? AND iniciado = ? AND finalizado = ? AND user_courses.aprobado = ? AND fin >= ? AND fin <= ?', false, true, true, false, fi, dt_f[index]).joins(:user).count %>
                      <% total += val %>
                      <%= val if val > 0 %>

                      <% num_reprobados.push val %>

                    </td>
                <% end %>
                <td class="text-right">
                  <%= total if total > 0 %>
                  <% num_reprobados.push total %>
                </td>
              </tr>

              <tr>
                <td>
                  <strong>
                    &nbsp;&nbsp;&nbsp;- Nota promedio
                  </strong>
                </td>
                <% total = 0 %>
                <% num_con_promedio = 0 %>
                <% dt_i.each_with_index do |fi, index| %>
                    <td class="text-right">

                      <% t = 0 %>

                      <% n = 0 %>

                      <% val = 0 %>

                      <% @program_course.user_courses.where('anulado = ? AND iniciado = ? AND finalizado = ? AND fin >= ? AND fin <= ? ', false, true, true, fi, dt_f[index]).joins(:user).each do |uc| %>
                        <% if uc.nota %>
                          <% t += uc.nota %>
                          <% n += 1 %>
                        <% end %>
                      <% end %>

                      <% if n > 0 %>

                        <% val = t/n %>

                        <% num_con_promedio += 1 %>

                      <% end %>

                      <% total += val %>

                      <%= number_with_precision(val, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) if val > 0 %>

                      <% nota_promedio.push val %>

                    </td>
                <% end %>

                <td class="text-right">
                  <% if num_con_promedio > 0 %>
                    <% total = total/num_con_promedio %>
                    <%= number_with_precision(total, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) if total > 0 %>
                  <% end %>
                  <% nota_promedio.push total %>
                </td>
              </tr>

              <tr>
                <td>
                  <strong>
                    &nbsp;&nbsp;&nbsp;- Horas-Hombre de capacitación
                  </strong>
                </td>
                <% total = 0 %>
                <% dt_i.each_with_index do |fi, index| %>
                  <td class="text-right">

                    <% val = @program_course.user_courses.where('anulado = ? AND iniciado = ? AND finalizado = ? AND fin >= ? AND fin <= ? ', false, true, true, fi, dt_f[index]).joins(:user).count*@program_course.course.dedicacion_estimada %>
                    <% total += val %>
                    <%= number_with_precision(val, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) if val > 0 %>

                    <% num_hh.push val %>

                  </td>
                <% end %>
                <td class="text-right">
                  <%= number_with_precision(total, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
                  <% num_hh.push total %>
                </td>
              </tr>

              <tr>
                <td>
                  <strong>
                    Capacitaciones no terminadas
                  </strong>
                </td>
                <% total = 0 %>
                <% dt_i.each_with_index do |fi, index| %>
                    <td class="text-right">

                      <%
                         val = if @program_course.program.especifico
                                 @program_course.user_courses.where('anulado = ? AND finalizado = ? AND hasta >= ? AND hasta <= ? ', false, false, fi, dt_f[index]).joins(:user).count
                               else
                                 @program_course.user_courses.where('anulado = ? AND finalizado = ? AND inicio >= ? AND inicio <= ? ', false, false, fi, dt_f[index]).joins(:user).count
                               end
                      %>
                      <% total += val %>
                      <%= val if val > 0 %>

                      <% num_no_terminados.push val %>

                    </td>
                <% end %>
                <td class="text-right">
                  <%= total if total > 0 %>
                  <% num_no_terminados.push total %>
                </td>
              </tr>


          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>

<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <%

           data_table = GoogleVisualr::DataTable.new
           data_table.new_column('string', 'Mes')
           data_table.new_column('number', 'Terminados')
           data_table.new_column('number', 'No terminados')

           data_table.add_rows(dt_i.length+1)

           data_table_array = Array.new

           dt_i.each_with_index do |fecha, index|

             data_table.set_cell(index, 0, meses_array[(fecha.strftime '%m').to_i-1][0].slice(0,3)+' '+(fecha.strftime '%Y'))

             t = num_terminados[index] + num_no_terminados[index]
             if t > 0
                data_table.set_cell(index, 1, (num_terminados[index]*100.0/t).round(1))
                data_table.set_cell(index, 2, (num_no_terminados[index]*100.0/t).round(1))
             else

               data_table.set_cell(index, 1, 0)
               data_table.set_cell(index, 2, 0)
             end

           end

           data_table.set_cell(dt_i.length, 0, 'Total')

           t = num_terminados.last + num_no_terminados.last
           if t > 0
             data_table.set_cell(dt_i.length, 1, (num_terminados.last*100.0/t).round(1))
             data_table.set_cell(dt_i.length, 2, (num_no_terminados.last*100.0/t).round(1))
           else

             data_table.set_cell(dt_i.length, 1, 0)
             data_table.set_cell(dt_i.length, 2, 0)
           end



           opts   = {
                   :title => 'Terminadas vs. No terminadas',
                   :vAxis => {:title => 'Porcentaje'},
                   isStacked: true
           }

           g_terminados_vs_no_terminados = GoogleVisualr::Interactive::ColumnChart.new(data_table, opts)

        %>


        <div id='g_terminados_vs_no_terminados'></div>
        <%= render_chart(g_terminados_vs_no_terminados, 'g_terminados_vs_no_terminados') if g_terminados_vs_no_terminados %>

      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <%

           data_table = GoogleVisualr::DataTable.new
           data_table.new_column('string', 'Mes')
           data_table.new_column('number', 'Aprobados')
           data_table.new_column('number', 'Reprobados')

           data_table.add_rows(dt_i.length+1)

           data_table_array = Array.new

           dt_i.each_with_index do |fecha, index|

             data_table.set_cell(index, 0, meses_array[(fecha.strftime '%m').to_i-1][0].slice(0,3)+' '+(fecha.strftime '%Y'))

             t = num_aprobados[index] + num_reprobados[index]
             if t > 0
               data_table.set_cell(index, 1, (num_aprobados[index]*100.0/t).round(1))
               data_table.set_cell(index, 2, (num_reprobados[index]*100.0/t).round(1))
             else

               data_table.set_cell(index, 1, 0)
               data_table.set_cell(index, 2, 0)

             end

           end

           data_table.set_cell(dt_i.length, 0, 'Total')

           t = num_aprobados.last + num_reprobados.last
           if t > 0
             data_table.set_cell(dt_i.length, 1, (num_aprobados.last*100.0/t).round(1))
             data_table.set_cell(dt_i.length, 2, (num_reprobados.last*100.0/t).round(1))
           else

             data_table.set_cell(dt_i.length, 1, 0)
             data_table.set_cell(dt_i.length, 2, 0)

           end



           opts   = {
                   :title => 'Aprobadas vs. Reprobadas',
                   :vAxis => {:title => 'Porcentaje'},
                   isStacked: true
           }

           g_aprobados_vs_reprobados = GoogleVisualr::Interactive::ColumnChart.new(data_table, opts)

        %>


        <div id='g_aprobados_vs_reprobados'></div>
        <%= render_chart(g_aprobados_vs_reprobados, 'g_aprobados_vs_reprobados') if g_aprobados_vs_reprobados %>

      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <%

           data_table = GoogleVisualr::DataTable.new
           data_table.new_column('string', 'Mes')
           data_table.new_column('number', 'Horas-Hombre')

           data_table.add_rows(dt_i.length+1)

           data_table_array = Array.new

           dt_i.each_with_index do |fecha, index|

             data_table.set_cell(index, 0, meses_array[(fecha.strftime '%m').to_i-1][0].slice(0,3)+' '+(fecha.strftime '%Y'))

             data_table.set_cell(index, 1, num_hh[index])

           end

           data_table.set_cell(dt_i.length, 0, 'Total')

           data_table.set_cell(dt_i.length, 1, num_hh.last)

           opts   = {
                   :title => 'Horas-Hombre',
                   :vAxis => {:title => 'Horas-Hombre'},
                   isStacked: true
           }

           g_hh = GoogleVisualr::Interactive::ColumnChart.new(data_table, opts)

        %>


        <div id='g_hh'></div>
        <%= render_chart(g_hh, 'g_hh') if g_hh %>

      </div>
    </div>
  </div>
</div>


<!-- PAGE RELATED PLUGIN(S) -->
<script src="/assets/datatables2/jquery.dataTables.min.js"></script>
<script src="/assets/datatables2/dataTables.tableTools.min.js"></script>
<script src="/assets/datatables/DT_bootstrap.js"></script>


<script type="text/javascript">

  $(document).ready(function() {

    var oTable = $('#datatable_fixed_column').dataTable({
        "sDom" : "T<'dt-wrapper't>",
        "bSort": false,
        "scrollX": true,
        "oTableTools" : {
            "aButtons": ["xls"],
            "sSwfPath": "/assets/datatables/media/swf/copy_csv_xls_pdf.swf"
        }

    });

    $('.btn-group').css('right','0px');

  })

</script>







