<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <div class="pull-right">
      <%= link_to 'Añadir', add_sel_apply_form_to_template_path(@sel_template.id) %>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <em>Aquí se configuran los datos que serán requeridos para poder postular al proceso.
          Algunos datos se pueden configurar como obligatorios.</em>
      </div>
      <br><br>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-hover table-bordered">
          <thead>
          <tr>
            <th><%= t('activerecord.attributes.sel_apply_form.position') %></th>
            <th><%= t('activerecord.attributes.jm_characteristic.code') %></th>
            <th><%= t('activerecord.attributes.jm_characteristic.name') %></th>
            <th><%= t('activerecord.attributes.jm_characteristic.description') %></th>
            <th>Campos</th>
            <th><%= t('activerecord.attributes.sel_apply_form.mandatory') %></th>
            <th><%= t('activerecord.attributes.sel_apply_form.show_in_list_of_candidates') %></th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <% @sel_template.sel_apply_forms.each do |applyForm| %>
              <tr>
                <td>
                  <%= applyForm.position %>
                </td>
                <td>
                  <%= applyForm.jm_characteristic.code %>
                </td>
                <td>
                  <%= applyForm.jm_characteristic.name %>
                </td>
                <td>
                  <%= applyForm.jm_characteristic.description %>
                </td>
                <td>
                  <% applyForm.jm_characteristic.jm_subcharacteristics.each do |subchar| %>
                      <span class="label label-default"><%= subchar.name %></span><br>
                  <% end %>
                </td>
                <td>
                  <%= icon_true_false_in_show(applyForm.mandatory) %>
                </td>
                <td>
                  <%= icon_true_false_in_show(applyForm.show_in_list_of_candidates) %>
                </td>
                <td>
                  <%= link_to 'Editar', edit_sel_apply_form_path(applyForm) %>
                </td>
                <td>
                  <% if is_apply_form_deletable?(applyForm) %>
                      <%= link_to 'Eliminar', applyForm, method: :delete, data: {confirm: "Está seguro?"} %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      <a href="#formPreview" data-toggle="modal" data-dismiss="focus">Previsualizar formulario</a>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="formPreview" class="modal fade" role="document">
  <div class="modal-dialog modal-lg" style="overflow-y: initial !important">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Previsualización del Formulario de postulación</h4>
      </div>
      <div class="modal-body" style="height: 450px; overflow-y: auto;">
        <% @jm_candidate = JmCandidate.new() %>
        <% @sel_process = SelProcess.new(:sel_template_id => @sel_template.id) %>
        <%= form_for @jm_candidate, :url => '#', :method => :post, class: 'form-horizontal', multipart: true do |f| %>
            <%= render partial: 'jm_process/apply_form_questions', locals: {:f => f} %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>

<script>
  $('#formPreview').on('shown.bs.modal', function (e) {
    toggle_add_answer_link()
  })
</script>