<h1 class="page-title txt-color-blueDark">
  <%= icon_sel_module_html_safe %>
  Selección
  <span>> Plantillas de Procesos de selección</span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">


    <legend>Lista de Plantillas</legend>

    <table class="table table-striped table-hover table-bordered">

      <thead>

      <tr>

        <th>Nombre</th>
        <th>Descripción</th>
        <th>Activo</th>
        <th>
          <%= link_to 'Crear una nueva plantilla', new_sel_template_path %>
        </th>
      </tr>
      </thead>

      <tbody>

      <% @sel_templates.each do |sel_template| %>
          <tr>
            <td><%= sel_template.name %></td>
            <td><%= sel_template.description %></td>
            <td><%= icon_true_false_in_show(sel_template.active) %></td>
            <td><%= link_to 'Configurar', sel_template %></td>
          </tr>
      <% end %>
      </table>
  </div>
</div>