


<%= form_for @master_poll, html: {class: 'form-horizontal'} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos de la encuesta</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :nombre %>">

        <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :nombre, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :descripcion, 'Descripción', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.text_area :descripcion, rows: '5', class: 'form-control' %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :modo_grid, 'Llenar consolidado en modo grid', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.check_box :modo_grid, class: 'form-control' %>

          <script>
            $('#master_poll_modo_grid').bootstrapSwitch({
              onColor: 'success',
              onText: "Sí",
              offColor: 'danger',
              offText: "No",
              size: "small"
            });
          </script>

        </div>

      </div>
<!--
      <div class="form-group">

        <%= f.label :plan_anual, 'Plan anual de capacitación', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.check_box :plan_anual %>

          <script>
            $('#master_poll_plan_anual').bootstrapSwitch({
              onColor: 'success',
              onText: "Sí",
              offColor: 'danger',
              offText: "No",
              size: "small"
            });
          </script>

        </div>

      </div>
-->

      <div class="form-group">

        <%= f.label :to_managers, 'Disponible para gestores de LMS', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.check_box :to_managers %>

          <script>
            $('#master_poll_to_managers').bootstrapSwitch({
              onColor: 'success',
              onText: "Sí",
              offColor: 'danger',
              offText: "No",
              size: "small"
            });
          </script>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :tags, 'Tags', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.text_area :tags, rows: '5', class: 'form-control' %>

        </div>

      </div>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>



