
<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de encuestas', master_polls_path, tabindex: '-1' %>

  </li>
  <li class="active">Eliminar encuesta</li>
</ul>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <legend class="text-center">Eliminar encuesta</legend>

      <dl class="dl-horizontal">
		  
  		  <dt>Número</dt>
  		  <dd><%= @master_poll.numero %>&nbsp;</dd>

        <dt>Nombre</dt>
        <dd><%= @master_poll.nombre %>&nbsp;</dd>
  		  
        <dt>Descripción</dt>
  		  <dd><%= @master_poll.descripcion %>&nbsp;</dd>

  		  <dt>Tags</dt>
  		  <dd><%= @master_poll.tags %>&nbsp;</dd>

      </dl>

        <%= form_for @master_poll, html: { method: :delete } do |f| %>

          <%= recaptcha_tags :display=>{:theme=>'clean'} %>

          <%= f.submit 'Eliminar', class: 'btn btn-primary' %>

        <% end %>

  </div>
</div>

