<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de encuestas'.html_safe, master_polls_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Encuestas
      <span>> Configurar encuesta </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Datos de la encuesta
        </legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Número</strong>
          </div>
          <div class="col-md-9">
            <%= @master_poll.numero %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @master_poll.nombre %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @master_poll.descripcion %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Llenar consolidado en modo grid</strong>
          </div>
          <div class="col-md-9">
            <%= label_yes_not @master_poll.modo_grid %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Disponible para gestores de LMS</strong>
          </div>
          <div class="col-md-9">
            <%= label_yes_not @master_poll.to_managers %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Tags</strong>
          </div>
          <div class="col-md-9">
            <%= @master_poll.tags %>
          </div>
        </div>
        <br>


        <% n_preg = @master_poll.master_poll_questions.count %>
        <div class="row">
          <div class="col-md-3">
            <strong>Número de preguntas</strong>
          </div>
          <div class="col-md-9">
            <% if n_preg == 0 %>
                <span class="label label-danger">No tiene preguntas asignadas</span>
            <% else %>
                <%= n_preg %>
            <% end %>
          </div>
        </div>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to 'Editar', edit_master_poll_path(@master_poll) %>
          &nbsp;&nbsp;

          <% if @master_poll.user_course_polls.size > 0 || @master_poll.poll_process_users.size > 0 %>

              No se pueden cargar preguntas. La encuesta ya ha sido iniciada.

          <% else %>

              <%= link_to 'Cargar preguntas', upload_file_master_poll_path(@master_poll) %>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Preguntas de la encuesta
        </legend>
        <% last_group = 'oaijer poiqjwerpoiqjwpfoijwpfoiqwjepojweo' %>
        <% @master_poll.master_poll_questions.each_with_index do |question, index| %>

            <div>
              <% unless question.group == last_group %>
                  <hr>
                  <h4> Grupo: <%= question.group.html_safe if question.group %></h4>
                  <br>
                  <% last_group = question.group %>
              <% end %>
              <div class="row pregunta-evaluacion-<%= $current_domain %>">
                <div class="col-md-1"><%= index+1 %></div>
                <div class="col-md-11">


                  <div class="row">

                    <div class="col-md-9">
                      <%= question.texto.html_safe %>
                    </div>
                    <div class="col-md-3">
                      Respuesta:

                      <% if question.answer_type == 2 %>
                          Texto
                      <% else %>

                          <% if question.answer_type == 0 || question.respuesta_unica %>
                              Única
                          <% else %>
                              Múltiple
                          <% end %>
                      <% end %>
                      &nbsp;
                      - <%= question.required? ? 'Obligatoria' : 'Opcional' %>
                    </div>

                  </div>

                  <br>

                  <% question.master_poll_alternatives.each_with_index do |alt, index_a| %>

                      <div class="row alternativa-pregunta-evaluacion">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-1"><%= index_a+1 %></div>
                        <div class="col-md-10"><%= alt.texto.html_safe %></div>
                      </div>


                  <% end %>

                  <% question.master_poll_alternative_requirements.each do |master_poll_alternative_requirement| %>
                      <br>
                      <em>
                        Depende de
                        pregunta: <%= master_poll_alternative_requirement.master_poll_alternative.master_poll_question.texto.html_safe %>
                        , alternativa <%= master_poll_alternative_requirement.master_poll_alternative.texto.html_safe %>
                      </em>
                  <% end %>

                </div>

              </div>
            </div>

            <br>

        <% end %>

      </div>

    </div>

  </div>
</div>

