<%= form_for @hr_process_evaluation_manual_q, url: @hr_process_evaluation_manual_q.id ? pe_manual_definition_update_path(@hr_process_evaluation_manual_q) : pe_manual_definition_create_path, html: {method: :post, class: 'form-horizontal'} do |f| %>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos del <%= @hr_evaluation_type_element.nombre.downcase %>
        </legend>

        <%= render 'shared/error_messages', object: f.object %>

        <%= f.hidden_field :hr_process_evaluation_id %>
        <%= f.hidden_field :hr_evaluation_type_element_id %>
        <%= f.hidden_field :hr_process_user_id %>

        <% if @hr_process_evaluation_manual_q.hr_process_evaluation_manual_q_id %>

          <%= f.hidden_field :hr_process_evaluation_manual_q_id %>

          <% if @hr_process_evaluation_manual_q.hr_process_evaluation_manual_q.hr_evaluation_type_element.tiene_clasificacion %>

            <div class="row">

              <div class="col-md-3 text-right">

                <%= @hr_process_evaluation_manual_q.hr_process_evaluation_manual_q.hr_evaluation_type_element.nombre_clasificacion %>

              </div>
              <div class="col-md-9">

                <%= @hr_process_evaluation_manual_q.hr_process_evaluation_manual_q.hr_process_evaluation_q_classification.nombre %>

              </div>

            </div>
            <br>

          <% end %>

          <div class="row">

            <div class="col-md-3 text-right">

              <%= @hr_process_evaluation_manual_q.hr_process_evaluation_manual_q.hr_evaluation_type_element.nombre %>

            </div>

            <div class="col-md-9">

              <%= @hr_process_evaluation_manual_q.hr_process_evaluation_manual_q.texto %>

            </div>

          </div>

          <br>

        <% end %>

        <% if @hr_evaluation_type_element.tiene_clasificacion %>

            <div class="form-group">

              <%= f.label :hr_process_evaluation_q_classification_id, @hr_evaluation_type_element.nombre_clasificacion, class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <% hr_process_evaluation_q_classifications = @hr_process_evaluation.hr_process_evaluation_q_classifications.map { |cla| [cla.nombre, cla.id] } %>

                <%= f.select(:hr_process_evaluation_q_classification_id,
                             options_for_select(hr_process_evaluation_q_classifications, @hr_process_evaluation_manual_q.hr_process_evaluation_q_classification_id),
                             {}, {class: 'form-control'})
                %>

              </div>

            </div>

        <% end %>

        <div class="form-group <%= field_with_errors f, :texto %>">

          <%= f.label :texto, 'Descripción', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.text_area :texto, rows: 5, class: 'form-control' %>

          </div>

        </div>

        <% if @hr_evaluation_type_element.aplica_evaluacion %>

            <div class="form-group <%= field_with_errors f, :peso %>">

              <%= f.label :peso, 'Peso', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_field :peso, class: 'form-control' %>%

                <em>
                  Mínimo: <%= @hr_evaluation_type_element.peso_minimo %>,
                  Máximo: <%= @hr_evaluation_type_element.peso_maximo %>
                </em>
              </div>

            </div>

            <% if @hr_evaluation_type_element.indicador_logro %>

                <div class="form-group">

                  <%= f.label :tipo_indicador, 'Tipo de indicador', class: 'col-md-3 control-label' %>

                  <div class="col-md-9">

                    <% tipo_indicador_array = {'Directo' => 1, 'Inverso' => 2, 'Desviación (+/-)' => 3, 'Rango' => 4, 'Discreto' => 5} %>

                    <%= f.select(:tipo_indicador, options_for_select(tipo_indicador_array, @hr_process_evaluation_manual_q.tipo_indicador), {}, class: 'form-control', onchange: 'selecciona_tipo_meta();') %>

                    <script>
                      function selecciona_tipo_meta(){
                          var tipo_indicador = $( "#hr_process_evaluation_manual_q_tipo_indicador option:selected" ).val();
                          if(tipo_indicador <= 3){
                              $( "#contenedor_meta_unica").show();
                              $( "#contenedor_meta_rango").hide();
                          }else{
                              $( "#contenedor_meta_unica").hide();
                              $( "#contenedor_meta_rango").show();
                          }


                      }
                    </script>

                  </div>

                </div>



                <% if @hr_evaluation_type_element.indicador_logro_descripcion %>

                    <div class="form-group <%= field_with_errors f, :descripcion_indicador %>">

                      <%= f.label :descripcion_indicador, 'Indicador de logro', class: 'col-md-3 control-label' %>

                      <div class="col-md-9">

                        <%= f.text_field :descripcion_indicador, class: 'form-control' %>

                      </div>

                    </div>
                <% end %>

                <div class="form-group <%= field_with_errors f, :meta_indicador %>" id="contenedor_meta_unica">

                  <%= f.label :meta_indicador, 'Meta', class: 'col-md-3 control-label' %>

                  <div class="col-md-9">

                    <%= f.text_field :meta_indicador, class: 'form-control' %>

                  </div>

                </div>

                <div class="form-group <%= 'has-error' if @error_rangos %> " id="contenedor_meta_rango">

                  <%= f.label :meta_rango_indicador, 'Rangos', class: 'col-md-3 control-label' %>


                  <div class="col-md-9">

                    <a href="#"><i class="fa fa-plus" onclick="add_rango();"></i></a>
                    <a href="#"><i class="fa fa-minus" onclick="remove_rango();" style="color: red;"></i></a>

                    <% num_ranks = 0 %>

                    <% @hr_process_evaluation_manual_q.pe_question_ranks.each do |pe_question_rank| %>

                      <div class="row" id="meta_<%= num_ranks %>">

                        <div class="col-md-6">
                          Meta <input id="pe_question_rank_<%= num_ranks %>_goal>" name="pe_question_rank[][<%= 'discrete_' if @hr_process_evaluation_manual_q.tipo_indicador == 5 %>goal]" type="text" class="form-control" value="<%= @hr_process_evaluation_manual_q.tipo_indicador == 4 ? pe_question_rank.goal : pe_question_rank.discrete_goal %>">
                        </div>
                        <div class="col-md-6">
                          Logro(%) <input id="pe_question_rank_<%= num_ranks %>_percentage" name="pe_question_rank[][percentage]" type="text" class="form-control" value="<%= pe_question_rank.percentage %>">
                        </div>

                      </div>

                      <% num_ranks += 1 %>

                    <% end %>

                    <% cont_aux  = 0 %>
                    <% ((num_ranks)..9).each do |num_rank| %>

                      <div class="row" id="meta_<%= num_rank %>">
                        <div class="col-md-6">
                          Meta <input id="pe_question_rank_<%= num_ranks %>_goal" name="pe_question_rank[][<%= 'discrete_' if @hr_process_evaluation_manual_q.tipo_indicador == 5 %>goal]" type="text" class="form-control" value="<%= @goals[cont_aux] %>">
                        </div>
                        <div class="col-md-6">
                          Logro(%) <input id="pe_question_rank_<%= num_ranks %>_percentage" name="pe_question_rank[][percentage]" type="text" class="form-control" value="<%= @percentages[cont_aux] %>">
                        </div>
                      </div>
                      <% cont_aux += 1 %>

                    <% end %>

                    <div class="row">
                      <div class="col-md-6">

                      </div>
                      <div class="col-md-6">
                        <em>
                          Mínimo: <%= @hr_evaluation_type_element.valor_minimo %>,
                          Máximo: <%= @hr_evaluation_type_element.valor_maximo %>
                        </em>
                      </div>
                    </div>

                  </div>

                </div>

                <script>

                  var tipo_indicador = $( "#hr_process_evaluation_manual_q_tipo_indicador option:selected" ).val();
                  if(tipo_indicador <= 3){
                    $( "#contenedor_meta_unica").show();
                    $( "#contenedor_meta_rango").hide();
                  }else{
                    $( "#contenedor_meta_unica").hide();
                    $( "#contenedor_meta_rango").show();
                  }

                  <% num_ranks += @goals.size > @percentages.size ? @goals.size : @percentages.size %>

                  <% (0..(num_ranks-1)).each do |v| %>

                    $( "#meta_<%= v %>").show();

                  <% end %>

                  <% (num_ranks..9).each do |v| %>

                    $( "#meta_<%= v %>").hide();

                  <% end %>

                  numero_rangos = <%= num_ranks %>

                    function add_rango(){
                      if(numero_rangos < 9){

                        $( "#meta_"+numero_rangos).show();
                        numero_rangos += 1;
                      }

                    }

                  function remove_rango(){

                    if(numero_rangos > 0){
                      numero_rangos -= 1;

                      $("#pe_question_rank_"+numero_rangos+"_goal").val('');
                      $("#pe_question_rank_"+numero_rangos+"_percentage").val('');
                      $( "#meta_"+numero_rangos).hide();

                    }

                  }

                </script>

                <div class="form-group <%= field_with_errors f, :unidad_medida_indicador %>">

                  <%= f.label :unidad_medida_indicador, 'Unidad de medida', class: 'col-md-3 control-label' %>

                  <div class="col-md-9">

                    <%= f.text_field :unidad_medida_indicador, class: 'form-control' %>

                  </div>

                </div>

            <% end %>

        <% end %>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">

          <%= f.submit 'Guardar', class: 'btn btn-primary' %>

        </div>

      </div>

    </div>

<% end %>
