<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6 text-center">

    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>
      <br>
      Definición de <%= @hr_evaluation_type_element.hr_evaluation_type.nombre.downcase %>
    </h1>

  </div>
</div>

<%

  if @hr_evaluation_type_element.carga_manual

    definir_elemento_a_autoevaluar = true if @hr_evaluation_type_element.evaluacion_colaborativa && @hr_process_evaluation.hr_process_dimension_e.eval_auto

    definir_elemento_a_evaluar = true if @hr_process_user_connected.hr_process_evalua_rels.where('tipo = ?', 'jefe').count > 0

  end

%>

<% if definir_elemento_a_evaluar || definir_elemento_a_autoevaluar %>

  <% characteristics_eval_des = Characteristic.where('hr_process_assessment = ?', true).reorder('orden_hr_process_assessment') %>

  <div class="row">
    <div class="col-md-12">



      <% if definir_elemento_a_autoevaluar && @hr_process_user_connected.hr_process_level_id %>

        <% manual_q_confirmado = @hr_process_evaluation.manual_questions_confirmed(@hr_process_user_connected.id) %>
        <% numero_manual_q = @hr_process_evaluation.hr_process_evaluation_manual_qs.where('hr_process_user_id = ?',@hr_process_user_connected.id).size %>

        <div class="panel panel-default">
          <div class="panel-body">

            <legend>
              Definir mis <%= @hr_evaluation_type_element.hr_evaluation_type.nombre.downcase %>
            </legend>

            <table class="table table-hover table-bordered">

              <thead>

              <tr>
                <th>#</th>
                <th>Apellidos</th>
                <th>Nombre</th>

                <% characteristics_eval_des.each do |characteristic| %>
                  <th><%= characteristic.nombre %></th>
                <% end %>

                <th colspan="2">
                  Definición de <%= @hr_evaluation_type_element.hr_evaluation_type.nombre.downcase %>
                </th>

              </thead>
              <tbody>

                <tr>
                  <td>
                    1
                  </td>
                  <td>
                    <%= @hr_process_user_connected.user.apellidos %>
                  </td>
                  <td>
                    <%= @hr_process_user_connected.user.nombre %>
                  </td>

                  <% characteristics_eval_des.each do |characteristic| %>

                    <td>
                      <% uc = @hr_process_user_connected.user.user_characteristics.find_by_characteristic_id(characteristic.id) %>
                      <%= uc.valor if uc %>
                    </td>

                  <% end %>

                  <td>
                    <div class="text-center">



                      <% if numero_manual_q == 0 %>

                        <span class="label label-default">No definidos</span>

                      <% elsif manual_q_confirmado %>

                        <span class="label label-success">Finalizado</span>

                      <% else %>

                        <span class="label label-primary">En progreso</span>

                      <% end %>

                    </div>
                  </td>
                  <td>
                    <% if manual_q_confirmado %>
                      <%= link_to 'Consultar', pe_manual_definition_show_path(@hr_process_evaluation, @hr_process_user_connected) %>
                    <% else %>
                      <%= link_to 'Definir', pe_manual_definition_show_path(@hr_process_evaluation, @hr_process_user_connected) %>
                    <% end %>
                  </td>
                </tr>

              </tbody>
            </table>


          </div>
        </div>

      <% end %>


      <div class="panel panel-default">
        <div class="panel-body">



          <% if definir_elemento_a_evaluar %>
            <legend>
              Definir <%= @hr_evaluation_type_element.hr_evaluation_type.nombre.downcase %> de mis <%= @hr_process.alias_sub_plu.downcase %>
            </legend>

            <table class="table table-hover table-bordered">

              <thead>
                <tr>
                  <th>#</th>
                  <th>Apellidos</th>
                  <th>Nombre</th>


                  <% characteristics_eval_des.each do |characteristic| %>

                    <th><%= characteristic.nombre %></th>

                  <% end %>

                  <th colspan="2">
                    Definición de <%= @hr_evaluation_type_element.hr_evaluation_type.nombre.downcase %>
                  </th>

                </tr>

              </thead>
              <tbody>
              <% @hr_process_user_connected.hr_process_evalua_users_como_uniq_order_by_apellidos_nombre('jefe').each_with_index do |hr_process_user, index| %>
                <tr>
                  <td>
                    <%= index+1 %>
                  </td>
                  <td>
                    <%= hr_process_user.user.apellidos %>
                  </td>
                  <td>
                    <%= hr_process_user.user.nombre %>
                  </td>

                  <% characteristics_eval_des.each do |characteristic| %>

                    <td>
                      <% uc = hr_process_user.user.user_characteristics.find_by_characteristic_id(characteristic.id) %>
                      <%= uc.valor if uc %>
                    </td>

                  <% end %>

                  <td>
                    <div class="text-center">

                      <% manual_q_confirmado = @hr_process_evaluation.manual_questions_confirmed(hr_process_user.id) %>

                      <% numero_manual_q = @hr_process_evaluation.hr_process_evaluation_manual_qs.where('hr_process_user_id = ?',hr_process_user.id).length %>

                      <% if numero_manual_q == 0 %>

                        <span class="label label-default">No definidos</span>

                      <% elsif manual_q_confirmado %>

                        <span class="label label-success">Finalizado</span>

                      <% else %>

                        <span class="label label-primary">En progreso</span>

                      <% end %>

                    </div>
                  </td>
                  <td>
                    <% if manual_q_confirmado %>
                      <%= link_to 'Consultar', pe_manual_definition_show_path(@hr_process_evaluation, hr_process_user) %>
                    <% else %>
                      <%= link_to 'Definir', pe_manual_definition_show_path(@hr_process_evaluation, hr_process_user) %>
                    <% end %>

                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>

          <% end %>

        </div>
      </div>

    </div>
  </div>

<% end %>