<%= form_for(@pe_member_group2) do |f| %>
  <% if @pe_member_group2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pe_member_group2.errors.count, "error") %> prohibited this pe_member_group2 from being saved:</h2>

      <ul>
      <% @pe_member_group2.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pe_process %><br />
    <%= f.text_field :pe_process %>
  </div>
  <div class="field">
    <%= f.label :pe_member %><br />
    <%= f.text_field :pe_member %>
  </div>
  <div class="field">
    <%= f.label :pe_group2 %><br />
    <%= f.text_field :pe_group2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
