<p id="notice"><%= notice %></p>

<p>
  <b>Pe process:</b>
  <%= @pe_member_group2.pe_process %>
</p>

<p>
  <b>Pe member:</b>
  <%= @pe_member_group2.pe_member %>
</p>

<p>
  <b>Pe group2:</b>
  <%= @pe_member_group2.pe_group2 %>
</p>


<%= link_to 'Edit', edit_pe_member_group2_path(@pe_member_group2) %> |
<%= link_to 'Back', pe_member_group2s_path %>
