

<script type="text/javascript" language="javascript" src="/assets/datatables_new_version/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="/assets/datatables_new_version/dataTables.buttons.min.js"></script>
<!--<script type="text/javascript" language="javascript" src="/assets/datatables_new_version/buttons.flash.min.js"></script>-->

<script type="text/javascript" language="javascript" src="/assets/datatables_new_version/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="/assets/datatables_new_version/buttons.html5.min.js"></script>
<script type="text/javascript" language="javascript" src="/assets/datatables_new_version/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" language="javascript" src="/assets/datatables_new_version/buttons.bootstrap.min.js"></script>
<script type="text/javascript" language="javascript" src="/assets/datatables_new_version/buttons.colVis.min.js"></script>

<script>

  $.fn.dataTable.Buttons.swfPath = '/assets/datatables_new_version/flashExport.swf';

  var table_<%= table_id %> = null;

  $(document).ready(function() {

    var nc = 0;

    var items_list = [];

    $('#<%= table_id %> thead input').each(function () {
      $(this).attr('id',"input-filter-"+nc );
      nc += 1;
    });

    table_<%= table_id %> = $('#<%= table_id %>').DataTable({
      <% if defined? file_name %>
        "dom": '<"row dataTable_custom_top_bottom" <"col-md-1 text-left"l> <"col-md-11 text-right"B> > t <"row dataTable_custom_top_bottom" <"col-md-4"i> <"col-md-8 text-right"p> >',
        <% if defined?(cols_to_export) && cols_to_export.size > 0 %>
        "buttons": [{extend: 'excelHtml5',title: '<%= file_name %>', exportOptions: {columns: <%= cols_to_export %>}}],
        <% elsif defined?(export_by_class) && export_by_class %>
        "buttons": [{extend: 'excelHtml5',title: '<%= file_name %>', exportOptions: {columns: '.export_to_excel'}}],
        <% else %>
        "buttons": [{extend: 'excelHtml5',title: '<%= file_name %>'}],
        <% end %>
      <% else %>
        "dom": '<"row dataTable_custom_top_bottom" <"col-md-1 text-left"l> <"col-md-11 text-right"<"div-datatable-simulate-buttons">> > t <"row dataTable_custom_top_bottom" <"col-md-4"i> <"col-md-8 text-right"p> >',
      <% end %>
      "scrollX": <%= defined?(xScroll) ? xScroll : 'true' %>,
      "language": {
        "lengthMenu": "_MENU_",
        "zeroRecords": "No se encontraron registros",
        "info": "Página _PAGE_ de _PAGES_",
        "infoEmpty": "No records available",
        "infoFiltered": "(filtered from _MAX_ total records)",
        "paginate": {
          "previous": "Página previa",
          "next": "Página siguiente"
        }
      },
      "lengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "Todos"]],
      "pageLength": <%= defined?(page_len) ? page_len : 25  %>,
      <% if defined?(cols_to_hide) && cols_to_hide.size > 0 %>

        "columnDefs": [
          {
            "targets": <%= cols_to_hide %>,
            "visible": false,
            "searchable": false
          }
        ],

      <% elsif defined?(hide_by_class) && hide_by_class %>

        "columnDefs": [
          {
            "targets": 'hide_in_datatable',
            "visible": false,
            "searchable": false
          }
        ],

      <% end %>
      "orderCellsTop" : true,
      "order": []

    });

    var visible_rows_<%= table_id %> = null;

    table_<%= table_id %>.columns().every( function () {
      var column = this;

      $( '#input-filter-'+this.index(), table_<%= table_id %>.table().header() ).on( 'keyup change', function () {
        if ( column.search() !== this.value ) {
          column.search( this.value ).draw();
        }

        <% if defined?(code_to_execute) %>


          visible_rows_<%= table_id %> = table_<%= table_id %>.rows( { search: 'applied' } ).data();

          <%= code_to_execute.html_safe %>



        <% end %>

      } );

    } );

  });

</script>