<% token = SecureRandom.urlsafe_base64(nil, false).to_s %>
<% include_no_active_checkbox = defined?(include_no_active_checkbox) ? include_no_active_checkbox : false %>

<%= form_for user, url: url_to_go, html: {class: 'user_search_form' + token, method: :post} do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <legend>Buscador</legend>

      <div class="row">
        <div class="col-md-12">

          <div class="row">
            <div class="col-md-4"><label>&nbsp;&nbsp;<%= alias_username %></label></div>
            <div class="col-md-4"><label>&nbsp;&nbsp;Apellidos</label></div>
            <div class="col-md-4"><label>&nbsp;&nbsp;Nombre</label></div>
          </div>

          <div class="row">
            <div class="col-md-4"><%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %></div>
            <div class="col-md-4"><%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %></div>
            <div class="col-md-4"><%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %></div>
          </div>
          <% if include_no_active_checkbox %>
            <div class="row">
              <div class="col-md-4">
                <%= check_box_tag 'include_no_active', 1, !f.object.activo? %>
                <%= label_tag 'Incluir no activos' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right"><%= f.submit 'Buscar', class: 'btn btn-primary' %></div>
    </div>

  </div>
<% end %>

<div class="row">
  <div class="col-md-12 col-md-offset-0" id="users_search_datatable_div<%= token %>">

  </div>
</div>


<script>

    <% unless user.new_record? %>
    $(function () {
        $(':submit').submit()
    });
    <% end %>

    $('.user_search_form<%=token%>').on('submit', function (e) {
        e.preventDefault();
        url = $(this).attr('action');
        $.ajax({
            url: url,
            type: 'post',
            async: false,
            data: $('.user_search_form<%=token%>').serialize(),
            error: function (XMLHttpRequest, errorTextStatus, error) {
                alert("Failed: " + errorTextStatus + " ;" + error);
            },
            success: function (data) {
                $('#users_search_datatable_div<%=token%>').html(data);
                choose_a_user($('#users_search_datatable_div<%=token%>'))
            }
        });
    });

    function choose_a_user(results_container) {
        if ($(results_container).find('.link_to_go_search').size() == 1){
            $(results_container).find('.link_to_go_search').first().trigger( "click" )
        }

    }
</script>