<% users = defined?(users) ? users : [] %>
<% action_to_do = defined?(action_to_do) ? action_to_do : nil %>
<% action_confirm_mssg = defined?(action_confirm_mssg) ? action_confirm_mssg : nil %>
<% action_name = defined?(action_name) ? action_name : nil %>
<% as_ajax = defined?(as_ajax) ? as_ajax : nil %>
<% token = SecureRandom.urlsafe_base64(nil, false).to_s %>

<% if users.size > 0 %>
  <table class="table table-striped table-hover table-bordered">

    <thead>
    <tr>
      <th width="10%">#</th>
      <th width="<%= action_to_do ? '25%' : '30%' %>"><%= alias_username %></th>
      <th width="<%= action_to_do ? '25%' : '30%' %>">Apellidos</th>
      <th width="<%= action_to_do ? '25%' : '30%' %>">Nombre</th>
      <%= '<th width="15%"></th>'.html_safe if action_to_do %>
    </tr>
    </thead>

    <tbody>
    <% users.each_with_index do |user, index| %>
      <%= render partial: 'shared/users_search_datatable_row',
                 locals: {user: user,
                          index: index.to_i + 1,
                          action_to_do: action_to_do,
                          action_confirm_mssg: action_confirm_mssg,
                          as_ajax: as_ajax,
                          action_name: action_name} %>
    <% end %>
    </tbody>
  </table>
<% end %>

<div class="row">
  <div id="users_search_result<%=token%>" class="col-md-12 col-md-offset-0">

  </div>
</div>

<script>
    function as_ajax_function(link) {
        url = $(link).data('url');
        on_going(link);

        <% if action_confirm_mssg %>
        if (confirm('<%= action_confirm_mssg %>')) {
            $.ajax({
                url: url,
                type: "post",
                dataType: "html",
                error: function (XMLHttpRequest, errorTextStatus, error) {
                    alert("Failed: " + errorTextStatus + " ;" + error);
                    finished(link)
                },
                success: function (result) {
                    $('#users_search_result<%=token%>').html(result);
                    finished(link)
                }
            });
        }
        <% else %>
        $.ajax({
            url: url,
            type: "post",
            dataType: "html",
            error: function (XMLHttpRequest, errorTextStatus, error) {
                alert("Failed: " + errorTextStatus + " ;" + error);
                finished(link)
            },
            success: function (result) {
                $('#users_search_result<%=token%>').html(result);
                finished(link)
            }
        });
        <% end %>
    }

    function on_going(link){
        $('.action_name_span').show();
        $('.link_to_go_search').hide();
        class_spinner = '.spinner_search_row_user_'+$(link).data('user-id');
        $(class_spinner).show();
    }

    function finished(link){
        $('.link_to_go_search').show();
        $('.action_name_span').hide();
        class_spinner = '.spinner_search_row_user_'+$(link).data('user-id');
        $(class_spinner).hide();
    }
</script>