<div class="panel panel-default">
  <div class="panel-body">

    <div class="row">
      <div class="col-md-12">
        <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-user"></i>
          <% if defined? titulo %>
              <%= titulo %>
          <% else %>
            Perfil de Usuario
          <% end %>
        </h3>
      </div>
    </div>

    <div class="row">

      <div class="col-md-3 text-center">

        <% if user.foto %>
          <img src="<%= request.base_url %>/storage/<%=company_codigo%>/fotos_usuarios/<%=user.foto%>" class="img-rounded user-foto">
        <% else %>
          <img src="/assets/default_user.png" class="img-rounded user-foto">
        <% end %>

      </div>
      <div class="col-md-9">

        <div class="row">
          <div class="col-md-11">
            <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= user.nombre %> <%= user.apellidos %></span></h3>
          </div>

        </div>

        <% if company.display_code_in_user_profile %>

          <div class="row">
            <div class="col-md-12 ">
              <em data-toggle="tooltip" data-placement="right" title="<%= alias_username %>"><%= user.codigo %></em>
            </div>
          </div>

        <% end %>

        <div class="row">
          <div class="col-md-12 ">
            <a><em><%= user.email %></em></a>
          </div>
        </div>

        <% Characteristic.where('mini_ficha = ?', true).reorder('orden_mini_ficha').each do |characteristic| %>

          <div class="row">
            <div class="col-md-12 ">
              <%= user.formatted_characteristic_value characteristic %>
            </div>
          </div>

        <% end %>

        <% if defined? extra_info %>

          <hr>

          <% extra_info.each do |key, value| %>
            <div class="row">
              <div class="col-md-12 ">
                <%= key.upcase %>: <%= value %>
              </div>
            </div>
          <% end %>

        <% end %>



          <%
            ocultar_historial = false unless defined? ocultar_historial
            hide_link_detail = hide_link_detail ? hide_link_detail : false
          %>

          <% if !hide_link_detail && (admin_logged_in? || user.id != user_connected.id) %>

            <div class="row">
              <div class="col-md-12 text-right">
                <%= render partial: 'shared/user_profile_popover',
                           locals: {
                             user: user,
                             ocultar_historial: ocultar_historial,
                             titulo: defined?(titulo) ? titulo : 'Perfil de Usuario',
                             details_for_boss_from_pe: defined?(details_for_boss_from_pe) ? details_for_boss_from_pe : false,
                             force_pe: defined?(force_pe) ? force_pe : false,
                             is_boss: defined?(is_boss) ? is_boss : false
                           }
                %>
              </div>
            </div>

          <% end %>



      </div>

    </div>

  </div>

</div>