<a href="#user_profile_<%= user.id %>" data-toggle="modal">
  Ver ficha...
</a>

<div id="user_profile_<%= user.id %>" class="modal fade modal-wide-80 text-left" role="dialog" aria-labelledby="Label" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="Label">
          <% if defined? titulo %>
            <%= titulo %>
          <% else %>
            Perfil de Usuario
          <% end %>
        </h4>
      </div>

      <div class="modal-body">

        <div class="row">

          <div class="col-md-3 text-center">

            <% if user.foto %>
              <img src="<%= request.base_url %>/storage/<%=company_codigo%>/fotos_usuarios/<%=user.foto%>" class="img-rounded user-foto">
            <% else %>
              <img src="/assets/default_user.png" class="img-rounded user-foto">
            <% end %>

          </div>
          <div class="col-md-9">

            <div class="row">
              <div class="col-md-11">
                <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= user.nombre %> <%= user.apellidos %></span></h3>
              </div>

            </div>

            <% if @company.display_code_in_user_profile %>

              <div class="row">
                <div class="col-md-12 ">
                  <em data-toggle="tooltip" data-placement="right" title="<%= alias_username %>"><%= user.codigo %></em>
                </div>
              </div>

            <% end %>

            <div class="row">
              <div class="col-md-12 ">
                <a><em><%= user.email %></em></a>
              </div>
            </div>

            <% Characteristic.where('mini_ficha = ?', true).reorder('orden_mini_ficha').each do |characteristic| %>

              <div class="row">
                <div class="col-md-12 ">
                  <%= user.formatted_characteristic_value characteristic %>
                </div>
              </div>

            <% end %>

          </div>



        </div>



        <br>



          <ul class="nav nav-tabs">

              <li class="active"><a href="#user_data_<%= user.id %>" data-toggle="tab">Información laboral y personal</a></li>


            <% unless ocultar_historial %>
              <% if ct_module_lms? %>
                <li><a href="#training_history_<%= user.id %>" data-toggle="tab" id="li_training_history">Historial de capacitación</a></li>
              <% end %>
              <% if ct_module_pe? %>
                <li><a href="#performace_evaluation_history_<%= user.id %>" data-toggle="tab">Historial de evaluación de desempeño</a></li>
              <% end %>

            <% end %>

            <% if force_pe %>
              <li><a href="#performace_evaluation_history_<%= user.id %>" data-toggle="tab">Historial de evaluación de desempeño</a></li>
            <% end %>

          </ul>



          <div class="tab-content tab-content-ficha-user-<%= $current_domain %>">

            <br>

              <div class="tab-pane active" id="user_data_<%= user.id %>">

                <%= render partial: '/shared/user_profile_data',
                           locals: {
                               user: user,
                               is_manager: false,
                               is_boss: defined?(is_boss) ? is_boss : false,
                               is_own_user: (session[:user_connected_id] && user.id == user_connected.id) ? true : false
                           }
                %>

              </div>

            <% unless ocultar_historial %>
              <% if ct_module_lms? %>
              <div class="tab-pane" id="training_history_<%= user.id %>">

                <%= render partial: '/shared/user_profile_training_history',
                           locals: {
                               user: user,
                               details_for_himself: false

                           }
                %>

              </div>
              <% end %>
              <% if ct_module_pe? %>
              <div class="tab-pane " id="performace_evaluation_history_<%= user.id %>">

                <%= render partial: '/shared/user_profile_performance_evaluation_history',
                           locals: {
                               user: user,
                               details_for_himself: false,
                               details_for_boss: true,
                               details_for_boss_from_pe: defined?(details_for_boss_from_pe) ? details_for_boss_from_pe : false
                           }
                %>

              </div>
              <% end %>
            <% end %>

            <% if force_pe %>

              <div class="tab-pane " id="performace_evaluation_history_<%= user.id %>">

                <%= render partial: '/shared/user_profile_performance_evaluation_history',
                           locals: {
                               user: user,
                               details_for_himself: false,
                               details_for_boss: true,
                               details_for_boss_from_pe: defined?(details_for_boss_from_pe) ? details_for_boss_from_pe : false,
                               force_pe: force_pe
                           }
                %>

              </div>

            <% end %>



          </div>

      </div>

    </div>

  </div>

</div>
