<% @tracking_evaluations = user.tracking_evaluations.joins(:tracking_form_instances) %>



<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
      <tr>
        <th>Proceso</th>
        <th>Evaluador</th>
        <th>Estado</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>

      <% @tracking_evaluations.each do |evaluation| %>
          <tr>
            <td><%= evaluation.tracking_process.name %></td>
            <td><%= evaluation.attendant_user.comma_full_name %></td>
            <td>
              <% if evaluation.traceable? #tracking_form_instance.first_due_date && tracking_form_instance.done?   %>
                  Seguimiento
              <% elsif evaluation.done? %>
                  Finalizado
              <% else %>
                  Definición
              <% end %>
            </td>
            <td>
              <% if evaluation.traceable? %>
                  <%= link_to 'Ver', '#', :onclick => 'load_participant_view(this)', :data => {:url => tracking_participant_track_in_modal_path(evaluation, true), :process_name => evaluation.tracking_process.name} %>
              <% elsif evaluation.tracking_form_instances.any? %>
                  <%= link_to 'Ver', '#', :onclick => 'load_participant_view(this)', :data => {:url => tracking_form_instance_show_in_modal_path(evaluation.tracking_form_instances.first, true), :process_name => evaluation.tracking_process.name} %>
              <% else %>
                  &nbsp;
              <% end %>

            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>




<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 80%">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div id="participant_detail">
        </div>
      </div>
    </div>

  </div>
</div>

<style>
  .modal-body {
    max-height: 500px;
    overflow: auto;
  }
</style>

<script>
  $('#myModal').modal({show: false})

  function load_participant_view(link) {
    //div_loading = '<div class="panel panel-default"><div class="panel-body"><div class="panel-body text-center"><i class="fa fa-refresh fa-spin"></i> Cargando</div></div></div>'
    //$('#participant_detail').html('div_loading')
    url = $(link).data('url')
      process_nane = $(link).data('process-name')
    $.post(url, function (data) {
      $('#participant_detail').html(data)
      $('#myModal').modal('show');
      $("#myModal .modal-title").text(process_nane)
      $("#myModal .modal-body").animate({scrollTop: 0}, "slow");
    });

  }
</script>
