<% active_processes = ScholarshipProcess.where(active: true) %>

<% historic_applications = ScholarshipApplication.joins(:scholarship_process).where(subject_user_id: user.id, :scholarship_processes => {active: false}) %>


<% if active_processes.any? %>
  <legend>Procesos Activos</legend>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.scholarship_process.name') %></th>
      <th><%= t('activerecord.attributes.scholarship_process.description') %></th>
      <th><%= t('activerecord.attributes.scholarship_process.app_from_date') %></th>
      <th><%= t('activerecord.attributes.scholarship_process.app_to_date') %></th>
      <th>Estado</th>
      <th>&nbsp;</th>
    </tr>
    </thead>

    <tbody>
    <% active_processes.where(active: true).each do |process| %>
      <% application = process.scholarship_applications.where(subject_user_id: user.id).first
         application_state = case true
                             when application && application.evaluated
                               application.evaluation ? 'Aprobado' : 'Rechazado'
                             when application && application.done
                               'En revisión'
                             when application && !application.done
                               'Borrador'
                             else
                               'No postulado'
                             end
         action_label = (!application || (!application.done && application.registered_by_user == user_connected)) ? 'Postular' : 'Consultar'
      %>
      <tr>
        <td><%= process.name %></td>
        <td><%= process.description.html_safe %></td>
        <td><%= (localize process.app_from_date, format: :day_snmonth_year) %></td>
        <td><%= (localize process.app_to_date, format: :day_snmonth_year) %></td>
        <td><%= application_state %></td>
        <td>
          <% if action_label == 'Postular' && !process.applicable?(lms_date) %>
            <span class="label label-danger">Plazo terminado</span>
          <% else %>
            <%= link_to action_label, scholarship_application_go_to_path(process, user) %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% if historic_applications.any? %>
  <legend>Procesos Históricos</legend>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.scholarship_process.name') %></th>
      <th><%= t('activerecord.attributes.scholarship_process.description') %></th>
      <th><%= t('activerecord.attributes.scholarship_process.app_from_date') %></th>
      <th><%= t('activerecord.attributes.scholarship_process.app_to_date') %></th>
      <th>Estado</th>
      <th>&nbsp;</th>
    </tr>
    </thead>

    <tbody>
    <% historic_applications.each do |application| %>
      <% application_state = case true
                             when application && application.evaluated
                               application.evaluation ? 'Aprobado' : 'Rechazado'
                             when application && application.done
                               'En revisión'
                             when application && !application.done
                               'Borrador'
                             else
                               'No postulado'
                             end
         action_label = 'Consultar'
      %>
      <tr>
        <td><%= application.scholarship_process.name %></td>
        <td><%= application.scholarship_process.description.html_safe %></td>
        <td><%= (localize application.scholarship_process.app_from_date, format: :day_snmonth_year) %></td>
        <td><%= (localize application.scholarship_process.app_to_date, format: :day_snmonth_year) %></td>
        <td><%= application_state %></td>
        <td><%= link_to action_label, scholarship_application_go_to_path(application.scholarship_process, user) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>