<% action_to_do = defined?(action_to_do) ? action_to_do : nil %>
<% user = defined?(user) ? user : nil %>
<% action_confirm_mssg = defined?(action_confirm_mssg) ? action_confirm_mssg : nil %>
<% action_name = defined?(action_name) && !action_name.blank? ? action_name : 'Escoger' %>
<% index = defined?(index) && !index.nil? ? index.to_i : 1 %>
<% as_ajax = defined?(as_ajax) ? as_ajax : nil %>

<% if user %>
  <% paths_array = [vac_manager_historical_requests_from_path(user),
                    vac_manager_manual_requests_from_path(user),
                    vac_manager_historical_deletable_from_path(user),
                    vac_manager_manual_requests_simple_list_path(user),
                    vac_warning_exceptions_index_find_user_information_path(user),
                    vac_manager_unpaid_benefits_for_path(user),
                    vac_manager_paid_yn_benefits_for_path(user)] %>

  <% action_to_do = paths_array[action_to_do.to_i] if action_to_do %>
  <tr>
    <td><%= index %></td>
    <td><%= user.codigo %></td>
    <td><%= user.apellidos %></td>
    <td><%= user.nombre %></td>
    <% if action_to_do %>
      <td>
        <i class="fa fa-refresh fa-spin spinner_search_row_user_<%=user.id%>" style="display: none"></i> &nbsp;<span class="action_name_span" style="display: none"><%=action_name%></span>
        <% if as_ajax %>
        <%= link_to action_name, '#', class:'link_to_go_search', onclick: 'as_ajax_function(this)', data: { url: action_to_do, user_id: user.id } %>
          <% else %>
          <% if action_confirm_mssg %>
            <%= link_to action_name, action_to_do, data: {confirm: action_confirm_mssg} %>
          <% else %>
            <%= link_to action_name, action_to_do %>
          <% end %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>

