<h1>Listing pe_member_rel_shared_comments</h1>

<table>
  <tr>
    <th>Pe member rel</th>
    <th>Comment</th>
    <th>Registered at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pe_member_rel_shared_comments.each do |pe_member_rel_shared_comment| %>
  <tr>
    <td><%= pe_member_rel_shared_comment.pe_member_rel %></td>
    <td><%= pe_member_rel_shared_comment.comment %></td>
    <td><%= pe_member_rel_shared_comment.registered_at %></td>
    <td><%= link_to 'Show', pe_member_rel_shared_comment %></td>
    <td><%= link_to 'Edit', edit_pe_member_rel_shared_comment_path(pe_member_rel_shared_comment) %></td>
    <td><%= link_to 'Destroy', pe_member_rel_shared_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pe member rel shared comment', new_pe_member_rel_shared_comment_path %>
