
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos del <%= alias_user.downcase %></legend>

        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group <%=  field_with_errors f, :codigo %>">

          <%= f.label :codigo, alias_username, class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.text_field :codigo, autofocus: 'autofocus', class: 'form-control' %>

          </div>

        </div>

        <div class="form-group <%=  field_with_errors f, :nombre %>">

          <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.text_field :nombre, class: 'form-control' %>

          </div>

        </div>

        <div class="form-group <%=  field_with_errors f, :apellidos %>">

          <%= f.label :apellidos, 'Apellidos', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.text_field :apellidos, class: 'form-control' %>

          </div>

        </div>

        <div class="form-group <%=  field_with_errors f, :email %>">

          <%= f.label :email, 'Correo electrónico', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.text_field :email, class: 'form-control' %>

          </div>

        </div>


      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
