<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-user"></i>
      <%= alias_users %>
      <span>> Carga masiva de nuevos <%= alias_users.downcase %></span>
    </h1>
  </div>
</div>


<% if @lineas_error && @lineas_error.length > 0 %>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <div class="panel panel-default">
          <div class="panel-body">

            <table class="table table-striped table-hover table-condensed table-bordered">

                <thead>
                    <tr>
                      <th>Fila</th>
                      <th>Errores</th>
                      <th>Detalle</th>

                    </tr>
                </thead>

                <tbody>

                    <% @lineas_error.each_with_index do |l,index| %>

                      <tr>
                        <td><%= l %></td>
                        <td>
                          <% @lineas_error_messages[index].each do |error| %>
                            <li class="text-danger"><%= error %></li>
                          <% end %>
                        </td>
                        <td><%= @lineas_error_detalle[index] %></td>
                      </tr>

                    <% end %>

                </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>


<% end %>


<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Formato de archivo (XLSX)</legend>

        <strong>Formato:</strong>

        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>
                <%= alias_username %>
              </th>
              <th>
                nombre
              </th>
              <th>
                apellidos
              </th>
              <th>
                email
              </th>
              <th>
                nombre_característica_x
              </th>
              <th>
                nombre_característica_y
              </th>
              <th>
                nombre_característica_z
              </th>
              <th>
                nombre_característica_...
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>texto</td>
              <td>texto</td>
              <td>texto</td>
              <td>texto</td>
              <td>texto</td>
              <td>texto</td>
              <td>texto</td>
              <td>texto</td>
            </tr>
          </tbody>

        </table>

        <br>

        <strong>Ejemplo:</strong>
        <table class="table table-bordered table-condensed">
          <thead>
          <tr>
            <th>
              <%= alias_username %>
            </th>
            <th>
              nombre
            </th>
            <th>
              apellidos
            </th>
            <th>
              email
            </th>
            <th>
              Sucursal
            </th>
            <th>
              Puesto
            </th>
            <th>
              Área
            </th>
            <th>
              Sueldo
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>43376592</td>
            <td>Jorge</td>
            <td>Ruiz Rabines</td>
            <td>jorge.ruiz@exa.pe</td>
            <td>Lima</td>
            <td>Gerente</td>
            <td>Tecnologías de la Información</td>
            <td>12000</td>
          </tr>
          <tr>
            <td>84736232</td>
            <td>PEDRO</td>
            <td>DE TEZANOS PINTO D.</td>
            <td>pedro@exa.cl</td>
            <td>Santiago de Chile</td>
            <td>CEO</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>48365853</td>
            <td>John</td>
            <td>Smith</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>

        </table>
        <br>
        <strong>Consideraciones:</strong>
        <br><br>
        - Las columnas 1,2 y 3 (<%= alias_username %>, nombre, apellidos) son obligatorias (siempre deben tener un valor).
        <br>
        <br>
        <% if alias_username == 'RUT' %>

          - El RUT no debe contener el dígito de verificación
          <br><br>

        <% end %>
        - La columna 4 (email) es opcional. Si se deja en blanco no se registrará el email del <%= alias_user.downcase %>.
        <br>
        <br>
        - Las cabeceras a partir de la columna 5, deben contener el nombre de la característica del <%= alias_user.downcase %> que desee registrarse.
        <br>
        <br>
        - A partir de la columna 5 la información es opcional. Si se deja en blanco no se registrará dicha información.
      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">

          <%= link_to 'Descargar formato para carga masiva', em_download_xls_for_massive_create_update_path('new') %>

        </div>

      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <%= form_for em_employees_carga_masiva_path, html: {class: 'form-horizontal', multipart: true} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Carga masiva de nuevos <%= alias_users.downcase %></legend>

          <div class="form-group">

            <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= file_field 'upload', 'datafile', class: 'form-control' %>
              <br>
              <em>El formato del archivo debe ser xlsx</em>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Subir', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>


  </div>
</div>

