<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-user"></i>
      <%= alias_users %>
      <span>> Carga masiva de nuevos <%= alias_users.downcase %></span>
    </h1>
  </div>
</div>


<% if @lineas_error && @lineas_error.length > 0 %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default">
        <div class="panel-body">

          <table class="table table-striped table-hover table-condensed table-bordered">

            <thead>
            <tr>
              <th>Fila</th>
              <th>Errores</th>
              <th>Detalle</th>

            </tr>
            </thead>

            <tbody>

            <% @lineas_error.each_with_index do |l,index| %>

              <tr>
                <td><%= l %></td>
                <td>
                  <% @lineas_error_messages[index].each do |error| %>
                    <li class="text-danger"><%= error %></li>
                  <% end %>
                </td>
                <td><%= @lineas_error_detalle[index] %></td>
              </tr>

            <% end %>

            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>


<% end %>


<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Formato de archivo (XLSX)</legend>



        <strong>Ejemplo:</strong>
        <table class="table table-bordered table-condensed">
          <thead>
          <tr>
            <th>
              RUT SIN DÍGITO
            </th>
            <th>
              DÍGITO
            </th>
            <th>
              NOMBRES
            </th>
            <th>
              APELLIDO PATERNO
            </th>
            <th>
              APELLIDO MATERNO
            </th>
            <th>
              APELLIDOS
            </th>
            <th>
              EMAIL
            </th>
            <th>
              CÓDIGO ESCOLARIDAD
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>43376592</td>
            <td>8</td>
            <td>Jorge</td>
            <td>Ruiz</td>
            <td>Rabines</td>
            <td>Ruiz Rabines</td>
            <td>jorge.ruiz@exa.pe</td>
            <td></td>
          </tr>
          <tr>
            <td>84736232</td>
            <td>4</td>
            <td>PEDRO</td>
            <td>DE TEZANOS</td>
            <td>PINTO D.</td>
            <td>DE TEZANOS PINTO D.</td>
            <td>pedro@exa.cl</td>
            <td>4534534</td>
          </tr>
          <tr>
            <td>48365853</td>
            <td>3</td>
            <td>John</td>
            <td>Smith</td>
            <td></td>
            <td>Smith</td>
            <td></td>
            <td></td>
          </tr>
          </tbody>

        </table>
        <br>
        <strong>Consideraciones:</strong>
        <br><br>
        - Las columnas 1,2,3,4 y 6 (rut sin dígito, nombres, apellido paterno y apellidos) son obligatorias (siempre deben tener un valor).
        <br>
        <br>
        - La columna 7 (email) es opcional. Si se deja en blanco no se registrará el email del <%= alias_user.downcase %>.
        <br>
        <br>
        - A partir de la columna 8 la información es opcional. Si se deja en blanco no se registrará dicha información.
      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">

          <%= link_to 'Descargar formato para carga masiva', em_download_xls_for_massive_create_update_sk_path('new') %>

        </div>

      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <%= form_for em_employees_carga_masiva_sk_path, html: {class: 'form-horizontal', multipart: true} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Carga masiva de nuevos <%= alias_users.downcase %></legend>

          <div class="form-group">

            <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= file_field 'upload', 'datafile', class: 'form-control' %>
              <br>
              <em>El formato del archivo debe ser xlsx</em>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Subir', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>


  </div>
</div>

