

<div class="row">
  <div class="col-md-6 col-md-offset-3">


    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users"></i>
      <%= alias_users %>
      <span>> Gestionar <%= alias_users.downcase %></span>
    </h1>

    <%= form_for @user, url: em_search_path, method: :post do |f| %>


      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Buscador</legend>


          <div class="row">

            <div class="col-md-12">

              <div class="row">

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;<%= alias_username %></label>
                </div>

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Apellidos</label>
                </div>

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Nombre</label>
                </div>


              </div>

              <div class="row">

                <div class="col-md-4">

                  <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>

                </div>

                <div class="col-md-4">

                  <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>

                </div>

                <div class="col-md-4">

                  <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>

                </div>

              </div>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Buscar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>


    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Resultados de la búsqueda</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>
            <tr>
              <th>#</th>
              <th><%= alias_username %></th>
              <th>Apellidos</th>
              <th>Nombre</th>
              <th>Correo electrónico</th>
              <th> </th>
            </tr>
          </thead>

          <tbody>

            <% @users.each_with_index do |user, index| %>

              <tr>
                <td><%= index+1 %></td>

                <td><%= user.codigo %></td>
                <td><%= user.apellidos %></td>
                <td><%= user.nombre %></td>
                <td><%= user.email %></td>

                <td>
                  <%= link_to 'ver', em_show_employee_path(user) %>
                </td>
              </tr>

            <% end %>


          </tbody>


        </table>

      </div>
    </div>
  </div>
</div>