<table class="table table-bordered table-striped table-hover" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <th><%= 'Beneficio' %></th>
    <th><%= t('activerecord.attributes.lic_request.days') +'/'+t('activerecord.attributes.lic_request.hours') %></th>
    <th><%= 'Solicitado' %></th>
    <th><%= t('activerecord.attributes.lic_request.money') %></th>
    <th><%= 'Solicitado' %></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% licenses.each_with_index do |license, index| %>
    <% requests = event.requests_for(license.id) %>
    <% money_sum = event.sum_money_for(license.id) %>
    <% hours_sum = event.sum_hours_for(license.id) %>
    <% days_sum = event.sum_days_for(license.id) %>
    <tr>
      <td><%= index + 1 %></td>
      <td>
        <%= license.name %>
        <% link_to '<i class="fa fa-info-circle" aria-hidden="true"></i>'.html_safe, '#', onclick: 'show_license_info(this)', data: { url:bp_admin_license_info_modal_path(license) } if false %>
      </td>
      <td><%= license.days.to_s+(license.days>1 ? ' días' : ' día') if license.days %><%= license.hours.to_s+(license.hours>1 ? ' horas' : ' hora') if license.hours %></td>
      <td>
        <% if license.days %>
          <%= label_message_datable(days_sum >= license.days ? 0 : 2, days_sum.to_s+'/'+license.days.to_s) %>
        <% else %>
          <% if license.hours %>
            <%= label_message_datable(hours_sum >= license.hours ? 0 : 2, hours_sum.to_s+'/'+license.hours.to_s) %>
          <% end %>
        <% end %>
      </td>
      <td><%= license.money.to_s + ' ' + license.currency.to_s if license.money %></td>
      <td>
        <% if license.money && license.money > 0 %>
          <%= label_message_datable(money_sum >= license.money ? 0 : 2, money_sum.to_s+'/'+license.money.to_s+ ' ' + license.currency) %>
        <% end %>
      </td>
      <td>
        <% if license.available && ((license.days && days_sum < license.days) || (license.hours && hours_sum < license.hours) || (license.money && money_sum < license.money)) %>
          <%= link_to t('views.lic_registers.flow_process.new_request'), '#', onclick: 'show_request_form(this)', data: { url:lic_register_request_new_path(event, license)  }%>
          <%= '<br>'.html_safe if requests.size > 0 %>
      <% end %>

        <% if requests.size > 0 %>
          <%= link_to 'Ver detalle', '#', class: 'detail'+license.id.to_s, onclick: 'toggle_detail(this)', data: { class: '.detail'+license.id.to_s } %>
          <%= link_to 'Ocultar detalle', '#', class: 'detail'+license.id.to_s, onclick: 'toggle_detail(this)', data: { class: '.detail'+license.id.to_s }, style:'display: none' %>
      <% end %>
      </td>
    </tr>
    <tr id="tr_requests_list_of_<%=license.id%>" class="detail<%=license.id%> requests_detail" style="display: none;">
      <td colspan="7">
        <%= render partial: 'lic_registers/lic_requests_simple_list',
                   locals: { license: license,
                             requests: requests,
                             go_to_manage: go_to_manage,
                             register: register } %>
      </td>
    </tr>
  <% end %>
</table>

<script>
    function show_request_form(link){
        url = $(link).data('url');
        $.ajax({
            url: url,
            type: 'get',
            dataType: "html",
            success: function (data) {
                $('#new_or_edit_body').html(data);
                $('#new_or_edit_row').show();
            }
        });
    }
</script>

<script>
    function toggle_detail(link) {
        $($(link).data('class')).toggle();
    }
</script>