<div class="panel panel-default">
  <div class="panel-body">

    <legend><%= t('views.lic_registers.legends.event_info')+': '+event.bp_event.name %></legend>

    <% f_license = event.bp_event.bp_licenses.where(available: true).first %>
    <% if f_license && !f_license.with_event %>
      <div class="row">
        <div class="col-md-4" align="right"><strong><%= 'Período' %></strong></div>
        <div class="col-md-8"><%= label_tag 'request_period', period_of(f_license, event.lic_requests.active.first), class: 'request_period' %></div>
      </div>

      <br>
    <% else %>

      <% if event.regularizable_items(true, true).size > 0 %>
        <div class="row">
          <div class="col-md-12 col-md-offset-0">
            <div class="alert alert-info">
              <%= t('views.lic_module.messages.mandatory_regularizable_pending') %>
            </div>
          </div>
        </div>
        <br>
      <% end %>

      <% if event.bp_event.bp_licenses.first.with_event %>
        <div class="row">
          <div class="col-md-4" align="right">
            <strong><%= event.bp_event.event_date_name %></strong>
          </div>
          <div class="col-md-8"><%= (localize event.date_event, :format => :day_snmonth_year) if event.date_event %></div>
        </div>
        <br>
      <% end %>


      <% if event.bp_form %>
        <% event.bp_form.active_items.each do |item| %>
          <%= render partial: 'lic_registers/item_row_show',
                     locals: {item: item,
                              value: event.exists_item?(item.id)} %>
        <% end %>
      <% end %>
    <% end %>

    <div class="row">
      <div class="col-md-4" align="right"><strong><%= 'Aprobadores' %></strong></div>
      <div class="col-md-8">
        <% approvers = LicApprover.user_approvers(event.user_id) %>
        <% approvers.each_with_index do |approver, idx| %>
          <%= approver.user.comma_full_name %>
          <%= '<br>'.html_safe if approvers.size > (idx+1) %>
        <% end %>

        <% if approvers.empty? %>
          <em><strong class="text-danger"> Sin aprobadores </strong></em>
          &nbsp;&nbsp;&nbsp;
          <strong class="control-label text-danger"><i class="fa fa-exclamation" aria-hidden="true"></i></strong>
          &nbsp;&nbsp;&nbsp;
        <% end %>
      </div>
    </div>

    <br>

    <% mandatory = event.mandatory_items? %>

    <% if mandatory %>
      <div class="row">
        <div class="col-md-12 col-md-offset-0" style="font-size: 10px;">
          <% if event.mand_reg(true, true) %>
            <%= ('&nbsp;&nbsp;&nbsp;<sup>**</sup>:Puedes realizar tu solicitud sin los comprobantes, pero deberás enviarlos por mail en cuanto los tengas.').html_safe %>
          <% else %>
            <%= ('&nbsp;&nbsp;&nbsp;<sup>*</sup>Obligatorio').html_safe if event.mand_reg(true, false) %>
            <%= ('&nbsp;&nbsp;&nbsp;<sup>**</sup>Obligatorio, regularizable').html_safe if event.mand_reg(true, true) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% if defined?(editable) && editable && event.bp_event.bp_licenses.first.with_event %>
    <% if defined?(register) && register && event.available_register_to_edit %>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to t('views.lic_registers.flow_process.edit'), lic_register_event_edit_path(event) %>
        </div>
      </div>
    <% end %>
    <% if defined?(manager) && manager && (event.regularizable_items(true, false).size > 0 && event.paid_requests.all.size == 0 )%>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to t('views.lic_registers.flow_process.edit'), lic_manager_event_edit_path(event) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div id="license_info_modal_container"></div>
<div id="status_description_modal_container"></div>
<div id="paid_description_modal_container"></div>

    <script>
        function show_or_hide(link){
            id_to_show = $(link).data('id-to-show');
            id_to_hide = $(link).data('id-to-hide');

            $(id_to_hide).hide();
            $(id_to_show).show();
        }
    </script>

    <script>
        function set_status_description(link){
            url = $(link).data('url');
            $.ajax({
                url: url,
                type: 'get',
                dataType: "html",
                success: function (data) {
                    $('#status_description_modal_container').html(data)
                    $('#status_description_modal').modal('show');
                }
            });
        }
    </script>

    <script>
        <% if defined?(show_generic_message) and show_generic_message %>
        $(function () {
            var flash = '.generic_message_<%=request.id%>';
            $(flash).show(500).delay(2000).hide(500);
        });
        <% end %>
    </script>


<script>
    function show_license_info(link){
        url = $(link).data('url');
        $.ajax({
            url: url,
            type: 'get',
            dataType: "html",
            success: function (data) {
                $('#license_info_modal_container').html(data)
                $('#license_info_modal').modal('show');
            }
        });
    }
</script>

