<% manager = defined?(manager) ? manager : nil %>
<% register = defined?(register) ? register : nil %>

<%= form_for event, url: url_to_go, html: {class: 'form-horizontal'}, method: :post do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <legend><%= t('views.lic_registers.legends.event_info')+': '+event.bp_event.name %></legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div id="date_messages">

      </div>

      <%= f.text_field :bp_license_id, class: 'form-control', autofocus: 'autofocus', style: "display: none" %>

      <% if event.bp_event.bp_licenses.first.with_event %>
        <% if manager %>
          <div class="row">
            <div class="col-md-3" align="right"><%= event.bp_license.bp_event.event_date_name %></div>
            <div class="col-md-9"><%= (localize event.date_event, :format => :day_snmonth_year) if event.date_event %></div>
          </div>
          <br>
        <% else %>
          <div class="form-group <%= field_with_errors f, :date_event %>">
            <%= f.label :date_event, class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <div class="input-group date">
                <%= f.text_field :date_event,
                                 class: 'form-control date-picker',
                                 style: "cursor: pointer;",
                                 onchange: 'date_event(this)',
                                 :data => {:format => 'dd/MM/yyyy',
                                           url_date_event: lic_register_event_verify_events_date_path(event.bp_event, event.user_id)},
                                 :value => f.object.date_event ? f.object.date_event.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y'),
                                 :readonly => true %>
                <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if event.bp_form %>
        <%= f.text_field :bp_form_id, class: 'form-control', autofocus: 'autofocus', style: "display: none" %>
        <% event.bp_form.active_items.each do |item| %>
          <% value = event.exists_item?(item.id) ? event.exists_item?(item.id) : LicItemValue.new(bp_item_id: item.id) %>
          <% if (item.regularizable && manager) || (register && event.available_register_to_edit) %>
            <%= f.fields_for :lic_item_values, value do |f_forms| %>
              <%= render partial: 'lic_registers/item_row_form',
                         locals: {item: item,
                                  value: value,
                                  value_form: f_forms,
                                  just_added: true,
                                  editable: (item.regularizable && manager) || (register && event.available_register_to_edit)} %>
            <% end %>
          <% else %>
            <%= render partial: 'lic_registers/item_row_show',
                       locals: {item: item,
                                value: event.exists_item?(item.id),
                                label_col_md: 3,
                                label_col_md_2: 9,
                                label_strong:false } %>
          <% end %>
        <% end %>
      <% end %>

      <% mandatory = event.mandatory_items? %>

      <% if mandatory %>
        <div class="row">
          <div class="col-md-12 col-md-offset-0" style="font-size: 10px;">
            <% if event.mand_reg(true, true) %>
              <%= ('&nbsp;&nbsp;&nbsp;<sup>**</sup>:Puedes realizar tu solicitud sin los comprobantes, pero deberás enviarlos por mail en cuanto los tengas.').html_safe %>
            <% else %>
              <%= ('&nbsp;&nbsp;&nbsp;<sup>*</sup>Obligatorio').html_safe if event.mand_reg(true, false) %>
              <%= ('&nbsp;&nbsp;&nbsp;<sup>**</sup>Obligatorio, regularizable').html_safe if event.mand_reg(true, true) %>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit t('views.vac_requests.forms.save'), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<script>
    $('.date-picker').datetimepicker({
        language: 'es',
        pickTime: false
    });

    $('.value_time_picker').datetimepicker({
        language: 'es',
        pickTime: true,
        pickDate: false
    });

    $('.value_datetime_picker').datetimepicker({
        language: 'es',
        pickTime: true,
        pickDate: true
    });
</script>


<script>
    function bring_file_form(link){
        $(link).closest('.file_row_show').next('.list_form').show();
        $(link).closest('.file_row_show').hide();
    }

    function bring_file_show(link){
        $(link).closest('.list_form').hide();
        $(link).closest('.list_form').prev('.file_row_show').show();
        $(link).closest('.list_form').find('.form-control').val('');
    }
</script>

<script>
    function date_event(link){
        url = $(link).data('url-date-event');
        $.ajax({
            url: url,
            data: {
                'date_event': $('#lic_event_date_event').val()
            },
            type: "post",
            async: false,
            dataType: "html",
            error: function (XMLHttpRequest, errorTextStatus, error) {
                alert("Failed: " + errorTextStatus + " ;" + error);
            },
            success: function (result) {
                $('#date_messages').html(result)
            }
        });
    }
</script>