<%= value_form.text_field :bp_item_id, class: 'form-control', autofocus: 'autofocus', style: "display: none" %>
<% item_name = item.name %>

<% if editable %>
  <% if item.item_string? %>
    <div class="form-group <%= field_with_errors value_form, :value_string %>">
      <label class="col-md-3 control-label"><%=item_name%><%= '<sup>*</sup>'.html_safe if item.mandatory && !item.regularizable %> <%='<sup>**</sup>'.html_safe if item.mandatory && item.regularizable %></label>
      <div class="col-md-9">
        <%= value_form.text_field :value_string, class: 'form-control', autofocus: 'autofocus', value: value.value_string %>
        <em><%= item.description %></em>
      </div>
    </div>
  <% end %>

  <% if item.item_text? %>
    <div class="form-group <%= field_with_errors value_form, :value_text %>">
      <label class="col-md-3 control-label"><%=item_name%><%= '<sup>*</sup>'.html_safe if item.mandatory && !item.regularizable %> <%='<sup>**</sup>'.html_safe if item.mandatory && item.regularizable %></label>
      <div class="col-md-9">
        <%= value_form.text_area :value_text, class: 'form-control', autofocus: 'autofocus', rows: 3, value: value.value_text %>
        <em><%= item.description %></em>
      </div>
    </div>
  <% end %>

  <% if item.item_date? %>
    <div class="form-group <%= field_with_errors value_form, :value_date %>">
      <label class="col-md-3 control-label"><%=item_name%><%= '<sup>*</sup>'.html_safe if item.mandatory && !item.regularizable %> <%='<sup>**</sup>'.html_safe if item.mandatory && item.regularizable %></label>
      <div class="col-md-9">
        <div class="input-group date" style="cursor: pointer;">
          <%= value_form.text_field :value_date, class: 'form-control date-picker value_date_picker', style: "cursor: pointer;", :data => {:format => 'dd/MM/yyyy'}, :value => value.value_date ? value.value_date.strftime('%d/%m/%Y') : '', :readonly => true %>
          <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
        </div>
        <em><%= item.description %></em>
      </div>
    </div>
  <% end %>

  <% if item.item_int? %>
    <div class="form-group <%= field_with_errors value_form, :value_int %>">
      <label class="col-md-3 control-label"><%=item_name%><%= '<sup>*</sup>'.html_safe if item.mandatory && !item.regularizable %> <%='<sup>**</sup>'.html_safe if item.mandatory && item.regularizable %></label>
      <div class="col-md-9">
        <%= value_form.number_field :value_int, class: 'form-control', autofocus: 'autofocus', step: 1, value: value.value_int %>
        <em><%= item.description %></em>
      </div>
    </div>
  <% end %>

  <% if item.item_float? %>
    <div class="form-group <%= field_with_errors value_form, :value_float %>">
      <label class="col-md-3 control-label"><%=item_name%><%= '<sup>*</sup>'.html_safe if item.mandatory && !item.regularizable %> <%='<sup>**</sup>'.html_safe if item.mandatory && item.regularizable %></label>
      <div class="col-md-9">
        <%= value_form.number_field :value_float, class: 'form-control', autofocus: 'autofocus', value: value.value_float %>
        <em><%= item.description %></em>
      </div>
    </div>
  <% end %>

  <% if item.item_list? %>
    <div class="form-group <%= field_with_errors value_form, :value_option_id %>">
      <label class="col-md-3 control-label"><%=item_name%><%= '<sup>*</sup>'.html_safe if item.mandatory && !item.regularizable %> <%='<sup>**</sup>'.html_safe if item.mandatory && item.regularizable %></label>
      <div class="col-md-9">
        <%= value_form.select :value_option_id,
                              options_for_select(item.select_active_options, value.value_option_id),
                              {},
                              class: 'form-control' %>
        <em><%= item.description %></em>
      </div>
    </div>
  <% end %>

  <% if item.item_file? %>
    <% if item.id && value && value.value && value.value.size > 0 %>
      <%= render partial: 'lic_registers/item_row_show',
                 locals: {item: item,
                          value: value,
                          get_form: editable,
                          label_col_md: 3,
                          label_strong: false} %>

      <div class="form-group list_form <%= field_with_errors value_form, :value_file %>" style="display: none">
        <label class="col-md-3 control-label"><%=item_name%><%= '<sup>*</sup>'.html_safe if item.mandatory && !item.regularizable %> <%='<sup>**</sup>'.html_safe if item.mandatory && item.regularizable %></label>
        <div class="col-md-7">
          <%= value_form.file_field :value_file, class: 'form-control' %>
        </div>
        <div class="col-md-2">
          <%= link_to 'Cancelar', '#', onclick: 'bring_file_show(this)' %>
        </div>
        <div class="col-md-9 col-md-offset-3">
          <em><%= item.description %></em>
        </div>
      </div>
    <% else %>
      <div class="form-group <%= field_with_errors value_form, :value_file %>">
        <label class="col-md-3 control-label"><%=item_name%><%= '<sup>*</sup>'.html_safe if item.mandatory && !item.regularizable %> <%='<sup>**</sup>'.html_safe if item.mandatory && item.regularizable %></label>
        <div class="col-md-9">
          <%= value_form.file_field :value_file, class: 'form-control' %>
          <em><%= item.description %></em>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if item.item_decimal? %>
    <div class="form-group <%= field_with_errors value_form, :value_decimal %>">
      <label class="col-md-3 control-label"><%=item_name%><%= '<sup>*</sup>'.html_safe if item.mandatory && !item.regularizable %> <%='<sup>**</sup>'.html_safe if item.mandatory && item.regularizable %></label>
      <div class="col-md-9">
        <%= value_form.number_field :value_decimal, class: 'form-control', autofocus: 'autofocus', value: value.value_decimal %>
        <em><%= item.description %></em>
      </div>
    </div>
  <% end %>

  <% if item.item_datetime? %>
    <div class="form-group <%= field_with_errors value_form, :value_datetime %>">
      <label class="col-md-3 control-label"><%=item_name%><%= '<sup>*</sup>'.html_safe if item.mandatory && !item.regularizable %> <%='<sup>**</sup>'.html_safe if item.mandatory && item.regularizable %></label>
      <div class="col-md-9">
        <div class="input-group date">
          <%= value_form.text_field :value_datetime, class: 'form-control value_datetime_picker', style: "cursor: pointer;", :data => {:format => 'dd/MM/yyyy'}, :value => value.value_datetime ? value.value_datetime.strftime('%d/%m/%Y %H:%M') : '', :readonly => true %>
          <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
        </div>
        <em><%= item.description %></em>
      </div>
    </div>
  <% end %>

  <% if item.item_time? %>
    <div class="form-group <%= field_with_errors value_form, :value_time %>">
      <label class="col-md-3 control-label"><%=item_name%><%= '<sup>*</sup>'.html_safe if item.mandatory && !item.regularizable %> <%='<sup>**</sup>'.html_safe if item.mandatory && item.regularizable %></label>
      <div class="col-md-9">
        <div class="input-group date">
          <%= value_form.text_field :value_time, class: 'form-control value_time_picker', style: "cursor: pointer;", :data => {:format => 'dd/MM/yyyy'}, :value => value.value_time ? value.value_time.strftime('%H:%M') : '', :readonly => true %>
          <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
        </div>
        <em><%= item.description %></em>
      </div>
    </div>
  <% end %>
<% end %>