<div class="row file_row_show">
  <div class="col-md-<%= defined?(label_col_md) ? label_col_md : 4 %>" align="right">
    <% label_strong_1 = defined?(label_strong) ? label_strong : true %>
    <% item_name = item.name %>
    <% item_name += '<sup>*</sup>' if item.mandatory && !item.regularizable %>
    <% item_name += '<sup>**</sup>' if item.mandatory && item.regularizable %>
    <%= ('<strong>').html_safe if label_strong_1 %> <%= item_name.html_safe %> <%= ('</strong>').html_safe if label_strong_1 %>
  </div>
  <div class="col-md-<%= defined?(label_col_md_2) ? label_col_md_2 : 8 %>">
    <%= value.value if value %>
    <%= link_to ('<i class="fa fa-download" aria-hidden="true"></i>').html_safe, lic_register_download_file_path(value.value_file) if value && value.value_file? %>
    <% if defined?(get_form) && get_form %>
      &nbsp;&nbsp;&nbsp;
    <%= link_to 'Cambiar', '#', onclick: 'bring_file_form(this)' %>
    <% end %>
    <br>
    <em><%= item.description %></em>
    <br>
  </div>
</div>
