<% show_users = defined?(show_users) ? show_users : nil %>
<% dont_show_status = defined?(dont_show_status) ? dont_show_status : nil %>
<% register = defined?(register) ? register : nil %>
<% validator = defined?(validator) ? validator : nil %>
<% url_to_go = defined?(url_to_go) ? url_to_go : nil %>
<% manager = defined?(manager) ? manager : nil %>
<% dont_show_license_name = defined?(dont_show_license_name) ? dont_show_license_name : nil %>
<% editable = defined?(editable) ? editable : nil %>

  <% requests.each do |request| %>
  <div id="mobile_request_<%= request.id %>" class="req-container">
  <% day_to_return = request.begin ? next_days_laborable_license(request.bp_license.only_laborable_days, request.user_id, request.begin, request.days) : '' %>
    <% if register && url_to_go %>
      <% url = vac_records_register_register_show_path(request) %>
    <% else %>
      <% url = nil %>
    <% end %>
    <div <%= ('data-url="' + url + '" onclick="show_request(this)" style="cursor: pointer;"').html_safe if url %>>
      <% if manager %>
        <div class="row">
          <div class="col-xs-12" align="right">
            <%= link_to t('views.vac_requests.flow_process.show_historical_info'), '#', onclick: 'show_request_historical_info(this)', data: {url: vac_manager_show_request_historical_info_path(request)} %>
            <br>
            <%= link_to t('views.vac_requests.flow_process.manage'), vac_manager_request_manage_validation_path(request, 2) %>
          </div>
        </div>
        <br>
      <% end %>

      <% if show_users %>
        <div class="row">
          <div class="col-xs-12 col-xs-0 filterable">
            <%= request.user.codigo + ' - ' + request.user.apellidos + ', ' + request.user.nombre %>
          </div>
        </div>
      <% end %>

      <% unless dont_show_license_name %>
        <% if request.bp_license %>
          <div class="row">
            <div class="col-xs-12 col-xs-0 filterable">
             <strong><%= request.bp_license.name %></strong>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class="row">
        <% if request.hours %>
          <div class="col-xs-12 col-md-8 filterable">
            <%= (localize request.begin, :format => :day_snmonth_year) %>
            <%= ' - ' + request.hours.to_s+' '%><%= request.hours == 1 ? 'Hora' : 'Horas' %>
            <% licenses = be_license(request.begin, day_to_return, request.user_id) %>
            <% if licenses.size > 0 %>
              <i class="fa fa-exclamation-triangle" aria-hidden="true" title="
                  <% licenses.each do |license| %>
<%= license.absence_type + ': ' + (localize license.date_begin, :format => :day_snmonth_year) + ' - ' + (localize license.date_end, :format => :day_snmonth_year) %>
                  <% end %>"></i>
            <% end %>
            &nbsp;&nbsp;&nbsp;
            <% unless request.status_description.blank? %>
              <% if $mobile_client %>
                <br>
                <em><%= request.status_description %></em>
              <% else %>
                <i class="fa fa-comment" aria-hidden="true" title="<%= request.status_description %>"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>


        <% if request.days %>
          <div class="col-xs-12 col-md-8 filterable">
            <strong>
            <%= (localize request.begin, :format => :day_snmonth_year) %>
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <%= (localize request.end, :format => :day_snmonth_year) %>
            </strong>
            <% licenses = be_license(request.begin, day_to_return, request.user_id) %>
            <% if licenses.size > 0 %>
              <i class="fa fa-exclamation-triangle" aria-hidden="true" title="
                  <% licenses.each do |license| %>
<%= license.absence_type + ': ' + (localize license.date_begin, :format => :day_snmonth_year) + ' - ' + (localize license.date_end, :format => :day_snmonth_year) %>
                  <% end %>"></i>
            <% end %>

            &nbsp;&nbsp;&nbsp;
            <% unless request.status_description.blank? %>
              <% if $mobile_client %>
                <br>
                <em><%= request.status_description %></em>
              <% else %>
                <i class="fa fa-comment" aria-hidden="true" title="<%= request.status_description %>"></i>
              <% end %>
            <% end %>
          </div>
          <% unless $mobile_client %>
            <div class="col-xs-4 filterable">
              <strong>
                <%= 'Retorno: ' + (localize day_to_return, :format => :day_snmonth_year) if day_to_return %>
              </strong>
            </div>
          <% end %>
        <% end %>
      </div>

      <% if request.days && request.days != 0 %>
        <div class="row">
          <div class="col-xs-12 d filterable">
            <%= label_tag 'days', 'Días: ' %>
            <strong><%= label_tag 'days_amount', (number_with_precision(request.days, precision: 0, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false).to_s) %></strong>
          </div>
        </div>
      <% end %>

      <% if $mobile_client %>
        <div class="row">
          <div class="col-xs-12 filterable">
            <strong>
            <% new_tag = 'Retorno: ' + (localize day_to_return, :format => :day_snmonth_year) if day_to_return %>
            <%= label_tag 'go_back', new_tag %>
            </strong>
          </div>
        </div>
      <% end %>

      <% unless dont_show_status %>
        <div class="row">
          <div class="col-xs-12 filterable">
            <%= label_message_datable(request.status_colour, request.status_message) %>
          </div>
        </div>
      <% end %>

      <% if editable && validator %>
        <br>
        <div class="row">
          <div class="col-xs-12 filterable" align="right">
            <% if request.approved? && (request.begin.to_datetime > lms_time) %>
              <%= link_to t('views.vac_requests.flow_process.deny'), '#', onclick: 'set_status_description(this)', class: 'btn btn-danger btn-xs', data: {url: lic_approvers_change_status_modal_path(request, VacRequest.rejected)} %>
            <% else %>
              <% if request.pending? %>
                <%= link_to t('views.vac_requests.flow_process.deny'), '#', onclick: 'set_status_description(this)', class: 'btn btn-danger btn-xs', data: {url: lic_approvers_change_status_modal_path(request, VacRequest.rejected)} %>
                &nbsp;&nbsp;&nbsp;
                <%= link_to t('views.vac_requests.flow_process.approve'), '#', onclick: 'set_status_description(this)', class: 'btn btn-success btn-xs', data: {url: lic_approvers_change_status_modal_path(request, VacRequest.approved)} %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <hr>
    </div>
  </div>
<% end %>

<script>
    function show_rule_vacations_info(link){
        url = $(link).data('url');
        now = $(link).data('now');

        $.ajax({
            url: url,
            type: 'get',
            data: {now: now},
            dataType: "html",
            success: function (data) {
                $('#rule_vacations_modal_container').html(data);
                $('#rule_vacations_info_modal').modal('show');
            }
        });
    }
</script>

<script>
    function set_paid_description(link){
        url = $(link).data('url');
        $.ajax({
            url: url,
            type: 'get',
            dataType: "html",
            success: function (data) {
                $('#paid_description_modal_container').html(data)
                $('#paid_description_modal').modal('show');
            }
        });
    }
</script>