<%= form_for request, url: defined?(url_to_go)? url_to_go : lic_register_request_update_path(request.id), html: {class: 'form-horizontal request_form'}, method: :post do |f| %>
  <% user_id = request.id ? request.lic_event.user_id : user_connected.id %>
  <div class="panel panel-default">
    <div class="panel-body">
      <legend class="event_info"
              data-event-id="<%= request.lic_event.id %>"
              data-event-date="<%= request.lic_event.date_event.strftime('%d/%m/%Y') %>"
              data-request-id="<%=request.id%>">
        <%= request.bp_license.name %> </legend>

      <%= f.text_field :bp_license_id, value:request.bp_license_id, class:"hidden" %>

      <% if defined?(manager) && manager %>
        <div class="row">
          <div class="col-md-12" align="right">
            <%= link_to t('views.lic_managers.flow_process.show_historical_info'), '#', onclick: 'show_request_historical_info(this)', data: {url: lic_manager_show_request_historical_info_path(request)} %>
          </div>
        </div>
      <% end %>

      <% if request.id && !request.bp_license.available %>
        <div class="row">
          <div class="col-md-12 alert alert-info">
            Se está haciendo uso de un beneficio desactualizado
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-12" id="messages_div_container">
          <%= render partial: 'lic_registers/license_contidions_messages',
                     locals: { messages: messages } %>
        </div>
      </div>

      <% if request.bp_license.days || request.bp_license.hours %>
        <% unless (request.bp_license.whenever && request.bp_license.with_event) || (!request.bp_license.with_event) %>
          <div class="row">
            <div class="col-md-3" align="right"><%= t('activerecord.attributes.lic_request.begin') %></div>
            <div class="col-md-9 request_begin_show"><%= (localize request.begin, :format => :day_snmonth_year if request.begin) %></div>
          </div>

          <br>

          <% if request.bp_license.with_period %>
            <div class="row">
              <div class="col-md-3" align="right"><%= 'Período' %></div>
              <div class="col-md-9"><%= label_tag 'request_period', period, class: 'request_period' %></div>
            </div>

            <br>
            <% end %>
        <% end %>
      <% end %>

      <% if request.bp_license.days || request.bp_license.hours %>
        <% if (request.bp_license.whenever && request.bp_license.with_event) || (!request.bp_license.with_event) %>
          <div class="form-group <%= field_with_errors f, :begin %>">
            <%= f.label :begin, class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <div class="input-group date" style="cursor: pointer;">
                <%= f.text_field :begin,
                                 class: 'form-control date-picker',
                                 style: "cursor: pointer;",
                                 data: {url: lic_register_verify_licenses_conditions_path(user_id, request.bp_license),
                                        url_get_end: lic_register_get_end_path(request.bp_license, user_id),
                                        url_get_go_back: lic_register_get_go_back_path(request.bp_license, user_id),
                                        url_get_available: lic_register_get_available_path(request.bp_license.id, user_id),
                                        url_get_request_period: lic_register_get_period_path(request.bp_license.id, user_id),
                                        format: 'dd/MM/yyyy'},
                                 value: request.begin ? request.begin.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y'),
                                 onchange: 'validation_messages(this)',
                                 readonly: true %>
                <span class="input-group-addon" onclick="show_closest_calendar(this)"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
          </div>

          <% if request.bp_license.days %>
            <div class="row">
              <div class="col-md-3" align="right"><%= t('activerecord.attributes.lic_request.end') %></div>
              <div class="col-md-9 request_end_show"> <%= (localize request.end, :format => :day_snmonth_year if request.end) %></div>
            </div>

            <br>
          <% end %>
          <% if request.bp_license.with_period %>

            <div class="row">
              <div class="col-md-3" align="right"><%= 'Período' %></div>
              <div class="col-md-9"><%= label_tag 'request_period', period, class: 'request_period' %></div>
            </div>

            <br>
          <% end %>


        <% end %>
      <% end %>



      <% if request.bp_license.partially_taken %>
        <% if request.bp_license.days %>
          <div class="form-group <%= field_with_errors f, :days %>">
            <%= f.label :days, class: 'col-md-3 control-label' %>
            <div class="col-md-4">
              <%= f.number_field :days,
                                 class: 'form-control',
                                 autofocus: 'autofocus',
                                 step: 1,
                                 value: f.object.days ? f.object.days : (request.bp_license.min_by_request ? request.bp_license.min_by_request : 1),
                                 min: request.bp_license.min_by_request ? request.bp_license.min_by_request : -99,
                                 max: request.bp_license.max_by_request ? request.bp_license.max_by_request : 99,
                                 onchange: 'validation_messages(this)',
                                 data: {url: lic_register_verify_licenses_conditions_path(user_id, request.bp_license),
                                        url_get_end: lic_register_get_end_path(request.bp_license, user_id),
                                        url_get_go_back:lic_register_get_go_back_path(request.bp_license, user_id),
                                        url_get_request_period: lic_register_get_period_path(request.bp_license.id, user_id),
                                        url_get_available: lic_register_get_available_path(request.bp_license.id, user_id) } %>
            </div>

            <div class="col-md-2" align="right"><strong>Disponible: </strong></div>
            <div class="col-md-3">
              <%= label_tag 'available', '', class: 'available' %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-9 col-md-offset-3">
              <% if request.bp_license.min_by_request || request.bp_license.max_by_request %>
                <em>
                  <%= 'Mínimo: ' + request.bp_license.min_by_request.to_s+' ' if request.bp_license.min_by_request %>
                  <%= 'Máximo: ' + request.bp_license.max_by_request.to_s+' ' if request.bp_license.max_by_request %>
                </em>
              <% end %>
            </div>
          </div>
          <br>

        <% end %>

        <% if request.bp_license.hours %>
          <div class="form-group <%= field_with_errors f, :hours %>">
            <%= f.label :hours, class: 'col-md-3 control-label' %>
            <div class="col-md-4">
              <%= f.number_field :hours,
                                 class: 'form-control',
                                 autofocus: 'autofocus',
                                 step: 1,
                                 value: f.object.hours ? f.object.hours : (request.bp_license.min_by_request ? request.bp_license.min_by_request : 1),
                                 min: request.bp_license.min_by_request ? request.bp_license.min_by_request : -99 ,
                                 max: request.bp_license.max_by_request ? request.bp_license.max_by_request : 99,
                                 onchange: 'validation_messages(this)',
                                            data: {url: lic_register_verify_licenses_conditions_path(user_id, request.bp_license),
                                                   url_get_end: lic_register_get_end_path(request.bp_license, user_id),
                                                   url_get_request_period: lic_register_get_period_path(request.bp_license.id, user_id),
                                                   url_get_go_back:lic_register_get_go_back_path(request.bp_license, user_id),
                                                   url_get_available: lic_register_get_available_path(request.bp_license.id, user_id) } %>
            </div>

            <div class="col-md-2" align="right"><strong>Disponible: </strong></div>
            <div class="col-md-3">
              <%= label_tag 'available', '', class: 'available' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9 col-md-offset-3">
              <% if request.bp_license.min_by_request || request.bp_license.max_by_request %>
                <em>
                  <%= 'Mínimo: ' + request.bp_license.min_by_request.to_s+' ' if request.bp_license.min_by_request %>
                  <%= 'Máximo: ' + request.bp_license.max_by_request.to_s+' ' if request.bp_license.max_by_request %>
                </em>
              <% end %>
            </div>
          </div>

          <br>
        <% end %>
      <% else %>
        <% if request.bp_license.days %>
          <div class="row">
            <div class="col-md-3" align="right"><%= t('activerecord.attributes.lic_request.days') %></div>
            <div class="col-md-9"><%= request.bp_license.days %></div>
          </div>

          <br>
        <% end %>

        <% if request.bp_license.hours %>
          <div class="row">
            <div class="col-md-3" align="right"><%= t('activerecord.attributes.lic_request.hours') %></div>
            <div class="col-md-9"><%= request.bp_license.hours %></div>
          </div>

          <br>
        <% end %>
      <% end %>

      <% if request.bp_license.days %>
        <div class="row">
          <div class="col-md-3" align="right"><%= t('activerecord.attributes.lic_request.go_back_date') %></div>
          <div class="col-md-9 request_go_back_show "><%= (localize request.go_back_date, :format => :day_snmonth_year if request.go_back_date) %></div>
        </div>

        <br>
      <% end %>

      <% if request.bp_license.money %>
        <% sum = (request.bp_license.money - request.lic_event.sum_money_for(request.bp_license.id)) %>
        <% if sum > 0 %>
          <div class="row">
            <div class="col-md-3" align="right"><%= t('activerecord.attributes.lic_request.money') %></div>
            <div class="col-md-9"><%= sum.to_s+' '+request.bp_license.currency %></div>
          </div>

          <br>
          <% end %>
      <% end %>

      <% if request.status_description && request.status_description.size > 0  %>
        <div class="row comment_show">
          <div class="col-md-3 col-sm-4 col-xs-4" align="right"><%= t('activerecord.attributes.vac_request.status_description') %></div>
          <div class="col-md-9 col-sm-8 col-xs-8"><%= request.status_description %></div>
        </div>

        <br>
      <% end %>

      <!--<div class="form-group comment_form <%# field_with_errors f, :status_description %>">-->
        <!--<%# f.label :status_description, class: 'col-md-3 control-label' %>-->
        <!--<div class="col-md-9">-->
          <!--<%# f.text_area :status_description, class: 'form-control', rows: '3', value: '' %>-->
        <!--</div>-->
      <!--</div>-->

      <div class="modal fade" id="paid_description_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x &nbsp;</button>
          <div class="panel panel-default record_pane">
            <div class="panel-body">
              <legend><%= 'Comentario' %></legend>
              <div id="modal_errors" class="alert alert-danger" style="display: none"> Comentario no puede ser vacío</div>
              <div class="form-group">
                <div class="col-md-12"> <%= f.text_area :status_description, class: 'form-control', :rows => 3, autofocus: 'autofocus', value: '', placeholder: 'Si desea, escriba comentario'%> </div>
              </div>
            </div>
            <div class="panel-footer clearfix">
              <div class="pull-right">
                <%= link_to 'Guardar y enviar a validación', '#', onclick: 'send_to_validation_button(this)', class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="panel-footer clearfix">
      <div class="row">

        <div class="col-md-4 col-md-offset-5">
          <div class="pull-right">
            <% if defined?(manager) && manager %>
              <%= f.submit t('views.vac_requests.forms.save'), class: 'btn btn-primary btn-sm button_save_form' %>
            <% else %>
              <%= f.submit t('views.vac_requests.forms.save_as_draft'), class: 'btn btn-primary btn-sm button_save_form hidden' %>
            <% end %>
          </div>
        </div>

        <div class="col-md-3" align="right">
          <%= f.text_field :status, value: f.object.status ? f.object.status : LicRequest.draft, onchange: 'set_save_button_text(this)', class: "hidden" %>
          <% if defined?(manager) && manager %>
            <%= link_to t('views.lic_approvers.flow_process.reject'), '#', onclick: 'set_status_description(this)', data: {url: lic_managers_change_status_modal_path(request, LicRequest.rejected)}, class: 'btn btn-danger btn-sm' %>
            &nbsp;&nbsp;&nbsp;
            <%= check_box_tag 'request_status', 1, true, onclick: 'set_save_button_text(this)', class: 'label-control checkbox_tag_status' %>
            Cerrar&nbsp;&nbsp;
          <% else %>
            <%= link_to t('views.vac_requests.forms.save_and_sent_to_validation'), '#', class: 'btn btn-primary btn-sm btn_to_disable sent_to_validate_btn', onclick: 'set_paid_description(this)' %>&nbsp;&nbsp;
          <% end %>
        </div>

      </div>
    </div>
  </div>
<% end %>

<div id="status_description_modal_container">

</div>

<script>
    function set_paid_description(link){ $('#paid_description_modal').modal('show'); }
</script>

<script>
    function send_to_validation_button(link) {
        if (confirm("¿Está seguro de enviar solicitud a validación?")) {
            description = $('#vac_request_status_description').val();
            required =  ($('.restrictive_warning_div').size() > 0);
            description_empty = (required && description === '');

            if (description_empty) {
                $("#modal_errors").show(500).delay(2000).hide(500);
            } else {
                $('#paid_description_modal').modal('hide');
                $('.modal-backdrop').remove();
                // loading();
                $('#lic_request_status').val('<%= LicRequest.pending %>');
                setTimeout(function(){ $('.request_form').trigger('submit'); },50);
            }
        }
    }
</script>

<script>
    function set_status_description(link) {
        url = $(link).data('url');
        $.ajax({
            url: url,
            type: 'get',
            dataType: "html",
            success: function (data) {
                $('#status_description_modal_container').html(data)
                $('#status_description_modal').modal('show');
            }
        });
    }
</script>

<script>
    $('.date-picker').datetimepicker({
        language: 'es',
        pickTime: false
    });

    $('.value_time_picker').datetimepicker({
        language: 'es',
        pickTime: true,
        pickDate: false
    });

    $('.value_datetime_picker').datetimepicker({
        language: 'es',
        pickTime: true,
        pickDate: true
    });

    function show_closest_calendar(link){
        $(link).prev().datetimepicker().trigger('focus');
    }

</script>

<script>

    function update_begin_request(link) {
        <% if request.bp_license.days || request.bp_license.hours %>
        <% unless request.bp_license.whenever %>
        $('.request_begin_show').text($('#lic_event_date_event').val());
        validation_messages(link);
        <% end %>
        <% end %>
    }

    function get_available(link) {
        url = $(link).data('url-get-available');
        request_begin = $('#lic_request_begin').val();
        $.ajax({
            url: url,
            data: {
                'request_begin': request_begin
            },
            type: "post",
            async: false,
            dataType: "html",
            error: function (XMLHttpRequest, errorTextStatus, error) {
                alert("Failed: " + errorTextStatus + " ;" + error);
            },
            success: function (result) {
                $('.available').text(result)
            }
        });
    }

    <% if request.bp_license.with_period %>
    function get_request_period(link) {
        url = $(link).data('url-get-request-period');

        request_begin = $('#lic_request_begin').val();
        request_end = '';
        request_days = $('#lic_request_days').val();
        request_hours = $('#lic_request_hours').val();

        $.ajax({
            url: url,
            data: {
                'request_begin': request_begin,
                'request_days': request_days,
                'request_hours': request_hours,
                'date_event': $('#lic_event_date_event').val() },
            type: "post",
            async: false,
            dataType: "html",
            error: function (XMLHttpRequest, errorTextStatus, error) {
                alert("Failed: " + errorTextStatus + " ;" + error);
            },
            success: function (result) {
                $('.request_period').text(result)
            }
        });
    }
    <% end %>

  function get_end(link){
      url = $(link).data('url-get-end');

      if ($('#lic_request_begin').length) {
          request_begin = $('#lic_request_begin').val();
      } else {
          request_begin = '<%= request.begin ? request.begin.strftime('%d/%m/%Y') : '' %>'
      }

      if ($('#lic_request_days').length) {
          request_days = $('#lic_request_days').val();
      } else {
          request_days = ''
      }

      event_id = $('.event_info').data('event-id');
      event_date = $('.event_info').data('event-date');
      request_id = $('.event_info').data('request-id');

      $.ajax({
          url: url,
          data: {
              'request_begin': request_begin,
              'request_days': request_days,
              'event_id': event_id
          },
          type: "post",
          async: false,
          dataType: "html",
          error: function (XMLHttpRequest, errorTextStatus, error) {
              alert("Failed: " + errorTextStatus + " ;" + error);
          },
          success: function (result) {
              $('.request_end_show').text(result.replace('"', '').replace('"', ''))
          }
      });

  }

  function get_go_back(link){
      url = $(link).data('url-get-go-back');

      if ($('#lic_request_begin').length) {
          request_begin = $('#lic_request_begin').val();
      } else {
          request_begin = '<%= request.begin ? request.begin.strftime('%d/%m/%Y') : '' %>'
      }

      if ($('#lic_request_days').length) {
          request_days = $('#lic_request_days').val();
      } else {
          request_days = ''
      }

      event_id = $('.event_info').data('event-id');
      event_date = $('.event_info').data('event-date');
      request_id = $('.event_info').data('request-id');

      $.ajax({
          url: url,
          data: {
              'request_begin': request_begin,
              'request_days': request_days,
              'event_id': event_id
          },
          type: "post",
          async: false,
          dataType: "html",
          error: function (XMLHttpRequest, errorTextStatus, error) {
              alert("Failed: " + errorTextStatus + " ;" + error);
          },
          success: function (result) {
              $('.request_go_back_show').text(result.replace('"', '').replace('"', ''))
          }
      });
  }
</script>

<script>
    function validation_messages(link) {
        url = $(link).data('url');

        if ($('#lic_request_begin').length) {
            request_begin = $('#lic_request_begin').val();
        } else {
            request_begin = '<%= request.begin ? request.begin.strftime('%d/%m/%Y') : '' %>'
        }

        if ($('#lic_request_days').length) {
            request_days = $('#lic_request_days').val();
        } else {
            request_days = ''
        }

        if ($('#lic_request_hours').length) {
            request_hours = $('#lic_request_hours').val();
        } else {
            request_hours = ''
        }

        event_id = $('.event_info').data('event-id');
        event_date = $('.event_info').data('event-date');
        request_id = $('.event_info').data('request-id');

        $.ajax({
            url: url,
            data: {
                'request_begin': request_begin,
                'request_days': request_days,
                'request_hours': request_hours,
                'event_id': event_id,
                'request_id': request_id
            },
            type: "post",
            async: false,
            dataType: "html",
            error: function (XMLHttpRequest, errorTextStatus, error) {
                alert("Failed: " + errorTextStatus + " ;" + error);
            },
            success: function (result) {
                $('#messages_div_container').html(result);
                <% unless defined?(manager) && manager %>
                if($('.license_message').size() > 0 ){
                    $('.button_save_form').prop("disabled",true);
                    $('.sent_to_validate_btn').addClass("disabled");
                }else{
                    $('.button_save_form').prop("disabled",false);
                    $('.sent_to_validate_btn').removeClass("disabled");
                }
                <% end %>

                get_end(link);
                get_go_back(link);
                get_available(link);
                get_request_period(link);

            }
        });
    }
</script>

<% if defined?(manager) && manager %>
  <script>
      function set_save_button_text(check_box) {
          if ($(check_box).is(':checked')) {
              $('.button_save_form').val('<%=t('views.vac_requests.forms.save_and_close')%>');
              $('#lic_request_status').val('<%= LicRequest.closed %>')
              $('.comment_show').hide();
              $('.comment_form').show();
          } else {
              $('.button_save_form').val('<%=t('views.vac_requests.forms.save')%>');
              $('#lic_request_status').val('<%= LicRequest.approved %>')
              $('.comment_show').show();
              $('.comment_form').hide();
          }
      }
  </script>
<% else %>
  <script>
      function set_save_button_text(check_box) {
          if ($(check_box).is(':checked')) {
              $('.button_save_form').val('<%=t('views.vac_requests.forms.save_and_sent_to_validation')%>');
              $('#lic_request_status').val('<%= LicRequest.pending %>')
              $('.comment_show').hide();
              $('.comment_form').show();
          } else {
              $('.button_save_form').val('<%=t('views.vac_requests.forms.save_as_draft')%>');
              $('#lic_request_status').val('<%= LicRequest.draft %>');
              $('.comment_show').show();
              $('.comment_form').hide();
          }
      }
  </script>
<% end %>

<script>
    $(document).ready(function () {
        $('#lic_request_status').trigger('onchange');
        $('#lic_event_date_event').trigger('onchange');
        $('#lic_request_begin').trigger('onchange');
        set_save_button_text($('.checkbox_tag_status'));
        // $('#request_status').trigger('onclick');
    });
</script>