<div class="modal fade" id="request_form_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x &nbsp;</button>
    <div class="panel panel-default record_pane">
      <div class="panel-body">
        <%= render partial: 'lic_registers/request_form',
                   locals: {request: lic_request,
                            url_to_go: defined?(url_to_go) ? url_to_go : lic_register_request_create_path(lic_request.lic_event),
                            messages: messages,
                            period: period} %>
      </div>
    </div>
  </div>
</div>