<div class="modal fade" id="request_info_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x &nbsp;</button>
    <div class="panel panel-default record_pane">
      <div class="panel-body">
        <%= render :partial => 'event_show',
                   :locals => { event: event,
                                editable: false,
                                register: true } %>
        <br>

        <% if event.lic_requests.where(active: true).all.size > 1 %>
          <legend><%= t('views.lic_registers.legends.requests_info') %></legend>
        <% else %>
          <% if event.lic_requests.where(active: true).all.size == 1 %>

      <legend><%= t('views.lic_registers.legends.request_info') %></legend>
            <% end %>
        <% end %>

        <% event.lic_requests.where(active: true).each_with_index do |request, index| %>
          <% unless index.zero? %>
            <hr>
          <% end %>
          <%= render partial: 'lic_registers/request_show',
                     locals: {request: request,
                              register: true, editable: false } %>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>