<%= render partial: 'licenses_header',
           locals: { icon: '<i class="fa fa-gift" aria-hidden="true"></i>',
                     go_back_link: lic_register_index_path,
                     go_back_text: t('views.lic_registers.navigation.back_list_licenses_list'),
                     legends: [t('views.lic_registers.legends.licenses'), @bp_license.name,  t('views.lic_registers.flow_process.new_request')]} %>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'form',
               locals: {event: @lic_event,
                        license: @bp_license,
                        url_to_go: lic_register_event_create_path(@bp_license),
                        register: true} %>
  </div>
</div>