<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.lic_registers.navigation.back_list_licenses_list')).html_safe, lic_register_index_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-gift" aria-hidden="true"></i>
      <%= t('views.lic_registers.legends.licenses') %>
      <span>> <%= t('views.lic_registers.flow_process.manage') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'request_show',
               :locals => { request: @lic_request,
                            editable: true,
                            register: true } %>
  </div>
</div>