<%= form_for(@pe_evaluation_rel) do |f| %>
  <% if @pe_evaluation_rel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pe_evaluation_rel.errors.count, "error") %> prohibited this pe_evaluation_rel from being saved:</h2>

      <ul>
      <% @pe_evaluation_rel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pe_evaluation %><br />
    <%= f.text_field :pe_evaluation %>
  </div>
  <div class="field">
    <%= f.label :pe_rel %><br />
    <%= f.text_field :pe_rel %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :from_date %><br />
    <%= f.datetime_select :from_date %>
  </div>
  <div class="field">
    <%= f.label :to_date %><br />
    <%= f.datetime_select :to_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
