<h1>Listing pe_evaluation_rels</h1>

<table>
  <tr>
    <th>Pe evaluation</th>
    <th>Pe rel</th>
    <th>Weight</th>
    <th>From date</th>
    <th>To date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pe_evaluation_rels.each do |pe_evaluation_rel| %>
  <tr>
    <td><%= pe_evaluation_rel.pe_evaluation %></td>
    <td><%= pe_evaluation_rel.pe_rel %></td>
    <td><%= pe_evaluation_rel.weight %></td>
    <td><%= pe_evaluation_rel.from_date %></td>
    <td><%= pe_evaluation_rel.to_date %></td>
    <td><%= link_to 'Show', pe_evaluation_rel %></td>
    <td><%= link_to 'Edit', edit_pe_evaluation_rel_path(pe_evaluation_rel) %></td>
    <td><%= link_to 'Destroy', pe_evaluation_rel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pe evaluation rel', new_pe_evaluation_rel_path %>
