<p id="notice"><%= notice %></p>

<p>
  <b>Pe evaluation:</b>
  <%= @pe_evaluation_rel.pe_evaluation %>
</p>

<p>
  <b>Pe rel:</b>
  <%= @pe_evaluation_rel.pe_rel %>
</p>

<p>
  <b>Weight:</b>
  <%= @pe_evaluation_rel.weight %>
</p>

<p>
  <b>From date:</b>
  <%= @pe_evaluation_rel.from_date %>
</p>

<p>
  <b>To date:</b>
  <%= @pe_evaluation_rel.to_date %>
</p>


<%= link_to 'Edit', edit_pe_evaluation_rel_path(@pe_evaluation_rel) %> |
<%= link_to 'Back', pe_evaluation_rels_path %>
