<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a gestionar el proceso'.html_safe, @brc_process, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Bono rol comercial
      <span>> Carga masiva de participantes </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos del proceso
        </legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Año</strong>
          </div>
          <div class="col-md-9">
            <%= @brc_process.year %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Periodo</strong>
          </div>
          <div class="col-md-9">
            <%= @brc_process.period %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @brc_process.name %>
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Activo</strong>
          </div>
          <div class="col-md-9">
            <%= label_yes_not @brc_process.active %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<% if @lineas_error && @lineas_error.length > 0 %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default">
        <div class="panel-body">

          <table class="table table-striped table-hover table-condensed table-bordered">

            <thead>
            <tr>
              <th>Línea</th>
              <th>Errores</th>
              <th>Detalle</th>

            </tr>
            </thead>

            <tbody>

            <% @lineas_error.each_with_index do |l,index| %>

              <tr>
                <td><%= l %></td>
                <td>
                  <% @lineas_error_messages[index].each do |error| %>
                    <li class="text-danger"><%= error %></li>
                  <% end %>
                </td>
                <td><%= @lineas_error_detalle[index] %></td>
              </tr>

            <% end %>

            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>


<% end %>


<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Formato de archivo (Excel)</legend>

        <strong>Formato de ejemplo</strong>
        <br>
        <br>
        <table class="table table-condensed table-bordered">
          <thead>
          <tr>
            <th>codigo_usuario_participante</th>
            <th>codigo_usuario_responsable_definir</th>
            <th>codigo_usuario_responsable_validar</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>13643183K</td>
            <td>68039314</td>
            <td>84736232</td>
          </tr>
          <tr>
            <td>116631732</td>
            <td>48365853</td>
            <td>41335823</td>
          </tr>
          <tr>
            <td>13563473K</td>
            <td>43376592</td>
            <td>84736232</td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to 'Descargar formato', brc_managing_download_massive_assign_members_excel_format_path %>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <%= form_for brc_managing_massive_assign_members_path(@brc_process), html: {class: 'form-horizontal', multipart: true} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Cargar participantes</legend>

          <div class="form-group">

            <%= f.label :file, 'Archivo XLSX', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= file_field 'upload', 'datafile', class: 'form-control' %>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Cargar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>


  </div>
</div>

