
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a gestionar el proceso'.html_safe, @brc_process, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Bono rol comercial
      <span>> Realizar distribución de bonos pendientes </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @brc_process, url: brc_managing_massive_choose_path(@brc_process), html: {class: 'form-horizontal', method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>
            Datos del proceso
          </legend>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Año</strong>
            </div>
            <div class="col-md-9">
              <%= @brc_process.year %>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Periodo</strong>
            </div>
            <div class="col-md-9">
              <%= @brc_process.period %>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Nombre</strong>
            </div>
            <div class="col-md-9">
              <%= @brc_process.name %>
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Activo</strong>
            </div>
            <div class="col-md-9">
              <%= label_yes_not @brc_process.active %>
            </div>
          </div>



          <br>
          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Límite desvíos</strong>
            </div>
            <div class="col-md-9">
              <%= (localize @brc_process.choose_date, format: :day_snmonth_year_time) %>

              <% if lms_time > @brc_process.choose_date %>

                <span class="label label-danger">Hace
                  <%= distance_of_time_in_words(@brc_process.choose_date, lms_time) %>
                </span>

              <% else %>
                <span class="label label-primary">En
                  <%= distance_of_time_in_words(lms_time, @brc_process.choose_date) %>
                </span>
              <% end %>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Valor de la UF</strong>
            </div>
            <div class="col-md-9">
              <%= number_with_precision(@brc_process.uf_value, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
            </div>
          </div>

        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">

            <% pend = false %>

            <% @brc_members_ordered.each do |brc_member| %>
              <% if brc_member.status_def && brc_member.status_val && brc_member.status_bon_cal && !brc_member.status_choose %>
                <% pend = true %>
                <% break %>
              <% end %>
            <% end %>

            <% if pend %>

              <div class="row">
                <div class="col-md-6">

                    <label class="checkbox">

                      <input type="checkbox", onchange="set_send(this)", class="b_ie">
                      Confirmo que realizaré la distribución masiva de bonos pendientes

                    </label>

                </div>
                <div class="col-md-6">
                  <%= f.submit 'Distribuir bonos pendientes', class: 'btn disabled', id: 'button_confirmar', disabled: 'disabled'  %>

                  <a id= 'suggestion_make_check' data-toggle= 'tooltip' title= 'Para habilitar el botón Distribuir debe indicar que confirma que realizará la desviación masiva de bonos marcando el check '>
                    <i class="fa fa-question"></i>
                  </a>

                </div>
              </div>

              <script>
                function set_send(c){

                  if(c.checked){
                    $('#button_confirmar').removeClass('disabled');
                    $('#button_confirmar').addClass('btn-primary');

                    $('#button_confirmar').removeAttr('disabled');
                  }else{
                    $('#button_confirmar').removeClass('btn-primary');
                    $('#button_confirmar').addClass('disabled');

                    $('#button_confirmar').attr("disabled", "disabled");
                  }

                }
                $('#suggestion_make_check').tooltip({
                  placement: 'top'
                });

                <% if $browser_ie8 %>

                $(function() {
                  $('.b_ie').click(function() {
                    this.blur();
                    this.focus();
                  });
                });

                <% end %>


              </script>

            <% else %>

              <div class="alert alert-info">No existen bonos pendientes de distribución</div>

            <% end %>

          </div>
        </div>



      </div>

    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Lista de bonos pendientes a distribuir</legend>

        <table id="datatable_status" class="table table-striped table-bordered smart-form" style="font-size: 11px;">

          <thead>

          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th>Empresa</th>
            <th>Definido</th>
            <th>Validado</th>
            <th>Bono calculado</th>
            <th>Bono distribuido</th>
            <th></th>
          </tr>

          <tr>
            <td>
              <label class="input">
                <input type="text" class="hidden">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td></td>

          </thead>

          <tbody>
          <% index = 0 %>
          <% @brc_members_ordered.each do |brc_member| %>
            <% if brc_member.status_def && brc_member.status_val && brc_member.status_bon_cal && !brc_member.status_choose %>
              <tr>
                <td><%= index+=1 %></td>
                <td><%= brc_member.user.codigo %></td>
                <td><%= brc_member.user.apellidos %></td>
                <td><%= brc_member.user.nombre %></td>
                <td><%= brc_member.user.formatted_characteristic_value @characteristic_company %></td>
                <td><%= label_yes_not_datable brc_member.status_def %></td>
                <td>

                  <% if brc_member.status_val %>
                    <%= label_yes_not_datable brc_member.status_val %>
                  <% else %>

                    <% if brc_member.status_rej %>
                      <span class="label label-danger label-smart-table">&nbsp;Rechazado&nbsp;</span>
                    <% else %>
                      <%= label_yes_not_datable brc_member.status_val %>
                    <% end %>

                  <% end %>

                </td>
                <td><%= label_yes_not_datable brc_member.status_bon_cal %></td>
                <td><%= label_yes_not_datable brc_member.status_choose %></td>
                <td></td>
              </tr>
            <% end %>
          <% end %>

          </tbody>
        </table>

      </div>

    </div>

  </div>

</div>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_status'
           }
%>