<%= form_for @pe_question_activity, html: {class: 'form-horizontal', role: 'form'} do |f| %>

  <%= f.hidden_field :pe_question_id %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos de la actividad</legend>

      <%= render 'shared/error_solo_messages', object: f.object %>

      <% @pe_evaluation.pe_question_activity_fields.each do |pe_question_activity_field| %>

        <% pe_question_activity_f = @pe_question_activity.pe_question_activity_by_field pe_question_activity_field %>


        <div class="form-group <%= field_with_errors f, pe_question_activity_field.id.to_s %>">

          <%= f.label :f, pe_question_activity_field.name, class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <% if pe_question_activity_field.field_type == 0 %>
              <input type="text" name="new_pe_question_activity_field_<%= pe_question_activity_field.id %>" id="new_pe_question_activity_field_<%= @pe_question.id %>_<%= pe_question_activity_field.id %>" value="<%= params['new_pe_question_activity_field_'+pe_question_activity_field.id.to_s] ? params['new_pe_question_activity_field_'+pe_question_activity_field.id.to_s] : pe_question_activity_f ? pe_question_activity_f.value_string : nil %>" class="form-control">
            <% elsif pe_question_activity_field.field_type == 1 %>

              <div class="row">
                <div class="col-md-12">
                  <div id="pe_question_activity_field_<%= pe_question_activity_field.id %>" class="input-group date activity-field-date">
                    <input class="form-control" name="new_pe_question_activity_field_<%= pe_question_activity_field.id %>" id="new_pe_question_activity_field_<%= @pe_question.id %>_<%= pe_question_activity_field.id %>" data-format="dd/MM/yyyy" type="text" value="<%= params['new_pe_question_activity_field_'+pe_question_activity_field.id.to_s] ? params['new_pe_question_activity_field_'+pe_question_activity_field.id.to_s] : (pe_question_activity_f && !pe_question_activity_f.value_date.blank?) ? (localize pe_question_activity_f.value_date, format: :day_month_year) : nil %>" readonly>
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>

                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <em>Haga click en el calendario <i class="fa fa-calendar"></i> para seleccionar la fecha deseada.</em>
                </div>
              </div>

              <script type="text/javascript">

                $('.activity-field-date').datetimepicker({
                  language: 'es',
                  pickTime: false
                });

                $('.activity-field-date').removeClass('activity-field-date');

              </script>

              <style>
                .bootstrap-datetimepicker-widget{z-index:9999 !important;}
              </style>

            <% elsif pe_question_activity_field.field_type == 2 %>

              <%= select_tag('new_pe_question_activity_field_'+pe_question_activity_field.id.to_s, options_for_select(pe_question_activity_field.pe_question_activity_field_list.pe_question_activity_field_list_items.each.map { |pe_question_activity_field_list_item| [pe_question_activity_field_list_item.description, pe_question_activity_field_list_item.id] }, params['new_pe_question_activity_field_'+pe_question_activity_field.id.to_s] ? params['new_pe_question_activity_field_'+pe_question_activity_field.id.to_s] : pe_question_activity_f ? pe_question_activity_f.pe_question_activity_field_list_item_id : nil), {class: 'form-control activity-field-select', prompt: '-- Seleccionar --', id: 'new_pe_question_activity_field_'+@pe_question.id.to_s+'_'+pe_question_activity_field.id.to_s}) %>

              <script>

                $('.activity-field-select').select2();
                $('.activity-field-select').removeClass('activity-field-select');

              </script>

            <% end %>

          </div>

        </div>

      <% end %>

    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>

  </div>

<% end %>

