
<div class="row">

  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> Volver a definir plan de acción').html_safe, pe_question_activities_list_path(@pe_question), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">

    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      <%= @pe_process.step_definition_by_users_alias %> <%= @pe_evaluation.name.downcase %>
    </h1>

  </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% if @pe_process.of_persons? %>

      <%= render partial: 'shared/user_profile_mini',
                 locals: {
                     user: @pe_member_evaluated.user,
                     company: @company,
                     ocultar_historial: @pe_member_rel && @pe_member_rel.pe_rel.rel_name == :jefe ? false : true,
                     titulo: 'Perfil del Evaluado',
                     is_boss: @pe_member_rel.pe_rel.rel_name == :jefe ? true : false

                 }
      %>

    <% else %>

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12">
              <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-cubes"></i>
                Área evaluada
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member_evaluated.pe_area.name %></span></h3>
            </div>
          </div>

          <br>

          <div class="row">

            <div class="col-md-3 text-center">

              <% if @pe_member_evaluated.user.foto %>
                <img src="https://<%=request.host%>/storage/<%=company_codigo%>/fotos_usuarios/<%=@pe_member_evaluated.user.foto%>" class="img-thumbnail user-foto">
              <% else %>
                <img src="/assets/default_user.png" class="img-thumbnail user-foto">

              <% end %>

            </div>
            <div class="col-md-9">

              <div class="row">
                <div class="col-md-12">
                  <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member_evaluated.user.nombre %> <%= @pe_member_evaluated.user.apellidos %></span></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 ">
                  <a><em><%= @pe_member_evaluated.user.email %></em></a>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos del <%= @pe_element.name %></legend>

        <% if @pe_question.pe_question && @pe_question.pe_question.pe_question_id %>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>
                <%= @pe_question.pe_question.pe_question.pe_element.name %>
              </strong>
            </div>
            <div class="col-md-9">
              <%= @pe_question.pe_question.pe_question.description %>
            </div>
          </div>

          <br>

        <% end %>

        <% if @pe_question.pe_question_id %>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>
                <%= @pe_question.pe_question.pe_element.name %>
              </strong>
            </div>
            <div class="col-md-9">
              <%= @pe_question.pe_question.description %>
            </div>
          </div>

          <br>

        <% end %>

        <% if @pe_element.assessed %>

          <% if @pe_element.assessment_method == 2 %>

            <div class="row">

              <div class="col-md-3 text-right">
                <strong>
                  <%= @pe_element.name %>
                </strong>
              </div>

              <div class="col-md-9">

                <% if @pe_element.kpi_dashboard %>

                  <%= @pe_question.kpi_indicator.name if @pe_question.kpi_indicator %>

                <% else %>

                  <%= @pe_question.description %>

                <% end %>

              </div>

            </div>

            <br>

          <% end %>

          <div class="row">

            <div class="col-md-3 text-right">
              <strong>Peso</strong>
            </div>

            <div class="col-md-9">
              <%= @pe_question.weight %>
            </div>

          </div>

          <br>

          <% if @pe_element.assessment_method == 2 %>

            <div class="row">

              <div class="col-md-3 text-right">
                <strong>Tipo de <%= @pe_element.name.downcase %></strong>
              </div>

              <div class="col-md-9">

                <%=
                  case @pe_question.indicator_type
                    when 0
                      'Indicador directo'
                    when 1
                      'Indicador inverso'
                    when 2
                      'Indicador por desviación +/-'
                    when 3
                      'Indicador por rangos'
                    when 4
                      'Indicador discreto'
                    when 5
                      'Indicador especial'
                  end
                %>

              </div>

            </div>

            <br>

            <div class="row">

              <div class="col-md-3 text-right">
                <strong>
                  Unidad de medida
                </strong>
              </div>

              <div class="col-md-9">
                <% if @pe_question.pe_element.kpi_dashboard && @pe_question.kpi_indicator %>
                  <%= @pe_question.kpi_indicator.unit %>
                <% else %>
                  <%= @pe_question.indicator_unit %>
                <% end %>

              </div>

            </div>

            <br>

            <div class="row">

              <div class="col-md-3 text-right">
                <strong>Meta</strong>
              </div>

              <div class="col-md-9">

                <%= render partial: 'pe_processes/indicator_goal_temp',
                           locals: {
                               pe_question: @pe_question
                           }
                %>

              </div>

            </div>

            <% if @pe_question.indicator_type == 5 %>

              <br>

              <div class="row">

                <div class="col-md-3 text-right">
                  <strong>Potencia</strong>
                </div>

                <div class="col-md-9">
                  <%= @pe_question.power %>
                </div>

              </div>

              <br>

              <div class="row">

                <div class="col-md-3 text-right">
                  <strong>Apalancamiento</strong>
                </div>

                <div class="col-md-9">
                  <%= @pe_question.leverage %>
                </div>

              </div>

            <% end %>

          <% end %>


        <% end %>



      </div>

    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'form' %>

  </div>
</div>


