<%= form_for @tutorial, html: {class: 'form-horizontal'} do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> Datos del tutorial </legend>

        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group <%= field_with_errors f, :name %>">
          <%= f.label :name, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :description %>">
          <%= f.label :description, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_area :description, class: 'form-control wysihtml5', :rows => 3 %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :active %>">
          <%= f.label :active, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :active} %>
          </div>
        </div>


      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit t('views.tracking_processes.form.submit_button'), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>

<% end %>
<script type="text/javascript">
  $('.wysihtml5').wysihtml5({
    "font-styles": false,
    "emphasis": true,
    "lists": true,
    "html": false,
    "link": false,
    "image": false,
    "color": false
  });

  $('.wysihtml5').removeClass('wysihtml5');

  $(document).ready(function () {
    $(".wysihtml5-sandbox").css("resize", "vertical");
  });

</script>