<div class="panel panel-default">
  <div class="panel-body">
    <legend>
      Datos del Tutorial
    </legend>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tutorial.name') %></strong>
      </div>
      <div class="col-md-9">
        <%= @tutorial.name %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tutorial.description') %></strong>
      </div>
      <div class="col-md-9">
        <%= @tutorial.description.html_safe %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tutorial.active') %></strong>
      </div>
      <div class="col-md-9">
        <%= label_yes_not @tutorial.active %>
      </div>
    </div>
  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      <%= link_to 'Editar', edit_tutorial_path(@tutorial) %> &nbsp;
      <%= link_to 'Preview', @tutorial.visualization_path(@company), :target => '_blank' if @tutorial.crypted_name %>
    </div>
  </div>
</div>