<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + 'Volver a la lista de tutoriales').html_safe, tutorials_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%=	icon_tutorial_module_html_safe %>
      Tutoriales
      <span>> Subir contenido </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">


    <%= render 'show' %>

    <div class="panel panel-default">
      <div class="panel-body">

        <%= form_tag tutorials_upload_content_path(@tutorial), {class: 'form-horizontal', multipart: true} do %>

            <div class="row">
              <div class="col-md-3">
                <strong>Archivo ZIP</strong>
              </div>
              <div class="col-md-9">
                <%= file_field 'upload', 'datafile' %>
              </div>
            </div>

            <div class="form-group">

              <div class="col-md-10" align="right">

                <%= submit_tag 'Subir', class: 'btn btn-primary' %>

              </div>

            </div>

        <% end %>


      </div>
    </div>


  </div>
</div>