<h1 class="page-title txt-color-blueDark">
  <%= icon_tutorial_module_html_safe %>
  Tutoriales
  <span>> Lista de tutoriales </span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">


    <legend>Lista de tutoriales</legend>

    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th><%= t('activerecord.attributes.tutorial.name') %></th>
        <th><%= t('activerecord.attributes.tutorial.description') %></th>
        <th><%= t('activerecord.attributes.tutorial.active') %></th>
        <th>
          <%= link_to 'Crear nuevo tutorial' , new_tutorial_path %>
        </th>
      </tr>
      </thead>
      <tbody>
      <% @tutorials.each do |tutorial| %>
          <tr>
            <td><%= tutorial.name %></td>
            <td><%= tutorial.description.html_safe %></td>
            <td><%= label_yes_not tutorial.active %></td>
            <td width="20%">
              <%= link_to 'Editar', edit_tutorial_path(tutorial) %> &nbsp;
              <%= link_to 'Subir contenido', tutorials_form_upload_content_path(tutorial) %> &nbsp;
              <%= link_to 'Preview', tutorial.visualization_path(@company), :target => '_blank' if tutorial.crypted_name %> &nbsp;
            </td>
          </tr>
      <% end %>
      </table>
  </div>
</div>