<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + 'Volver a la lista de Tutoriales').html_safe, tutorials_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%= icon_tutorial_module_html_safe %>
      <%= @tutorial.name %>
      <span>> Gestionar </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'show' %>
  </div>
</div>