<%= form_for :jm_session, :url => jm_login_validation_path, html: {class: 'form-horizontal'} do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Datos de acceso</legend>
          <% if @inserted_email && @jm_candidate %>
            <div class="form-group">
              <div class="row">
                <div class="col-md-10 col-md-offset-2">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  &nbsp;
                  <%= @jm_candidate.email %>
                </div>
              </div>
              <%= f.hidden_field :email, value: @jm_candidate.email, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password, 'Contraseña', class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <%= f.password_field :password, class: 'form-control' %>
              </div>
            </div>
          <% else %>
            <% if @show_email_not_registered && @inserted_email %>
              <div class="alert alert-danger">
                No tenemos registrado este email, si es un email válido puede
                <b><%= link_to 'crear una cuenta', '#', :onclick => 'redirect_to_register();',  style: 'color:#FFFFFF;' %></b>
                .
              </div>
            <% end %>
            <div class="form-group">
              <%= f.label :email, 'E-mail', class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <%= f.email_field :email, value: @inserted_email, class: 'form-control' %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="panel-footer clearfix">
          <div class='row'>
            <div class="col-md-9">
              <% if @jm_candidate %>
                <%= link_to '¿Olvidó su contraseña?', '#', onclick: 'redirect_to_recovery();' %>
                <% if @company.jm_has_terms_conditions? %>
                  <br>Al <b>Ingresar</b> indica que ha leído y acepta
                  los <%= link_to 'Términos y condiciones', jm_download_terms_conditions_path %>
                <% end %>
              <% elsif @inserted_email %>
                <%= link_to 'Crear cuenta', '#', :onclick => 'redirect_to_register();' %>
              <% else
                   @inserted_email %>
                <%# solicitado por rrabines para Visanet %>
                <%= link_to 'Crear cuenta', new_jm_candidate_path %>
              <% end %>
            </div>
            <div class="col-md-3 text-right">
              <% if @inserted_email && @jm_candidate %>
                <%= f.submit 'Ingresar', class: 'btn btn-primary btn-login-' + $current_domain %>
              <% else %>
                <%= f.submit 'Siguiente', class: 'btn btn-primary btn-login-' + $current_domain %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if @inserted_email && !@jm_candidate %>
  <%= form_tag jm_register_with_email_path, class: 'form_register_with_email' do %>
    <%= hidden_field_tag :email, @inserted_email %>
  <% end %>
  <script>
      function redirect_to_register() {
          $('.form_register_with_email').submit();
      }
  </script>
<% end %>
<% if @jm_candidate %>
  <%= form_tag jm_recuperar_pass_paso1_path, class: 'form_recovery_with_email' do %>
    <%= hidden_field_tag :email, @inserted_email %>
  <% end %>
  <script>
      function redirect_to_recovery() {
          $('.form_recovery_with_email').submit();
      }
  </script>
<% end %>