<%= form_for @jm_candidate, url: jm_candidate_update_email_path, html: {class: 'form-horizontal', method: :post} do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Validar nuevo email</legend>
          <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
              <i class="fa fa-user-times" aria-hidden="true"></i>
              &nbsp;
              <%= @jm_candidate.email %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
              &nbsp;
              <%= @jm_candidate.email_to_switch %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :codigo_rec_pass, 'Código de validación', class: 'col-md-5 control-label' %>
            <div class="col-md-7">
              <%= f.text_field :codigo_rec_pass, value: '', class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="panel-footer clearfix">
          <% button_label = 'Actualizar' %>
          <div class="col-md-9">
            <% if @company.jm_has_terms_conditions? %>
              Al <b><%= button_label %></b> indica que ha leído y acepta
              los <%= link_to 'Términos y condiciones', jm_download_terms_conditions_path %>
            <% end %>
          </div>
          <div class="col-md-3 text-right">
            <%= f.submit button_label, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>