<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @jm_candidate.name %>
</p>

<p>
  <b>Surename:</b>
  <%= @jm_candidate.surname %>
</p>

<p>
  <b>Email:</b>
  <%= @jm_candidate.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @jm_candidate.phone %>
</p>

<p>
  <b>Password digest:</b>
  <%= @jm_candidate.password_digest %>
</p>


<%= link_to 'Edit', edit_jm_candidate_path(@jm_candidate) %> |
<%= link_to 'Back', jm_candidates_path %>
