<%= form_for rule_vacation, html: {class: 'form-horizontal', id: 'new_bp_rule_vacation_form'} do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.bp_rule_vacations.legends.rule_vacations_info') %> </legend>

        <%= render 'shared/error_messages', object: f.object %>

        <% options_bp_goups = BpGroup.where(:active => true).all.map { |option| [option.name, option.id] } %>
        <div class="form-group <%= field_with_errors f, :bp_group_id %>">
          <%= f.label :bp_group_id, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.select :bp_group_id, options_for_select(options_bp_goups, f.object.bp_group_id),{:prompt => "- Seleccionar -"}, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :name %>">
          <%= f.label :name, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :name, class: 'form-control'%>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :description, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_area :description, rows: '3', class: 'form-control' %>
          </div>
        </div>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit t('views.sc_schedules.forms.save'), class: 'btn btn-primary' %>
        </div>
      </div>

    </div>
<% end %>

