<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bp_rule_vacation.name %>
</p>

<p>
  <b>Description:</b>
  <%= @bp_rule_vacation.description %>
</p>

<p>
  <b>Bp group:</b>
  <%= @bp_rule_vacation.bp_group %>
</p>


<%= link_to 'Edit', edit_bp_rule_vacation_path(@bp_rule_vacation) %> |
<%= link_to 'Back', bp_rule_vacations_path %>
