
<legend class="text-center">Lista de tipos de ticket</legend>

<table class="table table-striped table-hover">

  <thead>

  <tr>
    <th>#</th>
    <th>Nombre</th>
    <th colspan="3">
      <%= link_to 'Crear un tipo de ticket', new_support_ticket_type_path %>
    </th>
  </tr>

  </thead>

  <tbody>

  <% @support_ticket_types.each_with_index do |support_ticket_type, index| %>
    <tr>
      <td>
        <%= index+1 %>
      </td>
      <td><%= support_ticket_type.nombre %></td>

      <td><%= link_to 'Ver', support_ticket_type %></td>
      <td><%= link_to 'Editar', edit_support_ticket_type_path(support_ticket_type) %></td>
      <td>
        <% if support_ticket_type.support_tickets.count == 0 %>
          <%= link_to 'Eliminar', delete_support_ticket_type_path(support_ticket_type) %>
        <% end %>
      </td>
    </tr>
  <% end %>

  </tbody>
</table>

