
<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de tipos de capacitación', support_ticket_types_path, tabindex: '-1' %>

  </li>
  <li class="active">Crear un nuevo tipo de ticket</li>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3 form-box-<%= $current_domain %>">

    <legend class="text-center">Crear un nuevo tipo de ticket</legend>

    <%= render 'form' %>

  </div>
</div>
