<div class="panel-body">
  <legend>
    <div class="row">
      <div class="col-md-3">
        Datos del perfil
      </div>
      <div class="col-md-8">
        <%= render partial: 'jm_my_profiles/my_profile_status_bar', locals: {progress: jm_candidate.my_profile_progress} %>
      </div>
    </div>
  </legend>


  <% manager_view = false %>
  <% if normal_user_logged_in? && ct_module_sel_manager? %>
    <% manager_view = true %>
    <% jm_profile_sections = jm_profile_form.jm_profile_sections.uniq %>
  <% else %>
    <% jm_profile_sections = jm_profile_form.jm_profile_sections.joins(:jm_profile_chars => :jm_characteristic).where(:jm_characteristics => {:manager_only => false}).uniq %>
  <% end %>

  <% profile_form_layout = jm_profile_sections.any? ? '' : jm_profile_form.layout %>

  <% if jm_profile_sections.any? %>
    <% if manager_view %>
      <% null_section_profile_chars = jm_profile_form.jm_profile_chars.where(:jm_profile_section_id => nil) %>
    <% else %>
      <% null_section_profile_chars = jm_profile_form.jm_profile_chars.joins(:jm_characteristic).where(:jm_profile_section_id => nil, :jm_characteristics => {:manager_only => false}) %>
    <% end %>
    <% selected_section = @selected_section ? @selected_section : jm_profile_sections.first %>
    <div class="col-xs-3">
      <div class="text-left">
        <ul id='tabs' class="nav nav-pills nav-stacked nav-pills-<%= $current_domain %>" style="display: inline-block;">
          <% jm_profile_sections.each do |section| %>
            <% if manager_view %>
              <% edit_url = @sel_process ? edit_sel_candidate_from_process_section_open_path(jm_candidate, @sel_process, section) : edit_sel_candidate_section_open_path(jm_candidate, section) %>
            <% else %>
              <% edit_url = edit_jm_my_profile_section_open_path(section) %>
            <% end %>

            <li data-url="<%= edit_url %>" data-id="<%= section.id %>" class="<%= 'active' if selected_section.id == section.id %>">
              <a data-toggle="pill" href="#<%= jm_candidate.id %>_section_<%= section.id %>">
                <%= section.name %>
              </a>
            </li>
          <% end %>
          <% if null_section_profile_chars.any? %>
            <li>
              <a data-toggle="pill" href="#<%= jm_candidate.id %>_section_0">
                Otras
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-xs-9">
      <div class="tab-content">
        <% jm_profile_sections.each do |section| %>
          <div id="<%= jm_candidate.id %>_section_<%= section.id %>" class="tab-pane <%= (selected_section.id == section.id) ? 'active' : 'fade' %>">
            <% if manager_view %>
              <% section_profile_chars = jm_profile_form.jm_profile_chars.where(:jm_profile_section_id => section.id) %>
            <% else %>
              <% section_profile_chars = jm_profile_form.jm_profile_chars.joins(:jm_characteristic).where(:jm_profile_section_id => section.id, :jm_characteristics => {:manager_only => false}) %>
            <% end %>
            <% section_profile_chars.each do |item| %>

              <% if item.jm_characteristic.simple %>
                <% answer = jm_candidate.jm_candidate_answers.where(:active => true, :jm_characteristic_id => item.jm_characteristic_id).first %>
                <%= render :partial => 'jm_my_profiles/my_profile_answer_simple', :locals => {:answer => answer, :jm_characteristic => item.jm_characteristic} %>
              <% else %>
                <% answers = jm_candidate.jm_candidate_answers.where(:active => true, :jm_characteristic_id => item.jm_characteristic_id) %>
                <%= render :partial => 'jm_my_profiles/my_profile_answer_complex', :locals => {:answers => answers, :jm_characteristic => item.jm_characteristic} %>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <% if null_section_profile_chars.any? %>
          <div id="<%= jm_candidate.id %>_section_0" class="tab-pane <%= (selected_section.id == 0) ? 'active' : 'fade' %>">
            <% null_section_profile_chars.each do |item| %>

              <% if item.jm_characteristic.simple %>
                <% answer = jm_candidate.jm_candidate_answers.where(:active => true, :jm_characteristic_id => item.jm_characteristic_id).first %>
                <%= render :partial => 'jm_my_profiles/my_profile_answer_simple', :locals => {:answer => answer, :jm_characteristic => item.jm_characteristic} %>
              <% else %>
                <% answers = jm_candidate.jm_candidate_answers.where(:active => true, :jm_characteristic_id => item.jm_characteristic_id) %>
                <%= render :partial => 'jm_my_profiles/my_profile_answer_complex', :locals => {:answers => answers, :jm_characteristic => item.jm_characteristic} %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <% if manager_view %>
      <% profile_chars = jm_profile_form.jm_profile_chars %>
    <% else %>
      <% profile_chars = jm_profile_form.jm_profile_chars.joins(:jm_characteristic).where(:jm_characteristics => {:manager_only => false}) %>
    <% end %>
    <% if profile_form_layout.blank? %>

      <% profile_chars.each do |item| %>
        <% if item.jm_characteristic.simple %>
          <% answer = jm_candidate.jm_candidate_answers.where(:active => true, :jm_characteristic_id => item.jm_characteristic_id).first %>
          <%= render :partial => 'jm_my_profiles/my_profile_answer_simple', :locals => {:answer => answer, :jm_characteristic => item.jm_characteristic} %>
        <% else %>
          <% answers = jm_candidate.jm_candidate_answers.where(:active => true, :jm_characteristic_id => item.jm_characteristic_id) %>
          <%= render :partial => 'jm_my_profiles/my_profile_answer_complex', :locals => {:answers => answers, :jm_characteristic => item.jm_characteristic} %>
        <% end %>
      <% end %>
    <% else %>
      <% items_without_layout = Array.new %>
      <% profile_chars.each do |item| %>

        <% if item.jm_characteristic.simple %>
          <% answer = jm_candidate.jm_candidate_answers.where(:active => true, :jm_characteristic_id => item.jm_characteristic_id).first %>

          <% question = render :partial => 'jm_my_profiles/my_profile_answer_simple', :locals => {:answer => answer, :jm_characteristic => item.jm_characteristic} %>
        <% else %>
          <% answers = jm_candidate.jm_candidate_answers.where(:active => true, :jm_characteristic_id => item.jm_characteristic_id) %>
          <% question = render :partial => 'jm_my_profiles/my_profile_answer_complex', :locals => {:answers => answers, :jm_characteristic => item.jm_characteristic} %>
        <% end %>


        <% if profile_form_layout["%{#{item.jm_characteristic.code}}"] %>
          <% profile_form_layout["%{#{item.jm_characteristic.code}}"] = question %>
        <% else %>
          <% items_without_layout << question %>
        <% end %>
      <% end %>
      <%= profile_form_layout.html_safe %>

      <% items_without_layout.each do |question| %>
        <%= question %>
        <hr>
      <% end %>
    <% end %>
  <% end %>
</div>
