<% #si sync es true, se asume que llega también la variable 'sel_applicant'
  sync = defined?(sync) ? sync : false %>

<div class="question">
  <div class="col-xs-12">
    <b><%= jm_characteristic.name %></b> &nbsp;
    <%= link_to '<i class="fa fa-refresh"></i>'.html_safe, '#', :title => 'Sincronizar con la versión actual que existe en la ficha', :onclick=> 'sync_answer(this);', :data => {:url => sel_process_sync_applicant_char_answers_path(sel_applicant, jm_characteristic)} if sync %>
  </div>
  <div class="col-xs-12">
    <em> <%= jm_characteristic.description %></em>
  </div>
  <% if answer %>
      <div class="col-xs-12">
        <div class="answers_container" data-max="1">
          <div>
            <% jm_subchar = jm_characteristic.jm_subcharacteristics.first %>
            <% input = answer.jm_answer_values.first %>
            <% if jm_subchar.option_type == 4 && input.value_file_crypted_name %>
                <%= link_to input.value, sel_results_download_file_path(input, input.value_file_crypted_name) %>
            <% elsif [1, 6].include?(jm_subchar.option_type) %>
                <%#= number_with_delimiter(input.value, delimiter: '.', separator: ',') %>
                <%= number_with_precision(input.value, precision: 6, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
            <% else %>
                <%= input.value %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
  <div class="row">
    <div class="col-xs-1">
      &nbsp;
    </div>
  </div>
</div>
