<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-9">
            <h1>
              <i class="fa fa-user" aria-hidden="true"></i>  &nbsp; &nbsp;<%= @jm_candidate.full_name_2 %>
            </h1>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>  &nbsp; &nbsp;<b><%= @jm_candidate.email %></b><br>
            <i class="fa fa-phone" aria-hidden="true"></i>  &nbsp; &nbsp;<%= @jm_candidate.phone %>
          </div>
          <div class="col-md-3">

            <%
              url_profile_photo =

              if @jm_candidate.jm_candidate_photo
                request.base_url + '/storage/' + @company.codigo+'/jm_candidates/' + @jm_candidate.id.to_s + '/profile_photo/'+ @jm_candidate.jm_candidate_photo.crypted_name
              else
                request.base_url + '/assets/default_user.png'
              end
            %>
            <img src="<%= url_profile_photo %>" class="img-rounded user-foto" >
          </div>

        </div>
        

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to 'Editar', edit_jm_candidate_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <%= render partial: 'my_profile_questions', locals: {:jm_profile_form => @jm_profile_form, :jm_candidate => @jm_candidate} %>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to 'Editar', '#', :onclick =>'load_edit_profile_form(this)', :data => {:url => edit_jm_my_profile_path} %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function load_edit_profile_form(link) {
    var section_id = $(link).closest('.panel').find('#tabs > li.active').data('id')

    if (section_id === undefined){
      window.location.href = $(link).data('url');
    }else{
      window.location.href = $(link).closest('.panel').find('#tabs > li.active').data('url')
    }

  }
</script>