<h1 class="page-title txt-color-blueDark">
  <i class="fa fa-picture-o"></i>
  Bolsa de trabajo
  <span>> Lista de características </span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">


    <legend>Lista de características</legend>

    <table class="table table-striped table-hover table-bordered">

      <thead>

      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Solo gestor</th>
        <th>Simple</th>
        <th>
          <%= link_to 'Crear nueva característica', new_jm_characteristic_path %>
        </th>
      </tr>
      </thead>

      <tbody>
      <% @jm_characteristics.each do |jm_characteristic| %>
          <td><%= jm_characteristic.code %></td>
          <td><%= jm_characteristic.name %></td>
          <td><%= jm_characteristic.description %></td>
          <td>
            <a href="<%= jm_characteristics_toggle_manager_only_path(jm_characteristic) %>" title="Cambiar">
              <%= label_yes_not jm_characteristic.manager_only? %>
            </a>
          </td>
          <td><%= label_yes_not jm_characteristic.simple %></td>
          <td>
            <%= link_to 'Editar', edit_jm_characteristic_path(jm_characteristic) %>
            <% unless jm_characteristic.have_answers? %>
                &nbsp;
                <%= link_to 'Eliminar', jm_characteristic, method: :delete, data: {confirm: 'Está seguro?'} %>
            <% end %>
          </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>