<%= form_for(@pe_question_comment) do |f| %>
  <% if @pe_question_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pe_question_comment.errors.count, "error") %> prohibited this pe_question_comment from being saved:</h2>

      <ul>
      <% @pe_question_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pe_question %><br />
    <%= f.text_field :pe_question %>
  </div>
  <div class="field">
    <%= f.label :pe_member_rel %><br />
    <%= f.text_field :pe_member_rel %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :registered_at %><br />
    <%= f.datetime_select :registered_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
