<h1>Listing pe_question_comments</h1>

<table>
  <tr>
    <th>Pe question</th>
    <th>Pe member rel</th>
    <th>Comment</th>
    <th>Registered at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pe_question_comments.each do |pe_question_comment| %>
  <tr>
    <td><%= pe_question_comment.pe_question %></td>
    <td><%= pe_question_comment.pe_member_rel %></td>
    <td><%= pe_question_comment.comment %></td>
    <td><%= pe_question_comment.registered_at %></td>
    <td><%= link_to 'Show', pe_question_comment %></td>
    <td><%= link_to 'Edit', edit_pe_question_comment_path(pe_question_comment) %></td>
    <td><%= link_to 'Destroy', pe_question_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pe question comment', new_pe_question_comment_path %>
