<%= form_for @lib_characteristic, html: {class: 'form-horizontal', role: 'form'} do |f| %>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos de la característica</legend>

        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group">

          <%= f.label :characteristic_id, 'Característica', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <% if LibCharacteristic.all.count == 0 %>

                <% cs = Characteristic.reorder('nombre') %>

            <% else %>

                <% cs = Characteristic.where('id not in (?)', LibCharacteristic.pluck(:characteristic_id)).reorder('nombre') %>

            <% end %>

            <% characteristics = Array.new %>

            <% cs.each do |c| %>

                <% unless c.data_type_id == 6 || c.data_type_id == 7 || c.data_type_id == 11 || c.register_characteristic %>

                    <% characteristics.push c %>

                <% end %>

            <% end %>

            <% characteristic_array = characteristics.map { |c| [c.nombre, c.id] } %>

            <%= f.select(:characteristic_id, options_for_select(characteristic_array, @lib_characteristic.characteristic_id), {include_blank: '-- Seleccione una característica --'}, class: 'form-control') %>

          </div>

        </div>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>

<% end %>