<h1 class="page-title txt-color-blueDark">
  <i class="fa fa-book"></i>
  Características para biblioteca
  <span>> Lista de características </span>
</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-striped table-hover table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Característica</th>
            <th><%= link_to 'Habilitar nueva característica', new_lib_characteristic_path %></th>
          </tr>
          </thead>
          <tbody>

          <% @lib_characteristics.each_with_index do |lib_characteristic, index| %>
              <tr>
                <td><%= index +1 %></td>
                <td><%= lib_characteristic.characteristic.nombre %></td>
                <td>
                  <%# if lib_characteristic.um_custom_report_characteristics.size == 0 %>
                      <%= link_to 'Deshabilitar', lib_characteristic, method: :delete, data: {confirm: '¿Está seguro de deshabilitar las característica?' } %>
                  <%# end %>
                </td>
              </tr>
          <% end %>
          </tbody>

        </table>

      </div>
    </div>

  </div>
</div>