
<% def_by_rol_array = @pe_process.pe_rels_array_for_select %>


<%= form_for @pe_element, html: {class: 'form-horizontal'} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos del elemento</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :pe_evaluation_id %>

      <div class="form-group <%= field_with_errors f, :name %>">

        <%= f.label :name, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :name, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :name %>">

        <%= f.label :plural_name, 'Nombre en plural', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :plural_name, class: 'form-control' %>

        </div>

      </div>

      <hr>

      <% element_def_by_array = PeElement.element_def_by_list.each_with_index.map { |def_by, index| [def_by, index] } %>

      <div class="form-group <%= field_with_errors f, :element_def_by %>">

        <%= f.label :element_def_by, 'Definido por', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.select(:element_def_by, options_for_select(element_def_by_array, @pe_element.element_def_by), {}, {onchange: 'toggle_element_def_by_rol();', class: 'form-control'}) %>

          <script>
            function toggle_element_def_by_rol(){

              if($('#pe_element_element_def_by').val() == 1){
                $('#element_def_by_rol_container').show();
              }else{
                $('#element_def_by_rol_container').hide();
              }

            }

            $(document).ready(function() {
              toggle_element_def_by_rol();
            });
          </script>

        </div>

      </div>



      <% element_def_by_rol_selected_array = @pe_element.element_def_by_rol.split('-') if @pe_element.element_def_by_rol %>


      <div class="form-group <%= field_with_errors f, :element_def_by_rol %>" id="element_def_by_rol_container">

        <%= f.label :element_def_by_rol, 'Definido por los roles', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.select(:element_def_by_rol, options_for_select(def_by_rol_array, element_def_by_rol_selected_array), {}, {multiple: true, size: 3, class: 'form-control'}) %>

          <script>
            $("#pe_element_element_def_by_rol").select2();
          </script>

        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :assessed, 'Pregunta evaluada/Agrupador', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <% if @can_choose_not_assessed %>

            <%= f.check_box :assessed, onchange: 'toggle_assessed();' %>
            <br>
            <em>
              Si es una pregunta evaluada, esta tendrá una valoración y formará parte del cálculo en la evaluación de desemepeño.<br>
              Si es un agrupador, este no tendrá una valoración y no formará parte del cálculo en la evaluación de desempeño.

            </em>


            <script>

              $('#pe_element_assessed').bootstrapSwitch({
                onColor: 'success',
                onText: "Pregunta",
                offColor: 'info',
                offText: "Agrupador"
              });

              function toggle_assessed(){

                if($('#pe_element_assessed').is(":checked")){
                  $('#assessed_container').show();
                }else{
                  $('#assessed_container').hide();
                }

              }

              $(document).ready(function() {
                toggle_assessed();
              });

            </script>

          <% else %>

            <%= f.hidden_field :assessed %>

            <% if @pe_element.assessed %>

              <span class="label label-success">Pregunta</span>
              <br>
              <em>No puede seleccionar un agrupador</em>

            <% else %>

              <span class="label label-primary">Agrupador</span>

            <% end %>

            <script>

              function toggle_assessed(){

                if($('#pe_element_assessed').val()=='true' || $('#pe_element_assessed').val()=='1'){
                  $('#assessed_container').show();
                }else{
                  $('#assessed_container').hide();
                }

              }

              $(document).ready(function() {
                toggle_assessed();
              });


            </script>


          <% end %>




        </div>

      </div>

      <div id="assessed_container">

        <div class="form-group">

          <%= f.label :simple, 'Estructura', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :simple %>
            <br>
            <em>
              Simple: sólo existe una descripción de la pregunta.<br>
              Compuesta: se deberán definir posteriormente las partes que componen la pregunta.
            </em>

            <script>

              $('#pe_element_simple').bootstrapSwitch({
                onColor: 'success',
                onText: "&nbsp;&nbsp;&nbsp;&nbsp;Simple&nbsp;&nbsp;&nbsp;",
                offColor: 'primary',
                offText: "Compuesta"
              });


            </script>

          </div>

        </div>

        <hr>



        <% calculus_method_array = PeElement.calculus_methods.each_with_index.map { |calculus_method, index| [calculus_method, index] } %>

        <div class="form-group <%= field_with_errors f, :calculus_method %>">

          <%= f.label :calculus_method, 'Forma de cálculo', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.select(:calculus_method, options_for_select(calculus_method_array, @pe_element.calculus_method), {}, {class: 'form-control'}) %>

            <br>
            <em>Cómo se operarán los resultados obtenidos por los evaluados en este elemento.</em>

          </div>

        </div>



        <% assessment_method_array = PeElement.assessment_methods.each_with_index.map { |assessment_method, index| [assessment_method, index] } %>

        <div class="form-group <%= field_with_errors f, :assessment_method %>">

          <%= f.label :assessment_method, 'Forma de valoración', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.select(:assessment_method, options_for_select(assessment_method_array, @pe_element.assessment_method), {}, {onchange: 'toggle_assessment_method_def_by();', class: 'form-control'}) %>
            <em>
              De qué forma serán valorados los evaluados en este elemento.
              <br>
              Cáculo automático implica que el sistema calculará automáticamente a partir de los elementos pertenecientes a éste elemento.
            </em>

            <script>

              function toggle_assessment_method_def_by(){

                if($('#pe_element_assessment_method').val() != 0){
                  $('#assessment_method_def_by_container').show();
                }else{
                  $('#assessment_method_def_by_container').hide();
                }

                if($('#pe_element_assessment_method').val() == 1){
                  $('#alternatives_display_method_container').show();
                }else{
                  $('#alternatives_display_method_container').hide();
                }

                if($('#pe_element_assessment_method').val() == 2){
                  $('#import_from_kpis_container').show();
                }else{
                  $('#import_from_kpis_container').hide();
                }

                if($('#pe_element_assessment_method').val() == 3){
                  $('#numeric_value_display_method_container').show();
                }else{
                  $('#numeric_value_display_method_container').hide();
                }

              }



              $(document).ready(function() {
                toggle_assessment_method_def_by();
              });
            </script>

          </div>

        </div>

        <div id="numeric_value_display_method_container">

          <div class="form-group">

            <%= f.label :min_numeric_value, 'Valor mínimo', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :min_numeric_value, class: 'form-control' %>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :max_numeric_value, 'Valor máximo', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :max_numeric_value, class: 'form-control' %>

            </div>

          </div>

        </div>

        <div id="alternatives_display_method_container">

          <div class="form-group">

            <% alternatives_display_methods_array = PeElement.alternatives_display_methods.each_with_index.map { |adm, index| [adm, index] } %>

            <%= f.label :alternatives_display_method, 'Forma de mostrar alternativas', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.select(:alternatives_display_method, options_for_select(alternatives_display_methods_array, @pe_element.alternatives_display_method), {}, {class: 'form-control'}) %>

            </div>

          </div>

        </div>

        <div id="import_from_kpis_container">

          <% kpi_dashboards_array = KpiDashboard.all.map { |kpi_dashboard| [kpi_dashboard.period+' - '+kpi_dashboard.name, kpi_dashboard.id] } %>

          <div class="form-group <%= field_with_errors f, :kpi_dashboard_id %>">

            <%= f.label :kpi_dashboard_id, 'Se pueden importar del dashboard', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.select(:kpi_dashboard_id, options_for_select(kpi_dashboards_array, @pe_element.kpi_dashboard_id), {include_blank: '-- Ninguno --'}, {class: 'form-control'}) %>

              <br>

            </div>

          </div>

          <% available_indicator_types_selected_array = @pe_element.available_indicator_types.split('-') if @pe_element.available_indicator_types %>


          <div class="form-group <%= field_with_errors f, :available_indicator_types %>">

            <%= f.label :available_indicator_types, 'Tipos de indicador disponibles para definir por los usuarios', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.select(:available_indicator_types, options_for_select(PeQuestion.indicator_types_array_for_select, available_indicator_types_selected_array), {}, {multiple: true, size: 3, class: 'form-control', onchange: 'toggle_allow_available_indicator_types();' }) %>

              <em>Si deja en blanco esta opción no se permitirá escoger ningún tipo de indicador</em>

              <script>
                $("#pe_element_available_indicator_types").select2();

                function toggle_allow_available_indicator_types(){

                  has_type_4 = false;

                  $('#pe_element_available_indicator_types option:selected').each(function(){
                    if($(this).val()==4){
                      has_type_4 = true;
                    }
                  });

                  if(has_type_4 == true){
                    $('#allow_available_indicator_type_discrete_container').show();
                  }else{
                    $('#allow_available_indicator_type_discrete_container').hide();
                  }

                  has_type_3 = false;

                  $('#pe_element_available_indicator_types option:selected').each(function(){
                    if($(this).val()==3){
                      has_type_3 = true;
                    }
                  });

                  if(has_type_3 == true){
                    $('#allow_available_indicator_type_rank_container').show();
                  }else{
                    $('#allow_available_indicator_type_rank_container').hide();
                  }

                }

                $(document).ready(function() {
                  toggle_allow_available_indicator_types();
                });



              </script>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :desc_placeholder, 'Texto explicativo descripción', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_area :desc_placeholder, class: 'form-control', rows: '3' %>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :note_placeholder, 'Texto explicativo nota', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_area :note_placeholder, class: 'form-control', rows: '3' %>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :default_unit, 'Valor por defecto unidad de medida', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :default_unit, class: 'form-control', rows: '3' %>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :default_goal, 'Valor por defecto meta', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :default_goal, class: 'form-control', rows: '3' %>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :cant_change_goal, 'La meta se puede modificar', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :cant_change_goal %>

              <script>

                $('#pe_element_cant_change_goal').bootstrapSwitch({
                  onColor: 'danger',
                  onText: "No",
                  offColor: 'success',
                  offText: "Sí",
                  size: "mini"
                });


              </script>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :unit_allow_digits, 'La unidad de medida permite dígitos', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :unit_allow_digits %>

              <script>

                $('#pe_element_unit_allow_digits').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "mini"
                });


              </script>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :meta_rango_indicador, 'Restriguir edición en metas rango y discretas', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <% element_fix_rank_models_array = PeElement.fix_rank_models_list.each_with_index.map { |r, index| [r, index] } %>

              <%= f.select(:fix_rank_models, options_for_select(element_fix_rank_models_array, @pe_element.fix_rank_models), {}, {class: 'form-control'}) %>

              <em>Se aplicará sólo en la edición</em>

            </div>

          </div>

          <div id="allow_available_indicator_type_rank_container">

            <div class="form-group <%= 'has-error' if @error_rangos %> ">

              <%= f.label :meta_rango_indicador, 'Metas por defecto para indicator tipo Rango', class: 'col-md-3 control-label' %>

              <div class="col-md-9" id="rank_non_discrete_container">

                <%= link_to_add_rank_non_discrete_model %>

                <a href="#" onclick="remove_rank_non_discrete_model()"><i class="fa fa-minus" style="color: red;"></i></a>

                <% @pe_element.pe_question_rank_models_non_discrete.each do |pe_question_rank_model| %>

                  <%=

                    render partial: 'pe_elements/rank_non_discrete_model',
                           locals: {
                               pe_question_rank_model: pe_question_rank_model,
                               goal: pe_question_rank_model.goal,
                               percentage: pe_question_rank_model.percentage
                           }

                  %>

                <% end %>

                <script>

                  function remove_rank_non_discrete_model(){

                    $('#rank_non_discrete_container').children('.rank-row').last().remove();

                  }

                  function add_rank_non_discrete_model(content){

                    $('#rank_non_discrete_container').append(content);

                  }

                </script>

              </div>

            </div>

          </div>

          <div id="allow_available_indicator_type_discrete_container">

            <div class="form-group <%= 'has-error' if @error_rangos %> ">

              <%= f.label :meta_rango_indicador, 'Metas por defecto para indicator tipo Discreto', class: 'col-md-3 control-label' %>

              <div class="col-md-9" id="rank_discrete_container">

                <%= link_to_add_rank_discrete_model %>

                <a href="#" onclick="remove_rank_discrete_model()"><i class="fa fa-minus" style="color: red;"></i></a>

                <% @pe_element.pe_question_rank_models_discrete.each do |pe_question_rank_model| %>

                  <%=

                    render partial: 'pe_elements/rank_discrete_model',
                           locals: {
                               pe_question_rank_model: pe_question_rank_model,
                               goal: pe_question_rank_model.discrete_goal,
                               percentage: pe_question_rank_model.percentage
                           }

                  %>

                <% end %>

                <script>

                  function remove_rank_discrete_model(){

                    $('#rank_discrete_container').children('.rank-row').last().remove();

                  }

                  function add_rank_discrete_model(content){

                    $('#rank_discrete_container').append(content);

                  }

                </script>

              </div>

            </div>

          </div>

        </div>


        <div id="assessment_method_def_by_container">
          <!--
          <% assessment_method_def_by_array = PeElement.assessment_method_def_by_list.each_with_index.map { |def_by, index| [def_by, index] } %>

          <div class="form-group <%= field_with_errors f, :assessment_method_def_by %>">

            <%= f.label :assessment_method_def_by, 'Forma de valoración definida por', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.select(:assessment_method_def_by, options_for_select(assessment_method_def_by_array, @pe_element.assessment_method_def_by), {}, {onchange: 'toggle_assessment_method_def_by_rol();', class: 'form-control'}) %>

              <script>
                function toggle_assessment_method_def_by_rol(){

                  if($('#pe_element_assessment_method_def_by').val() == 1){
                    $('#assessment_method_def_by_rol_container').show();
                  }else{
                    $('#assessment_method_def_by_rol_container').hide();
                  }

                }

                $(document).ready(function() {
                  toggle_assessment_method_def_by_rol();
                });
              </script>

            </div>

          </div>

          <% def_by_rol_array = @pe_process.pe_rels_array_for_select %>

          <% assessment_method_def_by_rol_selected_array = @pe_element.assessment_method_def_by_rol.split('-') if @pe_element.assessment_method_def_by_rol %>

          <div class="form-group <%= field_with_errors f, :assessment_method_def_by_rol %>" id="assessment_method_def_by_rol_container">

            <%= f.label :assessment_method_def_by_rol, 'Forma de valoración definida por los roles', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.select(:assessment_method_def_by_rol, options_for_select(def_by_rol_array, assessment_method_def_by_rol_selected_array), {}, {multiple: true, size: 3, class: 'form-control'}) %>

              <script>
                $("#pe_element_assessment_method_def_by_rol").select2();

              </script>

            </div>

          </div>
          -->

        </div>

        <hr>

        <div class="form-group <%= field_with_errors f, :min_weight %>">

          <%= f.label :min_weight, 'Peso mínimo que se le puede asignar a un elemento', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.number_field :min_weight, class: 'form-control' %>

          </div>

        </div>

        <div class="form-group <%= field_with_errors f, :max_weight %>">

          <%= f.label :max_weight, 'Peso máximo que se le puede asignar a un elemento', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.number_field :max_weight, class: 'form-control' %>

          </div>

        </div>

        <div class="form-group <%= field_with_errors f, :weight_sum %>">

          <%= f.label :weight_sum, 'Suma de los pesos de todos los elementos', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.number_field :weight_sum, class: 'form-control' %>

          </div>

        </div>

      </div>

      <hr>

      <div class="form-group <%= field_with_errors f, :min_number %>">

        <%= f.label :min_number, 'Número mínimo de elementos que se pueden crear', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.number_field :min_number, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :max_number %>">

        <%= f.label :max_number, 'Número máximo de elementos que se pueden crear', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.number_field :max_number, class: 'form-control' %>

        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :visible, 'Visible', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :visible, onchange: 'toggle_display_options();' %>
          <br>
          <em>
            Será visualizado por los evaluadores durante el proceso de evaluación.
          </em>

          <script>

            $('#pe_element_visible').bootstrapSwitch({
              onColor: 'success',
              onText: "SÍ",
              offColor: 'danger',
              offText: "NO",
              size: "small"
            });

            function toggle_display_options(){

              if($('#pe_element_visible').is(":checked")){
                $('#display_options_container').show();
              }else{
                $('#display_options_container').hide();
              }

            }

            $(document).ready(function() {
              toggle_display_options();
            });

          </script>

        </div>

      </div>

      <div id="display_options_container">

        <div class="form-group">

          <%= f.label :display_name, 'Mostrar nombre del elemento', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :display_name %>
            <br>
            <em>
              El nombre del elemento será mostrado delante del texto. Sólo aplica para pantalla estandar y objetivos_e_indicadores.
              En las pantallas grid de 1 y 2 elementos siempre se mostrará el nombre del elemento o el nombre compuesto del elemento
              en las cabeceras.
            </em>

            <script>

              $('#pe_element_display_name').bootstrapSwitch({
                onColor: 'success',
                onText: "SÍ",
                offColor: 'danger',
                offText: "NO",
                size: "small"
              });

            </script>

          </div>

        </div>

        <div class="form-group">

          <%= f.label :display_result, 'Mostrar resultado (parcial) del elemento', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :display_result %>

            <script>

              $('#pe_element_display_result').bootstrapSwitch({
                onColor: 'success',
                onText: "SÍ",
                offColor: 'danger',
                offText: "NO",
                size: "small"
              });

            </script>

          </div>

        </div>

        <div class="form-group">

          <%= f.label :display_weight, 'Mostrar peso del elemento', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :display_weight %>
            <br>
            <em>
              En el caso de indicadores, el peso siempre será mostrado.<br>
              En el caso de agrupadores, se mostrará la suma de los pesos de los elementos que los conforman.
            </em>

            <script>

              $('#pe_element_display_weight').bootstrapSwitch({
                onColor: 'success',
                onText: "SÍ",
                offColor: 'danger',
                offText: "NO",
                size: "small"
              });

            </script>

          </div>

        </div>

        <div class="form-group">

          <%= f.label :allows_individual_comments, 'Permite comentarios individuales', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :allows_individual_comments %>
            <br>
            <em>
              Permite que los evaluadores realicen comentarios, estos serán visualizados únicamnete por ellos mismos.
              Los comentarios podrán ser realizados en la Definición, Seguimiento y Evaluación según los usuarios participen
              o no en dichos pasos.
            </em>

            <script>

              $('#pe_element_allows_individual_comments').bootstrapSwitch({
                onColor: 'success',
                onText: "SÍ",
                offColor: 'danger',
                offText: "NO",
                size: "small"
              });

            </script>

          </div>

        </div>

        <div class="form-group">

          <%= f.label :allow_action_plan, 'Permite plan de acción', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :allow_action_plan %>

            <script>

              $('#pe_element_allow_action_plan').bootstrapSwitch({
                onColor: 'success',
                onText: "SÍ",
                offColor: 'danger',
                offText: "NO",
                size: "small"
              });

            </script>

          </div>

        </div>


        <div class="form-group">

          <%= f.label :allow_note, 'Permite nota', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :allow_note, onchange: 'toggle_display_alias_note();' %>

            <script>

              $('#pe_element_allow_note').bootstrapSwitch({
                onColor: 'success',
                onText: "SÍ",
                offColor: 'danger',
                offText: "NO",
                size: "small"
              });

              function toggle_display_alias_note(){

                if($('#pe_element_allow_note').is(":checked")){
                  $('#display_alias_note_container').show();
                }else{
                  $('#display_alias_note_container').hide();
                }

              }

              $(document).ready(function() {
                toggle_display_alias_note();
              });

            </script>

          </div>

        </div>



        <div id="display_alias_note_container">

          <div class="form-group">

            <%= f.label :note_compulsory, 'Nota obligatoria', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :note_compulsory %>

              <script>

                $('#pe_element_note_compulsory').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SÍ",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });



              </script>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :alias_note, 'Alias de nota', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :alias_note, class: 'form-control' %>


            </div>

          </div>

        </div>

        <div class="form-group <%= field_with_errors f, :alias_comment %>">

          <%= f.label :alias_comment, 'Alias comentario 1', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.text_field :alias_comment, class: 'form-control' %>

          </div>

        </div>

        <div class="form-group <%= field_with_errors f, :alias_comment_2 %>">

          <%= f.label :alias_comment_2, 'Alias comentario 2', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.text_field :alias_comment_2, class: 'form-control' %>

          </div>

        </div>

        <!--
        <div class="form-group">

          <%= f.label :allow_individual_comments_with_boss, 'Permite comentarios individuales colaborativos con el jefe', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :allow_individual_comments_with_boss %>
            <br>
            <em>
              Permite que el jefe y los evaluados realicen comentarios, los comentarios del jefe serán vistos por el evaluado, los comentarios del evaluado serán vistos por el jefe. Cada uno puede eliminar sólo sus comentarios.
            </em>

            <script>

              $('#pe_element_allow_individual_comments_with_boss').bootstrapSwitch({
                onColor: 'success',
                onText: "SÍ",
                offColor: 'danger',
                offText: "NO",
                size: "small"
              });

            </script>

          </div>

        </div>
-->
      </div>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
