<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar la evaluación'.html_safe, @pe_evaluation, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Configurar elemento de evaluación </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/show' %>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos de la evaluación
        </legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Dimensión</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.pe_dimension.name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Peso</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.weight %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.description %>
          </div>
        </div>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos del elemento</legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_element.name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Nombre  en plural</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_element.plural_name %>
          </div>
        </div>


        <hr>
        <div class="row">
          <div class="col-md-3">
            <strong>Definido por</strong>
          </div>
          <div class="col-md-9">
            <%= PeElement.element_def_by_list[@pe_element.element_def_by] %>
          </div>
        </div>

        <br>

        <% if @pe_element.element_def_by == 1 %>

          <div class="row">
            <div class="col-md-3">
              <strong>Definido por los roles</strong>
            </div>
            <div class="col-md-9">
              <% @pe_element.element_def_by_rol.split('-').each do |e| %>
                <%= PeRel.rels[e.to_i] unless e.blank? %>
              <% end %>
            </div>
          </div>

          <br>

        <% end %>

        <hr>

        <div class="row">
          <div class="col-md-3">
            <strong>Pregunta evaluada/Agrupador</strong>
          </div>
          <div class="col-md-9">
            <% if @pe_element.assessed %>
              <span class="label label-success">Pregunta</span>
            <% else %>
              <span class="label label-info">Agrupador</span>
            <% end %>
          </div>
        </div>

        <% if @pe_element.assessed %>
          <br>
          <div class="row">
            <div class="col-md-3">
              <strong>Estructura</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_element.simple %>
                <span class="label label-warning">Simple</span>
              <% else %>
                <span class="label label-info">Compuesta</span>
              <% end %>
            </div>
          </div>

          <hr>



          <div class="row">
            <div class="col-md-3">
              <strong>Forma de cálculo</strong>
            </div>
            <div class="col-md-9">
              <%= PeElement.calculus_methods[@pe_element.calculus_method] %>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-md-3">
              <strong>Forma de valoración</strong>
            </div>
            <div class="col-md-9">
              <%= PeElement.assessment_methods[@pe_element.assessment_method] %>
            </div>
          </div>

          <% if @pe_element.assessment_method == 3 %>

            <br>

            <div class="row">
              <div class="col-md-3">
                <strong>Valor mínimo</strong>
              </div>
              <div class="col-md-9">

                <%= @pe_element.min_numeric_value %>

              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-3">
                <strong>Valor máximo</strong>
              </div>
              <div class="col-md-9">

                <%= @pe_element.max_numeric_value %>

              </div>
            </div>

          <% end %>

          <% if @pe_element.assessment_method == 2 %>

            <br>

            <div class="row">
              <div class="col-md-3">
                <strong>Se pueden importan del dashboard</strong>
              </div>
              <div class="col-md-9">

                <% if @pe_element.kpi_dashboard %>

                  <%= @pe_element.kpi_dashboard.name %>

                <% else %>

                  <span class="label label-danger">Ninguno</span>

                <% end %>

              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-3">
                <strong>Tipos de indicador disponibles para definir por los usuarios</strong>
              </div>
              <div class="col-md-9">

                <% @pe_element.indicator_types_array_for_select %>

                <% unless @pe_element.has_limited_available_indicator_types? %>
                  <span class="label label-success">Todos</span>
                <% else %>
                  <span class="label label-primary">Limitado a</span>
                  <% @pe_element.available_indicator_types.split('-').each do |t| %>
                    <%= PeQuestion.indicator_types[t.to_i] unless t.blank? %>
                  <% end %>
                <% end %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-3">
                <strong>Texto explicativo descripción</strong>
              </div>
              <div class="col-md-9">

                <%= @pe_element.desc_placeholder %>

              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-3">
                <strong>Texto explicativo nota</strong>
              </div>
              <div class="col-md-9">

                <%= @pe_element.note_placeholder %>

              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-3">
                <strong>Valor por defecto unidad de medida</strong>
              </div>
              <div class="col-md-9">

                <%= @pe_element.default_unit %>

              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-3">
                <strong>Valor por defecto meta</strong>
              </div>
              <div class="col-md-9">

                <%= @pe_element.default_goal %>

              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-3">
                <strong>La meta se puede modificar</strong>
              </div>
              <div class="col-md-9">

                <%= label_yes_not !@pe_element.cant_change_goal %>

              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-3">
                <strong>La unidad de medida permite dígitos</strong>
              </div>
              <div class="col-md-9">

                <%= label_yes_not @pe_element.unit_allow_digits %>

              </div>
            </div>

            <% if @pe_element.available_indicator_types && (@pe_element.available_indicator_types.include?('3') || @pe_element.available_indicator_types.include?('4'))%>

              <br>

              <div class="row">
                <div class="col-md-3">
                  <strong>Restriguir edición en metas rango y discretas</strong>
                </div>
                <div class="col-md-9">
                  <%= PeElement.fix_rank_models_list[@pe_element.fix_rank_models] if @pe_element.fix_rank_models %>
                  <br>
                  <em>Se aplicará sólo en la edición</em>
                </div>
              </div>

            <% end %>

            <% if @pe_element.available_indicator_types && @pe_element.available_indicator_types.include?('3') %>

            <br>

            <div class="row">
              <div class="col-md-3">
                <strong>Metas por defecto para indicator tipo Rangos</strong>
              </div>
              <div class="col-md-9">
                <table class="table table-condensed table-bordered">
                  <thead>
                  <tr>
                    <th>Meta</th>
                    <th>Logro(%)</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @pe_element.pe_question_rank_models_non_discrete.each do |pe_question_rank_model| %>
                    <tr>
                      <td><%= pe_question_rank_model.goal %></td>
                      <td><%= pe_question_rank_model.percentage %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>

              </div>
            </div>

            <% end %>

            <% if @pe_element.available_indicator_types && @pe_element.available_indicator_types.include?('4') %>

            <br>

            <div class="row">
              <div class="col-md-3">
                <strong>Metas por defecto para indicator tipo Discreto</strong>
              </div>
              <div class="col-md-9">
                <table class="table table-condensed table-bordered">
                  <thead>
                    <tr>
                      <th>Meta</th>
                      <th>Logro(%)</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% @pe_element.pe_question_rank_models_discrete.each do |pe_question_rank_model| %>
                    <tr>
                      <td><%= pe_question_rank_model.discrete_goal.html_safe if pe_question_rank_model.discrete_goal %></td>
                      <td><%= pe_question_rank_model.percentage %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>

              </div>
            </div>

            <% end %>

          <% end %>

          <hr>


          <% if @pe_element.assessment_method > 0 %>
            <!--
            <div class="row">
              <div class="col-md-3">
                <strong>Forma de valoración definida por</strong>
              </div>
              <div class="col-md-9">
                <% #PeElement.assessment_method_def_by_list[@pe_element.assessment_method_def_by] %>
              </div>
            </div>

            <br>

            <% if @pe_element.assessment_method_def_by == 1 %>

              <div class="row">
                <div class="col-md-3">
                  <strong>Forma de valoración definida por los roles</strong>
                </div>
                <div class="col-md-9">
                  <% @pe_element.assessment_method_def_by_rol.split('-').each do |e| %>
                    <% #PeRel.rels[e.to_i] unless e.blank? %>
                  <% end %>
                </div>
              </div>

              <br>

            <% end %>

            <hr>
            -->
          <% end %>


          <div class="row">
            <div class="col-md-3">
              <strong>Peso mínimo que se le puede asignar a un elemento</strong>
            </div>
            <div class="col-md-9">
              <%= @pe_element.min_weight %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <strong>Peso máximo que se le puede asignar a un elemento</strong>
            </div>
            <div class="col-md-9">
              <%= @pe_element.max_weight %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <strong>Suma de los pesos de todos los elementos</strong>
            </div>
            <div class="col-md-9">
              <%= @pe_element.weight_sum %>
            </div>
          </div>

        <% end %>

        <hr>

        <div class="row">
          <div class="col-md-3">
            <strong>Número mínimo de elementos que se pueden crear</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_element.min_number %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Número máximo de elementos que se pueden crear</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_element.max_number %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3">
            <strong><%= @pe_element.name %> modelo</strong>
          </div>
          <div class="col-md-9">
            <table class="table table-condensed table-bordered">
              <thead>
              <tr>
                <th>Descripción</th>
                <th>Peso</th>
                <th>Peso mínimo</th>
                <th>Peso máximo</th>
                <th>Suma de pesos</th>
                <th>Número mínimo</th>
                <th>Número máximo</th>
                <th colspan="2"><%= link_to 'Crear '+@pe_element.name.downcase+' modelo', new_pe_question_model_path(@pe_element) %></th>
              </tr>
              </thead>
              <tbody>
              <% @pe_element.pe_question_models.each do |pe_question_model| %>
                <tr>
                  <td><%= pe_question_model.description %></td>
                  <td><%= pe_question_model.weight %></td>
                  <td><%= pe_question_model.min_weight %></td>
                  <td><%= pe_question_model.max_weight %></td>
                  <td><%= pe_question_model.weight_sum %></td>
                  <td><%= pe_question_model.min_number %></td>
                  <td><%= pe_question_model.max_number %></td>
                  <td><%= link_to 'Editar', edit_pe_question_model_path(pe_question_model) %></td>
                  <td>
                    <% if pe_question_model.pe_questions.size == 0 %>
                    <%= link_to 'Eliminar', pe_question_model, method: :delete, data: { confirm: '¿Está seguro de eliminar el modelo?' } %>
                    <% end %>
                  </td>
              <% end %>
              </tbody>
            </table>

          </div>
        </div>



        <hr>
        <div class="row">
          <div class="col-md-3">
            <strong>Visible</strong>
          </div>
          <div class="col-md-9">
            <% if @pe_element.visible %>
              <span class="label label-success">Sí</span>
            <% else %>
              <span class="label label-danger">No</span>
            <% end %>
          </div>
        </div>

        <% if @pe_element.visible %>
          <br>
          <div class="row">
            <div class="col-md-3">
              <strong>Mostrar nombre del elemento</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_element.display_name %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <strong>Mostrar resultado (parcial) del elemento</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_element.display_result? %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <strong>Mostrar peso del elemento</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_element.display_weight? %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md-3">
              <strong>Permite comentarios individuales</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_element.allows_individual_comments %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <strong>Permite plan de acción</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_element.allow_action_plan %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <strong>Permite nota</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_element.allow_note %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>
          <% if @pe_element.allow_note %>
            <br>
            <div class="row">
              <div class="col-md-3">
                <strong>Nota obligatoria</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_element.note_compulsory %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3">
                <strong>Alias nota</strong>
              </div>
              <div class="col-md-9">
                <%= @pe_element.alias_note %>
              </div>
            </div>
          <% end %>

          <br>
          <div class="row">
            <div class="col-md-3">
              <strong>Alias comentario 1</strong>
            </div>
            <div class="col-md-9">
              <%= @pe_element.alias_comment %>
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md-3">
              <strong>Alias comentario 2</strong>
            </div>
            <div class="col-md-9">
              <%= @pe_element.alias_comment_2 %>
            </div>
          </div>

          <!--
          <br>
          <div class="row">
            <div class="col-md-3">
              <strong>Permite comentarios individuales colaborativos con el jefe</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_element.allow_individual_comments_with_boss %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>
          -->
          <% if @pe_element.assessed? && @pe_element.assessment_method == 1 %>

            <br>
            <div class="row">
              <div class="col-md-3">
                <strong>Forma de mostrar alternativas</strong>
              </div>
              <div class="col-md-9">

                <div class="row">

                  <% if @pe_element.alternatives_display_method == 0 %>
                    <select class="form-control">
                      <option>Alternativa 1</option>
                      <option>Alternativa 2</option>
                      <option>Alternativa N</option>
                    </select>
                  <% elsif @pe_element.alternatives_display_method == 1 %>
                    <input type="radio"> Alternativa 1<br>
                    <input type="radio"> Alternativa 2<br>
                    <input type="radio"> Alternativa N
                  <% elsif @pe_element.alternatives_display_method == 2 %>
                    <input type="radio"> Alternativa 1
                    <input type="radio"> Alternativa 2
                    <input type="radio"> Alternativa N
                  <% end %>

                </div>

              </div>
            </div>

          <% end %>

        <% end %>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">

          <%= link_to 'Editar', edit_pe_element_path(@pe_element) %>


          <% if @pe_element.pe_elements.size == 0 %>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to 'Eliminar', @pe_element, method: :delete, data: { confirm: '¿Estás seguro de eliminar el elemento?' } %>

          <% end %>

        </div>
      </div>
    </div>

    <% unless @pe_element.simple? %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>
            Estructura
          </legend>

          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th colspan="2"><%= link_to 'Crear nuevo componente de la descripción', new_pe_element_description_path(@pe_element) %></th>
              </tr>
            </thead>


            <tbody>
              <% @pe_element.pe_element_descriptions.each do |pe_element_description| %>
                <tr>
                  <td><%= pe_element_description.position %></td>
                  <td><%= pe_element_description.name %></td>
                  <td><%= link_to 'Editar', edit_pe_element_description_path(pe_element_description) %></td>
                  <td><%= link_to 'Eliminar', pe_element_description, method: :delete, data: { confirm: '¿Está seguro de eliminar el componente de la descripción?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>


        </div>
      </div>

    <% end %>

  </div>
</div>


