<div class="panel panel-default">
  <div class="panel-body">
    <legend> <%= t('views.ben_cellphone_number.shared.benefits_detail') %> </legend>

    <div class="row">
      <div class="col-md-3" align="right"><strong><%= alias_username %></strong></div>
      <div class="col-md-9"> <%= @ben_cellphone_number.user.codigo %>
      </div>
    </div>
    <br>


    <div class="row">
      <div class="col-md-3" align="right"><strong><%=t('views.ben_cellphone_number.shared.lastname') %></strong></div>
      <div class="col-md-9"> <%= @ben_cellphone_number.user.apellidos %>
      </div>
    </div>
    <br>


    <div class="row">
      <div class="col-md-3" align="right"><strong><%=t('views.ben_cellphone_number.shared.name') %></strong></div>
      <div class="col-md-9"> <%= @ben_cellphone_number.user.nombre %>
      </div>
    </div>
    <br>

    <% @ben_cellphone_characteristics.each_with_index do |ben_cellphone_characteristic,index| %>
        <div class="row">
          <div class="col-md-3" align="right"><strong><%=ben_cellphone_characteristic.characteristic.nombre%></strong></div>
          <div class="col-md-9"> <%= @ben_cellphone_number.user.formatted_characteristic_value ben_cellphone_characteristic.characteristic %></div>
        </div>
        <br>
    <% end %>

    <div class="row">
      <div class="col-md-3" align="right"><strong> <%= t('activerecord.attributes.ben_cellphone_number.number') %> </strong></div>
      <div class="col-md-9"> <%= @ben_cellphone_number.number_formatted %> </div>
    </div>
    <br>


    <div class="row">
      <div class="col-md-3" align="right"><strong> <%= t('activerecord.attributes.ben_cellphone_number.subsidy') %> </strong></div>
      <div class="col-md-9"> <%= number_with_precision( @ben_cellphone_number.subsidy, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %> </div>
    </div>
    <br>


    <div class="row">
      <div class="col-md-3" align="right"><strong><%= t('activerecord.attributes.ben_cellphone_number.active') %></strong></div>
      <div class="col-md-9"> <%= label_yes_not( @ben_cellphone_number.active )%> </div>
    </div>
    <br>


    <div class="row">
      <div class="col-md-3" align="right"><strong> <%= t('activerecord.attributes.ben_cellphone_number.nemo_plan') %> </strong></div>
      <div class="col-md-9"> <%= @ben_cellphone_number.nemo_plan %> </div>
    </div>

  </div>

  <% if show_footer == 1 %>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= link_to t('views.ben_cellphone_number.shared.change_user') , ben_cellphone_numbers_search_change_user_path('change_user', @ben_cellphone_number), method: :post %>
        &nbsp&nbsp&nbsp
         <%= link_to t('views.ben_cellphone_number.shared.edit_benefit') , edit_ben_cellphone_number_path(@ben_cellphone_number) %>
      </div>
    </div>
  <% end %>

</div>