<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.blog_forms.shared.back_to_list')).html_safe, blog_forms_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%=	icon_blog_module_html_safe %>
      <%= t('views.blog_forms.shared.blog_forms.other') %>
      <span>> <%= t('views.blog_forms.shared.edit_form') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'form' %>

  </div>
</div>
