<h1 class="page-title txt-color-blueDark">
  <%= icon_blog_module_html_safe %>
  <%= t('views.blog_forms.shared.blog_forms', :count => 2) %>
  <span>> <%= t('views.blog_forms.index.title') %> </span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">


    <legend><%= t('views.blog_forms.index.title') %></legend>

    <table class="table table-hover table-bordered">

      <thead>

      <tr>
        <th><%= t('activerecord.attributes.blog_form.name') %></th>
        <th><%= t('activerecord.attributes.blog_form.description') %></th>
        <th><%= t('activerecord.attributes.blog_form.active') %></th>
        <th>
          <%= link_to t('views.blog_forms.shared.create_new_form') , new_blog_form_path %>
        </th>
      </tr>
      </thead>

      <tbody>

      <% @blog_forms.each do |blog_form| %>
          <tr>
            <td><%= blog_form.name %></td>
            <td><%= blog_form.description.html_safe %></td>
            <td><%= label_yes_not blog_form.active %></td>
            <td><%= link_to t('views.blog_forms.shared.manage_forms'), blog_form %></td>
          </tr>
      <% end %>
      </table>
    <br>
    <%= link_to t('views.blog_forms.shared.manage_lists') , blog_lists_path %>
  </div>
</div>
