<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.blog_forms.shared.back_to_list')).html_safe, blog_forms_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%= icon_blog_module_html_safe %>
      <%= @blog_form.name %>
      <span>> <%= t('views.blog_forms.shared.manage_forms') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">


    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          <%= t('views.blog_forms.shared.form_data') %>
        </legend>
        <div class="row">
          <div class="col-md-3">
            <strong><%= t('activerecord.attributes.blog_form.name') %></strong>
          </div>
          <div class="col-md-9">
            <%= @blog_form.name %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong><%= t('activerecord.attributes.blog_form.description') %></strong>
          </div>
          <div class="col-md-9">
            <%= @blog_form.description.html_safe %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong><%= t('activerecord.attributes.blog_form.active') %></strong>
          </div>
          <div class="col-md-9">
            <%= label_yes_not @blog_form.active %>
          </div>
        </div>
        <br>
        <div class="panel panel-default">
          <div class="panel-body">
            <legend><%= t('views.blog_forms.form.blog_form_items') %></legend>
            <table class="table table-hover table-bordered">

              <thead>

              <tr>
                <th><%= t('activerecord.attributes.blog_form_item.position') %></th>
                <th><%= t('activerecord.attributes.blog_form_item.name') %></th>
                <th><%= t('activerecord.attributes.blog_form_item.description') %></th>
                <th><%= t('activerecord.attributes.blog_form_item.mandatory') %></th>
                <th><%= t('activerecord.attributes.blog_form_item.item_type') %></th>
                <th><%= t('activerecord.attributes.blog_form_items.blog_list_id') %></th>
              </tr>
              </thead>

              <tbody>

              <% @blog_form.blog_form_items.each do |item| %>
                  <tr>
                    <td><%= item.position %></td>
                    <td><%= item.name %></td>
                    <td><%= item.description.html_safe %></td>
                    <td><%= label_yes_not item.mandatory %></td>
                    <td><%= BlogFormItem.item_type_options[item.item_type] %></td>
                    <td><%= item.blog_list.name if item.blog_list %></td>
                  </tr>
              <% end %>
              </table>
          </div>
        </div>
        <br>
        <div class="panel panel-default">
          <div class="panel-body">
            <legend><%= t('views.blog_forms.shared.permissions') %></legend>
            <table class="table table-hover table-bordered">

              <thead>

              <tr>
                <th><%= t('activerecord.attributes.blog_form_permission.perm_type') %></th>
                <th><%= t('activerecord.attributes.blog_form_permission.employee') %></th>
                <th><%= t('activerecord.attributes.blog_form_permission.boss') %></th>
                <th><%= t('activerecord.attributes.blog_form_permission.superior') %></th>
                <th><%= t('activerecord.attributes.blog_form_permission.others') %></th>
              </tr>
              </thead>

              <tbody>

              <% @blog_form.blog_form_permissions.where(active: true).each do |perm| %>
                <tr>
                  <td><%= BlogFormPermission.perm_type_options[perm.perm_type] %></td>
                  <td><%= label_yes_not perm.employee %></td>
                  <td><%= label_yes_not perm.boss %></td>
                  <td><%= label_yes_not perm.superior %></td>
                  <td><%= label_yes_not perm.others %></td>
                </tr>
              <% end %>
              </table>
            <%= render 'legend_write_privilege' %>
          </div>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= link_to t('views.blog_forms.shared.config_permissions') , blog_forms_show_config_permissions_path(@blog_form) %>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to t('views.blog_forms.shared.edit_form') , edit_blog_form_path(@blog_form) %>
        </div>
      </div>
    </div>


  </div>
</div>