<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.blog_forms.shared.back_to_form')).html_safe, @blog_form, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%= icon_blog_module_html_safe %>
      <%= @blog_form.name %>
      <span>> <%= t('views.blog_forms.shared.config_permissions') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          <%= t('views.blog_forms.shared.form_data') %>
        </legend>
        <div class="row">
          <div class="col-md-3">
            <strong><%= t('activerecord.attributes.blog_form.name') %></strong>
          </div>
          <div class="col-md-9">
            <%= @blog_form.name %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong><%= t('activerecord.attributes.blog_form.description') %></strong>
          </div>
          <div class="col-md-9">
            <%= @blog_form.description.html_safe %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong><%= t('activerecord.attributes.blog_form.active') %></strong>
          </div>
          <div class="col-md-9">
            <%= label_yes_not @blog_form.active %>
          </div>
        </div>
      </div>
    </div>
    <%= form_for @blog_form, url: blog_forms_config_permissions_path(@blog_form), html: {class: 'form-horizontal'} do |f| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <legend><%= t('views.blog_forms.shared.permissions') %></legend>

          <table class="table table-hover table-bordered">
            <thead>
            <tr>
              <th><%= t('activerecord.attributes.blog_form_permission.perm_type') %></th>
              <th><%= t('activerecord.attributes.blog_form_permission.employee') %></th>
              <th><%= t('activerecord.attributes.blog_form_permission.boss') %></th>
              <th><%= t('activerecord.attributes.blog_form_permission.superior') %></th>
              <th><%= t('activerecord.attributes.blog_form_permission.others') %></th>
            </tr>
            </thead>
            <tbody>
            <% @permissions.each do |permission| %>
              <%= f.fields_for :blog_form_permissions, permission do |f_perm| %>
                <tr>
                  <td>
                    <%= BlogFormPermission.perm_type_options[f_perm.object.perm_type] %>
                    <%= f_perm.hidden_field :perm_type %>
                    <%= f_perm.hidden_field :active, value: 1 %>
                  </td>
                  <td><%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f_perm, :field => :employee} %></td>
                  <td><%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f_perm, :field => :boss} %></td>
                  <td><%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f_perm, :field => :superior} %></td>
                  <td><%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f_perm, :field => :others} %></td>
                </tr>
              <% end %>
            <% end %>
            </table>
          <%= render 'legend_write_privilege' %>
        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right ">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>