<div class="row">
  <div class="col-md-6 col-md-offset-3">




    <%= form_for correo_prima_enviar_path, html: {class: 'form-horizontal', multipart: true} do |f| %>

      <div class="form-group">

        <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

        <div class="col-md-10">

          <%= file_field 'upload', 'datafile' %>

        </div>

      </div>


      <div class="form-group">

        <div class="col-md-10">

          <%= f.submit 'Enviar correo', class: 'btn btn-primary' %>

        </div>

      </div>

    <% end %>


  </div>
</div>