


<%= form_for @j_characteristic, html: {class: 'form-horizontal', role: 'form'} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos de la característica</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">

        <%= f.label :characteristic_id, 'Característica', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <% if JCharacteristic.all.count == 0 %>

            <% cs = Characteristic.available_to_other_modules.reorder('nombre') %>

          <% else %>

            <% cs = Characteristic.available_to_other_modules.where('id not in (?)', JCharacteristic.pluck(:characteristic_id)).reorder('nombre') %>

          <% end %>

          <% characteristic_array = cs.map { |c| [c.nombre, c.id] } %>

          <%= f.select(:characteristic_id, options_for_select(characteristic_array, @j_characteristic.characteristic_id), {include_blank: '-- Seleccione una característica --'}, class: 'form-control') %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :position, 'Orden', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :position, class: 'form-control' %>

        </div>

      </div>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

<% end %>




