<div class="modal fade" id="deactivate_description_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x &nbsp;</button>
    <%= form_for request, url: vac_manager_deactivate_request_manager_path(request), method: :post, html: {class: 'form-horizontal deactivate_description_form'} do |f| %>
      <div class="panel panel-default record_pane">
        <div class="panel-body">
          <legend><%= t('views.vac_requests.legends.description_legend') %></legend>
          <div id="modal_errors" class="alert alert-danger" style="display: none"> Comentario no puede ser vacío</div>
          <div class="form-group">
            <% comment = 'Escriba justificación (obligatorio)' %>
            <div class="col-md-12 col-sm-12 col-xs-12"> <%= f.text_area :status_description, class: 'form-control', :rows => 3, autofocus: 'autofocus', value: '', placeholder: comment %> </div>
          </div>
        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit t('views.vac_requests.flow_process.save'), class: 'btn btn-primary link_btn', data:{ url_approved_refresh: vac_records_validation_approved_requests_path } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
    $('.deactivate_description_form').on('submit', function (e) {
        e.preventDefault();
        if (confirm('¿Está seguro de guardar este comentario?')) {
            url = $(this).attr('action');
            description = $('#vac_request_status_description').val();

            if(description === '') {
                description_empty = true;
            } else {
                description_empty = false;
            }

            if (description_empty) {
                $("#modal_errors").show(500).delay(2000).hide(500);
            } else {
                load_accordion();
                $('#deactivate_description_modal').modal('hide');
                $.ajax({
                    url: url,
                    type: 'post',
                    data: $('.deactivate_description_form').serialize(),
                    success: function (data) {
                        $('#status_description_modal').modal('hide');
                        $('.modal-backdrop').remove();
                        $('#user_information_manager_accordion').html(data);
                        finish_load_accordion();
                    }
                });
            }
        }
    });
</script>

