<legend> <%= t('views.vac_requests.legends.requests_lits') %></legend>
<table id="datatable_vac_requests" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <th><%=alias_username%></th>
    <th><%= t('views.vac_requests.user.lastname')%></th>
    <th><%= t('views.vac_requests.user.name')%></th>
    <th><%= t('activerecord.attributes.vac_request.begin') %></th>
    <th><%= t('activerecord.attributes.vac_request.end') %></th>
    <th><%= t('activerecord.attributes.vac_request.days') %></th>
    <th><%= t('activerecord.attributes.vac_request.days_progressive') %></th>
    <th></th>
  </tr>

  <tr class="second">
    <td><label class="input hidden "><input type="text" name="search_num" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_cod" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_lastname" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_name" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_begin" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_end" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_days" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_days_progressive" value="" class="search_init"></label></td>
    <td></td>
  </tr>
  </thead>

  <% requests.each_with_index do |request, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%=request.user.codigo%></td>
      <td><%=request.user.apellidos%></td>
      <td><%=request.user.nombre%></td>
      <td><%= (localize request.begin, :format => :day_snmonth_year)%></td>
      <td><%= (localize request.end, :format => :day_snmonth_year)%></td>
      <td><%= request.days %></td>
      <td><%= request.days_progressive if request.days_progressive && request.days_progressive > 0 %></td>
      <td><%= link_to t('views.vac_requests.flow_process.manage'), vac_manager_request_manage_path(request) %></td>
    </tr>
  <% end %>

</table>

<%= render partial: '/shared/datatable',
           locals: { table_id: 'datatable_vac_requests' } %>