<% requests = defined?(requests)  ? requests : VacRequest.all_registered_manually %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend><%= 'Lista' %></legend>

        <div class="row">
          <div class="col-md-12 col-md-offset-0">
            <table id="table_recorder_user_to_register", class="table table-bordered " style="font-size: 11px;" width="100%" style="display:none;">
              <thead>
              <tr>
                <th><%= alias_username.to_s %></th>
                <th><%= 'Apellidos' %></th>
                <th><%= 'Nombres' %></th>
                <th><%= 'Fecha de ingreso' %></th>
                <th><%= 'Días de vacaciones' %></th>
                <th><%= 'Estado final días' %></th>
                <th><%= 'Días progresivos' %></th>
                <th><%= 'Estado final días progresivos'%></th>
                <th><%= 'Justificación' %></th>
              </tr>
              </thead>
              <tbody>

              <% requests.each_with_index do |request| %>
                <% accum = request.latest_accumulated %>
                <tr>
                  <td><%= request.user.codigo %></td>
                  <td><%= request.user.apellidos %></td>
                  <td><%= request.user.nombre %></td>
                  <td><%= request.begin.strftime('%d/%m/%Y') %></td>
                  <td><%= number_with_precision( request.days_manually, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %></td>
                  <td align="right"><%= number_with_precision( accum.accumulated_real_days, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) if accum %></td>
                  <td><%= request.days_progressive %></td>
                  <td align="right"><%= accum.accumulated_progressive_days if accum %></td>
                  <td><%= request.registered_manually_description %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>