<div class="modal fade" id="paid_description_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x &nbsp;</button>
    <%= form_for vac_rule, url: vac_manager_benefit_change_paid_path(vac_rule.id, vac_rule.paid ? 1 : 0), method: :post, html: {class: 'form-horizontal paid_description_form'} do |f| %>
      <div class="panel panel-default record_pane">
        <div class="panel-body">
          <legend><%= t('views.vac_requests.legends.description_legend') %></legend>
          <div id="modal_errors" class="alert alert-danger" style="display: none"> Comentario no puede ser vacío</div>
          <div class="form-group">
            <% comment = 'Si desea, escriba comentario' %>
            <% comment = 'Escriba justificación (obligatorio)' if defined?(required) && required %>
            <div class="col-md-12 col-sm-12 col-xs-12"> <%= f.text_area :paid_description, class: 'form-control', :rows => 3, autofocus: 'autofocus', value: '', placeholder: comment %> </div>
          </div>
        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit t('views.vac_requests.flow_process.save'), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
    $('.paid_description_form').on('submit', function (e) {
        e.preventDefault();
        if (confirm('¿Está seguro de guardar este comentario?')) {
            url = $(this).attr('action');
            description = $('#vac_rule_record_paid_description').val();

            <% if defined?(required) && required %>
              if (description === '') {
                  description_empty = true;
              } else {
                  description_empty = false;
              }
            <% else %>
              description_empty = false;
            <% end %>

            if (description_empty) {
                $("#modal_errors").show(500).delay(2000).hide(500);
            } else {
                $('#paid_description_modal').modal('hide');
                $.ajax({
                    url: url,
                    type: 'post',
                    data: { 'paid_description': description},
                    success: function (data) {
                        $('#request_info_container').html(data);
                        $('#paid_description_modal').modal('hide');
                        $('.modal-backdrop').remove();
                    }
                });
            }
        }
    });
</script>