<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.vac_requests.navigation.back_list_requests_list')).html_safe, vac_manager_index_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-suitcase" aria-hidden="true"></i>
      <%= t('views.vac_requests.legends.records') %>
      <span>> <%= t('views.vac_requests.flow_process.reports') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li><a href="#full_report" data-toggle="tab" id="approved_requests_tab"><%= 'Reporte de bonos' %></a></li>
          <li><a href="#money_report" data-toggle="tab" id="closed_requests_tab"><%= 'Marcar bonos monetarios' %></a></li>
          <li><a href="#requests_report" data-toggle="tab" id="requests_tab"><%= 'Reporte de solicitudes' %></a></li>
          <li><a href="#scheme_report" data-toggle="tab" id="scheme_tab"><%= 'Reporte de saldos actuales'%></a></li>

        </ul>

        <br>

        <div class="tab-content">

          <div class="tab-pane" id="scheme_report">
            <%= form_tag vac_manager_scheme_report_path, method: :post do %>
              <div class="panel panel-default">
                <div class="panel-body">
                  <legend><%= 'Información para reporte de saldos actuales' %></legend>
                  <div class="row">

                    <div class="col-md-4" align="right"><strong> <%= 'Fecha' %> </strong></div>
                    <div class="col-md-8" style="cursor:pointer;">
                      <div class="input-group " style="cursor:pointer;">
                        <%= text_field_tag 'Fecha', lms_time.strftime('%d/%m/%Y'),
                                           class: "form-control date-picker",
                                           style: "padding-left: 5px; cursor:pointer;",
                                           data: {format: '%d/%m/%Y',
                                                  url: vac_records_register_scheme_calculus_path},
                                           readonly: true,
                                           onchange: 'calculate_next_vac_accumulated(this)' %>

                        <span class="input-group-addon" onclick=show_fecha(this)> <i class="fa fa-calendar" aria-hidden="true" style="padding-left: 5px;"></i></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="panel-footer clearfix">
                  <div class="pull-right">
                      <%= submit_tag 'Generar', class: 'btn btn-primary' %>
                    </div>
                  </div>
              </div>
            <% end %>

            <script>
                $('#Fecha').datetimepicker({
                    language: 'es',
                    pickTime: false,
                    pickDate: true,
                    minDate: new Date('<%=lms_time.strftime('%Y-%m-%d')%>')
                });

                $('#Fecha').on('change', function (e) {
                    $('#Fecha').trigger('blur');
                });

                function show_fecha(link) {
                    $('#Fecha').datetimepicker().trigger('focus');
                }
            </script>

          </div>


          <div class="tab-pane" id="full_report">
                <%= form_tag vac_manager_benefits_report_generate_path, format: 'xlsx', method: :post do |f| %>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <legend> <%= 'Características de bonos' %></legend>

                      <div class="row">
                        <div class="col-md-4" align="right"><strong> <%= 'Inicio' %> </strong></div>
                        <div class="col-md-8">
                          <div class="input-group">
                            <%= text_field_tag 'Inicio', lms_time.strftime('%d/%m/%Y'),
                                               class: "form-control date-picker",
                                               :data => {:format => '%d/%m/%Y'},
                                               style: "cursor: pointer;",
                                               :readonly => true %>
                            <span class="input-group-addon"> <i class="fa fa-calendar" aria-hidden="true" style="padding-left: 5px;"></i></span>
                          </div>
                        </div>
                      </div>

                      <br>

                      <div class="row">
                        <div class="col-md-4" align="right"><strong> <%= 'Fin' %> </strong></div>
                        <div class="col-md-8">
                          <div class="input-group">
                            <%= text_field_tag 'Fin', lms_time.strftime('%d/%m/%Y'),
                                               class: "form-control date-picker",
                                               style: "cursor: pointer;",
                                               :data => {:format => '%d/%m/%Y'},
                                               :readonly => true %>
                            <span class="input-group-addon"> <i class="fa fa-calendar" aria-hidden="true" style="padding-left: 5px;"></i></span>
                          </div>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col-md-8 col-md-offset-4">
                          <em><%= 'Se tomarán en cuenta los beneficios correspondientes a las solicitudes con fecha de referencia dentro del rango especificado' %></em>
                        </div>
                      </div>

                      <br>

                      <div class="row">
                        <div class="col-md-4" align="right"><strong> <%= 'Inicio como fecha de referencia' %> </strong></div>
                        <div class="col-md-8">
                          <%= check_box_tag 'begin_as_reference', 1, true, checked: true, class: 'benefit_switch' %>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-8 col-md-offset-4">
                          <em><%= 'De no tomar el inicio de las vacaciones como fecha de referencia, será la de fin' %></em>
                        </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class="col-md-4" align="right"><strong><%= 'Empresa' %></strong></div>
                      </div>

                      <% characteristic = Characteristic.get_characteristic_company %>
                      <% values = characteristic ? characteristic.active_characteristic_values : [] %>
                      <% empresa_options = values.map{|i| [i.value_string, i.id]} %>

                      <% empresa_options.each do |empresa_option| %>
                        <div class="row"><div class="col-md-8 col-md-offset-4">
                          <%= check_box_tag 'select2_empresa[]', empresa_option[1], false, checked: false %>
                          <%= empresa_option[0] %>
                        </div></div>
                      <% end %>

                      <br>

                      <% options_status = VacRequest.status_numbers_messages %>

                      <div class="row">
                        <div class="col-md-4" align="right"><strong> <%= 'Solicitudes' %> </strong></div>
                        <div class="col-md-8">
                          <%= select_tag('select2_status_requests', options_for_select(options_status), {multiple: true, size: 2, class: 'form-control', placeholder: '-- Seleccione Estados --'}) %>
                        </div>
                      </div>

                      <br>

                      <% options_bonus = [['Efectivo', 1], ['No efectivo', -1], ['Pendiente', 0]] %>

                      <div class="row">
                        <div class="col-md-4" align="right"><strong> <%= 'Bonos' %> </strong></div>
                        <div class="col-md-8">
                          <%= select_tag('select2_bonus', options_for_select(options_bonus, 1), {multiple: true, size: 2, class: 'form-control', placeholder: '-- Seleccione --'}) %>
                        </div>
                      </div>

                      <br>

                      <div class="row">
                        <div class="col-md-4" align="right"><strong> <%= 'Monetarios' %> </strong></div>
                        <div class="col-md-8">
                          <%= check_box_tag 'include_money', 1, true, checked: true, class: 'benefit_switch' %>
                        </div>
                      </div>

                      <br>

                      <div class="row">
                        <div class="col-md-4" align="right"><strong> <%= 'No monetarios' %> </strong></div>
                        <div class="col-md-8">
                          <%= check_box_tag 'include_not_money', 1, true, checked: true, class: 'benefit_switch' %>
                        </div>
                      </div>

                    </div>

                    <div class="panel-footer clearfix">
                      <div class="pull-right">
                        <%= submit_tag 'Generar', class: 'btn btn-primary' %>
                      </div>
                    </div>

                  </div>
                <% end %>
          </div>

          <div class="tab-pane" id="money_report">
            <%= form_tag vac_manager_benefits_report_generate_for_bonus_path, format: 'xlsx', method: :post do |f| %>
              <div class="panel panel-default">
                <div class="panel-body">
                  <legend> <%= 'Características de bonos monetarios a marcar efectivos' %></legend>

                  <div class="row">
                    <div class="col-md-4" align="right"><strong> <%= 'Inicio' %> </strong></div>
                    <div class="col-md-8">
                      <div class="input-group">
                        <%= text_field_tag 'Inicio_2', lms_time.strftime('%d/%m/%Y'),
                                           class: "form-control date-picker",
                                           :data => {:format => '%d/%m/%Y'},
                                           style: "cursor: pointer;",
                                           :readonly => true %>
                        <span class="input-group-addon"> <i class="fa fa-calendar" aria-hidden="true" style="padding-left: 5px;"></i></span>
                      </div>
                    </div>
                  </div>

                  <br>

                  <div class="row">
                    <div class="col-md-4" align="right"><strong> <%= 'Fin' %> </strong></div>
                    <div class="col-md-8">
                      <div class="input-group">
                        <%= text_field_tag 'Fin_2', lms_time.strftime('%d/%m/%Y'),
                                           class: "form-control date-picker",
                                           style: "cursor: pointer;",
                                           :data => {:format => '%d/%m/%Y'},
                                           :readonly => true %>
                        <span class="input-group-addon"> <i class="fa fa-calendar" aria-hidden="true" style="padding-left: 5px;"></i></span>
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-8 col-md-offset-4">
                      <em><%= 'Se tomarán en cuenta los beneficios correspondientes a las solicitudes con fecha de referencia dentro del rango especificado' %></em>
                    </div>
                  </div>

                  <br>

                  <div class="row">
                    <div class="col-md-4" align="right"><strong> <%= 'Inicio como fecha de referencia' %> </strong></div>
                    <div class="col-md-8">
                      <%= check_box_tag 'begin_as_reference_2', 1, true, checked: true, class: 'benefit_switch' %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 col-md-offset-4">
                      <em><%= 'De no tomar el inicio de las vacaciones como fecha de referencia, será la de fin' %></em>
                    </div>
                  </div>

                  <% options_status = VacRequest.status_numbers_messages %>

                  <div class="row" style="display:none;">
                    <div class="col-md-4" align="right"><strong> <%= 'Solicitudes' %> </strong></div>
                    <div class="col-md-8">
                      <%= select_tag('select2_status_requests_2', options_for_select(options_status, [2,3]), {multiple: true, size: 2, class: ' select_2_class form-control', placeholder: '-- Seleccione Estados --'}) %>
                    </div>
                  </div>

                  <br>

                  <% characteristic = Characteristic.get_characteristic_company %>
                  <% values = characteristic ? characteristic.active_characteristic_values : [] %>
                  <% empresa_options = values.map{|i| [i.value_string, i.id]} %>

                  <div class="row">
                    <div class="col-md-4" align="right"><strong><%= 'Empresa' %></strong></div>
                  </div>

                  <% empresa_options.each do |empresa_option| %>
                    <div class="row"><div class="col-md-8 col-md-offset-4">
                      <%= check_box_tag 'select2_empresa_2[]', empresa_option[1], false, checked: false %>
                      <%= empresa_option[0] %>
                    </div></div>
                  <% end %>

                  <br>

                  <% options_bonus = [['Efectivo', 1], ['Pendiente', 0]] %>

                  <div class="row">
                    <div class="col-md-4" align="right"><strong> <%= 'Bonos' %> </strong></div>
                    <div class="col-md-8">
                      <%= select_tag('select2_bonus_2', options_for_select(options_bonus, [0,1]), {multiple: true, size: 2, class: 'select_2_class form-control', placeholder: '-- Seleccione --'}) %>
                    </div>
                  </div>

                  <div class="row" style="display:none;">
                    <div class="col-md-4" align="right"><strong> <%= 'Monetarios' %> </strong></div>
                    <div class="col-md-8">
                      <%= check_box_tag 'include_money_2', 1, true, checked: true, class: 'benefit_switch' %>
                    </div>
                  </div>

                  <div class="row" style="display:none;">
                    <div class="col-md-4" align="right"><strong> <%= 'No monetarios' %> </strong></div>
                    <div class="col-md-8">
                      <%= check_box_tag 'include_not_money_2', 0, false, checked: false, class: 'benefit_switch' %>
                    </div>
                  </div>

                </div>

                <div class="panel-footer clearfix">
                  <div class="pull-right">
                    <%= submit_tag 'Generar y marcar pendientes como efectivo', class: 'btn btn-primary' %>
                  </div>
                </div>

              </div>
            <% end %>
          </div>

          <div class="tab-pane" id="requests_report">
            <%= form_tag vac_manager_benefits_report_generate_requests_path, format: 'xlsx', method: :post do |f| %>
              <div class="panel panel-default">
                <div class="panel-body">
                  <legend> <%= 'Información de solicitudes' %></legend>

                  <div class="row">
                    <div class="col-md-4" align="right"><strong> <%= 'Inicio' %> </strong></div>
                    <div class="col-md-8">
                      <div class="input-group">
                        <%= text_field_tag 'Inicio_3', lms_time.strftime('%d/%m/%Y'),
                                           class: "form-control date-picker",
                                           :data => {:format => '%d/%m/%Y'},
                                           style: "cursor: pointer;",
                                           :readonly => true %>
                        <span class="input-group-addon"> <i class="fa fa-calendar" aria-hidden="true" style="padding-left: 5px;"></i></span>
                      </div>
                    </div>
                  </div>

                  <br>

                  <div class="row">
                    <div class="col-md-4" align="right"><strong> <%= 'Fin' %> </strong></div>
                    <div class="col-md-8">
                      <div class="input-group">
                        <%= text_field_tag 'Fin_3', lms_time.strftime('%d/%m/%Y'),
                                           class: "form-control date-picker",
                                           style: "cursor: pointer;",
                                           :data => {:format => '%d/%m/%Y'},
                                           :readonly => true %>
                        <span class="input-group-addon"> <i class="fa fa-calendar" aria-hidden="true" style="padding-left: 5px;"></i></span>
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-8 col-md-offset-4">
                      <em><%= 'Se tomarán las solicitudes con fecha de referencia dentro del rango especificado' %></em>
                    </div>
                  </div>

                  <br>

                  <div class="row">
                    <div class="col-md-4" align="right"><strong> <%= 'Inicio como fecha de referencia' %> </strong></div>
                    <div class="col-md-8">
                      <%= check_box_tag 'begin_as_reference_3', 1, true, checked: true, class: 'benefit_switch' %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 col-md-offset-4">
                      <em><%= 'De no tomar el inicio de las vacaciones como fecha de referencia, será la de fin' %></em>
                    </div>
                  </div>

                  <br>
                  <% options_status = VacRequest.status_numbers_messages %>
                  <% options_status << ['Histórico legacy', 5] %>

                  <div class="row">
                    <div class="col-md-4" align="right"><strong> <%= 'Solicitudes' %> </strong></div>
                    <div class="col-md-8">
                      <%= select_tag('select2_status_requests_3', options_for_select(options_status),
                                     { multiple: true, size: 2, class: 'form-control', placeholder: '-- Seleccione Estados --'} ) %>
                    </div>
                  </div>

                  <br>

                  <% characteristic = Characteristic.get_characteristic_company %>
                  <% values = characteristic ? characteristic.active_characteristic_values : [] %>
                  <% empresa_options = values.map{|i| [i.value_string, i.id]} %>

                  <div class="row">
                    <div class="col-md-4" align="right"><strong><%= 'Empresa' %></strong></div>
                  </div>

                  <% empresa_options.each do |empresa_option| %>
                    <div class="row"><div class="col-md-8 col-md-offset-4">
                      <%= check_box_tag 'select2_empresa_3[]', empresa_option[1], false, checked: false %>
                      <%= empresa_option[0] %>
                    </div></div>
                  <% end %>

                </div>

                <div class="panel-footer clearfix">
                  <div class="pull-right">
                    <%= submit_tag 'Generar', class: 'btn btn-primary' %>
                  </div>
                </div>

              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $('.benefit_switch').bootstrapSwitch({
        onColor: 'success',
        onText: "Sí",
        offColor: 'danger',
        offText: "No",
        size: "mini"
    })

    $('.date-picker').datetimepicker({
        language: 'es',
        pickTime: false,
        pickDate: true
    });
</script>

<script>

    var minimumInputLength = 0
    $('#select2_status_requests_3').select2({
        minimumInputLength: minimumInputLength,
        formatInputTooShort: function () {
            return "Se deben ingresar al menos " + minimumInputLength + " caracteres";
        },
    })

    var minimumInputLength = 0
    $('#select2_status_requests').select2({
        minimumInputLength: minimumInputLength,
        formatInputTooShort: function () {
            return "Se deben ingresar al menos " + minimumInputLength + " caracteres";
        },
    })

    var minimumInputLength = 0
    $('#select2_bonus').select2({
        minimumInputLength: minimumInputLength,
        formatInputTooShort: function () {
            return "Se deben ingresar al menos " + minimumInputLength + " caracteres";
        },
    })


    var minimumInputLength = 0
    $('.select_2_class').select2({
        minimumInputLength: minimumInputLength,
        formatInputTooShort: function () {
            return "Se deben ingresar al menos " + minimumInputLength + " caracteres";
        },
    })

</script>

<script>
    $(function () {
        $('a[data-toggle="tab"]')[0].click();
    })
</script>