<div class="row">
  <div class="col-md-12 col-md-offset-0">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-suitcase" aria-hidden="true"></i>
      <%= t('views.vac_requests.legends.vacations') %>
      <span>> <%= t('views.vac_requests.flow_process.manage') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-md-offset-0">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li><a href="#approved_requests" data-toggle="tab" id="approved_requests_tab"><%= 'Solicitudes aprobadas' %></a></li>
          <li><a href="#closed_requests" data-toggle="tab" id="closed_requests_tab"><%= 'Solicitudes históricas' %></a></li>
          <li><a href="#pending_bonus" data-toggle="tab" id="pending_bonus_tab"><%= 'Bonos pendientes' %></a></li>
          <li><a href="#paid_and_not_bonus" data-toggle="tab" id="paid_and_not_bonus_tab"><%= 'Bonos pagados y no pagados' %></a></li>
          <li><a href="#approvers" data-toggle="tab" id="approvers_tab"><%= 'Aprobadores' %></a></li>
          <li><a href="#manual_records" data-toggle="tab" id="manual_records_tab"><%= 'Registro manual' %></a></li>
        </ul>

        <br>

        <div class="tab-content">

          <div class="tab-pane" id="approved_requests">
            <div class="panel panel-default">
              <div class="panel-body">
                <%= link_to 'Cerrar aprobados pasados 30 días', vac_manager_auto_close_seven_days_path, class: 'col-md-12', data: { confirm: '¿Está seguro de cerrar solcitudes?' } %>
                <br>

                <%= render partial: 'vac_records_register/requests_datatable',
                           locals: { show_link: true,
                                     close_massive: true,
                                     manager: true,
                                     show_users: true,
                                     id_datatable: 'approved_datatable',
                                     only_closable: true,
                                     requests: VacRequest.joins(:user).where(registered_manually: false, active: true, status: [VacRequest.approved], historical: false).where('end <= ?', lms_time.strftime('%Y-%m-%d')).order('apellidos asc, nombre asc, begin asc') } %>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="closed_requests">

            <div class="panel panel-default">
              <div class="panel-body">

                <div class="col-md-12 col-md-offset-0">
                  <div class="alert alert-info">
                    <%= 'Actualmente hay '+VacRequest.all_historical.size.to_s+' solicitudes de historial registradas.' %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-md-offset-0" align="right">
                    <%= link_to 'Carga masiva', vac_manager_massive_historical_upload_path %>
                  </div>
                </div>

                <br>

                <div class="row">
                  <div class="col-md-12 col-md-offset-0">
                    <%= render partial: 'shared/search_users',
                               locals: {url_to_go: vac_manager_find_users_search_path,
                                        include_no_active_checkbox: true,
                                        user: User.new} %>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="tab-pane" id="pending_bonus">
            <div class="panel panel-default">
              <div class="panel-body">

                <div class="row">
                  <div class="col-md-12 col-md-offset-0">
                    <%= render partial: 'shared/search_users',
                               locals: {url_to_go: vac_manager_users_search_unpaid_benefits_path,
                                        include_no_active_checkbox: true,
                                        user: User.new} %>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="tab-pane" id="paid_and_not_bonus">
            <div class="panel panel-default">
              <div class="panel-body">

                <div class="row">
                  <div class="col-md-12 col-md-offset-0">
                    <%= render partial: 'shared/search_users',
                               locals: {url_to_go: vac_manager_users_search_paid_yn_benefits_path,
                                        include_no_active_checkbox: true,
                                        user: User.new} %>
                  </div>
                </div>

              </div>
            </div>
          </div>





          <div class="tab-pane" id="approvers">
            <div class="panel panel-default">
              <div class="panel-body">
                <%= render partial: 'vac_approvers/approvers_list',
                           locals: {approvers: VacApprover.active_approvers } %>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="manual_records">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">

                  <div class="col-md-12 col-md-offset-0">
                    <div class="alert alert-info">
                      <%= 'Actualmente hay '+VacRequest.all_registered_manually.size.to_s+' solicitudes manuales registradas.' %>
                    </div>
                  </div>

                  <% first_accumulated = VacAccumulated.active.order('up_to_date ASC').first %>
                  <% if first_accumulated %>
                  <%= form_tag vac_manager_update_legal_and_prog_path, method: :post do %>
                        <div class="col-md-2" align="right"><strong> <%= 'Actualización anual de saldos' %> </strong></div>
                        <div class="col-md-2" style="cursor:pointer;">
                          <div class="input-group " style="cursor:pointer;">
                            <%= text_field_tag 'reference_date', lms_time.strftime('%d/%m/%Y'),
                                               class: "form-control date-picker",
                                               style: "padding-left: 5px; cursor:pointer;",
                                               data: {format: '%d/%m/%Y'},
                                               readonly: true %>
                            <span class="input-group-addon" onclick=show_fecha(this)> <i class="fa fa-calendar" aria-hidden="true" style="padding-left: 5px;"></i></span>
                          </div>
                        </div>
                        <div class="col-md-8">
                        <%= submit_tag 'Ejecutar', class: 'btn btn-primary disable_this_after_click' %>
                        </div>
                  <% end %>

                  <script>
                      $('#reference_date').datetimepicker({
                          language: 'es',
                          pickTime: false,
                          pickDate: true,
                          maxDate: new Date('<%=(lms_time+1.day).strftime('%Y-%m-%d')%>'),
                          minDate: new Date('<%=first_accumulated.up_to_date.strftime('%Y-%m-%d')%>')
                      });

                      $('#reference_date').on('change', function (e) {
                          $('#reference_date').trigger('blur');
                      });

                      function show_fecha(link) {
                          $('#reference_date').datetimepicker().trigger('focus');
                      }
                      $('.disable_this_after_click').on('click', function (e) {
                          $(this).addClass('disabled');
                      });
                  </script>
                  <% end %>

                  <div class="col-md-12 col-md-offset-0" align="right">
                    <%= link_to t('views.vac_requests.flow_process.new'), vac_manager_new_record_search_people_path %>
                    <br>
                    <%= link_to t('views.vac_requests.flow_process.massive_upload_requests'), vac_manager_massive_upload_requests_path %>
                  </div>
                </div>

                <br>

                <%= render partial: 'shared/search_users',
                           locals: {url_to_go: vac_manager_find_users_search_manual_req_path,
                                    include_no_active_checkbox: true,
                                    user: User.new} %>

                <%# render partial: 'records_manually', locals: { records: VacRequest.all_registered_manually } %>
              </div>
            </div>
          </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        $('#approved_requests_tab').on("shown.bs.tab", function (e) {
            $('#approved_datatable').DataTable().draw()
        });

        $('#closed_requests_tab').on("shown.bs.tab", function (e) {
            $('#closed_datatable').DataTable().draw()
        });

        $('#pending_bonus_tab').on("shown.bs.tab", function (e) {
            $('#pending_bonus_datatable').DataTable().draw()
        });

        $('#paid_and_not_bonus_tab').on("shown.bs.tab", function (e) {
            $('#paid_and_not_bonus_datatable').DataTable().draw()
        });

        $('#approvers_tab').on("shown.bs.tab", function (e) {
            $('#datatable_approvers').DataTable().draw()
        });

        // $('#manual_records_tab').on("shown.bs.tab", function (e) {
        //     $('#datatable_manual_records').DataTable().draw()
        // });

        $('a[data-toggle="tab"]')[<%= @tab %>].click();

    });
</script>

