<div class="col-md-12 col-md-offset-0">
  <div class="alert alert-info">
    <%= 'Actualmente hay '+VacRequest.all_registered_manually.size.to_s+' solicitudes manuales registradas.' %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.vac_requests_periods.navigation.back_list_manage_module')).html_safe, vac_manager_index_path, class: 'btn btn-default' %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-suitcase" aria-hidden="true"> </i>
      <%= t('views.vac_requests.legends.vacations') %> <span>> <%= 'Carga masiva de registros manuales' %></span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_for User.new, url: vac_manager_massive_create_upload_requests_path, html: {class: 'form-horizontal', multipart: true, method: :post} do |f| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <legend> <%= t('views.ben_cellphone_number.shared.massive_update_form') %> </legend>

          <div class="form-group">
            <div class="col-md-3" align="right">
              <strong><%= t('views.ben_cellphone_number.forms.pick_excel') %></strong></div>
            <div class="col-md-9"> <%= file_field 'upload', 'datafile', class: 'form-control' %>
            </div>
          </div>
          <legend><%= t('views.ben_cellphone_number.excel.download_format_legend') %></legend>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped table-bordered " style="font-size: 11px;" width="100%">
                <thead>
                <tr>
                  <th><%= alias_username.to_s %></th>
                  <th><%= 'Apellidos' %></th>
                  <th><%= 'Nombres' %></th>
                  <th><%= 'Fecha de ingreso' %></th>
                  <th><%= 'Días de vacaciones' %></th>
                  <th><%= 'Días progresivos' %></th>
                  <th><%= 'Justificación' %></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td> 12361621K </td>
                  <td> Reyes Basoalto </td>
                  <td> Ricardo </td>
                  <td> 25/05/2018 </td>
                  <td align="right"> <%= number_with_precision( 95/2.to_f, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %> </td>
                  <td align="right"> -3 </td>
                  <td> Regulación de estado de vacaciones de usuario por mala digitación </td>
                </tr>
                <tr>
                  <td> Debe pertenecer a un usuario activo registrado en la plataforma</td>
                  <td> No obligatorio </td>
                  <td> No obligatorio </td>
                  <td> Fecha en que se tomará en cuenta la solicitud. <strong>Formato: dd/mm/aaaa</strong> </td>
                  <td> Cantidad de días a tomar de vacaciones <strong>(máximo dos decimales)</strong>. Si se escoge un <strong> número negativo</strong>, se sumarán </strong> vacaciones a la persona </td>
                  <td> Cantidad de días progresivos a tomar de vacaciones <strong>(entero)</strong>. Si se escoge un <strong>número negativo</strong>, <strong>se sumarán</strong> a los  días progresivos de la persona </td>
                  <td> Escriba la justificación del registro manual </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Subir', class: 'btn btn-primary upload_btn' %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>

<% if defined?(@excel_errors) && @excel_errors.length > 0 %>
  <row>
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-striped table-hover table-condensed table-bordered">
            <thead>
            <tr>
              <th>Línea</th>
              <th>Error</th>
              <th><%= alias_username.to_s %></th>
              <th><%= 'Apellidos' %></th>
              <th><%= 'Nombres' %></th>
              <th><%= 'Fecha de ingreso' %></th>
              <th><%= 'Días de vacaciones' %></th>
              <th><%= 'Días progresivos' %></th>
              <th><%= 'Justificación' %></th>
            </tr>
            </thead>

            <tbody>
            <% @excel_errors.each_with_index do |error| %>
              <tr>
                <td><%= error[0].to_s %></td>
                <td>
                  <li class="text-danger"><%= error[1].to_s %></li>
                </td>
                <td><%= error[2].to_s %></td>
                <td><%= error[3].to_s %></td>
                <td><%= error[4].to_s %></td>
                <td><%= error[5].to_s %></td>
                <td><%= error[6].to_s %></td>
                <td><%= error[7].to_s %></td>
                <td><%= error[8].to_s %></td>
              </tr>
            <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </row>
<% end %>

<script>
    $('.upload_btn').on('click', function (e) {
        $(this).addClass('disabled');
    });
</script>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= render partial: 'shared/search_users',
               locals: {url_to_go: vac_manager_find_users_search_generic_path(3),
                        user: User.new} %>
  </div>
</div>