<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.vac_requests.navigation.back_list_search_people')).html_safe, vac_manager_new_record_search_people_path, class: 'btn btn-default' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-suitcase" aria-hidden="true"></i>
      <%= t('views.vac_requests.legends.vacations') %>
      <span>> <%= t('views.vac_requests.flow_process.new_record') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'vac_accumulateds/user_info',
               locals: { user: @vac_record.user } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'show_record_info',
               locals: { record: @vac_record, editable: false } %>
  </div>
</div>