<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.vac_requests.navigation.back_list_users_list')).html_safe, vac_manager_index_path, class: 'btn btn-default' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-suitcase" aria-hidden="true"></i>
      <%= t('views.vac_requests.legends.users') %>
      <span>> <%= t('views.vac_requests.flow_process.manage') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'vac_accumulateds/user_info',
               locals: { user: @user } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'vac_accumulateds/accumulated_info',
               locals: { vac_accumulated: VacAccumulated.user_latest(@user.id), user: @user } %>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render partial: 'vac_manager/requests',
                     locals: {requests: VacRequest.where(user_id: @user.id, active: true).reorder('begin desc').all} %>
        </div>
      </div>
    </div>
  </div>
</div>

