<%= form_for period, html: {class: 'form-horizontal sc_period_form'} do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <legend> <%= t('views.sc_periods.legends.period_info') %> </legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :description %>">
        <%= f.label :description, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :description, class: 'form-control', rows: '3' %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :begin %>">
        <%= f.label :begin, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :begin, class: 'form-control date-picker', :data => {:format => 'dd/MM/yyyy'}, :value => f.object.begin ? f.object.begin.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y'), :readonly => true %>
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :end %>">
        <%= f.label :end, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :end, class: 'form-control date-picker', :data => {:format => 'dd/MM/yyyy'}, :value => f.object.end ? f.object.end.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y'), :readonly => true %>
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <% if period.id %>
      <div class="form-group <%= field_with_errors f, :active %>">
        <%= f.label :active, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :active, class: 'bootstrap_checkbox form-control', style: 'width: 20px; height: 20px;' %>
        </div>
      </div>
    <% end %>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit t('views.sc_periods.forms.save'), class: 'btn btn-primary' %>
      </div>
    </div>

  </div>
<% end %>

<script>
    $('.date-picker').datetimepicker({
        language: 'es',
        pickTime: false
    });
</script>

<script>
    $('.bootstrap_checkbox').bootstrapSwitch({
        onColor: 'success',
        onText: "Sí",
        offColor: 'danger',
        offText: "No",
        size: "small"
    });
</script>