<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.sc_periods.navigation.back_list_periods')).html_safe, sc_periods_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <%= t('views.sc_periods.legends.periods') %>
      <span>> <%= t('views.sc_periods.flow_process.edit') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'form',
               :locals => { :period => @sc_period } %>
  </div>
</div>