<%= render partial: 'shared/module_header_navigation',
           locals: { icon: '<i class="fa fa-calendar" aria-hidden="true"> </i>',
                     go_back_col: 1,
                     legends: ['Horas extras', 'Períodos']} %>

<div class="row" >
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.sc_periods.legends.periods_list') %></legend>
        <table id="datatable_sc_periods" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
          <thead>
          <tr>
            <th>#</th>
            <th><%= t('activerecord.attributes.sc_period.description') %></th>
            <th><%= t('activerecord.attributes.sc_period.begin') %></th>
            <th><%= t('activerecord.attributes.sc_period.end') %></th>
            <th><%= t('activerecord.attributes.sc_period.active') %></th>
            <th><%= t('activerecord.attributes.sc_period.deactivated_at') %></th>
            <th><%= t('activerecord.attributes.sc_period.deactivated_by_user_id') %></th>
            <th><%= link_to t('views.sc_periods.flow_process.new'), new_sc_period_path %></th>
          </tr>

          <tr class="second">
            <td></td>
            <td><label class="input"><input type="text" name="search_description" value="" class="search_init"></label></td>
            <td><label class="input"><input type="text" name="search_begin" value="" class="search_init"></label></td>
            <td><label class="input"><input type="text" name="search_end" value="" class="search_init"></label></td>
            <td><label class="input"><input type="text" name="search_active" value="" class="search_init"></label></td>
            <td><label class="input"><input type="text" name="search_deactivated_at" value="" class="search_init"></label></td>
            <td><label class="input"><input type="text" name="search_deactivated_by_user_id" value="" class="search_init"></label></td>
            <td></td>
          </tr>
          </thead>

          <% @sc_periods.each_with_index do |period, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= period.description %></td>
              <td><%= (localize period.begin, :format => :day_snmonth_year).to_s if period.begin %></td>
              <td><%= (localize period.end, :format => :day_snmonth_year).to_s if period.end %></td>
              <td><%= label_yes_not_datable(period.active) %></td>
              <td><%= (localize period.deactivated_at, :format => :day_snmonth_year).to_s unless period.active %></td>
              <td><%= period.deactivated_by_user.codigo + ' - ' + period.deactivated_by_user.apellidos + ', ' + period.deactivated_by_user.nombre unless period.active %></td>
              <td><%= link_to t('views.sc_periods.flow_process.edit'), edit_sc_period_path(period) %></td>
            </tr>
          <% end %>

        </table>
      </div>
    </div>
  </div>
</div>
<%= render partial: '/shared/datatable',
           locals: { table_id: 'datatable_bp_groups' } %>
