<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.sc_periods.navigation.back_list_periods')).html_safe, sc_periods_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <%= t('views.sc_periods.legends.periods') %>
      <span>> <%= t('views.sc_periods.flow_process.manage') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3"%>
    <%= render partial: 'period_info',
               locals: { period: @sc_period, editable: true } %>
  </div>
</div>

<div class="row" >
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.sc_periods.legends.documentations_list') %></legend>
        <table id="datatable_sc_documentations" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
          <thead>
          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th><%= t('activerecord.attributes.sc_documentation.user.lastname') %></th>
            <th><%= t('activerecord.attributes.sc_documentation.user.name') %></th>
            <th><%= t('activerecord.attributes.sc_documentation.name') %></th>
            <th><%= t('activerecord.attributes.sc_documentation.description') %></th>
            <th colspan="3"><%= link_to 'Nuevo', sc_documentation_search_people_path(@sc_period) if @sc_period.active  %></th>
          </tr>

          <tr class="second">
            <td></td>
            <td><label class="input"><input type="text" name="search_cod" value="" class="search_init"></label></td>
            <td><label class="input"><input type="text" name="search_lastname" value="" class="search_init"></label></td>
            <td><label class="input"><input type="text" name="search_username" value="" class="search_init"></label></td>
            <td><label class="input"><input type="text" name="search_name" value="" class="search_init"></label></td>
            <td><label class="input"><input type="text" name="search_description" value="" class="search_init"></label></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </thead>

          <% @sc_period.sc_documentations.where(active: true).each_with_index do |doc, index| %>
            <tr class="<%=doc.id.to_s%>">
              <td><%= index+1 %></td>
              <td><%= doc.user.codigo %></td>
              <td><%= doc.user.apellidos %></td>
              <td><%= doc.user.nombre %></td>
              <td><%= doc.name %></td>
              <td><%= doc.description %></td>
              <td><%= link_to 'Editar', edit_sc_documentation_path(doc)if @sc_period.active%></td>
              <td><%= link_to 'Eliminar', sc_documentation_delete_path(doc)if @sc_period.active %></td>
              <td><%= link_to 'Descargar', sc_documentation_download_file_path(doc,doc.doc_path) if doc.doc_path %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
<%= render partial: '/shared/datatable',
           locals: { table_id: 'datatable_sc_documentations' } %>