<% if defined?(direct_delete) && direct_delete %>
  <div class="row options_to_select" style="display:none;">
    <div class="col-md-12 col-md-offset-0" align="right">
      <%= link_to 'Seleccionar todo', '#', onclick: 'select_all(this)' %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to 'Deseleccionar todo', '#', onclick: 'select_none(this)' %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to 'Eliminar', '#', onclick: 'delete_selected()', id: 'delete_btn', class: 'btn btn-danger disabled delete_btn' %>
    </div>
  </div>
  <br>
<% end %>

<table id="datatable_brg_percentage_conversions" class="table table-bordered table-striped smart-form table-hover" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <% if defined?(direct_delete) && direct_delete %>
      <th></th>
    <% end %>
    <th>#</th>
    <th><%= t('activerecord.attributes.brg_percentage_conversion.before') %></th>
    <th><%= t('activerecord.attributes.brg_percentage_conversion.after') %></th>
    <th><%= t('activerecord.attributes.brg_percentage_conversion.type_1') %></th>
    <th><%= t('activerecord.attributes.brg_percentage_conversion.individual')+'/'+t('activerecord.attributes.brg_percentage_conversion.group') %></th>
    <% if defined?(editable) && editable %>
      <th>
        <% if defined?(managing) && managing %>
          <%= link_to t('views.brg_module.flow_process.new_percentage_conversion'), brg_percentage_conversions_new_path(process) %>
          <br>
          <%= link_to t('views.brg_module.flow_process.massive_upload_percentage_conversion'), brg_percentage_conversions_massive_upload_path(process) %>
        <% end %>
      </th>
    <% end %>
  </tr>

  <tr class="second">
    <% if defined?(direct_delete) && direct_delete %>
      <td>
        <label class="input hidden"><input type="text" name="search_checkbox" value="" class="search_init"></label>
      </td>
    <% end %>
    <td><label class="input hidden"><input type="text" name="search_num" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_before" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_after" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_type" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_individual" value="" class="search_init"></label></td>
    <% if defined?(editable) && editable %>
      <td><label class="input"><input type="text" name="search_options" value="" class="search_init"></label></td>
    <% end %>
  </tr>
  </thead>

  <% percentage_conversions.each_with_index do |pc, index| %>
    <% if defined?(direct_delete) && direct_delete %>
      <tr id="<%= pc.id %>_tr_message_container" style="display:none;">
        <td id="<%= pc.id %>_td_message_container" class="td_div_message" colspan="8">
          <div class="alert alert-success div-message"><%= t('views.brg_module.flash_messages.delete_success') %></div>
        </td>
      </tr>
    <% end %>

    <tr id="<%=pc.id%>_tr_container">
      <% if defined?(direct_delete) && direct_delete %>
        <td>
          <input class="form-check-input position-static percentage_conversion_checkbox" type="checkbox" value="<%= pc.id %>" data-url="<%= brg_percentage_conversions_deactivate_ajax_path(pc) %>" aria-label="...">
        </td>
      <% end %>
      <td><%= index + 1 %></td>
      <td align="right"><%= number_as_percentage(pc.before) %></td>
      <td align="right"><%= number_as_percentage(pc.after) %></td>
      <td><%= pc.type_formatted %></td>
      <td><%= pc.ind_group_formatted.html_safe %></td>

      <% if defined?(editable) && editable %>
        <td>
          <% if defined?(managing) && managing %>
            <%= link_to t('views.bp_groups.flow_process.edit'), brg_percentage_conversions_edit_path(pc) %>
          <% else %>
            <% if defined?(direct_delete) && direct_delete %>
              <%= link_to t('views.brg_module.flow_process.delete'), '#', onclick: 'delete_pc(this)', class: 'btn btn-danger btn-xs', data: {percentage_conversion_id: pc.id, url: brg_percentage_conversions_deactivate_ajax_path(pc)} %>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_brg_percentage_conversions'} %>

<% if defined?(direct_delete) && direct_delete %>
  <script>
      function verify_checkboxes_selected() {
          if ($(":checkbox:checked.percentage_conversion_checkbox").size() > 0) {
              $(".delete_btn").removeClass('disabled')
          } else {
              $(".delete_btn").addClass('disabled')
          }
      }

      function verify_exists_checkboxes() {
          if ($(".percentage_conversion_checkbox").size() > 0) {
              $(".options_to_select").show();
          } else {
              $(".options_to_select").hide();
          }
      }

      function verify_checkboxes() {
          verify_checkboxes_selected()
          verify_exists_checkboxes()
      }

      $('.percentage_conversion_checkbox').on('change', function (e) {
          verify_checkboxes()
      })

      function select_all() {
          $(":checkbox.percentage_conversion_checkbox").prop('checked', true);
          verify_checkboxes()
      }

      function select_none() {
          $(":checkbox.percentage_conversion_checkbox").prop('checked', false);
          verify_checkboxes()
      }

      function delete_selected() {
          if (confirm("<%= t('views.brg_module.confirmation_messages.delete_conversion')%>")) {
              $(":checkbox:checked.percentage_conversion_checkbox").each(function () {
                  percentage_conversion_id = $(this).attr('value');
                  url = $(this).data('url');
                  delete_group_ajax(percentage_conversion_id, url)
              });
          }
      }

      function delete_pc(link) {
          if (confirm("<%= t('views.brg_module.confirmation_messages.delete_conversion')%>")) {
              delete_group_ajax($(link).data('percentage-conversion-id'), $(link).data('url'))
          }
      }

      function delete_group_ajax(percentage_conversion_id, url) {
          tr_user_to_register = '#' + percentage_conversion_id + '_tr_container';
          tr_message_container = '#' + percentage_conversion_id + '_tr_message_container';
          $.ajax({
              url: url,
              type: "post",
              dataType: "html",
              success: function () {
                  $('#' + percentage_conversion_id + '_tr_container').toggle(900).remove();
                  $('#' + percentage_conversion_id + '_tr_message_container').toggle(900).delay(2000).toggle(500);
                  verify_checkboxes()
              }
          })
      }

      verify_checkboxes()
  </script>
<% end %>