
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h1 class="page-title txt-color-blueDark">
      Bono rol comercial
      <span>> Lista de procesos </span>
    </h1>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>
            <th>#</th>
            <th>Año</th>
            <th>Periodo</th>
            <th>Liquidación</th>
            <th>Activo</th>
            <th>Alias</th>
            <th>Límite definición</th>
            <th>Límite validación</th>
            <th>Límite desvíos</th>

            <th colspan="3">
              <%= link_to 'Crear nuevo proceso', new_brc_process_path %>
            </th>
          </tr>

          </thead>

          <tbody>
          <% @brc_processes.each_with_index do |brc_process, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= brc_process.year %></td>
              <td><%= brc_process.period_name %></td>
              <td><%= brc_process.liq_process.year %>-<%= brc_process.liq_process.month %></td>
              <td><%= label_yes_not brc_process.active %></td>
              <td><%= brc_process.alias %></td>
              <td>
                <%= (localize brc_process.def_date, format: :day_snmonth_syear) %>

                <% if lms_time > brc_process.def_date %>
                  <span class="label label-danger">Hace
                    <%= distance_of_time_in_words(brc_process.def_date, lms_time) %>
                  </span>
                <% else %>
                  <span class="label label-primary">En
                    <%= distance_of_time_in_words(lms_time, brc_process.def_date) %>
                  </span>
                <% end %>
              </td>
              <td>
                <%= (localize brc_process.val_date, format: :day_snmonth_syear) %>

                <% if lms_time > brc_process.val_date %>
                  <span class="label label-danger">Hace
                    <%= distance_of_time_in_words(brc_process.val_date, lms_time) %>
                  </span>
                <% else %>
                  <span class="label label-primary">En
                    <%= distance_of_time_in_words(lms_time, brc_process.val_date) %>
                  </span>
                <% end %>
              </td>
              <td>

                <% if brc_process.choose_date %>

                  <%= (localize brc_process.choose_date, format: :day_snmonth_year_time) %>

                  <% if lms_time > brc_process.choose_date %>
                    <span class="label label-danger">Hace
                      <%= distance_of_time_in_words(brc_process.choose_date, lms_time) %>
                    </span>
                  <% else %>
                    <span class="label label-primary">En
                      <%= distance_of_time_in_words(lms_time, brc_process.choose_date) %>
                    </span>
                  <% end %>

                <% end %>

              </td>
              
              <td><%= link_to 'Gestionar', brc_process %></td>
              <td><%= link_to 'Editar', edit_brc_process_path(brc_process) %></td>
              <td><%= link_to 'Eliminar', brc_process, method: :delete, data: { confirm: '¿Está seguro de eliminar el proceso?' } %></td>
            </tr>
          <% end %>

          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
