
<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de procesos de planificación', planning_processes_path, tabindex: '-1' %>

  </li>
  <li class="active">Eliminar proceso de planificación: <%= @planning_process.nombre %> </li>
</ul>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <legend class="text-center">Eliminar proceso de planificación</legend>

    <div class="row">
      <div class="col-md-3">
        <strong>Nombre</strong>
      </div>
      <div class="col-md-9">
        <%= @planning_process.nombre %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Estado</strong>
      </div>
      <div class="col-md-9">
        <% if @planning_process.abierto? %>
          <span class="label label-success">abierto</span>
        <% else %>
          <span class="label label-danger">finalizado</span>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Fecha de término</strong>
      </div>
      <div class="col-md-9">
        <%= (localize @planning_process.fecha_fin, format: :day_snmonth_syear) %>

        <% if lms_time > @planning_process.fecha_fin %>

          <span class="label label-danger">Hace
            <%= distance_of_time_in_words(@planning_process.fecha_fin, lms_time) %>
          </span>

        <% else %>
          <span class="label label-primary">En
            <%= distance_of_time_in_words(lms_time, @planning_process.fecha_fin) %>
          </span>
        <% end %>


      </div>
    </div>
    <%= form_for @planning_process, html: { method: :delete } do |f| %>

      <%= recaptcha_tags :display=>{:theme=>'clean'} %>

      <%= f.submit 'Eliminar', class: 'btn btn-primary' %>

    <% end %>


  </div>
</div>
