
<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de procesos de planificación', planning_processes_path, tabindex: '-1' %>

  </li>
  <li>
    <%= link_to 'Configurar proceso de planificación', @planning_process , tabindex: '-1' %>

  </li>
  <li class="active">Editar proceso de planificación</li>
</ul>


<div class="row">
  <div class="col-md-6 col-md-offset-3 form-box-<%= $current_domain %>">

    <legend class="text-center">Editar proceso de planificación: <%= @planning_process.nombre %></legend>

    <%= render 'form' %>

  </div>
</div>

