<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de cursos'.html_safe, programming_process_unit_pace_path(@planning_process, @planning_process_company_unit, @company_unit_area, @dncp.meses), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Proceso de programación <%= @planning_process.nombre %>: <%= @planning_process_company_unit.company_unit.nombre %></legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Proceso de planificación</strong>
          </div>
          <div class="col-md-9">
            <%= @planning_process.nombre %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <strong>Unidad</strong>
          </div>
          <div class="col-md-9">
            <%= @planning_process_company_unit.company_unit.nombre %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <strong>País</strong>
          </div>
          <div class="col-md-9">
            <img class="flag flag-<%= @planning_process_company_unit.company_unit.country.codigo %>">
            <%= @planning_process_company_unit.company_unit.country.nombre %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <strong>Área</strong>
          </div>
          <div class="col-md-9">
            <%= @company_unit_area.nombre %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<br>



<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>
            <th colspan="4">
              <div class="text-center">
                Datos del curso
              </div>
            </th>

          </tr>

          <tr>
            <th>Nombre</th>
            <th>Oportunidad de mejora</th>
            <th>Objetivos del curso</th>
            <th>Nota mínima</th>
          </tr>

          </thead>

          <tbody>


          <tr>

            <td><%= @dncp.tema_capacitacion %></td>
            <td><%= @dncp.oportunidad_mejora.html_safe %></td>

            <td><%= @dncp.objetivos_curso.html_safe %></td>
            <td><%= @dncp.course.nota_minima %></td>


          </tr>


          </tbody>

        </table>
      </div>
    </div>

  </div>
</div>

<br>

<% user_course = UserCourse.new %>




<%= form_for user_course, url: update_programming_course_group_path(@planning_process,@planning_process_company_unit, @company_unit_area, @dncp, @grupo), html: {class: 'form-horizontal'} do |f| %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Programar curso</legend>

          <label><strong>Código de acta</strong></label>


          <div class="row">
            <div class="col-md-6">
              <input type="text" name="acta" class="form-control" value="<%= @user_courses.first.program_course_instance.obra if @user_courses.first.program_course_instance %>">
            </div>
          </div>
          <br>
          <label><strong>Fechas en las que se dictará el curso</strong></label>

          <% year = @planning_process.year %>

          <div class="input-group">
            <input type="text" name="desdehasta" id="desdehasta" class="form-control uneditable-input" readonly value="<%=Date.new(year.to_i,@dncp.meses.to_i,1).strftime('%d/%m/%Y')%> - <%=Date.new(year.to_i,@dncp.meses.to_i,-1).strftime('%d/%m/%Y')%>">
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>

          <script type="text/javascript">

            $('#desdehasta').daterangepicker({

              format: 'DD/MM/YYYY',
              startDate: '<%=@user_courses.first.desde.strftime('%d/%m/%Y')%>',
              endDate: '<%=@user_courses.first.hasta.strftime('%d/%m/%Y')%>',
              locale: {
                applyLabel: 'Aplicar',
                fromLabel: 'Desde',
                toLabel: 'Hasta',
                customRangeLabel: 'Custom Range',
                daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi','Sa'],
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                firstDay: 1
              }

            });

          </script>

          <br>

          <br>

          <table class="table table-striped table-hover table-bordered">

            <thead>

            <tr>

              <th width="1%">#</th>
              <th>Apellidos</th>
              <th>Nombre</th>

            </tr>

            </thead>

            <tbody>

            <% @user_courses.each_with_index do |uc, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= uc.enrollment.user.apellidos %></td>
                <td><%= uc.enrollment.user.nombre %></td>

              </tr>

            <% end %>


            </tbody>

          </table>


        </div>

          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= f.submit 'Guardar', class: 'btn btn-primary' %>
            </div>
          </div>



      </div>
    </div>

  </div>

<% end %>



