
<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de procesos de planificación', planning_processes_path, tabindex: '-1' %>

  </li>
  <li class="active">Crear un nuevo proceso de planificación</li>
</ul>


<div class="row">
  <div class="col-md-6 col-md-offset-3 form-box-<%= $current_domain %>">

    <legend class="text-center">Crear un nuevo proceso de planificación</legend>

    <%= render 'form' %>

  </div>
</div>

