
<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de procesos de planificación', planning_processes_path, tabindex: '-1' %>

  </li>
  <li>
    <%= link_to 'Proceso de planificación: '+@planning_process.nombre, @planning_process, tabindex: '-1' %>

  </li>
  <li class="active">Agregar unidad al proceso de planificación </li>
</ul>


<div class="row">
  <div class="col-md-6 col-md-offset-3 panel_content_info-<%= $current_domain %>">

    <legend class="text-center">Configurar proceso de planificación</legend>

    <div class="row">
      <div class="col-md-3">
        <strong>Año</strong>
      </div>
      <div class="col-md-9">
        <%= @planning_process.year %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Nombre</strong>
      </div>
      <div class="col-md-9">
        <%= @planning_process.nombre %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <strong>Fecha de término</strong>
      </div>
      <div class="col-md-9">
        <%= (localize @planning_process.fecha_fin, format: :day_snmonth_syear) %>
        <% if lms_time > @planning_process.fecha_fin %>

          <span class="label label-danger">Hace
            <%= distance_of_time_in_words(@planning_process.fecha_fin, lms_time) %>
          </span>

        <% else %>
          <span class="label label-primary">En
            <%= distance_of_time_in_words(lms_time, @planning_process.fecha_fin) %>
          </span>
        <% end %>
      </div>
    </div>

  </div>
</div>

<br>

<div class="row">
  <div class="col-md-6 col-md-offset-3 form-box-<%= $current_domain %>">

    <legend class="text-center">Agregar unidad al proceso de planificación: <%= @planning_process.nombre %></legend>

    <%= form_for @planning_process, url: create_unit_planning_process_path(@planning_process), method: :post, html: {class: 'form-horizontal'} do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :nombre %>">

        <%= f.label :unit, 'Unidades', class: 'col-md-3 control-label' %>

        <div class="col-md-10">

          <% company_units = @planning_process.company_units.count == 0 ? CompanyUnit.where('planning_process_id = ? ', @planning_process.id) : CompanyUnit.where('planning_process_id = ? AND id NOT IN(?)', @planning_process.id, @planning_process.company_units) %>

          <% company_units_select = company_units.map do |company_unit| %>
            <% [company_unit.nombre+' - '+company_unit.country.nombre, company_unit.id.to_s] %>
          <% end %>

          <%= select('company_unit', 'id', options_for_select(company_units_select),
                     {}, {multiple: true, size: 10, class: 'span12'})
          %>
          <br>
          <i>Mantenga presionada la tecla <strong>ctrl</strong> para seleccionar más de una unidad</i>

        </div>

      </div>


      <div class="form-group">

        <div class="col-md-10">

          <%= f.submit 'Agregar', class: 'btn btn-primary' %>

        </div>

      </div>


    <% end %>


  </div>
</div>
