<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de cursos'.html_safe, programming_process_unit_pace_path(@planning_process, @planning_process_company_unit, @company_unit_area, @dncp.meses), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Proceso de programación <%= @planning_process.nombre %>: <%= @planning_process_company_unit.company_unit.nombre %></legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Proceso de planificación</strong>
          </div>
          <div class="col-md-9">
            <%= @planning_process.nombre %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <strong>Unidad</strong>
          </div>
          <div class="col-md-9">
            <%= @planning_process_company_unit.company_unit.nombre %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <strong>País</strong>
          </div>
          <div class="col-md-9">
            <img class="flag flag-<%= @planning_process_company_unit.company_unit.country.codigo %>">
            <%= @planning_process_company_unit.company_unit.country.nombre %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <strong>Área</strong>
          </div>
          <div class="col-md-9">
            <%= @company_unit_area.nombre %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">


  function marcar_asistencia(user_course_id){

    <% if @dncp.eval_presencial %>

      if($('#user_id_'+user_course_id).is(':checked')){

        $('#user_course_id_'+user_course_id).removeAttr('readonly');

      }else{

        $('#user_course_id_'+user_course_id).attr('readonly','readonly');
        $('#user_course_id_'+user_course_id).val('');

      }

    <% end %>

    show_estado(user_course_id);

  }

    function show_estado(user_course_id){

      nota_minima = <%= @dncp.course.nota_minima %>;

      nota = $('#user_course_id_'+user_course_id).val();

      if($.isNumeric(nota) && $('#user_id_'+user_course_id).is(':checked')){

        if(nota >= nota_minima){
          $('#label_reprobado_'+user_course_id).hide();
          $('#label_sin_nota_'+user_course_id).hide();
          $('#label_aprobado_'+user_course_id).show();

        }else{
          $('#label_aprobado_'+user_course_id).hide();
          $('#label_sin_nota_'+user_course_id).hide();
          $('#label_reprobado_'+user_course_id).show();

        }

      }else{
        $('#label_reprobado_'+user_course_id).hide();
        $('#label_aprobado_'+user_course_id).hide();
        $('#label_sin_nota_'+user_course_id).show();
      }




    }

</script>



<br>



<div class="row">
  <div class="col-md-8 col-md-offset-2">

  <div class="panel panel-default">
    <div class="panel-body">

    <table class="table table-striped table-hover table-bordered">

      <thead>

        <tr>
          <th colspan="4">
            <div class="text-center">
              Datos del curso
            </div>
          </th>

        </tr>

        <tr>
          <th>Nombre</th>
          <th>Oportunidad de mejora</th>
          <th>Objetivos del curso</th>
          <th>Nota mínima</th>
        </tr>

      </thead>

      <tbody>


        <tr>

          <td><%= @dncp.tema_capacitacion %></td>
          <td><%= @dncp.oportunidad_mejora.html_safe %></td>

          <td><%= @dncp.objetivos_curso.html_safe %></td>
          <td><%= @dncp.course.nota_minima %></td>


        </tr>


      </tbody>

    </table>
              </div>
    </div>

  </div>
</div>

<br>

<% user_course = UserCourse.new %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <% if @dncp.eval_presencial || @dncp.asistencia_presencial %>

      <%= form_for user_course, url: programming_course_evaluation_from_xls_path(@planning_process,@planning_process_company_unit, @company_unit_area, @dncp, @grupo), html: {method: :post, multipart: true, class: 'form-horizontal'} do |f| %>

        <div class="panel panel-default">
          <div class="panel-body">
            <legend>Asistencia y Evaluación (Excel)</legend>

            <div class="form-group">

              <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

              <div class="col-md-9">

                <%= file_field 'upload', 'datafile', class: 'form-control' %>
                <br>
                <em>El formato del archivo debe ser xlsx</em>

              </div>

            </div>

          </div>


          <div class="panel-footer clearfix">
            <div class="pull-right">

              <%= link_to 'Descargar formato Excel',programming_course_evaluation_xls_path(@planning_process,@planning_process_company_unit, @company_unit_area, @dncp, @grupo) %>

              &nbsp;&nbsp;&nbsp;

              <%= f.submit 'Guardar', class: 'btn btn-primary' %>
            </div>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
<br>



<%= form_for user_course, url: programming_course_evaluate_path(@planning_process,@planning_process_company_unit, @company_unit_area, @dncp, @grupo), html: {class: 'form-horizontal'} do |f| %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Asistencia y Evaluación</legend>

          <label><strong>Fechas en las que se dictó el curso</strong></label>

          <span class="label label-primary">
            <%= (localize  @user_courses.first.desde, format: :day_snmonth_year) %>
          </span>

          <span class="label label-primary">
            <%= (localize  @user_courses.first.hasta, format: :day_snmonth_year) %>
          </span>

          <br>

          <table class="table table-striped table-hover table-bordered">

            <thead>

            <tr>

              <th width="1%">#</th>
              <th>Apellidos</th>
              <th>Nombre</th>
              <th>

                Asistencia

                <% unless @dncp.asistencia_presencial %>

                  <i id='asist_virtual' class='fa fa-laptop' data-toggle="tooltip" title="Virtual"></i>

                  <script>
                    $('#asist_virtual').tooltip({
                      placement: 'top'
                    });
                  </script>

                <% end %>



              </th>

              <th width="40%">
                Evaluación

                <% unless @dncp.eval_presencial %>

                  <i id='eval_virtual' class='fa fa-laptop' data-toggle="tooltip" title="Virtual"></i>

                  <script>
                    $('#eval_virtual').tooltip({
                      placement: 'top'
                    });
                  </script>

                <% end %>

              </th>

            </tr>

            </thead>

            <tbody>

              <% @user_courses.each_with_index do |uc, index| %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= uc.enrollment.user.apellidos %></td>
                  <td><%= uc.enrollment.user.nombre %></td>
                  <td>

                    <div class="make-switch switch-small" data-on="success" data-off="danger" data-on-label="<nobr>&nbsp;&nbsp;<i class='fa fa-check'></i> Sí &nbsp;&nbsp;</nobr>" data-off-label="<nobr>&nbsp;&nbsp;<i class='fa fa-times'></i> No &nbsp;&nbsp;</nobr>">

                      <% if @dncp.asistencia_presencial %>

                        <% if uc.asistencia %>
                          <%= check_box('user_id', uc.id, {class: 'check_user', checked: 'checked', onchange: 'marcar_asistencia('+uc.id.to_s+')'}, uc.id.to_s, '0')%>
                        <% else %>
                          <%= check_box('user_id', uc.id, {class: 'check_user', onchange: 'marcar_asistencia('+uc.id.to_s+')'}, uc.id.to_s, '0')%>
                        <% end %>

                      <% else %>

                        <% if uc.asistencia %>
                          <%= check_box('user_id', uc.id, {disabled: 'disabled', class: 'check_user', checked: 'checked'}, uc.id.to_s, '0')%>
                        <% else %>
                          <%= check_box('user_id', uc.id, {disabled: 'disabled', class: 'check_user'}, uc.id.to_s, '0')%>
                        <% end %>

                      <% end %>


                    </div>

                  </td>

                  <td>

                    <% if @dncp.eval_presencial %>

                      <% if uc.asistencia %>
                        <%= number_field('user_course_id', uc.id, min: 0, value: uc.nota, class: 'input_user', onchange: 'show_estado('+uc.id.to_s+')' )%>
                      <% else %>
                        <%= number_field('user_course_id', uc.id, min: 0, value: uc.nota, class: 'input_user',  onchange: 'show_estado('+uc.id.to_s+')', readonly: 'readonly' )%>
                      <% end %>

                    <% else %>

                      <%= number_field('user_course_id', uc.id, min: 0, value: uc.nota, class: 'input_user', readonly: 'readonly' )%>

                    <% end %>

                    <label class="label label-success" id="label_aprobado_<%= uc.id %>">Aprobado</label>

                    <label class="label label-danger" id="label_reprobado_<%= uc.id %>">Reprobado</label>

                    <label class="label label-default" id="label_sin_nota_<%= uc.id %>">Sin nota</label>

                    <script>
                      marcar_asistencia(<%= uc.id %>);
                      show_estado(<%= uc.id %>);
                    </script>


                  </td>
                </tr>

              <% end %>


            </tbody>

          </table>


        </div>
        <% if @dncp.eval_presencial || @dncp.asistencia_presencial %>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= f.submit 'Guardar', class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>


      </div>
    </div>

  </div>

<% end %>



