


<div class="row">
  <div class="col-md-3">

    <%= link_to '<i class="fa fa-arrow-left"></i> Volver'.html_safe, programming_process_unit_pace_path(@planning_process, @planning_process_company_unit, @company_unit_area, @dncp.meses), class: 'btn btn-default', tabindex: '-1' %>

  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Programar <%= @planning_process_company_unit.company_unit.nombre %>: <%= @company_unit_area.nombre %></legend>

        <div class="row">
          <div class="col-md-4 text-right">
            <strong>Proceso de planificación</strong>
          </div>
          <div class="col-md-8">
            <%= @planning_process.year %> - <%= @planning_process.nombre %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-right">
            <strong>Unidad</strong>
          </div>
          <div class="col-md-4">
            <%= @planning_process_company_unit.company_unit.nombre %>
          </div>
          <div class="col-md-4">
            <img class="flag flag-<%= @planning_process_company_unit.company_unit.country.codigo %>">
            <%= @planning_process_company_unit.company_unit.country.nombre %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-right">
            <strong>Área</strong>
          </div>
          <div class="col-md-4">
            <%= @company_unit_area.nombre %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<br>

<% meses = t('date.month_names') %>

<% meses_array = meses.each_with_index.map { |m,i| [m, i] } %>
<% meses_array.delete_at 0 %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos del curso</legend>
    <table class="table table-striped table-hover table-bordered table-header-<%= $current_domain %>">

      <thead>

      <tr>
        <th rowspan="2">
          <div class="text-center">
            Nombre del curso
          </div>
        </th>
        <th colspan="5">
          <div class="text-center">
            Dictado del curso
          </div>
        </th>




      </tr>

      <tr>


        <th>Modalidad</th>
        <th>Horas de dictado</th>
        <th>Proveedor</th>
        <th>Costo (<%= $current_domain=='hochschild' || $current_domain=='hochschild-training' ? 'USD' : 'S/.' %>)</th>
        <th>Mes</th>

      </tr>

      </thead>

      <tbody>


      <tr>

        <td><%= @dncp.tema_capacitacion %></td>


        <td><%= @dncp.training_mode.nombre %></td>
        <td>
          <%
             hh = @dncp.tiempo_capacitacion/60
             hh = '0'+hh.to_s if hh < 10
             mm = @dncp.tiempo_capacitacion%60
             mm = '0'+mm.to_s if mm < 10
          %>

          <%= hh %>:<%= mm %>
        </td>
        <td>
          <% if @dncp.training_provider %>
            <%= @dncp.training_provider.nombre %>
          <% else %>
            <label class="label label-default">Por definir</label>
          <% end %>

        </td>
        <td>
          <div class="text-right">
            <%= number_to_currency(@dncp.costo_directo + @dncp.costo_indirecto, precision: 0) %>
          </div>
        </td>
        <td>
          <% meses = t('date.month_names') %>



          <% meses_array = meses.each_with_index.map { |m,i| [m, i] } %>
          <% meses_array.delete_at 0 %>
          <%= meses[@dncp.meses.to_i] %>
        </td>

      </tr>


      </tbody>

    </table>
                    </div>
    </div>

  </div>
</div>

<br>

<script type="text/javascript">
  function marcar_todos(){

    $('.check_user').each(function(){

      if($('#check_user').is(':checked')){
        $(this).prop('checked', true);
      }else{
        $(this).prop('checked', false);
      }

    });

  }

  function marcar_padre(){

    var checked_all = true;

    $('.check_user').each(function(){
      if(!$(this).is(':checked')){
        checked_all = false;
      }
    });
    if(checked_all){
      $('#check_user').prop('checked', true);
    }else{
      $('#check_user').prop('checked', false);
    }


  }

</script>

<% enrollment = Enrollment.new %>

<%= form_for enrollment, url: programming_program_course_path(@planning_process,@planning_process_company_unit, @company_unit_area, @dncp), html: {class: 'form-horizontal'} do |f| %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Programar curso</legend>

          <label><strong>Código de acta</strong></label>


          <div class="row">
            <div class="col-md-6">
              <input type="text" name="acta" class="form-control">
            </div>
          </div>
          <br>
          <label><strong>Fechas en las que se dictará el curso</strong></label>

          <% year = @planning_process.year %>

          <div class="input-group">
            <input type="text" name="desdehasta" id="desdehasta" class="form-control uneditable-input" readonly value="<%=Date.new(year.to_i,@dncp.meses.to_i,1).strftime('%d/%m/%Y')%> - <%=Date.new(year.to_i,@dncp.meses.to_i,-1).strftime('%d/%m/%Y')%>">
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>

          <script type="text/javascript">

            $('#desdehasta').daterangepicker({

              format: 'DD/MM/YYYY',
              startDate: '<%=Date.new(year.to_i,@dncp.meses.to_i,1).strftime('%d/%m/%Y')%>',
              endDate: '<%=Date.new(year.to_i,@dncp.meses.to_i,-1).strftime('%d/%m/%Y')%>',
              locale: {
                applyLabel: 'Aplicar',
                fromLabel: 'Desde',
                toLabel: 'Hasta',
                customRangeLabel: 'Custom Range',
                daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi','Sa'],
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                firstDay: 1
              }

            });

          </script>

          <br>


        <table class="table table-striped table-hover table-bordered">

        <thead>

        <tr>
          <th colspan="5">
            <div class="text-center">
              Participantes
            </div>
          </th>

        </tr>

        <tr>

          <th width="1%">

              <input id="check_user" type="checkbox" checked="checked" onchange="marcar_todos();">

          </th>
          <th width="1%">#</th>
          <th>Apellidos</th>
          <th>Nombre</th>
          <th></th>

        </tr>

        </thead>

        <tbody>

          <%

             program_anual = Program.find_by_plan_anual(true)
             program_course = ProgramCourse.where('program_id = ? AND course_id = ? ', program_anual.id, @dncp.course.id).first

          %>


          <% @dncp.dnc_student_ps.each_with_index do |dnc_student, index| %>
            <% estado = nil %>
            <%

               enrollment = Enrollment.where('program_id = ? AND user_id = ?',program_anual.id, dnc_student.user.id).first

               if enrollment

                 estado, estado_boton, user_course, user_courses = user_course_status(enrollment, program_course)

               end
            %>



              <tr>
                <td>
                  <% unless estado %>
                    <%= check_box('user_id', dnc_student.user.id, {class: 'check_user', checked: 'checked', onchange: 'marcar_padre()'}, dnc_student.user.id.to_s, '0')%>
                  <% end %>
                </td>
                <td><%= index+1 %></td>
                <td><%= dnc_student.user.apellidos %></td>
                <td><%= dnc_student.user.nombre %></td>
                <td>
                  <% if estado  %>
                    <span class="label label-primary">Programado</span>
                  <% end %>

                </td>
              </tr>



          <% end %>


        </tbody>

      </table>

          </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Programar', class: 'btn btn-primary', data: { confirm: '¿Está seguro que desea programar el curso?' }  %>
          </div>
        </div>

      </div>


    </div>
  </div>



<% end %>



