


<div class="row">
  <div class="col-md-3">

    <%= link_to '<i class="fa fa-arrow-left"></i> Volver'.html_safe, programming_process_unit_pace_path(@planning_process, @planning_process_company_unit, @company_unit_area, @dncp.meses), class: 'btn btn-default', tabindex: '-1' %>

  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Programar <%= @planning_process_company_unit.company_unit.nombre %>: <%= @company_unit_area.nombre %></legend>

        <div class="row">
          <div class="col-md-4 text-right">
            <strong>Proceso de planificación</strong>
          </div>
          <div class="col-md-8">
            <%= @planning_process.year %> - <%= @planning_process.nombre %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-right">
            <strong>Unidad</strong>
          </div>
          <div class="col-md-4">
            <%= @planning_process_company_unit.company_unit.nombre %>
          </div>
          <div class="col-md-4">
            <img class="flag flag-<%= @planning_process_company_unit.company_unit.country.codigo %>">
            <%= @planning_process_company_unit.company_unit.country.nombre %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-right">
            <strong>Área</strong>
          </div>
          <div class="col-md-4">
            <%= @company_unit_area.nombre %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<br>

<% meses = t('date.month_names') %>

<% meses_array = meses.each_with_index.map { |m,i| [m, i] } %>
<% meses_array.delete_at 0 %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos del curso</legend>

      <table class="table table-striped table-hover table-bordered table-header-<%= $current_domain %>">

        <thead>

          <tr>
            <th rowspan="2">
              <div class="text-center">
                Nombre del curso
              </div>
            </th>
            <th colspan="5">
              <div class="text-center">
                Dictado del curso
              </div>
            </th>




          </tr>

          <tr>


            <th>Modalidad</th>
            <th>Horas de dictado</th>
            <th>Proveedor</th>
            <th>Costo (<%= $current_domain=='hochschild' || $current_domain=='hochschild-training' ? 'USD' : 'S/.' %>)</th>
            <th>Mes</th>

          </tr>

        </thead>

        <tbody>


          <tr>

            <td><%= @dncp.tema_capacitacion %></td>


            <td><%= @dncp.training_mode.nombre %></td>
            <td>
              <%
                 hh = @dncp.tiempo_capacitacion/60
                 hh = '0'+hh.to_s if hh < 10
                 mm = @dncp.tiempo_capacitacion%60
                 mm = '0'+mm.to_s if mm < 10
              %>

              <%= hh %>:<%= mm %>
            </td>
            <td>
              <% if @dncp.training_provider %>
                <%= @dncp.training_provider.nombre %>
              <% else %>
                <label class="label label-default">Por definir</label>
              <% end %>

            </td>
            <td>
              <div class="text-right">
                <%= number_to_currency(@dncp.costo_directo + @dncp.costo_indirecto, precision: 0) %>
              </div>
            </td>
            <td>
              <% meses = t('date.month_names') %>



              <% meses_array = meses.each_with_index.map { |m,i| [m, i] } %>
              <% meses_array.delete_at 0 %>
              <%= meses[@dncp.meses.to_i] %>
            </td>

          </tr>


        </tbody>

      </table>
    </div>
  </div>

  </div>
</div>


<br>
<div class="row">
<div class="col-md-10 col-md-offset-1">

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Buscar y asignar participantes</legend>


      <%= form_for @user, url: programming_manage_students_path(@planning_process,@planning_process_company_unit, @company_unit_area, @dncp), method: :post do |f| %>
        <div class="row">

          <div class="col-md-5">
            <strong>Apellidos</strong><br>
            <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>

          </div>

          <div class="col-md-5">
            <strong>Nombre</strong><br>
            <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>

          </div>

          <div class="col-md-2">
            <br>
            <%= f.submit 'Buscar', class: 'btn btn-primary' %>

          </div>

        </div>

        <hr>

        <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Ver filtros
        </a>

        <div class="collapse" id="collapseExample">
          <br>

          <div class="row">

            <% @characteristics.each_with_index do |characteristic,index| %>


              <div class="col-md-3">

                <%= characteristic.nombre %>
                <br>
                <% valores = UserCharacteristic.select(:valor).uniq.where('characteristic_id = ? AND valor <> "" ',characteristic.id).order('valor').map(&:valor) %>

                <%= select('characteristic', characteristic.id, options_for_select(valores,@characteristics_prev[characteristic.id]),
                           {:include_blank => '--Sin Filtro--'}, {class: 'form-control'})
                %>

              </div>

            <% end %>


          </div>
        </div>


      <% end %>
    </div>
  </div>

  </div>

</div>



<% if @users.length > 0 %>

  <br>

  <%= form_for @user, url: programming_create_student_path(@planning_process,@planning_process_company_unit, @company_unit_area, @dncp), html: {class: 'form-horizontal'} do |f| %>

    <div class="row">

      <div class="col-md-10 col-md-offset-1">

        <div class="panel panel-default">
          <div class="panel-body">

        <%= hidden_field(:user,:apellidos,value: params[:user][:apellidos]) %>

        <%= hidden_field(:user,:nombre,value: params[:user][:nombre]) %>

        <%
           @characteristics.each do |characteristic|

        %>
          <input id="characteristic_<%=characteristic.id%>" name="characteristic[<%=characteristic.id%>][]" type="hidden" value="" />
          <%

             if @characteristics_prev[characteristic.id]

               #@characteristics_prev[characteristic.id].each do |valor|
          %>
              <input id="characteristic_<%=characteristic.id%>" name="characteristic[<%=characteristic.id%>][]" type="hidden" value="<%=@characteristics_prev[characteristic.id]%>" />
            <%
               #end

               end

               end
            %>

        <script type="text/javascript">
          function marcar_todos(){

            $('.check_user').each(function(){

              if($('#check_user').is(':checked')){
                $(this).prop('checked', true);
              }else{
                $(this).prop('checked', false);
              }

            });

          }

          function marcar_padre(){

            var checked_all = true;

            $('.check_user').each(function(){
              if(!$(this).is(':checked')){
                checked_all = false;
              }
            });
            if(checked_all){
              $('#check_user').prop('checked', true);
            }else{
              $('#check_user').prop('checked', false);
            }


          }

        </script>

            <table class="table table-striped table-hover table-bordered">

          <thead>
            <tr>
              <th><input id="check_user" type="checkbox" checked="checked" onchange="marcar_todos();"> </th>
              <th>#</th>
              <th>Código</th>
              <th>Apellidos</th>
              <th>Nombre</th>
              <th>Correo electrónico</th>
              <% @characteristics.each do |c| %>
                <th><%= c.nombre %></th>
              <% end %>
            </tr>
          </thead>

          <tbody>

          <% @users.each_with_index do |user, index| %>

            <tr>
              <td><%= check_box('user_id', user.id, {class: 'check_user', checked: 'checked', onchange: 'marcar_padre()'}, user.id.to_s, '0')%></td>

              <td><%= index+1 %></td>

              <td><%= user.codigo %></td>
              <td><%= user.apellidos %></td>
              <td><%= user.nombre %></td>
              <td><%= user.email %></td>
              <% @characteristics.each do |c| %>
                <td>
                  <% uc = user.characteristic_by_id(c.id) %>
                  <%= uc.valor if uc  %>
                </td>
              <% end %>

            </tr>

          <% end %>

          </tbody>

        </table>

          </div>

          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= f.submit 'Asignar', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
          </div>
        </div>




  <% end %>

<% end %>


<br>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_for @user, url: programming_create_student_xls_path(@planning_process,@planning_process_company_unit, @company_unit_area, @dncp), html: {class: 'form-horizontal', multipart: true, method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Asignar participantes desde Excel</legend>

          <strong>Formato:</strong>

          <table class="table table-bordered table-condensed">
            <thead>
            <tr>
              <th>
                <%= alias_username %>
              </th>

            </tr>
            </thead>
            <tbody>
            <tr>
              <td>texto</td>

            </tr>
            </tbody>

          </table>

          <br>

          <strong>Ejemplo:</strong>
          <table class="table table-bordered table-condensed">
            <thead>
            <tr>
              <th>
                <%= alias_username %>
              </th>

            </tr>
            </thead>
            <tbody>
            <tr>
              <td>43376592</td>

            </tr>
            <tr>
              <td>84736232</td>

            </tr>
            <tr>
              <td>48365853</td>

            </tr>
            </tbody>

          </table>
          <br>
          <strong>Consideraciones:</strong>
          <br><br>
          - La columna 1 (<%= alias_username %>) es obligatoria (siempre debe tener un valor).
          <br>
          <br>
          <br>
          <% if @lineas_error && @lineas_error.size > 0 %>
            <table class="table table-striped table-hover table-condensed table-bordered">

              <thead>
              <tr>
                <th>Fila</th>
                <th>Errores</th>
                <th>Detalle</th>

              </tr>
              </thead>

              <tbody>

              <% @lineas_error.each_with_index do |l,index| %>

                <tr>
                  <td><%= l %></td>
                  <td>
                    <% @lineas_error_messages[index].each do |error| %>
                      <li class="text-danger"><%= error %></li>
                    <% end %>
                  </td>
                  <td><%= @lineas_error_detalle[index] %></td>
                </tr>

              <% end %>

              </tbody>

            </table>
          <% end %>
          <div class="form-group">

            <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= file_field 'upload', 'datafile', class: 'form-control' %>
              <br>
              <em>El formato del archivo debe ser xlsx</em>

            </div>

          </div>

        </div>


        <div class="panel-footer clearfix">
          <div class="pull-right">

            &nbsp;&nbsp;&nbsp;

            <%= f.submit 'Asignar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Participantes</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>



          <% characteristics = Characteristic.where('planning_process = ?', true).reorder('orden_planning_process') %>


          <tr>

            <th>#</th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th>Correo electrónico</th>
            <% characteristics.each do |c| %>
              <th><%= c.nombre %></th>
            <% end %>
            <th></th>

          </tr>

          </thead>

          <tbody>




          <% @dncp.dnc_student_ps.each_with_index do |dnc_student, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= dnc_student.user.apellidos %></td>
              <td><%= dnc_student.user.nombre %></td>
              <td><%= dnc_student.user.email %></td>
              <% characteristics.each do |c| %>
                <td>
                  <% uc = dnc_student.user.characteristic_by_id(c.id) %>
                  <%= uc.valor if uc  %>
                </td>
              <% end %>
              <td>
                <%= link_to '<i class="fa fa-times"></i>'.html_safe, programming_destroy_student_path(@planning_process,@planning_process_company_unit, @company_unit_area, @dncp, dnc_student.user.id), confirm: '¿Está seguro de eliminar el participante?' %>

              </td>
            </tr>


          <% end %>






          </tbody>

        </table>
      </div>
    </div>

  </div>
</div>

