
<% @dncs = @planning_process_company_unit.dncs_area @company_unit_area %>

<% estado_no_enviado = true %>
<% estado_revisiones = false %>
<% existen_solicitudes_de_correciones = false %>
<% estado_aprobado = false %>
<% estado_aprobado_unidad = false %>

<% @dncs.each_with_index do |dnc, index| %>

  <% estado_no_enviado = false if dnc.enviado_aprobar_area %>

  <% unless estado_no_enviado %>
    <% if dnc.aprobado_area %>
      <% estado_aprobado = true %>
      <% estado_aprobado_unidad = true if dnc.aprobado_unidad %>
    <% else %>
      <% estado_revisiones = true %>
    <% end %>

  <% end %>

  <% existen_solicitudes_de_correciones = true if dnc.requiere_modificaciones_area || @planning_process_company_unit.area_corrections_revisado(@company_unit_area, false).length > 0%>

<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 panel_content_info-<%= $current_domain %>">

    <legend class="text-center">Plan de Capacitación y Desarrollo</legend>

    <div class="row">
      <div class="col-md-4 text-right">
        <strong>Proceso de planificación</strong>
      </div>
      <div class="col-md-8">
        <%= @planning_process.year %> - <%= @planning_process.nombre %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-right">
        <strong>Unidad</strong>
      </div>
      <div class="col-md-4">
        <%= @planning_process_company_unit.company_unit.nombre %>
      </div>
      <div class="col-md-4">
        <img class="flag flag-<%= @planning_process_company_unit.company_unit.country.codigo %>">
        <%= @planning_process_company_unit.company_unit.country.nombre %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-right">
        <strong>Área</strong>
      </div>
      <div class="col-md-4">
        <%= @company_unit_area.nombre %>
      </div>

    </div>

    <div class="row">

      <div class="col-md-4 text-right">
        <strong>Fecha de término</strong>
      </div>
      <div class="col-md-4">
        <% if @planning_process_company_unit.fecha_fin %>
          <%= (localize @planning_process_company_unit.fecha_fin, format: :day_snmonth_syear) %>
          <% if lms_time > @planning_process_company_unit.fecha_fin %>

            <span class="label label-danger">Hace
              <%= distance_of_time_in_words(@planning_process_company_unit.fecha_fin, lms_time) %>
            </span>

          <% else %>
            <span class="label label-primary">En
              <%= distance_of_time_in_words(lms_time, @planning_process_company_unit.fecha_fin) %>
            </span>
          <% end %>
        <% else %>

          <span class="badge">no definida</span>

        <% end %>

      </div>

    </div>

    <div class="row">

      <div class="col-md-4 text-right">
        <strong>Objetivos del área</strong>
      </div>
      <div class="col-md-8">

        <% cua = @planning_process_company_unit.planning_process_company_unit_areas.first %>

        <% if cua %>

          <%= cua.objetivos.html_safe %>

        <% else %>

          <span class="badge">no definidos</span>

        <% end %>

      </div>



    </div>

    <div class="row">
      <div class="col-md-12">
        <%= link_to 'volver', unit_manager_path(@planning_process,@planning_process_company_unit), tabindex: '-1' %>
      </div>
    </div>

  </div>
</div>


<br>

<% cats = TrainingImpactCategory.all %>

<% meses = t('date.month_names') %>



<% meses_array = meses.each_with_index.map { |m,i| [m, i] } %>
<% meses_array.delete_at 0 %>

<ul class="nav nav-pills">
  <li class="active"><a href="#tab_pace" data-toggle="tab">PACE</a></li>
  <li><a href="#tab_dnc" data-toggle="tab">DNC</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="tab_pace">
    <div class="row">
      <div class="col-md-12 text-right">

        <%= link_to 'Descargar Excel', pace_xlsx_path(@planning_process,@planning_process_company_unit, @company_unit_area) %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <table class="table table-striped table-hover table-bordered table-header-<%= $current_domain %>">

          <thead>

          <tr>
            <th rowspan="2">
              #
            </th>
            <th rowspan="2">

              Nombre del Curso o Tema del Capacitación

            </th>
            <th rowspan="2">

              Modalidad de Capacitación

            </th>
            <th rowspan="2">

                Proveedor

            </th>
            <th colspan="<%= cats.length+1 %>">
              <div class="text-center">
                Impacto
              </div>
            </th>
            <th colspan="7">
              <div class="text-center">
                Dictado del curso
              </div>
            </th>




          </tr>

          <tr>



            <% cats.each do |cat| %>

              <th style="height: 135px;">
                <label class="rotated_text">
                  <nobr><strong><%= cat.nombre %></strong></nobr>
                </label>
              </th>

            <% end %>
            <th style="height: 135px;">
              <label class="rotated_text">
                <nobr><strong>TOTAL</strong></nobr>
              </label>
            </th>

            <th>
              <div class="text-center">
                Número de Participantes
              </div>
            </th>
            <th>
              <div class="text-center">
                Horas de Capacitación
              </div>
            </th>
            <th>
              <div class="text-center">
                Total H-H
              </div>
            </th>

            <th>
              <div class="text-right">
                Costo directo (<%= $current_domain=='hochschild' || $current_domain=='hochschild-training' ? 'USD' : 'S/.' %>)
              </div>
            </th>
            <th>
              <div class="text-right">
                Costo indirecto (<%= $current_domain=='hochschild' || $current_domain=='hochschild-training' ? 'USD' : 'S/.' %>)
              </div>
            </th>
            <th>
              <div class="text-right">
                Costo total (<%= $current_domain=='hochschild' || $current_domain=='hochschild-training' ? 'USD' : 'S/.' %>)
              </div>
            </th>

            <th>Mes</th>

          </tr>

          </thead>

          <% total_participantes = 0 %>
          <% total_duracion = 0 %>
          <% total_hh = 0 %>
          <% costo_total = 0.0 %>
          <% costo_directo_total = 0.0 %>
          <% costo_indirecto_total = 0.0 %>

          <% TrainingType.all.each do |tt| %>

            <thead>
              <tr>
                <th colspan="<%= 4+cats.length+8 %>" style="background-color: <%= '#'+tt.color %>;">
                  <%= tt.nombre %>
                </th>
              </tr>
            </thead>

            <tbody>


              <% @planning_process_company_unit.dncs_area_training_type(@company_unit_area, tt).each_with_index do |dnc, index| %>


                <tr>
                  <td><%= index+1 %></td>
                  <td><%= dnc.tema_capacitacion %></td>
                  <td><%= dnc.training_mode.nombre %></td>
                  <td>
                    <% if dnc.training_provider %>
                      <%= dnc.training_provider.nombre %>
                    <% else %>
                      <label class="label label-default">Por definir</label>
                    <% end %>

                  </td>

                  <% formula = '' %>

                  <% cats.each_with_index do |cat, index1| %>
                    <% i = dnc.dnc_training_impacts.find_by_training_impact_category_id(cat.id) %>
                    <td>
                      <div class="text-center">
                        <% if i %>
                          <%= i.training_impact_value.valor.to_s %>

                          <% if index1 > 0 %>
                            <% formula += ' + ' %>
                          <% end %>
                          <% formula += i.training_impact_value.valor.to_s+'*'+i.training_impact_category.peso.to_s+' ' %>


                        <% end %>
                      </div>
                    </td>
                  <% end %>
                  <td>

                    <div class="text-center">
                      <label id='impacto_total_pace_<%= dnc.id %>' title="<%= formula %>"><%= number_with_precision(dnc.impacto_total, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter) %></label>
                      <script>
                        $('#impacto_total_pace_<%= dnc.id %>').tooltip({
                          position: 'top'
                        })
                      </script>
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      <% total_participantes += dnc.dnc_students.count %>
                      <%= dnc.dnc_students.count %>
                    </div>
                  </td>

                  <td>
                    <% total_duracion += dnc.tiempo_capacitacion %>
                    <%
                       hh = dnc.tiempo_capacitacion/60
                       hh = '0'+hh.to_s if hh < 10
                       mm = dnc.tiempo_capacitacion%60
                       mm = '0'+mm.to_s if mm < 10
                    %>
                    <div class="text-center">
                      <%= hh %>:<%= mm %>
                    </div>

                  </td>

                  <td>
                    <% total_hh_aux = dnc.dnc_students.count*dnc.tiempo_capacitacion/60 %>
                    <% total_hh += total_hh_aux %>
                    <div class="text-center">
                      <%= total_hh_aux %>
                    </div>
                  </td>

                  <td>
                    <div class="text-right">
                      <% costo_directo_total += dnc.costo_directo %>
                      <%= number_to_currency(dnc.costo_directo, unit: $current_domain=='hochschild' || $current_domain=='hochschild-training' ? '$' : 'S/.', precision: 0) %>
                    </div>
                  </td>

                  <td>
                    <div class="text-right">
                      <% costo_indirecto_total += dnc.costo_indirecto %>
                      <%= number_to_currency(dnc.costo_indirecto, unit: $current_domain=='hochschild' || $current_domain=='hochschild-training' ? '$' : 'S/.', precision: 0) %>
                    </div>
                  </td>

                  <td>
                    <div class="text-right">
                      <% costo_total += dnc.costo_directo + dnc.costo_indirecto %>
                      <%= number_to_currency(dnc.costo_directo + dnc.costo_indirecto, unit: $current_domain=='hochschild' || $current_domain=='hochschild-training' ? '$' : 'S/.', precision: 0) %>
                    </div>
                  </td>


                  <td><%= meses[dnc.meses.to_i] %></td>



                </tr>
              <% end %>

            </tbody>

          <% end %>



          <thead>
          <tr>
            <th colspan="<%= 4+cats.length %>">

            </th>
            <th>Total</th>
            <th>
              <div class="text-center">
                <%= total_participantes %>
              </div>
            </th>
            <th>
              <%
                 hh = total_duracion/60
                 hh = '0'+hh.to_s if hh < 10
                 mm = total_duracion%60
                 mm = '0'+mm.to_s if mm < 10
              %>
              <div class="text-center">
                <%= hh %>:<%= mm %>
              </div>
            </th>
            <th>
              <div class="text-center">
                <%= total_hh %>
              </div>
            </th>
            <th>
              <div class="text-right">
                <%= number_to_currency(costo_directo_total, unit: $current_domain=='hochschild' || $current_domain=='hochschild-training' ? '$' : 'S/.', precision: 0) %>
              </div>
            </th>
            <th>
              <div class="text-right">
                <%= number_to_currency(costo_indirecto_total, unit: $current_domain=='hochschild' || $current_domain=='hochschild-training' ? '$' : 'S/.', precision: 0) %>
              </div>
            </th>
            <th>
              <div class="text-right">
                <%= number_to_currency(costo_total, unit: $current_domain=='hochschild' || $current_domain=='hochschild-training' ? '$' : 'S/.', precision: 0) %>
              </div>
            </th>
            <th></th>

          </tr>
          </thead>

        </table>

      </div>
    </div>

  </div>
  <div class="tab-pane" id="tab_dnc">

    <div class="row">
      <div class="col-md-12 text-right">

        <%= link_to 'Descargar Excel', dnc_xlsx_path(@planning_process,@planning_process_company_unit, @company_unit_area) %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <table class="table table-striped table-hover table-bordered table-header-<%= $current_domain %>">

          <thead>

          <tr>
            <th colspan="5">
              <div class="text-center">
                Datos del curso
              </div>
            </th>
            <th colspan="<%= cats.length+1 %>">
              <div class="text-center">
                Impacto
              </div>
            </th>
            <th colspan="6">
              <div class="text-center">
                Dictado del curso
              </div>
            </th>




          </tr>

          <tr>
            <th>
              #
            </th>
            <th>Nombre del Curso o Tema del Capacitación</th>
            <th>Tipo de Capacitación</th>
            <th>Oportunidades de Mejora</th>
            <th>Objetivos</th>




            <% cats.each do |cat| %>

              <th style="height: 135px;">
                <label class="rotated_text">
                  <nobr><strong><%= cat.nombre %></strong></nobr>
                </label>
              </th>

            <% end %>
            <th style="height: 135px;">
              <label class="rotated_text">
                <nobr><strong>TOTAL</strong></nobr>
              </label>
            </th>

            <th>
              <div class="text-center">
                Número de Participantes
              </div>
            </th>
            <th>
              <div class="text-center">
                Modalidad de Capacitación
              </div>
            </th>
            <th>
              <div class="text-center">
                Horas de Capacitación
              </div>
            </th>
            <th>Mes Tentativo</th>
            <th>Proveedor</th>
            <th>
              <div class="text-right">
                Costo (<%= $current_domain=='hochschild' || $current_domain=='hochschild-training' ? 'USD' : 'S/.' %>)
              </div>
            </th>

          </tr>

          </thead>

          <tbody>
          <% costo_total = 0.0 %>



          <% @dncs.each_with_index do |dnc, index| %>


            <tr>
              <td><%= index+1 %></td>
              <td><%= dnc.tema_capacitacion %></td>
              <td>

                <label class="label label-default" style="background-color: <%= '#'+dnc.training_type.color %>; color: #000;">
                  <%= dnc.training_type.nombre %>
                </label>
              </td>
              <td><%= dnc.oportunidad_mejora.html_safe %></td>
              <td>


                <label id="obj_est_dnc_<%= dnc.id %>" data-content='

                  <% dnc.dnc_planning_process_goals.each do |dnc_goal| %>
                    <li><%= dnc_goal.planning_process_goal.descripcion %></li>
                  <% end %>


                '>
                  <nobr>- Estratégicos</nobr>

                </label>

                <script language="javascript">
                  $('#obj_est_dnc_<%= dnc.id %>').popover({
                    html: true,
                    placement: 'right',
                    trigger: 'hover'
                  });
                </script>

                <label id="obj_curso_dnc_<%= dnc.id %>" data-content='

                  <%= dnc.objetivos_curso.html_safe %>

                '>
                  - Del curso

                </label>

                <script language="javascript">
                  $('#obj_curso_dnc_<%= dnc.id %>').popover({
                    html: true,
                    placement: 'right',
                    trigger: 'hover'
                  });
                </script>




              </td>

              <% formula = '' %>

              <% cats.each_with_index do |cat, index1| %>
                <% i = dnc.dnc_training_impacts.find_by_training_impact_category_id(cat.id) %>
                <td>
                  <div class="text-center">
                    <% if i %>
                      <%= i.training_impact_value.valor.to_s %>

                      <% if index1 > 0 %>
                        <% formula += ' + ' %>
                      <% end %>
                      <% formula += i.training_impact_value.valor.to_s+'*'+i.training_impact_category.peso.to_s+' ' %>


                    <% end %>
                  </div>
                </td>
              <% end %>
              <td>

                <div class="text-center">
                  <label id='impacto_total_<%= dnc.id %>' title="<%= formula %>"><%= number_with_precision(dnc.impacto_total, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter) %></label>
                  <script>
                    $('#impacto_total_<%= dnc.id %>').tooltip({
                      position: 'top'
                    })
                  </script>
                </div>
              </td>
              <td>
                <div class="text-center">
                  <%= render partial: 'planning_processes/popover_dnc_participantes',
                             locals: {
                                 dnc: dnc
                             }
                  %>
                </div>


              </td>
              <td>
                <div class="text-center">
                  <%= dnc.training_mode.nombre %>
                </div>
              </td>
              <td>
                <%
                   hh = dnc.tiempo_capacitacion/60
                   hh = '0'+hh.to_s if hh < 10
                   mm = dnc.tiempo_capacitacion%60
                   mm = '0'+mm.to_s if mm < 10
                %>

                <div class="text-center">
                  <%= hh %>:<%= mm %>
                </div>
              </td>
              <td><%= meses[dnc.meses.to_i] %></td>
              <td>
                <% if dnc.training_provider %>
                  <%= dnc.training_provider.nombre %>
                <% else %>
                  <label class="label label-default">Por definir</label>
                <% end %>

              </td>
              <td>
                <div class="text-right">
                  <% costo_total += dnc.costo_directo + dnc.costo_indirecto %>
                  <%= number_to_currency(dnc.costo_directo + dnc.costo_indirecto, unit: $current_domain=='hochschild' || $current_domain=='hochschild-training' ? '$' : 'S/.', precision: 0) %>
                </div>
              </td>

            </tr>
          <% end %>

          </tbody>

          <thead>
          <tr>
            <th colspan="<%= 6+cats.length+4 %>">

            </th>
            <th>Total</th>
            <th>
              <div class="text-right">
                <%= number_to_currency(costo_total, unit: $current_domain=='hochschild' ? '$' : 'S/.', precision: 0) %>
              </div>
            </th>

          </tr>
          </thead>

        </table>

      </div>
    </div>

  </div>
</div>

<% if @dncs.length> 0 %>

  <% if @is_unit_manager %>

    <div class="row">

      <% area_corrections = @planning_process_company_unit.area_corrections @company_unit_area %>

      <% if estado_aprobado || area_corrections.length > 0 %>

        <div class="col-md-4 form-box-<%= $current_domain %>">
          <legend>1. Crear PACE</legend>
          <div class="row">
            <div class="col-md-12">
              <i class="fa fa-check"></i> <i>El PACE ha sido aprobado por el encargado de aprobación a nivel de área.</i>
            </div>
          </div>

        </div>

        <% if estado_aprobado_unidad %>

          <div class="col-md-4 form-box-<%= $current_domain %>">
            <legend>2. Corregir PACE</legend>
            <div class="row">
              <div class="col-md-12">
                <i class="fa fa-check"></i> <i>Las correcciones del PACE han finalizado.</i>
              </div>
            </div>

          </div>

          <div class="col-md-4 form-box-<%= $current_domain %>">
            <legend>3. Aprobar PACE</legend>
            <div class="row">
              <div class="col-md-12">
                <i class="fa fa-check"></i> <i>El PACE ha sido aprobado.</i>
              </div>
            </div>
          </div>

        <% else %>

          <div class="col-md-4 form-box-<%= $current_domain %>">
            <legend>2. Corregir PACE</legend>
            <div class="row">
              <div class="col-md-12">
                <i>Puede solicitar correcciones que debe realizar el responsable de área.</i>
              </div>
            </div>

            <br>

            <%= form_for @ppcu_area_correction, url: request_area_correction_path(@planning_process,@planning_process_company_unit, @company_unit_area), method: :post do |f| %>

            <div class="row">
              <div class="col-md-12">
                <label>Descripción</label>
                <%= f.text_area :correccion , class: 'span12', rows: 3 %>

                <%= f.submit 'Enviar', class: 'btn btn-primary' %>
              </div>
            </div>

            <% end %>


            <% area_corrections_revisado = @planning_process_company_unit.area_corrections_revisado @company_unit_area, true %>

            <% if area_corrections_revisado.length > 0 %>

              <div class="row">
                <div class="col-md-12">

                  <p class="text-success"><i>Solicitudes de corrección atendidas:</i></p>
                  <ol>
                    <% area_corrections_revisado.each do |ac| %>
                      <li>

                        <%= ac.correccion %>

                      </li>
                    <% end %>
                  </ol>

                </div>

              </div>

            <% end %>



          </div>

          <% area_corrections_no_revisado = @planning_process_company_unit.area_corrections_revisado @company_unit_area, false %>

          <% if area_corrections_no_revisado.length > 0 %>

            <div class="col-md-4 form-box-<%= $current_domain %>">
              <legend>3. Aprobar PACE</legend>
              <div class="row">
                <div class="col-md-12">
                  <p class="text-danger"><i>No puede aprobar el PACE mientras existan solicitudes de corrección pendientes:</i></p>
                  <ol>
                    <% area_corrections_no_revisado.each do |ac| %>
                      <li>
                        <%= link_to '<i class="fa fa-times"></i>'.html_safe, destroy_area_correction_path(@planning_process,@planning_process_company_unit, @company_unit_area, ac.id), id: 'delete_area_correction_'+ac.id.to_s, title: 'Eliminar solicitud de corrección', data: { confirm: '¿Está seguro de eliminar la solicitud de corrección?' } %>

                        <script>
                          $('#delete_area_correction_<%= ac.id %>').tooltip({
                            placement: 'top'
                          });
                        </script>

                        <%= ac.correccion %>

                      </li>
                    <% end %>
                  </ol>
                </div>
              </div>

            </div>

          <% else %>

            <div class="col-md-4 form-box-<%= $current_domain %>">
              <legend>3. Aprobar PACE</legend>

              <% program_anual = Program.find_by_plan_anual(true) %>

              <% if program_anual && program_anual.levels.length > 0 %>

                <div class="row">
                  <div class="col-md-12">
                    <i>Una vez aprobado el PACE no podrá realizar ninguna modificación salvo a través del analista de capacitación.</i>
                  </div>
                </div>

                <br>

                <div class="row">
                  <div class="col-md-9">
                    <label class="checkbox">

                      <input type="checkbox" onchange="set_send(this);">
                      Deseo aprobar el PACE
                    </label>
                  </div>

                  <div class="col-md-3 text-right">

                    <% approve_pace = Dnc.new %>
                    <%= form_for approve_pace, url: approve_unit_path(@planning_process,@planning_process_company_unit, @company_unit_area) , method: :post do |f| %>

                      <%= f.submit 'Enviar', class: 'btn  disabled', id: 'button_enviar', disabled: 'disabled' %>
                      <a id= 'suggestion_make_check' data-toggle= 'tooltip' title= 'Para habilitar el botón Enviar debe indicar que desea aprobar el DNC marcando el check '>
                        <i class="fa fa-question"></i>
                      </a>
                    <% end %>

                    <script>
                      function set_send(c){
                        if(c.checked){
                          $('#button_enviar').removeClass('disabled');
                          $('#button_enviar').addClass('btn-primary');

                          $('#button_enviar').removeAttr('disabled');
                        }else{
                          $('#button_enviar').removeClass('btn-primary');
                          $('#button_enviar').addClass('disabled');

                          $('#button_enviar').attr("disabled", "disabled");
                        }
                      }
                      $('#suggestion_make_check').tooltip({
                        placement: 'top'
                      });
                    </script>

                  </div>
                </div>
              <% else %>

                <p class="text-danger">No se puede iniciar el proceso de aprobación, por favor contacte con el administrador.</p>

              <% end %>

            </div>


          <% end %>


        <% end %>

      <% else %>

        <div class="col-md-4 form-box-<%= $current_domain %>">
          <legend>1. Crear PACE</legend>
          <div class="row">
            <div class="col-md-12">
              <i>El PACE está siendo creado por el responsable de área.</i>
            </div>
          </div>
        </div>

      <% end %>

    </div>

  <% else %>

    <% if estado_aprobado_unidad %>
      <div class="col-md-4 form-box-<%= $current_domain %>">
        <legend>1. En proceso</legend>
        <div class="row">
          <div class="col-md-12">
            <i>La planificación se encuentra en proceso de creación.</i>
          </div>
        </div>

      </div>

      <div class="col-md-4 form-box-<%= $current_domain %>">
        <legend>2. Aprobada</legend>
        <div class="row">
          <div class="col-md-12">
            <i class="fa fa-check"></i> <i>El encargado de aprobación a nivel de unidad ha aprobado el PACE y el proceso ha finalizado.</i>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col-md-4 form-box-<%= $current_domain %>">
        <legend>1. En proceso</legend>
        <div class="row">
          <div class="col-md-12">
            <i>La planificación se encuentra en proceso de creación.</i>
          </div>
        </div>

      </div>
    <% end %>


  <% end %>


<% end %>






