<div class="row">
  <div class="col-md-3">

    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de procesos'.html_safe, planning_processes_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos del proceso de planificación</legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Año</strong>
          </div>
          <div class="col-md-9">
            <%= @planning_process.year %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @planning_process.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Estado</strong>
          </div>
          <div class="col-md-9">
            <% if @planning_process.abierto? %>
              <span class="label label-success">abierto</span>
            <% else %>
              <span class="label label-important">finalizado</span>
            <% end %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Fecha de término</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @planning_process.fecha_fin, format: :day_snmonth_year) %>
            <% if lms_time > @planning_process.fecha_fin %>

              <span class="label label-danger">Hace
                <%= distance_of_time_in_words(@planning_process.fecha_fin, lms_time) %>
              </span>

            <% else %>
              <span class="label label-primary">En
                <%= distance_of_time_in_words(lms_time, @planning_process.fecha_fin) %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to 'Editar', edit_planning_process_path(@planning_process) %>
          &nbsp;&nbsp;
          <% if @planning_process.company_units.length == 0 %>
            <%= link_to 'Eliminar', delete_planning_process_path(@planning_process) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Unidades</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>

            <tr>
              <th>#</th>
              <th colspan="2">Unidad</th>
              <th colspan="2">Analista de capacitación</th>
              <th colspan="2">Aprobación por unidad</th>
              <th>Estado</th>
              <th><%= link_to 'Agregar unidades al proceso de planificación', new_unit_planning_process_path(@planning_process) %></th>
            </tr>

          </thead>

          <tbody>

          <% @planning_process.company_units.each_with_index do |aux_cu, index| %>

            <% ppcu = @planning_process.planning_process_company_units.find_by_company_unit_id aux_cu.id %>

            <tr>

                <td><%= index+1 %></td>
                <td><%= ppcu.company_unit.nombre %></td>
                <td>
                 <img class="flag flag-<%= ppcu.company_unit.country.codigo %>">
                  <%= ppcu.company_unit.country.nombre %>
                </td>
                <td>
                  <% t = 0 %>
                  <% ppcu.training_analysts.each_with_index do |ta, i1| %>

                      <% if i1 > 0 %>
                        <br>
                      <% end %>

                      <%= link_to '<i class="fa fa-times"></i>'.html_safe, planning_process_destroy_training_analyst_path(@planning_process,ppcu,ta.user), data: { confirm: '¿Está seguro de eliminar el analista de capacitación?' } %>

                      <%= ta.user.apellidos %> <%= ta.user.nombre %>


                      <% t = 1 %>

                  <% end %>

                  <% if t == 0 %>

                    <span class="label label-default">No asignado</span>

                  <% end %>

                </td>
                <td>

                  <a href="<%= planning_process_search_analyst_manager_path(@planning_process,ppcu) %>">
                    <i id="add_ac_<%= ppcu.id %>" class="fa fa-plus" data-toggle="tooltip" title="Agregar analista de capacitación"></i>
                  </a>

                  <script>
                    $('#add_ac_<%= ppcu.id %>').tooltip({
                      placement: 'top'
                    });
                  </script>

                </td>
                <td>
                  <% t = 0 %>
                  <% ppcu.company_unit_managers.each do |cum| %>

                    <%= link_to '<i class="fa fa-times"></i>'.html_safe, planning_process_destroy_company_unit_manager_path(@planning_process,ppcu,cum.user), data: { confirm: '¿Está seguro de eliminar el gerente de unidad?' } %>


                    <%= cum.user.apellidos %> <%= cum.user.nombre %>
                    <% t = 1 %>
                  <% end %>

                  <% if t == 0 %>

                    <span class="label label-default">No asignado</span>

                  <% end %>

                </td>
                <td>

                  <a href="<%= planning_process_search_analyst_manager_path(@planning_process,ppcu) %>">
                    <i id="add_gu_<%= ppcu.id %>" class="fa fa-pencil-square-o" data-toggle="tooltip" title="Definir encargado de aprobación a nivel de unidad"></i>
                  </a>

                  <script>
                    $('#add_ra_<%= ppcu.id %>').tooltip({
                      placement: 'top'
                    });
                  </script>

                </td>
                <td>

                  <% estado_aprobado_unidad_todo = true %>

                  <% n_dncs = false %>

                  <% ppcu.company_unit.company_unit_areas.each_with_index do |cua, index| %>

                    <% dncs = ppcu.dncs_area(cua) %>

                    <% if dncs.length == 0 %>
                      <% estado_aprobado_unidad_todo = false %>
                    <% else %>

                      <% dncs.each do |dnc| %>

                        <% unless dnc.aprobado_unidad %>
                          <% estado_aprobado_unidad_todo = false %>
                          <% break %>
                        <% end %>
                        <% n_dncs = true %>
                      <% end %>

                    <% end %>

                  <% end %>

                  <% if n_dncs %>

                    <% if estado_aprobado_unidad_todo %>
                      <span class="label label-success">Aprobada</span>
                    <% else %>
                      <span class="label label-default">En proceso</span>
                    <% end %>
                  <% else %>
                    <span class="label label-default">En proceso</span>
                  <% end %>

                </td>

                <td>
                  <%= link_to 'Consultar', unit_manager_path(ppcu.planning_process,ppcu), tabindex: '-1' %>
                </td>

              </tr>
            <% end %>


          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Estados</legend>

        <div class="row">

          <div class="col-md-3 col-md-offset-3">
            <span class="label label-default">1. En proceso</span>
            <br><br>
            La planificación se encuentra en proceso de creación.

          </div>

          <div class="col-md-3">
            <span class="label label-success">2. Aprobada</span>
            <br><br>
            El encargado de aprobación a nivel de unidad ha aprobado el PACE de todas las áreas y el proceso ha finalizado.
          </div>



        </div>
      </div>
    </div>
  </div>
</div>