
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend >Planificar <%= @planning_process_company_unit.company_unit.nombre %></legend>

        <div class="row">
          <div class="col-md-4 text-right">
            <strong>Proceso de planificación</strong>
          </div>
          <div class="col-md-8">
            <%= @planning_process.year %> - <%= @planning_process.nombre %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-right">
            <strong>Fecha de término</strong>
          </div>
          <div class="col-md-8">
            <%= (localize @planning_process.fecha_fin, format: :day_snmonth_syear) %>
            <% if lms_time > @planning_process.fecha_fin %>

              <span class="label label-danger">Hace
                <%= distance_of_time_in_words(@planning_process.fecha_fin, lms_time) %>
              </span>

            <% else %>
              <span class="label label-primary">En
                <%= distance_of_time_in_words(lms_time, @planning_process.fecha_fin) %>
              </span>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4 text-right">
            <strong>Unidad</strong>
          </div>
          <div class="col-md-4">
            <%= @planning_process_company_unit.company_unit.nombre %>
          </div>
          <div class="col-md-4">
            <img class="flag flag-<%= @planning_process_company_unit.company_unit.country.codigo %>">
            <%= @planning_process_company_unit.company_unit.country.nombre %>
          </div>
        </div>
        <div class="row">

          <div class="col-md-4 text-right">
            <strong>Fecha de término</strong>
          </div>
          <div class="col-md-4">
            <% if @planning_process_company_unit.fecha_fin %>
              <%= (localize @planning_process_company_unit.fecha_fin, format: :day_snmonth_syear) %>
                <% if lms_time > @planning_process_company_unit.fecha_fin %>

                  <span class="label label-danger">Hace
                    <%= distance_of_time_in_words(@planning_process_company_unit.fecha_fin, lms_time) %>
                  </span>

                <% else %>
                  <span class="label label-primary">En
                    <%= distance_of_time_in_words(lms_time, @planning_process_company_unit.fecha_fin) %>
                  </span>
                <% end %>
            <% else %>

              <span class="badge">no definida</span>

            <% end %>

          </div>
          <div class="col-md-4">
            <%= link_to 'Definir fecha de término', edit_fecha_fin_planning_process_unit_path(@planning_process, @planning_process_company_unit) %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<br>



<div class="row">
  <div class="col-md-10 col-md-offset-1 ">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Paso 1. Definir objetivos estratégicos</legend>

        <table class="table table-striped table-hover table-bordered ">

          <thead>

          <tr>
            <th>#</th>
            <th class="clean-border-left">Objetivo estratégico</th>
            <th colspan="2" class="clean-border-left">

              <a id="add_strategic_goal" href="<%= new_goal_planning_process_path(@planning_process, @planning_process_company_unit) %>" title="Crear un nuevo objetivo estratégico" >
                <i class="fa fa-plus"></i>
              </a>

              <script>
                $('#add_strategic_goal').tooltip({
                  placement: 'top'
                });
              </script>

            </th>
          </tr>

          </thead>

          <tbody>

          <% @planning_process_company_unit.planning_process_goals.each_with_index do |goal, index| %>
            <tr>

              <td><%= goal.numero %></td>
              <td class="clean-border-left"><%= goal.descripcion %></td>
              <td class="clean-border-left">

                <a id="edit_strategic_goal_<%= goal.id %>" href="<%= edit_goal_planning_process_path(@planning_process, @planning_process_company_unit, goal) %>" title="Modificar objetivo estratégico" >
                  <i class="fa fa-pencil-square-o"></i>
                </a>

                <script>
                  $('#edit_strategic_goal_<%= goal.id %>').tooltip({
                    placement: 'top'
                  });
                </script>

              </td>
              <td class="clean-border-left">
                <% if goal.dnc_planning_process_goals.count == 0 && goal.dnc_planning_process_goal_ps.count == 0 %>

                  <a id="delete_strategic_goal_<%= goal.id %>" href="<%= delete_goal_planning_process_path(@planning_process, @planning_process_company_unit, goal) %>" title="Eliminar objetivo estratégico" data-confirm="¿Está seguro de eliminar el objetivo estratégico?">
                    <i class="fa fa-times"></i>
                  </a>

                  <script>
                    $('#delete_strategic_goal_<%= goal.id %>').tooltip({
                      placement: 'top'
                    });
                  </script>

                <% end %>
              </td>

            </tr>
          <% end %>


          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<br>



<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Paso 2. Definir responsables y registrar DNC por área</legend>

        <table class="table table-striped table-hover table-bordered">

      <thead>

      <tr>
        <th>#</th>
        <th>Área</th>
        <th colspan="2">Responsable de área</th>
        <th colspan="2">Aprobación por área</th>
        <th>
          Estado
        </th>
        <th>




        </th>
      </tr>

      </thead>

      <tbody>

      <% @planning_process_company_unit.company_unit.company_unit_areas.each_with_index do |cua, index| %>

        <% dncs = @planning_process_company_unit.dncs_area cua %>

        <% estado_no_enviado = true %>
        <% estado_revisiones = false %>
        <% existen_solicitudes_de_correciones = false %>
        <% estado_aprobado = false %>
        <% estado_aprobado_unidad = false %>

        <% dncs.each_with_index do |dnc, index| %>

          <% estado_no_enviado = false if dnc.enviado_aprobar_area %>

          <% unless estado_no_enviado %>
            <% if dnc.aprobado_area %>
              <% estado_aprobado = true %>
              <% estado_aprobado_unidad = true if dnc.aprobado_unidad %>
            <% else %>
              <% estado_revisiones = true %>
            <% end %>

          <% end %>

          <% existen_solicitudes_de_correciones = true if dnc.requiere_modificaciones_area %>

        <% end %>

        <tr>

          <td><%= index+1 %></td>
          <td><%= cua.nombre %></td>
          <td>
            <% t = 0 %>
            <% @planning_process_company_unit.company_unit_area_managers.where('company_unit_area_id = ?',cua.id).each do |cuam| %>

              <%= link_to '<i class="fa fa-times"></i>'.html_safe, planning_process_destroy_area_manager_path(@planning_process,@planning_process_company_unit,cua, cuam.user), data: { confirm: '¿Está seguro de eliminar el responsable de área?' } %>

              <%= cuam.user.apellidos %> <%= cuam.user.nombre %>
              <% t = 1 %>

            <% end %>

            <% if t == 0 %>

              <span class="label label-default">No asignado</span>

            <% end %>

          </td>
          <td style="border-left: none;">
            <a href="<%= planning_process_search_manager_superintendent_path(@planning_process,@planning_process_company_unit, cua) %>">
              <i id="add_ra_<%= cua.id %>" class="fa fa-pencil-square-o" data-toggle="tooltip" title="Definir responsable de área"></i>
            </a>

            <script>
              $('#add_ra_<%= cua.id %>').tooltip({
                placement: 'top'
              });
            </script>
          </td>
          <td>
            <% t = 0 %>
            <% @planning_process_company_unit.area_superintendents.where('company_unit_area_id = ?',cua.id).each do |cuas| %>

              <%= link_to '<i class="fa fa-times"></i>'.html_safe, planning_process_destroy_area_superintendet_path(@planning_process,@planning_process_company_unit,cua, cuas.user), data: { confirm: '¿Está seguro de eliminar el superintendente de área?' } %>

              <%= cuas.user.apellidos %> <%= cuas.user.nombre %>
              <% t = 1 %>
            <% end %>
            <% if t == 0 %>

              <span class="label label-default">No asignado</span>

            <% end %>

          </td>
          <td style="border-left: none;">
            <a href="<%= planning_process_search_manager_superintendent_path(@planning_process,@planning_process_company_unit, cua) %>">
              <i id="add_sa_<%= cua.id %>" class="fa fa-pencil-square-o" data-toggle="tooltip" title="Definir encargado de aprobación a nivel de área"></i>
            </a>

            <script>
              $('#add_sa_<%= cua.id %>').tooltip({
                placement: 'top'
              });
            </script>
          </td>
          <td>

            <% texto_link = 'Registrar' %>

            <% if estado_no_enviado %>
              <span class="label label-default">En creación</span>
            <% else %>
              <% if estado_aprobado %>
                <% texto_link = 'Consultar planificación' %>
                <span class="label label-success">Aprobado</span>
              <% else %>
                <% if existen_solicitudes_de_correciones %>
                  <span class="label label-danger">En corrección</span>
                <% else %>
                  <% texto_link = 'Consultar' %>
                  <span class="label label-warning">Por revisar</span>
                <% end %>
              <% end %>
            <% end %>
          </td>

          <td>
            <%= link_to texto_link, planning_process_show_dnc_path(@planning_process, @planning_process_company_unit, cua), tabindex: '-1' %>
          </td>

        </tr>
      <% end %>


      </tbody>

    </table>

      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row">
          <div class="col-md-12">
            <legend>Posibles estados de la planificación</legend>
          </div>
        </div>
        <div class="row">

          <div class="col-md-3">
            <span class="label label-default">1. En creación</span>
            <br><br>
            El responsable de área está realizando la planificación.

          </div>
          <div class="col-md-3">
            <span class="label label-warning">2. Por revisar</span>
            <br><br>
            El responsable de área ha finalizado su planificación y el encargado de aprobación a nivel de área debe revisarla para solicitar correciones o aprobarla.
          </div>

          <div class="col-md-3">
            <span class="label label-danger">3. En corrección</span>
            <br><br>
            El encargado de aprobación a nivel de área ha solicitado correcciones al responsable de área y aún no han sido atendidas.
          </div>

          <div class="col-md-3">
            <span class="label label-success">4. Aprobado</span>
            <br><br>
            El encargado de aprobación a nivel de área ha aprobado el DNC y éste ha sido enviado para su revisión y aprobación por el encargado de aprobación a nivel de unidad.
          </div>

        </div>

      </div>
    </div>

  </div>
</div>




