<link rel="stylesheet" type="text/css" href="/assets/datatables_new_version/dataTables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="/assets/datatables_new_version/buttons.bootstrap.css">

<div class="row">

  <div class="col-md-3">
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Resultados de <%= @pe_rel.alias_reverse_plural %>
    </h1>
  </div>

</div>

<%

  pe_members_list = Array.new
  pe_boxes_list = Array.new

%>

<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Resultados de <%= @pe_rel.alias_reverse_plural.downcase %></legend>

        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab_results_tabla" data-toggle="tab">Tabla de resultados</a></li>

          <% if @pe_process.public_pe_box %>

            <li><a href="#tab_results_cuadrantes" data-toggle="tab">Cuadrantes</a></li>
            <li class="tab_results_distribucion"><a href="#tab_results_distribucion" data-toggle="tab">Distribución de resultados finales</a></li>

          <% end %>
          <!--
          <li class="tab_results_distribucion_det"><a href="#tab_results_distribucion_det" data-toggle="tab">Distribución detallada de resultados</a></li>
          -->
        </ul>

        <br>

        <div class="tab-content">
          <div class="tab-pane active" id="tab_results_tabla">


            <% cols_to_hide = Array.new %>
            <% cols_to_export = Array.new %>

            <table id="datatable_fixed_column" class="table table-striped table-bordered smart-form" style="font-size: 11px;">
              <thead>
              <tr>

                <th>#</th>
                <th><%= alias_username %></th>
                <th>Evaluado</th>

                <% num_col_to_control = 2 %>

                <% cols_to_export.push 0 %>
                <% cols_to_export.push 1 %>
                <% cols_to_export.push 2 %>

                <% pe_rel_boss = @pe_process.pe_rel('jefe') %>

                <% if pe_rel_boss && @pe_process.rep_consolidated_final_results_col_boss %>

                  <th><%= pe_rel_boss.alias %></th>

                  <% num_col_to_control += 1 %>
                  <% cols_to_export.push num_col_to_control %>

                <% end %>

                <% @pe_process.pe_characteristics_rep_consolidated_final_results.each do |pe_characteristic| %>

                  <th>
                    <%= pe_characteristic.characteristic.nombre %>
                  </th>
                  <% num_col_to_control += 1 %>
                  <% cols_to_export.push num_col_to_control %>
                <% end %>

                <th>Evaluación</th>
                <% num_col_to_control += 1 %>
                <% cols_to_export.push num_col_to_control %>

                <% if @pe_process.has_step_validation? %>
                  <th>Validación</th>
                  <% num_col_to_control += 1 %>
                  <% cols_to_export.push num_col_to_control %>
                <% end %>

                <% if @pe_process.has_step_calibration? %>
                  <th>Calibración</th>
                  <% num_col_to_control += 1 %>
                  <% cols_to_export.push num_col_to_control %>
                <% end %>

                <% if @pe_process.has_step_feedback? %>
                  <th><%= @pe_process.step_feedback_alias %></th>
                  <% num_col_to_control += 1 %>
                  <% cols_to_export.push num_col_to_control %>
                <% end %>

                <% @pe_process.pe_dimensions.each do |pe_dimension| %>
                  <th><%= pe_dimension.name %></th>
                  <% num_col_to_control += 1 %>
                  <th><%= pe_dimension.name %></th>
                  <% num_col_to_control += 1 %>

                  <% cols_to_hide.push num_col_to_control %>
                  <% cols_to_export.push num_col_to_control %>

                  <% break unless @pe_process.two_dimensions? %>
                <% end %>

                <% if @pe_process.public_pe_box %>
                  <th><%= @pe_process.step_assessment_final_result_alias %></th>
                  <% num_col_to_control += 1 %>

                  <th><%= @pe_process.step_assessment_final_result_alias %></th>
                  <% num_col_to_control += 1 %>
                  <% cols_to_hide.push num_col_to_control %>
                  <% cols_to_export.push num_col_to_control %>

                  <th></th>
                  <% num_col_to_control += 1 %>
                  <% cols_to_hide.push num_col_to_control %>
                  <% cols_to_export.push num_col_to_control %>
                <% end %>

                <% if @pe_process.has_step_calibration? %>
                  <th>Valoración original</th>
                  <% num_col_to_control += 1 %>
                  <th>Valoración original</th>
                  <% num_col_to_control += 1 %>
                  <% cols_to_hide.push num_col_to_control %>
                  <% cols_to_export.push num_col_to_control %>
                  <th>Comentario de la calibración</th>
                  <% num_col_to_control += 1 %>
                  <% cols_to_hide.push num_col_to_control %>
                  <% cols_to_export.push num_col_to_control %>
                <% end %>

                <th></th>


              </tr>
              <tr>
                <td>
                  <label class="input">
                    <input type="text" class="hidden">
                  </label>
                </td>

                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>

                <% if pe_rel_boss && @pe_process.rep_consolidated_final_results_col_boss %>
                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>
                <% end %>

                <% @pe_process.pe_characteristics_rep_consolidated_final_results.each do |pe_characteristic| %>

                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>

                <% end %>

                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>

                <% if @pe_process.has_step_validation? %>
                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>
                <% end %>

                <% if @pe_process.has_step_calibration? %>
                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>
                <% end %>
                <% if @pe_process.has_step_feedback? %>
                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>
                <% end %>

                <% @pe_process.pe_dimensions.each do |pe_dimension| %>
                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>
                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>
                  <% break unless @pe_process.two_dimensions? %>
                <% end %>
                <% if @pe_process.public_pe_box %>
                  <th>
                    <label class="input">
                      <input type="text">
                    </label>
                  <th>
                    <label class="input">
                      <input type="text">
                    </label>
                  </th>

                  <th>
                    <label class="input">
                      <input type="text">
                    </label>
                  </th>

                <% end %>
                <% if @pe_process.has_step_calibration? %>
                  <th>
                    <label class="input">
                      <input type="text">
                    </label>
                  </th>
                  <th>
                    <label class="input">
                      <input type="text">
                    </label>
                  </th>
                  <th>
                    <label class="input">
                      <input type="text">
                    </label>
                  </th>
                <% end %>

                <th>

                </th>

              </tr>
              </thead>
              <tbody>

                <% num_evaluated_pe_members = 0 %>

                <% index = 0 %>

                <% @pe_member_rels.each_with_index do |pe_member_rel| %>

                  <% unless pe_member_rel.pe_member_evaluated.removed %>

                    <% pe_member = pe_member_rel.pe_member_evaluated %>

                    <% num_evaluated_pe_members += 1 %>

                    <tr>
                    <td>
                      <%= index+=1 %>
                    </td>

                    <td><%= pe_member.user.codigo %></td>
                    <td><%= pe_member.user.apellidos %>, <%= pe_member.user.nombre %></td>

                    <% if pe_rel_boss && @pe_process.rep_consolidated_final_results_col_boss %>

                      <td>
                        <% pe_member.pe_member_rels_is_evaluated_as_pe_rel(pe_rel_boss).each_with_index do |pe_member_is_evaluated_rel, num_boss| %>

                          <%= '<br><br>'.html_safe if num_boss > 0 %>

                          <%= pe_member_is_evaluated_rel.pe_member_evaluator.user.apellidos %>, <%= pe_member_is_evaluated_rel.pe_member_evaluator.user.nombre %>

                        <% end %>
                      </td>

                    <% end %>

                    <% @pe_process.pe_characteristics_rep_consolidated_final_results.each do |pe_characteristic| %>
                      <td>
                        <% pe_mc = pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
                        <%= pe_mc.value if pe_mc %>
                      </td>
                    <% end %>

                    <td>
                      <% if pe_member.step_assessment %>
                        <span class="label label-success label-smart-table">Finalizada</span>
                      <% else %>
                        <span class="label label-danger label-smart-table">No terminada</span>
                      <% end %>
                    </td>

                    <% if @pe_process.has_step_validation? %>
                      <td>

                        <% if pe_member.validators.size == 0 %>

                          <span class="label label-default">No aplica</span>

                        <% else %>

                          <% if pe_member.step_validation %>
                            <span class="label label-success label-smart-table">Realizada</span>
                          <% else %>
                            <% if pe_member.step_validation_date == nil %>
                              <span class="label label-primary label-smart-table">Pendiente de validación</span>
                            <% else %>
                              <span class="label label-danger label-smart-table">Observada</span>
                            <% end %>

                          <% end %>

                        <% end %>

                      </td>
                    <% end %>

                    <% if @pe_process.has_step_calibration? %>
                      <td>

                        <% if pe_member.pe_cal_member %>

                          <% if pe_member.step_calibration %>

                            <span class="label label-success label-smart-table">Realizada</span>



                          <% else %>

                            <span class="label label-danger label-smart-table">No terminada</span>

                          <% end %>

                        <% else %>

                          <span class="label label-default label-smart-table">No planificada</span>

                        <% end %>

                      </td>
                    <% end %>

                    <% if @pe_process.has_step_feedback? %>

                      <td>

                        <% if @pe_process.has_step_feedback_accepted? %>

                          <% if pe_member.step_feedback_accepted %>
                            <span class="label label-success label-smart-table">Confirmada</span>
                          <% else %>
                            <% if pe_member.step_feedback %>

                              <span class="label label-warning label-smart-table">Realizada</span>

                            <% else %>

                              <span class="label label-danger label-smart-table">No terminada</span>

                            <% end %>
                          <% end %>


                        <% else %>

                          <% if pe_member.step_feedback %>

                            <span class="label label-success label-smart-table">Realizada</span>

                          <% else %>

                            <span class="label label-danger label-smart-table">No terminada</span>

                          <% end %>

                        <% end %>

                      </td>

                    <% end %>

                    <% @pe_process.pe_dimensions.each do |pe_dimension| %>

                      <% pe_assessment_dimension = pe_member.pe_assessment_dimension(pe_dimension) if pe_member.step_assessment? %>

                      <% if pe_assessment_dimension && pe_assessment_dimension.percentage > -1 %>

                        <td style="<%= 'color: #'+pe_assessment_dimension.pe_dimension_group.text_color+';' if  pe_assessment_dimension.pe_dimension_group %>">

                          <%= number_with_precision(pe_assessment_dimension.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                          <% if @pe_process.public_pe_dimension_name %>
                            <%= ' - '+pe_assessment_dimension.pe_dimension_group.name if pe_assessment_dimension.pe_dimension_group %>
                          <% end %>


                        </td>
                        <td><%= pe_assessment_dimension.percentage %></td>
                      <% else %>
                        <td></td>
                        <td></td>
                      <% end %>

                      <% break unless @pe_process.two_dimensions? %>


                    <% end %>

                    <% if @pe_process.public_pe_box %>

                      <td>

                        <% if pe_member.step_assessment && pe_member.pe_box %>

                          <% pe_members_list.push pe_member %>
                          <% pe_boxes_list.push pe_member.pe_box %>

                          <span class="label label-default label-smart-table" style="text-align: center; color: <%= '#'+pe_member.pe_box.text_color %> !important; background-color: <%= '#'+pe_member.pe_box.bg_color %>;">
                            <% if pe_member.pe_box.short_name %>
                              &nbsp;&nbsp;<%= pe_member.pe_box.short_name %>&nbsp;&nbsp;
                              <br>
                            <% end %>
                          &nbsp;&nbsp;<%= pe_member.pe_box.name %>&nbsp;&nbsp;
                          </span>


                        <% end %>

                      </td>

                      <td>
                        <% if pe_member.step_assessment && pe_member.pe_box %>
                          <%= pe_member.pe_box.short_name %>  <%= pe_member.pe_box.name %>
                        <% end %>
                      </td>

                      <td>

                        <% if pe_member.step_assessment && pe_member.pe_box %>

                          <%= pe_member.pe_box.description %>

                        <% end %>

                      </td>

                    <% end %>

                    <% if @pe_process.has_step_calibration? %>

                      <td>

                        <% if pe_member.pe_cal_member && pe_member.step_calibration %>


                          <% if pe_member.pe_box_before_calibration %>
                              <span class="label label-default label-smart-table" style="text-align: center; color: <%= '#'+pe_member.pe_box_before_calibration.text_color %>; background-color: <%= '#'+pe_member.pe_box_before_calibration.bg_color %>;">
                                <% if pe_member.pe_box_before_calibration.short_name %>
                                  &nbsp;&nbsp;<%= pe_member.pe_box_before_calibration.short_name %>&nbsp;&nbsp;
                                  <br>
                                <% end %>
                                &nbsp;&nbsp;<%= pe_member.pe_box_before_calibration.name %>&nbsp;&nbsp;
                              </span>

                          <% end %>


                          <% unless pe_member.calibration_comment.blank? %>

                            <i id="calibration_comment_<%= pe_member.id%>" class="fa fa-exclamation-triangle" data-container="body" data-toggle="popover" data-placement="left" title="Comentario de la calibración" data-content="<%= pe_member.calibration_comment %>"></i>

                            <script>
                              $('#calibration_comment_<%= pe_member.id%>').popover();
                            </script>

                          <% end %>

                        <% end %>

                      </td>
                      <td>
                        <% if pe_member.pe_box_before_calibration %>
                          <%= pe_member.pe_box_before_calibration.short_name %>  <%= pe_member.pe_box_before_calibration.name %>
                        <% end %>
                      </td>
                      <td><%= pe_member.calibration_comment %></td>

                    <% end %>

                    <td>
                      <% if pe_member.step_assessment %>
                        <%= link_to 'Ver reporte', pe_my_subs_results_rep_detailed_final_results_person_path(pe_member_rel) %>
                      <% end %>
                    </td>

                  </tr>

                  <% end %>

                <% end %>

              </tbody>
            </table>


            <br>

            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <table class="table table-bordered table-condensed">

                  <tbody>

                  <tr>
                    <td>
                      <strong>Posibles estados de la evaluación</strong>
                    </td>

                    <td>
                      <span class="label label-success">Finalizada</span>

                      <span class="label label-danger">No terminada</span>

                      <span class="label label-default">No aplica</span>
                    </td>
                  </tr>

                  <% if @pe_process.has_step_validation? %>

                    <tr>
                      <td>
                        <strong>Posibles estados de la validación</strong>
                      </td>

                      <td>

                        <span class="label label-default">No aplica</span>

                        <span class="label label-success">Realizada</span>

                        <span class="label label-primary">Pendiente de validación</span>

                        <span class="label label-danger">Observada</span>

                      </td>
                    </tr>

                  <% end %>

                  <% if @pe_process.has_step_calibration? %>

                    <tr>
                      <td>
                        <strong>Posibles estados de la calibración</strong>
                      </td>

                      <td>
                        <span class="label label-success">Realizada</span>

                        <span class="label label-danger">No terminada</span>

                        <span class="label label-default">No planificada</span>

                      </td>
                    </tr>

                  <% end %>

                  <% if @pe_process.has_step_feedback? %>


                    <tr>
                      <td>
                        <strong>Posibles estados de <%= @pe_process.step_feedback_alias %></strong>
                      </td>

                      <td>

                        <% if @pe_process.has_step_feedback_accepted? %>

                          <span class="label label-success">Confirmada</span>
                          <span class="label label-warning">Realizada</span>
                          <span class="label label-danger">No terminada</span>

                        <% else %>
                          <span class="label label-success">Realizada</span>
                          <span class="label label-danger">No terminada</span>

                        <% end %>

                      </td>
                    </tr>

                  <% end %>

                  </tbody>
                </table>
              </div>
            </div>

          </div>

          <% if @pe_process.public_pe_box %>

            <div class="tab-pane" id="tab_results_cuadrantes">

              <% if @pe_process.two_dimensions? %>

                <%= render partial: 'pe_shared/structure_2d_with_limited_pe_members',
                           locals: {
                               pe_boxes_list: pe_boxes_list,
                               pe_members_list: pe_members_list,
                               show_percentage: true,
                               num_evaluated_pe_members: num_evaluated_pe_members
                           }
                %>

              <% else %>

                <%= render partial: 'pe_shared/structure_1d_with_limited_pe_members',
                           locals: {
                               pe_boxes_list: pe_boxes_list,
                               pe_members_list: pe_members_list,
                               show_percentage: true,
                               num_evaluated_pe_members: num_evaluated_pe_members
                           }
                %>

              <% end %>

            </div>

            <div class="tab-pane" id="tab_results_distribucion">
              <br>

              <div class="row">
                <div class="col-md-9">
                  <div id='distribution_chart' style="height: 300px;"></div>
                </div>
                <div class="col-md-3">
                  <table class="table table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                      <td colspan="2">
                        Cuadrante
                      </td>
                      <td>
                        Cantidad
                      </td>
                      <td>
                        %
                      </td>
                    </tr>
                    </thead>
                    <tbody>



                    <% @pe_process.pe_boxes.each_with_index do |pe_box, num_box| %>
                      <tr>
                        <%
                          number_per_box = 0
                          pe_boxes_list.each_with_index do |pe_box_aux, posicion|
                            if pe_box_aux.id == pe_box.id
                              number_per_box += 1
                            end
                          end
                        %>
                        <td>

                          <span class="label label-default col-md-12" style="text-align: center; color: <%= '#'+pe_box.text_color %>; background-color: <%= '#'+pe_box.bg_color %>;">
                            <% if pe_box.short_name %>
                              &nbsp;&nbsp;<%= pe_box.short_name %>&nbsp;&nbsp;
                            <% else %>
                              &nbsp;&nbsp;<%= pe_box.name %>&nbsp;&nbsp;
                            <% end %>
                          </span>


                        </td>
                        <td>
                          <%= pe_box.name %>
                        </td>
                        <td>
                          <%= number_per_box %>
                        </td>
                        <td>
                          <% porcentaje_por_caja = (num_evaluated_pe_members > 0 ? number_per_box*100.0/num_evaluated_pe_members : 0.0) %>

                          <%= number_with_precision(porcentaje_por_caja, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                        </td>

                      </tr>
                    <% end %>
                    </tbody>

                  </table>




                </div>

              </div>




            </div>

          <% end %>
<!--
          <div class="tab-pane" id="tab_results_distribucion_det">

            <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

              <% break %>

              <% if pe_evaluation.pe_questions_by_question_not_by_pe_member_evaluated_ready(nil).size > 0 %>

                <% pe_assessment_evaluations_id = pe_evaluation.pe_assessment_evaluations_ids_by_pe_member_rels @pe_member_rels %>

                <table class="table table-bordered table-condensed table-hover">
                  <thead>
                  <tr>
                    <th style="border-right: 0px;">
                      #
                    </th>


                    <th style="border-left: 0px;">
                      <%= pe_evaluation.name %>
                    </th>

                    <th>
                      Resultado
                    </th>
                  </tr>
                  </thead>
                  <tbody>

                  <%= render partial: '/pe_reporting/rep_consolidated_final_results_detailed_distribution',
                             locals: {
                                 pe_evaluation: pe_evaluation,
                                 pe_parent_question_id: nil,
                                 pe_assessment_evaluations_id: pe_assessment_evaluations_id
                             }
                  %>

                  </tbody>
                </table>
                <br>

              <% end %>

            <% end %>

          </div>
        -->

        </div>

      </div>
    </div>
  </div>
</div>

<% code_to_execute = 'var n_pe_member_box_total = 0;' %>

<% @pe_process.pe_boxes.each do |pe_box| %>

  <% code_to_execute += 'var n_pe_member_box_'+pe_box.id.to_s+' = 0;' %>

<% end %>

<% code_to_execute += '
  $(".pe_members_codigo_all").hide();
  for (var i = 0; i < visible_rows_datatable_fixed_column.length; i++){
    $(".pe_member_codigo_"+visible_rows_datatable_fixed_column[i][1]).show();
    n_pe_member_box_total += 1;
    '
%>

<% @pe_process.pe_boxes.each do |pe_box| %>

  <% code_to_execute += '
          if($(".pe_member_codigo_"+visible_rows_datatable_fixed_column[i][1]).hasClass("pe_member_box_'+pe_box.id.to_s+'")){
            n_pe_member_box_'+pe_box.id.to_s+' += 1;
          }
        '
  %>

<% end %>
<% code_to_execute += '
  }
  '
%>



<% @pe_process.pe_boxes.each do |pe_box| %>

  <% code_to_execute += '
          $(".percentage_pe_box_'+pe_box.id.to_s+'").html((n_pe_member_box_'+pe_box.id.to_s+'*100/n_pe_member_box_total).toFixed(1)+"%");
          '
  %>

<% end %>

<% code_to_execute += '
  if(this.value==""){
    $(".tab_results_distribucion").show();
    $(".tab_results_distribucion_det").show();
  }else{
    $(".tab_results_distribucion").hide();
    $(".tab_results_distribucion_det").hide();
  }
  '
%>


<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_fixed_column',
               cols_to_hide: cols_to_hide,
               cols_to_export: cols_to_export,
               file_name: 'Resultados de '+@pe_rel.alias_reverse_plural.downcase,
               code_to_execute: code_to_execute
           }
%>

<script src="/assets/amcharts/amcharts.js" type="text/javascript"></script>
<script src="/assets/amcharts/serial.js" type="text/javascript"></script>
<script src="/assets/amcharts/themes/light.js" type="text/javascript"></script>

<script>

  var has_to_render_distribution_chart = true;

  function render_distribution_chart(){



    if(has_to_render_distribution_chart){

      var distribution_bar_chart = AmCharts.makeChart("distribution_chart", {
        "type": "serial",
        "theme": "light",
        "marginRight": 70,
        "dataProvider": [
          <% @pe_process.pe_boxes.each_with_index do |pe_box, num_box| %>

          <%
             number_per_box = 0
             pe_boxes_list.each_with_index do |pe_box_aux, posicion|
               if pe_box_aux.id == pe_box.id
                 number_per_box += 1
               end
             end
          %>

          <%= ',' if num_box > 0 %>

          <% bn = pe_box.short_name ? pe_box.short_name : pe_box.name %>

          <% bn = bn.split(' ') %>

          <% nw = '' %>

          <% l = 1 %>

          <% bn.each do |w| %>

            <% nw += w+' ' %>
            <% if nw.size > 20*l %>
              <% nw += '<br>' %>
              <% l+= 1 %>
            <% end %>

          <% end %>

          {
            "cuadrante": "<%= nw.html_safe %>",
            "number": <%= number_per_box %>,
            "color": "#<%= pe_box.bg_color %>"
          }

          <% end %>

        ],
        "valueAxes": [
          {
            "axisAlpha": 0,
            "position": "left",
            "title": "Colaboradores",
            "integersOnly": true
          }
        ],
        "startDuration": 1,
        "graphs": [
          {
            "balloonText": "<b>[[category]]: [[value]]</b>",
            "fillColorsField": "color",
            "fillAlphas": 0.9,
            "lineAlpha": 0.2,
            "type": "column",
            "valueField": "number"
          }
        ],
        "categoryField": "cuadrante",
        "categoryAxis": {
          "gridPosition": "start",
          "gridAlpha": 0
        }

      });

      //distribution_bar_chart.addListener('init',setTimeout(alert('ji'),10000));

    }

    has_to_render_distribution_chart = false;

  }

  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var target = $(e.target).attr("href")
    if(target == '#tab_results_distribucion') {
      render_distribution_chart();
    }
  });

</script>

