
<div class="row">

  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> Volver a la lista de '+@pe_rel.alias_reverse_plural.downcase).html_safe, pe_my_subs_results_path(@pe_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
    </h1>
  </div>

</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render partial: 'shared/user_profile_mini',
               locals: {
                   user: @pe_member.user,
                   company: @company,
                   ocultar_historial: true,
                   titulo: 'Perfil del Evaluado',
                   is_boss: true

               }
    %>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="row">

      <div class="col-md-2 col-md-offset-10">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <%= link_to 'Descargar PDF', pe_my_subs_results_rep_detailed_final_results_pdf_path(@pe_member_rel) %>
          </div>
        </div>
      </div>

    </div>

    <%= render partial: '/pe_reporting/rep_detailed_final_results_person_common',
               locals: {
                   show_feedback: @pe_process.rep_detailed_final_results_show_feedback_for_my_people,
                   show_calibration: @pe_process.rep_detailed_final_results_show_calibration_for_my_people,
                   show_pe_member_box: @pe_process.public_pe_box,
                   show_pe_member_dimension_name: @pe_process.public_pe_dimension_name,
                   show_comments: true
               }
    %>

  </div>
</div>

