<%= form_for @evaluation, url: @evaluation.id ? lms_managing_define_update_evaluation_path(@evaluation) : lms_managing_define_create_evaluation_path(@course), html: {class: 'form-horizontal', method: :post} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos de la evaluación</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="row">
        <div class="col-md-3 text-align-right">
          <strong>Código</strong>
        </div>
        <div class="col-md-9">
          <%= @course.codigo %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3 text-align-right">
          <strong>Nombre</strong>
        </div>
        <div class="col-md-9">
          <%= @course.nombre %>
        </div>
      </div>
      <br>
      <% if @course.training_type %>
        <div class="row">
          <div class="col-md-3 text-align-right">
            <strong><%= @company.training_type_alias %></strong>
          </div>
          <div class="col-md-9">
            <%= @course.training_type.nombre %>
          </div>
        </div>
        <br>
      <% end %>

      <div class="form-group <%= field_with_errors f, :orden %>">

        <%= f.label :orden, 'Orden', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :orden, autofocus: 'autofocus', class: 'form-control' %>
          <i>Determina la posición en la que será mostrada dentro del curso, considerando además unidades y encuestas</i>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :numero %>">

        <%= f.label :numero, 'Número', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :numero, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :nombre %>">

        <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :nombre, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :descripcion, 'Descripción', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.text_area :descripcion, rows: '5', class: 'form-control' %>

        </div>

      </div>

      <hr>

      <div class="form-group <%= field_with_errors f, :virtual %>">

        <%= f.label :virtual, 'Modalidad', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :virtual, onchange: 'toggle_virtual();'  %>

          <br>
          <br>

          <span class="label label-success"><i class='fa fa-laptop'></i> Virtual</span>
          <em>El alumno deberá responder la evaluación a través de la plataforma.</em>
          <br>
          <br>
          <span class="label label-primary"><i class='fa fa-male'></i> Presencial</span>
          <em>El alumno no podrá responder la evaluación a través de la plataforma. Los resultados consolidados de la evaluación serán registrados por el gestor. </em>

          <script>
            $('#evaluation_virtual').bootstrapSwitch({
              onColor: 'success',
              onText: "<nobr>&nbsp;&nbsp;<i class='fa fa-laptop'></i> Virtual &nbsp;&nbsp;</nobr>",
              offColor: 'primary',
              offText: "<nobr>&nbsp;&nbsp;<i class='fa fa-male'></i> Presencial &nbsp;&nbsp;</nobr>",
              size: "small"
            });

            function toggle_virtual(){

              if($('#evaluation_virtual').is(":checked")){
                $('#display_virtual_container').show();
              }else{
                $('#display_virtual_container').hide();
              }

            }

            $(document).ready(function() {
              toggle_virtual();
            });

          </script>

        </div>

      </div>

      <div id="display_virtual_container">
<!--
        <% if @evaluation.master_evaluation %>

          <hr>

          <% if @evaluation.master_evaluation.has_topics %>

            <% @evaluation.master_evaluation.master_evaluation_topics.each do |met| %>

              <% evaluation_topic = @evaluation.evaluation_topics.where('master_evaluation_topic_id = ? ', met.id).first %>

              <div class="form-group <%= field_with_errors f, :numero %>">

                <%= f.label :numero_preguntas, met.nombre, class: 'col-md-3 control-label' %>


                <div class="col-md-3">
                  Órden<br>
                  <input type="text" name="pos_q_topic_<%= met.id %>" class="form-control" value="<%= evaluation_topic.position if evaluation_topic%>"> <br>
                </div>

                <div class="col-md-6">
                  Número de preguntas (max <%= met.master_evaluation_questions.count %>)<br>
                  <input type="text" name="num_q_topic_<%= met.id %>" class="form-control" value="<%= evaluation_topic.number_of_questions if evaluation_topic%>"> <br>
                </div>


              </div>

            <% end %>

          <% else %>

            <div class="form-group <%= field_with_errors f, :numero %>">

              <%= f.label :numero_preguntas, 'Número de preguntas', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.number_field :numero_preguntas, class: 'form-control' %> <br>
                Disponde de un máximo de <%= @evaluation.master_evaluation.master_evaluation_questions.count %> preguntas

              </div>

            </div>

          <% end %>


          <div class="form-group <%= field_with_errors f, :visualizacion_lote %>">

            <%= f.label :visualizacion_lote, 'Las preguntas se presentarán al alumno', class: 'col-md-3 control-label' %>

            <div class="col-md-9">
              <%= f.check_box :visualizacion_lote %>
              <script>
                $('#evaluation_visualizacion_lote').bootstrapSwitch({
                  onColor: 'info',
                  onText: "<nobr>&nbsp;&nbsp;<i class='fa fa-list-ol'></i> Todas juntas &nbsp;&nbsp;</nobr>",
                  offColor: 'warning',
                  offText: "<nobr>&nbsp;&nbsp;<i class='fa fa-minus'></i> Una por una &nbsp;&nbsp;</nobr>"
                });
              </script>
            </div>

          </div>
          <hr>
          <div class="form-group <%= field_with_errors f, :aplicar_tiempo %>">

            <%= f.label :aplicar_tiempo, 'La evaluación tendrá límite de tiempo', class: 'col-md-3 control-label' %>

            <div class="col-md-9">
              <%= f.check_box :aplicar_tiempo %>
              <script>
                $('#evaluation_aplicar_tiempo').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No"
                });
              </script>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :tiempo %>">

            <%= f.label :tiempo, 'Duración', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.number_field :tiempo, class: 'form-control' %> mins.
              <br>
              <i>Si se deja en blanco se considerá el tiempo por pregunta de ser el caso.</i>
            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :aplicar_tiempo %>">

            <%= f.label :can_be_paused, 'La evaluación podrá ser pausada (reponder y detener)', class: 'col-md-3 control-label' %>

            <div class="col-md-9">
              <%= f.check_box :can_be_paused %>
              <script>
                $('#evaluation_can_be_paused').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No"
                });
              </script>

            </div>

          </div>

          <hr>

          <div class="form-group <%= field_with_errors f, :visualizar_resultado_detalle %>">

            <%= f.label :visualizar_resultado_detalle, 'Al finalizar se mostrará la prueba resuelta', class: 'col-md-3 control-label' %>

            <div class="col-md-9">
              <%= f.check_box :visualizar_resultado_detalle %>
              <script>
                $('#evaluation_visualizar_resultado_detalle').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No"
                });
              </script>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :visualizar_resultado_resumen %>">

            <%= f.label :visualizar_resultado_resumen, 'Al finalizar se mostrará un resumen de los resultados obtenidos', class: 'col-md-3 control-label' %>

            <div class="col-md-9">
              <%= f.check_box :visualizar_resultado_resumen %>
              <script>
                $('#evaluation_visualizar_resultado_resumen').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No"
                });
              </script>

            </div>

          </div>

        <% end %>
-->
      </div>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

<% end %>

