
<h1 class="page-title txt-color-blueDark">
  <i class="fa fa-book"></i>
  Definir programas y cursos
  <span>> Lista de programas y cursos </span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">

    <ul class="nav nav-tabs">

      <li class="active"><a href="#tab_panel_programs" data-toggle="tab">Programas</a></li>
      <li id="tab_courses"><a href="#tab_panel_courses" data-toggle="tab">Cursos</a></li>


    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="tab_panel_programs">

        <br>
        <!--
        <div class="text-center"><%= link_to 'Carga de programas a partir de excel', lms_managing_define_massive_charge_programs_path %></div>
        -->
          <table id="datatable_programs" class="table table-bordered table-hover smart-form" style="font-size: 11px;" width="100%">

            <thead>

              <% cols_to_export_programs = Array.new %>
              <tr>
                <th>#</th>
                <% cols_to_export_programs.push 0 %>

                <th>Código</th>
                <% cols_to_export_programs.push 1 %>

                <th>Nombre</th>
                <% cols_to_export_programs.push 2 %>

                <th>Color</th>

                <th>Cursos</th>
                <% cols_to_export_programs.push 4 %>

                <th>Activo</th>
                <% cols_to_export_programs.push 5 %>

                <th>Gestionado por</th>
                <% cols_to_export_programs.push 5 %>

                <th>
                  <%= link_to 'Crear un nuevo programa', lms_managing_define_new_program_path %>
                </th>
              </tr>
              <tr>
                <td>
                  <label class="input">
                    <input type="text" class="hidden">
                  </label>
                </td>

                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td></td>
              </tr>
            </thead>

            <tbody>

            <% @programs.each_with_index do |program,index| %>
              <tr>
                <td><%= program.orden %></td>
                <td><%= program.codigo %></td>
                <td><%= program.nombre %></td>
                <td>
                  <div class="small-box-color" style="background-color: <%= '#'+program.color%>;">&nbsp;</div>
                </td>

                <td>

                  <a id="edit_study_plan_<%= program.id %>" href="<%= lms_managing_define_show_study_plan_path(program) %>" data-toggle="tooltip" title="Gestionar cursos del programa">
                    <%= program.program_courses.where('activo = ?', true).count %>
                  </a>
                  <script>
                    $('#edit_study_plan_<%= program.id %>').tooltip({
                      placement: 'top'
                    });
                  </script>

                </td>
                <td>
                  <% if program.activo %>
                    <span class="label label-success label-smart-table">Sí</span>
                  <% else %>
                    <span class="label label-danger label-smart-table">No</span>
                  <% end %>
                </td>
                <td>
                  <% if program.managed_by_manager %>
                    <span class="label label-success label-smart-table">Gestor</span>
                  <% else %>
                    <span class="label label-danger label-smart-table">Admin EXA</span>
                  <% end %>
                </td>
                <td>
                  <% if program.managed_by_manager %>
                    <%= link_to 'Configurar', lms_managing_define_show_program_path(program) %>
                  <% end %>
                </td>

              </tr>
            <% end %>

            </tbody>

          </table>

      </div>

      <div class="tab-pane" id="tab_panel_courses">


        <br>
        <!--
        <div class="text-center"><%= link_to 'Carga de cursos a partir de excel', lms_managing_define_massive_charge_courses_path %></div>
        -->

        <table id="datatable_courses" class="table table-bordered table-hover smart-form" style="font-size: 11px;" width="100%">

          <thead>

          <% cols_to_export_courses = Array.new %>

          <tr>
            <th>#</th>
            <% cols_to_export_courses.push 0 %>

            <th>Código</th>
            <% cols_to_export_courses.push 1 %>

            <th>Nombre</th>
            <% cols_to_export_courses.push 2 %>

            <% if TrainingType.all.size > 0 %>
              <th><%= @company.training_type_alias %></th>
              <% cols_to_export_courses.push 3 %>
              <% cols_to_export_courses.push 4 %>
              <% cols_to_export_courses.push 5 %>
            <% else %>
              <% cols_to_export_courses.push 3 %>
              <% cols_to_export_courses.push 4 %>
            <% end %>

            <th>Programa</th>

            <th>Gestionado por</th>

            <th>
              <%= link_to 'Crear un nuevo curso', lms_managing_define_new_course_path %>
            </th>
          </tr>
          <tr>
            <td>
              <label class="input">
                <input type="text" class="hidden">
              </label>
            </td>

            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <% if TrainingType.all.size > 0 %>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
            <% end %>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td></td>
          </tr>

          </thead>

          <% @courses.each_with_index do |course, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= course.codigo %></td>
              <td><%= course.nombre %></td>
              <% if TrainingType.all.size > 0 %>
                <td>
                  <%= course.training_type.nombre if course.training_type %>
                </td>
              <% end %>
              <td>
                <% course.programs_by_name.each do |program| %>
                  <li><%= program.nombre %></li>
                <% end %>
              </td>
              <td>
                <% if course.managed_by_manager %>
                  <span class="label label-success label-smart-table">Gestor</span>
                <% else %>
                  <span class="label label-danger label-smart-table">Admin EXA</span>
                <% end %>
              </td>
              <td>
                <% if course.managed_by_manager %>
                  <%= link_to 'Configurar', lms_managing_define_show_course_path(course) %>
                <% else %>
                  <%= link_to 'Ver', lms_managing_define_show_course_path(course) %>
                <% end %>
              </td>
            </tr>
          <% end %>

        </table>

      </div>

    </div>


  </div>
</div>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_programs',
               file_name: 'Programas',
               cols_to_export: cols_to_export_programs,
           }
%>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_courses',
               file_name: 'Cursos',
               cols_to_export: cols_to_export_courses,
           }
%>

<script>

  var courses_have_been_shown = false

  $('#tab_courses').on('shown.bs.tab', function (e) {

    if(courses_have_been_shown == false) {

      table_datatable_courses.draw();
      table_datatable_courses.buttons.resize();

      courses_have_been_shown = true

    }

  });

</script>