<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de programas y cursos'.html_safe, lms_managing_define_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      Definir cursos
      <span>> Carga a partir de excel </span>
    </h1>
  </div>
</div>



<% if @lineas_error && @lineas_error.length > 0 %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="alert alert-danger">
            Se han producido los siguientes errores
          </div>

          <table class="table table-striped table-hover table-condensed table-bordered">

            <thead>
            <tr>
              <th>Línea</th>
              <th>Errores</th>
              <th>Detalle</th>

            </tr>
            </thead>

            <tbody>

            <% @lineas_error.each_with_index do |l,index| %>

              <tr>
                <td><%= l %></td>
                <td>
                  <% @lineas_error_messages[index].each do |error| %>
                    <li class="text-danger"><%= error %></li>
                  <% end %>
                </td>
                <td><%= @lineas_error_detalle[index] %></td>
              </tr>

            <% end %>

            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>


<% end %>


<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Formato de archivo (Excel)</legend>

        <table class="table table-bordered">

          <thead>
          <tr>
            <th>
              Código del programa
            </th>
            <th>
              Código del curso
            </th>
            <th>
              Nombre
            </th>
            <% if TrainingType.all.size > 0 %>
              <th>
                <%= @company.training_type_alias %>
              </th>
            <% end %>
            <th>
              Descripción
            </th>
            <th>
              Objetivos
            </th>
            <th>
              Nota mínima
            </th>
            <th>
              Cálculo de nota (%/puntos)
            </th>
            <th>
              Muestra resultado (%/puntos)
            </th>
            <th>
              Dedicación estimada en horas
            </th>
            <th>
              Alias de unidades
            </th>
          </tr>
          </thead>

        </table>

        - Las <strong>cabeceras</strong> del archivo excel determinan los datos que se van a cargar, siempre deben estar ubicadas en la primera fila del archivo excel y en las posiciones
        mostradas en el ejemplo y en el formato de ejemplo descargable
        <br>
        <br>
        - Las <strong>columnas</strong> definidas como opcionales pueden dejarse en blanco. Aquellas definidas como obligatorias deben ser contener algún valor a fin de que el curso sea cargado correctamente
        <br>
        <br>
        - La columna <strong>Código del programa</strong> es <strong>opcional</strong>
        <br>
        <br>
        - La columna <strong>Código del curso</strong> es <strong>obligatoria</strong>
        <br>
        <br>
        - La columna <strong>Nombre</strong> es <strong>obligatoria</strong>
        <% if TrainingType.all.size > 0 %>
          <br>
          <br>
          - La columna <strong><%= @company.training_type_alias %></strong> es <strong>opcional</strong>, si no se desea asignar ningún valor debe dejarse en blanco. Sus posibles valores son:

          <% TrainingType.all.each_with_index do |tt, index| %>
            <%= ', ' if index > 0 %> <%= tt.nombre %>
          <% end %>

        <% end %>
        <br>
        <br>
        - La columna <strong>Descripción</strong> es <strong>opcional</strong>
        <br>
        <br>
        - La columna <strong>Objetivos</strong> es <strong>opcional</strong>
        <br>
        <br>
        - La columna <strong>Nota mínima</strong> es <strong>obligatoria</strong>, debe ser un número mayor o igual a 0.
        <br>
        <br>
        - La columna <strong>Cálculo de nota (%/puntos)</strong> es <strong>obligatoria</strong>, los posibles valores a asignar son: % o puntos
        <br>
        <br>
        - La columna <strong>Muestra resultado (%/puntos)</strong> es <strong>obligatoria</strong>, los posibles valores a asignar son: % o puntos
        <br>
        <br>
        - La columna <strong>Dedicación estimada en horas</strong> es <strong>obligatoria</strong>, debe ser un número mayor o igual a 0
        <br>
        <br>
        - La columna <strong>Alias de unidades</strong> es <strong>opcional</strong>, si se deja en blanco se asignará 'unidad'

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to 'Descargar formato de ejemplo', lms_managing_define_massive_charge_courses_download_format_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <%= form_for lms_managing_define_massive_charge_courses_path, html: {class: 'form-horizontal', method: :post, multipart: true} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Cargar cursos</legend>

          <div class="form-group">

            <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= file_field 'upload', 'datafile', class: 'form-control' %>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Cargar cursos', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>


  </div>
</div>

