<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de programas y cursos'.html_safe, lms_managing_define_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      Programas
      <span>> Configurar programa </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Datos del programa
        </legend>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Órden</strong>
          </div>
          <div class="col-md-9">
            <%= @program.orden %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Código</strong>
          </div>
          <div class="col-md-9">
            <%= @program.codigo %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @program.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @program.descripcion %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Color</strong>
          </div>
          <div class="col-md-9">
            <div class="small-box-color" style="background-color: <%= '#'+@program.color%>;">&nbsp;</div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Activo</strong>
          </div>
          <div class="col-md-9">
            <% if @program.activo %>
              <span class="label label-success">Sí</span>
            <% else %>
              <span class="label label-danger">No</span>
            <% end %>
          </div>
        </div>
      </div>

      <% if @program.managed_by_manager? %>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= link_to 'Editar', lms_managing_define_edit_program_path(@program) %>
          </div>
        </div>

      <% end %>

    </div>

  </div>
</div>
