<%= form_for @poll, html: {class: 'form-horizontal'} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos de la encuesta</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field :course, :id %>

      <div class="form-group <%= field_with_errors f, :numero %>">

        <%= f.label :numero, 'Número', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :numero, autofocus: "autofocus" %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :orden %>">

        <%= f.label :orden, 'Orden', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :orden %>
          <br>
          <i>Determina el orden real dentro del curso</i>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :nombre %>">

        <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :nombre %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :descripcion, 'Descripción', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.text_area :descripcion, rows: '5'  %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :obligatoria, 'Obligatoria', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.check_box(:obligatoria)  %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :tipo_satisfaccion, 'Encuesta de Satisfacción', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.check_box(:tipo_satisfaccion)  %>

        </div>

      </div>

    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>

  </div>

<% end %>

