<div class="row">
  <div class="col-md-3">

    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el curso'.html_safe, @course, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      <%= @course.nombre %>
      <span>> Asociar encuesta </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @poll, url: update_poll_master_poll_path, method: :post, html: {class: 'form-horizontal'} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Datos de la encuesta</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="row">

            <div class="col-md-3 text-right">
              Número
            </div>

            <div class="col-md-9">
              <%= @poll.numero %>
            </div>

          </div>
          <br>
          <div class="row">

            <div class="col-md-3 text-right">
              Nombre
            </div>

            <div class="col-md-9">
              <%= @poll.nombre %>
            </div>

          </div>
          <br>
          <div class="row">

            <div class="col-md-3 text-right">
              Descripción
            </div>

            <div class="col-md-9">
              <%= @poll.descripcion %>
            </div>

          </div>
          <br>

          <%= hidden_field :poll, :id %>

          <div class="form-group <%= field_with_errors f, :master_poll %>">

            <%= f.label :master_poll, 'Encuesta', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <% master_polls = MasterPoll.all.map { |mp| [mp.numero.to_s+'-'+mp.nombre, mp.id]   } %>

              <%= f.select(:master_poll_id, options_for_select(master_polls, @poll.master_poll_id),
                           {:include_blank => 'Ninguna'}, {class: 'form-control'})
                  %>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    <% end %>

	</div>
</div>




