<% is_manager = ct_module_sel_manager? %>
<% jm_profile_form = JmProfileForm.where(:active => true).first %>

<% if is_manager %>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" href="#comments_list">
            <h4>Comentarios relacionados con el candidato</h4>
          </div>
          <div id="comments_list" class="panel-body panel-collapse collapse">
            <div class="comments_container">
              <% candidate.jm_candidate_comments.each do |jm_comment| %>
                  <%= render :partial => 'candidates/jm_candidate_comments/show', :locals => {:log => jm_comment} %>
              <% end %>
            </div>
            <%= render :partial => 'candidates/jm_candidate_comments/form', :locals => {:candidate => candidate} %>
          </div>
        </div>
      </div>
    </div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <%= render partial: 'jm_my_profiles/my_profile_questions', locals: {:jm_profile_form => jm_profile_form, :jm_candidate => candidate} %>
      <% if is_manager %>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= link_to 'Invitar / Postular', sel_candidate_show_process_to_apply_path(candidate) %>
              &nbsp;
              <% if @sel_process %>
                  <%= link_to 'Editar', '#', :onclick =>'load_edit_profile_form(this)', :data => {:url => edit_sel_candidate_from_process_path(candidate, @sel_process)} %>
              <% else %>
                  <%= link_to 'Editar', '#', :onclick =>'load_edit_profile_form(this)', :data => {:url => edit_sel_candidate_path(candidate)} %>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script>

  function add_comment() {
    url = $('#new_jm_candidate_comment').attr('action')
    form_data = $('#new_jm_candidate_comment').serialize()

    $.post(url, form_data).done(function (data) {
      if (data == false) {
        alert('Hubo un problema al intenter guardar el comentario.')
      } else {
        $('.comments_container').append(data)
        $('#new_jm_candidate_comment')[0].reset();
      }
    });
  }

  function load_edit_profile_form(link) {
    var section_id = $(link).closest('.panel').find('#tabs > li.active').data('id')

    if (section_id === undefined){
      window.location.href = $(link).data('url');
    }else{
      window.location.href = $(link).closest('.panel').find('#tabs > li.active').data('url')
    }

  }
</script>