<% is_manager = ct_module_sel_manager? %>
<% show_edit = false unless show_edit %>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-9">
            <h1>
              <i class="fa fa-user" aria-hidden="true"></i> &nbsp; &nbsp;<%= candidate.full_name_2 %>
            </h1>
            <i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp; &nbsp;<b><%= candidate.email %></b><br>
            <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; &nbsp;<%= candidate.phone %>
          </div>
          <div class="col-xs-3">
            <%
              url_profile_photo =

                  if candidate.jm_candidate_photo
                    request.base_url + '/storage/' + @company.codigo+'/jm_candidates/' + candidate.id.to_s + '/profile_photo/'+ candidate.jm_candidate_photo.crypted_name
                  else
                    request.base_url + '/assets/default_user.png'
                  end
            %>
            <img src="<%= url_profile_photo %>" class="img-rounded user-foto">
          </div>
        </div>
      </div>
      <% if is_manager && show_edit %>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= link_to 'Editar', edit_basic_data_sel_candidates_path(candidate) %>
            </div>
          </div>
      <% end %>
    </div>