<% is_manager = normal_user_logged_in? && ct_module_sel_manager? %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-2">Código</div>
      <div class="col-xs-6">Proceso</div>
      <div class="col-xs-2">Postulación</div>
    </div>
<hr>
    <% candidate.sel_applicants.order('created_at desc').each do |applicant| %>
        <div class="row">
          <div class="col-xs-2"><%= applicant.sel_process.code %></div>
          <div class="col-xs-6"><%= applicant.sel_process.name %></div>
          <div class="col-xs-2">
            <span class="label label-success">
              <%= (localize applicant.created_at, format: :day_snmonth_year) %>
            </span>
          </div>
          <% if is_manager %>
          <div class="col-xs-2">
            <%= link_to 'Ir', sel_process_show_open_step_path(applicant.sel_process,'applicants') %>
          </div>
          <% end %>
        </div>
        <br>
    <% end %>

  </div>
</div>