<div class="panel panel-default">
  <div class="panel-body">
    <legend>Datos para el registro</legend>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group <%= field_with_errors f, :name %>">
      <%= f.label :name, 'Nombres', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :surname %>">
      <%= f.label :surname, 'Apellidos', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :surname, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group <%= field_with_errors f, :email %>">
      <%= f.label :email, 'E-mail', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.email_field :email, class: 'form-control' %>
        <em>El E-mail se utilizará como 'usuario'.</em>
      </div>
    </div>

    <div class="form-group <%= field_with_errors f, :phone %>">
      <%= f.label :phone, 'Tel. Contacto', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.phone_field :phone, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :phone %>">
      <%= label_tag :photo, 'Foto (opcional)', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= file_field_tag :photo, class: 'form-control', :accept => 'image/*' %>
      </div>
    </div>
  </div>

  <div class="panel-footer clearfix">
    <div class="pull-right">
      <% if f.object.new_record? %>
          <%= f.submit 'Registrar', class: 'btn btn-primary' %>
      <% else %>
          <%= f.submit 'Actualizar', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
