<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + 'Volver a la lista').html_safe, sel_candidates_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%=	icon_blog_module_html_safe %>
      Administración de candidatos de bolsa de trabajo
      <span>> Registrar nuevo candidato </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @candidate, :url => create_sel_candidates_path, html: {class: 'form-horizontal', multipart: true} do |f| %>
        <%= render :partial =>  'form', :locals => {:f => f} %>
    <% end %>

  </div>
</div>