<h1 class="page-title txt-color-blueDark">
  <%= icon_sel_module_html_safe %>
  Procesos de Selección para postular al candidato
</h1>

<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + 'Volver al Perfil').html_safe, sel_candidate_path(@candidate), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <%= render :partial => 'candidate_mini_profile', :locals => {:candidate => @candidate} %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">


    <legend>Lista de Procesos</legend>

    <table class="table table-hover table-bordered">

      <thead>

      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Solicitante</th>
        <th>Vacantes</th>
        <th>Fuente</th>
        <th>Finalizado</th>
        <th>Postulación abierta</th>
        <th>Desde</th>
        <th>Hasta</th>
        <th>
          &nbsp;
        </th>
        <th>
          &nbsp;
        </th>
      </tr>
      </thead>

      <tbody>

      <% @procesess.each do |sel_process| %>
          <tr>
            <td><%= sel_process.code %></td>
            <td><%= sel_process.name %></td>
            <td><%= sel_process.sel_claimants.first.user.comma_full_name %></td>
            <td><%= sel_process.qty_required %></td>
            <td>
              <span class="label label-<%= SelProcess.alternatives_source_style[sel_process.source] %>">
              <%= SelProcess.alternatives_source[sel_process.source] %>
              </span>
            </td>
            <td><%= label_yes_not(sel_process.finished) %></td>
            <td><%= label_yes_not(sel_process.apply_available) %></td>
            <td><span class="label label-success">
                                  <%= (localize sel_process.from_date, format: :day_snmonth_year) %>
                                </span></td>
            <td><span class="label label-success">
                                  <%= (localize sel_process.to_date, format: :day_snmonth_year) %>
                                </span></td>

            <td>
              <% if @candidate.jm_messages.where(:sel_process_id => sel_process.id).any? %>
                  <span class="label label-success">Ya invitado</span>
              <% elsif sel_process.accept_external_invitations?(lms_time) && !sel_process.sel_applicants.where(:jm_candidate_id => @candidate.id).any? %>
                  <%= link_to 'Invitar', '#', :onclick => 'load_invitation_form(this)', :data => {:url => show_invitation_form_sel_candidate_path(@candidate, sel_process)} %>
              <% else %>
                  &nbsp;
              <% end %>
            </td>
            <td>
              <% if sel_process.sel_applicants.where(:jm_candidate_id => @candidate.id).any? %>
                  <span class="label label-success">Ya postuló</span>
              <% else %>
                  <%= link_to 'Postular', '#', :onclick => 'load_apply_form(this)', :data => {:url => sel_processes_apply_form_candidate_path(sel_process, @candidate)} %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </table>
  </div>
</div>

<!-- Modal -->
<div id="invitation_modal" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Invitación a proceso</h4>
      </div>
      <div class="modal-body">
            <div class="text-center">
              <i class="fa fa-refresh fa-spin"></i> Cargando
            </div>
      </div>
    </div>
  </div>
</div>

<script>
  function load_apply_form(link) {
    var url = $(link).data('url');
    var left = ($(window).width() / 2) - (900 / 2)
    var top = ($(window).height() / 2) - (600 / 2)
    window.open(url, 'Selección - Añadir candidato', 'scrollbars=yes,resizable=yes,status=yes,location=no,toolbar=no,menubar=no, width=800px, height = 600px, top=' + top + ', left=' + left);

  }

    function load_invitation_form(link) {
      $('#invitation_modal').modal('show');
      var url = $(link).data('url')
      $.ajax({
        url: url,
        cache: false,
        type: "get",
        dataType: "html",
        success: function (result) {
          $('#invitation_modal').find('.modal-body').html(result);
        }
      })
    }
</script>