<div class="row">
  <% if @sel_process %>
      <div class="col-md-3">
        <%= link_to ('<i class="fa fa-arrow-left"></i> ' + 'Ir a la lista').html_safe, sel_candidates_path, class: 'btn btn-default', tabindex: '-1' %>
        <br><br>
        <%= link_to ('<i class="fa fa-arrow-left"></i> ' + 'Volver al proceso').html_safe, sel_process_show_open_step_path(@sel_process, 'applicants'), class: 'btn btn-default', tabindex: '-1' %>
      </div>
  <% else %>
      <div class="col-md-3">
        <%= link_to ('<i class="fa fa-arrow-left"></i> ' + 'Volver a la lista').html_safe, sel_candidates_path, class: 'btn btn-default', tabindex: '-1' %>
      </div>
  <% end %>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%= icon_blog_module_html_safe %>
      Administración de candidatos de bolsa de trabajo
      <span>> Perfil del candidato </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'candidate_mini_profile', :locals => {:candidate => @candidate, :show_edit => true} %>
  </div>
</div>


<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#candidate_profile">Ficha</a></li>
            <li><a data-toggle="tab" href="#candidate_applications">Historial de postulaciones</a></li>
          </ul>
          <div class="tab-content">
            <div id="candidate_profile" class="tab-pane fade in active">
              <div class="panel-body">
                <%= render :partial => 'candidate_profile', :locals => {:candidate => @candidate} %>
              </div>
            </div>
            <div id="candidate_applications" class="tab-pane fade">
              <div class="panel-body">
                <%= render :partial => 'candidate_applications_list', :locals => {:candidate => @candidate} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>