<%= form_for @hr_process_evaluation_q_classification, html: {class: 'form-horizontal'} do |f| %>

    <div class="panel panel-default">
      <div class="panel-body">

          <legend>Datos de la clasificación</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <%= f.hidden_field :hr_process_evaluation_id %>

          <div class="form-group <%= field_with_errors f, :nombre %>">

            <%= f.label :orden, 'Orden', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :orden, class: 'form-control' %>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :nombre %>">

            <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_area :nombre, rows: '5', class: 'form-control' %>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :hr_evaluation_type_element_id, 'Elemento de la evaluación', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <% hr_evaluation_type_elements = @hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.where('tiene_clasificacion', true).map { |et| [et.nombre, et.id]   } %>

              <%= f.select(:hr_evaluation_type_element_id, options_for_select(hr_evaluation_type_elements, @hr_process_evaluation_q_classification.hr_evaluation_type_element_id), {}, class: 'form-control')
              %>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :color %>">

              <%= f.label :color, 'Color', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_field :color, class: 'pick-a-color form-control' %>

                <script>
                    $(".pick-a-color").pickAColor({
                        showBasicColors         : true,
                        showSpectrum            : true,
                        showSavedColors         : false,
                        saveColorsPerElement    : false,
                        showAdvanced            : false,
                        showHexInput            : true,
                        fadeMenuToggle          : true
                    });
                </script>


              </div>

          </div>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>

