<h1>Listing hr_process_evaluation_q_classifications</h1>

<table>
  <tr>
    <th>Orden</th>
    <th>Nombre</th>
    <th>Hr process evaluation</th>
    <th>Hr evaluation type element</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hr_process_evaluation_q_classifications.each do |hr_process_evaluation_q_classification| %>
  <tr>
    <td><%= hr_process_evaluation_q_classification.orden %></td>
    <td><%= hr_process_evaluation_q_classification.nombre %></td>
    <td><%= hr_process_evaluation_q_classification.hr_process_evaluation %></td>
    <td><%= hr_process_evaluation_q_classification.hr_evaluation_type_element %></td>
    <td><%= link_to 'Show', hr_process_evaluation_q_classification %></td>
    <td><%= link_to 'Edit', edit_hr_process_evaluation_q_classification_path(hr_process_evaluation_q_classification) %></td>
    <td><%= link_to 'Destroy', hr_process_evaluation_q_classification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hr process evaluation q classification', new_hr_process_evaluation_q_classification_path %>
