<div class="panel panel-default">
  <div class="panel-body">

    <legend>Anular Matriculas</legend>

    <div class="row">

      <div class="col-md-12">

        <%= form_for @user, url: anular_matricula_masiva2_path, method: :post do |f| %>
          <div class="row">

            <div class="col-md-3 col-md-offset-1">
              <label>&nbsp;&nbsp;Código</label>
              <%= f.text_field :codigo, placeholder: 'Código', autofocus: 'autofocus', class: 'form-control' %>

            </div>

            <div class="col-md-3">
              <label>&nbsp;&nbsp;Apellidos</label>
              <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>

            </div>

            <div class="col-md-3">
              <label>&nbsp;&nbsp;Nombre</label>
              <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>

            </div>

            <div class="col-md-2">
              <label>&nbsp;</label><br>
              <%= f.submit 'Buscar', class: 'btn btn-primary' %>

            </div>

          </div>
          <br>


          <div class="panel-group" id="accordion2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  Filtros
                  <span id="muestra_filtros"></span>
                </a>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">

                  <script type="text/javascript">
                    var select_boxes = [];
                    var select_boxes_name = [];
                  </script>

                  <div class="row">

                    <% @characteristics.each_with_index do |characteristic,index| %>


                      <div class="col-md-3">

                        <script type="text/javascript">

                          select_boxes.push('characteristic_<%=characteristic.id%>');
                          select_boxes_name.push('<%=characteristic.nombre%>');

                        </script>


                        <%= characteristic.nombre %>
                        <br>
                        <% valores = UserCharacteristic.select(:valor).uniq.where('characteristic_id = ? AND valor <> "" ',characteristic.id).order('valor').map(&:valor) %>

                        <%= select('characteristic', characteristic.id, options_for_select(valores,@characteristics_prev[characteristic.id]),
                                   {}, {multiple: true, size: 3, onchange: 'muestra_filtros()', class: 'form-control'})
                        %>

                      </div>

                      <% if (index+1)%4 == 0 %>
                        </div>
                        <div class="row">

                      <% end %>

                    <% end %>

                    <script type="text/javascript">
                      function muestra_filtros(){

                        var lista_filtros = '';
                        for(var i=0;i<select_boxes.length;i++){

                          if($("#"+select_boxes[i]+" option:selected").length > 0){

                            lista_filtros += '<br><strong> '+select_boxes_name[i]+': </strong>';
                            lista_filtros += $("#"+select_boxes[i]+" option:selected").map(function(){ return this.value }).get().join(", ");

                          }

                        }
                        $("#muestra_filtros").html(lista_filtros);
                      }

                      $(document).ready(function(){
                        muestra_filtros();
                      });

                    </script>

                  </div>


                </div>
              </div>
            </div>

          </div>

        <% end %>


      </div>

    </div>
  </div>
</div>


<% if @users.length > 0 %>

  <%= form_for Enrollment.new, url: anular_matricula_masiva3_path, html: {class: 'form-horizontal', method: :post} do |f| %>

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row">

          <div class="col-md-12">

            <%= hidden_field(:user,:codigo,value: params[:user][:codigo]) %>

            <%= hidden_field(:user,:apellidos,value: params[:user][:apellidos]) %>

            <%= hidden_field(:user,:nombre,value: params[:user][:nombre]) %>

            <%
              @characteristics.each do |characteristic|

                %>
                 <input id="characteristic_<%=characteristic.id%>" name="characteristic[<%=characteristic.id%>][]" type="hidden" value="" />
                <%

                if @characteristics_prev[characteristic.id]

                  @characteristics_prev[characteristic.id].each do |valor|
                  %>
                    <input id="characteristic_<%=characteristic.id%>" name="characteristic[<%=characteristic.id%>][]" type="hidden" value="<%=valor%>" />
                  <%
                  end

                end

              end
            %>

            <script type="text/javascript">
              function marcar_todos(){

                $('.check_user').each(function(){

                  if($('#check_user').is(':checked')){
                    $(this).prop('checked', true);
                  }else{
                    $(this).prop('checked', false);
                  }

                });

              }

              function marcar_padre(){

                var checked_all = true;

                $('.check_user').each(function(){
                  if(!$(this).is(':checked')){
                    checked_all = false;
                  }
                });
                if(checked_all){
                  $('#check_user').prop('checked', true);
                }else{
                  $('#check_user').prop('checked', false);
                }


              }

            </script>

            <table class="table table-striped table-hover">

              <thead>
                <tr>
                  <th><input id="check_user" type="checkbox" checked="checked" onchange="marcar_todos();"> </th>
                  <th>#</th>
                  <th>Código</th>
                  <th>Apellidos</th>
                  <th>Nombre</th>
                  <th>Correo electrónico</th>
                  <th>Programas</th>
                </tr>
              </thead>

              <tbody>

                <% @users.each_with_index do |user, index| %>

                  <tr>
                    <td><%= check_box('user_id', user.id, {class: 'check_user', checked: 'checked', onchange: 'marcar_padre()'}, user.id.to_s, '0')%></td>

                    <td><%= index+1 %></td>

                    <td><%= user.codigo %></td>
                    <td><%= user.apellidos %></td>
                    <td><%= user.nombre %></td>
                    <td><%= user.email %></td>
                    <td>

                      <table class="table table-bordered table-condensed">
                        <% user.enrollments.each do |enrollment| %>

                          <thead>
                            <tr>
                              <th>
                                <%= enrollment.program.nombre %>

                                <% unless enrollment.program.especifico %>

                                  <% if enrollment.active %>

                                    <span class="label label-success">
                                      Matrícula activa
                                    </span>

                                  <% else %>

                                    <span class="label label-danger">
                                      Matrícula inactiva
                                    </span>

                                  <% end %>

                                <% end %>

                              </th>
                              <% if enrollment.program.especifico %>
                                <th>Desde</th>
                                <th>Hasta</th>
                                <th>Oportunidad</th>
                                <th>Estado</th>
                              <% else %>
                                <th>Inicio</th>
                                <th>Fin</th>
                                <th>Oportunidad</th>
                                <th>Estado</th>
                              <% end %>
                            </tr>
                          </thead>

                          <% if enrollment.program.especifico %>
                             <tbody>

                               <% enrollment.user_courses.reorder('program_course_id, id').each do |uc| %>
                                <tr>
                                  <td><%=uc.course.nombre%></td>
                                  <td><nobr><%= (localize  uc.desde, format: :day_snmonth_year) %></nobr></td>
                                  <td><nobr><%= (localize  uc.hasta, format: :day_snmonth_year) %></nobr></td>
                                  <td><%= uc.numero_oportunidad %></td>
                                  <td>

                                    <% estado = uc.estado lms_time %>

                                    <% if estado == :anulado %>
                                      <span class="label label-default">Anulado</span>
                                    <% elsif estado == :no_iniciado %>
                                      <span class="label label-default">No iniciado</span>
                                    <% elsif estado == :en_progreso %>
                                      <span class="label label-primary">En progreso</span>
                                    <% elsif estado == :plazo_vencido %>
                                      <span class="label label-danger">Plazo Vencido</span>
                                    <% elsif estado == :aprobado %>
                                      <% if uc.nota %>
                                        <span class="label label-success">Aprobado</span>
                                      <% else %>
                                        <span class="label label-success">Cursado</span>
                                      <% end %>
                                    <% elsif estado == :reprobado %>
                                      <span class="label label-danger">Reprobado</span>
                                    <% end %>

                                  </td>
                                </tr>

                               <% end %>

                             </tbody>

                          <% else %>
                            <tbody>

                              <% enrollment.user_courses.reorder('program_course_id, id').each do |uc| %>
                                <tr>
                                  <td><%=uc.course.nombre%></td>
                                  <td><nobr><%= (localize  uc.inicio, format: :day_snmonth_year) %></nobr></td>
                                  <td><nobr><%= (localize  uc.fin, format: :day_snmonth_year) if uc.fin %></nobr></td>
                                  <td><%= uc.numero_oportunidad %></td>
                                  <td>

                                    <% estado = uc.estado lms_time %>

                                    <% if estado == :anulado %>
                                      <span class="label label-default">Anulado</span>
                                    <% elsif estado == :no_iniciado %>
                                      <span class="label label-default">No iniciado</span>
                                    <% elsif estado == :en_progreso %>
                                      <span class="label label-primary">En progreso</span>
                                    <% elsif estado == :plazo_vencido %>
                                      <span class="label label-danger">Plazo Vencido</span>
                                    <% elsif estado == :aprobado %>
                                      <% if uc.nota %>
                                        <span class="label label-success">Aprobado</span>
                                      <% else %>
                                        <span class="label label-success">Cursado</span>
                                      <% end %>
                                    <% elsif estado == :reprobado %>
                                      <span class="label label-danger">Reprobado</span>
                                    <% end %>

                                  </td>
                                </tr>

                              <% end %>

                            </tbody>

                          <% end %>

                        <% end %>
                      </table>

                    </td>
                  </tr>

                <% end %>

              </tbody>

            </table>

          </div>

        </div>

        <div class="row">

          <div class="col-md-12">

            <div class="row">

              <div class="col-md-6">
                <div class="panel panel-danger">
                  <div class="panel-body">
                    <legend>Anular matriculas en programas abiertos</legend>
                    <div class="form-group">

                      <%= f.label :programas, 'Programa', class: 'col-md-3 control-label' %>

                      <div class="col-md-9">

                        <% programs_array = Program.where('especifico = ? AND activo = ?', false, true).map { |program| [program.nombre, program.id] } %>

                        <%= select('program','id', options_for_select(programs_array), {}, {multiple: true, size: 5, class: 'form-control'}) %>
                        <br><em>Mantenga presionada la tecla control para seleccionar más de un programa</em>
                      </div>

                    </div>
                    <div class="alert alert-warning">
                      Sólo se anularán las matrículas en programas abiertos si es que el alumno no ha iniciado ningún curso.
                      <br> En caso el alumno haya iniciado algún curso, las matrículas serán desactivadas y este no podrá iniciar
                      ningún otro curso, sólo terminar los que ya inició (en progreso).
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-danger">
                  <div class="panel-body">
                    <legend>Anular matriculas en cursos de programas específicos</legend>
                    <div class="form-group">

                      <%= f.label :curso, 'Curso', class: 'col-md-3 control-label' %>

                      <div class="col-md-9">

                        <% courses_array = [] %>

                        <% Program.where('especifico = ? AND activo = ?', true, true).each do |program| %>

                          <% courses_array.push [program.nombre, program.courses.map {|course| [course.codigo+' - '+course.nombre, program.id.to_s+'_'+course.id.to_s]}] %>

                        <% end %>


                        <%= select('program_course','id', grouped_options_for_select(courses_array), {},
                                   {multiple: true, size: 10, class: 'form-control'})
                        %>
                        <br><em>Mantenga presionada la tecla control para seleccionar más de un curso</em>

                      </div>

                    </div>
                    <div class="alert alert-warning">
                      Se anularán las últimas matrículas vigentes (no anuladas) del o los cursos seleccionados. Las matrículas son ordenadas
                      en base a la fecha de término y al número de oportunidad.
                    </div>

                  </div>
                </div>

              </div>


            </div>



            <div class="row">

              <div class="col-md-6 col-md-offset-3 text-center">
                <hr>
                <%= f.submit 'Anular matrículas', class: 'btn btn-danger', data: { confirm: '¿Está seguro de anular las matrículas?' } %>

              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
  <% end %>

<% end %>

