<div class="row">
  <div class="col-md-6 col-md-offset-3 panel_content_info-<%= $current_domain %>">

    <legend class="text-center">Gestionar <%= @program_course.program.nombre %></legend>

    <div class="row">
      <div class="col-md-3 text-right">
        <strong>Curso</strong>
      </div>
      <div class="col-md-8">
        <%= @program_course.course.nombre %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-right">
        <strong>Nota mínima</strong>
      </div>
      <div class="col-md-8">
        <%= @program_course.course.nota_minima %>
      </div>
    </div>

    <div class="form-actions">
      <%= link_to 'Volver', enrollments_ver_programa_path(@program_course.program), tabindex: '-1' %>
    </div>

  </div>
</div>

  <br>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="panel">
        <div class="panel-body">

          <table class="table table-striped table-hover table-bordered">

            <thead>

            <tr>
              <th width="1%">#</th>
              <th>Código</th>
              <th>Apellidos</th>
              <th>Nombre</th>
              <th>Desde</th>
              <th>Hasta</th>
              <th>Oportunidad</th>
              <th>Estado</th>
              <th>Nota</th>
              <th>Inicio Real</th>
              <th>Fin Real</th>


            </tr>

            </thead>

            <tbody>

            <% @user_courses.each_with_index do |uc, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= uc.enrollment.user.codigo %></td>
                <td><%= uc.enrollment.user.apellidos %></td>
                <td><%= uc.enrollment.user.nombre %></td>
                <td><%= (localize  uc.desde, format: :day_snmonth_year) %></td>
                <td><%= (localize  uc.hasta, format: :day_snmonth_year) %></td>
                <td><%= uc.numero_oportunidad %></td>
                <td>

                  <% estado = uc.estado lms_time %>

                  <% if estado == :anulado %>
                    <span class="label label-default">Anulado</span>
                  <% elsif estado == :no_iniciado %>
                    <span class="label label-default">No iniciado</span>
                  <% elsif estado == :en_progreso %>
                    <span class="label label-primary">En progreso</span>
                  <% elsif estado == :plazo_vencido %>
                    <span class="label label-danger">Plazo Vencido</span>
                  <% elsif estado == :aprobado %>
                    <% if uc.nota %>
                      <span class="label label-success">Aprobado</span>
                    <% else %>
                      <span class="label label-success">Cursado</span>
                    <% end %>
                  <% elsif estado == :reprobado %>
                    <span class="label label-danger">Reprobado</span>
                  <% end %>

                </td>

                <td>

                  <% if estado == :aprobado && uc.nota %>
                <span class="label label-success">

                  <%= format_nota(uc.nota) %> <%= tipo_nota(uc.course) %>

                </span>
                  <% elsif estado == :reprobado && uc.nota  %>
                <span class="label label-danger">
                  <%= format_nota(uc.nota) %> <%= tipo_nota(uc.course) %>
                </span>
                  <% end %>

                </td>
                <td><%= localize uc.inicio, format: :day_snmonth_year if uc.inicio %></td>
                <td><%= localize uc.fin, format: :day_snmonth_year if uc.iniciado && uc.finalizado %></td>

              </tr>

            <% end %>

            </tbody>
          </table>

        </div>
      </div>


    </div>
  </div>


