<div class="row">
  <div class="col-md-6 col-md-offset-3 panel_content_info-<%= $current_domain %>">

    <legend class="text-center">Gestionar <%= @program_course.program.nombre %></legend>

    <div class="row">
      <div class="col-md-3 text-right">
        <strong>Curso</strong>
      </div>
      <div class="col-md-8">
        <%= @program_course.course.nombre %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-right">
        <strong>Nota mínima</strong>
      </div>
      <div class="col-md-8">
        <%= @program_course.course.nota_minima %>
      </div>
    </div>

    <div class="form-actions">
      <%= link_to 'Volver', enrollments_ver_programa_path(@program_course.program), tabindex: '-1' %>
    </div>

  </div>
</div>



<br>

<% user_course = UserCourse.new %>

<%= form_for user_course, url: enrollments_update_desde_hasta_path(@program_course, @grupo), html: {class: 'form-horizontal'} do |f| %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <legend class="text-center">Cambiar fechas de la convocatoria</legend>


      <div class="input-group">
        <input type="text" name="desdehasta" id="desdehasta" class="form-control uneditable-input" readonly value="<%= @user_course.desde.strftime('%d/%m/%Y') %> - <%= @user_course.hasta.strftime('%d/%m/%Y') %>">
                      <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </span>
      </div>

      <script type="text/javascript">

        $('#desdehasta').daterangepicker({

          format: 'DD/MM/YYYY',
          startDate: '<%= @user_course.desde.strftime('%d/%m/%Y')%>',
          endDate: '<%= @user_course.hasta.strftime('%d/%m/%Y') %>',
          locale: {
            applyLabel: 'Aplicar',
            fromLabel: 'Desde',
            toLabel: 'Hasta',
            customRangeLabel: 'Custom Range',
            daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi','Sa'],
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            firstDay: 1
          }

        });

      </script>

    </div>
  </div>


  <div class="row">

    <div class="col-md-8 col-md-offset-2 text-center">
      <hr>
      <%= f.submit 'Guardar', class: 'btn btn-primary' %>

    </div>
  </div>

<% end %>

