
<% if @users_cant_enroll && @users_cant_enroll.size > 0 %>

  <div class="alert alert-danger">

    <% @users_cant_enroll.each_with_index do |uce, index_uce| %>

      <li>
        <%= uce.codigo %> - <%= uce.apellidos %>, <%= uce.nombre %> : <%= @program_courses_cant_enroll[index_uce].program.nombre %> - <%= @program_courses_cant_enroll[index_uce].course.nombre %> : <%= @reasons_cant_enroll[index_uce] %>
      </li>

    <% end %>

  </div>

<% end %>

<div class="panel panel-default">
  <div class="panel-body">

    <legend>Matricular en Programas y Cursos</legend>

    <div class="row">

      <div class="col-md-12">

        <%= form_for @user, url: matricular2_path, method: :post do |f| %>
          <div class="row">

            <div class="col-md-3 col-md-offset-1">
              <label>&nbsp;&nbsp;Código</label>
              <%= f.text_field :codigo, placeholder: 'Código', autofocus: 'autofocus', class: 'form-control' %>

            </div>

            <div class="col-md-3">
              <label>&nbsp;&nbsp;Apellidos</label>
              <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>

            </div>

            <div class="col-md-3">
              <label>&nbsp;&nbsp;Nombre</label>
              <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>

            </div>

            <div class="col-md-2">
              <label>&nbsp;</label><br>
              <%= f.submit 'Buscar', class: 'btn btn-primary' %>

            </div>

          </div>
          <br>


          <div class="panel-group" id="accordion2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  Filtros
                  <span id="muestra_filtros"></span>
                </a>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">

                  <script type="text/javascript">
                    var select_boxes = [];
                    var select_boxes_name = [];
                  </script>

                  <div class="row">

                    <% @characteristics.each_with_index do |characteristic,index| %>


                      <div class="col-md-3">

                        <script type="text/javascript">

                          select_boxes.push('characteristic_<%=characteristic.id%>');
                          select_boxes_name.push('<%=characteristic.nombre%>');

                        </script>


                        <%= characteristic.nombre %>
                        <br>
                        <% valores = UserCharacteristic.select(:valor).uniq.where('characteristic_id = ? AND valor <> "" ',characteristic.id).order('valor').map(&:valor) %>

                        <%= select('characteristic', characteristic.id, options_for_select(valores,@characteristics_prev[characteristic.id]),
                                   {}, {multiple: true, size: 3, onchange: 'muestra_filtros()', class: 'form-control'})
                        %>

                      </div>

                      <% if (index+1)%4 == 0 %>
                        </div>
                        <div class="row">

                      <% end %>

                    <% end %>

                    <script type="text/javascript">
                      function muestra_filtros(){

                        var lista_filtros = '';
                        for(var i=0;i<select_boxes.length;i++){

                          if($("#"+select_boxes[i]+" option:selected").length > 0){

                            lista_filtros += '<br><strong> '+select_boxes_name[i]+': </strong>';
                            lista_filtros += $("#"+select_boxes[i]+" option:selected").map(function(){ return this.value }).get().join(", ");

                          }

                        }
                        $("#muestra_filtros").html(lista_filtros);
                      }

                      $(document).ready(function(){
                        muestra_filtros();
                      });

                    </script>

                  </div>


                </div>
              </div>
            </div>

          </div>

        <% end %>


      </div>

    </div>
  </div>
</div>


<% if @users.length > 0 %>

  <%= form_for Enrollment.new, url: matricular3_path, html: {class: 'form-horizontal', method: :post} do |f| %>

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row">

          <div class="col-md-12">

            <%= hidden_field(:user,:codigo,value: params[:user][:codigo]) %>

            <%= hidden_field(:user,:apellidos,value: params[:user][:apellidos]) %>

            <%= hidden_field(:user,:nombre,value: params[:user][:nombre]) %>

            <%
              @characteristics.each do |characteristic|

                %>
                 <input id="characteristic_<%=characteristic.id%>" name="characteristic[<%=characteristic.id%>][]" type="hidden" value="" />
                <%

                if @characteristics_prev[characteristic.id]

                  @characteristics_prev[characteristic.id].each do |valor|
                  %>
                    <input id="characteristic_<%=characteristic.id%>" name="characteristic[<%=characteristic.id%>][]" type="hidden" value="<%=valor%>" />
                  <%
                  end

                end

              end
            %>

            <script type="text/javascript">
              function marcar_todos(){

                $('.check_user').each(function(){

                  if($('#check_user').is(':checked')){
                    $(this).prop('checked', true);
                  }else{
                    $(this).prop('checked', false);
                  }

                });

              }

              function marcar_padre(){

                var checked_all = true;

                $('.check_user').each(function(){
                  if(!$(this).is(':checked')){
                    checked_all = false;
                  }
                });
                if(checked_all){
                  $('#check_user').prop('checked', true);
                }else{
                  $('#check_user').prop('checked', false);
                }


              }

            </script>

            <table class="table table-striped table-hover">

              <thead>
                <tr>
                  <th><input id="check_user" type="checkbox" checked="checked" onchange="marcar_todos();"> </th>
                  <th>#</th>
                  <th>Código</th>
                  <th>Apellidos</th>
                  <th>Nombre</th>
                  <th>Correo electrónico</th>
                  <th>Programas</th>
                </tr>
              </thead>

              <tbody>

                <% @users.each_with_index do |user, index| %>

                  <tr>
                    <td><%= check_box('user_id', user.id, {class: 'check_user', checked: 'checked', onchange: 'marcar_padre()'}, user.id.to_s, '0')%></td>

                    <td><%= index+1 %></td>

                    <td><%= user.codigo %></td>
                    <td><%= user.apellidos %></td>
                    <td><%= user.nombre %></td>
                    <td><%= user.email %></td>
                    <td>

                      <table class="table table-bordered table-condensed">
                        <% user.enrollments.each do |enrollment| %>

                          <thead>
                            <tr>
                              <th>
                                <%= enrollment.program.nombre %>

                                <% unless enrollment.program.especifico %>

                                  <% if enrollment.active %>

                                    <span class="label label-success">
                                      Matrícula activa
                                    </span>

                                  <% else %>

                                    <span class="label label-danger">
                                      Matrícula inactiva
                                    </span>

                                  <% end %>

                                <% end %>

                              </th>
                              <% if enrollment.program.especifico %>
                                <th>Desde</th>
                                <th>Hasta</th>
                                <th>Fin</th>
                                <th>Oportunidad</th>
                                <th>Estado</th>
                              <% else %>
                                <th>Inicio</th>
                                <th>Fin</th>
                                <th>Oportunidad</th>
                                <th>Estado</th>
                              <% end %>
                            </tr>
                          </thead>

                          <% if enrollment.program.especifico %>
                             <tbody>

                               <% enrollment.user_courses.reorder('program_course_id, id').each do |uc| %>

                                <% estado = uc.estado(lms_time) if uc.hasta %>

                                <tr>
                                  <td><%=uc.course.nombre%></td>
                                  <td><nobr><%= (localize  uc.desde, format: :day_snmonth_year) if uc.desde %></nobr></td>
                                  <td><nobr><%= (localize  uc.hasta, format: :day_snmonth_year) if uc.hasta %></nobr></td>
                                  <td><nobr><%= localize(uc.fin, format: :day_snmonth_year) if uc.fin %></nobr></td>
                                  <td><%= uc.numero_oportunidad %></td>
                                  <td>

                                    <% if estado == :anulado %>
                                      <span class="label label-default">Anulado</span>
                                    <% elsif estado == :no_iniciado %>
                                      <span class="label label-default">No iniciado</span>
                                    <% elsif estado == :en_progreso %>
                                      <span class="label label-primary">En progreso</span>
                                    <% elsif estado == :plazo_vencido %>
                                      <span class="label label-danger">Plazo Vencido</span>
                                    <% elsif estado == :aprobado %>
                                      <% if uc.nota %>
                                        <span class="label label-success">Aprobado</span>
                                      <% else %>
                                        <span class="label label-success">Cursado</span>
                                      <% end %>
                                    <% elsif estado == :reprobado %>
                                      <span class="label label-danger">Reprobado</span>
                                    <% end %>

                                  </td>
                                </tr>

                               <% end %>

                             </tbody>

                          <% else %>
                            <tbody>

                              <% enrollment.user_courses.reorder('program_course_id, id').each do |uc| %>
                                <tr>
                                  <td><%=uc.course.nombre%></td>
                                  <td><nobr><%= (localize  uc.inicio, format: :day_snmonth_year) %></nobr></td>
                                  <td><nobr><%= (localize  uc.fin, format: :day_snmonth_year) if uc.fin %></nobr></td>
                                  <td><%= uc.numero_oportunidad %></td>
                                  <td>

                                    <% estado = uc.estado lms_time %>

                                    <% if estado == :anulado %>
                                      <span class="label label-default">Anulado</span>
                                    <% elsif estado == :no_iniciado %>
                                      <span class="label label-default">No iniciado</span>
                                    <% elsif estado == :en_progreso %>
                                      <span class="label label-primary">En progreso</span>
                                    <% elsif estado == :plazo_vencido %>
                                      <span class="label label-danger">Plazo Vencido</span>
                                    <% elsif estado == :aprobado %>
                                      <% if uc.nota %>
                                        <span class="label label-success">Aprobado</span>
                                      <% else %>
                                        <span class="label label-success">Cursado</span>
                                      <% end %>
                                    <% elsif estado == :reprobado %>
                                      <span class="label label-danger">Reprobado</span>
                                    <% end %>

                                  </td>
                                </tr>

                              <% end %>

                            </tbody>

                          <% end %>

                        <% end %>
                      </table>

                    </td>
                  </tr>

                <% end %>

              </tbody>

            </table>

          </div>

        </div>

        <div class="row">

          <div class="col-md-12">

            <div class="row">

              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <legend>Matricular en programas abiertos</legend>
                    <div class="form-group">

                      <%= f.label :programas, 'Programa', class: 'col-md-3 control-label' %>

                      <div class="col-md-9">
                        <% programs_array = Program.where('especifico = ? AND activo = ? AND plan_anual = ?', false, true, false).map { |program| [program.nombre, program.id] } %>
                        <%= select('program','id', options_for_select(programs_array), {}, {multiple: true, size: 5, class: 'form-control'}) %>
                        <br><em>Mantenga presionada la tecla control para seleccionar más de un programa</em>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <legend>Matricular en cursos de programas específicos</legend>
                    <div class="form-group">

                      <%= f.label :curso, 'Curso', class: 'col-md-3 control-label' %>

                      <div class="col-md-9">

                        <% courses_array = [] %>

                        <% Program.where('especifico = ? AND activo = ?', true, true).each do |program| %>

                          <% courses_array.push [program.nombre, program.courses.where('activo = ? AND dncp_id IS NULL', true).map {|course| [course.codigo+' - '+course.nombre, program.id.to_s+'_'+course.id.to_s]}] %>

                        <% end %>


                        <%= select('program_course','id', grouped_options_for_select(courses_array), {},
                                   {multiple: true, size: 10, class: 'form-control'})
                        %>
                        <br><em>Mantenga presionada la tecla control para seleccionar más de un curso</em>

                      </div>

                    </div>
                    <hr>
                    <div class="form-group">

                      <labbel class="col-md-3 control-label">Forzar matrícula</labbel>
                      <div class="col-md-9">
                        <%= check_box('forzar_matricula','aplica',{onchange: 'toggle_forzar_matricula()'},1,0) %>
                        <br><br>

                        <div id="container_forzar_matricula_date">
                        Forzar matrícula si aprobaron el curso antes de

                        <div id="forzar_date" class="input-group date">
                          <input class="form-control" name="forzar_date" data-format="dd/MM/yyyy" type="text" value="<%= lms_time.strftime('%d/%m/%Y') %>">
                          <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </span>
                        </div>



                        <script type="text/javascript">


                          $('#forzar_date').datetimepicker({
                            language: 'es',
                            pickTime: false
                          });

                        </script>

                        </div>

                        <script>

                          function toggle_forzar_matricula(){

                            if($('#forzar_matricula_aplica').is(":checked")){
                              $('#container_forzar_matricula_date').show();
                            }else{
                              $('#container_forzar_matricula_date').hide();
                            }

                          }

                          $(document).ready(function() {
                            toggle_forzar_matricula();
                          });

                        </script>

                        <br>

                        <em>
                          <span class="label label-success">Sí</span>
                          Si se fuerza la matrícula se asignará el o los cursos seleccionados sin importar si ya han sido aprobados.
                          <br>
                          <span class="label label-danger">No</span>
                          Si no se fuerza la matrícula, sólo se matricularán si el alumno no ha aprobado el curso la última vez que lo
                          llevó (no se consideran los anulados).
                          <br><br>
                          En ningún caso se matriculará si el curso se esté llevando en este momento y su estado es <span class="label label-primary">En progreso</span> o <span class="label label-default">No iniciado</span>
                        </em>
                        <script>
                          $('#forzar_matricula_aplica').bootstrapSwitch({
                            onColor: 'success',
                            onText: "Sí",
                            offColor: 'danger',
                            offText: "No"
                          });
                        </script>
                      </div>

                    </div>
                    <hr>
                    <div class="form-group">

                      <%= f.label :desde, 'Desde', class: 'col-md-3 control-label' %>

                      <div class="col-md-9">


                        <div id="dp_desde" class="input-group date">
                          <input class="form-control" name="desde" data-format="dd/MM/yyyy hh:mm:ss" type="text" value="<%= lms_time.strftime('%d/%m/%Y')%> 00:00:00">
                          <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </span>
                        </div>

                        <script type="text/javascript">


                          $('#dp_desde').datetimepicker({
                            language: 'es',
                            pick12HourFormat: true,
                            useSeconds: true
                          });


                        </script>

                      </div>

                    </div>

                    <div class="form-group">

                      <%= f.label :hasta, 'Hasta', class: 'col-md-3 control-label' %>

                      <div class="col-md-9">

                        <div id="dp_hasta" class="input-group date">
                          <input class="form-control" name="hasta" data-format="dd/MM/yyyy hh:mm:ss" type="text" value="<%= lms_time.strftime('%d/%m/%Y')%> 23:59:59">
                          <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </span>
                        </div>

                        <script type="text/javascript">


                          $('#dp_hasta').datetimepicker({
                            language: 'es',
                            pick12HourFormat: true,
                            useSeconds: true
                          });

                        </script>


                      </div>

                    </div>

                    <% if @company.modulo_sence %>
                      <hr>
                      <div class="form-group">

                        <%= f.label :sence, 'Aplica Sence', class: 'col-md-3 control-label' %>

                        <div class="col-md-9">
                          <%= check_box('aplica_sence','aplica',{},1,0) %>
                        </div>

                      </div>

                    <% end %>
                  </div>
                </div>

              </div>


            </div>



            <div class="row">

              <div class="col-md-6 col-md-offset-3 text-center">
                <hr>
                <%= f.submit 'Matricular', class: 'btn btn-primary', data: { confirm: '¿Está seguro de realizar la matrícula?' } %>

              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
  <% end %>

<% end %>

