<div class="row">
  <div class="col-md-6 col-md-offset-3 panel_content_info-<%= $current_domain %>">

    <legend class="text-center">Gestionar <%= @program_course.program.nombre %></legend>

    <div class="row">
      <div class="col-md-3 text-right">
        <strong>Curso</strong>
      </div>
      <div class="col-md-8">
        <%= @program_course.course.nombre %>
      </div>
    </div>


    <div class="form-actions">
      <%= link_to 'Volver', enrollments_ver_programa_path(@program_course.program), tabindex: '-1' %>
    </div>

  </div>
</div>


<% summary = ProgramCoursePollSummary.new %>

<%= form_for summary, url: enrollments_update_poll_path(@program_course, @grupo), html: {class: 'form-horizontal'} do |f| %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <legend class="text-center">Encuesta</legend>

      <label><strong>Fechas en las que se dictó el curso</strong></label>

      <span class="label label-primary">
        <%= (localize  @user_course.desde, format: :day_snmonth_year) %>
      </span>

      <span class="label label-primary">
        <%= (localize  @user_course.hasta, format: :day_snmonth_year) %>
      </span>

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <% poll = @course.polls.where('tipo_satisfaccion = ?', true).first %>

      <% master_questions = poll.master_poll.master_poll_questions %>

      <% if poll.master_poll.modo_grid %>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>

              </th>

              <% lista_alternativas = nil %>
              <% max = 0 %>

              <% master_questions.each do |master_question| %>

                <% if master_question.master_poll_alternatives.length > max %>

                  <% lista_alternativas = master_question.master_poll_alternatives %>

                  <% max = master_question.master_poll_alternatives.length %>

                <% end %>

              <% end %>

              <% lista_alternativas.each_with_index do |alt| %>

                <th>
                  <%= alt.letra %>. <%= alt.texto.html_safe %>
                </th>

              <% end %>

            </tr>
          </thead>

          <tbody>

            <% master_questions.each_with_index do |master_question, index| %>
              <tr>
                <td>
                  <strong><%= index+1 %>. </strong>
                  <%= master_question.texto.html_safe %>
                </td>

                <% index_a = 0 %>

                <% master_question.master_poll_alternatives.each do |alt| %>

                  <% poll_summary = ProgramCoursePollSummary.where('program_course_id = ? AND poll_id = ? AND master_poll_question_id = ? AND master_poll_alternative_id = ? AND grupo = ? ',
                                                                   @program_course.id, poll.id, master_question.id, alt.id, @grupo).first  %>

                  <td style="vertical-align:bottom">
                      <% valor = 0 %>
                      <% valor = poll_summary.numero_respuestas if poll_summary %>

                      <% if @course.poll_presencial %>

                        <%= number_field('poll_summary', alt.id, min: 0, value: valor, class: 'span12' )%>

                      <% else %>

                        <%= number_field('poll_summary', alt.id, min: 0, value: valor, readonly: 'readonly', class: 'span12' )%>

                      <% end %>

                  </td>

                  <% index_a += 1 %>

                <% end %>
                <% if max > index_a %>
                  <% (index_a..max-1).each do |faltante| %>
                    <td></td>
                  <% end %>
                <% end %>
              </tr>

            <% end %>

          </tbody>

        </table>






      <% else %>

        <% master_questions.each_with_index do |master_question, index| %>

          <div class="row pregunta-evaluacion-<%= $current_domain %>">

            <div class="col-md-12">

              <div class="row">
                <div class="col-md-10">
                  <strong><%= index+1 %>. </strong>
                  <%= master_question.texto.html_safe %>
                </div>
                <div class="col-md-2">

                </div>
              </div>
              <br>

              <% master_question.master_poll_alternatives.each_with_index do |alt, index_a| %>

                <% poll_summary = ProgramCoursePollSummary.where('program_course_id = ? AND poll_id = ? AND master_poll_question_id = ? AND master_poll_alternative_id = ? AND grupo = ? ',
                                                                 @program_course.id, poll.id, master_question.id, alt.id, @grupo).first  %>

                <div class="row alternativa-pregunta-evaluacion">
                  <div class="col-md-1 text-right">
                    <strong><%= alt.letra %>. </strong>
                  </div>
                  <div class="col-md-2">
                    <% valor = 0 %>
                    <% valor = poll_summary.numero_respuestas if poll_summary %>

                    <% if @course.poll_presencial %>

                      <%= number_field('poll_summary', alt.id, min: 0, value: valor, class: 'span12' )%>

                    <% else %>

                      <%= number_field('poll_summary', alt.id, min: 0, value: valor, readonly: 'readonly', class: 'span12' )%>

                    <% end %>

                  </div>
                  <div class="col-md-9">
                    <%= alt.texto.html_safe %>
                  </div>

                </div>


              <% end %>

            </div>

          </div>

        <% end %>

      <% end %>

    </div>
  </div>

  <% if @course.poll_presencial %>
    <div class="row">

      <div class="col-md-8 col-md-offset-2 text-center">
        <hr>
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>

      </div>
    </div>
  <% end %>

<% end %>


