<div class="row">
  <div class="col-md-6 col-md-offset-3 panel_content_info-<%= $current_domain %>">

    <legend class="text-center">Gestionar <%= @program_course.program.nombre %></legend>

    <div class="row">
      <div class="col-md-3 text-right">
        <strong>Curso</strong>
      </div>
      <div class="col-md-8">
        <%= @program_course.course.nombre %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-right">
        <strong>Nota mínima</strong>
      </div>
      <div class="col-md-8">
        <%= @program_course.course.nota_minima %>
      </div>
    </div>

    <div class="form-actions">
      <%= link_to 'Volver', enrollments_ver_programa_path(@program_course.program), tabindex: '-1' %>
    </div>

  </div>
</div>


<script type="text/javascript">


  function marcar_asistencia(user_course_id){

    <% if @course.eval_presencial %>

      if($('#user_id_'+user_course_id).is(':checked')){

        $('#user_course_id_'+user_course_id).removeAttr('readonly');

      }else{

        $('#user_course_id_'+user_course_id).attr('readonly','readonly');

      }

    <% end %>

    show_estado(user_course_id);

  }

  function show_estado(user_course_id){

    nota_minima = <%= @course.nota_minima %>;

    nota = $('#user_course_id_'+user_course_id).val();

    if($.isNumeric(nota) && $('#user_id_'+user_course_id).is(':checked')){

      if(nota >= nota_minima){
        $('#label_reprobado_'+user_course_id).hide();
        $('#label_sin_nota_'+user_course_id).hide();
        $('#label_aprobado_'+user_course_id).show();

      }else{
        $('#label_aprobado_'+user_course_id).hide();
        $('#label_sin_nota_'+user_course_id).hide();
        $('#label_reprobado_'+user_course_id).show();

      }

    }else{
      $('#label_reprobado_'+user_course_id).hide();
      $('#label_aprobado_'+user_course_id).hide();
      $('#label_sin_nota_'+user_course_id).show();
    }




  }

</script>

<br>

<% user_course = UserCourse.new %>

<%= form_for user_course, url: enrollments_update_asist_eval_path(@program_course, @grupo), html: {class: 'form-horizontal'} do |f| %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <legend class="text-center">Asistencia y Evaluación</legend>

      <label><strong>Fechas en las que se dictó el curso</strong></label>

      <span class="label label-primary">
        <%= (localize  @user_courses.first.desde, format: :day_snmonth_year) %>
      </span>

      <span class="label label-primary">
        <%= (localize  @user_courses.first.hasta, format: :day_snmonth_year) %>
      </span>

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <table class="table table-striped table-hover table-bordered">

        <thead>

        <tr>

          <th width="1%">#</th>
          <th>Apellidos</th>
          <th>Nombre</th>
          <th>

            Asistencia

            <% unless @course.asistencia_presencial %>

              <i id='asist_virtual' class='fa fa-laptop' data-toggle="tooltip" title="Virtual"></i>

              <script>
                $('#asist_virtual').tooltip({
                  placement: 'top'
                });
              </script>

            <% end %>



          </th>

          <th width="40%">
            Evaluación

            <% unless @course.eval_presencial %>

              <i id='eval_virtual' class='fa fa-laptop' data-toggle="tooltip" title="Virtual"></i>

              <script>
                $('#eval_virtual').tooltip({
                  placement: 'top'
                });
              </script>

            <% end %>

          </th>

        </tr>

        </thead>

        <tbody>

        <% @user_courses.each_with_index do |uc, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= uc.enrollment.user.apellidos %></td>
            <td><%= uc.enrollment.user.nombre %></td>
            <td>

              <div class="make-switch switch-small" data-on="success" data-off="danger" data-on-label="<nobr>&nbsp;&nbsp;<i class='fa fa-check'></i> Sí &nbsp;&nbsp;</nobr>" data-off-label="<nobr>&nbsp;&nbsp;<i class='fa fa-times'></i> No &nbsp;&nbsp;</nobr>">

                <% if @course.asistencia_presencial %>

                  <% if uc.asistencia || uc.asistencia.nil? %>
                    <%= check_box('user_id', uc.id, {class: 'check_user', checked: 'checked', onchange: 'marcar_asistencia('+uc.id.to_s+')'}, uc.id.to_s, '0')%>
                  <% else %>
                    <%= check_box('user_id', uc.id, {class: 'check_user', onchange: 'marcar_asistencia('+uc.id.to_s+')'}, uc.id.to_s, '0')%>
                  <% end %>

                <% else %>

                  <% if uc.asistencia %>
                    <%= check_box('user_id', uc.id, {disabled: 'disabled', class: 'check_user', checked: 'checked'}, uc.id.to_s, '0')%>
                  <% else %>
                    <%= check_box('user_id', uc.id, {disabled: 'disabled', class: 'check_user'}, uc.id.to_s, '0')%>
                  <% end %>

                <% end %>


              </div>

            </td>

            <td>

              <% if @course.eval_presencial %>

                <% if uc.asistencia %>
                  <%= number_field('user_course_id', uc.id, min: 0, value: uc.nota, class: 'input_user', onchange: 'show_estado('+uc.id.to_s+')' )%>
                <% else %>
                  <%= number_field('user_course_id', uc.id, min: 0, value: uc.nota, class: 'input_user',  onchange: 'show_estado('+uc.id.to_s+')', readonly: 'readonly' )%>
                <% end %>

              <% else %>

                <%= number_field('user_course_id', uc.id, min: 0, value: uc.nota, class: 'input_user', readonly: 'readonly' )%>

              <% end %>

              <label class="label label-success" id="label_aprobado_<%= uc.id %>">Aprobado</label>

              <label class="label label-danger" id="label_reprobado_<%= uc.id %>">Reprobado</label>

              <label class="label label-default" id="label_sin_nota_<%= uc.id %>">Sin nota</label>

              <script>
                marcar_asistencia(<%= uc.id %>);
                show_estado(<%= uc.id %>);
              </script>

            </td>
          </tr>

        <% end %>


        </tbody>

      </table>




    </div>
  </div>

  <% if @course.eval_presencial || @course.asistencia_presencial %>
    <div class="row">

      <div class="col-md-8 col-md-offset-2 text-center">
        <hr>
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>

      </div>
    </div>
  <% end %>

<% end %>

