<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @enrollment.user %>
</p>

<p>
  <b>Program:</b>
  <%= @enrollment.program %>
</p>


<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
