<div class="panel panel-default">
    <div class="panel-body">

      <% if params[:year] && params[:month] %>

        <% year_filter = params[:year].to_i %>
        <% month_filter = params[:month].to_i %>

      <% else %>

        <% year_filter = lms_time.year %>
        <% month_filter = lms_time.month %>

      <% end %>

      <% start_year = UserCourse.where('desde IS NOT NULL').reorder('desde').first.desde.year %>
      <% end_year = UserCourse.where('hasta IS NOT NULL').reorder('hasta').last.hasta.year %>

      <% meses = t('date.month_names') %>

      <% meses_array = meses.each_with_index.map { |m,i| [m, i] } %>
      <% meses_array.delete_at 0 %>

      <legend>
        <%= @program.nombre %>
      </legend>


      <div class="text-center">
        <ul class="nav nav-pills">
          <% (start_year..end_year).each do |year| %>
            <li class="<%= 'active' if year == year_filter %>">
              <% if year < year_filter %>
                <a href="<%= enrollments_ver_programa_f_path(@program,year,12) %>"><%= year %></a>
              <% elsif year > year_filter %>
                <a href="<%= enrollments_ver_programa_f_path(@program,year,1) %>"><%= year %></a>
              <% else %>
                <a><%= year %></a>
              <% end %>
            </li>
          <% end %>
        </ul>
        <ul class="nav nav-pills">
          <% meses_array.each do |month| %>
            <li class="<%= 'active' if month[1] == month_filter %>">
              <a href="<%= enrollments_ver_programa_f_path(@program,year_filter,month[1]) %>"><%= month[0] %></a>
            </li>
          <% end %>
        </ul>
      </div>
      <br>

      <ul class="nav nav-pills">
        <li class="active" ><a href="#tab_program_<%= @program.id %>_grupo_f" data-toggle="tab">Convocatoria</a></li>
        <li><a href="#tab_program_<%= @program.id %>_grupo" data-toggle="tab">Grupo</a></li>
      </ul>


      <div class="tab-content">

      <div class="tab-pane active" id="tab_program_<%= @program.id %>_grupo_f">

        <% @program.levels.each do |level| %>



          <% if @program.levels.size > 1 %>

            <br><br>
            <legend >Nivel <%= level.nombre %></legend>

          <% end %>
          <br><br>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">



              <% level.courses.each_with_index do |course,index| %>

                <% program_course = @program.program_courses.where('level_id = ? AND course_id = ? ', level.id, course.id).first %>

                <% grupos = program_course.group_ids %>

                <% grupos_f = program_course.group_f_with_count(DateTime.new(year_filter,month_filter,1,0,0,0), DateTime.new(year_filter,month_filter,1,23,59,59).next_month.prev_day) %>


                <% if grupos.length > 0 %>

                  <% desde = nil %>
                  <% hasta = nil %>

                  <% grupos.each_with_index do |g, index1|  %>

                    <% if index1 == 0 %>

                      <% desde = g.desde %>
                      <% hasta = g.hasta %>

                    <% else %>

                      <% desde = g.desde if g.desde < desde %>
                      <% hasta = g.hasta if g.hasta > hasta %>

                    <% end %>

                  <% end %>

                  <strong>
                    <%= course.nombre %>

                    <% if @company.modulo_sence %>

                      <% if course.sence_code && course.sence_code != '' %>

                        <%= '(Sence: '+course.sence_code+')' %>

                      <% end %>

                    <% end %>
                  </strong>

                  <table class="table table-striped table-hover table-bordered">


                    <thead>

                    <th>#</th>
                    <th colspan="2">
                      Convocatoria
                    </th>
                    <th>

                      Inscritos

                    </th>
                    <th>Resultados</th>
                    <th>

                      <%= form_for Enrollment.new, url: enrollments_reporte_curso_excel_rango_path(program_course), html: {class: 'form-horizontal', method: :get} do |f| %>

                        <div class="input-group">
                          <input type="text" name="desdehasta" id="desdehasta_<%=program_course.id%>" class="form-control uneditable-input" readonly value="<%= desde.strftime('%d/%m/%Y')%> - <%=hasta.strftime('%d/%m/%Y')%>">
                                <span class="input-group-addon">
                                  <i class="fa fa-calendar"></i>
                                </span>
                        </div>

                        <script type="text/javascript">

                          $('#desdehasta_<%=program_course.id%>').daterangepicker({

                            format: 'DD/MM/YYYY',
                            startDate: '<%=desde.strftime('%d/%m/%Y')%>',
                            endDate: '<%=hasta.strftime('%d/%m/%Y')%>',
                            opens: 'left',
                            locale: {
                              applyLabel: 'Aplicar',
                              fromLabel: 'Desde',
                              toLabel: 'Hasta',
                              customRangeLabel: 'Custom Range',
                              daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi','Sa'],
                              monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                              firstDay: 1
                            }

                          });

                        </script>

                        <%= f.submit 'Reporte', class: 'btn btn-primary btn-sm' %>

                      <% end %>


                    </th>
                    </thead>

                    <tbody>

                    <% num_grupos_f = grupos_f.length %>

                    <% grupos_f.each_with_index do |g, index_2| %>

                      <tr>
                        <td><%= num_grupos_f - index_2 %></td>
                        <td>
                                <span class="label label-primary">
                                  <%= (localize  g.hasta, format: :day_snmonth_year) %>
                                </span>
                        </td>
                        <td>
                          <a id="edit_desde_hasta_<%= program_course.id %>_<%= g.grupo_f %>" href="<%= enrollments_edit_hasta_path(program_course, g.grupo_f) %>" data-toggle="tooltip" title="Cambiar fecha de fin de la convocatoria">
                            <i class="fa fa-calendar"></i>
                          </a>
                          <script>
                            $('#edit_desde_hasta_<%= program_course.id %>_<%= g.grupo_f %>').tooltip({
                              placement: 'top'
                            });
                          </script>
                        </td>
                        <td>

                          <% # num_participantes = program_course.numero_matriculas_inc_fantasma_por_grupo_f(g.grupo_f) %>

                          <% # UserCourse.where('program_course_id = ? AND anulado = ? AND grupo_f = ?', program_course.id, false, g.grupo_f).count %>

                          <%= g.count %>

                          <a id="actualizar_matricula_<%= program_course.id %>_<%= g.grupo_f %>" href="<%= enrollments_define_anula_matricula_grupo_f_path(program_course, g.grupo_f) %>" data-toggle="tooltip" title="Anular o reactivar matrícula de alumnos">
                            <i class="fa fa-pencil-square-o"></i>
                          </a>

                          <script>
                            $('#actualizar_matricula_<%= program_course.id %>_<%= g.grupo_f %>').tooltip({
                              placement: 'top'
                            });
                          </script>

                        </td>
                        <td>
                          <a href="<%= enrollments_consultar_resultados_grupo_f_path(program_course, g.grupo_f) %>">
                            Consultar
                          </a>
                        </td>


                        <td>
                          <a href="<%= enrollments_reporte_curso_excel_grupo_f_path(program_course, g.grupo_f) %>">
                            Reporte
                          </a>
                        </td>

                      </tr>

                    <% end %>

                    </tbody>

                  </table>
                  <br>

                <% end %>


              <% end %>


            </div>
          </div>

        <% end %>

      </div>

      <div class="tab-pane" id="tab_program_<%= @program.id %>_grupo">

      <% @program.levels.each do |level| %>



        <% if @program.levels.size > 1 %>

          <br><br>
          <legend >Nivel <%= level.nombre %></legend>

        <% end %>
        <br><br>
        <div class="row">
        <div class="col-md-10 col-md-offset-1">

        <% level.courses.each_with_index do |course,index| %>

          <% program_course = @program.program_courses.where('level_id = ? AND course_id = ? ', level.id, course.id).first %>

          <% grupos = program_course.group_ids %>


          <% if grupos.length > 0 %>

            <% desde = nil %>
            <% hasta = nil %>

            <% grupos.each_with_index do |g, index1|  %>

              <% if index1 == 0 %>

                <% desde = g.desde %>
                <% hasta = g.hasta %>

              <% else %>

                <% desde = g.desde if g.desde < desde %>
                <% hasta = g.hasta if g.hasta > hasta %>

              <% end %>

            <% end %>

            <strong>
              <%= course.nombre %>

              <% if @company.modulo_sence %>

                <% if course.sence_code && course.sence_code != '' %>

                  <%= '(Sence: '+course.sence_code+')' %>

                <% end %>

              <% end %>
            </strong>

            <table class="table table-striped table-hover table-bordered">


              <thead>

              <th>#</th>
              <th colspan="3">
                Grupos
              </th>
              <th>

                Inscritos

              </th>
              <th>Asistencia y Evaluación</th>
              <th>Encuesta de Satisfacción</th>
              <th>



              </th>
              </thead>

              <tbody>

              <% num_grupos = grupos.length %>

              <% grupos.each_with_index do |g, index_2| %>
                <% break if index_2 == 100 %>
                <tr>
                  <td><%= num_grupos-index_2 %></td>
                  <td>
<!--
                    <%= g.id %> -

                    <%= g.desde %>
                    -->
                                  <span class="label label-primary">
                                    <%= (localize  g.desde, format: :day_snmonth_year) %>
                                  </span>
                  </td>
                  <td>
                                  <span class="label label-primary">
                                    <%= (localize  g.hasta, format: :day_snmonth_year) %>
                                  </span>
                  </td>
                  <td>
                    <a id="edit_desde_hasta_<%= program_course.id %>_<%= g.grupo %>" href="<%= enrollments_edit_desde_hasta_path(program_course, g.grupo) %>" data-toggle="tooltip" title="Cambiar fechas de convocatoria">
                      <i class="fa fa-calendar"></i>
                    </a>
                    <script>
                      $('#edit_desde_hasta_<%= program_course.id %>_<%= g.grupo %>').tooltip({
                        placement: 'top'
                      });
                    </script>
                  </td>
                  <td>

                    <% # num_participantes = program_course.numero_matriculas_vigentes_por_grupo(g.grupo) %>

                    <a id="actualizar_matricula_<%= program_course.id %>_<%= g.grupo %>" href="<%= enrollments_define_anula_matricula_path(program_course, g.grupo) %>" data-toggle="tooltip" title="Anular o reactivar matrícula de alumnos">
                      <i class="fa fa-pencil-square-o"></i>
                    </a>

                    <script>
                      $('#actualizar_matricula_<%= program_course.id %>_<%= g.grupo %>').tooltip({
                        placement: 'top'
                      });
                    </script>

                    <% if @company.modulo_sence %>

                      <% if course.sence_code && course.sence_code != '' %>

                        <a id="activar_sence_<%= program_course.id %>_<%= g.grupo %>" href="<%= enrollments_define_aplica_sence_path(program_course, g.grupo) %>" data-toggle="tooltip" title="Definir si aplica o no Sence por alumno">
                          <i class="fa fa-usd"></i>
                        </a>

                        <script>
                          $('#activar_sence_<%= program_course.id %>_<%= g.grupo %>').tooltip({
                            placement: 'top'
                          });
                        </script>

                      <% end %>


                    <% end %>

                  </td>
                  <td>
                    <% if g.course.eval_presencial || g.course.asistencia_presencial %>
                      <nobr>
                        <a href="<%= enrollments_register_asist_eval_path(program_course, g.grupo) %>">
                          Registrar
                        </a>

                        <% total_notas = program_course.user_courses.where('grupo = ? AND nota IS NOT NULL', g.grupo).count %>

                        <% if total_notas == 0 %>
                          <i class="fa fa-circle" style="color: red;"></i>
                        <% end %>
<!--
                      <% #elsif total_notas == num_participantes %>
                        <i class="fa fa-circle" style="color: green;"></i>
                      <% #else %>
                        <i class="fa fa-circle" style="color: orange;"></i>
-->

                      </nobr>
                    <% else %>
                      <a href="<%= enrollments_register_asist_eval_path(program_course, g.grupo) %>">
                        <i id='curso_tipo_eval_virtual_<%= program_course.id %>_<%= g.grupo %>' class='fa fa-laptop' data-toggle="tooltip" title="Virtual"></i>
                        Consultar
                      </a>

                      <script>
                        $('#curso_tipo_eval_virtual_<%= program_course.id %>_<%= g.grupo %>').tooltip({
                          placement: 'top'
                        });
                      </script>
                    <% end %>


                  </td>
                  <td>
                    <% poll =  course.polls.where('tipo_satisfaccion = ?', true).first %>
                    <% if poll && poll.master_poll_id %>

                      <% if course.poll_presencial %>

                        <a href="<%= enrollments_register_poll_path(program_course, g.grupo) %>">
                          Registrar
                        </a>

                        <% total_summary = ProgramCoursePollSummary.where('program_course_id = ? AND poll_id = ? AND grupo = ? ',
                                                                          program_course.id, poll.id, g.grupo).count  %>

                        <% if total_summary == 0 %>
                          <i class="fa fa-circle" style="color: red;"></i>
                        <% else %>
                          <i class="fa fa-circle" style="color: green;"></i>
                        <% end %>

                      <% else %>
                        <a href="<%= enrollments_register_poll_path(program_course, g.grupo) %>">
                          <i id='curso_tipo_poll_virtual_<%= program_course.id %>_<%= g.grupo %>' class='fa fa-laptop' data-toggle="tooltip" title="Virtual"></i>
                          Consultar
                        </a>


                        <script>
                          $('#curso_tipo_poll_virtual_<%= program_course.id %>_<%= g.grupo %>').tooltip({
                            placement: 'top'
                          });
                        </script>
                      <% end %>
                    <% else %>
                      <label class="label label-danger">No se existe encuesta<br>de satisfacción definida</label>
                    <% end %>
                  </td>

                  <td>
                    <a href="<%= enrollments_empty_students_list_xlsx_path(program_course, g.grupo) %>">
                      Lista
                    </a>
                    &nbsp;&nbsp;
                    <a href="<%= enrollments_acta_students_xlsx_path(program_course, g.grupo) %>">
                      Acta
                    </a>
                    &nbsp;&nbsp;
                    <a href="<%= enrollments_reporte_curso_excel_grupo_path(program_course, g.grupo) %>">
                      Reporte
                    </a>
                  </td>

                </tr>

              <% end %>

              </tbody>

            </table>
            <br>

          <% end %>


        <% end %>


        </div>
        </div>

      <% end %>

      </div>



      </div>
  </div>
</div>

