<div class="panel panel-default characteristic">
  <div class="panel-body">
    <div class="form-group <%= field_with_errors f, :characteristic_id %>">
      <%= f.label :characteristic_id, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.select :characteristic_id, options_for_select(@characteristics, f.object.characteristic_id), {:prompt => t('views.elec_process_categories.characteristics.form.prompt_select_char')}, class: 'form-control select2 trigger_load_values', :onchange => 'javascript: set_characteristic_values(this);', data:{:id => f.object_id} %>
      </div>
    </div>

    <div class="form-group <%= field_with_errors f, :match_value %>">
      <%= f.label :match_value, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%#= f.text_field :match_value, class: 'form-control' %>
        <%= f.select :match_value, {}, {:prompt => t('views.elec_process_categories.characteristics.form.prompt_select_match_value')}, class: 'form-control select2 characteristic_values', data:{:id => f.object_id, :value => f.object.match_value ? f.object.match_value.upcase : ''} %>
      </div>
    </div>

    <div class="form-group <%= field_with_errors f, :filter_voter %>">
      <%= f.label :filter_voter, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.check_box :filter_voter, class: 'bootstrap_switch_yes_no' %>
      </div>
    </div>

    <div class="form-group <%= field_with_errors f, :filter_candidate %>">
      <%= f.label :filter_candidate, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.check_box :filter_candidate, class: 'bootstrap_switch_yes_no' %>
      </div>
    </div>

    <div class="pull-right">
      <%= link_to_remove_elec_category_char t('views.elec_process_categories.characteristics.form.remove_filter'), f %>
    </div>

  </div>
</div>
<%# los scripts que inicializan los select2 y bootstrapSwitch están en el formulario principal %>