<%= render partial: 'shared/module_header_navigation',
           locals: { icon: t('views.brg_module.icon'),
                     go_back_col: 3,
                     go_back_link: brg_processes_manage_path(@process),
                     go_back_text: t('views.brg_module.backlist.manage_process'),
                     legends: [@process.alias, @process.name, t('views.brg_module.flow_process.manage_users')]} %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'brg_processes/process_show',
               locals: { process: @process,
                         editable: false } %>
  </div>
</div>

<%= render partial: 'brg_processes/massive_upload_users_to_process',
           locals: { excel_errors: @excel_errors ? @excel_errors : [],
                     process: @process } %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'brg_processes/bonus_users_pay_or_not',
                   locals: {process: @process} %>
      </div>
    </div>
  </div>
</div>