
<div class="row">

  <div class="col-md-3">

  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Mis resultados
    </h1>
  </div>

</div>

<% if @pe_process.of_persons? %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <%= render partial: 'shared/user_profile_mini',
                 locals: {
                     user: @pe_member.user,
                     company: @company,
                     ocultar_historial: true,
                     titulo: 'Perfil del Evaluado',
                     is_boss: false

                 }
      %>

    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <% unless @pe_member.step_assessment? %>

        <div class="alert alert-danger">
          Los resultados mostrados son parciales, su evaluación aún no ha finalizado.
        </div>

      <% end %>

      <%= render partial: 'pe_reporting/rep_detailed_final_results_person_common',
                 locals: {
                     show_feedback: @pe_process.rep_detailed_final_results_show_feedback_for_user_profile,
                     show_calibration: @pe_process.rep_detailed_final_results_show_calibration_for_user_profile,
                     show_pe_member_box: (@pe_process.public_pe_box && @pe_process.public_pe_members_box),
                     show_pe_member_dimension_name: (@pe_process.public_pe_dimension_name && @pe_process.public_pe_members_dimension_name),
                     show_comments: false
                 }
      %>

    </div>
  </div>

<% end %>

