<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= render partial: 'sel_notification_templates/variables' %>
      </div>
      <div class="col-md-8">
        <%= form_for @sel_notification_template, html: {class: 'form-horizontal'} do |f| %>
          <div class="panel panel-default">
            <div class="panel-body">
              <legend> Datos de la plantilla de notificación</legend>

              <%= render 'shared/error_messages', object: f.object %>
              <% events_array = SelNotificationTemplate.event_options.map { |key, event| [event[:name], key] } %>
              <div class="form-group <%= field_with_errors f, :event_id %>">
                <%= f.label :event_id, class: 'col-md-3 control-label' %>
                <div class="col-md-9">
                  <%= f.select :event_id, options_for_select(events_array, f.object.event_id), {:prompt => '- Seleccione un evento -'}, {class: 'form-control'} %>
                </div>
              </div>
              <div class="form-group <%= field_with_errors f, :name %>">
                <%= f.label :name, class: 'col-md-3 control-label' %>
                <div class="col-md-9">
                  <%= f.text_field :name, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group <%= field_with_errors f, :description %>">
                <%= f.label :description, class: 'col-md-3 control-label' %>
                <div class="col-md-9">
                  <%= f.text_area :description, class: 'form-control', :rows => 3 %>
                </div>
              </div>
              <div class="form-group <%= field_with_errors f, :active %>">
                <%= f.label :active, class: 'col-md-3 control-label' %>
                <div class="col-md-9">
                  <%= f.check_box :active, class: 'yes_no_bootstrap_switch' %>
                </div>
              </div>
              <div class="form-group <%= field_with_errors f, :to %>">
                <%= f.label :to, class: 'col-md-3 control-label' %>
                <div class="col-md-9">
                  <%= f.text_field :to, class: 'form-control' %>
                  <div>
                    <em>Los destinatarios se colocan separados por comas (,) y acepta tanto %{variables} como direcciones de
                      correo específicas. Por ejemplo: %{trigger.email}, %{counterpart.email}, ejemplo@exa.pe</em></div>
                </div>
              </div>
              <div class="form-group <%= field_with_errors f, :cc %>">
                <%= f.label :cc, class: 'col-md-3 control-label' %>
                <div class="col-md-9">
                  <%= f.text_field :cc, class: 'form-control' %>
                  <div>
                    <em>Los destinatarios se colocan separados por comas (,) y acepta tanto %{variables} como direcciones de
                      correo específicas. Por ejemplo: %{trigger.email}, %{counterpart.email}, ejemplo@exa.pe</em></div>
                </div>
              </div>
              <div class="form-group <%= field_with_errors f, :subject %>">
                <%= f.label :subject, class: 'col-md-3 control-label' %>
                <div class="col-md-9">
                  <%= f.text_field :subject, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group <%= field_with_errors f, :body %>">
                <%= f.label :body, class: 'col-md-3 control-label' %>
                <div class="col-md-9">
                  <%= f.text_area :body, class: 'form-control wysihtml5', :rows => 7 %>
                </div>
              </div>
            </div>
            <div class="panel-footer clearfix">
              <div class="pull-right">
                <%= f.submit 'Guardar', class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

