<div class="panel panel-default">
  <div class="panel-body">

    Variables del Candidato:<br>
    %{candidate.email}, <br>
    %{candidate.name}, <br>
    %{candidate.surname}, <br>
    %{candidate.change_password_token}
    <br><br>
    Variables del Proceso de selección:<br>
    %{sel_process.name}, <br>
    %{sel_process.code}
    <br><br>
    Variables del Proceso de aprobación de la vacante:<br>
    %{approver.email}, <br>
    %{approver.nombre},<br>
    %{approver.apellidos}
    <br><br>
    Usuario ejecutante del evento:<br>
    %{trigger_user.email}, <br>
    %{trigger_user.nombre},<br>
    %{trigger_user.apellidos}

  </div>
</div>