<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @sel_notification_template.group %>
</p>

<p>
  <b>Event:</b>
  <%= @sel_notification_template.event %>
</p>

<p>
  <b>Name:</b>
  <%= @sel_notification_template.name %>
</p>

<p>
  <b>Description:</b>
  <%= @sel_notification_template.description %>
</p>

<p>
  <b>Active:</b>
  <%= @sel_notification_template.active %>
</p>

<p>
  <b>To:</b>
  <%= @sel_notification_template.to %>
</p>

<p>
  <b>Cc:</b>
  <%= @sel_notification_template.cc %>
</p>

<p>
  <b>Subject:</b>
  <%= @sel_notification_template.subject %>
</p>

<p>
  <b>Body:</b>
  <%= @sel_notification_template.body %>
</p>


<%= link_to 'Edit', edit_sel_notification_template_path(@sel_notification_template) %> |
<%= link_to 'Back', sel_notification_templates_path %>
