<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver'.html_safe, companies_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Parámetros
      <span>> Editar correos electrónicos para envío de notificaciones </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">


    <%= form_for @company, html: {class: 'form-horizontal'} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <%= render 'shared/error_messages', object: f.object %>

          <legend>Correos electrónicos para envío de notificaciones</legend>


          <div class="form-group">

            <%= f.label :email_mesa_ayuda, 'Correo electrónico de mesa de ayuda', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :email_mesa_ayuda, class: 'form-control' %>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :notifications_email, 'Correo electrónico que envía notificaciones', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :notifications_email, class: 'form-control' %>

            </div>

          </div>

          <hr>

          <div class="form-group">

            <%= f.label :email_altas, 'Dirección donde se avisa de altas de usuarios', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :email_altas, class: 'form-control' %>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :email_bajas, 'Dirección donde se avisa de bajas de usuarios', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :email_bajas, class: 'form-control' %>

            </div>

          </div>

        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">

            <%= f.submit 'Guardar', class: 'btn btn-primary' %>

          </div>

        </div>

      </div>

    <% end %>


  </div>
</div>

