<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver'.html_safe, companies_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Parámetros
      <span>> Editar CSS del login </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <%= form_for @company, url: companies_update_login_css_path, html: {class: 'form-horizontal', method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <%= render 'shared/error_messages', object: f.object %>

          <legend>CSS del login</legend>

          <div class="form-group">

            <%= f.label :css_login, 'CSS del login', class: 'col-md-1 control-label'%>

            <div class="col-md-11">

              <textarea name="css_login" rows="50" class="form-control">
                <%= @login_css_text %>
              </textarea>

            </div>

          </div>

        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">

            <%= f.submit 'Guardar', class: 'btn btn-primary' %>

          </div>

        </div>

      </div>

    <% end %>

    <div class="panel panel-default">
      <div class="panel-body">

          <div class="row">

            <strong>
              Ejemplo simple
            </strong>

            <br>
            <br>

            <div class="col-md-1">

            </div>

            <div class="col-md-11">

              <textarea rows="20" class="form-control">

              /* desktop */

              .background-login-<%= $current_domain %> {
                background:url("/storage/<%= @company.codigo %>/design/bg_login_generica.jpg") top left no-repeat fixed !important;
                background-size: 100% auto !important;
                display:block !important;
              }

              .position-form-login-<%= $current_domain %> {
                position: absolute !important;
                margin-left: 0 !important;
                right: 40px !important;
                top: 182px !important;
              }

              .form-box-login-<%= $current_domain %>{

                width: 400px !important;

                min-height: 20px !important;
                padding: 19px !important;
                -webkit-border-radius: 6px !important;
                -moz-border-radius: 6px !important;
                border-radius: 6px !important;
                border: none !important;
                -webkit-box-shadow: none !important;
                -moz-box-shadow: none !important;
                box-shadow: none !important;

                background-color: rgba(0,0,0,0.5) !important;

              }

              /* mobile */

              .background-login-mobile-<%= $current_domain %>{

                background-image: url("/storage/<%= @company.codigo %>/design/bg_login_mobile.jpg") !important;

                background-position: center center !important;
                background-size: cover !important;
                -webkit-background-size: cover !important;
                -moz-background-size: cover !important;
                -o-background-size: cover !important;

                background-repeat: no-repeat !important;
                background-attachment: fixed !important;
              }

              .position-form-login-mobile-<%= $current_domain %>{
                position: relative !important;
                left: auto !important;
                margin-left: auto !important;
                top: 40px !important;
                right: auto !important;
              }

              .form-box-login-mobile-<%= $current_domain %>{
                width: 100% !important;

                min-height: 20px !important;
                padding: 19px !important;
                -webkit-border-radius: 6px !important;
                -moz-border-radius: 6px !important;
                border-radius: 6px !important;
                border: none !important;
                -webkit-box-shadow: none !important;
                -moz-box-shadow: none !important;
                box-shadow: none !important;

                background-color: rgba(0,0,0,0.5) !important;

              }

              /* desktop-mobile */

              .form-box-login-text-<%= $current_domain %>{

                color: #ffffff !important;

              }
/*


              .form-control-login-<%= $current_domain %>{
                background:  !important;
                color:  !important;
                font-weight:  !important;
              }

              .btn-login-<%= $current_domain %>{
                background-color:  !important;
                border-color:  !important;
              }

              .btn-login-<%= $current_domain %>:hover{
                background-color:  !important;
                border-color:  !important;
              }
*/
            </textarea>

            </div>

          </div>


      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-body">
            <br>

          <div class="row">

            <strong>
              Ejemplo multiples resoluciones
            </strong>

            <br>
            <br>


            <div class="col-md-1">

            </div>

            <div class="col-md-11">


            <textarea rows="50" class="form-control">

              /* desktop */

                .form-box-login-<%= $current_domain %>{

                  width: 400px !important;

                  min-height: 20px !important;
                  padding: 19px !important;
                  -webkit-border-radius: 6px !important;
                  -moz-border-radius: 6px !important;
                  border-radius: 6px !important;
                  border: none !important;
                  -webkit-box-shadow: none !important;
                  -moz-box-shadow: none !important;
                  box-shadow: none !important;

                  background-color: rgba(0,0,0,0.5) !important;

                }

                @media screen and (min-width: 10px) {
                  .background-login-<%= $current_domain %> {
                    background:url("/storage/<%= @company.codigo %>/design/bg_login_1024.jpg") top left no-repeat fixed !important;
                    background-size: 100% auto !important;
                    display:block !important;
                  }
                  .position-form-login-<%= $current_domain %> {
                    margin-left: 0 !important;
                    position: absolute !important;
                    right: 40px !important;
                    top: 182px !important;
                  }
                }

                @media screen and (min-width: 1024px) {
                  .background-login-<%= $current_domain %> {
                    background:url("/storage/<%= @company.codigo %>/design/bg_login_1024.jpg") top left no-repeat fixed !important;
                    background-size: 100% auto !important;
                    display:block !important;
                  }
                  .position-form-login-<%= $current_domain %> {
                    margin-left: 0 !important;
                    position: absolute !important;
                    right: 40px !important;
                    top: 182px !important;
                  }
                }


                @media screen and (min-width: 1280px) {
                  .background-login-<%= $current_domain %> {
                    background:url("/storage/<%= @company.codigo %>/design/bg_login_1280.jpg") top left no-repeat fixed !important;
                    background-size: 100% auto !important;
                    display:block !important;
                  }
                  .position-form-login-<%= $current_domain %> {
                    margin-left: 0 !important;
                    position: absolute !important;
                    right: 40px !important;
                    top: 190px !important;
                  }
                }

                @media screen and (min-width: 1366px) {
                  .background-login-<%= $current_domain %> {
                    background:url("/storage/<%= @company.codigo %>/design/bg_login_1366.jpg") top left no-repeat fixed !important;
                    background-size: 100% auto !important;
                    display:block !important;
                  }
                  .position-form-login-<%= $current_domain %> {
                    margin-left: 0 !important;
                    position: absolute !important;
                    right: 40px !important;
                    top: 190px !important;
                  }
                }

                @media screen and (min-width: 1440px) {
                  .background-login-<%= $current_domain %> {
                    background:url("/storage/<%= @company.codigo %>/design/bg_login_1440.jpg") top left no-repeat fixed !important;
                    background-size: 100% auto !important;
                    display:block !important;
                  }
                  .position-form-login-<%= $current_domain %> {
                    margin-left: 0 !important;
                    position: absolute !important;
                    right: 40px !important;
                    top: 212px !important;
                  }
                }

                @media screen and (min-width: 1920px) {
                  .background-login-<%= $current_domain %> {
                    background:url("/storage/<%= @company.codigo %>/design/bg_login_1920.jpg") top left no-repeat fixed !important;
                    background-size: 100% auto !important;
                    display:block !important;
                  }
                  .position-form-login-<%= $current_domain %> {
                    margin-left: 0 !important;
                    position: absolute !important;
                    right: 40px !important;
                    top: 212px !important;
                  }
                }

                /* mobile */

                .background-login-mobile-<%= $current_domain %>{

                  background-image: url("/storage/<%= @company.codigo %>/design/bg_login_mobile.jpg") !important;

                  background-position: center center !important;
                  background-size: cover !important;
                  -webkit-background-size: cover !important;
                  -moz-background-size: cover !important;
                  -o-background-size: cover !important;

                  background-repeat: no-repeat !important;
                  background-attachment: fixed !important;
                }

                .position-form-login-mobile-<%= $current_domain %>{
                  position: relative !important;
                  left: auto !important;
                  margin-left: auto !important;
                  top: 40px !important;
                  right: auto !important;
                }

                .form-box-login-mobile-<%= $current_domain %>{
                  width: 100% !important;

                  min-height: 20px !important;
                  padding: 19px !important;
                  -webkit-border-radius: 6px !important;
                  -moz-border-radius: 6px !important;
                  border-radius: 6px !important;
                  border: none !important;
                  -webkit-box-shadow: none !important;
                  -moz-box-shadow: none !important;
                  box-shadow: none !important;

                  background-color: rgba(0,0,0,0.5) !important;

                }

                /* desktop-mobile */

                .form-box-login-text-<%= $current_domain %>{

                  color: #ffffff !important;

                }

                /*

                  .form-control-login-<%= $current_domain %>{
                    background:  !important;
                    color:  !important;
                    font-weight:  !important;
                  }

                  .btn-login-<%= $current_domain %>{
                    background-color:  !important;
                    border-color:  !important;
                  }

                  .btn-login-<%= $current_domain %>:hover{
                    background-color:  !important;
                    border-color:  !important;
                  }
                */

            </textarea>

            </div>



          </div>

      </div>
    </div>


  </div>
</div>

