<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver'.html_safe, companies_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Parámetros
      <span>> Cambiar imagen de la cabecera </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for companies_update_header_img_path, html: {class: 'form-horizontal', role: 'form', multipart: true, method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Subir imagen</legend>

          <div class="form-group">

            <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= file_field 'upload', 'datafile', class: 'form-control' %>

              <br>

              <em>La altura de la imagen debe ser 100px</em>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Subir', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    <% end %>


  </div>
</div>