<%= form_for @jm_profile_section, html: {class: 'form-horizontal'} do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.jm_profile_sections.shared.section_data') %></legend>

        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group <%= field_with_errors f, :position %>">
          <%= f.label :position, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.number_field :position, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :name %>">
          <%= f.label :name, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :description %>">
          <%= f.label :description, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_area :description, class: 'form-control', :rows => 3 %>
          </div>
        </div>
      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit t('views.jm_profile_sections.form.submit_button'), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>