<p id="notice"><%= notice %></p>

<p>
  <b>Position:</b>
  <%= @jm_profile_section.position %>
</p>

<p>
  <b>Name:</b>
  <%= @jm_profile_section.name %>
</p>

<p>
  <b>Description:</b>
  <%= @jm_profile_section.description %>
</p>


<%= link_to 'Edit', edit_jm_profile_section_path(@jm_profile_section) %> |
<%= link_to 'Back', jm_profile_sections_path %>
