<%= form_for @hr_process_template, html: {class: 'form-horizontal'} do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group <%= field_with_errors f, :nombre %>">

    <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

    <div class="col-md-9">

      <%= f.text_field :nombre %>

    </div>

  </div>

  <div class="form-group">

    <%= f.label :descripcion, 'Descripción', class: 'col-md-3 control-label'%>

    <div class="col-md-9">

      <%= f.text_area :descripcion, rows: '5', class: 'span11'  %>



    </div>

  </div>

  <div class="form-group">

    <%= f.label :activo, 'Activo', class: 'col-md-3 control-label' %>

    <div class="col-md-9">

      <%= f.check_box :activo %>

    </div>

  </div>

  <hr>



  <div class="form-group">

    <div class="col-md-9">

      <%= f.submit 'Guardar', class: 'btn btn-primary' %>

    </div>

  </div>

<% end %>
