

<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de plantillas de proceso de evaluación', hr_process_templates_path, tabindex: '-1' %>

  </li>
  <li class="active">Eliminar plantilla de proceso de evaluación</li>
</ul>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <legend class="text-center">Eliminar plantilla de proceso de evaluación</legend>

    <div class="row">
      <div class="col-md-3">
        <strong>Nombre</strong>
      </div>
      <div class="col-md-9">
        <%= @hr_process_template.nombre %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Descripción</strong>
      </div>
      <div class="col-md-9">
        <%= @hr_process_template.descripcion %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Activo</strong>
      </div>
      <div class="col-md-9">
        <%= '<i class="fa fa-check"></i>'.html_safe if @hr_process_template.activo %>
      </div>
    </div>

    <%= form_for @hr_process_template, html: { method: :delete } do |f| %>

      <%= recaptcha_tags :display=>{:theme=>'clean'} %>

      <%= f.submit 'Eliminar', class: 'btn btn-primary' %>

    <% end %>

  </div>
</div>




