
<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de plantillas de proceso de evaluación', hr_process_templates_path, tabindex: '-1' %>

  </li>
  <li class="active">Editar plantilla de proceso de evaluación</li>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3 form-box-<%= $current_domain %>">

    <legend class="text-center">Editar plantilla de proceso de evaluación</legend>

    <%= render 'form' %>

  </div>
</div>

