<div class="panel panel-default">
  <div class="panel-body">

    <legend>Lista de plantillas de proceso de evaluación</legend>

    <table class="table table-striped table-hover table-bordered">

      <thead>

        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Activo</th>
          <th>Procesos</th>
          <th colspan="3">
            <%= link_to 'Crear una nueva plantilla de proceso de evaluación', new_hr_process_template_path %>
          </th>
        </tr>

      </thead>

      <tbody>

        <% @hr_process_templates.each_with_index do |hr_process_template, index| %>
          <tr>
            <td>
              <%= index+1 %>
            </td>
            <td><%= hr_process_template.nombre %></td>
            <td><%= hr_process_template.descripcion %></td>
            <td>
              <%= '<i class="fa fa-check"></i>'.html_safe if hr_process_template.activo %>
            </td>
            <td>
              <% hr_process_template.hr_processes.each do |hr_p| %>
                - <%= hr_p.nombre %><br>
              <% end %>
            </td>
            <td><%= link_to 'Configurar', hr_process_template %></td>
            <td><%= link_to 'Editar', edit_hr_process_template_path(hr_process_template) %></td>
            <td>
              <% if hr_process_template.hr_process_dimensions.length == 0 &&
                    hr_process_template.hr_process_quadrants.length == 0 &&
                    hr_process_template.hr_processes.length == 0 %>
                <%= link_to 'Eliminar', delete_hr_process_template_path(hr_process_template) %>
              <% end %>
            </td>
          </tr>
        <% end %>

      </tbody>

    </table>
  </div>
</div>

