
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process,'reports'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Reporte de resultados finales detallados
      <span>> Editar características </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/show' %>

      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @pe_process, url: pe_characteristics_update_rep_detailed_final_results_path(@pe_process), html: {class: 'form-horizontal', method: :post} do |f| %>


      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Características del reporte</legend>

          <div class="form-group">

            <label class="col-md-3 control-label">Característica</label>


            <div class="col-md-3">
              ¿Se visualizará en el reporte? <em>En la cabecera</em>
            </div>
            <div class="col-md-6">
              Órden en el que se visualizará
            </div>
          </div>



          <% @pe_process.pe_characteristics.each do |pe_characteristic| %>

            <div class="form-group">

              <label class="col-md-3 control-label"><%= pe_characteristic.characteristic.nombre %></label>

              <div class="col-md-3">

                <input type="checkbox" name="cha_<%= pe_characteristic.id %>_active" id="cha_<%= pe_characteristic.id %>_active" <%= 'checked' if pe_characteristic.active_rep_detailed_final_results %>>

                <script>
                  $('#cha_<%= pe_characteristic.id %>_active').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  }).on('switchChange.bootstrapSwitch', function(event, state) {

                    if(state){
                      $('#cha_<%= pe_characteristic.id %>_position').show();
                    }else{
                      $('#cha_<%= pe_characteristic.id %>_position').hide();
                    }

                  });

                </script>

              </div>
              <div class="col-md-6">

                <input type="text" name="cha_<%= pe_characteristic.id %>_position" id="cha_<%= pe_characteristic.id %>_position" class="form-control" value="<%= pe_characteristic.pos_rep_detailed_final_results %>">

                <% unless pe_characteristic.active_rep_detailed_final_results %>
                  <script>
                    $('#cha_<%= pe_characteristic.id %>_position').hide();
                  </script>
                <% end %>

              </div>


            </div>

          <% end %>


        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>