<h1>Listing pe_characteristics</h1>

<table>
  <tr>
    <th>Pe process</th>
    <th>Characteristic</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pe_characteristics.each do |pe_characteristic| %>
  <tr>
    <td><%= pe_characteristic.pe_process %></td>
    <td><%= pe_characteristic.characteristic %></td>
    <td><%= link_to 'Show', pe_characteristic %></td>
    <td><%= link_to 'Edit', edit_pe_characteristic_path(pe_characteristic) %></td>
    <td><%= link_to 'Destroy', pe_characteristic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pe characteristic', new_pe_characteristic_path %>
