<div class="row">

  <div class="col-md-3">

  </div>

  <div class="col-md-6 text-center">

    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      <%= @pe_process.step_feedback_accepted_alias %>
    </h1>

  </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render partial: 'shared/user_profile_mini',
               locals: {
                 user: @pe_member.user,
                 company: @company,
                 ocultar_historial: true,
                 titulo: 'Perfil del Evaluado',
                 is_boss: false

               }
    %>

  </div>
</div>

<% if @pe_process.step_feedback_summary? %>

  <div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Resumen de la evaluación</legend>

        <strong><%= @pe_process.step_assessment_final_result_alias %></strong>

        <table class="table table-bordered table-condensed table-hover">
          <thead>
          <% @pe_process.pe_dimensions.each do |pe_dimension| %>
            <th>
              <%= pe_dimension.name %>
            </th>
            <% break unless @pe_process.two_dimensions? %>
          <% end %>

          <% if @pe_process.public_pe_box && @pe_process.public_pe_members_box %>
            <th colspan="2"><%= @pe_process.step_assessment_final_result_alias %></th>
          <% end %>

          </thead>
          <tbody>
          <tr>

            <% @pe_process.pe_dimensions.each do |pe_dimension| %>

              <% pe_assessment_dimension = @pe_member.pe_assessment_dimension(pe_dimension) %>

              <% if pe_assessment_dimension && pe_assessment_dimension.percentage >= 0 %>

                <td style="<%= 'color: #'+pe_assessment_dimension.pe_dimension_group.text_color+';' if  pe_assessment_dimension.pe_dimension_group %>">
                  <nobr>
                    <%= number_with_precision(pe_assessment_dimension.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

                    <% if @pe_process.public_pe_dimension_name && @pe_process.public_pe_members_dimension_name %>
                      <%= ' - '+pe_assessment_dimension.pe_dimension_group.name if pe_assessment_dimension.pe_dimension_group %>
                    <% end %>

                  </nobr>
                </td>
              <% else %>
                <td></td>
              <% end %>

              <% break unless @pe_process.two_dimensions? %>

            <% end %>

            <% if @pe_process.public_pe_box && @pe_process.public_pe_members_box %>

              <% if @pe_member.pe_box && @pe_member.step_assessment? %>
                <td>
                    <span class="label label-default col-md-12" style="font-size: 0.9em; text-align: center; color: <%= '#'+@pe_member.pe_box.text_color %>; background-color: <%= '#'+@pe_member.pe_box.bg_color %>;">
                      <% if @pe_member.pe_box.short_name %>
                        <%= @pe_member.pe_box.short_name %>
                        <br>
                      <% end %>
                      <%= @pe_member.pe_box.name %>
                    </span>


                </td>
                <% unless @pe_member.pe_box.description.blank? %>
                  <td>
                    <%= @pe_member.pe_box.description %>
                  </td>
                <% end %>
              <% else %>
                <td></td>
                <td></td>
              <% end %>

            <% end %>

          </tr>
          </tbody>
        </table>

        <strong>Valoración por dimensión y evaluación</strong>

        <table class="table table-bordered table-condensed table-hover">

          <thead>
          <tr>
            <th>
              Dimensión
            </th>
            <th>
              Evaluación
            </th>
            <th>
              Peso
            </th>
            <th>
              Resultado
            </th>
            <th>
              Valoración Dimensión
            </th>
          </tr>
          </thead>

          <tbody>
          <% @pe_process.pe_dimensions.each do |pe_dimension| %>

            <% if pe_dimension.pe_evaluations.where('informative = ?', false).size > 0 %>

              <tr>

                <td rowspan="<%= pe_dimension.pe_evaluations.where('informative = ?', false).size %>">
                  <%= pe_dimension.name %>
                </td>
                <% pe_evaluation = pe_dimension.pe_evaluations.first %>

                <td width="20%">
                  <%= pe_evaluation.name %>
                </td>
                <% if @pe_member.has_to_be_assessed_in_evaluation(pe_evaluation) %>
                  <td width="10%">
                    <% pe_member_evaluation = @pe_member.pe_member_evaluations.where('pe_evaluation_id = ?', pe_evaluation.id).first %>
                    <% if pe_member_evaluation %>
                      <%= pe_member_evaluation.weight %>%
                    <% else %>
                      <%= pe_evaluation.weight %>%
                    <% end %>
                  </td>

                  <% pe_assessment_finalevaluation = @pe_member.pe_assessment_final_evaluation(pe_evaluation) %>

                  <% if pe_assessment_finalevaluation && pe_assessment_finalevaluation.percentage >= 0 %>

                    <td style="<%= 'color: #'+pe_assessment_finalevaluation.pe_dimension_group.text_color+';' if pe_assessment_finalevaluation.pe_dimension_group %>">
                      <%= number_with_precision(pe_assessment_finalevaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

                      <% if @pe_process.public_pe_dimension_name && @pe_process.public_pe_members_dimension_name %>
                        <%= ' - '+pe_assessment_finalevaluation.pe_dimension_group.name if pe_assessment_finalevaluation.pe_dimension_group %>
                      <% end %>

                    </td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% else %>
                  <td width="10%">
                    <span class="label label-default">No será evaluado</span>
                  </td>
                  <td>

                  </td>
                <% end %>

                <% pe_assessment_dimension = @pe_member.pe_assessment_dimension(pe_dimension) %>

                <% if pe_assessment_dimension && pe_assessment_dimension.percentage >= 0 %>

                  <td rowspan="<%= pe_dimension.pe_evaluations.size %>" style="<%= 'color: #'+pe_assessment_dimension.pe_dimension_group.text_color+';' if  pe_assessment_dimension.pe_dimension_group %>">
                    <nobr>
                      <%= number_with_precision(pe_assessment_dimension.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                      <% if @pe_process.public_pe_dimension_name && @pe_process.public_pe_members_dimension_name %>
                        <%= ' - '+pe_assessment_dimension.pe_dimension_group.name if pe_assessment_dimension.pe_dimension_group %>
                      <% end %>
                    </nobr>
                  </td>
                <% else %>
                  <td  rowspan="<%= pe_dimension.pe_evaluations.where('informative = ?', false).size %>"></td>
                <% end %>

              </tr>

              <% pe_dimension.pe_evaluations.where('informative = ?', false).each_with_index do |pe_evaluation, pe_eval_index| %>

                <% if pe_eval_index > 0 %>

                  <tr>

                    <td width="20%">
                      <%= pe_evaluation.name %>
                    </td>

                    <% if @pe_member.has_to_be_assessed_in_evaluation(pe_evaluation) %>

                      <td width="10%">
                        <% pe_member_evaluation = @pe_member.pe_member_evaluations.where('pe_evaluation_id = ?', pe_evaluation.id).first %>
                        <% if pe_member_evaluation %>
                          <%= pe_member_evaluation.weight %>%
                        <% else %>
                          <%= pe_evaluation.weight %>%
                        <% end %>
                      </td>

                      <% pe_assessment_finalevaluation = @pe_member.pe_assessment_final_evaluation(pe_evaluation) %>

                      <% if pe_assessment_finalevaluation && pe_assessment_finalevaluation.percentage >= 0 %>

                        <td style="<%= 'color: #'+pe_assessment_finalevaluation.pe_dimension_group.text_color+';' if pe_assessment_finalevaluation.pe_dimension_group %>">
                          <%= number_with_precision(pe_assessment_finalevaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                          <% if @pe_process.public_pe_dimension_name && @pe_process.public_pe_members_dimension_name %>
                            <%= ' - '+pe_assessment_finalevaluation.pe_dimension_group.name if pe_assessment_finalevaluation.pe_dimension_group %>
                          <% end %>
                        </td>
                      <% else %>
                        <td></td>
                      <% end %>

                    <% else %>
                      <td width="10%">
                        <span class="label label-default">No será evaluado</span>
                      </td>
                      <td></td>
                    <% end %>

                  </tr>

                <% end %>

              <% end %>

            <% end %>

            <% break unless @pe_process.two_dimensions? %>

          <% end %>

          </tbody>

        </table>

      </div>
    </div>

  </div>
</div>

<% end %>

<% if @pe_process.step_feedback_accepted_show_rep_dfr? %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="alert alert-info">
        <%= @pe_process.step_feedback_accepted_show_rep_dfr_text.html_safe unless @pe_process.step_feedback_accepted_show_rep_dfr_text.blank? %>
        <div class="text-right">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Ver reporte detallado de la evaluación
          </a>
        </div>
      </div>

      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= render partial: 'pe_reporting/rep_detailed_final_results_person_common',
                       locals: {
                           show_feedback: false,
                           show_calibration: false,
                           show_pe_member_box: (@pe_process.public_pe_box && @pe_process.public_pe_members_box),
                           show_pe_member_dimension_name: (@pe_process.public_pe_dimension_name && @pe_process.public_pe_members_dimension_name),
                           show_comments: false

                       }
            %>
          </div>
        </div>

      </div>

    </div>
  </div>
<% end %>

<% if @pe_process.step_feedback_accepted_show_rep_dfr_pdf? %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="row">
        <div class="col-md-2 col-md-offset-10">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <%= link_to 'Descargar reporte detallado en PDF', pe_feedback_accept_rep_detailed_final_results_pdf_path(@pe_process) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>





  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default">
        <div class="panel-body">

          <legend><%= @pe_process.step_feedback_alias %></legend>

          <% @pe_process.pe_feedback_fields.each_with_index do |pe_feedback_field, index| %>

            <% pe_member_feedback = @pe_member.pe_member_feedbacks_by_field(pe_feedback_field) %>

            <% if index > 0 %>
              <hr>
            <% end %>

            <div class="row">

              <label class="col-md-12 control-label text-left">
                <strong><%= (index+1).to_s+'.' if @pe_process.pe_feedback_fields.size > 1%> <%= pe_feedback_field.name %></strong>
              </label>

            </div>

            <% if pe_feedback_field.simple %>

              <div class="row">
                <div class="col-md-12">

                  <%= pe_member_feedback.formatted_comment if pe_member_feedback %>

                </div>
              </div>

            <% else %>

              <% width_col = 12/pe_feedback_field.pe_feedback_compound_fields.size %>

              <% if pe_member_feedback %>

                <table class="table table-bordered table-condensed">

                  <thead>
                  <tr>
                    <th>#</th>
                    <% pe_feedback_field.pe_feedback_compound_fields.each_with_index do |pe_feedback_compound_field, index_c| %>

                      <th><%= pe_feedback_compound_field.name %></th>

                    <% end %>
                  </tr>
                  </thead>

                  <tbody>

                  <% (1..pe_member_feedback.number_of_compound_feedbacks).each do |number_of_compound_feedback| %>

                    <tr>

                      <td><%= number_of_compound_feedback %></td>

                      <% pe_feedback_field.pe_feedback_compound_fields.each_with_index do |pe_feedback_compound_field, index_c| %>

                        <% pe_member_compound_feedback = pe_member_feedback.pe_member_compound_feedbacks_by_field(number_of_compound_feedback, pe_feedback_compound_field) %>

                        <td>

                          <%= pe_member_compound_feedback.formatted_comment if pe_member_compound_feedback %>

                        </td>

                      <% end %>

                    </tr>

                  <% end %>

                  </tbody>

                </table>

              <% end %>

            <% end %>

          <% end %>

        </div>

      </div>

      <% feedback_field_lists_array = Hash.new%>

      <% @pe_process.pe_feedback_field_lists.each do |pe_feedback_field_list| %>

        <% feedback_field_lists_array[pe_feedback_field_list.id.to_s] = pe_feedback_field_list.pe_feedback_field_list_items.each.map { |pe_feedback_field_list_item| [pe_feedback_field_list_item.description, pe_feedback_field_list_item.id] } %>

      <% end %>

      <%= form_for @pe_member, url: pe_feedback_accept_accept_path(@pe_process), html: {class: 'form-horizontal', method: :post} do |f| %>

        <div class="panel panel-default">
          <div class="panel-body">

            <% if @pe_member.step_feedback %>

              <legend><%= @pe_process.step_feedback_accepted_alias %></legend>

              <% if @pe_member.step_feedback_accepted? %>

                <div class="alert alert-success">
                  La confirmación fue realizada el

                  <%= (localize @pe_member.step_feedback_accepted_date, format: :full_date) %>

                </div>

                <% begin_survey = false %>

                <% index = 0 %>

                <% @pe_process.pe_feedback_accepted_fields.each do |pe_feedback_accepted_field| %>

                  <% if pe_feedback_accepted_field.is_survey %>

                    <% unless begin_survey %>

                      <hr>
                      <legend>Encuesta</legend>
                      <% begin_survey = true %>
                      <% index = 0 %>

                    <% end %>

                  <% end %>

                  <% pe_member_accepted_feedback = @pe_member.pe_member_accepted_feedbacks_by_field(pe_feedback_accepted_field) %>

                  <div class="row">

                    <label class="col-md-12 control-label text-left">
                      <strong><%= (index+=1).to_s+'.' if @pe_process.pe_feedback_accepted_fields.size > 1%> <%= pe_feedback_accepted_field.name %></strong>
                    </label>

                  </div>

                  <% if pe_feedback_accepted_field.simple %>

                    <div class="row">
                      <div class="col-md-12">

                        <%= pe_member_accepted_feedback.formatted_comment if pe_member_accepted_feedback %>

                      </div>
                    </div>

                  <% end %>

                <% end %>

              <% else %>

                <% begin_survey = false %>

                <% index = 0 %>

                <% @pe_process.pe_feedback_accepted_fields.each do |pe_feedback_accepted_field| %>

                  <% pe_member_accepted_feedback = @pe_member.pe_member_accepted_feedbacks_by_field(pe_feedback_accepted_field) %>

                  <% if index > 0 %>
                    <hr>
                  <% end %>

                  <% if pe_feedback_accepted_field.is_survey %>

                    <% unless begin_survey %>

                      <legend>Encuesta</legend>
                      <% begin_survey = true %>
                      <% index = 0 %>

                    <% end %>

                  <% end %>

                  <div class="row <%= 'has-error' if @feedback_error && !pe_member_accepted_feedback %>">

                    <label class="col-md-12 control-label text-left">
                      <strong><%= index+=1 %>. <%= pe_feedback_accepted_field.name %> <%= '(*)' if pe_feedback_accepted_field.simple && pe_feedback_accepted_field.required %></strong>
                    </label>

                  </div>

                  <% if pe_feedback_accepted_field.simple %>

                    <div class="row <%= 'has-error' if @feedback_error && !pe_member_accepted_feedback %>">
                      <div class="col-md-12">

                        <% if pe_feedback_accepted_field.field_type == 0 %>

                          <textarea name="feedback_accepted_field_<%= pe_feedback_accepted_field.id %>" id="feedback_accepted_field_<%= pe_feedback_accepted_field.id %>" class="form-control" rows="4"><%= pe_member_accepted_feedback.comment if pe_member_accepted_feedback %></textarea>

                          <script type="text/javascript">
                            $('#feedback_accepted_field_<%= pe_feedback_accepted_field.id %>').wysihtml5({
                              "font-styles": false,
                              "emphasis": true,
                              "lists": true,
                              "html": false,
                              "link": false,
                              "image": false,
                              "color": false
                            });
                          </script>

                        <% elsif pe_feedback_accepted_field.field_type == 1 %>



                        <% elsif pe_feedback_accepted_field.field_type == 2 %>

                          <% if pe_feedback_accepted_field.pe_feedback_field_list %>

                            <div class="row">
                              <div class="col-md-6">

                                <% list_item_id = pe_member_accepted_feedback.list_item_id if pe_member_accepted_feedback %>

                                <%= select_tag('feedback_accepted_field_'+pe_feedback_accepted_field.id.to_s, options_for_select(feedback_field_lists_array[pe_feedback_accepted_field.pe_feedback_field_list.id.to_s], list_item_id), {class: 'form-control', prompt: '-- Seleccionar --'}) %>

                                <script>

                                  $('#feedback_accepted_field_<%= pe_feedback_accepted_field.id %>').select2();

                                </script>

                              </div>
                            </div>
                          <% end %>

                        <% end %>

                      </div>
                    </div>

                  <% else %>

                    <div id="container_pe_feedback_accepted_field_<%= pe_feedback_accepted_field.id %>">



                    </div>

                  <% end %>

                  <br>

                <% end %>

                <% if @pe_process.pe_feedback_accepted_fields.size > 0 %>

                <hr>

                <em>Los campos marcados con (*) son obligatorios</em>
                <br>

                <% end %>

              <% end %>

            <% end %>

          </div>

          <% if @pe_member.step_feedback %>

            <% unless @pe_member.step_feedback_accepted? %>


              <div class="panel-footer clearfix">
                <div class="col-md-8">

                  <label class="checkbox">
                    <%= f.check_box :step_feedback_accepted, onchange: 'set_save_feedback(this);' %>
                    <%= @pe_process.step_feedback_accepted_finish_message %>
                  </label>

                </div>
                <div class="text-right col-md-4">

                  <%= f.submit 'Confirmar', class: 'btn  disabled', id: 'button_save_feedback', disabled: 'disabled'  %>

                  <a id= 'suggestion_make_check_save_feedback' data-toggle= 'tooltip' title= 'Para habilitar el botón "Confirmar" debe indicar que confirma que ha recibido la retroalimentación marcando el check '>
                    <i class="fa fa-question"></i>
                  </a>

                </div>
              </div>


              <script>
                function set_save_feedback(c){
                  if(c.checked){
                    $('#button_save_feedback').removeClass('disabled');
                    $('#button_save_feedback').addClass('btn-success');

                    $('#button_save_feedback').removeAttr('disabled');
                  }else{
                    $('#button_save_feedback').removeClass('btn-success');
                    $('#button_save_feedback').addClass('disabled');

                    $('#button_save_feedback').attr("disabled", "disabled");
                  }
                }
                $('#suggestion_make_check_save_feedback').tooltip({
                  placement: 'top'
                });
              </script>

            <% end %>

          <% else %>

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="alert alert-danger">
                  Aún no ha sido realizada

                </div>
              </div>
            </div>

          <% end %>


        </div>

      <% end %>

    </div>

  </div>
