<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a definir bono'.html_safe, brc_define_show_path(@brc_member), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Bono rol comercial
      <span>> Definir bonos </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos del proceso
        </legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Año</strong>
          </div>
          <div class="col-md-9">
            <%= @brc_process.year %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Periodo</strong>
          </div>
          <div class="col-md-9">
            <%= @brc_process.period_name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Cohade</strong>
          </div>
          <div class="col-md-9">
            <%= @brc_process.secu_cohade.name if @brc_process.secu_cohade %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos de la persona
        </legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong><%= alias_username%></strong>
          </div>
          <div class="col-md-9">
            <%= @brc_member.user.codigo %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Apellidos</strong>
          </div>
          <div class="col-md-9">
            <%= @brc_member.user.apellidos %>
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @brc_member.user.nombre %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Definido</strong>
          </div>
          <div class="col-md-9">
            <%= label_yes_not @brc_member.status_def %>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @brc_bonus_item, url: brc_define_update_path(@brc_bonus_item), html: {class: 'form-horizontal', role: 'form'} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Datos del bono</legend>

          <% if @brc_bonus_item.rejected %>


            <div class="alert alert-danger">
              Rechazado: <%= @brc_bonus_item.val_comment %>
            </div>


          <% end %>

          <%= f.hidden_field :brc_process_id %>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="row">

            <div class="col-md-3 text-align-right">
              Categoría
            </div>

            <div class="col-md-9">


              <%= @brc_bonus_item.brc_category.name %>


            </div>

          </div>

          <br>

          <div class="form-group">

            <%= f.label :p_a, 'Tipo', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :p_a, class: 'form-control', onchange: 'set_field()'  %>

              <script>
                $('#brc_bonus_item_p_a').bootstrapSwitch({
                  onColor: 'success',
                  onText: "%",
                  offColor: 'primary',
                  offText: "monto",
                  size: "small"
                });
              </script>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :percentage %>" id="field_percentage">

            <%= f.label :percentage, 'Porcentaje', class: 'col-md-3 control-label' %>

            <div class="col-md-9">



              <div class="input-group">
                <%= f.text_field :percentage, class: 'form-control', value: number_with_precision(@brc_bonus_item.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>

                <span class="input-group-addon">
                  % SUBASO
                </span>

              </div>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :amount %>" id="field_amount">

            <%= f.label :amount, 'Monto', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <div class="input-group">
                <%= f.text_field :amount, class: 'form-control', value: number_with_precision(@brc_bonus_item.amount, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>

                <span class="input-group-addon">
                  pesos
                </span>

              </div>


            </div>

          </div>



        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>


  </div>
</div>

<script>
  function set_field(){

    if($('#brc_bonus_item_p_a').is(":checked")){
      $('#field_percentage').show();
      $('#field_amount').hide();
    }else{
      $('#field_percentage').hide();
      $('#field_amount').show();
    }

  }

  $(function() {
    set_field($('#brc_bonus_item_p_a'));
  });


</script>