<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de procesos'.html_safe, brc_define_list_processes_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Bono rol comercial
      <span>> Definir bonos </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos del proceso
        </legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Año</strong>
          </div>
          <div class="col-md-9">
            <%= @brc_process.year %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Periodo</strong>
          </div>
          <div class="col-md-9">
            <%= @brc_process.period_name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Cohade</strong>
          </div>
          <div class="col-md-9">
            <%= @brc_process.secu_cohade.name if @brc_process.secu_cohade %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Límite de tiempo para realizar la definición</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @brc_process.def_date, format: :day_snmonth_syear) %>

            <% if lms_time > @brc_process.def_date %>
              <span class="label label-danger">Hace
                <%= distance_of_time_in_words(@brc_process.def_date, lms_time) %>
              </span>
            <% else %>
              <span class="label label-primary">En
                <%= distance_of_time_in_words(lms_time, @brc_process.def_date) %>
              </span>
            <% end %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Bonos definidos por empresa y categoría</legend>

        <div>

          <table class="table table-striped table-bordered table-hover">

            <thead>
            <tr>
              <th>Empresa</th>
              <th>Categoría</th>
              <th>Bono</th>
              <th>Comentario del validador al rechazar el bono</th>
            </tr>
            </thead>
            <tbody>

            <% @characteristic_company.characteristic_values.each do |c_v| %>

              <% if @companies_ids.include? c_v.id %>

                <% BrcCategory.all.each do |brc_c| %>

                  <tr id="r_<%= c_v.id %>_<%= brc_c.id %>">
                    <td><%= c_v.value_string %></td>
                    <td><%= brc_c.name %></td>

                    <% t = 0 %>

                    <% num_rej = 0 %>

                    <% @brc_members.each do |brc_m| %>

                      <% c_id = brc_m.user.characteristic_value @characteristic_company %>

                      <% if c_id == c_v.id %>

                        <% brc_m.brc_bonus_items.each do |brc_m_i| %>

                          <% if brc_m_i.brc_category_id == brc_c.id %>

                            <% t += brc_m_i.p_a ? brc_m_i.amount_c : brc_m_i.amount %>

                            <% if !brc_m_i.validated && brc_m_i.rejected %>
                              <% num_rej += 1 %>
                            <% end %>

                          <% end %>

                        <% end %>

                      <% end %>

                    <% end %>
                    <td>

                      <%= number_with_precision(t, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>

                    </td>

                    <% brcv = @brc_process.brc_process_categ_vals.where('characteristic_value_id = ? AND brc_category_id = ?', c_v.id, brc_c.id).first %>

                    <td class="<%= 'danger' if num_rej > 0 %>">

                      <%= brcv.comment_val if brcv && num_rej > 0 %>

                    </td>
                  </tr>

                  <% if t == 0 %>

                    <script>
                      $('#r_<%= c_v.id %>_<%= brc_c.id %>').hide();
                    </script>

                  <% end %>

                <% end %>

              <% end %>

            <% end %>

            </tbody>

          </table>

          <div class="text-align-right">
            <%= link_to 'Descargar lista de categorías', brc_define_download_categories_excel_path %>
          </div>

        </div>

      </div>

    </div>

    <%= form_for BrcMember.new, url: brc_define_massive_finish_path(@brc_process), method: :post do |f| %>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Lista de personas a definir bono</legend>

        <div class="text-align-right">

          <%= link_to 'Descargar bonos definidos', brc_define_download_defined_bonus_path(@brc_process)  %>

          &nbsp;&nbsp;&nbsp;&nbsp;

          <%= link_to 'Definición masiva de bonos', brc_define_massive_assign_members_path(@brc_process) %>

        </div>

        <input id="master_check" type="checkbox" onchange="check_all_checks();"> Seleccionar todos

        <table id="datatable_define" class="table table-striped table-bordered smart-form table-hover" width="100%" style="font-size: 11px;">

          <thead>

          <tr>
            <th>
            </th>
            <th>#</th>
            <th><%= alias_username %></th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th>Empresa</th>
            <th>Categoría</th>
            <th>Estado</th>
            <th>Enviado a validación</th>
            <th>Validado</th>
            <th></th>
          </tr>

          <tr>
            <td>
              <label class="input">
                <input type="text" class="hidden">
              </label>

            </td>
            <td>
              <label class="input">
                <input type="text" class="hidden">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td></td>
          </tr>

          </thead>

          <tbody>

          <% available_items = false %>

          <% @brc_members.each_with_index do |brc_member, index| %>

            <tr>
              <td>
                <% unless brc_member.status_def %>
                  <%= check_box('list_item', brc_member.id, {class: 'list_item', onchange: 'check_master_check()'}, brc_member.id.to_s, '0')%>
                  <% available_items = true %>
                <% end %>
              </td>
              <td><%= index+1 %></td>
              <td><%= brc_member.user.codigo %></td>
              <td><%= brc_member.user.apellidos %></td>
              <td><%= brc_member.user.nombre %></td>
              <td><%= brc_member.user.formatted_characteristic_value @characteristic_company %></td>
              <td>
                <% brc_member.brc_bonus_items.each_with_index do |bi, i| %>
                  <%= '<br>'.html_safe if i > 0%>
                  <%= bi.brc_category.name %>
                <% end %>
              </td>
              <td>
                <% if brc_member.user.activo %>
                  <span class="label label-success label-smart-table">Activo</span>
                <% else %>
                  <span class="label label-danger label-smart-table">Inactivo</span>
                <% end %>
              </td>
              <td><%= label_yes_not_datable brc_member.status_def %></td>
              <td>

                <% if brc_member.status_val %>
                  <%= label_yes_not_datable brc_member.status_val %>
                <% else %>

                  <% if brc_member.status_rej %>
                    <span class="label label-danger label-smart-table">&nbsp;Rechazado&nbsp;</span>
                  <% else %>
                    <%= label_yes_not_datable brc_member.status_val %>
                  <% end %>

                <% end %>

              </td>
              <td>
                <% if brc_member.status_def %>
                  <%= link_to 'Consultar', brc_define_show_path(brc_member) %>
                <% else %>
                  <%= link_to 'Definir', brc_define_show_path(brc_member) %>
                <% end %>
              </td>
            </tr>
          <% end %>

          </tbody>
        </table>

      </div>

      <% if available_items %>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Enviar a validación', class: 'btn btn-primary' %>
          </div>
        </div>

      <% else %>

        <script>
          $('#master_check').hide();
        </script>

      <% end %>

    </div>

    <% end %>

    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-bordered " style="font-size: 11px;">
          <thead>
          <tr>
            <th colspan="2">Estado</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><span class="label label-success">Activo</span></td>
            <td>Aún trabaja en la empresa</td>
          </tr>
          <tr>
            <td><span class="label label-danger">Inactivo</span></td>
            <td>Ya no trabaja en la empresa</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  function check_all_checks(){

    var check_all = false;

    if($('#master_check').is(':checked')){
      check_all = true;
    }

    $('.list_item').each(function(){
      $(this).prop('checked', check_all);
    });

  }

  function check_master_check(){

    var checked_all = true;

    $('.list_item').each(function(){
      if(!$(this).is(':checked')){
        checked_all = false;
      }
    });

    if(checked_all){
      $('#master_check').prop('checked', true);
    }else{
      $('#master_check').prop('checked', false);
    }

  }

</script>


<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_define'
           }
%>