
<%= form_for @hr_evaluation_type, html: {class: 'form-horizontal'} do |f| %>

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group <%= field_with_errors f, :nombre %>">

          <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.text_field :nombre, class: 'form-control' %>

          </div>

        </div>

        <div class="form-group <%= field_with_errors f, :descripcion %>">

          <%= f.label :descripcion, 'Descripcion', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.text_area :descripcion, class: 'form-control', rows: 5 %>

          </div>

        </div>

        <div class="form-group <%= field_with_errors f, :descripcion %>">

          <%= f.label :explanation, 'Explicación (aparece en la pantalla de evaluación)', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.text_area :explanation, class: 'form-control', rows: 5  %>

            <script type="text/javascript">
              $('#hr_evaluation_type_explanation').wysihtml5({
                "font-styles": false,
                "emphasis": true,
                "lists": true,
                "html": true,
                "link": false,
                "image": false,
                "color": false
              });
            </script>

          </div>

        </div>

        <div class="form-group">

          <%= f.label :activo, 'Activo', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :activo %>

          </div>

        </div>
        <hr>
        <div class="form-group">

          <%= f.label :from_jobs, 'Jala funciones del módulo de puestos', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :from_jobs %>

          </div>

        </div>
        <hr>
        <div class="form-group">

          <%= f.label :from_jobs_com, 'Jala competencias del módulo de puestos', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :from_jobs_com %>

          </div>

        </div>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      </div>
  </div>
<% end %>




