<%= form_for(@pe_member_group) do |f| %>
  <% if @pe_member_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pe_member_group.errors.count, "error") %> prohibited this pe_member_group from being saved:</h2>

      <ul>
      <% @pe_member_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pe_process %><br />
    <%= f.text_field :pe_process %>
  </div>
  <div class="field">
    <%= f.label :pe_member %><br />
    <%= f.text_field :pe_member %>
  </div>
  <div class="field">
    <%= f.label :pe_evaluation %><br />
    <%= f.text_field :pe_evaluation %>
  </div>
  <div class="field">
    <%= f.label :pe_group %><br />
    <%= f.text_field :pe_group %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
