<h1>Listing pe_member_groups</h1>

<table>
  <tr>
    <th>Pe process</th>
    <th>Pe member</th>
    <th>Pe evaluation</th>
    <th>Pe group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pe_member_groups.each do |pe_member_group| %>
  <tr>
    <td><%= pe_member_group.pe_process %></td>
    <td><%= pe_member_group.pe_member %></td>
    <td><%= pe_member_group.pe_evaluation %></td>
    <td><%= pe_member_group.pe_group %></td>
    <td><%= link_to 'Show', pe_member_group %></td>
    <td><%= link_to 'Edit', edit_pe_member_group_path(pe_member_group) %></td>
    <td><%= link_to 'Destroy', pe_member_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pe member group', new_pe_member_group_path %>
