<%= form_for @hr_process_dimension_g, html: {class: 'form-horizontal'} do |f| %>


  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos del grupo</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :hr_process_dimension_id %>

      <div class="form-group <%= field_with_errors f, :orden %>">

        <%= f.label :orden, 'Orden (Grupo)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.number_field :orden, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :nombre %>">

        <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :nombre, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :descripcion, 'Descripción', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_area :descripcion, rows: '5', class: 'form-control' %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :color_text, 'Color de texto', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :color_text, class: 'pick-a-color_text form-control' %>

          <script>
            $(".pick-a-color_text").pickAColor({
              showBasicColors         : true,
              showSpectrum            : true,
              showSavedColors         : false,
              saveColorsPerElement    : false,
              showAdvanced            : true,
              showHexInput            : true,
              fadeMenuToggle          : true
            });
          </script>

        </div>

      </div>

      <hr>

      <% valor_minimo_signo_array = {'>=' => '>=', '>' => '>'} %>


      <div class="form-group <%= field_with_errors f, :valor_minimo %>">

        <%= f.label :valor_minimo, 'Valor Mínimo', class: 'col-md-3 control-label' %>

        <div class="col-md-2">

          <%= f.select(:valor_minimo_signo, options_for_select(valor_minimo_signo_array, @hr_process_dimension_g.valor_minimo_signo), {}, class: 'form-control') %>

        </div>

        <div class="col-md-7">

          <%= f.number_field :valor_minimo, class: 'form-control' %>

        </div>

      </div>

      <hr>

      <% valor_maximo_signo_array = {'<=' => '<=', '<' => '<'} %>

      <div class="form-group <%= field_with_errors f, :valor_maximo %>">

        <%= f.label :valor_maximo, 'Valor Máximo', class: 'col-md-3 control-label' %>

        <div class="col-md-2">

          <%= f.select(:valor_maximo_signo, options_for_select(valor_maximo_signo_array, @hr_process_dimension_g.valor_maximo_signo), {}, class: 'form-control') %>

        </div>

        <div class="col-md-7">

          <%= f.number_field :valor_maximo, class: 'form-control' %>

        </div>

      </div>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
