
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de centros de costo'.html_safe, j_cost_centers_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-usd"></i>
      Gestionar centros de costos
      <span>> Editar centro de costo</span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'form' %>

  </div>
</div>