<% if progress >= 0 %>
  <div class="progress" title="Progreso respecto al umbral configurado y los evaluadores obligatorios.">
    <div class="progress-bar" role="progressbar" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= progress %>%;">
      <%= progress %>%
    </div>
  </div>
<% end %>