<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-title txt-color-blueDark">
      <%= icon_sel_module_html_safe %>
      Selección
      <span>> Lista de solicitudes por evaluar </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% if @sel_req_processes.count == 0 %>
      <div class='alert alert-info'>
        Ud. no tiene solicitudes por evaluar
      </div>
    <% else %>
      <div class="panel panel-default">
        <div class="panel-body">
      <% listable_items = @sel_req_processes.first.sel_requirement.sel_req_template.sel_req_items.where(show_on_table: true) %>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Solicitado por</th>
          <th>Fecha</th>
          <% listable_items.each do |item| %>
            <th><%= item.name %></th>
          <% end %>
          <th>&nbsp;</th>
        </tr>
        </thead>

    <% end %>
    <tbody>
    <% @sel_req_processes.each do |sel_req_process| %>
      <tr>
        <td><%= sel_req_process.sel_requirement.registered_by_user.comma_full_name %></td>
        <td><%= (localize sel_req_process.sel_requirement.registered_at, format: :day_snmonth_year) %></td>
        <% listable_items.each do |item| %>
          <% register = SelRequirementValue.where(:sel_requirement_id => sel_req_process.sel_requirement_id, :sel_req_item_id => item.id).first %>
          <%# [:texto, :numero, :fecha, :seleccion, :archivo, :texto_largo] %>
          <td><%= render partial: 'sel_requirements/sel_req_item_value', locals: {:register => register} %></td>
        <% end %>
        <td>
          <% approver = sel_req_process.sel_req_approvers.where(user_id: user_connected.id).first %>
          <% if approver.sel_req_approver_eval %>
              <%= icon_true_false_in_show(approver.sel_req_approver_eval.evaluation) %>
              <i class="fa fa-comment-o" aria-hidden="true" title="<%= approver.sel_req_approver_eval.comment %>"></i>
          <% end %>
          <%= link_to 'Detalle', sel_req_show_for_approver_path(sel_req_process) %>
        </td>
      </tr>
    <% end %>
    </tbody>
    </table>
    </div>
    </div>
  </div>
</div>
<div id="reject_form" style="display: none">
  <%= form_tag '#' do %>
    <div class="row">
      <div class="col-md-12">
        <%= text_area_tag 'reject_comment', '', class: 'form-control', rows: 3, columns: 15, required: true %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="pull-right">
        <%= submit_tag 'Rechazar', class: 'btn btn-danger', confirm: '¿Está seguro?' %>
      </div>
    </div>
  <% end %>
</div>
<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()

        $('.reject_trigger').each(function () {
            url = $(this).data('url')
            popover_content = $('#reject_form')
            form = popover_content.find('form')
            form.attr('action', url)

            $(this).popover({
                placement: 'top',
                title: 'Comentario de rechazo',
                trigger: 'click',
                html: true,
                content: popover_content.html()
            });
        });

    })
</script>