<div class="panel panel-default">
  <div class="panel-body">

    <legend>
      <%= @sel_process_step.sel_step.position.to_s %>.
      <%= @sel_process_step.sel_step.name %>

    </legend>

    <%= @sel_process_step.sel_step.description %>

  </div>
</div>


<%#= form_tag({:controller => :sel_processes, :action => :execute_step_filter}, :method => :post, class: 'form-horizontal') do %>

    <input type="hidden" name="id" value="<%= @sel_process_step.id.to_s %>">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Candidato</th>
            <% @sel_process_steps_prev.each do |sel_process_step| %>
                <th><%= sel_process_step.sel_step.name %></th>
            <% end %>
            <th>Continúa con la siguiente etapa</th>
          </tr>
          </thead>
          <tbody>
          <% @sel_process_step.sel_step_candidates_ordered_by_name_not_excluded.each_with_index do |step_candidate, index_c| %>
              <tr>
                <td><%= index_c+1 %></td>
                <td>
                  <%= step_candidate.jm_candidate.full_name_2 %>
                  <a href="#<%= SelApplicant.where(:sel_process_id => step_candidate.sel_process_step.sel_process_id, :jm_candidate_id => step_candidate.jm_candidate_id).first.id.to_s + '_ficha' %>" data-toggle="modal" data-dismiss="focus" title="Ver ficha del candidato"><i class="fa fa-eye" aria-hidden="true"></i></a>
                </td>
                <% @sel_process_steps_prev.each do |sel_process_step| %>
                    <td>
                      <table>
                        <tbody>
                    <% sel_step_candidate = SelStepCandidate.where(:sel_process_step_id => sel_process_step.id, :jm_candidate_id => step_candidate.jm_candidate.id).first %>
                    <% if sel_step_candidate && sel_step_candidate.exonerated == false %>
                        <% results = SelStepResult.where(:sel_step_candidate_id => sel_step_candidate.id) %>
                            <% results.each do |result| %>
                                <tr style="<%= 'border-bottom: solid;border-bottom-width: thin;' unless result == results.last %>">
                                  <td width="50%" style="border-right: hidden;">
                                    <%= result.sel_characteristic.name %>
                                    <%= '(' + result.sel_process_characteristic.name + ')' if result.sel_process_characteristic %>
                                    &nbsp;
                                  </td>
                                  <td width="50%" style="border-left: hidden;">
                                <span class="label label-default" style="background-color: <%= '#' + result.sel_option.color %>">
                            <%= result.sel_option.name %> <%= '(' + result.non_discrete_result.to_s + ')' if result.sel_characteristic.option_type == 1 %>
                          </span>
                                    &nbsp;
                                    <% if !result.comment.blank? %>
                                        <a href="#" data-toggle="popover" title="<%= result.registered_by_user.full_name %> dijo:" data-content="<%= result.comment %>" data-placement="top" data-trigger="focus"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                                    <% end %>
                                  </td>
                                </tr>
                            <% end %>
                    <% elsif SelAttendant.where(:sel_step_candidate_id => step_candidate.id).count == 0 && sel_step_candidate.exonerated == false %>
                        <td style="text-align: center; vertical-align: middle;">
                          <span class="label label-danger">Sin responsable asiganado</span></td>
                    <% else %>
                        <td style="text-align: center; vertical-align: middle;">
                          <span class="label label-warning">Exonerado</span></td>
                    <% end %>
                        </tbody>
                      </table>
                    </td>
                <% end %>
                <td>
                  <%= label_yes_not(step_candidate.done) %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>
<%# end %>
<script>

  $(document).ready(function () {
    $('[data-toggle="popover"]').popover();
  });

</script>