<div class="panel panel-default">
  <div class="panel-body">
    <legend>
      Datos del Proceso
    </legend>
    <div class="row">
      <div class="col-md-3">
        <strong>Código</strong>
      </div>
      <div class="col-md-9">
        <%= @sel_process.code %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Nombre</strong>
      </div>
      <div class="col-md-9">
        <%= @sel_process.name %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Descripción</strong>
      </div>
      <div class="col-md-9">
        <%= @sel_process.description.html_safe %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Área solicitante</strong>
      </div>
      <div class="col-md-9">
        <%= @sel_process.claimant_area %>
      </div>
    </div>
    <br>
    <% @sel_process.sel_claimants.each do |sel_claimant| %>
        <div class="row">
          <div class="col-md-3">
            <strong>Usuario Solicitante</strong>
          </div>
          <div class="col-md-9">
            <%= sel_claimant.user.comma_full_name %>
          </div>
        </div>
        <br>
    <% end %>
    <% @sel_process.sel_owners.each do |sel_owner| %>
        <div class="row">
          <div class="col-md-3">
            <strong>Responsable del proceso</strong>
          </div>
          <div class="col-md-9">
            <%= sel_owner.user.comma_full_name %>
          </div>
        </div>
    <% end %>
    <!--<br>
    <div class="row">
      <div class="col-md-3">
        <strong>Fecha Inicio</strong>
      </div>
      <div class="col-md-9">
        <%= (localize @sel_process.from_date, format: :day_snmonth_year) %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Fecha Fin</strong>
      </div>
      <div class="col-md-9">
        <%= (localize @sel_process.to_date, format: :day_snmonth_year) %>
      </div>
    </div>-->
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Ficha del proceso</strong>
      </div>
      <div class="col-md-9">
        <% if @sel_process.file %>
            <a href="<%= sel_sel_processes_download_file_path(@sel_process.id) %>">Descargar ficha</a>
        <% else %>
            No hay ficha disponible para este proceso
        <% end %>
      </div>
    </div>
  </div>
</div>