<div class="panel panel-default">
  <div class="panel-body">

    <legend>
      Contratación

    </legend>

    Debe confirmar quiénes de los candidatos seleccionados fueron contratados.

  </div>
</div>

<%#= form_tag({:controller => :sel_processes, :action => :hire_candidates}, :method => :post, class: 'form-horizontal') do %>
<div class="panel panel-default">
  <div class="panel-body">

    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>Candidato</th>
        <th>Contratado</th>
      </tr>
      </thead>
      <tbody>
      <%	 @sel_applicants_ordered_by_name.each do |applicant| %>
      <tr>
        <td><%= applicant.jm_candidate.full_name_2 %></td>
      <td>
        <%= label_yes_not(applicant.hired) %>
        &nbsp;
        <% if !applicant.comment.blank? %>
            <a href="#" data-toggle="popover" title="<%= applicant.comment_by_user.full_name %> comentó:" data-content="<%= applicant.comment %>" data-placement="top" data-trigger="focus"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
        <% end %>
      </td>
      </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
<%# end %>
<script>
  $(document).ready(function () {
    $('[data-toggle="popover"]').popover();
  });
</script>