<div class="panel panel-default">
  <div class="panel-body">

    <legend>
      0. Candidatos

    </legend>

    Debe seleccionar quiénes de los candidatos ingresan a participar en el proceso de selección.

  </div>
</div>
<% apply_form_to_show = @sel_process.sel_template.sel_apply_forms.where(:show_in_list_of_candidates => true) %>
<% specific_question_to_show = @sel_process.sel_apply_specific_questions.where(:show_in_list_of_candidates => true) %>

<%#= form_tag({:controller => :sel_processes, :action => :enroll_applicants_to_first_steps}, :method => :post, class: 'form-horizontal') do %>
    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Candidato</th>
            <% apply_form_to_show.each do |apply_form| %>
                <% jm_char = apply_form.jm_characteristic %>
                <% if jm_char.simple %>
                    <th title="<%= jm_char.description %>">
                      <%= jm_char.name %>
                    </th>
                <% else %>
                    <th title="<%= jm_char.description %>">
                      <table class="table-condensed" style="width: 100%;">
                        <tr>
                          <td colspan="<%= jm_char.jm_subcharacteristics.count.to_s %>" class="text-center">
                            <%= jm_char.name %>
                          </td>
                        </tr>
                        <tr>
                          <% jm_char.jm_subcharacteristics.each do |subchar| %>
                              <td style="width: <%= 100/jm_char.jm_subcharacteristics.count %>%; overflow: hidden">
                                <%= subchar.name %>
                              </td>
                          <% end %>
                        </tr>
                      </table>
                    </th>
                <% end %>

            <% end %>
            <% specific_question_to_show.each do |question| %>
                <th title="<%= question.description %>">
                  <%= question.question %>
                </th>
            <% end %>
            <th rowspan="2">Apto por CV</th>
          </tr>
          </thead>
          <tbody>


          <% @sel_process.sel_applicants_ordered_by_name.each_with_index do |applicant, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= applicant.jm_candidate.full_name_2 %>
                  <%#= link_to '<i class="fa fa-paperclip" aria-hidden="true"></i>'.html_safe, sel_process_trackers_show_attach_file_to_applicant_path(applicant.id) if applicant.sel_applicant_attachments.any? %>
                  <% apply_form_to_show.each do |apply_form| %>
                      <% jm_char = apply_form.jm_characteristic %>
                    <td>
                      <% if jm_char.simple %>
                          <% subchar = jm_char.jm_subcharacteristics.first %>
                          <% input = JmAnswerValue.joins(:jm_candidate_answer => :sel_applicant_records).where(jm_candidate_answers: {:active => true, :jm_candidate_id => applicant.jm_candidate_id}, :jm_subcharacteristic_id => subchar.id).first %>
                          <%# input = SelApplicantValue.joins(:sel_applicant_answer).where(sel_applicant_answers: {:sel_applicant_id => applicant.id}, :jm_subcharacteristic_id => subchar.id).first %>
                          <% if input %>
                              <% if subchar.option_type == 4 && input.value_file_crypted_name %>
                                <a href="<%= sel_results_download_file_path(input, input.value_file_crypted_name) %>">
                                  Descargar
                                </a>
                              <% elsif [1, 6].include?(subchar.option_type) %>
                                <%= number_with_precision(input.value, precision: 6, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
                              <% else %>
                                <%= input.value %>
                              <% end %>
                          <% end %>
                      <% else %>

                          <table class="table-condensed" style="width: 100%;">
                            <% jm_char.jm_candidate_answers.joins(:sel_applicant_records).where(:active => true, :sel_applicant_records => {:sel_applicant_id => applicant.id}).each do |answer| %>
                                <%# answer = record.jm_candidate_answer %>
                                <tr>
                                  <% answer.jm_answer_values.each do |value| %>
                                      <td style="width: <%= 100/jm_char.jm_subcharacteristics.count %>%; overflow: hidden">
                                        <% if value.jm_subcharacteristic.option_type == 4 && value.value_file_crypted_name %>
                                          <a href="<%= sel_results_download_file_path(value, value.value_file_crypted_name) %>">
                                            Descargar
                                          </a>
                                        <% elsif [1, 6].include?(value.jm_subcharacteristic.option_type) %>
                                          <%= number_with_precision(value.value, precision: 6, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>
                                        <% else %>
                                          <%= value.value %>
                                        <% end %>
                                      </td>
                                  <% end %>
                                </tr>
                            <% end %>
                          </table>

                      <% end %>


                    </td>
                <% end %>
                <% specific_question_to_show.each do |question| %>
                    <% specific_answer = applicant.sel_applicant_specific_answers.where(:sel_apply_specific_question_id => question.id).first %>
                    <td>
                      <%= specific_answer.answer if specific_answer %>
                    </td>
                <% end %>
                <td>
                  <% if applicant.excluded? %>
                  <span class="label label-danger">
                    Excluido
                  </span>
                    <% else %>
                      <%= label_yes_not(!is_candidate_enrollable?(applicant) ) %>
                    <% end %>
                </td>
              </tr>
          <% end %>


          </tbody>
        </table>

      </div>
    </div>
<%# end %>