<!--
<div class="panel panel-default">
  <div class="panel-body">
-->
      <% if @sel_process_step.sel_step.step_type == 1 %>
          <%= render 'detail_filter_step' %>
      <% else %>
          <%= render 'detail_non_filter_step' %>
      <% end %>
<!--
    </div>
  </div>
</div>
-->