<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de Procesos'.html_safe, sel_process_trackers_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%= icon_sel_module_html_safe %>
      <%= @sel_process.name %>
      <span>> Seguimiento del proceso </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'show' %>

  </div>
</div>

<div class="row">
  <div class="col-md-2">

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="text-left">
          <ul id='tabs' class="nav nav-pills nav-stacked nav-pills-<%= $current_domain %>" style="display: inline-block;">
            <li data-id="applicants" data-url="<%= sel_process_trackers_detail_applicants_list_path(@sel_process.id.to_s) %>">
              <a data-toggle="pill" onclick="load_step(this)" href="#pill_applicants">
                <div class="row">
                  <div class="col-xs-2">
                    <i class="fa fa-users"></i>
                  </div>
                  <div class="col-xs-8">
                    Candidatos
                  </div>
                  <div class="col-xs-2">
                    <% if @new_applicants > 0 && !@sel_process.finished? %>
                        <span class="badge bg-color-redLight inbox-badge"><%= @new_applicants %></span>
                    <% else %>

                        <% if @sel_process.sel_applicants.count > 0 %>
                            <i class="fa fa-check"></i>
                        <% end %>

                    <% end %>
                  </div>
                </div>
              </a>
            </li>
            <% last_position = 0 %>
            <% @sel_process.sel_process_steps.each do |sel_process_step| %>
                <% last_position = sel_process_step.sel_step.position %>
              <% not_done = sel_process_step.sel_step_candidates.joins(:jm_candidate => :sel_applicants).where(:sel_applicants => {sel_process_id: sel_process_step.sel_process_id, excluded: false}, done: false, exonerated: false).count %>
                <li data-id="<%= sel_process_step.id.to_s %>" data-url="<%= sel_process_trackers_detail_step_path(sel_process_step.id.to_s) %>">
                  <a data-toggle="pill" onclick="load_step(this)" href="#pill_<%= sel_process_step.id.to_s %>">
                    <div class="row">
                      <div class="col-xs-2">
                        <%= sel_process_step.sel_step.step_type == 1 ? '<i class="fa fa-filter"></i> '.html_safe : '<!-- <i class="fa fa-step-forward"></i> -->'.html_safe %>
                      </div>
                      <div class="col-xs-8">
                        <%#= sel_process_step.sel_step.position.to_s %>
                        <%#= sel_process_step.sel_step.name + ' (' + not_done.to_s + ')' %>
                        <%= sel_process_step.sel_step.name %>
                      </div>
                      <div class="col-xs-2">
                        <% if not_done > 0 && !@sel_process.finished? %>
                            <span class="badge bg-color-redLight inbox-badge"><%= not_done %></span>
                        <% else %>

                            <% if sel_process_step.sel_step_candidates.count > 0 %>
                                <i class="fa fa-check"></i>
                            <% end %>

                        <% end %>
                      </div>
                    </div>
                  </a>
                </li>
            <% end %>
            <li data-id="selection" data-url="<%= sel_process_trackers_detail_selection_step_path(@sel_process.id.to_s) %>">
              <a data-toggle="pill" onclick="load_step(this)" href="#pill_selection">
                <div class="row">
                  <div class="col-xs-2">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                  </div>
                  <div class="col-xs-8">
                    <%#= last_position + 1 %>
                    Selección
                  </div>
                  <div class="col-xs-2">
                    <% if @new_selectables > 0 && !@sel_process.finished? %>
                        <span class="badge bg-color-redLight inbox-badge"><%= @new_selectables %></span>
                    <% else %>

                        <% if @sel_process.sel_applicants.where(selected: true, excluded: false).count > 0 %>
                            <i class="fa fa-check"></i>
                        <% end %>
                    <% end %>
                  </div>
                </div>
              </a>
            </li>
            <li data-id="validation" data-url="<%= sel_process_trackers_detail_validation_step_path(@sel_process.id.to_s) %>">
              <a data-toggle="pill" onclick="load_step(this)" href="#pill_validation">
                <div class="row">
                  <div class="col-xs-2">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <div class="col-xs-8">
                    Contratación
                  </div>
                  <div class="col-xs-2">
                    <% if @new_able_to_hire > 0 && !@sel_process.finished? %>
                        <span class="badge bg-color-redLight inbox-badge"><%= @new_able_to_hire %></span>
                    <% else %>

                        <% if @sel_process.sel_applicants.where(selected: true, hired: true, excluded: false).count > 0 %>
                            <i class="fa fa-check"></i>
                        <% end %>
                    <% end %>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
<!--
</div>
<br>
<div class="row">
  -->
  <div class="col-md-10">
    <div class="tab-content">
      <div id="pill_applicants" class="tab-pane <%= if (@show_step_open && @sel_step_id_open == 'applicants')
                                                      'active'
                                                    else
                                                      'fade'
                                                    end %>">

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-body text-center">
              <i class="fa fa-refresh fa-spin"></i> Cargando candidatos
            </div>
          </div>
        </div>

      </div>
      <% @sel_process.sel_process_steps.each do |sel_process_step| %>
          <div id="pill_<%= sel_process_step.id.to_s %>" class="tab-pane <%= if (@show_step_open && sel_process_step.id.to_s == @sel_step_id_open)
                                                                               'active'
                                                                             else
                                                                               'fade'
                                                                             end %>">

            <div class="panel panel-default">
              <div class="panel-body">
                <div class="panel-body text-center">
                  <i class="fa fa-refresh fa-spin"></i> Cargando candidatos
                </div>
              </div>
            </div>

          </div>
      <% end %>


      <div id="pill_selection" class="tab-pane <%= if (@show_step_open && @sel_step_id_open == 'selection')
                                                     'active'
                                                   else
                                                     'fade'
                                                   end %>">

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-body text-center">
              <i class="fa fa-refresh fa-spin"></i> Cargando candidatos
            </div>
          </div>
        </div>

      </div>
      <div id="pill_validation" class="tab-pane <%= if (@show_step_open && @sel_step_id_open == 'validation')
                                                     'active'
                                                   else
                                                     'fade'
                                                   end %>">

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-body text-center">
              <i class="fa fa-refresh fa-spin"></i> Cargando candidatos
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>



<% @sel_process.sel_applicants.each do |applicant| %>

    <%# Modal con la ficha del candidato %>
    <div id="<%= applicant.id.to_s + '_ficha' %>" class="modal fade" role="document">
      <div class="modal-dialog modal-lg" style="overflow-y: initial !important">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body" style="height: 450px; overflow-y: auto;">
            <%# @candidate = applicant.jm_candidate %>
            <%# @sel_process = @sel_process_step.sel_process %>
            <%# @sel_step_candidate = step_candidate %>
            <%# @characteristics_to_show = @sel_process.sel_template.jm_characteristics %>

            <%=	 render partial: 'sel_results/candidate_profile', locals: {:sel_applicant => applicant} %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <%# Modal con la ficha del candidato %>

<%	 end %>

<%# Modal con los documentos de las evaluaciones %>
<div id="evaluation_files" class="modal fade" role="document">
  <div class="modal-dialog modal-lg" style="overflow-y: initial !important">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" style="height: 450px; overflow-y: auto;">
        <%# aquí jquery llenará el detalle de los archivos %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<%# Modal con los documentos de las evaluaciones %>



<script>
  function load_step(link) {
    $(function () {
      var url = $(link).parent().data("url")
      var id = $(link).parent().data("id")
      call_ajax_load_step(url, id)
    });
  }

  function call_ajax_load_step(url, id) {
    $.ajax({
      url: url,
      data: {toggle: "tab"},
      cache: true,
      type: "post",
      dataType: "html",
      success: function (result) {
        $("#pill_" + id).html(result);
        $('#tabs > li.active > a').attr('onclick', null);
      }
    })
  }

  function load_evaluation_files(link){
      url = $(link).data('url')


      $.ajax({
          url: url,
          cache: true,
          type: "post",
          dataType: "html",
          success: function (result) {
              $('#evaluation_files').modal();
              $('#evaluation_files').find('.modal-body').html(result)
              //$('#evaluation_files').find('.modal-header').text('título')
          }
      })



  }

  <% if @show_step_open %>
  $(document).ready(function () {
    var li = $('li[data-id=<%= @sel_step_id_open.to_s %>]')
    var url = li.data("url")
    li.prop('class', 'active')
    call_ajax_load_step(url, '<%= @sel_step_id_open %>')
  })
  <% end %>
</script>