




<%= form_for @pe_slider_group, html: {class: 'form-horizontal'} do |f| %>


  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos del grupo</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :pe_evaluation_id %>

      <div class="form-group <%= field_with_errors f, :position %>">

        <%= f.label :position, 'Orden', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.number_field :position, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :name %>">

        <%= f.label :name, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :name, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :description, 'Descripción', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_area :description, rows: '5', class: 'form-control' %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :text_color, 'Color de texto', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :text_color, class: 'pick-a-text_color form-control' %>

          <script>
            $(".pick-a-text_color").pickAColor({
              showBasicColors         : true,
              showSpectrum            : true,
              showSavedColors         : false,
              saveColorsPerElement    : false,
              showAdvanced            : true,
              showHexInput            : true,
              fadeMenuToggle          : true
            });
          </script>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :bg_color, 'Color de fondo', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :bg_color, class: 'pick-a-bg_color form-control' %>

          <script>
            $(".pick-a-bg_color").pickAColor({
              showBasicColors         : true,
              showSpectrum            : true,
              showSavedColors         : false,
              saveColorsPerElement    : false,
              showAdvanced            : true,
              showHexInput            : true,
              fadeMenuToggle          : true
            });
          </script>

        </div>

      </div>

      <hr>

      <% valor_minimo_signo_array = {'>=' => '>=', '>' => '>'} %>


      <div class="form-group <%= field_with_errors f, :min_value %>">

        <%= f.label :min_value, 'Poercentaje mínimo', class: 'col-md-3 control-label' %>

        <div class="col-md-2">

          <%= f.select(:min_sign, options_for_select(valor_minimo_signo_array, @pe_slider_group.min_sign), {}, class: 'form-control') %>

        </div>

        <div class="col-md-7">

          <%= f.number_field :min_value, class: 'form-control' %>

        </div>

      </div>

      <hr>

      <% valor_maximo_signo_array = {'<=' => '<=', '<' => '<'} %>

      <div class="form-group <%= field_with_errors f, :max_value %>">

        <%= f.label :max_value, 'Valor Máximo', class: 'col-md-3 control-label' %>

        <div class="col-md-2">

          <%= f.select(:max_sign, options_for_select(valor_maximo_signo_array, @pe_slider_group.max_sign), {}, class: 'form-control') %>

        </div>

        <div class="col-md-7">

          <%= f.number_field :max_value, class: 'form-control' %>

        </div>

      </div>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>





