<p id="notice"><%= notice %></p>

<p>
  <b>Position:</b>
  <%= @pe_slider_group.position %>
</p>

<p>
  <b>Name:</b>
  <%= @pe_slider_group.name %>
</p>

<p>
  <b>Description:</b>
  <%= @pe_slider_group.description %>
</p>

<p>
  <b>Text color:</b>
  <%= @pe_slider_group.text_color %>
</p>

<p>
  <b>Bg color:</b>
  <%= @pe_slider_group.bg_color %>
</p>

<p>
  <b>Min sign:</b>
  <%= @pe_slider_group.min_sign %>
</p>

<p>
  <b>Min value:</b>
  <%= @pe_slider_group.min_value %>
</p>

<p>
  <b>Max sign:</b>
  <%= @pe_slider_group.max_sign %>
</p>

<p>
  <b>Max value:</b>
  <%= @pe_slider_group.max_value %>
</p>

<p>
  <b>Pe evaluation:</b>
  <%= @pe_slider_group.pe_evaluation %>
</p>


<%= link_to 'Edit', edit_pe_slider_group_path(@pe_slider_group) %> |
<%= link_to 'Back', pe_slider_groups_path %>
