<h1>Listing pe_feedback_field_lists</h1>

<table>
  <tr>
    <th>Pe process</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pe_feedback_field_lists.each do |pe_feedback_field_list| %>
  <tr>
    <td><%= pe_feedback_field_list.pe_process %></td>
    <td><%= pe_feedback_field_list.name %></td>
    <td><%= link_to 'Show', pe_feedback_field_list %></td>
    <td><%= link_to 'Edit', edit_pe_feedback_field_list_path(pe_feedback_field_list) %></td>
    <td><%= link_to 'Destroy', pe_feedback_field_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pe feedback field list', new_pe_feedback_field_list_path %>
