
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process, 'feedback'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Configurar lista de retroalimentación </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/show' %>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos del lista
        </legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_feedback_field_list.name %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">


    <% if @lineas_error && @lineas_error.length > 0 %>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <div class="panel panel-default">
            <div class="panel-body">

              <div class="alert alert-danger">
                Se han producido los siguientes errores
              </div>

              <table class="table table-striped table-hover table-condensed table-bordered">

                <thead>
                <tr>
                  <th>Línea</th>
                  <th>Errores</th>
                  <th>Detalle</th>

                </tr>
                </thead>

                <tbody>

                <% @lineas_error.each_with_index do |l,index| %>

                  <tr>
                    <td><%= l %></td>
                    <td>
                      <% @lineas_error_messages[index].each do |error| %>
                        <li class="text-danger"><%= error %></li>
                      <% end %>
                    </td>
                    <td><%= @lineas_error_detalle[index] %></td>
                  </tr>

                <% end %>

                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>


    <% end %>


    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <%= form_for @pe_feedback_field_list, url: massive_create_items_pe_feedback_field_list_path(@pe_process, @pe_feedback_field_list), html: {class: 'form-horizontal', method: :post, multipart: true} do |f| %>

          <div class="panel panel-default">
            <div class="panel-body">
              <legend>Cargar items</legend>

              <table class="table table-bordered">
                <thead>
                  <tr>
                      <th>
                        Orden
                      </th>
                      <th>
                        Valor del item
                      </th>
                      <th>
                        Nombre de la lista dependencia
                      </th>
                      <th>
                        Valor del item dependencia
                      </th>
                      <th>
                        Dependencia SI/NO
                      </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>Curso de finanzas</td>
                    <td>Lista de Programas</td>
                    <td>Programa de Administración de Empresas</td>
                    <td>SI</td>
                  </tr>
                  <tr>
                    <td>
                      8
                    </td>
                    <td>Curso de economía</td>
                    <td>Lista de Programas</td>
                    <td>Programa de Administración de Empresas</td>
                    <td>SI</td>
                  </tr>
                </tbody>
              </table>

              <em>* Si el Valor del item ya existe, se actualizarán el orden y las dependencias</em>
              <br>
              <br>

              <div class="form-group">

                <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

                <div class="col-md-9">

                  <%= file_field 'upload', 'datafile', class: 'form-control' %>

                </div>

              </div>

            </div>
            <div class="panel-footer clearfix">
              <div class="pull-right">
                <%= f.submit 'Cargar items', class: 'btn btn-primary' %>
              </div>
            </div>

          </div>

        <% end %>


      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Items
        </legend>



        <table class="table table-striped table-hover table-bordered">

          <thead>
          <tr>
            <th>#</th>
            <th>Item</th>
            <th>Depende de lista</th>
            <th>Depende de item</th>
            <th>Valor igual</th>
            <th>
              <%= link_to 'Nuevo item', new_pe_feedback_field_list_item_path(@pe_feedback_field_list) %>
            </th>
          </tr>
          </thead>

          <tbody>


          <% @pe_feedback_field_list.pe_feedback_field_list_items.each_with_index do |pe_feedback_field_list_item, index| %>

            <tr>
              <td><%= pe_feedback_field_list_item.position %></td>
              <td>
                <%= pe_feedback_field_list_item.description %>
              </td>
              <td>
                <% if pe_feedback_field_list_item.pe_feedback_field_list_item %>
                  <%= pe_feedback_field_list_item.pe_feedback_field_list_item.pe_feedback_field_list.name %>
                <% end %>
              </td>
              <td>
                <% if pe_feedback_field_list_item.pe_feedback_field_list_item %>
                  <%= pe_feedback_field_list_item.pe_feedback_field_list_item.description %>
                <% end %>
              </td>
              <td>
                <% if pe_feedback_field_list_item.pe_feedback_field_list_item %>
                  <%= label_yes_not pe_feedback_field_list_item.list_item_selected %>
                <% end %>
              </td>

              <td>

                 <%= link_to 'Editar', edit_pe_feedback_field_list_item_path(pe_feedback_field_list_item) %>

                <% if pe_feedback_field_list_item.pe_member_feedbacks.size == 0 && pe_feedback_field_list_item.pe_member_compound_feedbacks.size == 0 %>

                  <%= link_to 'Eliminar', pe_feedback_field_list_item, method: :delete, data: { confirm: '¿Está seguro de eliminar el item de la lista?' } %>

                <% end %>

              </td>

            </tr>

          <% end %>

          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>
