<div class="row">
  <div class="col-md-3">

    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de módulos'.html_safe, ct_modules_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-cogs"></i>
      Módulos
      <span>> Editar módulo</span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">


    <%= form_for @ct_module, html: {class: 'form-horizontal'} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Datos del módulo</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group <%= field_with_errors f, :nombre %>">

            <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= @ct_module.name %>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :alias %>">

            <%= f.label :alias, 'Alias', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :alias, class: 'form-control' %>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :active, 'Activo', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= f.check_box :active, class: 'form-control' %>

              <script>

                $('#ct_module_active').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });


              </script>

            </div>

          </div>

          <hr>

          <% if @ct_module.cod == 'um' %>

            <div class="form-group">

              <%= f.label :create_delete_users, 'Alta y Baja de usuarios', class: 'col-md-3 control-label'%>

              <div class="col-md-9">

                <%= f.check_box :create_delete_users, class: 'form-control' %>

                <script>

                  $('#ct_module_create_delete_users').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });


                </script>

              </div>

            </div>

          <% end %>


        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    <% end %>



  </div>
</div>