<%= form_for license, html: {class: 'form-horizontal', id: 'new_bp_license_form'}, method: :post do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <legend> <%= t('views.bp_licenses.legends.license_info') %> </legend>

      <%= render 'shared/error_messages', object: f.object %>

      <% options_bp_groups = BpGroup.all.map { |option| [option.name, option.id] } %>
      <div class="form-group <%= field_with_errors f, :bp_group_id %>">
        <%= f.label :bp_group_id, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.select :bp_group_id, options_for_select(options_bp_groups, f.object.bp_group_id),{:prompt => "- Seleccionar -"}, class: 'form-control' %>
        </div>
      </div>

      <% options_events = BpEvent.all.map { |option| [option.name, option.id] } %>
      <div class="form-group <%= field_with_errors f, :bp_event_id %>">
        <%= f.label :bp_event_id, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.select :bp_event_id, options_for_select(options_events, f.object.bp_event_id),{:prompt => "- Seleccionar -"}, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :name %>">
        <%= f.label :name, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, class: 'form-control'%>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :description %>">
        <%= f.label :description, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :description, rows: '3', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :days %>">
        <%= f.label :days, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :days, class: 'form-control'%>
          <em>Beneficio en días de darse el permiso</em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :money %>">
        <%= f.label :money, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :money, class: 'form-control'%>
          <em>Beneficio en dinero de darse el permiso</em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :currency %>">
        <%= f.label :currency, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :currency, class: 'form-control'%>
          <em>Unidad monetaria del beneficio monetario. Campo obligatorio si se ingresa este último</em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :only_laborable_days %>">
        <%= f.label :only_laborable_days, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :only_laborable_days, :class => 'bootstrap_checkbox form-control' %>
          <br>
          <em>Lo días de permiso otorgado se cumplen solamente en días laborales</em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :antiquity %>">
        <%= f.label :antiquity, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :antiquity, class: 'form-control'%>
          <em>Antigüedad mínima, en años, para acceder al beneficio</em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :days_limit %>">
        <%= f.label :days_limit, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :days_limit, class: 'form-control'%>
          <em>Se puede pedir el permiso máximo en esta cantidad de días de transcurrido el evento</em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :days_limit_only_laborable %>">
        <%= f.label :days_limit_only_laborable, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :days_limit_only_laborable, :class => 'bootstrap_checkbox form-control' %>
          <br>
          <em>Los días límite serán contados únicamente en días laborales</em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :straight_time %>">
        <%= f.label :straight_time, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :straight_time, :class => 'bootstrap_checkbox form-control', :onchange => 'days_between_days(this)' %>
          <br>
          <em>Los días de permiso pueden tomarse únicamente sin interrupciones</em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :days_between_days %> days_between_days" style="display: none">
        <%= f.label :days_between_days, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :days_between_days, class: 'form-control'%>
          <em>Cantidad de días entre cada uno de los días de permiso</em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :days_since %>">
        <%= f.label :days_since, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :days_since, class: 'form-control'%>
          <em>Número positivo o negativo que marca a partir de qué día se toma el permiso. Ej. día anterior (-1), mismo día (0), día siguiente (+1), etc</em>
        </div>
      </div>

      <legend> Información de período de referencia </legend>
      <div class="form-group <%= field_with_errors f, :period_times %>">
        <%= f.label :period_times, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :period_times, class: 'form-control'%>
          <em>Máximo número de veces que el permiso puede ser otorgado en el período de referencia</em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :period_anniversary %>">
        <%= f.label :period_anniversary, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :period_anniversary, :class => 'bootstrap_checkbox form-control', :onchange => 'anniversary(this)' %>
          <br>
          <em>Tomará como período de referencia el año de aniversario del solicitante</em>
        </div>
      </div>

      <hr>
      <div class="form-group <%= field_with_errors f, :period_begin_1 %> anniversary" style="display: none">
        <%= f.label :period_begin_1, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :period_begin_1, class: 'form-control datetime', :data => {:format => '%d/%m/%Y'}, :value => f.object.period_begin_1 ? f.object.period_begin_1.strftime('%d/%m/%Y') : '', :readonly => true %>
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"> </i></span>
          </div>
        </div>
      </div>

      <div class="row anniversary" style="display: none">
        <div class="col-md-9 col-md-offset-3">
          <em>Inicio del primer período de referencia. Si define solamente una fecha, se considerará un período
            anual</em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :period_begin_2 %>  anniversary" style="display: none">
        <%= f.label :period_begin_2, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :period_begin_2, class: 'form-control datetime', :data => {:format => '%d/%m/%Y'}, :value => f.object.period_begin_2 ? f.object.period_begin_2.strftime('%d/%m/%Y') : '', :readonly => true %>
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"> </i></span>
          </div>
        </div>
      </div>

      <div class="row anniversary" style="display: none">
        <div class="col-md-9 col-md-offset-3">
          <em>Inicio del primer período de referencia. Si define esta fecha, se considerará dos períodos en un año</em>
        </div>
      </div>
      <hr>

      <div class="form-group <%= field_with_errors f, :period_condition_begin %>">
        <%= f.label :period_condition_begin, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :period_condition_begin, :class => 'bootstrap_checkbox form-control' %>
          <br>
          <em>Condición por defecto para determinar si una solicitud se encuentra en uno u otro período. Si el inicio es como referencia, se tomará el período que contenga a la fecha inicial de vacaciones, de lo contrario, se escogerá la fecha de fin</em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :period_condition_min_days %>">
        <%= f.label :period_condition_min_days, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :period_condition_min_days, class: 'form-control'%>
          <em> Cantidad mínima de días que deben tener las vacaciones dentro de un período para considerarlas dentro del mismo</em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :period_condition_min_percent %>">
        <%= f.label :period_condition_min_percent, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :period_condition_min_percent, class: 'form-control'%>
          <em>Porcentaje mínimo de tiempo que deben tener las vacaciones dentro de un período para considerarlas dentro del mismo. Valor menor que 1, con dos decimales. Ej. 0.50 (50%) </em>
        </div>
      </div>

      <legend>Información de Temporada</legend>
      <% options_bp_seasons = BpSeason.all.map { |option| [option.name, option.id] } %>
      <div class="form-group <%= field_with_errors f, :bp_season_id %>">
        <%= f.label :bp_season_id, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.select :bp_season_id, options_for_select(options_bp_seasons, f.object.bp_season_id),{:prompt => "- Seleccionar -"}, class: 'form-control bp_season_select' %>
        </div>
      </div>

      <div class="season_params" style="display: none">
        <div class="form-group <%= field_with_errors f, :season_condition_begin %>">
          <%= f.label :season_condition_begin, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.check_box :season_condition_begin, :class => 'bootstrap_checkbox form-control ' %>
            <br>
            <em>Condición por defecto para determinar si una solicitud se encuentra en una u otra temporada. Si el
              inicio es como referencia, se tomará la temporada que contenga a la fecha inicial de vacaciones, de lo
              contrario, se escogerá la fecha de fin</em>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :season_condition_min_days %>">
          <%= f.label :season_condition_min_days, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :season_condition_min_days, class: 'form-control' %>
            <em> Cantidad mínima de días que deben tener las vacaciones dentro de una temporada para considerarlas
              dentro de la misma</em>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :season_condition_min_percent %>">
          <%= f.label :season_condition_min_percent, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :season_condition_min_percent, class: 'form-control' %>
            <em> Porcentaje mínimo de días que deben tener las vacaciones dentro de una temporada para considerarlas
              dentro de la misma</em>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit t('views.bp_season_periods.flow_process.save'), class: 'btn btn-primary' %>
      </div>
    </div>

  </div>
<% end %>

<script>
    $('.datetime').datetimepicker({
        language: 'es',
        pickTime: false,
        pickDate: true
    });

    $('.bootstrap_checkbox').bootstrapSwitch({
        onColor: 'success',
        onText: "Sí",
        offColor: 'danger',
        size: "small",
        offText: "No"
    });

    function days_between_days(link){
        if($(link).bootstrapSwitch('state')){
            $('.days_between_days').hide()
            $('#bp_license_days_between_days').val('')
        }else{
            $('.days_between_days').show()
        }
    }

    function anniversary(link){
        if($(link).bootstrapSwitch('state')){
            $('.anniversary').hide()
            $('#bp_license_period_begin_1').val('')
            $('#bp_license_period_begin_2').val('')
        }else{
            $('.anniversary').show()
        }
    }


    $('.bp_season_select').change(function(){
        if ($('.bp_season_select option:selected').val() != ''){
            $('.season_params').show();
        }else{
            $('.season_params').hide();
            $('#bp_license_season_condition_min_days').val('')
            $('#bp_license_season_condition_min_percent').val('')
        }
    });

</script>