<h1>Listing bp_licenses</h1>

<table>
  <tr>
    <th>Bp group</th>
    <th>Bp event</th>
    <th>Name</th>
    <th>Description</th>
    <th>Days</th>
    <th>Money</th>
    <th>Currency</th>
    <th>Straight time</th>
    <th>Antiquity</th>
    <th>Days limit</th>
    <th>Days limit only laborable</th>
    <th>Days between days</th>
    <th>Days since</th>
    <th>Only laborable days</th>
    <th>Period times</th>
    <th>Period anniversary</th>
    <th>Period begin 1</th>
    <th>Period begin 2</th>
    <th>Period condition begin</th>
    <th>Period condition min days</th>
    <th>Period condition min percent</th>
    <th>Bp season</th>
    <th>Season condition begin</th>
    <th>Season condition min days</th>
    <th>Season condition min percent</th>
    <th>Active</th>
    <th>Deactivated at</th>
    <th>Deactivated by admin</th>
    <th>Registered at</th>
    <th>Registered by admin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bp_licenses.each do |bp_license| %>
  <tr>
    <td><%= bp_license.bp_group %></td>
    <td><%= bp_license.bp_event %></td>
    <td><%= bp_license.name %></td>
    <td><%= bp_license.description %></td>
    <td><%= bp_license.days %></td>
    <td><%= bp_license.money %></td>
    <td><%= bp_license.currency %></td>
    <td><%= bp_license.straight_time %></td>
    <td><%= bp_license.antiquity %></td>
    <td><%= bp_license.days_limit %></td>
    <td><%= bp_license.days_limit_only_laborable %></td>
    <td><%= bp_license.days_between_days %></td>
    <td><%= bp_license.days_since %></td>
    <td><%= bp_license.only_laborable_days %></td>
    <td><%= bp_license.period_times %></td>
    <td><%= bp_license.period_anniversary %></td>
    <td><%= bp_license.period_begin_1 %></td>
    <td><%= bp_license.period_begin_2 %></td>
    <td><%= bp_license.period_condition_begin %></td>
    <td><%= bp_license.period_condition_min_days %></td>
    <td><%= bp_license.period_condition_min_percent %></td>
    <td><%= bp_license.bp_season %></td>
    <td><%= bp_license.season_condition_begin %></td>
    <td><%= bp_license.season_condition_min_days %></td>
    <td><%= bp_license.season_condition_min_percent %></td>
    <td><%= bp_license.active %></td>
    <td><%= bp_license.deactivated_at %></td>
    <td><%= bp_license.deactivated_by_admin_id %></td>
    <td><%= bp_license.registered_at %></td>
    <td><%= bp_license.registered_by_admin_id %></td>
    <td><%= link_to 'Show', bp_license %></td>
    <td><%= link_to 'Edit', edit_bp_license_path(bp_license) %></td>
    <td><%= link_to 'Destroy', bp_license, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bp license', new_bp_license_path %>
