<p id="notice"><%= notice %></p>

<p>
  <b>Bp group:</b>
  <%= @bp_license.bp_group %>
</p>

<p>
  <b>Bp event:</b>
  <%= @bp_license.bp_event %>
</p>

<p>
  <b>Name:</b>
  <%= @bp_license.name %>
</p>

<p>
  <b>Description:</b>
  <%= @bp_license.description %>
</p>

<p>
  <b>Days:</b>
  <%= @bp_license.days %>
</p>

<p>
  <b>Money:</b>
  <%= @bp_license.money %>
</p>

<p>
  <b>Currency:</b>
  <%= @bp_license.currency %>
</p>

<p>
  <b>Straight time:</b>
  <%= @bp_license.straight_time %>
</p>

<p>
  <b>Antiquity:</b>
  <%= @bp_license.antiquity %>
</p>

<p>
  <b>Days limit:</b>
  <%= @bp_license.days_limit %>
</p>

<p>
  <b>Days limit only laborable:</b>
  <%= @bp_license.days_limit_only_laborable %>
</p>

<p>
  <b>Days between days:</b>
  <%= @bp_license.days_between_days %>
</p>

<p>
  <b>Days since:</b>
  <%= @bp_license.days_since %>
</p>

<p>
  <b>Only laborable days:</b>
  <%= @bp_license.only_laborable_days %>
</p>

<p>
  <b>Period times:</b>
  <%= @bp_license.period_times %>
</p>

<p>
  <b>Period anniversary:</b>
  <%= @bp_license.period_anniversary %>
</p>

<p>
  <b>Period begin 1:</b>
  <%= @bp_license.period_begin_1 %>
</p>

<p>
  <b>Period begin 2:</b>
  <%= @bp_license.period_begin_2 %>
</p>

<p>
  <b>Period condition begin:</b>
  <%= @bp_license.period_condition_begin %>
</p>

<p>
  <b>Period condition min days:</b>
  <%= @bp_license.period_condition_min_days %>
</p>

<p>
  <b>Period condition min percent:</b>
  <%= @bp_license.period_condition_min_percent %>
</p>

<p>
  <b>Bp season:</b>
  <%= @bp_license.bp_season %>
</p>

<p>
  <b>Season condition begin:</b>
  <%= @bp_license.season_condition_begin %>
</p>

<p>
  <b>Season condition min days:</b>
  <%= @bp_license.season_condition_min_days %>
</p>

<p>
  <b>Season condition min percent:</b>
  <%= @bp_license.season_condition_min_percent %>
</p>

<p>
  <b>Active:</b>
  <%= @bp_license.active %>
</p>

<p>
  <b>Deactivated at:</b>
  <%= @bp_license.deactivated_at %>
</p>

<p>
  <b>Deactivated by admin:</b>
  <%= @bp_license.deactivated_by_admin_id %>
</p>

<p>
  <b>Registered at:</b>
  <%= @bp_license.registered_at %>
</p>

<p>
  <b>Registered by admin:</b>
  <%= @bp_license.registered_by_admin_id %>
</p>


<%= link_to 'Edit', edit_bp_license_path(@bp_license) %> |
<%= link_to 'Back', bp_licenses_path %>
