<div class="panel panel-default">
  <%= form_tag tracking_process_save_clone_data_path(tracking_process) do %>
    <div class="panel-body">
      <h1>Sólo se puede clonar datos de formularios que estén clonados completamente</h1>
      <h3><em>Favor indicar el punto de clonación de los datos</em></h3>
      <% forms = tracking_process.tracking_forms.all.map {|form| [form.position.to_s + ' - ' + form.name, form.id, 'data-url' => tracking_process_get_options_for_form_path(tracking_process.id, form.id)]} %>
      <div class="form-group">
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <%= label_tag 'form_id', 'Formulario', class: 'form-label' %>
          </div>
          <div class="col-md-5">
            <%= select_tag 'form_id', options_for_select(forms, @form_id), prompt: '- Seleccione un punto de clonación -', class: 'form-control', onchange: 'set_action_options(this)' %>
          </div>
        </div>
      </div>
      <div id="actions_container">
        <div class="form-group">
          <div class="row">
            <div class="col-md-1 col-md-offset-1">
              <%= label_tag 'action_id', 'Acción', class: 'form-label' %>
            </div>
            <div class="col-md-5">
              <%= select_tag 'action_id', options_for_select(@tracking_form_actions_array, @action_id), prompt: '- Seleccione un punto de clonación -', class: 'form-control', onchange: 'toggle_advanced_controls()' %>
            </div>
            <div class="col-md-5">
              <em>Se clonará hasta dejar el formulario con esta acción ya ejecutada</em>
            </div>
          </div>
        </div>
        <div id="just_filled_container" class="form-group">
          <div class="row">
            <div class="col-md-1 col-md-offset-1">
              <%= label_tag 'just_filled', 'Sólo llenado', class: 'form-label' %>
            </div>
            <div class="col-md-10">
              <%= check_box_tag 'just_filled' %>
              &nbsp;
              <em>Esta acción permite llenar el formulario sin finalizar, si desea dejar el formulario lleno pero
                editable marque esta opción</em>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <%= label_tag 'include_tracking', 'Incluir seguimiento', class: 'form-label' %>
          </div>
          <div class="col-md-10">
            <%= check_box_tag 'include_tracking', 1, @include_tracking %>
            &nbsp;
            <em>Incluir los registros de seguimiento asociados a las respuestas con compromiso (solo se incluirán los ya validados)</em>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <%= label_tag 'exclude_finished_tracking', 'Excluir finalizados', class: 'form-label' %>
          </div>
          <div class="col-md-10">
            <%= check_box_tag 'exclude_finished_tracking', 1, @exclude_finished_tracking %>
            &nbsp;
            <em>Excluir las respuestas con compromisos ya finalizados</em>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= submit_tag 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>

<script>
    function set_action_options(select) {
        if ($(select).val() != '') {
            var url = $(select).find(':selected').data('url')
            $.ajax({
                url: url,
                type: 'POST',
                async: true,
                dataType: "json",
                error: function (XMLHttpRequest, errorTextStatus, error) {
                    alert("Failed: " + errorTextStatus + " ;" + error);
                },
                success: function (data) {
                    $('#action_id').find('option').remove()
                    for (var i in data) {
                        var id = data[i][1];
                        var title = data[i][0];
                        var fill_form = data[i][2]
                        var option = new Option(title, id)
                        option.setAttribute("data-fill-form", fill_form)
                        $('#action_id').append(option);
                    }
                    $('#action_id').trigger('change');
                }
            });
        }
        toggle_advanced_controls()
    }

    function toggle_advanced_controls() {

        if ($('#form_id').val() != '') {
            $('#actions_container').show()
            if ($('#action_id').val() != '' && $('#action_id').find(':selected').data('fill-form') == true) {
                $('#just_filled_container').show()
            } else {
                $('#just_filled').prop('checked', false)
                $('#just_filled_container').hide()
            }
        } else {
            $('#action_id').val('')
            $('#actions_container').hide()

            $('#just_filled').prop('checked', false)
            $('#just_filled_container').hide()
        }
    }

    $(document).ready(function () {
        <% if @action_id %>
        if ($('#action_id').val() != '' && $('#action_id').find(':selected').data('fill-form') == true) {
            $('#just_filled').prop('checked', <%= @just_filled %>)
            $('#just_filled_container').show()
        } else {
            $('#just_filled').prop('checked', false)
            $('#just_filled_container').hide()
        }
        <% else %>
          toggle_advanced_controls()
        <% end %>
    });
</script>