<hr>

<div class="row">
  <div class="col-md-12">

    <div class="row">

      <% if members.size == 1 %>
        <div class="col-md-4"></div>
      <% elsif members.size == 2 %>
        <div class="col-md-2"></div>
      <% end %>

      <% members.each_with_index do |member, index_member| %>

        <div class="col-md-4">

          <%= render partial: 'mini_ficha2',
                     locals: {
                         user: member,
                         row: row+1,
                         render_selected: render_selected
                     }
          %>

        </div>

        <% if (index_member+1)%3==0 %>

          </div>
          <div class="row">

        <% end %>

      <% end %>

    </div>

  </div>
</div>

<div id="graph_row_<%= row+1 %>">

</div>
