<% nodes.each do |node| %>

    <% if ver_nodos %>

      <% hr_process_user = @hr_process.hr_process_users.where('user_id = ?', node.owner.id).first %>

      <tr class="treegrid-<%= node.id %> <%= 'treegrid-parent-'+node.node_id.to_s if node.node_id && !es_raiz %>">
          <td onclick="$('.treegrid-<%= node.id %>').treegrid('toggle');" class="mouse_pointer">
            <%= node.nombre %>
          </td>
          <td onclick="$('.treegrid-<%= node.id %>').treegrid('toggle');" class="mouse_pointer">
            <%= node.owner.apellidos %>
          </td>
          <td onclick="$('.treegrid-<%= node.id %>').treegrid('toggle');" class="mouse_pointer">
            <%= node.owner.nombre %>
          </td>


          <% characteristics_eval_des.each do |characteristic| %>

            <td>

              <% uc = node.owner.user_characteristics.find_by_characteristic_id(characteristic.id) %>
              <%= uc.valor if uc %>

            </td>

          <% end %>

          <% if hr_process_user %>

            <% @hr_process_dimensions.each do |hr_process_dimension| %>

              <% hr_process_assessment_d = hr_process_user.hr_process_assessment_ds.find_by_hr_process_dimension_id(hr_process_dimension.id) if hr_process_user.finalizado %>

              <% hr_process_dimension_g = hr_process_assessment_d.hr_process_dimension_g if hr_process_assessment_d %>

              <td style="<%= 'color: #'+hr_process_dimension_g.color_text+';' if hr_process_dimension_g && hr_process_dimension_g.color_text %>">

                <% if hr_process_assessment_d %>

                  <%= hr_process_assessment_d.resultado_porcentaje.to_i %>%
                  -
                  <%= hr_process_dimension_g.nombre if hr_process_dimension_g %>

                  <% hr_process_assessment_d_cal = hr_process_assessment_d.hr_process_assessment_d_cal %>

                  <% if hr_process_assessment_d_cal %>

                    <label data-toggle="tooltip" title="Ver calibración" style="color: #000;">

                      <a data-toggle="button" data-content='


                                                            <table>
                                                              <tr>
                                                                <td><strong>Porcentaje original</strong></td>
                                                                <td>
                                                                  <%= hr_process_assessment_d_cal.resultado_porcentaje.to_i %>%
                                                                </td>
                                                              </tr>
                                                              <tr>
                                                                <td>
                                                                  <strong>Comentario</strong>
                                                                </td>
                                                                <td>
                                                                  <%= hr_process_assessment_d_cal.comentario %>
                                                                </td>
                                                              </tr>
                                                            </table>

                                                          '
                         id='detalle_calibracion_<%= hr_process_assessment_d_cal.id %>' >

                        <i class="fa fa-exclamation-triangle"></i>

                      </a>

                    </label>

                    <script language="javascript">
                      $('#detalle_calibracion_<%= hr_process_assessment_d_cal.id %>').popover({
                        html: true,
                        placement: 'top',
                        trigger: 'click'
                      });


                    </script>

                  <% end %>

                <% end %>
              </td>

            <% end %>

            <% if @hr_process.muestra_cajas? %>

              <td style="border-right: 0px;">

                  <% if hr_process_user.finalizado %>

                    <% hr_process_assessment_qua = hr_process_user.hr_process_assessment_qua %>

                    <% if hr_process_assessment_qua %>

                      <% hr_process_quadrant = hr_process_assessment_qua.hr_process_quadrant %>

                      <% if hr_process_quadrant.nombre %>

                        <%

                           lista_usuarios.push hr_process_user
                           lista_cajas.push hr_process_quadrant

                        %>


                        <span class="label label-default label-smart-table" style="text-align: center; <%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant.color_text %><%= 'background-color: #'+hr_process_quadrant.color+';' if hr_process_quadrant.color %>">
                          <strong><%= hr_process_quadrant.nombre.html_safe %></strong>
                        </span>



                      <% end %>

                    <% end %>

                  <% else %>


                    <span class="label label-danger label-smart-table">No finalizada</span>

                  <% end %>

              </td>

              <td style="border-left: 0px;">

                <% if hr_process_user.finalizado %>

                  <% hr_process_assessment_qua = hr_process_user.hr_process_assessment_qua %>

                  <% if hr_process_assessment_qua %>

                    <% hr_process_quadrant = hr_process_assessment_qua.hr_process_quadrant %>

                    <% if hr_process_quadrant.nombre %>


                      <% hr_process_calibration_session_m = hr_process_user.hr_process_calibration_session_ms.first %>

                      <% hr_process_assessment_qua_cal = HrProcessAssessmentQuaCal.where('hr_process_calibration_session_id = ? AND  hr_process_calibration_session_m_id = ?', hr_process_calibration_session_m.hr_process_calibration_session.id, hr_process_calibration_session_m.id).first if hr_process_calibration_session_m %>

                      <% hr_process_quadrant_cal = hr_process_assessment_qua_cal.hr_process_quadrant if hr_process_assessment_qua_cal %>

                      <% if hr_process_quadrant_cal && hr_process_quadrant_cal.nombre %>


                        <a data-toggle="button" data-content='

                                                            <table class="" style="margin: 10px">
                                                              <tr>
                                                                <td><strong>Valoración original</strong></td>
                                                                <td style="padding-left: 5px;">

                                                                  <span class="label label-default" style="width: 50px; text-align: center; <%= 'color: #'+hr_process_quadrant_cal.color_text+';' if hr_process_quadrant_cal.color_text %><%= 'background-color: #'+hr_process_quadrant_cal.color+';' if hr_process_quadrant_cal.color %>">
                                                                      <strong><%= hr_process_quadrant_cal.nombre.html_safe %></strong>
                                                                  </span>
                                                                </td>
                                                              </tr>
                                                              <tr>
                                                                <td><strong>Comentario</strong></td>
                                                                <td style="padding-left: 5px;">
                                                                <%= hr_process_assessment_qua_cal.comentario %>
                                                                <% comentario_calib = hr_process_assessment_qua_cal.comentario %>
                                                                </td>
                                                              </tr>
                                                            </table>

                                                          '
                           id='detalle_calibracion_qua_<%= hr_process_assessment_qua_cal.id %>' >

                          <i class="fa fa-exclamation-triangle"></i>

                        </a>


                        <script language="javascript">
                          $('#detalle_calibracion_qua_<%= hr_process_assessment_qua_cal.id %>').popover({
                            html: true,
                            placement: 'left',
                            trigger: 'click'
                          });


                        </script>

                      <% end %>

                    <% end %>

                  <% end %>

                <% end %>

              </td>

            <% end %>



          <% else %>

            <% @hr_process_dimensions.each do |hr_process_dimension| %>

              <td>

              </td>

            <% end %>

            <% if @hr_process.muestra_cajas? %>

              <td style="border-right: 0px">

              </td>
              <td style="border-left: 0px">

              </td>

            <% end %>



          <% end %>

          <td>
            <% if hr_process_user %>
              <%= link_to 'Ver', my_people_show_pe_member_path(hr_process_user.id) %>
            <% end %>
          </td>
      </tr>

    <% end %>


    <% node.owner.members.each do |member| %>

        <% if member.owned_nodes.size > 0 %>
            <%= render partial: 'my_people_information/list_pe_members_rec',
                       locals:{
                               nodes: member.owned_nodes,
                               characteristics_eval_des: characteristics_eval_des,
                               ver_nodos: true,
                               es_raiz: !ver_nodos,
                               lista_usuarios: lista_usuarios,
                               lista_cajas: lista_cajas
                       }
            %>
        <% else %>

            <% hr_process_user = @hr_process.hr_process_users.where('user_id = ?', member.id).first %>

            <tr class="treegrid-m-<%= member.id %> <%= 'treegrid-parent-'+ node.id.to_s if ver_nodos %>">
              <td onclick="$('.treegrid-m-<%= member.id %>').treegrid('toggle');" class="mouse_pointer">
                <%= member.owned_nodes.first.nombre if member.owned_nodes.first %>
              </td>
              <td onclick="$('.treegrid-m-<%= member.id %>').treegrid('toggle');" class="mouse_pointer">
                <%= member.apellidos %>
              </td>
              <td onclick="$('.treegrid-m-<%= member.id %>').treegrid('toggle');" class="mouse_pointer">
                <%= member.nombre %>
              </td>


              <% characteristics_eval_des.each do |characteristic| %>

              <td>

                <% uc = node.owner.user_characteristics.find_by_characteristic_id(characteristic.id) %>
                <%= uc.valor if uc %>

              </td>

            <% end %>

            <% if hr_process_user %>

              <% @hr_process_dimensions.each do |hr_process_dimension| %>

                <% hr_process_assessment_d = hr_process_user.hr_process_assessment_ds.find_by_hr_process_dimension_id(hr_process_dimension.id) if hr_process_user.finalizado %>

                <% hr_process_dimension_g = hr_process_assessment_d.hr_process_dimension_g if hr_process_assessment_d %>

                <td style="<%= 'color: #'+hr_process_dimension_g.color_text+';' if hr_process_dimension_g && hr_process_dimension_g.color_text %>">

                  <% if hr_process_assessment_d %>

                    <%= hr_process_assessment_d.resultado_porcentaje.to_i %>%
                    -
                    <%= hr_process_dimension_g.nombre if hr_process_dimension_g %>

                    <% hr_process_assessment_d_cal = hr_process_assessment_d.hr_process_assessment_d_cal %>

                    <% if hr_process_assessment_d_cal %>

                      <label data-toggle="tooltip" title="Ver calibración" style="color: #000;">

                        <a data-toggle="button" data-content='


                                                            <table>
                                                              <tr>
                                                                <td><strong>Porcentaje original</strong></td>
                                                                <td>
                                                                  <%= hr_process_assessment_d_cal.resultado_porcentaje.to_i %>%
                                                                </td>
                                                              </tr>
                                                              <tr>
                                                                <td>
                                                                  <strong>Comentario</strong>
                                                                </td>
                                                                <td>
                                                                  <%= hr_process_assessment_d_cal.comentario %>
                                                                </td>
                                                              </tr>
                                                            </table>

                                                          '
                           id='detalle_calibracion_<%= hr_process_assessment_d_cal.id %>' >

                          <i class="fa fa-exclamation-triangle"></i>

                        </a>

                      </label>

                      <script language="javascript">
                        $('#detalle_calibracion_<%= hr_process_assessment_d_cal.id %>').popover({
                          html: true,
                          placement: 'top',
                          trigger: 'click'
                        });


                      </script>

                    <% end %>

                  <% end %>
                </td>

              <% end %>

              <% if @hr_process.muestra_cajas? %>

                <td>
                  <div>
                    <% if hr_process_user.finalizado %>

                      <% hr_process_assessment_qua = hr_process_user.hr_process_assessment_qua %>

                      <% if hr_process_assessment_qua %>

                        <% hr_process_quadrant = hr_process_assessment_qua.hr_process_quadrant %>

                        <% if hr_process_quadrant.nombre %>

                          <%

                             lista_usuarios.push hr_process_user
                             lista_cajas.push hr_process_quadrant

                          %>

                          <span class="label label-default col-md-12" style="width: 80%; text-align: center; <%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant.color_text %><%= 'background-color: #'+hr_process_quadrant.color+';' if hr_process_quadrant.color %>">
                                                            <strong><%= hr_process_quadrant.nombre.html_safe %></strong>
                                                          </span>

                          <% hr_process_calibration_session_m = hr_process_user.hr_process_calibration_session_ms.first %>

                          <% hr_process_assessment_qua_cal = HrProcessAssessmentQuaCal.where('hr_process_calibration_session_id = ? AND  hr_process_calibration_session_m_id = ?', hr_process_calibration_session_m.hr_process_calibration_session.id, hr_process_calibration_session_m.id).first if hr_process_calibration_session_m %>

                          <% hr_process_quadrant_cal = hr_process_assessment_qua_cal.hr_process_quadrant if hr_process_assessment_qua_cal %>

                          <% if hr_process_quadrant_cal && hr_process_quadrant_cal.nombre %>

                            <label data-toggle="tooltip" title="Ver calibración" style="color: #000;">

                              <a data-toggle="button" data-content='
                                                                  <dl class="dl-horizontal">
                                                                    <dt>Valoración original</dt>
                                                                    <dd>
                                                                      <span class="label label-default" style="<%= 'color: #'+hr_process_quadrant_cal.color_text+';' if hr_process_quadrant_cal.color_text %><%= 'background-color: #'+hr_process_quadrant_cal.color+';' if hr_process_quadrant_cal.color %>">
                                                                          <strong><%= hr_process_quadrant_cal.nombre.html_safe %></strong>
                                                                      </span>
                                                                    </dd>
                                                                  </dl>
                                                                  <dl class="dl-horizontal">
                                                                    <dt>Comentario</dt>
                                                                    <dd>
                                                                      <%= hr_process_assessment_qua_cal.comentario %>
                                                                    </dd>
                                                                  </dl>

                                                                '
                                 id='detalle_calibracion_qua_<%= hr_process_assessment_qua_cal.id %>' >

                                <i class="fa fa-exclamation-triangle"></i>

                              </a>

                            </label>

                            <script language="javascript">
                              $('#detalle_calibracion_qua_<%= hr_process_assessment_qua_cal.id %>').popover({
                                html: true,
                                placement: 'top',
                                trigger: 'click'
                              });


                            </script>

                          <% end %>

                        <% end %>

                      <% end %>

                    <% else %>

                      <span class="label label-default">No evaluado</span>

                    <% end %>
                  </div>
                </td>

              <% end %>



            <% else %>

              <% @hr_process_dimensions.each do |hr_process_dimension| %>

                <td>

                </td>

              <% end %>

              <% if @hr_process.muestra_cajas? %>

                <td>

                </td>

              <% end %>



            <% end %>

            <td>
              <% if hr_process_user %>
                <%= link_to 'Ver', my_people_show_pe_member_path(hr_process_user.id) %>
              <% end %>
            </td>

          </tr>

        <% end %>

    <% end %>

<% end %>