<% nodes.each do |node| %>

  <% if ver_nodos %>

    <% pe_member = @pe_process.pe_member_by_user node.owner %>



      <tr class="treegrid-<%= node.id %> <%= 'treegrid-parent-'+node.node_id.to_s if node.node_id && !es_raiz %>">
        <td onclick="$('.treegrid-<%= node.id %>').treegrid('toggle');" class="mouse_pointer">
          <%= node.owner.codigo %>
        </td>
        <td onclick="$('.treegrid-<%= node.id %>').treegrid('toggle');" class="mouse_pointer">
          <%= node.owner.apellidos %>
        </td>
        <td onclick="$('.treegrid-<%= node.id %>').treegrid('toggle');" class="mouse_pointer">
          <%= node.owner.nombre %>
        </td>

        <% @pe_process.pe_characteristics_rep_consolidated_final_results.each do |pe_characteristic| %>
          <td>
            <% pe_mc = pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id if pe_member %>
            <%= pe_mc.value if pe_mc %>
          </td>
        <% end %>

        <% if pe_member && !pe_member.removed %>

          <% @pe_process.pe_dimensions.each do |pe_dimension| %>

            <% pe_assessment_dimension = pe_member.pe_assessment_dimension(pe_dimension) if pe_member.step_assessment? %>

            <% if pe_assessment_dimension %>

              <td style="<%= 'color: #'+pe_assessment_dimension.pe_dimension_group.text_color+';' if  pe_assessment_dimension.pe_dimension_group %>">

                <%= number_with_precision(pe_assessment_dimension.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                <% if @pe_process.public_pe_dimension_name %>
                  <%= ' - '+pe_assessment_dimension.pe_dimension_group.name if pe_assessment_dimension.pe_dimension_group %>
                <% end %>

              </td>

            <% else %>
              <td></td>
            <% end %>

            <% break unless @pe_process.two_dimensions? %>


          <% end %>

          <% if @pe_process.public_pe_box %>

            <% if pe_member.step_assessment && pe_member.pe_box %>
              <% @num_evaluated_pe_members += 1 %>
              <td>
                <% pe_members_list.push pe_member %>
                <% pe_boxes_list.push pe_member.pe_box %>

                <span class="label label-default label-smart-table" style="text-align: center; color: <%= '#'+pe_member.pe_box.text_color %> !important; background-color: <%= '#'+pe_member.pe_box.bg_color %>;">
                  <% if pe_member.pe_box.short_name %>
                  &nbsp;&nbsp;<%= pe_member.pe_box.short_name %>&nbsp;&nbsp;
                  <br>
                  <% end %>
                  &nbsp;&nbsp;<%= pe_member.pe_box.name %>&nbsp;&nbsp;
                </span>
              </td>

            <% else %>
              <td></td>
            <% end %>

          <% end %>



        <% else %>

          <% @pe_process.pe_dimensions.each do |pe_dimension| %>

            <td></td>

            <% break unless @pe_process.two_dimensions? %>

          <% end %>

          <td></td>

        <% end %>

        <td>

          <% if pe_member && pe_member.step_assessment && !pe_member.removed  %>

            <% if @pe_process.display_my_people_show_rep_dfr %>

              <%= link_to 'Ver reporte', my_people_information_pe_rep_detailed_final_results_path(@pe_process, pe_member.user) %>

            <% end %>

            <% if @pe_process.display_my_people_show_rep_dfr_pdf %>

              <%= link_to 'Descargar reporte', my_people_information_pe_rep_detailed_final_results_pdf_path(@pe_process, pe_member.user) %>

            <% end %>

          <% end %>

        </td>
      </tr>


  <% end %>


  <% node.owner.members.each do |member| %>

    <% if member.owned_nodes.size > 0 %>
      <%= render partial: 'my_people_information/list_pe_members_rec2',
                 locals:{
                     nodes: member.owned_nodes,
                     ver_nodos: true,
                     es_raiz: !ver_nodos,
                     pe_members_list: pe_members_list,
                     pe_boxes_list: pe_boxes_list
                 }
      %>
    <% else %>

      <% pe_member = @pe_process.pe_member_by_user member %>

      <tr class="treegrid-m-<%= member.id %> <%= 'treegrid-parent-'+ node.id.to_s if ver_nodos %>">
        <td onclick="$('.treegrid-m-<%= member.id %>').treegrid('toggle');" class="mouse_pointer">
          <%= member.owned_nodes.first.nombre if member.owned_nodes.first %>
        </td>
        <td onclick="$('.treegrid-m-<%= member.id %>').treegrid('toggle');" class="mouse_pointer">
          <%= member.apellidos %>
        </td>
        <td onclick="$('.treegrid-m-<%= member.id %>').treegrid('toggle');" class="mouse_pointer">
          <%= member.nombre %>
        </td>

        <% @pe_process.pe_characteristics_rep_consolidated_final_results.each do |pe_characteristic| %>
          <td>
            <% pe_mc = pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id if pe_member %>
            <%= pe_mc.value if pe_mc %>
          </td>
        <% end %>

        <% if pe_member && !pe_member.removed %>

          <% @pe_process.pe_dimensions.each do |pe_dimension| %>

            <% pe_assessment_dimension = pe_member.pe_assessment_dimension(pe_dimension) if pe_member.step_assessment? %>

            <% if pe_assessment_dimension %>

              <td style="<%= 'color: #'+pe_assessment_dimension.pe_dimension_group.text_color+';' if  pe_assessment_dimension.pe_dimension_group %>">

                <%= number_with_precision(pe_assessment_dimension.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                <% if @pe_process.public_pe_dimension_name %>
                  <%= ' - '+pe_assessment_dimension.pe_dimension_group.name if pe_assessment_dimension.pe_dimension_group %>
                <% end %>

              </td>

            <% else %>
              <td></td>
            <% end %>

            <% break unless @pe_process.two_dimensions? %>


          <% end %>

          <% if @pe_process.public_pe_box %>

            <% if pe_member.step_assessment && pe_member.pe_box %>
              <% @num_evaluated_pe_members += 1 %>
              <td>
                <% pe_members_list.push pe_member %>
                <% pe_boxes_list.push pe_member.pe_box %>

                <span class="label label-default label-smart-table" style="text-align: center; color: <%= '#'+pe_member.pe_box.text_color %> !important; background-color: <%= '#'+pe_member.pe_box.bg_color %>;">
                  <% if pe_member.pe_box.short_name %>
                  &nbsp;&nbsp;<%= pe_member.pe_box.short_name %>&nbsp;&nbsp;
                  <br>
                  <% end %>
                  &nbsp;&nbsp;<%= pe_member.pe_box.name %>&nbsp;&nbsp;
                </span>
              </td>
            <% else %>
              <td></td>
            <% end %>

          <% end %>

        <% else %>

          <% @pe_process.pe_dimensions.each do |pe_dimension| %>

            <td></td>

            <% break unless @pe_process.two_dimensions? %>

          <% end %>

          <td></td>

        <% end %>

        <td>

          <% if pe_member && pe_member.step_assessment && !pe_member.removed %>

            <% if @pe_process.display_my_people_show_rep_dfr %>

              <%= link_to 'Ver reporte', my_people_information_pe_rep_detailed_final_results_path(@pe_process, pe_member.user) %>

            <% end %>

            <% if @pe_process.display_my_people_show_rep_dfr_pdf %>

              <%= link_to 'Descargar reporte', my_people_information_pe_rep_detailed_final_results_pdf_path(@pe_process, pe_member.user) %>

            <% end %>

          <% end %>

        </td>

      </tr>

    <% end %>

  <% end %>

<% end %>