<div class="mini_ficha_box">

  <div class="row">

    <div class="col-md-4 text-center">

      <% if user.activo %>

        <% if row>=1 %>
          <a href="<%= my_people_mi_colaborador_path(user.id) %>" style="color: #000;">
        <% end %>

        <% if user.foto %>
          <img src="<%= request.base_url %>/storage/<%= @company.codigo %>/fotos_usuarios/<%= user.foto %>" class="img-rounded user-foto-responsive">
        <% else %>
          <img src="/assets/default_user.png" class="img-rounded user-foto-responsive">
        <% end %>

        <% if row>=1 %>
          </a>
        <% end %>

      <% else %>

        <img src="/assets/default_user.png" class="img-rounded user-foto-responsive">

      <% end %>

    </div>
    <div class="col-md-8">

      <% if user.activo %>

        <div class="row">
          <div class="col-md-12">
            <h6 class="ultra-light margin-zero">
              <% if row>=1 %>
              <a href="<%= my_people_mi_colaborador_path(user.id) %>" style="color: #000;">
              <% end %>
                <span class="semi-bold"><%= user.nombre %> <%= user.apellidos %></span>
              <% if row>=1 %>
              </a>
              <% end %>
            </h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <a><em><%= user.email %></em></a>
          </div>
        </div>

      <% else %>

        <div class="row">
          <div class="col-md-12 text-center">
            <br>
            <span class="label label-danger">Vacante</span>
            <br><br>
          </div>
        </div>

      <% end %>

      <% Characteristic.where('mini_ficha = ?', true).reorder('orden_mini_ficha').each do |characteristic| %>

        <div class="row">
          <div class="col-md-12 ">
            <%= user.formatted_characteristic_value characteristic %>
          </div>
        </div>

      <% end %>

    </div>

  </div>

  <% if row >= 0 && user.num_members > 0 %>

    <br>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="#" onclick="render_graph_row_<%= user.id %>();"><i class="fa fa-sitemap" aria-hidden="true"> (<%= user.num_members %>)</i></a>
      </div>
    </div>

  <% end %>

</div>

<% if row >= 0 && user.num_members > 0 %>
<script>
  function render_graph_row_<%= user.id %>(){

    <% if row >= 1 && !render_selected %>

      $.when($.ajax('<%= my_people_render_graph_row_selected_path user, row-1 %>')).done(function(r){
        $.when($('#graph_row_<%= row-1 %>').hide().html(r).fadeIn('fast')).done(function(){
          $('#graph_row_<%= row %>').html('<div class="text-center"><br><i class="fa fa-refresh fa-spin"></i> Cargando colaboradores<br><br></div>');
          $('#graph_row_<%= row %>').hide().load('<%= my_people_render_graph_row_path user, row %>').fadeIn('fast');
        });

      });

    <% else %>
      $('#graph_row_<%= row %>').html('<div class="text-center"><br><i class="fa fa-refresh fa-spin"></i> Cargando colaboradores<br><br></div>');
      $('#graph_row_<%= row %>').hide().load('<%= my_people_render_graph_row_path user, row %>').fadeIn('fast');
    <% end %>

  }
</script>
<% end %>