<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">

      <div class="panel-body">

        <legend><%= get_ct_module('dnc').alias %></legend>

        <table id="datatable_dncs" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">

          <thead>
          <% cols_to_export = Array.new %>
          <tr>
            <th><%= alias_username %></th>
            <% cols_to_export.push 0 %>
            <th>Apellidos</th>
            <% cols_to_export.push 1 %>
            <th>Nombre</th>
            <% cols_to_export.push 2 %>

            <% n = 3 %>

            <% @dnc_characteristics.each do |dnc_characteristic| %>
              <th><%= dnc_characteristic.name %></th>
              <% cols_to_export.push n %>
              <% n = n+1 %>
            <% end %>

            <th>Programa</th>
            <% cols_to_export.push n %>
            <% n = n+1 %>
            <th>Categoría</th>
            <% cols_to_export.push n %>
            <% n = n+1 %>
            <th>Curso</th>
            <% cols_to_export.push n %>
            <% n = n+1 %>
            <th>Proveedor</th>
            <% cols_to_export.push n %>
            <% n = n+1 %>
            <th>Trimestre</th>
            <% cols_to_export.push n %>
            <% n = n+1 %>
            <th>Duración (h)</th>
            <% cols_to_export.push n %>
            <% n = n+1 %>
          </tr>
          <tr>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <% @dnc_characteristics.each do |dnc_characteristic| %>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
            <% end %>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
          </tr>
          </thead>

          <tbody>

          <% @active_members_full_hierarchy.each do |user| %>

            <% user.dnc_requirements.each_with_index do |dnc_requirement| %>

              <tr>
                <td><%= user.codigo %></td>
                <td><%= user.apellidos %></td>
                <td><%= user.nombre %></td>
                <% @dnc_characteristics.each do |dnc_characteristic| %>
                  <td><%= user.formatted_characteristic_value dnc_characteristic.characteristic %></td>
                <% end %>
                <td><%= dnc_requirement.dnc_course.dnc_program.name %></td>
                <td><%= dnc_requirement.dnc_course.dnc_category.name %></td>
                <td><%= dnc_requirement.dnc_course.name %></td>
                <td><%= dnc_requirement.dnc_provider.name %></td>
                <td><%= dnc_requirement.dnc_process_period.name %></td>
                <td><%= dnc_requirement.duration/60 if dnc_requirement.duration %></td>
              </tr>


            <% end %>

          <% end %>

          </tbody>

        </table>

      </div>

    </div>

  </div>
</div>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_dncs',
               cols_to_export: cols_to_export,
               file_name: 'DNCs',
               xScroll: false
           }
%>
