<div class="row">
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users"></i>
        <%= @ct_module_mpi.alias %>
      <span> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">


        <% if user_connected.node_to_which_belongs && user_connected.node_to_which_belongs.owner %>

          <div class="row">
            <div class="col-md-4 col-md-offset-4">

              <%= render partial: 'mini_ficha2',
                         locals: {
                             user: user_connected.node_to_which_belongs.owner,
                             row: -1,
                             render_selected: true
                         }
              %>

            </div>
          </div>

          <hr>

        <% end %>

        <div class="row">
          <div class="col-md-4 col-md-offset-4">

            <%= render partial: 'mini_ficha2',
                       locals: {
                           user: user_connected,
                           row: 0,
                           render_selected: true
                       }
            %>

          </div>
        </div>

        <div id="graph_row_0">

          <%= render partial: 'graph_row2',
                     locals: {
                         members: @members,
                         row: 0,
                         render_selected: false
                      }
          %>

        </div>



      </div>
    </div>
  </div>
</div>