<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users"></i>
      <%= @hr_process.nombre %> - <%= @hr_process.year %>
      <span>> Mis colaboradores </span>
    </h1>
  </div>
</div>

<% characteristics_eval_des = Characteristic.where('hr_process_assessment = ?', true).reorder('orden_hr_process_assessment') %>

<%

   lista_usuarios = Array.new
   lista_cajas = Array.new

%>

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body" style="overflow-x: scroll">

        <legend>Resultados de mis <%= @hr_process.alias_sub_plu %></legend>

        <table id="datatable_fixed_column" class="tree_mis_colaboradores table table-condensed table-bordered table-hover smart-form">
          <thead>
          <tr>
            <th>
              <i class="fa fa-plus-square mouse_pointer" onclick="$('.tree_mis_colaboradores').treegrid('expandAll');">

              </i>
              <i class="fa fa-minus-square mouse_pointer" onclick="$('.tree_mis_colaboradores').treegrid('collapseAll');">

              </i>

            </th>
            <th>Apellidos</th>
            <th>Nombre</th>

            <% characteristics_eval_des.each do |characteristic| %>

              <th><%= characteristic.nombre %></th>

            <% end %>



            <% @hr_process_dimensions.each do |hr_process_dimension| %>

              <th>
                <%= hr_process_dimension.nombre %>
              </th>

            <% end %>
            <% if @hr_process.muestra_cajas? %>
              <th style="border-right: 0px">
                Valoración final
              </th>
              <th style="border-left: 0px"></th>
            <% end %>


            <th></th>
          </tr>
          <tr class="second">
            <td class="hasinput">
              <label class="input">
                <input type="text" name="search_node" value="" class="search_init" onclick="$('.tree_mis_colaboradores').treegrid('expandAll');">
              </label>
            </td>
            <td class="hasinput">
              <label class="input">
                <input type="text" name="search_ape" value="" class="search_init" onclick="$('.tree_mis_colaboradores').treegrid('expandAll');">
              </label>
            </td>
            <td class="hasinput">
              <label class="input">
                <input type="text" name="search_nom" value="" class="search_init" onclick="$('.tree_mis_colaboradores').treegrid('expandAll');">
              </label>
            </td>
            <% characteristics_eval_des.each do |characteristic| %>
              <td class="hasinput">
                <label class="input">
                  <input type="text" name="search_c_<%= characteristic.id %>" value="" class="search_init">
                </label>
              </td>
            <% end %>
            <% @hr_process_dimensions.each do |hr_process_dimension| %>
              <td class="hasinput">
                <label class="input">
                  <input type="text" name="search_dim_<%= hr_process_dimension.id %>" value="" class="search_init">
                </label>
              </td>
            <% end %>
            <% if @hr_process.muestra_cajas? %>
              <td class="hasinput" style="border-right: 0px;">
                <label class="input">
                  <input type="text" name="search_val_fin" value="" class="search_init">
                </label>
              </td>
              <td class="hasinput" style="border-left: 0px;">

              </td>
            <% end %>

            <td class="hasinput">

            </td>

          </thead>


          <%= render partial: 'my_people_information/list_pe_members_rec',
                     locals:{
                       nodes: @root_nodes,
                       characteristics_eval_des: characteristics_eval_des,
                       ver_nodos: false,
                       lista_usuarios: lista_usuarios,
                       lista_cajas: lista_cajas

                     }
          %>

        </table>

        <script type="text/javascript">
          $('.tree_mis_colaboradores').treegrid({
            initialState: 'collapsed',
            expanderExpandedClass: 'fa fa-minus-square',
            expanderCollapsedClass: 'fa fa-plus-square'
          });
        </script>

      </div>
    </div>
  </div>
</div>


<% if @hr_process.muestra_grupos? %>


  <div class="panel panel-default">
    <div class="panel-body">

      <div class="row">

        <% @hr_process_dimensions.each do |hr_process_dimension| %>

          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-body">

                <legend><%= hr_process_dimension.nombre %></legend>

                <% if hr_process_dimension.hr_process_dimension_gs.length > 0 %>

                  <% numero_sin_descripcion = hr_process_dimension.hr_process_dimension_gs.where('descripcion IS NULL').length %>

                  <table class="table table-striped table-bordered">

                    <thead>
                    <tr>
                      <th>
                        <div class="text-center">
                          Rango
                        </div>
                      </th>
                      <th>Descripción</th>
                      <% if numero_sin_descripcion == 0 %>
                        <th>Detalle</th>
                      <% end %>
                    </tr>
                    </thead>

                    <tbody>

                    <% hr_process_dimension.hr_process_dimension_gs.each do |hr_process_dimension_g| %>
                      <tr style="<%= 'color: #'+hr_process_dimension_g.color_text+';' if hr_process_dimension_g.color_text %>">
                        <td>
                          <div class="text-center">
                            <nobr>
                              <%= hr_process_dimension_g.valor_minimo %>%

                              -

                              <%= hr_process_dimension_g.valor_maximo %>%
                            </nobr>
                          </div>
                        </td>
                        <td><%= hr_process_dimension_g.nombre %></td>
                        <% if numero_sin_descripcion == 0 %>
                          <td><%= hr_process_dimension_g.descripcion %></td>
                        <% end %>
                      </tr>
                    <% end %>

                    </tbody>

                  </table>

                <% end %>
              </div>
            </div>
          </div>

        <% end %>

      </div>

    </div>
  </div>

<% end %>

<% if @hr_process.muestra_cajas? %>


  <div class="panel panel-default">
    <div class="panel-body">


      <% if @hr_process_dimensions.length == 1 && @hr_process_dimensions.first.hr_process_dimension_gs.length > 0 %>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">

            <% ancho_grupo = 12/@hr_process_dimensions.first.hr_process_dimension_gs.length %>

            <div class="row">

              <% hr_process_assessment_d =  @hr_process_user_connected.hr_process_assessment_ds.find_by_hr_process_dimension_id(hr_process_dimensions.first.id) %>


              <% @hr_process_dimensions.first.hr_process_dimension_gs.each do |hr_process_dimension_g| %>




                <% hr_process_quadrant = @hr_process_template.quadrant_1d(hr_process_dimension_g.id) %>

                <div class="col-md-<%= ancho_grupo %> well"

                     <% if hr_process_quadrant %>

                     style="



                     <%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant.color_text %>
                       <%= 'background-color: #'+hr_process_quadrant.color+';' if hr_process_quadrant.color %>


                     "

                     <% end %>

                     >
                  <% if hr_process_quadrant %>


                    <strong>
                      <%= hr_process_quadrant.nombre.html_safe %>
                    </strong>





                  <% else %>

                    No definido <i class="fa fa-exclamation-triangle"></i>

                  <% end %>

                </div>

              <% end %>

            </div>

            <div class="row">

              <% @hr_process_dimensions.first.hr_process_dimension_gs.each do |hr_process_dimension_g| %>

                <div class="col-md-<%= ancho_grupo %>">

                  <div class="row">
                    <div class="col-md-12">
                      <%= hr_process_dimension_g.nombre%>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <%= hr_process_dimension_g.valor_minimo %>%
                    </div>
                    <div class="col-md-6 text-right">
                      <%= hr_process_dimension_g.valor_maximo %>%
                    </div>
                  </div>
                </div>


              <% end %>

            </div>

            <div class="row">

              <div class="col-md-6">
                <strong>
                  <%= @hr_process_dimensions.first.nombre %>:

                  <% hr_process_assessment_d =  @hr_process_user_connected.hr_process_assessment_ds.find_by_hr_process_dimension_id(@hr_process_dimensions.first.id) %>

                  <% if hr_process_assessment_d %>


                    <% if hr_process_assessment_d.resultado_porcentaje.to_i == hr_process_assessment_d.resultado_porcentaje %>
                      <%= hr_process_assessment_d.resultado_porcentaje.to_i %>%
                    <% else %>
                      <%= number_with_precision(hr_process_assessment_d.resultado_porcentaje, precision: 1, :separator => '.' ) %>%
                    <% end %>

                  <% end %>
                </strong>
              </div>
              <div class="col-md-6">

                <% if @hr_process_dimensions.first.hr_process_dimension_es.length > 1 %>

                  <% @hr_process_dimensions.first.hr_process_dimension_es.each do |hr_process_dimension_e_id| %>
                    - <%= hr_process_dimension_e.hr_evaluation_type.nombre if hr_process_dimension_e.hr_evaluation_type %>
                    (<%= hr_process_dimension_e.porcentaje %>%)

                    <% @hr_process_evaluations.each do |hr_process_evaluation| %>
                      <% if hr_process_evaluation.hr_process_dimension_e_id == hr_process_dimension_e_id.id %>
                        <% hr_process_assessment_ef = HrProcessAssessmentEf.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? ', hr_process_evaluation.id, @hr_process_user_connected.id).first %>
                        <% if hr_process_assessment_ef %>
                          <% if hr_process_assessment_ef.resultado_porcentaje.to_i == hr_process_assessment_ef.resultado_porcentaje %>
                            <%= hr_process_assessment_ef.resultado_porcentaje.to_i %>%
                          <% else %>
                            <%= number_with_precision(hr_process_assessment_ef.resultado_porcentaje, precision: 1, :separator => '.' ) %>%
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>

                    <br>
                  <% end %>
                <% end %>
              </div>

            </div>

          </div>
        </div>


      <% elsif @hr_process_dimensions.size == 2 && @hr_process_dimensions.first.hr_process_dimension_gs.size > 0 %>

        <% dimension_eje_x = @hr_process_dimensions.first %>
        <% dimension_eje_y = @hr_process_dimensions.last %>

        <%= render partial: 'hr_process_assessments/quadrants_2d_with_lists_limit',
                   locals: {
                     hr_process_template: @hr_process_template,
                     dimension_eje_x: @hr_process_dimensions.first,
                     dimension_eje_y: @hr_process_dimensions.last,
                     lista_cajas: lista_cajas,
                     lista_usuarios: lista_usuarios,
                     muestra_porcentajes_por_caja: false
                   }
        %>

      <% end %>

    </div>
  </div>

<% end %>


<!-- PAGE RELATED PLUGIN(S) -->
<script src="/assets/datatables/jquery.dataTables-cust.min.js"></script>
<script src="/assets/datatables/ColReorder.min.js"></script>
<script src="/assets/datatables/FixedColumns.min.js"></script>
<script src="/assets/datatables/ColVis.min.js"></script>
<script src="/assets/datatables/ZeroClipboard.js"></script>
<script src="/assets/datatables/media/js/TableTools.min.js"></script>
<script src="/assets/datatables/DT_bootstrap.js"></script>


<script type="text/javascript">

  $(document).ready(function() {


    $("#datatable_fixed_column thead input").keyup(function() {
      oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
    });

    $("#datatable_fixed_column thead input").each(function(i) {
      this.initVal = this.value;
    });
    $("#datatable_fixed_column thead input").focus(function() {
      if (this.className == "search_init") {
        this.className = "";
        this.value = "";
      }
    });
    $("#datatable_fixed_column thead input").blur(function(i) {
      if (this.value == "") {
        this.className = "search_init";
        this.value = this.initVal;
      }
    });


    var oTable = $('#datatable_fixed_column').dataTable({
      "sDom" : "<'dt-wrapper't>",
      "sPaginationType" : "bootstrap_full",
      "iDisplayLength" : -1,
      "bSort": false,
      "bFilter" : true
    });


  })

</script>