

<%= form_for @kpi_indicator_detail, html: {class: 'form-horizontal', role: 'form'} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos del indicador</legend>

      <%= f.hidden_field :kpi_indicator_id %>
      <%= f.hidden_field :measured_at %>


      <%= render 'shared/error_messages', object: f.object %>

      <div class="row">

        <div class="col-md-3">
          Indicador
        </div>

        <div class="col-md-9">

          <%= @kpi_indicator.name %>

        </div>

      </div>
      <br>

      <div class="row">

        <div class="col-md-3">
          Tipo de indicador
        </div>

        <div class="col-md-9">

          <%= @kpi_indicator.indicator_type_name %>

        </div>

      </div>

      <br>

      <div class="row">

        <div class="col-md-3">
          Unidad de medida
        </div>

        <div class="col-md-9">

          <%= @kpi_indicator.unit %>

        </div>

      </div>

      <br>

      <div class="row">

        <div class="col-md-3">
          Mes
        </div>

        <div class="col-md-9">

          <%= (localize @kpi_indicator_detail.measured_at, format: :nmonth_year) %>

        </div>

      </div>

      <br>

      <div class="form-group <%= field_with_errors f, :goal %>" id="contenedor_meta_unica">

        <%= f.label :goal, 'Meta', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :goal, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group"  id="contenedor_meta_rango">

        <%= f.label :kpi_indicator_ranks, 'Rangos', class: 'col-md-3 control-label' %>


        <div class="col-md-9">

          <a href="#"><i class="fa fa-plus" onclick="add_rango();"></i></a>
          <a href="#"><i class="fa fa-minus" onclick="remove_rango();" style="color: red;"></i></a>

          <% num_ranks = 0 %>

          <% @kpi_indicator_detail.kpi_indicator_ranks.each do |kpi_indicator_rank| %>

            <div class="row" id="meta_<%= num_ranks %>">

              <div class="col-md-6">
                Meta <input id="kpi_indicator_rank_<%= num_ranks %>_goal" name="kpi_indicator_rank[][goal]" type="text" class="form-control" value="<%= number_with_precision(kpi_indicator_rank.goal, precision: 6, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) if kpi_indicator_rank.goal %>">
              </div>
              <div class="col-md-6">
                Logro(%) <input id="kpi_indicator_rank_<%= num_ranks %>_percentage" name="kpi_indicator_rank[][percentage]" type="text" class="form-control" value="<%= number_with_precision(kpi_indicator_rank.percentage, precision: 6, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) if kpi_indicator_rank.percentage %>">
              </div>

            </div>

            <% num_ranks += 1 %>

          <% end %>

          <% ((num_ranks)..9).each do |num_rank| %>

            <div class="row" id="meta_<%= num_rank %>">
              <div class="col-md-6">
                Meta <input id="kpi_indicator_rank_<%= num_ranks %>_goal" name="kpi_indicator_rank[][goal]" type="text" class="form-control" value="">
              </div>
              <div class="col-md-6">
                Logro(%) <input id="kpi_indicator_rank_<%= num_ranks %>_percentage" name="kpi_indicator_rank[][percentage]" type="text" class="form-control" value="">
              </div>
            </div>

          <% end %>

        </div>

      </div>

      <script>

        tipo_indicador = <%= @kpi_indicator.indicator_type %>;

        if(tipo_indicador == 4){
          $( "#contenedor_meta_unica").hide();
          $( "#contenedor_meta_rango").show();
        }else{
          $( "#contenedor_meta_unica").show();
          $( "#contenedor_meta_rango").hide();
        }

        <% (0..(num_ranks-1)).each do |v| %>

        $( "#meta_<%= v %>").show();

        <% end %>

        <% (num_ranks..9).each do |v| %>

        $( "#meta_<%= v %>").hide();

        <% end %>

        numero_rangos = <%= num_ranks %>

          function add_rango(){
            if(numero_rangos < 9){

              $( "#meta_"+numero_rangos).show();
              numero_rangos += 1;
            }

          }

        function remove_rango(){

          if(numero_rangos > 0){
            numero_rangos -= 1;

            $("#kpi_indicator_rank_"+numero_rangos+"_goal").val('');
            $("#kpi_indicator_rank_"+numero_rangos+"_percentage").val('');
            $( "#meta_"+numero_rangos).hide();

          }

        }

      </script>


    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

<% end %>

