

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">

        <div class="panel-body">

          <legend>Ficha de Usuario</legend>

          <div class="row">
            <div class="col-md-9">

              <div class="row">
                <div class="col-md-3">
                  <strong>Código de usuario</strong>
                </div>
                <div class="col-md-9">
                  <%= @user.codigo %>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <strong>Nombre y Apellidos</strong>
                </div>
                <div class="col-md-9">
                  <%= @user.nombre %> <%= @user.apellidos %>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <strong>Correo electrónico</strong>
                </div>
                <div class="col-md-9">
                  <%= @user.email %>
                </div>
              </div>

            </div>
            <div class="col-md-3 text-center">
              <% if @user.foto %>
                <img src=<%= request.base_url %>/storage/<%=@company.codigo%>/fotos_usuarios/<%=@user.foto%>" class="img-thumbnail user-foto">
              <% else %>
                <img src="/assets/default_user.png" class="img-thumbnail user-foto">
              <% end %>
            </div>
          </div>

          <hr>



          <% Characteristic.find_all_by_publica(true).each do |characteristic| %>

            <div class="row">
              <div class="col-md-3">
                <strong><%= characteristic.nombre %></strong>
              </div>
              <div class="col-md-9">

                <% uc = @user.user_characteristics.find_by_characteristic_id(characteristic.id) %>

                <%= uc.valor if uc %>

              </div>
            </div>

          <% end %>

    <br><br>



      <table class="table table-bordered ">

        <thead>

          <th>Curso</th>
          <th>Programa</th>
          <th>Estado</th>
          <th>Resultado</th>
          <th>Historial</th>

        </thead>

        <% inicio = nil %>
        <% uci = @user.user_courses.where('inicio IS NOT NULL').reorder('inicio ASC').first %>
        <% inicio = uci.inicio if uci %>

        <% desde = nil %>
        <% ucf = @user.user_courses.where('desde IS NOT NULL').reorder('desde ASC').first %>
        <% desde = ucf.desde if ucf %>

        <% if inicio || desde %>

          <% inicio = desde if !inicio || (inicio && desde && desde < inicio) %>
          <% inicio = inicio.strftime('%Y') %>
          <% fin = lms_time.strftime('%Y') %>

          <% @enrollments = @user.enrollments %>

            <% (inicio.to_i..fin.to_i).each do |year| %>

              <thead>

                <tr>
                  <th colspan="5"><%= year %></th>
                </tr>

              </thead>

              <% @enrollments.each do |enrollment| %>

              <% enrollment.level.courses.each do |course| %>

                <% program_course = ProgramCourse.where('program_id = ? AND course_id = ? ', enrollment.program.id, course.id).first %>

                <% estado, estado_boton, user_course, user_courses = user_course_status(enrollment, program_course) %>

                <% if estado && user_course %>

                  <% mostrar = false %>

                  <% if user_course.fin %>

                    <% if user_course.fin.strftime('%Y').to_i == year %>

                      <% mostrar = true %>

                    <% end %>

                  <% elsif user_course.inicio %>

                    <% if user_course.inicio.strftime('%Y').to_i == year %>

                      <% mostrar = true %>

                    <% end %>

                  <% elsif user_course.desde %>

                    <% if user_course.desde.strftime('%Y').to_i == year %>

                      <% mostrar = true %>

                    <% end %>

                  <% end %>

                  <% if mostrar %>


                    <tr>
                      <td><%= course.nombre %></td>
                      <td><%= enrollment.program.nombre %></td>
                      <td>

                        <% if estado == :no_iniciado %>
                          <span class="label label-default">No iniciado</span>
                        <% elsif estado == :en_progreso %>
                          <span class="label label-primary">En progreso</span>
                        <% elsif estado == :plazo_vencido %>
                          <span class="label label-danger">Plazo Vencido</span>
                        <% elsif estado == :aprobado %>
                          <% if user_course.nota %>
                            <span class="label label-success">Aprobado</span>
                          <% else %>
                            <span class="label label-success">Cursado</span>
                          <% end %>
                        <% elsif estado == :reprobado %>
                          <span class="label label-danger">Reprobado</span>
                        <% end %>

                      </td>
                      <td>
                        <% if estado == :aprobado && user_course.nota %>
                          <span class="label label-success">
                            <%= format_nota(user_course.nota) %> <%= tipo_nota(course) %>
                          </span>
                        <% elsif estado == :reprobado && user_course.nota  %>
                          <span class="label label-danger">
                            <%= format_nota(user_course.nota) %> <%= tipo_nota(course) %>
                          </span>
                        <% end %>
                      </td>
                      <td>
                        <% if enrollment.program.especifico %>
                          <%= render partial: 'user_courses/popover_history_especifico',
                                     locals: {
                                         user_courses: user_courses,
                                         user_course: user_course,
                                         posicion: 'top'
                                     }
                          %>
                        <% else %>


                          <%= render partial: 'user_courses/popover_history_abierto',
                                     locals: {
                                         user_courses: user_courses,
                                         user_course: user_course,
                                         program_course: program_course,
                                         posicion: 'top'
                                     }
                          %>

                        <% end %>
                      </td>
                    </tr>

                  <% end %>

                <% end %>

              <% end %>

            <% end %>



          <% end %>

        <% end %>

      </table>

    </div>


  </div>

    </div>

  </div>


