<%= form_for @bd_backup, html: {class: 'form-horizontal'} do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <legend> Datos del respaldo</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :database %>">
        <%= f.label :database, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.select :database, options_for_select(@database_alternatives, @bd_backup.database), {}, {class: 'form-control select2 database_selector'} %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :file_name %>">
        <%= f.label :file_name, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group">
            <span class="input-group-addon database_name">
              Base_de_datos_
            </span>
            <%= f.text_field :file_name, class: 'form-control', required: true %>
            <span class="input-group-addon">
              .sql.tar.gz
            </span>
          </div>
        </div>
        <div class="col-md-9 col-md-offset-3">
          <em>No utilizar caracteres especiales, si la bd se llama 'lms_capitalteam' y coloca algo como 'para revisar error de Alejo' el resultado final será 'lms_capitalteam_para_revisar_error_de_Alejo.sql.tar.gz'</em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :description %>">
        <%= f.label :description, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :description, class: 'form-control wysihtml5', :rows => 3 %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :specific_tables %>">
        <%= f.label :specific_tables, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.select :specific_tables, {}, {}, {class: 'form-control table_names_selector select2', multiple: true} %>
          <em>Si no selecciona ninguna tabla, se generará el respaldo de toda la base de datos.</em>
        </div>
      </div>
    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Generar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

<% end %>
<script>
    $('.select2').select2()
    set_table_names($('.database_selector'))

    $(".database_selector").change(function(e){
        set_table_names($(this));
    });

    function set_table_names(bd_select) {
      url =  $(bd_select).find(':selected').data('url')
        $('.database_name').text($(bd_select).find(':selected').val())
        $.post( url, function( data ) {
            $('.table_names_selector').select2('destroy');
            $('.table_names_selector').find('option').remove()
            $.each(data,function(index, value)
            {
                $('.table_names_selector').append('<option value=' + value + '>' + value + '</option>');
            });
            $('.table_names_selector').select2()
        });
    }
</script>