<h1 class="page-title txt-color-blueDark">
  <%= icon_bd_backups_module_html_safe %>
  Respaldos de base de datos
  <span>> Lista de respaldos </span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">


    <legend>Lista de respaldos</legend>

    <table class="table table-hover table-bordered">

      <thead>

      <tr>
        <th><%= t('activerecord.attributes.bd_backup.file_name') %></th>
        <th><%= t('activerecord.attributes.bd_backup.description') %></th>
        <th><%= t('activerecord.attributes.bd_backup.database') %></th>
        <th><%= t('activerecord.attributes.bd_backup.specific_tables') %></th>
        <th><%= t('activerecord.attributes.bd_backup.generated_at') %></th>
        <th><%= t('activerecord.attributes.bd_backup.generated_by_admin_id') %></th>
        <th>
          <%= link_to 'Nuevo respaldo' , new_bd_backup_path %>
        </th>
      </tr>
      </thead>

      <tbody>

      <% @bd_backups.each do |bd_backup| %>
        <tr>
          <td><%= bd_backup.file_name %></td>
          <td><%= bd_backup.description.html_safe %></td>
          <td><%= bd_backup.database %></td>
          <td><%= bd_backup.specific_tables %></td>
          <td><%= bd_backup.generated_at %></td>
          <td><%= bd_backup.generated_by_admin.username %></td>
          <td><%= link_to 'Eliminar', bd_backup, method: :delete, confirm: '¿Está seguro?' %></td>
        </tr>
      <% end %>
      </table>
  </div>
</div>

