<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> Volver').html_safe, bd_backups_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%=	icon_bd_backups_module_html_safe %>
      Respaldo de bases de datos
      <span>> Generar nuevo respaldo </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'form' %>

  </div>
</div>