


<%= form_for @master_unit, html: {class: 'form-horizontal', role: 'form'} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos del contenido</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :nombre %>">

        <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :nombre, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :descripcion, 'Descripción', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.text_area :descripcion, rows: '5', class: 'form-control' %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :height, 'Altura', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.text_field :height, class: 'form-control' %>

          <em>El valor debe ser expresado como un % del ancho (sólo coloque el número, no el signo %), si se deja en blanco no se tomará en cuenta.</em>

        </div>

      </div>

      <% content_types_array = MasterUnit.content_types.each_with_index.map { |c, index| [c, index] } %>

      <div class="form-group">

        <%= f.label :content_type, 'Tipo de contenido', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.select(:content_type, options_for_select(content_types_array, @master_unit.content_type), {}, {class: 'form-control'}) %>


        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :tags, 'Tags', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.text_area :tags, rows: '5', class: 'form-control' %>

        </div>

      </div>




    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>


