
<ul class="breadcrumb">
  <li>
  	<%= link_to 'Lista de contenidos', master_units_path, tabindex: "-1" %>

  </li>
  <li class="active">Eliminar contenido</li>
</ul>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <legend class="text-center">Eliminar contenido</legend>

      <dl class="dl-horizontal">
		  
  		  <dt>Número</dt>
  		  <dd><%= @master_unit.numero %>&nbsp;</dd>

        <dt>Nombre</dt>
        <dd><%= @master_unit.nombre %>&nbsp;</dd>
  		  
        <dt>Descripción</dt>
  		  <dd><%= @master_unit.descripcion %>&nbsp;</dd>

  		  <dt>Tags</dt>
  		  <dd><%= @master_unit.tags %>&nbsp;</dd>

      </dl>

        <%= form_for @master_unit, html: { method: :delete } do |f| %> 

          <%= recaptcha_tags :display=>{:theme=>'clean'} %>

          <%= f.submit 'Eliminar', class: 'btn btn-primary' %>

        <% end %>

  </div>
</div>

