
<div class="row">

  <div class="col-md-2">

    <table class="table table-hover">

      <tbody>


        <tr>

          <td>
            <i id="unit_terminada" class="fa fa-check-square-o" style="color: green;" data-toggle="tooltip" title="Unidad terminada"></i>
            <script>
              $('#unit_terminada').tooltip({
                placement: 'right'
              });
            </script>
          </td>

          <td>
            <div>
              <span class="label label-warning" style="width: 60px;">Unidad 1</span>
              <br>Ejemplo de unidad 1
            </div>
          </td>
          <td>
            <div  class="text-right">
              <a href='#'>
                    <i id="ingresar_unit" class="fa fa-caret-square-o-right" style="color: green;" data-toggle="tooltip" title="Ingresar a la unidad"></i>
              </a>
                  <script>
                    $('#ingresar_unit').tooltip({
                      placement: 'right'
                    });
                  </script>

            </div>

          </td>

        </tr>

        <tr>

          <td>
            <i class="fa fa-check-square-o-empty" style="color: lightgray"></i>
          </td>

          <td>
            <div class="text-muted">
              <span class="label label-warning" style="width: 60px;">Unidad 2</span>
              <br>Ejemplo de unidad 2
            </div>
          </td>
          <td>
            <div  class="text-right">
              <a id="lock-u" href="#" data-toggle="tooltip" title="Debe terminar primero la Unidad 1">
                <i class="fa fa-lock" style="color: #8b0000;"></i>
              </a>
              <script>
                $('#lock-u').tooltip({
                  placement: 'right'
                });
              </script>

            </div>

          </td>

        </tr>



      </tbody>

    </table>





  </div>

  <div class="col-md-10">


    <div class="row text-center">



      <div class="col-md-12 panel_content-<%= $current_domain %> text-center" id="container_frame_course">

        <% directory = @company.directorio+'/'+@company.codigo+'/contenidos/'+@master_unit.crypted_name+'/' %>

        <% if File.exist?(directory+'index.html') %>

          <iframe class="frame_content" src="<%= request.base_url %>/storage/<%=@company.codigo+'/contenidos/'+@master_unit.crypted_name+'/index.html'%>" width="100%" height="100%"></iframe>

        <% elsif File.exist?(directory+'index.shtml') %>

          <iframe class="frame_content" src="https://<%=request.host%>/storage/<%=@company.codigo+'/contenidos/'+@master_unit.crypted_name+'/index.shtml'%>" width="100%" height="100%"></iframe>

        <% elsif File.exist?(directory+'mu'+@master_unit.numero.to_s+'.pdf') %>
          <!--
          <iframe class="frame_content" src="https://docs.google.com/viewer?url=https://<%=request.host%>/storage/<%=@company.codigo+'/contenidos/'+@master_unit.crypted_name+'/mu'+@master_unit.numero.to_s+'.pdf' %>&embedded=true" width="100%" height="100%" ></iframe>
          -->
          <iframe class="frame-content" src="https://<%=request.host%>/pdf-viewer/web/viewer.html?file=../../storage/<%= @company.codigo %>/contenidos/<%= @master_unit.crypted_name+'/mu'+@master_unit.numero.to_s %>.pdf" width="100%" height="100%" ></iframe>


        <% else %>
          <span class="label label-default">No hay contenido</span>

        <% end %>

      </div>

      <% if @master_unit.height %>
        <script>
          w = $('#container_frame_course').width();

          w = w *<%= @master_unit.height %>/100;

          $('#container_frame_course').css('height', w );

        </script>
      <% end %>

    </div>


  </div>

</div>



