

<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver al cuadro resumen'.html_safe, pe_feedback_people_list_path(@hr_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>: Retroalimentación
    </h1>
  </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render partial: 'shared/user_profile_mini',
               locals: {
                 user: @hr_process_user.user,
                 company: @company,
                 titulo: 'Perfil del Evaluado',
                 ocultar_historial: false,
                 is_boss: false
               }
    %>

  </div>
</div>


<%= render partial: 'pe_shared/view_comments' %>


<% orden_evaluations = 1 %>

<% orden_active = 0 %>

<% todo_esta_contestado = true %>

  <% if @hr_process.tiene_paso_feedback? %>

    <% if @hr_process.boss_check_final_report_on_feedback? %>

      <% relaciones = %w(jefe par sub cli prov auto) %>

      <% lista_relaciones = {'jefe' => @hr_process.alias_jefe, 'par' => @hr_process.alias_par, 'sub' => @hr_process.alias_sub, 'cli' => @hr_process.alias_cli, 'prov' => @hr_process.alias_prov} %>
      <% lista_relaciones_plu = {'jefe' => @hr_process.alias_jefe_plu, 'par' => @hr_process.alias_par_plu, 'sub' => @hr_process.alias_sub_plu, 'cli' => @hr_process.alias_cli_plu, 'prov' => @hr_process.alias_prov_plu} %>


      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <div class="panel-group" id="accordion_final_rep">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_final_rep" href="#collapse_fr">
                  Ver reporte final
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to 'Descargar reporte final <img src="/assets/filetypes2/icon_pdf.png" width="24px">'.html_safe, pe_feedback_final_rep_pdf_path(@hr_process_user) %>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to ('Descargar reporte final (para el '+@hr_process.alias_sub.downcase+') <img src="/assets/filetypes2/icon_pdf.png" width="24px">').html_safe, pe_feedback_final_rep_only_boss_pdf_path(@hr_process_user) %>

              </div>
              <div id="collapse_fr" class="panel-collapse collapse">
                <div class="panel-body">

                  <%= render partial: 'pe_reporting/final_results_common',
                             locals: {
                               is_boss: true,
                               relaciones: relaciones,
                               lista_relaciones: lista_relaciones,
                               lista_relaciones_plu: lista_relaciones_plu
                             }
                  %>

                </div>
              </div>
            </div>

          </div>

        </div>
      </div>



    <% end %>



    <div class="row">
    <div class="col-md-10 col-md-offset-1">

    <%= form_for @hr_process_user, url: pe_feedback_create_feedback_path(@hr_process_user), method: :post, html: {id: 'hr_process_assessment_confirmar_feedback_'+@hr_process_user.id.to_s} do |f| %>


    <div class="panel panel-default">
    <div class="panel-body">

    <legend>Retroalimentación</legend>


    <table class="table table-bordered table-condensed table-hover">

    <thead>
    <tr>
      <th rowspan="2">#</th>
      <% if @hr_process.show_quien_evaluo %>
        <th rowspan="2">Apellidos</th>
        <th rowspan="2">Nombre</th>
      <% end %>
      <th rowspan="2">Relación</th>
      <% @hr_process_dimensions.each do |hr_process_dimension| %>

        <th colspan="<%= hr_process_dimension.hr_process_dimension_es.size %>" class="text-center">
          <%= hr_process_dimension.nombre %>
        </th>

      <% end %>
      <th rowspan="2">Estado</th>
    </tr>
    <tr>
      <% @hr_process_dimensions.each do |hr_process_dimension| %>
        <% hr_process_dimension.hr_process_dimension_es.each do |hr_process_dimension_e| %>

          <th class="text-center">
            <%= hr_process_dimension_e.hr_evaluation_type.nombre %>
          </th>

        <% end %>
      <% end %>
    </tr>
    </thead>

    <tbody>

    <% lista_relaciones = {'jefe' => @hr_process.alias_jefe, 'par' => @hr_process.alias_par, 'sub' => @hr_process.alias_sub, 'cli' => @hr_process.alias_cli, 'prov' => @hr_process.alias_prov} %>
    <% num_evaluador = 0 %>
    <% lista_relaciones.each do |rel, rel_desc| %>


      <% @hr_process_user.hr_process_es_evaluado_users_como_uniq_order_by_apellidos_nombre(rel).each do |hr_process_user_evalua| %>

        <% hr_process_user_rel = hr_process_user_evalua.hr_process_evalua_rels.where('hr_process_user2_id = ?', @hr_process_user.id).first %>


        <tr>
          <td><%= num_evaluador += 1 %></td>
          <% if @hr_process.show_quien_evaluo %>
            <td><%= hr_process_user_evalua.user.apellidos %></td>
            <td><%= hr_process_user_evalua.user.nombre %></td>
          <% end %>

          <td><%= rel_desc %></td>

          <% @hr_process_dimensions.each do |hr_process_dimension| %>
            <% hr_process_dimension.hr_process_dimension_es.each do |hr_process_dimension_e| %>

              <% if hr_process_user_rel.no_aplica %>
                <td></td>
              <% else %>

                <% hr_process_evaluation = hr_process_dimension_e.hr_process_evaluations.where('hr_process_id = ? ', @hr_process.id).first %>

                <% if hr_process_evaluation %>

                  <% if
                     (rel == 'jefe' && hr_process_evaluation.hr_process_dimension_e.eval_jefe) ||
                       (rel == 'par' && hr_process_evaluation.hr_process_dimension_e.eval_par) ||
                       (rel == 'sub' && hr_process_evaluation.hr_process_dimension_e.eval_sub) ||
                       (rel == 'cli' && hr_process_evaluation.hr_process_dimension_e.eval_cli) ||
                       (rel == 'prov' && hr_process_evaluation.hr_process_dimension_e.eval_prov)
                  %>

                    <% hr_process_assessment_e = HrProcessAssessmentE.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? AND hr_process_user_eval_id = ? AND tipo_rel = ?', hr_process_evaluation.id, @hr_process_user.id, hr_process_user_evalua.id, rel).first %>

                    <% if hr_process_assessment_e %>
                      <% dim_g = dimension_group_for_evaluation(hr_process_evaluation, hr_process_assessment_e) %>

                      <td style="<%= 'color: #'+dim_g.color_text+';' if dim_g && dim_g.color_text %>">
                        <%= number_with_precision(hr_process_assessment_e.resultado_porcentaje, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                        <%= ' - '+dim_g.nombre if dim_g && dim_g.nombre %>
                      </td>
                    <% else %>
                      <td><span class="label label-default">No evaluado</span></td>
                    <% end %>

                  <% else %>
                    <td></td>
                  <% end %>

                <% end %>
              <% end %>

            <% end %>


          <% end %>
          <td>

            <% if hr_process_user_rel.no_aplica %>
              <span class="label label-danger">Anulada</span>
            <% elsif hr_process_user_rel.finalizada %>
              <span class="label label-success">Finalizada</span>
            <% else %>
              <span class="label label-default">No finalizada</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>

    <% if debe_realizar_autoevaluacion_proceso(@hr_process, @hr_process_user) %>

      <tr>
        <td><%= num_evaluador += 1 %></td>
        <% if @hr_process.show_quien_evaluo %>
          <td><%= @hr_process_user.user.apellidos %></td>
          <td><%= @hr_process_user.user.nombre %></td>
        <% end %>

        <td>Autoevaluación</td>

        <% @hr_process_dimensions.each do |hr_process_dimension| %>
          <% hr_process_dimension.hr_process_dimension_es.each do |hr_process_dimension_e| %>

            <% hr_process_evaluation = hr_process_dimension_e.hr_process_evaluations.where('hr_process_id = ? ', @hr_process.id).first %>

            <% if hr_process_evaluation %>

              <% if hr_process_evaluation.hr_process_dimension_e.eval_auto %>

                <% hr_process_assessment_e = HrProcessAssessmentE.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? AND hr_process_user_eval_id = ? AND tipo_rel IS NULL', hr_process_evaluation.id, @hr_process_user.id, @hr_process_user.id).first %>

                <% if hr_process_assessment_e %>
                  <% dim_g = dimension_group_for_evaluation(hr_process_evaluation, hr_process_assessment_e) %>

                  <td style="<%= 'color: #'+dim_g.color_text+';' if dim_g && dim_g.color_text %>">
                    <%= number_with_precision(hr_process_assessment_e.resultado_porcentaje, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                    <%= ' - '+dim_g.nombre if dim_g && dim_g.nombre %>
                  </td>
                <% else %>
                  <td><span class="label label-default">No evaluado</span></td>
                <% end %>

              <% else %>
                <td></td>
              <% end %>

            <% end %>

          <% end %>


        <% end %>
        <td>
          <% if @hr_process_user.finalizada_auto %>
            <span class="label label-success">Finalizada</span>
          <% else %>
            <span class="label label-default">No finalizada</span>
          <% end %>
        </td>
      </tr>

    <% end %>

    <tr>
      <td colspan="<%= @hr_process.show_quien_evaluo ? '4':'2' %>" class="text-right"><strong>Resultados parciales</strong></td>

      <% @hr_process_dimensions.each do |hr_process_dimension| %>
        <% hr_process_dimension.hr_process_dimension_es.each do |hr_process_dimension_e| %>

          <% hr_process_evaluation = hr_process_dimension_e.hr_process_evaluations.where('hr_process_id = ? ', @hr_process.id).first %>

          <% if hr_process_evaluation %>

            <% hr_process_assessment_ef = HrProcessAssessmentEf.where('hr_process_evaluation_id = ? AND hr_process_user_id = ?', hr_process_evaluation.id, @hr_process_user.id).first %>

            <% if hr_process_assessment_ef %>
              <% dim_g = dimension_group_for_evaluation(hr_process_evaluation, hr_process_assessment_ef) %>

              <td style="<%= 'color: #'+dim_g.color_text+';' if dim_g && dim_g.color_text %>">
                <strong>
                  <%= number_with_precision(hr_process_assessment_ef.resultado_porcentaje, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
                  <%= ' - '+dim_g.nombre if dim_g && dim_g.nombre %>
                </strong>
              </td>
            <% else %>
              <td><span class="label label-default">No evaluado</span></td>
            <% end %>

          <% end %>

        <% end %>


      <% end %>
    </tr>

    </tbody>

    </table>

    <table class="table table-bordered table-condensed">

      <thead>
      <tr>
        <th></th>
        <% @hr_process_dimensions.each do |hr_process_dimension| %>

          <th class="text-center">
            <%= hr_process_dimension.nombre %>
          </th>

        <% end %>
        <% if @hr_process.muestra_cajas? %>
          <th colspan="2">Valoración final</th>
        <% end %>
      </tr>
      </thead>

      <tbody>

      <tr>
        <td class="text-right"><strong>Resultados finales</strong></td>

        <% @hr_process_dimensions.each do |hr_process_dimension| %>

          <td class="text-center">


            <% hr_process_assessment_d =  @hr_process_user.hr_process_assessment_ds.find_by_hr_process_dimension_id(hr_process_dimension.id) %>

            <% if hr_process_assessment_d %>

              <% dim_g =  hr_process_assessment_d.hr_process_dimension_g %>
              <nobr>
                <label style="<%= 'color: #'+dim_g.color_text+';' if dim_g && dim_g.color_text %>">
                  <strong>
                    <%= number_with_precision(hr_process_assessment_d.resultado_porcentaje, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                    <%= ' - '+dim_g.nombre if dim_g && dim_g.nombre %>
                  </strong>

                </label>
              </nobr>
              <% hr_process_assessment_d_cal = hr_process_assessment_d.hr_process_assessment_d_cal %>

              <% if hr_process_assessment_d_cal %>

                <label data-toggle="tooltip" title="Ver calibración" style="color: #000;">

                  <a data-toggle="button" data-content='


                                    <table>
                                      <tr>
                                        <td><strong>Porcentaje original</strong></td>
                                        <td>
                                          <%= hr_process_assessment_d_cal.resultado_porcentaje.to_i %>%
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <strong>Comentario</strong>
                                        </td>
                                        <td>
                                          <%= hr_process_assessment_d_cal.comentario %>
                                        </td>
                                      </tr>
                                    </table>

                                  '
                     id='detalle_calibracion_<%= hr_process_assessment_d_cal.id %>' >

                    <i class="fa fa-exclamation-triangle"></i>

                  </a>

                </label>

                <script language="javascript">
                  $('#detalle_calibracion_<%= hr_process_assessment_d_cal.id %>').popover({
                    html: true,
                    placement: 'top',
                    trigger: 'click'
                  });


                </script>

              <% end %>

            <% end %>

          </td>

        <% end %>

        <% if @hr_process.muestra_cajas? %>

          <td>
            <div>


              <% hr_process_assessment_qua = @hr_process_user.hr_process_assessment_qua %>

              <% if hr_process_assessment_qua %>

                <% hr_process_quadrant = hr_process_assessment_qua.hr_process_quadrant %>

                <% if hr_process_quadrant.nombre %>

                          <span class="label label-default col-md-12" style="font-size: 0.9em; text-align: center; <%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant.color_text %><%= 'background-color: #'+hr_process_quadrant.color+';' if hr_process_quadrant.color %>">
                            <%= hr_process_quadrant.nombre.html_safe %><br>
                            <%= hr_process_quadrant.descripcion.html_safe if hr_process_quadrant.descripcion %>
                          </span>

                  <% hr_process_calibration_session_m = @hr_process_user.hr_process_calibration_session_ms.first %>

                  <% hr_process_assessment_qua_cal = HrProcessAssessmentQuaCal.where('hr_process_calibration_session_id = ? AND  hr_process_calibration_session_m_id = ?', hr_process_calibration_session_m.hr_process_calibration_session.id, hr_process_calibration_session_m.id).first if hr_process_calibration_session_m %>

                  <% hr_process_quadrant_cal = hr_process_assessment_qua_cal.hr_process_quadrant if hr_process_assessment_qua_cal %>

                  <% if hr_process_quadrant_cal && hr_process_quadrant_cal.nombre %>

                    <label data-toggle="tooltip" title="Ver calibración" style="color: #000;">

                      <a data-toggle="button" data-content='
                                                              <dl class="dl-horizontal">
                                                                <dt>Valoración original</dt>
                                                                <dd>
                                                                  <span class="label label-default" style="<%= 'color: #'+hr_process_quadrant_cal.color_text+';' if hr_process_quadrant_cal.color_text %><%= 'background-color: #'+hr_process_quadrant_cal.color+';' if hr_process_quadrant_cal.color %>">
                                                                      <strong><%= hr_process_quadrant_cal.nombre.html_safe %></strong>
                                                                  </span>
                                                                </dd>
                                                              </dl>
                                                              <dl class="dl-horizontal">
                                                                <dt>Comentario</dt>
                                                                <dd>
                                                                  <%= hr_process_assessment_qua_cal.comentario %>
                                                                </dd>
                                                              </dl>

                                                            '
                         id='detalle_calibracion_qua_<%= hr_process_assessment_qua_cal.id %>' >

                        <i class="fa fa-exclamation-triangle"></i>

                      </a>

                    </label>

                    <script language="javascript">
                      $('#detalle_calibracion_qua_<%= hr_process_assessment_qua_cal.id %>').popover({
                        html: true,
                        placement: 'top',
                        trigger: 'click'
                      });


                    </script>

                  <% end %>

                <% end %>



              <% else %>

                <span class="label label-default">No evaluado</span>

              <% end %>
            </div>
          </td>
          <td>

            <% if hr_process_quadrant %>

              <%= hr_process_quadrant.descripcion_detalle.html_safe if hr_process_quadrant.descripcion_detalle %>

            <% end %>

          </td>

        <% end %>


      </tr>



      </tbody>

    </table>


    <% if @hr_process_user.feedback_confirmado? %>

      <hr>
      <h6>
        <span class="label label-success">
          La retroalimentación ya ha sido realizada
          <% if @hr_process_user.feedback_date %>
            el <%= (localize @hr_process_user.feedback_date, format: :full_date) %>
          <% end %>
        </span>
      </h6>
      <br>
      <strong>Resumen de la retroalimentación</strong>
      <br>
      <br>

      <% if @hr_process.tiene_paso_feedback_modo == 1 %>

        <%= @hr_process_user.texto_feedback.html_safe if @hr_process_user.texto_feedback %>

      <% else %>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                <% if $current_domain == 'epacasmayo' %>

                  <strong>1. Fortalezas</strong>

                <% else %>

                  <strong>1. Atributos positivos de desempeño</strong>

                <% end %>
              </th>
            </tr>
          </thead>
          <tr>
            <td>
              <% if @hr_process_user.tf_1 %>

                <%= @hr_process_user.tf_1.html_safe %>

              <% end %>
            </td>
          </tr>
          <thead>
            <tr>
              <td><strong>2. Oportunidades de mejora</strong></td>
            </tr>
          </thead>
          <tr>
            <td>
              <% if @hr_process_user.tf_2 %>

                <%= @hr_process_user.tf_2.html_safe %>

              <% end %>
            </td>
          </tr>
          <thead>
            <tr>
              <td>
                <strong>3. Plan de Acción</strong>
              </td>
            </tr>
          </thead>
          <tr>
            <td>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>



                      <% if $current_domain == 'epacasmayo' %>

                          70% (experiencia, asignación de proyectos, retos, etc)
                      <% else %>

                          ¿Qué?
                      <% end %>


                    </th>
                    <th>

                      <% if $current_domain == 'epacasmayo' %>

                        20% (retroalimentación constante y acompañamiento)
                      <% else %>

                        ¿Cómo?
                      <% end %>




                    </th>
                    <th>

                      <% if $current_domain == 'epacasmayo' %>

                        10% (capacitación técnica)
                      <% else %>

                        ¿Cuándo?
                      <% end %>
                    </th>
                  </tr>
                </thead>

                <tbody>



                <% @hr_process_user.hr_process_user_tfs.each_with_index do |hr_process_user_tf, index_tf| %>

                  <tr>
                    <td><%= index_tf+1 %></td>
                    <td>
                      <%= hr_process_user_tf.what %>
                    </td>
                    <td>
                      <%= hr_process_user_tf.how %>
                    </td>
                    <td>
                      <%= hr_process_user_tf.when %>
                    </td>
                  </tr>

                <% end %>

                </tbody>

              </table>
            </td>
          </tr>

          <% if $current_domain == 'epacasmayo' %>

            <thead>
            <tr>
              <td><strong>4. Comentarios adicionales</strong></td>
            </tr>
            </thead>
            <tr>
              <td>
                <% if @hr_process_user.tf_4 %>

                  <%= @hr_process_user.tf_4.html_safe %>

                <% end %>
              </td>
            </tr>

          <% end %>

        </table>
      <% end %>

    <% else %>

      <hr>

      <strong>Confirmar retroalimentación</strong>
      <br>
      <br>

      <% if @hr_process.tiene_paso_feedback_modo == 1 %>

        <em>
          Una vez hecha tu evaluación, reúnete con tu <%= @hr_process.alias_sub.downcase %> y bríndale retroalimentación.<br>
          Indica a en el recuadro un breve resumen de lo conversado
        </em>

        <br>

        <%= f.text_area :texto_feedback, class: 'form-control', rows: '5' %>

        <script type="text/javascript">
          $('#hr_process_user_texto_feedback').wysihtml5({
            "font-styles": false,
            "emphasis": true,
            "lists": true,
            "html": false,
            "link": false,
            "image": false,
            "color": false
          });
        </script>

      <% else %>

        <em>
          Una vez hecha tu evaluación, reúnete con tu <%= @hr_process.alias_sub.downcase %> y bríndale retroalimentación.<br>
          Indica a continuación un breve resumen de lo conversado
        </em>

        <br>
        <br>
        <br>

        <% if $current_domain == 'epacasmayo' %>

            <strong>1. Fortalezas</strong>

        <% else %>

          <strong>1. Atributos positivos de desempeño</strong>

        <% end %>

        <%= f.text_area :tf_1, class: 'form-control', rows: '5' %>

        <script type="text/javascript">
          $('#hr_process_user_tf_1').wysihtml5({
            "font-styles": false,
            "emphasis": true,
            "lists": true,
            "html": false,
            "link": false,
            "image": false,
            "color": false
          });
        </script>

        <br>

        <strong>2. Oportunidades de mejora</strong>

        <%= f.text_area :tf_2, class: 'form-control', rows: '5' %>

        <script type="text/javascript">
          $('#hr_process_user_tf_2').wysihtml5({
            "font-styles": false,
            "emphasis": true,
            "lists": true,
            "html": false,
            "link": false,
            "image": false,
            "color": false
          });
        </script>

        <br><br>
        <strong>3. Plan de Acción

          <% if $current_domain == 'epacasmayo' %>

            (Recuerda utilizar la metodología 70% - 20% - 10%)

          <% end %>

        </strong>
        <br><br>
        <div class="row">
          <div class="col-md-4">

              <% if $current_domain == 'epacasmayo' %>
                <strong>
                  70% (experiencia, asignación de proyectos, retos, etc)
                </strong>
              <% else %>
                <strong>
                  ¿Qué?
                </strong>
                <br>
                <em>Escribir los objetivos acordados. Deben empezar en un verbo infinitivo.</em>
              <% end %>

          </div>
          <div class="col-md-4">

            <% if $current_domain == 'epacasmayo' %>
              <strong>
                20% (retroalimentación constante y acompañamiento)
              </strong>
            <% else %>
              <strong>¿Cómo?</strong>
              <br>
              <em>Escribir las acciones que permitirán alcanzar el objetivo.</em>
            <% end %>

          </div>
          <div class="col-md-4">

            <% if $current_domain == 'epacasmayo' %>
              <strong>
                10% (capacitación técnica)
              </strong>
            <% else %>

              <strong>¿Cuándo?</strong>
              <br>
              <em>Indicar la fecha en que se logrará el objetivo.</em>

            <% end %>


          </div>
        </div>

        <% num_tfs = 1 %>

        <% @hr_process_user.hr_process_user_tfs.each do |hr_process_user_tf| %>

          <div class="row">
            <div class="col-md-4">
              <textarea class="form-control" rows="2" name="tf_<%= num_tfs %>_what" ><%= hr_process_user_tf.what %></textarea>
            </div>
            <div class="col-md-4">
              <textarea class="form-control" rows="2" name="tf_<%= num_tfs %>_how" ><%= hr_process_user_tf.how %></textarea>
            </div>
            <div class="col-md-4">
              <textarea class="form-control" rows="2" name="tf_<%= num_tfs %>_when" ><%= hr_process_user_tf.when %></textarea>
            </div>
          </div>

          <% num_tfs += 1 %>
          <br>
        <% end %>

        <% tot_num_tfs_3 = 5 %>

        <% tot_num_tfs_3 = 1 if $current_domain == 'epacasmayo' %>

        <% (num_tfs..tot_num_tfs_3).each do |num_tf_t| %>

          <div class="row">
            <div class="col-md-4">
              <textarea class="form-control" rows="2" name="tf_<%= num_tf_t %>_what" value=""></textarea>
            </div>
            <div class="col-md-4">
              <textarea class="form-control" rows="2" name="tf_<%= num_tf_t %>_how" value=""></textarea>
            </div>
            <div class="col-md-4">
              <textarea class="form-control" rows="2" name="tf_<%= num_tf_t %>_when" value=""></textarea>
            </div>
          </div>
          <br>
        <% end %>

        <% if $current_domain == 'epacasmayo' %>

          <br>

          <strong>4. Comentarios adicionales</strong>

          <%= f.text_area :tf_4, class: 'form-control', rows: '5' %>

          <script type="text/javascript">
            $('#hr_process_user_tf_4').wysihtml5({
              "font-styles": false,
              "emphasis": true,
              "lists": true,
              "html": false,
              "link": false,
              "image": false,
              "color": false
            });
          </script>

        <% end %>

      <% end %>

      <br>

      <label class="checkbox">

        <%= f.check_box :feedback_confirmado, onchange: 'set_confirmar_feedback(this);' %>
        Confirmo que he finalizado la retroalimentación.


      </label>




      <% unless @hr_process_user.finalizado %>

        <div class="alert alert-danger">
          Aún no puede realizar la retroalimentación porque no ha confirmado que ha finalizado la evaluación.
          <script>

            $('#hr_process_assessment_confirmar_feedback_<%= @hr_process_user.id %> :input').attr("disabled", true);

          </script>
        </div>

      <% end %>

    <% end %>





    </div>
    <% unless @hr_process_user.feedback_confirmado? %>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Confirmar', class: 'btn  disabled', id: 'button_confirmar_feedback', disabled: 'disabled'  %>
          <a id= 'suggestion_make_check_confirmar_feedback' data-toggle= 'tooltip' title= 'Para habilitar el botón Confirmar debe indicar que confirma que ha finalizado la retroalimentación marcando el check '>
            <i class="fa fa-question"></i>
          </a>

        </div>
      </div>
    <% end %>

    </div>

      <script>
        function set_confirmar_feedback(c){
          if(c.checked){
            $('#button_confirmar_feedback').removeClass('disabled');
            $('#button_confirmar_feedback').addClass('btn-success');

            $('#button_confirmar_feedback').removeAttr('disabled');
          }else{
            $('#button_confirmar_feedback').removeClass('btn-success');
            $('#button_confirmar_feedback').addClass('disabled');

            $('#button_confirmar_feedback').attr("disabled", "disabled");
          }
        }
        $('#suggestion_make_check_confirmar_feedback').tooltip({
          placement: 'top'
        });
      </script>

    <% end %>

    </div>
    </div>

  <% end %>

