
<div class="row">

  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> Volver a la lista de '+@pe_rel_boss.alias_reverse_plural.downcase).html_safe, pe_assign_people_list_path(@pe_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">

    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      <%= @pe_process.step_assign_alias %>
    </h1>

  </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render partial: 'shared/user_profile_mini',
               locals: {
                   user: @pe_member_evaluated.user,
                   company: @company,
                   ocultar_historial: false,
                   titulo: 'Perfil del Evaluado',
                   is_boss: true

               }
    %>

  </div>
</div>

<% pe_rels_available_to_assign = @pe_process.pe_rels_available_to_assign %>

<% pe_rels_array = Array.new %>
<% pe_rels_available_to_assign.each do |pe_rel| %>
  <% if (@pe_member_evaluated.pe_member_rels_is_evaluated_as_pe_rel(pe_rel).size < pe_rel.max_number_to_assign) %>
    <% pe_rels_array.push [pe_rel.alias_reverse, pe_rel.id] %>
  <% end %>
<% end %>

<% need_mins = false %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel">
      <div class="panel-body">

        <legend>Evaluadores</legend>

        <table class="table table-hover table-bordered table-striped">

          <thead>

          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th>Relación</th>
            <% unless @pe_member_evaluated.step_assign %>
              <th></th>
            <% end %>
          </tr>

          </thead>

          <tbody>

          <% index = 0 %>
          <% @pe_member_evaluated.pe_member_rels_is_evaluated_ordered.each do |pe_member_rel| %>
            <% if pe_member_rel.pe_rel.assign_total_count %>
              <tr>
                <td>
                  <%= index += 1 %>
                </td>
                <td><%= pe_member_rel.pe_member_evaluator.user.codigo %></td>
                <td>
                  <%= pe_member_rel.pe_member_evaluator.user.apellidos %>
                </td>
                <td>
                  <%= pe_member_rel.pe_member_evaluator.user.nombre %>
                </td>
                <td>
                  <%= pe_member_rel.pe_rel.alias %>
                </td>

                <% unless @pe_member_evaluated.step_assign %>
                <td>


                  <%= link_to 'Eliminar', pe_assign_remove_path(pe_member_rel), data: { confirm: '¿Está seguro de eliminar a '+pe_member_rel.pe_member_evaluator.user.apellidos+', '+pe_member_rel.pe_member_evaluator.user.nombre+' como evaluador?' } if pe_member_rel.assigned_by_boss %>


                </td>
                <% end %>

              </tr>
            <% end %>
          <% end %>

          </tbody>
        </table>
<!--
        Debe asignar

        <% pe_rels_available_to_assign.each do |pe_rel| %>
          <li><%= pe_rel.alias %>: Mínimo: <%= pe_rel.min_number_to_assign %>, Máximo: <%= pe_rel.max_number_to_assign %></li>
          <% need_mins = true if @pe_member_evaluated.pe_member_rels_is_evaluated_as_pe_rel(pe_rel).size < pe_rel.min_number_to_assign %>
        <% end %>
-->
        <% if pe_rels_array.size == 0 || @pe_member_evaluated.pe_member_rels_is_evaluated_assign_total_count >= @pe_process.step_assign_max %>
          <div class="alert alert-info">
            Has llegado al límite de evaluadores.
          </div>
        <% end %>
      </div>

      <% n = @pe_member_evaluated.pe_member_rels_is_evaluated_assign_total_count %>
      <% need_mins = true if n < @pe_process.step_assign_min %>

      <% if @pe_member_evaluated.step_assign %>

        <div class="alert alert-success">
          Usted ha finalizado correctamente la asignación de evaluadores

        </div>

      <% else  %>

        <%= form_for @pe_member_evaluated, url: pe_assign_finish_path(@pe_member_evaluated), html: {method: :post, class: 'form_pe_finish_assessment'} do |f| %>

          <div class="panel-footer clearfix">

            <% if need_mins %>

              <div class="alert alert-danger">
                Aún no puede confirmar debido a que tiene asignaciones pendientes.
                <script>
                  $( document ).ready(function() {
                    $('#edit_pe_member_<%= @pe_member_evaluated.id %> :input').attr("disabled", true);
                  });
                </script>
              </div>

            <% end %>

            <div class="row">
              <div class="col-md-6">
                <nobr>
                  <label class="checkbox">

                    <%= f.check_box :step_assign, onchange: 'set_send(this);', class: 'b_ie' %>
                    Confirmo que he finalizado la asignación de evaluadores

                  </label>
                </nobr>
              </div>
              <div class="col-md-6 text-align-right" >
                <%= f.submit 'Confirmar', class: 'btn btn-default', id: 'button_confirmar_eval', disabled: 'disabled'  %>

                <a id= 'suggestion_make_check' data-toggle= 'tooltip' title= 'Para habilitar el botón Confirmar debe indicar que confirma que ha finalizado con la asignación marcando el check '>
                  <i class="fa fa-question"></i>
                </a>

              </div>
            </div>


          </div>
        <% end %>

      <% end %>


    </div>

  </div>
</div>



<script>
  function set_send(c){

    if(c.checked){
      $('#button_confirmar_eval').removeClass('btn-default');
      $('#button_confirmar_eval').addClass('btn-success');

      $('#button_confirmar_eval').removeAttr('disabled');
    }else{
      $('#button_confirmar_eval').removeClass('btn-success');
      $('#button_confirmar_eval').addClass('btn-default');

      $('#button_confirmar_eval').attr("disabled", "disabled");
    }

  }
  $('#suggestion_make_check').tooltip({
    placement: 'top'
  });

  <% if $browser_ie8 %>

  $(function() {
    $('.b_ie').click(function() {
      this.blur();
      this.focus();
    });
  });

  <% end %>


</script>


<% if pe_rels_array.size > 0 && !@pe_member_evaluated.step_assign && @pe_member_evaluated.pe_member_rels_is_evaluated_assign_total_count < @pe_process.step_assign_max %>

<br>
<div class="row">

  <div class="col-md-8 col-md-offset-2">

    <%= form_for @user, url: pe_assign_search_path(@pe_member_evaluated), html: {id: 'form_search_members_evaluator', method: :post} do |f| %>

      <div class="panel panel-default">

        <div class="panel-body">

          <legend>
            Buscar
          </legend>

          A continuación, escribe el <strong>"Apellido"</strong> o <strong>"Apellido y Nombre"</strong>  de la persona, luego selecciona <strong>"Buscar"</strong> y por último selecciona <strong>"Añadir"</strong>.

          <br><br>

          <div class="row">

            <div class="col-md-12">

              <div class="row">

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Apellidos</label>
                </div>

                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Nombre</label>
                </div>


              </div>

              <div class="row">

                <div class="col-md-4">

                  <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control', value: @user.apellidos %>

                </div>

                <div class="col-md-4">

                  <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control', value: @user.nombre %>

                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="panel-footer clearfix">
          <div class="row">

            <div class="col-md-12 text-right">
              <%= f.submit 'Buscar', class: 'btn btn-primary' %>
            </div>

          </div>

        </div>

      </div>

    <% end %>

  </div>

</div>



<% if @users %>


  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default">

        <div class="panel-body">

          <table id="datatable_members_evaluated" class="table table-striped table-bordered table-hover smart-form" style="font-size: 11px;" width="100%">

            <thead>
            <tr>
              <th>#</th>
              <th><%= alias_username %></th>
              <th>Apellidos</th>
              <th>Nombre</th>
              <th>
                Añadir como evaluador
              </th>
            </tr>
            <tr>
              <td>
                <label class="input">
                  <input type="text" class="hidden">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <td></td>
            </tr>
            </thead>

            <tbody>

            <% @users.each_with_index do |user, index| %>

              <tr>
                <td><%= index+1 %></td>
                <td><%= user.codigo %></td>
                <td><%= user.apellidos %></td>
                <td><%= user.nombre %></td>

                <td>

                  <% if @pe_member_evaluated.pe_member_rel_is_evaluated_by_user user %>

                    <span class="label label-success label-smart-table">Ya es evaluador</span>

                  <% else %>

                    <%= form_for @user, url: pe_assign_add_path(@pe_member_evaluated), html: {method: :post, class: 'form-inline'} do |f| %>

                      <input type="hidden" name="user_id" value="<%= user.id %>">

                      <% if pe_rels_available_to_assign.size >= 1 %>

                        <% if pe_rels_array.size > 1 %>

                          <%= select('pe_rel', 'id', options_for_select(pe_rels_array),{:include_blank => '-- Seleccione relación --'}, {class: 'form-control'}) %>

                        <% else %>

                          <%= hidden_field 'pe_rel', 'id', value: pe_rels_array[0][1] %>

                        <% end %>

                      <% end %>

                      <%= f.submit 'Añadir', class: 'btn btn-primary btn-sm', data: { confirm: '¿Está seguro de añadir a '+user.apellidos+', '+user.nombre+' como evaluador?' } %>

                    <% end %>

                  <% end %>

                </td>
              </tr>

            <% end %>

            </tbody>

          </table>

        </div>

      </div>

    </div>
  </div>

  <%= render partial: '/shared/datatable',
             locals: {
                 table_id: 'datatable_members_evaluated'
             }
  %>


<% end %>


<% end %>