<p id="notice"><%= notice %></p>

<p>
  <b>Dimension:</b>
  <%= @pe_dimension.dimension %>
</p>

<p>
  <b>Name:</b>
  <%= @pe_dimension.name %>
</p>

<p>
  <b>Pe process:</b>
  <%= @pe_dimension.pe_process %>
</p>


<%= link_to 'Edit', edit_pe_dimension_path(@pe_dimension) %> |
<%= link_to 'Back', pe_dimensions_path %>
