<table id='datatable_sc_schedules' class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <th><%= t('activerecord.attributes.sc_schedule.name') %></th>
    <th><%= t('activerecord.attributes.sc_schedule.description') %></th>
    <th><%= t('activerecord.attributes.sc_schedule.conditions') %></th>
    <th></th>
  </tr>

  <tr class="second">
    <td><label style="display: none" class="input"><input type="text" name="search_num" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_name" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_description" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_conditions" value="" class="search_init"></label></td>
    <td></td>
  </tr>
  </thead>

  <% schedules.each_with_index do |sc_schedule, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= sc_schedule.name %>
        <%= link_to '<i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>'.html_safe, '#', onclick: 'show_blocks_detail(this)', data: { url:he_ct_module_privilages_blocks_detail_path(sc_schedule) }  if sc_schedule.active %>
      </td>
      <td><%= sc_schedule.description.html_safe %></td>
      <td>
        <% conditions[index].each do |condition| %>
          <%= condition.characteristic.nombre %>
          <em><%= condition.condition_name.downcase %></em>
          <%= condition.match_value_string if condition.characteristic.data_type_id == 0 %>
          <%= condition.match_value_text if condition.characteristic.data_type_id == 1 %>
          <%= condition.match_value_date if condition.characteristic.data_type_id == 2 %>
          <%= condition.match_value_int if condition.characteristic.data_type_id == 3 %>
          <%= condition.match_value_float if condition.characteristic.data_type_id == 4 %>
          <%= condition.list_value if condition.characteristic.data_type_id == 5 %>
          <br>
        <% end %>
      </td>
      <td><%= link_to t('views.sc_schedules.flow_process.assign_users'), schedule_users_path(sc_schedule), :method => :get %></td>
    </tr>
  <% end %>
</table>

<div id="blocks_detail_container"></div>

<script>
    function show_blocks_detail(link){
        url = $(link).data('url');
        $.ajax({
            url: url,
            type: 'get',
            dataType: "html",
            success: function (data) {
                $('#blocks_detail_container').html(data)
                $('#blocks_detail_modal').modal('show');
            }
        });
    }
</script>
