<div class="modal fade" id="blocks_detail_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title"><strong><%= @schedule.name %></strong> <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x &nbsp;</button> </h5>

    </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">

            <table id='sc_block_table' class="table table-striped table-bordered" style="font-size: 11px;">
              <thead>
              <tr>
                <th> <%= t('activerecord.attributes.sc_block.day') %> </th>
                <th> <%= t('activerecord.attributes.sc_block.begin_time') %> </th>
                <th> <%= t('activerecord.attributes.sc_block.end_time') %> </th>
                <th> <%= t('activerecord.attributes.sc_block.free_time') %> </th>
                <th> <%= t('activerecord.attributes.sc_block.next_day') %> </th>
                <th> <%= t('activerecord.attributes.sc_block.workable') %> </th>
              </tr>
              </thead>

              <tbody class="blocks_container">
              <% @schedule.active_blocks.each do |block| %>
                <tr class="block_row">
                  <td class="day"> <%= block.day_formatted %> </td>
                  <td class="begin_time"> <%= block.begin_formatted %> </td>
                  <td class="end_time"> <%= block.end_formatted %> </td>
                  <td class="free_time"> <%= block.free_time %> </td>
                  <td class="next_day"> <%= label_yes_not_datable(block.next_day) %> </td>
                  <td class="workable"> <%= label_yes_not_datable(block.workable) %> </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>