<table id="datatable_sc_processes" class="table table-striped table-bordered smart-form sc_process_table" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <th><%= t('activerecord.attributes.sc_process.year') %></th>
    <th><%= t('activerecord.attributes.sc_process.month') %></th>
    <th><%= t('activerecord.attributes.sc_process.deadline') %></th>
    <th><%= t('activerecord.attributes.sc_process.records_since') %></th>
    <th><%= t('activerecord.attributes.sc_process.records_until') %></th>
    <th><%= t('activerecord.attributes.sc_process.closed') %></th>
    <th><%= t('activerecord.attributes.sc_process.closed_at') %></th>
    <th><%= t('activerecord.attributes.sc_process.closed_by_user_id') %></th>
    <th>
      <%= link_to t('views.sc_processes.flow_process.new_process'), new_sc_process_path %>
      <%# link_to t('views.sc_processes.flow_process.new_processes_all_year'), new_annually_path %>
    </th>
  </tr>

  <tr class="second">
    <td>
      <label class="input"><input type="text" name="search_num" value="" class="search_init"></label>
    </td>
    <td>
      <label class="input"><input type="text" name="search_year" value="" class="search_init"></label>
    </td>
    <td>
      <label class="input"><input type="text" name="search_month" value="" class="search_init"></label>
    </td>
    <td>
      <label class="input"><input type="text" name="search_deadline" value="" class="search_init"></label>
    </td>
    <td>
      <label class="input"><input type="text" name="search_records_since" value="" class="search_init"></label>
    </td>
    <td>
    <label class="input"><input type="text" name="search_records_until" value="" class="search_init"></label>
  </td>
    <td>
      <label class="input"><input type="text" name="search_closed" value="" class="search_init"></label>
    </td>
    <td>
      <label class="input"><input type="text" name="search_closed_at" value="" class="search_init"></label>
    </td>
    <td>
      <label class="input"><input type="text" name="search_closed_by_user" value="" class="search_init"></label>
    </td>
    <td></td>
  </tr>
  </thead>

  <% processes.each_with_index do |sc_process, index| %>
      <tr>
        <td><%=index+1%></td>
        <td><%= sc_process.year %></td>
        <td><%= t('date.month_names')[sc_process.month] %></td>
        <td><%= (localize sc_process.deadline, :format => :day_snmonth_year) %> </td>
        <td><%= (localize sc_process.records_since, :format => :day_snmonth_year) %> </td>
        <td><%= (localize sc_process.records_until, :format => :day_snmonth_year) %> </td>
        <td><%= label_yes_not_datable(sc_process.closed ) %></td>
        <td><%= (localize sc_process.closed_at, :format => :day_snmonth_year) if sc_process.closed%></td>
        <td><%= sc_process.closed_by_user.codigo+' - '+sc_process.closed_by_user.apellidos+', '+sc_process.closed_by_user.nombre if sc_process.closed%></td>
        <td><%= link_to t('views.sc_processes.flow_process.manage'), close_process_path(sc_process,0) %></td>
      </tr>
  <% end %>
</table>