<%= form_for he_ct_module_privilage,  url: privilages_management_update_path(he_ct_module_privilage), method: :post, html: {class: 'form-horizontal'} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.he_ct_module_privilage.legends.he_ct_module_privilage_info') %> </legend>

        <div class="row">
          <div class="col-md-3" align="right"><%= alias_username %></div>
          <div class="col-md-9"> <%= he_ct_module_privilage.user.codigo %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3" align="right"><%=t('views.ben_cellphone_number.shared.lastname') %></div>
          <div class="col-md-9"> <%= he_ct_module_privilage.user.apellidos %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3" align="right"><%=t('views.ben_cellphone_number.shared.name') %></div>
          <div class="col-md-9"> <%= he_ct_module_privilage.user.nombre %>
          </div>
        </div>
        <br>

        <% characteristics.each do |characteristic| %>
            <div class="row">
              <div class="col-md-3" align="right"><%=characteristic.name%></div>
              <div class="col-md-9"> <%= he_ct_module_privilage.user.formatted_characteristic_value characteristic.characteristic %></div>
            </div>
            <br>
        <% end %>

        <div class="form-group <%= field_with_errors f, :active %>">
          <%= f.label :active, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.check_box :active, class: 'form-control checkbox_boots' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :recorder %>">
          <%= f.label :recorder, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.check_box :recorder, class: 'form-control checkbox_boots' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :validator %>">
          <%= f.label :validator, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.check_box :validator, class: 'form-control checkbox_boots' %>
          </div>
        </div>

      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit t('views.ben_cellphone_number.forms.save'), class: 'btn btn-primary' %>
        </div>
      </div>


    </div>
<% end %>

<script>
    $('.checkbox_boots').bootstrapSwitch({
        onColor: 'success',
        onText: "Sí",
        offColor: 'danger',
        offText: "No",
        size: "small"
    });
</script>