<table id="datatable_schedule_user" class="table table-striped table-bordered sc_schedule_users_table smart-form" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <th><%= alias_username %></th>
    <th><%= t('views.sc_schedules.user.lastname') %></th>
    <th><%= t('views.sc_schedules.user.name') %></th>
    <% characteristics.each do |characteristic| %>
        <th>
          <%=characteristic.name%>
        </th>
    <% end %>
    <th><%= t('activerecord.attributes.sc_schedule_user.registered_manually') %></th>
    <th><%= t('activerecord.attributes.sc_schedule_user.he_able') %></th>

    <% if defined?(editable) and editable %>
        <th align="right">
          <i class="fa fa-refresh fa-spin find_users_spinner" style="display: none;"></i>
          <span class="find_users_spinner" style="display: none;">Encontrar usuarios por condiciones</span>
          <%= link_to 'Encontrar usuarios por condiciones', '#', :onclick => 'find_schedule_users_by_conditions(this)' %>
        </th>
    <% end %>
  </tr>

  <tr class="second">
    <td>
      <label class="input">
        <input type="text" name="search_num" value="" class="search_init">
      </label>
    </td>
    <td>
      <label class="input">
        <input type="text" name="search_codigo" value="" class="search_init">
      </label>
    </td>
    <td>
      <label class="input">
        <input type="text" name="search_apellidos" value="" class="search_init">
      </label>
    </td>
    <td><label class="input"><input type="text" name="search_nombre" value="" class="search_init"></label></td>
    <% characteristics.each do |characteristic| %>
        <td>
          <label class="input">
            <input type="text" name="search_<%= characteristic.name %>" value="" class="search_init">
          </label>
        </td>
    <% end %>
    <td><label class="input"><input type="text" name="search_manual" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_he_able" value="" class="search_init"></label></td>
    <% if defined?(editable) and editable %>
        <td></td>
    <% end %>

  </tr>

  </thead>

  <tbody class="schedule_users_container">
  <% schedule_users.each_with_index do |schedule_user, index| %>
      <%= render partial: 'schedule_user_row',
                 locals: {:schedule_user => schedule_user,
                          :editable => editable,
                          :characteristics => characteristics,
                          :index => index+1} %>
  <% end %>

  </tbody>

</table>

<%= render partial: '/shared/datatable',
           locals: { table_id: 'datatable_schedule_user' }
%>