<table id="datatable_users_to_register_recorders" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <th><%= alias_username %></th>
    <th><%= t('views.he_ct_module_privilage.user.lastname')  %></th>
    <th><%= t('views.he_ct_module_privilage.user.name')  %></th>
    <th> Activo </th>
    <% characteristics.each do |characteristic| %>
        <th><%= characteristic.name %></th>
    <% end %>
    <th><%= link_to 'Nuevo', user_to_register_search_recorders_path(user) %></th>
  </tr>

  <tr class="second">
    <td>
      <label class="input"><input type="text" name="search_num" value="" class="search_init"></label>
    </td>
    <td>
      <label class="input"><input type="text" name="search_cod" value="" class="search_init"></label>
    </td>
    <td>
      <label class="input"><input type="text" name="search_lastname" value="" class="search_init"></label>
    </td>
    <td>
      <label class="input"><input type="text" name="search_name" value="" class="search_init"></label>
    </td>
    <td>
      <label class="input"><input type="text" name="search_he_able" value="" class="search_init"></label>
    </td>
    <% characteristics.each do |characteristic| %>
        <td>
          <label class="input"><input type="text" name="search_<%=characteristic.name%>" value="" class="search_init"></label>
        </td>
    <% end %>
    <th></th>
  </tr>
  </thead>

  <% users_to_register.each_with_index do |user_to_register, index| %>
      <% if user_to_register.he_ct_module_privilage.active && user_to_register.he_ct_module_privilage.recorder %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= user_to_register.he_ct_module_privilage.user.codigo %></td>
            <td><%= user_to_register.he_ct_module_privilage.user.apellidos %></td>
            <td><%= user_to_register.he_ct_module_privilage.user.nombre %></td>
            <td><%= label_yes_not_datable(user_to_register.he_ct_module_privilage.active) %></td>
            <% characteristics.each do |characteristic| %>
                <td><%= user_to_register.he_ct_module_privilage.user.formatted_characteristic_value characteristic.characteristic %></td>
            <% end %>
            <td><%= link_to 'Desvincular', people_to_record_delete_path(user_to_register, 1), :class => 'btn btn-danger btn-xs', data: {confirm: '¿Está seguro de desvincular registrador?'} %></td>
          </tr>
      <% end %>
  <% end %>
</table>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_users_to_register_recorders'} %>