<table id="datatable_he_ct_module_privilages_validate" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <th><%= alias_username %></th>
    <th><%= t('views.he_ct_module_privilage.user.lastname')  %></th>
    <th><%= t('views.he_ct_module_privilage.user.name')  %></th>
    <% characteristics.each do |characteristic| %>
        <th>
          <%=characteristic.name%>
        </th>
    <% end %>
    <th><%= t('activerecord.attributes.he_ct_module_privilage.recorder') %></th>
    <% if user_privilage.active %>
        <th>
          <%= link_to t('views.he_ct_module_privilage.flow_process.add_recorder'), recorders_to_validate_search_new_path(user_privilage) %>
          <br>
          <%= link_to t('views.he_ct_module_privilage.flow_process.add_user'), people_to_validate_search_new_path(user_privilage) %>
        </th>
    <% end %>
  </tr>

  <tr class="second">
    <td>
      <label class="input"><input type="text" name="search_num" value="" class="search_init"></label>
    </td>
    <td>
      <label class="input"><input type="text" name="search_cod" value="" class="search_init"></label>
    </td>
    <td>
      <label class="input"><input type="text" name="search_lastname" value="" class="search_init"></label>
    </td>
    <td>
      <label class="input"><input type="text" name="search_name" value="" class="search_init"></label>
    </td>
    <% characteristics.each do |characteristic| %>
        <td>
          <label class="input"><input type="text" name="search_<%=characteristic.name%>" value="" class="search_init"></label>
        </td>
    <% end %>
    <td></td>
    <% if user_privilage.active %>
        <td></td>
    <% end %>
  </tr>
  </thead>

  <% users_to_validate.each_with_index do |user_to_validate, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= user_to_validate.user.codigo %></td>
        <td><%= user_to_validate.user.apellidos %></td>
        <td><%= user_to_validate.user.nombre %></td>
        <% characteristics.each do |characteristic| %>
            <td>
              <%= user_to_validate.user.formatted_characteristic_value characteristic.characteristic %>
            </td>
        <% end %>
        <td><%=label_yes_not_datable(false)%></td>
        <% if user_privilage.active %>
            <td><%= link_to t('views.he_ct_module_privilage.flow_process.delete'), people_to_validate_delete_path(user_to_validate), :class => 'btn btn-danger btn-xs', data: { confirm: '¿Está seguro de eliminar usuario?' } %></td>
        <% end %>
      </tr>
  <% end %>

  <% recorders_to_validate.each_with_index do |recorder_to_validate, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= recorder_to_validate.user.codigo %></td>
        <td><%= recorder_to_validate.user.apellidos %></td>
        <td><%= recorder_to_validate.user.nombre %></td>
        <% characteristics.each do |characteristic| %>
            <td>
              <%= recorder_to_validate.user.formatted_characteristic_value characteristic.characteristic %>
            </td>
        <% end %>
        <td><%=label_yes_not_datable(true)%></td>
        <% if user_privilage.active %>
            <td><%= link_to t('views.he_ct_module_privilage.flow_process.delete'), recorders_to_validate_delete_path(recorder_to_validate), :class => 'btn btn-danger btn-xs', data: { confirm: '¿Está seguro de eliminar usuario?' }%></td>
        <% end %>
      </tr>
  <% end %>
</table>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_he_ct_module_privilages_validate'} %>