<%= render partial: 'shared/module_header_navigation',
           locals: { icon: '<i class="fa fa-calendar" aria-hidden="true"> </i>',
                     go_back_col: 1,
                     legends: ['Horas extras', 'Gestionar']} %>


<div class="row" >
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li><a href="#processes" data-toggle="tab" id="processes_tab"><%= t('views.he_ct_module_privilage.navigation.tab_processes') %></a></li>
          <li><a href="#schedules" data-toggle="tab" id="schedules_tab"><%= t('views.he_ct_module_privilage.navigation.tab_schedules') %></a></li>
          <li><a href="#users_privilages" data-toggle="tab" id="users_privilages_tab"><%= t('views.he_ct_module_privilage.navigation.tab_privilages') %></a></li>
          <li><a href="#users" data-toggle="tab" id="users_tab"><%= t('views.he_ct_module_privilage.navigation.tab_users') %></a></li>
        </ul>

        <br>

        <div class="tab-content">
          <div class="tab-pane" id="processes">
            <div class="panel panel-default">
              <div class="panel-body">

                <legend> <%= t('views.sc_processes.legends.processes_list') %></legend>

                <%= render :partial => 'close_processes_list',
                           :locals => {:processes => @sc_processes}%>

              </div>
            </div>


          </div>
          <div class="tab-pane" id="schedules">
            <div class="panel panel-default">
              <div class="panel-body">

                <legend> <%= t('views.sc_schedules.legends.active_schedule_list') %></legend>

                <%= render :partial => 'active_schedule_list',
                           :locals => {:schedules => @sc_schedules,
                                       :conditions => @sc_conditions} %>

              </div>
            </div>
          </div>
          <div class="tab-pane" id="users_privilages">
            <div class="panel panel-default">
              <div class="panel-body">

                <legend> <%= t('views.he_ct_module_privilage.legends.privilage_user_list') %></legend>

                <%= render :partial => 'users_privilages',
                           :locals => {:he_ct_module_privilages => @he_ct_module_privilages,
                                       :editable => true,
                                       :characteristics => @sc_schedule_characteristics} %>

              </div>
            </div>
          </div>
          <div class="tab-pane" id="users">
            <div class="panel panel-default">
              <div class="panel-body">
                <legend> <%= t('views.he_ct_module_privilage.legends.people_to_register_list') %></legend>
                <%= render :partial => 'users_to_register_attendances',
                           :locals => {:users => @users_to_register_attendances,
                                       :editable => true,
                                       :characteristics => @sc_schedule_characteristics} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_sc_schedules'} %>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_sc_processes'} %>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_he_ct_module_privilages'} %>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_users_to_register'} %>

<script>
    $(document).ready(function () {
        $('#schedules_tab').on("shown.bs.tab", function (e) {
            $('#datatable_sc_schedules').DataTable().draw()
        });

        $('#processes_tab').on("shown.bs.tab", function (e) {
            $('#datatable_sc_processes').DataTable().draw()
        });
        $('#users_privilages_tab').on("shown.bs.tab", function (e) {
            $('#datatable_he_ct_module_privilages').DataTable().draw()
        });
        $('#users_tab').on("shown.bs.tab", function (e) {
            $('#datatable_users_to_register').DataTable().draw()
        });

        $('a[data-toggle="tab"]')[<%=@tab%>].click();
    });
</script>


