<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.he_ct_module_privilage.navigation.back_list_search_people')).html_safe, privilages_search_people_new_path, class: 'btn btn-default' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-calendar" aria-hidden="true"> </i>
      <%= t('views.he_ct_module_privilage.legends.he_ct_module_privilages') %>
      <span>> <%= t('views.he_ct_module_privilage.flow_process.new') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'form',
               :locals => { :he_ct_module_privilage => @he_ct_module_privilage } %>
  </div>
</div>