<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.he_ct_module_privilage.navigation.back_list_users_privilages')).html_safe, privilages_management_path(@he_ct_module_privilage,1), class: 'btn btn-default' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-calendar" aria-hidden="true"> </i>
      <%= t('views.he_ct_module_privilage.legends.he_ct_module_privilages') %> <span>> <%= t('views.sc_schedules.flow_process.manage') %></span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url: recorders_to_validate_search_new_path, method: :post do |f| %>

        <div class="panel panel-default">
          <div class="panel-body">

            <legend>Buscador</legend>


            <div class="row">
              <div class="col-md-12">

                <div class="row">
                  <div class="col-md-4">
                    <label>&nbsp;&nbsp;<%= alias_username %></label>
                  </div>
                  <div class="col-md-4">
                    <label>&nbsp;&nbsp;Apellidos</label>
                  </div>
                  <div class="col-md-4">
                    <label>&nbsp;&nbsp;Nombre</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>
                  </div>

                  <div class="col-md-4">
                    <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>
                  </div>

                  <div class="col-md-4">
                    <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= f.submit 'Buscar', class: 'btn btn-primary' %>
            </div>
          </div>

        </div>

    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Resultados de la búsqueda</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>
          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th><%=t('views.ben_cellphone_number.shared.lastname') %></th>
            <th><%=t('views.ben_cellphone_number.shared.name') %></th>
            <% @sc_schedule_characteristics.each do |characteristic| %>
                <th><%=characteristic.name%></th>
            <% end %>
            <th> </th>
          </tr>
          </thead>

          <tbody>

          <% @users.each_with_index do |user, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= user.codigo %></td>
                <td><%= user.apellidos%></td>
                <td><%= user.nombre %></td>
                <% @sc_schedule_characteristics.each do |characteristic| %>
                    <td><%= user.formatted_characteristic_value characteristic.characteristic %></td>
                <% end %>
                <td> <%= link_to t('views.he_ct_module_privilage.flow_process.assign'), recorders_to_validate_new_path(@he_ct_module_privilage,user)%> </td>
              </tr>
          <% end %>

          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>