<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.he_ct_module_privilage.navigation.back_list_schedules')).html_safe, schedule_users_path(@sc_schedule), class: 'btn btn-default' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-calendar" aria-hidden="true"> </i>
      <%= t('views.sc_schedules.legends.schedules') %> <span>> <%= t('views.sc_schedules.flow_process.manage') %></span>
    </h1>
  </div>
</div>

<div class="row sc_schedule_information">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'sc_schedules/sc_schedule_information',
               locals: {:schedule => @sc_schedule,
                        :editable => false,
                        :conditions => @sc_conditions } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url: schedule_search_people_create_schedule_user_path(@sc_schedule), method: :post do |f| %>

        <div class="panel panel-default">
          <div class="panel-body">

            <legend>Buscador</legend>


            <div class="row">
              <div class="col-md-12">

                <div class="row">
                  <div class="col-md-4">
                    <label>&nbsp;&nbsp;<%= alias_username %></label>
                  </div>
                  <div class="col-md-4">
                    <label>&nbsp;&nbsp;Apellidos</label>
                  </div>
                  <div class="col-md-4">
                    <label>&nbsp;&nbsp;Nombre</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>
                  </div>

                  <div class="col-md-4">
                    <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>
                  </div>

                  <div class="col-md-4">
                    <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= f.submit 'Buscar', class: 'btn btn-primary' %>
            </div>
          </div>

        </div>

    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Resultados de la búsqueda</legend>

        <%= render 'shared/error_messages', object: @schedule_user if @schedule_user %>

        <table class="table table-striped table-hover table-bordered">

          <thead>
          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th><%=t('views.ben_cellphone_number.shared.lastname') %></th>
            <th><%=t('views.ben_cellphone_number.shared.name') %></th>
            <% @sc_schedule_characteristics.each do |characteristic| %>
                <th><%=characteristic.name%></th>
            <% end %>
            <th colspan="2"><%= 'Definir periodo tiempo' %></th>
            <th class="define_period_checkbox_table_hide"></th>
          </tr>
          </thead>

          <tbody>

          <% @users.each_with_index do |user, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= user.codigo %></td>
                <td><%= user.apellidos %></td>
                <td><%= user.nombre %></td>
                <% @sc_schedule_characteristics.each do |characteristic| %>
                    <td><%= user.formatted_characteristic_value characteristic.characteristic %></td>
                <% end %>
                <!--<td>-->
                  <!--<input class="form-check-input position-static schedule_user_search" type="checkbox" value="<%= user.id %>" index="<%= index %>" aria-label="...">-->
                <!--</td>-->
                  <%= form_for ScScheduleUser.new(), :url => schedule_users_assign_user_with_period_path(@sc_schedule, user.id), html: {class: 'form-horizontal sc_schedule_user_form'}, method: :post do |f| %>
                    <td class="define_period_checkbox_table">

                    <div class="input-group">
                        <input type="text" name="desdehasta" id="desdehasta" class="form-control uneditable-input desdehasta" readonly value="<%= lms_time.strftime('%d/%m/%Y %H:%M') %> - <%= lms_time.strftime('%d/%m/%Y %H:%M') %>">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      </div>

                    <td class="define_period_checkbox_table">
                    <div align="right">
                      <%= f.submit t('views.sc_schedules.flow_process.create_schedule_user_period'), :class => 'btn btn-primary btn-xs' %>
                    </div>
                    </td>

              <% end %>
                <td class="define_period_checkbox_table_hide"> <%= link_to t('views.sc_schedules.flow_process.create_schedule_user'), schedule_users_create_manually_path(@sc_schedule, user.id), :class => 'btn btn-primary btn-xs' %></td>
              </tr>
          <% end %>

          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.desdehasta').daterangepicker({
            timePicker: true,
            timePickerIncrement: 1,
            format: 'DD/MM/YYYY hh:mm A',
            locale: {
                startDate: '<%= lms_time.strftime('%d/%m/%Y %H:%M') %>',
                endDate: '<%= lms_time.strftime('%d/%m/%Y %H:%M') %>',
                applyLabel: 'Aplicar',
                fromLabel: 'Desde',
                toLabel: 'Hasta',
                customRangeLabel: 'Custom Range',
                daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                firstDay: 1
            }
        });
    });
</script>

