<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.he_ct_module_privilage.navigation.back_list_privileges')).html_safe, he_ct_module_privilages_index_path(1), class: 'btn btn-default' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-calendar" aria-hidden="true"> </i>
      <%= t('views.sc_schedules.legends.schedules')%> <span>> <%= t('views.sc_schedules.flow_process.manage')%></span>
    </h1>
  </div>
</div>

<div class="row sc_schedule_information">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'sc_schedules/sc_schedule_information',
               locals: { :schedule => @sc_schedule,
                         :editable => false,
                         :conditions => @sc_conditions } %>
  </div>
</div>

<div class="panel panel-default col-md-12">
  <div class="panel-body">
    <legend> <%= t('views.sc_schedules.legends.schedule_users_info') %> </legend>
    <div class="schedule_users_table">
      <div align="right">
        <i class="fa fa-plus" aria-hidden="true"></i><%= link_to t('views.sc_schedules.flow_process.add'), schedule_search_people_create_schedule_user_path(@sc_schedule) %>
      </div>
      <div id="datatable_schedule_users_container">
      <%= render partial: 'schedule_user_table',
                 locals: {:schedule_users => @sc_schedule_users,
                          :editable => @sc_schedule.active,
                          :schedule => @sc_schedule,
                          :characteristics => @sc_schedule_characteristics} %>
      </div>
      <em>
        Los usuarios agregados manualmente no se eliminarán automáticamente.
        <br>
        Los usuarios eliminados serán reestablecidos si cumplen las condiciones y se decide encontrar usuarios
        automáticamente.
      </em>
    </div>

    <br>
    <legend> <%= t('views.sc_schedules.legends.schedule_users_period_info') %> </legend>
    <div class="schedule_users_table schedule_users_period_time_container">
      <%= render partial: 'schedule_user_by_time_periods_table',
                 locals: {:schedule_users => @sc_schedule_users_by_time_periods,
                          :editable => @sc_schedule.active,
                          :schedule => @sc_schedule,
                          :characteristics => @sc_schedule_characteristics} %>
    </div>
  </div>
</div>


<div class="row define_period_modal_container">

</div>

<script>
    function define_period_modal(link) {
        url = '/sc_processes/<%#@sc_process.id%>/dont_charge_to_payroll/sc_record/'+sc_record_id
        $.ajax({
            url: url,
            type: "get",
            dataType: "html",
            success: function (result) {
                $('.dont_charge_to_payroll_modal_container').html(result)
                $('#dont_charge_to_payroll_record_modal').modal('show')
            }
        })
    }

    function find_schedule_users_by_conditions(link){
        if (confirm('¿Está seguro de formar neuvas asociaciones?')) {
            url = '/sc_schedules/match_users/schedule_users/<%=@sc_schedule.id%>'
            $('.find_users_spinner').show()
            $(link).hide()
            $.ajax({
                url: url,
                type: 'get',
                success: function () {
                    refresh_schedule_users('<%=@sc_schedule.id%>')
                }
            });
        }
    }

    function refresh_schedule_users(schedule_id) {
        url = '/he_ct_module_privilages/schedules/'+ schedule_id+'/refresh_table'
        container = '.datatable_schedule_users_container'
        $.ajax({
            url: url,
            type: "get",
            dataType: "html",
            success: function (result) {
                $('#datatable_schedule_users_container').html(result);
            }
        })
    }

    function delete_schedule_user(link){
        if (confirm('¿Desea eliminar asociación de usuario a horario?')) {
            schedule_user_id = $(link).data('schedule-id')
            url = '/he_ct_module_privilages/schedules/users/' + schedule_user_id
            $.ajax({
                url: url,
                type: 'get',
                success: function () {
                    refresh_schedule_users('<%= @sc_schedule.id %>')
                }
            });
        }
    }

    function delete_schedule_user_time_period(link){
        if (confirm('¿Desea eliminar asociación de usuario a horario?')) {
            schedule_user_id = $(link).data('schedule-id')
            url = '/he_ct_module_privilages/schedules/users/' + schedule_user_id + '/deactivate_time_period'
            $.ajax({
                url: url,
                type: 'get',
                success: function () {
                    refresh_schedule_users_time_period('<%= @sc_schedule.id %>')
                }
            });
        }
    }

    function refresh_schedule_users_time_period(schedule_id) {
            url = '/he_ct_module_privilages/schedules/' + schedule_id + '/refresh_time_period_table'
            $.ajax({
                url: url,
                type: 'get',
                dataType: "html",
                success: function (data) {
                    $('.schedule_users_period_time_container').html(data)
                }
            });
    }
</script>