<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @he_ct_module_privilage.user %>
</p>

<p>
  <b>Recorder:</b>
  <%= @he_ct_module_privilage.recorder %>
</p>

<p>
  <b>Validator:</b>
  <%= @he_ct_module_privilage.validator %>
</p>


<%= link_to 'Edit', edit_he_ct_module_privilage_path(@he_ct_module_privilage) %> |
<%= link_to 'Back', he_ct_module_privilages_path %>
