<%= form_tag({:controller => :poll_processes, :action => :update_to_everyone}, :method => :post, class: 'form-horizontal') do %>

<div class="form-group">

  <div class="col-md-6 control-label">Mostrar a todos</div>
  <div class="col-md-6">

    <input type="checkbox" id="to_everyone_<%= @poll_process.id.to_s %>" name="to_everyone_<%= @poll_process.id.to_s %>" <%= 'checked=checked' if @mostrar_todos %> value="1">
    <script>
      $('#to_everyone_' + <%= @poll_process.id.to_s %> + '').bootstrapSwitch({
        onColor: 'success',
        onText: "Sí",
        offColor: 'danger',
        offText: "No"
      });
    </script>
  </div>
</div>
    <input value="Guardar" type="submit" class="btn btn-primary">
<% end %>