<div class="row">
  <% if !@poll_process.finished && @poll_process.to_date >= lms_time %>
      <div class="col-md-12">
        Finaliza el

        <span class="label label-success"><%= (localize @poll_process.to_date, format: :day_snmonth_year) %></span>

        <span class="label label-danger">En <%= distance_of_time_in_words(@poll_process.to_date, lms_time) %></span>
      </div>
  <% else %>
      <% @fecha_finalizada = @poll_process.to_date %>
      <% if @poll_process.finished
           @fecha_finalizada = [@poll_process.finished_at, @poll_process.to_date].min
      end %>

      <div class="col-md-12">
        Finalizó el

        <span class="label label-success"><%= (localize @fecha_finalizada, format: :day_snmonth_year) %></span>

        <span class="label label-danger">Hace <%= distance_of_time_in_words(lms_time, @fecha_finalizada) %></span>
      </div>
  <% end %>
</div>