<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">


  <Worksheet ss:Name="Seguimiento">
    <Table>
      <Row>
        <Cell>
          <Data ss:Type="String">Código</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Apellidos</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Nombres</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Respondida</Data>
        </Cell>

        <% @poll_process.poll_process_report_chars.each do |poll_report_char| %>
          <% char = poll_report_char.characteristic %>
          <Cell>
            <Data ss:Type="String"><%= char.nombre %></Data>
          </Cell>
        <% end %>
      </Row>
      <% @users_match.each do |user| %>
        <Row>
          <Cell>
            <Data ss:Type="String"><%= user.codigo %></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"><%= user.apellidos %></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"><%= user.nombre %></Data>
          </Cell>
          <Cell>
            <% poll_process_user = PollProcessUser.where(:user_id => user.id, :poll_process_id => @poll_process.id).first %>
            <Data ss:Type="String"><%= poll_process_user ? (poll_process_user.done ? 'Sí' : 'No') : 'No' %></Data>
          </Cell>

          <% @poll_process.poll_process_report_chars.each do |poll_report_char| %>
              <% char = poll_report_char.characteristic %>
            <Cell>
              <Data ss:Type="String"><%= user.formatted_characteristic_value(char) %></Data>
            </Cell>
          <% end %>
        </Row>
      <% end %>
    </Table>
  </Worksheet>

  <Worksheet ss:Name="Respuestas">
    <Table>
      <Row>

        <% @poll_process.poll_process_report_chars.each do |poll_report_char| %>
            <% char = poll_report_char.characteristic %>
          <Cell>
            <Data ss:Type="String"><%= char.nombre %></Data>
          </Cell>
        <% end %>

        <% @poll_process.master_poll.master_poll_questions.each  do |question| %>

          <% if [0, 1].include?(question.answer_type) %>
            <% question.master_poll_alternatives.each_with_index do |alt, index| %>
              <Cell>
                <Data ss:Type="String"><%= question.texto + ': ' if index == 0 %><%= alt.texto %></Data>
              </Cell>
            <% end %>
          <% else %>
            <Cell>
              <Data ss:Type="String"><%= question.texto %></Data>
            </Cell>
          <% end %>

        <% end %>


      </Row>

      <% @poll_process.poll_process_users.where(:done => true).each do |poll_user| %>
        <Row>

          <% @poll_process.poll_process_report_chars.each do |poll_report_char| %>
              <% char = poll_report_char.characteristic %>
            <Cell>
              <Data ss:Type="String"><%= poll_user.user.formatted_characteristic_value(char) %></Data>
            </Cell>
          <% end %>

          <% @poll_process.master_poll.master_poll_questions.each  do |question| %>

            <% answers = PollProcessUserAnswer.joins(:poll_process_user).where(:master_poll_question_id => question.id, poll_process_users: {:user_id => poll_user.user_id}) %>
            <% if [0, 1].include?(question.answer_type) %>
              <% question.master_poll_alternatives.each_with_index do |alt, index| %>
                <Cell>
                  <Data ss:Type="String"><%= answers.where(:master_poll_alternative_id => alt.id).count > 0 ? 1 : 0  %></Data>
                </Cell>
              <% end %>
            <% else %>
              <Cell>
                <Data ss:Type="String"><%= answers.first ? answers.first.long_answer : '' %></Data>
              </Cell>
            <% end %>

          <% end %>


        </Row>
      <% end %>
    </Table>
  </Worksheet>

  <Worksheet ss:Name="Consolidado">
    <Table>
      <Row>
        <Cell>
          <Data ss:Type="String">Pregunta</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Alternativa</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Cantidad</Data>
        </Cell>
      </Row>
      <% @poll_process.master_poll.master_poll_questions.each_with_index do |question, index| %>
        <% if [0, 1].include? question.answer_type %>
          <% question.master_poll_alternatives.each do |alt| %>
            <Row>
              <Cell>
                <Data ss:Type="String"><%= index+1 %>. <%= question.texto %></Data>
              </Cell>
              <Cell>
                <Data ss:Type="String"><%= alt.texto %></Data>
              </Cell>
              <Cell>
                <Data ss:Type="Number"><%= @poll_process.poll_process_user_answers.where(:master_poll_question_id => question.id, :master_poll_alternative_id => alt.id).count %></Data>
              </Cell>
            </Row>
          <% end %>
        <% else %>
          <% @poll_process.poll_process_user_answers.where(:master_poll_question_id => question.id).each do |answer| %>
            <Row>
              <Cell>
                <Data ss:Type="String"><%= index+1 %>. <%= question.texto %></Data>
              </Cell>
              <Cell>
                <Data ss:Type="String"><%= answer.long_answer %></Data>
              </Cell>
              <Cell>
                <Data ss:Type="Number">1</Data>
              </Cell>
            </Row>
          <% end %>
        <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>