<%= form_tag({:controller => :poll_processes, :action => :set_characteristics}, :method => :post, class: 'form-horizontal') do %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @poll_process.name %>
      </div>
      <div class="panel-body">
        <input type="hidden" id="id" value="<%= @poll_process.id.to_s %>">
        <%= render partial: 'characteristics/external_form_filter' %>
      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <input type="submit" value="Guardar" class="btn btn-primary">
        </div>
      </div>
    </div>
<% end %>
<script>
  window.onunload = refreshParent;
  function refreshParent() {
    window.opener.location.reload();
  }
</script>