<h1 class="page-title txt-color-blueDark">
  <i class="fa fa-check-circle-o"></i>
  Procesos de encuesta
  <span>> Lista de Procesos de encuesta </span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">


    <legend>Lista de Procesos de encuesta</legend>

    <table class="table table-striped table-hover table-bordered">

      <thead>

      <tr>

        <th>Nombre</th>
        <th>Descripción</th>
        <th>Activo</th>
        <th>Desde</th>
        <th>Hasta</th>
        <th>Finalizada</th>
        <th colspan="3">
          &nbsp;
        </th>
      </tr>
      </thead>

      <tbody>

      <% @poll_processes.each do |poll_process| %>

          <% icon_active = poll_process.active  ? 'fa fa-check' : 'fa fa-times' %>
          <% icon_pause = poll_process.allow_pause  ? 'fa fa-check' : 'fa fa-times' %>
          <% icon_finished = poll_process.finished ? 'fa fa-check' : 'fa fa-times' %>
          <% icon_results_visible = poll_process.show_preview_results_user  ? 'fa fa-eye' : 'fa fa-eye-slash' %>

          <tr>
            <td><%= poll_process.name %></td>
            <td><%= poll_process.description.html_safe %></td>
            <td align="center"><i class='<%= icon_active %>'></i></td>
            <td><%= poll_process.from_date.strftime('%d/%m/%Y') %></td>
            <td><%= poll_process.to_date.strftime('%d/%m/%Y') %></td>

            <% if poll_process.finished %>
                <td align="center" title="Finalizada el: <%= poll_process.finished_at.strftime('%d/%m/%Y') %>
                Por: <%= poll_process.finished_by_user.username %> "><i class='<%= icon_finished %>'></i></td>
            <% else %>
                <td align="center"><i class='<%= icon_finished %>'></i></td>
            <% end %>
            <td><%= link_to 'Descargar Informe', poll_processes_export_report_manager_path(poll_process.id, format: "xls") unless PollProcessUser.find_all_by_poll_process_id(poll_process).count == 0 %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

