<%= form_for @tracking_period_list, html: {class: 'form-horizontal'} do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.tracking_period_lists.shared.list_data') %></legend>

        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group <%= field_with_errors f, :name %>">
          <%= f.label :name, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :code %>">
          <%= f.label :code, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :code, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :description %>">
          <%= f.label :description, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_area :description, class: 'form-control wysihtml5', :rows => 3 %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :active %>">
          <%= f.label :active, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :active} %>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <legend> <%= t('views.tracking_period_lists.form.list_items') %></legend>
            <%= f.fields_for :tracking_period_items do |f_item| %>
                <%= render 'form_tracking_period_item', :f => f_item %>
            <% end %>
          </div>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= link_to_add_period_item 'Añadir', f %>
            </div>
          </div>
        </div>


      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit t('views.tracking_period_lists.form.submit_button'), class: 'btn btn-primary' %>
        </div>
      </div>

    </div>
<% end %>





<script type="text/javascript">
  $('.wysihtml5').wysihtml5({
    "font-styles": false,
    "emphasis": true,
    "lists": true,
    "html": false,
    "link": false,
    "image": false,
    "color": false
  });

  $('.wysihtml5').removeClass('wysihtml5');

  $(document).ready(function () {
    $(".wysihtml5-sandbox").css("resize", "vertical");

    $('.yes_no_bootstrap_switch').bootstrapSwitch({
      onColor: 'success',
      onText: "Sí",
      offColor: 'danger',
      offText: "No"
    });

  });

  //period items
  function remove_period_item(link) {
    $(link).prev('input[type=hidden]').val(1)
    $(link).closest('.period_item').hide();
  }

  function add_period_item(link, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp('new_item', 'g')
    $(link).parent().before(content.replace(regexp, new_id))
    $('.date-picker').datetimepicker({
      language: 'es',
      pickTime: false
    });
  }

  $('.date-picker').datetimepicker({
    language: 'es',
    pickTime: false
  });

</script>
