<div class="panel panel-default period_item">
  <div class="panel-body">

    <div class="form-group <%= field_with_errors f, :position %>">
      <%= f.label :position, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.number_field :position, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group <%= field_with_errors f, :name %>">
      <%= f.label :name, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group <%= field_with_errors f, :from_date %>">
      <%= f.label :from_date, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <div class="input-group date">
          <%= f.text_field :from_date, class: 'form-control date-picker', :data => {:format => 'dd/MM/yyyy'}, :value => f.object.from_date ? f.object.from_date.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y'), :readonly => true %>
          <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
        </div>
      </div>
    </div>

    <div class="form-group <%= field_with_errors f, :to_date %>">
      <%= f.label :to_date, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <div class="input-group date">
          <%= f.text_field :to_date, class: 'form-control date-picker', :data => {:format => 'dd/MM/yyyy'}, :value => f.object.to_date ? f.object.to_date.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y'), :readonly => true %>
          <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
        </div>
      </div>
    </div>

    <div class="form-group <%= field_with_errors f, :active %>">
      <%= f.label :active, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :active} %>
      </div>
    </div>

    <div class="clearfix">
      <div class="pull-right">
        <%= link_to_remove_period_item 'Eliminar', f %>
      </div>
    </div>
  </div>


</div>
