<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.tracking_lists.index.back_to_processes_list')).html_safe, tracking_processes_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
<h1 class="page-title txt-color-blueDark">
  <%= icon_tracking_module_html_safe %>
  <%= t('views.tracking_processes.shared.tracking_processes.other') %>
  <span>> <%= t('views.tracking_period_lists.index.title') %> </span>
</h1>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">


    <legend><%= t('views.tracking_period_lists.index.title') %></legend>

    <table class="table table-hover table-bordered">

      <thead>

      <tr>
        <th><%= t('activerecord.attributes.tracking_period_list.code') %></th>
        <th><%= t('activerecord.attributes.tracking_period_list.name') %></th>
        <th><%= t('activerecord.attributes.tracking_period_list.description') %></th>
        <th><%= t('activerecord.attributes.tracking_period_list.active') %></th>
        <th>
          <%= link_to t('views.tracking_period_lists.shared.create_new_list') , new_tracking_period_list_path %>
        </th>
      </tr>
      </thead>

      <tbody>

      <% @tracking_period_lists.each do |tracking_period_list| %>
          <tr>
            <td><%= tracking_period_list.code %></td>
            <td><%= tracking_period_list.name %></td>
            <td><%= tracking_period_list.description.html_safe %></td>
            <td><%= label_yes_not tracking_period_list.active %></td>
            <td><%= link_to t('views.tracking_period_lists.shared.edit_list'), edit_tracking_period_list_path(tracking_period_list) %></td>
          </tr>
      <% end %>
      </table>
  </div>
</div>