

<%= form_for @kpi_indicator, html: {class: 'form-horizontal', role: 'form'} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos del indicador de <strong><%= @kpi_set.name %></strong></legend>

      <%= f.hidden_field :kpi_set_id %>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :position %>">

        <%= f.label :position, 'Orden', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.number_field :position, autofocus: 'autofocus', class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :name %>">

        <%= f.label :name, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :name, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :weight %>">

        <%= f.label :weight, 'Peso', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :weight, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :type %>">

        <%= f.label :indicator_type, 'Tipo de indicador', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <% tipo_indicador_array = {'Directo' => 1, 'Inverso' => 2, 'Desviación (+/-)' => 3, 'Rango' => 4} %>

          <%= f.select(:indicator_type, options_for_select(tipo_indicador_array, @kpi_indicator.indicator_type), {}, class: 'form-control', onchange: 'choose_rank();') %>

          <script>
            function choose_rank(){
              var tipo_indicador = $( "#kpi_indicator_indicator_type option:selected" ).val();
              if(tipo_indicador <= 3){
                $( "#contenedor_meta_unica").show();
                $( "#contenedor_meta_rango").hide();
              }else{
                $( "#contenedor_meta_unica").hide();
                $( "#contenedor_meta_rango").show();
              }
            }
          </script>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :unit %>">

        <%= f.label :unit, 'Unidad de medida', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :unit, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :goal %>" id="contenedor_meta_unica">

        <%= f.label :goal, 'Meta', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :goal, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group"  id="contenedor_meta_rango">

        <%= f.label :kpi_indicator_ranks, 'Rangos', class: 'col-md-3 control-label' %>


        <div class="col-md-9">

          <a href="#"><i class="fa fa-plus" onclick="add_rango();"></i></a>
          <a href="#"><i class="fa fa-minus" onclick="remove_rango();" style="color: red;"></i></a>

          <% num_ranks = 0 %>

          <% @kpi_indicator.kpi_indicator_ranks.each do |kpi_indicator_rank| %>

            <div class="row" id="meta_<%= num_ranks %>">

              <div class="col-md-6">
                Meta <input id="kpi_indicator_rank_<%= num_ranks %>_goal" name="kpi_indicator_rank[][goal]" type="text" class="form-control" value="<%= kpi_indicator_rank.goal %>">
              </div>
              <div class="col-md-6">
                Logro(%) <input id="kpi_indicator_rank_<%= num_ranks %>_percentage" name="kpi_indicator_rank[][percentage]" type="text" class="form-control" value="<%= kpi_indicator_rank.percentage %>">
              </div>

            </div>

            <% num_ranks += 1 %>

          <% end %>

          <% ((num_ranks)..9).each do |num_rank| %>

            <div class="row" id="meta_<%= num_rank %>">
              <div class="col-md-6">
                Meta <input id="kpi_indicator_rank_<%= num_ranks %>_goal" name="kpi_indicator_rank[][goal]" type="text" class="form-control" value="">
              </div>
              <div class="col-md-6">
                Logro(%) <input id="kpi_indicator_rank_<%= num_ranks %>_percentage" name="kpi_indicator_rank[][percentage]" type="text" class="form-control" value="">
              </div>
            </div>

          <% end %>

        </div>

      </div>

      <script>

        var tipo_indicador = $( "#kpi_indicator_indicator_type option:selected" ).val();
        if(tipo_indicador <= 3){
          $( "#contenedor_meta_unica").show();
          $( "#contenedor_meta_rango").hide();
        }else{
          $( "#contenedor_meta_unica").hide();
          $( "#contenedor_meta_rango").show();
        }

        <% (0..(num_ranks-1)).each do |v| %>

            $( "#meta_<%= v %>").show();

        <% end %>

        <% (num_ranks..9).each do |v| %>

          $( "#meta_<%= v %>").hide();

        <% end %>

        numero_rangos = <%= num_ranks %>

        function add_rango(){
          if(numero_rangos < 9){

            $( "#meta_"+numero_rangos).show();
            numero_rangos += 1;
          }

        }

        function remove_rango(){

          if(numero_rangos > 0){
            numero_rangos -= 1;

            $("#kpi_indicator_rank_"+numero_rangos+"_goal").val('');
            $("#kpi_indicator_rank_"+numero_rangos+"_percentage").val('');
            $( "#meta_"+numero_rangos).hide();

          }

        }

      </script>


    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

<% end %>

