<h1>Listing pe_groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Pe evaluation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pe_groups.each do |pe_group| %>
  <tr>
    <td><%= pe_group.name %></td>
    <td><%= pe_group.pe_evaluation %></td>
    <td><%= link_to 'Show', pe_group %></td>
    <td><%= link_to 'Edit', edit_pe_group_path(pe_group) %></td>
    <td><%= link_to 'Destroy', pe_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pe group', new_pe_group_path %>
