<div class="panel panel-default password_rule">
  <div class="panel-body">
    <div class="form-group <%= field_with_errors f, :priority %>">
      <%= f.label :priority, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.number_field :priority, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :group_name %>">
      <%= f.label :group_name, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :group_name, class: 'form-control' %>
      </div>
    </div>
    <hr>
    <div class="form-group <%= field_with_errors f, :name %>">
      <%= f.label :name, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :name, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :description %>">
      <%= f.label :description, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_area :description, class: 'form-control wysihtml5', :rows => 3 %>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :regular_expression %>">
      <%= f.label :regular_expression, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <div class="input-group">
          <span class="input-group-addon">/</span>
        <%= f.text_field :regular_expression, class: 'form-control', required: true %>
          <span class="input-group-addon">/</span>
        </div>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :mandatory %>">
      <%= f.label :mandatory, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.check_box :mandatory, class: 'yes_no_bootstrap_switch' %>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :positive_match %>">
      <%= f.label :positive_match, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.check_box :positive_match, class: 'yes_no_bootstrap_switch' %>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :error_match_message %>">
      <%= f.label :error_match_message, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <div class="input-group">
          <span class="input-group-addon"><%= t('activerecord.attributes.user.password') %></span>
          <%= f.text_field :error_match_message, class: 'form-control', required: true %>
        </div>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :strongness %>">
      <%= f.label :strongness, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.number_field :strongness, class: 'form-control', required: true %>
      </div>
    </div>
  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      <%= link_to_remove_password_rule 'Eliminar', f %>
    </div>
  </div>
</div>