<%= form_for @tracking_participant, html: {class: 'form-horizontal'} do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.tracking_participants.shared.participant_data') %></legend>

        <%= render 'shared/error_messages', object: f.object %>

        <% if @tracking_participant.tracking_form_instances.any? && !@tracking_participant.done? %>
            <div class='alert alert-danger'>
              Este proceso se encuentra en definición y un cambio de <%= @tracking_participant.tracking_process.label_attendant %> podría generar confusión.
            </div>
        <% end %>

        <%= f.hidden_field :tracking_process_id %>

        <div class="form-group <%= field_with_errors f, :attendant_user_id %>">
          <%= f.label :attendant_user_id, @tracking_participant.tracking_process.label_attendant, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.select(:attendant_user_id, options_for_select(@possible_attendants, @tracking_participant.attendant_user_id), {:include_blank => "- Seleccionar -"}, {class: 'form-control select2'}) %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :subject_user_id %>">
          <%= f.label :subject_user_id, @tracking_participant.tracking_process.label_subject, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <% if @tracking_participant.new_record? %>
                <%= f.select(:subject_user_id, options_for_select(@possible_subjects, @tracking_participant.subject_user_id), {:include_blank => "- Seleccionar -"}, {class: 'form-control select2'}) %>
            <% else %>
                <%= @tracking_participant.subject_user.codigo + ' - ' + @tracking_participant.subject_user.comma_full_name %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit t('views.tracking_participants.form.submit_button'), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>

<script>
  $('.select2').select2({
    minimumInputLength: 4
  });
</script>
