<div class="panel panel-default">
  <div class="panel-body">
    <h1><%= @tracking_process.name %></h1>
    <table class="table table-bordered" width="100%" id="tracking_list_participants">
      <thead>
      <th width="10%"><%= alias_username %></th>
      <th><%= @tracking_process.label_subject %></th>
      <th width="25%"><%= @tracking_process.label_attendant %></th>
      <th width="25%"><%= link_to 'Añadir participantes', new_tracking_participant_path(@tracking_process) %></th>
      <tr>
        <td>
          <label class="input">
            <input type="text">
          </label>
        </td>
        <td>
          <label class="input">
            <input type="text">
          </label>
        </td>
        <td>
          <label class="input">
            <input type="text">
          </label>
        </td>
        <td>
          &nbsp
        </td>
      </tr>
      </thead>
      <tbody>
      <% @tracking_process.tracking_participants.each do |participant| %>
          <tr>
            <td><%= participant.subject_user.codigo %></td>
            <td><%= participant.subject_user.comma_full_name %></td>
            <td><%= participant.attendant_user.comma_full_name %></td>
            <td>
              <table>
                <tr>
                  <td width="15%">
                    <% if participant.traceable? %>
                        <%= link_to 'Ver', '#', :onclick => 'load_participant_view(this)', :data => {:url => tracking_participant_track_in_modal_path(participant, true)} %>
                    <% elsif participant.tracking_form_instances.any? %>
                        <%= link_to 'Ver', '#', :onclick => 'load_participant_view(this)', :data => {:url => tracking_form_instance_show_in_modal_path(participant.tracking_form_instances.first, true)} %>
                    <% else %>
                        &nbsp;
                    <% end %>
                  </td>
                  <td width="70%">
                    <%= link_to 'Cambiar ' + @tracking_process.label_attendant, edit_tracking_participant_path(participant) %>
                  </td>
                  <!--
                  <td width="25%">
                    <%#= link_to 'Resetear', tracking_participants_reset_path(participant), :confirm => t('views.tracking_processes.shared.confirm_message') if participant.tracking_form_instances.any? && !participant.done? %>
                  </td>
                  <td width="22%">
                    <%#= link_to 'Eliminar', participant, :method => :delete, :confirm => t('views.tracking_processes.shared.confirm_message') %>
                  </td>
                  -->
                </tr>
              </table>


            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 80%">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= @tracking_process.name %></h4>
      </div>
      <div class="modal-body">
        <div id="participant_detail">

        </div>
      </div>
    </div>

  </div>
</div>






<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'tracking_list_participants'
           }
%>
<style>
  .dataTables_wrapper table.table thead th {
    white-space: normal;
  !important;
  }

  .modal-body {
    max-height: 500px;
    overflow: auto;
  }
</style>

<script>
  $('#myModal').modal({show: false})

  function load_participant_view(link) {

    div_loading = '<div class="panel panel-default"><div class="panel-body"><div class="panel-body text-center"><i class="fa fa-refresh fa-spin"></i> Cargando</div></div></div>'
    $('#participant_detail').html('div_loading')
    $('#myModal').modal('show');
    url = $(link).data('url')
    $.post(url, function (data) {
      $('#participant_detail').html(data)
      $("#myModal .modal-body").animate({scrollTop: 0}, "slow");
    });

  }
</script>
