<div class="panel panel-default">
  <div class="panel-body">
    <h1><%= @tracking_process.name %></h1>
    <table class="table table-bordered" width="100%" id="tracking_list_participants">
      <thead>
      <th width="7%"><%= alias_username %></th>
      <th width="20%"><%= @tracking_process.label_subject %></th>

      <% ancho_mini_ficha = (20/@chars_to_show.count) %>
      <% ancho_form = (25/@tracking_process.tracking_forms.count) %>
      <% @chars_to_show.each do |char| %>
          <th width="<%= ancho_mini_ficha %>%"><%= char.nombre %></th>
      <% end %>
      <th width="20%"><%= @tracking_process.label_attendant %></th>
      <% @tracking_process.tracking_forms.each do |form| %>
          <th width="<%= ancho_form %>%"><%= form.name %></th>
      <% end %>
      <th width="8%">Seguimiento</th>
      <tr>

        <td>
          <label class="input">
            <input type="text">
          </label>
        </td>
        <td>
          <label class="input">
            <input type="text">
          </label>
        </td>
        <% @chars_to_show.each do |char| %>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
        <% end %>
        <td>
          <label class="input">
            <input type="text">
          </label>
        </td>
        <% @tracking_process.tracking_forms.each do |form| %>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
        <% end %>
        <td>
          <label class="input">
            <input type="text">
          </label>
        </td>
      </tr>
      </thead>
      <tbody>
      <% @tracking_process.tracking_participants.each do |participant| %>
          <tr>
            <td><%= participant.subject_user.codigo %></td>
            <td><%= participant.subject_user.comma_full_name %></td>
            <% @chars_to_show.each do |char| %>
                <% user_char = char.user_characteristics.where(:user_id => participant.subject_user.id).first %>
                <td><%= user_char.formatted_value if user_char %></td>
            <% end %>
            <td><%= participant.attendant_user.comma_full_name %></td>
            <% @tracking_process.tracking_forms.each do |form| %>
                <% t_f_instance = participant.tracking_form_instances.where(:tracking_form_id => form.id).first %>
                <td>
                  <% if t_f_instance && last_action_done = t_f_instance.last_action_done %>
                      <span class="label label-success" style="background-color: <%= '#' + last_action_done.color_label_done %>">
                        <%= last_action_done.label_done %>
                      </span>
                  <% else %>
                      <% color_status = t_f_instance ? t_f_instance.color_for_calculated_status : @tracking_process.not_started_color %>
                      <span class="label label-danger" style="background-color: <%= '#' + color_status %>">
                        <%= t_f_instance ? t_f_instance.label_for_calculated_status : @tracking_process.not_started_label %>
                      </span>
                  <% end %>
                </td>
            <% end %>

            <td>
              <% if milestone = participant.last_registered_milestone %>
                  <span class="label label-success">
                    <%= (localize milestone.registered_at, format: :day_snmonth_year) %>
                    </span>
              <% else %>
                  <span class="label label-danger" style="background-color: <%= '#' + @tracking_process.not_started_color %>">
                    <%= @tracking_process.not_started_label %>
                  </span>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="panel-body">
    <em>Leyenda:</em> <br><br>

    <% @tracking_process.tracking_forms.each do |form| %>
        <div class="row">
          <div class="col-md-4"><strong><%= form.name %></strong></div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <span class="label label-danger" style="background-color: <%= '#' + @tracking_process.not_started_color %>"><%= @tracking_process.not_started_label %></span>
                &nbsp;
                <span class="label label-danger" style="background-color: <%= '#' + @tracking_process.in_definition_color %>"><%= @tracking_process.in_definition_label %></span>
                &nbsp;
                <% if @tracking_process.accepts_redefinitions? %>
                    <span class="label label-danger" style="background-color: <%= '#' + @tracking_process.in_redefinition_color %>"><%= @tracking_process.in_redefinition_label %></span>
                    &nbsp;
                <% end %>
                <% form.tracking_form_actions.each do |action| %>
                    <span class="label label-success" style="background-color: <%= '#' + action.color_label_done %>"><%= action.label_done %></span>
                <% end %>
              </div>
              <br>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>


<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'tracking_list_participants',
               file_name: @tracking_process.name.gsub(' ', '_') + '_status'
           }
%>

<style>

  .dataTables_wrapper table.table thead th {
    white-space: normal;
  !important;
  }

</style>
