<%= form_for(@pe_member_rel) do |f| %>
  <% if @pe_member_rel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pe_member_rel.errors.count, "error") %> prohibited this pe_member_rel from being saved:</h2>

      <ul>
      <% @pe_member_rel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pe_process %><br />
    <%= f.text_field :pe_process %>
  </div>
  <div class="field">
    <%= f.label :finished %><br />
    <%= f.check_box :finished %>
  </div>
  <div class="field">
    <%= f.label :valid %><br />
    <%= f.check_box :valid %>
  </div>
  <div class="field">
    <%= f.label :pe_member_evaluator_id %><br />
    <%= f.number_field :pe_member_evaluator_id %>
  </div>
  <div class="field">
    <%= f.label :pe_rel %><br />
    <%= f.text_field :pe_rel %>
  </div>
  <div class="field">
    <%= f.label :pe_member_evaluated_id %><br />
    <%= f.number_field :pe_member_evaluated_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
