<h1>Listing pe_member_rels</h1>

<table>
  <tr>
    <th>Pe process</th>
    <th>Finished</th>
    <th>Valid</th>
    <th>Pe member evaluator</th>
    <th>Pe rel</th>
    <th>Pe member evaluated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pe_member_rels.each do |pe_member_rel| %>
  <tr>
    <td><%= pe_member_rel.pe_process %></td>
    <td><%= pe_member_rel.finished %></td>
    <td><%= pe_member_rel.valid %></td>
    <td><%= pe_member_rel.pe_member_evaluator_id %></td>
    <td><%= pe_member_rel.pe_rel %></td>
    <td><%= pe_member_rel.pe_member_evaluated_id %></td>
    <td><%= link_to 'Show', pe_member_rel %></td>
    <td><%= link_to 'Edit', edit_pe_member_rel_path(pe_member_rel) %></td>
    <td><%= link_to 'Destroy', pe_member_rel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pe member rel', new_pe_member_rel_path %>
