<p id="notice"><%= notice %></p>

<p>
  <b>Pe process:</b>
  <%= @pe_member_rel.pe_process %>
</p>

<p>
  <b>Finished:</b>
  <%= @pe_member_rel.finished %>
</p>

<p>
  <b>Valid:</b>
  <%= @pe_member_rel.valid %>
</p>

<p>
  <b>Pe member evaluator:</b>
  <%= @pe_member_rel.pe_member_evaluator_id %>
</p>

<p>
  <b>Pe rel:</b>
  <%= @pe_member_rel.pe_rel %>
</p>

<p>
  <b>Pe member evaluated:</b>
  <%= @pe_member_rel.pe_member_evaluated_id %>
</p>


<%= link_to 'Edit', edit_pe_member_rel_path(@pe_member_rel) %> |
<%= link_to 'Back', pe_member_rels_path %>
