



<%= form_for @training_impact_category, html: {class: 'form-horizontal'} do |f| %>

  <%= render 'shared/error_messages', object: f.object %>



  <div class="form-group <%= field_with_errors f, :orden %>">

    <%= f.label :orden, 'Orden', class: 'col-md-3 control-label' %>

    <div class="col-md-9">

      <%= f.text_field :orden %>

    </div>

  </div>

  <div class="form-group <%= field_with_errors f, :nombre %>">

    <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

    <div class="col-md-9">

      <%= f.text_field :nombre %>

    </div>

  </div>

  <div class="form-group <%= field_with_errors f, :peso %>">

    <%= f.label :peso, 'Peso', class: 'col-md-3 control-label' %>

    <div class="col-md-9">

      <%= f.text_field :peso %>

    </div>

  </div>



  <div class="form-group">

    <div class="col-md-9">

      <%= f.submit 'Guardar', class: 'btn btn-primary' %>

    </div>

  </div>

<% end %>




