
<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de categorías a impactar', training_impact_categories_path, tabindex: '-1' %>

  </li>
  <li class="active">Eliminar categoría a impactar</li>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <legend class="text-center">Eliminar categoría a impactar</legend>

    <dl class="dl-horizontal">




      <dt>Nombre</dt>
      <dd><%= @training_impact_category.nombre %>&nbsp;</dd>



    </dl>

    <%= form_for @training_impact_category, html: { method: :delete } do |f| %>

      <%= recaptcha_tags :display=>{:theme=>'clean'} %>

      <%= f.submit 'Eliminar', class: 'btn btn-primary' %>

    <% end %>

  </div>
</div>