
<legend class="text-center">Lista de categorías a impactar</legend>

<table class="table table-striped table-hover">

  <thead>

  <tr>
    <th>Orden</th>
    <th>Nombre</th>
    <th>Peso</th>
    <th colspan="3">
      <%= link_to 'Crear una nueva categoría a impactar', new_training_impact_category_path %>
    </th>
  </tr>

  </thead>

  <tbody>

<% @training_impact_categories.each_with_index do |training_impact_category, index| %>
  <tr>
    <td>
      <%= training_impact_category.orden %>
    </td>
    <td><%= training_impact_category.nombre %></td>
    <td><%= training_impact_category.peso %></td>
    <td><%= link_to 'Ver', training_impact_category %></td>
    <td><%= link_to 'Editar', edit_training_impact_category_path(training_impact_category) %></td>
    <td>
      <% if training_impact_category.dnc_training_impacts.length == 0 && training_impact_category.dnc_training_impact_ps.length == 0 %>
        <%= link_to 'Eliminar', delete_training_impact_category_path(training_impact_category) %>
      <% end %>
    </td>
  </tr>
<% end %>

  </tbody>
</table>

