<div class="panel panel-default">
  <div class="panel-body">
    <legend> <%= t('views.bp_season_periods.legends.season_periods_list') %></legend>
    <table id="datatable_bp_season_periods" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
      <thead>
      <tr>
        <th>#</th>
        <th><%= t('activerecord.attributes.bp_season_period.begin') %></th>
        <th><%= t('activerecord.attributes.bp_season_period.end') %></th>
        <th><%= t('activerecord.attributes.bp_season_period.active') %></th>
        <th><%= t('activerecord.attributes.bp_season_period.since') %></th>
        <th><%= t('activerecord.attributes.bp_season_period.until') %></th>
        <th><%= link_to t('views.bp_season_periods.flow_process.new'), bp_admin_season_period_new_path(season) %></th>
      </tr>

      <tr class="second">
        <td></td>
        <td><label class="input"><input type="text" name="search_begin" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_end" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_active" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_since" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_until" value="" class="search_init"></label></td>
        <td></td>
      </tr>
      </thead>
      <% season.bp_season_periods.reorder('since DESC').each_with_index do |season_period, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= (localize season_period.begin, format: :day_snmonth).to_s if season_period.begin %></td>
            <td><%= (localize season_period.end, format: :day_snmonth).to_s  if season_period.end %></td>
            <td><%= label_yes_not_datable(season_period.active?(lms_time))%></td>
            <td><%= (localize season_period.since, format: :day_snmonth_year).to_s+' '+season_period.since.strftime('%H:%M') if season_period.since %></td>
            <td><%= (localize season_period.until, format: :day_snmonth_year).to_s+' '+season_period.until.strftime('%H:%M') if season_period.until %></td>
            <td><%= link_to BpSeasonPeriod.find(season_period.id).until ? t('views.bp_season_periods.flow_process.show') : t('views.bp_season_periods.flow_process.edit'), bp_admin_season_period_edit_path(season,season_period) %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>