<%= form_for season, url: bp_admin_season_create_path , html: {class: 'form-horizontal', id: 'new_bp_season_form'}, method: :post do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <legend> <%= t('views.bp_seasons.legends.season_info') %> </legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :name %>">
        <%= f.label :name, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, class: 'form-control'%>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :description, rows: '3', class: 'form-control' %>
        </div>
      </div>

      <legend> <%= t('views.bp_events.legends.validity_period') %> </legend>

      <div class="form-group <%= field_with_errors f, :since %>">
        <%= f.label :since, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :since, class: 'form-control datetime', :data => {:format => '%d/%m/%Y %H:%M'}, :value => f.object.since ? f.object.since.strftime('%d/%m/%Y %H:%M') : '', :readonly => true %>
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          </div>
          <em><%= t('views.bp_seasons.explanation.since') %> </em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :until %>">
        <%= f.label :until, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :until, class: 'form-control datetime', :data => {:format => '%d/%m/%Y %H:%M'}, :value => f.object.until ? f.object.until.strftime('%d/%m/%Y %H:%M') : '', :readonly => true %>
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          </div>
          <em><%= t('views.bp_seasons.explanation.until') %> </em>
        </div>
      </div>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit t('views.bp_seasons.flow_process.save'), class: 'btn btn-primary' %>
      </div>
    </div>

  </div>
<% end %>

<script>
    $('.datetime').datetimepicker({
        language: 'es',
        pickTime: true,
        pickDate: true
    });
</script>