<div class="row">
  <div class="col-md-12 col-md-offset-0">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.bp_seasons.legends.seasons_list') %></legend>
        <table id="datatable_bp_seasons" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
          <thead>
          <tr>
            <th>#</th>
            <th><%= t('activerecord.attributes.bp_season.name') %></th>
            <th><%= t('activerecord.attributes.bp_season.description') %></th>
            <th><%= t('activerecord.attributes.bp_season.active') %></th>
            <th><%= t('activerecord.attributes.bp_season.since') %></th>
            <th><%= t('activerecord.attributes.bp_season.until') %></th>
            <th><%= link_to t('views.bp_seasons.flow_process.new'), bp_admin_season_new_path %></th>
          </tr>

          <tr class="second">
            <td></td>
            <td><label class="input"><input type="text" name="search_name" value="" class="search_init"></label></td>
            <td><label class="input"><input type="text" name="search_description" value="" class="search_init"></label></td>
            <td><label class="input"><input type="text" name="search_active" value="" class="search_init"></label></td>
            <td><label class="input"><input type="text" name="search_since" value="" class="search_init"></label></td>
            <td><label class="input"><input type="text" name="search_until" value="" class="search_init"></label></td>
            <td></td>
          </tr>
          </thead>

          <% @bp_seasons.each_with_index do |season, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= season.name %></td>
              <td><%= season.description %></td>
              <td><%= label_yes_not_datable(season.active?(lms_time))%></td>
              <td><%= (localize season.since, format: :day_snmonth_year).to_s + ' ' + season.since.strftime('%H:%M') if season.since %></td>
              <td><%= (localize season.until, format: :day_snmonth_year).to_s + ' ' + season.until.strftime('%H:%M') if season.until %></td>
              <td><%= link_to t('views.bp_seasons.flow_process.manage'), bp_admin_season_manage_path(season) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_bp_seasons'} %>