<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.bp_season_periods.backlist.season_periods_list')).html_safe, bp_admin_season_manage_path(@bp_season), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_season_periods.legends.season_periods') %>
      <span>> <%= t('views.bp_season_periods.flow_process.new') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div id="group_show_container" class="col-md-6 col-md-offset-3">
    <%= render partial: 'bp_season_show',
               locals: {:season => @bp_season,
                        :editable => false} %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'bp_season_period_new_form',
               :locals => {:season => @bp_season,
                           :season_period => @bp_season_period} %>
  </div>
</div>