

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h1 class="page-title txt-color-blueDark">
      Cohades
      <span>> Lista de cohades </span>
    </h1>

  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Disponible Bono Rol Comercial</th>
            <th colspan="2">
              <%= link_to 'Crear nuevo cohade', new_secu_cohade_path %>
            </th>
          </tr>

          </thead>

          <tbody>
          <% @secu_cohades.each_with_index do |secu_cohade, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= secu_cohade.name %></td>
              <td><%= secu_cohade.description %></td>
              <td><%= label_yes_not secu_cohade.available_to_brc %></td>
              <td><%= link_to 'Editar', edit_secu_cohade_path(secu_cohade) %></td>
              <td>
                <!--
                <%= link_to 'Eliminar', secu_cohade, method: :delete, data: { confirm: 'Are you sure?' } %>
                -->
              </td>
            </tr>
          <% end %>

          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>

