<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de sesiones de calibración'.html_safe, listar_hr_process_calibration_sessions_path(@hr_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>: Comité de la sesión de calibración
    </h1>
  </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos de la sesión de calibración</legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Fecha de inicio</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @hr_process_calibration_session.inicio, format: :day_snmonth_year) %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Fecha de fin</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @hr_process_calibration_session.fin, format: :day_snmonth_year) %>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<% characteristics_eval_des = Characteristic.where('hr_process_assessment = ?', true).reorder('orden_hr_process_assessment') %>

<div class="row">

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Comité
        </legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>
            <th>#</th>
            <th>Apellidos</th>
            <th>Nombre</th>

            <% characteristics_eval_des.each do |characteristic| %>

              <th><%= characteristic.nombre %></th>

            <% end %>

            <th>
              Responsable del comité
            </th>
            <th>

            </th>

          </tr>

          </thead>
          <tbody>
            <% @hr_process_calibration_session_cs.each_with_index do |hr_process_calibration_session_c, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= hr_process_calibration_session_c.user.apellidos %></td>
                <td><%= hr_process_calibration_session_c.user.nombre %></td>
                <% characteristics_eval_des.each do |characteristic| %>

                  <td>

                    <% uc = hr_process_calibration_session_c.user.user_characteristics.find_by_characteristic_id(characteristic.id) %>
                    <% if uc %>

                      <%= uc.valor %>

                    <% end %>

                  </td>

                <% end %>
                <td>

                  <% if hr_process_calibration_session_c.manager %>

                    <%= link_to '<i class="fa fa-check-square-o"></i>'.html_safe, hr_process_calibration_session_cs_update_manager_path(@hr_process_calibration_session, hr_process_calibration_session_c), method: :post %>
                  <% else %>

                    <%= link_to '<i class="fa fa-minus-square"></i>'.html_safe, hr_process_calibration_session_cs_update_manager_path(@hr_process_calibration_session, hr_process_calibration_session_c), method: :post %>
                  <% end %>

                </td>
                <td><%= link_to 'Eliminar', hr_process_calibration_session_c, method: :delete, data: { confirm: '¿Está seguro de eliminar al miembro del comité?' } %></td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>


<br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Asignar miembro al comité</legend>

        <%= form_for @user, url: hr_process_calibration_session_cs_search_path(@hr_process_calibration_session), method: :post do |f| %>
          <div class="row">

            <div class="col-md-5">
              <strong>Apellidos</strong><br>
              <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>
            </div>

            <div class="col-md-5">
              <strong>Nombre</strong><br>
              <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>
            </div>

            <div class="col-md-2">
              <br>
              <%= f.submit 'Buscar', class: 'btn btn-primary' %>
            </div>

          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>
            <th>#</th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <% characteristics_eval_des.each do |c| %>
              <th><%= c.nombre %></th>
            <% end %>
            <th></th>
          </tr>

          </thead>

          <tbody>

          <% @users.each_with_index do |user, index| %>
            <tr>

              <td><%= index+1 %></td>
              <td><%= user.apellidos %></td>
              <td><%= user.nombre %></td>

              <% characteristics_eval_des.each do |c| %>
                <td>
                  <% uc = user.characteristic_by_id(c.id) %>
                  <%= uc.valor if uc  %>
                </td>
              <% end %>
              <td>

                <% if user.hr_process_calibration_session_cs.find_all_by_hr_process_calibration_session_id(@hr_process_calibration_session.id).size == 0%>

                  <%= link_to 'Asignar al comité', hr_process_calibration_session_cs_create_path(@hr_process_calibration_session, user) %>

                <% end %>

              </td>

            </tr>
          <% end %>


          </tbody>

        </table>
      </div>
    </div>

  </div>
</div>

