<div class="modal fade" id="general_rules_description_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <strong><%= 'Descripción de reglas generales' %></strong>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x &nbsp;</button>
        </h5>
      </div>
      <div class="modal-body">
        <%= (general_rules.description).html_safe if general_rules.description%>
      </div>
    </div>
  </div>
</div>