<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.bp_general_rules_vacations.backlist.manage_general_rules_vacation_people')).html_safe, bp_admin_general_rules_vacation_index_by_user_manage_path(@bp_general_rules_vacation.user), class: 'btn btn-default', tabindex: '-1' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_general_rules_vacations.legends.general_rules_vacations') %>
      <% if BpGeneralRulesVacation.find(@bp_general_rules_vacation.id).until %>
        <span>> <%= t('views.bp_general_rules_vacations.flow_process.show') %> </span>
      <% else %>
        <span>> <%= t('views.bp_general_rules_vacations.flow_process.edit') %> </span>
      <% end %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'user_info',
               locals: {:user => @bp_general_rules_vacation.user} %>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'bp_general_rules_vacation_edit_form',
               :locals => {:general_rules_vacation => @bp_general_rules_vacation} %>
  </div>
</div>