<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.bp_general_rules_vacations.backlist.general_rules_vacations_list')).html_safe, bp_admin_general_rules_vacation_index_by_user_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_general_rules_vacations.legends.general_rules_vacations') %>
      <span>> <%= t('views.bp_general_rules_vacations.user.user') %> </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'user_info', locals: { user: @user } %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <legend> <%= t('views.bp_general_rules_vacations.legends.general_rules_vacations_list') %></legend>

    <table id="datatable_bp_general_rules_vacations" class="table table-striped table-bordered smart-form" style="font-size: 11px;">
      <thead>
      <tr>
        <th>#</th>
        <th><%= t('activerecord.attributes.bp_general_rules_vacation.group_name') %></th>
        <th><%= t('activerecord.attributes.bp_general_rules_vacation.legal_days') %></th>
        <th><%= t('activerecord.attributes.bp_general_rules_vacation.progressive_days_step') %></th>
        <th><%= t('activerecord.attributes.bp_general_rules_vacation.progressive_max_days') %></th>
        <th><%= t('activerecord.attributes.bp_general_rules_vacation.accumulated_max_days') %></th>
        <th><%= t('activerecord.attributes.bp_general_rules_vacation.accumulated_max_real_days') %></th>
        <th><%= t('activerecord.attributes.bp_general_rules_vacation.active') %></th>
        <th><%= t('activerecord.attributes.bp_general_rules_vacation.since') %></th>
        <th><%= t('activerecord.attributes.bp_general_rules_vacation.until') %></th>
        <th><%= link_to t('views.bp_general_rules_vacations.flow_process.new'), bp_admin_general_rules_vacation_new_by_user_path(@user) %></th>
      </tr>

      <tr class="second">
        <td><label style="display: none" class="input"><input type="text" name="search_num" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_group_name" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_legal_days" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_progressive_days" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_progressive_max_days" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_accumulated_max_days" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_accumulated_max_real_days" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_active" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_since" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_until" value="" class="search_init"></label></td>
        <td></td>
      </tr>
      </thead>

      <% @bp_general_rules_vacations.each_with_index do |general_rules_vacation, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= general_rules_vacation.bp_group.name if general_rules_vacation.bp_group %></td>
          <td align="right"><%= general_rules_vacation.legal_days %></td>
          <td align="right"><%= general_rules_vacation.progressive_days_step %></td>
          <td align="right"><%= general_rules_vacation.progressive_max_days %></td>
          <td align="right"><%= general_rules_vacation.accumulated_max_days %></td>
          <td align="right"><%= general_rules_vacation.accumulated_max_real_days %></td>
          <td><%= label_yes_not_datable(general_rules_vacation.active?(lms_time)) %></td>
          <td><%= (localize general_rules_vacation.since, format: :day_snmonth_year).to_s+' '+general_rules_vacation.since.strftime('%H:%M') if general_rules_vacation.since %></td>
          <td><%= (localize general_rules_vacation.until, format: :day_snmonth_year).to_s + ' ' + general_rules_vacation.until.strftime('%H:%M') if general_rules_vacation.until %></td>
          <% if !BpGeneralRulesVacation.find(general_rules_vacation.id).until %>
            <td><%= link_to t('views.bp_general_rules_vacations.flow_process.edit'), bp_admin_general_rules_vacation_edit_by_user_path(general_rules_vacation) if general_rules_vacation.user %></td>
          <% else %>
            <td><%= link_to t('views.bp_general_rules_vacations.flow_process.show'), bp_admin_general_rules_vacation_edit_by_user_path(general_rules_vacation) if general_rules_vacation.user %> </td>
        <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_bp_general_rules_vacations'} %>