<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.bp_general_rules_vacations.backlist.general_rules_vacation')).html_safe, bp_admin_general_rules_vacation_edit_path(@bp_general_rules_vacation.bp_group, @bp_general_rules_vacation  ) , class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_general_rules_vacations.legends.general_rules_vacations') %>
      <span>> <%= t('views.bp_general_rules_vacations.flow_process.new_progressive_day') %> </span>
      <span>> <%= t('views.bp_general_rules_vacations.flow_process.massive_upload') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for User.new, url: bp_admin_general_rules_vacation_massive_create_upload_progressive_days_path(@bp_general_rules_vacation), html: {class: 'form-horizontal', multipart: true, method: :post} do |f| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <legend> <%= t('views.ben_cellphone_number.shared.massive_update_form') %> </legend>

          <div class="form-group">
            <div class="col-md-3" align="right">
              <strong><%= t('views.ben_cellphone_number.forms.pick_excel') %></strong></div>
            <div class="col-md-9"> <%= file_field 'upload', 'datafile', class: 'form-control' %>
            </div>
          </div>
          <legend><%= t('views.ben_cellphone_number.excel.download_format_legend') %></legend>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped table-bordered " style="font-size: 11px;" width="100%">
                <thead>
                <tr>
                  <th><%= 'Número de año' %></th>
                  <th><%= 'Días progressivos correspondientes' %></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td> 5 </td>
                  <td> 0 </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Subir', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>

<% if defined?(@excel_errors) && @excel_errors.length > 0 %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-striped table-hover table-condensed table-bordered">
            <thead>
            <tr>
              <th>Línea</th>
              <th>Error</th>
              <th><%= 'Número de año' %></th>
              <th><%= 'Días progressivos correspondientes' %></th>
            </tr>
            </thead>

            <tbody>
            <% @excel_errors.each_with_index do |error| %>
              <tr>
                <td><%= error[0].to_s %></td>
                <td>
                  <li class="text-danger"><%= error[1].to_s %></li>
                </td>
                <td><%= error[2].to_s %></td>
                <td><%= error[3].to_s %></td>
              </tr>
            <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Lista</legend>
        <table class="table table-striped table-hover table-condensed table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th><%= 'Número de año' %></th>
            <th><%= 'Días progresivos correspondientes' %></th>
          </tr>
          </thead>

          <tbody>

          <% @bp_general_rules_vacation.bp_progressive_days.where(active: true).each_with_index do |progressive_day, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= progressive_day.year %></td>
              <td><%= progressive_day.days %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>