<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.bp_general_rules_vacations.backlist.general_rules_vacation')).html_safe, bp_admin_general_rules_vacation_edit_path(@bp_rules_warning.bp_general_rules_vacation.bp_group, @bp_rules_warning.bp_general_rules_vacation) , class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_general_rules_vacations.legends.general_rules_vacations') %>
      <% if @bp_rules_warning.bp_general_rules_vacation.until %>
        <span>> <%= t('views.bp_general_rules_vacations.flow_process.show') %> </span>
      <% else %>
        <span>> <%= t('views.bp_general_rules_vacations.flow_process.edit') %> </span>
      <% end %>
      <span>> <%= t('views.bp_general_rules_vacations.flow_process.new_rules_warning') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'bp_rules_warning_new_form',
               :locals => { :rules_warning => @bp_rules_warning } %>
  </div>
</div>