<div class="row options_to_select" style="display:none;">
  <div class="col-md-12 col-md-offset-0" align="right">
    <%= link_to 'Seleccionar todo', '#', onclick: 'select_all(this)' %>
    &nbsp;&nbsp;&nbsp;
    <%= link_to 'Deseleccionar todo', '#', onclick: 'select_none(this)' %>
    &nbsp;&nbsp;&nbsp;
    <%= link_to t('views.brg_module.flow_process.change_all'), '#', onclick: 'delete_selected()', id: 'delete_btn', class: 'btn btn-primary disabled delete_btn' %>
  </div>
</div>
<table id="datatable_brg_dont_pay_bonus" class="table table-bordered smart-form " style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th></th>
    <th><%= alias_username %></th>
    <th><%= t('views.brg_module.user.lastname') %></th>
    <th><%= t('views.brg_module.user.name') %></th>
    <th><%= t('activerecord.attributes.brg_group_user.brg_group_id') %></th>
    <th><%= 'Bono' %></th>
    <th><%= t('views.brg_module.status_bonus.action_pay') %></th>
    <th></th>
  </tr>

  <tr class="second">
    <td><label class="input hidden"><input type="text" name="search_checkbox" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_cod" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_name" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_description" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_group_users" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_bonus" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_bonus_pay" value="" class="search_init"></label></td>
    <td></td>
  </tr>
  </thead>

  <% process.brg_bonuses.active.group_user_order.each_with_index do |bonus, index| %>
    <%= render partial: 'brg_processes/bonus_pay_row',
               locals: { bonus: bonus,
                         process: process } %>
  <% end %>

</table>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_brg_dont_pay_bonus'} %>

<script>
    function verify_checkboxes_selected() {
        if ($(":checkbox:checked.bonus_checkbox").size() > 0) {
            $(".delete_btn").removeClass('disabled')
        } else {
            $(".delete_btn").addClass('disabled')
        }
    }

    function verify_exists_checkboxes() {
        if ($(".bonus_checkbox").size() > 0) {
            $(".options_to_select").show();
        } else {
            $(".options_to_select").hide();
        }
    }

    function verify_checkboxes() {
        verify_checkboxes_selected()
        verify_exists_checkboxes()
    }

    $('.bonus_checkbox').on('change', function (e) {
        verify_checkboxes()
    })

    function select_all() {
        $(":checkbox.bonus_checkbox").prop('checked', true);
        verify_checkboxes()
    }

    function select_none() {
        $(":checkbox.bonus_checkbox").prop('checked', false);
        verify_checkboxes()
    }

    function delete_selected() {
        if (confirm("<%= t('views.brg_module.confirmation_messages.change_payment')%>")) {
            $(":checkbox:checked.bonus_checkbox").each(function () {
                bonus_id = $(this).attr('value');
                url = $(this).data('url');
                delete_group_ajax(bonus_id, url)
            });
        }
    }

    function change_paid(link) {
        if (confirm("<%= t('views.brg_module.confirmation_messages.change_payment')%>")) {
            delete_group_ajax($(link).data('bonus-id'), $(link).data('url'))
        }
    }

    function delete_group_ajax(bonus_id, url) {
        bonus_id_container = '#'+bonus_id+'_tr_container'
        this_url = url
        $.ajax({
            url: this_url,
            type: "post",
            dataType: "html",
            success: function (response) {
                $(bonus_id_container).replaceWith(response);
                verify_checkboxes()
            }
        })
    }

    verify_checkboxes()
</script>