<table class="table table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th><%= t('activerecord.attributes.brg_char_percentage.characteristic_value_id') %></th>
    <th><%= t('activerecord.attributes.brg_char_percentage.percentage') %></th>
  </tr>
  </thead>
  <tbody>
  <% char_percentages.each do |brg_char_percentage| %>
    <tr>
      <td><%= brg_char_percentage.characteristic_value.value_string %></td>
      <td><%= number_as_percentage(brg_char_percentage.percentage) %></td>
    </tr>
  <% end %>
  </tbody>
</table>