<% if brg_manage_relation.managee %>
  <% managers.push brg_manage_relation.managee %>
  <% brg_manage_relation.managee.brg_manage_relations.active.each do |br| %>
    <%= render partial: 'managers_alejo_item',
               locals: {brg_manage_relation: br,
                        managers: managers} %>
  <% end %>

  <% managers.pop %>
<% else %>
  <hr>
  <div class="row">
    <div class="col-md-2">
      <%= brg_manage_relation.group_to_manage.group_cod %> - <%= brg_manage_relation.group_to_manage.name %>
    </div>
    <div class="col-md-10">
      <% managers.reverse.each_with_index do |manager, index| %>
        <% if index > 0 %>
          <em class="text-muted">Validado por</em>
        <% end %>
        <%= manager.user.comma_full_name %>
        <%= link_to ' ('+manager.user.codigo.to_s+')', brg_managers_manage_path(manager, 0) %>
      <% end %>
    </div>
  </div>
<% end %>
<%# link_to t('views.bp_groups.flow_process.manage'), brg_managers_manage_path(manager, 0) %>