<% editable = defined?(editable) ? editable : nil %>
<% dont_show_begin = (defined?(dont_show_begin) ? dont_show_begin : nil) %>
<% dont_show_end = (defined?(dont_show_end) ? dont_show_end : nil) %>
<% dont_show_description = (defined?(dont_show_description) ? dont_show_description : nil) %>
<% dont_show_due_date = (defined?(dont_show_due_date) ? dont_show_due_date : nil) %>
<% dont_show_pe = defined?(dont_show_pe) ? dont_show_pe : nil %>
<% dont_show_cuali_eval = defined?(dont_show_cuali_eval) ? dont_show_cuali_eval : nil %>
<% dont_show_cuanti_eval = defined?(dont_show_cuanti_eval) ? dont_show_cuanti_eval : nil %>
<% dont_show_lvl_percentages = defined?(dont_show_lvl_percentages) ? dont_show_lvl_percentages : nil %>
<% dont_har_percentages_table = defined?(dont_har_percentages_table) ? dont_har_percentages_table : nil %>


<div class="panel panel-default">
  <div class="panel-body">

    <legend> <%= t('views.brg_module.legends.process_info') %> </legend>

    <div class="row">
      <strong><div class="col-md-4" align="right"><%= t('activerecord.attributes.brg_process.name') %></div></strong>
      <div class="col-md-8"> <%= process.name %></div>
    </div>

    <% unless dont_show_begin %>
    <br>

    <div class="row">
      <strong><div class="col-md-4" align="right"><%= t('activerecord.attributes.brg_process.period_begin') %></div></strong>
      <div class="col-md-8"><%= process.period_begin.day.to_s + ' ' + t('date.month_names')[process.period_begin.month].to_s + ' '+ process.period_begin.year.to_s if process.period_begin %></div>
    </div>
    <% end %>

    <% unless dont_show_end %>
  <br>

    <div class="row">
      <strong><div class="col-md-4" align="right"><%= t('activerecord.attributes.brg_process.period_end') %></div></strong>
      <div class="col-md-8"><%= process.period_end.day.to_s + ' ' + t('date.month_names')[process.period_end.month].to_s + ' '+ process.period_end.year.to_s if process.period_end %></div>
    </div>
<% end %>

    <br>

    <div class="row">
      <strong><div class="col-md-4" align="right"><%= t('activerecord.attributes.brg_process.due_date') %></div></strong>
      <div class="col-md-8"><%= process.due_date.day.to_s + ' ' + t('date.month_names')[process.due_date.month].to_s + ' '+ process.due_date.year.to_s if process.due_date %></div>
    </div>

    <br>

    <% if process.description && process.description.size > 0 %>
    <div class="row">
      <strong><div class="col-md-4" align="right"><%= t('activerecord.attributes.brg_process.description') %></div></strong>
      <div class="col-md-8"> <%= process.description %></div>
    </div>

    <br>
    <% end %>

    <div class="row">
      <strong><div class="col-md-4" align="right"><%= t('activerecord.attributes.brg_process.status') %></div></strong>
      <div class="col-md-8">
        <%= label_message(process.status_colour, process.status_message)%>
        <% if process.closed? && process.pending_bonus? %>
          &nbsp;
          <%= label_message(4, t('views.brg_module.messages.are_bonus_pendings')) %>
        <% end %>

        <% if editable %>
        &nbsp;&nbsp;&nbsp;
          <%= link_to process.closed? ? t('views.brg_module.flow_process.open_process') : t('views.brg_module.flow_process.close_process'),
                      brg_processes_process_status_switch_path(process),
                      method: :post,
                      class: 'btn btn-danger btn-xs switch_status_process_button',
                      data: { confirm: process.closed? ? t('views.brg_module.confirmation_messages.open_process') : t('views.brg_module.confirmation_messages.close_process') } %>
        <% end %>
      </div>
    </div>

    <% unless dont_show_pe %>
      <% unless process.private? %>
        <br>
        <div class="row">
          <strong>
            <div class="col-md-4" align="right"><%= t('activerecord.attributes.brg_process.pe_process_id') %></div>
          </strong>
          <div class="col-md-8"> <%= process.pe_process.period + ' - ' + process.pe_process.name %></div>
        </div>
      <% end %>
    <% end %>

    <% unless dont_show_cuali_eval %>
      <% unless process.private? %>
        <br>
        <div class="row">
          <strong>
            <div class="col-md-4" align="right"><%= t('activerecord.attributes.brg_process.quali_evaluation_id') %></div>
          </strong>
          <div class="col-md-8"><%= process.quali_evaluation.name %> &nbsp;&nbsp; <%= number_as_percentage(process.quali_percentage) %></div>
        </div>
      <% end %>
    <% end %>

    <% unless dont_show_cuanti_eval %>
      <% unless process.private? %>
        <br>
        <div class="row">
          <strong>
            <div class="col-md-4" align="right"><%= t('activerecord.attributes.brg_process.quanti_evaluation_id') %></div>
          </strong>
          <div class="col-md-8"> <%= process.quanti_evaluation.name %> &nbsp;&nbsp; <%= number_as_percentage(process.quanti_percentage) %></div>
        </div>
      <% end %>
    <% end %>

    <% if !dont_show_lvl_percentages && !dont_har_percentages_table %>
      <% unless process.private? %>
        <br>
        <div class="row">
          <div class="panel-group col-md-10 col-md-offset-1" id="accordion">
            <% unless dont_show_lvl_percentages %>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><%= t('views.brg_module.legends.percentage_conversion_list') %></a>
                  </h4>
                </div>

                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <%= render partial: 'brg_processes/lvl_percentages_table',
                               locals: {lvl_percentages: process.brg_lvl_percentages} %>

                  </div>
                </div>
              </div>
            <% end %>

            <% unless dont_har_percentages_table %>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><%= t('views.brg_module.legends.char_percentage_list') %></a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <%= render partial: 'brg_processes/char_percentages_table',
                               locals: {char_percentages: process.brg_char_percentages} %>
                  </div>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      <% end %>
    <% end %>

    <br>
  </div>

  <% if editable %>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= link_to t('views.brg_module.reports.bonus'), brg_reports_new_simple_report_path(process.id, 0), format: 'xlsx', method: :post %>
        <% unless process.closed? %>
          &nbsp;&nbsp;&nbsp;
          <%= link_to t('views.brg_module.flow_process.manage_users'), brg_users_massive_upload_path(process) %>
          &nbsp;&nbsp;&nbsp;
          <%= link_to t('views.brg_module.flow_process.edit'), brg_processes_edit_path(process) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>