<% if process.id %>
  <% url_to_go = brg_processes_update_path(process) %>
<% else %>
  <% url_to_go = brg_processes_create_path %>
<% end %>

<% if defined?(super_edition) && super_edition %>
  <% url_to_go = brg_processes_super_update_path(process,1) %>
<% end %>

<%= form_for process, url: url_to_go, html: {class: 'form-horizontal'}, method: :post do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <legend> <%= t('views.brg_module.legends.process_info') %> </legend>

      <% if defined?(super_edition) && super_edition %>
        <div class="alert alert-danger" style="font-weight:bold"><%= t('views.brg_module.messages.be_carefull_edition') %></div>
      <% end %>

           <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :alias %>">
        <%= f.label :alias, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :alias, class: 'form-control', value: f.object.alias, required: true %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :name %>">
        <%= f.label :name, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, class: 'form-control', value: f.object.name, required: true %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :reference_year %>">
        <%= f.label :reference_year, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :reference_year, value: process.reference_year, class: 'form-control', step: 1, required: true %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :period_begin %>">
        <%= f.label :period_begin, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :period_begin,
                             class: 'form-control datetime_picker',
                             style:"cursor: pointer;",
                             data: {format: 'dd/MM/yyyy'},
                             value: process.period_begin ? process.period_begin.strftime('%d/%m/%Y %H:%M') : lms_time.strftime('%d/%m/%Y %H:%M'),
                             readonly: true %>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :period_end %>">
        <%= f.label :period_end, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :period_end,
                             class: 'form-control datetime_picker',
                             style:"cursor: pointer;",
                             data: {format: 'dd/MM/yyyy'},
                             value: process.period_end ? process.period_end.strftime('%d/%m/%Y %H:%M') : lms_time.strftime('%d/%m/%Y %H:%M'),
                             readonly: true %>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :due_date %>">
        <%= f.label :due_date, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :due_date,
                             class: 'form-control datetime_picker',
                             style:"cursor: pointer;",
                             data: {format: 'dd/MM/yyyy'},
                             value: process.due_date ? process.due_date.strftime('%d/%m/%Y %H:%M') : lms_time.strftime('%d/%m/%Y %H:%M'),
                             readonly: true %>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :description %>">
        <%= f.label :description, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :description, class: 'form-control', value: f.object.description, rows: 3 %>
        </div>
      </div>

      <% if process.id && !(defined?(super_edition) && super_edition) %>
        <div class="row">
          <div class="col-md-3" align="right"><%= t('activerecord.attributes.brg_process.pe_process_id') %></div>
          <div class="col-md-9"> <%= process.pe_process.period+' - '+process.pe_process.name %></div>
        </div>

        <br>
      <% else %>
        <% pe_process_options = PeProcess.all.map {|i| [i.period+' - '+i.name, i.id]} %>
        <div class="form-group <%= field_with_errors f, :pe_process_id %>">
          <%= f.label :pe_process_id, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.select :pe_process_id, options_for_select(pe_process_options, f.object.pe_process_id), {},
                         onchange: 'set_evaluations(this)',
                         multiple: false, placeholder: '-- Seleccione proceso de desempeño --', class: 'form-control', required: true,
                         value: f.object.pe_process_id, data: { url_set_evaluations: brg_processes_set_evaluations_ajax_path } %>
          </div>
        </div>
      <% end %>

      <% if process.id && !(defined?(super_edition) && super_edition) %>
        <div class="row">
          <div class="col-md-3" align="right"><%= t('activerecord.attributes.brg_process.quali_evaluation_id') %></div>
          <div class="col-md-9"><%= process.quali_evaluation.name %> &nbsp;&nbsp; <%= number_as_percentage process.quali_percentage %></div>
        </div>

        <br>
      <% else %>

        <% evaluations = process.pe_process ? process.pe_process.pe_evaluations : nil %>
        <% evaluations_options = evaluations ? evaluations.all.map {|i| [i.name, i.id]} : [] %>

        <hr>

        <div class="form-group <%= field_with_errors f, :quali_evaluation_id %>">
          <%= f.label :quali_evaluation_id, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.select :quali_evaluation_id, options_for_select(evaluations_options,f.object.quali_evaluation_id), {},
                         multiple: false, placeholder: '-- Seleccione evaluación cualitativa --', class: 'form-control',
                         required: true, value: f.object.quali_evaluation_id %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :quali_percentage %>">
          <%= f.label :quali_percentage, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.number_field :quali_percentage, step: :any, class: 'form-control', required: true, value: f.object.quali_percentage %>
          </div>
        </div>
      <% end %>

      <% if process.id && !(defined?(super_edition) && super_edition) %>
        <div class="row">
          <div class="col-md-3" align="right"><%= t('activerecord.attributes.brg_process.quanti_evaluation_id') %></div>
          <div class="col-md-9"> <%= process.quanti_evaluation.name %> &nbsp;&nbsp; <%= number_as_percentage process.quanti_percentage %></div>
        </div>
        <br>
      <% else %>

        <% evaluations = process.pe_process ? process.pe_process.pe_evaluations : nil %>
        <% evaluations_options = evaluations ? evaluations.all.map {|i| [i.name, i.id]} : [] %>

        <hr>
        <div class="form-group <%= field_with_errors f, :quanti_evaluation_id %>">
          <%= f.label :quanti_evaluation_id, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.select :quanti_evaluation_id, options_for_select(evaluations_options, f.object.quanti_evaluation_id), {}, multiple: false, placeholder: '-- Seleccione evaluación cuantitativa --', class: 'form-control', required: true, value: f.object.quanti_evaluation_id %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :quanti_percentage %>">
          <%= f.label :quanti_percentage, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.number_field :quanti_percentage, class: 'form-control', step: :any, required: true, value: f.object.quanti_percentage %>
          </div>
        </div>
      <% end %>

      <% if process.id && !(defined?(super_edition) && super_edition) %>
        <div class="row">
          <div class="panel-group col-md-10 col-md-offset-1" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><%= t('views.brg_module.legends.percentage_conversion_list') %></a>
                </h4>
              </div>

              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">

                  <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                      <th><%= t('activerecord.attributes.brg_lvl_percentage.jj_characteristic_value_id') %></th>
                      <th><%= t('activerecord.attributes.brg_lvl_percentage.max_prt_bonus')  %></th>
                      <th><%= t('activerecord.attributes.brg_lvl_percentage.pond_company')  %></th>
                      <th><%= t('activerecord.attributes.brg_lvl_percentage.pond_individual')  %></th>
                      <th><%= t('activerecord.attributes.brg_lvl_percentage.income_times_target')  %></th>
                    </tr>
                    </thead>
                    <tbody>

                    <% process.brg_lvl_percentages.each do |lvl_percentage| %>
                      <%= f.fields_for :brg_lvl_percentages, lvl_percentage do |lvl_percentage_form| %>
                    <tr>
                        <td><%= lvl_percentage.jj_characteristic_value.value_string %></td>
                        <td><%= number_as_percentage(lvl_percentage.max_prt_bonus) %></td>
                        <td><%= number_as_percentage(lvl_percentage.pond_company) %></td>
                        <td><%= number_as_percentage(lvl_percentage.pond_individual) %></td>
                      <td align="right"><%= lvl_percentage_form.number_field :income_times_target, class: 'form-control', step: :any, value: lvl_percentage.income_times_target %></td>
                      </tr>
                      <% end %>
                    <% end %>
                    </tbody>
                  </table>

                  <%# render partial: 'lvl_percentages_table',
                     locals: { lvl_percentages: process.brg_lvl_percentages } %>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><%= t('views.brg_module.legends.char_percentage_list') %></a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  <%= render partial: 'char_percentages_table',
                             locals: { char_percentages: process.brg_char_percentages } %>
                </div>
              </div>
            </div>
          </div>
        </div>

      <% else %>
        <hr>
        <legend><%= t('views.brg_module.legends.lvl_percentage_info') %></legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>
          <tr>
            <th><%= t('activerecord.attributes.brg_lvl_percentage.jj_characteristic_value_id') %></th>
            <th><%= t('activerecord.attributes.brg_lvl_percentage.max_prt_bonus')  %></th>
            <th><%= t('activerecord.attributes.brg_lvl_percentage.pond_company')  %></th>
            <th><%= t('activerecord.attributes.brg_lvl_percentage.pond_individual')  %></th>
            <th><%= t('activerecord.attributes.brg_lvl_percentage.income_times_target')  %></th>
          </tr>
          </thead>
          <tbody>

          <% lvl_percentages = (f.object.errors.any? || f.object.id ) ? process.brg_lvl_percentages : generate_brg_lvl_percentages %>
          <% lvl_percentages.each do |lvl_percentage| %>
            <%= f.fields_for :brg_lvl_percentages, lvl_percentage do |lvl_percentage_form| %>
              <%= lvl_percentage_form.text_field :registered_at, class: 'form-control hidden', value: lvl_percentage.registered_at %>
              <%= lvl_percentage_form.text_field :registered_by_user_id, class: 'form-control hidden', value: lvl_percentage.registered_by_user_id %>
              <%= lvl_percentage_form.number_field :jj_characteristic_value_id, class: 'form-control hidden', value: lvl_percentage.jj_characteristic_value_id %>
              <tr>
                <td><%= lvl_percentage.jj_characteristic_value.value_string %></td>
                <td><%= lvl_percentage_form.number_field :max_prt_bonus, class: 'form-control', step: :any, value: lvl_percentage.max_prt_bonus %></td>
                <td><%= lvl_percentage_form.number_field :pond_company, class: 'form-control', step: :any, value: lvl_percentage.pond_company %></td>
                <td><%= lvl_percentage_form.number_field :pond_individual, class: 'form-control', step: :any, value: lvl_percentage.pond_individual %></td>
                <td align="right"><%= lvl_percentage_form.number_field :income_times_target, class: 'form-control', step: :any, value: lvl_percentage.income_times_target %></td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>

        <hr>

        <legend><%= t('views.brg_module.legends.char_percentage_info') %></legend>

        <table class="table table-striped table-hover table-bordered">
          <thead>
          <tr>
            <th><%= t('activerecord.attributes.brg_char_percentage.characteristic_value_id') %></th>
            <th><%= t('activerecord.attributes.brg_char_percentage.percentage') %></th>
          </tr>
          </thead>
          <tbody>
          <% brg_char_percentages = (f.object.errors.any? || f.object.id) ? process.brg_char_percentages : generate_brg_char_percentages %>
          <% brg_char_percentages.each do |brg_char_percentage| %>
            <%= f.fields_for :brg_char_percentages, brg_char_percentage do |brg_char_percentage_form| %>
              <%= brg_char_percentage_form.text_field :registered_at, class: 'form-control hidden', value: brg_char_percentage.registered_at %>
              <%= brg_char_percentage_form.text_field :registered_by_user_id, class: 'form-control hidden', value: brg_char_percentage.registered_by_user_id %>
              <%= brg_char_percentage_form.number_field :characteristic_value_id, class: 'form-control hidden', value: brg_char_percentage.characteristic_value_id %>
              <tr>
                <td><%= brg_char_percentage.characteristic_value.value_string %></td>
                <td><%= brg_char_percentage_form.number_field :percentage, class: 'form-control', step: :any, value: brg_char_percentage.percentage %></td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>

        <hr>
      <% end %>

    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <% if !(defined?(super_edition) && super_edition) && process.id %>
          <%= link_to t('views.brg_module.flow_process.edit_super'), brg_processes_super_edit_path(process, 1) %>
          &nbsp;&nbsp;&nbsp;
        <% end %>
        <%= f.submit t('views.brg_module.flow_process.save'),
                     class: 'btn btn-primary',
                     data: { confirm: t('views.brg_module.confirmation_messages.reprocess_bonuses') } %>
      </div>
    </div>

  </div>
<% end %>

<script>
    $('.datetime_picker').datetimepicker({
        language: 'es',
        pickTime: true
    });
</script>
<!--
<script>
    var minimumInputLength = 0
    $('#brg_process_quanti_evaluation_id').select2({
        minimumInputLength: minimumInputLength,
        formatInputTooShort: function () {
            return "Se deben ingresar al menos " + minimumInputLength + " caracteres";
        },
    })
</script>

<script>
    var minimumInputLength = 0
    $('#brg_process_quali_evaluation_id').select2({
        minimumInputLength: minimumInputLength,
        formatInputTooShort: function () {
            return "Se deben ingresar al menos " + minimumInputLength + " caracteres";
        },
    })
</script>

<script>
    var minimumInputLength = 0
    $('#brg_process_pe_process_id').select2({
        minimumInputLength: minimumInputLength,
        formatInputTooShort: function () {
            return "Se deben ingresar al menos " + minimumInputLength + " caracteres";
        },
    })
</script>
-->

<script>
    function set_evaluations(link) {
        pe_process_id = $('#brg_process_pe_process_id').val();
        url = $(link).data('url-set-evaluations');
        var select_values_tag = $('#brg_process_quali_evaluation_id')
        $.ajax({
            url: url,
            data: {'pe_process_id': pe_process_id},
            type: "post",
            async: false,
            dataType: "json",
            error: function (XMLHttpRequest, errorTextStatus, error) {
                alert("Failed: " + errorTextStatus + " ;" + error);
            },
            success: function (result) {
                $(select_values_tag).find('option').remove();
                for (var i in result) {
                    var id = result[i][1];
                    var title = result[i][0];
                    $(select_values_tag).append(new Option(title, id));
                }
                select_values_tag.find('option[value="' + select_values_tag.data('value') + '"]').prop('selected', true)

                select_values_tag = $('#brg_process_quanti_evaluation_id')

                $(select_values_tag).find('option').remove();
                for (var i in result) {
                    var id = result[i][1];
                    var title = result[i][0];
                    $(select_values_tag).append(new Option(title, id));
                }
                select_values_tag.find('option[value="' + select_values_tag.data('value') + '"]').prop('selected', true)
            }
        });
    }
</script>
