<%= render partial: 'shared/module_header_navigation',
           locals: { icon: t('views.brg_module.icon'),
                     go_back_col: 3,
                     legends: [@as_brg_rp_manager ? 'Bono Rol Privado' : t('views.brg_module.name')]} %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> Lista de procesos activos </legend>
        <%= render partial: 'brg_processes/processes_datatable',
                   locals: {processes: @as_brg_rp_manager ? BrgProcess.all_private.active.get_in_process : BrgProcess.not_private.active.get_in_process,
                            simple_view: true,
                            dont_show_pe: true,
                            dont_show_begin: true,
                            dont_show_end: true,
                            index_manager: true} %>
      </div>
    </div>
  </div>
</div>