<%= render partial: 'shared/module_header_navigation',
           locals: { icon: t('views.brg_module.icon'),
                     go_back_col: 0,
                     legends: [@process.alias, @manager.name]} %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'process_show',
               locals: { process: @process,
                         dont_har_percentages_table: true,
                         dont_show_lvl_percentages: true,
                         dont_show_cuanti_eval: true,
                         dont_show_cuali_eval: true,
                         dont_show_pe: true,
                         dont_show_end: true,
                         dont_show_begin: true } %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-md-offset-0">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li><a href="#bonus" data-toggle="tab" id="bonus_tab"><%= t('views.brg_module.tabs.bonus') %></a></li>
          <li><a href="#approved" data-toggle="tab" id="approved_tab"><%= 'Montos totales aprobados' %></a></li>
        </ul>

        <br>

        <div class="tab-content">

          <div class="tab-pane" id="bonus">
            <div class="panel panel-default">
              <div class="panel-body">

                <h1 align="center">
                  <i class="fa fa-refresh fa-spin loading_spinner_1" style="display: none"></i>
                </h1>

                <% users = BrgManageRelation.my_managees_for(user_connected.id, @process) %>
                <% groups = BrgGroup.groups_managed_by(users, @process) %>
                <% bonuses = BrgGroup.active_bonuses(groups) %>

                <div id ="bonus_datatable_container">
                  <%= render partial: 'brg_processes/bonus_datatable',
                             locals: {editable: true,
                                      process: @process,
                                      bonus:BrgBonus.process(@process.id).all_pending.active_processes.open_processes.group_user_order,
                                      manager_view: true,
                                      simple_view: true,
                                      manager: @manager } %>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="approved">
            <div class="panel panel-default">
              <div class="panel-body">
                <h1 align="center">
                <i class="fa fa-refresh fa-spin loading_spinner" style="display: none"></i>
                </h1>
                <div id="here_sum" >

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="loading_modal">
<div class="modal fade" id="loading_info_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x &nbsp;</button>
    <div class="panel panel-default record_pane">
      <div class="panel-body">
        <i class="fa fa-refresh fa-spin loading_spinner"></i> Validando bonos
      </div>
    </div>
  </div>
</div>
</div>


<script>
    $(document).ready(function () {
        $('#bonus_tab').on("shown.bs.tab", function (e) {
            $('#datatable_brg_bonus').DataTable().draw();
        });

        if ($('a[data-toggle="tab"]').size() >= <%= @tab %>) {
            $('a[data-toggle="tab"]')[<%= @tab %>].click();
        } else {
            $('a[data-toggle="tab"]')[0].click();
        }

        function hide_sum(){
            $('.loading_spinner').show();
            $('#here_sum').hide();
        }

        function show_sum(){
            $('.loading_spinner').hide();
            $('#here_sum').show();

        }

        $('#approved_tab').on("shown.bs.tab", function (e) {
            hide_sum();
            $.ajax({
                url: '<%= brg_processes_gimme_sum_table_path(@process) %>',
                type: "get",
                dataType: "html",
                error: function (XMLHttpRequest, errorTextStatus, error) {
                    alert("Failed: " + errorTextStatus + " ;" + error);
                },
                success: function (result) {
                    $('#here_sum').html(result);
                    show_sum();
                }
            });
        });


        function show_modal(){
            $('#loading_info_modal').modal('show');
        }

        function hide_modal(){
            $('#loading_info_modal').modal('hide');
        }
    });
</script>