
<ul class="breadcrumb">
  <li>
    <%= link_to @hr_process_template.nombre, @hr_process_template, tabindex: '-1' %>

  </li>
  <li class="active">Eliminar dimensión</li>
</ul>





<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <legend class="text-center">Eliminar dimensión</legend>

    <div class="row">
      <div class="col-md-3">
        <strong>Nombre</strong>
      </div>
      <div class="col-md-9">
        <%= @hr_process_dimension.nombre %>
      </div>
    </div>


    <%= form_for @hr_process_dimension, html: { method: :delete } do |f| %>

      <%= recaptcha_tags :display=>{:theme=>'clean'} %>

      <%= f.submit 'Eliminar', class: 'btn btn-primary' %>

    <% end %>

  </div>
</div>




