<div class="panel-body">
  <legend>
    <div class="row">
      <div class="col-md-3">
        Datos del perfil
      </div>
      <div class="col-md-8">
        <%= render partial: 'jm_my_profiles/my_profile_status_bar', locals: {progress: f.object.my_profile_progress} %>
      </div>
    </div>
  </legend>

  <% manager_view = false %>
  <% if normal_user_logged_in? && ct_module_sel_manager? %>
    <% manager_view = true %>
    <% jm_profile_sections = jm_profile_form.jm_profile_sections.uniq %>
  <% else %>
    <% jm_profile_sections = jm_profile_form.jm_profile_sections.joins(:jm_profile_chars => :jm_characteristic).where(:jm_characteristics => {:manager_only => false}).uniq %>
  <% end %>

  <% profile_form_layout = jm_profile_sections.any? ? '' : @layout %>

  <% if jm_profile_sections.any? %>
    <% if manager_view %>
      <% null_section_profile_chars = jm_profile_form.jm_profile_chars.where(:jm_profile_section_id => nil) %>
    <% else %>
      <% null_section_profile_chars = jm_profile_form.jm_profile_chars.joins(:jm_characteristic).where(:jm_profile_section_id => nil, :jm_characteristics => {:manager_only => false}) %>
    <% end %>
    <% selected_section = @selected_section ? @selected_section : jm_profile_sections.first %>
    <div class="col-md-2">
      <div class="text-left">
        <ul id='tabs' class="nav nav-pills nav-stacked nav-pills-<%= $current_domain %>" style="display: inline-block;">
          <% jm_profile_sections.each do |section| %>
            <li data-id="<%= section.id %>" class="<%= 'active' if selected_section.id == section.id %>">
              <a data-toggle="pill" href="#section_<%= section.id %>">
                <%= section.name %>
              </a>
            </li>
          <% end %>
          <% if null_section_profile_chars.any? %>
            <li>
              <a data-toggle="pill" href="#section_0">
                Otras
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-10">
      <div class="tab-content">
        <% jm_profile_sections.each do |section| %>
          <div id="section_<%= section.id %>" class="tab-pane <%= (selected_section.id == section.id) ? 'active' : 'fade' %>">
            <% if manager_view %>
              <% section_profile_chars = jm_profile_form.jm_profile_chars.where(:jm_profile_section_id => section.id) %>
            <% else %>
              <% section_profile_chars = jm_profile_form.jm_profile_chars.joins(:jm_characteristic).where(:jm_profile_section_id => section.id, :jm_characteristics => {:manager_only => false}) %>
            <% end %>
            <% section_profile_chars.each do |item| %>
              <%= render :partial => 'jm_process/profile_form/profile_form_question', :locals => {:f => f, :item => item} %>
              <div class="row">
                <div class="col-xs-12">
                  &nbsp;
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if null_section_profile_chars.any? %>
          <div id="section_0" class="tab-pane <%= (selected_section.id == 0) ? 'active' : 'fade' %>">
            <% null_section_profile_chars.each do |item| %>
              <%= render :partial => 'jm_process/profile_form/profile_form_question', :locals => {:f => f, :item => item} %>
              <div class="row">
                <div class="col-xs-12">
                  &nbsp;
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <% if manager_view %>
      <% profile_chars = jm_profile_form.jm_profile_chars %>
    <% else %>
      <% profile_chars = jm_profile_form.jm_profile_chars.joins(:jm_characteristic).where(:jm_characteristics => {:manager_only => false}) %>
    <% end %>
    <% if profile_form_layout.blank? %>
      <% profile_chars.each do |item| %>
        <%= render :partial => 'jm_process/profile_form/profile_form_question', :locals => {:f => f, :item => item} %>
        <div class="col-xs-12">
          &nbsp;
        </div>
      <% end %>
    <% else %>
      <% items_without_layout = Array.new %>
      <% profile_chars.each do |item| %>
        <% question = render :partial => 'jm_process/profile_form/profile_form_question', :locals => {:f => f, :item => item} %>
        <% if profile_form_layout["%{#{item.jm_characteristic.code}}"] %>
          <% profile_form_layout["%{#{item.jm_characteristic.code}}"] = question %>
        <% else %>
          <% items_without_layout << question %>
        <% end %>
      <% end %>
      <%= profile_form_layout.html_safe %>

      <% items_without_layout.each do |question| %>
        <%= question %>
        <div class="col-xs-12">
          &nbsp;
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>


<style>
  div.not_answered {
    border: 1px solid indianred;
  }

  div.not_to_use {
    text-decoration: line-through;
  }
</style>
<script>

    function remove_candidate_answer(link) {
        $(link).closest('.answer.new_answer').find('input[type=hidden].jm_answer_destroy_field').val(1)
        $(link).closest('.answer.new_answer').addClass('deleted')
        $(link).closest('.answer.new_answer').hide();
        toggle_add_answer_link()
    }

    function remove_jm_my_profile_answer(link) {
        if (confirm('¿Está seguro?')) {
            $(link).closest('.answer.prev_answer').find('input[type=hidden].jm_answer_active_field').val(0)
            $(link).closest('.answer.prev_answer').addClass('deleted')
            $(link).closest('.answer.prev_answer').hide()
            toggle_add_answer_link()
        }
    }

    function add_candidate_answer(link, content) {
        var new_id = new Date().getTime();
        var regexp = new RegExp('new_candidate_answer', 'g')
        $(link).closest('.question').find('.answers_container').append(content.replace(regexp, new_id))
        toggle_add_answer_link()
        enable_datepickers()
    }

    function edit_candidate_answer(link, content) {
        $(link).closest('.answer.prev_answer').find('input[type=hidden].jm_answer_active_field').val(0)
        var new_id = new Date().getTime();
        var regexp = new RegExp('new_candidate_answer', 'g')
        $(link).closest('.answer.prev_answer').before(content.replace(regexp, new_id))
        $(link).closest('.answer.prev_answer').addClass('deleted')
        $(link).closest('.answer.prev_answer').hide()
        toggle_add_answer_link()
        enable_datepickers()
    }

    function edit_jm_my_profile_answer(link, content) {
        $(link).closest('.answer.prev_answer').find('input[type=hidden].jm_answer_active_field').val(0)
        var new_id = new Date().getTime();
        var regexp = new RegExp('new_candidate_answer', 'g')
        $(link).closest('.answer.prev_answer').before(content.replace(regexp, new_id))
        $(link).closest('.answer.prev_answer').addClass('deleted')
        $(link).closest('.answer.prev_answer').hide()
        toggle_add_answer_link()
        enable_datepickers()
    }

    function not_to_use_candidate_answer(link) {

        if (confirm('¿Está seguro?')) {
            $(link).closest('.answer.prev_answer').find('input[type=hidden].sel_applicant_record_destroy_field').val(1)
            $(link).closest('.answer.prev_answer').addClass('deleted')
            $(link).closest('.answer.prev_answer').hide()
            toggle_add_answer_link()
        }

    }

    function revert_edit_candidate_answer(link) {
        answer_to_revert = $(link).closest('.answer.new_answer')

        answer_to_revert.find('input[type=hidden].jm_answer_destroy_field').val(1)
        answer_to_revert.addClass('deleted');
        answer_to_revert.hide();

        prev_answer = answer_to_revert.next('.answer.prev_answer')

        prev_answer.find('input[type=hidden].jm_answer_active_field').val(1)
        prev_answer.removeClass('deleted')
        prev_answer.show()

        toggle_add_answer_link()
    }

    function validate_apply_form() {

        var errors_number = 0
        $('.has-error').removeClass('has-error')
        $('.not_answered').removeClass('not_answered')

        $('.question.required').each(function () {
            prev_used = $(this).find(':not(.deleted):not(.not_to_use).answer.prev_answer').size()
            new_used = $(this).find(':not(.deleted):not(.not_to_use).answer.new_answer').size()
            if (prev_used + new_used == 0) {
                $(this).addClass('not_answered')
                errors_number++
            }
        })

        /*$('.answer:not(.deleted)').each(function () {
            $(this).find('.jm-input').filter(function () {
                return $(this).val() == "";
            }).closest('.answer').addClass('has-error')
        })*/

        $('.answer.new_answer:not(.deleted)').each(function () {
            blank = 0
            $answer = $(this)
            $answer.find('.jm-input').each(function () {
                if ($(this).val() == ''){
                    blank++
                }
            })
            if ($answer.find('.jm-input').size() == blank){
                $answer.addClass('has-error')
            }
        })

        errors_number += $('.answer.has-error').size()
        return errors_number == 0
    }

    $('form').submit(function () {
        discard_empty_not_required_answers()
        if (validate_apply_form()) {
            <% if jm_profile_sections.any? %>
            var section_id = $(this).find('#tabs > li.active').data('id')
            var input = $("<input>")
                .attr("type", "hidden")
                .attr("name", "section_id").val(section_id);
            $(this).append($(input));
            <% end %>
            $(this).submit()
        } else {
            alert('Hay respuestas incompletas o preguntas sin responder')
            return false
        }
    });

    function discard_empty_not_required_answers() {
        $('.question:not(.required)').each(function () {
            $this = $(this)
            <%# ya se eliminan las respuestas complejas totalmente vacías de preguntas no obligatorias %>
            $this.find('.answer.new_answer:not(.deleted)').each(function () {
                blank = 0
                $answer = $(this)
                $answer.find('.jm-input').each(function () {
                    if ($(this).val() == '') {
                        blank++
                    }
                })
                if ($answer.find('.jm-input').size() == blank){
                    $answer.find('.jm_remove_answer_link').trigger("click");
                }
            })
        })
    }

    function toggle_add_answer_link() {

        $('.answers_container').each(function () {
            used = $(this).find(':not(.deleted):not(.not_to_use).answer').size()
            max = $(this).data('max')
            if (used >= max) {
                $(this).closest('.question').find('.jm_add_answer_link').hide()
            } else {
                $(this).closest('.question').find('.jm_add_answer_link').show()
            }
        })
    }

    function enable_datepickers() {
        $('.datepicker').datetimepicker({
            language: 'es',
            pickTime: false
        });
    }

    $(document).ready(function () {
        toggle_add_answer_link()
        enable_datepickers()
    });

</script>
