<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver al proceso'.html_safe, scholarship_manager_processes_show_path(@scholarship_application.scholarship_process), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%= icon_scholarship_module_html_safe %>
      <span><%= @scholarship_application.scholarship_process.name %>
        >  Evaluación de Postulación de <%= alias_user %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'scholarship_applications/user_mini_ficha', locals: {user: @scholarship_application.subject_user, company: @company} %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'scholarship_applications/show', locals: {scholarship_application: @scholarship_application} %>
        <% unless @scholarship_application.evaluated? %>
          <div class="row form-group">
            <div class="col-md-12">
              <b>Comentario de evaluación</b>
            </div>
            <div class="col-md-12">
              <%= text_area_tag :evaluation_comment_aux, '', class: 'form-control', rows: 3, placeholder: 'El comentario de la evaluación es obligatorio' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <% if @scholarship_application.evaluated? %>
            <%= link_to 'Revertir', scholarship_manager_processes_revert_evaluation_path(@scholarship_application), confirm: '¿Está seguro?' %>
          <% else %>
            <%= link_to 'Eliminar', scholarship_manager_processes_delete_application_path(@scholarship_application), confirm: '¿Está seguro? Los datos de la postulación se eliminarán de manera definitiva.' %>
            &nbsp;&nbsp;&nbsp;
            <%= link_to 'Rechazar', '#', class: 'btn btn-danger', onclick: 'evaluate_application(this);', data: {evaluation: '0'} %>
            &nbsp;
            <%= link_to 'Aprobar', '#', class: 'btn btn-primary', onclick: 'evaluate_application(this);', data: {evaluation: '1'} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% unless @scholarship_application.evaluated? %>
  <%= form_tag scholarship_manager_processes_evaluate_application_path(@scholarship_application), id: 'evaluation_form', method: :post do %>
    <%= hidden_field_tag :evaluation, '' %>
    <%= hidden_field_tag :evaluation_comment, '' %>
  <% end %>
  <script>
      function evaluate_application(link) {
          evaluation = $(link).data('evaluation')
          comment = $('#evaluation_comment_aux').val()
          if (!comment) {
              alert('El comentario de evaluación es obligatorio.')
              $('#evaluation_comment_aux').focus()
          } else {

              if (confirm('¿Está seguro?')) {
                  $('#evaluation').val(evaluation)
                  $('#evaluation_comment').val(comment)
                  $('#evaluation_form').submit()
              } else {
                  $('#evaluation').val('')
                  $('#evaluation_comment').val('')
              }
          }
      }
  </script>
<% end %>