<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de Procesos'.html_safe, scholarship_manager_processes_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%= icon_scholarship_module_html_safe %>
      <%= @scholarship_process.name %>
      <span>> Gestionar proceso </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'show', locals: {show_footer: false} %>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Postulaciones registradas
        </legend>
        <%= form_tag(scholarship_manager_processes_massive_evaluation_path(@scholarship_process), multipart: true) do %>
          <div class="row">
            <div class="col-md-3">
              <%= link_to '<i class="fa fa-file-excel-o" aria-hidden="true"></i> Descargar informe completo'.html_safe, scholarship_manager_processes_applications_list_report_path(@scholarship_process) %>
            </div>
            <div class="col-md-6">
              <%= file_field_tag :applications_file, class: 'form-control', placeholder: 'Archivo para evaluación masiva', accept: '.xlsx' %>
            </div>
            <div class="col-md-3">
              <%= submit_tag 'Cargar Evaluación Masiva', class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
        <% if @excel_errors && @excel_errors.length > 0 %>
          <row>
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <table class="table table-striped table-hover table-condensed table-bordered">
                    <thead>
                    <tr>
                      <th>Línea</th>
                      <th>Error</th>
                      <th><%= alias_username %></th>
                      <th>Evaluación</th>
                    </tr>
                    </thead>

                    <tbody>
                    <% @excel_errors.each do |error| %>
                      <tr>
                        <td><%= error[0] %></td>
                        <td> <li class="text-danger"><%= error[1] %></li></td>
                        <td> <%= error[2] %> </td>
                        <td> <%= error[3] %> </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </row>
        <% end %>

        <br>
        <table class="table table-bordered">
          <thead>
          <tr>
            <td><%= alias_username + ' ' + alias_user %></td>
            <td><%= alias_user %></td>
            <td><%= alias_username + ' Postulador ' %></td>
            <td>Postulador</td>
            <td>Fecha</td>
            <td>Estado</td>
            <td>&nbsp;</td>
          </tr>
          </thead>
          <tbody>
          <% @scholarship_process.scholarship_applications.where(done: true).each do |application| %>
            <% application_state = case true
                                     when application.evaluated
                                       application.evaluation ? 'Aprobado' : 'Rechazado'
                                     when application.done
                                       'En revisión'
                                     else
                                       !application.done
                                       'Borrador'
                                   end %>
            <tr>
              <td><%= application.subject_user.codigo %></td>
              <td><%= application.subject_user.comma_full_name %></td>
              <td><%= application.registered_by_user.codigo %></td>
              <td><%= application.registered_by_user.comma_full_name %></td>
              <td><%= (localize application.registered_at, format: :day_snmonth_year) %></td>
              <td><span style="white-space: nowrap">
                <%= application_state %>
                <% unless application.evaluation_comment.blank? %>
                  &nbsp;
                <i title="<%= application.evaluated_by_user.comma_full_name + ': ' + application.evaluation_comment %>" class="fa fa-comment-o" aria-hidden="true"></i>
                  <% end %>
                </span>
              </td>
              <td><%= link_to 'Detalle', scholarship_manager_processes_show_application_path(application) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>