
<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de programas', programs_path, tabindex: "-1" %>

  </li>
  <li class="active">Eliminar nivel</li>
</ul>

<legend class="text-center">
  <span class="program-color" style="background-color: #<%=@program.color%>;">&nbsp;</span>
  &nbsp;
  <%= @program.codigo %> - <%= @program.nombre %>: Eliminar nivel
</legend>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

  	<dl class="dl-horizontal">
		  
		  <dt>Orden</dt>
		  <dd><%= @level.orden %></dd>

      <dt>Nombre</dt>
      <dd><%= @level.nombre %></dd>
		  
		</dl>

		<%= form_for @level, html: { method: :delete } do |f| %> 

			<%= recaptcha_tags :display=>{:theme=>'clean'} %>

			<%= f.submit 'Eliminar', class: "btn btn-primary" %> 

		<% end %>
		
  </div>
</div>



