<ul class="breadcrumb">
  <li>
  	<%= link_to 'Lista de programas', programs_path, tabindex: "-1" %>

  </li>
  <li class="active">Editar nivel</li>
</ul>

<legend class="text-center">
	<span class="program-color" style="background-color: #<%=@program.color%>;">&nbsp;</span>
  &nbsp;
  <%= @program.codigo %> - <%= @program.nombre %>: Editar nivel
</legend>

<div class="row">
  <div class="col-md-6 col-md-offset-3 form-box-<%= $current_domain %>">

		<%= render 'form' %>

	</div>
</div>
