<%= form_for general_rules_vacation, html: {class: 'form-horizontal', id: 'new_bp_general_rules_vacations_form'} do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.bp_general_rules_vacations.legends.general_rules_vacations_info') %> </legend>

        <%= render 'shared/error_messages', object: f.object %>

        <% options_bp_goups = BpGroup.where(:active => true).all.map { |option| [option.name, option.id] } %>
        <div class="form-group <%= field_with_errors f, :bp_group_id %>">
          <%= f.label :bp_group_id, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.select :bp_group_id, options_for_select(options_bp_goups, f.object.bp_group_id),{:prompt => "- Seleccionar -"}, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :legal_days %>">
          <%= f.label :legal_days, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :legal_days, class: 'form-control'%>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :progressive_days %>">
          <%= f.label :progressive_days, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :progressive_days, class: 'form-control'%>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :progressive_max_days %>">
          <%= f.label :progressive_max_days, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :progressive_max_days, class: 'form-control'%>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :request_min_days %>">
          <%= f.label :request_min_days, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :request_min_days, class: 'form-control'%>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :request_max_days %>">
          <%= f.label :request_max_days, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :request_max_days, class: 'form-control'%>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :accumulated_max_days %>">
          <%= f.label :accumulated_max_days, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :accumulated_max_days, class: 'form-control'%>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :accumulated_max_real_days %>">
          <%= f.label :accumulated_max_real_days, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :accumulated_max_real_days, class: 'form-control'%>
          </div>
        </div>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit t('views.bp_general_rules_vacations.flow_process.save'), class: 'btn btn-primary' %>
        </div>
      </div>

    </div>
<% end %>

<script>
    var minimumInputLength = 0
    $('#select2_groups').select2({
        minimumInputLength: minimumInputLength,
        formatInputTooShort: function () {
            return "Se deben ingresar al menos " + minimumInputLength + " caracteres";
        },
    })

    function return_select2_values() {
        users_array = $('#select2_groups').select2().val();
        $('#select2_groups').select2("val", "");
        return_values(users_array);
    }
</script>