<p id="notice"><%= notice %></p>

<p>
  <b>Active:</b>
  <%= @bp_general_rules_vacation.active %>
</p>

<p>
  <b>Legal days:</b>
  <%= @bp_general_rules_vacation.legal_days %>
</p>

<p>
  <b>Progressive days:</b>
  <%= @bp_general_rules_vacation.progressive_days %>
</p>

<p>
  <b>Integer:</b>
  <%= @bp_general_rules_vacation.integer %>
</p>

<p>
  <b>Request min days:</b>
  <%= @bp_general_rules_vacation.request_min_days %>
</p>

<p>
  <b>Request max days:</b>
  <%= @bp_general_rules_vacation.request_max_days %>
</p>

<p>
  <b>Accumulated max days:</b>
  <%= @bp_general_rules_vacation.accumulated_max_days %>
</p>

<p>
  <b>Accumulated max real days:</b>
  <%= @bp_general_rules_vacation.accumulated_max_real_days %>
</p>

<p>
  <b>Progressive max days:</b>
  <%= @bp_general_rules_vacation.progressive_max_days %>
</p>

<p>
  <b>Deactivated at:</b>
  <%= @bp_general_rules_vacation.deactivated_at %>
</p>

<p>
  <b>Deactivated by admin:</b>
  <%= @bp_general_rules_vacation.deactivated_by_admin_id %>
</p>

<p>
  <b>Registered at:</b>
  <%= @bp_general_rules_vacation.registered_at %>
</p>

<p>
  <b>Registered by admin:</b>
  <%= @bp_general_rules_vacation.registered_by_admin_id %>
</p>


<%= link_to 'Edit', edit_bp_general_rules_vacation_path(@bp_general_rules_vacation) %> |
<%= link_to 'Back', bp_general_rules_vacations_path %>
