

<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de tipos de capacitación', training_types_path, tabindex: '-1' %>

  </li>
  <li class="active">Información del tipo de capacitación</li>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <legend class="text-center">Información del tipo de capacitación</legend>

    <dl class="dl-horizontal">




      <dt>Nombre</dt>
      <dd><%= @training_type.nombre %>&nbsp;</dd>

      <dt>Color</dt>
      <dd><div class="small-box-color" style="background-color: <%= '#'+@training_type.color if @training_type.color%>;">&nbsp;</div>&nbsp;  </dd>

    </dl>

  </div>
</div>
