<div class="modal fade" id="new_records_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x &nbsp;</button>
    <%= form_for new_record, :url => '#', html: {class: 'form-horizontal sc_record_form'} do |f| %>
        <div class="panel panel-default record_pane">
          <div class="panel-body" style="height:<%= height if defined?(height) %>">
            <legend><%=t('views.sc_processes.legends.new_record')%></legend>
            <div class="alert alert-success success_message_register_attendance_modal" style="display: none"><%=t('views.sc_processes.flash_messages.add_successfully')%></div>
            <%= render 'shared/error_messages', object: f.object %>

            <div class="row">
              <div class="col-md-3" align="right">
                <%= alias_username %>
              </div>
              <div class="col-md-9">
                <%= user.codigo %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-3" align="right">
                <%= t('views.sc_processes.user.lastname') %>
              </div>
              <div class="col-md-9">
                <%= user.apellidos %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-3" align="right">
                <%= t('views.sc_processes.user.name') %>
              </div>
              <div class="col-md-9">
                <%= user.nombre %>
              </div>
            </div>

            <br>

            <% characteristics.each do |characteristic| %>
                <div class="row">
                  <div class="col-md-3" align="right">
                    <%=characteristic.name%>
                  </div>
                  <div class="col-md-9">
                    <%= user.formatted_characteristic_value characteristic.characteristic %>
                  </div>
                </div>

                <br>
            <% end %>

            <div class="form-group <%= field_with_errors f, :begin %>">
              <%= f.label :begin, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <div class="input-group date">
                  <%= f.text_field :begin, class: 'form-control date-picker begin_date_picker', :data => {:format => 'dd/MM/yyyy %H:%M'}, :value => f.object.begin ? f.object.begin.strftime('%d/%m/%Y %H:%M') : '', :readonly => true %>
                  <span class="input-group-addon"> <i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>

            <div class="form-group <%= field_with_errors f, :end %>">
              <%= f.label :end, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <div class="input-group date">
                  <%= f.text_field :end, class: 'form-control date-picker end_date_picker', :data => {:format => 'dd/MM/yyyy %H:%M'}, :value => f.object.end ? f.object.end.strftime('%d/%m/%Y %H:%M') : '', :readonly => true %>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= f.submit t('views.sc_schedules.forms.save'), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>

    <% end %>

  </div>
</div>

<script>

    <% if defined?(success_message) and success_message %>
    $(function () {
        var flash = '.success_message_register_attendance_modal';
        $(flash).show(500).delay(2000).hide(500);
    });
    <% end %>

    $('.date-picker').datetimepicker({
        language: 'es',
        defaultDate:$('.date-picker-reference').val()
    });

    $('.sc_record_form').on('submit', function (e) {
        $('#new_records_modal').modal('hide')
        e.preventDefault();
        url = '/sc_processes/<%=process.id%>/register_attendance_of/<%=user.id%>/create_record'
        $.ajax({
            url: url,
            type: 'POST',
            data: $('.sc_record_form').serialize(),
            dataType: "html",
            success: function (data) {
                $('.modal-backdrop').remove();
                $('#new_records_modal').modal('hide')
                $('.new_records_modal_container').html(data)
                $('#new_records_modal').modal('show')
                refresh_record_list_pane(1)
            }
        });
    });

</script>