<% if defined?(only_generic_message) && only_generic_message %>
    <% if defined?(show_generic_message) and show_generic_message %>
        <div class="alert <%= type_generic_message %>  generic_message_<%= record.id %>" style="display: none"> <%= generic_message %> </div>
    <% end %>
<% else %>
    <% if defined?(show_generic_message) and show_generic_message %>
        <div class="alert <%= type_generic_message %>  generic_message_<%= record.id %>" style="display: none"> <%= generic_message %> </div>
    <% end %>
    <table id="show_record_table_table" class="table borderless table_record_aprobada show_record_<%=record.id%>" style="font-size: 11px;" width="100%">
      <tbody>
      <tr class="date_parent_container">
        <% if defined? (go_to_falta_validar) and go_to_falta_validar %>
            <% unless record.sc_process.closed %>
                <td width="5%">
                  <input class="form-check-input position-static go_back_to_edit_record" type="checkbox" value="<%= record.id %>" aria-label="...">
                </td>
            <% end %>
            <td width="35%" align="center"><%= (localize record.begin, :format => :day_snmonth_year) %> <%= record.begin_formatted %></td>
            <td width="35%" align="center"><%= (localize record.end, :format => :day_snmonth_year) %> <%= record.end_formatted %> </td>
            <td width="25%" align="center"><%= record.he_formatted %></td>
        <% else %>
            <td width="40%" align="center"><%= (localize record.begin, :format => :day_snmonth_year) %> <%= record.begin_formatted %></td>
            <td width="40%" align="center"><%= (localize record.end, :format => :day_snmonth_year) %> <%= record.end_formatted %> </td>
            <td width="20%" align="center"><%= record.he_formatted %></td>
        <% end %>
      </tr>
      </tbody>
    </table>
<% end %>

<script>
    <% if defined?(show_generic_message) and show_generic_message %>
    $(function () {
        var flash = '.generic_message_<%=record.id%>';
        $(flash).show(500).delay(2000).hide(500);
    });
    <% end %>
</script>
