<% editable = defined?(editable) ? editable : nil %>
<% deleted = defined?(deleted) ? deleted : nil %>
<% checkbox = defined?(checkbox) ? checkbox : nil %>
<% show_generic_message = defined?(show_generic_message) ? show_generic_message : nil %>

<% if deleted %>
    <div class="alert alert-success deleted_sc_record_message<%= record_id %>" style="display: none"> <%= t('views.sc_processes.flash_messages.delete_successfully') %> </div>
    <% if defined?(show_generic_message) && show_generic_message %>
        <div class="alert <%= type_generic_message %>  generic_message_<%= record_id %>" style="display: none"> <%= generic_message %> </div>
    <% end %>
<% else %>

  <% has_schedule = schedule_of(record.user_id, lms_time) %>


  <%= form_for record, :url => recorder_update_record_path(process, user, record, whoami), html: {class: 'form-horizontal sc_record_form_edit_without_listener sc_record_form_edit record_'+record.id.to_s+'_form', data: {:status => record.status}}, method: :post do |f| %>
        <% checked = ''
           checked = 'checked = "checked"' if (record.begin+1.day).strftime("%d/%m/%Y") == (record.end).strftime("%d/%m/%Y") %>
        <div class="alert alert-success success_message_created_attendance_form_<%= record.id %>" style="display: none"> <%= t('views.sc_processes.flash_messages.add_successfully') %> </div>
        <div class="alert alert-success success_message_changed_attendance_form_<%= record.id %>" style="display: none"> <%= t('views.sc_processes.flash_messages.changes_success') %> </div>

    <% original_begin_sc = record.begin_sc %>
    <% original_end_sc = record.end_sc %>

    <% unless record.begin_sc && record.end_sc %>
      <% block =  record.sc_record_blocks.where(active: true).first %>
      <% record.begin_sc = block ? record.begin.change(hour: block.sc_block.begin_time.strftime('%H'), min: block.sc_block.begin_time.strftime('%M')) : record.begin %>
      <% record.end_sc = block ? record.end.change(hour: block.sc_block.end_time.strftime('%H'), min: block.sc_block.end_time.strftime('%M')) : record.end %>
    <% end %>

    <% record.begin_sc = record.begin_sc ? record.begin_sc : record.begin %>
    <% record.end_sc = record.end_sc ? record.end_sc : record.end %>

        <% if show_generic_message %>
            <div class="alert <%= type_generic_message %>  generic_message_<%= record.id %>" style="display: none"> <%= generic_message %> </div>
        <% end %>

        <%= render 'shared/error_messages', object: f.object %>

        <table id="new_records" class="table borderless" style="font-size: 11px;" width="100%">
          <tbody>
          <tr class="borderless date_parent_container" style="border: 0">
            <% if checkbox && !record.sc_process.closed && has_schedule %>
                <td width="5%"><input class="form-check-input position-static update_form_checkbox <%= 'my_record' if record.registered_by_user_id == user_connected.id %>" type="checkbox" value="<%= record.id %>" aria-label="..."></td>
            <% end %>

            <% if record.begin.strftime('%d/%m/%Y') == record.end.strftime('%d/%m/%Y') %>
                <td width="20%">
                  <input type="checkbox" class="form-control before_day_checkbox"
                         data-on-text="<%= (record.begin.to_date-1.day).to_datetime.strftime("%d/%m") %>"
                         data-off-text="<%= (record.begin).to_datetime.strftime("%d/%m") %>"
                         data-reference-date="<%= record.begin.strftime('%d/%m/%Y') %>"
                         data-reference-date-prev="<%= (record.begin.to_date-1.day).strftime('%d/%m/%Y') %>"
                         data-reference-date-next="<%= (record.end.to_date+1.day).strftime('%d/%m/%Y') %>"
                         data-record-id="<%= record.id %>" onchange="exclusive_checkbox_before_day_update_1(this)" <%= ('disabled="disabled"').html_safe unless defined?(editable) && (editable) %>>

                  <% if record.user.flexible_sc && editable %>
                    <% if record.begin_sc.strftime('%d/%m/%Y') == record.end_sc.strftime('%d/%m/%Y') %>
                      <div class="flexible_sc <%= 'hidden'.html_safe unless original_begin_sc && original_end_sc %>">
                        <br>
                        <input type="checkbox" class="form-control before_day_checkbox_flex"
                               data-on-text="<%= (record.begin_sc.to_date - 1.day).to_datetime.strftime("%d/%m") %>"
                               data-off-text="<%= (record.begin_sc).to_datetime.strftime("%d/%m") %>"
                               data-reference-date="<%= record.begin_sc.strftime('%d/%m/%Y') %>"
                               data-reference-date-prev="<%= (record.begin_sc.to_date - 1.day).strftime('%d/%m/%Y') %>"
                               data-reference-date-next="<%= (record.end_sc.to_date + 1.day).strftime('%d/%m/%Y') %>"
                               data-record-id="<%= record.id %>" onchange="exclusive_checkbox_before_day_update_2(this)">
                      </div>
                    <% else %>
                      <div class="flexible_sc <%= 'hidden'.html_safe unless original_begin_sc && original_end_sc %>">
                        <br>
                        <input type="checkbox" class="form-control before_day_checkbox_flex"
                               <%=('data-inverse="true"').html_safe if record.begin_sc.strftime('%d/%m/%Y') < record.end_sc.strftime('%d/%m/%Y') %>
                               data-on-text="<%= (record.end_sc).to_datetime.strftime("%d/%m") %>"
                               data-off-text="<%= (record.begin_sc).to_datetime.strftime("%d/%m") %>"
                               data-reference-date="<%= record.begin_sc.to_date.strftime('%d/%m/%Y') %>"
                               data-reference-date-prev="<%= (record.begin_sc).strftime('%d/%m/%Y') %>"
                               data-reference-date-next="<%= (record.end_sc).strftime('%d/%m/%Y') %>"
                               data-record-id="<%= record.id %>" onchange="exclusive_checkbox_before_day_update_2(this)">
                      </div>
                    <% end %>
                  <% end %>
                </td>
            <% else %>
                <td width="20%">
                  <input type="checkbox" class="form-control before_day_checkbox"
                         <%=('data-inverse="true"').html_safe if record.begin.strftime('%d/%m/%Y') < record.end.strftime('%d/%m/%Y') %>
                         data-on-text="<%= (record.end).to_datetime.strftime("%d/%m") %>"
                         data-off-text="<%= (record.begin).to_datetime.strftime("%d/%m") %>"
                         data-reference-date="<%= record.begin.to_date.strftime('%d/%m/%Y') %>"
                         data-reference-date-prev="<%= (record.begin).strftime('%d/%m/%Y') %>"
                         data-reference-date-next="<%= (record.end).strftime('%d/%m/%Y') %>"
                         data-record-id="<%= record.id %>" onchange="exclusive_checkbox_before_day_update(this)" <%= ('disabled="disabled"').html_safe unless defined?(editable) && (editable) %>>

                  <% if record.user.flexible_sc && editable %>
                    <% if record.begin_sc.strftime('%d/%m/%Y') == record.end_sc.strftime('%d/%m/%Y') %>
                      <div class="flexible_sc <%= 'hidden'.html_safe unless original_begin_sc && original_end_sc %>">
                        <br>
                        <input type="checkbox" class="form-control before_day_checkbox_flex"
                               data-on-text="<%= (record.begin_sc.to_date - 1.day).to_datetime.strftime("%d/%m") %>"
                               data-off-text="<%= (record.begin_sc).to_datetime.strftime("%d/%m") %>"
                               data-reference-date="<%= record.begin_sc.strftime('%d/%m/%Y') %>"
                               data-reference-date-prev="<%= (record.begin_sc.to_date - 1.day).strftime('%d/%m/%Y') %>"
                               data-reference-date-next="<%= (record.end_sc.to_date + 1.day).strftime('%d/%m/%Y') %>"
                               data-record-id="<%= record.id %>" onchange="exclusive_checkbox_before_day_update_2(this)">
                      </div>
                    <% else %>
                      <div class="flexible_sc <%= 'hidden'.html_safe unless original_begin_sc && original_end_sc %>">
                        <br>
                        <input type="checkbox" class="form-control before_day_checkbox_flex"
                               <%=('data-inverse="true"').html_safe if record.begin_sc.strftime('%d/%m/%Y') < record.end_sc.strftime('%d/%m/%Y') %>
                               data-on-text="<%= (record.end_sc).to_datetime.strftime("%d/%m") %>"
                               data-off-text="<%= (record.begin_sc).to_datetime.strftime("%d/%m") %>"
                               data-reference-date="<%= record.begin_sc.to_date.strftime('%d/%m/%Y') %>"
                               data-reference-date-prev="<%= (record.begin_sc).strftime('%d/%m/%Y') %>"
                               data-reference-date-next="<%= (record.end_sc).strftime('%d/%m/%Y') %>"
                               data-record-id="<%= record.id %>" onchange="exclusive_checkbox_before_day_update_2(this)">
                      </div>
                    <% end %>
                  <% end %>
                </td>
            <% end %>

            <td class="td_begin_date_container" width="20%">
              <div class="input-group date">
                <% unless defined?(editable) && (editable) %>
                    <%= text_field_tag 'Inicio', f.object.begin ? f.object.begin.strftime('%H:%M') : '',
                                       :class => "form-control date-picker begin_date_picker time_picker",
                                       :style => "padding-left: 5px;",
                                       :data => {:format => '%H:%M'},
                                       :readonly => true,
                                       :disabled => true %>
                    <span class="input-group-addon"> <i class="fa fa-clock-o" aria-hidden="true" style="padding-left: 5px;"></i></span>
                <% else %>
                    <%= f.hidden_field :begin, class: 'real_begin_date_picker datetime_picker', :data => {:format => 'dd/MM/yyyy %H:%M'}, :value => f.object.begin ? f.object.begin.strftime('%d/%m/%Y %H:%M') : '', :readonly => true %>
                    <% if record.begin.strftime('%d/%m/%Y') == record.end.strftime('%d/%m/%Y') %>
                        <%= text_field_tag 'Inicio', f.object.begin ? f.object.begin.strftime('%H:%M') : '',
                                           :class => "form-control date-picker begin_date_picker time_picker",
                                           :data => {:format => '%H:%M',
                                                     :reference_date => record.begin.to_date.strftime('%d/%m/%Y'),
                                                     :reference_date_prev => (record.begin.to_date-1.day).strftime('%d/%m/%Y'),
                                                     :reference_date_next => (record.begin.to_date+1.day).strftime('%d/%m/%Y')},
                                           :readonly => true,
                                           :style => "padding-left: 5px; cursor:pointer;",
                                           :onchange => 'calculate_begining_update_1(this)' %>
                    <% else %>
                        <%= text_field_tag 'Inicio', f.object.begin ? f.object.begin.strftime('%H:%M') : '',
                                           :class => 'form-control date-picker begin_date_picker time_picker',
                                           :data => {:format => '%H:%M',
                                                     :reference_date => record.begin.to_date.strftime('%d/%m/%Y'),
                                                     :reference_date_prev => (record.begin).strftime('%d/%m/%Y'),
                                                     :reference_date_next => (record.end).strftime('%d/%m/%Y')},
                                           :readonly => true,
                                           :style => "padding-left: 5px; cursor:pointer;",
                                            :onchange => 'calculate_begining_update(this)' %>
                    <% end %>
                    <span class="input-group-addon"> <i class="fa fa-clock-o" aria-hidden="true" style="padding-left: 5px;"></i></span>
                <% end %>
              </div>

              <% if record.user.flexible_sc && editable %>
                <% if record.begin_sc.strftime('%d/%m/%Y') == record.end_sc.strftime('%d/%m/%Y') %>
                  <br>
                  <div class="input-group date flexible_sc <%= 'hidden'.html_safe unless original_begin_sc && original_end_sc %>">
                    <%= f.hidden_field :begin_sc, class: 'real_begin_date_picker_flex datetime_picker', data: {format: 'dd/MM/yyyy %H:%M'}, :value => f.object.begin_sc ? f.object.begin_sc.strftime('%d/%m/%Y %H:%M') : f.object.begin.strftime('%d/%m/%Y %H:%M'), :readonly => true %>
                    <%= text_field_tag 'Inicio horario', f.object.begin_sc ? f.object.begin_sc.strftime('%H:%M') : f.object.begin.strftime('%H:%M'),
                                       :class => "form-control date-picker begin_date_picker_flex time_picker",
                                       :data => {:format => '%H:%M',
                                                 :reference_date => record.begin_sc.to_date.strftime('%d/%m/%Y'),
                                                 :reference_date_prev => (record.begin_sc.to_date-1.day).strftime('%d/%m/%Y'),
                                                 :reference_date_next => (record.begin_sc.to_date+1.day).strftime('%d/%m/%Y')},
                                       :readonly => true,
                                       :style => "padding-left: 5px; cursor:pointer; background-color:#C6D2D7;",
                                       :onchange => 'calculate_begining_update_2(this)' %>
                    <span class="input-group-addon" style=" background-color: #C6D2D7;"> <i class="fa fa-clock-o" aria-hidden="true" style="padding-left: 5px;"></i></span>
                  </div>
                  <% else %>
                  <br>
                  <div class="input-group date flexible_sc <%= 'hidden'.html_safe unless original_begin_sc && original_end_sc %>">
                    <%= f.hidden_field :begin_sc, class: 'real_begin_date_picker_flex datetime_picker', data: {format: 'dd/MM/yyyy %H:%M'}, :value => f.object.begin_sc ? f.object.begin_sc.strftime('%d/%m/%Y %H:%M') : f.object.begin.strftime('%d/%m/%Y %H:%M'), :readonly => true %>
                    <%= text_field_tag 'Inicio horario', f.object.begin_sc ? f.object.begin_sc.strftime('%H:%M') : f.object.begin.strftime('%H:%M'),
                                       :class => "form-control date-picker begin_date_picker_flex time_picker",
                                       :data => {:format => '%H:%M',
                                                 :reference_date => record.begin_sc.to_date.strftime('%d/%m/%Y'),
                                                 :reference_date_prev => (record.begin_sc).strftime('%d/%m/%Y'),
                                                 :reference_date_next => (record.end_sc).strftime('%d/%m/%Y')},
                                       :readonly => true,
                                       :style => "padding-left: 5px; cursor:pointer; background-color:#C6D2D7;",
                                       :onchange => 'calculate_begining_update_2(this)' %>
                    <span class="input-group-addon" style="background-color: #C6D2D7;"> <i class="fa fa-clock-o" aria-hidden="true" style="padding-left: 5px;"></i></span>
                  </div>
                <% end %>
              <% end %>
            </td>

            <% if record.begin.strftime('%d/%m/%Y') == record.end.strftime('%d/%m/%Y') %>
                <td width="20%">
                  <input type="checkbox" class="form-control after_day_checkbox"
                         data-inverse="true"
                         data-on-text="<%= (record.begin.to_date + 1.day).to_datetime.strftime("%d/%m") %>"
                         data-off-text="<%= (record.begin).to_datetime.strftime("%d/%m") %>"
                         data-reference-date="<%= record.begin.to_date.strftime('%d/%m/%Y') %>"
                         data-reference-date-prev="<%= (record.begin.to_date-1.day).strftime('%d/%m/%Y') %>"
                         data-reference-date-next="<%= (record.begin.to_date+1.day).strftime('%d/%m/%Y') %>"
                         data-record-id="<%= record.id %>" onchange="exclusive_checkbox_after_day_update_1(this)" <%= ('disabled="disabled"').html_safe unless defined?(editable) && (editable) %>>

                  <% if record.user.flexible_sc && editable %>
                    <% if record.begin_sc.strftime('%d/%m/%Y') == record.end_sc.strftime('%d/%m/%Y') %>
                      <div class="flexible_sc <%= 'hidden'.html_safe unless original_begin_sc && original_end_sc %>">
                        <br>
                        <input type="checkbox" class="form-control after_day_checkbox_flex"
                               data-inverse="true"
                               data-on-text="<%= (record.begin_sc.to_date + 1.day).to_datetime.strftime("%d/%m") %>"
                               data-off-text="<%= (record.begin_sc).to_datetime.strftime("%d/%m") %>"
                               data-reference-date="<%= record.begin_sc.strftime('%d/%m/%Y') %>"
                               data-reference-date-prev="<%= (record.begin_sc.to_date - 1.day).strftime('%d/%m/%Y') %>"
                               data-reference-date-next="<%= (record.end_sc.to_date + 1.day).strftime('%d/%m/%Y') %>"
                               data-record-id="<%= record.id %>" onchange="exclusive_checkbox_after_day_update_2(this)">
                      </div>
                    <% else %>
                      <div class="flexible_sc <%= 'hidden'.html_safe unless original_begin_sc && original_end_sc %>">
                        <br>
                        <input type="checkbox" class="form-control after_day_checkbox_flex"
                               data-on-text="<%= (record.begin_sc).to_datetime.strftime("%d/%m") %>"
                               data-off-text="<%= (record.end_sc).to_datetime.strftime("%d/%m") %>"
                               data-reference-date="<%= record.begin_sc.to_date.strftime('%d/%m/%Y') %>"
                               data-reference-date-prev="<%= (record.begin_sc).strftime('%d/%m/%Y') %>"
                               data-reference-date-next="<%= (record.end_sc).strftime('%d/%m/%Y') %>"
                               data-record-id="<%= record.id %>" onchange="exclusive_checkbox_after_day_update_2(this)">
                      </div>
                    <% end %>
                  <% end %>

                </td>
            <% else %>
                <td width="20%">
                  <input type="checkbox" class="form-control after_day_checkbox"
                         data-on-text="<%= (record.begin).to_datetime.strftime("%d/%m") %>"
                         data-off-text="<%= (record.end).to_datetime.strftime("%d/%m") %>"
                         data-reference-date="<%= record.begin.to_date.strftime('%d/%m/%Y') %>"
                         data-reference-date-prev="<%= (record.begin).strftime('%d/%m/%Y') %>"
                         data-reference-date-next="<%= (record.end).strftime('%d/%m/%Y') %>"
                         data-record-id="<%= record.id %>" onchange="exclusive_checkbox_after_day_update(this)" <%= ('disabled="disabled"').html_safe unless defined?(editable) && (editable) %>>

                  <% if record.user.flexible_sc && editable %>
                    <% if record.begin_sc.strftime('%d/%m/%Y') == record.end_sc.strftime('%d/%m/%Y') %>
                      <div class="flexible_sc <%= 'hidden'.html_safe unless original_begin_sc && original_end_sc %>">
                        <br>
                        <input type="checkbox" class="form-control after_day_checkbox_flex"
                               data-inverse="true"
                               data-on-text="<%= (record.begin_sc.to_date + 1.day).to_datetime.strftime("%d/%m") %>"
                               data-off-text="<%= (record.begin_sc).to_datetime.strftime("%d/%m") %>"
                               data-reference-date="<%= record.begin_sc.strftime('%d/%m/%Y') %>"
                               data-reference-date-prev="<%= (record.begin_sc.to_date - 1.day).strftime('%d/%m/%Y') %>"
                               data-reference-date-next="<%= (record.end_sc.to_date + 1.day).strftime('%d/%m/%Y') %>"
                               data-record-id="<%= record.id %>" onchange="exclusive_checkbox_after_day_update_2(this)">
                      </div>
                    <% else %>
                      <div class="flexible_sc <%= 'hidden'.html_safe unless original_begin_sc && original_end_sc %>">
                        <br>
                        <input type="checkbox" class="form-control after_day_checkbox_flex"
                               data-on-text="<%= (record.begin_sc).to_datetime.strftime("%d/%m") %>"
                               data-off-text="<%= (record.end_sc).to_datetime.strftime("%d/%m") %>"
                               data-reference-date="<%= record.begin_sc.to_date.strftime('%d/%m/%Y') %>"
                               data-reference-date-prev="<%= (record.begin_sc).strftime('%d/%m/%Y') %>"
                               data-reference-date-next="<%= (record.end_sc).strftime('%d/%m/%Y') %>"
                               data-record-id="<%= record.id %>" onchange="exclusive_checkbox_after_day_update_2(this)">
                      </div>
                    <% end %>
                  <% end %>

                </td>
            <% end %>

            <td class="td_end_date_container" width="20%">
              <div class="input-group date">
                <% unless defined?(editable) && (editable) %>
                    <%= text_field_tag 'Fin', f.object.end ? f.object.end.strftime('%H:%M') : '',
                                       class: "form-control date-picker end_date_picker time_picker",
                                       :style => "padding-left: 5px;",
                                       :data => {:format => '%H:%M'},
                                       :readonly => true,
                                       :disabled => true %>
                    <span class="input-group-addon"> <i class="fa fa-clock-o" aria-hidden="true" style="padding-left: 5px;"></i></span>
                <% else %>
                    <%= f.hidden_field :end, class: 'real_end_date_picker datetime_picker', :data => {:format => 'dd/MM/yyyy %H:%M'}, :value => f.object.end ? f.object.end.strftime('%d/%m/%Y %H:%M') : '', :readonly => true %>
                    <% if record.begin.strftime('%d/%m/%Y') == record.end.strftime('%d/%m/%Y') %>
                        <%= text_field_tag 'Fin', f.object.end ? f.object.end.strftime('%H:%M') : '',
                                           class: "form-control date-picker end_date_picker time_picker",
                                           :data => {:format => '%H:%M',
                                                     :reference_date => record.begin.to_date.strftime('%d/%m/%Y'),
                                                     :reference_date_prev => (record.begin.to_date-1.day).strftime('%d/%m/%Y'),
                                                     :reference_date_next => (record.begin.to_date+1.day).strftime('%d/%m/%Y')},
                                           :readonly => true,
                                           :style => "padding-left: 5px; cursor:pointer;",
                                           :onchange => 'calculate_begining_update_1(this)' %>
                    <% else %>
                        <%= text_field_tag 'Fin', f.object.end ? f.object.end.strftime('%H:%M') : '',
                                           class: "form-control date-picker end_date_picker time_picker",
                                           :data => {:format => '%H:%M',
                                                     :reference_date => record.begin.strftime('%d/%m/%Y'),
                                                     :reference_date_prev => (record.begin).strftime('%d/%m/%Y'),
                                                     :reference_date_next => (record.end).strftime('%d/%m/%Y')},
                                           :readonly => true,
                                           :style => "padding-left: 5px; cursor:pointer;",
                                           :onchange => 'calculate_begining_update(this)' %>
                    <% end %>

                    <span class="input-group-addon"> <i class="fa fa-clock-o" aria-hidden="true" style="padding-left: 5px;"></i></span>

                <% end %>
              </div>

              <% if record.user.flexible_sc && editable %>
                <% if record.begin_sc.strftime('%d/%m/%Y') == record.end_sc.strftime('%d/%m/%Y') %>
                  <br>
                  <div class="input-group date flexible_sc <%= 'hidden'.html_safe unless original_begin_sc && original_end_sc %>">
                    <%= f.hidden_field :end_sc, class: 'real_end_date_picker_flex datetime_picker', data: {format: 'dd/MM/yyyy %H:%M'}, :value => f.object.end_sc ? f.object.end_sc.strftime('%d/%m/%Y %H:%M') : f.object.end.strftime('%d/%m/%Y %H:%M'), :readonly => true %>
                    <%= text_field_tag 'Fin horario', f.object.end_sc ? f.object.end_sc.strftime('%H:%M') : f.object.end.strftime('%H:%M'),
                                       :class => "form-control date-picker end_date_picker_flex time_picker",
                                       :data => {:format => '%H:%M',
                                                 :reference_date => record.begin_sc.to_date.strftime('%d/%m/%Y'),
                                                 :reference_date_prev => (record.begin_sc.to_date-1.day).strftime('%d/%m/%Y'),
                                                 :reference_date_next => (record.begin_sc.to_date+1.day).strftime('%d/%m/%Y')},
                                       :readonly => true,
                                       :style => "padding-left: 5px; cursor:pointer; background-color:#C6D2D7;",
                                       :onchange => 'calculate_begining_update_2(this)' %>
                    <span class="input-group-addon" style="background-color: #C6D2D7;"> <i class="fa fa-clock-o" aria-hidden="true" style="padding-left: 5px;"></i></span>
                  </div>
                <% else %>
                  <br>
                  <div class="input-group date flexible_sc <%= 'hidden'.html_safe unless original_begin_sc && original_end_sc %>">
                    <%= f.hidden_field :end_sc, class: 'real_end_date_picker_flex datetime_picker', data: {format: 'dd/MM/yyyy %H:%M'}, :value => f.object.end_sc ? f.object.end_sc.strftime('%d/%m/%Y %H:%M') : f.object.end.strftime('%d/%m/%Y %H:%M'), :readonly => true %>
                    <%= text_field_tag 'Fin horario', f.object.end_sc ? f.object.end_sc.strftime('%H:%M') : f.object.end.strftime('%H:%M'),
                                       :class => "form-control date-picker end_date_picker_flex time_picker",
                                       :data => {:format => '%H:%M',
                                                 :reference_date => record.begin_sc.to_date.strftime('%d/%m/%Y'),
                                                 :reference_date_prev => (record.begin_sc).strftime('%d/%m/%Y'),
                                                 :reference_date_next => (record.end_sc).strftime('%d/%m/%Y')},
                                       :readonly => true,
                                       :style => "padding-left: 5px; cursor:pointer; background-color:#C6D2D7;",
                                       :onchange => 'calculate_begining_update_2(this)' %>
                    <span class="input-group-addon" style="background-color: #C6D2D7;"> <i class="fa fa-clock-o" aria-hidden="true" style="padding-left: 5px;"></i></span>
                  </div>
                <% end %>
              <% end %>

            </td>

            <% checkbox = defined?(checkbox) ? checkbox : nil %>
            <% editable = defined?(editable) ? editable : nil %>
            <% cancel = defined?(cancel) ? cancel : nil %>
            <% save = defined?(save) ? save : nil %>
            <% edit = defined?(edit) ? edit : nil %>
            <% delete = defined?(delete) ? delete : nil %>



            <% if (record.status == 0 || record.status == 4) && has_schedule %>
                <% unless record.sc_process.closed %>
                    <% if defined?(checkbox) && checkbox %>
                        <td class="options_sc_update_record" width="15%" align="center" style="font-size: 12px;">
                    <% else %>
                        <td class="options_sc_update_record" width="20%" align="center" style="font-size: 12px;">
                    <% end %>
                    <% if defined?(editable) && editable && !process.closed %>
                        <% if defined?(cancel) && cancel %>
                            <%= link_to 'Cancelar', '#', :onclick => 'get_non_editable_form(this)', :data => {:url => get_non_editable_sc_record_form_path(record.id, whoami)} %>
                            <br>
                        <% end %>
                        <% if defined?(save) && save %>
                            <%= f.submit 'Guardar', class: 'btn btn-primary btn-xs disabled submit_btn' %>
                        <% end %>
                        </td>
                    <% else %>
                        <% if defined?(edit) && edit %>
                            <%= link_to 'Editar', '#', :onclick => 'get_editable_form(this)', :data => {:url => get_editable_sc_record_form_path(record.id, whoami)} %>
                            <br>
                        <% end %>
                        <% if defined?(delete) && delete %>
                            <%= link_to t('views.sc_processes.flow_process.delete'), '#', :onclick => 'get_deleted_form(this)', :data => {:url => get_deleted_sc_record_form_path(record.id, whoami)}, :class => "btn btn-danger btn-xs" %>
                        <% end %>
                    <% end %>
                    </td>
                <% end %>
                <% else %>
                <% if defined?(checkbox) && checkbox %>
                    <td class="options_sc_update_record" width="15%" align="center" style="font-size: 12px;">
                <% else %>
                    <td class="options_sc_update_record" width="20%" align="center" style="font-size: 12px;">
                <% end %>
                <%= label_message_datable(record.status_label_color, record.status_label_message) %>
                </td>
          <% end %>
          </tr>

          <% if (record.status == 0 || record.status == 4) && has_schedule %>
            <% unless record.sc_process.closed %>
              <% if editable && !process.closed %>
                <% if record.user.flexible_sc && has_schedule && !process.closed %>
                  <tr class="borderless" style="border: 0">
                    <td colspan="5" class="borderless" style="vertical-align:top; border: 0">
                      <% if original_begin_sc && original_end_sc %>
                        <%= link_to 'Cambiar horario establecido', '#', onclick: 'show_flex_sc_update(this)', style: 'display:none;', class: 'change_flex', data: {begin_sc: record.begin_sc.strftime('%H:%M'), end_sc: record.end_sc.strftime('%H:%M'), real_begin_sc: record.end_sc.strftime('%d/%m/%Y %H:%M'), real_end_sc: record.end_sc.strftime('%d/%m/%Y %H:%M')} %>
                      <%= link_to 'Cancelar cambio de horario', '#', onclick: 'hide_flex_sc_update(this)', class:'cancel_flex', data: {begin_sc: record.begin_sc.strftime('%H:%M'), end_sc: record.end_sc.strftime('%H:%M'), real_begin_sc: record.end_sc.strftime('%d/%m/%Y %H:%M'), real_end_sc: record.end_sc.strftime('%d/%m/%Y %H:%M')} %>
                      <% else %>
                        <%= link_to 'Cambiar horario establecido', '#', onclick: 'show_flex_sc_update(this)', class: 'change_flex', data: {begin_sc: record.begin_sc.strftime('%H:%M'), end_sc: record.end_sc.strftime('%H:%M'), real_begin_sc: record.end_sc.strftime('%d/%m/%Y %H:%M'), real_end_sc: record.end_sc.strftime('%d/%m/%Y %H:%M')} %>
                        <%= link_to 'Cancelar cambio de horario', '#', onclick: 'hide_flex_sc_update(this)', style: 'display:none;', class: 'cancel_flex', data: {begin_sc: record.begin_sc.strftime('%H:%M'), end_sc: record.end_sc.strftime('%H:%M'), real_begin_sc: record.end_sc.strftime('%d/%m/%Y %H:%M'), real_end_sc: record.end_sc.strftime('%d/%m/%Y %H:%M')} %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <tr class="borderless" style="border: 0">
            <td colspan="3" class="borderless" style="vertical-align:top; border: 0">
              <% if record.registered_by_user_id == user_connected.id %>
                <i class="fa fa-dot-circle-o" aria-hidden="true" title="Registrado el <%= (localize record.registered_at, :format => :day_snmonth_year) %>"></i>
              <% end %>

              <% if original_end_sc || original_begin_sc %>
                <i class="fa fa-pencil" aria-hidden="true" title="Horario flexible modificado"></i>
              <% end %>
              <strong>Horario asignado: </strong>
              <% if original_begin_sc && original_end_sc  %>
                <%= (localize record.begin_sc , :format => :day_snmonth_year) + ', ' +record.begin_sc.strftime('%H:%M')+ ' - ' + (localize record.end_sc , :format => :day_snmonth_year)+', '+record.end_sc.strftime('%H:%M') if record.begin_sc.strftime('%d-%m-%Y') != record.end_sc.strftime('%d-%m-%Y')%>
                <%= record.begin_sc.strftime('%H:%M')+ ' - ' +record.end_sc.strftime('%H:%M') +' ('+ record.begin_sc.strftime('%d-%m-%Y')+')' if @reference_date && record.begin_sc.strftime('%d-%m-%Y') == record.end_sc.strftime('%d-%m-%Y') && @reference_date.strftime('%d-%m-%Y') != record.end_sc.strftime('%d-%m-%Y') %>
                <%= record.begin_sc.strftime('%H:%M')+ ' - ' +record.end_sc.strftime('%H:%M') if @reference_date && record.begin_sc.strftime('%d-%m-%Y') == record.end_sc.strftime('%d-%m-%Y') && @reference_date.strftime('%d-%m-%Y') == record.end_sc.strftime('%d-%m-%Y') %>
                <%= record.begin_sc.strftime('%H:%M')+ ' - ' +record.end_sc.strftime('%H:%M') if !@reference_date && record.begin_sc.strftime('%d-%m-%Y') == record.end_sc.strftime('%d-%m-%Y') %>
            <% else %>
                <%= record.sc_record_blocks.where(active: true).first ? record.sc_record_blocks.where(active: true).first.sc_block.begin_time.strftime('%H:%M') + ' - ' + record.sc_record_blocks.where(active: true).first.sc_block.end_time.strftime('%H:%M') : ' - ' %>
              <% end %>
            </td>
            <td class="borderless" style="vertical-align:top; border: 0">
              <strong>Horas extras: </strong>
              <%= record.he && record.he > 0 ? record.he_formatted : ' - '%>
            </td>
            <td class="borderless" style="vertical-align:top; border: 0">
              <% holiday = holiday_name_for(record.user_id, record.begin.to_date) %>
              <%= label_message_datable(5, holiday.name_formatted ) if holiday %>
            </td>
          </tr>

          <% if record.rejected_description %>
              <tr class="borderless" style="border: 0">
                <td colspan="5" class="borderless" style="vertical-align:top; border: 0">
                  <strong><em class="<%= 'text-danger' if record.status == 4 %>" style="font-size: 10px;"><%= record.rejected_description %></em></strong>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>

    <% end %>
<% end %>

<script>

    function show_flex_sc_update(link) {
        $(link).closest('.sc_record_form_edit').find('.change_flex').hide();
        $(link).closest('.sc_record_form_edit').find('.cancel_flex').show();

        set_initial_values_flex_update(link);

        $(link).closest('.sc_record_form_edit').find('.begin_date_picker_flex').show();
        $(link).closest('.sc_record_form_edit').find('.end_date_picker_flex').show();
        $(link).closest('.sc_record_form_edit').find('.real_end_date_picker_flex').show();
        $(link).closest('.sc_record_form_edit').find('.real_begin_date_picker_flex').show();

        $(link).closest('.sc_record_form_edit').find('.flexible_sc').removeClass('hidden');

    }

    function set_initial_values_flex_update(link){
        asistance_end = $(link).data('real-end-sc');
        asistance_begin = $(link).data('real-begin-sc');

        $(link).closest('.sc_record_form_edit').find('.real_end_date_picker_flex').val(asistance_end);
        $(link).closest('.sc_record_form_edit').find('.real_begin_date_picker_flex').val(asistance_begin);


        begin_hour = $(link).data('begin-sc')
        end_hour = $(link).data('end-sc')

        $(link).closest('.sc_record_form_edit').find('.begin_date_picker_flex').val(begin_hour);
        $(link).closest('.sc_record_form_edit').find('.end_date_picker_flex').val(end_hour);
    }

    function hide_flex_sc_update(link) {
        $(link).closest('.sc_record_form_edit').find('.flexible_sc').addClass('hidden');

        $(link).closest('.sc_record_form_edit').find('.begin_date_picker_flex').val('');
        $(link).closest('.sc_record_form_edit').find('.end_date_picker_flex').val('');
        $(link).closest('.sc_record_form_edit').find('.real_end_date_picker_flex').val("");
        $(link).closest('.sc_record_form_edit').find('.real_begin_date_picker_flex').val("");

        $(link).closest('.sc_record_form_edit').find('.begin_date_picker_flex').hide();
        $(link).closest('.sc_record_form_edit').find('.end_date_picker_flex').hide();
        $(link).closest('.sc_record_form_edit').find('.real_end_date_picker_flex').hide();
        $(link).closest('.sc_record_form_edit').find('.real_begin_date_picker_flex').hide();

        $(link).closest('.sc_record_form_edit').find('.change_flex').show();
        $(link).closest('.sc_record_form_edit').find('.cancel_flex').hide();
    }

    <% if defined?(show_generic_message) and show_generic_message %>
    $(function () {
        <% if defined?(record) %>
        var flash = '.generic_message_<%= record.id %>';
        <% else %>
        var flash = '.generic_message_<%= record_id %>';
        <% end %>
        $(flash).show(500).delay(2000).hide(500);
    });
    <% end %>


        <% if defined?(success_message_created) and success_message_created %>
        $(function () {
            var flash = '.success_message_created_attendance_form_<%=record.id%>';
            $(flash).show(500).delay(2000).hide(500);
        });
        <% end %>

        <% if defined?(deleted) && deleted && !(defined?(show_generic_message) and show_generic_message)%>
        $(function () {
            var flash = '.deleted_sc_record_message<%=record_id%>';
            $(flash).show(500).delay(2000).hide(500);
        });
        <% end %>

        <% if defined?(success_message_changed) and success_message_changed %>
        $(function () {
            var flash = '.success_message_changed_attendance_form_<%=record.id%>';
            $(flash).show(500).delay(2000).hide(500);

        });
        <% end %>

        function exclusive_checkbox_before_day_update_1(link){
            if($(link).closest('.date_parent_container').find('.before_day_checkbox').prop('checked')){
                $(link).closest('.date_parent_container').find('.after_day_checkbox').bootstrapSwitch('state', false)
            }
            calculate_begining_update_1(link)
        }

        function exclusive_checkbox_after_day_update_1(link){
            if($(link).closest('.date_parent_container').find('.after_day_checkbox').prop('checked')) {
                $(link).closest('.date_parent_container').find('.before_day_checkbox').bootstrapSwitch('state', false)
            }
            calculate_begining_update_1(link)
        }

        function calculate_begining_update_1(link){
            reference_date = ($(link).data('reference-date'))
            reference_date_prev = ($(link).data('reference-date-prev'))
            reference_date_next = ($(link).data('reference-date-next'))

            if($(link).closest('.date_parent_container').find('.before_day_checkbox').prop('checked')){
                begin = reference_date_prev+' '+$(link).closest('.date_parent_container').find('.begin_date_picker').val()
            }else{
                begin = reference_date+' '+$(link).closest('.date_parent_container').find('.begin_date_picker').val()
            }

            if($(link).closest('.date_parent_container').find('.after_day_checkbox').prop('checked')){
                end = reference_date_next+' '+$(link).closest('.date_parent_container').find('.end_date_picker').val()
            }else{
                end = reference_date+' '+$(link).closest('.date_parent_container').find('.end_date_picker').val()
            }

            $(link).closest('.date_parent_container').find('.real_end_date_picker').val(end)
            $(link).closest('.date_parent_container').find('.real_begin_date_picker').val(begin)

            $(link).closest('.date_parent_container').find('.td_begin_date_container').find('.date_reference_begin').find('.em_text_date').text('Fecha: '+begin)
            $(link).closest('.date_parent_container').find('.td_end_date_container').find('.date_reference_end').find('.em_text_date').text('Fecha: '+end)

            $(link).closest('.date_parent_container').find('.options_sc_update_record').find('.submit_btn').removeClass('disabled')
        }

        function exclusive_checkbox_before_day_update(link){
            if($(link).closest('.date_parent_container').find('.before_day_checkbox').prop('checked')){
                $(link).closest('.date_parent_container').find('.after_day_checkbox').bootstrapSwitch('state', false)
            }
            calculate_begining_update(link)
        }

        function exclusive_checkbox_after_day_update(link){
            if($(link).closest('.date_parent_container').find('.after_day_checkbox').prop('checked')) {
                $(link).closest('.date_parent_container').find('.before_day_checkbox').bootstrapSwitch('state', false)
            }
            calculate_begining_update(link)
        }

        function calculate_begining_update(link){
            reference_date = ($(link).data('reference-date'))
            reference_date_prev = ($(link).data('reference-date-prev'))
            reference_date_next = ($(link).data('reference-date-next'))

            if($(link).closest('.date_parent_container').find('.before_day_checkbox').prop('checked')){
                begin = reference_date_next+' '+$(link).closest('.date_parent_container').find('.begin_date_picker').val()
            }else{
                begin = reference_date+' '+$(link).closest('.date_parent_container').find('.begin_date_picker').val()
            }

            if($(link).closest('.date_parent_container').find('.after_day_checkbox').prop('checked')){
                end = reference_date+' '+$(link).closest('.date_parent_container').find('.end_date_picker').val()
            }else{
                end = reference_date_next+' '+$(link).closest('.date_parent_container').find('.end_date_picker').val()
            }

            $(link).closest('.date_parent_container').find('.real_end_date_picker').val(end)
            $(link).closest('.date_parent_container').find('.real_begin_date_picker').val(begin)

            $(link).closest('.date_parent_container').find('.td_begin_date_container').find('.date_reference_begin').find('.em_text_date').text('Fecha: '+begin)
            $(link).closest('.date_parent_container').find('.td_end_date_container').find('.date_reference_end').find('.em_text_date').text('Fecha: '+end)

            $(link).closest('.date_parent_container').find('.options_sc_update_record').find('.submit_btn').removeClass('disabled')

        }

    function exclusive_checkbox_before_day_update_2(link){
        if($(link).closest('.date_parent_container').find('.before_day_checkbox_flex').prop('checked')){
            $(link).closest('.date_parent_container').find('.after_day_checkbox_flex').bootstrapSwitch('state', false)
        }
        calculate_begining_update_2(link)
    }

    function exclusive_checkbox_after_day_update_2(link){
        if($(link).closest('.date_parent_container').find('.after_day_checkbox_flex').prop('checked')) {
            $(link).closest('.date_parent_container').find('.before_day_checkbox_flex').bootstrapSwitch('state', false)
        }
        calculate_begining_update_2(link)
    }

    function calculate_begining_update_2(link){
        reference_date = ($(link).data('reference-date'));
        reference_date_prev = ($(link).data('reference-date-prev'));
        reference_date_next = ($(link).data('reference-date-next'));

        if($(link).closest('.date_parent_container').find('.before_day_checkbox_flex').prop('checked')){
            begin = reference_date_prev+' '+$(link).closest('.date_parent_container').find('.begin_date_picker_flex').val()
        }else{
            begin = reference_date+' '+$(link).closest('.date_parent_container').find('.begin_date_picker_flex').val()
        }

        if($(link).closest('.date_parent_container').find('.after_day_checkbox_flex').prop('checked')){
            end = reference_date_next+' '+$(link).closest('.date_parent_container').find('.end_date_picker_flex').val()
        }else{
            end = reference_date+' '+$(link).closest('.date_parent_container').find('.end_date_picker_flex').val()
        }

        $(link).closest('.date_parent_container').find('.real_end_date_picker_flex').val(end);
        $(link).closest('.date_parent_container').find('.real_begin_date_picker_flex').val(begin);

        $(link).closest('.date_parent_container').find('.td_begin_date_container').find('.date_reference_begin_flex').find('.em_text_date').text('Fecha: '+begin);
        $(link).closest('.date_parent_container').find('.td_end_date_container').find('.date_reference_end_flex').find('.em_text_date').text('Fecha: '+end);

        $(link).closest('.date_parent_container').find('.options_sc_update_record').find('.submit_btn').removeClass('disabled')
    }

        function get_editable_form(link){
            url = $(link).data('url');
            form = $(link).closest('.sc_record_form_edit')
            $.ajax({
                url: url,
                type: 'GET',
                dataType: "html",
                success: function (result) {
                    $(form).replaceWith(result)
                    add_listeners_to_form()
                }
            });
        }

        function get_non_editable_form(link){
            url = $(link).data('url');
            form = $(link).closest('.sc_record_form_edit')
            $.ajax({
                url: url,
                type: 'GET',
                dataType: "html",
                success: function (result) {
                    $(form).replaceWith(result)
                    add_listeners_to_form()
                }
            });
        }

        function get_deleted_form(link){
            if (confirm("¿Esta seguro de eliminar asistencia?")) {
                url = $(link).data('url');
                form = $(link).closest('.sc_record_form_edit')
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: "html",
                    success: function (result) {
                        $(form).replaceWith(result)
                        add_listeners_to_form()
                    }
                });
            }
        }

</script>

<script>
    $(document).ready(function () {
        if ($('.my_record').size === 0) {
            $('.my_record_select').hide();
        }
    });
</script>
