<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.sc_processes.navigation.back_list_register_record')).html_safe, register_attendance_path(@sc_process,0), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-calendar" aria-hidden="true"> </i>
      <%= t('views.sc_processes.legends.processes') %>
      <span>> <%= t('views.sc_processes.flow_process.register_attendences') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'sc_processes/show',
               locals: { :process => @sc_process,
                         :editable => false } %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row">
          <%= form_tag go_to_register_attendances_by_date_path(@sc_process.id), method: :post, class: 'form-horizontal' do |f| %>
              <div class="row">
                <div class="col-md-2 col-md-offset-4">
                  <div class="input-group date">
                    <input class="form-control date-picker-reference" data-format="dd/MM/yyyy" style="cursor:pointer;" name="reference_date" readonly="readonly" size="30" value="<%= @reference_date.strftime('%d/%m/%Y') %>" type="text">
                    <span class="input-group-addon"> <i class="fa fa-calendar"></i></span>
                  </div>
                </div>
                <div class="col-md-2">
                  <input type="submit" class="btn btn-primary" value="Registrar">
                </div>
              </div>
              <% unless @sc_process.closed %>
                  <div class="row">
                    <div class="col-md-2 col-md-offset-9" align="right">
                      <strong><%= link_to t('views.sc_processes.flow_process.search_people_register_attendance'), search_people_register_record_path(@sc_process) %></strong>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>

        <div class="row">
          <div class="col-md-3 col-md-offset-9">
          <table width="100%">
            <tbody>
            <tr>
              <td width="4%"><input id ="he_able_checkbox" type="checkbox" class="form-control he_able_check" size="30" onchange="only_he_able_users(this)"></td>
              <td width="96%">&nbsp;&nbsp;Solo susceptibles a horas extras</td>
            </tr>
            </tbody>
          </table>
          </div>
        </div>

        <table id="datatable_register_attendances"  class="table table-bordered smart-form" style="font-size: 11px;" width="100%">
          <thead>
          <tr>
            <th><%= alias_username %></th>
            <th><%= t('views.sc_processes.user.lastname') %></th>
            <th><%= t('views.sc_processes.user.name') %></th>
            <% @sc_schedule_characteristics.each do |characteristic| %>
                <th><%=characteristic.name%></th>
            <% end %>
            <th width="45%" align="center"></th>
          </tr>

          <tr class="second">
            <td><label class="input"><input type="text" name="search_codigo" value="" class="search_init"></label></td>
            <td><label class="input"><input type="text" name="search_apellidos" value="" class="search_init"></label></td>
            <td><label class="input"><input type="text" name="search_nombre" value="" class="search_init"></label>
            </td>
            <% @sc_schedule_characteristics.each do |characteristic| %>
                <td><label class="input"><input type="text" name="search_<%= characteristic.name %>" value="" class="search_init"></label></td>
            <% end %>
            <td align="center">
              <%= label_message_datable(5, 'Feriado' ) if not_laborable?(@reference_date.to_date) %>
              <%= label_message_datable(5, 'Fecha de referencia fuera de rango de asistencias del proceso' ) if (@reference_date.to_date < @sc_process.records_since.to_date || @reference_date.to_date > @sc_process.records_until.to_date) %>
              <h5><strong><%= (localize @reference_date , :format => :day_snmonth_year) %></strong></h5>
            </td>
          </tr>
          </thead>

          <tbody>
          <% users_id = [] %>
          <% @users_to_register.each do |user_to_register|%>
          <% has_schedule =  schedule_of(user_to_register.user.id, lms_time) %>
              <tr class="user_to_register_container <%= 'he_able' if user_to_register.user.he_able %> <%= 'not_he_able' if !user_to_register.user.he_able %>">
                <td><%= user_to_register.user.codigo %></td>
                <td><%= user_to_register.user.apellidos %></td>
                <td><%= user_to_register.user.nombre %></td>
                <% @sc_schedule_characteristics.each do |characteristic| %>
                    <td><%= user_to_register.user.formatted_characteristic_value characteristic.characteristic %></td>
                <% end %>
                <td class="record_forms_container record_forms_container_user_<%=user_to_register.user_id%>">
                  <% if has_schedule %>
                    <% unless @sc_process.closed %>
                      <div align="right"><i class="fa fa-plus" aria-hidden="true"></i>
                        <%= link_to t('views.sc_schedules.flow_process.add'), '#', :onclick => 'new_record_form(this)', :data => {:sc_process_id => @sc_process.id, :user_id => user_to_register.user_id} %>
                      </div>
                    <% end %>
                  <% else %>
                    <h5 class="alert-danger alert">No tiene horario asignado</h5>
                  <% end %>

                  <table class="table borderless" style="font-size: 12px;" width="100%">
                    <tbody>
                    <tr style="border: 0">
                      <td width="40%" align="center"><strong>Inicio</strong></td>
                      <td width="40%" align="center"><strong>Fin</strong></td>
                      <td width="20%" align="center"></td>
                    </tr>
                    </tbody>
                  </table>
                  <%
                    users_id << user_to_register.user_id
                    records = ScRecord.where(:user_id => user_to_register.user_id, :sc_process_id => @sc_process.id)
                    records_id = []
                    records_1 = []
                    reference_date_day = @reference_date.wday
                    reference_date_datetime_begin = @reference_date.to_datetime
                    reference_date_datetime_end = @reference_date.to_datetime+1.day
                    records.each do |record|
                      records_id << record.id
                      if record.begin < reference_date_datetime_end && record.end > reference_date_datetime_begin
                        records_1 << record
                  %><%= render :partial => 'update_record_form',
                               :locals => {:user => record.user,
                                           :process => record.sc_process,
                                           :record => record,
                                           :whoami => 'go_to_register_view',
                                           :editable => false,
                                           :edit => true, :save => true, :delete => true, :cancel => true} %>
                      <%
                        end
                        end
                      %><%
                    schedule_user = get_schedule_by_record(ScRecord.new(:begin => reference_date_datetime_begin, :end => reference_date_datetime_end, :user_id => user_to_register.user_id))
                    if schedule_user
                      blocks = ScBlock.where(:active => true, :sc_schedule_id => schedule_user.sc_schedule.id, :day => reference_date_day, :workable => true)
                      blocks.each do |block|
                        reference_date_datetime_begin = @reference_date.to_datetime.change(hour: block.begin_time.strftime("%H").to_i, min: block.begin_time.strftime("%M").to_i)
                        reference_date_datetime_end = @reference_date.to_datetime.change(hour: block.end_time.strftime("%H").to_i, min: block.end_time.strftime("%M").to_i)
                        reference_date_datetime_end += 1.day if block.next_day
                        should_render = true
                        records_1.each {|record| should_render = false if (record.begin < reference_date_datetime_end && record.end > reference_date_datetime_begin)}
                        if should_render
                  %><%=
                  render :partial => 'new_record_form',
                         :locals => {:user => user_to_register.user,
                                     :process => @sc_process,
                                     :new_record => ScRecord.new(:begin => reference_date_datetime_begin, :end => reference_date_datetime_end),
                                     :reference_date => @reference_date,
                                     :cancel => true, :save => true}
                %>
                          <%
                            end
                            end
                            end
                          %>
                </td>
              </tr>
          <% end %>

          <%
            reference_date_day = @reference_date.wday
            reference_date_datetime_begin = @reference_date.to_datetime
            reference_date_datetime_end = @reference_date.to_datetime+1.day

            records = ScRecord.where(:registered_by_user_id => user_connected.id, :sc_process_id => @sc_process.id)
            records = records.where('user_id not in (?)', users_id)
            records1 = []
            users_id1 = []
            records.each do |record|
              if record.begin < reference_date_datetime_end && record.end > reference_date_datetime_begin
                records1 << record
                users_id1 << record.user_id unless users_id1.include?(record.user_id.to_s)
              end
            end
          %>

          <% users_id1.each do |user_id1|%>
            <% has_schedule = schedule_of(user_id1, lms_time) %>

            <% user = User.find(user_id1)%>
              <tr class="user_to_register_container <%= 'he_able' if user.he_able %> <%= 'not_he_able' if !user.he_able %>">
                <td><%= user.codigo %></td>
                <td><%= user.apellidos %></td>
                <td><%= user.nombre %></td>
                <% @sc_schedule_characteristics.each do |characteristic| %>
                    <td>
                      <%= user.formatted_characteristic_value characteristic.characteristic %>
                    </td>
                <% end %>
                <td class="record_forms_container record_forms_container_user_<%=user.id%>">

                  <% if has_schedule %>
                    <% unless @sc_process.closed %>
                      <div align="right"><i class="fa fa-plus" aria-hidden="true"></i>
                        <%= link_to t('views.sc_schedules.flow_process.add'), '#', :onclick => 'new_record_form(this)', :data => {:sc_process_id => @sc_process.id, :user_id => user.id} %>
                      </div>
                    <% end %>
                  <% else %>
                    <h5 class="alert-danger alert">No tiene horario asignado</h5>
                  <% end %>

                  <table class="table borderless" style="font-size: 12px;" width="100%">
                    <tbody>
                    <tr style="border: 0">
                      <td width="40%" align="center"><strong>Inicio</strong></td>
                      <td width="40%" align="center"><strong>Fin</strong></td>
                      <td width="20%" align="center"></td>
                    </tr>
                    </tbody>
                  </table>
                  <%
                    users_id << user_id1
                    records1 = ScRecord.where(:user_id => user_id1, :sc_process_id => @sc_process.id)
                    records1.each do |record|
                      if record.begin < reference_date_datetime_end && record.end > reference_date_datetime_begin


                  %><%= render :partial => 'update_record_form',
                               :locals => {:user => record.user,
                                           :process => record.sc_process,
                                           :record => record,
                                           :whoami => 'go_to_register_view',
                                           :editable => false,
                                           :edit => true, :save => true, :delete => true, :cancel => true} %>
                    <% end

                        end
                        schedule_user = get_schedule_by_record(ScRecord.new(:begin => reference_date_datetime_begin, :end => reference_date_datetime_end, :user_id => user_id1))
                        if schedule_user
                          blocks = ScBlock.where(:active => true, :sc_schedule_id => schedule_user.sc_schedule.id, :day => reference_date_day, :workable => true)
                          blocks.each do |block|
                            reference_date_datetime_begin = @reference_date.to_datetime.change(hour: block.begin_time.strftime("%H").to_i, min: block.begin_time.strftime("%M").to_i)
                            reference_date_datetime_end = @reference_date.to_datetime.change(hour: block.end_time.strftime("%H").to_i, min: block.end_time.strftime("%M").to_i)
                            reference_date_datetime_end += 1.day if block.next_day
                            should_render = true
                            records1.each {|record| should_render = false if (record.begin < reference_date_datetime_end && record.end > reference_date_datetime_begin)}
                            if should_render
                      %><%=
                  render :partial => 'new_record_form',
                         :locals => {:user => user_to_register.user,
                                     :process => @sc_process,
                                     :new_record => ScRecord.new(:begin => reference_date_datetime_begin, :end => reference_date_datetime_end),
                                     :reference_date => @reference_date,
                                     :cancel => true, :save => true}
                %>
                          <%
                            end
                            end
                            end
                          %>
                </td>
              </tr>
          <% end %>

          <% users_id_session = ScManualUserToRegister.gimme_users_id(ScManualUserToRegister.of_user(user_connected.id).process(@sc_process.id)) %>
          <% users_id_session.each do |user_id| %>
              <% unless users_id.include?(user_id.to_i) %>
                  <% user = User.find(user_id) %>
              <% has_schedule = schedule_of(user_id, lms_time) %>

              <tr>
                    <td><%= user.codigo %></td>
                    <td><%= user.apellidos %></td>
                    <td><%= user.nombre %></td>
                    <% @sc_schedule_characteristics.each do |characteristic| %>
                        <td>
                          <%= user.formatted_characteristic_value characteristic.characteristic %>
                        </td>
                    <% end %>
                    <td class="record_forms_container record_forms_container_user_<%= user.id %>">

                      <% if has_schedule %>
                        <% unless @sc_process.closed %>
                          <div align="right"><i class="fa fa-plus" aria-hidden="true"></i>
                            <%= link_to t('views.sc_schedules.flow_process.add'), '#', :onclick => 'new_record_form(this)', :data => {:sc_process_id => @sc_process.id, :user_id => user.id} %>
                          </div>
                        <% end %>
                      <% else %>
                        <h5 class="alert-danger alert">No tiene horario asignado</h5>
                      <% end %>

                      <table class="table borderless" style="font-size: 12px;" width="100%">
                        <tbody>
                        <tr style="border: 0">
                          <td width="40%" align="center"><strong>Inicio</strong></td>
                          <td width="40%" align="center"><strong>Fin</strong></td>
                          <td width="20%" align="center"></td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
              <% end %>
          <% end %>

          </tbody>

        </table>





      </div>
    </div>
  </div>
</div>

<script>

    function new_record_form(link){
        process_id = $(link).data('sc-process-id')
        user_id = $(link).data('user-id')
        url = '/sc_processes/'+process_id+'/new_record_of/'+user_id+'/new_record_form'
        $.ajax({
            url: url,
            type: 'GET',
            data: {reference_date: "<%=@reference_date.to_datetime.strftime("%d/%m/%Y")%>" },
            dataType: "html",
            success: function (result) {
                $(link).closest('.record_forms_container').append(result)
                add_listeners_to_form()
            }
        });
    }



    function add_listeners_to_form() {
        $('.sc_record_form_edit_without_listener').on('submit', function (e) {
            e.preventDefault();
            url = $(this).attr('action');
            form = $(this)
            $.ajax({
                url: url,
                type: 'POST',
                data: $(this).serialize(),
                dataType: "html",
                success: function (result) {
                    $(form).replaceWith(result)
                    add_listeners_to_form()
                }
            });
        });

        $('.sc_record_form_without_listener').on('submit', function (e) {
            e.preventDefault();
            if ($(this).find('.begin_date_picker').val() === '' || $(this).find('.end_date_picker').val() === '' ) {
                alert('Inicio o Fin no pueden ser vacíos');
            }else{
                url = $(this).attr('action');
                record = $(this)
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: $(this).serialize(),
                    dataType: "html",
                    success: function (result) {
                        record.replaceWith(result)
                        add_listeners_to_form()
                    }
                });
            }
        });

        $('.time_picker').datetimepicker({
            language: 'es',
            pickTime: true,
            pickDate: false
        });

        $('.datetime_picker').datetimepicker({
            language: 'es',
            pickTime: true,
            pickDate: true,
        });

        $('.before_day_checkbox').bootstrapSwitch({
            onColor: 'default',
            offColor: 'default',
            size: "small"
        });

        $('.after_day_checkbox').bootstrapSwitch({
            onColor: 'default',
            offColor: 'default',
            size: "small"
        });
        $('.before_day_checkbox_flex').bootstrapSwitch({
            onColor: 'danger',
            offColor: 'danger',
            size: "small"
        });

        $('.after_day_checkbox_flex').bootstrapSwitch({
            onColor: 'danger',
            offColor: 'danger',
            size: "small"
        });
        $('.sc_record_form_without_listener').removeClass('sc_record_form_without_listener');
        $('.sc_record_form_edit_without_listener').removeClass('sc_record_form_edit_without_listener');
    }

    $('.date-picker-reference').datetimepicker({
        language: 'es',
        pickTime: false,
        pickDate: true,
        minDate: new Date('<%= @sc_process.records_since.strftime('%Y-%m-%d')%>'),
        maxDate: new Date('<%= (@sc_process.records_until+1.day).strftime('%Y-%m-%d')%>')
    });

    $(function () {
        add_listeners_to_form()
    });

    function only_he_able_users(link){
        if($(link).prop('checked')) {
            $('.not_he_able').hide()
        }else{
            $('.not_he_able').show()
        }
    }

    $('.he_able_check').click()


</script>

<%= render partial: '/shared/datatable',
           locals: { table_id: 'datatable_register_attendances' } %>