<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.sc_processes.navigation.back_list_processes')).html_safe, register_attendance_path(@sc_process,0), class: 'btn btn-default' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-calendar" aria-hidden="true"> </i>
      <%= t('views.sc_processes.legends.processes') %> <span>> <%= t('views.sc_processes.flow_process.search_people_register_attendance') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'sc_processes/show',
               locals: { :process => @sc_process,
                         :editable => false } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url: search_people_register_record_path(@sc_process), method: :post do |f| %>

        <div class="panel panel-default">
          <div class="panel-body">

            <legend>Buscador</legend>


            <div class="row">
              <div class="col-md-12">

                <div class="row">
                  <div class="col-md-4">
                    <label>&nbsp;&nbsp;<%= alias_username %></label>
                  </div>
                  <div class="col-md-4">
                    <label>&nbsp;&nbsp;Apellidos</label>
                  </div>
                  <div class="col-md-4">
                    <label>&nbsp;&nbsp;Nombre</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>
                  </div>

                  <div class="col-md-4">
                    <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>
                  </div>

                  <div class="col-md-4">
                    <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= f.submit 'Buscar', class: 'btn btn-primary' %>
            </div>
          </div>

        </div>

    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Resultados de la búsqueda</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>
          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th><%= t('views.ben_cellphone_number.shared.lastname') %></th>
            <th><%= t('views.ben_cellphone_number.shared.name') %></th>
            <% @sc_schedule_characteristics.each do |characteristic| %>
                <th><%= characteristic.name %></th>
            <% end %>
            <th></th>
          </tr>
          </thead>

          <tbody>

          <% @users.each_with_index do |user, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= user.codigo %></td>
                <td><%= user.apellidos%></td>
                <td><%= user.nombre %></td>
                <% @sc_schedule_characteristics.each do |characteristic| %>
                    <td><%= user.formatted_characteristic_value characteristic.characteristic %></td>
                <% end %>
                <td>
                  <%= link_to t('views.sc_processes.flow_process.add_user_to_session'), '#', :onclick => 'add_user_to_session(this)', :data => {:url => add_user_to_session_path(user.id, @sc_process)} %>
                </td>
              </tr>
          <% end %>

          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>

<div class="row new_records_modal_container">

</div>

<script>

    $('.date-picker-reference').datetimepicker({
        language: 'es',
        pickTime: true,
        pickDate: true,
    });

    function show_new_records_modal(link) {
        user_id = $(link).data('user-id')
        process_id = $(link).data('process-id')
        url = '/sc_processes/'+process_id+'/register_attendance_of/'+user_id

        $.ajax({
            url: url,
            type: "get",
            dataType: "html",
            success: function (result) {
                $('.new_records_modal_container').html(result)
                $('#new_records_modal').modal('show')
            }
        })

    }

    function add_user_to_session(link){
        url = $(link).data('url')
        $.ajax({
            url: url,
            type: "get",
            dataType: "html",
            success: function () {
                alert('Usuario añadido a su lista de registro')
            }
        })
    }
</script>