<h1 class="page-title txt-color-blueDark">
  <i class="fa fa-book"></i>
  Características para DNC
  <span>> Lista de características </span>
</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-striped table-hover table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Característica</th>
            <th><%= link_to 'Habilitar nueva característica', new_dnc_characteristic_path %></th>
          </tr>
          </thead>
          <tbody>

          <% @dnc_characteristics.each_with_index do |dnc_characteristic, index| %>
            <tr>
              <td><%= index +1 %></td>
              <td><%= dnc_characteristic.name %></td>
              <!--
              <td><%= link_to 'Show', dnc_characteristic %></td>
              <td><%= link_to 'Edit', edit_dnc_characteristic_path(dnc_characteristic) %></td>
              -->
              <td>

                  <%= link_to 'Deshabilitar', dnc_characteristic, method: :delete, data: { confirm: '¿Está seguro de deshabilitar las característica?' } %>

              </td>
            </tr>
          <% end %>
          </tbody>

        </table>

      </div>
    </div>

  </div>
</div>

