<% editable = defined?(editable) ? editable : nil %>
<% managing = defined?(managing) ? managing : nil %>
<% direct_delete = defined?(direct_delete) ? direct_delete : nil %>
<% include_deactivated = defined?(include_deactivated) ? include_deactivated : nil %>
<% manager = defined?(manager) ? manager : nil %>
<% manager_up = manager if manager %>

<% if direct_delete %>
  <div class="row options_to_select" style="display:none;">
    <div class="col-md-12 col-md-offset-0" align="right">
      <%= link_to t('views.brg_module.flow_process.new_manager'), brg_managers_new_step_0_path(process) %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to 'Seleccionar todo', '#', onclick: 'select_all(this)' %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to 'Deseleccionar todo', '#', onclick: 'select_none(this)' %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to 'Eliminar responsables seleccionados', '#', onclick: 'delete_selected()', id: 'delete_btn', class: 'btn btn-danger disabled delete_btn' %>
    </div>
  </div>
  <br>
<% end %>

<table id="datatable_brg_managers" class="table table-bordered table-striped smart-form table-hover" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <% if direct_delete %>
      <th></th>
    <% end %>
    <th><%= 'Grupos/Responsables a validar' %></th>
    <th><%= alias_username + ' de responsable validador' %></th>
    <th><%= t('activerecord.attributes.brg_manager.user_lastname') + ' de responsable validador' %></th>
    <th><%= t('activerecord.attributes.brg_manager.user_name') + ' de responsable validador' %></th>
    <% if editable %>
      <th>
        <% unless managing || direct_delete %>
          <%= link_to t('views.brg_module.flow_process.massive_upload_manager'), brg_managers_managers_massive_upload_path(process) %>
          <hr>
          <strong>Asignación de responsables a:</strong>
          <%= link_to 'grupos', brg_managers_assoc_group_massive_upload_path(process) %>
          <strong>o</strong>
          <%= link_to 'personas', brg_managers_assoc_managee_massive_upload_path(process) %>
        <% end %>
      </th>
    <% end %>
  </tr>

  <tr class="second">
    <% if direct_delete %>
      <td><label class="input hidden"><input type="text" name="search_checkbox" value="" class="search_init"></label></td>
    <% end %>
    <td><label class="input hidden"><input type="text" name="search_num" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_cod" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_lastname" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_user_name" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_managees" value="" class="search_init"></label></td>
    <% if editable %>
  <td></td>
      <% end %>
  </tr>
  </thead>
  <% manager_up = manager if manager %>
  <% managers.each_with_index do |manager, index| %>
    <% if direct_delete %>
      <tr id="<%= manager.id %>_tr_message_container" style="display:none;">
        <td id="<%= manager.id %>_td_message_container" class="td_div_message" colspan="8">
          <div class="alert alert-success div-message"><%= t('views.brg_module.flash_messages.delete_success') %></div>
        </td>
      </tr>
    <% end %>

    <tr id="<%=manager.id%>_tr_container">
      <% if direct_delete %>
        <td>
          <input class="form-check-input position-static manager_checkbox" type="checkbox" value="<%= manager.id %>" data-url="<%= brg_managers_deactivate_manager_ajax_path(manager) %>" aria-label="...">
        </td>
      <% end %>
      <td><%= index + 1 %></td>
      <td>
        <% managees = include_deactivated ? manager.brg_manage_relations : manager.active_relations %>
        <% if managees.size > 0 %>
          <table class="table borderless" style="font-size: 11px;" width="100%">
            <tbody>
            <% managees.each do |assoc| %>
              <tr>
                <td title="<% t('activerecord.attributes.brg_group.registered_by_user_id')+': '+assoc.full_registered_by_user(true)+'('+(localize  assoc.registered_at, format: :day_snmonth_year)+')'%>">
                  <% if defined?(include_deactivated) && include_deactivated %>
                    <div class="col-md-8"><%= assoc.full_managee(true) %></div>
                    <div class="col-md-4"><%= label_message_datable(assoc.active, assoc.active_text) %></div>
                  <% else %>
                    <%= assoc.full_managee(true) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
      </td>
      <td><%= manager.user.codigo %></td>
      <td><%= manager.user.apellidos %></td>
      <td><%= manager.user.nombre %></td>
      <% if editable %>
        <td>
          <% if managing %>
            <%= link_to t('views.brg_module.flow_process.delete_assoc'), brg_managers_deactivate_relation_path(BrgManageRelation.relation_of(manager_up.id, manager.id, nil), t('views.brg_module.tabs.manage_manager.managee')), class: 'btn btn-danger btn-xs', data: {confirm: t('views.brg_module.confirmation_messages.delete_asign')}, method: :post %>
        <% else %>
            <% if  direct_delete %>
              <%= link_to t('views.brg_module.flow_process.delete_manager'), '#', onclick: 'delete_manager(this)', class: 'btn btn-danger btn-xs', data: {manager_id: manager.id, url: brg_managers_deactivate_manager_ajax_path(manager)} %>
            <% else %>
              <% if manager.editable? %>
                <%= link_to t('views.bp_groups.flow_process.manage'), brg_managers_manage_path(manager, 0) %>
              <% end %>
            <% end %>
          <% end %>
        </td>
      <% end %>

    </tr>
  <% end %>
</table>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_brg_managers'} %>

<% if direct_delete %>
  <script>
      function verify_checkboxes_selected() {
          if ($(":checkbox:checked.manager_checkbox").size() > 0) {
              $(".delete_btn").removeClass('disabled')
          } else {
              $(".delete_btn").addClass('disabled')
          }
      }

      function verify_exists_checkboxes() {
          if ($(".manager_checkbox").size() > 0) {
              $(".options_to_select").show();
          } else {
              $(".options_to_select").hide();
          }
      }

      function verify_checkboxes() {
          verify_checkboxes_selected()
          verify_exists_checkboxes()
      }

      $('.manager_checkbox').on('change', function (e) {
          verify_checkboxes()
      })

      function select_all() {
          $(":checkbox.manager_checkbox").prop('checked', true);
          verify_checkboxes()
      }

      function select_none() {
          $(":checkbox.manager_checkbox").prop('checked', false);
          verify_checkboxes()
      }

      function delete_selected() {
          if (confirm("<%= t('views.brg_module.confirmation_messages.delete_manager')%>")) {
              $(":checkbox:checked.manager_checkbox").each(function () {
                  manager_id = $(this).attr('value');
                  url = $(this).data('url');
                  delete_manager_ajax(manager_id, url)
              });
          }
      }

      function delete_manager(link) {
          if (confirm("<%= t('views.brg_module.confirmation_messages.delete_manager')%>")) {
              delete_manager_ajax($(link).data('manager-id'), $(link).data('url'))
          }
      }

      function delete_manager_ajax(manager_id, url) {
          tr_user_to_register = '#' + manager_id + '_tr_container';
          tr_message_container = '#' + manager_id + '_tr_message_container';
          $.ajax({
              url: url,
              type: "post",
              dataType: "html",
              success: function () {
                  $('#' + manager_id + '_tr_container').toggle(900).remove();
                  $('#' + manager_id + '_tr_message_container').toggle(900).delay(2000).toggle(500);
                  verify_checkboxes()
              }
          })
      }
      verify_checkboxes()
  </script>
<% end %>