<% direct_delete = defined?(direct_delete) ? direct_delete : nil %>

<% if direct_delete %>
  <div class="row options_to_select" style="display:none;">
    <div class="col-md-12 col-md-offset-0" align="right">
      <%= link_to 'Seleccionar todo', '#', onclick: 'select_all(this)' %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to 'Deseleccionar todo', '#', onclick: 'select_none(this)' %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to 'Eliminar asociación', '#', onclick: 'delete_selected()', id: 'delete_btn', class: 'btn btn-danger disabled delete_btn' %>
    </div>
  </div>
  <br>
<% end %>

<table id="datatable_brg_manage_relations" class="table table-bordered table-striped smart-form " style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <% if direct_delete %>
      <th></th>
    <% end %>
    <th>#</th>
    <th><%= t('activerecord.attributes.brg_group.group_cod') +' de grupo' %></th>
    <th><%= t('activerecord.attributes.brg_group.name') + ' de grupo' %></th>
    <th><%= t('activerecord.attributes.brg_group.description') +' de grupo' %></th>
    <th><%= alias_username + 'de responsable validador' %></th>
    <th><%= t('activerecord.attributes.brg_manager.user_lastname') + 'de responsable validador' %></th>
    <th><%= t('activerecord.attributes.brg_manager.user_name') + 'de responsable validador' %></th>

    <% if direct_delete %>
      <th></th>
    <% end %>
  </tr>

  <tr class="second">
    <% if direct_delete %>
      <td><label class="input hidden"><input type="text" name="search_checkbox" value="" class="search_init"></label></td>
    <% end %>
    <td><label class="input hidden"><input type="text" name="search_num" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_cod" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_lastname" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_user_name" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_group_cod" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_group_name" value="" class="search_init"></label></td>
    <td><label class="input"><input type="text" name="search_group_description" value="" class="search_init"></label></td>
    <% if direct_delete %>
      <td></td>
    <% end %>
  </tr>
  </thead>

  <% relations.each_with_index do |rel, index| %>
    <% if direct_delete %>
      <tr id="<%= rel.id %>_tr_message_container" style="display:none;">
        <td id="<%= rel.id %>_td_message_container" class="td_div_message" colspan="8">
          <div class="alert alert-success div-message"><%= t('views.brg_module.flash_messages.delete_success') %></div>
        </td>
      </tr>
    <% end %>

    <tr id="<%=rel.id%>_tr_container">
      <% if direct_delete %>
        <td>
          <input class="form-check-input position-static relation_checkbox" type="checkbox" value="<%= rel.id %>" data-url="<%= brg_managers_deactivate_relation_ajax_path(rel) %>" aria-label="...">
        </td>
      <% end %>
      <td><%= index + 1 %></td>
      <td><%= rel.group_to_manage.group_cod %></td>
      <td><%= rel.group_to_manage.name %></td>
      <td><%= rel.group_to_manage.description %></td>
      <td><%= rel.manager.user.codigo %></td>
      <td><%= rel.manager.user.apellidos %></td>
      <td><%= rel.manager.user.nombre %></td>
      <% if direct_delete %>
        <td>
          <%= link_to t('views.brg_module.flow_process.delete_assoc'), '#', onclick: 'delete_relation(this)', class: 'btn btn-danger btn-xs', data: {relation_id: rel.id, url: brg_managers_deactivate_relation_ajax_path(rel)} %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_brg_manage_relations'} %>

<% if direct_delete %>
  <script>
      function verify_checkboxes_selected() {
          if ($(":checkbox:checked.relation_checkbox").size() > 0) {
              $(".delete_btn").removeClass('disabled')
          } else {
              $(".delete_btn").addClass('disabled')
          }
      }

      function verify_exists_checkboxes() {
          if ($(".relation_checkbox").size() > 0) {
              $(".options_to_select").show();
          } else {
              $(".options_to_select").hide();
          }
      }

      function verify_checkboxes() {
          verify_checkboxes_selected()
          verify_exists_checkboxes()
      }

      $('.relation_checkbox').on('change', function (e) {
          verify_checkboxes()
      })

      function select_all() {
          $(":checkbox.relation_checkbox").prop('checked', true);
          verify_checkboxes()
      }

      function select_none() {
          $(":checkbox.relation_checkbox").prop('checked', false);
          verify_checkboxes()
      }

      function delete_selected() {
          if (confirm("<%= t('views.brg_module.confirmation_messages.delete_manager')%>")) {
              $(":checkbox:checked.relation_checkbox").each(function () {
                  relation_id = $(this).attr('value');
                  url = $(this).data('url');
                  delete_relation_ajax(relation_id, url)
              });
          }
      }

      function delete_relation(link) {
          if (confirm("<%= t('views.brg_module.confirmation_messages.delete_manager')%>")) {
              delete_relation_ajax($(link).data('relation-id'), $(link).data('url'))
          }
      }

      function delete_relation_ajax(relation_id, url) {
          tr_user_to_register = '#' + relation_id + '_tr_container';
          tr_message_container = '#' + relation_id + '_tr_message_container';
          $.ajax({
              url: url,
              type: "post",
              dataType: "html",
              success: function () {
                  $('#' + relation_id + '_tr_container').toggle(900).remove();
                  $('#' + relation_id + '_tr_message_container').toggle(900).delay(2000).toggle(500);
                  verify_checkboxes()
              }
          })
      }

      verify_checkboxes()
  </script>
<% end %>