<div class="panel panel-default">
  <div class="panel-body">

    <legend> <%= t('views.brg_module.legends.manager_info') %> </legend>
    <% if defined?(editable) && editable %>
      <div class="row">
        <div class="col-md-12 col-md-offset-0" align="right">
          <%= link_to t('views.brg_module.flow_process.assoc_manager'), brg_managers_assoc_manager_path(manager) %>
          &nbsp;&nbsp;&nbsp;
          <%= link_to t('views.brg_module.flow_process.assoc_group'), brg_managers_assoc_group_path(manager) %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-3" align="right"><strong><%= alias_username %></strong></div>
      <div class="col-md-9"> <%= manager.user.codigo %></div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-3" align="right"><strong><%= t('views.brg_module.user.lastname') %></strong></div>
      <div class="col-md-9"> <%= manager.user.apellidos %></div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-3" align="right"><strong><%= t('views.brg_module.user.name')%></strong></div>
      <div class="col-md-9"> <%= manager.user.nombre %></div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-3" align="right"><strong><%= t('activerecord.attributes.brg_manager.description')%></strong></div>
      <div class="col-md-9"> <%= manager.description %></div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-3" align="right"><strong><%= t('activerecord.attributes.brg_manager.active')%></strong></div>
      <div class="col-md-9"> <%= label_yes_not(manager.active) %></div>
    </div>

    <br>
  </div>

  <% if defined?(editable) and editable and manager.editable? %>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= link_to t('views.brg_module.flow_process.delete'), brg_managers_deactivate_manager_path(manager),
                    class: 'btn btn-danger btn-xs',
                    data: { confirm: t('views.brg_module.confirmation_messages.delete_manager')},
                    method: :post %>
        &nbsp;&nbsp;&nbsp;
        <%= link_to t('views.brg_module.flow_process.edit'), brg_managers_edit_path(manager) %>
      </div>
    </div>
  <% end %>
</div>