<%= render partial: 'shared/module_header_navigation',
           locals: { icon: t('views.brg_module.icon'),
                     go_back_col: 3,
                     go_back_link: brg_groups_index_path(t('views.brg_module.tabs.manager_index.managers')),
                     go_back_text: t('views.brg_module.backlist.manage_manager'),
                     legends: [@manager.brg_process.alias, t('views.brg_module.flow_process.manage_manager'), t('views.brg_module.flow_process.assoc_group')]} %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'manager_show',
               locals: { manager: @manager } %>
</div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">

        <%= render 'shared/error_messages', object: @relation if defined?(@relation) %>

        <%= render partial: 'brg_groups/group_datatable',
                   locals: {groups: BrgGroup.active,
                            assign_mode: true,
                            editable: true,
                            manager: @manager} %>
      </div>
    </div>
  </div>
</div>