<%= render partial: 'shared/module_header_navigation',
           locals: { icon: t('views.brg_module.icon'),
                     go_back_col: 3,
                     go_back_link: brg_processes_manage_path(@process),
                     go_back_text: t('views.brg_module.backlist.manage_process'),
                     legends: [@process.alias, @process.name, t('views.brg_module.flow_process.massive_upload_managee_manager')]} %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for User.new, url: brg_managers_assoc_managee_massive_upload_2_path(@process), html: {class: 'form-horizontal', multipart: true, method: :post} do |f| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <legend> <%= t('views.ben_cellphone_number.shared.massive_update_form') %> </legend>

          <div class="form-group">
            <div class="col-md-3" align="right">
              <strong> <%= t('views.ben_cellphone_number.forms.pick_excel') %></strong></div>
            <div class="col-md-9"> <%= file_field 'upload', 'datafile', class: 'form-control' %>
            </div>

            <div class="col-md-9 col-md-offset-3">
              <em><%= t('views.brg_module.explanation.manager_relations_managee') %></em>
            </div>

          </div>
          <legend> <%= t('views.ben_cellphone_number.excel.download_format_legend') %> </legend>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped table-bordered " style="font-size: 11px;" width="100%">
                <thead>
                <tr>
                  <th><%= alias_username + ' de responsable a validar'%></th>
                  <th><%= alias_username + ' de responsable validador' %></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td> 12361621K </td>
                  <td> 99855642H </td>
                </tr>
                <tr>
                  <td> Debe pertenecer a un <strong>usuario registrado como responsable</strong>, activo y registrado en la plataforma</td>
                  <td> Debe pertenecer a un <strong>usuario registrado como responsable</strong>, activo y registrado en la plataforma</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Subir', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>

<% if defined?(@excel_errors) && @excel_errors.length > 0 %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1"><div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-striped table-hover table-condensed table-bordered">
            <thead>
            <tr>
              <th>Línea</th>
              <th>Error</th>
              <th><%= alias_username + ' de responsable a validar'%></th>
              <th><%= alias_username + ' de responsable validador' %></th>
            </tr>
            </thead>

            <tbody>
            <% @excel_errors.each_with_index do |error| %>
              <tr>
                <td><%= error[0].to_s %></td>
                <td>
                  <li class="text-danger"><%= error[1].to_s %></li>
                </td>
                <td><%= error[2].to_s %></td>
                <td><%= error[3].to_s %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div></div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend><%= t('views.brg_module.legends.group_user_list') %></legend>
        <%= render partial: 'manage_managees_relation_datatable',
                   locals: {relations: BrgManageRelation.active.only_with_managees.by_process(@process),
                            direct_delete: true} %>
      </div>
    </div>
  </div>
</div>