<%= render partial: 'shared/module_header_navigation',
           locals: { icon: t('views.brg_module.icon'),
                     go_back_col: 3,
                     go_back_link: brg_managers_new_step_0_path(@manager.brg_process_id),
                     go_back_text: t('views.brg_module.backlist.search_user'),
                     legends: [@manager.brg_process.alias, t('views.brg_module.flow_process.new_manager')]} %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'manager_form',
               :locals => { manager: @manager } %>
  </div>
</div>