<%= render partial: 'shared/module_header_navigation',
           locals: { icon: t('views.brg_module.icon'),
                     go_back_col: 3,
                     go_back_link: brg_processes_manage_path(@process),
                     go_back_text: t('views.brg_module.backlist.manage_process'),
                     legends: [@process.alias, @process.name, t('views.brg_module.flow_process.new_manager'), t('views.brg_module.flow_process.search_people')]} %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url: brg_managers_new_step_0_path(@process), method: :post do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Buscador</legend>


          <div class="row">
            <div class="col-md-12">

              <div class="row">
                <div class="col-md-4">
                  <label>&nbsp;&nbsp;<%= alias_username %></label>
                </div>
                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Apellidos</label>
                </div>
                <div class="col-md-4">
                  <label>&nbsp;&nbsp;Nombre</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4"><%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %></div>
                <div class="col-md-4"><%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %></div>
                <div class="col-md-4"><%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %></div>
              </div>
            </div>
          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Buscar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Resultados de la búsqueda</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>
          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th><%=t('views.ben_cellphone_number.shared.lastname') %></th>
            <th><%=t('views.ben_cellphone_number.shared.name') %></th>
            <th></th>
          </tr>
          </thead>

          <tbody>

          <% @users.each_with_index do |user, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= user.codigo %></td>
              <td><%= user.apellidos%></td>
              <td><%= user.nombre %></td>
              <td> <%= link_to t('views.brg_module.flow_process.pick'), brg_managers_new_path(user.id, @process), method: :post %> </td>
            </tr>
          <% end %>

          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>