<div class="panel panel-default">
  <div class="panel-body">

    <legend> <%= t('views.bp_events.legends.event_info') %> </legend>

    <div class="row">
      <div class="col-md-4" align="right"><strong><%= t('activerecord.attributes.bp_event.name') %></strong></div>
      <div class="col-md-8"><%= event.name %></div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-4" align="right"><strong><%= t('activerecord.attributes.bp_event.event_date_name') %></strong></div>
      <div class="col-md-8"><%= event.event_date_name %></div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-4" align="right"><strong><%= t('activerecord.attributes.bp_event.description') %></strong></div>
      <div class="col-md-8"><%= event.description %></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4" align="right"><strong><%= t('activerecord.attributes.bp_event.active') %></strong></div>
      <div class="col-md-8"><%= label_yes_not(event.active?(lms_time)) %></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4" align="right"><strong><%= t('activerecord.attributes.bp_event.since') %></strong></div>
      <div class="col-md-8"><%= (localize event.since, format: :day_snmonth_year).to_s+' '+event.since.strftime('%H:%M') if event.since %></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4" align="right"><strong><%= t('activerecord.attributes.bp_event.until') %></strong></div>
      <div class="col-md-8"><%= (localize event.until, format: :day_snmonth_year).to_s+' '+event.until.strftime('%H:%M') if event.until %></div>
    </div>
  </div>

    <% if defined?(editable) && editable %>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to t('views.bp_events.flow_process.edit'), bp_admin_event_edit_path(event) %>
        </div>
      </div>
    <% end %>
</div>