<%= form_for event, url: bp_admin_event_update_path(event) , html: {class: 'form-horizontal', id: 'new_bp_event_form'}, method: :post do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <legend> <%= t('views.bp_events.legends.event_info') %> </legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :name %>">
        <%= f.label :name, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, class: 'form-control'%>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :event_date_name %>">
        <%= f.label :event_date_name, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :event_date_name, class: 'form-control'%>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :description, rows: '3', class: 'form-control' %>
        </div>
      </div>

      <% until_form = event.until %>

      <legend> <%= t('views.bp_events.legends.validity_period') %> </legend>

      <% if BpEvent.find(event.id).until %>
        <div class="row">
          <div class="col-md-3" align="right"><strong><%= t('activerecord.attributes.bp_event.active') %></strong></div>
          <div class="col-md-9"><%= label_yes_not(event.active?(lms_time)) %></div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3" align="right"><strong><%= t('activerecord.attributes.bp_event.since') %></strong></div>
          <div class="col-md-9"><%= (localize event.since, format: :day_snmonth_year).to_s + ' ' + event.since.strftime('%H:%M') if event.since %> <br> <em><%= t('views.bp_events.explanation.since')%></em></div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3" align="right"><strong><%= t('activerecord.attributes.bp_event.until') %></strong></div>
          <div class="col-md-9"><%= (localize event.until, format: :day_snmonth_year).to_s + ' ' + event.until.strftime('%H:%M') %><br> <em><%= t('views.bp_events.explanation.until')%></em></div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-md-3" align="right"><%= t('activerecord.attributes.bp_event.active') %></div>
          <div class="col-md-9"><%= label_yes_not(event.active?(lms_time)) %></div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3" align="right"><%= t('activerecord.attributes.bp_event.since') %></div>
          <div class="col-md-9"><%= (localize event.since, format: :day_snmonth_year).to_s + ' ' + event.since.strftime('%H:%M') if event.since %> <br><em> <%= t('views.bp_events.explanation.since')%></em></div>
        </div>
        <br>
        <div class="form-group <%= field_with_errors f, :until %>">
          <%= f.label :until, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <div class="input-group date">
              <%= f.text_field :until, class: 'form-control datetime', :data => {:format => '%d/%m/%Y %H:%M'}, :value => until_form ? until_form.strftime('%d/%m/%Y %H:%M') : '', :readonly => true %>
              <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            </div>
            <em><%= t('views.bp_events.explanation.until')%></em>
          </div>
        </div>
      <% end %>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit t('views.bp_events.flow_process.save'), class: 'btn btn-primary' %>
      </div>
    </div>

  </div>
<% end %>

<script>
    $('.datetime').datetimepicker({
        language: 'es',
        pickTime: true,
        pickDate: true
    });
</script>