<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.bp_events.backlist.event_manage')).html_safe, bp_admin_event_manage_path(@bp_event), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_events.legends.event_manage') %>
      <span>> <%= t('views.bp_events.flow_process.edit') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'bp_event_edit_form',
               :locals => {:event => @bp_event} %>
  </div>
</div>