<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.bp_events_files.backlist.event_files_list')).html_safe, bp_admin_event_manage_path(@bp_event), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_events.legends.event_manage') %>
      <span>> <%= t('views.bp_events_files.legends.event_files') %> </span>
      <span>> <%= t('views.bp_events_files.flow_process.new') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div id="group_show_container" class="col-md-6 col-md-offset-3">
    <%= render partial: 'bp_event_show',
               locals: {:event => @bp_event,
                        :editable => false} %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'bp_event_file_new_form',
               :locals => {:event => @bp_event,
                           :event_file => @bp_event_file} %>
  </div>
</div>