<div class="row">

  <div class="col-md-3">
    <% if @pe_cal_session.pe_evaluation %>
      <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de procesos'.html_safe, pe_cal_sessions_list_e_path(@pe_cal_session.pe_evaluation), class:'btn btn-default' %>
    <% else %>
      <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de procesos'.html_safe, pe_cal_sessions_list_path(@pe_process), class:'btn btn-default' %>
    <% end %>


  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Editar sesión de calibración
    </h1>
  </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'form' %>

  </div>
</div>

