<%= form_for @course, html: {class: 'form-horizontal', role: 'form'} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos del curso</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :codigo %>">

        <%= f.label :codigo, 'Código', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :codigo, autofocus: 'autofocus', class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :nombre %>">

        <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :nombre, class: 'form-control' %>

        </div>

      </div>

      <% if TrainingType.all.size > 0 %>

      <div class="form-group <%= field_with_errors f, :training_type_id %>">

        <%= f.label :training_type_id, 'Tipo de capacitación', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <% training_types_array = TrainingType.all.map do |tt| %>
            <% [tt.nombre+' - '+(tt.active ? 'activo' : 'inactivo'), tt.id.to_s] %>
          <% end %>

          <%= f.select(:training_type_id, options_for_select(training_types_array, @course.training_type_id), {include_blank: '-- No pertenece a ningún tipo --'}, {class: 'form-control'}) %>



        </div>

      </div>

      <% end %>



      <div class="form-group <%= field_with_errors f, :nombre_corto %>">

        <%= f.label :nombre_corto, 'Nombre corto', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :nombre_corto, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :descripcion, 'Descripción', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.text_area :descripcion, rows: '5', class: 'form-control' %>

          <script type="text/javascript">
            $('#course_descripcion').wysihtml5({
              "font-styles": false,
              "emphasis": true,
              "lists": true,
              "html": true,
              "link": false,
              "image": false,
              "color": false
            });
          </script>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :objetivos, 'Objetivos', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.text_area :objetivos, rows: '5', class: 'span11', class: 'form-control' %>

          <script type="text/javascript">
            $('#course_objetivos').wysihtml5({
              "font-styles": false,
              "emphasis": true,
              "lists": true,
              "html": true,
              "link": false,
              "image": false,
              "color": false
            });
          </script>

        </div>

      </div>

      <hr>

      <div class="form-group <%= field_with_errors f, :nota_minima %>">

        <%= f.label :nota_minima, 'Nota mínima', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.number_field :nota_minima, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :calculate_percentage %>">

        <%= f.label :calculate_percentage, 'Calcula nota en porcentaje', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :calculate_percentage, class: 'form-control' %>

          <script>

              $('#course_calculate_percentage').bootstrapSwitch({
                onColor: 'success',
                onText: "Sí",
                offColor: 'danger',
                offText: "No",
                size: "small"
              });

          </script>

          <br>
          <br>
          <em>
            <span class="label label-success">Sí</span> Para el cálculo se asumirá la suma de puntos de las preguntas de una evaluación como el 100% de los puntos, y se valorará
            al alumno con un porcentaje de 0 a 100 basándose en los puntos obtenidos en la evaluación.
            <br>
            Si existe nota mínima, este porcentaje obtenido será comparado con la nota mínima para saber si el alumno aprobó.
          </em>

          <br>
          <br>
          <em>
            <span class="label label-danger">No</span> Para el cálculo se sumarán los puntos obtenidos en una evaluación, y ese será el resultado obtenido por el alumno.
            <br>
            Si existe nota mínima, estos puntos obtenidos serán comparados con la nota mínima para saber si el alumno aprobó.
          </em>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :muestra_porcentajes %>">

        <%= f.label :muestra_porcentajes, 'Muestra resultados en porcentaje o puntos', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :muestra_porcentajes, class: 'form-control' %>

          <script>

            $('#course_muestra_porcentajes').bootstrapSwitch({
              onColor: 'warning',
              onText: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",
              offColor: 'primary',
              offText: "Puntos",
              size: "small"
            });

          </script>

          <br>
          <em>Solo es para cuestiones de presentación (no afecta los cálculos), dirá punto o puntos en un caso, y % en otro</em>

        </div>

      </div>



      <div class="form-group <%= field_with_errors f, :numero_oportunidades %>">

        <%= f.label :numero_oportunidades, 'Oportunidades', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.number_field :numero_oportunidades, class: 'form-control' %>

        </div>

      </div>

      <hr>

      <div class="form-group <%= field_with_errors f, :duracion %>">

        <%= f.label :duracion, 'Duración (Se usa para calcular la fecha de término del curso)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :duracion, class: 'form-control' %>
          días<br>
          <i>0 significa que no tiene límite</i>
        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :dedicacion_estimada %>">

        <%= f.label :dedicacion_estimada, 'Dedicación estimada (Sólo informativa)', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :dedicacion_estimada, class: 'form-control' %>
          hora(s)
        </div>

      </div>
      <hr>
      <div class="form-group <%= field_with_errors f, :unit_alias %>">

        <%= f.label :unit_alias, 'Alias de unidad', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :unit_alias, class: 'form-control' %>
          <br>
          <em>Todo en minúsculas</em>
        </div>

      </div>

      <hr>

      <div class="form-group <%= field_with_errors f, :finish_msg_success %>">

        <%= f.label :finish_msg_success, 'Mensaje de finalización: Aprobado', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_area :finish_msg_success, class: 'form-control', rows: '3' %>
          <br>
          <em>

            Si deja en blanco el campo, se utilizará el mensaje por defecto: <br><br>

            Felicitaciones, usted ha concluido el curso con éxito.

          </em>
        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :finish_msg_failure %>">

        <%= f.label :finish_msg_failure, 'Mensaje de finalización: Reprobrado', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_area :finish_msg_failure, class: 'form-control', rows: '3' %>
          <br>
          <em>

            Si deja en blanco el campo, se utilizará el mensaje por defecto: <br><br>

            Usted ha terminado y reprobado el curso.

          </em>
        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :finish_msg_failure_oportunity %>">

        <%= f.label :finish_msg_failure_oportunity, 'Mensaje de finalización: Reprobado - Tiene oportunidades', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_area :finish_msg_failure_oportunity, class: 'form-control', rows: '3' %>
          <br>
          <em>

            Si deja en blanco el campo, se utilizará el mensaje por defecto: <br><br>

            Usted ha terminado y reprobado el curso. Usted tiene otra oportunidad para aprobar el curso para lo cual debe salir de esta ventana e ingresar al curso nuevamente a través del botón Reiniciar curso.

          </em>
        </div>

      </div>

      <hr>
      <div class="form-group">

        <%= f.label :asistencia_presencial, 'Asistencia presencial', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.check_box :asistencia_presencial %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :eval_presencial, 'Evaluación presencial', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.check_box :eval_presencial %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :poll_presencial, 'Encuesta de satisfacción', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.check_box :poll_presencial %>

        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :clonable, 'Clonable', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= f.check_box :clonable %>

        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :managed_by_manager, 'Administrable por el gestor LMS', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :managed_by_manager, class: 'form-control' %>

        </div>

      </div>

      <% if @company.modulo_sence %>

        <hr>

        <div class="form-group <%= field_with_errors f, :sence_code %>">

          <%= f.label :sence_code, 'Código Sence', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.text_field :sence_code, class: 'form-control' %>

          </div>

        </div>

        <div class="form-group <%= field_with_errors f, :sence_hours %>">

          <%= f.label :sence_hours, 'Número de horas', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.number_field :sence_hours, class: 'form-control' %>

          </div>

        </div>

        <div class="form-group <%= field_with_errors f, :sence_student_value %>">

          <%= f.label :sence_student_value, 'Valor por participante', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.number_field :sence_student_value, class: 'form-control' %>

          </div>

        </div>


      <% end %>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
