<div class="row">
  <div class="col-md-3">

    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el curso'.html_safe, @course, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      <%= @course.nombre %>
      <span>> Modificar secuencia de la unidad </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @unit, url: course_update_unit_sequence_path, method: :post, html: {class: 'form-horizontal'} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Datos de la unidad</legend>

          <%= hidden_field :course, :id %>

          <%= f.hidden_field :id %>

          <div class="row">

            <div class="col-md-3 text-right">
              Número
            </div>

            <div class="col-md-9">
              <%= @unit.numero %>
            </div>

          </div>
          <br>
          <div class="row">

            <div class="col-md-3 text-right">
              Nombre
            </div>

            <div class="col-md-9">
              <%= @unit.nombre %>
            </div>

          </div>
          <br>
          <div class="row">

            <div class="col-md-3 text-right">
              Descripción
            </div>

            <div class="col-md-9">
              <%= @unit.descripcion %>
            </div>

          </div>
          <br>

          <div class="form-group">

            <%= f.label :despues, 'Después de', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <% despues_array = @course.units_without(@unit).map do |unit| %>
                <% ["Unidad "+unit.numero.to_s+" - "+unit.nombre, "u-"+unit.id.to_s] %>
              <% end %>

              <% despues_array += @course.evaluations.map do |evaluation| %>
                <% ["Evaluacion "+evaluation.numero.to_s+" - "+evaluation.nombre, "e-"+evaluation.id.to_s] %>
              <% end %>

              <% despues_array += @course.polls.map do |poll| %>
                <% ["Encuesta "+poll.numero.to_s+" - "+poll.nombre, "p-"+poll.id.to_s] %>
              <% end %>

              <% unless @unit.libre %>

                <% despues_id = "u-"+@unit.despues_de_unit_id.to_s if @unit.despues_de_unit_id %>
                <% despues_id = "e-"+@unit.despues_de_evaluation_id.to_s if @unit.despues_de_evaluation_id %>
                <% despues_id = "p-"+@unit.despues_de_poll_id.to_s if @unit.despues_de_poll_id %>

              <% end %>

              <%= select("despues_de", "id", options_for_select(despues_array, despues_id),
                  {:include_blank => 'Ninguna'},{class: 'form-control'})
              %>

            </div>

          </div>
          <div class="form-group">

            <div class="col-md-9 col-md-offset-3">
              <span class="label label-warning">Unidad <%= @unit.numero %></span>
            </div>
          </div>

          <div class="form-group">

            <%= f.label :antes, 'Antes de', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <% antes_array = @course.units_without(@unit).map do |unit| %>
                <% ["Unidad "+unit.numero.to_s+" - "+unit.nombre, "u-"+unit.id.to_s] %>
              <% end %>

              <% antes_array += @course.evaluations.map do |evaluation| %>
                <% ["Evaluacion "+evaluation.numero.to_s+" - "+evaluation.nombre, "e-"+evaluation.id.to_s] %>
              <% end %>

              <% antes_array += @course.polls.map do |poll| %>
                <% ["Encuesta "+poll.numero.to_s+" - "+poll.nombre, "p-"+poll.id.to_s] %>
              <% end %>

              <% unless @unit.libre %>

                <% antes_id = "u-"+@unit.antes_de_unit_id.to_s if @unit.antes_de_unit_id %>
                <% antes_id = "e-"+@unit.antes_de_evaluation_id.to_s if @unit.antes_de_evaluation_id %>
                <% antes_id = "p-"+@unit.antes_de_poll_id.to_s if @unit.antes_de_poll_id %>

              <% end %>

              <%= select("antes_de", "id", options_for_select(antes_array, antes_id),
                  {:include_blank => 'Ninguna'},{class: 'form-control'})
              %>

            </div>

          </div>
        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>



	</div>
</div>