
<div class="row">

  <div class="col-md-2">

    <table class="table table-hover">

      <tbody>

      <% @elements.each_with_index do |element, index| %>

        <%
           ei = @elements_ids[index].split('-')
           tipo = ei[0]
           id =  ei[1]

           el = nil

           el = @course.units.find(id) if tipo=='u'
           el = @course.evaluations.find(id) if tipo=='e'
           el = @course.polls.find(id) if tipo=='p'

        %>

        <tr class="<%= 'elemento_course_selected-'+$current_domain if @unit && @unit.id == el.id && tipo == 'u' %>">

          <td>

            <% if tipo=='u' %>
              <i class="fa fa-check-square-o-empty" style="color: lightgray"></i>
            <% else %>
              <i class="fa fa-check-square-o-empty" style="color: lightgray"></i>
            <% end %>

          </td>

          <td>

            <div>
              <% if tipo=='u' %>
                <span class="label label-warning" style="width: 60px;"><%= @course.unit_alias.capitalize %> <%= el.numero %></span>
                <br>
                <% if @unit && @unit.id == el.id %>
                  <strong><%= el.nombre %></strong>
                <% else %>
                  <%= el.nombre %>
                <% end %>
              <% end %>

              <% if tipo=='e' %>
                <span class="label label-danger" style="width: 60px;">Evaluación</span>
                <br>
                <%= el.nombre %>
              <% end %>

              <% if tipo=='p' %>
                <span class="label label-primary" style="width: 60px;">Encuesta</span>
                <br>
                <%= el.nombre %>
              <% end %>

            </div>
          </td>
          <td>
            <div  class="text-right">

              <% if tipo=='u' %>



                  <% if @unit && @unit.id == el.id %>

                    <i id="ingresar_unit_<%=el.id%>" class="fa fa-eye" style="color: #3A87AD;" data-toggle="tooltip" title="Está viendo esta unidad"></i>

                    <script>
                      $('#ingresar_unit_<%=el.id%>').tooltip({
                        placement: 'right'
                      });
                    </script>

                  <% else %>

                    <a href='<%=course_unit_preview_path(@course,el)%>'>
                      <i id="ingresar_unit_<%=el.id%>" class="fa fa-caret-square-o-right" style="color: green;" data-toggle="tooltip" title="Ingresar a la unidad"></i>
                      <!--[if lt IE 9]>
                        <i id="ingresar_unitie8_<%=el.id%>" class="fa fa-play" style="color: green;" data-toggle="tooltip" title="Ingresar a la unidad"></i>
                        <script>
                          $('#ingresar_unitie8_<%=el.id%>').tooltip({
                            placement: 'right'
                          });
                        </script>
                      <![endif]-->

                      <!--[if IE 9]>
                        <i id="ingresar_unitie9_<%=el.id%>" class="fa fa-play" style="color: green;" data-toggle="tooltip" title="Ingresar a la unidad"></i>
                        <script>
                          $('#ingresar_unitie9_<%=el.id%>').tooltip({
                            placement: 'right'
                          });
                        </script>
                      <![endif]-->

                    </a>

                    <script>
                      $('#ingresar_unit_<%=el.id%>').tooltip({
                        placement: 'right'
                      });
                    </script>

                  <% end %>




              <% else %>

                <a id="lock-u-<%=el.id%>" href="#" data-toggle="tooltip" title="Aún no disponible">
                  <i class="fa fa-lock" style="color: #8b0000;"></i>
                </a>
                <script>
                  $('#lock-u-<%=el.id%>').tooltip({
                    placement: 'right'
                  });
                </script>

              <% end %>









            </div>

          </td>

        </tr>


      <% end %>



      </tbody>

    </table>





  </div>

  <div class="col-md-10">

    <div class="row text-center">

      <div class="col-md-12 panel_content-<%= $current_domain %> text-center">

        <% if @unit && @unit.master_unit%>

          <% directory = @company.directorio+'/'+@company.codigo+'/contenidos/'+@unit.master_unit.crypted_name+'/' %>

          <% if File.exist?(directory+'index.html') %>

            <iframe class="frame_content" src="<%= request.base_url %>/storage/<%=@company.codigo+'/contenidos/'+@unit.master_unit.crypted_name+'/index.html'%>" width="100%" height="100%"></iframe>

          <% elsif File.exist?(directory+'index.shtml') %>

            <iframe class="frame_content" src="<%= request.base_url %>/storage/<%=@company.codigo+'/contenidos/'+@unit.master_unit.crypted_name+'/index.shtml'%>" width="100%" height="100%"></iframe>

          <% elsif File.exist?(directory+'mu'+@unit.master_unit.numero.to_s+'.pdf') %>

            <iframe class="frame-content" src="<%= request.base_url %>/pdf-viewer/web/viewer.html?file=../../storage/<%= @company.codigo %>/contenidos/<%= @unit.master_unit.crypted_name+'/mu'+@unit.master_unit.numero.to_s %>.pdf" width="100%" height="100%" ></iframe>


      <% else %>
            <span class="label label-default">No hay contenido</span>

          <% end %>

        <% end %>

        <% if @unit && !@unit.master_unit%>
          <span class="label label-default">No hay contenido</span>
        <% end %>

      </div>

    </div>


  </div>

</div>



