<%= form_for(@kpi_indicator_rol) do |f| %>
  <% if @kpi_indicator_rol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kpi_indicator_rol.errors.count, "error") %> prohibited this kpi_indicator_rol from being saved:</h2>

      <ul>
      <% @kpi_indicator_rol.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kpi_indicator %><br />
    <%= f.text_field :kpi_indicator %>
  </div>
  <div class="field">
    <%= f.label :kpi_rol %><br />
    <%= f.text_field :kpi_rol %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
