<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a gestionar el dashboard'.html_safe, kpi_managing_dashboard_manage_indicators_path(@kpi_dashboard), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-line-chart"></i>
      <%= @kpi_dashboard.name %>
      <span>> Gestionar roles </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos del indicador</legend>

        <div class="row">

          <div class="col-md-3">
            Indicador
          </div>

          <div class="col-md-9">

            <%= @kpi_indicator.name %>

          </div>

        </div>
        <br>

        <div class="row">

          <div class="col-md-3">
            Tipo de indicador
          </div>

          <div class="col-md-9">

            <%= @kpi_indicator.indicator_type_name %>

          </div>

        </div>

        <br>

        <div class="row">

          <div class="col-md-3">
            Unidad de medida
          </div>

          <div class="col-md-9">

            <%= @kpi_indicator.unit %>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Roles
        </legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>
            <th>#</th>
            <th>Código</th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <% @kpi_indicator.kpi_indicator_rols.each_with_index do |kpi_indicator_rol, index| %>

            <tr>
              <td><%= index+1 %></td>
              <td><%= kpi_indicator_rol.user.codigo %></td>
              <td><%= kpi_indicator_rol.user.apellidos %></td>
              <td><%= kpi_indicator_rol.user.nombre %></td>
              <td><%= kpi_indicator_rol.kpi_rol.name %></td>
              <td><%= link_to 'Eliminar', kpi_indicator_rol, method: :delete, data: { confirm: '¿Está seguro de eliminar el rol?' } %></td>
            </tr>
          <% end %>

          </tbody>

        </table>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Buscar
        </legend>

        <%= form_for @user_search, url: new_kpi_indicator_rol_path(@kpi_indicator), method: :post do |f| %>
          <div class="row">

            <div class="col-md-5">
              <label>&nbsp;Apellidos</label>
            </div>

            <div class="col-md-5">
              <label>&nbsp;Nombre</label>
            </div>

            <div class="col-md-2">

            </div>

          </div>
          <div class="row">

            <div class="col-md-5">
              <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>
            </div>

            <div class="col-md-5">
              <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>
            </div>

            <div class="col-md-2">
              <%= f.submit 'Buscar', class: 'btn btn-primary' %>
            </div>

          </div>

        <% end %>

      </div>

    </div>


    <% unless @users_search.nil? %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>
            Añadir roles
          </legend>

          <table class="table table-striped table-hover table-bordered">

            <thead>

            <tr>
              <th>#</th>
              <th>Código</th>
              <th>Apellidos</th>
              <th>Nombre</th>
              <th>Rol</th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            <% @users_search.each_with_index do |user, index| %>

              <%= form_for KpiIndicatorRol.new, url: create_kpi_indicator_rol_path(@kpi_indicator,user), html: {class: 'form-horizontal', role: 'form'} do |f| %>

              <input type="hidden" name="kpi_indicator_rol[kpi_indicator_id]" value = "<%= @kpi_indicator.id %>" >

              <tr>
                <td><%= index+1 %></td>
                <td><%= user.codigo %></td>
                <td><%= user.apellidos %></td>
                <td><%= user.nombre %></td>
                <td>
                  <% kpi_rols_array = @kpi_dashboard.kpi_rols.map { |kpi_rol| [kpi_rol.name, kpi_rol.id] } %>

                  <%= f.select(:kpi_rol_id, options_for_select(kpi_rols_array), {}, class: 'form-control') %>



                </td>
                <td>

                  <%= f.submit 'Anadir rol', class: 'btn btn-primary' %>

                </td>
              </tr>

              <% end %>

            <% end %>

            </tbody>

          </table>

        </div>
      </div>

    <% end %>

  </div>
</div>




