<p id="notice"><%= notice %></p>

<p>
  <b>Kpi indicator:</b>
  <%= @kpi_indicator_rol.kpi_indicator %>
</p>

<p>
  <b>Kpi rol:</b>
  <%= @kpi_indicator_rol.kpi_rol %>
</p>


<%= link_to 'Edit', edit_kpi_indicator_rol_path(@kpi_indicator_rol) %> |
<%= link_to 'Back', kpi_indicator_rols_path %>
