<h1>Listing pe_process_tutorials</h1>

<table>
  <tr>
    <th>Pe process</th>
    <th>Tutorial</th>
    <th>Name</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pe_process_tutorials.each do |pe_process_tutorial| %>
  <tr>
    <td><%= pe_process_tutorial.pe_process %></td>
    <td><%= pe_process_tutorial.tutorial %></td>
    <td><%= pe_process_tutorial.name %></td>
    <td><%= pe_process_tutorial.active %></td>
    <td><%= link_to 'Show', pe_process_tutorial %></td>
    <td><%= link_to 'Edit', edit_pe_process_tutorial_path(pe_process_tutorial) %></td>
    <td><%= link_to 'Destroy', pe_process_tutorial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pe process tutorial', new_pe_process_tutorial_path %>
