<%= form_for @tracking_process, html: {class: 'form-horizontal'} do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.tracking_processes.shared.process_data') %></legend>

        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group <%= field_with_errors f, :name %>">
          <%= f.label :name, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :description %>">
          <%= f.label :description, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_area :description, class: 'form-control wysihtml5', :rows => 3 %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :from_date %>">
          <%= f.label :from_date, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <div class="input-group date">
            <%= f.text_field :from_date, class: 'form-control datepicker', :data => {:format => 'dd/MM/yyyy'}, :value => @tracking_process.from_date ? @tracking_process.from_date.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y'), :readonly => true %>
              <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
            </div>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :to_date %>">
          <%= f.label :to_date, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <div class="input-group date">
              <%= f.text_field :to_date, class: 'form-control datepicker', :data => {:format => 'dd/MM/yyyy'}, :value => @tracking_process.to_date ? @tracking_process.to_date.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y'), :readonly => true %>
              <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
            </div>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :active %>">
          <%= f.label :active, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :active} %>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :accepts_redefinitions %>">
          <%= f.label :accepts_redefinitions, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :accepts_redefinitions} %>
          </div>
        </div>
        <hr>
        <div class="form-group <%= field_with_errors f, :label_attendant %>">
          <%= f.label :label_attendant, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :label_attendant, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :label_attendant_plural %>">
          <%= f.label :label_attendant_plural, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :label_attendant_plural, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :label_subject %>">
          <%= f.label :label_subject, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :label_subject, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :label_subject_plural %>">
          <%= f.label :label_subject_plural, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :label_subject_plural, class: 'form-control' %>
          </div>
        </div>
        <hr>
        <div><em>Para el seguimiento...</em></div>
        <div class="form-group <%= field_with_errors f, :label_due_date %>">
          <%= f.label :label_due_date, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :label_due_date, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :label_comment_due_date %>">
          <%= f.label :label_comment_due_date, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :label_comment_due_date, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :ask_for_comment_due_date %>">
          <%= f.label :ask_for_comment_due_date, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :ask_for_comment_due_date} %>
          </div>
        </div>
        <hr>
        <div><em>Para las notificaciones...</em></div>
        <div class="form-group <%= field_with_errors f, :mailer_name %>">
          <%= f.label :mailer_name, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :mailer_name, class: 'form-control' %>
          </div>
        </div>
        <hr>
        <div><em>Para el reporte...</em></div>
        <div class="form-group <%= field_with_errors f, :not_started_label %>">
          <%= f.label :not_started_label, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :not_started_label, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :not_started_color %>">
          <%= f.label :not_started_color, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :not_started_color, class: 'form-control color-picker' %>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :in_definition_label %>">
          <%= f.label :in_definition_label, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :in_definition_label, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :in_definition_color %>">
          <%= f.label :in_definition_color, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :in_definition_color, class: 'form-control color-picker' %>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :in_redefinition_label %>">
          <%= f.label :in_redefinition_label, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :in_redefinition_label, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :in_redefinition_color %>">
          <%= f.label :in_redefinition_color, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :in_redefinition_color, class: 'form-control color-picker' %>
          </div>
        </div>
        <hr>
        <div class="form-group <%= field_with_errors f, :log_label %>">
          <%= f.label :log_label, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :log_label, class: 'form-control' %>
          </div>
        </div>

      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit t('views.tracking_processes.form.submit_button'), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>

<% end %>
<script type="text/javascript">
  $('.wysihtml5').wysihtml5({
    "font-styles": false,
    "emphasis": true,
    "lists": true,
    "html": false,
    "link": false,
    "image": false,
    "color": false
  });

  $('.datepicker').datetimepicker({
    language: 'es',
    pickTime: false
  });

  $('.wysihtml5').removeClass('wysihtml5');

  $(document).ready(function () {
    $(".wysihtml5-sandbox").css("resize", "vertical");
  });

  $(".color-picker").pickAColor({
    showBasicColors: true,
    showSpectrum: true,
    showSavedColors: false,
    saveColorsPerElement: false,
    showAdvanced: true,
    showHexInput: true,
    fadeMenuToggle: true
  });
</script>