<div class="panel panel-default">
  <div class="panel-body">
    <legend>
      <%= t('views.tracking_processes.shared.process_data') %>
    </legend>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_process.name') %></strong>
      </div>
      <div class="col-md-9">
        <%= @tracking_process.name %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_process.description') %></strong>
      </div>
      <div class="col-md-9">
        <%= @tracking_process.description.html_safe %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_process.from_date') %></strong>
      </div>
      <div class="col-md-9">
        <%= (localize @tracking_process.from_date , format: :day_snmonth_year) %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_process.to_date') %></strong>
      </div>
      <div class="col-md-9">
        <%= (localize @tracking_process.to_date , format: :day_snmonth_year) %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_process.active') %></strong>
      </div>
      <div class="col-md-9">
        <%= label_yes_not @tracking_process.active %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_process.accepts_redefinitions') %></strong>
      </div>
      <div class="col-md-9">
        <%= label_yes_not @tracking_process.accepts_redefinitions %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_process.label_attendant') %></strong>
      </div>
      <div class="col-md-9">
        <%= @tracking_process.label_attendant %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_process.label_attendant_plural') %></strong>
      </div>
      <div class="col-md-9">
        <%= @tracking_process.label_attendant_plural %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_process.label_subject') %></strong>
      </div>
      <div class="col-md-9">
        <%= @tracking_process.label_subject %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_process.label_subject_plural') %></strong>
      </div>
      <div class="col-md-9">
        <%= @tracking_process.label_subject_plural %>
      </div>
    </div>
    <hr>
    <div><em>Para el seguimiento...</em></div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_process.label_due_date') %></strong>
      </div>
      <div class="col-md-9">
        <%= @tracking_process.label_due_date %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_process.label_comment_due_date') %></strong>
      </div>
      <div class="col-md-9">
        <%= @tracking_process.label_comment_due_date %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_process.ask_for_comment_due_date') %></strong>
      </div>
      <div class="col-md-9">
        <%= label_yes_not @tracking_process.ask_for_comment_due_date %>
      </div>
    </div>
    <hr>
    <div><em>Para las notificaciones...</em></div>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_process.mailer_name') %></strong>
      </div>
      <div class="col-md-9">
        <%= @tracking_process.mailer_name %>
      </div>
    </div>
    <hr>
    <div><em>Para el reporte...</em></div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_process.not_started_label') %></strong>
      </div>
      <div class="col-md-9">
        <span class="label label-danger" style="background-color: <%= '#' + @tracking_process.not_started_color.to_s %>">
          <%= @tracking_process.not_started_label %>
        </span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_process.in_definition_label') %></strong>
      </div>
      <div class="col-md-9">
        <span class="label label-success" style="background-color: <%= '#' + @tracking_process.in_definition_color.to_s %>">
          <%= @tracking_process.in_definition_label %>
        </span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_process.in_redefinition_label') %></strong>
      </div>
      <div class="col-md-9">
        <span class="label label-default" style="background-color: <%= '#' + @tracking_process.in_redefinition_color.to_s %>">
          <%= @tracking_process.in_redefinition_label %>
        </span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_process.log_label') %></strong>
      </div>
      <div class="col-md-9">
          <%= @tracking_process.log_label %>
      </div>
    </div>
  </div>

  <div class="panel-footer clearfix">
    <div class="pull-left">
      <%= link_to t('views.tracking_processes.shared.clone_process') , tracking_process_show_clone_form_path(@tracking_process) %>
    </div>
    <div class="pull-right">
      <%= link_to t('views.tracking_processes.shared.edit_process') , edit_tracking_process_path(@tracking_process) %>
    </div>
  </div>
</div>