<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.tracking_processes.shared.back_to_list')).html_safe, tracking_processes_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%=	icon_tracking_module_html_safe %>
      <%= t('views.tracking_processes.shared.tracking_processes', :count => 2) %>
      <span>> <%= t('views.tracking_processes.shared.edit_process') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'form' %>

  </div>
</div>
