<h1 class="page-title txt-color-blueDark">
  <%= icon_tracking_module_html_safe %>
  <%= t('views.tracking_processes.shared.tracking_processes', :count => 2) %>
  <span>> <%= t('views.tracking_processes.index.title') %> </span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">


    <legend><%= t('views.tracking_processes.index.title') %></legend>

    <table class="table table-hover table-bordered">

      <thead>

      <tr>
        <th><%= t('activerecord.attributes.tracking_process.name') %></th>
        <th><%= t('activerecord.attributes.tracking_process.description') %></th>
        <th><%= t('activerecord.attributes.tracking_process.from_date') %></th>
        <th><%= t('activerecord.attributes.tracking_process.to_date') %></th>
        <th><%= t('activerecord.attributes.tracking_process.active') %></th>
        <th>
          <%= link_to t('views.tracking_processes.shared.create_new_process') , new_tracking_process_path %>
        </th>
      </tr>
      </thead>

      <tbody>

      <% @tracking_processes.each do |tracking_process| %>
          <tr>
            <td><%= tracking_process.name %></td>
            <td><%= tracking_process.description.html_safe %></td>
            <td><%= (localize tracking_process.from_date , format: :day_snmonth_year) %></td>
            <td><%= (localize tracking_process.to_date , format: :day_snmonth_year) %></td>
            <td><%= label_yes_not tracking_process.active %></td>
            <td><%= link_to t('views.tracking_processes.shared.manage_process'), tracking_process %></td>
          </tr>
      <% end %>
      </table>
    <br>
    <%= link_to t('views.tracking_processes.index.manage_tracking_lists') , tracking_lists_path %>
    <br>
    <%= link_to t('views.tracking_processes.index.manage_tracking_period_lists') , tracking_period_lists_path %>
  </div>
</div>



