<h1 class="page-title txt-color-blueDark">
  <%= icon_tracking_module_html_safe %>
  <%= CtModule.where(:cod => 'trkn').first.alias %>
  <span>> <%= t('views.tracking_processes.index.title') %> </span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">


    <legend><%= t('views.tracking_processes.index.title') %></legend>

    <table class="table table-hover table-bordered">

      <thead>

      <tr>
        <th><%= t('activerecord.attributes.tracking_process.name') %></th>
        <th><%= t('activerecord.attributes.tracking_process.description') %></th>
        <th><%= t('activerecord.attributes.tracking_process.from_date') %></th>
        <th><%= t('activerecord.attributes.tracking_process.to_date') %></th>
        <th><%= t('activerecord.attributes.tracking_process.active') %></th>
        <th>
          &nbsp;
        </th>
      </tr>
      </thead>

      <tbody>

      <% @tracking_processes.each do |tracking_process| %>
          <tr>
            <td><%= tracking_process.name %></td>
            <td><%= tracking_process.description.html_safe %></td>
            <td><%= (localize tracking_process.from_date , format: :day_snmonth_year) %></td>
            <td><%= (localize tracking_process.to_date , format: :day_snmonth_year) %></td>
            <td><%= label_yes_not tracking_process.active %></td>
            <td>
              <%= link_to t('views.tracking_processes.index_manager.manage'), tracking_participants_path(tracking_process) %>
              &nbsp;&nbsp;
              <%= link_to t('views.tracking_processes.index_manager.report'), tracking_managing_status_path(tracking_process) %>
              &nbsp;&nbsp;
              <%= link_to t('views.tracking_processes.index_manager.report_xls') , tracking_processes_subject_answers_report_path(tracking_process) %>
            </td>
          </tr>
      <% end %>
      </table>
  </div>
</div>