<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.tracking_processes.shared.back_to_list')).html_safe, tracking_processes_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%= icon_tracking_module_html_safe %>
      <%= @tracking_process.name %>
      <span>> <%= t('views.tracking_processes.shared.manage_process') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'show' %>

  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="text-center">
      <ul id='tabs' class="nav nav-pills nav-justified nav-pills-<%= $current_domain %>" style="display: inline-block;">
        <li>
          <a data-url="<%= tracking_process_show_load_participants_csv_path @tracking_process %>" data-toggle="pill" href="#participants" onclick="load_pill(this)"><%= t('views.tracking_processes.show.pills.participants') %></a>
        </li>
        <li>
          <a data-url="<%= tracking_forms_list_path @tracking_process %>" data-toggle="pill" href="#forms" onclick="load_pill(this)"><%= t('views.tracking_processes.show.pills.forms') %></a>
        </li>
        <li>
          <a data-url="<%= tracking_process_list_config_report_path @tracking_process %>" data-toggle="pill" href="#report_config" onclick="load_pill(this)"><%= t('views.tracking_processes.show.pills.report_config') %></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="row">

  <div class="tab-content">
    <div id="participants" class="col-md-10 col-md-offset-1 tab-pane <%= if (@show_pill_open && @show_pill_open == 'participants')
                                                                          'active'
                                                                        else
                                                                          'fade'
                                                                        end %>">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-body text-center">
            <i class="fa fa-refresh fa-spin"></i> <%= t('views.elec_processes.shared.loading') %>
          </div>
        </div>
      </div>
    </div>
    <div id="forms" class="col-md-10 col-md-offset-1 tab-pane <%= if (@show_pill_open && @show_pill_open == 'forms')
                                                                   'active'
                                                                 else
                                                                   'fade'
                                                                 end %>">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-body text-center">
            <i class="fa fa-refresh fa-spin"></i> <%= t('views.elec_processes.shared.loading') %>
          </div>
        </div>
      </div>
    </div>
    <div id="report_config" class="col-md-10 col-md-offset-1 tab-pane <%= if (@show_pill_open && @show_pill_open == 'report_config')
                                                                    'active'
                                                                  else
                                                                    'fade'
                                                                  end %>">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-body text-center">
            <i class="fa fa-refresh fa-spin"></i> <%= t('views.elec_processes.shared.loading') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  function load_pill(link) {
    $(function () {
      var url = $(link).data("url")
      var id = $(link).attr('href')
      call_ajax_load_pill(url, id)
    });
  }

  function call_ajax_load_pill(url, id) {
    $.ajax({
      url: url,
      data: {toggle: "tab"},
      cache: true,
      type: "post",
      dataType: "html",
      success: function (result) {
        $(id).html(result);
        $('#tabs > li.active > a').attr('onclick', null);
      }
    })
  }

  <% if @show_pill_open %>
  $(document).ready(function () {
    var link = $('[href=#<%= @show_pill_open %>]')
    var li = link.parent()
    var url = link.data("url")
    var id = link.attr('href')
    li.prop('class', 'active')
    call_ajax_load_pill(url, id)
  })
  <% end %>




  // inicio de form_instance

  function create_form_instance(link) {
    var tr = $(link).parent().parent()
    var url = $(tr).data('url')
    $.ajax({
      url: url,
      data: {toggle: "tab"},
      cache: true,
      type: "post",
      dataType: "html",
      success: function (result) {
        $(link).remove()
        $(tr).find('.not_started_label').hide()
        $(tr).find('.started_label').show()
        $(tr).find(':checkbox.massive_selector').remove()
        enable_disable_massive_create_button();
      }
    })
  }


  function massive_create_form_instance() {
    $(':checkbox.massive_selector:checked').each(function () {
      $(this).parent().parent().find('.start-trigger').click()
    });
    // al final se refresca el pill
    link = $('[href=#participants]')
    load_pill(link);
  }

  function check_no_iniciados() {
    uncheck_all();
    $(':checkbox.massive_selector:not(:checked)').prop("checked", true).trigger('change')
  }

  function uncheck_all() {
    $(':checkbox.massive_selector').prop("checked", false).trigger('change')
  }

  function enable_disable_massive_create_button() {
    //alert('entré al disable del boton')
    if ($(':checkbox.massive_selector:checked').size() > 0) {
      $('.massive_trigger').prop('disabled', false)
    } else {
      $('.massive_trigger').prop('disabled', true)
    }
  }

  function enable_disable_massive_tools() {
    if ($(':checkbox.massive_selector').size() > 0) {
      $('#massive_tools').show()
    } else {
      $('#massive_tools').hide()
    }
  }

</script>