<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.tracking_form_items.show_config_report.back_to_process')).html_safe, tracking_process_pill_open_path(@tracking_process, 'report_config'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%= icon_tracking_module_html_safe %>
      <%= @tracking_process.name %>
      <span>> <%= t('views.tracking_form_items.show_config_report.edit_items_visibility') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">


    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Items</legend>
        <table class="table table-bordered">
          <thead>
          <tr>
            <td>Formulario</td>
            <td>Grupo</td>
            <td>Pregunta</td>
            <td>Item</td>
            <td>Reportable</td>
          </tr>
          </thead>
          <tbody>
          <% @tracking_process.tracking_forms.each do |form| %>
              <% form.tracking_form_groups.each do |group| %>
                  <% group.tracking_form_questions.each do |question| %>
                      <% question.tracking_form_items.each do |item| %>
                          <tr>
                            <td><%= form.name %></td>
                            <td><%= group.name %></td>
                            <td><%= question.name %></td>
                            <td><%= item.name %></td>
                            <td>
                              <a href="<%= tracking_process_toggle_config_report_path(@tracking_process, item) %>" title="Cambiar">
                                <%= label_yes_not item.reportable? %>
                              </a>
                            </td>
                          </tr>
                      <% end %>
                  <% end %>
              <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>