<table id="tracking_process_report" class="table table-bordered">
  <thead>
  <tr>
    <th colspan="<%= @basic_chars.count + 2 %>" rowspan="2">
      Datos del <%= @tracking_process.label_subject %>
    </th>
    <% @tracking_process.tracking_forms.joins(:tracking_form_groups => {:tracking_form_questions => :tracking_form_items}).where(:tracking_form_items => {:id => @tracking_form_item_ids}).uniq.each do |form| %>
        <% form.tracking_form_groups.joins(:tracking_form_questions => :tracking_form_items).where(:tracking_form_items => {:id => @tracking_form_item_ids}).uniq.each do |group| %>
            <% merge_across = 0 %>
            <% group.tracking_form_questions.joins(:tracking_form_items).where(:tracking_form_items => {:id => @tracking_form_item_ids}).uniq.each do |question| %>
                <% merge_across += (@max_by_question[question.id] ? @max_by_question[question.id] : 1)*(question.tracking_form_items.where(:reportable => true).count + ((@include_due_dates && question.traceable?) ? 1 : 0)) %>
            <% end %>

            <% if merge_across > 0 %>
                <th colspan="<%= merge_across %>">
                  <%= group.name %>
                </th>
            <% else %>
                <th>
                  <%= group.name %>
                </th>
            <% end %>
        <% end %>
    <% end %>
  </tr>
  <tr>
    <% @tracking_process.tracking_forms.joins(:tracking_form_groups => {:tracking_form_questions => :tracking_form_items}).where(:tracking_form_items => {:id => @tracking_form_item_ids}).uniq.each do |form| %>
        <% form.tracking_form_groups.joins(:tracking_form_questions => :tracking_form_items).where(:tracking_form_items => {:id => @tracking_form_item_ids}).uniq.each do |group| %>
            <% group.tracking_form_questions.joins(:tracking_form_items).where(:tracking_form_items => {:id => @tracking_form_item_ids}).uniq.each do |question| %>

                <% merge_across = 0 %>
                <% merge_across += (@max_by_question[question.id] ? @max_by_question[question.id] : 1)*(question.tracking_form_items.where(:reportable => true).count + ((@include_due_dates && question.traceable?) ? 1 : 0)) %>

                <% if merge_across > 0 %>
                    <th colspan="<%= merge_across %>">
                      <%= question.name %>
                    </th>
                <% else %>
                    <th>
                      <%= question.name %>
                    </th>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
  </tr>
  <tr>
    <th>
      <%= alias_username %>
    </th>
    <th>
      <%= @tracking_process.label_subject %>
    </th>
    <% @basic_chars.each do |char| %>
        <th>
          <%= char.nombre %>
        </th>
    <% end %>
    <% @tracking_process.tracking_forms.joins(:tracking_form_groups => {:tracking_form_questions => :tracking_form_items}).where(:tracking_form_items => {:id => @tracking_form_item_ids}).uniq.each do |form| %>
        <% form.tracking_form_groups.joins(:tracking_form_questions => :tracking_form_items).where(:tracking_form_items => {:id => @tracking_form_item_ids}).uniq.each do |group| %>
            <% group.tracking_form_questions.joins(:tracking_form_items).where(:tracking_form_items => {:id => @tracking_form_item_ids}).uniq.each do |question| %>
                <% @max_by_question[question.id].times do |index| %>
                    <% question.tracking_form_items.where(:id => @tracking_form_item_ids).each do |item| %>
                        <th>
                          <%= item.name %> <%= index + 1 if @max_by_question[question.id] > 1 %>
                        </th>
                    <% end %>
                    <% if @include_due_dates && question.traceable? %>
                        <th>
                          <%= @tracking_process.label_due_date %> <%= index + 1 if @max_by_question[question.id] > 1 %>
                        </th>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
  </tr>
  </thead>
<tbody>

  <% @tracking_process.tracking_participants.each do |participant| %>
      <tr>
        <td>
          <%= participant.subject_user.codigo %>
        </td>
        <td>
          <%= participant.subject_user.comma_full_name %>
        </td>
        <% @basic_chars.each do |char| %>
            <td>
              <%= char.user_characteristics.where(:user_id => participant.subject_user.id).last.formatted_value %>
            </td>
        <% end %>
        <% @tracking_process.tracking_forms.joins(:tracking_form_groups => {:tracking_form_questions => :tracking_form_items}).where(:tracking_form_items => {:id => @tracking_form_item_ids}).uniq.each do |form| %>
            <% form.tracking_form_groups.joins(:tracking_form_questions => :tracking_form_items).where(:tracking_form_items => {:id => @tracking_form_item_ids}).uniq.each do |group| %>
                <% instance = participant.tracking_form_instances.where(:tracking_form_id => form.id, :done => true).first %>
                <% group.tracking_form_questions.joins(:tracking_form_items).where(:tracking_form_items => {:id => @tracking_form_item_ids}).uniq.each do |question| %>
                    <% answers = instance ? instance.tracking_form_answers.where(:tracking_form_question_id => question.id) : [] %>

                    <% answers.each do |answer| %>
                        <% answer.tracking_form_values.where(:tracking_form_item_id => @tracking_form_item_ids).each do |value| %>
                            <td>
                              <%= value.value %>
                            </td>
                        <% end %>
                        <% if @include_due_dates && question.traceable? %>
                            <td>
                              <%= question.tracking_period_list.nil? ? (localize answer.tracking_form_due_date.due_date, format: :full_date) : answer.tracking_form_due_date.tracking_period_item.name %>
                            </td>
                        <% end %>
                    <% end %>

                    <% (@max_by_question[question.id] - answers.count).times do %>
                        <% question.tracking_form_items.where(:id => @tracking_form_item_ids).each do %>
                            <td>
                              &nbsp;
                            </td>
                        <% end %>
                        <% if @include_due_dates && question.traceable? %>
                            <td>
                              &nbsp;
                            </td>
                        <% end %>
                    <% end %>

                <% end %>
            <% end %>
        <% end %>
      </tr>
  <% end %>
</table>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'tracking_process_report',
               file_name: 'Exportar.xls'
           }
%>