
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de cursos y resultados'.html_safe, tr2_show_results_es_path(@program_instance), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-pencil-square-o"></i>
      Registrar resultados
      <span>> Editar resultados </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">


    <%= form_for @program_course_instance, url: tr2_update_results_es_path(@program_course_instance), html: {method: 'post', class: 'form-horizontal'} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Datos de la instancia del programa</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Programa</strong>
            </div>
            <div class="col-md-9">
              <%= @program_instance.program.codigo %> - <%= @program_instance.program.nombre %>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Nombre</strong>
            </div>
            <div class="col-md-9">
              <%= @program_instance.name %>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Desde</strong>
            </div>
            <div class="col-md-9">
              <%= localize @program_instance.from_date, format: :day_snmonth_year %>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Hasta</strong>
            </div>
            <div class="col-md-9">
              <%= localize @program_instance.to_date, format: :day_snmonth_year %>
            </div>
          </div>

          <br>

          <legend>Datos de la instancia del curso</legend>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Curso</strong>
            </div>
            <div class="col-md-9">
              <%= @program_course_instance.program_course.course.nombre %>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Nombre corto (interno)</strong>
            </div>
            <div class="col-md-9">
              <%= @program_course_instance.program_course.course.nombre_corto %>
            </div>
          </div>

          <% if @company.modulo_sence %>

            <br>

            <div class="row">
              <div class="col-md-3 text-right">
                <strong>Código Sence</strong>
              </div>
              <div class="col-md-9">
                <%= @program_course_instance.program_course.course.sence_code %>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-md-3 text-right">
                <strong>Nombre Sence</strong>
              </div>
              <div class="col-md-9">
                <%= @program_course_instance.program_course.course.sence_name %>
              </div>
            </div>

          <% end %>

          <br>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Desde</strong>
            </div>
            <div class="col-md-9">

              <%= localize @program_course_instance.from_date, format: :day_snmonth_year %>

            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Hasta</strong>
            </div>
            <div class="col-md-9">
              <%= localize @program_course_instance.to_date, format: :day_snmonth_year %>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Nota mínima</strong>
            </div>
            <div class="col-md-9">

              <%= @program_course_instance.minimum_grade.to_i %><%= '%' if @program_course_instance.program_course.course.percentage_minimum_grade %>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Asistencia mínima</strong>
            </div>
            <div class="col-md-9">
              <%= @program_course_instance.minimum_assistance %>%
            </div>
          </div>

          <hr>


          <div class="row">
            <div class="col-md-12">

              <% poll = @program_course_instance.polls.where('tipo_satisfaccion = ?', true).first%>

              <% if poll %>

                <% master_questions = poll.master_poll.master_poll_questions %>

                <% if poll.master_poll.modo_grid %>

                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th>

                      </th>

                      <% lista_alternativas = nil %>
                      <% max = 0 %>

                      <% master_questions.each do |master_question| %>

                        <% if master_question.master_poll_alternatives.length > max %>

                          <% lista_alternativas = master_question.master_poll_alternatives %>

                          <% max = master_question.master_poll_alternatives.length %>

                        <% end %>

                      <% end %>

                      <% lista_alternativas.each_with_index do |alt| %>

                        <th>
                          <%= alt.letra %>. <%= alt.texto.html_safe %>
                        </th>

                      <% end %>

                    </tr>
                    </thead>

                    <tbody>

                    <% master_questions.each_with_index do |master_question, index| %>
                      <tr>
                        <td>
                          <strong><%= index+1 %>. </strong>
                          <%= master_question.texto.html_safe %>
                        </td>

                        <% index_a = 0 %>

                        <% master_question.master_poll_alternatives.each do |alt| %>

                          <% poll_summary = ProgramCoursePollSummary.where('program_course_instance_id = ? AND poll_id = ? AND master_poll_question_id = ? AND master_poll_alternative_id = ? ',
                                                                           @program_course_instance.id, poll.id, master_question.id, alt.id).first  %>

                          <td style="vertical-align:bottom">
                            <% valor = 0 %>
                            <% valor = poll_summary.numero_respuestas if poll_summary %>


                            <%= number_field('poll_summary', alt.id, min: 0, value: valor, class: 'form-control' )%>



                          </td>

                          <% index_a += 1 %>

                        <% end %>

                        <% if max > index_a %>
                          <% (index_a..max-1).each do |faltante| %>
                            <td></td>
                          <% end %>
                        <% end %>

                      </tr>

                    <% end %>

                    </tbody>

                  </table>

                <% else %>

                  <% master_questions.each_with_index do |master_question, index| %>

                    <div class="row pregunta-evaluacion-<%= $current_domain %>">

                      <div class="col-md-12">

                        <div class="row">
                          <div class="col-md-10">
                            <strong><%= index+1 %>. </strong>
                            <%= master_question.texto.html_safe %>
                          </div>
                          <div class="col-md-2">

                          </div>
                        </div>
                        <br>

                        <% master_question.master_poll_alternatives.each_with_index do |alt, index_a| %>

                          <% poll_summary = ProgramCoursePollSummary.where('program_course_instance_id = ? AND poll_id = ? AND master_poll_question_id = ? AND master_poll_alternative_id = ? ',
                                                                           @program_course_instance.id, poll.id, master_question.id, alt.id).first  %>

                          <div class="row alternativa-pregunta-evaluacion">

                            <div class="col-md-1 text-right">
                              <strong><%= alt.letra %>. </strong>
                            </div>
                            <div class="col-md-2">
                              <% valor = 0 %>
                              <% valor = poll_summary.numero_respuestas if poll_summary %>

                              <%= number_field('poll_summary', alt.id, min: 0, value: valor, class: 'form-control' )%>

                            </div>
                            <div class="col-md-9">
                              <%= alt.texto.html_safe %>
                            </div>

                          </div>


                        <% end %>

                      </div>

                    </div>

                  <% end %>

                <% end %>


              <% end %>

            </div>
          </div>



        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>

  </div>
</div>
