


<%= form_for @country, html: {class: 'form-horizontal'} do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group <%= field_with_errors f, :codigo %>">

    <%= f.label :codigo, 'Código', class: 'col-md-3 control-label' %>

    <div class="col-md-10">

      <%= f.text_field :codigo %>

    </div>

  </div>

  <div class="form-group <%= field_with_errors f, :nombre %>">

    <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

    <div class="col-md-10">

      <%= f.text_field :nombre %>

    </div>

  </div>



  <div class="form-group">

    <div class="col-md-10">

      <%= f.submit 'Guardar', class: 'btn btn-primary' %>

    </div>

  </div>

<% end %>



