
<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de países', countries_path, tabindex: '-1' %>

  </li>
  <li class="active">Eliminar país</li>
</ul>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <legend class="text-center">Eliminar país</legend>

    <dl class="dl-horizontal">


      <dt>Código</dt>
      <dd>
        <img class="flag flag-<%= @country.codigo %>">
        <%= @country.codigo %>&nbsp;
      </dd>

      <dt>Nombre</dt>
      <dd><%= @country.nombre %>&nbsp;</dd>



    </dl>

    <%= form_for @country, html: { method: :delete } do |f| %>

      <%= recaptcha_tags :display=>{:theme=>'clean'} %>

      <%= f.submit 'Eliminar', class: 'btn btn-primary' %>

    <% end %>

  </div>
</div>


