<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de países', countries_path, tabindex: '-1' %>

  </li>
  <li class="active">Editar país</li>
</ul>


<div class="row">
  <div class="col-md-6 col-md-offset-3 form-box-<%= $current_domain %>">

    <legend class="text-center">Editar país</legend>

    <%= render 'form' %>

  </div>
</div>

