<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-user"></i>
            Perfil de <%= alias_user %>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-center">
        <% if user.foto %>
          <img src="<%= request.base_url %>/storage/<%=company_codigo%>/fotos_usuarios/<%=user.foto%>" class="img-rounded user-foto">
        <% else %>
          <img src="/assets/default_user.png" class="img-rounded user-foto">
        <% end %>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-11">
            <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= user.nombre %> <%= user.apellidos %></span></h3>
          </div>
        </div>
        <% if company.display_code_in_user_profile %>
          <div class="row">
            <div class="col-md-12 ">
              <em data-toggle="tooltip" data-placement="right" title="<%= alias_username %>"><%= user.codigo %></em>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-12 ">
            <a><em><%= user.email %></em></a>
          </div>
        </div>
        <% array_char_ids = [3,4,7] %>
        <% Characteristic.where(id: array_char_ids).each do |characteristic| %>
          <div class="row">
            <div class="col-md-5 ">
              <b><%= characteristic.nombre %>:</b>
            </div>
            <div class="col-md-7 ">
              <%= user.formatted_characteristic_value characteristic %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>