<h1>Listing scholarship_applications</h1>

<table>
  <tr>
    <th>Registered by user</th>
    <th>Registered at</th>
    <th>Done</th>
    <th>Done at</th>
    <th>Evaluated</th>
    <th>Evaluated by user</th>
    <th>Evaluated at</th>
    <th>Evaluation</th>
    <th>Evaluation comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scholarship_applications.each do |scholarship_application| %>
  <tr>
    <td><%= scholarship_application.registered_by_user_id %></td>
    <td><%= scholarship_application.registered_at %></td>
    <td><%= scholarship_application.done %></td>
    <td><%= scholarship_application.done_at %></td>
    <td><%= scholarship_application.evaluated %></td>
    <td><%= scholarship_application.evaluated_by_user_id %></td>
    <td><%= scholarship_application.evaluated_at %></td>
    <td><%= scholarship_application.evaluation %></td>
    <td><%= scholarship_application.evaluation_comment %></td>
    <td><%= link_to 'Show', scholarship_application %></td>
    <td><%= link_to 'Edit', edit_scholarship_application_path(scholarship_application) %></td>
    <td><%= link_to 'Destroy', scholarship_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scholarship application', new_scholarship_application_path %>
