<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la Ficha'.html_safe, my_people_mi_colaborador_path(@scholarship_application.subject_user), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%= icon_scholarship_module_html_safe %>
      <span><%= @scholarship_application.scholarship_process.name %> >  Postulación de <%= alias_user %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'scholarship_applications/user_mini_ficha', locals: {user: @scholarship_application.subject_user, company: @company} %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'form' %>
  </div>
</div>