<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la Ficha'.html_safe, my_people_mi_colaborador_path(@scholarship_application.subject_user), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%= icon_scholarship_module_html_safe %>
      <span><%= @scholarship_application.scholarship_process.name %> >  Postulación de <%= alias_user %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'scholarship_applications/user_mini_ficha', locals: {user: @scholarship_application.subject_user, company: @company} %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'show', locals: {scholarship_application: @scholarship_application} %>
      </div>
      <% if user_connected.es_jefe_de(@scholarship_application.subject_user) && !@scholarship_application.done? && @scholarship_application.registered_by_user == user_connected %>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= link_to 'Eliminar',  @scholarship_application, class: 'btn btn-danger',  method: :delete, data: { confirm: '¿Está seguro? Los datos se eliminarán permanentemente.' } %>
            &nbsp;
            <%= link_to 'Editar', edit_scholarship_application_path(@scholarship_application) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
