<%= form_for @tracking_form_action, html: {class: 'form-horizontal'} do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.tracking_form_actions.shared.action_data') %></legend>

        <%= render 'shared/error_messages', object: f.object %>

        <%= f.hidden_field :tracking_form_id %>

        <div class="form-group <%= field_with_errors f, :position %>">
          <%= f.label :position, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.number_field :position, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :name %>">
          <%= f.label :name, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :description %>">
          <%= f.label :description, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_area :description, class: 'form-control', :rows => 3 %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :label %>">
          <%= f.label :label, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :label, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :fill_form %>">
          <%= f.label :fill_form, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.check_box :fill_form, class: 'yes_no_bootstrap_switch' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :able_to_attendant %>">
          <%= f.label :able_to_attendant, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.check_box :able_to_attendant, class: 'yes_no_bootstrap_switch' %>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :able_to_subject %>">
          <%= f.label :able_to_subject, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.check_box :able_to_subject, class: 'yes_no_bootstrap_switch' %>
          </div>
        </div>
        <hr>
        <div class="form-group <%= field_with_errors f, :require_comment %>">
          <%= f.label :require_comment, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.check_box :require_comment, class: 'yes_no_bootstrap_switch' %>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :label_comment %>">
          <%= f.label :label_comment, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :label_comment, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :label_warning %>">
          <%= f.label :label_warning, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_area :label_warning, class: 'form-control', :rows => 3 %>
          </div>
        </div>
        <hr>
        <div class="form-group <%= field_with_errors f, :can_be_rejected %>">
          <%= f.label :can_be_rejected, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.check_box :can_be_rejected, class: 'yes_no_bootstrap_switch' %>
            <em>El rechazo sólo es posible para la acción siguiente al llenado del formulario. Cualquier otra acción no tomará en cuenta esta configuración.</em>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :label_reject %>">
          <%= f.label :label_reject, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :label_reject, class: 'form-control' %>
            <em>Si la acción permite llenar el formulario, este texto aparecerá en el log del rechazo (por defecto 'Rechazo'). Sino, será el texto del botón de rechazo (por defecto 'Rechazar').</em>
          </div>
        </div>
        <hr>
        <div class="form-group <%= field_with_errors f, :label_done %>">
          <%= f.label :label_done, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :label_done, class: 'form-control' %>
            <em>Este texto aparecerá en el reporte de gestor que muestra los 'estados' en los que se encuentran los procesos</em>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :color_label_done %>">
          <%= f.label :color_label_done, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :color_label_done, class: 'form-control color-picker' %>
          </div>
        </div>
        <hr>
      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit t('views.tracking_form_actions.form.submit_button'), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>


<script>

  $('.yes_no_bootstrap_switch').bootstrapSwitch({
    onColor: 'success',
    onText: "Sí",
    offColor: 'danger',
    offText: "No"
  });

  $(".color-picker").pickAColor({
    showBasicColors: true,
    showSpectrum: true,
    showSavedColors: false,
    saveColorsPerElement: false,
    showAdvanced: true,
    showHexInput: true,
    fadeMenuToggle: true
  });

</script>