    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_form_action.position') %></strong>
      </div>
      <div class="col-md-9">
        <%= @tracking_form_action.position %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_form_action.name') %></strong>
      </div>
      <div class="col-md-9">
        <%= @tracking_form_action.name %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_form_action.description') %></strong>
      </div>
      <div class="col-md-9">
        <%= @tracking_form_action.description.html_safe %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_form_action.label') %></strong>
      </div>
      <div class="col-md-9">
        <%= @tracking_form_action.label %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_form_action.fill_form') %></strong>
      </div>
      <div class="col-md-9">
        <%= label_yes_not @tracking_form_action.fill_form %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_form_action.able_to_attendant') %></strong>
      </div>
      <div class="col-md-9">
        <%= label_yes_not @tracking_form_action.able_to_attendant %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_form_action.able_to_subject') %></strong>
      </div>
      <div class="col-md-9">
        <%= label_yes_not @tracking_form_action.able_to_subject %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_form_action.require_comment') %></strong>
      </div>
      <div class="col-md-9">
        <%= label_yes_not @tracking_form_action.require_comment %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong><%= t('activerecord.attributes.tracking_form_action.can_be_rejected') %></strong>
      </div>
      <div class="col-md-9">
        <%= label_yes_not @tracking_form_action.can_be_rejected %>
      </div>
    </div>
