<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.tracking_form_actions.shared.back_to_form')).html_safe, tracking_form_pill_open_path(@tracking_form_action.tracking_form, 'actions'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%=	icon_tracking_module_html_safe %>
      <%= @tracking_form_action.tracking_form.name %> >
      <%= @tracking_form_action.name %>
      <span>> <%= t('views.tracking_form_actions.shared.edit_action') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'form' %>

  </div>
</div>