<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.tracking_form_actions.shared.back_to_form')).html_safe, tracking_form_pill_open_path(@tracking_form_action.tracking_form, 'actions'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%= icon_tracking_module_html_safe %>
      <%= @tracking_form_action.name %>
      <span>> <%= t('views.tracking_form_actions.shared.manage_notifications') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div>
      Participantes del proceso:<br><br>
      Ejecutor: <br>
      <em>persona que ejecutó la acción</em> <br>
      %{trigger.nombre_completo} , <br>
      %{trigger.email} , <br>
      %{trigger.codigo}<br>
      <br><br>
      Contraparte: <br>
      <em>la 'otra persona' que no ejecutó la acción</em> <br>
      %{counterpart.nombre_completo} , <br>
      %{counterpart.email} , <br>
      %{counterpart.codigo}<br>
      <br><br>
      Evaluador: <br>
      <em>Rol que está definido como responsable</em> <br>
      %{attendant.nombre_completo} , <br>
      %{attendant.email} , <br>
      %{attendant.codigo}<br>
      <br><br>
      Evaluado: <br>
      <em>Rol que está definido dueño del PDP</em> <br>
      %{subject.nombre_completo} , <br>
      %{subject.email} , <br>
      %{subject.codigo}<br>
    </div>
  </div>
  <div class="col-md-10">

    <%= form_for @tracking_form_action, html: {class: 'form-horizontal'} do |f| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <legend> <%= t('views.tracking_form_actions.shared.action_data') %></legend>

            <%= render 'shared/error_messages', object: f.object %>

            <%= render 'show' %>
            <br>

            <div class="panel panel-default">
              <div class="panel-body">
                <legend> Notificaciones</legend>
                <%= f.fields_for :tracking_form_notifications do |f_notif| %>
                    <%= render 'tracking_form_actions/notifications/form', :f => f_notif %>
                <% end %>
              </div>
              <div class="panel-footer clearfix">
                <div class="pull-right">
                  <%= link_to_add_form_notification 'Añadir', f %>
                </div>
              </div>
            </div>

          </div>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= f.submit t('views.tracking_form_actions.form.submit_button'), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
    <% end %>

  </div>
</div>

<script>
  function enrich_elements() {
    $('.yes_no_bootstrap_switch').bootstrapSwitch({
      onColor: 'success',
      onText: "Sí",
      offColor: 'danger',
      offText: "No",
      link: "No",
      image: "No"
    });

    $('.wysihtml5').each(function (index) {
      $(this).wysihtml5({
        "font-styles": false,
        "emphasis": true,
        "lists": true,
        "html": true,
        "link": false,
        "image": false
      });
      $(this).removeClass('wysihtml5')
    });
  }


  $(document).ready(function () {
    enrich_elements()
  });


  //notifications
  function remove_form_notification(link) {
    $(link).prev('input[type=hidden]').val(1)
    $(link).closest('.form_notification').hide();
  }

  function add_form_notification(link, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp('new_form_notification', 'g')
    $(link).parent().before(content.replace(regexp, new_id))
    enrich_elements()
  }

</script>





