
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver'.html_safe, show_folder_file_path(@folder,@folder_file) , class: 'btn btn-default', tabindex: '-1' %>
  </div>

</div>


<ul class="breadcrumb">
  <li>
    Biblioteca

  </li>

  <% get_folder_ancestros(@folder).each do |f| %>
    <li>
      <%= f.nombre %>

    </li>
  <% end %>

  <li><%= @folder.nombre %></li>

  <li class="active"><%= @folder_file.nombre %></li>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @folder_file, url: update_folder_file_path(@folder,@folder_file), method: :post, html: {class: 'form-horizontal', multipart: true} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Datos del archivo</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group <%= field_with_errors f, :nombre %>">

            <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= f.text_field :nombre, class: 'form-control' %>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :descripcion, 'Descripción', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= f.text_area :descripcion, rows: '5', class: 'form-control' %>

            </div>

          </div>

          <% if ['pdf', 'mp4'].include?(@folder_file.extension)  %>

            <div class="form-group">

              <%= f.label :descargable, 'Descargable', class: 'col-md-3 control-label'%>

              <div class="col-md-9">

                <%= f.check_box :descargable, class: 'form-control' %>

              </div>

            </div>

          <% end %>

        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>

  </div>
</div>

