<div class="row">

  <div class="col-md-10 col-md-offset-1">
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Biblioteca', folder_managing_folders_path %>

      </li>

      <% get_folder_ancestros(@folder).each do |f| %>
        <li>
          <%= link_to f.nombre, f, tabindex: '-1' %>

        </li>
      <% end %>

      <li class="active">Renombrar directorio</li>
    </ol>
  </div>
</div>

<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <%= form_for @folder, url: folder_managing_update_folder_path, method: :post, html: {class: 'form-horizontal'} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>
            Renombrar directorio
          </legend>

          <%= render 'shared/error_messages', object: f.object %>

          <%= f.hidden_field :padre_id %>

          <div class="form-group <%= field_with_errors f, :nombre %>">

            <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :nombre, autofocus: 'autofocus', class: 'form-control' %>

            </div>

          </div>

        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>

  </div>

</div>
