
<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Reporte de uso de la biblioteca</legend><br><br>

        <table id="datatable_fixed_column" class="table table-striped table-bordered smart-form">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Directorio</th>
              <th>Valoración</th>
              <th><nobr># de votos</nobr></th>
              <th>Visitas</th>
              <th>Descargas</th>
            </tr>
            <tr class="second">
              <td>
                <label class="input">
                  <input type="text" name="search_num" value="" class="search_init">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text" name="search_name" value="" class="search_init">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text" name="search_dir" value="" class="search_init">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text" name="search_val" value="" class="search_init">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text" name="search_num_votos" value="" class="search_init">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text" name="search_vis" value="" class="search_init">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text" name="search_des" value="" class="search_init">
                </label>
              </td>


            </tr>
          </thead>
          <tbody>
            <% @folder_files.each_with_index do |folder_file, index| %>

              <tr>
                <td><%= index+1 %></td>
                <td><%= folder_file.nombre %></td>
                <td>


                  <% get_folder_ancestros(folder_file.folder).each do |f| %>

                      <%= f.nombre %><br>/


                  <% end %>
                  <%= folder_file.folder.nombre %>

                </td>
                <td>
                  <nobr>
                  <% (1..folder_file.valor.to_i).each do |n| %>

                    <i class="fa fa-star " style="color: #C4A837"></i>

                  <% end %>

                  <% (folder_file.valor.to_i+1..5).each do |n| %>

                    <i class="fa fa-star-o " style="color: #C4A837"></i>

                  <% end %>

                  <%= folder_file.valor.to_i %>

                  </nobr>
                </td>
                <td>
                  <%= folder_file.folder_file_values.count %>
                </td>
                <td>
                  <%= folder_file.log_folder_files.where('accion = ?','Ingreso').size %>
                </td>
                <td>
                  <% if folder_file.descargable %>
                    <%= folder_file.log_folder_files.where('accion = ?','Descarga').size %>
                  <% end %>
                </td>
              </tr>


            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<!-- PAGE RELATED PLUGIN(S) -->
<script src="/assets/datatables/jquery.dataTables-cust.min.js"></script>
<script src="/assets/datatables/ColReorder.min.js"></script>
<script src="/assets/datatables/FixedColumns.min.js"></script>
<script src="/assets/datatables/ColVis.min.js"></script>
<script src="/assets/datatables/ZeroClipboard.js"></script>
<script src="/assets/datatables/media/js/TableTools.min.js"></script>
<script src="/assets/datatables/DT_bootstrap.js"></script>


<script type="text/javascript">

  // DO NOT REMOVE : GLOBAL FUNCTIONS!

  $(document).ready(function() {

    //pageSetUp();

    /*
     * BASIC
     */
    /*$('#dt_basic').dataTable({
     "sPaginationType" : "bootstrap_full"
     });*/

    /* END BASIC */

    /* Add the events etc before DataTables hides a column */
    $("#datatable_fixed_column thead input").keyup(function() {
      oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
    });

    $("#datatable_fixed_column thead input").each(function(i) {
      this.initVal = this.value;
    });
    $("#datatable_fixed_column thead input").focus(function() {
      if (this.className == "search_init") {
        this.className = "";
        this.value = "";
      }
    });
    $("#datatable_fixed_column thead input").blur(function(i) {
      if (this.value == "") {
        this.className = "search_init";
        this.value = this.initVal;
      }
    });


    var oTable = $('#datatable_fixed_column').dataTable({
      //"sDom" : "<'dt-top-row'><'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
      "sDom" : "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
      //"sDom" : "t<'row dt-wrapper'<'col-sm-6'i><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'>>",
      //"sDom": 'T<"clear">lfrtip',
      //"sDom" : "<'dt-row'<'row'<'col-sm-1'l><'col-sm-5'f><'col-sm-6 text-right'T>>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",

      "sPaginationType" : "bootstrap_full",
      "aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
      "iDisplayLength" : 10,
      //"oLanguage" : {
      //  "sSearch" : "Search all columns:"
      //},
      "bSortCellsTop" : true,
      "oTableTools" : {
        "aButtons" : ["xls"],
        "sSwfPath" : "/assets/datatables/media/swf/copy_csv_xls_pdf.swf"
      }
    });



    /*
     * COL ORDER
     */
    /*$('#datatable_col_reorder').dataTable({
     "sPaginationType" : "bootstrap",
     "sDom" : "R<'dt-top-row'Clf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
     "fnInitComplete" : function(oSettings, json) {
     $('.ColVis_Button').addClass('btn btn-default btn-sm').html('Columns <i class="icon-arrow-down"></i>');
     }
     });*/

    /* END COL ORDER */

    /* TABLE TOOLS */
    /*$('#datatable_fixed_column').dataTable({
     "sDom" : "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
     "oTableTools" : {
     "aButtons" : ["copy", "print", {
     "sExtends" : "collection",
     "sButtonText" : 'Save <span class="caret" />',
     "aButtons" : ["csv", "xls", "pdf"]
     }],
     "sSwfPath" : "/assets/datatables/media/swf/copy_csv_xls_pdf.swf"
     },
     "fnInitComplete" : function(oSettings, json) {
     $(this).closest('#dt_table_tools_wrapper').find('.DTTT.btn-group').addClass('table_tools_group').children('a.btn').each(function() {
     $(this).addClass('btn-sm btn-default');
     });
     }
     });*/

    /* END TABLE TOOLS */
  })

</script>

