

<%= link_to '<i class="fa fa-arrow-left"></i> Volver a la biblioteca'.html_safe, folder_managing_folders_path, class: 'btn btn-default', tabindex: '-1' %>
<br>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= form_for @folder_search, url: folder_managing_folder_search_path, method: :post do |f| %>
          <div class="row">

            <div class="col-md-4 col-md-offset-3">
              <label>Nombre o Descripción</label>
              <%= text_field :search, :search, placeholder: 'Nombre o Descripción', autofocus: 'autofocus', class: 'form-control', value: params[:search][:search] %>
            </div>

            <div class="col-md-2">
              <label>&nbsp;</label><br>
              <%= f.submit 'Buscar', class: 'btn btn-primary' %>
            </div>

          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">


        <table class="table table-hover">



        <% @folders.each do |folder| %>

              <tr class="mouse_pointer normal-link" onclick="location.href = '<%= folder_managing_folder_path(folder) %>' ">
                <td width="30px">


                  <span class="fa-stack fa-lg" >
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-folder-o fa-stack-1x"></i>
                  </span>


                </td>
                <td colspan="5">
                  <%= folder.nombre %>
                </td>
              </tr>

        <% end %>

        <% @folder_files.each.with_index do |folder_file,index| %>


          <% if !folder_file.oculto  %>


            <tr class="mouse_pointer normal-link" id="folder_file_<%= folder_file.id %>" href="#" data-toggle="tooltip" title="<%= folder_file.descripcion %>" >
              <td  width="30px" onclick="window.open('<%= folder_managing_show_folder_file_path(folder_file.folder,folder_file)%>', 'folder_file_<%= folder_file.id %>', 'directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,width='+screen.width+',height='+screen.height);" >
                <img src="/assets/filetypes2/icon_<%= folder_file.extension %>.png" width="24px">
              </td>
              <td onclick="window.open('<%= folder_managing_show_folder_file_path(folder_file.folder,folder_file)%>', 'folder_file_<%= folder_file.id %>', 'directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,width='+screen.width+',height='+screen.height);" >

                <% if folder_file.oculto %>
                  <p class="text-muted"><strike>
                <% end %>
                <%= folder_file.nombre %>

                <% if folder_file.oculto %>
                  </strike></p>
                <% end %>

                <script>
                  $('#folder_file_<%= folder_file.id %>').tooltip();
                </script>
              </td>
              <td  width="1%" onclick="window.open('<%= folder_managing_show_folder_file_path(folder_file.folder,folder_file)%>', 'folder_file_<%= folder_file.id %>', 'directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,width='+screen.width+',height='+screen.height);" >
                <nobr>

                  <% (1..folder_file.valor.to_i).each do |n| %>

                    <i class="fa fa-star " style="color: #C4A837"></i>

                  <% end %>

                  <% (folder_file.valor.to_i+1..5).each do |n| %>

                    <i class="fa fa-star-o " style="color: #C4A837"></i>

                  <% end %>

                  <%= folder_file.folder_file_values.count %>

                </nobr>
              </td>
              <td  width="1%" onclick="window.open('<%= folder_managing_show_folder_file_path(folder_file.folder,folder_file)%>', 'folder_file_<%= folder_file.id %>', 'directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,width='+screen.width+',height='+screen.height);" >
                <nobr>
                  <i class="fa fa-comments-o"></i> <%= folder_file.folder_file_comments.count %>
                </nobr>
              </td>

              <% if true #admin_logged_in? %>
                <td  width="1%">
                  <div class="text-right">
                    <% if folder_file.oculto %>
                      <a id="hacer_visible_<%= folder_file.id %>" href="<%= folder_managing_unhidden_folder_file_path(folder_file.folder, folder_file) %>" data-toggle="tooltip" title="Hacer visible" >
                        <i class="fa fa-eye-slash" style="color: grey;"></i>

                      </a>

                      <script>
                        $('#hacer_visible_<%= folder_file.id %>').tooltip({
                          placement: 'top'
                        });
                      </script>

                    <% else %>

                      <a id="hacer_invisible_<%= folder_file.id %>" href="<%= folder_managing_hidden_folder_file_path(folder_file.folder, folder_file) %>" data-toggle="tooltip" title="Ocultar" >

                        <i class="fa fa-eye" style="color: green;"></i>

                      </a>

                      <script>
                        $('#hacer_invisible_<%= folder_file.id %>').tooltip({
                          placement: 'top'
                        });
                      </script>

                    <% end %>




                  </div>

                </td>
                <td width="1%">

                  <% if folder_file.folder_file_values.count == 0 && folder_file.folder_file_comments.count == 0 %>

                    <a id="eliminar_archivo_<%= folder_file.id %>" href="<%= folder_managing_destroy_folder_file_path(folder_file.folder, folder_file) %>" data-toggle="tooltip" title="Eliminar archivo" data-confirm="¿Está seguro de eliminar el archivo?">

                      <i class="fa fa-times"></i>

                    </a>

                    <script>
                      $('#eliminar_archivo_<%= folder_file.id %>').tooltip({
                        placement: 'top'
                      });
                    </script>

                  <% end %>

                </td>
              <% else %>

                <td colspan="2" width="1%"></td>

              <% end %>

            </tr>

          <% end %>

        <% end %>


        </table>
      </div>
    </div>
  </div>

</div>
