                         <!--

<ul class="breadcrumb">
  <li>
    <%= link_to 'Biblioteca', folders_path %>

  </li>

  <% get_folder_ancestros(@folder).each do |f| %>
    <li>
      <%= link_to f.nombre, f, tabindex: '-1' %>

    </li>
  <% end %>

  <li class="active"><%= @folder.nombre %></li>
</ul>

<div class="row">

  <div class="col-md-8 col-md-offset-2">


    <table class="table table-hover table-striped">

      <thead>

        <tr>
          <th>
            <a class="" style="padding-top: 0px; padding-bottom: 0px;">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-folder-o fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </th>
          <th><%= @folder.nombre %></th>
          <% if admin_logged_in? %>
            <th>Permiso de escritura</th>
            <th>Permiso de lectura</th>
          <% end %>

          <th colspan="5">

            <%= link_to '<i class="fa fa-upload"></i> Subir archivo'.html_safe, new_folder_file_path(@folder) %>
            &nbsp;&nbsp;
            <%= link_to '<i class="fa fa-folder-o"></i> Crear nuevo directorio'.html_safe, new_subfolder_path(@folder) %>
          </th>
        </tr>

      </thead>

      <tbody>

        <% @folder.hijos.each do |folder| %>
          <tr>
            <td><i class="fa fa-folder-o"></i></td>
            <td></i> <%= folder.nombre %></td>

            <% if admin_logged_in? %>

              <td>
                <% folder.folder_owners.joins(:user).order('apellidos, nombre').each do |owner| %>
                  <li>

                    <a id="destroy_folder_owner_<%= folder.id %>_<%= owner.user.id %>" href="<%= destroy_folder_owner_path(folder, owner.user) %>" data-toggle="tooltip" title="Remover permiso de escritura">
                      <i class="fa fa-times"></i>
                    </a>
                    <%= owner.user.apellidos %> <%= owner.user.nombre %>
                    <script>
                      $('#destroy_folder_owner_<%= folder.id %>_<%= owner.user.id %>').tooltip({
                        placement: 'top'
                      });
                    </script>
                  </li>
                <% end %>
              </td>
              <td>
                <% folder.folder_members.each do |member| %>
                  <li><%= member.characteristic.nombre %>: <%= member.valor %> </li>
                <% end %>
              </td>

            <% end %>

            <td><%= link_to 'Ver', folder %></td>
            <td><%= link_to 'Renombrar', edit_folder_path(folder) %></td>
            <td>
              <% if admin_logged_in? %>
                <%= link_to 'Nuevo permiso de escritura', new_folder_owner_path(folder) %>
              <% end %>
            </td>
            <td>
              <% if admin_logged_in? %>
                <%= link_to 'Permiso de lectura', edit_folder_members_path(folder) %>
              <% end %>
            </td>
            <td><%= link_to 'Eliminar', folder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>

        <% @folder.folder_files.each.with_index do |folder_file,index| %>
          <tr id="folder_course_<%= folder_file.id %>" href="#" data-toggle="tooltip" title="<%= folder_file.descripcion %>">
            <td>
              <img src="/assets/filetypes2/icon_<%= folder_file.extension %>.png" width="32px">
            </td>
            <td>
              <%= folder_file.nombre %>
              <script>
                $('#folder_course_<%= folder_file.id %>').tooltip();
              </script>
            </td>
            <% if admin_logged_in? %>
              <td></td>
              <td></td>
            <% end %>
            <td>


                <a class="mouse_pointer" onclick="window.open('<%=show_folder_file_path(@folder,folder_file)%>', 'folder_file_<%= folder_file.id %>', 'directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,width='+screen.width+',height='+screen.height);">
                  Ver
                </a>


            </td>
            <td>

              <% if folder_file.valor > 0 %>

                <% (1..folder_file.valor.to_i).each do |n| %>

                  <i class="fa fa-star " style="color: #C4A837"></i>

                <% end %>

                <% (folder_file.valor.to_i+1..5).each do |n| %>

                  <i class="fa fa-star-o " style="color: #C4A837"></i>

                <% end %>

              <% end %>

            </td>
            <td>
              <i class="fa fa-comments-o"></i> <%= folder_file.folder_file_comments.count %>
            </td>
            <td colspan="2">

            </td>




          </tr>
        <% end %>



      </tbody>
    </table>

  </div>

</div>
                        -->