
<%= form_for @characteristic_type, url: j_characteristic_type_update_path(@characteristic_type), html: {class: 'form-horizontal'}, method: :post do |f| %>

  <div class="panel panel-default">
  <div class="panel-body">

    <legend>Datos del tipo de característica</legend>

    <%= render 'shared/error_messages', object: f.object %>


    <div class="form-group <%= field_with_errors f, :position %>">

      <%= f.label :position, 'Orden', class: 'col-md-3 control-label' %>

      <div class="col-md-9">

        <%= f.text_field :position, class: 'form-control' %>

      </div>

    </div>

    <div class="form-group <%= field_with_errors f, :name %>">

      <%= f.label :name, 'Nombre', class: 'col-md-3 control-label' %>

      <div class="col-md-9">

        <%= f.text_field :name, class: 'form-control' %>

      </div>

    </div>


  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      <%= f.submit 'Guardar', class: 'btn btn-primary' %>
    </div>
  </div>
  </div>

<% end %>



