<h1 class="page-title txt-color-blueDark">
  <i class="fa fa-book"></i>
  Tipos de característica
  <span>> Lista de tipos de característica </span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">

    <table class="table table-striped table-hover table-bordered">

      <thead>

      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th colspan="1">
          <%= link_to 'Crear un nuevo tipo de característica', j_characteristic_type_new_path %>
        </th>
      </tr>

      </thead>

      <tbody>

      <% @characteristic_types.each do |characteristic_type| %>
        <tr>
          <td><%= characteristic_type.position %></td>
          <td><%= characteristic_type.name %></td>
          <td><%= link_to 'Editar', j_characteristic_type_edit_path(characteristic_type) %></td>
          <!--<td><%# link_to('Eliminar', j_characteristic_type_delete_path(characteristic_type)) %></td>-->
        </tr>
      <% end %>

      </tbody>

    </table>

  </div>
</div>

