<h1>Listing inf_doc_folders</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inf_doc_folders.each do |inf_doc_folder| %>
  <tr>
    <td><%= inf_doc_folder.name %></td>
    <td><%= inf_doc_folder.description %></td>
    <td><%= inf_doc_folder.position %></td>
    <td><%= link_to 'Show', inf_doc_folder %></td>
    <td><%= link_to 'Edit', edit_inf_doc_folder_path(inf_doc_folder) %></td>
    <td><%= link_to 'Destroy', inf_doc_folder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inf doc folder', new_inf_doc_folder_path %>
