
<%= form_for @hr_process_evaluation_q_schedule, html: {class: 'form-horizontal'} do |f| %>

    <div class="panel panel-default">
      <div class="panel-body">

          <legend>Datos de la fecha de seguimiento</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <%= f.hidden_field :hr_process_evaluation_id %>

          <div class="form-group <%= field_with_errors f, :inicio %>">

            <%= f.label :inicio, 'Fecha de Inicio', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <div id="inicio" class="input-group date">
                <input class="form-control" name="hr_process_evaluation_q_schedule[inicio]" data-format="dd/MM/yyyy" type="text" value="<%= @hr_process_evaluation_q_schedule.inicio ? @hr_process_evaluation_q_schedule.inicio.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y') %>">
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
              </div>

              <script type="text/javascript">


                $('#inicio').datetimepicker({
                  language: 'es',
                  pickTime: false
                });

              </script>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :fin %>">

            <%= f.label :fin, 'Fecha de Fin', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <div id="fin" class="input-group date">
                <input class="form-control" name="hr_process_evaluation_q_schedule[fin]" data-format="dd/MM/yyyy" type="text" value="<%= @hr_process_evaluation_q_schedule.fin ? @hr_process_evaluation_q_schedule.fin.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y') %>">
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
              </div>

              <script type="text/javascript">


                $('#fin').datetimepicker({
                  language: 'es',
                  pickTime: false
                });

              </script>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :nombre %>">

            <%= f.label :hr_evaluation_type_element_id, 'Elemento de la evaluación', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <% hr_evaluation_type_elements = @hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.where('porcentaje_logro', true).map { |et| [et.nombre, et.id]   } %>

              <%= f.select(:hr_evaluation_type_element_id, options_for_select(hr_evaluation_type_elements, @hr_process_evaluation_q_schedule.hr_evaluation_type_element_id), {}, class: 'form-control')
              %>

            </div>

          </div>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>


