<h1>Listing hr_process_evaluation_q_schedules</h1>

<table>
  <tr>
    <th>Hr process evaluation</th>
    <th>Hr evaluation type element</th>
    <th>Inicio</th>
    <th>Fin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hr_process_evaluation_q_schedules.each do |hr_process_evaluation_q_schedule| %>
  <tr>
    <td><%= hr_process_evaluation_q_schedule.hr_process_evaluation %></td>
    <td><%= hr_process_evaluation_q_schedule.hr_evaluation_type_element %></td>
    <td><%= hr_process_evaluation_q_schedule.inicio %></td>
    <td><%= hr_process_evaluation_q_schedule.fin %></td>
    <td><%= link_to 'Show', hr_process_evaluation_q_schedule %></td>
    <td><%= link_to 'Edit', edit_hr_process_evaluation_q_schedule_path(hr_process_evaluation_q_schedule) %></td>
    <td><%= link_to 'Destroy', hr_process_evaluation_q_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hr process evaluation q schedule', new_hr_process_evaluation_q_schedule_path %>
