<p id="notice"><%= notice %></p>

<p>
  <b>Hr process evaluation:</b>
  <%= @hr_process_evaluation_q_schedule.hr_process_evaluation %>
</p>

<p>
  <b>Hr evaluation type element:</b>
  <%= @hr_process_evaluation_q_schedule.hr_evaluation_type_element %>
</p>

<p>
  <b>Inicio:</b>
  <%= @hr_process_evaluation_q_schedule.inicio %>
</p>

<p>
  <b>Fin:</b>
  <%= @hr_process_evaluation_q_schedule.fin %>
</p>


<%= link_to 'Edit', edit_hr_process_evaluation_q_schedule_path(@hr_process_evaluation_q_schedule) %> |
<%= link_to 'Back', hr_process_evaluation_q_schedules_path %>
