<%= form_for @kpi_rol, html: {class: 'form-horizontal', role: 'form'} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos del rol</legend>

      <%= f.hidden_field :kpi_dashboard_id %>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :name %>">

        <%= f.label :name, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :name, autofocus: 'autofocus', class: 'form-control' %>

        </div>

      </div>


    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

<% end %>
