<%= form_for(@poll_process_user_answer) do |f| %>
  <% if @poll_process_user_answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll_process_user_answer.errors.count, "error") %> prohibited this poll_process_user_answer from being saved:</h2>

      <ul>
      <% @poll_process_user_answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :poll_process_user %><br />
    <%= f.text_field :poll_process_user %>
  </div>
  <div class="field">
    <%= f.label :master_poll_question %><br />
    <%= f.text_field :master_poll_question %>
  </div>
  <div class="field">
    <%= f.label :master_poll_alternative %><br />
    <%= f.text_field :master_poll_alternative %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
