<div class="row">
  <div class="col-md-3">

    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el curso'.html_safe, @course, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      <%= @course.nombre %>
      <span>> Asociar unidad con contenido </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @unit, url: update_unit_master_unit_path, method: :post, html: {class: 'form-horizontal'} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Datos de la unidad</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="row">

            <div class="col-md-3 text-right">
              Número
            </div>

            <div class="col-md-9">
              <%= @unit.numero %>
            </div>

          </div>
          <br>
          <div class="row">

            <div class="col-md-3 text-right">
              Nombre
            </div>

            <div class="col-md-9">
              <%= @unit.nombre %>
            </div>

          </div>
          <br>
          <div class="row">

            <div class="col-md-3 text-right">
              Descripción
            </div>

            <div class="col-md-9">
              <%= @unit.descripcion %>
            </div>

          </div>
          <br>

          <%= hidden_field :unit, :id %>

          <div class="form-group <%= field_with_errors f, :master_unit %>">

            <%= f.label :master_unit, 'Contenido', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <% master_units = MasterUnit.all.map { |mu| [mu.numero.to_s+'-'+mu.nombre, mu.id]   } %>

              <%= f.select(:master_unit_id, options_for_select(master_units, @unit.master_unit_id),
                           {:include_blank => 'Ninguna'}, {class: 'form-control'})
              %>

            </div>

          </div>


        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>


    <% end %>

	</div>
</div>




