
<div class="row">
  <div class="col-md-3">

    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el curso'.html_safe, @course, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      <%= @course.nombre %>
      <span>> Editar unidad </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

		<%= render 'form' %>

	</div>
</div>
