
<%= form_for @characteristic, url: jj_characteristic_create_path ,html: {class: 'form-horizontal', role: 'form', multipart: true} , method: :post do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos de la característica</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        <%= f.label :characteristic_type_id, 'Tipo de característica', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <% characteristic_type_array = JCharacteristicType.all.map { |ct| [ct.name, ct.id] } %>
          <%= f.select(:j_characteristic_type_id, options_for_select(characteristic_type_array, @characteristic.j_characteristic_type_id), {:prompt => '- Seleccionar -'}, class: 'form-control') %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :position, 'Orden', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :position, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :name %>">
        <%= f.label :name, 'Nombre', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">

        <%= f.label :data_type_id, 'Tipo de dato', class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <% data_type_array = JjCharacteristic.data_types.each.map{ |dt| [dt[0], dt[1]] } %>
          <%= f.select(:data_type_id, options_for_select(data_type_array, @characteristic.data_type_id), {}, class: 'form-control characteristic_data_type_select', onchange: 'toggle_characteristic_values()') %>
        </div>

      </div>



      <div class="form-group" id="characteristic_values_container">
        <%= f.label :j_characteristic_values, 'Valores', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <input type="file" name="characteristic_values" class="form-control" >
          <em>
            Archivo .xlsx
            <br>
            <br>
            <table class="table table-bordered table-condensed">
              <thead>
              <tr>
                <th>Posición</th>
                <th>Valor</th>
                <th>Inactivo/Activo (0/1)</th>
              </tr>
              </thead>
            </table>
          </em>
        </div>
      </div>

      <div class="form-group" id="register_characteristic_container">
        <%= f.label :register, 'Conformada por', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="alert alert-info">
            La definición de las características que la conforman se podrá hacer a través de la edición de la
            característica, luego de que ésta ha sido creada.
          </div>
        </div>
      </div>


      <div class="form-group">

        <%= f.label :public, 'Pública', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :public, :class => 'bootstrap_checkbox' %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :show_list, 'Aparece en lista de puestos', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :show_list, :class => 'bootstrap_checkbox' %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :val_sec_1, 'Validación Security: no dup código y empresa', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :val_sec_1, :class => 'bootstrap_checkbox' %>

        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :brc, 'Bono Rol Comercial', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :brc, :class => 'bootstrap_checkbox' %>

        </div>

      </div>



    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

<% end %>

<script>

    $('.bootstrap_checkbox').bootstrapSwitch({
        onColor: 'success',
        onText: "Sí",
        offColor: 'danger',
        offText: "No",
        size: "small"
    });

    function toggle_characteristic_values(){
        if($('#jj_characteristic_data_type_id').val() == 5 || $('#jj_characteristic_data_type_id').val() == 14){
            $('#characteristic_values_container').show();
        }else{
            $('#characteristic_values_container').hide();
        }

        if($('#jj_characteristic_data_type_id').val() == 11){
            $('#register_characteristic_container').show();
        }else{
            $('#register_characteristic_container').hide();
        }

    }

    $(document).ready(function() {
        toggle_characteristic_values();
    });

</script>


