
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de caracteristicas'.html_safe, jj_characteristics_index_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      Características
      <span>> Configurar característica </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Datos de la característica </legend>
        <div class="row">
          <div class="col-md-3"><strong>Tipo de característica</strong></div>
          <div class="col-md-9"><%= @characteristic.j_characteristic_type.name if @characteristic.j_characteristic_type %></div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3"><strong>Nombre</strong></div>
          <div class="col-md-9"><%= @characteristic.name %></div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3"><strong>Tipo de dato</strong></div>
          <div class="col-md-9"><%= @characteristic.data_type_name %></div>
        </div>
      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to 'Editar', jj_characteristic_edit_path(@characteristic) %>
        </div>
      </div>
    </div>

    <br>

    <% if @characteristic.data_type_id == 5 || @characteristic.data_type_id == 14 %>
      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Valores de la lista</legend>
          <table class="table table-bordered table-condensed">
            <thead>
            <tr>
              <th>Orden</th>
              <th>Valor</th>
              <th>Estado</th>
              <th># de veces usado</th>
              <th colspan="2">
              </th>
            </tr>
            </thead>
            <tbody>
            <% @characteristic.jj_characteristic_values.each do |characteristic_value| %>
              <tr>
                <td><%= characteristic_value.position %></td>
                <td><%= characteristic_value.value_string %></td>
                <td>
                  <% if characteristic_value.active %>
                    <span class="label label-success">Activo</span>
                  <% else %>
                    <span class="label label-danger">Inactivo</span>
                  <% end %>
                </td>
                <td>
                  <%# UserCharacteristic.where('characteristic_value_id = ?', characteristic_value.id).count+UserCharacteristicRecord.where('characteristic_value_id = ?', characteristic_value.id).count %>
                </td>
                <td>
                  <%= link_to 'Editar', jj_characteristic_edit_value_path(characteristic_value) %>
                </td>
                <td>
                  <%# if UserCharacteristic.where('characteristic_value_id = ?', characteristic_value.id).count+UserCharacteristicRecord.where('characteristic_value_id = ?', characteristic_value.id).count == 0 %>

                    <%# link_to 'Eliminar', characteristics_destroy_value_path(characteristic_value), method: :delete, confirm: '¿Está seguro de eliminar el valor?' %>

                  <%# end %>
                </td>
              </tr>
            <% end %>
            </tbody>

          </table>


        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Crear nuevo valor</legend>

          <%= form_for @characteristic_value, url: jj_characteristic_create_value_path(@characteristic), html: {class: 'form-horizontal', role: 'form', method: :post} do |f| %>

            <div class="panel panel-default">
              <div class="panel-body">

                <legend>Datos del valor</legend>

                <%= render 'shared/error_messages', object: f.object %>

                <div class="form-group <%= field_with_errors f, :position %>">
                  <%= f.label :position, 'Orden', class: 'col-md-3 control-label' %>
                  <div class="col-md-9">
                    <%= f.text_field :position, class: 'form-control' %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :active, 'Activo', class: 'col-md-3 control-label' %>
                  <div class="col-md-9">
                    <%= f.check_box :active %>
                    <script>
                        $('#characteristic_value_active').bootstrapSwitch({
                            onColor: 'success',
                            onText: "Sí",
                            offColor: 'danger',
                            offText: "No",
                            size: "small"
                        });
                    </script>
                  </div>
                </div>

                <div class="form-group <%= field_with_errors f, :value_string %>">
                  <%= f.label :value_string, 'Valor', class: 'col-md-3 control-label' %>
                  <div class="col-md-9">
                    <%= f.text_field :value_string, class: 'form-control' %>
                  </div>
                </div>

              </div>
              <div class="panel-footer clearfix">
                <div class="pull-right">
                  <%= f.submit 'Guardar', class: 'btn btn-primary' %>
                </div>
              </div>
            </div>

          <% end %>

        </div>
      </div>

    <% end %>

  </div>
</div>
