<%= form_for license, url: defined?(url_to_go) ? url_to_go : bp_admin_licenses_create_path(group), html: {class: 'form-horizontal', id: 'new_bp_license_form'}, method: :post do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <legend> <%= t('views.bp_licenses.legends.license_info') %> </legend>

      <%= render 'shared/error_messages', object: f.object %>

      <% if defined?(group) %>
        <% options_bp_goups = BpGroup.active_groups(lms_time).map {|option| [option.name, option.id]} %>

        <div class="form-group <%= field_with_errors f, :bp_group_id %>">
          <%= f.label :bp_group_id, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= select_tag('select2_groups', options_for_select(options_bp_goups, f.object.bp_group_id), {multiple: true, size: 2, class: 'form-control', placeholder: '-- Seleccione Grupos --'}) %>
          </div>
        </div>

        <% options_events = BpEvent.all.map {|option| [option.name, option.id]} %>

        <div class="form-group <%= field_with_errors f, :bp_event_id %>">
          <%= f.label :bp_event_id, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.select :bp_event_id, options_for_select(options_events, f.object.bp_event_id), {:prompt => "- Seleccionar -"}, class: 'form-control' %>
          </div>
        </div>
      <% end %>

      <div class="form-group <%= field_with_errors f, :name %>">
        <%= f.label :name, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, class: 'form-control'%>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :description %>">
        <%= f.label :description, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :description, rows: '3', class: 'form-control' %>
        </div>
      </div>

      <hr>

      <div class="form-group <%= field_with_errors f, :hours %>">
        <%= f.label :hours, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :hours, class: 'form-control'%>
          <em><%=t('views.bp_licenses.explanation.hours')%></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :days %>">
        <%= f.label :days, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :days, class: 'form-control'%>
          <em><%=t('views.bp_licenses.explanation.days')%></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :only_laborable_days %>">
        <%= f.label :only_laborable_days, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :only_laborable_days, :class => 'bootstrap_checkbox form-control' %>
          <br>
          <em><%=t('views.bp_licenses.explanation.only_laborable_days')%></em>
        </div>
      </div>

      <hr>

      <div class="form-group <%= field_with_errors f, :money %>">
        <%= f.label :money, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :money, class: 'form-control'%>
          <em><%=t('views.bp_licenses.explanation.money')%></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :currency %>">
        <%= f.label :currency, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :currency, class: 'form-control'%>
          <em><%=t('views.bp_licenses.explanation.currency')%></em>
        </div>
      </div>

      <hr>

      <div class="form-group <%= field_with_errors f, :with_event %>">
        <%= f.label :with_event, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :with_event, :class => 'bootstrap_checkbox form-control' %>
          <br>
          <em><%=t('views.bp_licenses.explanation.with_event')%></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :indef_contract_required %>">
        <%= f.label :indef_contract_required, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :indef_contract_required, :class => 'bootstrap_checkbox form-control' %>
          <br>
          <em><%= '¿Requiere tener contrato indefinido?' %></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :need_approval %> period_div">
        <%= f.label :need_approval, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :need_approval, :class => 'bootstrap_checkbox form-control', :onchange => 'anniversary(this)' %>
          <br>
          <em><%='¿Necesita aprobación?' %></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :whenever %>">
        <%= f.label :whenever, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :whenever, :class => 'bootstrap_checkbox form-control', onchange: 'show_or_hide_whenever(this)' %>
          <br>
          <em><%=t('views.bp_licenses.explanation.whenever')%></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :days_since %> days_whenever_div">
        <%= f.label :days_since, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :days_since, class: 'form-control'%>
          <em><%=t('views.bp_licenses.explanation.days_since')%></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :days_until %> days_whenever_div">
        <%= f.label :days_until, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :days_until, class: 'form-control'%>
          <em><%=t('views.bp_licenses.explanation.days_since')%></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :days_limit_only_laborable %> days_whenever_div">
        <%= f.label :days_limit_only_laborable, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :days_limit_only_laborable, :class => 'bootstrap_checkbox form-control' %>
          <br>
          <em><%=t('views.bp_licenses.explanation.days_limit_only_laborable')%></em>
        </div>
      </div>

      <hr>
      <div class="form-group <%= field_with_errors f, :partially_taken %>">
        <%= f.label :partially_taken, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :partially_taken, :class => 'bootstrap_checkbox form-control', :onchange => 'partially_show_hide(this)' %>
          <br>
          <em><%= %></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :min_by_request %> partially_div" style="display: none">
        <%= f.label :min_by_request, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :min_by_request, class: 'form-control'%>
          <em><%=t('views.bp_licenses.explanation.min_by_request')%></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :max_by_request %> partially_div" style="display: none">
        <%= f.label :max_by_request, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :max_by_request, class: 'form-control'%>
          <em><%=t('views.bp_licenses.explanation.max_by_request')%></em>
        </div>
      </div>

      <hr>
      <div class="form-group <%= field_with_errors f, :antiquity %>">
        <%= f.label :antiquity, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :antiquity, class: 'form-control'%>
          <em><%=t('views.bp_licenses.explanation.antiquity')%></em>
        </div>
      </div>

      <legend> <%= t('views.bp_licenses.legends.reference_period_info')%> </legend>

      <div class="form-group <%= field_with_errors f, :with_period %>">
        <%= f.label :with_period, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :with_period, :class => 'bootstrap_checkbox form-control', onchange: 'period_show_hide(this)' %>
          <br>
          <em><%=t('views.bp_licenses.explanation.with_period')%></em>
        </div>
      </div>

      <% options = BpLicense.period_times_array %>
      <div class="form-group <%= field_with_errors f, :period_times_type %>">
        <%= f.label :period_times_type, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.select :period_times_type, options_for_select(options, f.object.period_times_type),
                       { prompt: "- Seleccionar -" },
                       class: 'form-control period_times_type_select' %>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :period_times %>">
        <%= f.label :period_times, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :period_times, class: 'form-control'%>
          <em><%=t('views.bp_licenses.explanation.period_times')%></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :period_anniversary %> period_div">
        <%= f.label :period_anniversary, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :period_anniversary, :class => 'bootstrap_checkbox form-control', :onchange => 'anniversary(this)' %>
          <br>
          <em><%=t('views.bp_licenses.explanation.period_anniversary')%></em>
        </div>
      </div>

      <hr class="anniversary period_div" style="display: none">
      <div class="form-group <%= field_with_errors f, :period_begin_1 %> anniversary period_div" style="display: none">
        <%= f.label :period_begin_1, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :period_begin_1, class: 'form-control datetime', :data => {:format => '%d/%m/%Y'}, :value => f.object.period_begin_1 ? f.object.period_begin_1.strftime('%d/%m/%Y') : '', :readonly => true %>
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"> </i></span>
          </div>
          <em><%=t('views.bp_licenses.explanation.period_begin_1')%></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :period_begin_2 %>  anniversary period_div" style="display: none">
        <%= f.label :period_begin_2, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :period_begin_2, class: 'form-control datetime', :data => {:format => '%d/%m/%Y'}, :value => f.object.period_begin_2 ? f.object.period_begin_2.strftime('%d/%m/%Y') : '', :readonly => true %>
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"> </i></span>
          </div>
          <em><%=t('views.bp_licenses.explanation.period_begin_2')%></em>
        </div>
      </div>

      <hr class="period_div">

      <div class="form-group <%= field_with_errors f, :period_condition_begin %> period_div">
        <%= f.label :period_condition_begin, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.check_box :period_condition_begin, :class => 'bootstrap_checkbox form-control' %>
          <br>
          <em><%=t('views.bp_licenses.explanation.period_condition_begin')%></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :period_condition_min_days %> period_div">
        <%= f.label :period_condition_min_days, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :period_condition_min_days, class: 'form-control'%>
          <em><%=t('views.bp_licenses.explanation.period_condition_min_days')%></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :period_condition_min_percent %> period_div">
        <%= f.label :period_condition_min_percent, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :period_condition_min_percent, class: 'form-control', :min => 0, :step => 0.01, :max => 100 %>
          <em><%=t('views.bp_licenses.explanation.period_condition_min_percent')%></em>
        </div>
      </div>

      <legend><%= t('views.bp_licenses.legends.season_info')%></legend>
      <% options_bp_seasons = BpSeason.all.map { |option| [option.name, option.id] } %>
      <div class="form-group <%= field_with_errors f, :bp_season_id %>">
        <%= f.label :bp_season_id, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.select :bp_season_id, options_for_select(options_bp_seasons, f.object.bp_season_id),{:prompt => "- Seleccionar -"}, class: 'form-control bp_season_select' %>
        </div>
      </div>

      <div class="season_params" <%= ('style="display: none"').html_safe unless license.bp_season_id %>>
        <div class="form-group <%= field_with_errors f, :season_condition_begin %>">
          <%= f.label :season_condition_begin, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.check_box :season_condition_begin, :class => 'bootstrap_checkbox form-control ' %>
            <br>
            <em><%=t('views.bp_licenses.explanation.season_condition_begin')%></em>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :season_condition_min_days %>">
          <%= f.label :season_condition_min_days, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.number_field :season_condition_min_days, class: 'form-control' %>
            <em><%=t('views.bp_licenses.explanation.season_condition_min_days')%></em>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :season_condition_min_percent %>">
          <%= f.label :season_condition_min_percent, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.number_field :season_condition_min_percent, class: 'form-control', :min => 0, :step => 0.01, :max => 100 %>
            <em><%=t('views.bp_licenses.explanation.season_condition_min_percent')%></em>
          </div>
        </div>
      </div>

      <hr>
      <legend><%= t('views.bp_licenses.legends.validity_period') %></legend>
      <div class="form-group <%= field_with_errors f, :since %>">
        <%= f.label :since, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :since, class: 'form-control datetime_since_until', :data => {:format => '%d/%m/%Y %H:%M'}, :value => f.object.since ? f.object.since.strftime('%d/%m/%Y %H:%M') : '', :readonly => true %>
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          </div>
          <em><%=t('views.bp_licenses.explanation.since')%></em>
        </div>
      </div>

      <div class="form-group <%= field_with_errors f, :until %>">
        <%= f.label :until, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group date">
            <%= f.text_field :until, class: 'form-control datetime_since_until', :data => {:format => '%d/%m/%Y %H:%M'}, :value => f.object.until ? f.object.until.strftime('%d/%m/%Y %H:%M') : '', :readonly => true %>
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          </div>
          <em><%=t('views.bp_licenses.explanation.until')%></em>
        </div>
      </div>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit t('views.bp_season_periods.flow_process.save'), class: 'btn btn-primary' %>
      </div>
    </div>

  </div>
<% end %>

<script>
    $('.datetime_since_until').datetimepicker({
        language: 'es',
        pickTime: true,
        pickDate: true
    });

    $('.datetime').datetimepicker({
        language: 'es',
        pickTime: false,
        pickDate: true
    });

    $('.bootstrap_checkbox').bootstrapSwitch({
        onColor: 'success',
        onText: "Sí",
        offColor: 'danger',
        size: "small",
        offText: "No"
    });

    function period_show_hide(link){
        if($(link).bootstrapSwitch('state')){
            $('.period_div').show()
        }else{
            $('.period_div').hide()
        }
    }

    function partially_show_hide(link){
        if($(link).bootstrapSwitch('state')){
            $('.partially_div').show()
        }else{
            $('.partially_div').hide()
            $('#bp_license_min_by_request').val('')
            $('#bp_license_max_by_request').val('')

        }
    }

    function show_or_hide_whenever(link){
        if($(link).bootstrapSwitch('state')){
            $('.days_whenever_div').show()
        }else{
            $('.days_whenever_div').hide()
            $('#bp_license_days_days_until').val('')
            $('#bp_license_days_days_since').val('')
        }
    }

    function anniversary(link){
        if($(link).bootstrapSwitch('state')){
            $('.anniversary').hide()
            $('#bp_license_period_begin_1').val('')
            $('#bp_license_period_begin_2').val('')
        }else{
            $('.anniversary').show()
        }
    }

    $('.bp_season_select').change(function(){
        if ($('.bp_season_select option:selected').val() != ''){
            $('.season_params').show();
        }else{
            $('.season_params').hide();
            $('#bp_license_season_condition_min_days').val('')
            $('#bp_license_season_condition_min_percent').val('')
        }
    });

</script>

<% if defined?(group) %>
  <script>
      var minimumInputLength = 0
      $('#select2_groups').select2({
          minimumInputLength: minimumInputLength,
          formatInputTooShort: function () {
              return "Se deben ingresar al menos " + minimumInputLength + " caracteres";
          },
      })

      function return_select2_values() {
          users_array = $('#select2_groups').select2().val();
          $('#select2_groups').select2("val", "");
          return_values(users_array);
      }
  </script>
<% end %>