<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.bp_groups.backlist.groups')).html_safe, bp_admin_group_manage_path(@bp_group), class: 'btn btn-default', tabindex: '-1' %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_groups.legends.groups') %>
      <span>> <%= t('views.bp_licenses.legends.license_list') %> </span>
      <span>> <%= t('views.bp_licenses.flow_process.edit') %> </span>

    </h1>
  </div>
</div>

<div class="row">
  <div id="group_show_container" class="col-md-6 col-md-offset-3">
    <%= render partial: 'bp_admin_groups/bp_group_show',
               locals: {group: @bp_group,
                        editable: false} %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'bp_license_edit_form',
               locals: {license: @bp_license,
                        group: @bp_group,
                        url_to_go: bp_admin_licenses_update_path(@bp_group, @bp_license)} %>
  </div>
</div>