<%= form_for @stored_image, html: {class: 'form-horizontal', role: 'form', multipart: true} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos de la imagen</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :name %>">

        <%= f.label :name, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :name, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :file, 'Imagen', class: 'col-md-3 control-label'%>

        <div class="col-md-9">

          <%= file_field 'upload', 'datafile', class: 'form-control' %>

        </div>

      </div>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

<% end %>
