<div class="panel panel-default approver_char">
  <div class="panel-body">

    <%#

        [:string, :text, :date, :int, :float, :list, :file, :ct_image_url, :boss_code, :boss_full_name, :boss_characteristic, :register, :user_code, :first_owned_node_string, :first_owned_node_list]
        #   0        1      2     3       4     5      6         7              8              9                 10               11          12                13                       14

    %>

    <% supported_char_data_types = [0, 1, 2, 3, 4, 5] %>

    <%#= f.hidden_field :characteristic_id %>

    <div class="form-group <%= field_with_errors f, :characteristic_id %>">
      <%= f.label :characteristic_id, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.select :characteristic_id, Characteristic.where(:data_type_id => supported_char_data_types).map { |char| [char.nombre, char.id, {'data-data_type' => char.data_type_id}] }, {}, :onchange => 'set_characteristic_control(this)', class: 'form-control select2_approver_char select_approver_char' %>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :match_type %>">
      <%= f.label :match_type, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.select :match_type, SelFlowApproverChar.options_match_type.each_with_index.map { |match_type, index| [match_type, index] }, {}, :onchange => 'set_characteristic_control(this)', class: 'form-control select_match_type' %>
      </div>
    </div>


    <div data-type-id="0" class="specific_value_char user_char_values_tags form-group <%= field_with_errors f, :match_value_string %>">
      <%= f.label :match_value_string, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :match_value_string, :data => {:char_id => f.object.characteristic_id, :value => f.object.match_value_string}, class: 'form-control select2_single_tag user_char_value_tag' %>
      </div>
    </div>

    <div data-type-id="1" class="specific_value_char form-group <%= field_with_errors f, :match_value_text %>">
      <%= f.label :match_value_text, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_area :match_value_text, class: 'form-control', :rows => 3 %>
      </div>
    </div>
    <div data-type-id="2" class="specific_value_char form-group <%= field_with_errors f, :match_value_date %>">
      <%= f.label :match_value_date, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <div class="input-group date">
          <%= f.text_field :match_value_date, class: 'form-control char-datepicker', :data => {:format => 'dd/MM/yyyy'}, :value => f.object.match_value_date ? f.object.match_value_date.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y'), :readonly => true %>
          <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
        </div>
      </div>
    </div>
    <div data-type-id="3" class="specific_value_char form-group <%= field_with_errors f, :match_value_int %>">
      <%= f.label :match_value_int, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :match_value_int, class: 'form-control' %>
      </div>
    </div>
    <div data-type-id="4" class="specific_value_char form-group <%= field_with_errors f, :match_value_float %>">
      <%= f.label :match_value_float, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :match_value_float, class: 'form-control' %>
      </div>
    </div>
    <div data-type-id="5" class="specific_value_char char_values_list form-group <%= field_with_errors f, :match_value_char_id %>">
      <%= f.label :match_value_char_id, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.select :match_value_char_id, [], {}, :data => {:value => f.object.match_value_char_id}, class: 'form-control' %>
      </div>
    </div>


    <div class="pull-right">
      <%= link_to_remove_approver_char 'Eliminar', f %>
    </div>

  </div>
</div>