<% users = User.where(:activo => true).map { |user| [user.codigo+' - '+user.comma_full_name, user.id] } %>

<div class="specific_approver_container form-group <%= field_with_errors f_specific_approver, :user_id %>">
  <%= f_specific_approver.label :user_id, class: 'col-md-3 control-label' %>
  <div class="col-md-9">
    <%= f_specific_approver.select(:user_id, options_for_select(users, @sel_flow_approver.sel_flow_specific_approver.user_id), {:prompt => '- Seleccione un usuario -'}, {class: 'form-control select2'}) %>
  </div>
</div>