<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> ' + t('views.sel_flow_approvers.shared.back_to_flow')).html_safe, @sel_vacant_flow, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%=	icon_sel_module_html_safe %>
      <%=	@sel_vacant_flow.name %>
      <span>> <%= t('views.sel_flow_approvers.shared.create_new_approver') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'sel_vacant_flows/approvers/form' %>

  </div>
</div>