<h1 class="page-title txt-color-blueDark">
  <i class="fa fa-pencil-square-o"></i>
  Reporte consolidado global
  <span>> Lista de ejecuciones </span>
</h1>

<div class="panel panel-default">
  <div class="panel-body">

    <br><br>

    <table class="table table-hover table-bordered table-striped smart-form" id="datatable">

      <thead>

      <tr>
        <th>#</th>
        <th>Instancia</th>
        <th>Desde</th>
        <th>Hasta</th>
        <th>Programa</th>
        <th>Cursos</th>
        <th colspan="4">

        </th>
      </tr>
      <tr class="second">
        <td>
          <label class="input">
            <input type="text" name="search_num" value="" class="search_init hidden">
          </label>
        </td>
        <td>
          <label class="input">
            <input type="text" name="search_inst" value="" class="search_init">
          </label>
        </td>
        <td>
          <label class="input">
            <input type="text" name="search_from_date" value="" class="search_init">
          </label>
        </td>
        <td>
          <label class="input">
            <input type="text" name="search_to_date" value="" class="search_init">
          </label>
        </td>
        <td>
          <label class="input">
            <input type="text" name="search_program" value="" class="search_init">
          </label>
        </td>
        <td>
          <label class="input">
            <input type="text" name="search_students" value="" class="search_init">
          </label>
        </td>
        <td></td>
      </tr>

      </thead>

      <tbody>

      <% @program_instances.each_with_index do |program_instance,index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= program_instance.name %></td>
          <td><%= localize program_instance.from_date, format: :day_snmonth_year if program_instance.from_date%></td>
          <td><%= localize program_instance.to_date, format: :day_snmonth_year if program_instance.to_date%></td>
          <td>
            <%= program_instance.program.codigo %> - <%= program_instance.program.nombre %>
          </td>
          <td>
            <%= program_instance.program_course_instances.count %>
          </td>
          <td><%= link_to 'Generar reporte consolidado global', tr2_rep_consolidado_global_path(program_instance) %></td>

        </tr>
      <% end %>

      </tbody>

    </table>

  </div>
</div>


<!-- PAGE RELATED PLUGIN(S) -->
<script src="/assets/datatables/jquery.dataTables-cust.min.js"></script>
<script src="/assets/datatables/ColReorder.min.js"></script>
<script src="/assets/datatables/FixedColumns.min.js"></script>
<script src="/assets/datatables/ColVis.min.js"></script>
<script src="/assets/datatables/ZeroClipboard.js"></script>
<script src="/assets/datatables/media/js/TableTools.min.js"></script>
<script src="/assets/datatables/DT_bootstrap.js"></script>


<script type="text/javascript">


  $(document).ready(function() {


    $("#datatable thead input").keyup(function() {
      oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
    });

    $("#datatable thead input").each(function(i) {
      this.initVal = this.value;
    });
    $("#datatable thead input").focus(function() {
      if (this.className == "search_init") {
        this.className = "";
        this.value = "";
      }
    });
    $("#datatable thead input").blur(function(i) {
      if (this.value == "") {
        this.className = "search_init";
        this.value = this.initVal;
      }
    });


    var oTable = $('#datatable').dataTable({
      "sDom" : "<'dt-top-row'lf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",


      "sPaginationType" : "bootstrap_full",
      "aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
      "iDisplayLength" : 25,

      "bSortCellsTop" : true
    });



  })

</script>