<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de instancias'.html_safe, tr2_rep_fact_list_program_instances_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-pencil-square-o"></i>
      Reporte facturación
      <span>> Lista de cursos </span>
    </h1>
  </div>
</div>



<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos de la instancia</legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Instancia</strong>
          </div>
          <div class="col-md-9">
            <%= @program_instance.name %>
          </div>
        </div>
        <br>
        <div class="row">

          <div class="col-md-3 text-right">
            <strong>Programa</strong>
          </div>
          <div class="col-md-9">
            <%= @program_instance.program.codigo %> - <%= @program_instance.program.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @program_instance.name %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Desde</strong>
          </div>
          <div class="col-md-9">
            <%= localize @program_instance.from_date, format: :day_snmonth_year %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Hasta</strong>
          </div>
          <div class="col-md-9">
            <%= localize @program_instance.to_date, format: :day_snmonth_year %>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>


<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-hover table-bordered table-striped" id="datatable">

          <thead>

            <tr>
              <th>#</th>
              <th>Curso</th>
              <th>Nombre corto (interno)</th>
              <th>Código Sence</th>
              <th>Desde</th>
              <th>Hasta</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <% n_course = 1 %>

            <% level = @program_instance.program.levels.first %>

            <% level.courses_actives_ordered_by_name.each_with_index do |course, index| %>

              <% pc = course.program_courses.where('level_id = ? AND program_id = ?', level.id, @program_instance.program.id).first %>

              <% pci = @program_instance.program_course_instances.where('program_course_id = ?', pc.id).first %>

              <% if pci %>
                <tr>
                  <td>
                    <%= n_course %>
                  </td>
                  <td>
                    <%= course.nombre %>
                  </td>
                  <td>
                    <%= course.nombre_corto %>
                  </td>
                  <td>
                    <%= course.sence_code %>
                  </td>
                  <td>
                    <% from_date = pci ? pci.from_date : @program_instance.from_date %>
                    <%= localize from_date, format: :day_snmonth_year %>
                  </td>
                  <td>
                    <% to_date = pci ? pci.to_date : @program_instance.to_date %>
                    <%= localize to_date, format: :day_snmonth_year %>
                  </td>
                  <td>
                    <%= link_to 'Generar reporte facturación', tr2_rep_fact_path(pci) %>
                  </td>
                </tr>

               <% n_course +=1 %>

              <% end %>

            <% end %>

          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>


