<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de ejecuciones'.html_safe, tr2_rep_list_program_instances_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-pencil-square-o"></i>
      Reporte por ejecución
      <span>> Resultados </span>
    </h1>
  </div>
</div>



<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos de la ejecución</legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Programa</strong>
          </div>
          <div class="col-md-9">
            <%= @program_instance.program.codigo %> - <%= @program_instance.program.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @program_instance.name %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Desde</strong>
          </div>
          <div class="col-md-9">
            <%= localize @program_instance.from_date, format: :day_snmonth_year %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Hasta</strong>
          </div>
          <div class="col-md-9">
            <%= localize @program_instance.to_date, format: :day_snmonth_year %>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<br>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
      <br>
      <br>

        <table id="datatable_fixed_column" class="table table-striped table-hover table-bordered smart-form">

          <thead>
          <tr>
            <th>#</th>
            <th>CODIGO SENCE</th>
            <th>CURSO</th>
            <th>HORAS</th>
            <th>OTEC</th>
            <th>DIRECCION OTEC</th>
            <th>FONO OTEC</th>
            <th>FECHA INICIO</th>
            <th>FECHA TERMINO</th>
            <th>REGION</th>
            <th>CBIPARTITO</th>
            <th>VALOR PARTICIPANTE</th>
            <th>LUGAR</th>
            <th>TIPO CONTRATO</th>
            <th>DNC</th>
            <th>COMENTARIO</th>
            <th>HORARIOS</th>
            <th>RUT</th>
            <th>DIGITO</th>
            <th>NOMBRES</th>
            <th>APELLIDO PATERNO</th>
            <th>APELLIDO MATERNO</th>
            <th>FECHA NACIMIENTO</th>
            <th>SEXO</th>
            <th>COMUNA</th>
            <th>CODIGO ESCOLARIDAD</th>
            <th>CODIGO NIVEL</th>
            <th>FRANQUICIA</th>
            <th>VIATICO</th>
            <th>MOVILICACION</th>
            <th>EMAIL</th>
            <th>SEGURO</th>
            <th>RUT CIA SEGURO</th>
            <th>MONTO SEGURO</th>
            <th>POLIZA</th>
            <th>RUT EMPRESA</th>
            <th>SUCURSAL EMPRESA</th>
            <th>NACIONALIDAD</th>
            <th>DIRECCIÓN PARTICULAR</th>
            <th>CFT</th>
          </tr>

          <tr class="second">
            <td>
              <label class="input">
                <input type="text" name="search_c1" value="" class="search_init hidden">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c2" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c3" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c4" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c5" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c6" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c7" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c8" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c9" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c10" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c11" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c12" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c13" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c14" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c15" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c16" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c17" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c18" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c19" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c20" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c21" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c22" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c23" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c24" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c25" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c26" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c27" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c28" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c29" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c30" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c31" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c32" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c33" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c34" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c35" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c36" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c37" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c38" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c39" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_c40" value="" class="search_init">
              </label>
            </td>


          </tr>
          </thead>

          <tbody>

          <% level = @program_instance.program.levels.first %>

          <% level.courses_actives_ordered_by_name.each_with_index do |course, index| %>

            <% pc = course.program_courses.where('level_id = ? AND program_id = ?', level.id, @program_instance.program.id).first %>

            <% pci = @program_instance.program_course_instances.where('program_course_id = ?', pc.id).first %>

            <% if pci %>

              <% pci.user_courses.each_with_index do |uc, index| %>

                <tr>
                  <td><%= index+1 %></td>
                  <td><%= pc.course.sence_code %></td>
                  <td><%= pc.course.sence_name %></td>
                  <td><%= pci.sence_hours.to_i %></td>
                  <td><%= pci.sence_otec_name %></td>
                  <td><%= pci.sence_otec_address %></td>
                  <td><%= pci.sence_otec_telephone %></td>
                  <td><%= pci.from_date %></td>
                  <td><%= pci.to_date %></td>
                  <td><%= pci.sence_region %></td>
                  <td><%= pci.sence_cbipartito %></td>
                  <td><%= pci.sence_student_value.to_i %></td>
                  <td><%= pci.place %></td>
                  <td>
                    <%= get_user_characterisctic_by_name uc.user, 'TIPO CONTRATO' %>
                  </td>
                  <td>
                    <%= pci.sence_dnc %>
                  </td>
                  <td>
                    <%= pci.sence_comment %>
                  </td>
                  <td>
                    <%= pci.sence_schedule %>
                  </td>
                  <td><%= uc.user.codigo %></td>
                  <td>
                    <%= get_user_characterisctic_by_name uc.user, 'DIGITO' %>
                  </td>
                  <td><%= uc.user.nombre %></td>
                  <td>
                    <%= get_user_characterisctic_by_name uc.user, 'APELLIDO PATERNO' %>
                  </td>
                  <td>
                    <%= get_user_characterisctic_by_name uc.user, 'APELLIDO MATERNO' %>
                  </td>
                  <td>
                    <%= get_user_characterisctic_by_name uc.user, 'FECHA NACIMIENTO' %>
                  </td>
                  <td>
                    <%= get_user_characterisctic_by_name uc.user, 'SEXO' %>
                  </td>
                  <td>
                    <%= get_user_characterisctic_by_name uc.user, 'COMUNA' %>
                  </td>
                  <td>
                    <%= get_user_characterisctic_by_name uc.user, 'CODIGO EXCOLARIDAD' %>
                  </td>
                  <td>
                    <%= get_user_characterisctic_by_name uc.user, 'CODIGO NIVEL' %>
                  </td>
                  <td>
                    <%= get_user_uc_characterisctic_by_name uc, 'FRANQUICIA' %>
                  </td>
                  <td>
                    <%= get_user_uc_characterisctic_by_name uc, 'VIATICO' %>
                  </td>
                  <td>
                    <%= get_user_uc_characterisctic_by_name uc, 'MOVILIZACION' %>
                  </td>
                  <td>
                    <%= uc.user.email %>
                  </td>
                  <td>
                    <%= get_user_uc_characterisctic_by_name uc, 'SEGURO' %>
                  </td>
                  <td>
                    <%= get_user_uc_characterisctic_by_name uc, 'RUT CIA SEGURO' %>
                  </td>
                  <td>
                    <%= get_user_uc_characterisctic_by_name uc, 'MONTO SEGURO' %>
                  </td>
                  <td>
                    <%= get_user_uc_characterisctic_by_name uc, 'POLIZA' %>
                  </td>
                  <td>
                    <%= get_user_uc_characterisctic_by_name uc, 'RUT EMPRESA' %>
                  </td>
                  <td>
                    <%= get_user_uc_characterisctic_by_name uc, 'SUCURSAL EMPRESA' %>
                  </td>
                  <td>
                    <%= get_user_characterisctic_by_name uc.user, 'NACIONALIDAD' %>
                  </td>
                  <td>
                    <%= get_user_characterisctic_by_name uc.user, 'DIRECCION PARTICULAR' %>
                  </td>

                  <td>
                    <%= get_user_uc_characterisctic_by_name uc, 'CFT' %>
                  </td>


                </tr>

              <% end %>

            <% end %>

          <% end %>

          </tbody>

        </table>

      </div>

    </div>
  </div>
</div>


<!-- PAGE RELATED PLUGIN(S) -->
<script src="/assets/datatables/jquery.dataTables-cust.min.js"></script>
<script src="/assets/datatables/ColReorder.min.js"></script>
<script src="/assets/datatables/FixedColumns.min.js"></script>
<script src="/assets/datatables/ColVis.min.js"></script>
<script src="/assets/datatables/ZeroClipboard.js"></script>
<script src="/assets/datatables/media/js/TableTools.min.js"></script>
<script src="/assets/datatables/DT_bootstrap.js"></script>


<script type="text/javascript">
/*
  $(document).ready(function() {


    $("#datatable_fixed_column thead input").keyup(function() {
      oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
    });

    $("#datatable_fixed_column thead input").each(function(i) {
      this.initVal = this.value;
    });
    $("#datatable_fixed_column thead input").focus(function() {
      if (this.className == "search_init") {
        this.className = "";
        this.value = "";
      }
    });
    $("#datatable_fixed_column thead input").blur(function(i) {
      if (this.value == "") {
        this.className = "search_init";
        this.value = this.initVal;
      }
    });


    var oTable = $('#datatable_fixed_column').dataTable({

      "sDom" : "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",

      "sPaginationType" : "bootstrap_full",
      "aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
      "iDisplayLength" : 10,
      "bSortCellsTop" : true,
      "oTableTools" : {
        "aButtons" : ["xls"],
        "sSwfPath" : "/assets/datatables/media/swf/copy_csv_xls_pdf.swf"
      },
      "bSortCellsTop" : true,
      "aoColumnDefs" : [ {
        'bSortable' : false,
        'aTargets' : [ 9, 10 ]
      }]
    });

  })
*/
</script>

