<ul class="breadcrumb">
  <li>
    <%= link_to @hr_process.nombre, @hr_process, tabindex: '-1' %>

  </li>
  <li class="active">Participantes del proceso de evaluación</li>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <legend class="text-center">
      Participantes del proceso de evaluación
    </legend>

    <div class="row">
      <div class="col-md-3">
        <strong>Año</strong>
      </div>
      <div class="col-md-9">
        <%= @hr_process.year %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Nombre</strong>
      </div>
      <div class="col-md-9">
        <%= @hr_process.nombre %>
      </div>
    </div>

  </div>
</div>

<br>
<br>

<h1>Listing hr_process_evaluations</h1>

<table>
  <tr>
    <th>Hr process</th>
    <th>Hr process dimension e</th>
    <th>Fecha inicio eval jefe</th>
    <th>Fecha fin eval jefe</th>
    <th>Fecha inicio eval auto</th>
    <th>Fecha fin eval auto</th>
    <th>Fecha inicio eval sub</th>
    <th>Fecha fin eval sub</th>
    <th>Fecha inicio eval par</th>
    <th>Fecha fin eval par</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hr_process_evaluations.each do |hr_process_evaluation| %>
  <tr>
    <td><%= hr_process_evaluation.hr_process %></td>
    <td><%= hr_process_evaluation.hr_process_dimension_e %></td>
    <td><%= hr_process_evaluation.fecha_inicio_eval_jefe %></td>
    <td><%= hr_process_evaluation.fecha_fin_eval_jefe %></td>
    <td><%= hr_process_evaluation.fecha_inicio_eval_auto %></td>
    <td><%= hr_process_evaluation.fecha_fin_eval_auto %></td>
    <td><%= hr_process_evaluation.fecha_inicio_eval_sub %></td>
    <td><%= hr_process_evaluation.fecha_fin_eval_sub %></td>
    <td><%= hr_process_evaluation.fecha_inicio_eval_par %></td>
    <td><%= hr_process_evaluation.fecha_fin_eval_par %></td>
    <td><%= link_to 'Show', hr_process_evaluation %></td>
    <td><%= link_to 'Edit', edit_hr_process_evaluation_path(hr_process_evaluation) %></td>
    <td><%= link_to 'Destroy', hr_process_evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

