<ul class="breadcrumb">
  <li>
    <%= link_to @hr_process.nombre, @hr_process, tabindex: '-1' %>

  </li>
  <li class="active">Cargar preguntas de la evaluación</li>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <legend class="text-center">
      Cargar preguntas de la evaluación
    </legend>

    <div class="row">
      <div class="col-md-3">
        <strong>Año</strong>
      </div>
      <div class="col-md-9">
        <%= @hr_process.year %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <strong>Proceso</strong>
      </div>
      <div class="col-md-9">
        <%= @hr_process.nombre %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Evaluación</strong>
      </div>
      <div class="col-md-9">
        <%= @hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.nombre %>
      </div>
    </div>


  </div>
</div>

<br>
<br>

<% hr_evaluation_type_element = @hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.first %>

<% if hr_evaluation_type_element.tiene_clasificacion %>


  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <table class="table table-bordered">

        <thead>
        <tr>
          <th>Orden</th>
          <th><%= @hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.first.nombre_clasificacion %></th>
          <th colspan="2">
            <%= link_to 'Crear', new_hr_process_evaluation_q_classification_path %>
          </th>
        </tr>
        </thead>
        <tbody>

        <% @hr_process_evaluation.hr_process_evaluation_q_classifications.each do |hr_process_evaluation_q_classification| %>

          <tr>
            <td>
              <%= hr_process_evaluation_q_classification.orden %>
            </td>
            <td>
              <%= hr_process_evaluation_q_classification.nombre %>
            </td>
            <td>

            </td>
            <td>

            </td>
          </tr>

        <% end %>

        </tbody>

      </table>
    </div>
  </div>

<% end %>


<% if @hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.first.carga_manual %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="row">
        <div class="col-md-12  form-box-<%= $current_domain %>">

          <legend class="text-center">Cargar preguntas</legend>

          La carga de

          <%= @hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.first.nombre %>

          se realizará de forma manual por los usuarios.

        </div>

      </div>

    </div>

  </div>

<% else %>


  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <% if @lineas_error && @lineas_error.length > 0 %>

        <table class="table table-striped table-hover table-condensed table-bordered">

          <thead>
          <tr>
            <th>Línea</th>
            <th>Errores</th>

          </tr>
          </thead>

          <tbody>

          <% @lineas_error.each_with_index do |l,index| %>

            <tr>
              <td><%= l %></td>
              <td>
                <% @lineas_error_messages[index].each do |error| %>
                  <li class="text-danger"><%= error %></li>
                <% end %>
              </td>

            </tr>

          <% end %>

          </tbody>

        </table>



      <% end %>


      <div class="row">
        <div class="col-md-12  form-box-<%= $current_domain %>">

          <legend class="text-center">Cargar preguntas</legend>

          <%= form_for HrProcessEvaluationQ.new, url: carga_preguntas_hr_process_evaluation_qs_path(@hr_process_evaluation), html: {class: 'form-horizontal', multipart: true} do |f| %>

            <div class="form-group">

              <%= f.label :level, 'Nivel', class: 'col-md-3 control-label'%>

              <div class="col-md-10">

                <% hr_process_level_array = @hr_process.hr_process_levels.map { |pl| [pl.nombre, pl.id]   } %>

                <%= f.select(:hr_process_level_id, options_for_select(hr_process_level_array), :include_blank => 'Todos') %>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

              <div class="col-md-10">

                <%= file_field 'upload', 'datafile' %>
                <br>
                <em>

                  El archivo reemplazará a las preguntas actuales

                </em>

              </div>

            </div>

            <div class="form-group">

              <div class="col-md-10">

                <%= f.submit 'Subir', class: 'btn btn-primary' %>

              </div>

            </div>

          <% end %>


        </div>



      </div>

    </div>

  </div>

  <div class="row">
  <div class="col-md-8 col-md-offset-2">


  <legend class="text-center">Preguntas</legend>

  <ul class="nav nav-tabs">

    <li class="active"><a href="#tab_preguntas_todos" data-toggle="tab">Todos</a></li>

    <% @hr_process.hr_process_levels.each do |level| %>

      <li><a href="#tab_preguntas_<%= level.id %>" data-toggle="tab"><%= level.nombre %></a></li>

    <% end %>


  </ul>

  <div class="tab-content">

  <div class="tab-pane active" id="tab_preguntas_todos">

    <div class="row">
      <div class="col-md-12 panel_evaluation-<%= $current_domain %>">

        <% @hr_process_evaluation.questions_nivel_1.each_with_index do |hr_process_evaluation_q, index| %>

          <div class="row pregunta-evaluacion-<%= $current_domain %>">

            <div class="col-md-12">

              <div class="row">
                <div class="col-md-10">
                  <strong><%= hr_process_evaluation_q.hr_evaluation_type_element.nombre %> <%= index + 1 %>. </strong>
                  <%= hr_process_evaluation_q.texto.html_safe %>
                  (Peso: <%= hr_process_evaluation_q.peso %>)
                  <% if hr_process_evaluation_q.comentario %>
                    (Acepta comentarios)
                  <% end %>
                  <% if hr_process_evaluation_q.hr_process_level.nil? %>
                    (Aplica a todos los niveles)
                  <% end %>
                </div>
                <div class="col-md-2">

                </div>
              </div>

              <% hr_process_evaluation_q.hr_process_evaluation_as.each do |hr_process_evaluation_a|%>

                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-8">
                    <strong><%= hr_process_evaluation_a.valor %></strong>
                    <%= hr_process_evaluation_a.texto.html_safe %>
                  </div>
                  <div class="col-md-2">

                  </div>
                </div>



              <% end %>

              <% if hr_process_evaluation_q.hr_process_evaluation_as.length == 0 && hr_process_evaluation_q.hr_process_evaluation_qs.length == 0 %>
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-8">
                    Se valorará con valores de
                    <%= hr_process_evaluation_q.hr_evaluation_type_element.valor_minimo %> a
                    <%= hr_process_evaluation_q.hr_evaluation_type_element.valor_maximo %>
                  </div>
                </div>
              <% end %>

              <% hr_process_evaluation_q.hr_process_evaluation_qs.each_with_index do |hr_process_evaluation_q1 , index1|%>

                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-8">
                    <strong><%= hr_process_evaluation_q1.hr_evaluation_type_element.nombre %> <%= index1 + 1 %>. </strong>
                    <%= hr_process_evaluation_q1.texto.html_safe %>
                    (Peso: <%= hr_process_evaluation_q1.peso %>)
                    <% if hr_process_evaluation_q1.comentario %>
                      (Acepta comentarios)
                    <% end %>

                  </div>
                  <div class="col-md-2">

                  </div>
                </div>

                <% hr_process_evaluation_q1.hr_process_evaluation_as.each do |hr_process_evaluation_a|%>

                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                      <strong><%= hr_process_evaluation_a.valor %></strong>
                      <%= hr_process_evaluation_a.texto.html_safe %>
                    </div>
                    <div class="col-md-2">

                    </div>
                  </div>

                <% end %>

                <% if hr_process_evaluation_q1.hr_process_evaluation_as.length == 0 %>
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                      Se valorará con valores de
                      <%= hr_process_evaluation_q1.hr_evaluation_type_element.valor_minimo %> a
                      <%= hr_process_evaluation_q1.hr_evaluation_type_element.valor_maximo %>
                    </div>
                  </div>
                <% end %>



              <% end %>

              <br>

            </div>

          </div>

        <% end %>

      </div>
    </div>

  </div>

  <% @hr_process.hr_process_levels.each do |level| %>

    <div class="tab-pane" id="tab_preguntas_<%= level.id %>">


      <div class="row">
        <div class="col-md-12 panel_evaluation-<%= $current_domain %>">

          <% @hr_process_evaluation.questions_nivel_1(level.id).each_with_index do |hr_process_evaluation_q, index| %>

            <div class="row pregunta-evaluacion-<%= $current_domain %>">

              <div class="col-md-12">

                <div class="row">
                  <div class="col-md-10">
                    <strong><%= hr_process_evaluation_q.hr_evaluation_type_element.nombre %> <%= index + 1 %>. </strong>
                    <%= hr_process_evaluation_q.texto.html_safe %>
                    (Peso: <%= hr_process_evaluation_q.peso %>)
                    <% if hr_process_evaluation_q.comentario %>
                      (Acepta comentarios)
                    <% end %>
                    <% if hr_process_evaluation_q.hr_process_level.nil? %>
                      (Aplica a todos los niveles)
                    <% end %>
                  </div>
                  <div class="col-md-2">

                  </div>
                </div>

                <% hr_process_evaluation_q.hr_process_evaluation_as.each do |hr_process_evaluation_a|%>

                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                      <strong><%= hr_process_evaluation_a.valor %></strong>
                      <%= hr_process_evaluation_a.texto.html_safe %>
                    </div>
                    <div class="col-md-2">

                    </div>
                  </div>

                <% end %>

                <% if hr_process_evaluation_q.hr_process_evaluation_as.length == 0 && hr_process_evaluation_q.hr_process_evaluation_qs.length == 0 %>
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                      Se valorará con valores de
                      <%= hr_process_evaluation_q.hr_evaluation_type_element.valor_minimo %> a
                      <%= hr_process_evaluation_q.hr_evaluation_type_element.valor_maximo %>
                    </div>
                  </div>
                <% end %>

                <% hr_process_evaluation_q.hr_process_evaluation_qs.each_with_index do |hr_process_evaluation_q1 , index1|%>

                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                      <strong><%= hr_process_evaluation_q1.hr_evaluation_type_element.nombre %> <%= index1 + 1 %>. </strong>
                      <%= hr_process_evaluation_q1.texto.html_safe %>
                      (Peso: <%= hr_process_evaluation_q1.peso %>)
                      <% if hr_process_evaluation_q1.comentario %>
                        (Acepta comentarios)
                      <% end %>
                    </div>
                    <div class="col-md-2">

                    </div>
                  </div>

                  <% hr_process_evaluation_q1.hr_process_evaluation_as.each do |hr_process_evaluation_a|%>

                    <div class="row">
                      <div class="col-md-2"></div>
                      <div class="col-md-8">
                        <strong><%= hr_process_evaluation_a.valor %></strong>
                        <%= hr_process_evaluation_a.texto.html_safe %>
                      </div>
                      <div class="col-md-2">

                      </div>
                    </div>

                  <% end %>

                  <% if hr_process_evaluation_q1.hr_process_evaluation_as.length == 0 %>
                    <div class="row">
                      <div class="col-md-2"></div>
                      <div class="col-md-8">
                        Se valorará con valores de
                        <%= hr_process_evaluation_q1.hr_evaluation_type_element.valor_minimo %> a
                        <%= hr_process_evaluation_q1.hr_evaluation_type_element.valor_maximo %>
                      </div>
                    </div>
                  <% end %>



                <% end %>

                <br>

              </div>

            </div>

          <% end %>

        </div>
      </div>

    </div>

  <% end %>

  </div>







  </div>
  </div>


<% end %>



