<% sel_applicant_record = f_answer.object.sel_applicant_records.build %>
<%= f_answer.fields_for :sel_applicant_records, sel_applicant_record do |f_record| %>
    <%= f_record.hidden_field :sel_applicant_id %>
    <% unless f_answer.object.new_record? %>
        <% # solo para respuestas ya registradas  %>
        <% # solo el 'no utilizar' y el 'editar' (ambos de la postulación) necesitan 'destruir' el record  %>
        <% # Las respuestas nuevas eliminarán los records xq se eliminarán las respuestas, y así el record  %>
        &nbsp;
        <%= link_to_not_to_use_candidate_answer('<i class="fa fa-chain-broken" aria-hidden="true"></i>'.html_safe, f_record) %>
        &nbsp;
        <%= link_to_edit_candidate_answer('<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, f, f_answer, f_record) %>
    <% end %>
<% end %>