<% prev_answer = nil unless prev_answer %>

<% if f_answer.object.jm_characteristic.tabular_layout %>

  <tr class="answer new_answer complex_answer">
    <%= f_answer.hidden_field :jm_characteristic_id %>
    <% if prev_answer %>
      <%= f_answer.hidden_field :prev_answer_id %>
    <% end %>
    <% f_answer.object.jm_characteristic.jm_subcharacteristics.each do |item| %>
      <% if prev_answer %>
        <%#= f_answer.hidden_field :prev_answer_id %>
        <% new_answer_value = prev_answer.jm_answer_values.where(:jm_subcharacteristic_id => item.id).first.dup %>
      <% else %>
        <% new_answer_value = f_answer.object.jm_answer_values.build(:jm_subcharacteristic_id => item.id) %>
      <% end %>
      <td>
        <%= f_answer.fields_for :jm_answer_values, new_answer_value do |f_value| %>
          <%= f_value.hidden_field :jm_subcharacteristic_id %>
          <%= render :partial => 'jm_process/form_answer_field', :locals => {:f => f_value, :simple => false} %>
        <% end %>
      </td>
    <% end %>
    <td>
      <% if prev_answer %>
        <%= link_to_cancel_edit_candidate_answer('<i class="fa fa-undo" aria-hidden="true"></i>'.html_safe, f_answer) %>
      <% else %>
        <%= link_to_remove_candidate_answer('<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, f_answer) %>
      <% end %>
    </td>

    <% unless @filling_profile %>
      <%= render :partial => 'jm_process/form_answer_record', :locals => {:f => f, :f_answer => f_answer} %>
    <% end %>
  </tr>

<% else %>
  <div class="answer new_answer complex_answer">
    <%= f_answer.hidden_field :jm_characteristic_id %>
    <% if prev_answer %>
      <%= f_answer.hidden_field :prev_answer_id %>
    <% end %>
    <% f_answer.object.jm_characteristic.jm_subcharacteristics.each do |item| %>
      <% if prev_answer %>
        <%#= f_answer.hidden_field :prev_answer_id %>
        <% new_answer_value = prev_answer.jm_answer_values.where(:jm_subcharacteristic_id => item.id).first.dup %>
      <% else %>
        <% new_answer_value = f_answer.object.jm_answer_values.build(:jm_subcharacteristic_id => item.id) %>
      <% end %>
      <div class="row">
        <div class="col-xs-3 text-align-right">
          <strong><%= item.name %></strong>
        </div>
        <div class="col-xs-6">
          <%= f_answer.fields_for :jm_answer_values, new_answer_value do |f_value| %>
            <%= f_value.hidden_field :jm_subcharacteristic_id %>
            <%= render :partial => 'jm_process/form_answer_field', :locals => {:f => f_value, :simple => false} %>
          <% end %>
        </div>
        <div class="col-xs-3">
          <em><%= item.description %></em>
        </div>
      </div>
      <br>
    <% end %>
    <div class="col-xs-2 col-xs-offset-2">
      <% if prev_answer %>
        <%= link_to_cancel_edit_candidate_answer('<i class="fa fa-undo" aria-hidden="true"></i>'.html_safe, f_answer) %>
      <% else %>
        <%= link_to_remove_candidate_answer('<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, f_answer) %>
      <% end %>
      <% unless @filling_profile %>
        <%= render :partial => 'jm_process/form_answer_record', :locals => {:f => f, :f_answer => f_answer} %>
      <% end %>
    </div>
    <hr>
  </div>
<% end %>