<% alternative_layout_companies_array = [26, 27] %>

<% if alternative_layout_companies_array.include?(@company.id) %>
<style>
  .container {
    position: relative;
  }
  .filterer {
    float: left;
    position: absolute;
    left: 0px;
    top: 200px;
    z-index: 1000;
    padding: 5px;
    font-weight: bold;
  }

  .filterer-title {
    float: left;
    position: absolute;
    left: 0px;
    top: 100px;
    z-index: 1000;
    padding: 5px;
    font-weight: bolder;
    font-size: xx-large;
    color: whitesmoke;
    text-shadow: 2px 2px 8px darkgray;
  }
  .filterer-detail {
    float: left;
    position: absolute;
    left: 0px;
    top: 230px;
    z-index: 1000;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
  }
</style>
  <% if @sel_processes.size > 0 && !@jm_candidate %>

    <div class="alert alert-info">
      Para poder postular a las oportunidades laborales debe registrarse y acceder al sistema.
    </div>

  <% elsif !(@sel_processes.any? || (@sel_processes_with_invitation && @sel_processes_with_invitation.any?)) %>
    <div class="alert alert-danger">
      No existen oportunidades laborales por el momento.
    </div>
  <% end %>
  <% if @sel_processes.any? || (@sel_processes_with_invitation && @sel_processes_with_invitation.any?) %>
    <div class="row ">
      <div class="col-md-12 text-align-center container">
        <div class="col-md-8 col-md-offset-2 filterer-title">
          Oportunidades laborales para ser un VisaNetLover
        </div>
        <div class="form col-md-4 col-md-offset-4">
          <%= text_field_tag :pattern, '', :class => 'form-control filterer', :placeholder => 'Buscador' %>
        </div>
        <img src="<%= request.base_url %>/storage/<%= company_codigo %>/design/bg_jm_buscador_index.jpg" alt="" style="overflow: hidden; width: auto; height: auto; max-width: 100%;"/>
        <br>
        <div class="form col-md-4 col-md-offset-4 filterer-detail" style="display: none">
          Mostrando <span class="showing">0</span> de <span class="total">0</span>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
  <% index = 0 %>
  <% if @sel_processes_with_invitation %>
    <% @sel_processes_with_invitation.each do |sel_process| %>
      <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default offer-container">
        <div class="panel-body">

          <legend class="filterable"><%= sel_process.name %> </legend>
          <div class="row">
            <div class="col-md-12 filterable">
              <%= sel_process.description.html_safe %>
            </div>
          </div>
          <% if @jm_candidate %>
            <% @jm_candidate.jm_messages.where(:sel_process_id => sel_process.id).each do |message| %>
              <hr>
              <strong>Ud. tiene una invitación para participar en este proceso:</strong>
              <div class="row">
                <div class="col-md-11 col-md-offset-1">
                  <pre style="font-family: inherit; background-color: inherit;border: none; color: inherit"><%= message.body.html_safe %></pre>
                </div>
              </div>
            <% end %>
          <% end %>
          <hr>
          <div class="row">
            <div class="col-md-5">
              Recepción de vacantes hasta <%= (localize sel_process.to_date, format: :day_snmonth_year) %>
            </div>

            <div class="col-md-3 text-align-right h6">
              <% if sel_process.file %>
                <a target="_blank" href="<%= sel_sel_processes_download_file_path(sel_process.id) %>">
                  Ver detalle
                </a>
              <% end %>
            </div>
            <div class="col-md-4 text-align-left">
              <% if session[:candidate_connected_id] %>
                | &nbsp;&nbsp;&nbsp;
                <% if @jm_candidate && @jm_candidate.sel_applicants.where(:sel_process_id => sel_process.id).count == 0 %>
                  <b><%= link_to 'Postular', jm_application_form_path(sel_process), :class => 'btn btn-default' %></b>
                <% end %>
                <% if @jm_candidate && @jm_candidate.sel_applicants.where(:sel_process_id => sel_process.id).count > 0 %>
                  <strong>Usted ya postuló a esta oferta laboral</strong>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      </div>
      <% index += 1 %>
    <% end %>
  <% end %>
  <% @sel_processes.each do |sel_process| %>
    <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default offer-container">
      <div class="panel-body">
        <legend class="filterable"><%= sel_process.name %> </legend>
        <div class="row">
          <div class="col-md-12 filterable">
            <%= sel_process.description.html_safe %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-5">
            Recepción de vacantes hasta <%= (localize sel_process.to_date, format: :day_snmonth_year) %>
          </div>

          <div class="col-md-3 text-align-right">
            <% if sel_process.file %>
              <a target="_blank" href="<%= sel_sel_processes_download_file_path(sel_process.id) %>">
                Ver detalle
              </a>
            <% end %>
          </div>
          <div class="col-md-4">
            <% if session[:candidate_connected_id] %>
              | &nbsp;&nbsp;&nbsp;
              <% if @jm_candidate && @jm_candidate.sel_applicants.where(:sel_process_id => sel_process.id).count == 0 %>
                <b><%= link_to 'Postular', jm_application_form_path(sel_process), :class => 'btn btn-default'%></b>
              <% end %>
              <% if @jm_candidate && @jm_candidate.sel_applicants.where(:sel_process_id => sel_process.id).count > 0 %>
                <strong>Ya postulaste a esta oportunidad</strong>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
    </div>
    <% index += 1 %>
  <% end %>


  <script>
      function filter_offers(field) {
          var pattern = $(field).val()
          $('.offer-container').hide()
          $('.filterable:containsi("' + pattern + '")').closest('.offer-container').show()
          if ($('.offer-container:hidden').size() > 0) {
              $('.filterer-detail').show()
              $('.filterer-detail').find('.showing').text($('.offer-container:visible').size())
              $('.filterer-detail').find('.total').text($('.offer-container').size())
          } else {
              $('.filterer-detail').hide()
          }
      }

      $('.filterer').on('input', function (e) {
          filter_offers($(this))
      });

      $.extend($.expr[':'], {
          'containsi': function (elem, i, match, array) {
              return (elem.textContent || elem.innerText || '').toLowerCase()
                  .indexOf((match[3] || "").toLowerCase()) >= 0;
          }
      });
  </script>

<% else %>
  <h1 class="page-title txt-color-blueDark">
    <%= get_ct_module('jm').alias %>
  </h1>

  <% if @sel_processes.size > 0 && !@jm_candidate %>

    <div class="alert alert-info">
      Para poder postular a las oportunidades laborales debe registrarse y acceder al sistema.
    </div>

  <% elsif !(@sel_processes.any? || (@sel_processes_with_invitation && @sel_processes_with_invitation.any?)) %>
    <div class="alert alert-danger">
      No existen oportunidades laborales por el momento.
    </div>
  <% end %>
  <% index = 0 %>
  <% if @sel_processes_with_invitation %>
    <% @sel_processes_with_invitation.each do |sel_process| %>
      <div class="panel panel-default">
        <div class="panel-body">

          <legend><%= (index + 1).to_s + '.- ' %> <%= sel_process.name %> </legend>

          <% unless sel_process.code.blank? %>
            <div class="row">
              <div class="col-md-12">
                <strong>Código del proceso</strong> <%= sel_process.code %>
              </div>
            </div>
            <br>
          <% end %>
          <div class="row">
            <div class="col-md-12">
              <%= sel_process.description.html_safe %>
            </div>
          </div>
          <% if sel_process.file %>
            <div class="row">
              <div class="col-md-12 text-right">

                <a target="_blank" href="<%= sel_sel_processes_download_file_path(sel_process.id) %>">
                  Descargar ficha de la oferta laboral
                </a>
              </div>
            </div>
          <% end %>

          <% if @jm_candidate %>
            <% @jm_candidate.jm_messages.where(:sel_process_id => sel_process.id).each do |message| %>
              <hr>
              <strong>Ud. tiene una invitación para participar en este proceso:</strong>
              <div class="row">
                <div class="col-md-12">
                  <pre><%= message.body.html_safe %></pre>
                </div>
              </div>
            <% end %>
          <% end %>
          <hr>
          <div class="row">
            <div class="col-md-12">
              La oportunidad laboral inicia el
              <span class="label label-success"> <%= (localize sel_process.from_date, format: :day_snmonth_year) %></span>
              y <%= sel_process.to_date.to_datetime > lms_time ? 'finaliza' : 'finalizó' %> el
              <span class="label label-success"><%= (localize sel_process.to_date, format: :day_snmonth_year) %></span>
              <span class="label label-danger"> <%= sel_process.to_date.to_datetime > lms_time ? 'En' : 'Hace' %> <%= distance_of_time_in_words(sel_process.to_date, lms_time) %></span>
            </div>
          </div>
        </div>

        <% if session[:candidate_connected_id] %>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <% if sel_process.to_date.to_datetime < lms_time %>
                <strong>Esta oportunidad laboral ya no permite postulación</strong>
              <% elsif !(sel_process.apply_available && sel_process.accept_external_candidates?) || sel_process.from_date.to_datetime > lms_time %>
                <strong>Esta oportunidad laboral no permite postulación por el momento</strong>
              <% else %>
                <% if @jm_candidate && @jm_candidate.sel_applicants.where(:sel_process_id => sel_process.id).count == 0 %>
                  <%= link_to 'Postular', jm_application_form_path(sel_process) %>
                <% end %>
                <% if @jm_candidate && @jm_candidate.sel_applicants.where(:sel_process_id => sel_process.id).count > 0 %>
                  <strong>Ya postulaste a esta oportunidad</strong>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <% index += 1 %>
    <% end %>
  <% end %>
  <% @sel_processes.each do |sel_process| %>
    <div class="panel panel-default">
      <div class="panel-body">

        <legend><%= (index + 1).to_s + '.- ' %> <%= sel_process.name %> </legend>

        <% unless sel_process.code.blank? %>
          <div class="row">
            <div class="col-md-12">
              <strong>Código del proceso</strong> <%= sel_process.code %>
            </div>
          </div>
          <br>
        <% end %>
        <div class="row">
          <div class="col-md-12">
            <%= sel_process.description.html_safe %>
          </div>
        </div>
        <% if sel_process.file %>
          <div class="row">
            <div class="col-md-12 text-right">

              <a target="_blank" href="<%= sel_sel_processes_download_file_path(sel_process.id) %>">
                Descargar ficha de la oportunidad laboral
              </a>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-12">
            La oferta laboral inicia el
            <span class="label label-success"> <%= (localize sel_process.from_date, format: :day_snmonth_year) %></span>
            y finaliza el
            <span class="label label-success"><%= (localize sel_process.to_date, format: :day_snmonth_year) %></span>
            <span class="label label-danger"> En <%= distance_of_time_in_words(sel_process.to_date, lms_time) %></span>
          </div>
        </div>
      </div>

      <% if session[:candidate_connected_id] %>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <% if @jm_candidate && @jm_candidate.sel_applicants.where(:sel_process_id => sel_process.id).count == 0 %>
              <%= link_to 'Postular', jm_application_form_path(sel_process) %>
            <% end %>
            <% if @jm_candidate && @jm_candidate.sel_applicants.where(:sel_process_id => sel_process.id).count > 0 %>
              <strong>Ya postulaste a esta oportunidad</strong>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% index += 1 %>
  <% end %>

<% end %>