<div class="modal fade" id="vacs_detail_info_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <strong><%= 'Detalle de período de vacaciones' %></strong>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x &nbsp;</button>
        </h5>
      </div>
      <div class="modal-body">
        <%= render partial: 'vacs_detail',
                   locals: {dates: dates,
                            begin_vacs: begin_vacs.to_date,
                            end_vacs: end_vacs.to_date,
                            backs_to_work_date: backs_to_work_date.to_date,
                            user_id: user_id,
                            benefits: benefits,
                            only_table: true} %>
      </div>
    </div>
  </div>
</div>