<% only_table = defined?(only_table) ? only_table : nil %>

<% unless only_table %>
<div class="col-md-12" align="right">
  <button type="button" class="close" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
</div>
<% end %>

<table class="table table-striped table-bordered" style="font-size: 11px;" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <th><%= 'Fecha' %></th>
    <th><%= 'Tipo' %></th>
  </tr>
  </thead>
  <tbody>
  <% dates.each_with_index do |date, index| %>
    <% message = '' %>
    <% blocks = blocks_for(user_id, date) %>
    <% licenses = is_there_a_license(date, user_id) %>
    <% holiday = holiday_name_for(user_id, date) %>
    <% benefits_licenses = conflict_licenses_periods(date, date, user_id, nil) %>

    <% if licenses.size > 0 %>
      <% licenses.each do |license| %>
        <% message += license.absence_type + '. ' %>
      <% end %>
    <% end %>

    <% if benefits_licenses.size > 0 %>
      <% benefits_licenses.each do |license| %>
        <% message += license.bp_license.name+': '+license.begin.strftime('%d/%m/%Y')+' - '+license.end.strftime('%d/%m/%Y')+' ('+license.status_message+'). ' %>
      <% end %>
    <% end %>

    <% if message.empty? && holiday %>
      <% message = holiday.name_formatted %>
    <% end %>

    <% if message.empty? && blocks.size > 0 %>
      <% message = 'Vacaciones' if message.empty? && date >= begin_vacs && date <= end_vacs %>
    <% else %>
      <% message = 'No hábil' if message.empty? %>
    <% end %>

    <% if message.empty? && benefits.size > 0 %>
      <% message = benefits[0] %>
      <% benefits.delete_at(0) %>
    <% end %>

    <% message = 'Regreso' if message.empty? && date == backs_to_work_date %>

    <tr>
      <td><%= index + 1 %></td>
      <td><%= (localize date, :format => :day_snmonth_year)+' ('+t('date.abbr_day_names')[date.wday]+')' %> </td>
      <td><%= message %> </td>
    </tr>
  <% end %>
  </tbody>
</table>