<div class="row">
  <div class="col-md-12 col-md-offset-0">
    <% warnings.each do |warning| %>
      <div class="<%= 'restrictive_warning_div' if defined?(warning.restrictive) && warning.restrictive %>">
      <% if defined?(warning.description) %>
        <%= (warning.description).html_safe %>
      <% else %>
          <%= label_message(4, warning.absence_type + ': '+(localize warning.date_begin, :format => :day_snmonth_year)+' - '+(localize warning.date_end, :format => :day_snmonth_year))%>
      <% end %>
      </div>
    <% end %>
  </div>
</div>