<%= form_for(@dnc_course) do |f| %>
  <% if @dnc_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dnc_course.errors.count, "error") %> prohibited this dnc_course from being saved:</h2>

      <ul>
      <% @dnc_course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :dnc_program %><br />
    <%= f.text_field :dnc_program %>
  </div>
  <div class="field">
    <%= f.label :dnc_category %><br />
    <%= f.text_field :dnc_category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
