<h1>Listing dnc_courses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Dnc program</th>
    <th>Dnc category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dnc_courses.each do |dnc_course| %>
  <tr>
    <td><%= dnc_course.name %></td>
    <td><%= dnc_course.dnc_program %></td>
    <td><%= dnc_course.dnc_category %></td>
    <td><%= link_to 'Show', dnc_course %></td>
    <td><%= link_to 'Edit', edit_dnc_course_path(dnc_course) %></td>
    <td><%= link_to 'Destroy', dnc_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dnc course', new_dnc_course_path %>
