//=depend_on custom0-company-vars

.radio label, .checkbox label {
  padding-left: 0px;
}

.checkbox label:after,
.radio label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.radio .cr {
  border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 55%;
  left: 18%;
}

.radio .cr .cr-icon {
  margin-left: 0.04em;
}
//se añade clase 'checkboxBonito' y 'radioBonito' para no hacer desaparecer los controles en los otros formularios
.checkbox.checkboxBonito label input[type="checkbox"],
.radio.radioBonito label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {



<% $domain_list.each do |domain| %>

   .navbar-inverse-<%= domain %> {
    background-color: <%= $css_main_background_color[domain] %> !important;
    border-color: <%= $css_main_background_color[domain] %> !important;
  }

  .nav.navbar-nav.navbar-inverse.navbar-inverse-<%= domain %> li a{
    color: <%= $css_menu_text_color[domain] %> !important;
    text-shadow: none !important ;
  }

  .navbar-brand-<%= domain %>{
    color: <%= $css_menu_text_color[domain] %> !important;
    text-shadow: none !important ;
  }

  .icon-menu-mobile-<%= domain %>{
    background-color: <%= $css_icon_menu_mobile[domain] %> !important;
  }

<% end %>



  /* adjust body when menu is open */
  body.slide-active {
    overflow-x: hidden
  }
  /*first child of #main2 so it doesn't shift around*/
  .no-margin-top {
    margin-top: 0px !important
  }
  /*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
  #main2 {
    position: relative;
    padding-top: 0px !important;
    left: 0;
  }
  #main2.slide-active {
    //padding-top: 0px;
  }
  /* put toggle bars on the left :: not using button */
  #slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    //height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
  }
  /* icon bar prettyup - optional */
  #slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
  }
  #slide-nav .navbar-toggle.slide-active .icon-bar {
    # background: orange
  }
  .navbar-header {
    position: relative
  }
  /* un fix the navbar when active so that all the menu items are accessible */
  .navbar.navbar-fixed-top.slide-active {
    position: relative
  }


    #slide-nav .container {
      margin: 0;
      padding: 0 !important;
    }
    #slide-nav .navbar-header {
      margin: 0 auto;
      padding: 0 15px;
    }
    #slide-nav .navbar.slide-active {
      position: absolute;
      width: 80%;
      top: -1px;
      z-index: 1000;
    }
    #slide-nav #slidemenu {
      #background: #f7f7f7;
      left: -100%;
      width: 80%;
      min-width: 0;
      position: absolute;
      padding-left: 0;
      z-index: 2;
      top: -8px;
      margin: 0;
    }
    #slide-nav #slidemenu .navbar-nav {
      min-width: 0;
      width: 100%;
      margin: 0;
    }
    #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
      min-width: 0;
      width: 80%;
      white-space: normal;
    }
    #slide-nav {
      border-top: 0
    }
    #slide-nav.navbar-inverse #slidemenu {
      #background: #333
    }
    /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
    #slide-nav #navbar-height-col {
      position: fixed;
      top: 0;
      //height: 100%;
      width: 80%;
      left: -80%;
      #background: #eee;
    }
    #slide-nav.navbar-inverse #navbar-height-col {
      #background: #333;
      z-index: 1;
      border: 0;
    }




}
