//=depend_on custom0-company-vars

.field_with_errors{
  display: inline !important;
  background-color: none !important;
  border: 0px !important;
  color: red;
}

.big_modal {
  width: 80%; /* respsonsive width */
  margin-left:-40%; /* width/2) */
  min-height: 400px;
}

.big_modal_body{
  min-height: 300px;
}


<% $domain_list.each do |domain| %>

.form-box-<%= domain %>{

  min-height: 20px;
  padding: 19px;
  background-color: #f1f1f1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

}

<% end %>
