//=depend_on custom0-company-vars

.vertical-text{
  letter-spacing: 1000px;
  word-wrap: break-word;
}

<% $domain_list.each do |domain| %>

.grupo-hr-process-<%= domain %>{
  border: 1px solid #dedede;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 15px;
  background-color: #f1f1f1;

}

.dimension-hr-process-<%= domain %>{
  border: 1px solid #dedede;

  padding: 10px;
  background-color: #dedede;
  /*font-size: 14px;*/


}

<% end %>

.pe-dimension{
  border: 1px solid #dedede;
  padding: 10px;
  background-color: #dedede;
}
