//=depend_on custom0-company-vars

.user-foto{
  /*width: 100%;*/
  max-width: 100px;
}

.user-foto-responsive{
  width: 100%;
  max-width: 100px;
}

.user-foto-header{
  width: 30px;
}

<% $domain_list.each do |domain| %>

  .tab-content-ficha-user-<%= domain %>{

    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;

    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    background-color: #fff;
    padding: 10px;

  }


  .header-nombre-user-<%= domain %> {
    color: <%= $css_menu_text_color[domain] %>;
    padding-top: 5px;
  }

  .header-menu-user-<%= domain %> {
    color: <%= $css_menu_text_color[domain] %>;
  }

  .header-menu-user-<%= domain %>:hover {
    color: <%= $css_menu_text_color[domain] %>;
  }

<% end %>