<%

  $domain_list = Array.new
  $domain_list.push 'localhost'
  $domain_list.push 'test-a'
  $domain_list.push 'capitalteam'
  $domain_list.push 'test'
  $domain_list.push 'lms-dev'
  $domain_list.push 'hochschild'
  $domain_list.push 'hochschild-training'
  $domain_list.push 'epacasmayo'
  $domain_list.push 'epacasmayo-training'
  $domain_list.push 'corpvida'
  $domain_list.push 'pacificocrece'
  $domain_list.push 'pacificocrece-training'
  $domain_list.push 'fundacionsofofa'
  $domain_list.push 'farmaciasperuanas'
  $domain_list.push 'farmaciasperuanas-training'
  $domain_list.push 'lan-training'
  $domain_list.push 'proderco'
  $domain_list.push 'financiero-training'
  $domain_list.push 'financiero'
  $domain_list.push 'cmac-sullana'
  $domain_list.push 'prima-training'
  $domain_list.push 'primaprende'
  $domain_list.push 'gthpensum'
  $domain_list.push 'otec-training'
  $domain_list.push 'otec'
  $domain_list.push 'misecurity-training2'
  $domain_list.push 'misecurity-training'
  $domain_list.push 'misecurity'
  $domain_list.push 'misecurity-qa'
  $domain_list.push 'misecurity-qa2'
  $domain_list.push 'misecurity-qa3'
  $domain_list.push 'robocon'
  $domain_list.push 'visanet-training'
  $domain_list.push 'visanet'
  $domain_list.push 'danper'
  $domain_list.push 'danper-training'
  $domain_list.push 'demo-capitalteam'
  $domain_list.push 'seduc'
  $domain_list.push 'seduc-training'
  $domain_list.push 'carsa'
  $domain_list.push 'carsa-training'
  $domain_list.push 'diners'
  $domain_list.push 'diners-training'
  $domain_list.push 'euroamerica-training'
  $domain_list.push 'eternit'
  $domain_list.push 'eternit-training'
  $domain_list.push 'tmluc'
  $domain_list.push 'tmluc-training'
  $domain_list.push 'primus'
  $domain_list.push 'primus-training'
  $domain_list.push 'bancofalabella'
  $domain_list.push 'bancofalabella-training'
  $domain_list.push 'loga-training'
  $domain_list.push 'pcfactory'
  $domain_list.push 'pcfactory-training'
  $domain_list.push 'luzdelsur'
  $domain_list.push 'luzdelsur-training'
  $domain_list.push 'utp-idat'
  $domain_list.push 'utp-idat-training'
  $domain_list.push 'tcs'
  $domain_list.push 'tcs-training'
  $domain_list.push 'gasco'
  $domain_list.push 'gasco-training'
  $domain_list.push 'afphabitat'
  $domain_list.push 'afphabitat-training'
  $domain_list.push 'afphabitat-training2'
  $domain_list.push 'uai-training'
  $domain_list.push 'auna-training'
  $domain_list.push 'auna-creser'
  $domain_list.push 'compassgroup'
  $domain_list.push 'compassgroup-training'
  $domain_list.push 'creciendocontigo-gdh'
  $domain_list.push 'creciendocontigo-gdh-training'
  $domain_list.push 'pj-escuelavirtual'
  $domain_list.push 'pj-escuelavirtual-training'
  $domain_list.push 'ngr'
  $domain_list.push 'ngr-training'
  $domain_list.push 'sagafalabella'
  $domain_list.push 'sagafalabella-training'
  $domain_list.push 'cementosbb-training'
  $domain_list.push 'patagonia-training'
  $domain_list.push 'thomasgreg-training'
  $domain_list.push 'thomasgreg'


    $css_login_background_e1_position_right = {
        'bancofalabella'          => '15px',
        'bancofalabella-training' => '15px'
    }

    $css_login_background_e1_position_bottom = {
        'bancofalabella'          => '75px',
        'bancofalabella-training' => '75px'
    }

    $css_login_background_e1_position_top = {
        'diners-training'         => '0px'
    }


    $css_main_background_color = {
        'localhost'               => '#1a1a1a',
        'capitalteam'             => '#343434',
        'test-a'                  => '#343434',
        'test'                    => '#1a1a1a',
        'lms-dev'                 => '#1a1a1a',
        'hochschild'              => '#BE9F56',
        'hochschild-training'     => '#BE9F56',
        'epacasmayo'              => '#C00333',
        'epacasmayo-training'     => '#C00333',
        'corpvida'                => '#7BC142',
        'pacificocrece'           => '#009FCD',
        'pacificocrece-training'  => '#009FCD',
        'fundacionsofofa'         => '#0E2958',
        'farmaciasperuanas-training'      => '#fff',
        'farmaciasperuanas'               => '#fff',
        'lan-training'            => '#003e7e',
        'proderco'                => '#064280',
        'financiero-training'     => '#053874',
        'financiero'              => '#053874',
        'cmac-sullana'            => '#FB0D1B',
        'prima-training'          => '#fc3f07',
        'primaprende'             => '#fc3f07',
        'gthpensum'               => '#003e7e',
        'otec-training'           => '#003960',
        'otec'                    => '#003960',
        'misecurity-training'       => '#ffffff',
        'misecurity-training2'       => '#ffffff',
        'misecurity'       => '#ffffff',
        'misecurity-qa'       => '#ffffff',
        'misecurity-qa2'       => '#ffffff',
        'misecurity-qa3'       => '#ffffff',
        'robocon'                 => '#000000',
        'visanet-training'        => '#005AD7',
        'visanet'                 => '#005AD7',
        'danper'                  => '#FB0D1B',
        'danper-training'         => '#FB0D1B',
        'demo-capitalteam'        => '#343434',
        'seduc'                   => '#EFEFEF',
        'seduc-training'          => '#EFEFEF',
        'carsa'                   => '#DD0A1B',
        'carsa-training'          => '#DD0A1B',
        'diners'                  => '#074d97',
        'diners-training'         => '#074d97',
        'euroamerica-training'    => '#dde6dc',
        'eternit'                 => '#df1e35',
        'eternit-training'        => '#df1e35',
        'tmluc'                   => '#d2262b',
        'tmluc-training'          => '#d2262b',
        'primus'                  => '#1c3b9e',
        'primus-training'         => '#1c3b9e',
        'bancofalabella'          => '#54b847',
        'bancofalabella-training' => '#54b847',
        'loga-training'           => '#008b3b',
        'pcfactory-training'      => '#279244',
        'pcfactory'               => '#279244',
        'luzdelsur'               => '#FFA401',
        'luzdelsur-training'      => '#FFA401',
        'utp-idat'                => '#ffffff',
        'utp-idat-training'       => '#ffffff',
        'tcs'                     => '#1885C8',
        'tcs-training'            => '#1885C8',
        'gasco'                   => '#007CC4',
        'gasco-training'          => '#007CC4',
        'afphabitat'                 => '#4C4C4A',
        'afphabitat-training'        => '#4C4C4A',
        'afphabitat-training2'        => '#4C4C4A',
        'uai-training'            => '#000000',
        'auna-training'            => '#008FC1',
        'auna-creser'            => '#008FC1',
        'compassgroup'              => '#d0d3d7',
        'compassgroup-training'     => '#d0d3d7',
        'creciendocontigo-gdh'   => '#ffffff',
        'creciendocontigo-gdh-training'   => '#ffffff',
        'pj-escuelavirtual'   => '#E76100',
        'pj-escuelavirtual-training'   => '#E76100',
        'ngr'   => '#FE8501',
        'ngr-training'   => '#FE8501',
        'sagafalabella'          => '#A6CE39',
        'sagafalabella-training' => '#A6CE39',
        'cementosbb-training'          => '#fff',
        'patagonia-training'             => '#8FC6E4',
        'thomasgreg-training'  => '#67BD52',
        'thomasgreg'  => '#67BD52'
    }

    $css_title_text_color = {
        'localhost'               => '#1a1a1a',
        'capitalteam'             => '#1a1a1a',
        'test-a'                  => '#1a1a1a',
        'test'                    => '#1a1a1a',
        'lms-dev'                 => '#1a1a1a',
        'hochschild'              => '#BD9F55',
        'hochschild-training'     => '#BD9F55',
        'epacasmayo'              => '#A30E2A',
        'epacasmayo-training'     => '#A30E2A',
        'corpvida'                => '#7BC142',
        'pacificocrece'           => '#009AC7',
        'pacificocrece-training'  => '#009AC7',
        'fundacionsofofa'         => '#0E2958',
        'farmaciasperuanas-training'      => '#75787B',
        'farmaciasperuanas'               => '#75787B',
        'lan-training'            => '#003e7e',
        'proderco'                => '#064280',
        'financiero-training'     => '#053874',
        'financiero'              => '#053874',
        'cmac-sullana'            => '#FB0D1B',
        'prima-training'          => '#EB542E',
        'primaprende'             => '#EB542E',
        'gthpensum'               => '#003e7e',
        'otec-training'           => '#003960',
        'otec'                    => '#003960',
        'misecurity-training'       => '#003e7e',
        'misecurity-training2'       => '#003e7e',
        'misecurity'       => '#003e7e',
        'misecurity-qa'       => '#003e7e',
        'misecurity-qa2'       => '#003e7e',
        'misecurity-qa3'       => '#003e7e',
        'robocon'                 => '#1a1a1a',
        'visanet-training'        => '#005AD7',
        'visanet'                 => '#005AD7',
        'danper'                  => '#FB0D1B',
        'danper-training'         => '#FB0D1B',
        'demo-capitalteam'        => '#1a1a1a',
        'seduc'                   => '#1a1a1a',
        'seduc-training'          => '#1a1a1a',
        'carsa'                   => '#DD0A1B',
        'carsa-training'          => '#DD0A1B',
        'diners'                  => '#074d97',
        'diners-training'         => '#074d97',
        'euroamerica-training'    => '#A30E2A',
        'eternit'                 => '#007268',
        'eternit-training'        => '#007268',
        'tmluc'                   => '#0B8C31',
        'tmluc-training'          => '#0B8C31',
        'primus'                  => '#247f73',
        'primus-training'         => '#1c3b9e',
        'bancofalabella'          => '#54b847',
        'bancofalabella-training' => '#54b847',
        'loga-training'           => '#008b3b',
        'pcfactory-training'      => '#279244',
        'pcfactory'               => '#279244',
        'luzdelsur'               => '#002856',
        'luzdelsur-training'      => '#002856',
        'utp-idat'                => '#A5112B',
        'utp-idat-training'       => '#A5112B',
        'tcs'                     => '#1885C8',
        'tcs-training'            => '#1885C8',
        'gasco'                   => '#a0110b',
        'gasco-training'          => '#a0110b',
        'afphabitat'                 => '#A81137',
        'afphabitat-training'        => '#A81137',
        'afphabitat-training2'        => '#A81137',
        'uai-training'            => '#1a1a1a',
        'auna-training'            => '#008FC1',
        'auna-creser'            => '#008FC1',
        'compassgroup'              => '#003d78',
        'compassgroup-training'     => '#003d78',
        'creciendocontigo-gdh'   => '#1a1a1a',
        'creciendocontigo-gdh-training'   => '#1a1a1a',
        'pj-escuelavirtual'   => '#1a1a1a',
        'pj-escuelavirtual-training'   => '#1a1a1a',
        'ngr'   => '#1a1a1a',
        'ngr-training'   => '#1a1a1a',
        'sagafalabella'          => '#A6CE39',
        'sagafalabella-training' => '#A6CE39',
        'cementosbb-training'          => '#01244e',
        'patagonia-training'             => '#8FC6E4',
        'thomasgreg-training'  => '#67BD52',
        'thomasgreg'  => '#67BD52'
    }

    $css_menu_text_color = {
        'localhost'               => '#fff',
        'capitalteam'             => '#fff',
        'test-a'                  => '#ffffff',
        'test'                    => '#fff',
        'lms-dev'                 => '#fff',
        'hochschild'              => '#000',
        'hochschild-training'     => '#000',
        'epacasmayo'              => '#fff',
        'epacasmayo-training'     => '#fff',
        'corpvida'                => '#fff',
        'pacificocrece'           => '#fff',
        'pacificocrece-training'  => '#fff',
        'fundacionsofofa'         => '#fff',
        'farmaciasperuanas-training'      => '#75787B',
        'farmaciasperuanas'               => '#75787B',
        'lan-training'            => '#fff',
        'proderco'                => '#fff',
        'financiero-training'     => '#fff',
        'financiero'              => '#fff',
        'cmac-sullana'            => '#fff',
        'prima-training'          => '#fff',
        'primaprende'             => '#fff',
        'gthpensum'               => '#fff',
        'otec-training'           => '#fff',
        'otec'                    => '#fff',
        'misecurity-training'       => '#003e7e',
        'misecurity-training2'       => '#003e7e',
        'misecurity'       => '#003e7e',
        'misecurity-qa'       => '#003e7e',
        'misecurity-qa2'       => '#003e7e',
        'misecurity-qa3'       => '#003e7e',
        'robocon'                 => '#fff',
        'visanet-training'        => '#fff',
        'visanet'                 => '#fff',
        'danper'                  => '#ffffff',
        'danper-training'         => '#ffffff',
        'demo-capitalteam'        => '#ffffff',
        'seduc'                   => '#0D4875',
        'seduc-training'          => '#0D4875',
        'carsa'                   => '#fff',
        'carsa-training'          => '#fff',
        'diners'                  => '#ffffff',
        'diners-training'         => '#ffffff',
        'euroamerica-training'    => '#A30E2A',
        'eternit'                 => '#fff',
        'eternit-training'        => '#fff',
        'tmluc'                   => '#fff',
        'tmluc-training'          => '#fff',
        'primus'                  => '#fff',
        'primus-training'         => '#fff',
        'bancofalabella'          => '#fff',
        'bancofalabella-training' => '#fff',
        'loga-training'           => '#ffffff',
        'pcfactory-training'      => '#ffffff',
        'pcfactory'               => '#ffffff',
        'luzdelsur'               => '#002856',
        'luzdelsur-training'      => '#002856',
        'utp-idat'                => '#A5112B',
        'utp-idat-training'       => '#A5112B',
        'tcs'                     => '#ffffff',
        'tcs-training'            => '#ffffff',
        'gasco'                   => '#ffffff',
        'gasco-training'          => '#ffffff',
        'afphabitat'                 => '#ffffff',
        'afphabitat-training'        => '#ffffff',
        'afphabitat-training2'        => '#ffffff',
        'uai-training'            => '#fff',
        'auna-training'            => '#fff',
        'auna-creser'            => '#fff',
        'compassgroup'              => '#fff',
        'compassgroup-training'     => '#fff',
        'creciendocontigo-gdh'   => '#3F88CC',
        'creciendocontigo-gdh-training'   => '#3F88CC',
        'pj-escuelavirtual'   => '#fff',
        'pj-escuelavirtual-training'   => '#fff',
        'ngr'   => '#fff',
        'ngr-training'   => '#fff',
        'sagafalabella'          => '#fff',
        'sagafalabella-training' => '#fff',
        'cementosbb-training'          => '#01244e',
        'patagonia-training'             => '#fff',
        'thomasgreg-training'  => '#fff',
        'thomasgreg'  => '#fff'
    }

    $css_link_text_color = {
        'localhost'               => '#3F88CC',
        'capitalteam'             => '#3F88CC',
        'test-a'                  => '#3F88CC',
        'test'                    => '#3F88CC',
        'lms-dev'                 => '#3F88CC',
        'hochschild'              => '#BD9F55',
        'hochschild-training'     => '#BD9F55',
        'epacasmayo'              => '#A30E2A',
        'epacasmayo-training'     => '#A30E2A',
        'corpvida'                => '#7BC142',
        'pacificocrece'           => '#3F88CC',
        'pacificocrece-training'  => '#3F88CC',
        'fundacionsofofa'         => '#3F88CC',
        'farmaciasperuanas-training'      => '#75787B',
        'farmaciasperuanas'               => '#75787B',
        'lan-training'            => '#003e7e',
        'proderco'                => '#064280',
        'financiero-training'     => '#053874',
        'financiero'              => '#053874',
        'cmac-sullana'            => '#FB0D1B',
        'prima-training'          => '#EB542E',
        'primaprende'             => '#EB542E',
        'gthpensum'               => '#003e7e',
        'otec-training'           => '#003960',
        'otec'                    => '#003960',
        'misecurity-training'       => '#003e7e',
        'misecurity-training2'       => '#003e7e',
        'misecurity'       => '#003e7e',
        'misecurity-qa'       => '#003e7e',
        'misecurity-qa2'       => '#003e7e',
        'misecurity-qa3'       => '#003e7e',
        'robocon'                 => '#3F88CC',
        'visanet-training'        => '#005AD7',
        'visanet'                 => '#005AD7',
        'danper'                  => '#FB0D1B',
        'danper-training'         => '#FB0D1B',
        'demo-capitalteam'        => '#3F88CC',
        'seduc'                   => '#0D4875',
        'seduc-training'          => '#0D4875',
        'carsa'                   => '#DD0A1B',
        'carsa-training'          => '#DD0A1B',
        'diners'                  => '#074d97',
        'diners-training'         => '#074d97',
        'euroamerica-training'    => '#A30E2A',
        'eternit'                 => '#007268',
        'eternit-training'        => '#007268',
        'tmluc'                   => '#0B8C31',
        'tmluc-training'          => '#0B8C31',
        'primus'                  => '#247f73',
        'primus-training'         => '#1c3b9e',
        'bancofalabella'          => '#54b847',
        'bancofalabella-training' => '#54b847',
        'loga-training'           => '#008b3b',
        'pcfactory-training'      => '#279244',
        'pcfactory'               => '#279244',
        'luzdelsur'               => '#002856',
        'luzdelsur-training'      => '#002856',
        'utp-idat'                => '#A5112B',
        'utp-idat-training'       => '#A5112B',
        'tcs'                     => '#1885C8',
        'tcs-training'            => '#1885C8',
        'gasco'                   => '#a0110b',
        'gasco-training'          => '#a0110b',
        'afphabitat'                 => '#A81137',
        'afphabitat-training'        => '#A81137',
        'afphabitat-training2'        => '#A81137',
        'uai-training'            => '#3F88CC',
        'auna-training'            => '#008FC1',
        'auna-creser'            => '#008FC1',
        'compassgroup'              => '#003d78',
        'compassgroup-training'     => '#003d78',
        'creciendocontigo-gdh'   => '#3F88CC',
        'creciendocontigo-gdh-training'   => '#3F88CC',
        'pj-escuelavirtual'   => '#cb6107',
        'pj-escuelavirtual-training'   => '#cb6107',
        'ngr'   => '#FE8501',
        'ngr-training'   => '#FE8501',
        'sagafalabella'          => '#A6CE39',
        'sagafalabella-training' => '#A6CE39',
        'cementosbb-training'          => '#01244e',
        'patagonia-training'             => '#8FC6E4',
        'thomasgreg-training'  => '#67BD52',
        'thomasgreg'  => '#67BD52'

    }

    $css_icon_menu_mobile = {
        'localhost'               => '#fff',
        'capitalteam'             => '#fff',
        'test-a'                  => '#ffffff',
        'test'                    => '#fff',
        'lms-dev'                 => '#fff',
        'hochschild'              => '#000',
        'hochschild-training'     => '#000',
        'epacasmayo'              => '#fff',
        'epacasmayo-training'     => '#fff',
        'corpvida'                => '#fff',
        'pacificocrece'           => '#fff',
        'pacificocrece-training'  => '#fff',
        'fundacionsofofa'         => '#fff',
        'farmaciasperuanas-training'      => '#75787B',
        'farmaciasperuanas'               => '#75787B',
        'lan-training'            => '#fff',
        'proderco'                => '#fff',
        'financiero-training'     => '#fff',
        'financiero'              => '#fff',
        'cmac-sullana'            => '#fff',
        'prima-training'          => '#fff',
        'primaprende'             => '#fff',
        'gthpensum'               => '#fff',
        'otec-training'           => '#fff',
        'otec'                    => '#fff',
        'misecurity-training'       => '#003e7e',
        'misecurity-training2'       => '#003e7e',
        'misecurity'       => '#003e7e',
        'misecurity-qa'       => '#003e7e',
        'misecurity-qa2'       => '#003e7e',
        'misecurity-qa3'       => '#003e7e',
        'robocon'                 => '#fff',
        'visanet-training'        => '#fff',
        'visanet'                 => '#fff',
        'danper'                  => '#ffffff',
        'danper-training'         => '#ffffff',
        'demo-capitalteam'        => '#ffffff',
        'seduc'                   => '#0D4875',
        'seduc-training'          => '#0D4875',
        'carsa'                   => '#fff',
        'carsa-training'          => '#fff',
        'diners'                  => '#ffffff',
        'diners-training'         => '#ffffff',
        'euroamerica-training'    => '#A30E2A',
        'eternit'                 => '#fff',
        'eternit-training'        => '#fff',
        'tmluc'                   => '#fff',
        'tmluc-training'          => '#fff',
        'primus'                  => '#fff',
        'primus-training'         => '#fff',
        'bancofalabella'          => '#fff',
        'bancofalabella-training' => '#fff',
        'loga-training'           => '#ffffff',
        'pcfactory-training'      => '#ffffff',
        'pcfactory'               => '#ffffff',
        'luzdelsur'               => '#002856',
        'luzdelsur-training'      => '#002856',
        'utp-idat'                => '#A5112B',
        'utp-idat-training'       => '#A5112B',
        'tcs'                     => '#ffffff',
        'tcs-training'            => '#ffffff',
        'gasco'                   => '#ffffff',
        'gasco-training'          => '#ffffff',
        'afphabitat'                 => '#ffffff',
        'afphabitat-training'        => '#ffffff',
        'afphabitat-training2'        => '#ffffff',
        'uai-training'            => '#fff',
        'auna-training'            => '#fff',
        'auna-creser'            => '#fff',
        'compassgroup'              => '#fff',
        'compassgroup-training'     => '#fff',
        'creciendocontigo-gdh'   => '#3F88CC',
        'creciendocontigo-gdh-training'   => '#3F88CC',
        'pj-escuelavirtual'   => '#fff',
        'pj-escuelavirtual-training'   => '#fff',
        'ngr'   => '#fff',
        'ngr-training'   => '#fff',
        'sagafalabella'          => '#fff',
        'sagafalabella-training' => '#fff',
        'cementosbb-training'          => '#fff',
        'patagonia-training'             => '#fff',
        'thomasgreg-training'  => '#fff',
        'thomasgreg'  => '#fff'
    }
%>
