<% if @error_index_equipment_bill && @error_index_equipment_bill.length > 0 %>

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">

          <table class="table table-striped table-hover table-condensed table-bordered">

            <thead>
            <tr>
              <th>Hoja</th>
              <th>Línea</th>
              <th>Error</th>
              <th>Descripción</th>
              <th>Número de celular</th>
              <th>Rut</th>
              <th>Folio</th>
              <th>Valor neto</th>
              <th>Descuento</th>
              <th>Neto total</th>
              <th>Neto con iva</th>
            </tr>
            </thead>

            <tbody>
            <% @error_index_equipment_bill.each_with_index do |l, index| %>
                <tr>
                  <td> <%= @error_content_equipment_bill[index][0].to_s %> </td>
                  <td><%= l %></td>
                  <td><li class="text-danger"><%= @error_message_equipment_bill[index] %></li></td>
                  <td> <%= @error_content_equipment_bill[index][1].to_s %> </td>
                  <td> <%= @error_content_equipment_bill[index][2].to_s %> </td>
                  <td> <%= @error_content_equipment_bill[index][3].to_s %> </td>
                  <td> <%= @error_content_equipment_bill[index][4].to_s %> </td>
                  <td> <%= @error_content_equipment_bill[index][5].to_s %> </td>
                  <td> <%= @error_content_equipment_bill[index][6].to_s %> </td>
                  <td> <%= @error_content_equipment_bill[index][7].to_s %> </td>
                  <td> <%= @error_content_equipment_bill[index][8].to_s %> </td>
                </tr>

            <% end %>

            </tbody>

          </table>

        </div>
      </div>
      <!--</div>-->
    </div>

<% end %>