<%= form_for BenCellphoneBillItem.new, url: ben_cellphone_processes_plan_path(ben_cellphone_process), html: {class: 'form-horizontal', multipart: true, method: :post} do |f| %>
    <div class="panel panel-default">
      <div class="panel-body" style="height:<%= height %>">
        <legend> <%= t('views.ben_cellphone_process.shared.upload_plan') %> </legend>
          <div class="form-group col-md-12" >
            <%= file_field 'upload', 'datafile', class: 'form-control' %>
          </div>
          <div class="col-md-12" >
            <% t('views.ben_cellphone_process.array.plan_explanation').each do |explain| %>
              <li> <%= explain %> </li>
            <% end %>
            <li> Se han cargado <%= plan_charged %> registros de planes. Si se carga nuevamente se añadirán los nuevos registros. </li>
          </div>
      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit t('views.ben_cellphone_process.forms.upload'), class: 'btn btn-primary upload_excel_bills', :onclick => 'disable_load_buttons()' %>
        </div>
      </div>
    </div>
<% end %>

