<%= form_for @ben_cellphone_process, url: update_cellphone_process_path(@ben_cellphone_process),html: {class: 'form-horizontal'} do |f| %>

    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.ben_cellphone_process.shared.process_detail') %> </legend>

        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group <%= field_with_errors f, :month %>">
          <%= f.label :month, class: 'col-md-3 control-label' %>
          <div class="col-md-9">



            <%= f.select :month, options_for_select([['Enero',1],['Febrero',2],['Marzo',3],
                                                     ['Abril',4],['Mayo',5],['Junio',6],
                                                     ['Julio',7],['Agosto',8],['Setiembre',9],
                                                     ['Octubre',10],['Noviembre',11],['Diciembre',12]], @ben_cellphone_process.month),{},
                         class: 'form-control' %>

          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :year %>">
          <%= f.label :year, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.select :year,[Time.current.year+1, Time.current.year, Time.current.year-1, Time.current.year-2],{}, class: 'form-control'%>
          </div>
        </div>

      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit t('views.ben_cellphone_process.forms.save'), class: 'btn btn-primary' %>
        </div>
      </div>

    </div>
<% end %>