<tr id="<%= user_cellphone_process.id %>">
  <td> <%= user_cellphone_process.user.codigo %></td>
  <td><%= user_cellphone_process.user.apellidos%></td>
  <td><%=user_cellphone_process.user.nombre %></td>

  <% ben_cellphone_characteristics.each do |ben_cellphone_characteristic| %>
      <td>
        <%= user_cellphone_process.user.formatted_characteristic_value ben_cellphone_characteristic.characteristic %>
      </td>
  <% end %>

  <td><%= user_cellphone_process.ben_cellphone_number.number_formatted %></td>
  <td align="right" id="<%= user_cellphone_process.id.to_s+'_registered_manually_total' %>"><%= number_with_precision( user_cellphone_process.registered_manually_total, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %></td>
  <td align="right" id="<%= user_cellphone_process.id.to_s+'_total_bill' %>"><%= number_with_precision( user_cellphone_process.total_bill, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %></td>
  <td align="right" id="<%= user_cellphone_process.id.to_s+'_configured_subsidy' %>" ><%= number_with_precision( user_cellphone_process.configured_subsidy, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %></td>
  <td align="right" id="<%= user_cellphone_process.id.to_s+'_applied_subsidy' %>"><%= number_with_precision( user_cellphone_process.applied_subsidy, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %></td>
  <td align="right" id="<%= user_cellphone_process.id.to_s+'_total_charged' %>"><%= number_with_precision( user_cellphone_process.total_charged, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %></td>
  <td>
    <%= link_to t('views.ben_cellphone_process.shared.table_headers.open_detail'), '#', :id => user_cellphone_process.id.to_s+'_bills_detail_link', :onclick => 'load_bills_detail(this)', :data => { :url => bills_detail_path(user_cellphone_process), :user_cellphone=> user_cellphone_process.id.to_s, :already_opened => 0} %>
  </td>
</tr>

<tr>
  <td style="display: none" colspan="<%=(ben_cellphone_characteristics.size+10).to_s%>" id="<%= user_cellphone_process.id.to_s+'_success_message' %>" class="alert alert-success" >
   <li style="font-size: 12px;"> <%=t('views.ben_cellphone_process.shared.flash_messages.change_sucess') %> </li>
  </td>
</tr>

<tr style="display: none" id="<%= user_cellphone_process.id.to_s+'_bills_detail_tr' %>">
  <td colspan="<%=(ben_cellphone_characteristics.size+10).to_s%>" id="<%= user_cellphone_process.id.to_s+'_bills_detail_td' %>">

  </td>
</tr>



<script>

    <% if defined?(success_flash) and success_flash %>
      $(function () {
          var flash = '#<%=user_cellphone_process.id.to_s%>_success_message';
          $(flash).show(500).delay(2000).hide(500);
      });
    <% end %>

  <% if defined?(open_detail) and open_detail %>
    $(function () {
        open_detail_id = '#<%=user_cellphone_process.id.to_s%>_bills_detail_link';
        $(open_detail_id).click();
    });
  <% end %>

    function load_bills_detail(link) {
        $(function () {
            var url = $(link).data('url')
            var id = $(link).data('user-cellphone')
            call_ajax_load_bills_detail(url, id)
        });
    }

    function call_ajax_load_bills_detail(url, id) {
        id_td = '#'+id+'_bills_detail_td'
        id_tr = '#'+id+'_bills_detail_tr'
        id_link = '#'+id+'_bills_detail_link'

        if ($(id_link).data('already-opened') == 0){
            $.ajax({
                url: url,
                type: "get",
                dataType: "html",
                success: function (result) {
                    $(id_td).html(result);
                    $(id_link).data('already-opened',1)
                }
            })
        }

        if($(id_tr).css('display') != 'none'){
            $(id_link).text("<%=t('views.ben_cellphone_process.shared.table_headers.open_detail') %>")
        }else{
            $(id_link).text("<%=t('views.ben_cellphone_process.shared.table_headers.close_detail') %>")
        }

        $(id_tr).toggle(500);
    }

</script>