<tr>
  <td style="display: none" colspan="11" id="<%= bill_item.id.to_s+'_success_message' %>" class="alert alert-success" >
    <li style="font-size: 12px;"> <%=t('views.ben_cellphone_process.shared.flash_messages.change_sucess') %> </li>
  </td>
</tr>

<tr id="<%= bill_item.id.to_s+'_not_matched_tr' %>" class="not_matched_information_row">
  <td class="error_checkbox">
    <% unless bill_item.not_charge_to_payroll || bill_item.ben_cellphone_process.charged_to_payroll%>
        <input class="form-check-input position-static not_charge_to_payroll <%= 'not_active_user' if bill_item.ben_cellphone_number && !bill_item.ben_cellphone_number.user.activo %> " type="checkbox" value="<%=bill_item.id%>" aria-label="...">
    <% end %>
  </td>
  <% text_color = bill_item.not_charge_to_payroll ? 'success' : 'danger' %>
  <td class="text-<%= text_color %>">
    <% if bill_item.ben_cellphone_process.charged_to_payroll %>
        <% if bill_item.bill_item_errors %>
            <% bill_item.bill_item_errors.split("-").each do |message| %>
                <li <%= 'class=not_active_user' if message=='Usuario no activo' %>><%= message %> </li>
            <% end %>
        <% end %>
    <% else %>
        <% bill_item.no_match_messages.each do |message| %>
            <li <%= 'class=not_active_user' if message[0]=='Usuario no activo' %>><%= message[0] %> </li>
        <% end %>
    <% end %>

  </td>

  <td> <%= bill_item.description %> </td>
  <td> <%= bill_item.cellphone_number_formatted %> </td>
  <td> <%= bill_item.company_rut %> </td>
  <td> <%= bill_item.bill_folio %> </td>
  <td align="right"><%= number_with_precision( bill_item.net_value, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %> </td>
  <td align="right"><%= number_with_precision( bill_item.discount, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %> </td>
  <td align="right"> <%= number_with_precision( bill_item.net_with_taxes, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %> </td>
  <% if bill_item.not_charge_to_payroll? %>
      <td> <a data-placement="left" tabindex="0" data-toggle="popover" data-trigger="focus" title="<%= bill_item.not_charge_to_payroll_description %>"><%= label_yes_not_datable( !bill_item.not_charge_to_payroll )%></a></td>
  <% else %>
      <td> <%= label_yes_not_datable( !bill_item.not_charge_to_payroll )%></td>
  <% end %>

  <% unless bill_item.ben_cellphone_process.charged_to_payroll? %>
      <% if bill_item.not_charge_to_payroll? %>
          <td>
            <%= link_to t('views.ben_cellphone_process.shared.process_flow.charge_to_payroll'), '#',
                        :id => bill_item.id.to_s+'_charge_to_payroll_link',
                        :onclick => 'load_charge_to_payroll_not_matched(this)',
                        :data => {
                            :url => charge_to_payroll_path(bill_item),
                            :bill_item => bill_item.id,
                            :process_url => update_messages_to_payroll_path(bill_item.ben_cellphone_process.id) } %>
          </td>
      <% else %>
          <td>
            <%= link_to t('views.ben_cellphone_process.shared.process_flow.not_charge_to_payroll'), '#',
                        :id => bill_item.id.to_s+'_not_charge_to_payroll_link',
                        :onclick => 'load_not_charge_to_payroll_modal_not_matched(this)',
                        :data => {
                            :url => not_charge_to_payroll_modal_path(bill_item),
                            :bill_item => bill_item.id } %>
          </td>
      <% end %>
  <% end %>
</tr>

<script>
    <% if defined?(success_flash) and success_flash %>
    $(function () {
        var flash = '#<%=bill_item.id.to_s%>_success_message';
        $(flash).show(500).delay(2000).hide(500);
    });
    <% end %>

    function load_charge_to_payroll_not_matched(link) {
        $(function () {
            var url = $(link).data('url')
            var id = $(link).data('bill-item')
            var process_url = $(link).data('process-url')
            call_ajax_charge_to_payroll_not_matched(url, id, process_url)
        });
    }

    function call_ajax_charge_to_payroll_not_matched(url, id, process_url) {
        tr_not_matched_bill_item='#'+id+'_not_matched_tr';
        $.ajax({
            url: url,
            type: "get",
            async: false,
            dataType: "html",
            success: function (result) {
                $(tr_not_matched_bill_item).replaceWith(result);
            }
        })
    }


    function load_not_charge_to_payroll_modal_not_matched(link) {
        $(function () {
            var url = $(link).data('url')
            var id = $(link).data('bill-item')
            call_ajax_not_charge_to_payroll_modal_not_matched(url, id)
        });
    }


    function call_ajax_not_charge_to_payroll_modal_not_matched(url, id) {
        $.ajax({
            url: url,
            type: "get",
            dataType: "html",
            success: function (result) {
                $('#not_charge_to_payroll_modal_container').html(result);
                $('#not_charge_to_payroll_modal').modal('toggle')
            }
        })
    }

</script>