<div class="panel panel-default">
  <div class="panel-body">
    <legend> <%= t('views.ben_cellphone_process.shared.no_match_table') %> </legend>
    <div class="row">
      <div class="col-md-3">
        <%= link_to 'Seleccionar sin usuario activo', '#', :onclick => 'select_not_user_active(this)' unless @ben_cellphone_process.charged_to_payroll? %>
      </div>

      <div class="col-md-3">
        <%= link_to 'Seleccionar todo', '#', :onclick => 'select_all(this)' unless @ben_cellphone_process.charged_to_payroll?%>
      </div>

      <div class="col-md-3">
        <%= link_to 'Seleccionar ninguno', '#', :onclick => 'select_none(this)' unless @ben_cellphone_process.charged_to_payroll?%>
      </div>

      <div class="col-md-3" align="right">
        <%= link_to 'No cargar a Payroll', '#', :onclick => 'massive_not_charge_to_payroll_modal(this)', :class => 'not_charge_to_payroll_button btn btn-primary', :style => "display: none;" unless @ben_cellphone_process.charged_to_payroll? %>
      </div>
    </div>
    <br>

    <table class="table table-bordered smart-form" style="font-size: 11px;" width="100%">
      <thead>
      <tr>
        <th> <%= '#' %> </th>
        <th> <%= 'Número' %> </th>
        <th> <%= alias_username %> </th>
        <th> <%= 'Apellidos' %> </th>
        <th> <%= 'Nombre' %> </th>
        <th> <%= 'Cantidad de items' %> </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% no_match_cellphone_numbers = [] %>
      <% no_matched_bills.each { |bill| no_match_cellphone_numbers << bill.cellphone_number unless no_match_cellphone_numbers.include?(bill.cellphone_number)} %>
      <% no_match_cellphone_numbers.each_with_index do |number, index| %>
      <% ben_cellphone_number = BenCellphoneNumber.where(number: number.delete(' ')).first %>
        <tr>
          <td> <%= index+1 %> </td>
          <td> <%= number.insert(3, ' ').insert(7, ' ') %> </td>
          <% number = number.delete(' ') %>
          <td><%= ben_cellphone_number.user.codigo if ben_cellphone_number %></td>
          <td><%= ben_cellphone_number.user.apellidos if ben_cellphone_number%></td>
          <td><%= ben_cellphone_number.user.nombre if ben_cellphone_number%></td>
          <td class="count_bills_<%= number %>"></td>
          <td> <%= link_to 'Ver detalle', '#', onclick: 'open_no_matched_detail(this)', data: {number: number.to_s} %> </td>
        </tr>

        <tr>
          <td colspan="7" class="td_container_<%=number%>" style="display: none">
          <table id='no_matched_bills_table' class="table table-bordered smart-form" style="font-size: 11px;" width="100%">
            <thead>
            <tr>
              <th colspan="2"> <%= t('views.ben_cellphone_process.shared.table_headers.error') %> </th>
              <th> <%= t('activerecord.attributes.ben_cellphone_bill_item.description') %> </th>
              <th> <%= t('activerecord.attributes.ben_cellphone_bill_item.cellphone_number') %> </th>
              <th> <%= t('activerecord.attributes.ben_cellphone_bill_item.company_rut') %> </th>
              <th> <%= t('activerecord.attributes.ben_cellphone_bill_item.bill_folio') %> </th>
              <th> <%= t('activerecord.attributes.ben_cellphone_bill_item.net_value') %> </th>
              <th> <%= t('activerecord.attributes.ben_cellphone_bill_item.discount') %> </th>
              <th> <%= t('activerecord.attributes.ben_cellphone_bill_item.net_with_taxes') %> </th>
              <th> <%= t('activerecord.attributes.ben_cellphone_bill_item.not_charge_to_payroll') %> </th>
              <% unless @ben_cellphone_process.charged_to_payroll? %>
                <th> <%= t('views.ben_cellphone_process.shared.table_headers.change_charge_to_payroll') %> </th>
              <% end %>
            </tr>
            </thead>
            <tbody class="table-body">
            <% count = 0 %>
            <% no_matched_bills.each do |bill_item| %>
              <% if bill_item.cellphone_number.delete(' ') == number.delete(' ') %>
                <%= render partial: 'no_matched_bills_row',
                           locals: {:bill_item => bill_item} %>
                <% count += 1 %>
              <% end %>
            <% end %>
            <script>
                $('.count_bills_<%=number%>').text(<%=count%>);
            </script>
            </tbody>
          </table>
        </tr>
      <% end %>

      </tbody>
    </table>
    </td>

    <div align="right">
      <br>
    <%= link_to 'Descargar lista de errores', ben_cellphone_no_matched_errors_path(format:'xlsx') %>
    </div>
  </div>
</div>

<script>
    function select_not_user_active() {
        $(":checkbox.not_charge_to_payroll.not_active_user").prop('checked', true)
        checkbox_errors()
    }

    function select_all() {
        $(":checkbox.not_charge_to_payroll").prop('checked', true)
        checkbox_errors()
    }

    function select_none() {
        $(":checkbox.not_charge_to_payroll").prop('checked', false)
        checkbox_errors()
    }

    $(":checkbox.not_charge_to_payroll").change(function(){
        checkbox_errors()
    });

    function checkbox_errors(){
        if ($(":checkbox:checked.not_charge_to_payroll").size() > 0){
            $(".not_charge_to_payroll_button").show()
        }else{
            $(".not_charge_to_payroll_button").hide()
        }
    }

    function massive_not_charge_to_payroll_modal(){
        $("#modal_errors_massive_not_charge_to").hide();
        $('#not_charge_to_payroll_modal_massive').modal('toggle')
    }

    function open_no_matched_detail(link){
        var td = '.td_container_'+$(link).data('number')
        $(td).toggle()
    }

</script>