<div class="panel panel-default">
  <div class="panel-body">
    <legend> <%= t('views.ben_cellphone_process.shared.process_detail') %> </legend>

    <div class="row">
      <div class="col-md-4" align="right">
        <strong> <%= t('activerecord.attributes.ben_cellphone_process.date') %> </strong>
      </div>
      <div class="col-md-8">
        <%= t('date.month_names')[ben_cellphone_process.month].to_s+' '+ben_cellphone_process.year.to_s %>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-4" align="right">
        <strong><%= t('activerecord.attributes.ben_cellphone_process.charged_to_payroll') %></strong>
      </div>
      <div class="col-md-8">
        <%= label_yes_not( ben_cellphone_process.charged_to_payroll )%>
      </div>
    </div>
    <br>

    <% if defined?(opened_process) and opened_process %>
        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= link_to 'Descargar informe', ben_cellphone_processes_complete_excel_path(ben_cellphone_process.id, format: "xlsx") %>
            &nbsp;&nbsp;&nbsp;
            <%= link_to t('views.ben_cellphone_process.shared.edit_ben_process') , edit_cellphone_process_path(ben_cellphone_process) %>
          </div>
        </div>
    <% else %>
        <div class="row">
          <div class="col-md-4" align="right">
            <strong><%= t('activerecord.attributes.ben_cellphone_process.charged_to_payroll_by_user') %></strong>
          </div>
          <div class="col-md-8">
            <%= ben_cellphone_process.charged_by_user_information %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-4" align="right">
            <strong><%= t('activerecord.attributes.ben_cellphone_process.charged_to_payroll_at') %></strong>
          </div>
          <div class="col-md-8">
            <%=(localize ben_cellphone_process.charged_to_payroll_at, :format => :day_snmonth_year)+' '+ben_cellphone_process.charged_to_payroll_at_long_formatted %>
          </div>
        </div>

        <br>
        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= link_to 'Descargar informe', ben_cellphone_processes_complete_excel_path(ben_cellphone_process.id, format: "xlsx")  %>
          </div>
        </div>
  <% end %>
</div>