<div class="panel panel-default">
  <div class="panel-body" style="height: <%= height %> ">
    <h5> Al abrir el proceso, éste estará disponible para realizar cambios. </h5>
  </div>
  <div class="panel-footer clearfix" style="height: <%= footer_height %> ">
    <div class="pull-right">
      <%= link_to t('views.ben_cellphone_process.shared.process_flow.reopen_process'), ben_cellphone_processes_close_open_process_path(ben_cellphone_process), class: 'btn btn-primary', method: :get, data: { confirm: t('views.ben_cellphone_process.shared.process_flow.open_process_confirmation') }  %>
    </div>
  </div>
</div>