<div class="panel panel-default">
  <div class="panel-body">
    <h5> Al cerrar el proceso, la información de las facturas estará disponible únicamente para visualización. </h5>
    <% if not_validated > 0 %> <h5 class="text-danger"><li><strong>Faltan validar <%= not_validated %> facturas.</strong></li></h5> <% end %>
    <% if  not_matched > 0 %> <h5 class="text-danger"><li><strong class="errors_bill_message_to_payroll">El proceso tiene <%= not_matched %> facturas con errores.</strong> </li> </h5> <% end %>
  </div>

  <div class="panel-footer clearfix">
    <div class="pull-right">
      <%= link_to t('views.ben_cellphone_process.shared.process_flow.end_process'), ben_cellphone_processes_close_open_process_path(ben_cellphone_process), class: "btn btn-primary close_process_button requestSent #{'disabled' if not_validated > 0 or not_matched > 0}", method: :get, data: { confirm: t('views.ben_cellphone_process.shared.process_flow.close_process_confirmation') }  %>
    </div>
  </div>
</div>