<legend> Información de pagos a Movistar </legend>
<table id='datatable_validation_ben_cellphone_process' class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">

  <thead>
  <tr>
    <th> Periodo </th>
    <th> <%= t('activerecord.attributes.ben_cellphone_bill_item.cellphone_number') %></th>
    <th> <%= t('activerecord.attributes.ben_user_cellphone_process.total_bill')%> </th>
    <th> <%= t('activerecord.attributes.ben_user_cellphone_process.configured_subsidy')%></th>
    <th> <%= t('activerecord.attributes.ben_user_cellphone_process.applied_subsidy')%> </th>
    <th> <%= t('activerecord.attributes.ben_user_cellphone_process.total_charged')%> </th>
    <th> </th>
  </tr>
  </thead>
      <% user_to_show.ben_user_cellphone_processes.joins(:ben_cellphone_process).where(:ben_cellphone_processes => {:charged_to_payroll => true}).each do |user_cellphone_process| %>
          <tr data-id="<%=	 user_cellphone_process.ben_cellphone_number_id %>">
            <td><%= user_cellphone_process.ben_cellphone_process.month.to_s+'/'+user_cellphone_process.ben_cellphone_process.year.to_s %></td>
            <td><%= user_cellphone_process.ben_cellphone_number.number %></td>
            <td><%= user_cellphone_process.total_bill %></td>
            <td><%= number_with_precision( user_cellphone_process.configured_subsidy, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %></td>
            <td><%= number_with_precision( user_cellphone_process.applied_subsidy, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %></td>
            <td><%= number_with_precision( user_cellphone_process.total_charged, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %></td>
            <td>
              <%= link_to t('views.ben_cellphone_process.shared.table_headers.open_detail'),'#', :onclick => 'ver_detalle(this)', :data => {:parent_id => user_cellphone_process.ben_cellphone_number_id } %>
            </td>
          </tr>
          <tr style="display: none" data-parent-id = "<%=	 user_cellphone_process.ben_cellphone_number_id  %>">
            <td colspan="7">
              <table id='datatable_validation_detail_ben_cellphone_process' class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">

                <thead>
                <tr>
                  <th> <%= t('activerecord.attributes.ben_cellphone_bill_item.description') %></th>
                  <th> Monto cargado </th>
                </tr>
                </thead>

                <% user_cellphone_process.ben_cellphone_bill_items.where(:not_charge_to_payroll => false ).each do |bill_item| %>
                    <%# if bill_item.ben_cellphone_number and bill_item.ben_cellphone_number.number == user_cellphone_process.ben_cellphone_number.number %>
                    <tr>
                      <td> <%= bill_item.description %> </td>
                      <td><%= number_with_precision( bill_item.net_with_taxes, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %> </td>
                    </tr>
                <% end %>
                <%# end %>
              </table>
            </td>
          </tr>
      <% end %>
</table>

<script>
    $(function () {
        $('a[data-toggle="tab"]').first().click();
    })


    function ver_detalle(link) {
        parent_id = $(link).data('parent-id')

        tr_to_show = $('tr[data-parent-id="' + parent_id + '"]')

        tr_to_show.toggle()

    }

</script>