<div class="modal fade" id="add_bill_item_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x &nbsp;</button>
    <%= form_for @ben_cellphone_bill_item, url: add_bill_item_modal_step2_path(@ben_cellphone_bill_item.ben_user_cellphone_process_id), method: :post, html: {class: 'form-horizontal', id:'add_bill_item_modal_form' } do |f| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <legend> <%= t('views.ben_cellphone_process.shared.new_bill_item') %></legend>
            <div class="alert alert-danger" style="display: none" id="modal_errors_div">
              <li id="modal_errors_rut" style="display: none"> Rut de compañía no puede ser vacío </li>
              <li id="modal_errors_folio" style="display: none"> Folio no puede ser vacío </li>
              <li id="modal_errors_description" style="display: none"> La descripción no puede ser vacía </li>
              <li id="modal_errors_net_with_taxes"  style="display: none"> Neto con IVA no puede ser vacío </li>
              <li id="modal_errors_net_with_taxes_number"  style="display: none"> Neto con IVA debe ser numérico </li>
              <li id="modal_errors_why"  style="display: none"> ¿Por qué el registro manual? no puede ser vacío </li>
            </div>

            <%= render 'shared/error_messages', object: f.object %>

            <div class="form-group <%= field_with_errors f, :company_rut %>">
              <%= f.label :company_rut, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <%= f.text_field :company_rut, class: 'form-control'%>
              </div>
            </div>

            <div class="form-group <%= field_with_errors f, :bill_folio %>">
              <%= f.label :bill_folio, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <%= f.text_field :bill_folio, class: 'form-control', autofocus: 'autofocus'%>
              </div>
            </div>

            <div class="form-group <%= field_with_errors f, :description %>">
              <%= f.label :description , class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <%= f.text_field :description, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group <%= field_with_errors f, :net_with_taxes %>">
              <%= f.label :net_with_taxes, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <%= f.text_field :net_with_taxes, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group <%= field_with_errors f, :registered_manually_description %>">
              <%= f.label :registered_manually_description, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <%= f.text_area :registered_manually_description, class: 'form-control', :rows => 3 %>
              </div>
            </div>

          </div>

          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= f.submit t('views.ben_cellphone_number.forms.save'), class: 'btn btn-primary' %>
            </div>
          </div>


        </div>
    <% end %>
  </div>
</div>

<script>
    $('#add_bill_item_modal_form').on('submit', function(e){
        e.preventDefault();
        save = true

        $("#modal_errors_div").hide();
        $("#modal_errors_rut").hide();
        $("#modal_errors_folio").hide();
        $("#modal_errors_description").hide();
        $("#modal_errors_net_with_taxes").hide();
        $("#modal_errors_net_with_taxes_number").hide();
        $("#modal_errors_why").hide();

        if($("#ben_cellphone_bill_item_company_rut").val() === '') {
            $("#modal_errors_rut").show(500);
            save = false
        }
        if($("#ben_cellphone_bill_item_bill_folio").val() === '') {

            $("#modal_errors_folio").show(500);
            save = false
        }

        if($("#ben_cellphone_bill_item_description").val() === '') {
            $("#modal_errors_description").show(500);
            save = false
        }

        if($("#ben_cellphone_bill_item_net_with_taxes").val() === '') {
            $("#modal_errors_net_with_taxes").show(500);
            save = false
        }else{
            if(!($.isNumeric($("#ben_cellphone_bill_item_net_with_taxes").val()))) {
                $("#modal_errors_net_with_taxes_number").show(500);
                save = false
            }
        }

        if($("#ben_cellphone_bill_item_registered_manually_description").val() === '') {
            $("#modal_errors_why").show(500);
            save = false
        }

        if (save){
          $("#add_bill_item_modal").modal('hide');
          tr_user_cellphone='#<%=@ben_cellphone_bill_item.ben_user_cellphone_process_id%>';
          tr_detail = '#<%=@ben_cellphone_bill_item.ben_user_cellphone_process_id%>_bills_detail_tr';
          url = $(this).attr('action');

          $.ajax({
              url: url,
              type: 'POST',
              data: $('#add_bill_item_modal_form').serialize(),
              dataType: "html",
              success: function(data){
                  $(tr_detail).remove();
                  $(tr_user_cellphone).replaceWith(data);
              }
          });
        }else{
            $("#modal_errors_div").show(500);
        }
    });
</script>