<% if @ben_cellphone_bill_item.ben_user_cellphone_process %>
    <%= render partial: 'matched_bills_user_cellphone',
               locals: { user_cellphone_process: @ben_cellphone_bill_item.ben_user_cellphone_process,
                         ben_cellphone_characteristics: @ben_cellphone_characteristics,
                         open_detail: true,
                         success_flash: true }
    %>
<% else %>

<% end %>