<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.ben_cellphone_process.shared.back_validation')).html_safe,
                ben_cellphone_process_just_added_bill_item2_path(@ben_cellphone_bill_item), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-mobile" aria-hidden="true"></i>
      <%= t('views.ben_cellphone_process.shared.process_flow.bill_items') %>
      <span>> <%= t('views.ben_cellphone_process.shared.process_flow.dont_charge_to_payroll') %> </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'show_bill_item' %>
  </div>
</div>