<% if @ben_cellphone_bill_item.ben_cellphone_number &&  @ben_cellphone_bill_item.ben_cellphone_number.active && @ben_cellphone_bill_item.ben_cellphone_number.user.activo %>
    <%= render partial: 'matched_bills_user_cellphone',
               locals: { user_cellphone_process: @ben_cellphone_bill_item.ben_user_cellphone_process,
                         ben_cellphone_characteristics: @ben_cellphone_characteristics,
                         open_detail: true,
                         success_flash: true }
    %>
<% else %>
    <%= render partial: 'no_matched_bills_row',
               locals: { :bill_item => @ben_cellphone_bill_item,
                         success_flash: true }
    %>
<% end %>