<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.ben_cellphone_process.shared.back_list_process')).html_safe, show_ben_cellphone_process_path(@ben_cellphone_process,0), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-mobile" aria-hidden="true"></i>
      <%= t('views.ben_cellphone_process.shared.model') %>
      <span>> <%= t('views.ben_cellphone_process.shared.edit_ben_process') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'form' %>

  </div>
</div>

