  <div class="panel panel-default">
    <div class="panel-body">

      <legend> <%= t('views.ben_cellphone_process.shared.model') %></legend>

      <table id='datatable_ben_cellphone_process' class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">

        <thead>

        <tr>
          <th> <%= t('activerecord.attributes.ben_cellphone_process.month')+' '+t('activerecord.attributes.ben_cellphone_process.year') %></th>
          <th> <%= t('activerecord.attributes.ben_cellphone_process.charged_to_payroll') %></th>
          <th> <%= t('activerecord.attributes.ben_cellphone_process.charged_to_payroll_by_user') %></th>
          <th> <%= t('activerecord.attributes.ben_cellphone_process.charged_to_payroll_at') %> </th>
          <th> <%= link_to t('views.ben_cellphone_process.shared.create_ben_process'), new_ben_cellphone_process_path %> </th>
        </tr>

        <tr class="second">
          <td>
            <label class="input">
              <input type="text" name="search_date" value="" class="search_init">
            </label>
          </td>
          <td>
            <label class="input">
              <input type="text" name="search_charged_to_payroll" value="" class="search_init">
            </label>
          </td>
          <td>
            <label class="input">
              <input type="text" name="search_charged_to_payroll_by_user" value="" class="search_init">
            </label>
          </td>
          <td>
            <label class="input">
              <input type="text" name="search_charged_to_payroll_at" value="" class="search_init">
            </label>
          </td>
          <td></td>
        </tr>
        </thead>


        <% @ben_cellphone_processes.each do |ben_cellphone_process| %>
            <tr>
              <td>
                <% meses = t('date.month_names') %>
                <%= meses[ben_cellphone_process.month].to_s+' '+ben_cellphone_process.year.to_s %>
              </td>
              <td><%= label_yes_not_datable(ben_cellphone_process.charged_to_payroll) %></td>

              <% if ben_cellphone_process.charged_to_payroll == true %>
                  <td><%= ben_cellphone_process.charged_by_user_information %></td>
                  <td title="<%=(localize ben_cellphone_process.charged_to_payroll_at, :format => :day_snmonth_year)+' '+ben_cellphone_process.charged_to_payroll_at_long_formatted %>"><%= (localize ben_cellphone_process.charged_to_payroll_at, :format => :day_snmonth_year) %> </td>
              <% else %>
                  <td></td>
                  <td></td>
              <% end %>

              <td><%= link_to t('views.ben_cellphone_process.shared.show_ben_process'), show_ben_cellphone_process_path(ben_cellphone_process,0) %></td>
            </tr>
        <% end %>
        </table>
    </div>
  </div>

<%= render partial: '/shared/datatable',
           locals: { table_id: 'datatable_ben_cellphone_process' }
%>