<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.ben_cellphone_process.shared.back_list')).html_safe, ben_cellphone_processes_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-mobile" aria-hidden="true"></i>
      <%= t('views.ben_cellphone_process.shared.model') %>
      <span>> <%= t('views.ben_cellphone_process.shared.create_ben_process') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'create_form' %>

  </div>
</div>