<div class="col-md-12" id="to_payroll_to_close_process">
  <%= render partial: 'to_close_process',
             locals: {:ben_cellphone_process => @ben_cellphone_process,
                      :not_validated => @not_processed,
                      :not_matched => @not_matched_and_charge }%>
</div>