


<%= form_for @training_impact_value, html: {class: 'form-horizontal'} do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group <%= field_with_errors f, :nombre %>">

    <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

    <div class="col-md-9">

      <%= f.text_field :nombre, autofocus: 'autofocus' %>

    </div>

  </div>
  <div class="form-group <%= field_with_errors f, :valor %>">

    <%= f.label :valor, 'Valor', class: 'col-md-3 control-label' %>

    <div class="col-md-9">

      <%= f.text_field :valor %>

    </div>

  </div>



  <div class="form-group">

    <div class="col-md-9">

      <%= f.submit 'Guardar', class: 'btn btn-primary' %>

    </div>

  </div>

<% end %>




