

<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de valores de impacto', training_impact_values_path, tabindex: '-1' %>

  </li>
  <li class="active">Editar valor de impacto</li>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3 form-box-<%= $current_domain %>">

    <legend class="text-center">Editar valor de impacto</legend>

    <%= render 'form' %>

  </div>
</div>
