
<legend class="text-center">Lista de valores</legend>

<table class="table table-striped table-hover">

  <thead>

  <tr>
    <th>#</th>
    <th>Nombre</th>
    <th>Valor</th>
    <th colspan="3">
      <%= link_to 'Crear un valor', new_training_impact_value_path %>
    </th>
  </tr>

  </thead>

  <tbody>

<% @training_impact_values.each_with_index do |training_impact_value, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= training_impact_value.nombre %></td>
    <td><%= training_impact_value.valor %></td>
    <td><%= link_to 'Ver', training_impact_value %></td>
    <td><%= link_to 'Editar', edit_training_impact_value_path(training_impact_value) %></td>
    <td>
      <% if training_impact_value.dnc_training_impacts.length == 0 && training_impact_value.dnc_training_impact_ps.length == 0 %>
        <%= link_to 'Eliminar', delete_training_impact_value_path(training_impact_value) %></td>
      <% end %>
  </tr>
<% end %>

  </tbody>

</table>

