<div class="panel panel-default option stepChar">
  <div class="panel-body">

    <div class="form-group <%= field_with_errors f, :position %>">
      <%= f.label :position, 'Posición', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.number_field :position, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group <%= field_with_errors f, :sel_characteristic_id %>">
      <%= f.label :sel_characteristic_id, 'Característica', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.select :sel_characteristic_id, @sel_step.sel_template.sel_characteristics.collect {|x| [x.name, x.id]}, {}, class: 'form-control' %>
      </div>
    </div>
    <div class="pull-right">
      <%= link_to_remove_stepChars 'Eliminar', f %>
    </div>

  </div>
</div>