<h1>Listing sel_steps</h1>

<table>
  <tr>
    <th>Sel template</th>
    <th>Name</th>
    <th>Description</th>
    <th>Position</th>
    <th>Step type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sel_steps.each do |sel_step| %>
  <tr>
    <td><%= sel_step.sel_template %></td>
    <td><%= sel_step.name %></td>
    <td><%= sel_step.description %></td>
    <td><%= sel_step.position %></td>
    <td><%= sel_step.step_type %></td>
    <td><%= link_to 'Show', sel_step %></td>
    <td><%= link_to 'Edit', edit_sel_step_path(sel_step) %></td>
    <td><%= link_to 'Destroy', sel_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sel step', new_sel_step_path %>
