<div class="row">
  <div class="col-md-3">

    <%= link_to '<i class="fa fa-arrow-left"></i> Volver al plan de estudios'.html_safe, study_plan_path(@program_course.program), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>

      <%= @program_course.program.codigo %> - <%= @program_course.program.nombre %> <span class="program-color" style="background-color: <%= '#'+@program_course.program.color%>;">&nbsp;</span>
      <span>> Migrar curso </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @program_course, url: program_courses_migrate_program_path(@program_course), html: {method: :post, class: 'form-horizontal'} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Datos del curso</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group">

            <%= f.label :codigo, 'Código', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= @program_course.course.codigo %>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= @program_course.course.nombre %>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :orden %>">

            <%= f.label :orden, 'Orden', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= @program_course.orden %>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :activo %>">

            <%= f.label :activo, 'Activo (ya no estará disponible para matrículas)', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= @program_course.activo %>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :consultable %>">

            <%= f.label :consultable, 'Consultar (aunque ya se ha llevado, el usuario no podrá consultar el curso. Contenido ya no está vigente)', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= @program_course.consultable %>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :hidden_in_user_courses_list %>">

            <%= f.label :hidden_in_user_courses_list, 'Ocultar en la lista de cursos del alumno', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= @program_course.hidden_in_user_courses_list %>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :program_id %>">

            <%= f.label :program_id, 'Programa', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <% programs_array = Program.reorder('nombre').map { |p| [p.nombre, p.id] } %>
              <%= f.select(:program_id, options_for_select(programs_array, @program_course.program_id), class: 'form-control') %>

            </div>

          </div>



        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Migrar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>

  </div>
</div>

