<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el elemento'.html_safe, @pe_element, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Crear nuevo componente de descripción </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/show' %>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos de la evaluación
        </legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Dimensión</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.pe_dimension.name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Peso</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.weight %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.description %>
          </div>
        </div>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">

      <legend>Datos del elemento</legend>

      <div class="row">
        <div class="col-md-3">
          <strong>Nombre</strong>
        </div>
        <div class="col-md-9">
          <%= @pe_element.name %>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-3">
          <strong>Definido por</strong>
        </div>
        <div class="col-md-9">
          <%= PeElement.element_def_by_list[@pe_element.element_def_by] %>
        </div>
      </div>

      <br>

      <% if @pe_element.element_def_by == 1 %>

        <div class="row">
          <div class="col-md-3">
            <strong>Definido por los roles</strong>
          </div>
          <div class="col-md-9">
            <% @pe_element.element_def_by_rol.split('-').each do |e| %>
              <%= PeRel.rels[e.to_i] unless e.blank? %>
            <% end %>
          </div>
        </div>

        <br>

      <% end %>

      <hr>

      <div class="row">
        <div class="col-md-3">
          <strong>Pregunta evaluada/Agrupador</strong>
        </div>
        <div class="col-md-9">
          <% if @pe_element.assessed %>
            <span class="label label-success">Pregunta</span>
          <% else %>
            <span class="label label-info">Agrupador</span>
          <% end %>
        </div>
      </div>

      <% if @pe_element.assessed %>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Estructura</strong>
          </div>
          <div class="col-md-9">
            <% if @pe_element.simple %>
              <span class="label label-success">Simple</span>
            <% else %>
              <span class="label label-info">Compuesta</span>
            <% end %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3">
            <strong>Forma de cálculo</strong>
          </div>
          <div class="col-md-9">
            <%= PeElement.calculus_methods[@pe_element.calculus_method] %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3">
            <strong>Forma de valoración</strong>
          </div>
          <div class="col-md-9">
            <%= PeElement.assessment_methods[@pe_element.assessment_method] %>
          </div>
        </div>

        <br>

        <% if @pe_element.assessment_method > 0 %>
<!--
          <div class="row">
            <div class="col-md-3">
              <strong>Forma de valoración definida por</strong>
            </div>
            <div class="col-md-9">
              <% #PeElement.assessment_method_def_by_list[@pe_element.assessment_method_def_by] %>
            </div>
          </div>

          <br>

          <% if @pe_element.assessment_method_def_by == 1 %>

            <div class="row">
              <div class="col-md-3">
                <strong>Forma de valoración definida por los roles</strong>
              </div>
              <div class="col-md-9">
                <% @pe_element.assessment_method_def_by_rol.split('-').each do |e| %>
                  <%= PeRel.rels[e.to_i] unless e.blank? %>
                <% end %>
              </div>
            </div>

            <br>

          <% end %>

          <hr>
-->
        <% end %>

        <div class="row">
          <div class="col-md-3">
            <strong>Número mínimo de elementos que se pueden crear</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_element.min_number %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Número máximo de elementos que se pueden crear</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_element.max_number %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Peso mínimo que se le puede asignar a un elemento</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_element.min_weight %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Peso máximo que se le puede asignar a un elemento</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_element.max_weight %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Suma de los pesos de todos los elementos</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_element.weight_sum %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <strong>Visible</strong>
          </div>
          <div class="col-md-9">
            <% if @pe_element.visible %>
              <span class="label label-success">Sí</span>
            <% else %>
              <span class="label label-danger">No</span>
            <% end %>
          </div>
        </div>
        <% if @pe_element.visible %>
          <br>
          <div class="row">
            <div class="col-md-3">
              <strong>Mostrar nombre del elemento</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_element.display_name %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>

          <% if @pe_element.assessment_method == 1 %>

            <br>
            <div class="row">
              <div class="col-md-3">
                <strong>Forma de mostrar alternativas</strong>
              </div>
              <div class="col-md-9">

                <div class="row">

                  <% if @pe_element.alternatives_display_method == 0 %>
                    <select class="form-control">
                      <option>Alternativa 1</option>
                      <option>Alternativa 2</option>
                      <option>Alternativa N</option>
                    </select>
                  <% elsif @pe_element.alternatives_display_method == 1 %>
                    <input type="radio"> Alternativa 1<br>
                    <input type="radio"> Alternativa 2<br>
                    <input type="radio"> Alternativa N
                  <% elsif @pe_element.alternatives_display_method == 2 %>
                    <input type="radio"> Alternativa 1
                    <input type="radio"> Alternativa 2
                    <input type="radio"> Alternativa N
                  <% end %>

                </div>

              </div>
            </div>

          <% end %>

        <% end %>

      <% end %>

      </div>
    </div>


    <%= render 'form' %>

  </div>
</div>
