
<% index = 0 %>

<% pe_member_rels_is_evaluator.each do |pe_member_rel_evaluated| %>

  <% unless pe_member_rel_evaluated.pe_member_evaluated.removed %>

    <% index += 1 %>

    <tr>
    <td>
      <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
        <strike>
      <% end %>
      <%= index %>
      <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
        </strike>
      <% end %>
    </td>

    <% if pe_member_rel_evaluated.pe_process.of_persons %>

      <td>
        <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
          <strike>
        <% end %>

        <%= pe_member_rel_evaluated.pe_member_evaluated.user.codigo %></td>

        <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
          </strike>
        <% end %>
      <td>
        <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
          <strike>
        <% end %>

        <%= pe_member_rel_evaluated.pe_member_evaluated.user.apellidos %>, <%= pe_member_rel_evaluated.pe_member_evaluated.user.nombre %>

        <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
          </strike>
        <% end %>
      </td>

    <% else %>
      <td>
        <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
          <strike>
        <% end %>

        <% if pe_member_rel_evaluated.pe_member_evaluated.pe_area %>
          <%= pe_member_rel_evaluated.pe_member_evaluated.pe_area.name %>
        <% end %>

        <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
          </strike>
        <% end %>
      </td>
      <td>
        <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
          <strike>
        <% end %>

        <%= pe_member_rel_evaluated.pe_member_evaluated.user.apellidos %>,
        <%= pe_member_rel_evaluated.pe_member_evaluated.user.nombre %>

        <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
          </strike>
        <% end %>
      </td>
    <% end %>

      <td><%= pe_member_rel_evaluated.pe_process.name %> - <%= pe_member_rel_evaluated.pe_process.period %></td>

      <td>

        <%= pe_member_rel_evaluated.pe_rel.alias %>
      </td>

    <td>
      <% if pe_member_rel_evaluated.finished %>

        <% if pe_member_rel_evaluated.valid_evaluator %>

          <span class="label label-success label-smart-table">Finalizada</span>

        <% else %>

          <span class="label label-default label-smart-table">No aplica</span>

        <% end %>

      <% else %>
        <span class="label label-danger label-smart-table">No terminada</span>
      <% end %>
    </td>

    <% if has_to_assess_show_temp_res %>
      <td>
        <% if pe_member_rel_evaluated.pe_process.step_assess_uniq_show_temp_res %>
          <% pe_evaluation = pe_member_rel_evaluated.pe_process.pe_evaluations.first %>

          <% if pe_evaluation %>

            <% pe_assessment_evaluation = pe_member_rel_evaluated.pe_assessment_evaluation(pe_evaluation) %>

            <% if pe_assessment_evaluation %>

              <% if pe_assessment_evaluation.percentage >= 0 && pe_assessment_evaluation.valid_evaluation %>

                <%= number_with_precision(pe_assessment_evaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

              <% end %>

            <% end %>

          <% end %>
        <% end %>
      </td>
    <% end %>

    <td>

      <% if pe_member_rel_evaluated.finished %>

        <%= link_to 'Consultar', pe_assessment_show_2_from_uniq_path(pe_member_rel_evaluated.id,1) %>

      <% else %>

        <% if pe_member_rel_evaluated.pe_member_evaluated.step_assessment %>
          <span class="label label-success">La evaluación del colaborador ha finalizado</span>
        <% else %>
          <% @num_pend_assess += 1 %>
          <% if lms_time < pe_member_rel_evaluated.pe_process.from_date %>
            <span class="label label-default">Aún no disponible</span>
          <% else %>
            <% if lms_time > pe_member_rel_evaluated.pe_process.to_date %>
              <span class="label label-danger">Plazo vencido</span>
            <% else %>
              <% if pe_member_rel_evaluated.pe_rel.rel_name == :auto %>
                <%= link_to 'Autoevaluarme', pe_assessment_show_2_from_uniq_path(pe_member_rel_evaluated.id,1) %>
              <% else %>
                <%= link_to 'Evaluar', pe_assessment_show_2_from_uniq_path(pe_member_rel_evaluated.id,1) %>
              <% end %>

            <% end %>

          <% end %>

        <% end %>

      <% end %>

    </td>
  </tr>

  <% end %>

<% end %>
