<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">

      <div class="panel-body">

        <h1 class="page-title txt-color-blueDark">
          <%= pe_process.name %> - <%= pe_process.period %>
          <br>
          Calibrar <%= pe_evaluation.name %>
        </h1>

        <div class="row">

          <div class="col-md-12">

            <div class="panel panel-default">

              <div class="panel-body">
                <legend>Sesiones de calibración</legend>
                <br><br>
                <table id="datatable_fixed_column_cal_eval_<%= pe_process.id %>_<%= pe_evaluation.id %>" class="table table-bordered table-striped table-hover smart-form" width="100%">

                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Descripción</th>
                    <th>Inicio</th>
                    <th>Fin</th>
                    <th>Estado</th>
                    <th>Comité</th>
                    <th>Participantes calibrados</th>
                    <th></th>
                  </tr>
                  <td>
                    <label class="input">
                      <input type="text" class="hidden">
                    </label>
                  </td>
                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>
                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>
                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>
                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>
                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>
                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>
                    <td>
                    </td>
                  </tr>
                  </thead>


                  <tbody>

                  <% pe_evaluation.cal_sessions_for_pe_member_committee(user_connected).each_with_index do |pe_cal_session, index| %>

                    <tr>
                      <td><%= index+1 %></td>
                      <td><%= pe_cal_session.description %></td>
                      <td><%= (localize pe_cal_session.from_date, format: :day_snmonth_year) %></td>
                      <td><%= (localize pe_cal_session.to_date, format: :day_snmonth_year) %></td>
                      <td>
                        <% if pe_cal_session.active %>
                          <span class="label label-success label-smart-table" >Activa</span>
                        <% else %>
                          <span class="label label-danger label-smart-table">Finalizada</span>
                        <% end %>
                      </td>

                      <td>
                        <% pe_cal_session.pe_cal_committees_ordered.each do |pe_cal_committee| %>
                          <li>
                            <% if pe_cal_committee.manager %>
                              <span class="label-primary label-smart-table">&nbsp;R&nbsp;</span>
                            <% end %>
                            <%= pe_cal_committee.user.apellidos %>, <%= pe_cal_committee.user.nombre %>
                          </li>
                        <% end %>
                      </td>

                      <% num_needed_to_be_calibrated = pe_cal_session.number_of_members-pe_cal_session.number_of_calibrated_members %>

                      <td style="color: <%= num_needed_to_be_calibrated > 0 ? 'red' : 'green' %>;">

                        <%= pe_cal_session.number_of_calibrated_members %>/<%= pe_cal_session.number_of_members %>

                      </td>
                      <td>

                        <% lnk_text = 'Consultar' %>

                        <% lnk_text = 'Calibrar' if pe_cal_session.active && pe_cal_session.is_pe_cal_committee_manager?(user_connected) %>

                        <%= link_to lnk_text, pe_calibration_evaluations_show_session_path(pe_cal_session) %>

                      </td>
                    </tr>

                  <% end %>

                  </tbody>

                </table>


              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_fixed_column_cal_eval_'+pe_process.id.to_s+'_'+pe_evaluation.id.to_s
           }
%>