<br>

<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">

      <div class="panel-body">

        <h1 class="page-title txt-color-blueDark">
          <%= pe_process.name %> - <%= pe_process.period %>
          <br>
          <%= pe_process.step_query_results_alias %>
        </h1>

        <div class="row">

          <div class="col-md-12">

            <div class="panel panel-default">

              <div class="panel-body">

                <ul class="nav nav-tabs" role="tablist">

                  <% num_rel = 0 %>

                  <% pe_process.pe_rels.each do |pe_rel| %>

                    <% if pe_rel.rel == 1 %>

                      <% has_to_assess_as = false %>
                      <% has_to_be_assessed = false %>

                      <% has_to_assess_as = true if pe_member_connected.has_to_asses_as_pe_rel(pe_rel) %>
                      <% has_to_be_assessed = true if pe_member_connected.has_to_be_assesed_as_pe_rel(pe_rel) %>

                      <% if has_to_be_assessed %>

                        <% num_rel += 1 %>

                        <li class="<%= 'active' if num_rel == 1 %>">
                          <a href="#summary_table_me" role="tab" data-toggle="tab">
                            Mis Evaluaciones
                          </a>
                        </li>

                      <% end %>

                      <% if has_to_assess_as %>

                        <% num_rel += 1 %>

                        <li class="<%= 'active' if num_rel == 1 %>">
                          <a href="#summary_table_<%= pe_rel.id %>" role="tab" data-toggle="tab">
                            <%= pe_rel.alias_reverse_plural %>
                          </a>
                        </li>

                      <% end %>

                    <% end %>

                  <% end %>

                </ul>

                <div class="tab-content">

                  <% num_rel = 0 %>

                  <% pe_process.pe_rels.each do |pe_rel| %>

                    <% if pe_rel.rel == 1 %>

                      <% has_to_assess_as = false %>
                      <% has_to_be_assessed = false %>

                      <% has_to_assess_as = true if pe_member_connected.has_to_asses_as_pe_rel(pe_rel) %>
                      <% has_to_be_assessed = true if pe_member_connected.has_to_be_assesed_as_pe_rel(pe_rel) %>

                      <% if has_to_be_assessed %>

                        <% pe_evaluations = Array.new %>
                        <% pe_assessment_final_evaluations = Array.new %>

                        <% num_rel += 1 %>

                        <div class="tab-pane <%= 'active' if num_rel == 1 %>" id="summary_table_me">

                          <br>

                          <div class="row">
                            <div class="col-md-12">

                              <div class="text-center">
                                <ul class="nav nav-pills nav-pills-<%= $current_domain %>" style="display: inline-block;">

                                  <% orden_evaluation = 1 %>

                                  <% pe_process.pe_evaluations_to_display_in_qres.each do |pe_evaluation| %>
                                    <% if pe_member_connected.has_to_be_assessed_in_evaluation(pe_evaluation) %>

                                      <li id="tab_pill_<%= pe_evaluation.id %>" class="<%= 'active' if orden_evaluation == 1 %>">
                                        <a href="#tab_evaluation_<%= pe_evaluation.id %>" data-toggle="tab"><%= orden_evaluation %>. <%= pe_evaluation.name %></a>
                                      </li>

                                      <% orden_evaluation +=1 %>
                                      <% pe_evaluations.push pe_evaluation %>
                                      <% pe_assessment_final_evaluations.push pe_member_connected.pe_assessment_final_evaluation(pe_evaluation) %>

                                    <% end %>
                                  <% end %>

                                  <% if pe_process.step_query_show_summary %>
                                    <li id="tab_pill_summary">
                                      <a href="#tab_evaluation_summary" data-toggle="tab"><%= orden_evaluation %>. Resumen</a>
                                    </li>
                                  <% end %>

                                </ul>
                              </div>


                            </div>
                          </div>
                          <br>

                          <div class="row">
                            <div class="col-md-12">

                              <div class="tab-content">

                                <% orden_evaluation = 1 %>

                                <% pe_evaluations.each do |pe_evaluation| %>

                                  <%

                                    pe_member_rels_comments = Array.new
                                    pe_member_rels_comments.push(pe_member_rels) if pe_member_rels

                                    if ((pe_evaluation.qres_allow_individual_comments_by_boss && pe_evaluation.qres_allow_watch_individual_comments_by_boss) || pe_evaluation.qres_allow_individual_comments_with_boss)
                                      pe_rel_aux = pe_process.pe_rel_by_id 1
                                      pe_member_rels_comments += pe_member_connected.pe_member_rels_is_evaluated_as_pe_rel(pe_rel_aux) if pe_rel_aux
                                    end

                                  %>

                                  <div class="tab-pane <%= 'active' if orden_evaluation == 1 %>" id="tab_evaluation_<%= pe_evaluation.id %>" >

                                    <div class="panel panel-default">
                                      <div class="panel-body">
                                        <legend><%= orden_evaluation %>. <%= pe_evaluation.name %></legend>

                                        <% pe_assessment_final_evaluation = pe_member_connected.pe_assessment_final_evaluation(pe_evaluation) %>

                                        <% if pe_assessment_final_evaluation && pe_assessment_final_evaluation.percentage > -1 %>

                                          <strong>
                                            Resultado: <%= number_with_precision(pe_assessment_final_evaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
                                          </strong>

                                        <% end %>

                                        <% if  pe_evaluation.display_weight_in_qres %>
                                          <br><br>
                                          <strong>
                                            Peso:

                                            <% pe_member_evaluation = pe_member_connected.pe_member_evaluation(pe_evaluation) %>

                                            <% if pe_member_evaluation %>
                                              <%= pe_member_evaluation.weight %>%
                                            <% else %>
                                              <%= pe_evaluation.weight %>%
                                            <% end %>

                                          </strong>
                                        <% end %>
                                      </div>
                                    </div>

                                    <% if pe_evaluation.assessment_layout == 0 %>

                                      <!-- estandar -->

                                      <% if pe_evaluation.pe_elements.size == 1 %>

                                        <%= render partial: 'pe_query_results/evaluation_standard_1_element',
                                                   locals: {
                                                       pe_evaluation: pe_evaluation,
                                                       pe_member_evaluated: pe_member_connected,
                                                       pe_rel: pe_rel,
                                                       pe_member_rel: pe_member_rel_boss,
                                                       pe_member_rels_comments: pe_member_rels_comments
                                                   }
                                        %>

                                      <% elsif pe_evaluation.pe_elements.size == 2 %>

                                        <%= render partial: 'pe_query_results/evaluation_standard_2_elements',
                                                   locals: {
                                                       pe_evaluation: pe_evaluation,
                                                       pe_member_evaluated: pe_member_connected,
                                                       pe_rel: pe_rel,
                                                       pe_member_rel: pe_member_rel_boss,
                                                       pe_member_rels_comments: pe_member_rels_comments
                                                   }
                                        %>

                                      <% end %>

                                    <% elsif pe_evaluation.assessment_layout == 1 %>

                                      <!-- objetivos_e_indicadores -->

                                      <% if pe_evaluation.pe_elements.size == 1 %>

                                        <!-- indicador -->

                                        <%= render partial: 'pe_query_results/evaluation_ind',
                                                   locals: {
                                                       pe_evaluation: pe_evaluation,
                                                       pe_member_evaluated: pe_member_connected,
                                                       pe_rel: pe_rel,
                                                       pe_member_rel: pe_member_rel_boss,
                                                       pe_member_rels_comments: pe_member_rels_comments
                                                   }
                                        %>

                                      <% elsif pe_evaluation.pe_elements.size == 2 %>

                                        <!-- objetivo indicador -->

                                        <%= render partial: 'pe_query_results/evaluation_goal_ind',
                                                   locals: {
                                                       pe_evaluation: pe_evaluation,
                                                       pe_member_evaluated: pe_member_connected,
                                                       pe_rel: pe_rel,
                                                       pe_member_rel: pe_member_rel_boss,
                                                       pe_member_rels_comments: pe_member_rels_comments
                                                   }
                                        %>

                                      <% elsif pe_evaluation.pe_elements.size == 3 %>

                                        <!-- pilar objetivo indicador -->

                                        <%= render partial: 'pe_query_results/evaluation_pilar_goal_ind',
                                                   locals: {
                                                       pe_evaluation: pe_evaluation,
                                                       pe_member_evaluated: pe_member_connected,
                                                       pe_rel: pe_rel,
                                                       pe_member_rel: pe_member_rel_boss,
                                                       pe_member_rels_comments: pe_member_rels_comments
                                                   }
                                        %>

                                      <% end %>

                                    <% elsif pe_evaluation.assessment_layout == 2 %>

                                      <!-- grid_1_elemento -->

                                      <% if pe_evaluation.pe_elements.size == 1 %>



                                        <%= render partial: 'pe_query_results/evaluation_grid_1_element',
                                                   locals: {
                                                       pe_evaluation: pe_evaluation,
                                                       pe_member_evaluated: pe_member_connected,
                                                       pe_rel: pe_rel,
                                                       pe_member_rel: pe_member_rel_boss,
                                                       pe_member_rels_comments: pe_member_rels_comments
                                                   }
                                        %>

                                      <% end %>

                                    <% elsif pe_evaluation.assessment_layout == 3 %>

                                      <!-- grid_2_elementos -->

                                      <% if pe_evaluation.pe_elements.size == 2 %>

                                        <%= render partial: 'pe_query_results/evaluation_grid_2_elements',
                                                   locals: {
                                                       pe_evaluation: pe_evaluation,
                                                       pe_member_evaluated: pe_member_connected,
                                                       pe_rel: pe_rel,
                                                       pe_member_rel: pe_member_rel_boss,
                                                       pe_member_rels_comments: pe_member_rels_comments
                                                   }
                                        %>

                                      <% end %>

                                    <% elsif pe_evaluation.assessment_layout == 4 %>

                                      <!-- slider_1_elemento -->

                                      <% if pe_evaluation.pe_elements.size == 1 %>

                                        <%= render partial: 'pe_query_results/evaluation_slider_1_element',
                                                   locals: {
                                                       pe_evaluation: pe_evaluation,
                                                       pe_member_evaluated: pe_member_connected,
                                                       pe_rel: pe_rel,
                                                       pe_member_rel: pe_member_rel_boss,
                                                       pe_member_rels_comments: pe_member_rels_comments
                                                   }
                                        %>

                                      <% end %>

                                    <% elsif pe_evaluation.assessment_layout == 5 %>

                                      <!-- slider_2_elementos -->

                                      <% if pe_evaluation.pe_elements.size == 2 %>

                                        <%= render partial: 'pe_query_results/evaluation_slider_2_elements',
                                                   locals: {
                                                       pe_evaluation: pe_evaluation,
                                                       pe_member_evaluated: pe_member_connected,
                                                       pe_rel: pe_rel,
                                                       pe_member_rel: pe_member_rel_boss,
                                                       pe_member_rels_comments: pe_member_rels_comments
                                                   }
                                        %>

                                      <% end %>

                                    <% end %>

                                  </div>

                                  <% orden_evaluation +=1 %>

                                  <% if pe_process.step_query_show_summary %>

                                    <div class="tab-pane" id="tab_evaluation_summary">

                                      <%= render partial: 'pe_query_results/summary',
                                                 locals: {
                                                     pe_member_evaluated: pe_member_connected,
                                                     pe_rel: pe_rel,
                                                     pe_member_rel: pe_member_rel_boss,
                                                     pe_evaluations: pe_evaluations,
                                                     pe_assessment_final_evaluations: pe_assessment_final_evaluations,
                                                     pe_member_rels_comments: pe_member_rels_comments
                                                 }
                                      %>

                                    </div>

                                  <% end %>

                                <% end %>


                              </div>
                            </div>
                          </div>


                        </div>

                      <% end %>

                      <% if has_to_assess_as %>

                        <% num_rel += 1 %>

                        <div class="tab-pane <%= 'active' if num_rel == 1 %>" id="summary_table_<%= pe_rel.id %>">

                          <br>

                          <table class="table table-hover table-bordered table-striped">

                            <thead>

                            <tr>
                              <th>#</th>

                              <% if pe_process.of_persons %>

                                <th><%= alias_username %></th>
                                <th>Apellidos</th>
                                <th>Nombre</th>

                              <% else %>

                                <th>Área</th>
                                <th>Responsable del área</th>

                              <% end %>

                              <% pe_process.pe_evaluations_to_display_in_qres.each do |pe_evaluation| %>

                                  <th>
                                    <%= pe_evaluation.name %>
                                  </th>

                              <% end %>

                              <th></th>
                            </tr>

                            </thead>
                            <tbody>



                            <% if pe_process.of_persons? %>

                              <% pe_member_rels_is_evaluator = pe_member_connected.pe_member_rels_is_evaluator_as_pe_rel_ordered(pe_rel)%>

                            <% else %>

                              <% pe_member_rels_is_evaluator = pe_member_connected.pe_member_rels_is_evaluator_as_rel_ordered_by_pe_area(pe_rel)%>

                            <% end %>

                            <% pe_member_rels_is_evaluator.each_with_index do |pe_member_rel_evaluated, index| %>

                              <tr>
                                <td>

                                  <%= index+1 %>

                                </td>

                                <% if pe_process.of_persons %>

                                  <td>


                                    <%= pe_member_rel_evaluated.pe_member_evaluated.user.codigo %></td>


                                  <td>


                                    <%= pe_member_rel_evaluated.pe_member_evaluated.user.apellidos %>


                                  </td>
                                  <td>


                                    <%= pe_member_rel_evaluated.pe_member_evaluated.user.nombre %>


                                  </td>
                                <% else %>
                                  <td>


                                    <% if pe_member_rel_evaluated.pe_member_evaluated.pe_area %>
                                      <%= pe_member_rel_evaluated.pe_member_evaluated.pe_area.name %>
                                    <% end %>


                                  </td>
                                  <td>


                                    <%= pe_member_rel_evaluated.pe_member_evaluated.user.apellidos %>,
                                    <%= pe_member_rel_evaluated.pe_member_evaluated.user.nombre %>


                                  </td>
                                <% end %>

                                <% pe_process.pe_evaluations_to_display_in_qres.each do |pe_evaluation| %>

                                  <td>

                                    <% pe_member_evaluation = pe_member_rel_evaluated.pe_member_evaluated.pe_member_evaluation(pe_evaluation) %>

                                    <% if pe_member_evaluation %>
                                      <% if pe_member_evaluation.weight == -1 %>
                                        <span class="label label-default">No será evaluado</span>
                                      <% else %>
                                        <% if  pe_evaluation.display_weight_in_qres %>
                                          <%= pe_member_evaluation.weight %>%
                                        <% end %>
                                      <% end %>
                                    <% else %>
                                      <% if  pe_evaluation.display_weight_in_qres %>
                                        <%= pe_evaluation.weight %>%
                                      <% end %>
                                    <% end %>

                                  </td>

                                <% end %>

                                <td>

                                  <%= link_to 'Consultar', pe_query_results_show_path(pe_member_rel_evaluated) %>

                                </td>
                              </tr>
                            <% end %>


                            </tbody>
                          </table>

                        </div>
                      <% end %>

                    <% end %>

                  <% end %>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>