<% pe_processes_list = Array.new %>
<% can_select_evaluated = Array.new %>
<% has_to_query_definitions = Array.new %>
<% has_to_query_results = Array.new %>
<% pe_evaluations_where_has_to_define_questions = Array.new %>
<% has_to_define_questions = Array.new %>
<% pe_evaluations_where_can_watch_own_defined_questions = Array.new %>
<% can_watch_own_defined_questions = Array.new %>
<% pe_evaluations_where_has_to_accept_defined_questions = Array.new %>
<% has_to_accept_defined_questions = Array.new %>
<% pe_evaluations_where_has_to_validate_defined_questions = Array.new %>
<% has_to_validate_defined_questions = Array.new %>
<% pe_evaluations_where_can_wathc_has_to_define_validated_or_accept_defined_questions = Array.new %>
<% pe_evaluations_where_has_to_track = Array.new %>
<% pe_evaluations_where_has_to_be_tracked = Array.new %>
<% has_to_track = Array.new %>
<% can_watch_own_tracking = Array.new %>
<% pe_evaluations_to_track_or_to_watch_tracking = Array.new %>
<% has_to_assess = Array.new %>
<% has_to_validate = Array.new %>
<% has_to_calibrate = Array.new %>
<% has_to_calibrate_evaluation = Array.new %>
<% pe_evaluations_where_has_to_calibrate = Array.new %>
<% has_to_provide_feedback = Array.new %>
<% has_to_accept_feedback = Array.new %>
<% can_watch_my_results = Array.new %>
<% can_watch_my_subs_results = Array.new %>
<% can_observe = Array.new %>

<% can_select_evaluated__ = false %>
<% has_to_query_definitions__ = false %>
<% has_to_query_results__ = false %>
<% has_to_define_questions__ = false %>
<% can_watch_own_defined_questions__ = false %>
<% has_to_accept_defined_questions__ = false %>
<% has_to_validate_defined_questions__ = false %>
<% has_to_track__ = false %>
<% can_watch_own_tracking__ = false %>
<% has_to_assess__ = false %>
<% has_to_validate__ = false %>
<% has_to_calibrate__ = false %>
<% has_to_calibrate_evaluation__ = false %>
<% has_to_provide_feedback__ = false %>
<% has_to_accept_feedback__ = false %>
<% can_watch_my_results__ = false %>
<% can_watch_my_subs_results__ = false %>
<% can_observe__ = false %>

<% PeProcess.where('active = ? AND from_date <= ? AND to_date >= ?', true, lms_time, lms_time).each do |pe_process| %>

  <% pe_processes_list.push pe_process %>

  <% can_select_evaluated__ = can_select_evaluated[pe_process.id] = true if pe_process.has_step_selection? && pe_process.is_a_pe_member_can_select_evaluated?(user_connected) %>

  <% has_to_query_definitions__ = has_to_query_definitions[pe_process.id] = true if pe_process.has_step_query_definitions? && (pe_process.is_a_pe_member_evaluated?(user_connected) || pe_process.is_a_pe_member_evaluator?(user_connected)) %>

  <% has_to_query_results__ = has_to_query_results[pe_process.id] = true if pe_process.has_step_query_results? && (pe_process.is_a_pe_member_evaluated?(user_connected) || pe_process.is_a_pe_member_evaluator?(user_connected)) %>

  <% pe_evaluations_where_has_to_define_questions[pe_process.id] = pe_process.pe_evaluations_where_has_to_define_questions user_connected %>

  <% has_to_define_questions__ = has_to_define_questions[pe_process.id] = true if pe_process.has_step_definition_by_users? && pe_evaluations_where_has_to_define_questions.size > 0 %>

  <% pe_evaluations_where_can_watch_own_defined_questions[pe_process.id] = pe_process.pe_evaluations_where_can_watch_own_defined_questions user_connected %>

  <% can_watch_own_defined_questions__ = can_watch_own_defined_questions[pe_process.id] = true if pe_process.has_step_definition_by_users? && pe_evaluations_where_can_watch_own_defined_questions.size > 0 %>

  <% pe_evaluations_where_has_to_accept_defined_questions[pe_process.id] = pe_process.pe_evaluations_where_has_to_accept_defined_questions user_connected %>

  <% has_to_accept_defined_questions__ = has_to_accept_defined_questions[pe_process.id] = true if pe_process.has_step_definition_by_users? && pe_process.has_step_definition_by_users_accepted? && pe_evaluations_where_has_to_accept_defined_questions.size > 0 %>

  <% pe_evaluations_where_has_to_validate_defined_questions[pe_process.id] = pe_process.pe_evaluations_where_has_to_validate_defined_questions user_connected %>

  <% has_to_validate_defined_questions__ = has_to_validate_defined_questions[pe_process.id] = true if pe_process.has_step_definition_by_users? && pe_process.has_step_definition_by_users_validated? && pe_evaluations_where_has_to_validate_defined_questions.size > 0 %>

  <% pe_evaluations_where_can_wathc_has_to_define_validated_or_accept_defined_questions[pe_process.id] = (pe_evaluations_where_can_watch_own_defined_questions[pe_process.id] + pe_evaluations_where_has_to_define_questions[pe_process.id] + pe_evaluations_where_has_to_accept_defined_questions[pe_process.id] + pe_evaluations_where_has_to_validate_defined_questions[pe_process.id]).uniq %>

  <% pe_evaluations_where_has_to_track[pe_process.id] = pe_process.pe_evaluations_where_has_to_track user_connected %>
  <% pe_evaluations_where_has_to_be_tracked[pe_process.id] = pe_process.pe_evaluations_where_has_to_be_tracked(user_connected) %>
  <% has_to_track__ = has_to_track[pe_process.id] = true if pe_process.has_step_tracking? && pe_evaluations_where_has_to_track.size > 0 %>
  <% can_watch_own_tracking__ = can_watch_own_tracking[pe_process.id] = true if pe_process.has_step_tracking? && pe_evaluations_where_has_to_be_tracked.size > 0 %>

  <% pe_evaluations_to_track_or_to_watch_tracking[pe_process.id] = (pe_evaluations_where_has_to_track + pe_evaluations_where_has_to_be_tracked).uniq %>

  <% has_to_assess__ = has_to_assess[pe_process.id] = true if pe_process.has_step_assessment? && pe_process.is_a_pe_member_evaluator?(user_connected) %>

  <% has_to_validate__ = has_to_validate[pe_process.id] = true if pe_process.has_step_validation? && pe_process.is_a_validator?(user_connected) %>

  <% has_to_calibrate__ = has_to_calibrate[pe_process.id] = true if pe_process.has_step_calibration? && pe_process.is_a_pe_cal_committee?(user_connected) %>

  <% has_to_calibrate_evaluation__ = has_to_calibrate_evaluation[pe_process.id] = true if pe_process.has_step_calibration_evaluation? && pe_process.is_a_pe_cal_committee?(user_connected) %>

  <% pe_evaluations_where_has_to_calibrate[pe_process.id] = pe_process.pe_evaluations_where_has_to_calibrate user_connected %>

  <% has_to_provide_feedback__ = has_to_provide_feedback[pe_process.id] = true if pe_process.has_step_feedback? && pe_process.is_a_feedback_provider?(user_connected) %>

  <% has_to_accept_feedback__ = has_to_accept_feedback[pe_process.id] = true if pe_process.has_to_accept_feedback?(user_connected) %>

  <% can_watch_my_results__ = can_watch_my_results[pe_process.id] = true if pe_process.has_step_my_results? && pe_process.is_a_pe_member_evaluated?(user_connected) %>

  <% can_watch_my_subs_results__ = can_watch_my_subs_results[pe_process.id] = true if pe_process.has_step_my_subs_results? && pe_process.is_a_pe_member_evaluator_as_boss?(user_connected) %>

  <% can_observe__ = can_observe[pe_process.id] = true if pe_process.is_a_observer?(user_connected) %>

<% end %>


<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">

      <div class="panel-body">

        <ul class="nav nav-tabs" role="tablist">


          <% if can_select_evaluated__ %>


          <li>

            <a href="#tab_select_evaluated" role="tab" data-toggle="tab">

            Seleccionar

            </a>

          </li>

          <% end %>

          <% if has_to_query_definitions__ %>

          <li>

            <a href="#tab_query_definitions" role="tab" data-toggle="tab">

            Consultar definición

            </a>

          </li>

          <% end %>

          <% if can_watch_own_defined_questions__ || has_to_define_questions__ || has_to_accept_defined_questions__ || has_to_validate_defined_questions__ %>

            <li>

              <a href="#tab_define" role="tab" data-toggle="tab">

                Definir

              </a>

            </li>

          <% end %>

          <% if has_to_track__ || can_watch_own_tracking__ %>

            <li>

              <a href="#tab_track" role="tab" data-toggle="tab">

                Seguir

              </a>

            </li>

          <% end %>

          <% if has_to_assess__ %>
            <li>

              <a href="#tab_assess" role="tab" data-toggle="tab">

                Evaluar

              </a>

            </li>
          <% end %>

          <% if has_to_validate__ %>
            <li>

              <a href="#tab_validate" role="tab" data-toggle="tab">

                Validar

              </a>

            </li>
          <% end %>

          <% if has_to_calibrate__ %>
            <li>

              <a href="#tab_calibrate" role="tab" data-toggle="tab">

                Calibrar

              </a>

            </li>
          <% end %>

          <% if has_to_calibrate_evaluation__ %>
            <li>

              <a href="#tab_calibrate_e" role="tab" data-toggle="tab">

                Calibrar

              </a>

            </li>
          <% end %>

          <% if has_to_provide_feedback__ %>
            <li>

              <a href="#tab_feedback" role="tab" data-toggle="tab">

                Retroalimentación

              </a>

            </li>
          <% end %>

          <% if has_to_accept_feedback__ %>
            <li>

              <a href="#tab_feedback_accept" role="tab" data-toggle="tab">

                Confirmar retroalimentación

              </a>

            </li>
          <% end %>

          <% if has_to_query_results__ %>

            <li>

              <a href="#tab_query_results" role="tab" data-toggle="tab">

                Consultar resultados

              </a>

            </li>

          <% end %>

          <% if can_watch_my_results__ %>

            <li>

              <a href="#tab_query_my_results" role="tab" data-toggle="tab">

                Consultar mis resultados

              </a>

            </li>

          <% end %>

          <% if can_watch_my_subs_results__ %>

            <li>

              <a href="#tab_query_my_subs_results" role="tab" data-toggle="tab">

                Consultar resultados mis colaboradores

              </a>

            </li>

          <% end %>

        </ul>

        <div class="tab-content">

          <% if can_select_evaluated__ %>

          <div class="tab-pane" id="tab_select_evaluated">
            Seleccionar
          </div>

          <% end %>

          <% if has_to_query_definitions__ %>

          <div class="tab-pane" id="tab_query_definitions">

            <% pe_processes_list.each do |pe_process| %>

              <% if has_to_query_definitions[pe_process.id] %>

                <% pe_rel = pe_process.pe_rel_by_id 0 %>


                <% pe_members_connected = pe_process.pe_members_by_user user_connected %>
                <% pe_member_connected = pe_members_connected.first %>

                <% pe_member_rel = pe_member_evaluated.pe_member_rels_is_evaluated_as_pe_rel(pe_rel).first if pe_member_connected && pe_rel %>


                <%= render partial: 'query_definition',
                           locals: {
                               pe_process: pe_process,
                               pe_members_connected: pe_process.pe_members.where('user_id = ?', user_connected.id),
                               pe_member_rel: pe_member_rel,
                               pe_member_connected: pe_member_connected,
                               pe_rel: pe_rel,

                           }

                %>

              <% end %>


            <% end %>


          </div>

          <% end %>

          <% if can_watch_own_defined_questions__ || has_to_define_questions__ || has_to_accept_defined_questions__ || has_to_validate_defined_questions__ %>

            <div class="tab-pane" id="tab_define">

              <% pe_processes_list.each do |pe_process| %>

                <% if can_watch_own_defined_questions[pe_process.id] || has_to_define_questions[pe_process.id] || has_to_accept_defined_questions[pe_process.id] || has_to_validate_defined_questions[pe_process.id] %>

                  <% pe_rel = pe_process.pe_rel_by_id 0 %>

                  <% pe_members_connected = pe_process.pe_members_by_user user_connected %>
                  <% pe_member_evaluated = pe_members_connected.first %>
                  <% @pe_member_evaluated = pe_member_evaluated %>

                  <% pe_member_rel = pe_member_evaluated.pe_member_rels_is_evaluated_as_pe_rel(pe_rel).first if pe_member_evaluated && pe_rel %>

                  <% pe_evaluations_where_can_wathc_has_to_define_validated_or_accept_defined_questions[pe_process.id].each do |pe_evaluation| %>

                    <%= render partial: 'define',
                               locals: {
                                   pe_process: pe_process,
                                   pe_evaluation: pe_evaluation,
                                   pe_members_connected: pe_process.pe_members.where('user_id = ?', user_connected.id),
                                   pe_member_rel: pe_member_rel,
                                   pe_member_evaluated: pe_member_evaluated,
                                   pe_rel: pe_rel,

                               }

                    %>

                  <% end %>

                <% end %>

              <% end %>

            </div>

          <% end %>

          <% if has_to_track__ || can_watch_own_tracking__ %>

            <div class="tab-pane" id="tab_track">
              Seguir
            </div>

          <% end %>

          <% if has_to_assess__ %>
            <div class="tab-pane" id="tab_assess">

              <% pe_processes_list.each do |pe_process| %>

                <% if has_to_assess[pe_process.id] %>

                  <%= render partial: 'assessment',
                             locals: {
                                 pe_process: pe_process,
                                 pe_members_connected: pe_process.pe_members.where('user_id = ?', user_connected.id)
                             }

                  %>

                <% end %>


              <% end %>


            </div>
          <% end %>

          <% if has_to_validate__ %>
            <div class="tab-pane" id="tab_validate">
              Validar
            </div>
          <% end %>

          <% if has_to_calibrate__ %>
            <div class="tab-pane" id="tab_calibrate">
              Calibrar
            </div>
          <% end %>

          <% if has_to_calibrate_evaluation__ %>
            <div class="tab-pane" id="tab_calibrate_e">


              <% pe_processes_list.each do |pe_process| %>

                <% if has_to_calibrate_evaluation[pe_process.id] %>

                  <% pe_evaluations_where_has_to_calibrate[pe_process.id].each do |pe_evaluation| %>

                    <%= render partial: 'calibrate_evaluation',
                               locals: {
                                   pe_process: pe_process,
                                   pe_evaluation: pe_evaluation

                               }

                    %>

                  <% end %>

                <% end %>

              <% end %>

            </div>
          <% end %>

          <% if has_to_provide_feedback__ %>
            <div class="tab-pane" id="tab_feedback">

              <% pe_processes_list.each do |pe_process| %>

                <%= render partial: 'feedback',
                           locals: {
                               pe_process: pe_process
                           }

                %>

              <% end %>

            </div>

          <% end %>


          <% if has_to_accept_feedback__ %>
            <div class="tab-pane" id="tab_feedback_accept">

              <% pe_processes_list.each do |pe_process| %>

                <% if has_to_accept_feedback[pe_process.id] %>

                  <% @pe_process = pe_process %>
                  <% @pe_member = pe_process.evaluated_members.where('user_id = ?', user_connected.id).first %>

                  <%= render partial: 'feedback_accept',
                             locals: {
                                 pe_process: pe_process,
                                 pe_member: @pe_member,
                                 feedback_error: @feedback_error ? @feedback_error : nil
                             }

                  %>

                <% end %>

              <% end %>


            </div>
          <% end %>

          <% if has_to_query_results__ %>

            <div class="tab-pane" id="tab_query_results">

              <% pe_processes_list.each do |pe_process| %>

                <% if has_to_query_results[pe_process.id] %>

                  <% pe_members_connected = pe_process.pe_members_by_user user_connected %>
                  <% pe_member_connected = pe_members_connected.first %>

                  <% pe_rel = pe_process.pe_rel_by_id 0 %>

                  <% pe_rel_boss = pe_process.pe_rel_by_id 1 %>

                  <% pe_member_rels = pe_member_connected.pe_member_rels_is_evaluated_as_pe_rel(pe_rel).first if pe_member_connected && pe_rel %>

                  <% pe_member_rel_boss = pe_member_connected.pe_member_rels_is_evaluated_as_pe_rel(pe_rel_boss).first %>

                  <% @pe_process = pe_process %>

                  <%= render partial: 'query_results',
                             locals: {
                                 pe_process: pe_process,
                                 pe_member_connected: pe_member_connected,
                                 pe_member_rels: pe_member_rels,
                                 pe_member_rel_boss: pe_member_rel_boss
                             }

                  %>

                <% end %>


              <% end %>


            </div>

          <% end %>

          <% if can_watch_my_results__ %>

            <div class="tab-pane" id="tab_query_my_results">
              Consultar mis resultados
            </div>

          <% end %>

          <% if can_watch_my_subs_results__ %>

            <div class="tab-pane" id="tab_query_my_subs_results">


              <% pe_processes_list.each do |pe_process| %>

                <% if can_watch_my_subs_results[pe_process.id] %>

                  <% pe_rel = pe_process.pe_rel_by_id 1 %>

                  <% pe_members_connected = pe_process.pe_members.where('user_id = ?', user_connected.id) %>

                  <% pe_member_rels = Array.new %>

                  <% pe_members_connected.each do |pe_member_connected| %>

                    <% pe_member_rels += pe_member_connected.pe_member_rels_is_evaluator_as_pe_rel_ordered(pe_rel) %>

                  <% end %>

                  <%= render partial: 'my_subs_results',
                             locals: {
                                 pe_process: pe_process,
                                 pe_rel: pe_rel,
                                 pe_member_rels: pe_member_rels
                             }

                  %>

                <% end %>

              <% end %>

            </div>

          <% end %>

        </div>

      </div>

    </div>

  </div>

</div>

