<% pe_processes_list = Array.new %>

<% has_to_assess = Array.new %>



<% has_to_assess__ = false %>

<% PeProcess.where('active = ? AND from_date <= ? AND to_date >= ?', true, lms_time, lms_time).each do |pe_process| %>

  <% pe_processes_list.push pe_process %>


  <% has_to_assess__ = has_to_assess[pe_process.id] = true if pe_process.has_step_assessment? && pe_process.is_a_pe_member_evaluator?(user_connected) %>


<% end %>


<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">

      <div class="panel-body">

        <% if has_to_assess__ %>

            <% pe_processes_list.each do |pe_process| %>

              <% if has_to_assess[pe_process.id] %>

                <%= render partial: 'assessment',
                           locals: {
                               pe_process: pe_process,
                               pe_members_connected: pe_process.pe_members.where('user_id = ?', user_connected.id)
                           }

                %>

              <% end %>


            <% end %>

        <% end %>

      </div>

    </div>

  </div>

</div>

