<%= form_for(@liq_item) do |f| %>
  <% if @liq_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@liq_item.errors.count, "error") %> prohibited this liq_item from being saved:</h2>

      <ul>
      <% @liq_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :liq_process %><br />
    <%= f.text_field :liq_process %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :secu_cohade %><br />
    <%= f.text_field :secu_cohade %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :monto %><br />
    <%= f.number_field :monto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
