
<% pe_group = nil %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = @pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>

<% total_num_questions = pe_evaluation.total_number_of_questions_by_pe_member_2nd_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel) %>

<% total_num_questions_need_to_answer = pe_evaluation.total_number_of_questions_by_pe_member_2nd_level_ready_need_to_answer(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel) %>

<% total_ansered_questions = 0 %>

<% total_ansered_questions = pe_assessment_evaluation ? pe_assessment_evaluation.pe_assessment_questions_2nd_level(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).where('points is not null').size : 0 %>

<% if total_ansered_questions < total_num_questions_need_to_answer %>

  <% incomplete_evaluation = true %>

  <script>

    if(active_tab_identified == false) {

      active_tab_identified = true;
      id_tab_identified = <%= pe_evaluation.id %>;

    }

  </script>

<% end %>

<% if total_ansered_questions < total_num_questions_need_to_answer || total_num_questions == 0 %>
  <% @ready_to_confirm = false %>
<% end %>

<% if pe_assessment_evaluation && incomplete_evaluation %>

  <div class="alert alert-danger">
    Aún no ha completado la evaluación
  </div>

<% end %>

<% pe_assessment_evaluation = @pe_member_rel.pe_assessment_evaluations.build unless pe_assessment_evaluation %>

<% letras = 'abcdefghijklmnopqrstuvwxyz' %>

<%= form_for pe_assessment_evaluation, url: pe_assessment_assess_2_path(@pe_member_rel, pe_evaluation), html: {method: :post, class: 'form_pe_assess_'+pe_evaluation.id.to_s} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <table class="table table-bordered">

        <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).each_with_index do |pe_question, index_p| %>

          <thead>

            <tr>

              <% if pe_question.pe_element.visible %>

                <th>
                  <%= index_p+1 %>
                </th>

                <% if pe_question.pe_element.simple? %>
                  <th style="border-right: 0px;">
                    <%= pe_question.description.html_safe %>
                  </th>
                <% else %>


                  <% pe_question.pe_element.pe_element_descriptions.each do |pe_element_description| %>

                    <th>

                      <% pe_question_description = pe_question.pe_question_descriptions.where('pe_element_description_id = ?', pe_element_description.id).first %>

                      <%= pe_question_description.description.html_safe if pe_question_description%>

                    </th>

                  <% end %>

                <% end %>

                <% if pe_question.pe_element.display_result %>

                  <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question pe_question %>

                  <th style="border-left: 0px;">
                    <nobr>
                      <%= pe_assessment_question && pe_assessment_question.percentage >= 0 ? number_with_precision(pe_assessment_question.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true)+' %' : '' %>
                    </nobr>
                  </th>

                <% end %>

                <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).each_with_index do |pe_question| %>

                  <% pe_evaluation.pe_questions_by_question_ready(pe_question.id).each do |pe_question_2nd_level| %>

                    <% pe_question_2nd_level.pe_alternatives.each_with_index do |pe_alternative| %>

                      <th><%= pe_alternative.description.html_safe %></th>

                    <% end %>

                    <% break %>

                  <% end %>

                  <% break %>

                <% end %>

                <% if @pe_member_rel.pe_rel.rel == 1 && pe_evaluation.has_rel_id(0) && pe_evaluation.step_assessment_show_auto_to_boss && @pe_member_rel_auto && pe_assessment_evaluation_auto %>

                  <th>
                    Autoevaluación
                  </th>

                <% end %>

              <% end %>

            </tr>

          </thead>

          <tbody>

            <% pe_evaluation.pe_questions_by_question_ready(pe_question.id).each_with_index do |pe_question_2nd_level| %>

              <tr>
                <td></td>

                <% if pe_question_2nd_level.pe_element.simple? %>
                  <td style="border-right: 0px;">
                    <%= pe_question_2nd_level.description.html_safe %>
                  </td>
                <% else %>

                  <% pe_question_2nd_level.pe_element.pe_element_descriptions.each do |pe_element_description| %>

                    <td>

                      <% pe_question_description = pe_question_2nd_level.pe_question_descriptions.where('pe_element_description_id = ?', pe_element_description.id).first %>

                      <%= pe_question_description.description.html_safe if pe_question_description%>

                    </td>

                  <% end %>

                <% end %>

                <% if pe_question.pe_element.display_result %>
                  <td style="border-left: 0px;"></td>
                <% end %>

                <% if pe_question_2nd_level.pe_alternatives.size > 0 %>

                  <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question pe_question_2nd_level %>

                  <% pe_alternative_fixed = false %>

                  <% if pe_evaluation.pe_elements.second.alternatives_display_method == 0 %>

                  <% else %>

                    <% pe_question_2nd_level.pe_alternatives.each_with_index do |pe_alternative, index_a| %>

                      <td>

                        <div class="radio">
                          <label>
                            <input class="pe_question_<%= pe_question_2nd_level.id %>" type="radio" name="pe_question_<%= pe_question_2nd_level.id %>" id="pe_question_<%= pe_question_2nd_level.id %>" value="<%= pe_alternative.id %>" <%= 'checked' if(pe_alternative.fixed || (pe_assessment_question && pe_assessment_question.pe_alternative_id == pe_alternative.id)) %>>

                          </label>
                        </div>

                      </td>

                      <% pe_alternative_fixed = true if pe_alternative.fixed %>

                    <% end %>

                  <% end %>

                  <% if pe_alternative_fixed %>

                    <script>

                      $('.pe_question_<%= pe_question_2nd_level.id %>').prop('disabled','disabled')

                    </script>

                  <% end %>

                <% end %>

                <% if @pe_member_rel.pe_rel.rel == 1 && pe_evaluation.has_rel_id(0) && pe_evaluation.step_assessment_show_auto_to_boss && @pe_member_rel_auto && pe_assessment_evaluation_auto %>

                  <% pe_assessment_question_auto = pe_assessment_evaluation_auto.pe_assessment_question pe_question_2nd_level %>

                  <% if pe_assessment_question_auto && pe_assessment_question_auto.points %>

                    <td width="5%" style="background-color: #f5f5f5;" class="text-align-center">

                      <%= pe_assessment_question_auto.pe_alternative.description %>

                    </td>

                  <% end %>

                <% end %>

              </tr>

            <% end %>

          </tbody>

        <% end %>

      </table>

    </div>

    <% if ready_to_assess %>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      </div>

    <% else %>

      <script>

        $('.form_pe_assess_<%= pe_evaluation.id %> :input').attr("disabled", true);

      </script>

    <% end %>

  </div>

<% end %>
