
<% pe_group = nil %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = @pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>


<% total_num_questions = pe_evaluation.total_number_of_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel) %>

<% total_num_questions_need_to_answer = pe_evaluation.total_number_of_questions_by_pe_member_1st_level_ready_need_to_answer(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel) %>

<% total_ansered_questions = 0 %>

<% total_ansered_questions = pe_assessment_evaluation ? pe_assessment_evaluation.pe_assessment_questions_1st_level(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).where('points is not null').size : 0 %>

<% if total_ansered_questions < total_num_questions_need_to_answer %>

  <% incomplete_evaluation = true %>

  <script>

    if(active_tab_identified == false) {

      active_tab_identified = true;
      id_tab_identified = <%= pe_evaluation.id %>;


    }

  </script>

<% end %>

<% if total_ansered_questions < total_num_questions_need_to_answer || total_num_questions == 0 %>
  <% @ready_to_confirm = false %>
<% end %>

<% if pe_assessment_evaluation && incomplete_evaluation %>

  <div class="alert alert-danger">
    Aún no ha completado la evaluación
  </div>

<% end %>

<% pe_assessment_evaluation = @pe_member_rel.pe_assessment_evaluations.build unless pe_assessment_evaluation %>

<%= form_for pe_assessment_evaluation, url: pe_assessment_assess_2_path(@pe_member_rel, pe_evaluation), html: {method: :post, class: 'form_pe_assess_'+pe_evaluation.id.to_s} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <table width="100%">
        <tr>

          <% ancho_grupo = pe_evaluation.pe_slider_groups.size > 0 ? 100/pe_evaluation.pe_slider_groups.size : 100 %>

          <% pe_evaluation.pe_slider_groups.each do |pe_slider_group| %>

            <td class="text-center" width="<%= ancho_grupo %>%" style="font-size: 11px; padding: 10px;<%= 'color: #'+pe_slider_group.text_color+';' %><%= ('background-color: #'+pe_slider_group.bg_color+';') unless pe_slider_group.bg_color.blank? || pe_slider_group.bg_color == 'ffffff' %>">
              <strong style="color: <%= '#'+pe_slider_group.text_color %>;">
                <%= pe_slider_group.position.to_s+'. '+pe_slider_group.name %>
              </strong>

              <br>
              <%= pe_slider_group.min_sign %> <%= pe_slider_group.min_value %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= pe_slider_group.max_sign %> <%= pe_slider_group.max_value %>

              <br>

              <%= pe_slider_group.description %>


            </td>

          <% end %>
        </tr>

      </table>

      <br>

      <table class="table table-bordered table-hover">



          <tbody>

          <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).each_with_index do |pe_question_1st_level, index_p2| %>

            <tr>
              <td width="1%">
                <%= index_p2+1 %>
              </td>
              <td width="30%">
                <% if pe_question_1st_level.pe_element.display_name %>

                  <%= pe_question_1st_level.pe_element.name %>.

                <% end %>

                <%= pe_question_1st_level.description.html_safe %>

              </td>


              <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question pe_question_1st_level %>

              <% if pe_question_1st_level.pe_element.assessment_method == 1 %>

                <!-- alternativas -->

                <% if pe_question_1st_level.pe_alternatives.size > 0 %>

                  <td>

                    <% pe_alternative_fixed = false %>

                    <div class="row">
                      <div class="col-md-<%= pe_evaluation.pe_elements.second.alternatives_display_method == 0 ? '6' : 8 %> <%= ' col-md-offset-1' if pe_question.pe_element.visible %>" style="padding-top: 5px;">

                        <% if pe_evaluation.pe_elements.second.alternatives_display_method == 0 %>

                          <select name="pe_question_<%= pe_question_1st_level.id %>" id="pe_question_<%= pe_question_1st_level.id %>" class="form-control pe_question_<%= pe_question_1st_level.id %>">

                            <option value="">-- Seleccionar --</option>

                            <% pe_question_1st_level.pe_alternatives.each_with_index do |pe_alternative, index_a| %>

                              <option value="<%= pe_alternative.id %>" <%= 'selected' if(pe_alternative.fixed || (pe_assessment_question && pe_assessment_question.pe_alternative_id == pe_alternative.id)) %>><%= pe_alternative.description.html_safe %></option>

                              <% pe_alternative_fixed = true if pe_alternative.fixed %>

                            <% end %>

                          </select>

                        <% else %>

                          <% pe_question_1st_level.pe_alternatives.each_with_index do |pe_alternative, index_a| %>

                            <div class="radio">
                              <label>
                                <input class="pe_question_<%= pe_question_1st_level.id %>" type="radio" name="pe_question_<%= pe_question_1st_level.id %>" id="pe_question_<%= pe_question_1st_level.id %>" value="<%= pe_alternative.id %>" <%= 'checked' if(pe_alternative.fixed || (pe_assessment_question && pe_assessment_question.pe_alternative_id == pe_alternative.id)) %>>
                                <%= pe_alternative.description.html_safe %>
                              </label>
                            </div>

                            <% pe_alternative_fixed = true if pe_alternative.fixed %>

                          <% end %>


                        <% end %>

                        <% if pe_alternative_fixed %>

                          <script>

                            $('.pe_question_<%= pe_question_1st_level.id %>').prop('disabled','disabled')

                          </script>

                        <% end %>

                      </div>

                      <% if @pe_member_rel.pe_rel.rel == 1 && pe_evaluation.has_rel_id(0) && pe_evaluation.step_assessment_show_auto_to_boss && @pe_member_rel_auto && pe_assessment_evaluation_auto %>

                        <% pe_assessment_question_auto = pe_assessment_evaluation_auto.pe_assessment_question pe_question_1st_level %>

                        <% if pe_assessment_question_auto && pe_assessment_question_auto.pe_alternative %>


                          <div class="col-md-4">
                          <span class="label label-info">
                          Autoevaluación: <%= pe_assessment_question_auto.pe_alternative.description %>
                          </span>
                          </div>

                        <% end %>

                      <% end %>


                    </div>

                  </td>

                <% end %>

              <% elsif pe_question_1st_level.pe_element.assessment_method == 3 %>

                <!-- valor_numérico -->
                <td>

                  <div class="well" style="margin-bottom: 0px;">
                    <input type="text" name="pe_question_<%= pe_question_1st_level.id %>" id="pe_question_<%= pe_question_1st_level.id %>" data-slider-id="pe_question_<%= pe_question_1st_level.id %>" value="<%= pe_assessment_question ? pe_assessment_question.points : pe_question_1st_level.pe_element.min_numeric_value %>" data-slider-value="<%= pe_assessment_question ? pe_assessment_question.points : pe_question_1st_level.pe_element.min_numeric_value %>" data-slider-min="<%= pe_question_1st_level.pe_element.min_numeric_value %>" data-slider-max="<%= pe_question_1st_level.pe_element.max_numeric_value %>" data-slider-handle="square" <%= 'readonly data-slider-enabled="false"'.html_safe unless ready_to_assess %> <%= 'readonly data-slider-enabled="false"'.html_safe if pe_question_1st_level.entered_by_manager %> >
                  </div>

                </td>
                <td width="5%">
                  <% pe_evaluation.pe_slider_groups.each_with_index do |pe_slider_group, index_dg| %>

                    <div class="well text-center" id="pe_question_<%= pe_question_1st_level.id %>_group_<%= index_dg %>" style="font-size: 11px; margin-bottom: 0px; padding-top: 12px; padding-bottom: 12px;<%= 'color: #'+pe_slider_group.text_color+';' %><%= ('background-color: #'+pe_slider_group.bg_color+';') unless pe_slider_group.bg_color.blank? || pe_slider_group.bg_color == 'ffffff' %>" >

                      <strong>

                        <div class="pe_question_val_<%= pe_question_1st_level.id %>">

                          <%= pe_assessment_question ? pe_assessment_question.points.to_i : pe_question_1st_level.pe_element.min_numeric_value %>

                        </div>

                        <%= pe_slider_group.name %>

                      </strong>

                    </div>

                    <script>

                      $( document ).ready(function() {
                        display_question_result_<%= pe_question_1st_level.id %>_group_<%= index_dg %>(<%= pe_assessment_question ? pe_assessment_question.points.to_i : pe_question_1st_level.pe_element.min_numeric_value %>);
                      });

                    </script>

                  <% end %>
                </td>

                <script>

                  <% pe_evaluation.pe_slider_groups.each_with_index do |pe_slider_group, index_dg| %>

                  function display_question_result_<%= pe_question_1st_level.id %>_group_<%= index_dg %>(slide_v){

                    if (slide_v <%= pe_slider_group.min_sign.html_safe %> <%= pe_slider_group.min_value %> && slide_v <%= pe_slider_group.max_sign.html_safe %> <%= pe_slider_group.max_value %>) {
                      $("#pe_question_<%= pe_question_1st_level.id %>_group_<%= index_dg %>").show();
                    } else {
                      $("#pe_question_<%= pe_question_1st_level.id %>_group_<%= index_dg %>").hide();
                    }

                  }

                  <% end %>

                  $('#pe_question_<%= pe_question_1st_level.id %>').slider({
                    rangeHighlights: [

                      <% pe_evaluation.pe_slider_groups.each_with_index do |pe_slider_group, index_dg| %>

                        <%= ',' if index_dg > 0 %>{ "start": <%= pe_slider_group.min_value %>, "end": <%= pe_slider_group.max_value %> }

                      <% end %>

                    ]
                  });

                  $("#pe_question_<%= pe_question_1st_level.id %>").on("change", function(slideEvt) {
                    $(".pe_question_val_<%= pe_question_1st_level.id %>").text(slideEvt['value'].newValue);

                    <% pe_evaluation.pe_slider_groups.each_with_index do |pe_slider_group, index_dg| %>

                    display_question_result_<%= pe_question_1st_level.id %>_group_<%= index_dg %>(slideEvt['value'].newValue);

                    <% end %>

                  });

                </script>

                <style>

                  <% pe_evaluation.pe_slider_groups.each_with_index do |pe_slider_group, index_dg| %>

                  #pe_question_<%= pe_question_1st_level.id %> .slider-rangeHighlight-<%= index_dg %> {
                  <% unless pe_slider_group.bg_color.blank? || pe_slider_group.bg_color == 'ffffff' %>
                    background: <%= '#'+pe_slider_group.bg_color %>;
                  <% else %>
                    background: <%= '#'+pe_slider_group.text_color %>;
                  <% end %>

                  }

                  <% end %>


                  .slider-handle.custom {
                    background: transparent none;
                    /* You can customize the handle and set a background image */
                  }

                  .slider-handle.custom::before {
                    line-height: 20px;
                    font-size: 20px;
                    content: '\25A0';
                    color: #000000;
                  }


                </style>


              <% end %>

              <% if @pe_member_rel.pe_rel.rel == 1 && pe_evaluation.has_rel_id(0) && pe_evaluation.step_assessment_show_auto_to_boss && @pe_member_rel_auto && pe_assessment_evaluation_auto %>

                <% pe_assessment_question_auto = pe_assessment_evaluation_auto.pe_assessment_question pe_question_1st_level %>

                <% if pe_assessment_question_auto && pe_assessment_question_auto.points %>

                  <td width="5%" style="background-color: #f5f5f5;">

                    <% pe_evaluation.pe_slider_groups.each_with_index do |pe_slider_group, index_dg| %>

                      <% if pe_assessment_question_auto.points.method(pe_slider_group.min_sign).(pe_slider_group.min_value) && pe_assessment_question_auto.points.method(pe_slider_group.max_sign).(pe_slider_group.max_value) %>

                        <div class="well text-center" id="pe_question_auto_<%= pe_question.id %>_group_<%= index_dg %>" style="font-size: 11px; font-style: italic; margin-bottom: 0px; padding-top: 12px; padding-bottom: 12px;<%= 'color: #'+pe_slider_group.text_color+';' %><%= ('background-color: #'+pe_slider_group.bg_color+';') unless pe_slider_group.bg_color.blank? || pe_slider_group.bg_color == 'ffffff' %>" >

                          <div>

                            <%= pe_assessment_question_auto.points.to_i %>

                          </div>

                          <%= pe_slider_group.name %>

                        </div>

                      <% end %>

                    <% end %>

                  </td>

                <% end %>

              <% end %>

              <% if pe_question_1st_level.pe_element.allows_individual_comments %>
                <td width="1%">
                  <a role="button" data-toggle="collapse" href="#list_comments_<%= pe_question_1st_level.id %>" aria-expanded="false" aria-controls="collapseExample">
                    <% if pe_question_1st_level.pe_question_comments_by_pe_member_rel(@pe_member_rel).size > 0 %>
                      <i class="fa fa-comment" aria-hidden="true"></i>
                    <% else %>
                      <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <% end %>
                  </a>
                </td>
              <% end %>



            </tr>

            <% if pe_question_1st_level.has_comment %>

              <tr>
                <td>

                  <textarea rows="4" name="pe_question_comment_<%= pe_question_1st_level.id %>" class="form-control"><%= pe_assessment_question.comment if pe_assessment_question %></textarea>

                </td>
              </tr>

            <% end %>

            <% if pe_question_1st_level.pe_element.allows_individual_comments %>

              <tr class="collapse" id="list_comments_<%= pe_question_1st_level.id %>">

                <td colspan="4">

                  <div id="new_pe_question_message_ok_<%= pe_question_1st_level.id %>" class="alert alert-success">
                    El nuevo comentario fue guardado correctamente
                  </div>

                  <div id="delete_pe_question_message_ok_<%= pe_question_1st_level.id %>" class="alert alert-success">
                    El comentario fue eliminado correctamente
                  </div>

                  <script>

                    $( document ).ready(function() {

                      $("#new_pe_question_message_ok_<%= pe_question_1st_level.id %>").hide();
                      $("#delete_pe_question_message_ok_<%= pe_question_1st_level.id %>").hide();

                    })

                  </script>

                  <table class="table table-condensed table-bordered">
                    <thead>
                    <tr>
                      <th>Comentario</th>
                      <th>Fecha</th>
                      <% unless @pe_member_evaluated.step_assessment? || @pe_member_rel.finished %>
                        <th>
                          <a type="button" data-toggle="modal" data-target="#new_individual_comment_<%= pe_question_1st_level.id %>" class="cursor-pointer">
                            Nuevo comentario
                          </a>
                        </th>
                      <% end %>
                    </tr>
                    </thead>
                    <tbody id="pe_question_comment_items_<%= pe_question_1st_level.id %>">
                    <% pe_question_1st_level.pe_question_comments_by_pe_member_rel(@pe_member_rel).each_with_index do |pe_question_comment, index_comment| %>
                      <tr id="pe_question_comment_item_<%= pe_question_comment.id %>">
                        <td><%= pe_question_comment.comment %></td>
                        <td><%= (localize pe_question_comment.registered_at, format: :day_snmonth_year) %></td>
                        <% unless @pe_member_evaluated.step_assessment? || @pe_member_rel.finished %>
                          <td>
                            <a href="#" id="pe_question_comment_item_link_<%= pe_question_comment.id %>">Eliminar</a>
                          </td>

                          <script>

                            $('#pe_question_comment_item_link_<%= pe_question_comment.id %>').click(function( event ) {

                              if(confirm('¿Está seguro de eliminar el comentario?')){

                                $.ajax({
                                  type: 'GET',
                                  url: '<%= pe_question_comments_destroy_from_tracking_path(pe_question_comment,'a') %>',
                                  complete: function() {
                                    $("#pe_question_comment_item_<%= pe_question_comment.id %>").remove();
                                    $("#delete_pe_question_message_ok_<%= pe_question_1st_level.id %>").show().delay(5000).fadeOut(3000);
                                  }
                                });
                              }


                            });

                          </script>
                        <% end %>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>

                </td>
              </tr>

            <% end %>

          <% end %>

          </tbody>


      </table>

    </div>

    <% if ready_to_assess %>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      </div>

    <% else %>

      <script>

        $('.form_pe_assess_<%= pe_evaluation.id %> :input').attr("disabled", true);

      </script>

    <% end %>

  </div>

<% end %>


<% unless @pe_member_evaluated.step_assessment? || @pe_member_rel.finished %>

  <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).each_with_index do |pe_question, index_p| %>

    <% pe_evaluation.pe_questions_by_question_ready(pe_question.id).each_with_index do |pe_question_2nd_level, index_p2| %>

      <% if pe_question_2nd_level.pe_element.allows_individual_comments? %>

        <div class="modal fade" id="new_individual_comment_<%= pe_question_2nd_level.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <%= form_for @pe_question_comment, url: pe_question_comments_create_from_assessment_path(pe_question_2nd_level, @pe_member_rel, 'a'), remote: true, html: {method: :post, class: 'form-horizontal', role: 'form', id: 'new_pe_question_comment_'+pe_question_2nd_level.id.to_s} do |f| %>

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"><strong>Nuevo comentario</strong></h4>
                </div>

                <div class="modal-body">

                  <div class="row">
                    <div class="col-md-3 text-right">
                      <%= pe_question_2nd_level.pe_element.name %>
                    </div>
                    <div class="col-md-9">
                      <%= pe_question_2nd_level.description.html_safe %>
                    </div>
                  </div>

                  <br>

                  <div class="form-group <%= field_with_errors f, :comment %>">

                    <%= f.label :comment, 'Comentario', class: 'col-md-3 control-label' %>

                    <div class="col-md-9">

                      <%= f.text_area :comment, class: 'form-control', rows: '3', id: 'new_pe_question_comment_text_'+pe_question_2nd_level.id.to_s %>
                    </div>

                  </div>

                </div>

                <div class="modal-footer">
                  <%= f.submit 'Guardar', class: 'btn btn-primary' %>
                </div>

                <script>

                  $( document ).ready(function() {

                    $("#new_pe_question_message_ok_<%= pe_question_2nd_level.id %>").hide();
                    $("#delete_pe_question_message_ok_<%= pe_question_2nd_level.id %>").hide();

                    $("#new_pe_question_comment_<%= pe_question_2nd_level.id %>").on("ajax:success", function(e, data, status, xhr) {
                      $("#new_pe_question_comment_text_<%= pe_question_2nd_level.id %>").val("");
                      $("#new_individual_comment_<%= pe_question_2nd_level.id %>").modal('hide');

                      var new_c_id = '';
                      var new_c_comment = '';

                      $.each( data, function( key, val ) {
                        if(key=="id"){
                          new_c_id = val;
                        }else if(key=="comment"){
                          new_c_comment = val;
                        }
                      });

                      new_item = "<tr id='pe_question_comment_item_"+new_c_id+"'>";
                      new_item += "<td>"+new_c_comment+"</td>";
                      new_item += "<td><%= (localize lms_time, format: :day_snmonth_year) %></td>";
                      new_item += "<td><a href='#' id='pe_question_comment_item_link_"+new_c_id+"' >Eliminar</a></td>";
                      new_item += "</tr>";

                      $("#pe_question_comment_items_<%= pe_question_2nd_level.id %>").append(new_item);

                      $('#pe_question_comment_item_link_'+new_c_id).click(function( event ) {

                        if(confirm('¿Está seguro de eliminar el comentario?')){

                          $.ajax({
                            type: 'GET',
                            url: '/pe/pe_question_comment/destroy/'+new_c_id+'/t',
                            complete: function() {
                              $("#pe_question_comment_item_"+new_c_id).remove();
                              $("#delete_pe_question_message_ok_<%= pe_question_2nd_level.id %>").show().delay(5000).fadeOut(3000);
                            }
                          });
                        }

                      });

                      $("#new_pe_question_message_ok_<%= pe_question_2nd_level.id %>").show().delay(5000).fadeOut(3000);

                    }).on("ajax:error", function(e, xhr, status, error) {
                      alert("Se produjo un error guardando el comentario: No puede ser vacío");
                    });

                  });

                </script>

              <% end %>
            </div>
          </div>
        </div>

      <% end %>

    <% end %>

  <% end %>

<% end %>


