
<% pe_group = nil %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = @pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>


<% total_num_questions = pe_evaluation.total_number_of_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel) %>

<% total_num_questions_need_to_answer = pe_evaluation.total_number_of_questions_by_pe_member_1st_level_ready_need_to_answer(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel) %>

<% if @pe_member_rel.pe_rel.rel_id == 0 %>
  <% total_num_questions_need_to_answer -= pe_evaluation.total_number_of_questions_by_pe_member_1st_level_ready_need_to_answer_manager(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel) %>
<% end %>

<% total_ansered_questions = pe_assessment_evaluation ? pe_assessment_evaluation.pe_assessment_questions_1st_level(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).where('points is not null').size : 0 %>




<% if total_ansered_questions < total_num_questions_need_to_answer %>

  <% incomplete_evaluation = true %>

  <script>

    if(active_tab_identified == false) {

      active_tab_identified = true;
      id_tab_identified = <%= pe_evaluation.id %>;


    }

  </script>

<% end %>

<% if @pe_member_rel.pe_rel.rel_id == 1 && pe_evaluation.assess_boss_copy_auto %>

  <script>

    if(active_tab_identified == false) {

      active_tab_identified = true;
      id_tab_identified = <%= pe_evaluation.id %>;


    }

  </script>

<% end %>

<% if total_ansered_questions < total_num_questions_need_to_answer || total_num_questions == 0 %>
  <% @ready_to_confirm = false %>
<% end %>


<% if pe_evaluation.pe_questions_by_pe_member_all_levels_ready(@pe_member_evaluated, @pe_member_evaluator, nil, nil).count == 0 %>

  <div class="alert alert-danger">
    El proceso de definición de <%= pe_evaluation.name.downcase %> aún no ha finalizado.
  </div>

<% else %>

  <% if pe_assessment_evaluation && incomplete_evaluation %>

    <div class="alert alert-danger">
      Aún no ha completado la evaluación
    </div>

  <% end %>

  <% pe_assessment_evaluation = @pe_member_rel.pe_assessment_evaluations.build unless pe_assessment_evaluation %>

  <%= form_for pe_assessment_evaluation, url: pe_assessment_assess_2_path(@pe_member_rel, pe_evaluation), html: {method: :post, class: 'form_pe_assess_'+pe_evaluation.id.to_s} do |f| %>

    <div class="panel panel-default">
    <div class="panel-body">

    <% index_p_aux = 0 %>

    <table class="table table-bordered">

      <% pe_element_1st = pe_evaluation.pe_elements.first %>

      <thead>

        <tr>
          <th></th>
          <th><%= pe_evaluation.pe_elements.last.name %></th>
          <th>Peso</th>
          <th>Meta</th>
          <th>Unidad</th>
          <th width="15%"><nobr>Meta lograda</nobr></th>
          <th>Logro</th>
          <th style="border-left: 0px;" width="1%"></th>
          <% if @pe_member_rel.pe_rel.rel == 1 && pe_evaluation.has_rel_id(0) && pe_evaluation.step_assessment_show_auto_to_boss && @pe_member_rel_auto && pe_assessment_evaluation_auto %>

            <th style="background-color: #f5f5f5;">
              Autoevaluación
            </th>

          <% end %>
        </tr>

      </thead>

      <tbody>

        <% num_1st_level = 1 %>
        <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).each do |pe_question_1st_level| %>

          <tr>
            <td>
              <%= num_1st_level %>
            </td>
            <td>

              <% if pe_question_1st_level.pe_element.kpi_dashboard && pe_question_1st_level.kpi_indicator %>
                <span class="label label-success">KPI</span>&nbsp;
              <% end %>


              <% if pe_question_1st_level.pe_element.display_name %>
                <%= pe_question_1st_level.pe_element.name %>.
              <% end %>


              <% if pe_question_1st_level.pe_element.kpi_dashboard && pe_question_1st_level.kpi_indicator %>

                <%= pe_question_1st_level.kpi_indicator.name %>

              <% else %>

                <%= pe_question_1st_level.description.html_safe %>

              <% end %>

              <% if pe_question_1st_level.pe_element.allow_note && !pe_question_1st_level.note.blank? %>

                <%= render partial: 'pe_processes/pe_question_note',
                           locals: {
                               pe_question: pe_question_1st_level
                           }
                %>

              <% end %>



            </td>
            <td>
              <%= number_with_precision(pe_question_1st_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
            </td>
            <td>

              <%= render partial: 'pe_processes/indicator_goal_temp',
                         locals: {
                             pe_question: pe_question_1st_level
                         }
              %>

            </td>
            <td>
              <% if pe_question_1st_level.indicator_type != 4 %>
                <div class="col-md-4">
                  <p class="form-control-static">

                    <%= pe_question_1st_level.indicator_unit %>

                  </p>
                </div>
              <% end %>
            </td>
            <td>

              <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question_1st_level) %>

              <% if pe_question_1st_level.pe_element.kpi_dashboard && pe_question_1st_level.kpi_indicator %>

                <%= pe_question_1st_level.kpi_indicator.value %>

              <% else %>

                <% if pe_question_1st_level.indicator_type == 4 %>

                  <% selected_value = '' %>

                  <select class="form-control" name="pe_question_<%= pe_question_1st_level.id %>" <%= 'disabled' if pe_question_1st_level.entered_by_manager %>>

                    <option value="">-- Seleccionar --</option>

                    <% pe_question_1st_level.pe_question_ranks.each do  |qr| %>

                      <option value="<%= qr.discrete_goal %>" <%= 'selected' if pe_assessment_question && qr.discrete_goal == pe_assessment_question.indicator_discrete_achievement %> ><%= qr.discrete_goal.html_safe %></option>
                      <% selected_value = qr.discrete_goal if pe_assessment_question && qr.discrete_goal == pe_assessment_question.indicator_discrete_achievement %>
                    <% end %>

                  </select>

                  <% if pe_question_1st_level.entered_by_manager %>
                    <input type="hidden" name="pe_question_<%= pe_question_1st_level.id %>" value="<%= selected_value %>" />
                  <% end %>

                <% else %>
                  <input type="text" name="pe_question_<%= pe_question_1st_level.id %>" class="form-control" value="<%= format_decimal_to_html(pe_assessment_question.indicator_achievement) if pe_assessment_question %>" <%= 'readonly' if pe_question_1st_level.entered_by_manager %> >
                <% end %>

              <% end %>

            </td>
            <td width="15%">

              <% if pe_assessment_question %>

                <% ancho_p_b = 0 %>

                <% ancho_p_b = pe_assessment_question.percentage && pe_assessment_question.percentage < 100 ? pe_assessment_question.percentage.to_i : 100 %>

                <% if pe_question_1st_level.indicator_type != 4 || (pe_question_1st_level.indicator_type == 4 && !pe_assessment_question.indicator_discrete_achievement.blank?) %>

                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="<%= ancho_p_b %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= ancho_p_b %>%;">
                      <%= number_with_precision(pe_assessment_question.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
                    </div>
                  </div>

                <% end %>

              <% end %>

            </td>

            <%

              pe_member_rels_comments = Array.new
              pe_member_rels_comments.push @pe_member_rel

              if @pe_rel.rel == 1
                pe_rel_aux = @pe_process.pe_rel_by_id 0
                pe_member_rels_comments += @pe_member_evaluated.pe_member_rels_is_evaluated_as_pe_rel(pe_rel_aux) if pe_rel_aux
              elsif @pe_rel.rel == 0 && ((pe_evaluation.assess_allow_individual_comments_by_boss && pe_evaluation.assess_allow_watch_individual_comments_by_boss) || pe_evaluation.assess_allow_individual_comments_with_boss)
                pe_rel_aux = @pe_process.pe_rel_by_id 1
                pe_member_rels_comments += @pe_member_evaluated.pe_member_rels_is_evaluated_as_pe_rel(pe_rel_aux) if pe_rel_aux
              end

            %>

            <td style="border-left: 0px;">
              <nobr>
              <% if pe_evaluation.allow_list_individual_comments_assess(@pe_rel) && pe_element_1st.allows_individual_comments %>

                <a role="button" data-toggle="collapse" href="#list_comments_<%= pe_question_1st_level.id %>" aria-expanded="false" aria-controls="collapseExample">
                  <% if pe_question_1st_level.pe_question_comments_by_pe_member_rels(pe_member_rels_comments).size > 0 %>
                    <i class="fa fa-comment" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                  <% end %>
                </a>

              <% end %>

              <% if pe_evaluation.assess_allow_files_to_boss && (@pe_member_rel.pe_rel.rel_id == 1 || @pe_member_rel.pe_rel.rel_id == 0) %>

                <a role="button" data-toggle="collapse" href="#list_files_<%= pe_question_1st_level.id %>" aria-expanded="false" aria-controls="collapseExample">
                  <% if pe_question_1st_level.pe_question_files_by_pe_member(@pe_member_evaluated).size > 0 %>
                    <i class="fa fa-file " aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-file-o" aria-hidden="true"></i>
                  <% end %>
                </a>

              <% end %>
              </nobr>

            </td>

            <% if @pe_member_rel.pe_rel.rel == 1 && pe_evaluation.has_rel_id(0) && pe_evaluation.step_assessment_show_auto_to_boss && @pe_member_rel_auto && pe_assessment_evaluation_auto %>

              <td style="font-style: italic; background-color: #f5f5f5;">

                <% pe_assessment_question_auto = pe_assessment_evaluation_auto.pe_assessment_question pe_question_1st_level %>

                <% if pe_assessment_question_auto %>

                  <% if pe_question_1st_level.indicator_type == 4 %>

                    <% pe_question_1st_level.pe_question_ranks.each do  |qr| %>

                      <%= qr.discrete_goal.html_safe if pe_assessment_question_auto && qr.discrete_goal == pe_assessment_question_auto.indicator_discrete_achievement %>

                    <% end %>

                  <% else %>
                    <%= number_with_precision(pe_assessment_question_auto.indicator_achievement, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) if pe_assessment_question_auto %>
                  <% end %>

                  <% ancho_p_b = pe_assessment_question_auto.percentage && pe_assessment_question_auto.percentage < 100 ? pe_assessment_question_auto.percentage.to_i : 100 %>

                  <% if pe_question_1st_level.indicator_type != 4 || (pe_question_1st_level.indicator_type == 4 && !pe_assessment_question_auto.indicator_discrete_achievement.blank?) %>

                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="<%= ancho_p_b %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= ancho_p_b %>%;">
                        <%= number_with_precision(pe_assessment_question_auto.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
                      </div>
                    </div>

                  <% end %>

                <% end %>

              </td>

            <% end %>

          </tr>

          <% if pe_evaluation.allow_list_individual_comments_assess(@pe_rel) && pe_element_1st.allows_individual_comments %>

            <%= render partial: 'pe_assessment/individual_comments_table',
                       locals: {
                           pe_evaluation: pe_evaluation,
                           pe_question: pe_question_1st_level,
                           pe_element: pe_element_1st,
                           pe_member_evaluated: @pe_member_evaluated,
                           pe_member_rel: @pe_member_rel,
                           pe_member_rels_comments: pe_member_rels_comments
                       }
            %>

          <% end %>

          <% if pe_evaluation.assess_allow_files_to_boss && (@pe_member_rel.pe_rel.rel_id == 1 || @pe_member_rel.pe_rel.rel_id == 0) %>

            <%= render partial: 'pe_assessment/files_table',
                       locals: {
                           pe_evaluation: pe_evaluation,
                           pe_question: pe_question_1st_level,
                           pe_element: pe_element_1st,
                           pe_member_evaluated: @pe_member_evaluated,
                           pe_member_rel: @pe_member_rel
                       }
            %>

          <% end %>

          <% num_1st_level += 1 %>
        <% end %>

      </tbody>

    </table>

    </div>

    <% if ready_to_assess %>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      </div>

    <% else %>

      <script>

        $('.form_pe_assess_<%= pe_evaluation.id %> :input').attr("disabled", true);

      </script>

    <% end %>

    </div>

  <% end %>



<% end %>




<% if pe_evaluation.allow_create_individual_comment_assess(@pe_rel) %>

  <% unless @pe_member_evaluated.step_assessment? || @pe_member_rel.finished %>

    <% pe_evaluation.pe_questions_by_pe_member_all_levels(@pe_member_evaluated, @pe_member_evaluator, nil, nil).each_with_index do |pe_question| %>

      <% if pe_question.pe_element.allows_individual_comments? %>

        <%= render partial: 'pe_assessment/new_individual_comment',
                   locals: {
                       pe_evaluation: pe_evaluation,
                       pe_question: pe_question,
                       pe_question_comment: @pe_question_comment,
                       pe_member_rel: @pe_member_rel
                   }
        %>

      <% end %>

    <% end %>

  <% end %>

<% end %>

<% if pe_evaluation.assess_allow_files_to_boss && (@pe_member_rel.pe_rel.rel_id == 0 || @pe_member_rel.pe_rel.rel_id == 1)%>

  <% unless @pe_member_evaluated.step_assessment? || @pe_member_rel.finished %>

    <% pe_evaluation.pe_questions_by_pe_member_all_levels(@pe_member_evaluated, @pe_member_evaluator, nil, nil).each_with_index do |pe_question| %>

        <%= render partial: 'pe_assessment/new_file',
                   locals: {
                       pe_evaluation: pe_evaluation,
                       pe_question: pe_question,
                       pe_question_file: @pe_question_file,
                       pe_member_rel: @pe_member_rel
                   }
        %>

    <% end %>

  <% end %>

<% end %>