
<% pe_group = nil %>

<% if pe_evaluation.pe_groups.size > 0 %>

  <% pe_member_group = @pe_member_evaluated.pe_member_group(pe_evaluation) %>

  <% pe_group = pe_member_group.pe_group if pe_member_group %>

<% end %>

<% total_num_questions = pe_evaluation.total_number_of_questions_by_pe_member_2nd_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel) %>

<% total_num_questions_need_to_answer = pe_evaluation.total_number_of_questions_by_pe_member_2nd_level_ready_need_to_answer(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel) %>

<% total_ansered_questions = 0 %>

<% total_ansered_questions = pe_assessment_evaluation ? pe_assessment_evaluation.pe_assessment_questions_2nd_level(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).where('points is not null').size : 0 %>

<% if total_ansered_questions < total_num_questions_need_to_answer %>

  <% incomplete_evaluation = true %>

  <script>

    if(active_tab_identified == false) {

      active_tab_identified = true;
      id_tab_identified = <%= pe_evaluation.id %>;

    }

  </script>

<% end %>

<% if total_ansered_questions < total_num_questions_need_to_answer || total_num_questions == 0 %>
  <% @ready_to_confirm = false %>
<% end %>

<% if pe_assessment_evaluation && incomplete_evaluation %>

  <div class="alert alert-danger">
    Aún no ha completado la evaluación
  </div>

<% end %>

<% pe_assessment_evaluation = @pe_member_rel.pe_assessment_evaluations.build unless pe_assessment_evaluation %>

<% letras = 'abcdefghijklmnopqrstuvwxyz' %>

<%= form_for pe_assessment_evaluation, url: pe_assessment_assess_2_path(@pe_member_rel, pe_evaluation), html: {method: :post, class: 'form_pe_assess_'+pe_evaluation.id.to_s} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <% index_p_aux = 0 %>

      <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).each_with_index do |pe_question, index_p| %>

        <% if pe_question.pe_element.visible %>

          <div class="row">

            <div class="col-md-12">

              <strong><%= index_p+1 %>.

                <% if pe_question.pe_element.display_name %>

                  <%= pe_question.pe_element.name %>:

                <% end %>

              </strong>

              <% if pe_question.pe_element.simple? %>

                <%= pe_question.description.html_safe %>

              <% else %>

                <% pe_question.pe_question_descriptions.each do |pe_question_description| %>

                  <strong><%= pe_question_description.pe_element_description.name %></strong>
                  <%= pe_question_description.description.html_safe %>

                <% end %>

              <% end %>

            </div>

          </div>
          <br>

        <% end %>

        <% pe_evaluation.pe_questions_by_question_ready(pe_question.id).each_with_index do |pe_question_2nd_level, index_p2| %>

          <div class="row">

            <div class="<%= pe_question.pe_element.visible ? 'col-md-10 col-md-offset-1' : 'col-md-11' %>">

              <strong>

                <% if pe_question.pe_element.visible %>

                  <%= index_p+1 %>.<%= index_p2+1 %>.

                <% else %>

                  <%= index_p_aux += 1 %>.

                <% end %>

                <% if pe_question_2nd_level.pe_element.display_name %>

                  <%= pe_question_2nd_level.pe_element.name %>:

                <% end %>

              </strong>

              <% if pe_question_2nd_level.pe_element.simple? %>

                <%= pe_question_2nd_level.description.html_safe %>

              <% else %>

                <% pe_question_2nd_level.pe_question_descriptions.each do |pe_question_description| %>

                  <strong><%= pe_question_description.pe_element_description.name %></strong>
                  <%= pe_question_description.description.html_safe %>

                <% end %>

              <% end %>

            </div>

            <% if pe_question_2nd_level.pe_element.allows_individual_comments %>
              <div class="col-md-1 text-right">
                <a role="button" data-toggle="collapse" href="#list_comments_<%= pe_question_2nd_level.id %>" aria-expanded="false" aria-controls="collapseExample">
                  <% if pe_question_2nd_level.pe_question_comments_by_pe_member_rel(@pe_member_rel).size > 0 %>
                    <i class="fa fa-comment" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                  <% end %>
                </a>
              </div>
            <% end %>


          </div>

          <% if pe_question_2nd_level.pe_element.allows_individual_comments %>

            <div class="row">
              <div class="col-md-11 col-md-offset-1">

                <div id="list_comments_<%= pe_question_2nd_level.id %>" class="collapse" >
                  <br>

                  <div id="new_pe_question_message_ok_<%= pe_question_2nd_level.id %>" class="alert alert-success">
                    El nuevo comentario fue guardado correctamente
                  </div>

                  <div id="delete_pe_question_message_ok_<%= pe_question_2nd_level.id %>" class="alert alert-success">
                    El comentario fue eliminado correctamente
                  </div>

                  <table class="table table-condensed table-bordered">
                    <thead>
                    <tr>
                      <th>Comentario</th>
                      <th>Fecha</th>
                      <% unless @pe_member_evaluated.step_assessment? || @pe_member_rel.finished %>
                        <th>
                          <a type="button" data-toggle="modal" data-target="#new_individual_comment_<%= pe_question_2nd_level.id %>" class="cursor-pointer">
                            Nuevo comentario
                          </a>
                        </th>
                      <% end %>
                    </tr>
                    </thead>
                    <tbody id="pe_question_comment_items_<%= pe_question_2nd_level.id %>">
                    <% pe_question_2nd_level.pe_question_comments_by_pe_member_rel(@pe_member_rel).each_with_index do |pe_question_comment, index_comment| %>
                      <tr id="pe_question_comment_item_<%= pe_question_comment.id %>">
                        <td><%= pe_question_comment.comment %></td>
                        <td><%= (localize pe_question_comment.registered_at, format: :day_snmonth_year) %></td>
                        <% unless @pe_member_evaluated.step_assessment? || @pe_member_rel.finished %>
                          <td>
                            <a href="#" id="pe_question_comment_item_link_<%= pe_question_comment.id %>">Eliminar</a>
                          </td>

                          <script>

                            $('#pe_question_comment_item_link_<%= pe_question_comment.id %>').click(function( event ) {

                              if(confirm('¿Está seguro de eliminar el comentario?')){

                                $.ajax({
                                  type: 'GET',
                                  url: '<%= pe_question_comments_destroy_from_tracking_path(pe_question_comment,'t') %>',
                                  complete: function() {
                                    $("#pe_question_comment_item_<%= pe_question_comment.id %>").remove();
                                    $("#delete_pe_question_message_ok_<%= pe_question_2nd_level.id %>").show().delay(5000).fadeOut(3000);
                                  }
                                });
                              }


                            });

                          </script>
                        <% end %>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>

                </div>

              </div>
            </div>

          <% end %>

          <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question pe_question_2nd_level %>

          <% if pe_question_2nd_level.pe_element.assessment_method == 1 %>

            <!-- alternativas -->

            <% if pe_question_2nd_level.pe_alternatives.size > 0 %>

            <% pe_alternative_fixed = false %>

            <div class="row">
              <div class="col-md-<%= pe_evaluation.pe_elements.second.alternatives_display_method == 0 ? '6' : 8 %> <%= ' col-md-offset-1' if pe_question.pe_element.visible %>" style="padding-top: 5px;">

                <% if pe_evaluation.pe_elements.second.alternatives_display_method == 0 %>

                  <select name="pe_question_<%= pe_question_2nd_level.id %>" id="pe_question_<%= pe_question_2nd_level.id %>" class="form-control pe_question_<%= pe_question_2nd_level.id %>">

                    <option value="">-- Seleccionar --</option>

                    <% pe_question_2nd_level.pe_alternatives.each_with_index do |pe_alternative, index_a| %>

                      <option value="<%= pe_alternative.id %>" <%= 'selected' if(pe_alternative.fixed || (pe_assessment_question && pe_assessment_question.pe_alternative_id == pe_alternative.id)) %>><%= pe_alternative.description.html_safe %></option>

                      <% pe_alternative_fixed = true if pe_alternative.fixed %>

                    <% end %>

                  </select>

                <% else %>

                  <% pe_question_2nd_level.pe_alternatives.each_with_index do |pe_alternative, index_a| %>

                    <div class="radio">
                      <label>
                        <input class="pe_question_<%= pe_question_2nd_level.id %>" type="radio" name="pe_question_<%= pe_question_2nd_level.id %>" id="pe_question_<%= pe_question_2nd_level.id %>" value="<%= pe_alternative.id %>" <%= 'checked' if(pe_alternative.fixed || (pe_assessment_question && pe_assessment_question.pe_alternative_id == pe_alternative.id)) %>>
                        <%= pe_alternative.description.html_safe %>
                      </label>
                    </div>

                    <% pe_alternative_fixed = true if pe_alternative.fixed %>

                  <% end %>


                <% end %>

                <% if pe_alternative_fixed %>

                  <script>

                    $('.pe_question_<%= pe_question_2nd_level.id %>').prop('disabled','disabled')

                  </script>

                <% end %>

              </div>

              <% if @pe_member_rel.pe_rel.rel == 1 && pe_evaluation.has_rel_id(0) && pe_evaluation.step_assessment_show_auto_to_boss && @pe_member_rel_auto && pe_assessment_evaluation_auto %>

                <% pe_assessment_question_auto = pe_assessment_evaluation_auto.pe_assessment_question pe_question_2nd_level %>

                <% if pe_assessment_question_auto && pe_assessment_question_auto.pe_alternative %>


                  <div class="col-md-4">
                    <span class="label label-info">
                    Autoevaluación: <%= pe_assessment_question_auto.pe_alternative.description %>
                    </span>
                  </div>

                <% end %>

              <% end %>


            </div>

          <% end %>

          <% elsif pe_question_2nd_level.pe_element.assessment_method == 3 %>

            <!-- valor_numérico -->



          <% end %>

          <% if pe_question_2nd_level.has_comment %>
            <div class="row">
              <div class="col-md-<%= pe_evaluation.pe_elements.second.alternatives_display_method == 0 ? '6' : 8 %> <%= ' col-md-offset-1' if pe_question.pe_element.visible %>" style="padding-top: 5px;">

                <textarea rows="4" name="pe_question_comment_<%= pe_question_2nd_level.id %>" class="form-control"><%= pe_assessment_question.comment if pe_assessment_question %></textarea>

              </div>
            </div>

            <% @ready_to_confirm = false if pe_question_2nd_level.has_comment_compulsory && (!pe_assessment_question || (pe_assessment_question && pe_assessment_question.comment.blank?)) %>


          <% end %>

          <br>

        <% end %>

        <% if pe_question.pe_element.visible %>

          <hr>

        <% end %>

      <% end %>


    </div>

    <% if ready_to_assess %>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      </div>

    <% else %>

      <script>

        $('.form_pe_assess_<%= pe_evaluation.id %> :input').attr("disabled", true);

      </script>

    <% end %>

  </div>

<% end %>

<% if @pe_member_evaluated.step_assessment? || @pe_member_rel.finished %>

  <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).each_with_index do |pe_question, index_p| %>

    <% pe_evaluation.pe_questions_by_question_ready(pe_question.id).each_with_index do |pe_question_2nd_level, index_p2| %>

      <% if pe_question_2nd_level.pe_element.allows_individual_comments? %>

        <script>

                  $( document ).ready(function() {

                    $("#new_pe_question_message_ok_<%= pe_question_2nd_level.id %>").hide();
                    $("#delete_pe_question_message_ok_<%= pe_question_2nd_level.id %>").hide();
                  });
        </script>

      <% end %>

    <% end %>

  <% end %>

<% else %>

  <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(@pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel).each_with_index do |pe_question, index_p| %>

    <% pe_evaluation.pe_questions_by_question_ready(pe_question.id).each_with_index do |pe_question_2nd_level, index_p2| %>

      <% if pe_question_2nd_level.pe_element.allows_individual_comments? %>

        <div class="modal fade" id="new_individual_comment_<%= pe_question_2nd_level.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <%= form_for @pe_question_comment, url: pe_question_comments_create_from_assessment_path(pe_question_2nd_level, @pe_member_rel, 'a'), remote: true, html: {method: :post, class: 'form-horizontal', role: 'form', id: 'new_pe_question_comment_'+pe_question_2nd_level.id.to_s} do |f| %>

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"><strong>Nuevo comentario</strong></h4>
                </div>

                <div class="modal-body">

                  <div class="row">
                    <div class="col-md-3 text-right">
                      <%= pe_question_2nd_level.pe_element.name %>
                    </div>
                    <div class="col-md-9">
                      <%= pe_question_2nd_level.description.html_safe %>
                    </div>
                  </div>

                  <br>

                  <div class="form-group <%= field_with_errors f, :comment %>">

                    <%= f.label :comment, 'Comentario', class: 'col-md-3 control-label' %>

                    <div class="col-md-9">

                      <%= f.text_area :comment, class: 'form-control', rows: '3', id: 'new_pe_question_comment_text_'+pe_question_2nd_level.id.to_s %>
                    </div>

                  </div>

                </div>

                <div class="modal-footer">
                  <%= f.submit 'Guardar', class: 'btn btn-primary' %>
                </div>

                <script>

                  $( document ).ready(function() {

                    $("#new_pe_question_message_ok_<%= pe_question_2nd_level.id %>").hide();
                    $("#delete_pe_question_message_ok_<%= pe_question_2nd_level.id %>").hide();

                    $("#new_pe_question_comment_<%= pe_question_2nd_level.id %>").on("ajax:success", function(e, data, status, xhr) {
                      $("#new_pe_question_comment_text_<%= pe_question_2nd_level.id %>").val("");
                      $("#new_individual_comment_<%= pe_question_2nd_level.id %>").modal('hide');

                      var new_c_id = '';
                      var new_c_comment = '';

                      $.each( data, function( key, val ) {
                        if(key=="id"){
                          new_c_id = val;
                        }else if(key=="comment"){
                          new_c_comment = val;
                        }
                      });

                      new_item = "<tr id='pe_question_comment_item_"+new_c_id+"'>";
                      new_item += "<td>"+new_c_comment+"</td>";
                      new_item += "<td><%= (localize lms_time, format: :day_snmonth_year) %></td>";
                      new_item += "<td><a href='#' id='pe_question_comment_item_link_"+new_c_id+"' >Eliminar</a></td>";
                      new_item += "</tr>";

                      $("#pe_question_comment_items_<%= pe_question_2nd_level.id %>").append(new_item);

                      $('#pe_question_comment_item_link_'+new_c_id).click(function( event ) {

                        if(confirm('¿Está seguro de eliminar el comentario?')){

                          $.ajax({
                            type: 'GET',
                            url: '/pe/pe_question_comment/destroy/'+new_c_id+'/t',
                            complete: function() {
                              $("#pe_question_comment_item_"+new_c_id).remove();
                              $("#delete_pe_question_message_ok_<%= pe_question_2nd_level.id %>").show().delay(5000).fadeOut(3000);
                            }
                          });
                        }

                      });

                      $("#new_pe_question_message_ok_<%= pe_question_2nd_level.id %>").show().delay(5000).fadeOut(3000);

                    }).on("ajax:error", function(e, xhr, status, error) {
                      alert("Se produjo un error guardando el comentario: No puede ser vacío");
                    });

                  });

                </script>

              <% end %>
            </div>
          </div>
        </div>

      <% end %>

    <% end %>

  <% end %>

<% end %>



