<tr class="collapse" id="list_files_<%= pe_question.id %>">

  <td></td>

  <td colspan="5">

    <div id="new_pe_question_file_ok_<%= pe_question.id %>" class="alert alert-success">
      El archivo fue guardado correctamente
    </div>

    <div id="delete_pe_question_file_ok_<%= pe_question.id %>" class="alert alert-success">
      El archivo fue eliminado correctamente
    </div>

    <script>

      $( document ).ready(function() {

        $("#new_pe_question_file_ok_<%= pe_question.id %>").hide();
        $("#delete_pe_question_file_ok_<%= pe_question.id %>").hide();

      })

    </script>

    <table class="table table-condensed table-bordered">
      <thead>
      <tr>
        <th>Archivo</th>
        <th>Fecha</th>
        <th></th>

        <% if pe_member_rel.pe_rel.rel_id == 0 || pe_member_rel.pe_rel.rel_id == 1 %>
          <% unless pe_member_evaluated.step_assessment? || pe_member_rel.finished %>
            <th>
              <a type="button" data-toggle="modal" data-target="#new_file_<%= pe_question.id %>" class="cursor-pointer">
                Nuevo archivo
              </a>
            </th>
          <% end %>
        <% end %>
      </tr>
      </thead>
      <tbody id="pe_question_file_items_<%= pe_question.id %>">
      <% pe_question.pe_question_files_by_pe_member(@pe_member_evaluated).each_with_index do |pe_question_file, index_file| %>
        <tr id="pe_question_file_item_<%= pe_question_file.id %>">
          <td><%= pe_question_file.description.html_safe %></td>
          <td><%= (localize pe_question_file.registered_at, format: :day_snmonth_year) %></td>
          <td><%= link_to 'Descargar', pe_question_files_download_from_assessment_path(pe_question_file, pe_member_rel) %></td>

          <% if pe_member_rel.pe_rel.rel_id == 0 || pe_member_rel.pe_rel.rel_id == 1 %>

            <% unless pe_member_evaluated.step_assessment? || pe_member_rel.finished %>

              <td>

                <% if pe_question_file.user_id == user_connected.id || pe_member_rel.pe_rel.rel_id == 1 %>

                  <a href="#" id="pe_question_file_item_link_<%= pe_question_file.id %>">Eliminar</a>

                  <script>

                    $('#pe_question_file_item_link_<%= pe_question_file.id %>').click(function( event ) {

                      if(confirm('¿Está seguro de eliminar el archivo?')){

                        $.ajax({
                          type: 'GET',
                          url: '<%= pe_question_files_destroy_from_assessment_path(pe_question_file, pe_member_rel) %>',
                          complete: function() {
                            $("#pe_question_file_item_<%= pe_question_file.id %>").remove();
                            $("#delete_pe_question_file_ok_<%= pe_question.id %>").show().delay(5000).fadeOut(3000);
                          }
                        });
                      }


                    });

                  </script>

                <% end %>

              </td>
            <% end %>

          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>

  </td>
</tr>