<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend><%= orden_evaluations %>. Finalizar evaluación</legend>

        <table class="table table-bordered">
          <thead>
          <% hr_process_evaluations.each_with_index do |hr_process_evaluation| %>

            <% if hr_process_evaluation.has_evaluation_for? rel.tipo %>

              <th>
                <%= hr_process_evaluation.name %>
              </th>

            <% end %>


          <% end %>
          </thead>
          <tbody>
          <tr>
            <% hr_process_evaluations.each_with_index do |hr_process_evaluation| %>

              <% if hr_process_evaluation.has_evaluation_for? rel.tipo %>

                <%
                if @rel.tipo == 'auto'
                  hr_process_assessment_e = HrProcessAssessmentE.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? AND hr_process_user_eval_id = ? AND tipo_rel IS NULL', hr_process_evaluation.id, hr_process_user.id, hr_process_user_connected.id).first
                else
                  hr_process_assessment_e = HrProcessAssessmentE.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? AND hr_process_user_eval_id = ? AND tipo_rel = ?', hr_process_evaluation.id, hr_process_user.id, hr_process_user_connected.id, @rel.tipo).first
                end
                %>

                <% dim_g = dimension_group_for_evaluation(hr_process_evaluation, hr_process_assessment_e) %>

                <td style="<%= 'color: #'+dim_g.color_text+';' if dim_g && dim_g.color_text %>">

                  <% if hr_process_assessment_e %>

                    <% if (evals_con_no_aplica.include? hr_process_evaluation.id) || hr_process_assessment_e.resultado_puntos == -1 %>
                      <span class="label label-danger">No Aplica</span>
                    <% else %>
                      <%= hr_process_assessment_e.resultado_porcentaje.to_i %>%
                      <%= ' - '+dim_g.nombre if dim_g && dim_g.nombre %>
                    <% end %>

                  <% else %>
                    <span class="label label-default">No evaluado</span>
                  <% end %>
                </td>

              <% end %>

            <% end %>
          </tr>
          </tbody>
        </table>

        <% eval_finalizada = rel.tipo == 'auto' ? hr_process_user_connected.finalizada_auto : rel.finalizada %>

        <% if eval_finalizada %>

          <span class="label label-success">
            La evaluación ya ha sido finalizada
          </span>

        <% else %>

          <% if evals_con_no_aplica.size > 0 %>

            <div class="row">
              <div class="col-md-12 alert alert-danger">
                Usted ha superado el número máximo permitido de preguntas contestadas con No Aplica.
                <br><br>
                <% if rel.tipo = 'jefe' %>
                  No puede finalizar la evaluación
                <% else %>
                  Al finalizar la evaluación, sus resultados no se tomarán en consideración para los
                  resultados finales de la persona evaluada.
                <% end %>
              </div>
            </div>


          <% end %>


          <strong>Finalizar evaluación</strong>
          <br>
          <br>
          <em>
            Para dar por concluido el proceso debe confirmar que ya ha finalizado la evaluación. Una vez hecho esto, no podrá realizar
            cambios en la evaluación.
          </em>

        <% end %>
      </div>
      <% unless eval_finalizada %>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <% if rel.tipo == 'auto' %>

              <%= form_for hr_process_user_connected, url: pe_assessment_confirm_path(hr_process_user_connected, 'autoeval'), method: :post do |f| %>

                <div class="row">
                  <div class="col-md-8">
                    <nobr>
                      <label class="checkbox">

                        <%= f.check_box :finalizada_auto, onchange: 'set_send(this);', class: 'b_ie' %>
                        Confirmo que he finalizado la evaluación

                      </label>
                    </nobr>
                  </div>
                  <div class="col-md-4">
                    <%= f.submit 'Confirmar', class: 'btn  disabled', id: 'button_confirmar_eval', disabled: 'disabled'  %>

                    <a id= 'suggestion_make_check' data-toggle= 'tooltip' title= 'Para habilitar el botón Confirmar debe indicar que confirma que ha finalizado con la evaluación marcando el check '>
                      <i class="fa fa-question"></i>
                    </a>

                  </div>
                </div>

              <% end %>

            <% else %>

              <%= form_for rel, url: pe_assessment_confirm_path(hr_process_user), method: :post do |f| %>
                <div class="row">
                  <div class="col-md-8">
                    <nobr>
                      <label class="checkbox">

                        <%= f.check_box :finalizada, onchange: 'set_send(this);', class: 'b_ie' %>
                        Confirmo que he finalizado la evaluación

                      </label>
                    </nobr>
                  </div>
                  <div class="col-md-4">
                    <%= f.submit 'Confirmar', class: 'btn  disabled', id: 'button_confirmar_eval', disabled: 'disabled'  %>

                    <a id= 'suggestion_make_check' data-toggle= 'tooltip' title= 'Para habilitar el botón Confirmar debe indicar que confirma que ha finalizado con la evaluación marcando el check '>
                      <i class="fa fa-question"></i>
                    </a>

                  </div>
                </div>
              <% end %>


          <% end %>

            <% unless todo_esta_contestado %>
              <% if rel.tipo == 'auto' %>

                <div class="alert alert-danger">
                  Aún no puede confirmar la evaluación porque le faltan preguntas por responder.
                  <script>

                    $('#edit_hr_process_user_<%= hr_process_user_connected.id %> :input').attr("disabled", true);

                  </script>
                </div>


              <% else %>

                <div class="alert alert-danger">
                  Aún no puede confirmar la evaluación porque le faltan preguntas por responder.
                  <script>

                    $('#edit_hr_process_user_rel_<%= rel.id %> :input').attr("disabled", true);

                  </script>
                </div>

              <% end %>
            <% end %>

            <% if evals_con_no_aplica.size > 0 && rel.tipo == 'jefe' %>

              <script>

                $('#edit_hr_process_user_rel_<%= rel.id %> :input').attr("disabled", true);

              </script>
            <% end %>

          </div>
        </div>

        <script>
          function set_send(c){



            if(c.checked){
              $('#button_confirmar_eval').removeClass('disabled');
              $('#button_confirmar_eval').addClass('btn-success');

              $('#button_confirmar_eval').removeAttr('disabled');
            }else{
              $('#button_confirmar_eval').removeClass('btn-success');
              $('#button_confirmar_eval').addClass('disabled');

              $('#button_confirmar_eval').attr("disabled", "disabled");
            }

          }
          $('#suggestion_make_check').tooltip({
            placement: 'top'
          });

          <% if $browser_ie8 %>

          $(function() {
            $('.b_ie').click(function() {
              this.blur();
              this.focus();
            });
          });

          <% end %>


        </script>

      <% end %>

    </div>
  </div>
</div>