<div class="row">
  <div class="col-md-10 col-md-offset-1">

  <%
     if @rel.tipo == 'auto'
       hr_process_assessment_e = HrProcessAssessmentE.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? AND hr_process_user_eval_id = ? AND tipo_rel IS NULL', hr_process_evaluation.id, hr_process_user.id, hr_process_user_connected.id).first
     else
       hr_process_assessment_e = HrProcessAssessmentE.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? AND hr_process_user_eval_id = ? AND tipo_rel = ?', hr_process_evaluation.id, hr_process_user.id, hr_process_user_connected.id, @rel.tipo).first
     end

     hr_process_assessment_e = HrProcessAssessmentE.new unless hr_process_assessment_e



  %>

    <%= form_for hr_process_assessment_e, url: pe_assessment_assess_path(hr_process_evaluation, hr_process_user), html: {class: 'margin-zero form_hr_eval_'+hr_process_evaluation.id.to_s, method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <% hr_process_evaluation_qs = hr_process_evaluation.questions_nivel_1(hr_process_user.hr_process_level.id) %>

          <% contador_paralelo_de_preg_nivel_2 = 0 %>

          <% hr_process_evaluation_qs.each_with_index do |hr_process_evaluation_q, index| %>

            <div class="row <%= 'pregunta-evaluacion-'+$current_domain if hr_process_evaluation.show_preg_nivel_1 %>">

              <div class="col-md-12">

                <% if hr_process_evaluation.show_preg_nivel_1 %>

                  <div class="row">
                    <div class="col-md-12">

                      <%= hr_process_evaluation_q.texto.html_safe %>
                      <br><br>

                    </div>
                  </div>

                <% end %>

                <% hr_process_assessment_q = hr_process_assessment_e.hr_process_assessment_qs.where('hr_process_evaluation_q_id = ?', hr_process_evaluation_q.id).first %>

                <% hr_process_assessment_q_auto = hr_process_assessment_e_auto.hr_process_assessment_qs.where('hr_process_evaluation_q_id = ?', hr_process_evaluation_q.id).first if hr_process_assessment_e_auto %>

                <% hr_process_evaluation_q.hr_process_evaluation_qs.each_with_index do |hr_process_evaluation_q1 , index1|%>

                  <% hr_process_assessment_q1 = hr_process_assessment_e.hr_process_assessment_qs.where('hr_process_evaluation_q_id = ?', hr_process_evaluation_q1.id).first %>

                  <% hr_process_assessment_q1_auto = hr_process_assessment_e_auto.hr_process_assessment_qs.find_by_hr_process_evaluation_q_id(hr_process_evaluation_q1.id) if hr_process_assessment_e_auto %>

                  <% mostrar_label_comentario_q1 = true %>

                  <% if hr_process_evaluation_q1.texto != '_no texto_' %>

                    <% unless hr_process_evaluation.show_preg_nivel_1 %>
                      <br>
                    <% end %>

                    <div class="row">
                      <div class="col-md-11 <%= 'col-md-offset-1' if hr_process_evaluation.show_preg_nivel_1 %>">
                        <strong>

                          <% if hr_process_evaluation.show_preg_nivel_1 %>

                            <%= index1 + 1 %>.

                          <% else %>
                            <%= contador_paralelo_de_preg_nivel_2 = contador_paralelo_de_preg_nivel_2 + 1 %>.

                          <% end %>
                        </strong>
                        <%= hr_process_evaluation_q1.texto.html_safe %>

                      </div>
                    </div>
                  <% else %>

                    <% mostrar_label_comentario_q = false %>

                  <% end %>

                  <% if hr_process_evaluation_q1.hr_process_evaluation_as.first.texto != '_sin valor_' %>

                    <% if hr_process_evaluation.visualizacion_alternativas == 1 %>
                      <div class="row">
                        <div class="col-md-5 <%= 'col-md-offset-1' if hr_process_evaluation.show_preg_nivel_1 %>">
                          <% hr_process_evaluation_q1.hr_process_evaluation_as.each do |hr_process_evaluation_a| %>

                            <div class="radio">
                              <label>
                                <input type="radio" name="preg_<%= hr_process_evaluation_q1.id %>" value="<%= hr_process_evaluation_a.id %>" <%= 'checked' if hr_process_assessment_q1 && hr_process_assessment_q1.hr_process_evaluation_a_id == hr_process_evaluation_a.id %>>
                                <%= hr_process_evaluation_a.texto.html_safe %>
                              </label>
                            </div>

                          <% end %>
                          <br>
                        </div>
                        <div class="col-md-5 col-md-offset-1">

                          <% if jefe_ve_colaborador %>

                            <% if hr_process_user.finalizada_auto %>

                              <em style="color: darkblue">
                                Autoevaluación:

                                <% if hr_process_assessment_e_auto && hr_process_assessment_q1_auto %>

                                  <% hr_process_evaluation_q1.hr_process_evaluation_as.each do |hr_process_evaluation_a| %>

                                    <% if hr_process_assessment_q1_auto && hr_process_assessment_q1_auto.hr_process_evaluation_a_id == hr_process_evaluation_a.id %>
                                      <%= hr_process_evaluation_a.texto.html_safe %>
                                    <% end %>

                                  <% end %>
                                <% end %>
                              </em>

                            <% else %>
                              <em style="color: #8b0000">
                                Autoevaluación: No terminada
                              </em>
                            <% end %>
                          <% end %>

                        </div>
                      </div>

                    <% elsif hr_process_evaluation.visualizacion_alternativas == 2 %>

                      <div class="row">
                        <div class="col-md-10 <%= 'col-md-offset-1' if hr_process_evaluation.show_preg_nivel_1 %>">

                          <% hr_process_evaluation_q1.hr_process_evaluation_as.each do |hr_process_evaluation_a| %>

                            <label class="radio-inline">
                              <input type="radio" name="preg_<%= hr_process_evaluation_q1.id %>" value="<%= hr_process_evaluation_a.id %>" <%= 'checked' if hr_process_assessment_q1 && hr_process_assessment_q1.hr_process_evaluation_a_id == hr_process_evaluation_a.id %>>
                              <%= hr_process_evaluation_a.texto.html_safe %>
                            </label>

                          <% end %>

                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-10 <%= 'col-md-offset-1' if hr_process_evaluation.show_preg_nivel_1 %>">

                          <% if jefe_ve_colaborador %>

                            <% if hr_process_user.finalizada_auto %>

                              <em style="color: darkblue">
                                Autoevaluación:

                                <% if hr_process_assessment_e_auto && hr_process_assessment_q1_auto %>

                                  <% hr_process_evaluation_q1.hr_process_evaluation_as.each do |hr_process_evaluation_a| %>

                                    <% if hr_process_assessment_q1_auto && hr_process_assessment_q1_auto.hr_process_evaluation_a_id == hr_process_evaluation_a.id %>
                                      <%= hr_process_evaluation_a.texto.html_safe %>
                                    <% end %>

                                  <% end %>
                                <% end %>
                              </em>

                            <% else %>
                              <em style="color: #8b0000">
                                Autoevaluación: No terminada
                              </em>
                            <% end %>

                          <% end %>
                          <br><br>
                        </div>

                      </div>

                    <% elsif hr_process_evaluation.visualizacion_alternativas == 3 %>
                      <div class="row">
                        <div class="col-md-5 <%= 'col-md-offset-1' if hr_process_evaluation.show_preg_nivel_1 %>">
                          <select name="preg_<%= hr_process_evaluation_q1.id %>"  class="form-control">
                            <option value="">-- seleccione una opción --</option>
                            <% hr_process_evaluation_q1.hr_process_evaluation_as.each do |hr_process_evaluation_a| %>
                              <option value="<%= hr_process_evaluation_a.id %>" <%= 'selected' if hr_process_assessment_q1 && hr_process_assessment_q1.hr_process_evaluation_a_id == hr_process_evaluation_a.id %> >
                                <%= hr_process_evaluation_a.texto.html_safe %>

                              </option>

                            <% end %>
                          </select>
                          <br>
                        </div>
                        <div class="col-md-5 col-md-offset-1">

                          <% if jefe_ve_colaborador %>

                            <% if hr_process_user.finalizada_auto %>

                              <em style="color: darkblue">
                                Autoevaluación:

                                <% if hr_process_assessment_e_auto && hr_process_assessment_q1_auto %>

                                  <% hr_process_evaluation_q1.hr_process_evaluation_as.each do |hr_process_evaluation_a| %>

                                    <% if hr_process_assessment_q1_auto && hr_process_assessment_q1_auto.hr_process_evaluation_a_id == hr_process_evaluation_a.id %>
                                      <%= hr_process_evaluation_a.texto.html_safe %>
                                    <% end %>

                                  <% end %>
                                <% end %>
                              </em>

                            <% else %>
                              <em style="color: #8b0000">
                                Autoevaluación: No terminada
                              </em>
                            <% end %>
                          <% end %>

                        </div>
                      </div>

                    <% end %>

                  <% else %>

                    <% mostrar_label_comentario_q1 = false %>
                    <% hr_process_evaluation_a = hr_process_evaluation_q1.hr_process_evaluation_as.first %>

                    <input type="hidden" name="preg_<%= hr_process_evaluation_q1.id %>" value="<%= hr_process_evaluation_a.id %>">

                  <% end %>

                  <% if hr_process_evaluation_q1.comentario %>
                    <div class="row">
                      <div class="col-md-8 <%= 'col-md-offset-2' if hr_process_evaluation.show_preg_nivel_1 %>">
                        <% if mostrar_label_comentario_q1 %>
                          Comentario:
                        <% end %>

                        <textarea name="preg_<%= hr_process_evaluation_q1.id %>_comment" rows="5" class="form-control"><%= hr_process_assessment_q1.comentario if hr_process_assessment_q1 %></textarea>
                      </div>
                    </div>
                  <% end %>

                <% end %>



                <% if hr_process_evaluation_q.comentario %>
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <% if mostrar_label_comentario_q %>
                        Comentario:
                      <% end %>

                      <textarea name="preg_<%= hr_process_evaluation_q.id %>_comment" rows="5" class="form-control"><%= hr_process_assessment_q.comentario if hr_process_assessment_q %></textarea>
                    </div>
                  </div>
                <% end %>

              </div>

            </div>

          <% end %>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-success' %>
            <% if lms_time > fecha_fin || (hr_process_user_connected.id == hr_process_user.id && hr_process_user_connected.has_to_autoassess? && hr_process_user_connected.finalizada_auto ) || (@rel && @rel.finalizada) %>

              <script>

                $('.form_hr_eval_<%= hr_process_evaluation.id %> :input').attr("disabled", true);

              </script>

            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>