<% if @pe_process.step_assessment_summary_group && @pe_member_rel.pe_rel.rel_id == 1 %>

  <table class="table table-bordered">
    <thead>

      <tr>

        <% sum_weight = 0 %>

        <% @pe_process.pe_evaluation_groups.each do |pe_evaluation_group| %>
            <th>
              <%= pe_evaluation_group.name %>

              <% p = 0 %>

              <% pe_evaluation_group.pe_evaluations.each do |pe_evaluation| %>

                <% if @pe_member_rel.pe_member_evaluated.has_to_be_assessed_in_evaluation(pe_evaluation) %>

                  <% pe_member_evaluation = @pe_member_rel.pe_member_evaluated.pe_member_evaluations.where('pe_evaluation_id = ?', pe_evaluation.id).first %>
                  <% weight = pe_member_evaluation ? pe_member_evaluation.weight : pe_evaluation.weight %>
                  <% p += weight %>

                <% end %>

              <% end %>

              (<%= p %>)
              <% sum_weight += p %>
            </th>
        <% end %>

        <% if @pe_member_rel.pe_rel.rel == 1 && @pe_process.step_assessment_show_final_results_to_boss && @pe_member_rel.valid_evaluator && (@pe_member_rel.finished || @pe_process.step_assessment_show_final_results_to_boss_bf) %>
          <th>Resultado Final</th>
        <% end %>

      </tr>

    </thead>

    <tbody>

      <tr>

        <% sum_percentage = 0 %>

        <% @pe_process.pe_evaluation_groups.each do |pe_evaluation_group| %>

          <% p = 0 %>

          <% pe_evaluation_group.pe_evaluations.each do |pe_evaluation| %>

            <% if @pe_member_rel.pe_member_evaluated.has_to_be_assessed_in_evaluation(pe_evaluation) %>

              <% pe_member_evaluation = @pe_member_rel.pe_member_evaluated.pe_member_evaluations.where('pe_evaluation_id = ?', pe_evaluation.id).first %>
              <% weight = pe_member_evaluation ? pe_member_evaluation.weight : pe_evaluation.weight %>
              <% p += weight %>

            <% end %>

          <% end %>

          <td>
            <% pe_assessment_group = @pe_member_rel.pe_member_evaluated.pe_assessment_groups.where('pe_evaluation_group_id = ?', pe_evaluation_group.id).first %>
            <% if pe_assessment_group && pe_assessment_group.percentage >= 0 %>
              <%= number_with_precision(pe_assessment_group.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) if pe_assessment_group%>%
              <% sum_percentage += pe_assessment_group.percentage*p if pe_assessment_group %>
            <% end %>
          </td>
        <% end %>

        <% if @pe_member_rel.pe_rel.rel == 1 && @pe_process.step_assessment_show_final_results_to_boss && @pe_member_rel.valid_evaluator %>

          <% if @pe_member_rel.finished %>

            <% if @pe_process.two_dimensions? %>

              <td>

                <% if @pe_process.public_pe_box %>

                  <% if @pe_member_rel.pe_member_evaluated.pe_box %>

                    <span class="label label-default label-smart-table" style="text-align: center; color: <%= '#'+@pe_member_rel.pe_member_evaluated.pe_box.text_color %> !important; background-color: <%= '#'+@pe_member_rel.pe_member_evaluated.pe_box.bg_color %>;">
                      <% if @pe_member_rel.pe_member_evaluated.pe_box.short_name %>
                        &nbsp;&nbsp;<%= @pe_member_rel.pe_member_evaluated.pe_box.short_name %>&nbsp;&nbsp;
                        <br>
                      <% end %>
                      &nbsp;&nbsp;<%= @pe_member_rel.pe_member_evaluated.pe_box.name %>&nbsp;&nbsp;
                    </span>

                  <% end %>

                <% end %>


              </td>

            <% else %>

              <% pe_assessment_dimension = @pe_member_rel.pe_member_evaluated.pe_assessment_dimension(@pe_process.dimension_x) %>

              <% if pe_assessment_dimension && pe_assessment_dimension.percentage > -1 %>

                <td style="<%= 'color: #'+pe_assessment_dimension.pe_dimension_group.text_color+';' if  pe_assessment_dimension.pe_dimension_group %>">

                  <%= number_with_precision(pe_assessment_dimension.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                  <% if @pe_process.public_pe_dimension_name %>

                    <%= ' - '+pe_assessment_dimension.pe_dimension_group.name if pe_assessment_dimension.pe_dimension_group %>

                  <% end %>

                </td>
              <% else %>
                <td></td>
              <% end %>

            <% end %>

          <% elsif @pe_process.step_assessment_show_final_results_to_boss_bf %>

            <td>

              <% if sum_weight > 0 %>
                <%= number_with_precision(sum_percentage/sum_weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                <% if @pe_process.two_dimensions? %>

                  <% r_x = 0.0 %>
                  <% s_x = 0.0 %>
                  <% r_y = 0.0 %>
                  <% s_y = 0.0 %>

                  <% pe_assessment_evaluations.each_with_index do |pe_assessment_evaluation, index_e| %>

                    <% unless pe_evaluations[index_e].informative %>

                      <% if pe_assessment_evaluation && pe_assessment_evaluation.percentage >= 0 && pe_assessment_evaluation.valid_evaluation %>

                        <% pe_member_evaluation = @pe_member_rel.pe_member_evaluated.pe_member_evaluation pe_assessment_evaluation.pe_evaluation %>
                        <% weight = pe_member_evaluation ? pe_member_evaluation.weight : pe_assessment_evaluation.pe_evaluation.weight %>

                        <% if pe_assessment_evaluation.pe_evaluation.pe_dimension_id == @pe_process.dimension_x.id %>

                          <% r_x += pe_assessment_evaluation.percentage*weight %>
                          <% s_x += weight %>

                        <% else %>

                          <% r_y += pe_assessment_evaluation.percentage*weight %>
                          <% s_y += weight %>

                        <% end %>

                      <% end %>

                    <% end %>

                  <% end %>

                  <% if s_x > 0 && s_y > 0 %>

                    <% r_x = r_x/s_x %>
                    <% r_y = r_y/s_y %>
                    <% g_x = nil %>
                    <% g_y = nil %>

                    <% @pe_process.dimension_x.pe_dimension_groups.reorder('position DESC').each do |pe_dimension_group| %>

                      <% if r_x.method(pe_dimension_group.min_sign).(pe_dimension_group.min_percentage) && r_x.method(pe_dimension_group.max_sign).(pe_dimension_group.max_percentage) %>
                        <% g_x = pe_dimension_group %>
                        <% break %>
                      <% end %>

                    <% end %>

                    <% @pe_process.dimension_y.pe_dimension_groups.reorder('position DESC').each do |pe_dimension_group| %>

                      <% if r_y.method(pe_dimension_group.min_sign).(pe_dimension_group.min_percentage) && r_y.method(pe_dimension_group.max_sign).(pe_dimension_group.max_percentage) %>
                        <% g_y = pe_dimension_group %>
                        <% break %>
                      <% end %>

                    <% end %>

                    <% if g_x && g_y %>

                      <% pe_box = @pe_process.pe_box_2d(g_x.id, g_y.id) %>

                      <% if pe_box %>

                          <span class="label label-default label-smart-table" style="text-align: center; color: <%= '#'+@pe_member_rel.pe_member_evaluated.pe_box.text_color %> !important; background-color: <%= '#'+@pe_member_rel.pe_member_evaluated.pe_box.bg_color %>;">
                            <% if pe_box.short_name %>
                              &nbsp;&nbsp;<%= pe_box.short_name %>&nbsp;&nbsp;
                              <br>
                            <% end %>
                            &nbsp;&nbsp;<%= pe_box.name %>&nbsp;&nbsp;
                          </span>

                      <% end %>

                    <% end %>

                  <% end %>



                <% else %>


                  <% r_x = 0.0 %>
                  <% s_x = 0.0 %>

                  <% pe_assessment_evaluations.each_with_index do |pe_assessment_evaluation, index_e| %>

                    <% unless pe_evaluations[index_e].informative %>

                      <% if pe_assessment_evaluation && pe_assessment_evaluation.percentage >= 0 && pe_assessment_evaluation.valid_evaluation %>

                        <% pe_member_evaluation = @pe_member_rel.pe_member_evaluated.pe_member_evaluation pe_assessment_evaluation.pe_evaluation %>
                        <% weight = pe_member_evaluation ? pe_member_evaluation.weight : pe_assessment_evaluation.pe_evaluation.weight %>

                        <% r_x += pe_assessment_evaluation.percentage*weight %>
                        <% s_x += weight %>

                      <% end %>

                    <% end %>

                  <% end %>

                  <% if s_x > 0 %>

                    <% r_x = r_x/s_x %>
                    <% g_x = nil %>

                    <% @pe_process.dimension_x.pe_dimension_groups.reorder('position DESC').each do |pe_dimension_group| %>

                      <% if r_x.method(pe_dimension_group.min_sign).(pe_dimension_group.min_percentage) && r_x.method(pe_dimension_group.max_sign).(pe_dimension_group.max_percentage) %>
                        <% g_x = pe_dimension_group %>
                        <% break %>
                      <% end %>

                    <% end %>

                    <% if g_x %>

                      <% pe_box = @pe_process.pe_box_1d(g_x.id) %>

                      <% if pe_box %>

                        - <%= pe_box.name %>&nbsp;&nbsp;

                      <% end %>

                    <% end %>

                  <% end %>

                <% end %>

              <% end %>
            </td>

          <% end %>

        <% end %>

      </tr>

    </tbody>

  </table>


<% else %>

  <table class="table table-bordered">
    <thead>
    <tr>

      <% pe_evaluations.each do |pe_evaluation| %>

        <% unless pe_evaluation.informative %>

          <th>
            <%= pe_evaluation.name %>

            <% if @pe_member_rel.pe_rel.rel == 1 && @pe_process.step_assessment_show_final_results_to_boss %>

              <% if @pe_member_rel.pe_member_evaluated.has_to_be_assessed_in_evaluation(pe_evaluation) %>

                <% pe_member_evaluation = @pe_member_rel.pe_member_evaluated.pe_member_evaluation pe_evaluation %>
                <% weight = pe_member_evaluation ? pe_member_evaluation.weight : pe_evaluation.weight %>

                (<%= weight %>)

              <% end %>

            <% end %>

          </th>

        <% end %>

      <% end %>

      <% if @pe_member_rel.pe_rel.rel == 1 && @pe_process.step_assessment_show_final_results_to_boss && @pe_member_rel.valid_evaluator && (@pe_member_rel.finished || @pe_process.step_assessment_show_final_results_to_boss_bf) %>
          <th>Resultado Final</th>
      <% end %>

    </tr>
    </thead>

    <% sum_percentage = 0 %>
    <% sum_weight = 0 %>

    <tbody>
    <tr>
      <% pe_assessment_evaluations.each_with_index do |pe_assessment_evaluation, index_e| %>

        <% unless pe_evaluations[index_e].informative %>

          <% if pe_evaluations[index_e].entered_by_manager? && @pe_member_rel.pe_rel.rel_id == 1 %>


            <% pe_assessment_final_evaluation = @pe_member_rel.pe_member_evaluated.pe_assessment_final_evaluation(pe_evaluations[index_e]) %>

            <td style="<%= 'color: #'+pe_assessment_final_evaluation.pe_dimension_group.text_color+';' if pe_assessment_final_evaluation && pe_assessment_final_evaluation.pe_dimension_group %>">

              <% if pe_assessment_final_evaluation && pe_assessment_final_evaluation.percentage >= 0%>

                <%= number_with_precision(pe_assessment_final_evaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                <% if @pe_process.public_pe_dimension_name %>

                  <%= ' - '+pe_assessment_final_evaluation.pe_dimension_group.name if pe_assessment_final_evaluation.pe_dimension_group %>

                <% end %>

              <% end %>

            </td>

          <% else %>

            <% if pe_assessment_evaluation && pe_assessment_evaluation.percentage >= 0 && pe_assessment_evaluation.valid_evaluation %>

              <td style="<%= 'color: #'+pe_assessment_evaluation.pe_dimension_group.text_color+';' if pe_assessment_evaluation.pe_dimension_group %>">

                <%= number_with_precision(pe_assessment_evaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                <% if @pe_process.public_pe_dimension_name %>

                  <%= ' - '+pe_assessment_evaluation.pe_dimension_group.name if pe_assessment_evaluation.pe_dimension_group %>

                <% end %>

                <% pe_member_evaluation = @pe_member_rel.pe_member_evaluated.pe_member_evaluation pe_assessment_evaluation.pe_evaluation %>
                <% weight = pe_member_evaluation ? pe_member_evaluation.weight : pe_assessment_evaluation.pe_evaluation.weight %>

                <% sum_percentage += pe_assessment_evaluation.percentage*weight %>
                <% sum_weight += weight %>

              </td>
            <% elsif pe_assessment_evaluation && !pe_assessment_evaluation.valid_evaluation %>
              <td>
                <span class="label label-danger">No válida</span>
              </td>
            <% else %>
              <td></td>
            <% end %>

          <% end %>



        <% end %>

      <% end %>



      <% if @pe_member_rel.pe_rel.rel == 1 && @pe_process.step_assessment_show_final_results_to_boss && @pe_member_rel.valid_evaluator %>

        <% if @pe_member_rel.finished %>

          <% if @pe_process.two_dimensions? %>

            <td>

              <% if @pe_process.public_pe_box %>

                <% if @pe_member_rel.pe_member_evaluated.pe_box %>

                <span class="label label-default label-smart-table" style="text-align: center; color: <%= '#'+@pe_member_rel.pe_member_evaluated.pe_box.text_color %> !important; background-color: <%= '#'+@pe_member_rel.pe_member_evaluated.pe_box.bg_color %>;">
                  <% if @pe_member_rel.pe_member_evaluated.pe_box.short_name %>
                    &nbsp;&nbsp;<%= @pe_member_rel.pe_member_evaluated.pe_box.short_name %>&nbsp;&nbsp;
                    <br>
                  <% end %>
                  &nbsp;&nbsp;<%= @pe_member_rel.pe_member_evaluated.pe_box.name %>&nbsp;&nbsp;
                </span>

                <% end %>

              <% end %>


            </td>

          <% else %>

            <% pe_assessment_dimension = @pe_member_rel.pe_member_evaluated.pe_assessment_dimension(@pe_process.dimension_x) %>

            <% if pe_assessment_dimension && pe_assessment_dimension.percentage > -1 %>

              <td style="<%= 'color: #'+pe_assessment_dimension.pe_dimension_group.text_color+';' if  pe_assessment_dimension.pe_dimension_group %>">

                <%= number_with_precision(pe_assessment_dimension.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                <% if @pe_process.public_pe_dimension_name %>

                  <%= ' - '+pe_assessment_dimension.pe_dimension_group.name if pe_assessment_dimension.pe_dimension_group %>

                <% end %>

              </td>
            <% else %>
              <td></td>
            <% end %>

          <% end %>

        <% elsif @pe_process.step_assessment_show_final_results_to_boss_bf %>

          <td>
            <% if sum_weight > 0 %>
              <%= number_with_precision(sum_percentage/sum_weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

              <% if @pe_process.two_dimensions? %>

                <% r_x = 0.0 %>
                <% s_x = 0.0 %>
                <% r_y = 0.0 %>
                <% s_y = 0.0 %>

                <% pe_assessment_evaluations.each_with_index do |pe_assessment_evaluation, index_e| %>

                  <% unless pe_evaluations[index_e].informative %>

                    <% if pe_assessment_evaluation && pe_assessment_evaluation.percentage >= 0 && pe_assessment_evaluation.valid_evaluation %>

                      <% pe_member_evaluation = @pe_member_rel.pe_member_evaluated.pe_member_evaluation pe_assessment_evaluation.pe_evaluation %>
                      <% weight = pe_member_evaluation ? pe_member_evaluation.weight : pe_assessment_evaluation.pe_evaluation.weight %>

                      <% if pe_assessment_evaluation.pe_evaluation.pe_dimension_id == @pe_process.dimension_x.id %>

                        <% r_x += pe_assessment_evaluation.percentage*weight %>
                        <% s_x += weight %>

                      <% else %>

                        <% r_y += pe_assessment_evaluation.percentage*weight %>
                        <% s_y += weight %>

                      <% end %>

                    <% end %>

                  <% end %>

                <% end %>

                <% if s_x > 0 && s_y > 0 %>

                  <% r_x = r_x/s_x %>
                  <% r_y = r_y/s_y %>
                  <% g_x = nil %>
                  <% g_y = nil %>

                  <% @pe_process.dimension_x.pe_dimension_groups.reorder('position DESC').each do |pe_dimension_group| %>

                    <% if r_x.method(pe_dimension_group.min_sign).(pe_dimension_group.min_percentage) && r_x.method(pe_dimension_group.max_sign).(pe_dimension_group.max_percentage) %>
                      <% g_x = pe_dimension_group %>
                      <% break %>
                    <% end %>

                  <% end %>

                  <% @pe_process.dimension_y.pe_dimension_groups.reorder('position DESC').each do |pe_dimension_group| %>

                    <% if r_y.method(pe_dimension_group.min_sign).(pe_dimension_group.min_percentage) && r_y.method(pe_dimension_group.max_sign).(pe_dimension_group.max_percentage) %>
                      <% g_y = pe_dimension_group %>
                      <% break %>
                    <% end %>

                  <% end %>

                  <% if g_x && g_y %>

                    <% pe_box = @pe_process.pe_box_2d(g_x.id, g_y.id) %>

                    <% if pe_box %>

                      <span class="label label-default label-smart-table" style="text-align: center; color: <%= '#'+@pe_member_rel.pe_member_evaluated.pe_box.text_color %> !important; background-color: <%= '#'+@pe_member_rel.pe_member_evaluated.pe_box.bg_color %>;">
                        <% if pe_box.short_name %>
                          &nbsp;&nbsp;<%= pe_box.short_name %>&nbsp;&nbsp;
                          <br>
                        <% end %>
                      &nbsp;&nbsp;<%= pe_box.name %>&nbsp;&nbsp;
                      </span>

                    <% end %>

                  <% end %>

                <% end %>



              <% else %>


                <% r_x = 0.0 %>
                <% s_x = 0.0 %>

                <% pe_assessment_evaluations.each_with_index do |pe_assessment_evaluation, index_e| %>

                  <% unless pe_evaluations[index_e].informative %>

                    <% if pe_assessment_evaluation && pe_assessment_evaluation.percentage >= 0 && pe_assessment_evaluation.valid_evaluation %>

                      <% pe_member_evaluation = @pe_member_rel.pe_member_evaluated.pe_member_evaluation pe_assessment_evaluation.pe_evaluation %>
                      <% weight = pe_member_evaluation ? pe_member_evaluation.weight : pe_assessment_evaluation.pe_evaluation.weight %>

                      <% r_x += pe_assessment_evaluation.percentage*weight %>
                      <% s_x += weight %>

                    <% end %>

                  <% end %>

                <% end %>

                <% if s_x > 0 %>

                  <% r_x = r_x/s_x %>
                  <% g_x = nil %>

                  <% @pe_process.dimension_x.pe_dimension_groups.reorder('position DESC').each do |pe_dimension_group| %>

                    <% if r_x.method(pe_dimension_group.min_sign).(pe_dimension_group.min_percentage) && r_x.method(pe_dimension_group.max_sign).(pe_dimension_group.max_percentage) %>
                      <% g_x = pe_dimension_group %>
                      <% break %>
                    <% end %>

                  <% end %>

                  <% if g_x %>

                    <% pe_box = @pe_process.pe_box_1d(g_x.id) %>

                    <% if pe_box %>

                      - <%= pe_box.name %>&nbsp;&nbsp;

                    <% end %>

                  <% end %>

                <% end %>

              <% end %>





          <% end %>
          </td>

        <% end %>

      <% end %>

    </tr>
    </tbody>

  </table>

<% end %>