<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6 text-center">

    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      <%= @pe_process.step_assessment_alias %>
    </h1>



  </div>
</div>

<% if @pe_process.step_assessment_img %>
  <br>
  <div class="text-align-center">
    <img src="<%= '/storage/'+@company.codigo+'/pe_processes/'+@pe_process.id.to_s+'/steps/'+@pe_process.step_assessment_img %> ">
  </div>
  <br><br>
<% end %>
<% has_to_assess = false %>

<% @pe_members_connected.each do |pe_member_connected| %>

  <% if pe_member_connected.is_evaluator? %>

    <% has_to_assess = true %>
    <% break %>

  <% end %>

<% end %>

<% can_observe = true if @pe_process.is_a_observer? user_connected %>

<% if has_to_assess || can_observe %>

  <div class="row">

    <div class="col-md-12">

      <div class="panel panel-default">

        <div class="panel-body">

          <ul class="nav nav-tabs" role="tablist">

            <% num_rel = 0 %>

            <% if has_to_assess %>

              <% @pe_process.pe_rels.each do |pe_rel| %>

                <% has_to_assess_as = false %>

                <% @pe_members_connected.each do |pe_member_connected| %>

                  <% if pe_member_connected.has_to_asses_as_pe_rel(pe_rel) %>

                    <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

                      <% if pe_evaluation.has_pe_evaluation_rel(pe_rel) %>

                        <% pe_member_connected.pe_member_rels_is_evaluator_as_pe_rel_ordered(pe_rel).each do |pe_member_rel_evaluated| %>

                          <% unless pe_member_rel_evaluated.pe_member_evaluated.removed %>
                            <% has_to_assess_as = true %>
                            <% break %>
                          <% end %>

                        <% end %>

                      <% end %>

                    <% end %>

                  <% end %>

                <% end %>

                <% if has_to_assess_as %>

                  <% num_rel += 1 %>

                  <li class="<%= 'active' if num_rel == 1 && params[:active_pe_rel_id].nil? %><%= 'active' if !params[:active_pe_rel_id].nil? && params[:active_pe_rel_id] == pe_rel.id.to_s %>">
                    <a href="#summary_table_<%= pe_rel.id %>" role="tab" data-toggle="tab">

                      <% num_temp_t = 0 %>

                      <% num_pend = 0 %>

                      <% @pe_members_connected.each do |pe_member_connected| %>

                        <% if pe_member_connected.has_to_asses_as_pe_rel(pe_rel) %>

                          <% num_pend += pe_member_connected.num_missing_assessments_as_rel(pe_rel) %>

                          <% num_temp_t += pe_member_connected.num_assessments_as_rel(pe_rel) %>

                        <% end %>

                      <% end %>

                      <% if num_temp_t > 1 %>

                        <%= pe_rel.alias_reverse_plural %>

                      <% else %>
                        <%= pe_rel.alias_reverse %>
                      <% end %>

                      <% if num_pend > 0 %>
                        <span class="badge bg-color-redLight inbox-badge"><%= num_pend %></span>
                      <% else %>
                        <i class="fa fa-check"></i>
                      <% end %>
                    </a>

                  </li>

                <% end %>

              <% end %>

            <% end %>

            <% if can_observe %>

              <% num_rel += 1 %>

              <li class="<%= 'active' if num_rel == 1 %>">
                <a href="#summary_table_observe" role="tab" data-toggle="tab">
                  Consultar
                </a>
              </li>
            <% end %>

          </ul>

          <div class="tab-content">

            <% num_rel = 0 %>

            <% if has_to_assess %>

              <% @pe_process.pe_rels.each do |pe_rel| %>

              <% has_to_assess_as = false %>

              <% @pe_members_connected.each do |pe_member_connected| %>

                <% if pe_member_connected.has_to_asses_as_pe_rel(pe_rel) %>

                    <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

                      <% if pe_evaluation.has_pe_evaluation_rel(pe_rel) %>

                        <% pe_member_connected.pe_member_rels_is_evaluator_as_pe_rel_ordered(pe_rel).each do |pe_member_rel_evaluated| %>

                          <% unless pe_member_rel_evaluated.pe_member_evaluated.removed %>
                            <% has_to_assess_as = true %>
                            <% break %>
                          <% end %>

                        <% end %>

                      <% end %>

                    <% end %>

                <% end %>

              <% end %>

              <% if has_to_assess_as %>

                <% num_rel += 1 %>

                <div class="tab-pane <%= 'active' if num_rel == 1 && params[:active_pe_rel_id].nil? %><%= 'active' if !params[:active_pe_rel_id].nil? && params[:active_pe_rel_id] == pe_rel.id.to_s %> " id="summary_table_<%= pe_rel.id %>">

                  <legend>

                    <% if pe_rel.rel_name == :auto %>
                      Debes realizar tu autoevaluación
                    <% else %>
                      <% if @pe_process.of_persons %>


                        <% num_temp_t = 0 %>

                        <% @pe_members_connected.each do |pe_member_connected| %>

                          <% if pe_member_connected.has_to_asses_as_pe_rel(pe_rel) %>

                            <% num_temp_t += pe_member_connected.num_assessments_as_rel(pe_rel) %>

                          <% end %>

                        <% end %>

                        <% if num_temp_t > 1 %>
                          Has sido asignado para evaluar a las siguientes personas como tus <%= pe_rel.alias_reverse_plural.downcase %>
                        <% else %>
                          Has sido asignado para evaluar a la siguiente persona como tu <%= pe_rel.alias_reverse.downcase %>
                        <% end %>

                      <% else %>
                        Has sido asignado para evaluar a las siguientes áreas como tus <%= pe_rel.alias_reverse_plural.downcase %>
                      <% end %>
                    <% end %>

                  </legend>

                  <table class="table table-hover table-bordered table-striped">

                    <thead>

                      <tr>
                        <th>#</th>

                        <% if @pe_process.of_persons %>

                          <th><%= alias_username %></th>
                          <th>Apellidos</th>
                          <th>Nombre</th>

                        <% else %>

                          <th>Área</th>
                          <th>Responsable del área</th>

                        <% end %>

                        <% if @pe_process.step_assessment_cols_evals %>

                          <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

                          <script>
                            var col_<%= pe_rel.id %>_<%= pe_evaluation.id %> = false
                          </script>

                          <% unless pe_evaluation.informative %>

                            <% if pe_evaluation.has_pe_evaluation_rel(pe_rel) || (pe_evaluation.entered_by_manager? && pe_rel.rel_id == 1) %>
                              <th class="col_eval_<%= pe_rel.id %>_<%= pe_evaluation.id %>">
                                <%= pe_evaluation.name %>

                                <% if pe_rel.rel == 1 && @pe_process.step_assessment_show_final_results_to_boss %>
                                  <!--(<%= pe_evaluation.weight %>)-->
                                <% end %>
                              </th>
                            <% end %>

                          <% end %>

                        <% end %>

                        <% end %>

                        <% if pe_rel.rel == 1 && @pe_process.step_assessment_show_final_results_to_boss %>
                          <th>Resultado Final</th>
                        <% end %>

                        <th>Evaluación</th>

                        <% if @pe_process.has_step_validation? && pe_rel.rel != 0 %>
                          <th>Validación</th>
                        <% end %>

                        <th></th>
                      </tr>

                    </thead>
                    <tbody>

                      <% index = 0 %>

                      <% @pe_members_connected.each do |pe_member_connected| %>

                        <% if @pe_process.of_persons? %>

                          <% pe_member_rels_is_evaluator = pe_member_connected.pe_member_rels_is_evaluator_as_pe_rel_ordered(pe_rel)%>

                        <% else %>

                          <% pe_member_rels_is_evaluator = pe_member_connected.pe_member_rels_is_evaluator_as_rel_ordered_by_pe_area(pe_rel)%>

                        <% end %>

                        <% pe_member_rels_is_evaluator.each do |pe_member_rel_evaluated| %>

                          <% unless pe_member_rel_evaluated.pe_member_evaluated.removed %>

                            <% index += 1 %>

                            <tr>
                            <td>
                              <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
                                <strike>
                              <% end %>
                              <%= index %>
                              <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
                                </strike>
                              <% end %>
                            </td>

                            <% if @pe_process.of_persons %>

                              <td>
                                <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
                                  <strike>
                                <% end %>

                                <%= pe_member_rel_evaluated.pe_member_evaluated.user.codigo %></td>

                                <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
                                  </strike>
                                <% end %>
                              <td>
                                <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
                                  <strike>
                                <% end %>

                                <%= pe_member_rel_evaluated.pe_member_evaluated.user.apellidos %>

                                <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
                                  </strike>
                                <% end %>
                              </td>
                              <td>
                                <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
                                  <strike>
                                <% end %>

                                <%= pe_member_rel_evaluated.pe_member_evaluated.user.nombre %>

                                <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
                                  </strike>
                                <% end %>
                              </td>
                            <% else %>
                              <td>
                                <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
                                  <strike>
                                <% end %>

                                <% if pe_member_rel_evaluated.pe_member_evaluated.pe_area %>
                                  <%= pe_member_rel_evaluated.pe_member_evaluated.pe_area.name %>
                                <% end %>

                                <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
                                  </strike>
                                <% end %>
                              </td>
                              <td>
                                <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
                                  <strike>
                                <% end %>

                                <%= pe_member_rel_evaluated.pe_member_evaluated.user.apellidos %>,
                                <%= pe_member_rel_evaluated.pe_member_evaluated.user.nombre %>

                                <% if pe_member_rel_evaluated.finished && !pe_member_rel_evaluated.valid_evaluator %>
                                  </strike>
                                <% end %>
                              </td>
                            <% end %>

                            <% if @pe_process.step_assessment_cols_evals %>

                              <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

                              <% unless pe_evaluation.informative %>

                                <% if pe_evaluation.has_pe_evaluation_rel(pe_rel) || (pe_evaluation.entered_by_manager? && pe_rel.rel_id == 1) %>

                                <% if pe_member_rel_evaluated.pe_member_evaluated.has_to_be_assessed_in_evaluation(pe_evaluation) || (pe_evaluation.entered_by_manager? && pe_rel.rel_id == 1) %>

                                  <script>
                                    col_<%= pe_rel.id %>_<%= pe_evaluation.id %> = true
                                  </script>

                                  <% if @pe_process.step_assessment_show_results && (pe_member_rel_evaluated.finished || @pe_process.step_assessment_show_calculus) %>

                                    <% if !pe_member_rel_evaluated.valid_evaluator %>
                                      <td class="col_eval_<%= pe_rel.id %>_<%= pe_evaluation.id %>"></td>
                                    <% else %>

                                      <% if (pe_evaluation.entered_by_manager? && pe_rel.rel_id == 1) %>

                                        <% pe_assessment_final_evaluation = pe_member_rel_evaluated.pe_member_evaluated.pe_assessment_final_evaluation(pe_evaluation) %>

                                        <% if pe_assessment_final_evaluation && pe_assessment_final_evaluation.percentage >= 0 %>

                                          <td style="<%= 'color: #'+pe_assessment_final_evaluation.pe_dimension_group.text_color+';' if pe_assessment_final_evaluation.pe_dimension_group %>" class="col_eval_<%= pe_rel.id %>_<%= pe_evaluation.id %>">
                                            <%= number_with_precision(pe_assessment_final_evaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                                            <% if @pe_process.public_pe_dimension_name %>

                                              <%= ' - '+pe_assessment_final_evaluation.pe_dimension_group.name if pe_assessment_final_evaluation.pe_dimension_group %>

                                            <% end %>


                                            <% if pe_rel.rel == 1 && @pe_process.step_assessment_show_final_results_to_boss %>

                                              <% if pe_member_rel_evaluated.pe_member_evaluated.has_to_be_assessed_in_evaluation(pe_evaluation) %>

                                                <% pe_member_evaluation = pe_member_rel_evaluated.pe_member_evaluated.pe_member_evaluation pe_evaluation %>
                                                <% weight = pe_member_evaluation ? pe_member_evaluation.weight : pe_evaluation.weight %>



                                                (<%= weight %>)



                                              <% end %>

                                            <% end %>

                                          </td>

                                        <% end %>

                                      <% else %>

                                        <% pe_assessment_evaluation = pe_member_rel_evaluated.pe_assessment_evaluation(pe_evaluation) %>

                                        <% if pe_assessment_evaluation && pe_assessment_evaluation.percentage >= 0 %>

                                          <td style="<%= 'color: #'+pe_assessment_evaluation.pe_dimension_group.text_color+';' if pe_assessment_evaluation.pe_dimension_group %>" class="col_eval_<%= pe_rel.id %>_<%= pe_evaluation.id %>">
                                            <%= number_with_precision(pe_assessment_evaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                                            <% if @pe_process.public_pe_dimension_name %>

                                              <%= ' - '+pe_assessment_evaluation.pe_dimension_group.name if pe_assessment_evaluation.pe_dimension_group %>

                                            <% end %>


                                            <% if pe_rel.rel == 1 && @pe_process.step_assessment_show_final_results_to_boss %>

                                              <% if pe_member_rel_evaluated.pe_member_evaluated.has_to_be_assessed_in_evaluation(pe_evaluation) %>

                                                <% pe_member_evaluation = pe_member_rel_evaluated.pe_member_evaluated.pe_member_evaluation pe_evaluation %>
                                                <% weight = pe_member_evaluation ? pe_member_evaluation.weight : pe_evaluation.weight %>



                                                  (<%= weight %>)



                                              <% end %>

                                            <% end %>

                                          </td>

                                        <% else %>

                                          <td class="col_eval_<%= pe_rel.id %>_<%= pe_evaluation.id %>"></td>

                                        <% end %>

                                      <% end %>

                                    <% end %>

                                  <% else %>

                                    <td class="col_eval_<%= pe_rel.id %>_<%= pe_evaluation.id %>"></td>

                                  <% end %>

                                <% else %>

                                  <td class="col_eval_<%= pe_rel.id %>_<%= pe_evaluation.id %>">
                                    <span class="label label-default">No será evaluado</span>
                                  </td>

                                <% end %>

                              <% end %>

                              <% end %>

                            <% end %>

                            <% end %>

                            <% if pe_rel.rel == 1 && @pe_process.step_assessment_show_final_results_to_boss %>

                              <% if @pe_process.two_dimensions? %>

                                <td>

                                  <% if @pe_process.public_pe_box %>

                                    <% if pe_member_rel_evaluated.finished && pe_member_rel_evaluated.valid_evaluator && pe_member_rel_evaluated.pe_member_evaluated.pe_box %>

                                    <span class="label label-default label-smart-table" style="text-align: center; color: <%= '#'+pe_member_rel_evaluated.pe_member_evaluated.pe_box.text_color %> !important; background-color: <%= '#'+pe_member_rel_evaluated.pe_member_evaluated.pe_box.bg_color %>;">
                                      <% if pe_member_rel_evaluated.pe_member_evaluated.pe_box.short_name %>
                                        &nbsp;&nbsp;<%= pe_member_rel_evaluated.pe_member_evaluated.pe_box.short_name %>&nbsp;&nbsp;
                                        <br>
                                      <% end %>
                                      &nbsp;&nbsp;<%= pe_member_rel_evaluated.pe_member_evaluated.pe_box.name %>&nbsp;&nbsp;
                                    </span>

                                    <% end %>

                                  <% end %>

                                </td>

                              <% else %>

                                <% if pe_member_rel_evaluated.finished && pe_member_rel_evaluated.valid_evaluator %>

                                  <% pe_assessment_dimension = pe_member_rel_evaluated.pe_member_evaluated.pe_assessment_dimension(@pe_process.dimension_x) %>

                                  <% if pe_assessment_dimension && pe_assessment_dimension.percentage > -1 %>

                                    <td style="<%= 'color: #'+pe_assessment_dimension.pe_dimension_group.text_color+';' if  pe_assessment_dimension.pe_dimension_group %>">

                                      <%= number_with_precision(pe_assessment_dimension.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                                      <% if @pe_process.public_pe_dimension_name %>

                                        <%= ' - '+pe_assessment_dimension.pe_dimension_group.name if pe_assessment_dimension.pe_dimension_group %>

                                      <% end %>

                                    </td>
                                  <% else %>
                                    <td></td>
                                  <% end %>

                                <% else %>

                                  <td></td>

                                <% end %>

                              <% end %>

                            <% end %>

                            <td>
                              <% if pe_member_rel_evaluated.finished %>

                                <% if pe_member_rel_evaluated.valid_evaluator %>

                                  <span class="label label-success">Finalizada</span>

                                <% else %>

                                  <span class="label label-default">No aplica</span>

                                <% end %>

                              <% else %>
                                <span class="label label-danger">No terminada</span>
                              <% end %>
                            </td>

                            <% if @pe_process.has_step_validation? && pe_rel.rel != 0 %>
                              <th>

                                <% if pe_member_rel_evaluated.validator %>

                                  <% if pe_member_rel_evaluated.validated %>

                                    <span class="label label-success">Validada</span>

                                  <% else %>

                                    <% if pe_member_rel_evaluated.validated_at == nil %>

                                      <span class="label label-primary">Pendiente de validación</span>

                                    <% else %>

                                      <span class="label label-danger">Observada</span>

                                    <% end %>

                                  <% end %>

                                <% else %>

                                  <span class="label label-default">No aplica</span>

                                <% end %>

                              </th>
                            <% end %>

                            <td>

                              <% if pe_member_rel_evaluated.finished %>

                                <%= link_to 'Consultar', pe_assessment_show_2_path(pe_member_rel_evaluated.id) %>

                              <% else %>

                                <% if pe_member_rel_evaluated.pe_member_evaluated.step_assessment %>
                                  <span class="label label-success">La evaluación del colaborador ha finalizado</span>
                                <% else %>
                                  <% if lms_time < @pe_process.from_date %>
                                    <span class="label label-default">Aún no disponible</span>
                                  <% else %>
                                    <% if lms_time > @pe_process.to_date %>
                                      <span class="label label-danger">Plazo vencido</span>
                                    <% else %>
                                      <% if pe_rel.rel_name == :auto %>
                                        <%= link_to 'Autoevaluarme', pe_assessment_show_2_path(pe_member_rel_evaluated.id) %>
                                      <% else %>
                                        <%= link_to 'Evaluar', pe_assessment_show_2_path(pe_member_rel_evaluated.id) %>
                                      <% end %>

                                    <% end %>

                                  <% end %>

                                <% end %>

                              <% end %>

                            </td>
                          </tr>

                          <% end %>

                        <% end %>

                      <% end %>

                    </tbody>
                  </table>

                  <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

                    <script>
                      $(function() {
                        if(!col_<%= pe_rel.id %>_<%= pe_evaluation.id %>){
                          $(".col_eval_<%= pe_rel.id %>_<%= pe_evaluation.id %>").remove();
                        }
                      });
                    </script>

                  <% end %>

                </div>
              <% end %>

            <% end %>

            <% end %>


            <% if can_observe %>

              <% num_rel += 1 %>

              <div class="tab-pane <%= 'active' if num_rel == 1 %>" id="summary_table_observe">

                <br>

                <table class="table table-hover table-bordered table-striped">

                  <thead>

                  <tr>
                    <th>#</th>
                    <th><%= alias_username %></th>
                    <th>Apellidos</th>
                    <th>Nombre</th>
                    <th>Relación</th>
                    <th>Evaluador</th>
                    <th>Estado</th>
                    <th></th>
                  </tr>

                  </thead>
                  <tbody>

                  <% index = 0 %>

                  <% user_connected.pe_member_observers_ordered(@pe_process).each do |pe_member_observed| %>

                    <% pe_member_observed.pe_member_observed.pe_member_rels_is_evaluated_ordered.each do |pe_member_rel| %>

                      <% index += 1 %>

                      <tr>
                        <td>
                          <%= index %>
                        </td>


                        <td><%= pe_member_observed.pe_member_observed.user.codigo %></td>
                        <td>
                          <%= pe_member_observed.pe_member_observed.user.apellidos %>
                        </td>
                        <td>
                          <%= pe_member_observed.pe_member_observed.user.nombre %>
                        </td>
                        <td>
                          <%= pe_member_rel.pe_rel.alias %>

                        </td>
                        <td>
                          <%= pe_member_rel.pe_member_evaluator.user.apellidos %>, <%= pe_member_rel.pe_member_evaluator.user.nombre %>
                        </td>
                        <td>
                          <% if pe_member_rel.finished %>

                            <% if pe_member_rel.valid_evaluator %>

                              <span class="label label-success">
                                Finalizada
                              </span>

                            <% else %>
                              <span class="label label-default">No aplica</span>
                            <% end %>
                          <% else %>
                            <span class="label label-danger">No terminada</span>
                          <% end %>
                        </td>
                        <td>

                          <%= link_to 'Consultar', pe_observe_assessment_path(pe_member_rel) %>

                        </td>
                      </tr>

                    <% end %>

                  <% end %>

                  </tbody>
                </table>

              </div>

            <% end %>

          </div>

        </div>

      </div>

    </div>

  </div>

<% end %>



