<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6 text-center">

    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>
      <br>
      Evaluar
    </h1>

  </div>
</div>


<% lista_relaciones = {'jefe' => @hr_process.alias_jefe_inverso_plu, 'par' => @hr_process.alias_par_inverso_plu, 'sub' => @hr_process.alias_sub_inverso_plu, 'cli' => @hr_process.alias_cli_inverso_plu, 'prov' => @hr_process.alias_prov_inverso_plu} %>

<% if $current_domain == 'inkafarma-training' || $current_domain == 'inkafarma' %>

  <% lista_relaciones = {'sub' => @hr_process.alias_sub_inverso_plu, 'par' => @hr_process.alias_par_inverso_plu, 'jefe' => @hr_process.alias_jefe_inverso_plu, 'cli' => @hr_process.alias_cli_inverso_plu, 'prov' => @hr_process.alias_prov_inverso_plu} %>

<% end %>

<% characteristics_eval_des = Characteristic.where('hr_process_assessment = ?', true).reorder('orden_hr_process_assessment') %>

<% if @hr_process_user_connected.has_to_assess? || @hr_process_user_connected.has_to_autoassess? %>

  <div class="row">

    <div class="col-md-12">

      <div class="panel panel-default">

        <div class="panel-body">

          <ul class="nav nav-tabs" role="tablist">

            <% num_rel = 0 %>

            <% if $current_domain == 'inkafarma-training' || $current_domain == 'inkafarma' %>

              <% if @hr_process_user_connected.has_to_autoassess? %>

                <li class="active">

                  <a href="#cuadro_res_auto" role="tab" data-toggle="tab">
                    Autoevaluación

                    <% if @hr_process_user_connected.finalizada_auto %>
                      <i class="fa fa-check"></i>
                    <% else %>
                      <span class="badge bg-color-redLight inbox-badge">1</span>
                    <% end %>

                  </a>

                </li>

                <% num_rel = 1 %>

              <% end %>

            <% end %>

            <% lista_relaciones.each do |rel, rel_desc| %>

              <% if @hr_process_user_connected.has_to_assess_as? rel %>

                <% num_rel += 1 %>

                <li class="<%= 'active' if num_rel == 1 %>">
                  <a href="#cuadro_res_<%= rel %>" role="tab" data-toggle="tab">
                    Evaluar <%= rel_desc %>

                    <% num_pend = @hr_process_user_connected.num_hr_process_evalua_rels_pendientes_como rel %>

                    <% if num_pend > 0 %>
                      <span class="badge bg-color-redLight inbox-badge"><%= num_pend %></span>
                    <% else %>
                      <i class="fa fa-check"></i>
                    <% end %>
                  </a>

                </li>

              <% end %>

            <% end %>

            <% if $current_domain != 'inkafarma-training' && $current_domain != 'inkafarma' %>

              <% if @hr_process_user_connected.has_to_autoassess? %>

                <li class="<%= 'active' if num_rel == 0 %>">

                  <a href="#cuadro_res_auto" role="tab" data-toggle="tab">
                    Autoevaluación

                    <% if @hr_process_user_connected.finalizada_auto %>
                      <i class="fa fa-check"></i>
                    <% else %>
                      <span class="badge bg-color-redLight inbox-badge">1</span>
                    <% end %>

                  </a>

                </li>

              <% end %>

            <% end %>

          </ul>

          <div class="tab-content">

            <% num_rel = 0 %>

            <% if $current_domain == 'inkafarma-training' || $current_domain == 'inkafarma' %>

              <% if @hr_process_user_connected.has_to_autoassess? %>

                <% num_rel = 1 %>

              <% end %>

            <% end %>

            <% lista_relaciones.each do |rel, rel_desc| %>

              <% if @hr_process_user_connected.has_to_assess_as? rel %>

                <% num_rel += 1 %>

                <div class="tab-pane <%= 'active' if num_rel == 1 %>" id="cuadro_res_<%= rel %>">

                  <legend>Has sido asignado para evaluar a las siguientes personas como tus <%= lista_relaciones[rel] %></legend>

                  <table class="table table-hover table-bordered table-striped">

                    <thead>

                    <tr>
                      <th>#</th>
                      <th>Apellidos</th>
                      <th>Nombre</th>

                      <% characteristics_eval_des.each do |characteristic| %>

                        <th><%= characteristic.nombre %></th>

                      <% end %>

                      <% @hr_process_evaluations.each do |hr_process_evaluation| %>

                        <% if hr_process_evaluation.has_evaluation_for? rel %>
                          <th>
                            <%= hr_process_evaluation.name %>
                          </th>
                        <% end %>
                      <% end %>


                      <th>Estado</th>
                      <th></th>
                    </tr>

                    </thead>
                    <tbody>
                    <% @hr_process_user_connected.hr_process_evalua_users_como_uniq_order_by_apellidos_nombre(rel).each_with_index do |hr_process_user, index| %>

                      <% hr_process_user_rel = @hr_process_user_connected.hr_process_evalua_rels.where('hr_process_user2_id = ? AND tipo = ?', hr_process_user.id, rel).first %>

                      <tr>
                        <td>
                          <%= index+1 %>
                        </td>
                        <td>
                          <%= hr_process_user.user.apellidos %>
                        </td>
                        <td>
                          <%= hr_process_user.user.nombre %>

                        </td>

                        <% characteristics_eval_des.each do |characteristic| %>

                          <td>

                            <% uc = hr_process_user.user.user_characteristics.find_by_characteristic_id(characteristic.id) %>
                            <%= uc.valor if uc %>

                          </td>

                        <% end %>

                        <% @hr_process_evaluations.each do |hr_process_evaluation| %>

                          <% if hr_process_evaluation.has_evaluation_for? rel %>

                            <% hr_process_assessment_e = HrProcessAssessmentE.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? AND hr_process_user_eval_id = ? AND tipo_rel = ?', hr_process_evaluation.id, hr_process_user.id, @hr_process_user_connected.id, rel).first %>

                            <% dim_g = dimension_group_for_evaluation(hr_process_evaluation, hr_process_assessment_e) %>

                            <td style="<%= 'color: #'+dim_g.color_text+';' if dim_g && dim_g.color_text %>">

                              <% if hr_process_assessment_e %>
                                <%= hr_process_assessment_e.resultado_porcentaje.to_i %>%

                                <%= ' - '+dim_g.nombre if dim_g && dim_g.nombre %>

                              <% else %>
                                <span class="label label-default">No evaluado</span>
                              <% end %>

                            </td>

                          <% end %>

                        <% end %>

                        <td>
                          <% if hr_process_user_rel.finalizada %>
                            <span class="label label-success">Finalizada</span>
                          <% else %>
                            <span class="label label-default">No finalizada</span>
                          <% end %>
                        </td>


                        <td>



                          <% if hr_process_user_rel.finalizada %>

                            <%= link_to 'Consultar', pe_assessment_show_path(hr_process_user) %>

                          <% else %>

                            <% if hr_process_user.finalizado %>

                               <span class="label label-success">Finalizado</span>

                            <% else %>

                              <% if lms_time <= @hr_process.fecha_fin %>

                                <% listo_evaluar = false %>

                                <% @hr_process_evaluations.each do |hr_process_evaluation| %>

                                  <% if hr_process_evaluation.has_evaluation_for? rel %>

                                    <% fecha_inicio_eval = hr_process_evaluation.from_date_for rel %>

                                    <% fecha_fin_eval = hr_process_evaluation.to_date_for rel %>

                                    <% if fecha_inicio_eval && fecha_fin_eval %>

                                      <% if lms_time >= fecha_inicio_eval %>

                                        <% listo_evaluar = true %>
                                        <% break %>

                                      <% end %>

                                    <% end %>

                                  <% end %>

                                <% end %>

                                <% if listo_evaluar %>
                                  <%= link_to 'Evaluar', pe_assessment_show_path(hr_process_user) %>
                                <% else %>
                                  <span class="label label-danger">Aún no disponible</span>
                                <% end %>

                              <% else %>

                                <%= link_to 'Consultar', pe_assessment_show_path(hr_process_user) %>

                              <% end %>

                            <% end %>

                          <% end %>

                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>

                </div>
              <% end %>

            <% end %>

            <% if @hr_process_user_connected.has_to_autoassess? %>

              <div class="tab-pane <%= 'active' if num_rel == 0 || $current_domain == 'inkafarma-training' || $current_domain == 'inkafarma' %>" id="cuadro_res_auto">

                <legend>Debes realizar tu autoevaluación</legend>

                <table class="table table-hover table-bordered table-striped">

                  <thead>

                    <tr>
                      <th>Apellidos</th>
                      <th>Nombre</th>
                      <% @hr_process_evaluations.each do |hr_process_evaluation| %>
                        <% if hr_process_evaluation.has_autoevaluation? %>
                          <th>
                            <%= hr_process_evaluation.name %>
                          </th>
                        <% end %>
                      <% end %>
                      <th>Estado</th>
                      <th></th>
                    </tr>

                  </thead>

                  <tbody>
                    <tr>
                      <td>
                        <%= user_connected.apellidos %>
                      </td>
                      <td>
                        <%= user_connected.nombre %>
                      </td>

                      <% @hr_process_evaluations.each do |hr_process_evaluation| %>

                        <% if hr_process_evaluation.has_autoevaluation? %>

                          <% hr_process_assessment_e = HrProcessAssessmentE.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? AND hr_process_user_eval_id = ? AND tipo_rel IS NULL', hr_process_evaluation.id, @hr_process_user_connected.id, @hr_process_user_connected.id).first %>

                          <% dim_g = dimension_group_for_evaluation(hr_process_evaluation, hr_process_assessment_e) %>

                          <td style="<%= 'color: #'+dim_g.color_text+';' if dim_g && dim_g.color_text %>">

                            <% if hr_process_assessment_e %>
                              <%= hr_process_assessment_e.resultado_porcentaje.to_i %>%
                              <%= ' - '+dim_g.nombre if dim_g && dim_g.nombre %>

                            <% else %>
                              <span class="label label-default">No evaluado</span>
                            <% end %>

                          </td>

                        <% end %>

                      <% end %>

                      <td>
                        <% if @hr_process_user_connected.finalizada_auto %>
                          <span class="label label-success">Finalizada</span>
                        <% else %>
                          <span class="label label-default">No finalizada</span>
                        <% end %>
                      </td>

                      <td>
                        <% if lms_time <= @hr_process.fecha_fin && @hr_process_user_connected.finalizada_auto == false %>

                          <% listo_evaluar = false %>

                          <% @hr_process_evaluations.each do |hr_process_evaluation| %>

                            <% if hr_process_evaluation.has_autoevaluation? %>

                              <% fecha_inicio_eval = hr_process_evaluation.from_date_for 'auto' %>

                              <% fecha_fin_eval = hr_process_evaluation.to_date_for 'auto' %>

                              <% if fecha_inicio_eval && fecha_fin_eval %>

                                <% if lms_time >= fecha_inicio_eval %>

                                  <% listo_evaluar = true %>
                                  <% break %>

                                <% end %>

                              <% end %>

                            <% end %>

                          <% end %>

                          <% if listo_evaluar %>

                            <% if @hr_process_user_connected.finalizado %>

                              <span class="label label-success">Finalizado</span>

                            <% else %>

                              <%= link_to 'Autoevaluar', pe_assessment_show_path(@hr_process_user_connected) %>

                            <% end %>

                          <% else %>
                            <span class="label label-danger">Aún no disponible</span>
                          <% end %>



                        <% else %>

                          <%= link_to 'Consultar', pe_assessment_show_path(@hr_process_user_connected) %>

                        <% end %>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>

            <% end %>

          </div>

        </div>

      </div>

    </div>

  </div>

<% end %>


