
<% relaciones = %w(jefe par sub cli prov auto) %>

<% lista_relaciones = {'jefe' => @hr_process.alias_jefe, 'par' => @hr_process.alias_par, 'sub' => @hr_process.alias_sub, 'cli' => @hr_process.alias_cli, 'prov' => @hr_process.alias_prov} %>
<% lista_relaciones_plu = {'jefe' => @hr_process.alias_jefe_plu, 'par' => @hr_process.alias_par_plu, 'sub' => @hr_process.alias_sub_plu, 'cli' => @hr_process.alias_cli_plu, 'prov' => @hr_process.alias_prov_plu} %>


<%

   es_rel_jefe = es_rel_auto = false

   if @rel && @rel.tipo == 'jefe'

     es_rel_jefe = true

   elsif @hr_process_user.id == @hr_process_user_connected.id
     es_rel_auto = true
     @rel = HrProcessUserRel.new
     @rel.tipo = 'auto'

   end


%>

<% if @rel %>

  <div class="row">

    <div class="col-md-3">
      <%= link_to '<i class="fa fa-arrow-left"></i> Volver al cuadro resumen'.html_safe, pe_assessment_people_list_path(@hr_process), class:'btn btn-default' %>
    </div>

    <div class="col-md-6 text-center">

      <h1 class="page-title txt-color-blueDark">
        <%= @hr_process.nombre %> - <%= @hr_process.year %>
        <br>
        Evaluar
      </h1>

    </div>

  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <%= render partial: 'shared/user_profile_mini',
                 locals: {
                   user: @hr_process_user.user,
                   company: @company,
                   ocultar_historial: !es_rel_jefe,
                   titulo: 'Perfil del Evaluado'

                 }
      %>

    </div>
  </div>

  <% if es_rel_jefe %>
    <%= render partial: 'pe_shared/comments' %>
  <% end %>

  <% if es_rel_jefe && @hr_process.boss_check_results_while_assess? %>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <div class="panel-group" id="accordion_state_of_progress">
          <div class="panel panel-default">
            <div class="panel-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_state_of_progress" href="#collapse_state_of_progress">
                Ver estado de avance de la evaluación
              </a>

            </div>
            <div id="collapse_state_of_progress" class="panel-collapse collapse">
              <div class="panel-body">


                <%= render partial: 'pe_assessment/state_of_progress',
                           locals: {
                             hr_process: @hr_process,
                             hr_process_user: @hr_process_user,
                             hr_process_user_connected: @hr_process_user_connected,
                             hr_process_dimensions: @hr_process_dimensions,
                             hr_process_template: @hr_process_template
                           }
                %>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  <% end %>

  <% if es_rel_jefe && @hr_process.boss_check_final_results_while_assess? %>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <% unless @hr_process.message_boss_while_assess.blank? %>
          <div class="alert alert-success" role="alert"><%= @hr_process.message_boss_while_assess.html_safe %></div>
        <% end %>

        <div class="panel-group" id="accordion_final_evaluation">
          <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #DFF0D8 !important; ">

              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_final_evaluation" href="#collapse_final_evaluation">
                Ver detalle de evaluaciones
              </a>

            </div>
            <div id="collapse_final_evaluation" class="panel-collapse collapse">
              <div class="panel-body">

                <%= render partial: 'pe_reporting/final_results_common',
                           locals: {
                             is_boss: true,
                             relaciones: relaciones,
                             lista_relaciones: lista_relaciones,
                             lista_relaciones_plu: lista_relaciones_plu
                           }
                %>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>


  <% end %>

  <% orden_evaluations = 1 %>

  <% orden_active = 0 %>

  <% todo_esta_contestado = true %>

  <%

   unless @hr_process_user.finalizado

     @hr_process_evaluations.each do |hr_process_evaluation|

       if hr_process_evaluation.has_evaluation_for? @rel.tipo

         if @rel.tipo == 'auto'
           hr_process_assessment_e = HrProcessAssessmentE.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? AND hr_process_user_eval_id = ? AND tipo_rel IS NULL', hr_process_evaluation.id, @hr_process_user.id, @hr_process_user_connected.id).first
         else
           hr_process_assessment_e = HrProcessAssessmentE.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? AND hr_process_user_eval_id = ? AND tipo_rel = ?', hr_process_evaluation.id, @hr_process_user.id, @hr_process_user_connected.id, @rel.tipo).first
         end

         if hr_process_assessment_e

           total_preguntas_contestadas = hr_process_assessment_e.hr_process_assessment_qs.where('resultado_puntos IS NOT NULL').count

           if hr_process_evaluation.carga_manual?
             total_preguntas_por_contestar = hr_process_evaluation.total_number_of_manual_questions(@hr_process_user)
           else
             total_preguntas_por_contestar = hr_process_evaluation.total_number_of_questions(@hr_process_user.hr_process_level.id)
           end

           todo_esta_contestado = false unless total_preguntas_contestadas == total_preguntas_por_contestar

           if total_preguntas_contestadas > 0 && total_preguntas_contestadas < total_preguntas_por_contestar
             orden_active = orden_evaluations
             break
           end

         else

           todo_esta_contestado = false

           if orden_active == 0

             orden_active = orden_evaluations
             break

           end

         end

         orden_evaluations += 1

       end

     end

   end

   orden_active = 0 if es_rel_auto && @hr_process_user_connected.finalizada_auto

  %>

  <div class="text-center">
    <ul class="nav nav-pills nav-pills-<%= $current_domain %>" style="display: inline-block;">

      <% orden_evaluations = 1 %>

      <% @hr_process_evaluations.each_with_index do |hr_process_evaluation, index| %>

        <% if hr_process_evaluation.has_evaluation_for? @rel.tipo %>

          <li class="<%= 'active' if orden_active == orden_evaluations %>">
            <a href="#tab_evaluation_<%= hr_process_evaluation.id %>" data-toggle="tab"><%= orden_evaluations %>. <%= hr_process_evaluation.name %></a>
          </li>

          <% orden_evaluations += 1 %>

        <% end %>

      <% end %>

      <li class="<%= 'active' if orden_active == 0 %>">
        <a href="#tab_resultado_confirmar" data-toggle="tab"><%= orden_evaluations %>. Finalizar evaluación</a>
      </li>


    </ul>
  </div>

  <% evals_con_no_aplica = Array.new %>

  <div class="tab-content">

    <% orden_evaluations = 1 %>

    <% @hr_process_evaluations.each_with_index do |hr_process_evaluation, index| %>

      <%
         if es_rel_jefe && hr_process_evaluation.hr_process_dimension_e.eval_auto && @hr_process.jefe_ve_autoeval
           jefe_ve_colaborador = true
           hr_process_assessment_e_auto = HrProcessAssessmentE.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? AND hr_process_user_eval_id = ? AND tipo_rel IS NULL', hr_process_evaluation.id, @hr_process_user.id, @hr_process_user.id).first
         else
           jefe_ve_colaborador = false
         end
      %>

      <% if hr_process_evaluation.has_evaluation_for? @rel.tipo %>

        <%
        if @rel.tipo == 'auto'
          hr_process_assessment_e = HrProcessAssessmentE.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? AND hr_process_user_eval_id = ? AND tipo_rel IS NULL', hr_process_evaluation.id, @hr_process_user.id, @hr_process_user_connected.id).first
        else
          hr_process_assessment_e = HrProcessAssessmentE.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? AND hr_process_user_eval_id = ? AND tipo_rel = ?', hr_process_evaluation.id, @hr_process_user.id, @hr_process_user_connected.id, @rel.tipo).first
        end
        %>

        <div class="tab-pane <%= 'active' if orden_active == orden_evaluations %>" id="tab_evaluation_<%= hr_process_evaluation.id %>">

          <% manual_q_confirmado = hr_process_evaluation.manual_questions_confirmed(@hr_process_user) if hr_process_evaluation.carga_manual? %>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">

              <div class="panel panel-default">
                <div class="panel-body">

                  <legend><%= orden_evaluations %>. <%= hr_process_evaluation.name %></legend>

                  <% unless hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.explanation.blank? %>

                    <%= hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.explanation.html_safe %>
                    <hr>
                  <% end %>

                  <% fecha_fin = @hr_process.fecha_fin %>

                  <% fecha_inicio_eval = hr_process_evaluation.from_date_for @rel.tipo %>

                  <% fecha_fin_eval = hr_process_evaluation.to_date_for @rel.tipo %>

                  <% if hr_process_evaluation.has_evaluation_for? @rel.tipo %>

                    <% if fecha_inicio_eval && fecha_fin_eval %>

                      <% if lms_time < fecha_inicio_eval %>

                        <% unless @hr_process_user.finalizado %>

                          La evaluación iniciará el <strong><%= (localize fecha_inicio_eval, format: :day_snmonth_year) %></strong>

                              <span class="label label-primary">En
                                <%= distance_of_time_in_words(lms_time, fecha_inicio_eval) %>
                              </span>

                        <% end %>

                      <% else %>

                        <% fecha_fin = fecha_fin_eval if fecha_fin_eval < fecha_fin %>

                        <% unless @hr_process_user.finalizado %>
                          La evaluación
                          <% if lms_time > fecha_fin %>
                            finalizó
                          <% else %>
                            finalizará
                          <% end %>

                          el

                          <strong><%= (localize fecha_fin, format: :day_snmonth_year) %></strong>

                          <% if lms_time > fecha_fin %>

                                <span class="label label-danger">Hace
                                  <%= distance_of_time_in_words(fecha_fin, lms_time) %>
                                </span>

                          <% else %>
                                <span class="label label-primary">En
                                  <%= distance_of_time_in_words(lms_time, fecha_fin) %>
                                </span>
                          <% end %>

                          <br>
                          <br>

                        <% end %>

                        <% if hr_process_assessment_e %>

                          <% if hr_process_assessment_e.resultado_puntos == -1 %>
                            <strong>Resultado.</strong>
                                  <span class="label label-danger">
                                      La evaluación no aplica
                                  </span>
                            <% evals_con_no_aplica.push hr_process_evaluation.id %>
                          <% else %>
                            <strong>Resultado.</strong> La persona evaluada ha obtenido
                            <strong>
                              <%= hr_process_assessment_e.resultado_porcentaje.to_i %>%
                            </strong>
                          <% end %>
                        <% end %>

                      <% end %>

                    <% else %>

                      Aún no se han definido fechas para la evaluación.

                    <% end %>
                  <% end %>
                  <% if hr_process_evaluation.carga_manual? && !manual_q_confirmado %>
                    <br>
                    <div class="alert alert-danger">
                      Aún no se han definido y confirmado los <%= hr_process_evaluation.name.downcase %>.
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <%
             total_preguntas_contestadas = 0
             total_preguntas_contestadas_no_aplica = 0

             total_preguntas_contestadas = hr_process_assessment_e.hr_process_assessment_qs.where('resultado_puntos IS NOT NULL').count if hr_process_assessment_e

             if hr_process_evaluation.carga_manual?
               total_preguntas_por_contestar = hr_process_evaluation.total_number_of_manual_questions(@hr_process_user)
             else
               total_preguntas_por_contestar = hr_process_evaluation.total_number_of_questions(@hr_process_user.hr_process_level.id)
             end

             if hr_process_evaluation.tope_no_aplica

               type_element_second_orden = hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.last
               if type_element_second_orden

                 total_preguntas_contestadas_no_aplica = hr_process_assessment_e.hr_process_assessment_qs.where('resultado_puntos = -1 AND hr_process_evaluation_q_id NOT IN(?)',hr_process_evaluation.questions_nivel_1(@hr_process_user.hr_process_level.id).map(&:id)).count if hr_process_assessment_e
                 total_preguntas_por_contestar_no_aplica = hr_process_evaluation.total_number_of_questions_type_element(@hr_process_user.hr_process_level.id, type_element_second_orden.id)
               else
                 total_preguntas_contestadas_no_aplica = hr_process_assessment_e.hr_process_assessment_qs.where('resultado_puntos = -1').count if hr_process_assessment_e
                 total_preguntas_por_contestar_no_aplica = total_preguntas_por_contestar


               end

             end


          %>



          <% if total_preguntas_contestadas > 0 && total_preguntas_contestadas < total_preguntas_por_contestar %>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 alert alert-danger">
                Le faltan preguntas por responder.
              </div>
            </div>
          <% end %>

          <% if hr_process_evaluation.tope_no_aplica && total_preguntas_por_contestar_no_aplica > 0 && (total_preguntas_contestadas_no_aplica*100/total_preguntas_por_contestar_no_aplica)>hr_process_evaluation.tope_no_aplica %>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 alert alert-danger">
                Usted ha superado el número máximo permitido de preguntas contestadas con No Aplica.
              </div>
            </div>
            <% evals_con_no_aplica.push hr_process_evaluation.id %>
          <% end %>

          <% mostrar_preguntas = false %>

          <% mostrar_preguntas = true if hr_process_evaluation.has_evaluation_for?(@rel.tipo) && lms_time >= hr_process_evaluation.from_date_for(@rel.tipo) %>

          <% mostrar_preguntas = false if hr_process_evaluation.carga_manual? && !manual_q_confirmado %>

          <% if mostrar_preguntas %>

            <% hr_process_evaluation_type_element_nivel_1 = hr_process_evaluation.evaluation_type_element_level_1 %>
            <% hr_process_evaluation_type_element_nivel_2 = hr_process_evaluation.evaluation_type_element_level_2 %>

            <% if hr_process_evaluation.carga_manual? %>

              <% if hr_process_evaluation_type_element_nivel_2 %>
                <%= render partial: 'pe_assessment/show_manual_questions_2_levels',
                           locals: {
                             hr_process_user: @hr_process_user,
                             hr_process_user_connected: @hr_process_user_connected,
                             hr_process_evaluation: hr_process_evaluation,
                             hr_evaluation_type_element_nivel_1: hr_process_evaluation_type_element_nivel_1,
                             hr_evaluation_type_element_nivel_2: hr_process_evaluation_type_element_nivel_2,
                             fecha_fin: fecha_fin
                           }
                %>
              <% else %>

              <% end %>

            <% else %>
              <% if hr_process_evaluation_type_element_nivel_2 %>
                <%= render partial: 'pe_assessment/show_questions_2_levels',
                           locals: {
                             hr_process: @hr_process,
                             hr_process_user: @hr_process_user,
                             hr_process_user_connected: @hr_process_user_connected,
                             hr_process_evaluation: hr_process_evaluation,
                             jefe_ve_colaborador: jefe_ve_colaborador,
                             hr_process_assessment_e_auto: hr_process_assessment_e_auto,
                             fecha_fin: fecha_fin
                           }
                %>
              <% else %>
                <%= render partial: 'pe_assessment/show_questions_1_level',
                           locals: {
                             hr_process: @hr_process,
                             hr_process_user: @hr_process_user,
                             hr_process_user_connected: @hr_process_user_connected,
                             hr_process_evaluation: hr_process_evaluation,
                             jefe_ve_colaborador: jefe_ve_colaborador,
                             hr_process_assessment_e_auto: hr_process_assessment_e_auto,
                             fecha_fin: fecha_fin
                           }
                %>
              <% end %>


            <% end %>

          <% end %>
        </div>

        <% orden_evaluations += 1 %>

      <% end %>

    <% end %>

    <div class="tab-pane <%= 'active' if orden_active == 0 %>" id="tab_resultado_confirmar">

      <%= render partial: 'pe_assessment/finish',
                 locals: {
                   orden_evaluations: orden_evaluations,
                   hr_process: @hr_process,
                   hr_process_user: @hr_process_user,
                   hr_process_user_connected: @hr_process_user_connected,
                   rel: @rel,
                   hr_process_evaluations: @hr_process_evaluations,
                   evals_con_no_aplica: evals_con_no_aplica,
                   todo_esta_contestado: todo_esta_contestado
                 }
      %>

    </div>

  </div>

<% end %>