<%= form_for(@pe_group2) do |f| %>
  <% if @pe_group2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pe_group2.errors.count, "error") %> prohibited this pe_group2 from being saved:</h2>

      <ul>
      <% @pe_group2.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :pe_processes %><br />
    <%= f.text_field :pe_processes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
