<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pe_group2.name %>
</p>

<p>
  <b>Pe processes:</b>
  <%= @pe_group2.pe_processes %>
</p>


<%= link_to 'Edit', edit_pe_group2_path(@pe_group2) %> |
<%= link_to 'Back', pe_group2s_path %>
