<%= form_for @pe_evaluation, html: {class: 'form-horizontal'} do |f| %>


  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos de la evaluación</legend>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :pe_process_id %>

      <% dimensiones_array = @pe_process.pe_dimensions.map { |pe_dimension| [pe_dimension.name, pe_dimension.id] } %>

      <% dimensiones_array.pop unless @pe_process.two_dimensions? %>

      <div class="form-group <%= field_with_errors f, :pe_dimension_id %>">

        <%= f.label :pe_dimension_id, 'Dimensión', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.select(:pe_dimension_id, options_for_select(dimensiones_array, @pe_evaluation.pe_dimension_id), {}, class: 'form-control') %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :weight %>">

        <%= f.label :weight, 'Peso', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.number_field :weight, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :informative, 'Informativa', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :informative %>
          <br>
          <em>
            El sistema marcará una evaluación como informativa cuando no se le puede calcular un resultado debido a que todas sus preguntas pesan cero.
            <br>
            Si se marca manualmente una evaluación como informativa, y esta tiene preguntas con peso, el sistema calculará y operará sus resultados de forma normal (de ser el caso).
            Sólo afectará la forma en que se presentan en los reportes.
          </em>


          <script>

            $('#pe_evaluation_informative').bootstrapSwitch({
              onColor: 'success',
              onText: "SI",
              offColor: 'danger',
              offText: "NO",
              size: "small"
            });

          </script>

        </div>

      </div>

      <hr>

      <div class="form-group <%= field_with_errors f, :position %>">

        <%= f.label :position, 'Orden', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.number_field :position, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :name %>">

        <%= f.label :name, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :name, class: 'form-control' %>

        </div>

      </div>

      <div class="form-group <%= field_with_errors f, :name %>">

        <%= f.label :cod, 'Código', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_field :cod, class: 'form-control' %>

          <em>En minúsculas, sin espacios en blanco, y sin repetirse en un mismo proceso</em>

        </div>

      </div>

      <div class="form-group">

        <%= f.label :description, 'Descripción', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.text_area :description, rows: '5', class: 'form-control' %>

          <script type="text/javascript">
            $('#pe_evaluation_description').wysihtml5({
              "font-styles": false,
              "emphasis": true,
              "lists": true,
              "html": true,
              "link": false,
              "image": false,
              "color": false
            });
          </script>

        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :allow_definition_by_managers, 'Permite definición de preguntas por gestores', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :allow_definition_by_managers %>


          <script>
            $('#pe_evaluation_allow_definition_by_managers').bootstrapSwitch({
              onColor: 'success',
              onText: "SI",
              offColor: 'danger',
              offText: "NO",
              size: "small"
            });

          </script>

        </div>

      </div>

      <hr>

      <div class="form-group">

        <%= f.label :entered_by_manager, 'Registrada por el gestor', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :entered_by_manager, onchange: 'toggle_entered_by_manager();' %>
          <br>
          <em>
            El gestor del proceso registrará directamente el porcentaje final obtenido por el evaluado.
            Los evaluadores no podrán evaluar esta evaluación.
          </em>


          <script>

            $('#pe_evaluation_entered_by_manager').bootstrapSwitch({
              onColor: 'success',
              onText: "SI",
              offColor: 'danger',
              offText: "NO",
              size: "small"
            });



            function toggle_entered_by_manager(){

              if($('#pe_evaluation_entered_by_manager').is(":checked")){
                $('#not_entered_by_manager_container').hide();
              }else{
                $('#not_entered_by_manager_container').show();
              }

            }

            $(document).ready(function() {
              toggle_entered_by_manager();
            });


          </script>




        </div>

      </div>

      <hr>

      <legend><strong>Consultar definición de evaluaciones</strong></legend>

      <div class="form-group">
        <label class='col-md-3 control-label'> Mostrar la evaluación en paso de consultar definiciones </label>
        <div class="col-md-9">
          <%= f.check_box :display_in_qdefs %>
          <script>
            $('#pe_evaluation_display_in_qdefs').bootstrapSwitch({
              onColor: 'success',
              onText: "SI",
              offColor: 'danger',
              offText: "NO",
              size: "small"
            });
          </script>
        </div>
      </div>

      <div class="form-group">
        <label class='col-md-3 control-label'> Mostrar peso de la evaluación en paso de consultar definiciones </label>
        <div class="col-md-9">
          <%= f.check_box :display_weight_in_qdefs %>
          <script>
            $('#pe_evaluation_display_weight_in_qdefs').bootstrapSwitch({
              onColor: 'success',
              onText: "SI",
              offColor: 'danger',
              offText: "NO",
              size: "small"
            });
          </script>
        </div>
      </div>

      <div class="form-group">
        <label class='col-md-3 control-label'> Comentarios por pregunta </label>
        <div class="col-md-9">

          <%= f.check_box :qdefs_allow_individual_comments_by_boss %> Comentarios por el jefe<br>

          <%= f.check_box :qdefs_allow_watch_individual_comments_by_boss %> Comentarios por el jefe visualizados por el evaluado<br>

          <%= f.check_box :qdefs_allow_individual_comments_with_boss %> Comentarios colaborativos jefe evaluado

          <script>
            $('#pe_evaluation_qdefs_allow_individual_comments_by_boss').bootstrapSwitch({
              onColor: 'success',
              onText: "SI",
              offColor: 'danger',
              offText: "NO",
              size: "small"
            });
          </script>

          <script>
            $('#pe_evaluation_qdefs_allow_watch_individual_comments_by_boss').bootstrapSwitch({
              onColor: 'success',
              onText: "SI",
              offColor: 'danger',
              offText: "NO",
              size: "small"
            });
          </script>

          <script>
            $('#pe_evaluation_qdefs_allow_individual_comments_with_boss').bootstrapSwitch({
              onColor: 'success',
              onText: "SI",
              offColor: 'danger',
              offText: "NO",
              size: "small"
            });
          </script>

        </div>

      </div>

      <div id="not_entered_by_manager_container">

        <hr>

        <legend><strong>Definición</strong></legend>

        <br>

        <div class="form-group">

          <%= f.label :allow_definition_by_users, 'Permite definición de preguntas por usuarios', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :allow_definition_by_users, onchange: 'toggle_allow_definition_by_users();' %>


            <script>
              $('#pe_evaluation_allow_definition_by_users').bootstrapSwitch({
                onColor: 'success',
                onText: "SI",
                offColor: 'danger',
                offText: "NO",
                size: "small"
              });

              function toggle_allow_definition_by_users(){

                if($('#pe_evaluation_allow_definition_by_users').is(":checked")){
                  $('#allow_definition_by_users_container').show();
                }else{
                  $('#allow_definition_by_users_container').hide();
                }

              }

              $(document).ready(function() {
                toggle_allow_definition_by_users();
              });

            </script>


          </div>

        </div>

        <div id="allow_definition_by_users_container">

          <% def_by_rol_array = @pe_process.pe_rels_array_for_select %>

          <% def_by_rol_selected_array = @pe_evaluation.definition_by_users_rol.split('-') if @pe_evaluation.definition_by_users_rol %>

          <div class="form-group <%= field_with_errors f, :definition_by_users_rol %>" id="element_def_by_rol_container">

            <%= f.label :definition_by_users_rol, 'Definido por los roles', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.select(:definition_by_users_rol, options_for_select(def_by_rol_array, def_by_rol_selected_array), {}, {multiple: true, size: 3, class: 'form-control'}) %>

              <script>
                $("#pe_evaluation_definition_by_users_rol").select2();
              </script>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :definition_by_users_clone %>">

            <%= f.label :definition_by_users_clone, 'Permite clonar la definición de un evaluado a otro', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :definition_by_users_clone %>


              <script>
                $('#pe_evaluation_definition_by_users_clone').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });

              </script>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :definition_by_users_pdf %>">

            <%= f.label :definition_by_users_pdf, 'Permite descargar la definición en PDF', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :definition_by_users_pdf %>


              <script>
                $('#pe_evaluation_definition_by_users_pdf').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });

              </script>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :definition_by_user_finish_message %>">

            <%= f.label :name, 'Mensaje mostrado para finalizar la definición', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_area :definition_by_user_finish_message, class: 'form-control', rows: '3' %>
              <em>255 caracteres</em>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :definition_by_user_finish_message %>">

            <%= f.label :name, 'Mensaje mostrado para finalizar la definición después de realizar las correcciones solicitadas por el validador', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_area :definition_by_user_finish_validated_message, class: 'form-control', rows: '3' %>
              <em>255 caracteres</em>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :label_not_initiated_definition_by_users %>">

            <%= f.label :name, 'Label no iniciado', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :label_not_initiated_definition_by_users, class: 'form-control' %>

              <em>Formato: Texto|color</em>
              <br>
              <em>Colores:</em>
              <span class="label label-default">default</span>
              <span class="label label-danger">danger</span>
              <span class="label label-primary">primary</span>
              <span class="label label-success">success</span>
              <br>
              <em>Ejemplo: No iniciado|default</em>, esto generará <span class="label label-default">No iniciado</span>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :label_not_ready_definition_by_users %>">

            <%= f.label :name, 'Label pendiente', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :label_not_ready_definition_by_users, class: 'form-control' %>

              <em>Formato: Texto|color</em>
              <br>
              <em>Colores:</em>
              <span class="label label-default">default</span>
              <span class="label label-danger">danger</span>
              <span class="label label-primary">primary</span>
              <span class="label label-success">success</span>
              <br>
              <em>Ejemplo: Pendiente|default</em>, esto generará <span class="label label-default">Pendiente</span>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :label_ready_definition_by_users %>">

            <%= f.label :name, 'Label finalizado', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.text_field :label_ready_definition_by_users, class: 'form-control' %>

              <em>Formato: Texto|color</em>
              <br>
              <em>Colores:</em>
              <span class="label label-default">default</span>
              <span class="label label-danger">danger</span>
              <span class="label label-primary">primary</span>
              <span class="label label-success">success</span>
              <br>
              <em>Ejemplo: Finalizado|success</em>, esto generará <span class="label label-success">Finalizado</span>

            </div>

          </div>

          <% pe_evaluations = @pe_process.pe_evaluations.map { |pe_evaluation| [pe_evaluation.name, pe_evaluation.id] } %>

          <div class="form-group">
            <label class='col-md-3 control-label'> Evaluaciones a mostrar durante la definición </label>
            <div class="col-md-9">

              <%= select_tag(:pe_displayed_evaluation_definition_by_users_ids, options_for_select(pe_evaluations, @pe_evaluation.pe_evaluation_displayed_def_by_users.map {|e| e.pe_displayed_evaluation.id}), {:include_blank => '- Seleccione evaluaciones -', class: 'form-control', id: 'pe_displayed_evaluation_definition_by_users_ids', name: 'pe_displayed_evaluation_definition_by_users_ids[]', multiple: '3'}) %>

            </div>
          </div>


          <script>
            $('#pe_displayed_evaluation_definition_by_users_ids').select2()
          </script>

          <hr>

          <div class="form-group">
            <label class='col-md-3 control-label'> Número de pasos de validación previos a la confirmación de preguntas </label>
            <div class="col-md-9">

              <%= f.text_field :num_steps_definition_by_users_validated_before_accepted, class: 'form-control', onchange: 'toggle_validated_before_accepted();' %>

            </div>
          </div>

          <div id="validated_before_accepted_container">

            <div class="form-group">
              <label class='col-md-3 control-label'> Alias de pasos de validación previos a la confirmación de preguntas </label>
              <div class="col-md-9">

                <%= f.text_field :alias_steps_definition_by_users_validated_before_accepted, class: 'form-control' %>
                <em>
                  Paso-Responsable;Paso-Responsable<br>
                  Por ejemplo: Validar-Validador;Controlar-Controlador
                </em>

              </div>
            </div>

            <div class="form-group <%= field_with_errors f, :definition_by_user_validate_before_message %>">

              <%= f.label :name, 'Mensaje mostrado para validar la definición', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_area :definition_by_user_validate_before_message, class: 'form-control', rows: '3' %>
                <em>255 caracteres</em>

              </div>

            </div>

            <div class="form-group <%= field_with_errors f, :label_not_ready_definition_by_users_validated_before_accepted %>">

              <%= f.label :name, 'Label pendiente', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_field :label_not_ready_definition_by_users_validated_before_accepted, class: 'form-control' %>

                <em>Ejemplo: Texto_paso_1|color_paso_1;Texto_paso_2|color_paso_2</em>
                <br>
                <em>Colores:</em>
                <span class="label label-default">default</span>
                <span class="label label-danger">danger</span>
                <span class="label label-primary">primary</span>
                <span class="label label-success">success</span>
                <br>
                <em>Ejemplo: Pendiente|primary</em>, esto generará <span class="label label-primary">Pendiente</span>

              </div>

            </div>

            <div class="form-group <%= field_with_errors f, :label_ready_definition_by_users_validated_before_accepted %>">

              <%= f.label :name, 'Label finalizado', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_field :label_ready_definition_by_users_validated_before_accepted, class: 'form-control' %>
                <em>Ejemplo: Texto_paso_1|color_paso_1;Texto_paso_2|color_paso_2</em>
                <br>
                <em>Colores:</em>
                <span class="label label-default">default</span>
                <span class="label label-danger">danger</span>
                <span class="label label-primary">primary</span>
                <span class="label label-success">success</span>
                <br>
                <em>Ejemplo: Validado|success</em>, esto generará <span class="label label-success">Validado</span>


              </div>

            </div>

            <div class="form-group <%= field_with_errors f, :label_rejected_definition_by_users_validated_before_accepted %>">

              <%= f.label :name, 'Label rechazado', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_field :label_rejected_definition_by_users_validated_before_accepted, class: 'form-control' %>
                <em>Ejemplo: Texto_paso_1|color_paso_1;Texto_paso_2|color_paso_2</em>
                <br>
                <em>Colores:</em>
                <span class="label label-default">default</span>
                <span class="label label-danger">danger</span>
                <span class="label label-primary">primary</span>
                <span class="label label-success">success</span>
                <br>
                <em>Ejemplo: Rechazado|danger</em>, esto generará <span class="label label-danger">Rechazado</span>
              </div>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :def_by_users_validated_before_accepted_manager, 'Validador puede rechazar definidos por gestor', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :def_by_users_validated_before_accepted_manager %>


              <script>
                $('#pe_evaluation_def_by_users_validated_before_accepted_manager').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });

              </script>

            </div>

          </div>

          <script>

            function toggle_validated_before_accepted(){

              if(parseInt($('#pe_evaluation_num_steps_definition_by_users_validated_before_accepted').val()) > 0 ){
                $('#validated_before_accepted_container').show();
              }else{
                $('#validated_before_accepted_container').hide();
              }

            }

            $(document).ready(function() {
              toggle_validated_before_accepted();
            });

          </script>



          <hr>

          <div class="form-group">

            <%= f.label :allow_definition_by_users_accepted, 'El usuario debe confirmar las preguntas que le han sido definidas', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :allow_definition_by_users_accepted, onchange: 'toggle_allow_definition_by_users_accepted(); toggle_watch_my_definition_when_finished();' %>


              <script>
                $('#pe_evaluation_allow_definition_by_users_accepted').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });

                function toggle_allow_definition_by_users_accepted(){

                  if($('#pe_evaluation_allow_definition_by_users_accepted').is(":checked")){
                    $('#allow_definition_by_users_accepted_container').show();
                  }else{
                    $('#allow_definition_by_users_accepted_container').hide();
                  }

                }

                $(document).ready(function() {
                  toggle_allow_definition_by_users_accepted();
                });

              </script>


            </div>

          </div>

          <div id="allow_definition_by_users_accepted_container">

            <div class="form-group <%= field_with_errors f, :definition_by_users_accept_message %>">

              <%= f.label :name, 'Mensaje mostrado para realizar la confirmación', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_area :definition_by_users_accept_message, class: 'form-control', rows: '3' %>
                <em>255 caracteres</em>

              </div>

            </div>



            <div class="form-group <%= field_with_errors f, :label_not_ready_definition_by_users_accepted %>">

              <%= f.label :name, 'Label pendiente', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_field :label_not_ready_definition_by_users_accepted, class: 'form-control' %>
                <em>Formato: Texto|color</em>
                <br>
                <em>Colores:</em>
                <span class="label label-default">default</span>
                <span class="label label-danger">danger</span>
                <span class="label label-primary">primary</span>
                <span class="label label-success">success</span>
                <br>
                <em>Ejemplo: Pendiente|default</em>, esto generará <span class="label label-default">Pendiente</span>

              </div>

            </div>

            <div class="form-group <%= field_with_errors f, :label_ready_definition_by_users_accepted %>">

              <%= f.label :name, 'Label finalizado', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_field :label_ready_definition_by_users_accepted, class: 'form-control' %>
                <em>Formato: Texto|color</em>
                <br>
                <em>Colores:</em>
                <span class="label label-default">default</span>
                <span class="label label-danger">danger</span>
                <span class="label label-primary">primary</span>
                <span class="label label-success">success</span>
                <br>
                <em>Ejemplo: Finalizado|success</em>, esto generará <span class="label label-success">Finalizado</span>

              </div>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :allow_watching_own_definition, 'Permite consultar mi definición', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :allow_watching_own_definition, onchange: 'toggle_watch_my_definition_when_finished();'  %>


              <script>
                $('#pe_evaluation_allow_watching_own_definition').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small",
                  size: "small"
                });

              </script>


            </div>

          </div>

          <div id="watch_my_definition_when_finished_container">

            <div class="form-group">

              <%= f.label :watch_my_definition_only_when_finished, 'Se consultará mi definición sólo cuando esta haya sido finalizada por el usuario que define', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.check_box(:watch_my_definition_only_when_finished) %>


                <script>
                  $('#pe_evaluation_watch_my_definition_only_when_finished').bootstrapSwitch({
                    onColor: 'success',
                    onText: "SI",
                    offColor: 'danger',
                    offText: "NO",
                    size: "small",
                    size: "small"
                  });

                  function toggle_watch_my_definition_when_finished(){

                    if($('#pe_evaluation_allow_definition_by_users_accepted').is(":checked") || $('#pe_evaluation_allow_watching_own_definition').is(":checked")){
                      $('#watch_my_definition_when_finished_container').show();
                    }else{
                      $('#watch_my_definition_when_finished_container').hide();
                    }

                  }

                  $(document).ready(function() {
                    toggle_watch_my_definition_when_finished();
                  });

                </script>


              </div>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :definition_by_users_accept_pdf %>">

            <%= f.label :definition_by_users_accept_pdf, 'Permite descargar la definición en PDF', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :definition_by_users_accept_pdf %>


              <script>
                $('#pe_evaluation_definition_by_users_accept_pdf').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });

              </script>

            </div>

          </div>

          <hr>

          <div class="form-group">
            <label class='col-md-3 control-label'> Número de pasos de validación posteriores a la confirmación de preguntas </label>
            <div class="col-md-9">

              <%= f.text_field :num_steps_definition_by_users_validated_after_accepted, class: 'form-control', onchange: 'toggle_validated_after_accepted();' %>

            </div>
          </div>

          <div id="validated_after_accepted_container">

            <div class="form-group">
              <label class='col-md-3 control-label'> Alias de pasos de validación posteriores a la confirmación de preguntas </label>
              <div class="col-md-9">

                <%= f.text_field :alias_steps_definition_by_users_validated_after_accepted, class: 'form-control' %>
                <em>
                  Paso-Responsable;Paso-Responsable<br>
                  Por ejemplo: Validar-Validador;Controlar-Controlador
                </em>

              </div>
            </div>

            <div class="form-group <%= field_with_errors f, :definition_by_user_validate_after_message %>">

              <%= f.label :name, 'Mensaje mostrado para validar la definición', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_area :definition_by_user_validate_after_message, class: 'form-control', rows: '3' %>
                <em>255 caracteres</em>

              </div>

            </div>

            <div class="form-group <%= field_with_errors f, :label_not_ready_definition_by_users_validated_after_accepted %>">

              <%= f.label :name, 'Label pendiente', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_field :label_not_ready_definition_by_users_validated_after_accepted, class: 'form-control' %>
                <em>Ejemplo: Texto_paso_1|color_paso_1;Texto_paso_2|color_paso_2</em>
                <br>
                <em>Colores:</em>
                <span class="label label-default">default</span>
                <span class="label label-danger">danger</span>
                <span class="label label-primary">primary</span>
                <span class="label label-success">success</span>
                <br>
                <em>Ejemplo: Pendiente|primary</em>, esto generará <span class="label label-primary">Pendiente</span>
              </div>

            </div>

            <div class="form-group <%= field_with_errors f, :label_ready_definition_by_users_validated_after_accepted %>">

              <%= f.label :name, 'Label finalizado', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_field :label_ready_definition_by_users_validated_after_accepted, class: 'form-control' %>
                <em>Ejemplo: Texto_paso_1|color_paso_1;Texto_paso_2|color_paso_2</em>
                <br>
                <em>Colores:</em>
                <span class="label label-default">default</span>
                <span class="label label-danger">danger</span>
                <span class="label label-primary">primary</span>
                <span class="label label-success">success</span>
                <br>
                <em>Ejemplo: Validado|success</em>, esto generará <span class="label label-success">Validado</span>
              </div>

            </div>

            <div class="form-group <%= field_with_errors f, :label_rejected_definition_by_users_validated_after_accepted %>">

              <%= f.label :name, 'Label rechazado', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_field :label_rejected_definition_by_users_validated_after_accepted, class: 'form-control' %>
                <em>Ejemplo: Texto_paso_1|color_paso_1;Texto_paso_2|color_paso_2</em>
                <br>
                <em>Colores:</em>
                <span class="label label-default">default</span>
                <span class="label label-danger">danger</span>
                <span class="label label-primary">primary</span>
                <span class="label label-success">success</span>
                <br>
                <em>Ejemplo: Rechazado|danger</em>, esto generará <span class="label label-danger">Rechazado</span>
              </div>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :def_by_users_validated_after_accepted_manager, 'Validador puede rechazar definidos por gestor', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :def_by_users_validated_after_accepted_manager %>


              <script>
                $('#pe_evaluation_def_by_users_validated_after_accepted_manager').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });

              </script>

            </div>

          </div>

          <script>

            function toggle_validated_after_accepted(){

              if(parseInt($('#pe_evaluation_num_steps_definition_by_users_validated_after_accepted').val()) > 0 ){
                $('#validated_after_accepted_container').show();
              }else{
                $('#validated_after_accepted_container').hide();
              }

            }

            $(document).ready(function() {
              toggle_validated_after_accepted();
            });

          </script>

          <% if @pe_evaluation.pe_evaluations_where_is_displayed_def_by_users.size == 0 %>

            <hr>

            <div class="form-group">
              <label class='col-md-3 control-label'> Comentarios por pregunta </label>
              <div class="col-md-9">

                <%= f.check_box :def_allow_individual_comments_by_boss %> Comentarios por el jefe<br>

                <%= f.check_box :def_allow_watch_individual_comments_by_boss %> Comentarios por el jefe visualizados por el evaluado<br>

                <%= f.check_box :def_allow_individual_comments_with_boss %> Comentarios colaborativos jefe evaluado

                <script>
                  $('#pe_evaluation_def_allow_individual_comments_by_boss').bootstrapSwitch({
                    onColor: 'success',
                    onText: "SI",
                    offColor: 'danger',
                    offText: "NO",
                    size: "small"
                  });
                </script>

                <script>
                  $('#pe_evaluation_def_allow_watch_individual_comments_by_boss').bootstrapSwitch({
                    onColor: 'success',
                    onText: "SI",
                    offColor: 'danger',
                    offText: "NO",
                    size: "small"
                  });
                </script>

                <script>
                  $('#pe_evaluation_def_allow_individual_comments_with_boss').bootstrapSwitch({
                    onColor: 'success',
                    onText: "SI",
                    offColor: 'danger',
                    offText: "NO",
                    size: "small"
                  });
                </script>

              </div>

            </div>

            <hr>

            <div class="form-group">
              <label class='col-md-3 control-label'> Plan de acción </label>
              <div class="col-md-9">

                <%= f.check_box :def_allow_action_plan_by_boss %> Definido por el jefe<br>

                <%= f.check_box :def_allow_watch_action_plan_by_boss %> Definido por el jefe y visualizado por el evaluado<br>

                <%= f.check_box :def_allow_action_plan_with_boss %> Definido colaborativamente jefe evaluado

                <script>
                  $('#pe_evaluation_def_allow_action_plan_by_boss').bootstrapSwitch({
                    onColor: 'success',
                    onText: "SI",
                    offColor: 'danger',
                    offText: "NO",
                    size: "small"
                  });
                </script>

                <script>
                  $('#pe_evaluation_def_allow_watch_action_plan_by_boss').bootstrapSwitch({
                    onColor: 'success',
                    onText: "SI",
                    offColor: 'danger',
                    offText: "NO",
                    size: "small"
                  });
                </script>

                <script>
                  $('#pe_evaluation_def_allow_action_plan_with_boss').bootstrapSwitch({
                    onColor: 'success',
                    onText: "SI",
                    offColor: 'danger',
                    offText: "NO",
                    size: "small"
                  });
                </script>

              </div>

            </div>
            
          <% end %>
          <hr>

          <div class="form-group">
            <label class='col-md-3 control-label'> Mensaje para  </label>
            <div class="col-md-9">

              <% @pe_process.pe_rels.each do |pe_rel| %>

                <%= pe_rel.rel_name %>

                <% pe_evaluation_def_rel_message = @pe_evaluation.pe_evaluation_def_rel_message(pe_rel) %>

                <textarea id="pe_evaluation_def_rel_message_<%= pe_rel.id %>" name="pe_evaluation_def_rel_message_<%= pe_rel.id %>" class="form-control"><%= pe_evaluation_def_rel_message.message if pe_evaluation_def_rel_message %></textarea>
                <br>

                <script type="text/javascript">
                  $('#pe_evaluation_def_rel_message_<%= pe_rel.id %>').wysihtml5({
                    "font-styles": false,
                    "emphasis": true,
                    "lists": true,
                    "html": true,
                    "link": false,
                    "image": false,
                    "color": false
                  });
                </script>

              <% end %>

            </div>
          </div>

        </div>

        <% if @pe_evaluation.pe_evaluations_where_is_displayed_def_by_users.size > 0 %>

          <div class="form-group">
            <label class='col-md-3 control-label'>
              Comentarios por pregunta en la definición de

              <% @pe_evaluation.pe_evaluations_where_is_displayed_def_by_users.each do |pe_evaluation_where_is_displayed_def_by_users| %>
                <%= pe_evaluation_where_is_displayed_def_by_users.pe_evaluation.name %>,
              <% end %>

            </label>
            <div class="col-md-9">

              <%= f.check_box :def_allow_individual_comments_by_boss %> Comentarios por el jefe<br>

              <%= f.check_box :def_allow_watch_individual_comments_by_boss %> Comentarios por el jefe visualizados por el evaluado<br>

              <%= f.check_box :def_allow_individual_comments_with_boss %> Comentarios colaborativos jefe evaluado

              <script>
                $('#pe_evaluation_def_allow_individual_comments_by_boss').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });
              </script>

              <script>
                $('#pe_evaluation_def_allow_watch_individual_comments_by_boss').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });
              </script>

              <script>
                $('#pe_evaluation_def_allow_individual_comments_with_boss').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });
              </script>

            </div>
          </div>

        <% end %>

        <hr>

        <legend><strong>Seguimiento</strong></legend>

        <br>

        <div class="form-group">

          <%= f.label :allow_tracking, 'Permite seguimiento', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :allow_tracking, onchange: 'toggle_allow_tracking();'  %>


            <script>
              $('#pe_evaluation_allow_tracking').bootstrapSwitch({
                onColor: 'success',
                onText: "SI",
                offColor: 'danger',
                offText: "NO",
                size: "small"
              });

              function toggle_allow_tracking(){

                if($('#pe_evaluation_allow_tracking').is(":checked")){
                  $('#allow_tracking_container').show();
                }else{
                  $('#allow_tracking_container').hide();
                }

              }

              $(document).ready(function() {
                toggle_allow_tracking();
              });

            </script>


          </div>

        </div>

        <div id="allow_tracking_container">

          <div class="form-group">
            <label class='col-md-3 control-label'> Evaluaciones a mostrar durante el seguimiento </label>
            <div class="col-md-9">

              <%= select_tag(:pe_displayed_evaluation_tracking_ids, options_for_select(pe_evaluations, @pe_evaluation.pe_evaluation_displayed_trackings.map {|e| e.pe_displayed_evaluation.id}), {:include_blank => '- Seleccione evaluaciones -', class: 'form-control', id: 'pe_displayed_evaluation_tracking_ids', name: 'pe_displayed_evaluation_tracking_ids[]', multiple: '3'}) %>

            </div>
          </div>

          <script>
            $('#pe_displayed_evaluation_tracking_ids').select2()
          </script>

          <div class="form-group">

            <%= f.label :allow_tracking_with_boss, 'Permite realizar seguimiento colaborativo con jefe', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box(:allow_tracking_with_boss) %>

              <script>
                $('#pe_evaluation_allow_tracking_with_boss').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });

              </script>


            </div>

          </div>

          <div class="form-group">

            <%= f.label :allow_watching_own_tracking, 'Permite consultar mi seguimiento', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box(:allow_watching_own_tracking) %>


              <script>
                $('#pe_evaluation_allow_watching_own_tracking').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });

              </script>


            </div>

          </div>

          <% if @pe_evaluation.pe_evaluations_where_is_displayed_tracking.size == 0 %>

            <div class="form-group">
            <label class='col-md-3 control-label'> Comentarios por pregunta </label>
            <div class="col-md-9">

              <%= f.check_box :track_allow_individual_comments_by_boss %> Comentarios por el jefe<br>

              <%= f.check_box :track_allow_watch_individual_comments_by_boss %> Comentarios por el jefe visualizados por el evaluado<br>

              <%= f.check_box :track_allow_individual_comments_with_boss %> Comentarios colaborativos jefe evaluado

              <script>
                $('#pe_evaluation_track_allow_individual_comments_by_boss').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });
              </script>

              <script>
                $('#pe_evaluation_track_allow_watch_individual_comments_by_boss').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });
              </script>

              <script>
                $('#pe_evaluation_track_allow_individual_comments_with_boss').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });
              </script>

            </div>

          </div>

          <% end %>

        </div>

        <% if @pe_evaluation.pe_evaluations_where_is_displayed_tracking.size > 0 %>

          <div class="form-group">
            <label class='col-md-3 control-label'>
              Comentarios por pregunta en la definición de

              <% @pe_evaluation.pe_evaluations_where_is_displayed_tracking.each do |pe_evaluation_where_is_displayed_tracking| %>
                <%= pe_evaluation_where_is_displayed_tracking.pe_evaluation.name %>,
              <% end %>

            </label>
            <div class="col-md-9">

              <%= f.check_box :track_allow_individual_comments_by_boss %> Comentarios por el jefe<br>

              <%= f.check_box :track_allow_watch_individual_comments_by_boss %> Comentarios por el jefe visualizados por el evaluado<br>

              <%= f.check_box :track_allow_individual_comments_with_boss %> Comentarios colaborativos jefe evaluado

              <script>
                $('#pe_evaluation_track_allow_individual_comments_by_boss').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });
              </script>

              <script>
                $('#pe_evaluation_track_allow_watch_individual_comments_by_boss').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });
              </script>

              <script>
                $('#pe_evaluation_track_allow_individual_comments_with_boss').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });
              </script>

            </div>
          </div>

        <% end %>

        <hr>

        <div class="form-group">
          <label class='col-md-3 control-label'> Mensaje para  </label>
          <div class="col-md-9">

            <% @pe_process.pe_rels.each do |pe_rel| %>

              <%= pe_rel.rel_name %>

              <% pe_evaluation_track_rel_message = @pe_evaluation.pe_evaluation_track_rel_message(pe_rel) %>

              <textarea id="pe_evaluation_track_rel_message_<%= pe_rel.id %>" name="pe_evaluation_track_rel_message_<%= pe_rel.id %>" class="form-control"><%= pe_evaluation_track_rel_message.message if pe_evaluation_track_rel_message %></textarea>
              <br>

              <script type="text/javascript">
                $('#pe_evaluation_track_rel_message_<%= pe_rel.id %>').wysihtml5({
                  "font-styles": false,
                  "emphasis": true,
                  "lists": true,
                  "html": true,
                  "link": false,
                  "image": false,
                  "color": false
                });
              </script>

            <% end %>

          </div>
        </div>

        <legend>
          <strong>Evaluación</strong>
        </legend>

        <div class="form-group">

          <%= f.label :entered_by_manager_questions, 'Registro de resultados por <strong>gestor</strong> (por pregunta)'.html_safe, class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :entered_by_manager_questions %>
            <br>
            <em>
              El gestor del proceso registrará directamente el resultado obtenido por el evaluado en determinadas preguntas.
            </em>

            <script>

              $('#pe_evaluation_entered_by_manager_questions').bootstrapSwitch({
                onColor: 'success',
                onText: "SI",
                offColor: 'danger',
                offText: "NO",
                size: "small"
              });

            </script>

          </div>

        </div>

        <hr>

        <div class="form-group">
          <label class='col-md-3 control-label'> Mostrar peso de la evaluación en paso de evaluación </label>
          <div class="col-md-9">
            <%= f.check_box :display_weight_in_assessment %>
            <script>
              $('#pe_evaluation_display_weight_in_assessment').bootstrapSwitch({
                onColor: 'success',
                onText: "SI",
                offColor: 'danger',
                offText: "NO",
                size: "small"
              });
            </script>
          </div>
        </div>

        <hr>

        <% @pe_process.pe_rels.each do |pe_rel| %>

          <% pe_evaluation_rel = @pe_evaluation.pe_evaluation_rel(pe_rel) %>

          <div class="form-group">

            <%= f.label :eval_by, ('Evaluación por <strong>'+pe_rel.alias_plural+'</strong>').html_safe, class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <input type="checkbox" id="eval_by_<%= pe_rel.rel %>" name="eval_by_<%= pe_rel.rel %>" value="1" <%= 'checked' if pe_evaluation_rel %> onchange="toggle_eval_by_container_<%= pe_rel.rel %>();">


              <script>
                $('#eval_by_<%= pe_rel.rel %>').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });



                function toggle_eval_by_container_<%= pe_rel.rel %>(){

                  if($('#eval_by_<%= pe_rel.rel %>').is(":checked")){
                    $('#eval_by_container_<%= pe_rel.rel %>').show();
                  }else{
                    $('#eval_by_container_<%= pe_rel.rel %>').hide();
                  }

                }

                $(document).ready(function() {
                  toggle_eval_by_container_<%= pe_rel.rel %>();
                });


              </script>


            </div>

          </div>

          <div id="eval_by_container_<%= pe_rel.rel %>">

            <div class="form-group">

              <%= f.label :eval_by, 'Peso', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <input type="text" id="eval_by_<%= pe_rel.rel %>_weight" name="eval_by_<%= pe_rel.rel %>_weight" value="<%= pe_evaluation_rel ? pe_evaluation_rel.weight : 0 %>" class="form-control">


              </div>

            </div>

            <div class="form-group">

              <%= f.label :eval_by, 'Permite que los resultados parciales de los evaluadores se usen para calcular el resultado final (no es necesario finalizar la evaluación)', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <input type="checkbox" id="eval_by_<%= pe_rel.rel %>_finish_temp" name="eval_by_<%= pe_rel.rel %>_finish_temp" <%= 'checked'.html_safe if pe_evaluation_rel && pe_evaluation_rel.final_temporal_assessment %> class="form-control">

                <script>
                  $('#eval_by_<%= pe_rel.rel %>_finish_temp').bootstrapSwitch({
                    onColor: 'success',
                    onText: "SI",
                    offColor: 'danger',
                    offText: "NO",
                    size: "small"
                  });

                </script>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :eval_by, 'Fecha de inicio', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <div id="eval_by_<%= pe_rel.rel %>_from_date" class="input-group date">
                  <input class="form-control" name="eval_by_<%= pe_rel.rel %>_from_date" data-format="dd/MM/yyyy" type="text" value="<%= pe_evaluation_rel && pe_evaluation_rel.from_date ? pe_evaluation_rel.from_date.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y') %>">
                      <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </span>
                </div>

                <script type="text/javascript">


                  $('#eval_by_<%= pe_rel.rel %>_from_date').datetimepicker({
                    language: 'es',
                    pickTime: false
                  });

                </script>


              </div>

            </div>

            <div class="form-group">

              <%= f.label :eval_by, 'Fecha de fin', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <div id="eval_by_<%= pe_rel.rel %>_to_date" class="input-group date">
                  <input class="form-control" name="eval_by_<%= pe_rel.rel %>_to_date" data-format="dd/MM/yyyy" type="text" value="<%= pe_evaluation_rel && pe_evaluation_rel.to_date ? pe_evaluation_rel.to_date.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y') %>">
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
                </div>

                <script type="text/javascript">

                  $('#eval_by_<%= pe_rel.rel %>_to_date').datetimepicker({
                    language: 'es',
                    pickTime: false
                  });

                </script>


              </div>

            </div>

            <% @pe_process.pe_group2s.each do |pe_group2| %>

              <% pe_evaluation_rel_group2 = pe_evaluation_rel.pe_evaluation_rel_group2s.where('pe_group2_id = ?', pe_group2.id).first if pe_evaluation_rel %>

              <div class="form-group">
                <%= f.label :eval_by, 'Grupo '+pe_group2.name, class: 'col-md-3 control-label' %>
                <div class="col-md-4">
                  Fecha inicio
                  <div id="eval_by_g_<%= pe_rel.rel %>_<%= pe_group2.id %>_from_date" class="input-group date">
                    <input class="form-control" name="eval_by_g_<%= pe_rel.rel %>_<%= pe_group2.id %>_from_date" data-format="dd/MM/yyyy" type="text" value="<%= pe_evaluation_rel_group2.from_date.strftime('%d/%m/%Y') if pe_evaluation_rel_group2 && pe_evaluation_rel_group2.from_date %>">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </span>
                  </div>

                  <script type="text/javascript">


                    $('#eval_by_g_<%= pe_rel.rel %>_<%= pe_group2.id %>_from_date').datetimepicker({
                      language: 'es',
                      pickTime: false
                    });

                  </script>

                </div>
                <div class="col-md-4 col-md-offset-1">
                  Fecha fin
                  <div id="eval_by_g_<%= pe_rel.rel %>_<%= pe_group2.id %>_to_date" class="input-group date">
                    <input class="form-control" name="eval_by_g_<%= pe_rel.rel %>_<%= pe_group2.id %>_to_date" data-format="dd/MM/yyyy" type="text" value="<%= pe_evaluation_rel_group2.to_date.strftime('%d/%m/%Y') if pe_evaluation_rel_group2 && pe_evaluation_rel_group2.to_date %>">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </span>
                  </div>

                  <script type="text/javascript">


                    $('#eval_by_g_<%= pe_rel.rel %>_<%= pe_group2.id %>_to_date').datetimepicker({
                      language: 'es',
                      pickTime: false
                    });

                  </script>

                </div>
              </div>


            <% end %>

            <% if pe_rel.rel == 0 %>

              <div class="form-group">

                <%= f.label :step_assessment_show_auto_to_boss, 'Se muestra valoración al jefe mientras evalúa', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <%= f.check_box :step_assessment_show_auto_to_boss %>

                  <script>
                    $('#pe_evaluation_step_assessment_show_auto_to_boss').bootstrapSwitch({
                      onColor: 'success',
                      onText: "SI",
                      offColor: 'danger',
                      offText: "NO",
                      size: "small"
                    });

                  </script>


                </div>

              </div>

              <div class="form-group">

                <%= f.label :step_assessment_show_auto_comment_to_boss, 'Se muestra comentario al jefe mientras evalúa', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <%= f.check_box :step_assessment_show_auto_comment_to_boss %>

                  <script>
                    $('#pe_evaluation_step_assessment_show_auto_comment_to_boss').bootstrapSwitch({
                      onColor: 'success',
                      onText: "SI",
                      offColor: 'danger',
                      offText: "NO",
                      size: "small"
                    });

                  </script>


                </div>

              </div>

              <div class="form-group">

                <%= f.label :assess_boss_copy_auto, 'Se copiará la evaluación al jefe cuando este inicie su evaluación (sólo si la auto fue finalizada)', class: 'col-md-3 control-label' %>



                <div class="col-md-9">

                  <%= f.check_box :assess_boss_copy_auto %>

                  <div class="alert alert-danger">
                    De momento implementado para objetivos de un nivel.
                  </div>

                  <script>
                    $('#pe_evaluation_assess_boss_copy_auto').bootstrapSwitch({
                      onColor: 'success',
                      onText: "SI",
                      offColor: 'danger',
                      offText: "NO",
                      size: "small"
                    });

                  </script>


                </div>

              </div>

            <% end %>

          </div>

          <hr>

        <% end %>

        <div class="form-group">
          <label class='col-md-3 control-label'> Comentarios por pregunta </label>
          <div class="col-md-9">

            <%= f.check_box :assess_allow_individual_comments_by_boss %> Comentarios por el jefe<br>

            <%= f.check_box :assess_allow_watch_individual_comments_by_boss %> Comentarios por el jefe visualizados por el evaluado<br>

            <%= f.check_box :assess_allow_individual_comments_with_boss %> Comentarios colaborativos jefe evaluado

            <script>
              $('#pe_evaluation_assess_allow_individual_comments_by_boss').bootstrapSwitch({
                onColor: 'success',
                onText: "SI",
                offColor: 'danger',
                offText: "NO",
                size: "small"
              });
            </script>

            <script>
              $('#pe_evaluation_assess_allow_watch_individual_comments_by_boss').bootstrapSwitch({
                onColor: 'success',
                onText: "SI",
                offColor: 'danger',
                offText: "NO",
                size: "small"
              });
            </script>

            <script>
              $('#pe_evaluation_assess_allow_individual_comments_with_boss').bootstrapSwitch({
                onColor: 'success',
                onText: "SI",
                offColor: 'danger',
                offText: "NO",
                size: "small"
              });
            </script>

          </div>
        </div>

        <div class="form-group">
          <label class='col-md-3 control-label'> Archivos por pregunta </label>
          <div class="col-md-9">

            <%= f.check_box :assess_allow_files_to_boss %> Evaluado puede publicar archivos para el jefe<br>

            <script>
              $('#pe_evaluation_assess_allow_files_to_boss').bootstrapSwitch({
                onColor: 'success',
                onText: "SI",
                offColor: 'danger',
                offText: "NO",
                size: "small"
              });
            </script>

          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :points_to_ohp %>">

          <%= f.label :points_to_ohp, 'Puntos necesarios para obtener 100%', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.number_field :points_to_ohp, class: 'form-control' %>
            <em>Dependiendo de este valor, un evaluado podría superar el 100% de porcentaje obtenido.</em>
          </div>

        </div>

        <div class="form-group <%= field_with_errors f, :min_percentage %>">

          <%= f.label :min_percentage, 'Porcentaje mínimo que se puede obtener', class: 'col-md-3 control-label' %>

          <div class="col-md-9">
            <div class="input-group">
              <%= f.number_field :min_percentage, class: 'form-control' %>
              <div class="input-group-addon">%</div>
            </div>
            <em>
              Si un evaluado obtiene un porcentaje menor al indicado, se le asignará como porcentaje obtenido este porcentaje mínimo.
            </em>

          </div>

        </div>

        <div class="form-group <%= field_with_errors f, :max_percentage %>">

          <%= f.label :max_percentage, 'Porcentaje máximo que se puede obtener', class: 'col-md-3 control-label' %>

          <div class="col-md-9">
            <div class="input-group">
              <%= f.number_field :max_percentage, class: 'form-control' %>
              <div class="input-group-addon">%</div>
            </div>
            <em>
              Si un evaluado obtiene un porcentaje mayor al indicado, se le asignará como porcentaje obtenido este porcentaje máximo.
            </em>

          </div>

        </div>

        <div class="form-group <%= field_with_errors f, :max_per_cant_answer %>">

          <%= f.label :max_per_cant_answer, 'Porcentaje máximo permitido de preguntas que no se pueden contestar (No aplica/No sabe/No opina)', class: 'col-md-3 control-label' %>

          <div class="col-md-9">
            <div class="input-group">
              <%= f.number_field :max_per_cant_answer, class: 'form-control' %>
              <div class="input-group-addon">%</div>
            </div>
            <em>
              Si un evaluador (no jefe) supera este % de preguntas que no puede contestar, no se le considerará para el evaluado en cuestión,
              en ninguna de las evaluaciones.
            </em>

          </div>

        </div>


        <div class="form-group">

          <%= f.label :final_temporal_assessment, 'Permite que los resultados parciales de los evaluadores se usen para calcular el resultado final (no es necesario finalizar la evaluación)', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.check_box :final_temporal_assessment %>

            <script>
              $('#pe_evaluation_final_temporal_assessment').bootstrapSwitch({
                onColor: 'success',
                onText: "SI",
                offColor: 'danger',
                offText: "NO",
                size: "small"
              });

            </script>


          </div>

        </div>

        <div class="form-group">

          <% final_evaluation_operations_evaluators_array = PeEvaluation.final_evaluation_operations_evaluators.each_with_index.map { |e, index| [e, index] } %>

          <%= f.label :final_evaluation_operation_evaluators, 'Forma de promediar los evaluadores', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.select(:final_evaluation_operation_evaluators, options_for_select(final_evaluation_operations_evaluators_array, @pe_evaluation.final_evaluation_operation_evaluators), {}, {class: 'form-control'}) %>

            <br>
            <em>
              <strong>agrupando_relaciones:</strong> Por ejemplo, todos los jefes se promediarán entre ellos, todos los pares se promediarán entre ellos,
              finalmente, la nota de jefes por el peso de jefe + la nota de pares por el peso de par, todo dividido entre el peso de jefe + el peso de par.
              <br>
              <br>
              <strong>sin_agrupar_relaciones:</strong> Por ejemplo, la nota del jefe por el peso del jefe + la nota de cada par por el peso de par, todo dividido entre el peso del jefe
              + el peso de par multiplicado por el número de pares.
              <br>
              <br>
              <strong>agrupando_areas:</strong> Por ejemplo, la nota de todos los evaluadores de un área por el peso del evaluador se promediarán para generar la nota otorgada por el área,
              la suma de notas de áreas dividida entre el número de áreas dará el resultado final.
            </em>

          </div>

        </div>

        <div class="form-group">

          <% final_evaluation_operations_evaluations_array = PeEvaluation.final_evaluation_operations_evaluations.each_with_index.map { |e, index| [e, index] } %>

          <%= f.label :final_evaluation_operation_evaluations, 'Forma de promediar las evaluaciones', class: 'col-md-3 control-label' %>

          <div class="col-md-9">

            <%= f.select(:final_evaluation_operation_evaluations, options_for_select(final_evaluation_operations_evaluations_array, @pe_evaluation.final_evaluation_operation_evaluations), {}, {class: 'form-control'}) %>

            <br>
            <em>
              <strong>tomando_resultados_finales:</strong> Por ejemplo, se operarán los resultados finales obenidos en las evaluaciones de los jefes,
              pares o autoevalaución según sea el caso. Los resultados finales se operarán según la
              configuración previa "Forma de promediar los evaluadores".
              <br>
              <br>
              <strong>tomando_resultados_por_pregunta:</strong> Por ejemplo, se operarán los resultados de las preguntas obenidos en las evaluaciones de los jefes,
              pares o autoevalaución según sea el caso. Si una pregunta es común a diferentes evaluadores, estas se promediarán
              según la configuración previa "Forma de promediar los evaluadores". Luego los resultados finales de cada pregunta
              diferente se operarán según la configuración "Forma de cálculo" de los elementos.

              <br>
              <span class="label label-danger">Por el momento esta opción sólo funciona para evaluaciones de objetivos,
                cargadas para evaluado -> evaluador, y de 1 o 2 elementos</span>
            </em>

          </div>

        </div>

        <hr>


        <div id="alternatives_display_method_container">

          <div class="form-group">

            <% assessment_layouts_array = PeEvaluation.assessment_layouts.each_with_index.map { |al, index| [al, index] } %>

            <%= f.label :assessment_layout, 'Inferfaz de evaluación', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.select(:assessment_layout, options_for_select(assessment_layouts_array, @pe_evaluation.assessment_layout), {}, {onchange: 'toggle_assessment_layout();', class: 'form-control'}) %>

              <br>

              <em>

                <strong>estandar:</strong> Interfaz común de evaluación.<br><br>

                <strong>objetivos_e_indicadores:</strong> Interfaz de objetivos con indicadores, soporta automáticamente también un agrupador previo como los pilares.<br><br>

                <strong>grid_1_elemento:</strong> Solo para evaluaciones con un elemento, las alternativas aparecerán al lado derecho de las preguntas<br><br>

                <strong>grid_2_elementos:</strong> Solo para evaluaciones con dos elemento, las preguntas del segundo elemento aparecerán como columnas
                al costado de las preguntas del primer elemento, en la configuración del segundo elemento las alternativas deben estar configuradas como combo_select.<br><br>

                <strong>slider_1_elemento:</strong> Solo para evaluaciones con un elemento, el valor será seleccionado con un slider.<br><br>

                <strong>slider_2_elementos:</strong> Solo para evaluaciones con un elemento, el valor será seleccionado con un slider.<br><br>


              </em>

              <script>
                function toggle_assessment_layout(){

                  if($('#pe_evaluation_assessment_layout').val() == 1){
                    $('#layout_objetivos_e_indicadores_container').show();
                  }else{
                    $('#layout_objetivos_e_indicadores_container').hide();
                  }

                }

                $(document).ready(function() {
                  toggle_assessment_layout();
                });
              </script>


            </div>

          </div>

        </div>

        <div id="layout_objetivos_e_indicadores_container">

          <div class="form-group">

            <%= f.label :lay_force_nobr_goal_length, 'Cantidad máxima de caracteres de la meta para que salga en una sola línea', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.number_field :lay_force_nobr_goal_length, class: 'form-control' %>

            </div>

          </div>

        </div>

      </div>

      <hr>

      <div class="form-group">
        <label class='col-md-3 control-label'> Mensaje para  </label>
        <div class="col-md-9">

          <% @pe_process.pe_rels.each do |pe_rel| %>

            <%= pe_rel.rel_name %>

            <% pe_evaluation_assess_rel_message = @pe_evaluation.pe_evaluation_assess_rel_message(pe_rel) %>

            <textarea id="pe_evaluation_assess_rel_message_<%= pe_rel.id %>" name="pe_evaluation_assess_rel_message_<%= pe_rel.id %>" class="form-control"><%= pe_evaluation_assess_rel_message.message if pe_evaluation_assess_rel_message %></textarea>
            <br>

            <script type="text/javascript">
              $('#pe_evaluation_assess_rel_message_<%= pe_rel.id %>').wysihtml5({
                "font-styles": false,
                "emphasis": true,
                "lists": true,
                "html": true,
                "link": false,
                "image": false,
                "color": false
              });
            </script>

          <% end %>

        </div>
      </div>


      <legend><strong>Calibración</strong></legend>

      <div class="form-group">

        <%= f.label :allow_calibration, 'Permite ser calibrada', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <%= f.check_box :allow_calibration %>

          <script>
            $('#pe_evaluation_allow_calibration').bootstrapSwitch({
              onColor: 'success',
              onText: "SI",
              offColor: 'danger',
              offText: "NO",
              size: "small"
            });

          </script>


        </div>

      </div>

      <hr>

      <legend><strong>Consultar resultados de evaluaciones</strong></legend>

      <div class="form-group">
        <label class='col-md-3 control-label'> Mostrar la evaluación en paso de consultar resultados </label>
        <div class="col-md-9">
          <%= f.check_box :display_in_qres %>
          <script>
            $('#pe_evaluation_display_in_qres').bootstrapSwitch({
              onColor: 'success',
              onText: "SI",
              offColor: 'danger',
              offText: "NO",
              size: "small"
            });
          </script>
        </div>
      </div>

      <div class="form-group">
        <label class='col-md-3 control-label'> Mostrar peso de la evaluación en paso de consultar resultados </label>
        <div class="col-md-9">
          <%= f.check_box :display_weight_in_qres %>
          <script>
            $('#pe_evaluation_display_weight_in_qres').bootstrapSwitch({
              onColor: 'success',
              onText: "SI",
              offColor: 'danger',
              offText: "NO",
              size: "small"
            });
          </script>
        </div>
      </div>

      <div class="form-group">
        <label class='col-md-3 control-label'> Comentarios por pregunta </label>
        <div class="col-md-9">

          <%= f.check_box :qres_allow_individual_comments_by_boss %> Comentarios por el jefe<br>

          <%= f.check_box :qres_allow_watch_individual_comments_by_boss %> Comentarios por el jefe visualizados por el evaluado<br>

          <%= f.check_box :qres_allow_individual_comments_with_boss %> Comentarios colaborativos jefe evaluado

          <script>
            $('#pe_evaluation_qres_allow_individual_comments_by_boss').bootstrapSwitch({
              onColor: 'success',
              onText: "SI",
              offColor: 'danger',
              offText: "NO",
              size: "small"
            });
          </script>

          <script>
            $('#pe_evaluation_qres_allow_watch_individual_comments_by_boss').bootstrapSwitch({
              onColor: 'success',
              onText: "SI",
              offColor: 'danger',
              offText: "NO",
              size: "small"
            });
          </script>

          <script>
            $('#pe_evaluation_qres_allow_individual_comments_with_boss').bootstrapSwitch({
              onColor: 'success',
              onText: "SI",
              offColor: 'danger',
              offText: "NO",
              size: "small"
            });
          </script>

        </div>

      </div>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>




