<% pe_evaluation.pe_questions_by_group_ready(pe_group_id, pe_question_parent_id).each_with_index do |pe_question, index_p| %>

  <div class="row">

    <div class="col-md-12">

      <% if pe_question.stored_image %>

        <img src="<%= request.base_url %>/storage/<%=company_codigo%>/stored_images/<%= pe_question.stored_image.crypted_name %>" class="" width="100px">
        <br>

      <% end %>

      <strong><%= parent_number %><%= index_p+1 %>. <%= pe_question.pe_element.name %>:</strong>

      <% if pe_question.pe_element.simple %>

        <%= pe_question.description.html_safe %>

      <% else %>

        <% pe_question.pe_question_descriptions.each do |pe_question_description| %>

          <%= pe_question_description.description.html_safe %>

        <% end %>

      <% end %>

      <% if pe_question.pe_element.assessed? %>

        <em>(peso <%= pe_question.weight %>)</em>

      <% end %>

      <% if pe_question.has_comment %>
        <span class="label label-warning">Tiene comentario</span>
      <% end %>

      <% if pe_question.informative? %>
        <span class="label label-info">Informativa</span>
      <% end %>

      <% if pe_question.pe_element.element_def_by == 0 %>
        <%= link_to 'Editar', edit_pe_question_path(pe_question) %>
      <% end %>

      <% next_pe_element = pe_question.pe_element.pe_elements.first %>

      <% if next_pe_element && next_pe_element.element_def_by == 0 %>

        <%= link_to 'Crear '+next_pe_element.name.downcase, new_pe_question_path(pe_evaluation, pe_question) %>

      <% end %>

      <% if pe_question.pe_element.assessment_method == 1 %>
        <%= link_to 'Crear alternativa', new_pe_alternative_path(pe_question) %>
      <% end %>


    </div>

  </div>



  <% letras = 'abcdefghijklmnopqrstuvwxyz' %>

  <% if pe_question.pe_alternatives.size > 0 %>

    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <% pe_question.pe_alternatives.each_with_index do |pe_alternative, index_a| %>

          <strong><%= letras[index_a] %>)</strong>
          <%= pe_alternative.description.html_safe %>
          <em>(valor <%= pe_alternative.value %>)</em>

          <% if pe_question.pe_element.assessment_method == 1 %>
            <%= link_to 'Editar', edit_pe_alternative_path(pe_alternative) %>
          <% end %>

          <br>

        <% end %>

      </div>
    </div>

  <% end %>

  <hr>

  <% if pe_question.pe_questions.size > 0 %>

    <div class="row">
      <div class="col-md-11 col-md-offset-1">

        <%= render partial: 'pe_question',
                   locals: {
                     pe_evaluation: pe_evaluation,
                     pe_group_id: pe_group_id,
                     pe_question_parent_id: pe_question.id,
                     parent_number: parent_number+(index_p+1).to_s+'.'
                   }
        %>

      </div>
    </div>

  <% end %>

<% end %>