
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process, 'notifications'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Editar notificaciones: Confirmación definición de <%= @pe_evaluation.name.downcase %></span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/show' %>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos de la evaluación
        </legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Dimensión</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.pe_dimension.name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Peso</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.weight %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.description %>
          </div>
        </div>

      </div>
    </div>

    <%= form_for @pe_evaluation, url: pe_evaluations_update_notifications_definition_by_users_accepted_path(@pe_evaluation), html: {class: 'form-horizontal', role: 'form', method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Confirmación definición de <%= @pe_evaluation.name.downcase %></legend>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group">

            <%= f.label :send_email_to_accept_definition, 'Envía email al usuario que confirma (evaluado) para avisar que la definición ha sido realizada y está lista para ser confirmada', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :send_email_to_accept_definition, onchange: 'toggle_send_email_to_accept_definition();' %>


              <script>
                $('#pe_evaluation_send_email_to_accept_definition').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });

                function toggle_send_email_to_accept_definition(){

                  if($('#pe_evaluation_send_email_to_accept_definition').is(":checked")){
                    $('#send_email_to_accept_definition_container').show();
                  }else{
                    $('#send_email_to_accept_definition_container').hide();
                  }

                }

                $(document).ready(function() {
                  toggle_send_email_to_accept_definition();
                });

              </script>


            </div>

          </div>

          <div id="send_email_to_accept_definition_container">

            <div class="form-group <%= field_with_errors f, :email_to_accept_definition_subject %>">

              <%= f.label :email_to_accept_definition_subject, 'Asunto', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_field :email_to_accept_definition_subject, class: 'form-control' %>


              </div>

            </div>

            <div class="form-group <%= field_with_errors f, :email_to_accept_definition_content %>">

              <%= f.label :email_to_accept_definition_content, 'Contenido', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_area :email_to_accept_definition_content, class: 'form-control', rows: '15' %>

                <script type="text/javascript">
                  $('#pe_evaluation_email_to_accept_definition_content').wysihtml5({
                    "font-styles": false,
                    "emphasis": true,
                    "lists": true,
                    "html": true,
                    "link": false,
                    "image": false,
                    "color": false
                  });
                </script>

              </div>

            </div>

          </div>

          <hr>

          <div class="form-group">

            <%= f.label :send_email_after_accept_definition, 'Envía email al usuario que definió (evaluador) para avisar que la definición ha sido aceptada por el evaluado', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :send_email_after_accept_definition, onchange: 'toggle_send_email_after_accept_definition();' %>


              <script>
                $('#pe_evaluation_send_email_after_accept_definition').bootstrapSwitch({
                  onColor: 'success',
                  onText: "SI",
                  offColor: 'danger',
                  offText: "NO",
                  size: "small"
                });

                function toggle_send_email_after_accept_definition(){

                  if($('#pe_evaluation_send_email_after_accept_definition').is(":checked")){
                    $('#send_email_after_accept_definition_container').show();
                  }else{
                    $('#send_email_after_accept_definition_container').hide();
                  }

                }

                $(document).ready(function() {
                  toggle_send_email_after_accept_definition();
                });

              </script>


            </div>

          </div>

          <div id="send_email_after_accept_definition_container">

            <div class="form-group <%= field_with_errors f, :email_after_accept_definition_subject %>">

              <%= f.label :email_after_accept_definition_subject, 'Asunto', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_field :email_after_accept_definition_subject, class: 'form-control' %>


              </div>

            </div>

            <div class="form-group <%= field_with_errors f, :email_after_accept_definition_content %>">

              <%= f.label :email_after_accept_definition_content, 'Contenido', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_area :email_after_accept_definition_content, class: 'form-control', rows: '15' %>

                <script type="text/javascript">
                  $('#pe_evaluation_email_after_accept_definition_content').wysihtml5({
                    "font-styles": false,
                    "emphasis": true,
                    "lists": true,
                    "html": true,
                    "link": false,
                    "image": false,
                    "color": false
                  });
                </script>

              </div>

            </div>

          </div>
          
        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/notification_variables_legend' %>

      </div>
    </div>


  </div>
</div>
