
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process, 'notifications'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Editar notificaciones: Definición</span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: 'pe_processes/show' %>

      </div>
    </div>

    <%= form_for @pe_process_notification_def, url: pe_evaluation_update_notifications_def_path(@pe_evaluation), html: {class: 'form-horizontal', role: 'form', method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Definición: <%= @pe_evaluation.name %></legend>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group">

            <%= f.label :send_email_to_validator_when_defined, 'Envía email al validador para avisar que la definición ha sido realizada y está lista para ser validada', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <%= f.check_box :send_email_to_validator_when_defined, class: 'form-control', onchange: 'toggle_send_email_to_validator_when_defined();'  %>

              <script>

                $('#pe_process_notification_def_send_email_to_validator_when_defined').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No",
                  size: "small"
                });

                function toggle_send_email_to_validator_when_defined(){

                  if($('#pe_process_notification_def_send_email_to_validator_when_defined').is(":checked")){
                    $('#send_email_to_validator_when_defined_container').show();
                  }else{
                    $('#send_email_to_validator_when_defined_container').hide();
                  }

                }

                $(document).ready(function() {
                  toggle_send_email_to_validator_when_defined();
                });

              </script>

            </div>

          </div>

          <div id="send_email_to_validator_when_defined_container">

            <div class="form-group <%= field_with_errors f, :to_validator_when_defined_subject %>">

              <%= f.label :to_validator_when_defined_subject, 'Asunto', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_field :to_validator_when_defined_subject, class: 'form-control' %>

              </div>

            </div>

            <div class="form-group <%= field_with_errors f, :to_validator_when_defined_body %>">

              <%= f.label :to_validator_when_defined_body, 'Contenido', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <%= f.text_area :to_validator_when_defined_body, class: 'form-control', rows: '15' %>

                <script type="text/javascript">
                  $('#pe_process_notification_def_to_validator_when_defined_body').wysihtml5({
                    "font-styles": false,
                    "emphasis": true,
                    "lists": true,
                    "html": true,
                    "link": false,
                    "image": false,
                    "color": false
                  });
                </script>

              </div>

            </div>

          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/notification_variables_legend' %>

      </div>
    </div>


  </div>
</div>
