
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar la evaluación'.html_safe, @pe_evaluation, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Marcar definición como finalizada, lista para ser evaluada </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/show' %>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos de la evaluación
        </legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Dimensión</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.pe_dimension.name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Peso</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.weight %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3">
            <strong>Orden</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.position %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.description %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>


<% unless @pe_evaluation.entered_by_manager %>


  <% first_pe_element = @pe_evaluation.pe_elements.first %>

  <%= form_for PeQuestion.new, url: pe_evaluation_massive_update_finish_definition_path(@pe_evaluation), html: {class: 'form-horizontal', multipart: true, method: :post} do |f| %>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-body">

            <legend>
              Marcar definición como finalizada
            </legend>



            <div class="form-group">

              <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

              <div class="col-md-9">

                <%= file_field 'upload', 'datafile', class: 'form-control' %>
                <br>
                <em>

                  Se marcarán las preguntas como listas para ser evaluadas, definición finalizada por completo

                </em>

              </div>

            </div>

            <div class="row">
              <div class="col-md-12">

                Formato

                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th><%= alias_username %></th>
                    </tr>

                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                    </tr>
                  </tbody>

                </table>

              </div>

            </div>


          </div>

          <div class="panel-footer clearfix">
            <div class="pull-right">


              <%= f.submit 'Subir', class: 'btn btn-primary' %>

            </div>
          </div>

        </div>
      </div>
    </div>

  <% end %>


<% end %>


