
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar la evaluación'.html_safe, @pe_evaluation, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Carga de preguntas </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/show' %>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos de la evaluación
        </legend>

        <div class="row">
          <div class="col-md-3">
            <strong>Dimensión</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.pe_dimension.name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Peso</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.weight %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3">
            <strong>Orden</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.position %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.description %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>


<% unless @pe_evaluation.entered_by_manager %>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">

          <legend>
            Elementos de la evaluación
          </legend>

          <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Elemento definido por</th>
              <th>Pregunta evaluada/Agrupador</th>
              <th>Forma de cálculo</th>
              <th>Forma de valoración</th>
              <!--<th>Forma de valoración definida por</th>-->
              <th>Cantidad mínima</th>
              <th>Cantidad máxima</th>
              <th>Peso máximo</th>
              <th>Peso mínimo</th>
              <th>Suma de pesos</th>


              <th>Visible</th>
              <th>Mostrar nombre</th>
            </tr>
            </thead>



            <tbody>
            <% @pe_evaluation.pe_elements.each_with_index do |pe_element, index_e| %>

              <% first_pe_element = pe_element if index_e == 0 %>

              <tr>
                <td><%= pe_element.name %></td>
                <td>

                  <% if pe_element.element_def_by == 1 %>
                    <!-- def by usuarios -->

                    <% pe_element.element_def_by_rol.split('-').each do |e| %>
                      <%= PeRel.rels[e.to_i] unless e.blank? %>
                    <% end %>

                  <% else %>

                    <%= PeElement.element_def_by_list[pe_element.element_def_by] %>

                  <% end %>




                </td>
                <td>
                  <% if pe_element.assessed %>
                    <nobr>
                      <span class="label label-success">Pregunta</span>

                      <% if pe_element.simple %>
                        <span class="label label-warning">Simple</span>
                      <% else %>
                        <span class="label label-info">Compuesta</span>
                      <% end %>

                    </nobr>

                  <% else %>
                    <span class="label label-info">Agrupador</span>
                  <% end %>
                </td>
                <td>
                  <% if pe_element.assessed %>
                    <%= PeElement.calculus_methods[pe_element.calculus_method] %>
                  <% end %>
                </td>
                <td>
                  <% if pe_element.assessed %>
                    <%= PeElement.assessment_methods[pe_element.assessment_method] %>
                  <% end %>
                </td>
                <!--
                <td>

                  <% if pe_element.assessed && pe_element.assessment_method > 0 %>

                    0 cálculo automático, 1 alt, 2 ind

                    <% if pe_element.assessment_method_def_by == 1 %>

                      def by usuarios

                      <% pe_element.assessment_method_def_by_rol.split('-').each do |e| %>
                        <%= PeRel.rels[e.to_i] unless e.blank? %>
                      <% end %>

                    <% else %>
                      <% # PeElement.assessment_method_def_by_list[pe_element.assessment_method_def_by] %>
                    <% end %>



                  <% end %>

                </td>
                -->
                <td>
                  <% if pe_element.assessed %>
                    <%= pe_element.min_number %>
                  <% end %>
                </td>
                <td>
                  <% if pe_element.assessed %>
                    <%= pe_element.max_number %>
                  <% end %>
                </td>
                <td>
                  <% if pe_element.assessed %>
                    <%= pe_element.min_weight %>
                  <% end %>
                </td>
                <td>
                  <% if pe_element.assessed %>
                    <%= pe_element.max_weight %>
                  <% end %>
                </td>
                <td>
                  <% if pe_element.assessed %>
                    <%= pe_element.weight_sum %>
                  <% end %>
                </td>

                <td>

                  <% if pe_element.visible %>
                    <span class="label label-success">Sí</span>
                  <% else %>
                    <span class="label label-danger">No</span>
                  <% end %>

                </td>
                <td>

                  <% if pe_element.visible %>
                    <% if pe_element.display_name %>
                      <span class="label label-success">Sí</span>
                    <% else %>
                      <span class="label label-danger">No</span>
                    <% end %>
                  <% else %>
                    <span class="label label-danger">No</span>
                  <% end %>

                </td>


              </tr>
            <% end %>
            </tbody>

          </table>
        </div>



      </div>
    </div>
  </div>




  <% if @lineas_error && @lineas_error.length > 0 %>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <div class="panel panel-default">
          <div class="panel-body">

            <table class="table table-striped table-hover table-condensed table-bordered">

              <thead>
              <tr>
                <th>Línea</th>
                <th>Errores</th>
                <th>Detalle</th>

              </tr>
              </thead>

              <tbody>

              <% @lineas_error.each_with_index do |l,index| %>

                <tr>
                  <td><%= l %></td>
                  <td>
                    <% @lineas_error_messages[index].each do |error| %>
                      <li class="text-danger"><%= error %></li>
                    <% end %>
                  </td>
                  <td><%= @lineas_error_detalle[index] %></td>
                </tr>

              <% end %>

              </tbody>

            </table>

          </div>
        </div>
      </div>
    </div>

  <% end %>


  <% first_pe_element = @pe_evaluation.pe_elements.first %>

  <%= form_for PeQuestion.new, url: pe_evaluation_massive_update_path(@pe_evaluation), html: {class: 'form-horizontal', multipart: true, method: :post} do |f| %>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">

            <legend>
              Preguntas y agrupadores
            </legend>

            <div class="form-group">

              <%= f.label :g_or_m, 'Preguntas asociadas a', class: 'col-md-3 control-label'%>

              <div class="col-md-9">

                <input type="checkbox" name="groups_or_members" onchange="toggle_by_groups();" value="1" id="groups_or_members" checked >


                <script>

                  $('#groups_or_members').bootstrapSwitch({
                    onColor: 'warning',
                    onText: "Grupos y Rels",
                    offColor: 'info',
                    offText: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Participantes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                  });

                  function toggle_by_groups(){

                    if($('#groups_or_members').is(":checked")){
                      $('#by_groups').show();
                      $('#by_pe_members').hide();
                    }else{
                      $('#by_groups').hide();
                      $('#by_pe_members').show();
                    }

                  }

                  $(document).ready(function() {
                    toggle_by_groups();
                  });


                </script>

              </div>

            </div>

            <div id="by_groups">

              <% if @pe_evaluation.pe_groups.size > 0 %>

              <div class="form-group">

                <%= f.label :groups, 'Grupos de evaluación', class: 'col-md-3 control-label'%>

                <div class="col-md-9">

                  <% pe_groups_array = @pe_evaluation.pe_groups.map { |pe_group| [pe_group.name, pe_group.id] } %>

                  <%= f.select(:pe_group_id, options_for_select(pe_groups_array), {}, {multiple: true, size: 3, class: 'form-control'}) %>
                  <em>La asigación a grupos/relaciones no es un AND, una pregunta será asignada a un grupo y a una relación por separado, no
                    es una intersección de ambos. Debe escoger o grupos o relaciones al cargar los archivos para eviar que
                    las preguntas se muestren dos veces a un evaluador</em>
                  <script>
                    $("#pe_question_pe_group_id").select2();

                  </script>

                </div>

              </div>
              <% end %>
              <div class="form-group">

                <%= f.label :groups, 'Relaciones', class: 'col-md-3 control-label'%>

                <div class="col-md-9">

                  <% pe_rels_array = @pe_process.pe_rels.map { |pe_rel| [pe_rel.alias, pe_rel.id] } %>

                  <%= f.select(:pe_rel_id, options_for_select(pe_rels_array), {}, {multiple: true, size: 3, class: 'form-control'}) %>

                  <script>
                    $("#pe_question_pe_rel_id").select2();

                  </script>

                </div>

              </div>

            </div>

            <div id="by_pe_members">

              <div class="form-group">

                <%= f.label :p_or_p, 'Preguntas asociadas a', class: 'col-md-3 control-label'%>

                <div class="col-md-9">

                  <input type="checkbox" name="pe_members_or_pe_member" value="1" id="pe_members_or_pe_member" checked >


                  <script>

                    $('#pe_members_or_pe_member').bootstrapSwitch({
                      onColor: 'warning',
                      onText: "Evaluadores -> Evaluados",
                      offColor: 'info',
                      offText: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Evaluados&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                    });


                  </script>

                </div>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

              <div class="col-md-9">

                <%= file_field 'upload', 'datafile', class: 'form-control' %>
                <br>
                <em>

                  El archivo reemplazará a las preguntas actuales

                </em>

              </div>

            </div>

            <% if @pe_evaluation.allow_definition_by_users %>

              <div class="form-group">

                <%= f.label :marcar_ready, 'Marcar como definición finalizada por completo, preguntas listas para ser evaluadas', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <input type="checkbox" name="marcar_ready" id="marcar_ready" value="1" checked="checked" onchange="toggle_ready();">

                  <script>
                    $('#marcar_ready').bootstrapSwitch({
                      onColor: 'success',
                      onText: "Sí",
                      offColor: 'danger',
                      offText: "No",
                      size: "small"
                    });
                  </script>

                  <script>

                    function toggle_ready(){

                      if($('#marcar_ready').is(":checked")){
                        $('#marcar_ready_container').hide();
                      }else{
                        $('#marcar_ready_container').show();
                      }

                    }

                    $(document).ready(function() {
                      toggle_ready();
                    });

                  </script>

                </div>

              </div>

              <div id="marcar_ready_container">

              <div class="form-group">

                <%= f.label :marcar_confirmadas, 'Marcar como definición finalizada por persona encargada (jefe)', class: 'col-md-3 control-label'%>

                <div class="col-md-9">

                  <input type="checkbox" name="marcar_confirmadas" id="marcar_confirmadas" value="1" onchange="toggle_confirmadas();">

                  <script>
                    $('#marcar_confirmadas').bootstrapSwitch({
                      onColor: 'success',
                      onText: "Sí",
                      offColor: 'danger',
                      offText: "No",
                      size: "small"
                    });
                  </script>

                  <script>

                    function toggle_confirmadas(){

                      if($('#marcar_confirmadas').is(":checked")){
                        $('#marcar_confirmadas_container').show();
                      }else{
                        $('#marcar_confirmadas_container').hide();
                      }

                    }

                    $(document).ready(function() {
                      toggle_confirmadas();
                    });

                  </script>

                </div>

              </div>

              <% if @pe_evaluation.allow_definition_by_users_accepted %>

                <div id="marcar_confirmadas_container">

                  <div class="form-group">

                    <%= f.label :marcar_aceptadas, 'Marcar como definición confirmada por el usuario al que le definieron las preguntas', class: 'col-md-3 control-label'%>

                    <div class="col-md-9">

                      <input type="checkbox" name="marcar_aceptadas" id="marcar_aceptadas" value="1">

                      <script>
                        $('#marcar_aceptadas').bootstrapSwitch({
                          onColor: 'success',
                          onText: "Sí",
                          offColor: 'danger',
                          offText: "No",
                          size: "small"
                        });
                      </script>

                    </div>

                  </div>

                </div>

              <% end %>

              </div>

            <% end %>

            <% if @pe_evaluation.entered_by_manager_questions %>

              <div class="form-group">

                <%= f.label :marcar_entered_by_manager, 'Marcar como preguntas cuyos resultados serán registrados por el gestor', class: 'col-md-3 control-label' %>

                <div class="col-md-9">

                  <div class="alert alert-info">Ahora debe ser indicado en el archivo excel</div>

                </div>

              </div>

            <% end %>

            <hr>

            <div id="reemplazar_todo_container">

            <div class="form-group">

              <%= f.label :reemplazar_todo, 'Reemplazar preguntas de todos los miembros evaluados', class: 'col-md-3 control-label' %>

              <div class="col-md-9">

                <input type="hidden" name="reemplazar_todo" value="0">

                <input type="checkbox" name="reemplazar_todo" id="reemplazar_todo" value="1" onchange="toggle_reemp_todo();">



                <script>

                  function toggle_reemp_todo(){

                    if($('#reemplazar_todo').is(":checked")){
                      $('#reemplazar_excel_todo_container').hide();
                      $('#container_reemplazar_solo_entered_by_manager').show();
                      $('#alert_reemplazar_todo').show();
                    }else{
                      $('#reemplazar_excel_todo_container').show();
                      $('#container_reemplazar_solo_entered_by_manager').hide();
                      $('#alert_reemplazar_todo').hide();
                    }

                  }

                  $(document).ready(function() {
                    toggle_reemp_todo();
                  });

                </script>

                <script>
                  $('#reemplazar_todo').bootstrapSwitch({
                    onColor: 'danger',
                    onText: "<nobr>&nbsp;&nbsp;<i class='fa fa-eraser'></i> Sí &nbsp;&nbsp;</nobr>",
                    offColor: 'success',
                    offText: "<nobr>&nbsp;&nbsp;<i class='fa fa-refresh'></i> No &nbsp;&nbsp;</nobr>",
                    size: "small"
                  });
                </script>

                <br><br>
                <div class="alert alert-danger" id="alert_reemplazar_todo">
                  Ojo que se eliminarán todas las preguntas, incluso las ya contestadas, de todos los participantes
                </div>
                <br>
                <i class='fa fa-eraser'></i> Sí. Si selecciona esta opción, el sistema primero <strong>eliminará a todas
                las preguntas asociadas a los grupos o participantes </strong>, y luego cargará las preguntas especificadas en el archivo adjunto.
                <br>
                <em>Esta opción se debe usar cuando el archivo contiene la totalidad de las preguntas.</em>
                <br>
                Se eliminarán todas las preguntas, incluso las ya contestadas.

                <br><br>
                <i class='fa fa-refresh'></i> No. Si selecciona esta opción. El sistema <strong>no eliminará las preguntas
                asociadas a los grupos o participantes</strong>.
                Partiendo del archivo adjunto, el sistema agregará nuevas preguntas.
                <br>
                En caso una pregunta a añadir ya exista, sólo se actualizarán las alternativas de esta: Añadir nueva alternativa o cambiar valores de las ya existentes.
                <br>
                <em>Esta opción se debe usar para añadir preguntas a grupos o participantes.</em>
                <hr>
                <em>
                  Las preguntas son identificadas como ya existentes si su descripción es idéntica a la especificada en el archivo adjunto.
                  En el caso de preguntas compuestas, todas las descripciones deben ser idénticas.
                </em>

                <br>
                <br>
                <br>
                <em>

                  Si una alternativa será el valor por defecto y no podrá ser modificada por los evaluadores, coloque su valor como valor:fijo
                  <br>por ejemplo 3:fijo

                </em>
              </div>

            </div>

            </div>

            <div id="reemplazar_excel_todo_container">

            <div class="form-group">

              <%= f.label :reemplazar_todo_excel, 'Reemplazar preguntas de sólo los miembros evaluados presentes en el archivo Excel adjunto', class: 'col-md-3 control-label'%>

              <div class="col-md-9">

                <input type="hidden" name="reemplazar_todo_excel" value="0">

                <input type="checkbox" name="reemplazar_todo_excel" id="reemplazar_todo_excel" value="1" onchange="toggle_reemp_excel();">

                <script>

                  function toggle_reemp_excel(){

                    if($('#reemplazar_todo_excel').is(":checked")){
                      $('#reemplazar_todo_container').hide();
                      $('#container_reemplazar_solo_entered_by_manager').show();
                      $('#alert_reemplazar_todo_excel').show();
                    }else{
                      $('#reemplazar_todo_container').show();
                      $('#container_reemplazar_solo_entered_by_manager').hide();
                      $('#alert_reemplazar_todo_excel').hide();
                    }

                  }

                  $(document).ready(function() {
                    toggle_reemp_excel();
                  });

                </script>

                <script>
                  $('#reemplazar_todo_excel').bootstrapSwitch({
                    onColor: 'danger',
                    onText: "<nobr>&nbsp;&nbsp;<i class='fa fa-eraser'></i> Sí &nbsp;&nbsp;</nobr>",
                    offColor: 'success',
                    offText: "<nobr>&nbsp;&nbsp;<i class='fa fa-refresh'></i> No &nbsp;&nbsp;</nobr>",
                    size: "small"
                  });
                </script>

                <br><br>
                <div class="alert alert-danger" id="alert_reemplazar_todo_excel">
                  Ojo que se eliminarán todas las preguntas, incluso las ya contestadas, de todos los participantes que se encuentren en el archivo excel
                </div>
                <br>
                <i class='fa fa-eraser'></i> Sí. Si selecciona esta opción, el sistema primero <strong>eliminará a todas
                las preguntas asociadas a los participantes econtrados en el archivo excel</strong>, y luego cargará las preguntas especificadas en el archivo adjunto.
                <br>
                Las únicas preguntas que no serán eliminadas, serán aquellas que ya han sido contestadas.
                A estas sólo se les actualizarán las alternativas: Añadir nueva alternativa o cambiar valores de las ya existentes.

                <br><br>
                <i class='fa fa-refresh'></i> No. Si selecciona esta opción. El sistema <strong>no eliminará las preguntas
                asociadas a los participantes encontrados en el archivo excel</strong>.
                Partiendo del archivo adjunto, el sistema agregará nuevas preguntas.
                <br>
                En caso una pregunta a añadir ya exista, sólo se actualizarán las alternativas de esta: Añadir nueva alternativa o cambiar valores de las ya existentes.
                <br>
                <em>Esta opción se debe usar para añadir preguntas a participantes.</em>
                <hr>
                <em>
                  Las preguntas son identificadas como ya existentes si su descripción es idéntica a la especificada en el archivo adjunto.
                  En el caso de preguntas compuestas, todas las descripciones deben ser idénticas.
                </em>

                <br>
                <br>
                <br>
                <em>

                  Si una alternativa será el valor por defecto y no podrá ser modificada por los evaluadores, coloque su valor como valor:fijo
                  <br>por ejemplo 3:fijo

                </em>
              </div>

            </div>

            </div>

            <% if @pe_evaluation.entered_by_manager_questions %>

            <div id="container_reemplazar_solo_entered_by_manager">

            <hr>

            <div class="form-group">

              <%= f.label :reemplazar_solo_entered_by_manager, 'Reemplazar sólo preguntas marcadas como a registrar por el gestor', class: 'col-md-3 control-label'%>

              <div class="col-md-9">

                <input type="hidden" name="reemplazar_solo_entered_by_manager" value="0">
                <input type="checkbox" name="reemplazar_solo_entered_by_manager" id="reemplazar_solo_entered_by_manager" value="1">

                <script>
                  $('#reemplazar_solo_entered_by_manager').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small"
                  });
                </script>


              </div>

            </div>

            </div>

            <% end %>

          </div>

            <div class="panel-footer clearfix">
              <div class="pull-right">


                <%= f.submit 'Subir', class: 'btn btn-primary' %>

              </div>
            </div>

        </div>
      </div>
    </div>

  <% end %>


<% end %>


