
<div class="row">
  <div class=" col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a configurar el proceso'.html_safe, pe_process_tab_path(@pe_process,'evaluations'), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      Evaluación del desemepeño
      <span>> Configurar evaluación </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render partial: '/pe_processes/show' %>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos de la evaluación: <%= @pe_evaluation.name %>
        </legend>

        <div class="row">
          <div class=" col-md-3 text-right">
            <strong>Dimensión</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.pe_dimension.name %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class=" col-md-3 text-right">
            <strong>Peso</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.weight %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class=" col-md-3 text-right">
            <strong>Informativa</strong>
          </div>
          <div class="col-md-9">

            <%= label_yes_not @pe_evaluation.informative %>

            <br>

            <em>
              El sistema marcará una evaluación como informativa cuando no se le puede calcular un resultado debido a que todas sus preguntas pesan cero.
              <br>
              Si se marca manualmente una evaluación como informativa, y esta tiene preguntas con peso, el sistema calculará y operará sus resultados de forma normal (de ser el caso).
              Sólo afectará la forma en que se presentan en los reportes.
            </em>

          </div>
        </div>

        <hr>

        <div class="row">
          <div class=" col-md-3 text-right">
            <strong>Orden</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.position %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class=" col-md-3 text-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <strong><%= @pe_evaluation.name %></strong>
          </div>
        </div>

        <br>

        <div class="row">
          <div class=" col-md-3 text-right">
            <strong>Código</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.cod %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class=" col-md-3 text-right">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_evaluation.description.html_safe %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class=" col-md-3 text-right">
            <strong>Permite definición de preguntas por gestores</strong>
          </div>
          <div class="col-md-9">
            <% if @pe_evaluation.allow_definition_by_managers %>
              <span class="label label-success">SÍ</span>
            <% else %>
              <span class="label label-danger">NO</span>
            <% end %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class=" col-md-3 text-right">
            <strong>Registrada por el gestor</strong>
          </div>
          <div class="col-md-9">
            <% if @pe_evaluation.entered_by_manager %>
              <span class="label label-success">SÍ</span>
            <% else %>
              <span class="label label-danger">NO</span>
            <% end %>
          </div>
        </div>

        <% unless @pe_evaluation.entered_by_manager %>

          <br><br>
          <legend>Consultar definición de evaluaciones</legend>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Mostrar la evaluación en paso de consultar definiciones</strong>
            </div>
            <div class="col-md-9">
              <%= label_yes_not @pe_evaluation.display_in_qdefs %>
            </div>
          </div>

          <br>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Mostrar peso de la evaluación en paso de consultar definiciones</strong>
            </div>
            <div class="col-md-9">
              <%= label_yes_not @pe_evaluation.display_weight_in_qdefs %>
            </div>
          </div>

          <br>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Comentarios por el jefe</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_evaluation.qdefs_allow_individual_comments_by_boss? %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>

          <br>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Comentarios por el jefe visualizados por el evaluado</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_evaluation.qdefs_allow_watch_individual_comments_by_boss? %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>

          <br>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Comentarios colaborativos jefe evaluado</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_evaluation.qdefs_allow_individual_comments_with_boss? %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>

          <br><br>
          <legend>Definición</legend>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Permite definición de preguntas por usuarios</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_evaluation.allow_definition_by_users? %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>

          <% if @pe_evaluation.allow_definition_by_users? %>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Definido por los roles</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.definition_by_users_rol %>
                  <% @pe_evaluation.definition_by_users_rol.split('-').each do |e| %>
                    <%= PeRel.rels[e.to_i] unless e.blank? %>
                  <% end %>
                <% end %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Permite clonar la definición de un evaluado a otro</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.definition_by_users_clone %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Permite descargar la definición en PDF</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.definition_by_users_pdf %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>



            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Mensaje mostrado para finalizar la definición</strong>
              </div>
              <div class="col-md-9">
                <%= @pe_evaluation.definition_by_user_finish_message %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Mensaje mostrado para finalizar la definición después de realizar las correcciones solicitadas por el validador</strong>
              </div>
              <div class="col-md-9">
                <%= @pe_evaluation.definition_by_user_finish_validated_message %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Label no iniciado</strong>
              </div>
              <div class="col-md-9">
                <%= @pe_evaluation.draw_label_not_initiated_definition_by_users.html_safe %>

              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Label pendiente</strong>
              </div>
              <div class="col-md-9">
                <%= @pe_evaluation.draw_label_not_ready_definition_by_users.html_safe %>

              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Label finalizado</strong>
              </div>
              <div class="col-md-9">
                <%= @pe_evaluation.draw_label_ready_definition_by_users.html_safe %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Evaluaciones a mostrar durante la definición</strong>
              </div>
              <div class="col-md-9">
                <% @pe_evaluation.pe_evaluation_displayed_def_by_users.each do |pe_displayed_evaluation| %>
                  <li><%= pe_displayed_evaluation.pe_displayed_evaluation.name %></li>
                <% end %>
              </div>
            </div>

            <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_before_accepted > 0 %>

              <hr>

              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong> Número de pasos de validación previos a la confirmación de preguntas</strong>
                </div>
                <div class="col-md-9">
                  <%= @pe_evaluation.num_steps_definition_by_users_validated_before_accepted %>
                </div>
              </div>
              <br>
              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong> Alias de pasos de validación previos a la confirmación de preguntas</strong>
                </div>
                <div class="col-md-9">

                  <%= @pe_evaluation.alias_steps_definition_by_users_validated_before_accepted %>

                </div>
              </div>

              <br>

              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong>Mensaje mostrado para validar la definición</strong>
                </div>
                <div class="col-md-9">
                  <%= @pe_evaluation.definition_by_user_validate_before_message %>
                </div>
              </div>

              <br>

              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong>Label pendiente</strong>
                </div>
                <div class="col-md-9">
                  <% (1..@pe_evaluation.num_steps_definition_by_users_validated_before_accepted).each do |step_number| %>

                    <%= @pe_evaluation.draw_label_not_ready_definition_by_users_validated_before_accepted(step_number).html_safe %>

                  <% end %>
                </div>
              </div>

              <br>

              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong>Label finalizado</strong>
                </div>
                <div class="col-md-9">

                  <% (1..@pe_evaluation.num_steps_definition_by_users_validated_before_accepted).each do |step_number| %>

                    <%= @pe_evaluation.draw_label_ready_definition_by_users_validated_before_accepted(step_number).html_safe %>

                  <% end %>
                </div>
              </div>

              <br>

              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong>Label rechazado</strong>
                </div>
                <div class="col-md-9">

                  <% (1..@pe_evaluation.num_steps_definition_by_users_validated_before_accepted).each do |step_number| %>

                    <%= @pe_evaluation.draw_label_rejected_definition_by_users_validated_before_accepted(step_number).html_safe %>

                  <% end %>
                </div>
              </div>

              <br>

              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong>Validador puede rechazar definidos por gestor</strong>
                </div>
                <div class="col-md-9">
                  <% if @pe_evaluation.def_by_users_validated_before_accepted_manager %>
                    <span class="label label-success">Sí</span>
                  <% else %>
                    <span class="label label-danger">No</span>
                  <% end %>
                </div>
              </div>

            <% end %>



            <hr>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>El usuario debe confirmar las preguntas que le han sido definidas</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.allow_definition_by_users_accepted? %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>

            <% if @pe_evaluation.allow_definition_by_users_accepted? %>

              <br>

              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong>Mensaje mostrado para realizar la confirmación</strong>
                </div>
                <div class="col-md-9">
                  <%= @pe_evaluation.definition_by_users_accept_message.html_safe %>
                </div>
              </div>

              <br>

              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong>Label pendiente</strong>
                </div>
                <div class="col-md-9">
                  <%= @pe_evaluation.draw_label_not_ready_definition_by_users_accepted.html_safe %>
                </div>
              </div>

              <br>

              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong>Label finalizado</strong>
                </div>
                <div class="col-md-9">
                  <%= @pe_evaluation.draw_label_ready_definition_by_users_accepted.html_safe %>
                </div>
              </div>

            <% else %>

              <br>

              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong>Permite consultar mi definición</strong>
                </div>
                <div class="col-md-9">
                  <% if @pe_evaluation.allow_watching_own_definition? %>
                    <span class="label label-success">Sí</span>
                  <% else %>
                    <span class="label label-danger">No</span>
                  <% end %>
                </div>
              </div>

            <% end %>

            <% if @pe_evaluation.allow_definition_by_users_accepted? || @pe_evaluation.allow_watching_own_definition? %>

              <br>

              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong>Se consultará mi definición sólo cuando esta haya sido finalizada por el usuario que define</strong>
                </div>
                <div class="col-md-9">
                  <% if @pe_evaluation.watch_my_definition_only_when_finished? %>
                    <span class="label label-success">Sí</span>
                  <% else %>
                    <span class="label label-danger">No</span>
                  <% end %>
                </div>
              </div>

            <% end %>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Permite descargar la definición en PDF</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.definition_by_users_accept_pdf %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>

            <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0 %>

              <hr>

              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong> Número de pasos de validación posteriores a la confirmación de preguntas</strong>
                </div>
                <div class="col-md-9">
                  <%= @pe_evaluation.num_steps_definition_by_users_validated_after_accepted %>
                </div>
              </div>

              <br>

              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong> Alias de pasos de validación posteriores a la confirmación de preguntas</strong>
                </div>
                <div class="col-md-9">
                  <%= @pe_evaluation.alias_steps_definition_by_users_validated_after_accepted %>
                </div>
              </div>

              <br>

              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong>Mensaje mostrado para validar la definición</strong>
                </div>
                <div class="col-md-9">
                  <%= @pe_evaluation.definition_by_user_validate_after_message %>
                </div>
              </div>

              <br>

              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong>Label pendiente</strong>
                </div>
                <div class="col-md-9">

                  <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>

                    <%= @pe_evaluation.draw_label_not_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>

                  <% end %>
                </div>
              </div>

              <br>

              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong>Label finalizado</strong>
                </div>
                <div class="col-md-9">

                  <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>

                    <%= @pe_evaluation.draw_label_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>

                  <% end %>
                </div>
              </div>

              <br>

              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong>Label rechazado</strong>
                </div>
                <div class="col-md-9">

                  <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>

                    <%= @pe_evaluation.draw_label_rejected_definition_by_users_validated_after_accepted(step_number).html_safe %>

                  <% end %>
                </div>
              </div>

              <br>

              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong>Validador puede rechazar definidos por gestor</strong>
                </div>
                <div class="col-md-9">
                  <% if @pe_evaluation.def_by_users_validated_after_accepted_manager %>
                    <span class="label label-success">Sí</span>
                  <% else %>
                    <span class="label label-danger">No</span>
                  <% end %>
                </div>
              </div>

            <% end %>

            <hr>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Comentarios por el jefe</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.def_allow_individual_comments_by_boss? %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Comentarios por el jefe visualizados por el evaluado</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.def_allow_watch_individual_comments_by_boss? %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Comentarios colaborativos jefe evaluado</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.def_allow_individual_comments_with_boss? %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Plan de acción definido por el jefe</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.def_allow_action_plan_by_boss? %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Plan de acción definido por el jefe y visualizado por el evaluado</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.def_allow_watch_action_plan_by_boss? %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Plan de acción definido colaborativamente jefe evaluado</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.def_allow_action_plan_with_boss? %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>
            
            <hr>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Mensaje para </strong>
              </div>
              <label class='col-md-3 control-label'>  </label>
              <div class="col-md-9">

                <% @pe_process.pe_rels.each do |pe_rel| %>

                  <%= pe_rel.rel_name %>:

                  <% pe_evaluation_def_rel_message = @pe_evaluation.pe_evaluation_def_rel_message(pe_rel) %>

                  <%= pe_evaluation_def_rel_message.message.html_safe if pe_evaluation_def_rel_message && !pe_evaluation_def_rel_message.message.blank? %>

                  <br>
                <% end %>

                <br>
              </div>
            </div>

          <% elsif @pe_evaluation.pe_evaluations_where_is_displayed_def_by_users.size > 0 %>

            <hr>

            <div class="row">
              <div class="col-md-3 text-right">

                <strong>
                  Comentarios en la definición de
                  <% @pe_evaluation.pe_evaluations_where_is_displayed_def_by_users.each do |pe_evaluation_where_is_displayed_def_by_users| %>
                    <%= pe_evaluation_where_is_displayed_def_by_users.pe_evaluation.name %>,
                  <% end %>
                </strong>

              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Comentarios por el jefe</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.def_allow_individual_comments_by_boss? %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Comentarios por el jefe visualizados por el evaluado</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.def_allow_watch_individual_comments_by_boss? %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Comentarios colaborativos jefe evaluado</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.def_allow_individual_comments_with_boss? %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>


          <% end %>



          <br><br>
          <legend>Seguimiento</legend>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Permite seguimiento</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_evaluation.allow_tracking? %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>

          <% if @pe_evaluation.allow_tracking? %>
            <br>
            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Evaluaciones a mostrar durante el seguimiento</strong>
              </div>
              <div class="col-md-9">
                <% @pe_evaluation.pe_evaluation_displayed_trackings.each do |pe_displayed_evaluation| %>
                  <li><%= pe_displayed_evaluation.pe_displayed_evaluation.name %></li>
                <% end %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Permite realizar seguimiento colaborativo con jefe</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.allow_tracking_with_boss? %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Permite consultar mi seguimiento</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.allow_watching_own_tracking? %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Comentarios por el jefe</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.track_allow_individual_comments_by_boss? %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Comentarios por el jefe visualizados por el evaluado</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.track_allow_watch_individual_comments_by_boss? %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Comentarios colaborativos jefe evaluado</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.track_allow_individual_comments_with_boss? %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Mensaje para </strong>
              </div>
              <label class='col-md-3 control-label'>  </label>
              <div class="col-md-9">

                <% @pe_process.pe_rels.each do |pe_rel| %>

                  <%= pe_rel.rel_name %>:

                  <% pe_evaluation_track_rel_message = @pe_evaluation.pe_evaluation_track_rel_message(pe_rel) %>

                  <%= pe_evaluation_track_rel_message.message.html_safe if pe_evaluation_track_rel_message && !pe_evaluation_track_rel_message.message.blank? %>

                  <br>
                <% end %>

                <br>
              </div>
            </div>

          <% elsif @pe_evaluation.pe_evaluations_where_is_displayed_tracking.size > 0 %>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Comentarios por el jefe</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.track_allow_individual_comments_by_boss? %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Comentarios por el jefe visualizados por el evaluado</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.track_allow_watch_individual_comments_by_boss? %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>

            <br>

            <div class="row">
              <div class=" col-md-3 text-right">
                <strong>Comentarios colaborativos jefe evaluado</strong>
              </div>
              <div class="col-md-9">
                <% if @pe_evaluation.track_allow_individual_comments_with_boss? %>
                  <span class="label label-success">Sí</span>
                <% else %>
                  <span class="label label-danger">No</span>
                <% end %>
              </div>
            </div>

          <% end %>

          <br><br>
          <legend>Evaluación</legend>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Registro de resultados por gestor (por pregunta)</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_evaluation.entered_by_manager_questions %>
                <span class="label label-success">SÍ</span>
              <% else %>
                <span class="label label-danger">NO</span>
              <% end %>
            </div>
          </div>

          <br>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Mostrar peso de la evaluación en paso de evaluación</strong>
            </div>
            <div class="col-md-9">
              <%= label_yes_not @pe_evaluation.display_weight_in_assessment %>
            </div>
          </div>

          <br>

          <% @pe_process.pe_rels.each do |pe_rel| %>

            <% pe_evaluation_rel = @pe_evaluation.pe_evaluation_rel(pe_rel) %>

            <% if pe_evaluation_rel %>

              <hr>

              <div class="row">

                <div class="col-md-12">
                  Evaluación por <strong><%= pe_rel.alias_plural %></strong>
                </div>

              </div>
              <br>
              <div class="row">

                <div class=" col-md-3 text-right">
                  <strong>Peso</strong>
                </div>

                <div class="col-md-9">

                  <%= pe_evaluation_rel.weight %>

                </div>

              </div>

              <br>
              <div class="row">
                <div class=" col-md-3 text-right">
                  <strong>Permite que los resultados parciales de los evaluadores se usen para calcular el resultado final (no es necesario finalizar la evaluación)</strong>
                </div>
                <div class="col-md-9">
                  <% if pe_evaluation_rel.final_temporal_assessment %>
                    <span class="label label-success">SÍ</span>
                  <% else %>
                    <span class="label label-danger">NO</span>
                  <% end %>
                </div>
              </div>

              <br>

              <div class="row">

                <div class=" col-md-3 text-right">
                  <strong>Fecha de inicio</strong>
                </div>

                <div class="col-md-9">

                  <%= (localize pe_evaluation_rel.from_date, format: :day_snmonth_year) %>

                  <% if lms_time > pe_evaluation_rel.from_date %>
                    <span class="label label-danger">Hace
                      <%= distance_of_time_in_words(pe_evaluation_rel.from_date, lms_time) %>
                    </span>
                  <% else %>
                    <span class="label label-primary">En
                      <%= distance_of_time_in_words(lms_time, pe_evaluation_rel.from_date) %>
                    </span>
                  <% end %>

                </div>

              </div>

              <br>

              <div class="row">

                <div class=" col-md-3 text-right">
                  <strong>Fecha de fin</strong>
                </div>

                <div class="col-md-9">

                  <%= (localize pe_evaluation_rel.to_date, format: :day_snmonth_year) %>

                  <% if lms_time > pe_evaluation_rel.to_date %>
                    <span class="label label-danger">Hace
                      <%= distance_of_time_in_words(pe_evaluation_rel.to_date, lms_time) %>
                    </span>
                  <% else %>
                    <span class="label label-primary">En
                      <%= distance_of_time_in_words(lms_time, pe_evaluation_rel.to_date) %>
                    </span>
                  <% end %>

                </div>

              </div>

              <% @pe_process.pe_group2s.each do |pe_group2| %>

                <% pe_evaluation_rel_group2 = pe_evaluation_rel.pe_evaluation_rel_group2s.where('pe_group2_id = ?', pe_group2.id).first %>

                <br>
                <div class="row">

                  <div class=" col-md-3 text-right">
                    <strong>Grupo <%= pe_group2.name %></strong>
                  </div>

                  <div class="col-md-4">

                    Fecha inicio<br>

                    <% if pe_evaluation_rel_group2 %>

                      <%= (localize pe_evaluation_rel_group2.from_date, format: :day_snmonth_year) %>

                      <% if lms_time > pe_evaluation_rel_group2.from_date %>
                      <span class="label label-danger">Hace
                        <%= distance_of_time_in_words(pe_evaluation_rel_group2.from_date, lms_time) %>
                      </span>
                      <% else %>
                      <span class="label label-primary">En
                        <%= distance_of_time_in_words(lms_time, pe_evaluation_rel_group2.from_date) %>
                      </span>
                      <% end %>

                    <% end %>

                  </div>

                  <div class="col-md-4 col-md-offset-1">

                    Fecha fin<br>

                    <% if pe_evaluation_rel_group2 %>

                      <%= (localize pe_evaluation_rel_group2.to_date, format: :day_snmonth_year) %>

                      <% if lms_time > pe_evaluation_rel_group2.to_date %>
                      <span class="label label-danger">Hace
                        <%= distance_of_time_in_words(pe_evaluation_rel_group2.to_date, lms_time) %>
                      </span>
                      <% else %>
                      <span class="label label-primary">En
                        <%= distance_of_time_in_words(lms_time, pe_evaluation_rel_group2.to_date) %>
                      </span>
                      <% end %>

                    <% end %>

                  </div>

                </div>

              <% end %>

              <% if pe_rel.rel == 0 %>

                <br>
                <div class="row">

                  <div class=" col-md-3 text-right">
                    <strong>Se muestra valoración al jefe mientras evalúa</strong>
                  </div>

                  <div class="col-md-9">

                    <% if @pe_evaluation.step_assessment_show_auto_to_boss %>
                      <span class="label label-success">
                        Sí
                      </span>
                    <% else %>
                      <span class="label label-danger">
                        No
                      </span>
                    <% end %>

                  </div>

                </div>

                <br>
                <div class="row">

                  <div class=" col-md-3 text-right">
                    <strong>Se muestra comentario al jefe mientras evalúa</strong>
                  </div>

                  <div class="col-md-9">

                    <% if @pe_evaluation.step_assessment_show_auto_comment_to_boss %>
                      <span class="label label-success">
                        Sí
                      </span>
                    <% else %>
                      <span class="label label-danger">
                        No
                      </span>
                    <% end %>

                  </div>

                </div>

                <br>
                <div class="row">

                  <div class=" col-md-3 text-right">
                    <strong>Se copiará la evaluación al jefe cuando este inicie su evaluación (sólo si la auto fue finalizada)</strong>
                  </div>

                  <div class="col-md-9">

                    <% if @pe_evaluation.assess_boss_copy_auto %>
                      <span class="label label-success">
                        Sí
                      </span>
                    <% else %>
                      <span class="label label-danger">
                        No
                      </span>
                    <% end %>

                  </div>

                </div>

              <% end %>

            <% end %>

          <% end %>

          <hr>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Comentarios por el jefe</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_evaluation.assess_allow_individual_comments_by_boss? %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>

          <br>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Comentarios por el jefe visualizados por el evaluado</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_evaluation.assess_allow_watch_individual_comments_by_boss? %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>

          <br>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Comentarios colaborativos jefe evaluado</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_evaluation.assess_allow_individual_comments_with_boss? %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Evaluado puede publicar archivos para el jefe</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_evaluation.assess_allow_files_to_boss %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Puntos necesarios para obtener 100%</strong>
            </div>
            <div class="col-md-8">
              <%= @pe_evaluation.points_to_ohp %>
            </div>
            <div class="col-md-1">
              <i class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="right" data-content="Dependiendo de este valor, un evaluado podría superar el 100% de porcentaje obtenido.">
              </i>
            </div>
          </div>
          <br>
          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Porcentaje mínimo que se puede obtener</strong>
            </div>
            <div class="col-md-8">
              <%= @pe_evaluation.min_percentage %>%
            </div>
            <div class="col-md-1">
              <i class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="right" data-content="Si un evaluado obtiene un porcentaje menor al indicado, se le asignará como porcentaje obtenido este porcentaje mínimo.">
              </i>
            </div>
          </div>
          <br>
          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Porcentaje máximo que se puede obtener</strong>
            </div>
            <div class="col-md-8">
              <%= @pe_evaluation.max_percentage %>%
            </div>
            <div class="col-md-1">
              <i class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="right" data-content="Si un evaluado obtiene un porcentaje mayor al indicado, se le asignará como porcentaje obtenido este porcentaje máximo.">
              </i>
            </div>
          </div>
          <br>
          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Porcentaje máximo permitido de preguntas que no se pueden contestar (No aplica/No sabe/No opina)</strong>
            </div>
            <div class="col-md-8">
              <%= @pe_evaluation.max_per_cant_answer %>%
            </div>
            <div class="col-md-1">
              <i class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="right" data-content="Si un evaluador (no jefe) supera este % de preguntas que no puede contestar, no se le considerará para el evaluado en cuestión, en ninguna de las evaluaciones.">
              </i>
            </div>
          </div>
          <br>
          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Permite que los resultados parciales de los evaluadores se usen para calcular el resultado final (no es necesario finalizar la evaluación)</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_evaluation.final_temporal_assessment %>
                <span class="label label-success">SÍ</span>
              <% else %>
                <span class="label label-danger">NO</span>
              <% end %>
            </div>
          </div>

          <hr>
          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Forma de operar los evaluadores</strong>
            </div>
            <div class="col-md-9">

              <%= PeEvaluation.final_evaluation_operations_evaluators[@pe_evaluation.final_evaluation_operation_evaluators] %>

              <br><br>

              <% if @pe_evaluation.final_evaluation_operation_evaluators == 0 %>
                Por ejemplo, todos los jefes se promediarán entre ellos, todos los pares se promediarán entre ellos,
                finalmente, la nota de jefes por el peso de jefe + la nota de pares por el peso de par, todo dividido entre el peso de jefe + el peso de par.
              <% elsif @pe_evaluation.final_evaluation_operation_evaluators == 1 %>
                Por ejemplo, la nota del jefe por el peso del jefe + la nota de cada par por el peso de par, todo dividido entre el peso del jefe
                + el peso de par multiplicado por el número de pares.
              <% elsif @pe_evaluation.final_evaluation_operation_evaluators == 2 %>
                Por ejemplo, la nota de todos los evaluadores de un área por el peso del evaluador se promediarán para generar la nota otorgada por el área,
                la suma de notas de áreas dividida entre el número de áreas dará el resultado final.
              <% end %>


            </div>

          </div>
          <br>
          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Forma de operar las evaluaciones</strong>
            </div>
            <div class="col-md-9">

              <%= PeEvaluation.final_evaluation_operations_evaluations[@pe_evaluation.final_evaluation_operation_evaluations] %>

              <br><br>

              <% if @pe_evaluation.final_evaluation_operation_evaluations == 0 %>
                Por ejemplo, se operarán los resultados finales obenidos en las evaluaciones de los jefes,
                pares o autoevalaución según sea el caso. Los resultados finales se operarán según la
                configuración previa "Forma de promediar los evaluadores".
              <% elsif @pe_evaluation.final_evaluation_operation_evaluations == 1 %>
                Por ejemplo, se operarán los resultados de las preguntas obenidos en las evaluaciones de los jefes,
                pares o autoevalaución según sea el caso. Si una pregunta es común a diferentes evaluadores, estas se promediarán
                según la configuración previa "Forma de promediar los evaluadores". Luego los resultados finales de cada pregunta
                diferente se operarán según la configuración "Forma de cálculo" de los elementos.
              <% end %>


            </div>

          </div>

          <hr>
          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Inferfaz de evaluación</strong>
            </div>
            <div class="col-md-9">

              <%= PeEvaluation.assessment_layouts[@pe_evaluation.assessment_layout] %>

              <br><br>

              <% if @pe_evaluation.assessment_layout == 0 %>
                Interfaz común de evaluación.
              <% elsif @pe_evaluation.assessment_layout == 1 %>
                Interfaz de objetivos con indicadores, soporta automáticamente también un agrupador previo como los pilares.

                <br><br>
                Cantidad máxima de caracteres de la meta para que salga en una sola línea: <%= @pe_evaluation.lay_force_nobr_goal_length %>

              <% elsif @pe_evaluation.assessment_layout == 2 %>
                Solo para evaluaciones con un elemento, las alternativas aparecerán al lado derecho de las preguntas
              <% elsif @pe_evaluation.assessment_layout == 3 %>
                Solo para evaluaciones con dos elemento, las preguntas del segundo elemento aparecerán como columnas, todas las preguntas del
                segundo nivel deben ser simples y tener el mismo nombre
                al costado de las preguntas del primer elemento, en la configuración del segundo elemento las alternativas deben estar configuradas como combo_select.
              <% end %>

              <% if @pe_evaluation.assessment_layout == 4 || @pe_evaluation.assessment_layout == 5 %>

                <%= link_to 'Añadir Grupo', new_pe_slider_group_path(@pe_evaluation) %>

                <div class="row">

                  <% ancho_grupo = @pe_evaluation.pe_slider_groups.size > 0 ? 12/@pe_evaluation.pe_slider_groups.size : 1 %>

                  <% @pe_evaluation.pe_slider_groups.each do |pe_slider_group| %>

                    <div class="col-md-<%= ancho_grupo %>">
                      <div class="well text-center" style="<%= ('color: #'+pe_slider_group.text_color+';') unless pe_slider_group.text_color.blank? %><%= ('background-color: #'+pe_slider_group.bg_color+';') unless pe_slider_group.bg_color.blank? || pe_slider_group.bg_color == 'ffffff' %>">
                        <strong>
                          <%= link_to pe_slider_group.position.to_s+'. '+pe_slider_group.name, edit_pe_slider_group_path(pe_slider_group), style: 'color: #'+pe_slider_group.text_color+';' %>
                        </strong>
                        <% if pe_slider_group.description %>

                          <i id="pe_slider_group_description_popover_<%= pe_slider_group.id %>" class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= pe_slider_group.description %>"></i>
                          <script>
                            $('#pe_slider_group_description_popover_<%= pe_slider_group.id %>').popover();
                          </script>

                        <% end %>


                        <br>
                        <%= pe_slider_group.min_sign %> <%= pe_slider_group.min_value %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= pe_slider_group.max_sign %> <%= pe_slider_group.max_value %>

                        <br><br>

                        <%= link_to 'Eliminar', pe_slider_group, method: :delete, data: { confirm: '¿Está seguro de eliminar el grupo?' } %>


                      </div>
                    </div>

                  <% end %>

                </div>


              <% end %>


            </div>

          </div>

          <hr>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Mensaje para </strong>
            </div>
            <label class='col-md-3 control-label'>  </label>
            <div class="col-md-9">

              <% @pe_process.pe_rels.each do |pe_rel| %>

                <%= pe_rel.rel_name %>:

                <% pe_evaluation_assess_rel_message = @pe_evaluation.pe_evaluation_assess_rel_message(pe_rel) %>

                <%= pe_evaluation_assess_rel_message.message.html_safe if pe_evaluation_assess_rel_message && !pe_evaluation_assess_rel_message.message.blank? %>

                <br>
              <% end %>

              <br>
            </div>
          </div>

          <br><br>
          <legend>Calibración</legend>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Permite ser calibrada</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_evaluation.allow_calibration %>
                <span class="label label-success">SÍ</span>
              <% else %>
                <span class="label label-danger">NO</span>
              <% end %>
            </div>
          </div>

          <br><br>
          <legend>Consultar resultados de evaluaciones</legend>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Mostrar la evaluación en paso de consultar resultados</strong>
            </div>
            <div class="col-md-9">
              <%= label_yes_not @pe_evaluation.display_in_qres %>
            </div>
          </div>

          <br>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Mostrar peso de la evaluación en paso de consultar resultados</strong>
            </div>
            <div class="col-md-9">
              <%= label_yes_not @pe_evaluation.display_weight_in_qres %>
            </div>
          </div>

          <br>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Comentarios por el jefe</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_evaluation.qres_allow_individual_comments_by_boss? %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>

          <br>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Comentarios por el jefe visualizados por el evaluado</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_evaluation.qres_allow_watch_individual_comments_by_boss? %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>

          <br>

          <div class="row">
            <div class=" col-md-3 text-right">
              <strong>Comentarios colaborativos jefe evaluado</strong>
            </div>
            <div class="col-md-9">
              <% if @pe_evaluation.qres_allow_individual_comments_with_boss? %>
                <span class="label label-success">Sí</span>
              <% else %>
                <span class="label label-danger">No</span>
              <% end %>
            </div>
          </div>

        <% end %>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">

          <%= link_to 'Editar', edit_pe_evaluation_path(@pe_evaluation) %>
          &nbsp;&nbsp;&nbsp;
          <%= link_to 'Eliminar', @pe_evaluation, method: :delete, data: { confirm: 'Are you sure?' } %>

        </div>
      </div>
    </div>

  </div>
</div>


<% unless @pe_evaluation.entered_by_manager %>

  <% first_pe_element = nil %>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">

          <legend>
            Elementos de la evaluación
          </legend>

          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Elemento definido por</th>
                <th>Pregunta evaluada/Agrupador</th>
                <th>Forma de cálculo</th>
                <th>Forma de valoración</th>
                <!--<th>Forma de valoración definida por</th>-->
                <th>Cantidad mínima</th>
                <th>Cantidad máxima</th>
                <th>Peso mínimo</th>
                <th>Peso máximo</th>
                <th>Suma de pesos</th>


                <th>Visible</th>
                <th>Mostrar nombre</th>
                <th>Mostrar peso</th>
                <th>
                  Permite nota
                </th>
                <th>
                  Permite comentarios individuales
                </th>
                <th>
                  Permite plan de acción
                </th>
                <th><%= link_to 'Crear nuevo elemento', new_pe_element_path(@pe_evaluation) %></th>
              </tr>
            </thead>



            <tbody>
              <% @pe_evaluation.pe_elements.each_with_index do |pe_element, index_e| %>

                <% first_pe_element = pe_element if index_e == 0 %>

                <tr>
                  <td><%= pe_element.name %>, <%= pe_element.plural_name %></td>
                  <td>

                    <% if pe_element.element_def_by == 1 %>
                      <!-- def by usuarios -->

                      <% pe_element.element_def_by_rol.split('-').each do |e| %>
                        <%= PeRel.rels[e.to_i] unless e.blank? %>
                      <% end %>

                    <% else %>

                      <%= PeElement.element_def_by_list[pe_element.element_def_by] %>

                    <% end %>




                  </td>
                  <td>
                    <% if pe_element.assessed %>
                      <nobr>
                        <span class="label label-success">Pregunta</span>

                        <% if pe_element.simple %>
                          <span class="label label-warning">Simple</span>
                        <% else %>
                          <span class="label label-info">Compuesta</span>
                        <% end %>

                      </nobr>

                    <% else %>
                      <span class="label label-info">Agrupador</span>
                    <% end %>
                  </td>
                  <td>
                    <% if pe_element.assessed %>
                      <%= PeElement.calculus_methods[pe_element.calculus_method] %>
                    <% end %>
                  </td>
                  <td>
                    <% if pe_element.assessed %>
                      <%= PeElement.assessment_methods[pe_element.assessment_method] %>
                    <% end %>
                  </td>
                  <!--
                  <td>

                    <% if pe_element.assessed && pe_element.assessment_method > 0 %>

                      0 cálculo automático, 1 alt, 2 ind

                      <% if pe_element.assessment_method_def_by == 1 %>

                        def by usuarios

                        <% pe_element.assessment_method_def_by_rol.split('-').each do |e| %>
                          <% #PeRel.rels[e.to_i] unless e.blank? %>
                        <% end %>

                      <% else %>
                        <% #PeElement.assessment_method_def_by_list[pe_element.assessment_method_def_by] %>
                      <% end %>



                    <% end %>

                  </td>
                  -->

                  <td>

                      <%= pe_element.min_number %>

                  </td>
                  <td>

                      <%= pe_element.max_number %>

                  </td>
                  <td>
                    <% if pe_element.assessed %>
                      <%= pe_element.min_weight %>
                    <% end %>
                  </td>
                  <td>
                    <% if pe_element.assessed %>
                      <%= pe_element.max_weight %>
                    <% end %>
                  </td>
                  <td>
                    <% if pe_element.assessed %>
                      <%= pe_element.weight_sum %>
                    <% end %>
                  </td>

                  <td>

                    <% if pe_element.visible %>
                      <span class="label label-success">Sí</span>
                    <% else %>
                      <span class="label label-danger">No</span>
                    <% end %>

                  </td>
                  <td>

                    <% if pe_element.visible %>
                      <% if pe_element.display_name %>
                        <span class="label label-success">Sí</span>
                      <% else %>
                        <span class="label label-danger">No</span>
                      <% end %>
                    <% else %>
                      <span class="label label-danger">No</span>
                    <% end %>

                  </td>

                  <td>

                    <% if pe_element.visible %>
                      <% if pe_element.display_weight %>
                        <span class="label label-success">Sí</span>
                      <% else %>
                        <span class="label label-danger">No</span>
                      <% end %>
                    <% else %>
                      <span class="label label-danger">No</span>
                    <% end %>

                  </td>

                  <td>

                    <% if pe_element.visible %>
                      <% if pe_element.allow_note %>
                        <span class="label label-success">Sí</span>

                        <br>

                        <%= pe_element.alias_note %>


                      <% else %>
                        <span class="label label-danger">No</span>
                      <% end %>
                    <% else %>
                      <span class="label label-danger">No</span>
                    <% end %>

                  </td>

                  <td>

                    <% if pe_element.visible %>
                      <% if pe_element.allows_individual_comments %>
                        <span class="label label-success">Sí</span>
                      <% else %>
                        <span class="label label-danger">No</span>
                      <% end %>
                    <% else %>
                      <span class="label label-danger">No</span>
                    <% end %>

                  </td>
                  <td>

                    <% if pe_element.visible %>
                      <% if pe_element.allow_action_plan %>
                        <span class="label label-success">Sí</span>
                      <% else %>
                        <span class="label label-danger">No</span>
                      <% end %>
                    <% else %>
                      <span class="label label-danger">No</span>
                    <% end %>

                  </td>

                  <td><%= link_to 'Configurar', pe_element %></td>

                </tr>
              <% end %>
            </tbody>

          </table>
        </div>



      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <legend>
            Estructura del plan de acción
          </legend>

          <div class="row">

            <div class="col-md-4">
              <div class="row">
                <div class="col-md-6">
                  <strong>Campos de la actividad</strong>
                </div>
                <div class="col-md-6 text-right">
                  <%= link_to 'Crear nuevo campo', new_pe_question_activity_field_path(@pe_evaluation) %>
                </div>
              </div>


              <table class="table table-bordered table-condensed">

                <thead>
                  <tr>
                    <th>Posición</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Lista</th>
                    <th>Obligatorio</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @pe_evaluation.pe_question_activity_fields.each do |pe_question_activity_field| %>

                    <tr>
                      <td><%= pe_question_activity_field.position %></td>
                      <td><%= pe_question_activity_field.name %></td>
                      <td>
                        <%= pe_question_activity_field.field_type_name %>
                      </td>
                      <td>
                        <%= pe_question_activity_field.pe_question_activity_field_list.name if pe_question_activity_field.field_type == 2 && pe_question_activity_field.pe_question_activity_field_list %>
                      </td>
                      <td>
                        <%= label_yes_not pe_question_activity_field.required %>
                      </td>
                      <td><%= link_to 'Configurar',  pe_question_activity_field %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

            <div class="col-md-4">

              <div class="row">
                <div class="col-md-6">
                  <strong>Estados de la actividad</strong>
                </div>
                <div class="col-md-6 text-right">
                  <%= link_to 'Crear nuevo estado', new_pe_question_activity_status_path(@pe_evaluation) %>
                </div>
              </div>
              <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                  <th>Posición</th>
                  <th>Nombre</th>
                  <th>Color</th>
                  <th>¿Finaliza?</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>

                <% @pe_evaluation.pe_question_activity_statuses.each do |pe_question_activity_status| %>

                  <tr>
                    <td><%= pe_question_activity_status.position %></td>
                    <td><%= pe_question_activity_status.name %></td>
                    <td><div class="small-box-color" style="background-color: <%= '#'+pe_question_activity_status.color%>;">&nbsp;</div></td>
                    <td>

                      <% if pe_question_activity_status.completed %>
                        <span class="label label-success">Sí</span>
                      <% else %>
                        <span class="label label-danger">No</span>
                      <% end %>

                    </td>
                    <td><%= link_to 'Configurar',  pe_question_activity_status %></td>
                  </tr>

                <% end %>

                </tbody>

              </table>
            </div>

            <div class="col-md-4">
              <div class="row">
                <div class="col-md-6">
                  <strong>Listas de items</strong>
                </div>
                <div class="col-md-6 text-right">
                  <%= link_to 'Crear nueva lista', new_pe_question_activity_field_list_path(@pe_evaluation) %>
                </div>
              </div>

              <table class="table table-bordered table-condensed">

                <thead>
                <tr>
                  <th>Nombre</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>

                  <% @pe_evaluation.pe_question_activity_field_lists.each do |pe_question_activity_field_list| %>

                    <tr>
                      <td><%= pe_question_activity_field_list.name %></td>
                      <td><%= link_to 'Configurar',  pe_question_activity_field_list %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">

          <legend>
            Grupos de evaluación
          </legend>

          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th colspan="2"><%= link_to 'Crear nuevo grupo', new_pe_group_path(@pe_evaluation) %></th>
              </tr>
            </thead>
            <tbody>
              <% @pe_evaluation.pe_groups.each_with_index do |pe_group, index| %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= pe_group.name %></td>
                  <td><%= link_to 'Editar', edit_pe_group_path(pe_group) %></td>
                  <td>
                    <% if pe_group.pe_member_groups.size == 0 %>
                      <%= link_to 'Eliminar', pe_group, method: :delete, data: { confirm: '¿Estás seguro de eliminar el grupo?' } %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">

          <legend>
            Preguntas y agrupadores
          </legend>

          <div class="text-right">

          Descargar excel para carga masiva de preguntas:

          <%= link_to 'Para Evaluadores -> Evaluados', pe_evaluation_download_xls_for_questions_update_pe_members_path(@pe_evaluation) %>

          &nbsp;&nbsp;&nbsp;

          <%= link_to 'Para Evaluados', pe_evaluation_download_xls_for_questions_update_pe_member_path(@pe_evaluation) %>

          &nbsp;&nbsp;&nbsp;

          <%= link_to 'Para grupos y/o relaciones', pe_evaluation_download_xls_for_questions_update_pe_groups_path(@pe_evaluation) %>


          <!--
              <% if @pe_evaluation.pe_groups.size > 0 %>

                &nbsp;&nbsp;&nbsp;

                <%= link_to 'Por grupos', pe_evaluation_download_xls_for_questions_update_pe_groups_path(@pe_evaluation) %>

              <% end %>
-->


          &nbsp;&nbsp;&nbsp;
          |
          &nbsp;&nbsp;&nbsp;
          <%= link_to 'Cargar preguntas', pe_evaluation_massive_update_form_path(@pe_evaluation) %>
            &nbsp;&nbsp;&nbsp;
            |
            &nbsp;&nbsp;&nbsp;
          <%= link_to 'Finalizar definition', pe_evaluation_massive_update_finish_definition_form_path(@pe_evaluation) %>

          </div>

          <ul class="nav nav-tabs" role="tablist">

            <% active = true %>

            <% if @pe_evaluation.pe_questions.where('pe_group_id IS NOT NULL').count > 0 %>

              <% active = false %>

              <% @pe_evaluation.pe_groups.each_with_index do |pe_group, index| %>

                <li role="presentation" class="<%= 'active' if index == 0 %>"><a href="#tab_questions_<%= pe_group.id %>" aria-controls="<%= pe_group.name %>" role="tab" data-toggle="tab"><%= pe_group.name %></a></li>

              <% end %>

            <% end %>

            <% if @pe_evaluation.pe_questions.where('pe_member_evaluated_id IS NOT NULL').count > 0 %>

              <li role="presentation" class="<%= 'active' if active %>"><a href="#tab_questions_by_pe_member" aria-controls="by_pe_member" role="tab" data-toggle="tab">Por participante</a></li>

            <% end %>

          </ul>


          <div class="tab-content">

            <% @pe_evaluation.pe_groups.each_with_index do |pe_group, index| %>
              <div role="tabpanel" class="tab-pane <%= 'active' if index == 0 %>" id="tab_questions_<%= pe_group.id %>">

              <br><br>

              <% if first_pe_element && first_pe_element.element_def_by == 0 %>

                <%= link_to 'Crear '+first_pe_element.name.downcase, new_pe_question_path(@pe_evaluation, 0) %>

              <% end %>

                <%= render partial: 'pe_evaluations/pe_question',
                           locals: {
                             pe_evaluation: @pe_evaluation,
                             pe_group_id: pe_group.id,
                             pe_question_parent_id: nil,
                             parent_number: ''
                           }
                %>

              </div>
            <% end %>

            <% if @pe_evaluation.pe_questions.where('pe_member_evaluated_id IS NOT NULL').count > 0 %>

              <div role="tabpanel" class="tab-pane <%= 'active' if active %>" id="tab_questions_by_pe_member">

                <br>

                <table class="table table-striped table-hover table-bordered">

                  <thead>
                    <tr>
                      <th>#</th>
                      <% unless @pe_process.of_persons? %>
                        <th>Área</th>
                      <% end %>
                      <th><%= alias_username %></th>
                      <th>Apellidos</th>
                      <th>Nombre</th>
                      <th>
                        Preguntas
                      </th>
                    </tr>
                  </thead>

                  <tbody>

                    <% n_pe_evaluated = 0 %>

                    <% @pe_process.evaluated_members_ordered.each_with_index do |pe_member| %>

                      <% n_q = @pe_evaluation.pe_questions.where('pe_member_evaluated_id = ?', pe_member.id).count %>

                      <% n_pe_evaluated +=1 %>

                      <tr>
                        <td><%= n_pe_evaluated %></td>
                        <% unless @pe_process.of_persons? %>
                          <td><%= pe_member.pe_area.name if pe_member.pe_area %></td>
                        <% end %>
                        <td><%= pe_member.user.codigo %></td>
                        <td><%= pe_member.user.apellidos %></td>
                        <td><%= pe_member.user.nombre %></td>
                        <td>
                          <%= n_q %>
                        </td>
                        <td style="color: red;">
                          <%# pe_member.pe_member_rels_is_evaluated.each do |pe_member_rel_is_evaluated|%>

                            <%# if @pe_evaluation.has_pe_evaluation_rel pe_member_rel_is_evaluated.pe_rel %>

                              <%# n_q_n = @pe_evaluation.pe_questions.where('pe_member_evaluated_id = ? and pe_member_evaluator_id = ?', pe_member.id, pe_member_rel_is_evaluated.pe_member_evaluator.id).count %>

                              <%# if n_q_n == 0 %>
                                - <%#= pe_member_rel_is_evaluated.pe_member_evaluator.user.apellidos %>, <%#= pe_member_rel_is_evaluated.pe_member_evaluator.user.nombre %>
                               <%#= '('+pe_member_rel_is_evaluated.pe_member_evaluator.pe_area.name+')' if pe_member_rel_is_evaluated.pe_member_evaluator.pe_area %>

                              <%# end %>

                            <%# end %>

                          <%# end %>
                        </td>
                        <td>
                          <%= link_to 'Definir', pe_questions_show_pe_member_path(@pe_evaluation, pe_member) %>
                        </td>
                      </tr>

                    <% end %>

                  </tbody>

                </table>

              </div>

            <% end %>


          </div>

        </div>


          <div class="panel-footer clearfix">
            <div class="pull-right">


              Descargar excel para carga masiva de preguntas:

              <%= link_to 'Para Evaluadores -> Evaluados', pe_evaluation_download_xls_for_questions_update_pe_members_path(@pe_evaluation) %>

              &nbsp;&nbsp;&nbsp;

              <%= link_to 'Para Evaluados', pe_evaluation_download_xls_for_questions_update_pe_member_path(@pe_evaluation) %>

              &nbsp;&nbsp;&nbsp;

              <%= link_to 'Para grupos y/o relaciones', pe_evaluation_download_xls_for_questions_update_pe_groups_path(@pe_evaluation) %>


<!--
              <% if @pe_evaluation.pe_groups.size > 0 %>

                &nbsp;&nbsp;&nbsp;

                <%= link_to 'Por grupos', pe_evaluation_download_xls_for_questions_update_pe_groups_path(@pe_evaluation) %>

              <% end %>
-->


              &nbsp;&nbsp;&nbsp;
              |
              &nbsp;&nbsp;&nbsp;
              <%= link_to 'Cargar preguntas', pe_evaluation_massive_update_form_path(@pe_evaluation) %>
              &nbsp;&nbsp;&nbsp;
              |
              &nbsp;&nbsp;&nbsp;
              <%= link_to 'Finalizar definition', pe_evaluation_massive_update_finish_definition_form_path(@pe_evaluation) %>

            </div>
          </div>

      </div>
    </div>
  </div>



<% end %>


<script>

  $(function () {
    $('[data-toggle="popover"]').popover();
  });

</script>