

<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver'.html_safe, informative_documents_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-newspaper-o"></i>
      Documentos informativos
      <span>> Subir archivos </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">


    <% if @docs_error && @docs_error.length > 0 %>

      <table class="table table-striped table-hover table-condensed table-bordered">

        <thead>
        <tr>
          <th>Archivo</th>
          <th>Errores</th>

        </tr>
        </thead>

        <tbody>

        <% @docs_error.each_with_index do |f,index| %>

          <tr>
            <td><%= f %></td>
            <td>

              <li class="text-danger"><%= @docs_error_messages[index] %></li>

            </td>
          </tr>

        <% end %>

        </tbody>

      </table>



    <% end %>

    <% if @total_docs_cargadas %>

      <div class="alert alert-success">Se han cargado <%= @total_docs_cargadas %> documentos </div>

    <% end %>


    <%= form_for InformativeDocument.new, url: informative_documents_update_files_path(@informative_document), html: {class: 'form-horizontal', multipart: true, method: :post} do |f| %>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos del documento</legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong><%= t('activerecord.attributes.informative_document.position') %></strong>
          </div>
          <div class="col-md-9">
            <%= @informative_document.position %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong><%= t('activerecord.attributes.informative_document.name') %></strong>
          </div>
          <div class="col-md-9">
            <%= @informative_document.name %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong><%= t('activerecord.attributes.informative_document.description') %></strong>
          </div>
          <div class="col-md-9">
            <%= @informative_document.description %>
          </div>
        </div>
        <br>
        <legend>Permisos de lectura</legend>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong><%= t('activerecord.attributes.informative_document.employee_access') %></strong>
          </div>
          <div class="col-md-9">
            <%= label_yes_not @informative_document.employee_access %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong><%= t('activerecord.attributes.informative_document.boss_access') %></strong>
          </div>
          <div class="col-md-9">
            <%= label_yes_not @informative_document.boss_access %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong><%= t('activerecord.attributes.informative_document.superior_access') %></strong>
          </div>
          <div class="col-md-9">
            <%= label_yes_not @informative_document.superior_access %>
          </div>
        </div>
        <br>
        <div class="form-group">

          <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

          <div class="col-md-9">

            <%= file_field 'upload', 'datafile', class: 'form-control' %>
            <br>
            <em>El formato del archivo debe ser zip</em>

          </div>

        </div>

      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Subir', class: 'btn btn-primary' %>
        </div>
      </div>

    </div>

    <% end %>

  </div>
</div>


