<div class="row">
  <div class="col-md-3">
    <% if @informative_document.inf_doc_folder %>
      <%= link_to '<i class="fa fa-arrow-left"></i> Volver'.html_safe, informative_documents_by_folder_path(@informative_document.inf_doc_folder), class: 'btn btn-default', tabindex: '-1' %>
    <% else %>
      <%= link_to '<i class="fa fa-arrow-left"></i> Volver'.html_safe, informative_documents_path, class: 'btn btn-default', tabindex: '-1' %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-newspaper-o"></i>
      Documentos informativos
      <span>> Crear un nuevo documento </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>