<p id="notice"><%= notice %></p>

<p>
  <b>Position:</b>
  <%= @informative_document.position %>
</p>

<p>
  <b>Name:</b>
  <%= @informative_document.name %>
</p>

<p>
  <b>Description:</b>
  <%= @informative_document.description %>
</p>


<%= link_to 'Edit', edit_informative_document_path(@informative_document) %> |
<%= link_to 'Back', informative_documents_path %>
