
<% letras = 'abcdefghijklmnopqrstuvwxyz' %>

<script>
  var total_num_dont_validate_checks = 0;
</script>

<%= form_tag pe_definition_by_user_validate_validate_path(pe_evaluation, @pe_member_evaluated, @step_number, @before_accept ? 1 : 0), method: :post, id: 'form_pe_validate' do |f| %>

<div class="panel panel-default">
  <div class="panel-body">

    <legend>

      <%= pe_evaluation.alias_step(@step_number.to_i, @before_accept) %>

    </legend>

    <%= step_label.html_safe %>
    <br>
    <br>


    <% pe_element_1st = pe_evaluation.pe_elements.first %>
    <% pe_element_2nd = pe_evaluation.pe_elements.second %>

    <table class="table table-bordered table-hover">

      <% num_1st_level = 1 %>

      <% pe_evaluation.pe_questions_only_by_pe_member_1st_level(@pe_member_evaluated).each_with_index do |pe_question_1st_level| %>

        <thead>

          <tr>
            <th style="background-color: #dddddd;" width="1%">
              <%= num_1st_level %>
            </th>
            <th style="background-color: #dddddd;">


              <% if pe_element_1st.display_name %>
                <%= pe_question_1st_level.pe_element.name %>.
              <% end %>

              <%= pe_question_1st_level.description.html_safe %>

            </th>

            <th style="background-color: #dddddd;" width="10%" id="weight_1st_level_<%= pe_question_1st_level.id %>">
              <% if pe_element_1st.assessed %>
                <%= number_with_precision(pe_question_1st_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
              <% end %>
            </th>
            <th style="background-color: #dddddd;"></th>
            <th style="background-color: #dddddd;"  width="15%">
            </th>
            <th style="background-color: #dddddd;"  width="1%">
            </th>
          </tr>

          <tr>
            <th></th>
            <th><%= pe_evaluation.pe_elements.last.name %></th>
            <th>Peso</th>
            <th>Meta</th>
            <th>Unidad</th>
            <th width="30%">¿Aceptar?</th>
          </tr>

        </thead>

        <tbody>

          <% num_2nd_level = 1 %>
          <% sum_pesos_elementos_2nd_level_tmp = 0 %>
          <% pe_evaluation.pe_questions_by_question(pe_question_1st_level).each do |pe_question_2nd_level| %>
            <% sum_pesos_elementos_2nd_level_tmp += pe_question_2nd_level.weight %>
            <tr>
              <td>
                <%= num_1st_level %>.<%= num_2nd_level %>
              </td>
              <td>

                <% if pe_question_2nd_level.kpi_indicator %>
                  <span class="label label-success">KPI</span>&nbsp;
                <% end %>

                <% if pe_question_2nd_level.pe_element.display_name %>
                  <%= pe_question_2nd_level.pe_element.name %>.
                <% end %>

                <% if pe_question_2nd_level.pe_element.kpi_dashboard && pe_question_2nd_level.kpi_indicator %>

                  <%= pe_question_2nd_level.kpi_indicator.name %>

                <% else %>

                  <%= pe_question_2nd_level.description.html_safe %>

                <% end %>

                <% if pe_question_2nd_level.pe_element.allow_note && !pe_question_2nd_level.note.blank? %>

                  <%= render partial: 'pe_processes/pe_question_note',
                             locals: {
                                 pe_question: pe_question_2nd_level
                             }
                  %>

                <% end %>

              </td>
              <td>
                <%= number_with_precision(pe_question_2nd_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
              </td>
              <td>

                <%= render partial: 'pe_processes/indicator_goal_temp',
                           locals: {
                               pe_question: pe_question_2nd_level
                           }
                %>

              </td>

              <td>
                <% if pe_question_2nd_level.pe_element.kpi_dashboard && pe_question_2nd_level.kpi_indicator %>
                  <%= pe_question_2nd_level.kpi_indicator.unit %>
                <% else %>
                  <%= pe_question_2nd_level.indicator_unit %>
                <% end %>
              </td>

              <td>

                <% pe_question_validation = pe_question_2nd_level.pe_question_validation(@step_number, @before_accept) %>

                <input type="hidden" name="validate_pe_question_<%= pe_question_2nd_level.id %>" value="0">
                <input <%= 'disabled="disabled"'.html_safe unless status_validate == 'ready' %> class="checkbox_dont_validate" onchange="comment_dont_validate_<%= pe_question_2nd_level.id %>();" type="checkbox" name="validate_pe_question_<%= pe_question_2nd_level.id %>" id="validate_pe_question_<%= pe_question_2nd_level.id %>" value="1" <%= 'checked' if (pe_question_validation && pe_question_validation.validated) || pe_question_validation.nil? %>>

                <script>

                  $('#validate_pe_question_<%= pe_question_2nd_level.id %>').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No",
                    size: "small",
                    disabled: <%= @val_def_by_manager && pe_question_2nd_level.entered_by_manager %>
                  });

                </script>

                <div id="comment_dont_validate_<%= pe_question_2nd_level.id %>_container">

                  <br>
                  <strong>Comentario de <%= pe_evaluation.alias_step_responsible(@step_number, @before_accept).downcase %></strong>
                  <textarea name="validate_pe_question_<%= pe_question_2nd_level.id %>_comment" class="form-control" rows="4"><%= pe_question_validation.comment if pe_question_validation %></textarea>

                  <% if pe_question_validation %>

                    <% pe_question_2nd_level.pe_question_validations_ordered.each do |pqv| %>

                      <% if pe_question_validation.id != pqv.id && !pqv.validated %>
                        <br>
                        <div class="well">
                          <strong>Comentario de <%= pe_evaluation.alias_step_responsible(pqv.step_number, pqv.before_accept) %>:</strong><br>
                          <%= pqv.comment %>
                        </div>

                      <% end %>

                    <% end %>

                  <% end %>

                </div>

                <script>

                  total_num_dont_validate_checks += 1;

                  function comment_dont_validate_<%= pe_question_2nd_level.id %>(){

                    if($('#validate_pe_question_<%= pe_question_2nd_level.id %>').is(":checked")){
                      $('#comment_dont_validate_<%= pe_question_2nd_level.id %>_container').hide();
                    }else{
                      $('#comment_dont_validate_<%= pe_question_2nd_level.id %>_container').show();
                    }

                    if(total_num_dont_validate_checks == $('.checkbox_dont_validate:checked').length) {
                      $('#button_finish_validation').prop('value', 'Aceptar');
                      $('#message_finish_validation').html('Confirmo que acepto la definición');
                    }else{
                      $('#button_finish_validation').prop('value', 'Rechazar');
                      $('#message_finish_validation').html('Confirmo que rechazo la definición');
                    }

                  }

                  $(document).ready(function() {
                    comment_dont_validate_<%= pe_question_2nd_level.id %>();
                  });


                </script>


              </td>

            </tr>

            <% num_2nd_level += 1 %>
          <% end %>

          <% unless pe_element_1st.assessed %>

            <% if pe_element_1st.display_weight %>

              <% suma_temp = number_with_precision(sum_pesos_elementos_2nd_level_tmp, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>

              <script>
                $( document ).ready(function() {
                  $('#weight_1st_level_<%= pe_question_1st_level.id %>').append('<%= suma_temp %>%');
                });
              </script>

            <% end %>

          <% end %>

        </tbody>


        <% num_1st_level += 1 %>

      <% end %>

    </table>

  </div>

  <div class="panel-footer clearfix">

    <div class="row">

        <div class="col-md-10 text-right">
          <nobr>
            <label>

              <input type="checkbox" onchange="set_send(this)" class="b_ie">

              <%= @before_accept ? pe_evaluation.definition_by_user_validate_before_message : pe_evaluation.definition_by_user_validate_after_message %>

            </label>
          </nobr>
        </div>
        <div class="col-md-2 text-right">

          <%= submit_tag 'Validar', class: 'btn disabled', id: 'button_finish_validation', disabled: 'disabled'  %>
          <a id= 'suggestion_make_check' data-toggle= 'tooltip' title= 'Para habilitar el botón Validar debe indicar que confirma que ha realizado la validación'>
            <i class="fa fa-question"></i>
          </a>

        </div>

    </div>

    <script>
      function set_send(c){

        if(c.checked){
          $('#button_finish_validation').removeClass('disabled');
          $('#button_finish_validation').addClass('btn-success');

          $('#button_finish_validation').removeAttr('disabled');
        }else{
          $('#button_finish_validation').removeClass('btn-success');
          $('#button_finish_validation').addClass('disabled');

          $('#button_finish_validation').attr("disabled", "disabled");
        }

      }
      $('#suggestion_make_check').tooltip({
        placement: 'top'
      });

      <% if $browser_ie8 %>

      $(function() {
        $('.b_ie').click(function() {
          this.blur();
          this.focus();
        });
      });

      <% end %>


    </script>

  </div>


</div>

<% end %>



