

<% status_validate = @pe_evaluation.pe_member_status_to_be_validated(@pe_member_evaluated, @step_number.to_i, @before_accept) %>

<% status_general, step_label, step_label_smart_table = @pe_evaluation.pe_member_definition_by_users_status @pe_member_evaluated %>

<% if @before_accept %>

  <% @val_def_by_manager = !@pe_evaluation.def_by_users_validated_before_accepted_manager %>

<% else %>

  <% @val_def_by_manager = !@pe_evaluation.def_by_users_validated_after_accepted_manager %>

<% end %>

<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver al cuadro resumen'.html_safe, pe_def_by_user_people_list_path(@pe_evaluation), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">

    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Validar <%= @pe_evaluation.name.downcase %>
    </h1>

  </div>

</div>

<div class="row">


    <% if @pe_process.of_persons? %>

      <div class="col-md-5 col-md-offset-1">

        <%= render partial: 'shared/user_profile_mini',
                   locals: {
                       user: @pe_member_evaluated.user,
                       company: @company,
                       ocultar_historial: true,
                       titulo: 'Perfil del Evaluado',
                       is_boss: false

                   }
        %>

      </div>

      <div class="col-md-5">

        <% @pe_evaluation.pe_creators_of_pe_member_questions(@pe_member_evaluated).each do |creator| %>

          <%= render partial: 'shared/user_profile_mini',
                     locals: {
                         user: creator,
                         company: @company,
                         ocultar_historial: true,
                         titulo: 'Definición realizada por',
                         is_boss: false

                     }
          %>
          <% break %>

        <% end %>



      </div>

    <% else %>

      <div class="col-md-6 col-md-offset-3">

        <div class="panel panel-default">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12">
              <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-cubes"></i>
                Área evaluada
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member_evaluated.pe_area.name %></span></h3>
            </div>
          </div>

          <br>

          <div class="row">

            <div class="col-md-3 text-center">

              <% if @pe_member_evaluated.user.foto %>
                <img src="https://<%=request.host%>/storage/<%=company_codigo%>/fotos_usuarios/<%=@pe_member_evaluated.user.foto%>" class="img-thumbnail user-foto">
              <% else %>
                <img src="/assets/default_user.png" class="img-thumbnail user-foto">

              <% end %>

            </div>
            <div class="col-md-9">

              <div class="row">
                <div class="col-md-12">
                  <h3 class="ultra-light margin-zero"><span class="semi-bold"><%= @pe_member_evaluated.user.nombre %> <%= @pe_member_evaluated.user.apellidos %></span></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 ">
                  <a><em><%= @pe_member_evaluated.user.email %></em></a>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

      </div>

    <% end %>

</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <% unless status_validate == 'ready' %>

    <% end %>

    <% if @pe_evaluation.assessment_layout == 0 %>

      <!-- estandar -->

      <% if @pe_evaluation.pe_elements.size == 1 %>


      <% elsif @pe_evaluation.pe_elements.size == 2 %>


      <% end %>

    <% elsif @pe_evaluation.assessment_layout == 1 %>

      <!-- objetivos_e_indicadores -->

      <% if @pe_evaluation.pe_elements.size == 3 %>

        <!-- pilar obj ind -->

          <%= render partial: 'pe_definition_by_user_validate/validate_pilar_goal_ind',
                     locals: {
                         pe_evaluation: @pe_evaluation,
                         status_validate: status_validate,
                         step_label: step_label
                     }
          %>

      <% elsif @pe_evaluation.pe_elements.size == 2 %>

        <!-- obj ind -->

        <%= render partial: 'pe_definition_by_user_validate/validate_goal_ind',
                   locals: {
                       pe_evaluation: @pe_evaluation,
                       status_validate: status_validate,
                       step_label: step_label
                   }
        %>

      <% elsif @pe_evaluation.pe_elements.size == 1 %>

        <!-- obj ind -->

        <%= render partial: 'pe_definition_by_user_validate/validate_ind',
                   locals: {
                       pe_evaluation: @pe_evaluation,
                       status_validate: status_validate,
                       step_label: step_label
                   }
        %>

      <% end %>

    <% elsif @pe_evaluation.assessment_layout == 2 %>

      <!-- grid_1_elemento -->

      <% if @pe_evaluation.pe_elements.size == 1 %>

      <% end %>

    <% elsif @pe_evaluation.assessment_layout == 3 %>

      <!-- grid_2_elementos -->

      <% if @pe_evaluation.pe_elements.size == 2 %>



      <% end %>

    <% end %>


  </div>
</div>

<% unless status_validate == 'ready' %>

  <script>

    $('#form_pe_validate :input').attr("disabled", true);
    $('#form_pe_validate :checkbox').attr("disabled", true);

  </script>

<% end %>
