
<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver al cuadro resumen'.html_safe, pe_def_by_user_people_list_path(@pe_evaluation), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">

    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Validar <%= @pe_evaluation.name.downcase %>
    </h1>

  </div>

</div>



<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_for @pe_question_validation, url: pe_definition_by_user_validate_with_excel_path(@pe_evaluation.id, @pe_question_validation.step_number, @pe_question_validation.before_accept ? 1 : 0), html: {class: 'form-horizontal', multipart: true, method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Validar <%= @pe_evaluation.name.downcase %> </legend>

          <div class="form-group">

            <%= f.label :file, 'Archivo', class: 'col-md-3 control-label'%>

            <div class="col-md-9">

              <%= file_field 'upload', 'datafile', class: 'form-control' %>

            </div>

          </div>

        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Validar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>
