<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row">
          <div class="col-md-12">
            <h3 class="dashboard-box-title-<%= $current_domain %> ultra-light"><i class="fa fa-user"></i> Editar foto
            </h3>
          </div>
        </div>


        <div class="row">

          <div class="col-md-3 text-center">

            <% if @user.foto %>
                <img src="https://<%= request.host %>/storage/<%= company_codigo %>/fotos_usuarios/<%= @user.foto %>" class="img-rounded user-foto">
            <% else %>
                <img src="/assets/default_user.png" class="img-rounded user-foto">
            <% end %>

          </div>
          <div class="col-md-9">

            <div class="row">
              <div class="col-md-12">
                <h3 class="ultra-light margin-zero">
                  <span class="semi-bold"><%= @user.nombre %> <%= @user.apellidos %></span></h3>
              </div>
            </div>
            <% if @company.display_code_in_user_profile %>

                <div class="row">
                  <div class="col-md-12 ">
                    <em data-toggle="tooltip" data-placement="right" title="<%= alias_username %>"><%= @user.codigo %></em>
                  </div>
                </div>

            <% end %>
            <div class="row">
              <div class="col-md-12 ">
                <a><em><%= @user.email %></em></a>
              </div>
            </div>

            <% first_owned_node = @user.owned_nodes.first %>

            <% if first_owned_node && !first_owned_node.nombre.blank? %>

                <div class="row">
                  <div class="col-md-12">

                    <%= first_owned_node.nombre %>

                  </div>
                </div>

            <% elsif ct_module_jobs? %>

                <div class="row">
                  <div class="col-md-12 ">

                    <%= @user.j_job.name if @user.j_job %>

                  </div>
                </div>

            <% end %>

            <% Characteristic.where('mini_ficha = ?', true).reorder('orden_mini_ficha').each do |characteristic| %>

                <% uc = @user.user_characteristics.find_by_characteristic_id(characteristic.id) %>
                <% if uc %>

                    <div class="row">
                      <div class="col-md-12 ">

                        <%= uc.value %>

                      </div>
                    </div>

                <% end %>

            <% end %>

          </div>

        </div>

        <hr>
        <%= form_for @user, url: user_profile_upload_photo_path, html: {class: 'form-horizontal', multipart: true}, method: :post do |f| %>

            <%= render 'shared/error_messages', object: f.object %>

            <div class="form-group">

              <%= f.label :file, 'Foto', class: 'col-md-3 control-label' %>

              <div class="col-md-9">


                <div class="fileupload fileupload-new" data-provides="fileupload">
                  <div class="fileupload-new thumbnail" style="width: 100px; height: 100px;">

                    <% if @user.foto %>
                        <img src="<%= request.base_url %>/storage/<%= @company.codigo %>/fotos_usuarios/<%= @user.foto %>">
                    <% else %>
                        <img src="/assets/default_user.png">
                    <% end %>

                  </div>

                  <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 100px; max-height: 100px; line-height: 20px;"></div>
                  <div>
                <span class="btn btn-file btn btn-primary">
                  <span class="fileupload-new">Seleccionar imagen</span>
                  <span class="fileupload-exists">Cambiar imagen</span>
                  <%= file_field 'upload', 'datafile' %>
                </span>

                  </div>
                </div>

                <br>
                <i>
                  Características de la foto:<br>
                  <li>Debe tener un tamaño máximo de 70 kb
                  <li>Debe estar en formato jpg o jpeg
                </i>

              </div>

            </div>
            </div>

            <!--<div class="form-group">-->
              <div class="panel-footer clearfix">
                <div class="pull-right">
                  <%= f.submit 'Guardar', class: 'btn btn-primary' %>
                </div>
              </div>
            <!--</div>-->
            </div>

        <% end %>
        </div>
</div>
