
<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a mi ficha de usuario'.html_safe, show_user_profile_path, class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
    </h1>
  </div>

</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render partial: 'shared/user_profile_mini',
               locals: {
                   user: @pe_member.user,
                   company: @company,
                   ocultar_historial: true,
                   titulo: 'Perfil del Evaluado',
                   is_boss: false

               }
    %>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <% if @pe_process.display_user_profile_show_rep_dfr_pdf %>



      <div class="row">
        <div class="col-md-2 col-md-offset-10">
          <div class="panel panel-default">
            <div class="panel-body text-center">

              <%= link_to 'Descargar PDF', user_profile_pe_rep_detailed_final_results_pdf_path(@pe_process) %>

            </div>
          </div>
        </div>
      </div>

    <% end %>




    <%= render partial: 'pe_reporting/rep_detailed_final_results_person_common',
               locals: {
                   show_feedback: @pe_process.rep_detailed_final_results_show_feedback_for_user_profile,
                   show_calibration: @pe_process.rep_detailed_final_results_show_calibration_for_user_profile,
                   show_pe_member_box: (@pe_process.public_pe_box && @pe_process.public_pe_members_box),
                   show_pe_member_dimension_name: (@pe_process.public_pe_dimension_name && @pe_process.public_pe_members_dimension_name),
                   show_comments: false
               }
    %>

  </div>
</div>

