


<%= form_for @training_provider, html: {class: 'form-horizontal'} do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Datos del proveedor</legend>

      <%= render 'shared/error_messages', object: f.object %>


      <div class="form-group <%= field_with_errors f, :nombre %>">

        <%= f.label :nombre, 'Nombre', class: 'col-md-3 control-label' %>

        <div class="col-md-9">

          <% ds = @training_providers.map { |tp| tp.nombre } %>

          <%= f.text_field :nombre, ('data-source'.to_sym)=>ds.to_s, ('data-provide'.to_sym)=>'typeahead', class: 'form-control'  %>

        </div>

      </div>


    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>



