<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de proveedores'.html_safe, training_providers_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">

      Proveedores
      <span>> Eliminar proveedor </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @training_provider, html: { method: :delete } do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Datos del proveedor</legend>


          <dl class="dl-horizontal">




            <dt>Nombre</dt>
            <dd><%= @training_provider.nombre %>&nbsp;</dd>



          </dl>

        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Eliminar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    <% end %>


  </div>
</div>
