<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> Volver a la lista').html_safe, liq_processes_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%=	icon_elec_module_html_safe %>
      Proceso de carga de liquidaciones
      <span>> Crear nuevo proceso </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <%= render 'form' %>

  </div>
</div>
