<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> Volver').html_safe, @liq_process, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <%=	icon_elec_module_html_safe %>
      Proceso de carga de liquidaciones
      <span>> Detalle del proceso </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Datos del Proceso
        </legend>
        <div class="row">
          <div class="col-md-3">
            <strong><%= t('activerecord.attributes.liq_process.month') %></strong>
          </div>
          <div class="col-md-9">
            <%= LiqProcess.months_alternative_array[@liq_process.month] %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <strong><%= t('activerecord.attributes.liq_process.year') %></strong>
          </div>
          <div class="col-md-9">
            <%= @liq_process.year %>
          </div>
        </div>
      </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= link_to 'Eliminar', @liq_process, :method => :delete, class: 'btn btn-danger', :confirm => '¿Está seguro? Los registros del proceso se eliminarán definitivamente.' if true %>
            &nbsp;&nbsp;
            <%= link_to 'Editar', edit_liq_process_path(@liq_process) if @liq_process.is_editable? %>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          Items de liquidaciones
        </legend>
        <br>
        <table class="table table-bordered">
          <thead>
          <tr>
            <td><%= alias_username + ' ' + alias_user %></td>
            <td><%= alias_user %></td>
            <td>COHADE</td>
            <td>Descripción</td>
            <td>Monto</td>
            <td>Monto O.</td>
            <td>Cod Emp.</td>
            <td>Cod CenCos</td>
          </tr>
          </thead>
          <tbody>
          <% @liq_process.liq_items.each do |item| %>
            <tr>
              <td><%= item.user.codigo %></td>
              <td><%= item.user.comma_full_name %></td>
              <td><%= item.secu_cohade.name %></td>
              <td><%= item.description %></td>
              <td><%= item.monto %></td>
              <td><%= item.monto_o %></td>
              <td><%= item.cod_empresa_payroll %></td>
              <td><%= item.cod_cecos %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>