<div class="row">
  <div class="col-sm-3 text-center">

    <% if user.foto %>
        <img src="<%= request.base_url %>/storage/<%= @company.codigo %>/fotos_usuarios/<%= user.foto %>" class="img-rounded user-foto">
    <% else %>
        <img src="/assets/default_user.png" class="img-rounded user-foto">
    <% end %>

  </div>
  <div class="col-sm-7">

    <div class="row">
      <div class="col-md-12">
        <h4 class="ultra-light margin-zero">
          <span class="semi-bold"><%= user.nombre %> <%= user.apellidos %></span>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 ">
        <a><em><%= user.email %></em></a>
      </div>
    </div>


    <% Characteristic.where('mini_ficha = ?', true).reorder('orden_mini_ficha').each do |characteristic| %>

        <% uc = user.user_characteristics.find_by_characteristic_id(characteristic.id) %>
        <% if uc %>

            <div class="row">
              <div class="col-md-12 ">

                <%= uc.valor %>

              </div>
            </div>

        <% end %>

    <% end %>


  </div>

  <% #uc_img = user_connected.user_characteristics.where('characteristic_id = 20').first if $current_domain == 'primaprende' %>
  <% #uc_img = user_connected.user_characteristics.where('characteristic_id = 15').first if $current_domain == 'prima-training' %>
  <% uc_img = user_connected.user_characteristics.where('characteristic_id = 7').first if $current_domain == 'ngr-training' %>


  <% if uc_img %>

      <div class="col-md-2 text-right">

        <img src="<%= request.base_url %>/storage/<%= company_codigo %>/stored_images/<%= uc_img.formatted_value %>" class="" width="100%">

      </div>

  <% end %>


</div>



