<div><%= @elec_process_category.description.html_safe %></div>
<div class="row">
  <div class="col-sm-7">
    <div class="panel panel-default">
      <% if elec_can_user_vote_in_category?(@elec_round, @elec_process_category) %>
        <div class="panel-body">
          <legend><%= t('views.elec_round_exec.show_detail_category.to_vote') %></legend>
          <%#= form_tag sel_processes_enroll_candidate_path(@sel_process.id, @jm_candidate.id), {method: :post, class: 'form-horizontal', multipart: true} do |f| %>
          <%= form_tag elec_round_exec_vote_path(@elec_round.id, @elec_process_category.id), {method: :post, class: 'form-horizontal', multipart: true} do |f| %>
            <% if !@elec_round.elec_process_round.list_like_minificha? %>
              <%= select_tag(:candidate_user_id, options_for_select(@eligible_users), {prompt: t('views.elec_round_exec.show_detail_category.prompt_select_candidate'), class: 'form-control select2', onchange: 'load_user_mini_file(this)', :data => {:cat_id => @elec_process_category.id, :url => elec_round_exec_load_user_mini_file_path}}) %>
              <br>
              <br>
              <div id="user_selected_category_container_<%= @elec_process_category.id %>" style="display: none">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="panel-body text-center">
                      <i class="fa fa-refresh fa-spin"></i> <%= t('views.elec_round_exec.shared.loading') %>
                    </div>
                  </div>
                </div>
              </div>
              <% if @elec_process_category.ask_for_comment? %>
                <br>
                <%= text_area_tag 'comment', '', class: 'form-control wysihtml5', :rows => 3, :placeholder => t('views.elec_round_exec.show_detail_category.placeholder_comment') %>
              <% end %>
              <br>
              <div class="pull-right">
                <%= submit_tag t('views.elec_round_exec.show_detail_category.submit_button'), class: 'btn btn-primary', :disabled => true, :data => {:cat_id => @elec_process_category.id} , :confirm => '¿Está seguro?' %>
              </div>
            <% else %>
              <%= hidden_field_tag :candidate_user_id %>
              <% @eligible_users_obj.each do |user| %>
                <div class="panel panel-default">
                  <div class="user_candidate_container panel-body">
                    <%= render :partial => 'elec_round_exec/user_mini_file', :locals => {:user => user} %>
                    <% if @elec_process_category.ask_for_comment? %>
                      <br>
                      <%= text_area_tag 'comment', '', class: 'form-control wysihtml5 comment_listed_like_minificha', :rows => 3, :placeholder => t('views.elec_round_exec.show_detail_category.placeholder_comment') %>
                    <% end %>
                    <br>
                    <div class="clearfix pull-right">
                      <%= link_to t('views.elec_round_exec.show_detail_category.submit_button'), '#', class: 'btn btn-primary vote_button', :data => {:cat_id => @elec_process_category.id, :user_id => user.id}, onclick: 'submit_vote_listed_like_minificha(this);' %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <hr>
      <% end %>

      <div class="panel-body">

        <legend><%= t('views.elec_round_exec.show_detail_category.emited_votes') %>:</legend>
        <br>

        <% if @elec_votes_recorded.each do |vote| %>

          <%= render :partial => 'elec_round_exec/user_mini_file', :locals => {:user => vote.candidate_user} %>

          <% if !vote.comment.blank? %><br>
            <%= t('activerecord.attributes.elec_vote.comment') %>:
            <%= vote.comment.html_safe if !vote.comment.blank? %>
          <% end %>
          <hr>
        <% end.empty? %>
          <%= t('views.elec_round_exec.show_detail_category.no_votes_message') %>
        <% end %>
      </div>

    </div>
  </div>
  <div class="col-sm-5">
    <% if (!@elec_round.done? && @elec_round.elec_process_round.show_live_results?) || (@elec_round.done? && @elec_round.elec_process_round.show_final_results?) %>
      <% users_list = ElecRound.users_list_voted_by_category(@elec_round, @elec_process_category, user_connected).take(@elec_round.elec_process_round.qty_required) %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render :partial => 'elec_round_exec/ranking_in_category', :locals => {:users_list => users_list} %>
        </div>
      </div>
    <% end %>
  </div>

</div>

<script>
    $(function () {
        var minimumInputLength = 0
        var options_length = $('.select2> option').length
        switch (true) {
            case options_length < 30 :
                minimumInputLength = 0
                break;
            case options_length < 1000:
                minimumInputLength = 2
                break;
            default:
                minimumInputLength = 4
        }
        $('.select2').select2({
            minimumInputLength: minimumInputLength,
            formatInputTooShort: function () {
                return "Se deben ingresar al menos " + minimumInputLength + " caracteres";
            }
        })
        $('.select2').removeClass('select2')
    })

    $('.wysihtml5').wysihtml5({
        "font-styles": false,
        "emphasis": true,
        "lists": true,
        "html": false,
        "link": false,
        "image": false,
        "color": false
    });

    $('.wysihtml5').removeClass('wysihtml5');

    $(document).ready(function () {
        $(".wysihtml5-sandbox").css("resize", "vertical");
    });

    function submit_vote_listed_like_minificha(link) {
        $('.vote_button').attr('disabled', true);
        var response = confirm("¿Está seguro?");
        if ( response == true )
        {
            $('#candidate_user_id').val($(link).data('user-id'))
            $('.user_candidate_container').find(':input').attr('disabled', true)
            $(link).closest('.user_candidate_container').find(':input').attr('disabled', false)
            $('form').submit();
        }else{
            $('.vote_button').attr('disabled', false);
        }
    }
</script>



