<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">

        <legend><%= @elec_round.process_name_with_round_name %> - <%= @elec_round.elec_event.name %></legend>
      </div>
    </div>
    <% unless @elec_round.elec_process_round.elec_process.description.blank? %>
    <div class="row">
      <div class="col-md-12">
        <%= @elec_round.elec_process_round.elec_process.description.html_safe %>
      </div>
    </div>
      <br>
      <% end %>
    <div class="row">
      <div class="col-md-12">

        <div class="text-center">
          <ul id='tabs' class="nav nav-pills nav-justified nav-pills-<%= $current_domain %>" style="display: inline-block;">

            <% @elec_round.elec_process_round.elec_process.elec_process_categories.each do |category| %>

                <li data-url="<%= elec_round_exec_show_detail_category_path(@elec_round, category) %>">
                  <a data-toggle="pill" href="#category_detail_<%= category.id %>" onclick="load_pill(this)"><%= category.name %></a>
                </li>

            <% end %>

          </ul>
        </div>
      </div>
    </div>
    <br>
    <div class="row">

      <div class="tab-content">

        <% @elec_round.elec_process_round.elec_process.elec_process_categories.each do |category| %>
            <div id="category_detail_<%= category.id %>" class="col-md-12 tab-pane <%= if (@elec_process_category && @elec_process_category.id == category.id)
                                                                                         'active'
                                                                                       else
                                                                                         'fade'
                                                                                       end %>">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="panel-body text-center">
                    <i class="fa fa-refresh fa-spin"></i> Cargando
                  </div>
                </div>
              </div>
            </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<script>
  function load_pill(link) {
    $(function () {
      var url = $(link).parent().data("url")
      //var id = $(link).parent().data("id")
      var id = $(link).attr('href')
      //alert(url)
      call_ajax_load_pill(url, id)
    });
  }

  function call_ajax_load_pill(url, id) {
    $.ajax({
      url: url,
      data: {toggle: "tab"},
      cache: true,
      type: "post",
      dataType: "html",
      success: function (result) {
        $(id).html(result);
        $('#tabs > li.active > a').attr('onclick', null);
      }
    })
  }

  <% if @elec_process_category %>
  $(document).ready(function () {
    var link = $('[href=#category_detail_<%= @elec_process_category.id %>]')
    var li = link.parent()
    var url = li.data("url")
    var id = link.attr('href')
    li.prop('class', 'active')
    call_ajax_load_pill(url, id)
  })
  <% end %>


/*  $('.form-horizontal').on('submit', function (e) {
    window.opener.location.reolad()
  });*/

  function load_user_mini_file(select_tag) {
    var user_id = $(select_tag).find(':selected').val()
    var cat_id = $(select_tag).data('cat-id')
    var url = $(select_tag).data('url')

    if (user_id > 0) {
      $('#user_selected_category_container_' + cat_id).show();
      $(':submit[data-cat-id=' + cat_id + ']').prop('disabled', false);
    }else{
      $('#user_selected_category_container_' + cat_id).hide();
      $(':submit[data-cat-id=' + cat_id + ']').prop('disabled', true);
    }

    $.ajax({
      url: url,
      data: {user_id: user_id},
      cache: true,
      type: "post",
      dataType: "html",
      success: function (result) {
        $('#user_selected_category_container_' + cat_id).html(result);
        //$('#tabs > li.active > a').attr('onclick', null);
      }
    });


  }

</script>