<div class="panel panel-default">
  <div class="panel-body">
    <h3><%= @elec_round.process_name_with_round_name %> - <%= @elec_round.elec_event.name %></h3>
    <h4>
      <%= @elec_process_category.name %>
       <i class="fa fa-star" aria-hidden="true" style="color: gold"></i>
      <%= (elec_my_voters_count(@elec_round, @elec_process_category) > 0) ? elec_my_voters_count(@elec_round, @elec_process_category) : '' %>
    </h4>
    <div><%= @elec_process_category.description.html_safe %></div>
    <hr>
    <% if @my_votes.each do |vote| %>
        <div class="row">
          <div class="col-xs-2">
            <%= (localize vote.registered_at, format: :day_snmonth_year) %>
          </div>
          <% if !vote.comment.blank? %>
          <div class="col-xs-4">
            <%= render :partial => 'elec_round_exec/voter_mini_file', :locals => {:user => vote.user} %>
          </div>
          <div class="col-xs-6">
              <em>
                <%= vote.comment.html_safe %>
              </em>
          </div>
          <% else %>
            <div class="col-xs-10">
              <%= render :partial => 'elec_round_exec/voter_mini_file', :locals => {:user => vote.user} %>
            </div>
          <% end %>
        </div>
        <hr>
    <% end.empty? %>
        <%= t('views.elec_round_exec.view_my_voters_detail.no_votes_message') %>
    <% end %>
  </div>
</div>