<% dimension_eje_x = @pe_process.dimension_x %>
<% dimension_eje_y = @pe_process.dimension_y %>

<div class="panel panel-default">
  <div class="panel-body">

    <div class="row">
      <div class="col-md-1">
        <div class="pe-dimension">
          <strong>
            <%= dimension_eje_y.name %>
          </strong>
          <br>
          <% dimension_eje_y.pe_evaluations.each do |pe_evaluation| %>
            - <%= pe_evaluation.name %>
            (<%= pe_evaluation.weight %>)
            <br>
          <% end %>
        </div>
      </div>
      <div class="col-md-11">

        <% ancho_grupo = dimension_eje_x.pe_dimension_groups.size > 0 ? 12/dimension_eje_x.pe_dimension_groups.size : 1 %>

        <% dimension_eje_y.pe_dimension_groups.reorder('position DESC').each do |pe_dimension_group_y| %>

          <div class="row">
            <div class="col-md-2">
              <div class="well text-center" style=" <%= 'color: #'+pe_dimension_group_y.text_color+';' %>">

                <strong style="color: #<%= pe_dimension_group_y.text_color %>;">
                  <%= pe_dimension_group_y.name %>
                </strong>

                <br>
                <%= pe_dimension_group_y.min_sign %> <%= pe_dimension_group_y.min_percentage %>%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= pe_dimension_group_y.max_sign %> <%= pe_dimension_group_y.max_percentage %>%

              </div>
            </div>

            <div class="col-md-10">

              <div class="row">

                <% dimension_eje_x.pe_dimension_groups.each do |pe_dimension_group_x| %>

                  <% pe_box = @pe_process.pe_box_2d(pe_dimension_group_x.id, pe_dimension_group_y.id) %>

                  <div class="col-md-<%= ancho_grupo %>">

                    <% if pe_box %>
                      <% bg_color = @pe_member.pe_box == pe_box ? pe_box.bg_color : pe_box.soft_bg_color %>
                      <% text_color = @pe_member.pe_box == pe_box ? pe_box.text_color : pe_box.soft_text_color %>
                    <% end %>

                    <div class="well" style="<%= 'background-color: #'+bg_color+';' %><%= 'color: #'+text_color+';' %>" >

                      <% if pe_box %>
                        <div class="row">
                          <div class="col-md-10">
                            <% if pe_box && @pe_member.pe_box == pe_box %>
                              <strong>
                            <% end %>
                            <%= pe_box.short_name %>
                            <br>
                            <%= pe_box.name %>
                            <% if pe_box && @pe_member.pe_box == pe_box %>
                              </strong>
                            <% end %>
                          </div>
                          <div class="col-md-2" style="<%= 'color: #'+text_color+';' %>">

                          </div>
                        </div>

                      <% else %>

                        No definido <i class="fa fa-exclamation-triangle"></i>

                      <% end %>

                    </div>
                  </div>

                <% end %>

              </div>

            </div>

          </div>
        <% end %>

        <div class="row">

          <div class="col-md-10 col-md-offset-2">

            <div class="row">

              <% dimension_eje_x.pe_dimension_groups.each do |pe_dimension_group_x| %>

                <div class="col-md-<%= ancho_grupo %>">
                  <div class="well text-center" style=" <%= 'color: #'+pe_dimension_group_x.text_color+';' %>">
                    <strong style="color: #<%= pe_dimension_group_x.text_color %>;">
                      <%= pe_dimension_group_x.name %>
                    </strong>

                    <br>
                    <%= pe_dimension_group_x.min_sign %> <%= pe_dimension_group_x.min_percentage %>%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= pe_dimension_group_x.max_sign %> <%= pe_dimension_group_x.max_percentage %>%
                  </div>
                </div>

              <% end %>

            </div>
          </div>
        </div>


      </div>


    </div>

    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-11">
        <div class="row">

          <div class="col-md-10 col-md-offset-2">
            <div class="pe-dimension text-center">
              <strong>
                <%= dimension_eje_x.name %>
              </strong>

              <br>
              <% dimension_eje_x.pe_evaluations.each do |pe_evaluation| %>
                - <%= pe_evaluation.name %>
                (<%= pe_evaluation.weight %>)
                <br>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
