<% dimension_eje_x = @pe_process.dimension_x %>

<div class="panel panel-default">
  <div class="panel-body">

    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-11">

        <% ancho_grupo = dimension_eje_x.pe_dimension_groups.size > 0 ? 12/dimension_eje_x.pe_dimension_groups.size : 1 %>

        <div class="row">


          <div class="col-md-12">

            <div class="row">

              <% dimension_eje_x.pe_dimension_groups.each do |pe_dimension_group_x| %>

                <% pe_box = @pe_process.pe_box_1d(pe_dimension_group_x.id) %>

                <div class="col-md-<%= ancho_grupo %>">

                  <div class="well" style="<%= 'background-color: #'+pe_box.bg_color+';' if pe_box %>" >

                    <% if pe_box %>
                      <div class="row">
                        <div class="col-md-10">

                          <a href="#form_box_<%= pe_dimension_group_x.id %>" data-toggle="modal" style="<%= 'color: #'+pe_box.text_color+';' if pe_box %>">
                            <%= pe_box.short_name %> (<%= pe_box.position %>)

                            <br>
                            <%= pe_box.name %>
                          </a>

                        </div>
                        <div class="col-md-2" style="<%= 'color: #'+pe_box.text_color+';' if pe_box %>">

                          <% if pe_box.description %>

                            <i id="pe_box_description_popover_<%= pe_box.id %>" class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= pe_box.description %>"></i>
                            <script>
                              $('#pe_box_description_popover_<%= pe_box.id %>').popover();
                            </script>

                          <% end %>

                        </div>
                      </div>

                    <% else %>
                      <a href="#form_box_<%= pe_dimension_group_x.id %>" data-toggle="modal">
                        No definido <i class="fa fa-exclamation-triangle"></i>
                      </a>

                      <% pe_box = @pe_process.pe_boxes.build %>
                      <% pe_box.pe_dim_group_x_id = pe_dimension_group_x.id %>

                    <% end %>

                    <div id="form_box_<%= pe_dimension_group_x.id %>" class="modal fade " role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="form_box_<%= pe_dimension_group_x.id %>_Label">Definir nombre de la caja</h4>
                          </div>


                          <%= form_for pe_box, url: pe_box.id == nil ? pe_boxes_create_1d_path(@pe_process, pe_dimension_group_x.id) : pe_boxes_update_1d_path(pe_box), method: :post, html: {class: 'form-horizontal'} do |f| %>

                            <div class="modal-body">

                              <%= render 'shared/error_messages', object: f.object %>

                              <%= f.hidden_field :pe_process_id %>
                              <%= f.hidden_field :pe_dim_group_x_id %>

                              <div class="form-group <%= field_with_errors f, :position %>">

                                <%= f.label :position, 'Orden para el reporte gráfico', class: 'col-md-3 control-label' %>

                                <div class="col-md-9">

                                  <%= f.number_field :position, class: 'form-control' %>

                                </div>

                              </div>

                              <div class="form-group <%= field_with_errors f, :short_name %>">

                                <%= f.label :short_name, 'Nombre corto', class: 'col-md-3 control-label' %>

                                <div class="col-md-9">

                                  <%= f.text_field :short_name, class: 'form-control' %>

                                </div>

                              </div>

                              <div class="form-group <%= field_with_errors f, :name %>">

                                <%= f.label :name, 'Nombre', class: 'col-md-3 control-label' %>

                                <div class="col-md-9">

                                  <%= f.text_area :name, rows: 5, class: 'form-control' %>

                                </div>

                              </div>

                              <div class="form-group <%= field_with_errors f, :description %>">

                                <%= f.label :description, 'Descripción', class: 'col-md-3 control-label' %>

                                <div class="col-md-9">

                                  <%= f.text_area :description, rows: 5, class: 'form-control' %>

                                </div>

                              </div>

                              <div class="form-group">

                                <%= f.label :text_color, 'Color de texto', class: 'col-md-3 control-label' %>

                                <div class="col-md-9">

                                  <%= f.text_field :text_color, class: "pick-a-text_color_#{pe_dimension_group_x.id} form-control" %>

                                  <script>
                                    $(".pick-a-text_color_<%= pe_dimension_group_x.id %>").pickAColor({
                                      showBasicColors         : true,
                                      showSpectrum            : true,
                                      showSavedColors         : false,
                                      saveColorsPerElement    : false,
                                      showAdvanced            : true,
                                      showHexInput            : true,
                                      fadeMenuToggle          : true
                                    });
                                  </script>

                                </div>

                              </div>

                              <div class="form-group">

                                <%= f.label :bg_color, 'Color de fondo', class: 'col-md-3 control-label' %>

                                <div class="col-md-9">

                                  <%= f.text_field :bg_color, class: "pick-a-bg_color_#{pe_dimension_group_x.id} form-control" %>

                                  <script>
                                    $(".pick-a-bg_color_<%= pe_dimension_group_x.id %>").pickAColor({
                                      showBasicColors         : true,
                                      showSpectrum            : true,
                                      showSavedColors         : false,
                                      saveColorsPerElement    : false,
                                      showAdvanced            : true,
                                      showHexInput            : true,
                                      fadeMenuToggle          : true
                                    });
                                  </script>

                                </div>

                              </div>

                              <div class="form-group">

                                <%= f.label :soft_text_color, 'Color suave de texto', class: 'col-md-3 control-label' %>

                                <div class="col-md-9">

                                  <%= f.text_field :soft_text_color, class: "pick-a-soft_text_color_#{pe_dimension_group_x.id} form-control" %>

                                  <script>
                                    $(".pick-a-soft_text_color_<%= pe_dimension_group_x.id %>").pickAColor({
                                      showBasicColors         : true,
                                      showSpectrum            : true,
                                      showSavedColors         : false,
                                      saveColorsPerElement    : false,
                                      showAdvanced            : true,
                                      showHexInput            : true,
                                      fadeMenuToggle          : true
                                    });
                                  </script>

                                </div>

                              </div>

                              <div class="form-group">

                                <%= f.label :soft_bg_color, 'Color suave de fondo', class: 'col-md-3 control-label' %>

                                <div class="col-md-9">

                                  <%= f.text_field :soft_bg_color, class: "pick-a-soft_bg_color_#{pe_dimension_group_x.id} form-control" %>

                                  <script>
                                    $(".pick-a-soft_bg_color_<%= pe_dimension_group_x.id %>").pickAColor({
                                      showBasicColors         : true,
                                      showSpectrum            : true,
                                      showSavedColors         : false,
                                      saveColorsPerElement    : false,
                                      showAdvanced            : true,
                                      showHexInput            : true,
                                      fadeMenuToggle          : true
                                    });
                                  </script>

                                </div>

                              </div>

                            </div>

                            <div class="modal-footer">

                              <div class="row">

                                <div class="col-md-4 col-md-offset-4 text-center">

                                  <%= f.submit 'Guardar', class: 'btn btn-primary' %>

                                </div>

                              </div>
                            </div>

                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              <% end %>

            </div>

          </div>

        </div>


        <div class="row">

          <div class="col-md-12">

            <div class="row">

              <% dimension_eje_x.pe_dimension_groups.each do |pe_dimension_group_x| %>

                <div class="col-md-<%= ancho_grupo %>">
                  <div class="well text-center" style=" <%= 'color: #'+pe_dimension_group_x.text_color+';' %>">
                    <strong>
                      <%= link_to pe_dimension_group_x.position.to_s+'. '+pe_dimension_group_x.name, edit_pe_dimension_group_path(pe_dimension_group_x), style: 'color: #'+pe_dimension_group_x.text_color+';' %>
                    </strong>
                    <% if pe_dimension_group_x.description %>

                      <i id="pe_dimension_group_x_description_popover_<%= pe_dimension_group_x.id %>" class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= pe_dimension_group_x.description %>"></i>
                      <script>
                        $('#pe_dimension_group_x_description_popover_<%= pe_dimension_group_x.id %>').popover();
                      </script>

                    <% end %>


                    <br>
                    <%= pe_dimension_group_x.min_sign %> <%= pe_dimension_group_x.min_percentage %>%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= pe_dimension_group_x.max_sign %> <%= pe_dimension_group_x.max_percentage %>%
                  </div>
                </div>

              <% end %>

            </div>
          </div>
        </div>


      </div>


    </div>

    <div class="row">
      <div class="col-md-1">
        <%= link_to 'Añadir Grupo', new_pe_dimension_group_path(@pe_process) %>
      </div>
      <div class="col-md-11">
        <div class="row">

          <div class="col-md-12">
            <div class="pe-dimension text-center">
              <strong>
                <%= link_to dimension_eje_x.name, edit_pe_dimension_path(dimension_eje_x), style: 'color: #000000;' %>
              </strong>

              <br>
              <% dimension_eje_x.pe_evaluations.each do |pe_evaluation| %>
                - <%= pe_evaluation.name %>
                (<%= pe_evaluation.weight %>)
                <br>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
