
<% visualiza_todo = false %>

<div class="panel panel-default" id="frfb_by_evaluator_type_<%= tipo_evaluador %>">
  <div class="panel-body">
    <legend>
      <% if tipo_evaluador == 'auto' %>
        Autoevaluación
        <% tipo_evaluador = nil %>
      <% elsif tipo_evaluador == 'jefe' %>
        Evaluación del <%= lista_relaciones[tipo_evaluador] %>
      <% else %>
        Evaluación de <%= lista_relaciones_plu[tipo_evaluador] %>
      <% end %>
    </legend>

    <% @hr_process_evaluations.each do |hr_process_evaluation| %>


      <% visualiza_eval = false %>
      <% visualiza_eval = true if tipo_evaluador.nil? && hr_process_evaluation.hr_process_dimension_e.eval_auto %>
      <% visualiza_eval = true if tipo_evaluador == 'jefe' && hr_process_evaluation.hr_process_dimension_e.eval_jefe %>
      <% visualiza_eval = true if tipo_evaluador == 'par' && hr_process_evaluation.hr_process_dimension_e.eval_par %>
      <% visualiza_eval = true if tipo_evaluador == 'sub' && hr_process_evaluation.hr_process_dimension_e.eval_sub %>
      <% visualiza_eval = true if tipo_evaluador == 'cli' && hr_process_evaluation.hr_process_dimension_e.eval_cli %>
      <% visualiza_eval = true if tipo_evaluador == 'prov' && hr_process_evaluation.hr_process_dimension_e.eval_prov %>

      <% if tipo_evaluador != nil %>

        <% visualiza_eval = false unless @hr_process_user.hr_process_es_evaluado_rels.where('tipo = ? AND no_aplica = ?', tipo_evaluador, false).count > 0 %>

      <% end %>

      <% if visualiza_eval %>

        <% visualiza_todo = true %>

        <% if hr_process_evaluation.hr_process_evaluation_qs.where('(hr_process_level_id = ? OR hr_process_level_id IS NULL) AND discrete_display_in_reports = ?', @hr_process_user.hr_process_level_id, false).count > 0 %>



          <% hr_process_dimension_gs = hr_process_evaluation.hr_process_dimension_e.hr_process_dimension.hr_process_dimension_gs.reorder('orden DESC') %>

          <% hr_process_evaluation_q = hr_process_evaluation.hr_process_evaluation_qs.where('hr_process_evaluation_q_id IS NULL AND (hr_process_level_id = ? OR hr_process_level_id IS NULL) AND discrete_display_in_reports = ?', @hr_process_user.hr_process_level_id, false).first %>

          <% if hr_process_evaluation_q && hr_process_evaluation_q.hr_evaluation_type_element.aplica_evaluacion %>

            <% hr_process_evaluation_qs = hr_process_evaluation.hr_process_evaluation_qs.where('hr_process_evaluation_q_id IS NULL AND (hr_process_level_id = ? OR hr_process_level_id IS NULL) AND discrete_display_in_reports = ?', @hr_process_user.hr_process_level_id, false) %>

          <% else %>

            <% hr_process_evaluation_qs = hr_process_evaluation.hr_process_evaluation_qs.where('hr_process_evaluation_q_id IS NOT NULL AND (hr_process_level_id = ? OR hr_process_level_id IS NULL) AND discrete_display_in_reports = ?', @hr_process_user.hr_process_level_id, false) %>

          <% end %>

          <% pregs_por_nombre_suma_jefe = Hash.new %>
          <% pregs_por_nombre_num_jefe = Hash.new %>

          <% hr_process_evaluation_qs.each_with_index do |hr_process_evaluation_q, num_preg| %>



            <% s_jefe = 0 %>
            <% t_jefe = 0 %>

            <% @hr_process_user.hr_process_assessment_qs.where('hr_process_evaluation_q_id = ?', hr_process_evaluation_q.id).each do |hr_process_assessment_q| %>

              <% if hr_process_assessment_q.resultado_puntos && hr_process_assessment_q.resultado_puntos >= 0 && hr_process_assessment_q.resultado_porcentaje && hr_process_assessment_q.resultado_porcentaje >= 0 %>

                <% if hr_process_assessment_q.hr_process_assessment_e && hr_process_assessment_q.hr_process_assessment_e.tipo_rel == tipo_evaluador %>

                  <% s_jefe += hr_process_assessment_q.resultado_porcentaje %>
                  <% t_jefe += 1 %>

                <% end %>

              <% end %>

            <% end %>

            <% pregs_por_nombre_suma_jefe[hr_process_evaluation_q.texto] = 0 unless pregs_por_nombre_suma_jefe[hr_process_evaluation_q.texto] %>
            <% pregs_por_nombre_num_jefe[hr_process_evaluation_q.texto] = 0 unless pregs_por_nombre_num_jefe[hr_process_evaluation_q.texto] %>

            <% pregs_por_nombre_suma_jefe[hr_process_evaluation_q.texto] += s_jefe %>
            <% pregs_por_nombre_num_jefe[hr_process_evaluation_q.texto] += t_jefe %>

          <% end %>

          <% num_preg = 0 %>

          <table class="table table-bordered table-condensed table-hover">
            <thead>
            <tr>
              <th>
                #
              </th>


              <th>
                <%= hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.nombre %>
              </th>

              <th>
                Resultado
              </th>
            </tr>
            </thead>
            <tbody>
            <% t = 0 %>
            <% s = 0 %>
            <% pregs_por_nombre_suma_jefe.sort.each do |nombre_preg, value| %>

              <% if value >= 0 %>

                <% res = pregs_por_nombre_num_jefe[nombre_preg] > 0 ? (value/pregs_por_nombre_num_jefe[nombre_preg]).round(1) : 0 %>

                <% s = s + res %>
                <% t = t + 1 %>

                <% num_preg += 1 %>

                <% res_width = res > 100 ? 100 : res %>

                <% color = '' %>

                <%
                   hr_process_dimension_gs.each do |g|

                     if g.valor_minimo <= res && res <= g.valor_maximo
                       color = g.color_text
                       break
                     end

                   end

                %>

                <% color = '' %>

                <tr>
                  <td width="1%">
                    <%= num_preg %>
                  </td>
                  <td>

                    <%= nombre_preg.html_safe %>
                  </td>
                  <td width="25%">
                    <div class="progress" style="margin-bottom: 0px;">
                      <div class="progress-bar" role="progressbar" aria-valuenow="<%= res_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= res_width %>%;background-color: <%= '#'+color+';' if res_width > 0 %>">
                        <%= number_with_precision(res, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

                      </div>
                    </div>
                  </td>
                </tr>

              <% end %>

            <% end %>

            <% prom = t > 0 ? (s/t).round(1) : 0  %>

            <% prom_width = prom > 100 ? 100 : prom %>

            <% color = '' %>

            <%
               hr_process_dimension_gs.each do |g|

                 if g.valor_minimo <= prom && prom <= g.valor_maximo
                   color = g.color_text
                   break
                 end

               end

            %>

            <% color = '' %>

            </tbody>
            <thead>

            <tr>
              <th colspan="2" width="75%" class="text-right">

                <strong>Promedio</strong>
              </td>
              <th>
                <div class="progress" style="margin-bottom: 0px;">
                  <div class="progress-bar" role="progressbar" aria-valuenow="<%= prom_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= prom_width %>%;background-color: <%= '#'+color+';' if prom_width > 0 %>">
                    <%= number_with_precision(prom, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                  </div>
                </div>
              </td>
            </tr>
            </thead>

          </table>

        <% end %>
      <% end %>
    <% end %>

  </div>
</div>

<% tipo_evaluador = 'auto' if tipo_evaluador.nil? %>

<% unless visualiza_todo %>

  <script>
    $('#frfb_by_evaluator_type_<%= tipo_evaluador %>').remove();
  </script>

<% end %>

