

<% @hr_process_evaluations.each do |hr_process_evaluation| %>

  <% if hr_process_evaluation.hr_process_evaluation_qs.where('hr_process_evaluation_q_id IS NOT NULL').count > 0 %>

    <% unless hr_process_evaluation.hr_process_dimension_e.registro_por_gestor %>


      <% si_jefe = false %>
      <% si_auto = false %>
      <% si_par = false %>
      <% si_sub = false %>
      <% si_cli = false %>
      <% si_prov = false %>

      <% si_jefe = true if hr_process_evaluation.hr_process_dimension_e.eval_jefe  %>
      <% si_par = true if hr_process_evaluation.hr_process_dimension_e.eval_par  %>
      <% si_auto = true if hr_process_evaluation.hr_process_dimension_e.eval_auto  %>
      <% si_sub = true if hr_process_evaluation.hr_process_dimension_e.eval_sub  %>
      <% si_cli = true if hr_process_evaluation.hr_process_dimension_e.eval_cli  %>
      <% si_prov = true if hr_process_evaluation.hr_process_dimension_e.eval_prov  %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Detalle de  <%= hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.nombre %></legend>

          <% nombre_2nd_nivel = hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.where('nivel = 2').first.nombre %>

          <% hr_process_evaluation.hr_process_evaluation_qs.where('hr_process_evaluation_q_id IS NULL AND (hr_process_level_id = ? OR hr_process_level_id IS NULL) AND discrete_display_in_reports = ?', @hr_process_user.hr_process_level_id, false).each do |hr_process_evaluation_q| %>

            <% if @hr_process_user.hr_process_assessment_qs.where('hr_process_evaluation_q_id = ?', hr_process_evaluation_q.id).count > 0 %>

              <table class="table table-bordered table-condensed table-hover">

                <thead>
                <tr>
                  <th colspan="8">
                    <%= hr_process_evaluation_q.texto.html_safe %>
                  </th>
                </tr>
                </thead>

                <tbody>

                <tr>
                  <td><strong><%= nombre_2nd_nivel %></strong></td>

                  <% if si_jefe %>
                    <td width="1%"><strong><nobr><%= lista_relaciones['jefe'] %></nobr></strong></td>
                  <% end %>

                  <% if si_par %>
                    <td width="1%"><strong><nobr><%= lista_relaciones['par'] %></nobr></strong></td>
                  <% end %>

                  <% if si_sub %>
                    <td width="1%"><strong><nobr><%= lista_relaciones['sub'] %></nobr></strong></td>
                  <% end %>

                  <% if si_cli %>
                    <td width="1%"><strong><nobr><%= lista_relaciones['cli'] %></nobr></strong></td>
                  <% end %>

                  <% if si_prov %>
                    <td width="1%"><strong><nobr><%= lista_relaciones['prov'] %></nobr></strong></td>
                  <% end %>

                  <% if si_auto %>
                    <td width="1%"><strong>Autoevaluación</strong></td>
                  <% end %>
                </tr>

                <% hr_process_evaluation_q.hr_process_evaluation_qs.each do |hr_process_evaluation_q_hijo| %>

                  <% res_jefe = 0 %>
                  <% t_jefe = 0 %>
                  <% res_par = 0 %>
                  <% t_par = 0 %>
                  <% res_cli = 0 %>
                  <% t_cli = 0 %>
                  <% res_sub = 0 %>
                  <% t_sub = 0 %>
                  <% res_prov = 0 %>
                  <% t_prov = 0 %>
                  <% res_auto = 0 %>
                  <% t_auto = 0 %>


                  <% @hr_process_user.hr_process_assessment_qs.where('hr_process_evaluation_q_id = ?', hr_process_evaluation_q_hijo.id).each do |hr_process_assessment_q| %>

                    <% if hr_process_assessment_q.resultado_puntos && hr_process_assessment_q.resultado_puntos >= 0 && hr_process_assessment_q.resultado_porcentaje && hr_process_assessment_q.resultado_porcentaje >= 0 %>

                      <% if hr_process_assessment_q.hr_process_assessment_e && hr_process_assessment_q.hr_process_assessment_e.tipo_rel == 'jefe' %>
                        <% res_jefe += hr_process_assessment_q.resultado_porcentaje %>
                        <% t_jefe += 1 %>
                      <% end %>

                      <% if hr_process_assessment_q.hr_process_assessment_e && hr_process_assessment_q.hr_process_assessment_e.tipo_rel == 'par' %>
                        <% res_par += hr_process_assessment_q.resultado_porcentaje %>
                        <% t_par += 1 %>
                      <% end %>

                      <% if hr_process_assessment_q.hr_process_assessment_e && hr_process_assessment_q.hr_process_assessment_e.tipo_rel == 'sub' %>
                        <% res_sub += hr_process_assessment_q.resultado_porcentaje %>
                        <% t_sub += 1 %>
                      <% end %>

                      <% if hr_process_assessment_q.hr_process_assessment_e && hr_process_assessment_q.hr_process_assessment_e.tipo_rel == 'cli' %>
                        <% res_cli += hr_process_assessment_q.resultado_porcentaje %>
                        <% t_cli += 1 %>
                      <% end %>

                      <% if hr_process_assessment_q.hr_process_assessment_e && hr_process_assessment_q.hr_process_assessment_e.tipo_rel == 'prov' %>
                        <% res_prov += hr_process_assessment_q.resultado_porcentaje %>
                        <% t_prov += 1 %>
                      <% end %>

                      <% if hr_process_assessment_q.hr_process_assessment_e && hr_process_assessment_q.hr_process_assessment_e.tipo_rel == nil %>
                        <% res_auto = hr_process_assessment_q.resultado_porcentaje %>
                        <% t_auto += 1 %>
                      <% end %>


                    <% end %>

                  <% end %>

                  <% s_preg_nivel_2 = 0 %>
                  <% t_preg_nivel_2 = 0 %>

                  <% if t_jefe > 0 %>
                    <% s_preg_nivel_2 += (res_jefe/t_jefe)*hr_process_evaluation_q_hijo.hr_process_evaluation.hr_process_dimension_e.eval_jefe_peso %>
                    <% t_preg_nivel_2 += hr_process_evaluation_q_hijo.hr_process_evaluation.hr_process_dimension_e.eval_jefe_peso %>
                  <% end %>

                  <% if t_par > 0 %>
                    <% s_preg_nivel_2 += (res_par/t_par)*hr_process_evaluation_q_hijo.hr_process_evaluation.hr_process_dimension_e.eval_par_peso %>
                    <% t_preg_nivel_2 += hr_process_evaluation_q_hijo.hr_process_evaluation.hr_process_dimension_e.eval_par_peso %>
                  <% end %>

                  <% if t_sub > 0 %>
                    <% s_preg_nivel_2 += (res_sub/t_sub)*hr_process_evaluation_q_hijo.hr_process_evaluation.hr_process_dimension_e.eval_sub_peso %>
                    <% t_preg_nivel_2 += hr_process_evaluation_q_hijo.hr_process_evaluation.hr_process_dimension_e.eval_sub_peso %>
                  <% end %>

                  <% if t_cli > 0 %>
                    <% s_preg_nivel_2 += (res_cli/t_cli)*hr_process_evaluation_q_hijo.hr_process_evaluation.hr_process_dimension_e.eval_cli_peso %>
                    <% t_preg_nivel_2 += hr_process_evaluation_q_hijo.hr_process_evaluation.hr_process_dimension_e.eval_cli_peso %>
                  <% end %>

                  <% if t_prov > 0 %>
                    <% s_preg_nivel_2 += (res_prov/t_prov)*hr_process_evaluation_q_hijo.hr_process_evaluation.hr_process_dimension_e.eval_prov_peso %>
                    <% t_preg_nivel_2 += hr_process_evaluation_q_hijo.hr_process_evaluation.hr_process_dimension_e.eval_prov_peso %>
                  <% end %>

                  <% if t_auto > 0 %>
                    <% s_preg_nivel_2 += res_auto*hr_process_evaluation_q_hijo.hr_process_evaluation.hr_process_dimension_e.eval_auto_peso %>
                    <% t_preg_nivel_2 += hr_process_evaluation_q_hijo.hr_process_evaluation.hr_process_dimension_e.eval_auto_peso %>
                  <% end %>

                  <tr>
                    <td><%= hr_process_evaluation_q_hijo.texto %></td>
                    <% if si_jefe %>
                      <td><%= number_with_precision(res_jefe/t_jefe, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false).to_s+'%' if t_jefe > 0 %></td>
                    <% end %>
                    <% if si_par %>
                      <td><%= number_with_precision(res_par/t_par, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false).to_s+'%' if t_par > 0 %></td>
                    <% end %>
                    <% if si_sub %>
                      <td><%= number_with_precision(res_sub/t_sub, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false).to_s+'%' if t_sub > 0 %></td>
                    <% end %>
                    <% if si_cli %>
                      <td><%= number_with_precision(res_cli/t_cli, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false).to_s+'%' if t_cli > 0 %></td>
                    <% end %>
                    <% if si_prov %>
                      <td><%= number_with_precision(res_prov/t_prov, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false).to_s+'%' if t_prov > 0 %></td>
                    <% end %>
                    <% if si_auto %>
                      <td><%= number_with_precision(res_auto, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false).to_s+'%' if t_auto > 0 %></td>
                    <% end %>

                  </tr>

                <% end %>

                </tbody>


              </table>

            <% end %>

          <% end %>

        </div>

      </div>

    <% end %>

  <% end %>

<% end %>