<% hr_process_user_sub.hr_process_evalua_users_como_uniq_order_by_apellidos_nombre('jefe').each_with_index do |hr_process_user, index| %>

  <tr class="treegrid-<%= hr_process_user.id %> treegrid-parent-<%= parent_id %>">
  <td></td>
  <td onclick="$('.treegrid-<%= hr_process_user.id %>').treegrid('toggle');" class="mouse_pointer">
    <%= numero %>.<%= index+1 %>
  </td>
  <td onclick="$('.treegrid-<%= hr_process_user.id %>').treegrid('toggle');" class="mouse_pointer">
    <%= hr_process_user.user.apellidos %>
  </td>
  <td onclick="$('.treegrid-<%= hr_process_user.id %>').treegrid('toggle');" class="mouse_pointer">
    <%= hr_process_user.user.nombre %>

  </td>

  <% characteristics_eval_des.each do |characteristic| %>

    <td>

      <% uc = hr_process_user.user.user_characteristics.find_by_characteristic_id(characteristic.id) %>
      <%= uc.valor if uc %>

    </td>

  <% end %>



  <% @hr_process_dimensions.each do |hr_process_dimension| %>

    <% hr_process_assessment_d = hr_process_user.hr_process_assessment_ds.find_by_hr_process_dimension_id(hr_process_dimension.id) if hr_process_user.finalizado %>

    <% hr_process_dimension_g = hr_process_assessment_d.hr_process_dimension_g if hr_process_assessment_d %>

    <td style="<%= 'color: #'+hr_process_dimension_g.color_text+';' if hr_process_dimension_g && hr_process_dimension_g.color_text %>">

      <% if hr_process_assessment_d %>

        <%= hr_process_assessment_d.resultado_porcentaje.to_i %>%
        -
        <%= hr_process_dimension_g.nombre if hr_process_dimension_g %>

        <% hr_process_assessment_d_cal = hr_process_assessment_d.hr_process_assessment_d_cal %>

        <% if hr_process_assessment_d_cal %>

          <label data-toggle="tooltip" title="Ver calibración" style="color: #000;">

            <a data-toggle="button" data-content='


                                                        <table>
                                                          <tr>
                                                            <td><strong>Porcentaje original</strong></td>
                                                            <td>
                                                              <%= hr_process_assessment_d_cal.resultado_porcentaje.to_i %>%
                                                            </td>
                                                          </tr>
                                                          <tr>
                                                            <td>
                                                              <strong>Comentario</strong>
                                                            </td>
                                                            <td>
                                                              <%= hr_process_assessment_d_cal.comentario %>
                                                            </td>
                                                          </tr>
                                                        </table>

                                                      '
               id='detalle_calibracion_<%= hr_process_assessment_d_cal.id %>' >

              <i class="fa fa-exclamation-triangle"></i>

            </a>

          </label>

          <script language="javascript">
            $('#detalle_calibracion_<%= hr_process_assessment_d_cal.id %>').popover({
              html: true,
              placement: 'top',
              trigger: 'click'
            });


          </script>

        <% end %>

      <% end %>
    </td>

  <% end %>

  <% if @hr_process.muestra_cajas? %>

    <td>
      <div>
        <% if hr_process_user.finalizado %>

          <% hr_process_assessment_qua = hr_process_user.hr_process_assessment_qua %>

          <% if hr_process_assessment_qua %>

            <% hr_process_quadrant = hr_process_assessment_qua.hr_process_quadrant %>

            <% if hr_process_quadrant.nombre %>

              <%

                 lista_usuarios.push hr_process_user
                 lista_cajas.push hr_process_quadrant

              %>

              <span class="label label-default col-md-12" style="width: 80%; text-align: center; <%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant.color_text %><%= 'background-color: #'+hr_process_quadrant.color+';' if hr_process_quadrant.color %>">
                                                        <strong><%= hr_process_quadrant.nombre.html_safe %></strong>
                                                      </span>

              <% hr_process_calibration_session_m = hr_process_user.hr_process_calibration_session_ms.first %>

              <% hr_process_assessment_qua_cal = HrProcessAssessmentQuaCal.where('hr_process_calibration_session_id = ? AND  hr_process_calibration_session_m_id = ?', hr_process_calibration_session_m.hr_process_calibration_session.id, hr_process_calibration_session_m.id).first if hr_process_calibration_session_m %>

              <% hr_process_quadrant_cal = hr_process_assessment_qua_cal.hr_process_quadrant if hr_process_assessment_qua_cal %>

              <% if hr_process_quadrant_cal && hr_process_quadrant_cal.nombre %>

                <label data-toggle="tooltip" title="Ver calibración" style="color: #000;">

                  <a data-toggle="button" data-content='
                                                              <dl class="dl-horizontal">
                                                                <dt>Valoración original</dt>
                                                                <dd>
                                                                  <span class="label label-default" style="<%= 'color: #'+hr_process_quadrant_cal.color_text+';' if hr_process_quadrant_cal.color_text %><%= 'background-color: #'+hr_process_quadrant_cal.color+';' if hr_process_quadrant_cal.color %>">
                                                                      <strong><%= hr_process_quadrant_cal.nombre.html_safe %></strong>
                                                                  </span>
                                                                </dd>
                                                              </dl>
                                                              <dl class="dl-horizontal">
                                                                <dt>Comentario</dt>
                                                                <dd>
                                                                  <%= hr_process_assessment_qua_cal.comentario %>
                                                                </dd>
                                                              </dl>

                                                            '
                     id='detalle_calibracion_qua_<%= hr_process_assessment_qua_cal.id %>' >

                    <i class="fa fa-exclamation-triangle"></i>

                  </a>

                </label>

                <script language="javascript">
                  $('#detalle_calibracion_qua_<%= hr_process_assessment_qua_cal.id %>').popover({
                    html: true,
                    placement: 'top',
                    trigger: 'click'
                  });


                </script>

              <% end %>

            <% end %>

          <% end %>

        <% else %>

          <span class="label label-default">No evaluado</span>

        <% end %>
      </div>
    </td>

  <% end %>

  <% if @hr_process.tiene_paso_feedback? %>
    <td>
      <% if hr_process_user.feedback_confirmado? %>
        <span class="label label-success">Confirmada</span>
      <% else %>
        <span class="label label-danger">Pendiente</span>
      <% end %>
    </td>
  <% end %>



  <td>
    <% if @hr_process.jefe_cons_estado_avance %>
      <%= link_to 'Estado de Avance', pe_reporting_state_of_progress_for_boss_path(@hr_process, hr_process_user) %>
      &nbsp;&nbsp;&nbsp;&nbsp;
    <% end %>

    <% if @hr_process.jefe_cons_res_final %>

      <%= link_to 'Resultado Final', pe_reporting_final_results_for_boss_path(@hr_process, hr_process_user) %>
    <% end %>


  </td>
  </tr>

  <% if hr_process_user.hr_process_evalua_users_como_uniq_order_by_apellidos_nombre('jefe').count > 0 %>

    <%= render partial: 'list_subs_rec',
               locals: {
                 hr_process_user_sub: hr_process_user,
                 characteristics_eval_des: characteristics_eval_des,
                 lista_usuarios: lista_usuarios,
                 lista_cajas: lista_cajas,
                 numero: numero.to_s+'.'+(index+1).to_s,
                 parent_id: hr_process_user.id
               }
    %>

  <% end %>

<% end %>