
<div class="panel panel-default">
  <div class="panel-body">

    <legend>Resumen ejecutivo</legend>

    <strong><%= @pe_process.step_assessment_final_result_alias %></strong>

    <table class="table table-bordered table-condensed table-hover">
      <thead>
      <% @pe_process.pe_dimensions.each do |pe_dimension| %>
        <th class="text-center">
          <%= pe_dimension.name %>
        </th>
        <% break unless @pe_process.two_dimensions? %>
      <% end %>
      <th colspan="2"><%= @pe_process.step_assessment_final_result_alias %></th>
      </thead>
      <tbody>
      <tr>

        <% @pe_process.pe_dimensions.each do |pe_dimension| %>

          <% pe_assessment_dimension = @pe_member.pe_assessment_dimension(pe_dimension) %>

          <% if pe_assessment_dimension %>

            <td style="<%= 'color: #'+pe_assessment_dimension.pe_dimension_group.text_color+';' if  pe_assessment_dimension.pe_dimension_group %>">
              <nobr>
                <%= number_with_precision(pe_assessment_dimension.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

                <%= ' - '+pe_assessment_dimension.pe_dimension_group.name if pe_assessment_dimension.pe_dimension_group %>
              </nobr>
            </td>
          <% else %>
            <td></td>
          <% end %>

          <% break unless @pe_process.two_dimensions? %>

        <% end %>

        <% if @pe_member.pe_box %>
          <td>
                  <span class="label label-default col-md-12" style="font-size: 0.9em; text-align: center; color: <%= '#'+@pe_member.pe_box.text_color %>; background-color: <%= '#'+@pe_member.pe_box.bg_color %>;">
                    <% if @pe_member.pe_box.short_name %>
                      <%= @pe_member.pe_box.short_name %>
                      <br>
                    <% end %>
                    <%= @pe_member.pe_box.name %>
                  </span>


            <% if @pe_process.has_step_calibration? && @pe_member.step_calibration? && @pe_process.rep_detailed_final_results_show_calibration_for_manager %>

              <%= @pe_member.calibration_comment %>

            <% end %>

          </td>
          <% unless @pe_member.pe_box.description.blank? %>
            <td>
              <%= @pe_member.pe_box.description %>
            </td>
          <% end %>
        <% else %>
          <td></td>
          <td></td>
        <% end %>

      </tr>
      </tbody>
    </table>

    <strong>Valoración por dimensión y evaluación</strong>

    <table class="table table-bordered table-condensed table-hover">

      <thead>
      <tr>
        <th>
          Dimensión
        </th>
        <th>
          Evaluación
        </th>
        <th>
          Peso
        </th>
        <th>
          Resultado
        </th>
        <th>
          Valoración Dimensión
        </th>
      </tr>
      </thead>

      <tbody>
      <% @pe_process.pe_dimensions.each do |pe_dimension| %>

        <% if pe_dimension.pe_evaluations.size > 0 %>

          <tr>

            <td rowspan="<%= pe_dimension.pe_evaluations.size %>">
              <%= pe_dimension.name %>
            </td>
            <% pe_evaluation = pe_dimension.pe_evaluations.first %>

            <td width="20%">
              <%= pe_evaluation.name %>
            </td>
            <td width="10%">
              <% pe_member_evaluation = @pe_member.pe_member_evaluations.where('pe_evaluation_id = ?', pe_evaluation.id).first %>
              <% if pe_member_evaluation %>
                <%= pe_member_evaluation.weight %>%
              <% else %>
                <%= pe_evaluation.weight %>%
              <% end %>
            </td>

            <% pe_assessment_finalevaluation = @pe_member.pe_assessment_final_evaluation(pe_evaluation) %>

            <% if pe_assessment_finalevaluation && pe_assessment_finalevaluation.percentage >= 0%>

              <td style="<%= 'color: #'+pe_assessment_finalevaluation.pe_dimension_group.text_color+';' if pe_assessment_finalevaluation.pe_dimension_group %>" class="text-center">
                <%= number_with_precision(pe_assessment_finalevaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

                <%= ' - '+pe_assessment_finalevaluation.pe_dimension_group.name if pe_assessment_finalevaluation.pe_dimension_group %>
              </td>
            <% else %>
              <td></td>
            <% end %>


            <% pe_assessment_dimension = @pe_member.pe_assessment_dimension(pe_dimension) %>

            <% if pe_assessment_dimension %>

              <td rowspan="<%= pe_dimension.pe_evaluations.size %>" style="<%= 'color: #'+pe_assessment_dimension.pe_dimension_group.text_color+';' if  pe_assessment_dimension.pe_dimension_group %>">
                <nobr>
                  <%= number_with_precision(pe_assessment_dimension.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

                  <%= ' - '+pe_assessment_dimension.pe_dimension_group.name if pe_assessment_dimension.pe_dimension_group %>
                </nobr>
              </td>
            <% else %>
              <td  rowspan="<%= pe_dimension.pe_evaluations.size %>"></td>
            <% end %>

          </tr>

          <% pe_dimension.pe_evaluations.each_with_index do |pe_evaluation, pe_eval_index| %>

            <% if pe_eval_index > 0 %>

              <tr>

                <td width="20%">
                  <%= pe_evaluation.name %>
                </td>
                <td width="10%">
                  <% pe_member_evaluation = @pe_member.pe_member_evaluations.where('pe_evaluation_id = ?', pe_evaluation.id).first %>
                  <% if pe_member_evaluation %>
                    <%= pe_member_evaluation.weight %>%
                  <% else %>
                    <%= pe_evaluation.weight %>%
                  <% end %>
                </td>

                <% pe_assessment_finalevaluation = @pe_member.pe_assessment_final_evaluation(pe_evaluation) %>

                <% if pe_assessment_finalevaluation && pe_assessment_finalevaluation.percentage >= 0%>

                  <td style="<%= 'color: #'+pe_assessment_finalevaluation.pe_dimension_group.text_color+';' if pe_assessment_finalevaluation.pe_dimension_group %>" class="text-center">
                    <%= number_with_precision(pe_assessment_finalevaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

                    <%= ' - '+pe_assessment_finalevaluation.pe_dimension_group.name if pe_assessment_finalevaluation.pe_dimension_group %>
                  </td>
                <% else %>
                  <td></td>
                <% end %>

              </tr>

            <% end %>

          <% end %>

        <% end %>

        <% break unless @pe_process.two_dimensions? %>

      <% end %>


      </tbody>

    </table>

    <strong>Valoración por área</strong>

    <table class="table table-bordered table-condensed table-hover">

      <thead>
      <tr>
        <th>
          Área
        </th>
        <th>
          Responsable
        </th>
        <th>
          Peso
        </th>
        <% @pe_process.pe_evaluations.each do |pe_evaluation| %>
          <th><%= pe_evaluation.name %></th>
        <% end %>

      </tr>
      </thead>

      <tbody>
        <% @pe_member.pe_member_rels_is_evaluated_ordered_by_pe_area.each do |pe_member_rel| %>

          <% if pe_member_rel.valid_evaluator && pe_member_rel.finished %>

            <tr>

              <td>
                <%= pe_member_rel.pe_member_evaluator.pe_area.name %>
              </td>
              <td>
                <%= pe_member_rel.pe_member_evaluator.user.apellidos %>, <%= pe_member_rel.pe_member_evaluator.user.nombre %>
              </td>
              <td>
                <%= pe_member_rel.weight %>
              </td>
              <% @pe_process.pe_evaluations.each do |pe_evaluation| %>
                <% pe_assessment_evaluation = pe_member_rel.pe_assessment_evaluation pe_evaluation %>

                <% if pe_assessment_evaluation %>
                  <td style="<%= 'color: #'+pe_assessment_evaluation.pe_dimension_group.text_color+';' if pe_assessment_evaluation.pe_dimension_group %>" class="text-center">
                    <%= number_with_precision(pe_assessment_evaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

                    <%= ' - '+pe_assessment_evaluation.pe_dimension_group.name if pe_assessment_evaluation.pe_dimension_group %>
                  </td>
                <% else %>
                  <td></td>
                <% end %>

              <% end %>

            </tr>

          <% end %>

        <% end %>

      </tbody>

    </table>

    <% if @pe_process.has_step_feedback? && @pe_member.step_feedback? && @pe_process.rep_detailed_final_results_show_feedback_for_manager %>

      <strong>Retroalimentación</strong>

      <table class="table table-bordered">

        <% @pe_process.pe_feedback_fields.each_with_index do |pe_feedback_field, index_feedback_field| %>

          <% pe_member_feedback = @pe_member.pe_member_feedbacks_by_field(pe_feedback_field) %>

          <thead>
          <tr>
            <th><%= (index_feedback_field+1).to_s+'.' if @pe_process.pe_feedback_fields.size > 1%> <%= pe_feedback_field.name %></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>

              <% if pe_feedback_field.simple %>

                <%= pe_member_feedback.formatted_comment if pe_member_feedback %>

              <% else %>

                <% width_col = 12/pe_feedback_field.pe_feedback_compound_fields.size %>

                <% if pe_member_feedback %>

                  <table class="table table-bordered table-striped table-condensed">

                    <thead>
                    <tr>
                      <th>#</th>
                      <% pe_feedback_field.pe_feedback_compound_fields.each_with_index do |pe_feedback_compound_field, index_c| %>

                        <th><%= pe_feedback_compound_field.name %></th>

                      <% end %>
                    </tr>
                    </thead>

                    <tbody>

                    <% (1..pe_member_feedback.number_of_compound_feedbacks).each do |number_of_compound_feedback| %>

                      <tr>

                        <td><%= number_of_compound_feedback %></td>

                        <% pe_feedback_field.pe_feedback_compound_fields.each_with_index do |pe_feedback_compound_field, index_c| %>

                          <% pe_member_compound_feedback = pe_member_feedback.pe_member_compound_feedbacks_by_field(number_of_compound_feedback, pe_feedback_compound_field) %>

                          <td>
                            <%= pe_member_compound_feedback.formatted_comment if pe_member_compound_feedback %>
                          </td>

                        <% end %>

                      </tr>

                    <% end %>

                    </tbody>

                  </table>

                <% end %>

              <% end %>

            </td>
          </tr>
          </tbody>

        <% end %>

      </table>

    <% end %>

  </div>
</div>
