
<% pe_questions_parent = Array.new if first_element %>

<% pe_questions.each do |pe_question| %>

  <% pe_questions_children = pe_evaluation.pe_questions_by_question_ready(pe_question.id) %>

  <% if pe_questions_children.size > 0 %>

    <% pe_questions_parent.push pe_question %>

    <%= render partial: 'pe_reporting/rep_evaluations_configuration_item',
               locals: {
                 pe_member_evaluated: pe_member_evaluated,
                 pe_member_evaluator: nil,
                 pe_member_evaluation: pe_member_evaluation,
                 pe_rel: nil,
                 pe_evaluation: pe_evaluation,
                 pe_questions: pe_questions_children,
                 pe_questions_parent: pe_questions_parent,
                 first_element: false,
                 pe_member_evaluated_rel: nil,
                 max_num_elements: max_num_elements,
                 indicator_power_leverage: indicator_power_leverage,
                 general_indicator_power_leverage: general_indicator_power_leverage,
                 general_indicator_note: general_indicator_note,
                 general_indicator_note_alias: general_indicator_note_alias
               }
    %>

    <% pe_questions_parent.pop %>

  <% else %>

    <Row>

      <% if @pe_process.of_persons? %>

        <Cell>
          <Data ss:Type="String"><%= pe_member_evaluated.user.codigo %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= pe_member_evaluated.user.apellidos %>, <%= pe_member_evaluated.user.nombre %></Data>
        </Cell>

        <% @pe_process.pe_characteristics_rep_assessment_status.each do |pe_characteristic| %>
          <% pe_mc = pe_member_evaluated.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
          <Cell><Data ss:Type="String"><%= pe_mc.value if pe_mc %></Data></Cell>
        <% end %>



      <% else %>

        <Cell>
          <Data ss:Type="String"><%= pe_member_evaluated.pe_area.name %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= pe_member_evaluated.user.codigo %> - <%= pe_member_evaluated.user.apellidos %>, <%= pe_member_evaluated.user.nombre %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= pe_member_evaluator.pe_area.name %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= pe_member_evaluator.user.codigo %> - <%= pe_member_evaluator.user.apellidos %>, <%= pe_member_evaluator.user.nombre %></Data>
        </Cell>

      <% end %>



      <Cell>
        <Data ss:Type="String"><%= pe_evaluation.name %></Data>
      </Cell>

      <Cell ss:StyleID="format_number"><Data ss:Type="Number"><%= (pe_member_evaluation && pe_member_evaluation.weight) ? pe_member_evaluation.weight : pe_evaluation.weight %></Data></Cell>

      <% pe_questions_parent.each do |pe_question_parent| %>

        <Cell><Data ss:Type="String"><%= ActionView::Base.full_sanitizer.sanitize pe_question_parent.description %></Data></Cell>

      <% end %>

      <% (max_num_elements-pe_questions_parent.size-1).times do %>
        <Cell><Data ss:Type="String"></Data></Cell>
      <% end %>

      <Cell><Data ss:Type="String"><%= ActionView::Base.full_sanitizer.sanitize pe_question.description %></Data></Cell>


      <% if pe_question.pe_element.assessment_method == 1 %>

        <Cell><Data ss:Type="String">Alternativas</Data></Cell>
        <Cell ss:StyleID="format_number"><Data ss:Type="Number"><%= pe_question.weight %></Data></Cell>
        <% if general_indicator_power_leverage %>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String"></Data></Cell>

        <% pe_question.pe_alternatives.each do |pe_alternative| %>

          <Cell><Data ss:Type="String"><%= pe_alternative.description %></Data></Cell>
          <Cell><Data ss:Type="String"><%= pe_alternative.value %></Data></Cell>

        <% end %>

      <% elsif pe_question.pe_element.assessment_method == 2 %>

        <% if general_indicator_note %>
          <Cell><Data ss:Type="String"><%= ActionView::Base.full_sanitizer.sanitize pe_question.note %></Data></Cell>
        <% end %>

        <Cell><Data ss:Type="String"><%= pe_question.indicator_type_name if pe_question.indicator_type %></Data></Cell>
        <Cell ss:StyleID="format_number"><Data ss:Type="Number"><%= pe_question.weight %></Data></Cell>

        <% if indicator_power_leverage %>

          <% if pe_question.indicator_type == 5 %>

            <Cell ss:StyleID="format_number"><Data ss:Type="Number"><%= pe_question.power %></Data></Cell>
            <Cell ss:StyleID="format_number"><Data ss:Type="Number"><%= pe_question.leverage %></Data></Cell>

          <% else %>

            <Cell><Data ss:Type="String"></Data></Cell>
            <Cell><Data ss:Type="String"></Data></Cell>

          <% end %>

        <% end %>

        <Cell><Data ss:Type="String"><%= pe_question.indicator_unit %></Data></Cell>


        <% if pe_question.indicator_type == 3 %>

          <% pe_question.pe_question_ranks.each do |pe_question_rank| %>
            <% break %>
            <Cell ss:StyleID="format_number"><Data ss:Type="Number"><%= pe_question_rank.goal %></Data></Cell>
            <Cell ss:StyleID="format_number"><Data ss:Type="Number"><%= pe_question_rank.percentage %></Data></Cell>
          <% end %>

        <% elsif pe_question.indicator_type == 4 %>

          <% pe_question.pe_question_ranks.each do |pe_question_rank| %>
            <% break %>
            <Cell><Data ss:Type="String"><%= pe_question_rank.discrete_goal %></Data></Cell>
            <Cell ss:StyleID="format_number"><Data ss:Type="Number"><%= pe_question_rank.percentage %></Data></Cell>
          <% end %>

        <% else %>

          <% goal = if pe_question.indicator_type == 4 %>
            <% pe_question.indicator_discrete_goal ? CGI.unescapeHTML(pe_question.indicator_discrete_goal) : '' %>
          <% else %>
            <% pe_question.indicator_goal %>
          <% end %>

          <Cell><Data ss:Type="String"><%= goal %></Data></Cell>
          <Cell ss:StyleID="format_number"><Data ss:Type="Number">100</Data></Cell>

        <% end %>

      <% elsif pe_question.pe_element.assessment_method == 3 %>

        <Cell><Data ss:Type="String">Valor numérico</Data></Cell>
        <Cell ss:StyleID="format_number"><Data ss:Type="Number"><%= pe_question.weight %></Data></Cell>

        <% if general_indicator_power_leverage %>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String"></Data></Cell>

        <Cell ss:StyleID="format_number"><Data ss:Type="Number"><%= pe_question.pe_element.min_numeric_value %></Data></Cell>
        <Cell ss:StyleID="format_number"><Data ss:Type="Number"><%= pe_question.pe_element.max_numeric_value %></Data></Cell>

      <% end %>



    </Row>


  <% end %>

<% end %>