



<div class="panel panel-default">
  <div class="panel-body">

    <legend>Retroalimentación</legend>

    <% if @pe_member.step_feedback? && show_feedback %>

      <table class="table table-bordered">

        <% @pe_process.pe_feedback_fields.each_with_index do |pe_feedback_field, index_feedback_field| %>

          <% pe_member_feedback = @pe_member.pe_member_feedbacks_by_field(pe_feedback_field) %>

          <thead>
            <tr>
              <th><%= (index_feedback_field+1).to_s+'.' if @pe_process.pe_feedback_fields.size > 1%> <%= pe_feedback_field.name %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>

                <% if pe_feedback_field.simple %>

                  <%= pe_member_feedback.formatted_comment if pe_member_feedback %>

                <% else %>

                  <% width_col = 12/pe_feedback_field.pe_feedback_compound_fields.size %>

                  <% if pe_member_feedback %>

                    <table class="table table-bordered table-striped table-condensed">

                      <thead>
                      <tr>
                        <th>#</th>
                        <% pe_feedback_field.pe_feedback_compound_fields.each_with_index do |pe_feedback_compound_field, index_c| %>

                          <th><%= pe_feedback_compound_field.name %></th>

                        <% end %>
                      </tr>
                      </thead>

                      <tbody>

                      <% (1..pe_member_feedback.number_of_compound_feedbacks).each do |number_of_compound_feedback| %>

                        <tr>

                          <td><%= number_of_compound_feedback %></td>

                          <% pe_feedback_field.pe_feedback_compound_fields.each_with_index do |pe_feedback_compound_field, index_c| %>

                            <% pe_member_compound_feedback = pe_member_feedback.pe_member_compound_feedbacks_by_field(number_of_compound_feedback, pe_feedback_compound_field) %>

                            <td>
                              <%= pe_member_compound_feedback.formatted_comment if pe_member_compound_feedback %>
                            </td>

                          <% end %>

                        </tr>

                      <% end %>

                      </tbody>

                    </table>

                  <% end %>

                <% end %>

              </td>
            </tr>

            <% if $current_domain.include?('security') && pe_feedback_field.name.include?('solicitar capacita') && (pe_feedback_field.id == 21 || pe_feedback_field.id == 16 || pe_feedback_field.id == 23 || pe_feedback_field.id == 30 || pe_feedback_field.id == 44) && pe_member_feedback && pe_member_feedback.formatted_comment == 'Sí'  %>


              <tr>
                <td>
                  <div class="alert alert-info">
                    Todas las solicitudes de capacitación serán aprobadas en base a la evaluación y presupuesto del área.
                    <br><br>
                    Las actividades serán implementadas de acuerdo a la priorización señalada en el formulario y al tiempo disponible por cada persona.
                  </div>
                </td>
              </tr>


            <% end %>

          </tbody>



        <% end %>

      </table>

      <% if @pe_member.step_feedback_accepted? && @pe_member.pe_member_accepted_feedbacks.size > 0 %>

        <strong>Confirmación de la retroalimentación</strong>

        <table class="table table-bordered">

          <% @pe_process.pe_feedback_accepted_fields.where('is_survey = ?', false).each_with_index do |pe_feedback_accepted_field, index_feedback_field| %>

            <% pe_member_accepted_feedback = @pe_member.pe_member_accepted_feedbacks_by_field(pe_feedback_accepted_field) %>

            <thead>
            <tr>
              <th><%= (index_feedback_field+1).to_s+'.' if @pe_process.pe_feedback_accepted_fields.size > 1%> <%= pe_feedback_accepted_field.name %></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>

                <% if pe_feedback_accepted_field.simple %>

                  <%= pe_member_accepted_feedback.formatted_comment if pe_member_accepted_feedback %>

                <% end %>

              </td>
            </tr>

            </tbody>

          <% end %>

        </table>

      <% end %>

    <% end %>

  </div>
</div>
