
<% @pe_process.pe_evaluations.each do |pe_evaluation| %>

  <% pe_group = nil %>

  <% if pe_evaluation.pe_groups.size > 0 %>

    <% pe_member_group = @pe_member.pe_member_group(pe_evaluation) %>

    <% pe_group = pe_member_group.pe_group if pe_member_group %>

  <% end %>

  <% pe_evaluation_rels_array = Array.new %>

  <% pe_evaluation.pe_evaluation_rels.each do |pe_evaluation_rel| %>
    <% pe_evaluation_rels_array.push(pe_evaluation_rel) if pe_evaluation_rel.pe_rel.rel_id == 1 && @pe_member.is_evaluated_as_pe_rel?(pe_evaluation_rel.pe_rel) %>
  <% end %>

  <% pe_element_1st = pe_evaluation.pe_elements.first %>

  <% if pe_element_1st && pe_element_1st.assessed %>

    <% col_span = 1+pe_evaluation_rels_array.size %>
    <% col_span += 1 if show_average %>

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Detalle de <%= pe_evaluation.name.downcase %></legend>

          <% num_t_eval = 0 %>

          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th><strong><%= pe_element_1st.name %></strong></th>

                <% show_weight = 0 %>

                <% pe_evaluation.pe_evaluation_rels.each do |pe_evaluation_rel| %>
                  <% show_weight +=1 if @pe_member.is_evaluated_as_pe_rel? pe_evaluation_rel.pe_rel %>
                <% end %>

                <% pe_evaluation_rels_array.each do |pe_evaluation_rel| %>

                    <td width="40%">
                      <nobr>
                        <strong>
                          <%= pe_evaluation_rel.pe_rel.alias %>

                          <% if show_weight > 1 && @pe_process.rep_detailed_final_results_show_rel_weight? %>

                            (<%= number_with_precision(pe_evaluation_rel.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>)

                          <% end %>

                        </strong>
                      </nobr>
                    </td>
                <% end %>
                <% if show_average %>
                  <th width="1%"><nobr><strong>Resultado</strong></nobr></th>
                <% end %>

              </tr>
            </thead>
            <tbody>
              <% pe_evaluation.pe_questions_only_by_pe_member_and_group_1st_level_ready_and_not_informative(@pe_member, pe_group).each do |pe_question_1st| %>

                <% sum_t = 0 %>
                <% num_t = 0 %>

                <tr id="rep_detailed_final_results_everybody_2nd_level_det_pe_question_<%= pe_question_1st.id %>">
                  <td>

                    <%= pe_question_1st.description.html_safe %>

                  </td>

                  <% pe_evaluation_rels_array.each do |pe_evaluation_rel| %>
                      <td>

                        <% pe_rel = pe_evaluation_rel.pe_rel %>

                        <% sum = 0 %>
                        <% num = 0 %>

                        <% res_value = nil %>

                        <% @pe_member.pe_member_rels_is_evaluated_as_pe_rel(pe_rel).each do |pe_member_rel_is_evaluated| %>

                          <% if pe_member_rel_is_evaluated.valid_evaluator && pe_member_rel_is_evaluated.finished %>

                            <% pe_assessment_evaluation = pe_evaluation.pe_assessment_evaluation_by_pe_member_rel pe_member_rel_is_evaluated %>

                            <% if pe_assessment_evaluation %>

                              <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question_1st) %>

                              <% if pe_assessment_question && pe_assessment_question.percentage && pe_assessment_question.percentage >= 0 && pe_assessment_question.points >= 0 %>

                                <% sum += pe_assessment_question.percentage*pe_member_rel_is_evaluated.weight if pe_assessment_question.percentage > 0 %>
                                <% num += pe_member_rel_is_evaluated.weight %>

                                <% res_value = pe_assessment_question.pe_alternative.description %>

                              <% end %>

                            <% end %>

                          <% end %>

                        <% end %>

                        <% if num > 0 %>

                          <% res = num > 0 ? (sum/num).round(1) : 0 %>

                          <% sum_t += res %>
                          <% num_t += 1 %>

                          <% if show_values %>

                            <%= res_value.html_safe %>

                          <% else %>
                            <%= number_with_precision(res, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                          <% end %>

                        <% end %>

                      </td>
                  <% end %>

                  <% if show_average %>

                    <%

                      total_weight = 0
                      total_points = 0

                      if pe_evaluation.final_evaluation_operation_evaluators == 0

                        #agrupando relaciones

                        pe_evaluation.pe_evaluation_rels.each do |pe_evaluation_rel|

                          tmp_weight = 0
                          tmp_points = 0

                          @pe_member.pe_member_rels_is_evaluated_as_pe_rel(pe_evaluation_rel.pe_rel).each do |pe_member_rel_is_evaluated|

                            if pe_member_rel_is_evaluated.valid_evaluator && pe_member_rel_is_evaluated.finished

                              pe_assessment_evaluation = pe_member_rel_is_evaluated.pe_assessment_evaluation(pe_evaluation)

                              if pe_assessment_evaluation

                                pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question_1st)

                                if pe_assessment_question && pe_assessment_question.percentage && pe_assessment_question.points >= 0

                                  tmp_points += pe_assessment_question.percentage*pe_member_rel_is_evaluated.weight if pe_assessment_question.percentage > 0
                                  tmp_weight += pe_member_rel_is_evaluated.weight

                                end

                              end

                            end

                          end

                          if tmp_weight > 0

                            tmp_points = tmp_points/tmp_weight.to_f

                            total_points += tmp_points*pe_evaluation_rel.weight
                            total_weight += pe_evaluation_rel.weight

                          end

                        end

                      elsif pe_evaluation.final_evaluation_operation_evaluators == 1

                        #sin agrupar relaciones

                        @pe_member.pe_member_rels_is_evaluated.each do |pe_member_rel_is_evaluated|

                          if pe_member_rel_is_evaluated.valid_evaluator && pe_member_rel_is_evaluated.finished

                            pe_assessment_evaluation = pe_member_rel_is_evaluated.pe_assessment_evaluation(pe_evaluation)

                            if pe_assessment_evaluation

                              pe_evaluation_rel = pe_assessment_evaluation.pe_evaluation.pe_evaluation_rel pe_assessment_evaluation.pe_member_rel.pe_rel

                              pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question_1st)

                              if pe_assessment_question && pe_assessment_question.percentage && pe_assessment_question.points >= 0

                                total_weight += pe_evaluation_rel.weight*pe_member_rel_is_evaluated.weight

                                total_points += pe_assessment_question.percentage*(pe_evaluation_rel.weight*pe_member_rel_is_evaluated.weight) if pe_assessment_question.percentage > 0

                              end

                            end

                          end

                        end

                      elsif pe_evaluation.final_evaluation_operation_evaluators == 2

                        #agrupando areas

                        pe_areas_evaluators = Array.new

                        @pe_member.pe_member_rels_is_evaluated.each do |pe_member_rel_is_evaluated|
                          pe_areas_evaluators.push pe_member_rel_is_evaluated.pe_member_evaluator.pe_area
                        end

                        pe_areas_evaluators.uniq!

                        pe_areas_evaluators.each do |pe_area_evaluator|

                          tmp_weight = 0
                          tmp_points = 0

                          @pe_member.pe_member_rels_is_evaluated_as_pe_area(pe_area_evaluator).each do |pe_member_rel_is_evaluated|

                            if pe_member_rel_is_evaluated.valid_evaluator && pe_member_rel_is_evaluated.finished

                              pe_assessment_evaluation = pe_member_rel_is_evaluated.pe_assessment_evaluation(pe_evaluation)

                              if pe_assessment_evaluation

                                pe_evaluation_rel = pe_assessment_evaluation.pe_evaluation.pe_evaluation_rel pe_assessment_evaluation.pe_member_rel.pe_rel

                                pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question_1st)

                                if pe_assessment_question && pe_assessment_question.percentage && pe_assessment_question.points >= 0

                                  tmp_weight += pe_evaluation_rel.weight*pe_member_rel_is_evaluated.weight

                                  tmp_points += pe_assessment_evaluation.percentage*(pe_evaluation_rel.weight*pe_member_rel_is_evaluated.weight) if pe_assessment_evaluation.percentage > 0

                                end

                              end

                            end

                          end

                          if tmp_weight > 0

                            tmp_points = tmp_points/tmp_weight.to_f

                            total_points += tmp_points*1
                            total_weight += 1

                          end

                        end

                      end

                    %>

                    <td>

                    <% if total_weight > 0 %>
                      <% res = total_points/total_weight.to_f %>

                      <% res = pe_evaluation.min_percentage if res < pe_evaluation.min_percentage %>
                      <% res = pe_evaluation.max_percentage if res > pe_evaluation.max_percentage %>

                      <%= number_with_precision(res, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%

                    <% end %>

                    </td>

                  <% end %>

                </tr>

                <% if num_t == 0 %>
                  <script>
                    $(document).ready(function() {
                      $('#rep_detailed_final_results_everybody_2nd_level_det_pe_question_<%= pe_question_1st.id %>').hide();
                    });
                  </script>
                <% else %>
                  <% num_t_eval += num_t %>
                <% end %>

              <% end %>
            </tbody>

          </table>

      </div>
    </div>

  <% end %>

<% end %>

