<% if @pe_process.of_persons? %>
  <% pe_member_rels_is_evaluated = @pe_member.pe_member_rels_is_evaluated_ordered %>
<% else %>
  <% pe_member_rels_is_evaluated = @pe_member.pe_member_rels_is_evaluated_ordered_by_pe_area %>
<% end %>

<div class="panel">

  <div class="panel-body">

    <legend>Detalle por evaluador</legend>


      <% pe_member_rels_is_evaluated.each do |pe_member_rel_is_evaluated| %>

        <% if pe_member_rel_is_evaluated.valid_evaluator && pe_member_rel_is_evaluated.finished %>

          <% pe_rel = pe_member_rel_is_evaluated.pe_rel %>

          <% num_evals = 0 %>

          <div class="panel panel-default" id="rep_detailed_final_results_per_evaluator_1st_level_<%= pe_member_rel_is_evaluated.id %>">

            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#rep_detailed_final_results_per_evaluator_1st_level_<%= pe_member_rel_is_evaluated.id %>_c" aria-expanded="true" aria-controls="rep_detailed_final_results_per_evaluator_1st_level_<%= pe_member_rel_is_evaluated.id %>_c">
                  <% if pe_rel.rel_name == :auto %>

                    <%= pe_rel.alias %>

                  <% else %>

                    Evaluación de <%= pe_rel.alias.downcase %>:

                    <% unless @pe_process.of_persons? %>

                      <%= pe_member_rel_is_evaluated.pe_member_evaluator.pe_area.name %> -

                    <% end %>

                    <%= pe_member_rel_is_evaluated.pe_member_evaluator.user.apellidos %>, <%= pe_member_rel_is_evaluated.pe_member_evaluator.user.nombre %>

                  <% end %>
                </a>
              </h4>
            </div>

            <div id="rep_detailed_final_results_per_evaluator_1st_level_<%= pe_member_rel_is_evaluated.id %>_c" class="panel-collapse collapse" role="tabpanel" aria-labelledby="rep_detailed_final_results_per_evaluator_1st_level_<%= pe_member_rel_is_evaluated.id %>_c">

              <div class="panel-body">

                <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

                  <% if pe_evaluation.has_pe_evaluation_rel pe_rel %>

                    <% pe_element = pe_evaluation.pe_elements.first %>

                    <% if pe_element && pe_element.assessed %>

                      <table class="table table-bordered table-condensed" id="rep_detailed_final_results_per_evaluator_1st_level_<%= pe_member_rel_is_evaluated.pe_member_evaluator.id %>_<%= pe_evaluation.id %>">
                        <thead>
                          <tr>
                            <th width="1%">#</th>
                            <th colspan="<%= pe_element.simple ? '1' : pe_element.pe_element_descriptions.size %>"><%= pe_evaluation.name %></th>
                            <th width="1%">Resultado</th>
                          </tr>
                          <% unless pe_element.simple %>
                            <tr>
                              <th></th>
                              <% pe_element.pe_element_descriptions.each do |pe_element_description| %>
                                <th><%= pe_element_description.name %></th>
                              <% end %>
                              <th></th>
                            </tr>
                          <% end %>
                        </thead>
                        <tbody>

                          <% sum_t = 0 %>
                          <% num_t = 0 %>

                          <% index_pq_q = 0 %>

                          <% pe_group = nil %>

                          <% if pe_evaluation.pe_groups.size > 0 %>

                            <% pe_member_group = @pe_member.pe_member_group(pe_evaluation) %>

                            <% pe_group = pe_member_group.pe_group if pe_member_group %>

                          <% end %>

                          <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready_and_not_informative(@pe_member, pe_member_rel_is_evaluated.pe_member_evaluator, pe_group, pe_rel).each do |pe_question| %>

                            <% sum = 0 %>
                            <% num = 0 %>

                            <% pe_assessment_evaluation = pe_evaluation.pe_assessment_evaluation_by_pe_member_rel pe_member_rel_is_evaluated %>

                            <% if pe_assessment_evaluation %>

                              <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question) %>

                              <% if pe_assessment_question && pe_assessment_question.percentage && pe_assessment_question.percentage >= 0 %>

                                <% sum += pe_assessment_question.percentage %>
                                <% num += 1 %>

                              <% end %>

                            <% end %>

                            <% if num > 0 %>

                              <% res = num > 0 ? (sum/num).round(1) : 0 %>
                              <% res_width = res > 100 ? 100 : res %>

                              <% sum_t += res %>
                              <% num_t += 1 %>

                              <tr>
                                <td><%= index_pq_q += 1 %></td>
                                <% if pe_element.simple %>
                                  <td><%= pe_question.description.html_safe %></td>
                                <% else %>
                                  <% pe_element.pe_element_descriptions.each do |pe_element_description| %>

                                    <td>

                                      <% pe_question_description = pe_question.pe_question_descriptions.where('pe_element_description_id = ?', pe_element_description.id).first %>

                                      <%= pe_question_description.description.html_safe if pe_question_description%>

                                    </td>

                                  <% end %>
                                <% end %>
                                <td>

                                  <div class="progress" style="margin-bottom: 0px;">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="<%= res_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= res_width %>%;">
                                      <%= number_with_precision(res, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                                    </div>
                                  </div>

                                </td>

                              </tr>

                            <% end %>

                          <% end %>

                        </tbody>

                        <thead>
                          <tr>
                            <th colspan="<%= pe_element.simple ? '2' : pe_element.pe_element_descriptions.size+1 %>"class="text-right">Promedio</th>
                            <th>

                              <% res = num_t > 0 ? (sum_t/num_t).round(1) : 0 %>
                              <% res_width = res > 100 ? 100 : res %>

                              <div class="progress" style="margin-bottom: 0px;">
                                <div class="progress-bar" role="progressbar" aria-valuenow="<%= res_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= res_width %>%;">
                                  <%= number_with_precision(res, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                                </div>
                              </div>

                            </th>
                          </tr>
                        </thead>

                      </table>
                      <% if num_t > 0 %>
                        <% num_evals += 1 %>
                      <% else %>
                        <script>
                          $(document).ready(function() {
                            $('#rep_detailed_final_results_per_evaluator_1st_level_<%= pe_member_rel_is_evaluated.pe_member_evaluator.id %>_<%= pe_evaluation.id %>').hide();
                          });
                        </script>
                      <% end %>
                    <% end %>

                  <% end %>

                <% end %>

              </div>
            </div>

            <% if num_evals == 0 %>
              <script>
                $(document).ready(function() {
                  $('#rep_detailed_final_results_per_evaluator_1st_level_<%= pe_member_rel_is_evaluated.id %>').hide();
                });
              </script>
            <% end %>

          </div>

        <% end %>

      <% end %>
      </div>

  </div>

</div>