

<% pe_rel = @pe_process.pe_rel_by_id 1  %>

<% if pe_rel %>

  <% if @pe_process.of_persons? %>
    <% pe_member_rels_is_evaluated = @pe_member.pe_member_rels_is_evaluated_as_pe_rel_ordered(pe_rel) %>
  <% else %>
    <% pe_member_rels_is_evaluated = nil %>
  <% end %>

  <% pe_member_rels_is_evaluated.each do |pe_member_rel_is_evaluated| %>

    <% if pe_member_rel_is_evaluated.valid_evaluator && pe_member_rel_is_evaluated.finished %>

      <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

        <% pe_assessment_evaluation = pe_member_rel_is_evaluated.pe_assessment_evaluation(pe_evaluation) %>

        <% if pe_evaluation.has_pe_evaluation_rel(pe_rel) && pe_evaluation.assessment_layout == 1 && pe_evaluation.pe_elements.size == 2 %>

          <div class="panel panel-default" id="rep_detailed_final_results_per_evaluator_1st_level_<%= pe_member_rel_is_evaluated.id %>">

            <div id="rep_detailed_final_results_per_evaluator_1st_level_<%= pe_member_rel_is_evaluated.id %>_c" aria-labelledby="rep_detailed_final_results_per_evaluator_1st_level_<%= pe_member_rel_is_evaluated.id %>_c">

              <div class="panel-body">

                <legend>

                  <%= pe_evaluation.name %>

                </legend>

                <% if pe_assessment_evaluation %>

                  <table class="table table-bordered">

                    <thead></thead>

                    <% pe_element_1st = pe_evaluation.pe_elements.first %>

                    <% pe_group = nil %>

                    <% if pe_evaluation.pe_groups.size > 0 %>

                      <% pe_member_group = pe_member_rel_is_evaluated.pe_member_evaluated.pe_member_group(pe_evaluation) %>

                      <% pe_group = pe_member_group.pe_group if pe_member_group %>

                    <% end %>

                    <% num_1st_level = 1 %>

                    <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(pe_member_rel_is_evaluated.pe_member_evaluated, pe_member_rel_is_evaluated.pe_member_evaluator, pe_group, pe_rel).each_with_index do |pe_question_1st_level| %>

                      <% if pe_element_1st.visible %>

                        <tbody>

                        <tr>
                          <td>
                            <%= num_1st_level%>
                          </td>
                          <td colspan="6">
                            <strong>

                              <% if pe_element_1st.display_name %>
                                <%= pe_element_1st.name %>.
                              <% end %>
                              <%= pe_question_1st_level.description.html_safe %>
                            </strong>

                          </td>
                        </tr>

                        </tbody>

                      <% end %>

                      <thead>

                        <tr>
                          <th></th>
                          <th><%= pe_evaluation.pe_elements.last.name %></th>
                          <th>Peso</th>
                          <th>Meta</th>
                          <th>Unidad</th>
                          <th>Meta lograda</th>
                          <th>Logro</th>
                        </tr>

                      </thead>

                      <% num_2nd_level = 1 %>

                      <tbody>

                      <% pe_evaluation.pe_questions_by_question_ready(pe_question_1st_level).each do |pe_question_2nd_level| %>

                        <tr>
                          <td>
                            <%= num_1st_level %>.<%= num_2nd_level %>
                          </td>
                          <td>

                            <% if pe_question_2nd_level.kpi_indicator %>
                              <span class="label label-success">KPI</span>&nbsp;
                            <% end %>

                            <% if pe_question_2nd_level.pe_element.display_name %>
                              <%= pe_question_2nd_level.pe_element.name %>.
                            <% end %>

                            <% if pe_question_2nd_level.pe_element.kpi_dashboard && pe_question_2nd_level.kpi_indicator %>

                              <%= pe_question_2nd_level.kpi_indicator.name %>

                            <% else %>

                              <%= pe_question_2nd_level.description.html_safe %>

                            <% end %>

                            <% if pe_question_2nd_level.pe_element.allow_note && !pe_question_2nd_level.note.blank? %>

                              <%= render partial: 'pe_processes/pe_question_note',
                                         locals: {
                                             pe_question: pe_question_2nd_level
                                         }
                              %>

                            <% end %>

                            <% if show_comments && pe_question_2nd_level.pe_question_comments_by_pe_member_rels(pe_member_rels_is_evaluated).size > 0 %>
                              <em>
                                <br><br>
                                <strong>Comentarios <i class="fa fa-comment" aria-hidden="true"></i>:</strong>
                                <br>

                                <% pe_question_2nd_level.pe_question_comments_by_pe_member_rels(pe_member_rels_is_evaluated).each do |pe_question_comment| %>
                                  - <%= pe_question_comment.comment.html_safe %><br>
                                <% end %>
                              </em>
                            <% end %>

                          </td>
                          <td>
                            <%= number_with_precision(pe_question_2nd_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                          </td>
                          <td>

                            <%= render partial: 'pe_processes/indicator_goal_temp',
                                       locals: {
                                           pe_question: pe_question_2nd_level
                                       }
                            %>

                          </td>
                          <td>
                            <%= pe_question_2nd_level.indicator_unit %>
                          </td>
                          <td>

                            <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question_2nd_level) %>

                            <% unless pe_question_2nd_level.pe_element.kpi_dashboard && pe_question_2nd_level.kpi_indicator %>


                              <% if pe_question_2nd_level.indicator_type == 4 %>

                                <select class="form-control" name="pe_question_<%= pe_question_2nd_level.id %>">

                                  <option value="">--Sin registro--</option>

                                  <% pe_question_2nd_level.pe_question_ranks.each do  |qr| %>

                                    <option value="<%= qr.discrete_goal %>" <%= 'selected' if pe_assessment_question && qr.discrete_goal == pe_assessment_question.indicator_discrete_achievement %> ><%= qr.discrete_goal.html_safe %></option>

                                  <% end %>

                                </select>

                              <% else %>
                                <%= number_with_precision(pe_assessment_question.indicator_achievement, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) if pe_assessment_question %>
                                <% pe_question_2nd_level.indicator_unit %>
                              <% end %>

                            <% end %>


                          </td>
                          <td width="15%">

                            <% if pe_assessment_question %>

                              <% ancho_p_b = 0 %>

                              <% ancho_p_b = pe_assessment_question.percentage && pe_assessment_question.percentage < 100 ? pe_assessment_question.percentage.to_i : 100 %>

                              <% if pe_question_2nd_level.indicator_type != 4 || (pe_question_2nd_level.indicator_type == 4 && !pe_assessment_question.indicator_discrete_achievement.blank?) %>

                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="<%= ancho_p_b %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= ancho_p_b %>%;">
                                    <%= number_with_precision(pe_assessment_question.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
                                  </div>
                                </div>

                              <% end %>

                            <% end %>

                          </td>

                        </tr>

                        <% num_2nd_level += 1 %>

                      <% end %>

                      </tbody>

                      <% num_1st_level = +1 %>

                    <% end %>

                  </table>

                <% end %>

              </div>

            </div>

          </div>

        <% end %>

      <% end %>





    <% end %>

  <% end %>

<% end %>