
<% num_evals = 0 %>

<div class="panel panel-default" id="rep_detailed_final_results_pe_rel_1st_level_<%= pe_rel.id %>">
  <div class="panel-body">

    <legend>

      <% if pe_rel.rel_name == :jefe %>

        Evaluación del <%= pe_rel.alias.downcase %>

      <% elsif pe_rel.rel_name == :auto %>

        <%= pe_rel.alias %>

      <% else %>

        Evaluación de todos los <%= pe_rel.alias_plural.downcase %>

      <% end %>

    </legend>

    <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

      <% if pe_evaluation.has_pe_evaluation_rel pe_rel %>

        <% pe_element = pe_evaluation.pe_elements.first %>

        <% if pe_element && pe_element.assessed %>

          <table class="table table-bordered table-condensed" id="rep_detailed_final_results_pe_rel_1st_level_eval_<%= pe_rel.id %>_<%= pe_evaluation.id %>">
            <thead>
              <tr>
                <th width="1%">#</th>
                <th><%= pe_evaluation.name %></th>
                <th width="30%">Resultado</th>
              </tr>
            </thead>
            <tbody>

              <% sum_t = 0 %>
              <% num_t = 0 %>

              <% index_pq_q = 0 %>

              <% pe_evaluation.pe_questions_by_element_ready_and_not_informative(pe_element, nil).each do |pe_question| %>

                <% sum = 0 %>
                <% num = 0 %>

                <% general_comments = Array.new %>

                <% pe_member_rels_is_evaluated = @pe_member.pe_member_rels_is_evaluated_as_pe_rel(pe_rel) %>

                <% pe_member_rels_is_evaluated.each do |pe_member_rel_is_evaluated| %>

                  <% if pe_member_rel_is_evaluated.valid_evaluator && pe_member_rel_is_evaluated.finished %>

                    <% pe_assessment_evaluation = pe_evaluation.pe_assessment_evaluation_by_pe_member_rel pe_member_rel_is_evaluated %>

                    <% if pe_assessment_evaluation %>

                      <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question) %>

                      <% if pe_assessment_question && pe_assessment_question.percentage && pe_assessment_question.percentage >= 0 %>

                        <% general_comments.push pe_assessment_question.comment unless pe_assessment_question.comment.blank?  %>

                        <% sum += pe_assessment_question.percentage %>
                        <% num += 1 %>

                      <% end %>

                    <% end %>

                  <% end %>

                <% end %>

                <% if num > 0 %>

                  <% res = num > 0 ? (sum/num).round(1) : 0 %>
                  <% res_width = res > 100 ? 100 : res %>

                  <% sum_t += res*pe_question.weight %>
                  <% num_t += pe_question.weight %>

                  <tr>
                    <td><%= index_pq_q += 1 %></td>
                    <td>
                      <%= pe_question.description.html_safe %>

                      <% if general_comments.size > 0 %>
                        <br>
                        <% general_comments.each do |c| %>
                          <br>
                          <strong>Comentario <%= pe_rel.alias %>:</strong> <%= c %>
                        <% end %>

                      <% end %>



                      <% individual_comments = pe_question.pe_question_comments_by_pe_member_rels(pe_member_rels_is_evaluated) %>

                      <% if individual_comments.size > 0 %>
                        <em>
                        <br><br>
                        <strong>Comentarios <i class="fa fa-comment" aria-hidden="true"></i>:</strong>
                        <br>

                        <% individual_comments.each do |pe_question_comment| %>
                          - <%= pe_question_comment.comment.html_safe if pe_question_comment.comment %><br>
                        <% end %>
                        </em>
                      <% end %>
                    </td>
                    <td>

                      <div class="progress" style="margin-bottom: 0px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="<%= res_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= res_width %>%;">
                          <%= number_with_precision(res, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                        </div>
                      </div>

                    </td>

                  </tr>

                <% end %>

              <% end %>

            </tbody>

            <% if @pe_process.of_persons? %>

              <thead>
                <tr>
                  <th colspan="2" class="text-right">Promedio</th>
                  <th>

                    <% res = num_t > 0 ? (sum_t/num_t).round(2) : 0 %>
                    <% res_width = res > 100 ? 100 : res %>

                    <div class="progress" style="margin-bottom: 0px;">
                      <div class="progress-bar" role="progressbar" aria-valuenow="<%= res_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= res_width %>%;">
                        <%= number_with_precision(res, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                      </div>
                    </div>

                  </th>
                </tr>
              </thead>

            <% end %>

          </table>
          <% if num_t > 0 %>
            <% num_evals += 1 %>
          <% else %>
            <script>
              $(document).ready(function() {
                $('#rep_detailed_final_results_pe_rel_1st_level_eval_<%= pe_rel.id %>_<%= pe_evaluation.id %>').hide();
              });
            </script>
          <% end %>
        <% end %>

      <% end %>

    <% end %>

  </div>
</div>

<% if num_evals == 0 %>
  <script>
    $(document).ready(function() {
      $('#rep_detailed_final_results_pe_rel_1st_level_<%= pe_rel.id %>').hide();
    });
  </script>
<% end %>

