
<% @pe_process.pe_evaluations.each do |pe_evaluation| %>

  <% pe_element_1st = pe_evaluation.pe_elements.first %>
  <% pe_element_2nd = pe_evaluation.pe_elements.second %>

  <% if pe_element_2nd && pe_element_2nd.assessed %>

    <% pe_evaluation.pe_questions_by_element_ready_and_informative(pe_element_1st, nil).each do |pe_question_1st| %>

      <% num_t_eval = 0 %>

      <div class="panel panel-default" id="rep_detailed_final_results_everybody_2nd_level_det_pe_question_<%= pe_question_1st.id %>">
        <div class="panel-body">

          <legend><%= pe_question_1st.description.html_safe %></legend>

          <% pe_evaluation.pe_questions_by_element_ready_and_informative(pe_element_2nd, pe_question_1st).each do |pe_question_2nd| %>

            <% num_t = 0 %>

            <table class="table table-bordered table-condensed" id="rep_detailed_final_results_everybody_2nd_level_det_pe_question_<%= pe_question_2nd.id %>">

              <thead>
                <tr>
                  <th colspan="2"><%= pe_question_2nd.description.html_safe %></th>
                </tr>
              </thead>
              <tbody>


                <% pe_evaluation.pe_evaluation_rels.each do |pe_evaluation_rel| %>

                  <% if @pe_member.is_evaluated_as_pe_rel? pe_evaluation_rel.pe_rel %>

                    <% pe_rel = pe_evaluation_rel.pe_rel %>

                    <% num = 0 %>

                    <% @pe_member.pe_member_rels_is_evaluated_as_pe_rel(pe_rel).each do |pe_member_rel_is_evaluated| %>

                      <% if pe_member_rel_is_evaluated.valid_evaluator && pe_member_rel_is_evaluated.finished %>

                        <% pe_assessment_evaluation = pe_evaluation.pe_assessment_evaluation_by_pe_member_rel pe_member_rel_is_evaluated %>

                        <% if pe_assessment_evaluation %>

                          <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question_2nd) %>

                          <% if pe_assessment_question %>
                            <tr>
                              <td width="30%"><%= pe_rel.alias %></td>
                              <td>
                                <%= pe_assessment_question.comment if pe_question_2nd.has_comment %>

                                <%= pe_assessment_question.pe_alternative.description if pe_element_2nd.assessment_method == 1 && pe_assessment_question.pe_alternative %>

                              </td>
                            </tr>
                            <% num += 1 %>

                          <% end %>

                        <% end %>

                      <% end %>

                    <% end %>

                    <% num_t += 1 if num > 0 %>

                  <% end %>
                <% end %>

              </tbody>

            </table>

            <% if num_t == 0 %>
              <script>
                $(document).ready(function() {
                  $('#rep_detailed_final_results_everybody_2nd_level_det_pe_question_<%= pe_question_2nd.id %>').hide();
                });
              </script>
            <% else %>
              <% num_t_eval += num_t %>
            <% end %>

          <% end %>

        </div>
      </div>

      <% if num_t_eval == 0 %>
        <script>
          $(document).ready(function() {
            $('#rep_detailed_final_results_everybody_2nd_level_det_pe_question_<%= pe_question_1st.id %>').hide();
          });
        </script>
      <% end %>

    <% end %>

  <% end %>

<% end %>

