
<div class="panel panel-default">
  <div class="panel-body">

    <legend>Evaluación de todos los evaluadores</legend>

    <% @pe_process.pe_evaluations.where('informative = ?', false).each do |pe_evaluation| %>

      <% pe_element = pe_evaluation.pe_elements.first %>

      <% if pe_element && pe_element.assessed %>

        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th width="1%">#</th>
              <th><%= pe_evaluation.name %></th>
              <th width="30%">Resultado</th>
            </tr>
          </thead>
          <tbody>

            <% index_pq_q = 0 %>

            <% pe_evaluation.pe_questions_by_element_ready_and_not_informative(pe_element, nil).each do |pe_question| %>

              <%

                total_weight = 0
                total_points = 0

                if pe_evaluation.final_evaluation_operation_evaluators == 0

                  #agrupando relaciones

                  pe_evaluation.pe_evaluation_rels.each do |pe_evaluation_rel|

                    tmp_weight = 0
                    tmp_points = 0

                    @pe_member.pe_member_rels_is_evaluated_as_pe_rel(pe_evaluation_rel.pe_rel).each do |pe_member_rel_is_evaluated|

                      if pe_member_rel_is_evaluated.valid_evaluator && pe_member_rel_is_evaluated.finished

                        pe_assessment_evaluation = pe_member_rel_is_evaluated.pe_assessment_evaluation(pe_evaluation)

                        if pe_assessment_evaluation

                          pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question)

                          if pe_assessment_question && pe_assessment_question.percentage

                            tmp_points += pe_assessment_question.percentage*pe_member_rel_is_evaluated.weight if pe_assessment_question.percentage > 0
                            tmp_weight += pe_member_rel_is_evaluated.weight

                          end

                        end

                      end

                    end

                    if tmp_weight > 0

                      tmp_points = tmp_points/tmp_weight.to_f

                      total_points += tmp_points*pe_evaluation_rel.weight
                      total_weight += pe_evaluation_rel.weight

                    end

                  end

                elsif pe_evaluation.final_evaluation_operation_evaluators == 1

                  #sin agrupar relaciones

                  @pe_member.pe_member_rels_is_evaluated.each do |pe_member_rel_is_evaluated|

                    if pe_member_rel_is_evaluated.valid_evaluator && pe_member_rel_is_evaluated.finished

                      pe_assessment_evaluation = pe_member_rel_is_evaluated.pe_assessment_evaluation(pe_evaluation)

                      if pe_assessment_evaluation

                        pe_evaluation_rel = pe_assessment_evaluation.pe_evaluation.pe_evaluation_rel pe_assessment_evaluation.pe_member_rel.pe_rel

                        pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question)

                        if pe_assessment_question && pe_assessment_question.percentage

                          total_weight += pe_evaluation_rel.weight*pe_member_rel_is_evaluated.weight

                          total_points += pe_assessment_question.percentage*(pe_evaluation_rel.weight*pe_member_rel_is_evaluated.weight) if pe_assessment_question.percentage > 0

                        end

                      end

                    end

                  end

                elsif pe_evaluation.final_evaluation_operation_evaluators == 2

                  #agrupando areas

                  pe_areas_evaluators = Array.new

                  @pe_member.pe_member_rels_is_evaluated.each do |pe_member_rel_is_evaluated|
                    pe_areas_evaluators.push pe_member_rel_is_evaluated.pe_member_evaluator.pe_area
                  end

                  pe_areas_evaluators.uniq!

                  pe_areas_evaluators.each do |pe_area_evaluator|

                    tmp_weight = 0
                    tmp_points = 0

                    @pe_member.pe_member_rels_is_evaluated_as_pe_area(pe_area_evaluator).each do |pe_member_rel_is_evaluated|

                      if pe_member_rel_is_evaluated.valid_evaluator && pe_member_rel_is_evaluated.finished

                        pe_assessment_evaluation = pe_member_rel_is_evaluated.pe_assessment_evaluation(pe_evaluation)

                        if pe_assessment_evaluation

                          pe_evaluation_rel = pe_assessment_evaluation.pe_evaluation.pe_evaluation_rel pe_assessment_evaluation.pe_member_rel.pe_rel

                          pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question)

                          if pe_assessment_question && pe_assessment_question.percentage

                            tmp_weight += pe_evaluation_rel.weight*pe_member_rel_is_evaluated.weight

                            tmp_points += pe_assessment_evaluation.percentage*(pe_evaluation_rel.weight*pe_member_rel_is_evaluated.weight) if pe_assessment_evaluation.percentage > 0

                          end

                        end

                      end

                    end

                    if tmp_weight > 0

                      tmp_points = tmp_points/tmp_weight.to_f

                      total_points += tmp_points*1
                      total_weight += 1

                    end

                  end

                end

              %>

              <% if total_weight > 0 %>
                <% res = total_points/total_weight.to_f %>

                <% res = pe_evaluation.min_percentage if res < pe_evaluation.min_percentage %>
                <% res = pe_evaluation.max_percentage if res > pe_evaluation.max_percentage %>

                <% res_width = res > 100 ? 100 : res %>

                <tr>
                  <td><%= index_pq_q += 1 %></td>
                  <td>
                    <%= pe_question.description.html_safe %>
                  </td>
                  <td>



                    <div class="progress" style="margin-bottom: 0px;">
                      <div class="progress-bar" role="progressbar" aria-valuenow="<%= res_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= res_width %>%;">
                        <%= number_with_precision(res, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                      </div>
                    </div>

                  </td>

                </tr>

              <% end %>

            <% end %>

          </tbody>

          <% pe_assessment_final_evaluation = @pe_member.pe_assessment_final_evaluation pe_evaluation %>

          <% if @pe_process.of_persons? && pe_assessment_final_evaluation %>

            <thead>
            <tr>
              <th colspan="2" class="text-right">Resultado</th>
              <th>

                <% res_width = pe_assessment_final_evaluation.percentage > 100 ? 100 : pe_assessment_final_evaluation.percentage %>

                <div class="progress" style="margin-bottom: 0px;">
                  <div class="progress-bar" role="progressbar" aria-valuenow="<%= res_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= res_width %>%;">
                    <%= number_with_precision(pe_assessment_final_evaluation.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                  </div>
                </div>

              </th>
            </tr>
            </thead>

          <% end %>

        </table>


      <% end %>


    <% end %>

  </div>
</div>
