



<div class="panel panel-default">
  <div class="panel-body">

    <% if @pe_process.two_dimensions %>

      <%= render partial: 'pe_reporting/boxes_2d' %>

    <% else %>

      <% render partial: 'pe_reporting/boxes_1d' %>

    <% end %>

  </div>
</div>
