
<% @pe_process.pe_evaluations.each do |pe_evaluation| %>

  <% eval_inf = false %>

  <% pe_group = nil %>

  <% if pe_evaluation.pe_groups.size > 0 %>

    <% pe_member_group = @pe_member.pe_member_group(pe_evaluation) %>

    <% pe_group = pe_member_group.pe_group if pe_member_group %>

  <% end %>

  <div class="panel panel-default" id="rep_detailed_final_results_everybody_eval_<%= pe_evaluation.id %>">
    <div class="panel-body">

      <legend><%= pe_evaluation.name %></legend>

      <% pe_element_1st = pe_evaluation.pe_elements.first %>

      <% num_t = 0 %>

      <% pe_evaluation.pe_questions_by_group_ready_and_informative(pe_group, nil).each do |pe_question_1st| %>

        <% eval_inf = true %>

        <table class="table table-bordered table-condensed" id="rep_detailed_final_results_everybody_1st_level_det_pe_question_<%= pe_question_1st.id %>">

            <tbody>
              <tr>
                <td colspan="2"><%= pe_question_1st.description.html_safe %></td>
              </tr>

              <% pe_member_rels_comments = @pe_member.pe_member_rels_is_evaluated %>

              <% pe_evaluation.pe_evaluation_rels.each do |pe_evaluation_rel| %>

                <% if @pe_member.is_evaluated_as_pe_rel? pe_evaluation_rel.pe_rel %>

                  <% pe_rel = pe_evaluation_rel.pe_rel %>

                  <% num = 0 %>

                  <% @pe_member.pe_member_rels_is_evaluated_as_pe_rel(pe_rel).each do |pe_member_rel_is_evaluated| %>

                    <% if pe_member_rel_is_evaluated.valid_evaluator && pe_member_rel_is_evaluated.finished %>

                      <% pe_assessment_evaluation = pe_evaluation.pe_assessment_evaluation_by_pe_member_rel pe_member_rel_is_evaluated %>

                      <% if pe_assessment_evaluation %>

                        <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question_1st) %>

                        <% if pe_assessment_question %>
                          <tr>
                            <td width="30%"><%= pe_rel.alias %></td>
                            <td>
                              <%= pe_assessment_question.comment.html_safe if pe_question_1st.has_comment && pe_assessment_question.comment %>

                              <%= pe_assessment_question.pe_alternative.description if pe_element_1st.assessment_method == 1 && pe_assessment_question.pe_alternative %>

                            </td>
                          </tr>
                          <% num += 1 %>

                        <% else %>

                          <tr>
                            <td width="30%"><%= pe_rel.alias %></td>
                            <td>

                            </td>
                          </tr>

                        <% end %>

                      <% end %>

                    <% end %>

                  <% end %>

                  <% num_t += 1 if num > 0 %>

                <% end %>
              <% end %>

              <% if show_comments && pe_question_1st.pe_question_comments_by_pe_member_rels(pe_member_rels_comments).size > 0 %>

                <tr>
                  <td width="30%">Comentarios <i class="fa fa-comment" aria-hidden="true"></i></td>
                  <td>
                    <% pe_question_1st.pe_question_comments_by_pe_member_rels(pe_member_rels_comments).each do |pe_question_comment| %>
                      - <%= pe_question_comment.comment.html_safe if pe_question_comment.comment %><br>
                    <% end %>
                  </td>
                </tr>

            <% end %>

            </tbody>

          </table>

      <% end %>



    </div>
  </div>

  <% unless eval_inf %>

    <script>
      $('#rep_detailed_final_results_everybody_eval_<%= pe_evaluation.id %>').hide();
    </script>

  <% end %>


<% end %>



