

<% if @pe_process.of_persons? %>
  <% pe_member_rels_is_evaluated = @pe_member.pe_member_rels_is_evaluated_ordered %>
<% else %>
  <% pe_member_rels_is_evaluated = @pe_member.pe_member_rels_is_evaluated_ordered_by_pe_area %>
<% end %>

<% pe_member_rels_is_evaluated.each do |pe_member_rel_is_evaluated| %>

  <% if pe_member_rel_is_evaluated.valid_evaluator && pe_member_rel_is_evaluated.finished %>

    <% pe_rel = pe_member_rel_is_evaluated.pe_rel %>

    <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

      <% pe_assessment_evaluation = pe_member_rel_is_evaluated.pe_assessment_evaluation(pe_evaluation) %>

      <% if pe_evaluation.has_pe_evaluation_rel(pe_rel) && pe_evaluation.assessment_layout == 1 && pe_evaluation.pe_elements.size == 3 %>

        <div class="panel panel-default" id="rep_detailed_final_results_per_evaluator_1st_level_<%= pe_member_rel_is_evaluated.id %>">

          <div id="rep_detailed_final_results_per_evaluator_1st_level_<%= pe_member_rel_is_evaluated.id %>_c" aria-labelledby="rep_detailed_final_results_per_evaluator_1st_level_<%= pe_member_rel_is_evaluated.id %>_c">

            <div class="panel-body">

              <legend>

                <% if pe_rel.rel_name == :jefe %>

                  Evaluación del <%= pe_rel.alias.downcase %>

                <% elsif pe_rel.rel_name == :auto %>

                  <%= pe_rel.alias %>

                <% else %>

                  Evaluación de <%= pe_rel.alias.downcase %>

                <% end %>

                - <%= pe_evaluation.name %>

              </legend>

              <% if pe_assessment_evaluation %>

                <table class="table table-bordered">

                  <thead></thead>

                  <% pe_element_1st = pe_evaluation.pe_elements.first %>

                  <% pe_group = nil %>

                  <% if pe_evaluation.pe_groups.size > 0 %>

                    <% pe_member_group = pe_member_rel_is_evaluated.pe_member_evaluated.pe_member_group(pe_evaluation) %>

                    <% pe_group = pe_member_group.pe_group if pe_member_group %>

                  <% end %>

                  <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready(pe_member_rel_is_evaluated.pe_member_evaluated, pe_member_rel_is_evaluated.pe_member_evaluator, pe_group, pe_rel).each_with_index do |pe_question_1st_level| %>

                    <% if pe_element_1st.visible %>

                      <tbody>

                      <tr>
                        <td>

                        </td>
                        <td colspan="5">
                          <strong>
                            <% if pe_element_1st.display_name %>
                              <%= pe_element_1st.name %>.
                            <% end %>
                            <%= pe_question_1st_level.description.html_safe %>
                          </strong>

                        </td>
                      </tr>

                      </tbody>

                    <% end %>

                    <% num_1st_level = 1 %>

                    <% pe_evaluation.pe_questions_by_question_ready(pe_question_1st_level).each do |pe_question_2nd_level| %>

                      <thead>

                      <tr>
                        <th style="background-color: #dddddd; vertical-align: middle;">
                          <%= num_1st_level %>
                        </th>
                        <th  style="background-color: #dddddd; vertical-align: middle;" colspan="5">
                          <% if pe_question_2nd_level.pe_element.display_name %>
                            <%= pe_question_2nd_level.pe_element.name %>.
                          <% end %>
                          <%= pe_question_2nd_level.description.html_safe %>
                        </th>
                      </tr>

                      <tr>
                        <th></th>
                        <th><%= pe_evaluation.pe_elements.last.name %></th>
                        <th>Peso</th>
                        <th>Meta</th>
                        <th>Meta lograda</th>
                        <th>Logro</th>
                      </tr>

                      </thead>

                      <tbody>

                      <% num_2nd_level = 1 %>
                      <% pe_evaluation.pe_questions_by_question_ready(pe_question_2nd_level).each do |pe_question_3rd_level| %>

                        <tr>
                          <td>
                            <%= num_1st_level %>.<%= num_2nd_level %>
                          </td>
                          <td>

                            <% if pe_question_3rd_level.kpi_indicator %>
                              <span class="label label-success">KPI</span>&nbsp;
                            <% end %>

                            <% if pe_question_3rd_level.pe_element.display_name %>
                              <%= pe_question_3rd_level.pe_element.name %>.
                            <% end %>

                            <% if pe_question_3rd_level.pe_element.kpi_dashboard && pe_question_3rd_level.kpi_indicator %>

                              <%= pe_question_3rd_level.kpi_indicator.name %>

                            <% else %>

                              <%= pe_question_3rd_level.description.html_safe %>

                            <% end %>

                          </td>
                          <td>
                            <%= number_with_precision(pe_question_3rd_level.weight, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                          </td>
                          <td>

                            <%= render partial: 'pe_processes/indicator_goal_temp',
                                       locals: {
                                           pe_question: pe_question_3rd_level
                                       }
                            %>

                          </td>
                          <td>

                            <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question_3rd_level) %>

                            <% unless pe_question_3rd_level.pe_element.kpi_dashboard && pe_question_3rd_level.kpi_indicator %>


                              <% if pe_question_3rd_level.indicator_type == 4 %>

                                <select class="form-control" name="pe_question_<%= pe_question_3rd_level.id %>">

                                  <option value="">--Sin registro--</option>

                                  <% pe_question_3rd_level.pe_question_ranks.each do  |qr| %>

                                    <option value="<%= qr.discrete_goal %>" <%= 'selected' if pe_assessment_question && qr.discrete_goal == pe_assessment_question.indicator_discrete_achievement %> ><%= qr.discrete_goal.html_safe %></option>

                                  <% end %>

                                </select>

                              <% else %>
                                <%= number_with_precision(pe_assessment_question.indicator_achievement, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) if pe_assessment_question %>
                                <% pe_question_3rd_level.indicator_unit %>
                              <% end %>

                            <% end %>


                          </td>
                          <td width="15%">

                            <% if pe_assessment_question %>

                              <% ancho_p_b = 0 %>

                              <% ancho_p_b = pe_assessment_question.percentage && pe_assessment_question.percentage < 100 ? pe_assessment_question.percentage.to_i : 100 %>

                              <% if pe_question_3rd_level.indicator_type != 4 || (pe_question_3rd_level.indicator_type == 4 && !pe_assessment_question.indicator_discrete_achievement.blank?) %>

                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="<%= ancho_p_b %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= ancho_p_b %>%;">
                                    <%= number_with_precision(pe_assessment_question.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
                                  </div>
                                </div>

                              <% end %>

                            <% end %>

                          </td>
                        </tr>
                        <% num_2nd_level += 1 %>
                      <% end %>

                      </tbody>


                      <% num_1st_level += 1 %>

                    <% end %>

                  <% end %>


                </table>

                <% pe_element = pe_evaluation.pe_elements.first %>

                <% if pe_element && pe_element.assessed %>

                  <table class="table table-bordered table-condensed" id="rep_detailed_final_results_per_evaluator_1st_level_<%= pe_member_rel_is_evaluated.pe_member_evaluator.id %>_<%= pe_evaluation.id %>">
                    <thead>
                      <tr>
                        <th width="1%">#</th>
                        <th colspan="<%= pe_element.simple ? '1' : pe_element.pe_element_descriptions.size %>"><%= pe_evaluation.name %></th>
                        <th width="1%">Resultado</th>
                      </tr>
                      <% unless pe_element.simple %>
                        <tr>
                          <th></th>
                          <% pe_element.pe_element_descriptions.each do |pe_element_description| %>
                            <th><%= pe_element_description.name %></th>
                          <% end %>
                          <th></th>
                        </tr>
                      <% end %>
                    </thead>
                    <tbody>

                      <% sum_t = 0 %>
                      <% num_t = 0 %>

                      <% index_pq_q = 0 %>

                      <% pe_group = nil %>

                      <% if pe_evaluation.pe_groups.size > 0 %>

                        <% pe_member_group = @pe_member.pe_member_group(pe_evaluation) %>

                        <% pe_group = pe_member_group.pe_group if pe_member_group %>

                      <% end %>

                      <% pe_evaluation.pe_questions_by_pe_member_1st_level_ready_and_not_informative(@pe_member, pe_member_rel_is_evaluated.pe_member_evaluator, pe_group, pe_rel).each do |pe_question| %>

                        <% sum = 0 %>
                        <% num = 0 %>

                        <% pe_assessment_evaluation = pe_evaluation.pe_assessment_evaluation_by_pe_member_rel pe_member_rel_is_evaluated %>

                        <% if pe_assessment_evaluation %>

                          <% pe_assessment_question = pe_assessment_evaluation.pe_assessment_question(pe_question) %>

                          <% if pe_assessment_question && pe_assessment_question.percentage && pe_assessment_question.percentage >= 0 %>

                            <% sum += pe_assessment_question.percentage %>
                            <% num += 1 %>

                          <% end %>

                        <% end %>

                        <% if num > 0 %>

                          <% res = num > 0 ? (sum/num).round(1) : 0 %>
                          <% res_width = res > 100 ? 100 : res %>

                          <% sum_t += res %>
                          <% num_t += 1 %>

                          <tr>
                            <td><%= index_pq_q += 1 %></td>
                            <% if pe_element.simple %>
                              <td><%= pe_question.description.html_safe %></td>
                            <% else %>
                              <% pe_element.pe_element_descriptions.each do |pe_element_description| %>

                                <td>

                                  <% pe_question_description = pe_question.pe_question_descriptions.where('pe_element_description_id = ?', pe_element_description.id).first %>

                                  <%= pe_question_description.description.html_safe if pe_question_description%>

                                </td>

                              <% end %>
                            <% end %>
                            <td>

                              <div class="progress" style="margin-bottom: 0px;">
                                <div class="progress-bar" role="progressbar" aria-valuenow="<%= res_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= res_width %>%;">
                                  <%= number_with_precision(res, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                                </div>
                              </div>

                            </td>

                          </tr>

                        <% end %>

                      <% end %>

                    </tbody>

                    <thead>
                      <tr>
                        <th colspan="<%= pe_element.simple ? '2' : pe_element.pe_element_descriptions.size+1 %>"class="text-right">Promedio</th>
                        <th>

                          <% res = num_t > 0 ? (sum_t/num_t).round(1) : 0 %>
                          <% res_width = res > 100 ? 100 : res %>

                          <div class="progress" style="margin-bottom: 0px;">
                            <div class="progress-bar" role="progressbar" aria-valuenow="<%= res_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= res_width %>%;">
                              <%= number_with_precision(res, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %>%
                            </div>
                          </div>

                        </th>
                      </tr>
                    </thead>

                  </table>
                  <% if num_t > 0 %>
                    <% num_evals += 1 %>
                  <% else %>
                    <script>
                      $(document).ready(function() {
                        $('#rep_detailed_final_results_per_evaluator_1st_level_<%= pe_member_rel_is_evaluated.pe_member_evaluator.id %>_<%= pe_evaluation.id %>').hide();
                      });
                    </script>
                  <% end %>
                <% end %>

              <% end %>

            </div>

          </div>

        </div>

      <% end %>

    <% end %>





  <% end %>

<% end %>