<div class="panel panel-default">
  <div class="panel-body">

    <legend>Evaluadores</legend>

    <table class="table table-bordered table-condensed table-hover">
      <thead>

        <th>
          Evaluador
        </th>
        <th>
          Relación
        </th>

      </thead>
      <tbody>

      <% @pe_process.pe_rels.each do |pe_rel| %>

        <% next if pe_rel.rel_id == 0 %>

        <% @pe_member.pe_member_rels_is_evaluated_as_pe_rel_ordered(pe_rel).each do |pe_member_rel| %>

          <tr>
            <td>
              <%= pe_member_rel.pe_member_evaluator.user.apellidos %>, <%= pe_member_rel.pe_member_evaluator.user.nombre %>
            </td>
            <td>
              <%= pe_rel.alias %>
            </td>

          <tr/>

        <% end %>

        <tr>

        </tr>

      <% end %>

      </tbody>

    </table>

  </div>
</div>