<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de reportes'.html_safe, pe_reporting_list_reports_path(@hr_process), class: 'btn btn-default' %>

  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>: Reportes
    </h1>
  </div>

</div>

<%= form_tag pe_reporting_final_results_consolidate_path(@hr_process), method: :post do |f| %>

  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Reporte consolidado de resultados finales: Seleccionar filtros</legend>

          <div class="row">

            <% ids_array = Array.new %>

            <%
               @hr_process.hr_process_users.each do |hr_p_u|
                 ids_array.push hr_p_u.user_id if hr_p_u.hr_process_es_evaluado_rels.size > 0
               end
            %>



            <% @characteristics.each_with_index do |characteristic,index| %>


              <div class="col-md-3">

                <%= characteristic.nombre %>
                <br>
                <% valores = UserCharacteristic.select(:valor).uniq.where('characteristic_id = ? AND valor <> "" AND user_id IN (?)',characteristic.id, ids_array).order('valor').map(&:valor) %>

                <%= select('characteristic', characteristic.id, options_for_select(valores),
                           {:include_blank => '--Sin Filtro--'}, {multiple: true, size: 3, id: 'filtro_'+characteristic.id.to_s, class: 'form-control'})
                %>

                <script>

                  $("#filtro_<%= characteristic.id %>").select2();

                </script>

              </div>

            <% end %>

          </div>
          <div class="row">
            <div class="col-md-12">
              <br><em>Puede seleccionar más de un elemento en cualquiera de los filtros</em>
            </div>
          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="Generar reporte">
          </div>
        </div>
      </div>

    </div>

  </div>
<% end %>