
<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de reportes'.html_safe, pe_reporting_list_reports_path(@hr_process), class: 'btn btn-default' %>

  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>: Reportes
    </h1>
  </div>

</div>


<% characteristics_eval_des = Characteristic.where('hr_process_assessment = ?', true).reorder('orden_hr_process_assessment') %>


<div class="row">

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Reporte detallado de resultados finales</legend>
        <br>
        <br>

        <table id="datatable_fixed_column" class="table table-striped table-bordered smart-form">
          <thead>
          <tr>
            <th>#</th>
            <th>Apellidos y Nombre</th>


            <% characteristics_eval_des.each do |characteristic| %>

              <th width="1%"><%= characteristic.nombre %></th>

            <% end %>

            <th>Evaluación</th>
            <% if @hr_process.tiene_paso_feedback? %>
              <th>Retro_<br>alimentación</th>
            <% end %>
            <th></th>

          </tr>
          <tr class="second">
            <td>
              <label class="input">
                <input type="text" name="search_num" value="" class="search_init">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text" name="search_name" value="" class="search_init">
              </label>
            </td>

            <% characteristics_eval_des.each do |characteristic| %>
              <td><label class="input">
                <input type="text" name="search_car_<%= characteristic.id %>" value="" class="search_init">
              </label>
              </td>
            <% end %>
            <td>
              <label class="input">
                <input type="text" name="search_estado" value="" class="search_init">
              </label>
            </td>
            <% if @hr_process.tiene_paso_feedback? %>
              <th></th>
            <% end %>
            <td></td>
          </tr>
          </thead>
          <tbody>

          <% numero_participantes_evaluados = 0 %>

          <%
             if user_connected.hr_process_managers.size > 0
               hr_process_users = @hr_process.hr_process_users_order_by_apellidos_nombre
             else

               hr_process_user_connected = @hr_process.hr_process_users.find_by_user_id(user_connected.id)

               hr_process_users = hr_process_user_connected.hr_process_responsable_users_uniq_order_by_apellidos_nombre if hr_process_user_connected


             end

          %>

          <% hr_process_users.each_with_index do |hr_process_user, index| %>
            <% if hr_process_user.hr_process_es_evaluado_rels.size > 0 %>

              <% numero_participantes_evaluados += 1 %>
              <tr>
                <td>
                  <%= numero_participantes_evaluados %>
                </td>
                <td><%= hr_process_user.user.apellidos %>, <%= hr_process_user.user.nombre %></td>

                <% characteristics_eval_des.each do |characteristic| %>
                  <% uc = hr_process_user.user.user_characteristics.find_by_characteristic_id(characteristic.id) %>

                  <td><%= uc.valor if uc %></td>

                <% end %>

                <% if hr_process_user.finalizado %>
                  <td><span class="label label-success text-center" style="color: #fff;">Finalizada</span></td>
                <% else %>
                  <td><span class="label label-danger text-center" style="color: #fff;">No Evaluado</span></td>
                <% end %>

                <% if @hr_process.tiene_paso_feedback? %>
                  <td>
                    <% if hr_process_user.feedback_confirmado %>
                      <% if @hr_process.step_feedback_confirmation %>
                        <% if hr_process_user.feedback_recibido %>
                          <span class="label label-success text-center" style="color: #fff;">Confirmada</span>
                        <% else %>
                          <span class="label label-primary text-center" style="color: #fff;">Realizada</span>
                        <% end %>
                      <% else %>
                        <span class="label label-success text-center" style="color: #fff;">Realizada</span>
                      <% end %>
                    <% else %>
                      <span class="label label-danger text-center" style="color: #fff;">No terminada</span>
                    <% end %>

                  </td>
                <% end %>

                <td>
                  <nobr>
                    <%= link_to 'Ver', pe_reporting_final_results_path(@hr_process, hr_process_user,0) %>
                    &nbsp;
                    <%= link_to 'PDF', pe_reporting_final_results_pdf_path(@hr_process, hr_process_user,0) %>

                    <% unless $current_domain == 'seduc' || $current_domain == 'seduc-training' || $current_domain == 'danper' || $current_domain == 'danper-training'%>

                    &nbsp;
                    <%= link_to 'PDF (Sólo jefe)', pe_reporting_final_rep_only_boss_pdf_path(hr_process_user) %>

                    <% end %>

                  </nobr>
                </td>

              </tr>

            <% end %>

          <% end %>


          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
</div>




<!-- PAGE RELATED PLUGIN(S) -->
<script src="/assets/datatables/jquery.dataTables-cust.min.js"></script>
<script src="/assets/datatables/ColReorder.min.js"></script>
<script src="/assets/datatables/FixedColumns.min.js"></script>
<script src="/assets/datatables/ColVis.min.js"></script>
<script src="/assets/datatables/ZeroClipboard.js"></script>
<script src="/assets/datatables/media/js/TableTools.min.js"></script>
<script src="/assets/datatables/DT_bootstrap.js"></script>


<script type="text/javascript">


  $(document).ready(function() {


    $("#datatable_fixed_column thead input").keyup(function() {
      oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
    });

    $("#datatable_fixed_column thead input").each(function(i) {
      this.initVal = this.value;
    });
    $("#datatable_fixed_column thead input").focus(function() {
      if (this.className == "search_init") {
        this.className = "";
        this.value = "";
      }
    });
    $("#datatable_fixed_column thead input").blur(function(i) {
      if (this.value == "") {
        this.className = "search_init";
        this.value = this.initVal;
      }
    });


    var oTable = $('#datatable_fixed_column').dataTable({
      "sDom" : "<'dt-top-row'lf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",


      "sPaginationType" : "bootstrap_full",
      "aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
      "iDisplayLength" : 10,

      "bSortCellsTop" : true
    });

    oTable.fnSetColumnVis( 11, false );


  })



</script>

