
<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a generar reporte'.html_safe, pe_reporting_final_results_consolidate_filter_path(@hr_process), class: 'btn btn-default' %>

  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>: Reportes
    </h1>
  </div>

</div>


<% characteristics_eval_des = Characteristic.where('hr_process_assessment = ?', true).reorder('orden_hr_process_assessment') %>


<%

   lista_usuarios = Array.new
   lista_cajas = Array.new

%>

<div class="row">

<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-body">


<legend>
  Reporte consolidado de resultados finales:

  <%= @characteristics_selected.join ', ' %>

</legend>



<ul class="nav nav-tabs">
  <li class="active"><a href="#tab_results_tabla" data-toggle="tab">Tabla de resultados</a></li>
  <% if @hr_process.muestra_cajas? || @hr_process.muestra_cuadrantes_calib || @hr_process.calib_cuadrante %>
    <li><a href="#tab_results_cuadrantes" data-toggle="tab">Cuadrantes</a></li>
    <li><a href="#tab_results_distribucion" data-toggle="tab">Distribución de resultados finales</a></li>
  <% end %>
  <li><a href="#tab_results_distribucion_det" data-toggle="tab">Distribución detallada de resultados</a></li>
</ul>



<div class="tab-content">
<div class="tab-pane active" id="tab_results_tabla">

  <div id="div_interno_contiene_tabla" class="" style="overflow-x: auto;">

    <br><br><br><br>

    <table id="datatable_fixed_column" class="table table-striped table-bordered smart-form" style="font-size: 12px;">
      <thead>
      <tr>
        <th>#</th>
        <th>Código de usuario</th>
        <th>Evaluado</th>


        <% characteristics_eval_des.each do |characteristic| %>

          <th width="1%"><%= characteristic.nombre %></th>

        <% end %>

        <th>
          Supervisor
        </th>

        <% @hr_process_dimensions.each do |hr_process_dimension| %>

          <th>
            <%= hr_process_dimension.nombre %>
          </th>

        <% end %>
        <% if @hr_process.muestra_cajas? || @hr_process.muestra_cuadrantes_calib? || @hr_process.calib_cuadrante? %>
          <th>Valoración</th>
          <th></th>
          <th></th>
        <% end %>
        <th>Comentario</th>

        <th>Evaluación</th>
        <% if @hr_process.tiene_paso_feedback? %>
          <th>Retro_<br>alimentación</th>
        <% end %>
      </tr>
      <tr class="second">
        <td class="hasinput">
          <label class="input">
            <input type="text" name="search_num" value="" class="search_init">
          </label>
        </td>
        <td class="hasinput">
          <label class="input">
            <input type="text" name="search_codigo" value="" class="search_init">
          </label>
        </td>
        <td class="hasinput">
          <label class="input">
            <input type="text" name="search_name" value="" class="search_init">
          </label>
        </td>

        <% characteristics_eval_des.each do |characteristic| %>
          <td class="hasinput">
            <label class="input">
              <input type="text" name="search_car_<%= characteristic.id %>" value="" class="search_init">
            </label>
          </td>
        <% end %>


        <td class="hasinput">
          <label class="input">
            <input type="text" name="search_evaluador" value="" class="search_init">
          </label>
        </td>
        <% @hr_process_dimensions.each do |hr_process_dimension| %>

          <td class="hasinput">
            <label class="input">
              <input type="text" name="search_dim_<%= hr_process_dimension.id %>" value="" class="search_init">
            </label>
          </td>

        <% end %>
        <% if @hr_process.muestra_cajas? || @hr_process.muestra_cuadrantes_calib? || @hr_process.calib_cuadrante? %>
          <td class="hasinput">
            <label class="input">
              <input type="text" name="search_final_val" value="" class="search_init">
            </label>
          </td>
          <td class="hasinput">
            <label class="input">
              <input type="text" name="search_final_val_desc" value="" class="search_init">
            </label>

          </td>
          <td></td>
        <% end %>

        <td class="hasinput">
          <label class="input">
            <input type="text" name="search_comentario" value="" class="search_init">
          </label>
        </td>
        <td class="hasinput">
          <label class="input">
            <input type="text" name="search_estado" value="" class="search_init">
          </label>
        </td>
        <% if @hr_process.tiene_paso_feedback? %>
          <td class="hasinput">
            <label class="input">
              <input type="text" name="search_feedback" value="" class="search_init">
            </label>
          </td>
        <% end %>

      </tr>
      </thead>
      <tbody>

      <% numero_participantes_evaluados = 0 %>

      <%
         if user_connected.hr_process_managers.size > 0
           if @users
             hr_process_users = @hr_process.hr_process_users_assessed_order_by_apellidos_nombre.where('user_id in (?)', @users.map(&:id))
           else
             hr_process_users = @hr_process.hr_process_users_assessed_order_by_apellidos_nombre
           end
         else

           hr_process_user_connected = @hr_process.hr_process_users.find_by_user_id(user_connected.id)

           hr_process_users = hr_process_user_connected.hr_process_responsable_users_uniq_order_by_apellidos_nombre.where('user_id in (?)', @users.map(&:id)) if hr_process_user_connected


         end

      %>

      <% hr_process_users.each_with_index do |hr_process_user, index| %>
        <% if hr_process_user.hr_process_es_evaluado_rels.size > 0 %>

          <% numero_participantes_evaluados += 1 %>
          <tr>
          <td>
            <%= numero_participantes_evaluados %>
          </td>
          <td><%= hr_process_user.user.codigo %></td>
          <td><%= hr_process_user.user.apellidos %>, <%= hr_process_user.user.nombre %></td>

          <% characteristics_eval_des.each do |characteristic| %>
            <% uc = hr_process_user.user.user_characteristics.find_by_characteristic_id(characteristic.id) %>

            <td><%= uc.valor if uc %></td>

          <% end %>

          <td><% hr_process_user.hr_process_es_evaluado_rels.where('tipo = ?', 'jefe').each_with_index do |evaluado_rel, index_evaluado_rel| %><%= evaluado_rel.hr_process_user1.user.apellidos %>, <%= evaluado_rel.hr_process_user1.user.nombre %><br><% end %></td>

          <% comentario_calib = nil %>

          <% @hr_process_dimensions.each do |hr_process_dimension| %>

            <% eval_dimension = nil %>
            <% hr_process_dimension_g_match = nil %>

            <% eval_dimension = hr_process_user.hr_process_assessment_ds.find_by_hr_process_dimension_id(hr_process_dimension.id) if hr_process_user.finalizado %>

            <% hr_process_dimension_g_match = eval_dimension.hr_process_dimension_g if eval_dimension %>

            <td style="<%= 'color: #'+hr_process_dimension_g_match.color_text+';' if hr_process_dimension_g_match && hr_process_dimension_g_match.color_text %>">

              <% if eval_dimension %>

                <%= number_with_precision(eval_dimension.resultado_porcentaje, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                -

                <%= hr_process_dimension_g_match.nombre if hr_process_dimension_g_match %>

                <% hr_process_assessment_d_cal = eval_dimension.hr_process_assessment_d_cal %>

                <% if hr_process_assessment_d_cal %>

                  <label data-toggle="tooltip" title="Ver calibración" style="color: #000;">

                    <a data-toggle="button" data-content='


                                                              <table>
                                                                <tr>
                                                                  <td><strong>Porcentaje original</strong></td>
                                                                  <td>
                                                                    <%= hr_process_assessment_d_cal.resultado_porcentaje.to_i %>%
                                                                  </td>
                                                                </tr>
                                                                <tr>
                                                                  <td>
                                                                    <strong>Comentario</strong>
                                                                  </td>
                                                                  <td>
                                                                    <%= hr_process_assessment_d_cal.comentario %>
                                                                    <% comentario_calib = hr_process_assessment_d_cal.comentario %>
                                                                  </td>
                                                                </tr>
                                                              </table>

                                                            '
                       id='detalle_calibracion_<%= hr_process_assessment_d_cal.id %>' >

                      <i class="fa fa-exclamation-triangle"></i>

                    </a>

                  </label>

                  <script language="javascript">
                    $('#detalle_calibracion_<%= hr_process_assessment_d_cal.id %>').popover({
                      html: true,
                      placement: 'left',
                      trigger: 'click'
                    });


                  </script>

                <% end %>

              <% end %>

            </td>

          <% end %>

          <% if @hr_process.muestra_cajas? || @hr_process.muestra_cuadrantes_calib? || @hr_process.calib_cuadrante? %>

            <td>
              <div>
                <% if hr_process_user.finalizado %>

                  <% hr_process_assessment_qua = hr_process_user.hr_process_assessment_qua %>

                  <% if hr_process_assessment_qua %>

                    <% hr_process_quadrant = hr_process_assessment_qua.hr_process_quadrant %>

                    <% if hr_process_quadrant.nombre %>

                      <%

                         lista_usuarios.push hr_process_user
                         lista_cajas.push hr_process_quadrant

                      %>

                      <span class="label label-default col-md-12" style="width: 80%; text-align: center; <%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant.color_text %><%= 'background-color: #'+hr_process_quadrant.color+';' if hr_process_quadrant.color %>">
                                        <strong><%= hr_process_quadrant.nombre.html_safe %></strong>
                                      </span>


                    <% end %>

                  <% end %>

                <% else %>

                  <span class="label label-default">No evaluado</span>

                <% end %>
              </div>
            </td>

            <td>
              <div>
                <% if hr_process_user.finalizado %>

                  <% hr_process_assessment_qua = hr_process_user.hr_process_assessment_qua %>

                  <% if hr_process_assessment_qua %>

                    <% hr_process_quadrant = hr_process_assessment_qua.hr_process_quadrant %>

                    <% if hr_process_quadrant.nombre %>

                      <%= hr_process_quadrant.descripcion.html_safe %>

                    <% end %>

                  <% end %>

                <% else %>

                  <span class="label label-default">No evaluado</span>

                <% end %>
              </div>
            </td>


          <% end %>


          <% if @hr_process.muestra_cajas? || @hr_process.muestra_cuadrantes_calib? || @hr_process.calib_cuadrante? %>

            <td>
              <div>
                <% if hr_process_user.finalizado %>

                  <% hr_process_assessment_qua = hr_process_user.hr_process_assessment_qua %>

                  <% if hr_process_assessment_qua %>

                    <% hr_process_quadrant = hr_process_assessment_qua.hr_process_quadrant %>

                    <% hr_process_calibration_session_m = hr_process_user.hr_process_calibration_session_ms.first %>

                    <% if hr_process_calibration_session_m %>

                      <% hr_process_assessment_qua_cal = HrProcessAssessmentQuaCal.where('hr_process_calibration_session_id = ? AND  hr_process_calibration_session_m_id = ?', hr_process_calibration_session_m.hr_process_calibration_session.id, hr_process_calibration_session_m.id).first %>

                    <% end %>

                    <% hr_process_quadrant_cal = hr_process_assessment_qua_cal.hr_process_quadrant if hr_process_assessment_qua_cal %>

                    <% if hr_process_quadrant_cal && hr_process_quadrant_cal.nombre %>

                      <label data-toggle="popover" title="Ver calibración" style="color: #000;">

                        <a data-toggle="button" data-content='

                                                        <table class="" style="margin: 10px">
                                                          <tr>
                                                            <td><strong>Valoración original</strong></td>
                                                            <td style="padding-left: 5px;">

                                                              <span class="label label-default" style="width: 50px; text-align: center; <%= 'color: #'+hr_process_quadrant_cal.color_text+';' if hr_process_quadrant_cal.color_text %><%= 'background-color: #'+hr_process_quadrant_cal.color+';' if hr_process_quadrant_cal.color %>">
                                                                  <strong><%= hr_process_quadrant_cal.nombre.html_safe %></strong>
                                                              </span>
                                                            </td>
                                                          </tr>
                                                          <tr>
                                                            <td><strong>Comentario</strong></td>
                                                            <td style="padding-left: 5px;">
                                                            <%= hr_process_assessment_qua_cal.comentario %>
                                                            <% comentario_calib = hr_process_assessment_qua_cal.comentario %>
                                                            </td>
                                                          </tr>
                                                        </table>

                                                      '
                           id='detalle_calibracion_qua_<%= hr_process_assessment_qua_cal.id %>' >

                          <i class="fa fa-exclamation-triangle"></i>

                        </a>

                      </label>

                      <script language="javascript">
                        $('#detalle_calibracion_qua_<%= hr_process_assessment_qua_cal.id %>').popover({
                          html: true,
                          placement: 'left',
                          trigger: 'click'
                        });


                      </script>

                    <% end %>



                  <% end %>


                <% end %>
              </div>
            </td>

          <% end %>

          <td>
            <%= comentario_calib %> &nbsp;
          </td>

          <% if hr_process_user.finalizado %>
            <td><span class="label label-success text-center" style="color: #fff;">Finalizada</span></td>
          <% else %>
            <td><span class="label label-danger text-center" style="color: #fff;">Pendiente</span></td>
          <% end %>


          <% if @hr_process.tiene_paso_feedback? %>
            <td>
              <% if hr_process_user.feedback_confirmado %>
                <% if @hr_process.step_feedback_confirmation %>
                  <% if hr_process_user.feedback_recibido %>
                    <span class="label label-success text-center" style="color: #fff;">Confirmada</span>
                  <% else %>
                    <span class="label label-primary text-center" style="color: #fff;">Realizada</span>
                  <% end %>
                <% else %>
                  <span class="label label-success text-center" style="color: #fff;">Realizada</span>
                <% end %>
              <% else %>
                <span class="label label-danger text-center" style="color: #fff;">No terminada</span>
              <% end %>

            </td>
          <% end %>


          </tr>

        <% end %>

      <% end %>


      </tbody>
    </table>

  </div>

</div>
<% if @hr_process.muestra_cajas? || @hr_process.muestra_cuadrantes_calib || @hr_process.calib_cuadrante %>
  <div class="tab-pane" id="tab_results_cuadrantes">
    <br><br>



    <% if @hr_process_dimensions.length == 1 && @hr_process_dimensions.first.hr_process_dimension_gs.length > 0 %>


      <%= render partial: 'hr_process_assessments/quadrants_1d_with_lists_limit',
                 locals: {
                   hr_process_template: @hr_process.hr_process_template,
                   dimension_eje_x: @hr_process_dimensions.first,
                   lista_cajas: lista_cajas,
                   lista_usuarios: lista_usuarios,
                   muestra_porcentajes_por_caja: true,
                   num_hr_process_users: numero_participantes_evaluados
                 }
      %>

    <% elsif @hr_process_dimensions.length == 2 && @hr_process_dimensions.first.hr_process_dimension_gs.length > 0 %>

      <% dimension_eje_x = @hr_process_dimensions.first %>
      <% dimension_eje_y = @hr_process_dimensions.last %>

      <%= render partial: 'hr_process_assessments/quadrants_2d_with_lists_limit',
                 locals: {
                   hr_process_template: @hr_process.hr_process_template,
                   dimension_eje_x: @hr_process_dimensions.first,
                   dimension_eje_y: @hr_process_dimensions.last,
                   lista_cajas: lista_cajas,
                   lista_usuarios: lista_usuarios,
                   muestra_porcentajes_por_caja: true,
                   num_hr_process_users: numero_participantes_evaluados
                 }
      %>

    <% end %>

  </div>

  <div class="tab-pane" id="tab_results_distribucion">
    <br><br>

    <%

       data_table = GoogleVisualr::DataTable.new
       data_table.new_column('string', 'Quadrant')
       data_table.new_column('number', 'Número de colaboradores')
       data_table.new_column('string', nil, nil, 'tooltip')
       data_table.new_column('string', nil, nil, 'style')
       #data_table.new_column('string', nil, nil, 'annotation')
       data_table.add_rows(@hr_process.hr_process_template.hr_process_quadrants_orden_grafico.size)

    %>

    <div class="row">
      <div class="col-md-9">
        <div id='chart_distribucion'></div>
      </div>
      <div class="col-md-3">
        <table class="table table-bordered table-hover table-condensed">
          <thead>
          <tr>
            <td>
              Cuadrante
            </td>
            <td>
              Número
            </td>
            <td>
              %
            </td>
          </tr>
          </thead>
          <tbody>



          <% @hr_process.hr_process_template.hr_process_quadrants_orden_grafico.each_with_index do |hr_process_quadrant, num_quadrant| %>
            <tr>
              <%
                 numero_por_caja = 0
                 lista_cajas.each_with_index do |caja, posicion|
                   if caja.id == hr_process_quadrant.id
                     numero_por_caja += 1
                   end
                 end
              %>
              <td>
                            <span class="label label-default col-md-2" style="width: 20%; text-align: center; <%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant.color_text %><%= 'background-color: #'+hr_process_quadrant.color+';' if hr_process_quadrant.color %>">
                              <strong><%= hr_process_quadrant.nombre.html_safe %></strong>
                            </span>
                <%= hr_process_quadrant.descripcion ? hr_process_quadrant.descripcion : '' %>
              </td>
              <td>
                <%= numero_por_caja %>
              </td>
              <td>
                <% porcentaje_por_caja = (numero_participantes_evaluados > 0 ? numero_por_caja*100.0/numero_participantes_evaluados : 0.0) %>

                <%= number_with_precision(porcentaje_por_caja, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%



              </td>
              <%
                 data_table.set_cell(num_quadrant, 0, hr_process_quadrant.nombre ? hr_process_quadrant.nombre : '' )
                 data_table.set_cell(num_quadrant, 1, numero_por_caja)
                 data_table.set_cell(num_quadrant, 2, (hr_process_quadrant.nombre ? hr_process_quadrant.nombre : '')+' '+(hr_process_quadrant.descripcion ? hr_process_quadrant.descripcion : '')+': '+numero_por_caja.to_s+' ('+number_with_precision(porcentaje_por_caja, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true)+'%)')

                 if hr_process_quadrant.color
                   data_table.set_cell(num_quadrant, 3, 'color: #'+hr_process_quadrant.color)
                 else
                   data_table.set_cell(num_quadrant, 3, 'color: #e5e4e2')
                 end

                 #data_table.set_cell(num_quadrant, 4, number_with_precision(porcentaje_por_caja, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true)+'%')

              %>
            </tr>
          <% end %>
          </tbody>

        </table>
        <%

           opts   = { width: '800', height: '400',
                      :legend => 'none',# bar: { groupWidth: '10%' },
                      chartArea: {width: '100%', left: '10%'},
                      hAxis: {title: 'Cuadrantes'}, vAxis: {title: 'Colaboradores'}#,
                      #seriesType: "bars"#,
                      #series: {'0'.to_sym => {type: 'bars'}, '1'.to_sym => {type: 'line', color: 'grey', lineWidth: 0, pointSize: 0, visibleInLegend: false}}
           }
           chart = GoogleVisualr::Interactive::ColumnChart.new(data_table, opts)
        %>



      </div>

    </div>
    <%= render_chart chart, 'chart_distribucion' %>

  </div>
<% end %>
<div class="tab-pane" id="tab_results_distribucion_det">
  <br><br>


  <% @hr_process_evaluations.each do |hr_process_evaluation| %>

    <% if hr_process_evaluation.hr_process_evaluation_qs.count > 0 %>

      <% hr_process_dimension_gs = hr_process_evaluation.hr_process_dimension_e.hr_process_dimension.hr_process_dimension_gs.reorder('orden DESC') %>

      <% hr_process_evaluation_q = hr_process_evaluation.hr_process_evaluation_qs.where('hr_process_evaluation_q_id IS NULL').first %>

      <% if hr_process_evaluation_q && hr_process_evaluation_q.hr_evaluation_type_element.aplica_evaluacion %>

        <% hr_process_evaluation_qs = hr_process_evaluation.hr_process_evaluation_qs.where('hr_process_evaluation_q_id IS NULL') %>

      <% else %>

        <% hr_process_evaluation_qs = hr_process_evaluation.hr_process_evaluation_qs.where('hr_process_evaluation_q_id IS NOT NULL') %>

      <% end %>

      <% pregs_por_nombre_suma = Hash.new %>
      <% pregs_por_nombre_num = Hash.new %>
      <% pregs_por_id = Hash.new %>

      <% hr_process_evaluation_qs.each_with_index do |hr_process_evaluation_q, num_preg| %>

        <% s = 0 %>
        <% t = 0 %>

        <% hr_process_users.each do |hr_process_user| %>

          <% hr_process_user.hr_process_assessment_qs.where('hr_process_evaluation_q_id = ?', hr_process_evaluation_q.id).each do |hr_process_assessment_q| %>

            <% if hr_process_assessment_q.resultado_porcentaje && hr_process_assessment_q.resultado_porcentaje >= 0 %>

              <% s += hr_process_assessment_q.resultado_porcentaje %>
              <% t += 1 %>

            <% end %>

          <% end %>

        <% end %>

        <% pregs_por_nombre_suma[hr_process_evaluation_q.texto] = 0 unless pregs_por_nombre_suma[hr_process_evaluation_q.texto] %>
        <% pregs_por_nombre_num[hr_process_evaluation_q.texto] = 0 unless pregs_por_nombre_num[hr_process_evaluation_q.texto] %>

        <% pregs_por_nombre_suma[hr_process_evaluation_q.texto] += s %>
        <% pregs_por_nombre_num[hr_process_evaluation_q.texto] += t %>

      <% end %>

      <% num_preg = 0 %>

      <table class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
          <th style="border-right: 0px;">
            #
          </th>


          <th style="border-left: 0px;">
            <%= hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.nombre %>
          </th>

          <th>
            Resultado
          </th>
        </tr>
        </thead>
        <tbody>
        <% prom = 0 %>
        <% pregs_por_nombre_suma.sort.each do |nombre_preg, value| %>

          <% if value > 0 %>

            <% res = pregs_por_nombre_num[nombre_preg] > 0 ? (value/pregs_por_nombre_num[nombre_preg]).round(1) : 0 %>


            <% num_preg += 1 %>
            <% prom += res %>

            <% res_width = res > 100 ? 100 : res %>

            <% color = '' %>

            <%
               hr_process_dimension_gs.each do |g|

                 if g.valor_minimo <= res && res <= g.valor_maximo
                   color = g.color_text
                   break
                 end

               end

            %>

            <% color = '' %>

            <tr>
              <td width="1%" style="border-right: 0px;">
                <%= num_preg %>
              </td>
              <td width="74%" style="border-left: 0px;">

                <%= nombre_preg.html_safe %>
              </td>
              <td>
                <div class="progress" style="margin-bottom: 0px;">
                  <div class="progress-bar" role="progressbar" aria-valuenow="<%= res_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= res_width %>%;background-color: <%= '#'+color+';' if res_width > 0 %>">
                    <%= number_with_precision(res, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                  </div>
                </div>
              </td>
            </tr>



            <% pregs_por_nombre_suma_1 = Hash.new %>
            <% pregs_por_nombre_num_1 = Hash.new %>

            <% hr_process_evaluation_qs.where('texto = ?', nombre_preg).each do |hr_process_evaluation_q| %>

              <% hr_process_evaluation_q.hr_process_evaluation_qs.each do |hr_process_evaluation_q1| %>

                <% s = 0 %>
                <% t = 0 %>

                <% hr_process_users.each do |hr_process_user| %>

                  <% hr_process_user.hr_process_assessment_qs.where('hr_process_evaluation_q_id = ?', hr_process_evaluation_q1.id).each do |hr_process_assessment_q| %>

                    <% if hr_process_assessment_q.resultado_porcentaje && hr_process_assessment_q.resultado_porcentaje >= 0 %>

                      <% s += hr_process_assessment_q.resultado_porcentaje %>
                      <% t += 1 %>

                    <% end %>

                  <% end %>

                <% end %>

                <% pregs_por_nombre_suma_1[hr_process_evaluation_q1.texto] = 0 unless pregs_por_nombre_suma_1[hr_process_evaluation_q1.texto] %>
                <% pregs_por_nombre_num_1[hr_process_evaluation_q1.texto] = 0 unless pregs_por_nombre_num_1[hr_process_evaluation_q1.texto] %>

                <% pregs_por_nombre_suma_1[hr_process_evaluation_q1.texto] += s %>
                <% pregs_por_nombre_num_1[hr_process_evaluation_q1.texto] += t %>

              <% end %>

            <% end %>

            <% pregs_por_nombre_suma_1.sort.each do |nombre_preg_1, value_1| %>

              <% if value > -1 %>

                <% res = pregs_por_nombre_num_1[nombre_preg_1] > 0 ? (value_1/pregs_por_nombre_num_1[nombre_preg_1]).round(1) : 0 %>

                <% res_width = res > 100 ? 100 : res %>

                <% color = '' %>

                <%
                   hr_process_dimension_gs.each do |g|

                     if g.valor_minimo <= res && res <= g.valor_maximo
                       color = g.color_text
                       break
                     end

                   end
                %>

                <% color = '' %>

                <tr>
                  <td width="1%" style="border-right: 0px;">

                  </td>
                  <td width="74%" class="text-right" style="border-left: 0px;">
                    <i>
                      <%= nombre_preg_1.html_safe %>
                    </i>
                  </td>
                  <td>
                    <div class="progress" style="margin-bottom: 0px;">
                      <div class="progress-bar" role="progressbar" aria-valuenow="<%= res_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= res_width %>%;background-color: <%= '#'+color+';' if res_width > 0 %>">
                        <%= number_with_precision(res, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                      </div>
                    </div>
                  </td>
                </tr>

              <% end %>
            <% end %>

          <% end %>

        <% end %>

        <% if num_preg > 0 %>

          <% prom = (prom/num_preg).round(1) %>

          <% prom_width = prom > 100 ? 100 : prom %>

          <% color = '' %>

          <%
             hr_process_dimension_gs.each do |g|

               if g.valor_minimo <= prom && prom <= g.valor_maximo
                 color = g.color_text
                 break
               end

             end

          %>

        <% end %>

        <% color = '' %>

        </tbody>
        <thead>

        <tr>
          <th colspan="2" width="75%" class="text-right">

            <strong>Promedio</strong>
          </td>
          <th>
            <div class="progress" style="margin-bottom: 0px;">
              <div class="progress-bar" role="progressbar" aria-valuenow="<%= prom_width %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= prom_width %>%;background-color: <%= '#'+color+';' if prom_width && prom_width > 0 %>">
                <%= number_with_precision(prom, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
              </div>
            </div>
          </td>
        </tr>
        </thead>



      </table>

      <br>
      <br>



    <% end %>

  <% end %>

</div>


</div>
</div>
</div>
</div>
</div>




<!-- PAGE RELATED PLUGIN(S) -->


<script src="/assets/datatables/jquery.dataTables-cust.min.js"></script>
<script src="/assets/datatables/ColReorder.min.js"></script>
<script src="/assets/datatables/FixedColumns.min.js"></script>
<script src="/assets/datatables/ColVis.min.js"></script>
<script src="/assets/datatables/ZeroClipboard.js"></script>
<script src="/assets/datatables/media/js/TableTools.min.js"></script>
<script src="/assets/datatables/DT_bootstrap.js"></script>

<script type="text/javascript">


  $(document).ready(function() {


    $("#datatable_fixed_column thead input").keyup(function() {
      oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
    });

    $("#datatable_fixed_column thead input").each(function(i) {
      this.initVal = this.value;
    });
    $("#datatable_fixed_column thead input").focus(function() {
      if (this.className == "search_init") {
        this.className = "";
        this.value = "";
      }
    });
    $("#datatable_fixed_column thead input").blur(function(i) {
      if (this.value == "") {
        this.className = "search_init";
        this.value = this.initVal;
      }
    });




    var oTable = $('#datatable_fixed_column').dataTable({
      //"sDom" : "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
      "sDom": 'T<"clear">lfrtip',

      "sPaginationType" : "bootstrap_full",
      "aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
      "iDisplayLength" : 10,

      "bSortCellsTop" : true,
      "oTableTools" : {
        "aButtons" : [
          {'sExtends':'xls',
            'mColumns':[0,1,2,3,4,5,6,7,8,9,10,11,13,14,15] //set which columns here
          }],
        "sSwfPath" : "/assets/datatables/media/swf/copy_csv_xls_pdf.swf"
      }
    });
/*
    $("#datatable_fixed_column thead th input[type=text]").on( 'keyup change', function () {

      oTable
        .column( $(this).parent().index()+':visible' )
        .search( this.value )
        .draw();

    } );
*/
    oTable.fnSetColumnVis( 11, false );
    oTable.fnSetColumnVis( 13, false );


  });

  //$('#div_interno_contiene_tabla').css('overflow-x','scroll');



</script>

