
<% relaciones = %w(jefe par sub cli prov auto) %>

<% lista_relaciones = {'jefe' => @hr_process.alias_jefe, 'par' => @hr_process.alias_par, 'sub' => @hr_process.alias_sub, 'cli' => @hr_process.alias_cli, 'prov' => @hr_process.alias_prov} %>
<% lista_relaciones_plu = {'jefe' => @hr_process.alias_jefe_plu, 'par' => @hr_process.alias_par_plu, 'sub' => @hr_process.alias_sub_plu, 'cli' => @hr_process.alias_cli_plu, 'prov' => @hr_process.alias_prov_plu} %>


<div class="row">

  <div class="col-md-3">

    <div class="col-md-3">
      <%= link_to '<i class="fa fa-arrow-left"></i> Volver a ver ficha'.html_safe, my_people_mi_colaborador_path(@hr_process_user.user), class:'btn btn-default' %>
    </div>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>: Resultado final
    </h1>
  </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render partial: 'shared/user_profile_mini',
               locals: {
                 user: @hr_process_user.user,
                 company: @company,
                 ocultar_historial: false,
                 titulo: 'Perfil del Evaluado'

               }
    %>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="row">
      <div class="col-md-2 col-md-offset-10">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <%= link_to 'Descargar PDF', pe_reporting_final_results_for_boss_pdf_node_path(@hr_process_user) %>
          </div>
        </div>
      </div>
    </div>

    <%= render partial: 'final_results_common',
               locals: {
                 is_boss: true,
                 relaciones: relaciones,
                 lista_relaciones: lista_relaciones,
                 lista_relaciones_plu: lista_relaciones_plu
               }
    %>

  </div>
</div>
