
<div class="col-md-10 col-md-offset-1">
  <h1 class="page-title txt-color-blueDark">
    Reportes de evaluación de desempeño
  </h1>
</div>

<div class="row">

  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Lista de procesos</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>
            <th>#</th>
            <th>Periodo</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Fecha de inicio</th>
            <th>Fecha de fin</th>
            <th></th>
          </tr>

          </thead>

          <tbody>

          <% n_process = 0 %>

          <% user_connected.pe_managers_ordered_by_process.each_with_index do |pe_manager| %>

            <% pe_process = pe_manager.pe_process %>

            <tr>
              <td>
                <%= n_process += 1 %>
              </td>
              <td><%= pe_process.period %></td>
              <td><%= pe_process.name %></td>
              <td><%= pe_process.description %></td>
              <td>
                <% if pe_process.of_persons? %>
                  <i class="fa fa-users"></i> Personas
                <% else %>
                  <i class="fa fa-cubes"></i> Áreas
                <% end %>

              </td>
              <td>
                <%= (localize pe_process.from_date, format: :day_snmonth_year) %>

                <% if lms_time >= pe_process.from_date %>

                    <span class="label label-danger">Hace
                      <%= distance_of_time_in_words(pe_process.from_date, lms_time) %>
                    </span>

                <% else %>
                    <span class="label label-primary">En
                      <%= distance_of_time_in_words(lms_time, pe_process.from_date) %>
                    </span>
                <% end %>

              </td>
              <td>
                <%= (localize pe_process.to_date, format: :day_snmonth_year) %>

                <% if lms_time > pe_process.to_date %>

                    <span class="label label-danger">Hace
                      <%= distance_of_time_in_words(pe_process.to_date, lms_time) %>
                    </span>

                <% else %>
                    <span class="label label-primary">En
                      <%= distance_of_time_in_words(lms_time, pe_process.to_date) %>
                    </span>
                <% end %>

              </td>
              <td>
                <%= link_to 'Reportes', pe_reporting_list_reports_2_path(pe_process) %>
              </td>
            </tr>
          <% end %>

          <% user_connected.pe_reporters_ordered_by_process.each_with_index do |pe_manager| %>

            <% pe_process = pe_manager.pe_process %>

            <tr>
              <td>
                <%= n_process += 1 %>
              </td>
              <td><%= pe_process.period %></td>
              <td><%= pe_process.name %></td>
              <td><%= pe_process.description %></td>
              <td>
                <% if pe_process.of_persons? %>
                  <i class="fa fa-users"></i> Personas
                <% else %>
                  <i class="fa fa-cubes"></i> Áreas
                <% end %>

              </td>
              <td>
                <%= (localize pe_process.from_date, format: :day_snmonth_year) %>

                <% if lms_time >= pe_process.from_date %>

                    <span class="label label-danger">Hace
                      <%= distance_of_time_in_words(pe_process.from_date, lms_time) %>
                    </span>

                <% else %>
                    <span class="label label-primary">En
                      <%= distance_of_time_in_words(lms_time, pe_process.from_date) %>
                    </span>
                <% end %>

              </td>
              <td>
                <%= (localize pe_process.to_date, format: :day_snmonth_year) %>

                <% if lms_time > pe_process.to_date %>

                    <span class="label label-danger">Hace
                      <%= distance_of_time_in_words(pe_process.to_date, lms_time) %>
                    </span>

                <% else %>
                    <span class="label label-primary">En
                      <%= distance_of_time_in_words(lms_time, pe_process.to_date) %>
                    </span>
                <% end %>

              </td>
              <td>
                <%= link_to 'Reportes', pe_reporting_list_reports_2_path(pe_process) %>
              </td>
            </tr>
          <% end %>

          <% user_connected.hr_process_managers.each_with_index do |hr_process_manager| %>

            <% hr_process = hr_process_manager.hr_process %>

            <tr>
              <td>
                <%= n_process += 1 %>
              </td>
              <td><%= hr_process.year %></td>
              <td><%= hr_process.nombre %></td>
              <td></td>
              <td>
                <i class="fa fa-users"></i> Personas
              </td>
              <td>
                <%= (localize hr_process.fecha_inicio, format: :day_snmonth_year) %>

                <% if lms_time >= hr_process.fecha_inicio %>

                    <span class="label label-danger">Hace
                      <%= distance_of_time_in_words(hr_process.fecha_inicio, lms_time) %>
                    </span>

                <% else %>
                    <span class="label label-primary">En
                      <%= distance_of_time_in_words(lms_time, hr_process.fecha_inicio) %>
                    </span>
                <% end %>

              </td>
              <td>
                <%= (localize hr_process.fecha_fin, format: :day_snmonth_year) %>

                <% if lms_time > hr_process.fecha_fin %>

                    <span class="label label-danger">Hace
                      <%= distance_of_time_in_words(hr_process.fecha_fin, lms_time) %>
                    </span>

                <% else %>
                    <span class="label label-primary">En
                      <%= distance_of_time_in_words(lms_time, hr_process.fecha_fin) %>
                    </span>
                <% end %>

              </td>
              <td>
                <%= link_to 'Reportes', pe_reporting_list_reports_path(hr_process) %>
              </td>
            </tr>
          <% end %>

          </tbody>

        </table>

      </div>

    </div>

  </div>

</div>

