

<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de procesos'.html_safe, pe_reporting_list_processes_2_path, class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Reportes
    </h1>
  </div>

</div>


<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Reportes</legend>

        <table class="table table-striped table-hover table-bordered">
          <thead id="head_configuration" class="hidden">
          <tr>
            <th>
              Configuración
            </th>
          </tr>
          </thead>
          <tbody>

            <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

              <% if pe_evaluation.pe_process_reports_evaluation.members_configuration %>

                <tr>
                  <td>
                    <%= link_to 'Evaluados, evaluadores y validadores de definición de '+pe_evaluation.name.downcase, pe_reporting_rep_members_configuration_evaluation_path(pe_evaluation) %>
                  </td>
                </tr>

                <script>
                  $('#head_configuration').removeClass('hidden');
                </script>

              <% end %>

            <% end %>

            <% if @pe_process.pe_process_reports.rep_evaluated_evaluators_configuration %>

              <tr>
                <td>
                  <%= link_to 'Participantes evaluados y evaluadores', pe_reporting_rep_evaluated_members_configuration_path(@pe_process) %>
                </td>
              </tr>

              <script>
                $('#head_configuration').removeClass('hidden');
              </script>

            <% end %>

            <% if @pe_process.pe_process_reports.rep_evaluations_configutation %>

              <% unless $browser_ie %>

                <tr>

                  <td id="container_rep_evaluations_configuration">

                  </td>

                </tr>

                <script>

                  var wating_report_evaluations_configuration = '<i class="fa fa-refresh fa-spin"></i> Generando reporte, por favor espere...';
                  var link_to_report_evaluations_configuration = '<a onclick="down_rep_evaluations_configuration();" class="mouse_pointer">Evaluaciones</a>';

                  function down_rep_evaluations_configuration() {

                    $("#container_rep_evaluations_configuration").html(wating_report_evaluations_configuration);

                    $.ajax({
                      dataType: 'native',
                      url: "<%= pe_reporting_rep_evaluations_configuration_path(@pe_process, format: 'xls') %>",
                      xhrFields: {
                        responseType: 'blob'
                      },
                      success: function (blob) {
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = 'Evaluaciones_<%= @pe_process.name.gsub(/\s/,'_') %>.xls'
                        $("#container_rep_evaluations_configuration").append(link);
                        link.click();
                        $("#container_rep_evaluations_configuration").html(link_to_report_evaluations_configuration);
                      }
                    });

                  }

                  $( document ).ready(function() {
                    $("#container_rep_evaluations_configuration").html(link_to_report_evaluations_configuration);
                  });

                </script>

                <script>
                  $('#head_configuration').removeClass('hidden');
                </script>

              <% end %>

            <% end %>

          </tbody>
          <thead id="head_status" class="hidden">
          <tr>
            <th>
              Estado de avance
            </th>
          </tr>
          </thead>
          <tbody>

          <% if @pe_process.pe_process_reports.rep_general_status %>

            <tr>
              <td>
                <%= link_to 'Reporte de estado general', pe_reporting_rep_general_status_path(@pe_process) %>
              </td>
            </tr>

            <script>
              $('#head_status').removeClass('hidden');
            </script>

          <% end %>

          <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

            <% if pe_evaluation.pe_process_reports_evaluation.definition_status %>

              <tr>
                <td>
                  <%= link_to 'Reporte de estado de definición de '+pe_evaluation.name.downcase, pe_reporting_rep_definition_by_user_status_path(pe_evaluation) %>
                </td>
              </tr>

              <script>
                $('#head_status').removeClass('hidden');
              </script>

            <% end %>

          <% end %>

          <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

            <% if pe_evaluation.pe_process_reports_evaluation.tracking_status %>

              <tr>
                <td>
                  <%= link_to 'Reporte de estado de seguimiento de '+pe_evaluation.name.downcase, pe_reporting_rep_tracking_status_path(pe_evaluation) %>
                </td>
              </tr>

              <script>
                $('#head_status').removeClass('hidden');
              </script>

            <% end %>

          <% end %>


          <% if @pe_process.pe_process_reports.rep_assessment_status %>

            <tr>
              <td>
                <%= link_to 'Reporte de estado de evaluaciones', pe_reporting_rep_assessment_status_path(@pe_process) %>
              </td>
            </tr>

            <script>
              $('#head_status').removeClass('hidden');
            </script>

          <% end %>

          <% if @pe_process.pe_process_reports.rep_assign_status %>

            <tr>
              <td>
                <%= link_to 'Reporte de estado de asignaciones', pe_reporting_rep_assign_status_path(@pe_process) %>
              </td>
            </tr>

            <script>
              $('#head_status').removeClass('hidden');
            </script>

          <% end %>

          <% if @pe_process.pe_process_reports.rep_validation_status %>

            <tr>
              <td>
                <%= link_to 'Reporte de estado de validaciones', pe_reporting_rep_validation_status_path(@pe_process) %>
              </td>
            </tr>

            <script>
              $('#head_status').removeClass('hidden');
            </script>

          <% end %>

          <% if @pe_process.pe_process_reports.rep_calibration_status %>

            <tr>
              <td>
                <%= link_to 'Reporte de estado de calibraciones', pe_reporting_rep_calibration_status_path(@pe_process) %>
              </td>
            </tr>

            <script>
              $('#head_status').removeClass('hidden');
            </script>

          <% end %>

          <% if @pe_process.pe_process_reports.rep_feedback_status %>

            <tr>
              <td>
                <%= link_to 'Reporte de estado de retroalimentaciones', pe_reporting_rep_feedback_status_path(@pe_process) %>
              </td>
            </tr>

            <script>
              $('#head_status').removeClass('hidden');
            </script>

          <% end %>


          </tbody>

          <thead id="head_definition" class="hidden">
          <tr>
            <th colspan="2">
              Resultados de definición
            </th>
          </tr>
          </thead>


          <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

            <% if pe_evaluation.pe_process_reports_evaluation.detailed_definition %>


              <tr>
                <td>

                  <% if pe_evaluation.entered_by_manager %>
                    Reporte detallado de definición: <%= pe_evaluation.name %> - No se puede generar reporte detallado, registro de resultados finales por gestor
                  <% else %>

                    <% unless $browser_ie %>

                      <div id="container_rep_detallado_def_eval_<%= pe_evaluation.id %>">
                        <a onclick="down_rep_detallado_def_eval_<%= pe_evaluation.id %>();" class="mouse_pointer">Reporte detallado de definición de <%= pe_evaluation.name.downcase %> </a>
                      </div>

                      <% unless $browser_ie %>

                        <script>

                          function down_rep_detallado_def_eval_<%= pe_evaluation.id %>(){

                            var wating_report = '<i class="fa fa-refresh fa-spin"></i> Generando reporte, por favor espere...';
                            var link_to_report = '<a href="#" onclick="down_rep_detallado_def_eval_<%= pe_evaluation.id %>();">Reporte detallado de definición de <%= pe_evaluation.name.downcase %></a>';

                            $("#container_rep_detallado_def_eval_<%= pe_evaluation.id %>").html(wating_report);

                            $.ajax({
                              dataType: 'native',
                              url: "<%= pe_reporting_rep_detailed_definition_evaluation_path(pe_evaluation.id, 1, format: 'xls') %>",
                              xhrFields: {
                                responseType: 'blob'
                              },
                              success: function(blob){
                                var link=document.createElement('a');
                                link.href=window.URL.createObjectURL(blob);
                                link.download='Reporte_detallado_definición_<%= pe_evaluation.name.downcase %>_<%= localize(lms_time, format: :full_date_time_for_download) %>.xls'
                                $("#container_rep_detallado_def_eval_<%= pe_evaluation.id %>").append(link);
                                link.click();
                                $("#container_rep_detallado_def_eval_<%= pe_evaluation.id %>").html(link_to_report);
                              }
                            });

                          }

                        </script>

                      <% end %>

                    <% end %>

                  <% end %>

                </td>
              </tr>

              <script>
                $('#head_definition').removeClass('hidden');
              </script>

            <% end %>

            <% if pe_evaluation.pe_process_reports_evaluation.detailed_definition_i %>


              <tr>
                <td>

                  <% if pe_evaluation.entered_by_manager %>
                    Reporte detallado de definición: <%= pe_evaluation.name %> - No se puede generar reporte detallado, registro de resultados finales por gestor
                  <% else %>

                    <% unless $browser_ie %>

                      <div id="container_rep_detallado_def_eval_i_<%= pe_evaluation.id %>">
                        <a onclick="down_rep_detallado_def_eval_i_<%= pe_evaluation.id %>();" class="mouse_pointer">Reporte detallado de definición de <%= pe_evaluation.name.downcase %> (inactivos)</a>
                      </div>

                      <% unless $browser_ie %>

                        <script>

                          function down_rep_detallado_def_eval_i_<%= pe_evaluation.id %>(){

                            var wating_report = '<i class="fa fa-refresh fa-spin"></i> Generando reporte, por favor espere...';
                            var link_to_report = '<a href="#" onclick="down_rep_detallado_def_eval_i_<%= pe_evaluation.id %>();">Reporte detallado de definición de <%= pe_evaluation.name.downcase %> (inactivos)</a>';

                            $("#container_rep_detallado_def_eval_i_<%= pe_evaluation.id %>").html(wating_report);

                            $.ajax({
                              dataType: 'native',
                              url: "<%= pe_reporting_rep_detailed_definition_evaluation_path(pe_evaluation.id, 0, format: 'xls') %>",
                              xhrFields: {
                                responseType: 'blob'
                              },
                              success: function(blob){
                                var link=document.createElement('a');
                                link.href=window.URL.createObjectURL(blob);
                                link.download='Reporte_detallado_definición_<%= pe_evaluation.name.downcase %>_<%= localize(lms_time, format: :full_date_time_for_download) %>.xls'
                                $("#container_rep_detallado_def_eval_i_<%= pe_evaluation.id %>").append(link);
                                link.click();
                                $("#container_rep_detallado_def_eval_i_<%= pe_evaluation.id %>").html(link_to_report);
                              }
                            });

                          }

                        </script>

                      <% end %>

                    <% end %>

                  <% end %>

                </td>
              </tr>

              <script>
                $('#head_definition').removeClass('hidden');
              </script>

            <% end %>

          <% end %>

          <thead id="head_results" class="hidden">
          <tr>
            <th colspan="2">
              Resultados finales de la evaluación
            </th>
          </tr>
          </thead>
          <tbody>

          <% if @pe_process.pe_process_reports.rep_assessment_consolidated_results %>

            <tr>
              <td>

                <% if @pe_process.of_persons? %>

                  <%= link_to 'Reporte consolidado', pe_reporting_rep_consolidated_final_results_people_filter_path(@pe_process) %>

                <% else %>

                  <%= link_to 'Reporte consolidado', pe_reporting_rep_consolidated_final_results_areas_path(@pe_process) %>

                <% end %>

              </td>
            </tr>

            <script>
              $('#head_results').removeClass('hidden');
            </script>

          <% end %>

          <% if @pe_process.pe_process_reports.rep_assessment_detailed_results %>

            <% if @pe_process.of_persons? %>

              <tr>
                <td>
                  <%= link_to 'Reporte detallado por persona', pe_reporting_rep_detailed_final_results_people_list_path(@pe_process) %>
                </td>
              </tr>

            <% else %>

              <tr>
                <td>
                  <%= link_to 'Reporte detallado por área', pe_reporting_rep_detailed_final_results_area_list_path(@pe_process) %>
                </td>
              </tr>

            <% end %>

            <script>
              $('#head_results').removeClass('hidden');
            </script>

          <% end %>

          <% if @pe_process.pe_process_reports.rep_assessment_detailed_results_i %>

            <% if @pe_process.of_persons? %>

              <tr>
                <td>
                  <%= link_to 'Reporte detallado por persona (inactivos)', pe_reporting_rep_detailed_final_results_people_list_i_path(@pe_process) %>
                </td>
              </tr>

            <% end %>

            <script>
              $('#head_results').removeClass('hidden');
            </script>

          <% end %>

          <% if @pe_process.pe_process_reports.rep_detailed_final_results_evaluations %>

            <% if @pe_process.of_persons? %>
              <tr>
                <td>

                  <% unless $browser_ie %>

                    <div id="container_rep_detallado_con_evaluaciones">
                      <a onclick="down_rep_detallado_con_evaluaciones();" class="mouse_pointer">Reporte detallado resultado final con evaluaciones</a>
                    </div>

                    <% unless $browser_ie %>

                      <script>

                        function down_rep_detallado_con_evaluaciones(){

                          var wating_report = '<i class="fa fa-refresh fa-spin"></i> Generando reporte detallado con evaluaciones, por favor espere...';
                          var link_to_report = '<a href="#" onclick="down_rep_detallado_con_evaluaciones();">Reporte detallado resultado final con evaluaciones</a>';

                          $("#container_rep_detallado_con_evaluaciones").html(wating_report);

                          $.ajax({
                            dataType: 'native',
                            url: "<%= pe_reporting_rep_detailed_final_results_evaluations_path(@pe_process, format: 'xls') %>",
                            xhrFields: {
                              responseType: 'blob'
                            },
                            success: function(blob){
                              var link=document.createElement('a');
                              link.href=window.URL.createObjectURL(blob);
                              link.download='Reporte_detallado_evaluaciones_<%= localize(lms_time, format: :full_date_time_for_download) %>.xls'
                              $("#container_rep_detallado_con_evaluaciones").append(link);
                              link.click();
                              $("#container_rep_detallado_con_evaluaciones").html(link_to_report);
                            }
                          });

                        }

                      </script>

                    <% end %>

                  <% else %>

                    <%= link_to 'Reporte detallado con evaluaciones', pe_reporting_rep_detailed_final_results_evaluations_path(@pe_process, format: 'xls') %>

                  <% end %>

                </td>
              </tr>



              <script>
                $('#head_results').removeClass('hidden');
              </script>

            <% end %>

          <% end %>

          <% if @pe_process.pe_process_reports.rep_detailed_final_results_evaluations_cal %>

            <% if @pe_process.of_persons? %>
              <tr>
                <td>

                  <% unless $browser_ie %>

                    <div id="container_rep_detallado_con_evaluaciones_cal">
                      <a onclick="down_rep_detallado_con_evaluaciones_cal();" class="mouse_pointer">Reporte detallado resultado final con evaluaciones</a>
                    </div>

                    <% unless $browser_ie %>

                      <script>

                        function down_rep_detallado_con_evaluaciones_cal(){

                          var wating_report = '<i class="fa fa-refresh fa-spin"></i> Generando reporte detallado con evaluaciones, por favor espere...';
                          var link_to_report = '<a href="#" onclick="down_rep_detallado_con_evaluaciones_cal();">Reporte detallado resultado final con evaluaciones</a>';

                          $("#container_rep_detallado_con_evaluaciones_cal").html(wating_report);

                          $.ajax({
                            dataType: 'native',
                            url: "<%= pe_reporting_rep_detailed_final_results_evaluations_cal_path(@pe_process, format: 'xls') %>",
                            xhrFields: {
                              responseType: 'blob'
                            },
                            success: function(blob){
                              var link=document.createElement('a');
                              link.href=window.URL.createObjectURL(blob);
                              link.download='Reporte_detallado_evaluaciones_cal_<%= localize(lms_time, format: :full_date_time_for_download) %>.xls'
                              $("#container_rep_detallado_con_evaluaciones_cal").append(link);
                              link.click();
                              $("#container_rep_detallado_con_evaluaciones_cal").html(link_to_report);
                            }
                          });

                        }

                      </script>

                    <% end %>

                  <% else %>

                    <%= link_to 'Reporte detallado con evaluaciones_cal', pe_reporting_rep_detailed_final_results_evaluations_cal_path(@pe_process, format: 'xls') %>

                  <% end %>

                </td>
              </tr>



              <script>
                $('#head_results').removeClass('hidden');
              </script>

            <% end %>

          <% end %>

          <% if @pe_process.pe_process_reports.rep_detailed_final_results_questions %>

            <% if @pe_process.of_persons? %>

              <tr>
                <td>

                  <% unless $browser_ie %>

                    <div id="container_rep_detallado_con_preguntas">
                      <a onclick="down_rep_detallado_con_preguntas();" class="mouse_pointer">Listado de indicadores - metas - resultados - logros</a>
                    </div>

                    <% unless $browser_ie %>

                      <script>

                        function down_rep_detallado_con_preguntas(){

                          var wating_report = '<i class="fa fa-refresh fa-spin"></i> Generando reporte de indicadores - metas - resultados - logros, por favor espere...';
                          var link_to_report = '<a href="#" onclick="down_rep_detallado_con_preguntas();">Listado de indicadores - metas - resultados - logros</a>';

                          $("#container_rep_detallado_con_preguntas").html(wating_report);

                          $.ajax({
                            dataType: 'native',
                            url: "<%= pe_reporting_rep_detailed_final_results_questions_path(@pe_process, format: 'xls') %>",
                            xhrFields: {
                              responseType: 'blob'
                            },
                            success: function(blob){
                              var link=document.createElement('a');
                              link.href=window.URL.createObjectURL(blob);
                              link.download='Reporte_detallado_indicadores_metas_resultados_logros_<%= localize(lms_time, format: :full_date_time_for_download) %>.xls'
                              $("#container_rep_detallado_con_preguntas").append(link);
                              link.click();
                              $("#container_rep_detallado_con_preguntas").html(link_to_report);
                            }
                          });

                        }

                      </script>

                    <% end %>

                  <% else %>

                    <%= link_to 'Listado de indicadores - metas - resultados - logros', pe_reporting_rep_detailed_final_results_evaluations_path(@pe_process, format: 'xls') %>

                  <% end %>

                </td>
              </tr>

              <script>
                $('#head_results').removeClass('hidden');
              </script>

            <% end %>

          <% end %>

          <% if @pe_process.pe_process_reports.rep_rol_privado %>

            <% if @pe_process.of_persons? %>

              <tr>
                <td>

                  <% unless $browser_ie %>

                    <div id="container_rep_rol_privado">
                      <a onclick="down_rep_rol_privado();" class="mouse_pointer">Reporte Check - Rol Privado</a>
                    </div>

                    <% unless $browser_ie %>

                      <script>

                        function down_rep_rol_privado(){

                          var wating_report = '<i class="fa fa-refresh fa-spin"></i> Generando Reporte Check - Rol Privado, por favor espere...';
                          var link_to_report = '<a href="#" onclick="down_rep_rol_privado();">Reporte Check - Rol Privado</a>';

                          $("#container_rep_rol_privado").html(wating_report);

                          $.ajax({
                            dataType: 'native',
                            url: "<%= pe_reporting_rep_rol_privado_path(@pe_process) %>",
                            xhrFields: {
                              responseType: 'blob'
                            },
                            success: function(blob){
                              var link=document.createElement('a');
                              link.href=window.URL.createObjectURL(blob);
                              link.download='Reporte_check_rol_privado_<%= localize(lms_time, format: :full_date_time_for_download) %>.xlsx'
                              $("#container_rep_rol_privado").append(link);
                              link.click();
                              $("#container_rep_rol_privado").html(link_to_report);
                            }
                          });

                        }

                      </script>

                    <% end %>

                  <% else %>

                    <%= link_to 'Reporte Check - Rol Privado', pe_reporting_rep_rol_privado_path(@pe_process) %>

                  <% end %>

                </td>
              </tr>

              <script>
                $('#head_results').removeClass('hidden');
              </script>

            <% end %>

          <% end %>

          <% if @pe_process.pe_process_reports.rep_res_habitat_1 %>

            <% if @pe_process.of_persons? %>

              <tr>
                <td>
                  <%= link_to 'Reporte buenas prácticas de liderazgo', pe_reporting_rep_detailed_final_results_people_list_hab_path(@pe_process) %>
                </td>
              </tr>

            <% end %>

            <script>
              $('#head_results').removeClass('hidden');
            </script>

          <% end %>

          <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

            <% if pe_evaluation.pe_process_reports_evaluation.rep_detailed_final_results_evaluation %>

              <tr>
                <td>

                  <% if pe_evaluation.entered_by_manager %>
                    Reporte detallado por evaluación: <%= pe_evaluation.name %> - No se puede generar reporte detallado, registro de resultados finales por gestor
                  <% else %>
                    <%= link_to 'Reporte detallado por evaluación: '+pe_evaluation.name, pe_new_reportings_rep_detailed_final_results_evaluation_path(pe_evaluation.id, format: 'xlsx') %>
                    <!--
                      <br>
                    <%= link_to 'Reporte detallado por evaluación 1: '+pe_evaluation.name, pe_reporting_rep_detailed_final_results_evaluation_1_path(pe_evaluation.id, format: 'xlsx') %>
                    -->
                <% end %>

                </td>
              </tr>

              <script>
                $('#head_results').removeClass('hidden');
              </script>

            <% end %>

          <% end %>

          </tbody>

          <thead id="head_feedback" class="hidden">
          <tr>
            <th colspan="2">
              Resultados finales de la retroalimentación
            </th>
          </tr>
          </thead>
          <tbody>

            <% if @pe_process.pe_process_reports.rep_consolidated_feedback %>

              <% unless $browser_ie %>

                <tr>
                  <td>


                    <div id="container_rep_consolidado_retroalimentacion">
                      <a onclick="down_rep_consolidado_retroalimentacion();" class="mouse_pointer">Reporte consolidado retroalimentación (filas)</a>
                    </div>

                    <% unless $browser_ie %>

                      <script>

                        function down_rep_consolidado_retroalimentacion(){

                          var wating_report_cons_feedback = '<i class="fa fa-refresh fa-spin"></i> Generando reporte consolidado de retroalimentación, por favor espere...';
                          var link_to_report_cons_feedback = '<a href="#" onclick="down_rep_consolidado_retroalimentacion();">Reporte consolidado retroalimentación (filas)</a>';

                          $("#container_rep_consolidado_retroalimentacion").html(wating_report_cons_feedback);

                          $.ajax({
                            dataType: 'native',
                            url: "<%= pe_reporting_rep_consolidated_feedback_path(@pe_process, format: 'xls') %>",
                            xhrFields: {
                              responseType: 'blob'
                            },
                            success: function(blob){
                              var link=document.createElement('a');
                              link.href=window.URL.createObjectURL(blob);
                              link.download='Reporte_consolidado_retroalimentación_<%= localize(lms_time, format: :full_date_time_for_download) %>.xls'
                              $("#container_rep_consolidado_retroalimentacion").append(link);
                              link.click();
                              $("#container_rep_consolidado_retroalimentacion").html(link_to_report_cons_feedback);
                            }
                          });

                        }

                      </script>

                    <% end %>

                    <script>
                      $('#head_feedback').removeClass('hidden');
                    </script>

                  </td>
                </tr>

                <tr>
                  <td>


                    <div id="container_rep_consolidado_retroalimentacion_cols">
                      <a onclick="down_rep_consolidado_retroalimentacion_cols();" class="mouse_pointer">Reporte consolidado retroalimentación (columnas)</a>
                    </div>

                    <% unless $browser_ie %>

                      <script>

                        function down_rep_consolidado_retroalimentacion_cols(){

                          var wating_report_cons_feedback = '<i class="fa fa-refresh fa-spin"></i> Generando reporte consolidado de retroalimentación, por favor espere...';
                          var link_to_report_cons_feedback = '<a href="#" onclick="down_rep_consolidado_retroalimentacion_cols();">Reporte consolidado retroalimentación (columnas)</a>';

                          $("#container_rep_consolidado_retroalimentacion_cols").html(wating_report_cons_feedback);

                          $.ajax({
                            dataType: 'native',
                            url: "<%= pe_reporting_rep_consolidated_feedback_cols_path(@pe_process, format: 'xls') %>",
                            xhrFields: {
                              responseType: 'blob'
                            },
                            success: function(blob){
                              var link=document.createElement('a');
                              link.href=window.URL.createObjectURL(blob);
                              link.download='Reporte_consolidado_retroalimentación_<%= localize(lms_time, format: :full_date_time_for_download) %>.xls'
                              $("#container_rep_consolidado_retroalimentacion_cols").append(link);
                              link.click();
                              $("#container_rep_consolidado_retroalimentacion_cols").html(link_to_report_cons_feedback);
                            }
                          });

                        }

                      </script>

                    <% end %>

                    <script>
                      $('#head_feedback').removeClass('hidden');
                    </script>

                  </td>
                </tr>

              <% end %>
            <% end %>

            <% if @pe_process.pe_process_reports.rep_consolidated_feedback_accepted %>

              <% unless $browser_ie %>

                <tr>
                  <td>


                    <div id="container_rep_consolidado_conf_retroalimentacion">
                      <a onclick="down_rep_consolidado_conf_retroalimentacion();" class="mouse_pointer">Reporte consolidado confirmación de la retroalimentación</a>
                    </div>

                    <% unless $browser_ie %>

                      <script>

                        function down_rep_consolidado_conf_retroalimentacion(){

                          var wating_report_cons_feedback_accepted = '<i class="fa fa-refresh fa-spin"></i> Generando reporte consolidado de confirmación de la retroalimentación, por favor espere...';
                          var link_to_report_cons_feedback_accepted = '<a href="#" onclick="down_rep_consolidado_conf_retroalimentacion();">Reporte consolidado confirmación de la retroalimentación</a>';

                          $("#container_rep_consolidado_conf_retroalimentacion").html(wating_report_cons_feedback_accepted);

                          $.ajax({
                            dataType: 'native',
                            url: "<%= pe_reporting_rep_consolidated_feedback_accepted_path(@pe_process, format: 'xls') %>",
                            xhrFields: {
                              responseType: 'blob'
                            },
                            success: function(blob){
                              var link=document.createElement('a');
                              link.href=window.URL.createObjectURL(blob);
                              link.download='Reporte_consolidado_confirmación_retroalimentación_<%= localize(lms_time, format: :full_date_time_for_download) %>.xls'
                              $("#container_rep_consolidado_conf_retroalimentacion").append(link);
                              link.click();
                              $("#container_rep_consolidado_conf_retroalimentacion").html(link_to_report_cons_feedback_accepted);
                            }
                          });

                        }

                      </script>

                    <% end %>

                    <script>
                      $('#head_feedback').removeClass('hidden');
                    </script>

                  </td>
                </tr>
              <% end %>
            <% end %>

            <% if @pe_process.pe_process_reports.rep_consolidated_feedback_accepted_survey %>

              <% unless $browser_ie %>
  
                <tr>
                  <td>
  
  
                    <div id="container_rep_consolidado_conf_surv_retroalimentacion">
                      <a onclick="down_rep_consolidado_conf_surv_retroalimentacion();" class="mouse_pointer">Reporte consolidado de encuestas</a>
                    </div>
  
                    <% unless $browser_ie %>
  
                      <script>
  
                        function down_rep_consolidado_conf_surv_retroalimentacion(){
  
                          var wating_report_cons_feedback_accepted_survey = '<i class="fa fa-refresh fa-spin"></i> Generando reporte consolidado de encuestas, por favor espere...';
                          var link_to_report_cons_feedback_accepted_survey = '<a href="#" onclick="down_rep_consolidado_conf_surv_retroalimentacion();">Reporte consolidado de encuestas</a>';
  
                          $("#container_rep_consolidado_conf_surv_retroalimentacion").html(wating_report_cons_feedback_accepted_survey);
  
                          $.ajax({
                            dataType: 'native',
                            url: "<%= pe_reporting_rep_consolidated_feedback_accepted_survey_path(@pe_process, format: 'xls') %>",
                            xhrFields: {
                              responseType: 'blob'
                            },
                            success: function(blob){
                              var link=document.createElement('a');
                              link.href=window.URL.createObjectURL(blob);
                              link.download='Reporte_consolidado_encuestas_<%= localize(lms_time, format: :full_date_time_for_download) %>.xls'
                              $("#container_rep_consolidado_conf_surv_retroalimentacion").append(link);
                              link.click();
                              $("#container_rep_consolidado_conf_surv_retroalimentacion").html(link_to_report_cons_feedback_accepted_survey);
                            }
                          });
  
                        }
  
                      </script>
  
                    <% end %>
  
                    <script>
                      $('#head_feedback').removeClass('hidden');
                    </script>
  
                  </td>
                </tr>
              <% end %>
            <% end %>
          
          </tbody>

        </table>
      </div>
    </div>

  </div>
</div>