<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>

    <Style ss:ID="format_date">
      <NumberFormat ss:Format="dd\-mm\-yyyy"/>
    </Style>
    <Style ss:ID="format_number">
      <NumberFormat ss:Format="Fixed"/>
    </Style>
    <Style ss:ID="format_center">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Evaluaciones">
    <Table>
      <Row>

        <% if @pe_process.of_persons? %>

          <Cell><Data ss:Type="String"><%= alias_username %> evaluado</Data></Cell>
          <Cell><Data ss:Type="String">Evaluado</Data></Cell>

          <% @pe_process.pe_characteristics_rep_assessment_status.each do |pe_characteristic| %>
            <Cell><Data ss:Type="String"><%= pe_characteristic.characteristic.nombre %></Data></Cell>
          <% end %>

        <% else %>

          <Cell><Data ss:Type="String">Área evaluada</Data></Cell>
          <Cell><Data ss:Type="String">Responsable del área evaluada</Data></Cell>
          <Cell><Data ss:Type="String">Área evaluadora</Data></Cell>
          <Cell><Data ss:Type="String">Responsable del área evaluadora</Data></Cell>

        <% end %>

        <Cell><Data ss:Type="String">Evaluación</Data></Cell>
        <Cell><Data ss:Type="String">Peso</Data></Cell>

        <% max_num_elements = 1 %>

        <% pe_evaluations = @pe_process.pe_evaluations %>

        <% indicator_power_leverage = Array.new %>
        <% general_indicator_power_leverage = false %>
        <% general_indicator_note = false %>
        <% general_indicator_note_alias = '' %>

        <% pe_evaluations.each_with_index do |pe_evaluation, index| %>

          <% max_num_elements = pe_evaluation.pe_elements.size if pe_evaluation.pe_elements.size > max_num_elements %>

          <% available_indicator_types_selected_array = Array.new %>

          <% available_indicator_types_selected_array = pe_evaluation.pe_elements.last.available_indicator_types.split('-') if pe_evaluation.pe_elements && pe_evaluation.pe_elements.last && pe_evaluation.pe_elements.last.available_indicator_types && pe_evaluation.pe_elements.last.assessment_method == 2 %>
          <% if available_indicator_types_selected_array.size > 0 && available_indicator_types_selected_array.include?('5') %>
            <% indicator_power_leverage[index] = true %>
            <% general_indicator_power_leverage = true %>
          <% end %>

          <% if pe_evaluation.pe_elements.last && pe_evaluation.pe_elements.last.allow_note %>

            <% general_indicator_note = true %>
            <% general_indicator_note_alias = pe_evaluation.pe_elements.last.alias_note %>

          <% end %>

        <% end %>

        <% max_num_elements.times do %>

          <Cell><Data ss:Type="String"></Data></Cell>

        <% end %>

        <% if general_indicator_note %>
          <Cell><Data ss:Type="String"><%= general_indicator_note_alias %></Data></Cell>
        <% end %>

        <Cell><Data ss:Type="String">Tipo</Data></Cell>
        <Cell><Data ss:Type="String">Peso</Data></Cell>

        <% if general_indicator_power_leverage %>

          <Cell><Data ss:Type="String">Potencia</Data></Cell>
          <Cell><Data ss:Type="String">Apalancamiento</Data></Cell>

        <% end %>

        <Cell><Data ss:Type="String">Unidad de medida</Data></Cell>

        <Cell><Data ss:Type="String">Meta</Data></Cell>
        <Cell><Data ss:Type="String">Meta lograda</Data></Cell>
        <Cell><Data ss:Type="String">% de Logro</Data></Cell>

      </Row>

      <% @pe_process.evaluated_members_segmented_to_report(user_connected).each do |pe_member_evaluated| %>

        <% pe_evaluations.each_with_index do |pe_evaluation, index_pe_evaluation| %>

          <% if pe_evaluation.assessment_layout == 1 %>

            <% pe_member_evaluated.pe_member_rels_is_evaluated.each do |pe_member_rel| %>

              <% pe_rel = pe_member_rel.pe_rel %>

              <% if pe_evaluation.has_pe_evaluation_rel(pe_rel) %>

                <% pe_assessment_evaluation = pe_member_rel.pe_assessment_evaluation pe_evaluation %>

                <% pe_group = nil %>

                <% if pe_evaluation.pe_groups.size > 0 %>

                  <% pe_member_group = pe_member_evaluated.pe_member_group(pe_evaluation) %>

                  <% pe_group = pe_member_group.pe_group if pe_member_group %>

                <% end %>

                <% pe_member_evaluator = pe_member_rel.pe_member_evaluator %>

                <% pe_member_evaluation = pe_member_evaluated.pe_member_evaluations.where('pe_evaluation_id = ?', pe_evaluation.id).first %>

                <% pe_questions = pe_evaluation.pe_questions_by_pe_member_1st_level_ready(pe_member_evaluated, pe_member_evaluator, pe_group, pe_rel) %>

                <%= render partial: 'pe_reporting/rep_detailed_final_results_questions_item',
                         locals: {
                             pe_member_evaluated: pe_member_evaluated,
                             pe_member_evaluator: nil,
                             pe_member_evaluation: pe_member_evaluation,
                             pe_rel: nil,
                             pe_evaluation: pe_evaluation,
                             pe_questions: pe_questions,
                             first_element: true,
                             pe_member_evaluated_rel: nil,
                             max_num_elements: max_num_elements,
                             indicator_power_leverage: indicator_power_leverage[index_pe_evaluation],
                             general_indicator_power_leverage: general_indicator_power_leverage,
                             general_indicator_note: general_indicator_note,
                             general_indicator_note_alias: general_indicator_note_alias,
                             pe_assessment_evaluation: pe_assessment_evaluation

                         }
                %>

              <% end %>

            <% end %>

          <% end %>

        <% end %>


      <% end %>

    </Table>
  </Worksheet>
</Workbook>