<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>

    <Style ss:ID="format_date">
      <NumberFormat ss:Format="dd\-mm\-yyyy"/>
    </Style>
    <Style ss:ID="format_number">
      <NumberFormat ss:Format="Fixed"/>
    </Style>
    <Style ss:ID="format_center">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
    </Style>
    <Style ss:ID="format_wrap">
      <Alignment ss:WrapText="1"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Definición">
    <Table>
      <Row>

        <% if @pe_process.of_persons? %>

          <Cell><Data ss:Type="String"><%= alias_username %> evaluado</Data></Cell>
          <Cell><Data ss:Type="String">Evaluado</Data></Cell>

          <% @pe_process.pe_characteristics_rep_assessment_status.each do |pe_characteristic| %>
            <Cell><Data ss:Type="String"><%= pe_characteristic.characteristic.nombre %></Data></Cell>
          <% end %>

          <Cell><Data ss:Type="String"><%= alias_username %> evaluador</Data></Cell>
          <Cell><Data ss:Type="String">Evaluador</Data></Cell>

        <% else %>

          <Cell><Data ss:Type="String">Área evaluada</Data></Cell>
          <Cell><Data ss:Type="String">Responsable del área evaluada</Data></Cell>
          <Cell><Data ss:Type="String">Área evaluadora</Data></Cell>
          <Cell><Data ss:Type="String">Responsable del área evaluadora</Data></Cell>

        <% end %>

        <Cell><Data ss:Type="String">Relación</Data></Cell>

        <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_before_accepted > 0 %>

          <% (1..@pe_evaluation.num_steps_definition_by_users_validated_before_accepted).each do |step_number| %>

            <Cell><Data ss:Type="String"><%= alias_username %> <%= @pe_evaluation.alias_step_responsible(step_number,true) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= @pe_evaluation.alias_step_responsible(step_number,true) %></Data></Cell>

          <% end %>

        <% end %>


        <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0 %>

          <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>

            <Cell><Data ss:Type="String"><%= alias_username %> <%= @pe_evaluation.alias_step_responsible(step_number,false) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= @pe_evaluation.alias_step_responsible(step_number,false) %></Data></Cell>

          <% end %>

        <% end %>

        <% pe_elements = @pe_evaluation.pe_elements %>

        <% pe_elements.each do |pe_element| %>

          <% if pe_element.simple %>

            <Cell><Data ss:Type="String"><%= pe_element.name %></Data></Cell>

          <% else %>

            <% pe_element.pe_element_descriptions.each do |pe_element_description| %>

              <Cell><Data ss:Type="String"><%= pe_element_description.name %></Data></Cell>

            <% end %>

          <% end %>

        <% end %>

        <% if pe_elements.last && pe_elements.last.assessment_method == 2 %>

          <Cell><Data ss:Type="String">Estado</Data></Cell>

          <% if pe_elements.last.allow_note? %>
            <Cell><Data ss:Type="String"><%= pe_elements.last.alias_note %></Data></Cell>
          <% end %>

          <Cell><Data ss:Type="String">Tipo</Data></Cell>
          <Cell><Data ss:Type="String">Peso</Data></Cell>

          <% available_indicator_types_selected_array = Array.new %>
          <% available_indicator_types_selected_array = pe_elements.last.available_indicator_types.split('-') if pe_elements.last.available_indicator_types %>
          <% indicator_power_leverage = true if available_indicator_types_selected_array.size > 0 && available_indicator_types_selected_array.include?('5') %>

          <% if indicator_power_leverage %>

            <Cell><Data ss:Type="String">Potencia</Data></Cell>
            <Cell><Data ss:Type="String">Apalancamiento</Data></Cell>

          <% end %>

          <Cell><Data ss:Type="String">Unidad de medida</Data></Cell>

          <% max_ranks = 0 %>

          <% r = PeQuestionRank.where('pe_question_id IN(?)',@pe_evaluation.pe_questions.where('pe_questions.pe_element_id = ?',pe_elements.last.id).pluck('pe_questions.id')).select('count(*) as max_count').group('pe_question_id').reorder('max_count').first %>

          <% max_ranks = r.max_count if r %>

          <% max_ranks.times do %>

            <Cell><Data ss:Type="String">Meta</Data></Cell>
            <Cell><Data ss:Type="String">Logro(%)</Data></Cell>

          <% end %>

        <% end %>

      </Row>

      <% if @active == '1' %>
        <% pe_members_evaluated = @pe_process.evaluated_members_segmented_to_report(user_connected) %>
      <% else %>
        <% pe_members_evaluated = @pe_process.removed_members_segmented_to_report(user_connected) %>
      <% end %>


      <% pe_members_evaluated.each do |pe_member_evaluated| %>

        <% @pe_member_evaluated = pe_member_evaluated %>

        <% if pe_member_evaluated.has_to_be_assessed_in_evaluation(@pe_evaluation) %>

          <% status, @step_label, step_label_smart_table, status_confirmed, status_validated_before, status_accepted, status_validated_after, total_number_of_questions = @pe_evaluation.pe_member_definition_by_users_status @pe_member_evaluated %>

          <% pe_member_evaluated.pe_member_rels_is_evaluated_ordered_rel.each do |pe_member_is_evaluated_rel| %>

            <% @pe_rel = pe_member_is_evaluated_rel.pe_rel %>

            <% if @pe_evaluation.has_pe_evaluation_rel(@pe_rel) %>

              <% pe_group = nil %>

              <% if @pe_evaluation.pe_groups.size > 0 %>

                <% pe_member_group = pe_member_evaluated.pe_member_group(@pe_evaluation) %>

                <% pe_group = pe_member_group.pe_group if pe_member_group %>

              <% end %>

              <% @pe_member_evaluator = pe_member_is_evaluated_rel.pe_member_evaluator %>

              <% pe_questions = @pe_evaluation.pe_questions_by_pe_member_1st_level(pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel) %>

              <%= render partial: 'pe_reporting/rep_detailed_definition_evaluation_item',
                         locals: {
                             pe_questions: pe_questions,
                             first_element: true,
                             pe_member_evaluated_rel: pe_member_is_evaluated_rel,
                             indicator_power_leverage: indicator_power_leverage,
                             pe_elements_size: pe_elements.size
                         }
              %>

            <% end %>

          <% end %>

        <% end %>

      <% end %>

    </Table>
  </Worksheet>
</Workbook>