
<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de reportes'.html_safe, pe_reporting_list_reports_2_path(@pe_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Reportes
    </h1>
  </div>

</div>

<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Reporte de estado de avance de seguimiento de <%= @pe_evaluation.name.downcase %></legend>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <tr>
                <td width="25%">
                  <strong>Seguimiento realizado </strong>
                </td>
                <td id="progress_bar_tracking"></td>
                <td width="1%">
                  <nobr id="num_ready_tracking">

                  </nobr>
                </td>
              </tr>

            </table>
          </div>
        </div>

        <% pe_rel_boss = @pe_process.pe_rel_boss %>

        <div id="div_interno_contiene_tabla" class="" style="overflow-x: auto;">
          <br><br><br>
          <table id="datatable_fixed_column" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
            <thead>
            <tr>
              <th>#</th>
              <th><%= alias_username %></th>
              <th>Evaluado</th>

              <% @pe_process.pe_characteristics_rep_assessment_status.each do |pe_characteristic| %>

                <th>
                  <%= pe_characteristic.characteristic.nombre %>
                </th>

              <% end %>

              <th>
                <%= pe_rel_boss.alias %>
              </th>

              <th>
                Estado
              </th>

              <th>
                Última actualización
              </th>

            </tr>
            <tr>
              <td>
                <label class="input">
                  <input type="text" class="hidden">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <% @pe_process.pe_characteristics_rep_assessment_status.each do |pe_characteristic| %>

                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>

              <% end %>

              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>

              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>

              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>

            </tr>
            </thead>
            <tbody>



            <% num_tracked = 0 %>
            <% num_personas = 0 %>

            <% index = 0 %>

            <% @pe_process.evaluated_members_segmented_to_report(user_connected).each_with_index do |pe_member| %>

              <% if pe_member.has_to_be_assessed_in_evaluation(@pe_evaluation) %>

                <% num_personas += 1 %>

                <tr>
                  <td>
                    <%= index+=1 %>
                  </td>
                  <td><%= pe_member.user.codigo %></td>
                  <td><%= pe_member.user.apellidos %>, <%= pe_member.user.nombre %></td>
                  <% @pe_process.pe_characteristics_rep_assessment_status.each do |pe_characteristic| %>
                    <td>
                      <% pe_mc = pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
                      <%= pe_mc.value if pe_mc %>
                    </td>
                  <% end %>

                  <% pe_member_rel_boss = pe_member.pe_member_rel_boss %>

                  <td>

                    <%= pe_member_rel_boss.pe_member_evaluator.user.apellidos %>, <%= pe_member_rel_boss.pe_member_evaluator.user.nombre %>

                  </td>

                  <td>

                    <% pe_assessment_evaluation = pe_member_rel_boss.pe_assessment_evaluation @pe_evaluation %>

                    <% if pe_assessment_evaluation %>
                      <span class="label label-success label-smart-table">Realizado</span>
                      <% num_tracked += 1 %>
                    <% else %>
                      <span class="label label-danger label-smart-table">Pendiente</span>
                    <% end %>

                  </td>

                  <td>
                    <% if pe_assessment_evaluation %>
                      <%= (localize pe_assessment_evaluation.last_update, format: :day_snmonth_syear) %>
                    <% end %>
                  </td>


                </tr>

              <% end %>

            <% end %>

            </tbody>
          </table>

        </div>

        <br>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <table class="table table-bordered table-condensed">

              <tbody>

              <tr>
                <td>
                  <strong>Posibles estados del seguimiento</strong>
                </td>

                <td>

                  <span class="label label-success">Realizado</span>

                  <span class="label label-danger">Pendiente</span>

                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<%


  if num_personas > 0

    por_tracking = num_tracked * 100 / num_personas

    progress_bar_tracking = '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="'+por_tracking.to_s+'" aria-valuemin="0" aria-valuemax="100" style="width: '+por_tracking.to_s+'%;">'+por_tracking.to_s+'%</div></div>'

  end


%>

<script>
  $('#num_ready_tracking').html('<%= num_tracked %>/<%= num_personas %>');
</script>

<% if num_personas > 0 %>

  <script>

    $('#progress_bar_tracking').html('<%= progress_bar_tracking.html_safe %>');

  </script>

<% end %>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_fixed_column',
               file_name: 'Reporte estado de seguimiento'
           }
%>
