
<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de participantes'.html_safe, pe_reporting_rep_detailed_final_results_people_list_path(@pe_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Reportes
    </h1>
  </div>

</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render partial: 'shared/user_profile_mini',
               locals: {
                 user: @pe_member.user,
                 company: @company,
                 ocultar_historial: true,
                 titulo: 'Perfil del Evaluado',
                 is_boss: false

               }
    %>

  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Información del evaluado</legend>

        <% @pe_process.pe_characteristics_rep_detailed_final_results.each do |pe_characteristic| %>

          <% pe_mc = @pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>
                <%= pe_characteristic.characteristic.nombre %>
              </strong>
            </div>
            <div class="col-md-9">
              <%= pe_mc ? pe_mc.value : ''%>
            </div>
          </div>
          <br>
        <% end %>

        <% if @pe_process.rep_detailed_final_results_show_boss? %>

          <% pe_rel = @pe_process.pe_rel 'jefe' %>

          <% if pe_rel %>

            <% pe_member_rels_is_evaluated = @pe_member.pe_member_rels_is_evaluated_as_pe_rel pe_rel %>

            <% pe_member_rels_is_evaluated.each do |pe_member_rel_is_evaluated| %>

              <div class="row">
                <div class="col-md-3 text-right">
                  <strong>
                    <%= pe_rel.alias %>
                  </strong>
                </div>
                <div class="col-md-9">
                  <%= pe_member_rel_is_evaluated.pe_member_evaluator.user.apellidos %>, <%= pe_member_rel_is_evaluated.pe_member_evaluator.user.nombre %>
                </div>
              </div>
              <br>
            <% end %>

          <% end %>

        <% end %>

        <% if @pe_process.rep_detailed_final_results_show_feedback_provider && @pe_member.feedback_provider %>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>
                Responsable de <%= @pe_process.step_feedback_alias %>
              </strong>
            </div>
            <div class="col-md-9">
              <%= @pe_member.feedback_provider.apellidos %>, <%= @pe_member.feedback_provider.nombre %>
            </div>
          </div>
          <br>
        <% end %>

        <% if @pe_process.rep_detailed_final_results_show_feedback_date %>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>
                Fecha de <%= @pe_process.step_feedback_alias %>
              </strong>
            </div>
            <div class="col-md-9">
              <%= (localize @pe_member.step_feedback_date, format: :full_date) if @pe_member.step_feedback %>
            </div>
          </div>
          <br>
        <% end %>

        <% if @pe_process.rep_detailed_final_results_show_feedback_accepted_date %>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>
                Fecha de confirmación de <%= @pe_process.step_feedback_alias %>
              </strong>
            </div>
            <div class="col-md-9">
              <%= (localize @pe_member.step_feedback_accepted_date, format: :full_date) if @pe_member.step_feedback_accepted %>
            </div>
          </div>
          <br>
        <% end %>

      </div>

    </div>

  </div>

</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="row">


      <% if @pe_process.has_rep_detailed_final_results_only_boss? %>
        <div class="col-md-2 col-md-offset-8">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <%= link_to 'Descargar PDF', pe_reporting_rep_detailed_final_results_pdf_path(@pe_member) %>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <%= link_to ('Descargar PDF <br>(Sólo evaluación '+@pe_process.pe_rel_by_id(1).alias+')').html_safe, pe_reporting_rep_detailed_final_results_pdf_only_boss_path(@pe_member) %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col-md-2 col-md-offset-10">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <%= link_to 'Descargar PDF', pe_reporting_rep_detailed_final_results_pdf_path(@pe_member) %>
            </div>
          </div>
        </div>
      <% end %>

    </div>

    <%= render partial: 'rep_detailed_final_results_person_common',
               locals: {
                 show_feedback: @pe_process.rep_detailed_final_results_show_feedback_for_manager,
                 show_calibration: @pe_process.rep_detailed_final_results_show_calibration_for_manager,
                 show_pe_member_box: true,
                 show_pe_member_dimension_name: true,
                 todos: true
               }
    %>

  </div>
</div>

