
<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de reportes'.html_safe, pe_reporting_list_reports_2_path(@pe_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Reportes
    </h1>
  </div>

</div>

<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Reporte de estado de avance de asignación</legend>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">

              <tr>
                <td width="25%">
                  <strong>

                    Evaluadores sin asignaciones por realizar pendientes

                  </strong>
                  <br>
                  <em>
                    Han finalizado la asignación de evaluadores a todos sus evaluados
                  </em>
                </td>
                <td id="progress_bar_avance_completo"></td>
                <td width="1%">
                  <nobr id="num_avance_completo">

                  </nobr>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Evaluados con asignaciones terminadas</strong>
                </td>
                <td id="progress_bar_eval_terminada"></td>
                <td>
                  <nobr id="num_eval_terminada">

                  </nobr>
                </td>
              </tr>

            </table>
          </div>

        </div>

        <table id="datatable_fixed_column" class="table table-striped table-bordered smart-form" style="font-size: 11px;">
          <thead>
          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th>Evaluado</th>
            <% @pe_process.pe_characteristics_rep_assessment_status.each do |pe_characteristic| %>

              <th>
                <%= pe_characteristic.characteristic.nombre %>
              </th>

            <% end %>

            <th>Evaluador - <%= alias_username %></th>
            <th>Evaluador - Nombres</th>
            <th>Evaluador - Correo</th>

            <th>
              Relación
            </th>
            <th>
              Asignación
            </th>
            <th>
              Fecha
            </th>

          </tr>
          <tr>
            <td>
              <label class="input">
                <input type="text" class="hidden">
              </label>
            </td>

              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>


            <% @pe_process.pe_characteristics_rep_assessment_status.each do |pe_characteristic| %>

              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>

            <% end %>


              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>


            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>

            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>

            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>

          </tr>
          </thead>
          <tbody>

          <% num_evals = 0 %>
          <% num_evals_finalizadas = 0 %>

          <% num_personas = Array.new %>
          <% num_personas_incompletos = Array.new %>

          <% @pe_process.evaluated_members_segmented_to_report(user_connected).each_with_index do |pe_member| %>

            <% pe_member.pe_member_rels_is_evaluated_as_rel_id_ordered(1).each_with_index do |pe_member_evaluated_rel, index_evaluado_rel| %>

              <% num_personas.push pe_member_evaluated_rel.pe_member_evaluator.id %>

              <% num_evals += 1 %>
              <tr>
                <td>
                  <%= num_evals %>
                </td>

                  <td><%= pe_member.user.codigo %></td>
                  <td><%= pe_member.user.apellidos %>, <%= pe_member.user.nombre %></td>


                <% @pe_process.pe_characteristics_rep_assessment_status.each do |pe_characteristic| %>
                  <td>
                    <% pe_mc = pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
                    <%= pe_mc.value if pe_mc %>
                  </td>
                <% end %>


                  <td>


                    <%= pe_member_evaluated_rel.pe_member_evaluator.user.codigo %>

                  </td>
                  <td>

                    <%= pe_member_evaluated_rel.pe_member_evaluator.user.apellidos %>, <%= pe_member_evaluated_rel.pe_member_evaluator.user.nombre %>

                  </td>
                  <td>


                    <%= pe_member_evaluated_rel.pe_member_evaluator.user.email %>


                  </td>


                <td>
                  <%= pe_member_evaluated_rel.pe_rel.alias %>
                </td>
                <td>

                  <% if pe_member_evaluated_rel.pe_member_evaluated.step_assign %>
                    <% num_evals_finalizadas += 1 %>

                    <span class="label label-success label-smart-table">
                      Finalizada
                    </span>

                  <% else %>
                    <span class="label label-danger label-smart-table">No terminada</span>

                    <% num_personas_incompletos.push pe_member_evaluated_rel.pe_member_evaluator.id %>

                  <% end %>

                </td>
                <td>
                  <% if pe_member_evaluated_rel.pe_member_evaluated.step_assign %>
                      <span class="label label-success label-smart-table">
                        <%= (localize pe_member_evaluated_rel.pe_member_evaluated.step_assign_date, format: :day_snmonth_year) if pe_member_evaluated_rel.pe_member_evaluated.step_assign_date %>
                      </span>
                  <% end %>
                </td>

              </tr>

            <% end %>

          <% end %>

          </tbody>
        </table>


        <br>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <table class="table table-bordered table-condensed">
              <tbody>


              <tr>
                <td>
                  <strong>Posibles estados de la asignación</strong>
                </td>

                <td>
                  <span class="label label-success">Finalizada</span>

                  <span class="label label-danger">No terminada</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<% num_personas.uniq! %>
<% num_personas_incompletos.uniq! %>

<% num_personas_completos = num_personas.size - num_personas_incompletos.size %>

<%

  if num_personas.size > 0

    por_evaluados_completos = num_personas_completos * 100 / num_personas.size


    progress_bar_avance_completo = '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="'+por_evaluados_completos.to_s+'" aria-valuemin="0" aria-valuemax="100" style="width: '+por_evaluados_completos.to_s+'%;">'+por_evaluados_completos.to_s+'%</div></div>'

  end

  if num_evals > 0

    por_evaluaciones_terminadas = num_evals_finalizadas * 100 / num_evals


    progress_bar_eval_terminada = '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="'+por_evaluaciones_terminadas.to_s+'" aria-valuemin="0" aria-valuemax="100" style="width: '+por_evaluaciones_terminadas.to_s+'%;">'+por_evaluaciones_terminadas.to_s+'%</div></div>'
  end

%>

<script>

  $('#num_avance_completo').html('<%=num_personas_completos%>/<%=num_personas.size %>');
  $('#num_eval_terminada').html('<%=num_evals_finalizadas%>/<%=num_evals%>');

</script>

<% if num_personas.size > 0 %>

  <script>

    $('#progress_bar_avance_completo').html('<%= progress_bar_avance_completo.html_safe %>');

  </script>

<% end %>

<% if progress_bar_eval_terminada %>

  <script>

    $('#progress_bar_eval_terminada').html('<%= progress_bar_eval_terminada.html_safe %>');

  </script>

<% end %>



<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_fixed_column',
               file_name: 'Reporte estado de asignaciones'
           }
%>
