
<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de reportes'.html_safe, pe_reporting_list_reports_2_path(@pe_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Reportes
    </h1>
  </div>

</div>

<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Reporte de estado de avance de definición de <%= @pe_evaluation.name.downcase %></legend>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <tr>
                <td width="25%">
                  <strong><%= @pe_evaluation.draw_label_ready_definition_by_users.html_safe %> </strong>
                </td>
                <td id="progress_bar_ready_definition_by_users"></td>
                <td width="1%">
                  <nobr id="num_ready_definition_by_users">

                  </nobr>
                </td>
              </tr>

              <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_before_accepted > 0 %>

                <% (1..@pe_evaluation.num_steps_definition_by_users_validated_before_accepted).each do |step_number| %>

                  <tr>
                    <td width="25%">
                      <strong><%= @pe_evaluation.draw_label_ready_definition_by_users_validated_before_accepted(step_number).html_safe %></strong>
                    </td>
                    <td id="progress_bar_ready_definition_by_users_validated_before_accepted_<%= step_number %>"></td>
                    <td width="1%">
                      <nobr id="num_ready_definition_by_users_validated_before_accepted_<%= step_number %>">

                      </nobr>
                    </td>
                  </tr>

                <% end %>

              <% end %>

              <% if @pe_evaluation.allow_definition_by_users_accepted? %>

                <tr>
                  <td width="25%">
                    <strong><%= @pe_evaluation.draw_label_ready_definition_by_users_accepted.html_safe %> </strong>
                  </td>
                  <td id="progress_bar_ready_definition_by_users_accepted"></td>
                  <td width="1%">
                    <nobr id="num_ready_definition_by_users_accepted">

                    </nobr>
                  </td>
                </tr>

              <% end %>

              <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0 %>

                <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>

                  <tr>
                    <td width="25%">
                      <strong><%= @pe_evaluation.draw_label_ready_definition_by_users_validated_after_accepted(step_number).html_safe %></strong>
                    </td>
                    <td id="progress_bar_ready_definition_by_users_validated_after_accepted_<%= step_number %>"></td>
                    <td width="1%">
                      <nobr id="num_ready_definition_by_users_validated_after_accepted_<%= step_number %>">

                      </nobr>
                    </td>
                  </tr>

                <% end %>

              <% end %>

            </table>
          </div>
        </div>

        <% rel_ids_to_define_elements = @pe_evaluation.rel_ids_to_define_elements %>

        <div id="div_interno_contiene_tabla" class="" style="overflow-x: auto;">
          <br><br><br>
          <table id="datatable_fixed_column" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
            <thead>
            <tr>
              <th>#</th>
              <th><%= alias_username %></th>
              <th>Evaluado</th>

              <% @pe_process.pe_characteristics_rep_assessment_status.each do |pe_characteristic| %>

                <th>
                  <%= pe_characteristic.characteristic.nombre %>
                </th>

              <% end %>

              <% rel_ids_to_define_elements.each do |rel_id| %>

                <th>
                  <%= @pe_process.pe_rel_by_id(rel_id).alias+' - '+alias_username if @pe_process.pe_rel_by_id(rel_id) %>
                </th>
                <th>
                  <%= @pe_process.pe_rel_by_id(rel_id).alias+' - Nombres' if @pe_process.pe_rel_by_id(rel_id) %>
                </th>
                <th>
                  <%= @pe_process.pe_rel_by_id(rel_id).alias+' - Correo' if @pe_process.pe_rel_by_id(rel_id) %>
                </th>

              <% end %>

              <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_before_accepted > 0 %>

                <% (1..@pe_evaluation.num_steps_definition_by_users_validated_before_accepted).each do |step_number| %>

                  <th>
                    <%= @pe_evaluation.alias_step_responsible(step_number,true) %>
                  </th>

                <% end %>

              <% end %>


              <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0 %>

                <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>

                  <th>
                    <%= @pe_evaluation.alias_step_responsible(step_number,false) %>
                  </th>

                <% end %>

              <% end %>

              <th>
                Estado
              </th>

            </tr>
            <tr>
              <td>
                <label class="input">
                  <input type="text" class="hidden">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <% @pe_process.pe_characteristics_rep_assessment_status.each do |pe_characteristic| %>

                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>

              <% end %>

              <% rel_ids_to_define_elements.each do |rel_id| %>

                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>

              <% end %>

              <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_before_accepted > 0 %>

                <% (1..@pe_evaluation.num_steps_definition_by_users_validated_before_accepted).each do |step_number| %>

                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>

                <% end %>

              <% end %>


              <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0 %>

                <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>

                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>

                <% end %>

              <% end %>

              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>

            </tr>
            </thead>
            <tbody>



            <% num_evaluated = 0 %>

            <% num_confirmed = 0 %>

            <% num_validated_before = Array.new %>

            <% if @pe_evaluation.num_steps_definition_by_users_validated_before_accepted %>

              <% (1..@pe_evaluation.num_steps_definition_by_users_validated_before_accepted).each do |num_step| %>
                <% num_validated_before[num_step-1] = 0 %>
              <% end %>

            <% end %>

            <% num_accepted = 0 %>

            <% num_validated_after = Array.new %>

            <% if @pe_evaluation.num_steps_definition_by_users_validated_after_accepted %>

              <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |num_step| %>
                <% num_validated_after[num_step-1] = 0 %>
              <% end %>

            <% end %>

            <% index = 0 %>

            <% @pe_process.evaluated_members_segmented_to_report(user_connected).each_with_index do |pe_member| %>

              <% if pe_member.has_to_be_assessed_in_evaluation(@pe_evaluation) %>

                <% num_evaluated += 1 %>

                <tr>
                  <td>
                    <%= index+=1 %>
                  </td>
                  <td><%= pe_member.user.codigo %></td>
                  <td><%= pe_member.user.apellidos %>, <%= pe_member.user.nombre %></td>
                  <% @pe_process.pe_characteristics_rep_assessment_status.each do |pe_characteristic| %>
                    <td>
                      <% pe_mc = pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
                      <%= pe_mc.value if pe_mc %>
                    </td>
                  <% end %>

                  <% rel_ids_to_define_elements.each do |rel_id| %>



                    <td>

                    <% pe_member.pe_member_rels_is_evaluated_as_rel_id_ordered(rel_id).each do |pe_member_evaluated_rel| %>

                      <%= pe_member_evaluated_rel.pe_member_evaluator.user.codigo %>

                    <% end %>

                    </td>

                    <td>

                      <% pe_member.pe_member_rels_is_evaluated_as_rel_id_ordered(rel_id).each do |pe_member_evaluated_rel| %>

                        <%= pe_member_evaluated_rel.pe_member_evaluator.user.apellidos %>, <%= pe_member_evaluated_rel.pe_member_evaluator.user.nombre %>

                      <% end %>

                    </td>

                    <td>

                      <% pe_member.pe_member_rels_is_evaluated_as_rel_id_ordered(rel_id).each do |pe_member_evaluated_rel| %>

                        <%= pe_member_evaluated_rel.pe_member_evaluator.user.email %>

                      <% end %>

                    </td>

                  <% end %>

                  <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_before_accepted > 0 %>

                    <% (1..@pe_evaluation.num_steps_definition_by_users_validated_before_accepted).each do |step_number| %>

                      <td>
                        <% val = pe_member.pe_definition_by_user_validator(@pe_evaluation, step_number, true) %>
                        <% if val %>
                          <%= val.validator.apellidos %>, <%= val.validator.nombre %>
                        <% end %>
                      </td>

                    <% end %>

                  <% end %>


                  <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0 %>

                    <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>

                      <td>
                        <% val = pe_member.pe_definition_by_user_validator(@pe_evaluation, step_number, false) %>
                        <% if val %>
                          <%= val.validator.apellidos %>, <%= val.validator.nombre %>
                        <% end %>
                      </td>

                    <% end %>

                  <% end %>

                  <td>

                    <% status, step_label, step_label_smart_table, status_confirmed, status_validated_before, status_accepted, status_validated_after, total_number_of_questions = @pe_evaluation.pe_member_definition_by_users_status pe_member %>

                    <%= step_label_smart_table.html_safe %>

                    <% num_confirmed += 1 if status_confirmed %>

                    <% status_validated_before.each_with_index do |v, num_step| %>
                      <% num_validated_before[num_step] += 1 if v %>
                    <% end %>

                    <% num_accepted += 1 if status_accepted %>

                    <% status_validated_after.each_with_index do |v, num_step| %>
                      <% num_validated_after[num_step] += 1 if v %>
                    <% end %>

                  </td>


                </tr>

              <% end %>

            <% end %>

            </tbody>
          </table>

        </div>

        <br>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <table class="table table-bordered table-condensed">

              <tbody>

              <tr>
                <td>
                  <strong>Posibles estados de la definición</strong>
                </td>

                <td>

                  <%= @pe_evaluation.draw_label_not_initiated_definition_by_users.html_safe %>

                  <%= @pe_evaluation.draw_label_not_ready_definition_by_users.html_safe %>

                  <% if (@pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_before_accepted > 0) || @pe_evaluation.allow_definition_by_users_accepted? || (@pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0) %>

                    <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_before_accepted > 0 %>

                      <% (1..@pe_evaluation.num_steps_definition_by_users_validated_before_accepted).each do |step_number| %>

                        <%= @pe_evaluation.draw_label_not_ready_definition_by_users_validated_before_accepted(step_number).html_safe %>
                        <%= @pe_evaluation.draw_label_rejected_definition_by_users_validated_before_accepted(step_number).html_safe %>
                        <% unless @pe_evaluation.allow_definition_by_users_accepted? %>
                          <%= @pe_evaluation.draw_label_ready_definition_by_users_validated_before_accepted(step_number).html_safe %>
                        <% end %>

                      <% end %>

                      <% if @pe_evaluation.allow_definition_by_users_accepted? %>

                        <%= @pe_evaluation.draw_label_not_ready_definition_by_users_accepted.html_safe %>

                        <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0 %>

                          <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>

                            <%= @pe_evaluation.draw_label_not_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>
                            <%= @pe_evaluation.draw_label_rejected_definition_by_users_validated_after_accepted(step_number).html_safe %>
                            <%= @pe_evaluation.draw_label_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>
                          <% end %>

                        <% else %>
                          <%= @pe_evaluation.draw_label_ready_definition_by_users_accepted.html_safe %>
                        <% end %>

                      <% end %>

                    <% else %>

                      <% if @pe_evaluation.allow_definition_by_users_accepted? %>

                        <%= @pe_evaluation.draw_label_not_ready_definition_by_users_accepted.html_safe %>

                        <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0 %>
                          <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>

                            <%= @pe_evaluation.draw_label_not_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>
                            <%= @pe_evaluation.draw_label_rejected_definition_by_users_validated_after_accepted(step_number).html_safe %>
                            <%= @pe_evaluation.draw_label_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>

                          <% end %>

                        <% else %>
                          <%= @pe_evaluation.draw_label_ready_definition_by_users_accepted.html_safe %>
                        <% end %>

                      <% else %>

                        <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0 %>
                          <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>

                            <%= @pe_evaluation.draw_label_not_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>
                            <%= @pe_evaluation.draw_label_rejected_definition_by_users_validated_after_accepted(step_number).html_safe %>
                            <%= @pe_evaluation.draw_label_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>

                          <% end %>

                        <% end %>

                      <% end %>

                    <% end %>

                  <% else %>
                    <%= @pe_evaluation.draw_label_ready_definition_by_users.html_safe %>
                  <% end %>

                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<%

  if num_evaluated > 0

    por_num_confirmed = num_confirmed * 100 / num_evaluated

    progress_bar_confirmed = '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="'+por_num_confirmed.to_s+'" aria-valuemin="0" aria-valuemax="100" style="width: '+por_num_confirmed.to_s+'%;">'+por_num_confirmed.to_s+'%</div></div>'


    if @pe_evaluation.num_steps_definition_by_users_validated_before_accepted

      progress_bar_ready_definition_by_users_validated_before_accepted = Array.new

      (1..@pe_evaluation.num_steps_definition_by_users_validated_before_accepted).each do |num_step|

        p = num_validated_before[num_step-1] * 100 / num_evaluated

        progress_bar_ready_definition_by_users_validated_before_accepted[num_step-1] = '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="'+p.to_s+'" aria-valuemin="0" aria-valuemax="100" style="width: '+p.to_s+'%;">'+p.to_s+'%</div></div>'


      end

    end

    por_num_accepted = num_accepted * 100 / num_evaluated

    progress_bar_accepted = '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="'+por_num_accepted.to_s+'" aria-valuemin="0" aria-valuemax="100" style="width: '+por_num_accepted.to_s+'%;">'+por_num_accepted.to_s+'%</div></div>'

    if @pe_evaluation.num_steps_definition_by_users_validated_after_accepted

      progress_bar_ready_definition_by_users_validated_after_accepted = Array.new

      (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |num_step|

        p = num_validated_after[num_step-1] * 100 / num_evaluated

        progress_bar_ready_definition_by_users_validated_after_accepted[num_step-1] = '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="'+p.to_s+'" aria-valuemin="0" aria-valuemax="100" style="width: '+p.to_s+'%;">'+p.to_s+'%</div></div>'

      end

    end

  end

%>




<script>

  $('#num_ready_definition_by_users').html('<%= num_confirmed %>/<%=num_evaluated%>');


  <% if @pe_evaluation.num_steps_definition_by_users_validated_before_accepted %>

    <% (1..@pe_evaluation.num_steps_definition_by_users_validated_before_accepted).each do |num_step| %>

      $('#num_ready_definition_by_users_validated_before_accepted_<%= num_step %>').html('<%= num_validated_before[num_step-1] %>/<%=num_evaluated%>');

    <% end %>

  <% end %>


  $('#num_ready_definition_by_users_accepted').html('<%= num_accepted %>/<%=num_evaluated%>');

  <% if @pe_evaluation.num_steps_definition_by_users_validated_after_accepted %>

    <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |num_step| %>
  
      $('#num_ready_definition_by_users_validated_after_accepted_<%= num_step %>').html('<%= num_validated_after[num_step-1] %>/<%=num_evaluated%>');
  
    <% end %>

  <% end %>

</script>

<% if num_evaluated > 0 %>

  <script>

    $('#progress_bar_ready_definition_by_users').html('<%= progress_bar_confirmed.html_safe %>');

    <% if @pe_evaluation.num_steps_definition_by_users_validated_before_accepted %>

      <% (1..@pe_evaluation.num_steps_definition_by_users_validated_before_accepted).each do |num_step| %>

        $('#progress_bar_ready_definition_by_users_validated_before_accepted_<%= num_step %>').html('<%= progress_bar_ready_definition_by_users_validated_before_accepted[num_step-1].html_safe %>');

      <% end %>

    <% end %>

    $('#progress_bar_ready_definition_by_users_accepted').html('<%= progress_bar_accepted.html_safe %>');

    <% if @pe_evaluation.num_steps_definition_by_users_validated_after_accepted %>

      <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |num_step| %>
  
        $('#progress_bar_ready_definition_by_users_validated_after_accepted_<%= num_step %>').html('<%= progress_bar_ready_definition_by_users_validated_after_accepted[num_step-1].html_safe %>');
  
      <% end %>

    <% end %>
      
  </script>

<% end %>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_fixed_column',
               file_name: 'Reporte estado de definición'
           }
%>
