
<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de reportes'.html_safe, pe_reporting_list_reports_2_path(@pe_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Reportes
    </h1>
  </div>

</div>

<div class="row">

<div class="col-md-12">

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Reporte de estado de avance de calibraciones</legend>

      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <tr>
              <td width="25%">
                <strong>Colaboradores calibrados</strong>
              </td>
              <td id="progress_bar_avance"></td>
              <td width="1%">
                <nobr id="num_avance">

                </nobr>
              </td>
            </tr>
          </table>
        </div>

      </div>

      <div id="div_interno_contiene_tabla" class="" style="overflow-x: auto;">
        <br><br><br>
        <table id="datatable_fixed_column" class="table table-striped table-bordered smart-form" style="font-size: 11px;">
          <thead>
          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th>Evaluado</th>

            <% @pe_process.pe_characteristics_rep_calibration_status.each do |pe_characteristic| %>

              <th>
                <%= pe_characteristic.characteristic.nombre %>
              </th>

            <% end %>

            <th>
              Sesión de calibración
            </th>
            <th>
              Responsable del comité de calibración
            </th>
            <th>
              Calibración
            </th>
            <th>
              Fecha
            </th>

          </tr>
          <tr>
            <td>
              <label class="input">
                <input type="text" class="hidden">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <% @pe_process.pe_characteristics_rep_calibration_status.each do |pe_characteristic| %>

              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>

            <% end %>

            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>

            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>

            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>

            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>

          </tr>
          </thead>
          <tbody>

          <% num_cals = 0 %>
          <% num_cals_realizadas = 0 %>

          <% @pe_process.pe_cal_members_ordered_segmented_to_report(user_connected).each_with_index do |pe_cal_member, index| %>

            <% pe_member = pe_cal_member.pe_member %>

            <% num_cals += 1 %>

            <tr>
              <td>
                <%= index+1 %>
              </td>
              <td><%= pe_member.user.codigo %></td>
              <td><%= pe_member.user.apellidos %>, <%= pe_member.user.nombre %></td>
              <% @pe_process.pe_characteristics_rep_calibration_status.each do |pe_characteristic| %>
                <td>
                  <% pe_mc = pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
                  <%= pe_mc.value if pe_mc %>
                </td>
              <% end %>

              <td>
                <%= pe_cal_member.pe_cal_session.description %>

                <% if pe_cal_member.pe_cal_session.pe_evaluation %>
                  - <%= pe_cal_member.pe_cal_session.pe_evaluation.name %>
                <% end %>

              </td>

              <td>

                <% pe_cal_member.pe_cal_session.pe_cal_committees_manager_ordered.each do |pe_cal_committee| %>
                  <li><%= pe_cal_committee.user.apellidos %>, <%= pe_cal_committee.user.nombre %></li>
                <% end %>

              </td>

              <td>

                <% if pe_cal_member.pe_cal_session.pe_evaluation %>

                  <nobr>
                    <% if pe_cal_member.has_been_calibrated %>
                      <% num_cals_realizadas += 1  %>
                      <span class="label label-success label-smart-table">Realizada</span>
                    <% else %>
                      <span class="label label-danger label-smart-table">No terminada</span>
                    <% end %>
                  </nobr>

                <% else %>

                  <nobr>
                    <% if pe_member.step_calibration %>
                      <% num_cals_realizadas += 1  %>
                      <span class="label label-success label-smart-table">Realizada</span>
                    <% else %>
                      <span class="label label-danger label-smart-table">No terminada</span>
                    <% end %>
                  </nobr>

                <% end %>

              </td>

              <td>

                <nobr>

                  <% if pe_cal_member.pe_cal_session.pe_evaluation %>
                    <% if pe_cal_member.has_been_calibrated %>

                      <% if pe_cal_member.step_calibration_date %>

                        <span class="label label-success label-smart-table">
                          <%= (localize pe_cal_member.step_calibration_date, format: :day_snmonth_year) %>
                        </span>

                      <% else %>
                        <% pafe = pe_cal_member.pe_member.pe_assessment_final_evaluations.where('pe_evaluation_id = ? and original_percentage is not null', pe_cal_member.pe_cal_session.pe_evaluation_id).first %>

                        <span class="label label-success label-smart-table">
                          <%= (localize pafe.updated_at, format: :day_snmonth_year) if pafe.updated_at %>
                        </span>

                      <% end %>


                    <% end %>
                  <% else %>
                    <% if pe_member.step_calibration %>
                      <span class="label label-success label-smart-table">
                        <%= (localize pe_member.step_calibration_date, format: :day_snmonth_year) if pe_member.step_calibration_date %>
                      </span>
                    <% end %>
                  <% end %>

                </nobr>

              </td>

            </tr>


          <% end %>

          </tbody>
        </table>

      </div>

      <br>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <table class="table table-bordered table-condensed">
            <tbody>
              <tr>
                <td>
                  <strong>Posibles estados de la calibración</strong>
                </td>

                <td>
                  <span class="label label-success">Realizada</span>

                  <span class="label label-danger">No terminada</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>



<%

   if num_cals > 0

     por_cals_realizadas = num_cals_realizadas * 100 / num_cals

     progress_bar_cal_realizada = '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="'+por_cals_realizadas.to_s+'" aria-valuemin="0" aria-valuemax="100" style="width: '+por_cals_realizadas.to_s+'%;">'+por_cals_realizadas.to_s+'%</div></div>'

   end

%>


<script>
  $('#num_avance').html('<%=num_cals_realizadas%>/<%=num_cals%>');
</script>

<% if num_cals > 0 %>

  <script>

    $('#progress_bar_avance').html('<%= progress_bar_cal_realizada.html_safe %>');

  </script>

<% end %>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_fixed_column',
               file_name: 'Reporte estado de calibración'
           }
%>