<?xml version="1.0"?><Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet" xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="format_date">
      <NumberFormat ss:Format="dd\-mm\-yyyy"/>
    </Style>
    <Style ss:ID="format_number">
      <NumberFormat ss:Format="Fixed"/>
    </Style>
    <Style ss:ID="format_center">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
    </Style>
    <Style ss:ID="format_wrap">
      <Alignment ss:WrapText="1"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Resultados">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">#</Data></Cell>
        <Cell><Data ss:Type="String"><%= alias_username %></Data></Cell>
        <Cell><Data ss:Type="String">Apellidos</Data></Cell>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <% @pe_process.pe_characteristics_rep_consolidated_final_results.each do |pe_characteristic| %><Cell><Data ss:Type="String"><%= pe_characteristic.characteristic.nombre %></Data></Cell><% end %>

        <% pe_rel_boss = @pe_process.pe_rel('jefe') %>

        <% if pe_rel_boss %>

          <Cell><Data ss:Type="String">Jefe directo</Data></Cell>

        <% end %>



      </Row>

      <% index = 0 %>

      <% @pe_process.evaluated_members_segmented_to_report(user_connected).each do |pe_member| %>

        <% @pe_process.pe_feedback_fields.each do |pe_feedback_field| %>

          <% pe_member_feedback = pe_member.pe_member_feedbacks_by_field(pe_feedback_field) %>

          <% if pe_member_feedback %>

            <% if pe_feedback_field.simple %>

              <Row>
                <Cell><Data ss:Type="String"><%= index+=1 %></Data></Cell>
                <Cell><Data ss:Type="String"><%= pe_member.user.codigo %></Data></Cell>
                <Cell><Data ss:Type="String"><%= pe_member.user.apellidos %></Data></Cell>
                <Cell><Data ss:Type="String"><%= pe_member.user.nombre %></Data></Cell>
                <Cell><Data ss:Type="String"><%= pe_member.user.email %></Data></Cell>
                <% @pe_process.pe_characteristics_rep_consolidated_final_results.each do |pe_characteristic| %>
                  <% pe_mc = pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
                  <Cell><Data ss:Type="String"><%= pe_mc.value if pe_mc %></Data></Cell>
                <% end %>

                <% if pe_rel_boss %>

                  <Cell><Data ss:Type="String"><% pe_member.pe_member_rels_is_evaluated_as_pe_rel(pe_rel_boss).each_with_index do |pe_member_is_evaluated_rel, num_boss| %><%= '-' if num_boss > 0 %><%= pe_member_is_evaluated_rel.pe_member_evaluator.user.apellidos %>, <%= pe_member_is_evaluated_rel.pe_member_evaluator.user.nombre %><% end %></Data></Cell>

                <% end %>

                <Cell><Data ss:Type="String"><%= pe_feedback_field.name %></Data></Cell>

                <Cell><Data ss:Type="String"></Data></Cell>
                <Cell ss:StyleID="format_wrap"><Data ss:Type="String"><%= format_html_to_excel(pe_member_feedback.formatted_comment).html_safe if pe_member_feedback %></Data></Cell>

              </Row>

            <% else %>

              <% (1..pe_member_feedback.number_of_compound_feedbacks).each do |number_of_compound_feedback| %>

                <% pe_feedback_field.pe_feedback_compound_fields.each do |pe_feedback_compound_field| %>

                  <Row>
                    <Cell><Data ss:Type="String"><%= index+1 %></Data></Cell>
                    <Cell><Data ss:Type="String"><%= pe_member.user.codigo %></Data></Cell>
                    <Cell><Data ss:Type="String"><%= pe_member.user.apellidos %></Data></Cell>
                    <Cell><Data ss:Type="String"><%= pe_member.user.nombre %></Data></Cell>
                    <Cell><Data ss:Type="String"><%= pe_member.user.email %></Data></Cell>
                    <% @pe_process.pe_characteristics_rep_consolidated_final_results.each do |pe_characteristic| %>
                      <% pe_mc = pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
                      <Cell><Data ss:Type="String"><%= pe_mc.value if pe_mc %></Data></Cell>
                    <% end %>

                    <% if pe_rel_boss %>

                      <Cell><Data ss:Type="String"><% pe_member.pe_member_rels_is_evaluated_as_pe_rel(pe_rel_boss).each_with_index do |pe_member_is_evaluated_rel, num_boss| %><%= '-' if num_boss > 0 %><%= pe_member_is_evaluated_rel.pe_member_evaluator.user.apellidos %>, <%= pe_member_is_evaluated_rel.pe_member_evaluator.user.nombre %><% end %></Data></Cell>

                    <% end %>

                    <Cell><Data ss:Type="String"><%= pe_feedback_field.name %></Data></Cell>

                    <Cell><Data ss:Type="String"><%= number_of_compound_feedback %>. <%= pe_feedback_compound_field.name %></Data></Cell>

                    <% pe_member_compound_feedback = pe_member_feedback.pe_member_compound_feedbacks_by_field(number_of_compound_feedback, pe_feedback_compound_field) %>

                    <Cell ss:StyleID="format_wrap"><Data ss:Type="String"><%= format_html_to_excel(pe_member_compound_feedback.formatted_comment).html_safe if pe_member_compound_feedback %></Data></Cell>

                  </Row>

                <% end %>

              <% end %>

            <% end %>

          <% end %>

        <% end %>

      <% end %>
    </Table>
  </Worksheet>
</Workbook>