
<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de reportes'.html_safe, pe_reporting_list_reports_2_path(@pe_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Reportes
    </h1>
  </div>

</div>

<div class="row">

<div class="col-md-12">

  <div class="panel panel-default">
    <div class="panel-body">

      <legend>Reporte de estado de avance de retroalimentaciones</legend>

      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <tr>
              <td width="25%">
                <strong>Colaboradores retroalimentados</strong>
              </td>
              <td id="progress_bar_avance"></td>
              <td width="1%">
                <nobr id="num_avance">

                </nobr>
              </td>
            </tr>
            <% if @pe_process.has_step_feedback_accepted? %>

              <tr>
                <td width="25%">
                  <strong>Retroalimentaciones confirmadas</strong>
                </td>
                <td id="progress_bar_avance_conf"></td>
                <td width="1%">
                  <nobr id="num_avance_conf">

                  </nobr>
                </td>
              </tr>

            <% end %>
          </table>
        </div>
      </div>

      <div id="div_interno_contiene_tabla" class="" style="overflow-x: auto;">
        <br><br><br>
        <table id="datatable_fixed_column" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
          <thead>
          <tr>
            <th>#</th>
            <th><%= alias_username %></th>
            <th>Evaluado</th>

            <% @pe_process.pe_characteristics_rep_feedback_status.each do |pe_characteristic| %>

              <th>
                <%= pe_characteristic.characteristic.nombre %>
              </th>

            <% end %>

            <th>
              Retroalimentado por - <%= alias_username %>
            </th>
            <th>
              Retroalimentado por - Nombres
            </th>
            <th>
              Retroalimentado por - Correo
            </th>
            <th>
              Retroalimentación
            </th>
            <th>
              Fecha <%= 'retroalimentación' if @pe_process.has_step_feedback_accepted?%>
            </th>
            <% if @pe_process.has_step_feedback_accepted? %>
            <th>
              Fecha confirmación
            </th>
            <% end %>

          </tr>
          <tr>
            <td>
              <label class="input">
                <input type="text" class="hidden">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>
            <% @pe_process.pe_characteristics_rep_feedback_status.each do |pe_characteristic| %>

              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>

            <% end %>

            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>

            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>

            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>

            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>

            <td>
              <label class="input">
                <input type="text">
              </label>
            </td>

            <% if @pe_process.has_step_feedback_accepted? %>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
            <% end %>


          </tr>
          </thead>
          <tbody>

          <% num_feeds = 0 %>
          <% num_feeds_realizadas = 0 %>
          <% num_feeds_confirmadas = 0 %>

          <% @pe_process.evaluated_members_segmented_to_report(user_connected).each_with_index do |pe_member, index| %>

            <% num_feeds += 1 %>

            <tr>
              <td>
                <%= index+1 %>
              </td>
              <td><%= pe_member.user.codigo %></td>
              <td><%= pe_member.user.apellidos %>, <%= pe_member.user.nombre %></td>
              <% @pe_process.pe_characteristics_rep_feedback_status.each do |pe_characteristic| %>
                <td>
                  <% pe_mc = pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
                  <%= pe_mc.value if pe_mc %>
                </td>
              <% end %>

              <td>

                <%= pe_member.feedback_provider.codigo if pe_member.feedback_provider %>

              </td>

              <td>

                <%= pe_member.feedback_provider.apellidos+', '+pe_member.feedback_provider.nombre if pe_member.feedback_provider %>

              </td>

              <td>

                <%= pe_member.feedback_provider.email if pe_member.feedback_provider %>

              </td>

              <td>

                <% if @pe_process.has_step_feedback_accepted? %>

                  <% if pe_member.step_feedback_accepted %>
                    <% num_feeds_confirmadas += 1  %>
                    <% num_feeds_realizadas += 1  %>
                    <span class="label label-success label-smart-table">Confirmada</span>
                  <% else %>
                    <% if pe_member.step_feedback %>
                      <% num_feeds_realizadas += 1  %>
                      <span class="label label-warning label-smart-table">Realizada</span>

                    <% else %>

                      <span class="label label-danger label-smart-table">No terminada</span>

                    <% end %>
                  <% end %>

                <% else %>

                  <% if pe_member.step_feedback %>
                    <% num_feeds_realizadas += 1  %>
                    <span class="label label-success label-smart-table">Realizada</span>

                  <% else %>

                    <span class="label label-danger label-smart-table">No terminada</span>

                  <% end %>

                <% end %>

              </td>

              <td>

                <% if @pe_process.has_step_feedback_accepted? %>

                  <% if pe_member.step_feedback %>

                    <span class="label label-warning label-smart-table">
                      <%= (localize pe_member.step_feedback_date, format: :day_snmonth_year) if pe_member.step_feedback_date %>
                    </span>

                  <% end %>

                <% else %>

                  <% if pe_member.step_feedback %>

                    <span class="label label-success label-smart-table">
                      <%= (localize pe_member.step_feedback_date, format: :day_snmonth_year) if pe_member.step_feedback_date %>
                    </span>

                  <% end %>

                <% end %>

              </td>

              <% if @pe_process.has_step_feedback_accepted? %>
                <td>
                  <% if pe_member.step_feedback && pe_member.step_feedback_accepted %>
                    <span class="label label-success label-smart-table">
                      <%= (localize pe_member.step_feedback_accepted_date, format: :day_snmonth_year) if pe_member.step_feedback_accepted_date %>
                    </span>
                  <% end %>
                </td>
              <% end %>



            </tr>


          <% end %>

          </tbody>
        </table>

      </div>

      <br>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <table class="table table-bordered table-condensed">

            <tbody>

              <tr>
                <td>
                  <strong>Posibles estados de la retroalimentación</strong>
                </td>

                <td>

                  <% if @pe_process.has_step_feedback_accepted? %>

                    <span class="label label-success">Confirmada</span>
                    <span class="label label-warning">Realizada</span>
                    <span class="label label-danger">No terminada</span>

                  <% else %>
                    <span class="label label-success">Realizada</span>
                    <span class="label label-danger">No terminada</span>

                  <% end %>

                </td>
              </tr>



            </tbody>
          </table>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>



<%

   if num_feeds > 0

     por_feeds_realizadas = num_feeds_realizadas * 100 / num_feeds

     progress_bar_feed_realizada = '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="'+por_feeds_realizadas.to_s+'" aria-valuemin="0" aria-valuemax="100" style="width: '+por_feeds_realizadas.to_s+'%;">'+por_feeds_realizadas.to_s+'%</div></div>'

   end

%>

<%
  if @pe_process.has_step_feedback_accepted?

    if num_feeds > 0

      por_feeds_confirmadas = num_feeds_confirmadas * 100 / num_feeds

      progress_bar_feed_confirmada = '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="'+por_feeds_confirmadas.to_s+'" aria-valuemin="0" aria-valuemax="100" style="width: '+por_feeds_confirmadas.to_s+'%;">'+por_feeds_confirmadas.to_s+'%</div></div>'

    end

  end

%>


<script>
  $('#num_avance').html('<%=num_feeds_realizadas%>/<%=num_feeds%>');
</script>

<% if num_feeds > 0 %>

  <script>

    $('#progress_bar_avance').html('<%= progress_bar_feed_realizada.html_safe %>');

  </script>

<% end %>

<% if @pe_process.has_step_feedback_accepted? %>

  <script>
    $('#num_avance_conf').html('<%=num_feeds_confirmadas%>/<%=num_feeds%>');
  </script>

  <% if num_feeds > 0 %>

    <script>

      $('#progress_bar_avance_conf').html('<%= progress_bar_feed_confirmada.html_safe %>');

    </script>

  <% end %>


<% end %>


<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_fixed_column',
               file_name: 'Reporte estado de retroalimentación'
           }
%>