
<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de reportes'.html_safe, pe_reporting_list_reports_2_path(@pe_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Reportes
    </h1>
  </div>

</div>

<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Reporte de evaluador, evaluadores y validadores de definición de <%= @pe_evaluation.name.downcase %></legend>

        <% rel_ids_to_define_elements = @pe_evaluation.rel_ids_to_define_elements %>

        <div id="div_interno_contiene_tabla" class="" style="overflow-x: auto;">
          <br><br><br>
          <table id="datatable_fixed_column" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
            <thead>
            <tr>
              <th>#</th>
              <th><%= alias_username %></th>
              <th>Evaluado</th>

              <% @pe_process.pe_characteristics_rep_assessment_status.each do |pe_characteristic| %>

                <th>
                  <%= pe_characteristic.characteristic.nombre %>
                </th>

              <% end %>

              <% rel_ids_to_define_elements.each do |rel_id| %>

                <th>
                  <%= (alias_username+' '+@pe_process.pe_rel_by_id(rel_id).alias) if @pe_process.pe_rel_by_id(rel_id) %>
                </th>
                <th>
                  <%= @pe_process.pe_rel_by_id(rel_id).alias if @pe_process.pe_rel_by_id(rel_id) %>
                </th>

              <% end %>

              <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_before_accepted > 0 %>

                <% (1..@pe_evaluation.num_steps_definition_by_users_validated_before_accepted).each do |step_number| %>
                  <th>
                    <%= (alias_username+' '+@pe_evaluation.alias_step_responsible(step_number,true)) %>
                  </th>
                  <th>
                    <%= @pe_evaluation.alias_step_responsible(step_number,true) %>
                  </th>

                <% end %>

              <% end %>


              <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0 %>

                <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>
                  <th>
                    <%= (alias_username+' '+@pe_evaluation.alias_step_responsible(step_number,false)) %>
                  </th>
                  <th>
                    <%= @pe_evaluation.alias_step_responsible(step_number,false) %>
                  </th>

                <% end %>

              <% end %>


            </tr>
            <tr>
              <td>
                <label class="input">
                  <input type="text" class="hidden">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <% @pe_process.pe_characteristics_rep_assessment_status.each do |pe_characteristic| %>

                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>

              <% end %>

              <% rel_ids_to_define_elements.each do |rel_id| %>

                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>

              <% end %>

              <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_before_accepted > 0 %>

                <% (1..@pe_evaluation.num_steps_definition_by_users_validated_before_accepted).each do |step_number| %>

                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>
                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>

                <% end %>

              <% end %>


              <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0 %>

                <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>

                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>
                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>

                <% end %>

              <% end %>

            </tr>
            </thead>
            <tbody>



            <% num_evaluated = 0 %>

            <% num_confirmed = 0 %>

            <% num_validated_before = Array.new %>

            <% if @pe_evaluation.num_steps_definition_by_users_validated_before_accepted %>

              <% (1..@pe_evaluation.num_steps_definition_by_users_validated_before_accepted).each do |num_step| %>
                <% num_validated_before[num_step-1] = 0 %>
              <% end %>

            <% end %>

            <% num_accepted = 0 %>

            <% num_validated_after = Array.new %>

            <% if @pe_evaluation.num_steps_definition_by_users_validated_after_accepted %>

              <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |num_step| %>
                <% num_validated_after[num_step-1] = 0 %>
              <% end %>

            <% end %>

            <% index = 0 %>

            <% @pe_process.evaluated_members_segmented_to_report(user_connected).each_with_index do |pe_member| %>

              <% if pe_member.has_to_be_assessed_in_evaluation(@pe_evaluation) %>

                <% num_evaluated += 1 %>

                <tr>
                  <td>
                    <%= index+=1 %>
                  </td>
                  <td><%= pe_member.user.codigo %></td>
                  <td><%= pe_member.user.apellidos %>, <%= pe_member.user.nombre %></td>
                  <% @pe_process.pe_characteristics_rep_assessment_status.each do |pe_characteristic| %>
                    <td>
                      <% pe_mc = pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
                      <%= pe_mc.value if pe_mc %>
                    </td>
                  <% end %>

                  <% rel_ids_to_define_elements.each do |rel_id| %>

                    <td>

                      <% pe_member.pe_member_rels_is_evaluated_as_rel_id_ordered(rel_id).each do |pe_member_evaluated_rel| %>

                        <%= pe_member_evaluated_rel.pe_member_evaluator.user.codigo %>

                      <% end %>

                    </td>
                    <td>

                      <% pe_member.pe_member_rels_is_evaluated_as_rel_id_ordered(rel_id).each do |pe_member_evaluated_rel| %>

                        <%= pe_member_evaluated_rel.pe_member_evaluator.user.apellidos %>, <%= pe_member_evaluated_rel.pe_member_evaluator.user.nombre %>

                      <% end %>

                    </td>

                  <% end %>

                  <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_before_accepted > 0 %>

                    <% (1..@pe_evaluation.num_steps_definition_by_users_validated_before_accepted).each do |step_number| %>
                      <% val = pe_member.pe_definition_by_user_validator(@pe_evaluation, step_number, true) %>
                      <td>
                        <% if val %>
                          <%= val.validator.codigo %>
                        <% end %>
                      </td>

                      <td>
                        <% if val %>
                          <%= val.validator.apellidos %>, <%= val.validator.nombre %>
                        <% end %>
                      </td>
                    <% end %>

                  <% end %>


                  <% if @pe_process.has_step_definition_by_users_validated? && @pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0 %>

                    <% (1..@pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>
                      <% val = pe_member.pe_definition_by_user_validator(@pe_evaluation, step_number, false) %>
                      <td>
                        <% if val %>
                          <%= val.validator.codigo %>
                        <% end %>
                      </td>
                      <td>
                        <% if val %>
                          <%= val.validator.apellidos %>, <%= val.validator.nombre %>
                        <% end %>
                      </td>

                    <% end %>

                  <% end %>

                </tr>

              <% end %>

            <% end %>

            </tbody>
          </table>

        </div>


      </div>
    </div>
  </div>
</div>



<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_fixed_column',
               file_name: 'Reporte evaluado evaluador validador'
           }
%>
