<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de reportes'.html_safe, pe_reporting_list_reports_2_path(@pe_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Reportes
    </h1>
  </div>

</div>

<div class="panel panel-default">
  <div class="panel-body">

    <legend>Reporte de configuración de participantes evaluados</legend>

    <table id="datatable_members_evaluated" class="table table-striped table-bordered smart-form" style="font-size: 11px;">

      <thead>
      <tr>
        <th>#</th>
        <% unless @pe_process.of_persons? %>
          <th>Área</th>
        <% end %>
        <th><%= alias_username %></th>
        <th>Apellidos</th>
        <th>Nombre</th>
        <% @pe_process.pe_characteristics_reps_configuration.each do |pe_characteristic| %>

          <th>
            <%= pe_characteristic.characteristic.nombre %>
          </th>

        <% end %>
        <% @pe_process.pe_evaluations.each do |pe_evaluation| %>
          <th><%= pe_evaluation.name %></th>
        <% end %>
        <% if @pe_process.of_persons? %>
          <th>Evaluado por</th>
          <th></th>
        <% else %>
          <th>Área evaluadora</th>
          <th>
            Persona responsable de la evaluación
          </th>
        <% end %>
        <th>
          Relación
        </th>
      </tr>
      <tr>
        <td>
          <label class="input">
            <input type="text" class="hidden">
          </label>
        </td>
        <% unless @pe_process.of_persons? %>
          <td>
            <label class="input">
              <input type="text">
            </label>
          </td>
        <% end %>
        <td>
          <label class="input">
            <input type="text">
          </label>
        </td>
        <td>
          <label class="input">
            <input type="text">
          </label>
        </td>
        <td>
          <label class="input">
            <input type="text">
          </label>
        </td>
        <% @pe_process.pe_characteristics_reps_configuration.size.times do %>
          <td>
            <label class="input">
              <input type="text">
            </label>
          </td>
        <% end %>
        <% @pe_process.pe_evaluations.each do |pe_evaluation| %>
          <td>
            <label class="input">
              <input type="text">
            </label>
          </td>
        <% end %>

        <% if @pe_process.of_persons? %>
          <td>
            <label class="input">
              <input type="text">
            </label>
          </td>
          <td>
            <label class="input">
              <input type="text">
            </label>
          </td>
        <% else %>
          <td>
            <label class="input">
              <input type="text">
            </label>
          </td>
          <td>
            <label class="input">
              <input type="text">
            </label>
          </td>
        <% end %>
        <td>
          <label class="input">
            <input type="text">
          </label>
        </td>

      </tr>
      </thead>

      <tbody>

      <% num_evals = 0 %>

      <% @pe_members_evaluated.each do |pe_member| %>

        <% pe_member.pe_member_rels_is_evaluated.each do |pe_member_evaluated_rel| %>

          <% num_evals += 1 %>

          <tr>
            <td><%= num_evals %></td>
            <% unless @pe_process.of_persons? %>
              <td><%= pe_member.pe_area.name if pe_member.pe_area %></td>
            <% end %>
            <td><%= pe_member.user.codigo %></td>
            <td><%= pe_member.user.apellidos %></td>
            <td><%= pe_member.user.nombre %></td>

            <% @pe_process.pe_characteristics_reps_configuration.each do |pe_characteristic| %>
              <td>
                <% pe_mc = pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
                <%= pe_mc.value if pe_mc %>
              </td>
            <% end %>

            <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

              <td>

                <% if pe_member.has_to_be_assessed_in_evaluation pe_evaluation %>

                  <% pe_member_group = pe_member.pe_member_group pe_evaluation %>

                  <%= pe_member_group.pe_group.name if pe_member_group %>

                  <% pe_member_evaluation = pe_member.pe_member_evaluations.where('pe_evaluation_id = ?', pe_evaluation.id).first %>

                  <% if pe_member_evaluation && pe_member_evaluation.weight %>
                    <% if pe_member_group %>
                      (
                    <% end %>
                    <%= pe_member_evaluation.weight %>
                    <% if pe_member_group %>
                      )
                    <% end %>

                  <% end %>

                <% else %>
                  <span class="label label-danger label-smart-table">No será evaluado</span>
                <% end %>

              </td>
            <% end %>

            <% if @pe_process.of_persons? %>
              <td>
                <%= pe_member_evaluated_rel.pe_member_evaluator.user.codigo %>
              </td>
              <td>
                <%= pe_member_evaluated_rel.pe_member_evaluator.user.apellidos %>, <%= pe_member_evaluated_rel.pe_member_evaluator.user.nombre %>
              </td>
            <% else %>
              <td>
                <%= pe_member_evaluated_rel.pe_member_evaluator.pe_area.name if pe_member_evaluated_rel.pe_member_evaluator.pe_area %>
              </td>
              <td>
                <%= pe_member_evaluated_rel.pe_member_evaluator.user.apellidos %>, <%= pe_member_evaluated_rel.pe_member_evaluator.user.nombre %>
              </td>
            <% end %>
            <td>
              <%= pe_member_evaluated_rel.pe_rel.alias %>
            </td>
          </tr>

        <% end %>

      <% end %>

      </tbody>

    </table>


  </div>
</div>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_members_evaluated',
               file_name: 'Participantes evaluados'
           }
%>