<link rel="stylesheet" type="text/css" href="/assets/datatables_new_version/dataTables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="/assets/datatables_new_version/buttons.bootstrap.css">

<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a generar el reporte'.html_safe, pe_reporting_rep_consolidated_final_results_people_filter_path(@pe_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Reportes
    </h1>
  </div>

</div>

<%

   pe_members_list = Array.new
   pe_boxes_list = Array.new

%>

<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Reporte de resultados finales consolidados</legend>

        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab_results_tabla" data-toggle="tab">Tabla de resultados</a></li>
          <li><a href="#tab_results_cuadrantes" data-toggle="tab">Cuadrantes</a></li>
          <li><a href="#tab_results_distribucion" data-toggle="tab">Distribución de resultados finales</a></li>
          <li><a href="#tab_results_distribucion_det" data-toggle="tab">Distribución detallada de resultados</a></li>
        </ul>

        <br>

        <div class="tab-content">
          <div class="tab-pane active" id="tab_results_tabla">

            <div id="div_interno_contiene_tabla" class="" style="">


              <% cols_to_hide = Array.new %>
              <% cols_to_export = Array.new %>

              <table id="datatable_fixed_column" class="table table-striped table-bordered smart-form" style="font-size: 11px;">
                <thead>
                <tr>

                  <th>#</th>
                  <th><%= alias_username %></th>
                  <th>Evaluado</th>
                  <% num_col_to_control = 2 %>

                  <% cols_to_export.push 0 %>
                  <% cols_to_export.push 1 %>
                  <% cols_to_export.push 2 %>


                  <% @pe_process.pe_characteristics_rep_consolidated_final_results.each do |pe_characteristic| %>

                    <th>
                      <%= pe_characteristic.characteristic.nombre %>
                    </th>
                    <% num_col_to_control += 1 %>
                    <% cols_to_export.push num_col_to_control %>
                  <% end %>

                  <th>Evaluación</th>
                  <% num_col_to_control += 1 %>
                  <% cols_to_export.push num_col_to_control %>

                  <% if @pe_process.has_step_validation? %>
                    <th>Validación</th>
                    <% num_col_to_control += 1 %>
                    <% cols_to_export.push num_col_to_control %>
                  <% end %>

                  <% if @pe_process.has_step_calibration? %>
                    <th>Calibración</th>
                    <% num_col_to_control += 1 %>
                    <% cols_to_export.push num_col_to_control %>
                  <% end %>

                  <% if @pe_process.has_step_feedback? %>
                    <th>Retroalimentación</th>
                    <% num_col_to_control += 1 %>
                    <% cols_to_export.push num_col_to_control %>
                  <% end %>



                  <% @pe_process.pe_dimensions.each do |pe_dimension| %>
                    <th><%= pe_dimension.name %></th>
                    <% num_col_to_control += 1 %>
                    <th><%= pe_dimension.name %></th>
                    <% num_col_to_control += 1 %>

                    <% cols_to_hide.push num_col_to_control %>
                    <% cols_to_export.push num_col_to_control %>

                    <% break unless @pe_process.two_dimensions? %>
                  <% end %>

                  <th>Valoración</th>
                  <% num_col_to_control += 1 %>
                  <% cols_to_export.push num_col_to_control %>


                  <th></th>
                  <% num_col_to_control += 1 %>
                  <% cols_to_hide.push num_col_to_control %>
                  <% cols_to_export.push num_col_to_control %>


                  <% if @pe_process.has_step_calibration? %>
                    <th>Comentario de la calibración</th>
                    <% num_col_to_control += 1 %>
                    <% cols_to_hide.push num_col_to_control %>
                    <% cols_to_export.push num_col_to_control %>
                  <% end %>


                </tr>
                <tr class="second">
                  <td>
                    <label class="input">
                      <input type="text" name="search_num" value="" class="search_init hidden">
                    </label>
                  </td>

                  <td>
                    <label class="input">
                      <input type="text" name="search_codigo" value="" class="search_init">
                    </label>
                  </td>
                  <td>
                    <label class="input">
                      <input type="text" name="search_name" value="" class="search_init">
                    </label>
                  </td>

                  <% @pe_process.pe_characteristics_rep_consolidated_final_results.each do |pe_characteristic| %>

                    <td>
                      <label class="input">
                        <input type="text" name="search_cha_<%= pe_characteristic.id %>" value="" class="search_init">
                      </label>
                    </td>

                  <% end %>

                  <td>
                    <label class="input">
                      <input type="text" name="search_status_eval" value="" class="search_init">
                    </label>
                  </td>

                  <% if @pe_process.has_step_validation? %>
                    <td>
                      <label class="input">
                        <input type="text" name="search_status_val" value="" class="search_init">
                      </label>
                    </td>
                  <% end %>

                  <% if @pe_process.has_step_calibration? %>
                    <td>
                      <label class="input">
                        <input type="text" name="search_status_cal" value="" class="search_init">
                      </label>
                    </td>
                  <% end %>
                  <% if @pe_process.has_step_feedback? %>
                    <td>
                      <label class="input">
                        <input type="text" name="search_status_feed" value="" class="search_init">
                      </label>
                    </td>
                  <% end %>

                  <% @pe_process.pe_dimensions.each do |pe_dimension| %>
                    <td>
                      <label class="input">
                        <input type="text" name="search_res_dim_<%= pe_dimension.id %>" value="" class="search_init">
                      </label>
                    </td>
                    <td>
                      <label class="input">
                        <input type="text" name="search_res_dim_<%= pe_dimension.id %>_xls" value="" class="search_init">
                      </label>
                    </td>
                    <% break unless @pe_process.two_dimensions? %>
                  <% end %>
                  <th>
                    <label class="input">
                      <input type="text" name="search_status_val" value="" class="search_init">
                    </label>
                  </th>
                  <th>
                    <label class="input">
                      <input type="text" name="search_status_val_desc" value="" class="search_init">
                    </label>
                  </th>
                  <% if @pe_process.has_step_calibration? %>
                    <th>
                      <label class="input">
                        <input type="text" name="search_cal_comen" value="" class="search_init">
                      </label>
                    </th>
                  <% end %>

                </tr>
                </thead>
                <tbody>

                <% num_evaluated_pe_members = 0 %>

                <% @pe_process.evaluated_members_ordered.each_with_index do |pe_member, index| %>

                  <% num_evaluated_pe_members += 1 %>

                  <tr>
                    <td>
                      <%= index+1 %>
                    </td>

                    <td><%= pe_member.user.codigo %></td>
                    <td><%= pe_member.user.apellidos %>, <%= pe_member.user.nombre %></td>

                    <% @pe_process.pe_characteristics_rep_consolidated_final_results.each do |pe_characteristic| %>
                      <td>
                        <% pe_mc = pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
                        <%= pe_mc.value if pe_mc %>
                      </td>
                    <% end %>

                    <td>
                      <% if pe_member.step_assessment %>
                        <span class="label label-success label-smart-table">Finalizada</span>
                      <% else %>
                        <span class="label label-danger label-smart-table">No terminada</span>
                      <% end %>
                    </td>

                    <% if @pe_process.has_step_validation? %>
                      <td>
                        <% if pe_member.step_validation %>
                          <span class="label label-success label-smart-table">Realizada</span>
                        <% else %>
                          <span class="label label-danger label-smart-table">No terminada</span>
                        <% end %>
                      </td>
                    <% end %>

                    <% if @pe_process.has_step_calibration? %>
                      <td>

                        <% if pe_member.pe_cal_member %>

                          <% if pe_member.step_calibration %>

                            <span class="label label-success label-smart-table">Realizada</span>

                          <% else %>

                            <span class="label label-danger label-smart-table">No terminada</span>

                          <% end %>

                        <% else %>

                          <span class="label label-default label-smart-table">No planificada</span>

                        <% end %>

                      </td>
                    <% end %>

                    <% if @pe_process.has_step_feedback? %>

                      <td>

                        <% if @pe_process.has_step_feedback_accepted? %>

                          <% if pe_member.step_feedback_accepted %>
                            <span class="label label-success label-smart-table">Confirmada</span>
                          <% else %>
                            <% if pe_member.step_feedback %>

                              <span class="label label-warning label-smart-table">Realizada</span>

                            <% else %>

                              <span class="label label-danger label-smart-table">No terminada</span>

                            <% end %>
                          <% end %>


                        <% else %>

                          <% if pe_member.step_feedback %>

                            <span class="label label-success label-smart-table">Realizada</span>

                          <% else %>

                            <span class="label label-danger label-smart-table">No terminada</span>

                          <% end %>

                        <% end %>

                      </td>

                    <% end %>

                    <% @pe_process.pe_dimensions.each do |pe_dimension| %>

                      <% pe_assessment_dimension = pe_member.pe_assessment_dimension(pe_dimension) if pe_member.step_assessment? %>

                      <% if pe_assessment_dimension %>

                        <td style="<%= 'color: #'+pe_assessment_dimension.pe_dimension_group.text_color+';' if  pe_assessment_dimension.pe_dimension_group %>">

                          <%= number_with_precision(pe_assessment_dimension.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                          <%= ' - '+pe_assessment_dimension.pe_dimension_group.name if pe_assessment_dimension.pe_dimension_group %>

                        </td>
                        <td>

                          <%= number_with_precision(pe_assessment_dimension.percentage, precision: 4, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>

                        </td>
                      <% else %>
                        <td></td>
                        <td></td>
                      <% end %>

                      <% break unless @pe_process.two_dimensions? %>


                    <% end %>
                    <td>

                      <% if pe_member.step_assessment && pe_member.pe_box %>

                        <% pe_members_list.push pe_member %>
                        <% pe_boxes_list.push pe_member.pe_box %>

                        <span class="label label-default label-smart-table" style="text-align: center; color: <%= '#'+pe_member.pe_box.text_color %> !important; background-color: <%= '#'+pe_member.pe_box.bg_color %>;">
                          <% if pe_member.pe_box.short_name %>
                          &nbsp;&nbsp;<%= pe_member.pe_box.short_name %>&nbsp;&nbsp;
                          <br>
                          <% end %>
                          &nbsp;&nbsp;<%= pe_member.pe_box.name %>&nbsp;&nbsp;
                        </span>

                      <% end %>

                    </td>

                    <td>

                      <% if pe_member.step_assessment && pe_member.pe_box %>

                        <%= pe_member.pe_box.description %>

                      <% end %>

                    </td>

                    <% if @pe_process.has_step_calibration? %>

                      <td>dd<%= pe_member.calibration_comment %></td>

                    <% end %>
                    <!--
                    <% if @pe_process.has_step_feedback? %>

                      <td>

                        <% @pe_process.pe_feedback_fields.each_with_index do |pe_feedback_field, index_feedback| %>

                          <% pe_member_feedback = pe_member.pe_member_feedbacks_by_field(pe_feedback_field) %>

                          <%= (index_feedback+1).to_s+'. ' if @pe_process.pe_feedback_fields.size > 1 %><%= pe_feedback_field.name %>.

                          <% if pe_feedback_field.simple %>

                            <%= pe_member_feedback.comment.html_safe if pe_member_feedback %>

                          <% else %>

                            <% if pe_member_feedback %>

                              <% (1..pe_member_feedback.number_of_compound_feedbacks).each do |number_of_compound_feedback| %>

                                <% pe_feedback_field.pe_feedback_compound_fields.each_with_index do |pe_feedback_compound_field, index_c| %>

                                  <% pe_member_compound_feedback = pe_member_feedback.pe_member_compound_feedbacks_by_field(number_of_compound_feedback, pe_feedback_compound_field) %>

                                  -<%= pe_feedback_compound_field.name %>. <%= pe_member_compound_feedback.comment.html_safe if pe_member_compound_feedback %>

                                <% end %>

                              <% end %>

                            <% end %>

                          <% end %>

                        <% end %>

                      </td>

                    <% end %>
                    -->

                  </tr>


                <% end %>

                </tbody>
              </table>

            </div>

            <br>

            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <table class="table table-bordered table-condensed">

                  <tbody>

                  <tr>
                    <td>
                      <strong>Posibles estados de la evaluación</strong>
                    </td>

                    <td>
                      <span class="label label-success">Finalizada</span>

                      <span class="label label-danger">No terminada</span>

                      <span class="label label-default">No aplica</span>
                    </td>
                  </tr>

                  <% if @pe_process.has_step_validation? %>

                    <tr>
                      <td>
                        <strong>Posibles estados de la validación</strong>
                      </td>

                      <td>
                        <span class="label label-success">Realizada</span>

                        <span class="label label-danger">No terminada</span>

                      </td>
                    </tr>

                  <% end %>

                  <% if @pe_process.has_step_calibration? %>

                    <tr>
                      <td>
                        <strong>Posibles estados de la calibración</strong>
                      </td>

                      <td>
                        <span class="label label-success">Realizada</span>

                        <span class="label label-danger">No terminada</span>

                        <span class="label label-default">No planificada</span>

                      </td>
                    </tr>

                  <% end %>

                  <% if @pe_process.has_step_feedback? %>


                    <tr>
                      <td>
                        <strong>Posibles estados de la retroalimentación</strong>
                      </td>

                      <td>

                        <% if @pe_process.has_step_feedback_accepted? %>

                          <span class="label label-success">Confirmada</span>
                          <span class="label label-warning">Realizada</span>
                          <span class="label label-danger">No terminada</span>

                        <% else %>
                          <span class="label label-success">Realizada</span>
                          <span class="label label-danger">No terminada</span>

                        <% end %>

                      </td>
                    </tr>

                  <% end %>

                  </tbody>
                </table>
              </div>
            </div>

          </div>



          <div class="tab-pane" id="tab_results_cuadrantes">

            <% if @pe_process.two_dimensions? %>

              <%= render partial: 'pe_shared/structure_2d_with_limited_pe_members',
                         locals: {
                           pe_boxes_list: pe_boxes_list,
                           pe_members_list: pe_members_list,
                           show_percentage: true,
                           num_evaluated_pe_members: num_evaluated_pe_members
                         }
              %>

            <% else %>

              <%= render partial: 'pe_shared/structure_1d_with_limited_pe_members',
                         locals: {
                           pe_boxes_list: pe_boxes_list,
                           pe_members_list: pe_members_list,
                           show_percentage: true,
                           num_evaluated_pe_members: num_evaluated_pe_members
                         }
              %>

            <% end %>

          </div>

          <div class="tab-pane" id="tab_results_distribucion">
            <br>

            <div class="row">
              <div class="col-md-9">
                <div id='distribution_chart' style="height: 300px;"></div>
              </div>
              <div class="col-md-3">
                <table class="table table-bordered table-hover table-condensed">
                  <thead>
                  <tr>
                    <td colspan="2">
                      Cuadrante
                    </td>
                    <td>
                      Cantidad
                    </td>
                    <td>
                      %
                    </td>
                  </tr>
                  </thead>
                  <tbody>



                  <% @pe_process.pe_boxes.each_with_index do |pe_box, num_box| %>
                    <tr>
                      <%
                         number_per_box = 0
                         pe_boxes_list.each_with_index do |pe_box_aux, posicion|
                           if pe_box_aux.id == pe_box.id
                             number_per_box += 1
                           end
                         end
                      %>
                      <td>

                        <span class="label label-default col-md-12" style="text-align: center; color: <%= '#'+pe_box.text_color %>; background-color: <%= '#'+pe_box.bg_color %>;">
                          <% if pe_box.short_name %>
                            &nbsp;&nbsp;<%= pe_box.short_name %>&nbsp;&nbsp;
                          <% else %>
                            &nbsp;&nbsp;<%= pe_box.name %>&nbsp;&nbsp;
                          <% end %>
                        </span>


                      </td>
                      <td>
                        <%= pe_box.name %>
                      </td>
                      <td>
                        <%= number_per_box %>
                      </td>
                      <td>
                        <% porcentaje_por_caja = (num_evaluated_pe_members > 0 ? number_per_box*100.0/num_evaluated_pe_members : 0.0) %>

                        <%= number_with_precision(porcentaje_por_caja, precision: 1, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                      </td>

                    </tr>
                  <% end %>
                  </tbody>

                </table>




              </div>

            </div>




          </div>

          <div class="tab-pane" id="tab_results_distribucion_det">

            <% @pe_process.pe_evaluations.each do |pe_evaluation| %>

              <% if pe_evaluation.pe_questions_by_question_not_by_pe_member_evaluated_ready(nil).size > 0 %>

                <table class="table table-bordered table-condensed table-hover">
                  <thead>
                  <tr>
                    <th style="border-right: 0px;">
                      #
                    </th>


                    <th style="border-left: 0px;">
                      <%= pe_evaluation.name %>
                    </th>

                    <th>
                      Resultado
                    </th>
                  </tr>
                  </thead>
                  <tbody>

                    <%= render partial: 'pe_reporting/rep_consolidated_final_results_detailed_distribution',
                               locals: {
                                 pe_evaluation: pe_evaluation,
                                 pe_parent_question_id: nil
                               }
                    %>

                  </tbody>
                </table>
                <br>

              <% end %>

            <% end %>

          </div>


        </div>

      </div>
    </div>
  </div>
</div>



<%= render partial: '/shared/datatable',
           locals: {
             table_id: 'datatable_fixed_column',
             invisible_cols: cols_to_hide
           }
%>

<!--
<script src="/assets/datatables/jquery.dataTables-cust.min.js"></script>
<script src="/assets/datatables/ColReorder.min.js"></script>
<script src="/assets/datatables/FixedColumns.min.js"></script>
<script src="/assets/datatables/ColVis.min.js"></script>
<script src="/assets/datatables/ZeroClipboard.js"></script>
<script src="/assets/datatables/media/js/TableTools.min.js"></script>
<script src="/assets/datatables/DT_bootstrap.js"></script>


<script type="text/javascript">

  $(document).ready(function() {

    $("#datatable_fixed_column thead input").keyup(function() {
      oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
    });

    $("#datatable_fixed_column thead input").each(function(i) {
      this.initVal = this.value;
    });
    $("#datatable_fixed_column thead input").focus(function() {
      if (this.className == "search_init") {
        this.className = "";
        this.value = "";
      }
    });
    $("#datatable_fixed_column thead input").blur(function(i) {
      if (this.value == "") {
        this.className = "search_init";
        this.value = this.initVal;
      }
    });


    var oTable = $('#datatable_fixed_column').dataTable({
      //T tools
      //i number of entries
      //p pagination
      //l list filter
      //r no idea
      //t table
      //f filtro general
      "sDom": "Tlt<'row'<'col-md-6'i><'col-md-6 text-right'p>",
      "sPaginationType" : "bootstrap_full",
      "aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
      "iDisplayLength" : 25,
      "bSortCellsTop" : true,
      "oTableTools" : {
        "aButtons" : [
          {
            "sExtends": "xls",
            "mColumns": <%= cols_to_export.inspect %>
          }
        ],
        "sSwfPath" : "/assets/datatables/media/swf/copy_csv_xls_pdf.swf"
      }
    });

    <% cols_to_hide.each do |col_to_hide| %>
      oTable.fnSetColumnVis(<%= col_to_hide %>, false );
    <% end %>


  });

</script>
-->

<script src="/assets/amcharts/amcharts.js" type="text/javascript"></script>
<script src="/assets/amcharts/serial.js" type="text/javascript"></script>
<script src="/assets/amcharts/themes/light.js" type="text/javascript"></script>

<script>

  var has_to_render_distribution_chart = true;

  function render_distribution_chart(){



    if(has_to_render_distribution_chart){

      var distribution_bar_chart = AmCharts.makeChart("distribution_chart", {
        "type": "serial",
        "theme": "light",
        "marginRight": 70,
        "dataProvider": [
          <% @pe_process.pe_boxes.each_with_index do |pe_box, num_box| %>

          <%
             number_per_box = 0
             pe_boxes_list.each_with_index do |pe_box_aux, posicion|
               if pe_box_aux.id == pe_box.id
                 number_per_box += 1
               end
             end
          %>

          <%= ',' if num_box > 0 %>

          {
            "cuadrante": "<%= pe_box.short_name ? pe_box.short_name : pe_box.name %>",
            "number": <%= number_per_box %>,
            "color": "#<%= pe_box.bg_color %>"
          }

          <% end %>

        ],
        "valueAxes": [
          {
            "axisAlpha": 0,
            "position": "left",
            "title": "Colaboradores",
            "integersOnly": true
          }
        ],
        "startDuration": 1,
        "graphs": [
          {
            "balloonText": "<b>[[category]]: [[value]]</b>",
            "fillColorsField": "color",
            "fillAlphas": 0.9,
            "lineAlpha": 0.2,
            "type": "column",
            "valueField": "number"
          }
        ],
        "categoryField": "cuadrante",
        "categoryAxis": {
          "gridPosition": "start",
          "gridAlpha": 0
        }

      });

      //distribution_bar_chart.addListener('init',setTimeout(alert('ji'),10000));

    }

    has_to_render_distribution_chart = false;

  }

  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var target = $(e.target).attr("href")
    if(target == '#tab_results_distribucion') {
      render_distribution_chart();
    }
  });

</script>

