<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>

    <Style ss:ID="format_date">
      <NumberFormat ss:Format="dd\-mm\-yyyy"/>
    </Style>
    <Style ss:ID="format_number">
      <NumberFormat ss:Format="Fixed"/>
    </Style>
    <Style ss:ID="format_center">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
    </Style>
    <Style ss:ID="format_wrap">
      <Alignment ss:WrapText="1"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Resultados">
    <Table>
      <Row>

        <% if @pe_process.of_persons? %>

          <Cell><Data ss:Type="String"><%= alias_username %> evaluado</Data></Cell>
          <Cell><Data ss:Type="String">Evaluado</Data></Cell>
          <% @pe_process.pe_characteristics_rep_consolidated_final_results.each do |pe_characteristic| %>

            <Cell><Data ss:Type="String"><%= pe_characteristic.characteristic.nombre %></Data></Cell>

          <% end %>
          <Cell><Data ss:Type="String"><%= alias_username %> evaluador</Data></Cell>
          <Cell><Data ss:Type="String">Evaluador</Data></Cell>

        <% else %>

          <Cell><Data ss:Type="String">Área evaluada</Data></Cell>
          <Cell><Data ss:Type="String">Responsable del área evaluada</Data></Cell>
          <Cell><Data ss:Type="String">Área evaluadora</Data></Cell>
          <Cell><Data ss:Type="String">Responsable del área evaluadora</Data></Cell>

        <% end %>

        <Cell><Data ss:Type="String">Relación</Data></Cell>

        <% pe_elements = @pe_evaluation.pe_elements %>

        <% pe_elements.each do |pe_element| %>

          <% if pe_element.simple %>

            <Cell><Data ss:Type="String"><%= pe_element.name %></Data></Cell>

          <% else %>

            <% pe_element.pe_element_descriptions.each do |pe_element_description| %>

              <Cell><Data ss:Type="String"><%= pe_element_description.name %></Data></Cell>

            <% end %>

          <% end %>

        <% end %>

        <% pe_element_last = pe_elements.last %>

        <% if pe_element_last && pe_element_last.assessment_method == 2 %>

          <% if pe_element_last.allow_note? %>
            <Cell><Data ss:Type="String"><%= pe_element_last.alias_note %></Data></Cell>
          <% end %>

          <Cell><Data ss:Type="String">Tipo</Data></Cell>
          <Cell><Data ss:Type="String">Peso</Data></Cell>
          <Cell><Data ss:Type="String">Meta</Data></Cell>

        <% end %>

        <Cell><Data ss:Type="String">Valoración</Data></Cell>
        <Cell><Data ss:Type="String">% Logro</Data></Cell>
        <Cell><Data ss:Type="String">Última actualización</Data></Cell>


        <% if pe_element_last && pe_element_last.alias_comment %>

          <Cell><Data ss:Type="String"><%= pe_element_last.alias_comment %></Data></Cell>

        <% end %>

        <% if pe_element_last && pe_element_last.alias_comment_2 %>

          <Cell><Data ss:Type="String"><%= pe_element_last.alias_comment_2 %></Data></Cell>

        <% end %>

      </Row>

      <% @pe_process.evaluated_members_segmented_to_report(user_connected).each_with_index do |pe_member_evaluated, index_e| %>

        <% @pe_member_evaluated = pe_member_evaluated %>

        <% if pe_member_evaluated.has_to_be_assessed_in_evaluation(@pe_evaluation) %>

          <% pe_member_evaluated.pe_member_rels_is_evaluated_ordered_rel.each do |pe_member_is_evaluated_rel| %>

            <% @pe_rel = pe_member_is_evaluated_rel.pe_rel %>

            <% if @pe_evaluation.has_pe_evaluation_rel(@pe_rel) %>

              <% pe_group = nil %>

              <% if @pe_evaluation.pe_groups.size > 0 %>

                <% pe_member_group = pe_member_evaluated.pe_member_group(@pe_evaluation) %>

                <% pe_group = pe_member_group.pe_group if pe_member_group %>

              <% end %>

              <% @pe_member_evaluator = pe_member_is_evaluated_rel.pe_member_evaluator %>

              <% @pe_assessment_evaluation = pe_member_is_evaluated_rel.pe_assessment_evaluation(@pe_evaluation) %>

              <% pe_questions = @pe_evaluation.pe_questions_by_pe_member_1st_level_ready(pe_member_evaluated, @pe_member_evaluator, pe_group, @pe_rel) %>

              <%= render partial: 'pe_reporting/rep_detailed_final_results_evaluation_item',
                         locals: {
                           pe_questions: pe_questions,
                           first_element: true,
                           pe_member_evaluated_rel: pe_member_is_evaluated_rel,
                           pe_elements: @pe_evaluation.pe_elements
                         }
              %>

            <% end %>

          <% end %>

        <% end %>

      <% end %>

    </Table>
  </Worksheet>
</Workbook>