
<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de reportes'.html_safe, pe_reporting_list_reports_2_path(@pe_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Reportes
    </h1>
  </div>

</div>

<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Reporte de estado de avance general</legend>

        <div id="div_interno_contiene_tabla" class="" style="overflow-x: auto;">


          <table id="datatable_fixed_column" class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
            <thead>
            <tr>

              <th>#</th>
              <th><%= alias_username %></th>
              <th>Evaluado</th>

              <% pe_rel_boss = @pe_process.pe_rel('jefe') %>

              <% if pe_rel_boss && @pe_process.rep_consolidated_final_results_col_boss %>

                <th><%= pe_rel_boss.alias %></th>

              <% end %>

              <% @pe_process.pe_characteristics_rep_assessment_status.each do |pe_characteristic| %>

                <th>
                  <%= pe_characteristic.characteristic.nombre %>
                </th>

              <% end %>

              <% if @pe_process.has_step_definition_by_users %>
                <% @pe_process.pe_evaluations_defined_by_users.each do |pe_evaluation| %>
                  <th>Definición de <%= pe_evaluation.name.downcase%></th>
                <% end %>
              <% end %>

              <% if @pe_process.has_step_assessment %>
                <th>Evaluación</th>
              <% end %>

              <% if @pe_process.has_step_validation? %>
                <th>Validación</th>
              <% end %>

              <% if @pe_process.has_step_calibration? %>
                <th>Calibración</th>
              <% end %>
              <% if @pe_process.has_step_calibration_evaluation? %>
                <th>Calibración</th>
              <% end %>
              <% if @pe_process.has_step_feedback? %>
                <th>Retroalimentación</th>
              <% end %>

            </tr>
            <tr>
              <td>
                <label class="input">
                  <input type="text" class="hidden">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <td>
                <label class="input">
                  <input type="text">
                </label>
              </td>
              <% if pe_rel_boss && @pe_process.rep_consolidated_final_results_col_boss %>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
              <% end %>
              <% @pe_process.pe_characteristics_rep_assessment_status.each do |pe_characteristic| %>

                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>

              <% end %>

              <% if @pe_process.has_step_definition_by_users %>
                <% @pe_process.pe_evaluations_defined_by_users.each do |pe_evaluation| %>
                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>
                <% end %>
              <% end %>

              <% if @pe_process.has_step_assessment %>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
              <% end %>

              <% if @pe_process.has_step_validation? %>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
              <% end %>

              <% if @pe_process.has_step_calibration? %>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
              <% end %>

              <% if @pe_process.has_step_calibration_evaluation? %>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
              <% end %>

              <% if @pe_process.has_step_feedback? %>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
              <% end %>

            </tr>
            </thead>
            <tbody>


            <% @pe_process.evaluated_members_segmented_to_report(user_connected).each_with_index do |pe_member, index| %>

              <tr>
                <td>
                  <%= index+1 %>
                </td>
                <td><%= pe_member.user.codigo %></td>
                <td><%= pe_member.user.apellidos %>, <%= pe_member.user.nombre %></td>

                <% if pe_rel_boss && @pe_process.rep_consolidated_final_results_col_boss %>

                  <td>
                    <% pe_member.pe_member_rels_is_evaluated_as_pe_rel(pe_rel_boss).each_with_index do |pe_member_is_evaluated_rel, num_boss| %>

                      <%= '<br><br>'.html_safe if num_boss > 0 %>

                      <%= pe_member_is_evaluated_rel.pe_member_evaluator.user.apellidos %>, <%= pe_member_is_evaluated_rel.pe_member_evaluator.user.nombre %>

                    <% end %>
                  </td>

                <% end %>

                <% @pe_process.pe_characteristics_rep_assessment_status.each do |pe_characteristic| %>
                  <td>
                    <% pe_mc = pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
                    <%= pe_mc.value if pe_mc %>
                  </td>
                <% end %>

                <% if @pe_process.has_step_definition_by_users %>
                  <% @pe_process.pe_evaluations_defined_by_users.each do |pe_evaluation| %>
                    <td>

                      <% status, step_label, step_label_smart_table, status_confirmed, status_validated_before, status_accepted, status_validated_after = pe_evaluation.pe_member_definition_by_users_status pe_member %>

                      <%= step_label_smart_table.html_safe %>

                    </td>
                  <% end %>
                <% end %>

                <% if @pe_process.has_step_assessment %>
                  <td>
                    <% if pe_member.step_assessment %>
                      <span class="label label-success label-smart-table">Finalizada</span>
                    <% else %>
                      <span class="label label-danger label-smart-table">No terminada</span>
                    <% end %>
                  </td>
                <% end %>

                <% if @pe_process.has_step_validation? %>
                  <td>
                    <% if pe_member.require_validation %>

                      <% if pe_member.step_validation %>
                        <span class="label label-success label-smart-table">Realizada</span>
                      <% else %>
                        <span class="label label-danger label-smart-table">No terminada</span>
                      <% end %>
                    <% else %>
                      <span class="label label-default label-smart-table">No requiere</span>
                    <% end %>
                  </td>
                <% end %>

                <% if @pe_process.has_step_calibration? %>
                  <td>

                    <% if pe_member.pe_cal_member %>

                      <% if pe_member.step_calibration %>

                        <span class="label label-success label-smart-table">Realizada</span>

                      <% else %>

                        <span class="label label-danger label-smart-table">No terminada</span>

                      <% end %>

                    <% else %>

                      <span class="label label-default label-smart-table">No planificada</span>

                    <% end %>

                  </td>
                <% end %>

                <% if @pe_process.has_step_calibration_evaluation? %>

                  <td>

                  <% if pe_member.pe_cal_member %>

                    <% if pe_member.pe_cal_member.has_been_calibrated %>

                      <span class="label label-success label-smart-table">Realizada</span>

                    <% else %>

                      <span class="label label-danger label-smart-table">No terminada</span>

                    <% end %>

                  <% else %>

                    <span class="label label-default label-smart-table">No planificada</span>

                  <% end %>

                  </td>

                <% end %>

                <% if @pe_process.has_step_feedback? %>

                  <td>

                    <% if @pe_process.has_step_feedback_accepted? %>

                      <% if pe_member.step_feedback_accepted %>
                        <span class="label label-success label-smart-table">Confirmada</span>
                      <% else %>
                        <% if pe_member.step_feedback %>

                          <span class="label label-warning label-smart-table">Realizada</span>

                        <% else %>

                          <span class="label label-danger label-smart-table">No terminada</span>

                        <% end %>
                      <% end %>


                    <% else %>

                      <% if pe_member.step_feedback %>

                        <span class="label label-success label-smart-table">Realizada</span>

                      <% else %>

                        <span class="label label-danger label-smart-table">No terminada</span>

                      <% end %>

                    <% end %>

                  </td>

                <% end %>

              </tr>


            <% end %>

            </tbody>
          </table>

        </div>

        <br>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <table class="table table-bordered table-condensed">

              <tbody>

              <% if @pe_process.has_step_definition_by_users %>
                <% @pe_process.pe_evaluations_defined_by_users.each do |pe_evaluation| %>
                  <tr>
                    <td>
                      <strong>Posibles estados de la definición de <%= pe_evaluation.name.downcase%></strong>
                    </td>

                    <td>

                      <%= pe_evaluation.draw_label_not_ready_definition_by_users.html_safe %>

                      <% if (@pe_process.has_step_definition_by_users_validated? && pe_evaluation.num_steps_definition_by_users_validated_before_accepted > 0) || pe_evaluation.allow_definition_by_users_accepted? || (@pe_process.has_step_definition_by_users_validated? && pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0) %>

                        <% if @pe_process.has_step_definition_by_users_validated? && pe_evaluation.num_steps_definition_by_users_validated_before_accepted > 0 %>

                          <% (1..pe_evaluation.num_steps_definition_by_users_validated_before_accepted).each do |step_number| %>

                            <%= pe_evaluation.draw_label_not_ready_definition_by_users_validated_before_accepted(step_number).html_safe %>
                            <%= pe_evaluation.draw_label_rejected_definition_by_users_validated_before_accepted(step_number).html_safe %>
                            <% unless pe_evaluation.allow_definition_by_users_accepted? %>
                              <%= pe_evaluation.draw_label_ready_definition_by_users_validated_before_accepted(step_number).html_safe %>
                            <% end %>

                          <% end %>

                          <% if pe_evaluation.allow_definition_by_users_accepted? %>

                            <%= pe_evaluation.draw_label_not_ready_definition_by_users_accepted.html_safe %>

                            <% if @pe_process.has_step_definition_by_users_validated? && pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0 %>

                              <% (1..pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>

                                <%= pe_evaluation.draw_label_not_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>
                                <%= pe_evaluation.draw_label_rejected_definition_by_users_validated_after_accepted(step_number).html_safe %>
                                <%= pe_evaluation.draw_label_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>
                              <% end %>

                            <% else %>
                              <%= pe_evaluation.draw_label_ready_definition_by_users_accepted.html_safe %>
                            <% end %>

                          <% end %>

                        <% else %>

                          <% if pe_evaluation.allow_definition_by_users_accepted? %>

                            <%= pe_evaluation.draw_label_not_ready_definition_by_users_accepted.html_safe %>

                            <% if @pe_process.has_step_definition_by_users_validated? && pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0 %>
                              <% (1..pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>

                                <%= pe_evaluation.draw_label_not_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>
                                <%= pe_evaluation.draw_label_rejected_definition_by_users_validated_after_accepted(step_number).html_safe %>
                                <%= pe_evaluation.draw_label_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>

                              <% end %>

                            <% else %>
                              <%= pe_evaluation.draw_label_ready_definition_by_users_accepted.html_safe %>
                            <% end %>

                          <% else %>

                            <% if @pe_process.has_step_definition_by_users_validated? && pe_evaluation.num_steps_definition_by_users_validated_after_accepted > 0 %>
                              <% (1..pe_evaluation.num_steps_definition_by_users_validated_after_accepted).each do |step_number| %>

                                <%= pe_evaluation.draw_label_not_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>
                                <%= pe_evaluation.draw_label_rejected_definition_by_users_validated_after_accepted(step_number).html_safe %>
                                <%= pe_evaluation.draw_label_ready_definition_by_users_validated_after_accepted(step_number).html_safe %>

                              <% end %>

                            <% end %>

                          <% end %>

                        <% end %>

                      <% else %>
                        <%= pe_evaluation.draw_label_ready_definition_by_users.html_safe %>
                      <% end %>

                    </td>
                  </tr>
                <% end %>
              <% end %>



              <% if @pe_process.has_step_assessment? %>

              <tr>
                <td>
                  <strong>Posibles estados de la evaluación</strong>
                </td>

                <td>
                  <span class="label label-success">Finalizada</span>

                  <span class="label label-danger">No terminada</span>
                </td>
              </tr>

              <% end %>

              <% if @pe_process.has_step_validation? %>

                <tr>
                  <td>
                    <strong>Posibles estados de la validación</strong>
                  </td>

                  <td>
                    <span class="label label-success">Realizada</span>

                    <span class="label label-danger">No terminada</span>

                    <span class="label label-default">No requiere</span>

                  </td>
                </tr>

              <% end %>

              <% if @pe_process.has_step_calibration? || @pe_process.has_step_calibration_evaluation? %>

                <tr>
                  <td>
                    <strong>Posibles estados de la calibración</strong>
                  </td>

                  <td>
                    <span class="label label-success">Realizada</span>

                    <span class="label label-danger">No terminada</span>

                    <span class="label label-default">No planificada</span>

                  </td>
                </tr>

              <% end %>

              <% if @pe_process.has_step_feedback? %>


                <tr>
                  <td>
                    <strong>Posibles estados de la retroalimentación</strong>
                  </td>

                  <td>

                    <% if @pe_process.has_step_feedback_accepted? %>

                      <span class="label label-success">Confirmada</span>
                      <span class="label label-warning">Realizada</span>
                      <span class="label label-danger">No terminada</span>

                    <% else %>
                      <span class="label label-success">Realizada</span>
                      <span class="label label-danger">No terminada</span>

                    <% end %>

                  </td>
                </tr>

              <% end %>

              </tbody>
            </table>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>



<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_fixed_column',
               file_name: 'Reporte de estado de avance general'
           }
%>