<?xml version="1.0"?><Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet" xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="format_date">
      <NumberFormat ss:Format="dd\-mm\-yyyy"/>
    </Style>
    <Style ss:ID="format_number">
      <NumberFormat ss:Format="Fixed"/>
    </Style>
    <Style ss:ID="format_center">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Resultados">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">#</Data></Cell>
        <Cell><Data ss:Type="String"><%= alias_username %></Data></Cell>
        <Cell><Data ss:Type="String">Apellidos</Data></Cell>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <% @pe_process.pe_characteristics_rep_consolidated_final_results.each do |pe_characteristic| %><Cell><Data ss:Type="String"><%= pe_characteristic.characteristic.nombre %></Data></Cell><% end %>

        <% max_nums = Array.new %>

        <% @pe_process.pe_evaluations.where('informative = ?', false).each do |pe_evaluation| %>

          <% pe_evaluation.pe_evaluation_rels.each do |pe_evaluation_rel| %>

            <% res = @pe_process.pe_member_rels.select('count(*) as m').where('pe_rel_id = ?', pe_evaluation_rel.pe_rel.id).group('pe_member_evaluated_id').order('COUNT(*) DESC').first %>
            <% max = res ? res.m : 0 %>

            <% max_nums.push max %>

            <% (1..max).each do |i| %>

              <Cell><Data ss:Type="String"><%= pe_evaluation.name %> - <%= pe_evaluation_rel.pe_rel.alias %> <%= i if max > 1 %></Data></Cell>

            <% end %>


          <% end %>

          <Cell><Data ss:Type="String"><%= pe_evaluation.name %> - Resultado final</Data></Cell>

          <% if pe_evaluation.pe_cal_sessions.size > 0 %>

            <Cell><Data ss:Type="String"><%= pe_evaluation.name %> - Resultado inicial</Data></Cell>

            <Cell><Data ss:Type="String"><%= pe_evaluation.name %> - Comentario calibración</Data></Cell>

          <% end %>

        <% end %>

        <% if @pe_process.two_dimensions? %>

          <% @pe_process.pe_dimensions.each do |pe_dimension| %>

            <Cell><Data ss:Type="String"><%= pe_dimension.name %></Data></Cell>
            <Cell><Data ss:Type="String"></Data></Cell>

          <% end %>

          <% if @pe_process.two_dimensions? %>
            <Cell><Data ss:Type="String">Resultado Final</Data></Cell>
          <% end %>

        <% else %>

          <Cell><Data ss:Type="String">Resultado Final</Data></Cell>

        <% end %>

        <% if @pe_process.pe_cal_sessions.size > 0 %>

          <Cell><Data ss:Type="String">Resultado Inicial</Data></Cell>

          <Cell><Data ss:Type="String">Comentario calibración</Data></Cell>

        <% end %>

      </Row>

      <% @pe_process.evaluated_members_segmented_to_report(user_connected).each_with_index do |pe_member, index| %>

        <Row>
          <Cell><Data ss:Type="String"><%= index+1 %></Data></Cell>
          <Cell><Data ss:Type="String"><%= pe_member.user.codigo %></Data></Cell>
          <Cell><Data ss:Type="String"><%= pe_member.user.apellidos %></Data></Cell>
          <Cell><Data ss:Type="String"><%= pe_member.user.nombre %></Data></Cell>
          <Cell><Data ss:Type="String"><%= pe_member.user.email %></Data></Cell>
          <% @pe_process.pe_characteristics_rep_consolidated_final_results.each do |pe_characteristic| %>
            <% pe_mc = pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
            <Cell><Data ss:Type="String"><%= pe_mc.value if pe_mc %></Data></Cell>
          <% end %>

          <% aux = 0 %>

          <% @pe_process.pe_evaluations.where('informative = ?', false).each do |pe_evaluation| %>

            <% if pe_member.has_to_be_assessed_in_evaluation(pe_evaluation) %>

              <% pe_evaluation.pe_evaluation_rels.each do |pe_evaluation_rel| %>

                <% max = max_nums[aux] %>

                <% pe_member.pe_member_rels_is_evaluated_as_pe_rel(pe_evaluation_rel.pe_rel).each do |pe_member_rel| %>

                  <% if pe_member_rel && pe_member_rel.valid_evaluator && pe_member_rel.finished && pe_member_rel.finished_at %>
                    <% pe_assessment_evaluation = pe_member_rel.pe_assessment_evaluation pe_evaluation %>
                    <% if pe_assessment_evaluation && pe_assessment_evaluation.percentage >= 0 %>
                      <Cell ss:StyleID="format_number"><Data ss:Type="Number"><%= pe_assessment_evaluation.percentage %></Data></Cell>
                    <% else %>
                      <Cell><Data ss:Type="String"></Data></Cell>
                    <% end %>
                  <% else %>
                    <Cell><Data ss:Type="String"></Data></Cell>
                  <% end %>

                  <% max -= 1 %>

                <% end %>

                <% (1..max).each do %>

                  <Cell><Data ss:Type="String"></Data></Cell>

                <% end %>

                <% aux += 1 %>

              <% end %>

              <% pe_assessment_final_evaluation = pe_member.pe_assessment_final_evaluation pe_evaluation %>
              <% if pe_assessment_final_evaluation && pe_assessment_final_evaluation.percentage >= 0 %>
                <Cell ss:StyleID="format_number"><Data ss:Type="Number"><%= pe_assessment_final_evaluation.percentage %></Data></Cell>
              <% else %>
                <Cell><Data ss:Type="String"></Data></Cell>
              <% end %>

              <% if pe_evaluation.pe_cal_sessions.size > 0 %>

                <% if pe_assessment_final_evaluation && pe_assessment_final_evaluation.original_percentage && pe_assessment_final_evaluation.original_percentage >= 0 %>
                  <Cell ss:StyleID="format_number"><Data ss:Type="Number"><%= pe_assessment_final_evaluation.original_percentage %></Data></Cell>
                  <Cell><Data ss:Type="String"><%= pe_assessment_final_evaluation.calibration_comment %></Data></Cell>
                <% else %>
                  <Cell><Data ss:Type="String"></Data></Cell>
                  <Cell><Data ss:Type="String"></Data></Cell>
                <% end %>

              <% end %>

            <% else %>

              <% pe_evaluation.pe_evaluation_rels.each do |pe_evaluation_rel| %>

                <% (1..max_nums[aux]).each do %>

                  <Cell><Data ss:Type="String"></Data></Cell>

                <% end %>

                <% aux += 1 %>

              <% end %>

              <Cell><Data ss:Type="String"></Data></Cell>

              <% if pe_evaluation.pe_cal_sessions.size > 0 %>

                <Cell><Data ss:Type="String"></Data></Cell>
                <Cell><Data ss:Type="String"></Data></Cell>

              <% end %>

            <% end %>

          <% end %>

          <% if @pe_process.two_dimensions? %>

            <% @pe_process.pe_dimensions.each do |pe_dimension| %>

              <% pe_assessment_dimension = pe_member.step_assessment? ? pe_member.pe_assessment_dimension(pe_dimension) : nil %>

              <% if pe_assessment_dimension# && pe_assessment_dimension.percentage > -1 %>

                <Cell ss:StyleID="format_number"><Data ss:Type="Number"><%= pe_assessment_dimension.percentage %></Data></Cell>
                <Cell><Data ss:Type="String"><%= pe_assessment_dimension.pe_dimension_group.name if pe_assessment_dimension.pe_dimension_group %></Data></Cell>

              <% else %>
                <Cell><Data ss:Type="String"></Data></Cell>
                <Cell><Data ss:Type="String"></Data></Cell>
              <% end %>

            <% end %>

            <% if pe_member.step_assessment && pe_member.pe_box %>
              <Cell><Data ss:Type="String"><%= pe_member.pe_box.short_name %>  <%= pe_member.pe_box.name %></Data></Cell>
            <% else %>
              <Cell><Data ss:Type="String"></Data></Cell>
            <% end %>

          <% else %>

            <% pe_assessment_dimension = pe_member.step_assessment? ? pe_member.pe_assessment_dimension(@pe_process.dimension_x) : nil %>

            <% if pe_assessment_dimension && pe_assessment_dimension.percentage > -1 %>

              <Cell ss:StyleID="format_number"><Data ss:Type="Number"><%= pe_assessment_dimension.percentage %></Data></Cell>
              <Cell><Data ss:Type="String"><%= pe_assessment_dimension.pe_dimension_group.name if pe_assessment_dimension.pe_dimension_group %></Data></Cell>

            <% else %>
              <Cell><Data ss:Type="String"></Data></Cell>
              <Cell><Data ss:Type="String"></Data></Cell>
            <% end %>

          <% end %>

          <% if @pe_process.pe_cal_sessions.size > 0 %>

            <% if pe_member.step_assessment && pe_member.pe_box_before_calibration %>
              <Cell><Data ss:Type="String"><%= pe_member.pe_box_before_calibration.short_name %>  <%= pe_member.pe_box_before_calibration.name %></Data></Cell>
              <Cell><Data ss:Type="String"><%= pe_member.calibration_comment %></Data></Cell>
            <% else %>
              <Cell><Data ss:Type="String"></Data></Cell>
              <Cell><Data ss:Type="String"></Data></Cell>
            <% end %>

          <% end %>

        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>