
<% lista_relaciones_plu = {'jefe' => @hr_process.alias_jefe_plu, 'sub' => @hr_process.alias_sub_plu} %>

<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de reportes'.html_safe, pe_reporting_list_reports_path(@hr_process), class: 'btn btn-default' %>

  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>: Reportes
    </h1>
  </div>

</div>


<% characteristics_eval_des = Characteristic.where('hr_process_assessment = ?', true).reorder('orden_hr_process_assessment') %>

<div class="row">

<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-body">

<legend>Reporte de estado de avance de la retroalimentación</legend>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <tr>
        <td width="25%">
          <strong>Retroalimentaciones realizadas</strong>
          <br>
          <em>Retroalimentación realizada por <%= lista_relaciones_plu['jefe'].downcase %> </em>
        </td>
        <td id="progress_bar_avance_realizado"></td>
        <td width="1%">
          <nobr id="num_avance_realizado">

          </nobr>
        </td>
      </tr>
      <% if @hr_process.step_feedback_confirmation %>
        <tr>
          <td>
            <strong>Retroalimentaciones confirmadas</strong>
            <br>
            <em>Retroalimentación confirmada por <%= lista_relaciones_plu['sub'].downcase %> </em>
          </td>
          <td id="progress_bar_avance_confirmado"></td>
          <td>
            <nobr id="num_avance_confirmado">

            </nobr>
          </td>
        </tr>
      <% end %>

      
    </table>
  </div>

</div>
<br>
<br>
<br>

<table id="datatable_fixed_column" class="table table-striped table-bordered smart-form">
  <thead>
  <tr>
    <th>#</th>
    <th><%= alias_username %></th>
    <th>Evaluado</th>


    <% characteristics_eval_des.each do |characteristic| %>

      <th width="1%"><%= characteristic.nombre %></th>

    <% end %>

    <th>
      Supervisor
    </th>
    <th>
      Estado
    </th>
    <th>
      Fecha de retro realizada
    </th>

  </tr>
  <tr class="second">
    <td>
      <label class="input">
        <input type="text" name="search_num" value="" class="search_init">
      </label>
    </td>
    <td>
      <label class="input">
        <input type="text" name="search_codigo" value="" class="search_init">
      </label>
    </td>
    <td>
      <label class="input">
        <input type="text" name="search_name" value="" class="search_init">
      </label>
    </td>

    <% characteristics_eval_des.each do |characteristic| %>
      <td><label class="input">
        <input type="text" name="search_car_<%= characteristic.id %>" value="" class="search_init">
      </label>   </td>
    <% end %>


    <td>
      <label class="input">
        <input type="text" name="search_evaluador" value="" class="search_init">
      </label>
    </td>


    <td>
      <label class="input">
        <input type="text" name="search_estado" value="" class="search_init">
      </label>
    </td>

    <td>
      <label class="input">
        <input type="text" name="search_fecha" value="" class="search_init">
      </label>
    </td>

  </tr>
  </thead>
  <tbody>

  <%
     if user_connected.hr_process_managers.size > 0
       hr_process_users = @hr_process.hr_process_users_order_by_apellidos_nombre
     else
       hr_process_user_connected = @hr_process.hr_process_users.find_by_user_id(user_connected.id)
       hr_process_users = hr_process_user_connected.hr_process_responsable_users_uniq_order_by_apellidos_nombre if hr_process_user_connected
     end

  %>

  <% num_feedback = 0 %>

  <% num_feedback_realizado = 0 %>

  <% num_feedback_confirmado = 0 %>

  <% hr_process_users.each_with_index do |hr_process_user, index| %>

    <% hr_process_user.hr_process_es_evaluado_rels.where('tipo = ?', 'jefe').each_with_index do |evaluado_rel, index_evaluado_rel| %>

      <% num_feedback += 1 %>
      <tr>
        <td>
          <%= num_feedback %>
        </td>
        <td><%= hr_process_user.user.codigo %></td>
        <td><%= hr_process_user.user.apellidos %>, <%= hr_process_user.user.nombre %></td>

        <% characteristics_eval_des.each do |characteristic| %>
          <% uc = hr_process_user.user.user_characteristics.find_by_characteristic_id(characteristic.id) %>

          <td><%= uc.valor if uc %></td>

        <% end %>

        <td>
          <% if evaluado_rel.finalizada && evaluado_rel.no_aplica %>
            <strike>
          <% end %>
          <%= evaluado_rel.hr_process_user1.user.apellidos %>, <%= evaluado_rel.hr_process_user1.user.nombre %>
          <% if evaluado_rel.finalizada && evaluado_rel.no_aplica %>
            </strike>
          <% end %>
        </td>

        <td>

          <nobr>

            <% if hr_process_user.feedback_confirmado %>
              <% num_feedback_realizado += 1 if hr_process_user.feedback_confirmado %>
              <% if @hr_process.step_feedback_confirmation %>

                <% if hr_process_user.feedback_recibido %>
                  <% num_feedback_confirmado += 1 if hr_process_user.feedback_recibido %>
                  <span class="label label-success text-center" style="color: #fff;">Confirmada</span>
                <% else %>
                  <span class="label label-primary text-center" style="color: #fff;">Realizada</span>
                <% end %>
              <% else %>
                <span class="label label-success text-center" style="color: #fff;">Realizada</span>
              <% end %>
            <% else %>
              <span class="label label-danger text-center" style="color: #fff;">Pendiente</span>
            <% end %>


          </nobr>

        </td>

        <td>
          <% if hr_process_user.feedback_confirmado %>

              <%= (localize hr_process_user.feedback_date, format: :day_snmonth_year) if hr_process_user.feedback_date %>

          <% end %>
        </td>

      </tr>

    <% end %>


  <% end %>

  </tbody>
</table>

<br>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered table-condensed">



      <tr>
        <td>
          <strong>Posibles estados de la retroalimentación</strong>
        </td>

        <td>
          <span class="label label-danger" style="color:#ffffff;width:100%;text-align: center; ">Pendiente</span>

          <% if @hr_process.step_feedback_confirmation? %>

            <span class="label label-primary" style="color:#ffffff;width:100%;text-align: center; ">Realizada</span>

            <span class="label label-success" style="color:#ffffff;width:100%;text-align: center; ">Confirmada</span>


          <% else %>

            <span class="label label-success" style="color:#ffffff;width:100%;text-align: center; ">Realizada</span>

          <% end %>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
</div>
</div>
</div>



<%


   if num_feedback > 0

     por_feedback_realizado = num_feedback_realizado * 100 / num_feedback

     progress_bar_feedback_realizado = '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="'+por_feedback_realizado.to_s+'" aria-valuemin="0" aria-valuemax="100" style="width: '+por_feedback_realizado.to_s+'%;">'+por_feedback_realizado.to_s+'%</div></div>'

     if @hr_process.step_feedback_confirmation?

         por_feedback_confirmado = num_feedback_confirmado * 100 / num_feedback
         progress_bar_feedback_confirmado = '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="'+por_feedback_confirmado.to_s+'" aria-valuemin="0" aria-valuemax="100" style="width: '+por_feedback_confirmado.to_s+'%;">'+por_feedback_confirmado.to_s+'%</div></div>'

     end

   end

%>

<script>

  $('#num_avance_realizado').html('<%=num_feedback_realizado%>/<%=num_feedback%>');

  <% if @hr_process.step_feedback_confirmation? %>
    $('#num_avance_confirmado').html('<%=num_feedback_confirmado%>/<%=num_feedback%>');
  <% end %>

</script>

<% if num_feedback > 0 %>

  <script>

    $('#progress_bar_avance_realizado').html('<%= progress_bar_feedback_realizado.html_safe %>');

    <% if @hr_process.step_feedback_confirmation? %>

      $('#progress_bar_avance_confirmado').html('<%= progress_bar_feedback_confirmado.html_safe %>');

    <% end %>

  </script>

<% end %>




<!-- PAGE RELATED PLUGIN(S) -->
<script src="/assets/datatables/jquery.dataTables-cust.min.js"></script>
<script src="/assets/datatables/ColReorder.min.js"></script>
<script src="/assets/datatables/FixedColumns.min.js"></script>
<script src="/assets/datatables/ColVis.min.js"></script>
<script src="/assets/datatables/ZeroClipboard.js"></script>
<script src="/assets/datatables/media/js/TableTools.min.js"></script>
<script src="/assets/datatables/DT_bootstrap.js"></script>


<script type="text/javascript">

  $(document).ready(function() {


    $("#datatable_fixed_column thead input").keyup(function() {
      oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
    });

    $("#datatable_fixed_column thead input").each(function(i) {
      this.initVal = this.value;
    });
    $("#datatable_fixed_column thead input").focus(function() {
      if (this.className == "search_init") {
        this.className = "";
        this.value = "";
      }
    });
    $("#datatable_fixed_column thead input").blur(function(i) {
      if (this.value == "") {
        this.className = "search_init";
        this.value = this.initVal;
      }
    });


    var oTable = $('#datatable_fixed_column').dataTable({
      "sDom" : "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",

      "sPaginationType" : "bootstrap_full",
      "aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
      "iDisplayLength" : 25,
      "bSortCellsTop" : true,
      "oTableTools" : {
        "aButtons" : ["xls"],
        "sSwfPath" : "/assets/datatables/media/swf/copy_csv_xls_pdf.swf"
      }
    });


  })

</script>

