

<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver al reporte de estado de avance'.html_safe, pe_reporting_state_of_evals_path(@hr_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">
    <h1 class="page-title txt-color-blueDark">
      <%= @hr_process.nombre %> - <%= @hr_process.year %>: Resultado
    </h1>
  </div>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render partial: 'shared/user_profile_mini',
               locals: {
                 user: @hr_process_user.user,
                 company: @company,
                 titulo: 'Perfil del Evaluado',
                 ocultar_historial: false

               }
    %>

  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel-group" id="accordion_comments">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_comments" href="#collapseOne">
            Comentarios
          </a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Comentario</th>
                <th>Fecha</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% @hr_process_user.hr_process_user_comments.each do |hr_process_user_comment| %>
                <tr>
                  <td><%= hr_process_user_comment.comentario %></td>
                  <td><%= (localize hr_process_user_comment.fecha, format: :day_snmonth) %></td>
                  <td><%= link_to 'Eliminar', hr_process_assessment_destroy_comment_eval_feedback_path(hr_process_user_comment, @hr_process, @hr_process_user, 'eval'), method: :get, data: { confirm: '¿Está seguro de eliminar el comentario?' } %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<br>



<div>

<div class="row">
<div class="col-md-10 col-md-offset-1">

<div class="panel panel-default">
<div class="panel-body">

<legend>Resultado final</legend>

<% unless @hr_process_user.finalizado %>

  <div class="alert alert-info">
    Los resultados mostrados no son definitivos. Aún quedan evaluaciones pendientes de realizar.
  </div>

<% end %>


<div class="row">
<div class="col-md-12">

<table class="table table-bordered table-condensed table-hover">

<thead>
<tr>
  <th rowspan="2">#</th>

  <% if @hr_process.show_quien_evaluo %>

    <th rowspan="2">Apellidos</th>
    <th rowspan="2">Nombre</th>

  <% end %>

  <th rowspan="2">Relación</th>
  <% @hr_process_dimensions.each do |hr_process_dimension| %>

    <th colspan="<%= hr_process_dimension.hr_process_dimension_es.size %>" class="text-center">
      <%= hr_process_dimension.nombre %>
    </th>

  <% end %>
  <th rowspan="2">Estado</th>
</tr>
<tr>
  <% @hr_process_dimensions.each do |hr_process_dimension| %>
    <% hr_process_dimension.hr_process_dimension_es.each do |hr_process_dimension_e| %>

      <th class="text-center">
        <%= hr_process_dimension_e.hr_evaluation_type.nombre %>
      </th>

    <% end %>
  <% end %>
</tr>
</thead>

<tbody>

<% lista_relaciones = {'jefe' => @hr_process.alias_jefe, 'par' => @hr_process.alias_par, 'sub' => @hr_process.alias_sub, 'cli' => @hr_process.alias_cli, 'prov' => @hr_process.alias_prov} %>
<% num_evaluador = 0 %>
<% lista_relaciones.each do |rel, rel_desc| %>


  <% @hr_process_user.hr_process_es_evaluado_users_como_uniq_order_by_apellidos_nombre(rel).each do |hr_process_user_evalua| %>

    <% hr_process_user_rel = hr_process_user_evalua.hr_process_evalua_rels.where('hr_process_user2_id = ?', @hr_process_user.id).first %>


    <tr>
      <td><%= num_evaluador += 1 %></td>

      <% if @hr_process.show_quien_evaluo %>

        <td><%= hr_process_user_evalua.user.apellidos %></td>
        <td><%= hr_process_user_evalua.user.nombre %></td>

      <% end %>


      <td><%= rel_desc %></td>

      <% @hr_process_dimensions.each do |hr_process_dimension| %>
        <% hr_process_dimension.hr_process_dimension_es.each do |hr_process_dimension_e| %>

          <% if hr_process_user_rel.no_aplica %>
            <td></td>
          <% else %>

            <% hr_process_evaluation = hr_process_dimension_e.hr_process_evaluations.where('hr_process_id = ? ', @hr_process.id).first %>

            <% if hr_process_evaluation %>

              <% if
                 (rel == 'jefe' && hr_process_evaluation.hr_process_dimension_e.eval_jefe) ||
                   (rel == 'par' && hr_process_evaluation.hr_process_dimension_e.eval_par) ||
                   (rel == 'sub' && hr_process_evaluation.hr_process_dimension_e.eval_sub) ||
                   (rel == 'cli' && hr_process_evaluation.hr_process_dimension_e.eval_cli) ||
                   (rel == 'prov' && hr_process_evaluation.hr_process_dimension_e.eval_prov)
              %>

                <% hr_process_assessment_e = HrProcessAssessmentE.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? AND hr_process_user_eval_id = ? AND tipo_rel = ?', hr_process_evaluation.id, @hr_process_user.id, hr_process_user_evalua.id, rel).first %>

                <% if hr_process_assessment_e %>
                  <% dim_g = dimension_group_for_evaluation(hr_process_evaluation, hr_process_assessment_e) %>

                  <td style="<%= 'color: #'+dim_g.color_text+';' if dim_g && dim_g.color_text %>">
                    <%= number_with_precision(hr_process_assessment_e.resultado_porcentaje, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                    <%= ' - '+dim_g.nombre if dim_g && dim_g.nombre %>
                  </td>
                <% else %>
                  <td><span class="label label-default">No evaluado</span></td>
                <% end %>

              <% else %>
                <td></td>
              <% end %>

            <% end %>
          <% end %>

        <% end %>


      <% end %>
      <td>

        <% if hr_process_user_rel.no_aplica %>
          <span class="label label-danger">Anulada</span>
        <% elsif hr_process_user_rel.finalizada %>
          <span class="label label-success">Finalizada</span>
        <% else %>
          <span class="label label-default">No finalizada</span>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>

<% if debe_realizar_autoevaluacion_proceso(@hr_process, @hr_process_user) %>

  <tr>
    <td><%= num_evaluador += 1 %></td>

    <% if @hr_process.show_quien_evaluo %>

      <td><%= @hr_process_user.user.apellidos %></td>
      <td><%= @hr_process_user.user.nombre %></td>

    <% end %>


    <td>Autoevaluación</td>

    <% @hr_process_dimensions.each do |hr_process_dimension| %>
      <% hr_process_dimension.hr_process_dimension_es.each do |hr_process_dimension_e| %>

        <% hr_process_evaluation = hr_process_dimension_e.hr_process_evaluations.where('hr_process_id = ? ', @hr_process.id).first %>

        <% if hr_process_evaluation %>

          <% if hr_process_evaluation.hr_process_dimension_e.eval_auto %>

            <% hr_process_assessment_e = HrProcessAssessmentE.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? AND hr_process_user_eval_id = ? AND tipo_rel IS NULL', hr_process_evaluation.id, @hr_process_user.id, @hr_process_user.id).first %>

            <% if hr_process_assessment_e %>
              <% dim_g = dimension_group_for_evaluation(hr_process_evaluation, hr_process_assessment_e) %>

              <td style="<%= 'color: #'+dim_g.color_text+';' if dim_g && dim_g.color_text %>">
                <%= number_with_precision(hr_process_assessment_e.resultado_porcentaje, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                <%= ' - '+dim_g.nombre if dim_g && dim_g.nombre %>
              </td>
            <% else %>
              <td><span class="label label-default">No evaluado</span></td>
            <% end %>

          <% else %>
            <td></td>
          <% end %>

        <% end %>

      <% end %>


    <% end %>
    <td>
      <% if @hr_process_user.finalizada_auto %>
        <span class="label label-success">Finalizada</span>
      <% else %>
        <span class="label label-default">No finalizada</span>
      <% end %>
    </td>
  </tr>

<% end %>

<tr>
  <td colspan="<%= @hr_process.show_quien_evaluo ? '4':'2' %>" class="text-right"><strong>Resultados parciales</strong></td>

  <% @hr_process_dimensions.each do |hr_process_dimension| %>
    <% hr_process_dimension.hr_process_dimension_es.each do |hr_process_dimension_e| %>

      <% hr_process_evaluation = hr_process_dimension_e.hr_process_evaluations.where('hr_process_id = ? ', @hr_process.id).first %>

      <% if hr_process_evaluation %>

        <% hr_process_assessment_ef = HrProcessAssessmentEf.where('hr_process_evaluation_id = ? AND hr_process_user_id = ?', hr_process_evaluation.id, @hr_process_user.id).first %>

        <% if hr_process_assessment_ef %>
          <% dim_g = dimension_group_for_evaluation(hr_process_evaluation, hr_process_assessment_ef) %>

          <td style="<%= 'color: #'+dim_g.color_text+';' if dim_g && dim_g.color_text %>">
            <strong>
              <%= number_with_precision(hr_process_assessment_ef.resultado_porcentaje, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%
              <%= ' - '+dim_g.nombre if dim_g && dim_g.nombre %>
            </strong>
            <% if hr_process_assessment_ef.registered_by_manager %>
              <i id="notice_registered_by_manager_<%= hr_process_assessment_ef.id %>" class="fa fa-exclamation-circle" style="color: #8b0000;" data-toggle="tooltip" data-placement="right" title="Resultado registrado por el gestor"></i>
              <script>
                $(function () {
                  $('#notice_registered_by_manager_<%= hr_process_assessment_ef.id %>').tooltip()
                })
              </script>
            <% end %>
          </td>
        <% else %>
          <td><span class="label label-default">No evaluado</span></td>
        <% end %>

      <% end %>

    <% end %>


  <% end %>
</tr>

</tbody>

</table>

<table class="table table-bordered table-condensed">

  <thead>
  <tr>
    <th></th>
    <% @hr_process_dimensions.each do |hr_process_dimension| %>

      <th class="text-center">
        <%= hr_process_dimension.nombre %>
      </th>

    <% end %>
    <% if @hr_process.muestra_cajas? %>
      <th colspan="2">Valoración final</th>
    <% end %>
  </tr>
  </thead>

  <tbody>

  <tr>
    <td class="text-right"><strong>Resultados finales</strong></td>

    <% @hr_process_dimensions.each do |hr_process_dimension| %>

      <td class="text-center">


        <% hr_process_assessment_d =  @hr_process_user.hr_process_assessment_ds.find_by_hr_process_dimension_id(hr_process_dimension.id) %>

        <% if hr_process_assessment_d %>

          <% dim_g =  hr_process_assessment_d.hr_process_dimension_g %>
          <nobr>
            <label style="<%= 'color: #'+dim_g.color_text+';' if dim_g && dim_g.color_text %>">
              <strong>
                <%= number_with_precision(hr_process_assessment_d.resultado_porcentaje, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                <%= ' - '+dim_g.nombre if dim_g && dim_g.nombre %>
              </strong>

            </label>
          </nobr>
          <% hr_process_assessment_d_cal = hr_process_assessment_d.hr_process_assessment_d_cal %>

          <% if hr_process_assessment_d_cal %>

            <label data-toggle="tooltip" title="Ver calibración" style="color: #000;">

              <a data-toggle="button" data-content='


                                    <table>
                                      <tr>
                                        <td><strong>Porcentaje original</strong></td>
                                        <td>
                                          <%= hr_process_assessment_d_cal.resultado_porcentaje.to_i %>%
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <strong>Comentario</strong>
                                        </td>
                                        <td>
                                          <%= hr_process_assessment_d_cal.comentario %>
                                        </td>
                                      </tr>
                                    </table>

                                  '
                 id='detalle_calibracion_<%= hr_process_assessment_d_cal.id %>' >

                <i class="fa fa-exclamation-triangle"></i>

              </a>

            </label>

            <script language="javascript">
              $('#detalle_calibracion_<%= hr_process_assessment_d_cal.id %>').popover({
                html: true,
                placement: 'top',
                trigger: 'click'
              });


            </script>

          <% end %>

        <% end %>

      </td>

    <% end %>

    <% if @hr_process.muestra_cajas? %>

      <td>
        <div>


          <% hr_process_assessment_qua = @hr_process_user.hr_process_assessment_qua %>

          <% if hr_process_assessment_qua %>

            <% hr_process_quadrant = hr_process_assessment_qua.hr_process_quadrant %>

            <% if hr_process_quadrant.nombre %>

                          <span class="label label-default col-md-12" style="font-size: 0.9em; text-align: center; <%= 'color: #'+hr_process_quadrant.color_text+';' if hr_process_quadrant.color_text %><%= 'background-color: #'+hr_process_quadrant.color+';' if hr_process_quadrant.color %>">
                            <%= hr_process_quadrant.nombre.html_safe %><br>
                            <%= hr_process_quadrant.descripcion.html_safe if hr_process_quadrant.descripcion %>
                          </span>

              <% hr_process_calibration_session_m = @hr_process_user.hr_process_calibration_session_ms.first %>

              <% hr_process_assessment_qua_cal = HrProcessAssessmentQuaCal.where('hr_process_calibration_session_id = ? AND  hr_process_calibration_session_m_id = ?', hr_process_calibration_session_m.hr_process_calibration_session.id, hr_process_calibration_session_m.id).first if hr_process_calibration_session_m %>

              <% hr_process_quadrant_cal = hr_process_assessment_qua_cal.hr_process_quadrant if hr_process_assessment_qua_cal %>

              <% if hr_process_quadrant_cal && hr_process_quadrant_cal.nombre %>

                <label data-toggle="tooltip" title="Ver calibración" style="color: #000;">

                  <a data-toggle="button" data-content='
                                                              <dl class="dl-horizontal">
                                                                <dt>Valoración original</dt>
                                                                <dd>
                                                                  <span class="label label-default" style="<%= 'color: #'+hr_process_quadrant_cal.color_text+';' if hr_process_quadrant_cal.color_text %><%= 'background-color: #'+hr_process_quadrant_cal.color+';' if hr_process_quadrant_cal.color %>">
                                                                      <strong><%= hr_process_quadrant_cal.nombre.html_safe %></strong>
                                                                  </span>
                                                                </dd>
                                                              </dl>
                                                              <dl class="dl-horizontal">
                                                                <dt>Comentario</dt>
                                                                <dd>
                                                                  <%= hr_process_assessment_qua_cal.comentario %>
                                                                </dd>
                                                              </dl>

                                                            '
                     id='detalle_calibracion_qua_<%= hr_process_assessment_qua_cal.id %>' >

                    <i class="fa fa-exclamation-triangle"></i>

                  </a>

                </label>

                <script language="javascript">
                  $('#detalle_calibracion_qua_<%= hr_process_assessment_qua_cal.id %>').popover({
                    html: true,
                    placement: 'top',
                    trigger: 'click'
                  });


                </script>

              <% end %>

            <% end %>



          <% else %>

            <span class="label label-default">No evaluado</span>

          <% end %>
        </div>
      </td>
      <td>

        <% if hr_process_quadrant %>

          <%= hr_process_quadrant.descripcion_detalle.html_safe if hr_process_quadrant.descripcion_detalle %>

        <% end %>

      </td>

    <% end %>


  </tr>



  </tbody>

</table>

</div>
</div>



</div>
</div>
</div>
</div>

<% if @hr_process.muestra_grupos? %>


  <div class="row">
    <div class="col-md-1"></div>
    <% @hr_process_dimensions.each do |hr_process_dimension| %>

      <div class="col-md-5">

        <div class="panel panel-default">
          <div class="panel-body">

            <legend><%= hr_process_dimension.nombre %></legend>
            <% if hr_process_dimension.hr_process_dimension_gs.length > 0 %>

              <% numero_sin_descripcion = hr_process_dimension.hr_process_dimension_gs.where('descripcion IS NULL').length %>

              <table class="table table-striped table-bordered">

                <thead>
                <tr>
                  <th>
                    <div class="text-center">
                      Rango
                    </div>
                  </th>
                  <th>Descripción</th>
                  <% if numero_sin_descripcion == 0 %>
                    <th>Detalle</th>
                  <% end %>
                </tr>
                </thead>

                <tbody>

                <% hr_process_dimension.hr_process_dimension_gs.each do |hr_process_dimension_g| %>
                  <tr style="<%= 'color: #'+hr_process_dimension_g.color_text+';' if hr_process_dimension_g.color_text %>">
                    <td>
                      <div class="text-center">
                        <nobr>
                          <%= hr_process_dimension_g.valor_minimo %>%

                          -

                          <%= hr_process_dimension_g.valor_maximo %>%
                        </nobr>
                      </div>
                    </td>
                    <td><%= hr_process_dimension_g.nombre %></td>
                    <% if numero_sin_descripcion == 0 %>
                      <td><%= hr_process_dimension_g.descripcion %></td>
                    <% end %>
                  </tr>
                <% end %>

                </tbody>

              </table>

            <% end %>
          </div>
        </div>
      </div>

    <% end %>
    <div class="col-md-1"></div>
  </div>

<% end %>

<% if @hr_process.muestra_cajas? %>

  <% if @hr_process_dimensions.size == 1 && @hr_process_dimensions.first.hr_process_dimension_gs.size > 0 %>
<!--
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <% ancho_grupo = 12/@hr_process_dimensions.first.hr_process_dimension_gs.length %>

        <div class="row">

          <% hr_process_assessment_d =  @hr_process_user.hr_process_assessment_ds.find_by_hr_process_dimension_id(@hr_process_dimensions.first.id) %>


          <% @hr_process_dimensions.first.hr_process_dimension_gs.each do |hr_process_dimension_g| %>


            <% match_quadrant = false %>

            <% if hr_process_assessment_d && hr_process_assessment_d.resultado_porcentaje >= hr_process_dimension_g.valor_minimo && hr_process_assessment_d.resultado_porcentaje <= hr_process_dimension_g.valor_maximo  %>

              <% match_quadrant = true %>

            <% end %>

            <% hr_process_quadrant = @hr_process_template.quadrant_1d(hr_process_dimension_g.id) %>

            <div class="col-md-<%= ancho_grupo %> well"

                 <% if hr_process_quadrant %>

                 style="


                 <%if hr_process_quadrant.color_text && match_quadrant %>
                   <%= 'color: #'+hr_process_quadrant.color_text+';' %>
                   <% else %>
                   <%= 'color: #ccc;' %>
                   <% end %>

                   <% if hr_process_quadrant.color && match_quadrant %>
                   <%= 'background-color: #'+hr_process_quadrant.color+';' %>
                   <% elsif hr_process_quadrant.color_fondo_suave && match_quadrant != true%>
                   <%= 'background-color: #'+hr_process_quadrant.color_fondo_suave+';'%>
                   <% end %>


                 "

                 <% end %>

                 >
              <% if hr_process_quadrant %>

                <% if match_quadrant %>

                  <strong>
                    <%= hr_process_quadrant.nombre.html_safe %>
                    <br>
                    <%= hr_process_quadrant.descripcion.html_safe if hr_process_quadrant.descripcion %>
                  </strong>

                <% else %>

                  <%= hr_process_quadrant.nombre.html_safe %>
                  <br>
                  <%= hr_process_quadrant.descripcion.html_safe if hr_process_quadrant.descripcion %>

                <% end %>

              <% else %>

                No definido <i class="fa fa-exclamation-triangle"></i>

              <% end %>

            </div>

          <% end %>

        </div>

        <div class="row">

          <% @hr_process_dimensions.first.hr_process_dimension_gs.each do |hr_process_dimension_g| %>

            <div class="col-md-<%= ancho_grupo %>">

              <div class="row">
                <div class="col-md-12">
                  <%= hr_process_dimension_g.nombre%>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <%= hr_process_dimension_g.valor_minimo %>%
                </div>
                <div class="col-md-6 text-right">
                  <%= hr_process_dimension_g.valor_maximo %>%
                </div>
              </div>
            </div>


          <% end %>

        </div>

        <div class="row">

          <div class="col-md-6">
            <strong>
              <%= @hr_process_dimensions.first.nombre %>:

              <% hr_process_assessment_d =  @hr_process_user.hr_process_assessment_ds.find_by_hr_process_dimension_id(@hr_process_dimensions.first.id) %>

              <% if hr_process_assessment_d %>


                <% if hr_process_assessment_d.resultado_porcentaje.to_i == hr_process_assessment_d.resultado_porcentaje %>
                  <%= hr_process_assessment_d.resultado_porcentaje.to_i %>%
                <% else %>
                  <%= number_with_precision(hr_process_assessment_d.resultado_porcentaje, precision: 1, :separator => '.' ) %>%
                <% end %>

              <% end %>
            </strong>
          </div>
          <div class="col-md-6">

            <% if @hr_process_dimensions.first.hr_process_dimension_es.length > 1 %>

              <% @hr_process_dimensions.first.hr_process_dimension_es.each do |hr_process_dimension_e_id| %>
                - <%= hr_process_dimension_e_id.hr_evaluation_type.nombre if hr_process_dimension_e_id.hr_evaluation_type %>
                (<%= hr_process_dimension_e_id.porcentaje %>%)

                <% @hr_process_evaluations.each do |hr_process_evaluation| %>
                  <% if hr_process_evaluation.hr_process_dimension_e_id == hr_process_dimension_e_id.id %>
                    <% hr_process_assessment_ef = HrProcessAssessmentEf.where('hr_process_evaluation_id = ? AND hr_process_user_id = ? ', hr_process_evaluation.id, @hr_process_user.id).first %>
                    <% if hr_process_assessment_ef %>
                      <% if hr_process_assessment_ef.resultado_porcentaje.to_i == hr_process_assessment_ef.resultado_porcentaje %>
                        <%= hr_process_assessment_ef.resultado_porcentaje.to_i %>%
                      <% else %>
                        <%= number_with_precision(hr_process_assessment_ef.resultado_porcentaje, precision: 1, :separator => '.' ) %>%
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>

                <br>
              <% end %>
            <% end %>
          </div>

        </div>

      </div>
    </div>
-->

  <% elsif @hr_process_dimensions.size == 2 && @hr_process_dimensions.first.hr_process_dimension_gs.size > 0 %>

    <% dimension_eje_x = @hr_process_dimensions.first %>
    <% dimension_eje_y = @hr_process_dimensions.last %>

    <%= render partial: 'hr_process_assessments/quadrants_2d_with_one_marked',
               locals: {
                 hr_process_template: @hr_process_template,
                 dimension_eje_x: @hr_process_dimensions.first,
                 dimension_eje_y: @hr_process_dimensions.last,
                 hr_process_quadrant_marked: hr_process_assessment_qua ? hr_process_assessment_qua.hr_process_quadrant : nil
               }
    %>

  <% end %>

<% end %>

</div>



</div>