<%= form_for event, html: {class: 'form-horizontal', id: 'new_bp_event_form'} do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <legend> <%= t('views.bp_events.legends.event_info') %> </legend>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group <%= field_with_errors f, :name %>">
        <%= f.label :name, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, class: 'form-control'%>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :description, rows: '3', class: 'form-control' %>
        </div>
      </div>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit t('views.bp_events.flow_process.save'), class: 'btn btn-primary' %>
      </div>
    </div>

  </div>
<% end %>
