<%= form_for event_file, url: bp_event_file_create_path(event_file.bp_event), html: {class: 'form-horizontal', id: 'edit_bp_event_file_form'}, method: :post do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.bp_events_files.legends.event_files_info') %> </legend>

        <%= render 'shared/error_messages', object: f.object %>

        <div class="row">
          <div class="col-md-3" align="right"><%= t('activerecord.attributes.bp_event.name_event') %></div>
          <div class="col-md-9"> <%= event_file.bp_event.name %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-3" align="right"><%= t('activerecord.attributes.bp_event.description_event') %></div>
          <div class="col-md-9"> <%= event_file.bp_event.description %>
          </div>
        </div>
        <br>

        <div class="form-group <%= field_with_errors f, :name %>">
          <%= f.label :name, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :name, class: 'form-control'%>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :description, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_area :description, rows: '3', class: 'form-control' %>
          </div>
        </div>

      </div>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= f.submit t('views.bp_events_files.flow_process.save'), class: 'btn btn-primary' %>
            </div>
          </div>
    </div>
<% end %>