<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.bp_events.backlist.events_list')).html_safe, bp_groups_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_events.legends.events_list') %>
      <span>> <%= t('views.bp_events.flow_process.manage') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div id="group_show_container" class="col-md-6 col-md-offset-3">
    <%= render partial: 'bp_event_show',
               locals: {:event => @bp_event,
                        :editable => true} %>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'bp_event_files_datatable',
                   locals: {:event_files => @bp_event_files,
                            :event => @bp_event} %>
      </div>
    </div>
  </div>
</div>


<%=render partial: '/shared/datatable',
          locals: {table_id: 'datatable_bp_event_files'} %>

<script>
    $(document).ready(function () {

    });
</script>