<h1>Listing bp_events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bp_events.each do |bp_event| %>
  <tr>
    <td><%= bp_event.name %></td>
    <td><%= bp_event.description %></td>
    <td><%= link_to 'Show', bp_event %></td>
    <td><%= link_to 'Edit', edit_bp_event_path(bp_event) %></td>
    <td><%= link_to 'Destroy', bp_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bp event', new_bp_event_path %>
