<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bp_event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @bp_event.description %>
</p>


<%= link_to 'Edit', edit_bp_event_path(@bp_event) %> |
<%= link_to 'Back', bp_events_path %>
