<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de dashboards'.html_safe, kpi_dashboards_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-line-chart"></i>
      <%= @kpi_dashboard.name %>
      <span>> Elimiar dashboard </span>
    </h1>
  </div>
</div>


<%= form_for @kpi_dashboard, html: { method: :delete } do |f| %>



  <div class="col-md-6 col-md-offset-3">

  <div class="panel panel-default">
    <div class="panel-body">
      <legend>
        Datos del dashboard
      </legend>

      <div class="row">
        <div class="col-md-3 text-right">
          <strong>Nombre</strong>
        </div>
        <div class="col-md-9">
          <%= @kpi_dashboard.name %>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-3 text-right">
          <strong>Tipo de dashboard</strong>
        </div>
        <div class="col-md-9">
          <% if @kpi_dashboard.kpi_dashboard_type_id %>

            <%= @kpi_dashboard.kpi_dashboard_type.name %>

          <% else %>

            <span class="label label-default">Ninguno</span>

          <% end %>

        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-3 text-right">
          <strong>Periodo</strong>
        </div>
        <div class="col-md-9">
          <%= @kpi_dashboard.period %>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-3 text-right">
          <strong>Tabla dinámica/estándar</strong>
        </div>
        <div class="col-md-9">
          <% if @kpi_dashboard.csv %>
            Dinámica
            <br>
            <em>El registro de indicadores para una tabla dinámica se realizará adjuntando un archivo CSV.</em>
          <% else %>
            Estándar
          <% end %>
        </div>
      </div>

      <% unless @kpi_dashboard.csv %>

        <hr>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Desde</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @kpi_dashboard.from, format: :snmonth_year) %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Hasta</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @kpi_dashboard.to, format: :snmonth_year) %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Frecuencia</strong>
          </div>
          <div class="col-md-9">
            <%=
                case @kpi_dashboard.frequency
                  when 'm'
                    'Mensual'
                  when 'w'
                    'Semanal'
                end
            %>
            <br>
            <em>La frecuencia con la que los usuarios deberán registrar mediciones de los indicadores.</em>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col-md-9">
            <%= recaptcha_tags :display=>{:theme=>'clean'} %>
          </div>
        </div>

      <% end %>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">

        <%= f.submit 'Eliminar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <% end %>

  <% unless @kpi_dashboard.csv %>

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Sets</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>
            <th>#</th>
            <th>Nombre</th>
          </tr>

          </thead>

          <tbody>

          <% @kpi_dashboard.kpi_sets.each do |kpi_set| %>
            <tr>
              <td><%= kpi_set.position %></td>
              <td><%= kpi_set.name %></td>
            </tr>
          <% end %>

          </tbody>

        </table>


      </div>
    </div>


  <% end %>


</div>
