<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de dashboards'.html_safe, kpi_dashboards_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-9">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-line-chart"></i>
      <%= @kpi_dashboard.name %>
      <span>> Configurar dashboard </span>
    </h1>
  </div>
</div>


<div class="col-md-6 col-md-offset-3">

  <div class="panel panel-default">
    <div class="panel-body">
      <legend>
        Datos del dashboard
      </legend>

      <div class="row">
        <div class="col-md-3 text-right">
          <strong>Nombre</strong>
        </div>
        <div class="col-md-9">
          <%= @kpi_dashboard.name %>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-3 text-right">
          <strong>Tipo de dashboard</strong>
        </div>
        <div class="col-md-9">
          <% if @kpi_dashboard.kpi_dashboard_type_id %>

            <%= @kpi_dashboard.kpi_dashboard_type.name %>

          <% else %>

            <span class="label label-default">Ninguno</span>

          <% end %>

        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-3 text-right">
          <strong>Periodo</strong>
        </div>
        <div class="col-md-9">
          <%= @kpi_dashboard.period %>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-3 text-right">
          <strong>Tabla dinámica/estándar</strong>
        </div>
        <div class="col-md-9">
          <% if @kpi_dashboard.csv %>
            Dinámica
            <br>
            <em>El registro de indicadores para una tabla dinámica se realizará adjuntando un archivo CSV.</em>
          <% else %>
            Estándar
          <% end %>
        </div>
      </div>

      <% if @kpi_dashboard.csv %>

        <hr>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Filas</strong>
          </div>
          <div class="col-md-9">
            <%= @kpi_dashboard.pt_rows %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Columnas</strong>
          </div>
          <div class="col-md-9">
            <%= @kpi_dashboard.pt_cols %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Agregador</strong>
          </div>
          <div class="col-md-9">
            <%= @kpi_dashboard.pt_aggregator %>
          </div>
        </div>

        <% if @kpi_dashboard.pt_aggregator == 'Suma' %>

          <br>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Campo del agregador</strong>
            </div>
            <div class="col-md-9">
              <%= @kpi_dashboard.pt_aggregator_field %>
            </div>
          </div>

        <% end %>

      <% else %>

        <hr>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Desde</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @kpi_dashboard.from, format: :snmonth_year) %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Hasta</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @kpi_dashboard.to, format: :snmonth_year) %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Frecuencia</strong>
          </div>
          <div class="col-md-9">
            <%=
                case @kpi_dashboard.frequency
                  when 'm'
                    'Mensual'
                  when 'w'
                    'Semanal'
                end
            %>
            <br>
            <em>La frecuencia con la que los usuarios deberán registrar mediciones de los indicadores.</em>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Permite subsets</strong>
          </div>
          <div class="col-md-9">
            <% if @kpi_dashboard.allow_subsets? %>
              <span class="label label-success">Sí</span>
            <% else %>
              <span class="label label-danger">No</span>
            <% end %>
          </div>
        </div>

        <% if @kpi_dashboard.allow_subsets? %>

          <br>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Alias de los subsets</strong>
            </div>
            <div class="col-md-9">
              <%= @kpi_dashboard.subset_alias %>
            </div>
          </div>

        <% end %>

        <hr>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Mostrar resultados parciales de los sets</strong>
          </div>
          <div class="col-md-9">
            <% if @kpi_dashboard.show_set_results? %>
              <span class="label label-success">Sí</span>
            <% else %>
              <span class="label label-danger">No</span>
            <% end %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Mostrar resultado a la fecha de los sets</strong>
          </div>
          <div class="col-md-9">
            <% if @kpi_dashboard.show_set_final_result? %>
              <span class="label label-success">Sí</span>
            <% else %>
              <span class="label label-danger">No</span>
            <% end %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Mostrar resultado a la fecha de los indicadores</strong>
          </div>
          <div class="col-md-9">
            <% if @kpi_dashboard.show_indicator_final_result? %>
              <span class="label label-success">Sí</span>
            <% else %>
              <span class="label label-danger">No</span>
            <% end %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Mostrar peso en %</strong>
          </div>
          <div class="col-md-9">
            <% if @kpi_dashboard.w_p %>
              <span class="label label-success">Sí</span>
            <% else %>
              <span class="label label-danger">No</span>
            <% end %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Límite superior</strong>
          </div>
          <div class="col-md-9">
            <% if @kpi_dashboard.upper_limit %>

              <%= @kpi_dashboard.upper_limit %>
              <br>
              <em>Si el porcentaje de un indicador supera este valor, se limitará dicho porcentaje a éste</em>

            <% else %>

              No existe límite

            <% end %>

          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Límite inferior</strong>
          </div>
          <div class="col-md-9">
            <% if @kpi_dashboard.lower_limit %>

              <%= @kpi_dashboard.lower_limit %>
              <br>
              <em>Si el porcentaje de un indicador supera este valor, se limitará dicho porcentaje a éste</em>

            <% else %>

              No existe límite

            <% end %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Permite definir colores a nivel de sets</strong>
          </div>
          <div class="col-md-9">
            <% if @kpi_dashboard.allow_set_colors %>
              <span class="label label-success">Sí</span>
              <em>Se podrán definir colores para los indicadores a nivel de set</em>
            <% else %>
              <span class="label label-danger">No</span>
            <% end %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Permite definir colores a nivel de indicadores</strong>
          </div>
          <div class="col-md-9">
            <% if @kpi_dashboard.allow_indicator_colors %>
              <span class="label label-success">Sí</span>
              <em>Se podrán definir colores para los indicadores a nivel de indicador</em>
            <% else %>
              <span class="label label-danger">No</span>
            <% end %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3 text-right">

            <strong>Vista por defecto</strong>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Tabla/Gráficos</strong>
          </div>
          <div class="col-md-9">
            <% if @kpi_dashboard.def_view_table %>
              <i class='fa fa-table'></i>
              <em>Los indicadores se mostrarán en formato de tabla</em>
            <% else %>
              <i class='fa fa-line-chart'></i>
              <em>Los indicadores se mostrarán en formato gráfico</em>
            <% end %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>% Logro</strong>
          </div>
          <div class="col-md-9">
            <% if @kpi_dashboard.def_view_percentage %>
              Para cada indicador <span class="label label-success">Sí</span> se visualizarán sus porcentages de logro
            <% else %>
              Para cada indicador <span class="label label-danger">No</span> se visualizarán sus porcentages de logro
            <% end %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Resultado</strong>
          </div>
          <div class="col-md-9">
            <% if @kpi_dashboard.def_view_kpis %>
              Para cada indicador <span class="label label-success">Sí</span> se visualizarán sus resultados
            <% else %>
              Para cada indicador <span class="label label-danger">No</span> se visualizarán sus resultados
            <% end %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Meta</strong>
          </div>
          <div class="col-md-9">
            <% if @kpi_dashboard.def_view_goal %>
              Para cada indicador <span class="label label-success">Sí</span> se visualizarán sus metas
            <% else %>
              Para cada indicador <span class="label label-danger">No</span> se visualizarán sus metas
            <% end %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-12 ">

            <strong>Campos opcionales de los indicadores</strong>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Meta anual</strong>
          </div>
          <div class="col-md-9">
            <% if @kpi_dashboard.kpi_field_annual_goal %>
              <span class="label label-success">Sí</span>
              <br>
              <em>
                Para cada indicador se mostrará una columna adicional llamada meta anual al costado derecho del peso.
                Este valor no se utilizará para realizar ningún cálculo.
              </em>
            <% else %>
              <span class="label label-danger">No</span>
            <% end %>
          </div>
        </div>

      <% end %>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">

        <% unless @kpi_dashboard.csv %>

          <%= link_to 'Clonar dashboard', kpi_dashboard_clone_dashboard_path(@kpi_dashboard) %>
          &nbsp;&nbsp;
        <% end %>

        <% if @kpi_dashboard.csv && admin_logged_in? %>
          <%= link_to 'Editar CSV', kpi_dashboard_edit_csv_path(@kpi_dashboard) %>
          &nbsp;&nbsp;
        <% end %>

        <%= link_to 'Editar', edit_kpi_dashboard_path(@kpi_dashboard) %>
        &nbsp;&nbsp;
        <%= link_to 'Eliminar', kpi_dashboard_delete_path(@kpi_dashboard) %>

      </div>
    </div>
  </div>

  <% unless @kpi_dashboard.csv %>

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Sets</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>
            <th>#</th>
            <th colspan="2">Nombre</th>
            <th colspan="2">
              <%= link_to 'Añadir set', new_kpi_set_path(@kpi_dashboard) %>
              <% if @kpi_dashboard.allow_subsets? %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to 'Añadir subset', new_kpi_subset_path(@kpi_dashboard) %>
              <% end %>
            </th>
          </tr>

          </thead>

          <tbody>

          <% @kpi_dashboard.kpi_sets.each do |kpi_set| %>
            <tr>
              <td><%= kpi_set.position %></td>
              <td colspan="2"><%= kpi_set.name %></td>
              <td><%= link_to 'Editar', edit_kpi_set_path(kpi_set) %></td>
              <td><%= link_to 'Eliminar', kpi_set, method: :delete, data: { confirm: '¿Está seguro de eliminar el set?' } %></td>
            </tr>

            <% if @kpi_dashboard.allow_subsets? %>

              <% kpi_set.kpi_subsets.each do |kpi_subset| %>

                <tr>
                  <td></td>
                  <td width="1%"><nobr><%= kpi_subset.position %></nobr></td>
                  <td><%= kpi_subset.name %></td>
                  <td><%= link_to 'Editar', edit_kpi_subset_path(kpi_subset) %></td>
                  <td><%= link_to 'Eliminar', kpi_subset, method: :delete, data: { confirm: '¿Está seguro de eliminar el subset?' } %></td>
                </tr>

              <% end %>

            <% end %>

          <% end %>

          </tbody>

        </table>


      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Colores para los indicadores del dashboard</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>
            <th>%</th>
            <th>Color</th>
            <th colspan="2">
              <%= link_to 'Añadir color', new_kpi_color_path(@kpi_dashboard) %>
            </th>
          </tr>

          </thead>

          <tbody>

          <% @kpi_dashboard.kpi_colors.each do |kpi_color| %>
            <tr>
              <td>< <%= kpi_color.percentage %></td>
              <td><i class="fa fa-circle" style="color: <%= kpi_color.color %>"></i></td>
              <td><%= link_to 'Editar', edit_kpi_color_path(kpi_color) %></td>
              <td><%= link_to 'Eliminar', kpi_color, method: :delete, data: { confirm: '¿Está seguro de eliminar el color?' } %></td>
            </tr>
          <% end %>

          </tbody>

        </table>


      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Roles</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th colspan="2">
              <%= link_to 'Añadir rol', new_kpi_rol_path(@kpi_dashboard) %>
            </th>
          </tr>

          </thead>

          <tbody>

          <% @kpi_dashboard.kpi_rols.each_with_index do |kpi_rol, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= kpi_rol.name %></td>
              <td><%= link_to 'Editar', edit_kpi_rol_path(kpi_rol) %></td>
              <td><%= link_to 'Eliminar', kpi_rol, method: :delete, data: { confirm: '¿Está seguro de eliminar el rol?' } %></td>
            </tr>
          <% end %>

          </tbody>

        </table>


      </div>
    </div>

  <% end %>

  <div class="panel panel-default">
    <div class="panel-body">

      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#tab_managers" data-toggle="tab">
            Gestores (<%= @kpi_dashboard.kpi_dashboard_managers.size %>)
          </a>
        </li>
        <li>
          <a href="#tab_guests" data-toggle="tab">
            Invitados (<%= @kpi_dashboard.kpi_dashboard_guests.size %>)
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="tab_managers">
          <br>
          Podrán gestionar indicadores y registrar mediciones
          <br>
          <br>
          <table class="table table-striped table-hover table-bordered">

            <thead>

              <tr>
                <th>#</th>
                <th>Código</th>
                <th>Apellidos</th>
                <th>Nombre</th>
                <th>
                  <%= link_to 'Añadir gestor', new_kpi_dashboard_manager_path(@kpi_dashboard) %>
                </th>
              </tr>

            </thead>

            <tbody>

              <% @kpi_dashboard.kpi_dashboard_managers_ordered.each_with_index do |kpi_dashboard_manager, index| %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= kpi_dashboard_manager.user.codigo %></td>
                  <td><%= kpi_dashboard_manager.user.apellidos %></td>
                  <td><%= kpi_dashboard_manager.user.nombre %></td>
                  <td><%= link_to 'Eliminar', kpi_dashboard_manager, method: :delete, data: { confirm: '¿Está seguro de eliminar el gestor del dashboard?' } %></td>
                </tr>
              <% end %>

            </tbody>

          </table>

        </div>

        <div class="tab-pane" id="tab_guests">
          <br>
          Sólo podrán consultar indicadores y mediciones registradas por los gestores
          <br>
          <br>
          <table class="table table-striped table-hover table-bordered">

            <thead>

            <tr>
              <th>#</th>
              <th>Código</th>
              <th>Apellidos</th>
              <th>Nombre</th>
              <th>
                <%= link_to 'Añadir invitado', new_kpi_dashboard_guest_path(@kpi_dashboard) %>
              </th>
            </tr>

            </thead>

            <tbody>

            <% @kpi_dashboard.kpi_dashboard_guests_ordered.each_with_index do |kpi_dashboard_guest, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= kpi_dashboard_guest.user.codigo %></td>
                <td><%= kpi_dashboard_guest.user.apellidos %></td>
                <td><%= kpi_dashboard_guest.user.nombre %></td>
                <td><%= link_to 'Eliminar', kpi_dashboard_guest, method: :delete, data: { confirm: '¿Está seguro de eliminar el invitado del dashboard?' } %></td>
              </tr>
            <% end %>

            </tbody>

          </table>

        </div>

      </div>

    </div>
  </div>

</div>
