<div class="panel panel-default">
  <div class="panel-body">

    <legend> <%= t('views.bp_groups.legends.group_info') %> </legend>

    <div class="row">
      <div class="col-md-4" align="right"><strong><%= t('activerecord.attributes.bp_group.name') %></strong></div>
      <div class="col-md-8"><%= group.name %></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4" align="right"><strong><%= t('activerecord.attributes.bp_group.description') %></strong></div>
      <div class="col-md-8"><%= group.description %></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4" align="right"><strong><%= t('activerecord.attributes.bp_group.active') %></strong></div>
      <div class="col-md-8"><%= label_yes_not(group.active) %></div>
    </div>
    <br>
    <% unless group.active %>
        <div class="row">
          <div class="col-md-4" align="right">
            <strong> <%= t('activerecord.attributes.bp_group.deactivated_at') %> </strong>
          </div>
          <div class="col-md-8">
            <%= (localize group.deactivated_at, format: :day_snmonth_syear) %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4" align="right">
            <strong> <%= t('activerecord.attributes.bp_group.deactivated_by_admin_id') %> </strong>
          </div>
          <div class="col-md-8">
            <%= group.deactivated_by_admin_formatted%>
          </div>
        </div>
    <% end %>

  </div>
  <% if defined?(editable) && editable %>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to t('views.bp_groups.flow_process.edit'), edit_bp_group_path(group) if group.active %>
          <%= link_to t('views.bp_groups.flow_process.activate'), bp_groups_activate_path(group), :class => 'btn btn-success', :method => :post, data: { confirm: t('views.bp_groups.confirmation_messages.activate_group') } unless group.active %>
        </div>
      </div>
  <% end %>
</div>