<%= form_for group_user, url: bp_admin_group_user_update_path(group_user), html: {class: 'form-horizontal', id: 'edit_bp_group_user_form'}, method: :post do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.bp_groups_users.legends.group_user_info') %> </legend>

        <%= render 'shared/error_messages', object: f.object %>

        <div class="row">
          <div class="col-md-3" align="right"><%= alias_username %></div>
          <div class="col-md-9"> <%= group_user.user.codigo %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3" align="right"><%= t('activerecord.attributes.bp_groups_user.user.lastname') %></div>
          <div class="col-md-9"> <%= group_user.user.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3" align="right"><%= t('activerecord.attributes.bp_groups_user.user.name') %></div>
          <div class="col-md-9"> <%= group_user.user.apellidos %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3" align="right"><%= t('activerecord.attributes.bp_groups_user.active') %></div>
          <div class="col-md-9"> <%= label_yes_not(group_user.active) %>
          </div>
        </div>
        <br>

        <% if group_user.since %>
            <div class="form-group <%= field_with_errors f, :since %>">
              <%= f.label :since, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <div class="input-group date">
                  <%= f.text_field :since, class: 'form-control datetime', :data => {:format => '%d/%m/%Y %H:%M'}, :value => f.object.since ? f.object.since.strftime('%d/%m/%Y %H:%M') : '', :readonly => true %>


                  <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"> </i></span>
                </div>
              </div>
            </div>

            <div class="form-group <%= field_with_errors f, :until %>">
              <%= f.label :until, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <div class="input-group date">
                  <%= f.text_field :until, class: 'form-control datetime', :data => {:format => '%d/%m/%Y %H:%M'}, :value => f.object.until ? f.object.until.strftime('%d/%m/%Y %H:%M') : '', :readonly => true %>
                  <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"> </i></span>
                </div>
              </div>
            </div>

        <% end %>

      </div>
      <% if group_user.since || (!group_user.since && group_user.active) %>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <% if group_user.since %>
                  <%= f.submit t('views.bp_groups.flow_process.save'), class: 'btn btn-primary' %>
              <% else %>
                  <%= link_to t('views.bp_groups_users.flow_process.deactivate'), bp_groups_users_deactivate_path(group_user), :method => :post, data: {confirm: t('views.bp_groups_users.confirmation_messages.deactivate_group_user')}, :class => 'btn btn-danger' %>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
<% end %>


<script>
    $('.datetime').datetimepicker({
        language: 'es',
        pickTime: true,
        pickDate: true
    });
</script>
