<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.bp_groups_users.backlist.group_users')).html_safe, bp_groups_users_path(@bp_group_user.bp_group), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_groups.legends.groups') %>
      <span>> <%= t('views.bp_groups_users.flow_process.manage') %> </span>
      <span>> <%= t('views.bp_groups_users.flow_process.edit') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'group_user_form_edit',
               :locals => {:group_user => @bp_group_user} %>

  </div>
</div>