<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.bp_groups.backlist.groups')).html_safe, bp_groups_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_groups.legends.groups') %>
      <span>> <%= t('views.sc_processes.flow_process.new') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'group_form_new',
               :locals => {:group => @bp_group} %>

  </div>
</div>