<%= form_for @elec_characteristic, html: {class: 'form-horizontal'} do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend><%= t('views.elec_characteristics.shared.char_data') %></legend>

        <%= render 'shared/error_messages', object: f.object %>

        <%= f.hidden_field :elec_process_id , :value => @elec_characteristic.elec_process_id %>

        <div class="form-group <%= field_with_errors f, :characteristic_id %>">
          <%= f.label :characteristic_id, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.select :characteristic_id, options_for_select(@characteristics, @elec_characteristic.characteristic_id), {},class: 'form-control select2' %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :used_to_group_by %>">
          <%= f.label :used_to_group_by, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :used_to_group_by} %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :can_be_used_in_reports %>">
          <%= f.label :can_be_used_in_reports, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= render partial: 'shared/bootstrap_si_no_switch', :locals => {:f => f, :field => :can_be_used_in_reports} %>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :can_be_used_in_reports_position %>">
          <%= f.label :can_be_used_in_reports_position, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.number_field :can_be_used_in_reports_position, class: 'form-control' %>
          </div>
        </div>

      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit t('views.elec_characteristics.form.submit_button'), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>

<% end %>
<script type="text/javascript">
  $('.select2').select2();
</script>
