<% editable = defined?(editable) ? editable : nil %>

<%= form_for form, url: url_to_go, method: :post, html: {class: 'form-horizontal all_items_form'} do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="row">
        <div class="col-md-12 col-md-offset-0" id="bp_item_table">

          <div class="row">
            <div class="col-md-12 col-md-offset-0">
              <%= render 'shared/error_messages', object: f.object %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-md-offset-0" align="right">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <%= link_to_add_item(t('views.sc_schedules.flow_process.add'), f) %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-1"><%= t('activerecord.attributes.bp_item.name') %></div>
            <div class="col-md-2"><%= t('activerecord.attributes.bp_item.description') %></div>
            <div class="col-md-1"><%= t('activerecord.attributes.bp_item.item_type') %></div>
            <div class="col-md-1"><%= t('activerecord.attributes.bp_item.mandatory') %></div>
            <div class="col-md-1"><%= t('activerecord.attributes.bp_item.regularizable') %></div>
            <div class="col-md-1"><%= t('activerecord.attributes.bp_item.position') %></div>
            <div class="<%= editable ? 'col-md-4' : 'col-md-5' %>"><%= t('activerecord.attributes.bp_item.bp_item_options') %></div>
            <% if editable %>
              <div class="col-md-1"></div>
            <% end %>
          </div>

          <div class="row">
            <div class="col-md-12" id="items_container">
              <% active_items = form.id ? form.active_items : form.bp_items %>
              <% active_items.each do |item| %>
                <%= f.fields_for :bp_items, item do |f_items| %>
                  <%= render partial: 'item_row_form',
                             locals: {:item => item,
                                      :item_form => f_items,
                                      :just_added => true,
                                      :editable => true, #editable,
                                      :item_types_for_select => BpItem.select_available_data_types} %>
                <% end %>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.submit t('views.bp_events.flow_process.save'), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>


<script>
    <% #  ITEMS %>

    function remove_item(link) {
        $(link).prev('input[type=hidden]').val(1)
        $(link).closest('.form_item').hide();
        $(link).closest('.form_item').prev('.item_row').hide();
    }

    function add_item(link, content){
        var new_id = new Date().getTime();
        var regexp = new RegExp('new_item', 'g')
        $('#items_container').append(content.replace(regexp, new_id))
    }
</script>

<script>
    <% #  ITEM OPTIONS %>
    function remove_item_option(link) {
        $(link).prev('input[type=hidden]').val(1)
        $(link).closest('.form_item_option').hide();
        $(link).closest('.form_item_option').prev('.item_option_row').hide();
    }

    function add_item_option(link, content){
        var new_id = new Date().getTime();
        var regexp = new RegExp('new_option', 'g')
        $(link).closest('.options_td').find('.item_options_container').first().append(content.replace(regexp, new_id))
    }
</script>