<%= form_for option, url: '#', method: :post, html: {class: 'form-horizontal item_option_form', id: 'item_option_form_' + option.id.to_s} do |item_option_form| %>
  <% if option.errors.size > 0 %>
    <tr class="item_option_row_errors_container tr_item_errors_<%= option.id %>">
      <td colspan="7"><%= render 'shared/error_messages', object: option %></td>
    </tr>
  <% end %>

  <tr id="item_option_tr_form_<%= option.id %>" class="item_row_container tr_item_<%= option.id %>">

    <td class="form-group <%= field_with_errors item_option_form, :name %>">
      <%= item_option_form.text_field :name, value: option.name ? option.name : '', class: 'form-control' %>
    </td>

    <td class="form-group <%= field_with_errors item_option_form, :description %>">
      <%= item_option_form.text_field :description, value: option.description ? option.description : '', class: 'form-control' %>
    </td>

    <td class="form-group <%= field_with_errors item_option_form, :position %>">
      <%= item_option_form.number_field :position, value: option.position ? option.position : '', class: 'form-control', min: 0, step: 1 %>
    </td>

    <td class="should_hide"></td>

    <% if defined?(editable) && editable %>
      <td>
        <i class="fa fa-times" aria-hidden="true"></i>
        <%= link_to t('views.bp_events.flow_process.cancel'), '#',
                    onclick: 'get_non_editable_item_option(this)',
                    data: {url: bp_item_option_non_editable_path(option), item_option_form_id: '#item_option_form_' + option.id.to_s} %>
        <br>
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        <%= link_to t('views.bp_events.flow_process.save'), '#',
                    onclick: 'save_item_option(this)',
                    data: {url: bp_item_option_save_path(option), item_option_form_id: '#item_option_form_' + option.id.to_s} %>
        <br>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        <%= link_to t('views.bp_events.flow_process.delete'), '#',
                    onclick: 'delete_item_option(this)',
                    data: {url: bp_item_option_delete_path(option), item_option_form_id: '#item_option_form_' + option.id.to_s} %>
      </td>
    <% end %>
  </tr>
<% end %>

<script>
    $('.bootstrap_checkbox').bootstrapSwitch({
        onColor: 'success',
        onText: "Sí",
        offColor: 'danger',
        size: "small",
        offText: "No"
    });
</script>