<% editable = defined?(editable) ? editable : nil %>
<div class="row form_item">
  <div class="col-md-1">
    <div class="<%= field_with_errors item_form, :name %>">
    <%= item_form.text_field :name, value: item.name ? item.name : '', class: 'form-control' %>
    </div>
  </div>

  <div class="col-md-2">
    <div class="<%= field_with_errors item_form, :description %>">
      <%= item_form.text_field :description, value: item.description ? item.description : '', class: 'form-control' %>
    </div>
  </div>

  <div class="col-md-1">
    <div class="<%= field_with_errors item_form, :item_type %>">
      <%= item_form.select :item_type,
                           options_for_select(BpItem.select_available_data_types, item.item_type),
                           {},
                           class: 'form-control' %>
    </div>
  </div>

  <div class="col-md-1">
    <div class="<%= field_with_errors item_form, :mandatory %>">
      <%= item_form.check_box :mandatory, class: 'bootstrap_checkbox form-control' %>
    </div>
  </div>

  <div class="col-md-1">
    <div class="<%= field_with_errors item_form, :regularizable %>">
      <%= item_form.check_box :regularizable, class: 'bootstrap_checkbox form-control' %>
    </div>
  </div>

  <div class="col-md-1">
    <div class="<%= field_with_errors item_form, :position %>">
      <%= item_form.number_field :position, value: item.position ? item.position : '', class: 'form-control', min: 0, step: 1 %>
    </div>
  </div>

  <div class="<%= editable ? 'col-md-4' : 'col-md-5' %> options_td">
    <div class="<%= field_with_errors item_form, :position %>">
    <div class="row">
      <div class="col-md-12" align="right">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <%= link_to_add_item_option(t('views.sc_schedules.flow_process.add'), item_form) %>
      </div>
    </div>

      <div class="row" id='bp_item_option_table'>
        <div class="col-md-12">

          <div class="row">
            <div class="col-md-3"><%= t('activerecord.attributes.bp_item_option.name') %></div>
            <div class="col-md-3"><%= t('activerecord.attributes.bp_item_option.description') %></div>
            <div class="col-md-3"><%= t('activerecord.attributes.bp_item_option.position') %></div>
            <div class="col-md-3"></div>
          </div>

          <div class="row">
          <div class="col-md-12 item_options_container">
          <% active_options = item.id ? item.active_options : item.bp_item_options %>
          <% active_options.each do |item_option| %>
            <%= item_form.fields_for :bp_item_options, item_option do |f_item_options| %>
              <%= render partial: 'item_option_row_form',
                         locals: {:item_option => item_option,
                                  :item_option_form => f_item_options,
                                  :just_added => true,
                                  :editable => true} %>
            <% end %>
          <% end %>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <% if editable %>
    <div class="col-md-1">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
    <%= link_to_remove_item('Eliminar', item_form) %>
    </div>
  <% end %>

  <hr>
</div>

<script>
    $('.bootstrap_checkbox').bootstrapSwitch({
        onColor: 'success',
        onText: "Sí",
        offColor: 'danger',
        size: "small",
        offText: "No"
    });
</script>

