<div id="item_option_tr_form_<%=option.id%>" class=" row item_option_row_container">
<div class="col-md-3"><%= option.name if option.name %></div>
  <div class="col-md-3"><%= option.description if option.description %></div>
  <div class="col-md-3"><%= option.position if option.position %></div>
  <div class="col-md-3">
    <%= link_to t('views.bp_events.flow_process.edit'), '#',
                 onclick: 'edit_item_option(this)',
                 data: { url: bp_item_option_editable_item_option_path(option), tr_id: '#item_option_tr_form_'+option.id.to_s } %>
  </div>
</div>