<%= form_for item, url: '#', method: :post, html: {class: 'form-horizontal item_form', id: 'item_form_' + item.id.to_s} do |item_form| %>
  <% if item.errors.size > 0 %>
    <div class="row item_row_errors_container tr_item_errors_<%= item.id %>">
      <div class="col-md-12"><%= render 'shared/error_messages', object: item %></div>
    </div>
  <% end %>

  <div id="item_tr_form_<%= item.id %>" class="row item_row_container tr_item_<%= item.id %>">
    <div class="col-md-1">
      <div class="<%= field_with_errors item_form, :name %>">
        <%= item_form.text_field :name, value: item.name ? item.name : '', class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="<%= field_with_errors item_form, :description %>">
        <%= item_form.text_field :description, value: item.description ? item.description : '', class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-1">
      <div class="<%= field_with_errors item_form, :item_type %>">
        <%= item_form.select :item_type,
                             options_for_select(BpItem.select_available_data_types, item.item_type),
                             {},
                             class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-1">
      <div class="<%= field_with_errors item_form, :mandatory %>">
        <%= item_form.check_box :mandatory, class: 'bootstrap_checkbox form-control' %>
      </div>
    </div>

    <div class="col-md-1">
      <div class="<%= field_with_errors item_form, :regularizable %>">
        <%= item_form.check_box :regularizable, class: 'bootstrap_checkbox form-control' %>
      </div>
    </div>

    <div class="col-md-1">
      <div class="<%= field_with_errors item_form, :position %>">
        <%= item_form.number_field :position, value: item.position ? item.position : '', class: 'form-control', min: 0, step: 1 %>
      </div>
    </div>


    <div class="should_hide col-md-4"></div>

    <% if defined?(editable) && editable %>
      <div class="col-md-1">
        <i class="fa fa-times" aria-hidden="true"></i>
        <%= link_to t('views.bp_events.flow_process.cancel'), '#',
                    onclick: 'get_non_editable_item(this)',
                    data: {url: bp_item_non_editable_path(item), item_form_id: '#item_form_' + item.id.to_s} %>
        <br>
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        <%= link_to t('views.bp_events.flow_process.save'), '#',
                    onclick: 'save_item(this)',
                    data: {url: bp_item_save_path(item), item_form_id: '#item_form_' + item.id.to_s} %>
        <br>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        <%= link_to t('views.bp_events.flow_process.delete'), '#',
                    onclick: 'delete_item(this)',
                    data: {url: bp_item_delete_path(item), item_form_id: '#item_form_' + item.id.to_s} %>
      </div>
    <% end %>
  </div>
<% end %>

<script>
    $('.bootstrap_checkbox').bootstrapSwitch({
        onColor: 'success',
        onText: "Sí",
        offColor: 'danger',
        size: "small",
        offText: "No"
    });
</script>

