<div class="row item_row_container" id="item_tr_form_<%= item.id %>">
  <div class="col-md-1"><%= item.name if item.name %></div>
  <div class="col-md-2"><%= item.description if item.description %></div>
  <div class="col-md-1"><%= item.item_type_name if item.item_type %></div>
  <div class="col-md-1"><%= label_yes_not(item.mandatory) %></div>
  <div class="col-md-1"><%= label_yes_not(item.regularizable) %></div>
  <div class="col-md-1"><%= item.position if item.position %></div>
  <div class="col-md-4">
    <% if item.item_list? %>
      <div class="row" id='bp_item_option_table'>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3"><%= t('activerecord.attributes.bp_item_option.name') %></div>
        <div class="col-md-3"><%= t('activerecord.attributes.bp_item_option.description') %></div>
        <div class="col-md-3"><%= t('activerecord.attributes.bp_item_option.position') %></div>
        <div class="col-md-3"></div>
      </div>


      <div class="row">
        <div class="col-md-12 item_options_container">
          <% item.active_options.each do |option| %>
            <%= render partial: 'bp_forms/item_option_row_show',
                       locals: {option: option} %>
          <% end %>
        </div>
      </div>


    </div>
  </div>
    <% end %>
  </div>
  <div class="col-md-1">
    <%= link_to t('views.bp_events.flow_process.edit'), '#',
                onclick: 'edit_item(this)',
                data: {url: bp_item_editable_item_path(item), tr_id: '#item_tr_form_' + item.id.to_s} %>
  </div>


</div>