<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.bp_events.backlist.event_manage')).html_safe,  bp_admin_event_manage_path(@bp_form.bp_event), class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t('views.bp_events.legends.events') %>
      <span>> <%= t('views.bp_events.flow_process.manage') %></span>
      <span>> <%= t('views.bp_events.flow_process.edit_form') %> </span>
    </h1>
  </div>
</div>

<div class="row">
  <div id="event_show_container" class="col-md-6 col-md-offset-3">
    <%= render partial: 'bp_events/bp_event_show',
               locals: {:event => @bp_form.bp_event,
                        :editable => false} %>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= render partial: 'bp_forms/event_form_show',
               locals: {form: @bp_form,
                        event: @bp_form.bp_event,
                        editable: true} %>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= render partial: 'form',
               locals: {:form => @bp_form,
                        :editable => true,
                        url_to_go: bp_form_update_path(@bp_form.bp_event.id)} %>
  </div>
</div>
