<p id="notice"><%= notice %></p>

<p>
  <b>Bp event:</b>
  <%= @bp_form.bp_event %>
</p>

<p>
  <b>Name:</b>
  <%= @bp_form.name %>
</p>

<p>
  <b>Description:</b>
  <%= @bp_form.description %>
</p>

<p>
  <b>Active:</b>
  <%= @bp_form.active %>
</p>

<p>
  <b>Deactivated at:</b>
  <%= @bp_form.deactivated_at %>
</p>

<p>
  <b>Deactivated by admin:</b>
  <%= @bp_form.deactivated_by_admin_id %>
</p>

<p>
  <b>Registered at:</b>
  <%= @bp_form.registered_at %>
</p>

<p>
  <b>Registered by admin:</b>
  <%= @bp_form.registered_by_admin_id %>
</p>


<%= link_to 'Edit', edit_bp_form_path(@bp_form) %> |
<%= link_to 'Back', bp_forms_path %>
