
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Lista de programas</legend>

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th colspan="2">
              <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_training_program_path %>
            </th>
          </tr>

          </thead>

          <tbody>

          <% @training_programs.each_with_index do |training_program, index| %>
            <tr>
              <td>
                <%= index+1 %>
              </td>
              <td><%= training_program.nombre %></td>

              <td><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_training_program_path(training_program) %></td>
              <td>
                <% if training_program.dncs.count == 0 && training_program.dncps.count == 0 %>
                  <%= link_to '<i class="fa fa-times"></i>'.html_safe, delete_training_program_path(training_program) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>

      </div>

    </div>

  </div>
</div>

