<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de programas'.html_safe, training_programs_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">

      Programas
      <span>> Crear un nuevo programa </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'form' %>

  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-striped table-hover table-bordered">

          <thead>

          <tr>
            <th>#</th>
            <th>Programa</th>
          </tr>

          </thead>

          <tbody>

          <% @training_programs.each_with_index do |training_program, index| %>
            <tr>
              <td>
                <%= index+1 %>
              </td>
              <td><%= training_program.nombre %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>