
<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de ejecuciones'.html_safe, tp2_list_program_instances_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-calendar"></i>
      Planificar ejecución
      <span>> Configurar ejecución </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-12">


        <div class="row">
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-body">
                <ul class="nav nav-pills tabs-left">

                  <li class="active"><a href="#tab_program_instance" data-toggle="tab"><%= @program_instance.name %></a></li>
                  <br><br>
                  <hr>
                  <% level = @program_instance.program.levels.first %>

                  <% level.courses_actives_ordered_by_name.each do |course| %>

                    <% pc = course.program_courses.where('level_id = ? AND program_id = ?', level.id, @program_instance.program.id).first %>

                    <% if @program_instance.program_course_instances.where('program_course_id = ?', pc.id).count == 1 %>

                      <li>
                        <a href="#tab_course_cursos_<%= course.id %>" data-toggle="tab"><%= course.nombre %></a>
                      </li>

                    <% end %>

                  <% end %>

                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-9">

                <div class="tab-content">
                  <div class="tab-pane active" id="tab_program_instance">

                    <div class="row">
                      <div class="col-md-12">

                        <div class="panel panel-default">
                          <div class="panel-body">

                            <legend>Datos de la ejecución del programa</legend>

                            <div class="row">
                              <div class="col-md-3 text-right">
                                <strong>Programa</strong>
                              </div>
                              <div class="col-md-9">
                                <%= @program_instance.program.codigo %> - <%= @program_instance.program.nombre %>
                              </div>
                            </div>
                            <br>

                            <div class="row">
                              <div class="col-md-3 text-right">
                                <strong>Nombre</strong>
                              </div>
                              <div class="col-md-9">
                                <%= @program_instance.name %>
                              </div>
                            </div>
                            <br>

                            <div class="row">
                              <div class="col-md-3 text-right">
                                <strong>Desde</strong>
                              </div>
                              <div class="col-md-9">
                                <%= localize @program_instance.from_date, format: :day_snmonth_year %>
                              </div>
                            </div>
                            <br>

                            <div class="row">
                              <div class="col-md-3 text-right">
                                <strong>Hasta</strong>
                              </div>
                              <div class="col-md-9">
                                <%= localize @program_instance.to_date, format: :day_snmonth_year %>
                              </div>
                            </div>

                            <br>

                            <div class="row">
                              <div class="col-md-3 text-right">
                                <strong>Cliente</strong>
                              </div>
                              <div class="col-md-9">
                                <%= @program_instance.sk_client %>
                              </div>
                            </div>

                            <br>

                            <div class="row">
                              <div class="col-md-3 text-right">
                                <strong>RUT Cliente</strong>
                              </div>
                              <div class="col-md-9">
                                <%= @program_instance.sk_rut_client %>
                              </div>
                            </div>

                            <br>

                            <div class="row">
                              <div class="col-md-3 text-right">
                                <strong>Cursos necesarios para aprobar el programa</strong>
                              </div>
                              <div class="col-md-9">
                                <%= @program_instance.num_passed_courses %>
                              </div>
                            </div>

                            <br>

                            <div class="row">
                              <div class="col-md-3 text-right">
                                <strong>Encuesta de Satisfacción</strong>
                              </div>
                              <div class="col-md-9">
                                <% if @program_instance.master_poll_id %>
                                  <%= @program_instance.master_poll.nombre %>
                                <% else %>
                                  No asignada
                                <% end %>
                              </div>
                            </div>

                          </div>

                          <div class="panel-footer clearfix">
                            <div class="pull-right">
                              <%= link_to 'Editar', tp2_edit_program_instance_path(@program_instance) %>
                            </div>
                          </div>

                        </div>

                      </div>

                    </div>

                  </div>

                  <% level.courses_actives_ordered_by_name.each do |course| %>

                    <% pc = course.program_courses.where('level_id = ? AND program_id = ?', level.id, @program_instance.program.id).first %>

                    <% pci = @program_instance.program_course_instances.where('program_course_id = ?', pc.id).first %>

                    <% if pci %>

                      <div class="tab-pane" id="tab_course_cursos_<%= course.id %>">

                      <div class="row">
                      <div class="col-md-12">

                      <div class="panel panel-default">
                      <div class="panel-body">

                      <legend>Datos de la ejecución del curso</legend>

                      <div class="row">
                        <div class="col-md-3 text-right">
                          <strong>Curso</strong>
                        </div>
                        <div class="col-md-9">
                          <%= course.nombre %>
                        </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class="col-md-3 text-right">
                          <strong>Nombre corto (interno)</strong>
                        </div>
                        <div class="col-md-9">
                          <%= course.nombre_corto %>
                        </div>
                      </div>


                      <% if @company.modulo_sence %>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Código Sence</strong>
                          </div>
                          <div class="col-md-9">
                            <%= course.sence_code %>
                          </div>
                        </div>
                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Nombre Sence</strong>
                          </div>
                          <div class="col-md-9">
                            <%= course.sence_name %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>SENCENET</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.sencenet if pci  %>
                          </div>
                        </div>

                      <% end %>

                      <br>

                      <div class="row">
                        <div class="col-md-3 text-right">
                          <strong>Desde</strong>
                        </div>
                        <div class="col-md-9">

                          <% from_date = pci ? pci.from_date : @program_instance.from_date %>
                          <%= localize from_date, format: :day_snmonth_year %>

                        </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class="col-md-3 text-right">
                          <strong>Hasta</strong>
                        </div>
                        <div class="col-md-9">
                          <% to_date = pci ? pci.to_date : @program_instance.to_date %>
                          <%= localize to_date, format: :day_snmonth_year %>
                        </div>
                      </div>

                      <br>

                      <div class="row">
                        <div class="col-md-3 text-right">
                          <strong>Nota mínima</strong>
                        </div>
                        <div class="col-md-9">

                          <%= pci.minimum_grade.to_i if pci %><%= '%' if course.percentage_minimum_grade %>
                        </div>
                      </div>

                      <br>

                      <div class="row">
                        <div class="col-md-3 text-right">
                          <strong>Asistencia mínima</strong>
                        </div>
                        <div class="col-md-9">
                          <%= pci.minimum_assistance if pci %>%
                        </div>
                      </div>

                      <% if @company.modulo_sence %>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Número de horas</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.sence_hours.to_i if pci %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Valor hora SENCE</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.sence_hour_value.to_i if pci %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Valor participante SENCE</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.sence_student_value.to_i if pci %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Valor Hora Venta</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.sale_hour_value.to_i if pci %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Número mínimo de participantes</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.sence_minimum_students_number if pci %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Número máximo de participantes</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.sence_maximum_students_number if pci %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Tipo de capacitación</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.sence_training_type if pci %>
                          </div>
                        </div>


                        <hr>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Obra</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.obra if pci %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Región</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.sence_region if pci %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Ciudad</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.city if pci %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Lugar</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.place if pci %>
                          </div>
                        </div>

                        <hr>


                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Nombre OTEC</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.sence_otec_name if pci %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Dirección OTEC</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.sence_otec_address if pci %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Teléfono OTEC</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.sence_otec_telephone if pci %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Comité bipartito</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.sence_cbipartito if pci %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>DNC</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.sence_dnc if pci %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Comentario</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.sence_comment if pci %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Horario</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.sence_schedule if pci %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Orden de Compra</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.purchase_order_number if pci %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Financiamiento</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.sk_financing if pci %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Certificación Externa</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.sk_external_certification ? 'SÍ' : 'NO' if pci %>
                          </div>
                        </div>

                        <br>

                        <div class="row">
                          <div class="col-md-3 text-right">
                            <strong>Proyecto (Clasificación interna)</strong>
                          </div>
                          <div class="col-md-9">
                            <%= pci.proyecto_ci %>
                          </div>
                        </div>

                      <% end %>

                      </div>

                      <div class="panel-footer clearfix">
                        <div class="pull-right">
                          <%= link_to 'Editar', tp2_edit_program_course_instance_path(pci) %>
                        </div>
                      </div>

                      </div>

                      </div>
                      </div>


                      </div>

                    <% end %>

                  <% end %>

                </div>
          </div>
        </div>

  </div>
</div>
