<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de ejecuciones'.html_safe, tp2_list_program_instances_to_enroll_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      Inscribir
      <span>> Buscar participantes para inscribir </span>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos de la ejecución</legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Programa</strong>
          </div>
          <div class="col-md-9">
            <%= @program_instance.program.codigo %> - <%= @program_instance.program.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @program_instance.name %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Desde</strong>
          </div>
          <div class="col-md-9">
            <%= localize @program_instance.from_date, format: :day_snmonth_year %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Hasta</strong>
          </div>
          <div class="col-md-9">
            <%= localize @program_instance.to_date, format: :day_snmonth_year %>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="row">

  <div class="col-md-12">

    <%= form_for @user, url: tp2_enroll_from_search_2_path(@program_instance), method: :post do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Buscar participantes</legend>

          <div class="row">

            <div class="col-md-3">
              <label>&nbsp;&nbsp;<%= alias_username %></label>
              <%= f.text_field :codigo, placeholder: alias_username, autofocus: 'autofocus', class: 'form-control' %>

            </div>

            <div class="col-md-3">
              <label>&nbsp;&nbsp;Apellidos</label>
              <%= f.text_field :apellidos, placeholder: 'Apellidos', class: 'form-control' %>

            </div>

            <div class="col-md-3">
              <label>&nbsp;&nbsp;Nombre</label>
              <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control' %>

            </div>

            <div class="col-md-3">
              <label>&nbsp;</label><br>
              <%= f.submit 'Buscar', class: 'btn btn-primary' %>

            </div>

          </div>

          <hr>
          <div class="row">

            <% @characteristics.each_with_index do |characteristic,index| %>


              <div class="col-md-3">

                <%= characteristic.nombre %>
                <br>
                <% valores = UserCharacteristic.select(:valor).uniq.where('characteristic_id = ? AND valor <> "" ',characteristic.id).order('valor').map(&:valor) %>

                <%= select('characteristic', characteristic.id, options_for_select(valores,@characteristics_prev[characteristic.id]),
                           {:include_blank => '--Sin Filtro--'}, {class: 'form-control'})
                %>

              </div>

              <% if (index+1)%4 == 0 %>
                </div>
                <div class="row">

              <% end %>

            <% end %>



            </div>


            </div>


        </div>
      </div>

    <% end %>

  </div>

</div>


<% if @users.length > 0 %>


  <div class="row">

    <div class="col-md-12">

      <%= form_for Enrollment.new, url: tp2_enroll_from_search_3_path(@program_instance), html: {class: 'form-horizontal', method: :post} do |f| %>


        <div class="panel panel-default">
          <div class="panel-body">

            <div class="row">
              <div class="col-md-12">
                <strong>
                  1. Seleccionar participantes a inscribir
                </strong>
              </div>
            </div>
            <br>


            <script type="text/javascript">
              function marcar_todos(){

                $('.check_user').each(function(){

                  if($('#check_user').is(':checked')){
                    $(this).prop('checked', true);
                  }else{
                    $(this).prop('checked', false);
                  }

                });

              }

              function marcar_padre(){

                var checked_all = true;

                $('.check_user').each(function(){
                  if(!$(this).is(':checked')){
                    checked_all = false;
                  }
                });
                if(checked_all){
                  $('#check_user').prop('checked', true);
                }else{
                  $('#check_user').prop('checked', false);
                }


              }

            </script>

            <table class="table table-striped table-hover table-bordered">

              <thead>
              <tr>
                <th><input id="check_user" type="checkbox" checked="checked" onchange="marcar_todos();"> </th>
                <th>#</th>
                <th><%= alias_username %></th>
                <th>Apellidos</th>
                <th>Nombre</th>
              </tr>
              </thead>

              <tbody>

              <% @users.each_with_index do |user, index| %>

                <tr>
                  <td><%= check_box('user_id', user.id, {class: 'check_user', checked: 'checked', onchange: 'marcar_padre()'}, user.id.to_s, '0')%></td>

                  <td><%= index+1 %></td>

                  <td><%= user.codigo %></td>
                  <td><%= user.apellidos %></td>
                  <td><%= user.nombre %></td>
                </tr>

              <% end %>

              </tbody>

            </table>

            <div class="row">
              <div class="col-md-12">
                <strong>
                  2. Ingresar datos de los participantes
                </strong>
              </div>
            </div>
            <br>

            <% UcCharacteristic.all.each_with_index do |characteristic, index_ucc| %>

              <div class="row">
                <div class="col-md-3 text-right">
                  <%= characteristic.name %>
                </div>
                <div class="col-md-6">
                  <input type="text" name="uc_char_<%= characteristic.id %>" class="form-control">
                </div>
              </div>
              <br>

            <% end %>

            <div class="row">
              <div class="col-md-12">
                <strong>
                  3. Seleccionar cursos a inscribir
                </strong>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-md-3 text-right">
                Programa
              </div>
              <div class="col-md-9">
                <%= @program_instance.program.codigo %> - <%= @program_instance.program.nombre %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3 text-right">
                ejecución
              </div>
              <div class="col-md-9">
                <%= @program_instance.name %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3 text-right">
                Cursos
              </div>
              <div class="col-md-9">
                <% level = @program_instance.program.levels.first %>

                <% level.courses_ordered_by_estado.each_with_index do |course,index| %>

                  <% pc = course.program_courses.where('level_id = ? AND program_id = ?', level.id, @program_instance.program.id).first %>

                  <% pci = @program_instance.program_course_instances.where('program_course_id = ?', pc.id).first %>

                  <% if pci %>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="pci_<%= pci.id %>" value="1" checked> <%= course.codigo %> - <%= course.nombre %>
                          </label>
                        </div>

                      </div>
                    </div>

                  <% end %>

                <% end %>

              </div>

            </div>

          </div>

          <div class="panel-footer clearfix">
            <div class="pull-right">
              <%= f.submit 'Inscribir', class: 'btn btn-primary' %>
            </div>
          </div>

        </div>


      <% end %>

    </div>

  </div>

<% else %>
<!--
  <div class="row">

    <div class="col-md-12">

        <div class="panel panel-default">
          <div class="panel-body">
            <legend>No se encontraron resultados.</legend>
          </div>
        </div>
    </div>
  </div>
-->
<% end %>