<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de ejecuciones'.html_safe, tp2_list_program_instances_to_modify_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-times"></i>
      Anular registros de inscripción
      <span>> Seleccionar participantes </span>
    </h1>
  </div>
</div>



<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos de la ejecución</legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Programa</strong>
          </div>
          <div class="col-md-9">
            <%= @program_instance.program.codigo %> - <%= @program_instance.program.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @program_instance.name %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Desde</strong>
          </div>
          <div class="col-md-9">
            <%= localize @program_instance.from_date, format: :day_snmonth_year %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Hasta</strong>
          </div>
          <div class="col-md-9">
            <%= localize @program_instance.to_date, format: :day_snmonth_year %>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <%= form_for tp2_unenroll_path(@program_instance), html: {class: 'form-horizontal', multipart: true, method: :post} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Anular registros de inscripción</legend>

          <div class="row">
            <div class="col-md-12">
              <strong>
                1. Seleccione los participantes a los que desea anular su matrícula en un programa completo o en algún curso
              </strong>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-12">

              <% level = @program_instance.program.levels.first %>

              <script type="text/javascript">
                function mark_enrollment_row(c, e_id) {

                  if($(c).is(':checked')){
                    $('#fila_enrollment_'+e_id).addClass('danger');
                  }else{
                    $('#fila_enrollment_'+e_id).removeClass('danger');
                  }

                }

                function mark_unroll_p_c() {

                  if($('#unroll_p').is(':checked')){

                    $('#fila_p').addClass('danger');
                    $('#fila_c').removeClass('danger');

                    $('.fila_c').each(function(){

                      $(this).removeClass('danger');

                    });

                    $('.fila_c_c').each(function(){

                      $(this).prop('checked', false);

                    });




                  }else if($('#unroll_c').is(':checked')) {

                    $('#fila_c').addClass('danger');
                    $('#fila_p').removeClass('danger');

                  }

                }

                function mark_unroll_c(c, c_id) {

                  if($(c).is(':checked')){
                    $('#fila_c_'+c_id).addClass('danger');
                  }else{
                    $('#fila_c_'+c_id).removeClass('danger');
                  }

                }

              </script>

              <table class="table table-bordered">
                <thead>
                <th></th>
                <th>#</th>
                <th>Apellidos, Nombre</th>
                <th>Resultados</th>
                </thead>
                <tbody>

                <% @program_instance.enrollments.each_with_index do |enrollment, index| %>

                  <tr id="fila_enrollment_<%= enrollment.id %>">
                    <td>
                      <input type="checkbox" name="enrollment_<%= enrollment.id %>" value="1" onclick="mark_enrollment_row(this, <%= enrollment.id %>)">
                    </td>
                    <td><%= index+1 %></td>
                    <td><%= enrollment.user.apellidos %>, <%= enrollment.user.nombre %></td>
                    <td>
                      <table class="table table-condensed table-bordered">
                        <thead>
                          <tr>
                            <th>Curso</th>
                            <th>Nota</th>
                            <th>Asistencia</th>
                            <th>Estado</th>
                          </tr>
                        </thead>
                        <% level.courses_actives_ordered_by_name.each do |course| %>

                          <% pc = course.program_courses.where('level_id = ? AND program_id = ?', level.id, @program_instance.program.id).first %>

                          <% pci = @program_instance.program_course_instances.where('program_course_id = ?', pc.id).first %>

                          <% uc = pci.user_courses.where('enrollment_id = ?', enrollment.id).first %>

                          <% if uc %>

                            <tr>
                              <td><%= course.nombre %></td>
                              <td>
                                <% if uc.finalizado %>
                                  <%= uc.nota %><%= '%' if course.percentage_minimum_grade %>
                                <% end %>
                              </td>
                              <td>
                                <% if uc.finalizado %>
                                  <%= uc.porcentaje_avance %>%
                                <% end %>
                              </td>
                              <td>
                                <% if uc.finalizado %>

                                  <% if uc.aprobado %>

                                    <% if uc.nota %>
                                      <span class="label label-success">Aprobado</span>
                                    <% else %>
                                      <span class="label label-success">Cursado</span>
                                    <% end %>

                                  <% else %>

                                    <span class="label label-danger">Reprobado</span>

                                  <% end %>

                                <% end %>
                              </td>
                            </tr>

                          <% end %>

                        <% end %>
                      </table>

                    </td>

                  </tr>

                <% end %>

                </tbody>
              </table>


            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-md-12">
              <strong>
                2. Seleccione el programa o los cursos que desea anular de la matrícula de los participantes seleccionados
              </strong>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-12">

              <table class="table table-condensed table-bordered">

                <tr id="fila_p">
                  <td>
                    <input type="radio" name="unroll_p_c" id="unroll_p" value="p" onclick="mark_unroll_p_c()">
                  </td>
                  <td><strong>Programa</strong></td>
                  <td><%= @program_instance.name %> (<%= @program_instance.program.codigo %> - <%= @program_instance.program.nombre %>)</td>
                </tr>

                <tr id="fila_c">
                  <td>
                    <input type="radio" name="unroll_p_c" id="unroll_c" value="c" onclick="mark_unroll_p_c()">
                  </td>
                  <td><strong>Cursos</strong></td>
                  <td>

                    <table class="table table-condensed table-bordered">

                      <% level = @program_instance.program.levels.first %>

                      <% level.courses_ordered_by_estado.each_with_index do |course,index| %>

                        <% pc = course.program_courses.where('level_id = ? AND program_id = ?', level.id, @program_instance.program.id).first %>

                        <% pci = @program_instance.program_course_instances.where('program_course_id = ?', pc.id).first %>

                        <tr id="fila_c_<%= pci.id %>" class="fila_c">
                          <td width="5%">

                                <input class="fila_c_c" type="checkbox" name="pci_<%= pci.id %>" value="1" onclick="mark_unroll_c(this,<%= pci.id %>)">

                          </td>
                          <td>
                            <%= course.codigo %> - <%= course.nombre %>
                          </td>
                        </tr>



                      <% end %>

                    </table>

                  </td>
                </tr>

              </table>

            </div>

          </div>

          <div class="row">
            <div class="col-md-12">

              <div class="alert alert-warning">
                Al anular una matrícula, la información registrada, tanto de notas como de asistencia, será eliminada y no se podrá recuperar.
              </div>

            </div>
          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Anular', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>


  </div>
</div>

