<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de ejecuciones'.html_safe, tp2_list_program_instances_to_enroll_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      Inscribir
      <span>> Lista detallada de participantes inscritos </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos de la ejecución</legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Programa</strong>
          </div>
          <div class="col-md-9">
            <%= @program_instance.program.codigo %> - <%= @program_instance.program.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @program_instance.name %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Desde</strong>
          </div>
          <div class="col-md-9">
            <%= localize @program_instance.from_date, format: :day_snmonth_year %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Hasta</strong>
          </div>
          <div class="col-md-9">
            <%= localize @program_instance.to_date, format: :day_snmonth_year %>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>


<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Lista de participantes</legend>

        <table class="table table-bordered">

          <thead>
            <tr>
              <th>#</th>
              <th>Apellidos, Nombre</th>
              <th>Curso</th>
              <% UcCharacteristic.all.each_with_index do |characteristic, index_ucc| %>
                <th><%= characteristic.name %></th>
              <% end %>

            </tr>
          </thead>

          <tbody>

            <% index = 0 %>

            <% level = @program_instance.program.levels.first %>

            <% level.courses_actives_ordered_by_name.each do |course| %>

              <% pc = course.program_courses.where('level_id = ? AND program_id = ?', level.id, @program_instance.program.id).first %>

              <% pci = @program_instance.program_course_instances.where('program_course_id = ?', pc.id).first %>

              <% if pci %>

                <% pci.user_courses.each do |user_course| %>

                  <tr>

                    <td><%= index += 1 %></td>
                    <td><%= user_course.enrollment.user.apellidos %>, <%= user_course.enrollment.user.nombre %></td>
                    <td><%= course.nombre %></td>
                    <% UcCharacteristic.all.each do |characteristic| %>
                      <td>
                        <% uc_uc_char = user_course.user_course_uc_characteristics.where('uc_characteristic_id = ?',characteristic.id).first %>
                        <%= uc_uc_char.value if uc_uc_char %>
                      </td>
                    <% end %>
                  </tr>

                <% end %>


              <% end %>

            <% end %>

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

