<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de ejecuciones'.html_safe, tp2_list_program_instances_to_enroll_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-book"></i>
      Inscribir
      <span>> Lista de participantes inscritos </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Datos de la ejecución</legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Programa</strong>
          </div>
          <div class="col-md-9">
            <%= @program_instance.program.codigo %> - <%= @program_instance.program.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @program_instance.name %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Desde</strong>
          </div>
          <div class="col-md-9">
            <%= localize @program_instance.from_date, format: :day_snmonth_year %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Hasta</strong>
          </div>
          <div class="col-md-9">
            <%= localize @program_instance.to_date, format: :day_snmonth_year %>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Lista de participantes</legend>

        <% level = @program_instance.program.levels.first %>



        <table class="table table-bordered">

          <thead>
            <tr>
              <th>#</th>
              <th>Apellidos, Nombre</th>

              <% total_mat = Array.new %>

              <% level.courses_actives_ordered_by_name.each_with_index do |course, index| %>

                <% pc = course.program_courses.where('level_id = ? AND program_id = ?', level.id, @program_instance.program.id).first %>

                <% pci = @program_instance.program_course_instances.where('program_course_id = ?', pc.id).first %>

                <% if pci %>

                  <% total_mat[index] = 0 %>

                  <th><%= course.nombre %></th>

                <% end %>

              <% end %>

            </tr>
          </thead>

          <tbody>

            <% @program_instance.enrollments.each_with_index do |enrollment, index| %>

              <tr>
                <td><%= index+1 %></td>
                <td><%= enrollment.user.apellidos%>, <%= enrollment.user.nombre %></td>

                <% level.courses_actives_ordered_by_name.each_with_index do |course, index| %>

                  <% pc = course.program_courses.where('level_id = ? AND program_id = ?', level.id, @program_instance.program.id).first %>

                  <% pci = @program_instance.program_course_instances.where('program_course_id = ?', pc.id).first %>

                  <% if pci %>

                    <% if pci.user_courses.where('enrollment_id = ?', enrollment.id).count == 0 %>

                      <td class="danger"></td>

                    <% else %>

                      <% total_mat[index] += 1 %>

                      <td></td>

                    <% end %>

                  <% end %>

                <% end %>

              </tr>

            <% end %>

            <tr>
              <td colspan="2" class="text-right">
                <strong>Total</strong>
              </td>
              <% level.courses_actives_ordered_by_name.each_with_index do |course, index| %>

                <% pc = course.program_courses.where('level_id = ? AND program_id = ?', level.id, @program_instance.program.id).first %>

                <% pci = @program_instance.program_course_instances.where('program_course_id = ?', pc.id).first %>

                <% if pci %>

                  <td>

                    <%= total_mat[index] %>

                  </td>

                <% end %>

              <% end %>

            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

