<div class="row">
  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de ejecuciones'.html_safe, tp2_list_instances_to_reopen_path, class: 'btn btn-default', tabindex: '-1' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-calendar"></i>
      Abrir ejecuciones finalizadas
      <span>> Abrir ejecución </span>
    </h1>
  </div>
</div>



<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @program_instance, url: tp2_reopen_instance_path(@program_instance), html: {method: 'post', class: 'form-horizontal'} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Datos de la ejecución</legend>

          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Programa</strong>
            </div>
            <div class="col-md-9">
              <%= @program_instance.program.codigo %> - <%= @program_instance.program.nombre %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Nombre</strong>
            </div>
            <div class="col-md-9">
              <%= @program_instance.name %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Desde</strong>
            </div>
            <div class="col-md-9">
              <%= localize @program_instance.from_date, format: :day_snmonth_year %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Hasta</strong>
            </div>
            <div class="col-md-9">
              <%= localize @program_instance.to_date, format: :day_snmonth_year %>
            </div>
          </div>

        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Abrir', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>

  </div>
</div>


<div class="row">
<div class="col-md-12">

<div class="panel panel-default">
<div class="panel-body">

  <ul class="nav nav-tabs">

    <% level = @program_instance.program.levels.first %>

    <% level.courses_actives_ordered_by_name.each_with_index do |course, index| %>

      <li class="<%= 'active' if index == 0 %>"><a href="#tab_course_cursos_<%= course.id %>" data-toggle="tab"><%= course.nombre %></a></li>

    <% end %>

  </ul>

  <br>

  <div class="tab-content">

    <% level.courses_actives_ordered_by_name.each_with_index do |course, index| %>

      <% pc = course.program_courses.where('level_id = ? AND program_id = ?', level.id, @program_instance.program.id).first %>

      <% pci = @program_instance.program_course_instances.where('program_course_id = ?', pc.id).first %>

      <div class="tab-pane <%= 'active' if index == 0 %>" id="tab_course_cursos_<%= course.id %>">

        <div class="row">
          <div class="col-md-6 col-md-offset-3">

            <div class="panel panel-default">
              <div class="panel-body">

                <legend>Datos de la ejecución del curso</legend>

                <div class="row">
                  <div class="col-md-3 text-right">
                    <strong>Curso</strong>
                  </div>
                  <div class="col-md-9">
                    <%= course.nombre %>
                  </div>
                </div>
                <br>

                <div class="row">
                  <div class="col-md-3 text-right">
                    <strong>Nombre corto (interno)</strong>
                  </div>
                  <div class="col-md-9">
                    <%= course.nombre_corto %>
                  </div>
                </div>

                <% if @company.modulo_sence %>

                  <br>

                  <div class="row">
                    <div class="col-md-3 text-right">
                      <strong>Código Sence</strong>
                    </div>
                    <div class="col-md-9">
                      <%= course.sence_code %>
                    </div>
                  </div>
                  <br>

                  <div class="row">
                    <div class="col-md-3 text-right">
                      <strong>Nombre Sence</strong>
                    </div>
                    <div class="col-md-9">
                      <%= course.sence_name %>
                    </div>
                  </div>

                <% end %>

                <br>

                <div class="row">
                  <div class="col-md-3 text-right">
                    <strong>Desde</strong>
                  </div>
                  <div class="col-md-9">

                    <% from_date = pci ? pci.from_date : @program_instance.from_date %>
                    <%= localize from_date, format: :day_snmonth_year %>

                  </div>
                </div>
                <br>

                <div class="row">
                  <div class="col-md-3 text-right">
                    <strong>Hasta</strong>
                  </div>
                  <div class="col-md-9">
                    <% to_date = pci ? pci.to_date : @program_instance.to_date %>
                    <%= localize to_date, format: :day_snmonth_year %>
                  </div>
                </div>

                <br>

                <div class="row">
                  <div class="col-md-3 text-right">
                    <strong>Nota mínima</strong>
                  </div>
                  <div class="col-md-9">

                    <%= pci.minimum_grade.to_i if pci %><%= '%' if course.percentage_minimum_grade %>
                  </div>
                </div>

                <br>

                <div class="row">
                  <div class="col-md-3 text-right">
                    <strong>Asistencia mínima</strong>
                  </div>
                  <div class="col-md-9">
                    <%= pci.minimum_assistance if pci %>%
                  </div>
                </div>

                <hr>

                <div class="row">
                  <div class="col-md-12">


                    <table class="table table-bordered">
                      <thead>
                      <th>#</th>
                      <th>Apellidos, Nombre</th>
                      <th>Nota</th>
                      <th>Asistencia</th>
                      <th>Estado</th>
                      </thead>
                      <tbody>

                      <% pci.user_courses.each_with_index do |uc, index| %>

                        <tr>
                          <td><%= index+1 %></td>
                          <td><%= uc.user.apellidos %>, <%= uc.user.nombre %></td>
                          <td>
                            <% if uc.finalizado %>
                              <%= uc.nota %><%= '%' if course.percentage_minimum_grade %>
                            <% end %>
                          </td>
                          <td>
                            <% if uc.finalizado %>
                              <%= uc.porcentaje_avance %>%
                            <% end %>
                          </td>
                          <td>
                            <% if uc.finalizado %>

                              <% if uc.aprobado %>

                                <% if uc.nota %>
                                  <span class="label label-success">Aprobado</span>
                                <% else %>
                                  <span class="label label-success">Cursado</span>
                                <% end %>

                              <% else %>

                                <span class="label label-danger">Reprobado</span>

                              <% end %>

                            <% end %>
                          </td>
                        </tr>

                      <% end %>

                      </tbody>
                    </table>


                  </div>
                </div>

              </div>



            </div>

          </div>
        </div>


      </div>

    <% end %>

  </div>

</div>

</div>

</div>
</div>
