<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>Ticket de soporte</legend>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Número</strong>
          </div>
          <div class="col-md-9">
            <%= @support_ticket.id %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Fecha de registro</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @support_ticket.fecha_registro.in_time_zone(user_connected_time_zone), format: :full_date_time) %>
            <br>
            <em><%= user_connected_time_zone %></em>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Código de alumno</strong>
          </div>
          <div class="col-md-9">
            <%= @support_ticket.user.codigo %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Apellidos y nombre</strong>
          </div>
          <div class="col-md-9">
            <%= @support_ticket.user.apellidos %>, <%= @support_ticket.user.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Email</strong>
          </div>
          <div class="col-md-9">
            <%= @support_ticket.user.email %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Tipo</strong>
          </div>
          <div class="col-md-9">
            <%= @support_ticket.support_ticket_type.nombre %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Asunto</strong>
          </div>
          <div class="col-md-9">
            <%= @support_ticket.asunto %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @support_ticket.descripcion %>
          </div>
        </div>

        <% if @support_ticket.curso %>
          <br>
          <div class="row">
            <div class="col-md-3 text-right">
              <strong>Curso</strong>
            </div>
            <div class="col-md-9">
              <%= @support_ticket.curso %>
            </div>
          </div>

        <% end %>

        <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col-md-9">
            <%= render partial: 'support_tickets/user_profile',
                       locals: {
                           user: @support_ticket.user
                       }
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @support_ticket, html: {class: 'form-horizontal'} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Modificar ticket</legend>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group">

            <label class="col-md-3 control-label">Alumno</label>

            <% usuarios_array = User.all.map { |user| [user.codigo+' - '+user.apellidos+', '+user.nombre, user.id] } %>

            <div class="col-md-9">

              <%= f.select(:user_id, options_for_select(usuarios_array,@support_ticket.user_id), {}, {class: 'form-control'}) %>

            </div>

            <script>

              $("#support_ticket_user_id").select2();

            </script>

          </div>

          <div class="form-group">

            <label class="col-md-3 control-label">Tipo</label>

            <div class="col-md-9">

              <% support_ticket_types_array = SupportTicketType.all.map { |support_ticket_type| [support_ticket_type.nombre, support_ticket_type.id] } %>
              <%= f.select(:support_ticket_type_id, options_for_select(support_ticket_types_array), {}, {class: 'form-control'}) %>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :asunto %>">


            <label class="col-md-3 control-label">Asunto</label>

            <div class="col-md-9">
              <%= f.text_field :asunto, class: 'form-control'%>
            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :descripcion %>">

            <label class="col-md-3 control-label">Descripción</label>

            <div class="col-md-9">
              <%= f.text_area :descripcion, class: 'form-control', rows: 5 %>
            </div>

          </div>

          <div class="form-group">

            <label class="col-md-3 control-label">Curso</label>

            <% cursos = Course.select(:nombre).map(&:nombre).uniq %>

            <div class="col-md-9">

              <%= f.text_field :curso, ('data-source'.to_sym)=>cursos.to_s, ('data-provide'.to_sym)=>'typeahead', class: 'form-control' %> (opcional)
              <br>
              <i>Si es el caso por favor indicar el nombre del curso en cuestión.</i>

            </div>

          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Atendido</label>

            <div class="col-md-9">

              <%= f.check_box :atendido, class: 'form-control' %>
              <script>
                $('#support_ticket_atendido').bootstrapSwitch({
                  onColor: 'success',
                  onText: "Sí",
                  offColor: 'danger',
                  offText: "No"
                });
              </script>

            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :respuesta %>">

            <label class="col-md-3 control-label">Respuesta</label>

            <div class="col-md-9">

              <%= f.text_area :respuesta, class: 'form-control', rows: 5 %>

            </div>

          </div>
          <hr>
          <div class="form-group">
            <label class="col-md-3 control-label">Enviar correo al alumno</label>

            <div class="col-md-9">

              <% if @support_ticket.user.email %>

                  <%= f.check_box :envio_email %>
                  <script>
                    $('#support_ticket_envio_email').bootstrapSwitch({
                      onColor: 'success',
                      onText: "Sí",
                      offColor: 'danger',
                      offText: "No"
                    });
                  </script>

                <br>
                <br>
                Estimado Usuario(a):
                <br><br>
                Le comunicamos que su ticket con asunto "XXXX" ha sido atendido por nuestra Mesa de Ayuda.
                Le pedimos ingresar a la plataforma para revisar la respuesta.

              <% else %>

                El usuario no tiene un correo electrónico registrado.

              <% end %>

            </div>

          </div>

        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>

      </div>

    <% end %>

  </div>
</div>