<h1 class="page-title txt-color-blueDark">
  <i class="fa fa-book"></i>
  Mesa de ayuda
  <span>> Tickets atendidos </span>
</h1>


<div class="text-right">
  <%= link_to '<i class="fa fa-plus"></i> Crear un nuevo ticket de soporte'.html_safe, new_support_ticket_path %>
</div>

<div class="panel panel-default">
  <div class="panel-body">


    <%= form_tag support_tickets_xls_report_path(format: 'xls'), html: {class: 'form-horizontal', method: :post} do |f| %>


      <div class="row">
        <div class="col-md-6">

          Desde - Hasta
          <div class="input-group">
            <input type="text" name="desdehasta" class="form-control uneditable-input desdehasta" readonly value="">
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>

          <script type="text/javascript">
            jQuery(function($){
              $('.desdehasta').daterangepicker({
                format: 'DD/MM/YYYY hh:mm A',
                startDate: '<%= lms_time.strftime('%d/%m/%Y') %>',
                endDate: '<%= lms_time.strftime('%d/%m/%Y') %>',
                timePicker: true,
                timePicker12Hour: true,
                timePickerIncrement: 1,
                locale: {

                  applyLabel: 'Aplicar',
                  fromLabel: 'Desde',
                  toLabel: 'Hasta',
                  customRangeLabel: 'Custom Range',
                  daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi','Sa'],
                  monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                  firstDay: 1
                },
                opens: "right"

              });
            });


          </script>

        </div>
        <div class="col-md-4">
          <br>
          <input type="submit" class="btn btn-primary" value="Generar reporte">
        </div>
      </div>



    <% end %>

    <br>

    <table class="table table-striped table-hover table-bordered table-compresed" id="tabla_tickets">

      <thead>
        <tr>
          <th>Número</th>
          <th>Fecha de registro</th>
          <th>Código de alumno</th>
          <th>Apellidos y nombre</th>
          <th>Email</th>
          <th>Tipo</th>
          <th>Asunto</th>
          <th>Descripción</th>
          <th>Atendida</th>
          <th>Fecha respuesta</th>
          <th>Respuesta</th>
          <th colspan="2">


          </th>
        </tr>
      </thead>

      <tbody>

    <% @support_tickets.each do |support_ticket| %>
      <tr>
        <td><%= support_ticket.id %></td>
        <td>
          <%= (localize support_ticket.fecha_registro.in_time_zone(user_connected_time_zone), format: :day_month_year_time_guion) %>
        </td>
        <td><%= support_ticket.user.codigo %></td>
        <td><%= support_ticket.user.apellidos %> <%= support_ticket.user.nombre %></td>
        <td><%= support_ticket.user.email %></td>
        <td><%= support_ticket.support_ticket_type.nombre %></td>
        <td><%= support_ticket.asunto %></td>
        <td>
          <% if support_ticket.curso %>

            <strong>Curso:</strong> <%= support_ticket.curso %>
            <br><br>

            <% end %>
          <%= support_ticket.descripcion %>
        </td>
        <td>
          <%= '<i class="fa fa-check"></i>'.html_safe if support_ticket.atendido %>
          <%= '<i class="fa fa-envelope" style="color: green;"></i>'.html_safe if support_ticket.envio_email %>
        </td>
        <td>
          <% if support_ticket.fecha_respuesta %>
            <%= (localize support_ticket.fecha_respuesta.in_time_zone(user_connected_time_zone), format: :day_month_year_time_guion) %>
          <% end %>
        </td>
        <td><%= support_ticket.respuesta %></td>

        <td><%= link_to 'Modificar', edit_support_ticket_path(support_ticket) %></td>
        <td><%= link_to 'Eliminar', support_ticket, method: :delete, data: { confirm: '¿Está seguro de eliminar el ticket # '+support_ticket.id.to_s+'?' } %></td>
      </tr>
    <% end %>

      </tbody>

    </table>


  </div>
</div>