

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-comment-o"></i>
      Tickets de Soporte
      <span>> Crear un nuevo ticket de soporte </span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @support_ticket, html: {class: 'form-horizontal'} do |f| %>

      <div class="panel panel-default">
        <div class="panel-body">

          <legend>Crear nuevo ticket de soporte</legend>

          <%= render 'shared/error_messages', object: f.object %>


          <div class="form-group">

            <label class="col-md-3 control-label">Alumno</label>

            <% usuarios_array = User.all.map { |user| [user.codigo+' - '+user.apellidos+', '+user.nombre, user.id] } %>

            <div class="col-md-9">

              <%= f.select(:user_id, options_for_select(usuarios_array,@support_ticket.user_id), {}, {class: 'form-control'}) %>

            </div>

            <script>

              $("#support_ticket_user_id").select2();

            </script>

          </div>

          <div class="form-group">

            <%= f.label :support_ticket_type, 'Tipo', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <% support_ticket_types_array = SupportTicketType.all.map { |support_ticket_type| [support_ticket_type.nombre, support_ticket_type.id] } %>
              <%= f.select(:support_ticket_type_id, options_for_select(support_ticket_types_array), {}, {class: 'form-control'}) %>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :fecha_registro, 'Fecha de registro', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <div id="fecha_registro" class="input-group date">
                <input class="form-control" name="fecha_registro" data-format="dd/MM/yyyy hh:mm:ss" type="text" value="<%= @support_ticket.fecha_registro ? @support_ticket.fecha_registro.in_time_zone(user_connected_time_zone).strftime('%d/%m/%Y %H:%M:%S') : lms_time.strftime('%d/%m/%Y %H:%M:%S') %>">
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>

              <%= user_connected_time_zone %>

              <script type="text/javascript">


                $('#fecha_registro').datetimepicker({
                  language: 'es',
                  pick12HourFormat: true,
                  useSeconds: true
                });

              </script>


            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :asunto %>">

            <%= f.label :asunto, 'Asunto', class: 'col-md-3 control-label' %>

            <div class="col-md-9">
              <%= f.text_field :asunto, class: 'form-control' %>
            </div>

          </div>

          <div class="form-group <%= field_with_errors f, :descripcion %>">

            <%= f.label :descripcion, 'Descripción', class: 'col-md-3 control-label' %>

            <div class="col-md-9">
              <%= f.text_area :descripcion, class: 'form-control', rows: 5 %>
            </div>

          </div>

          <div class="form-group">

            <%= f.label :curso, 'Curso', class: 'col-md-3 control-label' %>

            <div class="col-md-9">
              <% cursos = Course.select(:nombre).map(&:nombre).uniq %>

              <%= f.text_field :curso, ('data-source'.to_sym)=>cursos.to_s, ('data-provide'.to_sym)=>'typeahead' %> (opcional)
              <br>
              <i>Si es el caso por favor indicar el nombre del curso en cuestión.</i>
            </div>

          </div>

          <div class="form-group">

            <%= f.label :atendido, 'Atendido', class: 'col-md-3 control-label' %>

            <div class="col-md-9">
                <%= f.check_box :atendido, onchange: 'toggle_atendido();'  %>
                <script>
                  $('#support_ticket_atendido').bootstrapSwitch({
                    onColor: 'success',
                    onText: "Sí",
                    offColor: 'danger',
                    offText: "No"
                  });
                </script>

            </div>

          </div>

          <div class="form-group" id="container_atendido">

            <%= f.label :fecha_respuesta, 'Fecha de respuesta', class: 'col-md-3 control-label' %>

            <div class="col-md-9">

              <div id="fecha_respuesta" class="input-group date">
                <input class="form-control" name="fecha_respuesta" data-format="dd/MM/yyyy hh:mm:ss" type="text" value="<%= @support_ticket.fecha_respuesta ? @support_ticket.fecha_respuesta.in_time_zone(user_connected_time_zone).strftime('%d/%m/%Y %H:%M:%S') : lms_time.strftime('%d/%m/%Y %H:%M:%S') %>">
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>

              <%= user_connected_time_zone %>

              <script type="text/javascript">


                $('#fecha_respuesta').datetimepicker({
                  language: 'es',
                  pick12HourFormat: true,
                  useSeconds: true
                });

              </script>


            </div>

          </div>

          <script>

            function toggle_atendido(){

              if($('#support_ticket_atendido').is(":checked")){
                $('#container_atendido').show();
              }else{
                $('#container_atendido').hide();
              }

            }

            $(document).ready(function() {
              toggle_atendido();
            });

          </script>

          <div class="form-group <%= field_with_errors f, :respuesta %>">

            <%= f.label :respuesta, 'Respuesta', class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_area :respuesta, class: 'form-control', rows: 5 %>
            </div>
          </div>

        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>