<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @support_ticket.user %>
</p>

<p>
  <b>Support ticket type:</b>
  <%= @support_ticket.support_ticket_type %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @support_ticket.descripcion %>
</p>

<p>
  <b>Fecha registro:</b>
  <%= @support_ticket.fecha_registro %>
</p>

<p>
  <b>Atendido:</b>
  <%= @support_ticket.atendido %>
</p>

<p>
  <b>Respuesta:</b>
  <%= @support_ticket.respuesta %>
</p>

<p>
  <b>Fecha respuesta:</b>
  <%= @support_ticket.fecha_respuesta %>
</p>


<%= link_to 'Edit', edit_support_ticket_path(@support_ticket) %> |
<%= link_to 'Back', support_tickets_path %>
