<%= form_for @jm_list, html: {class: 'form-horizontal'} do |f| %>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group <%= field_with_errors f, :name %>">
          <%= f.label :name, 'Nombre', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group <%= field_with_errors f, :description %>">
          <%= f.label :description, 'Descripción', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_area :description, :rows => 3, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="options_container panel panel-default">

        <div class="panel-body">
          <legend>Opciones</legend>
          <%= f.fields_for :jm_options do |f_options| %>
              <%= render :partial => 'form_option', :locals => {:f => f_options} %>
          <% end %>
        </div>

        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= link_to_add_jm_options 'Añadir opción', f %>
          </div>
        </div>
      </div>


      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    </div>

    <script>
      function remove_option(link) {
        $(link).prev('input[type=hidden]').val(1)
        $(link).closest('.option').hide();
      }

      function add_option(link, content) {
        var new_id = new Date().getTime();
        var regexp = new RegExp('new_option', 'g')
        $(link).parent().before(content.replace(regexp, new_id))
      }
    </script>
<% end %>
