<div class="row">

  <div class="col-md-3">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver a la lista de sesiones de calibración'.html_safe, pe_calibration_list_sessions_path(@pe_process), class:'btn btn-default' %>
  </div>

  <div class="col-md-6 text-center">

    <h1 class="page-title txt-color-blueDark">
      <%= @pe_process.name %> - <%= @pe_process.period %>
      <br>
      Calibrar
    </h1>

  </div>

</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Datos de la sesión de calibración
        </legend>


        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Descripción</strong>
          </div>
          <div class="col-md-9">
            <%= @pe_cal_session.description %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Fecha inicio</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @pe_cal_session.from_date, format: :day_snmonth_syear) %>

            <% if lms_time > @pe_cal_session.from_date %>
              <span class="label label-danger">Hace
                <%= distance_of_time_in_words(@pe_cal_session.from_date, lms_time) %>
              </span>
            <% else %>
              <span class="label label-primary">En
                <%= distance_of_time_in_words(lms_time, @pe_cal_session.from_date) %>
              </span>
            <% end %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Fecha fin</strong>
          </div>
          <div class="col-md-9">
            <%= (localize @pe_cal_session.to_date, format: :day_snmonth_syear) %>

            <% if lms_time > @pe_cal_session.to_date %>

          <span class="label label-danger">Hace
            <%= distance_of_time_in_words(@pe_cal_session.to_date, lms_time) %>
          </span>

            <% else %>
          <span class="label label-primary">En
            <%= distance_of_time_in_words(lms_time, @pe_cal_session.to_date) %>
          </span>
            <% end %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>Estado</strong>
          </div>
          <div class="col-md-9">
            <% if @pe_cal_session.active %>
              <span class="label label-success">Activa</span>
            <% else %>
              <span class="label label-danger">Finalizada</span>
            <% end %>
          </div>
        </div>
      </div>
      <% if @is_pe_cal_session_manager %>

        <div class="panel-footer clearfix">
          <div class="pull-right">

            <% if @pe_cal_session.active %>
              <%= link_to 'Finalizar sesión', pe_calibration_active_finish_session_path(@pe_cal_session), class: 'btn btn-danger' %>
            <% else %>
              <%= link_to 'Reactivar sesión', pe_calibration_active_finish_session_path(@pe_cal_session), class: 'btn btn-primary' %>

            <% end %>

          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <legend>
          Participantes de la sesión de calibración
        </legend>


        <div style="overflow-x: auto;padding-top: 5px;">
          <br><br>

          <% cols_to_hide = Array.new %>
          <% cols_to_export = Array.new %>

          <table id="datatable_fixed_column" class="table table-bordered table-striped table-hover smart-form" style="font-size: 12px;">

            <thead>

              <tr>
                <th>#</th>
                <th><%= alias_username %></th>
                <th>Apellidos</th>
                <th>Nombre</th>

                <% num_col_to_control = 3 %>

                <% cols_to_export.push 0 %>
                <% cols_to_export.push 1 %>
                <% cols_to_export.push 2 %>
                <% cols_to_export.push 3 %>

                <% pe_rel_boss = @pe_process.pe_rel('jefe') %>

                <% if pe_rel_boss %>

                  <th><%= pe_rel_boss.alias %></th>

                  <% num_col_to_control += 1 %>
                  <% cols_to_export.push num_col_to_control %>

                <% end %>



                <% @pe_process.pe_characteristics_gui_cal_member.each do |pe_characteristic| %>

                  <th>
                    <%= pe_characteristic.characteristic.nombre %>
                  </th>

                  <% num_col_to_control += 1 %>
                  <% cols_to_export.push num_col_to_control %>

                <% end %>
                <th>Evaluación</th>

                <% num_col_to_control += 1 %>
                <% cols_to_export.push num_col_to_control %>

                <% if @pe_process.has_step_validation? %>
                  <th>Validación</th>

                  <% num_col_to_control += 1 %>
                  <% cols_to_export.push num_col_to_control %>

                <% end %>
                <% @pe_process.pe_dimensions.each do |pe_dimension| %>
                  <th><%= pe_dimension.name %></th>

                  <% num_col_to_control += 1 %>
                  <% cols_to_export.push num_col_to_control %>

                  <% break unless @pe_process.two_dimensions %>

                <% end %>

                <th><%= @pe_process.step_assessment_final_result_alias %></th>
                <% num_col_to_control += 1 %>

                <th><%= @pe_process.step_assessment_final_result_alias %></th>
                <% num_col_to_control += 1 %>
                <% cols_to_export.push num_col_to_control %>
                <% cols_to_hide.push num_col_to_control %>


                <th>Valoración original</th>
                <% num_col_to_control += 1 %>

                <th>Valoración original</th>
                <% num_col_to_control += 1 %>
                <% cols_to_export.push num_col_to_control %>
                <% cols_to_hide.push num_col_to_control %>

                <th>Comentario de la calibración</th>
                <% num_col_to_control += 1 %>
                <% cols_to_export.push num_col_to_control %>
                <% cols_to_hide.push num_col_to_control %>



                <% if @is_pe_cal_session_manager %>
                  <th></th>
                <% end %>
              </tr>
              <tr class="second">
                <td>
                  <label class="input">
                    <input type="text" class="hidden">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>

                <% if pe_rel_boss %>
                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>
                <% end %>


                <% @pe_process.pe_characteristics_gui_cal_member.each do |pe_characteristic| %>

                  <th>
                    <label class="input">
                      <input type="text">
                    </label>
                  </th>

                <% end %>

                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>

                <% if @pe_process.has_step_validation? %>
                  <td>
                    <label class="input">
                      <input type="text">
                    </label>
                  </td>
                <% end %>

                <% @pe_process.pe_dimensions.each do |pe_dimension| %>
                  <th>
                    <label class="input">
                      <input type="text">
                    </label>
                  </th>
                  <% break unless @pe_process.two_dimensions %>
                <% end %>


                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <td>
                  <label class="input">
                    <input type="text">
                  </label>
                </td>
                <% if @is_pe_cal_session_manager %>
                  <td>

                  </td>
                <% end %>
              </tr>
            </thead>

            <tbody>

            <% num_evaluated_pe_members = 0 %>
            <% pe_members_list = Array.new %>
            <% pe_boxes_list = Array.new %>

            <% @pe_cal_session.pe_cal_members_ordered.each_with_index do |pe_cal_member, index| %>
              <% num_evaluated_pe_members += 1 %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= pe_cal_member.pe_member.user.codigo %></td>
                <td><%= pe_cal_member.pe_member.user.apellidos %></td>
                <td><%= pe_cal_member.pe_member.user.nombre %></td>

                <% if pe_rel_boss %>

                  <td>
                    <% pe_cal_member.pe_member.pe_member_rels_is_evaluated_as_pe_rel(pe_rel_boss).each_with_index do |pe_member_is_evaluated_rel, num_boss| %>

                      <%= '<br><br>'.html_safe if num_boss > 0 %>

                      <%= pe_member_is_evaluated_rel.pe_member_evaluator.user.apellidos %>, <%= pe_member_is_evaluated_rel.pe_member_evaluator.user.nombre %>

                    <% end %>
                  </td>

                <% end %>

                <% @pe_process.pe_characteristics_gui_cal_member.each do |pe_characteristic| %>
                  <td>
                    <% pe_mc = pe_cal_member.pe_member.pe_member_characteristic_by_id pe_characteristic.characteristic.id %>
                    <%= pe_mc.value if pe_mc %>
                  </td>
                <% end %>

                <td>
                  <% if pe_cal_member.pe_member.step_assessment? %>

                    <span class="label label-success label-smart-table">Finalizada</span>

                  <% else %>

                    <span class="label label-danger label-smart-table">No terminada</span>

                  <% end %>
                </td>
                <% if @pe_process.has_step_validation? %>
                  <td>

                    <% if pe_cal_member.pe_member.validators.size == 0 %>

                      <span class="label label-primary">No aplica</span>

                    <% else %>

                      <% if pe_cal_member.pe_member.step_validation? %>

                        <span class="label label-success label-smart-table">Finalizada</span>

                      <% else %>

                        <span class="label label-danger label-smart-table">No terminada</span>

                      <% end %>

                    <% end %>

                  </td>
                <% end %>
                <% @pe_process.pe_dimensions.each do |pe_dimension| %>

                  <% pe_assessment_dimension = pe_cal_member.pe_member.pe_assessment_dimension(pe_dimension) if pe_cal_member.pe_member.step_assessment? %>

                  <% if pe_assessment_dimension && pe_assessment_dimension.percentage > -1 %>

                    <td style="<%= 'color: #'+pe_assessment_dimension.pe_dimension_group.text_color+';' if  pe_assessment_dimension.pe_dimension_group %>">

                        <%= number_with_precision(pe_assessment_dimension.percentage, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: true) %>%

                        <%= ' - '+pe_assessment_dimension.pe_dimension_group.name if pe_assessment_dimension.pe_dimension_group %>

                    </td>
                  <% else %>
                    <td></td>
                  <% end %>

                  <% break unless @pe_process.two_dimensions %>

                <% end %>
                <td>

                  <% if pe_cal_member.pe_member.step_assessment %>

                    <% if pe_cal_member.pe_member.pe_box %>

                      <span class="label label-default label-smart-table" style="text-align: center; color: <%= '#'+pe_cal_member.pe_member.pe_box.text_color %>; background-color: <%= '#'+pe_cal_member.pe_member.pe_box.bg_color %>;">
                        <% if pe_cal_member.pe_member.pe_box.short_name %>
                          &nbsp;&nbsp;<%= pe_cal_member.pe_member.pe_box.short_name %>&nbsp;&nbsp;
                        <% else %>
                          &nbsp;&nbsp;<%= pe_cal_member.pe_member.pe_box.name %>&nbsp;&nbsp;
                        <% end %>
                      </span>

                      <% pe_members_list.push pe_cal_member.pe_member %>
                      <% pe_boxes_list.push pe_cal_member.pe_member.pe_box %>

                    <% end %>

                  <% end %>

                </td>
                <td>

                  <% if pe_cal_member.pe_member.step_assessment %>

                    <% if pe_cal_member.pe_member.pe_box %>

                      <span class="label label-default label-smart-table" style="text-align: center; color: <%= '#'+pe_cal_member.pe_member.pe_box.text_color %>; background-color: <%= '#'+pe_cal_member.pe_member.pe_box.bg_color %>;">
                        <% if pe_cal_member.pe_member.pe_box.name %>
                          &nbsp;&nbsp;<%= pe_cal_member.pe_member.pe_box.short_name %>&nbsp;&nbsp;
                        <% else %>
                          &nbsp;&nbsp;<%= pe_cal_member.pe_member.pe_box.name %>&nbsp;&nbsp;
                        <% end %>
                      </span>

                    <% end %>

                  <% end %>

                </td>
                <td>

                  <% unless pe_cal_member.pe_member.calibration_comment.blank? && pe_cal_member.pe_member.pe_box_before_calibration.nil? %>

                    <% if pe_cal_member.pe_member.pe_box_before_calibration %>

                      <span class="label label-default label-smart-table" style="text-align: center; color: <%= '#'+pe_cal_member.pe_member.pe_box_before_calibration.text_color %>; background-color: <%= '#'+pe_cal_member.pe_member.pe_box_before_calibration.bg_color %>;">
                        <% if pe_cal_member.pe_member.pe_box_before_calibration.short_name %>
                          &nbsp;&nbsp;<%= pe_cal_member.pe_member.pe_box_before_calibration.short_name %>&nbsp;&nbsp;
                        <% else %>
                          &nbsp;&nbsp;<%= pe_cal_member.pe_member.pe_box_before_calibration.name %>&nbsp;&nbsp;
                        <% end %>
                      </span>

                    <% end %>

                    <% unless pe_cal_member.pe_member.calibration_comment.blank? %>

                      <i id="calibration_comment_<%= pe_cal_member.pe_member.id%>" class="fa fa-exclamation-triangle" data-container="body" data-toggle="popover" data-placement="left" title="Comentario de la calibración" data-content="<%= pe_cal_member.pe_member.calibration_comment %>"></i>

                      <script>
                        $('#calibration_comment_<%= pe_cal_member.pe_member.id%>').popover();
                      </script>

                    <% end %>

                  <% end %>

                </td>

                <td>

                  <% unless pe_cal_member.pe_member.calibration_comment.blank? && pe_cal_member.pe_member.pe_box_before_calibration.nil? %>

                    <% if pe_cal_member.pe_member.pe_box_before_calibration %>

                      <span class="label label-default label-smart-table" style="text-align: center; color: <%= '#'+pe_cal_member.pe_member.pe_box_before_calibration.text_color %>; background-color: <%= '#'+pe_cal_member.pe_member.pe_box_before_calibration.bg_color %>;">
                        <% if pe_cal_member.pe_member.pe_box_before_calibration.short_name %>
                          &nbsp;&nbsp;<%= pe_cal_member.pe_member.pe_box_before_calibration.short_name %>&nbsp;&nbsp;
                        <% else %>
                          &nbsp;&nbsp;<%= pe_cal_member.pe_member.pe_box_before_calibration.name %>&nbsp;&nbsp;
                        <% end %>
                      </span>

                    <% end %>

                  <% end %>

                </td>

                <td>

                  <% if pe_cal_member.pe_member.step_assessment %>

                    <% if pe_cal_member.pe_member.pe_box %>

                      <%= pe_cal_member.pe_member.calibration_comment %>

                    <% end %>

                  <% end %>

                </td>



                <% if @is_pe_cal_session_manager %>
                  <td>
                    <% if pe_cal_member.pe_member.step_assessment? %>

                      <a data-toggle="modal" data-target="#modal_calibrate_<%= pe_cal_member.pe_member.id %>" class="mouse-pointer">
                        Calibrar
                      </a>

                    <% else %>

                      <span class="label label-default label-smart-table">Aún no disponible</span>

                    <% end %>
                  </td>
                <% end %>
              </tr>

            <% end %>

            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <% if @pe_process.two_dimensions? %>

      <%= render partial: 'pe_shared/structure_2d_with_limited_pe_members',
                 locals: {
                   pe_boxes_list: pe_boxes_list,
                   pe_members_list: pe_members_list,
                   show_percentage: true,
                   num_evaluated_pe_members: num_evaluated_pe_members
                 }
      %>

    <% else %>

      <%= render partial: 'pe_shared/structure_1d_with_limited_pe_members',
                 locals: {
                   pe_boxes_list: pe_boxes_list,
                   pe_members_list: pe_members_list,
                   show_percentage: true,
                   num_evaluated_pe_members: num_evaluated_pe_members
                 }
      %>

    <% end %>

  </div>
</div>

<% if @is_pe_cal_session_manager %>

  <% pe_boxes_array = @pe_process.pe_boxes.map {|pe_box| [(pe_box.short_name ? pe_box.short_name : '')+'  '+pe_box.name, pe_box.id] } %>

  <% @pe_cal_session.pe_cal_members.each do |pe_cal_member| %>

    <% if pe_cal_member.pe_member.step_assessment? %>

      <div class="modal fade" id="modal_calibrate_<%= pe_cal_member.pe_member.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel"><strong>Calibrar</strong></h4>
            </div>

            <%= form_for pe_cal_member.pe_member, url: pe_calibration_calibrate_path(pe_cal_member), html: {class: 'form-horizontal', method: :post} do |f| %>

            <div class="modal-body">
              <div class="row">
                <div class="col-md-3 text-right">
                  <strong><%= alias_username %></strong>
                </div>
                <div class="col-md-6">
                  <%= pe_cal_member.pe_member.user.codigo %>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-3 text-right">
                  <strong>Apellidos</strong>
                </div>
                <div class="col-md-6">
                  <%= pe_cal_member.pe_member.user.apellidos %>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-3 text-right">
                  <strong>Nombre</strong>
                </div>
                <div class="col-md-6">
                  <%= pe_cal_member.pe_member.user.nombre %>
                </div>
              </div>
              <hr>
              <div class="row">

                <div class="col-md-3 text-right">
                  <strong>Valoración original</strong>
                </div>

                <div class="col-md-9">

                  <% if pe_cal_member.pe_member.step_calibration %>

                    <% if pe_cal_member.pe_member.pe_box_before_calibration %>

                      <span class="label label-default" style="text-align: center; color: <%= '#'+pe_cal_member.pe_member.pe_box_before_calibration.text_color %>; background-color: <%= '#'+pe_cal_member.pe_member.pe_box_before_calibration.bg_color %>;">
                        &nbsp;&nbsp;<%= pe_cal_member.pe_member.pe_box_before_calibration.short_name %> <%= pe_cal_member.pe_member.pe_box_before_calibration.name %>&nbsp;&nbsp;
                      </span>

                    <% end %>

                  <% else %>

                    <% if pe_cal_member.pe_member.pe_box %>

                      <span class="label label-default" style="text-align: center; color: <%= '#'+pe_cal_member.pe_member.pe_box.text_color %>; background-color: <%= '#'+pe_cal_member.pe_member.pe_box.bg_color %>;">
                        &nbsp;&nbsp;<%= pe_cal_member.pe_member.pe_box.short_name %> <%= pe_cal_member.pe_member.pe_box.name %>&nbsp;&nbsp;
                      </span>
                    <% end %>

                  <% end %>

                </div>

              </div>
              <div class="form-group">

                <label class="col-md-3 control-label">Nueva valoración</label>

                <div class="col-md-9">


                  <% if pe_cal_member.pe_member.pe_box %>

                    <%= f.select(:pe_box_id, options_for_select(pe_boxes_array, pe_cal_member.pe_member.pe_box.id), {}, class: 'form-control')%>

                <% end %>
                </div>

              </div>
              <div class="form-group">

                <label class="col-md-3 control-label">Comentario</label>

                <div class="col-md-9">

                  <%= f.text_area :calibration_comment, class: 'form-control', rows: '5' %>

                </div>

              </div>


            </div>
            <div class="modal-footer">
              <%= f.submit 'Calibrar', class: 'btn btn-primary' %>
            </div>

            <% end %>


          </div>
        </div>
      </div>

    <% end %>

  <% end %>
<% end %>

<% code_to_execute = 'var n_pe_member_box_total = 0;' %>

<% @pe_process.pe_boxes.each do |pe_box| %>

  <% code_to_execute += 'var n_pe_member_box_'+pe_box.id.to_s+' = 0;' %>

<% end %>

<% code_to_execute += '
  $(".pe_members_codigo_all").hide();
  for (var i = 0; i < visible_rows_datatable_fixed_column.length; i++){
    $(".pe_member_codigo_"+visible_rows_datatable_fixed_column[i][1]).show();
    n_pe_member_box_total += 1;
    '
%>

<% @pe_process.pe_boxes.each do |pe_box| %>

  <% code_to_execute += '
          if($(".pe_member_codigo_"+visible_rows_datatable_fixed_column[i][1]).hasClass("pe_member_box_'+pe_box.id.to_s+'")){
            n_pe_member_box_'+pe_box.id.to_s+' += 1;
          }
        '
  %>

<% end %>
<% code_to_execute += '
  }
  '
%>



<% @pe_process.pe_boxes.each do |pe_box| %>

  <% code_to_execute += '
          $(".percentage_pe_box_'+pe_box.id.to_s+'").html((n_pe_member_box_'+pe_box.id.to_s+'*100/n_pe_member_box_total).toFixed(1)+"%");
          '
  %>

<% end %>

<% file_name = @pe_cal_session.description.gsub(/\r/,' ').gsub(/\n/,' ') %>

<%= render partial: '/shared/datatable',
           locals: {
               table_id: 'datatable_fixed_column',
               cols_to_hide: cols_to_hide,
               cols_to_export: cols_to_export,
               file_name: "Sesión de calibración - #{file_name}",
               code_to_execute: code_to_execute
           }
%>

<!-- PAGE RELATED PLUGIN(S) -->
<!--
<script src="/assets/datatables/jquery.dataTables-cust.min.js"></script>
<script src="/assets/datatables/ColReorder.min.js"></script>
<script src="/assets/datatables/FixedColumns.min.js"></script>
<script src="/assets/datatables/ColVis.min.js"></script>
<script src="/assets/datatables/ZeroClipboard.js"></script>
<script src="/assets/datatables/media/js/TableTools.min.js"></script>
<script src="/assets/datatables/DT_bootstrap.js"></script>

<script type="text/javascript">

  $(document).ready(function() {

    var pe_members_list = [];

    $("#datatable_fixed_column thead input").keyup(function() {
      oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));

      $(".pe_members_codigo_all").hide();

      pe_members_list = [];

      var anNodes = $("#datatable_fixed_column tbody tr");

      for (var i = 0; i < anNodes.length; ++i)
      {
        $(".pe_member_codigo_"+oTable.fnGetData( anNodes[i] )[1]).show();
        pe_members_list.push();
      }

    });

    $("#datatable_fixed_column thead input").each(function(i) {
      this.initVal = this.value;
    });
    $("#datatable_fixed_column thead input").focus(function() {
      if (this.className == "search_init") {
        this.className = "";
        this.value = "";
      }
    });
    $("#datatable_fixed_column thead input").blur(function(i) {
      if (this.value == "") {
        this.className = "search_init";
        this.value = this.initVal;
      }
    });


    var oTable = $('#datatable_fixed_column').DataTable({

      //T tools
      //i number of entries
      //p pagination
      //l list filter
      //r no idea
      //t table
      //f filtro general
      "sDom": "lt<'row'<'col-md-6'i><'col-md-6 text-right'p>",
      "sPaginationType" : "bootstrap_full",
      "aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
      "iDisplayLength" : 25,
      "bSortCellsTop" : true,
      "fnDrawCallback": function() {

      }
    });

    function alert_l(){
      //var data1 = oTable.rows().data();
      alert('a');
    }




  })

</script>
-->