
<footer id="footer">

    <div id="push-inner-footer">

    </div>

      <a href="http://exa.pe" target="_blank" class="footer-brand">
        EXA Capital Team &copy; <%= Time.now.strftime('%Y') %>
      </a>

    <div class="pull-right">



    </div>





</footer>
