<% if logged_in? && !$mobile_client %>



    <div class="navbar-<%= $current_domain %>" style="<%= "background:url('/assets/header/header_compass_barra.jpg') repeat-x top left;" if $current_domain == 'compassgroup' || $current_domain == 'compassgroup-training' %>">
      <div class="container-fluid">
        <div class="row">

          <% if params[:controller]=='user_courses' && (params[:action]=='show' || params[:action] == 'create_comment') %>
              <div class="col-md-7">
                <a class="navbar-brand navbar-brand-<%= $current_domain %>" tabindex="-1"><%= @user_course.course.nombre %></a>
              </div>
              <div class="col-md-5">
                <ul class="nav navbar-nav pull-right nav-pills nav-pills-<%= $current_domain %>">
                  <li class="<%= 'active' if flash[:from] != 'comment' && params[:action] != 'create_comment' %>">
                    <a data-toggle="tab" class="mouse_pointer" data-target="#tab_curso">
                      <i class="fa fa-desktop"></i>
                      Curso
                    </a>
                  </li>
                  <li>
                    <a data-toggle="tab" class="mouse_pointer" data-target="#tab_ficha">
                      <i class="fa fa-file-text-o"></i>
                      Ficha
                    </a>
                  </li>
                  <li>
                    <a data-toggle="tab" class="mouse_pointer" data-target="#tab_certificado">
                      <i class="fa fa-list-alt"></i>
                      Certificado
                    </a>
                  </li>
                  <li>
                    <a data-toggle="tab" class="mouse_pointer" data-target="#tab_bitacora">
                      <i class="fa fa-clock-o"></i>
                      Bitácora
                    </a>
                  </li>

                  <li>
                    <a>
                      <i class="fa fa-user"></i>
                      <% if admin_logged_in? %>
                          Admin: <%= admin_connected.username %>
                      <% else %>
                          <%= user_connected.nombre+' '+user_connected.apellidos %>
                      <% end %>

                      <br>
                    </a>
                  </li>
                </ul>
              </div>
          <% elsif (params[:controller]=='master_units' && params[:action]=='preview') || (params[:controller]=='courses' && params[:action]=='preview') %>
              <div class="col-md-7">
                <a class="navbar-brand navbar-brand-<%= $current_domain %>" tabindex="-1">
                  <%= @master_unit.nombre if @master_unit %>
                  <%= @course.nombre if @course %>
                </a>

              </div>
              <div class="col-md-5">

                <ul class="nav navbar-nav navbar-right nav-pills">

                  <li class="active">
                    <a class="mouse_pointer">
                      <i class="fa fa-desktop"></i>
                      Curso
                    </a>
                  </li>
                  <li>
                    <a class="mouse_pointer">
                      <i class="fa fa-file-text-o"></i>
                      Ficha
                    </a>
                  </li>
                  <li>
                    <a class="mouse_pointer">
                      <i class="fa fa-list-alt"></i>
                      Certificado
                    </a>
                  </li>
                  <li>
                    <a class="mouse_pointer">
                      <i class="fa fa-clock-o"></i>
                      Bitácora
                    </a>
                  </li>

                  <li>
                    <a>
                      <i class="fa fa-user"></i>
                      <% if admin_logged_in? %>
                          Admin: <%= admin_connected.username %>
                      <% else %>
                          <%= user_connected.nombre+' '+user_connected.apellidos %>
                      <% end %>

                    </a>
                  </li>
                </ul>
              </div>
          <% elsif params[:controller]=='folders' && (params[:action]=='show_file' || params[:action]=='create_folder_file_comment' || params[:action]=='create_folder_file_value') %>
              <div class="col-md-3">
                <a class="navbar-brand navbar-brand-<%= $current_domain %>" tabindex="-1">
                  <%= @folder_file.nombre %>
                </a>
              </div>
              <div class="col-md-9">


                <ul class="nav navbar-nav navbar-right nav-pills">

                  <li>
                    <a class="mouse_pointer" href="#com_val">
                      <i class="fa fa-comments-o"></i>
                      Comentarios
                    </a>
                  </li>

                  <li>
                    <a class="mouse_pointer" href="#com_val">
                      <i class="fa fa-star-o"></i>
                      Valoración
                    </a>
                  </li>


                  <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-user"></i>
                      <% if admin_logged_in? %>
                          Admin: <%= admin_connected.username %>
                      <% else %>
                          <%= user_connected.nombre+' '+user_connected.apellidos %>
                      <% end %>

                    </a>
                  </li>
                </ul>
              </div>
          <% else %>

              <div class="col-md-8" style="padding-left: 0px;">
                <img src='/storage/<%= @company.codigo %>/design/header.jpg'/>
              </div>

              <div class="col-md-4">
                <div class="pull-right">
                  <% if admin_logged_in? && @company.is_productive? %>
                      <script>
                        function open_smart_session(select) {
                          if ($(select).val() != '') {
                            remote_url = $(select).val() + '<%= load_smart_admin_login_path(@company.id) %>'
                            $(select).val(null);
                            window.open(remote_url, '_blank')
                          }
                        }

                      </script>

                    <% other_companies = Company.where('id <> ?', @company.id).where(:active => true, :is_productive => true).map { |company| [company.nombre + ' ( ' + company.url + ' )' , company.url]} %>
                      <%= select_tag('url_smart_admin', options_for_select(other_companies), :class => 'form-control', :prompt => ' - Seleccione la plataforma que desea abrir - ', :onchange => 'open_smart_session(this);') %>
                      <br>

                  <% end %>

                  <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">

                      <% if admin_logged_in? %>

                          <a href="#" class="dropdown-toggle menu-user-<%= $current_domain %>" data-toggle="dropdown">
                            Admin: <%= admin_connected.username %>
                            <b class="caret"></b>
                          </a>

                          <ul class="dropdown-menu">
                            <li>
                              <%= link_to 'Cerrar Sesión', logout_path, tabindex: '-1' %>
                            </li>
                          </ul>

                      <% else %>

                          <a href="#" class="dropdown-toggle menu-user-<%= $current_domain %>" data-toggle="dropdown">
                            <% if user_connected.foto %>
                                <img src="<%= request.base_url %>/storage/<%= company_codigo %>/fotos_usuarios/<%= user_connected.foto %>" class="img-rounded user-foto-header">
                            <% else %>
                                <img src="/assets/default_user.png" class="img-rounded user-foto-header">
                            <% end %>
                            <%= user_connected.nombre+' '+user_connected.apellidos %>
                            <b class="caret"></b>
                          </a>
                          <ul class="dropdown-menu">
                            <li>
                              <%= link_to 'Ficha de usuario', show_user_profile_path, tabindex: '-1' %>
                            </li>
                            <li>
                              <%= link_to 'Cambiar contraseña', user_change_pass_path, tabindex: '-1' %>
                            </li>
                            <li class="divider"></li>
                            <li>
                              <%= link_to 'Cerrar Sesión', logout_path, tabindex: '-1' %>
                            </li>
                          </ul>
                      <% end %>
                    </li>
                  </ul>

                </div>
              </div>

          <% end %>

        </div>

      </div>
    </div>
    <% if $current_domain == 'misecurity' || $current_domain == 'misecurity-training' %>
      <div style="background:url('/assets/header/header_security_barra.png') repeat-x top left; height: 6px;">

      </div>
    <% end %>

    <% if $current_domain == 'luzdelsur' || $current_domain == 'luzdelsur-training' %>
      <div style="background:url('/assets/header/header_luzdelsur_barra.jpg') repeat-x top left; height: 6px;">

      </div>
    <% end %>

    <% if $current_domain == 'utp-idat' || $current_domain == 'utp-idat-training' %>
      <div style="background:url('/assets/header/header_utp_barra.png') top left; background-repeat: no-repeat; background-size: 100% 100%; height: 6px;">

      </div>
    <% end %>

<% else %>

    <% if !$mobile_client && @company.show_header_in_login%>
        <div class="custom-header-<%= $current_domain %>">
          <img src='/storage/<%= @company.codigo %>/design/header.jpg'/>
        </div>
    <% end %>

<% end %>




<% unless (params[:controller]=='master_units' && params[:action]=='preview') || (params[:controller]=='courses' && params[:action]=='preview') || (params[:controller]=='folders' && (params[:action]=='show_file' || params[:action]=='create_folder_file_comment' || params[:action]=='create_folder_file_value' || params[:action]=='edit_file' || params[:action]=='update_file')) %>
    <%= render 'layouts/menu_admin' if logged_in? && admin_logged_in? %>
<% end %>

<% if params[:controller]=='user_courses' && logged_in? && $mobile_client %>
  <%= render 'layouts/menu_user_mobile' %>
<% else %>
  <% unless (params[:controller]=='user_courses' && (params[:action]=='show' || params[:action]=='create_comment')) || (params[:controller]=='folders' && (params[:action]=='show_file' || params[:action]=='create_folder_file_comment' || params[:action]=='create_folder_file_value' || params[:action]=='edit_file' || params[:action]=='update_file')) %>
    <%= render 'layouts/menu_user' if logged_in? && normal_user_logged_in? && !$mobile_client %>
    <%= render 'layouts/menu_user_mobile' if logged_in? && normal_user_logged_in? && $mobile_client %>
  <% end %>
<% end %>







				