<div class="navbar navbar-inverse navbar-inverse-<%= $current_domain %>" role="navigation" id="slide-nav">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar icon-menu-mobile-<%= $current_domain %>"></span>
        <span class="icon-bar icon-menu-mobile-<%= $current_domain %>"></span>
        <span class="icon-bar icon-menu-mobile-<%= $current_domain %>"></span>
      </a>
      <a style="height: 1px;" class="navbar-brand navbar-brand-<%= $current_domain %>" href="#"><%= @company.nombre %></a>
      <a style="padding-top: 1px; padding-bottom: 1px; width: 100%; padding-right: 1px; height: 20px; font-size: 11px" class="navbar-brand navbar-brand-<%= $current_domain %> text-right" href="#"><i class="fa fa-user"></i> &nbsp; <%= user_connected.comma_full_name %></a>
    </div>
    <div id="slidemenu">
      <ul class="nav navbar-nav navbar-inverse navbar-inverse-<%= $current_domain %>">
        <li><a href="<%= root_path %>"><i class="fa fa-desktop"></i> &nbsp; Inicio</a>
        </li>
        </li>
        <% numero_cursos_por_llevar = user_connected.numero_cursos_por_llevar(lms_time) %>
        <li><a href="<%= user_courses_path %>"><i class="fa fa-book"></i> &nbsp; Cursos <span id="tag_numero_cursos_por_iniciar" class="badge bg-color-greenLight inbox-badge"><%= numero_cursos_por_llevar if numero_cursos_por_llevar > 0 %></a>
        </li>

        <% if exists_ct_module? 'brc' %>

          <% if can_show_menu_brc? %>

            <% BrcProcess.where('active = ?', true).each do |brc_process| %>

              <% brc_member = user_connected.brc_member(brc_process) %>

              <% can_choose = true if brc_member && brc_member.status_def && brc_member.status_val && brc_member.status_bon_cal %>

              <% can_validate = true if brc_process.brc_definers_by_validator(user_connected).size > 0 %>

              <% if can_choose %>

                <li><a href="<%= brc_choose_show_path(brc_process) %>"><i class="fa fa-money"></i> &nbsp; Desviar bono comercial <%= brc_process.year %> - <%= brc_process.period_name %></a></li>

              <% end %>

              <% if can_validate %>

                <li><a href="<%= brc_validate_list_people_path(brc_process) %>"><i class="fa fa-money"></i> &nbsp; Validar bono comercial <%= brc_process.year %> - <%= brc_process.period_name %></a></li>

              <% end %>

            <% end %>

          <% end %>

        <% end %>

        <% if exists_ct_module? 'vacs' %>
          <% rules = BpGeneralRulesVacation.user_active(lms_time, user_connected.id) %>
          <% validator = VacApprover.where(active: true, user_id: user_connected.id).first %>
          <% if rules || validator %>
            <li><a href="<%= vac_records_register_index_path %>"><i class="fa fa-suitcase"></i> &nbsp; Solicitud de
              vacaciones</a>
            </li>
            <% if validator %>
              <li><a href="<%= vac_records_validation_index_path %>"><i class="fa fa-suitcase"></i> &nbsp; Aprobación de
                vacaciones</a></li>
            <% end %>
          <% end %>
        <% end %>

        <% if exists_ct_module? 'licenses' %>
          <% group = BpGroup.user_active_group(lms_time, user_connected.id) %>
          <% validator = LicApprover.where(active: true, user_id: user_connected.id).first %>
          <% if group || (validator && validator.any_approvee?) %>
            <li><a href="<%= lic_register_index_path %>"><i class="fa fa-gift"></i> &nbsp; Solicitud de
              beneficios</a>
            </li>
            <% if validator %>
              <li><a href="<%= lic_approvers_index_path %>"><i class="fa fa-gift"></i> &nbsp; Aprobación de
                beneficios</a></li>
            <% end %>
          <% end %>
        <% end %>

        <% if user_connected.kpi_dashboard_managers.size > 0 || user_connected.kpi_dashboard_guests.size > 0 || user_connected.kpi_set_guests.size > 0 %>
            <li><a href="<%= kpi_managing_dashboards_path %>"><i class="fa fa-line-chart"></i> &nbsp; Dashboards</a>
            </li>
        <% end %>
        <li><a href="<%= user_profile_path %>"><i class="fa fa-user"></i> &nbsp; Ficha Usuario</a>
        </li>
        <li><a href="<%= user_change_pass_path %>"><i class="fa fa-key"></i> &nbsp; Cambiar contraseña</a>
        </li>
        <li><a href="<%= logout_path %>"><i class="fa fa-power-off"></i> &nbsp; Cerrar sesión</a>
        </li>

      </ul>
    </div>
  </div>
</div>


