<% if exists_ct_module? 'brc' %>

  <% if can_show_menu_brc? %>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding-top: 0px; padding-bottom: 0px;" tabindex='-1'>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
          <i class="fa fa-money fa-stack-1x"></i>
        </span>
        <%= ct_menu_user_menu_alias %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu">

        <% BrcProcess.where('active = ?', true).each do |brc_process| %>

          <% can_define = true if brc_process.brc_definer(user_connected) %>

          <% can_validate = true if brc_process.brc_definers_by_validator(user_connected).size > 0 %>

          <% brc_member = user_connected.brc_member(brc_process) %>

          <% can_choose = true if brc_member && brc_member.status_def && brc_member.status_val && brc_member.status_bon_cal %>

          <% if can_define || can_validate || can_choose %>

            <li class="dropdown-submenu">
              <a tabindex="-1" href="#"><%= brc_process.year %> - <%= brc_process.period_name %> </a>
              <ul class="dropdown-menu">

                <% if can_define %>

                  <li>
                    <%= link_to 'Definir', brc_define_list_people_path(brc_process) %>
                  </li>

                <% end %>

                <% if can_validate %>

                  <li>
                    <%= link_to 'Validar', brc_validate_list_people_path(brc_process) %>
                  </li>

                <% end %>

                <% if can_choose %>

                  <li>
                    <%= link_to 'Distribuir', brc_choose_show_path(brc_process) %>
                  </li>

                <% end %>

              </ul>
            </li>

          <% end %>

        <% end %>

      </ul>
    </li>

  <% end %>

<% end %>