<li>
  <a href="<%= show_user_profile_path %>" class="" style="padding-top: 0px; padding-bottom: 0px;" tabindex='-1'>
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x <%= 'fa-inverse' unless params[:controller]=='user_profile' && params[:action]=='show_profile' %>"></i>
      <i class="fa fa-file-text-o fa-stack-1x <%= 'fa-inverse' if params[:controller]=='user_profile' && params[:action]=='show_profile' %>"></i>
    </span>

    <%= ct_menu_user_menu_alias %>
  </a>
</li>