<% if can_show_selection_menu? %>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding-top: 0px; padding-bottom: 0px;" tabindex='-1'>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x <%= 'fa-inverse' unless params[:controller] == 'sel_results' %>"></i>
        <i class="fa fa-hand-o-right fa-stack-1x <%= 'fa-inverse' if params[:controller] == 'sel_results' %>"></i>
      </span>

      <%= ct_menu_user_menu_alias %>
      <% num_req_processes_pend = SelReqProcess.pending_sel_req_processes_to(user_connected.id).count %>
      <% num_processes_pend = pending_process(user_connected.id).count %>

      <% total_pend = num_processes_pend + num_req_processes_pend %>
      <% if total_pend > 0 %>
        <span class="badge bg-color-redLight inbox-badge"><%= total_pend %></span>
      <% end %>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <% if has_assigned_steps_on_seleccion?(user_connected.id) %>

        <li class="dropdown-submenu">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding-top: 0px; padding-bottom: 0px;" tabindex='-1'>
            Ingreso de resultados
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="<%= sel_results_list_assigned_processes_path %>" tabindex='-1'>
                Ir a la lista completa
              </a>
            </li>
            <li class="divider"></li>
            <% assigned_process(user_connected.id).each do |process| %>
              <li>
                <a href="<%= sel_list_pending_results_path(process.id) %>" tabindex='-1'><%= process.name %>
                  <% num_steps_pend = pending_steps_results(process.id, user_connected.id).count %>
                  <% if num_steps_pend > 0 %>
                    <span class="badge bg-color-redLight inbox-badge"><%= num_steps_pend %></span>
                  <% end %>
                </a>
              </li>

            <% end %>
          </ul>
        </li>
        <li class="divider"></li>
      <% end %>

      <% if user_has_access_to_set_requirements?(user_connected.id) || has_sel_req_process_assigned?(user_connected.id) %>
        <li class="dropdown-submenu">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding-top: 0px; padding-bottom: 0px;" tabindex='-1'>
            Solicitudes
          </a>

          <ul class="dropdown-menu">
            <% if user_has_access_to_set_requirements?(user_connected.id) %>
              <li>
                <a href="<%= new_sel_requirement_path %>" tabindex='-1'>
                  Ingreso de solicitudes
                </a>
              </li>
              <li>
                <a href="<%= sel_requirements_mine_path %>" tabindex='-1'>
                  Mis solicitudes
                </a>
              </li>
            <% end %>
            <% if has_sel_req_process_assigned?(user_connected.id) %>
              <li>
                <a href="<%= sel_req_index_for_approver_path %>" tabindex='-1'>
                  Evaluación de solicitudes
                  <% if num_req_processes_pend > 0 %>
                    <span class="badge bg-color-redLight inbox-badge"><%= num_req_processes_pend %></span>
                  <% end %>
                </a>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <% if has_processes_to_track?(user_connected.id) %>
        <li><a href="<%= sel_process_trackers_path %>">Mis procesos (seguimiento)</a></li>
      <% end %>
    </ul>

  </li>

<% end %>