<% if exists_ct_module? 'lms' %>

  <% unless $current_domain == 'otec-training' || $current_domain == 'otec' || $current_domain == 'seduc' || $current_domain == 'seduc-training' || $current_domain == 'utp-idat' || $current_domain == 'utp-idat-training' %>

    <li>
      <a href="<%= user_courses_path %>" class="" style="padding-top: 0px; padding-bottom: 0px;">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x <%= 'fa-inverse' unless params[:controller]=='user_courses' %>"></i>
                  <i class="fa fa-book fa-stack-1x <%= 'fa-inverse' if params[:controller]=='user_courses' %>"></i>
                </span>

        <% numero_cursos_por_llevar = user_connected.numero_cursos_por_llevar(lms_time) %>

        <%= ct_menu_user_menu_alias %>
        <span id="tag_numero_cursos_por_iniciar" class="badge bg-color-greenLight inbox-badge"><%= numero_cursos_por_llevar if numero_cursos_por_llevar > 0 %></span>
      </a>
    </li>

  <% end %>

<% end %>
