<% if exists_ct_module? 'licenses' %>
  <% group = BpGroup.user_active_group(lms_time, user_connected.id) %>
  <% validator = LicApprover.where(active: true, user_id: user_connected.id).first %>

  <% if (group && group.any_bonus?(lms_time)) || (validator && validator.any_approvee?) %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding-top: 0px; padding-bottom: 0px;" tabindex='-1'>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
          <i class="fa fa-gift fa-stack-1x" aria-hidden="true"></i>
        </span>
        <%= ct_menu_user_menu_alias %>
        <% requests_pending = validator ? LicRequest.active.this_status([LicRequest.pending]).approver_visible_1(user_connected.id).size : 0 %>

        <% if requests_pending > 0 %>
          <span class="badge bg-color-redLight inbox-badge"><%= requests_pending %></span>
        <% end %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to 'Solicitudes', lic_register_index_path %></li>
        <% if validator %>
          <li>
            <% if requests_pending > 0 %>
              <%= link_to ('Aprobación <span class="badge bg-color-redLight inbox-badge">' + requests_pending.to_s + '</span>').html_safe, lic_approvers_index_path %>
            <% else %>
              <%= link_to 'Aprobación', lic_approvers_index_path %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
<% end %>