<% unless user_connected.requiere_cambio_pass %>

  <div class="subnav subnav-<%= $current_domain %>">
    <div class="container-fluid">

      <ul class="nav nav-pills">

        <li>
          <a href="<%= root_path %>" class="" style="padding-top: 0px; padding-bottom: 0px;">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x <%= 'fa-inverse' unless params[:controller]=='static_pages'  && params[:action]=='home' %>"></i>
              <i class="fa fa-desktop fa-stack-1x <%= 'fa-inverse' if params[:controller]=='static_pages'  && params[:action]=='home' %>"></i>
            </span>

            Inicio
          </a>
        </li>

        <li>
          <a href="<%= user_courses_path %>" class="" style="padding-top: 0px; padding-bottom: 0px;">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x <%= 'fa-inverse' unless params[:controller]=='user_courses' %>"></i>
              <i class="fa fa-book fa-stack-1x <%= 'fa-inverse' if params[:controller]=='user_courses' %>"></i>
            </span>

            <% numero_cursos_por_llevar = user_connected.numero_cursos_por_llevar(lms_time) %>

            Cursos <span id="tag_numero_cursos_por_iniciar" class="badge bg-color-greenLight inbox-badge"><%= numero_cursos_por_llevar if numero_cursos_por_llevar > 0 %></span>
          </a>
        </li>

        <li>
          <a href="<%= folders_path %>" class="" style="padding-top: 0px; padding-bottom: 0px;">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x <%= 'fa-inverse' unless params[:controller]=='folders' %>"></i>
              <i class="fa fa-folder-o fa-stack-1x <%= 'fa-inverse' if params[:controller]=='folders' %>"></i>
            </span>

            Biblioteca
          </a>
        </li>

        <li>
          <a href="<%= support_tickets_index_user_path %> " class="" style="padding-top: 0px; padding-bottom: 0px;">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x <%= 'fa-inverse' unless params[:controller]=='support_tickets' %>"></i>
              <i class="fa fa-comment-o fa-stack-1x <%= 'fa-inverse' if params[:controller]=='support_tickets' %>"></i>
            </span>

            Mesa de ayuda
          </a>

        </li>

        <% eval_desemp_resp = false %>

        <%

          user_connected.hr_process_users.each do |hr_process_user|

            if hr_process_user.hr_process_evalua_rels.where('tipo = "resp"').size > 0
              eval_desemp_resp = true
              break
            end
          end

        %>

        <% if can_show_evaluate_hr_process_menu? || can_show_autoevaluate_hr_process_menu? || can_show_calibraate_hr_process_menu? %>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding-top: 0px; padding-bottom: 0px;" tabindex='-1'>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x <%= 'fa-inverse' unless params[:controller]=='hr_process_assessments'  %>"></i>
                <i class="fa fa-pencil fa-stack-1x <%= 'fa-inverse' if params[:controller]=='hr_process_assessments'  %>"></i>
              </span>
              Evaluación del desempeño
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">

              <% HrProcess.where('abierto = ?',true).each do |hr_process| %>
                <% if accesso_evaluar_proceso(hr_process) || accesso_autoevaluar_proceso(hr_process) || accesso_calibrar_proceso(hr_process)%>

                  <% hr_process_user_connected = hr_process.hr_process_users.find_by_user_id(user_connected.id) %>

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%= hr_process.nombre+' - '+hr_process.year.to_s %> </a>
                    <ul class="dropdown-menu">

                      <% if accesso_evaluar_proceso(hr_process) || accesso_autoevaluar_proceso(hr_process) %>

                        <% debe_evaluar_como_jefe = accesso_evaluar_proceso_como(hr_process, 'jefe') %>

                        <% hr_process.hr_process_evaluations.find_all_by_vigente(true).each do |hr_process_evaluation| %>

                          <% hr_process_evaluation.hr_process_dimension_e.hr_evaluation_type.hr_evaluation_type_elements.where('nivel = ?', 1).each do |hr_evaluation_type_element| %>

                            <% if hr_evaluation_type_element.carga_manual %>

                              <% definir_elemento_a_evaluar = false %>
                              <% definir_elemento_a_autoevaluar = false %>

                              <% definir_elemento_a_autoevaluar = true if hr_evaluation_type_element.evaluacion_colaborativa && hr_process_evaluation.hr_process_dimension_e.eval_auto%>

                              <% hr_process_user_connected.hr_process_evalua_rels.each do |rel| %>

                                <% if rel.tipo == 'jefe' %>

                                  <% definir_elemento_a_evaluar = true %>

                                  <% break %>

                                <% end %>

                              <% end %>


                              <% if definir_elemento_a_evaluar || definir_elemento_a_autoevaluar %>

                                <li>
                                  <%= link_to 'Definición de '+hr_evaluation_type_element.hr_evaluation_type.nombre.downcase, hr_process_assessment_carga_manual_path(hr_process, hr_process_evaluation, hr_evaluation_type_element) %>
                                </li>


                              <% end %>

                            <% end %>

                            <% if hr_evaluation_type_element.porcentaje_logro %>

                              <li>
                                <%= link_to 'Seguimiento de '+hr_evaluation_type_element.hr_evaluation_type.nombre.downcase, hr_process_assessment_porcentaje_logro_path(hr_process, hr_process_evaluation, hr_evaluation_type_element) %>
                              </li>

                            <% end %>


                          <% end %>

                        <% end %>

                        <% if lms_time >= hr_process.fecha_inicio %>
                          <li>
                            <% if lms_time <= hr_process.fecha_fin %>
                              <%= link_to 'Evaluación', hr_process_assessment_ver_proceso_evaluar_path(hr_process) %>
                              <% if debe_evaluar_como_jefe && hr_process.jefe_consulta_resultados %>
                                <%= link_to 'Resultados de mis colaboradores', hr_process_assessment_ver_proceso_resultados_path(hr_process) %>
                              <% end %>
                              <% if hr_process.tiene_paso_feedback? && debe_evaluar_como_jefe %>
                                <%= link_to 'Retroalimentación', hr_process_assessment_ver_proceso_feedback_path(hr_process) %>
                              <% end %>
                            <% else %>
                              <!-- link_to 'Consultar', hr_process_assessment_ver_proceso_consultar_path(hr_process) -->
                            <% end %>
                          </li>
                        <% end %>
                      <% end %>
                      <% if accesso_calibrar_proceso(hr_process) %>
                        <li class="divider"></li>
                        <li>
                          <%= link_to 'Calibración', hr_process_assessment_ver_sesiones_calibracion_path(hr_process) %>
                        </li>
                      <% end %>





                    </ul>
                  </li>
                <% end %>



              <% end %>

              <% if $current_domain == 'financiero' || $current_domain == 'financiero-training' %>

                  <li class="divider"></li>
                  <li>
                    <a href="#" onclick="ver_tutorial_ed_financiero();">Tutorial</a>
                  </li>

                  <script language="JavaScript">
                      function ver_tutorial_ed_financiero(){

                          wLeft = window.screenLeft ? window.screenLeft : window.screenX;
                          wTop = window.screenTop ? window.screenTop : window.screenY;

                          var left = wLeft + (window.innerWidth / 2) - (900 / 2);
                          var top = wTop + (window.innerHeight / 2) - (500 / 2);
                          window.open('https://<%=request.host%>/storage/financiero/banners/f2/index.html', 'financiero_ed', 'directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,width=900,height=500,top='+top+',left='+left);
                      }
                  </script>

              <% end %>

            </ul>
          </li>
        <% end %>

        <% if user_connected.kpi_dashboard_guests.size > 0 || user_connected.kpi_set_guests.size > 0 %>

          <li>
            <a href="<%= kpi_managing_dashboards_path %>" class="" style="padding-top: 0px; padding-bottom: 0px;" tabindex='-1'>
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x <%= 'fa-inverse' unless params[:controller]=='kpi_managing' %>"></i>
                    <i class="fa fa-line-chart fa-stack-1x <%= 'fa-inverse' if params[:controller]=='kpi_managing' %>"></i>
                  </span>

              KPI Dashboards
            </a>
          </li>

        <% end %>

        <% if user_connected.members.size > 0 %>

            <li>
              <a href="<%= my_people_index_path %>" class="" style="padding-top: 0px; padding-bottom: 0px;" tabindex='-1'>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x <%= 'fa-inverse' unless params[:controller]=='my_people_information' %>"></i>
                  <i class="fa fa-users fa-stack-1x <%= 'fa-inverse' if params[:controller]=='my_people_information' %>"></i>
                </span>

                Mis colaboradores
              </a>
            </li>

        <% end %>

        <li>
          <a href="<%= user_profile_path %>" class="" style="padding-top: 0px; padding-bottom: 0px;" tabindex='-1'>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x <%= 'fa-inverse' unless params[:controller]=='static_pages' && params[:action]=='user_profile' %>"></i>
              <i class="fa fa-file-text-o fa-stack-1x <%= 'fa-inverse' if params[:controller]=='static_pages' && params[:action]=='user_profile' %>"></i>
            </span>

            Ficha de usuario
          </a>
        </li>

        <% if user_connected.jefe_biblioteca || user_connected.hr_process_managers.size > 0 || eval_desemp_resp || can_show_planning_process_menu? || user_connected.kpi_dashboard_managers.size > 0 %>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding-top: 0px; padding-bottom: 0px;" tabindex='-1'>

              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x <%= 'fa-inverse' unless params[:controller]=='static_pages' && params[:action]=='user_profile' %>"></i>
                <i class="fa fa-cogs fa-stack-1x <%= 'fa-inverse' if params[:controller]=='static_pages' && params[:action]=='user_profile' %>"></i>
              </span>

              Gestionar
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">


              <li class="dropdown-submenu">
                <a tabindex="-1" href="#"><i class="fa fa-users"></i> Empleados</a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to '<i class="fa fa-search"></i> Gestionar empleados'.html_safe, em_search_path, tabindex: '-1' %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to '<i class="fa fa-user"></i> Registrar un nuevo empleado'.html_safe, em_create_employee_path, tabindex: '-1' %>
                  </li>
                  <li>
                    <%= link_to '<i class="fa fa-users"></i> Carga masiva de empleados'.html_safe, em_employees_carga_masiva_path, tabindex: '-1' %>
                  </li>

                  <li class="divider"></li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><i class="fa fa-table"></i> Reportes</a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to '<i class="fa fa-eye"></i> Lista de empleados'.html_safe, users_lista_usuarios_path, tabindex: '-1' %>
                      </li>
                      <li>
                        <%= link_to '<i class="fa fa-file-excel-o"></i> Lista de empleados Excel'.html_safe, users_lista_usuarios_xlsx_path, tabindex: '-1' %>
                      </li>
                    </ul>
                  </li>

                </ul>
              </li>

              <% if user_connected.jefe_biblioteca %>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#"><i class="fa fa-folder-o"></i> Biblioteca</a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to 'Biblioteca', folders_path, tabindex: '-1' %>
                    </li>
                    <li>
                      <%= link_to 'Reporte', folder_files_reporte_uso_path, tabindex: '-1' %>
                    </li>

                  </ul>
                </li>
              <% end %>

              <% if user_connected.hr_process_managers.size > 0 || eval_desemp_resp %>

                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#"><i class="fa fa-pencil"></i> Evaluación del desempeño</a>

                  <ul class="dropdown-menu" role="menu">

                    <% if user_connected.hr_process_managers.count > 0 %>
                      <li>
                        <%= link_to 'Gestionar',pe_managing_processes_list_path, tabindex: '-1' %>
                      </li>
                    <% end %>
                    <% if user_connected.hr_process_managers.count > 0 || eval_desemp_resp %>
                      <li>
                        <%= link_to 'Reportes',hr_process_assessment_listar_procesos_reportes_path, tabindex: '-1' %>
                      </li>
                    <% end %>

                  </ul>
                </li>
              <% end %>


              <% if can_show_planning_process_menu? %>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><i class="fa fa-stack-overflow"></i> Capacitación</a>

                    <ul class="dropdown-menu">

                      <% if user_connected.jefe_capacitacion? %>
                        <li>
                          <%= link_to 'Gestionar procesos de planificación'.html_safe, planning_processes_path, tabindex: '-1' %>
                        </li>

                        <li>
                          <%= link_to 'Gestionar proveedores', training_providers_path, tabindex: '-1' %>
                        </li>

                        <li class="divider"></li>

                      <% end %>

                      <% if can_show_planning_process_training_analyst_menu? || can_show_planning_process_area_manager_menu? || can_show_planning_process_area_superintendent_menu? || can_show_planning_process_unit_manager_menu? %>

                        <li class="dropdown-submenu">
                          <a tabindex="-1" href="#">Planificar</a>
                          <ul class="dropdown-menu">

                            <% user_connected.training_analysts.each do |ta| %>
                              <% if ta.planning_process_company_unit.planning_process.abierto? %>
                                <li>
                                  <%= link_to ta.planning_process_company_unit.company_unit.nombre, show_planning_process_unit_path(ta.planning_process_company_unit.planning_process,ta.planning_process_company_unit), tabindex: '-1' %>
                                </li>
                              <% end %>
                            <% end %>
                            <% user_connected.company_unit_area_managers.each do |am| %>
                              <% if am.planning_process_company_unit.planning_process.abierto? %>
                                <li>
                                  <%= link_to am.planning_process_company_unit.company_unit.nombre+' - '+am.company_unit_area.nombre, planning_process_show_dnc_path(am.planning_process_company_unit.planning_process,am.planning_process_company_unit, am.company_unit_area), tabindex: '-1' %>
                                </li>
                              <% end %>
                            <% end %>
                            <% user_connected.area_superintendents.each do |as| %>
                              <% if as.planning_process_company_unit.planning_process.abierto? %>
                                <li>
                                  <%= link_to as.planning_process_company_unit.company_unit.nombre+' - '+as.company_unit_area.nombre, planning_process_show_dnc_path(as.planning_process_company_unit.planning_process,as.planning_process_company_unit, as.company_unit_area), tabindex: '-1' %>
                                </li>
                              <% end %>
                            <% end %>
                            <% user_connected.company_unit_managers.each do |um| %>
                              <% if um.planning_process_company_unit.planning_process.abierto? %>
                                <li>
                                  <%= link_to um.planning_process_company_unit.company_unit.nombre, unit_manager_path(um.planning_process_company_unit.planning_process,um.planning_process_company_unit), tabindex: '-1' %>
                                </li>
                              <% end %>
                            <% end %>

                          </ul>
                        </li>
                      <% end %>

                      <% if can_show_planning_process_training_analyst_menu? %>

                        <li class="dropdown-submenu">
                          <a tabindex="-1" href="#">Programar</a>
                          <ul class="dropdown-menu">
                            <% user_connected.training_analysts.each do |ta| %>
                              <% if ta.planning_process_company_unit.planning_process.abierto? %>
                                <li>
                                  <%= link_to ta.planning_process_company_unit.company_unit.nombre, programming_process_unit_path(ta.planning_process_company_unit.planning_process,ta.planning_process_company_unit), tabindex: '-1' %>
                                </li>
                              <% end %>
                            <% end %>
                          </ul>
                        </li>
                      <% end %>

                      <% if user_connected.program_course_managers.count > 0 %>

                        <li class="dropdown-submenu">
                          <a tabindex="-1" href="#">Gestionar cursos</a>
                          <ul class="dropdown-menu">

                            <% user_connected.program_course_managers.each do |pcm| %>

                              <li>
                                <%= link_to (pcm.program_course.program.nombre+' - '+pcm.program_course.course.nombre).html_safe, course_manager_groups_list_path(pcm), tabindex: '-1' %>
                              </li>

                            <% end %>

                          </ul>
                        </li>

                      <% end %>



                      <% if user_connected.program_inspectors.count > 0 || user_connected.jefe_capacitacion? %>
                        <li class="divider"></li>
                        <li>
                          <%= link_to 'Reportes',training_reports_path, tabindex: '-1' %>
                        </li>

                        <li>
                          <%= link_to 'Indicadores', training_indicators_path, tabindex: '-1' %>
                        </li>

                      <% end %>


                      <% if can_show_planning_process_training_analyst_menu? || user_connected.jefe_capacitacion? %>
                        <li class="divider"></li>
                        <li>
                          <%= link_to 'Reportes (DNC)',training_reports_dnc_1_path, tabindex: '-1' %>
                        </li>

                        <li>
                          <%= link_to 'Indicadores (DNC)', planning_programming_indicators_listar_procesos_path, tabindex: '-1' %>
                        </li>
                        <li class="divider"></li>
                        <li>
                          <%= link_to 'Consultar alumnos', user_information_search_path, tabindex: '-1' %>
                        </li>

                      <% end %>

                    </ul>
                  </li>
              <% end %>

              <% if user_connected.kpi_dashboard_managers.size > 0 %>

                <li>
                  <%= link_to '<i class="fa fa-line-chart"></i> KPI Dashboards'.html_safe, kpi_managing_dashboards_path, tabindex: '-1' %>
                </li>

              <% end %>

            </ul>
          </li>

        <% end %>
      </ul>

    </div>
  </div>

<% end %>