<!DOCTYPE html>
<html>
<head>
  <title>EXA - Capital Team</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag 'application', :media => 'all' %>


  <% if $browser_ie8 %>

      <%= stylesheet_link_tag '/assets/ie8/dropdown-submenu', :media => 'all' %>

      <%= javascript_include_tag '/assets/ie8/jquery-1.11.0.min.js' %>
      <%= javascript_include_tag '/assets/ie8/bootstrap.min.js' %>
      <%= javascript_include_tag '/assets/ie8/jquery.countdown.min.js' %>

  <% else %>

      <%= stylesheet_link_tag '/assets/custom0-bootstrap.min', :media => 'all' %>
      <%= stylesheet_link_tag '/assets/custom1-bootstrap', :media => 'all' %>
      <%= stylesheet_link_tag '/assets/smartadmin-production', :media => 'all' %>
      <%= stylesheet_link_tag '/assets/custom-a-'+$current_domain, :media => 'all' %>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

      <%= javascript_include_tag 'application' %>

      <% unless $browser_chrome18 %>
          <%= javascript_include_tag '/assets/select2.js' %>
      <% end %>

  <% end %>

  <%= render 'layouts/shim' %>

  <script src='https://www.google.com/jsapi'></script>

  <%= csrf_meta_tags %>

</head>

<body>

<div id="wrap">

  <%= render 'layouts/jm_header' %>

  <div id="main2" class="container-fluid">

    <% flash.each do |key, value| %>

        <% if key.to_s != 'from' && key.to_s != 'session' && key.to_s != 'rec_pass' %>
            <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
    <% end %>

    <%= yield %>


  </div>

  <div id="push-footer"></div>

  <% if Rails.env.production? && [26, 27].include?(@company.id) # Visanet training y producción %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119053139-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-119053139-1');
    </script>
  <% end %>

</div>


<%= render 'layouts/footer' %>

<% debug(params) if Rails.env.development? %>

<% if Rails.env.production? %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119454627-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-119454627-1');
  </script>
<% end %>

</body>
</html>

