<h1>Listing dnc_process_periods</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Dnc process</th>
    <th>From date</th>
    <th>To date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dnc_process_periods.each do |dnc_process_period| %>
  <tr>
    <td><%= dnc_process_period.name %></td>
    <td><%= dnc_process_period.dnc_process %></td>
    <td><%= dnc_process_period.from_date %></td>
    <td><%= dnc_process_period.to_date %></td>
    <td><%= link_to 'Show', dnc_process_period %></td>
    <td><%= link_to 'Edit', edit_dnc_process_period_path(dnc_process_period) %></td>
    <td><%= link_to 'Destroy', dnc_process_period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dnc process period', new_dnc_process_period_path %>
