<%= form_for process, html: {class: 'form-horizontal sc_process_new_form'} do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend> <%= t('views.sc_processes.legends.process_info') %> </legend>

        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group <%= field_with_errors f, :month %>">
          <%= f.label :month, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.select :month, options_for_select([['Enero',1],['Febrero',2],['Marzo',3],
                                                     ['Abril',4],['Mayo',5],['Junio',6],
                                                     ['Julio',7],['Agosto',8],['Setiembre',9],
                                                     ['Octubre',10],['Noviembre',11],['Diciembre',12]], process.month),{},
                         class: 'form-control' %>

          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :year %>">
          <%= f.label :year, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.select :year,[Time.current.year+1, Time.current.year, Time.current.year-1, Time.current.year-2],{}, class: 'form-control'%>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :deadline %>">
          <%= f.label :deadline, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <div class="input-group date">
              <%= f.text_field :deadline, class: 'form-control date-picker', :data => {:format => 'dd/MM/yyyy'}, :value => f.object.deadline ? f.object.deadline.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y'), :readonly => true %>
              <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
            </div>
            <em>Fecha hasta la cual se debería ingresar las asistencias. Es solamente referencial, para impedir cualquier modificación en el proceso y sus asistencias, se debe cerrar el proceso</em>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :records_since %>">
          <%= f.label :records_since, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <div class="input-group date">
              <%= f.text_field :records_since, class: 'form-control date-picker', :data => {:format => 'dd/MM/yyyy'}, :value => f.object.records_since ? f.object.records_since.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y'), :readonly => true %>
              <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
            </div>
            <em>Toda asistencia registrada para este proceso deberá tener inicio mayor a esta fecha</em>
          </div>
        </div>

        <div class="form-group <%= field_with_errors f, :records_until %>">
          <%= f.label :records_until, class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <div class="input-group date">
              <%= f.text_field :records_until, class: 'form-control date-picker', :data => {:format => 'dd/MM/yyyy'}, :value => f.object.records_until ? f.object.records_until.strftime('%d/%m/%Y') : lms_time.strftime('%d/%m/%Y'), :readonly => true %>
              <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
            </div>
            <em>Toda asistencia registrada para este proceso deberá tener fin menor a esta fecha</em>
          </div>
        </div>

      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
            <%= f.submit t('views.sc_schedules.forms.save'), class: 'btn btn-primary' %>
          </div>
        </div>

      </div>
  <% end %>

  <script>
      $('.date-picker').datetimepicker({
          language: 'es',
          pickTime: false
      });
  </script>