<div class="panel panel-default records_list_pane">
  <div class="panel-body" style="height:<%= height if defined?(height) %>">
    <legend> <%= t('views.sc_processes.legends.records_list') %> </legend>

    <table id='datable_records_register' class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
      <thead>
      <tr>
        <th>#</th>
        <th><%= alias_username %></th>
        <th><%= t('views.sc_processes.user.lastname') %></th>
        <th><%= t('views.sc_processes.user.name') %></th>
        <th><%= t('views.sc_processes.datetime.date_begin') %></th>
        <th><%= t('views.sc_processes.datetime.time_begin') %></th>
        <th><%= t('views.sc_processes.datetime.date_end') %></th>
        <th><%= t('views.sc_processes.datetime.time_end') %></th>
        <th><%= t('activerecord.attributes.sc_record.he') %></th>
        <th><%= t('activerecord.attributes.sc_record.status') %></th>

        <% if defined?(editable) && editable && !process.closed%>
        <th></th>
        <% end %>
      </tr>

      <tr class="second">
        <td>
          <label class="input">
            <input type="text" name="search_num" value="" class="search_init">
          </label>
        </td>
        <td>
          <label class="input">
            <input type="text" name="search_codigo" value="" class="search_init">
          </label>
        </td>
        <td>
          <label class="input">
            <input type="text" name="search_apellidos" value="" class="search_init">
          </label>
        </td>
        <td>
          <label class="input">
            <input type="text" name="search_nombre" value="" class="search_init">
          </label>
        </td>
        <td>
          <label class="input">
            <input type="text" name="search_date_begin" value="" class="search_init">
          </label>
        </td>
        <td>
          <label class="input">
            <input type="text" name="search_time_begin" value="" class="search_init">
          </label>
        </td>
        <td>
          <label class="input">
            <input type="text" name="search_date_end" value="" class="search_init">
          </label>
        </td>
        <td>
          <label class="input">
            <input type="text" name="search_time_end" value="" class="search_init">
          </label>
        </td>
        <td></td>
        <td></td>
        <% if defined?(editable) && editable && !process.closed %>
            <td></td>
        <% end %>
      </tr>

      </thead>

      <tbody>
      <% process.sc_records.each_with_index do |sc_record, index| %>
          <tr>
            <td> <%=index+1%></td>
            <td> <%= sc_record.user.codigo %> </td>
            <td> <%= sc_record.user.apellidos %> </td>
            <td> <%= sc_record.user.nombre %> </td>
            <td> <%=(localize sc_record.begin, :format => :day_snmonth_year)%> </td>
            <td> <%=sc_record.begin_formatted %> </td>
            <td> <%=(localize sc_record.end, :format => :day_snmonth_year)%> </td>
            <td> <%=sc_record.end_formatted %> </td>
            <td align="right"> <%= number_with_precision( sc_record.he, precision: 2, separator: user_connected_locale_separator, delimiter: user_connected_locale_delimiter, strip_insignificant_zeros: false) %> </td>
            <td> <%= label_message_datable(sc_record.status_label_color,sc_record.status_label_message) %> </td>
            <% if defined?(editable) && editable && !process.closed%>
                <td><%= link_to t('views.sc_processes.flow_process.delete'), '#', :onclick => 'delete_sc_record(this)', :data => {:sc_record_id => sc_record.id}, :class => "btn btn-danger btn-xs" %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <% unless process.closed %>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <%= link_to 'Enviar a validación asistencias pendientes', '#', :onclick => 'send_records_to_validation(this)', :data => {:sc_process_id => process.id}, :class => 'btn btn-primary' %>
        </div>
      </div>
  <% end %>
</div>

<%= render partial: '/shared/datatable',
           locals: { table_id: 'datable_records_register' } %>