<div class="panel panel-default record_pane">
  <div class="panel-body" style="height:<%= height if defined?(height) %>">
    <legend> Lista por defecto de usuarios disponibles para registro </legend>

    <table id="datatable_users_register_attendance"  class="table table-striped table-bordered smart-form" style="font-size: 11px;" width="100%">
      <thead>
      <tr>
        <th><%= alias_username %></th>
        <th><%= t('views.sc_processes.user.lastname') %></th>
        <th><%= t('views.sc_processes.user.name') %></th>
        <th><%= link_to t('views.sc_processes.flow_process.search_people_register_attendance'), search_people_register_record_path(@sc_process) %></th>
      </tr>

      <tr class="second">
        <td>
          <label class="input">
            <input type="text" name="search_codigo" value="" class="search_init">
          </label>
        </td>
        <td>
          <label class="input">
            <input type="text" name="search_apellidos" value="" class="search_init">
          </label>
        </td>
        <td>
          <label class="input">
            <input type="text" name="search_nombre" value="" class="search_init">
          </label>
        </td>
        <td></td>
      </tr>
      </thead>

      <tbody>
      <% users.each do |user| %>
          <tr>
            <td><%= user.codigo %></td>
            <td><%= user.apellidos %></td>
            <td><%= user.nombre %></td>
            <td><%= link_to t('views.sc_processes.flow_process.register'), '#', :onclick => 'show_new_records_modal(this)', :data => {:user_id => user.id, :process_id => process.id } %></td>
          </tr>
      <% end %>
      </tbody>

    </table>
  </div>
</div>

<div class="row new_records_modal_container">

</div>

<%= render partial: '/shared/datatable',
           locals: { table_id: 'datatable_users_register_attendance' } %>

<script>
  function show_new_records_modal(link) {
      user_id = $(link).data('user-id')
      process_id = $(link).data('process-id')
      url = '/sc_processes/'+process_id+'/register_attendance_of/'+user_id

      $.ajax({
          url: url,
          type: "get",
          dataType: "html",
          success: function (result) {
              $('.new_records_modal_container').html(result)
              $('#new_records_modal').modal('show')
          }
      })

  }
</script>