<div class="panel panel-default">
  <div class="panel-body">

    <legend> <%= t('views.sc_processes.legends.process_info') %> </legend>

    <div class="row">
      <div class="col-md-4" align="right">
        <strong> <%= t('activerecord.attributes.sc_process.period') %> </strong>
      </div>
      <div class="col-md-8">
        <%= t('date.month_names')[process.month].to_s+' '+process.year.to_s %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4" align="right">
        <strong><%= t('activerecord.attributes.sc_process.deadline') %></strong>
      </div>
      <div class="col-md-8">
        <%= (localize process.deadline, :format => :day_snmonth_year)%>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4" align="right">
        <strong><%= t('activerecord.attributes.sc_process.records_since') %></strong>
      </div>
      <div class="col-md-8">
        <%= (localize process.records_since, :format => :day_snmonth_year)%>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4" align="right">
        <strong><%= t('activerecord.attributes.sc_process.records_until') %></strong>
      </div>
      <div class="col-md-8">
        <%= (localize process.records_until, :format => :day_snmonth_year)%>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4" align="right">
        <strong><%= t('activerecord.attributes.sc_process.closed') %></strong>
      </div>
      <div class="col-md-8">
        <%= label_yes_not(process.closed) %>
      </div>
    </div>

    <br>


    <% if defined?(editable) and editable and !process.closed %>

      <% if defined?(manager) && manager %>
        <div class="row">
          <div class="col-md-8 col-md-offset-4">
            <%= link_to ('<li>Descargar reporte de aprobación</li>').html_safe, sc_process_validation_report_path(process, format: 'xlsx') %>
          </div>
        </div>

        <br>
      <% end %>


        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <%= link_to t('views.sc_processes.flow_process.edit'), edit_schedule_process_path(process.id) %>
          </div>
        </div>
    <% else %>
        <% if process.closed %>
            <div class="row">
              <div class="col-md-4" align="right">
                <strong><%= t('activerecord.attributes.sc_process.closed_by_user_id') %></strong>
              </div>
              <div class="col-md-8">
                <%= process.closed_by_user.codigo+' '+process.closed_by_user.apellidos+', '+process.closed_by_user.nombre%>
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-4" align="right">
                <strong><%= t('activerecord.attributes.sc_process.closed_at') %></strong>
              </div>
              <div class="col-md-8">
                <%= (localize process.closed_at, :format => :day_snmonth_year)%>
              </div>
            </div>

            <br>

        <% if defined?(manager) && manager %>
          <div class="row">
            <div class="col-md-8 col-md-offset-4">
              <%= link_to ('<li>Descargar reporte de aprobación</li>').html_safe, sc_process_validation_report_path(process, format: 'xlsx') %>
            </div>
          </div>

          <br>
        <% end %>

            </div>
        <% end %>
    <% end %>
    </div>