<div class="row">
  <div class="col-md-3">
    <%= link_to ('<i class="fa fa-arrow-left"></i> '+ t('views.sc_processes.navigation.back_list_process_management')).html_safe, close_process_path(@sc_process.id, 0), class: 'btn btn-default' %>
  </div>
  <div class="col-md-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-mobile" aria-hidden="true"></i>
      <%= t('views.sc_processes.legends.processes') %>
      <span>> <%= t('views.sc_processes.flow_process.edit_process') %> </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'form_edit',
               :locals => { :process => @sc_process } %>
  </div>
</div>