<% recorder = HeCtModulePrivilage.where(:user_id => user_connected.id, :active => true, :recorder => true).first
   validator = HeCtModulePrivilage.where(:user_id => user_connected.id, :active => true, :validator => true).first
   second_title = ''
   second_title = 'Registro' if recorder && !validator
   second_title = 'Validación' if !recorder && validator
   second_title = 'Registro/Validación' if recorder && validator %>

<%= render partial: 'shared/module_header_navigation',
           locals: { icon: '<i class="fa fa-calendar" aria-hidden="true"> </i>',
                     go_back_col: 0,
                     legends: ['Horas extras', second_title]} %>

<div class="panel panel-default">
  <div class="panel-body">

    <legend> <%= t('views.sc_processes.legends.process_info') %></legend>

    <table id="datatable_sc_schedules" class="table table-striped table-bordered smart-form sc_process_table" style="font-size: 11px;" width="100%">
      <thead>
      <tr>
        <th>#</th>
        <th><%= t('activerecord.attributes.sc_process.year') %></th>
        <th><%= t('activerecord.attributes.sc_process.month') %></th>
        <th><%= t('activerecord.attributes.sc_process.deadline') %></th>
        <th><%= t('activerecord.attributes.sc_process.records_since') %></th>
        <th><%= t('activerecord.attributes.sc_process.records_until') %></th>
        <th><%= t('activerecord.attributes.sc_process.closed') %></th>
        <th><%= t('activerecord.attributes.sc_process.closed_at') %></th>
        <th><%= t('activerecord.attributes.sc_process.closed_by_user_id') %></th>
        <%= ('<th></th>').html_safe if @recorder %>
        <%= ('<th></th>').html_safe if @validator %>
      </tr>

      <tr class="second">
        <td></td>
        <td><label class="input"><input type="text" name="search_month" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_year" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_deadline" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_records_since" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_records_until" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_closed" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_closed_at" value="" class="search_init"></label></td>
        <td><label class="input"><input type="text" name="search_closed_by_user" value="" class="search_init"></label>
        </td>
        <%= ('<td></td>').html_safe if @recorder %>
        <%= ('<td></td>').html_safe if @validator %>
      </tr>
      </thead>

      <% @sc_processes.each_with_index do |sc_process, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= sc_process.year %></td>
          <td><%= t('date.month_names')[sc_process.month] %></td>
          <td><%= (localize sc_process.deadline, :format => :day_snmonth_year) %> </td>
          <td><%= (localize sc_process.records_since, :format => :day_snmonth_year)%></td>
          <td><%= (localize sc_process.records_until, :format => :day_snmonth_year)%></td>
          <td><%= label_yes_not_datable(sc_process.closed) %></td>
          <td><%= (localize sc_process.closed_at, :format => :day_snmonth_year) if sc_process.closed %></td>
          <td><%= sc_process.closed_by_user_information %></td>
          <% if @recorder %>
            <td><%= link_to t('views.sc_processes.flow_process.register'), register_attendance_path(sc_process, 0) unless sc_process.closed %></td>
          <% end %>

          <% if @validator%>
            <td><%= link_to t('views.sc_processes.flow_process.validate'), validate_attendance_path(sc_process) unless sc_process.closed %></td>
          <% end %>
        </tr>
      <% end %>
    </table>

  </div>
</div>

<%= render partial: '/shared/datatable',
           locals: {table_id: 'datatable_sc_schedules'} %>