
<ul class="breadcrumb">
  <li>
    <%= link_to 'Lista de modos de capacitación', training_modes_path, tabindex: '-1' %>

  </li>
  <li class="active">Editar modo de capacitación</li>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3 form-box-<%= $current_domain %>">

    <legend class="text-center">Editar modo de capacitación</legend>

    <%= render 'form' %>

  </div>
</div>
